{
  "servicePath": "",
  "documentationLink": "https://developers.google.com/manufacturers/",
  "ownerName": "Google",
  "title": "Manufacturer Center API",
  "revision": "20260918",
  "name": "manufacturers",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "basePath": "",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "baseUrl": "https://manufacturers.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "id": "manufacturers:v1",
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Manufacturer Center",
  "version_module": true,
  "rootUrl": "https://manufacturers.googleapis.com/",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "schemas": {
    "ProductDetail": {
      "id": "ProductDetail",
      "properties": {
        "attributeValue": {
          "type": "string",
          "description": "The value of the attribute."
        },
        "attributeName": {
          "type": "string",
          "description": "The name of the attribute."
        },
        "sectionName": {
          "description": "A short section name that can be reused between multiple product details.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A product detail of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail."
    },
    "GoogleShoppingManufacturersV1ProductCertification": {
      "id": "GoogleShoppingManufacturersV1ProductCertification",
      "type": "object",
      "description": "Description of a certification.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Optional. A unique code to identify the certification."
        },
        "authority": {
          "type": "string",
          "description": "Required. Name of the certification body."
        },
        "validUntil": {
          "type": "string",
          "description": "Optional. The expiration date (UTC)."
        },
        "name": {
          "description": "Required. Name of the certification.",
          "type": "string"
        },
        "value": {
          "description": "Optional. A custom value of the certification.",
          "type": "string"
        },
        "link": {
          "description": "Optional. A URL link to the certification.",
          "type": "string"
        },
        "logo": {
          "type": "string",
          "description": "Optional. A URL link to the certification logo."
        }
      }
    },
    "Certification": {
      "properties": {
        "value": {
          "description": "Optional. A custom value of the certification.",
          "type": "string"
        },
        "validUntil": {
          "description": "Optional. The expiration date (UTC).",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "Optional. A unique code to identify the certification."
        },
        "logo": {
          "description": "Optional. A URL link to the certification logo.",
          "type": "string"
        },
        "link": {
          "description": "Optional. A URL link to the certification.",
          "type": "string"
        },
        "authority": {
          "description": "Required. Name of the certification body.",
          "type": "string"
        },
        "name": {
          "description": "Required. Name of the certification.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Certification",
      "description": "Description of a certification."
    },
    "FeatureDescription": {
      "description": "A feature description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
      "id": "FeatureDescription",
      "properties": {
        "text": {
          "type": "string",
          "description": "A detailed description of the feature."
        },
        "image": {
          "description": "An optional image describing the feature.",
          "$ref": "Image"
        },
        "headline": {
          "description": "A short description of the feature.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FloatUnit": {
      "id": "FloatUnit",
      "properties": {
        "amount": {
          "description": "amount.",
          "type": "number",
          "format": "double"
        },
        "unit": {
          "type": "string",
          "description": "unit."
        }
      },
      "type": "object",
      "description": "Combination of float amount and unit."
    },
    "Issue": {
      "properties": {
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "enumDescriptions": [
            "Unspecified severity, never used.",
            "Error severity. The issue prevents the usage of the whole item.",
            "Warning severity. The issue is either one that prevents the usage of the attribute that triggered it or one that will soon prevent the usage of the whole item.",
            "Info severity. The issue is one that doesn't require immediate attention. It is, for example, used to communicate which attributes are still pending review."
          ],
          "description": "The severity of the issue."
        },
        "type": {
          "description": "The server-generated type of the issue, for example, “INCORRECT_TEXT_FORMATTING”, “IMAGE_NOT_SERVEABLE”, etc.",
          "type": "string"
        },
        "attribute": {
          "description": "If present, the attribute that triggered the issue. For more information about attributes, see https://support.google.com/manufacturers/answer/6124116.",
          "type": "string"
        },
        "applicableCountries": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where issue applies to the manufacturer product.",
          "items": {
            "type": "string"
          }
        },
        "resolution": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified resolution, never used.",
            "The user who provided the data must act in order to resolve the issue (for example by correcting some data).",
            "The issue will be resolved automatically (for example image crawl or Google review). No action is required now. Resolution might lead to another issue (for example if crawl fails)."
          ],
          "enum": [
            "RESOLUTION_UNSPECIFIED",
            "USER_ACTION",
            "PENDING_PROCESSING"
          ],
          "description": "What needs to happen to resolve the issue."
        },
        "timestamp": {
          "type": "string",
          "description": "The timestamp when this issue appeared.",
          "format": "google-datetime"
        },
        "title": {
          "type": "string",
          "description": "Short title describing the nature of the issue."
        },
        "destination": {
          "type": "string",
          "description": "The destination this issue applies to."
        },
        "description": {
          "type": "string",
          "description": "Longer description of the issue focused on how to resolve it."
        }
      },
      "id": "Issue",
      "type": "object",
      "description": "Product issue."
    },
    "ProductCertification": {
      "description": "Product certification data.",
      "id": "ProductCertification",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Required. This is to clearly identify the product you are certifying."
        },
        "issues": {
          "readOnly": true,
          "description": "Output only. A server-generated list of issues associated with the product.",
          "items": {
            "$ref": "Issue"
          },
          "type": "array"
        },
        "countryCode": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A 2-letter country code (ISO 3166-1 Alpha 2)."
        },
        "mpn": {
          "type": "array",
          "description": "Optional. These are the Manufacturer Part Numbers (MPN). MPNs are used to uniquely identify a specific product among all products from the same manufacturer",
          "items": {
            "type": "string"
          }
        },
        "destinationStatuses": {
          "items": {
            "$ref": "DestinationStatus"
          },
          "description": "Output only. The statuses of the destinations.",
          "type": "array",
          "readOnly": true
        },
        "brand": {
          "description": "Required. This is the product's brand name. The brand is used to help identify your product.",
          "type": "string"
        },
        "certification": {
          "type": "array",
          "description": "Required. A list of certifications to link to the described product.",
          "items": {
            "$ref": "Certification"
          }
        },
        "productType": {
          "items": {
            "type": "string"
          },
          "description": "Optional. These are your own product categorization system in your product data.",
          "type": "array"
        },
        "productCode": {
          "description": "Optional. Another name for GTIN.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Count": {
      "description": "The number of products in a single package. For more information, see https://support.google.com/manufacturers/answer/6124116#count.",
      "properties": {
        "unit": {
          "type": "string",
          "description": "The unit in which these products are counted."
        },
        "value": {
          "type": "string",
          "format": "int64",
          "description": "The numeric value of the number of products in a package."
        }
      },
      "id": "Count",
      "type": "object"
    },
    "Capacity": {
      "description": "The capacity of a product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity.",
      "type": "object",
      "id": "Capacity",
      "properties": {
        "value": {
          "description": "The numeric value of the capacity.",
          "format": "int64",
          "type": "string"
        },
        "unit": {
          "description": "The unit of the capacity, i.e., MB, GB, or TB.",
          "type": "string"
        }
      }
    },
    "ListProductCertificationsResponse": {
      "id": "ListProductCertificationsResponse",
      "type": "object",
      "description": "Response for ListProductCertifications method.",
      "properties": {
        "productCertifications": {
          "items": {
            "$ref": "ProductCertification"
          },
          "type": "array",
          "description": "The product certifications from the specified certification body."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ListProductsResponse": {
      "properties": {
        "products": {
          "items": {
            "$ref": "Product"
          },
          "description": "List of the products.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of product statuses."
        }
      },
      "type": "object",
      "id": "ListProductsResponse"
    },
    "Price": {
      "description": "A price.",
      "id": "Price",
      "properties": {
        "currency": {
          "type": "string",
          "description": "The currency in which the price is denoted."
        },
        "amount": {
          "type": "string",
          "description": "The numeric value of the price."
        }
      },
      "type": "object"
    },
    "Image": {
      "properties": {
        "type": {
          "description": "The type of the image, i.e., crawled or uploaded. @OutputOnly",
          "enumDescriptions": [
            "Type is unspecified. Should not be used.",
            "The image was crawled from a provided URL.",
            "The image was uploaded."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CRAWLED",
            "UPLOADED"
          ],
          "type": "string"
        },
        "imageUrl": {
          "type": "string",
          "description": "The URL of the image. For crawled images, this is the provided URL. For uploaded images, this is a serving URL from Google if the image has been processed successfully."
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING_PROCESSING",
            "PENDING_CRAWL",
            "OK",
            "ROBOTED",
            "XROBOTED",
            "CRAWL_ERROR",
            "PROCESSING_ERROR",
            "DECODING_ERROR",
            "TOO_BIG",
            "CRAWL_SKIPPED",
            "HOSTLOADED",
            "HTTP_404"
          ],
          "type": "string",
          "enumDescriptions": [
            "The image status is unspecified. Should not be used.",
            "The image was uploaded and is being processed.",
            "The image crawl is still pending.",
            "The image was processed and it meets the requirements.",
            "The image URL is protected by robots.txt file and cannot be crawled.",
            "The image URL is protected by X-Robots-Tag and cannot be crawled.",
            "There was an error while crawling the image.",
            "The image cannot be processed.",
            "The image cannot be decoded.",
            "The image is too big.",
            "The image was manually overridden and will not be crawled.",
            "The image crawl was postponed to avoid overloading the host.",
            "The image URL returned a \"404 Not Found\" error."
          ],
          "description": "The status of the image. @OutputOnly"
        }
      },
      "type": "object",
      "description": "An image.",
      "id": "Image"
    },
    "Grocery": {
      "id": "Grocery",
      "properties": {
        "indications": {
          "type": "string",
          "description": "Indications."
        },
        "allergens": {
          "type": "string",
          "description": "Allergens."
        },
        "directions": {
          "description": "Directions.",
          "type": "string"
        },
        "activeIngredients": {
          "description": "Active ingredients.",
          "type": "string"
        },
        "ingredients": {
          "description": "Ingredients.",
          "type": "string"
        },
        "derivedNutritionClaim": {
          "type": "array",
          "description": "Derived nutrition claim.",
          "items": {
            "type": "string"
          }
        },
        "nutritionClaim": {
          "description": "Nutrition claim.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "alcoholByVolume": {
          "description": "Alcohol by volume.",
          "type": "number",
          "format": "double"
        },
        "storageInstructions": {
          "description": "Storage instructions.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DestinationStatus": {
      "description": "The destination status.",
      "properties": {
        "status": {
          "enumDescriptions": [
            "Unspecified status, never used.",
            "The product is used for this destination.",
            "The decision is still pending.",
            "The product is disapproved. Please look at the issues."
          ],
          "description": "The status of the destination.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "ACTIVE",
            "PENDING",
            "DISAPPROVED"
          ]
        },
        "pendingCountries": {
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is pending approval.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "destination": {
          "type": "string",
          "description": "The name of the destination."
        },
        "approvedCountries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is approved."
        },
        "disapprovedCountries": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is disapproved."
        }
      },
      "id": "DestinationStatus",
      "type": "object"
    },
    "VoluntaryNutritionFact": {
      "description": "Voluntary Nutrition Facts.",
      "type": "object",
      "properties": {
        "dailyPercentage": {
          "description": "Daily percentage.",
          "type": "number",
          "format": "double"
        },
        "value": {
          "$ref": "FloatUnit",
          "description": "Value."
        },
        "name": {
          "type": "string",
          "description": "Name."
        }
      },
      "id": "VoluntaryNutritionFact"
    },
    "Product": {
      "type": "object",
      "properties": {
        "productId": {
          "type": "string",
          "description": "The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id."
        },
        "name": {
          "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
          "type": "string"
        },
        "parent": {
          "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
          "type": "string"
        },
        "targetCountry": {
          "type": "string",
          "description": "The target country of the product as a CLDR territory code (for example, US)."
        },
        "destinationStatuses": {
          "description": "The status of the destinations.",
          "items": {
            "$ref": "DestinationStatus"
          },
          "type": "array"
        },
        "attributes": {
          "description": "Attributes of the product uploaded to the Manufacturer Center. Manually edited attributes are taken into account.",
          "$ref": "Attributes"
        },
        "feedLabel": {
          "description": "Optional. The feed label for the product.",
          "type": "string"
        },
        "contentLanguage": {
          "type": "string",
          "description": "The content language of the product as a two-letter ISO 639-1 language code (for example, en)."
        },
        "issues": {
          "items": {
            "$ref": "Issue"
          },
          "description": "A server-generated list of issues associated with the product.",
          "type": "array"
        }
      },
      "description": "Product data.",
      "id": "Product"
    },
    "Attributes": {
      "properties": {
        "capacity": {
          "$ref": "Capacity",
          "description": "The capacity of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity."
        },
        "brand": {
          "description": "The brand name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#brand.",
          "type": "string"
        },
        "certification": {
          "description": "Optional. List of certifications claimed by this product.",
          "type": "array",
          "items": {
            "$ref": "GoogleShoppingManufacturersV1ProductCertification"
          }
        },
        "intendedCountry": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of countries to show this product in. Countries provided in this attribute will override any of the countries configured at feed level. The values should be: the [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the countries in which this item will be shown."
        },
        "virtualModelLink": {
          "description": "Virtual Model (3d) asset link.",
          "type": "string"
        },
        "grocery": {
          "$ref": "Grocery",
          "description": "Grocery Attributes. See more at https://support.google.com/manufacturers/answer/12098458#grocery."
        },
        "gender": {
          "description": "The target gender of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gender.",
          "type": "string"
        },
        "material": {
          "description": "The material of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#material.",
          "type": "string"
        },
        "pattern": {
          "type": "string",
          "description": "The pattern of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#pattern."
        },
        "productPageUrl": {
          "type": "string",
          "description": "The URL of the detail page of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productpage."
        },
        "disclosureDate": {
          "type": "string",
          "description": "The disclosure date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#disclosure."
        },
        "featureDescription": {
          "type": "array",
          "description": "The rich format description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
          "items": {
            "$ref": "FeatureDescription"
          }
        },
        "description": {
          "type": "string",
          "description": "The description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#description."
        },
        "imageLink": {
          "$ref": "Image",
          "description": "The image of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#image."
        },
        "additionalImageLink": {
          "description": "The additional images of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#addlimage.",
          "type": "array",
          "items": {
            "$ref": "Image"
          }
        },
        "videoLink": {
          "description": "The videos of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#video.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "size": {
          "type": "string",
          "description": "The size of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#size."
        },
        "sizeSystem": {
          "description": "The size system of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizesystem.",
          "type": "string"
        },
        "excludedDestination": {
          "description": "A list of excluded destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "productDetail": {
          "items": {
            "$ref": "ProductDetail"
          },
          "type": "array",
          "description": "The details of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail."
        },
        "mpn": {
          "description": "The Manufacturer Part Number (MPN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#mpn.",
          "type": "string"
        },
        "releaseDate": {
          "type": "string",
          "description": "The release date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#release."
        },
        "productHighlight": {
          "description": "The product highlights. For more information, see https://support.google.com/manufacturers/answer/10066942",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "scent": {
          "description": "The scent of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#scent.",
          "type": "string"
        },
        "includedDestination": {
          "description": "A list of included destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "productType": {
          "description": "The type or category of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#producttype.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "gtin": {
          "type": "array",
          "description": "The Global Trade Item Number (GTIN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gtin.",
          "items": {
            "type": "string"
          }
        },
        "targetClientId": {
          "type": "string",
          "description": "The target client id. Should only be used in the accounts of the data partners. For more information, see https://support.google.com/manufacturers/answer/10857344"
        },
        "theme": {
          "type": "string",
          "description": "The theme of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#theme."
        },
        "flavor": {
          "description": "The flavor of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#flavor.",
          "type": "string"
        },
        "count": {
          "description": "The count of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#count.",
          "$ref": "Count"
        },
        "title": {
          "type": "string",
          "description": "The title of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#title."
        },
        "suggestedRetailPrice": {
          "description": "The suggested retail price (MSRP) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#price.",
          "$ref": "Price"
        },
        "productLine": {
          "description": "The name of the group of products related to the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productline.",
          "type": "string"
        },
        "productName": {
          "description": "The canonical name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productname.",
          "type": "string"
        },
        "nutrition": {
          "$ref": "Nutrition",
          "description": "Nutrition Attributes. See more at https://support.google.com/manufacturers/answer/12098458#food-servings."
        },
        "richProductContent": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Rich product content. For more information, see https://support.google.com/manufacturers/answer/9389865"
        },
        "format": {
          "type": "string",
          "description": "The format of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#format."
        },
        "sizeType": {
          "description": "The size type of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizetype.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "itemGroupId": {
          "description": "The item group id of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#itemgroupid.",
          "type": "string"
        },
        "ageGroup": {
          "description": "The target age group of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#agegroup.",
          "type": "string"
        },
        "color": {
          "description": "The color of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#color.",
          "type": "string"
        }
      },
      "description": "Attributes of the product. For more information, see https://support.google.com/manufacturers/answer/6124116.",
      "type": "object",
      "id": "Attributes"
    },
    "Nutrition": {
      "properties": {
        "folateMcgDfe": {
          "description": "Folate mcg DFE.",
          "type": "number",
          "format": "double"
        },
        "servingsPerContainer": {
          "description": "Servings per container.",
          "type": "string"
        },
        "saturatedFatDailyPercentage": {
          "description": "Saturated fat daily percentage.",
          "format": "double",
          "type": "number"
        },
        "servingSizeDescription": {
          "description": "Food Serving Size. Serving size description.",
          "type": "string"
        },
        "polyols": {
          "description": "Polyols.",
          "$ref": "FloatUnit"
        },
        "iron": {
          "description": "Iron.",
          "$ref": "FloatUnit"
        },
        "starch": {
          "$ref": "FloatUnit",
          "description": "Starch."
        },
        "addedSugarsDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Added sugars daily percentage."
        },
        "nutritionFactMeasure": {
          "type": "string",
          "description": "Nutrition fact measure."
        },
        "transFatDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Trans fat daily percentage."
        },
        "ironDailyPercentage": {
          "format": "double",
          "description": "Iron daily percentage.",
          "type": "number"
        },
        "sodiumDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Sodium daily percentage."
        },
        "dietaryFiber": {
          "description": "Dietary fiber.",
          "$ref": "FloatUnit"
        },
        "vitaminDDailyPercentage": {
          "format": "double",
          "description": "Vitamin D daily percentage.",
          "type": "number"
        },
        "polyunsaturatedFat": {
          "$ref": "FloatUnit",
          "description": "Polyunsaturated fat."
        },
        "vitaminD": {
          "$ref": "FloatUnit",
          "description": "Vitamin D."
        },
        "protein": {
          "description": "Protein.",
          "$ref": "FloatUnit"
        },
        "servingSizeMeasure": {
          "description": "Serving size measure.",
          "$ref": "FloatUnit"
        },
        "totalSugarsDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Total sugars daily percentage."
        },
        "transFat": {
          "description": "Trans fat.",
          "$ref": "FloatUnit"
        },
        "totalSugars": {
          "description": "Total sugars.",
          "$ref": "FloatUnit"
        },
        "energyFromFat": {
          "description": "Energy from fat.",
          "$ref": "FloatUnit"
        },
        "totalFat": {
          "$ref": "FloatUnit",
          "description": "Total fat."
        },
        "sodium": {
          "$ref": "FloatUnit",
          "description": "Sodium."
        },
        "totalCarbohydrate": {
          "description": "Total carbohydrate.",
          "$ref": "FloatUnit"
        },
        "saturatedFat": {
          "$ref": "FloatUnit",
          "description": "Saturated fat."
        },
        "voluntaryNutritionFact": {
          "items": {
            "$ref": "VoluntaryNutritionFact"
          },
          "description": "Voluntary nutrition fact.",
          "type": "array"
        },
        "energy": {
          "description": "Mandatory Nutrition Facts. Energy.",
          "$ref": "FloatUnit"
        },
        "dietaryFiberDailyPercentage": {
          "description": "Dietary fiber daily percentage.",
          "type": "number",
          "format": "double"
        },
        "potassium": {
          "$ref": "FloatUnit",
          "description": "Potassium."
        },
        "potassiumDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Potassium daily percentage."
        },
        "addedSugars": {
          "$ref": "FloatUnit",
          "description": "Added sugars."
        },
        "folateFolicAcid": {
          "description": "Folate folic acid.",
          "$ref": "FloatUnit"
        },
        "calciumDailyPercentage": {
          "description": "Calcium daily percentage.",
          "type": "number",
          "format": "double"
        },
        "preparedSizeDescription": {
          "type": "string",
          "description": "Prepared size description."
        },
        "totalCarbohydrateDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Total carbohydrate daily percentage."
        },
        "cholesterol": {
          "description": "Cholesterol.",
          "$ref": "FloatUnit"
        },
        "calcium": {
          "description": "Calcium.",
          "$ref": "FloatUnit"
        },
        "monounsaturatedFat": {
          "$ref": "FloatUnit",
          "description": "Monounsaturated fat."
        },
        "proteinDailyPercentage": {
          "format": "double",
          "description": "Protein daily percentage.",
          "type": "number"
        },
        "cholesterolDailyPercentage": {
          "format": "double",
          "description": "Cholesterol daily percentage.",
          "type": "number"
        },
        "folateDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Folate daily percentage."
        },
        "totalFatDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Total fat daily percentage."
        }
      },
      "type": "object",
      "id": "Nutrition"
    }
  },
  "description": "Public API for managing Manufacturer Center related data.",
  "mtlsRootUrl": "https://manufacturers.mtls.googleapis.com/",
  "resources": {
    "accounts": {
      "resources": {
        "products": {
          "methods": {
            "list": {
              "id": "manufacturers.accounts.products.list",
              "response": {
                "$ref": "ListProductsResponse"
              },
              "flatPath": "v1/accounts/{accountsId}/products",
              "parameters": {
                "parent": {
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "description": "Maximum number of product statuses to return in the response, used for paging.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "include": {
                  "type": "string",
                  "repeated": true,
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ],
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ],
                  "location": "query",
                  "description": "The information to be included in the response. Only sections listed here will be returned."
                },
                "pageToken": {
                  "description": "The token returned by the previous request.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Lists all the products in a Manufacturer Center account.",
              "path": "v1/{+parent}/products",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET"
            },
            "update": {
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "PUT",
              "request": {
                "$ref": "Attributes"
              },
              "parameterOrder": [
                "parent",
                "name"
              ],
              "description": "Inserts or updates the attributes of the product in a Manufacturer Center account. Creates a product with the provided attributes. If the product already exists, then all attributes are replaced with the new ones. The checks at upload time are minimal. All required attributes need to be present for a product to be valid. Issues may show up later after the API has accepted a new upload for a product and it is possible to overwrite an existing valid product with an invalid product. To detect this, you should retrieve the product and check it for issues once the new version is available. Uploaded attributes first need to be processed before they can be retrieved. Until then, new products will be unavailable, and retrieval of previously uploaded products will return the original state of the product.",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "type": "string",
                  "required": true,
                  "pattern": "^[^/]+$"
                }
              },
              "id": "manufacturers.accounts.products.update",
              "path": "v1/{+parent}/products/{+name}"
            },
            "delete": {
              "parameterOrder": [
                "parent",
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "description": "Deletes the product from a Manufacturer Center account.",
              "id": "manufacturers.accounts.products.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id."
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "type": "string"
                }
              },
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "path": "v1/{+parent}/products/{+name}",
              "response": {
                "$ref": "Empty"
              }
            },
            "get": {
              "response": {
                "$ref": "Product"
              },
              "id": "manufacturers.accounts.products.get",
              "path": "v1/{+parent}/products/{+name}",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "httpMethod": "GET",
              "description": "Gets the product from a Manufacturer Center account, including product issues. A recently updated product takes around 15 minutes to process. Changes are only visible after it has been processed. While some issues may be available once the product has been processed, other issues may take days to appear.",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account."
                },
                "include": {
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ],
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ],
                  "repeated": true,
                  "type": "string",
                  "description": "The information to be included in the response. Only sections listed here will be returned.",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "type": "string",
                  "required": true,
                  "pattern": "^[^/]+$"
                }
              }
            }
          }
        },
        "languages": {
          "resources": {
            "productCertifications": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a product certification by its name. This method can only be called by certification bodies.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the product certification to get. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "location": "path",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "id": "manufacturers.accounts.languages.productCertifications.get"
                },
                "delete": {
                  "description": "Deletes a product certification by its name. This method can only be called by certification bodies.",
                  "httpMethod": "DELETE",
                  "id": "manufacturers.accounts.languages.productCertifications.delete",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the product certification to delete. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ]
                },
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "description": "Optional. The list of fields to update according to aip.dev/134. However, only full update is supported as of right now. Therefore, it can be either ignored or set to \"*\". Setting any other values will returns UNIMPLEMENTED error.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "type": "string",
                      "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "description": "Updates (or creates if allow_missing = true) a product certification which links certifications with products. This method can only be called by certification bodies.",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "request": {
                    "$ref": "ProductCertification"
                  },
                  "id": "manufacturers.accounts.languages.productCertifications.patch"
                },
                "list": {
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications",
                  "description": "Lists product certifications from a specified certification body. This method can only be called by certification bodies.",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListProductCertificationsResponse"
                  },
                  "id": "manufacturers.accounts.languages.productCertifications.list",
                  "path": "v1/{+parent}/productCertifications",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListProductCertifications` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductCertifications` must match the call that provided the page token. Required if requesting the second or higher page.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^accounts/[^/]+/languages/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent, which owns this collection of product certifications. Format: accounts/{account}/languages/{language_code}"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of product certifications to return. The service may return fewer than this value. If unspecified, at most 50 product certifications will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET"
                }
              }
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/manufacturercenter": {
          "description": "Manage your product listings for Google Manufacturer Center"
        }
      }
    }
  }
}