{
  "description": "Public API for managing Manufacturer Center related data.",
  "rootUrl": "https://manufacturers.googleapis.com/",
  "batchPath": "batch",
  "title": "Manufacturer Center API",
  "basePath": "",
  "version_module": true,
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "revision": "20260902",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/manufacturers/",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/manufacturercenter": {
          "description": "Manage your product listings for Google Manufacturer Center"
        }
      }
    }
  },
  "resources": {
    "accounts": {
      "resources": {
        "products": {
          "methods": {
            "list": {
              "flatPath": "v1/accounts/{accountsId}/products",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "httpMethod": "GET",
              "path": "v1/{+parent}/products",
              "parameters": {
                "pageSize": {
                  "description": "Maximum number of product statuses to return in the response, used for paging.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "include": {
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ],
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ],
                  "location": "query",
                  "type": "string",
                  "repeated": true,
                  "description": "The information to be included in the response. Only sections listed here will be returned."
                },
                "pageToken": {
                  "description": "The token returned by the previous request.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "ListProductsResponse"
              },
              "description": "Lists all the products in a Manufacturer Center account.",
              "id": "manufacturers.accounts.products.list"
            },
            "get": {
              "path": "v1/{+parent}/products/{+name}",
              "response": {
                "$ref": "Product"
              },
              "httpMethod": "GET",
              "description": "Gets the product from a Manufacturer Center account, including product issues. A recently updated product takes around 15 minutes to process. Changes are only visible after it has been processed. While some issues may be available once the product has been processed, other issues may take days to appear.",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "required": true
                },
                "include": {
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ],
                  "repeated": true,
                  "type": "string",
                  "description": "The information to be included in the response. Only sections listed here will be returned.",
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ],
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "manufacturers.accounts.products.get",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}"
            },
            "update": {
              "id": "manufacturers.accounts.products.update",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "location": "path"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "pattern": "^[^/]+$",
                  "required": true
                }
              },
              "path": "v1/{+parent}/products/{+name}",
              "httpMethod": "PUT",
              "description": "Inserts or updates the attributes of the product in a Manufacturer Center account. Creates a product with the provided attributes. If the product already exists, then all attributes are replaced with the new ones. The checks at upload time are minimal. All required attributes need to be present for a product to be valid. Issues may show up later after the API has accepted a new upload for a product and it is possible to overwrite an existing valid product with an invalid product. To detect this, you should retrieve the product and check it for issues once the new version is available. Uploaded attributes first need to be processed before they can be retrieved. Until then, new products will be unavailable, and retrieval of previously uploaded products will return the original state of the product.",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "request": {
                "$ref": "Attributes"
              },
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "parameterOrder": [
                "parent",
                "name"
              ]
            },
            "delete": {
              "path": "v1/{+parent}/products/{+name}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^[^/]+$",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "type": "string",
                  "location": "path"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes the product from a Manufacturer Center account.",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "id": "manufacturers.accounts.products.delete",
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}"
            }
          }
        },
        "languages": {
          "resources": {
            "productCertifications": {
              "methods": {
                "delete": {
                  "description": "Deletes a product certification by its name. This method can only be called by certification bodies.",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "manufacturers.accounts.languages.productCertifications.delete",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "description": "Required. The name of the product certification to delete. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListProductCertificationsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/productCertifications",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of product certifications to return. The service may return fewer than this value. If unspecified, at most 50 product certifications will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "parent": {
                      "description": "Required. The parent, which owns this collection of product certifications. Format: accounts/{account}/languages/{language_code}",
                      "location": "path",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/languages/[^/]+$",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListProductCertifications` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductCertifications` must match the call that provided the page token. Required if requesting the second or higher page."
                    }
                  },
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "id": "manufacturers.accounts.languages.productCertifications.list",
                  "description": "Lists product certifications from a specified certification body. This method can only be called by certification bodies."
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "description": "Updates (or creates if allow_missing = true) a product certification which links certifications with products. This method can only be called by certification bodies.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637.",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Optional. The list of fields to update according to aip.dev/134. However, only full update is supported as of right now. Therefore, it can be either ignored or set to \"*\". Setting any other values will returns UNIMPLEMENTED error.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "id": "manufacturers.accounts.languages.productCertifications.patch",
                  "request": {
                    "$ref": "ProductCertification"
                  },
                  "httpMethod": "PATCH"
                },
                "get": {
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "id": "manufacturers.accounts.languages.productCertifications.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the product certification to get. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Gets a product certification by its name. This method can only be called by certification bodies."
                }
              }
            }
          }
        }
      }
    }
  },
  "canonicalName": "Manufacturer Center",
  "schemas": {
    "DestinationStatus": {
      "properties": {
        "disapprovedCountries": {
          "type": "array",
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is disapproved.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "approvedCountries": {
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is approved.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "status": {
          "enumDescriptions": [
            "Unspecified status, never used.",
            "The product is used for this destination.",
            "The decision is still pending.",
            "The product is disapproved. Please look at the issues."
          ],
          "enum": [
            "UNKNOWN",
            "ACTIVE",
            "PENDING",
            "DISAPPROVED"
          ],
          "type": "string",
          "description": "The status of the destination."
        },
        "destination": {
          "type": "string",
          "description": "The name of the destination."
        },
        "pendingCountries": {
          "items": {
            "type": "string"
          },
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is pending approval.",
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object",
      "description": "The destination status.",
      "id": "DestinationStatus"
    },
    "Image": {
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "CRAWLED",
            "UPLOADED"
          ],
          "description": "The type of the image, i.e., crawled or uploaded. @OutputOnly",
          "enumDescriptions": [
            "Type is unspecified. Should not be used.",
            "The image was crawled from a provided URL.",
            "The image was uploaded."
          ],
          "type": "string"
        },
        "imageUrl": {
          "type": "string",
          "description": "The URL of the image. For crawled images, this is the provided URL. For uploaded images, this is a serving URL from Google if the image has been processed successfully."
        },
        "status": {
          "description": "The status of the image. @OutputOnly",
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING_PROCESSING",
            "PENDING_CRAWL",
            "OK",
            "ROBOTED",
            "XROBOTED",
            "CRAWL_ERROR",
            "PROCESSING_ERROR",
            "DECODING_ERROR",
            "TOO_BIG",
            "CRAWL_SKIPPED",
            "HOSTLOADED",
            "HTTP_404"
          ],
          "enumDescriptions": [
            "The image status is unspecified. Should not be used.",
            "The image was uploaded and is being processed.",
            "The image crawl is still pending.",
            "The image was processed and it meets the requirements.",
            "The image URL is protected by robots.txt file and cannot be crawled.",
            "The image URL is protected by X-Robots-Tag and cannot be crawled.",
            "There was an error while crawling the image.",
            "The image cannot be processed.",
            "The image cannot be decoded.",
            "The image is too big.",
            "The image was manually overridden and will not be crawled.",
            "The image crawl was postponed to avoid overloading the host.",
            "The image URL returned a \"404 Not Found\" error."
          ],
          "type": "string"
        }
      },
      "id": "Image",
      "description": "An image.",
      "type": "object"
    },
    "Product": {
      "properties": {
        "name": {
          "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
          "type": "string"
        },
        "targetCountry": {
          "description": "The target country of the product as a CLDR territory code (for example, US).",
          "type": "string"
        },
        "contentLanguage": {
          "type": "string",
          "description": "The content language of the product as a two-letter ISO 639-1 language code (for example, en)."
        },
        "parent": {
          "type": "string",
          "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account."
        },
        "issues": {
          "type": "array",
          "items": {
            "$ref": "Issue"
          },
          "description": "A server-generated list of issues associated with the product."
        },
        "attributes": {
          "$ref": "Attributes",
          "description": "Attributes of the product uploaded to the Manufacturer Center. Manually edited attributes are taken into account."
        },
        "feedLabel": {
          "type": "string",
          "description": "Optional. The feed label for the product."
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id."
        },
        "destinationStatuses": {
          "description": "The status of the destinations.",
          "items": {
            "$ref": "DestinationStatus"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Product data.",
      "id": "Product"
    },
    "FeatureDescription": {
      "id": "FeatureDescription",
      "description": "A feature description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
      "type": "object",
      "properties": {
        "image": {
          "$ref": "Image",
          "description": "An optional image describing the feature."
        },
        "headline": {
          "type": "string",
          "description": "A short description of the feature."
        },
        "text": {
          "type": "string",
          "description": "A detailed description of the feature."
        }
      }
    },
    "Attributes": {
      "type": "object",
      "id": "Attributes",
      "properties": {
        "color": {
          "description": "The color of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#color.",
          "type": "string"
        },
        "suggestedRetailPrice": {
          "description": "The suggested retail price (MSRP) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#price.",
          "$ref": "Price"
        },
        "featureDescription": {
          "description": "The rich format description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
          "items": {
            "$ref": "FeatureDescription"
          },
          "type": "array"
        },
        "additionalImageLink": {
          "type": "array",
          "items": {
            "$ref": "Image"
          },
          "description": "The additional images of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#addlimage."
        },
        "productName": {
          "description": "The canonical name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productname.",
          "type": "string"
        },
        "sizeSystem": {
          "description": "The size system of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizesystem.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#description."
        },
        "itemGroupId": {
          "type": "string",
          "description": "The item group id of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#itemgroupid."
        },
        "material": {
          "type": "string",
          "description": "The material of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#material."
        },
        "videoLink": {
          "items": {
            "type": "string"
          },
          "description": "The videos of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#video.",
          "type": "array"
        },
        "capacity": {
          "description": "The capacity of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity.",
          "$ref": "Capacity"
        },
        "sizeType": {
          "description": "The size type of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizetype.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "productPageUrl": {
          "description": "The URL of the detail page of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productpage.",
          "type": "string"
        },
        "theme": {
          "type": "string",
          "description": "The theme of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#theme."
        },
        "scent": {
          "type": "string",
          "description": "The scent of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#scent."
        },
        "format": {
          "type": "string",
          "description": "The format of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#format."
        },
        "imageLink": {
          "$ref": "Image",
          "description": "The image of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#image."
        },
        "intendedCountry": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of countries to show this product in. Countries provided in this attribute will override any of the countries configured at feed level. The values should be: the [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the countries in which this item will be shown."
        },
        "certification": {
          "description": "Optional. List of certifications claimed by this product.",
          "items": {
            "$ref": "GoogleShoppingManufacturersV1ProductCertification"
          },
          "type": "array"
        },
        "brand": {
          "type": "string",
          "description": "The brand name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#brand."
        },
        "pattern": {
          "description": "The pattern of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#pattern.",
          "type": "string"
        },
        "mpn": {
          "description": "The Manufacturer Part Number (MPN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#mpn.",
          "type": "string"
        },
        "gender": {
          "description": "The target gender of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gender.",
          "type": "string"
        },
        "productLine": {
          "description": "The name of the group of products related to the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productline.",
          "type": "string"
        },
        "size": {
          "description": "The size of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#size.",
          "type": "string"
        },
        "title": {
          "description": "The title of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#title.",
          "type": "string"
        },
        "disclosureDate": {
          "description": "The disclosure date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#disclosure.",
          "type": "string"
        },
        "targetClientId": {
          "description": "The target client id. Should only be used in the accounts of the data partners. For more information, see https://support.google.com/manufacturers/answer/10857344",
          "type": "string"
        },
        "flavor": {
          "description": "The flavor of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#flavor.",
          "type": "string"
        },
        "virtualModelLink": {
          "description": "Virtual Model (3d) asset link.",
          "type": "string"
        },
        "gtin": {
          "type": "array",
          "description": "The Global Trade Item Number (GTIN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gtin.",
          "items": {
            "type": "string"
          }
        },
        "count": {
          "description": "The count of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#count.",
          "$ref": "Count"
        },
        "productType": {
          "items": {
            "type": "string"
          },
          "description": "The type or category of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#producttype.",
          "type": "array"
        },
        "includedDestination": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of included destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550"
        },
        "productHighlight": {
          "description": "The product highlights. For more information, see https://support.google.com/manufacturers/answer/10066942",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ageGroup": {
          "description": "The target age group of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#agegroup.",
          "type": "string"
        },
        "richProductContent": {
          "description": "Rich product content. For more information, see https://support.google.com/manufacturers/answer/9389865",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "releaseDate": {
          "description": "The release date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#release.",
          "type": "string"
        },
        "nutrition": {
          "description": "Nutrition Attributes. See more at https://support.google.com/manufacturers/answer/12098458#food-servings.",
          "$ref": "Nutrition"
        },
        "excludedDestination": {
          "type": "array",
          "description": "A list of excluded destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550",
          "items": {
            "type": "string"
          }
        },
        "productDetail": {
          "description": "The details of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail.",
          "type": "array",
          "items": {
            "$ref": "ProductDetail"
          }
        },
        "grocery": {
          "$ref": "Grocery",
          "description": "Grocery Attributes. See more at https://support.google.com/manufacturers/answer/12098458#grocery."
        }
      },
      "description": "Attributes of the product. For more information, see https://support.google.com/manufacturers/answer/6124116."
    },
    "ProductDetail": {
      "description": "A product detail of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail.",
      "id": "ProductDetail",
      "type": "object",
      "properties": {
        "attributeName": {
          "type": "string",
          "description": "The name of the attribute."
        },
        "attributeValue": {
          "type": "string",
          "description": "The value of the attribute."
        },
        "sectionName": {
          "type": "string",
          "description": "A short section name that can be reused between multiple product details."
        }
      }
    },
    "FloatUnit": {
      "id": "FloatUnit",
      "type": "object",
      "properties": {
        "unit": {
          "type": "string",
          "description": "unit."
        },
        "amount": {
          "type": "number",
          "format": "double",
          "description": "amount."
        }
      },
      "description": "Combination of float amount and unit."
    },
    "Price": {
      "description": "A price.",
      "id": "Price",
      "type": "object",
      "properties": {
        "amount": {
          "type": "string",
          "description": "The numeric value of the price."
        },
        "currency": {
          "description": "The currency in which the price is denoted.",
          "type": "string"
        }
      }
    },
    "GoogleShoppingManufacturersV1ProductCertification": {
      "id": "GoogleShoppingManufacturersV1ProductCertification",
      "type": "object",
      "description": "Description of a certification.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Optional. A unique code to identify the certification."
        },
        "logo": {
          "description": "Optional. A URL link to the certification logo.",
          "type": "string"
        },
        "authority": {
          "type": "string",
          "description": "Required. Name of the certification body."
        },
        "validUntil": {
          "description": "Optional. The expiration date (UTC).",
          "type": "string"
        },
        "name": {
          "description": "Required. Name of the certification.",
          "type": "string"
        },
        "link": {
          "description": "Optional. A URL link to the certification.",
          "type": "string"
        },
        "value": {
          "description": "Optional. A custom value of the certification.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Grocery": {
      "type": "object",
      "properties": {
        "indications": {
          "description": "Indications.",
          "type": "string"
        },
        "storageInstructions": {
          "type": "string",
          "description": "Storage instructions."
        },
        "nutritionClaim": {
          "items": {
            "type": "string"
          },
          "description": "Nutrition claim.",
          "type": "array"
        },
        "alcoholByVolume": {
          "description": "Alcohol by volume.",
          "type": "number",
          "format": "double"
        },
        "allergens": {
          "type": "string",
          "description": "Allergens."
        },
        "ingredients": {
          "description": "Ingredients.",
          "type": "string"
        },
        "directions": {
          "description": "Directions.",
          "type": "string"
        },
        "activeIngredients": {
          "description": "Active ingredients.",
          "type": "string"
        },
        "derivedNutritionClaim": {
          "type": "array",
          "description": "Derived nutrition claim.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Grocery"
    },
    "VoluntaryNutritionFact": {
      "id": "VoluntaryNutritionFact",
      "type": "object",
      "description": "Voluntary Nutrition Facts.",
      "properties": {
        "value": {
          "description": "Value.",
          "$ref": "FloatUnit"
        },
        "name": {
          "type": "string",
          "description": "Name."
        },
        "dailyPercentage": {
          "type": "number",
          "description": "Daily percentage.",
          "format": "double"
        }
      }
    },
    "ListProductCertificationsResponse": {
      "id": "ListProductCertificationsResponse",
      "type": "object",
      "description": "Response for ListProductCertifications method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "productCertifications": {
          "items": {
            "$ref": "ProductCertification"
          },
          "type": "array",
          "description": "The product certifications from the specified certification body."
        }
      }
    },
    "Capacity": {
      "id": "Capacity",
      "type": "object",
      "properties": {
        "unit": {
          "description": "The unit of the capacity, i.e., MB, GB, or TB.",
          "type": "string"
        },
        "value": {
          "description": "The numeric value of the capacity.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "The capacity of a product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity."
    },
    "Issue": {
      "id": "Issue",
      "description": "Product issue.",
      "properties": {
        "timestamp": {
          "format": "google-datetime",
          "description": "The timestamp when this issue appeared.",
          "type": "string"
        },
        "type": {
          "description": "The server-generated type of the issue, for example, “INCORRECT_TEXT_FORMATTING”, “IMAGE_NOT_SERVEABLE”, etc.",
          "type": "string"
        },
        "title": {
          "description": "Short title describing the nature of the issue.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Longer description of the issue focused on how to resolve it."
        },
        "attribute": {
          "type": "string",
          "description": "If present, the attribute that triggered the issue. For more information about attributes, see https://support.google.com/manufacturers/answer/6124116."
        },
        "applicableCountries": {
          "items": {
            "type": "string"
          },
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where issue applies to the manufacturer product.",
          "readOnly": true,
          "type": "array"
        },
        "resolution": {
          "description": "What needs to happen to resolve the issue.",
          "enum": [
            "RESOLUTION_UNSPECIFIED",
            "USER_ACTION",
            "PENDING_PROCESSING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified resolution, never used.",
            "The user who provided the data must act in order to resolve the issue (for example by correcting some data).",
            "The issue will be resolved automatically (for example image crawl or Google review). No action is required now. Resolution might lead to another issue (for example if crawl fails)."
          ]
        },
        "severity": {
          "type": "string",
          "description": "The severity of the issue.",
          "enumDescriptions": [
            "Unspecified severity, never used.",
            "Error severity. The issue prevents the usage of the whole item.",
            "Warning severity. The issue is either one that prevents the usage of the attribute that triggered it or one that will soon prevent the usage of the whole item.",
            "Info severity. The issue is one that doesn't require immediate attention. It is, for example, used to communicate which attributes are still pending review."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ]
        },
        "destination": {
          "description": "The destination this issue applies to.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Count": {
      "description": "The number of products in a single package. For more information, see https://support.google.com/manufacturers/answer/6124116#count.",
      "properties": {
        "value": {
          "description": "The numeric value of the number of products in a package.",
          "type": "string",
          "format": "int64"
        },
        "unit": {
          "type": "string",
          "description": "The unit in which these products are counted."
        }
      },
      "id": "Count",
      "type": "object"
    },
    "ProductCertification": {
      "type": "object",
      "properties": {
        "issues": {
          "items": {
            "$ref": "Issue"
          },
          "type": "array",
          "description": "Output only. A server-generated list of issues associated with the product.",
          "readOnly": true
        },
        "countryCode": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A 2-letter country code (ISO 3166-1 Alpha 2).",
          "type": "array"
        },
        "certification": {
          "items": {
            "$ref": "Certification"
          },
          "description": "Required. A list of certifications to link to the described product.",
          "type": "array"
        },
        "title": {
          "type": "string",
          "description": "Required. This is to clearly identify the product you are certifying."
        },
        "productCode": {
          "description": "Optional. Another name for GTIN.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "productType": {
          "type": "array",
          "description": "Optional. These are your own product categorization system in your product data.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637."
        },
        "mpn": {
          "items": {
            "type": "string"
          },
          "description": "Optional. These are the Manufacturer Part Numbers (MPN). MPNs are used to uniquely identify a specific product among all products from the same manufacturer",
          "type": "array"
        },
        "brand": {
          "type": "string",
          "description": "Required. This is the product's brand name. The brand is used to help identify your product."
        },
        "destinationStatuses": {
          "items": {
            "$ref": "DestinationStatus"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The statuses of the destinations."
        }
      },
      "id": "ProductCertification",
      "description": "Product certification data."
    },
    "Certification": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Optional. A unique code to identify the certification.",
          "type": "string"
        },
        "logo": {
          "type": "string",
          "description": "Optional. A URL link to the certification logo."
        },
        "name": {
          "description": "Required. Name of the certification.",
          "type": "string"
        },
        "link": {
          "type": "string",
          "description": "Optional. A URL link to the certification."
        },
        "value": {
          "type": "string",
          "description": "Optional. A custom value of the certification."
        },
        "validUntil": {
          "description": "Optional. The expiration date (UTC).",
          "type": "string"
        },
        "authority": {
          "type": "string",
          "description": "Required. Name of the certification body."
        }
      },
      "id": "Certification",
      "description": "Description of a certification."
    },
    "Nutrition": {
      "type": "object",
      "properties": {
        "totalFatDailyPercentage": {
          "format": "double",
          "description": "Total fat daily percentage.",
          "type": "number"
        },
        "totalSugars": {
          "$ref": "FloatUnit",
          "description": "Total sugars."
        },
        "servingSizeDescription": {
          "description": "Food Serving Size. Serving size description.",
          "type": "string"
        },
        "preparedSizeDescription": {
          "description": "Prepared size description.",
          "type": "string"
        },
        "dietaryFiber": {
          "description": "Dietary fiber.",
          "$ref": "FloatUnit"
        },
        "saturatedFat": {
          "description": "Saturated fat.",
          "$ref": "FloatUnit"
        },
        "cholesterol": {
          "$ref": "FloatUnit",
          "description": "Cholesterol."
        },
        "sodium": {
          "description": "Sodium.",
          "$ref": "FloatUnit"
        },
        "dietaryFiberDailyPercentage": {
          "description": "Dietary fiber daily percentage.",
          "format": "double",
          "type": "number"
        },
        "totalFat": {
          "$ref": "FloatUnit",
          "description": "Total fat."
        },
        "calcium": {
          "$ref": "FloatUnit",
          "description": "Calcium."
        },
        "ironDailyPercentage": {
          "description": "Iron daily percentage.",
          "format": "double",
          "type": "number"
        },
        "voluntaryNutritionFact": {
          "description": "Voluntary nutrition fact.",
          "type": "array",
          "items": {
            "$ref": "VoluntaryNutritionFact"
          }
        },
        "addedSugarsDailyPercentage": {
          "type": "number",
          "description": "Added sugars daily percentage.",
          "format": "double"
        },
        "folateDailyPercentage": {
          "type": "number",
          "description": "Folate daily percentage.",
          "format": "double"
        },
        "servingSizeMeasure": {
          "description": "Serving size measure.",
          "$ref": "FloatUnit"
        },
        "saturatedFatDailyPercentage": {
          "format": "double",
          "description": "Saturated fat daily percentage.",
          "type": "number"
        },
        "folateFolicAcid": {
          "description": "Folate folic acid.",
          "$ref": "FloatUnit"
        },
        "energyFromFat": {
          "description": "Energy from fat.",
          "$ref": "FloatUnit"
        },
        "starch": {
          "description": "Starch.",
          "$ref": "FloatUnit"
        },
        "potassium": {
          "description": "Potassium.",
          "$ref": "FloatUnit"
        },
        "vitaminDDailyPercentage": {
          "type": "number",
          "description": "Vitamin D daily percentage.",
          "format": "double"
        },
        "sodiumDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Sodium daily percentage."
        },
        "transFatDailyPercentage": {
          "description": "Trans fat daily percentage.",
          "type": "number",
          "format": "double"
        },
        "addedSugars": {
          "description": "Added sugars.",
          "$ref": "FloatUnit"
        },
        "polyunsaturatedFat": {
          "$ref": "FloatUnit",
          "description": "Polyunsaturated fat."
        },
        "potassiumDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Potassium daily percentage."
        },
        "nutritionFactMeasure": {
          "type": "string",
          "description": "Nutrition fact measure."
        },
        "servingsPerContainer": {
          "description": "Servings per container.",
          "type": "string"
        },
        "folateMcgDfe": {
          "type": "number",
          "description": "Folate mcg DFE.",
          "format": "double"
        },
        "cholesterolDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Cholesterol daily percentage."
        },
        "energy": {
          "description": "Mandatory Nutrition Facts. Energy.",
          "$ref": "FloatUnit"
        },
        "iron": {
          "$ref": "FloatUnit",
          "description": "Iron."
        },
        "calciumDailyPercentage": {
          "description": "Calcium daily percentage.",
          "type": "number",
          "format": "double"
        },
        "transFat": {
          "$ref": "FloatUnit",
          "description": "Trans fat."
        },
        "vitaminD": {
          "description": "Vitamin D.",
          "$ref": "FloatUnit"
        },
        "totalCarbohydrateDailyPercentage": {
          "format": "double",
          "description": "Total carbohydrate daily percentage.",
          "type": "number"
        },
        "monounsaturatedFat": {
          "$ref": "FloatUnit",
          "description": "Monounsaturated fat."
        },
        "protein": {
          "$ref": "FloatUnit",
          "description": "Protein."
        },
        "totalSugarsDailyPercentage": {
          "type": "number",
          "description": "Total sugars daily percentage.",
          "format": "double"
        },
        "polyols": {
          "$ref": "FloatUnit",
          "description": "Polyols."
        },
        "proteinDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Protein daily percentage."
        },
        "totalCarbohydrate": {
          "description": "Total carbohydrate.",
          "$ref": "FloatUnit"
        }
      },
      "id": "Nutrition"
    },
    "ListProductsResponse": {
      "id": "ListProductsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The token for the retrieval of the next page of product statuses.",
          "type": "string"
        },
        "products": {
          "type": "array",
          "items": {
            "$ref": "Product"
          },
          "description": "List of the products."
        }
      },
      "type": "object"
    }
  },
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "mtlsRootUrl": "https://manufacturers.mtls.googleapis.com/",
  "name": "manufacturers",
  "baseUrl": "https://manufacturers.googleapis.com/",
  "id": "manufacturers:v1",
  "version": "v1"
}