{
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "name": "manufacturers",
  "ownerDomain": "google.com",
  "resources": {
    "accounts": {
      "resources": {
        "languages": {
          "resources": {
            "productCertifications": {
              "methods": {
                "patch": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637.",
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The list of fields to update according to aip.dev/134. However, only full update is supported as of right now. Therefore, it can be either ignored or set to \"*\". Setting any other values will returns UNIMPLEMENTED error.",
                      "format": "google-fieldmask"
                    }
                  },
                  "id": "manufacturers.accounts.languages.productCertifications.patch",
                  "request": {
                    "$ref": "ProductCertification"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "description": "Updates (or creates if allow_missing = true) a product certification which links certifications with products. This method can only be called by certification bodies.",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "httpMethod": "PATCH"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "httpMethod": "GET",
                  "description": "Gets a product certification by its name. This method can only be called by certification bodies.",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the product certification to get. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "location": "path",
                      "required": true,
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "manufacturers.accounts.languages.productCertifications.get",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "description": "Required. The name of the product certification to delete. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "description": "Deletes a product certification by its name. This method can only be called by certification bodies.",
                  "id": "manufacturers.accounts.languages.productCertifications.delete"
                },
                "list": {
                  "path": "v1/{+parent}/productCertifications",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListProductCertifications` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductCertifications` must match the call that provided the page token. Required if requesting the second or higher page.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent, which owns this collection of product certifications. Format: accounts/{account}/languages/{language_code}",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/languages/[^/]+$"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of product certifications to return. The service may return fewer than this value. If unspecified, at most 50 product certifications will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "manufacturers.accounts.languages.productCertifications.list",
                  "response": {
                    "$ref": "ListProductCertificationsResponse"
                  },
                  "description": "Lists product certifications from a specified certification body. This method can only be called by certification bodies.",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications"
                }
              }
            }
          }
        },
        "products": {
          "methods": {
            "update": {
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "parameters": {
                "name": {
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account."
                }
              },
              "request": {
                "$ref": "Attributes"
              },
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+parent}/products/{+name}",
              "id": "manufacturers.accounts.products.update",
              "description": "Inserts or updates the attributes of the product in a Manufacturer Center account. Creates a product with the provided attributes. If the product already exists, then all attributes are replaced with the new ones. The checks at upload time are minimal. All required attributes need to be present for a product to be valid. Issues may show up later after the API has accepted a new upload for a product and it is possible to overwrite an existing valid product with an invalid product. To detect this, you should retrieve the product and check it for issues once the new version is available. Uploaded attributes first need to be processed before they can be retrieved. Until then, new products will be unavailable, and retrieval of previously uploaded products will return the original state of the product.",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "httpMethod": "PUT",
              "parameterOrder": [
                "parent",
                "name"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListProductsResponse"
              },
              "id": "manufacturers.accounts.products.list",
              "flatPath": "v1/accounts/{accountsId}/products",
              "httpMethod": "GET",
              "description": "Lists all the products in a Manufacturer Center account.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/products",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The token returned by the previous request.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Maximum number of product statuses to return in the response, used for paging.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "include": {
                  "location": "query",
                  "description": "The information to be included in the response. Only sections listed here will be returned.",
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ],
                  "repeated": true,
                  "type": "string",
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ]
                }
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes the product from a Manufacturer Center account.",
              "parameters": {
                "parent": {
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "type": "string",
                  "pattern": "^[^/]+$"
                }
              },
              "id": "manufacturers.accounts.products.delete",
              "path": "v1/{+parent}/products/{+name}"
            },
            "get": {
              "parameterOrder": [
                "parent",
                "name"
              ],
              "id": "manufacturers.accounts.products.get",
              "response": {
                "$ref": "Product"
              },
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "parameters": {
                "name": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id."
                },
                "include": {
                  "type": "string",
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ],
                  "repeated": true,
                  "description": "The information to be included in the response. Only sections listed here will be returned.",
                  "location": "query",
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ]
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "httpMethod": "GET",
              "description": "Gets the product from a Manufacturer Center account, including product issues. A recently updated product takes around 15 minutes to process. Changes are only visible after it has been processed. While some issues may be available once the product has been processed, other issues may take days to appear.",
              "path": "v1/{+parent}/products/{+name}"
            }
          }
        }
      }
    }
  },
  "canonicalName": "Manufacturer Center",
  "mtlsRootUrl": "https://manufacturers.mtls.googleapis.com/",
  "basePath": "",
  "id": "manufacturers:v1",
  "version": "v1",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "rootUrl": "https://manufacturers.googleapis.com/",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "title": "Manufacturer Center API",
  "baseUrl": "https://manufacturers.googleapis.com/",
  "schemas": {
    "Price": {
      "id": "Price",
      "type": "object",
      "properties": {
        "currency": {
          "description": "The currency in which the price is denoted.",
          "type": "string"
        },
        "amount": {
          "type": "string",
          "description": "The numeric value of the price."
        }
      },
      "description": "A price."
    },
    "VoluntaryNutritionFact": {
      "id": "VoluntaryNutritionFact",
      "type": "object",
      "description": "Voluntary Nutrition Facts.",
      "properties": {
        "dailyPercentage": {
          "type": "number",
          "description": "Daily percentage.",
          "format": "double"
        },
        "name": {
          "type": "string",
          "description": "Name."
        },
        "value": {
          "$ref": "FloatUnit",
          "description": "Value."
        }
      }
    },
    "FloatUnit": {
      "description": "Combination of float amount and unit.",
      "type": "object",
      "properties": {
        "unit": {
          "type": "string",
          "description": "unit."
        },
        "amount": {
          "format": "double",
          "type": "number",
          "description": "amount."
        }
      },
      "id": "FloatUnit"
    },
    "Image": {
      "properties": {
        "imageUrl": {
          "description": "The URL of the image. For crawled images, this is the provided URL. For uploaded images, this is a serving URL from Google if the image has been processed successfully.",
          "type": "string"
        },
        "type": {
          "description": "The type of the image, i.e., crawled or uploaded. @OutputOnly",
          "type": "string",
          "enumDescriptions": [
            "Type is unspecified. Should not be used.",
            "The image was crawled from a provided URL.",
            "The image was uploaded."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CRAWLED",
            "UPLOADED"
          ]
        },
        "status": {
          "enumDescriptions": [
            "The image status is unspecified. Should not be used.",
            "The image was uploaded and is being processed.",
            "The image crawl is still pending.",
            "The image was processed and it meets the requirements.",
            "The image URL is protected by robots.txt file and cannot be crawled.",
            "The image URL is protected by X-Robots-Tag and cannot be crawled.",
            "There was an error while crawling the image.",
            "The image cannot be processed.",
            "The image cannot be decoded.",
            "The image is too big.",
            "The image was manually overridden and will not be crawled.",
            "The image crawl was postponed to avoid overloading the host.",
            "The image URL returned a \"404 Not Found\" error."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING_PROCESSING",
            "PENDING_CRAWL",
            "OK",
            "ROBOTED",
            "XROBOTED",
            "CRAWL_ERROR",
            "PROCESSING_ERROR",
            "DECODING_ERROR",
            "TOO_BIG",
            "CRAWL_SKIPPED",
            "HOSTLOADED",
            "HTTP_404"
          ],
          "description": "The status of the image. @OutputOnly"
        }
      },
      "type": "object",
      "description": "An image.",
      "id": "Image"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Count": {
      "properties": {
        "value": {
          "description": "The numeric value of the number of products in a package.",
          "format": "int64",
          "type": "string"
        },
        "unit": {
          "description": "The unit in which these products are counted.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The number of products in a single package. For more information, see https://support.google.com/manufacturers/answer/6124116#count.",
      "id": "Count"
    },
    "ListProductCertificationsResponse": {
      "description": "Response for ListProductCertifications method.",
      "id": "ListProductCertificationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "productCertifications": {
          "description": "The product certifications from the specified certification body.",
          "type": "array",
          "items": {
            "$ref": "ProductCertification"
          }
        }
      },
      "type": "object"
    },
    "ListProductsResponse": {
      "type": "object",
      "id": "ListProductsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of product statuses."
        },
        "products": {
          "items": {
            "$ref": "Product"
          },
          "type": "array",
          "description": "List of the products."
        }
      }
    },
    "Attributes": {
      "type": "object",
      "id": "Attributes",
      "description": "Attributes of the product. For more information, see https://support.google.com/manufacturers/answer/6124116.",
      "properties": {
        "format": {
          "description": "The format of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#format.",
          "type": "string"
        },
        "count": {
          "description": "The count of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#count.",
          "$ref": "Count"
        },
        "nutrition": {
          "description": "Nutrition Attributes. See more at https://support.google.com/manufacturers/answer/12098458#food-servings.",
          "$ref": "Nutrition"
        },
        "size": {
          "type": "string",
          "description": "The size of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#size."
        },
        "productPageUrl": {
          "description": "The URL of the detail page of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productpage.",
          "type": "string"
        },
        "excludedDestination": {
          "description": "A list of excluded destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "grocery": {
          "description": "Grocery Attributes. See more at https://support.google.com/manufacturers/answer/12098458#grocery.",
          "$ref": "Grocery"
        },
        "ageGroup": {
          "type": "string",
          "description": "The target age group of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#agegroup."
        },
        "flavor": {
          "description": "The flavor of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#flavor.",
          "type": "string"
        },
        "targetClientId": {
          "description": "The target client id. Should only be used in the accounts of the data partners. For more information, see https://support.google.com/manufacturers/answer/10857344",
          "type": "string"
        },
        "productHighlight": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The product highlights. For more information, see https://support.google.com/manufacturers/answer/10066942"
        },
        "additionalImageLink": {
          "description": "The additional images of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#addlimage.",
          "type": "array",
          "items": {
            "$ref": "Image"
          }
        },
        "releaseDate": {
          "type": "string",
          "description": "The release date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#release."
        },
        "suggestedRetailPrice": {
          "description": "The suggested retail price (MSRP) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#price.",
          "$ref": "Price"
        },
        "sizeType": {
          "description": "The size type of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizetype.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "pattern": {
          "description": "The pattern of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#pattern.",
          "type": "string"
        },
        "scent": {
          "type": "string",
          "description": "The scent of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#scent."
        },
        "theme": {
          "description": "The theme of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#theme.",
          "type": "string"
        },
        "productName": {
          "description": "The canonical name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productname.",
          "type": "string"
        },
        "description": {
          "description": "The description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#description.",
          "type": "string"
        },
        "color": {
          "description": "The color of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#color.",
          "type": "string"
        },
        "material": {
          "type": "string",
          "description": "The material of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#material."
        },
        "gender": {
          "type": "string",
          "description": "The target gender of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gender."
        },
        "productLine": {
          "description": "The name of the group of products related to the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productline.",
          "type": "string"
        },
        "gtin": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The Global Trade Item Number (GTIN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gtin."
        },
        "disclosureDate": {
          "description": "The disclosure date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#disclosure.",
          "type": "string"
        },
        "videoLink": {
          "type": "array",
          "description": "The videos of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#video.",
          "items": {
            "type": "string"
          }
        },
        "itemGroupId": {
          "description": "The item group id of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#itemgroupid.",
          "type": "string"
        },
        "includedDestination": {
          "description": "A list of included destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "richProductContent": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Rich product content. For more information, see https://support.google.com/manufacturers/answer/9389865"
        },
        "virtualModelLink": {
          "description": "Virtual Model (3d) asset link.",
          "type": "string"
        },
        "featureDescription": {
          "items": {
            "$ref": "FeatureDescription"
          },
          "type": "array",
          "description": "The rich format description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc."
        },
        "sizeSystem": {
          "type": "string",
          "description": "The size system of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizesystem."
        },
        "productType": {
          "description": "The type or category of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#producttype.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "title": {
          "description": "The title of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#title.",
          "type": "string"
        },
        "mpn": {
          "description": "The Manufacturer Part Number (MPN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#mpn.",
          "type": "string"
        },
        "intendedCountry": {
          "type": "array",
          "description": "Optional. List of countries to show this product in. Countries provided in this attribute will override any of the countries configured at feed level. The values should be: the [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the countries in which this item will be shown.",
          "items": {
            "type": "string"
          }
        },
        "imageLink": {
          "description": "The image of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#image.",
          "$ref": "Image"
        },
        "brand": {
          "description": "The brand name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#brand.",
          "type": "string"
        },
        "capacity": {
          "$ref": "Capacity",
          "description": "The capacity of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity."
        },
        "productDetail": {
          "description": "The details of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail.",
          "type": "array",
          "items": {
            "$ref": "ProductDetail"
          }
        },
        "certification": {
          "description": "Optional. List of certifications claimed by this product.",
          "items": {
            "$ref": "GoogleShoppingManufacturersV1ProductCertification"
          },
          "type": "array"
        }
      }
    },
    "GoogleShoppingManufacturersV1ProductCertification": {
      "id": "GoogleShoppingManufacturersV1ProductCertification",
      "type": "object",
      "description": "Description of a certification.",
      "properties": {
        "link": {
          "type": "string",
          "description": "Optional. A URL link to the certification."
        },
        "validUntil": {
          "description": "Optional. The expiration date (UTC).",
          "type": "string"
        },
        "logo": {
          "type": "string",
          "description": "Optional. A URL link to the certification logo."
        },
        "authority": {
          "description": "Required. Name of the certification body.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "Optional. A unique code to identify the certification."
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the certification."
        },
        "value": {
          "type": "string",
          "description": "Optional. A custom value of the certification."
        }
      }
    },
    "Capacity": {
      "description": "The capacity of a product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity.",
      "properties": {
        "value": {
          "type": "string",
          "format": "int64",
          "description": "The numeric value of the capacity."
        },
        "unit": {
          "type": "string",
          "description": "The unit of the capacity, i.e., MB, GB, or TB."
        }
      },
      "id": "Capacity",
      "type": "object"
    },
    "Grocery": {
      "id": "Grocery",
      "properties": {
        "alcoholByVolume": {
          "type": "number",
          "format": "double",
          "description": "Alcohol by volume."
        },
        "allergens": {
          "type": "string",
          "description": "Allergens."
        },
        "ingredients": {
          "type": "string",
          "description": "Ingredients."
        },
        "derivedNutritionClaim": {
          "description": "Derived nutrition claim.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nutritionClaim": {
          "items": {
            "type": "string"
          },
          "description": "Nutrition claim.",
          "type": "array"
        },
        "activeIngredients": {
          "description": "Active ingredients.",
          "type": "string"
        },
        "storageInstructions": {
          "description": "Storage instructions.",
          "type": "string"
        },
        "indications": {
          "type": "string",
          "description": "Indications."
        },
        "directions": {
          "type": "string",
          "description": "Directions."
        }
      },
      "type": "object"
    },
    "ProductCertification": {
      "description": "Product certification data.",
      "properties": {
        "certification": {
          "items": {
            "$ref": "Certification"
          },
          "type": "array",
          "description": "Required. A list of certifications to link to the described product."
        },
        "productCode": {
          "description": "Optional. Another name for GTIN.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "description": "Required. This is to clearly identify the product you are certifying.",
          "type": "string"
        },
        "issues": {
          "items": {
            "$ref": "Issue"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. A server-generated list of issues associated with the product."
        },
        "productType": {
          "items": {
            "type": "string"
          },
          "description": "Optional. These are your own product categorization system in your product data.",
          "type": "array"
        },
        "name": {
          "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637.",
          "type": "string"
        },
        "countryCode": {
          "description": "Optional. A 2-letter country code (ISO 3166-1 Alpha 2).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "brand": {
          "description": "Required. This is the product's brand name. The brand is used to help identify your product.",
          "type": "string"
        },
        "destinationStatuses": {
          "type": "array",
          "items": {
            "$ref": "DestinationStatus"
          },
          "readOnly": true,
          "description": "Output only. The statuses of the destinations."
        },
        "mpn": {
          "items": {
            "type": "string"
          },
          "description": "Optional. These are the Manufacturer Part Numbers (MPN). MPNs are used to uniquely identify a specific product among all products from the same manufacturer",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ProductCertification"
    },
    "Issue": {
      "type": "object",
      "description": "Product issue.",
      "properties": {
        "title": {
          "description": "Short title describing the nature of the issue.",
          "type": "string"
        },
        "applicableCountries": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where issue applies to the manufacturer product."
        },
        "description": {
          "description": "Longer description of the issue focused on how to resolve it.",
          "type": "string"
        },
        "destination": {
          "description": "The destination this issue applies to.",
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "Unspecified severity, never used.",
            "Error severity. The issue prevents the usage of the whole item.",
            "Warning severity. The issue is either one that prevents the usage of the attribute that triggered it or one that will soon prevent the usage of the whole item.",
            "Info severity. The issue is one that doesn't require immediate attention. It is, for example, used to communicate which attributes are still pending review."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "description": "The severity of the issue."
        },
        "resolution": {
          "enumDescriptions": [
            "Unspecified resolution, never used.",
            "The user who provided the data must act in order to resolve the issue (for example by correcting some data).",
            "The issue will be resolved automatically (for example image crawl or Google review). No action is required now. Resolution might lead to another issue (for example if crawl fails)."
          ],
          "description": "What needs to happen to resolve the issue.",
          "type": "string",
          "enum": [
            "RESOLUTION_UNSPECIFIED",
            "USER_ACTION",
            "PENDING_PROCESSING"
          ]
        },
        "type": {
          "description": "The server-generated type of the issue, for example, “INCORRECT_TEXT_FORMATTING”, “IMAGE_NOT_SERVEABLE”, etc.",
          "type": "string"
        },
        "attribute": {
          "description": "If present, the attribute that triggered the issue. For more information about attributes, see https://support.google.com/manufacturers/answer/6124116.",
          "type": "string"
        },
        "timestamp": {
          "format": "google-datetime",
          "description": "The timestamp when this issue appeared.",
          "type": "string"
        }
      },
      "id": "Issue"
    },
    "Certification": {
      "properties": {
        "authority": {
          "type": "string",
          "description": "Required. Name of the certification body."
        },
        "logo": {
          "description": "Optional. A URL link to the certification logo.",
          "type": "string"
        },
        "link": {
          "description": "Optional. A URL link to the certification.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Optional. A custom value of the certification."
        },
        "name": {
          "description": "Required. Name of the certification.",
          "type": "string"
        },
        "validUntil": {
          "type": "string",
          "description": "Optional. The expiration date (UTC)."
        },
        "code": {
          "type": "string",
          "description": "Optional. A unique code to identify the certification."
        }
      },
      "description": "Description of a certification.",
      "type": "object",
      "id": "Certification"
    },
    "Nutrition": {
      "properties": {
        "folateFolicAcid": {
          "description": "Folate folic acid.",
          "$ref": "FloatUnit"
        },
        "polyunsaturatedFat": {
          "$ref": "FloatUnit",
          "description": "Polyunsaturated fat."
        },
        "saturatedFat": {
          "$ref": "FloatUnit",
          "description": "Saturated fat."
        },
        "ironDailyPercentage": {
          "description": "Iron daily percentage.",
          "type": "number",
          "format": "double"
        },
        "totalSugars": {
          "$ref": "FloatUnit",
          "description": "Total sugars."
        },
        "totalFatDailyPercentage": {
          "description": "Total fat daily percentage.",
          "format": "double",
          "type": "number"
        },
        "dietaryFiber": {
          "description": "Dietary fiber.",
          "$ref": "FloatUnit"
        },
        "nutritionFactMeasure": {
          "type": "string",
          "description": "Nutrition fact measure."
        },
        "protein": {
          "$ref": "FloatUnit",
          "description": "Protein."
        },
        "preparedSizeDescription": {
          "description": "Prepared size description.",
          "type": "string"
        },
        "calcium": {
          "description": "Calcium.",
          "$ref": "FloatUnit"
        },
        "cholesterol": {
          "description": "Cholesterol.",
          "$ref": "FloatUnit"
        },
        "cholesterolDailyPercentage": {
          "description": "Cholesterol daily percentage.",
          "type": "number",
          "format": "double"
        },
        "folateMcgDfe": {
          "format": "double",
          "type": "number",
          "description": "Folate mcg DFE."
        },
        "vitaminD": {
          "$ref": "FloatUnit",
          "description": "Vitamin D."
        },
        "servingSizeMeasure": {
          "$ref": "FloatUnit",
          "description": "Serving size measure."
        },
        "calciumDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Calcium daily percentage."
        },
        "totalCarbohydrate": {
          "description": "Total carbohydrate.",
          "$ref": "FloatUnit"
        },
        "potassium": {
          "description": "Potassium.",
          "$ref": "FloatUnit"
        },
        "sodium": {
          "$ref": "FloatUnit",
          "description": "Sodium."
        },
        "iron": {
          "$ref": "FloatUnit",
          "description": "Iron."
        },
        "totalSugarsDailyPercentage": {
          "description": "Total sugars daily percentage.",
          "type": "number",
          "format": "double"
        },
        "addedSugarsDailyPercentage": {
          "format": "double",
          "description": "Added sugars daily percentage.",
          "type": "number"
        },
        "starch": {
          "$ref": "FloatUnit",
          "description": "Starch."
        },
        "monounsaturatedFat": {
          "$ref": "FloatUnit",
          "description": "Monounsaturated fat."
        },
        "energy": {
          "description": "Mandatory Nutrition Facts. Energy.",
          "$ref": "FloatUnit"
        },
        "sodiumDailyPercentage": {
          "description": "Sodium daily percentage.",
          "format": "double",
          "type": "number"
        },
        "energyFromFat": {
          "description": "Energy from fat.",
          "$ref": "FloatUnit"
        },
        "totalCarbohydrateDailyPercentage": {
          "description": "Total carbohydrate daily percentage.",
          "format": "double",
          "type": "number"
        },
        "addedSugars": {
          "description": "Added sugars.",
          "$ref": "FloatUnit"
        },
        "totalFat": {
          "description": "Total fat.",
          "$ref": "FloatUnit"
        },
        "dietaryFiberDailyPercentage": {
          "description": "Dietary fiber daily percentage.",
          "type": "number",
          "format": "double"
        },
        "transFatDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Trans fat daily percentage."
        },
        "vitaminDDailyPercentage": {
          "format": "double",
          "description": "Vitamin D daily percentage.",
          "type": "number"
        },
        "servingSizeDescription": {
          "type": "string",
          "description": "Food Serving Size. Serving size description."
        },
        "polyols": {
          "$ref": "FloatUnit",
          "description": "Polyols."
        },
        "saturatedFatDailyPercentage": {
          "type": "number",
          "description": "Saturated fat daily percentage.",
          "format": "double"
        },
        "folateDailyPercentage": {
          "type": "number",
          "description": "Folate daily percentage.",
          "format": "double"
        },
        "transFat": {
          "$ref": "FloatUnit",
          "description": "Trans fat."
        },
        "potassiumDailyPercentage": {
          "format": "double",
          "description": "Potassium daily percentage.",
          "type": "number"
        },
        "proteinDailyPercentage": {
          "type": "number",
          "description": "Protein daily percentage.",
          "format": "double"
        },
        "voluntaryNutritionFact": {
          "items": {
            "$ref": "VoluntaryNutritionFact"
          },
          "description": "Voluntary nutrition fact.",
          "type": "array"
        },
        "servingsPerContainer": {
          "type": "string",
          "description": "Servings per container."
        }
      },
      "id": "Nutrition",
      "type": "object"
    },
    "ProductDetail": {
      "description": "A product detail of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail.",
      "properties": {
        "sectionName": {
          "description": "A short section name that can be reused between multiple product details.",
          "type": "string"
        },
        "attributeName": {
          "description": "The name of the attribute.",
          "type": "string"
        },
        "attributeValue": {
          "description": "The value of the attribute.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ProductDetail"
    },
    "Product": {
      "id": "Product",
      "type": "object",
      "properties": {
        "destinationStatuses": {
          "items": {
            "$ref": "DestinationStatus"
          },
          "description": "The status of the destinations.",
          "type": "array"
        },
        "contentLanguage": {
          "type": "string",
          "description": "The content language of the product as a two-letter ISO 639-1 language code (for example, en)."
        },
        "feedLabel": {
          "description": "Optional. The feed label for the product.",
          "type": "string"
        },
        "name": {
          "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
          "type": "string"
        },
        "attributes": {
          "$ref": "Attributes",
          "description": "Attributes of the product uploaded to the Manufacturer Center. Manually edited attributes are taken into account."
        },
        "targetCountry": {
          "description": "The target country of the product as a CLDR territory code (for example, US).",
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id."
        },
        "issues": {
          "description": "A server-generated list of issues associated with the product.",
          "type": "array",
          "items": {
            "$ref": "Issue"
          }
        },
        "parent": {
          "type": "string",
          "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account."
        }
      },
      "description": "Product data."
    },
    "DestinationStatus": {
      "type": "object",
      "description": "The destination status.",
      "id": "DestinationStatus",
      "properties": {
        "pendingCountries": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is pending approval.",
          "type": "array"
        },
        "approvedCountries": {
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is approved.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "disapprovedCountries": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is disapproved."
        },
        "destination": {
          "type": "string",
          "description": "The name of the destination."
        },
        "status": {
          "enum": [
            "UNKNOWN",
            "ACTIVE",
            "PENDING",
            "DISAPPROVED"
          ],
          "type": "string",
          "description": "The status of the destination.",
          "enumDescriptions": [
            "Unspecified status, never used.",
            "The product is used for this destination.",
            "The decision is still pending.",
            "The product is disapproved. Please look at the issues."
          ]
        }
      }
    },
    "FeatureDescription": {
      "description": "A feature description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
      "properties": {
        "text": {
          "description": "A detailed description of the feature.",
          "type": "string"
        },
        "image": {
          "description": "An optional image describing the feature.",
          "$ref": "Image"
        },
        "headline": {
          "type": "string",
          "description": "A short description of the feature."
        }
      },
      "type": "object",
      "id": "FeatureDescription"
    }
  },
  "servicePath": "",
  "description": "Public API for managing Manufacturer Center related data.",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/manufacturercenter": {
          "description": "Manage your product listings for Google Manufacturer Center"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/manufacturers/",
  "ownerName": "Google",
  "revision": "20260821"
}