{
  "documentationLink": "https://developers.google.com/manufacturers/",
  "baseUrl": "https://manufacturers.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "description": "Public API for managing Manufacturer Center related data.",
  "revision": "20260902",
  "kind": "discovery#restDescription",
  "name": "manufacturers",
  "id": "manufacturers:v1",
  "version": "v1",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/manufacturercenter": {
          "description": "Manage your product listings for Google Manufacturer Center"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "title": "Manufacturer Center API",
  "batchPath": "batch",
  "basePath": "",
  "ownerName": "Google",
  "schemas": {
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "Nutrition": {
      "type": "object",
      "properties": {
        "cholesterol": {
          "$ref": "FloatUnit",
          "description": "Cholesterol."
        },
        "transFat": {
          "$ref": "FloatUnit",
          "description": "Trans fat."
        },
        "calciumDailyPercentage": {
          "description": "Calcium daily percentage.",
          "type": "number",
          "format": "double"
        },
        "folateFolicAcid": {
          "description": "Folate folic acid.",
          "$ref": "FloatUnit"
        },
        "folateMcgDfe": {
          "description": "Folate mcg DFE.",
          "type": "number",
          "format": "double"
        },
        "iron": {
          "description": "Iron.",
          "$ref": "FloatUnit"
        },
        "nutritionFactMeasure": {
          "description": "Nutrition fact measure.",
          "type": "string"
        },
        "protein": {
          "description": "Protein.",
          "$ref": "FloatUnit"
        },
        "dietaryFiber": {
          "description": "Dietary fiber.",
          "$ref": "FloatUnit"
        },
        "potassium": {
          "description": "Potassium.",
          "$ref": "FloatUnit"
        },
        "totalFat": {
          "$ref": "FloatUnit",
          "description": "Total fat."
        },
        "saturatedFatDailyPercentage": {
          "description": "Saturated fat daily percentage.",
          "format": "double",
          "type": "number"
        },
        "addedSugars": {
          "$ref": "FloatUnit",
          "description": "Added sugars."
        },
        "servingSizeMeasure": {
          "$ref": "FloatUnit",
          "description": "Serving size measure."
        },
        "addedSugarsDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Added sugars daily percentage."
        },
        "energyFromFat": {
          "$ref": "FloatUnit",
          "description": "Energy from fat."
        },
        "servingSizeDescription": {
          "description": "Food Serving Size. Serving size description.",
          "type": "string"
        },
        "energy": {
          "description": "Mandatory Nutrition Facts. Energy.",
          "$ref": "FloatUnit"
        },
        "transFatDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Trans fat daily percentage."
        },
        "totalSugarsDailyPercentage": {
          "description": "Total sugars daily percentage.",
          "type": "number",
          "format": "double"
        },
        "polyunsaturatedFat": {
          "$ref": "FloatUnit",
          "description": "Polyunsaturated fat."
        },
        "sodiumDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Sodium daily percentage."
        },
        "vitaminD": {
          "$ref": "FloatUnit",
          "description": "Vitamin D."
        },
        "vitaminDDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Vitamin D daily percentage."
        },
        "servingsPerContainer": {
          "type": "string",
          "description": "Servings per container."
        },
        "sodium": {
          "description": "Sodium.",
          "$ref": "FloatUnit"
        },
        "totalSugars": {
          "description": "Total sugars.",
          "$ref": "FloatUnit"
        },
        "totalCarbohydrate": {
          "$ref": "FloatUnit",
          "description": "Total carbohydrate."
        },
        "cholesterolDailyPercentage": {
          "description": "Cholesterol daily percentage.",
          "format": "double",
          "type": "number"
        },
        "totalCarbohydrateDailyPercentage": {
          "description": "Total carbohydrate daily percentage.",
          "type": "number",
          "format": "double"
        },
        "folateDailyPercentage": {
          "format": "double",
          "description": "Folate daily percentage.",
          "type": "number"
        },
        "dietaryFiberDailyPercentage": {
          "type": "number",
          "description": "Dietary fiber daily percentage.",
          "format": "double"
        },
        "polyols": {
          "description": "Polyols.",
          "$ref": "FloatUnit"
        },
        "preparedSizeDescription": {
          "type": "string",
          "description": "Prepared size description."
        },
        "totalFatDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Total fat daily percentage."
        },
        "monounsaturatedFat": {
          "$ref": "FloatUnit",
          "description": "Monounsaturated fat."
        },
        "voluntaryNutritionFact": {
          "type": "array",
          "description": "Voluntary nutrition fact.",
          "items": {
            "$ref": "VoluntaryNutritionFact"
          }
        },
        "saturatedFat": {
          "description": "Saturated fat.",
          "$ref": "FloatUnit"
        },
        "ironDailyPercentage": {
          "format": "double",
          "description": "Iron daily percentage.",
          "type": "number"
        },
        "calcium": {
          "description": "Calcium.",
          "$ref": "FloatUnit"
        },
        "proteinDailyPercentage": {
          "type": "number",
          "description": "Protein daily percentage.",
          "format": "double"
        },
        "potassiumDailyPercentage": {
          "description": "Potassium daily percentage.",
          "type": "number",
          "format": "double"
        },
        "starch": {
          "description": "Starch.",
          "$ref": "FloatUnit"
        }
      },
      "id": "Nutrition"
    },
    "Certification": {
      "type": "object",
      "id": "Certification",
      "description": "Description of a certification.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Name of the certification."
        },
        "code": {
          "type": "string",
          "description": "Optional. A unique code to identify the certification."
        },
        "link": {
          "type": "string",
          "description": "Optional. A URL link to the certification."
        },
        "validUntil": {
          "description": "Optional. The expiration date (UTC).",
          "type": "string"
        },
        "authority": {
          "description": "Required. Name of the certification body.",
          "type": "string"
        },
        "logo": {
          "description": "Optional. A URL link to the certification logo.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Optional. A custom value of the certification."
        }
      }
    },
    "Issue": {
      "id": "Issue",
      "type": "object",
      "description": "Product issue.",
      "properties": {
        "applicableCountries": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where issue applies to the manufacturer product.",
          "items": {
            "type": "string"
          }
        },
        "severity": {
          "enumDescriptions": [
            "Unspecified severity, never used.",
            "Error severity. The issue prevents the usage of the whole item.",
            "Warning severity. The issue is either one that prevents the usage of the attribute that triggered it or one that will soon prevent the usage of the whole item.",
            "Info severity. The issue is one that doesn't require immediate attention. It is, for example, used to communicate which attributes are still pending review."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "description": "The severity of the issue."
        },
        "resolution": {
          "type": "string",
          "enum": [
            "RESOLUTION_UNSPECIFIED",
            "USER_ACTION",
            "PENDING_PROCESSING"
          ],
          "enumDescriptions": [
            "Unspecified resolution, never used.",
            "The user who provided the data must act in order to resolve the issue (for example by correcting some data).",
            "The issue will be resolved automatically (for example image crawl or Google review). No action is required now. Resolution might lead to another issue (for example if crawl fails)."
          ],
          "description": "What needs to happen to resolve the issue."
        },
        "title": {
          "description": "Short title describing the nature of the issue.",
          "type": "string"
        },
        "attribute": {
          "type": "string",
          "description": "If present, the attribute that triggered the issue. For more information about attributes, see https://support.google.com/manufacturers/answer/6124116."
        },
        "destination": {
          "type": "string",
          "description": "The destination this issue applies to."
        },
        "timestamp": {
          "type": "string",
          "description": "The timestamp when this issue appeared.",
          "format": "google-datetime"
        },
        "description": {
          "description": "Longer description of the issue focused on how to resolve it.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The server-generated type of the issue, for example, “INCORRECT_TEXT_FORMATTING”, “IMAGE_NOT_SERVEABLE”, etc."
        }
      }
    },
    "FloatUnit": {
      "type": "object",
      "description": "Combination of float amount and unit.",
      "properties": {
        "amount": {
          "type": "number",
          "description": "amount.",
          "format": "double"
        },
        "unit": {
          "description": "unit.",
          "type": "string"
        }
      },
      "id": "FloatUnit"
    },
    "Attributes": {
      "description": "Attributes of the product. For more information, see https://support.google.com/manufacturers/answer/6124116.",
      "type": "object",
      "properties": {
        "count": {
          "description": "The count of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#count.",
          "$ref": "Count"
        },
        "nutrition": {
          "$ref": "Nutrition",
          "description": "Nutrition Attributes. See more at https://support.google.com/manufacturers/answer/12098458#food-servings."
        },
        "certification": {
          "type": "array",
          "items": {
            "$ref": "GoogleShoppingManufacturersV1ProductCertification"
          },
          "description": "Optional. List of certifications claimed by this product."
        },
        "grocery": {
          "description": "Grocery Attributes. See more at https://support.google.com/manufacturers/answer/12098458#grocery.",
          "$ref": "Grocery"
        },
        "description": {
          "type": "string",
          "description": "The description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#description."
        },
        "size": {
          "type": "string",
          "description": "The size of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#size."
        },
        "theme": {
          "type": "string",
          "description": "The theme of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#theme."
        },
        "title": {
          "description": "The title of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#title.",
          "type": "string"
        },
        "richProductContent": {
          "items": {
            "type": "string"
          },
          "description": "Rich product content. For more information, see https://support.google.com/manufacturers/answer/9389865",
          "type": "array"
        },
        "mpn": {
          "description": "The Manufacturer Part Number (MPN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#mpn.",
          "type": "string"
        },
        "virtualModelLink": {
          "type": "string",
          "description": "Virtual Model (3d) asset link."
        },
        "pattern": {
          "type": "string",
          "description": "The pattern of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#pattern."
        },
        "suggestedRetailPrice": {
          "$ref": "Price",
          "description": "The suggested retail price (MSRP) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#price."
        },
        "itemGroupId": {
          "description": "The item group id of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#itemgroupid.",
          "type": "string"
        },
        "disclosureDate": {
          "description": "The disclosure date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#disclosure.",
          "type": "string"
        },
        "sizeSystem": {
          "type": "string",
          "description": "The size system of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizesystem."
        },
        "productHighlight": {
          "items": {
            "type": "string"
          },
          "description": "The product highlights. For more information, see https://support.google.com/manufacturers/answer/10066942",
          "type": "array"
        },
        "videoLink": {
          "description": "The videos of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#video.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ageGroup": {
          "type": "string",
          "description": "The target age group of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#agegroup."
        },
        "intendedCountry": {
          "description": "Optional. List of countries to show this product in. Countries provided in this attribute will override any of the countries configured at feed level. The values should be: the [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the countries in which this item will be shown.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "scent": {
          "description": "The scent of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#scent.",
          "type": "string"
        },
        "targetClientId": {
          "type": "string",
          "description": "The target client id. Should only be used in the accounts of the data partners. For more information, see https://support.google.com/manufacturers/answer/10857344"
        },
        "includedDestination": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of included destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550"
        },
        "sizeType": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The size type of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizetype."
        },
        "gtin": {
          "description": "The Global Trade Item Number (GTIN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gtin.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "color": {
          "type": "string",
          "description": "The color of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#color."
        },
        "productType": {
          "items": {
            "type": "string"
          },
          "description": "The type or category of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#producttype.",
          "type": "array"
        },
        "productPageUrl": {
          "description": "The URL of the detail page of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productpage.",
          "type": "string"
        },
        "brand": {
          "description": "The brand name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#brand.",
          "type": "string"
        },
        "gender": {
          "description": "The target gender of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gender.",
          "type": "string"
        },
        "capacity": {
          "description": "The capacity of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity.",
          "$ref": "Capacity"
        },
        "productName": {
          "description": "The canonical name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productname.",
          "type": "string"
        },
        "excludedDestination": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of excluded destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550"
        },
        "flavor": {
          "description": "The flavor of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#flavor.",
          "type": "string"
        },
        "productDetail": {
          "type": "array",
          "description": "The details of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail.",
          "items": {
            "$ref": "ProductDetail"
          }
        },
        "productLine": {
          "type": "string",
          "description": "The name of the group of products related to the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productline."
        },
        "imageLink": {
          "description": "The image of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#image.",
          "$ref": "Image"
        },
        "featureDescription": {
          "items": {
            "$ref": "FeatureDescription"
          },
          "description": "The rich format description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
          "type": "array"
        },
        "format": {
          "description": "The format of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#format.",
          "type": "string"
        },
        "material": {
          "type": "string",
          "description": "The material of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#material."
        },
        "additionalImageLink": {
          "items": {
            "$ref": "Image"
          },
          "type": "array",
          "description": "The additional images of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#addlimage."
        },
        "releaseDate": {
          "type": "string",
          "description": "The release date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#release."
        }
      },
      "id": "Attributes"
    },
    "Grocery": {
      "properties": {
        "activeIngredients": {
          "description": "Active ingredients.",
          "type": "string"
        },
        "indications": {
          "description": "Indications.",
          "type": "string"
        },
        "ingredients": {
          "description": "Ingredients.",
          "type": "string"
        },
        "derivedNutritionClaim": {
          "description": "Derived nutrition claim.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allergens": {
          "description": "Allergens.",
          "type": "string"
        },
        "directions": {
          "description": "Directions.",
          "type": "string"
        },
        "storageInstructions": {
          "type": "string",
          "description": "Storage instructions."
        },
        "nutritionClaim": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Nutrition claim."
        },
        "alcoholByVolume": {
          "format": "double",
          "type": "number",
          "description": "Alcohol by volume."
        }
      },
      "id": "Grocery",
      "type": "object"
    },
    "ProductCertification": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637."
        },
        "productCode": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Another name for GTIN."
        },
        "productType": {
          "description": "Optional. These are your own product categorization system in your product data.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "brand": {
          "type": "string",
          "description": "Required. This is the product's brand name. The brand is used to help identify your product."
        },
        "title": {
          "type": "string",
          "description": "Required. This is to clearly identify the product you are certifying."
        },
        "countryCode": {
          "description": "Optional. A 2-letter country code (ISO 3166-1 Alpha 2).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "destinationStatuses": {
          "items": {
            "$ref": "DestinationStatus"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The statuses of the destinations."
        },
        "mpn": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. These are the Manufacturer Part Numbers (MPN). MPNs are used to uniquely identify a specific product among all products from the same manufacturer"
        },
        "certification": {
          "description": "Required. A list of certifications to link to the described product.",
          "items": {
            "$ref": "Certification"
          },
          "type": "array"
        },
        "issues": {
          "description": "Output only. A server-generated list of issues associated with the product.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Issue"
          }
        }
      },
      "description": "Product certification data.",
      "id": "ProductCertification"
    },
    "VoluntaryNutritionFact": {
      "id": "VoluntaryNutritionFact",
      "description": "Voluntary Nutrition Facts.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name.",
          "type": "string"
        },
        "dailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Daily percentage."
        },
        "value": {
          "description": "Value.",
          "$ref": "FloatUnit"
        }
      }
    },
    "Image": {
      "description": "An image.",
      "type": "object",
      "id": "Image",
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING_PROCESSING",
            "PENDING_CRAWL",
            "OK",
            "ROBOTED",
            "XROBOTED",
            "CRAWL_ERROR",
            "PROCESSING_ERROR",
            "DECODING_ERROR",
            "TOO_BIG",
            "CRAWL_SKIPPED",
            "HOSTLOADED",
            "HTTP_404"
          ],
          "description": "The status of the image. @OutputOnly",
          "enumDescriptions": [
            "The image status is unspecified. Should not be used.",
            "The image was uploaded and is being processed.",
            "The image crawl is still pending.",
            "The image was processed and it meets the requirements.",
            "The image URL is protected by robots.txt file and cannot be crawled.",
            "The image URL is protected by X-Robots-Tag and cannot be crawled.",
            "There was an error while crawling the image.",
            "The image cannot be processed.",
            "The image cannot be decoded.",
            "The image is too big.",
            "The image was manually overridden and will not be crawled.",
            "The image crawl was postponed to avoid overloading the host.",
            "The image URL returned a \"404 Not Found\" error."
          ]
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CRAWLED",
            "UPLOADED"
          ],
          "enumDescriptions": [
            "Type is unspecified. Should not be used.",
            "The image was crawled from a provided URL.",
            "The image was uploaded."
          ],
          "description": "The type of the image, i.e., crawled or uploaded. @OutputOnly"
        },
        "imageUrl": {
          "type": "string",
          "description": "The URL of the image. For crawled images, this is the provided URL. For uploaded images, this is a serving URL from Google if the image has been processed successfully."
        }
      }
    },
    "Product": {
      "type": "object",
      "properties": {
        "targetCountry": {
          "description": "The target country of the product as a CLDR territory code (for example, US).",
          "type": "string"
        },
        "feedLabel": {
          "type": "string",
          "description": "Optional. The feed label for the product."
        },
        "attributes": {
          "description": "Attributes of the product uploaded to the Manufacturer Center. Manually edited attributes are taken into account.",
          "$ref": "Attributes"
        },
        "issues": {
          "items": {
            "$ref": "Issue"
          },
          "description": "A server-generated list of issues associated with the product.",
          "type": "array"
        },
        "parent": {
          "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
          "type": "string"
        },
        "contentLanguage": {
          "description": "The content language of the product as a two-letter ISO 639-1 language code (for example, en).",
          "type": "string"
        },
        "name": {
          "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
          "type": "string"
        },
        "destinationStatuses": {
          "type": "array",
          "items": {
            "$ref": "DestinationStatus"
          },
          "description": "The status of the destinations."
        },
        "productId": {
          "description": "The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
          "type": "string"
        }
      },
      "description": "Product data.",
      "id": "Product"
    },
    "ListProductsResponse": {
      "properties": {
        "products": {
          "type": "array",
          "items": {
            "$ref": "Product"
          },
          "description": "List of the products."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of product statuses."
        }
      },
      "type": "object",
      "id": "ListProductsResponse"
    },
    "ProductDetail": {
      "properties": {
        "sectionName": {
          "description": "A short section name that can be reused between multiple product details.",
          "type": "string"
        },
        "attributeValue": {
          "description": "The value of the attribute.",
          "type": "string"
        },
        "attributeName": {
          "description": "The name of the attribute.",
          "type": "string"
        }
      },
      "description": "A product detail of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail.",
      "type": "object",
      "id": "ProductDetail"
    },
    "Capacity": {
      "type": "object",
      "id": "Capacity",
      "properties": {
        "unit": {
          "description": "The unit of the capacity, i.e., MB, GB, or TB.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The numeric value of the capacity.",
          "format": "int64"
        }
      },
      "description": "The capacity of a product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity."
    },
    "ListProductCertificationsResponse": {
      "type": "object",
      "properties": {
        "productCertifications": {
          "items": {
            "$ref": "ProductCertification"
          },
          "type": "array",
          "description": "The product certifications from the specified certification body."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListProductCertificationsResponse",
      "description": "Response for ListProductCertifications method."
    },
    "Price": {
      "type": "object",
      "properties": {
        "amount": {
          "type": "string",
          "description": "The numeric value of the price."
        },
        "currency": {
          "type": "string",
          "description": "The currency in which the price is denoted."
        }
      },
      "description": "A price.",
      "id": "Price"
    },
    "GoogleShoppingManufacturersV1ProductCertification": {
      "id": "GoogleShoppingManufacturersV1ProductCertification",
      "properties": {
        "authority": {
          "description": "Required. Name of the certification body.",
          "type": "string"
        },
        "logo": {
          "type": "string",
          "description": "Optional. A URL link to the certification logo."
        },
        "value": {
          "type": "string",
          "description": "Optional. A custom value of the certification."
        },
        "code": {
          "description": "Optional. A unique code to identify the certification.",
          "type": "string"
        },
        "link": {
          "type": "string",
          "description": "Optional. A URL link to the certification."
        },
        "validUntil": {
          "type": "string",
          "description": "Optional. The expiration date (UTC)."
        },
        "name": {
          "description": "Required. Name of the certification.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Description of a certification."
    },
    "Count": {
      "id": "Count",
      "type": "object",
      "description": "The number of products in a single package. For more information, see https://support.google.com/manufacturers/answer/6124116#count.",
      "properties": {
        "unit": {
          "type": "string",
          "description": "The unit in which these products are counted."
        },
        "value": {
          "description": "The numeric value of the number of products in a package.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "FeatureDescription": {
      "type": "object",
      "properties": {
        "text": {
          "description": "A detailed description of the feature.",
          "type": "string"
        },
        "image": {
          "description": "An optional image describing the feature.",
          "$ref": "Image"
        },
        "headline": {
          "type": "string",
          "description": "A short description of the feature."
        }
      },
      "description": "A feature description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
      "id": "FeatureDescription"
    },
    "DestinationStatus": {
      "description": "The destination status.",
      "id": "DestinationStatus",
      "type": "object",
      "properties": {
        "disapprovedCountries": {
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is disapproved.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "approvedCountries": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is approved."
        },
        "pendingCountries": {
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is pending approval.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "destination": {
          "description": "The name of the destination.",
          "type": "string"
        },
        "status": {
          "description": "The status of the destination.",
          "enumDescriptions": [
            "Unspecified status, never used.",
            "The product is used for this destination.",
            "The decision is still pending.",
            "The product is disapproved. Please look at the issues."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "ACTIVE",
            "PENDING",
            "DISAPPROVED"
          ]
        }
      }
    }
  },
  "mtlsRootUrl": "https://manufacturers.mtls.googleapis.com/",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "resources": {
    "accounts": {
      "resources": {
        "products": {
          "methods": {
            "update": {
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "parameterOrder": [
                "parent",
                "name"
              ],
              "httpMethod": "PUT",
              "id": "manufacturers.accounts.products.update",
              "request": {
                "$ref": "Attributes"
              },
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "parent": {
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+$"
                },
                "name": {
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$"
                }
              },
              "description": "Inserts or updates the attributes of the product in a Manufacturer Center account. Creates a product with the provided attributes. If the product already exists, then all attributes are replaced with the new ones. The checks at upload time are minimal. All required attributes need to be present for a product to be valid. Issues may show up later after the API has accepted a new upload for a product and it is possible to overwrite an existing valid product with an invalid product. To detect this, you should retrieve the product and check it for issues once the new version is available. Uploaded attributes first need to be processed before they can be retrieved. Until then, new products will be unavailable, and retrieval of previously uploaded products will return the original state of the product.",
              "path": "v1/{+parent}/products/{+name}"
            },
            "get": {
              "parameters": {
                "include": {
                  "location": "query",
                  "description": "The information to be included in the response. Only sections listed here will be returned.",
                  "type": "string",
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ],
                  "repeated": true,
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ]
                },
                "parent": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "location": "path",
                  "required": true
                },
                "name": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "response": {
                "$ref": "Product"
              },
              "parameterOrder": [
                "parent",
                "name"
              ],
              "id": "manufacturers.accounts.products.get",
              "path": "v1/{+parent}/products/{+name}",
              "description": "Gets the product from a Manufacturer Center account, including product issues. A recently updated product takes around 15 minutes to process. Changes are only visible after it has been processed. While some issues may be available once the product has been processed, other issues may take days to appear."
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "parent",
                "name"
              ],
              "description": "Deletes the product from a Manufacturer Center account.",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id."
                },
                "parent": {
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "id": "manufacturers.accounts.products.delete",
              "path": "v1/{+parent}/products/{+name}"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "id": "manufacturers.accounts.products.list",
              "path": "v1/{+parent}/products",
              "response": {
                "$ref": "ListProductsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The token returned by the previous request."
                },
                "parent": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "location": "path",
                  "required": true
                },
                "include": {
                  "repeated": true,
                  "type": "string",
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ],
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ],
                  "location": "query",
                  "description": "The information to be included in the response. Only sections listed here will be returned."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Maximum number of product statuses to return in the response, used for paging.",
                  "type": "integer"
                }
              },
              "flatPath": "v1/accounts/{accountsId}/products",
              "description": "Lists all the products in a Manufacturer Center account.",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "languages": {
          "resources": {
            "productCertifications": {
              "methods": {
                "patch": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "request": {
                    "$ref": "ProductCertification"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "description": "Updates (or creates if allow_missing = true) a product certification which links certifications with products. This method can only be called by certification bodies.",
                  "id": "manufacturers.accounts.languages.productCertifications.patch",
                  "parameters": {
                    "updateMask": {
                      "description": "Optional. The list of fields to update according to aip.dev/134. However, only full update is supported as of right now. Therefore, it can be either ignored or set to \"*\". Setting any other values will returns UNIMPLEMENTED error.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}"
                },
                "list": {
                  "id": "manufacturers.accounts.languages.productCertifications.list",
                  "parameters": {
                    "parent": {
                      "pattern": "^accounts/[^/]+/languages/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent, which owns this collection of product certifications. Format: accounts/{account}/languages/{language_code}"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListProductCertifications` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductCertifications` must match the call that provided the page token. Required if requesting the second or higher page.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of product certifications to return. The service may return fewer than this value. If unspecified, at most 50 product certifications will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications",
                  "path": "v1/{+parent}/productCertifications",
                  "response": {
                    "$ref": "ListProductCertificationsResponse"
                  },
                  "description": "Lists product certifications from a specified certification body. This method can only be called by certification bodies."
                },
                "get": {
                  "id": "manufacturers.accounts.languages.productCertifications.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "description": "Gets a product certification by its name. This method can only be called by certification bodies.",
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the product certification to get. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the product certification to delete. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "id": "manufacturers.accounts.languages.productCertifications.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a product certification by its name. This method can only be called by certification bodies.",
                  "response": {
                    "$ref": "Empty"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "version_module": true,
  "rootUrl": "https://manufacturers.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Manufacturer Center",
  "servicePath": ""
}