{
  "ownerName": "Google",
  "id": "manufacturers:v1",
  "rootUrl": "https://manufacturers.googleapis.com/",
  "description": "Public API for managing Manufacturer Center related data.",
  "protocol": "rest",
  "baseUrl": "https://manufacturers.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/manufacturercenter": {
          "description": "Manage your product listings for Google Manufacturer Center"
        }
      }
    }
  },
  "mtlsRootUrl": "https://manufacturers.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "title": "Manufacturer Center API",
  "ownerDomain": "google.com",
  "revision": "20260828",
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "basePath": "",
  "version": "v1",
  "batchPath": "batch",
  "name": "manufacturers",
  "documentationLink": "https://developers.google.com/manufacturers/",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Manufacturer Center",
  "discoveryVersion": "v1",
  "resources": {
    "accounts": {
      "resources": {
        "products": {
          "methods": {
            "get": {
              "response": {
                "$ref": "Product"
              },
              "description": "Gets the product from a Manufacturer Center account, including product issues. A recently updated product takes around 15 minutes to process. Changes are only visible after it has been processed. While some issues may be available once the product has been processed, other issues may take days to appear.",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "path": "v1/{+parent}/products/{+name}",
              "httpMethod": "GET",
              "id": "manufacturers.accounts.products.get",
              "parameters": {
                "name": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "type": "string"
                },
                "include": {
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ],
                  "repeated": true,
                  "type": "string",
                  "description": "The information to be included in the response. Only sections listed here will be returned.",
                  "location": "query",
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ]
                }
              },
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}"
            },
            "update": {
              "id": "manufacturers.accounts.products.update",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+$"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id."
                }
              },
              "path": "v1/{+parent}/products/{+name}",
              "parameterOrder": [
                "parent",
                "name"
              ],
              "httpMethod": "PUT",
              "request": {
                "$ref": "Attributes"
              },
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "description": "Inserts or updates the attributes of the product in a Manufacturer Center account. Creates a product with the provided attributes. If the product already exists, then all attributes are replaced with the new ones. The checks at upload time are minimal. All required attributes need to be present for a product to be valid. Issues may show up later after the API has accepted a new upload for a product and it is possible to overwrite an existing valid product with an invalid product. To detect this, you should retrieve the product and check it for issues once the new version is available. Uploaded attributes first need to be processed before they can be retrieved. Until then, new products will be unavailable, and retrieval of previously uploaded products will return the original state of the product."
            },
            "delete": {
              "flatPath": "v1/accounts/{accountsId}/products/{productsId}",
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "id": "manufacturers.accounts.products.delete",
              "description": "Deletes the product from a Manufacturer Center account.",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "path": "v1/{+parent}/products/{+name}",
              "parameterOrder": [
                "parent",
                "name"
              ]
            },
            "list": {
              "id": "manufacturers.accounts.products.list",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListProductsResponse"
              },
              "description": "Lists all the products in a Manufacturer Center account.",
              "scopes": [
                "https://www.googleapis.com/auth/manufacturercenter"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum number of product statuses to return in the response, used for paging.",
                  "location": "query"
                },
                "include": {
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "UNKNOWN",
                    "ATTRIBUTES",
                    "ISSUES",
                    "DESTINATION_STATUSES"
                  ],
                  "repeated": true,
                  "description": "The information to be included in the response. Only sections listed here will be returned.",
                  "enumDescriptions": [
                    "Unknown, never used.",
                    "Include the attributes of the product.",
                    "Include the issues of the product.",
                    "Include the destination statuses of the product."
                  ]
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account."
                },
                "pageToken": {
                  "location": "query",
                  "description": "The token returned by the previous request.",
                  "type": "string"
                }
              },
              "flatPath": "v1/accounts/{accountsId}/products",
              "path": "v1/{+parent}/products"
            }
          }
        },
        "languages": {
          "resources": {
            "productCertifications": {
              "methods": {
                "list": {
                  "parameters": {
                    "parent": {
                      "pattern": "^accounts/[^/]+/languages/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent, which owns this collection of product certifications. Format: accounts/{account}/languages/{language_code}"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListProductCertifications` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductCertifications` must match the call that provided the page token. Required if requesting the second or higher page.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of product certifications to return. The service may return fewer than this value. If unspecified, at most 50 product certifications will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "id": "manufacturers.accounts.languages.productCertifications.list",
                  "path": "v1/{+parent}/productCertifications",
                  "httpMethod": "GET",
                  "description": "Lists product certifications from a specified certification body. This method can only be called by certification bodies.",
                  "response": {
                    "$ref": "ListProductCertificationsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the product certification to delete. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a product certification by its name. This method can only be called by certification bodies.",
                  "id": "manufacturers.accounts.languages.productCertifications.delete"
                },
                "patch": {
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "ProductCertification"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to update according to aip.dev/134. However, only full update is supported as of right now. Therefore, it can be either ignored or set to \"*\". Setting any other values will returns UNIMPLEMENTED error.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637."
                    }
                  },
                  "id": "manufacturers.accounts.languages.productCertifications.patch",
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "description": "Updates (or creates if allow_missing = true) a product certification which links certifications with products. This method can only be called by certification bodies."
                },
                "get": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "ProductCertification"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/manufacturercenter"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the product certification to get. Format: accounts/{account}/languages/{language_code}/productCertifications/{id}",
                      "pattern": "^accounts/[^/]+/languages/[^/]+/productCertifications/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "manufacturers.accounts.languages.productCertifications.get",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/accounts/{accountsId}/languages/{languagesId}/productCertifications/{productCertificationsId}",
                  "description": "Gets a product certification by its name. This method can only be called by certification bodies."
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "Capacity": {
      "type": "object",
      "id": "Capacity",
      "properties": {
        "unit": {
          "description": "The unit of the capacity, i.e., MB, GB, or TB.",
          "type": "string"
        },
        "value": {
          "format": "int64",
          "description": "The numeric value of the capacity.",
          "type": "string"
        }
      },
      "description": "The capacity of a product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity."
    },
    "DestinationStatus": {
      "id": "DestinationStatus",
      "description": "The destination status.",
      "type": "object",
      "properties": {
        "status": {
          "description": "The status of the destination.",
          "enumDescriptions": [
            "Unspecified status, never used.",
            "The product is used for this destination.",
            "The decision is still pending.",
            "The product is disapproved. Please look at the issues."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "ACTIVE",
            "PENDING",
            "DISAPPROVED"
          ]
        },
        "destination": {
          "description": "The name of the destination.",
          "type": "string"
        },
        "disapprovedCountries": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is disapproved."
        },
        "pendingCountries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is pending approval."
        },
        "approvedCountries": {
          "items": {
            "type": "string"
          },
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where the offer is approved.",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "ListProductsResponse": {
      "id": "ListProductsResponse",
      "properties": {
        "products": {
          "type": "array",
          "description": "List of the products.",
          "items": {
            "$ref": "Product"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the retrieval of the next page of product statuses."
        }
      },
      "type": "object"
    },
    "Attributes": {
      "description": "Attributes of the product. For more information, see https://support.google.com/manufacturers/answer/6124116.",
      "id": "Attributes",
      "type": "object",
      "properties": {
        "count": {
          "description": "The count of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#count.",
          "$ref": "Count"
        },
        "productType": {
          "items": {
            "type": "string"
          },
          "description": "The type or category of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#producttype.",
          "type": "array"
        },
        "color": {
          "type": "string",
          "description": "The color of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#color."
        },
        "nutrition": {
          "description": "Nutrition Attributes. See more at https://support.google.com/manufacturers/answer/12098458#food-servings.",
          "$ref": "Nutrition"
        },
        "virtualModelLink": {
          "description": "Virtual Model (3d) asset link.",
          "type": "string"
        },
        "flavor": {
          "description": "The flavor of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#flavor.",
          "type": "string"
        },
        "targetClientId": {
          "description": "The target client id. Should only be used in the accounts of the data partners. For more information, see https://support.google.com/manufacturers/answer/10857344",
          "type": "string"
        },
        "productHighlight": {
          "type": "array",
          "description": "The product highlights. For more information, see https://support.google.com/manufacturers/answer/10066942",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "description": "The title of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#title.",
          "type": "string"
        },
        "format": {
          "description": "The format of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#format.",
          "type": "string"
        },
        "itemGroupId": {
          "description": "The item group id of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#itemgroupid.",
          "type": "string"
        },
        "includedDestination": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of included destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550"
        },
        "capacity": {
          "description": "The capacity of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#capacity.",
          "$ref": "Capacity"
        },
        "description": {
          "description": "The description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#description.",
          "type": "string"
        },
        "excludedDestination": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of excluded destinations such as \"ClientExport\", \"ClientShoppingCatalog\" or \"PartnerShoppingCatalog\". For more information, see https://support.google.com/manufacturers/answer/7443550"
        },
        "grocery": {
          "description": "Grocery Attributes. See more at https://support.google.com/manufacturers/answer/12098458#grocery.",
          "$ref": "Grocery"
        },
        "productDetail": {
          "items": {
            "$ref": "ProductDetail"
          },
          "type": "array",
          "description": "The details of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail."
        },
        "suggestedRetailPrice": {
          "description": "The suggested retail price (MSRP) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#price.",
          "$ref": "Price"
        },
        "gender": {
          "description": "The target gender of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gender.",
          "type": "string"
        },
        "intendedCountry": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of countries to show this product in. Countries provided in this attribute will override any of the countries configured at feed level. The values should be: the [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the countries in which this item will be shown."
        },
        "videoLink": {
          "description": "The videos of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#video.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "pattern": {
          "description": "The pattern of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#pattern.",
          "type": "string"
        },
        "releaseDate": {
          "type": "string",
          "description": "The release date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#release."
        },
        "scent": {
          "type": "string",
          "description": "The scent of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#scent."
        },
        "certification": {
          "type": "array",
          "items": {
            "$ref": "GoogleShoppingManufacturersV1ProductCertification"
          },
          "description": "Optional. List of certifications claimed by this product."
        },
        "productPageUrl": {
          "type": "string",
          "description": "The URL of the detail page of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productpage."
        },
        "mpn": {
          "description": "The Manufacturer Part Number (MPN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#mpn.",
          "type": "string"
        },
        "size": {
          "description": "The size of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#size.",
          "type": "string"
        },
        "brand": {
          "description": "The brand name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#brand.",
          "type": "string"
        },
        "productName": {
          "description": "The canonical name of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productname.",
          "type": "string"
        },
        "richProductContent": {
          "description": "Rich product content. For more information, see https://support.google.com/manufacturers/answer/9389865",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "imageLink": {
          "description": "The image of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#image.",
          "$ref": "Image"
        },
        "productLine": {
          "description": "The name of the group of products related to the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productline.",
          "type": "string"
        },
        "gtin": {
          "description": "The Global Trade Item Number (GTIN) of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#gtin.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "theme": {
          "type": "string",
          "description": "The theme of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#theme."
        },
        "sizeType": {
          "items": {
            "type": "string"
          },
          "description": "The size type of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizetype.",
          "type": "array"
        },
        "sizeSystem": {
          "type": "string",
          "description": "The size system of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#sizesystem."
        },
        "material": {
          "type": "string",
          "description": "The material of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#material."
        },
        "featureDescription": {
          "type": "array",
          "description": "The rich format description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
          "items": {
            "$ref": "FeatureDescription"
          }
        },
        "additionalImageLink": {
          "description": "The additional images of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#addlimage.",
          "items": {
            "$ref": "Image"
          },
          "type": "array"
        },
        "ageGroup": {
          "description": "The target age group of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#agegroup.",
          "type": "string"
        },
        "disclosureDate": {
          "type": "string",
          "description": "The disclosure date of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#disclosure."
        }
      }
    },
    "ProductCertification": {
      "description": "Product certification data.",
      "type": "object",
      "properties": {
        "productCode": {
          "type": "array",
          "description": "Optional. Another name for GTIN.",
          "items": {
            "type": "string"
          }
        },
        "productType": {
          "description": "Optional. These are your own product categorization system in your product data.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "brand": {
          "type": "string",
          "description": "Required. This is the product's brand name. The brand is used to help identify your product."
        },
        "title": {
          "description": "Required. This is to clearly identify the product you are certifying.",
          "type": "string"
        },
        "destinationStatuses": {
          "items": {
            "$ref": "DestinationStatus"
          },
          "description": "Output only. The statuses of the destinations.",
          "readOnly": true,
          "type": "array"
        },
        "countryCode": {
          "description": "Optional. A 2-letter country code (ISO 3166-1 Alpha 2).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "certification": {
          "items": {
            "$ref": "Certification"
          },
          "description": "Required. A list of certifications to link to the described product.",
          "type": "array"
        },
        "mpn": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. These are the Manufacturer Part Numbers (MPN). MPNs are used to uniquely identify a specific product among all products from the same manufacturer"
        },
        "issues": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Issue"
          },
          "description": "Output only. A server-generated list of issues associated with the product."
        },
        "name": {
          "description": "Required. The unique name identifier of a product certification Format: accounts/{account}/languages/{language_code}/productCertifications/{id} Where `id` is a some unique identifier and `language_code` is a 2-letter ISO 639-1 code of a Shopping supported language according to https://support.google.com/merchants/answer/160637.",
          "type": "string"
        }
      },
      "id": "ProductCertification"
    },
    "FloatUnit": {
      "id": "FloatUnit",
      "type": "object",
      "properties": {
        "unit": {
          "type": "string",
          "description": "unit."
        },
        "amount": {
          "format": "double",
          "type": "number",
          "description": "amount."
        }
      },
      "description": "Combination of float amount and unit."
    },
    "Grocery": {
      "properties": {
        "activeIngredients": {
          "type": "string",
          "description": "Active ingredients."
        },
        "ingredients": {
          "description": "Ingredients.",
          "type": "string"
        },
        "nutritionClaim": {
          "description": "Nutrition claim.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "storageInstructions": {
          "type": "string",
          "description": "Storage instructions."
        },
        "directions": {
          "description": "Directions.",
          "type": "string"
        },
        "allergens": {
          "type": "string",
          "description": "Allergens."
        },
        "derivedNutritionClaim": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Derived nutrition claim."
        },
        "alcoholByVolume": {
          "format": "double",
          "type": "number",
          "description": "Alcohol by volume."
        },
        "indications": {
          "description": "Indications.",
          "type": "string"
        }
      },
      "id": "Grocery",
      "type": "object"
    },
    "Issue": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Longer description of the issue focused on how to resolve it."
        },
        "destination": {
          "description": "The destination this issue applies to.",
          "type": "string"
        },
        "applicableCountries": {
          "description": "Output only. List of country codes (ISO 3166-1 alpha-2) where issue applies to the manufacturer product.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "attribute": {
          "description": "If present, the attribute that triggered the issue. For more information about attributes, see https://support.google.com/manufacturers/answer/6124116.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The server-generated type of the issue, for example, “INCORRECT_TEXT_FORMATTING”, “IMAGE_NOT_SERVEABLE”, etc."
        },
        "title": {
          "description": "Short title describing the nature of the issue.",
          "type": "string"
        },
        "timestamp": {
          "format": "google-datetime",
          "description": "The timestamp when this issue appeared.",
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "Unspecified severity, never used.",
            "Error severity. The issue prevents the usage of the whole item.",
            "Warning severity. The issue is either one that prevents the usage of the attribute that triggered it or one that will soon prevent the usage of the whole item.",
            "Info severity. The issue is one that doesn't require immediate attention. It is, for example, used to communicate which attributes are still pending review."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "description": "The severity of the issue."
        },
        "resolution": {
          "type": "string",
          "description": "What needs to happen to resolve the issue.",
          "enum": [
            "RESOLUTION_UNSPECIFIED",
            "USER_ACTION",
            "PENDING_PROCESSING"
          ],
          "enumDescriptions": [
            "Unspecified resolution, never used.",
            "The user who provided the data must act in order to resolve the issue (for example by correcting some data).",
            "The issue will be resolved automatically (for example image crawl or Google review). No action is required now. Resolution might lead to another issue (for example if crawl fails)."
          ]
        }
      },
      "id": "Issue",
      "description": "Product issue."
    },
    "Certification": {
      "properties": {
        "authority": {
          "description": "Required. Name of the certification body.",
          "type": "string"
        },
        "link": {
          "type": "string",
          "description": "Optional. A URL link to the certification."
        },
        "validUntil": {
          "description": "Optional. The expiration date (UTC).",
          "type": "string"
        },
        "code": {
          "description": "Optional. A unique code to identify the certification.",
          "type": "string"
        },
        "value": {
          "description": "Optional. A custom value of the certification.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the certification."
        },
        "logo": {
          "type": "string",
          "description": "Optional. A URL link to the certification logo."
        }
      },
      "description": "Description of a certification.",
      "type": "object",
      "id": "Certification"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "GoogleShoppingManufacturersV1ProductCertification": {
      "id": "GoogleShoppingManufacturersV1ProductCertification",
      "properties": {
        "validUntil": {
          "description": "Optional. The expiration date (UTC).",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "Optional. A unique code to identify the certification."
        },
        "authority": {
          "type": "string",
          "description": "Required. Name of the certification body."
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the certification."
        },
        "logo": {
          "description": "Optional. A URL link to the certification logo.",
          "type": "string"
        },
        "link": {
          "description": "Optional. A URL link to the certification.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Optional. A custom value of the certification."
        }
      },
      "description": "Description of a certification.",
      "type": "object"
    },
    "VoluntaryNutritionFact": {
      "properties": {
        "dailyPercentage": {
          "format": "double",
          "description": "Daily percentage.",
          "type": "number"
        },
        "name": {
          "type": "string",
          "description": "Name."
        },
        "value": {
          "description": "Value.",
          "$ref": "FloatUnit"
        }
      },
      "type": "object",
      "description": "Voluntary Nutrition Facts.",
      "id": "VoluntaryNutritionFact"
    },
    "Nutrition": {
      "id": "Nutrition",
      "properties": {
        "starch": {
          "description": "Starch.",
          "$ref": "FloatUnit"
        },
        "cholesterolDailyPercentage": {
          "format": "double",
          "description": "Cholesterol daily percentage.",
          "type": "number"
        },
        "cholesterol": {
          "description": "Cholesterol.",
          "$ref": "FloatUnit"
        },
        "folateDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Folate daily percentage."
        },
        "totalFat": {
          "description": "Total fat.",
          "$ref": "FloatUnit"
        },
        "preparedSizeDescription": {
          "type": "string",
          "description": "Prepared size description."
        },
        "servingSizeMeasure": {
          "description": "Serving size measure.",
          "$ref": "FloatUnit"
        },
        "potassiumDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Potassium daily percentage."
        },
        "totalCarbohydrate": {
          "description": "Total carbohydrate.",
          "$ref": "FloatUnit"
        },
        "addedSugarsDailyPercentage": {
          "type": "number",
          "description": "Added sugars daily percentage.",
          "format": "double"
        },
        "calcium": {
          "$ref": "FloatUnit",
          "description": "Calcium."
        },
        "energyFromFat": {
          "description": "Energy from fat.",
          "$ref": "FloatUnit"
        },
        "voluntaryNutritionFact": {
          "items": {
            "$ref": "VoluntaryNutritionFact"
          },
          "type": "array",
          "description": "Voluntary nutrition fact."
        },
        "potassium": {
          "$ref": "FloatUnit",
          "description": "Potassium."
        },
        "saturatedFat": {
          "description": "Saturated fat.",
          "$ref": "FloatUnit"
        },
        "addedSugars": {
          "description": "Added sugars.",
          "$ref": "FloatUnit"
        },
        "vitaminD": {
          "description": "Vitamin D.",
          "$ref": "FloatUnit"
        },
        "totalSugarsDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Total sugars daily percentage."
        },
        "dietaryFiber": {
          "$ref": "FloatUnit",
          "description": "Dietary fiber."
        },
        "nutritionFactMeasure": {
          "description": "Nutrition fact measure.",
          "type": "string"
        },
        "totalSugars": {
          "$ref": "FloatUnit",
          "description": "Total sugars."
        },
        "sodium": {
          "$ref": "FloatUnit",
          "description": "Sodium."
        },
        "protein": {
          "description": "Protein.",
          "$ref": "FloatUnit"
        },
        "servingSizeDescription": {
          "description": "Food Serving Size. Serving size description.",
          "type": "string"
        },
        "energy": {
          "description": "Mandatory Nutrition Facts. Energy.",
          "$ref": "FloatUnit"
        },
        "polyols": {
          "description": "Polyols.",
          "$ref": "FloatUnit"
        },
        "iron": {
          "$ref": "FloatUnit",
          "description": "Iron."
        },
        "sodiumDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Sodium daily percentage."
        },
        "vitaminDDailyPercentage": {
          "description": "Vitamin D daily percentage.",
          "format": "double",
          "type": "number"
        },
        "folateMcgDfe": {
          "format": "double",
          "type": "number",
          "description": "Folate mcg DFE."
        },
        "totalCarbohydrateDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Total carbohydrate daily percentage."
        },
        "proteinDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Protein daily percentage."
        },
        "ironDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Iron daily percentage."
        },
        "totalFatDailyPercentage": {
          "format": "double",
          "type": "number",
          "description": "Total fat daily percentage."
        },
        "monounsaturatedFat": {
          "description": "Monounsaturated fat.",
          "$ref": "FloatUnit"
        },
        "calciumDailyPercentage": {
          "description": "Calcium daily percentage.",
          "format": "double",
          "type": "number"
        },
        "servingsPerContainer": {
          "description": "Servings per container.",
          "type": "string"
        },
        "dietaryFiberDailyPercentage": {
          "description": "Dietary fiber daily percentage.",
          "format": "double",
          "type": "number"
        },
        "saturatedFatDailyPercentage": {
          "description": "Saturated fat daily percentage.",
          "format": "double",
          "type": "number"
        },
        "transFatDailyPercentage": {
          "type": "number",
          "format": "double",
          "description": "Trans fat daily percentage."
        },
        "transFat": {
          "description": "Trans fat.",
          "$ref": "FloatUnit"
        },
        "folateFolicAcid": {
          "description": "Folate folic acid.",
          "$ref": "FloatUnit"
        },
        "polyunsaturatedFat": {
          "$ref": "FloatUnit",
          "description": "Polyunsaturated fat."
        }
      },
      "type": "object"
    },
    "ProductDetail": {
      "description": "A product detail of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#productdetail.",
      "id": "ProductDetail",
      "type": "object",
      "properties": {
        "attributeValue": {
          "type": "string",
          "description": "The value of the attribute."
        },
        "sectionName": {
          "description": "A short section name that can be reused between multiple product details.",
          "type": "string"
        },
        "attributeName": {
          "description": "The name of the attribute.",
          "type": "string"
        }
      }
    },
    "Image": {
      "properties": {
        "type": {
          "description": "The type of the image, i.e., crawled or uploaded. @OutputOnly",
          "type": "string",
          "enumDescriptions": [
            "Type is unspecified. Should not be used.",
            "The image was crawled from a provided URL.",
            "The image was uploaded."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CRAWLED",
            "UPLOADED"
          ]
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING_PROCESSING",
            "PENDING_CRAWL",
            "OK",
            "ROBOTED",
            "XROBOTED",
            "CRAWL_ERROR",
            "PROCESSING_ERROR",
            "DECODING_ERROR",
            "TOO_BIG",
            "CRAWL_SKIPPED",
            "HOSTLOADED",
            "HTTP_404"
          ],
          "enumDescriptions": [
            "The image status is unspecified. Should not be used.",
            "The image was uploaded and is being processed.",
            "The image crawl is still pending.",
            "The image was processed and it meets the requirements.",
            "The image URL is protected by robots.txt file and cannot be crawled.",
            "The image URL is protected by X-Robots-Tag and cannot be crawled.",
            "There was an error while crawling the image.",
            "The image cannot be processed.",
            "The image cannot be decoded.",
            "The image is too big.",
            "The image was manually overridden and will not be crawled.",
            "The image crawl was postponed to avoid overloading the host.",
            "The image URL returned a \"404 Not Found\" error."
          ],
          "description": "The status of the image. @OutputOnly",
          "type": "string"
        },
        "imageUrl": {
          "type": "string",
          "description": "The URL of the image. For crawled images, this is the provided URL. For uploaded images, this is a serving URL from Google if the image has been processed successfully."
        }
      },
      "id": "Image",
      "description": "An image.",
      "type": "object"
    },
    "Price": {
      "type": "object",
      "description": "A price.",
      "id": "Price",
      "properties": {
        "amount": {
          "description": "The numeric value of the price.",
          "type": "string"
        },
        "currency": {
          "type": "string",
          "description": "The currency in which the price is denoted."
        }
      }
    },
    "Product": {
      "description": "Product data.",
      "type": "object",
      "id": "Product",
      "properties": {
        "productId": {
          "description": "The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name in the format `{target_country}:{content_language}:{product_id}`. `target_country` - The target country of the product as a CLDR territory code (for example, US). `content_language` - The content language of the product as a two-letter ISO 639-1 language code (for example, en). `product_id` - The ID of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#id."
        },
        "attributes": {
          "$ref": "Attributes",
          "description": "Attributes of the product uploaded to the Manufacturer Center. Manually edited attributes are taken into account."
        },
        "feedLabel": {
          "description": "Optional. The feed label for the product.",
          "type": "string"
        },
        "parent": {
          "description": "Parent ID in the format `accounts/{account_id}`. `account_id` - The ID of the Manufacturer Center account.",
          "type": "string"
        },
        "issues": {
          "items": {
            "$ref": "Issue"
          },
          "type": "array",
          "description": "A server-generated list of issues associated with the product."
        },
        "contentLanguage": {
          "description": "The content language of the product as a two-letter ISO 639-1 language code (for example, en).",
          "type": "string"
        },
        "targetCountry": {
          "description": "The target country of the product as a CLDR territory code (for example, US).",
          "type": "string"
        },
        "destinationStatuses": {
          "description": "The status of the destinations.",
          "items": {
            "$ref": "DestinationStatus"
          },
          "type": "array"
        }
      }
    },
    "ListProductCertificationsResponse": {
      "description": "Response for ListProductCertifications method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "productCertifications": {
          "description": "The product certifications from the specified certification body.",
          "items": {
            "$ref": "ProductCertification"
          },
          "type": "array"
        }
      },
      "id": "ListProductCertificationsResponse"
    },
    "Count": {
      "description": "The number of products in a single package. For more information, see https://support.google.com/manufacturers/answer/6124116#count.",
      "properties": {
        "unit": {
          "description": "The unit in which these products are counted.",
          "type": "string"
        },
        "value": {
          "description": "The numeric value of the number of products in a package.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "Count",
      "type": "object"
    },
    "FeatureDescription": {
      "description": "A feature description of the product. For more information, see https://support.google.com/manufacturers/answer/6124116#featuredesc.",
      "properties": {
        "headline": {
          "description": "A short description of the feature.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "A detailed description of the feature."
        },
        "image": {
          "$ref": "Image",
          "description": "An optional image describing the feature."
        }
      },
      "id": "FeatureDescription",
      "type": "object"
    }
  },
  "version_module": true
}