{
  "basePath": "",
  "servicePath": "",
  "documentationLink": "https://developers.google.com/analytics/devguides/config/gmp/v1",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "baseUrl": "https://marketingplatformadmin.googleapis.com/",
  "schemas": {
    "ReportPropertyUsageRequest": {
      "id": "ReportPropertyUsageRequest",
      "description": "Request message for ReportPropertyUsage RPC.",
      "type": "object",
      "properties": {
        "month": {
          "description": "Required. The target month to list property usages. Format: YYYY-MM. For example, \"2025-05\"",
          "type": "string"
        }
      }
    },
    "AnalyticsAccountLink": {
      "properties": {
        "linkVerificationState": {
          "enumDescriptions": [
            "The link state is unknown.",
            "The link is established.",
            "The link is requested, but hasn't been approved by the product account admin."
          ],
          "enum": [
            "LINK_VERIFICATION_STATE_UNSPECIFIED",
            "LINK_VERIFICATION_STATE_VERIFIED",
            "LINK_VERIFICATION_STATE_NOT_VERIFIED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The verification state of the link between the Analytics account and the parent organization."
        },
        "name": {
          "description": "Identifier. Resource name of this AnalyticsAccountLink. Note the resource ID is the same as the ID of the Analtyics account. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id} Example: \"organizations/xyz/analyticsAccountLinks/1234\"",
          "type": "string"
        },
        "analyticsAccount": {
          "description": "Required. Immutable. The resource name of the AnalyticsAdmin API account. The account ID will be used as the ID of this AnalyticsAccountLink resource, which will become the final component of the resource name. Format: analyticsadmin.googleapis.com/accounts/{account_id}",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The human-readable name for the Analytics account."
        }
      },
      "type": "object",
      "id": "AnalyticsAccountLink",
      "description": "A resource message representing the link between a Google Analytics account and a Google Marketing Platform organization."
    },
    "PropertyUsage": {
      "id": "PropertyUsage",
      "description": "Contains the count of events received by the property, along with metadata that influences the volume of `billable` events.",
      "type": "object",
      "properties": {
        "property": {
          "type": "string",
          "description": "The name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the property."
        },
        "propertyType": {
          "enum": [
            "ANALYTICS_PROPERTY_TYPE_UNSPECIFIED",
            "ANALYTICS_PROPERTY_TYPE_ORDINARY",
            "ANALYTICS_PROPERTY_TYPE_SUBPROPERTY",
            "ANALYTICS_PROPERTY_TYPE_ROLLUP"
          ],
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ],
          "type": "string",
          "description": "The subtype of the analytics property. This affects the billable event count."
        },
        "billableEventCount": {
          "type": "string",
          "description": "The number of events for which the property is billed in the requested month.",
          "format": "int64"
        },
        "totalEventCount": {
          "type": "string",
          "format": "int64",
          "description": "Total event count that the property received during the requested month."
        },
        "accountId": {
          "description": "The ID of the property's parent account.",
          "type": "string",
          "format": "int64"
        },
        "serviceLevel": {
          "enumDescriptions": [
            "Service level unspecified.",
            "The standard version of Google Analytics.",
            "The premium version of Google Analytics."
          ],
          "type": "string",
          "enum": [
            "ANALYTICS_SERVICE_LEVEL_UNSPECIFIED",
            "ANALYTICS_SERVICE_LEVEL_STANDARD",
            "ANALYTICS_SERVICE_LEVEL_360"
          ],
          "description": "The service level of the property."
        }
      }
    },
    "Date": {
      "properties": {
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "id": "Date"
    },
    "ReportPropertyUsageResponse": {
      "properties": {
        "propertyUsages": {
          "description": "Usage data for all properties in the specified organization and month.",
          "type": "array",
          "items": {
            "$ref": "PropertyUsage"
          }
        },
        "billInfo": {
          "description": "Bill amount in the specified organization and month. Will be empty if user only has access to usage data.",
          "$ref": "BillInfo"
        }
      },
      "description": "Response message for ReportPropertyUsage RPC.",
      "id": "ReportPropertyUsageResponse",
      "type": "object"
    },
    "SetPropertyServiceLevelResponse": {
      "id": "SetPropertyServiceLevelResponse",
      "properties": {},
      "description": "Response message for SetPropertyServiceLevel RPC.",
      "type": "object"
    },
    "SetPropertyServiceLevelRequest": {
      "description": "Request message for SetPropertyServiceLevel RPC.",
      "id": "SetPropertyServiceLevelRequest",
      "type": "object",
      "properties": {
        "analyticsProperty": {
          "description": "Required. The Analytics property to change the ServiceLevel setting. This field is the name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}",
          "type": "string"
        },
        "serviceLevel": {
          "enum": [
            "ANALYTICS_SERVICE_LEVEL_UNSPECIFIED",
            "ANALYTICS_SERVICE_LEVEL_STANDARD",
            "ANALYTICS_SERVICE_LEVEL_360"
          ],
          "enumDescriptions": [
            "Service level unspecified.",
            "The standard version of Google Analytics.",
            "The premium version of Google Analytics."
          ],
          "description": "Required. The service level to set for this property.",
          "type": "string"
        }
      }
    },
    "ClientData": {
      "description": "Contains the client data.",
      "properties": {
        "startDate": {
          "$ref": "Date",
          "description": "The start date of the contract between the sales org and the end client."
        },
        "organization": {
          "$ref": "Organization",
          "description": "The end client that has/had contract with the requested sales org."
        },
        "endDate": {
          "$ref": "Date",
          "description": "The end date of the contract between the sales org and the end client."
        }
      },
      "id": "ClientData",
      "type": "object"
    },
    "Money": {
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        },
        "units": {
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string"
        }
      },
      "description": "Represents an amount of money with its currency type.",
      "id": "Money",
      "type": "object"
    },
    "ListOrganizationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "organizations": {
          "description": "The Organization resource that the user has access to, which includes the org id and display name.",
          "type": "array",
          "items": {
            "$ref": "Organization"
          }
        }
      },
      "description": "Response message for ListOrganizations RPC.",
      "type": "object",
      "id": "ListOrganizationsResponse"
    },
    "FindSalesPartnerManagedClientsRequest": {
      "type": "object",
      "description": "Request message for FindSalesPartnerManagedClients RPC.",
      "id": "FindSalesPartnerManagedClientsRequest",
      "properties": {
        "isActive": {
          "description": "Optional. If set, only active and just ended clients will be returned.",
          "type": "boolean"
        }
      }
    },
    "FindSalesPartnerManagedClientsResponse": {
      "id": "FindSalesPartnerManagedClientsResponse",
      "type": "object",
      "description": "Response message for FindSalesPartnerManagedClients RPC.",
      "properties": {
        "clientData": {
          "type": "array",
          "items": {
            "$ref": "ClientData"
          },
          "description": "The clients managed by the sales org."
        }
      }
    },
    "Organization": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the GMP organization. Format: organizations/{org_id}"
        },
        "displayName": {
          "description": "The human-readable name for the organization.",
          "type": "string"
        }
      },
      "description": "A resource message representing a Google Marketing Platform organization.",
      "type": "object",
      "id": "Organization"
    },
    "ListAnalyticsAccountLinksResponse": {
      "type": "object",
      "description": "Response message for ListAnalyticsAccountLinks RPC.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "analyticsAccountLinks": {
          "type": "array",
          "description": "Analytics account links in this organization.",
          "items": {
            "$ref": "AnalyticsAccountLink"
          }
        }
      },
      "id": "ListAnalyticsAccountLinksResponse"
    },
    "BillInfo": {
      "id": "BillInfo",
      "type": "object",
      "properties": {
        "eventFee": {
          "description": "The amount of the event fee.",
          "$ref": "Money"
        },
        "baseFee": {
          "$ref": "Money",
          "description": "The amount of the monthly base fee."
        },
        "priceProtectionCredit": {
          "description": "The amount of the price protection credit, this is only available for eligible customers.",
          "$ref": "Money"
        },
        "total": {
          "description": "The total amount of the bill.",
          "$ref": "Money"
        }
      },
      "description": "Contains the bill amount."
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    }
  },
  "canonicalName": "Google Marketing Platform Admin API",
  "revision": "20260826",
  "kind": "discovery#restDescription",
  "resources": {
    "organizations": {
      "methods": {
        "reportPropertyUsage": {
          "parameterOrder": [
            "organization"
          ],
          "request": {
            "$ref": "ReportPropertyUsageRequest"
          },
          "parameters": {
            "organization": {
              "required": true,
              "type": "string",
              "pattern": "^organizations/[^/]+$",
              "location": "path",
              "description": "Required. Specifies the organization whose property usage will be listed. Format: organizations/{org_id}"
            }
          },
          "description": "Gets the usage and billing data for properties within the organization for the specified month. Per direct client org, user needs to be OrgAdmin/BillingAdmin on the organization in order to view the billing and usage data. Per sales partner client org, user needs to be OrgAdmin/BillingAdmin on the sales partner org in order to view the billing and usage data, or OrgAdmin/BillingAdmin on the sales partner client org in order to view the usage data only.",
          "id": "marketingplatformadmin.organizations.reportPropertyUsage",
          "flatPath": "v1alpha/organizations/{organizationsId}:reportPropertyUsage",
          "path": "v1alpha/{+organization}:reportPropertyUsage",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "response": {
            "$ref": "ReportPropertyUsageResponse"
          }
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "Organization"
          },
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "description": "Looks up a single organization.",
          "id": "marketingplatformadmin.organizations.get",
          "path": "v1alpha/{+name}",
          "flatPath": "v1alpha/organizations/{organizationsId}",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the Organization to retrieve. Format: organizations/{org_id}",
              "pattern": "^organizations/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ]
        },
        "findSalesPartnerManagedClients": {
          "parameterOrder": [
            "organization"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "request": {
            "$ref": "FindSalesPartnerManagedClientsRequest"
          },
          "httpMethod": "POST",
          "id": "marketingplatformadmin.organizations.findSalesPartnerManagedClients",
          "response": {
            "$ref": "FindSalesPartnerManagedClientsResponse"
          },
          "description": "Returns a list of clients managed by the sales partner organization. User needs to be an OrgAdmin/BillingAdmin on the sales partner organization in order to view the end clients.",
          "path": "v1alpha/{+organization}:findSalesPartnerManagedClients",
          "flatPath": "v1alpha/organizations/{organizationsId}:findSalesPartnerManagedClients",
          "parameters": {
            "organization": {
              "description": "Required. The name of the sales partner organization. Format: organizations/{org_id}",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^organizations/[^/]+$"
            }
          }
        },
        "list": {
          "response": {
            "$ref": "ListOrganizationsResponse"
          },
          "httpMethod": "GET",
          "description": "Returns a list of organizations that the user has access to.",
          "path": "v1alpha/organizations",
          "id": "marketingplatformadmin.organizations.list",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous ListOrganizations call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOrganizations` must match the call that provided the page token.",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "Optional. The maximum number of organizations to return in one call. The service may return fewer than this value. If unspecified, at most 50 organizations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "format": "int32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "flatPath": "v1alpha/organizations",
          "parameterOrder": []
        }
      },
      "resources": {
        "analyticsAccountLinks": {
          "methods": {
            "setPropertyServiceLevel": {
              "parameters": {
                "analyticsAccountLink": {
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$",
                  "description": "Required. The parent AnalyticsAccountLink scope where this property is in. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}:setPropertyServiceLevel",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "request": {
                "$ref": "SetPropertyServiceLevelRequest"
              },
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.setPropertyServiceLevel",
              "response": {
                "$ref": "SetPropertyServiceLevelResponse"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "analyticsAccountLink"
              ],
              "description": "Updates the service level for an Analytics property.",
              "path": "v1alpha/{+analyticsAccountLink}:setPropertyServiceLevel"
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.create",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The parent resource where this Analytics account link will be created. Format: organizations/{org_id}",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Creates the link between the Analytics account and the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account to create the link. If the account is already linked to an organization, user needs to unlink the account from the current organization, then try link again.",
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks",
              "request": {
                "$ref": "AnalyticsAccountLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "response": {
                "$ref": "AnalyticsAccountLink"
              },
              "path": "v1alpha/{+parent}/analyticsAccountLinks",
              "httpMethod": "POST"
            },
            "delete": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the Analytics account link to delete. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}",
              "description": "Deletes the AnalyticsAccountLink, which detaches the Analytics account from the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account in order to delete the link.",
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.delete",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ]
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAnalyticsAccountLinksResponse"
              },
              "description": "Lists the Google Analytics accounts link to the specified Google Marketing Platform organization.",
              "parameters": {
                "parent": {
                  "description": "Required. The parent organization, which owns this collection of Analytics account links. Format: organizations/{org_id}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous ListAnalyticsAccountLinks call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAnalyticsAccountLinks` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of Analytics account links to return in one call. The service may return fewer than this value. If unspecified, at most 50 Analytics account links will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                }
              },
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.list",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "path": "v1alpha/{+parent}/analyticsAccountLinks",
              "httpMethod": "GET",
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks"
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "description": "The Google Marketing Platform Admin API allows for programmatic access to the Google Marketing Platform configuration data. You can use the Google Marketing Platform Admin API to manage links between your Google Marketing Platform organization and Google Analytics accounts, and to set the service level of your GA4 properties.",
  "name": "marketingplatformadmin",
  "version": "v1alpha",
  "version_module": true,
  "protocol": "rest",
  "mtlsRootUrl": "https://marketingplatformadmin.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read": {
          "description": "View your Google Analytics product account data in GMP home"
        },
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update": {
          "description": "Manage your Google Analytics product account data in GMP home"
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "title": "Google Marketing Platform Admin API",
  "rootUrl": "https://marketingplatformadmin.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "id": "marketingplatformadmin:v1alpha"
}