{
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read": {
          "description": "View your Google Analytics product account data in GMP home"
        },
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update": {
          "description": "Manage your Google Analytics product account data in GMP home"
        }
      }
    }
  },
  "servicePath": "",
  "title": "Google Marketing Platform Admin API",
  "documentationLink": "https://developers.google.com/analytics/devguides/config/gmp/v1",
  "discoveryVersion": "v1",
  "version_module": true,
  "ownerName": "Google",
  "revision": "20260901",
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "ListAnalyticsAccountLinksResponse": {
      "type": "object",
      "properties": {
        "analyticsAccountLinks": {
          "description": "Analytics account links in this organization.",
          "type": "array",
          "items": {
            "$ref": "AnalyticsAccountLink"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListAnalyticsAccountLinksResponse",
      "description": "Response message for ListAnalyticsAccountLinks RPC."
    },
    "SetPropertyServiceLevelRequest": {
      "description": "Request message for SetPropertyServiceLevel RPC.",
      "id": "SetPropertyServiceLevelRequest",
      "type": "object",
      "properties": {
        "serviceLevel": {
          "description": "Required. The service level to set for this property.",
          "enumDescriptions": [
            "Service level unspecified.",
            "The standard version of Google Analytics.",
            "The premium version of Google Analytics."
          ],
          "type": "string",
          "enum": [
            "ANALYTICS_SERVICE_LEVEL_UNSPECIFIED",
            "ANALYTICS_SERVICE_LEVEL_STANDARD",
            "ANALYTICS_SERVICE_LEVEL_360"
          ]
        },
        "analyticsProperty": {
          "type": "string",
          "description": "Required. The Analytics property to change the ServiceLevel setting. This field is the name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}"
        }
      }
    },
    "PropertyUsage": {
      "description": "Contains the count of events received by the property, along with metadata that influences the volume of `billable` events.",
      "id": "PropertyUsage",
      "type": "object",
      "properties": {
        "serviceLevel": {
          "description": "The service level of the property.",
          "type": "string",
          "enum": [
            "ANALYTICS_SERVICE_LEVEL_UNSPECIFIED",
            "ANALYTICS_SERVICE_LEVEL_STANDARD",
            "ANALYTICS_SERVICE_LEVEL_360"
          ],
          "enumDescriptions": [
            "Service level unspecified.",
            "The standard version of Google Analytics.",
            "The premium version of Google Analytics."
          ]
        },
        "property": {
          "description": "The name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}",
          "type": "string"
        },
        "propertyType": {
          "description": "The subtype of the analytics property. This affects the billable event count.",
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ],
          "type": "string",
          "enum": [
            "ANALYTICS_PROPERTY_TYPE_UNSPECIFIED",
            "ANALYTICS_PROPERTY_TYPE_ORDINARY",
            "ANALYTICS_PROPERTY_TYPE_SUBPROPERTY",
            "ANALYTICS_PROPERTY_TYPE_ROLLUP"
          ]
        },
        "totalEventCount": {
          "type": "string",
          "description": "Total event count that the property received during the requested month.",
          "format": "int64"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the property."
        },
        "billableEventCount": {
          "format": "int64",
          "description": "The number of events for which the property is billed in the requested month.",
          "type": "string"
        },
        "accountId": {
          "description": "The ID of the property's parent account.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "ListOrganizationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "organizations": {
          "description": "The Organization resource that the user has access to, which includes the org id and display name.",
          "type": "array",
          "items": {
            "$ref": "Organization"
          }
        }
      },
      "id": "ListOrganizationsResponse",
      "type": "object",
      "description": "Response message for ListOrganizations RPC."
    },
    "FindSalesPartnerManagedClientsRequest": {
      "properties": {
        "isActive": {
          "description": "Optional. If set, only active and just ended clients will be returned.",
          "type": "boolean"
        }
      },
      "id": "FindSalesPartnerManagedClientsRequest",
      "type": "object",
      "description": "Request message for FindSalesPartnerManagedClients RPC."
    },
    "Date": {
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      },
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "ReportPropertyUsageRequest": {
      "id": "ReportPropertyUsageRequest",
      "description": "Request message for ReportPropertyUsage RPC.",
      "properties": {
        "month": {
          "description": "Required. The target month to list property usages. Format: YYYY-MM. For example, \"2025-05\"",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SetPropertyServiceLevelResponse": {
      "type": "object",
      "id": "SetPropertyServiceLevelResponse",
      "description": "Response message for SetPropertyServiceLevel RPC.",
      "properties": {}
    },
    "AnalyticsAccountLink": {
      "id": "AnalyticsAccountLink",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this AnalyticsAccountLink. Note the resource ID is the same as the ID of the Analtyics account. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id} Example: \"organizations/xyz/analyticsAccountLinks/1234\""
        },
        "analyticsAccount": {
          "type": "string",
          "description": "Required. Immutable. The resource name of the AnalyticsAdmin API account. The account ID will be used as the ID of this AnalyticsAccountLink resource, which will become the final component of the resource name. Format: analyticsadmin.googleapis.com/accounts/{account_id}"
        },
        "linkVerificationState": {
          "type": "string",
          "enum": [
            "LINK_VERIFICATION_STATE_UNSPECIFIED",
            "LINK_VERIFICATION_STATE_VERIFIED",
            "LINK_VERIFICATION_STATE_NOT_VERIFIED"
          ],
          "enumDescriptions": [
            "The link state is unknown.",
            "The link is established.",
            "The link is requested, but hasn't been approved by the product account admin."
          ],
          "description": "Output only. The verification state of the link between the Analytics account and the parent organization.",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. The human-readable name for the Analytics account.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A resource message representing the link between a Google Analytics account and a Google Marketing Platform organization.",
      "type": "object"
    },
    "ClientData": {
      "type": "object",
      "id": "ClientData",
      "description": "Contains the client data.",
      "properties": {
        "endDate": {
          "$ref": "Date",
          "description": "The end date of the contract between the sales org and the end client."
        },
        "startDate": {
          "$ref": "Date",
          "description": "The start date of the contract between the sales org and the end client."
        },
        "organization": {
          "$ref": "Organization",
          "description": "The end client that has/had contract with the requested sales org."
        }
      }
    },
    "Money": {
      "properties": {
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "type": "string",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64"
        }
      },
      "description": "Represents an amount of money with its currency type.",
      "id": "Money",
      "type": "object"
    },
    "ReportPropertyUsageResponse": {
      "description": "Response message for ReportPropertyUsage RPC.",
      "id": "ReportPropertyUsageResponse",
      "properties": {
        "billInfo": {
          "description": "Bill amount in the specified organization and month. Will be empty if user only has access to usage data.",
          "$ref": "BillInfo"
        },
        "propertyUsages": {
          "items": {
            "$ref": "PropertyUsage"
          },
          "type": "array",
          "description": "Usage data for all properties in the specified organization and month."
        }
      },
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "BillInfo": {
      "type": "object",
      "description": "Contains the bill amount.",
      "properties": {
        "baseFee": {
          "description": "The amount of the monthly base fee.",
          "$ref": "Money"
        },
        "total": {
          "description": "The total amount of the bill.",
          "$ref": "Money"
        },
        "eventFee": {
          "description": "The amount of the event fee.",
          "$ref": "Money"
        },
        "priceProtectionCredit": {
          "description": "The amount of the price protection credit, this is only available for eligible customers.",
          "$ref": "Money"
        }
      },
      "id": "BillInfo"
    },
    "FindSalesPartnerManagedClientsResponse": {
      "description": "Response message for FindSalesPartnerManagedClients RPC.",
      "id": "FindSalesPartnerManagedClientsResponse",
      "type": "object",
      "properties": {
        "clientData": {
          "description": "The clients managed by the sales org.",
          "type": "array",
          "items": {
            "$ref": "ClientData"
          }
        }
      }
    },
    "Organization": {
      "type": "object",
      "id": "Organization",
      "description": "A resource message representing a Google Marketing Platform organization.",
      "properties": {
        "displayName": {
          "description": "The human-readable name for the organization.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the GMP organization. Format: organizations/{org_id}",
          "type": "string"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Google Marketing Platform Admin API",
  "version": "v1alpha",
  "id": "marketingplatformadmin:v1alpha",
  "basePath": "",
  "name": "marketingplatformadmin",
  "rootUrl": "https://marketingplatformadmin.googleapis.com/",
  "protocol": "rest",
  "mtlsRootUrl": "https://marketingplatformadmin.mtls.googleapis.com/",
  "description": "The Google Marketing Platform Admin API allows for programmatic access to the Google Marketing Platform configuration data. You can use the Google Marketing Platform Admin API to manage links between your Google Marketing Platform organization and Google Analytics accounts, and to set the service level of your GA4 properties.",
  "resources": {
    "organizations": {
      "methods": {
        "findSalesPartnerManagedClients": {
          "request": {
            "$ref": "FindSalesPartnerManagedClientsRequest"
          },
          "parameterOrder": [
            "organization"
          ],
          "id": "marketingplatformadmin.organizations.findSalesPartnerManagedClients",
          "flatPath": "v1alpha/organizations/{organizationsId}:findSalesPartnerManagedClients",
          "response": {
            "$ref": "FindSalesPartnerManagedClientsResponse"
          },
          "httpMethod": "POST",
          "description": "Returns a list of clients managed by the sales partner organization. User needs to be an OrgAdmin/BillingAdmin on the sales partner organization in order to view the end clients.",
          "path": "v1alpha/{+organization}:findSalesPartnerManagedClients",
          "parameters": {
            "organization": {
              "location": "path",
              "pattern": "^organizations/[^/]+$",
              "required": true,
              "description": "Required. The name of the sales partner organization. Format: organizations/{org_id}",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ]
        },
        "list": {
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of organizations to return in one call. The service may return fewer than this value. If unspecified, at most 50 organizations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous ListOrganizations call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOrganizations` must match the call that provided the page token.",
              "location": "query"
            }
          },
          "id": "marketingplatformadmin.organizations.list",
          "flatPath": "v1alpha/organizations",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "response": {
            "$ref": "ListOrganizationsResponse"
          },
          "path": "v1alpha/organizations",
          "description": "Returns a list of organizations that the user has access to."
        },
        "reportPropertyUsage": {
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "description": "Gets the usage and billing data for properties within the organization for the specified month. Per direct client org, user needs to be OrgAdmin/BillingAdmin on the organization in order to view the billing and usage data. Per sales partner client org, user needs to be OrgAdmin/BillingAdmin on the sales partner org in order to view the billing and usage data, or OrgAdmin/BillingAdmin on the sales partner client org in order to view the usage data only.",
          "id": "marketingplatformadmin.organizations.reportPropertyUsage",
          "response": {
            "$ref": "ReportPropertyUsageResponse"
          },
          "path": "v1alpha/{+organization}:reportPropertyUsage",
          "request": {
            "$ref": "ReportPropertyUsageRequest"
          },
          "flatPath": "v1alpha/organizations/{organizationsId}:reportPropertyUsage",
          "parameters": {
            "organization": {
              "required": true,
              "pattern": "^organizations/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. Specifies the organization whose property usage will be listed. Format: organizations/{org_id}"
            }
          },
          "parameterOrder": [
            "organization"
          ],
          "httpMethod": "POST"
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "Organization"
          },
          "parameterOrder": [
            "name"
          ],
          "id": "marketingplatformadmin.organizations.get",
          "path": "v1alpha/{+name}",
          "description": "Looks up a single organization.",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The name of the Organization to retrieve. Format: organizations/{org_id}"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "flatPath": "v1alpha/organizations/{organizationsId}"
        }
      },
      "resources": {
        "analyticsAccountLinks": {
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the Analytics account link to delete. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}"
                }
              },
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.delete",
              "description": "Deletes the AnalyticsAccountLink, which detaches the Analytics account from the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account in order to delete the link.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}",
              "httpMethod": "DELETE",
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "Empty"
              }
            },
            "setPropertyServiceLevel": {
              "description": "Updates the service level for an Analytics property.",
              "request": {
                "$ref": "SetPropertyServiceLevelRequest"
              },
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.setPropertyServiceLevel",
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}:setPropertyServiceLevel",
              "parameterOrder": [
                "analyticsAccountLink"
              ],
              "response": {
                "$ref": "SetPropertyServiceLevelResponse"
              },
              "path": "v1alpha/{+analyticsAccountLink}:setPropertyServiceLevel",
              "parameters": {
                "analyticsAccountLink": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent AnalyticsAccountLink scope where this property is in. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}",
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "httpMethod": "POST"
            },
            "list": {
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The parent organization, which owns this collection of Analytics account links. Format: organizations/{org_id}",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous ListAnalyticsAccountLinks call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAnalyticsAccountLinks` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of Analytics account links to return in one call. The service may return fewer than this value. If unspecified, at most 50 Analytics account links will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32"
                }
              },
              "path": "v1alpha/{+parent}/analyticsAccountLinks",
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.list",
              "description": "Lists the Google Analytics accounts link to the specified Google Marketing Platform organization.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAnalyticsAccountLinksResponse"
              }
            },
            "create": {
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource where this Analytics account link will be created. Format: organizations/{org_id}",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "description": "Creates the link between the Analytics account and the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account to create the link. If the account is already linked to an organization, user needs to unlink the account from the current organization, then try link again.",
              "path": "v1alpha/{+parent}/analyticsAccountLinks",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "request": {
                "$ref": "AnalyticsAccountLink"
              },
              "response": {
                "$ref": "AnalyticsAccountLink"
              },
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.create"
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "baseUrl": "https://marketingplatformadmin.googleapis.com/"
}