{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "servicePath": "",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "title": "Google Marketing Platform Admin API",
  "id": "marketingplatformadmin:v1alpha",
  "name": "marketingplatformadmin",
  "description": "The Google Marketing Platform Admin API allows for programmatic access to the Google Marketing Platform configuration data. You can use the Google Marketing Platform Admin API to manage links between your Google Marketing Platform organization and Google Analytics accounts, and to set the service level of your GA4 properties.",
  "basePath": "",
  "documentationLink": "https://developers.google.com/analytics/devguides/config/gmp/v1",
  "discoveryVersion": "v1",
  "canonicalName": "Google Marketing Platform Admin API",
  "schemas": {
    "BillInfo": {
      "properties": {
        "total": {
          "description": "The total amount of the bill.",
          "$ref": "Money"
        },
        "priceProtectionCredit": {
          "description": "The amount of the price protection credit, this is only available for eligible customers.",
          "$ref": "Money"
        },
        "eventFee": {
          "$ref": "Money",
          "description": "The amount of the event fee."
        },
        "baseFee": {
          "$ref": "Money",
          "description": "The amount of the monthly base fee."
        }
      },
      "description": "Contains the bill amount.",
      "id": "BillInfo",
      "type": "object"
    },
    "ListAnalyticsAccountLinksResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "analyticsAccountLinks": {
          "items": {
            "$ref": "AnalyticsAccountLink"
          },
          "type": "array",
          "description": "Analytics account links in this organization."
        }
      },
      "id": "ListAnalyticsAccountLinksResponse",
      "type": "object",
      "description": "Response message for ListAnalyticsAccountLinks RPC."
    },
    "ReportPropertyUsageResponse": {
      "id": "ReportPropertyUsageResponse",
      "properties": {
        "billInfo": {
          "$ref": "BillInfo",
          "description": "Bill amount in the specified organization and month. Will be empty if user only has access to usage data."
        },
        "propertyUsages": {
          "type": "array",
          "description": "Usage data for all properties in the specified organization and month.",
          "items": {
            "$ref": "PropertyUsage"
          }
        }
      },
      "description": "Response message for ReportPropertyUsage RPC.",
      "type": "object"
    },
    "ReportPropertyUsageRequest": {
      "properties": {
        "month": {
          "type": "string",
          "description": "Required. The target month to list property usages. Format: YYYY-MM. For example, \"2025-05\""
        }
      },
      "type": "object",
      "description": "Request message for ReportPropertyUsage RPC.",
      "id": "ReportPropertyUsageRequest"
    },
    "SetPropertyServiceLevelRequest": {
      "properties": {
        "serviceLevel": {
          "enumDescriptions": [
            "Service level unspecified.",
            "The standard version of Google Analytics.",
            "The premium version of Google Analytics."
          ],
          "type": "string",
          "enum": [
            "ANALYTICS_SERVICE_LEVEL_UNSPECIFIED",
            "ANALYTICS_SERVICE_LEVEL_STANDARD",
            "ANALYTICS_SERVICE_LEVEL_360"
          ],
          "description": "Required. The service level to set for this property."
        },
        "analyticsProperty": {
          "description": "Required. The Analytics property to change the ServiceLevel setting. This field is the name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}",
          "type": "string"
        }
      },
      "description": "Request message for SetPropertyServiceLevel RPC.",
      "id": "SetPropertyServiceLevelRequest",
      "type": "object"
    },
    "PropertyUsage": {
      "type": "object",
      "description": "Contains the count of events received by the property, along with metadata that influences the volume of `billable` events.",
      "properties": {
        "accountId": {
          "format": "int64",
          "description": "The ID of the property's parent account.",
          "type": "string"
        },
        "propertyType": {
          "description": "The subtype of the analytics property. This affects the billable event count.",
          "type": "string",
          "enum": [
            "ANALYTICS_PROPERTY_TYPE_UNSPECIFIED",
            "ANALYTICS_PROPERTY_TYPE_ORDINARY",
            "ANALYTICS_PROPERTY_TYPE_SUBPROPERTY",
            "ANALYTICS_PROPERTY_TYPE_ROLLUP"
          ],
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ]
        },
        "displayName": {
          "description": "The display name of the property.",
          "type": "string"
        },
        "billableEventCount": {
          "format": "int64",
          "description": "The number of events for which the property is billed in the requested month.",
          "type": "string"
        },
        "totalEventCount": {
          "type": "string",
          "description": "Total event count that the property received during the requested month.",
          "format": "int64"
        },
        "serviceLevel": {
          "enum": [
            "ANALYTICS_SERVICE_LEVEL_UNSPECIFIED",
            "ANALYTICS_SERVICE_LEVEL_STANDARD",
            "ANALYTICS_SERVICE_LEVEL_360"
          ],
          "description": "The service level of the property.",
          "type": "string",
          "enumDescriptions": [
            "Service level unspecified.",
            "The standard version of Google Analytics.",
            "The premium version of Google Analytics."
          ]
        },
        "property": {
          "type": "string",
          "description": "The name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}"
        }
      },
      "id": "PropertyUsage"
    },
    "Date": {
      "type": "object",
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        }
      }
    },
    "ListOrganizationsResponse": {
      "properties": {
        "organizations": {
          "items": {
            "$ref": "Organization"
          },
          "description": "The Organization resource that the user has access to, which includes the org id and display name.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListOrganizationsResponse",
      "description": "Response message for ListOrganizations RPC.",
      "type": "object"
    },
    "SetPropertyServiceLevelResponse": {
      "properties": {},
      "id": "SetPropertyServiceLevelResponse",
      "type": "object",
      "description": "Response message for SetPropertyServiceLevel RPC."
    },
    "Organization": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the GMP organization. Format: organizations/{org_id}"
        },
        "displayName": {
          "type": "string",
          "description": "The human-readable name for the organization."
        }
      },
      "id": "Organization",
      "description": "A resource message representing a Google Marketing Platform organization."
    },
    "Money": {
      "description": "Represents an amount of money with its currency type.",
      "properties": {
        "nanos": {
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "format": "int32"
        },
        "units": {
          "type": "string",
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        }
      },
      "type": "object",
      "id": "Money"
    },
    "AnalyticsAccountLink": {
      "properties": {
        "linkVerificationState": {
          "enum": [
            "LINK_VERIFICATION_STATE_UNSPECIFIED",
            "LINK_VERIFICATION_STATE_VERIFIED",
            "LINK_VERIFICATION_STATE_NOT_VERIFIED"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The verification state of the link between the Analytics account and the parent organization.",
          "enumDescriptions": [
            "The link state is unknown.",
            "The link is established.",
            "The link is requested, but hasn't been approved by the product account admin."
          ]
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The human-readable name for the Analytics account."
        },
        "name": {
          "description": "Identifier. Resource name of this AnalyticsAccountLink. Note the resource ID is the same as the ID of the Analtyics account. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id} Example: \"organizations/xyz/analyticsAccountLinks/1234\"",
          "type": "string"
        },
        "analyticsAccount": {
          "description": "Required. Immutable. The resource name of the AnalyticsAdmin API account. The account ID will be used as the ID of this AnalyticsAccountLink resource, which will become the final component of the resource name. Format: analyticsadmin.googleapis.com/accounts/{account_id}",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A resource message representing the link between a Google Analytics account and a Google Marketing Platform organization.",
      "id": "AnalyticsAccountLink"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "FindSalesPartnerManagedClientsResponse": {
      "description": "Response message for FindSalesPartnerManagedClients RPC.",
      "properties": {
        "clientData": {
          "type": "array",
          "description": "The clients managed by the sales org.",
          "items": {
            "$ref": "ClientData"
          }
        }
      },
      "id": "FindSalesPartnerManagedClientsResponse",
      "type": "object"
    },
    "ClientData": {
      "type": "object",
      "properties": {
        "startDate": {
          "description": "The start date of the contract between the sales org and the end client.",
          "$ref": "Date"
        },
        "organization": {
          "description": "The end client that has/had contract with the requested sales org.",
          "$ref": "Organization"
        },
        "endDate": {
          "$ref": "Date",
          "description": "The end date of the contract between the sales org and the end client."
        }
      },
      "description": "Contains the client data.",
      "id": "ClientData"
    },
    "FindSalesPartnerManagedClientsRequest": {
      "description": "Request message for FindSalesPartnerManagedClients RPC.",
      "properties": {
        "isActive": {
          "type": "boolean",
          "description": "Optional. If set, only active and just ended clients will be returned."
        }
      },
      "type": "object",
      "id": "FindSalesPartnerManagedClientsRequest"
    }
  },
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://marketingplatformadmin.mtls.googleapis.com/",
  "resources": {
    "organizations": {
      "resources": {
        "analyticsAccountLinks": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the Analytics account link to delete. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes the AnalyticsAccountLink, which detaches the Analytics account from the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account in order to delete the link.",
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.delete"
            },
            "create": {
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource where this Analytics account link will be created. Format: organizations/{org_id}",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "path": "v1alpha/{+parent}/analyticsAccountLinks",
              "description": "Creates the link between the Analytics account and the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account to create the link. If the account is already linked to an organization, user needs to unlink the account from the current organization, then try link again.",
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.create",
              "httpMethod": "POST",
              "response": {
                "$ref": "AnalyticsAccountLink"
              },
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks",
              "request": {
                "$ref": "AnalyticsAccountLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of Analytics account links to return in one call. The service may return fewer than this value. If unspecified, at most 50 Analytics account links will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous ListAnalyticsAccountLinks call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAnalyticsAccountLinks` must match the call that provided the page token.",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The parent organization, which owns this collection of Analytics account links. Format: organizations/{org_id}",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the Google Analytics accounts link to the specified Google Marketing Platform organization.",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "path": "v1alpha/{+parent}/analyticsAccountLinks",
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks",
              "response": {
                "$ref": "ListAnalyticsAccountLinksResponse"
              }
            },
            "setPropertyServiceLevel": {
              "parameters": {
                "analyticsAccountLink": {
                  "description": "Required. The parent AnalyticsAccountLink scope where this property is in. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "response": {
                "$ref": "SetPropertyServiceLevelResponse"
              },
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}:setPropertyServiceLevel",
              "httpMethod": "POST",
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.setPropertyServiceLevel",
              "path": "v1alpha/{+analyticsAccountLink}:setPropertyServiceLevel",
              "description": "Updates the service level for an Analytics property.",
              "request": {
                "$ref": "SetPropertyServiceLevelRequest"
              },
              "parameterOrder": [
                "analyticsAccountLink"
              ]
            }
          }
        }
      },
      "methods": {
        "findSalesPartnerManagedClients": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "path": "v1alpha/{+organization}:findSalesPartnerManagedClients",
          "description": "Returns a list of clients managed by the sales partner organization. User needs to be an OrgAdmin/BillingAdmin on the sales partner organization in order to view the end clients.",
          "parameters": {
            "organization": {
              "required": true,
              "pattern": "^organizations/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. The name of the sales partner organization. Format: organizations/{org_id}"
            }
          },
          "flatPath": "v1alpha/organizations/{organizationsId}:findSalesPartnerManagedClients",
          "response": {
            "$ref": "FindSalesPartnerManagedClientsResponse"
          },
          "request": {
            "$ref": "FindSalesPartnerManagedClientsRequest"
          },
          "id": "marketingplatformadmin.organizations.findSalesPartnerManagedClients",
          "parameterOrder": [
            "organization"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "id": "marketingplatformadmin.organizations.list",
          "parameterOrder": [],
          "parameters": {
            "pageToken": {
              "description": "Optional. A page token, received from a previous ListOrganizations call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOrganizations` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "Optional. The maximum number of organizations to return in one call. The service may return fewer than this value. If unspecified, at most 50 organizations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "description": "Returns a list of organizations that the user has access to.",
          "flatPath": "v1alpha/organizations",
          "path": "v1alpha/organizations",
          "response": {
            "$ref": "ListOrganizationsResponse"
          }
        },
        "reportPropertyUsage": {
          "path": "v1alpha/{+organization}:reportPropertyUsage",
          "request": {
            "$ref": "ReportPropertyUsageRequest"
          },
          "response": {
            "$ref": "ReportPropertyUsageResponse"
          },
          "flatPath": "v1alpha/organizations/{organizationsId}:reportPropertyUsage",
          "description": "Gets the usage and billing data for properties within the organization for the specified month. Per direct client org, user needs to be OrgAdmin/BillingAdmin on the organization in order to view the billing and usage data. Per sales partner client org, user needs to be OrgAdmin/BillingAdmin on the sales partner org in order to view the billing and usage data, or OrgAdmin/BillingAdmin on the sales partner client org in order to view the usage data only.",
          "parameters": {
            "organization": {
              "location": "path",
              "description": "Required. Specifies the organization whose property usage will be listed. Format: organizations/{org_id}",
              "required": true,
              "pattern": "^organizations/[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "organization"
          ],
          "id": "marketingplatformadmin.organizations.reportPropertyUsage",
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "httpMethod": "POST"
        },
        "get": {
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the Organization to retrieve. Format: organizations/{org_id}",
              "type": "string",
              "pattern": "^organizations/[^/]+$",
              "location": "path"
            }
          },
          "id": "marketingplatformadmin.organizations.get",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "path": "v1alpha/{+name}",
          "httpMethod": "GET",
          "flatPath": "v1alpha/organizations/{organizationsId}",
          "response": {
            "$ref": "Organization"
          },
          "description": "Looks up a single organization."
        }
      }
    }
  },
  "rootUrl": "https://marketingplatformadmin.googleapis.com/",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    }
  },
  "version": "v1alpha",
  "baseUrl": "https://marketingplatformadmin.googleapis.com/",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update": {
          "description": "Manage your Google Analytics product account data in GMP home"
        },
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read": {
          "description": "View your Google Analytics product account data in GMP home"
        }
      }
    }
  },
  "revision": "20260903",
  "batchPath": "batch"
}