{
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read": {
          "description": "View your Google Analytics product account data in GMP home"
        },
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update": {
          "description": "Manage your Google Analytics product account data in GMP home"
        }
      }
    }
  },
  "ownerName": "Google",
  "name": "marketingplatformadmin",
  "revision": "20261001",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "canonicalName": "Google Marketing Platform Admin API",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://marketingplatformadmin.mtls.googleapis.com/",
  "description": "The Google Marketing Platform Admin API allows for programmatic access to the Google Marketing Platform configuration data. You can use the Google Marketing Platform Admin API to manage links between your Google Marketing Platform organization and Google Analytics accounts, and to set the service level of your GA4 properties.",
  "discoveryVersion": "v1",
  "schemas": {
    "ListAdminAccessBindingsResponse": {
      "id": "ListAdminAccessBindingsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "adminAccessBindings": {
          "items": {
            "$ref": "AdminAccessBinding"
          },
          "description": "Admin Access Bindings in the organization.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for ListAdminAccessBindings RPC."
    },
    "ReportPropertyUsageResponse": {
      "description": "Response message for ReportPropertyUsage RPC.",
      "type": "object",
      "id": "ReportPropertyUsageResponse",
      "properties": {
        "propertyUsages": {
          "type": "array",
          "items": {
            "$ref": "PropertyUsage"
          },
          "description": "Usage data for all properties in the specified organization and month."
        },
        "billInfo": {
          "description": "Bill amount in the specified organization and month. Will be empty if user only has access to usage data.",
          "$ref": "BillInfo"
        }
      }
    },
    "SetPropertyServiceLevelResponse": {
      "id": "SetPropertyServiceLevelResponse",
      "type": "object",
      "description": "Response message for SetPropertyServiceLevel RPC.",
      "properties": {}
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "PropertyUsage": {
      "description": "Contains the count of events received by the property, along with metadata that influences the volume of `billable` events.",
      "properties": {
        "billableEventCount": {
          "format": "int64",
          "description": "The number of events for which the property is billed in the requested month.",
          "type": "string"
        },
        "serviceLevel": {
          "description": "The service level of the property.",
          "enum": [
            "ANALYTICS_SERVICE_LEVEL_UNSPECIFIED",
            "ANALYTICS_SERVICE_LEVEL_STANDARD",
            "ANALYTICS_SERVICE_LEVEL_360"
          ],
          "enumDescriptions": [
            "Service level unspecified.",
            "The standard version of Google Analytics.",
            "The premium version of Google Analytics."
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the property."
        },
        "property": {
          "type": "string",
          "description": "The name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}"
        },
        "propertyType": {
          "enum": [
            "ANALYTICS_PROPERTY_TYPE_UNSPECIFIED",
            "ANALYTICS_PROPERTY_TYPE_ORDINARY",
            "ANALYTICS_PROPERTY_TYPE_SUBPROPERTY",
            "ANALYTICS_PROPERTY_TYPE_ROLLUP"
          ],
          "type": "string",
          "description": "The subtype of the analytics property. This affects the billable event count.",
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ]
        },
        "totalEventCount": {
          "format": "int64",
          "type": "string",
          "description": "Total event count that the property received during the requested month."
        },
        "accountId": {
          "description": "The ID of the property's parent account.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "PropertyUsage"
    },
    "ListUserGroupsResponse": {
      "properties": {
        "userGroups": {
          "items": {
            "$ref": "UserGroup"
          },
          "description": "User groups in the organization.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListUserGroupsResponse",
      "description": "Response message for ListUserGroups RPC.",
      "type": "object"
    },
    "ClientData": {
      "description": "Contains the client data.",
      "id": "ClientData",
      "type": "object",
      "properties": {
        "startDate": {
          "$ref": "Date",
          "description": "The start date of the contract between the sales org and the end client."
        },
        "organization": {
          "description": "The end client that has/had contract with the requested sales org.",
          "$ref": "Organization"
        },
        "endDate": {
          "$ref": "Date",
          "description": "The end date of the contract between the sales org and the end client."
        }
      }
    },
    "AnalyticsAccountLink": {
      "id": "AnalyticsAccountLink",
      "properties": {
        "linkVerificationState": {
          "enum": [
            "LINK_VERIFICATION_STATE_UNSPECIFIED",
            "LINK_VERIFICATION_STATE_VERIFIED",
            "LINK_VERIFICATION_STATE_NOT_VERIFIED"
          ],
          "enumDescriptions": [
            "The link state is unknown.",
            "The link is established.",
            "The link is requested, but hasn't been approved by the product account admin."
          ],
          "type": "string",
          "description": "Output only. The verification state of the link between the Analytics account and the parent organization.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this AnalyticsAccountLink. Note the resource ID is the same as the ID of the Analtyics account. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id} Example: \"organizations/xyz/analyticsAccountLinks/1234\""
        },
        "analyticsAccount": {
          "description": "Required. Immutable. The resource name of the AnalyticsAdmin API account. The account ID will be used as the ID of this AnalyticsAccountLink resource, which will become the final component of the resource name. Format: analyticsadmin.googleapis.com/accounts/{account_id}",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The human-readable name for the Analytics account."
        }
      },
      "description": "A resource message representing the link between a Google Analytics account and a Google Marketing Platform organization.",
      "type": "object"
    },
    "AdminAccessBinding": {
      "id": "AdminAccessBinding",
      "description": "A resource message representing a binding to a set of roles.",
      "type": "object",
      "properties": {
        "organizationRoles": {
          "description": "Optional. A list of roles granted to the parent organization. USER_ADMIN_ROLE and BILLING_ADMIN_ROLE will be automatically added if ORG_ADMIN_ROLE is assigned. No roles will be assigned if no roles are specified.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unknown or unspecified organization role.",
              "Organization admin role that grants all administrative privileges.",
              "User admin role that grants access to the Users section to perform various user management functions.",
              "Billing admin role that grants access to the Billing section to perform various billing-related functions."
            ],
            "enum": [
              "ORGANIZATION_ROLE_UNSPECIFIED",
              "ORG_ADMIN_ROLE",
              "USER_ADMIN_ROLE",
              "BILLING_ADMIN_ROLE"
            ]
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of this AdminAccessBinding. Format: organizations/{org_id}/adminAccessBindings/{admin_access_binding_id} Example: \"organizations/123abc/adminAccessBindings/456def\""
        },
        "userEmail": {
          "type": "string",
          "description": "Email address of the user."
        },
        "userGroup": {
          "description": "Resource name of the user group.",
          "type": "string"
        }
      }
    },
    "FindSalesPartnerManagedClientsRequest": {
      "type": "object",
      "id": "FindSalesPartnerManagedClientsRequest",
      "description": "Request message for FindSalesPartnerManagedClients RPC.",
      "properties": {
        "isActive": {
          "description": "Optional. If set, only active and just ended clients will be returned.",
          "type": "boolean"
        }
      }
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Date"
    },
    "UserGroupMember": {
      "description": "A resource message representing a member of a user group.",
      "properties": {
        "userGroup": {
          "description": "User group resource name of the group member.",
          "type": "string"
        },
        "userEmail": {
          "description": "Email address of the user member.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of this UserGroupMember. Format: organizations/{org_id}/userGroups/{user_group_id}/members/{member_id} Example: \"organizations/123abc/userGroups/456def/members/789ghi\"",
          "type": "string"
        },
        "membershipRole": {
          "enumDescriptions": [
            "Unspecified membership role.",
            "Owner role that can add and remove group members.",
            "Member role that receives all permissions assigned to the group."
          ],
          "enum": [
            "MEMBERSHIP_ROLE_UNSPECIFIED",
            "MEMBERSHIP_ROLE_OWNER",
            "MEMBERSHIP_ROLE_MEMBER"
          ],
          "description": "Optional. The role of the member in the user group.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UserGroupMember"
    },
    "ListAnalyticsAccountLinksResponse": {
      "description": "Response message for ListAnalyticsAccountLinks RPC.",
      "id": "ListAnalyticsAccountLinksResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "analyticsAccountLinks": {
          "items": {
            "$ref": "AnalyticsAccountLink"
          },
          "type": "array",
          "description": "Analytics account links in this organization."
        }
      }
    },
    "Organization": {
      "properties": {
        "displayName": {
          "description": "The human-readable name for the organization.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the GMP organization. Format: organizations/{org_id}",
          "type": "string"
        }
      },
      "id": "Organization",
      "type": "object",
      "description": "A resource message representing a Google Marketing Platform organization."
    },
    "BillInfo": {
      "type": "object",
      "id": "BillInfo",
      "description": "Contains the bill amount.",
      "properties": {
        "baseFee": {
          "$ref": "Money",
          "description": "The amount of the monthly base fee."
        },
        "total": {
          "description": "The total amount of the bill.",
          "$ref": "Money"
        },
        "eventFee": {
          "$ref": "Money",
          "description": "The amount of the event fee."
        },
        "priceProtectionCredit": {
          "description": "The amount of the price protection credit, this is only available for eligible customers.",
          "$ref": "Money"
        }
      }
    },
    "UserGroup": {
      "properties": {
        "displayName": {
          "description": "Optional. The human-readable name for the user group.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of this UserGroup. Format: organizations/{org_id}/userGroups/{user_group_id} Example: \"organizations/123abc/userGroups/456def\"",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the user group."
        }
      },
      "id": "UserGroup",
      "type": "object",
      "description": "A resource message representing a user group in a GMP organization."
    },
    "ReportPropertyUsageRequest": {
      "id": "ReportPropertyUsageRequest",
      "properties": {
        "month": {
          "description": "Required. The target month to list property usages. Format: YYYY-MM. For example, \"2025-05\"",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for ReportPropertyUsage RPC."
    },
    "FindSalesPartnerManagedClientsResponse": {
      "type": "object",
      "id": "FindSalesPartnerManagedClientsResponse",
      "properties": {
        "clientData": {
          "description": "The clients managed by the sales org.",
          "items": {
            "$ref": "ClientData"
          },
          "type": "array"
        }
      },
      "description": "Response message for FindSalesPartnerManagedClients RPC."
    },
    "ListOrganizationsResponse": {
      "type": "object",
      "description": "Response message for ListOrganizations RPC.",
      "id": "ListOrganizationsResponse",
      "properties": {
        "organizations": {
          "description": "The Organization resource that the user has access to, which includes the org id and display name.",
          "items": {
            "$ref": "Organization"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "SetPropertyServiceLevelRequest": {
      "type": "object",
      "properties": {
        "analyticsProperty": {
          "description": "Required. The Analytics property to change the ServiceLevel setting. This field is the name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}",
          "type": "string"
        },
        "serviceLevel": {
          "enumDescriptions": [
            "Service level unspecified.",
            "The standard version of Google Analytics.",
            "The premium version of Google Analytics."
          ],
          "type": "string",
          "description": "Required. The service level to set for this property.",
          "enum": [
            "ANALYTICS_SERVICE_LEVEL_UNSPECIFIED",
            "ANALYTICS_SERVICE_LEVEL_STANDARD",
            "ANALYTICS_SERVICE_LEVEL_360"
          ]
        }
      },
      "description": "Request message for SetPropertyServiceLevel RPC.",
      "id": "SetPropertyServiceLevelRequest"
    },
    "ListUserGroupMembersResponse": {
      "properties": {
        "userGroupMembers": {
          "type": "array",
          "items": {
            "$ref": "UserGroupMember"
          },
          "description": "User group members in the user group."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListUserGroupMembersResponse",
      "description": "Response message for ListUserGroupMembers RPC.",
      "type": "object"
    },
    "Money": {
      "type": "object",
      "description": "Represents an amount of money with its currency type.",
      "id": "Money",
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64",
          "type": "string"
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "id": "marketingplatformadmin:v1alpha",
  "baseUrl": "https://marketingplatformadmin.googleapis.com/",
  "basePath": "",
  "title": "Google Marketing Platform Admin API",
  "documentationLink": "https://developers.google.com/analytics/devguides/config/gmp/v1",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://marketingplatformadmin.googleapis.com/",
  "version_module": true,
  "resources": {
    "organizations": {
      "resources": {
        "analyticsAccountLinks": {
          "methods": {
            "list": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent organization, which owns this collection of Analytics account links. Format: organizations/{org_id}"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of Analytics account links to return in one call. The service may return fewer than this value. If unspecified, at most 50 Analytics account links will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous ListAnalyticsAccountLinks call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAnalyticsAccountLinks` must match the call that provided the page token."
                }
              },
              "response": {
                "$ref": "ListAnalyticsAccountLinksResponse"
              },
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks",
              "description": "Lists the Google Analytics accounts link to the specified Google Marketing Platform organization.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/analyticsAccountLinks",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.list",
              "httpMethod": "GET"
            },
            "delete": {
              "description": "Deletes the AnalyticsAccountLink, which detaches the Analytics account from the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account in order to delete the link.",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the Analytics account link to delete. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}"
                }
              },
              "httpMethod": "DELETE",
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.delete"
            },
            "setPropertyServiceLevel": {
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.setPropertyServiceLevel",
              "description": "Updates the service level for an Analytics property.",
              "parameters": {
                "analyticsAccountLink": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent AnalyticsAccountLink scope where this property is in. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "path": "v1alpha/{+analyticsAccountLink}:setPropertyServiceLevel",
              "httpMethod": "POST",
              "request": {
                "$ref": "SetPropertyServiceLevelRequest"
              },
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}:setPropertyServiceLevel",
              "response": {
                "$ref": "SetPropertyServiceLevelResponse"
              },
              "parameterOrder": [
                "analyticsAccountLink"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "description": "Creates the link between the Analytics account and the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account to create the link. If the account is already linked to an organization, user needs to unlink the account from the current organization, then try link again.",
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks",
              "httpMethod": "POST",
              "response": {
                "$ref": "AnalyticsAccountLink"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent resource where this Analytics account link will be created. Format: organizations/{org_id}"
                }
              },
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.create",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "AnalyticsAccountLink"
              },
              "path": "v1alpha/{+parent}/analyticsAccountLinks"
            }
          }
        },
        "adminAccessBindings": {
          "methods": {
            "patch": {
              "flatPath": "v1alpha/organizations/{organizationsId}/adminAccessBindings/{adminAccessBindingsId}",
              "description": "Updates an admin access binding in the specified GMP organization.",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "AdminAccessBinding"
              },
              "id": "marketingplatformadmin.organizations.adminAccessBindings.patch",
              "request": {
                "$ref": "AdminAccessBinding"
              },
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier. The resource name of this AdminAccessBinding. Format: organizations/{org_id}/adminAccessBindings/{admin_access_binding_id} Example: \"organizations/123abc/adminAccessBindings/456def\"",
                  "required": true,
                  "pattern": "^organizations/[^/]+/adminAccessBindings/[^/]+$"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Required. The list of fields to update. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields."
                }
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "flatPath": "v1alpha/organizations/{organizationsId}/adminAccessBindings",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of Admin Access Bindings to return in one call. The service may return fewer than this value. If unspecified, at most 50 Admin Access Bindings will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous ListAdminAccessBindings call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAdminAccessBindings` must match the call that provided the page token."
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The parent organization, which owns this collection of Admin Access Bindings. Format: organizations/{org_id}",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "ListAdminAccessBindingsResponse"
              },
              "id": "marketingplatformadmin.organizations.adminAccessBindings.list",
              "path": "v1alpha/{+parent}/adminAccessBindings",
              "parameterOrder": [
                "parent"
              ],
              "description": "Returns a list of admin access bindings in the specified GMP organization.",
              "httpMethod": "GET"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the AdminAccessBinding to retrieve. Format: organizations/{org_id}/adminAccessBindings/{admin_access_binding_id}",
                  "pattern": "^organizations/[^/]+/adminAccessBindings/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Looks up a single admin access binding.",
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/organizations/{organizationsId}/adminAccessBindings/{adminAccessBindingsId}",
              "response": {
                "$ref": "AdminAccessBinding"
              },
              "httpMethod": "GET",
              "id": "marketingplatformadmin.organizations.adminAccessBindings.get"
            },
            "create": {
              "httpMethod": "POST",
              "id": "marketingplatformadmin.organizations.adminAccessBindings.create",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/adminAccessBindings",
              "response": {
                "$ref": "AdminAccessBinding"
              },
              "description": "Creates an admin access binding in the specified GMP organization.",
              "flatPath": "v1alpha/organizations/{organizationsId}/adminAccessBindings",
              "request": {
                "$ref": "AdminAccessBinding"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent organization, which owns this Admin Access Binding. Format: organizations/{org_id}",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ]
            }
          }
        },
        "userGroups": {
          "methods": {
            "create": {
              "flatPath": "v1alpha/organizations/{organizationsId}/userGroups",
              "response": {
                "$ref": "UserGroup"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent resource where this UserGroup will be created. Format: organizations/{org_id}"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "id": "marketingplatformadmin.organizations.userGroups.create",
              "description": "Creates a user group in the specified GMP organization.",
              "request": {
                "$ref": "UserGroup"
              },
              "path": "v1alpha/{+parent}/userGroups"
            },
            "get": {
              "id": "marketingplatformadmin.organizations.userGroups.get",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}",
              "httpMethod": "GET",
              "description": "Looks up a single user group.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "UserGroup"
              },
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/userGroups/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the UserGroup to retrieve. Format: organizations/{org_id}/userGroups/{user_group_id}",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}"
            },
            "delete": {
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "id": "marketingplatformadmin.organizations.userGroups.delete",
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/userGroups/[^/]+$",
                  "description": "Required. The name of the user group to delete. Format: organizations/{org_id}/userGroups/{user_group_id}",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Deletes a user group in the specified GMP organization.",
              "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              }
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/organizations/{organizationsId}/userGroups",
              "description": "Returns a list of user groups in the specified GMP organization.",
              "response": {
                "$ref": "ListUserGroupsResponse"
              },
              "path": "v1alpha/{+parent}/userGroups",
              "id": "marketingplatformadmin.organizations.userGroups.list",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The parent org where this UserGroup will be listed. Format: organizations/{org_id}",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of user groups to return in one call. The service may return fewer than this value. If unspecified, at most 50 user groups will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous ListUserGroups call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserGroups` must match the call that provided the page token.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ]
            },
            "patch": {
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to update. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/userGroups/[^/]+$",
                  "description": "Identifier. Resource name of this UserGroup. Format: organizations/{org_id}/userGroups/{user_group_id} Example: \"organizations/123abc/userGroups/456def\""
                }
              },
              "request": {
                "$ref": "UserGroup"
              },
              "description": "Updates a user group in the specified GMP organization.",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}",
              "id": "marketingplatformadmin.organizations.userGroups.patch",
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "UserGroup"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "members": {
              "methods": {
                "list": {
                  "id": "marketingplatformadmin.organizations.userGroups.members.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListUserGroupMembersResponse"
                  },
                  "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}/members",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The maximum number of user group members to return in one call. The service may return fewer than this value. If unspecified, at most 50 user group members will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous ListUserGroupMembers call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserGroupMembers` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent user group where this UserGroupMember will be listed. Format: organizations/{org_id}/userGroups/{user_group_id}",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/userGroups/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
                  ],
                  "path": "v1alpha/{+parent}/members",
                  "description": "Returns a list of members in the specified user group."
                },
                "patch": {
                  "description": "Updates a member in the specified GMP user group.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "marketingplatformadmin.organizations.userGroups.members.patch",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/userGroups/[^/]+/members/[^/]+$",
                      "description": "Identifier. The resource name of this UserGroupMember. Format: organizations/{org_id}/userGroups/{user_group_id}/members/{member_id} Example: \"organizations/123abc/userGroups/456def/members/789ghi\""
                    },
                    "updateMask": {
                      "description": "Required. The list of fields to update. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "UserGroupMember"
                  },
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "UserGroupMember"
                  },
                  "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}/members/{membersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
                  ]
                },
                "create": {
                  "request": {
                    "$ref": "UserGroupMember"
                  },
                  "httpMethod": "POST",
                  "id": "marketingplatformadmin.organizations.userGroups.members.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Adds a member to the specified GMP user group.",
                  "path": "v1alpha/{+parent}/members",
                  "response": {
                    "$ref": "UserGroupMember"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/userGroups/[^/]+$",
                      "description": "Required. The parent resource where this UserGroupMember will be created. Format: organizations/{org_id}/userGroups/{user_group_id}",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}/members"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
                  ],
                  "httpMethod": "GET",
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}/members/{membersId}",
                  "response": {
                    "$ref": "UserGroupMember"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/userGroups/[^/]+/members/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the user group member to retrieve. Format: organizations/{org_id}/userGroups/{user_group_id}/members/{member_id}"
                    }
                  },
                  "id": "marketingplatformadmin.organizations.userGroups.members.get",
                  "description": "Looks up a single user group member."
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/userGroups/[^/]+/members/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the user group member to delete. Format: organizations/{org_id}/userGroups/{user_group_id}/members/{member_id}"
                    }
                  },
                  "id": "marketingplatformadmin.organizations.userGroups.members.delete",
                  "path": "v1alpha/{+name}",
                  "description": "Deletes a member in the specified GMP user group.",
                  "scopes": [
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}/members/{membersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE"
                }
              }
            }
          }
        }
      },
      "methods": {
        "get": {
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^organizations/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. The name of the Organization to retrieve. Format: organizations/{org_id}"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "flatPath": "v1alpha/organizations/{organizationsId}",
          "response": {
            "$ref": "Organization"
          },
          "parameterOrder": [
            "name"
          ],
          "id": "marketingplatformadmin.organizations.get",
          "description": "Looks up a single organization.",
          "path": "v1alpha/{+name}",
          "httpMethod": "GET"
        },
        "findSalesPartnerManagedClients": {
          "request": {
            "$ref": "FindSalesPartnerManagedClientsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "description": "Returns a list of clients managed by the sales partner organization. User needs to be an OrgAdmin/BillingAdmin on the sales partner organization in order to view the end clients.",
          "httpMethod": "POST",
          "parameterOrder": [
            "organization"
          ],
          "id": "marketingplatformadmin.organizations.findSalesPartnerManagedClients",
          "response": {
            "$ref": "FindSalesPartnerManagedClientsResponse"
          },
          "path": "v1alpha/{+organization}:findSalesPartnerManagedClients",
          "flatPath": "v1alpha/organizations/{organizationsId}:findSalesPartnerManagedClients",
          "parameters": {
            "organization": {
              "pattern": "^organizations/[^/]+$",
              "required": true,
              "description": "Required. The name of the sales partner organization. Format: organizations/{org_id}",
              "type": "string",
              "location": "path"
            }
          }
        },
        "reportPropertyUsage": {
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "request": {
            "$ref": "ReportPropertyUsageRequest"
          },
          "path": "v1alpha/{+organization}:reportPropertyUsage",
          "id": "marketingplatformadmin.organizations.reportPropertyUsage",
          "parameterOrder": [
            "organization"
          ],
          "httpMethod": "POST",
          "description": "Gets the usage and billing data for properties within the organization for the specified month. Per direct client org, user needs to be OrgAdmin/BillingAdmin on the organization in order to view the billing and usage data. Per sales partner client org, user needs to be OrgAdmin/BillingAdmin on the sales partner org in order to view the billing and usage data, or OrgAdmin/BillingAdmin on the sales partner client org in order to view the usage data only.",
          "parameters": {
            "organization": {
              "required": true,
              "pattern": "^organizations/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. Specifies the organization whose property usage will be listed. Format: organizations/{org_id}"
            }
          },
          "response": {
            "$ref": "ReportPropertyUsageResponse"
          },
          "flatPath": "v1alpha/organizations/{organizationsId}:reportPropertyUsage"
        },
        "list": {
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A page token, received from a previous ListOrganizations call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOrganizations` must match the call that provided the page token."
            },
            "pageSize": {
              "location": "query",
              "description": "Optional. The maximum number of organizations to return in one call. The service may return fewer than this value. If unspecified, at most 50 organizations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "type": "integer",
              "format": "int32"
            }
          },
          "parameterOrder": [],
          "id": "marketingplatformadmin.organizations.list",
          "response": {
            "$ref": "ListOrganizationsResponse"
          },
          "flatPath": "v1alpha/organizations",
          "description": "Returns a list of organizations that the user has access to.",
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "httpMethod": "GET",
          "path": "v1alpha/organizations"
        }
      }
    }
  },
  "version": "v1alpha"
}