{
  "id": "marketingplatformadmin:v1alpha",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read": {
          "description": "View your Google Analytics product account data in GMP home"
        },
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update": {
          "description": "Manage your Google Analytics product account data in GMP home"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "resources": {
    "organizations": {
      "methods": {
        "reportPropertyUsage": {
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "path": "v1alpha/{+organization}:reportPropertyUsage",
          "request": {
            "$ref": "ReportPropertyUsageRequest"
          },
          "description": "Gets the usage and billing data for properties within the organization for the specified month. Per direct client org, user needs to be OrgAdmin/BillingAdmin on the organization in order to view the billing and usage data. Per sales partner client org, user needs to be OrgAdmin/BillingAdmin on the sales partner org in order to view the billing and usage data, or OrgAdmin/BillingAdmin on the sales partner client org in order to view the usage data only.",
          "flatPath": "v1alpha/organizations/{organizationsId}:reportPropertyUsage",
          "httpMethod": "POST",
          "response": {
            "$ref": "ReportPropertyUsageResponse"
          },
          "parameterOrder": [
            "organization"
          ],
          "parameters": {
            "organization": {
              "description": "Required. Specifies the organization whose property usage will be listed. Format: organizations/{org_id}",
              "pattern": "^organizations/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "marketingplatformadmin.organizations.reportPropertyUsage"
        },
        "list": {
          "description": "Returns a list of organizations that the user has access to.",
          "id": "marketingplatformadmin.organizations.list",
          "parameterOrder": [],
          "flatPath": "v1alpha/organizations",
          "parameters": {
            "pageToken": {
              "description": "Optional. A page token, received from a previous ListOrganizations call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOrganizations` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "description": "Optional. The maximum number of organizations to return in one call. The service may return fewer than this value. If unspecified, at most 50 organizations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "location": "query",
              "type": "integer"
            }
          },
          "response": {
            "$ref": "ListOrganizationsResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "path": "v1alpha/organizations"
        },
        "get": {
          "flatPath": "v1alpha/organizations/{organizationsId}",
          "parameterOrder": [
            "name"
          ],
          "description": "Looks up a single organization.",
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "path": "v1alpha/{+name}",
          "httpMethod": "GET",
          "id": "marketingplatformadmin.organizations.get",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. The name of the Organization to retrieve. Format: organizations/{org_id}",
              "pattern": "^organizations/[^/]+$",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Organization"
          }
        },
        "findSalesPartnerManagedClients": {
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "request": {
            "$ref": "FindSalesPartnerManagedClientsRequest"
          },
          "description": "Returns a list of clients managed by the sales partner organization. User needs to be an OrgAdmin/BillingAdmin on the sales partner organization in order to view the end clients.",
          "response": {
            "$ref": "FindSalesPartnerManagedClientsResponse"
          },
          "parameterOrder": [
            "organization"
          ],
          "parameters": {
            "organization": {
              "description": "Required. The name of the sales partner organization. Format: organizations/{org_id}",
              "pattern": "^organizations/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1alpha/organizations/{organizationsId}:findSalesPartnerManagedClients",
          "httpMethod": "POST",
          "path": "v1alpha/{+organization}:findSalesPartnerManagedClients",
          "id": "marketingplatformadmin.organizations.findSalesPartnerManagedClients"
        }
      },
      "resources": {
        "analyticsAccountLinks": {
          "methods": {
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.create",
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks",
              "request": {
                "$ref": "AnalyticsAccountLink"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent resource where this Analytics account link will be created. Format: organizations/{org_id}",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "response": {
                "$ref": "AnalyticsAccountLink"
              },
              "description": "Creates the link between the Analytics account and the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account to create the link. If the account is already linked to an organization, user needs to unlink the account from the current organization, then try link again.",
              "path": "v1alpha/{+parent}/analyticsAccountLinks"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "path": "v1alpha/{+parent}/analyticsAccountLinks",
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.list",
              "description": "Lists the Google Analytics accounts link to the specified Google Marketing Platform organization.",
              "response": {
                "$ref": "ListAnalyticsAccountLinksResponse"
              },
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of Analytics account links to return in one call. The service may return fewer than this value. If unspecified, at most 50 Analytics account links will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous ListAnalyticsAccountLinks call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAnalyticsAccountLinks` must match the call that provided the page token."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent organization, which owns this collection of Analytics account links. Format: organizations/{org_id}",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "description": "Deletes the AnalyticsAccountLink, which detaches the Analytics account from the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account in order to delete the link.",
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}",
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.delete",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the Analytics account link to delete. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}"
                }
              }
            },
            "setPropertyServiceLevel": {
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.setPropertyServiceLevel",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "path": "v1alpha/{+analyticsAccountLink}:setPropertyServiceLevel",
              "parameterOrder": [
                "analyticsAccountLink"
              ],
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}:setPropertyServiceLevel",
              "request": {
                "$ref": "SetPropertyServiceLevelRequest"
              },
              "description": "Updates the service level for an Analytics property.",
              "parameters": {
                "analyticsAccountLink": {
                  "description": "Required. The parent AnalyticsAccountLink scope where this property is in. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}",
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "SetPropertyServiceLevelResponse"
              },
              "httpMethod": "POST"
            }
          }
        },
        "adminAccessBindings": {
          "methods": {
            "list": {
              "description": "Returns a list of admin access bindings in the specified GMP organization.",
              "flatPath": "v1alpha/organizations/{organizationsId}/adminAccessBindings",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of Admin Access Bindings to return in one call. The service may return fewer than this value. If unspecified, at most 50 Admin Access Bindings will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous ListAdminAccessBindings call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAdminAccessBindings` must match the call that provided the page token.",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The parent organization, which owns this collection of Admin Access Bindings. Format: organizations/{org_id}",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "path": "v1alpha/{+parent}/adminAccessBindings",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAdminAccessBindingsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "id": "marketingplatformadmin.organizations.adminAccessBindings.list"
            },
            "patch": {
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "Required. The list of fields to update. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "pattern": "^organizations/[^/]+/adminAccessBindings/[^/]+$",
                  "description": "Identifier. The resource name of this AdminAccessBinding. Format: organizations/{org_id}/adminAccessBindings/{admin_access_binding_id} Example: \"organizations/123abc/adminAccessBindings/456def\"",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Updates an admin access binding in the specified GMP organization.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "id": "marketingplatformadmin.organizations.adminAccessBindings.patch",
              "flatPath": "v1alpha/organizations/{organizationsId}/adminAccessBindings/{adminAccessBindingsId}",
              "request": {
                "$ref": "AdminAccessBinding"
              },
              "response": {
                "$ref": "AdminAccessBinding"
              },
              "path": "v1alpha/{+name}"
            },
            "get": {
              "flatPath": "v1alpha/organizations/{organizationsId}/adminAccessBindings/{adminAccessBindingsId}",
              "description": "Looks up a single admin access binding.",
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the AdminAccessBinding to retrieve. Format: organizations/{org_id}/adminAccessBindings/{admin_access_binding_id}",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/adminAccessBindings/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "AdminAccessBinding"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "marketingplatformadmin.organizations.adminAccessBindings.get"
            },
            "create": {
              "flatPath": "v1alpha/organizations/{organizationsId}/adminAccessBindings",
              "id": "marketingplatformadmin.organizations.adminAccessBindings.create",
              "request": {
                "$ref": "AdminAccessBinding"
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "description": "Creates an admin access binding in the specified GMP organization.",
              "path": "v1alpha/{+parent}/adminAccessBindings",
              "response": {
                "$ref": "AdminAccessBinding"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The parent organization, which owns this Admin Access Binding. Format: organizations/{org_id}",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "POST"
            }
          }
        },
        "userGroups": {
          "resources": {
            "members": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}/members",
                  "scopes": [
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
                  ],
                  "id": "marketingplatformadmin.organizations.userGroups.members.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListUserGroupMembersResponse"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent user group where this UserGroupMember will be listed. Format: organizations/{org_id}/userGroups/{user_group_id}",
                      "pattern": "^organizations/[^/]+/userGroups/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous ListUserGroupMembers call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserGroupMembers` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of user group members to return in one call. The service may return fewer than this value. If unspecified, at most 50 user group members will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query"
                    }
                  },
                  "description": "Returns a list of members in the specified user group.",
                  "path": "v1alpha/{+parent}/members"
                },
                "get": {
                  "description": "Looks up a single user group member.",
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}/members/{membersId}",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/userGroups/[^/]+/members/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the user group member to retrieve. Format: organizations/{org_id}/userGroups/{user_group_id}/members/{member_id}",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
                  ],
                  "id": "marketingplatformadmin.organizations.userGroups.members.get",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "UserGroupMember"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/userGroups/[^/]+/members/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the user group member to delete. Format: organizations/{org_id}/userGroups/{user_group_id}/members/{member_id}",
                      "type": "string"
                    }
                  },
                  "description": "Deletes a member in the specified GMP user group.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
                  ],
                  "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}/members/{membersId}",
                  "id": "marketingplatformadmin.organizations.userGroups.members.delete"
                },
                "patch": {
                  "description": "Updates a member in the specified GMP user group.",
                  "httpMethod": "PATCH",
                  "id": "marketingplatformadmin.organizations.userGroups.members.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
                  ],
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "description": "Required. The list of fields to update. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                      "format": "google-fieldmask",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/userGroups/[^/]+/members/[^/]+$",
                      "description": "Identifier. The resource name of this UserGroupMember. Format: organizations/{org_id}/userGroups/{user_group_id}/members/{member_id} Example: \"organizations/123abc/userGroups/456def/members/789ghi\""
                    }
                  },
                  "request": {
                    "$ref": "UserGroupMember"
                  },
                  "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}/members/{membersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "UserGroupMember"
                  },
                  "path": "v1alpha/{+name}"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/userGroups/[^/]+$",
                      "description": "Required. The parent resource where this UserGroupMember will be created. Format: organizations/{org_id}/userGroups/{user_group_id}"
                    }
                  },
                  "request": {
                    "$ref": "UserGroupMember"
                  },
                  "id": "marketingplatformadmin.organizations.userGroups.members.create",
                  "response": {
                    "$ref": "UserGroupMember"
                  },
                  "httpMethod": "POST",
                  "path": "v1alpha/{+parent}/members",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
                  ],
                  "description": "Adds a member to the specified GMP user group.",
                  "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}/members"
                }
              }
            }
          },
          "methods": {
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/userGroups/[^/]+$",
                  "description": "Required. The name of the user group to delete. Format: organizations/{org_id}/userGroups/{user_group_id}"
                }
              },
              "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "path": "v1alpha/{+name}",
              "description": "Deletes a user group in the specified GMP organization.",
              "response": {
                "$ref": "Empty"
              },
              "id": "marketingplatformadmin.organizations.userGroups.delete"
            },
            "patch": {
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Identifier. Resource name of this UserGroup. Format: organizations/{org_id}/userGroups/{user_group_id} Example: \"organizations/123abc/userGroups/456def\"",
                  "pattern": "^organizations/[^/]+/userGroups/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to update. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "PATCH",
              "response": {
                "$ref": "UserGroup"
              },
              "request": {
                "$ref": "UserGroup"
              },
              "description": "Updates a user group in the specified GMP organization.",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "id": "marketingplatformadmin.organizations.userGroups.patch"
            },
            "create": {
              "description": "Creates a user group in the specified GMP organization.",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "request": {
                "$ref": "UserGroup"
              },
              "id": "marketingplatformadmin.organizations.userGroups.create",
              "flatPath": "v1alpha/organizations/{organizationsId}/userGroups",
              "response": {
                "$ref": "UserGroup"
              },
              "path": "v1alpha/{+parent}/userGroups",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent resource where this UserGroup will be created. Format: organizations/{org_id}",
                  "pattern": "^organizations/[^/]+$"
                }
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "marketingplatformadmin.organizations.userGroups.get",
              "description": "Looks up a single user group.",
              "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}",
              "response": {
                "$ref": "UserGroup"
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the UserGroup to retrieve. Format: organizations/{org_id}/userGroups/{user_group_id}",
                  "pattern": "^organizations/[^/]+/userGroups/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "list": {
              "flatPath": "v1alpha/organizations/{organizationsId}/userGroups",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent org where this UserGroup will be listed. Format: organizations/{org_id}"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of user groups to return in one call. The service may return fewer than this value. If unspecified, at most 50 user groups will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous ListUserGroups call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserGroups` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "path": "v1alpha/{+parent}/userGroups",
              "description": "Returns a list of user groups in the specified GMP organization.",
              "id": "marketingplatformadmin.organizations.userGroups.list",
              "response": {
                "$ref": "ListUserGroupsResponse"
              }
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://marketingplatformadmin.mtls.googleapis.com/",
  "ownerName": "Google",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    }
  },
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "marketingplatformadmin",
  "title": "Google Marketing Platform Admin API",
  "baseUrl": "https://marketingplatformadmin.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "version_module": true,
  "version": "v1alpha",
  "description": "The Google Marketing Platform Admin API allows for programmatic access to the Google Marketing Platform configuration data. You can use the Google Marketing Platform Admin API to manage links between your Google Marketing Platform organization and Google Analytics accounts, and to set the service level of your GA4 properties.",
  "basePath": "",
  "servicePath": "",
  "canonicalName": "Google Marketing Platform Admin API",
  "schemas": {
    "ListOrganizationsResponse": {
      "description": "Response message for ListOrganizations RPC.",
      "type": "object",
      "id": "ListOrganizationsResponse",
      "properties": {
        "organizations": {
          "items": {
            "$ref": "Organization"
          },
          "type": "array",
          "description": "The Organization resource that the user has access to, which includes the org id and display name."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "ListAnalyticsAccountLinksResponse": {
      "id": "ListAnalyticsAccountLinksResponse",
      "description": "Response message for ListAnalyticsAccountLinks RPC.",
      "properties": {
        "analyticsAccountLinks": {
          "type": "array",
          "items": {
            "$ref": "AnalyticsAccountLink"
          },
          "description": "Analytics account links in this organization."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FindSalesPartnerManagedClientsResponse": {
      "properties": {
        "clientData": {
          "items": {
            "$ref": "ClientData"
          },
          "type": "array",
          "description": "The clients managed by the sales org."
        }
      },
      "id": "FindSalesPartnerManagedClientsResponse",
      "type": "object",
      "description": "Response message for FindSalesPartnerManagedClients RPC."
    },
    "PropertyUsage": {
      "id": "PropertyUsage",
      "type": "object",
      "properties": {
        "billableEventCount": {
          "type": "string",
          "description": "The number of events for which the property is billed in the requested month.",
          "format": "int64"
        },
        "property": {
          "type": "string",
          "description": "The name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}"
        },
        "accountId": {
          "type": "string",
          "format": "int64",
          "description": "The ID of the property's parent account."
        },
        "propertyType": {
          "enum": [
            "ANALYTICS_PROPERTY_TYPE_UNSPECIFIED",
            "ANALYTICS_PROPERTY_TYPE_ORDINARY",
            "ANALYTICS_PROPERTY_TYPE_SUBPROPERTY",
            "ANALYTICS_PROPERTY_TYPE_ROLLUP"
          ],
          "description": "The subtype of the analytics property. This affects the billable event count.",
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ],
          "type": "string"
        },
        "serviceLevel": {
          "type": "string",
          "description": "The service level of the property.",
          "enum": [
            "ANALYTICS_SERVICE_LEVEL_UNSPECIFIED",
            "ANALYTICS_SERVICE_LEVEL_STANDARD",
            "ANALYTICS_SERVICE_LEVEL_360"
          ],
          "enumDescriptions": [
            "Service level unspecified.",
            "The standard version of Google Analytics.",
            "The premium version of Google Analytics."
          ]
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the property."
        },
        "totalEventCount": {
          "type": "string",
          "description": "Total event count that the property received during the requested month.",
          "format": "int64"
        }
      },
      "description": "Contains the count of events received by the property, along with metadata that influences the volume of `billable` events."
    },
    "ClientData": {
      "type": "object",
      "id": "ClientData",
      "properties": {
        "endDate": {
          "description": "The end date of the contract between the sales org and the end client.",
          "$ref": "Date"
        },
        "startDate": {
          "$ref": "Date",
          "description": "The start date of the contract between the sales org and the end client."
        },
        "organization": {
          "$ref": "Organization",
          "description": "The end client that has/had contract with the requested sales org."
        }
      },
      "description": "Contains the client data."
    },
    "ListUserGroupMembersResponse": {
      "id": "ListUserGroupMembersResponse",
      "description": "Response message for ListUserGroupMembers RPC.",
      "type": "object",
      "properties": {
        "userGroupMembers": {
          "items": {
            "$ref": "UserGroupMember"
          },
          "description": "User group members in the user group.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Organization": {
      "description": "A resource message representing a Google Marketing Platform organization.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the GMP organization. Format: organizations/{org_id}",
          "type": "string"
        },
        "displayName": {
          "description": "The human-readable name for the organization.",
          "type": "string"
        }
      },
      "id": "Organization",
      "type": "object"
    },
    "ReportPropertyUsageRequest": {
      "id": "ReportPropertyUsageRequest",
      "type": "object",
      "properties": {
        "month": {
          "description": "Required. The target month to list property usages. Format: YYYY-MM. For example, \"2025-05\"",
          "type": "string"
        }
      },
      "description": "Request message for ReportPropertyUsage RPC."
    },
    "FindSalesPartnerManagedClientsRequest": {
      "id": "FindSalesPartnerManagedClientsRequest",
      "properties": {
        "isActive": {
          "description": "Optional. If set, only active and just ended clients will be returned.",
          "type": "boolean"
        }
      },
      "description": "Request message for FindSalesPartnerManagedClients RPC.",
      "type": "object"
    },
    "ListAdminAccessBindingsResponse": {
      "id": "ListAdminAccessBindingsResponse",
      "properties": {
        "adminAccessBindings": {
          "type": "array",
          "description": "Admin Access Bindings in the organization.",
          "items": {
            "$ref": "AdminAccessBinding"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "Response message for ListAdminAccessBindings RPC."
    },
    "AdminAccessBinding": {
      "description": "A resource message representing a binding to a set of roles.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of this AdminAccessBinding. Format: organizations/{org_id}/adminAccessBindings/{admin_access_binding_id} Example: \"organizations/123abc/adminAccessBindings/456def\""
        },
        "userEmail": {
          "type": "string",
          "description": "Email address of the user."
        },
        "organizationRoles": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unknown or unspecified organization role.",
              "Organization admin role that grants all administrative privileges.",
              "User admin role that grants access to the Users section to perform various user management functions.",
              "Billing admin role that grants access to the Billing section to perform various billing-related functions."
            ],
            "type": "string",
            "enum": [
              "ORGANIZATION_ROLE_UNSPECIFIED",
              "ORG_ADMIN_ROLE",
              "USER_ADMIN_ROLE",
              "BILLING_ADMIN_ROLE"
            ]
          },
          "description": "Optional. A list of roles granted to the parent organization. USER_ADMIN_ROLE and BILLING_ADMIN_ROLE will be automatically added if ORG_ADMIN_ROLE is assigned. No roles will be assigned if no roles are specified."
        },
        "userGroup": {
          "description": "Resource name of the user group.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AdminAccessBinding"
    },
    "AnalyticsAccountLink": {
      "type": "object",
      "description": "A resource message representing the link between a Google Analytics account and a Google Marketing Platform organization.",
      "id": "AnalyticsAccountLink",
      "properties": {
        "analyticsAccount": {
          "type": "string",
          "description": "Required. Immutable. The resource name of the AnalyticsAdmin API account. The account ID will be used as the ID of this AnalyticsAccountLink resource, which will become the final component of the resource name. Format: analyticsadmin.googleapis.com/accounts/{account_id}"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this AnalyticsAccountLink. Note the resource ID is the same as the ID of the Analtyics account. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id} Example: \"organizations/xyz/analyticsAccountLinks/1234\""
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The human-readable name for the Analytics account."
        },
        "linkVerificationState": {
          "type": "string",
          "enum": [
            "LINK_VERIFICATION_STATE_UNSPECIFIED",
            "LINK_VERIFICATION_STATE_VERIFIED",
            "LINK_VERIFICATION_STATE_NOT_VERIFIED"
          ],
          "readOnly": true,
          "description": "Output only. The verification state of the link between the Analytics account and the parent organization.",
          "enumDescriptions": [
            "The link state is unknown.",
            "The link is established.",
            "The link is requested, but hasn't been approved by the product account admin."
          ]
        }
      }
    },
    "SetPropertyServiceLevelResponse": {
      "id": "SetPropertyServiceLevelResponse",
      "type": "object",
      "properties": {},
      "description": "Response message for SetPropertyServiceLevel RPC."
    },
    "UserGroup": {
      "description": "A resource message representing a user group in a GMP organization.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Resource name of this UserGroup. Format: organizations/{org_id}/userGroups/{user_group_id} Example: \"organizations/123abc/userGroups/456def\"",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The human-readable name for the user group."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the user group."
        }
      },
      "id": "UserGroup"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "UserGroupMember": {
      "id": "UserGroupMember",
      "description": "A resource message representing a member of a user group.",
      "type": "object",
      "properties": {
        "userGroup": {
          "description": "User group resource name of the group member.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of this UserGroupMember. Format: organizations/{org_id}/userGroups/{user_group_id}/members/{member_id} Example: \"organizations/123abc/userGroups/456def/members/789ghi\"",
          "type": "string"
        },
        "membershipRole": {
          "type": "string",
          "description": "Optional. The role of the member in the user group.",
          "enum": [
            "MEMBERSHIP_ROLE_UNSPECIFIED",
            "MEMBERSHIP_ROLE_OWNER",
            "MEMBERSHIP_ROLE_MEMBER"
          ],
          "enumDescriptions": [
            "Unspecified membership role.",
            "Owner role that can add and remove group members.",
            "Member role that receives all permissions assigned to the group."
          ]
        },
        "userEmail": {
          "description": "Email address of the user member.",
          "type": "string"
        }
      }
    },
    "BillInfo": {
      "description": "Contains the bill amount.",
      "id": "BillInfo",
      "properties": {
        "baseFee": {
          "description": "The amount of the monthly base fee.",
          "$ref": "Money"
        },
        "eventFee": {
          "description": "The amount of the event fee.",
          "$ref": "Money"
        },
        "priceProtectionCredit": {
          "$ref": "Money",
          "description": "The amount of the price protection credit, this is only available for eligible customers."
        },
        "total": {
          "description": "The total amount of the bill.",
          "$ref": "Money"
        }
      },
      "type": "object"
    },
    "Money": {
      "type": "object",
      "properties": {
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64",
          "type": "string"
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        }
      },
      "id": "Money",
      "description": "Represents an amount of money with its currency type."
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Date"
    },
    "ReportPropertyUsageResponse": {
      "properties": {
        "propertyUsages": {
          "items": {
            "$ref": "PropertyUsage"
          },
          "description": "Usage data for all properties in the specified organization and month.",
          "type": "array"
        },
        "billInfo": {
          "description": "Bill amount in the specified organization and month. Will be empty if user only has access to usage data.",
          "$ref": "BillInfo"
        }
      },
      "type": "object",
      "id": "ReportPropertyUsageResponse",
      "description": "Response message for ReportPropertyUsage RPC."
    },
    "ListUserGroupsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "userGroups": {
          "description": "User groups in the organization.",
          "items": {
            "$ref": "UserGroup"
          },
          "type": "array"
        }
      },
      "id": "ListUserGroupsResponse",
      "description": "Response message for ListUserGroups RPC.",
      "type": "object"
    },
    "SetPropertyServiceLevelRequest": {
      "id": "SetPropertyServiceLevelRequest",
      "description": "Request message for SetPropertyServiceLevel RPC.",
      "type": "object",
      "properties": {
        "analyticsProperty": {
          "type": "string",
          "description": "Required. The Analytics property to change the ServiceLevel setting. This field is the name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}"
        },
        "serviceLevel": {
          "enum": [
            "ANALYTICS_SERVICE_LEVEL_UNSPECIFIED",
            "ANALYTICS_SERVICE_LEVEL_STANDARD",
            "ANALYTICS_SERVICE_LEVEL_360"
          ],
          "description": "Required. The service level to set for this property.",
          "enumDescriptions": [
            "Service level unspecified.",
            "The standard version of Google Analytics.",
            "The premium version of Google Analytics."
          ],
          "type": "string"
        }
      }
    }
  },
  "revision": "20260922",
  "rootUrl": "https://marketingplatformadmin.googleapis.com/",
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/analytics/devguides/config/gmp/v1",
  "batchPath": "batch"
}