{
  "baseUrl": "https://marketingplatformadmin.googleapis.com/",
  "title": "Google Marketing Platform Admin API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "marketingplatformadmin",
  "id": "marketingplatformadmin:v1alpha",
  "mtlsRootUrl": "https://marketingplatformadmin.mtls.googleapis.com/",
  "basePath": "",
  "documentationLink": "https://developers.google.com/analytics/devguides/config/gmp/v1",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Google Marketing Platform Admin API",
  "discoveryVersion": "v1",
  "version_module": true,
  "resources": {
    "organizations": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "Organization"
          },
          "description": "Looks up a single organization.",
          "flatPath": "v1alpha/organizations/{organizationsId}",
          "id": "marketingplatformadmin.organizations.get",
          "parameters": {
            "name": {
              "description": "Required. The name of the Organization to retrieve. Format: organizations/{org_id}",
              "pattern": "^organizations/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "path": "v1alpha/{+name}",
          "parameterOrder": [
            "name"
          ]
        },
        "findSalesPartnerManagedClients": {
          "parameterOrder": [
            "organization"
          ],
          "flatPath": "v1alpha/organizations/{organizationsId}:findSalesPartnerManagedClients",
          "response": {
            "$ref": "FindSalesPartnerManagedClientsResponse"
          },
          "description": "Returns a list of clients managed by the sales partner organization. User needs to be an OrgAdmin/BillingAdmin on the sales partner organization in order to view the end clients.",
          "parameters": {
            "organization": {
              "type": "string",
              "description": "Required. The name of the sales partner organization. Format: organizations/{org_id}",
              "location": "path",
              "pattern": "^organizations/[^/]+$",
              "required": true
            }
          },
          "path": "v1alpha/{+organization}:findSalesPartnerManagedClients",
          "id": "marketingplatformadmin.organizations.findSalesPartnerManagedClients",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "request": {
            "$ref": "FindSalesPartnerManagedClientsRequest"
          }
        },
        "reportPropertyUsage": {
          "parameters": {
            "organization": {
              "pattern": "^organizations/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. Specifies the organization whose property usage will be listed. Format: organizations/{org_id}",
              "required": true
            }
          },
          "parameterOrder": [
            "organization"
          ],
          "description": "Gets the usage and billing data for properties within the organization for the specified month. Per direct client org, user needs to be OrgAdmin/BillingAdmin on the organization in order to view the billing and usage data. Per sales partner client org, user needs to be OrgAdmin/BillingAdmin on the sales partner org in order to view the billing and usage data, or OrgAdmin/BillingAdmin on the sales partner client org in order to view the usage data only.",
          "path": "v1alpha/{+organization}:reportPropertyUsage",
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "flatPath": "v1alpha/organizations/{organizationsId}:reportPropertyUsage",
          "request": {
            "$ref": "ReportPropertyUsageRequest"
          },
          "httpMethod": "POST",
          "id": "marketingplatformadmin.organizations.reportPropertyUsage",
          "response": {
            "$ref": "ReportPropertyUsageResponse"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
            "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
          ],
          "parameterOrder": [],
          "parameters": {
            "pageToken": {
              "description": "Optional. A page token, received from a previous ListOrganizations call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOrganizations` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Optional. The maximum number of organizations to return in one call. The service may return fewer than this value. If unspecified, at most 50 organizations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
            }
          },
          "id": "marketingplatformadmin.organizations.list",
          "flatPath": "v1alpha/organizations",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListOrganizationsResponse"
          },
          "description": "Returns a list of organizations that the user has access to.",
          "path": "v1alpha/organizations"
        }
      },
      "resources": {
        "analyticsAccountLinks": {
          "methods": {
            "delete": {
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the Analytics account link to delete. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes the AnalyticsAccountLink, which detaches the Analytics account from the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account in order to delete the link.",
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.delete"
            },
            "setPropertyServiceLevel": {
              "parameterOrder": [
                "analyticsAccountLink"
              ],
              "parameters": {
                "analyticsAccountLink": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent AnalyticsAccountLink scope where this property is in. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id}",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/analyticsAccountLinks/[^/]+$"
                }
              },
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.setPropertyServiceLevel",
              "request": {
                "$ref": "SetPropertyServiceLevelRequest"
              },
              "path": "v1alpha/{+analyticsAccountLink}:setPropertyServiceLevel",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "httpMethod": "POST",
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks/{analyticsAccountLinksId}:setPropertyServiceLevel",
              "response": {
                "$ref": "SetPropertyServiceLevelResponse"
              },
              "description": "Updates the service level for an Analytics property."
            },
            "create": {
              "path": "v1alpha/{+parent}/analyticsAccountLinks",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates the link between the Analytics account and the Google Marketing Platform organization. User needs to be an org user, and admin on the Analytics account to create the link. If the account is already linked to an organization, user needs to unlink the account from the current organization, then try link again.",
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.create",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent resource where this Analytics account link will be created. Format: organizations/{org_id}",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks",
              "response": {
                "$ref": "AnalyticsAccountLink"
              },
              "request": {
                "$ref": "AnalyticsAccountLink"
              }
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of Analytics account links to return in one call. The service may return fewer than this value. If unspecified, at most 50 Analytics account links will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "description": "Required. The parent organization, which owns this collection of Analytics account links. Format: organizations/{org_id}",
                  "location": "path"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous ListAnalyticsAccountLinks call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAnalyticsAccountLinks` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "marketingplatformadmin.organizations.analyticsAccountLinks.list",
              "description": "Lists the Google Analytics accounts link to the specified Google Marketing Platform organization.",
              "response": {
                "$ref": "ListAnalyticsAccountLinksResponse"
              },
              "flatPath": "v1alpha/organizations/{organizationsId}/analyticsAccountLinks",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "path": "v1alpha/{+parent}/analyticsAccountLinks"
            }
          }
        },
        "userGroups": {
          "resources": {
            "members": {
              "methods": {
                "list": {
                  "id": "marketingplatformadmin.organizations.userGroups.members.list",
                  "response": {
                    "$ref": "ListUserGroupMembersResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/userGroups/[^/]+$",
                      "description": "Required. The parent user group where this UserGroupMember will be listed. Format: organizations/{org_id}/userGroups/{user_group_id}",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of user group members to return in one call. The service may return fewer than this value. If unspecified, at most 50 user group members will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous ListUserGroupMembers call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserGroupMembers` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}/members",
                  "scopes": [
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
                  ],
                  "path": "v1alpha/{+parent}/members",
                  "httpMethod": "GET",
                  "description": "Returns a list of members in the specified user group."
                },
                "create": {
                  "response": {
                    "$ref": "UserGroupMember"
                  },
                  "description": "Adds a member to the specified GMP user group.",
                  "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}/members",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
                  ],
                  "path": "v1alpha/{+parent}/members",
                  "id": "marketingplatformadmin.organizations.userGroups.members.create",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/userGroups/[^/]+$",
                      "description": "Required. The parent resource where this UserGroupMember will be created. Format: organizations/{org_id}/userGroups/{user_group_id}",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "UserGroupMember"
                  },
                  "httpMethod": "POST"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/userGroups/[^/]+/members/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the user group member to delete. Format: organizations/{org_id}/userGroups/{user_group_id}/members/{member_id}",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
                  ],
                  "path": "v1alpha/{+name}",
                  "description": "Deletes a member in the specified GMP user group.",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "marketingplatformadmin.organizations.userGroups.members.delete",
                  "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}/members/{membersId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
                  ],
                  "httpMethod": "GET",
                  "id": "marketingplatformadmin.organizations.userGroups.members.get",
                  "response": {
                    "$ref": "UserGroupMember"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}/members/{membersId}",
                  "description": "Looks up a single user group member.",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/userGroups/[^/]+/members/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the user group member to retrieve. Format: organizations/{org_id}/userGroups/{user_group_id}/members/{member_id}",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "patch": {
                  "request": {
                    "$ref": "UserGroupMember"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
                  ],
                  "response": {
                    "$ref": "UserGroupMember"
                  },
                  "parameters": {
                    "updateMask": {
                      "description": "Required. The list of fields to update. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/userGroups/[^/]+/members/[^/]+$",
                      "description": "Identifier. The resource name of this UserGroupMember. Format: organizations/{org_id}/userGroups/{user_group_id}/members/{member_id} Example: \"organizations/123abc/userGroups/456def/members/789ghi\"",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}/members/{membersId}",
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "marketingplatformadmin.organizations.userGroups.members.patch",
                  "httpMethod": "PATCH",
                  "description": "Updates a member in the specified GMP user group."
                }
              }
            }
          },
          "methods": {
            "patch": {
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Required. The list of fields to update. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/userGroups/[^/]+$",
                  "description": "Identifier. Resource name of this UserGroup. Format: organizations/{org_id}/userGroups/{user_group_id} Example: \"organizations/123abc/userGroups/456def\""
                }
              },
              "request": {
                "$ref": "UserGroup"
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "id": "marketingplatformadmin.organizations.userGroups.patch",
              "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "UserGroup"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a user group in the specified GMP organization.",
              "path": "v1alpha/{+name}"
            },
            "delete": {
              "description": "Deletes a user group in the specified GMP organization.",
              "httpMethod": "DELETE",
              "id": "marketingplatformadmin.organizations.userGroups.delete",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/userGroups/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the user group to delete. Format: organizations/{org_id}/userGroups/{user_group_id}"
                }
              },
              "path": "v1alpha/{+name}"
            },
            "create": {
              "httpMethod": "POST",
              "request": {
                "$ref": "UserGroup"
              },
              "description": "Creates a user group in the specified GMP organization.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/userGroups",
              "response": {
                "$ref": "UserGroup"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "description": "Required. The parent resource where this UserGroup will be created. Format: organizations/{org_id}",
                  "required": true
                }
              },
              "flatPath": "v1alpha/organizations/{organizationsId}/userGroups",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "id": "marketingplatformadmin.organizations.userGroups.create"
            },
            "get": {
              "httpMethod": "GET",
              "description": "Looks up a single user group.",
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/organizations/{organizationsId}/userGroups/{userGroupsId}",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/userGroups/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the UserGroup to retrieve. Format: organizations/{org_id}/userGroups/{user_group_id}",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "UserGroup"
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "id": "marketingplatformadmin.organizations.userGroups.get",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous ListUserGroups call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserGroups` must match the call that provided the page token.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of user groups to return in one call. The service may return fewer than this value. If unspecified, at most 50 user groups will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent org where this UserGroup will be listed. Format: organizations/{org_id}"
                }
              },
              "path": "v1alpha/{+parent}/userGroups",
              "description": "Returns a list of user groups in the specified GMP organization.",
              "id": "marketingplatformadmin.organizations.userGroups.list",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListUserGroupsResponse"
              },
              "flatPath": "v1alpha/organizations/{organizationsId}/userGroups"
            }
          }
        },
        "adminAccessBindings": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The parent organization, which owns this collection of Admin Access Bindings. Format: organizations/{org_id}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of Admin Access Bindings to return in one call. The service may return fewer than this value. If unspecified, at most 50 Admin Access Bindings will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous ListAdminAccessBindings call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAdminAccessBindings` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "marketingplatformadmin.organizations.adminAccessBindings.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListAdminAccessBindingsResponse"
              },
              "description": "Returns a list of admin access bindings in the specified GMP organization.",
              "flatPath": "v1alpha/organizations/{organizationsId}/adminAccessBindings",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "path": "v1alpha/{+parent}/adminAccessBindings"
            },
            "create": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent organization, which owns this Admin Access Binding. Format: organizations/{org_id}",
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "request": {
                "$ref": "AdminAccessBinding"
              },
              "httpMethod": "POST",
              "path": "v1alpha/{+parent}/adminAccessBindings",
              "id": "marketingplatformadmin.organizations.adminAccessBindings.create",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates an admin access binding in the specified GMP organization.",
              "response": {
                "$ref": "AdminAccessBinding"
              },
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "flatPath": "v1alpha/organizations/{organizationsId}/adminAccessBindings"
            },
            "patch": {
              "request": {
                "$ref": "AdminAccessBinding"
              },
              "httpMethod": "PATCH",
              "response": {
                "$ref": "AdminAccessBinding"
              },
              "id": "marketingplatformadmin.organizations.adminAccessBindings.patch",
              "description": "Updates an admin access binding in the specified GMP organization.",
              "flatPath": "v1alpha/organizations/{organizationsId}/adminAccessBindings/{adminAccessBindingsId}",
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to update. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields."
                },
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/adminAccessBindings/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Identifier. The resource name of this AdminAccessBinding. Format: organizations/{org_id}/adminAccessBindings/{admin_access_binding_id} Example: \"organizations/123abc/adminAccessBindings/456def\""
                }
              },
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read",
                "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update"
              ],
              "httpMethod": "GET",
              "flatPath": "v1alpha/organizations/{organizationsId}/adminAccessBindings/{adminAccessBindingsId}",
              "response": {
                "$ref": "AdminAccessBinding"
              },
              "id": "marketingplatformadmin.organizations.adminAccessBindings.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Looks up a single admin access binding.",
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the AdminAccessBinding to retrieve. Format: organizations/{org_id}/adminAccessBindings/{admin_access_binding_id}",
                  "pattern": "^organizations/[^/]+/adminAccessBindings/[^/]+$",
                  "location": "path",
                  "required": true
                }
              }
            }
          }
        }
      }
    }
  },
  "description": "The Google Marketing Platform Admin API allows for programmatic access to the Google Marketing Platform configuration data. You can use the Google Marketing Platform Admin API to manage links between your Google Marketing Platform organization and Google Analytics accounts, and to set the service level of your GA4 properties.",
  "kind": "discovery#restDescription",
  "revision": "20261008",
  "rootUrl": "https://marketingplatformadmin.googleapis.com/",
  "protocol": "rest",
  "batchPath": "batch",
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "ownerDomain": "google.com",
  "version": "v1alpha",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.update": {
          "description": "Manage your Google Analytics product account data in GMP home"
        },
        "https://www.googleapis.com/auth/marketingplatformadmin.analytics.read": {
          "description": "View your Google Analytics product account data in GMP home"
        }
      }
    }
  },
  "schemas": {
    "Date": {
      "type": "object",
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ReportPropertyUsageResponse": {
      "id": "ReportPropertyUsageResponse",
      "type": "object",
      "properties": {
        "propertyUsages": {
          "items": {
            "$ref": "PropertyUsage"
          },
          "type": "array",
          "description": "Usage data for all properties in the specified organization and month."
        },
        "billInfo": {
          "description": "Bill amount in the specified organization and month. Will be empty if user only has access to usage data.",
          "$ref": "BillInfo"
        }
      },
      "description": "Response message for ReportPropertyUsage RPC."
    },
    "UserGroup": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. The human-readable name for the user group."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this UserGroup. Format: organizations/{org_id}/userGroups/{user_group_id} Example: \"organizations/123abc/userGroups/456def\""
        },
        "description": {
          "description": "Optional. The description of the user group.",
          "type": "string"
        }
      },
      "id": "UserGroup",
      "description": "A resource message representing a user group in a GMP organization."
    },
    "AnalyticsAccountLink": {
      "description": "A resource message representing the link between a Google Analytics account and a Google Marketing Platform organization.",
      "id": "AnalyticsAccountLink",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this AnalyticsAccountLink. Note the resource ID is the same as the ID of the Analtyics account. Format: organizations/{org_id}/analyticsAccountLinks/{analytics_account_link_id} Example: \"organizations/xyz/analyticsAccountLinks/1234\""
        },
        "analyticsAccount": {
          "description": "Required. Immutable. The resource name of the AnalyticsAdmin API account. The account ID will be used as the ID of this AnalyticsAccountLink resource, which will become the final component of the resource name. Format: analyticsadmin.googleapis.com/accounts/{account_id}",
          "type": "string"
        },
        "linkVerificationState": {
          "enumDescriptions": [
            "The link state is unknown.",
            "The link is established.",
            "The link is requested, but hasn't been approved by the product account admin."
          ],
          "description": "Output only. The verification state of the link between the Analytics account and the parent organization.",
          "enum": [
            "LINK_VERIFICATION_STATE_UNSPECIFIED",
            "LINK_VERIFICATION_STATE_VERIFIED",
            "LINK_VERIFICATION_STATE_NOT_VERIFIED"
          ],
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. The human-readable name for the Analytics account.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ListUserGroupsResponse": {
      "id": "ListUserGroupsResponse",
      "description": "Response message for ListUserGroups RPC.",
      "type": "object",
      "properties": {
        "userGroups": {
          "items": {
            "$ref": "UserGroup"
          },
          "type": "array",
          "description": "User groups in the organization."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ReportPropertyUsageRequest": {
      "id": "ReportPropertyUsageRequest",
      "type": "object",
      "description": "Request message for ReportPropertyUsage RPC.",
      "properties": {
        "month": {
          "type": "string",
          "description": "Required. The target month to list property usages. Format: YYYY-MM. For example, \"2025-05\""
        }
      }
    },
    "Organization": {
      "id": "Organization",
      "type": "object",
      "description": "A resource message representing a Google Marketing Platform organization.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the GMP organization. Format: organizations/{org_id}"
        },
        "displayName": {
          "type": "string",
          "description": "The human-readable name for the organization."
        }
      }
    },
    "Money": {
      "properties": {
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string",
          "format": "int64"
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        }
      },
      "id": "Money",
      "type": "object",
      "description": "Represents an amount of money with its currency type."
    },
    "FindSalesPartnerManagedClientsResponse": {
      "properties": {
        "clientData": {
          "description": "The clients managed by the sales org.",
          "items": {
            "$ref": "ClientData"
          },
          "type": "array"
        }
      },
      "description": "Response message for FindSalesPartnerManagedClients RPC.",
      "id": "FindSalesPartnerManagedClientsResponse",
      "type": "object"
    },
    "ListUserGroupMembersResponse": {
      "id": "ListUserGroupMembersResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "userGroupMembers": {
          "description": "User group members in the user group.",
          "type": "array",
          "items": {
            "$ref": "UserGroupMember"
          }
        }
      },
      "description": "Response message for ListUserGroupMembers RPC.",
      "type": "object"
    },
    "AdminAccessBinding": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of this AdminAccessBinding. Format: organizations/{org_id}/adminAccessBindings/{admin_access_binding_id} Example: \"organizations/123abc/adminAccessBindings/456def\""
        },
        "userGroup": {
          "type": "string",
          "description": "Resource name of the user group."
        },
        "userEmail": {
          "description": "Email address of the user.",
          "type": "string"
        },
        "organizationRoles": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "ORGANIZATION_ROLE_UNSPECIFIED",
              "ORG_ADMIN_ROLE",
              "USER_ADMIN_ROLE",
              "BILLING_ADMIN_ROLE"
            ],
            "enumDescriptions": [
              "Unknown or unspecified organization role.",
              "Organization admin role that grants all administrative privileges.",
              "User admin role that grants access to the Users section to perform various user management functions.",
              "Billing admin role that grants access to the Billing section to perform various billing-related functions."
            ]
          },
          "description": "Optional. A list of roles granted to the parent organization. USER_ADMIN_ROLE and BILLING_ADMIN_ROLE will be automatically added if ORG_ADMIN_ROLE is assigned. No roles will be assigned if no roles are specified."
        }
      },
      "type": "object",
      "description": "A resource message representing a binding to a set of roles.",
      "id": "AdminAccessBinding"
    },
    "ClientData": {
      "type": "object",
      "properties": {
        "organization": {
          "description": "The end client that has/had contract with the requested sales org.",
          "$ref": "Organization"
        },
        "endDate": {
          "description": "The end date of the contract between the sales org and the end client.",
          "$ref": "Date"
        },
        "startDate": {
          "$ref": "Date",
          "description": "The start date of the contract between the sales org and the end client."
        }
      },
      "id": "ClientData",
      "description": "Contains the client data."
    },
    "SetPropertyServiceLevelResponse": {
      "description": "Response message for SetPropertyServiceLevel RPC.",
      "properties": {},
      "id": "SetPropertyServiceLevelResponse",
      "type": "object"
    },
    "SetPropertyServiceLevelRequest": {
      "properties": {
        "analyticsProperty": {
          "description": "Required. The Analytics property to change the ServiceLevel setting. This field is the name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}",
          "type": "string"
        },
        "serviceLevel": {
          "description": "Required. The service level to set for this property.",
          "enumDescriptions": [
            "Service level unspecified.",
            "The standard version of Google Analytics.",
            "The premium version of Google Analytics."
          ],
          "enum": [
            "ANALYTICS_SERVICE_LEVEL_UNSPECIFIED",
            "ANALYTICS_SERVICE_LEVEL_STANDARD",
            "ANALYTICS_SERVICE_LEVEL_360"
          ],
          "type": "string"
        }
      },
      "description": "Request message for SetPropertyServiceLevel RPC.",
      "id": "SetPropertyServiceLevelRequest",
      "type": "object"
    },
    "ListOrganizationsResponse": {
      "id": "ListOrganizationsResponse",
      "type": "object",
      "description": "Response message for ListOrganizations RPC.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "organizations": {
          "description": "The Organization resource that the user has access to, which includes the org id and display name.",
          "type": "array",
          "items": {
            "$ref": "Organization"
          }
        }
      }
    },
    "FindSalesPartnerManagedClientsRequest": {
      "id": "FindSalesPartnerManagedClientsRequest",
      "properties": {
        "isActive": {
          "type": "boolean",
          "description": "Optional. If set, only active and just ended clients will be returned."
        }
      },
      "type": "object",
      "description": "Request message for FindSalesPartnerManagedClients RPC."
    },
    "ListAnalyticsAccountLinksResponse": {
      "description": "Response message for ListAnalyticsAccountLinks RPC.",
      "id": "ListAnalyticsAccountLinksResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "analyticsAccountLinks": {
          "type": "array",
          "description": "Analytics account links in this organization.",
          "items": {
            "$ref": "AnalyticsAccountLink"
          }
        }
      }
    },
    "UserGroupMember": {
      "properties": {
        "membershipRole": {
          "description": "Optional. The role of the member in the user group.",
          "enumDescriptions": [
            "Unspecified membership role.",
            "Owner role that can add and remove group members.",
            "Member role that receives all permissions assigned to the group."
          ],
          "enum": [
            "MEMBERSHIP_ROLE_UNSPECIFIED",
            "MEMBERSHIP_ROLE_OWNER",
            "MEMBERSHIP_ROLE_MEMBER"
          ],
          "type": "string"
        },
        "userGroup": {
          "type": "string",
          "description": "User group resource name of the group member."
        },
        "name": {
          "description": "Identifier. The resource name of this UserGroupMember. Format: organizations/{org_id}/userGroups/{user_group_id}/members/{member_id} Example: \"organizations/123abc/userGroups/456def/members/789ghi\"",
          "type": "string"
        },
        "userEmail": {
          "description": "Email address of the user member.",
          "type": "string"
        }
      },
      "description": "A resource message representing a member of a user group.",
      "type": "object",
      "id": "UserGroupMember"
    },
    "PropertyUsage": {
      "id": "PropertyUsage",
      "properties": {
        "totalEventCount": {
          "format": "int64",
          "type": "string",
          "description": "Total event count that the property received during the requested month."
        },
        "displayName": {
          "description": "The display name of the property.",
          "type": "string"
        },
        "serviceLevel": {
          "description": "The service level of the property.",
          "type": "string",
          "enum": [
            "ANALYTICS_SERVICE_LEVEL_UNSPECIFIED",
            "ANALYTICS_SERVICE_LEVEL_STANDARD",
            "ANALYTICS_SERVICE_LEVEL_360"
          ],
          "enumDescriptions": [
            "Service level unspecified.",
            "The standard version of Google Analytics.",
            "The premium version of Google Analytics."
          ]
        },
        "propertyType": {
          "description": "The subtype of the analytics property. This affects the billable event count.",
          "enum": [
            "ANALYTICS_PROPERTY_TYPE_UNSPECIFIED",
            "ANALYTICS_PROPERTY_TYPE_ORDINARY",
            "ANALYTICS_PROPERTY_TYPE_SUBPROPERTY",
            "ANALYTICS_PROPERTY_TYPE_ROLLUP"
          ],
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ],
          "type": "string"
        },
        "accountId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the property's parent account."
        },
        "property": {
          "type": "string",
          "description": "The name of the Google Analytics Admin API property resource. Format: analyticsadmin.googleapis.com/properties/{property_id}"
        },
        "billableEventCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of events for which the property is billed in the requested month."
        }
      },
      "description": "Contains the count of events received by the property, along with metadata that influences the volume of `billable` events.",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "BillInfo": {
      "description": "Contains the bill amount.",
      "type": "object",
      "properties": {
        "total": {
          "description": "The total amount of the bill.",
          "$ref": "Money"
        },
        "baseFee": {
          "$ref": "Money",
          "description": "The amount of the monthly base fee."
        },
        "eventFee": {
          "description": "The amount of the event fee.",
          "$ref": "Money"
        },
        "priceProtectionCredit": {
          "description": "The amount of the price protection credit, this is only available for eligible customers.",
          "$ref": "Money"
        }
      },
      "id": "BillInfo"
    },
    "ListAdminAccessBindingsResponse": {
      "properties": {
        "adminAccessBindings": {
          "description": "Admin Access Bindings in the organization.",
          "type": "array",
          "items": {
            "$ref": "AdminAccessBinding"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListAdminAccessBindingsResponse",
      "type": "object",
      "description": "Response message for ListAdminAccessBindings RPC."
    }
  },
  "servicePath": ""
}