{
  "discoveryVersion": "v1",
  "revision": "20260825",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developers.google.com/workspace/meet/api",
  "id": "meet:v2",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "canonicalName": "Meet",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "name": "meet",
  "protocol": "rest",
  "baseUrl": "https://meet.googleapis.com/",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    }
  },
  "schemas": {
    "ListRecordingsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the recordings. Unset if all recordings are returned.",
          "type": "string"
        },
        "recordings": {
          "description": "List of recordings in one page.",
          "items": {
            "$ref": "Recording"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response for ListRecordings method.",
      "id": "ListRecordingsResponse"
    },
    "SignedinUser": {
      "description": "A signed-in user can be: a) An individual joining from a personal computer, mobile device, or through companion mode. b) A robot account used by conference room devices.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. For a personal device, it's the user's first name and last name. For a robot account, it's the administrator-specified device name. For example, \"Altostrat Room\"."
        },
        "user": {
          "description": "Output only. Unique ID for the user. Interoperable with Admin SDK API and People API. Format: `users/{user}`",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "SignedinUser"
    },
    "Transcript": {
      "id": "Transcript",
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default, never used.",
            "An active transcript session has started.",
            "This transcript session has ended, but the transcript file hasn't been generated yet.",
            "Transcript file is generated and ready to download."
          ],
          "description": "Output only. Current state.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ]
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the transcript. Format: `conferenceRecords/{conference_record}/transcripts/{transcript}`, where `{transcript}` is a 1:1 mapping to each unique transcription session of the conference."
        },
        "startTime": {
          "description": "Output only. Timestamp when the transcript started.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the transcript stopped.",
          "type": "string"
        },
        "docsDestination": {
          "readOnly": true,
          "description": "Output only. Where the Google Docs transcript is saved.",
          "$ref": "DocsDestination"
        }
      },
      "type": "object",
      "description": "Metadata for a transcript generated from a conference. It refers to the ASR (Automatic Speech Recognition) result of user's speech during the conference."
    },
    "DriveDestination": {
      "type": "object",
      "description": "Export location where a recording file is saved in Google Drive.",
      "id": "DriveDestination",
      "properties": {
        "exportUri": {
          "description": "Output only. Link used to play back the recording file in the browser. For example, `https://drive.google.com/file/d/{$fileId}/view`.",
          "type": "string",
          "readOnly": true
        },
        "file": {
          "description": "Output only. The `fileId` for the underlying MP4 file. For example, \"1kuceFZohVoCh6FulBHxwy6I15Ogpc4hP\". Use `$ GET https://www.googleapis.com/drive/v3/files/{$fileId}?alt=media` to download the blob. For more information, see https://developers.google.com/drive/api/v3/reference/files/get.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SpaceConfig": {
      "properties": {
        "attendanceReportGenerationType": {
          "description": "Whether attendance report is enabled for the meeting space.",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Attendance report will be generated and sent to drive/email.",
            "Attendance report will not be generated."
          ],
          "enum": [
            "ATTENDANCE_REPORT_GENERATION_TYPE_UNSPECIFIED",
            "GENERATE_REPORT",
            "DO_NOT_GENERATE"
          ],
          "type": "string"
        },
        "entryPointAccess": {
          "description": "Defines the entry points that can be used to join meetings hosted in this meeting space. Default: EntryPointAccess.ALL",
          "enum": [
            "ENTRY_POINT_ACCESS_UNSPECIFIED",
            "ALL",
            "CREATOR_APP_ONLY"
          ],
          "enumDescriptions": [
            "Unused.",
            "All entry points are allowed.",
            "Only entry points owned by the Google Cloud project that created the space can be used to join meetings in this space. Apps can use the Meet Embed SDK Web or mobile Meet SDKs to create owned entry points."
          ],
          "type": "string"
        },
        "artifactConfig": {
          "$ref": "ArtifactConfig",
          "description": "Configuration pertaining to the auto-generated artifacts that the meeting supports."
        },
        "moderationRestrictions": {
          "$ref": "ModerationRestrictions",
          "description": "When moderation.ON, these restrictions go into effect for the meeting. When moderation.OFF, will be reset to default ModerationRestrictions."
        },
        "accessType": {
          "description": "Access type of the meeting space that determines who can join without knocking. Default: The user's default access settings. Controlled by the user's admin for enterprise users or RESTRICTED.",
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "OPEN",
            "TRUSTED",
            "RESTRICTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value specified by the user's organization. Note: This is never returned, as the configured access type is returned instead.",
            "Anyone with the join information (for example, the URL or phone access information) can join without knocking.",
            "Members of the host's organization, invited external users, and dial-in users can join without knocking. Everyone else must knock.",
            "Only invitees can join without knocking. Everyone else must knock."
          ]
        },
        "moderation": {
          "enumDescriptions": [
            "Moderation type is not specified. This is used to indicate the user hasn't specified any value as the user does not intend to update the state. Users are not allowed to set the value as unspecified.",
            "Moderation is off.",
            "Moderation is on."
          ],
          "description": "The pre-configured moderation mode for the Meeting. Default: Controlled by the user's policies.",
          "type": "string",
          "enum": [
            "MODERATION_UNSPECIFIED",
            "OFF",
            "ON"
          ]
        }
      },
      "id": "SpaceConfig",
      "description": "The configuration pertaining to a meeting space.",
      "type": "object"
    },
    "ParticipantSession": {
      "description": "Refers to each unique join or leave session when a user joins a conference from a device. Note that any time a user joins the conference a new unique ID is assigned. That means if a user joins a space multiple times from the same device, they're assigned different IDs, and are also be treated as different participant sessions.",
      "id": "ParticipantSession",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Output only. Timestamp when the user session ends. Unset if the user session hasn’t ended.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the user session starts."
        },
        "name": {
          "description": "Identifier. Session id.",
          "type": "string"
        }
      }
    },
    "ListConferenceRecordsResponse": {
      "type": "object",
      "description": "Response of ListConferenceRecords method.",
      "id": "ListConferenceRecordsResponse",
      "properties": {
        "conferenceRecords": {
          "items": {
            "$ref": "ConferenceRecord"
          },
          "description": "List of conferences in one page.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to be circulated back for further List call if current List does NOT include all the Conferences. Unset if all conferences have been returned."
        }
      }
    },
    "DocsDestination": {
      "type": "object",
      "properties": {
        "document": {
          "type": "string",
          "description": "Output only. The document ID for the underlying Google Docs transcript file. For example, \"1kuceFZohVoCh6FulBHxwy6I15Ogpc4hP\". Use the `documents.get` method of the Google Docs API (https://developers.google.com/docs/api/reference/rest/v1/documents/get) to fetch the content.",
          "readOnly": true
        },
        "exportUri": {
          "readOnly": true,
          "description": "Output only. URI for the Google Docs transcript file. Use `https://docs.google.com/document/d/{$DocumentId}/view` to browse the transcript in the browser.",
          "type": "string"
        }
      },
      "description": "Google Docs location where the transcript file is saved.",
      "id": "DocsDestination"
    },
    "Space": {
      "description": "Virtual place where conferences are held. Only one active conference can be held in one space at any given time.",
      "id": "Space",
      "type": "object",
      "properties": {
        "activeConference": {
          "description": "Active conference, if it exists.",
          "$ref": "ActiveConference"
        },
        "gatewaySipAccess": {
          "type": "array",
          "items": {
            "$ref": "GatewaySipAccess"
          },
          "readOnly": true,
          "description": "Output only. The SIP-based access methods that can be used to join the conference. Can be empty."
        },
        "phoneAccess": {
          "items": {
            "$ref": "PhoneAccess"
          },
          "description": "Output only. All regional phone access methods for this meeting space. Can be empty.",
          "type": "array",
          "readOnly": true
        },
        "config": {
          "$ref": "SpaceConfig",
          "description": "Configuration pertaining to the meeting space."
        },
        "meetingUri": {
          "readOnly": true,
          "description": "Output only. URI used to join meetings consisting of `https://meet.google.com/` followed by the `meeting_code`. For example, `https://meet.google.com/abc-mnop-xyz`.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
          "type": "string"
        },
        "meetingCode": {
          "description": "Output only. Type friendly unique string used to join the meeting. Format: `[a-z]+-[a-z]+-[a-z]+`. For example, `abc-mnop-xyz`. The maximum length is 128 characters. Can only be used as an alias of the space name to get the space.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SmartNotesConfig": {
      "type": "object",
      "description": "Configuration related to smart notes in a meeting space. For more information about smart notes, see [\"Take notes for me\" in Google Meet](https://support.google.com/meet/answer/14754931).",
      "properties": {
        "autoSmartNotesGeneration": {
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ],
          "type": "string",
          "description": "Defines whether to automatically generate a summary and recap of the meeting for all invitees in the organization when someone with the privilege to enable smart notes joins the meeting.",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ]
        }
      },
      "id": "SmartNotesConfig"
    },
    "Participant": {
      "id": "Participant",
      "properties": {
        "latestEndTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the participant left the meeting for the last time. This can be null if it's an active meeting.",
          "readOnly": true,
          "type": "string"
        },
        "signedinUser": {
          "$ref": "SignedinUser",
          "description": "Signed-in user."
        },
        "phoneUser": {
          "description": "User calling from their phone.",
          "$ref": "PhoneUser"
        },
        "earliestStartTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the participant first joined the meeting."
        },
        "anonymousUser": {
          "description": "Anonymous user.",
          "$ref": "AnonymousUser"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the participant. Format: `conferenceRecords/{conference_record}/participants/{participant}`",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "User who attended or is attending a conference."
    },
    "PhoneAccess": {
      "id": "PhoneAccess",
      "description": "Phone access contains information required to dial into a conference using a regional phone number and a PIN that is specific to that phone number.",
      "properties": {
        "regionCode": {
          "description": "The CLDR/ISO 3166 region code for the country associated with this phone access. To be parsed by the i18n RegionCode utility. Example: \"SE\" for Sweden.",
          "type": "string"
        },
        "languageCode": {
          "description": "The BCP 47/LDML language code for the language associated with this phone access. To be parsed by the i18n LanguageCode utility. Examples: \"es-419\" for Latin American Spanish, \"fr-CA\" for Canadian French.",
          "type": "string"
        },
        "pin": {
          "description": "The PIN that users must enter after dialing the given number. The PIN consists of only decimal digits and the length may vary.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number to dial for this meeting space in E.164 format. Full phone number with a leading '+' character."
        }
      },
      "type": "object"
    },
    "ListParticipantsResponse": {
      "type": "object",
      "description": "Response of ListParticipants method.",
      "id": "ListParticipantsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to be circulated back for further List call if current List doesn't include all the participants. Unset if all participants are returned."
        },
        "participants": {
          "type": "array",
          "items": {
            "$ref": "Participant"
          },
          "description": "List of participants in one page."
        },
        "totalSize": {
          "format": "int32",
          "description": "Total, exact number of `participants`. By default, this field isn't included in the response. Set the field mask in [SystemParameterContext](https://cloud.google.com/apis/docs/system-parameters) to receive this field in the response.",
          "type": "integer"
        }
      }
    },
    "TranscriptionConfig": {
      "id": "TranscriptionConfig",
      "type": "object",
      "properties": {
        "autoTranscriptionGeneration": {
          "type": "string",
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ],
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ],
          "description": "Defines whether the content of a meeting is automatically transcribed when someone with the privilege to transcribe joins the meeting."
        }
      },
      "description": "Configuration related to transcription in a meeting space."
    },
    "Recording": {
      "description": "Metadata about a recording created during a conference.",
      "id": "Recording",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the recording. Format: `conferenceRecords/{conference_record}/recordings/{recording}` where `{recording}` is a 1:1 mapping to each unique recording session during the conference."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the recording ended.",
          "readOnly": true,
          "type": "string"
        },
        "driveDestination": {
          "readOnly": true,
          "$ref": "DriveDestination",
          "description": "Output only. Recording is saved to Google Drive as an MP4 file. The `drive_destination` includes the Drive `fileId` that can be used to download the file using the `files.get` method of the Drive API."
        },
        "startTime": {
          "description": "Output only. Timestamp when the recording started.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default, never used.",
            "An active recording session has started.",
            "This recording session has ended, but the recording file hasn't been generated yet.",
            "Recording file is generated and ready to download."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ],
          "type": "string",
          "description": "Output only. Current state."
        }
      }
    },
    "ListTranscriptEntriesResponse": {
      "type": "object",
      "description": "Response for ListTranscriptEntries method.",
      "id": "ListTranscriptEntriesResponse",
      "properties": {
        "transcriptEntries": {
          "description": "List of TranscriptEntries in one page.",
          "type": "array",
          "items": {
            "$ref": "TranscriptEntry"
          }
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the transcript entries. Unset if all entries are returned.",
          "type": "string"
        }
      }
    },
    "ListParticipantSessionsResponse": {
      "description": "Response of ListParticipants method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the participants. Unset if all participants are returned.",
          "type": "string"
        },
        "participantSessions": {
          "items": {
            "$ref": "ParticipantSession"
          },
          "type": "array",
          "description": "List of participants in one page."
        }
      },
      "id": "ListParticipantSessionsResponse"
    },
    "SmartNote": {
      "description": "Metadata for a smart note generated from a conference. It refers to the notes generated from Take Notes with Gemini during the conference.",
      "id": "SmartNote",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default, never used.",
            "An active smart notes session has started.",
            "This smart notes session has ended, but the smart notes file hasn't been generated yet.",
            "Smart notes file is generated and ready to download."
          ],
          "type": "string",
          "description": "Output only. Current state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ],
          "readOnly": true
        },
        "docsDestination": {
          "$ref": "DocsDestination",
          "description": "Output only. The Google Doc destination where the smart notes are saved.",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. Timestamp when the smart notes stopped.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Output only. Timestamp when the smart notes started.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. Resource name of the smart notes. Format: `conferenceRecords/{conference_record}/smartNotes/{smart_note}`, where `{smart_note}` is a 1:1 mapping to each unique smart notes session of the conference.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ActiveConference": {
      "properties": {
        "conferenceRecord": {
          "description": "Output only. Reference to 'ConferenceRecord' resource. Format: `conferenceRecords/{conference_record}` where `{conference_record}` is a unique ID for each instance of a call within a space.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ActiveConference",
      "description": "Active conference.",
      "type": "object"
    },
    "GatewaySipAccess": {
      "description": "Details how to join the conference through a SIP gateway.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The Session Initiation Protocol (SIP) URI the conference can be reached through. The string is in one of these formats: * \"sip:USER_ID@GATEWAY_ADDRESS\" * \"sips:USER_ID@GATEWAY_ADDRESS\" where USER_ID is the 13-digit universal pin (with the future option to support using a Meet meeting code as well), and GATEWAY_ADDRESS is a valid address to be resolved using a DNS SRV lookup, or a dotted quad."
        },
        "sipAccessCode": {
          "type": "string",
          "description": "The permanent numeric code for manual entry on specially configured devices."
        }
      },
      "id": "GatewaySipAccess",
      "type": "object"
    },
    "TranscriptEntry": {
      "description": "Single entry for one user’s speech during a transcript session.",
      "id": "TranscriptEntry",
      "type": "object",
      "properties": {
        "participant": {
          "readOnly": true,
          "description": "Output only. Refers to the participant who speaks.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of the entry. Format: \"conferenceRecords/{conference_record}/transcripts/{transcript}/entries/{entry}\"",
          "readOnly": true,
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Output only. Language of spoken text, such as \"en-US\". IETF BCP 47 syntax (https://tools.ietf.org/html/bcp47)",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "description": "Output only. Timestamp when the transcript entry ended.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "text": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The transcribed text of the participant's voice, at maximum 10K words. Note that the limit is subject to change."
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the transcript entry started."
        }
      }
    },
    "RecordingConfig": {
      "type": "object",
      "description": "Configuration related to recording in a meeting space.",
      "properties": {
        "autoRecordingGeneration": {
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ],
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ],
          "description": "Defines whether a meeting space is automatically recorded when someone with the privilege to record joins the meeting.",
          "type": "string"
        }
      },
      "id": "RecordingConfig"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "ArtifactConfig": {
      "id": "ArtifactConfig",
      "properties": {
        "recordingConfig": {
          "description": "Configuration for recording.",
          "$ref": "RecordingConfig"
        },
        "smartNotesConfig": {
          "$ref": "SmartNotesConfig",
          "description": "Configuration for auto-smart-notes."
        },
        "transcriptionConfig": {
          "$ref": "TranscriptionConfig",
          "description": "Configuration for auto-transcript."
        }
      },
      "description": "Configuration related to meeting artifacts potentially generated by this meeting space.",
      "type": "object"
    },
    "ConferenceRecord": {
      "description": "Single instance of a meeting held in a space.",
      "type": "object",
      "id": "ConferenceRecord",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Output only. Timestamp when the conference started. Always set.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the conference ended. Set for past conferences. Unset if the conference is ongoing.",
          "readOnly": true,
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Output only. Server enforced expiration time for when this conference record resource is deleted. The resource is deleted 30 days after the conference ends.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of the conference record. Format: `conferenceRecords/{conference_record}` where `{conference_record}` is a unique ID for each instance of a call within a space.",
          "type": "string"
        },
        "space": {
          "description": "Output only. The space where the conference was held.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "AnonymousUser": {
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. User provided name when they join a conference anonymously."
        }
      },
      "id": "AnonymousUser",
      "type": "object",
      "description": "User who joins anonymously (meaning not signed into a Google Account)."
    },
    "EndActiveConferenceRequest": {
      "type": "object",
      "properties": {},
      "description": "Request to end an ongoing conference of a space.",
      "id": "EndActiveConferenceRequest"
    },
    "ListTranscriptsResponse": {
      "type": "object",
      "id": "ListTranscriptsResponse",
      "description": "Response for ListTranscripts method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to be circulated back for further List call if current List doesn't include all the transcripts. Unset if all transcripts are returned."
        },
        "transcripts": {
          "items": {
            "$ref": "Transcript"
          },
          "description": "List of transcripts in one page.",
          "type": "array"
        }
      }
    },
    "ListSmartNotesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the smart notes. Unset if all smart notes are returned.",
          "type": "string"
        },
        "smartNotes": {
          "items": {
            "$ref": "SmartNote"
          },
          "type": "array",
          "description": "List of smart notes in one page."
        }
      },
      "description": "Response for ListSmartNotes method.",
      "type": "object",
      "id": "ListSmartNotesResponse"
    },
    "PhoneUser": {
      "properties": {
        "displayName": {
          "description": "Output only. Partially redacted user's phone number when calling.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "User dialing in from a phone where the user's identity is unknown because they haven't signed in with a Google Account.",
      "id": "PhoneUser"
    },
    "ModerationRestrictions": {
      "type": "object",
      "properties": {
        "presentRestriction": {
          "description": "Defines who has permission to share their screen in the meeting space.",
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ],
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ],
          "type": "string"
        },
        "defaultJoinAsViewerType": {
          "enum": [
            "DEFAULT_JOIN_AS_VIEWER_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ],
          "type": "string",
          "description": "Defines whether to restrict the default role assigned to users as viewer.",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Users will by default join as viewers.",
            "Users will by default join as contributors."
          ]
        },
        "reactionRestriction": {
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ],
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ],
          "type": "string",
          "description": "Defines who has permission to send reactions in the meeting space."
        },
        "chatRestriction": {
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ],
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ],
          "description": "Defines who has permission to send chat messages in the meeting space.",
          "type": "string"
        }
      },
      "id": "ModerationRestrictions",
      "description": "Defines restrictions for features when the meeting is moderated."
    }
  },
  "basePath": "",
  "kind": "discovery#restDescription",
  "resources": {
    "spaces": {
      "methods": {
        "endActiveConference": {
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "EndActiveConferenceRequest"
          },
          "path": "v2/{+name}:endActiveConference",
          "id": "meet.spaces.endActiveConference",
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
              "required": true,
              "type": "string",
              "pattern": "^spaces/[^/]+$"
            }
          },
          "description": "Ends an active conference (if there's one). For an example, see [End active conference](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#end-active-conference).",
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v2/spaces/{spacesId}:endActiveConference",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created"
          ]
        },
        "create": {
          "id": "meet.spaces.create",
          "parameters": {},
          "description": "Creates a space.",
          "request": {
            "$ref": "Space"
          },
          "parameterOrder": [],
          "flatPath": "v2/spaces",
          "response": {
            "$ref": "Space"
          },
          "path": "v2/spaces",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created"
          ]
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly",
            "https://www.googleapis.com/auth/meetings.space.settings"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^spaces/[^/]+$",
              "description": "Required. Resource name of the space. Format: `spaces/{space}` or `spaces/{meetingCode}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. `{meetingCode}` is an alias for the space. It's a typeable, unique character string and is non-case sensitive. For example, `abc-mnop-xyz`. The maximum length is 128 characters. A `meetingCode` shouldn't be stored long term as it can become dissociated from a meeting space and can be reused for different meeting spaces in the future. Generally, a `meetingCode` expires 365 days after last use. For more information, see [Learn about meeting codes in Google Meet](https://support.google.com/meet/answer/10710509). For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
              "required": true
            }
          },
          "id": "meet.spaces.get",
          "path": "v2/{+name}",
          "flatPath": "v2/spaces/{spacesId}",
          "description": "Gets details about a meeting space. For an example, see [Get a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#get-meeting-space).",
          "response": {
            "$ref": "Space"
          },
          "httpMethod": "GET"
        },
        "patch": {
          "description": "Updates details about a meeting space. For an example, see [Update a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#update-meeting-space).",
          "flatPath": "v2/spaces/{spacesId}",
          "parameters": {
            "name": {
              "description": "Immutable. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^spaces/[^/]+$"
            },
            "updateMask": {
              "location": "query",
              "description": "Optional. Field mask used to specify the fields to be updated in the space. If update_mask isn't provided(not set, set with empty paths, or only has \"\" as paths), it defaults to update all fields provided with values in the request. Using \"*\" as update_mask will update all fields, including deleting fields not set in the request.",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "response": {
            "$ref": "Space"
          },
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.settings"
          ],
          "id": "meet.spaces.patch",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Space"
          },
          "path": "v2/{+name}",
          "parameterOrder": [
            "name"
          ]
        }
      }
    },
    "conferenceRecords": {
      "methods": {
        "list": {
          "parameters": {
            "filter": {
              "type": "string",
              "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `space.meeting_code` * `space.name` * `start_time` * `end_time` For example, consider the following filters: * `space.name = \"spaces/NAME\"` * `space.meeting_code = \"abc-mnop-xyz\"` * `start_time>=\"2024-01-01T00:00:00.000Z\" AND start_time<=\"2024-01-02T00:00:00.000Z\"` * `end_time IS NULL`",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "description": "Optional. Maximum number of conference records to return. The service might return fewer than this value. If unspecified, at most 25 conference records are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "description": "Optional. Page token returned from previous List Call.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "meet.conferenceRecords.list",
          "flatPath": "v2/conferenceRecords",
          "path": "v2/conferenceRecords",
          "response": {
            "$ref": "ListConferenceRecordsResponse"
          },
          "description": "Lists the conference records. By default, ordered by start time and in descending order.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "httpMethod": "GET"
        },
        "get": {
          "path": "v2/{+name}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "flatPath": "v2/conferenceRecords/{conferenceRecordsId}",
          "response": {
            "$ref": "ConferenceRecord"
          },
          "parameterOrder": [
            "name"
          ],
          "id": "meet.conferenceRecords.get",
          "parameters": {
            "name": {
              "pattern": "^conferenceRecords/[^/]+$",
              "required": true,
              "description": "Required. Resource name of the conference.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Gets a conference record by conference ID."
        }
      },
      "resources": {
        "recordings": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/recordings/{recordingsId}",
              "httpMethod": "GET",
              "path": "v2/{+name}",
              "response": {
                "$ref": "Recording"
              },
              "description": "Gets a recording by recording ID.",
              "id": "meet.conferenceRecords.recordings.get",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^conferenceRecords/[^/]+/recordings/[^/]+$",
                  "location": "path",
                  "description": "Required. Resource name of the recording."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListRecordingsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "httpMethod": "GET",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/recordings",
              "path": "v2/{+parent}/recordings",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum number of recordings to return. The service might return fewer than this value. If unspecified, at most 10 recordings are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^conferenceRecords/[^/]+$",
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Page token returned from previous List Call."
                }
              },
              "id": "meet.conferenceRecords.recordings.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the recording resources from the conference record. By default, ordered by start time and in ascending order."
            }
          }
        },
        "transcripts": {
          "resources": {
            "entries": {
              "methods": {
                "get": {
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}/entries/{entriesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "meet.conferenceRecords.transcripts.entries.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "response": {
                    "$ref": "TranscriptEntry"
                  },
                  "path": "v2/{+name}",
                  "description": "Gets a `TranscriptEntry` resource by entry ID. Note: The transcript entries returned by the Google Meet API might not match the transcription found in the Google Docs transcript file. This can occur when 1) we have interleaved speakers within milliseconds, or 2) the Google Docs transcript file is modified after generation.",
                  "parameters": {
                    "name": {
                      "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+/entries/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Resource name of the `TranscriptEntry`."
                    }
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "meet.conferenceRecords.transcripts.entries.list",
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}/entries",
                  "response": {
                    "$ref": "ListTranscriptEntriesResponse"
                  },
                  "path": "v2/{+parent}/entries",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Format: `conferenceRecords/{conference_record}/transcripts/{transcript}`",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Page token returned from previous List Call."
                    },
                    "pageSize": {
                      "description": "Maximum number of entries to return. The service might return fewer than this value. If unspecified, at most 10 entries are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "description": "Lists the structured transcript entries per transcript. By default, ordered by start time and in ascending order. Note: The transcript entries returned by the Google Meet API might not match the transcription found in the Google Docs transcript file. This can occur when 1) we have interleaved speakers within milliseconds, or 2) the Google Docs transcript file is modified after generation."
                }
              }
            }
          },
          "methods": {
            "get": {
              "description": "Gets a transcript by transcript ID.",
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}",
              "httpMethod": "GET",
              "id": "meet.conferenceRecords.transcripts.get",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Resource name of the transcript.",
                  "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Transcript"
              },
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}"
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum number of transcripts to return. The service might return fewer than this value. If unspecified, at most 10 transcripts are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Page token returned from previous List Call."
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "pattern": "^conferenceRecords/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts",
              "parameterOrder": [
                "parent"
              ],
              "id": "meet.conferenceRecords.transcripts.list",
              "response": {
                "$ref": "ListTranscriptsResponse"
              },
              "description": "Lists the set of transcripts from the conference record. By default, ordered by start time and in ascending order.",
              "path": "v2/{+parent}/transcripts",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "participants": {
          "resources": {
            "participantSessions": {
              "methods": {
                "get": {
                  "id": "meet.conferenceRecords.participants.participantSessions.get",
                  "path": "v2/{+name}",
                  "description": "Gets a participant session by participant session ID.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^conferenceRecords/[^/]+/participants/[^/]+/participantSessions/[^/]+$",
                      "required": true,
                      "description": "Required. Resource name of the participant.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}/participantSessions/{participantSessionsId}",
                  "response": {
                    "$ref": "ParticipantSession"
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListParticipantSessionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "description": "Lists the participant sessions of a participant in a conference record. By default, ordered by join time and in descending order. This API supports `fields` as standard parameters like every other API. However, when the `fields` request parameter is omitted this API defaults to `'participantsessions/*, next_page_token'`.",
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}/participantSessions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/participantSessions",
                  "parameters": {
                    "filter": {
                      "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `start_time` * `end_time` For example, `end_time IS NULL` returns active participant sessions in the conference record.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Page token returned from previous List Call."
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Maximum number of participant sessions to return. The service might return fewer than this value. If unspecified, at most 100 participants are returned. The maximum value is 250; values above 250 are coerced to 250. Maximum might change in the future.",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. Format: `conferenceRecords/{conference_record}/participants/{participant}`",
                      "type": "string",
                      "pattern": "^conferenceRecords/[^/]+/participants/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "meet.conferenceRecords.participants.participantSessions.list"
                }
              }
            }
          },
          "methods": {
            "get": {
              "response": {
                "$ref": "Participant"
              },
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^conferenceRecords/[^/]+/participants/[^/]+$",
                  "description": "Required. Resource name of the participant.",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}",
              "description": "Gets a participant by participant ID.",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "httpMethod": "GET",
              "id": "meet.conferenceRecords.participants.get"
            },
            "list": {
              "parameters": {
                "parent": {
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "location": "path",
                  "pattern": "^conferenceRecords/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Maximum number of participants to return. The service might return fewer than this value. If unspecified, at most 100 participants are returned. The maximum value is 250; values above 250 are coerced to 250. Maximum might change in the future.",
                  "format": "int32"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `earliest_start_time` * `latest_end_time` For example, `latest_end_time IS NULL` returns active participants in the conference.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Page token returned from previous List Call."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "path": "v2/{+parent}/participants",
              "parameterOrder": [
                "parent"
              ],
              "id": "meet.conferenceRecords.participants.list",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants",
              "response": {
                "$ref": "ListParticipantsResponse"
              },
              "httpMethod": "GET",
              "description": "Lists the participants in a conference record. By default, ordered by join time and in descending order. This API supports `fields` as standard parameters like every other API. However, when the `fields` request parameter is omitted, this API defaults to `'participants/*, next_page_token'`."
            }
          }
        },
        "smartNotes": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "id": "meet.conferenceRecords.smartNotes.get",
              "response": {
                "$ref": "SmartNote"
              },
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/smartNotes/{smartNotesId}",
              "description": "Gets smart notes by smart note ID.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^conferenceRecords/[^/]+/smartNotes/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. Resource name of the smart note. Format: conferenceRecords/{conference_record}/smartNotes/{smart_note}",
                  "type": "string"
                }
              }
            },
            "list": {
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/smartNotes",
              "description": "Lists the set of smart notes from the conference record. By default, ordered by start time and in ascending order.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListSmartNotesResponse"
              },
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Page token returned from previous List Call."
                },
                "parent": {
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^conferenceRecords/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. Maximum number of smart notes to return. The service might return fewer than this value. If unspecified, at most 10 smart notes are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "path": "v2/{+parent}/smartNotes",
              "id": "meet.conferenceRecords.smartNotes.list",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "version": "v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/meetings.space.created": {
          "description": "Create, edit, and see information about your Google Meet conferences created by the app."
        },
        "https://www.googleapis.com/auth/meetings.space.readonly": {
          "description": "Read information about any of your Google Meet conferences"
        },
        "https://www.googleapis.com/auth/meetings.space.settings": {
          "description": "Edit, and see settings for all of your Google Meet calls."
        }
      }
    }
  },
  "rootUrl": "https://meet.googleapis.com/",
  "version_module": true,
  "title": "Google Meet API",
  "mtlsRootUrl": "https://meet.mtls.googleapis.com/",
  "description": "Create and manage meetings in Google Meet."
}