{
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "id": "meet:v2",
  "resources": {
    "spaces": {
      "methods": {
        "patch": {
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "Optional. Field mask used to specify the fields to be updated in the space. If update_mask isn't provided(not set, set with empty paths, or only has \"\" as paths), it defaults to update all fields provided with values in the request. Using \"*\" as update_mask will update all fields, including deleting fields not set in the request.",
              "format": "google-fieldmask"
            },
            "name": {
              "pattern": "^spaces/[^/]+$",
              "type": "string",
              "description": "Immutable. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.settings"
          ],
          "request": {
            "$ref": "Space"
          },
          "httpMethod": "PATCH",
          "flatPath": "v2/spaces/{spacesId}",
          "id": "meet.spaces.patch",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Space"
          },
          "path": "v2/{+name}",
          "description": "Updates details about a meeting space. For more information, see [Manage meeting spaces](https://developers.google.com/workspace/meet/api/guides/manage-meeting-spaces)."
        },
        "get": {
          "httpMethod": "GET",
          "path": "v2/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^spaces/[^/]+$",
              "description": "Required. Resource name of the space. Format: `spaces/{space}` or `spaces/{meetingCode}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. `{meetingCode}` is an alias for the space. It's a typeable, unique character string and is non-case sensitive. For example, `abc-mnop-xyz`. The maximum length is 128 characters. A `meetingCode` shouldn't be stored long term as it can become dissociated from a meeting space and can be reused for different meeting spaces in the future. Generally, a `meetingCode` expires 365 days after last use. For more information, see [Learn about meeting codes in Google Meet](https://support.google.com/meet/answer/10710509). For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space)."
            }
          },
          "id": "meet.spaces.get",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly",
            "https://www.googleapis.com/auth/meetings.space.settings"
          ],
          "response": {
            "$ref": "Space"
          },
          "description": "Gets details about a meeting space. For more information, see [Manage meeting spaces](https://developers.google.com/workspace/meet/api/guides/manage-meeting-spaces). For an example, see [Get a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#get-meeting-space).",
          "flatPath": "v2/spaces/{spacesId}"
        },
        "endActiveConference": {
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created"
          ],
          "request": {
            "$ref": "EndActiveConferenceRequest"
          },
          "flatPath": "v2/spaces/{spacesId}:endActiveConference",
          "parameters": {
            "name": {
              "description": "Required. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space).",
              "location": "path",
              "pattern": "^spaces/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          },
          "id": "meet.spaces.endActiveConference",
          "description": "Ends an active conference (if there's one). For more information, see [Manage meeting spaces](https://developers.google.com/workspace/meet/api/guides/manage-meeting-spaces).",
          "path": "v2/{+name}:endActiveConference"
        },
        "create": {
          "response": {
            "$ref": "Space"
          },
          "request": {
            "$ref": "Space"
          },
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created"
          ],
          "id": "meet.spaces.create",
          "flatPath": "v2/spaces",
          "parameters": {},
          "path": "v2/spaces",
          "httpMethod": "POST",
          "description": "Creates a space. For more information, see [Manage meeting spaces](https://developers.google.com/workspace/meet/api/guides/manage-meeting-spaces).",
          "parameterOrder": []
        }
      },
      "resources": {
        "members": {
          "methods": {
            "get": {
              "id": "meet.spaces.members.get",
              "description": "Gets a member. For more information, see [Manage meeting space members](https://developers.google.com/workspace/meet/api/guides/meeting-space-members). This API supports the `fields` parameter in [SystemParameterContext](https://cloud.google.com/apis/docs/system-parameters). When the `fields` parameter is omitted, this API response will default to \"name,email,role,user\".",
              "path": "v2/{+name}",
              "response": {
                "$ref": "Member"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^spaces/[^/]+/members/[^/]+$",
                  "description": "Required. Format: “spaces/{space}/members/{member}”"
                }
              },
              "flatPath": "v2/spaces/{spacesId}/members/{membersId}",
              "httpMethod": "GET"
            },
            "create": {
              "response": {
                "$ref": "Member"
              },
              "path": "v2/{+parent}/members",
              "description": "Creates a member. For more information, see [Manage meeting space members](https://developers.google.com/workspace/meet/api/guides/meeting-space-members). This API supports the `fields` parameter in [SystemParameterContext](https://cloud.google.com/apis/docs/system-parameters). When the `fields` parameter is omitted, this API response will default to \"name,email,role,user\".",
              "flatPath": "v2/spaces/{spacesId}/members",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created"
              ],
              "id": "meet.spaces.members.create",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Member"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^spaces/[^/]+$",
                  "required": true,
                  "description": "Required. Format: spaces/{space}"
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. Maximum number of members to return. The service might return fewer than this value. If unspecified or set to 0, at most 250 members are returned. The maximum value is 500; values above 500 are coerced to 500. Maximum might change in the future."
                },
                "pageToken": {
                  "description": "Optional. Page token returned from previous List Call.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. Format: spaces/{space}",
                  "type": "string",
                  "required": true,
                  "pattern": "^spaces/[^/]+$"
                }
              },
              "path": "v2/{+parent}/members",
              "response": {
                "$ref": "ListMembersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "id": "meet.spaces.members.list",
              "description": "Lists members. For more information, see [Manage meeting space members](https://developers.google.com/workspace/meet/api/guides/meeting-space-members). This API supports the `fields` parameter in [SystemParameterContext](https://cloud.google.com/apis/docs/system-parameters). When the `fields` parameter is omitted this API response will default to \"name,email,role,user\".",
              "flatPath": "v2/spaces/{spacesId}/members"
            },
            "delete": {
              "description": "Deletes the member who was previously assigned roles in the space. For more information, see [Manage meeting space members](https://developers.google.com/workspace/meet/api/guides/meeting-space-members).",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created"
              ],
              "flatPath": "v2/spaces/{spacesId}/members/{membersId}",
              "id": "meet.spaces.members.delete",
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^spaces/[^/]+/members/[^/]+$",
                  "description": "Required. Format: “spaces/{space}/members/{member}”",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Empty"
              }
            },
            "batchUpdate": {
              "id": "meet.spaces.members.batchUpdate",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent resource shared by all Members being updated. Format: spaces/{space}",
                  "pattern": "^spaces/[^/]+$"
                }
              },
              "flatPath": "v2/spaces/{spacesId}/members:batchUpdate",
              "description": "Updates members of one space within a batch. For more information, see [Manage meeting space members](https://developers.google.com/workspace/meet/api/guides/meeting-space-members).",
              "request": {
                "$ref": "BatchUpdateMembersRequest"
              },
              "path": "v2/{+parent}/members:batchUpdate",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "BatchUpdateMembersResponse"
              }
            },
            "patch": {
              "flatPath": "v2/spaces/{spacesId}/members/{membersId}",
              "description": "Updates a member. For more information, see [Manage meeting space members](https://developers.google.com/workspace/meet/api/guides/meeting-space-members).",
              "request": {
                "$ref": "Member"
              },
              "id": "meet.spaces.members.patch",
              "path": "v2/{+name}",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "description": "Optional. Field mask used to specify the fields to be updated in the member. If update_mask isn't provided(not set, set with empty paths, or only has \"\" as paths), it defaults to update all fields provided with values in the request. Using \"*\" as update_mask will update all fields, including deleting fields not set in the request. In case of BatchUpdate, it must be absent or the same as the update_mask in BatchUpdateMembersRequest when UpdateMemberRequest is built as a child request of BatchUpdateMembersRequest.",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Identifier. Resource name of the member. Format: spaces/{space}/members/{member}",
                  "pattern": "^spaces/[^/]+/members/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Member"
              }
            }
          }
        }
      }
    },
    "conferenceRecords": {
      "methods": {
        "get": {
          "parameters": {
            "name": {
              "pattern": "^conferenceRecords/[^/]+$",
              "type": "string",
              "required": true,
              "description": "Required. Resource name of the conference.",
              "location": "path"
            }
          },
          "flatPath": "v2/conferenceRecords/{conferenceRecordsId}",
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "httpMethod": "GET",
          "id": "meet.conferenceRecords.get",
          "path": "v2/{+name}",
          "response": {
            "$ref": "ConferenceRecord"
          },
          "description": "Gets a conference record by conference ID. For more information, see [Work with conferences](https://developers.google.com/workspace/meet/api/guides/conferences).",
          "parameterOrder": [
            "name"
          ]
        },
        "list": {
          "parameterOrder": [],
          "httpMethod": "GET",
          "flatPath": "v2/conferenceRecords",
          "description": "Lists the conference records. By default, ordered by start time and in descending order. For more information, see [Work with conferences](https://developers.google.com/workspace/meet/api/guides/conferences).",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "Optional. Maximum number of conference records to return. The service might return fewer than this value. If unspecified, at most 25 conference records are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
              "location": "query",
              "type": "integer"
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `space.meeting_code` * `space.name` * `start_time` * `end_time` For example, consider the following filters: * `space.name = \"spaces/NAME\"` * `space.meeting_code = \"abc-mnop-xyz\"` * `start_time>=\"2024-01-01T00:00:00.000Z\" AND start_time<=\"2024-01-02T00:00:00.000Z\"` * `end_time IS NULL`"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. Page token returned from previous List Call."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/meetings.space.created",
            "https://www.googleapis.com/auth/meetings.space.readonly"
          ],
          "path": "v2/conferenceRecords",
          "id": "meet.conferenceRecords.list",
          "response": {
            "$ref": "ListConferenceRecordsResponse"
          }
        }
      },
      "resources": {
        "smartNotes": {
          "methods": {
            "list": {
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/smartNotes",
              "path": "v2/{+parent}/smartNotes",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Optional. Page token returned from previous List Call.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "pattern": "^conferenceRecords/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Format: `conferenceRecords/{conference_record}`"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. Maximum number of smart notes to return. The service might return fewer than this value. If unspecified, at most 10 smart notes are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future."
                }
              },
              "id": "meet.conferenceRecords.smartNotes.list",
              "httpMethod": "GET",
              "description": "Lists the set of smart notes from the conference record. By default, ordered by start time and in ascending order. For more information, see [Work with artifacts](https://developers.google.com/workspace/meet/api/guides/artifacts).",
              "response": {
                "$ref": "ListSmartNotesResponse"
              }
            },
            "get": {
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/smartNotes/{smartNotesId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Resource name of the smart note. Format: conferenceRecords/{conference_record}/smartNotes/{smart_note}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^conferenceRecords/[^/]+/smartNotes/[^/]+$"
                }
              },
              "id": "meet.conferenceRecords.smartNotes.get",
              "response": {
                "$ref": "SmartNote"
              },
              "description": "Gets smart notes by smart note ID. For more information, see [Work with artifacts](https://developers.google.com/workspace/meet/api/guides/artifacts).",
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ]
            }
          }
        },
        "transcripts": {
          "methods": {
            "list": {
              "description": "Lists the set of transcripts from the conference record. By default, ordered by start time and in ascending order. For more information, see [Work with artifacts](https://developers.google.com/workspace/meet/api/guides/artifacts).",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "pattern": "^conferenceRecords/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of transcripts to return. The service might return fewer than this value. If unspecified, at most 10 transcripts are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future."
                },
                "pageToken": {
                  "description": "Page token returned from previous List Call.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "id": "meet.conferenceRecords.transcripts.list",
              "parameterOrder": [
                "parent"
              ],
              "path": "v2/{+parent}/transcripts",
              "response": {
                "$ref": "ListTranscriptsResponse"
              }
            },
            "get": {
              "description": "Gets a transcript by transcript ID. For more information, see [Work with artifacts](https://developers.google.com/workspace/meet/api/guides/artifacts).",
              "id": "meet.conferenceRecords.transcripts.get",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "response": {
                "$ref": "Transcript"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Resource name of the transcript.",
                  "required": true,
                  "type": "string",
                  "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+$"
                }
              },
              "path": "v2/{+name}"
            }
          },
          "resources": {
            "entries": {
              "methods": {
                "list": {
                  "description": "Lists the structured transcript entries per transcript. By default, ordered by start time and in ascending order. For more information, see [Work with artifacts](https://developers.google.com/workspace/meet/api/guides/artifacts). Note: The transcript entries returned by the Google Meet API might not match the transcription found in the Google Docs transcript file. This can occur when 1) we have interleaved speakers within milliseconds, or 2) the Google Docs transcript file is modified after generation.",
                  "path": "v2/{+parent}/entries",
                  "response": {
                    "$ref": "ListTranscriptEntriesResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "description": "Maximum number of entries to return. The service might return fewer than this value. If unspecified, at most 10 entries are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Page token returned from previous List Call.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Format: `conferenceRecords/{conference_record}/transcripts/{transcript}`",
                      "type": "string",
                      "location": "path",
                      "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "meet.conferenceRecords.transcripts.entries.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}/entries"
                },
                "get": {
                  "description": "Gets a `TranscriptEntry` resource by entry ID. For more information, see [Work with artifacts](https://developers.google.com/workspace/meet/api/guides/artifacts). Note: The transcript entries returned by the Google Meet API might not match the transcription found in the Google Docs transcript file. This can occur when 1) we have interleaved speakers within milliseconds, or 2) the Google Docs transcript file is modified after generation.",
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "path": "v2/{+name}",
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/transcripts/{transcriptsId}/entries/{entriesId}",
                  "id": "meet.conferenceRecords.transcripts.entries.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Resource name of the `TranscriptEntry`.",
                      "location": "path",
                      "pattern": "^conferenceRecords/[^/]+/transcripts/[^/]+/entries/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "TranscriptEntry"
                  }
                }
              }
            }
          }
        },
        "recordings": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^conferenceRecords/[^/]+/recordings/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Resource name of the recording."
                }
              },
              "response": {
                "$ref": "Recording"
              },
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "description": "Gets a recording by recording ID. For more information, see [Work with artifacts](https://developers.google.com/workspace/meet/api/guides/artifacts).",
              "id": "meet.conferenceRecords.recordings.get",
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/recordings/{recordingsId}"
            },
            "list": {
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/recordings",
              "path": "v2/{+parent}/recordings",
              "id": "meet.conferenceRecords.recordings.list",
              "response": {
                "$ref": "ListRecordingsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Page token returned from previous List Call.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of recordings to return. The service might return fewer than this value. If unspecified, at most 10 recordings are returned. The maximum value is 100; values above 100 are coerced to 100. Maximum might change in the future.",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^conferenceRecords/[^/]+$",
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Lists the recording resources from the conference record. By default, ordered by start time and in ascending order. For more information, see [Work with artifacts](https://developers.google.com/workspace/meet/api/guides/artifacts).",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ]
            }
          }
        },
        "participants": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "id": "meet.conferenceRecords.participants.get",
              "description": "Gets a participant by participant ID. For more information, see [Work with participants](https://developers.google.com/workspace/meet/api/guides/participants).",
              "response": {
                "$ref": "Participant"
              },
              "path": "v2/{+name}",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}",
              "parameters": {
                "name": {
                  "pattern": "^conferenceRecords/[^/]+/participants/[^/]+$",
                  "description": "Required. Resource name of the participant.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            },
            "list": {
              "response": {
                "$ref": "ListParticipantsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. Format: `conferenceRecords/{conference_record}`",
                  "type": "string",
                  "pattern": "^conferenceRecords/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `earliest_start_time` * `latest_end_time` For example, `latest_end_time IS NULL` returns active participants in the conference."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Page token returned from previous List Call."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of participants to return. The service might return fewer than this value. If unspecified, at most 100 participants are returned. The maximum value is 250; values above 250 are coerced to 250. Maximum might change in the future."
                }
              },
              "id": "meet.conferenceRecords.participants.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/meetings.space.created",
                "https://www.googleapis.com/auth/meetings.space.readonly"
              ],
              "path": "v2/{+parent}/participants",
              "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants",
              "description": "Lists the participants in a conference record. By default, ordered by join time and in descending order. This API supports `fields` as standard parameters like every other API. However, when the `fields` request parameter is omitted, this API defaults to `'participants/*, next_page_token'`. For more information, see [Work with participants](https://developers.google.com/workspace/meet/api/guides/participants)."
            }
          },
          "resources": {
            "participantSessions": {
              "methods": {
                "get": {
                  "path": "v2/{+name}",
                  "description": "Gets a participant session by participant session ID. For more information, see [Work with participants](https://developers.google.com/workspace/meet/api/guides/participants).",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "meet.conferenceRecords.participants.participantSessions.get",
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}/participantSessions/{participantSessionsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^conferenceRecords/[^/]+/participants/[^/]+/participantSessions/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Resource name of the participant."
                    }
                  },
                  "response": {
                    "$ref": "ParticipantSession"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListParticipantSessionsResponse"
                  },
                  "description": "Lists the participant sessions of a participant in a conference record. By default, ordered by join time and in descending order. This API supports `fields` as standard parameters like every other API. However, when the `fields` request parameter is omitted this API defaults to `'participantsessions/*, next_page_token'`. For more information, see [Work with participants](https://developers.google.com/workspace/meet/api/guides/participants).",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/meetings.space.created",
                    "https://www.googleapis.com/auth/meetings.space.readonly"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v2/conferenceRecords/{conferenceRecordsId}/participants/{participantsId}/participantSessions",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Format: `conferenceRecords/{conference_record}/participants/{participant}`",
                      "required": true,
                      "pattern": "^conferenceRecords/[^/]+/participants/[^/]+$"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. User specified filtering condition in [EBNF format](https://en.wikipedia.org/wiki/Extended_Backus%E2%80%93Naur_form). The following are the filterable fields: * `start_time` * `end_time` For example, `end_time IS NULL` returns active participant sessions in the conference record."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. Page token returned from previous List Call.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of participant sessions to return. The service might return fewer than this value. If unspecified, at most 100 participants are returned. The maximum value is 250; values above 250 are coerced to 250. Maximum might change in the future.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "path": "v2/{+parent}/participantSessions",
                  "id": "meet.conferenceRecords.participants.participantSessions.list"
                }
              }
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://meet.googleapis.com/",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/meetings.space.readonly": {
          "description": "Read information about any of your Google Meet conferences"
        },
        "https://www.googleapis.com/auth/meetings.space.created": {
          "description": "Create, edit, and see information about your Google Meet conferences created by the app."
        },
        "https://www.googleapis.com/auth/meetings.space.settings": {
          "description": "Edit, and see settings for all of your Google Meet calls."
        }
      }
    }
  },
  "description": "Create and manage meetings in Google Meet.",
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    }
  },
  "baseUrl": "https://meet.googleapis.com/",
  "documentationLink": "https://developers.google.com/workspace/meet/api",
  "name": "meet",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "ownerName": "Google",
  "protocol": "rest",
  "version": "v2",
  "canonicalName": "Meet",
  "ownerDomain": "google.com",
  "title": "Google Meet API",
  "basePath": "",
  "revision": "20260917",
  "batchPath": "batch",
  "schemas": {
    "Transcript": {
      "type": "object",
      "description": "Metadata for a transcript generated from a conference. It refers to the ASR (Automatic Speech Recognition) result of user's speech during the conference.",
      "id": "Transcript",
      "properties": {
        "state": {
          "description": "Output only. Current state.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default, never used.",
            "An active transcript session has started.",
            "This transcript session has ended, but the transcript file hasn't been generated yet.",
            "Transcript file is generated and ready to download."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ]
        },
        "endTime": {
          "description": "Output only. Timestamp when the transcript stopped.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the transcript started."
        },
        "docsDestination": {
          "readOnly": true,
          "$ref": "DocsDestination",
          "description": "Output only. Where the Google Docs transcript is saved."
        },
        "name": {
          "description": "Output only. Resource name of the transcript. Format: `conferenceRecords/{conference_record}/transcripts/{transcript}`, where `{transcript}` is a 1:1 mapping to each unique transcription session of the conference.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "PhoneAccess": {
      "id": "PhoneAccess",
      "type": "object",
      "description": "Phone access contains information required to dial into a conference using a regional phone number and a PIN that is specific to that phone number.",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "The CLDR/ISO 3166 region code for the country associated with this phone access. To be parsed by the i18n RegionCode utility. Example: \"SE\" for Sweden."
        },
        "phoneNumber": {
          "description": "The phone number to dial for this meeting space in E.164 format. Full phone number with a leading '+' character.",
          "type": "string"
        },
        "pin": {
          "type": "string",
          "description": "The PIN that users must enter after dialing the given number. The PIN consists of only decimal digits and the length may vary."
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP 47/LDML language code for the language associated with this phone access. To be parsed by the i18n LanguageCode utility. Examples: \"es-419\" for Latin American Spanish, \"fr-CA\" for Canadian French."
        }
      }
    },
    "Space": {
      "description": "Virtual place where conferences are held. Only one active conference can be held in one space at any given time.",
      "id": "Space",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. Resource name of the space. Format: `spaces/{space}`. `{space}` is the resource identifier for the space. It's a unique, server-generated ID and is case sensitive. For example, `jQCFfuBOdN5z`. For more information, see [How Meet identifies a meeting space](https://developers.google.com/workspace/meet/api/guides/meeting-spaces#identify-meeting-space)."
        },
        "gatewaySipAccess": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The SIP-based access methods that can be used to join the conference. Can be empty.",
          "items": {
            "$ref": "GatewaySipAccess"
          }
        },
        "phoneAccess": {
          "type": "array",
          "items": {
            "$ref": "PhoneAccess"
          },
          "description": "Output only. All regional phone access methods for this meeting space. Can be empty.",
          "readOnly": true
        },
        "activeConference": {
          "description": "Active conference, if it exists.",
          "$ref": "ActiveConference"
        },
        "config": {
          "description": "Configuration pertaining to the meeting space.",
          "$ref": "SpaceConfig"
        },
        "meetingCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type friendly unique string used to join the meeting. Format: `[a-z]+-[a-z]+-[a-z]+`. For example, `abc-mnop-xyz`. The maximum length is 128 characters. Can only be used as an alias of the space name to get the space."
        },
        "meetingUri": {
          "description": "Output only. URI used to join meetings consisting of `https://meet.google.com/` followed by the `meeting_code`. For example, `https://meet.google.com/abc-mnop-xyz`.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "RecordingConfig": {
      "description": "Configuration related to recording in a meeting space.",
      "id": "RecordingConfig",
      "type": "object",
      "properties": {
        "autoRecordingGeneration": {
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ],
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ],
          "description": "Defines whether a meeting space is automatically recorded when someone with the privilege to record joins the meeting.",
          "type": "string"
        }
      }
    },
    "ListTranscriptsResponse": {
      "properties": {
        "transcripts": {
          "items": {
            "$ref": "Transcript"
          },
          "description": "List of transcripts in one page.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the transcripts. Unset if all transcripts are returned.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListTranscriptsResponse",
      "description": "Response for ListTranscripts method."
    },
    "Recording": {
      "description": "Metadata about a recording created during a conference.",
      "id": "Recording",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the recording started.",
          "readOnly": true
        },
        "driveDestination": {
          "description": "Output only. Recording is saved to Google Drive as an MP4 file. The `drive_destination` includes the Drive `fileId` that can be used to download the file using the `files.get` method of the Drive API.",
          "readOnly": true,
          "$ref": "DriveDestination"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the recording ended.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "Default, never used.",
            "An active recording session has started.",
            "This recording session has ended, but the recording file hasn't been generated yet.",
            "Recording file is generated and ready to download."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ],
          "description": "Output only. Current state."
        },
        "name": {
          "description": "Output only. Resource name of the recording. Format: `conferenceRecords/{conference_record}/recordings/{recording}` where `{recording}` is a 1:1 mapping to each unique recording session during the conference.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "PhoneUser": {
      "description": "User dialing in from a phone where the user's identity is unknown because they haven't signed in with a Google Account.",
      "id": "PhoneUser",
      "type": "object",
      "properties": {
        "displayName": {
          "readOnly": true,
          "description": "Output only. Partially redacted user's phone number when calling.",
          "type": "string"
        }
      }
    },
    "ListRecordingsResponse": {
      "properties": {
        "recordings": {
          "items": {
            "$ref": "Recording"
          },
          "description": "List of recordings in one page.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the recordings. Unset if all recordings are returned.",
          "type": "string"
        }
      },
      "description": "Response for ListRecordings method.",
      "type": "object",
      "id": "ListRecordingsResponse"
    },
    "ListMembersResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to be circulated back for further list call if current list doesn't include all the members. Unset if all members are returned.",
          "type": "string"
        },
        "members": {
          "items": {
            "$ref": "Member"
          },
          "description": "The list of members for the current page.",
          "type": "array"
        }
      },
      "id": "ListMembersResponse",
      "description": "Response of list members."
    },
    "SmartNote": {
      "type": "object",
      "id": "SmartNote",
      "properties": {
        "endTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the smart notes stopped.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "ENDED",
            "FILE_GENERATED"
          ],
          "description": "Output only. Current state.",
          "enumDescriptions": [
            "Default, never used.",
            "An active smart notes session has started.",
            "This smart notes session has ended, but the smart notes file hasn't been generated yet.",
            "Smart notes file is generated and ready to download."
          ],
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the smart notes started."
        },
        "docsDestination": {
          "readOnly": true,
          "$ref": "DocsDestination",
          "description": "Output only. The Google Doc destination where the smart notes are saved."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. Resource name of the smart notes. Format: `conferenceRecords/{conference_record}/smartNotes/{smart_note}`, where `{smart_note}` is a 1:1 mapping to each unique smart notes session of the conference."
        }
      },
      "description": "Metadata for a smart note generated from a conference. It refers to the notes generated from Take Notes with Gemini during the conference."
    },
    "ArtifactConfig": {
      "properties": {
        "recordingConfig": {
          "description": "Configuration for recording.",
          "$ref": "RecordingConfig"
        },
        "transcriptionConfig": {
          "description": "Configuration for auto-transcript.",
          "$ref": "TranscriptionConfig"
        },
        "smartNotesConfig": {
          "$ref": "SmartNotesConfig",
          "description": "Configuration for auto-smart-notes."
        }
      },
      "type": "object",
      "id": "ArtifactConfig",
      "description": "Configuration related to meeting artifacts potentially generated by this meeting space."
    },
    "EndActiveConferenceRequest": {
      "type": "object",
      "properties": {},
      "description": "Request to end an ongoing conference of a space.",
      "id": "EndActiveConferenceRequest"
    },
    "ListTranscriptEntriesResponse": {
      "id": "ListTranscriptEntriesResponse",
      "properties": {
        "transcriptEntries": {
          "items": {
            "$ref": "TranscriptEntry"
          },
          "description": "List of TranscriptEntries in one page.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the transcript entries. Unset if all entries are returned.",
          "type": "string"
        }
      },
      "description": "Response for ListTranscriptEntries method.",
      "type": "object"
    },
    "Participant": {
      "type": "object",
      "id": "Participant",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the participant. Format: `conferenceRecords/{conference_record}/participants/{participant}`",
          "type": "string"
        },
        "earliestStartTime": {
          "description": "Output only. Time when the participant first joined the meeting.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "anonymousUser": {
          "description": "Anonymous user.",
          "$ref": "AnonymousUser"
        },
        "latestEndTime": {
          "description": "Output only. Time when the participant left the meeting for the last time. This can be null if it's an active meeting.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "phoneUser": {
          "description": "User calling from their phone.",
          "$ref": "PhoneUser"
        },
        "signedinUser": {
          "description": "Signed-in user.",
          "$ref": "SignedinUser"
        }
      },
      "description": "User who attended or is attending a conference."
    },
    "UpdateMemberRequest": {
      "type": "object",
      "description": "Request to update a member.",
      "properties": {
        "member": {
          "description": "Required. The Member to update. Format: spaces/{space}/members/{member}",
          "$ref": "Member"
        },
        "updateMask": {
          "type": "string",
          "description": "Optional. Field mask used to specify the fields to be updated in the member. If update_mask isn't provided(not set, set with empty paths, or only has \"\" as paths), it defaults to update all fields provided with values in the request. Using \"*\" as update_mask will update all fields, including deleting fields not set in the request. In case of BatchUpdate, it must be absent or the same as the update_mask in BatchUpdateMembersRequest when UpdateMemberRequest is built as a child request of BatchUpdateMembersRequest.",
          "format": "google-fieldmask"
        }
      },
      "id": "UpdateMemberRequest"
    },
    "ConferenceRecord": {
      "properties": {
        "space": {
          "type": "string",
          "description": "Output only. The space where the conference was held.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the conference record. Format: `conferenceRecords/{conference_record}` where `{conference_record}` is a unique ID for each instance of a call within a space."
        },
        "expireTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server enforced expiration time for when this conference record resource is deleted. The resource is deleted 30 days after the conference ends.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Output only. Timestamp when the conference started. Always set.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when the conference ended. Set for past conferences. Unset if the conference is ongoing.",
          "readOnly": true
        }
      },
      "id": "ConferenceRecord",
      "type": "object",
      "description": "Single instance of a meeting held in a space."
    },
    "TranscriptionConfig": {
      "type": "object",
      "id": "TranscriptionConfig",
      "description": "Configuration related to transcription in a meeting space.",
      "properties": {
        "autoTranscriptionGeneration": {
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ],
          "description": "Defines whether the content of a meeting is automatically transcribed when someone with the privilege to transcribe joins the meeting.",
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ]
        }
      }
    },
    "SmartNotesConfig": {
      "id": "SmartNotesConfig",
      "description": "Configuration related to smart notes in a meeting space. For more information about smart notes, see [\"Take notes for me\" in Google Meet](https://support.google.com/meet/answer/14754931).",
      "type": "object",
      "properties": {
        "autoSmartNotesGeneration": {
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "The artifact is generated automatically.",
            "The artifact is not generated automatically."
          ],
          "description": "Defines whether to automatically generate a summary and recap of the meeting for all invitees in the organization when someone with the privilege to enable smart notes joins the meeting.",
          "enum": [
            "AUTO_GENERATION_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ]
        }
      }
    },
    "DocsDestination": {
      "properties": {
        "document": {
          "description": "Output only. The document ID for the underlying Google Docs transcript file. For example, \"1kuceFZohVoCh6FulBHxwy6I15Ogpc4hP\". Use the `documents.get` method of the Google Docs API (https://developers.google.com/docs/api/reference/rest/v1/documents/get) to fetch the content.",
          "type": "string",
          "readOnly": true
        },
        "exportUri": {
          "description": "Output only. URI for the Google Docs transcript file. Use `https://docs.google.com/document/d/{$DocumentId}/view` to browse the transcript in the browser.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "DocsDestination",
      "description": "Google Docs location where the transcript file is saved."
    },
    "ListSmartNotesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to be circulated back for further List call if current List doesn't include all the smart notes. Unset if all smart notes are returned."
        },
        "smartNotes": {
          "type": "array",
          "items": {
            "$ref": "SmartNote"
          },
          "description": "List of smart notes in one page."
        }
      },
      "id": "ListSmartNotesResponse",
      "description": "Response for ListSmartNotes method."
    },
    "GatewaySipAccess": {
      "id": "GatewaySipAccess",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The Session Initiation Protocol (SIP) URI the conference can be reached through. The string is in one of these formats: * \"sip:USER_ID@GATEWAY_ADDRESS\" * \"sips:USER_ID@GATEWAY_ADDRESS\" where USER_ID is the 13-digit universal pin (with the future option to support using a Meet meeting code as well), and GATEWAY_ADDRESS is a valid address to be resolved using a DNS SRV lookup, or a dotted quad."
        },
        "sipAccessCode": {
          "description": "The permanent numeric code for manual entry on specially configured devices.",
          "type": "string"
        }
      },
      "description": "Details how to join the conference through a SIP gateway."
    },
    "BatchUpdateMembersResponse": {
      "type": "object",
      "description": "Response of batch update members.",
      "id": "BatchUpdateMembersResponse",
      "properties": {
        "members": {
          "description": "Members updated.",
          "items": {
            "$ref": "Member"
          },
          "type": "array"
        }
      }
    },
    "Member": {
      "type": "object",
      "properties": {
        "email": {
          "description": "Email for the member. This is required for creating the member.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the member. Format: spaces/{space}/members/{member}"
        },
        "role": {
          "description": "The meeting role assigned to the member.",
          "type": "string",
          "enumDescriptions": [
            "This is used to indicate the user hasn't specified any value and the user’s role will be determined upon joining the meetings between 'contributor' and 'viewer' role depending on meeting configuration. For more information about the viewer role, see [Assign View only roles in Google Meet](https://support.google.com/meet/answer/13658394).",
            "Co-host role."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "COHOST"
          ]
        }
      },
      "description": "Users who are configured to have a role in the space. These users can join the space without knocking.",
      "id": "Member"
    },
    "TranscriptEntry": {
      "properties": {
        "languageCode": {
          "description": "Output only. Language of spoken text, such as \"en-US\". IETF BCP 47 syntax (https://tools.ietf.org/html/bcp47)",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the transcript entry started.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of the entry. Format: \"conferenceRecords/{conference_record}/transcripts/{transcript}/entries/{entry}\"",
          "readOnly": true,
          "type": "string"
        },
        "text": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The transcribed text of the participant's voice, at maximum 10K words. Note that the limit is subject to change."
        },
        "endTime": {
          "description": "Output only. Timestamp when the transcript entry ended.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "participant": {
          "type": "string",
          "description": "Output only. Refers to the participant who speaks.",
          "readOnly": true
        }
      },
      "description": "Single entry for one user’s speech during a transcript session.",
      "type": "object",
      "id": "TranscriptEntry"
    },
    "ParticipantSession": {
      "type": "object",
      "id": "ParticipantSession",
      "description": "Refers to each unique join or leave session when a user joins a conference from a device. Note that any time a user joins the conference a new unique ID is assigned. That means if a user joins a space multiple times from the same device, they're assigned different IDs, and are also be treated as different participant sessions.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Session id."
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the user session ends. Unset if the user session hasn’t ended."
        },
        "startTime": {
          "description": "Output only. Timestamp when the user session starts.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "AnonymousUser": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. User provided name when they join a conference anonymously."
        }
      },
      "id": "AnonymousUser",
      "description": "User who joins anonymously (meaning not signed into a Google Account)."
    },
    "ActiveConference": {
      "id": "ActiveConference",
      "properties": {
        "conferenceRecord": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Reference to 'ConferenceRecord' resource. Format: `conferenceRecords/{conference_record}` where `{conference_record}` is a unique ID for each instance of a call within a space."
        }
      },
      "description": "Active conference.",
      "type": "object"
    },
    "SpaceConfig": {
      "id": "SpaceConfig",
      "properties": {
        "entryPointAccess": {
          "enum": [
            "ENTRY_POINT_ACCESS_UNSPECIFIED",
            "ALL",
            "CREATOR_APP_ONLY"
          ],
          "enumDescriptions": [
            "Unused.",
            "All entry points are allowed.",
            "Only entry points owned by the Google Cloud project that created the space can be used to join meetings in this space. Apps can use the Meet Embed SDK Web or mobile Meet SDKs to create owned entry points."
          ],
          "description": "Defines the entry points that can be used to join meetings hosted in this meeting space. Default: EntryPointAccess.ALL",
          "type": "string"
        },
        "moderationRestrictions": {
          "description": "When moderation.ON, these restrictions go into effect for the meeting. When moderation.OFF, will be reset to default ModerationRestrictions.",
          "$ref": "ModerationRestrictions"
        },
        "accessType": {
          "type": "string",
          "description": "Access type of the meeting space that determines who can join without knocking. Default: The user's default access settings. Controlled by the user's admin for enterprise users or RESTRICTED.",
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "OPEN",
            "TRUSTED",
            "RESTRICTED"
          ],
          "enumDescriptions": [
            "Default value specified by the user's organization. Note: This is never returned, as the configured access type is returned instead.",
            "Anyone with the join information (for example, the URL or phone access information) can join without knocking.",
            "Members of the host's organization, invited external users, and dial-in users can join without knocking. Everyone else must knock.",
            "Only invitees can join without knocking. Everyone else must knock."
          ]
        },
        "artifactConfig": {
          "$ref": "ArtifactConfig",
          "description": "Configuration pertaining to the auto-generated artifacts that the meeting supports."
        },
        "attendanceReportGenerationType": {
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Attendance report will be generated and sent to drive/email.",
            "Attendance report will not be generated."
          ],
          "description": "Whether attendance report is enabled for the meeting space.",
          "type": "string",
          "enum": [
            "ATTENDANCE_REPORT_GENERATION_TYPE_UNSPECIFIED",
            "GENERATE_REPORT",
            "DO_NOT_GENERATE"
          ]
        },
        "moderation": {
          "enum": [
            "MODERATION_UNSPECIFIED",
            "OFF",
            "ON"
          ],
          "type": "string",
          "description": "The pre-configured moderation mode for the Meeting. Default: Controlled by the user's policies.",
          "enumDescriptions": [
            "Moderation type is not specified. This is used to indicate the user hasn't specified any value as the user does not intend to update the state. Users are not allowed to set the value as unspecified.",
            "Moderation is off.",
            "Moderation is on."
          ]
        }
      },
      "description": "The configuration pertaining to a meeting space.",
      "type": "object"
    },
    "ListParticipantSessionsResponse": {
      "type": "object",
      "properties": {
        "participantSessions": {
          "type": "array",
          "description": "List of participants in one page.",
          "items": {
            "$ref": "ParticipantSession"
          }
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the participants. Unset if all participants are returned.",
          "type": "string"
        }
      },
      "description": "Response of ListParticipants method.",
      "id": "ListParticipantSessionsResponse"
    },
    "BatchUpdateMembersRequest": {
      "description": "Request to update members of one space within a batch.",
      "id": "BatchUpdateMembersRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "description": "Optional. Top-level field mask used to specify the fields to be updated in the member for all UpdateMemberRequests. There are 4 possible scenarios for top-level and child field mask: 1. top-level and child field mask is absent: All fields provided in the requests are updated, including deleting fields not set in the requests. 2. top-level field mask is present but child field mask is absent: The fields specified in the top-level field mask are updated. 3. top-level and child field mask is present: The child field mask must be the same as the top-level field mask. 4. top-level field mask is absent but child field mask is present: It isn't supported and will return an error.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "requests": {
          "items": {
            "$ref": "UpdateMemberRequest"
          },
          "type": "array",
          "description": "Required. The request message specifying the resources to update. A maximum of 500 members can be modified in a batch."
        }
      }
    },
    "ListConferenceRecordsResponse": {
      "type": "object",
      "id": "ListConferenceRecordsResponse",
      "description": "Response of ListConferenceRecords method.",
      "properties": {
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List does NOT include all the Conferences. Unset if all conferences have been returned.",
          "type": "string"
        },
        "conferenceRecords": {
          "items": {
            "$ref": "ConferenceRecord"
          },
          "description": "List of conferences in one page.",
          "type": "array"
        }
      }
    },
    "SignedinUser": {
      "description": "A signed-in user can be: a) An individual joining from a personal computer, mobile device, or through companion mode. b) A robot account used by conference room devices.",
      "type": "object",
      "properties": {
        "user": {
          "readOnly": true,
          "description": "Output only. Unique ID for the user. Interoperable with Admin SDK API and People API. Format: `users/{user}`",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. For a personal device, it's the user's first name and last name. For a robot account, it's the administrator-specified device name. For example, \"Altostrat Room\".",
          "type": "string"
        }
      },
      "id": "SignedinUser"
    },
    "ListParticipantsResponse": {
      "properties": {
        "totalSize": {
          "format": "int32",
          "description": "Total, exact number of `participants`. By default, this field isn't included in the response. Set the field mask in [SystemParameterContext](https://cloud.google.com/apis/docs/system-parameters) to receive this field in the response.",
          "type": "integer"
        },
        "participants": {
          "type": "array",
          "items": {
            "$ref": "Participant"
          },
          "description": "List of participants in one page."
        },
        "nextPageToken": {
          "description": "Token to be circulated back for further List call if current List doesn't include all the participants. Unset if all participants are returned.",
          "type": "string"
        }
      },
      "description": "Response of ListParticipants method.",
      "type": "object",
      "id": "ListParticipantsResponse"
    },
    "DriveDestination": {
      "properties": {
        "file": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The `fileId` for the underlying MP4 file. For example, \"1kuceFZohVoCh6FulBHxwy6I15Ogpc4hP\". Use `$ GET https://www.googleapis.com/drive/v3/files/{$fileId}?alt=media` to download the blob. For more information, see https://developers.google.com/drive/api/v3/reference/files/get."
        },
        "exportUri": {
          "type": "string",
          "description": "Output only. Link used to play back the recording file in the browser. For example, `https://drive.google.com/file/d/{$fileId}/view`.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "DriveDestination",
      "description": "Export location where a recording file is saved in Google Drive."
    },
    "ModerationRestrictions": {
      "id": "ModerationRestrictions",
      "type": "object",
      "description": "Defines restrictions for features when the meeting is moderated.",
      "properties": {
        "defaultJoinAsViewerType": {
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Users will by default join as viewers.",
            "Users will by default join as contributors."
          ],
          "type": "string",
          "description": "Defines whether to restrict the default role assigned to users as viewer.",
          "enum": [
            "DEFAULT_JOIN_AS_VIEWER_TYPE_UNSPECIFIED",
            "ON",
            "OFF"
          ]
        },
        "presentRestriction": {
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ],
          "description": "Defines who has permission to share their screen in the meeting space.",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ],
          "type": "string"
        },
        "chatRestriction": {
          "type": "string",
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ],
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ],
          "description": "Defines who has permission to send chat messages in the meeting space."
        },
        "reactionRestriction": {
          "type": "string",
          "description": "Defines who has permission to send reactions in the meeting space.",
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "HOSTS_ONLY",
            "NO_RESTRICTION"
          ],
          "enumDescriptions": [
            "Default value specified by user policy. This should never be returned.",
            "Meeting owner and co-host have the permission.",
            "All Participants have permissions."
          ]
        }
      }
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    }
  },
  "mtlsRootUrl": "https://meet.mtls.googleapis.com/"
}