{
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "revision": "20260924",
  "name": "merchantapi",
  "version_module": true,
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "protocol": "rest",
  "title": "Merchant API",
  "documentationLink": "https://developers.google.com/merchant/api",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    }
  },
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "canonicalName": "Merchant",
  "rootUrl": "https://merchantapi.googleapis.com/",
  "version": "accounts_v1beta",
  "mtlsRootUrl": "https://merchantapi.mtls.googleapis.com/",
  "baseUrl": "https://merchantapi.googleapis.com/",
  "servicePath": "",
  "resources": {
    "termsOfService": {
      "methods": {
        "accept": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameterOrder": [
            "name"
          ],
          "flatPath": "accounts/v1beta/termsOfService/{termsOfServiceId}:accept",
          "response": {
            "$ref": "AcceptTermsOfServiceResponse"
          },
          "path": "accounts/v1beta/{+name}:accept",
          "description": "Accepts a `TermsOfService`. Executing this method requires admin access.",
          "parameters": {
            "account": {
              "description": "Required. The account for which to accept the ToS. Format: `accounts/{account}`",
              "type": "string",
              "location": "query"
            },
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The resource name of the terms of service version. Format: `termsOfService/{version}`",
              "pattern": "^termsOfService/[^/]+$"
            },
            "regionCode": {
              "location": "query",
              "description": "Required. Region code as defined by [CLDR](https://cldr.unicode.org/). This is either a country when the ToS applies specifically to that country or 001 when it applies globally.",
              "type": "string"
            }
          },
          "id": "merchantapi.termsOfService.accept"
        },
        "get": {
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The resource name of the terms of service version. Format: `termsOfService/{version}`",
              "location": "path",
              "type": "string",
              "pattern": "^termsOfService/[^/]+$"
            }
          },
          "id": "merchantapi.termsOfService.get",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves the `TermsOfService` associated with the provided version.",
          "flatPath": "accounts/v1beta/termsOfService/{termsOfServiceId}",
          "response": {
            "$ref": "TermsOfService"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "accounts/v1beta/{+name}"
        },
        "retrieveLatest": {
          "flatPath": "accounts/v1beta/termsOfService:retrieveLatest",
          "response": {
            "$ref": "TermsOfService"
          },
          "parameters": {
            "kind": {
              "description": "Required. The Kind this terms of service version applies to.",
              "type": "string",
              "enum": [
                "TERMS_OF_SERVICE_KIND_UNSPECIFIED",
                "MERCHANT_CENTER"
              ],
              "location": "query",
              "enumDescriptions": [
                "Default value. This value is unused.",
                "Terms of Service for the Merchant Center application."
              ]
            },
            "regionCode": {
              "description": "Required. Region code as defined by [CLDR](https://cldr.unicode.org/). This is either a country when the ToS applies specifically to that country or 001 when it applies globally.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "merchantapi.termsOfService.retrieveLatest",
          "path": "accounts/v1beta/termsOfService:retrieveLatest",
          "description": "Retrieves the latest version of the `TermsOfService` for a given `kind` and `region_code`.",
          "parameterOrder": [],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        }
      }
    },
    "accounts": {
      "resources": {
        "omnichannelSettings": {
          "resources": {
            "lfpProviders": {
              "methods": {
                "linkLfpProvider": {
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}/lfpProviders/{lfpProvidersId}:linkLfpProvider",
                  "response": {
                    "$ref": "LinkLfpProviderResponse"
                  },
                  "request": {
                    "$ref": "LinkLfpProviderRequest"
                  },
                  "description": "Link the specified merchant to a LFP provider for the specified country.",
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "path": "accounts/v1beta/{+name}:linkLfpProvider",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+/lfpProviders/[^/]+$",
                      "description": "Required. The name of the LFP provider resource to link. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}/lfpProviders/{lfp_provider}`. The `lfp_provider` is the LFP provider ID.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "id": "merchantapi.accounts.omnichannelSettings.lfpProviders.linkLfpProvider"
                },
                "find": {
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `FindLfpProviders` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `FindLfpProviders` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of `LfpProvider` resources to return. The service returns fewer than this value if the number of lfp providers is less that than the `pageSize`. The default value is 50. The maximum value is 1000; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum.",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "description": "Required. The name of the parent resource under which the LFP providers are found. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`.",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "merchantapi.accounts.omnichannelSettings.lfpProviders.find",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "path": "accounts/v1beta/{+parent}/lfpProviders:find",
                  "description": "Find the LFP provider candidates in a given country.",
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}/lfpProviders:find",
                  "response": {
                    "$ref": "FindLfpProvidersResponse"
                  }
                }
              }
            }
          },
          "methods": {
            "requestInventoryVerification": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+name}:requestInventoryVerification",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}:requestInventoryVerification",
              "response": {
                "$ref": "RequestInventoryVerificationResponse"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the omnichannel setting to request inventory verification. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`",
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$",
                  "required": true
                }
              },
              "request": {
                "$ref": "RequestInventoryVerificationRequest"
              },
              "description": "Requests inventory verification for a given merchant in a given country.",
              "id": "merchantapi.accounts.omnichannelSettings.requestInventoryVerification",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings",
              "response": {
                "$ref": "ListOmnichannelSettingsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent, which owns this collection of omnichannel settings. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of omnichannel settings to return. The service may return fewer than this value. If unspecified, at most 50 omnichannel settings will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListOmnichannelSettings` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOmnichannelSettings` must match the call that provided the page token.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+parent}/omnichannelSettings",
              "id": "merchantapi.accounts.omnichannelSettings.list",
              "description": "List all the omnichannel settings for a given merchant."
            },
            "patch": {
              "path": "accounts/v1beta/{+name}",
              "description": "Update the omnichannel setting for a given merchant in a given country.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "PATCH",
              "id": "merchantapi.accounts.omnichannelSettings.patch",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "OmnichannelSetting"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Identifier. The resource name of the omnichannel setting. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`",
                  "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated. The following fields are supported in snake_case only: - `lsf_type` - `in_stock` - `pickup` - `odo` - `about` - `inventory_verification` Full replacement with wildcard `*`is supported, while empty/implied update mask is not.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}",
              "response": {
                "$ref": "OmnichannelSetting"
              }
            },
            "create": {
              "request": {
                "$ref": "OmnichannelSetting"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.omnichannelSettings.create",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The parent resource where this omnichannel setting will be created. Format: `accounts/{account}`",
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings",
              "response": {
                "$ref": "OmnichannelSetting"
              },
              "path": "accounts/v1beta/{+parent}/omnichannelSettings",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "description": "Create the omnichannel settings for a given merchant."
            },
            "get": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}",
              "response": {
                "$ref": "OmnichannelSetting"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "merchantapi.accounts.omnichannelSettings.get",
              "description": "Get the omnichannel settings for a given merchant.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the omnichannel setting to retrieve. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+name}"
            }
          }
        },
        "programs": {
          "methods": {
            "get": {
              "description": "Retrieves the specified program for the account.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the program to retrieve. Format: `accounts/{account}/programs/{program}`. For example, `accounts/123456/programs/free-listings`.",
                  "pattern": "^accounts/[^/]+/programs/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}",
              "response": {
                "$ref": "Program"
              },
              "id": "merchantapi.accounts.programs.get",
              "httpMethod": "GET",
              "path": "accounts/v1beta/{+name}"
            },
            "disable": {
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.programs.disable",
              "description": "Disable participation in the specified program for the account.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "POST",
              "path": "accounts/v1beta/{+name}:disable",
              "request": {
                "$ref": "DisableProgramRequest"
              },
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/programs/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the program for which to disable participation for the given account. Format: `accounts/{account}/programs/{program}`. For example, `accounts/123456/programs/free-listings`."
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}:disable",
              "response": {
                "$ref": "Program"
              }
            },
            "enable": {
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the program for which to enable participation for the given account. Format: `accounts/{account}/programs/{program}`. For example, `accounts/123456/programs/free-listings`.",
                  "required": true,
                  "pattern": "^accounts/[^/]+/programs/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+name}:enable",
              "description": "Enable participation in the specified program for the account.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}:enable",
              "response": {
                "$ref": "Program"
              },
              "id": "merchantapi.accounts.programs.enable",
              "request": {
                "$ref": "EnableProgramRequest"
              }
            },
            "list": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/programs",
              "response": {
                "$ref": "ListProgramsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the account for which to retrieve all programs. Format: `accounts/{account}`",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. A continuation token, received from a previous `ListPrograms` call. Provide this to retrieve the next page.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of programs to return in a single response. If unspecified (or 0), a default size of 1000 is used. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32"
                }
              },
              "id": "merchantapi.accounts.programs.list",
              "httpMethod": "GET",
              "path": "accounts/v1beta/{+parent}/programs",
              "description": "Retrieves all programs for the account."
            }
          },
          "resources": {
            "checkoutSettings": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "CheckoutSettings"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates `CheckoutSettings` for the given merchant.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The merchant account for which the `CheckoutSettings` will be created.",
                      "pattern": "^accounts/[^/]+/programs/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "id": "merchantapi.accounts.programs.checkoutSettings.create",
                  "path": "accounts/v1beta/{+parent}/checkoutSettings",
                  "httpMethod": "POST",
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "response": {
                    "$ref": "CheckoutSettings"
                  }
                },
                "getCheckoutSettings": {
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "response": {
                    "$ref": "CheckoutSettings"
                  },
                  "path": "accounts/v1beta/{+name}",
                  "id": "merchantapi.accounts.programs.checkoutSettings.getCheckoutSettings",
                  "httpMethod": "GET",
                  "description": "Gets `CheckoutSettings` for the given merchant. This includes information about review state, enrollment state and URL settings.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^accounts/[^/]+/programs/[^/]+/checkoutSettings$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name/identifier of the merchant account. Format: `accounts/{account}/programs/{program}/checkoutSettings`"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ]
                },
                "updateCheckoutSettings": {
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "response": {
                    "$ref": "CheckoutSettings"
                  },
                  "description": "Updates `CheckoutSettings` for the given merchant.",
                  "request": {
                    "$ref": "CheckoutSettings"
                  },
                  "id": "merchantapi.accounts.programs.checkoutSettings.updateCheckoutSettings",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^accounts/[^/]+/programs/[^/]+/checkoutSettings$",
                      "description": "Identifier. The resource name of the program configuration settings. Format: `accounts/{account}/programs/{program}/checkoutSettings`",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Required. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `eligible_destinations` - `uri_settings`",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "accounts/v1beta/{+name}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "deleteCheckoutSettings": {
                  "description": "Deletes `CheckoutSettings` and unenrolls merchant from `Checkout` program.",
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. The name/identifier of the merchant account. Format: `accounts/{account}/programs/{program}/checkoutSettings`",
                      "pattern": "^accounts/[^/]+/programs/[^/]+/checkoutSettings$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "accounts/v1beta/{+name}",
                  "id": "merchantapi.accounts.programs.checkoutSettings.deleteCheckoutSettings",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ]
                }
              }
            }
          }
        },
        "businessIdentity": {
          "methods": {
            "getBusinessIdentity": {
              "id": "merchantapi.accounts.businessIdentity.getBusinessIdentity",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/businessIdentity",
              "response": {
                "$ref": "BusinessIdentity"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/businessIdentity$",
                  "required": true,
                  "description": "Required. The resource name of the business identity. Format: `accounts/{account}/businessIdentity`. For example, `accounts/123456/businessIdentity`.",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Retrieves the business identity of an account.",
              "path": "accounts/v1beta/{+name}",
              "httpMethod": "GET"
            },
            "updateBusinessIdentity": {
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.businessIdentity.updateBusinessIdentity",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `black_owned` - `latino_owned` - `promotions_consent` - `small_business` - `veteran_owned` - `women_owned`",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "pattern": "^accounts/[^/]+/businessIdentity$",
                  "type": "string",
                  "required": true,
                  "description": "Identifier. The resource name of the business identity. Format: `accounts/{account}/businessIdentity`",
                  "location": "path"
                }
              },
              "description": "Updates the business identity of an account. Executing this method requires admin access.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/businessIdentity",
              "response": {
                "$ref": "BusinessIdentity"
              },
              "path": "accounts/v1beta/{+name}",
              "request": {
                "$ref": "BusinessIdentity"
              }
            }
          }
        },
        "emailPreferences": {
          "methods": {
            "getEmailPreferences": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}/emailPreferences",
              "response": {
                "$ref": "EmailPreferences"
              },
              "id": "merchantapi.accounts.emailPreferences.getEmailPreferences",
              "description": "Returns the email preferences for a Merchant Center account user. This service only permits retrieving and updating email preferences for the authenticated user. Use the name=accounts/*/users/me/emailPreferences alias to get preferences for the authenticated user.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/users/[^/]+/emailPreferences$",
                  "description": "Required. The name of the `EmailPreferences` resource. Format: `accounts/{account}/users/{email}/emailPreferences`",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "accounts/v1beta/{+name}",
              "httpMethod": "GET"
            },
            "updateEmailPreferences": {
              "description": "Updates the email preferences for a Merchant Center account user. Advanced account users should specify the advanced account rather than a sub-account of the advanced account. Preferences which are not explicitly selected in the update mask will not be updated. It is invalid for updates to specify an UNCONFIRMED opt-in status value. Use the name=accounts/*/users/me/emailPreferences alias to update preferences for the authenticated user.",
              "path": "accounts/v1beta/{+name}",
              "request": {
                "$ref": "EmailPreferences"
              },
              "id": "merchantapi.accounts.emailPreferences.updateEmailPreferences",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}/emailPreferences",
              "response": {
                "$ref": "EmailPreferences"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Identifier. The name of the EmailPreferences. The endpoint is only supported for the authenticated user.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/users/[^/]+/emailPreferences$"
                },
                "updateMask": {
                  "description": "Required. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `news_and_tips`",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        },
        "businessInfo": {
          "methods": {
            "getBusinessInfo": {
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieves the business info of an account.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/businessInfo",
              "response": {
                "$ref": "BusinessInfo"
              },
              "path": "accounts/v1beta/{+name}",
              "id": "merchantapi.accounts.businessInfo.getBusinessInfo",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/businessInfo$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of the business info. Format: `accounts/{account}/businessInfo`. For example, `accounts/123456/businessInfo`."
                }
              }
            },
            "updateBusinessInfo": {
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.businessInfo.updateBusinessInfo",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/businessInfo",
              "response": {
                "$ref": "BusinessInfo"
              },
              "path": "accounts/v1beta/{+name}",
              "parameters": {
                "updateMask": {
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `address` - `customer_service` - `korean_business_registration_number`",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "pattern": "^accounts/[^/]+/businessInfo$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier. The resource name of the business info. Format: `accounts/{account}/businessInfo`"
                }
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "BusinessInfo"
              },
              "description": "Updates the business info of an account. Executing this method requires admin access."
            }
          }
        },
        "shippingSettings": {
          "methods": {
            "insert": {
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "description": "Required. The account for which this shipping setting will be inserted. If you are using an advanced account, you must specify the unique identifier of the sub-account for which you want to insert the shipping setting. Format: `accounts/{ACCOUNT_ID}`",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "description": "Replace the shipping setting of a business with the request shipping setting. Executing this method requires admin access.",
              "id": "merchantapi.accounts.shippingSettings.insert",
              "path": "accounts/v1beta/{+parent}/shippingSettings:insert",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/shippingSettings:insert",
              "response": {
                "$ref": "ShippingSettings"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "ShippingSettings"
              }
            },
            "getShippingSettings": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET",
              "description": "Retrieve shipping setting information.",
              "id": "merchantapi.accounts.shippingSettings.getShippingSettings",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the shipping setting to retrieve. Format: `accounts/{account}/shippingsettings`",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/shippingSettings$"
                }
              },
              "path": "accounts/v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/shippingSettings",
              "response": {
                "$ref": "ShippingSettings"
              }
            }
          }
        },
        "termsOfServiceAgreementStates": {
          "methods": {
            "retrieveForApplication": {
              "description": "Retrieves the state of the agreement for the application terms of service. Application terms of service covers permissions related to the usage of data provided through Merchant Center, CSS Center, Manufacturer Center, and more.",
              "id": "merchantapi.accounts.termsOfServiceAgreementStates.retrieveForApplication",
              "path": "accounts/v1beta/{+parent}/termsOfServiceAgreementStates:retrieveForApplication",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/termsOfServiceAgreementStates:retrieveForApplication",
              "response": {
                "$ref": "TermsOfServiceAgreementState"
              },
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "Required. The account for which to get a TermsOfServiceAgreementState Format: `accounts/{account}`",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "GET"
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/termsOfServiceAgreementStates/[^/]+$",
                  "description": "Required. The resource name of the terms of service version. Format: `accounts/{account}/termsOfServiceAgreementStates/{identifier}` The identifier format is: `{TermsOfServiceKind}-{country}`",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET",
              "id": "merchantapi.accounts.termsOfServiceAgreementStates.get",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/termsOfServiceAgreementStates/{termsOfServiceAgreementStatesId}",
              "response": {
                "$ref": "TermsOfServiceAgreementState"
              },
              "description": "Returns the state of a terms of service agreement.",
              "path": "accounts/v1beta/{+name}",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "homepage": {
          "methods": {
            "unclaim": {
              "request": {
                "$ref": "UnclaimHomepageRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/homepage:unclaim",
              "response": {
                "$ref": "Homepage"
              },
              "id": "merchantapi.accounts.homepage.unclaim",
              "path": "accounts/v1beta/{+name}:unclaim",
              "httpMethod": "POST",
              "description": "Unclaims a store's homepage. Executing this method requires admin access.",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/homepage$",
                  "description": "Required. The name of the homepage to unclaim. Format: `accounts/{account}/homepage`",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              }
            },
            "claim": {
              "id": "merchantapi.accounts.homepage.claim",
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1beta/{+name}:claim",
              "description": "Claims a store's homepage. Executing this method requires admin access. If the homepage is already claimed, this will recheck the verification (unless the business is exempted from claiming, which also exempts from verification) and return a successful response. If ownership can no longer be verified, it will return an error, but it won't clear the claim. In case of failure, a canonical error message is returned: * PERMISSION_DENIED: User doesn't have the necessary permissions on this Merchant Center account. * FAILED_PRECONDITION: - The account is not a Merchant Center account. - Merchant Center account doesn't have a homepage. - Claiming failed (in this case the error message contains more details).",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "ClaimHomepageRequest"
              },
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/homepage$",
                  "type": "string",
                  "description": "Required. The name of the homepage to claim. Format: `accounts/{account}/homepage`",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/homepage:claim",
              "response": {
                "$ref": "Homepage"
              },
              "httpMethod": "POST"
            },
            "getHomepage": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/homepage",
              "response": {
                "$ref": "Homepage"
              },
              "httpMethod": "GET",
              "description": "Retrieves a store's homepage.",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the homepage to retrieve. Format: `accounts/{account}/homepage`",
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/homepage$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.homepage.getHomepage",
              "path": "accounts/v1beta/{+name}"
            },
            "updateHomepage": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "PATCH",
              "path": "accounts/v1beta/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/homepage$",
                  "required": true,
                  "description": "Identifier. The resource name of the store's homepage. Format: `accounts/{account}/homepage`"
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `uri`"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/homepage",
              "response": {
                "$ref": "Homepage"
              },
              "request": {
                "$ref": "Homepage"
              },
              "description": "Updates a store's homepage. Executing this method requires admin access.",
              "id": "merchantapi.accounts.homepage.updateHomepage"
            }
          }
        },
        "issues": {
          "methods": {
            "list": {
              "description": "Lists all account issues of a Merchant Center account. When called on a multi-client account, this method only returns issues belonging to that account, not its sub-accounts. To retrieve issues for sub-accounts, you must first call the accounts.listSubaccounts method to obtain a list of sub-accounts, and then call `accounts.issues.list` for each sub-account individually.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.issues.list",
              "httpMethod": "GET",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/issues",
              "response": {
                "$ref": "ListAccountIssuesResponse"
              },
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The parent, which owns this collection of issues. Format: `accounts/{account}`",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of issues to return. The service may return fewer than this value. If unspecified, at most 50 issues will be returned. The maximum value is 100; values above 100 will be coerced to 100",
                  "format": "int32",
                  "type": "integer"
                },
                "timeZone": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The [IANA](https://www.iana.org/time-zones) timezone used to localize times in human-readable fields. For example 'America/Los_Angeles'. If not set, 'America/Los_Angeles' will be used."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListAccountIssues` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountIssues` must match the call that provided the page token."
                },
                "languageCode": {
                  "description": "Optional. The issues in the response will have human-readable fields in the given language. The format is [BCP-47](https://tools.ietf.org/html/bcp47), such as `en-US` or `sr-Latn`. If not value is provided, `en-US` will be used.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "accounts/v1beta/{+parent}/issues",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "users": {
          "resources": {
            "me": {
              "methods": {
                "verifySelf": {
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/users/me:verifySelf",
                  "response": {
                    "$ref": "User"
                  },
                  "description": "Updates the user that is represented by the caller from pending to verified.",
                  "parameterOrder": [
                    "account"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "httpMethod": "PATCH",
                  "path": "accounts/v1beta/{+account}/users/me:verifySelf",
                  "request": {
                    "$ref": "VerifySelfRequest"
                  },
                  "parameters": {
                    "account": {
                      "location": "path",
                      "description": "Required. The name of the account under which the caller is a user. Format: `accounts/{account}`",
                      "pattern": "^accounts/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "merchantapi.accounts.users.me.verifySelf"
                }
              }
            }
          },
          "methods": {
            "get": {
              "description": "Retrieves a Merchant Center account user.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^accounts/[^/]+/users/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the user to retrieve. Format: `accounts/{account}/users/{email}` It is also possible to retrieve the user corresponding to the caller by using `me` rather than an email address as in `accounts/{account}/users/me`.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}",
              "response": {
                "$ref": "User"
              },
              "path": "accounts/v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.users.get"
            },
            "create": {
              "path": "accounts/v1beta/{+parent}/users",
              "request": {
                "$ref": "User"
              },
              "description": "Creates a Merchant Center account user. Executing this method requires admin access.",
              "id": "merchantapi.accounts.users.create",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "parameters": {
                "userId": {
                  "description": "Required. The email address of the user (for example, `john.doe@gmail.com`).",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The resource name of the account for which a user will be created. Format: `accounts/{account}`"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users",
              "response": {
                "$ref": "User"
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "description": "Deletes a Merchant Center account user. Executing this method requires admin access. The user to be deleted can't be the last admin user of that account.",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/users/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the user to delete. Format: `accounts/{account}/users/{email}` It is also possible to delete the user corresponding to the caller by using `me` rather than an email address as in `accounts/{account}/users/me`.",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1beta/{+name}",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.users.delete"
            },
            "patch": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}",
              "response": {
                "$ref": "User"
              },
              "httpMethod": "PATCH",
              "description": "Updates a Merchant Center account user. Executing this method requires admin access.",
              "id": "merchantapi.accounts.users.patch",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier. The resource name of the user. Format: `accounts/{account}/user/{email}` Use `me` to refer to your own email address, for example `accounts/{account}/users/me`.",
                  "required": true,
                  "pattern": "^accounts/[^/]+/users/[^/]+$"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `access_rights`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "User"
              },
              "path": "accounts/v1beta/{+name}"
            },
            "list": {
              "path": "accounts/v1beta/{+parent}/users",
              "id": "merchantapi.accounts.users.list",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "description": "Lists all users of a Merchant Center account.",
              "parameters": {
                "parent": {
                  "description": "Required. The parent, which owns this collection of users. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListUsers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUsers` must match the call that provided the page token.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of users to return. The service may return fewer than this value. If unspecified, at most 50 users will be returned. The maximum value is 100; values above 100 will be coerced to 100",
                  "type": "integer",
                  "location": "query"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users",
              "response": {
                "$ref": "ListUsersResponse"
              }
            }
          }
        },
        "gbpAccounts": {
          "methods": {
            "list": {
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The name of the parent resource under which the GBP accounts are listed. Format: `accounts/{account}`.",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListGbpAccounts` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `ListGbpAccounts` must match the call that provided the page token.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of `GbpAccount` resources to return. The service returns fewer than this value if the number of gbp accounts is less that than the `pageSize`. The default value is 50. The maximum value is 1000; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "path": "accounts/v1beta/{+parent}/gbpAccounts",
              "description": "List the GBP accounts for a given merchant.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/gbpAccounts",
              "response": {
                "$ref": "ListGbpAccountsResponse"
              },
              "id": "merchantapi.accounts.gbpAccounts.list",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "linkGbpAccount": {
              "path": "accounts/v1beta/{+parent}/gbpAccounts:linkGbpAccount",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the parent resource to which the GBP account is linked. Format: `accounts/{account}`.",
                  "required": true
                }
              },
              "id": "merchantapi.accounts.gbpAccounts.linkGbpAccount",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/gbpAccounts:linkGbpAccount",
              "response": {
                "$ref": "LinkGbpAccountResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "LinkGbpAccountRequest"
              },
              "httpMethod": "POST",
              "description": "Link the specified merchant to a GBP account for all countries. To run this method, you must have admin access to the Merchant Center account. If you don't have admin access, the request fails with the error message `User is not an administrator of account {ACCOUNT_ID}`."
            }
          }
        },
        "automaticImprovements": {
          "methods": {
            "updateAutomaticImprovements": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/automaticImprovements",
              "response": {
                "$ref": "AutomaticImprovements"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Identifier. The resource name of the automatic improvements. Format: `accounts/{account}/automaticImprovements`.",
                  "pattern": "^accounts/[^/]+/automaticImprovements$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "Required. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `item_updates` - `item_updates.account_level_settings` - `image_improvements` - `image_improvements.account_level_settings` - `shipping_improvements` - `shipping_improvements.allow_shipping_improvements`"
                }
              },
              "description": "Updates the automatic improvements of an account.",
              "httpMethod": "PATCH",
              "path": "accounts/v1beta/{+name}",
              "request": {
                "$ref": "AutomaticImprovements"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.automaticImprovements.updateAutomaticImprovements"
            },
            "getAutomaticImprovements": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of the automatic improvements. Format: `accounts/{account}/automaticImprovements`",
                  "pattern": "^accounts/[^/]+/automaticImprovements$",
                  "required": true
                }
              },
              "id": "merchantapi.accounts.automaticImprovements.getAutomaticImprovements",
              "description": "Retrieves the automatic improvements of an account.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+name}",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/automaticImprovements",
              "response": {
                "$ref": "AutomaticImprovements"
              }
            }
          }
        },
        "onlineReturnPolicies": {
          "methods": {
            "patch": {
              "path": "accounts/v1beta/{+name}",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "name": {
                  "description": "Identifier. The name of the `OnlineReturnPolicy` resource. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`",
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/onlineReturnPolicies/[^/]+$",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Optional. Only support updating the entire OnlineReturnPolicy message. For update_mask, always use `*`.",
                  "type": "string"
                }
              },
              "description": "Updates an existing return policy for a given business.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies/{onlineReturnPoliciesId}",
              "response": {
                "$ref": "OnlineReturnPolicy"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.onlineReturnPolicies.patch",
              "request": {
                "$ref": "OnlineReturnPolicy"
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.onlineReturnPolicies.get",
              "description": "Gets an existing return policy for a given business.",
              "path": "accounts/v1beta/{+name}",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies/{onlineReturnPoliciesId}",
              "response": {
                "$ref": "OnlineReturnPolicy"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the return policy to retrieve. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`",
                  "pattern": "^accounts/[^/]+/onlineReturnPolicies/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET"
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "OnlineReturnPolicy"
              },
              "description": "Creates a new return policy for a given business.",
              "id": "merchantapi.accounts.onlineReturnPolicies.create",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The Merchant Center account for which the return policy will be created. Format: `accounts/{account}`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies",
              "response": {
                "$ref": "OnlineReturnPolicy"
              },
              "httpMethod": "POST",
              "path": "accounts/v1beta/{+parent}/onlineReturnPolicies"
            },
            "delete": {
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/onlineReturnPolicies/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the return policy to delete. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`"
                }
              },
              "id": "merchantapi.accounts.onlineReturnPolicies.delete",
              "description": "Deletes an existing return policy.",
              "httpMethod": "DELETE",
              "path": "accounts/v1beta/{+name}",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies/{onlineReturnPoliciesId}",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies",
              "response": {
                "$ref": "ListOnlineReturnPoliciesResponse"
              },
              "id": "merchantapi.accounts.onlineReturnPolicies.list",
              "httpMethod": "GET",
              "path": "accounts/v1beta/{+parent}/onlineReturnPolicies",
              "description": "Lists all existing return policies for a given business.",
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of `OnlineReturnPolicy` resources to return. The service returns fewer than this value if the number of return policies for the given business is less that than the `pageSize`. The default value is 10. The maximum value is 100; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListOnlineReturnPolicies` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `ListOnlineReturnPolicies` must match the call that provided the page token. The token returned as nextPageToken in the response to the previous request.",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The Merchant Center account for which to list return policies. Format: `accounts/{account}`",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        },
        "regions": {
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/regions/[^/]+$",
                  "description": "Required. The name of the region to delete. Format: `accounts/{account}/regions/{region}`",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "DELETE",
              "id": "merchantapi.accounts.regions.delete",
              "description": "Deletes a region definition from your Merchant Center account. Executing this method requires admin access.",
              "path": "accounts/v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions/{regionsId}",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "id": "merchantapi.accounts.regions.get",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the region to retrieve. Format: `accounts/{account}/regions/{region}`",
                  "required": true,
                  "pattern": "^accounts/[^/]+/regions/[^/]+$"
                }
              },
              "description": "Retrieves a region defined in your Merchant Center account.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions/{regionsId}",
              "response": {
                "$ref": "Region"
              },
              "path": "accounts/v1beta/{+name}"
            },
            "list": {
              "id": "merchantapi.accounts.regions.list",
              "description": "Lists the regions in your Merchant Center account.",
              "path": "accounts/v1beta/{+parent}/regions",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The account to list regions for. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of regions to return. The service may return fewer than this value. If unspecified, at most 50 regions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListRegions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRegions` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions",
              "response": {
                "$ref": "ListRegionsResponse"
              }
            },
            "create": {
              "description": "Creates a region definition in your Merchant Center account. Executing this method requires admin access.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions",
              "response": {
                "$ref": "Region"
              },
              "request": {
                "$ref": "Region"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "description": "Required. The account to create a region for. Format: `accounts/{account}`"
                },
                "regionId": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The identifier for the region, unique over all regions of the same account."
                }
              },
              "id": "merchantapi.accounts.regions.create",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "path": "accounts/v1beta/{+parent}/regions",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "patch": {
              "httpMethod": "PATCH",
              "path": "accounts/v1beta/{+name}",
              "description": "Updates a region definition in your Merchant Center account. Executing this method requires admin access.",
              "request": {
                "$ref": "Region"
              },
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/regions/[^/]+$",
                  "required": true,
                  "description": "Identifier. The resource name of the region. Format: `accounts/{account}/regions/{region}`",
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Optional. The comma-separated field mask indicating the fields to update. Example: `\"displayName,postalCodeArea.regionCode\"`.",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "merchantapi.accounts.regions.patch",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions/{regionsId}",
              "response": {
                "$ref": "Region"
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "developerRegistration": {
          "methods": {
            "getDeveloperRegistration": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/developerRegistration$",
                  "required": true,
                  "description": "Required. The `name` (ID) of the developer registration."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.developerRegistration.getDeveloperRegistration",
              "httpMethod": "GET",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/developerRegistration",
              "response": {
                "$ref": "DeveloperRegistration"
              },
              "description": "Retrieves a developer registration for a merchant.",
              "path": "accounts/v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "getAccountForGcpRegistration": {
              "description": "Retrieves the merchant account that the calling GCP is registered with.",
              "httpMethod": "GET",
              "parameters": {},
              "parameterOrder": [],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts:getAccountForGcpRegistration",
              "response": {
                "$ref": "GetAccountForGcpRegistrationResponse"
              },
              "id": "merchantapi.accounts.developerRegistration.getAccountForGcpRegistration",
              "path": "accounts/v1beta/accounts:getAccountForGcpRegistration"
            },
            "unregisterGcp": {
              "description": "Unregister the calling GCP from the calling shopping account. Note that the GCP will still be able to access the API for at most 1 day from the unregister succussful call.",
              "id": "merchantapi.accounts.developerRegistration.unregisterGcp",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/developerRegistration$",
                  "description": "Required. The name of the developer registration to be created for the merchant account that the GCP will be registered with. Format: `accounts/{account}/developerRegistration`",
                  "required": true
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/developerRegistration:unregisterGcp",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "UnregisterGcpRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1beta/{+name}:unregisterGcp"
            },
            "registerGcp": {
              "id": "merchantapi.accounts.developerRegistration.registerGcp",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "RegisterGcpRequest"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/developerRegistration:registerGcp",
              "response": {
                "$ref": "DeveloperRegistration"
              },
              "path": "accounts/v1beta/{+name}:registerGcp",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/developerRegistration$",
                  "description": "Required. The name of the developer registration to be created for the merchant account that the GCP will be registered with. Format: `accounts/{account}/developerRegistration` The {account} used must be the same account where user calling this API method is directly added to. Note: The account used must be a production account (can't be a [test account](https://developers.google.com/merchant/api/guides/accounts/test-accounts) ) and must have a [verified website](https://support.google.com/merchants/answer/11586344) in Merchant Center.",
                  "required": true
                }
              },
              "description": "Registers the GCP used for the API call to the shopping account passed in the request. Will create a user with an \"API developer\" and add the \"developer_email\" as a contact with \"API notifications\" email preference on. Restrictions: * The caller account must be authenticated and must not impersonate another account at registration time. Registering for subaccounts is not supported if the caller account is authenticated with the parent or the managing advanced account. * The caller account must have a [verified website](https://support.google.com/merchants/answer/11586344) in Merchant Center. * [Test accounts](https://developers.google.com/merchant/api/guides/accounts/test-accounts) are not eligible for registration.",
              "httpMethod": "POST"
            }
          }
        },
        "relationships": {
          "methods": {
            "patch": {
              "description": "Updates the account relationship. Executing this method requires admin access.",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+name}",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `account_id_alias`",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/relationships/[^/]+$",
                  "description": "Identifier. The resource name of the account relationship. Format: `accounts/{account}/relationships/{relationship}`. For example, `accounts/123456/relationships/567890`.",
                  "location": "path"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/relationships/{relationshipsId}",
              "response": {
                "$ref": "AccountRelationship"
              },
              "id": "merchantapi.accounts.relationships.patch",
              "request": {
                "$ref": "AccountRelationship"
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "List account relationships for the specified account.",
              "id": "merchantapi.accounts.relationships.list",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. The token returned by the previous `list` request.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent account of the account relationship to filter by. Format: `accounts/{account}`",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of elements to return in the response. Use for paging. If no `page_size` is specified, `100` is used as the default value. The maximum allowed value is `1000`."
                }
              },
              "httpMethod": "GET",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/relationships",
              "response": {
                "$ref": "ListAccountRelationshipsResponse"
              },
              "path": "accounts/v1beta/{+parent}/relationships"
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/relationships/[^/]+$",
                  "description": "Required. The resource name of the account relationship to get. Format: `accounts/{account}/relationships/{relationship}`. For example, `accounts/123456/relationships/567890`."
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/relationships/{relationshipsId}",
              "response": {
                "$ref": "AccountRelationship"
              },
              "httpMethod": "GET",
              "path": "accounts/v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.relationships.get",
              "description": "Retrieve an account relationship."
            }
          }
        },
        "autofeedSettings": {
          "methods": {
            "getAutofeedSettings": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieves the autofeed settings of an account.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/autofeedSettings",
              "response": {
                "$ref": "AutofeedSettings"
              },
              "httpMethod": "GET",
              "path": "accounts/v1beta/{+name}",
              "id": "merchantapi.accounts.autofeedSettings.getAutofeedSettings",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+/autofeedSettings$",
                  "description": "Required. The resource name of the autofeed settings. Format: `accounts/{account}/autofeedSettings`",
                  "location": "path"
                }
              }
            },
            "updateAutofeedSettings": {
              "request": {
                "$ref": "AutofeedSettings"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/autofeedSettings",
              "response": {
                "$ref": "AutofeedSettings"
              },
              "id": "merchantapi.accounts.autofeedSettings.updateAutofeedSettings",
              "path": "accounts/v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Updates the autofeed settings of an account.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/autofeedSettings$",
                  "location": "path",
                  "type": "string",
                  "description": "Identifier. The resource name of the autofeed settings. Format: `accounts/{account}/autofeedSettings`.",
                  "required": true
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Required. List of fields being updated."
                }
              }
            }
          }
        },
        "services": {
          "methods": {
            "propose": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Propose an account service.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services:propose",
              "response": {
                "$ref": "AccountService"
              },
              "request": {
                "$ref": "ProposeAccountServiceRequest"
              },
              "httpMethod": "POST",
              "id": "merchantapi.accounts.services.propose",
              "parameterOrder": [
                "parent"
              ],
              "path": "accounts/v1beta/{+parent}/services:propose",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The resource name of the parent account for the service. Format: `accounts/{account}`",
                  "type": "string"
                }
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.services.list",
              "description": "List account services for the specified accounts. Supports filtering.",
              "path": "accounts/v1beta/{+parent}/services",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. The token returned by the previous `list` request.",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The parent account of the account service to filter by. Format: `accounts/{account}`",
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+$"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of elements to return in the response. Use for paging. If no `page_size` is specified, `100` is used as the default value. The maximum allowed value is `1000`.",
                  "location": "query"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services",
              "response": {
                "$ref": "ListAccountServicesResponse"
              }
            },
            "reject": {
              "id": "merchantapi.accounts.services.reject",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+/services/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name of the account service to reject. Format: `accounts/{account}/services/{service}`",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "description": "Reject an account service (both proposed and approve services can be rejected).",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services/{servicesId}:reject",
              "response": {
                "$ref": "Empty"
              },
              "request": {
                "$ref": "RejectAccountServiceRequest"
              },
              "path": "accounts/v1beta/{+name}:reject"
            },
            "approve": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^accounts/[^/]+/services/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of the account service to approve. Format: `accounts/{account}/services/{service}`"
                }
              },
              "httpMethod": "POST",
              "path": "accounts/v1beta/{+name}:approve",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services/{servicesId}:approve",
              "response": {
                "$ref": "AccountService"
              },
              "description": "Approve an account service proposal.",
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.services.approve",
              "request": {
                "$ref": "ApproveAccountServiceRequest"
              }
            },
            "get": {
              "httpMethod": "GET",
              "description": "Retrieve an account service.",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+/services/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name of the account service to get. Format: `accounts/{account}/services/{service}`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services/{servicesId}",
              "response": {
                "$ref": "AccountService"
              },
              "id": "merchantapi.accounts.services.get",
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1beta/{+name}"
            }
          }
        }
      },
      "methods": {
        "get": {
          "path": "accounts/v1beta/{+name}",
          "httpMethod": "GET",
          "id": "merchantapi.accounts.get",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the account to retrieve. Format: `accounts/{account}`",
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "accounts/v1beta/accounts/{accountsId}",
          "response": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Retrieves an account from your Merchant Center account. After inserting, updating, or deleting an account, it may take several minutes before changes take effect."
        },
        "listSubaccounts": {
          "path": "accounts/v1beta/{+provider}:listSubaccounts",
          "description": "List all sub-accounts for a given advanced account. This is a convenience wrapper for the more powerful `accounts.list` method. This method will produce the same results as calling `ListsAccounts` with the following filter: `relationship(providerId={parent} AND service(type=\"ACCOUNT_AGGREGATION\"))`",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "merchantapi.accounts.listSubaccounts",
          "httpMethod": "GET",
          "parameterOrder": [
            "provider"
          ],
          "flatPath": "accounts/v1beta/accounts/{accountsId}:listSubaccounts",
          "response": {
            "$ref": "ListSubAccountsResponse"
          },
          "parameters": {
[...]
