{
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "id": "merchantapi:accounts_v1beta",
  "discoveryVersion": "v1",
  "description": "Programmatically manage your Merchant Center Accounts.",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "rootUrl": "https://merchantapi.googleapis.com/",
  "version_module": true,
  "mtlsRootUrl": "https://merchantapi.mtls.googleapis.com/",
  "version": "accounts_v1beta",
  "kind": "discovery#restDescription",
  "name": "merchantapi",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20261005",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "title": "Merchant API",
  "protocol": "rest",
  "schemas": {
    "InStock": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "Optional. Product landing page URI. It is only used for the review of MHLSF in-stock serving. This URI domain should match with the business's homepage. Required to be empty if the lsf_type is GHLSF, and required when the lsf_type is MHLSF_FULL or MHLSF_BASIC."
        },
        "state": {
          "type": "string",
          "description": "Output only. The state of the in-stock serving.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Collection of information related to InStock.",
      "id": "InStock"
    },
    "AccountService": {
      "id": "AccountService",
      "type": "object",
      "properties": {
        "providerDisplayName": {
          "description": "Output only. The human-readable display name of the provider account.",
          "type": "string",
          "readOnly": true
        },
        "comparisonShopping": {
          "$ref": "ComparisonShopping",
          "description": "Service type for comparison shopping. The provider is a CSS (Comparison Shopping Service) managing the account. See https://support.google.com/merchants/answer/12653197"
        },
        "localListingManagement": {
          "$ref": "LocalListingManagement",
          "description": "Service type for local listings management. The business group associated with the external account id will be used to provide local inventory to this Merchant Center account."
        },
        "provider": {
          "description": "Output only. The provider of the service. Either the reference to an account such as `providers/123` or a well-known service provider (one of `providers/GOOGLE_ADS` or `providers/GOOGLE_BUSINESS_PROFILE`).",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the account service. Format: `accounts/{account}/services/{service}`",
          "type": "string"
        },
        "accountManagement": {
          "description": "Service type for account management. Enables the provider to perform administrative actions on the business's account, such as configuring account settings, managing users, or updating business information.",
          "$ref": "AccountManagement"
        },
        "mutability": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "MUTABILITY_UNSPECIFIED",
            "MUTABLE",
            "IMMUTABLE"
          ],
          "enumDescriptions": [
            "Unused default value",
            "The service can be mutated without restrictions.",
            "The service is read-only and must not be mutated."
          ],
          "description": "Output only. Whether the service is mutable (e.g. through Approve / Reject RPCs). A service that was created through another system or API might be immutable."
        },
        "accountAggregation": {
          "description": "Service type for account aggregation. This enables the provider, which is an advanced account, to manage multiple sub-accounts (client accounts). Through this service, the advanced account provider can perform administrative and operational tasks across all linked sub-accounts. This is useful for agencies, aggregators, or large retailers that need centralized control over many Merchant Center accounts.",
          "$ref": "AccountAggregation"
        },
        "campaignsManagement": {
          "description": "Service type for managing advertising campaigns. Grants the provider access to create and manage the business's ad campaigns, including setting up campaigns, adjusting bids, and optimizing performance.",
          "$ref": "CampaignsManagement"
        },
        "externalAccountId": {
          "description": "Immutable. An optional, immutable identifier that Google uses to refer to this account when communicating with the provider. This should be the unique account ID within the provider's system (for example, your shop ID in Shopify). If you have multiple accounts with the same provider - for instance, different accounts for various regions — the `external_account_id` differentiates between them, ensuring accurate linking and integration between Google and the provider.",
          "type": "string"
        },
        "productsManagement": {
          "description": "Service type for managing products. This allows the provider to handle product data on behalf of the business, including reading and writing product listings. It's commonly used when the provider offers inventory management or catalog synchronization services to keep the business's product information up-to-date across platforms.",
          "$ref": "ProductsManagement"
        },
        "handshake": {
          "$ref": "Handshake",
          "readOnly": true,
          "description": "Output only. Information about the state of the service in terms of establishing it (e.g. is it pending approval or approved)."
        }
      },
      "description": "The `AccountService` message represents a specific service that a provider account offers to a Merchant Center account. `AccountService` defines the permissions and capabilities granted to the provider, allowing for operations such as product management or campaign management. The lifecycle of an `AccountService` involves a proposal phase, where one party suggests the service, and an approval phase, where the other party accepts or rejects it. This handshake mechanism ensures mutual consent before any access is granted. This mechanism safeguards both parties by ensuring that access rights are granted appropriately and that both the business and provider are aware of the services enabled. In scenarios where a user is an admin of both accounts, the approval can happen automatically. The mutability of a service is also managed through `AccountService`. Some services might be immutable, for example, if they were established through other systems or APIs, and you cannot alter them through this API."
    },
    "AutomaticImprovements": {
      "type": "object",
      "description": "Collection of information related to the [automatic improvements](https://developers.google.com/shopping-content/guides/automatic-improvements) of an account.",
      "id": "AutomaticImprovements",
      "properties": {
        "itemUpdates": {
          "description": "Turning on [item updates](https://support.google.com/merchants/answer/3246284) allows Google to automatically update items for you. When item updates are on, Google uses the structured data markup on the website and advanced data extractors to update the price and availability of the items. When the item updates are off, items with mismatched data aren't shown. This field is only updated (cleared) if provided in the update mask.",
          "$ref": "AutomaticItemUpdates"
        },
        "imageImprovements": {
          "$ref": "AutomaticImageImprovements",
          "description": "This improvement will attempt to automatically correct submitted images if they don't meet the [image requirements](https://support.google.com/merchants/answer/6324350), for example, removing overlays. If successful, the image will be replaced and approved. This improvement is only applied to images of disapproved offers. For more information see: [Automatic image improvements](https://support.google.com/merchants/answer/9242973) This field is only updated (cleared) if provided in the update mask."
        },
        "shippingImprovements": {
          "description": "Not available for [advanced accounts](https://support.google.com/merchants/answer/188487). By turning on [automatic shipping improvements](https://support.google.com/merchants/answer/10027038), you are allowing Google to improve the accuracy of your delivery times shown to shoppers using Google. More accurate delivery times, especially when faster, typically lead to better conversion rates. Google will improve your estimated delivery times based on various factors: * Delivery address of an order * Current handling time and shipping time settings * Estimated weekdays or business days * Parcel tracking data This field is only updated (cleared) if provided in the update mask.",
          "$ref": "AutomaticShippingImprovements"
        },
        "name": {
          "description": "Identifier. The resource name of the automatic improvements. Format: `accounts/{account}/automaticImprovements`.",
          "type": "string"
        }
      }
    },
    "TermsOfService": {
      "type": "object",
      "id": "TermsOfService",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the terms of service version. Format: `termsOfService/{version}`"
        },
        "regionCode": {
          "type": "string",
          "description": "Region code as defined by [CLDR](https://cldr.unicode.org/). This is either a country where the ToS applies specifically to that country or `001` when the same `TermsOfService` can be signed in any country. However note that when signing a ToS that applies globally we still expect that a specific country is provided (this should be merchant business country or program country of participation)."
        },
        "fileUri": {
          "description": "URI for terms of service file that needs to be displayed to signing users.",
          "type": "string"
        },
        "external": {
          "type": "boolean",
          "description": "Whether this terms of service version is external. External terms of service versions can only be agreed through external processes and not directly by the merchant through UI or API."
        },
        "kind": {
          "type": "string",
          "description": "The Kind this terms of service version applies to.",
          "enum": [
            "TERMS_OF_SERVICE_KIND_UNSPECIFIED",
            "MERCHANT_CENTER"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Terms of Service for the Merchant Center application."
          ]
        }
      },
      "description": "The `TermsOfService` message represents a specific version of the terms of service that merchants must accept to access certain features or services. For more information, see [Terms of Service](https://support.google.com/merchants/answer/160173). This message is important for the onboarding process, ensuring that merchants agree to the necessary legal agreements for using the service. Merchants can retrieve the latest terms of service for a given `kind` and `region` through `RetrieveLatestTermsOfService`, and accept them as required through `AcceptTermsOfService`."
    },
    "ListProgramsResponse": {
      "description": "Response message for the ListPrograms method.",
      "type": "object",
      "properties": {
        "programs": {
          "items": {
            "$ref": "Program"
          },
          "type": "array",
          "description": "The programs for the given account."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListProgramsResponse"
    },
    "ListOnlineReturnPoliciesResponse": {
      "properties": {
        "onlineReturnPolicies": {
          "description": "The retrieved return policies.",
          "items": {
            "$ref": "OnlineReturnPolicy"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListOnlineReturnPoliciesResponse",
      "description": "Response message for the `ListOnlineReturnPolicies` method.",
      "type": "object"
    },
    "ProductStatusChangeMessage": {
      "properties": {
        "managingAccount": {
          "description": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`",
          "type": "string"
        },
        "eventTime": {
          "description": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications.",
          "format": "google-datetime",
          "type": "string"
        },
        "account": {
          "description": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`",
          "type": "string"
        },
        "expirationTime": {
          "description": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event.",
          "type": "string",
          "format": "google-datetime"
        },
        "resourceType": {
          "type": "string",
          "description": "The resource that changed, in this case it will always be `Product`.",
          "enum": [
            "RESOURCE_UNSPECIFIED",
            "PRODUCT",
            "ACCOUNT_SERVICE"
          ],
          "enumDescriptions": [
            "Unspecified resource",
            "Resource type : product",
            "Account service"
          ]
        },
        "resource": {
          "description": "The product name. Format: `accounts/{account}/products/{product}`",
          "type": "string"
        },
        "resourceId": {
          "type": "string",
          "description": "The product id."
        },
        "changes": {
          "items": {
            "$ref": "ProductChange"
          },
          "description": "A message to describe the change that happened to the product",
          "type": "array"
        },
        "attribute": {
          "enum": [
            "ATTRIBUTE_UNSPECIFIED",
            "STATUS"
          ],
          "type": "string",
          "description": "The attribute in the resource that changed, in this case it will be always `Status`.",
          "enumDescriptions": [
            "Unspecified attribute",
            "Status of the changed entity"
          ]
        }
      },
      "description": "The message that the merchant will receive to notify about product status change event",
      "type": "object",
      "id": "ProductStatusChangeMessage"
    },
    "CreateAndConfigureAccountRequest": {
      "properties": {
        "users": {
          "description": "Optional. Users to be added to the account. This field is deprecated and will not exist after the API evolves out of beta. Use the `user` field instead.",
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "CreateUserRequest"
          }
        },
        "setAlias": {
          "items": {
            "$ref": "SetAliasForRelationship"
          },
          "description": "Optional. If a relationship is created with a provider, you can set an alias for it with this field. The calling user must be an admin on the provider to be able to set an alias.",
          "type": "array"
        },
        "account": {
          "$ref": "Account",
          "description": "Required. The account to be created."
        },
        "service": {
          "description": "Required. An account service between the account to be created and the provider account is initialized as part of the creation. At least one such service needs to be provided. Currently exactly one of these needs to be `account_aggregation` and `accounts.createAndConfigure` method can be used to create a sub-account under an existing advanced account through this method. Additional `account_management` or `products_management` services may be provided.",
          "type": "array",
          "items": {
            "$ref": "AddAccountService"
          }
        },
        "user": {
          "type": "array",
          "description": "Optional. Users to be added to the account.",
          "items": {
            "$ref": "AddUser"
          }
        }
      },
      "type": "object",
      "id": "CreateAndConfigureAccountRequest",
      "description": "Request message for the `CreateAndConfigureAccount` method."
    },
    "AccountAggregation": {
      "type": "object",
      "properties": {},
      "description": "`AccountAggregation` payload.",
      "id": "AccountAggregation"
    },
    "ListAccountIssuesResponse": {
      "id": "ListAccountIssuesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "accountIssues": {
          "type": "array",
          "description": "The issues from the specified account.",
          "items": {
            "$ref": "AccountIssue"
          }
        }
      },
      "type": "object",
      "description": "Response message for the `ListAccountIssues` method."
    },
    "TransitTimeRow": {
      "id": "TransitTimeRow",
      "description": "If there's only one dimension set of `postal_code_group_names` or `transit_time_labels`, there are multiple rows each with one value for that dimension. If there are two dimensions, each row corresponds to a `postal_code_group_names`, and columns (values) to a `transit_time_labels`.",
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "$ref": "TransitTimeValue"
          },
          "description": "Required. Transit time range (min-max) in business days.",
          "type": "array"
        }
      }
    },
    "RejectAccountServiceRequest": {
      "properties": {},
      "type": "object",
      "description": "Request to reject an account service.",
      "id": "RejectAccountServiceRequest"
    },
    "VerificationMailSettings": {
      "description": "Settings related to the verification email that is sent after adding a user.",
      "id": "VerificationMailSettings",
      "properties": {
        "verificationMailMode": {
          "description": "Optional. Mode of the verification mail. If not set, the default is `SEND_VERIFICATION_MAIL`.",
          "type": "string",
          "enumDescriptions": [
            "Default first member of every enum. Do not use.",
            "An invitation email is sent to the user added shortly after.",
            "No invitation email is sent. This can be useful if the user is expected to accept the invitation through the API without needing another notification."
          ],
          "enum": [
            "VERIFICATION_MAIL_MODE_UNSPECIFIED",
            "SEND_VERIFICATION_MAIL",
            "SUPPRESS_VERIFICATION_MAIL"
          ]
        }
      },
      "type": "object"
    },
    "OnlineReturnPolicy": {
      "id": "OnlineReturnPolicy",
      "description": "[Online return policy](https://support.google.com/merchants/answer/10220642) object. This is currently used to represent return policies for ads and free listings programs.",
      "type": "object",
      "properties": {
        "returnLabelSource": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Download and print.",
            "Label include in the package.",
            "Customer to provide."
          ],
          "description": "Optional. The field specifies the return label source.",
          "enum": [
            "RETURN_LABEL_SOURCE_UNSPECIFIED",
            "DOWNLOAD_AND_PRINT",
            "IN_THE_PACKAGE",
            "CUSTOMER_RESPONSIBILITY"
          ],
          "type": "string"
        },
        "returnPolicyId": {
          "type": "string",
          "description": "Output only. Return policy ID generated by Google.",
          "readOnly": true
        },
        "restockingFee": {
          "description": "Optional. The restocking fee that applies to all return reason categories. This would be treated as a free restocking fee if the value is not set.",
          "$ref": "RestockingFee"
        },
        "itemConditions": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "ITEM_CONDITION_UNSPECIFIED",
              "NEW",
              "USED"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "New.",
              "Used."
            ]
          },
          "description": "Optional. The item conditions accepted for returns must not be empty unless the type of return policy is 'noReturns'."
        },
        "seasonalOverrides": {
          "items": {
            "$ref": "SeasonalOverride"
          },
          "description": "Optional. Overrides to the general policy for orders placed during a specific set of time intervals.",
          "type": "array"
        },
        "policy": {
          "description": "Optional. The return policy.",
          "$ref": "Policy"
        },
        "countries": {
          "type": "array",
          "description": "Required. Immutable. The countries of sale where the return policy applies. The values must be a valid 2 letter ISO 3166 code.",
          "items": {
            "type": "string"
          }
        },
        "returnPolicyUri": {
          "description": "Required. The return policy uri. This can used by Google to do a sanity check for the policy. It must be a valid URL.",
          "type": "string"
        },
        "returnMethods": {
          "type": "array",
          "items": {
            "enum": [
              "RETURN_METHOD_UNSPECIFIED",
              "BY_MAIL",
              "IN_STORE",
              "AT_A_KIOSK"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Return by mail.",
              "Return in store.",
              "Return at a kiosk."
            ],
            "type": "string"
          },
          "description": "Optional. The return methods of how customers can return an item. This value is required to not be empty unless the type of return policy is noReturns."
        },
        "acceptExchange": {
          "type": "boolean",
          "description": "Optional. This field specifies if business allows customers to exchange products."
        },
        "acceptDefectiveOnly": {
          "description": "Optional. This field specifies if business only accepts defective products for returns.",
          "type": "boolean"
        },
        "processRefundDays": {
          "description": "Optional. The field specifies the number of days it takes for business to process refunds.",
          "type": "integer",
          "format": "int32"
        },
        "returnShippingFee": {
          "description": "Optional. The return shipping fee. Should be set only when customer need to download and print the return label.",
          "$ref": "ReturnShippingFee"
        },
        "label": {
          "type": "string",
          "description": "Optional. Immutable. This field represents the unique user-defined label of the return policy for the given country. It is important to note that the same label cannot be used in different return policies for the same country. If not given, policies will be automatically treated as the 'default' for the country. When using label, you are creating an exception policy in that country to assign a custom return policy to certain product groups, follow the instructions provided in the [Return policy label] (https://support.google.com/merchants/answer/9445425). The label can contain up to 50 characters."
        },
        "name": {
          "description": "Identifier. The name of the `OnlineReturnPolicy` resource. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`",
          "type": "string"
        }
      }
    },
    "AddUser": {
      "description": "Instruction for adding a user to the account during creation.",
      "type": "object",
      "id": "AddUser",
      "properties": {
        "user": {
          "description": "Optional. Details about the user to be added. At the moment, only access rights may be specified.",
          "$ref": "User"
        },
        "verificationMailSettings": {
          "$ref": "VerificationMailSettings",
          "description": "Optional. Settings related to configuring the verification email that is sent after adding a user."
        },
        "userId": {
          "description": "Required. The email address of the user (for example, `john.doe@gmail.com`).",
          "type": "string"
        }
      }
    },
    "ShippingSettings": {
      "properties": {
        "etag": {
          "description": "Required. This field helps avoid async issues. It ensures that the shipping setting data doesn't change between the `get` call and the `insert` call. The user should follow these steps: 1. Set the etag field as an empty string for the initial shipping setting creation. 2. After the initial creation, call the `get` method to obtain an etag and the current shipping setting data before calling `insert`. 3. Modify the shipping setting information. 4. Call the `insert` method with the shipping setting information and the etag obtained in step 2. 5. If the shipping setting data changes between step 2 and step 4, the insert request will fail because the etag changes every time the shipping setting data changes. In this case, the user should repeat steps 2-4 with the new etag.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the shipping settings. Format: `accounts/{account}/shippingSettings`. For example, `accounts/123456/shippingSettings`.",
          "type": "string"
        },
        "warehouses": {
          "description": "Optional. A list of warehouses which can be referred to in `services`.",
          "type": "array",
          "items": {
            "$ref": "Warehouse"
          }
        },
        "services": {
          "type": "array",
          "items": {
            "$ref": "Service"
          },
          "description": "Optional. The target account's list of services."
        }
      },
      "type": "object",
      "id": "ShippingSettings",
      "description": "The Merchant Center account's [shipping settings](https://support.google.com/merchants/answer/6069284). The `ShippingSettings` resource lets you retrieve and update the shipping settings of your advanced account and all its associated sub-accounts."
    },
    "ListGbpAccountsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "gbpAccounts": {
          "type": "array",
          "items": {
            "$ref": "GbpAccount"
          },
          "description": "The GBP accounts from the specified merchant in the specified country."
        }
      },
      "id": "ListGbpAccountsResponse",
      "description": "Response message for the ListGbpAccounts method."
    },
    "User": {
      "type": "object",
      "properties": {
        "accessRights": {
          "description": "Required. The [access rights](https://support.google.com/merchants/answer/12160472?sjid=6789834943175119429-EU#accesstypes) the user has.",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Standard access rights.",
              "Has access to the same read-only methods as STANDARD, but no access to any mutating methods.",
              "Admin access rights.",
              "Users with this right have access to performance and insights.",
              "Users with this right have access to Merchant API and its notifications. This role is only accessible to accounts that have a developer registration."
            ],
            "type": "string",
            "enum": [
              "ACCESS_RIGHT_UNSPECIFIED",
              "STANDARD",
              "READ_ONLY",
              "ADMIN",
              "PERFORMANCE_REPORTING",
              "API_DEVELOPER"
            ]
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the user. Format: `accounts/{account}/user/{email}` Use `me` to refer to your own email address, for example `accounts/{account}/users/me`."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "VERIFIED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The user is pending confirmation. In this state, the user first needs to accept the invitation before performing other actions.",
            "The user is verified."
          ],
          "type": "string",
          "description": "Output only. The state of the user."
        }
      },
      "description": "The `User` resource represents a user associated with a Merchant Center account. It is used to manage user permissions and access rights within the account. For more information, see [Frequently asked questions about people and access levels](//support.google.com/merchants/answer/12160472).",
      "id": "User"
    },
    "CheckoutSettings": {
      "description": "[CheckoutSettings](https://support.google.com/merchants/answer/13945960) for a specific merchant.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the program configuration settings. Format: `accounts/{account}/programs/{program}/checkoutSettings`"
        },
        "eligibleDestinations": {
          "items": {
            "enum": [
              "DESTINATION_ENUM_UNSPECIFIED",
              "SHOPPING_ADS",
              "DISPLAY_ADS",
              "LOCAL_INVENTORY_ADS",
              "FREE_LISTINGS",
              "FREE_LOCAL_LISTINGS",
              "YOUTUBE_SHOPPING",
              "YOUTUBE_SHOPPING_CHECKOUT",
              "YOUTUBE_AFFILIATE",
              "FREE_VEHICLE_LISTINGS",
              "VEHICLE_ADS",
              "CLOUD_RETAIL",
              "LOCAL_CLOUD_RETAIL",
              "RENTAL_ADS"
            ],
            "type": "string",
            "enumDescriptions": [
              "Not specified.",
              "[Shopping ads](https://support.google.com/google-ads/answer/2454022).",
              "[Display ads](https://support.google.com/merchants/answer/6069387).",
              "[Local inventory ads](https://support.google.com/merchants/answer/3057972).",
              "[Free listings](https://support.google.com/merchants/answer/9199328).",
              "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
              "[YouTube Shopping](https://support.google.com/merchants/answer/12362804).",
              "Youtube shopping checkout.",
              "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
              "[Free vehicle listings](https://support.google.com/merchants/answer/11189169).",
              "[Vehicle ads](https://support.google.com/merchants/answer/11189169).",
              "[Cloud retail](https://cloud.google.com/solutions/retail).",
              "[Local cloud retail](https://cloud.google.com/solutions/retail).",
              "Real Estate Rental Ads. ."
            ]
          },
          "type": "array",
          "description": "Optional. Required for the create operation. The destinations (also known as [Marketing methods](https://support.google.com/merchants/answer/15130232)) to which the checkout program applies. Valid destination values are `SHOPPING_ADS` and `FREE_LISTINGS`."
        },
        "effectiveUriSettings": {
          "$ref": "UriSettings",
          "readOnly": true,
          "description": "Output only. The effective value of `uri_settings` for a given merchant. If account level settings are present then this value will be a copy of url settings. Otherwise, it will have the value of the parent account (for only marketplace sellers)."
        },
        "enrollmentState": {
          "type": "string",
          "description": "Output only. Reflects the merchant enrollment state in `Checkout` program.",
          "readOnly": true,
          "enum": [
            "CHECKOUT_ENROLLMENT_STATE_UNSPECIFIED",
            "INACTIVE",
            "ENROLLED",
            "OPTED_OUT"
          ],
          "enumDescriptions": [
            "Default enrollment state when enrollment state is not specified.",
            "Merchant has not enrolled into the program.",
            "Merchant has enrolled into the program by providing either an account level URL or checkout URLs as part of their feed.",
            "Merchant has previously enrolled but opted out of the program."
          ]
        },
        "effectiveReviewState": {
          "enumDescriptions": [
            "Default review state when review state is not specified.",
            "Merchant provided URLs are being reviewed for data quality issues.",
            "Merchant account has been approved. Indicates the data quality checks have passed.",
            "Merchant account has been disapproved due to data quality issues."
          ],
          "type": "string",
          "enum": [
            "CHECKOUT_REVIEW_STATE_UNSPECIFIED",
            "IN_REVIEW",
            "APPROVED",
            "DISAPPROVED"
          ],
          "description": "Output only. The effective value of `review_state` for a given merchant ID. If account level settings are present then this value will be a copy of the account level settings. Otherwise, it will have the value of the parent account (for only marketplace sellers).",
          "readOnly": true
        },
        "uriSettings": {
          "description": "URI settings for cart or checkout URL.",
          "$ref": "UriSettings"
        },
        "effectiveEnrollmentState": {
          "enumDescriptions": [
            "Default enrollment state when enrollment state is not specified.",
            "Merchant has not enrolled into the program.",
            "Merchant has enrolled into the program by providing either an account level URL or checkout URLs as part of their feed.",
            "Merchant has previously enrolled but opted out of the program."
          ],
          "type": "string",
          "description": "Output only. The effective value of enrollment_state for a given merchant ID. If account level settings are present then this value will be a copy of the account level settings. Otherwise, it will have the value of the parent account (for only marketplace sellers).",
          "readOnly": true,
          "enum": [
            "CHECKOUT_ENROLLMENT_STATE_UNSPECIFIED",
            "INACTIVE",
            "ENROLLED",
            "OPTED_OUT"
          ]
        },
        "reviewState": {
          "enumDescriptions": [
            "Default review state when review state is not specified.",
            "Merchant provided URLs are being reviewed for data quality issues.",
            "Merchant account has been approved. Indicates the data quality checks have passed.",
            "Merchant account has been disapproved due to data quality issues."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Reflects the merchant review state in `Checkout` program. This is set based on the data quality reviews of the URL provided by the merchant. A merchant with enrollment state as `ENROLLED` can be in the following review states: `IN_REVIEW`, `APPROVED` or `DISAPPROVED`. A merchant must be in an `enrollment_state` of `ENROLLED` before a review can begin for the merchant.For more details, check the help center doc.",
          "enum": [
            "CHECKOUT_REVIEW_STATE_UNSPECIFIED",
            "IN_REVIEW",
            "APPROVED",
            "DISAPPROVED"
          ]
        }
      },
      "id": "CheckoutSettings"
    },
    "Account": {
      "id": "Account",
      "properties": {
        "accountName": {
          "description": "Required. A human-readable name of the account. Don't use punctuation, capitalization, or non-alphanumeric symbols such as the \"/\" or \"_\" symbols. See [Adding a business name](https://support.google.com/merchants/answer/12159159) for more information.",
          "type": "string"
        },
        "homePageUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URI (typically a URL) of the store's homepage."
        },
        "testAccount": {
          "description": "Output only. Whether this is a test account.",
          "readOnly": true,
          "type": "boolean"
        },
        "accountId": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The ID of the account.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Required. The account's [BCP-47 language code](https://tools.ietf.org/html/bcp47), such as `en-US` or `sr-Latn`."
        },
        "adultContent": {
          "type": "boolean",
          "description": "Optional. Whether this account contains adult content."
        },
        "name": {
          "description": "Identifier. The resource name of the account. Format: `accounts/{account}`",
          "type": "string"
        },
        "timeZone": {
          "description": "Required. The time zone of the account. On writes, `time_zone` sets both the `reporting_time_zone` and the `display_time_zone`. For reads, `time_zone` always returns the `display_time_zone`. If `display_time_zone` doesn't exist for your account, `time_zone` is empty. The `version` field is not supported, won't be set in responses and will be silently ignored if specified in requests.",
          "$ref": "TimeZone"
        }
      },
      "description": "The `Account` message represents a business's account within Merchant Center. It's the primary entity for managing product data, settings, and interactions with Google's services and external providers. Accounts can operate as standalone entities or be part of a advanced account structure. In an advanced account setup the parent account manages multiple sub-accounts. Establishing an account involves configuring attributes like the account name, time zone, and language preferences. The `Account` message is the parent entity for many other resources, for example, `AccountRelationship`, `Homepage`, `BusinessInfo` and so on.",
      "type": "object"
    },
    "ListAccountRelationshipsResponse": {
      "description": "Response after trying to list account relationships.",
      "type": "object",
      "properties": {
        "accountRelationships": {
          "description": "The account relationships that match your filter.",
          "items": {
            "$ref": "AccountRelationship"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A page token. You can send the `page_token` to get the next page. Only included in the `list` response if there are more pages.",
          "type": "string"
        }
      },
      "id": "ListAccountRelationshipsResponse"
    },
    "GetAccountForGcpRegistrationResponse": {
      "id": "GetAccountForGcpRegistrationResponse",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the merchant account id that the GCP is registered with."
        }
      },
      "description": "Response message for the GetAccountForGcpRegistration method.",
      "type": "object"
    },
    "Policy": {
      "properties": {
        "days": {
          "description": "The number of days items can be returned after delivery, where one day is defined as 24 hours after the delivery timestamp. Required for `NUMBER_OF_DAYS_AFTER_DELIVERY` returns.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "description": "Policy type.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The number of days within which a return is valid after delivery.",
            "No returns.",
            "Life time returns."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NUMBER_OF_DAYS_AFTER_DELIVERY",
            "NO_RETURNS",
            "LIFETIME_RETURNS"
          ]
        }
      },
      "id": "Policy",
      "description": "The available policies.",
      "type": "object"
    },
    "UnregisterGcpRequest": {
      "description": "Request message for the UnregisterGCP method.",
      "id": "UnregisterGcpRequest",
      "type": "object",
      "properties": {}
    },
    "LocalCutoffTime": {
      "type": "object",
      "properties": {
        "hour": {
          "description": "Hour local delivery orders must be placed by to process the same day.",
          "format": "int64",
          "type": "string"
        },
        "minute": {
          "description": "Minute local delivery orders must be placed by to process the same day.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "LocalCutoffTime",
      "description": "Time that local delivery ends for the day."
    },
    "LoyaltyProgram": {
      "description": "[Loyalty program](https://support.google.com/merchants/answer/12922446) provided by a business.",
      "id": "LoyaltyProgram",
      "type": "object",
      "properties": {
        "loyaltyProgramTiers": {
          "type": "array",
          "items": {
            "$ref": "LoyaltyProgramTiers"
          },
          "description": "Optional. Loyalty program tier of this shipping service."
        },
        "programLabel": {
          "type": "string",
          "description": "This is the loyalty program label set in your loyalty program settings in Merchant Center. This sub-attribute allows Google to map your loyalty program to eligible offers."
        }
      }
    },
    "LoyaltyProgramTiers": {
      "type": "object",
      "properties": {
        "tierLabel": {
          "description": "The tier label [tier_label] sub-attribute differentiates offer level benefits between each tier. This value is also set in your program settings in Merchant Center, and is required for data source changes even if your loyalty program only has 1 tier.",
          "type": "string"
        }
      },
      "description": "Subset of a business's loyalty program.",
      "id": "LoyaltyProgramTiers"
    },
    "CutoffTime": {
      "description": "Business days cutoff time definition.",
      "properties": {
        "hour": {
          "description": "Required. Hour of the cutoff time until which an order has to be placed to be processed in the same day.",
          "type": "integer",
          "format": "int32"
        },
        "timeZone": {
          "description": "Required. [Timezone identifier](https://developers.google.com/adwords/api/docs/appendix/codes-formats#timezone-ids) For example \"Europe/Zurich\".",
          "type": "string"
        },
        "minute": {
          "format": "int32",
          "description": "Required. Minute of the cutoff time until which an order has to be placed to be processed in the same day.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "CutoffTime"
    },
    "Handshake": {
      "id": "Handshake",
      "properties": {
        "actor": {
          "description": "Output only. The most recent account to modify the account service's `approval_status`.",
          "enumDescriptions": [
            "Unspecified actor.",
            "The last change was done by the account who has this service.",
            "The last change was done by the other party who this service points to."
          ],
          "enum": [
            "ACTOR_UNSPECIFIED",
            "ACCOUNT",
            "OTHER_PARTY"
          ],
          "readOnly": true,
          "type": "string"
        },
        "approvalState": {
          "readOnly": true,
          "enum": [
            "APPROVAL_STATE_UNSPECIFIED",
            "PENDING",
            "WAITING",
            "ESTABLISHED",
            "REJECTED"
          ],
          "description": "Output only. The approval state of this handshake.",
          "enumDescriptions": [
            "Unspecified approval status.",
            "The service was proposed and is waiting to be confirmed.",
            "Indicates that the service proposal has been accepted and will be established after a fixed delay set by the service provider.",
            "Both parties have confirmed the service.",
            "The service proposal was rejected."
          ],
          "type": "string"
        }
      },
      "description": "The current status of establishing of the service. (for example, pending approval, approved, established).",
      "type": "object"
    },
    "ImageImprovementsAccountLevelSettings": {
      "type": "object",
      "properties": {
        "allowAutomaticImageImprovements": {
          "type": "boolean",
          "description": "Enables automatic image improvements."
        }
      },
      "description": "Settings for the Automatic Image Improvements.",
      "id": "ImageImprovementsAccountLevelSettings"
    },
    "OnDisplayToOrder": {
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "description": "Output only. The state of the URI.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ]
        },
        "uri": {
          "type": "string",
          "description": "Required. The on display to order (ODO) policy URI."
        }
      },
      "id": "OnDisplayToOrder",
      "description": "Collection of information related to the on display to order ([ODO](https://support.google.com/merchants/answer/14615056?ref_topic=15145747&sjid=6892280366904591178-NC)).",
      "type": "object"
    },
    "Warehouse": {
      "description": "A fulfillment warehouse, which stores and handles inventory.",
      "properties": {
        "name": {
          "description": "Required. The name of the warehouse. Must be unique within account.",
          "type": "string"
        },
        "shippingAddress": {
          "description": "Required. Shipping address of the warehouse.",
          "$ref": "Address"
        },
        "businessDayConfig": {
          "description": "Business days of the warehouse. If not set, will be Monday to Friday by default.",
          "$ref": "BusinessDayConfig"
        },
        "cutoffTime": {
          "description": "Required. The latest time of day that an order can be accepted and begin processing. Later orders will be processed in the next day. The time is based on the warehouse postal code.",
          "$ref": "WarehouseCutoffTime"
        },
        "handlingDays": {
          "format": "int64",
          "type": "string",
          "description": "Required. The number of days it takes for this warehouse to pack up and ship an item. This is on the warehouse level, but can be overridden on the offer level based on the attributes of an item."
        }
      },
      "type": "object",
      "id": "Warehouse"
    },
    "EmailPreferences": {
      "description": "The categories of notifications the user opted into / opted out of. The email preferences do not include mandatory announcements as users can't opt out of them.",
      "type": "object",
      "properties": {
        "newsAndTips": {
          "enumDescriptions": [
            "Opt-in status is not specified.",
            "User has opted out of receiving this type of email.",
            "User has opted in to receiving this type of email.",
            "User has opted in to receiving this type of email and the confirmation email has been sent, but user has not yet confirmed the opt in (applies only to certain countries)."
          ],
          "description": "Optional. Updates on new features, tips and best practices.",
          "enum": [
            "OPT_IN_STATE_UNSPECIFIED",
            "OPTED_OUT",
            "OPTED_IN",
            "UNCONFIRMED"
          ],
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the EmailPreferences. The endpoint is only supported for the authenticated user.",
          "type": "string"
        }
      },
      "id": "EmailPreferences"
    },
    "PostalCodeRange": {
      "type": "object",
      "properties": {
        "begin": {
          "description": "Required. A postal code or a pattern of the form prefix* denoting the inclusive lower bound of the range defining the area. Examples values: `94108`, `9410*`, `9*`.",
          "type": "string"
        },
        "end": {
          "type": "string",
          "description": "Optional. A postal code or a pattern of the form `prefix*` denoting the inclusive upper bound of the range defining the area. It must have the same length as postalCodeRangeBegin: if postalCodeRangeBegin is a postal code then postalCodeRangeEnd must be a postal code too; if postalCodeRangeBegin is a pattern then postalCodeRangeEnd must be a pattern with the same prefix length. Optional: if not set, then the area is defined as being all the postal codes matching postalCodeRangeBegin."
        }
      },
      "description": "A range of postal codes that defines the region area.",
      "id": "PostalCodeRange"
    },
    "Homepage": {
      "id": "Homepage",
      "properties": {
        "claimed": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the homepage is claimed. See https://support.google.com/merchants/answer/176793."
        },
        "uri": {
          "type": "string",
          "description": "Required. The URI (typically a URL) of the store's homepage."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the store's homepage. Format: `accounts/{account}/homepage`"
        }
      },
      "type": "object",
      "description": "The `Homepage` message represents a business's store homepage within the system. A business's homepage is the primary domain where customers interact with their store. The homepage can be claimed and verified as a proof of ownership and allows the business to unlock features that require a verified website. For more information, see [Understanding online store URL verification](//support.google.com/merchants/answer/176793)."
    },
    "CarrierRate": {
      "id": "CarrierRate",
      "properties": {
        "carrierService": {
          "type": "string",
          "description": "Required. Carrier service, such as `\"ground\"` or `\"2 days\"`."
        },
        "originPostalCode": {
          "type": "string",
          "description": "Required. Shipping origin for this carrier rate."
        },
        "name": {
          "description": "Required. Name of the carrier rate. Must be unique per rate group.",
          "type": "string"
        },
        "carrier": {
          "type": "string",
          "description": "Required. Carrier service, such as `\"UPS\"` or `\"Fedex\"`."
        },
        "flatAdjustment": {
          "$ref": "Price",
          "description": "Optional. Additive shipping rate modifier. Can be negative. For example `{ \"amount_micros\": 1, \"currency_code\" : \"USD\" }` adds $1 to the rate, `{ \"amount_micros\": -3, \"currency_code\" : \"USD\" }` removes $3 from the rate."
        },
        "percentageAdjustment": {
          "type": "string",
          "description": "Optional. Multiplicative shipping rate modifier as a number in decimal notation. Can be negative. For example `\"5.4\"` increases the rate by 5.4%, `\"-3\"` decreases the rate by 3%."
        }
      },
      "type": "object",
      "description": "A list of carrier rates that can be referred to by `main_table` or `single_value`. Supported carrier services are defined in https://support.google.com/merchants/answer/12577710?ref_topic=12570808&sjid=10662598224319463032-NC#zippy=%2Cdelivery-cost-rate-type%2Ccarrier-rate-au-de-uk-and-us-only."
    },
    "Address": {
      "id": "Address",
      "type": "object",
      "properties": {
        "administrativeArea": {
          "description": "Required. Top-level administrative subdivision of the country. For example, a state like California (\"CA\") or a province like Quebec (\"QC\").",
          "type": "string"
        },
        "streetAddress": {
          "description": "Street-level part of the address. For example: `111w 31st Street`.",
          "type": "string"
        },
        "regionCode": {
          "description": "Required. [CLDR country code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) (For example \"US\").",
          "type": "string"
        },
        "city": {
          "type": "string",
          "description": "Required. City, town or commune. May also include dependent localities or sublocalities (For example neighborhoods or suburbs)."
        },
        "postalCode": {
          "description": "Required. Postal code or ZIP (For example \"94043\").",
          "type": "string"
        }
      },
      "description": "Shipping address of the warehouse."
    },
    "ListRegionsResponse": {
      "properties": {
        "regions": {
          "type": "array",
          "description": "The regions from the specified business.",
          "items": {
            "$ref": "Region"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for the `ListRegions` method.",
      "type": "object",
      "id": "ListRegionsResponse"
    },
    "Distance": {
      "properties": {
        "unit": {
          "description": "Unit can differ based on country, it is parameterized to include miles and kilometers.",
          "enumDescriptions": [
            "Unit unspecified",
            "Unit in miles",
            "Unit in kilometers"
          ],
          "type": "string",
          "enum": [
            "UNIT_UNSPECIFIED",
            "MILES",
            "KILOMETERS"
          ]
        },
        "value": {
          "description": "Integer value of distance.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Maximum delivery radius. This is only required for the local delivery shipment type.",
      "type": "object",
      "id": "Distance"
    },
    "LinkLfpProviderResponse": {
      "type": "object",
      "properties": {
        "response": {
          "description": "Empty response.",
          "$ref": "Empty"
        }
      },
      "id": "LinkLfpProviderResponse",
      "description": "Response message for the LinkLfpProvider method."
    },
    "Requirement": {
      "description": "Defines a requirement specified for participation in the program.",
      "type": "object",
      "id": "Requirement",
      "properties": {
        "affectedRegionCodes": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The regions that are currently affected by this requirement not being met. Region codes are defined by [CLDR](https://cldr.unicode.org/). This is either a country where the program applies specifically to that country or `001` when the program applies globally."
        },
        "title": {
          "description": "Output only. Name of the requirement.",
          "readOnly": true,
          "type": "string"
        },
        "documentationUri": {
          "description": "Output only. The URL of a help page describing the requirement.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "AccountManagement": {
      "properties": {},
      "description": "`AccountManagement` payload.",
      "type": "object",
      "id": "AccountManagement"
    },
    "Pickup": {
      "description": "Collection of information related to Pickup.",
      "properties": {
        "uri": {
          "description": "Required. Pickup product page URI. It is only used for the review of pickup serving. This URI domain should match with the business's homepage.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. The state of the pickup serving.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ]
        }
      },
      "type": "object",
      "id": "Pickup"
    },
    "LocalListingManagement": {
      "type": "object",
      "description": "`LocalListingManagement` payload.",
      "properties": {},
      "id": "LocalListingManagement"
    },
    "LinkGbpAccountRequest": {
      "id": "LinkGbpAccountRequest",
      "type": "object",
      "description": "Request message for the LinkGbpAccount method.",
      "properties": {
        "gbpEmail": {
          "type": "string",
          "description": "Required. The email address of the Business Profile account."
        }
      }
    },
    "AcceptTermsOfServiceResponse": {
      "description": "Response message for the `AcceptTermsOfService` method.",
      "id": "AcceptTermsOfServiceResponse",
      "properties": {
        "termsOfServiceAgreementState": {
          "$ref": "TermsOfServiceAgreementState",
          "description": "The agreement state after accepting the ToS."
        }
      },
      "type": "object"
    },
    "RestockingFee": {
      "properties": {
        "microPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Percent of total price in micros. 15,000,000 means 15% of the total price would be charged."
        },
        "fixedFee": {
          "description": "Fixed restocking fee.",
          "$ref": "Price"
        }
      },
      "description": "The restocking fee. This can be a flat fee or a micro percent.",
      "id": "RestockingFee",
      "type": "object"
    },
    "TransitTable": {
      "id": "TransitTable",
      "properties": {
        "postalCodeGroupNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. A list of region names Region.name . The last value can be `\"all other locations\"`. Example: `[\"zone 1\", \"zone 2\", \"all other locations\"]`. The referred postal code groups must match the delivery country of the service."
        },
        "rows": {
          "description": "Required. If there's only one dimension set of `postal_code_group_names` or `transit_time_labels`, there are multiple rows each with one value for that dimension. If there are two dimensions, each row corresponds to a `postal_code_group_names`, and columns (values) to a `transit_time_labels`.",
          "type": "array",
          "items": {
            "$ref": "TransitTimeRow"
          }
        },
        "transitTimeLabels": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A list of transit time labels. The last value can be `\"all other labels\"`. Example: `[\"food\", \"electronics\", \"all other labels\"]`."
        }
      },
      "description": "Transit time table, number of business days spent in transit based on row and column dimensions. Either `min_transit_days`, `max_transit_days` or `transit_time_table` can be set, but not both.",
      "type": "object"
    },
    "ApproveAccountServiceRequest": {
      "description": "Request to approve an account service.",
      "type": "object",
      "properties": {},
      "id": "ApproveAccountServiceRequest"
    },
    "AutomaticItemUpdates": {
      "id": "AutomaticItemUpdates",
      "description": "Turning on [item updates](https://support.google.com/merchants/answer/3246284) allows Google to automatically update items for you. When item updates are on, Google uses the structured data markup on the website and advanced data extractors to update the price and availability of the items. When the item updates are off, items with mismatched data aren't shown.",
      "type": "object",
      "properties": {
        "effectiveAllowAvailabilityUpdates": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. The effective value of allow_availability_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only."
        },
        "effectiveAllowPriceUpdates": {
          "description": "Output only. The effective value of allow_price_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only.",
          "type": "boolean",
          "readOnly": true
        },
        "effectiveAllowConditionUpdates": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. The effective value of allow_condition_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only."
        },
        "effectiveAllowStrictAvailabilityUpdates": {
          "readOnly": true,
          "description": "Output only. The effective value of allow_strict_availability_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only.",
          "type": "boolean"
        },
        "accountItemUpdatesSettings": {
          "description": "Optional. Determines which attributes of the items should be automatically updated. If this field is not present and provided in the update mask, then the settings will be deleted. If there are no settings for subaccount, they are inherited from aggregator.",
          "$ref": "ItemUpdatesAccountLevelSettings"
        }
      }
    },
    "ListUsersResponse": {
      "properties": {
        "users": {
          "type": "array",
          "items": {
            "$ref": "User"
          },
          "description": "The users from the specified account."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "ListUsersResponse",
      "description": "Response message for the `ListUsers` method."
    },
    "ProposeAccountServiceRequest": {
      "properties": {
        "provider": {
          "type": "string",
          "description": "Required. The provider of the service. Either the reference to an account such as `providers/123` or a well-known service provider (one of `providers/GOOGLE_ADS` or `providers/GOOGLE_BUSINESS_PROFILE`)."
        },
        "accountService": {
          "description": "Required. The account service to propose.",
          "$ref": "AccountService"
        }
      },
      "id": "ProposeAccountServiceRequest",
      "description": "Request to propose an account service.",
      "type": "object"
    },
    "Weight": {
      "description": "The weight represented as the value in string and the unit.",
      "properties": {
        "unit": {
          "enum": [
            "WEIGHT_UNIT_UNSPECIFIED",
            "POUND",
            "KILOGRAM"
          ],
          "type": "string",
          "description": "Required. The weight unit. Acceptable values are: kg and lb",
          "enumDescriptions": [
            "unit unspecified",
            "lb unit.",
            "kg unit."
          ]
        },
        "amountMicros": {
          "description": "Required. The weight represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 kg = 1000000 micros). This field can also be set as infinity by setting to -1. This field only support -1 and positive value.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "Weight"
    },
    "StoreConfig": {
      "id": "StoreConfig",
      "properties": {
        "cutoffConfig": {
          "$ref": "CutoffConfig",
          "description": "Configs related to local delivery ends for the day."
        },
        "serviceRadius": {
          "$ref": "Distance",
          "description": "Maximum delivery radius. This is only required for the local delivery shipment type."
        },
        "storeCodes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of store codes that provide local delivery. If empty, then `all_stores` must be true.",
          "type": "array"
        },
        "storeServiceType": {
          "enumDescriptions": [
            "Did not specify store service type.",
            "Indicates whether all stores, current and future, listed by this business provide local delivery.",
            "Indicates that only the stores listed in `store_codes` are eligible for local delivery."
          ],
          "description": "Indicates whether all stores, or selected stores, listed by this business provide local delivery.",
          "enum": [
            "STORE_SERVICE_TYPE_UNSPECIFIED",
            "ALL_STORES",
            "SELECTED_STORES"
          ],
          "type": "string"
        }
      },
      "description": "A list of stores your products are delivered from. This is only valid for the local delivery shipment type.",
      "type": "object"
    },
    "DeveloperRegistration": {
      "type": "object",
      "id": "DeveloperRegistration",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The `name` (ID) of the developer registration. Generated upon creation of a new `DeveloperRegistration`. The `account` represents the merchant ID of the merchant that owns the registration."
        },
        "gcpIds": {
          "readOnly": true,
          "description": "Output only. The GCP ids attached to this developer registration",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Represents a developer registration owned by a Merchant account."
    },
    "SeasonalOverride": {
      "properties": {
        "label": {
          "description": "Required. Display name of this seasonal override in Merchant Center.",
          "type": "string"
        },
        "returnUntilDate": {
          "description": "Fixed end date until which the product can be returned.",
          "$ref": "Date"
        },
        "endDate": {
          "$ref": "Date",
          "description": "Required. seasonal override end date (inclusive)."
        },
        "returnDays": {
          "type": "integer",
          "format": "int32",
          "description": "Number of days (from the delivery date) that the product can be returned."
        },
        "startDate": {
          "description": "Required. Defines the date range when this seasonal override applies. Both start_date and end_date are inclusive. The dates of the seasonal overrides should not overlap.",
          "$ref": "Date"
        }
      },
      "id": "SeasonalOverride",
      "type": "object"
    },
    "GeoTargetArea": {
      "id": "GeoTargetArea",
      "description": "A list of geotargets that defines the region area.",
      "type": "object",
      "properties": {
        "geotargetCriteriaIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Required. A non-empty list of [location IDs](https://developers.google.com/adwords/api/docs/appendix/geotargeting). They must all be of the same location type (for example, state)."
        }
      }
    },
    "LfpProvider": {
      "id": "LfpProvider",
      "type": "object",
      "description": "Collection of information related to a Local Feed Partnership (LFP) provider.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the LFP provider. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}/lfpProviders/{lfp_provider}`"
        },
        "displayName": {
          "description": "The display name of the LFP provider.",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Region code defined by [CLDR](https://cldr.unicode.org/)."
        }
      }
    },
    "AccountRelationship": {
      "type": "object",
      "id": "AccountRelationship",
      "properties": {
        "provider": {
          "description": "Immutable. The provider of the service. Either the reference to an account such as `providers/123` or a well-known service provider (one of `providers/GOOGLE_ADS` or `providers/GOOGLE_BUSINESS_PROFILE`).",
          "type": "string"
        },
        "accountIdAlias": {
          "type": "string",
          "description": "Optional. An optional alias you can assign to this account relationship. This alias acts as a convenient identifier for your own reference and management. It must be unique among all your account relationships with the same provider. For example, you might use `account_id_alias` to assign a friendly name to this relationship for easier identification in your systems."
        },
        "providerDisplayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The human-readable display name of the provider account."
        },
        "name": {
          "description": "Identifier. The resource name of the account relationship. Format: `accounts/{account}/relationships/{relationship}`. For example, `accounts/123456/relationships/567890`.",
          "type": "string"
        }
      },
      "description": "The `AccountRelationship` message defines a formal connection between a merchant's account and a service provider's account. This relationship enables the provider to offer specific services to the business, such as product management or campaign management. It specifies the access rights and permissions to the business's data relevant to those services. Establishing an account relationship involves linking the merchant's account with a provider's account. The provider could be another Google account (like Google Ads or Google My Business) or a third-party platform (such as Shopify or WooCommerce)."
    },
    "ClaimHomepageRequest": {
      "description": "Request message for the `ClaimHomepage` method.",
      "id": "ClaimHomepageRequest",
      "properties": {
        "overwrite": {
          "description": "Optional. When set to `true`, this option removes any existing claim on the requested website from any other account to the account making the request, effectively replacing the previous claim.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Price": {
      "type": "object",
      "description": "The price represented as a number and currency.",
      "properties": {
        "amountMicros": {
          "description": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros).",
          "type": "string",
          "format": "int64"
        },
        "currencyCode": {
          "description": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217).",
          "type": "string"
        }
      },
      "id": "Price"
    },
    "ItemUpdatesAccountLevelSettings": {
      "properties": {
        "allowConditionUpdates": {
          "type": "boolean",
          "description": "If condition updates are enabled, Google always updates item condition with the condition detected from the details of your product."
        },
        "allowStrictAvailabilityUpdates": {
          "description": "If `allow_availability_updates` is enabled, items are automatically updated in all your Shopping target countries. By default, availability updates will only be applied to items that are 'out of stock' on your website but 'in stock' on Shopping. Set this to true to also update items that are 'in stock' on your website, but 'out of stock' on Google Shopping. In order for this field to have an effect, you must also set `allow_availability_updates`.",
          "type": "boolean"
        },
        "allowPriceUpdates": {
          "description": "If price updates are enabled, Google always updates the active price with the crawled information.",
          "type": "boolean"
        },
        "allowAvailabilityUpdates": {
          "description": "If availability updates are enabled, any previous availability values get overwritten if Google finds an out-of-stock annotation on the offer's page. If additionally `allow_strict_availability_updates` field is set to true, values get overwritten if Google finds an in-stock annotation on the offer’s page.",
          "type": "boolean"
        }
      },
      "id": "ItemUpdatesAccountLevelSettings",
      "description": "Settings for the Automatic Item Updates.",
      "type": "object"
    },
    "RadiusArea": {
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Required. [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) or the country the radius area applies to."
        },
        "latLng": {
          "description": "Required. The center of the radius area. It represents a latitude/longitude pair in decimal degrees format.",
          "$ref": "LatLng"
        },
        "radius": {
          "format": "double",
          "type": "number",
          "description": "Required. The radius distance of the area."
        },
        "radiusUnits": {
          "enumDescriptions": [
            "Unused default value",
            "The distance is measured in miles.",
            "The distance is measured in kilometers."
          ],
          "type": "string",
          "description": "Optional. The unit of the radius.",
          "enum": [
            "RADIUS_UNITS_UNSPECIFIED",
            "MILES",
            "KILOMETERS"
          ]
        }
      },
      "description": "A radius area that defines the region area.",
      "id": "RadiusArea",
      "type": "object"
    },
    "BusinessInfo": {
      "id": "BusinessInfo",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the business info. Format: `accounts/{account}/businessInfo`"
        },
        "phone": {
          "readOnly": true,
          "$ref": "PhoneNumber",
          "description": "Output only. The phone number of the business."
        },
        "customerService": {
          "description": "Optional. The customer service of the business.",
          "$ref": "CustomerService"
        },
        "address": {
          "$ref": "PostalAddress",
          "description": "Optional. The address of the business. Only `region_code`, `address_lines`, `postal_code`, `administrative_area` and `locality` fields are supported. All other fields are ignored."
        },
        "koreanBusinessRegistrationNumber": {
          "type": "string",
          "description": "Optional. The 10-digit [Korean business registration number](https://support.google.com/merchants/answer/9037766) separated with dashes in the format: XXX-XX-XXXXX."
        },
        "phoneVerificationState": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The phone is verified.",
            "The phone is unverified."
          ],
          "enum": [
            "PHONE_VERIFICATION_STATE_UNSPECIFIED",
            "PHONE_VERIFICATION_STATE_VERIFIED",
            "PHONE_VERIFICATION_STATE_UNVERIFIED"
          ],
          "description": "Output only. The phone verification state of the business."
        }
      },
      "type": "object",
      "description": "The `BusinessInfo` message contains essential information about a business. This message captures key business details such as physical address, customer service contacts, and region-specific identifiers."
    },
    "IdentityAttribute": {
      "description": "All information related to an identity attribute.",
      "properties": {
        "identityDeclaration": {
          "description": "Required. The declaration of identity for this attribute.",
          "enum": [
            "IDENTITY_DECLARATION_UNSPECIFIED",
            "SELF_IDENTIFIES_AS",
            "DOES_NOT_SELF_IDENTIFY_AS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value indicating that no selection was made.",
            "Indicates that the account identifies with the attribute.",
            "Indicates that the account does not identify with the attribute."
          ]
        }
      },
      "type": "object",
      "id": "IdentityAttribute"
    },
    "TermsOfServiceAgreementState": {
      "type": "object",
      "id": "TermsOfServiceAgreementState",
      "description": "This resource represents the agreement state for a given account and terms of service kind. The state is as follows: * If the business has accepted a terms of service, `accepted` will be populated, otherwise it will be empty * If the business must sign a terms of service, `required` will be populated, otherwise it will be empty. Note that both `required` and `accepted` can be present. In this case the `accepted` terms of services will have an expiration date set in the `valid_until` field. The `required` terms of services need to be accepted before `valid_until` in order for the account to continue having a valid agreement. When accepting new terms of services we expect third-party providers to display the text associated with the given terms of service agreement (the url to the file containing the text is added in the Required message below as `tos_file_uri`). The actual acceptance of the terms of service is done by calling accept on the `TermsOfService` resource. `valid_until` field.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the terms of service version. Format: `accounts/{account}/termsOfServiceAgreementState/{identifier}` The identifier format is: `{TermsOfServiceKind}-{country}` For example, an identifier could be: `MERCHANT_CENTER-EU` or `MERCHANT_CENTER-US`.",
          "type": "string"
        },
        "accepted": {
          "description": "Optional. The accepted terms of service of this kind and for the associated region_code",
          "$ref": "Accepted"
        },
        "required": {
          "description": "Optional. The required terms of service",
          "$ref": "Required"
        },
        "regionCode": {
          "type": "string",
          "description": "Required. Region code as defined by https://cldr.unicode.org/. This is the country the current state applies to."
        },
        "termsOfServiceKind": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Terms of Service for the Merchant Center application."
          ],
          "enum": [
            "TERMS_OF_SERVICE_KIND_UNSPECIFIED",
            "MERCHANT_CENTER"
          ],
          "description": "Required. Terms of Service kind associated with the particular version.",
          "type": "string"
        }
      }
    },
    "FindLfpProvidersResponse": {
      "type": "object",
      "properties": {
        "lfpProviders": {
          "items": {
            "$ref": "LfpProvider"
          },
          "type": "array",
          "description": "The LFP providers from the specified merchant in the specified country."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "FindLfpProvidersResponse",
      "description": "Response message for the FindLfpProviders method."
    },
    "Service": {
      "type": "object",
      "description": "Shipping service.",
      "properties": {
        "serviceName": {
          "type": "string",
          "description": "Required. Free-form name of the service. Must be unique within target account."
        },
        "currencyCode": {
          "type": "string",
          "description": "Required. The CLDR code of the currency to which this service applies. Must match that of the prices in rate groups."
        },
        "deliveryCountries": {
          "description": "Required. The CLDR territory code of the countries to which the service applies.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "minimumOrderValueTable": {
          "description": "Optional. Table of per store minimum order values for the pickup fulfillment type. Cannot be set together with `minimum_order_value`.",
          "$ref": "MinimumOrderValueTable"
        },
        "shipmentType": {
          "enumDescriptions": [
            "This service did not specify shipment type.",
            "This service ships orders to an address chosen by the customer.",
            "This service ships orders to an address chosen by the customer. The order is shipped from a local store near by.",
            "This service ships orders to an address chosen by the customer. The order is shipped from a collection point."
          ],
          "type": "string",
          "description": "Optional. Type of locations this service ships orders to.",
          "enum": [
            "SHIPMENT_TYPE_UNSPECIFIED",
            "DELIVERY",
            "LOCAL_DELIVERY",
            "COLLECTION_POINT"
          ]
        },
        "deliveryTime": {
          "description": "Required. Time spent in various aspects from order to the delivery of the product.",
          "$ref": "DeliveryTime"
        },
        "loyaltyPrograms": {
          "type": "array",
          "items": {
            "$ref": "LoyaltyProgram"
          },
          "description": "Optional. Loyalty programs that this shipping service is limited to."
        },
        "storeConfig": {
          "$ref": "StoreConfig",
          "description": "A list of stores your products are delivered from. This is only valid for the local delivery shipment type."
        },
        "minimumOrderValue": {
          "$ref": "Price",
          "description": "Optional. Minimum order value for this service. If set, indicates that customers will have to spend at least this amount. All prices within a service must have the same currency. Cannot be set together with `minimum_order_value_table`."
        },
        "active": {
          "type": "boolean",
          "description": "Required. A boolean exposing the active status of the shipping service."
        },
        "rateGroups": {
          "type": "array",
          "items": {
            "$ref": "RateGroup"
          },
          "description": "Optional. Shipping rate group definitions. Only the last one is allowed to have an empty `applicable_shipping_labels`, which means \"everything else\". The other `applicable_shipping_labels` must not overlap."
        }
      },
      "id": "Service"
    },
    "LinkLfpProviderRequest": {
      "description": "Request message for the LinkLfpProvider method.",
      "properties": {
        "externalAccountId": {
          "type": "string",
          "description": "Required. The external account ID by which this merchant is known to the LFP provider."
        }
      },
      "type": "object",
      "id": "LinkLfpProviderRequest"
    },
    "RegisterGcpRequest": {
      "properties": {
        "developerEmail": {
          "description": "Immutable. Optional field. Developer role can be also added by using `users.update` method. If the developer email provided is associated with a user in the provided merchant account, the user will be updated to have `API_DEVELOPER` `access_rights` and the email preference corresponding to that user will be updated to have the new API notifications preference. If the developer email provided is not associated with any user, it is added as a contact. The email preference corresponding to that contact will have the new API notifications preference. Make sure the email used is associated with a Google Account and is not a service account as service accounts can't receive emails.",
          "type": "string"
        }
      },
      "description": "Request message for the RegisterGCP method.",
      "type": "object",
      "id": "RegisterGcpRequest"
    },
    "GbpAccount": {
      "type": "object",
      "properties": {
        "gbpAccountName": {
          "description": "The name of the Business Profile. For personal accounts: Email id of the owner. For Business accounts: Name of the Business Account.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the GBP account. Format: `accounts/{account}/gbpAccount/{gbp_account}`",
          "type": "string"
        },
        "gbpAccountId": {
          "type": "string",
          "description": "The id of the GBP account."
        },
        "listingCount": {
          "description": "Number of listings under this account.",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The GBP account is a user account.",
            "The GBP account is a business account."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "USER",
            "BUSINESS_ACCOUNT"
          ],
          "description": "The type of the Business Profile."
        }
      },
      "id": "GbpAccount",
      "description": "Collection of information related to a Google Business Profile (GBP) account."
    },
    "Program": {
      "id": "Program",
      "type": "object",
      "properties": {
        "documentationUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The URL of a Merchant Center help page describing the program."
        },
        "name": {
          "description": "Identifier. The resource name of the program. Format: `accounts/{account}/programs/{program}`",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. The participation state of the account in the program.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The account is not eligible to participate in the program.",
            "The account is eligible to participate in the program.",
            "The program is enabled for the account."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_ELIGIBLE",
            "ELIGIBLE",
            "ENABLED"
          ],
          "readOnly": true
        },
        "activeRegionCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The regions in which the account is actively participating in the program. Active regions are defined as those where all program requirements affecting the regions have been met. Region codes are defined by [CLDR](https://cldr.unicode.org/). This is either a country where the program applies specifically to that country or `001` when the program applies globally.",
          "readOnly": true
        },
        "unmetRequirements": {
          "description": "Output only. The requirements that the account has not yet satisfied that are affecting participation in the program.",
          "readOnly": true,
          "items": {
            "$ref": "Requirement"
          },
          "type": "array"
        }
      },
      "description": "Defines participation in a given program for the specified account. Programs provide a mechanism for adding functionality to a Merchant Center accounts. A typical example of this is the [Free product listings](https://support.google.com/merchants/answer/13889434) program, which enables products from a business's store to be shown across Google for free. The following list is the available set of program resource IDs accessible through the API: * [`checkout`](https://developers.google.com/merchant/api/guides/products/checkout-settings) * `free-listings` * [`loyalty`](https://developers.google.com/merchant/api/guides/loyalty/loyalty-programs) * `product-ratings` * `shopping-ads` * [`ucp-integration` (limited access)](https://developers.google.com/merchant/api/reference/rest/accounts_v1alpha/accounts.programs.ucpSettings) * [`youtube-affiliate`](https://support.google.com/merchants/answer/14815513) * `youtube-shopping-checkout`"
    },
    "PostalAddress": {
      "description": "Represents a postal address, such as for postal delivery or payments addresses. With a postal address, a postal service can deliver items to a premise, P.O. box, or similar. A postal address is not intended to model geographical locations like roads, towns, or mountains. In typical usage, an address would be created by user input or from importing existing data, depending on the type of process. Advice on address input or editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput. - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, see: https://support.google.com/business/answer/6397478.",
      "type": "object",
      "properties": {
        "addressLines": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unstructured address lines describing the lower levels of an address. Because values in `address_lines` do not have type information and may sometimes contain multiple values in a single field (for example, \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country or region of the address. In places where this can vary (for example, Japan), `address_language` is used to make it explicit (for example, \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). In this way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a `region_code` with all remaining information placed in the `address_lines`. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a `region_code` and `address_lines` and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas)."
        },
        "sublocality": {
          "type": "string",
          "description": "Optional. Sublocality of the address. For example, this can be a neighborhood, borough, or district."
        },
        "regionCode": {
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland.",
          "type": "string"
        },
        "postalCode": {
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (for example, state or zip code validation in the United States).",
          "type": "string"
        },
        "revision": {
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions.",
          "type": "integer",
          "format": "int32"
        },
        "locality": {
          "description": "Optional. Generally refers to the city or town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave `locality` empty and use `address_lines`.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\"."
        },
        "sortingCode": {
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (for example, \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (Côte d'Ivoire).",
          "type": "string"
        },
        "organization": {
          "type": "string",
[...]
