{
  "id": "merchantapi:products_v1",
  "discoveryVersion": "v1",
  "schemas": {
    "CloudExportAdditionalProperties": {
      "id": "CloudExportAdditionalProperties",
      "description": "Product property for the Cloud Retail API. For example, properties for a TV product could be \"Screen-Resolution\" or \"Screen-Size\".",
      "properties": {
        "floatValue": {
          "items": {
            "type": "number",
            "format": "float"
          },
          "type": "array",
          "description": "Float values of the given property. For example for a TV product 1.2345. Maximum repeatedness of this value is 400. Values are stored in an arbitrary but consistent order."
        },
        "minValue": {
          "description": "Minimum float value of the given property. For example for a TV product 1.00.",
          "type": "number",
          "format": "float"
        },
        "maxValue": {
          "format": "float",
          "description": "Maximum float value of the given property. For example for a TV product 100.00.",
          "type": "number"
        },
        "intValue": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Integer values of the given property. For example, 1080 for a TV product's Screen Resolution. Maximum repeatedness of this value is 400. Values are stored in an arbitrary but consistent order."
        },
        "textValue": {
          "description": "Text value of the given property. For example, \"8K(UHD)\" could be a text value for a TV product. Maximum repeatedness of this value is 400. Values are stored in an arbitrary but consistent order. Maximum string size is 256 characters.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "unitCode": {
          "type": "string",
          "description": "Unit of the given property. For example, \"Pixels\" for a TV product. Maximum string size is 256B."
        },
        "propertyName": {
          "description": "Name of the given property. For example, \"Screen-Resolution\" for a TV product. Maximum string size is 256 characters.",
          "type": "string"
        },
        "boolValue": {
          "type": "boolean",
          "description": "Boolean value of the given property. For example for a TV product, \"True\" or \"False\" if the screen is UHD."
        }
      },
      "type": "object"
    },
    "ShippingDimension": {
      "type": "object",
      "description": "The ShippingDimension of the product.",
      "properties": {
        "unit": {
          "type": "string",
          "description": "The unit of value."
        },
        "value": {
          "description": "The dimension of the product used to calculate the shipping cost of the item.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "ShippingDimension"
    },
    "ProductDetail": {
      "type": "object",
      "description": "The product details.",
      "properties": {
        "attributeValue": {
          "description": "The value of the product detail.",
          "type": "string"
        },
        "attributeName": {
          "description": "The name of the product detail.",
          "type": "string"
        },
        "sectionName": {
          "description": "The section header used to group a set of product details.",
          "type": "string"
        }
      },
      "id": "ProductDetail"
    },
    "ItemLevelIssue": {
      "properties": {
        "resolution": {
          "description": "Whether the issue can be resolved by the business.",
          "type": "string"
        },
        "documentation": {
          "description": "The URL of a web page to help with resolving this issue.",
          "type": "string"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "NOT_IMPACTED",
            "DEMOTED",
            "DISAPPROVED"
          ],
          "type": "string",
          "description": "How this issue affects serving of the offer.",
          "enumDescriptions": [
            "Not specified.",
            "This issue represents a warning and does not have a direct affect on the product.",
            "The product is demoted and most likely have limited performance in search results",
            "Issue disapproves the product."
          ]
        },
        "reportingContext": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "description": "The reporting context the issue applies to."
        },
        "detail": {
          "type": "string",
          "description": "A detailed issue description in English."
        },
        "attribute": {
          "type": "string",
          "description": "The attribute's name, if the issue is caused by a single attribute."
        },
        "applicableCountries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of country codes (ISO 3166-1 alpha-2) where issue applies to the offer."
        },
        "code": {
          "description": "The error code of the issue.",
          "type": "string"
        },
        "description": {
          "description": "A short issue description in English.",
          "type": "string"
        }
      },
      "id": "ItemLevelIssue",
      "description": "The ItemLevelIssue of the product status.",
      "type": "object"
    },
    "Price": {
      "type": "object",
      "properties": {
        "currencyCode": {
          "description": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217).",
          "type": "string"
        },
        "amountMicros": {
          "description": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros).",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "The price represented as a number and currency.",
      "id": "Price"
    },
    "LoyaltyPoints": {
      "properties": {
        "pointsValue": {
          "description": "The retailer's loyalty points in absolute value.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Name of loyalty points program. It is recommended to limit the name to 12 full-width characters or 24 Roman characters."
        },
        "ratio": {
          "description": "The ratio of a point when converted to currency. Google assumes currency based on Merchant Center settings. If ratio is left out, it defaults to 1.0.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "A message that represents loyalty points.",
      "id": "LoyaltyPoints",
      "type": "object"
    },
    "ProductAttributes": {
      "description": "Product attributes.",
      "type": "object",
      "id": "ProductAttributes",
      "properties": {
        "mobileLinkTemplate": {
          "type": "string",
          "description": "[Link template](https://support.google.com/merchants/answer/13870216) for business hosted local storefront optimized for mobile devices."
        },
        "shippingTransitBusinessDays": {
          "type": "array",
          "description": "The business days during which orders are in transit. If not provided, Monday to Friday business days will be assumed.",
          "items": {
            "$ref": "ShippingBusinessDaysConfig"
          }
        },
        "gtins": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Global Trade Item Numbers ([GTIN](https://support.google.com/merchants/answer/6324461)) of the item. You can provide up to 10 GTINs."
        },
        "neighborhood": {
          "description": "The neighborhood (locality) of the property, such as `Wallingford`, `Greenwood`, etc.",
          "type": "string"
        },
        "autoPricingMinPrice": {
          "description": "A safeguard in the [automated discounts] (https://support.google.com/merchants/answer/10295759) and \"Dynamic Promotions\" (https://support.google.com/merchants/answer/13949249) projects, ensuring that discounts on business offers do not fall below this value, thereby preserving the offer's value and profitability.",
          "$ref": "Price"
        },
        "shippingLength": {
          "$ref": "ShippingDimension",
          "description": "Length of the item for shipping."
        },
        "year": {
          "description": "The [Year](https://support.google.com/google-ads/answer/14152816) of the vehicle model.",
          "format": "int64",
          "type": "string"
        },
        "shipping": {
          "items": {
            "$ref": "Shipping"
          },
          "description": "Shipping rules.",
          "type": "array"
        },
        "linkTemplate": {
          "description": "[Link template](https://support.google.com/merchants/answer/13871172) for business hosted local storefront.",
          "type": "string"
        },
        "variantOptions": {
          "description": "Optional. Contains the [list of all variant-identifying options](https://support.google.com/merchants/answer/17085214) of this product.",
          "items": {
            "$ref": "VariantOption"
          },
          "type": "array"
        },
        "externalSellerId": {
          "type": "string",
          "description": "Required for multi-seller accounts. Use this attribute if you're a marketplace uploading products for various sellers to your multi-seller account."
        },
        "promotionIds": {
          "items": {
            "type": "string"
          },
          "description": "The unique ID of a promotion.",
          "type": "array"
        },
        "unitPricingMeasure": {
          "description": "The measure and dimension of an item.",
          "$ref": "UnitPricingMeasure"
        },
        "price": {
          "$ref": "Price",
          "description": "Price of the item."
        },
        "itemGroupId": {
          "type": "string",
          "description": "Shared identifier for all variants of the same product."
        },
        "specialtyHousingType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified specialty housing type.",
            "Corporate housing.",
            "Low income housing.",
            "Military housing.",
            "Senior housing.",
            "Short term housing.",
            "Student housing."
          ],
          "enum": [
            "SPECIALTY_HOUSING_TYPE_UNSPECIFIED",
            "CORPORATE",
            "LOW_INCOME",
            "MILITARY",
            "SENIOR",
            "SHORT_TERM",
            "STUDENT"
          ],
          "description": "The specialty housing type for the property."
        },
        "shippingHeight": {
          "description": "Height of the item for shipping.",
          "$ref": "ShippingDimension"
        },
        "pickupCost": {
          "description": "Optional. The [pickup cost](https://support.google.com/merchants/answer/16988704) for an item when a customer buys it online and picks it up at a store.",
          "$ref": "PickupCost"
        },
        "displayAdsSimilarIds": {
          "description": "Advertiser-specified recommendations. For more information, see [Display ads attribute specification](https://support.google.com/merchants/answer/6069387).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "questionsAndAnswers": {
          "description": "Optional. Contains user-, merchant-, and manufacturer-authored [questions and answers](https://support.google.com/merchants/answer/17085211) about the product. Max 30 question and answer pairs. Max 10000 characters total. Each question can have max 1000 characters. Each answer can have max 1000 characters.",
          "type": "array",
          "items": {
            "$ref": "QuestionAndAnswer"
          }
        },
        "adsGrouping": {
          "type": "string",
          "description": "Used to group items in an arbitrary way. Only for CPA%, discouraged otherwise. For more information, see [Display ads attribute](https://support.google.com/merchants/answer/6069387)."
        },
        "productLength": {
          "$ref": "ProductDimension",
          "description": "The length of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive)."
        },
        "fuelConsumptionDischargedBattery": {
          "description": "The fuel consumption of the vehicle when the hybrid battery is discharged. See the [Help Center article](https://support.google.com/google-ads/answer/15162033) for more information.",
          "$ref": "FuelConsumption"
        },
        "itemGroupTitle": {
          "description": "Optional. Represents the [title of the product group](https://support.google.com/merchants/answer/17085146) to which this variant product belongs. This can be used along with the [item group id](https://support.google.com/merchants/answer/6324507) attribute. It lets you perform better grouping of variant products, and helps identifying common product characteristics more efficiently.",
          "type": "string"
        },
        "productTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Categories of the item (formatted as in [product data specification](https://support.google.com/merchants/answer/7052112#product_category))."
        },
        "size": {
          "description": "Size of the item. Only one value is allowed. For variants with different sizes, insert a separate product for each size with the same `itemGroupId` value, see [Size](https://support.google.com/merchants/answer/6324492).",
          "type": "string"
        },
        "vehicleExpenses": {
          "description": "The miscellaneous expenses like insurance and registration fees of the vehicle. See the [Vehicle expenses](https://support.google.com/google-ads/answer/15957154) for more information.",
          "$ref": "Price"
        },
        "mobileLink": {
          "type": "string",
          "description": "URL for the mobile-optimized version of your item's landing page."
        },
        "multipack": {
          "description": "The number of identical products in a business-defined multipack.",
          "format": "int64",
          "type": "string"
        },
        "pause": {
          "enum": [
            "PAUSE_UNSPECIFIED",
            "ADS",
            "ALL"
          ],
          "enumDescriptions": [
            "The pause is unspecified.",
            "You’re currently pausing your product for all ads locations (including Shopping Ads, Display Ads, and local inventory ads).",
            "You’re currently pausing your product for all Shopping locations (including Shopping Ads, Display Ads, local inventory ads, Buy on Google, and free listings)."
          ],
          "description": "Publication of this item will be temporarily [paused](https://support.google.com/merchants/answer/11909930).",
          "type": "string"
        },
        "canonicalLink": {
          "type": "string",
          "description": "URL for the canonical version of your item's landing page."
        },
        "displayAddress": {
          "description": "The display address of the property.",
          "$ref": "DisplayAddress"
        },
        "googleProductCategory": {
          "type": "string",
          "description": "Google's category of the item (see [Google product taxonomy](https://support.google.com/merchants/answer/1705911)). When querying products, this field will contain the user provided value. There is currently no way to get back the auto assigned google product categories through the API."
        },
        "pattern": {
          "description": "The item's [pattern](https://support.google.com/merchants/answer/6324483). For example, polka dots.",
          "type": "string"
        },
        "minHandlingTime": {
          "type": "string",
          "format": "int64",
          "description": "Minimal product handling time (in business days)."
        },
        "shippingWidth": {
          "$ref": "ShippingDimension",
          "description": "Width of the item for shipping."
        },
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "The latitude of the property. The value must be between -90 (inclusive) and 90 (inclusive), up to 6 decimal places."
        },
        "sizeSystem": {
          "enum": [
            "SIZE_SYSTEM_UNSPECIFIED",
            "AU",
            "BR",
            "CN",
            "DE",
            "EU",
            "FR",
            "IT",
            "JP",
            "MEX",
            "UK",
            "US"
          ],
          "enumDescriptions": [
            "Unspecified size system.",
            "AU.",
            "BR.",
            "CN.",
            "DE.",
            "EU.",
            "FR.",
            "IT.",
            "JP.",
            "MEX.",
            "UK.",
            "US."
          ],
          "type": "string",
          "description": "System in which the size is specified. Recommended for apparel items. For more information, see [Size system](https://support.google.com/merchants/answer/6324502)."
        },
        "expirationDate": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date on which the item should expire, as specified upon insertion, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format. The actual expiration date is exposed in `productstatuses` as [googleExpirationDate](https://support.google.com/merchants/answer/6324499) and might be earlier if `expirationDate` is too far in the future."
        },
        "fuelConsumption": {
          "$ref": "FuelConsumption",
          "description": "The [fuel consumption](https://support.google.com/google-ads/answer/14543580) of the vehicle."
        },
        "co2Emissions": {
          "$ref": "Co2Emissions",
          "description": "The [co2 emission](https://support.google.com/google-ads/answer/14546146) of the vehicle."
        },
        "vehicleMandatoryInspectionIncluded": {
          "description": "Whether the vehicle is sold with mandatory inspection and maintenance performed before delivery. See the [Vehicle mandatory inspection included](https://support.google.com/google-ads/answer/15956630) for more information.`",
          "type": "boolean"
        },
        "warranty": {
          "description": "The [warranty](https://support.google.com/google-ads/answer/15957626) of the vehicle.",
          "$ref": "Warranty"
        },
        "shippingHandlingBusinessDays": {
          "type": "array",
          "items": {
            "$ref": "ShippingBusinessDaysConfig"
          },
          "description": "The business days during which orders can be handled. If not provided, Monday to Friday business days will be assumed."
        },
        "energyConsumption": {
          "description": "The [energy consumption](https://support.google.com/google-ads/answer/14546149) of the vehicle.",
          "$ref": "EnergyConsumption"
        },
        "productHeight": {
          "$ref": "ProductDimension",
          "description": "The height of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive)."
        },
        "disclosureDate": {
          "description": "The date time when an offer becomes visible in search results across Google’s YouTube surfaces, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format. See [Disclosure date](https://support.google.com/merchants/answer/13034208) for more information.",
          "format": "google-datetime",
          "type": "string"
        },
        "maxEnergyEfficiencyClass": {
          "enumDescriptions": [
            "The energy efficiency class is unspecified.",
            "A+++.",
            "A++.",
            "A+.",
            "A.",
            "B.",
            "C.",
            "D.",
            "E.",
            "F.",
            "G."
          ],
          "enum": [
            "ENERGY_EFFICIENCY_CLASS_UNSPECIFIED",
            "APPP",
            "APP",
            "AP",
            "A",
            "B",
            "C",
            "D",
            "E",
            "F",
            "G"
          ],
          "description": "The [energy efficiency class](https://support.google.com/merchants/answer/7562785) as defined in EU directive 2010/30/EU.",
          "type": "string"
        },
        "shortTitle": {
          "type": "string",
          "description": "The short title of the item."
        },
        "sellOnGoogleQuantity": {
          "type": "string",
          "format": "int64",
          "description": "The quantity of the product that is available for selling on Google. Supported only for online products."
        },
        "shippingWeight": {
          "description": "Weight of the item for shipping.",
          "$ref": "ShippingWeight"
        },
        "shippingLabel": {
          "type": "string",
          "description": "The shipping label of the product, used to group products in account-level shipping rules. Max. 100 characters. For more information, see [Shipping label](https://support.google.com/merchants/answer/6324504)."
        },
        "customLabel0": {
          "type": "string",
          "description": "[Custom label 0](https://support.google.com/merchants/answer/6324473) for custom grouping of items in a Shopping campaign."
        },
        "model": {
          "type": "string",
          "description": "The [Model](https://support.google.com/google-ads/answer/14154511) of the vehicle, such as `LX`, `EX`, and others."
        },
        "videoLinks": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of video URLs for the item. Use this attribute to provide more visuals for your product beyond your image attributes. See the [Help Center article](https://support.google.com/merchants/answer/15216925) for more information."
        },
        "displayAdsLink": {
          "description": "URL directly to your item's landing page for dynamic remarketing campaigns.",
          "type": "string"
        },
        "additionalImageLinks": {
          "type": "array",
          "description": "Additional URLs of images of the item.",
          "items": {
            "type": "string"
          }
        },
        "loyaltyPoints": {
          "description": "Loyalty points that users receive after purchasing the item. Japan only.",
          "$ref": "LoyaltyPoints"
        },
        "displayAdsId": {
          "description": "An identifier for an item for dynamic remarketing campaigns.",
          "type": "string"
        },
        "vin": {
          "description": "The [Vehicle Identification Number (VIN)](https://support.google.com/google-ads/answer/14154510) of the vehicle.",
          "type": "string"
        },
        "customLabel1": {
          "type": "string",
          "description": "[Custom label 1](https://support.google.com/merchants/answer/6324473) for custom grouping of items in a Shopping campaign."
        },
        "displayAdsValue": {
          "type": "number",
          "format": "double",
          "description": "Offer margin for dynamic remarketing campaigns. For more information, see [Display ads attribute](https://support.google.com/merchants/answer/6069387)."
        },
        "energyEfficiencyClass": {
          "description": "The [energy efficiency class](https://support.google.com/merchants/answer/7562785) as defined in EU directive 2010/30/EU.",
          "enum": [
            "ENERGY_EFFICIENCY_CLASS_UNSPECIFIED",
            "APPP",
            "APP",
            "AP",
            "A",
            "B",
            "C",
            "D",
            "E",
            "F",
            "G"
          ],
          "enumDescriptions": [
            "The energy efficiency class is unspecified.",
            "A+++.",
            "A++.",
            "A+.",
            "A.",
            "B.",
            "C.",
            "D.",
            "E.",
            "F.",
            "G."
          ],
          "type": "string"
        },
        "customLabel3": {
          "description": "[Custom label 3](https://support.google.com/merchants/answer/6324473) for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "numberOfBedrooms": {
          "format": "double",
          "description": "The number of bedrooms in the property. The value must be greater than or equal to 0 and a multiple of 1.0.",
          "type": "number"
        },
        "productFee": {
          "items": {
            "$ref": "ProductFee"
          },
          "type": "array",
          "description": "The product fee for the property."
        },
        "shoppingAdsExcludedCountries": {
          "items": {
            "type": "string"
          },
          "description": "List of country codes [(ISO 3166-1 alpha-2)](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) to exclude the offer from Shopping Ads destination. Countries from this list are removed from countries configured in data source settings.",
          "type": "array"
        },
        "installment": {
          "$ref": "ProductInstallment",
          "description": "Number and amount of installments to pay for an item."
        },
        "certifiedPreOwned": {
          "description": "Whether the vehicle is OEM [certified pre-owned](https://support.google.com/google-ads/answer/14156475).",
          "type": "boolean"
        },
        "minimumOrderValues": {
          "items": {
            "$ref": "ProductMinimumOrderValue"
          },
          "description": "The [minimum value](https://support.google.com/merchants/answer/16989009) in the cart before a customer can initiate checkout. Supports multiple minimum order values. Different minimum order values can be specified per country, service and surface. Maximum entries: 100.",
          "type": "array"
        },
        "imageLink": {
          "description": "URL of an image of the item.",
          "type": "string"
        },
        "relatedProducts": {
          "description": "Optional. Specifies how other [products are related](https://support.google.com/merchants/answer/17085213) to this product.",
          "type": "array",
          "items": {
            "$ref": "RelatedProduct"
          }
        },
        "dateFirstRegistered": {
          "type": "string",
          "description": "The date the vehicle was first registered. Format: `YYYY-MM`. See the [Date first registered](https://support.google.com/google-ads/answer/14546138) for more information."
        },
        "petPolicy": {
          "description": "The pet policy for the property.",
          "$ref": "PetPolicy"
        },
        "numberOfUnits": {
          "description": "The number of units available for a specific floor plan of the property. The value must be greater than 0.",
          "format": "int64",
          "type": "string"
        },
        "costOfGoodsSold": {
          "$ref": "Price",
          "description": "Cost of goods sold. Used for gross profit reporting."
        },
        "availabilityDate": {
          "type": "string",
          "format": "google-datetime",
          "description": "The day a pre-ordered product becomes available for delivery, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format."
        },
        "excludedDestinations": {
          "type": "array",
          "description": "The list of destinations to exclude for this target (corresponds to unchecked check boxes in Merchant Center). For more information, see [Excluded destination](https://support.google.com/merchants/answer/6324486). Note: We recommend setting destinations on datasources level for most use cases. Use this field within products to only setup exceptions.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Not specified.",
              "[Shopping ads](https://support.google.com/google-ads/answer/2454022).",
              "[Display ads](https://support.google.com/merchants/answer/6069387).",
              "[Local inventory ads](https://support.google.com/merchants/answer/3057972).",
              "[Free listings](https://support.google.com/merchants/answer/9199328).",
              "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
              "[YouTube Shopping](https://support.google.com/merchants/answer/12362804).",
              "Youtube shopping checkout.",
              "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
              "[Free vehicle listings](https://support.google.com/merchants/answer/11189169).",
              "[Vehicle ads](https://support.google.com/merchants/answer/11189169).",
              "[Cloud retail](https://cloud.google.com/solutions/retail).",
              "[Local cloud retail](https://cloud.google.com/solutions/retail)."
            ],
            "enum": [
              "DESTINATION_ENUM_UNSPECIFIED",
              "SHOPPING_ADS",
              "DISPLAY_ADS",
              "LOCAL_INVENTORY_ADS",
              "FREE_LISTINGS",
              "FREE_LOCAL_LISTINGS",
              "YOUTUBE_SHOPPING",
              "YOUTUBE_SHOPPING_CHECKOUT",
              "YOUTUBE_AFFILIATE",
              "FREE_VEHICLE_LISTINGS",
              "VEHICLE_ADS",
              "CLOUD_RETAIL",
              "LOCAL_CLOUD_RETAIL"
            ]
          }
        },
        "vehiclePriceType": {
          "enum": [
            "VEHICLE_PRICE_TYPE_UNSPECIFIED",
            "ALL_IN_PRICE",
            "DRIVE_AWAY_PRICE",
            "ESTIMATED_DRIVE_AWAY_PRICE",
            "EXCLUDING_GOVERNMENT_CHARGES_PRICE",
            "VEHICLE_BASE_PRICE"
          ],
          "type": "string",
          "description": "The [price type](https://support.google.com/google-ads/answer/14592783) of the vehicle.",
          "enumDescriptions": [
            "Unspecified vehicle price type.",
            "All in price.",
            "Drive away price.",
            "Estimated drive away price.",
            "Excluding government charges price.",
            "Vehicle base price."
          ]
        },
        "mileage": {
          "description": "The number of miles/kms on the vehicle. See the [Mileage](https://support.google.com/google-ads/answer/14156166) for more information.",
          "$ref": "Mileage"
        },
        "longitude": {
          "format": "double",
          "type": "number",
          "description": "The longitude of the property. The value must be between -180 (inclusive) and 180 (inclusive), up to 6 decimal places."
        },
        "isBundle": {
          "description": "Whether the item is a business-defined sub-API. A [sub-API] (https://support.google.com/merchants/answer/6324449) is a custom grouping of different products sold by a business for a single price.",
          "type": "boolean"
        },
        "sizeTypes": {
          "description": "The cut of the item. It can be used to represent combined size types for apparel items. Maximum two of size types can be provided, see [Size type](https://support.google.com/merchants/answer/6324497).",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The size type is not specified.",
              "Regular size.",
              "Petite size.",
              "Maternity size.",
              "Big size.",
              "Tall size.",
              "Plus size."
            ],
            "enum": [
              "SIZE_TYPE_UNSPECIFIED",
              "REGULAR",
              "PETITE",
              "MATERNITY",
              "BIG",
              "TALL",
              "PLUS"
            ]
          }
        },
        "carrierShipping": {
          "items": {
            "$ref": "CarrierShipping"
          },
          "description": "Rules for carrier-based shipping.",
          "type": "array"
        },
        "maximumRetailPrice": {
          "$ref": "Price",
          "description": "Maximum retail price (MRP) of the item. Applicable to India only."
        },
        "availability": {
          "enum": [
            "AVAILABILITY_UNSPECIFIED",
            "IN_STOCK",
            "OUT_OF_STOCK",
            "PREORDER",
            "LIMITED_AVAILABILITY",
            "BACKORDER"
          ],
          "type": "string",
          "description": "[Availability](https://support.google.com/merchants/answer/6324448) status of the item.",
          "enumDescriptions": [
            "Availability is not specified.",
            "In stock.",
            "Out of stock.",
            "Pre-order.",
            "Limited availability.",
            "Backorder."
          ]
        },
        "productDetails": {
          "items": {
            "$ref": "ProductDetail"
          },
          "description": "Technical specification or additional product details.",
          "type": "array"
        },
        "returns": {
          "type": "array",
          "description": "Optional. [Return rules](https://support.google.com/merchants/answer/17081382) for the product.",
          "items": {
            "$ref": "Returns"
          }
        },
        "unitPricingBaseMeasure": {
          "description": "The preference of the denominator of the unit price.",
          "$ref": "UnitPricingBaseMeasure"
        },
        "numberOfBathrooms": {
          "format": "double",
          "description": "The number of bathrooms in the property. The value must be greater than 0 and a multiple of 0.5.",
          "type": "number"
        },
        "handlingCutoffTimes": {
          "description": "The handling cutoff times for shipping.",
          "type": "array",
          "items": {
            "$ref": "HandlingCutoffTime"
          }
        },
        "bodyStyle": {
          "type": "string",
          "description": "The [body style](https://support.google.com/google-ads/answer/14157085) of the vehicle.",
          "enum": [
            "VEHICLE_BODY_STYLE_UNSPECIFIED",
            "ATV_SPORT",
            "ATV_TOURING",
            "ATV_UTILITY",
            "ATV_YOUTH",
            "CITY_CAR",
            "CLASS_A_MOTORHOME",
            "CLASS_B_MOTORHOME",
            "CLASS_C_MOTORHOME",
            "COMPACT_SUV",
            "CONVERTIBLE",
            "COUPE",
            "CROSSOVER",
            "FIFTH_WHEEL",
            "FULL_SIZE_VAN",
            "HATCHBACK",
            "LIMOUSINE",
            "MINIVAN",
            "NOTCHBACK",
            "POP_UP_CAMPER",
            "SEDAN",
            "SIDE_BY_SIDE",
            "STATION_WAGON",
            "SUV",
            "TRAVEL_TRAILER",
            "TRUCK",
            "TRUCK_CAMPER",
            "UTE",
            "UTV_RECREATIONAL_UTILITY",
            "UTV_SPORT",
            "UTV_UTILITY",
            "UTV_YOUTH"
          ],
          "enumDescriptions": [
            "Unspecified vehicle body style.",
            "ATV Sport.",
            "ATV Touring.",
            "ATV Utility.",
            "ATV Youth.",
            "City car.",
            "Class A motorhome.",
            "Class B motorhome.",
            "Class C motorhome.",
            "Compact SUV.",
            "Convertible.",
            "Coupe.",
            "Crossover.",
            "Fifth wheel.",
            "Full size van.",
            "Hatchback.",
            "Limousine.",
            "Minivan.",
            "Notchback.",
            "Pop up camper.",
            "Sedan.",
            "Side by side.",
            "Station wagon.",
            "SUV.",
            "Travel trailer.",
            "Truck.",
            "Truck camper.",
            "Ute.",
            "UTV Recreational utility.",
            "UTV Sport.",
            "UTV Utility.",
            "UTV Youth."
          ]
        },
        "unitArea": {
          "description": "The unit area of the property, such as `1000 sqft`.",
          "$ref": "UnitArea"
        },
        "gender": {
          "type": "string",
          "enumDescriptions": [
            "Gender is not specified.",
            "Male.",
            "Female.",
            "Unisex."
          ],
          "description": "Target [gender](https://support.google.com/merchants/answer/6324479) of the item.",
          "enum": [
            "GENDER_UNSPECIFIED",
            "MALE",
            "FEMALE",
            "UNISEX"
          ]
        },
        "pickupSla": {
          "enum": [
            "PICKUP_SLA_UNSPECIFIED",
            "SAME_DAY",
            "NEXT_DAY",
            "TWO_DAY",
            "THREE_DAY",
            "FOUR_DAY",
            "FIVE_DAY",
            "SIX_DAY",
            "MULTI_WEEK"
          ],
          "description": "Item store pickup timeline. For more information, see [Pickup SLA](https://support.google.com/merchants/answer/14635400).",
          "type": "string",
          "enumDescriptions": [
            "Pickup SLA is not specified.",
            "Indicates that the product is available for pickup the same day that the order is placed, subject to cut off times.",
            "Indicates that the product is available for pickup the following day that the order is placed.",
            "Indicates that the product will be shipped to a store for a customer to pick up in 2 days.",
            "Indicates that the product will be shipped to a store for a customer to pick up in 3 days.",
            "Indicates that the product will be shipped to a store for a customer to pick up in 4 days",
            "Indicates that the product will be shipped to a store for a customer to pick up in 5 days.",
            "Indicates that the product will be shipped to a store for a customer to pick up in 6 days.",
            "Indicates that the product will be shipped to a store for a customer to pick up in one week or more."
          ]
        },
        "productHighlights": {
          "items": {
            "type": "string"
          },
          "description": "Bullet points describing the most relevant [product highlights](https://support.google.com/merchants/answer/9216100).",
          "type": "array"
        },
        "loyaltyPrograms": {
          "items": {
            "$ref": "LoyaltyProgram"
          },
          "type": "array",
          "description": "A list of loyalty program information that is used to surface loyalty benefits (for example, better pricing, points, etc) to the user of this item."
        },
        "returnPolicyLabel": {
          "description": "The return label of the product, used to group products in account-level return policies. Max. 100 characters. For more information, see [Return policy label](https://support.google.com/merchants/answer/9445425).",
          "type": "string"
        },
        "electricRange": {
          "description": "The [electric range](https://support.google.com/google-ads/answer/15162232) of the vehicle in miles/kms.",
          "$ref": "Mileage"
        },
        "documentLinks": {
          "description": "Optional. Contains a list of PDF [document URLs](https://support.google.com/merchants/answer/17084656) for the product. Examples are training manuals, user guides, assembly instructions, package inserts, etc. Must start with \"http://\" or \"https://\"), ASCII characters only, and RFC 3986 compliant.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lifestyleImageLinks": {
          "type": "array",
          "description": "Additional URLs of lifestyle images of the item, used to explicitly identify images that showcase your item in a real-world context. See the [Help Center article](https://support.google.com/merchants/answer/9103186) for more information.",
          "items": {
            "type": "string"
          }
        },
        "customLabel4": {
          "description": "[Custom label 4](https://support.google.com/merchants/answer/6324473) for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "salePriceEffectiveDate": {
          "description": "Date range during which the item is on sale, see [product data specification](https://support.google.com/merchants/answer/7052112#price_and_availability).",
          "$ref": "Interval"
        },
        "identifierExists": {
          "description": "Set this value to false when the item does not have unique product identifiers appropriate to its category, such as GTIN, MPN, and brand. Defaults to true, if not provided.",
          "type": "boolean"
        },
        "color": {
          "description": "[Color](https://support.google.com/merchants/answer/6324487) of the item. For example, \"red\".",
          "type": "string"
        },
        "vehicleMsrp": {
          "$ref": "Price",
          "description": "The MSRP (Manufacturer Suggested Retail Price) for the vehicle in its current configuration. See the [Vehicle MSRP](https://support.google.com/google-ads/answer/14154171) for more information."
        },
        "emissionsStandard": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified emission standard.",
            "Zero emissions.",
            "Euro 1.",
            "Euro 2.",
            "Euro 3.",
            "Euro 4.",
            "Euro 5.",
            "Euro 5b.",
            "Euro 6.",
            "Euro 6c.",
            "Euro 6d.",
            "Euro 6d-TEMP.",
            "Euro 6e."
          ],
          "description": "The [emission standard](https://support.google.com/google-ads/answer/14869021) of the vehicle.",
          "enum": [
            "EMISSIONS_STANDARD_UNSPECIFIED",
            "ZERO_EMISSIONS",
            "EURO1",
            "EURO2",
            "EURO3",
            "EURO4",
            "EURO5",
            "EURO5B",
            "EURO6",
            "EURO6C",
            "EURO6D",
            "EURO6D_TEMP",
            "EURO6E"
          ]
        },
        "displayAdsTitle": {
          "type": "string",
          "description": "Title of an item for dynamic remarketing campaigns."
        },
        "pickupMethod": {
          "description": "The [pickup](https://support.google.com/merchants/answer/14634021) option for the item.",
          "enumDescriptions": [
            "Pickup method is not specified.",
            "The item is not available for store pickup.",
            "The entire transaction occurs online.",
            "The item is reserved online and the transaction occurs in-store.",
            "The item is purchased online and shipped to a local store for the customer to pick up."
          ],
          "type": "string",
          "enum": [
            "PICKUP_METHOD_UNSPECIFIED",
            "NOT_SUPPORTED",
            "BUY",
            "RESERVE",
            "SHIP_TO_STORE"
          ]
        },
        "maxHandlingTime": {
          "description": "Maximal product handling time (in business days).",
          "type": "string",
          "format": "int64"
        },
        "condition": {
          "enum": [
            "CONDITION_UNSPECIFIED",
            "NEW",
            "USED",
            "REFURBISHED"
          ],
          "description": "[Condition](https://support.google.com/merchants/answer/6324469) or state of the item.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Brand new, original, unopened packaging.",
            "Previously used, original packaging opened or missing.",
            "Professionally restored to working order, comes with a warranty, may or may not have the original packaging."
          ],
          "type": "string"
        },
        "salePrice": {
          "description": "Advertised sale price of the item.",
          "$ref": "Price"
        },
        "propertyType": {
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "APARTMENT",
            "CONDO",
            "LOFT",
            "MULTI_FAMILY_HOME",
            "PENTHOUSE",
            "ROOM",
            "SINGLE_FAMILY_HOME",
            "STUDIO",
            "TOWNHOUSE"
          ],
          "enumDescriptions": [
            "Unspecified property type.",
            "Apartment.",
            "Condo.",
            "Loft.",
            "Multi-family home.",
            "Penthouse.",
            "Room.",
            "Single-family home.",
            "Studio.",
            "Townhouse."
          ],
          "type": "string",
          "description": "The type of property."
        },
        "popularityRank": {
          "type": "number",
          "format": "float",
          "description": "Optional. Indicates the [popularity](https://support.google.com/merchants/answer/17085297) of the product in a merchant's inventory. Using a scale of 0.0 (lowest) to 100.0 (highest)."
        },
        "freeShippingThreshold": {
          "description": "Conditions to be met for a product to have free shipping.",
          "type": "array",
          "items": {
            "$ref": "FreeShippingThreshold"
          }
        },
        "adult": {
          "description": "Set to true if the item is targeted towards adults.",
          "type": "boolean"
        },
        "amenityFeature": {
          "description": "The amenity features for the property.",
          "type": "array",
          "items": {
            "enum": [
              "AMENITY_FEATURE_UNSPECIFIED",
              "BALCONY",
              "BASEMENT",
              "BASKETBALL_COURT",
              "BIKE_STORAGE",
              "CENTRAL_AC",
              "DISHWASHER",
              "DOG_PARK",
              "ELEVATOR",
              "EV_CHARGING",
              "FENCED_LOT",
              "FIREPLACE",
              "FITNESS_CENTER",
              "FORCED_AIR_HEATING",
              "FULLY_FURNISHED",
              "GARAGE",
              "GATED_COMMUNITY",
              "HARDWOOD_FLOORS",
              "HIGH_SPEED_INTERNET",
              "INTERCOM",
              "IN_UNIT_WASHER_DRYER",
              "KITCHEN",
              "LARGE_CLOSETS",
              "MULTISPORT_COURT",
              "ONSITE_LAUNDRY",
              "OUTDOOR_LOUNGE",
              "PARKING",
              "PATIO",
              "PICKLEBALL_COURT",
              "POOL",
              "REFRIGERATOR",
              "SOCCER_FIELD",
              "TENNIS_COURT",
              "WALK_IN_CLOSETS",
              "WHEELCHAIR_ACCESS"
            ],
            "enumDescriptions": [
              "Unspecified amenity feature.",
              "Balcony.",
              "Basement.",
              "Basketball court.",
              "Bike storage.",
              "Central air conditioning.",
              "Dishwasher.",
              "Dog park.",
              "Elevator.",
              "EV charging.",
              "Fenced lot.",
              "Fireplace.",
              "Fitness center.",
              "Forced air heating.",
              "Fully furnished.",
              "Garage.",
              "Gated community.",
              "Hardwood floors.",
              "High speed internet.",
              "Intercom.",
              "In-unit washer and dryer.",
              "Kitchen.",
              "Large closets.",
              "Multisport court.",
              "Onsite laundry.",
              "Outdoor lounge.",
              "Parking.",
              "Patio.",
              "Pickleball court.",
              "Pool.",
              "Refrigerator.",
              "Soccer field.",
              "Tennis court.",
              "Walk-in closets.",
              "Wheelchair accessibility."
            ],
            "type": "string"
          }
        },
        "ageGroup": {
          "enum": [
            "AGE_GROUP_UNSPECIFIED",
            "ADULT",
            "KIDS",
            "TODDLER",
            "INFANT",
            "NEWBORN"
          ],
          "description": "Target [age group](https://support.google.com/merchants/answer/6324463) of the item.",
          "type": "string",
          "enumDescriptions": [
            "Age group is not specified.",
            "Teens or older.",
            "5-13 years old.",
            "1-5 years old.",
            "3-12 months old.",
            "0-3 months old."
          ]
        },
        "trim": {
          "description": "The [Trim](https://support.google.com/google-ads/answer/14154176) of the vehicle model, such as `S`, `SV`, `SL` and others.",
          "type": "string"
        },
        "virtualModelLink": {
          "type": "string",
          "description": "URL of the 3D image of the item. See the [Help Center article](https://support.google.com/merchants/answer/13674896) for more information."
        },
        "utilitiesIncluded": {
          "description": "The utilities included for the property.",
          "type": "array",
          "items": {
            "enum": [
              "UTILITIES_INCLUDED_UNSPECIFIED",
              "ELECTRICITY",
              "GAS",
              "INTERNET",
              "TRASH",
              "WATER"
            ],
            "enumDescriptions": [
              "Unspecified utilities included.",
              "Electricity.",
              "Gas.",
              "Internet.",
              "Trash.",
              "Water."
            ],
            "type": "string"
          }
        },
        "structuredDescription": {
          "description": "Structured description, for algorithmically (AI)-generated descriptions.",
          "$ref": "StructuredDescription"
        },
        "description": {
          "description": "Description of the item.",
          "type": "string"
        },
        "material": {
          "type": "string",
          "description": "The [material](https://support.google.com/merchants/answer/6324410) of which the item is made. For example, \"Leather\" or \"Cotton\"."
        },
        "link": {
          "type": "string",
          "description": "URL directly linking to your item's page on your online store."
        },
        "certifications": {
          "items": {
            "$ref": "ProductCertification"
          },
          "type": "array",
          "description": "Product Certifications, for example for energy efficiency labeling of products recorded in the [EU EPREL](https://eprel.ec.europa.eu/screen/home) database. See the [Help Center](https://support.google.com/merchants/answer/13528839) article for more information."
        },
        "structuredTitle": {
          "description": "Structured title, for algorithmically (AI)-generated titles.",
          "$ref": "StructuredTitle"
        },
        "includedDestinations": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Not specified.",
              "[Shopping ads](https://support.google.com/google-ads/answer/2454022).",
              "[Display ads](https://support.google.com/merchants/answer/6069387).",
              "[Local inventory ads](https://support.google.com/merchants/answer/3057972).",
              "[Free listings](https://support.google.com/merchants/answer/9199328).",
              "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
              "[YouTube Shopping](https://support.google.com/merchants/answer/12362804).",
              "Youtube shopping checkout.",
              "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
              "[Free vehicle listings](https://support.google.com/merchants/answer/11189169).",
              "[Vehicle ads](https://support.google.com/merchants/answer/11189169).",
              "[Cloud retail](https://cloud.google.com/solutions/retail).",
              "[Local cloud retail](https://cloud.google.com/solutions/retail)."
            ],
            "enum": [
              "DESTINATION_ENUM_UNSPECIFIED",
              "SHOPPING_ADS",
              "DISPLAY_ADS",
              "LOCAL_INVENTORY_ADS",
              "FREE_LISTINGS",
              "FREE_LOCAL_LISTINGS",
              "YOUTUBE_SHOPPING",
              "YOUTUBE_SHOPPING_CHECKOUT",
              "YOUTUBE_AFFILIATE",
              "FREE_VEHICLE_LISTINGS",
              "VEHICLE_ADS",
              "CLOUD_RETAIL",
              "LOCAL_CLOUD_RETAIL"
            ]
          },
          "description": "The list of destinations to include for this target (corresponds to checked check boxes in Merchant Center). Default destinations are always included unless provided in `excludedDestinations`. For more information, see [Included destination](https://support.google.com/merchants/answer/7501026). Note: We recommend setting destinations on datasources level for most use cases. Use this field within products to only setup exceptions."
        },
        "productWeight": {
          "$ref": "ProductWeight",
          "description": "The weight of the product in the units provided. The value must be between 0 (exclusive) and 2000 (inclusive)."
        },
        "title": {
          "description": "Title of the item.",
          "type": "string"
        },
        "propertyName": {
          "description": "The name of the property.",
          "type": "string"
        },
        "cloudExportAdditionalProperties": {
          "items": {
            "$ref": "CloudExportAdditionalProperties"
          },
          "type": "array",
          "description": "Extra fields to export to the Cloud Retail program."
        },
        "subscriptionCost": {
          "description": "Number of periods (weeks, months or years) and amount of payment per period for an item with an associated subscription contract.",
          "$ref": "SubscriptionCost"
        },
        "leaseTerm": {
          "$ref": "LeaseTerm",
          "description": "The lease term of the property."
        },
        "productWidth": {
          "description": "The width of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "vehicleAllInPrice": {
          "$ref": "Price",
          "description": "The all-in advertised price for a vehicle, which includes costs for the following – any accessories attached to the vehicle, environmental levies, extra warranty, fuel, freight, pre-delivery inspection (PDI), dealer fees for handling licensing, provincial regulatory fees, miscellaneous dealer charges for security etching and nitrogen tire fill, and factory-to-customer or dealer-to-customer discounts or incentives. See the [Vehicle all-in price](https://support.google.com/google-ads/answer/14156981) for more information."
        },
        "mpn": {
          "type": "string",
          "description": "Manufacturer Part Number ([MPN](https://support.google.com/merchants/answer/6324482)) of the item."
        },
        "customLabel2": {
          "type": "string",
          "description": "[Custom label 2](https://support.google.com/merchants/answer/6324473) for custom grouping of items in a Shopping campaign."
        },
        "brand": {
          "description": "[Brand](https://support.google.com/merchants/answer/6324351) of the item. For example, \"Google\".",
          "type": "string"
        },
        "sustainabilityIncentives": {
          "description": "The list of sustainability incentive programs.",
          "items": {
            "$ref": "ProductSustainabilityIncentive"
          },
          "type": "array"
        },
        "adsRedirect": {
          "description": "Allows advertisers to override the item URL when the product is shown within the context of Product ads.",
          "type": "string"
        },
        "engine": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified engine type.",
            "Gasoline.",
            "Diesel.",
            "Electric.",
            "Hybrid.",
            "Plug-in hybrid.",
            "Natural gas.",
            "LPG.",
            "Methane.",
            "Other."
          ],
          "description": "The [engine](https://support.google.com/google-ads/answer/14156068) type of the vehicle.",
          "enum": [
            "ENGINE_TYPE_UNSPECIFIED",
            "GASOLINE",
            "DIESEL",
            "ELECTRIC",
            "HYBRID",
            "PLUG_IN_HYBRID",
            "NATURAL_GAS",
            "LPG",
            "METHANE",
            "OTHER"
          ]
        },
        "minEnergyEfficiencyClass": {
          "description": "The [energy efficiency class](https://support.google.com/merchants/answer/7562785) as defined in EU directive 2010/30/EU.",
          "enumDescriptions": [
            "The energy efficiency class is unspecified.",
            "A+++.",
            "A++.",
            "A+.",
            "A.",
            "B.",
            "C.",
            "D.",
            "E.",
            "F.",
            "G."
          ],
          "enum": [
            "ENERGY_EFFICIENCY_CLASS_UNSPECIFIED",
            "APPP",
            "APP",
            "AP",
            "A",
            "B",
            "C",
            "D",
            "E",
            "F",
            "G"
          ],
          "type": "string"
        },
        "transitTimeLabel": {
          "type": "string",
          "description": "The transit time label of the product, used to group product in account-level transit time tables."
        },
        "adsLabels": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Similar to ads_grouping, but only works on CPC."
        }
      }
    },
    "UnitPricingMeasure": {
      "properties": {
        "value": {
          "format": "double",
          "type": "number",
          "description": "The measure of an item."
        },
        "unit": {
          "type": "string",
          "description": "The unit of the measure."
        }
      },
      "id": "UnitPricingMeasure",
      "type": "object",
      "description": "The UnitPricingMeasure of the product."
    },
    "QuestionAndAnswer": {
      "type": "object",
      "description": "The question and answer for the product.",
      "id": "QuestionAndAnswer",
      "properties": {
        "question": {
          "description": "Required. The question text.",
          "type": "string"
        },
        "answer": {
          "type": "string",
          "description": "Required. The answer text."
        }
      }
    },
    "ProductCertification": {
      "id": "ProductCertification",
      "properties": {
        "certificationValue": {
          "type": "string",
          "description": "The certification value (also known as class, level or grade), for example \"A+\", \"C\", \"gold\". Maximum length is 2000 characters."
        },
        "certificationName": {
          "description": "The name of the certification.",
          "type": "string",
          "enum": [
            "CERTIFICATION_NAME_UNSPECIFIED",
            "ENERGY_STAR",
            "ENERGY_STAR_MOST_EFFICIENT",
            "EPREL",
            "EU_ECOLABEL",
            "VEHICLE_ENERGY_EFFICIENCY",
            "VEHICLE_ENERGY_EFFICIENCY_DISCHARGED_BATTERY"
          ],
          "enumDescriptions": [
            "Certification name is not specified.",
            "Energy Star.",
            "Energy Star Most Efficient.",
            "Represents energy efficiency certifications in the EU European Registry for Energy Labeling (EPREL) database.",
            "EU Ecolabel.",
            "The overall CO2 class of a vehicle",
            "For the CO2 class of a vehicle with a discharged battery."
          ]
        },
        "certificationCode": {
          "description": "The certification code. Maximum length is 2000 characters.",
          "type": "string"
        },
        "certificationAuthority": {
          "type": "string",
          "enumDescriptions": [
            "Certification authority is not specified.",
            "For the French CO2 emissions class for vehicles.",
            "For the German CO2 emissions classes for vehicles.",
            "Environment Protection Agency.",
            "European Commission for energy labels in the EU."
          ],
          "description": "The certification authority.",
          "enum": [
            "CERTIFICATION_AUTHORITY_UNSPECIFIED",
            "ADEME",
            "BMWK",
            "EPA",
            "EC"
          ]
        }
      },
      "type": "object",
      "description": "Product [certification](https://support.google.com/merchants/answer/13528839), initially introduced for EU energy efficiency labeling compliance using the EU EPREL database."
    },
    "UnitArea": {
      "properties": {
        "unit": {
          "enumDescriptions": [
            "Unspecified unit.",
            "Square meters.",
            "Square feet."
          ],
          "description": "The unit of area.",
          "type": "string",
          "enum": [
            "UNIT_UNSPECIFIED",
            "SQM",
            "SQFT"
          ]
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "The area value."
        }
      },
      "type": "object",
      "description": "The unit area of the property.",
      "id": "UnitArea"
    },
    "FreeShippingThreshold": {
      "description": "Conditions to be met for a product to have free shipping.",
      "type": "object",
      "id": "FreeShippingThreshold",
      "properties": {
        "priceThreshold": {
          "$ref": "Price",
          "description": "The minimum product price for the shipping cost to become free. Represented as a number."
        },
        "country": {
          "description": "The [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the country to which an item will ship.",
          "type": "string"
        }
      }
    },
    "RelatedProduct": {
      "properties": {
        "relationshipType": {
          "enum": [
            "RELATIONSHIP_TYPE_UNSPECIFIED",
            "PART_OF_SET",
            "REQUIRED_PART",
            "OFTEN_BOUGHT_WITH",
            "SUBSTITUTE",
            "DIFFERENT_BRAND",
            "ACCESSORY"
          ],
          "enumDescriptions": [
            "The relationship type is unspecified.",
            "Part of a set of products that are often purchased together.",
            "Part that is necessary for the product to function, for example a battery for a battery-operated lamp.",
            "A product that this product is often purchased together with, for example a phone case with a phone.",
            "Product that this product can be substituted for. For example a printer comparable in function to another printer.",
            "An identical product sold under a different brand, for example a cheaper house brand.",
            "An accessory to this product, for example a side table that matches the style of a couch."
          ],
          "description": "Required. The type of the relationship between this product and the related product.",
          "type": "string"
        },
        "idType": {
          "enum": [
            "ID_TYPE_UNSPECIFIED",
            "GTIN",
            "ID"
          ],
          "enumDescriptions": [
            "The identifier type is unspecified.",
            "The identifier is a GTIN.",
            "The identifier is a product ID in the feed."
          ],
          "description": "Required. The type of the identifier of the related product. For example, [GTIN](https://support.google.com/merchants/answer/6219078) or [product ID](https://support.google.com/merchants/answer/6324405).",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. The identifier of the related product."
        }
      },
      "type": "object",
      "description": "Specifies how other products are related to this product.",
      "id": "RelatedProduct"
    },
    "Mileage": {
      "id": "Mileage",
      "description": "The mileage of the vehicle.",
      "properties": {
        "value": {
          "format": "int64",
          "description": "The distance value.",
          "type": "string"
        },
        "unit": {
          "enumDescriptions": [
            "Unspecified unit.",
            "Miles.",
            "Kilometers."
          ],
          "type": "string",
          "enum": [
            "UNIT_UNSPECIFIED",
            "MILES",
            "KM"
          ],
          "description": "The unit of the mileage."
        }
      },
      "type": "object"
    },
    "EnergyConsumption": {
      "description": "The energy consumption of the vehicle.",
      "type": "object",
      "id": "EnergyConsumption",
      "properties": {
        "value": {
          "format": "double",
          "type": "number",
          "description": "The energy consumption value."
        },
        "unit": {
          "enumDescriptions": [
            "Unspecified unit.",
            "Kilowatt hours per 100 kilometers."
          ],
          "description": "The unit of the energy consumption.",
          "type": "string",
          "enum": [
            "UNIT_UNSPECIFIED",
            "KWHPER100KM"
          ]
        }
      }
    },
    "ShippingBusinessDaysConfig": {
      "properties": {
        "country": {
          "type": "string",
          "description": "The [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the country to which an item will ship."
        },
        "businessDays": {
          "description": "Effective days of the week considered for the delivery time calculation. May not be empty. The more business days included the faster the delivery. Can be set through individual days (e.g. `MTWRF`), or day ranges (e.g. `Mon-Fri`). For more information about accepted formats, see [Shipping handling business days](https://support.google.com/merchants/answer/16072859).",
          "type": "string"
        }
      },
      "description": "The business days during which orders are on their path to fulfillment. If not provided, Monday to Friday business days will be assumed.",
      "id": "ShippingBusinessDaysConfig",
      "type": "object"
    },
    "Interval": {
      "id": "Interval",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
        }
      },
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time."
    },
    "ProductSustainabilityIncentive": {
      "id": "ProductSustainabilityIncentive",
      "type": "object",
      "description": "Information regarding sustainability-related incentive programs such as rebates or tax relief.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified or unknown sustainability incentive type.",
            "Program offering tax liability reductions for electric vehicles and, in some countries, plug-in hybrids. These reductions can be based on a specific amount or a percentage of the sale price.",
            "A subsidy program, often called an environmental bonus, provides a purchase grant for electric vehicles and, in some countries, plug-in hybrids. The grant amount may be a fixed sum or a percentage of the sale price."
          ],
          "type": "string",
          "description": "Sustainability incentive program.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "EV_TAX_CREDIT",
            "EV_PRICE_DISCOUNT"
          ]
        },
        "amount": {
          "description": "The fixed amount of the incentive.",
          "$ref": "Price"
        },
        "percentage": {
          "format": "double",
          "description": "The percentage of the sale price that the incentive is applied to.",
          "type": "number"
        }
      }
    },
    "SubscriptionCost": {
      "id": "SubscriptionCost",
      "description": "The SubscriptionCost of the product.",
      "type": "object",
      "properties": {
        "period": {
          "type": "string",
          "description": "The type of subscription period. Supported values are: * \"`month`\" * \"`year`\" * \"`week`\"",
          "enumDescriptions": [
            "Indicates that the subscription period is unspecified.",
            "Indicates that the subscription period is month.",
            "Indicates that the subscription period is year.",
            "Indicates that the subscription period is week."
          ],
          "enum": [
            "SUBSCRIPTION_PERIOD_UNSPECIFIED",
            "MONTH",
            "YEAR",
            "WEEK"
          ]
        },
        "amount": {
          "$ref": "Price",
          "description": "The amount the buyer has to pay per subscription period."
        },
        "periodLength": {
          "type": "string",
          "format": "int64",
          "description": "The number of subscription periods the buyer has to pay."
        }
      }
    },
    "ProductInput": {
      "id": "ProductInput",
      "properties": {
        "base64EncodedName": {
          "description": "Output only. The **unpadded base64url encoded name** of the product input. Format: `accounts/{account}/productInputs/{productinput}` where the last section `productinput` is the unpadded base64url encoding of the `content_language~feed_label~offer_id` name. Example: `accounts/123/productInputs/ZW5-VVN-c2t1LzEyMw` for the decoded product input name `accounts/123/productInputs/en~US~sku/123`. This field can be used directly as input to the API methods that require the product input name to be encoded if it contains special characters, for example [`GetProductInput`](https://developers.google.com/merchant/api/reference/rest/products_v1/accounts.productInputs/get).",
          "type": "string",
          "readOnly": true
        },
        "versionNumber": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Immutable. Represents the existing version (freshness) of the product, which can be used to preserve the right order when multiple updates are done at the same time. If set, the insertion is prevented when version number is lower than the current version number of the existing product. Re-insertion (for example, product refresh after 30 days) can be performed with the current `version_number`. Only supported for insertions into primary data sources. Do not set this field for updates. Do not set this field for insertions into supplemental data sources. If the operation is prevented, the aborted exception will be thrown."
        },
        "productAttributes": {
          "description": "Optional. A list of strongly-typed product attributes.",
          "$ref": "ProductAttributes"
        },
        "feedLabel": {
          "description": "Required. Immutable. The feed label that lets you categorize and identify your products. The maximum allowed characters are 20, and the supported characters are `A-Z`, `0-9`, hyphen, and underscore. The feed label must not include any spaces. For more information, see [Using feed labels](//support.google.com/merchants/answer/14994087).",
          "type": "string"
        },
        "product": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the processed product. Format: `accounts/{account}/products/{product}`"
        },
        "customAttributes": {
          "description": "Optional. A list of custom (merchant-provided) attributes. It can also be used for submitting any attribute of the data specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API. Maximum allowed number of characters for each custom attribute is 10240 (represents sum of characters for name and value). Maximum 2500 custom attributes can be set per product, with total size of 102.4kB. Underscores in custom attribute names are replaced by spaces upon insertion.",
          "items": {
            "$ref": "CustomAttribute"
          },
          "type": "array"
        },
        "legacyLocal": {
          "description": "Immutable. Determines whether the product is **only** targeting local destinations and whether the product name should be distinguished with a `local~` prefix. For example, `accounts/123/productInputs/local~en~US~sku123`. If a product that is not `legacy_local` is already targeting local destinations, creating a `legacy_local` product with an otherwise matching name will fail.",
          "type": "boolean"
        },
        "offerId": {
          "type": "string",
          "description": "Required. Immutable. Your unique identifier for the product. This is the same for the product input and processed product. Leading and trailing whitespaces are stripped and multiple whitespaces are replaced by a single whitespace upon submission. See the [products data specification](https://support.google.com/merchants/answer/188494#id) for details."
        },
        "base64EncodedProduct": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The **unpadded base64url encoded name** of the processed product. Format: `accounts/{account}/products/{product}` where the last section `product` is the unpadded base64url encoding of the `content_language~feed_label~offer_id` name. Example: `accounts/123/products/ZW5-VVN-c2t1LzEyMw` for the decoded product name `accounts/123/products/en~US~sku/123`. This field can be used directly as input to the API methods that require the product name to be encoded if it contains special characters, for example [`GetProduct`](https://developers.google.com/merchant/api/reference/rest/products_v1/accounts.products/get)."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the product. Format: `accounts/{account}/productInputs/{productinput}` The {productinput} segment is a unique identifier for the product. This identifier must be unique within a merchant account and generally follows the structure: `content_language~feed_label~offer_id`. Example: `en~US~sku123` For legacy local products, the structure is: `local~content_language~feed_label~offer_id`. Example: `local~en~US~sku123` The format of the {productinput} segment in the URL is automatically detected by the server, supporting two options: 1. **Encoded Format**: The `{productinput}` segment is an unpadded base64url encoded string (RFC 4648 Section 5). The decoded string must result in the `content_language~feed_label~offer_id` structure. This encoding MUST be used if any part of the product identifier (like `offer_id`) contains characters such as `/`, `%`, or `~`. * Example: To represent the product ID `en~US~sku/123`, the `{productinput}` segment must be the unpadded base64url encoding of this string, which is `ZW5-VVN-c2t1LzEyMw`. The full resource name for the product would be `accounts/123/productInputs/ZW5-VVN-c2t1LzEyMw`. 2. **Plain Format**: The `{productinput}` segment is the tilde-separated string `content_language~feed_label~offer_id`. This format is suitable only when `content_language`, `feed_label`, and `offer_id` do not contain URL-problematic characters like `/`, `%`, or `~`. We recommend using the **Encoded Format** for all product IDs to ensure correct parsing, especially those containing special characters. The presence of tilde (`~`) characters in the `{productinput}` segment is used to differentiate between the two formats."
        },
        "contentLanguage": {
          "type": "string",
          "description": "Required. Immutable. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the product."
        }
      },
      "type": "object",
      "description": "This resource represents input data you submit for a product, not the processed product that you see in Merchant Center, in Shopping ads, or across Google surfaces. Product inputs, rules and supplemental data source data are combined to create the processed Product. For more information, see [Manage products](/merchant/api/guides/products/overview). Required product input attributes to pass data validation checks are primarily defined in the [Products Data Specification](https://support.google.com/merchants/answer/188494). The following attributes are required: feedLabel, contentLanguage and offerId. After inserting, updating, or deleting a product input, it may take several minutes before the processed product can be retrieved. All fields in the product input and its sub-messages match the English name of their corresponding attribute in the [Products Data Specification](https://support.google.com/merchants/answer/188494) with [some exceptions](https://support.google.com/merchants/answer/7052112). The following reference documentation lists the field names in the **camelCase** casing style while the Products Data Specification lists the names in the **snake_case** casing style."
    },
    "UnitPricingBaseMeasure": {
      "type": "object",
      "properties": {
        "value": {
          "format": "int64",
          "type": "string",
          "description": "The denominator of the unit price."
        },
        "unit": {
          "description": "The unit of the denominator.",
          "type": "string"
        }
      },
      "description": "The UnitPricingBaseMeasure of the product.",
      "id": "UnitPricingBaseMeasure"
    },
    "ProductInstallment": {
      "type": "object",
      "properties": {
        "amount": {
          "description": "The amount the buyer has to pay per month.",
          "$ref": "Price"
        },
        "downpayment": {
          "description": "The up-front down payment amount the buyer has to pay.",
          "$ref": "Price"
        },
        "annualPercentageRate": {
          "type": "number",
          "description": "Optional. Annual percentage rate for `credit_type` finance",
          "format": "double"
        },
        "months": {
          "description": "The number of installments the buyer has to pay.",
          "type": "string",
          "format": "int64"
        },
        "totalAmount": {
          "description": "Optional. Total amount the buyer has to pay, including interest.",
          "$ref": "Price"
        },
        "creditType": {
          "description": "Type of installment payments.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Finance.",
            "Lease."
          ],
          "enum": [
            "CREDIT_TYPE_UNSPECIFIED",
            "FINANCE",
            "LEASE"
          ]
        }
      },
      "description": "A message that represents installment.",
      "id": "ProductInstallment"
    },
    "Warranty": {
      "id": "Warranty",
      "description": "The warranty of the vehicle.",
      "type": "object",
      "properties": {
        "mileage": {
          "$ref": "Mileage",
          "description": "The warranty mileage."
        },
        "duration": {
          "description": "The warranty duration in months.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Product": {
      "id": "Product",
      "type": "object",
      "description": "The processed product, built from multiple product inputs after applying rules and supplemental data sources. This processed product matches what is shown in your Merchant Center account. Each product is built from exactly one primary data source product input, and multiple supplemental data source inputs. After inserting, updating, or deleting a product input, it may take several minutes before the updated processed product can be retrieved. All fields in the processed product and its sub-messages match the name of their corresponding attribute in the [Product data specification](https://support.google.com/merchants/answer/7052112) with some exceptions.",
      "properties": {
        "archived": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Determines whether the product is [archived](https://support.google.com/merchants/answer/11909930). To archive or restore your product, visit Merchant Center products page. Learn also more about [offer visibility](https://support.google.com/merchants/answer/12488713)."
        },
        "contentLanguage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the product."
        },
        "automatedDiscounts": {
          "readOnly": true,
          "$ref": "AutomatedDiscounts",
          "description": "Output only. The automated discounts information for the product."
        },
        "legacyLocal": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Determines whether the product is **only** targeting local destinations and whether the product name should be distinguished with a `local~` prefix. For example, `accounts/123/products/local~en~US~sku123`."
        },
        "productAttributes": {
          "readOnly": true,
          "$ref": "ProductAttributes",
          "description": "Output only. A list of strongly-typed product attributes."
        },
        "base64EncodedName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The **unpadded base64url encoded name** of the product. Format: `accounts/{account}/products/{product}` where the last section `product` is the unpadded base64url encoding of the `content_language~feed_label~offer_id` name. Example: `accounts/123/products/ZW5-VVN-c2t1LzEyMw` for the decoded product name `accounts/123/products/en~US~sku/123`. This field can be used directly as input to the API methods that require the product name to be encoded if it contains special characters, for example [`GetProduct`](https://developers.google.com/merchant/api/reference/rest/products_v1/accounts.products/get)."
        },
        "versionNumber": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Represents the existing version (freshness) of the product, which can be used to preserve the right order when multiple updates are done at the same time. If set, the insertion is prevented when version number is lower than the current version number of the existing product. Re-insertion (for example, product refresh after 30 days) can be performed with the current `version_number`. Only supported for insertions into primary data sources. If the operation is prevented, the aborted exception will be thrown.",
          "format": "int64"
        },
        "customAttributes": {
          "type": "array",
          "items": {
            "$ref": "CustomAttribute"
          },
          "description": "Output only. A list of custom (merchant-provided) attributes. It can also be used to submit any attribute of the data specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google.",
          "readOnly": true
        },
        "productStatus": {
          "readOnly": true,
          "$ref": "ProductStatus",
          "description": "Output only. The status of a product, data validation issues, that is, information about a product computed asynchronously."
        },
        "offerId": {
          "description": "Output only. Your unique identifier for the product. This is the same for the product input and processed product. Leading and trailing whitespaces are stripped and multiple whitespaces are replaced by a single whitespace upon submission. See the [product data specification](https://support.google.com/merchants/answer/188494#id) for details.",
          "type": "string",
          "readOnly": true
        },
        "dataSource": {
          "type": "string",
          "description": "Output only. The primary data source of the product.",
          "readOnly": true
        },
        "feedLabel": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The feed label lets you categorize and identify your products. The maximum allowed characters is 20 and the supported characters are`A-Z`, `0-9`, hyphen and underscore. The feed label must not include any spaces. For more information, see [Using feed labels](//support.google.com/merchants/answer/14994087)"
        },
        "name": {
          "type": "string",
          "description": "The name of the product. Format: `accounts/{account}/products/{product}` where the last section `product` consists of: `content_language~feed_label~offer_id` example for product name is `accounts/123/products/en~US~sku123`. A legacy local product name would be `accounts/123/products/local~en~US~sku123`. Note: For calls to the v1beta version, the `product` section consists of: `channel~content_language~feed_label~offer_id`, for example: `accounts/123/products/online~en~US~sku123`."
        }
      }
    },
    "Co2Emissions": {
      "description": "The co2 emission of the vehicle.",
      "type": "object",
      "id": "Co2Emissions",
      "properties": {
        "value": {
          "type": "string",
          "format": "int64",
          "description": "The co2 emission value."
        },
        "unit": {
          "enumDescriptions": [
            "Unspecified unit.",
            "Grams per kilometer."
          ],
          "enum": [
            "UNIT_UNSPECIFIED",
            "GPERKM"
          ],
          "description": "The unit of the co2 emission.",
          "type": "string"
        }
      }
    },
    "LoyaltyProgram": {
      "description": "A message that represents loyalty program.",
      "id": "LoyaltyProgram",
      "type": "object",
      "properties": {
        "tierLabel": {
          "type": "string",
          "description": "The label of the tier within the loyalty program. Must match one of the labels within the program."
        },
        "price": {
          "$ref": "Price",
          "description": "The price for members of the given tier, that is, the instant discount price. Must be smaller or equal to the regular price."
        },
        "cashbackForFutureUse": {
          "description": "The cashback that can be used for future purchases.",
          "$ref": "Price"
        },
        "memberPriceEffectiveDate": {
          "description": "A date range during which the item is eligible for member price. If not specified, the member price is always applicable. The date range is represented by a pair of ISO 8601 dates separated by a space, comma, or slash.",
          "$ref": "Interval"
        },
        "shippingLabel": {
          "description": "The label of the shipping benefit. If the field has value, this offer has loyalty shipping benefit. If the field value isn't provided, the item is not eligible for loyalty shipping for the given loyalty tier.",
          "type": "string"
        },
        "programLabel": {
          "description": "The label of the loyalty program. This is an internal label that uniquely identifies the relationship between a business entity and a loyalty program entity. The label must be provided so that the system can associate the assets below (for example, price and points) with a business. The corresponding program must be linked to the Merchant Center account.",
          "type": "string"
        },
        "loyaltyPoints": {
          "type": "string",
          "description": "The amount of loyalty points earned on a purchase.",
          "format": "int64"
        }
      }
    },
    "ProductFee": {
      "properties": {
        "type": {
          "enum": [
            "FEE_TYPE_UNSPECIFIED",
            "ADMIN_FEE",
            "APPLICATION_FEE",
            "SECURITY_DEPOSIT"
          ],
          "description": "The type of product fee.",
          "enumDescriptions": [
            "Unspecified fee type.",
            "Admin fee.",
            "Application fee.",
            "Security deposit."
          ],
          "type": "string"
        },
        "amount": {
          "description": "The amount of product fee.",
          "$ref": "Price"
        }
      },
      "type": "object",
      "description": "The product fee attribute containing type and amount.",
      "id": "ProductFee"
    },
    "ProductStatusChangeMessage": {
      "id": "ProductStatusChangeMessage",
      "description": "The message that the merchant will receive to notify about product status change event",
      "type": "object",
      "properties": {
        "resourceType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified resource",
            "Resource type : product",
            "Account service"
          ],
          "enum": [
            "RESOURCE_UNSPECIFIED",
            "PRODUCT",
            "ACCOUNT_SERVICE"
          ],
          "description": "The resource that changed, in this case it will always be `Product`."
        },
        "attribute": {
          "enum": [
            "ATTRIBUTE_UNSPECIFIED",
            "STATUS"
          ],
          "enumDescriptions": [
            "Unspecified attribute",
            "Status of the changed entity"
          ],
          "description": "The attribute in the resource that changed, in this case it will be always `Status`.",
          "type": "string"
        },
        "changes": {
          "items": {
            "$ref": "ProductChange"
          },
          "type": "array",
          "description": "A message to describe the change that happened to the product"
        },
        "managingAccount": {
          "description": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`",
          "type": "string"
        },
        "account": {
          "description": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`",
          "type": "string"
        },
        "resourceId": {
          "description": "The product id.",
          "type": "string"
        },
        "expirationTime": {
          "description": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event.",
          "format": "google-datetime",
          "type": "string"
        },
        "eventTime": {
          "description": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications.",
          "type": "string",
          "format": "google-datetime"
        },
        "resource": {
          "description": "The product name. Format: `accounts/{account}/products/{product}`",
          "type": "string"
        }
      }
    },
    "PickupCost": {
      "description": "The pickup cost of the item.",
      "id": "PickupCost",
      "type": "object",
      "properties": {
        "flatRate": {
          "description": "Required. The flat rate pickup cost of the item.",
          "$ref": "Price"
        },
        "freeThreshold": {
          "description": "Optional. The price threshold above which pickup is free of charge.",
          "$ref": "Price"
        }
      }
    },
    "AutomatedDiscounts": {
      "properties": {
        "gadPrice": {
          "description": "The current sale price for products with a price optimized using Google Automated Discounts (GAD). Absent if the information about the GAD_price of the product is not available.",
          "$ref": "Price"
        },
        "priorPriceProgressive": {
          "description": "The price prior to the application of consecutive price reductions. Absent if the information about the prior price of the product is not available.",
          "$ref": "Price"
        },
        "priorPrice": {
          "$ref": "Price",
          "description": "The price prior to the application of the first price reduction. Absent if the information about the prior price of the product is not available."
        }
      },
      "description": "Information regarding Automated Discounts.",
      "type": "object",
      "id": "AutomatedDiscounts"
    },
    "CarrierShipping": {
      "type": "object",
      "description": "Carrier-based shipping configuration. Allows for setting shipping speed or shipping cost based on a carrier's provided info.",
      "properties": {
        "region": {
          "type": "string",
          "description": "The geographic region to which a shipping rate applies. See [region](https://support.google.com/merchants/answer/6324484) for more information."
        },
        "carrierPriceFlatAdjustment": {
          "description": "A flat adjustment on the carrier price. Can be either positive or negative. Cannot be zero. Requires `carrier_price` to be present. Cannot be set together with flatPrice and carrierPricePercentageAdjustment.",
          "$ref": "Price"
        },
        "minHandlingTime": {
          "description": "Minimum handling time (inclusive) between when the order is received and shipped in business days. 0 means that the order is shipped on the same day as it is received if it happens before the cut-off time. minHandlingTime can only be set if maxHandlingTime is also set.",
          "type": "string",
          "format": "int64"
        },
        "fixedMinTransitTime": {
          "type": "string",
          "description": "Minimum transit time (inclusive) between when the order has shipped and when it is delivered in business days. 0 means that the order is delivered on the same day as it ships. fixedMinTransitTime can only be set if fixedMaxTransitTime is set. Cannot be set if carrierTransitTime is present.",
          "format": "int64"
        },
        "postalCode": {
          "description": "The postal code range that the shipping rate applies to, represented by a postal code (eg. `94043`), a postal code prefix followed by a * wildcard (eg. `94*`), a range between two postal codes (eg. `94043-98033`) or two postal code prefixes of equal length (eg. `94*-98*`).",
          "type": "string"
        },
        "carrierPricePercentageAdjustment": {
          "format": "double",
          "description": "A percentual adjustment on the carrier price. Can be either positive or negative. Cannot be zero. Requires `carrier_price` to be present. Cannot be set together with flatPrice and carrierPriceFlatAdjustment.",
          "type": "number"
        },
        "carrierPrice": {
          "description": "Selected carrier to calculate the shipping price from. Select a carrier from the [available carriers list](https://support.google.com/merchants/answer/15449142#Supported), for example `AUSTRALIA_POST_REGULAR`. Price will be calculated by this selected carrier, the location expressed in originPostalCode, along with the user location to determine the accurate shipping price. Carrier is represented by a carrier service name or a carrier service ID. Cannot be set together with flatPrice.",
          "enum": [
            "CARRIER_PRICE_OPTION_UNSPECIFIED",
            "AUSTRALIA_POST_REGULAR",
            "AUSTRALIA_POST_EXPRESS",
            "AUSTRALIA_POST_REGULAR_S",
            "AUSTRALIA_POST_REGULAR_M",
            "AUSTRALIA_POST_REGULAR_L",
            "AUSTRALIA_POST_REGULAR_XL",
            "AUSTRALIA_POST_EXPRESS_S",
[...]
