{
  "revision": "20260910",
  "rootUrl": "https://merchantapi.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "description": "Programmatically manage your Merchant Center Accounts.",
  "name": "merchantapi",
  "servicePath": "",
  "discoveryVersion": "v1",
  "version": "accounts_v1beta",
  "id": "merchantapi:accounts_v1beta",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Merchant",
  "ownerName": "Google",
  "resources": {
    "accounts": {
      "methods": {
        "listSubaccounts": {
          "parameters": {
            "pageToken": {
              "description": "Optional. A page token, received from a previous `accounts.list` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided in the `accounts.list` request must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "provider": {
              "location": "path",
              "description": "Required. The aggregation service provider. Format: `accounts/{accountId}`",
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "description": "Optional. The maximum number of accounts to return. The service may return fewer than this value. If unspecified, at most 250 accounts are returned. The maximum value is 500; values above 500 are coerced to 500.",
              "type": "integer"
            }
          },
          "response": {
            "$ref": "ListSubAccountsResponse"
          },
          "path": "accounts/v1beta/{+provider}:listSubaccounts",
          "id": "merchantapi.accounts.listSubaccounts",
          "flatPath": "accounts/v1beta/accounts/{accountsId}:listSubaccounts",
          "httpMethod": "GET",
          "parameterOrder": [
            "provider"
          ],
          "description": "List all sub-accounts for a given advanced account. This is a convenience wrapper for the more powerful `accounts.list` method. This method will produce the same results as calling `ListsAccounts` with the following filter: `relationship(providerId={parent} AND service(type=\"ACCOUNT_AGGREGATION\"))`",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "createTestAccount": {
          "path": "accounts/v1beta/{+parent}:createTestAccount",
          "description": "Creates a Merchant Center test account. Test accounts are intended for development and testing purposes, such as validating API integrations or new feature behavior. Key characteristics and limitations of test accounts: - Immutable Type: A test account cannot be converted into a regular (live) Merchant Center account. Likewise, a regular account cannot be converted into a test account. - Non-Serving Products: Any products, offers, or data created within a test account will not be published or made visible to end-users on any Google surfaces. They are strictly for testing environments. - Separate Environment: Test accounts operate in a sandbox-like manner, isolated from live serving and real user traffic.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "merchantapi.accounts.createTestAccount",
          "response": {
            "$ref": "Account"
          },
          "request": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "parent": {
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The account resource name to create the test account under. Format: accounts/{account}"
            }
          },
          "flatPath": "accounts/v1beta/accounts/{accountsId}:createTestAccount"
        },
        "delete": {
          "flatPath": "accounts/v1beta/accounts/{accountsId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "name"
          ],
          "path": "accounts/v1beta/{+name}",
          "parameters": {
            "force": {
              "type": "boolean",
              "description": "Optional. If set to `true`, the account is deleted even if it provides services to other accounts or has processed offers.",
              "location": "query"
            },
            "name": {
              "required": true,
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "description": "Required. The name of the account to delete. Format: `accounts/{account}`",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "id": "merchantapi.accounts.delete",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Deletes the specified account regardless of its type: standalone, advanced account or sub-account. Deleting an advanced account leads to the deletion of all of its sub-accounts. This also deletes the account's [developer registration entity](/merchant/api/reference/rest/accounts_v1beta/accounts.developerRegistration) and any associated GCP project to the account. Executing this method requires admin access. The deletion succeeds only if the account does not provide services to any other account and has no processed offers. You can use the `force` parameter to override this."
        },
        "createAndConfigure": {
          "request": {
            "$ref": "CreateAndConfigureAccountRequest"
          },
          "description": "Creates a Merchant Center account with additional configuration. Adds the user that makes the request as an admin for the new account.",
          "httpMethod": "POST",
          "flatPath": "accounts/v1beta/accounts:createAndConfigure",
          "path": "accounts/v1beta/accounts:createAndConfigure",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "merchantapi.accounts.createAndConfigure",
          "parameters": {},
          "response": {
            "$ref": "Account"
          },
          "parameterOrder": []
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "description": "Retrieves an account from your Merchant Center account. After inserting, updating, or deleting an account, it may take several minutes before changes take effect.",
          "flatPath": "accounts/v1beta/accounts/{accountsId}",
          "id": "merchantapi.accounts.get",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "description": "Required. The name of the account to retrieve. Format: `accounts/{account}`",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Account"
          },
          "path": "accounts/v1beta/{+name}"
        },
        "list": {
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "description": "Note: For the `accounts.list` method, quota and limits usage are charged for each user, and not for the Merchant Center ID or the advanced account ID. To list several sub-accounts, you should use the `accounts.listSubaccounts` method, which is more suitable for advanced accounts use case.",
          "id": "merchantapi.accounts.list",
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of accounts to return. The service may return fewer than this value. If unspecified, at most 250 accounts are returned. The maximum value is 500; values above 500 are coerced to 500.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "filter": {
              "type": "string",
              "description": "Optional. Returns only accounts that match the [filter](https://developers.google.com/merchant/api/guides/accounts/filter). For more details, see the [filter syntax reference](https://developers.google.com/merchant/api/guides/accounts/filter-syntax).",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A page token, received from a previous `accounts.list` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided in the `accounts.list` request must match the call that provided the page token."
            }
          },
          "parameterOrder": [],
          "path": "accounts/v1beta/accounts",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "accounts/v1beta/accounts",
          "httpMethod": "GET"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "Account"
          },
          "description": "Updates an account regardless of its type: standalone, advanced account or sub-account. Executing this method requires admin access.",
          "response": {
            "$ref": "Account"
          },
          "httpMethod": "PATCH",
          "id": "merchantapi.accounts.patch",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "updateMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask",
              "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `account_name` - `adult_content` - `language_code` - `time_zone`"
            },
            "name": {
              "required": true,
              "description": "Identifier. The resource name of the account. Format: `accounts/{account}`",
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "location": "path"
            }
          },
          "path": "accounts/v1beta/{+name}",
          "flatPath": "accounts/v1beta/accounts/{accountsId}"
        }
      },
      "resources": {
        "regions": {
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^accounts/[^/]+/regions/[^/]+$",
                  "description": "Required. The name of the region to delete. Format: `accounts/{account}/regions/{region}`",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions/{regionsId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Deletes a region definition from your Merchant Center account. Executing this method requires admin access.",
              "response": {
                "$ref": "Empty"
              },
              "path": "accounts/v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "id": "merchantapi.accounts.regions.delete"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "Region"
              },
              "path": "accounts/v1beta/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the region to retrieve. Format: `accounts/{account}/regions/{region}`",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/regions/[^/]+$"
                }
              },
              "description": "Retrieves a region defined in your Merchant Center account.",
              "httpMethod": "GET",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions/{regionsId}",
              "id": "merchantapi.accounts.regions.get",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions",
              "path": "accounts/v1beta/{+parent}/regions",
              "request": {
                "$ref": "Region"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The account to create a region for. Format: `accounts/{account}`",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+$"
                },
                "regionId": {
                  "type": "string",
                  "description": "Required. The identifier for the region, unique over all regions of the same account.",
                  "location": "query"
                }
              },
              "description": "Creates a region definition in your Merchant Center account. Executing this method requires admin access.",
              "id": "merchantapi.accounts.regions.create",
              "response": {
                "$ref": "Region"
              }
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of regions to return. The service may return fewer than this value. If unspecified, at most 50 regions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "type": "integer"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The account to list regions for. Format: `accounts/{account}`",
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListRegions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRegions` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions",
              "description": "Lists the regions in your Merchant Center account.",
              "path": "accounts/v1beta/{+parent}/regions",
              "id": "merchantapi.accounts.regions.list",
              "response": {
                "$ref": "ListRegionsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET"
            },
            "patch": {
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/regions/[^/]+$",
                  "required": true,
                  "description": "Identifier. The resource name of the region. Format: `accounts/{account}/regions/{region}`",
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Optional. The comma-separated field mask indicating the fields to update. Example: `\"displayName,postalCodeArea.regionCode\"`.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "Region"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions/{regionsId}",
              "id": "merchantapi.accounts.regions.patch",
              "path": "accounts/v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Region"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "PATCH",
              "description": "Updates a region definition in your Merchant Center account. Executing this method requires admin access."
            }
          }
        },
        "programs": {
          "methods": {
            "disable": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}:disable",
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1beta/{+name}:disable",
              "httpMethod": "POST",
              "response": {
                "$ref": "Program"
              },
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/programs/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the program for which to disable participation for the given account. Format: `accounts/{account}/programs/{program}`. For example, `accounts/123456/programs/free-listings`.",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "DisableProgramRequest"
              },
              "description": "Disable participation in the specified program for the account.",
              "id": "merchantapi.accounts.programs.disable"
            },
            "get": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}",
              "description": "Retrieves the specified program for the account.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the program to retrieve. Format: `accounts/{account}/programs/{program}`. For example, `accounts/123456/programs/free-listings`.",
                  "pattern": "^accounts/[^/]+/programs/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "path": "accounts/v1beta/{+name}",
              "id": "merchantapi.accounts.programs.get",
              "response": {
                "$ref": "Program"
              }
            },
            "enable": {
              "path": "accounts/v1beta/{+name}:enable",
              "request": {
                "$ref": "EnableProgramRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Program"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.programs.enable",
              "description": "Enable participation in the specified program for the account.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}:enable",
              "parameters": {
                "name": {
                  "description": "Required. The name of the program for which to enable participation for the given account. Format: `accounts/{account}/programs/{program}`. For example, `accounts/123456/programs/free-listings`.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/programs/[^/]+$"
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "path": "accounts/v1beta/{+parent}/programs",
              "description": "Retrieves all programs for the account.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/programs",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the account for which to retrieve all programs. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of programs to return in a single response. If unspecified (or 0), a default size of 1000 is used. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A continuation token, received from a previous `ListPrograms` call. Provide this to retrieve the next page."
                }
              },
              "id": "merchantapi.accounts.programs.list",
              "response": {
                "$ref": "ListProgramsResponse"
              }
            }
          },
          "resources": {
            "checkoutSettings": {
              "methods": {
                "create": {
                  "description": "Creates `CheckoutSettings` for the given merchant.",
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "path": "accounts/v1beta/{+parent}/checkoutSettings",
                  "request": {
                    "$ref": "CheckoutSettings"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^accounts/[^/]+/programs/[^/]+$",
                      "description": "Required. The merchant account for which the `CheckoutSettings` will be created.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "merchantapi.accounts.programs.checkoutSettings.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "response": {
                    "$ref": "CheckoutSettings"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "updateCheckoutSettings": {
                  "request": {
                    "$ref": "CheckoutSettings"
                  },
                  "response": {
                    "$ref": "CheckoutSettings"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/programs/[^/]+/checkoutSettings$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Identifier. The resource name of the program configuration settings. Format: `accounts/{account}/programs/{program}/checkoutSettings`"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Required. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `eligible_destinations` - `uri_settings`",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "id": "merchantapi.accounts.programs.checkoutSettings.updateCheckoutSettings",
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "path": "accounts/v1beta/{+name}",
                  "description": "Updates `CheckoutSettings` for the given merchant.",
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH"
                },
                "deleteCheckoutSettings": {
                  "description": "Deletes `CheckoutSettings` and unenrolls merchant from `Checkout` program.",
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/programs/[^/]+/checkoutSettings$",
                      "description": "Required. The name/identifier of the merchant account. Format: `accounts/{account}/programs/{program}/checkoutSettings`",
                      "location": "path"
                    }
                  },
                  "path": "accounts/v1beta/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "id": "merchantapi.accounts.programs.checkoutSettings.deleteCheckoutSettings"
                },
                "getCheckoutSettings": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name/identifier of the merchant account. Format: `accounts/{account}/programs/{program}/checkoutSettings`",
                      "pattern": "^accounts/[^/]+/programs/[^/]+/checkoutSettings$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "merchantapi.accounts.programs.checkoutSettings.getCheckoutSettings",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "description": "Gets `CheckoutSettings` for the given merchant. This includes information about review state, enrollment state and URL settings.",
                  "path": "accounts/v1beta/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "response": {
                    "$ref": "CheckoutSettings"
                  }
                }
              }
            }
          }
        },
        "automaticImprovements": {
          "methods": {
            "getAutomaticImprovements": {
              "id": "merchantapi.accounts.automaticImprovements.getAutomaticImprovements",
              "response": {
                "$ref": "AutomaticImprovements"
              },
              "httpMethod": "GET",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/automaticImprovements",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+/automaticImprovements$",
                  "type": "string",
                  "description": "Required. The resource name of the automatic improvements. Format: `accounts/{account}/automaticImprovements`",
                  "required": true
                }
              },
              "path": "accounts/v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Retrieves the automatic improvements of an account.",
              "parameterOrder": [
                "name"
              ]
            },
            "updateAutomaticImprovements": {
              "parameterOrder": [
                "name"
              ],
              "description": "Updates the automatic improvements of an account.",
              "httpMethod": "PATCH",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/automaticImprovements",
              "request": {
                "$ref": "AutomaticImprovements"
              },
              "response": {
                "$ref": "AutomaticImprovements"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/automaticImprovements$",
                  "location": "path",
                  "description": "Identifier. The resource name of the automatic improvements. Format: `accounts/{account}/automaticImprovements`.",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Required. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `item_updates` - `item_updates.account_level_settings` - `image_improvements` - `image_improvements.account_level_settings` - `shipping_improvements` - `shipping_improvements.allow_shipping_improvements`",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "accounts/v1beta/{+name}",
              "id": "merchantapi.accounts.automaticImprovements.updateAutomaticImprovements"
            }
          }
        },
        "services": {
          "methods": {
            "propose": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The resource name of the parent account for the service. Format: `accounts/{account}`",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "AccountService"
              },
              "description": "Propose an account service.",
              "id": "merchantapi.accounts.services.propose",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services:propose",
              "path": "accounts/v1beta/{+parent}/services:propose",
              "httpMethod": "POST",
              "request": {
                "$ref": "ProposeAccountServiceRequest"
              }
            },
            "list": {
              "id": "merchantapi.accounts.services.list",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of elements to return in the response. Use for paging. If no `page_size` is specified, `100` is used as the default value. The maximum allowed value is `1000`."
                },
                "parent": {
                  "description": "Required. The parent account of the account service to filter by. Format: `accounts/{account}`",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The token returned by the previous `list` request."
                }
              },
              "path": "accounts/v1beta/{+parent}/services",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "ListAccountServicesResponse"
              },
              "description": "List account services for the specified accounts. Supports filtering."
            },
            "approve": {
              "description": "Approve an account service proposal.",
              "response": {
                "$ref": "AccountService"
              },
              "request": {
                "$ref": "ApproveAccountServiceRequest"
              },
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the account service to approve. Format: `accounts/{account}/services/{service}`",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/services/[^/]+$"
                }
              },
              "id": "merchantapi.accounts.services.approve",
              "httpMethod": "POST",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services/{servicesId}:approve",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+name}:approve"
            },
            "reject": {
              "id": "merchantapi.accounts.services.reject",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/services/[^/]+$",
                  "description": "Required. The resource name of the account service to reject. Format: `accounts/{account}/services/{service}`",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "POST",
              "path": "accounts/v1beta/{+name}:reject",
              "description": "Reject an account service (both proposed and approve services can be rejected).",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services/{servicesId}:reject",
              "request": {
                "$ref": "RejectAccountServiceRequest"
              }
            },
            "get": {
              "path": "accounts/v1beta/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services/{servicesId}",
              "id": "merchantapi.accounts.services.get",
              "description": "Retrieve an account service.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "AccountService"
              },
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the account service to get. Format: `accounts/{account}/services/{service}`",
                  "pattern": "^accounts/[^/]+/services/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "gbpAccounts": {
          "methods": {
            "linkGbpAccount": {
              "path": "accounts/v1beta/{+parent}/gbpAccounts:linkGbpAccount",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/gbpAccounts:linkGbpAccount",
              "description": "Link the specified merchant to a GBP account for all countries. To run this method, you must have admin access to the Merchant Center account. If you don't have admin access, the request fails with the error message `User is not an administrator of account {ACCOUNT_ID}`.",
              "request": {
                "$ref": "LinkGbpAccountRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "LinkGbpAccountResponse"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the parent resource to which the GBP account is linked. Format: `accounts/{account}`.",
                  "required": true,
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "merchantapi.accounts.gbpAccounts.linkGbpAccount"
            },
            "list": {
              "id": "merchantapi.accounts.gbpAccounts.list",
              "description": "List the GBP accounts for a given merchant.",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListGbpAccounts` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `ListGbpAccounts` must match the call that provided the page token.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of `GbpAccount` resources to return. The service returns fewer than this value if the number of gbp accounts is less that than the `pageSize`. The default value is 50. The maximum value is 1000; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum."
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the parent resource under which the GBP accounts are listed. Format: `accounts/{account}`."
                }
              },
              "response": {
                "$ref": "ListGbpAccountsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+parent}/gbpAccounts",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/gbpAccounts",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "autofeedSettings": {
          "methods": {
            "updateAutofeedSettings": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/autofeedSettings$",
                  "description": "Identifier. The resource name of the autofeed settings. Format: `accounts/{account}/autofeedSettings`."
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. List of fields being updated."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "AutofeedSettings"
              },
              "path": "accounts/v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/autofeedSettings",
              "description": "Updates the autofeed settings of an account.",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "AutofeedSettings"
              },
              "id": "merchantapi.accounts.autofeedSettings.updateAutofeedSettings"
            },
            "getAutofeedSettings": {
              "httpMethod": "GET",
              "id": "merchantapi.accounts.autofeedSettings.getAutofeedSettings",
              "path": "accounts/v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/autofeedSettings",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Retrieves the autofeed settings of an account.",
              "response": {
                "$ref": "AutofeedSettings"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name of the autofeed settings. Format: `accounts/{account}/autofeedSettings`",
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+/autofeedSettings$"
                }
              }
            }
          }
        },
        "users": {
          "resources": {
            "me": {
              "methods": {
                "verifySelf": {
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "parameters": {
                    "account": {
                      "pattern": "^accounts/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the account under which the caller is a user. Format: `accounts/{account}`"
                    }
                  },
                  "response": {
                    "$ref": "User"
                  },
                  "id": "merchantapi.accounts.users.me.verifySelf",
                  "description": "Updates the user that is represented by the caller from pending to verified.",
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/users/me:verifySelf",
                  "path": "accounts/v1beta/{+account}/users/me:verifySelf",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "VerifySelfRequest"
                  },
                  "parameterOrder": [
                    "account"
                  ]
                }
              }
            }
          },
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes a Merchant Center account user. Executing this method requires admin access. The user to be deleted can't be the last admin user of that account.",
              "id": "merchantapi.accounts.users.delete",
              "parameters": {
                "name": {
                  "description": "Required. The name of the user to delete. Format: `accounts/{account}/users/{email}` It is also possible to delete the user corresponding to the caller by using `me` rather than an email address as in `accounts/{account}/users/me`.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+/users/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1beta/{+name}"
            },
            "create": {
              "response": {
                "$ref": "User"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "User"
              },
              "description": "Creates a Merchant Center account user. Executing this method requires admin access.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users",
              "parameterOrder": [
                "parent"
              ],
              "id": "merchantapi.accounts.users.create",
              "path": "accounts/v1beta/{+parent}/users",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "userId": {
                  "description": "Required. The email address of the user (for example, `john.doe@gmail.com`).",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the account for which a user will be created. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path"
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "User"
              },
              "id": "merchantapi.accounts.users.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/users/[^/]+$",
                  "description": "Required. The name of the user to retrieve. Format: `accounts/{account}/users/{email}` It is also possible to retrieve the user corresponding to the caller by using `me` rather than an email address as in `accounts/{account}/users/me`.",
                  "required": true
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Retrieves a Merchant Center account user.",
              "path": "accounts/v1beta/{+name}"
            },
            "list": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The parent, which owns this collection of users. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "description": "Optional. The maximum number of users to return. The service may return fewer than this value. If unspecified, at most 50 users will be returned. The maximum value is 100; values above 100 will be coerced to 100",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListUsers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUsers` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                }
              },
              "path": "accounts/v1beta/{+parent}/users",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users",
              "httpMethod": "GET",
              "id": "merchantapi.accounts.users.list",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "ListUsersResponse"
              },
              "description": "Lists all users of a Merchant Center account."
            },
            "patch": {
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `access_rights`"
                },
                "name": {
                  "required": true,
                  "pattern": "^accounts/[^/]+/users/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Identifier. The resource name of the user. Format: `accounts/{account}/user/{email}` Use `me` to refer to your own email address, for example `accounts/{account}/users/me`."
                }
              },
              "request": {
                "$ref": "User"
              },
              "response": {
                "$ref": "User"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+name}",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}",
              "id": "merchantapi.accounts.users.patch",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a Merchant Center account user. Executing this method requires admin access."
            }
          }
        },
        "emailPreferences": {
          "methods": {
            "updateEmailPreferences": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^accounts/[^/]+/users/[^/]+/emailPreferences$",
                  "type": "string",
                  "description": "Identifier. The name of the EmailPreferences. The endpoint is only supported for the authenticated user.",
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Required. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `news_and_tips`",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}/emailPreferences",
              "id": "merchantapi.accounts.emailPreferences.updateEmailPreferences",
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1beta/{+name}",
              "response": {
                "$ref": "EmailPreferences"
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "EmailPreferences"
              },
              "description": "Updates the email preferences for a Merchant Center account user. Advanced account users should specify the advanced account rather than a sub-account of the advanced account. Preferences which are not explicitly selected in the update mask will not be updated. It is invalid for updates to specify an UNCONFIRMED opt-in status value. Use the name=accounts/*/users/me/emailPreferences alias to update preferences for the authenticated user."
            },
            "getEmailPreferences": {
              "id": "merchantapi.accounts.emailPreferences.getEmailPreferences",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}/emailPreferences",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1beta/{+name}",
              "response": {
                "$ref": "EmailPreferences"
              },
              "description": "Returns the email preferences for a Merchant Center account user. This service only permits retrieving and updating email preferences for the authenticated user. Use the name=accounts/*/users/me/emailPreferences alias to get preferences for the authenticated user.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the `EmailPreferences` resource. Format: `accounts/{account}/users/{email}/emailPreferences`",
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/users/[^/]+/emailPreferences$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        },
        "omnichannelSettings": {
          "resources": {
            "lfpProviders": {
              "methods": {
                "linkLfpProvider": {
                  "httpMethod": "POST",
                  "id": "merchantapi.accounts.omnichannelSettings.lfpProviders.linkLfpProvider",
                  "response": {
                    "$ref": "LinkLfpProviderResponse"
                  },
                  "path": "accounts/v1beta/{+name}:linkLfpProvider",
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "request": {
                    "$ref": "LinkLfpProviderRequest"
                  },
                  "description": "Link the specified merchant to a LFP provider for the specified country.",
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}/lfpProviders/{lfpProvidersId}:linkLfpProvider",
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+/lfpProviders/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the LFP provider resource to link. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}/lfpProviders/{lfp_provider}`. The `lfp_provider` is the LFP provider ID."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "find": {
                  "response": {
                    "$ref": "FindLfpProvidersResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Find the LFP provider candidates in a given country.",
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}/lfpProviders:find",
                  "path": "accounts/v1beta/{+parent}/lfpProviders:find",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "merchantapi.accounts.omnichannelSettings.lfpProviders.find",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `FindLfpProviders` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `FindLfpProviders` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of `LfpProvider` resources to return. The service returns fewer than this value if the number of lfp providers is less that than the `pageSize`. The default value is 50. The maximum value is 1000; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "description": "Required. The name of the parent resource under which the LFP providers are found. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`.",
                      "required": true,
                      "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "patch": {
              "request": {
                "$ref": "OmnichannelSetting"
              },
              "path": "accounts/v1beta/{+name}",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The list of fields to be updated. The following fields are supported in snake_case only: - `lsf_type` - `in_stock` - `pickup` - `odo` - `about` - `inventory_verification` Full replacement with wildcard `*`is supported, while empty/implied update mask is not.",
                  "format": "google-fieldmask"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Identifier. The resource name of the omnichannel setting. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`",
                  "required": true,
                  "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.omnichannelSettings.patch",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}",
              "description": "Update the omnichannel setting for a given merchant in a given country.",
              "response": {
                "$ref": "OmnichannelSetting"
              },
              "httpMethod": "PATCH"
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListOmnichannelSettingsResponse"
              },
              "description": "List all the omnichannel settings for a given merchant.",
              "id": "merchantapi.accounts.omnichannelSettings.list",
              "path": "accounts/v1beta/{+parent}/omnichannelSettings",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListOmnichannelSettings` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOmnichannelSettings` must match the call that provided the page token."
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of omnichannel settings to return. The service may return fewer than this value. If unspecified, at most 50 omnichannel settings will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "description": "Required. The parent, which owns this collection of omnichannel settings. Format: `accounts/{account}`",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the omnichannel setting to retrieve. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$",
                  "type": "string"
                }
              },
              "id": "merchantapi.accounts.omnichannelSettings.get",
              "description": "Get the omnichannel settings for a given merchant.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1beta/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "OmnichannelSetting"
              }
            },
            "requestInventoryVerification": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}:requestInventoryVerification",
              "description": "Requests inventory verification for a given merchant in a given country.",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the omnichannel setting to request inventory verification. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`",
                  "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "RequestInventoryVerificationRequest"
              },
              "path": "accounts/v1beta/{+name}:requestInventoryVerification",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "RequestInventoryVerificationResponse"
              },
              "id": "merchantapi.accounts.omnichannelSettings.requestInventoryVerification",
              "httpMethod": "POST"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Create the omnichannel settings for a given merchant.",
              "response": {
                "$ref": "OmnichannelSetting"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "OmnichannelSetting"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The parent resource where this omnichannel setting will be created. Format: `accounts/{account}`",
                  "required": true
                }
              },
              "id": "merchantapi.accounts.omnichannelSettings.create",
              "path": "accounts/v1beta/{+parent}/omnichannelSettings",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings"
            }
          }
        },
        "onlineReturnPolicies": {
          "methods": {
            "patch": {
              "request": {
                "$ref": "OnlineReturnPolicy"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "OnlineReturnPolicy"
              },
              "description": "Updates an existing return policy for a given business.",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "description": "Optional. Only support updating the entire OnlineReturnPolicy message. For update_mask, always use `*`.",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/onlineReturnPolicies/[^/]+$",
                  "description": "Identifier. The name of the `OnlineReturnPolicy` resource. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.onlineReturnPolicies.patch",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies/{onlineReturnPoliciesId}",
              "path": "accounts/v1beta/{+name}"
            },
            "get": {
              "id": "merchantapi.accounts.onlineReturnPolicies.get",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies/{onlineReturnPoliciesId}",
              "httpMethod": "GET",
              "description": "Gets an existing return policy for a given business.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/onlineReturnPolicies/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the return policy to retrieve. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`"
                }
              },
              "response": {
                "$ref": "OnlineReturnPolicy"
              },
              "path": "accounts/v1beta/{+name}"
            },
            "list": {
              "path": "accounts/v1beta/{+parent}/onlineReturnPolicies",
              "response": {
                "$ref": "ListOnlineReturnPoliciesResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.onlineReturnPolicies.list",
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of `OnlineReturnPolicy` resources to return. The service returns fewer than this value if the number of return policies for the given business is less that than the `pageSize`. The default value is 10. The maximum value is 100; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListOnlineReturnPolicies` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `ListOnlineReturnPolicies` must match the call that provided the page token. The token returned as nextPageToken in the response to the previous request."
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The Merchant Center account for which to list return policies. Format: `accounts/{account}`"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies",
              "description": "Lists all existing return policies for a given business."
            },
            "create": {
              "request": {
                "$ref": "OnlineReturnPolicy"
              },
              "path": "accounts/v1beta/{+parent}/onlineReturnPolicies",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The Merchant Center account for which the return policy will be created. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "OnlineReturnPolicy"
              },
              "id": "merchantapi.accounts.onlineReturnPolicies.create",
              "description": "Creates a new return policy for a given business.",
              "httpMethod": "POST"
            },
            "delete": {
              "path": "accounts/v1beta/{+name}",
              "httpMethod": "DELETE",
              "description": "Deletes an existing return policy.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies/{onlineReturnPoliciesId}",
              "response": {
                "$ref": "Empty"
              },
              "id": "merchantapi.accounts.onlineReturnPolicies.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the return policy to delete. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`",
                  "pattern": "^accounts/[^/]+/onlineReturnPolicies/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        },
        "homepage": {
          "methods": {
            "unclaim": {
              "path": "accounts/v1beta/{+name}:unclaim",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/homepage:unclaim",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/homepage$",
                  "location": "path",
                  "description": "Required. The name of the homepage to unclaim. Format: `accounts/{account}/homepage`"
                }
              },
              "request": {
                "$ref": "UnclaimHomepageRequest"
              },
              "response": {
                "$ref": "Homepage"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.homepage.unclaim",
              "description": "Unclaims a store's homepage. Executing this method requires admin access."
            },
            "claim": {
              "request": {
                "$ref": "ClaimHomepageRequest"
              },
              "description": "Claims a store's homepage. Executing this method requires admin access. If the homepage is already claimed, this will recheck the verification (unless the business is exempted from claiming, which also exempts from verification) and return a successful response. If ownership can no longer be verified, it will return an error, but it won't clear the claim. In case of failure, a canonical error message is returned: * PERMISSION_DENIED: User doesn't have the necessary permissions on this Merchant Center account. * FAILED_PRECONDITION: - The account is not a Merchant Center account. - Merchant Center account doesn't have a homepage. - Claiming failed (in this case the error message contains more details).",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/homepage:claim",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the homepage to claim. Format: `accounts/{account}/homepage`",
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+/homepage$"
                }
              },
              "id": "merchantapi.accounts.homepage.claim",
              "response": {
                "$ref": "Homepage"
              },
              "path": "accounts/v1beta/{+name}:claim",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "getHomepage": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Homepage"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the homepage to retrieve. Format: `accounts/{account}/homepage`",
                  "required": true,
                  "pattern": "^accounts/[^/]+/homepage$"
                }
              },
              "id": "merchantapi.accounts.homepage.getHomepage",
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1beta/{+name}",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/homepage",
              "description": "Retrieves a store's homepage."
            },
            "updateHomepage": {
              "path": "accounts/v1beta/{+name}",
              "request": {
                "$ref": "Homepage"
              },
              "description": "Updates a store's homepage. Executing this method requires admin access.",
              "id": "merchantapi.accounts.homepage.updateHomepage",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Homepage"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `uri`",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/homepage$",
                  "description": "Identifier. The resource name of the store's homepage. Format: `accounts/{account}/homepage`",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/homepage"
            }
          }
        },
        "developerRegistration": {
          "methods": {
            "getAccountForGcpRegistration": {
              "flatPath": "accounts/v1beta/accounts:getAccountForGcpRegistration",
              "path": "accounts/v1beta/accounts:getAccountForGcpRegistration",
              "parameters": {},
              "description": "Retrieves the merchant account that the calling GCP is registered with.",
              "httpMethod": "GET",
              "response": {
                "$ref": "GetAccountForGcpRegistrationResponse"
              },
              "id": "merchantapi.accounts.developerRegistration.getAccountForGcpRegistration",
              "parameterOrder": [],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "unregisterGcp": {
              "id": "merchantapi.accounts.developerRegistration.unregisterGcp",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+/developerRegistration$",
                  "description": "Required. The name of the developer registration to be created for the merchant account that the GCP will be registered with. Format: `accounts/{account}/developerRegistration`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "POST",
              "description": "Unregister the calling GCP from the calling shopping account. Note that the GCP will still be able to access the API for at most 1 day from the unregister succussful call.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/developerRegistration:unregisterGcp",
              "request": {
                "$ref": "UnregisterGcpRequest"
              },
              "path": "accounts/v1beta/{+name}:unregisterGcp"
            },
            "registerGcp": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/developerRegistration:registerGcp",
              "description": "Registers the GCP used for the API call to the shopping account passed in the request. Will create a user with an \"API developer\" and add the \"developer_email\" as a contact with \"API notifications\" email preference on. Restrictions: * The caller account must be authenticated and must not impersonate another account at registration time. Registering for subaccounts is not supported if the caller account is authenticated with the parent or the managing advanced account. * The caller account must have a [verified website](https://support.google.com/merchants/answer/11586344) in Merchant Center. * [Test accounts](https://developers.google.com/merchant/api/guides/accounts/test-accounts) are not eligible for registration.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^accounts/[^/]+/developerRegistration$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the developer registration to be created for the merchant account that the GCP will be registered with. Format: `accounts/{account}/developerRegistration` The {account} used must be the same account where user calling this API method is directly added to. Note: The account used must be a production account (can't be a [test account](https://developers.google.com/merchant/api/guides/accounts/test-accounts) ) and must have a [verified website](https://support.google.com/merchants/answer/11586344) in Merchant Center."
                }
              },
              "request": {
                "$ref": "RegisterGcpRequest"
              },
              "path": "accounts/v1beta/{+name}:registerGcp",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "DeveloperRegistration"
              },
              "id": "merchantapi.accounts.developerRegistration.registerGcp",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST"
            },
            "getDeveloperRegistration": {
              "httpMethod": "GET",
              "path": "accounts/v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/developerRegistration",
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieves a developer registration for a merchant.",
              "response": {
                "$ref": "DeveloperRegistration"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The `name` (ID) of the developer registration.",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/developerRegistration$",
                  "type": "string"
                }
              },
              "id": "merchantapi.accounts.developerRegistration.getDeveloperRegistration"
            }
          }
        },
        "businessIdentity": {
          "methods": {
            "updateBusinessIdentity": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/businessIdentity",
              "id": "merchantapi.accounts.businessIdentity.updateBusinessIdentity",
              "request": {
                "$ref": "BusinessIdentity"
              },
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/businessIdentity$",
                  "location": "path",
                  "description": "Identifier. The resource name of the business identity. Format: `accounts/{account}/businessIdentity`",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `black_owned` - `latino_owned` - `promotions_consent` - `small_business` - `veteran_owned` - `women_owned`",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+name}",
              "response": {
                "$ref": "BusinessIdentity"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "description": "Updates the business identity of an account. Executing this method requires admin access."
            },
            "getBusinessIdentity": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/businessIdentity",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET",
              "path": "accounts/v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.businessIdentity.getBusinessIdentity",
              "description": "Retrieves the business identity of an account.",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/businessIdentity$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the business identity. Format: `accounts/{account}/businessIdentity`. For example, `accounts/123456/businessIdentity`."
                }
              },
              "response": {
                "$ref": "BusinessIdentity"
              }
            }
          }
        },
        "termsOfServiceAgreementStates": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "TermsOfServiceAgreementState"
              },
              "id": "merchantapi.accounts.termsOfServiceAgreementStates.get",
              "description": "Returns the state of a terms of service agreement.",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the terms of service version. Format: `accounts/{account}/termsOfServiceAgreementStates/{identifier}` The identifier format is: `{TermsOfServiceKind}-{country}`",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/termsOfServiceAgreementStates/[^/]+$"
                }
              },
              "path": "accounts/v1beta/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/termsOfServiceAgreementStates/{termsOfServiceAgreementStatesId}"
            },
            "retrieveForApplication": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/termsOfServiceAgreementStates:retrieveForApplication",
              "description": "Retrieves the state of the agreement for the application terms of service. Application terms of service covers permissions related to the usage of data provided through Merchant Center, CSS Center, Manufacturer Center, and more.",
              "id": "merchantapi.accounts.termsOfServiceAgreementStates.retrieveForApplication",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The account for which to get a TermsOfServiceAgreementState Format: `accounts/{account}`",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "path": "accounts/v1beta/{+parent}/termsOfServiceAgreementStates:retrieveForApplication",
              "response": {
                "$ref": "TermsOfServiceAgreementState"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        },
        "shippingSettings": {
          "methods": {
            "insert": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "ShippingSettings"
              },
              "response": {
                "$ref": "ShippingSettings"
              },
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account for which this shipping setting will be inserted. If you are using an advanced account, you must specify the unique identifier of the sub-account for which you want to insert the shipping setting. Format: `accounts/{ACCOUNT_ID}`",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Replace the shipping setting of a business with the request shipping setting. Executing this method requires admin access.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/shippingSettings:insert",
              "id": "merchantapi.accounts.shippingSettings.insert",
              "path": "accounts/v1beta/{+parent}/shippingSettings:insert"
            },
            "getShippingSettings": {
              "response": {
                "$ref": "ShippingSettings"
              },
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/shippingSettings$",
                  "location": "path",
                  "description": "Required. The name of the shipping setting to retrieve. Format: `accounts/{account}/shippingsettings`",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+name}",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/shippingSettings",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Retrieve shipping setting information.",
              "id": "merchantapi.accounts.shippingSettings.getShippingSettings"
            }
          }
        },
        "relationships": {
          "methods": {
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "request": {
                "$ref": "AccountRelationship"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/relationships/{relationshipsId}",
              "id": "merchantapi.accounts.relationships.patch",
              "description": "Updates the account relationship. Executing this method requires admin access.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+name}",
              "response": {
                "$ref": "AccountRelationship"
              },
              "parameters": {
                "updateMask": {
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `account_id_alias`",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "description": "Identifier. The resource name of the account relationship. Format: `accounts/{account}/relationships/{relationship}`. For example, `accounts/123456/relationships/567890`.",
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+/relationships/[^/]+$"
                }
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.relationships.list",
              "response": {
                "$ref": "ListAccountRelationshipsResponse"
              },
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of elements to return in the response. Use for paging. If no `page_size` is specified, `100` is used as the default value. The maximum allowed value is `1000`.",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. The token returned by the previous `list` request.",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "description": "Required. The parent account of the account relationship to filter by. Format: `accounts/{account}`",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "accounts/v1beta/{+parent}/relationships",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "description": "List account relationships for the specified account.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/relationships"
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/relationships/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the account relationship to get. Format: `accounts/{account}/relationships/{relationship}`. For example, `accounts/123456/relationships/567890`."
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/relationships/{relationshipsId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "AccountRelationship"
              },
              "path": "accounts/v1beta/{+name}",
              "id": "merchantapi.accounts.relationships.get",
              "httpMethod": "GET",
              "description": "Retrieve an account relationship."
            }
          }
        },
        "businessInfo": {
          "methods": {
            "getBusinessInfo": {
              "path": "accounts/v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "BusinessInfo"
              },
              "id": "merchantapi.accounts.businessInfo.getBusinessInfo",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^accounts/[^/]+/businessInfo$",
                  "description": "Required. The resource name of the business info. Format: `accounts/{account}/businessInfo`. For example, `accounts/123456/businessInfo`.",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Retrieves the business info of an account.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/businessInfo"
            },
            "updateBusinessInfo": {
              "id": "merchantapi.accounts.businessInfo.updateBusinessInfo",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
[...]
