{
  "rootUrl": "https://merchantapi.googleapis.com/",
  "servicePath": "",
  "ownerName": "Google",
  "id": "merchantapi:lfp_v1",
  "version_module": true,
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "description": "Programmatically manage your Merchant Center Accounts.",
  "kind": "discovery#restDescription",
  "baseUrl": "https://merchantapi.googleapis.com/",
  "title": "Merchant API",
  "mtlsRootUrl": "https://merchantapi.mtls.googleapis.com/",
  "revision": "20260930",
  "discoveryVersion": "v1",
  "version": "lfp_v1",
  "schemas": {
    "CountrySettings": {
      "description": "Country-specific settings for the merchant.",
      "id": "CountrySettings",
      "type": "object",
      "properties": {
        "productPageType": {
          "readOnly": true,
          "enumDescriptions": [
            "Product page type unspecified.",
            "Google hosted product page.",
            "Merchant hosted product page.",
            "Merchant hosted store specific product page."
          ],
          "description": "Output only. The product page type selected by this merchant.",
          "type": "string",
          "enum": [
            "PRODUCT_PAGE_TYPE_UNSPECIFIED",
            "GOOGLE_HOSTED",
            "MERCHANT_HOSTED",
            "MERCHANT_HOSTED_STORE_SPECIFIC"
          ]
        },
        "freeLocalListingsEnabled": {
          "description": "True if this merchant has enabled free local listings in MC.",
          "type": "boolean"
        },
        "instockServingVerificationState": {
          "enumDescriptions": [
            "Verification state unspecified.",
            "Verification state not approved.",
            "Verification state in progress.",
            "Verification state approved."
          ],
          "type": "string",
          "enum": [
            "VERIFICATION_STATE_UNSPECIFIED",
            "VERIFICATION_STATE_NOT_APPROVED",
            "VERIFICATION_STATE_IN_PROGRESS",
            "VERIFICATION_STATE_APPROVED"
          ],
          "description": "Output only. The verification state of this merchant's instock serving feature.",
          "readOnly": true
        },
        "regionCode": {
          "description": "Required. The [CLDR territory code](https://github.com/unicode-org/cldr/blob/latest/common/main/en.xml) for the country for which these settings are defined.",
          "type": "string"
        },
        "localInventoryAdsEnabled": {
          "description": "True if this merchant has enabled local inventory ads in MC.",
          "type": "boolean"
        },
        "inventoryVerificationState": {
          "type": "string",
          "enum": [
            "VERIFICATION_STATE_UNSPECIFIED",
            "VERIFICATION_STATE_NOT_APPROVED",
            "VERIFICATION_STATE_IN_PROGRESS",
            "VERIFICATION_STATE_APPROVED"
          ],
          "description": "Output only. The verification state of this merchant's inventory check.",
          "readOnly": true,
          "enumDescriptions": [
            "Verification state unspecified.",
            "Verification state not approved.",
            "Verification state in progress.",
            "Verification state approved."
          ]
        },
        "pickupServingVerificationState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "VERIFICATION_STATE_UNSPECIFIED",
            "VERIFICATION_STATE_NOT_APPROVED",
            "VERIFICATION_STATE_IN_PROGRESS",
            "VERIFICATION_STATE_APPROVED"
          ],
          "description": "Output only. The verification state of this merchant's pickup serving feature.",
          "enumDescriptions": [
            "Verification state unspecified.",
            "Verification state not approved.",
            "Verification state in progress.",
            "Verification state approved."
          ]
        }
      }
    },
    "ProductChange": {
      "id": "ProductChange",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Countries that have the change (if applicable). Represented in the ISO 3166 format."
        },
        "newValue": {
          "type": "string",
          "description": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
        },
        "oldValue": {
          "description": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)",
          "type": "string"
        },
        "reportingContext": {
          "description": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout .",
            "Real Estate Rental Ads. ."
          ],
          "type": "string",
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT",
            "RENTAL_ADS"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        }
      },
      "description": "The change that happened to the product including old value, new value, country code as the region code and reporting context.",
      "type": "object"
    },
    "LfpSale": {
      "properties": {
        "price": {
          "$ref": "Price",
          "description": "Required. The unit price of the product."
        },
        "quantity": {
          "format": "int64",
          "description": "Required. The relative change of the available quantity. Negative for items returned.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The name of the `LfpSale` resource. Format: `accounts/{account}/lfpSales/{sale}`"
        },
        "storeCode": {
          "description": "Required. The identifier of the merchant's store. Either a `storeCode` inserted through the API or the code of the store in the Business Profile.",
          "type": "string"
        },
        "contentLanguage": {
          "type": "string",
          "description": "Required. The two-letter ISO 639-1 language code for the item."
        },
        "feedLabel": {
          "type": "string",
          "description": "Optional. The [feed label](https://developers.google.com/shopping-content/guides/products/feed-labels) for the product. If this is not set, it will default to `regionCode`."
        },
        "offerId": {
          "type": "string",
          "description": "Required. A unique identifier for the product. If both inventories and sales are submitted for a merchant, this id should match for the same product. **Note**: if the merchant sells the same product new and used, they should have different IDs."
        },
        "targetAccount": {
          "type": "string",
          "format": "int64",
          "description": "Required. The Merchant Center ID of the merchant to submit the sale for."
        },
        "saleTime": {
          "description": "Required. The timestamp for the sale.",
          "type": "string",
          "format": "google-datetime"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System generated globally unique ID for the `LfpSale`."
        },
        "gtin": {
          "type": "string",
          "description": "Required. The Global Trade Item Number of the sold product."
        },
        "regionCode": {
          "type": "string",
          "description": "Required. The [CLDR territory code](https://github.com/unicode-org/cldr/blob/latest/common/main/en.xml) for the country where the product is sold."
        }
      },
      "id": "LfpSale",
      "description": "A sale for the merchant.",
      "type": "object"
    },
    "LfpInventory": {
      "properties": {
        "storeCode": {
          "type": "string",
          "description": "Required. The identifier of the merchant's store. Either the store code inserted through `InsertLfpStore` or the store code in the Business Profile."
        },
        "collectionTime": {
          "format": "google-datetime",
          "description": "Optional. The time when the inventory is collected. If not set, it will be set to the time when the inventory is submitted.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. The name for the `LfpInventory` resource. Format: `accounts/{account}/lfpInventories/{target_merchant}~{store_code}~{offer}`",
          "type": "string",
          "readOnly": true
        },
        "feedLabel": {
          "description": "Optional. The [feed label](https://developers.google.com/shopping-content/guides/products/feed-labels) for the product. If this is not set, it will default to `regionCode`.",
          "type": "string"
        },
        "offerId": {
          "description": "Required. Immutable. A unique identifier for the product. If both inventories and sales are submitted for a merchant, this id should match for the same product. **Note**: if the merchant sells the same product new and used, they should have different IDs.",
          "type": "string"
        },
        "price": {
          "$ref": "Price",
          "description": "Optional. The current price of the product."
        },
        "contentLanguage": {
          "description": "Required. The two-letter ISO 639-1 language code for the item.",
          "type": "string"
        },
        "quantity": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Quantity of the product available at this store. Must be greater than or equal to zero."
        },
        "availability": {
          "type": "string",
          "description": "Required. Availability of the product at this store. For accepted attribute values, see the [local product inventory data specification](https://support.google.com/merchants/answer/3061342)"
        },
        "pickupMethod": {
          "type": "string",
          "description": "Optional. Supported pickup method for this offer. Unless the value is \"not supported\", this field must be submitted together with `pickupSla`. For accepted attribute values, see the [local product inventory data specification](https://support.google.com/merchants/answer/3061342)."
        },
        "pickupSla": {
          "description": "Optional. Expected date that an order will be ready for pickup relative to the order date. Must be submitted together with `pickupMethod`. For accepted attribute values, see the [local product inventory data specification](https://support.google.com/merchants/answer/3061342).",
          "type": "string"
        },
        "targetAccount": {
          "description": "Required. The Merchant Center ID of the merchant to submit the inventory for.",
          "format": "int64",
          "type": "string"
        },
        "gtin": {
          "type": "string",
          "description": "Optional. The Global Trade Item Number of the product."
        },
        "regionCode": {
          "description": "Required. The [CLDR territory code](https://github.com/unicode-org/cldr/blob/latest/common/main/en.xml) for the country where the product is sold.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LfpInventory",
      "description": "Local Inventory for the merchant."
    },
    "LfpMerchantState": {
      "id": "LfpMerchantState",
      "properties": {
        "linkedGbps": {
          "type": "string",
          "format": "int64",
          "description": "Number of [GBPs](https://www.google.com/business/) this merchant has access to."
        },
        "name": {
          "description": "Identifier. The name of the `LfpMerchantState` resource. Format: `accounts/{account}/lfpMerchantStates/{target_merchant}`. For example, `accounts/123456/lfpMerchantStates/567890`.",
          "type": "string"
        },
        "inventoryStats": {
          "description": "The inventory statistics for the merchant. The field will be absent if the merchant has no inventory submitted through LFP.",
          "$ref": "InventoryStats"
        },
        "countrySettings": {
          "description": "Country-specific settings for the merchant.",
          "items": {
            "$ref": "CountrySettings"
          },
          "type": "array"
        },
        "storeStates": {
          "items": {
            "$ref": "LfpStoreState"
          },
          "readOnly": true,
          "description": "Output only. The state per store from the specified merchant. The field will be absent if the merchant has no stores submitted through LFP.",
          "type": "array"
        }
      },
      "description": "The LFP state of a merchant.",
      "type": "object"
    },
    "ListLfpStoresResponse": {
      "id": "ListLfpStoresResponse",
      "description": "Response message for the ListLfpStores method.",
      "type": "object",
      "properties": {
        "lfpStores": {
          "description": "The stores from the specified merchant.",
          "type": "array",
          "items": {
            "$ref": "LfpStore"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "ProductStatusChangeMessage": {
      "id": "ProductStatusChangeMessage",
      "properties": {
        "managingAccount": {
          "description": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`",
          "type": "string"
        },
        "eventTime": {
          "description": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications.",
          "type": "string",
          "format": "google-datetime"
        },
        "account": {
          "description": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`",
          "type": "string"
        },
        "changes": {
          "description": "A message to describe the change that happened to the product",
          "items": {
            "$ref": "ProductChange"
          },
          "type": "array"
        },
        "expirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event."
        },
        "resourceId": {
          "type": "string",
          "description": "The product id."
        },
        "attribute": {
          "type": "string",
          "enum": [
            "ATTRIBUTE_UNSPECIFIED",
            "STATUS"
          ],
          "enumDescriptions": [
            "Unspecified attribute",
            "Status of the changed entity"
          ],
          "description": "The attribute in the resource that changed, in this case it will be always `Status`."
        },
        "resource": {
          "type": "string",
          "description": "The product name. Format: `accounts/{account}/products/{product}`"
        },
        "resourceType": {
          "description": "The resource that changed, in this case it will always be `Product`.",
          "type": "string",
          "enum": [
            "RESOURCE_UNSPECIFIED",
            "PRODUCT",
            "ACCOUNT_SERVICE"
          ],
          "enumDescriptions": [
            "Unspecified resource",
            "Resource type : product",
            "Account service"
          ]
        }
      },
      "description": "The message that the merchant will receive to notify about product status change event",
      "type": "object"
    },
    "LfpStore": {
      "type": "object",
      "description": "A store for the merchant. This will be used to match to a store under the Google Business Profile of the target merchant. If a matching store can't be found, the inventories or sales submitted with the store code will not be used.",
      "properties": {
        "matchingStateHint": {
          "description": "Optional. Output only. The hint of why the matching has failed. This is only set when matchingState=`STORE_MATCHING_STATE_FAILED`. Possible values are: - \"`linked-store-not-found`\": There aren't any Google Business Profile stores available for matching. - \"`store-match-not-found`\": The provided `LfpStore` couldn't be matched to any of the connected Google Business Profile stores. Merchant Center account is connected correctly and stores are available on Google Business Profile, but the `LfpStore` location address does not match with Google Business Profile stores' addresses. Update the `LfpStore` address or Google Business Profile store address to match correctly. - \"`store-match-unverified`\": The provided `LfpStore` couldn't be matched to any of the connected Google Business Profile stores, as the matched Google Business Profile store is unverified. Go through the Google Business Profile verification process to match correctly.",
          "readOnly": true,
          "type": "string"
        },
        "phoneNumber": {
          "description": "Optional. The store phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format. Example: `+15556767888`",
          "type": "string"
        },
        "storeName": {
          "description": "Optional. The merchant or store name.",
          "type": "string"
        },
        "placeId": {
          "type": "string",
          "description": "Optional. The [Google Place Id](https://developers.google.com/maps/documentation/places/web-service/place-id#id-overview) of the store location."
        },
        "websiteUri": {
          "description": "Optional. The website URL for the store or merchant.",
          "type": "string"
        },
        "matchingState": {
          "readOnly": true,
          "enumDescriptions": [
            "Store matching state unspecified.",
            "The `LfpStore` is successfully matched with a Google Business Profile store.",
            "The `LfpStore` is not matched with a Google Business Profile store."
          ],
          "type": "string",
          "enum": [
            "STORE_MATCHING_STATE_UNSPECIFIED",
            "STORE_MATCHING_STATE_MATCHED",
            "STORE_MATCHING_STATE_FAILED"
          ],
          "description": "Optional. Output only. The state of matching to a Google Business Profile. See matchingStateHint for further details if no match is found."
        },
        "targetAccount": {
          "description": "Required. The Merchant Center id of the merchant to submit the store for.",
          "format": "int64",
          "type": "string"
        },
        "gcidCategory": {
          "items": {
            "type": "string"
          },
          "description": "Optional. [Google My Business category id](https://support.google.com/business/answer/7249669).",
          "type": "array"
        },
        "storeCode": {
          "type": "string",
          "description": "Required. Immutable. A store identifier that is unique for the target merchant."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. The name of the `LfpStore` resource. Format: `accounts/{account}/lfpStores/{target_merchant}~{store_code}`",
          "type": "string"
        },
        "storeAddress": {
          "description": "Required. The street address of the store. Example: 1600 Amphitheatre Pkwy, Mountain View, CA 94043, USA.",
          "type": "string"
        }
      },
      "id": "LfpStore"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "Price": {
      "description": "The price represented as a number and currency.",
      "id": "Price",
      "type": "object",
      "properties": {
        "amountMicros": {
          "format": "int64",
          "type": "string",
          "description": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros)."
        },
        "currencyCode": {
          "description": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217).",
          "type": "string"
        }
      }
    },
    "InventoryStats": {
      "properties": {
        "submittedEntries": {
          "description": "Number of entries (understanding entry as a pair of product and store) that were built based on provided inventories/sales and submitted to Google.",
          "type": "string",
          "format": "int64"
        },
        "submittedProducts": {
          "description": "Number of products from provided inventories/sales that were created from matches to existing online products provided by the merchant or to the Google catalog.",
          "type": "string",
          "format": "int64"
        },
        "unsubmittedEntries": {
          "type": "string",
          "format": "int64",
          "description": "Number of entries that were built based on provided inventories/sales and couldn't be submitted to Google due to errors like missing product."
        },
        "submittedInStockEntries": {
          "description": "Number of submitted in stock entries.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The inventory statistics for a merchant.",
      "id": "InventoryStats"
    },
    "LfpStoreState": {
      "description": "The state of a specific merchant's store.",
      "type": "object",
      "id": "LfpStoreState",
      "properties": {
        "matchingState": {
          "enumDescriptions": [
            "Store matching state unspecified.",
            "The `LfpStore` is successfully matched with a Google Business Profile store.",
            "The `LfpStore` is not matched with a Google Business Profile store."
          ],
          "description": "Output only. The store matching state.",
          "type": "string",
          "enum": [
            "STORE_MATCHING_STATE_UNSPECIFIED",
            "STORE_MATCHING_STATE_MATCHED",
            "STORE_MATCHING_STATE_FAILED"
          ],
          "readOnly": true
        },
        "matchingStateHint": {
          "type": "string",
          "description": "The hint of why the matching has failed (only set if matching_state is FAILED)."
        },
        "storeCode": {
          "description": "Required. Immutable. The identifier of this store.",
          "type": "string"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/merchant/api",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "merchantapi",
  "ownerDomain": "google.com",
  "resources": {
    "accounts": {
      "resources": {
        "lfpSales": {
          "methods": {
            "insert": {
              "httpMethod": "POST",
              "response": {
                "$ref": "LfpSale"
              },
              "flatPath": "lfp/v1/accounts/{accountsId}/lfpSales:insert",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The LFP provider account. Format: `accounts/{lfp_partner}`",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "lfp/v1/{+parent}/lfpSales:insert",
              "request": {
                "$ref": "LfpSale"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.lfpSales.insert",
              "description": "Inserts a `LfpSale` for the given merchant."
            }
          }
        },
        "lfpMerchantStates": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+/lfpMerchantStates/[^/]+$",
                  "description": "Required. The name of the state to retrieve. Format: `accounts/{account}/lfpMerchantStates/{target_merchant}`. For example, `accounts/123456/lfpMerchantStates/567890`.",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Gets the LFP state of a merchant",
              "httpMethod": "GET",
              "id": "merchantapi.accounts.lfpMerchantStates.get",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "lfp/v1/accounts/{accountsId}/lfpMerchantStates/{lfpMerchantStatesId}",
              "response": {
                "$ref": "LfpMerchantState"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "lfp/v1/{+name}"
            }
          }
        },
        "lfpInventories": {
          "methods": {
            "insert": {
              "path": "lfp/v1/{+parent}/lfpInventories:insert",
              "response": {
                "$ref": "LfpInventory"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "lfp/v1/accounts/{accountsId}/lfpInventories:insert",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "LfpInventory"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The LFP provider account. Format: `accounts/{account}`",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "id": "merchantapi.accounts.lfpInventories.insert",
              "httpMethod": "POST",
              "description": "Inserts a `LfpInventory` resource for the given target merchant account. If the resource already exists, it will be replaced. The inventory automatically expires after 30 days."
            }
          }
        },
        "lfpStores": {
          "methods": {
            "list": {
              "id": "merchantapi.accounts.lfpStores.list",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the stores of the target merchant, specified by the filter in `ListLfpStoresRequest`.",
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of `LfpStore` resources for the given account to return. The service returns fewer than this value if the number of stores for the given account is less than the `pageSize`. The default value is 250. The maximum value is 1000; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The LFP partner. Format: `accounts/{account}`",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "targetAccount": {
                  "location": "query",
                  "description": "Required. The Merchant Center id of the merchant to list stores for.",
                  "type": "string",
                  "format": "int64"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListLfpStoresRequest` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `ListLfpStoresRequest` must match the call that provided the page token. The token returned as nextPageToken in the response to the previous request."
                }
              },
              "response": {
                "$ref": "ListLfpStoresResponse"
              },
              "path": "lfp/v1/{+parent}/lfpStores",
              "httpMethod": "GET",
              "flatPath": "lfp/v1/accounts/{accountsId}/lfpStores"
            },
            "delete": {
              "path": "lfp/v1/{+name}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/lfpStores/[^/]+$",
                  "description": "Required. The name of the store to delete for the target merchant account. Format: `accounts/{account}/lfpStores/{target_merchant}~{store_code}`",
                  "type": "string"
                }
              },
              "flatPath": "lfp/v1/accounts/{accountsId}/lfpStores/{lfpStoresId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.lfpStores.delete",
              "description": "Deletes a store for a target merchant.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "LfpStore"
              },
              "id": "merchantapi.accounts.lfpStores.get",
              "path": "lfp/v1/{+name}",
              "flatPath": "lfp/v1/accounts/{accountsId}/lfpStores/{lfpStoresId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieves information about a store.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the store to retrieve. Format: `accounts/{account}/lfpStores/{target_merchant}~{store_code}`",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/lfpStores/[^/]+$"
                }
              }
            },
            "insert": {
              "parameters": {
                "parent": {
                  "description": "Required. The LFP provider account Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "LfpStore"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "lfp/v1/accounts/{accountsId}/lfpStores:insert",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Inserts a store for the target merchant. If the store with the same store code already exists, it will be replaced.",
              "request": {
                "$ref": "LfpStore"
              },
              "path": "lfp/v1/{+parent}/lfpStores:insert",
              "id": "merchantapi.accounts.lfpStores.insert"
            }
          }
        }
      }
    }
  },
  "canonicalName": "Merchant",
  "protocol": "rest"
}