{
  "revision": "20260821",
  "ownerName": "Google",
  "protocol": "rest",
  "version_module": true,
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "description": "Programmatically manage your Merchant Center Accounts.",
  "documentationLink": "https://developers.google.com/merchant/api",
  "rootUrl": "https://merchantapi.googleapis.com/",
  "canonicalName": "Merchant",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "merchantapi:accounts_v1",
  "ownerDomain": "google.com",
  "baseUrl": "https://merchantapi.googleapis.com/",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "servicePath": "",
  "version": "accounts_v1",
  "schemas": {
    "UriSettings": {
      "description": "URL settings for cart or checkout URL.",
      "id": "UriSettings",
      "type": "object",
      "properties": {
        "cartUriTemplate": {
          "type": "string",
          "description": "Cart URL template. When the placeholders are expanded will redirect the buyer to the cart page on the merchant website with the selected item in cart. For more details, check the [help center doc](https://support.google.com/merchants/answer/13945960#method1&zippy=%2Cproduct-level-url-formatting%2Caccount-level-url-formatting)"
        },
        "checkoutUriTemplate": {
          "description": "Checkout URL template. When the placeholders are expanded will redirect the buyer to the merchant checkout page with the item in the cart. For more details, check the [help center doc](https://support.google.com/merchants/answer/13945960#method1&zippy=%2Cproduct-level-url-formatting%2Caccount-level-url-formatting)",
          "type": "string"
        }
      }
    },
    "AutomaticImageImprovements": {
      "type": "object",
      "id": "AutomaticImageImprovements",
      "description": "This improvement will attempt to automatically correct submitted images if they don't meet the [image requirements](https://support.google.com/merchants/answer/6324350), for example, removing overlays. If successful, the image will be replaced and approved. This improvement is only applied to images of disapproved offers. For more information see: [Automatic image improvements](https://support.google.com/merchants/answer/9242973)",
      "properties": {
        "accountImageImprovementsSettings": {
          "description": "Optional. Determines how the images should be automatically updated. If this field is not present and provided in the update mask, then the settings will be deleted. If there are no settings for subaccount, they are inherited from aggregator.",
          "$ref": "ImageImprovementsAccountLevelSettings"
        },
        "effectiveAllowAutomaticImageImprovements": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. The effective value of allow_automatic_image_improvements. If account_image_improvements_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. Read-only."
        }
      }
    },
    "Region": {
      "properties": {
        "geotargetArea": {
          "$ref": "GeoTargetArea",
          "description": "Optional. A list of geotargets that defines the region area."
        },
        "regionalInventoryEligible": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates if the region is eligible for use in the Regional Inventory configuration."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the region. Format: `accounts/{account}/regions/{region}`"
        },
        "shippingEligible": {
          "readOnly": true,
          "description": "Output only. Indicates if the region is eligible for use in the Shipping Services configuration.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Optional. The display name of the region.",
          "type": "string"
        },
        "radiusArea": {
          "description": "Optional. A radius area that defines the region area.",
          "$ref": "RadiusArea"
        },
        "postalCodeArea": {
          "description": "Optional. A list of postal codes that defines the region area.",
          "$ref": "PostalCodeArea"
        }
      },
      "description": "Represents a geographic region that you can use as a target with both the `RegionalInventory` and `ShippingSettings` services. You can define regions as collections of either postal codes, radius areas or, in some countries, using predefined geotargets. A region must be defined by specifying exactly one of `postal_code_area`, `geotarget_area`, or `radius_area`. For more information, see [Set up regions ](https://support.google.com/merchants/answer/7410946#zippy=%2Ccreate-a-new-region) for more information.",
      "id": "Region",
      "type": "object"
    },
    "DeveloperRegistration": {
      "description": "Represents a developer registration owned by a Merchant account.",
      "id": "DeveloperRegistration",
      "properties": {
        "name": {
          "description": "Identifier. The `name` (ID) of the developer registration. Generated upon creation of a new `DeveloperRegistration`. The `account` represents the merchant ID of the merchant that owns the registration.",
          "type": "string"
        },
        "gcpIds": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The GCP ids attached to this developer registration",
          "type": "array"
        }
      },
      "type": "object"
    },
    "TransitTimeRow": {
      "type": "object",
      "id": "TransitTimeRow",
      "description": "If there's only one dimension set of `postal_code_group_names` or `transit_time_labels`, there are multiple rows each with one value for that dimension. If there are two dimensions, each row corresponds to a `postal_code_group_names`, and columns (values) to a `transit_time_labels`.",
      "properties": {
        "values": {
          "type": "array",
          "description": "Required. Transit time range (min-max) in business days.",
          "items": {
            "$ref": "TransitTimeValue"
          }
        }
      }
    },
    "LoyaltyProgram": {
      "properties": {
        "programLabel": {
          "description": "This is the loyalty program label set in your loyalty program settings in Merchant Center. This sub-attribute allows Google to map your loyalty program to eligible offers.",
          "type": "string"
        },
        "loyaltyProgramTiers": {
          "description": "Optional. Loyalty program tier of this shipping service.",
          "items": {
            "$ref": "LoyaltyProgramTiers"
          },
          "type": "array"
        }
      },
      "id": "LoyaltyProgram",
      "description": "[Loyalty program](https://support.google.com/merchants/answer/12922446) provided by a business.",
      "type": "object"
    },
    "ItemUpdatesAccountLevelSettings": {
      "type": "object",
      "description": "Settings for the Automatic Item Updates.",
      "properties": {
        "allowPriceUpdates": {
          "description": "If price updates are enabled, Google always updates the active price with the crawled information.",
          "type": "boolean"
        },
        "allowConditionUpdates": {
          "description": "If condition updates are enabled, Google always updates item condition with the condition detected from the details of your product.",
          "type": "boolean"
        },
        "allowAvailabilityUpdates": {
          "type": "boolean",
          "description": "If availability updates are enabled, any previous availability values get overwritten if Google finds an out-of-stock annotation on the offer's page. If additionally `allow_strict_availability_updates` field is set to true, values get overwritten if Google finds an in-stock annotation on the offer’s page."
        },
        "allowStrictAvailabilityUpdates": {
          "description": "If `allow_availability_updates` is enabled, items are automatically updated in all your Shopping target countries. By default, availability updates will only be applied to items that are 'out of stock' on your website but 'in stock' on Shopping. Set this to true to also update items that are 'in stock' on your website, but 'out of stock' on Google Shopping. In order for this field to have an effect, you must also set `allow_availability_updates`.",
          "type": "boolean"
        }
      },
      "id": "ItemUpdatesAccountLevelSettings"
    },
    "PostalCodeRange": {
      "type": "object",
      "id": "PostalCodeRange",
      "description": "A range of postal codes that defines the region area.",
      "properties": {
        "begin": {
          "description": "Required. A postal code or a pattern of the form prefix* denoting the inclusive lower bound of the range defining the area. Examples values: `94108`, `9410*`, `9*`.",
          "type": "string"
        },
        "end": {
          "type": "string",
          "description": "Optional. A postal code or a pattern of the form `prefix*` denoting the inclusive upper bound of the range defining the area. It must have the same length as postalCodeRangeBegin: if postalCodeRangeBegin is a postal code then postalCodeRangeEnd must be a postal code too; if postalCodeRangeBegin is a pattern then postalCodeRangeEnd must be a pattern with the same prefix length. Optional: if not set, then the area is defined as being all the postal codes matching postalCodeRangeBegin."
        }
      }
    },
    "InStock": {
      "type": "object",
      "id": "InStock",
      "description": "Collection of information related to InStock.",
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ],
          "description": "Output only. The state of the in-stock serving."
        },
        "uri": {
          "description": "Optional. Product landing page URI. It is only used for the review of MHLSF in-stock serving. This URI domain should match with the business's homepage. Required to be empty if the lsf_type is GHLSF, and required when the lsf_type is MHLSF_FULL or MHLSF_BASIC.",
          "type": "string"
        }
      }
    },
    "AccountManagement": {
      "type": "object",
      "properties": {},
      "id": "AccountManagement",
      "description": "`AccountManagement` payload."
    },
    "ListAccountsResponse": {
      "description": "Response message for the `accounts.list` method.",
      "id": "ListAccountsResponse",
      "type": "object",
      "properties": {
        "accounts": {
          "description": "The accounts matching the `ListAccountsRequest`.",
          "type": "array",
          "items": {
            "$ref": "Account"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "TransitTable": {
      "description": "Transit time table, number of business days spent in transit based on row and column dimensions. Either `min_transit_days`, `max_transit_days` or `transit_time_table` can be set, but not both.",
      "type": "object",
      "properties": {
        "transitTimeLabels": {
          "description": "Required. A list of transit time labels. The last value can be `\"all other labels\"`. Example: `[\"food\", \"electronics\", \"all other labels\"]`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "rows": {
          "type": "array",
          "description": "Required. If there's only one dimension set of `postal_code_group_names` or `transit_time_labels`, there are multiple rows each with one value for that dimension. If there are two dimensions, each row corresponds to a `postal_code_group_names`, and columns (values) to a `transit_time_labels`.",
          "items": {
            "$ref": "TransitTimeRow"
          }
        },
        "postalCodeGroupNames": {
          "description": "Required. A list of region names Region.name . The last value can be `\"all other locations\"`. Example: `[\"zone 1\", \"zone 2\", \"all other locations\"]`. The referred postal code groups must match the delivery country of the service.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "TransitTable"
    },
    "Policy": {
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "NUMBER_OF_DAYS_AFTER_DELIVERY",
            "NO_RETURNS",
            "LIFETIME_RETURNS"
          ],
          "description": "Policy type.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The number of days within which a return is valid after delivery.",
            "No returns.",
            "Life time returns."
          ],
          "type": "string"
        },
        "days": {
          "description": "The number of days items can be returned after delivery, where one day is defined as 24 hours after the delivery timestamp. Required for `NUMBER_OF_DAYS_AFTER_DELIVERY` returns.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "Policy",
      "description": "The available policies."
    },
    "ReturnShippingFee": {
      "type": "object",
      "properties": {
        "fixedFee": {
          "description": "Fixed return shipping fee amount. This value is only applicable when type is `FIXED`. We will treat the return shipping fee as free if type is `FIXED` and this value is not set.",
          "$ref": "Price"
        },
        "type": {
          "description": "Required. Type of return shipping fee.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FIXED",
            "CUSTOMER_PAYING_ACTUAL_FEE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The return shipping fee is a fixed value.",
            "Customers will pay the actual return shipping fee."
          ]
        }
      },
      "id": "ReturnShippingFee",
      "description": "The return shipping fee. This can either be a fixed fee or a boolean to indicate that the customer pays the actual shipping cost."
    },
    "BatchDeleteRegionsRequest": {
      "description": "Request message for the `BatchDeleteRegions` method.",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The names of the regions to delete. A maximum of 100 regions can be deleted in a batch.",
          "items": {
            "$ref": "DeleteRegionRequest"
          }
        }
      },
      "id": "BatchDeleteRegionsRequest",
      "type": "object"
    },
    "EmailPreferences": {
      "properties": {
        "newsAndTips": {
          "type": "string",
          "enumDescriptions": [
            "Opt-in status is not specified.",
            "User has opted out of receiving this type of email.",
            "User has opted in to receiving this type of email.",
            "User has opted in to receiving this type of email and the confirmation email has been sent, but user has not yet confirmed the opt in (applies only to certain countries)."
          ],
          "enum": [
            "OPT_IN_STATE_UNSPECIFIED",
            "OPTED_OUT",
            "OPTED_IN",
            "UNCONFIRMED"
          ],
          "description": "Optional. Updates on new features, tips and best practices."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the EmailPreferences. The endpoint is only supported for the authenticated user."
        }
      },
      "id": "EmailPreferences",
      "description": "The categories of notifications the user opted into / opted out of. The email preferences do not include mandatory announcements as users can't opt out of them.",
      "type": "object"
    },
    "ListGbpAccountsResponse": {
      "id": "ListGbpAccountsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "gbpAccounts": {
          "description": "The GBP accounts from the specified merchant in the specified country.",
          "type": "array",
          "items": {
            "$ref": "GbpAccount"
          }
        }
      },
      "description": "Response message for the ListGbpAccounts method.",
      "type": "object"
    },
    "GetAccountForGcpRegistrationResponse": {
      "description": "Response message for the GetAccountForGcpRegistration method.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the merchant account id that the GCP is registered with."
        }
      },
      "type": "object",
      "id": "GetAccountForGcpRegistrationResponse"
    },
    "TermsOfServiceAgreementState": {
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the terms of service version. Format: `accounts/{account}/termsOfServiceAgreementState/{identifier}` The identifier format is: `{TermsOfServiceKind}-{country}` For example, an identifier could be: `MERCHANT_CENTER-EU` or `MERCHANT_CENTER-US`.",
          "type": "string"
        },
        "accepted": {
          "$ref": "Accepted",
          "description": "Optional. The accepted terms of service of this kind and for the associated region_code"
        },
        "required": {
          "description": "Optional. The required terms of service",
          "$ref": "Required"
        },
        "termsOfServiceKind": {
          "type": "string",
          "description": "Required. Terms of Service kind associated with the particular version.",
          "enum": [
            "TERMS_OF_SERVICE_KIND_UNSPECIFIED",
            "MERCHANT_CENTER"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Terms of Service for the Merchant Center application."
          ]
        },
        "regionCode": {
          "description": "Required. Region code as defined by https://cldr.unicode.org/. This is the country the current state applies to.",
          "type": "string"
        }
      },
      "id": "TermsOfServiceAgreementState",
      "description": "This resource represents the agreement state for a given account and terms of service kind. The state is as follows: * If the business has accepted a terms of service, `accepted` will be populated, otherwise it will be empty * If the business must sign a terms of service, `required` will be populated, otherwise it will be empty. Note that both `required` and `accepted` can be present. In this case the `accepted` terms of services will have an expiration date set in the `valid_until` field. The `required` terms of services need to be accepted before `valid_until` in order for the account to continue having a valid agreement. When accepting new terms of services we expect third-party providers to display the text associated with the given terms of service agreement (the url to the file containing the text is added in the Required message below as `tos_file_uri`). The actual acceptance of the terms of service is done by calling accept on the `TermsOfService` resource. `valid_until` field.",
      "type": "object"
    },
    "ProductsManagement": {
      "description": "`ProductsManagement` payload.",
      "id": "ProductsManagement",
      "type": "object",
      "properties": {}
    },
    "VerificationMailSettings": {
      "description": "Settings related to the verification email that is sent after adding a user.",
      "properties": {
        "verificationMailMode": {
          "type": "string",
          "description": "Optional. Mode of the verification mail. If not set, the default is `SEND_VERIFICATION_MAIL`.",
          "enum": [
            "VERIFICATION_MAIL_MODE_UNSPECIFIED",
            "SEND_VERIFICATION_MAIL",
            "SUPPRESS_VERIFICATION_MAIL"
          ],
          "enumDescriptions": [
            "Default first member of every enum. Do not use.",
            "An invitation email is sent to the user added shortly after.",
            "No invitation email is sent. This can be useful if the user is expected to accept the invitation through the API without needing another notification."
          ]
        }
      },
      "type": "object",
      "id": "VerificationMailSettings"
    },
    "FindLfpProvidersResponse": {
      "id": "FindLfpProvidersResponse",
      "description": "Response message for the FindLfpProviders method.",
      "type": "object",
      "properties": {
        "lfpProviders": {
          "type": "array",
          "description": "The LFP providers from the specified merchant in the specified country.",
          "items": {
            "$ref": "LfpProvider"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "VerifySelfRequest": {
      "description": "Request message for the `VerifySelf` method.",
      "type": "object",
      "properties": {},
      "id": "VerifySelfRequest"
    },
    "User": {
      "description": "The `User` resource represents a user associated with a Merchant Center account. It is used to manage user permissions and access rights within the account. For more information, see [Frequently asked questions about people and access levels](//support.google.com/merchants/answer/12160472).",
      "properties": {
        "accessRights": {
          "type": "array",
          "description": "Required. The [access rights](https://support.google.com/merchants/answer/12160472?sjid=6789834943175119429-EU#accesstypes) the user has.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Standard access rights.",
              "Has access to the same read-only methods as STANDARD, but no access to any mutating methods.",
              "Admin access rights.",
              "Users with this right have access to performance and insights.",
              "Users with this right have access to Merchant API and its notifications. This role is only accessible to accounts that have a developer registration."
            ],
            "enum": [
              "ACCESS_RIGHT_UNSPECIFIED",
              "STANDARD",
              "READ_ONLY",
              "ADMIN",
              "PERFORMANCE_REPORTING",
              "API_DEVELOPER"
            ]
          }
        },
        "name": {
          "description": "Identifier. The resource name of the user. Format: `accounts/{account}/user/{email}` Use `me` to refer to your own email address, for example `accounts/{account}/users/me`.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "VERIFIED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The user is pending confirmation. In this state, the user first needs to accept the invitation before performing other actions.",
            "The user is verified."
          ],
          "type": "string",
          "description": "Output only. The state of the user.",
          "readOnly": true
        }
      },
      "id": "User",
      "type": "object"
    },
    "CampaignsManagement": {
      "properties": {},
      "type": "object",
      "description": "`CampaignManagement` payload.",
      "id": "CampaignsManagement"
    },
    "CreateAndConfigureAccountRequest": {
      "type": "object",
      "id": "CreateAndConfigureAccountRequest",
      "properties": {
        "account": {
          "description": "Required. The account to be created.",
          "$ref": "Account"
        },
        "service": {
          "description": "Required. An account service between the account to be created and the provider account is initialized as part of the creation. At least one such service needs to be provided. Currently exactly one of these needs to be `account_aggregation` and `accounts.createAndConfigure` method can be used to create a sub-account under an existing advanced account through this method. Additional `account_management` or `products_management` services may be provided.",
          "items": {
            "$ref": "AddAccountService"
          },
          "type": "array"
        },
        "user": {
          "type": "array",
          "items": {
            "$ref": "AddUser"
          },
          "description": "Optional. Users to be added to the account."
        },
        "setAlias": {
          "type": "array",
          "items": {
            "$ref": "SetAliasForRelationship"
          },
          "description": "Optional. If a relationship is created with a provider, you can set an alias for it with this field. The calling user must be an admin on the provider to be able to set an alias."
        }
      },
      "description": "Request message for the `CreateAndConfigureAccount` method."
    },
    "ClaimHomepageRequest": {
      "id": "ClaimHomepageRequest",
      "description": "Request message for the `ClaimHomepage` method.",
      "type": "object",
      "properties": {
        "overwrite": {
          "description": "Optional. When set to `true`, this option removes any existing claim on the requested website from any other account to the account making the request, effectively replacing the previous claim.",
          "type": "boolean"
        }
      }
    },
    "BatchCreateRegionsResponse": {
      "description": "Response message for the `BatchCreateRegions` method.",
      "properties": {
        "regions": {
          "type": "array",
          "items": {
            "$ref": "Region"
          },
          "description": "The created region(s)."
        }
      },
      "type": "object",
      "id": "BatchCreateRegionsResponse"
    },
    "AutomaticShippingImprovements": {
      "type": "object",
      "description": "Not available for [advanced accounts](https://support.google.com/merchants/answer/188487). By turning on [automatic shipping improvements](https://support.google.com/merchants/answer/10027038), you are allowing Google to improve the accuracy of your delivery times shown to shoppers using Google. More accurate delivery times, especially when faster, typically lead to better conversion rates. Google will improve your estimated delivery times based on various factors: * Delivery address of an order * Current handling time and shipping time settings * Estimated weekdays or business days * Parcel tracking data",
      "properties": {
        "allowShippingImprovements": {
          "type": "boolean",
          "description": "Enables automatic shipping improvements."
        }
      },
      "id": "AutomaticShippingImprovements"
    },
    "SeasonalOverride": {
      "type": "object",
      "properties": {
        "returnUntilDate": {
          "$ref": "Date",
          "description": "Fixed end date until which the product can be returned."
        },
        "label": {
          "type": "string",
          "description": "Required. Display name of this seasonal override in Merchant Center."
        },
        "returnDays": {
          "format": "int32",
          "description": "Number of days (from the delivery date) that the product can be returned.",
          "type": "integer"
        },
        "endDate": {
          "$ref": "Date",
          "description": "Required. seasonal override end date (inclusive)."
        },
        "startDate": {
          "description": "Required. Defines the date range when this seasonal override applies. Both start_date and end_date are inclusive. The dates of the seasonal overrides should not overlap.",
          "$ref": "Date"
        }
      },
      "id": "SeasonalOverride"
    },
    "LoyaltyProgramTiers": {
      "properties": {
        "tierLabel": {
          "description": "The tier label [tier_label] sub-attribute differentiates offer level benefits between each tier. This value is also set in your program settings in Merchant Center, and is required for data source changes even if your loyalty program only has 1 tier.",
          "type": "string"
        }
      },
      "id": "LoyaltyProgramTiers",
      "description": "Subset of a business's loyalty program.",
      "type": "object"
    },
    "RegisterGcpRequest": {
      "id": "RegisterGcpRequest",
      "description": "Request message for the RegisterGCP method.",
      "type": "object",
      "properties": {
        "developerEmail": {
          "description": "Immutable. Optional field. Developer role can be also added by using `users.update` method. If the developer email provided is associated with a user in the provided merchant account, the user will be updated to have `API_DEVELOPER` `access_rights` and the email preference corresponding to that user will be updated to have the new API notifications preference. If the developer email provided is not associated with any user, it is added as a contact. The email preference corresponding to that contact will have the new API notifications preference. Make sure the email used is associated with a Google Account and is not a service account as service accounts can't receive emails.",
          "type": "string"
        }
      }
    },
    "SetAliasForRelationship": {
      "properties": {
        "accountIdAlias": {
          "description": "Required. The unique ID of this account in the provider's system. The value must be unique across all accounts on the platform for this provider.",
          "type": "string"
        },
        "provider": {
          "description": "Required. The provider of the service. This is a reference to an account such as `providers/123` or `accounts/123`. The same provider must be specified in at least one of the `service` fields.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Set an alias for a relationship between a provider and the account to be created.",
      "id": "SetAliasForRelationship"
    },
    "ListOmnichannelSettingsResponse": {
      "type": "object",
      "id": "ListOmnichannelSettingsResponse",
      "description": "Response message for the ListOmnichannelSettings method.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "omnichannelSettings": {
          "type": "array",
          "items": {
            "$ref": "OmnichannelSetting"
          },
          "description": "The omnichannel settings from the specified merchant."
        }
      }
    },
    "CustomerService": {
      "type": "object",
      "properties": {
        "email": {
          "description": "Optional. The email address where customer service may be reached.",
          "type": "string"
        },
        "phone": {
          "description": "Optional. The phone number where customer service may be called.",
          "$ref": "PhoneNumber"
        },
        "uri": {
          "description": "Optional. The URI where customer service may be found.",
          "type": "string"
        }
      },
      "id": "CustomerService",
      "description": "Customer service information."
    },
    "ListAccountRelationshipsResponse": {
      "type": "object",
      "id": "ListAccountRelationshipsResponse",
      "properties": {
        "accountRelationships": {
          "description": "The account relationships that match your filter.",
          "items": {
            "$ref": "AccountRelationship"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A page token. You can send the `page_token` to get the next page. Only included in the `list` response if there are more pages."
        }
      },
      "description": "Response after trying to list account relationships."
    },
    "OmnichannelSetting": {
      "description": "Collection of information related to the omnichannel settings of a merchant.",
      "id": "OmnichannelSetting",
      "type": "object",
      "properties": {
        "about": {
          "description": "Optional. The about page URI and state for this country.",
          "$ref": "About"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the omnichannel setting. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`"
        },
        "pickup": {
          "description": "Optional. The Pickup URI and state for this country.",
          "$ref": "Pickup"
        },
        "lsfType": {
          "type": "string",
          "description": "Required. The Local Store Front type for this country.",
          "enum": [
            "LSF_TYPE_UNSPECIFIED",
            "GHLSF",
            "MHLSF_BASIC",
            "MHLSF_FULL"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Google-Hosted Local Store Front. Check the [HC article](https://support.google.com/merchants/answer/14869424) for more details.",
            "Merchant-Hosted Local Store Front Basic. Check the [HC article](https://support.google.com/merchants/answer/14615867) for more details.",
            "Merchant-Hosted Local Store Front Full. Check the [HC article](https://support.google.com/merchants/answer/14617076) for more details."
          ]
        },
        "regionCode": {
          "description": "Required. Immutable. Region code defined by [CLDR](https://cldr.unicode.org/). Must be provided in the Create method, and is immutable.",
          "type": "string"
        },
        "inventoryVerification": {
          "description": "Optional. The inventory verification contact and state for this country.",
          "$ref": "InventoryVerification"
        },
        "lfpLink": {
          "$ref": "LfpLink",
          "description": "Output only. The established link to a LFP provider.",
          "readOnly": true
        },
        "inStock": {
          "description": "Optional. The InStock URI and state for this country.",
          "$ref": "InStock"
        },
        "odo": {
          "$ref": "OnDisplayToOrder",
          "description": "Optional. The On Display to Order (ODO) policy URI and state for this country."
        }
      }
    },
    "LinkLfpProviderResponse": {
      "properties": {
        "response": {
          "description": "Empty response.",
          "$ref": "Empty"
        }
      },
      "type": "object",
      "description": "Response message for the LinkLfpProvider method.",
      "id": "LinkLfpProviderResponse"
    },
    "WarehouseBasedDeliveryTime": {
      "type": "object",
      "description": "Indicates that the delivery time should be calculated per warehouse (shipping origin location) based on the settings of the selected carrier. When set, no other transit time related field in `delivery_time` should be set.",
      "properties": {
        "carrier": {
          "type": "string",
          "description": "Required. Carrier, such as `\"UPS\"` or `\"Fedex\"`. [supported carriers](https://support.google.com/merchants/answer/7050921#zippy=%2Ccarrier-rates-au-de-uk-and-us-only)"
        },
        "warehouse": {
          "description": "Required. Warehouse name. This should match warehouse.",
          "type": "string"
        },
        "carrierService": {
          "description": "Required. Carrier service, such as `\"ground\"` or `\"2 days\"`. The name of the service must be in the eddSupportedServices list.",
          "type": "string"
        }
      },
      "id": "WarehouseBasedDeliveryTime"
    },
    "Service": {
      "properties": {
        "minimumOrderValue": {
          "$ref": "Price",
          "description": "Optional. Minimum order value for this service. If set, indicates that customers will have to spend at least this amount. All prices within a service must have the same currency. Cannot be set together with `minimum_order_value_table`."
        },
        "rateGroups": {
          "description": "Optional. Shipping rate group definitions. Only the last one is allowed to have an empty `applicable_shipping_labels`, which means \"everything else\". The other `applicable_shipping_labels` must not overlap.",
          "type": "array",
          "items": {
            "$ref": "RateGroup"
          }
        },
        "deliveryTime": {
          "description": "Required. Time spent in various aspects from order to the delivery of the product.",
          "$ref": "DeliveryTime"
        },
        "minimumOrderValueTable": {
          "$ref": "MinimumOrderValueTable",
          "description": "Optional. Table of per store minimum order values for the pickup fulfillment type. Cannot be set together with `minimum_order_value`."
        },
        "serviceName": {
          "description": "Required. Free-form name of the service. Must be unique within target account.",
          "type": "string"
        },
        "storeConfig": {
          "description": "A list of stores your products are delivered from. This is only valid for the local delivery shipment type.",
          "$ref": "StoreConfig"
        },
        "active": {
          "description": "Required. A boolean exposing the active status of the shipping service.",
          "type": "boolean"
        },
        "loyaltyPrograms": {
          "type": "array",
          "description": "Optional. Loyalty programs that this shipping service is limited to.",
          "items": {
            "$ref": "LoyaltyProgram"
          }
        },
        "shipmentType": {
          "description": "Optional. Type of locations this service ships orders to.",
          "enum": [
            "SHIPMENT_TYPE_UNSPECIFIED",
            "DELIVERY",
            "LOCAL_DELIVERY",
            "COLLECTION_POINT"
          ],
          "type": "string",
          "enumDescriptions": [
            "This service did not specify shipment type.",
            "This service ships orders to an address chosen by the customer.",
            "This service ships orders to an address chosen by the customer. The order is shipped from a local store near by.",
            "This service ships orders to an address chosen by the customer. The order is shipped from a collection point."
          ]
        },
        "currencyCode": {
          "description": "Required. The CLDR code of the currency to which this service applies. Must match that of the prices in rate groups.",
          "type": "string"
        },
        "deliveryCountries": {
          "description": "Required. The CLDR territory code of the countries to which the service applies.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Shipping service.",
      "type": "object",
      "id": "Service"
    },
    "ProductChange": {
      "properties": {
        "oldValue": {
          "type": "string",
          "description": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
        },
        "regionCode": {
          "description": "Countries that have the change (if applicable). Represented in the ISO 3166 format.",
          "type": "string"
        },
        "reportingContext": {
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "description": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)",
          "type": "string",
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "newValue": {
          "type": "string",
          "description": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
        }
      },
      "type": "object",
      "id": "ProductChange",
      "description": "The change that happened to the product including old value, new value, country code as the region code and reporting context."
    },
    "ProductStatusChangeMessage": {
      "id": "ProductStatusChangeMessage",
      "type": "object",
      "description": "The message that the merchant will receive to notify about product status change event",
      "properties": {
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications."
        },
        "managingAccount": {
          "type": "string",
          "description": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`"
        },
        "account": {
          "description": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`",
          "type": "string"
        },
        "resource": {
          "description": "The product name. Format: `accounts/{account}/products/{product}`",
          "type": "string"
        },
        "resourceId": {
          "description": "The product id.",
          "type": "string"
        },
        "expirationTime": {
          "description": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event.",
          "type": "string",
          "format": "google-datetime"
        },
        "resourceType": {
          "enumDescriptions": [
            "Unspecified resource",
            "Resource type : product",
            "Account service"
          ],
          "description": "The resource that changed, in this case it will always be `Product`.",
          "type": "string",
          "enum": [
            "RESOURCE_UNSPECIFIED",
            "PRODUCT",
            "ACCOUNT_SERVICE"
          ]
        },
        "changes": {
          "description": "A message to describe the change that happened to the product",
          "items": {
            "$ref": "ProductChange"
          },
          "type": "array"
        },
        "attribute": {
          "enum": [
            "ATTRIBUTE_UNSPECIFIED",
            "STATUS"
          ],
          "enumDescriptions": [
            "Unspecified attribute",
            "Status of the changed entity"
          ],
          "description": "The attribute in the resource that changed, in this case it will be always `Status`.",
          "type": "string"
        }
      }
    },
    "AutomaticImprovements": {
      "description": "Collection of information related to the [automatic improvements](https://developers.google.com/shopping-content/guides/automatic-improvements) of an account.",
      "type": "object",
      "id": "AutomaticImprovements",
      "properties": {
        "itemUpdates": {
          "description": "Turning on [item updates](https://support.google.com/merchants/answer/3246284) allows Google to automatically update items for you. When item updates are on, Google uses the structured data markup on the website and advanced data extractors to update the price and availability of the items. When the item updates are off, items with mismatched data aren't shown. This field is only updated (cleared) if provided in the update mask.",
          "$ref": "AutomaticItemUpdates"
        },
        "shippingImprovements": {
          "description": "Not available for [advanced accounts](https://support.google.com/merchants/answer/188487). By turning on [automatic shipping improvements](https://support.google.com/merchants/answer/10027038), you are allowing Google to improve the accuracy of your delivery times shown to shoppers using Google. More accurate delivery times, especially when faster, typically lead to better conversion rates. Google will improve your estimated delivery times based on various factors: * Delivery address of an order * Current handling time and shipping time settings * Estimated weekdays or business days * Parcel tracking data This field is only updated (cleared) if provided in the update mask.",
          "$ref": "AutomaticShippingImprovements"
        },
        "imageImprovements": {
          "$ref": "AutomaticImageImprovements",
          "description": "This improvement will attempt to automatically correct submitted images if they don't meet the [image requirements](https://support.google.com/merchants/answer/6324350), for example, removing overlays. If successful, the image will be replaced and approved. This improvement is only applied to images of disapproved offers. For more information see: [Automatic image improvements](https://support.google.com/merchants/answer/9242973) This field is only updated (cleared) if provided in the update mask."
        },
        "name": {
          "description": "Identifier. The resource name of the automatic improvements. Format: `accounts/{account}/automaticImprovements`.",
          "type": "string"
        }
      }
    },
    "Row": {
      "type": "object",
      "properties": {
        "cells": {
          "description": "Required. The list of cells that constitute the row. Must have the same length as `columnHeaders` for two-dimensional tables, a length of 1 for one-dimensional tables.",
          "items": {
            "$ref": "Value"
          },
          "type": "array"
        }
      },
      "id": "Row",
      "description": "Include a list of cells."
    },
    "Impact": {
      "id": "Impact",
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "The [CLDR region code](https://cldr.unicode.org/) where this issue applies.",
          "type": "string"
        },
        "severity": {
          "description": "The severity of the issue on the destination and region.",
          "enumDescriptions": [
            "The severity is unknown.",
            "The issue causes offers to not serve.",
            "The issue might affect offers (in the future) or might be an indicator of issues with offers.",
            "The issue is a suggestion for improvement."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "ERROR",
            "SUGGESTION"
          ]
        }
      },
      "description": "The impact of the issue on a region."
    },
    "EnableProgramRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for the EnableProgram method.",
      "id": "EnableProgramRequest"
    },
    "ListOnlineReturnPoliciesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "onlineReturnPolicies": {
          "description": "The retrieved return policies.",
          "items": {
            "$ref": "OnlineReturnPolicy"
          },
          "type": "array"
        }
      },
      "id": "ListOnlineReturnPoliciesResponse",
      "description": "Response message for the `ListOnlineReturnPolicies` method."
    },
    "TransitTimeValue": {
      "properties": {
        "maxTransitDays": {
          "description": "Must be greater than or equal to `min_transit_days`.",
          "format": "int32",
          "type": "integer"
        },
        "minTransitDays": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum transit time range in business days. 0 means same day delivery, 1 means next day delivery."
        }
      },
      "id": "TransitTimeValue",
      "description": "Transit time range (min-max) in business days.",
      "type": "object"
    },
    "Headers": {
      "type": "object",
      "description": "A non-empty list of row or column headers for a table. Exactly one of `prices`, `weights`, `num_items`, `postal_code_group_names`, or `location` must be set.",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "LocationIdSet"
          },
          "description": "Required. A list of location ID sets. Must be non-empty. Can only be set if all other fields are not set."
        },
        "weights": {
          "type": "array",
          "items": {
            "$ref": "Weight"
          },
          "description": "Required. A list of inclusive order weight upper bounds. The last weight's value can be infinity by setting price amount_micros = -1. For example `[{\"amount_micros\": 10000000, \"unit\": \"kg\"}, {\"amount_micros\": 50000000, \"unit\": \"kg\"}, {\"amount_micros\": -1, \"unit\": \"kg\"}]` represents the headers \"<= 10kg\", \"<= 50kg\", and \"> 50kg\". All weights within a service must have the same unit. Must be non-empty. Must be positive except -1. Can only be set if all other fields are not set."
        },
        "numberOfItems": {
          "description": "Required. A list of inclusive number of items upper bounds. The last value can be `\"infinity\"`. For example `[\"10\", \"50\", \"infinity\"]` represents the headers \"<= 10 items\", \"<= 50 items\", and \"> 50 items\". Must be non-empty. Can only be set if all other fields are not set.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "prices": {
          "type": "array",
          "items": {
            "$ref": "Price"
          },
          "description": "Required. A list of inclusive order price upper bounds. The last price's value can be infinity by setting price amount_micros = -1. For example `[{\"amount_micros\": 10000000, \"currency_code\": \"USD\"}, {\"amount_micros\": 500000000, \"currency_code\": \"USD\"}, {\"amount_micros\": -1, \"currency_code\": \"USD\"}]` represents the headers \"<= $10\", \"<= $500\", and \"> $500\". All prices within a service must have the same currency. Must be non-empty. Must be positive except -1. Can only be set if all other fields are not set."
        },
        "postalCodeGroupNames": {
          "items": {
            "type": "string"
          },
          "description": "Required. A list of postal group names. The last value can be `\"all other locations\"`. Example: `[\"zone 1\", \"zone 2\", \"all other locations\"]`. The referred postal code groups must match the delivery country of the service. Must be non-empty. Can only be set if all other fields are not set.",
          "type": "array"
        }
      },
      "id": "Headers"
    },
    "UnregisterGcpRequest": {
      "description": "Request message for the UnregisterGCP method.",
      "type": "object",
      "properties": {},
      "id": "UnregisterGcpRequest"
    },
    "BusinessIdentity": {
      "type": "object",
      "id": "BusinessIdentity",
      "description": "Collection of information related to the [identity of a business](https://support.google.com/merchants/answer/12564247).",
      "properties": {
        "smallBusiness": {
          "$ref": "IdentityAttribute",
          "description": "Optional. Specifies whether the business identifies itself as a small business. This optional field will only be available for businesses with a business country set to `US`. It is also not applicable for marketplaces."
        },
        "name": {
          "description": "Identifier. The resource name of the business identity. Format: `accounts/{account}/businessIdentity`",
          "type": "string"
        },
        "womenOwned": {
          "description": "Optional. Specifies whether the business identifies itself as being women-owned. This optional field will only be available for businesses with a business country set to `US`. It is also not applicable for marketplaces or marketplace sellers.",
          "$ref": "IdentityAttribute"
        },
        "promotionsConsent": {
          "enum": [
            "PROMOTIONS_CONSENT_UNSPECIFIED",
            "PROMOTIONS_CONSENT_GIVEN",
            "PROMOTIONS_CONSENT_DENIED"
          ],
          "enumDescriptions": [
            "Default value indicating that no selection was made.",
            "Indicates that the account consented to having their business identity used for promotions.",
            "Indicates that the account did not consent to having their business identity used for promotions."
          ],
          "type": "string",
          "description": "Required. Whether the identity attributes may be used for promotions."
        },
        "veteranOwned": {
          "description": "Optional. Specifies whether the business identifies itself as being veteran-owned. This optional field will only be available for businesses with a business country set to `US`. It is also not applicable for marketplaces or marketplace sellers.",
          "$ref": "IdentityAttribute"
        },
        "latinoOwned": {
          "$ref": "IdentityAttribute",
          "description": "Optional. Specifies whether the business identifies itself as being latino-owned. This optional field will only be available for businesses with the business country set to `US`. It is also not applicable for marketplaces or marketplace sellers."
        },
        "blackOwned": {
          "$ref": "IdentityAttribute",
          "description": "Optional. Specifies whether the business identifies itself as being black-owned. This optional field will only be available for businesses with the business country set to `US`. It is also not applicable for marketplaces or marketplace sellers."
        }
      }
    },
    "LatLng": {
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "id": "LatLng",
      "properties": {
        "longitude": {
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "type": "number",
          "format": "double"
        },
        "latitude": {
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object"
    },
    "InventoryVerification": {
      "description": "Collection of information related to [inventory verification](https://support.google.com/merchants/answer/14684499?ref_topic=15145634&sjid=6892280366904591178-NC).",
      "type": "object",
      "id": "InventoryVerification",
      "properties": {
        "contactEmail": {
          "description": "Required. The email address of the contact for the inventory verification process.",
          "type": "string"
        },
        "contactState": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "description": "Output only. The state of the contact verification."
        },
        "contact": {
          "type": "string",
          "description": "Required. The name of the contact for the inventory verification process."
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the inventory verification process.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "When the merchant needs to initiate the inventory verification process. The next state is INACTIVE.",
            "When the merchant is ready to request inventory verification.",
            "The inventory verification process is running. If the merchant is rejected, the next state is INACTIVE.",
            "The inventory verification process succeeded.",
            "When merchant fails the inventory verification process and all attempts are exhausted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTION_REQUIRED",
            "INACTIVE",
            "RUNNING",
            "SUCCEEDED",
            "SUSPENDED"
          ]
        }
      }
    },
    "Distance": {
      "type": "object",
      "properties": {
        "unit": {
          "description": "Unit can differ based on country, it is parameterized to include miles and kilometers.",
          "enum": [
            "UNIT_UNSPECIFIED",
            "MILES",
            "KILOMETERS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unit unspecified",
            "Unit in miles",
            "Unit in kilometers"
          ]
        },
        "value": {
          "description": "Integer value of distance.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Maximum delivery radius. This is only required for the local delivery shipment type.",
      "id": "Distance"
    },
    "LocalListingManagement": {
      "description": "`LocalListingManagement` payload.",
      "properties": {},
      "id": "LocalListingManagement",
      "type": "object"
    },
    "About": {
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "description": "Output only. The state of the URI.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ]
        },
        "uri": {
          "description": "Required. The about page URI.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "About",
      "description": "Collection of information related to the about page ([impressum](https://support.google.com/merchants/answer/14675634?ref_topic=15145634&sjid=6892280366904591178-NC))."
    },
    "DeleteRegionRequest": {
      "properties": {
        "name": {
          "description": "Required. The name of the region to delete. Format: `accounts/{account}/regions/{region}`",
          "type": "string"
        }
      },
      "id": "DeleteRegionRequest",
      "description": "Request message for the `DeleteRegion` method.",
      "type": "object"
    },
    "ComparisonShopping": {
      "properties": {},
      "type": "object",
      "id": "ComparisonShopping",
      "description": "`ComparisonShopping` payload."
    },
    "Required": {
      "description": "Describes the terms of service which are required to be accepted.",
      "properties": {
        "tosFileUri": {
          "description": "Required. Full URL to the terms of service file. This field is the same as `TermsOfService.file_uri`, it is added here for convenience only.",
          "type": "string"
        },
        "termsOfService": {
          "type": "string",
          "description": "Required. The `TermsOfService` that need to be accepted."
        }
      },
      "type": "object",
      "id": "Required"
    },
    "AccountService": {
      "properties": {
        "comparisonShopping": {
          "description": "Service type for comparison shopping. The provider is a CSS (Comparison Shopping Service) managing the account. See https://support.google.com/merchants/answer/12653197",
          "$ref": "ComparisonShopping"
        },
        "campaignsManagement": {
          "$ref": "CampaignsManagement",
          "description": "Service type for managing advertising campaigns. Grants the provider access to create and manage the business's ad campaigns, including setting up campaigns, adjusting bids, and optimizing performance."
        },
        "providerDisplayName": {
          "type": "string",
          "description": "Output only. The human-readable display name of the provider account.",
          "readOnly": true
        },
        "localListingManagement": {
          "description": "Service type for local listings management. The business group associated with the external account id will be used to provide local inventory to this Merchant Center account.",
          "$ref": "LocalListingManagement"
        },
        "accountAggregation": {
          "$ref": "AccountAggregation",
          "description": "Service type for account aggregation. This enables the provider, which is an advanced account, to manage multiple sub-accounts (client accounts). Through this service, the advanced account provider can perform administrative and operational tasks across all linked sub-accounts. This is useful for agencies, aggregators, or large retailers that need centralized control over many Merchant Center accounts."
        },
        "provider": {
          "description": "Output only. The provider of the service. Either the reference to an account such as `providers/123` or a well-known service provider (one of `providers/GOOGLE_ADS` or `providers/GOOGLE_BUSINESS_PROFILE`).",
          "type": "string",
          "readOnly": true
        },
        "productsManagement": {
          "description": "Service type for managing products. This allows the provider to handle product data on behalf of the business, including reading and writing product listings. It's commonly used when the provider offers inventory management or catalog synchronization services to keep the business's product information up-to-date across platforms.",
          "$ref": "ProductsManagement"
        },
        "handshake": {
          "description": "Output only. Information about the state of the service in terms of establishing it (e.g. is it pending approval or approved).",
          "$ref": "Handshake",
          "readOnly": true
        },
        "accountManagement": {
          "description": "Service type for account management. Enables the provider to perform administrative actions on the business's account, such as configuring account settings, managing users, or updating business information.",
          "$ref": "AccountManagement"
        },
        "externalAccountId": {
          "description": "Immutable. An optional, immutable identifier that Google uses to refer to this account when communicating with the provider. This should be the unique account ID within the provider's system (for example, your shop ID in Shopify). If you have multiple accounts with the same provider - for instance, different accounts for various regions — the `external_account_id` differentiates between them, ensuring accurate linking and integration between Google and the provider.",
          "type": "string"
        },
        "mutability": {
          "enumDescriptions": [
            "Unused default value",
            "The service can be mutated without restrictions.",
            "The service is read-only and must not be mutated."
          ],
          "description": "Output only. Whether the service is mutable (e.g. through Approve / Reject RPCs). A service that was created through another system or API might be immutable.",
          "enum": [
            "MUTABILITY_UNSPECIFIED",
            "MUTABLE",
            "IMMUTABLE"
          ],
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the account service. Format: `accounts/{account}/services/{service}`",
          "type": "string"
        }
      },
      "description": "The `AccountService` message represents a specific service that a provider account offers to a Merchant Center account. `AccountService` defines the permissions and capabilities granted to the provider, allowing for operations such as product management or campaign management. The lifecycle of an `AccountService` involves a proposal phase, where one party suggests the service, and an approval phase, where the other party accepts or rejects it. This handshake mechanism ensures mutual consent before any access is granted. This mechanism safeguards both parties by ensuring that access rights are granted appropriately and that both the business and provider are aware of the services enabled. In scenarios where a user is an admin of both accounts, the approval can happen automatically. The mutability of a service is also managed through `AccountService`. Some services might be immutable, for example, if they were established through other systems or APIs, and you cannot alter them through this API.",
      "type": "object",
      "id": "AccountService"
    },
    "LfpLink": {
      "properties": {
        "externalAccountId": {
          "description": "Required. The account ID by which this merchant is known to the LFP provider.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "type": "string",
          "description": "Output only. The state of the LFP link."
        },
        "lfpProvider": {
          "type": "string",
          "description": "Required. The resource name of the LFP provider. Format: `lfpProviders/{lfp_provider}`"
        }
      },
      "type": "object",
      "id": "LfpLink",
      "description": "Collection of information related to the LFP link."
    },
    "Accepted": {
      "id": "Accepted",
      "properties": {
        "validUntil": {
          "description": "Optional. When set, it states that the accepted `TermsOfService` is only valid until the end of this date (in UTC). A new one must be accepted before then. The information of the required `TermsOfService` is found in the `Required` message.",
          "$ref": "Date"
        },
        "termsOfService": {
          "description": "Required. The accepted termsOfService.",
          "type": "string"
        },
        "acceptedBy": {
          "description": "Required. The account where the acceptance was recorded. This can be the account itself or, in the case of subaccounts, the advanced account.",
          "type": "string"
        }
      },
      "description": "Describes the [accepted terms of service](https://developers.google.com/merchant/api/guides/accounts/create-and-configure#accept_the_merchant_center_terms_of_service).",
      "type": "object"
    },
    "Date": {
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        }
      },
      "type": "object"
    },
    "ImageImprovementsAccountLevelSettings": {
      "properties": {
        "allowAutomaticImageImprovements": {
          "description": "Enables automatic image improvements.",
          "type": "boolean"
        }
      },
      "id": "ImageImprovementsAccountLevelSettings",
      "type": "object",
      "description": "Settings for the Automatic Image Improvements."
    },
    "Handshake": {
      "description": "The current status of establishing of the service. (for example, pending approval, approved, established).",
      "id": "Handshake",
      "properties": {
        "approvalState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "APPROVAL_STATE_UNSPECIFIED",
            "PENDING",
            "WAITING",
            "ESTABLISHED",
            "REJECTED"
          ],
          "enumDescriptions": [
            "Unspecified approval status.",
            "The service was proposed and is waiting to be confirmed.",
            "Indicates that the service proposal has been accepted and will be established after a fixed delay set by the service provider.",
            "Both parties have confirmed the service.",
            "The service proposal was rejected."
          ],
          "description": "Output only. The approval state of this handshake."
        },
        "actor": {
          "readOnly": true,
          "description": "Output only. The most recent account to modify the account service's `approval_status`.",
          "enum": [
            "ACTOR_UNSPECIFIED",
            "ACCOUNT",
            "OTHER_PARTY"
          ],
          "enumDescriptions": [
            "Unspecified actor.",
            "The last change was done by the account who has this service.",
            "The last change was done by the other party who this service points to."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "ShortCode": {
      "properties": {
        "number": {
          "type": "string",
          "description": "Required. The short code digits, without a leading plus ('+') or country calling code. For example \"611\"."
        },
        "regionCode": {
          "description": "Required. The BCP-47 region code of the location where calls to this short code can be made, such as \"US\" and \"BB\". Reference(s): - http://www.unicode.org/reports/tr35/#unicode_region_subtag",
          "type": "string"
        }
      },
      "id": "ShortCode",
      "description": "An object representing a short code, which is a phone number that is typically much shorter than regular phone numbers and can be used to address messages in MMS and SMS systems, as well as for abbreviated dialing (For example \"Text 611 to see how many minutes you have remaining on your plan.\"). Short codes are restricted to a region and are not internationally dialable, which means the same short code can exist in different regions, with different usage and pricing, even if those regions share the same country calling code (For example: US and CA).",
      "type": "object"
    },
    "ImpactedDestination": {
      "type": "object",
      "description": "The impact of the issue on a destination.",
      "properties": {
        "reportingContext": {
          "description": "The impacted reporting context.",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "type": "string"
        },
        "impacts": {
          "description": "The (negative) impact for various regions on the given destination.",
          "type": "array",
          "items": {
            "$ref": "Impact"
          }
        }
      },
      "id": "ImpactedDestination"
    },
    "Table": {
      "type": "object",
      "id": "Table",
      "description": "A table defining the rate group, when `single_value` is not expressive enough.",
      "properties": {
        "name": {
          "description": "Name of the table. Required for subtables, ignored for the main table.",
          "type": "string"
        },
        "columnHeaders": {
          "description": "Headers of the table's columns. Optional: if not set then the table has only one dimension.",
          "$ref": "Headers"
        },
        "rows": {
          "type": "array",
          "description": "Required. The list of rows that constitute the table. Must have the same length as `row_headers`.",
          "items": {
            "$ref": "Row"
          }
        },
        "rowHeaders": {
          "$ref": "Headers",
          "description": "Required. Headers of the table's rows."
        }
      }
    },
    "IdentityAttribute": {
      "id": "IdentityAttribute",
      "description": "All information related to an identity attribute.",
      "properties": {
        "identityDeclaration": {
          "enum": [
            "IDENTITY_DECLARATION_UNSPECIFIED",
            "SELF_IDENTIFIES_AS",
            "DOES_NOT_SELF_IDENTIFY_AS"
          ],
          "description": "Required. The declaration of identity for this attribute.",
          "enumDescriptions": [
            "Default value indicating that no selection was made.",
            "Indicates that the account identifies with the attribute.",
            "Indicates that the account does not identify with the attribute."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "MinimumOrderValueTable": {
      "id": "MinimumOrderValueTable",
      "type": "object",
      "properties": {
        "storeCodeSetWithMovs": {
          "items": {
            "$ref": "StoreCodeSetWithMov"
          },
          "description": "Required. A list of store code sets sharing the same minimum order value (MOV). At least two sets are required and the last one must be empty, which signifies 'MOV for all other stores'. Each store code can only appear once across all the sets. All prices within a service must have the same currency.",
          "type": "array"
        }
      },
      "description": "Table of per store minimum order values for the pickup fulfillment type."
    },
    "LocalCutoffTime": {
      "description": "Time that local delivery ends for the day.",
      "type": "object",
      "id": "LocalCutoffTime",
      "properties": {
        "hour": {
          "format": "int64",
          "type": "string",
          "description": "Hour local delivery orders must be placed by to process the same day."
        },
        "minute": {
          "type": "string",
          "format": "int64",
          "description": "Minute local delivery orders must be placed by to process the same day."
        }
      }
    },
    "Price": {
      "description": "The price represented as a number and currency.",
      "type": "object",
      "properties": {
        "amountMicros": {
          "type": "string",
          "description": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros).",
          "format": "int64"
        },
        "currencyCode": {
          "description": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217).",
          "type": "string"
        }
      },
      "id": "Price"
    },
    "UpdateRegionRequest": {
      "id": "UpdateRegionRequest",
      "type": "object",
      "description": "Request message for the `UpdateRegion` method.",
      "properties": {
        "updateMask": {
          "description": "Optional. The comma-separated field mask indicating the fields to update. Example: `\"displayName,postalCodeArea.regionCode\"`.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "region": {
          "description": "Required. The updated region.",
          "$ref": "Region"
        }
      }
    },
    "GeoTargetArea": {
      "description": "A list of geotargets that defines the region area.",
      "properties": {
        "geotargetCriteriaIds": {
          "type": "array",
          "description": "Required. A non-empty list of [location IDs](https://developers.google.com/adwords/api/docs/appendix/geotargeting). They must all be of the same location type (for example, state).",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "id": "GeoTargetArea",
      "type": "object"
    },
    "Value": {
      "description": "The single value of a rate group or the value of a rate group table's cell. Exactly one of `no_shipping`, `flat_rate`, `price_percentage`, `carrier_rateName`, `subtable_name` must be set.",
      "properties": {
        "flatRate": {
          "description": "A flat rate. Can only be set if all other fields are not set.",
          "$ref": "Price"
        },
        "pricePercentage": {
          "type": "string",
          "description": "A percentage of the price represented as a number in decimal notation (For example, `\"5.4\"`). Can only be set if all other fields are not set."
        },
        "carrierRate": {
          "type": "string",
          "description": "The name of a carrier rate referring to a carrier rate defined in the same rate group. Can only be set if all other fields are not set."
        },
        "noShipping": {
          "description": "If true, then the product can't be shipped. Must be true when set, can only be set if all other fields are not set.",
          "type": "boolean"
        },
        "subtable": {
          "description": "The name of a subtable. Can only be set in table cells (For example, not for single values), and only if all other fields are not set.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Value"
    },
    "Weight": {
      "type": "object",
      "properties": {
        "amountMicros": {
          "format": "int64",
          "description": "Required. The weight represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 kg = 1000000 micros). This field can also be set as infinity by setting to -1. This field only support -1 and positive value.",
          "type": "string"
        },
        "unit": {
          "type": "string",
          "enumDescriptions": [
            "unit unspecified",
            "lb unit.",
            "kg unit."
          ],
          "description": "Required. The weight unit. Acceptable values are: kg and lb",
          "enum": [
            "WEIGHT_UNIT_UNSPECIFIED",
            "POUND",
            "KILOGRAM"
          ]
        }
      },
      "id": "Weight",
      "description": "The weight represented as the value in string and the unit."
    },
    "BatchCreateRegionsRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "CreateRegionRequest"
          },
          "description": "Required. The region(s) to create. The maximum number of regions that can be created in a batch is 100."
        }
      },
      "description": "Request message for the `BatchCreateRegions` method.",
      "id": "BatchCreateRegionsRequest",
      "type": "object"
    },
    "DeliveryTime": {
      "type": "object",
      "description": "Time spent in various aspects from order to the delivery of the product.",
      "properties": {
        "maxHandlingDays": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of business days spent before an order is shipped. 0 means same day shipped, 1 means next day shipped. Must be greater than or equal to `min_handling_days`. 'min_handling_days' and 'max_handling_days' should be either set or not set at the same time."
        },
        "transitBusinessDayConfig": {
          "$ref": "BusinessDayConfig",
          "description": "The business days during which orders can be in-transit. If not provided, Monday to Friday business days will be assumed."
        },
        "maxTransitDays": {
          "format": "int32",
          "description": "Maximum number of business days that is spent in transit. 0 means same day delivery, 1 means next day delivery. Must be greater than or equal to `min_transit_days`.",
          "type": "integer"
        },
        "cutoffTime": {
          "$ref": "CutoffTime",
          "description": "Business days cutoff time definition. If not configured the cutoff time will be defaulted to 8AM PST."
        },
        "minHandlingDays": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum number of business days spent before an order is shipped. 0 means same day shipped, 1 means next day shipped. 'min_handling_days' and 'max_handling_days' should be either set or not set at the same time."
        },
        "handlingBusinessDayConfig": {
          "description": "The business days during which orders can be handled. If not provided, Monday to Friday business days will be assumed.",
          "$ref": "BusinessDayConfig"
        },
        "transitTimeTable": {
          "description": "Transit time table, number of business days spent in transit based on row and column dimensions. Either `min_transit_days`, `max_transit_days` or `transit_time_table` can be set, but not both.",
          "$ref": "TransitTable"
        },
        "minTransitDays": {
          "format": "int32",
          "type": "integer",
          "description": "Minimum number of business days that is spent in transit. 0 means same day delivery, 1 means next day delivery. Either `min_transit_days`, `max_transit_days` or `transit_time_table` must be set, but not both."
        },
        "warehouseBasedDeliveryTimes": {
          "description": "Optional. Indicates that the delivery time should be calculated per warehouse (shipping origin location) based on the settings of the selected carrier. When set, no other transit time related field in delivery time should be set.",
          "items": {
            "$ref": "WarehouseBasedDeliveryTime"
          },
          "type": "array"
        }
      },
      "id": "DeliveryTime"
    },
    "LinkGbpAccountResponse": {
      "type": "object",
      "properties": {
        "response": {
          "description": "Empty response.",
          "$ref": "Empty"
        }
      },
      "id": "LinkGbpAccountResponse",
      "description": "Response message for the LinkGbpAccount method."
    },
    "OnlineReturnPolicy": {
      "properties": {
        "name": {
          "description": "Identifier. The name of the `OnlineReturnPolicy` resource. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`",
          "type": "string"
        },
        "returnShippingFee": {
          "$ref": "ReturnShippingFee",
          "description": "Optional. The return shipping fee. Should be set only when customer need to download and print the return label."
        },
        "policy": {
          "description": "Optional. The return policy.",
          "$ref": "Policy"
        },
        "label": {
          "type": "string",
          "description": "Optional. Immutable. This field represents the unique user-defined label of the return policy for the given country. It is important to note that the same label cannot be used in different return policies for the same country. If not given, policies will be automatically treated as the 'default' for the country. When using label, you are creating an exception policy in that country to assign a custom return policy to certain product groups, follow the instructions provided in the [Return policy label] (https://support.google.com/merchants/answer/9445425). The label can contain up to 50 characters."
        },
        "acceptDefectiveOnly": {
          "type": "boolean",
          "description": "Optional. This field specifies if business only accepts defective products for returns."
        },
        "returnMethods": {
          "description": "Optional. The return methods of how customers can return an item. This value is required to not be empty unless the type of return policy is noReturns.",
          "items": {
            "type": "string",
            "enum": [
              "RETURN_METHOD_UNSPECIFIED",
              "BY_MAIL",
              "IN_STORE",
              "AT_A_KIOSK"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Return by mail.",
              "Return in store.",
              "Return at a kiosk."
            ]
          },
          "type": "array"
        },
        "processRefundDays": {
          "type": "integer",
          "description": "Optional. The field specifies the number of days it takes for business to process refunds.",
          "format": "int32"
        },
        "seasonalOverrides": {
          "items": {
            "$ref": "SeasonalOverride"
          },
          "description": "Optional. Overrides to the general policy for orders placed during a specific set of time intervals.",
          "type": "array"
        },
        "acceptExchange": {
          "description": "Optional. This field specifies if business allows customers to exchange products.",
          "type": "boolean"
        },
        "returnLabelSource": {
          "enum": [
            "RETURN_LABEL_SOURCE_UNSPECIFIED",
            "DOWNLOAD_AND_PRINT",
            "IN_THE_PACKAGE",
            "CUSTOMER_RESPONSIBILITY"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Download and print.",
            "Label include in the package.",
            "Customer to provide."
          ],
          "description": "Optional. The field specifies the return label source.",
          "type": "string"
        },
        "restockingFee": {
          "description": "Optional. The restocking fee that applies to all return reason categories. This would be treated as a free restocking fee if the value is not set.",
          "$ref": "RestockingFee"
        },
        "returnPolicyId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Return policy ID generated by Google."
        },
        "returnPolicyUri": {
          "description": "Required. The return policy uri. This can used by Google to do a sanity check for the policy. It must be a valid URL.",
          "type": "string"
        },
        "itemConditions": {
          "type": "array",
          "description": "Optional. The item conditions accepted for returns must not be empty unless the type of return policy is 'noReturns'.",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "New.",
              "Used."
            ],
            "type": "string",
            "enum": [
              "ITEM_CONDITION_UNSPECIFIED",
              "NEW",
              "USED"
            ]
          }
        },
        "countries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Immutable. The countries of sale where the return policy applies. The values must be a valid 2 letter ISO 3166 code."
        }
      },
      "id": "OnlineReturnPolicy",
      "description": "[Online return policy](https://support.google.com/merchants/answer/10220642) object. This is currently used to represent return policies for ads and free listings programs.",
      "type": "object"
    },
    "RadiusArea": {
      "id": "RadiusArea",
      "properties": {
        "latLng": {
          "description": "Required. The center of the radius area. It represents a latitude/longitude pair in decimal degrees format.",
          "$ref": "LatLng"
        },
        "radius": {
          "description": "Required. The radius distance of the area.",
          "type": "number",
          "format": "double"
        },
        "regionCode": {
          "description": "Required. [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) or the country the radius area applies to.",
          "type": "string"
        },
        "radiusUnits": {
          "description": "Optional. The unit of the radius.",
          "type": "string",
          "enumDescriptions": [
            "Unused default value",
            "The distance is measured in miles.",
            "The distance is measured in kilometers."
          ],
          "enum": [
            "RADIUS_UNITS_UNSPECIFIED",
            "MILES",
            "KILOMETERS"
          ]
        }
      },
      "type": "object",
      "description": "A radius area that defines the region area."
    },
    "AutomaticItemUpdates": {
      "id": "AutomaticItemUpdates",
      "properties": {
        "effectiveAllowStrictAvailabilityUpdates": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The effective value of allow_strict_availability_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only."
        },
        "effectiveAllowPriceUpdates": {
          "readOnly": true,
          "type": "boolean",
[...]
