{
  "id": "merchantapi:accounts_v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "mtlsRootUrl": "https://merchantapi.mtls.googleapis.com/",
  "canonicalName": "Merchant",
  "discoveryVersion": "v1",
  "title": "Merchant API",
  "name": "merchantapi",
  "schemas": {
    "Date": {
      "type": "object",
      "properties": {
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        }
      },
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "Table": {
      "id": "Table",
      "type": "object",
      "description": "A table defining the rate group, when `single_value` is not expressive enough.",
      "properties": {
        "rows": {
          "description": "Required. The list of rows that constitute the table. Must have the same length as `row_headers`.",
          "items": {
            "$ref": "Row"
          },
          "type": "array"
        },
        "rowHeaders": {
          "$ref": "Headers",
          "description": "Required. Headers of the table's rows."
        },
        "columnHeaders": {
          "description": "Headers of the table's columns. Optional: if not set then the table has only one dimension.",
          "$ref": "Headers"
        },
        "name": {
          "description": "Name of the table. Required for subtables, ignored for the main table.",
          "type": "string"
        }
      }
    },
    "CheckoutSettings": {
      "properties": {
        "effectiveEnrollmentState": {
          "type": "string",
          "enum": [
            "CHECKOUT_ENROLLMENT_STATE_UNSPECIFIED",
            "INACTIVE",
            "ENROLLED",
            "OPTED_OUT"
          ],
          "description": "Output only. The effective value of enrollment_state for a given merchant ID. If account level settings are present then this value will be a copy of the account level settings. Otherwise, it will have the value of the parent account (for only marketplace sellers).",
          "enumDescriptions": [
            "Default enrollment state when enrollment state is not specified.",
            "Merchant has not enrolled into the program.",
            "Merchant has enrolled into the program by providing either an account level URL or checkout URLs as part of their feed.",
            "Merchant has previously enrolled but opted out of the program."
          ],
          "readOnly": true
        },
        "effectiveReviewState": {
          "enumDescriptions": [
            "Default review state when review state is not specified.",
            "Merchant provided URLs are being reviewed for data quality issues.",
            "Merchant account has been approved. Indicates the data quality checks have passed.",
            "Merchant account has been disapproved due to data quality issues."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The effective value of `review_state` for a given merchant ID. If account level settings are present then this value will be a copy of the account level settings. Otherwise, it will have the value of the parent account (for only marketplace sellers).",
          "enum": [
            "CHECKOUT_REVIEW_STATE_UNSPECIFIED",
            "IN_REVIEW",
            "APPROVED",
            "DISAPPROVED"
          ]
        },
        "enrollmentState": {
          "enumDescriptions": [
            "Default enrollment state when enrollment state is not specified.",
            "Merchant has not enrolled into the program.",
            "Merchant has enrolled into the program by providing either an account level URL or checkout URLs as part of their feed.",
            "Merchant has previously enrolled but opted out of the program."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "CHECKOUT_ENROLLMENT_STATE_UNSPECIFIED",
            "INACTIVE",
            "ENROLLED",
            "OPTED_OUT"
          ],
          "description": "Output only. Reflects the merchant enrollment state in `Checkout` program."
        },
        "uriSettings": {
          "$ref": "UriSettings",
          "description": "URI settings for cart or checkout URL."
        },
        "eligibleDestinations": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Not specified.",
              "[Shopping ads](https://support.google.com/google-ads/answer/2454022).",
              "[Display ads](https://support.google.com/merchants/answer/6069387).",
              "[Local inventory ads](https://support.google.com/merchants/answer/3057972).",
              "[Free listings](https://support.google.com/merchants/answer/9199328).",
              "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
              "[YouTube Shopping](https://support.google.com/merchants/answer/12362804).",
              "Youtube shopping checkout.",
              "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
              "[Free vehicle listings](https://support.google.com/merchants/answer/11189169).",
              "[Vehicle ads](https://support.google.com/merchants/answer/11189169).",
              "[Cloud retail](https://cloud.google.com/solutions/retail).",
              "[Local cloud retail](https://cloud.google.com/solutions/retail).",
              "Real Estate Rental Ads. ."
            ],
            "enum": [
              "DESTINATION_ENUM_UNSPECIFIED",
              "SHOPPING_ADS",
              "DISPLAY_ADS",
              "LOCAL_INVENTORY_ADS",
              "FREE_LISTINGS",
              "FREE_LOCAL_LISTINGS",
              "YOUTUBE_SHOPPING",
              "YOUTUBE_SHOPPING_CHECKOUT",
              "YOUTUBE_AFFILIATE",
              "FREE_VEHICLE_LISTINGS",
              "VEHICLE_ADS",
              "CLOUD_RETAIL",
              "LOCAL_CLOUD_RETAIL",
              "RENTAL_ADS"
            ]
          },
          "type": "array",
          "description": "Optional. Required for the create operation. The destinations (also known as [Marketing methods](https://support.google.com/merchants/answer/15130232)) to which the checkout program applies. Valid destination values are `SHOPPING_ADS` and `FREE_LISTINGS`."
        },
        "name": {
          "description": "Identifier. The resource name of the program configuration settings. Format: `accounts/{account}/programs/{program}/checkoutSettings`",
          "type": "string"
        },
        "reviewState": {
          "type": "string",
          "enumDescriptions": [
            "Default review state when review state is not specified.",
            "Merchant provided URLs are being reviewed for data quality issues.",
            "Merchant account has been approved. Indicates the data quality checks have passed.",
            "Merchant account has been disapproved due to data quality issues."
          ],
          "enum": [
            "CHECKOUT_REVIEW_STATE_UNSPECIFIED",
            "IN_REVIEW",
            "APPROVED",
            "DISAPPROVED"
          ],
          "readOnly": true,
          "description": "Output only. Reflects the merchant review state in `Checkout` program. This is set based on the data quality reviews of the URL provided by the merchant. A merchant with enrollment state as `ENROLLED` can be in the following review states: `IN_REVIEW`, `APPROVED` or `DISAPPROVED`. A merchant must be in an `enrollment_state` of `ENROLLED` before a review can begin for the merchant.For more details, check the help center doc."
        },
        "effectiveUriSettings": {
          "description": "Output only. The effective value of `uri_settings` for a given merchant. If account level settings are present then this value will be a copy of url settings. Otherwise, it will have the value of the parent account (for only marketplace sellers).",
          "readOnly": true,
          "$ref": "UriSettings"
        }
      },
      "type": "object",
      "id": "CheckoutSettings",
      "description": "[CheckoutSettings](https://support.google.com/merchants/answer/13945960) for a specific merchant."
    },
    "CutoffTime": {
      "type": "object",
      "properties": {
        "minute": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Minute of the cutoff time until which an order has to be placed to be processed in the same day."
        },
        "timeZone": {
          "type": "string",
          "description": "Required. [Timezone identifier](https://developers.google.com/adwords/api/docs/appendix/codes-formats#timezone-ids) For example \"Europe/Zurich\"."
        },
        "hour": {
          "format": "int32",
          "description": "Required. Hour of the cutoff time until which an order has to be placed to be processed in the same day.",
          "type": "integer"
        }
      },
      "description": "Business days cutoff time definition.",
      "id": "CutoffTime"
    },
    "Pickup": {
      "id": "Pickup",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state of the pickup serving.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ]
        },
        "uri": {
          "description": "Required. Pickup product page URI. It is only used for the review of pickup serving. This URI domain should match with the business's homepage.",
          "type": "string"
        }
      },
      "description": "Collection of information related to Pickup."
    },
    "Accepted": {
      "description": "Describes the [accepted terms of service](https://developers.google.com/merchant/api/guides/accounts/create-and-configure#accept_the_merchant_center_terms_of_service).",
      "id": "Accepted",
      "properties": {
        "acceptedBy": {
          "description": "Required. The account where the acceptance was recorded. This can be the account itself or, in the case of subaccounts, the advanced account.",
          "type": "string"
        },
        "validUntil": {
          "description": "Optional. When set, it states that the accepted `TermsOfService` is only valid until the end of this date (in UTC). A new one must be accepted before then. The information of the required `TermsOfService` is found in the `Required` message.",
          "$ref": "Date"
        },
        "termsOfService": {
          "description": "Required. The accepted termsOfService.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeliveryTime": {
      "properties": {
        "minTransitDays": {
          "format": "int32",
          "type": "integer",
          "description": "Minimum number of business days that is spent in transit. 0 means same day delivery, 1 means next day delivery. Either `min_transit_days`, `max_transit_days` or `transit_time_table` must be set, but not both."
        },
        "handlingBusinessDayConfig": {
          "description": "The business days during which orders can be handled. If not provided, Monday to Friday business days will be assumed.",
          "$ref": "BusinessDayConfig"
        },
        "transitTimeTable": {
          "description": "Transit time table, number of business days spent in transit based on row and column dimensions. Either `min_transit_days`, `max_transit_days` or `transit_time_table` can be set, but not both.",
          "$ref": "TransitTable"
        },
        "minHandlingDays": {
          "type": "integer",
          "description": "Minimum number of business days spent before an order is shipped. 0 means same day shipped, 1 means next day shipped. 'min_handling_days' and 'max_handling_days' should be either set or not set at the same time.",
          "format": "int32"
        },
        "cutoffTime": {
          "$ref": "CutoffTime",
          "description": "Business days cutoff time definition. If not configured the cutoff time will be defaulted to 8AM PST."
        },
        "warehouseBasedDeliveryTimes": {
          "type": "array",
          "items": {
            "$ref": "WarehouseBasedDeliveryTime"
          },
          "description": "Optional. Indicates that the delivery time should be calculated per warehouse (shipping origin location) based on the settings of the selected carrier. When set, no other transit time related field in delivery time should be set."
        },
        "transitBusinessDayConfig": {
          "description": "The business days during which orders can be in-transit. If not provided, Monday to Friday business days will be assumed.",
          "$ref": "BusinessDayConfig"
        },
        "maxHandlingDays": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of business days spent before an order is shipped. 0 means same day shipped, 1 means next day shipped. Must be greater than or equal to `min_handling_days`. 'min_handling_days' and 'max_handling_days' should be either set or not set at the same time."
        },
        "maxTransitDays": {
          "description": "Maximum number of business days that is spent in transit. 0 means same day delivery, 1 means next day delivery. Must be greater than or equal to `min_transit_days`.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Time spent in various aspects from order to the delivery of the product.",
      "id": "DeliveryTime",
      "type": "object"
    },
    "TimeZone": {
      "type": "object",
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "id": "TimeZone"
    },
    "Headers": {
      "id": "Headers",
      "properties": {
        "prices": {
          "type": "array",
          "description": "Required. A list of inclusive order price upper bounds. The last price's value can be infinity by setting price amount_micros = -1. For example `[{\"amount_micros\": 10000000, \"currency_code\": \"USD\"}, {\"amount_micros\": 500000000, \"currency_code\": \"USD\"}, {\"amount_micros\": -1, \"currency_code\": \"USD\"}]` represents the headers \"<= $10\", \"<= $500\", and \"> $500\". All prices within a service must have the same currency. Must be non-empty. Must be positive except -1. Can only be set if all other fields are not set.",
          "items": {
            "$ref": "Price"
          }
        },
        "weights": {
          "items": {
            "$ref": "Weight"
          },
          "type": "array",
          "description": "Required. A list of inclusive order weight upper bounds. The last weight's value can be infinity by setting price amount_micros = -1. For example `[{\"amount_micros\": 10000000, \"unit\": \"kg\"}, {\"amount_micros\": 50000000, \"unit\": \"kg\"}, {\"amount_micros\": -1, \"unit\": \"kg\"}]` represents the headers \"<= 10kg\", \"<= 50kg\", and \"> 50kg\". All weights within a service must have the same unit. Must be non-empty. Must be positive except -1. Can only be set if all other fields are not set."
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "LocationIdSet"
          },
          "description": "Required. A list of location ID sets. Must be non-empty. Can only be set if all other fields are not set."
        },
        "numberOfItems": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. A list of inclusive number of items upper bounds. The last value can be `\"infinity\"`. For example `[\"10\", \"50\", \"infinity\"]` represents the headers \"<= 10 items\", \"<= 50 items\", and \"> 50 items\". Must be non-empty. Can only be set if all other fields are not set."
        },
        "postalCodeGroupNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A list of postal group names. The last value can be `\"all other locations\"`. Example: `[\"zone 1\", \"zone 2\", \"all other locations\"]`. The referred postal code groups must match the delivery country of the service. Must be non-empty. Can only be set if all other fields are not set."
        }
      },
      "type": "object",
      "description": "A non-empty list of row or column headers for a table. Exactly one of `prices`, `weights`, `num_items`, `postal_code_group_names`, or `location` must be set."
    },
    "CustomerService": {
      "type": "object",
      "description": "Customer service information.",
      "id": "CustomerService",
      "properties": {
        "phone": {
          "description": "Optional. The phone number where customer service may be called.",
          "$ref": "PhoneNumber"
        },
        "uri": {
          "type": "string",
          "description": "Optional. The URI where customer service may be found."
        },
        "email": {
          "type": "string",
          "description": "Optional. The email address where customer service may be reached."
        }
      }
    },
    "IdentityAttribute": {
      "id": "IdentityAttribute",
      "type": "object",
      "description": "All information related to an identity attribute.",
      "properties": {
        "identityDeclaration": {
          "description": "Required. The declaration of identity for this attribute.",
          "enum": [
            "IDENTITY_DECLARATION_UNSPECIFIED",
            "SELF_IDENTIFIES_AS",
            "DOES_NOT_SELF_IDENTIFY_AS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value indicating that no selection was made.",
            "Indicates that the account identifies with the attribute.",
            "Indicates that the account does not identify with the attribute."
          ]
        }
      }
    },
    "ListOnlineReturnPoliciesResponse": {
      "type": "object",
      "description": "Response message for the `ListOnlineReturnPolicies` method.",
      "id": "ListOnlineReturnPoliciesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "onlineReturnPolicies": {
          "items": {
            "$ref": "OnlineReturnPolicy"
          },
          "description": "The retrieved return policies.",
          "type": "array"
        }
      }
    },
    "LocalCutoffTime": {
      "id": "LocalCutoffTime",
      "description": "Time that local delivery ends for the day.",
      "type": "object",
      "properties": {
        "hour": {
          "type": "string",
          "format": "int64",
          "description": "Hour local delivery orders must be placed by to process the same day."
        },
        "minute": {
          "format": "int64",
          "type": "string",
          "description": "Minute local delivery orders must be placed by to process the same day."
        }
      }
    },
    "BatchDeleteRegionsRequest": {
      "description": "Request message for the `BatchDeleteRegions` method.",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "DeleteRegionRequest"
          },
          "description": "Required. The names of the regions to delete. A maximum of 100 regions can be deleted in a batch."
        }
      },
      "id": "BatchDeleteRegionsRequest",
      "type": "object"
    },
    "BatchCreateRegionsResponse": {
      "description": "Response message for the `BatchCreateRegions` method.",
      "properties": {
        "regions": {
          "description": "The created region(s).",
          "type": "array",
          "items": {
            "$ref": "Region"
          }
        }
      },
      "id": "BatchCreateRegionsResponse",
      "type": "object"
    },
    "GeoTargetArea": {
      "type": "object",
      "description": "A list of geotargets that defines the region area.",
      "id": "GeoTargetArea",
      "properties": {
        "geotargetCriteriaIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Required. A non-empty list of [location IDs](https://developers.google.com/adwords/api/docs/appendix/geotargeting). They must all be of the same location type (for example, state).",
          "type": "array"
        }
      }
    },
    "Region": {
      "id": "Region",
      "description": "Represents a geographic region that you can use as a target with both the `RegionalInventory` and `ShippingSettings` services. You can define regions as collections of either postal codes, radius areas or, in some countries, using predefined geotargets. A region must be defined by specifying exactly one of `postal_code_area`, `geotarget_area`, or `radius_area`. For more information, see [Set up regions ](https://support.google.com/merchants/answer/7410946#zippy=%2Ccreate-a-new-region) for more information.",
      "properties": {
        "shippingEligible": {
          "description": "Output only. Indicates if the region is eligible for use in the Shipping Services configuration.",
          "readOnly": true,
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the region."
        },
        "regionalInventoryEligible": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates if the region is eligible for use in the Regional Inventory configuration."
        },
        "name": {
          "description": "Identifier. The resource name of the region. Format: `accounts/{account}/regions/{region}`",
          "type": "string"
        },
        "geotargetArea": {
          "$ref": "GeoTargetArea",
          "description": "Optional. A list of geotargets that defines the region area."
        },
        "radiusArea": {
          "description": "Optional. A radius area that defines the region area.",
          "$ref": "RadiusArea"
        },
        "postalCodeArea": {
          "description": "Optional. A list of postal codes that defines the region area.",
          "$ref": "PostalCodeArea"
        }
      },
      "type": "object"
    },
    "RateGroup": {
      "type": "object",
      "id": "RateGroup",
      "properties": {
        "carrierRates": {
          "type": "array",
          "items": {
            "$ref": "CarrierRate"
          },
          "description": "Optional. A list of carrier rates that can be referred to by `main_table` or `single_value`."
        },
        "singleValue": {
          "description": "The value of the rate group (For example flat rate $10). Can only be set if `main_table` and `subtables` are not set.",
          "$ref": "Value"
        },
        "mainTable": {
          "description": "A table defining the rate group, when `single_value` is not expressive enough. Can only be set if `single_value` is not set.",
          "$ref": "Table"
        },
        "applicableShippingLabels": {
          "items": {
            "type": "string"
          },
          "description": "Required. A list of [shipping labels](https://support.google.com/merchants/answer/6324504) defining the products to which this rate group applies to. This is a disjunction: only one of the labels has to match for the rate group to apply. May only be empty for the last rate group of a service.",
          "type": "array"
        },
        "subtables": {
          "description": "Optional. A list of subtables referred to by `main_table`. Can only be set if `main_table` is set.",
          "items": {
            "$ref": "Table"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of the rate group. If set has to be unique within shipping service."
        }
      },
      "description": "Shipping rate group definitions. Only the last one is allowed to have an empty `applicable_shipping_labels`, which means \"everything else\". The other `applicable_shipping_labels` must not overlap."
    },
    "RestockingFee": {
      "id": "RestockingFee",
      "properties": {
        "fixedFee": {
          "$ref": "Price",
          "description": "Fixed restocking fee."
        },
        "microPercent": {
          "description": "Percent of total price in micros. 15,000,000 means 15% of the total price would be charged.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The restocking fee. This can be a flat fee or a micro percent.",
      "type": "object"
    },
    "BatchCreateRegionsRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "CreateRegionRequest"
          },
          "description": "Required. The region(s) to create. The maximum number of regions that can be created in a batch is 100.",
          "type": "array"
        }
      },
      "description": "Request message for the `BatchCreateRegions` method.",
      "id": "BatchCreateRegionsRequest"
    },
    "StoreConfig": {
      "type": "object",
      "description": "A list of stores your products are delivered from. This is only valid for the local delivery shipment type.",
      "properties": {
        "serviceRadius": {
          "$ref": "Distance",
          "description": "Maximum delivery radius. This is only required for the local delivery shipment type."
        },
        "storeServiceType": {
          "type": "string",
          "description": "Indicates whether all stores, or selected stores, listed by this business provide local delivery.",
          "enum": [
            "STORE_SERVICE_TYPE_UNSPECIFIED",
            "ALL_STORES",
            "SELECTED_STORES"
          ],
          "enumDescriptions": [
            "Did not specify store service type.",
            "Indicates whether all stores, current and future, listed by this business provide local delivery.",
            "Indicates that only the stores listed in `store_codes` are eligible for local delivery."
          ]
        },
        "cutoffConfig": {
          "$ref": "CutoffConfig",
          "description": "Configs related to local delivery ends for the day."
        },
        "storeCodes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of store codes that provide local delivery. If empty, then `all_stores` must be true."
        }
      },
      "id": "StoreConfig"
    },
    "Value": {
      "type": "object",
      "description": "The single value of a rate group or the value of a rate group table's cell. Exactly one of `no_shipping`, `flat_rate`, `price_percentage`, `carrier_rateName`, `subtable_name` must be set.",
      "properties": {
        "noShipping": {
          "type": "boolean",
          "description": "If true, then the product can't be shipped. Must be true when set, can only be set if all other fields are not set."
        },
        "flatRate": {
          "description": "A flat rate. Can only be set if all other fields are not set.",
          "$ref": "Price"
        },
        "subtable": {
          "description": "The name of a subtable. Can only be set in table cells (For example, not for single values), and only if all other fields are not set.",
          "type": "string"
        },
        "carrierRate": {
          "type": "string",
          "description": "The name of a carrier rate referring to a carrier rate defined in the same rate group. Can only be set if all other fields are not set."
        },
        "pricePercentage": {
          "description": "A percentage of the price represented as a number in decimal notation (For example, `\"5.4\"`). Can only be set if all other fields are not set.",
          "type": "string"
        }
      },
      "id": "Value"
    },
    "BatchUpdateRegionsRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "UpdateRegionRequest"
          },
          "description": "Required. The region(s) to update. The maximum number of regions that can be updated in a batch is 100."
        }
      },
      "description": "Request message for the `BatchUpdateRegions` method.",
      "id": "BatchUpdateRegionsRequest"
    },
    "TransitTimeValue": {
      "type": "object",
      "id": "TransitTimeValue",
      "description": "Transit time range (min-max) in business days.",
      "properties": {
        "minTransitDays": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum transit time range in business days. 0 means same day delivery, 1 means next day delivery."
        },
        "maxTransitDays": {
          "description": "Must be greater than or equal to `min_transit_days`.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "LocationIdSet": {
      "description": "A list of location ID sets. Must be non-empty. Can only be set if all other fields are not set.",
      "type": "object",
      "properties": {
        "locationIds": {
          "description": "Required. A non-empty list of [location IDs](https://developers.google.com/adwords/api/docs/appendix/geotargeting). They must all be of the same location type (For example, state).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "LocationIdSet"
    },
    "MinimumOrderValueTable": {
      "id": "MinimumOrderValueTable",
      "type": "object",
      "description": "Table of per store minimum order values for the pickup fulfillment type.",
      "properties": {
        "storeCodeSetWithMovs": {
          "description": "Required. A list of store code sets sharing the same minimum order value (MOV). At least two sets are required and the last one must be empty, which signifies 'MOV for all other stores'. Each store code can only appear once across all the sets. All prices within a service must have the same currency.",
          "type": "array",
          "items": {
            "$ref": "StoreCodeSetWithMov"
          }
        }
      }
    },
    "ListAccountRelationshipsResponse": {
      "description": "Response after trying to list account relationships.",
      "properties": {
        "accountRelationships": {
          "description": "The account relationships that match your filter.",
          "type": "array",
          "items": {
            "$ref": "AccountRelationship"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A page token. You can send the `page_token` to get the next page. Only included in the `list` response if there are more pages."
        }
      },
      "type": "object",
      "id": "ListAccountRelationshipsResponse"
    },
    "Distance": {
      "type": "object",
      "id": "Distance",
      "properties": {
        "value": {
          "type": "string",
          "format": "int64",
          "description": "Integer value of distance."
        },
        "unit": {
          "description": "Unit can differ based on country, it is parameterized to include miles and kilometers.",
          "enum": [
            "UNIT_UNSPECIFIED",
            "MILES",
            "KILOMETERS"
          ],
          "enumDescriptions": [
            "Unit unspecified",
            "Unit in miles",
            "Unit in kilometers"
          ],
          "type": "string"
        }
      },
      "description": "Maximum delivery radius. This is only required for the local delivery shipment type."
    },
    "LocalListingManagement": {
      "description": "`LocalListingManagement` payload.",
      "type": "object",
      "properties": {},
      "id": "LocalListingManagement"
    },
    "DeleteRegionRequest": {
      "type": "object",
      "id": "DeleteRegionRequest",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the region to delete. Format: `accounts/{account}/regions/{region}`"
        }
      },
      "description": "Request message for the `DeleteRegion` method."
    },
    "BusinessInfo": {
      "properties": {
        "address": {
          "$ref": "PostalAddress",
          "description": "Optional. The address of the business. Only `region_code`, `address_lines`, `postal_code`, `administrative_area` and `locality` fields are supported. All other fields are ignored."
        },
        "phoneVerificationState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The phone is verified.",
            "The phone is unverified."
          ],
          "description": "Output only. The phone verification state of the business.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "PHONE_VERIFICATION_STATE_UNSPECIFIED",
            "PHONE_VERIFICATION_STATE_VERIFIED",
            "PHONE_VERIFICATION_STATE_UNVERIFIED"
          ]
        },
        "customerService": {
          "description": "Optional. The customer service of the business.",
          "$ref": "CustomerService"
        },
        "name": {
          "description": "Identifier. The resource name of the business info. Format: `accounts/{account}/businessInfo`",
          "type": "string"
        },
        "phone": {
          "readOnly": true,
          "description": "Output only. The phone number of the business.",
          "$ref": "PhoneNumber"
        },
        "koreanBusinessRegistrationNumber": {
          "description": "Optional. The 10-digit [Korean business registration number](https://support.google.com/merchants/answer/9037766) separated with dashes in the format: XXX-XX-XXXXX.",
          "type": "string"
        }
      },
      "description": "The `BusinessInfo` message contains essential information about a business. This message captures key business details such as physical address, customer service contacts, and region-specific identifiers.",
      "type": "object",
      "id": "BusinessInfo"
    },
    "AutomaticShippingImprovements": {
      "type": "object",
      "id": "AutomaticShippingImprovements",
      "description": "Not available for [advanced accounts](https://support.google.com/merchants/answer/188487). By turning on [automatic shipping improvements](https://support.google.com/merchants/answer/10027038), you are allowing Google to improve the accuracy of your delivery times shown to shoppers using Google. More accurate delivery times, especially when faster, typically lead to better conversion rates. Google will improve your estimated delivery times based on various factors: * Delivery address of an order * Current handling time and shipping time settings * Estimated weekdays or business days * Parcel tracking data",
      "properties": {
        "allowShippingImprovements": {
          "description": "Enables automatic shipping improvements.",
          "type": "boolean"
        }
      }
    },
    "CampaignsManagement": {
      "description": "`CampaignManagement` payload.",
      "type": "object",
      "properties": {},
      "id": "CampaignsManagement"
    },
    "LoyaltyProgramTiers": {
      "id": "LoyaltyProgramTiers",
      "properties": {
        "tierLabel": {
          "type": "string",
          "description": "The tier label [tier_label] sub-attribute differentiates offer level benefits between each tier. This value is also set in your program settings in Merchant Center, and is required for data source changes even if your loyalty program only has 1 tier."
        }
      },
      "description": "Subset of a business's loyalty program.",
      "type": "object"
    },
    "ListSubAccountsResponse": {
      "properties": {
        "accounts": {
          "items": {
            "$ref": "Account"
          },
          "description": "The accounts for which the given parent account is an aggregator.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListSubAccountsResponse",
      "description": "Response message for the `ListSubAccounts` method.",
      "type": "object"
    },
    "AddAccountService": {
      "id": "AddAccountService",
      "properties": {
        "accountManagement": {
          "description": "The provider manages this account. Payload for service type Account Management.",
          "$ref": "AccountManagement"
        },
        "provider": {
          "description": "Required. The provider of the service. Either the reference to an account such as `providers/123` or a well-known service provider (one of `providers/GOOGLE_ADS` or `providers/GOOGLE_BUSINESS_PROFILE`).",
          "type": "string"
        },
        "comparisonShopping": {
          "$ref": "ComparisonShopping",
          "description": "The provider is a CSS (Comparison Shopping Service) of this account. Payload for service type Comparison Shopping."
        },
        "accountAggregation": {
          "description": "The provider is an [aggregator](https://support.google.com/merchants/answer/188487) for the account. Payload for service type Account Aggregation.",
          "$ref": "AccountAggregation"
        },
        "externalAccountId": {
          "type": "string",
          "description": "Immutable. An optional, immutable identifier that Google uses to refer to this account when communicating with the provider. This should be the unique account ID within the provider's system (for example, your shop ID in Shopify). If you have multiple accounts with the same provider - for instance, different accounts for various regions — the `external_account_id` differentiates between them, ensuring accurate linking and integration between Google and the provider. The external account ID must be specified for the campaigns management service type. The external account ID must not be specified for the account aggregation service type. The external account ID is optional / may be specified for all other service types."
        },
        "campaignsManagement": {
          "description": "The provider manages campaigns for this account. Payload for service type campaigns management.",
          "$ref": "CampaignsManagement"
        },
        "productsManagement": {
          "description": "The provider manages products for this account. Payload for service type products management.",
          "$ref": "ProductsManagement"
        }
      },
      "description": "Additional instructions to add account services during creation of the account.",
      "type": "object"
    },
    "AutomaticItemUpdates": {
      "properties": {
        "effectiveAllowAvailabilityUpdates": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The effective value of allow_availability_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only."
        },
        "accountItemUpdatesSettings": {
          "$ref": "ItemUpdatesAccountLevelSettings",
          "description": "Optional. Determines which attributes of the items should be automatically updated. If this field is not present and provided in the update mask, then the settings will be deleted. If there are no settings for subaccount, they are inherited from aggregator."
        },
        "effectiveAllowStrictAvailabilityUpdates": {
          "readOnly": true,
          "description": "Output only. The effective value of allow_strict_availability_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only.",
          "type": "boolean"
        },
        "effectiveAllowPriceUpdates": {
          "description": "Output only. The effective value of allow_price_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only.",
          "readOnly": true,
          "type": "boolean"
        },
        "effectiveAllowConditionUpdates": {
          "readOnly": true,
          "description": "Output only. The effective value of allow_condition_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only.",
          "type": "boolean"
        }
      },
      "description": "Turning on [item updates](https://support.google.com/merchants/answer/3246284) allows Google to automatically update items for you. When item updates are on, Google uses the structured data markup on the website and advanced data extractors to update the price and availability of the items. When the item updates are off, items with mismatched data aren't shown.",
      "id": "AutomaticItemUpdates",
      "type": "object"
    },
    "ClaimHomepageRequest": {
      "properties": {
        "overwrite": {
          "type": "boolean",
          "description": "Optional. When set to `true`, this option removes any existing claim on the requested website from any other account to the account making the request, effectively replacing the previous claim."
        }
      },
      "id": "ClaimHomepageRequest",
      "description": "Request message for the `ClaimHomepage` method.",
      "type": "object"
    },
    "ShortCode": {
      "description": "An object representing a short code, which is a phone number that is typically much shorter than regular phone numbers and can be used to address messages in MMS and SMS systems, as well as for abbreviated dialing (For example \"Text 611 to see how many minutes you have remaining on your plan.\"). Short codes are restricted to a region and are not internationally dialable, which means the same short code can exist in different regions, with different usage and pricing, even if those regions share the same country calling code (For example: US and CA).",
      "properties": {
        "number": {
          "description": "Required. The short code digits, without a leading plus ('+') or country calling code. For example \"611\".",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "Required. The BCP-47 region code of the location where calls to this short code can be made, such as \"US\" and \"BB\". Reference(s): - http://www.unicode.org/reports/tr35/#unicode_region_subtag"
        }
      },
      "id": "ShortCode",
      "type": "object"
    },
    "WarehouseBasedDeliveryTime": {
      "id": "WarehouseBasedDeliveryTime",
      "type": "object",
      "description": "Indicates that the delivery time should be calculated per warehouse (shipping origin location) based on the settings of the selected carrier. When set, no other transit time related field in `delivery_time` should be set.",
      "properties": {
        "carrier": {
          "type": "string",
          "description": "Required. Carrier, such as `\"UPS\"` or `\"Fedex\"`. [supported carriers](https://support.google.com/merchants/answer/7050921#zippy=%2Ccarrier-rates-au-de-uk-and-us-only)"
        },
        "carrierService": {
          "type": "string",
          "description": "Required. Carrier service, such as `\"ground\"` or `\"2 days\"`. The name of the service must be in the eddSupportedServices list."
        },
        "warehouse": {
          "description": "Required. Warehouse name. This should match warehouse.",
          "type": "string"
        }
      }
    },
    "Policy": {
      "description": "The available policies.",
      "id": "Policy",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The number of days within which a return is valid after delivery.",
            "No returns.",
            "Life time returns."
          ],
          "description": "Policy type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NUMBER_OF_DAYS_AFTER_DELIVERY",
            "NO_RETURNS",
            "LIFETIME_RETURNS"
          ]
        },
        "days": {
          "format": "int64",
          "description": "The number of days items can be returned after delivery, where one day is defined as 24 hours after the delivery timestamp. Required for `NUMBER_OF_DAYS_AFTER_DELIVERY` returns.",
          "type": "string"
        }
      }
    },
    "FindLfpProvidersResponse": {
      "properties": {
        "lfpProviders": {
          "description": "The LFP providers from the specified merchant in the specified country.",
          "items": {
            "$ref": "LfpProvider"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for the FindLfpProviders method.",
      "type": "object",
      "id": "FindLfpProvidersResponse"
    },
    "GetAccountForGcpRegistrationResponse": {
      "type": "object",
      "description": "Response message for the GetAccountForGcpRegistration method.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the merchant account id that the GCP is registered with."
        }
      },
      "id": "GetAccountForGcpRegistrationResponse"
    },
    "LoyaltyProgram": {
      "description": "[Loyalty program](https://support.google.com/merchants/answer/12922446) provided by a business.",
      "properties": {
        "programLabel": {
          "description": "This is the loyalty program label set in your loyalty program settings in Merchant Center. This sub-attribute allows Google to map your loyalty program to eligible offers.",
          "type": "string"
        },
        "loyaltyProgramTiers": {
          "type": "array",
          "description": "Optional. Loyalty program tier of this shipping service.",
          "items": {
            "$ref": "LoyaltyProgramTiers"
          }
        }
      },
      "id": "LoyaltyProgram",
      "type": "object"
    },
    "LinkGbpAccountRequest": {
      "id": "LinkGbpAccountRequest",
      "properties": {
        "gbpEmail": {
          "type": "string",
          "description": "Required. The email address of the Business Profile account."
        }
      },
      "type": "object",
      "description": "Request message for the LinkGbpAccount method."
    },
    "EmailPreferences": {
      "id": "EmailPreferences",
      "properties": {
        "newsAndTips": {
          "enumDescriptions": [
            "Opt-in status is not specified.",
            "User has opted out of receiving this type of email.",
            "User has opted in to receiving this type of email.",
            "User has opted in to receiving this type of email and the confirmation email has been sent, but user has not yet confirmed the opt in (applies only to certain countries)."
          ],
          "enum": [
            "OPT_IN_STATE_UNSPECIFIED",
            "OPTED_OUT",
            "OPTED_IN",
            "UNCONFIRMED"
          ],
          "description": "Optional. Updates on new features, tips and best practices.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the EmailPreferences. The endpoint is only supported for the authenticated user.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The categories of notifications the user opted into / opted out of. The email preferences do not include mandatory announcements as users can't opt out of them."
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ListAccountServicesResponse": {
      "id": "ListAccountServicesResponse",
      "type": "object",
      "properties": {
        "accountServices": {
          "description": "The account services that match your filter.",
          "type": "array",
          "items": {
            "$ref": "AccountService"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A page token. You can send the `page_token` to get the next page. Only included in the `list` response if there are more pages."
        }
      },
      "description": "Response after trying to list account services."
    },
    "AutomaticImprovements": {
      "id": "AutomaticImprovements",
      "type": "object",
      "properties": {
        "itemUpdates": {
          "description": "Turning on [item updates](https://support.google.com/merchants/answer/3246284) allows Google to automatically update items for you. When item updates are on, Google uses the structured data markup on the website and advanced data extractors to update the price and availability of the items. When the item updates are off, items with mismatched data aren't shown. This field is only updated (cleared) if provided in the update mask.",
          "$ref": "AutomaticItemUpdates"
        },
        "imageImprovements": {
          "$ref": "AutomaticImageImprovements",
          "description": "This improvement will attempt to automatically correct submitted images if they don't meet the [image requirements](https://support.google.com/merchants/answer/6324350), for example, removing overlays. If successful, the image will be replaced and approved. This improvement is only applied to images of disapproved offers. For more information see: [Automatic image improvements](https://support.google.com/merchants/answer/9242973) This field is only updated (cleared) if provided in the update mask."
        },
        "name": {
          "description": "Identifier. The resource name of the automatic improvements. Format: `accounts/{account}/automaticImprovements`.",
          "type": "string"
        },
        "shippingImprovements": {
          "description": "Not available for [advanced accounts](https://support.google.com/merchants/answer/188487). By turning on [automatic shipping improvements](https://support.google.com/merchants/answer/10027038), you are allowing Google to improve the accuracy of your delivery times shown to shoppers using Google. More accurate delivery times, especially when faster, typically lead to better conversion rates. Google will improve your estimated delivery times based on various factors: * Delivery address of an order * Current handling time and shipping time settings * Estimated weekdays or business days * Parcel tracking data This field is only updated (cleared) if provided in the update mask.",
          "$ref": "AutomaticShippingImprovements"
        }
      },
      "description": "Collection of information related to the [automatic improvements](https://developers.google.com/shopping-content/guides/automatic-improvements) of an account."
    },
    "ProductsManagement": {
      "description": "`ProductsManagement` payload.",
      "type": "object",
      "id": "ProductsManagement",
      "properties": {}
    },
    "Requirement": {
      "properties": {
        "documentationUri": {
          "description": "Output only. The URL of a help page describing the requirement.",
          "type": "string",
          "readOnly": true
        },
        "affectedRegionCodes": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The regions that are currently affected by this requirement not being met. Region codes are defined by [CLDR](https://cldr.unicode.org/). This is either a country where the program applies specifically to that country or `001` when the program applies globally.",
          "type": "array",
          "readOnly": true
        },
        "title": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the requirement."
        }
      },
      "id": "Requirement",
      "description": "Defines a requirement specified for participation in the program.",
      "type": "object"
    },
    "TransitTimeRow": {
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "$ref": "TransitTimeValue"
          },
          "type": "array",
          "description": "Required. Transit time range (min-max) in business days."
        }
      },
      "id": "TransitTimeRow",
      "description": "If there's only one dimension set of `postal_code_group_names` or `transit_time_labels`, there are multiple rows each with one value for that dimension. If there are two dimensions, each row corresponds to a `postal_code_group_names`, and columns (values) to a `transit_time_labels`."
    },
    "Program": {
      "description": "Defines participation in a given program for the specified account. Programs provide a mechanism for adding functionality to a Merchant Center accounts. A typical example of this is the [Free product listings](https://support.google.com/merchants/answer/13889434) program, which enables products from a business's store to be shown across Google for free. The following list is the available set of program resource IDs accessible through the API: * `checkout` * `free-listings` * `product-ratings` * `shopping-ads` * `ucp-integration` (limited access) * `youtube-affiliate` * `youtube-shopping-checkout`",
      "id": "Program",
      "properties": {
        "unmetRequirements": {
          "type": "array",
          "description": "Output only. The requirements that the account has not yet satisfied that are affecting participation in the program.",
          "readOnly": true,
          "items": {
            "$ref": "Requirement"
          }
        },
        "documentationUri": {
          "type": "string",
          "description": "Output only. The URL of a Merchant Center help page describing the program.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the program. Format: `accounts/{account}/programs/{program}`"
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The account is not eligible to participate in the program.",
            "The account is eligible to participate in the program.",
            "The program is enabled for the account."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_ELIGIBLE",
            "ELIGIBLE",
            "ENABLED"
          ],
          "description": "Output only. The participation state of the account in the program.",
          "type": "string",
          "readOnly": true
        },
        "activeRegionCodes": {
          "type": "array",
          "description": "Output only. The regions in which the account is actively participating in the program. Active regions are defined as those where all program requirements affecting the regions have been met. Region codes are defined by [CLDR](https://cldr.unicode.org/). This is either a country where the program applies specifically to that country or `001` when the program applies globally.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "type": "object"
    },
    "LfpLink": {
      "type": "object",
      "id": "LfpLink",
      "properties": {
        "state": {
          "description": "Output only. The state of the LFP link.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ]
        },
        "lfpProvider": {
          "description": "Required. The resource name of the LFP provider. Format: `lfpProviders/{lfp_provider}`",
          "type": "string"
        },
        "externalAccountId": {
          "description": "Required. The account ID by which this merchant is known to the LFP provider.",
          "type": "string"
        }
      },
      "description": "Collection of information related to the LFP link."
    },
    "OmnichannelSetting": {
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Required. Immutable. Region code defined by [CLDR](https://cldr.unicode.org/). Must be provided in the Create method, and is immutable."
        },
        "inStock": {
          "description": "Optional. The InStock URI and state for this country.",
          "$ref": "InStock"
        },
        "inventoryVerification": {
          "$ref": "InventoryVerification",
          "description": "Optional. The inventory verification contact and state for this country."
        },
        "lfpLink": {
          "$ref": "LfpLink",
          "readOnly": true,
          "description": "Output only. The established link to a LFP provider."
        },
        "about": {
          "$ref": "About",
          "description": "Optional. The about page URI and state for this country."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the omnichannel setting. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`"
        },
        "pickup": {
          "description": "Optional. The Pickup URI and state for this country.",
          "$ref": "Pickup"
        },
        "lsfType": {
          "description": "Required. The Local Store Front type for this country.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Google-Hosted Local Store Front. Check the [HC article](https://support.google.com/merchants/answer/14869424) for more details.",
            "Merchant-Hosted Local Store Front Basic. Check the [HC article](https://support.google.com/merchants/answer/14615867) for more details.",
            "Merchant-Hosted Local Store Front Full. Check the [HC article](https://support.google.com/merchants/answer/14617076) for more details."
          ],
          "enum": [
            "LSF_TYPE_UNSPECIFIED",
            "GHLSF",
            "MHLSF_BASIC",
            "MHLSF_FULL"
          ],
          "type": "string"
        },
        "odo": {
          "description": "Optional. The On Display to Order (ODO) policy URI and state for this country.",
          "$ref": "OnDisplayToOrder"
        }
      },
      "id": "OmnichannelSetting",
      "description": "Collection of information related to the omnichannel settings of a merchant.",
      "type": "object"
    },
    "LfpProvider": {
      "description": "Collection of information related to a Local Feed Partnership (LFP) provider.",
      "id": "LfpProvider",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the LFP provider."
        },
        "regionCode": {
          "type": "string",
          "description": "Output only. Region code defined by [CLDR](https://cldr.unicode.org/).",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the LFP provider. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}/lfpProviders/{lfp_provider}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BusinessIdentity": {
      "description": "Collection of information related to the [identity of a business](https://support.google.com/merchants/answer/12564247).",
      "type": "object",
      "properties": {
        "promotionsConsent": {
          "enumDescriptions": [
            "Default value indicating that no selection was made.",
            "Indicates that the account consented to having their business identity used for promotions.",
            "Indicates that the account did not consent to having their business identity used for promotions."
          ],
          "enum": [
            "PROMOTIONS_CONSENT_UNSPECIFIED",
            "PROMOTIONS_CONSENT_GIVEN",
            "PROMOTIONS_CONSENT_DENIED"
          ],
          "description": "Required. Whether the identity attributes may be used for promotions.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the business identity. Format: `accounts/{account}/businessIdentity`",
          "type": "string"
        },
        "blackOwned": {
          "$ref": "IdentityAttribute",
          "description": "Optional. Specifies whether the business identifies itself as being black-owned. This optional field will only be available for businesses with the business country set to `US`. It is also not applicable for marketplaces or marketplace sellers."
        },
        "latinoOwned": {
          "description": "Optional. Specifies whether the business identifies itself as being latino-owned. This optional field will only be available for businesses with the business country set to `US`. It is also not applicable for marketplaces or marketplace sellers.",
          "$ref": "IdentityAttribute"
        },
        "smallBusiness": {
          "$ref": "IdentityAttribute",
          "description": "Optional. Specifies whether the business identifies itself as a small business. This optional field will only be available for businesses with a business country set to `US`. It is also not applicable for marketplaces."
        },
        "veteranOwned": {
          "$ref": "IdentityAttribute",
          "description": "Optional. Specifies whether the business identifies itself as being veteran-owned. This optional field will only be available for businesses with a business country set to `US`. It is also not applicable for marketplaces or marketplace sellers."
        },
        "womenOwned": {
          "$ref": "IdentityAttribute",
          "description": "Optional. Specifies whether the business identifies itself as being women-owned. This optional field will only be available for businesses with a business country set to `US`. It is also not applicable for marketplaces or marketplace sellers."
        }
      },
      "id": "BusinessIdentity"
    },
    "TermsOfServiceAgreementState": {
      "type": "object",
      "properties": {
        "accepted": {
          "description": "Optional. The accepted terms of service of this kind and for the associated region_code",
          "$ref": "Accepted"
        },
        "regionCode": {
          "type": "string",
          "description": "Required. Region code as defined by https://cldr.unicode.org/. This is the country the current state applies to."
        },
        "name": {
          "description": "Identifier. The resource name of the terms of service version. Format: `accounts/{account}/termsOfServiceAgreementState/{identifier}` The identifier format is: `{TermsOfServiceKind}-{country}` For example, an identifier could be: `MERCHANT_CENTER-EU` or `MERCHANT_CENTER-US`.",
          "type": "string"
        },
        "termsOfServiceKind": {
          "description": "Required. Terms of Service kind associated with the particular version.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Terms of Service for the Merchant Center application."
          ],
          "enum": [
            "TERMS_OF_SERVICE_KIND_UNSPECIFIED",
            "MERCHANT_CENTER"
          ]
        },
        "required": {
          "description": "Optional. The required terms of service",
          "$ref": "Required"
        }
      },
      "id": "TermsOfServiceAgreementState",
      "description": "This resource represents the agreement state for a given account and terms of service kind. The state is as follows: * If the business has accepted a terms of service, `accepted` will be populated, otherwise it will be empty * If the business must sign a terms of service, `required` will be populated, otherwise it will be empty. Note that both `required` and `accepted` can be present. In this case the `accepted` terms of services will have an expiration date set in the `valid_until` field. The `required` terms of services need to be accepted before `valid_until` in order for the account to continue having a valid agreement. When accepting new terms of services we expect third-party providers to display the text associated with the given terms of service agreement (the url to the file containing the text is added in the Required message below as `tos_file_uri`). The actual acceptance of the terms of service is done by calling accept on the `TermsOfService` resource. `valid_until` field."
    },
    "OnlineReturnPolicy": {
      "properties": {
        "countries": {
          "description": "Required. Immutable. The countries of sale where the return policy applies. The values must be a valid 2 letter ISO 3166 code.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "seasonalOverrides": {
          "items": {
            "$ref": "SeasonalOverride"
          },
          "type": "array",
          "description": "Optional. Overrides to the general policy for orders placed during a specific set of time intervals."
        },
        "returnShippingFee": {
          "$ref": "ReturnShippingFee",
          "description": "Optional. The return shipping fee. Should be set only when customer need to download and print the return label."
        },
        "itemConditions": {
          "type": "array",
          "items": {
            "enum": [
              "ITEM_CONDITION_UNSPECIFIED",
              "NEW",
              "USED"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "New.",
              "Used."
            ],
            "type": "string"
          },
          "description": "Optional. The item conditions accepted for returns must not be empty unless the type of return policy is 'noReturns'."
        },
        "restockingFee": {
          "description": "Optional. The restocking fee that applies to all return reason categories. This would be treated as a free restocking fee if the value is not set.",
          "$ref": "RestockingFee"
        },
        "returnMethods": {
          "type": "array",
          "items": {
            "enum": [
              "RETURN_METHOD_UNSPECIFIED",
              "BY_MAIL",
              "IN_STORE",
              "AT_A_KIOSK"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Return by mail.",
              "Return in store.",
              "Return at a kiosk."
            ]
          },
          "description": "Optional. The return methods of how customers can return an item. This value is required to not be empty unless the type of return policy is noReturns."
        },
        "acceptDefectiveOnly": {
          "description": "Optional. This field specifies if business only accepts defective products for returns.",
          "type": "boolean"
        },
        "processRefundDays": {
          "description": "Optional. The field specifies the number of days it takes for business to process refunds.",
          "type": "integer",
          "format": "int32"
        },
        "acceptExchange": {
          "type": "boolean",
          "description": "Optional. This field specifies if business allows customers to exchange products."
        },
        "name": {
          "description": "Identifier. The name of the `OnlineReturnPolicy` resource. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`",
          "type": "string"
        },
        "returnPolicyUri": {
          "type": "string",
          "description": "Required. The return policy uri. This can used by Google to do a sanity check for the policy. It must be a valid URL."
        },
        "policy": {
          "$ref": "Policy",
          "description": "Optional. The return policy."
        },
        "returnPolicyId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Return policy ID generated by Google."
        },
        "returnLabelSource": {
          "type": "string",
          "description": "Optional. The field specifies the return label source.",
          "enum": [
            "RETURN_LABEL_SOURCE_UNSPECIFIED",
            "DOWNLOAD_AND_PRINT",
            "IN_THE_PACKAGE",
            "CUSTOMER_RESPONSIBILITY"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Download and print.",
            "Label include in the package.",
            "Customer to provide."
          ]
        },
        "label": {
          "type": "string",
          "description": "Optional. Immutable. This field represents the unique user-defined label of the return policy for the given country. It is important to note that the same label cannot be used in different return policies for the same country. If not given, policies will be automatically treated as the 'default' for the country. When using label, you are creating an exception policy in that country to assign a custom return policy to certain product groups, follow the instructions provided in the [Return policy label] (https://support.google.com/merchants/answer/9445425). The label can contain up to 50 characters."
        }
      },
      "id": "OnlineReturnPolicy",
      "description": "[Online return policy](https://support.google.com/merchants/answer/10220642) object. This is currently used to represent return policies for ads and free listings programs.",
      "type": "object"
    },
    "ProposeAccountServiceRequest": {
      "id": "ProposeAccountServiceRequest",
      "description": "Request to propose an account service.",
      "type": "object",
      "properties": {
        "accountService": {
          "description": "Required. The account service to propose.",
          "$ref": "AccountService"
        },
        "provider": {
          "type": "string",
          "description": "Required. The provider of the service. Either the reference to an account such as `providers/123` or a well-known service provider (one of `providers/GOOGLE_ADS` or `providers/GOOGLE_BUSINESS_PROFILE`)."
        }
      }
    },
    "User": {
      "description": "The `User` resource represents a user associated with a Merchant Center account. It is used to manage user permissions and access rights within the account. For more information, see [Frequently asked questions about people and access levels](//support.google.com/merchants/answer/12160472).",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The user is pending confirmation. In this state, the user first needs to accept the invitation before performing other actions.",
            "The user is verified."
          ],
          "description": "Output only. The state of the user.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "VERIFIED"
          ],
          "type": "string"
        },
        "accessRights": {
          "description": "Required. The [access rights](https://support.google.com/merchants/answer/12160472?sjid=6789834943175119429-EU#accesstypes) the user has.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Standard access rights.",
              "Has access to the same read-only methods as STANDARD, but no access to any mutating methods.",
              "Admin access rights.",
              "Users with this right have access to performance and insights.",
              "Users with this right have access to Merchant API and its notifications. This role is only accessible to accounts that have a developer registration."
            ],
            "enum": [
              "ACCESS_RIGHT_UNSPECIFIED",
              "STANDARD",
              "READ_ONLY",
              "ADMIN",
              "PERFORMANCE_REPORTING",
              "API_DEVELOPER"
            ],
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the user. Format: `accounts/{account}/user/{email}` Use `me` to refer to your own email address, for example `accounts/{account}/users/me`."
        }
      },
      "type": "object",
      "id": "User"
    },
    "TransitTable": {
      "type": "object",
      "id": "TransitTable",
      "properties": {
        "rows": {
          "items": {
            "$ref": "TransitTimeRow"
          },
          "description": "Required. If there's only one dimension set of `postal_code_group_names` or `transit_time_labels`, there are multiple rows each with one value for that dimension. If there are two dimensions, each row corresponds to a `postal_code_group_names`, and columns (values) to a `transit_time_labels`.",
          "type": "array"
        },
        "postalCodeGroupNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A list of region names Region.name . The last value can be `\"all other locations\"`. Example: `[\"zone 1\", \"zone 2\", \"all other locations\"]`. The referred postal code groups must match the delivery country of the service."
        },
        "transitTimeLabels": {
          "description": "Required. A list of transit time labels. The last value can be `\"all other labels\"`. Example: `[\"food\", \"electronics\", \"all other labels\"]`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Transit time table, number of business days spent in transit based on row and column dimensions. Either `min_transit_days`, `max_transit_days` or `transit_time_table` can be set, but not both."
    },
    "VerificationMailSettings": {
      "id": "VerificationMailSettings",
      "type": "object",
      "properties": {
        "verificationMailMode": {
          "enum": [
            "VERIFICATION_MAIL_MODE_UNSPECIFIED",
            "SEND_VERIFICATION_MAIL",
            "SUPPRESS_VERIFICATION_MAIL"
          ],
          "type": "string",
          "description": "Optional. Mode of the verification mail. If not set, the default is `SEND_VERIFICATION_MAIL`.",
          "enumDescriptions": [
            "Default first member of every enum. Do not use.",
            "An invitation email is sent to the user added shortly after.",
            "No invitation email is sent. This can be useful if the user is expected to accept the invitation through the API without needing another notification."
          ]
        }
      },
      "description": "Settings related to the verification email that is sent after adding a user."
    },
    "Service": {
      "id": "Service",
      "description": "Shipping service.",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "Required. The CLDR code of the currency to which this service applies. Must match that of the prices in rate groups."
        },
        "serviceName": {
          "type": "string",
          "description": "Required. Free-form name of the service. Must be unique within target account."
        },
        "minimumOrderValue": {
          "description": "Optional. Minimum order value for this service. If set, indicates that customers will have to spend at least this amount. All prices within a service must have the same currency. Cannot be set together with `minimum_order_value_table`.",
          "$ref": "Price"
        },
        "active": {
          "type": "boolean",
          "description": "Required. A boolean exposing the active status of the shipping service."
        },
        "loyaltyPrograms": {
          "items": {
            "$ref": "LoyaltyProgram"
          },
          "type": "array",
          "description": "Optional. Loyalty programs that this shipping service is limited to."
        },
        "rateGroups": {
          "type": "array",
          "items": {
            "$ref": "RateGroup"
          },
          "description": "Optional. Shipping rate group definitions. Only the last one is allowed to have an empty `applicable_shipping_labels`, which means \"everything else\". The other `applicable_shipping_labels` must not overlap."
        },
        "deliveryTime": {
          "description": "Required. Time spent in various aspects from order to the delivery of the product.",
          "$ref": "DeliveryTime"
        },
        "shipmentType": {
          "type": "string",
          "enum": [
            "SHIPMENT_TYPE_UNSPECIFIED",
            "DELIVERY",
            "LOCAL_DELIVERY",
            "COLLECTION_POINT"
          ],
          "description": "Optional. Type of locations this service ships orders to.",
          "enumDescriptions": [
            "This service did not specify shipment type.",
            "This service ships orders to an address chosen by the customer.",
            "This service ships orders to an address chosen by the customer. The order is shipped from a local store near by.",
            "This service ships orders to an address chosen by the customer. The order is shipped from a collection point."
          ]
        },
        "minimumOrderValueTable": {
          "$ref": "MinimumOrderValueTable",
          "description": "Optional. Table of per store minimum order values for the pickup fulfillment type. Cannot be set together with `minimum_order_value`."
        },
        "storeConfig": {
          "$ref": "StoreConfig",
          "description": "A list of stores your products are delivered from. This is only valid for the local delivery shipment type."
        },
        "deliveryCountries": {
          "type": "array",
          "description": "Required. The CLDR territory code of the countries to which the service applies.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ShippingSettings": {
      "id": "ShippingSettings",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the shipping settings. Format: `accounts/{account}/shippingSettings`. For example, `accounts/123456/shippingSettings`.",
          "type": "string"
        },
        "etag": {
          "description": "Required. This field helps avoid async issues. It ensures that the shipping setting data doesn't change between the `get` call and the `insert` call. The user should follow these steps: 1. Set the etag field as an empty string for the initial shipping setting creation. 2. After the initial creation, call the `get` method to obtain an etag and the current shipping setting data before calling `insert`. 3. Modify the shipping setting information. 4. Call the `insert` method with the shipping setting information and the etag obtained in step 2. 5. If the shipping setting data changes between step 2 and step 4, the insert request will fail because the etag changes every time the shipping setting data changes. In this case, the user should repeat steps 2-4 with the new etag.",
          "type": "string"
        },
        "warehouses": {
          "items": {
            "$ref": "Warehouse"
          },
          "description": "Optional. A list of warehouses which can be referred to in `services`.",
          "type": "array"
        },
        "services": {
          "description": "Optional. The target account's list of services.",
          "type": "array",
          "items": {
            "$ref": "Service"
          }
        }
      },
      "description": "The Merchant Center account's [shipping settings](https://support.google.com/merchants/answer/6069284). The `ShippingSettings` resource lets you retrieve and update the shipping settings of your advanced account and all its associated sub-accounts.",
      "type": "object"
    },
    "RequestInventoryVerificationRequest": {
      "id": "RequestInventoryVerificationRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for the RequestInventoryVerification method."
    },
    "ReturnShippingFee": {
      "type": "object",
      "id": "ReturnShippingFee",
      "description": "The return shipping fee. This can either be a fixed fee or a boolean to indicate that the customer pays the actual shipping cost.",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "FIXED",
            "CUSTOMER_PAYING_ACTUAL_FEE"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The return shipping fee is a fixed value.",
            "Customers will pay the actual return shipping fee."
          ],
          "type": "string",
          "description": "Required. Type of return shipping fee."
        },
        "fixedFee": {
          "$ref": "Price",
          "description": "Fixed return shipping fee amount. This value is only applicable when type is `FIXED`. We will treat the return shipping fee as free if type is `FIXED` and this value is not set."
        }
      }
    },
    "Price": {
      "properties": {
        "amountMicros": {
          "format": "int64",
          "description": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros).",
          "type": "string"
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217)."
        }
      },
      "description": "The price represented as a number and currency.",
      "id": "Price",
      "type": "object"
    },
    "InStock": {
      "type": "object",
      "properties": {
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ],
          "description": "Output only. The state of the in-stock serving."
        },
        "uri": {
          "type": "string",
          "description": "Optional. Product landing page URI. It is only used for the review of MHLSF in-stock serving. This URI domain should match with the business's homepage. Required to be empty if the lsf_type is GHLSF, and required when the lsf_type is MHLSF_FULL or MHLSF_BASIC."
        }
      },
      "description": "Collection of information related to InStock.",
      "id": "InStock"
    },
    "AddUser": {
      "id": "AddUser",
      "type": "object",
      "properties": {
        "userId": {
          "type": "string",
          "description": "Required. The email address of the user (for example, `john.doe@gmail.com`)."
        },
        "user": {
          "description": "Optional. Details about the user to be added. At the moment, only access rights may be specified.",
          "$ref": "User"
        },
        "verificationMailSettings": {
          "description": "Optional. Settings related to configuring the verification email that is sent after adding a user.",
          "$ref": "VerificationMailSettings"
        }
      },
      "description": "Instruction for adding a user to the account during creation."
    },
    "VerifySelfRequest": {
      "properties": {},
      "type": "object",
      "description": "Request message for the `VerifySelf` method.",
      "id": "VerifySelfRequest"
    },
    "LinkGbpAccountResponse": {
      "id": "LinkGbpAccountResponse",
      "properties": {
        "response": {
          "description": "Empty response.",
          "$ref": "Empty"
        }
      },
      "type": "object",
      "description": "Response message for the LinkGbpAccount method."
    },
    "OnDisplayToOrder": {
      "id": "OnDisplayToOrder",
      "type": "object",
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ],
          "description": "Output only. The state of the URI.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "type": "string"
        },
        "uri": {
          "description": "Required. The on display to order (ODO) policy URI.",
          "type": "string"
        }
      },
      "description": "Collection of information related to the on display to order ([ODO](https://support.google.com/merchants/answer/14615056?ref_topic=15145747&sjid=6892280366904591178-NC))."
    },
    "Homepage": {
      "id": "Homepage",
      "type": "object",
      "properties": {
        "claimed": {
          "description": "Output only. Whether the homepage is claimed. See https://support.google.com/merchants/answer/176793.",
          "readOnly": true,
          "type": "boolean"
        },
        "uri": {
          "type": "string",
          "description": "Required. The URI (typically a URL) of the store's homepage."
        },
        "name": {
          "description": "Identifier. The resource name of the store's homepage. Format: `accounts/{account}/homepage`",
          "type": "string"
        }
      },
      "description": "The `Homepage` message represents a business's store homepage within the system. A business's homepage is the primary domain where customers interact with their store. The homepage can be claimed and verified as a proof of ownership and allows the business to unlock features that require a verified website. For more information, see [Understanding online store URL verification](//support.google.com/merchants/answer/176793)."
    },
    "BusinessDayConfig": {
      "id": "BusinessDayConfig",
      "properties": {
        "businessDays": {
          "description": "Required. Regular business days. May not be empty.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "WEEKDAY_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ]
          }
        }
      },
      "type": "object",
      "description": "Business days of the warehouse."
    },
    "UriSettings": {
      "type": "object",
      "description": "URL settings for cart or checkout URL.",
      "id": "UriSettings",
      "properties": {
        "checkoutUriTemplate": {
          "description": "Checkout URL template. When the placeholders are expanded will redirect the buyer to the merchant checkout page with the item in the cart. For more details, check the [help center doc](https://support.google.com/merchants/answer/13945960#method1&zippy=%2Cproduct-level-url-formatting%2Caccount-level-url-formatting)",
          "type": "string"
        },
        "cartUriTemplate": {
          "description": "Cart URL template. When the placeholders are expanded will redirect the buyer to the cart page on the merchant website with the selected item in cart. For more details, check the [help center doc](https://support.google.com/merchants/answer/13945960#method1&zippy=%2Cproduct-level-url-formatting%2Caccount-level-url-formatting)",
          "type": "string"
        }
      }
    },
    "Account": {
      "properties": {
        "accountName": {
          "description": "Required. A human-readable name of the account. Don't use punctuation, capitalization, or non-alphanumeric symbols such as the \"/\" or \"_\" symbols. See [Adding a business name](https://support.google.com/merchants/answer/12159159) for more information.",
          "type": "string"
        },
        "adultContent": {
          "type": "boolean",
          "description": "Optional. Whether this account contains adult content."
        },
        "name": {
          "description": "Identifier. The resource name of the account. Format: `accounts/{account}`",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Required. The account's [BCP-47 language code](https://tools.ietf.org/html/bcp47), such as `en-US` or `sr-Latn`."
        },
        "timeZone": {
          "$ref": "TimeZone",
          "description": "Required. The time zone of the account. On writes, `time_zone` sets both the `reporting_time_zone` and the `display_time_zone`. For reads, `time_zone` always returns the `display_time_zone`. If `display_time_zone` doesn't exist for your account, `time_zone` is empty. The `version` field is not supported, won't be set in responses and will be silently ignored if specified in requests."
        },
        "testAccount": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether this is a test account."
        },
        "accountId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the account.",
          "format": "int64"
        }
      },
      "description": "The `Account` message represents a business's account within Merchant Center. It's the primary entity for managing product data, settings, and interactions with Google's services and external providers. Accounts can operate as standalone entities or be part of a advanced account structure. In an advanced account setup the parent account manages multiple sub-accounts. Establishing an account involves configuring attributes like the account name, time zone, and language preferences. The `Account` message is the parent entity for many other resources, for example, `AccountRelationship`, `Homepage`, `BusinessInfo` and so on.",
      "type": "object",
      "id": "Account"
    },
    "DisableProgramRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for the DisableProgram method.",
      "id": "DisableProgramRequest"
    },
    "ProductStatusChangeMessage": {
      "type": "object",
      "description": "The message that the merchant will receive to notify about product status change event",
      "id": "ProductStatusChangeMessage",
      "properties": {
        "changes": {
          "type": "array",
          "description": "A message to describe the change that happened to the product",
          "items": {
            "$ref": "ProductChange"
          }
        },
        "account": {
          "description": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`",
          "type": "string"
        },
        "eventTime": {
          "description": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications.",
          "format": "google-datetime",
          "type": "string"
        },
        "expirationTime": {
          "description": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event.",
          "format": "google-datetime",
          "type": "string"
        },
        "resource": {
          "description": "The product name. Format: `accounts/{account}/products/{product}`",
          "type": "string"
        },
        "resourceType": {
          "enum": [
            "RESOURCE_UNSPECIFIED",
            "PRODUCT",
            "ACCOUNT_SERVICE"
          ],
          "enumDescriptions": [
            "Unspecified resource",
            "Resource type : product",
            "Account service"
          ],
          "description": "The resource that changed, in this case it will always be `Product`.",
          "type": "string"
        },
        "attribute": {
          "description": "The attribute in the resource that changed, in this case it will be always `Status`.",
          "enum": [
            "ATTRIBUTE_UNSPECIFIED",
            "STATUS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified attribute",
            "Status of the changed entity"
          ]
        },
        "resourceId": {
          "type": "string",
          "description": "The product id."
        },
        "managingAccount": {
          "description": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`",
          "type": "string"
        }
      }
    },
    "AcceptTermsOfServiceResponse": {
      "description": "Response message for the `AcceptTermsOfService` method.",
      "properties": {
        "termsOfServiceAgreementState": {
          "$ref": "TermsOfServiceAgreementState",
          "description": "The agreement state after accepting the ToS."
        }
      },
      "type": "object",
      "id": "AcceptTermsOfServiceResponse"
    },
    "ListUsersResponse": {
      "type": "object",
      "description": "Response message for the `ListUsers` method.",
      "id": "ListUsersResponse",
      "properties": {
        "users": {
          "type": "array",
          "description": "The users from the specified account.",
          "items": {
            "$ref": "User"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "PostalAddress": {
      "id": "PostalAddress",
      "type": "object",
      "properties": {
        "recipients": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information.",
          "type": "array"
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\"."
        },
        "revision": {
          "format": "int32",
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions.",
          "type": "integer"
        },
        "sublocality": {
          "type": "string",
          "description": "Optional. Sublocality of the address. For example, this can be a neighborhood, borough, or district."
        },
        "locality": {
          "type": "string",
[...]
