{
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "id": "merchantapi:accounts_v1beta",
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20260903",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "version": "accounts_v1beta",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/merchant/api",
  "name": "merchantapi",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "servicePath": "",
  "mtlsRootUrl": "https://merchantapi.mtls.googleapis.com/",
  "rootUrl": "https://merchantapi.googleapis.com/",
  "resources": {
    "accounts": {
      "methods": {
        "listSubaccounts": {
          "path": "accounts/v1beta/{+provider}:listSubaccounts",
          "response": {
            "$ref": "ListSubAccountsResponse"
          },
          "flatPath": "accounts/v1beta/accounts/{accountsId}:listSubaccounts",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "merchantapi.accounts.listSubaccounts",
          "parameters": {
            "provider": {
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "description": "Required. The aggregation service provider. Format: `accounts/{accountId}`",
              "location": "path"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `accounts.list` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided in the `accounts.list` request must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Optional. The maximum number of accounts to return. The service may return fewer than this value. If unspecified, at most 250 accounts are returned. The maximum value is 500; values above 500 are coerced to 500."
            }
          },
          "httpMethod": "GET",
          "description": "List all sub-accounts for a given advanced account. This is a convenience wrapper for the more powerful `accounts.list` method. This method will produce the same results as calling `ListsAccounts` with the following filter: `relationship(providerId={parent} AND service(type=\"ACCOUNT_AGGREGATION\"))`",
          "parameterOrder": [
            "provider"
          ]
        },
        "delete": {
          "parameterOrder": [
            "name"
          ],
          "path": "accounts/v1beta/{+name}",
          "flatPath": "accounts/v1beta/accounts/{accountsId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "merchantapi.accounts.delete",
          "description": "Deletes the specified account regardless of its type: standalone, advanced account or sub-account. Deleting an advanced account leads to the deletion of all of its sub-accounts. This also deletes the account's [developer registration entity](/merchant/api/reference/rest/accounts_v1beta/accounts.developerRegistration) and any associated GCP project to the account. Executing this method requires admin access. The deletion succeeds only if the account does not provide services to any other account and has no processed offers. You can use the `force` parameter to override this.",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the account to delete. Format: `accounts/{account}`",
              "required": true,
              "pattern": "^accounts/[^/]+$",
              "location": "path"
            },
            "force": {
              "description": "Optional. If set to `true`, the account is deleted even if it provides services to other accounts or has processed offers.",
              "type": "boolean",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Empty"
          }
        },
        "patch": {
          "parameterOrder": [
            "name"
          ],
          "description": "Updates an account regardless of its type: standalone, advanced account or sub-account. Executing this method requires admin access.",
          "flatPath": "accounts/v1beta/accounts/{accountsId}",
          "path": "accounts/v1beta/{+name}",
          "response": {
            "$ref": "Account"
          },
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `account_name` - `adult_content` - `language_code` - `time_zone`",
              "location": "query"
            },
            "name": {
              "description": "Identifier. The resource name of the account. Format: `accounts/{account}`",
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "Account"
          },
          "id": "merchantapi.accounts.patch",
          "httpMethod": "PATCH"
        },
        "createAndConfigure": {
          "request": {
            "$ref": "CreateAndConfigureAccountRequest"
          },
          "response": {
            "$ref": "Account"
          },
          "id": "merchantapi.accounts.createAndConfigure",
          "path": "accounts/v1beta/accounts:createAndConfigure",
          "flatPath": "accounts/v1beta/accounts:createAndConfigure",
          "description": "Creates a Merchant Center account with additional configuration. Adds the user that makes the request as an admin for the new account.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "POST",
          "parameters": {}
        },
        "createTestAccount": {
          "response": {
            "$ref": "Account"
          },
          "id": "merchantapi.accounts.createTestAccount",
          "path": "accounts/v1beta/{+parent}:createTestAccount",
          "httpMethod": "POST",
          "request": {
            "$ref": "Account"
          },
          "flatPath": "accounts/v1beta/accounts/{accountsId}:createTestAccount",
          "parameters": {
            "parent": {
              "required": true,
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. The account resource name to create the test account under. Format: accounts/{account}"
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "description": "Creates a Merchant Center test account. Test accounts are intended for development and testing purposes, such as validating API integrations or new feature behavior. Key characteristics and limitations of test accounts: - Immutable Type: A test account cannot be converted into a regular (live) Merchant Center account. Likewise, a regular account cannot be converted into a test account. - Non-Serving Products: Any products, offers, or data created within a test account will not be published or made visible to end-users on any Google surfaces. They are strictly for testing environments. - Separate Environment: Test accounts operate in a sandbox-like manner, isolated from live serving and real user traffic.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "flatPath": "accounts/v1beta/accounts/{accountsId}",
          "id": "merchantapi.accounts.get",
          "response": {
            "$ref": "Account"
          },
          "path": "accounts/v1beta/{+name}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the account to retrieve. Format: `accounts/{account}`",
              "location": "path",
              "required": true,
              "pattern": "^accounts/[^/]+$"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "description": "Retrieves an account from your Merchant Center account. After inserting, updating, or deleting an account, it may take several minutes before changes take effect."
        },
        "list": {
          "id": "merchantapi.accounts.list",
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "flatPath": "accounts/v1beta/accounts",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "accounts/v1beta/accounts",
          "description": "Note: For the `accounts.list` method, quota and limits usage are charged for each user, and not for the Merchant Center ID or the advanced account ID. To list several sub-accounts, you should use the `accounts.listSubaccounts` method, which is more suitable for advanced accounts use case.",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "Optional. A page token, received from a previous `accounts.list` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided in the `accounts.list` request must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "Optional. Returns only accounts that match the [filter](https://developers.google.com/merchant/api/guides/accounts/filter). For more details, see the [filter syntax reference](https://developers.google.com/merchant/api/guides/accounts/filter-syntax)."
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "Optional. The maximum number of accounts to return. The service may return fewer than this value. If unspecified, at most 250 accounts are returned. The maximum value is 500; values above 500 are coerced to 500.",
              "type": "integer"
            }
          }
        }
      },
      "resources": {
        "gbpAccounts": {
          "methods": {
            "linkGbpAccount": {
              "description": "Link the specified merchant to a GBP account for all countries. To run this method, you must have admin access to the Merchant Center account. If you don't have admin access, the request fails with the error message `User is not an administrator of account {ACCOUNT_ID}`.",
              "path": "accounts/v1beta/{+parent}/gbpAccounts:linkGbpAccount",
              "response": {
                "$ref": "LinkGbpAccountResponse"
              },
              "id": "merchantapi.accounts.gbpAccounts.linkGbpAccount",
              "request": {
                "$ref": "LinkGbpAccountRequest"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/gbpAccounts:linkGbpAccount",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The name of the parent resource to which the GBP account is linked. Format: `accounts/{account}`."
                }
              }
            },
            "list": {
              "id": "merchantapi.accounts.gbpAccounts.list",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/gbpAccounts",
              "response": {
                "$ref": "ListGbpAccountsResponse"
              },
              "path": "accounts/v1beta/{+parent}/gbpAccounts",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The name of the parent resource under which the GBP accounts are listed. Format: `accounts/{account}`."
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of `GbpAccount` resources to return. The service returns fewer than this value if the number of gbp accounts is less that than the `pageSize`. The default value is 50. The maximum value is 1000; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum."
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListGbpAccounts` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `ListGbpAccounts` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "List the GBP accounts for a given merchant.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "homepage": {
          "methods": {
            "claim": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "POST",
              "path": "accounts/v1beta/{+name}:claim",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the homepage to claim. Format: `accounts/{account}/homepage`",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/homepage$"
                }
              },
              "id": "merchantapi.accounts.homepage.claim",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/homepage:claim",
              "request": {
                "$ref": "ClaimHomepageRequest"
              },
              "description": "Claims a store's homepage. Executing this method requires admin access. If the homepage is already claimed, this will recheck the verification (unless the business is exempted from claiming, which also exempts from verification) and return a successful response. If ownership can no longer be verified, it will return an error, but it won't clear the claim. In case of failure, a canonical error message is returned: * PERMISSION_DENIED: User doesn't have the necessary permissions on this Merchant Center account. * FAILED_PRECONDITION: - The account is not a Merchant Center account. - Merchant Center account doesn't have a homepage. - Claiming failed (in this case the error message contains more details).",
              "response": {
                "$ref": "Homepage"
              }
            },
            "updateHomepage": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `uri`",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "description": "Identifier. The resource name of the store's homepage. Format: `accounts/{account}/homepage`",
                  "pattern": "^accounts/[^/]+/homepage$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "merchantapi.accounts.homepage.updateHomepage",
              "httpMethod": "PATCH",
              "description": "Updates a store's homepage. Executing this method requires admin access.",
              "request": {
                "$ref": "Homepage"
              },
              "path": "accounts/v1beta/{+name}",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/homepage",
              "response": {
                "$ref": "Homepage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "unclaim": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/homepage:unclaim",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Unclaims a store's homepage. Executing this method requires admin access.",
              "response": {
                "$ref": "Homepage"
              },
              "request": {
                "$ref": "UnclaimHomepageRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "id": "merchantapi.accounts.homepage.unclaim",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/homepage$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the homepage to unclaim. Format: `accounts/{account}/homepage`"
                }
              },
              "path": "accounts/v1beta/{+name}:unclaim"
            },
            "getHomepage": {
              "id": "merchantapi.accounts.homepage.getHomepage",
              "description": "Retrieves a store's homepage.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/homepage",
              "path": "accounts/v1beta/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the homepage to retrieve. Format: `accounts/{account}/homepage`",
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/homepage$"
                }
              },
              "response": {
                "$ref": "Homepage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "regions": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.regions.get",
              "response": {
                "$ref": "Region"
              },
              "description": "Retrieves a region defined in your Merchant Center account.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions/{regionsId}",
              "path": "accounts/v1beta/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the region to retrieve. Format: `accounts/{account}/regions/{region}`",
                  "pattern": "^accounts/[^/]+/regions/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "delete": {
              "path": "accounts/v1beta/{+name}",
              "description": "Deletes a region definition from your Merchant Center account. Executing this method requires admin access.",
              "id": "merchantapi.accounts.regions.delete",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions/{regionsId}",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the region to delete. Format: `accounts/{account}/regions/{region}`",
                  "pattern": "^accounts/[^/]+/regions/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "DELETE"
            },
            "list": {
              "httpMethod": "GET",
              "id": "merchantapi.accounts.regions.list",
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListRegions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRegions` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "description": "Required. The account to list regions for. Format: `accounts/{account}`"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of regions to return. The service may return fewer than this value. If unspecified, at most 50 regions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions",
              "description": "Lists the regions in your Merchant Center account.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "accounts/v1beta/{+parent}/regions",
              "response": {
                "$ref": "ListRegionsResponse"
              }
            },
            "patch": {
              "path": "accounts/v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a region definition in your Merchant Center account. Executing this method requires admin access.",
              "parameters": {
                "name": {
                  "description": "Identifier. The resource name of the region. Format: `accounts/{account}/regions/{region}`",
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+/regions/[^/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Optional. The comma-separated field mask indicating the fields to update. Example: `\"displayName,postalCodeArea.regionCode\"`.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "Region"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "PATCH",
              "id": "merchantapi.accounts.regions.patch",
              "response": {
                "$ref": "Region"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions/{regionsId}"
            },
            "create": {
              "path": "accounts/v1beta/{+parent}/regions",
              "id": "merchantapi.accounts.regions.create",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions",
              "request": {
                "$ref": "Region"
              },
              "response": {
                "$ref": "Region"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The account to create a region for. Format: `accounts/{account}`",
                  "required": true
                },
                "regionId": {
                  "type": "string",
                  "description": "Required. The identifier for the region, unique over all regions of the same account.",
                  "location": "query"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Creates a region definition in your Merchant Center account. Executing this method requires admin access."
            }
          }
        },
        "issues": {
          "methods": {
            "list": {
              "description": "Lists all account issues of a Merchant Center account. When called on a multi-client account, this method only returns issues belonging to that account, not its sub-accounts. To retrieve issues for sub-accounts, you must first call the accounts.listSubaccounts method to obtain a list of sub-accounts, and then call `accounts.issues.list` for each sub-account individually.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/issues",
              "id": "merchantapi.accounts.issues.list",
              "path": "accounts/v1beta/{+parent}/issues",
              "parameters": {
                "languageCode": {
                  "location": "query",
                  "description": "Optional. The issues in the response will have human-readable fields in the given language. The format is [BCP-47](https://tools.ietf.org/html/bcp47), such as `en-US` or `sr-Latn`. If not value is provided, `en-US` will be used.",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent, which owns this collection of issues. Format: `accounts/{account}`",
                  "required": true,
                  "pattern": "^accounts/[^/]+$"
                },
                "timeZone": {
                  "description": "Optional. The [IANA](https://www.iana.org/time-zones) timezone used to localize times in human-readable fields. For example 'America/Los_Angeles'. If not set, 'America/Los_Angeles' will be used.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListAccountIssues` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountIssues` must match the call that provided the page token.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of issues to return. The service may return fewer than this value. If unspecified, at most 50 issues will be returned. The maximum value is 100; values above 100 will be coerced to 100",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAccountIssuesResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        },
        "programs": {
          "methods": {
            "disable": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the program for which to disable participation for the given account. Format: `accounts/{account}/programs/{program}`. For example, `accounts/123456/programs/free-listings`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/programs/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "id": "merchantapi.accounts.programs.disable",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}:disable",
              "request": {
                "$ref": "DisableProgramRequest"
              },
              "description": "Disable participation in the specified program for the account.",
              "path": "accounts/v1beta/{+name}:disable",
              "response": {
                "$ref": "Program"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "enable": {
              "id": "merchantapi.accounts.programs.enable",
              "path": "accounts/v1beta/{+name}:enable",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+/programs/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the program for which to enable participation for the given account. Format: `accounts/{account}/programs/{program}`. For example, `accounts/123456/programs/free-listings`."
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}:enable",
              "request": {
                "$ref": "EnableProgramRequest"
              },
              "description": "Enable participation in the specified program for the account.",
              "httpMethod": "POST",
              "response": {
                "$ref": "Program"
              }
            },
            "get": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Retrieves the specified program for the account.",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/programs/[^/]+$",
                  "description": "Required. The name of the program to retrieve. Format: `accounts/{account}/programs/{program}`. For example, `accounts/123456/programs/free-listings`.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Program"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.programs.get",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}",
              "path": "accounts/v1beta/{+name}"
            },
            "list": {
              "response": {
                "$ref": "ListProgramsResponse"
              },
              "description": "Retrieves all programs for the account.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.programs.list",
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the account for which to retrieve all programs. Format: `accounts/{account}`"
                },
                "pageToken": {
                  "description": "Optional. A continuation token, received from a previous `ListPrograms` call. Provide this to retrieve the next page.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of programs to return in a single response. If unspecified (or 0), a default size of 1000 is used. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/programs",
              "httpMethod": "GET",
              "path": "accounts/v1beta/{+parent}/programs",
              "parameterOrder": [
                "parent"
              ]
            }
          },
          "resources": {
            "checkoutSettings": {
              "methods": {
                "getCheckoutSettings": {
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "response": {
                    "$ref": "CheckoutSettings"
                  },
                  "path": "accounts/v1beta/{+name}",
                  "id": "merchantapi.accounts.programs.checkoutSettings.getCheckoutSettings",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name/identifier of the merchant account. Format: `accounts/{account}/programs/{program}/checkoutSettings`",
                      "type": "string",
                      "required": true,
                      "pattern": "^accounts/[^/]+/programs/[^/]+/checkoutSettings$"
                    }
                  },
                  "description": "Gets `CheckoutSettings` for the given merchant. This includes information about review state, enrollment state and URL settings.",
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "updateCheckoutSettings": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates `CheckoutSettings` for the given merchant.",
                  "path": "accounts/v1beta/{+name}",
                  "request": {
                    "$ref": "CheckoutSettings"
                  },
                  "response": {
                    "$ref": "CheckoutSettings"
                  },
                  "id": "merchantapi.accounts.programs.checkoutSettings.updateCheckoutSettings",
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "parameters": {
                    "name": {
                      "description": "Identifier. The resource name of the program configuration settings. Format: `accounts/{account}/programs/{program}/checkoutSettings`",
                      "pattern": "^accounts/[^/]+/programs/[^/]+/checkoutSettings$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `eligible_destinations` - `uri_settings`"
                    }
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ]
                },
                "deleteCheckoutSettings": {
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes `CheckoutSettings` and unenrolls merchant from `Checkout` program.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^accounts/[^/]+/programs/[^/]+/checkoutSettings$",
                      "description": "Required. The name/identifier of the merchant account. Format: `accounts/{account}/programs/{program}/checkoutSettings`",
                      "type": "string"
                    }
                  },
                  "path": "accounts/v1beta/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "id": "merchantapi.accounts.programs.checkoutSettings.deleteCheckoutSettings"
                },
                "create": {
                  "id": "merchantapi.accounts.programs.checkoutSettings.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "CheckoutSettings"
                  },
                  "path": "accounts/v1beta/{+parent}/checkoutSettings",
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "response": {
                    "$ref": "CheckoutSettings"
                  },
                  "description": "Creates `CheckoutSettings` for the given merchant.",
                  "parameters": {
                    "parent": {
                      "pattern": "^accounts/[^/]+/programs/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The merchant account for which the `CheckoutSettings` will be created.",
                      "type": "string"
                    }
                  },
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "httpMethod": "POST"
                }
              }
            }
          }
        },
        "users": {
          "resources": {
            "me": {
              "methods": {
                "verifySelf": {
                  "parameterOrder": [
                    "account"
                  ],
                  "parameters": {
                    "account": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the account under which the caller is a user. Format: `accounts/{account}`",
                      "type": "string",
                      "pattern": "^accounts/[^/]+$"
                    }
                  },
                  "id": "merchantapi.accounts.users.me.verifySelf",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "description": "Updates the user that is represented by the caller from pending to verified.",
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/users/me:verifySelf",
                  "response": {
                    "$ref": "User"
                  },
                  "request": {
                    "$ref": "VerifySelfRequest"
                  },
                  "path": "accounts/v1beta/{+account}/users/me:verifySelf"
                }
              }
            }
          },
          "methods": {
            "delete": {
              "id": "merchantapi.accounts.users.delete",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a Merchant Center account user. Executing this method requires admin access. The user to be deleted can't be the last admin user of that account.",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the user to delete. Format: `accounts/{account}/users/{email}` It is also possible to delete the user corresponding to the caller by using `me` rather than an email address as in `accounts/{account}/users/me`.",
                  "pattern": "^accounts/[^/]+/users/[^/]+$"
                }
              },
              "httpMethod": "DELETE",
              "path": "accounts/v1beta/{+name}"
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListUsers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUsers` must match the call that provided the page token.",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent, which owns this collection of users. Format: `accounts/{account}`"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of users to return. The service may return fewer than this value. If unspecified, at most 50 users will be returned. The maximum value is 100; values above 100 will be coerced to 100",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListUsersResponse"
              },
              "description": "Lists all users of a Merchant Center account.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+parent}/users",
              "id": "merchantapi.accounts.users.list",
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "id": "merchantapi.accounts.users.patch",
              "path": "accounts/v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Identifier. The resource name of the user. Format: `accounts/{account}/user/{email}` Use `me` to refer to your own email address, for example `accounts/{account}/users/me`.",
                  "pattern": "^accounts/[^/]+/users/[^/]+$",
                  "required": true
                },
                "updateMask": {
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `access_rights`",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "User"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "User"
              },
              "description": "Updates a Merchant Center account user. Executing this method requires admin access.",
              "httpMethod": "PATCH"
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "id": "merchantapi.accounts.users.create",
              "response": {
                "$ref": "User"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+parent}/users",
              "description": "Creates a Merchant Center account user. Executing this method requires admin access.",
              "httpMethod": "POST",
              "request": {
                "$ref": "User"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name of the account for which a user will be created. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$"
                },
                "userId": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The email address of the user (for example, `john.doe@gmail.com`)."
                }
              }
            },
            "get": {
              "path": "accounts/v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieves a Merchant Center account user.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the user to retrieve. Format: `accounts/{account}/users/{email}` It is also possible to retrieve the user corresponding to the caller by using `me` rather than an email address as in `accounts/{account}/users/me`.",
                  "pattern": "^accounts/[^/]+/users/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "User"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}",
              "id": "merchantapi.accounts.users.get"
            }
          }
        },
        "automaticImprovements": {
          "methods": {
            "updateAutomaticImprovements": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/automaticImprovements",
              "httpMethod": "PATCH",
              "id": "merchantapi.accounts.automaticImprovements.updateAutomaticImprovements",
              "response": {
                "$ref": "AutomaticImprovements"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Identifier. The resource name of the automatic improvements. Format: `accounts/{account}/automaticImprovements`.",
                  "pattern": "^accounts/[^/]+/automaticImprovements$",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query",
                  "description": "Required. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `item_updates` - `item_updates.account_level_settings` - `image_improvements` - `image_improvements.account_level_settings` - `shipping_improvements` - `shipping_improvements.allow_shipping_improvements`"
                }
              },
              "description": "Updates the automatic improvements of an account.",
              "path": "accounts/v1beta/{+name}",
              "request": {
                "$ref": "AutomaticImprovements"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "getAutomaticImprovements": {
              "id": "merchantapi.accounts.automaticImprovements.getAutomaticImprovements",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+/automaticImprovements$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the automatic improvements. Format: `accounts/{account}/automaticImprovements`"
                }
              },
              "description": "Retrieves the automatic improvements of an account.",
              "httpMethod": "GET",
              "response": {
                "$ref": "AutomaticImprovements"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/automaticImprovements"
            }
          }
        },
        "services": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "Optional. The token returned by the previous `list` request.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The parent account of the account service to filter by. Format: `accounts/{account}`",
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of elements to return in the response. Use for paging. If no `page_size` is specified, `100` is used as the default value. The maximum allowed value is `1000`."
                }
              },
              "response": {
                "$ref": "ListAccountServicesResponse"
              },
              "id": "merchantapi.accounts.services.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "List account services for the specified accounts. Supports filtering.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services",
              "path": "accounts/v1beta/{+parent}/services"
            },
            "propose": {
              "description": "Propose an account service.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services:propose",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "AccountService"
              },
              "request": {
                "$ref": "ProposeAccountServiceRequest"
              },
              "path": "accounts/v1beta/{+parent}/services:propose",
              "id": "merchantapi.accounts.services.propose",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the parent account for the service. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "POST"
            },
            "get": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services/{servicesId}",
              "response": {
                "$ref": "AccountService"
              },
              "path": "accounts/v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieve an account service.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET",
              "id": "merchantapi.accounts.services.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the account service to get. Format: `accounts/{account}/services/{service}`",
                  "pattern": "^accounts/[^/]+/services/[^/]+$",
                  "type": "string"
                }
              }
            },
            "reject": {
              "description": "Reject an account service (both proposed and approve services can be rejected).",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services/{servicesId}:reject",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the account service to reject. Format: `accounts/{account}/services/{service}`",
                  "pattern": "^accounts/[^/]+/services/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "POST",
              "id": "merchantapi.accounts.services.reject",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "RejectAccountServiceRequest"
              },
              "path": "accounts/v1beta/{+name}:reject"
            },
            "approve": {
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ApproveAccountServiceRequest"
              },
              "description": "Approve an account service proposal.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+name}:approve",
              "id": "merchantapi.accounts.services.approve",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+/services/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name of the account service to approve. Format: `accounts/{account}/services/{service}`",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "AccountService"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services/{servicesId}:approve"
            }
          }
        },
        "businessIdentity": {
          "methods": {
            "getBusinessIdentity": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the business identity. Format: `accounts/{account}/businessIdentity`. For example, `accounts/123456/businessIdentity`.",
                  "pattern": "^accounts/[^/]+/businessIdentity$",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "description": "Retrieves the business identity of an account.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.businessIdentity.getBusinessIdentity",
              "response": {
                "$ref": "BusinessIdentity"
              },
              "path": "accounts/v1beta/{+name}",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/businessIdentity",
              "parameterOrder": [
                "name"
              ]
            },
            "updateBusinessIdentity": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/businessIdentity",
              "path": "accounts/v1beta/{+name}",
              "request": {
                "$ref": "BusinessIdentity"
              },
              "response": {
                "$ref": "BusinessIdentity"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Identifier. The resource name of the business identity. Format: `accounts/{account}/businessIdentity`",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/businessIdentity$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `black_owned` - `latino_owned` - `promotions_consent` - `small_business` - `veteran_owned` - `women_owned`",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Updates the business identity of an account. Executing this method requires admin access.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.businessIdentity.updateBusinessIdentity"
            }
          }
        },
        "omnichannelSettings": {
          "methods": {
            "create": {
              "path": "accounts/v1beta/{+parent}/omnichannelSettings",
              "request": {
                "$ref": "OmnichannelSetting"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent resource where this omnichannel setting will be created. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "merchantapi.accounts.omnichannelSettings.create",
              "response": {
                "$ref": "OmnichannelSetting"
              },
              "description": "Create the omnichannel settings for a given merchant.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Identifier. The resource name of the omnichannel setting. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$",
                  "required": true
                },
                "updateMask": {
                  "type": "string",
                  "description": "Required. The list of fields to be updated. The following fields are supported in snake_case only: - `lsf_type` - `in_stock` - `pickup` - `odo` - `about` - `inventory_verification` Full replacement with wildcard `*`is supported, while empty/implied update mask is not.",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}",
              "request": {
                "$ref": "OmnichannelSetting"
              },
              "path": "accounts/v1beta/{+name}",
              "response": {
                "$ref": "OmnichannelSetting"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Update the omnichannel setting for a given merchant in a given country.",
              "id": "merchantapi.accounts.omnichannelSettings.patch"
            },
            "list": {
              "id": "merchantapi.accounts.omnichannelSettings.list",
              "description": "List all the omnichannel settings for a given merchant.",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of omnichannel settings to return. The service may return fewer than this value. If unspecified, at most 50 omnichannel settings will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListOmnichannelSettings` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOmnichannelSettings` must match the call that provided the page token.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The parent, which owns this collection of omnichannel settings. Format: `accounts/{account}`",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "accounts/v1beta/{+parent}/omnichannelSettings",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListOmnichannelSettingsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "requestInventoryVerification": {
              "path": "accounts/v1beta/{+name}:requestInventoryVerification",
              "request": {
                "$ref": "RequestInventoryVerificationRequest"
              },
              "id": "merchantapi.accounts.omnichannelSettings.requestInventoryVerification",
              "description": "Requests inventory verification for a given merchant in a given country.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}:requestInventoryVerification",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "RequestInventoryVerificationResponse"
              },
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the omnichannel setting to request inventory verification. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "get": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "OmnichannelSetting"
              },
              "id": "merchantapi.accounts.omnichannelSettings.get",
              "description": "Get the omnichannel settings for a given merchant.",
              "httpMethod": "GET",
              "path": "accounts/v1beta/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the omnichannel setting to retrieve. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$",
                  "required": true
                }
              }
            }
          },
          "resources": {
            "lfpProviders": {
              "methods": {
                "find": {
                  "description": "Find the LFP provider candidates in a given country.",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `FindLfpProviders` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `FindLfpProviders` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of `LfpProvider` resources to return. The service returns fewer than this value if the number of lfp providers is less that than the `pageSize`. The default value is 50. The maximum value is 1000; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum."
                    },
                    "parent": {
                      "description": "Required. The name of the parent resource under which the LFP providers are found. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`.",
                      "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "merchantapi.accounts.omnichannelSettings.lfpProviders.find",
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "response": {
                    "$ref": "FindLfpProvidersResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}/lfpProviders:find",
                  "path": "accounts/v1beta/{+parent}/lfpProviders:find"
                },
                "linkLfpProvider": {
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "accounts/v1beta/{+name}:linkLfpProvider",
                  "request": {
                    "$ref": "LinkLfpProviderRequest"
                  },
                  "id": "merchantapi.accounts.omnichannelSettings.lfpProviders.linkLfpProvider",
                  "description": "Link the specified merchant to a LFP provider for the specified country.",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the LFP provider resource to link. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}/lfpProviders/{lfp_provider}`. The `lfp_provider` is the LFP provider ID.",
                      "required": true,
                      "location": "path",
                      "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+/lfpProviders/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}/lfpProviders/{lfpProvidersId}:linkLfpProvider",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "LinkLfpProviderResponse"
                  }
                }
              }
            }
          }
        },
        "autofeedSettings": {
          "methods": {
            "getAutofeedSettings": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.autofeedSettings.getAutofeedSettings",
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieves the autofeed settings of an account.",
              "path": "accounts/v1beta/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/autofeedSettings$",
                  "description": "Required. The resource name of the autofeed settings. Format: `accounts/{account}/autofeedSettings`"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/autofeedSettings",
              "response": {
                "$ref": "AutofeedSettings"
              }
            },
            "updateAutofeedSettings": {
              "request": {
                "$ref": "AutofeedSettings"
              },
              "path": "accounts/v1beta/{+name}",
              "id": "merchantapi.accounts.autofeedSettings.updateAutofeedSettings",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "AutofeedSettings"
              },
              "description": "Updates the autofeed settings of an account.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/autofeedSettings",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/autofeedSettings$",
                  "description": "Identifier. The resource name of the autofeed settings. Format: `accounts/{account}/autofeedSettings`.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Required. List of fields being updated.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              }
            }
          }
        },
        "termsOfServiceAgreementStates": {
          "methods": {
            "retrieveForApplication": {
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The account for which to get a TermsOfServiceAgreementState Format: `accounts/{account}`",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "merchantapi.accounts.termsOfServiceAgreementStates.retrieveForApplication",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/termsOfServiceAgreementStates:retrieveForApplication",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Retrieves the state of the agreement for the application terms of service. Application terms of service covers permissions related to the usage of data provided through Merchant Center, CSS Center, Manufacturer Center, and more.",
              "path": "accounts/v1beta/{+parent}/termsOfServiceAgreementStates:retrieveForApplication",
              "response": {
                "$ref": "TermsOfServiceAgreementState"
              }
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the terms of service version. Format: `accounts/{account}/termsOfServiceAgreementStates/{identifier}` The identifier format is: `{TermsOfServiceKind}-{country}`",
                  "pattern": "^accounts/[^/]+/termsOfServiceAgreementStates/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/termsOfServiceAgreementStates/{termsOfServiceAgreementStatesId}",
              "description": "Returns the state of a terms of service agreement.",
              "id": "merchantapi.accounts.termsOfServiceAgreementStates.get",
              "response": {
                "$ref": "TermsOfServiceAgreementState"
              }
            }
          }
        },
        "shippingSettings": {
          "methods": {
            "getShippingSettings": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/shippingSettings",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "accounts/v1beta/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the shipping setting to retrieve. Format: `accounts/{account}/shippingsettings`",
                  "pattern": "^accounts/[^/]+/shippingSettings$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "ShippingSettings"
              },
              "id": "merchantapi.accounts.shippingSettings.getShippingSettings",
              "description": "Retrieve shipping setting information.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "insert": {
              "response": {
                "$ref": "ShippingSettings"
              },
              "id": "merchantapi.accounts.shippingSettings.insert",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "ShippingSettings"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/shippingSettings:insert",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+parent}/shippingSettings:insert",
              "description": "Replace the shipping setting of a business with the request shipping setting. Executing this method requires admin access.",
              "parameters": {
                "parent": {
                  "description": "Required. The account for which this shipping setting will be inserted. If you are using an advanced account, you must specify the unique identifier of the sub-account for which you want to insert the shipping setting. Format: `accounts/{ACCOUNT_ID}`",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "POST"
            }
          }
        },
        "emailPreferences": {
          "methods": {
            "updateEmailPreferences": {
              "request": {
                "$ref": "EmailPreferences"
              },
              "path": "accounts/v1beta/{+name}",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Identifier. The name of the EmailPreferences. The endpoint is only supported for the authenticated user.",
                  "pattern": "^accounts/[^/]+/users/[^/]+/emailPreferences$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "description": "Required. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `news_and_tips`",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}/emailPreferences",
              "id": "merchantapi.accounts.emailPreferences.updateEmailPreferences",
              "response": {
                "$ref": "EmailPreferences"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Updates the email preferences for a Merchant Center account user. Advanced account users should specify the advanced account rather than a sub-account of the advanced account. Preferences which are not explicitly selected in the update mask will not be updated. It is invalid for updates to specify an UNCONFIRMED opt-in status value. Use the name=accounts/*/users/me/emailPreferences alias to update preferences for the authenticated user."
            },
            "getEmailPreferences": {
              "path": "accounts/v1beta/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the `EmailPreferences` resource. Format: `accounts/{account}/users/{email}/emailPreferences`",
                  "required": true,
                  "pattern": "^accounts/[^/]+/users/[^/]+/emailPreferences$",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}/emailPreferences",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "EmailPreferences"
              },
              "description": "Returns the email preferences for a Merchant Center account user. This service only permits retrieving and updating email preferences for the authenticated user. Use the name=accounts/*/users/me/emailPreferences alias to get preferences for the authenticated user.",
              "id": "merchantapi.accounts.emailPreferences.getEmailPreferences"
            }
          }
        },
        "onlineReturnPolicies": {
          "methods": {
            "patch": {
              "id": "merchantapi.accounts.onlineReturnPolicies.patch",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies/{onlineReturnPoliciesId}",
              "response": {
                "$ref": "OnlineReturnPolicy"
              },
              "httpMethod": "PATCH",
              "description": "Updates an existing return policy for a given business.",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/onlineReturnPolicies/[^/]+$",
                  "description": "Identifier. The name of the `OnlineReturnPolicy` resource. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Only support updating the entire OnlineReturnPolicy message. For update_mask, always use `*`.",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+name}",
              "request": {
                "$ref": "OnlineReturnPolicy"
              }
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies/{onlineReturnPoliciesId}",
              "response": {
                "$ref": "Empty"
              },
              "path": "accounts/v1beta/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/onlineReturnPolicies/[^/]+$",
                  "description": "Required. The name of the return policy to delete. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`",
                  "required": true
                }
              },
              "httpMethod": "DELETE",
              "id": "merchantapi.accounts.onlineReturnPolicies.delete",
              "description": "Deletes an existing return policy.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "list": {
              "path": "accounts/v1beta/{+parent}/onlineReturnPolicies",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies",
              "id": "merchantapi.accounts.onlineReturnPolicies.list",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The Merchant Center account for which to list return policies. Format: `accounts/{account}`",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListOnlineReturnPolicies` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `ListOnlineReturnPolicies` must match the call that provided the page token. The token returned as nextPageToken in the response to the previous request.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of `OnlineReturnPolicy` resources to return. The service returns fewer than this value if the number of return policies for the given business is less that than the `pageSize`. The default value is 10. The maximum value is 100; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListOnlineReturnPoliciesResponse"
              },
              "description": "Lists all existing return policies for a given business."
            },
            "create": {
              "response": {
                "$ref": "OnlineReturnPolicy"
              },
              "path": "accounts/v1beta/{+parent}/onlineReturnPolicies",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "id": "merchantapi.accounts.onlineReturnPolicies.create",
              "parameters": {
                "parent": {
                  "description": "Required. The Merchant Center account for which the return policy will be created. Format: `accounts/{account}`",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "OnlineReturnPolicy"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies",
              "description": "Creates a new return policy for a given business.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "get": {
              "path": "accounts/v1beta/{+name}",
              "id": "merchantapi.accounts.onlineReturnPolicies.get",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies/{onlineReturnPoliciesId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "OnlineReturnPolicy"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the return policy to retrieve. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`",
                  "pattern": "^accounts/[^/]+/onlineReturnPolicies/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Gets an existing return policy for a given business.",
              "httpMethod": "GET"
            }
          }
        },
        "developerRegistration": {
          "methods": {
            "registerGcp": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "RegisterGcpRequest"
              },
              "description": "Registers the GCP used for the API call to the shopping account passed in the request. Will create a user with an \"API developer\" and add the \"developer_email\" as a contact with \"API notifications\" email preference on. Restrictions: * The caller account must be authenticated and must not impersonate another account at registration time. Registering for subaccounts is not supported if the caller account is authenticated with the parent or the managing advanced account. * The caller account must have a [verified website](https://support.google.com/merchants/answer/11586344) in Merchant Center. * [Test accounts](https://developers.google.com/merchant/api/guides/accounts/test-accounts) are not eligible for registration.",
              "response": {
                "$ref": "DeveloperRegistration"
              },
              "path": "accounts/v1beta/{+name}:registerGcp",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/developerRegistration:registerGcp",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+/developerRegistration$",
                  "description": "Required. The name of the developer registration to be created for the merchant account that the GCP will be registered with. Format: `accounts/{account}/developerRegistration` The {account} used must be the same account where user calling this API method is directly added to. Note: The account used must be a production account (can't be a [test account](https://developers.google.com/merchant/api/guides/accounts/test-accounts) ) and must have a [verified website](https://support.google.com/merchants/answer/11586344) in Merchant Center.",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "merchantapi.accounts.developerRegistration.registerGcp"
            },
            "unregisterGcp": {
              "path": "accounts/v1beta/{+name}:unregisterGcp",
              "httpMethod": "POST",
              "description": "Unregister the calling GCP from the calling shopping account. Note that the GCP will still be able to access the API for at most 1 day from the unregister succussful call.",
              "id": "merchantapi.accounts.developerRegistration.unregisterGcp",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+/developerRegistration$",
                  "type": "string",
                  "description": "Required. The name of the developer registration to be created for the merchant account that the GCP will be registered with. Format: `accounts/{account}/developerRegistration`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "UnregisterGcpRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/developerRegistration:unregisterGcp"
            },
            "getAccountForGcpRegistration": {
              "flatPath": "accounts/v1beta/accounts:getAccountForGcpRegistration",
              "parameterOrder": [],
              "description": "Retrieves the merchant account that the calling GCP is registered with.",
              "response": {
                "$ref": "GetAccountForGcpRegistrationResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET",
              "parameters": {},
              "id": "merchantapi.accounts.developerRegistration.getAccountForGcpRegistration",
              "path": "accounts/v1beta/accounts:getAccountForGcpRegistration"
            },
            "getDeveloperRegistration": {
              "id": "merchantapi.accounts.developerRegistration.getDeveloperRegistration",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Retrieves a developer registration for a merchant.",
              "response": {
                "$ref": "DeveloperRegistration"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/developerRegistration$",
                  "type": "string",
                  "description": "Required. The `name` (ID) of the developer registration."
                }
              },
              "path": "accounts/v1beta/{+name}",
              "httpMethod": "GET",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/developerRegistration"
            }
          }
        },
        "relationships": {
          "methods": {
            "get": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/relationships/{relationshipsId}",
              "response": {
                "$ref": "AccountRelationship"
              },
              "path": "accounts/v1beta/{+name}",
              "description": "Retrieve an account relationship.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of the account relationship to get. Format: `accounts/{account}/relationships/{relationship}`. For example, `accounts/123456/relationships/567890`.",
                  "pattern": "^accounts/[^/]+/relationships/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "merchantapi.accounts.relationships.get",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of elements to return in the response. Use for paging. If no `page_size` is specified, `100` is used as the default value. The maximum allowed value is `1000`.",
                  "type": "integer"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent account of the account relationship to filter by. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$"
                },
                "pageToken": {
                  "description": "Optional. The token returned by the previous `list` request.",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "merchantapi.accounts.relationships.list",
              "response": {
                "$ref": "ListAccountRelationshipsResponse"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/relationships",
              "path": "accounts/v1beta/{+parent}/relationships",
              "description": "List account relationships for the specified account."
            },
            "patch": {
              "path": "accounts/v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "AccountRelationship"
              },
              "id": "merchantapi.accounts.relationships.patch",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates the account relationship. Executing this method requires admin access.",
              "request": {
                "$ref": "AccountRelationship"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/relationships/{relationshipsId}",
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `account_id_alias`",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier. The resource name of the account relationship. Format: `accounts/{account}/relationships/{relationship}`. For example, `accounts/123456/relationships/567890`.",
                  "pattern": "^accounts/[^/]+/relationships/[^/]+$",
                  "type": "string"
                }
              }
            }
          }
        },
        "businessInfo": {
          "methods": {
            "getBusinessInfo": {
              "response": {
                "$ref": "BusinessInfo"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.businessInfo.getBusinessInfo",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/businessInfo",
              "httpMethod": "GET",
              "description": "Retrieves the business info of an account.",
              "parameters": {
                "name": {
[...]
