{
  "id": "merchantapi:products_v1",
  "revision": "20260904",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://merchantapi.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "version": "products_v1",
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "rootUrl": "https://merchantapi.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Merchant",
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/merchant/api",
  "name": "merchantapi",
  "servicePath": "",
  "schemas": {
    "ProductWeight": {
      "type": "object",
      "description": "The weight of the product.",
      "properties": {
        "value": {
          "type": "number",
          "format": "double",
          "description": "Required. The weight represented as a number. The weight can have a maximum precision of four decimal places."
        },
        "unit": {
          "type": "string",
          "description": "Required. The weight unit. Acceptable values are: * \"`g`\" * \"`kg`\" * \"`oz`\" * \"`lb`\""
        }
      },
      "id": "ProductWeight"
    },
    "ShippingBusinessDaysConfig": {
      "type": "object",
      "description": "The business days during which orders are on their path to fulfillment. If not provided, Monday to Friday business days will be assumed.",
      "properties": {
        "businessDays": {
          "description": "Effective days of the week considered for the delivery time calculation. May not be empty. The more business days included the faster the delivery. Can be set through individual days (e.g. `MTWRF`), or day ranges (e.g. `Mon-Fri`). For more information about accepted formats, see [Shipping handling business days](https://support.google.com/merchants/answer/16072859).",
          "type": "string"
        },
        "country": {
          "description": "The [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the country to which an item will ship.",
          "type": "string"
        }
      },
      "id": "ShippingBusinessDaysConfig"
    },
    "Interval": {
      "id": "Interval",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string"
        }
      }
    },
    "ProductStatus": {
      "id": "ProductStatus",
      "type": "object",
      "properties": {
        "googleExpirationDate": {
          "description": "Date on which the item expires, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "type": "string",
          "format": "google-datetime"
        },
        "destinationStatuses": {
          "description": "The intended destinations for the product.",
          "type": "array",
          "items": {
            "$ref": "DestinationStatus"
          }
        },
        "lastUpdateDate": {
          "format": "google-datetime",
          "description": "Date on which the item has been last updated, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "type": "string"
        },
        "creationDate": {
          "format": "google-datetime",
          "description": "Date on which the item has been created, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "type": "string"
        },
        "itemLevelIssues": {
          "type": "array",
          "items": {
            "$ref": "ItemLevelIssue"
          },
          "description": "A list of all issues associated with the product."
        }
      },
      "description": "The status of a product, data validation issues, that is, information about a product computed asynchronously."
    },
    "ProductInstallment": {
      "properties": {
        "totalAmount": {
          "description": "Optional. Total amount the buyer has to pay, including interest.",
          "$ref": "Price"
        },
        "months": {
          "description": "The number of installments the buyer has to pay.",
          "type": "string",
          "format": "int64"
        },
        "annualPercentageRate": {
          "format": "double",
          "type": "number",
          "description": "Optional. Annual percentage rate for `credit_type` finance"
        },
        "creditType": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Finance.",
            "Lease."
          ],
          "type": "string",
          "enum": [
            "CREDIT_TYPE_UNSPECIFIED",
            "FINANCE",
            "LEASE"
          ],
          "description": "Type of installment payments."
        },
        "downpayment": {
          "$ref": "Price",
          "description": "The up-front down payment amount the buyer has to pay."
        },
        "amount": {
          "description": "The amount the buyer has to pay per month.",
          "$ref": "Price"
        }
      },
      "description": "A message that represents installment.",
      "id": "ProductInstallment",
      "type": "object"
    },
    "StructuredTitle": {
      "type": "object",
      "id": "StructuredTitle",
      "description": "Structured title, for algorithmically (AI)-generated titles.",
      "properties": {
        "digitalSourceType": {
          "enum": [
            "DIGITAL_SOURCE_TYPE_UNSPECIFIED",
            "TRAINED_ALGORITHMIC_MEDIA",
            "DEFAULT"
          ],
          "description": "The digital source type. Following [IPTC](https://cv.iptc.org/newscodes/digitalsourcetype).",
          "type": "string",
          "enumDescriptions": [
            "Digital source type is unspecified.",
            "Text created algorithmically using a model derived from sampled content.",
            "Text NOT created algorithmically using a model derived from sampled content (the default)"
          ]
        },
        "content": {
          "description": "The title text Maximum length is 150 characters",
          "type": "string"
        }
      }
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "ProductDetail": {
      "description": "The product details.",
      "type": "object",
      "id": "ProductDetail",
      "properties": {
        "attributeName": {
          "description": "The name of the product detail.",
          "type": "string"
        },
        "attributeValue": {
          "type": "string",
          "description": "The value of the product detail."
        },
        "sectionName": {
          "type": "string",
          "description": "The section header used to group a set of product details."
        }
      }
    },
    "HandlingCutoffTime": {
      "type": "object",
      "description": "Configuration for offer or offer-country level shipping handling cutoff time.",
      "id": "HandlingCutoffTime",
      "properties": {
        "country": {
          "type": "string",
          "description": "The [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the country to which the handling cutoff time applies."
        },
        "cutoffTime": {
          "type": "string",
          "description": "The handling cutoff time until which an order has to be placed to be processed in the same day. This is a string in format of HHMM (e.g. `1530`) for 3:30 PM. If not configured, the cutoff time will be defaulted to 8AM PST."
        },
        "disableDeliveryAfterCutoff": {
          "description": "This field only applies to same-day delivery. If true, prevents next-day delivery from being shown for this offer after the cutoff time. This field only applies to same-day delivery offers, for merchants who want to explicitly disable it.",
          "type": "boolean"
        },
        "cutoffTimezone": {
          "description": "[Timezone identifier](https://developers.google.com/adwords/api/docs/appendix/codes-formats#timezone-ids) For example 'Europe/Zurich'. If not set, the shipping destination timezone will be used.",
          "type": "string"
        }
      }
    },
    "Product": {
      "description": "The processed product, built from multiple product inputs after applying rules and supplemental data sources. This processed product matches what is shown in your Merchant Center account. Each product is built from exactly one primary data source product input, and multiple supplemental data source inputs. After inserting, updating, or deleting a product input, it may take several minutes before the updated processed product can be retrieved. All fields in the processed product and its sub-messages match the name of their corresponding attribute in the [Product data specification](https://support.google.com/merchants/answer/7052112) with some exceptions.",
      "type": "object",
      "properties": {
        "base64EncodedName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The **unpadded base64url encoded name** of the product. Format: `accounts/{account}/products/{product}` where the last section `product` is the unpadded base64url encoding of the `content_language~feed_label~offer_id` name. Example: `accounts/123/products/ZW5-VVN-c2t1LzEyMw` for the decoded product name `accounts/123/products/en~US~sku/123`. This field can be used directly as input to the API methods that require the product name to be encoded if it contains special characters, for example [`GetProduct`](https://developers.google.com/merchant/api/reference/rest/products_v1/accounts.products/get)."
        },
        "dataSource": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The primary data source of the product."
        },
        "legacyLocal": {
          "description": "Output only. Determines whether the product is **only** targeting local destinations and whether the product name should be distinguished with a `local~` prefix. For example, `accounts/123/products/local~en~US~sku123`.",
          "readOnly": true,
          "type": "boolean"
        },
        "productStatus": {
          "description": "Output only. The status of a product, data validation issues, that is, information about a product computed asynchronously.",
          "readOnly": true,
          "$ref": "ProductStatus"
        },
        "contentLanguage": {
          "description": "Output only. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the product.",
          "readOnly": true,
          "type": "string"
        },
        "archived": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Determines whether the product is [archived](https://support.google.com/merchants/answer/11909930). To archive or restore your product, visit Merchant Center products page. Learn also more about [offer visibility](https://support.google.com/merchants/answer/12488713)."
        },
        "productAttributes": {
          "description": "Output only. A list of strongly-typed product attributes.",
          "$ref": "ProductAttributes",
          "readOnly": true
        },
        "versionNumber": {
          "readOnly": true,
          "description": "Output only. Represents the existing version (freshness) of the product, which can be used to preserve the right order when multiple updates are done at the same time. If set, the insertion is prevented when version number is lower than the current version number of the existing product. Re-insertion (for example, product refresh after 30 days) can be performed with the current `version_number`. Only supported for insertions into primary data sources. If the operation is prevented, the aborted exception will be thrown.",
          "format": "int64",
          "type": "string"
        },
        "automatedDiscounts": {
          "readOnly": true,
          "description": "Output only. The automated discounts information for the product.",
          "$ref": "AutomatedDiscounts"
        },
        "customAttributes": {
          "type": "array",
          "items": {
            "$ref": "CustomAttribute"
          },
          "description": "Output only. A list of custom (merchant-provided) attributes. It can also be used to submit any attribute of the data specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google.",
          "readOnly": true
        },
        "feedLabel": {
          "description": "Output only. The feed label lets you categorize and identify your products. The maximum allowed characters is 20 and the supported characters are`A-Z`, `0-9`, hyphen and underscore. The feed label must not include any spaces. For more information, see [Using feed labels](//support.google.com/merchants/answer/14994087)",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the product. Format: `accounts/{account}/products/{product}` where the last section `product` consists of: `content_language~feed_label~offer_id` example for product name is `accounts/123/products/en~US~sku123`. A legacy local product name would be `accounts/123/products/local~en~US~sku123`. Note: For calls to the v1beta version, the `product` section consists of: `channel~content_language~feed_label~offer_id`, for example: `accounts/123/products/online~en~US~sku123`.",
          "type": "string"
        },
        "offerId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Your unique identifier for the product. This is the same for the product input and processed product. Leading and trailing whitespaces are stripped and multiple whitespaces are replaced by a single whitespace upon submission. See the [product data specification](https://support.google.com/merchants/answer/188494#id) for details."
        }
      },
      "id": "Product"
    },
    "FuelConsumption": {
      "properties": {
        "value": {
          "description": "The fuel consumption value.",
          "format": "double",
          "type": "number"
        },
        "unit": {
          "description": "The unit of the fuel consumption.",
          "enum": [
            "UNIT_UNSPECIFIED",
            "LPER100KM",
            "KGPER100KM"
          ],
          "enumDescriptions": [
            "Unspecified unit.",
            "Liter per 100 kilometers.",
            "Kilograms per 100 kilometers."
          ],
          "type": "string"
        }
      },
      "description": "The fuel consumption of the vehicle.",
      "type": "object",
      "id": "FuelConsumption"
    },
    "ShippingWeight": {
      "type": "object",
      "id": "ShippingWeight",
      "properties": {
        "value": {
          "format": "double",
          "description": "The weight of the product used to calculate the shipping cost of the item.",
          "type": "number"
        },
        "unit": {
          "type": "string",
          "description": "The unit of value."
        }
      },
      "description": "The ShippingWeight of the product."
    },
    "ProductInput": {
      "type": "object",
      "properties": {
        "legacyLocal": {
          "type": "boolean",
          "description": "Immutable. Determines whether the product is **only** targeting local destinations and whether the product name should be distinguished with a `local~` prefix. For example, `accounts/123/productInputs/local~en~US~sku123`. If a product that is not `legacy_local` is already targeting local destinations, creating a `legacy_local` product with an otherwise matching name will fail."
        },
        "feedLabel": {
          "type": "string",
          "description": "Required. Immutable. The feed label that lets you categorize and identify your products. The maximum allowed characters are 20, and the supported characters are `A-Z`, `0-9`, hyphen, and underscore. The feed label must not include any spaces. For more information, see [Using feed labels](//support.google.com/merchants/answer/14994087)."
        },
        "base64EncodedProduct": {
          "type": "string",
          "description": "Output only. The **unpadded base64url encoded name** of the processed product. Format: `accounts/{account}/products/{product}` where the last section `product` is the unpadded base64url encoding of the `content_language~feed_label~offer_id` name. Example: `accounts/123/products/ZW5-VVN-c2t1LzEyMw` for the decoded product name `accounts/123/products/en~US~sku/123`. This field can be used directly as input to the API methods that require the product name to be encoded if it contains special characters, for example [`GetProduct`](https://developers.google.com/merchant/api/reference/rest/products_v1/accounts.products/get).",
          "readOnly": true
        },
        "customAttributes": {
          "description": "Optional. A list of custom (merchant-provided) attributes. It can also be used for submitting any attribute of the data specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API. Maximum allowed number of characters for each custom attribute is 10240 (represents sum of characters for name and value). Maximum 2500 custom attributes can be set per product, with total size of 102.4kB. Underscores in custom attribute names are replaced by spaces upon insertion.",
          "items": {
            "$ref": "CustomAttribute"
          },
          "type": "array"
        },
        "base64EncodedName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The **unpadded base64url encoded name** of the product input. Format: `accounts/{account}/productInputs/{productinput}` where the last section `productinput` is the unpadded base64url encoding of the `content_language~feed_label~offer_id` name. Example: `accounts/123/productInputs/ZW5-VVN-c2t1LzEyMw` for the decoded product input name `accounts/123/productInputs/en~US~sku/123`. This field can be used directly as input to the API methods that require the product input name to be encoded if it contains special characters, for example [`GetProductInput`](https://developers.google.com/merchant/api/reference/rest/products_v1/accounts.productInputs/get)."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the product. Format: `accounts/{account}/productInputs/{productinput}` The {productinput} segment is a unique identifier for the product. This identifier must be unique within a merchant account and generally follows the structure: `content_language~feed_label~offer_id`. Example: `en~US~sku123` For legacy local products, the structure is: `local~content_language~feed_label~offer_id`. Example: `local~en~US~sku123` The format of the {productinput} segment in the URL is automatically detected by the server, supporting two options: 1. **Encoded Format**: The `{productinput}` segment is an unpadded base64url encoded string (RFC 4648 Section 5). The decoded string must result in the `content_language~feed_label~offer_id` structure. This encoding MUST be used if any part of the product identifier (like `offer_id`) contains characters such as `/`, `%`, or `~`. * Example: To represent the product ID `en~US~sku/123`, the `{productinput}` segment must be the unpadded base64url encoding of this string, which is `ZW5-VVN-c2t1LzEyMw`. The full resource name for the product would be `accounts/123/productInputs/ZW5-VVN-c2t1LzEyMw`. 2. **Plain Format**: The `{productinput}` segment is the tilde-separated string `content_language~feed_label~offer_id`. This format is suitable only when `content_language`, `feed_label`, and `offer_id` do not contain URL-problematic characters like `/`, `%`, or `~`. We recommend using the **Encoded Format** for all product IDs to ensure correct parsing, especially those containing special characters. The presence of tilde (`~`) characters in the `{productinput}` segment is used to differentiate between the two formats."
        },
        "offerId": {
          "type": "string",
          "description": "Required. Immutable. Your unique identifier for the product. This is the same for the product input and processed product. Leading and trailing whitespaces are stripped and multiple whitespaces are replaced by a single whitespace upon submission. See the [products data specification](https://support.google.com/merchants/answer/188494#id) for details."
        },
        "productAttributes": {
          "description": "Optional. A list of strongly-typed product attributes.",
          "$ref": "ProductAttributes"
        },
        "versionNumber": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Immutable. Represents the existing version (freshness) of the product, which can be used to preserve the right order when multiple updates are done at the same time. If set, the insertion is prevented when version number is lower than the current version number of the existing product. Re-insertion (for example, product refresh after 30 days) can be performed with the current `version_number`. Only supported for insertions into primary data sources. Do not set this field for updates. Do not set this field for insertions into supplemental data sources. If the operation is prevented, the aborted exception will be thrown."
        },
        "product": {
          "description": "Output only. The name of the processed product. Format: `accounts/{account}/products/{product}`",
          "readOnly": true,
          "type": "string"
        },
        "contentLanguage": {
          "type": "string",
          "description": "Required. Immutable. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the product."
        }
      },
      "description": "This resource represents input data you submit for a product, not the processed product that you see in Merchant Center, in Shopping ads, or across Google surfaces. Product inputs, rules and supplemental data source data are combined to create the processed Product. For more information, see [Manage products](/merchant/api/guides/products/overview). Required product input attributes to pass data validation checks are primarily defined in the [Products Data Specification](https://support.google.com/merchants/answer/188494). The following attributes are required: feedLabel, contentLanguage and offerId. After inserting, updating, or deleting a product input, it may take several minutes before the processed product can be retrieved. All fields in the product input and its sub-messages match the English name of their corresponding attribute in the [Products Data Specification](https://support.google.com/merchants/answer/188494) with [some exceptions](https://support.google.com/merchants/answer/7052112). The following reference documentation lists the field names in the **camelCase** casing style while the Products Data Specification lists the names in the **snake_case** casing style.",
      "id": "ProductInput"
    },
    "UnitPricingBaseMeasure": {
      "id": "UnitPricingBaseMeasure",
      "type": "object",
      "properties": {
        "unit": {
          "description": "The unit of the denominator.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "format": "int64",
          "description": "The denominator of the unit price."
        }
      },
      "description": "The UnitPricingBaseMeasure of the product."
    },
    "DestinationStatus": {
      "properties": {
        "disapprovedCountries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of country codes (ISO 3166-1 alpha-2) where the offer is disapproved."
        },
        "approvedCountries": {
          "items": {
            "type": "string"
          },
          "description": "List of country codes (ISO 3166-1 alpha-2) where the offer is approved.",
          "type": "array"
        },
        "reportingContext": {
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT",
            "RENTAL_ADS"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout .",
            "Real Estate Rental Ads. ."
          ],
          "type": "string",
          "description": "The name of the reporting context."
        },
        "pendingCountries": {
          "items": {
            "type": "string"
          },
          "description": "List of country codes (ISO 3166-1 alpha-2) where the offer is pending approval.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The destination status of the product status. Equivalent to `StatusPerReportingContext` in Reports API.",
      "id": "DestinationStatus"
    },
    "DisplayAddress": {
      "properties": {
        "postalCode": {
          "description": "The postal code, such as 94043.",
          "type": "string"
        },
        "region": {
          "description": "The region(state), such as WA, OH, etc.",
          "type": "string"
        },
        "streetNumber": {
          "description": "The street number.",
          "type": "string"
        },
        "streetName": {
          "type": "string",
          "description": "The street name."
        },
        "city": {
          "type": "string",
          "description": "The city such as Seattle, New York, etc."
        }
      },
      "description": "The display address of the property.",
      "id": "DisplayAddress",
      "type": "object"
    },
    "EnergyConsumption": {
      "type": "object",
      "id": "EnergyConsumption",
      "description": "The energy consumption of the vehicle.",
      "properties": {
        "unit": {
          "enum": [
            "UNIT_UNSPECIFIED",
            "KWHPER100KM"
          ],
          "enumDescriptions": [
            "Unspecified unit.",
            "Kilowatt hours per 100 kilometers."
          ],
          "type": "string",
          "description": "The unit of the energy consumption."
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "The energy consumption value."
        }
      }
    },
    "PickupCost": {
      "id": "PickupCost",
      "properties": {
        "freeThreshold": {
          "$ref": "Price",
          "description": "Optional. The price threshold above which pickup is free of charge."
        },
        "flatRate": {
          "description": "Required. The flat rate pickup cost of the item.",
          "$ref": "Price"
        }
      },
      "type": "object",
      "description": "The pickup cost of the item."
    },
    "StructuredDescription": {
      "properties": {
        "digitalSourceType": {
          "type": "string",
          "description": "The digital source type. Following [IPTC](https://cv.iptc.org/newscodes/digitalsourcetype).",
          "enum": [
            "DIGITAL_SOURCE_TYPE_UNSPECIFIED",
            "TRAINED_ALGORITHMIC_MEDIA",
            "DEFAULT"
          ],
          "enumDescriptions": [
            "Digital source type is unspecified.",
            "Text created algorithmically using a model derived from sampled content.",
            "Text NOT created algorithmically using a model derived from sampled content (the default)"
          ]
        },
        "content": {
          "description": "The description text Maximum length is 5000 characters",
          "type": "string"
        }
      },
      "id": "StructuredDescription",
      "description": "Structured description, for algorithmically (AI)-generated descriptions.",
      "type": "object"
    },
    "LoyaltyPoints": {
      "description": "A message that represents loyalty points.",
      "id": "LoyaltyPoints",
      "type": "object",
      "properties": {
        "pointsValue": {
          "format": "int64",
          "description": "The retailer's loyalty points in absolute value.",
          "type": "string"
        },
        "name": {
          "description": "Name of loyalty points program. It is recommended to limit the name to 12 full-width characters or 24 Roman characters.",
          "type": "string"
        },
        "ratio": {
          "type": "number",
          "description": "The ratio of a point when converted to currency. Google assumes currency based on Merchant Center settings. If ratio is left out, it defaults to 1.0.",
          "format": "double"
        }
      }
    },
    "UnitArea": {
      "id": "UnitArea",
      "description": "The unit area of the property.",
      "properties": {
        "unit": {
          "enum": [
            "UNIT_UNSPECIFIED",
            "SQM",
            "SQFT"
          ],
          "type": "string",
          "description": "The unit of area.",
          "enumDescriptions": [
            "Unspecified unit.",
            "Square meters.",
            "Square feet."
          ]
        },
        "value": {
          "type": "number",
          "description": "The area value.",
          "format": "double"
        }
      },
      "type": "object"
    },
    "AutomatedDiscounts": {
      "properties": {
        "priorPriceProgressive": {
          "$ref": "Price",
          "description": "The price prior to the application of consecutive price reductions. Absent if the information about the prior price of the product is not available."
        },
        "priorPrice": {
          "$ref": "Price",
          "description": "The price prior to the application of the first price reduction. Absent if the information about the prior price of the product is not available."
        },
        "gadPrice": {
          "description": "The current sale price for products with a price optimized using Google Automated Discounts (GAD). Absent if the information about the GAD_price of the product is not available.",
          "$ref": "Price"
        }
      },
      "description": "Information regarding Automated Discounts.",
      "type": "object",
      "id": "AutomatedDiscounts"
    },
    "ProductMinimumOrderValue": {
      "description": "The minimum order value in the cart before the checkout is permitted.",
      "properties": {
        "country": {
          "description": "Required. The [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the country to which an item will ship.",
          "type": "string"
        },
        "service": {
          "type": "string",
          "description": "A free-form description of the service class or delivery speed. This should match the service value set for the Shipping attribute. See service."
        },
        "surface": {
          "description": "The surface to which the minimum order value applies. Defaults to `ONLINE_LOCAL` if not configured.",
          "enum": [
            "SURFACE_UNSPECIFIED",
            "ONLINE",
            "LOCAL",
            "ONLINE_LOCAL"
          ],
          "enumDescriptions": [
            "Surface is unspecified.",
            "Surface value to indicate online purchases.",
            "Surface value to indicate local purchases.",
            "Surface value to indicate online and local purchases."
          ],
          "type": "string"
        },
        "price": {
          "description": "Required. The minimum cart or basket value before the checkout is permitted.",
          "$ref": "Price"
        }
      },
      "id": "ProductMinimumOrderValue",
      "type": "object"
    },
    "Co2Emissions": {
      "type": "object",
      "description": "The co2 emission of the vehicle.",
      "properties": {
        "unit": {
          "enumDescriptions": [
            "Unspecified unit.",
            "Grams per kilometer."
          ],
          "type": "string",
          "enum": [
            "UNIT_UNSPECIFIED",
            "GPERKM"
          ],
          "description": "The unit of the co2 emission."
        },
        "value": {
          "description": "The co2 emission value.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "Co2Emissions"
    },
    "FreeShippingThreshold": {
      "type": "object",
      "description": "Conditions to be met for a product to have free shipping.",
      "id": "FreeShippingThreshold",
      "properties": {
        "priceThreshold": {
          "description": "The minimum product price for the shipping cost to become free. Represented as a number.",
          "$ref": "Price"
        },
        "country": {
          "description": "The [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the country to which an item will ship.",
          "type": "string"
        }
      }
    },
    "ProductFee": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified fee type.",
            "Admin fee.",
            "Application fee.",
            "Security deposit."
          ],
          "enum": [
            "FEE_TYPE_UNSPECIFIED",
            "ADMIN_FEE",
            "APPLICATION_FEE",
            "SECURITY_DEPOSIT"
          ],
          "description": "The type of product fee.",
          "type": "string"
        },
        "amount": {
          "description": "The amount of product fee.",
          "$ref": "Price"
        }
      },
      "type": "object",
      "description": "The product fee attribute containing type and amount.",
      "id": "ProductFee"
    },
    "ProductDimension": {
      "id": "ProductDimension",
      "description": "The dimension of the product.",
      "properties": {
        "value": {
          "format": "double",
          "type": "number",
          "description": "Required. The dimension value represented as a number. The value can have a maximum precision of four decimal places."
        },
        "unit": {
          "type": "string",
          "description": "Required. The dimension units. Acceptable values are: * \"`in`\" * \"`cm`\""
        }
      },
      "type": "object"
    },
    "QuestionAndAnswer": {
      "id": "QuestionAndAnswer",
      "description": "The question and answer for the product.",
      "properties": {
        "question": {
          "description": "Required. The question text.",
          "type": "string"
        },
        "answer": {
          "type": "string",
          "description": "Required. The answer text."
        }
      },
      "type": "object"
    },
    "Mileage": {
      "description": "The mileage of the vehicle.",
      "id": "Mileage",
      "type": "object",
      "properties": {
        "value": {
          "description": "The distance value.",
          "format": "int64",
          "type": "string"
        },
        "unit": {
          "enum": [
            "UNIT_UNSPECIFIED",
            "MILES",
            "KM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified unit.",
            "Miles.",
            "Kilometers."
          ],
          "description": "The unit of the mileage."
        }
      }
    },
    "Returns": {
      "description": "The returns of the product.",
      "properties": {
        "restockingPercentageFee": {
          "description": "A percentage restocking fee penalty.",
          "format": "double",
          "type": "number"
        },
        "policyUrl": {
          "description": "The URL of the return policy.",
          "type": "string"
        },
        "itemConditions": {
          "description": "The condition the item must be in to be accepted.",
          "items": {
            "enum": [
              "ITEM_CONDITION_UNSPECIFIED",
              "NEW",
              "LIKE_NEW",
              "USED",
              "DEFECTIVE_ONLY"
            ],
            "enumDescriptions": [
              "The item condition is unspecified.",
              "New condition.",
              "Like new condition.",
              "Used condition.",
              "Only defective items are accepted."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "shippingFee": {
          "$ref": "Price",
          "description": "The fixed cost out-of-pocket for a customer to return an item."
        },
        "windowDays": {
          "type": "string",
          "description": "The duration of the return window in days.",
          "format": "int64"
        },
        "methods": {
          "items": {
            "type": "string",
            "enum": [
              "RETURN_METHOD_UNSPECIFIED",
              "BY_MAIL",
              "IN_STORE",
              "AT_A_KIOSK",
              "DROP_OFF_LOCATION"
            ],
            "enumDescriptions": [
              "The return method is unspecified.",
              "Customer returns the item by mail.",
              "Customer returns the item in a store.",
              "Customer drops off the item at a kiosk.",
              "Customer drops off the item at a 3rd party partner location."
            ]
          },
          "type": "array",
          "description": "The physical methods by which the item can be returned."
        },
        "windowType": {
          "description": "Special return window behavior.",
          "type": "string",
          "enum": [
            "RETURN_WINDOW_TYPE_UNSPECIFIED",
            "FINITE_RETURN_WINDOW",
            "NO_RETURNS",
            "LIFETIME"
          ],
          "enumDescriptions": [
            "The return window type is unspecified.",
            "Window with a fixed number of days. If this is set, the `window_days` field must be set.",
            "No returns accepted.",
            "Lifetime returns accepted."
          ]
        },
        "outcomes": {
          "description": "The financial outcomes available for a return.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The return outcome is unspecified.",
              "Customer receives a refund.",
              "Customer receives an exchange.",
              "Customer receives store credit."
            ],
            "enum": [
              "RETURN_OUTCOME_UNSPECIFIED",
              "REFUND",
              "EXCHANGE",
              "STORE_CREDIT"
            ]
          }
        },
        "shippingFeeType": {
          "enumDescriptions": [
            "The return shipping fee type is unspecified.",
            "The customer is responsible for shipping costs.",
            "The shipping cost is deducted from the refund."
          ],
          "description": "The type of return shipping fee.",
          "type": "string",
          "enum": [
            "RETURN_SHIPPING_FEE_TYPE_UNSPECIFIED",
            "CUSTOMER_RESPONSIBILITY",
            "DEDUCTED_FROM_REFUND"
          ]
        },
        "restockingFee": {
          "$ref": "Price",
          "description": "A flat restocking fee penalty."
        },
        "countries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the countries to which an item can be returned."
        }
      },
      "id": "Returns",
      "type": "object"
    },
    "ProductChange": {
      "description": "The change that happened to the product including old value, new value, country code as the region code and reporting context.",
      "properties": {
        "oldValue": {
          "description": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)",
          "type": "string"
        },
        "regionCode": {
          "description": "Countries that have the change (if applicable). Represented in the ISO 3166 format.",
          "type": "string"
        },
        "newValue": {
          "description": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)",
          "type": "string"
        },
        "reportingContext": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout .",
            "Real Estate Rental Ads. ."
          ],
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT",
            "RENTAL_ADS"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "ProductChange"
    },
    "Shipping": {
      "id": "Shipping",
      "description": "The Shipping of the product.",
      "properties": {
        "service": {
          "type": "string",
          "description": "A free-form description of the service class or delivery speed."
        },
        "maxHandlingTime": {
          "description": "Maximum handling time (inclusive) between when the order is received and shipped in business days. 0 means that the order is shipped on the same day as it is received if it happens before the cut-off time. Both maxHandlingTime and maxTransitTime are required if providing shipping speeds. minHandlingTime is optional if maxHandlingTime is present.",
          "type": "string",
          "format": "int64"
        },
        "loyaltyProgramLabel": {
          "type": "string",
          "description": "Optional. The label of the [loyalty program](https://support.google.com/merchants/answer/6324484). Must match one of the program labels set in loyalty_programs. When set (in combination with [loyalty_tier_label](https://support.google.com/merchants/answer/6324484)), this shipping option is only applicable to loyalty program members of the specified tier."
        },
        "locationId": {
          "format": "int64",
          "description": "The numeric ID of a location that the shipping rate applies to as defined in the [AdWords API](https://developers.google.com/adwords/api/docs/appendix/geotargeting).",
          "type": "string"
        },
        "price": {
          "$ref": "Price",
          "description": "Fixed shipping price, represented as a number."
        },
        "handlingCutoffTime": {
          "type": "string",
          "description": "The handling cutoff time until which an order has to be placed to be processed in the same day. This is a string in format of HHMM (e.g. `1530`) for 3:30 PM. If not configured, the cutoff time will be defaulted to 8AM PST and `handling_cutoff_timezone` will be ignored."
        },
        "country": {
          "description": "The [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the country to which an item will ship.",
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "The geographic region to which a shipping rate applies. See [region](https://support.google.com/merchants/answer/6324484) for more information."
        },
        "loyaltyTierLabel": {
          "type": "string",
          "description": "Optional. The label of the [loyalty tier](https://support.google.com/merchants/answer/6324484) within the loyalty program. Must match one of the tiers set in the loyalty_programs. When set (in combination with [loyalty_program_label](https://support.google.com/merchants/answer/6324484)), this shipping option is only applicable to loyalty program members of the specified tier."
        },
        "postalCode": {
          "type": "string",
          "description": "The postal code range that the shipping rate applies to, represented by a postal code, a postal code prefix followed by a * wildcard, a range between two postal codes or two postal code prefixes of equal length."
        },
        "minTransitTime": {
          "description": "Minimum transit time (inclusive) between when the order has shipped and when it is delivered in business days. 0 means that the order is delivered on the same day as it ships. minTransitTime can only be present together with maxTransitTime; but it is not required if maxTransitTime is present.",
          "format": "int64",
          "type": "string"
        },
        "maxTransitTime": {
          "description": "Maximum transit time (inclusive) between when the order has shipped and when it is delivered in business days. 0 means that the order is delivered on the same day as it ships. Both maxHandlingTime and maxTransitTime are required if providing shipping speeds. minTransitTime is optional if maxTransitTime is present.",
          "format": "int64",
          "type": "string"
        },
        "minHandlingTime": {
          "type": "string",
          "description": "Minimum handling time (inclusive) between when the order is received and shipped in business days. 0 means that the order is shipped on the same day as it is received if it happens before the cut-off time. minHandlingTime can only be present together with maxHandlingTime; but it is not required if maxHandlingTime is present.",
          "format": "int64"
        },
        "handlingCutoffTimezone": {
          "type": "string",
          "description": "[Timezone identifier](https://developers.google.com/adwords/api/docs/appendix/codes-formats#timezone-ids) For example `Europe/Zurich`. This field only applies if `handling_cutoff_time` is set. If `handling_cutoff_time` is set but this field is not set, the shipping destination timezone will be used. If both fields are not set, the handling cutoff time will default to 8AM PST."
        },
        "locationGroupName": {
          "type": "string",
          "description": "The location where the shipping is applicable, represented by a location group name."
        }
      },
      "type": "object"
    },
    "UnitPricingMeasure": {
      "id": "UnitPricingMeasure",
      "properties": {
        "value": {
          "format": "double",
          "description": "The measure of an item.",
          "type": "number"
        },
        "unit": {
          "type": "string",
          "description": "The unit of the measure."
        }
      },
      "description": "The UnitPricingMeasure of the product.",
      "type": "object"
    },
    "LoyaltyProgram": {
      "description": "A message that represents loyalty program.",
      "id": "LoyaltyProgram",
      "properties": {
        "shippingLabel": {
          "description": "The label of the shipping benefit. If the field has value, this offer has loyalty shipping benefit. If the field value isn't provided, the item is not eligible for loyalty shipping for the given loyalty tier.",
          "type": "string"
        },
        "tierLabel": {
          "description": "The label of the tier within the loyalty program. Must match one of the labels within the program.",
          "type": "string"
        },
        "loyaltyPoints": {
          "format": "int64",
          "type": "string",
          "description": "The amount of loyalty points earned on a purchase."
        },
        "cashbackForFutureUse": {
          "$ref": "Price",
          "description": "The cashback that can be used for future purchases."
        },
        "programLabel": {
          "description": "The label of the loyalty program. This is an internal label that uniquely identifies the relationship between a business entity and a loyalty program entity. The label must be provided so that the system can associate the assets below (for example, price and points) with a business. The corresponding program must be linked to the Merchant Center account.",
          "type": "string"
        },
        "price": {
          "description": "The price for members of the given tier, that is, the instant discount price. Must be smaller or equal to the regular price.",
          "$ref": "Price"
        },
        "memberPriceEffectiveDate": {
          "description": "A date range during which the item is eligible for member price. If not specified, the member price is always applicable. The date range is represented by a pair of ISO 8601 dates separated by a space, comma, or slash.",
          "$ref": "Interval"
        }
      },
      "type": "object"
    },
    "Price": {
      "description": "The price represented as a number and currency.",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217)."
        },
        "amountMicros": {
          "format": "int64",
          "description": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros).",
          "type": "string"
        }
      },
      "id": "Price",
      "type": "object"
    },
    "ItemLevelIssue": {
      "properties": {
        "severity": {
          "type": "string",
          "description": "How this issue affects serving of the offer.",
          "enumDescriptions": [
            "Not specified.",
            "This issue represents a warning and does not have a direct affect on the product.",
            "The product is demoted and most likely have limited performance in search results",
            "Issue disapproves the product."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "NOT_IMPACTED",
            "DEMOTED",
            "DISAPPROVED"
          ]
        },
        "reportingContext": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout .",
            "Real Estate Rental Ads. ."
          ],
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT",
            "RENTAL_ADS"
          ],
          "description": "The reporting context the issue applies to.",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "attribute": {
          "description": "The attribute's name, if the issue is caused by a single attribute.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A short issue description in English."
        },
        "code": {
          "description": "The error code of the issue.",
          "type": "string"
        },
        "detail": {
          "description": "A detailed issue description in English.",
          "type": "string"
        },
        "resolution": {
          "description": "Whether the issue can be resolved by the business.",
          "type": "string"
        },
        "applicableCountries": {
          "items": {
            "type": "string"
          },
          "description": "List of country codes (ISO 3166-1 alpha-2) where issue applies to the offer.",
          "type": "array"
        },
        "documentation": {
          "description": "The URL of a web page to help with resolving this issue.",
          "type": "string"
        }
      },
      "id": "ItemLevelIssue",
      "description": "The ItemLevelIssue of the product status.",
      "type": "object"
    },
    "RelatedProduct": {
      "type": "object",
      "id": "RelatedProduct",
      "properties": {
        "idType": {
          "description": "Required. The type of the identifier of the related product. For example, [GTIN](https://support.google.com/merchants/answer/6219078) or [product ID](https://support.google.com/merchants/answer/6324405).",
          "enum": [
            "ID_TYPE_UNSPECIFIED",
            "GTIN",
            "ID"
          ],
          "enumDescriptions": [
            "The identifier type is unspecified.",
            "The identifier is a GTIN.",
            "The identifier is a product ID in the feed."
          ],
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. The identifier of the related product."
        },
        "relationshipType": {
          "type": "string",
          "enumDescriptions": [
            "The relationship type is unspecified.",
            "Part of a set of products that are often purchased together.",
            "Part that is necessary for the product to function, for example a battery for a battery-operated lamp.",
            "A product that this product is often purchased together with, for example a phone case with a phone.",
            "Product that this product can be substituted for. For example a printer comparable in function to another printer.",
            "An identical product sold under a different brand, for example a cheaper house brand.",
            "An accessory to this product, for example a side table that matches the style of a couch."
          ],
          "description": "Required. The type of the relationship between this product and the related product.",
          "enum": [
            "RELATIONSHIP_TYPE_UNSPECIFIED",
            "PART_OF_SET",
            "REQUIRED_PART",
            "OFTEN_BOUGHT_WITH",
            "SUBSTITUTE",
            "DIFFERENT_BRAND",
            "ACCESSORY"
          ]
        }
      },
      "description": "Specifies how other products are related to this product."
    },
    "ShippingDimension": {
      "properties": {
        "unit": {
          "description": "The unit of value.",
          "type": "string"
        },
        "value": {
          "description": "The dimension of the product used to calculate the shipping cost of the item.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "ShippingDimension",
      "description": "The ShippingDimension of the product.",
      "type": "object"
    },
    "ProductStatusChangeMessage": {
      "id": "ProductStatusChangeMessage",
      "type": "object",
      "properties": {
        "account": {
          "description": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`",
          "type": "string"
        },
        "expirationTime": {
          "type": "string",
          "description": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event.",
          "format": "google-datetime"
        },
        "resource": {
          "description": "The product name. Format: `accounts/{account}/products/{product}`",
          "type": "string"
        },
        "resourceType": {
          "description": "The resource that changed, in this case it will always be `Product`.",
          "enum": [
            "RESOURCE_UNSPECIFIED",
            "PRODUCT",
            "ACCOUNT_SERVICE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified resource",
            "Resource type : product",
            "Account service"
          ]
        },
        "attribute": {
          "description": "The attribute in the resource that changed, in this case it will be always `Status`.",
          "enum": [
            "ATTRIBUTE_UNSPECIFIED",
            "STATUS"
          ],
          "enumDescriptions": [
            "Unspecified attribute",
            "Status of the changed entity"
          ],
          "type": "string"
        },
        "eventTime": {
          "description": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications.",
          "format": "google-datetime",
          "type": "string"
        },
        "managingAccount": {
          "description": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`",
          "type": "string"
        },
        "changes": {
          "type": "array",
          "items": {
            "$ref": "ProductChange"
          },
          "description": "A message to describe the change that happened to the product"
        },
        "resourceId": {
          "description": "The product id.",
          "type": "string"
        }
      },
      "description": "The message that the merchant will receive to notify about product status change event"
    },
    "PetPolicy": {
      "type": "object",
      "id": "PetPolicy",
      "properties": {
        "petTypes": {
          "description": "The pet types allowed.",
          "type": "array",
          "items": {
            "enum": [
              "PET_TYPE_UNSPECIFIED",
              "CATS",
              "LARGE_DOGS",
              "SMALL_DOGS"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified pet type.",
              "Cats.",
              "Large dogs.",
              "Small dogs."
            ]
          }
        },
        "petsAllowed": {
          "description": "Whether pets are allowed.",
          "type": "boolean"
        }
      },
      "description": "The pet policy of the property."
    },
    "ProductCertification": {
      "type": "object",
      "properties": {
        "certificationLabelLink": {
          "type": "string",
          "description": "Optional. URL to the certification label (eg. `https://www.example.com/label`), for example, the energy efficiency label required by UK's DESNZ or EU's EPREL. Maximum length is 2000 characters. For more information, see [Certification](https://support.google.com/merchants/answer/13528839)."
        },
        "certificationAuthority": {
          "enumDescriptions": [
            "Certification authority is not specified.",
            "For the French CO2 emissions class for vehicles.",
            "For the German CO2 emissions classes for vehicles.",
            "Environment Protection Agency.",
            "European Commission for energy labels in the EU."
          ],
          "enum": [
            "CERTIFICATION_AUTHORITY_UNSPECIFIED",
            "ADEME",
            "BMWK",
            "EPA",
            "EC"
          ],
          "description": "The certification authority.",
          "type": "string"
        },
        "certificationDocumentLink": {
          "type": "string",
          "description": "Optional. URL to the certification document (eg. `https://www.example.com/document`), for example, the product data sheet or fiche required by UK's DESNZ or EU's EPREL. Maximum length is 2000 characters. For more information, see [Certification](https://support.google.com/merchants/answer/13528839)."
        },
        "certificationValue": {
          "type": "string",
          "description": "The certification value (also known as class, level or grade), for example \"A+\", \"C\", \"gold\". Maximum length is 2000 characters."
        },
        "certificationCode": {
          "type": "string",
          "description": "The certification code. Maximum length is 2000 characters."
        },
        "certificationName": {
          "description": "The name of the certification.",
          "type": "string",
          "enumDescriptions": [
            "Certification name is not specified.",
            "Energy Star.",
            "Energy Star Most Efficient.",
            "Represents energy efficiency certifications in the EU European Registry for Energy Labeling (EPREL) database.",
            "EU Ecolabel.",
            "The overall CO2 class of a vehicle",
            "For the CO2 class of a vehicle with a discharged battery."
          ],
          "enum": [
            "CERTIFICATION_NAME_UNSPECIFIED",
            "ENERGY_STAR",
            "ENERGY_STAR_MOST_EFFICIENT",
            "EPREL",
            "EU_ECOLABEL",
            "VEHICLE_ENERGY_EFFICIENCY",
            "VEHICLE_ENERGY_EFFICIENCY_DISCHARGED_BATTERY"
          ]
        }
      },
      "id": "ProductCertification",
      "description": "Product [certification](https://support.google.com/merchants/answer/13528839), initially introduced for EU energy efficiency labeling compliance using the EU EPREL database."
    },
    "ListProductsResponse": {
      "id": "ListProductsResponse",
      "type": "object",
      "description": "Response message for the ListProducts method.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "products": {
          "items": {
            "$ref": "Product"
          },
          "description": "The processed products from the specified account. These are your processed products after applying rules and supplemental data sources.",
          "type": "array"
        }
      }
    },
    "LeaseTerm": {
      "description": "The lease term of the property.",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "LEASE_TERM_TYPE_UNSPECIFIED",
            "FIXED_TERM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified lease term type.",
            "Fixed term."
          ],
          "description": "The type of lease term."
        },
        "durationValue": {
          "format": "int64",
          "description": "The duration value of the lease term.",
          "type": "string"
        },
        "durationUnit": {
          "enumDescriptions": [
            "Unspecified duration unit.",
            "Month.",
            "Week."
          ],
          "type": "string",
          "enum": [
            "DURATION_UNIT_UNSPECIFIED",
            "MONTHS",
            "WEEKS"
          ],
          "description": "The duration unit of the lease term."
        }
      },
      "id": "LeaseTerm"
    },
    "CarrierShipping": {
      "type": "object",
      "description": "Carrier-based shipping configuration. Allows for setting shipping speed or shipping cost based on a carrier's provided info.",
      "properties": {
        "country": {
          "description": "The [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the country to which an item will ship.",
          "type": "string"
        },
        "carrierTransitTime": {
          "enumDescriptions": [
            "Carrier transit time option is unspecified.",
            "DHL Paket shipping service.",
            "DHL Packchen shipping service.",
            "DHL Express Easy shipping service.",
            "DPD Express shipping service.",
            "DPD Classic Parcel shipping service.",
            "Hermes Haustur shipping service.",
            "Hermes Paketshop shipping service.",
            "GLS Business shipping service.",
            "GLS Express shipping service.",
            "GLS Private shipping service.",
            "Colissimo Domicile shipping service.",
            "DHL Express 12 AM shipping service.",
            "DHL Express 9 AM shipping service.",
            "GEODIS Express shipping service.",
            "GEODIS Pack 30 shipping service.",
            "GEODIS Same Day shipping service.",
            "GEODIS Top 24 shipping service.",
            "TNT Essentiel 24H shipping service.",
            "TNT Essentiel Flexibilite shipping service.",
            "FedEx Ground shipping service.",
            "FedEx Home Delivery shipping service.",
            "FedEx Express Saver shipping service.",
            "FedEx First Overnight shipping service.",
            "FedEx Priority Overnight shipping service.",
            "FedEx Standard Overnight shipping service.",
            "FedEx 2Day shipping service.",
            "UPS 2nd Day Air shipping service.",
            "UPS 2nd Day AM shipping service.",
            "UPS 3 Day Select shipping service.",
            "UPS Ground shipping service.",
            "UPS Next Day Air shipping service.",
            "UPS Next Day Air Early AM shipping service.",
            "UPS Next Day Air Saver shipping service.",
            "USPS Priority Mail Express shipping service.",
            "USPS Media Mail shipping service.",
            "USPS Ground Advantage Retail shipping service.",
            "USPS Priority Mail shipping service.",
            "USPS Ground Advantage Commercial shipping service.",
            "USPS First Class Mail shipping service."
          ],
          "description": "Selected carrier to calculate the shipping speed from. Select a carrier from the [available carriers list](https://support.google.com/merchants/answer/15449142#Supported), for example `AUSTRALIA_POST_REGULAR`. Speed will be calculated by this selected carrier, the location expressed in originPostalCode, along with the user location to determine the accurate delivery speed. Carrier is represented by a carrier service name or a carrier service ID. Cannot be set together with fixedMaxTransitTime or fixedMinTransitTime.",
          "type": "string",
          "enum": [
            "CARRIER_TRANSIT_TIME_OPTION_UNSPECIFIED",
            "DHL_PAKET",
            "DHL_PACKCHEN",
            "DHL_EXPRESSEASY",
            "DPD_EXPRESS",
            "DPD_CLASSIC_PARCEL",
            "HERMES_HAUSTUR",
            "HERMES_PAKETSHOP",
            "GLS_BUSINESS",
            "GLS_EXPRESS",
            "GLS_PRIVATE",
            "COLISSIMO_DOMICILE",
            "DHL_EXPRESS_12AM",
            "DHL_EXPRESS_9AM",
            "GEODIS_EXPRESS",
            "GEODIS_PACK_30",
            "GEODIS_SAME_DAY",
            "GEODIS_TOP_24",
            "TNT_ESSENTIEL_24H",
            "TNT_ESSENTIEL_FLEXIBILITE",
            "FEDEX_GROUND",
            "FEDEX_HOME_DELIVERY",
            "FEDEX_EXPRESS_SAVER",
            "FEDEX_FIRST_OVERNIGHT",
            "FEDEX_PRIORITY_OVERNIGHT",
            "FEDEX_STANDARD_OVERNIGHT",
            "FEDEX_2DAY",
            "UPS_2ND_DAY_AIR",
            "UPS_2ND_DAY_AM",
            "UPS_3_DAY_SELECT",
            "UPS_GROUND",
            "UPS_NEXT_DAY_AIR",
            "UPS_NEXT_DAY_AIR_EARLY_AM",
            "UPS_NEXT_DAY_AIR_SAVER",
            "USPS_PRIORITY_MAIL_EXPRESS",
            "USPS_MEDIA_MAIL",
            "USPS_GROUND_ADVANTAGE_RETAIL",
            "USPS_PRIORITY_MAIL",
            "USPS_GROUND_ADVANTAGE_COMMERCIAL",
            "USPS_FIRST_CLASS_MAIL"
          ]
        },
        "region": {
          "description": "The geographic region to which a shipping rate applies. See [region](https://support.google.com/merchants/answer/6324484) for more information.",
          "type": "string"
        },
        "carrierPriceFlatAdjustment": {
          "description": "A flat adjustment on the carrier price. Can be either positive or negative. Cannot be zero. Requires `carrier_price` to be present. Cannot be set together with flatPrice and carrierPricePercentageAdjustment.",
          "$ref": "Price"
        },
        "minHandlingTime": {
          "format": "int64",
          "type": "string",
          "description": "Minimum handling time (inclusive) between when the order is received and shipped in business days. 0 means that the order is shipped on the same day as it is received if it happens before the cut-off time. minHandlingTime can only be set if maxHandlingTime is also set."
        },
        "carrierPricePercentageAdjustment": {
          "format": "double",
          "type": "number",
          "description": "A percentual adjustment on the carrier price. Can be either positive or negative. Cannot be zero. Requires `carrier_price` to be present. Cannot be set together with flatPrice and carrierPriceFlatAdjustment."
        },
        "postalCode": {
          "type": "string",
          "description": "The postal code range that the shipping rate applies to, represented by a postal code (eg. `94043`), a postal code prefix followed by a * wildcard (eg. `94*`), a range between two postal codes (eg. `94043-98033`) or two postal code prefixes of equal length (eg. `94*-98*`)."
        },
        "flatPrice": {
          "description": "Fixed shipping price, represented as a number with currency. Cannot be set together with carrierPrice or its adjustments (carrierPriceFlatAdjustment, carrierPricePercentageAdjustment).",
          "$ref": "Price"
        },
        "maxHandlingTime": {
          "description": "Maximum handling time (inclusive) between when the order is received and shipped in business days. 0 means that the order is shipped on the same day as it is received if it happens before the cut-off time. Both maxHandlingTime and fixedMaxTransitTime or carrierTransitTime are required if providing shipping speeds.",
          "type": "string",
          "format": "int64"
        },
        "carrierPrice": {
          "enum": [
            "CARRIER_PRICE_OPTION_UNSPECIFIED",
            "AUSTRALIA_POST_REGULAR",
            "AUSTRALIA_POST_EXPRESS",
            "AUSTRALIA_POST_REGULAR_S",
            "AUSTRALIA_POST_REGULAR_M",
            "AUSTRALIA_POST_REGULAR_L",
            "AUSTRALIA_POST_REGULAR_XL",
            "AUSTRALIA_POST_EXPRESS_S",
            "AUSTRALIA_POST_EXPRESS_M",
            "AUSTRALIA_POST_EXPRESS_L",
            "AUSTRALIA_POST_EXPRESS_XL",
            "TNT_ROAD_EXPRESS",
            "TNT_OVERNIGHT_EXPRESS",
            "TOLL_ROAD_DELIVERY",
            "TOLL_OVERNIGHT_PRIORITY",
            "DHL_PAKET",
            "DHL_PACKCHEN",
            "DPD_EXPRESS_12",
            "DPD_EXPRESS",
            "DPD_CLASSIC_PARCEL",
            "HERMES_PACKCHEN",
            "HERMES_PAKETKLASSE_S",
            "HERMES_PAKETKLASSE_M",
            "HERMES_PAKETKLASSE_L",
            "UPS_EXPRESS",
            "UPS_EXPRESS_SAVER",
            "UPS_EXPRESS_STANDARD",
            "DHL_EXPRESS",
            "DHL_EXPRESS_12",
            "DPD_NEXT_DAY",
            "DPD_STANDARD_NEXT_DAY",
            "DPD_STANDARD_TWO_DAY",
            "RMG_1ST_CLASS_SMALL",
            "RMG_1ST_CLASS_MEDIUM",
            "RMG_2ND_CLASS_SMALL",
            "RMG_2ND_CLASS_MEDIUM",
            "TNT_EXPRESS",
            "TNT_EXPRESS_10",
            "TNT_EXPRESS_12",
            "YODEL_B2C_48HR",
            "YODEL_B2C_72HR",
            "YODEL_B2C_PACKET",
            "FEDEX_GROUND",
            "FEDEX_HOME_DELIVERY",
            "FEDEX_EXPRESS_SAVER",
            "FEDEX_FIRST_OVERNIGHT",
            "FEDEX_PRIORITY_OVERNIGHT",
            "FEDEX_STANDARD_OVERNIGHT",
            "FEDEX_2DAY",
            "UPS_STANDARD",
            "UPS_2ND_DAY_AIR",
            "UPS_2ND_DAY_AM",
            "UPS_3_DAY_SELECT",
            "UPS_GROUND",
            "UPS_NEXT_DAY_AIR",
            "UPS_NEXT_DAY_AIR_EARLY_AM",
            "UPS_NEXT_DAY_AIR_SAVER",
            "USPS_PRIORITY_MAIL_EXPRESS",
            "USPS_MEDIA_MAIL",
            "USPS_GROUND_ADVANTAGE_RETAIL",
            "USPS_PRIORITY_MAIL",
            "USPS_GROUND_ADVANTAGE_COMMERCIAL"
          ],
          "type": "string",
          "description": "Selected carrier to calculate the shipping price from. Select a carrier from the [available carriers list](https://support.google.com/merchants/answer/15449142#Supported), for example `AUSTRALIA_POST_REGULAR`. Price will be calculated by this selected carrier, the location expressed in originPostalCode, along with the user location to determine the accurate shipping price. Carrier is represented by a carrier service name or a carrier service ID. Cannot be set together with flatPrice.",
          "enumDescriptions": [
            "Carrier price option is unspecified.",
            "Australia Post Regular shipping service.",
            "Australia Post Express shipping service.",
            "Australia Post Regular Small shipping service.",
            "Australia Post Regular Medium shipping service.",
            "Australia Post Regular Large shipping service.",
            "Australia Post Regular XL shipping service.",
            "Australia Post Express Small shipping service.",
            "Australia Post Express Medium shipping service.",
            "Australia Post Express Large shipping service.",
            "Australia Post Express XL shipping service.",
            "TNT Road Express shipping service.",
            "TNT Overnight Express shipping service.",
            "Toll Road Delivery shipping service.",
            "Toll Overnight Priority shipping service.",
            "DHL Paket shipping service.",
            "DHL Packchen shipping service.",
            "DPD Express 12 shipping service.",
            "DPD Express shipping service.",
            "DPD Classic Parcel shipping service.",
            "Hermes Packchen shipping service.",
            "Hermes Paketklasse S shipping service.",
            "Hermes Paketklasse M shipping service.",
            "Hermes Paketklasse L shipping service.",
            "UPS Express shipping service.",
            "UPS Express Saver shipping service.",
            "UPS Express Standard shipping service.",
            "DHL Express shipping service.",
            "DHL Express 12 shipping service.",
            "DPD Next Day shipping service.",
            "DPD Standard Next Day shipping service.",
            "DPD Standard Two Day shipping service.",
            "RMG 1st Class Small shipping service.",
            "RMG 1st Class Medium shipping service.",
            "RMG 2nd Class Small shipping service.",
            "RMG 2nd Class Medium shipping service.",
            "TNT Express shipping service.",
            "TNT Express 10 shipping service.",
            "TNT Express 12 shipping service.",
            "Yodel B2C 48HR shipping service.",
            "Yodel B2C 72HR shipping service.",
            "Yodel B2C Packet shipping service.",
            "FedEx Ground shipping service.",
            "FedEx Home Delivery shipping service.",
            "FedEx Express Saver shipping service.",
            "FedEx First Overnight shipping service.",
            "FedEx Priority Overnight shipping service.",
            "FedEx Standard Overnight shipping service.",
            "FedEx 2Day shipping service.",
            "UPS Standard shipping service.",
            "UPS 2nd Day Air shipping service.",
            "UPS 2nd Day AM shipping service.",
            "UPS 3 Day Select shipping service.",
            "UPS Ground shipping service.",
            "UPS Next Day Air shipping service.",
            "UPS Next Day Air Early AM shipping service.",
            "UPS Next Day Air Saver shipping service.",
            "USPS Priority Mail Express shipping service.",
            "USPS Media Mail shipping service.",
            "USPS Ground Advantage Retail shipping service.",
            "USPS Priority Mail shipping service.",
            "USPS Ground Advantage Commercial shipping service."
          ]
        },
        "fixedMinTransitTime": {
          "description": "Minimum transit time (inclusive) between when the order has shipped and when it is delivered in business days. 0 means that the order is delivered on the same day as it ships. fixedMinTransitTime can only be set if fixedMaxTransitTime is set. Cannot be set if carrierTransitTime is present.",
          "type": "string",
          "format": "int64"
        },
        "fixedMaxTransitTime": {
          "type": "string",
          "description": "Maximum transit time (inclusive) between when the order has shipped and when it is delivered in business days. 0 means that the order is delivered on the same day as it ships. Needs to be provided together with maxHandlingTime. Cannot be set if carrierTransitTime is present.",
          "format": "int64"
        },
        "originPostalCode": {
          "description": "The source location postal code from which this offer ships. Represented only by a full-length postal code.",
          "type": "string"
        }
      },
      "id": "CarrierShipping"
    },
    "ProductAttributes": {
      "id": "ProductAttributes",
      "type": "object",
      "properties": {
        "externalSellerId": {
          "type": "string",
          "description": "Required for multi-seller accounts. Use this attribute if you're a marketplace uploading products for various sellers to your multi-seller account."
        },
        "productWidth": {
          "description": "The width of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive).",
          "$ref": "ProductDimension"
        },
        "loyaltyPrograms": {
          "description": "A list of loyalty program information that is used to surface loyalty benefits (for example, better pricing, points, etc) to the user of this item.",
          "items": {
            "$ref": "LoyaltyProgram"
          },
          "type": "array"
        },
        "energyConsumption": {
          "description": "The [energy consumption](https://support.google.com/google-ads/answer/14546149) of the vehicle.",
          "$ref": "EnergyConsumption"
        },
        "shipping": {
          "type": "array",
          "description": "Shipping rules.",
          "items": {
            "$ref": "Shipping"
          }
        },
        "sellOnGoogleQuantity": {
          "type": "string",
          "format": "int64",
          "description": "The quantity of the product that is available for selling on Google. Supported only for online products."
        },
        "documentLinks": {
          "description": "Optional. Contains a list of PDF [document URLs](https://support.google.com/merchants/answer/17084656) for the product. Examples are training manuals, user guides, assembly instructions, package inserts, etc. Must start with \"http://\" or \"https://\"), ASCII characters only, and RFC 3986 compliant.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "salePrice": {
          "description": "Advertised sale price of the item.",
          "$ref": "Price"
        },
        "expirationDate": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date on which the item should expire, as specified upon insertion, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format. The actual expiration date is exposed in `productstatuses` as [googleExpirationDate](https://support.google.com/merchants/answer/6324499) and might be earlier if `expirationDate` is too far in the future."
        },
        "maximumRetailPrice": {
          "$ref": "Price",
          "description": "Maximum retail price (MRP) of the item. Applicable to India only."
        },
        "displayAdsTitle": {
          "description": "Title of an item for dynamic remarketing campaigns.",
          "type": "string"
        },
        "utilitiesIncluded": {
          "type": "array",
          "description": "The utilities included for the property.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified utilities included.",
              "Electricity.",
              "Gas.",
              "Internet.",
              "Trash.",
              "Water."
            ],
            "enum": [
              "UTILITIES_INCLUDED_UNSPECIFIED",
              "ELECTRICITY",
              "GAS",
              "INTERNET",
              "TRASH",
              "WATER"
            ]
          }
        },
        "brand": {
          "description": "[Brand](https://support.google.com/merchants/answer/6324351) of the item. For example, \"Google\".",
          "type": "string"
        },
        "customLabel1": {
          "description": "[Custom label 1](https://support.google.com/merchants/answer/6324473) for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "minEnergyEfficiencyClass": {
          "type": "string",
          "enum": [
            "ENERGY_EFFICIENCY_CLASS_UNSPECIFIED",
            "APPP",
            "APP",
            "AP",
            "A",
            "B",
            "C",
            "D",
            "E",
            "F",
            "G"
          ],
          "enumDescriptions": [
            "The energy efficiency class is unspecified.",
            "A+++.",
            "A++.",
            "A+.",
            "A.",
            "B.",
            "C.",
            "D.",
            "E.",
            "F.",
            "G."
          ],
          "description": "The [energy efficiency class](https://support.google.com/merchants/answer/7562785) as defined in EU directive 2010/30/EU."
        },
        "carrierShipping": {
          "items": {
            "$ref": "CarrierShipping"
          },
          "type": "array",
          "description": "Rules for carrier-based shipping."
        },
        "adult": {
          "description": "Set to true if the item is targeted towards adults.",
          "type": "boolean"
        },
        "shippingTransitBusinessDays": {
          "description": "The business days during which orders are in transit. If not provided, Monday to Friday business days will be assumed.",
          "type": "array",
          "items": {
            "$ref": "ShippingBusinessDaysConfig"
          }
        },
        "fuelConsumption": {
          "description": "The [fuel consumption](https://support.google.com/google-ads/answer/14543580) of the vehicle.",
          "$ref": "FuelConsumption"
        },
        "ageGroup": {
          "enumDescriptions": [
            "Age group is not specified.",
            "Teens or older.",
            "5-13 years old.",
            "1-5 years old.",
            "3-12 months old.",
            "0-3 months old."
          ],
          "type": "string",
          "enum": [
            "AGE_GROUP_UNSPECIFIED",
            "ADULT",
            "KIDS",
            "TODDLER",
            "INFANT",
            "NEWBORN"
          ],
          "description": "Target [age group](https://support.google.com/merchants/answer/6324463) of the item."
        },
        "canonicalLink": {
          "description": "URL for the canonical version of your item's landing page.",
          "type": "string"
        },
        "shippingWidth": {
          "description": "Width of the item for shipping.",
          "$ref": "ShippingDimension"
        },
        "shippingLength": {
          "description": "Length of the item for shipping.",
          "$ref": "ShippingDimension"
        },
        "sustainabilityIncentives": {
          "description": "The list of sustainability incentive programs.",
          "items": {
            "$ref": "ProductSustainabilityIncentive"
          },
          "type": "array"
        },
        "returnPolicyLabel": {
          "type": "string",
          "description": "The return label of the product, used to group products in account-level return policies. Max. 100 characters. For more information, see [Return policy label](https://support.google.com/merchants/answer/9445425)."
        },
        "gender": {
          "enumDescriptions": [
            "Gender is not specified.",
            "Male.",
            "Female.",
            "Unisex."
          ],
          "description": "Target [gender](https://support.google.com/merchants/answer/6324479) of the item.",
          "enum": [
            "GENDER_UNSPECIFIED",
            "MALE",
            "FEMALE",
            "UNISEX"
          ],
          "type": "string"
        },
        "certifiedPreOwned": {
          "type": "boolean",
          "description": "Whether the vehicle is OEM [certified pre-owned](https://support.google.com/google-ads/answer/14156475)."
        },
        "customLabel3": {
          "description": "[Custom label 3](https://support.google.com/merchants/answer/6324473) for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "productWeight": {
          "$ref": "ProductWeight",
          "description": "The weight of the product in the units provided. The value must be between 0 (exclusive) and 2000 (inclusive)."
        },
        "popularityRank": {
          "type": "number",
          "format": "float",
          "description": "Optional. Indicates the [popularity](https://support.google.com/merchants/answer/17085297) of the product in a merchant's inventory. Using a scale of 0.0 (lowest) to 100.0 (highest)."
        },
        "maxEnergyEfficiencyClass": {
          "enumDescriptions": [
            "The energy efficiency class is unspecified.",
            "A+++.",
            "A++.",
            "A+.",
            "A.",
            "B.",
            "C.",
            "D.",
            "E.",
            "F.",
            "G."
          ],
          "description": "The [energy efficiency class](https://support.google.com/merchants/answer/7562785) as defined in EU directive 2010/30/EU.",
          "enum": [
            "ENERGY_EFFICIENCY_CLASS_UNSPECIFIED",
            "APPP",
            "APP",
            "AP",
            "A",
            "B",
            "C",
            "D",
            "E",
            "F",
            "G"
          ],
          "type": "string"
        },
        "vehicleAllInPrice": {
          "description": "The all-in advertised price for a vehicle, which includes costs for the following – any accessories attached to the vehicle, environmental levies, extra warranty, fuel, freight, pre-delivery inspection (PDI), dealer fees for handling licensing, provincial regulatory fees, miscellaneous dealer charges for security etching and nitrogen tire fill, and factory-to-customer or dealer-to-customer discounts or incentives. See the [Vehicle all-in price](https://support.google.com/google-ads/answer/14156981) for more information.",
          "$ref": "Price"
        },
        "pickupMethod": {
          "enumDescriptions": [
            "Pickup method is not specified.",
            "The item is not available for store pickup.",
            "The entire transaction occurs online.",
            "The item is reserved online and the transaction occurs in-store.",
            "The item is purchased online and shipped to a local store for the customer to pick up."
          ],
          "description": "The [pickup](https://support.google.com/merchants/answer/14634021) option for the item.",
          "type": "string",
          "enum": [
            "PICKUP_METHOD_UNSPECIFIED",
            "NOT_SUPPORTED",
            "BUY",
            "RESERVE",
            "SHIP_TO_STORE"
          ]
        },
        "disclosureDate": {
          "type": "string",
          "description": "The date time when an offer becomes visible in search results across Google’s YouTube surfaces, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format. See [Disclosure date](https://support.google.com/merchants/answer/13034208) for more information.",
          "format": "google-datetime"
        },
        "pause": {
          "description": "Publication of this item will be temporarily [paused](https://support.google.com/merchants/answer/11909930).",
          "enumDescriptions": [
            "The pause is unspecified.",
            "You’re currently pausing your product for all ads locations (including Shopping Ads, Display Ads, and local inventory ads).",
            "You’re currently pausing your product for all Shopping locations (including Shopping Ads, Display Ads, local inventory ads, Buy on Google, and free listings)."
          ],
          "enum": [
            "PAUSE_UNSPECIFIED",
            "ADS",
            "ALL"
          ],
          "type": "string"
        },
        "promotionIds": {
          "description": "The unique ID of a promotion.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "productFee": {
          "items": {
            "$ref": "ProductFee"
          },
[...]
