{
  "servicePath": "",
  "baseUrl": "https://merchantapi.googleapis.com/",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/merchant/api",
  "id": "merchantapi:lfp_v1beta",
  "discoveryVersion": "v1",
  "title": "Merchant API",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "revision": "20260910",
  "basePath": "",
  "resources": {
    "accounts": {
      "resources": {
        "lfpMerchantStates": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the state to retrieve. Format: `accounts/{account}/lfpMerchantStates/{target_merchant}`. For example, `accounts/123456/lfpMerchantStates/567890`.",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/lfpMerchantStates/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "lfp/v1beta/{+name}",
              "description": "Gets the LFP state of a merchant",
              "id": "merchantapi.accounts.lfpMerchantStates.get",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "LfpMerchantState"
              },
              "httpMethod": "GET",
              "flatPath": "lfp/v1beta/accounts/{accountsId}/lfpMerchantStates/{lfpMerchantStatesId}"
            }
          }
        },
        "lfpSales": {
          "methods": {
            "insert": {
              "parameters": {
                "parent": {
                  "description": "Required. The LFP provider account. Format: `accounts/{lfp_partner}`",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "LfpSale"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "lfp/v1beta/{+parent}/lfpSales:insert",
              "response": {
                "$ref": "LfpSale"
              },
              "description": "Inserts a `LfpSale` for the given merchant.",
              "id": "merchantapi.accounts.lfpSales.insert",
              "flatPath": "lfp/v1beta/accounts/{accountsId}/lfpSales:insert",
              "httpMethod": "POST"
            }
          }
        },
        "lfpStores": {
          "methods": {
            "get": {
              "id": "merchantapi.accounts.lfpStores.get",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "lfp/v1beta/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/lfpStores/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the store to retrieve. Format: `accounts/{account}/lfpStores/{target_merchant}~{store_code}`",
                  "required": true
                }
              },
              "description": "Retrieves information about a store.",
              "response": {
                "$ref": "LfpStore"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "lfp/v1beta/accounts/{accountsId}/lfpStores/{lfpStoresId}"
            },
            "delete": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the store to delete for the target merchant account. Format: `accounts/{account}/lfpStores/{target_merchant}~{store_code}`",
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+/lfpStores/[^/]+$"
                }
              },
              "path": "lfp/v1beta/{+name}",
              "id": "merchantapi.accounts.lfpStores.delete",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes a store for a target merchant.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "lfp/v1beta/accounts/{accountsId}/lfpStores/{lfpStoresId}",
              "httpMethod": "DELETE"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET",
              "path": "lfp/v1beta/{+parent}/lfpStores",
              "description": "Lists the stores of the target merchant, specified by the filter in `ListLfpStoresRequest`.",
              "response": {
                "$ref": "ListLfpStoresResponse"
              },
              "flatPath": "lfp/v1beta/accounts/{accountsId}/lfpStores",
              "id": "merchantapi.accounts.lfpStores.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of `LfpStore` resources for the given account to return. The service returns fewer than this value if the number of stores for the given account is less than the `pageSize`. The default value is 250. The maximum value is 1000; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum.",
                  "location": "query"
                },
                "targetAccount": {
                  "type": "string",
                  "location": "query",
                  "format": "int64",
                  "description": "Required. The Merchant Center id of the merchant to list stores for."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListLfpStoresRequest` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `ListLfpStoresRequest` must match the call that provided the page token. The token returned as nextPageToken in the response to the previous request."
                },
                "parent": {
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The LFP partner. Format: `accounts/{account}`",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "insert": {
              "request": {
                "$ref": "LfpStore"
              },
              "description": "Inserts a store for the target merchant. If the store with the same store code already exists, it will be replaced.",
              "flatPath": "lfp/v1beta/accounts/{accountsId}/lfpStores:insert",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.lfpStores.insert",
              "response": {
                "$ref": "LfpStore"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The LFP provider account Format: `accounts/{account}`",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "lfp/v1beta/{+parent}/lfpStores:insert",
              "httpMethod": "POST"
            }
          }
        },
        "lfpInventories": {
          "methods": {
            "insert": {
              "response": {
                "$ref": "LfpInventory"
              },
              "description": "Inserts a `LfpInventory` resource for the given target merchant account. If the resource already exists, it will be replaced. The inventory automatically expires after 30 days.",
              "parameters": {
                "parent": {
                  "description": "Required. The LFP provider account. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "merchantapi.accounts.lfpInventories.insert",
              "flatPath": "lfp/v1beta/accounts/{accountsId}/lfpInventories:insert",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "LfpInventory"
              },
              "path": "lfp/v1beta/{+parent}/lfpInventories:insert"
            }
          }
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "merchantapi",
  "ownerName": "Google",
  "schemas": {
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty"
    },
    "LfpMerchantState": {
      "id": "LfpMerchantState",
      "description": "The LFP state of a merchant.",
      "type": "object",
      "properties": {
        "linkedGbps": {
          "type": "string",
          "description": "Number of [GBPs](https://www.google.com/business/) this merchant has access to.",
          "format": "int64"
        },
        "inventoryStats": {
          "$ref": "InventoryStats",
          "description": "The inventory statistics for the merchant. The field will be absent if the merchant has no inventory submitted through LFP."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the `LfpMerchantState` resource. Format: `accounts/{account}/lfpMerchantStates/{target_merchant}`. For example, `accounts/123456/lfpMerchantStates/567890`."
        },
        "storeStates": {
          "type": "array",
          "description": "Output only. The state per store from the specified merchant. The field will be absent if the merchant has no stores submitted through LFP.",
          "readOnly": true,
          "items": {
            "$ref": "LfpStoreState"
          }
        },
        "countrySettings": {
          "description": "Country-specific settings for the merchant.",
          "items": {
            "$ref": "CountrySettings"
          },
          "type": "array"
        }
      }
    },
    "ProductStatusChangeMessage": {
      "type": "object",
      "properties": {
        "managingAccount": {
          "description": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`",
          "type": "string"
        },
        "attribute": {
          "description": "The attribute in the resource that changed, in this case it will be always `Status`.",
          "type": "string",
          "enum": [
            "ATTRIBUTE_UNSPECIFIED",
            "STATUS"
          ],
          "enumDescriptions": [
            "Unspecified attribute",
            "Status of the changed entity"
          ]
        },
        "eventTime": {
          "description": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications.",
          "type": "string",
          "format": "google-datetime"
        },
        "expirationTime": {
          "type": "string",
          "description": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event.",
          "format": "google-datetime"
        },
        "account": {
          "description": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`",
          "type": "string"
        },
        "changes": {
          "items": {
            "$ref": "ProductChange"
          },
          "description": "A message to describe the change that happened to the product",
          "type": "array"
        },
        "resourceId": {
          "description": "The product id.",
          "type": "string"
        },
        "resource": {
          "description": "The product name. Format: `accounts/{account}/products/{product}`",
          "type": "string"
        },
        "resourceType": {
          "type": "string",
          "enum": [
            "RESOURCE_UNSPECIFIED",
            "PRODUCT",
            "ACCOUNT_SERVICE"
          ],
          "enumDescriptions": [
            "Unspecified resource",
            "Resource type : product",
            "Account service"
          ],
          "description": "The resource that changed, in this case it will always be `Product`."
        }
      },
      "description": "The message that the merchant will receive to notify about product status change event",
      "id": "ProductStatusChangeMessage"
    },
    "ListLfpStoresResponse": {
      "description": "Response message for the ListLfpStores method.",
      "id": "ListLfpStoresResponse",
      "type": "object",
      "properties": {
        "lfpStores": {
          "type": "array",
          "items": {
            "$ref": "LfpStore"
          },
          "description": "The stores from the specified merchant."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "LfpSale": {
      "description": "A sale for the merchant.",
      "id": "LfpSale",
      "type": "object",
      "properties": {
        "saleTime": {
          "format": "google-datetime",
          "description": "Required. The timestamp for the sale.",
          "type": "string"
        },
        "storeCode": {
          "description": "Required. The identifier of the merchant's store. Either a `storeCode` inserted through the API or the code of the store in the Business Profile.",
          "type": "string"
        },
        "offerId": {
          "type": "string",
          "description": "Required. A unique identifier for the product. If both inventories and sales are submitted for a merchant, this id should match for the same product. **Note**: if the merchant sells the same product new and used, they should have different IDs."
        },
        "targetAccount": {
          "format": "int64",
          "description": "Required. The Merchant Center ID of the merchant to submit the sale for.",
          "type": "string"
        },
        "gtin": {
          "type": "string",
          "description": "Required. The Global Trade Item Number of the sold product."
        },
        "contentLanguage": {
          "type": "string",
          "description": "Required. The two-letter ISO 639-1 language code for the item."
        },
        "uid": {
          "description": "Output only. System generated globally unique ID for the `LfpSale`.",
          "type": "string",
          "readOnly": true
        },
        "feedLabel": {
          "type": "string",
          "description": "Optional. The [feed label](https://developers.google.com/shopping-content/guides/products/feed-labels) for the product. If this is not set, it will default to `regionCode`."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The name of the `LfpSale` resource. Format: `accounts/{account}/lfpSales/{sale}`"
        },
        "quantity": {
          "description": "Required. The relative change of the available quantity. Negative for items returned.",
          "type": "string",
          "format": "int64"
        },
        "regionCode": {
          "description": "Required. The [CLDR territory code](https://github.com/unicode-org/cldr/blob/latest/common/main/en.xml) for the country where the product is sold.",
          "type": "string"
        },
        "price": {
          "description": "Required. The unit price of the product.",
          "$ref": "Price"
        }
      }
    },
    "ProductChange": {
      "id": "ProductChange",
      "properties": {
        "oldValue": {
          "description": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)",
          "type": "string"
        },
        "newValue": {
          "type": "string",
          "description": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
        },
        "reportingContext": {
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT",
            "RENTAL_ADS"
          ],
          "description": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout .",
            "Real Estate Rental Ads. ."
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "regionCode": {
          "type": "string",
          "description": "Countries that have the change (if applicable). Represented in the ISO 3166 format."
        }
      },
      "description": "The change that happened to the product including old value, new value, country code as the region code and reporting context.",
      "type": "object"
    },
    "CountrySettings": {
      "properties": {
        "freeLocalListingsEnabled": {
          "description": "True if this merchant has enabled free local listings in MC.",
          "type": "boolean"
        },
        "regionCode": {
          "description": "Required. The [CLDR territory code](https://github.com/unicode-org/cldr/blob/latest/common/main/en.xml) for the country for which these settings are defined.",
          "type": "string"
        },
        "inventoryVerificationState": {
          "enumDescriptions": [
            "Verification state unspecified.",
            "Verification state not approved.",
            "Verification state in progress.",
            "Verification state approved."
          ],
          "enum": [
            "VERIFICATION_STATE_UNSPECIFIED",
            "VERIFICATION_STATE_NOT_APPROVED",
            "VERIFICATION_STATE_IN_PROGRESS",
            "VERIFICATION_STATE_APPROVED"
          ],
          "readOnly": true,
          "description": "Output only. The verification state of this merchant's inventory check.",
          "type": "string"
        },
        "productPageType": {
          "readOnly": true,
          "enumDescriptions": [
            "Product page type unspecified.",
            "Google hosted product page.",
            "Merchant hosted product page.",
            "Merchant hosted store specific product page."
          ],
          "type": "string",
          "description": "Output only. The product page type selected by this merchant.",
          "enum": [
            "PRODUCT_PAGE_TYPE_UNSPECIFIED",
            "GOOGLE_HOSTED",
            "MERCHANT_HOSTED",
            "MERCHANT_HOSTED_STORE_SPECIFIC"
          ]
        },
        "localInventoryAdsEnabled": {
          "description": "True if this merchant has enabled local inventory ads in MC.",
          "type": "boolean"
        },
        "pickupServingVerificationState": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Verification state unspecified.",
            "Verification state not approved.",
            "Verification state in progress.",
            "Verification state approved."
          ],
          "enum": [
            "VERIFICATION_STATE_UNSPECIFIED",
            "VERIFICATION_STATE_NOT_APPROVED",
            "VERIFICATION_STATE_IN_PROGRESS",
            "VERIFICATION_STATE_APPROVED"
          ],
          "description": "Output only. The verification state of this merchant's pickup serving feature."
        },
        "instockServingVerificationState": {
          "description": "Output only. The verification state of this merchant's instock serving feature.",
          "enumDescriptions": [
            "Verification state unspecified.",
            "Verification state not approved.",
            "Verification state in progress.",
            "Verification state approved."
          ],
          "readOnly": true,
          "enum": [
            "VERIFICATION_STATE_UNSPECIFIED",
            "VERIFICATION_STATE_NOT_APPROVED",
            "VERIFICATION_STATE_IN_PROGRESS",
            "VERIFICATION_STATE_APPROVED"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Country-specific settings for the merchant.",
      "id": "CountrySettings"
    },
    "LfpInventory": {
      "description": "Local Inventory for the merchant.",
      "properties": {
        "offerId": {
          "type": "string",
          "description": "Required. Immutable. A unique identifier for the product. If both inventories and sales are submitted for a merchant, this id should match for the same product. **Note**: if the merchant sells the same product new and used, they should have different IDs."
        },
        "contentLanguage": {
          "description": "Required. The two-letter ISO 639-1 language code for the item.",
          "type": "string"
        },
        "availability": {
          "description": "Required. Availability of the product at this store. For accepted attribute values, see the [local product inventory data specification](https://support.google.com/merchants/answer/3061342)",
          "type": "string"
        },
        "collectionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The time when the inventory is collected. If not set, it will be set to the time when the inventory is submitted."
        },
        "regionCode": {
          "type": "string",
          "description": "Required. The [CLDR territory code](https://github.com/unicode-org/cldr/blob/latest/common/main/en.xml) for the country where the product is sold."
        },
        "name": {
          "description": "Output only. Identifier. The name for the `LfpInventory` resource. Format: `accounts/{account}/lfpInventories/{target_merchant}~{store_code}~{offer}`",
          "readOnly": true,
          "type": "string"
        },
        "storeCode": {
          "description": "Required. The identifier of the merchant's store. Either the store code inserted through `InsertLfpStore` or the store code in the Business Profile.",
          "type": "string"
        },
        "quantity": {
          "description": "Optional. Quantity of the product available at this store. Must be greater than or equal to zero.",
          "format": "int64",
          "type": "string"
        },
        "gtin": {
          "type": "string",
          "description": "Optional. The Global Trade Item Number of the product."
        },
        "targetAccount": {
          "type": "string",
          "format": "int64",
          "description": "Required. The Merchant Center ID of the merchant to submit the inventory for."
        },
        "feedLabel": {
          "type": "string",
          "description": "Optional. The [feed label](https://developers.google.com/shopping-content/guides/products/feed-labels) for the product. If this is not set, it will default to `regionCode`."
        },
        "pickupMethod": {
          "description": "Optional. Supported pickup method for this offer. Unless the value is \"not supported\", this field must be submitted together with `pickupSla`. For accepted attribute values, see the [local product inventory data specification](https://support.google.com/merchants/answer/3061342).",
          "type": "string"
        },
        "pickupSla": {
          "type": "string",
          "description": "Optional. Expected date that an order will be ready for pickup relative to the order date. Must be submitted together with `pickupMethod`. For accepted attribute values, see the [local product inventory data specification](https://support.google.com/merchants/answer/3061342)."
        },
        "price": {
          "$ref": "Price",
          "description": "Optional. The current price of the product."
        }
      },
      "type": "object",
      "id": "LfpInventory"
    },
    "InventoryStats": {
      "description": "The inventory statistics for a merchant.",
      "id": "InventoryStats",
      "type": "object",
      "properties": {
        "submittedProducts": {
          "description": "Number of products from provided inventories/sales that were created from matches to existing online products provided by the merchant or to the Google catalog.",
          "format": "int64",
          "type": "string"
        },
        "submittedInStockEntries": {
          "description": "Number of submitted in stock entries.",
          "format": "int64",
          "type": "string"
        },
        "unsubmittedEntries": {
          "description": "Number of entries that were built based on provided inventories/sales and couldn't be submitted to Google due to errors like missing product.",
          "type": "string",
          "format": "int64"
        },
        "submittedEntries": {
          "format": "int64",
          "description": "Number of entries (understanding entry as a pair of product and store) that were built based on provided inventories/sales and submitted to Google.",
          "type": "string"
        }
      }
    },
    "LfpStore": {
      "type": "object",
      "id": "LfpStore",
      "properties": {
        "phoneNumber": {
          "description": "Optional. The store phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format. Example: `+15556767888`",
          "type": "string"
        },
        "matchingStateHint": {
          "description": "Optional. Output only. The hint of why the matching has failed. This is only set when matchingState=`STORE_MATCHING_STATE_FAILED`. Possible values are: - \"`linked-store-not-found`\": There aren't any Google Business Profile stores available for matching. - \"`store-match-not-found`\": The provided `LfpStore` couldn't be matched to any of the connected Google Business Profile stores. Merchant Center account is connected correctly and stores are available on Google Business Profile, but the `LfpStore` location address does not match with Google Business Profile stores' addresses. Update the `LfpStore` address or Google Business Profile store address to match correctly. - \"`store-match-unverified`\": The provided `LfpStore` couldn't be matched to any of the connected Google Business Profile stores, as the matched Google Business Profile store is unverified. Go through the Google Business Profile verification process to match correctly.",
          "type": "string",
          "readOnly": true
        },
        "websiteUri": {
          "type": "string",
          "description": "Optional. The website URL for the store or merchant."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. The name of the `LfpStore` resource. Format: `accounts/{account}/lfpStores/{target_merchant}~{store_code}`",
          "type": "string"
        },
        "gcidCategory": {
          "description": "Optional. [Google My Business category id](https://support.google.com/business/answer/7249669).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "storeAddress": {
          "type": "string",
          "description": "Required. The street address of the store. Example: 1600 Amphitheatre Pkwy, Mountain View, CA 94043, USA."
        },
        "storeName": {
          "description": "Optional. The merchant or store name.",
          "type": "string"
        },
        "targetAccount": {
          "type": "string",
          "format": "int64",
          "description": "Required. The Merchant Center id of the merchant to submit the store for."
        },
        "matchingState": {
          "enum": [
            "STORE_MATCHING_STATE_UNSPECIFIED",
            "STORE_MATCHING_STATE_MATCHED",
            "STORE_MATCHING_STATE_FAILED"
          ],
          "enumDescriptions": [
            "Store matching state unspecified.",
            "The `LfpStore` is successfully matched with a Google Business Profile store.",
            "The `LfpStore` is not matched with a Google Business Profile store."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. The state of matching to a Google Business Profile. See matchingStateHint for further details if no match is found."
        },
        "placeId": {
          "description": "Optional. The [Google Place Id](https://developers.google.com/maps/documentation/places/web-service/place-id#id-overview) of the store location.",
          "type": "string"
        },
        "storeCode": {
          "description": "Required. Immutable. A store identifier that is unique for the target merchant.",
          "type": "string"
        }
      },
      "description": "A store for the merchant. This will be used to match to a store under the Google Business Profile of the target merchant. If a matching store can't be found, the inventories or sales submitted with the store code will not be used."
    },
    "LfpStoreState": {
      "id": "LfpStoreState",
      "properties": {
        "storeCode": {
          "description": "Required. Immutable. The identifier of this store.",
          "type": "string"
        },
        "matchingState": {
          "readOnly": true,
          "enumDescriptions": [
            "Store matching state unspecified.",
            "The `LfpStore` is successfully matched with a Google Business Profile store.",
            "The `LfpStore` is not matched with a Google Business Profile store."
          ],
          "enum": [
            "STORE_MATCHING_STATE_UNSPECIFIED",
            "STORE_MATCHING_STATE_MATCHED",
            "STORE_MATCHING_STATE_FAILED"
          ],
          "description": "Output only. The store matching state.",
          "type": "string"
        },
        "matchingStateHint": {
          "description": "The hint of why the matching has failed (only set if matching_state is FAILED).",
          "type": "string"
        }
      },
      "description": "The state of a specific merchant's store.",
      "type": "object"
    },
    "Price": {
      "id": "Price",
      "description": "The price represented as a number and currency.",
      "properties": {
        "amountMicros": {
          "format": "int64",
          "description": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros).",
          "type": "string"
        },
        "currencyCode": {
          "description": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217).",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "rootUrl": "https://merchantapi.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "Programmatically manage your Merchant Center Accounts.",
  "mtlsRootUrl": "https://merchantapi.mtls.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Merchant",
  "ownerDomain": "google.com",
  "version": "lfp_v1beta"
}