{
  "name": "merchantapi",
  "kind": "discovery#restDescription",
  "basePath": "",
  "servicePath": "",
  "description": "Programmatically manage your Merchant Center Accounts.",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "ownerName": "Google",
  "id": "merchantapi:reviews_v1beta",
  "canonicalName": "Merchant",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "baseUrl": "https://merchantapi.googleapis.com/",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://merchantapi.mtls.googleapis.com/",
  "schemas": {
    "MerchantReviewAttributes": {
      "id": "MerchantReviewAttributes",
      "properties": {
        "reviewerId": {
          "description": "Optional. A permanent, unique identifier for the author of the review in the publisher's system.",
          "type": "string"
        },
        "minRating": {
          "type": "string",
          "description": "Optional. The minimum possible number for the rating. This should be the worst possible rating and should not be a value for no rating.",
          "format": "int64"
        },
        "title": {
          "description": "Optional. The title of the review.",
          "type": "string"
        },
        "rating": {
          "description": "Optional. The reviewer's overall rating of the merchant.",
          "type": "number",
          "format": "double"
        },
        "reviewerUsername": {
          "type": "string",
          "description": "Optional. Display name of the review author."
        },
        "isAnonymous": {
          "description": "Optional. Set to true if the reviewer should remain anonymous.",
          "type": "boolean"
        },
        "merchantRatingLink": {
          "type": "string",
          "description": "Optional. URL to the landing page that hosts the reviews for this merchant. Do not use a redirect URL."
        },
        "merchantId": {
          "description": "Required. Must be unique and stable across all requests. In other words, if a request today and another 90 days ago refer to the same merchant, they must have the same id.",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "Required. This should be any freeform text provided by the user and should not be truncated. If multiple responses to different questions are provided, all responses should be included, with the minimal context for the responses to make sense. Context should not be provided if questions were left unanswered."
        },
        "maxRating": {
          "format": "int64",
          "description": "Optional. The maximum possible number for the rating. The value of the max rating must be greater than the value of the min rating.",
          "type": "string"
        },
        "collectionMethod": {
          "description": "Optional. The method used to collect the review.",
          "type": "string",
          "enum": [
            "COLLECTION_METHOD_UNSPECIFIED",
            "MERCHANT_UNSOLICITED",
            "POINT_OF_SALE",
            "AFTER_FULFILLMENT"
          ],
          "enumDescriptions": [
            "Collection method unspecified.",
            "The user was not responding to a specific solicitation when they submitted the review.",
            "The user submitted the review in response to a solicitation when the user placed an order.",
            "The user submitted the review in response to a solicitation after fulfillment of the user's order."
          ]
        },
        "reviewTime": {
          "format": "google-datetime",
          "description": "Required. The timestamp indicating when the review was written.",
          "type": "string"
        },
        "reviewCountry": {
          "description": "Optional. The country where the reviewer made the order defined by ISO 3166-1 Alpha-2 Country Code.",
          "type": "string"
        },
        "merchantLink": {
          "type": "string",
          "description": "Optional. URL to the merchant's main website. Do not use a redirect URL for this value. In other words, the value should point directly to the merchant's site."
        },
        "merchantDisplayName": {
          "type": "string",
          "description": "Optional. Human-readable display name for the merchant."
        },
        "reviewLanguage": {
          "description": "Optional. The language of the review defined by BCP-47 language code.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Attributes."
    },
    "ListProductReviewsResponse": {
      "id": "ListProductReviewsResponse",
      "description": "response message for the ListProductReviews method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "productReviews": {
          "description": "The product review.",
          "type": "array",
          "items": {
            "$ref": "ProductReview"
          }
        }
      }
    },
    "ProductReview": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the product review. Format: `\"{productreview.name=accounts/{account}/productReviews/{productReview}}\"`"
        },
        "dataSource": {
          "description": "Output only. The primary data source of the product review.",
          "type": "string",
          "readOnly": true
        },
        "productReviewStatus": {
          "description": "Output only. The status of a product review, data validation issues, that is, information about a product review computed asynchronously.",
          "$ref": "ProductReviewStatus",
          "readOnly": true
        },
        "customAttributes": {
          "items": {
            "$ref": "CustomAttribute"
          },
          "type": "array",
          "description": "Optional. A list of custom (merchant-provided) attributes."
        },
        "productReviewId": {
          "description": "Required. The permanent, unique identifier for the product review in the publisher’s system.",
          "type": "string"
        },
        "productReviewAttributes": {
          "description": "Optional. A list of product review attributes.",
          "$ref": "ProductReviewAttributes"
        }
      },
      "description": "A review for a product. For more information, see [Introduction to Product Review Feeds](https://developers.google.com/product-review-feeds)",
      "id": "ProductReview",
      "type": "object"
    },
    "MerchantReviewStatus": {
      "description": "The status of a merchant review, data validation issues, that is, information about a merchant review computed asynchronously.",
      "type": "object",
      "id": "MerchantReviewStatus",
      "properties": {
        "itemLevelIssues": {
          "description": "Output only. A list of all issues associated with the merchant review.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "MerchantReviewItemLevelIssue"
          }
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Date on which the item has been created, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "format": "google-datetime",
          "type": "string"
        },
        "lastUpdateTime": {
          "description": "Output only. Date on which the item has been last updated, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "destinationStatuses": {
          "readOnly": true,
          "description": "Output only. The intended destinations for the merchant review.",
          "items": {
            "$ref": "MerchantReviewDestinationStatus"
          },
          "type": "array"
        }
      }
    },
    "MerchantReview": {
      "description": "A review for a merchant. For more information, see [Introduction to Merchant Review Feeds](https://developers.google.com/merchant-review-feeds)",
      "properties": {
        "merchantReviewId": {
          "type": "string",
          "description": "Required. The user provided merchant review ID to uniquely identify the merchant review."
        },
        "merchantReviewStatus": {
          "$ref": "MerchantReviewStatus",
          "readOnly": true,
          "description": "Output only. The status of a merchant review, data validation issues, that is, information about a merchant review computed asynchronously."
        },
        "merchantReviewAttributes": {
          "$ref": "MerchantReviewAttributes",
          "description": "Optional. A list of merchant review attributes."
        },
        "customAttributes": {
          "description": "Optional. A list of custom (merchant-provided) attributes. It can also be used for submitting any attribute of the data specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as experimental attributes. Maximum allowed number of characters for each custom attribute is 10240 (represents sum of characters for name and value). Maximum 2500 custom attributes can be set per product, with total size of 102.4kB. Underscores in custom attribute names are replaced by spaces upon insertion.",
          "items": {
            "$ref": "CustomAttribute"
          },
          "type": "array"
        },
        "dataSource": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The primary data source of the merchant review."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the merchant review. Format: `\"{merchantreview.name=accounts/{account}/merchantReviews/{merchantReview}}\"`"
        }
      },
      "id": "MerchantReview",
      "type": "object"
    },
    "ProductStatusChangeMessage": {
      "id": "ProductStatusChangeMessage",
      "properties": {
        "account": {
          "type": "string",
          "description": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`"
        },
        "resourceType": {
          "description": "The resource that changed, in this case it will always be `Product`.",
          "type": "string",
          "enum": [
            "RESOURCE_UNSPECIFIED",
            "PRODUCT",
            "ACCOUNT_SERVICE"
          ],
          "enumDescriptions": [
            "Unspecified resource",
            "Resource type : product",
            "Account service"
          ]
        },
        "resourceId": {
          "description": "The product id.",
          "type": "string"
        },
        "managingAccount": {
          "type": "string",
          "description": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`"
        },
        "eventTime": {
          "description": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications.",
          "format": "google-datetime",
          "type": "string"
        },
        "attribute": {
          "description": "The attribute in the resource that changed, in this case it will be always `Status`.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified attribute",
            "Status of the changed entity"
          ],
          "enum": [
            "ATTRIBUTE_UNSPECIFIED",
            "STATUS"
          ]
        },
        "resource": {
          "description": "The product name. Format: `accounts/{account}/products/{product}`",
          "type": "string"
        },
        "changes": {
          "type": "array",
          "items": {
            "$ref": "ProductChange"
          },
          "description": "A message to describe the change that happened to the product"
        },
        "expirationTime": {
          "type": "string",
          "description": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event.",
          "format": "google-datetime"
        }
      },
      "description": "The message that the merchant will receive to notify about product status change event",
      "type": "object"
    },
    "CustomAttribute": {
      "description": "A message that represents custom attributes. Exactly one of `value` or `group_values` must not be empty.",
      "properties": {
        "groupValues": {
          "description": "Subattributes within this attribute group. If `group_values` is not empty, `value` must be empty.",
          "type": "array",
          "items": {
            "$ref": "CustomAttribute"
          }
        },
        "value": {
          "description": "The value of the attribute. If `value` is not empty, `group_values` must be empty.",
          "type": "string"
        },
        "name": {
          "description": "The name of the attribute.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CustomAttribute"
    },
    "ReviewLink": {
      "id": "ReviewLink",
      "description": "The URI of the review landing page.",
      "properties": {
        "link": {
          "type": "string",
          "description": "Optional. The URI of the review landing page. For example: `http://www.example.com/review_5.html`."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Type unspecified.",
            "The review page contains only this single review.",
            "The review page contains a group of reviews including this review."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "SINGLETON",
            "GROUP"
          ],
          "description": "Optional. Type of the review URI."
        }
      },
      "type": "object"
    },
    "MerchantReviewItemLevelIssue": {
      "type": "object",
      "id": "MerchantReviewItemLevelIssue",
      "properties": {
        "resolution": {
          "type": "string",
          "description": "Output only. Whether the issue can be resolved by the merchant.",
          "readOnly": true
        },
        "attribute": {
          "readOnly": true,
          "description": "Output only. The attribute's name, if the issue is caused by a single attribute.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A short issue description in English."
        },
        "code": {
          "type": "string",
          "description": "Output only. The error code of the issue.",
          "readOnly": true
        },
        "documentation": {
          "description": "Output only. The URL of a web page to help with resolving this issue.",
          "readOnly": true,
          "type": "string"
        },
        "detail": {
          "readOnly": true,
          "description": "Output only. A detailed issue description in English.",
          "type": "string"
        },
        "reportingContext": {
          "readOnly": true,
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout .",
            "Real Estate Rental Ads. ."
          ],
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT",
            "RENTAL_ADS"
          ],
          "description": "Output only. The reporting context the issue applies to.",
          "type": "string"
        },
        "severity": {
          "description": "Output only. How this issue affects serving of the merchant review.",
          "readOnly": true,
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "NOT_IMPACTED",
            "DISAPPROVED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "This issue represents a warning and does not have a direct affect on the merchant review.",
            "Issue disapproves the merchant review."
          ],
          "type": "string"
        }
      },
      "description": "The ItemLevelIssue of the merchant review status."
    },
    "ProductChange": {
      "id": "ProductChange",
      "type": "object",
      "properties": {
        "newValue": {
          "type": "string",
          "description": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
        },
        "regionCode": {
          "type": "string",
          "description": "Countries that have the change (if applicable). Represented in the ISO 3166 format."
        },
        "reportingContext": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT",
            "RENTAL_ADS"
          ],
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout .",
            "Real Estate Rental Ads. ."
          ],
          "description": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)"
        },
        "oldValue": {
          "description": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)",
          "type": "string"
        }
      },
      "description": "The change that happened to the product including old value, new value, country code as the region code and reporting context."
    },
    "ProductReviewStatus": {
      "type": "object",
      "description": "Product review status.",
      "id": "ProductReviewStatus",
      "properties": {
        "destinationStatuses": {
          "items": {
            "$ref": "ProductReviewDestinationStatus"
          },
          "readOnly": true,
          "description": "Output only. The intended destinations for the product review.",
          "type": "array"
        },
        "itemLevelIssues": {
          "type": "array",
          "items": {
            "$ref": "ProductReviewItemLevelIssue"
          },
          "description": "Output only. A list of all issues associated with the product review.",
          "readOnly": true
        },
        "lastUpdateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Date on which the item has been last updated, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Date on which the item has been created, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "format": "google-datetime"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "MerchantReviewDestinationStatus": {
      "type": "object",
      "description": "The destination status of the merchant review status.",
      "properties": {
        "reportingContext": {
          "description": "Output only. The name of the reporting context.",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout .",
            "Real Estate Rental Ads. ."
          ],
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT",
            "RENTAL_ADS"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "id": "MerchantReviewDestinationStatus"
    },
    "ProductReviewDestinationStatus": {
      "properties": {
        "reportingContext": {
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT",
            "RENTAL_ADS"
          ],
          "type": "string",
          "description": "Output only. The name of the reporting context.",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout .",
            "Real Estate Rental Ads. ."
          ]
        }
      },
      "description": "The destination status of the product review status.",
      "type": "object",
      "id": "ProductReviewDestinationStatus"
    },
    "ListMerchantReviewsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of results."
        },
        "merchantReviews": {
          "description": "The merchant review.",
          "type": "array",
          "items": {
            "$ref": "MerchantReview"
          }
        }
      },
      "description": "Response message for the `ListMerchantsReview` method.",
      "id": "ListMerchantReviewsResponse"
    },
    "ProductReviewItemLevelIssue": {
      "description": "The ItemLevelIssue of the product review status.",
      "id": "ProductReviewItemLevelIssue",
      "properties": {
        "code": {
          "description": "Output only. The error code of the issue.",
          "type": "string",
          "readOnly": true
        },
        "detail": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A detailed issue description in English."
        },
        "reportingContext": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The reporting context the issue applies to.",
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT",
            "RENTAL_ADS"
          ],
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout .",
            "Real Estate Rental Ads. ."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "resolution": {
          "readOnly": true,
          "description": "Output only. Whether the issue can be resolved by the merchant.",
          "type": "string"
        },
        "description": {
          "description": "Output only. A short issue description in English.",
          "readOnly": true,
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "Not specified.",
            "This issue represents a warning and does not have a direct affect on the product review.",
            "Issue disapproves the product review."
          ],
          "description": "Output only. How this issue affects serving of the product review.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "NOT_IMPACTED",
            "DISAPPROVED"
          ]
        },
        "attribute": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The attribute's name, if the issue is caused by a single attribute."
        },
        "documentation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URL of a web page to help with resolving this issue."
        }
      },
      "type": "object"
    },
    "ProductReviewAttributes": {
      "description": "Attributes.",
      "id": "ProductReviewAttributes",
      "type": "object",
      "properties": {
        "mpns": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Contains MPNs (manufacturer part numbers) associated with a product."
        },
        "isIncentivizedReview": {
          "type": "boolean",
          "description": "Optional. Indicates whether the review is incentivized."
        },
        "productLinks": {
          "description": "Optional. The URI of the product. This URI can have the same value as the `review_link` element, if the review URI and the product URI are the same.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isSpam": {
          "description": "Optional. Indicates whether the review is marked as spam in the publisher's system.",
          "type": "boolean"
        },
        "publisherName": {
          "type": "string",
          "description": "Optional. The name of the publisher of the product reviews. The information about the publisher, which may be a retailer, manufacturer, reviews service company, or any entity that publishes product reviews."
        },
        "reviewLink": {
          "$ref": "ReviewLink",
          "description": "Optional. The URI of the review landing page."
        },
        "skus": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Contains SKUs (stock keeping units) associated with a product. Often this matches the product Offer Id in the product feed."
        },
        "reviewLanguage": {
          "description": "Optional. The language of the review defined by BCP-47 language code.",
          "type": "string"
        },
        "publisherFavicon": {
          "description": "Optional. A link to the company favicon of the publisher. The image dimensions should be favicon size: 16x16 pixels. The image format should be GIF, JPG or PNG.",
          "type": "string"
        },
        "reviewerUsername": {
          "description": "Optional. The name of the reviewer of the product review.",
          "type": "string"
        },
        "brands": {
          "description": "Optional. Contains brand names associated with a product.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "description": "Optional. The title of the review.",
          "type": "string"
        },
        "gtins": {
          "description": "Optional. Contains GTINs (global trade item numbers) associated with a product. Sub-types of GTINs (e.g. UPC, EAN, ISBN, JAN) are supported.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "reviewerIsAnonymous": {
          "type": "boolean",
          "description": "Optional. Set to true if the reviewer should remain anonymous."
        },
        "reviewCountry": {
          "type": "string",
          "description": "Optional. The country of the review defined by ISO 3166-1 Alpha-2 Country Code."
        },
        "collectionMethod": {
          "enumDescriptions": [
            "Collection method unspecified.",
            "The user was not responding to a specific solicitation when they submitted the review.",
            "The user submitted the review in response to a solicitation after fulfillment of the user's order."
          ],
          "enum": [
            "COLLECTION_METHOD_UNSPECIFIED",
            "UNSOLICITED",
            "POST_FULFILLMENT"
          ],
          "type": "string",
          "description": "Optional. The method used to collect the review."
        },
        "reviewerId": {
          "type": "string",
          "description": "Optional. The author of the product review. A permanent, unique identifier for the author of the review in the publisher's system."
        },
        "reviewTime": {
          "format": "google-datetime",
          "description": "Required. The timestamp indicating when the review was written.",
          "type": "string"
        },
        "subclientName": {
          "description": "Optional. The name of the subclient of the product reviews. The subclient is an identifier of the product review source. It should be equivalent to the directory provided in the file data source path.",
          "type": "string"
        },
        "cons": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Contains the disadvantages based on the opinion of the reviewer. Omit boilerplate text like \"con:\" unless it was written by the reviewer."
        },
        "maxRating": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The maximum possible number for the rating. The value of the max rating must be greater than the value of the min attribute."
        },
        "aggregatorName": {
          "description": "Optional. The name of the aggregator of the product reviews. A publisher may use a reviews aggregator to manage reviews and provide the feeds. This element indicates the use of an aggregator and contains information about the aggregator.",
          "type": "string"
        },
        "rating": {
          "type": "number",
          "description": "Optional. The reviewer's overall rating of the product.",
          "format": "double"
        },
        "pros": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Contains the advantages based on the opinion of the reviewer. Omit boilerplate text like \"pro:\" unless it was written by the reviewer."
        },
        "content": {
          "description": "Optional. The content of the review. If empty, the content might still get populated from pros and cons.",
          "type": "string"
        },
        "asins": {
          "type": "array",
          "description": "Optional. Contains ASINs (Amazon Standard Identification Numbers) associated with a product.",
          "items": {
            "type": "string"
          }
        },
        "productNames": {
          "description": "Optional. Descriptive name of a product.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "transactionId": {
          "type": "string",
          "description": "Optional. A permanent, unique identifier for the transaction associated with the review in the publisher's system. This ID can be used to indicate that multiple reviews are associated with the same transaction."
        },
        "minRating": {
          "format": "int64",
          "description": "Optional. Contains the ratings associated with the review. The minimum possible number for the rating. This should be the worst possible rating and should not be a value for no rating.",
          "type": "string"
        },
        "reviewerImageLinks": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A URI to an image of the reviewed product created by the review author. The URI does not have to end with an image file extension."
        },
        "isVerifiedPurchase": {
          "description": "Optional. Indicates whether the reviewer's purchase is verified.",
          "type": "boolean"
        }
      }
    }
  },
  "resources": {
    "accounts": {
      "resources": {
        "merchantReviews": {
          "methods": {
            "insert": {
              "response": {
                "$ref": "MerchantReview"
              },
              "id": "merchantapi.accounts.merchantReviews.insert",
              "path": "reviews/v1beta/{+parent}/merchantReviews:insert",
              "httpMethod": "POST",
              "description": "Inserts a review for your Merchant Center account. If the review already exists, then the review is replaced with the new instance.",
              "request": {
                "$ref": "MerchantReview"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The account where the merchant review will be inserted. Format: accounts/{account}",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "dataSource": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. The data source of the [merchantreview](https://support.google.com/merchants/answer/7045996?sjid=5253581244217581976-EU) Format: `accounts/{account}/dataSources/{datasource}`."
                }
              },
              "flatPath": "reviews/v1beta/accounts/{accountsId}/merchantReviews:insert"
            },
            "delete": {
              "path": "reviews/v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The ID of the merchant review. Format: accounts/{account}/merchantReviews/{merchantReview}",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/merchantReviews/[^/]+$"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "DELETE",
              "id": "merchantapi.accounts.merchantReviews.delete",
              "flatPath": "reviews/v1beta/accounts/{accountsId}/merchantReviews/{merchantReviewsId}",
              "description": "Deletes merchant review."
            },
            "list": {
              "flatPath": "reviews/v1beta/accounts/{accountsId}/merchantReviews",
              "path": "reviews/v1beta/{+parent}/merchantReviews",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListMerchantReviews` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListMerchantReviews` must match the call that provided the page token."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of merchant reviews to return. The service can return fewer than this value. The maximum value is 1000; values above 1000 are coerced to 1000. If unspecified, the maximum number of reviews is returned.",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "description": "Required. The account to list merchant reviews for. Format: accounts/{account}",
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Lists merchant reviews.",
              "id": "merchantapi.accounts.merchantReviews.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListMerchantReviewsResponse"
              }
            },
            "get": {
              "id": "merchantapi.accounts.merchantReviews.get",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "MerchantReview"
              },
              "path": "reviews/v1beta/{+name}",
              "flatPath": "reviews/v1beta/accounts/{accountsId}/merchantReviews/{merchantReviewsId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/merchantReviews/[^/]+$",
                  "description": "Required. The ID of the merchant review. Format: accounts/{account}/merchantReviews/{merchantReview}",
                  "required": true
                }
              },
              "description": "Gets a merchant review."
            }
          }
        },
        "productReviews": {
          "methods": {
            "insert": {
              "flatPath": "reviews/v1beta/accounts/{accountsId}/productReviews:insert",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "ProductReview"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "reviews/v1beta/{+parent}/productReviews:insert",
              "parameters": {
                "dataSource": {
                  "type": "string",
                  "description": "Required. Format: `accounts/{account}/dataSources/{datasource}`.",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account where the product review will be inserted. Format: accounts/{account}",
                  "location": "path"
                }
              },
              "id": "merchantapi.accounts.productReviews.insert",
              "description": "Inserts a product review.",
              "response": {
                "$ref": "ProductReview"
              }
            },
            "delete": {
              "id": "merchantapi.accounts.productReviews.delete",
              "flatPath": "reviews/v1beta/accounts/{accountsId}/productReviews/{productReviewsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+/productReviews/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the Product review. Format: accounts/{account}/productReviews/{productReview}"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Deletes a product review.",
              "path": "reviews/v1beta/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListProductReviewsResponse"
              },
              "path": "reviews/v1beta/{+parent}/productReviews",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "reviews/v1beta/accounts/{accountsId}/productReviews",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.productReviews.list",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account to list product reviews for. Format: accounts/{account}",
                  "location": "path"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of products to return. The service may return fewer than this value.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListProductReviews` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProductReviews` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Lists product reviews."
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The ID of the merchant review. Format: accounts/{account}/productReviews/{productReview}",
                  "pattern": "^accounts/[^/]+/productReviews/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "ProductReview"
              },
              "path": "reviews/v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Gets a product review.",
              "flatPath": "reviews/v1beta/accounts/{accountsId}/productReviews/{productReviewsId}",
              "httpMethod": "GET",
              "id": "merchantapi.accounts.productReviews.get"
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/merchant/api",
  "version_module": true,
  "rootUrl": "https://merchantapi.googleapis.com/",
  "version": "reviews_v1beta",
  "protocol": "rest",
  "title": "Merchant API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20261006"
}