{
  "documentationLink": "https://developers.google.com/merchant/api",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260910",
  "description": "Programmatically manage your Merchant Center Accounts.",
  "resources": {
    "accounts": {
      "resources": {
        "conversionSources": {
          "methods": {
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Optional. List of fields being updated."
                },
                "name": {
                  "pattern": "^accounts/[^/]+/conversionSources/[^/]+$",
                  "required": true,
                  "description": "Output only. Identifier. Generated by the Content API upon creation of a new `ConversionSource`. Format: `[a-z]{4}:.+` The four characters before the colon represent the type of conversion source. Content after the colon represents the ID of the conversion source within that type. The ID of two different conversion sources might be the same across different types. The following type prefixes are supported: * `galk`: For GoogleAnalyticsLink sources. * `mcdn`: For MerchantCenterDestination sources.",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "merchantapi.accounts.conversionSources.patch",
              "response": {
                "$ref": "ConversionSource"
              },
              "path": "conversions/v1beta/{+name}",
              "request": {
                "$ref": "ConversionSource"
              },
              "description": "Updates information of an existing conversion source. Available only for Merchant Center Destination conversion sources.",
              "flatPath": "conversions/v1beta/accounts/{accountsId}/conversionSources/{conversionSourcesId}",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "create": {
              "response": {
                "$ref": "ConversionSource"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "ConversionSource"
              },
              "path": "conversions/v1beta/{+parent}/conversionSources",
              "id": "merchantapi.accounts.conversionSources.create",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "description": "Required. The merchant account that will own the new conversion source. Format: `accounts/{account}`"
                }
              },
              "flatPath": "conversions/v1beta/accounts/{accountsId}/conversionSources",
              "description": "Creates a new conversion source."
            },
            "undelete": {
              "httpMethod": "POST",
              "path": "conversions/v1beta/{+name}:undelete",
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.conversionSources.undelete",
              "response": {
                "$ref": "ConversionSource"
              },
              "description": "Re-enables an archived conversion source. Only Available for Merchant Center Destination conversion sources.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "conversions/v1beta/accounts/{accountsId}/conversionSources/{conversionSourcesId}:undelete",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/conversionSources/[^/]+$",
                  "description": "Required. The name of the conversion source to be undeleted. Format: `accounts/{account}/conversionSources/{conversion_source}`",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "UndeleteConversionSourceRequest"
              }
            },
            "list": {
              "response": {
                "$ref": "ListConversionSourcesResponse"
              },
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of conversion sources to return in a page. If no `page_size` is specified, `100` is used as the default value. The maximum value is `200`. Values above `200` will be coerced to `200`. Regardless of pagination, at most `200` conversion sources are returned in total.",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. Page token.",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The merchant account who owns the collection of conversion sources. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string"
                },
                "showDeleted": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Optional. Show deleted (archived) conversion sources. By default, deleted conversion sources are not returned."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "conversions/v1beta/{+parent}/conversionSources",
              "flatPath": "conversions/v1beta/accounts/{accountsId}/conversionSources",
              "httpMethod": "GET",
              "description": "Retrieves the list of conversion sources the caller has access to.",
              "id": "merchantapi.accounts.conversionSources.list",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the conversion source to be fetched. Format: `accounts/{account}/conversionSources/{conversion_source}`",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/conversionSources/[^/]+$"
                }
              },
              "response": {
                "$ref": "ConversionSource"
              },
              "id": "merchantapi.accounts.conversionSources.get",
              "description": "Fetches a conversion source.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET",
              "path": "conversions/v1beta/{+name}",
              "flatPath": "conversions/v1beta/accounts/{accountsId}/conversionSources/{conversionSourcesId}"
            },
            "delete": {
              "description": "Archives an existing conversion source. If the conversion source is a Merchant Center Destination, it will be recoverable for 30 days. If the conversion source is a Google Analytics Link, it will be deleted immediately and can be restored by creating a new one.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "conversions/v1beta/accounts/{accountsId}/conversionSources/{conversionSourcesId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.conversionSources.delete",
              "httpMethod": "DELETE",
              "path": "conversions/v1beta/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+/conversionSources/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the conversion source to be deleted. Format: `accounts/{account}/conversionSources/{conversion_source}`",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Empty"
              }
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "baseUrl": "https://merchantapi.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "schemas": {
    "MerchantCenterDestination": {
      "id": "MerchantCenterDestination",
      "type": "object",
      "properties": {
        "destination": {
          "description": "Output only. Merchant Center Destination ID.",
          "readOnly": true,
          "type": "string"
        },
        "currencyCode": {
          "description": "Required. Three-letter currency code (ISO 4217). The currency code defines in which currency the conversions sent to this destination will be reported in Merchant Center.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Merchant-specified display name for the destination. This is the name that identifies the conversion source within the Merchant Center UI. The maximum length is 64 characters.",
          "type": "string"
        },
        "attributionSettings": {
          "description": "Required. Attribution settings used for the Merchant Center Destination.",
          "$ref": "AttributionSettings"
        }
      },
      "description": "\"Merchant Center Destination\" sources can be used to send conversion events from an online store using a Google tag directly to a Merchant Center account where the source is created."
    },
    "ProductChange": {
      "id": "ProductChange",
      "description": "The change that happened to the product including old value, new value, country code as the region code and reporting context.",
      "properties": {
        "reportingContext": {
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT",
            "RENTAL_ADS"
          ],
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout .",
            "Real Estate Rental Ads. ."
          ],
          "description": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string"
        },
        "oldValue": {
          "description": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)",
          "type": "string"
        },
        "newValue": {
          "type": "string",
          "description": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
        },
        "regionCode": {
          "type": "string",
          "description": "Countries that have the change (if applicable). Represented in the ISO 3166 format."
        }
      },
      "type": "object"
    },
    "ConversionType": {
      "description": "Message representing the type of a conversion event.",
      "type": "object",
      "properties": {
        "report": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Option indicating if the type should be included in Merchant Center reporting."
        },
        "name": {
          "description": "Output only. Conversion event name, as it'll be reported by the client.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ConversionType"
    },
    "ListConversionSourcesResponse": {
      "type": "object",
      "description": "Response message for the ListConversionSources method.",
      "properties": {
        "nextPageToken": {
          "description": "Token to be used to fetch the next results page.",
          "type": "string"
        },
        "conversionSources": {
          "items": {
            "$ref": "ConversionSource"
          },
          "description": "List of conversion sources.",
          "type": "array"
        }
      },
      "id": "ListConversionSourcesResponse"
    },
    "ConversionSource": {
      "properties": {
        "controller": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Controller of the conversion source.",
          "enum": [
            "CONTROLLER_UNSPECIFIED",
            "MERCHANT",
            "YOUTUBE_AFFILIATES"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Controlled by the Merchant who owns the Conversion Source.",
            "Controlled by the Youtube Affiliates program."
          ]
        },
        "name": {
          "description": "Output only. Identifier. Generated by the Content API upon creation of a new `ConversionSource`. Format: `[a-z]{4}:.+` The four characters before the colon represent the type of conversion source. Content after the colon represents the ID of the conversion source within that type. The ID of two different conversion sources might be the same across different types. The following type prefixes are supported: * `galk`: For GoogleAnalyticsLink sources. * `mcdn`: For MerchantCenterDestination sources.",
          "readOnly": true,
          "type": "string"
        },
        "merchantCenterDestination": {
          "description": "Conversion Source of type \"Merchant Center Tag Destination\".",
          "$ref": "MerchantCenterDestination"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Current state of this conversion source. Can't be edited through the API.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ARCHIVED",
            "PENDING"
          ],
          "enumDescriptions": [
            "Conversion source has unspecified state.",
            "Conversion source is fully functional.",
            "Conversion source has been archived in the last 30 days and is currently not functional. Can be restored using the undelete method.",
            "Conversion source creation has started but not fully finished yet."
          ]
        },
        "googleAnalyticsLink": {
          "$ref": "GoogleAnalyticsLink",
          "description": "Immutable. Conversion Source of type \"Link to Google Analytics Property\"."
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Output only. The time when an archived conversion source becomes permanently deleted and is no longer available to undelete.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "ConversionSource",
      "description": "Represents a conversion source owned by a Merchant account. A merchant account can have up to 200 conversion sources.",
      "type": "object"
    },
    "UndeleteConversionSourceRequest": {
      "id": "UndeleteConversionSourceRequest",
      "description": "Request message for the UndeleteConversionSource method.",
      "properties": {},
      "type": "object"
    },
    "GoogleAnalyticsLink": {
      "properties": {
        "property": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the Google Analytics property the merchant is linked to."
        },
        "attributionSettings": {
          "readOnly": true,
          "description": "Output only. Attribution settings for the linked Google Analytics property.",
          "$ref": "AttributionSettings"
        },
        "propertyId": {
          "description": "Required. Immutable. ID of the Google Analytics property the merchant is linked to.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleAnalyticsLink",
      "type": "object",
      "description": "\"Google Analytics Link\" sources can be used to get conversion data from an existing Google Analytics property into the linked Merchant Center account."
    },
    "AttributionSettings": {
      "description": "Represents attribution settings for conversion sources receiving pre-attribution data.",
      "properties": {
        "attributionModel": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified model.",
            "Cross-channel Last Click model.",
            "Ads-preferred Last Click model.",
            "Cross-channel Data Driven model.",
            "Cross-channel First Click model.",
            "Cross-channel Linear model.",
            "Cross-channel Position Based model.",
            "Cross-channel Time Decay model."
          ],
          "enum": [
            "ATTRIBUTION_MODEL_UNSPECIFIED",
            "CROSS_CHANNEL_LAST_CLICK",
            "ADS_PREFERRED_LAST_CLICK",
            "CROSS_CHANNEL_DATA_DRIVEN",
            "CROSS_CHANNEL_FIRST_CLICK",
            "CROSS_CHANNEL_LINEAR",
            "CROSS_CHANNEL_POSITION_BASED",
            "CROSS_CHANNEL_TIME_DECAY"
          ],
          "description": "Required. Attribution model."
        },
        "conversionType": {
          "type": "array",
          "description": "Immutable. Unordered list. List of different conversion types a conversion event can be classified as. A standard \"purchase\" type will be automatically created if this list is empty at creation time.",
          "items": {
            "$ref": "ConversionType"
          }
        },
        "attributionLookbackWindowDays": {
          "type": "integer",
          "description": "Required. Lookback window (in days) used for attribution in this source. Supported values are `7`, `30` & `40`.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "AttributionSettings"
    },
    "ProductStatusChangeMessage": {
      "description": "The message that the merchant will receive to notify about product status change event",
      "type": "object",
      "properties": {
        "attribute": {
          "enumDescriptions": [
            "Unspecified attribute",
            "Status of the changed entity"
          ],
          "enum": [
            "ATTRIBUTE_UNSPECIFIED",
            "STATUS"
          ],
          "type": "string",
          "description": "The attribute in the resource that changed, in this case it will be always `Status`."
        },
        "managingAccount": {
          "description": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`",
          "type": "string"
        },
        "resourceId": {
          "description": "The product id.",
          "type": "string"
        },
        "resourceType": {
          "type": "string",
          "description": "The resource that changed, in this case it will always be `Product`.",
          "enumDescriptions": [
            "Unspecified resource",
            "Resource type : product",
            "Account service"
          ],
          "enum": [
            "RESOURCE_UNSPECIFIED",
            "PRODUCT",
            "ACCOUNT_SERVICE"
          ]
        },
        "resource": {
          "description": "The product name. Format: `accounts/{account}/products/{product}`",
          "type": "string"
        },
        "changes": {
          "items": {
            "$ref": "ProductChange"
          },
          "description": "A message to describe the change that happened to the product",
          "type": "array"
        },
        "account": {
          "description": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`",
          "type": "string"
        },
        "expirationTime": {
          "format": "google-datetime",
          "description": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event.",
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications."
        }
      },
      "id": "ProductStatusChangeMessage"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    }
  },
  "name": "merchantapi",
  "id": "merchantapi:conversions_v1beta",
  "title": "Merchant API",
  "servicePath": "",
  "version_module": true,
  "protocol": "rest",
  "ownerName": "Google",
  "batchPath": "batch",
  "mtlsRootUrl": "https://merchantapi.mtls.googleapis.com/",
  "version": "conversions_v1beta",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Merchant",
  "rootUrl": "https://merchantapi.googleapis.com/",
  "kind": "discovery#restDescription"
}