{
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    }
  },
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/merchant/api",
  "name": "merchantapi",
  "rootUrl": "https://merchantapi.googleapis.com/",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "canonicalName": "Merchant",
  "id": "merchantapi:accounts_v1",
  "ownerName": "Google",
  "schemas": {
    "CutoffConfig": {
      "type": "object",
      "properties": {
        "localCutoffTime": {
          "description": "Time that local delivery ends for the day.",
          "$ref": "LocalCutoffTime"
        },
        "noDeliveryPostCutoff": {
          "description": "Businesses can opt-out of showing n+1 day local delivery when they have a shipping service configured to n day local delivery. For example, if the shipping service defines same-day delivery, and it's past the cut-off, setting this field to `true` results in the calculated shipping service rate returning `NO_DELIVERY_POST_CUTOFF`. In the same example, setting this field to `false` results in the calculated shipping time being one day. This is only for local delivery.",
          "type": "boolean"
        },
        "storeCloseOffsetHours": {
          "format": "int64",
          "type": "string",
          "description": "Only valid with local delivery fulfillment. Represents cutoff time as the number of hours before store closing. Mutually exclusive with `local_cutoff_time`."
        }
      },
      "id": "CutoffConfig",
      "description": "Configs related to local delivery ends for the day."
    },
    "VerifySelfRequest": {
      "description": "Request message for the `VerifySelf` method.",
      "properties": {},
      "id": "VerifySelfRequest",
      "type": "object"
    },
    "LinkGbpAccountRequest": {
      "properties": {
        "gbpEmail": {
          "type": "string",
          "description": "Required. The email address of the Business Profile account."
        }
      },
      "id": "LinkGbpAccountRequest",
      "type": "object",
      "description": "Request message for the LinkGbpAccount method."
    },
    "PostalCodeArea": {
      "description": "A list of postal codes that defines the region area. Note: All regions defined using postal codes are accessible through the account's `ShippingSettings.postalCodeGroups` resource.",
      "id": "PostalCodeArea",
      "properties": {
        "regionCode": {
          "description": "Required. [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) or the country the postal code group applies to.",
          "type": "string"
        },
        "postalCodes": {
          "type": "array",
          "items": {
            "$ref": "PostalCodeRange"
          },
          "description": "Required. A range of postal codes."
        }
      },
      "type": "object"
    },
    "ClaimHomepageRequest": {
      "description": "Request message for the `ClaimHomepage` method.",
      "id": "ClaimHomepageRequest",
      "properties": {
        "overwrite": {
          "description": "Optional. When set to `true`, this option removes any existing claim on the requested website from any other account to the account making the request, effectively replacing the previous claim.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "RegisterGcpRequest": {
      "description": "Request message for the RegisterGCP method.",
      "type": "object",
      "id": "RegisterGcpRequest",
      "properties": {
        "developerEmail": {
          "type": "string",
          "description": "Immutable. Optional field. Developer role can be also added by using `users.update` method. If the developer email provided is associated with a user in the provided merchant account, the user will be updated to have `API_DEVELOPER` `access_rights` and the email preference corresponding to that user will be updated to have the new API notifications preference. If the developer email provided is not associated with any user, it is added as a contact. The email preference corresponding to that contact will have the new API notifications preference. Make sure the email used is associated with a Google Account and is not a service account as service accounts can't receive emails."
        }
      }
    },
    "ProposeAccountServiceRequest": {
      "id": "ProposeAccountServiceRequest",
      "type": "object",
      "properties": {
        "accountService": {
          "$ref": "AccountService",
          "description": "Required. The account service to propose."
        },
        "provider": {
          "description": "Required. The provider of the service. Either the reference to an account such as `providers/123` or a well-known service provider (one of `providers/GOOGLE_ADS` or `providers/GOOGLE_BUSINESS_PROFILE`).",
          "type": "string"
        }
      },
      "description": "Request to propose an account service."
    },
    "TransitTable": {
      "description": "Transit time table, number of business days spent in transit based on row and column dimensions. Either `min_transit_days`, `max_transit_days` or `transit_time_table` can be set, but not both.",
      "properties": {
        "rows": {
          "description": "Required. If there's only one dimension set of `postal_code_group_names` or `transit_time_labels`, there are multiple rows each with one value for that dimension. If there are two dimensions, each row corresponds to a `postal_code_group_names`, and columns (values) to a `transit_time_labels`.",
          "items": {
            "$ref": "TransitTimeRow"
          },
          "type": "array"
        },
        "postalCodeGroupNames": {
          "items": {
            "type": "string"
          },
          "description": "Required. A list of region names Region.name . The last value can be `\"all other locations\"`. Example: `[\"zone 1\", \"zone 2\", \"all other locations\"]`. The referred postal code groups must match the delivery country of the service.",
          "type": "array"
        },
        "transitTimeLabels": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A list of transit time labels. The last value can be `\"all other labels\"`. Example: `[\"food\", \"electronics\", \"all other labels\"]`."
        }
      },
      "id": "TransitTable",
      "type": "object"
    },
    "StoreCodeSetWithMov": {
      "description": "A list of store code sets sharing the same minimum order value. At least two sets are required and the last one must be empty, which signifies 'MOV for all other stores'. Each store code can only appear once across all the sets. All prices within a service must have the same currency.",
      "properties": {
        "storeCodes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of unique store codes or empty for the catch all.",
          "type": "array"
        },
        "value": {
          "description": "The minimum order value for the given stores.",
          "$ref": "Price"
        }
      },
      "id": "StoreCodeSetWithMov",
      "type": "object"
    },
    "ListGbpAccountsResponse": {
      "description": "Response message for the ListGbpAccounts method.",
      "type": "object",
      "properties": {
        "gbpAccounts": {
          "type": "array",
          "description": "The GBP accounts from the specified merchant in the specified country.",
          "items": {
            "$ref": "GbpAccount"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListGbpAccountsResponse"
    },
    "Program": {
      "properties": {
        "activeRegionCodes": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The regions in which the account is actively participating in the program. Active regions are defined as those where all program requirements affecting the regions have been met. Region codes are defined by [CLDR](https://cldr.unicode.org/). This is either a country where the program applies specifically to that country or `001` when the program applies globally."
        },
        "unmetRequirements": {
          "items": {
            "$ref": "Requirement"
          },
          "type": "array",
          "description": "Output only. The requirements that the account has not yet satisfied that are affecting participation in the program.",
          "readOnly": true
        },
        "documentationUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URL of a Merchant Center help page describing the program."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the program. Format: `accounts/{account}/programs/{program}`"
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The account is not eligible to participate in the program.",
            "The account is eligible to participate in the program.",
            "The program is enabled for the account."
          ],
          "description": "Output only. The participation state of the account in the program.",
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_ELIGIBLE",
            "ELIGIBLE",
            "ENABLED"
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Defines participation in a given program for the specified account. Programs provide a mechanism for adding functionality to a Merchant Center accounts. A typical example of this is the [Free product listings](https://support.google.com/merchants/answer/13889434) program, which enables products from a business's store to be shown across Google for free. The following list is the available set of program resource IDs accessible through the API: * `checkout` * `free-listings` * `product-ratings` * `shopping-ads` * `ucp-integration` (limited access) * `youtube-affiliate` * `youtube-shopping-checkout`",
      "type": "object",
      "id": "Program"
    },
    "Headers": {
      "type": "object",
      "properties": {
        "prices": {
          "description": "Required. A list of inclusive order price upper bounds. The last price's value can be infinity by setting price amount_micros = -1. For example `[{\"amount_micros\": 10000000, \"currency_code\": \"USD\"}, {\"amount_micros\": 500000000, \"currency_code\": \"USD\"}, {\"amount_micros\": -1, \"currency_code\": \"USD\"}]` represents the headers \"<= $10\", \"<= $500\", and \"> $500\". All prices within a service must have the same currency. Must be non-empty. Must be positive except -1. Can only be set if all other fields are not set.",
          "type": "array",
          "items": {
            "$ref": "Price"
          }
        },
        "locations": {
          "type": "array",
          "description": "Required. A list of location ID sets. Must be non-empty. Can only be set if all other fields are not set.",
          "items": {
            "$ref": "LocationIdSet"
          }
        },
        "weights": {
          "items": {
            "$ref": "Weight"
          },
          "type": "array",
          "description": "Required. A list of inclusive order weight upper bounds. The last weight's value can be infinity by setting price amount_micros = -1. For example `[{\"amount_micros\": 10000000, \"unit\": \"kg\"}, {\"amount_micros\": 50000000, \"unit\": \"kg\"}, {\"amount_micros\": -1, \"unit\": \"kg\"}]` represents the headers \"<= 10kg\", \"<= 50kg\", and \"> 50kg\". All weights within a service must have the same unit. Must be non-empty. Must be positive except -1. Can only be set if all other fields are not set."
        },
        "postalCodeGroupNames": {
          "description": "Required. A list of postal group names. The last value can be `\"all other locations\"`. Example: `[\"zone 1\", \"zone 2\", \"all other locations\"]`. The referred postal code groups must match the delivery country of the service. Must be non-empty. Can only be set if all other fields are not set.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "numberOfItems": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A list of inclusive number of items upper bounds. The last value can be `\"infinity\"`. For example `[\"10\", \"50\", \"infinity\"]` represents the headers \"<= 10 items\", \"<= 50 items\", and \"> 50 items\". Must be non-empty. Can only be set if all other fields are not set."
        }
      },
      "description": "A non-empty list of row or column headers for a table. Exactly one of `prices`, `weights`, `num_items`, `postal_code_group_names`, or `location` must be set.",
      "id": "Headers"
    },
    "CustomerService": {
      "type": "object",
      "description": "Customer service information.",
      "id": "CustomerService",
      "properties": {
        "email": {
          "description": "Optional. The email address where customer service may be reached.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Optional. The URI where customer service may be found."
        },
        "phone": {
          "description": "Optional. The phone number where customer service may be called.",
          "$ref": "PhoneNumber"
        }
      }
    },
    "SeasonalOverride": {
      "properties": {
        "returnDays": {
          "type": "integer",
          "format": "int32",
          "description": "Number of days (from the delivery date) that the product can be returned."
        },
        "endDate": {
          "description": "Required. seasonal override end date (inclusive).",
          "$ref": "Date"
        },
        "returnUntilDate": {
          "$ref": "Date",
          "description": "Fixed end date until which the product can be returned."
        },
        "startDate": {
          "description": "Required. Defines the date range when this seasonal override applies. Both start_date and end_date are inclusive. The dates of the seasonal overrides should not overlap.",
          "$ref": "Date"
        },
        "label": {
          "description": "Required. Display name of this seasonal override in Merchant Center.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SeasonalOverride"
    },
    "ShippingSettings": {
      "description": "The Merchant Center account's [shipping settings](https://support.google.com/merchants/answer/6069284). The `ShippingSettings` resource lets you retrieve and update the shipping settings of your advanced account and all its associated sub-accounts.",
      "id": "ShippingSettings",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Required. This field helps avoid async issues. It ensures that the shipping setting data doesn't change between the `get` call and the `insert` call. The user should follow these steps: 1. Set the etag field as an empty string for the initial shipping setting creation. 2. After the initial creation, call the `get` method to obtain an etag and the current shipping setting data before calling `insert`. 3. Modify the shipping setting information. 4. Call the `insert` method with the shipping setting information and the etag obtained in step 2. 5. If the shipping setting data changes between step 2 and step 4, the insert request will fail because the etag changes every time the shipping setting data changes. In this case, the user should repeat steps 2-4 with the new etag."
        },
        "name": {
          "description": "Identifier. The resource name of the shipping settings. Format: `accounts/{account}/shippingSettings`. For example, `accounts/123456/shippingSettings`.",
          "type": "string"
        },
        "warehouses": {
          "items": {
            "$ref": "Warehouse"
          },
          "type": "array",
          "description": "Optional. A list of warehouses which can be referred to in `services`."
        },
        "services": {
          "type": "array",
          "description": "Optional. The target account's list of services.",
          "items": {
            "$ref": "Service"
          }
        }
      },
      "type": "object"
    },
    "ListProgramsResponse": {
      "properties": {
        "programs": {
          "type": "array",
          "description": "The programs for the given account.",
          "items": {
            "$ref": "Program"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListProgramsResponse",
      "description": "Response message for the ListPrograms method."
    },
    "UnclaimHomepageRequest": {
      "id": "UnclaimHomepageRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for the `UnclaimHomepage` method."
    },
    "TermsOfService": {
      "type": "object",
      "id": "TermsOfService",
      "description": "The `TermsOfService` message represents a specific version of the terms of service that merchants must accept to access certain features or services. For more information, see [Terms of Service](https://support.google.com/merchants/answer/160173). This message is important for the onboarding process, ensuring that merchants agree to the necessary legal agreements for using the service. Merchants can retrieve the latest terms of service for a given `kind` and `region` through `RetrieveLatestTermsOfService`, and accept them as required through `AcceptTermsOfService`.",
      "properties": {
        "external": {
          "type": "boolean",
          "description": "Whether this terms of service version is external. External terms of service versions can only be agreed through external processes and not directly by the merchant through UI or API."
        },
        "kind": {
          "enum": [
            "TERMS_OF_SERVICE_KIND_UNSPECIFIED",
            "MERCHANT_CENTER"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Terms of Service for the Merchant Center application."
          ],
          "type": "string",
          "description": "The Kind this terms of service version applies to."
        },
        "fileUri": {
          "type": "string",
          "description": "URI for terms of service file that needs to be displayed to signing users."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the terms of service version. Format: `termsOfService/{version}`"
        },
        "regionCode": {
          "description": "Region code as defined by [CLDR](https://cldr.unicode.org/). This is either a country where the ToS applies specifically to that country or `001` when the same `TermsOfService` can be signed in any country. However note that when signing a ToS that applies globally we still expect that a specific country is provided (this should be merchant business country or program country of participation).",
          "type": "string"
        }
      }
    },
    "DeveloperRegistration": {
      "description": "Represents a developer registration owned by a Merchant account.",
      "type": "object",
      "id": "DeveloperRegistration",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The `name` (ID) of the developer registration. Generated upon creation of a new `DeveloperRegistration`. The `account` represents the merchant ID of the merchant that owns the registration."
        },
        "gcpIds": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The GCP ids attached to this developer registration"
        }
      }
    },
    "ListAccountsResponse": {
      "id": "ListAccountsResponse",
      "description": "Response message for the `accounts.list` method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "accounts": {
          "items": {
            "$ref": "Account"
          },
          "description": "The accounts matching the `ListAccountsRequest`.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "OmnichannelSetting": {
      "properties": {
        "about": {
          "description": "Optional. The about page URI and state for this country.",
          "$ref": "About"
        },
        "lfpLink": {
          "description": "Output only. The established link to a LFP provider.",
          "readOnly": true,
          "$ref": "LfpLink"
        },
        "inventoryVerification": {
          "$ref": "InventoryVerification",
          "description": "Optional. The inventory verification contact and state for this country."
        },
        "regionCode": {
          "type": "string",
          "description": "Required. Immutable. Region code defined by [CLDR](https://cldr.unicode.org/). Must be provided in the Create method, and is immutable."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the omnichannel setting. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`"
        },
        "pickup": {
          "description": "Optional. The Pickup URI and state for this country.",
          "$ref": "Pickup"
        },
        "inStock": {
          "$ref": "InStock",
          "description": "Optional. The InStock URI and state for this country."
        },
        "lsfType": {
          "enum": [
            "LSF_TYPE_UNSPECIFIED",
            "GHLSF",
            "MHLSF_BASIC",
            "MHLSF_FULL"
          ],
          "type": "string",
          "description": "Required. The Local Store Front type for this country.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Google-Hosted Local Store Front. Check the [HC article](https://support.google.com/merchants/answer/14869424) for more details.",
            "Merchant-Hosted Local Store Front Basic. Check the [HC article](https://support.google.com/merchants/answer/14615867) for more details.",
            "Merchant-Hosted Local Store Front Full. Check the [HC article](https://support.google.com/merchants/answer/14617076) for more details."
          ]
        },
        "odo": {
          "description": "Optional. The On Display to Order (ODO) policy URI and state for this country.",
          "$ref": "OnDisplayToOrder"
        }
      },
      "id": "OmnichannelSetting",
      "type": "object",
      "description": "Collection of information related to the omnichannel settings of a merchant."
    },
    "LinkLfpProviderResponse": {
      "type": "object",
      "properties": {
        "response": {
          "description": "Empty response.",
          "$ref": "Empty"
        }
      },
      "id": "LinkLfpProviderResponse",
      "description": "Response message for the LinkLfpProvider method."
    },
    "Impact": {
      "id": "Impact",
      "properties": {
        "severity": {
          "description": "The severity of the issue on the destination and region.",
          "enumDescriptions": [
            "The severity is unknown.",
            "The issue causes offers to not serve.",
            "The issue might affect offers (in the future) or might be an indicator of issues with offers.",
            "The issue is a suggestion for improvement."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "ERROR",
            "SUGGESTION"
          ],
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "The [CLDR region code](https://cldr.unicode.org/) where this issue applies."
        }
      },
      "type": "object",
      "description": "The impact of the issue on a region."
    },
    "Price": {
      "id": "Price",
      "properties": {
        "amountMicros": {
          "format": "int64",
          "type": "string",
          "description": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros)."
        },
        "currencyCode": {
          "description": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The price represented as a number and currency."
    },
    "AccountIssue": {
      "description": "Issues with your Merchant Center account that can impact all your products. For more information, see [Account-level issues in Merchant Center](https://support.google.com/merchants/answer/12153802?sjid=17798438912526418908-EU#account).",
      "id": "AccountIssue",
      "properties": {
        "documentationUri": {
          "type": "string",
          "description": "Link to Merchant Center Help Center providing further information about the issue and how to fix it."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the account issue. Format: `accounts/{account}/issues/{id}`. For example, `accounts/123456/issues/misrepresentation-of-self-or-products-unacceptable-business-practice-policy`."
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "ERROR",
            "SUGGESTION"
          ],
          "type": "string",
          "description": "The overall severity of the issue.",
          "enumDescriptions": [
            "The severity is unknown.",
            "The issue causes offers to not serve.",
            "The issue might affect offers (in the future) or might be an indicator of issues with offers.",
            "The issue is a suggestion for improvement."
          ]
        },
        "title": {
          "description": "The localized title of the issue.",
          "type": "string"
        },
        "impactedDestinations": {
          "type": "array",
          "description": "The impact this issue has on various destinations.",
          "items": {
            "$ref": "ImpactedDestination"
          }
        },
        "detail": {
          "type": "string",
          "description": "Further localized details about the issue."
        }
      },
      "type": "object"
    },
    "EmailPreferences": {
      "properties": {
        "newsAndTips": {
          "type": "string",
          "description": "Optional. Updates on new features, tips and best practices.",
          "enum": [
            "OPT_IN_STATE_UNSPECIFIED",
            "OPTED_OUT",
            "OPTED_IN",
            "UNCONFIRMED"
          ],
          "enumDescriptions": [
            "Opt-in status is not specified.",
            "User has opted out of receiving this type of email.",
            "User has opted in to receiving this type of email.",
            "User has opted in to receiving this type of email and the confirmation email has been sent, but user has not yet confirmed the opt in (applies only to certain countries)."
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the EmailPreferences. The endpoint is only supported for the authenticated user."
        }
      },
      "type": "object",
      "description": "The categories of notifications the user opted into / opted out of. The email preferences do not include mandatory announcements as users can't opt out of them.",
      "id": "EmailPreferences"
    },
    "RejectAccountServiceRequest": {
      "id": "RejectAccountServiceRequest",
      "properties": {},
      "description": "Request to reject an account service.",
      "type": "object"
    },
    "AutomaticItemUpdates": {
      "properties": {
        "effectiveAllowStrictAvailabilityUpdates": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The effective value of allow_strict_availability_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only."
        },
        "effectiveAllowConditionUpdates": {
          "type": "boolean",
          "description": "Output only. The effective value of allow_condition_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only.",
          "readOnly": true
        },
        "effectiveAllowPriceUpdates": {
          "description": "Output only. The effective value of allow_price_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only.",
          "readOnly": true,
          "type": "boolean"
        },
        "accountItemUpdatesSettings": {
          "$ref": "ItemUpdatesAccountLevelSettings",
          "description": "Optional. Determines which attributes of the items should be automatically updated. If this field is not present and provided in the update mask, then the settings will be deleted. If there are no settings for subaccount, they are inherited from aggregator."
        },
        "effectiveAllowAvailabilityUpdates": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. The effective value of allow_availability_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only."
        }
      },
      "type": "object",
      "id": "AutomaticItemUpdates",
      "description": "Turning on [item updates](https://support.google.com/merchants/answer/3246284) allows Google to automatically update items for you. When item updates are on, Google uses the structured data markup on the website and advanced data extractors to update the price and availability of the items. When the item updates are off, items with mismatched data aren't shown."
    },
    "AutofeedSettings": {
      "description": "Collection of information related to the [autofeed](https://support.google.com/merchants/answer/7538732) settings.",
      "id": "AutofeedSettings",
      "properties": {
        "eligible": {
          "description": "Output only. Determines whether the business is eligible for being enrolled into an autofeed.",
          "type": "boolean",
          "readOnly": true
        },
        "enableProducts": {
          "description": "Required. Enables or disables product crawling through the autofeed for the given account. Autofeed accounts must meet [certain conditions](https://support.google.com/merchants/answer/7538732#Configure_automated_feeds_Standard_Experience), which can be checked through the `eligible` field. The account must **not** be a marketplace. When the autofeed is enabled for the first time, the products usually appear instantly. When re-enabling, it might take up to 24 hours for products to appear.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the autofeed settings. Format: `accounts/{account}/autofeedSettings`."
        }
      },
      "type": "object"
    },
    "AccountService": {
      "type": "object",
      "properties": {
        "localListingManagement": {
          "$ref": "LocalListingManagement",
          "description": "Service type for local listings management. The business group associated with the external account id will be used to provide local inventory to this Merchant Center account."
        },
        "productsManagement": {
          "description": "Service type for managing products. This allows the provider to handle product data on behalf of the business, including reading and writing product listings. It's commonly used when the provider offers inventory management or catalog synchronization services to keep the business's product information up-to-date across platforms.",
          "$ref": "ProductsManagement"
        },
        "provider": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The provider of the service. Either the reference to an account such as `providers/123` or a well-known service provider (one of `providers/GOOGLE_ADS` or `providers/GOOGLE_BUSINESS_PROFILE`)."
        },
        "handshake": {
          "description": "Output only. Information about the state of the service in terms of establishing it (e.g. is it pending approval or approved).",
          "readOnly": true,
          "$ref": "Handshake"
        },
        "comparisonShopping": {
          "$ref": "ComparisonShopping",
          "description": "Service type for comparison shopping. The provider is a CSS (Comparison Shopping Service) managing the account. See https://support.google.com/merchants/answer/12653197"
        },
        "accountManagement": {
          "$ref": "AccountManagement",
          "description": "Service type for account management. Enables the provider to perform administrative actions on the business's account, such as configuring account settings, managing users, or updating business information."
        },
        "accountAggregation": {
          "description": "Service type for account aggregation. This enables the provider, which is an advanced account, to manage multiple sub-accounts (client accounts). Through this service, the advanced account provider can perform administrative and operational tasks across all linked sub-accounts. This is useful for agencies, aggregators, or large retailers that need centralized control over many Merchant Center accounts.",
          "$ref": "AccountAggregation"
        },
        "externalAccountId": {
          "type": "string",
          "description": "Immutable. An optional, immutable identifier that Google uses to refer to this account when communicating with the provider. This should be the unique account ID within the provider's system (for example, your shop ID in Shopify). If you have multiple accounts with the same provider - for instance, different accounts for various regions — the `external_account_id` differentiates between them, ensuring accurate linking and integration between Google and the provider."
        },
        "mutability": {
          "enum": [
            "MUTABILITY_UNSPECIFIED",
            "MUTABLE",
            "IMMUTABLE"
          ],
          "readOnly": true,
          "description": "Output only. Whether the service is mutable (e.g. through Approve / Reject RPCs). A service that was created through another system or API might be immutable.",
          "enumDescriptions": [
            "Unused default value",
            "The service can be mutated without restrictions.",
            "The service is read-only and must not be mutated."
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the account service. Format: `accounts/{account}/services/{service}`"
        },
        "providerDisplayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The human-readable display name of the provider account."
        },
        "campaignsManagement": {
          "description": "Service type for managing advertising campaigns. Grants the provider access to create and manage the business's ad campaigns, including setting up campaigns, adjusting bids, and optimizing performance.",
          "$ref": "CampaignsManagement"
        }
      },
      "id": "AccountService",
      "description": "The `AccountService` message represents a specific service that a provider account offers to a Merchant Center account. `AccountService` defines the permissions and capabilities granted to the provider, allowing for operations such as product management or campaign management. The lifecycle of an `AccountService` involves a proposal phase, where one party suggests the service, and an approval phase, where the other party accepts or rejects it. This handshake mechanism ensures mutual consent before any access is granted. This mechanism safeguards both parties by ensuring that access rights are granted appropriately and that both the business and provider are aware of the services enabled. In scenarios where a user is an admin of both accounts, the approval can happen automatically. The mutability of a service is also managed through `AccountService`. Some services might be immutable, for example, if they were established through other systems or APIs, and you cannot alter them through this API."
    },
    "ItemUpdatesAccountLevelSettings": {
      "id": "ItemUpdatesAccountLevelSettings",
      "properties": {
        "allowAvailabilityUpdates": {
          "type": "boolean",
          "description": "If availability updates are enabled, any previous availability values get overwritten if Google finds an out-of-stock annotation on the offer's page. If additionally `allow_strict_availability_updates` field is set to true, values get overwritten if Google finds an in-stock annotation on the offer’s page."
        },
        "allowPriceUpdates": {
          "description": "If price updates are enabled, Google always updates the active price with the crawled information.",
          "type": "boolean"
        },
        "allowStrictAvailabilityUpdates": {
          "description": "If `allow_availability_updates` is enabled, items are automatically updated in all your Shopping target countries. By default, availability updates will only be applied to items that are 'out of stock' on your website but 'in stock' on Shopping. Set this to true to also update items that are 'in stock' on your website, but 'out of stock' on Google Shopping. In order for this field to have an effect, you must also set `allow_availability_updates`.",
          "type": "boolean"
        },
        "allowConditionUpdates": {
          "description": "If condition updates are enabled, Google always updates item condition with the condition detected from the details of your product.",
          "type": "boolean"
        }
      },
      "description": "Settings for the Automatic Item Updates.",
      "type": "object"
    },
    "Address": {
      "id": "Address",
      "properties": {
        "postalCode": {
          "description": "Required. Postal code or ZIP (For example \"94043\").",
          "type": "string"
        },
        "administrativeArea": {
          "type": "string",
          "description": "Required. Top-level administrative subdivision of the country. For example, a state like California (\"CA\") or a province like Quebec (\"QC\")."
        },
        "regionCode": {
          "description": "Required. [CLDR country code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) (For example \"US\").",
          "type": "string"
        },
        "city": {
          "type": "string",
          "description": "Required. City, town or commune. May also include dependent localities or sublocalities (For example neighborhoods or suburbs)."
        },
        "streetAddress": {
          "type": "string",
          "description": "Street-level part of the address. For example: `111w 31st Street`."
        }
      },
      "type": "object",
      "description": "Shipping address of the warehouse."
    },
    "Service": {
      "type": "object",
      "properties": {
        "rateGroups": {
          "description": "Optional. Shipping rate group definitions. Only the last one is allowed to have an empty `applicable_shipping_labels`, which means \"everything else\". The other `applicable_shipping_labels` must not overlap.",
          "type": "array",
          "items": {
            "$ref": "RateGroup"
          }
        },
        "deliveryTime": {
          "$ref": "DeliveryTime",
          "description": "Required. Time spent in various aspects from order to the delivery of the product."
        },
        "loyaltyPrograms": {
          "description": "Optional. Loyalty programs that this shipping service is limited to.",
          "type": "array",
          "items": {
            "$ref": "LoyaltyProgram"
          }
        },
        "currencyCode": {
          "description": "Required. The CLDR code of the currency to which this service applies. Must match that of the prices in rate groups.",
          "type": "string"
        },
        "minimumOrderValueTable": {
          "description": "Optional. Table of per store minimum order values for the pickup fulfillment type. Cannot be set together with `minimum_order_value`.",
          "$ref": "MinimumOrderValueTable"
        },
        "minimumOrderValue": {
          "description": "Optional. Minimum order value for this service. If set, indicates that customers will have to spend at least this amount. All prices within a service must have the same currency. Cannot be set together with `minimum_order_value_table`.",
          "$ref": "Price"
        },
        "shipmentType": {
          "description": "Optional. Type of locations this service ships orders to.",
          "type": "string",
          "enum": [
            "SHIPMENT_TYPE_UNSPECIFIED",
            "DELIVERY",
            "LOCAL_DELIVERY",
            "COLLECTION_POINT"
          ],
          "enumDescriptions": [
            "This service did not specify shipment type.",
            "This service ships orders to an address chosen by the customer.",
            "This service ships orders to an address chosen by the customer. The order is shipped from a local store near by.",
            "This service ships orders to an address chosen by the customer. The order is shipped from a collection point."
          ]
        },
        "active": {
          "type": "boolean",
          "description": "Required. A boolean exposing the active status of the shipping service."
        },
        "storeConfig": {
          "$ref": "StoreConfig",
          "description": "A list of stores your products are delivered from. This is only valid for the local delivery shipment type."
        },
        "deliveryCountries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The CLDR territory code of the countries to which the service applies."
        },
        "serviceName": {
          "description": "Required. Free-form name of the service. Must be unique within target account.",
          "type": "string"
        }
      },
      "id": "Service",
      "description": "Shipping service."
    },
    "WarehouseCutoffTime": {
      "properties": {
        "hour": {
          "type": "integer",
          "description": "Required. Hour of the cutoff time until which an order has to be placed to be processed in the same day by the warehouse. Hour is based on the timezone of warehouse.",
          "format": "int32"
        },
        "minute": {
          "description": "Required. Minute of the cutoff time until which an order has to be placed to be processed in the same day by the warehouse. Minute is based on the timezone of warehouse.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "WarehouseCutoffTime",
      "description": "The latest time of day that an order can be accepted and begin processing. Later orders will be processed in the next day. The time is based on the warehouse postal code.",
      "type": "object"
    },
    "TransitTimeRow": {
      "type": "object",
      "id": "TransitTimeRow",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "TransitTimeValue"
          },
          "description": "Required. Transit time range (min-max) in business days."
        }
      },
      "description": "If there's only one dimension set of `postal_code_group_names` or `transit_time_labels`, there are multiple rows each with one value for that dimension. If there are two dimensions, each row corresponds to a `postal_code_group_names`, and columns (values) to a `transit_time_labels`."
    },
    "IdentityAttribute": {
      "description": "All information related to an identity attribute.",
      "properties": {
        "identityDeclaration": {
          "type": "string",
          "enumDescriptions": [
            "Default value indicating that no selection was made.",
            "Indicates that the account identifies with the attribute.",
            "Indicates that the account does not identify with the attribute."
          ],
          "enum": [
            "IDENTITY_DECLARATION_UNSPECIFIED",
            "SELF_IDENTIFIES_AS",
            "DOES_NOT_SELF_IDENTIFY_AS"
          ],
          "description": "Required. The declaration of identity for this attribute."
        }
      },
      "type": "object",
      "id": "IdentityAttribute"
    },
    "CreateAndConfigureAccountRequest": {
      "description": "Request message for the `CreateAndConfigureAccount` method.",
      "properties": {
        "service": {
          "type": "array",
          "items": {
            "$ref": "AddAccountService"
          },
          "description": "Required. An account service between the account to be created and the provider account is initialized as part of the creation. At least one such service needs to be provided. Currently exactly one of these needs to be `account_aggregation` and `accounts.createAndConfigure` method can be used to create a sub-account under an existing advanced account through this method. Additional `account_management` or `products_management` services may be provided."
        },
        "user": {
          "type": "array",
          "description": "Optional. Users to be added to the account.",
          "items": {
            "$ref": "AddUser"
          }
        },
        "setAlias": {
          "description": "Optional. If a relationship is created with a provider, you can set an alias for it with this field. The calling user must be an admin on the provider to be able to set an alias.",
          "items": {
            "$ref": "SetAliasForRelationship"
          },
          "type": "array"
        },
        "account": {
          "description": "Required. The account to be created.",
          "$ref": "Account"
        }
      },
      "type": "object",
      "id": "CreateAndConfigureAccountRequest"
    },
    "ListAccountServicesResponse": {
      "id": "ListAccountServicesResponse",
      "description": "Response after trying to list account services.",
      "properties": {
        "nextPageToken": {
          "description": "A page token. You can send the `page_token` to get the next page. Only included in the `list` response if there are more pages.",
          "type": "string"
        },
        "accountServices": {
          "description": "The account services that match your filter.",
          "items": {
            "$ref": "AccountService"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CheckoutSettings": {
      "type": "object",
      "properties": {
        "eligibleDestinations": {
          "description": "Optional. Required for the create operation. The destinations (also known as [Marketing methods](https://support.google.com/merchants/answer/15130232)) to which the checkout program applies. Valid destination values are `SHOPPING_ADS` and `FREE_LISTINGS`.",
          "items": {
            "enumDescriptions": [
              "Not specified.",
              "[Shopping ads](https://support.google.com/google-ads/answer/2454022).",
              "[Display ads](https://support.google.com/merchants/answer/6069387).",
              "[Local inventory ads](https://support.google.com/merchants/answer/3057972).",
              "[Free listings](https://support.google.com/merchants/answer/9199328).",
              "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
              "[YouTube Shopping](https://support.google.com/merchants/answer/12362804).",
              "Youtube shopping checkout.",
              "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
              "[Free vehicle listings](https://support.google.com/merchants/answer/11189169).",
              "[Vehicle ads](https://support.google.com/merchants/answer/11189169).",
              "[Cloud retail](https://cloud.google.com/solutions/retail).",
              "[Local cloud retail](https://cloud.google.com/solutions/retail)."
            ],
            "enum": [
              "DESTINATION_ENUM_UNSPECIFIED",
              "SHOPPING_ADS",
              "DISPLAY_ADS",
              "LOCAL_INVENTORY_ADS",
              "FREE_LISTINGS",
              "FREE_LOCAL_LISTINGS",
              "YOUTUBE_SHOPPING",
              "YOUTUBE_SHOPPING_CHECKOUT",
              "YOUTUBE_AFFILIATE",
              "FREE_VEHICLE_LISTINGS",
              "VEHICLE_ADS",
              "CLOUD_RETAIL",
              "LOCAL_CLOUD_RETAIL"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "effectiveUriSettings": {
          "$ref": "UriSettings",
          "readOnly": true,
          "description": "Output only. The effective value of `uri_settings` for a given merchant. If account level settings are present then this value will be a copy of url settings. Otherwise, it will have the value of the parent account (for only marketplace sellers)."
        },
        "uriSettings": {
          "description": "URI settings for cart or checkout URL.",
          "$ref": "UriSettings"
        },
        "effectiveReviewState": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The effective value of `review_state` for a given merchant ID. If account level settings are present then this value will be a copy of the account level settings. Otherwise, it will have the value of the parent account (for only marketplace sellers).",
          "enum": [
            "CHECKOUT_REVIEW_STATE_UNSPECIFIED",
            "IN_REVIEW",
            "APPROVED",
            "DISAPPROVED"
          ],
          "enumDescriptions": [
            "Default review state when review state is not specified.",
            "Merchant provided URLs are being reviewed for data quality issues.",
            "Merchant account has been approved. Indicates the data quality checks have passed.",
            "Merchant account has been disapproved due to data quality issues."
          ]
        },
        "effectiveEnrollmentState": {
          "enumDescriptions": [
            "Default enrollment state when enrollment state is not specified.",
            "Merchant has not enrolled into the program.",
            "Merchant has enrolled into the program by providing either an account level URL or checkout URLs as part of their feed.",
            "Merchant has previously enrolled but opted out of the program."
          ],
          "type": "string",
          "enum": [
            "CHECKOUT_ENROLLMENT_STATE_UNSPECIFIED",
            "INACTIVE",
            "ENROLLED",
            "OPTED_OUT"
          ],
          "description": "Output only. The effective value of enrollment_state for a given merchant ID. If account level settings are present then this value will be a copy of the account level settings. Otherwise, it will have the value of the parent account (for only marketplace sellers).",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the program configuration settings. Format: `accounts/{account}/programs/{program}/checkoutSettings`"
        },
        "reviewState": {
          "enumDescriptions": [
            "Default review state when review state is not specified.",
            "Merchant provided URLs are being reviewed for data quality issues.",
            "Merchant account has been approved. Indicates the data quality checks have passed.",
            "Merchant account has been disapproved due to data quality issues."
          ],
          "type": "string",
          "description": "Output only. Reflects the merchant review state in `Checkout` program. This is set based on the data quality reviews of the URL provided by the merchant. A merchant with enrollment state as `ENROLLED` can be in the following review states: `IN_REVIEW`, `APPROVED` or `DISAPPROVED`. A merchant must be in an `enrollment_state` of `ENROLLED` before a review can begin for the merchant.For more details, check the help center doc.",
          "enum": [
            "CHECKOUT_REVIEW_STATE_UNSPECIFIED",
            "IN_REVIEW",
            "APPROVED",
            "DISAPPROVED"
          ],
          "readOnly": true
        },
        "enrollmentState": {
          "enum": [
            "CHECKOUT_ENROLLMENT_STATE_UNSPECIFIED",
            "INACTIVE",
            "ENROLLED",
            "OPTED_OUT"
          ],
          "enumDescriptions": [
            "Default enrollment state when enrollment state is not specified.",
            "Merchant has not enrolled into the program.",
            "Merchant has enrolled into the program by providing either an account level URL or checkout URLs as part of their feed.",
            "Merchant has previously enrolled but opted out of the program."
          ],
          "description": "Output only. Reflects the merchant enrollment state in `Checkout` program.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "[CheckoutSettings](https://support.google.com/merchants/answer/13945960) for a specific merchant.",
      "id": "CheckoutSettings"
    },
    "PostalAddress": {
      "id": "PostalAddress",
      "properties": {
        "addressLines": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unstructured address lines describing the lower levels of an address. Because values in `address_lines` do not have type information and may sometimes contain multiple values in a single field (for example, \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country or region of the address. In places where this can vary (for example, Japan), `address_language` is used to make it explicit (for example, \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). In this way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a `region_code` with all remaining information placed in the `address_lines`. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a `region_code` and `address_lines` and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas)."
        },
        "locality": {
          "type": "string",
          "description": "Optional. Generally refers to the city or town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave `locality` empty and use `address_lines`."
        },
        "regionCode": {
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland.",
          "type": "string"
        },
        "postalCode": {
          "type": "string",
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (for example, state or zip code validation in the United States)."
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\"."
        },
        "sublocality": {
          "description": "Optional. Sublocality of the address. For example, this can be a neighborhood, borough, or district.",
          "type": "string"
        },
        "revision": {
          "format": "int32",
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions.",
          "type": "integer"
        },
        "administrativeArea": {
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. For Spain, this is the province and not the autonomous community (for example, \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example, in Switzerland, this should be left unpopulated.",
          "type": "string"
        },
        "recipients": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information."
        },
        "sortingCode": {
          "type": "string",
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (for example, \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (Côte d'Ivoire)."
        },
        "organization": {
          "description": "Optional. The name of the organization at the address.",
          "type": "string"
        }
      },
      "description": "Represents a postal address, such as for postal delivery or payments addresses. With a postal address, a postal service can deliver items to a premise, P.O. box, or similar. A postal address is not intended to model geographical locations like roads, towns, or mountains. In typical usage, an address would be created by user input or from importing existing data, depending on the type of process. Advice on address input or editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput. - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, see: https://support.google.com/business/answer/6397478.",
      "type": "object"
    },
    "LocationIdSet": {
      "type": "object",
      "id": "LocationIdSet",
      "properties": {
        "locationIds": {
          "description": "Required. A non-empty list of [location IDs](https://developers.google.com/adwords/api/docs/appendix/geotargeting). They must all be of the same location type (For example, state).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A list of location ID sets. Must be non-empty. Can only be set if all other fields are not set."
    },
    "ListRegionsResponse": {
      "id": "ListRegionsResponse",
      "description": "Response message for the `ListRegions` method.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "regions": {
          "items": {
            "$ref": "Region"
          },
          "type": "array",
          "description": "The regions from the specified business."
        }
      },
      "type": "object"
    },
    "ProductsManagement": {
      "type": "object",
      "id": "ProductsManagement",
      "properties": {},
      "description": "`ProductsManagement` payload."
    },
    "Accepted": {
      "type": "object",
      "id": "Accepted",
      "description": "Describes the [accepted terms of service](https://developers.google.com/merchant/api/guides/accounts/create-and-configure#accept_the_merchant_center_terms_of_service).",
      "properties": {
        "acceptedBy": {
          "description": "Required. The account where the acceptance was recorded. This can be the account itself or, in the case of subaccounts, the advanced account.",
          "type": "string"
        },
        "validUntil": {
          "$ref": "Date",
          "description": "Optional. When set, it states that the accepted `TermsOfService` is only valid until the end of this date (in UTC). A new one must be accepted before then. The information of the required `TermsOfService` is found in the `Required` message."
        },
        "termsOfService": {
          "description": "Required. The accepted termsOfService.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "Value": {
      "properties": {
        "pricePercentage": {
          "description": "A percentage of the price represented as a number in decimal notation (For example, `\"5.4\"`). Can only be set if all other fields are not set.",
          "type": "string"
        },
        "noShipping": {
          "type": "boolean",
          "description": "If true, then the product can't be shipped. Must be true when set, can only be set if all other fields are not set."
        },
        "flatRate": {
          "$ref": "Price",
          "description": "A flat rate. Can only be set if all other fields are not set."
        },
        "subtable": {
          "type": "string",
          "description": "The name of a subtable. Can only be set in table cells (For example, not for single values), and only if all other fields are not set."
        },
        "carrierRate": {
          "description": "The name of a carrier rate referring to a carrier rate defined in the same rate group. Can only be set if all other fields are not set.",
          "type": "string"
        }
      },
      "description": "The single value of a rate group or the value of a rate group table's cell. Exactly one of `no_shipping`, `flat_rate`, `price_percentage`, `carrier_rateName`, `subtable_name` must be set.",
      "type": "object",
      "id": "Value"
    },
    "CutoffTime": {
      "type": "object",
      "properties": {
        "minute": {
          "description": "Required. Minute of the cutoff time until which an order has to be placed to be processed in the same day.",
          "type": "integer",
          "format": "int32"
        },
        "timeZone": {
          "type": "string",
          "description": "Required. [Timezone identifier](https://developers.google.com/adwords/api/docs/appendix/codes-formats#timezone-ids) For example \"Europe/Zurich\"."
        },
        "hour": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Hour of the cutoff time until which an order has to be placed to be processed in the same day."
        }
      },
      "id": "CutoffTime",
      "description": "Business days cutoff time definition."
    },
    "AddUser": {
      "id": "AddUser",
      "type": "object",
      "description": "Instruction for adding a user to the account during creation.",
      "properties": {
        "userId": {
          "type": "string",
          "description": "Required. The email address of the user (for example, `john.doe@gmail.com`)."
        },
        "verificationMailSettings": {
          "$ref": "VerificationMailSettings",
          "description": "Optional. Settings related to configuring the verification email that is sent after adding a user."
        },
        "user": {
          "description": "Optional. Details about the user to be added. At the moment, only access rights may be specified.",
          "$ref": "User"
        }
      }
    },
    "WarehouseBasedDeliveryTime": {
      "id": "WarehouseBasedDeliveryTime",
      "properties": {
        "warehouse": {
          "type": "string",
          "description": "Required. Warehouse name. This should match warehouse."
        },
        "carrier": {
          "description": "Required. Carrier, such as `\"UPS\"` or `\"Fedex\"`. [supported carriers](https://support.google.com/merchants/answer/7050921#zippy=%2Ccarrier-rates-au-de-uk-and-us-only)",
          "type": "string"
        },
        "carrierService": {
          "description": "Required. Carrier service, such as `\"ground\"` or `\"2 days\"`. The name of the service must be in the eddSupportedServices list.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Indicates that the delivery time should be calculated per warehouse (shipping origin location) based on the settings of the selected carrier. When set, no other transit time related field in `delivery_time` should be set."
    },
    "RequestInventoryVerificationRequest": {
      "type": "object",
      "id": "RequestInventoryVerificationRequest",
      "properties": {},
      "description": "Request message for the RequestInventoryVerification method."
    },
    "ListAccountRelationshipsResponse": {
      "id": "ListAccountRelationshipsResponse",
      "type": "object",
      "description": "Response after trying to list account relationships.",
      "properties": {
        "accountRelationships": {
          "type": "array",
          "description": "The account relationships that match your filter.",
          "items": {
            "$ref": "AccountRelationship"
          }
        },
        "nextPageToken": {
          "description": "A page token. You can send the `page_token` to get the next page. Only included in the `list` response if there are more pages.",
          "type": "string"
        }
      }
    },
    "LoyaltyProgram": {
      "description": "[Loyalty program](https://support.google.com/merchants/answer/12922446) provided by a business.",
      "id": "LoyaltyProgram",
      "type": "object",
      "properties": {
        "programLabel": {
          "type": "string",
          "description": "This is the loyalty program label set in your loyalty program settings in Merchant Center. This sub-attribute allows Google to map your loyalty program to eligible offers."
        },
        "loyaltyProgramTiers": {
          "description": "Optional. Loyalty program tier of this shipping service.",
          "items": {
            "$ref": "LoyaltyProgramTiers"
          },
          "type": "array"
        }
      }
    },
    "LinkGbpAccountResponse": {
      "id": "LinkGbpAccountResponse",
      "description": "Response message for the LinkGbpAccount method.",
      "type": "object",
      "properties": {
        "response": {
          "$ref": "Empty",
          "description": "Empty response."
        }
      }
    },
    "LfpLink": {
      "type": "object",
      "id": "LfpLink",
      "description": "Collection of information related to the LFP link.",
      "properties": {
        "state": {
          "description": "Output only. The state of the LFP link.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ]
        },
        "lfpProvider": {
          "type": "string",
          "description": "Required. The resource name of the LFP provider. Format: `lfpProviders/{lfp_provider}`"
        },
        "externalAccountId": {
          "description": "Required. The account ID by which this merchant is known to the LFP provider.",
          "type": "string"
        }
      }
    },
    "Policy": {
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "NUMBER_OF_DAYS_AFTER_DELIVERY",
            "NO_RETURNS",
            "LIFETIME_RETURNS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The number of days within which a return is valid after delivery.",
            "No returns.",
            "Life time returns."
          ],
          "description": "Policy type."
        },
        "days": {
          "type": "string",
          "description": "The number of days items can be returned after delivery, where one day is defined as 24 hours after the delivery timestamp. Required for `NUMBER_OF_DAYS_AFTER_DELIVERY` returns.",
          "format": "int64"
        }
      },
      "id": "Policy",
      "description": "The available policies."
    },
    "ListAccountIssuesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "accountIssues": {
          "items": {
            "$ref": "AccountIssue"
          },
          "type": "array",
          "description": "The issues from the specified account."
        }
      },
      "type": "object",
      "id": "ListAccountIssuesResponse",
      "description": "Response message for the `ListAccountIssues` method."
    },
    "Row": {
      "type": "object",
      "properties": {
        "cells": {
          "description": "Required. The list of cells that constitute the row. Must have the same length as `columnHeaders` for two-dimensional tables, a length of 1 for one-dimensional tables.",
          "items": {
            "$ref": "Value"
          },
          "type": "array"
        }
      },
      "description": "Include a list of cells.",
      "id": "Row"
    },
    "TimeZone": {
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "id": "TimeZone",
      "type": "object"
    },
    "PhoneNumber": {
      "type": "object",
      "id": "PhoneNumber",
      "description": "An object representing a phone number, suitable as an API wire format. This representation: - should not be used for locale-specific formatting of a phone number, such as \"+1 (650) 253-0000 ext. 123\" - is not designed for efficient storage - may not be suitable for dialing - specialized libraries (see references) should be used to parse the number for that purpose To do something meaningful with this number, such as format it for various use-cases, convert it to an `i18n.phonenumbers.PhoneNumber` object first. For instance, in Java this would be: com.google.type.PhoneNumber wireProto = com.google.type.PhoneNumber.newBuilder().build(); com.google.i18n.phonenumbers.Phonenumber.PhoneNumber phoneNumber = PhoneNumberUtil.getInstance().parse(wireProto.getE164Number(), \"ZZ\"); if (!wireProto.getExtension().isEmpty()) { phoneNumber.setExtension(wireProto.getExtension()); } Reference(s): - https://github.com/google/libphonenumber",
      "properties": {
        "extension": {
          "description": "The phone number's extension. The extension is not standardized in ITU recommendations, except for being defined as a series of numbers with a maximum length of 40 digits. Other than digits, some other dialing characters such as ',' (indicating a wait) or '#' may be stored here. Note that no regions currently use extensions with short codes, so this field is normally only set in conjunction with an E.164 number. It is held separately from the E.164 number to allow for short code extensions in the future.",
          "type": "string"
        },
        "e164Number": {
          "description": "The phone number, represented as a leading plus sign ('+'), followed by a phone number that uses a relaxed ITU E.164 format consisting of the country calling code (1 to 3 digits) and the subscriber number, with no additional spaces or formatting. For example: - correct: \"+15552220123\" - incorrect: \"+1 (555) 222-01234 x123\" The ITU E.164 format limits the latter to 12 digits, but in practice not all countries respect that, so we relax that restriction here. National-only numbers are not allowed. References: - https://www.itu.int/rec/T-REC-E.164-201011-I - https://en.wikipedia.org/wiki/E.164. - https://en.wikipedia.org/wiki/List_of_country_calling_codes",
          "type": "string"
        },
        "shortCode": {
          "description": "A short code. Reference(s): - https://wikipedia.org/wiki/Short_code",
          "$ref": "ShortCode"
        }
      }
    },
    "DeleteRegionRequest": {
      "type": "object",
      "id": "DeleteRegionRequest",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the region to delete. Format: `accounts/{account}/regions/{region}`"
        }
      },
      "description": "Request message for the `DeleteRegion` method."
    },
    "ListSubAccountsResponse": {
      "type": "object",
      "description": "Response message for the `ListSubAccounts` method.",
      "id": "ListSubAccountsResponse",
      "properties": {
        "accounts": {
          "items": {
            "$ref": "Account"
          },
          "description": "The accounts for which the given parent account is an aggregator.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "InStock": {
      "type": "object",
      "id": "InStock",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Optional. Product landing page URI. It is only used for the review of MHLSF in-stock serving. This URI domain should match with the business's homepage. Required to be empty if the lsf_type is GHLSF, and required when the lsf_type is MHLSF_FULL or MHLSF_BASIC."
        },
        "state": {
          "description": "Output only. The state of the in-stock serving.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ]
        }
      },
      "description": "Collection of information related to InStock."
    },
    "TermsOfServiceAgreementState": {
      "description": "This resource represents the agreement state for a given account and terms of service kind. The state is as follows: * If the business has accepted a terms of service, `accepted` will be populated, otherwise it will be empty * If the business must sign a terms of service, `required` will be populated, otherwise it will be empty. Note that both `required` and `accepted` can be present. In this case the `accepted` terms of services will have an expiration date set in the `valid_until` field. The `required` terms of services need to be accepted before `valid_until` in order for the account to continue having a valid agreement. When accepting new terms of services we expect third-party providers to display the text associated with the given terms of service agreement (the url to the file containing the text is added in the Required message below as `tos_file_uri`). The actual acceptance of the terms of service is done by calling accept on the `TermsOfService` resource. `valid_until` field.",
      "type": "object",
      "properties": {
        "required": {
          "$ref": "Required",
          "description": "Optional. The required terms of service"
        },
        "regionCode": {
          "type": "string",
          "description": "Required. Region code as defined by https://cldr.unicode.org/. This is the country the current state applies to."
        },
        "name": {
          "description": "Identifier. The resource name of the terms of service version. Format: `accounts/{account}/termsOfServiceAgreementState/{identifier}` The identifier format is: `{TermsOfServiceKind}-{country}` For example, an identifier could be: `MERCHANT_CENTER-EU` or `MERCHANT_CENTER-US`.",
          "type": "string"
        },
        "termsOfServiceKind": {
          "description": "Required. Terms of Service kind associated with the particular version.",
          "type": "string",
          "enum": [
            "TERMS_OF_SERVICE_KIND_UNSPECIFIED",
            "MERCHANT_CENTER"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Terms of Service for the Merchant Center application."
          ]
        },
        "accepted": {
          "description": "Optional. The accepted terms of service of this kind and for the associated region_code",
          "$ref": "Accepted"
        }
      },
      "id": "TermsOfServiceAgreementState"
    },
    "BusinessIdentity": {
      "properties": {
        "latinoOwned": {
          "$ref": "IdentityAttribute",
          "description": "Optional. Specifies whether the business identifies itself as being latino-owned. This optional field will only be available for businesses with the business country set to `US`. It is also not applicable for marketplaces or marketplace sellers."
        },
        "womenOwned": {
          "description": "Optional. Specifies whether the business identifies itself as being women-owned. This optional field will only be available for businesses with a business country set to `US`. It is also not applicable for marketplaces or marketplace sellers.",
          "$ref": "IdentityAttribute"
        },
        "promotionsConsent": {
          "enum": [
            "PROMOTIONS_CONSENT_UNSPECIFIED",
            "PROMOTIONS_CONSENT_GIVEN",
            "PROMOTIONS_CONSENT_DENIED"
          ],
          "enumDescriptions": [
            "Default value indicating that no selection was made.",
            "Indicates that the account consented to having their business identity used for promotions.",
            "Indicates that the account did not consent to having their business identity used for promotions."
          ],
          "type": "string",
          "description": "Required. Whether the identity attributes may be used for promotions."
        },
        "veteranOwned": {
          "description": "Optional. Specifies whether the business identifies itself as being veteran-owned. This optional field will only be available for businesses with a business country set to `US`. It is also not applicable for marketplaces or marketplace sellers.",
          "$ref": "IdentityAttribute"
        },
        "smallBusiness": {
          "description": "Optional. Specifies whether the business identifies itself as a small business. This optional field will only be available for businesses with a business country set to `US`. It is also not applicable for marketplaces.",
          "$ref": "IdentityAttribute"
        },
        "blackOwned": {
          "$ref": "IdentityAttribute",
          "description": "Optional. Specifies whether the business identifies itself as being black-owned. This optional field will only be available for businesses with the business country set to `US`. It is also not applicable for marketplaces or marketplace sellers."
        },
        "name": {
          "description": "Identifier. The resource name of the business identity. Format: `accounts/{account}/businessIdentity`",
          "type": "string"
        }
      },
      "id": "BusinessIdentity",
      "description": "Collection of information related to the [identity of a business](https://support.google.com/merchants/answer/12564247).",
      "type": "object"
    },
    "VerificationMailSettings": {
      "properties": {
        "verificationMailMode": {
          "description": "Optional. Mode of the verification mail. If not set, the default is `SEND_VERIFICATION_MAIL`.",
          "type": "string",
          "enumDescriptions": [
            "Default first member of every enum. Do not use.",
            "An invitation email is sent to the user added shortly after.",
            "No invitation email is sent. This can be useful if the user is expected to accept the invitation through the API without needing another notification."
          ],
          "enum": [
            "VERIFICATION_MAIL_MODE_UNSPECIFIED",
            "SEND_VERIFICATION_MAIL",
            "SUPPRESS_VERIFICATION_MAIL"
          ]
        }
      },
      "description": "Settings related to the verification email that is sent after adding a user.",
      "id": "VerificationMailSettings",
      "type": "object"
    },
    "UpdateRegionRequest": {
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Optional. The comma-separated field mask indicating the fields to update. Example: `\"displayName,postalCodeArea.regionCode\"`.",
          "type": "string"
        },
        "region": {
          "$ref": "Region",
          "description": "Required. The updated region."
        }
      },
      "id": "UpdateRegionRequest",
      "type": "object",
      "description": "Request message for the `UpdateRegion` method."
    },
    "AccountManagement": {
      "id": "AccountManagement",
      "properties": {},
      "description": "`AccountManagement` payload.",
      "type": "object"
    },
    "Warehouse": {
      "id": "Warehouse",
      "type": "object",
      "properties": {
        "businessDayConfig": {
          "$ref": "BusinessDayConfig",
          "description": "Business days of the warehouse. If not set, will be Monday to Friday by default."
        },
        "cutoffTime": {
          "description": "Required. The latest time of day that an order can be accepted and begin processing. Later orders will be processed in the next day. The time is based on the warehouse postal code.",
          "$ref": "WarehouseCutoffTime"
        },
        "name": {
          "description": "Required. The name of the warehouse. Must be unique within account.",
          "type": "string"
        },
        "handlingDays": {
          "description": "Required. The number of days it takes for this warehouse to pack up and ship an item. This is on the warehouse level, but can be overridden on the offer level based on the attributes of an item.",
          "format": "int64",
          "type": "string"
        },
        "shippingAddress": {
          "$ref": "Address",
          "description": "Required. Shipping address of the warehouse."
        }
      },
      "description": "A fulfillment warehouse, which stores and handles inventory."
    },
    "CampaignsManagement": {
      "id": "CampaignsManagement",
      "type": "object",
      "properties": {},
      "description": "`CampaignManagement` payload."
    },
    "ComparisonShopping": {
      "type": "object",
      "description": "`ComparisonShopping` payload.",
      "id": "ComparisonShopping",
      "properties": {}
    },
    "BatchUpdateRegionsRequest": {
      "type": "object",
      "id": "BatchUpdateRegionsRequest",
      "description": "Request message for the `BatchUpdateRegions` method.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateRegionRequest"
          },
          "description": "Required. The region(s) to update. The maximum number of regions that can be updated in a batch is 100.",
          "type": "array"
        }
      }
    },
    "DeliveryTime": {
      "type": "object",
      "description": "Time spent in various aspects from order to the delivery of the product.",
      "id": "DeliveryTime",
      "properties": {
        "minHandlingDays": {
          "description": "Minimum number of business days spent before an order is shipped. 0 means same day shipped, 1 means next day shipped. 'min_handling_days' and 'max_handling_days' should be either set or not set at the same time.",
          "type": "integer",
          "format": "int32"
        },
        "handlingBusinessDayConfig": {
          "description": "The business days during which orders can be handled. If not provided, Monday to Friday business days will be assumed.",
          "$ref": "BusinessDayConfig"
        },
        "warehouseBasedDeliveryTimes": {
          "items": {
            "$ref": "WarehouseBasedDeliveryTime"
          },
          "description": "Optional. Indicates that the delivery time should be calculated per warehouse (shipping origin location) based on the settings of the selected carrier. When set, no other transit time related field in delivery time should be set.",
          "type": "array"
        },
        "transitTimeTable": {
          "$ref": "TransitTable",
          "description": "Transit time table, number of business days spent in transit based on row and column dimensions. Either `min_transit_days`, `max_transit_days` or `transit_time_table` can be set, but not both."
        },
        "maxHandlingDays": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of business days spent before an order is shipped. 0 means same day shipped, 1 means next day shipped. Must be greater than or equal to `min_handling_days`. 'min_handling_days' and 'max_handling_days' should be either set or not set at the same time."
        },
        "maxTransitDays": {
          "type": "integer",
          "description": "Maximum number of business days that is spent in transit. 0 means same day delivery, 1 means next day delivery. Must be greater than or equal to `min_transit_days`.",
          "format": "int32"
        },
        "cutoffTime": {
          "description": "Business days cutoff time definition. If not configured the cutoff time will be defaulted to 8AM PST.",
          "$ref": "CutoffTime"
        },
        "minTransitDays": {
          "format": "int32",
          "description": "Minimum number of business days that is spent in transit. 0 means same day delivery, 1 means next day delivery. Either `min_transit_days`, `max_transit_days` or `transit_time_table` must be set, but not both.",
          "type": "integer"
        },
        "transitBusinessDayConfig": {
          "$ref": "BusinessDayConfig",
          "description": "The business days during which orders can be in-transit. If not provided, Monday to Friday business days will be assumed."
        }
      }
    },
    "AccountRelationship": {
      "id": "AccountRelationship",
      "description": "The `AccountRelationship` message defines a formal connection between a merchant's account and a service provider's account. This relationship enables the provider to offer specific services to the business, such as product management or campaign management. It specifies the access rights and permissions to the business's data relevant to those services. Establishing an account relationship involves linking the merchant's account with a provider's account. The provider could be another Google account (like Google Ads or Google My Business) or a third-party platform (such as Shopify or WooCommerce).",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the account relationship. Format: `accounts/{account}/relationships/{relationship}`. For example, `accounts/123456/relationships/567890`."
        },
        "providerDisplayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The human-readable display name of the provider account."
        },
        "provider": {
          "type": "string",
          "description": "Immutable. The provider of the service. Either the reference to an account such as `providers/123` or a well-known service provider (one of `providers/GOOGLE_ADS` or `providers/GOOGLE_BUSINESS_PROFILE`)."
        },
        "accountIdAlias": {
          "description": "Optional. An optional alias you can assign to this account relationship. This alias acts as a convenient identifier for your own reference and management. It must be unique among all your account relationships with the same provider. For example, you might use `account_id_alias` to assign a friendly name to this relationship for easier identification in your systems.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListUsersResponse": {
      "id": "ListUsersResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "users": {
          "description": "The users from the specified account.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        }
      },
      "type": "object",
      "description": "Response message for the `ListUsers` method."
    },
    "MinimumOrderValueTable": {
      "properties": {
        "storeCodeSetWithMovs": {
          "items": {
            "$ref": "StoreCodeSetWithMov"
          },
          "type": "array",
          "description": "Required. A list of store code sets sharing the same minimum order value (MOV). At least two sets are required and the last one must be empty, which signifies 'MOV for all other stores'. Each store code can only appear once across all the sets. All prices within a service must have the same currency."
        }
      },
      "type": "object",
      "description": "Table of per store minimum order values for the pickup fulfillment type.",
      "id": "MinimumOrderValueTable"
    },
    "AutomaticShippingImprovements": {
      "id": "AutomaticShippingImprovements",
      "properties": {
        "allowShippingImprovements": {
          "description": "Enables automatic shipping improvements.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Not available for [advanced accounts](https://support.google.com/merchants/answer/188487). By turning on [automatic shipping improvements](https://support.google.com/merchants/answer/10027038), you are allowing Google to improve the accuracy of your delivery times shown to shoppers using Google. More accurate delivery times, especially when faster, typically lead to better conversion rates. Google will improve your estimated delivery times based on various factors: * Delivery address of an order * Current handling time and shipping time settings * Estimated weekdays or business days * Parcel tracking data"
    },
    "RadiusArea": {
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Required. [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) or the country the radius area applies to."
        },
        "radius": {
          "type": "number",
          "format": "double",
          "description": "Required. The radius distance of the area."
        },
        "latLng": {
          "description": "Required. The center of the radius area. It represents a latitude/longitude pair in decimal degrees format.",
          "$ref": "LatLng"
        },
        "radiusUnits": {
          "type": "string",
          "enum": [
            "RADIUS_UNITS_UNSPECIFIED",
            "MILES",
            "KILOMETERS"
          ],
          "enumDescriptions": [
            "Unused default value",
            "The distance is measured in miles.",
            "The distance is measured in kilometers."
          ],
          "description": "Optional. The unit of the radius."
        }
      },
      "description": "A radius area that defines the region area.",
      "id": "RadiusArea",
      "type": "object"
    },
    "BusinessInfo": {
      "description": "The `BusinessInfo` message contains essential information about a business. This message captures key business details such as physical address, customer service contacts, and region-specific identifiers.",
      "id": "BusinessInfo",
      "properties": {
        "address": {
          "description": "Optional. The address of the business. Only `region_code`, `address_lines`, `postal_code`, `administrative_area` and `locality` fields are supported. All other fields are ignored.",
          "$ref": "PostalAddress"
        },
        "customerService": {
          "description": "Optional. The customer service of the business.",
          "$ref": "CustomerService"
        },
        "name": {
          "description": "Identifier. The resource name of the business info. Format: `accounts/{account}/businessInfo`",
          "type": "string"
        },
        "koreanBusinessRegistrationNumber": {
          "description": "Optional. The 10-digit [Korean business registration number](https://support.google.com/merchants/answer/9037766) separated with dashes in the format: XXX-XX-XXXXX.",
          "type": "string"
        },
        "phone": {
          "readOnly": true,
          "$ref": "PhoneNumber",
          "description": "Output only. The phone number of the business."
        },
        "phoneVerificationState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The phone is verified.",
            "The phone is unverified."
          ],
          "enum": [
            "PHONE_VERIFICATION_STATE_UNSPECIFIED",
            "PHONE_VERIFICATION_STATE_VERIFIED",
            "PHONE_VERIFICATION_STATE_UNVERIFIED"
          ],
          "description": "Output only. The phone verification state of the business.",
          "type": "string",
          "readOnly": true
[...]
