{
  "ownerDomain": "google.com",
  "baseUrl": "https://merchantapi.googleapis.com/",
  "revision": "20260826",
  "title": "Merchant API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "id": "merchantapi:accounts_v1beta",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "servicePath": "",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "canonicalName": "Merchant",
  "rootUrl": "https://merchantapi.googleapis.com/",
  "mtlsRootUrl": "https://merchantapi.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "version": "accounts_v1beta",
  "documentationLink": "https://developers.google.com/merchant/api",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "description": "Programmatically manage your Merchant Center Accounts.",
  "resources": {
    "accounts": {
      "resources": {
        "automaticImprovements": {
          "methods": {
            "getAutomaticImprovements": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+/automaticImprovements$",
                  "description": "Required. The resource name of the automatic improvements. Format: `accounts/{account}/automaticImprovements`",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/automaticImprovements",
              "response": {
                "$ref": "AutomaticImprovements"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieves the automatic improvements of an account.",
              "id": "merchantapi.accounts.automaticImprovements.getAutomaticImprovements",
              "path": "accounts/v1beta/{+name}"
            },
            "updateAutomaticImprovements": {
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "Identifier. The resource name of the automatic improvements. Format: `accounts/{account}/automaticImprovements`.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+/automaticImprovements$"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `item_updates` - `item_updates.account_level_settings` - `image_improvements` - `image_improvements.account_level_settings` - `shipping_improvements` - `shipping_improvements.allow_shipping_improvements`",
                  "format": "google-fieldmask"
                }
              },
              "request": {
                "$ref": "AutomaticImprovements"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates the automatic improvements of an account.",
              "path": "accounts/v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/automaticImprovements",
              "response": {
                "$ref": "AutomaticImprovements"
              },
              "id": "merchantapi.accounts.automaticImprovements.updateAutomaticImprovements"
            }
          }
        },
        "onlineReturnPolicies": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+/onlineReturnPolicies/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the return policy to retrieve. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`"
                }
              },
              "path": "accounts/v1beta/{+name}",
              "id": "merchantapi.accounts.onlineReturnPolicies.get",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies/{onlineReturnPoliciesId}",
              "response": {
                "$ref": "OnlineReturnPolicy"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets an existing return policy for a given business."
            },
            "create": {
              "id": "merchantapi.accounts.onlineReturnPolicies.create",
              "path": "accounts/v1beta/{+parent}/onlineReturnPolicies",
              "request": {
                "$ref": "OnlineReturnPolicy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Creates a new return policy for a given business.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies",
              "response": {
                "$ref": "OnlineReturnPolicy"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The Merchant Center account for which the return policy will be created. Format: `accounts/{account}`",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Deletes an existing return policy.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies/{onlineReturnPoliciesId}",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1beta/{+name}",
              "id": "merchantapi.accounts.onlineReturnPolicies.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/onlineReturnPolicies/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the return policy to delete. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`"
                }
              }
            },
            "patch": {
              "id": "merchantapi.accounts.onlineReturnPolicies.patch",
              "request": {
                "$ref": "OnlineReturnPolicy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^accounts/[^/]+/onlineReturnPolicies/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Identifier. The name of the `OnlineReturnPolicy` resource. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`"
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Optional. Only support updating the entire OnlineReturnPolicy message. For update_mask, always use `*`."
                }
              },
              "path": "accounts/v1beta/{+name}",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies/{onlineReturnPoliciesId}",
              "response": {
                "$ref": "OnlineReturnPolicy"
              },
              "description": "Updates an existing return policy for a given business."
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListOnlineReturnPolicies` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `ListOnlineReturnPolicies` must match the call that provided the page token. The token returned as nextPageToken in the response to the previous request.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of `OnlineReturnPolicy` resources to return. The service returns fewer than this value if the number of return policies for the given business is less that than the `pageSize`. The default value is 10. The maximum value is 100; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The Merchant Center account for which to list return policies. Format: `accounts/{account}`",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "description": "Lists all existing return policies for a given business.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.onlineReturnPolicies.list",
              "parameterOrder": [
                "parent"
              ],
              "path": "accounts/v1beta/{+parent}/onlineReturnPolicies",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies",
              "response": {
                "$ref": "ListOnlineReturnPoliciesResponse"
              }
            }
          }
        },
        "businessIdentity": {
          "methods": {
            "updateBusinessIdentity": {
              "request": {
                "$ref": "BusinessIdentity"
              },
              "path": "accounts/v1beta/{+name}",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/businessIdentity",
              "response": {
                "$ref": "BusinessIdentity"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier. The resource name of the business identity. Format: `accounts/{account}/businessIdentity`",
                  "pattern": "^accounts/[^/]+/businessIdentity$"
                },
                "updateMask": {
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `black_owned` - `latino_owned` - `promotions_consent` - `small_business` - `veteran_owned` - `women_owned`",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Updates the business identity of an account. Executing this method requires admin access.",
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.businessIdentity.updateBusinessIdentity"
            },
            "getBusinessIdentity": {
              "path": "accounts/v1beta/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/businessIdentity$",
                  "type": "string",
                  "description": "Required. The resource name of the business identity. Format: `accounts/{account}/businessIdentity`. For example, `accounts/123456/businessIdentity`.",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Retrieves the business identity of an account.",
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.businessIdentity.getBusinessIdentity",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/businessIdentity",
              "response": {
                "$ref": "BusinessIdentity"
              }
            }
          }
        },
        "issues": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "timeZone": {
                  "description": "Optional. The [IANA](https://www.iana.org/time-zones) timezone used to localize times in human-readable fields. For example 'America/Los_Angeles'. If not set, 'America/Los_Angeles' will be used.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of issues to return. The service may return fewer than this value. If unspecified, at most 50 issues will be returned. The maximum value is 100; values above 100 will be coerced to 100",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "languageCode": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The issues in the response will have human-readable fields in the given language. The format is [BCP-47](https://tools.ietf.org/html/bcp47), such as `en-US` or `sr-Latn`. If not value is provided, `en-US` will be used."
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListAccountIssues` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountIssues` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The parent, which owns this collection of issues. Format: `accounts/{account}`",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "accounts/v1beta/{+parent}/issues",
              "id": "merchantapi.accounts.issues.list",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/issues",
              "response": {
                "$ref": "ListAccountIssuesResponse"
              },
              "description": "Lists all account issues of a Merchant Center account. When called on a multi-client account, this method only returns issues belonging to that account, not its sub-accounts. To retrieve issues for sub-accounts, you must first call the accounts.listSubaccounts method to obtain a list of sub-accounts, and then call `accounts.issues.list` for each sub-account individually."
            }
          }
        },
        "developerRegistration": {
          "methods": {
            "registerGcp": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/developerRegistration:registerGcp",
              "response": {
                "$ref": "DeveloperRegistration"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. The name of the developer registration to be created for the merchant account that the GCP will be registered with. Format: `accounts/{account}/developerRegistration` The {account} used must be the same account where user calling this API method is directly added to. Note: The account used must be a production account (can't be a [test account](https://developers.google.com/merchant/api/guides/accounts/test-accounts) ) and must have a [verified website](https://support.google.com/merchants/answer/11586344) in Merchant Center.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+/developerRegistration$"
                }
              },
              "path": "accounts/v1beta/{+name}:registerGcp",
              "request": {
                "$ref": "RegisterGcpRequest"
              },
              "id": "merchantapi.accounts.developerRegistration.registerGcp",
              "description": "Registers the GCP used for the API call to the shopping account passed in the request. Will create a user with an \"API developer\" and add the \"developer_email\" as a contact with \"API notifications\" email preference on. Restrictions: * The caller account must be authenticated and must not impersonate another account at registration time. Registering for subaccounts is not supported if the caller account is authenticated with the parent or the managing advanced account. * The caller account must have a [verified website](https://support.google.com/merchants/answer/11586344) in Merchant Center. * [Test accounts](https://developers.google.com/merchant/api/guides/accounts/test-accounts) are not eligible for registration."
            },
            "unregisterGcp": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Unregister the calling GCP from the calling shopping account. Note that the GCP will still be able to access the API for at most 1 day from the unregister succussful call.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/developerRegistration:unregisterGcp",
              "response": {
                "$ref": "Empty"
              },
              "id": "merchantapi.accounts.developerRegistration.unregisterGcp",
              "request": {
                "$ref": "UnregisterGcpRequest"
              },
              "path": "accounts/v1beta/{+name}:unregisterGcp",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/developerRegistration$",
                  "description": "Required. The name of the developer registration to be created for the merchant account that the GCP will be registered with. Format: `accounts/{account}/developerRegistration`"
                }
              }
            },
            "getAccountForGcpRegistration": {
              "parameterOrder": [],
              "description": "Retrieves the merchant account that the calling GCP is registered with.",
              "flatPath": "accounts/v1beta/accounts:getAccountForGcpRegistration",
              "response": {
                "$ref": "GetAccountForGcpRegistrationResponse"
              },
              "httpMethod": "GET",
              "parameters": {},
              "id": "merchantapi.accounts.developerRegistration.getAccountForGcpRegistration",
              "path": "accounts/v1beta/accounts:getAccountForGcpRegistration",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "getDeveloperRegistration": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/developerRegistration",
              "response": {
                "$ref": "DeveloperRegistration"
              },
              "id": "merchantapi.accounts.developerRegistration.getDeveloperRegistration",
              "path": "accounts/v1beta/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The `name` (ID) of the developer registration.",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/developerRegistration$"
                }
              },
              "description": "Retrieves a developer registration for a merchant.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "businessInfo": {
          "methods": {
            "getBusinessInfo": {
              "path": "accounts/v1beta/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the business info. Format: `accounts/{account}/businessInfo`. For example, `accounts/123456/businessInfo`.",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/businessInfo$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/businessInfo",
              "response": {
                "$ref": "BusinessInfo"
              },
              "description": "Retrieves the business info of an account.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.businessInfo.getBusinessInfo"
            },
            "updateBusinessInfo": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+name}",
              "description": "Updates the business info of an account. Executing this method requires admin access.",
              "request": {
                "$ref": "BusinessInfo"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/businessInfo",
              "response": {
                "$ref": "BusinessInfo"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Identifier. The resource name of the business info. Format: `accounts/{account}/businessInfo`",
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/businessInfo$"
                },
                "updateMask": {
                  "location": "query",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `address` - `customer_service` - `korean_business_registration_number`",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "id": "merchantapi.accounts.businessInfo.updateBusinessInfo",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "regions": {
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.regions.delete",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions/{regionsId}",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes a region definition from your Merchant Center account. Executing this method requires admin access.",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+/regions/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the region to delete. Format: `accounts/{account}/regions/{region}`",
                  "type": "string"
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Retrieves a region defined in your Merchant Center account.",
              "id": "merchantapi.accounts.regions.get",
              "path": "accounts/v1beta/{+name}",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions/{regionsId}",
              "response": {
                "$ref": "Region"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+/regions/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the region to retrieve. Format: `accounts/{account}/regions/{region}`"
                }
              }
            },
            "list": {
              "description": "Lists the regions in your Merchant Center account.",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of regions to return. The service may return fewer than this value. If unspecified, at most 50 regions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListRegions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRegions` must match the call that provided the page token.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "Required. The account to list regions for. Format: `accounts/{account}`"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions",
              "response": {
                "$ref": "ListRegionsResponse"
              },
              "id": "merchantapi.accounts.regions.list",
              "path": "accounts/v1beta/{+parent}/regions"
            },
            "patch": {
              "id": "merchantapi.accounts.regions.patch",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "description": "Optional. The comma-separated field mask indicating the fields to update. Example: `\"displayName,postalCodeArea.regionCode\"`.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+/regions/[^/]+$",
                  "description": "Identifier. The resource name of the region. Format: `accounts/{account}/regions/{region}`",
                  "location": "path",
                  "required": true
                }
              },
              "path": "accounts/v1beta/{+name}",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions/{regionsId}",
              "response": {
                "$ref": "Region"
              },
              "description": "Updates a region definition in your Merchant Center account. Executing this method requires admin access.",
              "request": {
                "$ref": "Region"
              }
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Region"
              },
              "path": "accounts/v1beta/{+parent}/regions",
              "id": "merchantapi.accounts.regions.create",
              "description": "Creates a region definition in your Merchant Center account. Executing this method requires admin access.",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The account to create a region for. Format: `accounts/{account}`",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$"
                },
                "regionId": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. The identifier for the region, unique over all regions of the same account."
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions",
              "response": {
                "$ref": "Region"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        },
        "services": {
          "methods": {
            "list": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services",
              "response": {
                "$ref": "ListAccountServicesResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The token returned by the previous `list` request."
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "description": "Required. The parent account of the account service to filter by. Format: `accounts/{account}`"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of elements to return in the response. Use for paging. If no `page_size` is specified, `100` is used as the default value. The maximum allowed value is `1000`."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.services.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "List account services for the specified accounts. Supports filtering.",
              "path": "accounts/v1beta/{+parent}/services"
            },
            "reject": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services/{servicesId}:reject",
              "response": {
                "$ref": "Empty"
              },
              "description": "Reject an account service (both proposed and approve services can be rejected).",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/services/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of the account service to reject. Format: `accounts/{account}/services/{service}`",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "RejectAccountServiceRequest"
              },
              "path": "accounts/v1beta/{+name}:reject",
              "id": "merchantapi.accounts.services.reject",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "propose": {
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The resource name of the parent account for the service. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "merchantapi.accounts.services.propose",
              "description": "Propose an account service.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services:propose",
              "response": {
                "$ref": "AccountService"
              },
              "request": {
                "$ref": "ProposeAccountServiceRequest"
              },
              "path": "accounts/v1beta/{+parent}/services:propose"
            },
            "get": {
              "description": "Retrieve an account service.",
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.services.get",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+/services/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of the account service to get. Format: `accounts/{account}/services/{service}`",
                  "required": true
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services/{servicesId}",
              "response": {
                "$ref": "AccountService"
              },
              "path": "accounts/v1beta/{+name}"
            },
            "approve": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services/{servicesId}:approve",
              "response": {
                "$ref": "AccountService"
              },
              "description": "Approve an account service proposal.",
              "id": "merchantapi.accounts.services.approve",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+/services/[^/]+$",
                  "description": "Required. The resource name of the account service to approve. Format: `accounts/{account}/services/{service}`",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "ApproveAccountServiceRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1beta/{+name}:approve"
            }
          }
        },
        "autofeedSettings": {
          "methods": {
            "getAutofeedSettings": {
              "description": "Retrieves the autofeed settings of an account.",
              "id": "merchantapi.accounts.autofeedSettings.getAutofeedSettings",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/autofeedSettings$",
                  "description": "Required. The resource name of the autofeed settings. Format: `accounts/{account}/autofeedSettings`",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "accounts/v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/autofeedSettings",
              "response": {
                "$ref": "AutofeedSettings"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "updateAutofeedSettings": {
              "request": {
                "$ref": "AutofeedSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+name}",
              "description": "Updates the autofeed settings of an account.",
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.autofeedSettings.updateAutofeedSettings",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/autofeedSettings$",
                  "type": "string",
                  "location": "path",
                  "description": "Identifier. The resource name of the autofeed settings. Format: `accounts/{account}/autofeedSettings`.",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "description": "Required. List of fields being updated.",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/autofeedSettings",
              "response": {
                "$ref": "AutofeedSettings"
              }
            }
          }
        },
        "gbpAccounts": {
          "methods": {
            "linkGbpAccount": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Link the specified merchant to a GBP account for all countries. To run this method, you must have admin access to the Merchant Center account. If you don't have admin access, the request fails with the error message `User is not an administrator of account {ACCOUNT_ID}`.",
              "request": {
                "$ref": "LinkGbpAccountRequest"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/gbpAccounts:linkGbpAccount",
              "response": {
                "$ref": "LinkGbpAccountResponse"
              },
              "path": "accounts/v1beta/{+parent}/gbpAccounts:linkGbpAccount",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the parent resource to which the GBP account is linked. Format: `accounts/{account}`.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "merchantapi.accounts.gbpAccounts.linkGbpAccount"
            },
            "list": {
              "id": "merchantapi.accounts.gbpAccounts.list",
              "description": "List the GBP accounts for a given merchant.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/gbpAccounts",
              "response": {
                "$ref": "ListGbpAccountsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The name of the parent resource under which the GBP accounts are listed. Format: `accounts/{account}`.",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of `GbpAccount` resources to return. The service returns fewer than this value if the number of gbp accounts is less that than the `pageSize`. The default value is 50. The maximum value is 1000; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum.",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListGbpAccounts` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `ListGbpAccounts` must match the call that provided the page token.",
                  "location": "query"
                }
              },
              "path": "accounts/v1beta/{+parent}/gbpAccounts"
            }
          }
        },
        "emailPreferences": {
          "methods": {
            "getEmailPreferences": {
              "path": "accounts/v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Returns the email preferences for a Merchant Center account user. This service only permits retrieving and updating email preferences for the authenticated user. Use the name=accounts/*/users/me/emailPreferences alias to get preferences for the authenticated user.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.emailPreferences.getEmailPreferences",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the `EmailPreferences` resource. Format: `accounts/{account}/users/{email}/emailPreferences`",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/users/[^/]+/emailPreferences$",
                  "type": "string"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}/emailPreferences",
              "response": {
                "$ref": "EmailPreferences"
              }
            },
            "updateEmailPreferences": {
              "id": "merchantapi.accounts.emailPreferences.updateEmailPreferences",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}/emailPreferences",
              "response": {
                "$ref": "EmailPreferences"
              },
              "description": "Updates the email preferences for a Merchant Center account user. Advanced account users should specify the advanced account rather than a sub-account of the advanced account. Preferences which are not explicitly selected in the update mask will not be updated. It is invalid for updates to specify an UNCONFIRMED opt-in status value. Use the name=accounts/*/users/me/emailPreferences alias to update preferences for the authenticated user.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "description": "Required. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `news_and_tips`",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "description": "Identifier. The name of the EmailPreferences. The endpoint is only supported for the authenticated user.",
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+/users/[^/]+/emailPreferences$"
                }
              },
              "request": {
                "$ref": "EmailPreferences"
              },
              "path": "accounts/v1beta/{+name}"
            }
          }
        },
        "termsOfServiceAgreementStates": {
          "methods": {
            "retrieveForApplication": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Retrieves the state of the agreement for the application terms of service. Application terms of service covers permissions related to the usage of data provided through Merchant Center, CSS Center, Manufacturer Center, and more.",
              "id": "merchantapi.accounts.termsOfServiceAgreementStates.retrieveForApplication",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/termsOfServiceAgreementStates:retrieveForApplication",
              "response": {
                "$ref": "TermsOfServiceAgreementState"
              },
              "path": "accounts/v1beta/{+parent}/termsOfServiceAgreementStates:retrieveForApplication",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The account for which to get a TermsOfServiceAgreementState Format: `accounts/{account}`",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+$"
                }
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/termsOfServiceAgreementStates/{termsOfServiceAgreementStatesId}",
              "response": {
                "$ref": "TermsOfServiceAgreementState"
              },
              "description": "Returns the state of a terms of service agreement.",
              "path": "accounts/v1beta/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The resource name of the terms of service version. Format: `accounts/{account}/termsOfServiceAgreementStates/{identifier}` The identifier format is: `{TermsOfServiceKind}-{country}`",
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/termsOfServiceAgreementStates/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.termsOfServiceAgreementStates.get"
            }
          }
        },
        "omnichannelSettings": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent, which owns this collection of omnichannel settings. Format: `accounts/{account}`"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListOmnichannelSettings` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOmnichannelSettings` must match the call that provided the page token.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of omnichannel settings to return. The service may return fewer than this value. If unspecified, at most 50 omnichannel settings will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings",
              "response": {
                "$ref": "ListOmnichannelSettingsResponse"
              },
              "description": "List all the omnichannel settings for a given merchant.",
              "path": "accounts/v1beta/{+parent}/omnichannelSettings",
              "id": "merchantapi.accounts.omnichannelSettings.list"
            },
            "create": {
              "request": {
                "$ref": "OmnichannelSetting"
              },
              "id": "merchantapi.accounts.omnichannelSettings.create",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent resource where this omnichannel setting will be created. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "description": "Create the omnichannel settings for a given merchant.",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings",
              "response": {
                "$ref": "OmnichannelSetting"
              },
              "path": "accounts/v1beta/{+parent}/omnichannelSettings"
            },
            "get": {
              "description": "Get the omnichannel settings for a given merchant.",
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.omnichannelSettings.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the omnichannel setting to retrieve. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`",
                  "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}",
              "response": {
                "$ref": "OmnichannelSetting"
              }
            },
            "patch": {
              "request": {
                "$ref": "OmnichannelSetting"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "description": "Required. The list of fields to be updated. The following fields are supported in snake_case only: - `lsf_type` - `in_stock` - `pickup` - `odo` - `about` - `inventory_verification` Full replacement with wildcard `*`is supported, while empty/implied update mask is not.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier. The resource name of the omnichannel setting. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`"
                }
              },
              "description": "Update the omnichannel setting for a given merchant in a given country.",
              "path": "accounts/v1beta/{+name}",
              "id": "merchantapi.accounts.omnichannelSettings.patch",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}",
              "response": {
                "$ref": "OmnichannelSetting"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "requestInventoryVerification": {
              "id": "merchantapi.accounts.omnichannelSettings.requestInventoryVerification",
              "path": "accounts/v1beta/{+name}:requestInventoryVerification",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Requests inventory verification for a given merchant in a given country.",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the omnichannel setting to request inventory verification. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`"
                }
              },
              "request": {
                "$ref": "RequestInventoryVerificationRequest"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}:requestInventoryVerification",
              "response": {
                "$ref": "RequestInventoryVerificationResponse"
              },
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "lfpProviders": {
              "methods": {
                "find": {
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "path": "accounts/v1beta/{+parent}/lfpProviders:find",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}/lfpProviders:find",
                  "response": {
                    "$ref": "FindLfpProvidersResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of `LfpProvider` resources to return. The service returns fewer than this value if the number of lfp providers is less that than the `pageSize`. The default value is 50. The maximum value is 1000; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `FindLfpProviders` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `FindLfpProviders` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the parent resource under which the LFP providers are found. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`.",
                      "required": true
                    }
                  },
                  "id": "merchantapi.accounts.omnichannelSettings.lfpProviders.find",
                  "description": "Find the LFP provider candidates in a given country."
                },
                "linkLfpProvider": {
                  "request": {
                    "$ref": "LinkLfpProviderRequest"
                  },
                  "path": "accounts/v1beta/{+name}:linkLfpProvider",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "merchantapi.accounts.omnichannelSettings.lfpProviders.linkLfpProvider",
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}/lfpProviders/{lfpProvidersId}:linkLfpProvider",
                  "response": {
                    "$ref": "LinkLfpProviderResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+/lfpProviders/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the LFP provider resource to link. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}/lfpProviders/{lfp_provider}`. The `lfp_provider` is the LFP provider ID."
                    }
                  },
                  "description": "Link the specified merchant to a LFP provider for the specified country."
                }
              }
            }
          }
        },
        "homepage": {
          "methods": {
            "claim": {
              "id": "merchantapi.accounts.homepage.claim",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+name}:claim",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the homepage to claim. Format: `accounts/{account}/homepage`",
                  "pattern": "^accounts/[^/]+/homepage$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/homepage:claim",
              "response": {
                "$ref": "Homepage"
              },
              "request": {
                "$ref": "ClaimHomepageRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Claims a store's homepage. Executing this method requires admin access. If the homepage is already claimed, this will recheck the verification (unless the business is exempted from claiming, which also exempts from verification) and return a successful response. If ownership can no longer be verified, it will return an error, but it won't clear the claim. In case of failure, a canonical error message is returned: * PERMISSION_DENIED: User doesn't have the necessary permissions on this Merchant Center account. * FAILED_PRECONDITION: - The account is not a Merchant Center account. - Merchant Center account doesn't have a homepage. - Claiming failed (in this case the error message contains more details)."
            },
            "getHomepage": {
              "path": "accounts/v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieves a store's homepage.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the homepage to retrieve. Format: `accounts/{account}/homepage`",
                  "pattern": "^accounts/[^/]+/homepage$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.homepage.getHomepage",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/homepage",
              "response": {
                "$ref": "Homepage"
              }
            },
            "updateHomepage": {
              "request": {
                "$ref": "Homepage"
              },
              "path": "accounts/v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+/homepage$",
                  "description": "Identifier. The resource name of the store's homepage. Format: `accounts/{account}/homepage`",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `uri`"
                }
              },
              "description": "Updates a store's homepage. Executing this method requires admin access.",
              "id": "merchantapi.accounts.homepage.updateHomepage",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/homepage",
              "response": {
                "$ref": "Homepage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "unclaim": {
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "UnclaimHomepageRequest"
              },
              "path": "accounts/v1beta/{+name}:unclaim",
              "description": "Unclaims a store's homepage. Executing this method requires admin access.",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. The name of the homepage to unclaim. Format: `accounts/{account}/homepage`",
                  "pattern": "^accounts/[^/]+/homepage$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/homepage:unclaim",
              "response": {
                "$ref": "Homepage"
              },
              "id": "merchantapi.accounts.homepage.unclaim",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            }
          }
        },
        "users": {
          "methods": {
            "delete": {
              "path": "accounts/v1beta/{+name}",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes a Merchant Center account user. Executing this method requires admin access. The user to be deleted can't be the last admin user of that account.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the user to delete. Format: `accounts/{account}/users/{email}` It is also possible to delete the user corresponding to the caller by using `me` rather than an email address as in `accounts/{account}/users/me`.",
                  "pattern": "^accounts/[^/]+/users/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.users.delete"
            },
            "create": {
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The resource name of the account for which a user will be created. Format: `accounts/{account}`"
                },
                "userId": {
                  "description": "Required. The email address of the user (for example, `john.doe@gmail.com`).",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "accounts/v1beta/{+parent}/users",
              "id": "merchantapi.accounts.users.create",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users",
              "response": {
                "$ref": "User"
              },
              "description": "Creates a Merchant Center account user. Executing this method requires admin access.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "User"
              }
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/users/[^/]+$",
                  "description": "Identifier. The resource name of the user. Format: `accounts/{account}/user/{email}` Use `me` to refer to your own email address, for example `accounts/{account}/users/me`."
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `access_rights`",
                  "location": "query",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "User"
              },
              "path": "accounts/v1beta/{+name}",
              "id": "merchantapi.accounts.users.patch",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}",
              "response": {
                "$ref": "User"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Updates a Merchant Center account user. Executing this method requires admin access."
            },
            "list": {
              "path": "accounts/v1beta/{+parent}/users",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of users to return. The service may return fewer than this value. If unspecified, at most 50 users will be returned. The maximum value is 100; values above 100 will be coerced to 100",
                  "format": "int32"
                },
                "parent": {
                  "description": "Required. The parent, which owns this collection of users. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListUsers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUsers` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.users.list",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users",
              "response": {
                "$ref": "ListUsersResponse"
              },
              "description": "Lists all users of a Merchant Center account."
            },
            "get": {
              "id": "merchantapi.accounts.users.get",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Retrieves a Merchant Center account user.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the user to retrieve. Format: `accounts/{account}/users/{email}` It is also possible to retrieve the user corresponding to the caller by using `me` rather than an email address as in `accounts/{account}/users/me`.",
                  "pattern": "^accounts/[^/]+/users/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "accounts/v1beta/{+name}",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}",
              "response": {
                "$ref": "User"
              }
            }
          },
          "resources": {
            "me": {
              "methods": {
                "verifySelf": {
                  "parameterOrder": [
                    "account"
                  ],
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/users/me:verifySelf",
                  "response": {
                    "$ref": "User"
                  },
                  "request": {
                    "$ref": "VerifySelfRequest"
                  },
                  "id": "merchantapi.accounts.users.me.verifySelf",
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "path": "accounts/v1beta/{+account}/users/me:verifySelf",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "account": {
                      "type": "string",
                      "description": "Required. The name of the account under which the caller is a user. Format: `accounts/{account}`",
                      "required": true,
                      "pattern": "^accounts/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Updates the user that is represented by the caller from pending to verified."
                }
              }
            }
          }
        },
        "shippingSettings": {
          "methods": {
            "getShippingSettings": {
              "path": "accounts/v1beta/{+name}",
              "id": "merchantapi.accounts.shippingSettings.getShippingSettings",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/shippingSettings$",
                  "description": "Required. The name of the shipping setting to retrieve. Format: `accounts/{account}/shippingsettings`",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Retrieve shipping setting information.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/shippingSettings",
              "response": {
                "$ref": "ShippingSettings"
              }
            },
            "insert": {
              "request": {
                "$ref": "ShippingSettings"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The account for which this shipping setting will be inserted. If you are using an advanced account, you must specify the unique identifier of the sub-account for which you want to insert the shipping setting. Format: `accounts/{ACCOUNT_ID}`",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Replace the shipping setting of a business with the request shipping setting. Executing this method requires admin access.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/shippingSettings:insert",
              "response": {
                "$ref": "ShippingSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.shippingSettings.insert",
              "path": "accounts/v1beta/{+parent}/shippingSettings:insert",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "programs": {
          "methods": {
            "enable": {
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the program for which to enable participation for the given account. Format: `accounts/{account}/programs/{program}`. For example, `accounts/123456/programs/free-listings`.",
                  "pattern": "^accounts/[^/]+/programs/[^/]+$"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}:enable",
              "response": {
                "$ref": "Program"
              },
              "request": {
                "$ref": "EnableProgramRequest"
              },
              "description": "Enable participation in the specified program for the account.",
              "id": "merchantapi.accounts.programs.enable",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+name}:enable",
              "parameterOrder": [
                "name"
              ]
            },
            "disable": {
              "id": "merchantapi.accounts.programs.disable",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Disable participation in the specified program for the account.",
              "path": "accounts/v1beta/{+name}:disable",
              "request": {
                "$ref": "DisableProgramRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. The name of the program for which to disable participation for the given account. Format: `accounts/{account}/programs/{program}`. For example, `accounts/123456/programs/free-listings`.",
                  "pattern": "^accounts/[^/]+/programs/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}:disable",
              "response": {
                "$ref": "Program"
              }
            },
            "list": {
              "path": "accounts/v1beta/{+parent}/programs",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Retrieves all programs for the account.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/programs",
              "response": {
                "$ref": "ListProgramsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "merchantapi.accounts.programs.list",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the account for which to retrieve all programs. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "description": "Optional. The maximum number of programs to return in a single response. If unspecified (or 0), a default size of 1000 is used. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A continuation token, received from a previous `ListPrograms` call. Provide this to retrieve the next page.",
                  "location": "query"
                }
              }
            },
            "get": {
              "description": "Retrieves the specified program for the account.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}",
              "response": {
                "$ref": "Program"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+name}",
              "id": "merchantapi.accounts.programs.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/programs/[^/]+$",
                  "description": "Required. The name of the program to retrieve. Format: `accounts/{account}/programs/{program}`. For example, `accounts/123456/programs/free-listings`.",
                  "type": "string"
                }
              }
            }
          },
          "resources": {
            "checkoutSettings": {
              "methods": {
                "updateCheckoutSettings": {
                  "request": {
                    "$ref": "CheckoutSettings"
                  },
                  "path": "accounts/v1beta/{+name}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Identifier. The resource name of the program configuration settings. Format: `accounts/{account}/programs/{program}/checkoutSettings`",
                      "pattern": "^accounts/[^/]+/programs/[^/]+/checkoutSettings$"
                    },
                    "updateMask": {
                      "description": "Required. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `eligible_destinations` - `uri_settings`",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "description": "Updates `CheckoutSettings` for the given merchant.",
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "id": "merchantapi.accounts.programs.checkoutSettings.updateCheckoutSettings",
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "response": {
                    "$ref": "CheckoutSettings"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "deleteCheckoutSettings": {
                  "path": "accounts/v1beta/{+name}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "Required. The name/identifier of the merchant account. Format: `accounts/{account}/programs/{program}/checkoutSettings`",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^accounts/[^/]+/programs/[^/]+/checkoutSettings$"
                    }
                  },
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "description": "Deletes `CheckoutSettings` and unenrolls merchant from `Checkout` program.",
                  "id": "merchantapi.accounts.programs.checkoutSettings.deleteCheckoutSettings",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "getCheckoutSettings": {
                  "description": "Gets `CheckoutSettings` for the given merchant. This includes information about review state, enrollment state and URL settings.",
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "response": {
                    "$ref": "CheckoutSettings"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The name/identifier of the merchant account. Format: `accounts/{account}/programs/{program}/checkoutSettings`",
                      "pattern": "^accounts/[^/]+/programs/[^/]+/checkoutSettings$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "accounts/v1beta/{+name}",
                  "id": "merchantapi.accounts.programs.checkoutSettings.getCheckoutSettings",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "path": "accounts/v1beta/{+parent}/checkoutSettings",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "response": {
                    "$ref": "CheckoutSettings"
                  },
                  "id": "merchantapi.accounts.programs.checkoutSettings.create",
                  "description": "Creates `CheckoutSettings` for the given merchant.",
                  "request": {
                    "$ref": "CheckoutSettings"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^accounts/[^/]+/programs/[^/]+$",
                      "type": "string",
                      "description": "Required. The merchant account for which the `CheckoutSettings` will be created.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ]
                }
              }
            }
          }
        },
        "relationships": {
          "methods": {
            "patch": {
              "description": "Updates the account relationship. Executing this method requires admin access.",
              "path": "accounts/v1beta/{+name}",
              "request": {
                "$ref": "AccountRelationship"
              },
              "id": "merchantapi.accounts.relationships.patch",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `account_id_alias`"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/relationships/[^/]+$",
                  "description": "Identifier. The resource name of the account relationship. Format: `accounts/{account}/relationships/{relationship}`. For example, `accounts/123456/relationships/567890`.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/relationships/{relationshipsId}",
              "response": {
                "$ref": "AccountRelationship"
              }
            },
            "get": {
              "id": "merchantapi.accounts.relationships.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the account relationship to get. Format: `accounts/{account}/relationships/{relationship}`. For example, `accounts/123456/relationships/567890`.",
                  "pattern": "^accounts/[^/]+/relationships/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/relationships/{relationshipsId}",
              "response": {
                "$ref": "AccountRelationship"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieve an account relationship.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+name}"
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent account of the account relationship to filter by. Format: `accounts/{account}`"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The token returned by the previous `list` request."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of elements to return in the response. Use for paging. If no `page_size` is specified, `100` is used as the default value. The maximum allowed value is `1000`."
                }
              },
              "path": "accounts/v1beta/{+parent}/relationships",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/relationships",
              "response": {
                "$ref": "ListAccountRelationshipsResponse"
              },
              "id": "merchantapi.accounts.relationships.list",
              "description": "List account relationships for the specified account."
            }
          }
        }
      },
      "methods": {
        "patch": {
          "path": "accounts/v1beta/{+name}",
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "description": "Identifier. The resource name of the account. Format: `accounts/{account}`",
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `account_name` - `adult_content` - `language_code` - `time_zone`",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Updates an account regardless of its type: standalone, advanced account or sub-account. Executing this method requires admin access.",
          "flatPath": "accounts/v1beta/accounts/{accountsId}",
          "response": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "request": {
            "$ref": "Account"
          },
          "id": "merchantapi.accounts.patch"
        },
        "listSubaccounts": {
          "id": "merchantapi.accounts.listSubaccounts",
          "path": "accounts/v1beta/{+provider}:listSubaccounts",
          "description": "List all sub-accounts for a given advanced account. This is a convenience wrapper for the more powerful `accounts.list` method. This method will produce the same results as calling `ListsAccounts` with the following filter: `relationship(providerId={parent} AND service(type=\"ACCOUNT_AGGREGATION\"))`",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "accounts/v1beta/accounts/{accountsId}:listSubaccounts",
          "response": {
            "$ref": "ListSubAccountsResponse"
          },
          "parameterOrder": [
            "provider"
          ],
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "location": "query",
              "description": "Optional. The maximum number of accounts to return. The service may return fewer than this value. If unspecified, at most 250 accounts are returned. The maximum value is 500; values above 500 are coerced to 500.",
              "format": "int32"
            },
            "provider": {
              "pattern": "^accounts/[^/]+$",
              "description": "Required. The aggregation service provider. Format: `accounts/{accountId}`",
              "type": "string",
              "location": "path",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A page token, received from a previous `accounts.list` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided in the `accounts.list` request must match the call that provided the page token."
            }
          }
        },
        "createTestAccount": {
          "path": "accounts/v1beta/{+parent}:createTestAccount",
          "parameterOrder": [
            "parent"
          ],
          "httpMethod": "POST",
          "parameters": {
            "parent": {
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. The account resource name to create the test account under. Format: accounts/{account}",
              "location": "path"
            }
          },
          "id": "merchantapi.accounts.createTestAccount",
          "request": {
            "$ref": "Account"
          },
          "description": "Creates a Merchant Center test account. Test accounts are intended for development and testing purposes, such as validating API integrations or new feature behavior. Key characteristics and limitations of test accounts: - Immutable Type: A test account cannot be converted into a regular (live) Merchant Center account. Likewise, a regular account cannot be converted into a test account. - Non-Serving Products: Any products, offers, or data created within a test account will not be published or made visible to end-users on any Google surfaces. They are strictly for testing environments. - Separate Environment: Test accounts operate in a sandbox-like manner, isolated from live serving and real user traffic.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "accounts/v1beta/accounts/{accountsId}:createTestAccount",
          "response": {
            "$ref": "Account"
          }
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the account to retrieve. Format: `accounts/{account}`",
              "location": "path",
              "pattern": "^accounts/[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "merchantapi.accounts.get",
          "description": "Retrieves an account from your Merchant Center account. After inserting, updating, or deleting an account, it may take several minutes before changes take effect.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
[...]
