{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "revision": "20260910",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "baseUrl": "https://merchantapi.googleapis.com/",
  "title": "Merchant API",
  "canonicalName": "Merchant",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    }
  },
  "servicePath": "",
  "protocol": "rest",
  "description": "Programmatically manage your Merchant Center Accounts.",
  "version_module": true,
  "schemas": {
    "LfpLink": {
      "id": "LfpLink",
      "properties": {
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the LFP link.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ],
          "type": "string"
        },
        "lfpProvider": {
          "description": "Required. The resource name of the LFP provider. Format: `lfpProviders/{lfp_provider}`",
          "type": "string"
        },
        "externalAccountId": {
          "type": "string",
          "description": "Required. The account ID by which this merchant is known to the LFP provider."
        }
      },
      "description": "Collection of information related to the LFP link.",
      "type": "object"
    },
    "StoreConfig": {
      "type": "object",
      "properties": {
        "storeServiceType": {
          "type": "string",
          "description": "Indicates whether all stores, or selected stores, listed by this business provide local delivery.",
          "enumDescriptions": [
            "Did not specify store service type.",
            "Indicates whether all stores, current and future, listed by this business provide local delivery.",
            "Indicates that only the stores listed in `store_codes` are eligible for local delivery."
          ],
          "enum": [
            "STORE_SERVICE_TYPE_UNSPECIFIED",
            "ALL_STORES",
            "SELECTED_STORES"
          ]
        },
        "cutoffConfig": {
          "description": "Configs related to local delivery ends for the day.",
          "$ref": "CutoffConfig"
        },
        "serviceRadius": {
          "$ref": "Distance",
          "description": "Maximum delivery radius. This is only required for the local delivery shipment type."
        },
        "storeCodes": {
          "description": "Optional. A list of store codes that provide local delivery. If empty, then `all_stores` must be true.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A list of stores your products are delivered from. This is only valid for the local delivery shipment type.",
      "id": "StoreConfig"
    },
    "CutoffConfig": {
      "id": "CutoffConfig",
      "properties": {
        "noDeliveryPostCutoff": {
          "description": "Businesses can opt-out of showing n+1 day local delivery when they have a shipping service configured to n day local delivery. For example, if the shipping service defines same-day delivery, and it's past the cut-off, setting this field to `true` results in the calculated shipping service rate returning `NO_DELIVERY_POST_CUTOFF`. In the same example, setting this field to `false` results in the calculated shipping time being one day. This is only for local delivery.",
          "type": "boolean"
        },
        "storeCloseOffsetHours": {
          "description": "Only valid with local delivery fulfillment. Represents cutoff time as the number of hours before store closing. Mutually exclusive with `local_cutoff_time`.",
          "format": "int64",
          "type": "string"
        },
        "localCutoffTime": {
          "$ref": "LocalCutoffTime",
          "description": "Time that local delivery ends for the day."
        }
      },
      "description": "Configs related to local delivery ends for the day.",
      "type": "object"
    },
    "RadiusArea": {
      "description": "A radius area that defines the region area.",
      "properties": {
        "radiusUnits": {
          "type": "string",
          "enumDescriptions": [
            "Unused default value",
            "The distance is measured in miles.",
            "The distance is measured in kilometers."
          ],
          "description": "Optional. The unit of the radius.",
          "enum": [
            "RADIUS_UNITS_UNSPECIFIED",
            "MILES",
            "KILOMETERS"
          ]
        },
        "latLng": {
          "description": "Required. The center of the radius area. It represents a latitude/longitude pair in decimal degrees format.",
          "$ref": "LatLng"
        },
        "radius": {
          "type": "number",
          "description": "Required. The radius distance of the area.",
          "format": "double"
        },
        "regionCode": {
          "description": "Required. [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) or the country the radius area applies to.",
          "type": "string"
        }
      },
      "id": "RadiusArea",
      "type": "object"
    },
    "TimeZone": {
      "id": "TimeZone",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        },
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "EnableProgramRequest": {
      "description": "Request message for the EnableProgram method.",
      "id": "EnableProgramRequest",
      "properties": {},
      "type": "object"
    },
    "AutomaticImprovements": {
      "id": "AutomaticImprovements",
      "description": "Collection of information related to the [automatic improvements](https://developers.google.com/shopping-content/guides/automatic-improvements) of an account.",
      "type": "object",
      "properties": {
        "imageImprovements": {
          "description": "This improvement will attempt to automatically correct submitted images if they don't meet the [image requirements](https://support.google.com/merchants/answer/6324350), for example, removing overlays. If successful, the image will be replaced and approved. This improvement is only applied to images of disapproved offers. For more information see: [Automatic image improvements](https://support.google.com/merchants/answer/9242973) This field is only updated (cleared) if provided in the update mask.",
          "$ref": "AutomaticImageImprovements"
        },
        "shippingImprovements": {
          "$ref": "AutomaticShippingImprovements",
          "description": "Not available for [advanced accounts](https://support.google.com/merchants/answer/188487). By turning on [automatic shipping improvements](https://support.google.com/merchants/answer/10027038), you are allowing Google to improve the accuracy of your delivery times shown to shoppers using Google. More accurate delivery times, especially when faster, typically lead to better conversion rates. Google will improve your estimated delivery times based on various factors: * Delivery address of an order * Current handling time and shipping time settings * Estimated weekdays or business days * Parcel tracking data This field is only updated (cleared) if provided in the update mask."
        },
        "name": {
          "description": "Identifier. The resource name of the automatic improvements. Format: `accounts/{account}/automaticImprovements`.",
          "type": "string"
        },
        "itemUpdates": {
          "description": "Turning on [item updates](https://support.google.com/merchants/answer/3246284) allows Google to automatically update items for you. When item updates are on, Google uses the structured data markup on the website and advanced data extractors to update the price and availability of the items. When the item updates are off, items with mismatched data aren't shown. This field is only updated (cleared) if provided in the update mask.",
          "$ref": "AutomaticItemUpdates"
        }
      }
    },
    "LoyaltyProgramTiers": {
      "id": "LoyaltyProgramTiers",
      "type": "object",
      "description": "Subset of a business's loyalty program.",
      "properties": {
        "tierLabel": {
          "description": "The tier label [tier_label] sub-attribute differentiates offer level benefits between each tier. This value is also set in your program settings in Merchant Center, and is required for data source changes even if your loyalty program only has 1 tier.",
          "type": "string"
        }
      }
    },
    "PhoneNumber": {
      "id": "PhoneNumber",
      "properties": {
        "shortCode": {
          "$ref": "ShortCode",
          "description": "A short code. Reference(s): - https://wikipedia.org/wiki/Short_code"
        },
        "extension": {
          "type": "string",
          "description": "The phone number's extension. The extension is not standardized in ITU recommendations, except for being defined as a series of numbers with a maximum length of 40 digits. Other than digits, some other dialing characters such as ',' (indicating a wait) or '#' may be stored here. Note that no regions currently use extensions with short codes, so this field is normally only set in conjunction with an E.164 number. It is held separately from the E.164 number to allow for short code extensions in the future."
        },
        "e164Number": {
          "type": "string",
          "description": "The phone number, represented as a leading plus sign ('+'), followed by a phone number that uses a relaxed ITU E.164 format consisting of the country calling code (1 to 3 digits) and the subscriber number, with no additional spaces or formatting. For example: - correct: \"+15552220123\" - incorrect: \"+1 (555) 222-01234 x123\" The ITU E.164 format limits the latter to 12 digits, but in practice not all countries respect that, so we relax that restriction here. National-only numbers are not allowed. References: - https://www.itu.int/rec/T-REC-E.164-201011-I - https://en.wikipedia.org/wiki/E.164. - https://en.wikipedia.org/wiki/List_of_country_calling_codes"
        }
      },
      "description": "An object representing a phone number, suitable as an API wire format. This representation: - should not be used for locale-specific formatting of a phone number, such as \"+1 (650) 253-0000 ext. 123\" - is not designed for efficient storage - may not be suitable for dialing - specialized libraries (see references) should be used to parse the number for that purpose To do something meaningful with this number, such as format it for various use-cases, convert it to an `i18n.phonenumbers.PhoneNumber` object first. For instance, in Java this would be: com.google.type.PhoneNumber wireProto = com.google.type.PhoneNumber.newBuilder().build(); com.google.i18n.phonenumbers.Phonenumber.PhoneNumber phoneNumber = PhoneNumberUtil.getInstance().parse(wireProto.getE164Number(), \"ZZ\"); if (!wireProto.getExtension().isEmpty()) { phoneNumber.setExtension(wireProto.getExtension()); } Reference(s): - https://github.com/google/libphonenumber",
      "type": "object"
    },
    "Impact": {
      "id": "Impact",
      "description": "The impact of the issue on a region.",
      "type": "object",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "The [CLDR region code](https://cldr.unicode.org/) where this issue applies."
        },
        "severity": {
          "description": "The severity of the issue on the destination and region.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "ERROR",
            "SUGGESTION"
          ],
          "type": "string",
          "enumDescriptions": [
            "The severity is unknown.",
            "The issue causes offers to not serve.",
            "The issue might affect offers (in the future) or might be an indicator of issues with offers.",
            "The issue is a suggestion for improvement."
          ]
        }
      }
    },
    "RequestInventoryVerificationRequest": {
      "properties": {},
      "id": "RequestInventoryVerificationRequest",
      "type": "object",
      "description": "Request message for the RequestInventoryVerification method."
    },
    "LinkGbpAccountResponse": {
      "id": "LinkGbpAccountResponse",
      "type": "object",
      "description": "Response message for the LinkGbpAccount method.",
      "properties": {
        "response": {
          "$ref": "Empty",
          "description": "Empty response."
        }
      }
    },
    "ListUsersResponse": {
      "id": "ListUsersResponse",
      "description": "Response message for the `ListUsers` method.",
      "type": "object",
      "properties": {
        "users": {
          "type": "array",
          "description": "The users from the specified account.",
          "items": {
            "$ref": "User"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "LocalListingManagement": {
      "description": "`LocalListingManagement` payload.",
      "properties": {},
      "id": "LocalListingManagement",
      "type": "object"
    },
    "AutomaticItemUpdates": {
      "id": "AutomaticItemUpdates",
      "properties": {
        "effectiveAllowStrictAvailabilityUpdates": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The effective value of allow_strict_availability_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only."
        },
        "accountItemUpdatesSettings": {
          "description": "Optional. Determines which attributes of the items should be automatically updated. If this field is not present and provided in the update mask, then the settings will be deleted. If there are no settings for subaccount, they are inherited from aggregator.",
          "$ref": "ItemUpdatesAccountLevelSettings"
        },
        "effectiveAllowPriceUpdates": {
          "readOnly": true,
          "description": "Output only. The effective value of allow_price_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only.",
          "type": "boolean"
        },
        "effectiveAllowConditionUpdates": {
          "readOnly": true,
          "description": "Output only. The effective value of allow_condition_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only.",
          "type": "boolean"
        },
        "effectiveAllowAvailabilityUpdates": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. The effective value of allow_availability_updates. If account_item_updates_settings is present, then this value is the same. Otherwise, it represents the inherited value of the parent account. The default value is true if no settings are present. Read-only."
        }
      },
      "type": "object",
      "description": "Turning on [item updates](https://support.google.com/merchants/answer/3246284) allows Google to automatically update items for you. When item updates are on, Google uses the structured data markup on the website and advanced data extractors to update the price and availability of the items. When the item updates are off, items with mismatched data aren't shown."
    },
    "BusinessDayConfig": {
      "id": "BusinessDayConfig",
      "type": "object",
      "description": "Business days of the warehouse.",
      "properties": {
        "businessDays": {
          "type": "array",
          "items": {
            "enum": [
              "WEEKDAY_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          },
          "description": "Required. Regular business days. May not be empty."
        }
      }
    },
    "Region": {
      "type": "object",
      "properties": {
        "radiusArea": {
          "$ref": "RadiusArea",
          "description": "Optional. A radius area that defines the region area."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the region. Format: `accounts/{account}/regions/{region}`"
        },
        "postalCodeArea": {
          "$ref": "PostalCodeArea",
          "description": "Optional. A list of postal codes that defines the region area."
        },
        "regionalInventoryEligible": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates if the region is eligible for use in the Regional Inventory configuration."
        },
        "displayName": {
          "description": "Optional. The display name of the region.",
          "type": "string"
        },
        "shippingEligible": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates if the region is eligible for use in the Shipping Services configuration."
        },
        "geotargetArea": {
          "$ref": "GeoTargetArea",
          "description": "Optional. A list of geotargets that defines the region area."
        }
      },
      "id": "Region",
      "description": "Represents a geographic region that you can use as a target with both the `RegionalInventory` and `ShippingSettings` services. You can define regions as collections of either postal codes, radius areas or, in some countries, using predefined geotargets. A region must be defined by specifying exactly one of `postal_code_area`, `geotarget_area`, or `radius_area`. For more information, see [Set up regions ](https://support.google.com/merchants/answer/7410946#zippy=%2Ccreate-a-new-region) for more information."
    },
    "CampaignsManagement": {
      "id": "CampaignsManagement",
      "description": "`CampaignManagement` payload.",
      "type": "object",
      "properties": {}
    },
    "LocalCutoffTime": {
      "type": "object",
      "id": "LocalCutoffTime",
      "description": "Time that local delivery ends for the day.",
      "properties": {
        "hour": {
          "description": "Hour local delivery orders must be placed by to process the same day.",
          "type": "string",
          "format": "int64"
        },
        "minute": {
          "format": "int64",
          "description": "Minute local delivery orders must be placed by to process the same day.",
          "type": "string"
        }
      }
    },
    "SetAliasForRelationship": {
      "properties": {
        "provider": {
          "type": "string",
          "description": "Required. The provider of the service. This is a reference to an account such as `providers/123` or `accounts/123`. The same provider must be specified in at least one of the `service` fields."
        },
        "accountIdAlias": {
          "description": "Required. The unique ID of this account in the provider's system. The value must be unique across all accounts on the platform for this provider.",
          "type": "string"
        }
      },
      "id": "SetAliasForRelationship",
      "type": "object",
      "description": "Set an alias for a relationship between a provider and the account to be created."
    },
    "Accepted": {
      "properties": {
        "acceptedBy": {
          "description": "Required. The account where the acceptance was recorded. This can be the account itself or, in the case of subaccounts, the advanced account.",
          "type": "string"
        },
        "validUntil": {
          "description": "Optional. When set, it states that the accepted `TermsOfService` is only valid until the end of this date (in UTC). A new one must be accepted before then. The information of the required `TermsOfService` is found in the `Required` message.",
          "$ref": "Date"
        },
        "termsOfService": {
          "type": "string",
          "description": "Required. The accepted termsOfService."
        }
      },
      "description": "Describes the [accepted terms of service](https://developers.google.com/merchant/api/guides/accounts/create-and-configure#accept_the_merchant_center_terms_of_service).",
      "type": "object",
      "id": "Accepted"
    },
    "AddAccountService": {
      "properties": {
        "productsManagement": {
          "description": "The provider manages products for this account. Payload for service type products management.",
          "$ref": "ProductsManagement"
        },
        "accountManagement": {
          "description": "The provider manages this account. Payload for service type Account Management.",
          "$ref": "AccountManagement"
        },
        "externalAccountId": {
          "description": "Immutable. An optional, immutable identifier that Google uses to refer to this account when communicating with the provider. This should be the unique account ID within the provider's system (for example, your shop ID in Shopify). If you have multiple accounts with the same provider - for instance, different accounts for various regions — the `external_account_id` differentiates between them, ensuring accurate linking and integration between Google and the provider. The external account ID must be specified for the campaigns management service type. The external account ID must not be specified for the account aggregation service type. The external account ID is optional / may be specified for all other service types.",
          "type": "string"
        },
        "accountAggregation": {
          "$ref": "AccountAggregation",
          "description": "The provider is an [aggregator](https://support.google.com/merchants/answer/188487) for the account. Payload for service type Account Aggregation."
        },
        "comparisonShopping": {
          "$ref": "ComparisonShopping",
          "description": "The provider is a CSS (Comparison Shopping Service) of this account. Payload for service type Comparison Shopping."
        },
        "provider": {
          "description": "Required. The provider of the service. Either the reference to an account such as `providers/123` or a well-known service provider (one of `providers/GOOGLE_ADS` or `providers/GOOGLE_BUSINESS_PROFILE`).",
          "type": "string"
        },
        "campaignsManagement": {
          "description": "The provider manages campaigns for this account. Payload for service type campaigns management.",
          "$ref": "CampaignsManagement"
        }
      },
      "id": "AddAccountService",
      "description": "Additional instructions to add account services during creation of the account.",
      "type": "object"
    },
    "OnDisplayToOrder": {
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "description": "Output only. The state of the URI.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ],
          "readOnly": true
        },
        "uri": {
          "description": "Required. The on display to order (ODO) policy URI.",
          "type": "string"
        }
      },
      "description": "Collection of information related to the on display to order ([ODO](https://support.google.com/merchants/answer/14615056?ref_topic=15145747&sjid=6892280366904591178-NC)).",
      "id": "OnDisplayToOrder",
      "type": "object"
    },
    "UnclaimHomepageRequest": {
      "properties": {},
      "description": "Request message for the `UnclaimHomepage` method.",
      "type": "object",
      "id": "UnclaimHomepageRequest"
    },
    "ProductsManagement": {
      "type": "object",
      "properties": {},
      "description": "`ProductsManagement` payload.",
      "id": "ProductsManagement"
    },
    "AccountService": {
      "type": "object",
      "id": "AccountService",
      "description": "The `AccountService` message represents a specific service that a provider account offers to a Merchant Center account. `AccountService` defines the permissions and capabilities granted to the provider, allowing for operations such as product management or campaign management. The lifecycle of an `AccountService` involves a proposal phase, where one party suggests the service, and an approval phase, where the other party accepts or rejects it. This handshake mechanism ensures mutual consent before any access is granted. This mechanism safeguards both parties by ensuring that access rights are granted appropriately and that both the business and provider are aware of the services enabled. In scenarios where a user is an admin of both accounts, the approval can happen automatically. The mutability of a service is also managed through `AccountService`. Some services might be immutable, for example, if they were established through other systems or APIs, and you cannot alter them through this API.",
      "properties": {
        "comparisonShopping": {
          "description": "Service type for comparison shopping. The provider is a CSS (Comparison Shopping Service) managing the account. See https://support.google.com/merchants/answer/12653197",
          "$ref": "ComparisonShopping"
        },
        "accountAggregation": {
          "description": "Service type for account aggregation. This enables the provider, which is an advanced account, to manage multiple sub-accounts (client accounts). Through this service, the advanced account provider can perform administrative and operational tasks across all linked sub-accounts. This is useful for agencies, aggregators, or large retailers that need centralized control over many Merchant Center accounts.",
          "$ref": "AccountAggregation"
        },
        "handshake": {
          "$ref": "Handshake",
          "description": "Output only. Information about the state of the service in terms of establishing it (e.g. is it pending approval or approved).",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the account service. Format: `accounts/{account}/services/{service}`",
          "type": "string"
        },
        "providerDisplayName": {
          "description": "Output only. The human-readable display name of the provider account.",
          "type": "string",
          "readOnly": true
        },
        "localListingManagement": {
          "description": "Service type for local listings management. The business group associated with the external account id will be used to provide local inventory to this Merchant Center account.",
          "$ref": "LocalListingManagement"
        },
        "mutability": {
          "enum": [
            "MUTABILITY_UNSPECIFIED",
            "MUTABLE",
            "IMMUTABLE"
          ],
          "enumDescriptions": [
            "Unused default value",
            "The service can be mutated without restrictions.",
            "The service is read-only and must not be mutated."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Whether the service is mutable (e.g. through Approve / Reject RPCs). A service that was created through another system or API might be immutable."
        },
        "productsManagement": {
          "$ref": "ProductsManagement",
          "description": "Service type for managing products. This allows the provider to handle product data on behalf of the business, including reading and writing product listings. It's commonly used when the provider offers inventory management or catalog synchronization services to keep the business's product information up-to-date across platforms."
        },
        "campaignsManagement": {
          "description": "Service type for managing advertising campaigns. Grants the provider access to create and manage the business's ad campaigns, including setting up campaigns, adjusting bids, and optimizing performance.",
          "$ref": "CampaignsManagement"
        },
        "provider": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The provider of the service. Either the reference to an account such as `providers/123` or a well-known service provider (one of `providers/GOOGLE_ADS` or `providers/GOOGLE_BUSINESS_PROFILE`)."
        },
        "accountManagement": {
          "description": "Service type for account management. Enables the provider to perform administrative actions on the business's account, such as configuring account settings, managing users, or updating business information.",
          "$ref": "AccountManagement"
        },
        "externalAccountId": {
          "description": "Immutable. An optional, immutable identifier that Google uses to refer to this account when communicating with the provider. This should be the unique account ID within the provider's system (for example, your shop ID in Shopify). If you have multiple accounts with the same provider - for instance, different accounts for various regions — the `external_account_id` differentiates between them, ensuring accurate linking and integration between Google and the provider.",
          "type": "string"
        }
      }
    },
    "PostalAddress": {
      "description": "Represents a postal address, such as for postal delivery or payments addresses. With a postal address, a postal service can deliver items to a premise, P.O. box, or similar. A postal address is not intended to model geographical locations like roads, towns, or mountains. In typical usage, an address would be created by user input or from importing existing data, depending on the type of process. Advice on address input or editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput. - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, see: https://support.google.com/business/answer/6397478.",
      "properties": {
        "recipients": {
          "type": "array",
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information.",
          "items": {
            "type": "string"
          }
        },
        "postalCode": {
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (for example, state or zip code validation in the United States).",
          "type": "string"
        },
        "administrativeArea": {
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. For Spain, this is the province and not the autonomous community (for example, \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example, in Switzerland, this should be left unpopulated.",
          "type": "string"
        },
        "locality": {
          "type": "string",
          "description": "Optional. Generally refers to the city or town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave `locality` empty and use `address_lines`."
        },
        "sublocality": {
          "type": "string",
          "description": "Optional. Sublocality of the address. For example, this can be a neighborhood, borough, or district."
        },
        "regionCode": {
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland.",
          "type": "string"
        },
        "languageCode": {
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\".",
          "type": "string"
        },
        "organization": {
          "type": "string",
          "description": "Optional. The name of the organization at the address."
        },
        "revision": {
          "type": "integer",
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions.",
          "format": "int32"
        },
        "sortingCode": {
          "type": "string",
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (for example, \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (Côte d'Ivoire)."
        },
        "addressLines": {
          "type": "array",
          "description": "Unstructured address lines describing the lower levels of an address. Because values in `address_lines` do not have type information and may sometimes contain multiple values in a single field (for example, \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country or region of the address. In places where this can vary (for example, Japan), `address_language` is used to make it explicit (for example, \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). In this way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a `region_code` with all remaining information placed in the `address_lines`. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a `region_code` and `address_lines` and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas).",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "PostalAddress"
    },
    "ListRegionsResponse": {
      "description": "Response message for the `ListRegions` method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "regions": {
          "items": {
            "$ref": "Region"
          },
          "type": "array",
          "description": "The regions from the specified business."
        }
      },
      "id": "ListRegionsResponse"
    },
    "VerificationMailSettings": {
      "description": "Settings related to the verification email that is sent after adding a user.",
      "properties": {
        "verificationMailMode": {
          "enum": [
            "VERIFICATION_MAIL_MODE_UNSPECIFIED",
            "SEND_VERIFICATION_MAIL",
            "SUPPRESS_VERIFICATION_MAIL"
          ],
          "description": "Optional. Mode of the verification mail. If not set, the default is `SEND_VERIFICATION_MAIL`.",
          "type": "string",
          "enumDescriptions": [
            "Default first member of every enum. Do not use.",
            "An invitation email is sent to the user added shortly after.",
            "No invitation email is sent. This can be useful if the user is expected to accept the invitation through the API without needing another notification."
          ]
        }
      },
      "id": "VerificationMailSettings",
      "type": "object"
    },
    "InStock": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "Optional. Product landing page URI. It is only used for the review of MHLSF in-stock serving. This URI domain should match with the business's homepage. Required to be empty if the lsf_type is GHLSF, and required when the lsf_type is MHLSF_FULL or MHLSF_BASIC."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ],
          "description": "Output only. The state of the in-stock serving.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Collection of information related to InStock.",
      "id": "InStock",
      "type": "object"
    },
    "ListAccountRelationshipsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A page token. You can send the `page_token` to get the next page. Only included in the `list` response if there are more pages."
        },
        "accountRelationships": {
          "items": {
            "$ref": "AccountRelationship"
          },
          "description": "The account relationships that match your filter.",
          "type": "array"
        }
      },
      "description": "Response after trying to list account relationships.",
      "id": "ListAccountRelationshipsResponse"
    },
    "LocationIdSet": {
      "properties": {
        "locationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A non-empty list of [location IDs](https://developers.google.com/adwords/api/docs/appendix/geotargeting). They must all be of the same location type (For example, state)."
        }
      },
      "description": "A list of location ID sets. Must be non-empty. Can only be set if all other fields are not set.",
      "type": "object",
      "id": "LocationIdSet"
    },
    "TermsOfService": {
      "type": "object",
      "description": "The `TermsOfService` message represents a specific version of the terms of service that merchants must accept to access certain features or services. For more information, see [Terms of Service](https://support.google.com/merchants/answer/160173). This message is important for the onboarding process, ensuring that merchants agree to the necessary legal agreements for using the service. Merchants can retrieve the latest terms of service for a given `kind` and `region` through `RetrieveLatestTermsOfService`, and accept them as required through `AcceptTermsOfService`.",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Region code as defined by [CLDR](https://cldr.unicode.org/). This is either a country where the ToS applies specifically to that country or `001` when the same `TermsOfService` can be signed in any country. However note that when signing a ToS that applies globally we still expect that a specific country is provided (this should be merchant business country or program country of participation)."
        },
        "fileUri": {
          "type": "string",
          "description": "URI for terms of service file that needs to be displayed to signing users."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the terms of service version. Format: `termsOfService/{version}`"
        },
        "external": {
          "description": "Whether this terms of service version is external. External terms of service versions can only be agreed through external processes and not directly by the merchant through UI or API.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Terms of Service for the Merchant Center application."
          ],
          "enum": [
            "TERMS_OF_SERVICE_KIND_UNSPECIFIED",
            "MERCHANT_CENTER"
          ],
          "description": "The Kind this terms of service version applies to."
        }
      },
      "id": "TermsOfService"
    },
    "ListAccountServicesResponse": {
      "description": "Response after trying to list account services.",
      "id": "ListAccountServicesResponse",
      "properties": {
        "accountServices": {
          "type": "array",
          "description": "The account services that match your filter.",
          "items": {
            "$ref": "AccountService"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A page token. You can send the `page_token` to get the next page. Only included in the `list` response if there are more pages."
        }
      },
      "type": "object"
    },
    "ProductChange": {
      "id": "ProductChange",
      "type": "object",
      "properties": {
        "newValue": {
          "description": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "Countries that have the change (if applicable). Represented in the ISO 3166 format."
        },
        "reportingContext": {
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout .",
            "Real Estate Rental Ads. ."
          ],
          "description": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT",
            "RENTAL_ADS"
          ]
        },
        "oldValue": {
          "description": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)",
          "type": "string"
        }
      },
      "description": "The change that happened to the product including old value, new value, country code as the region code and reporting context."
    },
    "MinimumOrderValueTable": {
      "id": "MinimumOrderValueTable",
      "type": "object",
      "properties": {
        "storeCodeSetWithMovs": {
          "type": "array",
          "items": {
            "$ref": "StoreCodeSetWithMov"
          },
          "description": "Required. A list of store code sets sharing the same minimum order value (MOV). At least two sets are required and the last one must be empty, which signifies 'MOV for all other stores'. Each store code can only appear once across all the sets. All prices within a service must have the same currency."
        }
      },
      "description": "Table of per store minimum order values for the pickup fulfillment type."
    },
    "ListProgramsResponse": {
      "description": "Response message for the ListPrograms method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "programs": {
          "items": {
            "$ref": "Program"
          },
          "description": "The programs for the given account.",
          "type": "array"
        }
      },
      "id": "ListProgramsResponse",
      "type": "object"
    },
    "TransitTable": {
      "properties": {
        "postalCodeGroupNames": {
          "type": "array",
          "description": "Required. A list of region names Region.name . The last value can be `\"all other locations\"`. Example: `[\"zone 1\", \"zone 2\", \"all other locations\"]`. The referred postal code groups must match the delivery country of the service.",
          "items": {
            "type": "string"
          }
        },
        "transitTimeLabels": {
          "type": "array",
          "description": "Required. A list of transit time labels. The last value can be `\"all other labels\"`. Example: `[\"food\", \"electronics\", \"all other labels\"]`.",
          "items": {
            "type": "string"
          }
        },
        "rows": {
          "description": "Required. If there's only one dimension set of `postal_code_group_names` or `transit_time_labels`, there are multiple rows each with one value for that dimension. If there are two dimensions, each row corresponds to a `postal_code_group_names`, and columns (values) to a `transit_time_labels`.",
          "type": "array",
          "items": {
            "$ref": "TransitTimeRow"
          }
        }
      },
      "description": "Transit time table, number of business days spent in transit based on row and column dimensions. Either `min_transit_days`, `max_transit_days` or `transit_time_table` can be set, but not both.",
      "id": "TransitTable",
      "type": "object"
    },
    "TransitTimeValue": {
      "description": "Transit time range (min-max) in business days.",
      "properties": {
        "minTransitDays": {
          "description": "Minimum transit time range in business days. 0 means same day delivery, 1 means next day delivery.",
          "format": "int32",
          "type": "integer"
        },
        "maxTransitDays": {
          "type": "integer",
          "format": "int32",
          "description": "Must be greater than or equal to `min_transit_days`."
        }
      },
      "type": "object",
      "id": "TransitTimeValue"
    },
    "BusinessIdentity": {
      "description": "Collection of information related to the [identity of a business](https://support.google.com/merchants/answer/12564247).",
      "type": "object",
      "properties": {
        "veteranOwned": {
          "$ref": "IdentityAttribute",
          "description": "Optional. Specifies whether the business identifies itself as being veteran-owned. This optional field will only be available for businesses with a business country set to `US`. It is also not applicable for marketplaces or marketplace sellers."
        },
        "latinoOwned": {
          "description": "Optional. Specifies whether the business identifies itself as being latino-owned. This optional field will only be available for businesses with the business country set to `US`. It is also not applicable for marketplaces or marketplace sellers.",
          "$ref": "IdentityAttribute"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the business identity. Format: `accounts/{account}/businessIdentity`"
        },
        "womenOwned": {
          "description": "Optional. Specifies whether the business identifies itself as being women-owned. This optional field will only be available for businesses with a business country set to `US`. It is also not applicable for marketplaces or marketplace sellers.",
          "$ref": "IdentityAttribute"
        },
        "blackOwned": {
          "$ref": "IdentityAttribute",
          "description": "Optional. Specifies whether the business identifies itself as being black-owned. This optional field will only be available for businesses with the business country set to `US`. It is also not applicable for marketplaces or marketplace sellers."
        },
        "smallBusiness": {
          "description": "Optional. Specifies whether the business identifies itself as a small business. This optional field will only be available for businesses with a business country set to `US`. It is also not applicable for marketplaces.",
          "$ref": "IdentityAttribute"
        },
        "promotionsConsent": {
          "type": "string",
          "enum": [
            "PROMOTIONS_CONSENT_UNSPECIFIED",
            "PROMOTIONS_CONSENT_GIVEN",
            "PROMOTIONS_CONSENT_DENIED"
          ],
          "enumDescriptions": [
            "Default value indicating that no selection was made.",
            "Indicates that the account consented to having their business identity used for promotions.",
            "Indicates that the account did not consent to having their business identity used for promotions."
          ],
          "description": "Required. Whether the identity attributes may be used for promotions."
        }
      },
      "id": "BusinessIdentity"
    },
    "User": {
      "description": "The `User` resource represents a user associated with a Merchant Center account. It is used to manage user permissions and access rights within the account. For more information, see [Frequently asked questions about people and access levels](//support.google.com/merchants/answer/12160472).",
      "properties": {
        "accessRights": {
          "type": "array",
          "description": "Required. The [access rights](https://support.google.com/merchants/answer/12160472?sjid=6789834943175119429-EU#accesstypes) the user has.",
          "items": {
            "enumDescriptions": [
              "Default value. This value is unused.",
              "Standard access rights.",
              "Has access to the same read-only methods as STANDARD, but no access to any mutating methods.",
              "Admin access rights.",
              "Users with this right have access to performance and insights.",
              "Users with this right have access to Merchant API and its notifications. This role is only accessible to accounts that have a developer registration."
            ],
            "type": "string",
            "enum": [
              "ACCESS_RIGHT_UNSPECIFIED",
              "STANDARD",
              "READ_ONLY",
              "ADMIN",
              "PERFORMANCE_REPORTING",
              "API_DEVELOPER"
            ]
          }
        },
        "state": {
          "description": "Output only. The state of the user.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "VERIFIED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The user is pending confirmation. In this state, the user first needs to accept the invitation before performing other actions.",
            "The user is verified."
          ],
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the user. Format: `accounts/{account}/user/{email}` Use `me` to refer to your own email address, for example `accounts/{account}/users/me`.",
          "type": "string"
        }
      },
      "id": "User",
      "type": "object"
    },
    "LinkLfpProviderResponse": {
      "type": "object",
      "description": "Response message for the LinkLfpProvider method.",
      "properties": {
        "response": {
          "description": "Empty response.",
          "$ref": "Empty"
        }
      },
      "id": "LinkLfpProviderResponse"
    },
    "ProductStatusChangeMessage": {
      "type": "object",
      "id": "ProductStatusChangeMessage",
      "properties": {
        "changes": {
          "type": "array",
          "description": "A message to describe the change that happened to the product",
          "items": {
            "$ref": "ProductChange"
          }
        },
        "resourceId": {
          "description": "The product id.",
          "type": "string"
        },
        "resource": {
          "description": "The product name. Format: `accounts/{account}/products/{product}`",
          "type": "string"
        },
        "expirationTime": {
          "description": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event.",
          "type": "string",
          "format": "google-datetime"
        },
        "attribute": {
          "enumDescriptions": [
            "Unspecified attribute",
            "Status of the changed entity"
          ],
          "enum": [
            "ATTRIBUTE_UNSPECIFIED",
            "STATUS"
          ],
          "description": "The attribute in the resource that changed, in this case it will be always `Status`.",
          "type": "string"
        },
        "managingAccount": {
          "type": "string",
          "description": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications."
        },
        "resourceType": {
          "type": "string",
          "description": "The resource that changed, in this case it will always be `Product`.",
          "enumDescriptions": [
            "Unspecified resource",
            "Resource type : product",
            "Account service"
          ],
          "enum": [
            "RESOURCE_UNSPECIFIED",
            "PRODUCT",
            "ACCOUNT_SERVICE"
          ]
        },
        "account": {
          "description": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`",
          "type": "string"
        }
      },
      "description": "The message that the merchant will receive to notify about product status change event"
    },
    "ReturnShippingFee": {
      "type": "object",
      "id": "ReturnShippingFee",
      "properties": {
        "fixedFee": {
          "description": "Fixed return shipping fee amount. This value is only applicable when type is `FIXED`. We will treat the return shipping fee as free if type is `FIXED` and this value is not set.",
          "$ref": "Price"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "FIXED",
            "CUSTOMER_PAYING_ACTUAL_FEE"
          ],
          "description": "Required. Type of return shipping fee.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The return shipping fee is a fixed value.",
            "Customers will pay the actual return shipping fee."
          ]
        }
      },
      "description": "The return shipping fee. This can either be a fixed fee or a boolean to indicate that the customer pays the actual shipping cost."
    },
    "Headers": {
      "description": "A non-empty list of row or column headers for a table. Exactly one of `prices`, `weights`, `num_items`, `postal_code_group_names`, or `location` must be set.",
      "properties": {
        "postalCodeGroupNames": {
          "description": "Required. A list of postal group names. The last value can be `\"all other locations\"`. Example: `[\"zone 1\", \"zone 2\", \"all other locations\"]`. The referred postal code groups must match the delivery country of the service. Must be non-empty. Can only be set if all other fields are not set.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "prices": {
          "type": "array",
          "description": "Required. A list of inclusive order price upper bounds. The last price's value can be infinity by setting price amount_micros = -1. For example `[{\"amount_micros\": 10000000, \"currency_code\": \"USD\"}, {\"amount_micros\": 500000000, \"currency_code\": \"USD\"}, {\"amount_micros\": -1, \"currency_code\": \"USD\"}]` represents the headers \"<= $10\", \"<= $500\", and \"> $500\". All prices within a service must have the same currency. Must be non-empty. Must be positive except -1. Can only be set if all other fields are not set.",
          "items": {
            "$ref": "Price"
          }
        },
        "numberOfItems": {
          "type": "array",
          "description": "Required. A list of inclusive number of items upper bounds. The last value can be `\"infinity\"`. For example `[\"10\", \"50\", \"infinity\"]` represents the headers \"<= 10 items\", \"<= 50 items\", and \"> 50 items\". Must be non-empty. Can only be set if all other fields are not set.",
          "items": {
            "type": "string"
          }
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "LocationIdSet"
          },
          "description": "Required. A list of location ID sets. Must be non-empty. Can only be set if all other fields are not set."
        },
        "weights": {
          "type": "array",
          "items": {
            "$ref": "Weight"
          },
          "description": "Required. A list of inclusive order weight upper bounds. The last weight's value can be infinity by setting price amount_micros = -1. For example `[{\"amount_micros\": 10000000, \"unit\": \"kg\"}, {\"amount_micros\": 50000000, \"unit\": \"kg\"}, {\"amount_micros\": -1, \"unit\": \"kg\"}]` represents the headers \"<= 10kg\", \"<= 50kg\", and \"> 50kg\". All weights within a service must have the same unit. Must be non-empty. Must be positive except -1. Can only be set if all other fields are not set."
        }
      },
      "type": "object",
      "id": "Headers"
    },
    "CheckoutSettings": {
      "id": "CheckoutSettings",
      "properties": {
        "enrollmentState": {
          "description": "Output only. Reflects the merchant enrollment state in `Checkout` program.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default enrollment state when enrollment state is not specified.",
            "Merchant has not enrolled into the program.",
            "Merchant has enrolled into the program by providing either an account level URL or checkout URLs as part of their feed.",
            "Merchant has previously enrolled but opted out of the program."
          ],
          "enum": [
            "CHECKOUT_ENROLLMENT_STATE_UNSPECIFIED",
            "INACTIVE",
            "ENROLLED",
            "OPTED_OUT"
          ]
        },
        "effectiveEnrollmentState": {
          "enum": [
            "CHECKOUT_ENROLLMENT_STATE_UNSPECIFIED",
            "INACTIVE",
            "ENROLLED",
            "OPTED_OUT"
          ],
          "readOnly": true,
          "description": "Output only. The effective value of enrollment_state for a given merchant ID. If account level settings are present then this value will be a copy of the account level settings. Otherwise, it will have the value of the parent account (for only marketplace sellers).",
          "type": "string",
          "enumDescriptions": [
            "Default enrollment state when enrollment state is not specified.",
            "Merchant has not enrolled into the program.",
            "Merchant has enrolled into the program by providing either an account level URL or checkout URLs as part of their feed.",
            "Merchant has previously enrolled but opted out of the program."
          ]
        },
        "effectiveReviewState": {
          "enumDescriptions": [
            "Default review state when review state is not specified.",
            "Merchant provided URLs are being reviewed for data quality issues.",
            "Merchant account has been approved. Indicates the data quality checks have passed.",
            "Merchant account has been disapproved due to data quality issues."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The effective value of `review_state` for a given merchant ID. If account level settings are present then this value will be a copy of the account level settings. Otherwise, it will have the value of the parent account (for only marketplace sellers).",
          "enum": [
            "CHECKOUT_REVIEW_STATE_UNSPECIFIED",
            "IN_REVIEW",
            "APPROVED",
            "DISAPPROVED"
          ]
        },
        "reviewState": {
          "description": "Output only. Reflects the merchant review state in `Checkout` program. This is set based on the data quality reviews of the URL provided by the merchant. A merchant with enrollment state as `ENROLLED` can be in the following review states: `IN_REVIEW`, `APPROVED` or `DISAPPROVED`. A merchant must be in an `enrollment_state` of `ENROLLED` before a review can begin for the merchant.For more details, check the help center doc.",
          "enumDescriptions": [
            "Default review state when review state is not specified.",
            "Merchant provided URLs are being reviewed for data quality issues.",
            "Merchant account has been approved. Indicates the data quality checks have passed.",
            "Merchant account has been disapproved due to data quality issues."
          ],
          "type": "string",
          "enum": [
            "CHECKOUT_REVIEW_STATE_UNSPECIFIED",
            "IN_REVIEW",
            "APPROVED",
            "DISAPPROVED"
          ],
          "readOnly": true
        },
        "effectiveUriSettings": {
          "$ref": "UriSettings",
          "readOnly": true,
          "description": "Output only. The effective value of `uri_settings` for a given merchant. If account level settings are present then this value will be a copy of url settings. Otherwise, it will have the value of the parent account (for only marketplace sellers)."
        },
        "name": {
          "description": "Identifier. The resource name of the program configuration settings. Format: `accounts/{account}/programs/{program}/checkoutSettings`",
          "type": "string"
        },
        "eligibleDestinations": {
          "items": {
            "enumDescriptions": [
              "Not specified.",
              "[Shopping ads](https://support.google.com/google-ads/answer/2454022).",
              "[Display ads](https://support.google.com/merchants/answer/6069387).",
              "[Local inventory ads](https://support.google.com/merchants/answer/3057972).",
              "[Free listings](https://support.google.com/merchants/answer/9199328).",
              "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
              "[YouTube Shopping](https://support.google.com/merchants/answer/12362804).",
              "Youtube shopping checkout.",
              "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
              "[Free vehicle listings](https://support.google.com/merchants/answer/11189169).",
              "[Vehicle ads](https://support.google.com/merchants/answer/11189169).",
              "[Cloud retail](https://cloud.google.com/solutions/retail).",
              "[Local cloud retail](https://cloud.google.com/solutions/retail).",
              "Real Estate Rental Ads. ."
            ],
            "type": "string",
            "enum": [
              "DESTINATION_ENUM_UNSPECIFIED",
              "SHOPPING_ADS",
              "DISPLAY_ADS",
              "LOCAL_INVENTORY_ADS",
              "FREE_LISTINGS",
              "FREE_LOCAL_LISTINGS",
              "YOUTUBE_SHOPPING",
              "YOUTUBE_SHOPPING_CHECKOUT",
              "YOUTUBE_AFFILIATE",
              "FREE_VEHICLE_LISTINGS",
              "VEHICLE_ADS",
              "CLOUD_RETAIL",
              "LOCAL_CLOUD_RETAIL",
              "RENTAL_ADS"
            ]
          },
          "description": "Optional. Required for the create operation. The destinations (also known as [Marketing methods](https://support.google.com/merchants/answer/15130232)) to which the checkout program applies. Valid destination values are `SHOPPING_ADS` and `FREE_LISTINGS`.",
          "type": "array"
        },
        "uriSettings": {
          "description": "URI settings for cart or checkout URL.",
          "$ref": "UriSettings"
        }
      },
      "description": "[CheckoutSettings](https://support.google.com/merchants/answer/13945960) for a specific merchant.",
      "type": "object"
    },
    "DeliveryTime": {
      "description": "Time spent in various aspects from order to the delivery of the product.",
      "properties": {
        "warehouseBasedDeliveryTimes": {
          "description": "Optional. Indicates that the delivery time should be calculated per warehouse (shipping origin location) based on the settings of the selected carrier. When set, no other transit time related field in delivery time should be set.",
          "items": {
            "$ref": "WarehouseBasedDeliveryTime"
          },
          "type": "array"
        },
        "maxHandlingDays": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of business days spent before an order is shipped. 0 means same day shipped, 1 means next day shipped. Must be greater than or equal to `min_handling_days`. 'min_handling_days' and 'max_handling_days' should be either set or not set at the same time."
        },
        "transitTimeTable": {
          "description": "Transit time table, number of business days spent in transit based on row and column dimensions. Either `min_transit_days`, `max_transit_days` or `transit_time_table` can be set, but not both.",
          "$ref": "TransitTable"
        },
        "minTransitDays": {
          "description": "Minimum number of business days that is spent in transit. 0 means same day delivery, 1 means next day delivery. Either `min_transit_days`, `max_transit_days` or `transit_time_table` must be set, but not both.",
          "format": "int32",
          "type": "integer"
        },
        "maxTransitDays": {
          "description": "Maximum number of business days that is spent in transit. 0 means same day delivery, 1 means next day delivery. Must be greater than or equal to `min_transit_days`.",
          "type": "integer",
          "format": "int32"
        },
        "transitBusinessDayConfig": {
          "description": "The business days during which orders can be in-transit. If not provided, Monday to Friday business days will be assumed.",
          "$ref": "BusinessDayConfig"
        },
        "handlingBusinessDayConfig": {
          "description": "The business days during which orders can be handled. If not provided, Monday to Friday business days will be assumed.",
          "$ref": "BusinessDayConfig"
        },
        "minHandlingDays": {
          "format": "int32",
          "description": "Minimum number of business days spent before an order is shipped. 0 means same day shipped, 1 means next day shipped. 'min_handling_days' and 'max_handling_days' should be either set or not set at the same time.",
          "type": "integer"
        },
        "cutoffTime": {
          "description": "Business days cutoff time definition. If not configured the cutoff time will be defaulted to 8AM PST.",
          "$ref": "CutoffTime"
        }
      },
      "type": "object",
      "id": "DeliveryTime"
    },
    "UriSettings": {
      "type": "object",
      "id": "UriSettings",
      "description": "URL settings for cart or checkout URL.",
      "properties": {
        "checkoutUriTemplate": {
          "type": "string",
          "description": "Checkout URL template. When the placeholders are expanded will redirect the buyer to the merchant checkout page with the item in the cart. For more details, check the [help center doc](https://support.google.com/merchants/answer/13945960#method1&zippy=%2Cproduct-level-url-formatting%2Caccount-level-url-formatting)"
        },
        "cartUriTemplate": {
          "description": "Cart URL template. When the placeholders are expanded will redirect the buyer to the cart page on the merchant website with the selected item in cart. For more details, check the [help center doc](https://support.google.com/merchants/answer/13945960#method1&zippy=%2Cproduct-level-url-formatting%2Caccount-level-url-formatting)",
          "type": "string"
        }
      }
    },
    "ListAccountsResponse": {
      "description": "Response message for the `accounts.list` method.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "accounts": {
          "type": "array",
          "description": "The accounts matching the `ListAccountsRequest`.",
          "items": {
            "$ref": "Account"
          }
        }
      },
      "type": "object",
      "id": "ListAccountsResponse"
    },
    "LatLng": {
      "properties": {
        "longitude": {
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "format": "double",
          "type": "number"
        },
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0]."
        }
      },
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "id": "LatLng",
      "type": "object"
    },
    "PostalCodeArea": {
      "type": "object",
      "description": "A list of postal codes that defines the region area. Note: All regions defined using postal codes are accessible through the account's `ShippingSettings.postalCodeGroups` resource.",
      "id": "PostalCodeArea",
      "properties": {
        "postalCodes": {
          "items": {
            "$ref": "PostalCodeRange"
          },
          "type": "array",
          "description": "Required. A range of postal codes."
        },
        "regionCode": {
          "description": "Required. [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) or the country the postal code group applies to.",
          "type": "string"
        }
      }
    },
    "AcceptTermsOfServiceResponse": {
      "properties": {
        "termsOfServiceAgreementState": {
          "$ref": "TermsOfServiceAgreementState",
          "description": "The agreement state after accepting the ToS."
        }
      },
      "type": "object",
      "description": "Response message for the `AcceptTermsOfService` method.",
      "id": "AcceptTermsOfServiceResponse"
    },
    "Distance": {
      "id": "Distance",
      "type": "object",
      "description": "Maximum delivery radius. This is only required for the local delivery shipment type.",
      "properties": {
        "value": {
          "description": "Integer value of distance.",
          "type": "string",
          "format": "int64"
        },
        "unit": {
          "enumDescriptions": [
            "Unit unspecified",
            "Unit in miles",
            "Unit in kilometers"
          ],
          "description": "Unit can differ based on country, it is parameterized to include miles and kilometers.",
          "enum": [
            "UNIT_UNSPECIFIED",
            "MILES",
            "KILOMETERS"
          ],
          "type": "string"
        }
      }
    },
    "ProposeAccountServiceRequest": {
      "id": "ProposeAccountServiceRequest",
      "properties": {
        "provider": {
          "description": "Required. The provider of the service. Either the reference to an account such as `providers/123` or a well-known service provider (one of `providers/GOOGLE_ADS` or `providers/GOOGLE_BUSINESS_PROFILE`).",
          "type": "string"
        },
        "accountService": {
          "$ref": "AccountService",
          "description": "Required. The account service to propose."
        }
      },
      "type": "object",
      "description": "Request to propose an account service."
    },
    "AutofeedSettings": {
      "type": "object",
      "description": "Collection of information related to the [autofeed](https://support.google.com/merchants/answer/7538732) settings.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the autofeed settings. Format: `accounts/{account}/autofeedSettings`."
        },
        "enableProducts": {
          "description": "Required. Enables or disables product crawling through the autofeed for the given account. Autofeed accounts must meet [certain conditions](https://support.google.com/merchants/answer/7538732#Configure_automated_feeds_Standard_Experience), which can be checked through the `eligible` field. The account must **not** be a marketplace. When the autofeed is enabled for the first time, the products usually appear instantly. When re-enabling, it might take up to 24 hours for products to appear.",
          "type": "boolean"
        },
        "eligible": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Determines whether the business is eligible for being enrolled into an autofeed."
        }
      },
      "id": "AutofeedSettings"
    },
    "ImpactedDestination": {
      "description": "The impact of the issue on a destination.",
      "id": "ImpactedDestination",
      "properties": {
        "impacts": {
          "description": "The (negative) impact for various regions on the given destination.",
          "type": "array",
          "items": {
            "$ref": "Impact"
          }
        },
        "reportingContext": {
          "description": "The impacted reporting context.",
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT",
            "RENTAL_ADS"
          ],
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout .",
            "Real Estate Rental Ads. ."
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        }
      },
      "type": "object"
    },
    "OmnichannelSetting": {
      "description": "Collection of information related to the omnichannel settings of a merchant.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the omnichannel setting. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`",
          "type": "string"
        },
        "regionCode": {
          "description": "Required. Immutable. Region code defined by [CLDR](https://cldr.unicode.org/). Must be provided in the Create method, and is immutable.",
          "type": "string"
        },
        "odo": {
          "$ref": "OnDisplayToOrder",
          "description": "Optional. The On Display to Order (ODO) policy URI and state for this country."
        },
        "inventoryVerification": {
          "description": "Optional. The inventory verification contact and state for this country.",
          "$ref": "InventoryVerification"
        },
        "inStock": {
          "description": "Optional. The InStock URI and state for this country.",
          "$ref": "InStock"
        },
        "lfpLink": {
          "$ref": "LfpLink",
          "readOnly": true,
          "description": "Output only. The established link to a LFP provider."
        },
        "about": {
          "$ref": "About",
          "description": "Optional. The about page URI and state for this country."
        },
        "lsfType": {
          "description": "Required. The Local Store Front type for this country.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Google-Hosted Local Store Front. Check the [HC article](https://support.google.com/merchants/answer/14869424) for more details.",
            "Merchant-Hosted Local Store Front Basic. Check the [HC article](https://support.google.com/merchants/answer/14615867) for more details.",
            "Merchant-Hosted Local Store Front Full. Check the [HC article](https://support.google.com/merchants/answer/14617076) for more details."
          ],
          "enum": [
            "LSF_TYPE_UNSPECIFIED",
            "GHLSF",
            "MHLSF_BASIC",
            "MHLSF_FULL"
          ]
        },
        "pickup": {
          "description": "Optional. The Pickup URI and state for this country.",
          "$ref": "Pickup"
        }
      },
      "type": "object",
      "id": "OmnichannelSetting"
    },
    "GetAccountForGcpRegistrationResponse": {
      "properties": {
        "name": {
          "description": "The name of the merchant account id that the GCP is registered with.",
          "type": "string"
        }
      },
      "id": "GetAccountForGcpRegistrationResponse",
      "description": "Response message for the GetAccountForGcpRegistration method.",
      "type": "object"
    },
    "ComparisonShopping": {
      "id": "ComparisonShopping",
      "type": "object",
      "properties": {},
      "description": "`ComparisonShopping` payload."
    },
    "ListOmnichannelSettingsResponse": {
      "id": "ListOmnichannelSettingsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "omnichannelSettings": {
          "type": "array",
          "items": {
            "$ref": "OmnichannelSetting"
          },
          "description": "The omnichannel settings from the specified merchant."
        }
      },
      "description": "Response message for the ListOmnichannelSettings method."
    },
    "RejectAccountServiceRequest": {
      "description": "Request to reject an account service.",
      "properties": {},
      "id": "RejectAccountServiceRequest",
      "type": "object"
    },
    "RequestInventoryVerificationResponse": {
      "id": "RequestInventoryVerificationResponse",
      "type": "object",
      "description": "Response message for the RequestInventoryVerification method.",
      "properties": {
        "omnichannelSetting": {
          "$ref": "OmnichannelSetting",
          "description": "The omnichannel setting that was updated."
        }
      }
    },
    "ListOnlineReturnPoliciesResponse": {
      "description": "Response message for the `ListOnlineReturnPolicies` method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `pageToken` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "onlineReturnPolicies": {
          "type": "array",
          "description": "The retrieved return policies.",
          "items": {
            "$ref": "OnlineReturnPolicy"
          }
        }
      },
      "id": "ListOnlineReturnPoliciesResponse"
    },
    "Handshake": {
      "type": "object",
      "properties": {
        "approvalState": {
          "description": "Output only. The approval state of this handshake.",
          "type": "string",
          "enum": [
            "APPROVAL_STATE_UNSPECIFIED",
            "PENDING",
            "WAITING",
            "ESTABLISHED",
            "REJECTED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified approval status.",
            "The service was proposed and is waiting to be confirmed.",
            "Indicates that the service proposal has been accepted and will be established after a fixed delay set by the service provider.",
            "Both parties have confirmed the service.",
            "The service proposal was rejected."
          ]
        },
        "actor": {
          "enumDescriptions": [
            "Unspecified actor.",
            "The last change was done by the account who has this service.",
            "The last change was done by the other party who this service points to."
          ],
          "description": "Output only. The most recent account to modify the account service's `approval_status`.",
          "enum": [
            "ACTOR_UNSPECIFIED",
            "ACCOUNT",
            "OTHER_PARTY"
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Handshake",
      "description": "The current status of establishing of the service. (for example, pending approval, approved, established)."
    },
    "ListGbpAccountsResponse": {
      "description": "Response message for the ListGbpAccounts method.",
      "type": "object",
      "id": "ListGbpAccountsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "gbpAccounts": {
          "items": {
            "$ref": "GbpAccount"
          },
          "type": "array",
          "description": "The GBP accounts from the specified merchant in the specified country."
        }
      }
    },
    "VerifySelfRequest": {
      "properties": {},
      "type": "object",
      "id": "VerifySelfRequest",
      "description": "Request message for the `VerifySelf` method."
    },
    "CustomerService": {
      "id": "CustomerService",
      "type": "object",
      "description": "Customer service information.",
      "properties": {
        "email": {
          "description": "Optional. The email address where customer service may be reached.",
          "type": "string"
        },
        "phone": {
          "description": "Optional. The phone number where customer service may be called.",
          "$ref": "PhoneNumber"
        },
        "uri": {
          "description": "Optional. The URI where customer service may be found.",
          "type": "string"
        }
      }
    },
    "About": {
      "description": "Collection of information related to the about page ([impressum](https://support.google.com/merchants/answer/14675634?ref_topic=15145634&sjid=6892280366904591178-NC)).",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. The about page URI."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
            "The review process is running.",
            "The review process is waiting for the merchant to take action."
          ],
          "description": "Output only. The state of the URI.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ]
        }
      },
      "type": "object",
      "id": "About"
    },
    "IdentityAttribute": {
      "type": "object",
      "properties": {
        "identityDeclaration": {
          "description": "Required. The declaration of identity for this attribute.",
          "enum": [
            "IDENTITY_DECLARATION_UNSPECIFIED",
            "SELF_IDENTIFIES_AS",
            "DOES_NOT_SELF_IDENTIFY_AS"
          ],
          "enumDescriptions": [
            "Default value indicating that no selection was made.",
            "Indicates that the account identifies with the attribute.",
            "Indicates that the account does not identify with the attribute."
          ],
          "type": "string"
        }
      },
      "description": "All information related to an identity attribute.",
      "id": "IdentityAttribute"
    },
    "Table": {
      "description": "A table defining the rate group, when `single_value` is not expressive enough.",
      "type": "object",
      "properties": {
        "rowHeaders": {
          "description": "Required. Headers of the table's rows.",
          "$ref": "Headers"
        },
        "columnHeaders": {
          "description": "Headers of the table's columns. Optional: if not set then the table has only one dimension.",
          "$ref": "Headers"
        },
        "name": {
          "type": "string",
          "description": "Name of the table. Required for subtables, ignored for the main table."
        },
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "type": "array",
          "description": "Required. The list of rows that constitute the table. Must have the same length as `row_headers`."
        }
      },
      "id": "Table"
    },
    "WarehouseBasedDeliveryTime": {
      "description": "Indicates that the delivery time should be calculated per warehouse (shipping origin location) based on the settings of the selected carrier. When set, no other transit time related field in `delivery_time` should be set.",
      "properties": {
        "warehouse": {
          "description": "Required. Warehouse name. This should match warehouse.",
          "type": "string"
        },
        "carrier": {
          "description": "Required. Carrier, such as `\"UPS\"` or `\"Fedex\"`. [supported carriers](https://support.google.com/merchants/answer/7050921#zippy=%2Ccarrier-rates-au-de-uk-and-us-only)",
          "type": "string"
        },
        "carrierService": {
          "description": "Required. Carrier service, such as `\"ground\"` or `\"2 days\"`. The name of the service must be in the eddSupportedServices list.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "WarehouseBasedDeliveryTime"
    },
    "Requirement": {
      "description": "Defines a requirement specified for participation in the program.",
      "properties": {
        "title": {
          "description": "Output only. Name of the requirement.",
          "readOnly": true,
          "type": "string"
        },
        "affectedRegionCodes": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The regions that are currently affected by this requirement not being met. Region codes are defined by [CLDR](https://cldr.unicode.org/). This is either a country where the program applies specifically to that country or `001` when the program applies globally.",
          "items": {
            "type": "string"
          }
        },
        "documentationUri": {
          "description": "Output only. The URL of a help page describing the requirement.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Requirement"
    },
    "InventoryVerification": {
      "type": "object",
      "id": "InventoryVerification",
      "description": "Collection of information related to [inventory verification](https://support.google.com/merchants/answer/14684499?ref_topic=15145634&sjid=6892280366904591178-NC).",
      "properties": {
        "contactEmail": {
          "description": "Required. The email address of the contact for the inventory verification process.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTION_REQUIRED",
            "INACTIVE",
            "RUNNING",
            "SUCCEEDED",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "When the merchant needs to initiate the inventory verification process. The next state is INACTIVE.",
            "When the merchant is ready to request inventory verification.",
            "The inventory verification process is running. If the merchant is rejected, the next state is INACTIVE.",
            "The inventory verification process succeeded.",
            "When merchant fails the inventory verification process and all attempts are exhausted."
          ],
          "description": "Output only. The state of the inventory verification process.",
          "type": "string",
          "readOnly": true
        },
        "contact": {
          "type": "string",
          "description": "Required. The name of the contact for the inventory verification process."
        },
        "contactState": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "RUNNING",
            "ACTION_REQUIRED"
          ],
          "description": "Output only. The state of the contact verification.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The review process has concluded successfully. The reviewed item is active.",
            "The review process failed.",
[...]
