{
  "id": "merchantapi:accounts_v1",
  "version": "accounts_v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Programmatically manage your Merchant Center Accounts.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "servicePath": "",
  "discoveryVersion": "v1",
  "resources": {
    "accounts": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "description": "Deletes the specified account regardless of its type: standalone, advanced account or sub-account. Deleting an advanced account leads to the deletion of all of its sub-accounts. This also deletes the account's [developer registration entity](/merchant/api/reference/rest/accounts_v1/accounts.developerRegistration) and any associated GCP project to the account. Executing this method requires admin access. The deletion succeeds only if the account does not provide services to any other account and has no processed offers. You can use the `force` parameter to override this.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "name": {
              "description": "Required. The name of the account to delete. Format: `accounts/{account}`",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^accounts/[^/]+$"
            },
            "force": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. If set to `true`, the account is deleted even if it provides services to other accounts or has processed offers."
            }
          },
          "path": "accounts/v1/{+name}",
          "id": "merchantapi.accounts.delete",
          "flatPath": "accounts/v1/accounts/{accountsId}",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "list": {
          "parameterOrder": [],
          "id": "merchantapi.accounts.list",
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "httpMethod": "GET",
          "description": "Note: For the `accounts.list` method, quota and limits usage are charged for each user, and not for the Merchant Center ID or the advanced account ID. To list several sub-accounts, you should use the `accounts.listSubaccounts` method, which is more suitable for advanced accounts use case.",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "accounts/v1/accounts",
          "flatPath": "accounts/v1/accounts",
          "parameters": {
            "filter": {
              "type": "string",
              "location": "query",
              "description": "Optional. Returns only accounts that match the [filter](https://developers.google.com/merchant/api/guides/accounts/filter). For more details, see the [filter syntax reference](https://developers.google.com/merchant/api/guides/accounts/filter-syntax)."
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous `accounts.list` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided in the `accounts.list` request must match the call that provided the page token.",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Optional. The maximum number of accounts to return. The service may return fewer than this value. If unspecified, at most 250 accounts are returned. The maximum value is 500; values above 500 are coerced to 500."
            }
          }
        },
        "patch": {
          "flatPath": "accounts/v1/accounts/{accountsId}",
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `account_name` - `adult_content` - `language_code` - `time_zone`"
            },
            "name": {
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "description": "Identifier. The resource name of the account. Format: `accounts/{account}`",
              "location": "path",
              "required": true
            }
          },
          "id": "merchantapi.accounts.patch",
          "parameterOrder": [
            "name"
          ],
          "description": "Updates an account regardless of its type: standalone, advanced account or sub-account. Executing this method requires admin access.",
          "httpMethod": "PATCH",
          "path": "accounts/v1/{+name}",
          "response": {
            "$ref": "Account"
          },
          "request": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "createTestAccount": {
          "flatPath": "accounts/v1/accounts/{accountsId}:createTestAccount",
          "id": "merchantapi.accounts.createTestAccount",
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "Account"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "path": "accounts/v1/{+parent}:createTestAccount",
          "response": {
            "$ref": "Account"
          },
          "parameters": {
            "parent": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The account resource name to create the test account under. Format: accounts/{account}",
              "pattern": "^accounts/[^/]+$"
            }
          },
          "description": "Creates a Merchant Center test account. Test accounts are intended for development and testing purposes, such as validating API integrations or new feature behavior. Key characteristics and limitations of test accounts: - Immutable Type: A test account cannot be converted into a regular (live) Merchant Center account. Likewise, a regular account cannot be converted into a test account. - Non-Serving Products: Any products, offers, or data created within a test account will not be published or made visible to end-users on any Google surfaces. They are strictly for testing environments. - Separate Environment: Test accounts operate in a sandbox-like manner, isolated from live serving and real user traffic."
        },
        "createAndConfigure": {
          "response": {
            "$ref": "Account"
          },
          "path": "accounts/v1/accounts:createAndConfigure",
          "id": "merchantapi.accounts.createAndConfigure",
          "httpMethod": "POST",
          "request": {
            "$ref": "CreateAndConfigureAccountRequest"
          },
          "flatPath": "accounts/v1/accounts:createAndConfigure",
          "description": "Creates a Merchant Center account with additional configuration. Adds the user that makes the request as an admin for the new account.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "parameters": {}
        },
        "get": {
          "description": "Retrieves an account from your Merchant Center account. After inserting, updating, or deleting an account, it may take several minutes before changes take effect.",
          "response": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The name of the account to retrieve. Format: `accounts/{account}`",
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "merchantapi.accounts.get",
          "flatPath": "accounts/v1/accounts/{accountsId}",
          "path": "accounts/v1/{+name}",
          "httpMethod": "GET"
        },
        "listSubaccounts": {
          "id": "merchantapi.accounts.listSubaccounts",
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of accounts to return. The service may return fewer than this value. If unspecified, at most 250 accounts are returned. The maximum value is 500; values above 500 are coerced to 500.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous `accounts.list` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided in the `accounts.list` request must match the call that provided the page token.",
              "type": "string"
            },
            "provider": {
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "description": "Required. The aggregation service provider. Format: `accounts/{accountId}`",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "ListSubAccountsResponse"
          },
          "description": "List all sub-accounts for a given advanced account. This is a convenience wrapper for the more powerful `accounts.list` method. This method will produce the same results as calling `ListsAccounts` with the following filter: `relationship(providerId={parent} AND service(type=\"ACCOUNT_AGGREGATION\"))`",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "flatPath": "accounts/v1/accounts/{accountsId}:listSubaccounts",
          "path": "accounts/v1/{+provider}:listSubaccounts",
          "parameterOrder": [
            "provider"
          ]
        }
      },
      "resources": {
        "gbpAccounts": {
          "methods": {
            "linkGbpAccount": {
              "path": "accounts/v1/{+parent}/gbpAccounts:linkGbpAccount",
              "description": "Link the specified merchant to a GBP account for all countries. To run this method, you must have admin access to the Merchant Center account. If you don't have admin access, the request fails with the error message `User is not an administrator of account {ACCOUNT_ID}`.",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "LinkGbpAccountResponse"
              },
              "request": {
                "$ref": "LinkGbpAccountRequest"
              },
              "id": "merchantapi.accounts.gbpAccounts.linkGbpAccount",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The name of the parent resource to which the GBP account is linked. Format: `accounts/{account}`."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1/accounts/{accountsId}/gbpAccounts:linkGbpAccount"
            },
            "list": {
              "flatPath": "accounts/v1/accounts/{accountsId}/gbpAccounts",
              "description": "List the GBP accounts for a given merchant.",
              "id": "merchantapi.accounts.gbpAccounts.list",
              "path": "accounts/v1/{+parent}/gbpAccounts",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "ListGbpAccountsResponse"
              },
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of `GbpAccount` resources to return. The service returns fewer than this value if the number of gbp accounts is less that than the `pageSize`. The default value is 50. The maximum value is 1000; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListGbpAccounts` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `ListGbpAccounts` must match the call that provided the page token."
                },
                "parent": {
                  "description": "Required. The name of the parent resource under which the GBP accounts are listed. Format: `accounts/{account}`.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+$"
                }
              }
            }
          }
        },
        "developerRegistration": {
          "methods": {
            "unregisterGcp": {
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "POST",
              "path": "accounts/v1/{+name}:unregisterGcp",
              "description": "Unregister the calling GCP from the calling shopping account. Note that the GCP will still be able to access the API for at most 1 day from the unregister succussful call.",
              "request": {
                "$ref": "UnregisterGcpRequest"
              },
              "flatPath": "accounts/v1/accounts/{accountsId}/developerRegistration:unregisterGcp",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/developerRegistration$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the developer registration to be created for the merchant account that the GCP will be registered with. Format: `accounts/{account}/developerRegistration`"
                }
              },
              "id": "merchantapi.accounts.developerRegistration.unregisterGcp",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "getAccountForGcpRegistration": {
              "response": {
                "$ref": "GetAccountForGcpRegistrationResponse"
              },
              "description": "Retrieves the merchant account that the calling GCP is registered with.",
              "id": "merchantapi.accounts.developerRegistration.getAccountForGcpRegistration",
              "parameters": {},
              "flatPath": "accounts/v1/accounts:getAccountForGcpRegistration",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET",
              "path": "accounts/v1/accounts:getAccountForGcpRegistration",
              "parameterOrder": []
            },
            "registerGcp": {
              "request": {
                "$ref": "RegisterGcpRequest"
              },
              "response": {
                "$ref": "DeveloperRegistration"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the developer registration to be created for the merchant account that the GCP will be registered with. Format: `accounts/{account}/developerRegistration` The {account} used must be the same account where user calling this API method is directly added to. Note: The account used must be a production account (can't be a [test account](https://developers.google.com/merchant/api/guides/accounts/test-accounts) ) and must have a [verified website](https://support.google.com/merchants/answer/11586344) in Merchant Center.",
                  "pattern": "^accounts/[^/]+/developerRegistration$",
                  "type": "string"
                }
              },
              "description": "Registers the GCP used for the API call to the shopping account passed in the request. Will create a user with an \"API developer\" and add the \"developer_email\" as a contact with \"API notifications\" email preference on. Restrictions: * The caller account must be authenticated and must not impersonate another account at registration time. Registering for subaccounts is not supported if the caller account is authenticated with the parent or the managing advanced account. * The caller account must have a [verified website](https://support.google.com/merchants/answer/11586344) in Merchant Center. * [Test accounts](https://developers.google.com/merchant/api/guides/accounts/test-accounts) are not eligible for registration.",
              "id": "merchantapi.accounts.developerRegistration.registerGcp",
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1/{+name}:registerGcp",
              "httpMethod": "POST",
              "flatPath": "accounts/v1/accounts/{accountsId}/developerRegistration:registerGcp",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "getDeveloperRegistration": {
              "description": "Retrieves a developer registration for a merchant.",
              "response": {
                "$ref": "DeveloperRegistration"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The `name` (ID) of the developer registration.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/developerRegistration$"
                }
              },
              "id": "merchantapi.accounts.developerRegistration.getDeveloperRegistration",
              "flatPath": "accounts/v1/accounts/{accountsId}/developerRegistration",
              "path": "accounts/v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "emailPreferences": {
          "methods": {
            "updateEmailPreferences": {
              "response": {
                "$ref": "EmailPreferences"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "PATCH",
              "path": "accounts/v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "EmailPreferences"
              },
              "flatPath": "accounts/v1/accounts/{accountsId}/users/{usersId}/emailPreferences",
              "parameters": {
                "updateMask": {
                  "description": "Required. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `news_and_tips`",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "pattern": "^accounts/[^/]+/users/[^/]+/emailPreferences$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier. The name of the EmailPreferences. The endpoint is only supported for the authenticated user."
                }
              },
              "description": "Updates the email preferences for a Merchant Center account user. Advanced account users should specify the advanced account rather than a sub-account of the advanced account. Preferences which are not explicitly selected in the update mask will not be updated. It is invalid for updates to specify an UNCONFIRMED opt-in status value. Use the name=accounts/*/users/me/emailPreferences alias to update preferences for the authenticated user.",
              "id": "merchantapi.accounts.emailPreferences.updateEmailPreferences"
            },
            "getEmailPreferences": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the `EmailPreferences` resource. Format: `accounts/{account}/users/{email}/emailPreferences`",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/users/[^/]+/emailPreferences$"
                }
              },
              "id": "merchantapi.accounts.emailPreferences.getEmailPreferences",
              "description": "Returns the email preferences for a Merchant Center account user. This service only permits retrieving and updating email preferences for the authenticated user. Use the name=accounts/*/users/me/emailPreferences alias to get preferences for the authenticated user.",
              "response": {
                "$ref": "EmailPreferences"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1/accounts/{accountsId}/users/{usersId}/emailPreferences",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1/{+name}"
            }
          }
        },
        "users": {
          "resources": {
            "me": {
              "methods": {
                "verifySelf": {
                  "request": {
                    "$ref": "VerifySelfRequest"
                  },
                  "path": "accounts/v1/{+account}/users/me:verifySelf",
                  "parameters": {
                    "account": {
                      "type": "string",
                      "description": "Required. The name of the account under which the caller is a user. Format: `accounts/{account}`",
                      "pattern": "^accounts/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "User"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "id": "merchantapi.accounts.users.me.verifySelf",
                  "parameterOrder": [
                    "account"
                  ],
                  "httpMethod": "PATCH",
                  "description": "Updates the user that is represented by the caller from pending to verified.",
                  "flatPath": "accounts/v1/accounts/{accountsId}/users/me:verifySelf"
                }
              }
            }
          },
          "methods": {
            "create": {
              "path": "accounts/v1/{+parent}/users",
              "httpMethod": "POST",
              "response": {
                "$ref": "User"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Creates a Merchant Center account user. Executing this method requires admin access.",
              "id": "merchantapi.accounts.users.create",
              "request": {
                "$ref": "User"
              },
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The resource name of the account for which a user will be created. Format: `accounts/{account}`",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "userId": {
                  "location": "query",
                  "description": "Required. The email address of the user (for example, `john.doe@gmail.com`).",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "accounts/v1/accounts/{accountsId}/users"
            },
            "list": {
              "response": {
                "$ref": "ListUsersResponse"
              },
              "description": "Lists all users of a Merchant Center account.",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of users to return. The service may return fewer than this value. If unspecified, at most 50 users will be returned. The maximum value is 100; values above 100 will be coerced to 100"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListUsers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUsers` must match the call that provided the page token.",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent, which owns this collection of users. Format: `accounts/{account}`"
                }
              },
              "path": "accounts/v1/{+parent}/users",
              "httpMethod": "GET",
              "id": "merchantapi.accounts.users.list",
              "flatPath": "accounts/v1/accounts/{accountsId}/users",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "request": {
                "$ref": "User"
              },
              "description": "Updates a Merchant Center account user. Executing this method requires admin access.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/users/[^/]+$",
                  "type": "string",
                  "description": "Identifier. The resource name of the user. Format: `accounts/{account}/user/{email}` Use `me` to refer to your own email address, for example `accounts/{account}/users/me`."
                },
                "updateMask": {
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `access_rights`",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "accounts/v1/accounts/{accountsId}/users/{usersId}",
              "path": "accounts/v1/{+name}",
              "id": "merchantapi.accounts.users.patch",
              "response": {
                "$ref": "User"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH"
            },
            "get": {
              "response": {
                "$ref": "User"
              },
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/users/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the user to retrieve. Format: `accounts/{account}/users/{email}` It is also possible to retrieve the user corresponding to the caller by using `me` rather than an email address as in `accounts/{account}/users/me`.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieves a Merchant Center account user.",
              "id": "merchantapi.accounts.users.get",
              "path": "accounts/v1/{+name}",
              "flatPath": "accounts/v1/accounts/{accountsId}/users/{usersId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1/{+name}",
              "id": "merchantapi.accounts.users.delete",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "flatPath": "accounts/v1/accounts/{accountsId}/users/{usersId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+/users/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the user to delete. Format: `accounts/{account}/users/{email}` It is also possible to delete the user corresponding to the caller by using `me` rather than an email address as in `accounts/{account}/users/me`."
                }
              },
              "description": "Deletes a Merchant Center account user. Executing this method requires admin access. The user to be deleted can't be the last admin user of that account.",
              "response": {
                "$ref": "Empty"
              }
            }
          }
        },
        "automaticImprovements": {
          "methods": {
            "updateAutomaticImprovements": {
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Required. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `item_updates` - `item_updates.account_level_settings` - `image_improvements` - `image_improvements.account_level_settings` - `shipping_improvements` - `shipping_improvements.allow_shipping_improvements`",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/automaticImprovements$",
                  "description": "Identifier. The resource name of the automatic improvements. Format: `accounts/{account}/automaticImprovements`."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "AutomaticImprovements"
              },
              "request": {
                "$ref": "AutomaticImprovements"
              },
              "description": "Updates the automatic improvements of an account.",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.automaticImprovements.updateAutomaticImprovements",
              "path": "accounts/v1/{+name}",
              "flatPath": "accounts/v1/accounts/{accountsId}/automaticImprovements"
            },
            "getAutomaticImprovements": {
              "id": "merchantapi.accounts.automaticImprovements.getAutomaticImprovements",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1/accounts/{accountsId}/automaticImprovements",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the automatic improvements. Format: `accounts/{account}/automaticImprovements`",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/automaticImprovements$"
                }
              },
              "description": "Retrieves the automatic improvements of an account.",
              "response": {
                "$ref": "AutomaticImprovements"
              },
              "httpMethod": "GET",
              "path": "accounts/v1/{+name}"
            }
          }
        },
        "regions": {
          "methods": {
            "batchDelete": {
              "path": "accounts/v1/{+parent}/regions:batchDelete",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "BatchDeleteRegionsRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The account to delete one or more regions from. Format: `accounts/{account}`"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Deletes multiple regions by name from your Merchant Center account. Executing this method requires admin access.",
              "id": "merchantapi.accounts.regions.batchDelete",
              "httpMethod": "POST",
              "flatPath": "accounts/v1/accounts/{accountsId}/regions:batchDelete"
            },
            "delete": {
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.regions.delete",
              "flatPath": "accounts/v1/accounts/{accountsId}/regions/{regionsId}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the region to delete. Format: `accounts/{account}/regions/{region}`",
                  "pattern": "^accounts/[^/]+/regions/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "accounts/v1/{+name}",
              "description": "Deletes a region definition from your Merchant Center account. Executing this method requires admin access.",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "id": "merchantapi.accounts.regions.get",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "accounts/v1/accounts/{accountsId}/regions/{regionsId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Retrieves a region defined in your Merchant Center account.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/regions/[^/]+$",
                  "description": "Required. The name of the region to retrieve. Format: `accounts/{account}/regions/{region}`"
                }
              },
              "path": "accounts/v1/{+name}",
              "response": {
                "$ref": "Region"
              }
            },
            "list": {
              "httpMethod": "GET",
              "id": "merchantapi.accounts.regions.list",
              "path": "accounts/v1/{+parent}/regions",
              "response": {
                "$ref": "ListRegionsResponse"
              },
              "flatPath": "accounts/v1/accounts/{accountsId}/regions",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of regions to return. The service may return fewer than this value. If unspecified, at most 50 regions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The account to list regions for. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListRegions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRegions` must match the call that provided the page token."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Lists the regions in your Merchant Center account.",
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "request": {
                "$ref": "Region"
              },
              "response": {
                "$ref": "Region"
              },
              "id": "merchantapi.accounts.regions.patch",
              "httpMethod": "PATCH",
              "path": "accounts/v1/{+name}",
              "description": "Updates a region definition in your Merchant Center account. Executing this method requires admin access.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1/accounts/{accountsId}/regions/{regionsId}",
              "parameters": {
                "updateMask": {
                  "description": "Optional. The comma-separated field mask indicating the fields to update. Example: `\"displayName,postalCodeArea.regionCode\"`.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "description": "Identifier. The resource name of the region. Format: `accounts/{account}/regions/{region}`",
                  "pattern": "^accounts/[^/]+/regions/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "batchUpdate": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "BatchUpdateRegionsRequest"
              },
              "description": "Updates one or more regions in your Merchant Center account. Executing this method requires admin access.",
              "flatPath": "accounts/v1/accounts/{accountsId}/regions:batchUpdate",
              "id": "merchantapi.accounts.regions.batchUpdate",
              "path": "accounts/v1/{+parent}/regions:batchUpdate",
              "parameters": {
                "parent": {
                  "description": "Required. The account to update one or more regions for. Format: `accounts/{account}`",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "BatchUpdateRegionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "create": {
              "flatPath": "accounts/v1/accounts/{accountsId}/regions",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a region definition in your Merchant Center account. Executing this method requires admin access.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "Region"
              },
              "id": "merchantapi.accounts.regions.create",
              "response": {
                "$ref": "Region"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The account to create a region for. Format: `accounts/{account}`",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "regionId": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The identifier for the region, unique over all regions of the same account."
                }
              },
              "path": "accounts/v1/{+parent}/regions"
            },
            "batchCreate": {
              "path": "accounts/v1/{+parent}/regions:batchCreate",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "merchantapi.accounts.regions.batchCreate",
              "response": {
                "$ref": "BatchCreateRegionsResponse"
              },
              "httpMethod": "POST",
              "description": "Creates one or more regions in your Merchant Center account. Executing this method requires admin access.",
              "flatPath": "accounts/v1/accounts/{accountsId}/regions:batchCreate",
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The account to create one or more regions for. Format: `accounts/{account}`"
                }
              },
              "request": {
                "$ref": "BatchCreateRegionsRequest"
              }
            }
          }
        },
        "autofeedSettings": {
          "methods": {
            "getAutofeedSettings": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.autofeedSettings.getAutofeedSettings",
              "description": "Retrieves the autofeed settings of an account.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1/accounts/{accountsId}/autofeedSettings",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The resource name of the autofeed settings. Format: `accounts/{account}/autofeedSettings`",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/autofeedSettings$"
                }
              },
              "path": "accounts/v1/{+name}",
              "response": {
                "$ref": "AutofeedSettings"
              },
              "httpMethod": "GET"
            },
            "updateAutofeedSettings": {
              "parameters": {
                "name": {
                  "description": "Identifier. The resource name of the autofeed settings. Format: `accounts/{account}/autofeedSettings`.",
                  "pattern": "^accounts/[^/]+/autofeedSettings$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "description": "Required. List of fields being updated.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Updates the autofeed settings of an account.",
              "request": {
                "$ref": "AutofeedSettings"
              },
              "response": {
                "$ref": "AutofeedSettings"
              },
              "id": "merchantapi.accounts.autofeedSettings.updateAutofeedSettings",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1/accounts/{accountsId}/autofeedSettings",
              "path": "accounts/v1/{+name}",
              "httpMethod": "PATCH"
            }
          }
        },
        "homepage": {
          "methods": {
            "getHomepage": {
              "httpMethod": "GET",
              "flatPath": "accounts/v1/accounts/{accountsId}/homepage",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1/{+name}",
              "response": {
                "$ref": "Homepage"
              },
              "id": "merchantapi.accounts.homepage.getHomepage",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/homepage$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the homepage to retrieve. Format: `accounts/{account}/homepage`"
                }
              },
              "description": "Retrieves a store's homepage.",
              "parameterOrder": [
                "name"
              ]
            },
            "claim": {
              "request": {
                "$ref": "ClaimHomepageRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Claims a store's homepage. Executing this method requires admin access. If the homepage is already claimed, this will recheck the verification (unless the business is exempted from claiming, which also exempts from verification) and return a successful response. If ownership can no longer be verified, it will return an error, but it won't clear the claim. In case of failure, a canonical error message is returned: * PERMISSION_DENIED: User doesn't have the necessary permissions on this Merchant Center account. * FAILED_PRECONDITION: - The account is not a Merchant Center account. - Merchant Center account doesn't have a homepage. - Claiming failed (in this case the error message contains more details).",
              "flatPath": "accounts/v1/accounts/{accountsId}/homepage:claim",
              "httpMethod": "POST",
              "path": "accounts/v1/{+name}:claim",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/homepage$",
                  "description": "Required. The name of the homepage to claim. Format: `accounts/{account}/homepage`"
                }
              },
              "response": {
                "$ref": "Homepage"
              },
              "id": "merchantapi.accounts.homepage.claim",
              "parameterOrder": [
                "name"
              ]
            },
            "updateHomepage": {
              "request": {
                "$ref": "Homepage"
              },
              "flatPath": "accounts/v1/accounts/{accountsId}/homepage",
              "id": "merchantapi.accounts.homepage.updateHomepage",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "path": "accounts/v1/{+name}",
              "response": {
                "$ref": "Homepage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Updates a store's homepage. Executing this method requires admin access.",
              "parameters": {
                "updateMask": {
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `uri`",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/homepage$",
                  "description": "Identifier. The resource name of the store's homepage. Format: `accounts/{account}/homepage`"
                }
              }
            },
            "unclaim": {
              "response": {
                "$ref": "Homepage"
              },
              "request": {
                "$ref": "UnclaimHomepageRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.homepage.unclaim",
              "httpMethod": "POST",
              "flatPath": "accounts/v1/accounts/{accountsId}/homepage:unclaim",
              "description": "Unclaims a store's homepage. Executing this method requires admin access.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/homepage$",
                  "description": "Required. The name of the homepage to unclaim. Format: `accounts/{account}/homepage`"
                }
              },
              "path": "accounts/v1/{+name}:unclaim"
            }
          }
        },
        "relationships": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the account relationship to get. Format: `accounts/{account}/relationships/{relationship}`. For example, `accounts/123456/relationships/567890`.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/relationships/[^/]+$"
                }
              },
              "response": {
                "$ref": "AccountRelationship"
              },
              "description": "Retrieve an account relationship.",
              "httpMethod": "GET",
              "flatPath": "accounts/v1/accounts/{accountsId}/relationships/{relationshipsId}",
              "id": "merchantapi.accounts.relationships.get",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1/{+name}"
            },
            "patch": {
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/relationships/[^/]+$",
                  "description": "Identifier. The resource name of the account relationship. Format: `accounts/{account}/relationships/{relationship}`. For example, `accounts/123456/relationships/567890`.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `account_id_alias`",
                  "format": "google-fieldmask"
                }
              },
              "id": "merchantapi.accounts.relationships.patch",
              "request": {
                "$ref": "AccountRelationship"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1/accounts/{accountsId}/relationships/{relationshipsId}",
              "description": "Updates the account relationship. Executing this method requires admin access.",
              "httpMethod": "PATCH",
              "path": "accounts/v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "AccountRelationship"
              }
            },
            "list": {
              "id": "merchantapi.accounts.relationships.list",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1/{+parent}/relationships",
              "parameters": {
                "parent": {
                  "description": "Required. The parent account of the account relationship to filter by. Format: `accounts/{account}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. The token returned by the previous `list` request.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of elements to return in the response. Use for paging. If no `page_size` is specified, `100` is used as the default value. The maximum allowed value is `1000`."
                }
              },
              "flatPath": "accounts/v1/accounts/{accountsId}/relationships",
              "description": "List account relationships for the specified account.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListAccountRelationshipsResponse"
              }
            }
          }
        },
        "businessInfo": {
          "methods": {
            "updateBusinessInfo": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1/{+name}",
              "response": {
                "$ref": "BusinessInfo"
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "BusinessInfo"
              },
              "description": "Updates the business info of an account. Executing this method requires admin access.",
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.businessInfo.updateBusinessInfo",
              "flatPath": "accounts/v1/accounts/{accountsId}/businessInfo",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/businessInfo$",
                  "description": "Identifier. The resource name of the business info. Format: `accounts/{account}/businessInfo`",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `address` - `customer_service` - `korean_business_registration_number`",
                  "type": "string"
                }
              }
            },
            "getBusinessInfo": {
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/businessInfo$",
                  "type": "string",
                  "description": "Required. The resource name of the business info. Format: `accounts/{account}/businessInfo`. For example, `accounts/123456/businessInfo`.",
                  "location": "path",
                  "required": true
                }
              },
              "id": "merchantapi.accounts.businessInfo.getBusinessInfo",
              "path": "accounts/v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "BusinessInfo"
              },
              "description": "Retrieves the business info of an account.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1/accounts/{accountsId}/businessInfo"
            }
          }
        },
        "onlineReturnPolicies": {
          "methods": {
            "list": {
              "description": "Lists all existing return policies for a given business.",
              "parameters": {
                "parent": {
                  "description": "Required. The Merchant Center account for which to list return policies. Format: `accounts/{account}`",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of `OnlineReturnPolicy` resources to return. The service returns fewer than this value if the number of return policies for the given business is less that than the `pageSize`. The default value is 10. The maximum value is 100; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListOnlineReturnPolicies` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `ListOnlineReturnPolicies` must match the call that provided the page token. The token returned as nextPageToken in the response to the previous request.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.onlineReturnPolicies.list",
              "response": {
                "$ref": "ListOnlineReturnPoliciesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "accounts/v1/{+parent}/onlineReturnPolicies",
              "httpMethod": "GET",
              "flatPath": "accounts/v1/accounts/{accountsId}/onlineReturnPolicies"
            },
            "get": {
              "description": "Gets an existing return policy for a given business.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "accounts/v1/accounts/{accountsId}/onlineReturnPolicies/{onlineReturnPoliciesId}",
              "path": "accounts/v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the return policy to retrieve. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/onlineReturnPolicies/[^/]+$"
                }
              },
              "id": "merchantapi.accounts.onlineReturnPolicies.get",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "OnlineReturnPolicy"
              }
            },
            "create": {
              "id": "merchantapi.accounts.onlineReturnPolicies.create",
              "flatPath": "accounts/v1/accounts/{accountsId}/onlineReturnPolicies",
              "httpMethod": "POST",
              "description": "Creates a new return policy for a given business.",
              "request": {
                "$ref": "OnlineReturnPolicy"
              },
              "response": {
                "$ref": "OnlineReturnPolicy"
              },
              "path": "accounts/v1/{+parent}/onlineReturnPolicies",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The Merchant Center account for which the return policy will be created. Format: `accounts/{account}`",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "id": "merchantapi.accounts.onlineReturnPolicies.delete",
              "flatPath": "accounts/v1/accounts/{accountsId}/onlineReturnPolicies/{onlineReturnPoliciesId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes an existing return policy.",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/onlineReturnPolicies/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the return policy to delete. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1/{+name}"
            }
          }
        },
        "issues": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAccountIssuesResponse"
              },
              "httpMethod": "GET",
              "description": "Lists all account issues of a Merchant Center account. When called on a multi-client account, this method only returns issues belonging to that account, not its sub-accounts. To retrieve issues for sub-accounts, you must first call the accounts.listSubaccounts method to obtain a list of sub-accounts, and then call `accounts.issues.list` for each sub-account individually.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1/{+parent}/issues",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListAccountIssues` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountIssues` must match the call that provided the page token."
                },
                "pageSize": {
                  "description": "Optional. The maximum number of issues to return. The service may return fewer than this value. If unspecified, at most 50 issues will be returned. The maximum value is 100; values above 100 will be coerced to 100",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "timeZone": {
                  "description": "Optional. The [IANA](https://www.iana.org/time-zones) timezone used to localize times in human-readable fields. For example 'America/Los_Angeles'. If not set, 'America/Los_Angeles' will be used.",
                  "location": "query",
                  "type": "string"
                },
                "languageCode": {
                  "type": "string",
                  "description": "Optional. The issues in the response will have human-readable fields in the given language. The format is [BCP-47](https://tools.ietf.org/html/bcp47), such as `en-US` or `sr-Latn`. If not value is provided, `en-US` will be used.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The parent, which owns this collection of issues. Format: `accounts/{account}`",
                  "type": "string"
                }
              },
              "flatPath": "accounts/v1/accounts/{accountsId}/issues",
              "id": "merchantapi.accounts.issues.list"
            }
          }
        },
        "termsOfServiceAgreementStates": {
          "methods": {
            "get": {
              "id": "merchantapi.accounts.termsOfServiceAgreementStates.get",
              "flatPath": "accounts/v1/accounts/{accountsId}/termsOfServiceAgreementStates/{termsOfServiceAgreementStatesId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Returns the state of a terms of service agreement.",
              "response": {
                "$ref": "TermsOfServiceAgreementState"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The resource name of the terms of service version. Format: `accounts/{account}/termsOfServiceAgreementStates/{identifier}` The identifier format is: `{TermsOfServiceKind}-{country}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/termsOfServiceAgreementStates/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1/{+name}"
            },
            "retrieveForApplication": {
              "path": "accounts/v1/{+parent}/termsOfServiceAgreementStates:retrieveForApplication",
              "flatPath": "accounts/v1/accounts/{accountsId}/termsOfServiceAgreementStates:retrieveForApplication",
              "id": "merchantapi.accounts.termsOfServiceAgreementStates.retrieveForApplication",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account for which to get a TermsOfServiceAgreementState Format: `accounts/{account}`",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "TermsOfServiceAgreementState"
              },
              "httpMethod": "GET",
              "description": "Retrieves the state of the agreement for the application terms of service. Application terms of service covers permissions related to the usage of data provided through Merchant Center, CSS Center, Manufacturer Center, and more."
            }
          }
        },
        "omnichannelSettings": {
          "methods": {
            "requestInventoryVerification": {
              "request": {
                "$ref": "RequestInventoryVerificationRequest"
              },
              "description": "Requests inventory verification for a given merchant in a given country.",
              "response": {
                "$ref": "RequestInventoryVerificationResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.omnichannelSettings.requestInventoryVerification",
              "parameters": {
                "name": {
                  "description": "Required. The name of the omnichannel setting to request inventory verification. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$",
                  "type": "string"
                }
              },
              "path": "accounts/v1/{+name}:requestInventoryVerification",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "POST",
              "flatPath": "accounts/v1/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}:requestInventoryVerification"
            },
            "create": {
              "httpMethod": "POST",
              "response": {
                "$ref": "OmnichannelSetting"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource where this omnichannel setting will be created. Format: `accounts/{account}`",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "path": "accounts/v1/{+parent}/omnichannelSettings",
              "flatPath": "accounts/v1/accounts/{accountsId}/omnichannelSettings",
              "id": "merchantapi.accounts.omnichannelSettings.create",
              "description": "Create the omnichannel settings for a given merchant.",
              "request": {
                "$ref": "OmnichannelSetting"
              }
            },
            "get": {
              "response": {
                "$ref": "OmnichannelSetting"
              },
              "httpMethod": "GET",
              "description": "Get the omnichannel settings for a given merchant.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}",
              "id": "merchantapi.accounts.omnichannelSettings.get",
              "parameters": {
                "name": {
                  "description": "Required. The name of the omnichannel setting to retrieve. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`",
                  "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "List all the omnichannel settings for a given merchant.",
              "response": {
                "$ref": "ListOmnichannelSettingsResponse"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The parent, which owns this collection of omnichannel settings. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListOmnichannelSettings` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOmnichannelSettings` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of omnichannel settings to return. The service may return fewer than this value. If unspecified, at most 50 omnichannel settings will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "path": "accounts/v1/{+parent}/omnichannelSettings",
              "flatPath": "accounts/v1/accounts/{accountsId}/omnichannelSettings",
              "id": "merchantapi.accounts.omnichannelSettings.list"
            },
            "patch": {
              "parameters": {
                "updateMask": {
                  "description": "Required. The list of fields to be updated. The following fields are supported in snake_case only: - `lsf_type` - `in_stock` - `pickup` - `odo` - `about` - `inventory_verification` Full replacement with wildcard `*`is supported, while empty/implied update mask is not.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$",
                  "description": "Identifier. The resource name of the omnichannel setting. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`"
                }
              },
              "description": "Update the omnichannel setting for a given merchant in a given country.",
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.omnichannelSettings.patch",
              "flatPath": "accounts/v1/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "OmnichannelSetting"
              },
              "response": {
                "$ref": "OmnichannelSetting"
              },
              "path": "accounts/v1/{+name}"
            }
          },
          "resources": {
            "lfpProviders": {
              "methods": {
                "find": {
                  "response": {
                    "$ref": "FindLfpProvidersResponse"
                  },
                  "id": "merchantapi.accounts.omnichannelSettings.lfpProviders.find",
                  "path": "accounts/v1/{+parent}/lfpProviders:find",
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the parent resource under which the LFP providers are found. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `FindLfpProviders` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `FindLfpProviders` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of `LfpProvider` resources to return. The service returns fewer than this value if the number of lfp providers is less that than the `pageSize`. The default value is 50. The maximum value is 1000; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "accounts/v1/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}/lfpProviders:find",
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "description": "Find the LFP provider candidates in a given country.",
                  "httpMethod": "GET"
                },
                "linkLfpProvider": {
                  "path": "accounts/v1/{+name}:linkLfpProvider",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the LFP provider resource to link. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}/lfpProviders/{lfp_provider}`. The `lfp_provider` is the LFP provider ID.",
                      "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+/lfpProviders/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "accounts/v1/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}/lfpProviders/{lfpProvidersId}:linkLfpProvider",
                  "request": {
                    "$ref": "LinkLfpProviderRequest"
                  },
                  "description": "Link the specified merchant to a LFP provider for the specified country.",
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "LinkLfpProviderResponse"
                  },
                  "id": "merchantapi.accounts.omnichannelSettings.lfpProviders.linkLfpProvider"
                }
              }
            }
          }
        },
        "businessIdentity": {
          "methods": {
            "getBusinessIdentity": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the business identity. Format: `accounts/{account}/businessIdentity`. For example, `accounts/123456/businessIdentity`.",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/businessIdentity$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1/{+name}",
              "flatPath": "accounts/v1/accounts/{accountsId}/businessIdentity",
              "description": "Retrieves the business identity of an account.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "BusinessIdentity"
              },
              "id": "merchantapi.accounts.businessIdentity.getBusinessIdentity"
            },
            "updateBusinessIdentity": {
              "response": {
                "$ref": "BusinessIdentity"
              },
              "path": "accounts/v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/businessIdentity$",
                  "description": "Identifier. The resource name of the business identity. Format: `accounts/{account}/businessIdentity`",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `black_owned` - `latino_owned` - `promotions_consent` - `small_business` - `veteran_owned` - `women_owned`"
                }
              },
              "description": "Updates the business identity of an account. Executing this method requires admin access.",
              "id": "merchantapi.accounts.businessIdentity.updateBusinessIdentity",
              "request": {
                "$ref": "BusinessIdentity"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1/accounts/{accountsId}/businessIdentity",
              "httpMethod": "PATCH"
            }
          }
        },
        "shippingSettings": {
          "methods": {
            "getShippingSettings": {
              "path": "accounts/v1/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "ShippingSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.shippingSettings.getShippingSettings",
              "description": "Retrieve shipping setting information.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the shipping setting to retrieve. Format: `accounts/{account}/shippingsettings`",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/shippingSettings$"
                }
              },
              "flatPath": "accounts/v1/accounts/{accountsId}/shippingSettings"
            },
            "insert": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Replace the shipping setting of a business with the request shipping setting. Executing this method requires admin access.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The account for which this shipping setting will be inserted. If you are using an advanced account, you must specify the unique identifier of the sub-account for which you want to insert the shipping setting. Format: `accounts/{ACCOUNT_ID}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "response": {
                "$ref": "ShippingSettings"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "id": "merchantapi.accounts.shippingSettings.insert",
              "path": "accounts/v1/{+parent}/shippingSettings:insert",
              "flatPath": "accounts/v1/accounts/{accountsId}/shippingSettings:insert",
              "request": {
                "$ref": "ShippingSettings"
              }
            }
          }
        },
        "programs": {
          "methods": {
            "list": {
              "flatPath": "accounts/v1/accounts/{accountsId}/programs",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1/{+parent}/programs",
              "httpMethod": "GET",
              "description": "Retrieves all programs for the account.",
              "id": "merchantapi.accounts.programs.list",
              "response": {
                "$ref": "ListProgramsResponse"
              },
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of programs to return in a single response. If unspecified (or 0), a default size of 1000 is used. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. A continuation token, received from a previous `ListPrograms` call. Provide this to retrieve the next page.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the account for which to retrieve all programs. Format: `accounts/{account}`",
                  "type": "string"
                }
              }
            },
            "enable": {
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/programs/[^/]+$",
                  "description": "Required. The name of the program for which to enable participation for the given account. Format: `accounts/{account}/programs/{program}`. For example, `accounts/123456/programs/free-listings`.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "EnableProgramRequest"
              },
              "id": "merchantapi.accounts.programs.enable",
              "response": {
                "$ref": "Program"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1/{+name}:enable",
              "description": "Enable participation in the specified program for the account.",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1/accounts/{accountsId}/programs/{programsId}:enable"
            },
            "get": {
              "httpMethod": "GET",
              "flatPath": "accounts/v1/accounts/{accountsId}/programs/{programsId}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Retrieves the specified program for the account.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the program to retrieve. Format: `accounts/{account}/programs/{program}`. For example, `accounts/123456/programs/free-listings`.",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/programs/[^/]+$"
                }
              },
              "response": {
                "$ref": "Program"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.programs.get",
              "path": "accounts/v1/{+name}"
            },
            "disable": {
              "parameterOrder": [
                "name"
              ],
              "description": "Disable participation in the specified program for the account.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1/accounts/{accountsId}/programs/{programsId}:disable",
              "httpMethod": "POST",
              "path": "accounts/v1/{+name}:disable",
              "id": "merchantapi.accounts.programs.disable",
              "response": {
                "$ref": "Program"
              },
              "request": {
                "$ref": "DisableProgramRequest"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the program for which to disable participation for the given account. Format: `accounts/{account}/programs/{program}`. For example, `accounts/123456/programs/free-listings`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/programs/[^/]+$"
                }
              }
            }
          },
          "resources": {
            "checkoutSettings": {
              "methods": {
                "deleteCheckoutSettings": {
                  "path": "accounts/v1/{+name}",
                  "id": "merchantapi.accounts.programs.checkoutSettings.deleteCheckoutSettings",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^accounts/[^/]+/programs/[^/]+/checkoutSettings$",
                      "description": "Required. The name/identifier of the merchant account. Format: `accounts/{account}/programs/{program}/checkoutSettings`"
                    }
                  },
                  "description": "Deletes `CheckoutSettings` and unenrolls merchant from `Checkout` program.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "accounts/v1/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ]
                },
                "getCheckoutSettings": {
                  "id": "merchantapi.accounts.programs.checkoutSettings.getCheckoutSettings",
                  "description": "Gets `CheckoutSettings` for the given merchant. This includes information about review state, enrollment state and URL settings.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name/identifier of the merchant account. Format: `accounts/{account}/programs/{program}/checkoutSettings`",
                      "pattern": "^accounts/[^/]+/programs/[^/]+/checkoutSettings$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "accounts/v1/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "path": "accounts/v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "response": {
                    "$ref": "CheckoutSettings"
                  }
                },
                "create": {
                  "path": "accounts/v1/{+parent}/checkoutSettings",
                  "id": "merchantapi.accounts.programs.checkoutSettings.create",
                  "httpMethod": "POST",
                  "flatPath": "accounts/v1/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "description": "Creates `CheckoutSettings` for the given merchant.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^accounts/[^/]+/programs/[^/]+$",
                      "description": "Required. The merchant account for which the `CheckoutSettings` will be created.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "request": {
                    "$ref": "CheckoutSettings"
                  },
                  "response": {
                    "$ref": "CheckoutSettings"
                  }
                },
                "updateCheckoutSettings": {
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "description": "Updates `CheckoutSettings` for the given merchant.",
                  "path": "accounts/v1/{+name}",
                  "id": "merchantapi.accounts.programs.checkoutSettings.updateCheckoutSettings",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^accounts/[^/]+/programs/[^/]+/checkoutSettings$",
                      "description": "Identifier. The resource name of the program configuration settings. Format: `accounts/{account}/programs/{program}/checkoutSettings`"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Required. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `eligible_destinations` - `uri_settings`",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "CheckoutSettings"
                  },
                  "request": {
                    "$ref": "CheckoutSettings"
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "accounts/v1/accounts/{accountsId}/programs/{programsId}/checkoutSettings"
                }
              }
            }
          }
        },
        "services": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "path": "accounts/v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1/accounts/{accountsId}/services/{servicesId}",
              "description": "Retrieve an account service.",
              "response": {
                "$ref": "AccountService"
              },
              "id": "merchantapi.accounts.services.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the account service to get. Format: `accounts/{account}/services/{service}`",
                  "pattern": "^accounts/[^/]+/services/[^/]+$",
                  "type": "string"
                }
              }
            },
            "propose": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "POST",
              "path": "accounts/v1/{+parent}/services:propose",
              "response": {
                "$ref": "AccountService"
              },
              "request": {
                "$ref": "ProposeAccountServiceRequest"
              },
              "id": "merchantapi.accounts.services.propose",
              "description": "Propose an account service.",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the parent account for the service. Format: `accounts/{account}`"
                }
              },
              "flatPath": "accounts/v1/accounts/{accountsId}/services:propose"
            },
            "reject": {
              "flatPath": "accounts/v1/accounts/{accountsId}/services/{servicesId}:reject",
              "parameterOrder": [
                "name"
              ],
              "description": "Reject an account service (both proposed and approve services can be rejected).",
              "id": "merchantapi.accounts.services.reject",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/services/[^/]+$",
                  "type": "string",
[...]
