{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/content": {
          "description": "Manage your product listings and accounts for Google Shopping"
        }
      }
    }
  },
  "baseUrl": "https://merchantapi.googleapis.com/",
  "version_module": true,
  "version": "products_v1beta",
  "description": "Programmatically manage your Merchant Center Accounts.",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "documentationLink": "https://developers.google.com/merchant/api",
  "ownerName": "Google",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "servicePath": "",
  "discoveryVersion": "v1",
  "schemas": {
    "Shipping": {
      "id": "Shipping",
      "type": "object",
      "properties": {
        "price": {
          "$ref": "Price",
          "description": "Fixed shipping price, represented as a number."
        },
        "minTransitTime": {
          "format": "int64",
          "type": "string",
          "description": "Minimum transit time (inclusive) between when the order has shipped and when it is delivered in business days. 0 means that the order is delivered on the same day as it ships. minTransitTime can only be present together with maxTransitTime; but it is not required if maxTransitTime is present."
        },
        "service": {
          "description": "A free-form description of the service class or delivery speed.",
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "The geographic region to which a shipping rate applies. See [region](https://support.google.com/merchants/answer/6324484) for more information."
        },
        "handlingCutoffTime": {
          "type": "string",
          "description": "The handling cutoff time until which an order has to be placed to be processed in the same day. This is a string in format of HHMM (e.g. `1530`) for 3:30 PM. If not configured, the cutoff time will be defaulted to 8AM PST and `handling_cutoff_timezone` will be ignored."
        },
        "locationId": {
          "format": "int64",
          "type": "string",
          "description": "The numeric ID of a location that the shipping rate applies to as defined in the [AdWords API](https://developers.google.com/adwords/api/docs/appendix/geotargeting)."
        },
        "minHandlingTime": {
          "type": "string",
          "description": "Minimum handling time (inclusive) between when the order is received and shipped in business days. 0 means that the order is shipped on the same day as it is received if it happens before the cut-off time. minHandlingTime can only be present together with maxHandlingTime; but it is not required if maxHandlingTime is present.",
          "format": "int64"
        },
        "loyaltyTierLabel": {
          "description": "Optional. The label of the [loyalty tier](https://support.google.com/merchants/answer/6324484) within the loyalty program. Must match one of the tiers set in the loyalty_programs. When set (in combination with [loyalty_program_label](https://support.google.com/merchants/answer/6324484)), this shipping option is only applicable to loyalty program members of the specified tier.",
          "type": "string"
        },
        "handlingCutoffTimezone": {
          "description": "[Timezone identifier](https://developers.google.com/adwords/api/docs/appendix/codes-formats#timezone-ids) For example `Europe/Zurich`. This field only applies if `handling_cutoff_time` is set. If `handling_cutoff_time` is set but this field is not set, the shipping destination timezone will be used. If both fields are not set, the handling cutoff time will default to 8AM PST.",
          "type": "string"
        },
        "loyaltyProgramLabel": {
          "description": "Optional. The label of the [loyalty program](https://support.google.com/merchants/answer/6324484). Must match one of the program labels set in loyalty_programs. When set (in combination with [loyalty_tier_label](https://support.google.com/merchants/answer/6324484)), this shipping option is only applicable to loyalty program members of the specified tier.",
          "type": "string"
        },
        "country": {
          "description": "The [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the country to which an item will ship.",
          "type": "string"
        },
        "locationGroupName": {
          "description": "The location where the shipping is applicable, represented by a location group name.",
          "type": "string"
        },
        "maxTransitTime": {
          "description": "Maximum transit time (inclusive) between when the order has shipped and when it is delivered in business days. 0 means that the order is delivered on the same day as it ships. Both maxHandlingTime and maxTransitTime are required if providing shipping speeds. minTransitTime is optional if maxTransitTime is present.",
          "format": "int64",
          "type": "string"
        },
        "postalCode": {
          "description": "The postal code range that the shipping rate applies to, represented by a postal code, a postal code prefix followed by a * wildcard, a range between two postal codes or two postal code prefixes of equal length.",
          "type": "string"
        },
        "maxHandlingTime": {
          "format": "int64",
          "description": "Maximum handling time (inclusive) between when the order is received and shipped in business days. 0 means that the order is shipped on the same day as it is received if it happens before the cut-off time. Both maxHandlingTime and maxTransitTime are required if providing shipping speeds. minHandlingTime is optional if maxHandlingTime is present.",
          "type": "string"
        }
      },
      "description": "The Shipping of the product."
    },
    "Product": {
      "properties": {
        "channel": {
          "type": "string",
          "enum": [
            "CHANNEL_ENUM_UNSPECIFIED",
            "ONLINE",
            "LOCAL"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Online product.",
            "Local product."
          ],
          "readOnly": true,
          "description": "Output only. The [channel](https://support.google.com/merchants/answer/7361332) of the product."
        },
        "base64EncodedName": {
          "description": "Output only. The **unpadded base64url encoded name** of the product. Format: `accounts/{account}/products/{product}` where the last section `product` is the unpadded base64url encoding of the `content_language~feed_label~offer_id` name. Example: `accounts/123/products/ZW5-VVN-c2t1LzEyMw` for the decoded product name `accounts/123/products/en~US~sku/123`. This field can be used directly as input to the API methods that require the product name to be encoded if it contains special characters, for example [`GetProduct`](https://developers.google.com/merchant/api/reference/rest/products_v1beta/accounts.products/get).",
          "readOnly": true,
          "type": "string"
        },
        "automatedDiscounts": {
          "$ref": "AutomatedDiscounts",
          "description": "Output only. The automated discounts information for the product.",
          "readOnly": true
        },
        "customAttributes": {
          "type": "array",
          "description": "Output only. A list of custom (merchant-provided) attributes. It can also be used to submit any attribute of the data specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API, such as additional attributes used for Buy on Google.",
          "readOnly": true,
          "items": {
            "$ref": "CustomAttribute"
          }
        },
        "feedLabel": {
          "type": "string",
          "description": "Output only. The feed label lets you categorize and identify your products. The maximum allowed characters is 20 and the supported characters are`A-Z`, `0-9`, hyphen and underscore. The feed label must not include any spaces. For more information, see [Using feed labels](//support.google.com/merchants/answer/14994087)",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the product. Format: `accounts/{account}/products/{product}` where the last section `product` consists of: `content_language~feed_label~offer_id` example for product name is `accounts/123/products/en~US~sku123`. A legacy local product name would be `accounts/123/products/local~en~US~sku123`. Note: For calls to the v1beta version, the `product` section consists of: `channel~content_language~feed_label~offer_id`, for example: `accounts/123/products/online~en~US~sku123`."
        },
        "versionNumber": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Represents the existing version (freshness) of the product, which can be used to preserve the right order when multiple updates are done at the same time. If set, the insertion is prevented when version number is lower than the current version number of the existing product. Re-insertion (for example, product refresh after 30 days) can be performed with the current `version_number`. Only supported for insertions into primary data sources. If the operation is prevented, the aborted exception will be thrown."
        },
        "contentLanguage": {
          "readOnly": true,
          "description": "Output only. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the product.",
          "type": "string"
        },
        "dataSource": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The primary data source of the product."
        },
        "attributes": {
          "readOnly": true,
          "$ref": "Attributes",
          "description": "Output only. A list of product attributes."
        },
        "offerId": {
          "description": "Output only. Your unique identifier for the product. This is the same for the product input and processed product. Leading and trailing whitespaces are stripped and multiple whitespaces are replaced by a single whitespace upon submission. See the [product data specification](https://support.google.com/merchants/answer/188494#id) for details.",
          "type": "string",
          "readOnly": true
        },
        "archived": {
          "description": "Output only. Determines whether the product is [archived](https://support.google.com/merchants/answer/11909930). To archive or restore your product, visit Merchant Center products page. Learn also more about [offer visibility](https://support.google.com/merchants/answer/12488713).",
          "readOnly": true,
          "type": "boolean"
        },
        "productStatus": {
          "$ref": "ProductStatus",
          "description": "Output only. The status of a product, data validation issues, that is, information about a product computed asynchronously.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The processed product, built from multiple product inputs after applying rules and supplemental data sources. This processed product matches what is shown in your Merchant Center account. Each product is built from exactly one primary data source product input, and multiple supplemental data source inputs. After inserting, updating, or deleting a product input, it may take several minutes before the updated processed product can be retrieved. All fields in the processed product and its sub-messages match the name of their corresponding attribute in the [Product data specification](https://support.google.com/merchants/answer/7052112) with some exceptions.",
      "id": "Product"
    },
    "ProductStatusChangeMessage": {
      "id": "ProductStatusChangeMessage",
      "type": "object",
      "properties": {
        "changes": {
          "type": "array",
          "description": "A message to describe the change that happened to the product",
          "items": {
            "$ref": "ProductChange"
          }
        },
        "expirationTime": {
          "description": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event.",
          "type": "string",
          "format": "google-datetime"
        },
        "attribute": {
          "description": "The attribute in the resource that changed, in this case it will be always `Status`.",
          "enumDescriptions": [
            "Unspecified attribute",
            "Status of the changed entity"
          ],
          "type": "string",
          "enum": [
            "ATTRIBUTE_UNSPECIFIED",
            "STATUS"
          ]
        },
        "eventTime": {
          "description": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications.",
          "format": "google-datetime",
          "type": "string"
        },
        "resource": {
          "description": "The product name. Format: `accounts/{account}/products/{product}`",
          "type": "string"
        },
        "resourceId": {
          "type": "string",
          "description": "The product id."
        },
        "managingAccount": {
          "type": "string",
          "description": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`"
        },
        "account": {
          "description": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`",
          "type": "string"
        },
        "resourceType": {
          "type": "string",
          "enum": [
            "RESOURCE_UNSPECIFIED",
            "PRODUCT",
            "ACCOUNT_SERVICE"
          ],
          "enumDescriptions": [
            "Unspecified resource",
            "Resource type : product",
            "Account service"
          ],
          "description": "The resource that changed, in this case it will always be `Product`."
        }
      },
      "description": "The message that the merchant will receive to notify about product status change event"
    },
    "ProductStructuredTitle": {
      "description": "Structured title, for algorithmically (AI)-generated titles.",
      "type": "object",
      "properties": {
        "digitalSourceType": {
          "type": "string",
          "description": "The digital source type, for example \"trained_algorithmic_media\". Following [IPTC](https://cv.iptc.org/newscodes/digitalsourcetype). Maximum length is 40 characters."
        },
        "content": {
          "description": "The title text Maximum length is 150 characters",
          "type": "string"
        }
      },
      "id": "ProductStructuredTitle"
    },
    "ProductSustainabilityIncentive": {
      "type": "object",
      "properties": {
        "amount": {
          "$ref": "Price",
          "description": "The fixed amount of the incentive."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "EV_TAX_CREDIT",
            "EV_PRICE_DISCOUNT"
          ],
          "enumDescriptions": [
            "Unspecified or unknown sustainability incentive type.",
            "Program offering tax liability reductions for electric vehicles and, in some countries, plug-in hybrids. These reductions can be based on a specific amount or a percentage of the sale price.",
            "A subsidy program, often called an environmental bonus, provides a purchase grant for electric vehicles and, in some countries, plug-in hybrids. The grant amount may be a fixed sum or a percentage of the sale price."
          ],
          "description": "Sustainability incentive program."
        },
        "percentage": {
          "type": "number",
          "format": "double",
          "description": "The percentage of the sale price that the incentive is applied to."
        }
      },
      "description": "Information regarding sustainability-related incentive programs such as rebates or tax relief.",
      "id": "ProductSustainabilityIncentive"
    },
    "ProductDetail": {
      "properties": {
        "attributeValue": {
          "type": "string",
          "description": "The value of the product detail."
        },
        "attributeName": {
          "description": "The name of the product detail.",
          "type": "string"
        },
        "sectionName": {
          "description": "The section header used to group a set of product details.",
          "type": "string"
        }
      },
      "description": "The product details.",
      "type": "object",
      "id": "ProductDetail"
    },
    "AutomatedDiscounts": {
      "id": "AutomatedDiscounts",
      "properties": {
        "priorPrice": {
          "$ref": "Price",
          "description": "The price prior to the application of the first price reduction. Absent if the information about the prior price of the product is not available."
        },
        "gadPrice": {
          "description": "The current sale price for products with a price optimized using Google Automated Discounts (GAD). Absent if the information about the GAD_price of the product is not available.",
          "$ref": "Price"
        },
        "priorPriceProgressive": {
          "$ref": "Price",
          "description": "The price prior to the application of consecutive price reductions. Absent if the information about the prior price of the product is not available."
        }
      },
      "description": "Information regarding Automated Discounts.",
      "type": "object"
    },
    "CustomAttribute": {
      "description": "A message that represents custom attributes. Exactly one of `value` or `group_values` must not be empty.",
      "id": "CustomAttribute",
      "type": "object",
      "properties": {
        "groupValues": {
          "type": "array",
          "items": {
            "$ref": "CustomAttribute"
          },
          "description": "Subattributes within this attribute group. If `group_values` is not empty, `value` must be empty."
        },
        "name": {
          "description": "The name of the attribute.",
          "type": "string"
        },
        "value": {
          "description": "The value of the attribute. If `value` is not empty, `group_values` must be empty.",
          "type": "string"
        }
      }
    },
    "UnitPricingMeasure": {
      "description": "The UnitPricingMeasure of the product.",
      "id": "UnitPricingMeasure",
      "properties": {
        "unit": {
          "type": "string",
          "description": "The unit of the measure."
        },
        "value": {
          "description": "The measure of an item.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "ItemLevelIssue": {
      "id": "ItemLevelIssue",
      "description": "The ItemLevelIssue of the product status.",
      "properties": {
        "applicableCountries": {
          "type": "array",
          "description": "List of country codes (ISO 3166-1 alpha-2) where issue applies to the offer.",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "A short issue description in English.",
          "type": "string"
        },
        "detail": {
          "type": "string",
          "description": "A detailed issue description in English."
        },
        "resolution": {
          "type": "string",
          "description": "Whether the issue can be resolved by the business."
        },
        "attribute": {
          "type": "string",
          "description": "The attribute's name, if the issue is caused by a single attribute."
        },
        "reportingContext": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "The reporting context the issue applies to.",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "type": "string",
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ]
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "NOT_IMPACTED",
            "DEMOTED",
            "DISAPPROVED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "This issue represents a warning and does not have a direct affect on the product.",
            "The product is demoted and most likely have limited performance in search results",
            "Issue disapproves the product."
          ],
          "description": "How this issue affects serving of the offer."
        },
        "code": {
          "description": "The error code of the issue.",
          "type": "string"
        },
        "documentation": {
          "description": "The URL of a web page to help with resolving this issue.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SubscriptionCost": {
      "description": "The SubscriptionCost of the product.",
      "type": "object",
      "properties": {
        "period": {
          "type": "string",
          "enum": [
            "SUBSCRIPTION_PERIOD_UNSPECIFIED",
            "MONTH",
            "YEAR",
            "WEEK"
          ],
          "description": "The type of subscription period. Supported values are: * \"`month`\" * \"`year`\" * \"`week`\"",
          "enumDescriptions": [
            "Indicates that the subscription period is unspecified.",
            "Indicates that the subscription period is month.",
            "Indicates that the subscription period is year.",
            "Indicates that the subscription period is week."
          ]
        },
        "amount": {
          "description": "The amount the buyer has to pay per subscription period.",
          "$ref": "Price"
        },
        "periodLength": {
          "type": "string",
          "description": "The number of subscription periods the buyer has to pay.",
          "format": "int64"
        }
      },
      "id": "SubscriptionCost"
    },
    "ShippingWeight": {
      "type": "object",
      "id": "ShippingWeight",
      "description": "The ShippingWeight of the product.",
      "properties": {
        "value": {
          "description": "The weight of the product used to calculate the shipping cost of the item.",
          "type": "number",
          "format": "double"
        },
        "unit": {
          "description": "The unit of value.",
          "type": "string"
        }
      }
    },
    "ListProductsResponse": {
      "properties": {
        "products": {
          "description": "The processed products from the specified account. These are your processed products after applying rules and supplemental data sources.",
          "type": "array",
          "items": {
            "$ref": "Product"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListProductsResponse",
      "description": "Response message for the ListProducts method.",
      "type": "object"
    },
    "Interval": {
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "id": "Interval",
      "properties": {
        "endTime": {
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "Certification": {
      "id": "Certification",
      "properties": {
        "certificationValue": {
          "type": "string",
          "description": "The certification value (also known as class, level or grade), for example \"A+\", \"C\", \"gold\". Maximum length is 2000 characters."
        },
        "certificationCode": {
          "description": "The certification code. Maximum length is 2000 characters.",
          "type": "string"
        },
        "certificationAuthority": {
          "description": "The certification authority, for example \"European_Commission\". Maximum length is 2000 characters.",
          "type": "string"
        },
        "certificationName": {
          "type": "string",
          "description": "The name of the certification, for example \"EPREL\". Maximum length is 2000 characters."
        }
      },
      "type": "object",
      "description": "Product [certification](https://support.google.com/merchants/answer/13528839), initially introduced for EU energy efficiency labeling compliance using the EU EPREL database."
    },
    "ProductStatus": {
      "description": "The status of a product, data validation issues, that is, information about a product computed asynchronously.",
      "properties": {
        "destinationStatuses": {
          "items": {
            "$ref": "DestinationStatus"
          },
          "description": "The intended destinations for the product.",
          "type": "array"
        },
        "googleExpirationDate": {
          "type": "string",
          "description": "Date on which the item expires, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "format": "google-datetime"
        },
        "lastUpdateDate": {
          "type": "string",
          "description": "Date on which the item has been last updated, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "format": "google-datetime"
        },
        "itemLevelIssues": {
          "description": "A list of all issues associated with the product.",
          "items": {
            "$ref": "ItemLevelIssue"
          },
          "type": "array"
        },
        "creationDate": {
          "type": "string",
          "description": "Date on which the item has been created, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "format": "google-datetime"
        }
      },
      "id": "ProductStatus",
      "type": "object"
    },
    "Attributes": {
      "description": "Attributes.",
      "type": "object",
      "properties": {
        "lifestyleImageLinks": {
          "type": "array",
          "description": "Additional URLs of lifestyle images of the item, used to explicitly identify images that showcase your item in a real-world context. See the [Help Center article](https://support.google.com/merchants/answer/9103186) for more information.",
          "items": {
            "type": "string"
          }
        },
        "mobileLinkTemplate": {
          "type": "string",
          "description": "[Link template](https://support.google.com/merchants/answer/13870216) for business hosted local storefront optimized for mobile devices."
        },
        "externalSellerId": {
          "type": "string",
          "description": "Required for multi-seller accounts. Use this attribute if you're a marketplace uploading products for various sellers to your multi-seller account."
        },
        "shippingLabel": {
          "type": "string",
          "description": "The shipping label of the product, used to group product in account-level shipping rules."
        },
        "material": {
          "description": "The [material](https://support.google.com/merchants/answer/6324410) of which the item is made. For example, \"Leather\" or \"Cotton\".",
          "type": "string"
        },
        "shippingLength": {
          "$ref": "ShippingDimension",
          "description": "Length of the item for shipping."
        },
        "expirationDate": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date on which the item should expire, as specified upon insertion, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format. The actual expiration date is exposed in `productstatuses` as [googleExpirationDate](https://support.google.com/merchants/answer/6324499) and might be earlier if `expirationDate` is too far in the future."
        },
        "taxes": {
          "description": "Tax information.",
          "items": {
            "$ref": "Tax"
          },
          "type": "array",
          "deprecated": true
        },
        "promotionIds": {
          "description": "The unique ID of a promotion.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayAdsLink": {
          "type": "string",
          "description": "URL directly to your item's landing page for dynamic remarketing campaigns."
        },
        "structuredTitle": {
          "description": "Structured title, for algorithmically (AI)-generated titles.",
          "$ref": "ProductStructuredTitle"
        },
        "loyaltyPoints": {
          "description": "Loyalty points that users receive after purchasing the item. Japan only.",
          "$ref": "LoyaltyPoints"
        },
        "availability": {
          "type": "string",
          "description": "[Availability](https://support.google.com/merchants/answer/6324448) status of the item. For example, \"in_stock\" or \"out_of_stock\"."
        },
        "productLength": {
          "$ref": "ProductDimension",
          "description": "The length of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive)."
        },
        "virtualModelLink": {
          "description": "URL of the 3D image of the item. See the [Help Center article](https://support.google.com/merchants/answer/13674896) for more information.",
          "type": "string"
        },
        "gender": {
          "type": "string",
          "description": "Target [gender](https://support.google.com/merchants/answer/6324479) of the item. For example, \"male\" or \"female\"."
        },
        "productHighlights": {
          "items": {
            "type": "string"
          },
          "description": "Bullet points describing the most relevant [product highlights](https://support.google.com/merchants/answer/9216100).",
          "type": "array"
        },
        "cloudExportAdditionalProperties": {
          "description": "Extra fields to export to the Cloud Retail program.",
          "type": "array",
          "items": {
            "$ref": "CloudExportAdditionalProperties"
          }
        },
        "autoPricingMinPrice": {
          "description": "A safeguard in the [automated discounts] (https://support.google.com/merchants/answer/10295759) and [\"dynamic promotions\"](https://support.google.com/merchants/answer/13949249) projects, ensuring that discounts on business offers do not fall below this value, thereby preserving the offer's value and profitability.",
          "$ref": "Price"
        },
        "installment": {
          "$ref": "Installment",
          "description": "Number and amount of installments to pay for an item."
        },
        "adult": {
          "description": "Set to true if the item is targeted towards adults.",
          "type": "boolean"
        },
        "productHeight": {
          "$ref": "ProductDimension",
          "description": "The height of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive)."
        },
        "shoppingAdsExcludedCountries": {
          "type": "array",
          "description": "List of country codes [(ISO 3166-1 alpha-2)](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) to exclude the offer from Shopping Ads destination. Countries from this list are removed from countries configured in data source settings.",
          "items": {
            "type": "string"
          }
        },
        "maximumRetailPrice": {
          "$ref": "Price",
          "description": "Maximum retail price (MRP) of the item. Applicable to India only."
        },
        "multipack": {
          "format": "int64",
          "description": "The number of identical products in a business-defined multipack.",
          "type": "string"
        },
        "displayAdsId": {
          "type": "string",
          "description": "An identifier for an item for dynamic remarketing campaigns."
        },
        "customLabel3": {
          "description": "[Custom label 3](https://support.google.com/merchants/answer/6324473) for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "salePriceEffectiveDate": {
          "$ref": "Interval",
          "description": "Date range during which the item is on sale, see [product data specification](https://support.google.com/merchants/answer/7052112#price_and_availability)."
        },
        "customLabel1": {
          "description": "[Custom label 1](https://support.google.com/merchants/answer/6324473) for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "customLabel2": {
          "description": "[Custom label 2](https://support.google.com/merchants/answer/6324473) for custom grouping of items in a Shopping campaign.",
          "type": "string"
        },
        "description": {
          "description": "Description of the item.",
          "type": "string"
        },
        "googleProductCategory": {
          "description": "Google's category of the item (see [Google product taxonomy](https://support.google.com/merchants/answer/1705911)). When querying products, this field will contain the user provided value. There is currently no way to get back the auto assigned google product categories through the API.",
          "type": "string"
        },
        "productTypes": {
          "items": {
            "type": "string"
          },
          "description": "Categories of the item (formatted as in [product data specification](https://support.google.com/merchants/answer/7052112#product_category)).",
          "type": "array"
        },
        "minHandlingTime": {
          "type": "string",
          "format": "int64",
          "description": "Minimal product handling time (in business days)."
        },
        "displayAdsSimilarIds": {
          "type": "array",
          "description": "Advertiser-specified recommendations. For more information, see [Display ads attribute specification](https://support.google.com/merchants/answer/6069387).",
          "items": {
            "type": "string"
          }
        },
        "ageGroup": {
          "description": "Target [age group](https://support.google.com/merchants/answer/6324463) of the item.",
          "type": "string"
        },
        "maxEnergyEfficiencyClass": {
          "type": "string",
          "description": "The energy efficiency class as defined in EU directive 2010/30/EU."
        },
        "itemGroupId": {
          "description": "Shared identifier for all variants of the same product.",
          "type": "string"
        },
        "imageLink": {
          "description": "URL of an image of the item.",
          "type": "string"
        },
        "productWeight": {
          "description": "The weight of the product in the units provided. The value must be between 0 (exclusive) and 2000 (inclusive).",
          "$ref": "ProductWeight"
        },
        "displayAdsValue": {
          "description": "Offer margin for dynamic remarketing campaigns. For more information, see [Display ads attribute](https://support.google.com/merchants/answer/6069387).",
          "type": "number",
          "format": "double"
        },
        "shippingWidth": {
          "description": "Width of the item for shipping.",
          "$ref": "ShippingDimension"
        },
        "transitTimeLabel": {
          "description": "The transit time label of the product, used to group product in account-level transit time tables.",
          "type": "string"
        },
        "linkTemplate": {
          "type": "string",
          "description": "[Link template](https://support.google.com/merchants/answer/13871172) for business hosted local storefront."
        },
        "isBundle": {
          "type": "boolean",
          "description": "Whether the item is a business-defined sub-API. A [sub-API] (https://support.google.com/merchants/answer/6324449) is a custom grouping of different products sold by a business for a single price."
        },
        "shippingWeight": {
          "description": "Weight of the item for shipping.",
          "$ref": "ShippingWeight"
        },
        "brand": {
          "type": "string",
          "description": "[Brand](https://support.google.com/merchants/answer/6324351) of the item. For example, \"Google\"."
        },
        "energyEfficiencyClass": {
          "description": "The energy efficiency class as defined in EU directive 2010/30/EU.",
          "type": "string"
        },
        "link": {
          "description": "URL directly linking to your item's page on your online store.",
          "type": "string"
        },
        "sellOnGoogleQuantity": {
          "type": "string",
          "format": "int64",
          "description": "The quantity of the product that is available for selling on Google. Supported only for online products."
        },
        "customLabel4": {
          "type": "string",
          "description": "[Custom label 4](https://support.google.com/merchants/answer/6324473) for custom grouping of items in a Shopping campaign."
        },
        "gtins": {
          "type": "array",
          "description": "A list of Global Trade Item Numbers ([GTIN](https://support.google.com/merchants/answer/6324461)) of the item. You can provide up to 10 GTINs.",
          "items": {
            "type": "string"
          }
        },
        "costOfGoodsSold": {
          "description": "Cost of goods sold. Used for gross profit reporting.",
          "$ref": "Price"
        },
        "price": {
          "description": "Price of the item.",
          "$ref": "Price"
        },
        "productDetails": {
          "type": "array",
          "items": {
            "$ref": "ProductDetail"
          },
          "description": "Technical specification or additional product details."
        },
        "loyaltyPrograms": {
          "type": "array",
          "description": "A list of loyalty program information that is used to surface loyalty benefits (for example, better pricing, points, etc) to the user of this item.",
          "items": {
            "$ref": "LoyaltyProgram"
          }
        },
        "taxCategory": {
          "type": "string",
          "description": "The [tax category](https://support.google.com/merchants/answer/7569847) of the product.",
          "deprecated": true
        },
        "adsLabels": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Similar to ads_grouping, but only works on CPC."
        },
        "unitPricingBaseMeasure": {
          "$ref": "UnitPricingBaseMeasure",
          "description": "The preference of the denominator of the unit price."
        },
        "includedDestinations": {
          "type": "array",
          "description": "Destinations also known as [Marketing methods](https://support.google.com/merchants/answer/15130232) selections. The list of destinations to include for this target (corresponds to checked check boxes in Merchant Center). Default destinations are always included unless provided in `excludedDestinations`. For more information, see [Included destination](https://support.google.com/merchants/answer/7501026). Note: We recommend setting destinations on datasources level for most use cases. Use this field within products to only setup exceptions.",
          "items": {
            "type": "string"
          }
        },
        "pickupSla": {
          "type": "string",
          "description": "Item store pickup timeline. For more information, see [Pickup SLA](https://support.google.com/merchants/answer/14635400)."
        },
        "pickupMethod": {
          "description": "The [pickup](https://support.google.com/merchants/answer/14634021) option for the item.",
          "type": "string"
        },
        "additionalImageLinks": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Additional URLs of images of the item."
        },
        "minEnergyEfficiencyClass": {
          "type": "string",
          "description": "The energy efficiency class as defined in EU directive 2010/30/EU."
        },
        "adsGrouping": {
          "description": "Used to group items in an arbitrary way. Only for CPA, discouraged otherwise. For more information, see [Display ads attribute](https://support.google.com/merchants/answer/6069387).",
          "type": "string"
        },
        "sizeTypes": {
          "items": {
            "type": "string"
          },
          "description": "The cut of the item. It can be used to represent combined size types for apparel items. Maximum two of size types can be provided, see [Size type](https://support.google.com/merchants/answer/6324497). For example, \"petite\", \"plus size\".",
          "type": "array"
        },
        "mpn": {
          "type": "string",
          "description": "Manufacturer Part Number ([MPN](https://support.google.com/merchants/answer/6324482)) of the item."
        },
        "sustainabilityIncentives": {
          "description": "The list of sustainability incentive programs.",
          "items": {
            "$ref": "ProductSustainabilityIncentive"
          },
          "type": "array"
        },
        "title": {
          "description": "Title of the item.",
          "type": "string"
        },
        "disclosureDate": {
          "format": "google-datetime",
          "description": "The date time when an offer becomes visible in search results across Google’s YouTube surfaces, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format. See [Disclosure date](https://support.google.com/merchants/answer/13034208) for more information.",
          "type": "string"
        },
        "subscriptionCost": {
          "description": "Number of periods (weeks, months or years) and amount of payment per period for an item with an associated subscription contract.",
          "$ref": "SubscriptionCost"
        },
        "maxHandlingTime": {
          "format": "int64",
          "description": "Maximal product handling time (in business days).",
          "type": "string"
        },
        "adsRedirect": {
          "type": "string",
          "description": "Allows advertisers to override the item URL when the product is shown within the context of Product ads."
        },
        "size": {
          "description": "Size of the item. Only one value is allowed. For variants with different sizes, insert a separate product for each size with the same `itemGroupId` value, see [Size](https://support.google.com/merchants/answer/6324492).",
          "type": "string"
        },
        "condition": {
          "description": "[Condition](https://support.google.com/merchants/answer/6324469) or state of the item. For example, \"new\" or \"used\".",
          "type": "string"
        },
        "shipping": {
          "type": "array",
          "items": {
            "$ref": "Shipping"
          },
          "description": "Shipping rules."
        },
        "canonicalLink": {
          "description": "URL for the canonical version of your item's landing page.",
          "type": "string"
        },
        "salePrice": {
          "$ref": "Price",
          "description": "Advertised sale price of the item."
        },
        "displayAdsTitle": {
          "description": "Title of an item for dynamic remarketing campaigns.",
          "type": "string"
        },
        "sizeSystem": {
          "type": "string",
          "description": "System in which the size is specified. Recommended for apparel items. For example, \"US\", \"UK\", \"DE\". For more information, see [Size system](https://support.google.com/merchants/answer/6324502)."
        },
        "gtin": {
          "deprecated": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Global Trade Item Numbers ([GTIN](https://support.google.com/merchants/answer/6324461)) of the item. You can provide up to 10 GTINs. Deprecated: Use `gtins` instead."
        },
        "freeShippingThreshold": {
          "description": "Conditions to be met for a product to have free shipping.",
          "type": "array",
          "items": {
            "$ref": "FreeShippingThreshold"
          }
        },
        "availabilityDate": {
          "description": "The day a pre-ordered product becomes available for delivery, in [ISO 8601](http://en.wikipedia.org/wiki/ISO_8601) format.",
          "type": "string",
          "format": "google-datetime"
        },
        "shippingHeight": {
          "description": "Height of the item for shipping.",
          "$ref": "ShippingDimension"
        },
        "productWidth": {
          "$ref": "ProductDimension",
          "description": "The width of the product in the units provided. The value must be between 0 (exclusive) and 3000 (inclusive)."
        },
        "mobileLink": {
          "type": "string",
          "description": "URL for the mobile-optimized version of your item's landing page."
        },
        "color": {
          "description": "[Color](https://support.google.com/merchants/answer/6324487) of the item. For example, \"red\".",
          "type": "string"
        },
        "excludedDestinations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Destinations also known as [Marketing methods](https://support.google.com/merchants/answer/15130232) selections. The list of destinations to exclude for this target (corresponds to unchecked check boxes in Merchant Center). For more information, see [Excluded destination](https://support.google.com/merchants/answer/6324486). Note: We recommend setting destinations on datasources level for most use cases. Use this field within products to only setup exceptions."
        },
        "customLabel0": {
          "type": "string",
          "description": "[Custom label 0](https://support.google.com/merchants/answer/6324473) for custom grouping of items in a Shopping campaign."
        },
        "pause": {
          "type": "string",
          "description": "Publication of this item will be temporarily [paused](https://support.google.com/merchants/answer/11909930)."
        },
        "pattern": {
          "description": "The item's [pattern](https://support.google.com/merchants/answer/6324483). For example, polka dots.",
          "type": "string"
        },
        "identifierExists": {
          "description": "Set this value to false when the item does not have unique product identifiers appropriate to its category, such as GTIN, MPN, and brand. Defaults to true, if not provided.",
          "type": "boolean"
        },
        "structuredDescription": {
          "description": "Structured description, for algorithmically (AI)-generated descriptions.",
          "$ref": "ProductStructuredDescription"
        },
        "unitPricingMeasure": {
          "$ref": "UnitPricingMeasure",
          "description": "The measure and dimension of an item."
        },
        "certifications": {
          "items": {
            "$ref": "Certification"
          },
          "description": "Product Certifications, for example for energy efficiency labeling of products recorded in the [EU EPREL](https://eprel.ec.europa.eu/screen/home) database. See the [Help Center](https://support.google.com/merchants/answer/13528839) article for more information.",
          "type": "array"
        }
      },
      "id": "Attributes"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "LoyaltyPoints": {
      "id": "LoyaltyPoints",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of loyalty points program. It is recommended to limit the name to 12 full-width characters or 24 Roman characters.",
          "type": "string"
        },
        "pointsValue": {
          "type": "string",
          "format": "int64",
          "description": "The retailer's loyalty points in absolute value."
        },
        "ratio": {
          "description": "The ratio of a point when converted to currency. Google assumes currency based on Merchant Center settings. If ratio is left out, it defaults to 1.0.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "A message that represents loyalty points."
    },
    "ProductWeight": {
      "type": "object",
      "description": "The weight of the product.",
      "properties": {
        "unit": {
          "description": "Required. The weight unit. Acceptable values are: * \"`g`\" * \"`kg`\" * \"`oz`\" * \"`lb`\"",
          "type": "string"
        },
        "value": {
          "description": "Required. The weight represented as a number. The weight can have a maximum precision of four decimal places.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "ProductWeight"
    },
    "DestinationStatus": {
      "properties": {
        "approvedCountries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of country codes (ISO 3166-1 alpha-2) where the offer is approved."
        },
        "disapprovedCountries": {
          "type": "array",
          "description": "List of country codes (ISO 3166-1 alpha-2) where the offer is disapproved.",
          "items": {
            "type": "string"
          }
        },
        "reportingContext": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ],
          "description": "The name of the reporting context.",
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ]
        },
        "pendingCountries": {
          "items": {
            "type": "string"
          },
          "description": "List of country codes (ISO 3166-1 alpha-2) where the offer is pending approval.",
          "type": "array"
        }
      },
      "description": "The destination status of the product status. Equivalent to `StatusPerReportingContext` in Reports API.",
      "type": "object",
      "id": "DestinationStatus"
    },
    "FreeShippingThreshold": {
      "description": "Conditions to be met for a product to have free shipping.",
      "properties": {
        "priceThreshold": {
          "description": "The minimum product price for the shipping cost to become free. Represented as a number.",
          "$ref": "Price"
        },
        "country": {
          "description": "The [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml) of the country to which an item will ship.",
          "type": "string"
        }
      },
      "id": "FreeShippingThreshold",
      "type": "object"
    },
    "ShippingDimension": {
      "id": "ShippingDimension",
      "properties": {
        "value": {
          "description": "The dimension of the product used to calculate the shipping cost of the item.",
          "format": "double",
          "type": "number"
        },
        "unit": {
          "description": "The unit of value.",
          "type": "string"
        }
      },
      "description": "The ShippingDimension of the product.",
      "type": "object"
    },
    "Tax": {
      "type": "object",
      "description": "The Tax of the product.",
      "id": "Tax",
      "properties": {
        "postalCode": {
          "type": "string",
          "description": "The postal code range that the tax rate applies to, represented by a ZIP code, a ZIP code prefix using * wildcard, a range between two ZIP codes or two ZIP code prefixes of equal length. Examples: 94114, 94*, 94002-95460, 94*-95*."
        },
        "taxShip": {
          "description": "Set to true if tax is charged on shipping.",
          "type": "boolean"
        },
        "rate": {
          "format": "double",
          "type": "number",
          "description": "The percentage of tax rate that applies to the item price."
        },
        "country": {
          "description": "The country within which the item is taxed, specified as a [CLDR territory code](http://www.unicode.org/repos/cldr/tags/latest/common/main/en.xml).",
          "type": "string"
        },
        "region": {
          "description": "The geographic region to which the tax rate applies.",
          "type": "string"
        },
        "locationId": {
          "description": "The numeric ID of a location that the tax rate applies to as defined in the [AdWords API](https://developers.google.com/adwords/api/docs/appendix/geotargeting).",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Price": {
      "properties": {
        "amountMicros": {
          "type": "string",
          "description": "The price represented as a number in micros (1 million micros is an equivalent to one's currency standard unit, for example, 1 USD = 1000000 micros).",
          "format": "int64"
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency of the price using three-letter acronyms according to [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217)."
        }
      },
      "type": "object",
      "id": "Price",
      "description": "The price represented as a number and currency."
    },
    "CloudExportAdditionalProperties": {
      "id": "CloudExportAdditionalProperties",
      "type": "object",
      "properties": {
        "maxValue": {
          "type": "number",
          "description": "Maximum float value of the given property. For example for a TV product 100.00.",
          "format": "float"
        },
        "boolValue": {
          "description": "Boolean value of the given property. For example for a TV product, \"True\" or \"False\" if the screen is UHD.",
          "type": "boolean"
        },
        "minValue": {
          "format": "float",
          "type": "number",
          "description": "Minimum float value of the given property. For example for a TV product 1.00."
        },
        "floatValue": {
          "description": "Float values of the given property. For example for a TV product 1.2345. Maximum repeatedness of this value is 400. Values are stored in an arbitrary but consistent order.",
          "items": {
            "format": "float",
            "type": "number"
          },
          "type": "array"
        },
        "unitCode": {
          "description": "Unit of the given property. For example, \"Pixels\" for a TV product. Maximum string size is 256B.",
          "type": "string"
        },
        "textValue": {
          "description": "Text value of the given property. For example, \"8K(UHD)\" could be a text value for a TV product. Maximum repeatedness of this value is 400. Values are stored in an arbitrary but consistent order. Maximum string size is 256 characters.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "propertyName": {
          "description": "Name of the given property. For example, \"Screen-Resolution\" for a TV product. Maximum string size is 256 characters.",
          "type": "string"
        },
        "intValue": {
          "description": "Integer values of the given property. For example, 1080 for a TV product's Screen Resolution. Maximum repeatedness of this value is 400. Values are stored in an arbitrary but consistent order.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        }
      },
      "description": "Product property for the Cloud Retail API. For example, properties for a TV product could be \"Screen-Resolution\" or \"Screen-Size\"."
    },
    "ProductStructuredDescription": {
      "id": "ProductStructuredDescription",
      "properties": {
        "digitalSourceType": {
          "description": "The digital source type, for example \"trained_algorithmic_media\". Following [IPTC](https://cv.iptc.org/newscodes/digitalsourcetype). Maximum length is 40 characters.",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "The description text Maximum length is 5000 characters"
        }
      },
      "description": "Structured description, for algorithmically (AI)-generated descriptions.",
      "type": "object"
    },
    "Installment": {
      "description": "A message that represents installment.",
      "id": "Installment",
      "properties": {
        "amount": {
          "description": "The amount the buyer has to pay per month.",
          "$ref": "Price"
        },
        "creditType": {
          "description": "Type of installment payments. Supported values are: * \"`finance`\" * \"`lease`\"",
          "type": "string"
        },
        "months": {
          "type": "string",
          "format": "int64",
          "description": "The number of installments the buyer has to pay."
        },
        "downpayment": {
          "description": "The up-front down payment amount the buyer has to pay.",
          "$ref": "Price"
        }
      },
      "type": "object"
    },
    "ProductInput": {
      "properties": {
        "feedLabel": {
          "description": "Required. Immutable. The feed label that lets you categorize and identify your products. The maximum allowed characters are 20, and the supported characters are `A-Z`, `0-9`, hyphen, and underscore. The feed label must not include any spaces. For more information, see [Using feed labels](//support.google.com/merchants/answer/14994087).",
          "type": "string"
        },
        "customAttributes": {
          "type": "array",
          "items": {
            "$ref": "CustomAttribute"
          },
          "description": "Optional. A list of custom (merchant-provided) attributes. It can also be used for submitting any attribute of the data specification in its generic form (for example, `{ \"name\": \"size type\", \"value\": \"regular\" }`). This is useful for submitting attributes not explicitly exposed by the API. Maximum allowed number of characters for each custom attribute is 10240 (represents sum of characters for name and value). Maximum 2500 custom attributes can be set per product, with total size of 102.4kB. Underscores in custom attribute names are replaced by spaces upon insertion."
        },
        "channel": {
          "type": "string",
          "enum": [
            "CHANNEL_ENUM_UNSPECIFIED",
            "ONLINE",
            "LOCAL"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Online product.",
            "Local product."
          ],
          "description": "Immutable. The [channel](https://support.google.com/merchants/answer/7361332) of the product."
        },
        "contentLanguage": {
          "description": "Required. Immutable. The two-letter [ISO 639-1](http://en.wikipedia.org/wiki/ISO_639-1) language code for the product.",
          "type": "string"
        },
        "attributes": {
          "description": "Optional. A list of product attributes.",
          "$ref": "Attributes"
        },
        "name": {
          "description": "Identifier. The name of the product. Format: `accounts/{account}/productInputs/{productinput}` The {productinput} segment is a unique identifier for the product. This identifier must be unique within a merchant account and generally follows the structure: `content_language~feed_label~offer_id`. Example: `en~US~sku123` For legacy local products, the structure is: `local~content_language~feed_label~offer_id`. Example: `local~en~US~sku123` The format of the {productinput} segment in the URL is automatically detected by the server, supporting two options: 1. **Encoded Format**: The `{productinput}` segment is an unpadded base64url encoded string (RFC 4648 Section 5). The decoded string must result in the `content_language~feed_label~offer_id` structure. This encoding MUST be used if any part of the product identifier (like `offer_id`) contains characters such as `/`, `%`, or `~`. * Example: To represent the product ID `en~US~sku/123`, the `{productinput}` segment must be the unpadded base64url encoding of this string, which is `ZW5-VVN-c2t1LzEyMw`. The full resource name for the product would be `accounts/123/productInputs/ZW5-VVN-c2t1LzEyMw`. 2. **Plain Format**: The `{productinput}` segment is the tilde-separated string `content_language~feed_label~offer_id`. This format is suitable only when `content_language`, `feed_label`, and `offer_id` do not contain URL-problematic characters like `/`, `%`, or `~`. We recommend using the **Encoded Format** for all product IDs to ensure correct parsing, especially those containing special characters. The presence of tilde (`~`) characters in the `{productinput}` segment is used to differentiate between the two formats.",
          "type": "string"
        },
        "versionNumber": {
          "format": "int64",
          "description": "Optional. Immutable. Represents the existing version (freshness) of the product, which can be used to preserve the right order when multiple updates are done at the same time. If set, the insertion is prevented when version number is lower than the current version number of the existing product. Re-insertion (for example, product refresh after 30 days) can be performed with the current `version_number`. Only supported for insertions into primary data sources. Do not set this field for updates. Do not set this field for insertions into supplemental data sources. If the operation is prevented, the aborted exception will be thrown.",
          "type": "string"
        },
        "offerId": {
          "type": "string",
          "description": "Required. Immutable. Your unique identifier for the product. This is the same for the product input and processed product. Leading and trailing whitespaces are stripped and multiple whitespaces are replaced by a single whitespace upon submission. See the [products data specification](https://support.google.com/merchants/answer/188494#id) for details."
        },
        "base64EncodedProduct": {
          "readOnly": true,
          "description": "Output only. The **unpadded base64url encoded name** of the processed product. Format: `accounts/{account}/products/{product}` where the last section `product` is the unpadded base64url encoding of the `content_language~feed_label~offer_id` name. Example: `accounts/123/products/ZW5-VVN-c2t1LzEyMw` for the decoded product name `accounts/123/products/en~US~sku/123`. This field can be used directly as input to the API methods that require the product name to be encoded if it contains special characters, for example [`GetProduct`](https://developers.google.com/merchant/api/reference/rest/products_v1beta/accounts.products/get).",
          "type": "string"
        },
        "base64EncodedName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The **unpadded base64url encoded name** of the product input. Format: `accounts/{account}/productInputs/{productinput}` where the last section `productinput` is the unpadded base64url encoding of the `content_language~feed_label~offer_id` name. Example: `accounts/123/productInputs/ZW5-VVN-c2t1LzEyMw` for the decoded product input name `accounts/123/productInputs/en~US~sku/123`. This field can be used directly as input to the API methods that require the product input name to be encoded if it contains special characters, for example [`GetProductInput`](https://developers.google.com/merchant/api/reference/rest/products_v1beta/accounts.productInputs/get)."
        },
        "product": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the processed product. Format: `accounts/{account}/products/{product}`"
        }
      },
      "description": "This resource represents input data you submit for a product, not the processed product that you see in Merchant Center, in Shopping ads, or across Google surfaces. Product inputs, rules and supplemental data source data are combined to create the processed Product. For more information, see [Manage products](/merchant/api/guides/products/overview). Required product input attributes to pass data validation checks are primarily defined in the [Products Data Specification](https://support.google.com/merchants/answer/188494). The following attributes are required: feedLabel, contentLanguage and offerId. After inserting, updating, or deleting a product input, it may take several minutes before the processed product can be retrieved. All fields in the product input and its sub-messages match the English name of their corresponding attribute in the [Products Data Specification](https://support.google.com/merchants/answer/188494) with [some exceptions](https://support.google.com/merchants/answer/7052112). The following reference documentation lists the field names in the **camelCase** casing style while the Products Data Specification lists the names in the **snake_case** casing style.",
      "id": "ProductInput",
      "type": "object"
    },
    "ProductDimension": {
      "id": "ProductDimension",
      "description": "The dimension of the product.",
      "type": "object",
      "properties": {
        "value": {
          "type": "number",
          "format": "double",
          "description": "Required. The dimension value represented as a number. The value can have a maximum precision of four decimal places."
        },
        "unit": {
          "type": "string",
          "description": "Required. The dimension units. Acceptable values are: * \"`in`\" * \"`cm`\""
        }
      }
    },
    "UnitPricingBaseMeasure": {
      "description": "The UnitPricingBaseMeasure of the product.",
      "type": "object",
      "properties": {
        "unit": {
          "description": "The unit of the denominator.",
          "type": "string"
        },
        "value": {
          "format": "int64",
          "description": "The denominator of the unit price.",
          "type": "string"
        }
      },
      "id": "UnitPricingBaseMeasure"
    },
    "ProductChange": {
      "type": "object",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Countries that have the change (if applicable). Represented in the ISO 3166 format."
        },
        "oldValue": {
          "type": "string",
          "description": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
        },
        "newValue": {
          "description": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)",
          "type": "string"
        },
        "reportingContext": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Not specified.",
            "[Shopping ads](https://support.google.com/merchants/answer/6149970).",
            "Deprecated: Use `DEMAND_GEN_ADS` instead. [Discovery and Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads](https://support.google.com/merchants/answer/13389785).",
            "[Demand Gen ads on Discover surface](https://support.google.com/merchants/answer/13389785).",
            "[Video ads](https://support.google.com/google-ads/answer/6340491).",
            "[Display ads](https://support.google.com/merchants/answer/6069387).",
            "[Local inventory ads](https://support.google.com/merchants/answer/3271956).",
            "[Vehicle inventory ads](https://support.google.com/merchants/answer/11544533).",
            "[Free product listings](https://support.google.com/merchants/answer/9199328).",
            "[Free product listings on UCP checkout](https://developers.google.com/merchant/ucp).",
            "[Free local product listings](https://support.google.com/merchants/answer/9825611).",
            "[Free local vehicle listings](https://support.google.com/merchants/answer/11544533).",
            "[Youtube Affiliate](https://support.google.com/youtube/answer/13376398).",
            "[YouTube Shopping](https://support.google.com/merchants/answer/13478370).",
            "[Cloud retail](https://cloud.google.com/solutions/retail).",
            "[Local cloud retail](https://cloud.google.com/solutions/retail).",
            "[Product Reviews](https://support.google.com/merchants/answer/14620732).",
            "[Merchant Reviews](https://developers.google.com/merchant-review-feeds).",
            "YouTube Checkout ."
          ],
          "description": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)",
          "type": "string",
          "enum": [
            "REPORTING_CONTEXT_ENUM_UNSPECIFIED",
            "SHOPPING_ADS",
            "DISCOVERY_ADS",
            "DEMAND_GEN_ADS",
            "DEMAND_GEN_ADS_DISCOVER_SURFACE",
            "VIDEO_ADS",
            "DISPLAY_ADS",
            "LOCAL_INVENTORY_ADS",
            "VEHICLE_INVENTORY_ADS",
            "FREE_LISTINGS",
            "FREE_LISTINGS_UCP_CHECKOUT",
            "FREE_LOCAL_LISTINGS",
            "FREE_LOCAL_VEHICLE_LISTINGS",
            "YOUTUBE_AFFILIATE",
            "YOUTUBE_SHOPPING",
            "CLOUD_RETAIL",
            "LOCAL_CLOUD_RETAIL",
            "PRODUCT_REVIEWS",
            "MERCHANT_REVIEWS",
            "YOUTUBE_CHECKOUT"
          ]
        }
      },
      "id": "ProductChange",
      "description": "The change that happened to the product including old value, new value, country code as the region code and reporting context."
    },
    "LoyaltyProgram": {
      "description": "A message that represents loyalty program.",
      "type": "object",
      "properties": {
        "tierLabel": {
          "description": "The label of the tier within the loyalty program. Must match one of the labels within the program.",
          "type": "string"
        },
        "cashbackForFutureUse": {
          "description": "The cashback that can be used for future purchases.",
          "$ref": "Price"
        },
        "price": {
          "$ref": "Price",
          "description": "The price for members of the given tier, that is, the instant discount price. Must be smaller or equal to the regular price."
        },
        "programLabel": {
          "type": "string",
          "description": "The label of the loyalty program. This is an internal label that uniquely identifies the relationship between a business entity and a loyalty program entity. The label must be provided so that the system can associate the assets below (for example, price and points) with a business. The corresponding program must be linked to the Merchant Center account."
        },
        "shippingLabel": {
          "description": "The label of the shipping benefit. If the field has value, this offer has loyalty shipping benefit. If the field value isn't provided, the item is not eligible for loyalty shipping for the given loyalty tier.",
          "type": "string"
        },
        "memberPriceEffectiveDate": {
          "description": "A date range during which the item is eligible for member price. If not specified, the member price is always applicable. The date range is represented by a pair of ISO 8601 dates separated by a space, comma, or slash.",
          "$ref": "Interval"
        },
        "loyaltyPoints": {
          "format": "int64",
          "type": "string",
          "description": "The amount of loyalty points earned on a purchase."
        }
      },
      "id": "LoyaltyProgram"
    }
  },
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "name": "merchantapi",
  "kind": "discovery#restDescription",
  "resources": {
    "accounts": {
      "resources": {
        "productInputs": {
          "methods": {
            "patch": {
              "flatPath": "products/v1beta/accounts/{accountsId}/productInputs/{productInputsId}",
              "response": {
                "$ref": "ProductInput"
              },
              "id": "merchantapi.accounts.productInputs.patch",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "products/v1beta/{+name}",
              "request": {
                "$ref": "ProductInput"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Identifier. The name of the product. Format: `accounts/{account}/productInputs/{productinput}` The {productinput} segment is a unique identifier for the product. This identifier must be unique within a merchant account and generally follows the structure: `content_language~feed_label~offer_id`. Example: `en~US~sku123` For legacy local products, the structure is: `local~content_language~feed_label~offer_id`. Example: `local~en~US~sku123` The format of the {productinput} segment in the URL is automatically detected by the server, supporting two options: 1. **Encoded Format**: The `{productinput}` segment is an unpadded base64url encoded string (RFC 4648 Section 5). The decoded string must result in the `content_language~feed_label~offer_id` structure. This encoding MUST be used if any part of the product identifier (like `offer_id`) contains characters such as `/`, `%`, or `~`. * Example: To represent the product ID `en~US~sku/123`, the `{productinput}` segment must be the unpadded base64url encoding of this string, which is `ZW5-VVN-c2t1LzEyMw`. The full resource name for the product would be `accounts/123/productInputs/ZW5-VVN-c2t1LzEyMw`. 2. **Plain Format**: The `{productinput}` segment is the tilde-separated string `content_language~feed_label~offer_id`. This format is suitable only when `content_language`, `feed_label`, and `offer_id` do not contain URL-problematic characters like `/`, `%`, or `~`. We recommend using the **Encoded Format** for all product IDs to ensure correct parsing, especially those containing special characters. The presence of tilde (`~`) characters in the `{productinput}` segment is used to differentiate between the two formats.",
                  "pattern": "^accounts/[^/]+/productInputs/[^/]+$",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The list of product attributes to be updated. If the update mask is omitted, then it is treated as implied field mask equivalent to all fields that are populated (have a non-empty value). Attributes specified in the update mask without a value specified in the body will be deleted from the product. Update mask can only be specified for top level fields in attributes and custom attributes. To specify the update mask for custom attributes you need to add the `custom_attribute.` prefix. Providing special \"*\" value for full product replacement is not supported.",
                  "format": "google-fieldmask"
                },
                "dataSource": {
                  "location": "query",
                  "description": "Required. The primary or supplemental product data source where `data_source` name identifies the product input to be updated. Only API data sources are supported. Format: `accounts/{account}/dataSources/{datasource}`. For example, `accounts/123456/dataSources/104628`.",
                  "type": "string"
                }
              },
              "httpMethod": "PATCH",
              "description": "Updates the existing product input in your Merchant Center account. The name of the product input to update is taken from the `name` field within the `ProductInput` resource. After inserting, updating, or deleting a product input, it may take several minutes before the processed product can be retrieved."
            },
            "delete": {
              "description": "Deletes a product input from your Merchant Center account. After inserting, updating, or deleting a product input, it may take several minutes before the processed product can be retrieved.",
              "id": "merchantapi.accounts.productInputs.delete",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/productInputs/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the product input to delete. Format: `accounts/{account}/productInputs/{productInput}` The {productInput} segment is a unique identifier for the product. This identifier must be unique within a merchant account and generally follows the structure: `content_language~feed_label~offer_id`. Example: `en~US~sku123` For legacy local products, the structure is: `local~content_language~feed_label~offer_id`. Example: `local~en~US~sku123` The format of the {productInput} segment in the URL is automatically detected by the server, supporting two options: 1. **Encoded Format**: The `{productInput}` segment is an unpadded base64url encoded string (RFC 4648 Section 5). The decoded string must result in the `content_language~feed_label~offer_id` structure. This encoding MUST be used if any part of the product identifier (like `offer_id`) contains characters such as `/`, `%`, or `~`. * Example: To represent the product ID `en~US~sku/123`, the `{productInput}` segment must be the unpadded base64url encoding of this string, which is `ZW5-VVN-c2t1LzEyMw`. The full resource name for the product would be `accounts/123/productInputs/ZW5-VVN-c2t1LzEyMw`. 2. **Plain Format**: The `{productInput}` segment is the tilde-separated string `content_language~feed_label~offer_id`. This format is suitable only when `content_language`, `feed_label`, and `offer_id` do not contain URL-problematic characters like `/`, `%`, or `~`. We recommend using the **Encoded Format** for all product IDs to ensure correct parsing, especially those containing special characters. The presence of tilde (`~`) characters in the `{productInput}` segment is used to differentiate between the two formats."
                },
                "dataSource": {
                  "location": "query",
                  "description": "Required. The primary or supplemental data source from which the product input should be deleted. Format: `accounts/{account}/dataSources/{datasource}`. For example, `accounts/123456/dataSources/104628`.",
                  "type": "string"
                }
              },
              "path": "products/v1beta/{+name}",
              "flatPath": "products/v1beta/accounts/{accountsId}/productInputs/{productInputsId}",
              "response": {
                "$ref": "Empty"
              }
            },
            "insert": {
              "path": "products/v1beta/{+parent}/productInputs:insert",
              "flatPath": "products/v1beta/accounts/{accountsId}/productInputs:insert",
              "response": {
                "$ref": "ProductInput"
              },
              "id": "merchantapi.accounts.productInputs.insert",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The account where this product will be inserted. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "required": true
                },
                "dataSource": {
                  "description": "Required. The primary or supplemental product data source name. If the product already exists and data source provided is different, then the product will be moved to a new data source. For more information, see [Create a primary data source](/merchant/api/guides/data-sources/api-sources#create-primary-data-source). Only API data sources are supported. Format: `accounts/{account}/dataSources/{datasource}`. For example, `accounts/123456/dataSources/104628`.",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "[Uploads a product input to your Merchant Center account](/merchant/api/guides/products/add-manage#add_a_product). You must have a products [data source](/merchant/api/guides/data-sources/api-sources#create-primary-data-source) to be able to insert a product. The unique identifier of the data source is passed as a query parameter in the request URL. If a product input with the same contentLanguage, offerId, and dataSource already exists, then the product input inserted by this method replaces that entry. After inserting, updating, or deleting a product input, it may take several minutes before the processed product can be retrieved.",
              "request": {
                "$ref": "ProductInput"
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "products": {
          "methods": {
            "list": {
              "flatPath": "products/v1beta/accounts/{accountsId}/products",
              "response": {
                "$ref": "ListProductsResponse"
              },
              "description": "Lists the processed products in your Merchant Center account. The response might contain fewer items than specified by `pageSize`. Rely on `pageToken` to determine if there are more items to be requested. After inserting, updating, or deleting a product input, it may take several minutes before the updated processed product can be retrieved.",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.products.list",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token, received from a previous `ListProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProducts` must match the call that provided the page token."
                },
                "pageSize": {
                  "description": "The maximum number of products to return. The service may return fewer than this value. The maximum value is 1000; values above 1000 will be coerced to 1000. If unspecified, the default page size of 25 products will be returned.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The account to list processed products for. Format: `accounts/{account}`",
                  "required": true
                }
              },
              "path": "products/v1beta/{+parent}/products"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.products.get",
              "path": "products/v1beta/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/products/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the product. Format: `accounts/{account}/products/{product}` The `{product}` segment is a unique identifier for the product. This identifier must be unique within a merchant account and generally follows the structure: `content_language~feed_label~offer_id`. Example: `en~US~sku123` For legacy local products, the structure is: `local~content_language~feed_label~offer_id`. Example: `local~en~US~sku123` The format of the `{product}` segment in the URL is automatically detected by the server, supporting two options: 1. **Encoded Format**: The `{product}` segment is an unpadded base64url encoded string (RFC 4648 Section 5). The decoded string must result in the `content_language~feed_label~offer_id` structure. This encoding MUST be used if any part of the product identifier (like `offer_id`) contains characters such as `/`, `%`, or `~`. * Example: To represent the product ID `en~US~sku/123`, the `{product}` segment must be the unpadded base64url encoding of this string, which is `ZW5-VVN-c2t1LzEyMw`. The full resource name for the product would be `accounts/123/products/ZW5-VVN-c2t1LzEyMw`. 2. **Plain Format**: The `{product}` segment is the tilde-separated string `content_language~feed_label~offer_id`. This format is suitable only when `content_language`, `feed_label`, and `offer_id` do not contain URL-problematic characters like `/`, `%`, or `~`. We recommend using the **Encoded Format** for all product IDs to ensure correct parsing, especially those containing special characters. The presence of tilde (`~`) characters in the `{product}` segment is used to differentiate between the two formats. Note: For calls to the v1beta version, the plain format is `channel~content_language~feed_label~offer_id`, for example: `accounts/123/products/online~en~US~sku123`."
                }
              },
              "description": "Retrieves the processed product from your Merchant Center account. After inserting, updating, or deleting a product input, it may take several minutes before the updated final product can be retrieved.",
              "flatPath": "products/v1beta/accounts/{accountsId}/products/{productsId}",
              "response": {
                "$ref": "Product"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET"
            }
          }
        }
      }
    }
  },
  "revision": "20260826",
  "canonicalName": "Merchant",
  "rootUrl": "https://merchantapi.googleapis.com/",
  "title": "Merchant API",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://merchantapi.mtls.googleapis.com/",
  "id": "merchantapi:products_v1beta"
}