{
  "name": "merchantapi",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "ownerName": "Google",
  "canonicalName": "Merchant",
  "discoveryVersion": "v1",
  "id": "merchantapi:accounts_v1beta",
  "basePath": "",
  "description": "Programmatically manage your Merchant Center Accounts.",
  "version_module": true,
  "resources": {
    "termsOfService": {
      "methods": {
        "retrieveLatest": {
          "parameters": {
            "regionCode": {
              "description": "Required. Region code as defined by [CLDR](https://cldr.unicode.org/). This is either a country when the ToS applies specifically to that country or 001 when it applies globally.",
              "location": "query",
              "type": "string"
            },
            "kind": {
              "description": "Required. The Kind this terms of service version applies to.",
              "location": "query",
              "enum": [
                "TERMS_OF_SERVICE_KIND_UNSPECIFIED",
                "MERCHANT_CENTER"
              ],
              "enumDescriptions": [
                "Default value. This value is unused.",
                "Terms of Service for the Merchant Center application."
              ],
              "type": "string"
            }
          },
          "path": "accounts/v1beta/termsOfService:retrieveLatest",
          "parameterOrder": [],
          "flatPath": "accounts/v1beta/termsOfService:retrieveLatest",
          "description": "Retrieves the latest version of the `TermsOfService` for a given `kind` and `region_code`.",
          "httpMethod": "GET",
          "id": "merchantapi.termsOfService.retrieveLatest",
          "response": {
            "$ref": "TermsOfService"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "accept": {
          "flatPath": "accounts/v1beta/termsOfService/{termsOfServiceId}:accept",
          "description": "Accepts a `TermsOfService`. Executing this method requires admin access.",
          "path": "accounts/v1beta/{+name}:accept",
          "parameters": {
            "regionCode": {
              "description": "Required. Region code as defined by [CLDR](https://cldr.unicode.org/). This is either a country when the ToS applies specifically to that country or 001 when it applies globally.",
              "location": "query",
              "type": "string"
            },
            "name": {
              "pattern": "^termsOfService/[^/]+$",
              "type": "string",
              "description": "Required. The resource name of the terms of service version. Format: `termsOfService/{version}`",
              "location": "path",
              "required": true
            },
            "account": {
              "location": "query",
              "type": "string",
              "description": "Required. The account for which to accept the ToS. Format: `accounts/{account}`"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "id": "merchantapi.termsOfService.accept",
          "response": {
            "$ref": "AcceptTermsOfServiceResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ]
        },
        "get": {
          "id": "merchantapi.termsOfService.get",
          "description": "Retrieves the `TermsOfService` associated with the provided version.",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The resource name of the terms of service version. Format: `termsOfService/{version}`",
              "pattern": "^termsOfService/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "TermsOfService"
          },
          "flatPath": "accounts/v1beta/termsOfService/{termsOfServiceId}",
          "path": "accounts/v1beta/{+name}"
        }
      }
    },
    "accounts": {
      "resources": {
        "onlineReturnPolicies": {
          "methods": {
            "list": {
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of `OnlineReturnPolicy` resources to return. The service returns fewer than this value if the number of return policies for the given business is less that than the `pageSize`. The default value is 10. The maximum value is 100; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListOnlineReturnPolicies` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `ListOnlineReturnPolicies` must match the call that provided the page token. The token returned as nextPageToken in the response to the previous request."
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The Merchant Center account for which to list return policies. Format: `accounts/{account}`",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "ListOnlineReturnPoliciesResponse"
              },
              "path": "accounts/v1beta/{+parent}/onlineReturnPolicies",
              "httpMethod": "GET",
              "id": "merchantapi.accounts.onlineReturnPolicies.list",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists all existing return policies for a given business."
            },
            "delete": {
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/onlineReturnPolicies/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the return policy to delete. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "id": "merchantapi.accounts.onlineReturnPolicies.delete",
              "path": "accounts/v1beta/{+name}",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies/{onlineReturnPoliciesId}",
              "description": "Deletes an existing return policy.",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "path": "accounts/v1beta/{+parent}/onlineReturnPolicies",
              "parameters": {
                "parent": {
                  "description": "Required. The Merchant Center account for which the return policy will be created. Format: `accounts/{account}`",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "merchantapi.accounts.onlineReturnPolicies.create",
              "description": "Creates a new return policy for a given business.",
              "request": {
                "$ref": "OnlineReturnPolicy"
              },
              "response": {
                "$ref": "OnlineReturnPolicy"
              }
            },
            "patch": {
              "description": "Updates an existing return policy for a given business.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "OnlineReturnPolicy"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Only support updating the entire OnlineReturnPolicy message. For update_mask, always use `*`."
                },
                "name": {
                  "pattern": "^accounts/[^/]+/onlineReturnPolicies/[^/]+$",
                  "description": "Identifier. The name of the `OnlineReturnPolicy` resource. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "merchantapi.accounts.onlineReturnPolicies.patch",
              "request": {
                "$ref": "OnlineReturnPolicy"
              },
              "path": "accounts/v1beta/{+name}",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies/{onlineReturnPoliciesId}",
              "httpMethod": "PATCH"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Gets an existing return policy for a given business.",
              "path": "accounts/v1beta/{+name}",
              "response": {
                "$ref": "OnlineReturnPolicy"
              },
              "httpMethod": "GET",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/onlineReturnPolicies/{onlineReturnPoliciesId}",
              "id": "merchantapi.accounts.onlineReturnPolicies.get",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/onlineReturnPolicies/[^/]+$",
                  "description": "Required. The name of the return policy to retrieve. Format: `accounts/{account}/onlineReturnPolicies/{return_policy}`",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "businessIdentity": {
          "methods": {
            "updateBusinessIdentity": {
              "response": {
                "$ref": "BusinessIdentity"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.businessIdentity.updateBusinessIdentity",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/businessIdentity$",
                  "description": "Identifier. The resource name of the business identity. Format: `accounts/{account}/businessIdentity`",
                  "type": "string"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `black_owned` - `latino_owned` - `promotions_consent` - `small_business` - `veteran_owned` - `women_owned`",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Updates the business identity of an account. Executing this method requires admin access.",
              "request": {
                "$ref": "BusinessIdentity"
              },
              "path": "accounts/v1beta/{+name}",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/businessIdentity"
            },
            "getBusinessIdentity": {
              "description": "Retrieves the business identity of an account.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the business identity. Format: `accounts/{account}/businessIdentity`. For example, `accounts/123456/businessIdentity`.",
                  "pattern": "^accounts/[^/]+/businessIdentity$"
                }
              },
              "path": "accounts/v1beta/{+name}",
              "response": {
                "$ref": "BusinessIdentity"
              },
              "httpMethod": "GET",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/businessIdentity",
              "id": "merchantapi.accounts.businessIdentity.getBusinessIdentity",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "gbpAccounts": {
          "methods": {
            "linkGbpAccount": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.gbpAccounts.linkGbpAccount",
              "description": "Link the specified merchant to a GBP account for all countries. To run this method, you must have admin access to the Merchant Center account. If you don't have admin access, the request fails with the error message `User is not an administrator of account {ACCOUNT_ID}`.",
              "response": {
                "$ref": "LinkGbpAccountResponse"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "LinkGbpAccountRequest"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/gbpAccounts:linkGbpAccount",
              "path": "accounts/v1beta/{+parent}/gbpAccounts:linkGbpAccount",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The name of the parent resource to which the GBP account is linked. Format: `accounts/{account}`.",
                  "location": "path",
                  "required": true
                }
              }
            },
            "list": {
              "response": {
                "$ref": "ListGbpAccountsResponse"
              },
              "id": "merchantapi.accounts.gbpAccounts.list",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "List the GBP accounts for a given merchant.",
              "parameterOrder": [
                "parent"
              ],
              "path": "accounts/v1beta/{+parent}/gbpAccounts",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListGbpAccounts` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `ListGbpAccounts` must match the call that provided the page token.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of `GbpAccount` resources to return. The service returns fewer than this value if the number of gbp accounts is less that than the `pageSize`. The default value is 50. The maximum value is 1000; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the parent resource under which the GBP accounts are listed. Format: `accounts/{account}`.",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/gbpAccounts"
            }
          }
        },
        "programs": {
          "methods": {
            "enable": {
              "response": {
                "$ref": "Program"
              },
              "request": {
                "$ref": "EnableProgramRequest"
              },
              "id": "merchantapi.accounts.programs.enable",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}:enable",
              "path": "accounts/v1beta/{+name}:enable",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the program for which to enable participation for the given account. Format: `accounts/{account}/programs/{program}`. For example, `accounts/123456/programs/free-listings`.",
                  "pattern": "^accounts/[^/]+/programs/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Enable participation in the specified program for the account."
            },
            "disable": {
              "path": "accounts/v1beta/{+name}:disable",
              "description": "Disable participation in the specified program for the account.",
              "request": {
                "$ref": "DisableProgramRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "Program"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.programs.disable",
              "httpMethod": "POST",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}:disable",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the program for which to disable participation for the given account. Format: `accounts/{account}/programs/{program}`. For example, `accounts/123456/programs/free-listings`.",
                  "pattern": "^accounts/[^/]+/programs/[^/]+$",
                  "location": "path",
                  "required": true
                }
              }
            },
            "get": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the program to retrieve. Format: `accounts/{account}/programs/{program}`. For example, `accounts/123456/programs/free-listings`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/programs/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.programs.get",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "Program"
              },
              "path": "accounts/v1beta/{+name}",
              "description": "Retrieves the specified program for the account."
            },
            "list": {
              "path": "accounts/v1beta/{+parent}/programs",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListProgramsResponse"
              },
              "httpMethod": "GET",
              "id": "merchantapi.accounts.programs.list",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/programs",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The name of the account for which to retrieve all programs. Format: `accounts/{account}`",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A continuation token, received from a previous `ListPrograms` call. Provide this to retrieve the next page."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of programs to return in a single response. If unspecified (or 0), a default size of 1000 is used. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "description": "Retrieves all programs for the account."
            }
          },
          "resources": {
            "checkoutSettings": {
              "methods": {
                "getCheckoutSettings": {
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets `CheckoutSettings` for the given merchant. This includes information about review state, enrollment state and URL settings.",
                  "response": {
                    "$ref": "CheckoutSettings"
                  },
                  "path": "accounts/v1beta/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/programs/[^/]+/checkoutSettings$",
                      "type": "string",
                      "description": "Required. The name/identifier of the merchant account. Format: `accounts/{account}/programs/{program}/checkoutSettings`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "merchantapi.accounts.programs.checkoutSettings.getCheckoutSettings"
                },
                "deleteCheckoutSettings": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/programs/[^/]+/checkoutSettings$",
                      "description": "Required. The name/identifier of the merchant account. Format: `accounts/{account}/programs/{program}/checkoutSettings`"
                    }
                  },
                  "description": "Deletes `CheckoutSettings` and unenrolls merchant from `Checkout` program.",
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "id": "merchantapi.accounts.programs.checkoutSettings.deleteCheckoutSettings",
                  "httpMethod": "DELETE",
                  "path": "accounts/v1beta/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ]
                },
                "updateCheckoutSettings": {
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "request": {
                    "$ref": "CheckoutSettings"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "id": "merchantapi.accounts.programs.checkoutSettings.updateCheckoutSettings",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "accounts/v1beta/{+name}",
                  "description": "Updates `CheckoutSettings` for the given merchant.",
                  "response": {
                    "$ref": "CheckoutSettings"
                  },
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query",
                      "description": "Required. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `eligible_destinations` - `uri_settings`"
                    },
                    "name": {
                      "description": "Identifier. The resource name of the program configuration settings. Format: `accounts/{account}/programs/{program}/checkoutSettings`",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^accounts/[^/]+/programs/[^/]+/checkoutSettings$"
                    }
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "id": "merchantapi.accounts.programs.checkoutSettings.create",
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/programs/{programsId}/checkoutSettings",
                  "parameters": {
                    "parent": {
                      "description": "Required. The merchant account for which the `CheckoutSettings` will be created.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^accounts/[^/]+/programs/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "CheckoutSettings"
                  },
                  "path": "accounts/v1beta/{+parent}/checkoutSettings",
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "description": "Creates `CheckoutSettings` for the given merchant.",
                  "response": {
                    "$ref": "CheckoutSettings"
                  }
                }
              }
            }
          }
        },
        "termsOfServiceAgreementStates": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+/termsOfServiceAgreementStates/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the terms of service version. Format: `accounts/{account}/termsOfServiceAgreementStates/{identifier}` The identifier format is: `{TermsOfServiceKind}-{country}`"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Returns the state of a terms of service agreement.",
              "response": {
                "$ref": "TermsOfServiceAgreementState"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/termsOfServiceAgreementStates/{termsOfServiceAgreementStatesId}",
              "path": "accounts/v1beta/{+name}",
              "id": "merchantapi.accounts.termsOfServiceAgreementStates.get",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "retrieveForApplication": {
              "response": {
                "$ref": "TermsOfServiceAgreementState"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The account for which to get a TermsOfServiceAgreementState Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "merchantapi.accounts.termsOfServiceAgreementStates.retrieveForApplication",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Retrieves the state of the agreement for the application terms of service. Application terms of service covers permissions related to the usage of data provided through Merchant Center, CSS Center, Manufacturer Center, and more.",
              "httpMethod": "GET",
              "path": "accounts/v1beta/{+parent}/termsOfServiceAgreementStates:retrieveForApplication",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/termsOfServiceAgreementStates:retrieveForApplication"
            }
          }
        },
        "regions": {
          "methods": {
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.regions.delete",
              "path": "accounts/v1beta/{+name}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the region to delete. Format: `accounts/{account}/regions/{region}`",
                  "pattern": "^accounts/[^/]+/regions/[^/]+$"
                }
              },
              "description": "Deletes a region definition from your Merchant Center account. Executing this method requires admin access.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions/{regionsId}",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "response": {
                "$ref": "Region"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.regions.get",
              "description": "Retrieves a region defined in your Merchant Center account.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the region to retrieve. Format: `accounts/{account}/regions/{region}`",
                  "pattern": "^accounts/[^/]+/regions/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1beta/{+name}",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions/{regionsId}"
            },
            "patch": {
              "path": "accounts/v1beta/{+name}",
              "id": "merchantapi.accounts.regions.patch",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier. The resource name of the region. Format: `accounts/{account}/regions/{region}`",
                  "pattern": "^accounts/[^/]+/regions/[^/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The comma-separated field mask indicating the fields to update. Example: `\"displayName,postalCodeArea.regionCode\"`."
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions/{regionsId}",
              "httpMethod": "PATCH",
              "description": "Updates a region definition in your Merchant Center account. Executing this method requires admin access.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "Region"
              },
              "response": {
                "$ref": "Region"
              }
            },
            "create": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The account to create a region for. Format: `accounts/{account}`"
                },
                "regionId": {
                  "description": "Required. The identifier for the region, unique over all regions of the same account.",
                  "type": "string",
                  "location": "query"
                }
              },
              "path": "accounts/v1beta/{+parent}/regions",
              "request": {
                "$ref": "Region"
              },
              "id": "merchantapi.accounts.regions.create",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a region definition in your Merchant Center account. Executing this method requires admin access.",
              "httpMethod": "POST",
              "response": {
                "$ref": "Region"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.regions.list",
              "description": "Lists the regions in your Merchant Center account.",
              "path": "accounts/v1beta/{+parent}/regions",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListRegionsResponse"
              },
              "httpMethod": "GET",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/regions",
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListRegions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRegions` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The account to list regions for. Format: `accounts/{account}`",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of regions to return. The service may return fewer than this value. If unspecified, at most 50 regions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "type": "integer",
                  "location": "query"
                }
              }
            }
          }
        },
        "homepage": {
          "methods": {
            "updateHomepage": {
              "description": "Updates a store's homepage. Executing this method requires admin access.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/homepage",
              "path": "accounts/v1beta/{+name}",
              "request": {
                "$ref": "Homepage"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.homepage.updateHomepage",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/homepage$",
                  "description": "Identifier. The resource name of the store's homepage. Format: `accounts/{account}/homepage`",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `uri`",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Homepage"
              }
            },
            "claim": {
              "response": {
                "$ref": "Homepage"
              },
              "path": "accounts/v1beta/{+name}:claim",
              "request": {
                "$ref": "ClaimHomepageRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/homepage$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the homepage to claim. Format: `accounts/{account}/homepage`",
                  "type": "string"
                }
              },
              "description": "Claims a store's homepage. Executing this method requires admin access. If the homepage is already claimed, this will recheck the verification (unless the business is exempted from claiming, which also exempts from verification) and return a successful response. If ownership can no longer be verified, it will return an error, but it won't clear the claim. In case of failure, a canonical error message is returned: * PERMISSION_DENIED: User doesn't have the necessary permissions on this Merchant Center account. * FAILED_PRECONDITION: - The account is not a Merchant Center account. - Merchant Center account doesn't have a homepage. - Claiming failed (in this case the error message contains more details).",
              "id": "merchantapi.accounts.homepage.claim",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/homepage:claim",
              "httpMethod": "POST"
            },
            "getHomepage": {
              "response": {
                "$ref": "Homepage"
              },
              "path": "accounts/v1beta/{+name}",
              "httpMethod": "GET",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/homepage",
              "description": "Retrieves a store's homepage.",
              "id": "merchantapi.accounts.homepage.getHomepage",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/homepage$",
                  "type": "string",
                  "description": "Required. The name of the homepage to retrieve. Format: `accounts/{account}/homepage`"
                }
              }
            },
            "unclaim": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "request": {
                "$ref": "UnclaimHomepageRequest"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the homepage to unclaim. Format: `accounts/{account}/homepage`",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/homepage$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/homepage:unclaim",
              "httpMethod": "POST",
              "description": "Unclaims a store's homepage. Executing this method requires admin access.",
              "response": {
                "$ref": "Homepage"
              },
              "id": "merchantapi.accounts.homepage.unclaim",
              "path": "accounts/v1beta/{+name}:unclaim"
            }
          }
        },
        "users": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListUsersResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Lists all users of a Merchant Center account.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The parent, which owns this collection of users. Format: `accounts/{account}`"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of users to return. The service may return fewer than this value. If unspecified, at most 50 users will be returned. The maximum value is 100; values above 100 will be coerced to 100",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListUsers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUsers` must match the call that provided the page token.",
                  "location": "query"
                }
              },
              "id": "merchantapi.accounts.users.list",
              "path": "accounts/v1beta/{+parent}/users",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users",
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.users.delete",
              "description": "Deletes a Merchant Center account user. Executing this method requires admin access. The user to be deleted can't be the last admin user of that account.",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/users/[^/]+$",
                  "description": "Required. The name of the user to delete. Format: `accounts/{account}/users/{email}` It is also possible to delete the user corresponding to the caller by using `me` rather than an email address as in `accounts/{account}/users/me`."
                }
              },
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+name}"
            },
            "create": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the account for which a user will be created. Format: `accounts/{account}`"
                },
                "userId": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The email address of the user (for example, `john.doe@gmail.com`)."
                }
              },
              "description": "Creates a Merchant Center account user. Executing this method requires admin access.",
              "request": {
                "$ref": "User"
              },
              "response": {
                "$ref": "User"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+parent}/users",
              "httpMethod": "POST",
              "id": "merchantapi.accounts.users.create",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users"
            },
            "patch": {
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `access_rights`"
                },
                "name": {
                  "description": "Identifier. The resource name of the user. Format: `accounts/{account}/user/{email}` Use `me` to refer to your own email address, for example `accounts/{account}/users/me`.",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/users/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "User"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Updates a Merchant Center account user. Executing this method requires admin access.",
              "request": {
                "$ref": "User"
              },
              "id": "merchantapi.accounts.users.patch",
              "path": "accounts/v1beta/{+name}",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}"
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the user to retrieve. Format: `accounts/{account}/users/{email}` It is also possible to retrieve the user corresponding to the caller by using `me` rather than an email address as in `accounts/{account}/users/me`.",
                  "pattern": "^accounts/[^/]+/users/[^/]+$",
                  "type": "string"
                }
              },
              "id": "merchantapi.accounts.users.get",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}",
              "description": "Retrieves a Merchant Center account user.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "User"
              },
              "path": "accounts/v1beta/{+name}"
            }
          },
          "resources": {
            "me": {
              "methods": {
                "verifySelf": {
                  "parameterOrder": [
                    "account"
                  ],
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/users/me:verifySelf",
                  "id": "merchantapi.accounts.users.me.verifySelf",
                  "parameters": {
                    "account": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the account under which the caller is a user. Format: `accounts/{account}`",
                      "pattern": "^accounts/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "accounts/v1beta/{+account}/users/me:verifySelf",
                  "httpMethod": "PATCH",
                  "description": "Updates the user that is represented by the caller from pending to verified.",
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "request": {
                    "$ref": "VerifySelfRequest"
                  },
                  "response": {
                    "$ref": "User"
                  }
                }
              }
            }
          }
        },
        "autofeedSettings": {
          "methods": {
            "getAutofeedSettings": {
              "path": "accounts/v1beta/{+name}",
              "description": "Retrieves the autofeed settings of an account.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/autofeedSettings$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the autofeed settings. Format: `accounts/{account}/autofeedSettings`"
                }
              },
              "id": "merchantapi.accounts.autofeedSettings.getAutofeedSettings",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/autofeedSettings",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "AutofeedSettings"
              }
            },
            "updateAutofeedSettings": {
              "request": {
                "$ref": "AutofeedSettings"
              },
              "path": "accounts/v1beta/{+name}",
              "id": "merchantapi.accounts.autofeedSettings.updateAutofeedSettings",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/autofeedSettings",
              "response": {
                "$ref": "AutofeedSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Updates the autofeed settings of an account.",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Identifier. The resource name of the autofeed settings. Format: `accounts/{account}/autofeedSettings`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/autofeedSettings$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Required. List of fields being updated.",
                  "location": "query",
                  "type": "string"
                }
              }
            }
          }
        },
        "businessInfo": {
          "methods": {
            "updateBusinessInfo": {
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "BusinessInfo"
              },
              "path": "accounts/v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.businessInfo.updateBusinessInfo",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/businessInfo",
              "description": "Updates the business info of an account. Executing this method requires admin access.",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `address` - `customer_service` - `korean_business_registration_number`",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier. The resource name of the business info. Format: `accounts/{account}/businessInfo`",
                  "pattern": "^accounts/[^/]+/businessInfo$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "BusinessInfo"
              },
              "httpMethod": "PATCH"
            },
            "getBusinessInfo": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/businessInfo",
              "response": {
                "$ref": "BusinessInfo"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the business info. Format: `accounts/{account}/businessInfo`. For example, `accounts/123456/businessInfo`.",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/businessInfo$"
                }
              },
              "description": "Retrieves the business info of an account.",
              "id": "merchantapi.accounts.businessInfo.getBusinessInfo",
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1beta/{+name}",
              "httpMethod": "GET"
            }
          }
        },
        "automaticImprovements": {
          "methods": {
            "getAutomaticImprovements": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/automaticImprovements$",
                  "type": "string",
                  "description": "Required. The resource name of the automatic improvements. Format: `accounts/{account}/automaticImprovements`",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "AutomaticImprovements"
              },
              "path": "accounts/v1beta/{+name}",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/automaticImprovements",
              "description": "Retrieves the automatic improvements of an account.",
              "id": "merchantapi.accounts.automaticImprovements.getAutomaticImprovements",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "updateAutomaticImprovements": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/automaticImprovements",
              "request": {
                "$ref": "AutomaticImprovements"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Identifier. The resource name of the automatic improvements. Format: `accounts/{account}/automaticImprovements`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/automaticImprovements$"
                },
                "updateMask": {
                  "location": "query",
                  "description": "Required. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `item_updates` - `item_updates.account_level_settings` - `image_improvements` - `image_improvements.account_level_settings` - `shipping_improvements` - `shipping_improvements.allow_shipping_improvements`",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.automaticImprovements.updateAutomaticImprovements",
              "path": "accounts/v1beta/{+name}",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates the automatic improvements of an account.",
              "response": {
                "$ref": "AutomaticImprovements"
              }
            }
          }
        },
        "shippingSettings": {
          "methods": {
            "getShippingSettings": {
              "httpMethod": "GET",
              "description": "Retrieve shipping setting information.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the shipping setting to retrieve. Format: `accounts/{account}/shippingsettings`",
                  "pattern": "^accounts/[^/]+/shippingSettings$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ShippingSettings"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/shippingSettings",
              "id": "merchantapi.accounts.shippingSettings.getShippingSettings",
              "parameterOrder": [
                "name"
              ],
              "path": "accounts/v1beta/{+name}"
            },
            "insert": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The account for which this shipping setting will be inserted. If you are using an advanced account, you must specify the unique identifier of the sub-account for which you want to insert the shipping setting. Format: `accounts/{ACCOUNT_ID}`",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "request": {
                "$ref": "ShippingSettings"
              },
              "id": "merchantapi.accounts.shippingSettings.insert",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/shippingSettings:insert",
              "httpMethod": "POST",
              "description": "Replace the shipping setting of a business with the request shipping setting. Executing this method requires admin access.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "ShippingSettings"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "accounts/v1beta/{+parent}/shippingSettings:insert"
            }
          }
        },
        "services": {
          "methods": {
            "get": {
              "response": {
                "$ref": "AccountService"
              },
              "httpMethod": "GET",
              "path": "accounts/v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The resource name of the account service to get. Format: `accounts/{account}/services/{service}`",
                  "pattern": "^accounts/[^/]+/services/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "id": "merchantapi.accounts.services.get",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services/{servicesId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieve an account service."
            },
            "propose": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services:propose",
              "request": {
                "$ref": "ProposeAccountServiceRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "merchantapi.accounts.services.propose",
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The resource name of the parent account for the service. Format: `accounts/{account}`",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+parent}/services:propose",
              "httpMethod": "POST",
              "response": {
                "$ref": "AccountService"
              },
              "description": "Propose an account service."
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services",
              "parameterOrder": [
                "parent"
              ],
              "path": "accounts/v1beta/{+parent}/services",
              "httpMethod": "GET",
              "id": "merchantapi.accounts.services.list",
              "parameters": {
                "pageToken": {
                  "description": "Optional. The token returned by the previous `list` request.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of elements to return in the response. Use for paging. If no `page_size` is specified, `100` is used as the default value. The maximum allowed value is `1000`.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The parent account of the account service to filter by. Format: `accounts/{account}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "response": {
                "$ref": "ListAccountServicesResponse"
              },
              "description": "List account services for the specified accounts. Supports filtering."
            },
            "approve": {
              "response": {
                "$ref": "AccountService"
              },
              "id": "merchantapi.accounts.services.approve",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services/{servicesId}:approve",
              "path": "accounts/v1beta/{+name}:approve",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/services/[^/]+$",
                  "description": "Required. The resource name of the account service to approve. Format: `accounts/{account}/services/{service}`"
                }
              },
              "request": {
                "$ref": "ApproveAccountServiceRequest"
              },
              "description": "Approve an account service proposal.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "reject": {
              "id": "merchantapi.accounts.services.reject",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the account service to reject. Format: `accounts/{account}/services/{service}`",
                  "pattern": "^accounts/[^/]+/services/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/services/{servicesId}:reject",
              "request": {
                "$ref": "RejectAccountServiceRequest"
              },
              "description": "Reject an account service (both proposed and approve services can be rejected).",
              "path": "accounts/v1beta/{+name}:reject"
            }
          }
        },
        "omnichannelSettings": {
          "resources": {
            "lfpProviders": {
              "methods": {
                "find": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$",
                      "description": "Required. The name of the parent resource under which the LFP providers are found. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of `LfpProvider` resources to return. The service returns fewer than this value if the number of lfp providers is less that than the `pageSize`. The default value is 50. The maximum value is 1000; If a value higher than the maximum is specified, then the `pageSize` will default to the maximum."
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `FindLfpProviders` call. Provide the page token to retrieve the subsequent page. When paginating, all other parameters provided to `FindLfpProviders` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "FindLfpProvidersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "path": "accounts/v1beta/{+parent}/lfpProviders:find",
                  "httpMethod": "GET",
                  "id": "merchantapi.accounts.omnichannelSettings.lfpProviders.find",
                  "description": "Find the LFP provider candidates in a given country.",
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}/lfpProviders:find",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "linkLfpProvider": {
                  "request": {
                    "$ref": "LinkLfpProviderRequest"
                  },
                  "response": {
                    "$ref": "LinkLfpProviderResponse"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+/lfpProviders/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the LFP provider resource to link. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}/lfpProviders/{lfp_provider}`. The `lfp_provider` is the LFP provider ID.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/content"
                  ],
                  "id": "merchantapi.accounts.omnichannelSettings.lfpProviders.linkLfpProvider",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "path": "accounts/v1beta/{+name}:linkLfpProvider",
                  "description": "Link the specified merchant to a LFP provider for the specified country.",
                  "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}/lfpProviders/{lfpProvidersId}:linkLfpProvider"
                }
              }
            }
          },
          "methods": {
            "get": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}",
              "description": "Get the omnichannel settings for a given merchant.",
              "path": "accounts/v1beta/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.omnichannelSettings.get",
              "response": {
                "$ref": "OmnichannelSetting"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the omnichannel setting to retrieve. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$"
                }
              }
            },
            "create": {
              "description": "Create the omnichannel settings for a given merchant.",
              "id": "merchantapi.accounts.omnichannelSettings.create",
              "request": {
                "$ref": "OmnichannelSetting"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource where this omnichannel setting will be created. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "accounts/v1beta/{+parent}/omnichannelSettings",
              "httpMethod": "POST",
              "response": {
                "$ref": "OmnichannelSetting"
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListOmnichannelSettingsResponse"
              },
              "path": "accounts/v1beta/{+parent}/omnichannelSettings",
              "id": "merchantapi.accounts.omnichannelSettings.list",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent, which owns this collection of omnichannel settings. Format: `accounts/{account}`",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListOmnichannelSettings` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOmnichannelSettings` must match the call that provided the page token."
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of omnichannel settings to return. The service may return fewer than this value. If unspecified, at most 50 omnichannel settings will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "description": "List all the omnichannel settings for a given merchant."
            },
            "patch": {
              "path": "accounts/v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Update the omnichannel setting for a given merchant in a given country.",
              "response": {
                "$ref": "OmnichannelSetting"
              },
              "id": "merchantapi.accounts.omnichannelSettings.patch",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "Required. The list of fields to be updated. The following fields are supported in snake_case only: - `lsf_type` - `in_stock` - `pickup` - `odo` - `about` - `inventory_verification` Full replacement with wildcard `*`is supported, while empty/implied update mask is not.",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$",
                  "type": "string",
                  "description": "Identifier. The resource name of the omnichannel setting. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}",
              "request": {
                "$ref": "OmnichannelSetting"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ]
            },
            "requestInventoryVerification": {
              "flatPath": "accounts/v1beta/accounts/{accountsId}/omnichannelSettings/{omnichannelSettingsId}:requestInventoryVerification",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/omnichannelSettings/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the omnichannel setting to request inventory verification. Format: `accounts/{account}/omnichannelSettings/{omnichannel_setting}`",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Requests inventory verification for a given merchant in a given country.",
              "request": {
                "$ref": "RequestInventoryVerificationRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "RequestInventoryVerificationResponse"
              },
              "id": "merchantapi.accounts.omnichannelSettings.requestInventoryVerification",
              "path": "accounts/v1beta/{+name}:requestInventoryVerification"
            }
          }
        },
        "emailPreferences": {
          "methods": {
            "getEmailPreferences": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+name}",
              "response": {
                "$ref": "EmailPreferences"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.emailPreferences.getEmailPreferences",
              "description": "Returns the email preferences for a Merchant Center account user. This service only permits retrieving and updating email preferences for the authenticated user. Use the name=accounts/*/users/me/emailPreferences alias to get preferences for the authenticated user.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the `EmailPreferences` resource. Format: `accounts/{account}/users/{email}/emailPreferences`",
                  "pattern": "^accounts/[^/]+/users/[^/]+/emailPreferences$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}/emailPreferences",
              "httpMethod": "GET"
            },
            "updateEmailPreferences": {
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "description": "Required. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `news_and_tips`",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "name": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+/users/[^/]+/emailPreferences$",
                  "location": "path",
                  "required": true,
                  "description": "Identifier. The name of the EmailPreferences. The endpoint is only supported for the authenticated user."
                }
              },
              "path": "accounts/v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "EmailPreferences"
              },
              "httpMethod": "PATCH",
              "description": "Updates the email preferences for a Merchant Center account user. Advanced account users should specify the advanced account rather than a sub-account of the advanced account. Preferences which are not explicitly selected in the update mask will not be updated. It is invalid for updates to specify an UNCONFIRMED opt-in status value. Use the name=accounts/*/users/me/emailPreferences alias to update preferences for the authenticated user.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/users/{usersId}/emailPreferences",
              "request": {
                "$ref": "EmailPreferences"
              },
              "id": "merchantapi.accounts.emailPreferences.updateEmailPreferences"
            }
          }
        },
        "relationships": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the account relationship to get. Format: `accounts/{account}/relationships/{relationship}`. For example, `accounts/123456/relationships/567890`.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/relationships/[^/]+$"
                }
              },
              "path": "accounts/v1beta/{+name}",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/relationships/{relationshipsId}",
              "description": "Retrieve an account relationship.",
              "httpMethod": "GET",
              "response": {
                "$ref": "AccountRelationship"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.relationships.get"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "description": "Updates the account relationship. Executing this method requires admin access.",
              "response": {
                "$ref": "AccountRelationship"
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/relationships/{relationshipsId}",
              "path": "accounts/v1beta/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/relationships/[^/]+$",
                  "description": "Identifier. The resource name of the account relationship. Format: `accounts/{account}/relationships/{relationship}`. For example, `accounts/123456/relationships/567890`.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Optional. List of fields being updated. The following fields are supported (in both `snake_case` and `lowerCamelCase`): - `account_id_alias`",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "AccountRelationship"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "id": "merchantapi.accounts.relationships.patch"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "path": "accounts/v1beta/{+parent}/relationships",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The token returned by the previous `list` request."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The parent account of the account relationship to filter by. Format: `accounts/{account}`"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of elements to return in the response. Use for paging. If no `page_size` is specified, `100` is used as the default value. The maximum allowed value is `1000`.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/relationships",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "ListAccountRelationshipsResponse"
              },
              "description": "List account relationships for the specified account.",
              "id": "merchantapi.accounts.relationships.list"
            }
          }
        },
        "issues": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAccountIssuesResponse"
              },
              "description": "Lists all account issues of a Merchant Center account. When called on a multi-client account, this method only returns issues belonging to that account, not its sub-accounts. To retrieve issues for sub-accounts, you must first call the accounts.listSubaccounts method to obtain a list of sub-accounts, and then call `accounts.issues.list` for each sub-account individually.",
              "parameters": {
                "languageCode": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The issues in the response will have human-readable fields in the given language. The format is [BCP-47](https://tools.ietf.org/html/bcp47), such as `en-US` or `sr-Latn`. If not value is provided, `en-US` will be used."
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListAccountIssues` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountIssues` must match the call that provided the page token.",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent, which owns this collection of issues. Format: `accounts/{account}`",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "description": "Optional. The maximum number of issues to return. The service may return fewer than this value. If unspecified, at most 50 issues will be returned. The maximum value is 100; values above 100 will be coerced to 100",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "timeZone": {
                  "description": "Optional. The [IANA](https://www.iana.org/time-zones) timezone used to localize times in human-readable fields. For example 'America/Los_Angeles'. If not set, 'America/Los_Angeles' will be used.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "accounts/v1beta/accounts/{accountsId}/issues",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "httpMethod": "GET",
              "path": "accounts/v1beta/{+parent}/issues",
              "id": "merchantapi.accounts.issues.list"
            }
          }
        },
        "developerRegistration": {
          "methods": {
            "unregisterGcp": {
              "path": "accounts/v1beta/{+name}:unregisterGcp",
              "id": "merchantapi.accounts.developerRegistration.unregisterGcp",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the developer registration to be created for the merchant account that the GCP will be registered with. Format: `accounts/{account}/developerRegistration`",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/developerRegistration$"
                }
              },
              "description": "Unregister the calling GCP from the calling shopping account. Note that the GCP will still be able to access the API for at most 1 day from the unregister succussful call.",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/developerRegistration:unregisterGcp",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "request": {
                "$ref": "UnregisterGcpRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ]
            },
            "getDeveloperRegistration": {
              "path": "accounts/v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "accounts/v1beta/accounts/{accountsId}/developerRegistration",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "id": "merchantapi.accounts.developerRegistration.getDeveloperRegistration",
              "parameters": {
                "name": {
                  "description": "Required. The `name` (ID) of the developer registration.",
                  "pattern": "^accounts/[^/]+/developerRegistration$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Retrieves a developer registration for a merchant.",
              "httpMethod": "GET",
              "response": {
                "$ref": "DeveloperRegistration"
              }
            },
            "getAccountForGcpRegistration": {
              "id": "merchantapi.accounts.developerRegistration.getAccountForGcpRegistration",
              "httpMethod": "GET",
              "path": "accounts/v1beta/accounts:getAccountForGcpRegistration",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "response": {
                "$ref": "GetAccountForGcpRegistrationResponse"
              },
              "parameters": {},
              "flatPath": "accounts/v1beta/accounts:getAccountForGcpRegistration",
              "parameterOrder": [],
              "description": "Retrieves the merchant account that the calling GCP is registered with."
            },
            "registerGcp": {
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "RegisterGcpRequest"
              },
              "response": {
                "$ref": "DeveloperRegistration"
              },
              "description": "Registers the GCP used for the API call to the shopping account passed in the request. Will create a user with an \"API developer\" and add the \"developer_email\" as a contact with \"API notifications\" email preference on. Restrictions: * The caller account must be authenticated and must not impersonate another account at registration time. Registering for subaccounts is not supported if the caller account is authenticated with the parent or the managing advanced account. * The caller account must have a [verified website](https://support.google.com/merchants/answer/11586344) in Merchant Center. * [Test accounts](https://developers.google.com/merchant/api/guides/accounts/test-accounts) are not eligible for registration.",
              "scopes": [
                "https://www.googleapis.com/auth/content"
              ],
              "path": "accounts/v1beta/{+name}:registerGcp",
              "flatPath": "accounts/v1beta/accounts/{accountsId}/developerRegistration:registerGcp",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/developerRegistration$",
                  "description": "Required. The name of the developer registration to be created for the merchant account that the GCP will be registered with. Format: `accounts/{account}/developerRegistration` The {account} used must be the same account where user calling this API method is directly added to. Note: The account used must be a production account (can't be a [test account](https://developers.google.com/merchant/api/guides/accounts/test-accounts) ) and must have a [verified website](https://support.google.com/merchants/answer/11586344) in Merchant Center."
                }
              },
              "id": "merchantapi.accounts.developerRegistration.registerGcp"
            }
          }
        }
      },
      "methods": {
        "createAndConfigure": {
          "description": "Creates a Merchant Center account with additional configuration. Adds the user that makes the request as an admin for the new account.",
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "flatPath": "accounts/v1beta/accounts:createAndConfigure",
          "request": {
            "$ref": "CreateAndConfigureAccountRequest"
          },
          "path": "accounts/v1beta/accounts:createAndConfigure",
          "id": "merchantapi.accounts.createAndConfigure",
          "parameterOrder": []
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "id": "merchantapi.accounts.list",
          "flatPath": "accounts/v1beta/accounts",
          "httpMethod": "GET",
          "description": "Note: For the `accounts.list` method, quota and limits usage are charged for each user, and not for the Merchant Center ID or the advanced account ID. To list several sub-accounts, you should use the `accounts.listSubaccounts` method, which is more suitable for advanced accounts use case.",
          "parameterOrder": [],
          "path": "accounts/v1beta/accounts",
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "parameters": {
            "pageToken": {
              "description": "Optional. A page token, received from a previous `accounts.list` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided in the `accounts.list` request must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Optional. The maximum number of accounts to return. The service may return fewer than this value. If unspecified, at most 250 accounts are returned. The maximum value is 500; values above 500 are coerced to 500."
            },
            "filter": {
              "description": "Optional. Returns only accounts that match the [filter](https://developers.google.com/merchant/api/guides/accounts/filter). For more details, see the [filter syntax reference](https://developers.google.com/merchant/api/guides/accounts/filter-syntax).",
              "location": "query",
              "type": "string"
            }
          }
        },
        "createTestAccount": {
          "description": "Creates a Merchant Center test account. Test accounts are intended for development and testing purposes, such as validating API integrations or new feature behavior. Key characteristics and limitations of test accounts: - Immutable Type: A test account cannot be converted into a regular (live) Merchant Center account. Likewise, a regular account cannot be converted into a test account. - Non-Serving Products: Any products, offers, or data created within a test account will not be published or made visible to end-users on any Google surfaces. They are strictly for testing environments. - Separate Environment: Test accounts operate in a sandbox-like manner, isolated from live serving and real user traffic.",
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "accounts/v1beta/accounts/{accountsId}:createTestAccount",
          "scopes": [
            "https://www.googleapis.com/auth/content"
          ],
          "response": {
            "$ref": "Account"
          },
          "id": "merchantapi.accounts.createTestAccount",
          "httpMethod": "POST",
          "parameters": {
            "parent": {
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "description": "Required. The account resource name to create the test account under. Format: accounts/{account}",
              "location": "path",
              "required": true
            }
          },
          "path": "accounts/v1beta/{+parent}:createTestAccount",
          "request": {
            "$ref": "Account"
          }
        },
        "get": {
          "description": "Retrieves an account from your Merchant Center account. After inserting, updating, or deleting an account, it may take several minutes before changes take effect.",
          "httpMethod": "GET",
          "flatPath": "accounts/v1beta/accounts/{accountsId}",
          "parameters": {
[...]
