{
  "protocol": "rest",
  "basePath": "",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    }
  },
  "description": "The Dataproc Metastore API is used to manage the lifecycle and configuration of metastore services.",
  "batchPath": "batch",
  "servicePath": "",
  "rootUrl": "https://metastore.googleapis.com/",
  "mtlsRootUrl": "https://metastore.mtls.googleapis.com/",
  "revision": "20260813",
  "schemas": {
    "TestIamPermissionsResponse": {
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of TestPermissionsRequest.permissions that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsResponse",
      "description": "Response message for TestIamPermissions method."
    },
    "CloudSQLMigrationConfig": {
      "type": "object",
      "properties": {
        "cdcConfig": {
          "$ref": "CdcConfig",
          "description": "Required. Configuration information to start the Change Data Capture (CDC) streams from customer database to backend database of Dataproc Metastore. Dataproc Metastore switches to using its backend database after the cutover phase of migration."
        },
        "cloudSqlConnectionConfig": {
          "description": "Required. Configuration information to establish customer database connection before the cutover phase of migration",
          "$ref": "CloudSQLConnectionConfig"
        }
      },
      "id": "CloudSQLMigrationConfig",
      "description": "Deprecated: Migrations to Dataproc Metastore are no longer supported. Use BigLake Metastore migration instead. Configuration information for migrating from self-managed hive metastore on Google Cloud using Cloud SQL as the backend database to Dataproc Metastore."
    },
    "HiveMetastoreVersion": {
      "type": "object",
      "properties": {
        "version": {
          "description": "The semantic version of the Hive Metastore software.",
          "type": "string"
        },
        "isDefault": {
          "description": "Whether version will be chosen by the server if a metastore service is created with a HiveMetastoreConfig that omits the version.",
          "type": "boolean"
        }
      },
      "description": "A specification of a supported version of the Hive Metastore software.",
      "id": "HiveMetastoreVersion"
    },
    "MoveTableToDatabaseResponse": {
      "description": "Response message for DataprocMetastore.MoveTableToDatabase.",
      "id": "MoveTableToDatabaseResponse",
      "type": "object",
      "properties": {}
    },
    "RestoreServiceRequest": {
      "type": "object",
      "properties": {
        "restoreType": {
          "enumDescriptions": [
            "The restore type is unknown.",
            "The service's metadata and configuration are restored.",
            "Only the service's metadata is restored."
          ],
          "description": "Optional. The type of restore. If unspecified, defaults to METADATA_ONLY.",
          "type": "string",
          "enum": [
            "RESTORE_TYPE_UNSPECIFIED",
            "FULL",
            "METADATA_ONLY"
          ]
        },
        "backup": {
          "description": "Optional. The relative resource name of the metastore service backup to restore from, in the following form:projects/{project_id}/locations/{location_id}/services/{service_id}/backups/{backup_id}. Mutually exclusive with backup_location, and exactly one of the two must be set.",
          "type": "string"
        },
        "backupLocation": {
          "type": "string",
          "description": "Optional. A Cloud Storage URI specifying the location of the backup artifacts, namely - backup avro files under \"avro/\", backup_metastore.json and service.json, in the following form:gs://. Mutually exclusive with backup, and exactly one of the two must be set."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. A request ID. Specify a unique request ID to allow the server to ignore the request if it has completed. The server will ignore subsequent requests that provide a duplicate request ID for at least 60 minutes after the first request.For example, if an initial request times out, followed by another request with the same request ID, the server ignores the second request to prevent the creation of duplicate commitments.The request ID must be a valid UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier#Format). A zero UUID (00000000-0000-0000-0000-000000000000) is not supported."
        }
      },
      "id": "RestoreServiceRequest",
      "description": "Request message for DataprocMetastore.RestoreService."
    },
    "MultiRegionMetadata": {
      "type": "object",
      "properties": {
        "witnessRegion": {
          "description": "The Spanner witness region for this multi-region.",
          "type": "string"
        },
        "continent": {
          "description": "The continent for this multi-region.",
          "type": "string"
        },
        "constituentRegions": {
          "description": "The regions constituting the multi-region.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Deprecated: Use a single region service instead. The metadata for the multi-region that includes the constituent regions. The metadata is only populated if the region is multi-region. For single region or custom dual region, it will be empty.",
      "deprecated": true,
      "id": "MultiRegionMetadata"
    },
    "Consumer": {
      "type": "object",
      "properties": {
        "subnetwork": {
          "description": "Immutable. The subnetwork of the customer project from which an IP address is reserved and used as the Dataproc Metastore service's endpoint. It is accessible to hosts in the subnet and to all hosts in a subnet in the same region and same network. There must be at least one IP address available in the subnet's primary range. The subnet is specified in the following form:projects/{project_number}/regions/{region_id}/subnetworks/{subnetwork_id}",
          "type": "string"
        },
        "endpointUri": {
          "description": "Output only. The URI of the endpoint used to access the metastore service.",
          "type": "string",
          "readOnly": true
        },
        "endpointLocation": {
          "description": "Output only. The location of the endpoint URI. Format: projects/{project}/locations/{location}.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Contains information of the customer's network configurations.",
      "id": "Consumer"
    },
    "MetadataExport": {
      "type": "object",
      "properties": {
        "destinationGcsUri": {
          "description": "Output only. A Cloud Storage URI of a folder that metadata are exported to, in the form of gs:////, where is automatically generated.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of the export.",
          "enumDescriptions": [
            "The state of the metadata export is unknown.",
            "The metadata export is running.",
            "The metadata export completed successfully.",
            "The metadata export failed.",
            "The metadata export is cancelled."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ]
        },
        "databaseDumpType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "MYSQL",
            "AVRO"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the database dump.",
          "enumDescriptions": [
            "The type of the database dump is unknown.",
            "Database dump is a MySQL dump file.",
            "Database dump contains Avro files."
          ]
        },
        "startTime": {
          "description": "Output only. The time when the export started.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time when the export ended.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "MetadataExport",
      "description": "The details of a metadata export operation."
    },
    "MetadataManagementActivity": {
      "id": "MetadataManagementActivity",
      "description": "The metadata management activities of the metastore service.",
      "type": "object",
      "properties": {
        "metadataExports": {
          "type": "array",
          "items": {
            "$ref": "MetadataExport"
          },
          "readOnly": true,
          "description": "Output only. The latest metadata exports of the metastore service."
        },
        "restores": {
          "description": "Output only. The latest restores of the metastore service.",
          "type": "array",
          "items": {
            "$ref": "Restore"
          },
          "readOnly": true
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets ListOperationsRequest.return_partial_success and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "BackendMetastore": {
      "type": "object",
      "properties": {
        "metastoreType": {
          "enum": [
            "METASTORE_TYPE_UNSPECIFIED",
            "BIGQUERY",
            "DATAPROC_METASTORE"
          ],
          "type": "string",
          "description": "The type of the backend metastore.",
          "enumDescriptions": [
            "The metastore type is not set.",
            "The backend metastore is BigQuery.",
            "The backend metastore is Dataproc Metastore."
          ]
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of the metastore that is being federated. The formats of the relative resource names for the currently supported metastores are listed below: BigQuery projects/{project_id} Dataproc Metastore projects/{project_id}/locations/{location}/services/{service_id}"
        }
      },
      "description": "Represents a backend metastore for the federation.",
      "id": "BackendMetastore"
    },
    "Federation": {
      "id": "Federation",
      "description": "Represents a federation of multiple backend metastores.",
      "type": "object",
      "properties": {
        "stateMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information about the current state of the metastore federation, if available."
        },
        "createTime": {
          "description": "Output only. The time when the metastore federation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Immutable. The relative resource name of the federation, of the form: projects/{project_number}/locations/{location_id}/federations/{federation_id}`.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time when the metastore federation was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "backendMetastores": {
          "type": "object",
          "additionalProperties": {
            "$ref": "BackendMetastore"
          },
          "description": "A map from BackendMetastore rank to BackendMetastores from which the federation service serves metadata at query time. The map key represents the order in which BackendMetastores should be evaluated to resolve database names at query time and should be greater than or equal to zero. A BackendMetastore with a lower number will be evaluated before a BackendMetastore with a higher number."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\""
        },
        "labels": {
          "description": "User-defined labels for the metastore federation.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "version": {
          "description": "Immutable. The Apache Hive metastore version of the federation. All backend metastore versions must be compatible with the federation version.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "ERROR"
          ],
          "enumDescriptions": [
            "The state of the metastore federation is unknown.",
            "The metastore federation is in the process of being created.",
            "The metastore federation is running and ready to serve queries.",
            "The metastore federation is being updated. It remains usable but cannot accept additional update requests or be deleted at this time.",
            "The metastore federation is undergoing deletion. It cannot be used.",
            "The metastore federation has encountered an error and cannot be used. The metastore federation should be deleted."
          ],
          "description": "Output only. The current state of the federation.",
          "type": "string",
          "readOnly": true
        },
        "endpointUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The federation endpoint."
        },
        "uid": {
          "description": "Output only. The globally unique resource identifier of the metastore federation.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ListServicesResponse": {
      "id": "ListServicesResponse",
      "description": "Response message for DataprocMetastore.ListServices.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "services": {
          "type": "array",
          "items": {
            "$ref": "Service"
          },
          "description": "The services in the specified location."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MetadataImport": {
      "id": "MetadataImport",
      "description": "A metastore resource that imports metadata.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. The description of the metadata import.",
          "type": "string"
        },
        "databaseDump": {
          "$ref": "DatabaseDump",
          "description": "Immutable. A database dump from a pre-existing metastore's database."
        },
        "endTime": {
          "description": "Output only. The time when the metadata import finished.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Immutable. Identifier. The relative resource name of the metadata import, of the form:projects/{project_number}/locations/{location_id}/services/{service_id}/metadataImports/{metadata_import_id}.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time when the metadata import was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "UPDATING",
            "FAILED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of the metadata import.",
          "enumDescriptions": [
            "The state of the metadata import is unknown.",
            "The metadata import is running.",
            "The metadata import completed successfully.",
            "The metadata import is being updated.",
            "The metadata import failed, and attempted metadata changes were rolled back."
          ]
        },
        "createTime": {
          "description": "Output only. The time when the metadata import was started.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Backup": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. The description of the backup.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the backup finished creating.",
          "format": "google-datetime"
        },
        "serviceRevision": {
          "description": "Output only. The revision of the service at the time of backup.",
          "$ref": "Service",
          "readOnly": true
        },
        "restoringServices": {
          "description": "Output only. Services that are restoring from the backup.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Immutable. Identifier. The relative resource name of the backup, in the following form:projects/{project_number}/locations/{location_id}/services/{service_id}/backups/{backup_id}",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the backup was started.",
          "format": "google-datetime"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of the backup.",
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup is being created.",
            "The backup is being deleted.",
            "The backup is active and ready to use.",
            "The backup failed.",
            "The backup is being restored."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "DELETING",
            "ACTIVE",
            "FAILED",
            "RESTORING"
          ]
        }
      },
      "id": "Backup",
      "description": "The details of a backup resource."
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "type": "object",
      "properties": {}
    },
    "MigrationExecution": {
      "description": "The details of a migration execution resource.",
      "id": "MigrationExecution",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the migration execution finished.",
          "format": "google-datetime"
        },
        "stateMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information about the current state of the migration execution."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTING",
            "RUNNING",
            "CANCELLING",
            "AWAITING_USER_ACTION",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "DELETING",
            "ROLLED_BACK"
          ],
          "description": "Output only. The current state of the migration execution.",
          "enumDescriptions": [
            "The state of the migration execution is unknown.",
            "The migration execution is starting.",
            "The migration execution is running.",
            "The migration execution is in the process of being cancelled.",
            "The migration execution is awaiting user action.",
            "The migration execution has completed successfully.",
            "The migration execution has failed.",
            "The migration execution is cancelled.",
            "The migration execution is being deleted.",
            "The migration execution has been rolled back. This occurs when CancelMigration is invoked after the migration has completed and the metastore service is in the PROXY state, returning the service to the ACTIVE state. This enables rollback support when the customer wants to resume using DPMS after a successful migration."
          ],
          "readOnly": true,
          "type": "string"
        },
        "phase": {
          "deprecated": true,
          "enum": [
            "PHASE_UNSPECIFIED",
            "REPLICATION",
            "CUTOVER"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Deprecated: Phase was designed for incoming migrations to Dataproc Metastore, not applicable when migrating away from it. The current phase of the migration execution.",
          "enumDescriptions": [
            "The phase of the migration execution is unknown.",
            "Replication phase refers to the migration phase when Dataproc Metastore is running a pipeline to replicate changes in the customer database to its backend database. During this phase, Dataproc Metastore uses the customer database as the hive metastore backend database.",
            "Cutover phase refers to the migration phase when Dataproc Metastore switches to using its own backend database. Migration enters this phase when customer is done migrating all their clusters/workloads to Dataproc Metastore and triggers CompleteMigration."
          ]
        },
        "cloudSqlMigrationConfig": {
          "$ref": "CloudSQLMigrationConfig",
          "deprecated": true,
          "description": "Deprecated: Migrations to Dataproc Metastore are no longer supported. Use BigLake Metastore migration instead. Configuration information specific to migrating from self-managed hive metastore on Google Cloud using Cloud SQL as the backend database to Dataproc Metastore."
        },
        "createTime": {
          "description": "Output only. The time when the migration execution was started.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The relative resource name of the migration execution, in the following form: projects/{project_number}/locations/{location_id}/services/{service_id}/migrationExecutions/{migration_execution_id}"
        }
      }
    },
    "ListFederationsResponse": {
      "type": "object",
      "properties": {
        "federations": {
          "description": "The services in the specified location.",
          "type": "array",
          "items": {
            "$ref": "Federation"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListFederationsResponse",
      "description": "Response message for ListFederations"
    },
    "LimitConfig": {
      "description": "Represents the autoscaling limit configuration of a metastore service.",
      "id": "LimitConfig",
      "type": "object",
      "properties": {
        "maxScalingFactor": {
          "description": "Optional. The highest scaling factor that the service should be autoscaled to.",
          "format": "float",
          "type": "number"
        },
        "minScalingFactor": {
          "description": "Optional. The lowest scaling factor that the service should be autoscaled to.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "DatabaseDump": {
      "id": "DatabaseDump",
      "description": "A specification of the location of and metadata about a database dump from a relational database management system.",
      "type": "object",
      "properties": {
        "databaseType": {
          "deprecated": true,
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "MYSQL"
          ],
          "description": "The type of the database.",
          "enumDescriptions": [
            "The type of the source database is unknown.",
            "The type of the source database is MySQL."
          ],
          "type": "string"
        },
        "gcsUri": {
          "description": "Optional. A Cloud Storage object or folder URI that specifies the source from which to import metadata. It must begin with gs://.",
          "type": "string"
        },
        "sourceDatabase": {
          "type": "string",
          "deprecated": true,
          "description": "Optional. The name of the source database."
        },
        "type": {
          "description": "Optional. The type of the database dump. If unspecified, defaults to MYSQL.",
          "enumDescriptions": [
            "The type of the database dump is unknown.",
            "Database dump is a MySQL dump file.",
            "Database dump contains Avro files."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "MYSQL",
            "AVRO"
          ],
          "type": "string"
        }
      }
    },
    "AlterTablePropertiesRequest": {
      "type": "object",
      "properties": {
        "tableName": {
          "description": "Required. The name of the table containing the properties you're altering in the following format.databases/{database_id}/tables/{table_id}",
          "type": "string"
        },
        "updateMask": {
          "type": "string",
          "description": "A field mask that specifies the metadata table properties that are overwritten by the update. Fields specified in the update_mask are relative to the resource (not to the full request). A field is overwritten if it is in the mask.For example, given the target properties: properties { a: 1 b: 2 } And an update properties: properties { a: 2 b: 3 c: 4 } then if the field mask is:paths: \"properties.b\", \"properties.c\"then the result will be: properties { a: 1 b: 3 c: 4 } ",
          "format": "google-fieldmask"
        },
        "properties": {
          "description": "A map that describes the desired values to mutate. If update_mask is empty, the properties will not update. Otherwise, the properties only alters the value whose associated paths exist in the update mask",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "Request message for DataprocMetastore.AlterTableProperties.",
      "id": "AlterTablePropertiesRequest"
    },
    "DataCatalogConfig": {
      "description": "Specifies how metastore metadata should be integrated with the Data Catalog service.",
      "id": "DataCatalogConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Optional. Defines whether the metastore metadata should be synced to Data Catalog. The default value is to disable syncing metastore metadata to Data Catalog.",
          "type": "boolean"
        }
      }
    },
    "Location": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"} ",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: \"us-east1\".",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: \"projects/example-project/locations/us-east1\"",
          "type": "string"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location"
    },
    "AlterMetadataResourceLocationResponse": {
      "type": "object",
      "properties": {},
      "id": "AlterMetadataResourceLocationResponse",
      "description": "Response message for DataprocMetastore.AlterMetadataResourceLocation."
    },
    "TelemetryConfig": {
      "description": "Telemetry Configuration for the Dataproc Metastore service.",
      "id": "TelemetryConfig",
      "type": "object",
      "properties": {
        "logFormat": {
          "enum": [
            "LOG_FORMAT_UNSPECIFIED",
            "LEGACY",
            "JSON"
          ],
          "type": "string",
          "description": "Optional. The output format of the Dataproc Metastore service's logs.",
          "enumDescriptions": [
            "The LOG_FORMAT is not set.",
            "Logging output uses the legacy textPayload format.",
            "Logging output uses the jsonPayload format."
          ]
        }
      }
    },
    "QueryMetadataRequest": {
      "id": "QueryMetadataRequest",
      "description": "Request message for DataprocMetastore.QueryMetadata.",
      "type": "object",
      "properties": {
        "query": {
          "description": "Required. A read-only SQL query to execute against the metadata database. The query cannot change or mutate the data.",
          "type": "string"
        }
      }
    },
    "MessageSet": {
      "id": "MessageSet",
      "deprecated": true,
      "description": "This is proto2's version of MessageSet.DEPRECATED: DO NOT USE FOR NEW FIELDS.If you are using editions or proto2, please make your own extendable messages for your use case. If you are using proto3, please use Any instead.MessageSet was the implementation of extensions for proto1. When proto2 was introduced, extensions were implemented as a first-class feature. This schema for MessageSet was meant to be a \"bridge\" solution to migrate MessageSet-bearing messages from proto1 to proto2.This schema has been open-sourced only to facilitate the migration of Google products with MessageSet-bearing messages to open-source environments.",
      "type": "object",
      "properties": {}
    },
    "LatestBackup": {
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the backup was started.",
          "format": "google-datetime"
        },
        "duration": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The duration of the backup completion.",
          "format": "google-duration"
        },
        "state": {
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup is in progress.",
            "The backup completed.",
            "The backup failed."
          ],
          "description": "Output only. The current state of the backup.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "backupId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of an in-progress scheduled backup. Empty if no backup is in progress."
        }
      },
      "description": "The details of the latest scheduled backup.",
      "id": "LatestBackup"
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the resource. Permissions with wildcards (such as * or storage.*) are not allowed. For more information see IAM Overview (https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "description": "Request message for TestIamPermissions method.",
      "id": "TestIamPermissionsRequest"
    },
    "CdcConfig": {
      "id": "CdcConfig",
      "description": "Configuration information to start the Change Data Capture (CDC) streams from customer database to backend database of Dataproc Metastore.",
      "type": "object",
      "properties": {
        "vpcNetwork": {
          "description": "Required. Fully qualified name of the Cloud SQL instance's VPC network or the shared VPC network that Datastream will peer to, in the following format: projects/{project_id}/locations/global/networks/{network_id}. More context in https://cloud.google.com/datastream/docs/network-connectivity-options#privateconnectivity",
          "type": "string"
        },
        "subnetIpRange": {
          "description": "Required. A /29 CIDR IP range for peering with datastream.",
          "type": "string"
        },
        "bucket": {
          "type": "string",
          "description": "Optional. The bucket to write the intermediate stream event data in. The bucket name must be without any prefix like \"gs://\". See the bucket naming requirements (https://cloud.google.com/storage/docs/buckets#naming). This field is optional. If not set, the Artifacts Cloud Storage bucket will be used."
        },
        "password": {
          "type": "string",
          "description": "Required. Input only. The password for the user that Datastream service should use for the MySQL connection. This field is not returned on request."
        },
        "rootPath": {
          "type": "string",
          "description": "Optional. The root path inside the Cloud Storage bucket. The stream event data will be written to this path. The default value is /migration."
        },
        "username": {
          "description": "Required. The username that the Datastream service should use for the MySQL connection.",
          "type": "string"
        },
        "reverseProxySubnet": {
          "type": "string",
          "description": "Required. The URL of the subnetwork resource to create the VM instance hosting the reverse proxy in. More context in https://cloud.google.com/datastream/docs/private-connectivity#reverse-csql-proxy The subnetwork should reside in the network provided in the request that Datastream will peer to and should be in the same region as Datastream, in the following format. projects/{project_id}/regions/{region_id}/subnetworks/{subnetwork_id}"
        }
      }
    },
    "StatusProto": {
      "id": "StatusProto",
      "description": "Wire-format for a Status object",
      "type": "object",
      "properties": {
        "code": {
          "description": "Numeric code drawn from the space specified below. Often, this is the canonical error space, and code is drawn from google3/util/task/codes.proto copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 code = 1;",
          "format": "int32",
          "type": "integer"
        },
        "space": {
          "description": "copybara:strip_begin(b/383363683) Space to which this status belongs copybara:strip_end_and_replace optional string space = 2; // Space to which this status belongs",
          "type": "string"
        },
        "canonicalCode": {
          "description": "copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 canonical_code = 6;",
          "format": "int32",
          "type": "integer"
        },
        "messageSet": {
          "$ref": "MessageSet",
          "description": "message_set associates an arbitrary proto message with the status. copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional proto2.bridge.MessageSet message_set = 5;"
        },
        "message": {
          "description": "Detail message copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional string message = 3;",
          "type": "string"
        }
      }
    },
    "ExportMetadataRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. A request ID. Specify a unique request ID to allow the server to ignore the request if it has completed. The server will ignore subsequent requests that provide a duplicate request ID for at least 60 minutes after the first request.For example, if an initial request times out, followed by another request with the same request ID, the server ignores the second request to prevent the creation of duplicate commitments.The request ID must be a valid UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier#Format). A zero UUID (00000000-0000-0000-0000-000000000000) is not supported."
        },
        "databaseDumpType": {
          "enumDescriptions": [
            "The type of the database dump is unknown.",
            "Database dump is a MySQL dump file.",
            "Database dump contains Avro files."
          ],
          "description": "Optional. The type of the database dump. If unspecified, defaults to MYSQL.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MYSQL",
            "AVRO"
          ]
        },
        "destinationGcsFolder": {
          "type": "string",
          "description": "A Cloud Storage URI of a folder, in the format gs:///. A sub-folder containing exported files will be created below it."
        }
      },
      "id": "ExportMetadataRequest",
      "description": "Request message for DataprocMetastore.ExportMetadata."
    },
    "StartMigrationRequest": {
      "description": "Request message for DataprocMetastore.StartMigration.",
      "id": "StartMigrationRequest",
      "type": "object",
      "properties": {
        "migrationExecution": {
          "$ref": "MigrationExecution",
          "description": "Required. The configuration details for the migration."
        },
        "requestId": {
          "description": "Optional. A request ID. Specify a unique request ID to allow the server to ignore the request if it has completed. The server will ignore subsequent requests that provide a duplicate request ID for at least 60 minutes after the first request.For example, if an initial request times out, followed by another request with the same request ID, the server ignores the second request to prevent the creation of duplicate commitments.The request ID must be a valid UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier#Format) A zero UUID (00000000-0000-0000-0000-000000000000) is not supported.",
          "type": "string"
        }
      }
    },
    "LocationMetadata": {
      "type": "object",
      "properties": {
        "multiRegionMetadata": {
          "$ref": "MultiRegionMetadata",
          "deprecated": true,
          "description": "Deprecated: Use a single region service instead. The multi-region metadata if the current region is a multi-region."
        },
        "customRegionMetadata": {
          "type": "array",
          "items": {
            "$ref": "CustomRegionMetadata"
          },
          "deprecated": true,
          "description": "Deprecated: Use a single region service instead. Possible configurations supported if the current region is a custom region."
        },
        "supportedHiveMetastoreVersions": {
          "description": "The versions of Hive Metastore that can be used when creating a new metastore service in this location. The server guarantees that exactly one HiveMetastoreVersion in the list will set is_default.",
          "type": "array",
          "items": {
            "$ref": "HiveMetastoreVersion"
          }
        }
      },
      "id": "LocationMetadata",
      "description": "Metadata about the service in a location."
    },
    "ListBackupsResponse": {
      "id": "ListBackupsResponse",
      "description": "Response message for DataprocMetastore.ListBackups.",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "backups": {
          "description": "The backups of the specified service.",
          "type": "array",
          "items": {
            "$ref": "Backup"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ScheduledBackup": {
      "type": "object",
      "properties": {
        "timeZone": {
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the time zone database (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones), e.g. America/Los_Angeles or Africa/Abidjan. If left unspecified, the default is UTC.",
          "type": "string"
        },
        "nextScheduledTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the next backups execution is scheduled to start.",
          "format": "google-datetime"
        },
        "latestBackup": {
          "description": "Output only. The details of the latest scheduled backup.",
          "$ref": "LatestBackup",
          "readOnly": true
        },
        "enabled": {
          "description": "Optional. Defines whether the scheduled backup is enabled. The default value is false.",
          "type": "boolean"
        },
        "backupLocation": {
          "description": "Optional. A Cloud Storage URI of a folder, in the format gs:///. A sub-folder containing backup files will be stored below it.",
          "type": "string"
        },
        "cronSchedule": {
          "type": "string",
          "description": "Optional. The scheduled interval in Cron format, see https://en.wikipedia.org/wiki/Cron The default is empty: scheduled backup is not enabled. Must be specified to enable scheduled backups."
        }
      },
      "id": "ScheduledBackup",
      "description": "This specifies the configuration of scheduled backup."
    },
    "CloudSQLConnectionConfig": {
      "type": "object",
      "properties": {
        "proxySubnet": {
          "description": "Required. The relative resource name of the subnetwork to deploy the SOCKS5 proxy service in. The subnetwork should reside in a network through which the Cloud SQL instance is accessible. The resource name should be in the format, projects/{project_id}/regions/{region_id}/subnetworks/{subnetwork_id}",
          "type": "string"
        },
        "instanceConnectionName": {
          "type": "string",
          "description": "Required. Cloud SQL database connection name (project_id:region:instance_name)"
        },
        "username": {
          "description": "Required. The username that Dataproc Metastore service will use to connect to the database.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Required. Input only. The password for the user that Dataproc Metastore service will be using to connect to the database. This field is not returned on request."
        },
        "ipAddress": {
          "type": "string",
          "description": "Required. The private IP address of the Cloud SQL instance."
        },
        "hiveDatabaseName": {
          "description": "Required. The hive database name.",
          "type": "string"
        },
        "natSubnet": {
          "description": "Required. The relative resource name of the subnetwork to be used for Private Service Connect. Note that this cannot be a regular subnet and is used only for NAT. (https://cloud.google.com/vpc/docs/about-vpc-hosted-services#psc-subnets) This subnet is used to publish the SOCKS5 proxy service. The subnet size must be at least /29 and it should reside in a network through which the Cloud SQL instance is accessible. The resource name should be in the format, projects/{project_id}/regions/{region_id}/subnetworks/{subnetwork_id}",
          "type": "string"
        },
        "port": {
          "type": "integer",
          "description": "Required. The network port of the database.",
          "format": "int32"
        }
      },
      "description": "Configuration information to establish customer database connection before the cutover phase of migration",
      "id": "CloudSQLConnectionConfig"
    },
    "CancelMigrationRequest": {
      "description": "Request message for DataprocMetastore.CancelMigration.",
      "id": "CancelMigrationRequest",
      "type": "object",
      "properties": {}
    },
    "MoveTableToDatabaseRequest": {
      "description": "Request message for DataprocMetastore.MoveTableToDatabase.",
      "id": "MoveTableToDatabaseRequest",
      "type": "object",
      "properties": {
        "tableName": {
          "description": "Required. The name of the table to be moved.",
          "type": "string"
        },
        "dbName": {
          "description": "Required. The name of the database where the table resides.",
          "type": "string"
        },
        "destinationDbName": {
          "description": "Required. The name of the database where the table should be moved.",
          "type": "string"
        }
      }
    },
    "AuditConfig": {
      "type": "object",
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, storage.googleapis.com, cloudsql.googleapis.com. allServices is a special value that covers all services."
        },
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs.If there are AuditConfigs for both allServices and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted.Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "id": "AuditConfig"
    },
    "NetworkConfig": {
      "type": "object",
      "properties": {
        "consumers": {
          "type": "array",
          "items": {
            "$ref": "Consumer"
          },
          "description": "Immutable. The consumer-side network configuration for the Dataproc Metastore instance."
        }
      },
      "id": "NetworkConfig",
      "description": "Network configuration for the Dataproc Metastore service."
    },
    "SetIamPolicyRequest": {
      "description": "Request message for SetIamPolicy method.",
      "id": "SetIamPolicyRequest",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the resource. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used:paths: \"bindings, etag\"",
          "format": "google-fieldmask"
        }
      }
    },
    "Binding": {
      "type": "object",
      "properties": {
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. members can have the following values: allUsers: A special identifier that represents anyone who is on the internet; with or without a Google account. allAuthenticatedUsers: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. user:{emailid}: An email address that represents a specific Google account. For example, alice@example.com . serviceAccount:{emailid}: An email address that represents a Google service account. For example, my-other-app@appspot.gserviceaccount.com. serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]: An identifier for a Kubernetes service account (https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, my-project.svc.id.goog[my-namespace/my-kubernetes-sa]. group:{emailid}: An email address that represents a Google group. For example, admins@example.com. domain:{domain}: The G Suite domain (primary) that represents all the users of that domain. For example, google.com or example.com. principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}: A single identity in a workforce identity pool. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}: All workforce identities in a group. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}: All workforce identities with a specific attribute value. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*: All identities in a workforce identity pool. principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}: A single identity in a workload identity pool. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}: A workload identity pool group. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}: All identities in a workload identity pool with a certain attribute. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*: All identities in a workload identity pool. deleted:user:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a user that has been recently deleted. For example, alice@example.com?uid=123456789012345678901. If the user is recovered, this value reverts to user:{emailid} and the recovered user retains the role in the binding. deleted:serviceAccount:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901. If the service account is undeleted, this value reverts to serviceAccount:{emailid} and the undeleted service account retains the role in the binding. deleted:group:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, admins@example.com?uid=123456789012345678901. If the group is recovered, this value reverts to group:{emailid} and the recovered group retains the role in the binding. deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}: Deleted single identity in a workforce identity pool. For example, deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of members, or principals. For example, roles/viewer, roles/editor, or roles/owner.For an overview of the IAM roles and permissions, see the IAM documentation (https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see here (https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding.If the condition evaluates to true, then this binding applies to the current request.If the condition evaluates to false, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "id": "Binding",
      "description": "Associates members, or principals, with a role."
    },
    "QueryMetadataResponse": {
      "type": "object",
      "properties": {
        "resultManifestUri": {
          "type": "string",
          "description": "The manifest URI is link to a JSON instance in Cloud Storage. This instance manifests immediately along with QueryMetadataResponse. The content of the URI is not retriable until the long-running operation query against the metadata finishes."
        }
      },
      "id": "QueryMetadataResponse",
      "description": "Response message for DataprocMetastore.QueryMetadata."
    },
    "AlterMetadataResourceLocationRequest": {
      "type": "object",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Required. The relative metadata resource name in the following format.databases/{database_id} or databases/{database_id}/tables/{table_id} or databases/{database_id}/tables/{table_id}/partitions/{partition_id}"
        },
        "locationUri": {
          "description": "Required. The new location URI for the metadata resource.",
          "type": "string"
        }
      },
      "id": "AlterMetadataResourceLocationRequest",
      "description": "Request message for DataprocMetastore.AlterMetadataResourceLocation."
    },
    "AutoscalingConfig": {
      "type": "object",
      "properties": {
        "autoscalingFactor": {
          "description": "Output only. The scaling factor of a service with autoscaling enabled.",
          "format": "float",
          "readOnly": true,
          "type": "number"
        },
        "autoscalingEnabled": {
          "description": "Optional. Whether or not autoscaling is enabled for this service.",
          "type": "boolean"
        },
        "limitConfig": {
          "description": "Optional. The LimitConfig of the service.",
          "$ref": "LimitConfig"
        }
      },
      "description": "Represents the autoscaling configuration of a metastore service.",
      "id": "AutoscalingConfig"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      }
    },
    "AuxiliaryVersionConfig": {
      "type": "object",
      "properties": {
        "version": {
          "description": "Optional. The Hive metastore version of the auxiliary service. It must be less than the primary Hive metastore service's version.",
          "type": "string"
        },
        "configOverrides": {
          "description": "Optional. A mapping of Hive metastore configuration key-value pairs to apply to the auxiliary Hive metastore (configured in hive-site.xml) in addition to the primary version's overrides. If keys are present in both the auxiliary version's overrides and the primary version's overrides, the value from the auxiliary version's overrides takes precedence.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "networkConfig": {
          "$ref": "NetworkConfig",
          "readOnly": true,
          "description": "Output only. The network configuration contains the endpoint URI(s) of the auxiliary Hive metastore service."
        }
      },
      "id": "AuxiliaryVersionConfig",
      "description": "Configuration information for the auxiliary service versions."
    },
    "EncryptionConfig": {
      "description": "Encryption settings for the service.",
      "id": "EncryptionConfig",
      "type": "object",
      "properties": {
        "kmsKey": {
          "type": "string",
          "description": "Optional. The fully qualified customer provided Cloud KMS key name to use for customer data encryption, in the following format:projects/{project_number}/locations/{location_id}/keyRings/{key_ring_id}/cryptoKeys/{crypto_key_id}."
        }
      }
    },
    "KerberosConfig": {
      "description": "Configuration information for a Kerberos principal.",
      "id": "KerberosConfig",
      "type": "object",
      "properties": {
        "keytab": {
          "description": "Optional. A Kerberos keytab file that can be used to authenticate a service principal with a Kerberos Key Distribution Center (KDC).",
          "$ref": "Secret"
        },
        "principal": {
          "type": "string",
          "description": "Optional. A Kerberos principal that exists in the both the keytab the KDC to authenticate as. A typical principal is of the form primary/instance@REALM, but there is no exact format."
        },
        "krb5ConfigGcsUri": {
          "type": "string",
          "description": "Optional. A Cloud Storage URI that specifies the path to a krb5.conf file. It is of the form gs://{bucket_name}/path/to/krb5.conf, although the file does not need to be named krb5.conf explicitly."
        }
      }
    },
    "CustomRegionMetadata": {
      "description": "Deprecated: Use a single region service instead. Metadata about a custom region. This is only populated if the region is a custom region. For single/multi regions, it will be empty.",
      "type": "object",
      "properties": {
        "witnessRegion": {
          "type": "string",
          "description": "The Spanner witness region for this custom region."
        },
        "requiredReadWriteRegions": {
          "description": "The read-write regions for this custom region.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "optionalReadOnlyRegions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The read-only regions for this custom region."
        }
      },
      "id": "CustomRegionMetadata",
      "deprecated": true
    },
    "Status": {
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Service": {
      "id": "Service",
      "description": "A managed metastore service that serves metadata queries.",
      "type": "object",
      "properties": {
        "scheduledBackup": {
          "description": "Optional. The configuration of scheduled backup for the metastore service.",
          "$ref": "ScheduledBackup"
        },
        "scalingConfig": {
          "description": "Optional. Scaling configuration of the metastore service.",
          "$ref": "ScalingConfig"
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\"",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "networkConfig": {
          "$ref": "NetworkConfig",
          "description": "Optional. The configuration specifying the network settings for the Dataproc Metastore service."
        },
        "telemetryConfig": {
          "$ref": "TelemetryConfig",
          "description": "Optional. The configuration specifying telemetry settings for the Dataproc Metastore service. If unspecified defaults to JSON."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The relative resource name of the metastore service, in the following format:projects/{project_number}/locations/{location_id}/services/{service_id}."
        },
        "createTime": {
          "description": "Output only. The time when the metastore service was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "endpointUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The URI of the endpoint used to access the metastore service."
        },
        "maintenanceWindow": {
          "description": "Optional. The one hour maintenance window of the metastore service. This specifies when the service can be restarted for maintenance purposes in UTC time. Maintenance window is not needed for services with the SPANNER database type.",
          "$ref": "MaintenanceWindow"
        },
        "deletionProtection": {
          "type": "boolean",
          "description": "Optional. Indicates if the dataproc metastore should be protected against accidental deletions."
        },
        "encryptionConfig": {
          "description": "Immutable. Information used to configure the Dataproc Metastore service to encrypt customer data at rest. Cannot be updated.",
          "$ref": "EncryptionConfig"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the metastore service was last updated.",
          "format": "google-datetime"
        },
        "metadataManagementActivity": {
          "description": "Output only. The metadata management activities of the metastore service.",
          "$ref": "MetadataManagementActivity",
          "readOnly": true
        },
        "hiveMetastoreConfig": {
          "$ref": "HiveMetastoreConfig",
          "description": "Configuration information specific to running Hive metastore software as the metastore service."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-defined labels for the metastore service."
        },
        "port": {
          "type": "integer",
          "description": "Optional. The TCP port at which the metastore service is reached. Default: 9083.",
          "format": "int32"
        },
        "artifactGcsUri": {
          "description": "Output only. A Cloud Storage URI (starting with gs://) that specifies where artifacts related to the metastore service are stored.",
          "readOnly": true,
          "type": "string"
        },
        "releaseChannel": {
          "enum": [
            "RELEASE_CHANNEL_UNSPECIFIED",
            "CANARY",
            "STABLE"
          ],
          "type": "string",
          "description": "Immutable. The release channel of the service. If unspecified, defaults to STABLE.",
          "enumDescriptions": [
            "Release channel is not specified.",
            "The CANARY release channel contains the newest features, which may be unstable and subject to unresolved issues with no known workarounds. Services using the CANARY release channel are not subject to any SLAs.",
            "The STABLE release channel contains features that are considered stable and have been validated for production use."
          ]
        },
        "network": {
          "type": "string",
          "description": "Immutable. The relative resource name of the VPC network on which the instance can be accessed. It is specified in the following form:projects/{project_number}/global/networks/{network_id}."
        },
        "metadataIntegration": {
          "description": "Optional. The setting that defines how metastore metadata should be integrated with external services and systems.",
          "$ref": "MetadataIntegration"
        },
        "databaseType": {
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "MYSQL",
            "SPANNER"
          ],
          "type": "string",
          "description": "Immutable. The database type that the Metastore service stores its data.",
          "enumDescriptions": [
            "The DATABASE_TYPE is not set.",
            "MySQL is used to persist the metastore data.",
            "Spanner is used to persist the metastore data."
          ]
        },
        "stateMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information about the current state of the metastore service, if available."
        },
        "uid": {
          "description": "Output only. The globally unique resource identifier of the metastore service.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The current state of the metastore service.",
          "enumDescriptions": [
            "The state of the metastore service is unknown.",
            "The metastore service is in the process of being created.",
            "The metastore service is running and ready to serve queries.",
            "The metastore service is entering suspension. Its query-serving availability may cease unexpectedly.",
            "The metastore service is suspended and unable to serve queries.",
            "The metastore service is being updated. It remains usable but cannot accept additional update requests or be deleted at this time.",
            "The metastore service is undergoing deletion. It cannot be used.",
            "The metastore service has encountered an error and cannot be used. The metastore service should be deleted.",
            "The Dataproc Metastore service 2 is being scaled up or down.",
            "The metastore service is processing a managed migration.",
            "The metastore service has completed managed migration and is now proxying requests to the Lakehouse runtime catalog."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "UPDATING",
            "DELETING",
            "ERROR",
            "AUTOSCALING",
            "MIGRATING",
            "PROXY"
          ]
        },
        "tier": {
          "description": "Optional. The tier of the service.",
          "enumDescriptions": [
            "The tier is not set.",
            "The developer tier provides limited scalability and no fault tolerance. Good for low-cost proof-of-concept.",
            "The enterprise tier provides multi-zone high availability, and sufficient scalability for enterprise-level Dataproc Metastore workloads."
          ],
          "enum": [
            "TIER_UNSPECIFIED",
            "DEVELOPER",
            "ENTERPRISE"
          ],
          "type": "string"
        }
      }
    },
    "ErrorDetails": {
      "type": "object",
      "properties": {
        "details": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Additional structured details about this error.Keys define the failure items. Value describes the exception or details of the item."
        }
      },
      "id": "ErrorDetails",
      "description": "Error details in public error message for DataprocMetastore.QueryMetadata."
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {}
    },
    "MetadataIntegration": {
      "type": "object",
      "properties": {
        "dataCatalogConfig": {
          "$ref": "DataCatalogConfig",
          "description": "Optional. The integration config for the Data Catalog service."
        }
      },
      "id": "MetadataIntegration",
      "description": "Specifies how metastore metadata should be integrated with external services."
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the caller has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to Code.CANCELLED."
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of a long-running operation."
    },
    "MaintenanceWindow": {
      "id": "MaintenanceWindow",
      "description": "Maintenance window. This specifies when Dataproc Metastore may perform system maintenance operation to the service.",
      "type": "object",
      "properties": {
        "dayOfWeek": {
          "description": "Optional. The day of week, when the window starts.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string"
        },
        "hourOfDay": {
          "type": "integer",
          "description": "Optional. The hour of day (0-23) when the window starts.",
          "format": "int32"
        }
      }
    },
    "CompleteMigrationRequest": {
      "id": "CompleteMigrationRequest",
      "description": "Request message for DataprocMetastore.CompleteMigration.",
      "type": "object",
      "properties": {}
    },
    "ListMetadataImportsResponse": {
      "id": "ListMetadataImportsResponse",
      "description": "Response message for DataprocMetastore.ListMetadataImports.",
      "type": "object",
      "properties": {
        "metadataImports": {
          "description": "The imports in the specified service.",
          "type": "array",
          "items": {
            "$ref": "MetadataImport"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "Restore": {
      "type": "object",
      "properties": {
        "backup": {
          "description": "Output only. The relative resource name of the metastore service backup to restore from, in the following form:projects/{project_id}/locations/{location_id}/services/{service_id}/backups/{backup_id}.",
          "readOnly": true,
          "type": "string"
        },
        "backupLocation": {
          "description": "Optional. A Cloud Storage URI specifying where the backup artifacts are stored, in the format gs:///.",
          "type": "string"
        },
        "details": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The restore details containing the revision of the service to be restored to, in format of JSON."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "description": "Output only. The current state of the restore.",
          "enumDescriptions": [
            "The state of the metadata restore is unknown.",
            "The metadata restore is running.",
            "The metadata restore completed successfully.",
            "The metadata restore failed.",
            "The metadata restore is cancelled."
          ],
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "description": "Output only. The time when the restore started.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the restore ended.",
          "format": "google-datetime"
        },
        "type": {
          "enum": [
            "RESTORE_TYPE_UNSPECIFIED",
            "FULL",
            "METADATA_ONLY"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of restore.",
          "enumDescriptions": [
            "The restore type is unknown.",
            "The service's metadata and configuration are restored.",
            "Only the service's metadata is restored."
          ]
        }
      },
      "description": "The details of a metadata restore operation.",
      "id": "Restore"
    },
    "Policy": {
      "type": "object",
      "properties": {
        "etag": {
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to getIamPolicy, and systems are expected to put that etag in the request to setIamPolicy to ensure that their change will be applied to the same version of the policy.Important: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "version": {
          "description": "Specifies the format of the policy.Valid values are 0, 1, and 3. Requests that specify an invalid value are rejected.Any operation that affects conditional role bindings must specify version 3. This requirement applies to the following operations: Getting a policy that includes a conditional role binding Adding a conditional role binding to a policy Changing a conditional role binding in a policy Removing any role binding, with or without a condition, from a policy that includes conditionsImportant: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of members, or principals, with a role. Optionally, may specify a condition that determines how and when the bindings are applied. Each of the bindings must contain at least one principal.The bindings in a Policy can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the bindings grant 50 different roles to user:alice@example.com, and not to any other principal, then you can add another 1,450 principals to the bindings in the Policy."
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.A Policy is a collection of bindings. A binding binds one or more members, or principals, to a single role. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A role is a named list of permissions; each role can be an IAM predefined role or a user-created custom role.For some types of Google Cloud resources, a binding can also specify a condition, which is a logical expression that allows access to a resource only if the expression evaluates to true. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).JSON example: { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } YAML example: bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the IAM documentation (https://cloud.google.com/iam/docs/).",
      "id": "Policy"
    },
    "ScalingConfig": {
      "id": "ScalingConfig",
      "description": "Represents the scaling configuration of a metastore service.",
      "type": "object",
      "properties": {
        "scalingFactor": {
          "type": "number",
          "description": "Scaling factor, increments of 0.1 for values less than 1.0, and increments of 1.0 for values greater than 1.0.",
          "format": "float"
        },
        "instanceSize": {
          "type": "string",
          "enum": [
            "INSTANCE_SIZE_UNSPECIFIED",
            "EXTRA_SMALL",
            "SMALL",
            "MEDIUM",
            "LARGE",
            "EXTRA_LARGE"
          ],
          "enumDescriptions": [
            "Unspecified instance size",
            "Extra small instance size, maps to a scaling factor of 0.1.",
            "Small instance size, maps to a scaling factor of 0.5.",
            "Medium instance size, maps to a scaling factor of 1.0.",
            "Large instance size, maps to a scaling factor of 3.0.",
            "Extra large instance size, maps to a scaling factor of 6.0."
          ],
          "description": "An enum of readable instance sizes, with each instance size mapping to a float value (e.g. InstanceSize.EXTRA_SMALL = scaling_factor(0.1))"
        },
        "autoscalingConfig": {
          "$ref": "AutoscalingConfig",
          "description": "Optional. The autoscaling configuration."
        }
      }
    },
    "Secret": {
      "id": "Secret",
      "description": "A securely stored value.",
      "type": "object",
      "properties": {
        "cloudSecret": {
          "type": "string",
          "description": "Optional. The relative resource name of a Secret Manager secret version, in the following form:projects/{project_number}/secrets/{secret_id}/versions/{version_id}."
        }
      }
    },
    "ListMigrationExecutionsResponse": {
      "id": "ListMigrationExecutionsResponse",
      "description": "Response message for DataprocMetastore.ListMigrationExecutions.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "migrationExecutions": {
          "description": "The migration executions on the specified service.",
          "type": "array",
          "items": {
            "$ref": "MigrationExecution"
          }
        }
      }
    },
    "AuditLogConfig": {
      "type": "object",
      "properties": {
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        },
        "logType": {
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables."
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available."
        }
      }
    },
    "HiveMetastoreConfig": {
      "id": "HiveMetastoreConfig",
      "description": "Specifies configuration information specific to running Hive metastore software as the metastore service.",
      "type": "object",
      "properties": {
        "endpointProtocol": {
          "type": "string",
          "enum": [
            "ENDPOINT_PROTOCOL_UNSPECIFIED",
            "THRIFT",
            "GRPC"
          ],
          "enumDescriptions": [
            "The protocol is not set.",
            "Use the legacy Apache Thrift protocol for the metastore service endpoint.",
            "Use the modernized gRPC protocol for the metastore service endpoint."
          ],
          "description": "Optional. The protocol to use for the metastore service endpoint. If unspecified, defaults to THRIFT."
        },
        "auxiliaryVersions": {
          "description": "Optional. A mapping of Hive metastore version to the auxiliary version configuration. When specified, a secondary Hive metastore service is created along with the primary service. All auxiliary versions must be less than the service's primary version. The key is the auxiliary service name and it must match the regular expression a-z?. This means that the first character must be a lowercase letter, and all the following characters must be hyphens, lowercase letters, or digits, except the last character, which cannot be a hyphen.",
          "type": "object",
          "additionalProperties": {
            "$ref": "AuxiliaryVersionConfig"
          }
        },
        "version": {
          "description": "Immutable. The Hive metastore schema version.",
          "type": "string"
        },
        "configOverrides": {
          "description": "Optional. A mapping of Hive metastore configuration key-value pairs to apply to the Hive metastore (configured in hive-site.xml). The mappings override system defaults (some keys cannot be overridden). These overrides are also applied to auxiliary versions and can be further customized in the auxiliary version's AuxiliaryVersionConfig.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "kerberosConfig": {
          "description": "Optional. Information used to configure the Hive metastore service as a service principal in a Kerberos realm. To disable Kerberos, use the UpdateService method and specify this field's path (hive_metastore_config.kerberos_config) in the request's update_mask while omitting this field from the request's service.",
          "$ref": "KerberosConfig"
        }
      }
    },
    "Expr": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        }
      },
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec.Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    }
  },
  "title": "Dataproc Metastore API",
  "baseUrl": "https://metastore.googleapis.com/",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "name": "metastore",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "Dataproc Metastore",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "id": "metastore.projects.locations.list",
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service.This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: Global locations: If name is empty, the method lists the public locations available to all projects. Project-specific locations: If name follows the format projects/{project}, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project.For gRPC and client library implementations, the resource name is passed as the name field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "path": "v1/{+name}/locations",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "type": "integer",
[...]
