{
  "batchPath": "batch",
  "title": "Dataproc Metastore API",
  "description": "The Dataproc Metastore API is used to manage the lifecycle and configuration of metastore services.",
  "version_module": true,
  "name": "metastore",
  "discoveryVersion": "v1",
  "revision": "20260910",
  "protocol": "rest",
  "id": "metastore:v1alpha",
  "schemas": {
    "ListServicesResponse": {
      "type": "object",
      "description": "Response message for DataprocMetastore.ListServices.",
      "id": "ListServicesResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "services": {
          "items": {
            "$ref": "Service"
          },
          "type": "array",
          "description": "The services in the specified location."
        },
        "nextPageToken": {
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "CatalogReport": {
      "id": "CatalogReport",
      "properties": {
        "catalogType": {
          "description": "The type of catalog.",
          "enumDescriptions": [
            "The catalog type is unspecified.",
            "BigLake Metastore Hive catalog.",
            "BigLake Metastore Iceberg REST catalog."
          ],
          "type": "string",
          "enum": [
            "CATALOG_TYPE_UNSPECIFIED",
            "HIVE",
            "ICEBERG"
          ]
        },
        "databaseReports": {
          "additionalProperties": {
            "$ref": "DatabaseReport"
          },
          "description": "A map of database names to their respective reports.",
          "type": "object"
        },
        "catalog": {
          "description": "The name of the catalog (format: projects/*/catalogs/*).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Aggregated report at the catalog level."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets ListOperationsRequest.return_partial_success and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "MetadataImport": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The relative resource name of the metadata import, of the form:projects/{project_number}/locations/{location_id}/services/{service_id}/metadataImports/{metadata_import_id}."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the metadata import was last updated.",
          "type": "string"
        },
        "databaseDump": {
          "description": "Immutable. A database dump from a pre-existing metastore's database.",
          "$ref": "DatabaseDump"
        },
        "endTime": {
          "description": "Output only. The time when the metadata import finished.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The state of the metadata import is unknown.",
            "The metadata import is running.",
            "The metadata import completed successfully.",
            "The metadata import is being updated.",
            "The metadata import failed, and attempted metadata changes were rolled back."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "UPDATING",
            "FAILED"
          ],
          "description": "Output only. The current state of the metadata import."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the metadata import."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the metadata import was started.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "A metastore resource that imports metadata.",
      "id": "MetadataImport"
    },
    "ListFederationsResponse": {
      "properties": {
        "federations": {
          "type": "array",
          "description": "The services in the specified location.",
          "items": {
            "$ref": "Federation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ListFederationsResponse",
      "description": "Response message for ListFederations"
    },
    "Binding": {
      "id": "Binding",
      "type": "object",
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. members can have the following values: allUsers: A special identifier that represents anyone who is on the internet; with or without a Google account. allAuthenticatedUsers: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. user:{emailid}: An email address that represents a specific Google account. For example, alice@example.com . serviceAccount:{emailid}: An email address that represents a Google service account. For example, my-other-app@appspot.gserviceaccount.com. serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]: An identifier for a Kubernetes service account (https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, my-project.svc.id.goog[my-namespace/my-kubernetes-sa]. group:{emailid}: An email address that represents a Google group. For example, admins@example.com. domain:{domain}: The G Suite domain (primary) that represents all the users of that domain. For example, google.com or example.com. principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}: A single identity in a workforce identity pool. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}: All workforce identities in a group. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}: All workforce identities with a specific attribute value. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*: All identities in a workforce identity pool. principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}: A single identity in a workload identity pool. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}: A workload identity pool group. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}: All identities in a workload identity pool with a certain attribute. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*: All identities in a workload identity pool. deleted:user:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a user that has been recently deleted. For example, alice@example.com?uid=123456789012345678901. If the user is recovered, this value reverts to user:{emailid} and the recovered user retains the role in the binding. deleted:serviceAccount:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901. If the service account is undeleted, this value reverts to serviceAccount:{emailid} and the undeleted service account retains the role in the binding. deleted:group:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, admins@example.com?uid=123456789012345678901. If the group is recovered, this value reverts to group:{emailid} and the recovered group retains the role in the binding. deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}: Deleted single identity in a workforce identity pool. For example, deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value."
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of members, or principals. For example, roles/viewer, roles/editor, or roles/owner.For an overview of the IAM roles and permissions, see the IAM documentation (https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see here (https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding.If the condition evaluates to true, then this binding applies to the current request.If the condition evaluates to false, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "description": "Associates members, or principals, with a role."
    },
    "Federation": {
      "description": "Represents a federation of multiple backend metastores.",
      "type": "object",
      "id": "Federation",
      "properties": {
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The globally unique resource identifier of the metastore federation."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the metastore federation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The relative resource name of the federation, of the form: projects/{project_number}/locations/{location_id}/federations/{federation_id}`."
        },
        "endpointUri": {
          "readOnly": true,
          "description": "Output only. The federation endpoint.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "User-defined labels for the metastore federation.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\"",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "version": {
          "type": "string",
          "description": "Immutable. The Apache Hive metastore version of the federation. All backend metastore versions must be compatible with the federation version."
        },
        "state": {
          "description": "Output only. The current state of the federation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "ERROR"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The state of the metastore federation is unknown.",
            "The metastore federation is in the process of being created.",
            "The metastore federation is running and ready to serve queries.",
            "The metastore federation is being updated. It remains usable but cannot accept additional update requests or be deleted at this time.",
            "The metastore federation is undergoing deletion. It cannot be used.",
            "The metastore federation has encountered an error and cannot be used. The metastore federation should be deleted."
          ]
        },
        "backendMetastores": {
          "additionalProperties": {
            "$ref": "BackendMetastore"
          },
          "description": "A map from BackendMetastore rank to BackendMetastores from which the federation service serves metadata at query time. The map key represents the order in which BackendMetastores should be evaluated to resolve database names at query time and should be greater than or equal to zero. A BackendMetastore with a lower number will be evaluated before a BackendMetastore with a higher number.",
          "type": "object"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the metastore federation was last updated.",
          "type": "string",
          "readOnly": true
        },
        "stateMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Additional information about the current state of the metastore federation, if available."
        }
      }
    },
    "Location": {
      "id": "Location",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: \"us-east1\"."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"} ",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: \"projects/example-project/locations/us-east1\"",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A resource that represents a Google Cloud location."
    },
    "DatabaseReport": {
      "type": "object",
      "id": "DatabaseReport",
      "description": "Aggregated report at the database level.",
      "properties": {
        "tableReports": {
          "description": "A map of table names to their respective reports.",
          "additionalProperties": {
            "$ref": "TableReport"
          },
          "type": "object"
        },
        "executionPlan": {
          "$ref": "ExecutionPlan",
          "description": "The discovered intent for the database (what we found and what we planned)."
        },
        "executionResult": {
          "description": "The actual outcome of the database migration.",
          "$ref": "ExecutionResult"
        },
        "database": {
          "type": "string",
          "description": "The name of the database."
        }
      }
    },
    "AuditConfig": {
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs.If there are AuditConfigs for both allServices and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted.Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, storage.googleapis.com, cloudsql.googleapis.com. allServices is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      },
      "id": "AuditConfig"
    },
    "SetIamPolicyRequest": {
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used:paths: \"bindings, etag\"",
          "type": "string",
          "format": "google-fieldmask"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the resource. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "id": "SetIamPolicyRequest",
      "type": "object",
      "description": "Request message for SetIamPolicy method."
    },
    "ExecutionResult": {
      "type": "object",
      "id": "ExecutionResult",
      "properties": {
        "errorMessage": {
          "description": "Description of the error if the state is FAILED.",
          "type": "string"
        },
        "remediation": {
          "description": "Remediation steps for the error if the state is FAILED.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "SKIPPED"
          ],
          "description": "Output only. The state of the migration for a resource.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified.",
            "The resource was migrated successfully.",
            "The resource failed to migrate.",
            "The resource was skipped and will not be migrated."
          ]
        }
      },
      "description": "Represents the actual migration result for a specific resource (e.g. Database, Table)."
    },
    "ListBackupsResponse": {
      "type": "object",
      "description": "Response message for DataprocMetastore.ListBackups.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "backups": {
          "description": "The backups of the specified service.",
          "items": {
            "$ref": "Backup"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListBackupsResponse"
    },
    "CancelMigrationResponse": {
      "type": "object",
      "description": "Response message for DataprocMetastore.CancelMigration.",
      "properties": {
        "migrationExecution": {
          "type": "string",
          "description": "The relative resource name of the migration execution, in the following form:projects/{project_number}/locations/{location_id}/services/{service_id}/migrationExecutions/{migration_execution_id}."
        }
      },
      "id": "CancelMigrationResponse"
    },
    "DatabaseSummary": {
      "id": "DatabaseSummary",
      "properties": {
        "resultStatus": {
          "description": "Output only. The migration result status for the database. This is only set if the migration is not a dry run.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "SKIPPED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified.",
            "The resource was migrated successfully.",
            "The resource failed to migrate.",
            "The resource was skipped and will not be migrated."
          ]
        },
        "tableSummary": {
          "readOnly": true,
          "description": "Output only. Aggregated summary of results for all tables in the database.",
          "$ref": "TableSummary"
        },
        "database": {
          "type": "string",
          "description": "Output only. The name of the database.",
          "readOnly": true
        },
        "planAction": {
          "enum": [
            "ACTION_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "SKIP",
            "DEPENDENCY_FAILURE",
            "ERROR"
          ],
          "description": "Output only. The migration plan action for the database.",
          "type": "string",
          "enumDescriptions": [
            "The action is unspecified.",
            "Resource missing; will be created.",
            "Resource exists at the target, but differs from the source; will be updated.",
            "Resource exists at the target; no changes will be made.",
            "Resource cannot be migrated due to a dependency failure (e.g., parent resource missing).",
            "Resource cannot be migrated due to an error during discovery."
          ],
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Summary of results for a specific database in a catalog."
    },
    "KerberosConfig": {
      "type": "object",
      "id": "KerberosConfig",
      "description": "Configuration information for a Kerberos principal.",
      "properties": {
        "principal": {
          "type": "string",
          "description": "Optional. A Kerberos principal that exists in the both the keytab the KDC to authenticate as. A typical principal is of the form primary/instance@REALM, but there is no exact format."
        },
        "keytab": {
          "description": "Optional. A Kerberos keytab file that can be used to authenticate a service principal with a Kerberos Key Distribution Center (KDC).",
          "$ref": "Secret"
        },
        "krb5ConfigGcsUri": {
          "type": "string",
          "description": "Optional. A Cloud Storage URI that specifies the path to a krb5.conf file. It is of the form gs://{bucket_name}/path/to/krb5.conf, although the file does not need to be named krb5.conf explicitly."
        }
      }
    },
    "MetadataExport": {
      "type": "object",
      "properties": {
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the export ended.",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the export started.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "description": "Output only. The current state of the export.",
          "enumDescriptions": [
            "The state of the metadata export is unknown.",
            "The metadata export is running.",
            "The metadata export completed successfully.",
            "The metadata export failed.",
            "The metadata export is cancelled."
          ]
        },
        "destinationGcsUri": {
          "description": "Output only. A Cloud Storage URI of a folder that metadata are exported to, in the form of gs:////, where is automatically generated.",
          "type": "string",
          "readOnly": true
        },
        "databaseDumpType": {
          "readOnly": true,
          "enumDescriptions": [
            "The type of the database dump is unknown.",
            "Database dump is a MySQL dump file.",
            "Database dump contains Avro files."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "MYSQL",
            "AVRO"
          ],
          "type": "string",
          "description": "Output only. The type of the database dump."
        }
      },
      "description": "The details of a metadata export operation.",
      "id": "MetadataExport"
    },
    "Policy": {
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.A Policy is a collection of bindings. A binding binds one or more members, or principals, to a single role. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A role is a named list of permissions; each role can be an IAM predefined role or a user-created custom role.For some types of Google Cloud resources, a binding can also specify a condition, which is a logical expression that allows access to a resource only if the expression evaluates to true. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).JSON example: { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } YAML example: bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the IAM documentation (https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "properties": {
        "etag": {
          "format": "byte",
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to getIamPolicy, and systems are expected to put that etag in the request to setIamPolicy to ensure that their change will be applied to the same version of the policy.Important: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.",
          "type": "string"
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "version": {
          "description": "Specifies the format of the policy.Valid values are 0, 1, and 3. Requests that specify an invalid value are rejected.Any operation that affects conditional role bindings must specify version 3. This requirement applies to the following operations: Getting a policy that includes a conditional role binding Adding a conditional role binding to a policy Changing a conditional role binding in a policy Removing any role binding, with or without a condition, from a policy that includes conditionsImportant: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "description": "Associates a list of members, or principals, with a role. Optionally, may specify a condition that determines how and when the bindings are applied. Each of the bindings must contain at least one principal.The bindings in a Policy can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the bindings grant 50 different roles to user:alice@example.com, and not to any other principal, then you can add another 1,450 principals to the bindings in the Policy.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        }
      }
    },
    "IcebergConfig": {
      "id": "IcebergConfig",
      "type": "object",
      "description": "Configuration for migrating Iceberg metadata.",
      "properties": {
        "namespaces": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The list of namespaces to migrate to the Iceberg REST catalog. Use \"*\" to migrate all namespaces. Note: If Hive tables exist in these namespaces, they will only be migrated if hive_config is also specified."
        },
        "catalog": {
          "description": "Required. The target catalog for migrated Iceberg metadata. Format: \"projects/{project_id_or_number}/catalogs/{catalog_id}\"",
          "type": "string"
        }
      }
    },
    "Consumer": {
      "type": "object",
      "properties": {
        "endpointLocation": {
          "description": "Output only. The location of the endpoint URI. Format: projects/{project}/locations/{location}.",
          "readOnly": true,
          "type": "string"
        },
        "subnetwork": {
          "type": "string",
          "description": "Immutable. The subnetwork of the customer project from which an IP address is reserved and used as the Dataproc Metastore service's endpoint. It is accessible to hosts in the subnet and to all hosts in a subnet in the same region and same network. There must be at least one IP address available in the subnet's primary range. The subnet is specified in the following form:projects/{project_number}/regions/{region_id}/subnetworks/{subnetwork_id}"
        },
        "endpointUri": {
          "readOnly": true,
          "description": "Output only. The URI of the endpoint used to access the metastore service.",
          "type": "string"
        }
      },
      "id": "Consumer",
      "description": "Contains information of the customer's network configurations."
    },
    "Lake": {
      "type": "object",
      "description": "Represents a Lake resource",
      "properties": {
        "name": {
          "type": "string",
          "description": "The Lake resource name. Example: projects/{project_number}/locations/{location_id}/lakes/{lake_id}"
        }
      },
      "id": "Lake"
    },
    "DataplexConfig": {
      "description": "Specifies how metastore metadata should be integrated with the Dataplex service.",
      "id": "DataplexConfig",
      "properties": {
        "lakeResources": {
          "description": "Optional. A reference to the Lake resources that this metastore service is attached to. The key is the lake resource name. Example: projects/{project_number}/locations/{location_id}/lakes/{lake_id}.",
          "additionalProperties": {
            "$ref": "Lake"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "Service": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The state of the metastore service is unknown.",
            "The metastore service is in the process of being created.",
            "The metastore service is running and ready to serve queries.",
            "The metastore service is entering suspension. Its query-serving availability may cease unexpectedly.",
            "The metastore service is suspended and unable to serve queries.",
            "The metastore service is being updated. It remains usable but cannot accept additional update requests or be deleted at this time.",
            "The metastore service is undergoing deletion. It cannot be used.",
            "The metastore service has encountered an error and cannot be used. The metastore service should be deleted.",
            "The Dataproc Metastore service 2 is being scaled up or down.",
            "The metastore service is processing a managed migration.",
            "The metastore service has completed managed migration and is now proxying requests to the Lakehouse runtime catalog."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "UPDATING",
            "DELETING",
            "ERROR",
            "AUTOSCALING",
            "MIGRATING",
            "PROXY"
          ],
          "description": "Output only. The current state of the metastore service."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the metastore service was last updated.",
          "readOnly": true
        },
        "databaseType": {
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "MYSQL",
            "SPANNER"
          ],
          "type": "string",
          "enumDescriptions": [
            "The DATABASE_TYPE is not set.",
            "MySQL is used to persist the metastore data.",
            "Spanner is used to persist the metastore data."
          ],
          "description": "Immutable. The database type that the Metastore service stores its data."
        },
        "hiveMetastoreConfig": {
          "description": "Configuration information specific to running Hive metastore software as the metastore service.",
          "$ref": "HiveMetastoreConfig"
        },
        "labels": {
          "description": "User-defined labels for the metastore service.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "metadataManagementActivity": {
          "readOnly": true,
          "$ref": "MetadataManagementActivity",
          "description": "Output only. The metadata management activities of the metastore service."
        },
        "deletionProtection": {
          "type": "boolean",
          "description": "Optional. Indicates if the dataproc metastore should be protected against accidental deletions."
        },
        "network": {
          "type": "string",
          "description": "Immutable. The relative resource name of the VPC network on which the instance can be accessed. It is specified in the following form:projects/{project_number}/global/networks/{network_id}."
        },
        "releaseChannel": {
          "type": "string",
          "enumDescriptions": [
            "Release channel is not specified.",
            "The CANARY release channel contains the newest features, which may be unstable and subject to unresolved issues with no known workarounds. Services using the CANARY release channel are not subject to any SLAs.",
            "The STABLE release channel contains features that are considered stable and have been validated for production use."
          ],
          "enum": [
            "RELEASE_CHANNEL_UNSPECIFIED",
            "CANARY",
            "STABLE"
          ],
          "description": "Immutable. The release channel of the service. If unspecified, defaults to STABLE."
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\"",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "stateMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information about the current state of the metastore service, if available."
        },
        "scalingConfig": {
          "$ref": "ScalingConfig",
          "description": "Optional. Scaling configuration of the metastore service."
        },
        "scheduledBackup": {
          "description": "Optional. The configuration of scheduled backup for the metastore service.",
          "$ref": "ScheduledBackup"
        },
        "telemetryConfig": {
          "description": "Optional. The configuration specifying telemetry settings for the Dataproc Metastore service. If unspecified defaults to JSON.",
          "$ref": "TelemetryConfig"
        },
        "multiRegionConfig": {
          "$ref": "MultiRegionConfig",
          "deprecated": true,
          "description": "Optional. Deprecated: Use a single region service instead. Specifies the multi-region configuration information for the Hive metastore service."
        },
        "maintenanceWindow": {
          "description": "Optional. The one hour maintenance window of the metastore service. This specifies when the service can be restarted for maintenance purposes in UTC time. Maintenance window is not needed for services with the SPANNER database type.",
          "$ref": "MaintenanceWindow"
        },
        "port": {
          "description": "Optional. The TCP port at which the metastore service is reached. Default: 9083.",
          "format": "int32",
          "type": "integer"
        },
        "metadataIntegration": {
          "description": "Optional. The setting that defines how metastore metadata should be integrated with external services and systems.",
          "$ref": "MetadataIntegration"
        },
        "artifactGcsUri": {
          "description": "Output only. A Cloud Storage URI (starting with gs://) that specifies where artifacts related to the metastore service are stored.",
          "type": "string",
          "readOnly": true
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Immutable. Information used to configure the Dataproc Metastore service to encrypt customer data at rest. Cannot be updated."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the metastore service was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The relative resource name of the metastore service, in the following format:projects/{project_number}/locations/{location_id}/services/{service_id}."
        },
        "uid": {
          "description": "Output only. The globally unique resource identifier of the metastore service.",
          "readOnly": true,
          "type": "string"
        },
        "networkConfig": {
          "description": "Optional. The configuration specifying the network settings for the Dataproc Metastore service.",
          "$ref": "NetworkConfig"
        },
        "tier": {
          "type": "string",
          "enum": [
            "TIER_UNSPECIFIED",
            "DEVELOPER",
            "ENTERPRISE"
          ],
          "enumDescriptions": [
            "The tier is not set.",
            "The developer tier provides limited scalability and no fault tolerance. Good for low-cost proof-of-concept.",
            "The enterprise tier provides multi-zone high availability, and sufficient scalability for enterprise-level Dataproc Metastore workloads."
          ],
          "description": "Optional. The tier of the service."
        },
        "endpointUri": {
          "type": "string",
          "description": "Output only. The URI of the endpoint used to access the metastore service.",
          "readOnly": true
        }
      },
      "id": "Service",
      "description": "A managed metastore service that serves metadata queries."
    },
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse"
    },
    "ListMetadataImportsResponse": {
      "description": "Response message for DataprocMetastore.ListMetadataImports.",
      "type": "object",
      "id": "ListMetadataImportsResponse",
      "properties": {
        "metadataImports": {
          "description": "The imports in the specified service.",
          "type": "array",
          "items": {
            "$ref": "MetadataImport"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MetadataManagementActivity": {
      "properties": {
        "restores": {
          "items": {
            "$ref": "Restore"
          },
          "description": "Output only. The latest restores of the metastore service.",
          "type": "array",
          "readOnly": true
        },
        "metadataExports": {
          "type": "array",
          "items": {
            "$ref": "MetadataExport"
          },
          "readOnly": true,
          "description": "Output only. The latest metadata exports of the metastore service."
        }
      },
      "type": "object",
      "description": "The metadata management activities of the metastore service.",
      "id": "MetadataManagementActivity"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the caller has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to Code.CANCELLED.",
          "readOnly": true,
          "type": "boolean"
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        }
      },
      "description": "Represents the metadata of a long-running operation."
    },
    "CustomRegionMetadata": {
      "id": "CustomRegionMetadata",
      "description": "Deprecated: Use a single region service instead. Metadata about a custom region. This is only populated if the region is a custom region. For single/multi regions, it will be empty.",
      "type": "object",
      "deprecated": true,
      "properties": {
        "optionalReadOnlyRegions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The read-only regions for this custom region."
        },
        "requiredReadWriteRegions": {
          "description": "The read-write regions for this custom region.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "witnessRegion": {
          "description": "The Spanner witness region for this custom region.",
          "type": "string"
        }
      }
    },
    "Backup": {
      "description": "The details of a backup resource.",
      "id": "Backup",
      "type": "object",
      "properties": {
        "serviceRevision": {
          "description": "Output only. The revision of the service at the time of backup.",
          "$ref": "Service",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The relative resource name of the backup, in the following form:projects/{project_number}/locations/{location_id}/services/{service_id}/backups/{backup_id}"
        },
        "restoringServices": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Services that are restoring from the backup."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the backup."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the backup was started.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "DELETING",
            "ACTIVE",
            "FAILED",
            "RESTORING"
          ],
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup is being created.",
            "The backup is being deleted.",
            "The backup is active and ready to use.",
            "The backup failed.",
            "The backup is being restored."
          ],
          "description": "Output only. The current state of the backup.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the backup finished creating.",
          "type": "string"
        }
      }
    },
    "CompleteMigrationRequest": {
      "id": "CompleteMigrationRequest",
      "description": "Request message for DataprocMetastore.CompleteMigration.",
      "type": "object",
      "properties": {}
    },
    "HiveMetastoreVersion": {
      "type": "object",
      "properties": {
        "isDefault": {
          "description": "Whether version will be chosen by the server if a metastore service is created with a HiveMetastoreConfig that omits the version.",
          "type": "boolean"
        },
        "version": {
          "description": "The semantic version of the Hive Metastore software.",
          "type": "string"
        }
      },
      "id": "HiveMetastoreVersion",
      "description": "A specification of a supported version of the Hive Metastore software."
    },
    "RemoveIamPolicyResponse": {
      "description": "Response message for DataprocMetastore.RemoveIamPolicy.",
      "properties": {
        "success": {
          "description": "True if the policy is successfully removed.",
          "type": "boolean"
        }
      },
      "id": "RemoveIamPolicyResponse",
      "type": "object"
    },
    "MultiRegionConfig": {
      "description": "Deprecated: Use a single region service instead. The multi-region config for the Dataproc Metastore service.",
      "type": "object",
      "deprecated": true,
      "properties": {
        "certificates": {
          "readOnly": true,
          "items": {
            "$ref": "RootCACertificate"
          },
          "type": "array",
          "deprecated": true,
          "description": "Output only. Deprecated: Use a single region service instead. The list of root CA certificates that a gRPC client uses to connect to a multi-regional Dataproc Metastore service."
        },
        "customRegionConfig": {
          "description": "Immutable. Deprecated: Use a single region service instead.",
          "deprecated": true,
          "$ref": "CustomRegionConfig"
        }
      },
      "id": "MultiRegionConfig"
    },
    "MaintenanceWindow": {
      "id": "MaintenanceWindow",
      "properties": {
        "hourOfDay": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The hour of day (0-23) when the window starts."
        },
        "dayOfWeek": {
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "Optional. The day of week, when the window starts."
        }
      },
      "type": "object",
      "description": "Maintenance window. This specifies when Dataproc Metastore may perform system maintenance operation to the service."
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "properties": {}
    },
    "TableReport": {
      "properties": {
        "table": {
          "type": "string",
          "description": "The name of the table."
        },
        "partitionReport": {
          "$ref": "PartitionReport",
          "description": "Report containing the results of partition migration for this table. This is only relevant for Hive Partitioned tables."
        },
        "executionResult": {
          "$ref": "ExecutionResult",
          "description": "The actual outcome of the table migration."
        },
        "executionPlan": {
          "description": "The discovered intent for the table (what we found and what we planned).",
          "$ref": "ExecutionPlan"
        },
        "partitionDiscoveredCount": {
          "format": "int64",
          "type": "string",
          "description": "The total number of partitions identified at the source during discovery. This is only relevant for Hive Partitioned tables."
        }
      },
      "type": "object",
      "description": "Aggregated report at the table level.",
      "id": "TableReport"
    },
    "ErrorDetails": {
      "properties": {
        "details": {
          "type": "object",
          "description": "Additional structured details about this error.Keys define the failure items. Value describes the exception or details of the item.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "ErrorDetails",
      "type": "object",
      "description": "Error details in public error message for DataprocMetastore.QueryMetadata."
    },
    "MoveTableToDatabaseRequest": {
      "properties": {
        "tableName": {
          "description": "Required. The name of the table to be moved.",
          "type": "string"
        },
        "destinationDbName": {
          "description": "Required. The name of the database where the table should be moved.",
          "type": "string"
        },
        "dbName": {
          "description": "Required. The name of the database where the table resides.",
          "type": "string"
        }
      },
      "id": "MoveTableToDatabaseRequest",
      "description": "Request message for DataprocMetastore.MoveTableToDatabase.",
      "type": "object"
    },
    "LatestBackup": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The current state of the backup.",
          "readOnly": true,
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup is in progress.",
            "The backup completed.",
            "The backup failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "startTime": {
          "description": "Output only. The time when the backup was started.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "backupId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of an in-progress scheduled backup. Empty if no backup is in progress."
        },
        "duration": {
          "description": "Output only. The duration of the backup completion.",
          "readOnly": true,
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "LatestBackup",
      "description": "The details of the latest scheduled backup."
    },
    "HiveMetastoreConfig": {
      "description": "Specifies configuration information specific to running Hive metastore software as the metastore service.",
      "type": "object",
      "properties": {
        "configOverrides": {
          "description": "Optional. A mapping of Hive metastore configuration key-value pairs to apply to the Hive metastore (configured in hive-site.xml). The mappings override system defaults (some keys cannot be overridden). These overrides are also applied to auxiliary versions and can be further customized in the auxiliary version's AuxiliaryVersionConfig.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "version": {
          "description": "Immutable. The Hive metastore schema version.",
          "type": "string"
        },
        "auxiliaryVersions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "AuxiliaryVersionConfig"
          },
          "description": "Optional. A mapping of Hive metastore version to the auxiliary version configuration. When specified, a secondary Hive metastore service is created along with the primary service. All auxiliary versions must be less than the service's primary version. The key is the auxiliary service name and it must match the regular expression a-z?. This means that the first character must be a lowercase letter, and all the following characters must be hyphens, lowercase letters, or digits, except the last character, which cannot be a hyphen."
        },
        "kerberosConfig": {
          "description": "Optional. Information used to configure the Hive metastore service as a service principal in a Kerberos realm. To disable Kerberos, use the UpdateService method and specify this field's path (hive_metastore_config.kerberos_config) in the request's update_mask while omitting this field from the request's service.",
          "$ref": "KerberosConfig"
        },
        "endpointProtocol": {
          "enumDescriptions": [
            "The protocol is not set.",
            "Use the legacy Apache Thrift protocol for the metastore service endpoint.",
            "Use the modernized gRPC protocol for the metastore service endpoint."
          ],
          "enum": [
            "ENDPOINT_PROTOCOL_UNSPECIFIED",
            "THRIFT",
            "GRPC"
          ],
          "description": "Optional. The protocol to use for the metastore service endpoint. If unspecified, defaults to THRIFT.",
          "type": "string"
        }
      },
      "id": "HiveMetastoreConfig"
    },
    "MessageSet": {
      "type": "object",
      "deprecated": true,
      "properties": {},
      "description": "This is proto2's version of MessageSet.DEPRECATED: DO NOT USE FOR NEW FIELDS.If you are using editions or proto2, please make your own extendable messages for your use case. If you are using proto3, please use Any instead.MessageSet was the implementation of extensions for proto1. When proto2 was introduced, extensions were implemented as a first-class feature. This schema for MessageSet was meant to be a \"bridge\" solution to migrate MessageSet-bearing messages from proto1 to proto2.This schema has been open-sourced only to facilitate the migration of Google products with MessageSet-bearing messages to open-source environments.",
      "id": "MessageSet"
    },
    "StartMigrationRequest": {
      "type": "object",
      "properties": {
        "migrationExecution": {
          "description": "Required. The configuration details for the migration.",
          "$ref": "MigrationExecution"
        },
        "migrationExecutionId": {
          "type": "string",
          "description": "Optional. The ID to use for the migration execution, which will become the final component of the migration execution's resource name. If not specified, a UUID will be generated.This value must be between 2 and 63 characters long inclusive, begin with a letter, end with a letter or number, and valid characters are a-z0-9-."
        },
        "requestId": {
          "description": "Optional. A request ID. Specify a unique request ID to allow the server to ignore the request if it has completed. The server will ignore subsequent requests that provide a duplicate request ID for at least 60 minutes after the first request.For example, if an initial request times out, followed by another request with the same request ID, the server ignores the second request to prevent the creation of duplicate commitments.The request ID must be a valid UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier#Format) A zero UUID (00000000-0000-0000-0000-000000000000) is not supported.",
          "type": "string"
        }
      },
      "description": "Request message for DataprocMetastore.StartMigration.",
      "id": "StartMigrationRequest"
    },
    "EncryptionConfig": {
      "type": "object",
      "properties": {
        "kmsKeys": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The list of fully qualified customer provided Cloud KMS key names for the multi-regional service. Each key must be in the following format:projects/{project_number}/locations/{location_id}/keyRings/{key_ring_id}/cryptoKeys/{crypto_key_id}."
        },
        "kmsKey": {
          "description": "Optional. The fully qualified customer provided Cloud KMS key name to use for customer data encryption, in the following format:projects/{project_number}/locations/{location_id}/keyRings/{key_ring_id}/cryptoKeys/{crypto_key_id}.",
          "type": "string"
        }
      },
      "id": "EncryptionConfig",
      "description": "Encryption settings for the service."
    },
    "CancelMigrationRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelMigrationRequest",
      "description": "Request message for DataprocMetastore.CancelMigration."
    },
    "ExportMetadataRequest": {
      "properties": {
        "destinationGcsFolder": {
          "type": "string",
          "description": "A Cloud Storage URI of a folder, in the format gs:///. A sub-folder containing exported files will be created below it."
        },
        "requestId": {
          "description": "Optional. A request ID. Specify a unique request ID to allow the server to ignore the request if it has completed. The server will ignore subsequent requests that provide a duplicate request ID for at least 60 minutes after the first request.For example, if an initial request times out, followed by another request with the same request ID, the server ignores the second request to prevent the creation of duplicate commitments.The request ID must be a valid UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier#Format). A zero UUID (00000000-0000-0000-0000-000000000000) is not supported.",
          "type": "string"
        },
        "databaseDumpType": {
          "description": "Optional. The type of the database dump. If unspecified, defaults to MYSQL.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MYSQL",
            "AVRO"
          ],
          "enumDescriptions": [
            "The type of the database dump is unknown.",
            "Database dump is a MySQL dump file.",
            "Database dump contains Avro files."
          ],
          "type": "string"
        }
      },
      "id": "ExportMetadataRequest",
      "type": "object",
      "description": "Request message for DataprocMetastore.ExportMetadata."
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "BackendMetastore": {
      "description": "Represents a backend metastore for the federation.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The relative resource name of the metastore that is being federated. The formats of the relative resource names for the currently supported metastores are listed below: BigQuery projects/{project_id} Dataproc Metastore projects/{project_id}/locations/{location}/services/{service_id}"
        },
        "metastoreType": {
          "description": "The type of the backend metastore.",
          "type": "string",
          "enumDescriptions": [
            "The metastore type is not set.",
            "The backend metastore is Dataplex.",
            "The backend metastore is BigQuery.",
            "The backend metastore is Dataproc Metastore."
          ],
          "enum": [
            "METASTORE_TYPE_UNSPECIFIED",
            "DATAPLEX",
            "BIGQUERY",
            "DATAPROC_METASTORE"
          ]
        }
      },
      "id": "BackendMetastore"
    },
    "Operation": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "MultiRegionMetadata": {
      "deprecated": true,
      "properties": {
        "constituentRegions": {
          "type": "array",
          "description": "The regions constituting the multi-region.",
          "items": {
            "type": "string"
          }
        },
        "continent": {
          "description": "The continent for this multi-region.",
          "type": "string"
        },
        "witnessRegion": {
          "type": "string",
          "description": "The Spanner witness region for this multi-region."
        }
      },
      "id": "MultiRegionMetadata",
      "description": "Deprecated: Use a single region service instead. The metadata for the multi-region that includes the constituent regions. The metadata is only populated if the region is multi-region. For single region or custom dual region, it will be empty.",
      "type": "object"
    },
    "HiveConfig": {
      "properties": {
        "databases": {
          "type": "array",
          "description": "Required. The list of databases to migrate to the Hive catalog. Use \"*\" to migrate all databases. Note: If Iceberg tables exist in these databases, they will only be migrated if iceberg_config is also specified.",
          "items": {
            "type": "string"
          }
        },
        "catalog": {
          "description": "Required. The target catalog for migrated databases and tables. Format: \"projects/{project_id_or_number}/catalogs/{catalog_id}\"",
          "type": "string"
        }
      },
      "id": "HiveConfig",
      "description": "Configuration for migrating Hive metadata.",
      "type": "object"
    },
    "MigrationReport": {
      "type": "object",
      "properties": {
        "summary": {
          "$ref": "MigrationSummary",
          "description": "Output only. High-level summary of the migration results.",
          "readOnly": true
        },
        "catalogReports": {
          "type": "array",
          "items": {
            "$ref": "CatalogReport"
          },
          "description": "Output only. Detailed results for each catalog involved in the migration.",
          "readOnly": true
        }
      },
      "id": "MigrationReport",
      "description": "Report containing the results of a migration run. This report is generated at the specified path in the BigLakeMetastoreMigrationConfig after the backfill is complete, or when a dry run is executed."
    },
    "MigrationExecution": {
      "id": "MigrationExecution",
      "type": "object",
      "description": "The details of a migration execution resource.",
      "properties": {
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time when the migration execution finished.",
          "format": "google-datetime",
          "type": "string"
        },
        "phase": {
          "description": "Output only. Deprecated: Phase was designed for incoming migrations to Dataproc Metastore, not applicable when migrating away from it. The current phase of the migration execution.",
          "enumDescriptions": [
            "The phase of the migration execution is unknown.",
            "Replication phase refers to the migration phase when Dataproc Metastore is running a pipeline to replicate changes in the customer database to its backend database. During this phase, Dataproc Metastore uses the customer database as the hive metastore backend database.",
            "Cutover phase refers to the migration phase when Dataproc Metastore switches to using its own backend database. Migration enters this phase when customer is done migrating all their clusters/workloads to Dataproc Metastore and triggers CompleteMigration."
          ],
          "readOnly": true,
          "type": "string",
          "deprecated": true,
          "enum": [
            "PHASE_UNSPECIFIED",
            "REPLICATION",
            "CUTOVER"
          ]
        },
        "stateMessage": {
          "description": "Output only. Additional information about the current state of the migration execution.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The relative resource name of the migration execution, in the following form: projects/{project_number}/locations/{location_id}/services/{service_id}/migrationExecutions/{migration_execution_id}",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "The state of the migration execution is unknown.",
            "The migration execution is starting.",
            "The migration execution is running.",
            "The migration execution is in the process of being cancelled.",
            "The migration execution is awaiting user action.",
            "The migration execution has completed successfully.",
            "The migration execution has failed.",
            "The migration execution is cancelled.",
            "The migration execution is being deleted.",
            "The migration execution has been rolled back. This occurs when CancelMigration is invoked after the migration has completed and the metastore service is in the PROXY state, returning the service to the ACTIVE state. This enables rollback support when the customer wants to resume using DPMS after a successful migration."
          ],
          "type": "string",
          "description": "Output only. The current state of the migration execution.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTING",
            "RUNNING",
            "CANCELLING",
            "AWAITING_USER_ACTION",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "DELETING",
            "ROLLED_BACK"
          ]
        },
        "biglakeMetastoreMigrationConfig": {
          "description": "Configuration information specific to migrating from Dataproc Metastore to BigLake Metastore.",
          "$ref": "BigLakeMetastoreMigrationConfig"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the migration execution was started.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec.Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TelemetryConfig": {
      "properties": {
        "logFormat": {
          "enumDescriptions": [
            "The LOG_FORMAT is not set.",
            "Logging output uses the legacy textPayload format.",
            "Logging output uses the jsonPayload format."
          ],
          "description": "Optional. The output format of the Dataproc Metastore service's logs.",
          "type": "string",
          "enum": [
            "LOG_FORMAT_UNSPECIFIED",
            "LEGACY",
            "JSON"
          ]
        }
      },
      "type": "object",
      "description": "Telemetry Configuration for the Dataproc Metastore service.",
      "id": "TelemetryConfig"
    },
    "BigLakeMetastoreMigrationConfig": {
      "type": "object",
      "id": "BigLakeMetastoreMigrationConfig",
      "properties": {
        "reportPath": {
          "type": "string",
          "description": "Optional. The Cloud Storage path where the backfill / dry run report should be written. If not provided, the report will be generated in the service's artifacts bucket. Format: \"gs://path/to/folder\""
        },
        "hiveConfig": {
          "$ref": "HiveConfig",
          "description": "Optional. At least one of hive_config or iceberg_config must be provided, otherwise, a validation error will be thrown. If only one is provided, the service only migrates tables of that specific type. If both are provided, both Hive and Iceberg tables will be migrated.Configuration for migrating Hive tables to a BigLake Hive catalog."
        },
        "dryRun": {
          "type": "boolean",
          "description": "Optional. If true, performs discovery of requested resources and analysis against the target catalog to come up with a plan for each resource (e.g. Create, Update, Skip, etc.). No metadata is actually migrated."
        },
        "backfillStatus": {
          "$ref": "BackfillStatus",
          "readOnly": true,
          "description": "Output only. "
        },
        "conflictPolicy": {
          "enum": [
            "CONFLICT_POLICY_UNSPECIFIED",
            "SKIP",
            "OVERWRITE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The conflict policy is unspecified.",
            "Skip migrating resources that already exist in the target catalog.",
            "Update resources that already exist in the target catalog."
          ],
          "description": "Optional. The policy to handle conflicts when migrating resources, defaults to SKIP if not specified."
        },
        "icebergConfig": {
          "description": "Optional. Configuration for migrating Iceberg tables to a BigLake Iceberg REST catalog.",
          "$ref": "IcebergConfig"
        },
        "mode": {
          "enumDescriptions": [
            "The migration mode is unspecified.",
            "Performs the metadata migration of requested resources. The migration completes once the backfill is finished.",
            "Performs the initial backfill, then transitions to an incremental synchronization state to replicate ongoing source writes. Requires an explicit CompleteMigration or CancelMigration call to end the migration. Note: Supported only for Iceberg migrations."
          ],
          "description": "Required. Defines the behavior of the migration execution.",
          "type": "string",
          "enum": [
            "MIGRATION_MODE_UNSPECIFIED",
            "BACKFILL",
            "INCREMENTAL_SYNC"
          ]
        }
      },
      "description": "Defines the configuration required to migrate metadata from a Dataproc Metastore service to BigLake Metastore."
    },
    "MigrationSummary": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The UTC time when the source metadata read was initiated."
        },
        "catalogSummaries": {
          "items": {
            "$ref": "CatalogSummary"
          },
          "readOnly": true,
          "description": "Output only. Summary of results for each catalog involved in the migration.",
          "type": "array"
        },
        "service": {
          "description": "Output only. The Dataproc Metastore service name (format: projects/*/locations/*/services/*) on which the migration was executed.",
          "readOnly": true,
          "type": "string"
        },
        "dryRun": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the migration was a dry run."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The UTC time when the report was written.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "MigrationSummary",
      "description": "Summary of the migration results.",
      "type": "object"
    },
    "MetadataIntegration": {
      "id": "MetadataIntegration",
      "description": "Specifies how metastore metadata should be integrated with external services.",
      "properties": {
        "dataplexConfig": {
          "description": "Optional. The integration config for the Dataplex service.",
          "$ref": "DataplexConfig"
        },
        "dataCatalogConfig": {
          "$ref": "DataCatalogConfig",
          "description": "Optional. The integration config for the Data Catalog service."
        }
      },
      "type": "object"
    },
    "TableSummary": {
      "properties": {
        "planCounts": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "description": "Output only. Number of tables with a specific migration plan action. The key is the action name (e.g. CREATE, UPDATE, SKIP, etc.)."
        },
        "partitionFailedCount": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The total number of partitions that failed to migrate at the target.",
          "readOnly": true
        },
        "partitionSuccessCount": {
          "description": "Output only. The total number of partitions successfully migrated at the target.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "partitionDiscoveredCount": {
          "description": "Output only. Partition migration summary across all Hive tables in the database.The total number of partitions discovered at the source.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "resultCounts": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "description": "Output only. Number of tables with a specific migration result status. The key is the status name (e.g. SUCCEEDED, FAILED, SKIPPED, etc.). This is only set if the migration is not a dry run.",
          "readOnly": true
        }
      },
      "description": "Aggregated summary of results for all tables in a database.",
      "id": "TableSummary",
      "type": "object"
    },
    "AutoscalingConfig": {
      "type": "object",
      "properties": {
        "limitConfig": {
          "description": "Optional. The LimitConfig of the service.",
          "$ref": "LimitConfig"
        },
        "autoscalingFactor": {
          "type": "number",
          "description": "Output only. The scaling factor of a service with autoscaling enabled.",
          "readOnly": true,
          "format": "float"
        },
        "autoscalingEnabled": {
          "description": "Optional. Whether or not autoscaling is enabled for this service.",
          "type": "boolean"
        }
      },
      "description": "Represents the autoscaling configuration of a metastore service.",
      "id": "AutoscalingConfig"
    },
    "QueryMetadataResponse": {
      "type": "object",
      "id": "QueryMetadataResponse",
      "properties": {
        "resultManifestUri": {
          "type": "string",
          "description": "The manifest URI is link to a JSON instance in Cloud Storage. This instance manifests immediately along with QueryMetadataResponse. The content of the URI is not retriable until the long-running operation query against the metadata finishes."
        }
      },
      "description": "Response message for DataprocMetastore.QueryMetadata."
    },
    "Restore": {
      "type": "object",
      "id": "Restore",
      "description": "The details of a metadata restore operation.",
      "properties": {
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The state of the metadata restore is unknown.",
            "The metadata restore is running.",
            "The metadata restore completed successfully.",
            "The metadata restore failed.",
            "The metadata restore is cancelled."
          ],
          "description": "Output only. The current state of the restore.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ]
        },
        "backup": {
          "description": "Output only. The relative resource name of the metastore service backup to restore from, in the following form:projects/{project_id}/locations/{location_id}/services/{service_id}/backups/{backup_id}.",
          "readOnly": true,
          "type": "string"
        },
        "backupLocation": {
          "description": "Optional. A Cloud Storage URI specifying where the backup artifacts are stored, in the format gs:///.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time when the restore ended.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "type": {
          "readOnly": true,
          "description": "Output only. The type of restore.",
          "enum": [
            "RESTORE_TYPE_UNSPECIFIED",
            "FULL",
            "METADATA_ONLY"
          ],
          "type": "string",
          "enumDescriptions": [
            "The restore type is unknown.",
            "The service's metadata and configuration are restored.",
            "Only the service's metadata is restored."
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the restore started.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "type": "string",
          "description": "Output only. The restore details containing the revision of the service to be restored to, in format of JSON.",
          "readOnly": true
        }
      }
    },
    "LocationMetadata": {
      "description": "Metadata about the service in a location.",
      "id": "LocationMetadata",
      "properties": {
        "customRegionMetadata": {
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "CustomRegionMetadata"
          },
          "description": "Deprecated: Use a single region service instead. Possible configurations supported if the current region is a custom region."
        },
        "multiRegionMetadata": {
          "deprecated": true,
          "$ref": "MultiRegionMetadata",
          "description": "Deprecated: Use a single region service instead. The multi-region metadata if the current region is a multi-region."
        },
        "supportedHiveMetastoreVersions": {
          "description": "The versions of Hive Metastore that can be used when creating a new metastore service in this location. The server guarantees that exactly one HiveMetastoreVersion in the list will set is_default.",
          "type": "array",
          "items": {
            "$ref": "HiveMetastoreVersion"
          }
        }
      },
      "type": "object"
    },
    "StatusProto": {
      "id": "StatusProto",
      "properties": {
        "space": {
          "type": "string",
          "description": "copybara:strip_begin(b/383363683) Space to which this status belongs copybara:strip_end_and_replace optional string space = 2; // Space to which this status belongs"
        },
        "messageSet": {
          "$ref": "MessageSet",
          "description": "message_set associates an arbitrary proto message with the status. copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional proto2.bridge.MessageSet message_set = 5;"
        },
        "code": {
          "description": "Numeric code drawn from the space specified below. Often, this is the canonical error space, and code is drawn from google3/util/task/codes.proto copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 code = 1;",
          "type": "integer",
          "format": "int32"
        },
        "canonicalCode": {
          "type": "integer",
          "description": "copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 canonical_code = 6;",
          "format": "int32"
        },
        "message": {
          "description": "Detail message copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional string message = 3;",
          "type": "string"
        }
      },
      "description": "Wire-format for a Status object",
      "type": "object"
    },
    "RemoveIamPolicyRequest": {
      "properties": {
        "asynchronous": {
          "description": "Optional. Removes IAM policy attached to database or table asynchronously when it is set. The default is false.",
          "type": "boolean"
        }
      },
      "id": "RemoveIamPolicyRequest",
      "description": "Request message for DataprocMetastore.RemoveIamPolicy.",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "A subset of TestPermissionsRequest.permissions that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "TestIamPermissionsResponse",
      "description": "Response message for TestIamPermissions method.",
      "type": "object"
    },
    "CatalogSummary": {
      "properties": {
        "catalogType": {
          "enum": [
            "CATALOG_TYPE_UNSPECIFIED",
            "HIVE",
            "ICEBERG"
          ],
          "enumDescriptions": [
            "The catalog type is unspecified.",
            "BigLake Metastore Hive catalog.",
            "BigLake Metastore Iceberg REST catalog."
          ],
          "description": "Output only. The type of the catalog.",
          "readOnly": true,
          "type": "string"
        },
        "catalog": {
          "description": "Output only. The catalog resource name (format: projects/*/catalogs/*).",
          "readOnly": true,
          "type": "string"
        },
        "databaseSummaries": {
          "items": {
            "$ref": "DatabaseSummary"
          },
          "readOnly": true,
          "description": "Output only. Summary of results for each database in the catalog.",
          "type": "array"
        }
      },
      "id": "CatalogSummary",
      "type": "object",
      "description": "Summary of results for a specific destination catalog."
    },
    "NetworkConfig": {
      "type": "object",
      "description": "Network configuration for the Dataproc Metastore service.",
      "properties": {
        "consumers": {
          "description": "Immutable. The consumer-side network configuration for the Dataproc Metastore instance.",
          "items": {
            "$ref": "Consumer"
          },
          "type": "array"
        },
        "customRoutesEnabled": {
          "type": "boolean",
          "description": "Optional. Enables custom routes to be imported and exported for the Dataproc Metastore service's peered VPC network."
        }
      },
      "id": "NetworkConfig"
    },
    "DataCatalogConfig": {
      "type": "object",
      "id": "DataCatalogConfig",
      "properties": {
        "enabled": {
          "description": "Optional. Defines whether the metastore metadata should be synced to Data Catalog. The default value is to disable syncing metastore metadata to Data Catalog.",
          "type": "boolean"
        }
      },
      "description": "Specifies how metastore metadata should be integrated with the Data Catalog service."
    },
    "Status": {
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "id": "Status",
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "CompleteMigrationResponse": {
      "type": "object",
      "description": "Response message for DataprocMetastore.CompleteMigration.",
      "properties": {
        "migrationExecution": {
          "type": "string",
          "description": "The relative resource name of the migration execution, in the following form:projects/{project_number}/locations/{location_id}/services/{service_id}/migrationExecutions/{migration_execution_id}."
        }
      },
      "id": "CompleteMigrationResponse"
    },
    "ValueDiff": {
      "description": "A field-level metadata mismatch for a resource between the source and target.",
      "type": "object",
      "id": "ValueDiff",
      "properties": {
        "sourceValue": {
          "description": "The value of the field at the source.",
          "type": "string"
        },
        "targetValue": {
          "description": "The value of the field at the target.",
          "type": "string"
        }
      }
    },
    "PartitionReport": {
      "id": "PartitionReport",
      "description": "Partition migration report for a Hive table.",
      "properties": {
        "partitionFailedCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of partitions that failed to migrate at the target."
        },
        "state": {
          "description": "Output only. The state of the partition migration.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "PARTIALLY_SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The state is unspecified.",
            "All partitions migrated successfully at the target.",
            "Some partitions migrated successfully at the target, but others failed.",
            "All partitions failed to migrate at the target."
          ]
        },
        "partitionSuccessCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of partitions successfully migrated at the target."
        }
      },
      "type": "object"
    },
    "Secret": {
      "type": "object",
      "id": "Secret",
      "properties": {
        "cloudSecret": {
          "description": "Optional. The relative resource name of a Secret Manager secret version, in the following form:projects/{project_number}/secrets/{secret_id}/versions/{version_id}.",
          "type": "string"
        }
      },
      "description": "A securely stored value."
    },
    "LimitConfig": {
      "type": "object",
      "properties": {
        "maxScalingFactor": {
          "format": "float",
          "type": "number",
          "description": "Optional. The highest scaling factor that the service should be autoscaled to."
        },
        "minScalingFactor": {
          "type": "number",
          "format": "float",
          "description": "Optional. The lowest scaling factor that the service should be autoscaled to."
        }
      },
      "description": "Represents the autoscaling limit configuration of a metastore service.",
      "id": "LimitConfig"
    },
    "AlterMetadataResourceLocationRequest": {
      "type": "object",
      "properties": {
        "resourceName": {
          "description": "Required. The relative metadata resource name in the following format.databases/{database_id} or databases/{database_id}/tables/{table_id} or databases/{database_id}/tables/{table_id}/partitions/{partition_id}",
          "type": "string"
        },
        "locationUri": {
          "type": "string",
          "description": "Required. The new location URI for the metadata resource."
        }
      },
      "description": "Request message for DataprocMetastore.AlterMetadataResourceLocation.",
      "id": "AlterMetadataResourceLocationRequest"
    },
    "AlterTablePropertiesRequest": {
      "properties": {
        "properties": {
          "description": "A map that describes the desired values to mutate. If update_mask is empty, the properties will not update. Otherwise, the properties only alters the value whose associated paths exist in the update mask",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "updateMask": {
          "type": "string",
          "description": "A field mask that specifies the metadata table properties that are overwritten by the update. Fields specified in the update_mask are relative to the resource (not to the full request). A field is overwritten if it is in the mask.For example, given the target properties: properties { a: 1 b: 2 } And an update properties: properties { a: 2 b: 3 c: 4 } then if the field mask is:paths: \"properties.b\", \"properties.c\"then the result will be: properties { a: 1 b: 3 c: 4 } ",
          "format": "google-fieldmask"
        },
        "tableName": {
          "type": "string",
          "description": "Required. The name of the table containing the properties you're altering in the following format.databases/{database_id}/tables/{table_id}"
        }
      },
[...]
