{
  "id": "metastore:v1alpha",
  "discoveryVersion": "v1",
  "revision": "20260910",
  "name": "metastore",
  "baseUrl": "https://metastore.googleapis.com/",
  "canonicalName": "Dataproc Metastore",
  "version": "v1alpha",
  "mtlsRootUrl": "https://metastore.mtls.googleapis.com/",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "schemas": {
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec.Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "NetworkConfig": {
      "properties": {
        "consumers": {
          "description": "Immutable. The consumer-side network configuration for the Dataproc Metastore instance.",
          "type": "array",
          "items": {
            "$ref": "Consumer"
          }
        },
        "customRoutesEnabled": {
          "type": "boolean",
          "description": "Optional. Enables custom routes to be imported and exported for the Dataproc Metastore service's peered VPC network."
        }
      },
      "description": "Network configuration for the Dataproc Metastore service.",
      "id": "NetworkConfig",
      "type": "object"
    },
    "CatalogReport": {
      "type": "object",
      "id": "CatalogReport",
      "properties": {
        "catalog": {
          "description": "The name of the catalog (format: projects/*/catalogs/*).",
          "type": "string"
        },
        "databaseReports": {
          "additionalProperties": {
            "$ref": "DatabaseReport"
          },
          "type": "object",
          "description": "A map of database names to their respective reports."
        },
        "catalogType": {
          "enumDescriptions": [
            "The catalog type is unspecified.",
            "BigLake Metastore Hive catalog.",
            "BigLake Metastore Iceberg REST catalog."
          ],
          "type": "string",
          "description": "The type of catalog.",
          "enum": [
            "CATALOG_TYPE_UNSPECIFIED",
            "HIVE",
            "ICEBERG"
          ]
        }
      },
      "description": "Aggregated report at the catalog level."
    },
    "ExecutionPlan": {
      "type": "object",
      "description": "Represents the migration plan for a specific resource (e.g. Database, Table).",
      "properties": {
        "action": {
          "enum": [
            "ACTION_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "SKIP",
            "DEPENDENCY_FAILURE",
            "ERROR"
          ],
          "description": "The action that will be taken for a resource during migration.",
          "type": "string",
          "enumDescriptions": [
            "The action is unspecified.",
            "Resource missing; will be created.",
            "Resource exists at the target, but differs from the source; will be updated.",
            "Resource exists at the target; no changes will be made.",
            "Resource cannot be migrated due to a dependency failure (e.g., parent resource missing).",
            "Resource cannot be migrated due to an error during discovery."
          ]
        },
        "reason": {
          "description": "A human-readable string explaining why the action was chosen.",
          "type": "string"
        },
        "diffs": {
          "additionalProperties": {
            "$ref": "ValueDiff"
          },
          "description": "A map of field names to their respective value diff.",
          "type": "object"
        }
      },
      "id": "ExecutionPlan"
    },
    "ListBackupsResponse": {
      "id": "ListBackupsResponse",
      "description": "Response message for DataprocMetastore.ListBackups.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "backups": {
          "items": {
            "$ref": "Backup"
          },
          "description": "The backups of the specified service.",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Federation": {
      "description": "Represents a federation of multiple backend metastores.",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-defined labels for the metastore federation.",
          "type": "object"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the metastore federation was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time when the metastore federation was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "version": {
          "type": "string",
          "description": "Immutable. The Apache Hive metastore version of the federation. All backend metastore versions must be compatible with the federation version."
        },
        "endpointUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The federation endpoint."
        },
        "uid": {
          "type": "string",
          "description": "Output only. The globally unique resource identifier of the metastore federation.",
          "readOnly": true
        },
        "name": {
          "description": "Immutable. The relative resource name of the federation, of the form: projects/{project_number}/locations/{location_id}/federations/{federation_id}`.",
          "type": "string"
        },
        "stateMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Additional information about the current state of the metastore federation, if available."
        },
        "backendMetastores": {
          "additionalProperties": {
            "$ref": "BackendMetastore"
          },
          "type": "object",
          "description": "A map from BackendMetastore rank to BackendMetastores from which the federation service serves metadata at query time. The map key represents the order in which BackendMetastores should be evaluated to resolve database names at query time and should be greater than or equal to zero. A BackendMetastore with a lower number will be evaluated before a BackendMetastore with a higher number."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The state of the metastore federation is unknown.",
            "The metastore federation is in the process of being created.",
            "The metastore federation is running and ready to serve queries.",
            "The metastore federation is being updated. It remains usable but cannot accept additional update requests or be deleted at this time.",
            "The metastore federation is undergoing deletion. It cannot be used.",
            "The metastore federation has encountered an error and cannot be used. The metastore federation should be deleted."
          ],
          "description": "Output only. The current state of the federation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "ERROR"
          ]
        },
        "tags": {
          "type": "object",
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\"",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "Federation"
    },
    "RemoveIamPolicyRequest": {
      "description": "Request message for DataprocMetastore.RemoveIamPolicy.",
      "type": "object",
      "id": "RemoveIamPolicyRequest",
      "properties": {
        "asynchronous": {
          "description": "Optional. Removes IAM policy attached to database or table asynchronously when it is set. The default is false.",
          "type": "boolean"
        }
      }
    },
    "AlterMetadataResourceLocationResponse": {
      "description": "Response message for DataprocMetastore.AlterMetadataResourceLocation.",
      "properties": {},
      "type": "object",
      "id": "AlterMetadataResourceLocationResponse"
    },
    "MessageSet": {
      "properties": {},
      "id": "MessageSet",
      "deprecated": true,
      "type": "object",
      "description": "This is proto2's version of MessageSet.DEPRECATED: DO NOT USE FOR NEW FIELDS.If you are using editions or proto2, please make your own extendable messages for your use case. If you are using proto3, please use Any instead.MessageSet was the implementation of extensions for proto1. When proto2 was introduced, extensions were implemented as a first-class feature. This schema for MessageSet was meant to be a \"bridge\" solution to migrate MessageSet-bearing messages from proto1 to proto2.This schema has been open-sourced only to facilitate the migration of Google products with MessageSet-bearing messages to open-source environments."
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } "
    },
    "KerberosConfig": {
      "type": "object",
      "properties": {
        "krb5ConfigGcsUri": {
          "description": "Optional. A Cloud Storage URI that specifies the path to a krb5.conf file. It is of the form gs://{bucket_name}/path/to/krb5.conf, although the file does not need to be named krb5.conf explicitly.",
          "type": "string"
        },
        "keytab": {
          "description": "Optional. A Kerberos keytab file that can be used to authenticate a service principal with a Kerberos Key Distribution Center (KDC).",
          "$ref": "Secret"
        },
        "principal": {
          "type": "string",
          "description": "Optional. A Kerberos principal that exists in the both the keytab the KDC to authenticate as. A typical principal is of the form primary/instance@REALM, but there is no exact format."
        }
      },
      "id": "KerberosConfig",
      "description": "Configuration information for a Kerberos principal."
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of TestPermissionsRequest.permissions that the caller is allowed."
        }
      },
      "id": "TestIamPermissionsResponse",
      "description": "Response message for TestIamPermissions method.",
      "type": "object"
    },
    "BackfillStatus": {
      "type": "object",
      "description": "Backfill status for the migration execution.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The backfill state is unspecified.",
            "Waiting to start.",
            "Backfill in progress.",
            "Backfill complete, report is available",
            "Backfill failed; check report for details"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. The current state of the backfill (or dry run).",
          "type": "string",
          "readOnly": true
        },
        "migrationSummary": {
          "$ref": "MigrationSummary",
          "readOnly": true,
          "description": "Output only. Summary of the migration results. This is populated after the backfill or dry run is finished."
        },
        "reportPath": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Cloud Storage path where the backfill or dry run report is written. Format: \"gs://path-to-report\"."
        }
      },
      "id": "BackfillStatus"
    },
    "MetadataManagementActivity": {
      "description": "The metadata management activities of the metastore service.",
      "properties": {
        "restores": {
          "type": "array",
          "items": {
            "$ref": "Restore"
          },
          "description": "Output only. The latest restores of the metastore service.",
          "readOnly": true
        },
        "metadataExports": {
          "readOnly": true,
          "description": "Output only. The latest metadata exports of the metastore service.",
          "type": "array",
          "items": {
            "$ref": "MetadataExport"
          }
        }
      },
      "type": "object",
      "id": "MetadataManagementActivity"
    },
    "Binding": {
      "type": "object",
      "id": "Binding",
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding.If the condition evaluates to true, then this binding applies to the current request.If the condition evaluates to false, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. members can have the following values: allUsers: A special identifier that represents anyone who is on the internet; with or without a Google account. allAuthenticatedUsers: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. user:{emailid}: An email address that represents a specific Google account. For example, alice@example.com . serviceAccount:{emailid}: An email address that represents a Google service account. For example, my-other-app@appspot.gserviceaccount.com. serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]: An identifier for a Kubernetes service account (https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, my-project.svc.id.goog[my-namespace/my-kubernetes-sa]. group:{emailid}: An email address that represents a Google group. For example, admins@example.com. domain:{domain}: The G Suite domain (primary) that represents all the users of that domain. For example, google.com or example.com. principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}: A single identity in a workforce identity pool. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}: All workforce identities in a group. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}: All workforce identities with a specific attribute value. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*: All identities in a workforce identity pool. principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}: A single identity in a workload identity pool. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}: A workload identity pool group. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}: All identities in a workload identity pool with a certain attribute. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*: All identities in a workload identity pool. deleted:user:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a user that has been recently deleted. For example, alice@example.com?uid=123456789012345678901. If the user is recovered, this value reverts to user:{emailid} and the recovered user retains the role in the binding. deleted:serviceAccount:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901. If the service account is undeleted, this value reverts to serviceAccount:{emailid} and the undeleted service account retains the role in the binding. deleted:group:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, admins@example.com?uid=123456789012345678901. If the group is recovered, this value reverts to group:{emailid} and the recovered group retains the role in the binding. deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}: Deleted single identity in a workforce identity pool. For example, deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of members, or principals. For example, roles/viewer, roles/editor, or roles/owner.For an overview of the IAM roles and permissions, see the IAM documentation (https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see here (https://cloud.google.com/iam/docs/understanding-roles)."
        }
      },
      "description": "Associates members, or principals, with a role."
    },
    "MetadataIntegration": {
      "description": "Specifies how metastore metadata should be integrated with external services.",
      "properties": {
        "dataplexConfig": {
          "description": "Optional. The integration config for the Dataplex service.",
          "$ref": "DataplexConfig"
        },
        "dataCatalogConfig": {
          "description": "Optional. The integration config for the Data Catalog service.",
          "$ref": "DataCatalogConfig"
        }
      },
      "id": "MetadataIntegration",
      "type": "object"
    },
    "ScalingConfig": {
      "properties": {
        "instanceSize": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified instance size",
            "Extra small instance size, maps to a scaling factor of 0.1.",
            "Small instance size, maps to a scaling factor of 0.5.",
            "Medium instance size, maps to a scaling factor of 1.0.",
            "Large instance size, maps to a scaling factor of 3.0.",
            "Extra large instance size, maps to a scaling factor of 6.0."
          ],
          "enum": [
            "INSTANCE_SIZE_UNSPECIFIED",
            "EXTRA_SMALL",
            "SMALL",
            "MEDIUM",
            "LARGE",
            "EXTRA_LARGE"
          ],
          "description": "An enum of readable instance sizes, with each instance size mapping to a float value (e.g. InstanceSize.EXTRA_SMALL = scaling_factor(0.1))"
        },
        "autoscalingConfig": {
          "description": "Optional. The autoscaling configuration.",
          "$ref": "AutoscalingConfig"
        },
        "scalingFactor": {
          "format": "float",
          "type": "number",
          "description": "Scaling factor, increments of 0.1 for values less than 1.0, and increments of 1.0 for values greater than 1.0."
        }
      },
      "description": "Represents the scaling configuration of a metastore service.",
      "id": "ScalingConfig",
      "type": "object"
    },
    "DataCatalogConfig": {
      "description": "Specifies how metastore metadata should be integrated with the Data Catalog service.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Optional. Defines whether the metastore metadata should be synced to Data Catalog. The default value is to disable syncing metastore metadata to Data Catalog."
        }
      },
      "id": "DataCatalogConfig",
      "type": "object"
    },
    "StartMigrationRequest": {
      "type": "object",
      "properties": {
        "migrationExecutionId": {
          "type": "string",
          "description": "Optional. The ID to use for the migration execution, which will become the final component of the migration execution's resource name. If not specified, a UUID will be generated.This value must be between 2 and 63 characters long inclusive, begin with a letter, end with a letter or number, and valid characters are a-z0-9-."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. A request ID. Specify a unique request ID to allow the server to ignore the request if it has completed. The server will ignore subsequent requests that provide a duplicate request ID for at least 60 minutes after the first request.For example, if an initial request times out, followed by another request with the same request ID, the server ignores the second request to prevent the creation of duplicate commitments.The request ID must be a valid UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier#Format) A zero UUID (00000000-0000-0000-0000-000000000000) is not supported."
        },
        "migrationExecution": {
          "description": "Required. The configuration details for the migration.",
          "$ref": "MigrationExecution"
        }
      },
      "id": "StartMigrationRequest",
      "description": "Request message for DataprocMetastore.StartMigration."
    },
    "RemoveIamPolicyResponse": {
      "description": "Response message for DataprocMetastore.RemoveIamPolicy.",
      "type": "object",
      "id": "RemoveIamPolicyResponse",
      "properties": {
        "success": {
          "description": "True if the policy is successfully removed.",
          "type": "boolean"
        }
      }
    },
    "TableSummary": {
      "type": "object",
      "id": "TableSummary",
      "description": "Aggregated summary of results for all tables in a database.",
      "properties": {
        "partitionFailedCount": {
          "readOnly": true,
          "description": "Output only. The total number of partitions that failed to migrate at the target.",
          "format": "int64",
          "type": "string"
        },
        "planCounts": {
          "readOnly": true,
          "type": "object",
          "description": "Output only. Number of tables with a specific migration plan action. The key is the action name (e.g. CREATE, UPDATE, SKIP, etc.).",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        },
        "resultCounts": {
          "description": "Output only. Number of tables with a specific migration result status. The key is the status name (e.g. SUCCEEDED, FAILED, SKIPPED, etc.). This is only set if the migration is not a dry run.",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "readOnly": true
        },
        "partitionDiscoveredCount": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Partition migration summary across all Hive tables in the database.The total number of partitions discovered at the source."
        },
        "partitionSuccessCount": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The total number of partitions successfully migrated at the target.",
          "type": "string"
        }
      }
    },
    "CatalogSummary": {
      "description": "Summary of results for a specific destination catalog.",
      "properties": {
        "catalogType": {
          "readOnly": true,
          "enumDescriptions": [
            "The catalog type is unspecified.",
            "BigLake Metastore Hive catalog.",
            "BigLake Metastore Iceberg REST catalog."
          ],
          "description": "Output only. The type of the catalog.",
          "enum": [
            "CATALOG_TYPE_UNSPECIFIED",
            "HIVE",
            "ICEBERG"
          ],
          "type": "string"
        },
        "databaseSummaries": {
          "type": "array",
          "description": "Output only. Summary of results for each database in the catalog.",
          "items": {
            "$ref": "DatabaseSummary"
          },
          "readOnly": true
        },
        "catalog": {
          "readOnly": true,
          "description": "Output only. The catalog resource name (format: projects/*/catalogs/*).",
          "type": "string"
        }
      },
      "id": "CatalogSummary",
      "type": "object"
    },
    "CompleteMigrationRequest": {
      "properties": {},
      "id": "CompleteMigrationRequest",
      "type": "object",
      "description": "Request message for DataprocMetastore.CompleteMigration."
    },
    "CancelMigrationRequest": {
      "type": "object",
      "description": "Request message for DataprocMetastore.CancelMigration.",
      "id": "CancelMigrationRequest",
      "properties": {}
    },
    "MaintenanceWindow": {
      "id": "MaintenanceWindow",
      "type": "object",
      "description": "Maintenance window. This specifies when Dataproc Metastore may perform system maintenance operation to the service.",
      "properties": {
        "hourOfDay": {
          "type": "integer",
          "description": "Optional. The hour of day (0-23) when the window starts.",
          "format": "int32"
        },
        "dayOfWeek": {
          "description": "Optional. The day of week, when the window starts.",
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}.",
          "type": "string"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
          "type": "boolean"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "MultiRegionConfig": {
      "properties": {
        "customRegionConfig": {
          "$ref": "CustomRegionConfig",
          "deprecated": true,
          "description": "Immutable. Deprecated: Use a single region service instead."
        },
        "certificates": {
          "deprecated": true,
          "type": "array",
          "description": "Output only. Deprecated: Use a single region service instead. The list of root CA certificates that a gRPC client uses to connect to a multi-regional Dataproc Metastore service.",
          "readOnly": true,
          "items": {
            "$ref": "RootCACertificate"
          }
        }
      },
      "description": "Deprecated: Use a single region service instead. The multi-region config for the Dataproc Metastore service.",
      "deprecated": true,
      "type": "object",
      "id": "MultiRegionConfig"
    },
    "ScheduledBackup": {
      "type": "object",
      "description": "This specifies the configuration of scheduled backup.",
      "id": "ScheduledBackup",
      "properties": {
        "latestBackup": {
          "$ref": "LatestBackup",
          "readOnly": true,
          "description": "Output only. The details of the latest scheduled backup."
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the time zone database (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones), e.g. America/Los_Angeles or Africa/Abidjan. If left unspecified, the default is UTC."
        },
        "backupLocation": {
          "description": "Optional. A Cloud Storage URI of a folder, in the format gs:///. A sub-folder containing backup files will be stored below it.",
          "type": "string"
        },
        "nextScheduledTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the next backups execution is scheduled to start."
        },
        "cronSchedule": {
          "type": "string",
          "description": "Optional. The scheduled interval in Cron format, see https://en.wikipedia.org/wiki/Cron The default is empty: scheduled backup is not enabled. Must be specified to enable scheduled backups."
        },
        "enabled": {
          "description": "Optional. Defines whether the scheduled backup is enabled. The default value is false.",
          "type": "boolean"
        }
      }
    },
    "DataplexConfig": {
      "description": "Specifies how metastore metadata should be integrated with the Dataplex service.",
      "id": "DataplexConfig",
      "properties": {
        "lakeResources": {
          "additionalProperties": {
            "$ref": "Lake"
          },
          "type": "object",
          "description": "Optional. A reference to the Lake resources that this metastore service is attached to. The key is the lake resource name. Example: projects/{project_number}/locations/{location_id}/lakes/{lake_id}."
        }
      },
      "type": "object"
    },
    "DatabaseDump": {
      "id": "DatabaseDump",
      "description": "A specification of the location of and metadata about a database dump from a relational database management system.",
      "properties": {
        "sourceDatabase": {
          "description": "Optional. The name of the source database.",
          "deprecated": true,
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "MYSQL",
            "AVRO"
          ],
          "description": "Optional. The type of the database dump. If unspecified, defaults to MYSQL.",
          "type": "string",
          "enumDescriptions": [
            "The type of the database dump is unknown.",
            "Database dump is a MySQL dump file.",
            "Database dump contains Avro files."
          ]
        },
        "gcsUri": {
          "description": "Optional. A Cloud Storage object or folder URI that specifies the source from which to import metadata. It must begin with gs://.",
          "type": "string"
        },
        "databaseType": {
          "enumDescriptions": [
            "The type of the source database is unknown.",
            "The type of the source database is MySQL."
          ],
          "type": "string",
          "description": "The type of the database.",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "MYSQL"
          ],
          "deprecated": true
        }
      },
      "type": "object"
    },
    "MetadataExport": {
      "type": "object",
      "properties": {
        "state": {
          "readOnly": true,
          "description": "Output only. The current state of the export.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "The state of the metadata export is unknown.",
            "The metadata export is running.",
            "The metadata export completed successfully.",
            "The metadata export failed.",
            "The metadata export is cancelled."
          ]
        },
        "destinationGcsUri": {
          "type": "string",
          "description": "Output only. A Cloud Storage URI of a folder that metadata are exported to, in the form of gs:////, where is automatically generated.",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the export ended.",
          "type": "string",
          "readOnly": true
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the export started."
        },
        "databaseDumpType": {
          "enumDescriptions": [
            "The type of the database dump is unknown.",
            "Database dump is a MySQL dump file.",
            "Database dump contains Avro files."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "MYSQL",
            "AVRO"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the database dump."
        }
      },
      "description": "The details of a metadata export operation.",
      "id": "MetadataExport"
    },
    "ValueDiff": {
      "properties": {
        "sourceValue": {
          "description": "The value of the field at the source.",
          "type": "string"
        },
        "targetValue": {
          "description": "The value of the field at the target.",
          "type": "string"
        }
      },
      "id": "ValueDiff",
      "description": "A field-level metadata mismatch for a resource between the source and target.",
      "type": "object"
    },
    "BigLakeMetastoreMigrationConfig": {
      "type": "object",
      "id": "BigLakeMetastoreMigrationConfig",
      "description": "Defines the configuration required to migrate metadata from a Dataproc Metastore service to BigLake Metastore.",
      "properties": {
        "dryRun": {
          "description": "Optional. If true, performs discovery of requested resources and analysis against the target catalog to come up with a plan for each resource (e.g. Create, Update, Skip, etc.). No metadata is actually migrated.",
          "type": "boolean"
        },
        "reportPath": {
          "description": "Optional. The Cloud Storage path where the backfill / dry run report should be written. If not provided, the report will be generated in the service's artifacts bucket. Format: \"gs://path/to/folder\"",
          "type": "string"
        },
        "hiveConfig": {
          "description": "Optional. At least one of hive_config or iceberg_config must be provided, otherwise, a validation error will be thrown. If only one is provided, the service only migrates tables of that specific type. If both are provided, both Hive and Iceberg tables will be migrated.Configuration for migrating Hive tables to a BigLake Hive catalog.",
          "$ref": "HiveConfig"
        },
        "icebergConfig": {
          "$ref": "IcebergConfig",
          "description": "Optional. Configuration for migrating Iceberg tables to a BigLake Iceberg REST catalog."
        },
        "backfillStatus": {
          "$ref": "BackfillStatus",
          "readOnly": true,
          "description": "Output only. "
        },
        "conflictPolicy": {
          "enumDescriptions": [
            "The conflict policy is unspecified.",
            "Skip migrating resources that already exist in the target catalog.",
            "Update resources that already exist in the target catalog."
          ],
          "enum": [
            "CONFLICT_POLICY_UNSPECIFIED",
            "SKIP",
            "OVERWRITE"
          ],
          "description": "Optional. The policy to handle conflicts when migrating resources, defaults to SKIP if not specified.",
          "type": "string"
        },
        "mode": {
          "enumDescriptions": [
            "The migration mode is unspecified.",
            "Performs the metadata migration of requested resources. The migration completes once the backfill is finished.",
            "Performs the initial backfill, then transitions to an incremental synchronization state to replicate ongoing source writes. Requires an explicit CompleteMigration or CancelMigration call to end the migration. Note: Supported only for Iceberg migrations."
          ],
          "enum": [
            "MIGRATION_MODE_UNSPECIFIED",
            "BACKFILL",
            "INCREMENTAL_SYNC"
          ],
          "type": "string",
          "description": "Required. Defines the behavior of the migration execution."
        }
      }
    },
    "AutoscalingConfig": {
      "properties": {
        "autoscalingEnabled": {
          "type": "boolean",
          "description": "Optional. Whether or not autoscaling is enabled for this service."
        },
        "limitConfig": {
          "$ref": "LimitConfig",
          "description": "Optional. The LimitConfig of the service."
        },
        "autoscalingFactor": {
          "type": "number",
          "format": "float",
          "description": "Output only. The scaling factor of a service with autoscaling enabled.",
          "readOnly": true
        }
      },
      "description": "Represents the autoscaling configuration of a metastore service.",
      "id": "AutoscalingConfig",
      "type": "object"
    },
    "MetadataImport": {
      "description": "A metastore resource that imports metadata.",
      "id": "MetadataImport",
      "type": "object",
      "properties": {
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time when the metadata import finished.",
          "type": "string",
          "format": "google-datetime"
        },
        "databaseDump": {
          "description": "Immutable. A database dump from a pre-existing metastore's database.",
          "$ref": "DatabaseDump"
        },
        "state": {
          "description": "Output only. The current state of the metadata import.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "UPDATING",
            "FAILED"
          ],
          "enumDescriptions": [
            "The state of the metadata import is unknown.",
            "The metadata import is running.",
            "The metadata import completed successfully.",
            "The metadata import is being updated.",
            "The metadata import failed, and attempted metadata changes were rolled back."
          ],
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the metadata import was last updated.",
          "readOnly": true
        },
        "name": {
          "description": "Immutable. Identifier. The relative resource name of the metadata import, of the form:projects/{project_number}/locations/{location_id}/services/{service_id}/metadataImports/{metadata_import_id}.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the metadata import.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the metadata import was started.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "ListMetadataImportsResponse": {
      "type": "object",
      "description": "Response message for DataprocMetastore.ListMetadataImports.",
      "properties": {
        "metadataImports": {
          "items": {
            "$ref": "MetadataImport"
          },
          "description": "The imports in the specified service.",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListMetadataImportsResponse"
    },
    "Restore": {
      "properties": {
        "backupLocation": {
          "description": "Optional. A Cloud Storage URI specifying where the backup artifacts are stored, in the format gs:///.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the restore started."
        },
        "type": {
          "enumDescriptions": [
            "The restore type is unknown.",
            "The service's metadata and configuration are restored.",
            "Only the service's metadata is restored."
          ],
          "type": "string",
          "description": "Output only. The type of restore.",
          "readOnly": true,
          "enum": [
            "RESTORE_TYPE_UNSPECIFIED",
            "FULL",
            "METADATA_ONLY"
          ]
        },
        "state": {
          "enumDescriptions": [
            "The state of the metadata restore is unknown.",
            "The metadata restore is running.",
            "The metadata restore completed successfully.",
            "The metadata restore failed.",
            "The metadata restore is cancelled."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current state of the restore.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ]
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the restore ended.",
          "type": "string"
        },
        "backup": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The relative resource name of the metastore service backup to restore from, in the following form:projects/{project_id}/locations/{location_id}/services/{service_id}/backups/{backup_id}."
        },
        "details": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The restore details containing the revision of the service to be restored to, in format of JSON."
        }
      },
      "description": "The details of a metadata restore operation.",
      "id": "Restore",
      "type": "object"
    },
    "LatestBackup": {
      "description": "The details of the latest scheduled backup.",
      "properties": {
        "duration": {
          "format": "google-duration",
          "description": "Output only. The duration of the backup completion.",
          "type": "string",
          "readOnly": true
        },
        "backupId": {
          "description": "Output only. The ID of an in-progress scheduled backup. Empty if no backup is in progress.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the backup was started.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup is in progress.",
            "The backup completed.",
            "The backup failed."
          ],
          "description": "Output only. The current state of the backup.",
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true
        }
      },
      "id": "LatestBackup",
      "type": "object"
    },
    "DatabaseReport": {
      "description": "Aggregated report at the database level.",
      "id": "DatabaseReport",
      "properties": {
        "executionPlan": {
          "$ref": "ExecutionPlan",
          "description": "The discovered intent for the database (what we found and what we planned)."
        },
        "database": {
          "type": "string",
          "description": "The name of the database."
        },
        "executionResult": {
          "description": "The actual outcome of the database migration.",
          "$ref": "ExecutionResult"
        },
        "tableReports": {
          "type": "object",
          "description": "A map of table names to their respective reports.",
          "additionalProperties": {
            "$ref": "TableReport"
          }
        }
      },
      "type": "object"
    },
    "LimitConfig": {
      "description": "Represents the autoscaling limit configuration of a metastore service.",
      "properties": {
        "maxScalingFactor": {
          "description": "Optional. The highest scaling factor that the service should be autoscaled to.",
          "type": "number",
          "format": "float"
        },
        "minScalingFactor": {
          "type": "number",
          "format": "float",
          "description": "Optional. The lowest scaling factor that the service should be autoscaled to."
        }
      },
      "id": "LimitConfig",
      "type": "object"
    },
    "RestoreServiceRequest": {
      "type": "object",
      "id": "RestoreServiceRequest",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. A request ID. Specify a unique request ID to allow the server to ignore the request if it has completed. The server will ignore subsequent requests that provide a duplicate request ID for at least 60 minutes after the first request.For example, if an initial request times out, followed by another request with the same request ID, the server ignores the second request to prevent the creation of duplicate commitments.The request ID must be a valid UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier#Format). A zero UUID (00000000-0000-0000-0000-000000000000) is not supported."
        },
        "backupLocation": {
          "type": "string",
          "description": "Optional. A Cloud Storage URI specifying the location of the backup artifacts, namely - backup avro files under \"avro/\", backup_metastore.json and service.json, in the following form:gs://. Mutually exclusive with backup, and exactly one of the two must be set."
        },
        "restoreType": {
          "enumDescriptions": [
            "The restore type is unknown.",
            "The service's metadata and configuration are restored.",
            "Only the service's metadata is restored."
          ],
          "enum": [
            "RESTORE_TYPE_UNSPECIFIED",
            "FULL",
            "METADATA_ONLY"
          ],
          "type": "string",
          "description": "Optional. The type of restore. If unspecified, defaults to METADATA_ONLY."
        },
        "backup": {
          "description": "Optional. The relative resource name of the metastore service backup to restore from, in the following form:projects/{project_id}/locations/{location_id}/services/{service_id}/backups/{backup_id}. Mutually exclusive with backup_location, and exactly one of the two must be set.",
          "type": "string"
        }
      },
      "description": "Request message for DataprocMetastore.RestoreService."
    },
    "DatabaseSummary": {
      "description": "Summary of results for a specific database in a catalog.",
      "type": "object",
      "id": "DatabaseSummary",
      "properties": {
        "database": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the database."
        },
        "planAction": {
          "enum": [
            "ACTION_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "SKIP",
            "DEPENDENCY_FAILURE",
            "ERROR"
          ],
          "readOnly": true,
          "description": "Output only. The migration plan action for the database.",
          "enumDescriptions": [
            "The action is unspecified.",
            "Resource missing; will be created.",
            "Resource exists at the target, but differs from the source; will be updated.",
            "Resource exists at the target; no changes will be made.",
            "Resource cannot be migrated due to a dependency failure (e.g., parent resource missing).",
            "Resource cannot be migrated due to an error during discovery."
          ],
          "type": "string"
        },
        "resultStatus": {
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "SKIPPED"
          ],
          "description": "Output only. The migration result status for the database. This is only set if the migration is not a dry run.",
          "enumDescriptions": [
            "The state is unspecified.",
            "The resource was migrated successfully.",
            "The resource failed to migrate.",
            "The resource was skipped and will not be migrated."
          ],
          "readOnly": true,
          "type": "string"
        },
        "tableSummary": {
          "$ref": "TableSummary",
          "readOnly": true,
          "description": "Output only. Aggregated summary of results for all tables in the database."
        }
      }
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        }
      }
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: \"projects/example-project/locations/us-east1\"",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"} "
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: \"us-east1\"."
        }
      }
    },
    "Backup": {
      "properties": {
        "serviceRevision": {
          "description": "Output only. The revision of the service at the time of backup.",
          "$ref": "Service",
          "readOnly": true
        },
        "name": {
          "description": "Immutable. Identifier. The relative resource name of the backup, in the following form:projects/{project_number}/locations/{location_id}/services/{service_id}/backups/{backup_id}",
          "type": "string"
        },
        "state": {
          "description": "Output only. The current state of the backup.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "DELETING",
            "ACTIVE",
            "FAILED",
            "RESTORING"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup is being created.",
            "The backup is being deleted.",
            "The backup is active and ready to use.",
            "The backup failed.",
            "The backup is being restored."
          ]
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time when the backup finished creating.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the backup was started."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the backup."
        },
        "restoringServices": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Services that are restoring from the backup.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Backup",
      "description": "The details of a backup resource."
    },
    "EncryptionConfig": {
      "properties": {
        "kmsKey": {
          "description": "Optional. The fully qualified customer provided Cloud KMS key name to use for customer data encryption, in the following format:projects/{project_number}/locations/{location_id}/keyRings/{key_ring_id}/cryptoKeys/{crypto_key_id}.",
          "type": "string"
        },
        "kmsKeys": {
          "description": "Optional. The list of fully qualified customer provided Cloud KMS key names for the multi-regional service. Each key must be in the following format:projects/{project_number}/locations/{location_id}/keyRings/{key_ring_id}/cryptoKeys/{crypto_key_id}.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "EncryptionConfig",
      "description": "Encryption settings for the service."
    },
    "ListFederationsResponse": {
      "description": "Response message for ListFederations",
      "type": "object",
      "id": "ListFederationsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "federations": {
          "type": "array",
          "description": "The services in the specified location.",
          "items": {
            "$ref": "Federation"
          }
        }
      }
    },
    "MultiRegionMetadata": {
      "type": "object",
      "id": "MultiRegionMetadata",
      "properties": {
        "witnessRegion": {
          "description": "The Spanner witness region for this multi-region.",
          "type": "string"
        },
        "continent": {
          "type": "string",
          "description": "The continent for this multi-region."
        },
        "constituentRegions": {
          "description": "The regions constituting the multi-region.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "deprecated": true,
      "description": "Deprecated: Use a single region service instead. The metadata for the multi-region that includes the constituent regions. The metadata is only populated if the region is multi-region. For single region or custom dual region, it will be empty."
    },
    "HiveConfig": {
      "description": "Configuration for migrating Hive metadata.",
      "properties": {
        "catalog": {
          "type": "string",
          "description": "Required. The target catalog for migrated databases and tables. Format: \"projects/{project_id_or_number}/catalogs/{catalog_id}\""
        },
        "databases": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The list of databases to migrate to the Hive catalog. Use \"*\" to migrate all databases. Note: If Iceberg tables exist in these databases, they will only be migrated if iceberg_config is also specified."
        }
      },
      "type": "object",
      "id": "HiveConfig"
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs.If there are AuditConfigs for both allServices and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted.Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "properties": {
        "auditLogConfigs": {
          "type": "array",
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          }
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, storage.googleapis.com, cloudsql.googleapis.com. allServices is a special value that covers all services.",
          "type": "string"
        }
      }
    },
    "TelemetryConfig": {
      "id": "TelemetryConfig",
      "properties": {
        "logFormat": {
          "enumDescriptions": [
            "The LOG_FORMAT is not set.",
            "Logging output uses the legacy textPayload format.",
            "Logging output uses the jsonPayload format."
          ],
          "type": "string",
          "description": "Optional. The output format of the Dataproc Metastore service's logs.",
          "enum": [
            "LOG_FORMAT_UNSPECIFIED",
            "LEGACY",
            "JSON"
          ]
        }
      },
      "type": "object",
      "description": "Telemetry Configuration for the Dataproc Metastore service."
    },
    "StatusProto": {
      "description": "Wire-format for a Status object",
      "type": "object",
      "id": "StatusProto",
      "properties": {
        "code": {
          "description": "Numeric code drawn from the space specified below. Often, this is the canonical error space, and code is drawn from google3/util/task/codes.proto copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 code = 1;",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "Detail message copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional string message = 3;"
        },
        "space": {
          "description": "copybara:strip_begin(b/383363683) Space to which this status belongs copybara:strip_end_and_replace optional string space = 2; // Space to which this status belongs",
          "type": "string"
        },
        "messageSet": {
          "description": "message_set associates an arbitrary proto message with the status. copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional proto2.bridge.MessageSet message_set = 5;",
          "$ref": "MessageSet"
        },
        "canonicalCode": {
          "type": "integer",
          "format": "int32",
          "description": "copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 canonical_code = 6;"
        }
      }
    },
    "CancelMigrationResponse": {
      "id": "CancelMigrationResponse",
      "properties": {
        "migrationExecution": {
          "type": "string",
          "description": "The relative resource name of the migration execution, in the following form:projects/{project_number}/locations/{location_id}/services/{service_id}/migrationExecutions/{migration_execution_id}."
        }
      },
      "description": "Response message for DataprocMetastore.CancelMigration.",
      "type": "object"
    },
    "QueryMetadataResponse": {
      "id": "QueryMetadataResponse",
      "description": "Response message for DataprocMetastore.QueryMetadata.",
      "properties": {
        "resultManifestUri": {
          "type": "string",
          "description": "The manifest URI is link to a JSON instance in Cloud Storage. This instance manifests immediately along with QueryMetadataResponse. The content of the URI is not retriable until the long-running operation query against the metadata finishes."
        }
      },
      "type": "object"
    },
    "AlterTablePropertiesRequest": {
      "description": "Request message for DataprocMetastore.AlterTableProperties.",
      "id": "AlterTablePropertiesRequest",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "A field mask that specifies the metadata table properties that are overwritten by the update. Fields specified in the update_mask are relative to the resource (not to the full request). A field is overwritten if it is in the mask.For example, given the target properties: properties { a: 1 b: 2 } And an update properties: properties { a: 2 b: 3 c: 4 } then if the field mask is:paths: \"properties.b\", \"properties.c\"then the result will be: properties { a: 1 b: 3 c: 4 } ",
          "type": "string"
        },
        "properties": {
          "description": "A map that describes the desired values to mutate. If update_mask is empty, the properties will not update. Otherwise, the properties only alters the value whose associated paths exist in the update mask",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "tableName": {
          "type": "string",
          "description": "Required. The name of the table containing the properties you're altering in the following format.databases/{database_id}/tables/{table_id}"
        }
      },
      "type": "object"
    },
    "CompleteMigrationResponse": {
      "description": "Response message for DataprocMetastore.CompleteMigration.",
      "id": "CompleteMigrationResponse",
      "type": "object",
      "properties": {
        "migrationExecution": {
          "description": "The relative resource name of the migration execution, in the following form:projects/{project_number}/locations/{location_id}/services/{service_id}/migrationExecutions/{migration_execution_id}.",
          "type": "string"
        }
      }
    },
    "PartitionReport": {
      "properties": {
        "partitionSuccessCount": {
          "type": "string",
          "description": "The number of partitions successfully migrated at the target.",
          "format": "int64"
        },
        "state": {
          "enumDescriptions": [
            "The state is unspecified.",
            "All partitions migrated successfully at the target.",
            "Some partitions migrated successfully at the target, but others failed.",
            "All partitions failed to migrate at the target."
          ],
          "description": "Output only. The state of the partition migration.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "PARTIALLY_SUCCEEDED",
            "FAILED"
          ]
        },
        "partitionFailedCount": {
          "description": "The number of partitions that failed to migrate at the target.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "PartitionReport",
      "description": "Partition migration report for a Hive table."
    },
    "MigrationSummary": {
      "description": "Summary of the migration results.",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The UTC time when the report was written."
        },
        "dryRun": {
          "description": "Output only. Whether the migration was a dry run.",
          "readOnly": true,
          "type": "boolean"
        },
        "catalogSummaries": {
          "items": {
            "$ref": "CatalogSummary"
          },
          "readOnly": true,
          "description": "Output only. Summary of results for each catalog involved in the migration.",
          "type": "array"
        },
        "createTime": {
          "description": "Output only. The UTC time when the source metadata read was initiated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "service": {
          "readOnly": true,
          "description": "Output only. The Dataproc Metastore service name (format: projects/*/locations/*/services/*) on which the migration was executed.",
          "type": "string"
        }
      },
      "id": "MigrationSummary"
    },
    "TableReport": {
      "description": "Aggregated report at the table level.",
      "type": "object",
      "properties": {
        "executionResult": {
          "description": "The actual outcome of the table migration.",
          "$ref": "ExecutionResult"
        },
        "table": {
          "description": "The name of the table.",
          "type": "string"
        },
        "partitionDiscoveredCount": {
          "type": "string",
          "description": "The total number of partitions identified at the source during discovery. This is only relevant for Hive Partitioned tables.",
          "format": "int64"
        },
        "executionPlan": {
          "description": "The discovered intent for the table (what we found and what we planned).",
          "$ref": "ExecutionPlan"
        },
        "partitionReport": {
          "description": "Report containing the results of partition migration for this table. This is only relevant for Hive Partitioned tables.",
          "$ref": "PartitionReport"
        }
      },
      "id": "TableReport"
    },
    "ErrorDetails": {
      "type": "object",
      "properties": {
        "details": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional structured details about this error.Keys define the failure items. Value describes the exception or details of the item."
        }
      },
      "id": "ErrorDetails",
      "description": "Error details in public error message for DataprocMetastore.QueryMetadata."
    },
    "CustomRegionMetadata": {
      "type": "object",
      "properties": {
        "requiredReadWriteRegions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The read-write regions for this custom region."
        },
        "witnessRegion": {
          "type": "string",
          "description": "The Spanner witness region for this custom region."
        },
        "optionalReadOnlyRegions": {
          "type": "array",
          "description": "The read-only regions for this custom region.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Deprecated: Use a single region service instead. Metadata about a custom region. This is only populated if the region is a custom region. For single/multi regions, it will be empty.",
      "id": "CustomRegionMetadata",
      "deprecated": true
    },
    "ExecutionResult": {
      "type": "object",
      "id": "ExecutionResult",
      "description": "Represents the actual migration result for a specific resource (e.g. Database, Table).",
      "properties": {
        "state": {
          "description": "Output only. The state of the migration for a resource.",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "SKIPPED"
          ],
          "enumDescriptions": [
            "The state is unspecified.",
            "The resource was migrated successfully.",
            "The resource failed to migrate.",
            "The resource was skipped and will not be migrated."
          ],
          "readOnly": true,
          "type": "string"
        },
        "errorMessage": {
          "description": "Description of the error if the state is FAILED.",
          "type": "string"
        },
        "remediation": {
          "description": "Remediation steps for the error if the state is FAILED.",
          "type": "string"
        }
      }
    },
    "HiveMetastoreConfig": {
      "id": "HiveMetastoreConfig",
      "description": "Specifies configuration information specific to running Hive metastore software as the metastore service.",
      "properties": {
        "configOverrides": {
          "description": "Optional. A mapping of Hive metastore configuration key-value pairs to apply to the Hive metastore (configured in hive-site.xml). The mappings override system defaults (some keys cannot be overridden). These overrides are also applied to auxiliary versions and can be further customized in the auxiliary version's AuxiliaryVersionConfig.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "kerberosConfig": {
          "$ref": "KerberosConfig",
          "description": "Optional. Information used to configure the Hive metastore service as a service principal in a Kerberos realm. To disable Kerberos, use the UpdateService method and specify this field's path (hive_metastore_config.kerberos_config) in the request's update_mask while omitting this field from the request's service."
        },
        "auxiliaryVersions": {
          "type": "object",
          "description": "Optional. A mapping of Hive metastore version to the auxiliary version configuration. When specified, a secondary Hive metastore service is created along with the primary service. All auxiliary versions must be less than the service's primary version. The key is the auxiliary service name and it must match the regular expression a-z?. This means that the first character must be a lowercase letter, and all the following characters must be hyphens, lowercase letters, or digits, except the last character, which cannot be a hyphen.",
          "additionalProperties": {
            "$ref": "AuxiliaryVersionConfig"
          }
        },
        "endpointProtocol": {
          "enum": [
            "ENDPOINT_PROTOCOL_UNSPECIFIED",
            "THRIFT",
            "GRPC"
          ],
          "type": "string",
          "enumDescriptions": [
            "The protocol is not set.",
            "Use the legacy Apache Thrift protocol for the metastore service endpoint.",
            "Use the modernized gRPC protocol for the metastore service endpoint."
          ],
          "description": "Optional. The protocol to use for the metastore service endpoint. If unspecified, defaults to THRIFT."
        },
        "version": {
          "description": "Immutable. The Hive metastore schema version.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of a long-running operation.",
      "properties": {
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running."
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the caller has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to Code.CANCELLED.",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        }
      },
      "id": "OperationMetadata",
      "type": "object"
    },
    "RootCACertificate": {
      "description": "Deprecated: Use a single region service instead. A gRPC client must install all root CA certificates to connect to a multi-regional Dataproc Metastore service and achieve failover.",
      "type": "object",
      "properties": {
        "expirationTime": {
          "type": "string",
          "deprecated": true,
          "format": "google-datetime",
          "description": "Deprecated: Use a single region service instead. The certificate expiration time in timestamp format."
        },
        "certificate": {
          "description": "Deprecated: Use a single region service instead. The root CA certificate in PEM format. The maximum length is 65536 bytes.",
          "deprecated": true,
          "type": "string"
        }
      },
      "deprecated": true,
      "id": "RootCACertificate"
    },
    "HiveMetastoreVersion": {
      "type": "object",
      "properties": {
        "version": {
          "description": "The semantic version of the Hive Metastore software.",
          "type": "string"
        },
        "isDefault": {
          "description": "Whether version will be chosen by the server if a metastore service is created with a HiveMetastoreConfig that omits the version.",
          "type": "boolean"
        }
      },
      "description": "A specification of a supported version of the Hive Metastore software.",
      "id": "HiveMetastoreVersion"
    },
    "Secret": {
      "description": "A securely stored value.",
      "properties": {
        "cloudSecret": {
          "description": "Optional. The relative resource name of a Secret Manager secret version, in the following form:projects/{project_number}/secrets/{secret_id}/versions/{version_id}.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Secret"
    },
    "IcebergConfig": {
      "type": "object",
      "id": "IcebergConfig",
      "description": "Configuration for migrating Iceberg metadata.",
      "properties": {
        "namespaces": {
          "type": "array",
          "description": "Required. The list of namespaces to migrate to the Iceberg REST catalog. Use \"*\" to migrate all namespaces. Note: If Hive tables exist in these namespaces, they will only be migrated if hive_config is also specified.",
          "items": {
            "type": "string"
          }
        },
        "catalog": {
          "type": "string",
          "description": "Required. The target catalog for migrated Iceberg metadata. Format: \"projects/{project_id_or_number}/catalogs/{catalog_id}\""
        }
      }
    },
    "MoveTableToDatabaseResponse": {
      "type": "object",
      "properties": {},
      "id": "MoveTableToDatabaseResponse",
      "description": "Response message for DataprocMetastore.MoveTableToDatabase."
    },
    "ListMigrationExecutionsResponse": {
      "id": "ListMigrationExecutionsResponse",
      "description": "Response message for DataprocMetastore.ListMigrationExecutions.",
      "properties": {
        "migrationExecutions": {
          "description": "The migration executions on the specified service.",
          "items": {
            "$ref": "MigrationExecution"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "MigrationExecution": {
      "description": "The details of a migration execution resource.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The relative resource name of the migration execution, in the following form: projects/{project_number}/locations/{location_id}/services/{service_id}/migrationExecutions/{migration_execution_id}"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTING",
            "RUNNING",
            "CANCELLING",
            "AWAITING_USER_ACTION",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "DELETING",
            "ROLLED_BACK"
          ],
          "description": "Output only. The current state of the migration execution.",
          "enumDescriptions": [
            "The state of the migration execution is unknown.",
            "The migration execution is starting.",
            "The migration execution is running.",
            "The migration execution is in the process of being cancelled.",
            "The migration execution is awaiting user action.",
            "The migration execution has completed successfully.",
            "The migration execution has failed.",
            "The migration execution is cancelled.",
            "The migration execution is being deleted.",
            "The migration execution has been rolled back. This occurs when CancelMigration is invoked after the migration has completed and the metastore service is in the PROXY state, returning the service to the ACTIVE state. This enables rollback support when the customer wants to resume using DPMS after a successful migration."
          ],
          "readOnly": true,
          "type": "string"
        },
        "phase": {
          "enumDescriptions": [
            "The phase of the migration execution is unknown.",
            "Replication phase refers to the migration phase when Dataproc Metastore is running a pipeline to replicate changes in the customer database to its backend database. During this phase, Dataproc Metastore uses the customer database as the hive metastore backend database.",
            "Cutover phase refers to the migration phase when Dataproc Metastore switches to using its own backend database. Migration enters this phase when customer is done migrating all their clusters/workloads to Dataproc Metastore and triggers CompleteMigration."
          ],
          "type": "string",
          "enum": [
            "PHASE_UNSPECIFIED",
            "REPLICATION",
            "CUTOVER"
          ],
          "description": "Output only. Deprecated: Phase was designed for incoming migrations to Dataproc Metastore, not applicable when migrating away from it. The current phase of the migration execution.",
          "readOnly": true,
          "deprecated": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the migration execution was started."
        },
        "biglakeMetastoreMigrationConfig": {
          "description": "Configuration information specific to migrating from Dataproc Metastore to BigLake Metastore.",
          "$ref": "BigLakeMetastoreMigrationConfig"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the migration execution finished.",
          "type": "string",
          "readOnly": true
        },
        "stateMessage": {
          "type": "string",
          "description": "Output only. Additional information about the current state of the migration execution.",
          "readOnly": true
        }
      },
      "id": "MigrationExecution",
      "type": "object"
    },
    "ListServicesResponse": {
      "type": "object",
      "description": "Response message for DataprocMetastore.ListServices.",
      "id": "ListServicesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "services": {
          "type": "array",
          "items": {
            "$ref": "Service"
          },
          "description": "The services in the specified location."
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets ListOperationsRequest.return_partial_success and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for TestIamPermissions method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the resource. Permissions with wildcards (such as * or storage.*) are not allowed. For more information see IAM Overview (https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Service": {
      "id": "Service",
      "description": "A managed metastore service that serves metadata queries.",
      "type": "object",
      "properties": {
        "endpointUri": {
          "description": "Output only. The URI of the endpoint used to access the metastore service.",
          "type": "string",
          "readOnly": true
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Immutable. Information used to configure the Dataproc Metastore service to encrypt customer data at rest. Cannot be updated."
        },
        "state": {
          "description": "Output only. The current state of the metastore service.",
          "enumDescriptions": [
            "The state of the metastore service is unknown.",
            "The metastore service is in the process of being created.",
            "The metastore service is running and ready to serve queries.",
            "The metastore service is entering suspension. Its query-serving availability may cease unexpectedly.",
            "The metastore service is suspended and unable to serve queries.",
            "The metastore service is being updated. It remains usable but cannot accept additional update requests or be deleted at this time.",
            "The metastore service is undergoing deletion. It cannot be used.",
            "The metastore service has encountered an error and cannot be used. The metastore service should be deleted.",
            "The Dataproc Metastore service 2 is being scaled up or down.",
            "The metastore service is processing a managed migration.",
            "The metastore service has completed managed migration and is now proxying requests to the Lakehouse runtime catalog."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "UPDATING",
            "DELETING",
            "ERROR",
            "AUTOSCALING",
            "MIGRATING",
            "PROXY"
          ],
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "User-defined labels for the metastore service.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "maintenanceWindow": {
          "description": "Optional. The one hour maintenance window of the metastore service. This specifies when the service can be restarted for maintenance purposes in UTC time. Maintenance window is not needed for services with the SPANNER database type.",
          "$ref": "MaintenanceWindow"
        },
        "releaseChannel": {
          "description": "Immutable. The release channel of the service. If unspecified, defaults to STABLE.",
          "enumDescriptions": [
            "Release channel is not specified.",
            "The CANARY release channel contains the newest features, which may be unstable and subject to unresolved issues with no known workarounds. Services using the CANARY release channel are not subject to any SLAs.",
            "The STABLE release channel contains features that are considered stable and have been validated for production use."
          ],
          "enum": [
            "RELEASE_CHANNEL_UNSPECIFIED",
            "CANARY",
            "STABLE"
          ],
          "type": "string"
        },
        "metadataIntegration": {
          "$ref": "MetadataIntegration",
          "description": "Optional. The setting that defines how metastore metadata should be integrated with external services and systems."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the metastore service was last updated.",
          "type": "string"
        },
        "networkConfig": {
          "description": "Optional. The configuration specifying the network settings for the Dataproc Metastore service.",
          "$ref": "NetworkConfig"
        },
        "hiveMetastoreConfig": {
          "description": "Configuration information specific to running Hive metastore software as the metastore service.",
          "$ref": "HiveMetastoreConfig"
        },
        "scalingConfig": {
          "$ref": "ScalingConfig",
          "description": "Optional. Scaling configuration of the metastore service."
        },
        "tier": {
          "enum": [
            "TIER_UNSPECIFIED",
            "DEVELOPER",
            "ENTERPRISE"
          ],
          "enumDescriptions": [
            "The tier is not set.",
            "The developer tier provides limited scalability and no fault tolerance. Good for low-cost proof-of-concept.",
            "The enterprise tier provides multi-zone high availability, and sufficient scalability for enterprise-level Dataproc Metastore workloads."
          ],
          "description": "Optional. The tier of the service.",
          "type": "string"
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\"",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Immutable. Identifier. The relative resource name of the metastore service, in the following format:projects/{project_number}/locations/{location_id}/services/{service_id}.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the metastore service was created."
        },
        "metadataManagementActivity": {
          "readOnly": true,
          "description": "Output only. The metadata management activities of the metastore service.",
          "$ref": "MetadataManagementActivity"
        },
        "port": {
          "description": "Optional. The TCP port at which the metastore service is reached. Default: 9083.",
          "format": "int32",
          "type": "integer"
        },
        "multiRegionConfig": {
          "$ref": "MultiRegionConfig",
          "deprecated": true,
          "description": "Optional. Deprecated: Use a single region service instead. Specifies the multi-region configuration information for the Hive metastore service."
        },
        "telemetryConfig": {
          "description": "Optional. The configuration specifying telemetry settings for the Dataproc Metastore service. If unspecified defaults to JSON.",
          "$ref": "TelemetryConfig"
        },
        "deletionProtection": {
          "description": "Optional. Indicates if the dataproc metastore should be protected against accidental deletions.",
          "type": "boolean"
        },
        "uid": {
          "description": "Output only. The globally unique resource identifier of the metastore service.",
          "type": "string",
          "readOnly": true
        },
        "artifactGcsUri": {
          "readOnly": true,
          "description": "Output only. A Cloud Storage URI (starting with gs://) that specifies where artifacts related to the metastore service are stored.",
          "type": "string"
        },
        "scheduledBackup": {
          "$ref": "ScheduledBackup",
          "description": "Optional. The configuration of scheduled backup for the metastore service."
        },
        "network": {
[...]
