{
  "mtlsRootUrl": "https://metastore.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "id": "metastore:v1",
  "revision": "20260910",
  "documentationLink": "https://cloud.google.com/dataproc-metastore/docs",
  "protocol": "rest",
  "servicePath": "",
  "ownerDomain": "google.com",
  "basePath": "",
  "name": "metastore",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://metastore.googleapis.com/",
  "version": "v1",
  "rootUrl": "https://metastore.googleapis.com/",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "title": "Dataproc Metastore API",
  "version_module": true,
  "description": "The Dataproc Metastore API is used to manage the lifecycle and configuration of metastore services.",
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "canonicalName": "Dataproc Metastore",
  "kind": "discovery#restDescription",
  "schemas": {
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs.If there are AuditConfigs for both allServices and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted.Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "type": "object",
      "id": "AuditConfig",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, storage.googleapis.com, cloudsql.googleapis.com. allServices is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      }
    },
    "CompleteMigrationRequest": {
      "description": "Request message for DataprocMetastore.CompleteMigration.",
      "type": "object",
      "id": "CompleteMigrationRequest",
      "properties": {}
    },
    "BackfillStatus": {
      "description": "Backfill status for the migration execution.",
      "properties": {
        "migrationSummary": {
          "$ref": "MigrationSummary",
          "description": "Output only. Summary of the migration results. This is populated after the backfill or dry run is finished.",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true,
          "description": "Output only. The current state of the backfill (or dry run).",
          "type": "string",
          "enumDescriptions": [
            "The backfill state is unspecified.",
            "Waiting to start.",
            "Backfill in progress.",
            "Backfill complete, report is available",
            "Backfill failed; check report for details"
          ]
        },
        "reportPath": {
          "readOnly": true,
          "description": "Output only. The Cloud Storage path where the backfill or dry run report is written. Format: \"gs://path-to-report\".",
          "type": "string"
        }
      },
      "id": "BackfillStatus",
      "type": "object"
    },
    "DatabaseDump": {
      "description": "A specification of the location of and metadata about a database dump from a relational database management system.",
      "id": "DatabaseDump",
      "type": "object",
      "properties": {
        "gcsUri": {
          "description": "Optional. A Cloud Storage object or folder URI that specifies the source from which to import metadata. It must begin with gs://.",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "MYSQL",
            "AVRO"
          ],
          "type": "string",
          "description": "Optional. The type of the database dump. If unspecified, defaults to MYSQL.",
          "enumDescriptions": [
            "The type of the database dump is unknown.",
            "Database dump is a MySQL dump file.",
            "Database dump contains Avro files."
          ]
        },
        "databaseType": {
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "MYSQL"
          ],
          "deprecated": true,
          "enumDescriptions": [
            "The type of the source database is unknown.",
            "The type of the source database is MySQL."
          ],
          "description": "The type of the database.",
          "type": "string"
        },
        "sourceDatabase": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. The name of the source database."
        }
      }
    },
    "AuxiliaryVersionConfig": {
      "type": "object",
      "description": "Configuration information for the auxiliary service versions.",
      "properties": {
        "version": {
          "description": "Optional. The Hive metastore version of the auxiliary service. It must be less than the primary Hive metastore service's version.",
          "type": "string"
        },
        "networkConfig": {
          "$ref": "NetworkConfig",
          "description": "Output only. The network configuration contains the endpoint URI(s) of the auxiliary Hive metastore service.",
          "readOnly": true
        },
        "configOverrides": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A mapping of Hive metastore configuration key-value pairs to apply to the auxiliary Hive metastore (configured in hive-site.xml) in addition to the primary version's overrides. If keys are present in both the auxiliary version's overrides and the primary version's overrides, the value from the auxiliary version's overrides takes precedence.",
          "type": "object"
        }
      },
      "id": "AuxiliaryVersionConfig"
    },
    "ExecutionResult": {
      "description": "Represents the actual migration result for a specific resource (e.g. Database, Table).",
      "id": "ExecutionResult",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The state of the migration for a resource.",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified.",
            "The resource was migrated successfully.",
            "The resource failed to migrate.",
            "The resource was skipped and will not be migrated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "SKIPPED"
          ]
        },
        "errorMessage": {
          "description": "Description of the error if the state is FAILED.",
          "type": "string"
        },
        "remediation": {
          "description": "Remediation steps for the error if the state is FAILED.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CatalogSummary": {
      "description": "Summary of results for a specific destination catalog.",
      "id": "CatalogSummary",
      "type": "object",
      "properties": {
        "catalog": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The catalog resource name (format: projects/*/catalogs/*)."
        },
        "databaseSummaries": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "DatabaseSummary"
          },
          "description": "Output only. Summary of results for each database in the catalog."
        },
        "catalogType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the catalog.",
          "enumDescriptions": [
            "The catalog type is unspecified.",
            "BigLake Metastore Hive catalog.",
            "BigLake Metastore Iceberg REST catalog."
          ],
          "enum": [
            "CATALOG_TYPE_UNSPECIFIED",
            "HIVE",
            "ICEBERG"
          ]
        }
      }
    },
    "MultiRegionMetadata": {
      "type": "object",
      "deprecated": true,
      "properties": {
        "constituentRegions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The regions constituting the multi-region."
        },
        "witnessRegion": {
          "description": "The Spanner witness region for this multi-region.",
          "type": "string"
        },
        "continent": {
          "type": "string",
          "description": "The continent for this multi-region."
        }
      },
      "id": "MultiRegionMetadata",
      "description": "Deprecated: Use a single region service instead. The metadata for the multi-region that includes the constituent regions. The metadata is only populated if the region is multi-region. For single region or custom dual region, it will be empty."
    },
    "QueryMetadataRequest": {
      "id": "QueryMetadataRequest",
      "type": "object",
      "description": "Request message for DataprocMetastore.QueryMetadata.",
      "properties": {
        "query": {
          "type": "string",
          "description": "Required. A read-only SQL query to execute against the metadata database. The query cannot change or mutate the data."
        }
      }
    },
    "ListFederationsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "federations": {
          "items": {
            "$ref": "Federation"
          },
          "description": "The services in the specified location.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListFederations",
      "id": "ListFederationsResponse",
      "type": "object"
    },
    "DataCatalogConfig": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Optional. Defines whether the metastore metadata should be synced to Data Catalog. The default value is to disable syncing metastore metadata to Data Catalog."
        }
      },
      "description": "Specifies how metastore metadata should be integrated with the Data Catalog service.",
      "id": "DataCatalogConfig"
    },
    "MetadataIntegration": {
      "properties": {
        "dataCatalogConfig": {
          "$ref": "DataCatalogConfig",
          "description": "Optional. The integration config for the Data Catalog service."
        }
      },
      "description": "Specifies how metastore metadata should be integrated with external services.",
      "id": "MetadataIntegration",
      "type": "object"
    },
    "AuditLogConfig": {
      "type": "object",
      "properties": {
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string"
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "DatabaseSummary": {
      "id": "DatabaseSummary",
      "properties": {
        "resultStatus": {
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "SKIPPED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified.",
            "The resource was migrated successfully.",
            "The resource failed to migrate.",
            "The resource was skipped and will not be migrated."
          ],
          "description": "Output only. The migration result status for the database. This is only set if the migration is not a dry run."
        },
        "tableSummary": {
          "description": "Output only. Aggregated summary of results for all tables in the database.",
          "readOnly": true,
          "$ref": "TableSummary"
        },
        "planAction": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The action is unspecified.",
            "Resource missing; will be created.",
            "Resource exists at the target, but differs from the source; will be updated.",
            "Resource exists at the target; no changes will be made.",
            "Resource cannot be migrated due to a dependency failure (e.g., parent resource missing).",
            "Resource cannot be migrated due to an error during discovery."
          ],
          "description": "Output only. The migration plan action for the database.",
          "enum": [
            "ACTION_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "SKIP",
            "DEPENDENCY_FAILURE",
            "ERROR"
          ]
        },
        "database": {
          "description": "Output only. The name of the database.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Summary of results for a specific database in a catalog."
    },
    "BigLakeMetastoreMigrationConfig": {
      "properties": {
        "hiveConfig": {
          "description": "Optional. At least one of hive_config or iceberg_config must be provided, otherwise, a validation error will be thrown. If only one is provided, the service only migrates tables of that specific type. If both are provided, both Hive and Iceberg tables will be migrated.Configuration for migrating Hive tables to a BigLake Hive catalog.",
          "$ref": "HiveConfig"
        },
        "reportPath": {
          "type": "string",
          "description": "Optional. The Cloud Storage path where the backfill / dry run report should be written. If not provided, the report will be generated in the service's artifacts bucket. Format: \"gs://path/to/folder\""
        },
        "icebergConfig": {
          "$ref": "IcebergConfig",
          "description": "Optional. Configuration for migrating Iceberg tables to a BigLake Iceberg REST catalog."
        },
        "dryRun": {
          "type": "boolean",
          "description": "Optional. If true, performs discovery of requested resources and analysis against the target catalog to come up with a plan for each resource (e.g. Create, Update, Skip, etc.). No metadata is actually migrated."
        },
        "mode": {
          "type": "string",
          "enumDescriptions": [
            "The migration mode is unspecified.",
            "Performs the metadata migration of requested resources. The migration completes once the backfill is finished."
          ],
          "enum": [
            "MIGRATION_MODE_UNSPECIFIED",
            "BACKFILL"
          ],
          "description": "Required. Defines the behavior of the migration execution."
        },
        "conflictPolicy": {
          "enum": [
            "CONFLICT_POLICY_UNSPECIFIED",
            "SKIP",
            "OVERWRITE"
          ],
          "enumDescriptions": [
            "The conflict policy is unspecified.",
            "Skip migrating resources that already exist in the target catalog.",
            "Update resources that already exist in the target catalog."
          ],
          "type": "string",
          "description": "Optional. The policy to handle conflicts when migrating resources, defaults to SKIP if not specified."
        },
        "backfillStatus": {
          "$ref": "BackfillStatus",
          "readOnly": true,
          "description": "Output only. "
        }
      },
      "description": "Defines the configuration required to migrate metadata from a Dataproc Metastore service to BigLake Metastore.",
      "id": "BigLakeMetastoreMigrationConfig",
      "type": "object"
    },
    "Secret": {
      "type": "object",
      "id": "Secret",
      "description": "A securely stored value.",
      "properties": {
        "cloudSecret": {
          "description": "Optional. The relative resource name of a Secret Manager secret version, in the following form:projects/{project_number}/secrets/{secret_id}/versions/{version_id}.",
          "type": "string"
        }
      }
    },
    "Status": {
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "id": "Status"
    },
    "QueryMetadataResponse": {
      "type": "object",
      "id": "QueryMetadataResponse",
      "description": "Response message for DataprocMetastore.QueryMetadata.",
      "properties": {
        "resultManifestUri": {
          "type": "string",
          "description": "The manifest URI is link to a JSON instance in Cloud Storage. This instance manifests immediately along with QueryMetadataResponse. The content of the URI is not retriable until the long-running operation query against the metadata finishes."
        }
      }
    },
    "Service": {
      "id": "Service",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. Identifier. The relative resource name of the metastore service, in the following format:projects/{project_number}/locations/{location_id}/services/{service_id}.",
          "type": "string"
        },
        "networkConfig": {
          "$ref": "NetworkConfig",
          "description": "Optional. The configuration specifying the network settings for the Dataproc Metastore service."
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The globally unique resource identifier of the metastore service."
        },
        "updateTime": {
          "description": "Output only. The time when the metastore service was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "artifactGcsUri": {
          "type": "string",
          "description": "Output only. A Cloud Storage URI (starting with gs://) that specifies where artifacts related to the metastore service are stored.",
          "readOnly": true
        },
        "port": {
          "type": "integer",
          "description": "Optional. The TCP port at which the metastore service is reached. Default: 9083.",
          "format": "int32"
        },
        "endpointUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URI of the endpoint used to access the metastore service."
        },
        "deletionProtection": {
          "type": "boolean",
          "description": "Optional. Indicates if the dataproc metastore should be protected against accidental deletions."
        },
        "tier": {
          "type": "string",
          "description": "Optional. The tier of the service.",
          "enum": [
            "TIER_UNSPECIFIED",
            "DEVELOPER",
            "ENTERPRISE"
          ],
          "enumDescriptions": [
            "The tier is not set.",
            "The developer tier provides limited scalability and no fault tolerance. Good for low-cost proof-of-concept.",
            "The enterprise tier provides multi-zone high availability, and sufficient scalability for enterprise-level Dataproc Metastore workloads."
          ]
        },
        "network": {
          "description": "Immutable. The relative resource name of the VPC network on which the instance can be accessed. It is specified in the following form:projects/{project_number}/global/networks/{network_id}.",
          "type": "string"
        },
        "metadataManagementActivity": {
          "description": "Output only. The metadata management activities of the metastore service.",
          "readOnly": true,
          "$ref": "MetadataManagementActivity"
        },
        "hiveMetastoreConfig": {
          "description": "Configuration information specific to running Hive metastore software as the metastore service.",
          "$ref": "HiveMetastoreConfig"
        },
        "telemetryConfig": {
          "description": "Optional. The configuration specifying telemetry settings for the Dataproc Metastore service. If unspecified defaults to JSON.",
          "$ref": "TelemetryConfig"
        },
        "maintenanceWindow": {
          "description": "Optional. The one hour maintenance window of the metastore service. This specifies when the service can be restarted for maintenance purposes in UTC time. Maintenance window is not needed for services with the SPANNER database type.",
          "$ref": "MaintenanceWindow"
        },
        "releaseChannel": {
          "type": "string",
          "description": "Immutable. The release channel of the service. If unspecified, defaults to STABLE.",
          "enum": [
            "RELEASE_CHANNEL_UNSPECIFIED",
            "CANARY",
            "STABLE"
          ],
          "enumDescriptions": [
            "Release channel is not specified.",
            "The CANARY release channel contains the newest features, which may be unstable and subject to unresolved issues with no known workarounds. Services using the CANARY release channel are not subject to any SLAs.",
            "The STABLE release channel contains features that are considered stable and have been validated for production use."
          ]
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\"",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "scalingConfig": {
          "$ref": "ScalingConfig",
          "description": "Optional. Scaling configuration of the metastore service."
        },
        "databaseType": {
          "enumDescriptions": [
            "The DATABASE_TYPE is not set.",
            "MySQL is used to persist the metastore data.",
            "Spanner is used to persist the metastore data."
          ],
          "type": "string",
          "description": "Immutable. The database type that the Metastore service stores its data.",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "MYSQL",
            "SPANNER"
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the metastore service was created.",
          "readOnly": true,
          "type": "string"
        },
        "scheduledBackup": {
          "$ref": "ScheduledBackup",
          "description": "Optional. The configuration of scheduled backup for the metastore service."
        },
        "encryptionConfig": {
          "description": "Immutable. Information used to configure the Dataproc Metastore service to encrypt customer data at rest. Cannot be updated.",
          "$ref": "EncryptionConfig"
        },
        "stateMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Additional information about the current state of the metastore service, if available."
        },
        "labels": {
          "description": "User-defined labels for the metastore service.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of the metastore service.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "UPDATING",
            "DELETING",
            "ERROR",
            "AUTOSCALING",
            "MIGRATING",
            "PROXY"
          ],
          "enumDescriptions": [
            "The state of the metastore service is unknown.",
            "The metastore service is in the process of being created.",
            "The metastore service is running and ready to serve queries.",
            "The metastore service is entering suspension. Its query-serving availability may cease unexpectedly.",
            "The metastore service is suspended and unable to serve queries.",
            "The metastore service is being updated. It remains usable but cannot accept additional update requests or be deleted at this time.",
            "The metastore service is undergoing deletion. It cannot be used.",
            "The metastore service has encountered an error and cannot be used. The metastore service should be deleted.",
            "The Dataproc Metastore service 2 is being scaled up or down.",
            "The metastore service is processing a managed migration.",
            "The metastore service has completed managed migration and is now proxying requests to the Lakehouse runtime catalog."
          ]
        },
        "metadataIntegration": {
          "$ref": "MetadataIntegration",
          "description": "Optional. The setting that defines how metastore metadata should be integrated with external services and systems."
        }
      },
      "description": "A managed metastore service that serves metadata queries."
    },
    "MoveTableToDatabaseRequest": {
      "type": "object",
      "id": "MoveTableToDatabaseRequest",
      "properties": {
        "destinationDbName": {
          "type": "string",
          "description": "Required. The name of the database where the table should be moved."
        },
        "tableName": {
          "type": "string",
          "description": "Required. The name of the table to be moved."
        },
        "dbName": {
          "description": "Required. The name of the database where the table resides.",
          "type": "string"
        }
      },
      "description": "Request message for DataprocMetastore.MoveTableToDatabase."
    },
    "LocationMetadata": {
      "properties": {
        "customRegionMetadata": {
          "items": {
            "$ref": "CustomRegionMetadata"
          },
          "description": "Deprecated: Use a single region service instead. Possible configurations supported if the current region is a custom region.",
          "type": "array",
          "deprecated": true
        },
        "multiRegionMetadata": {
          "description": "Deprecated: Use a single region service instead. The multi-region metadata if the current region is a multi-region.",
          "$ref": "MultiRegionMetadata",
          "deprecated": true
        },
        "supportedHiveMetastoreVersions": {
          "items": {
            "$ref": "HiveMetastoreVersion"
          },
          "description": "The versions of Hive Metastore that can be used when creating a new metastore service in this location. The server guarantees that exactly one HiveMetastoreVersion in the list will set is_default.",
          "type": "array"
        }
      },
      "id": "LocationMetadata",
      "type": "object",
      "description": "Metadata about the service in a location."
    },
    "HiveConfig": {
      "id": "HiveConfig",
      "properties": {
        "catalog": {
          "description": "Required. The target catalog for migrated databases and tables. Format: \"projects/{project_id_or_number}/catalogs/{catalog_id}\"",
          "type": "string"
        },
        "databases": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The list of databases to migrate to the Hive catalog. Use \"*\" to migrate all databases. Note: If Iceberg tables exist in these databases, they will only be migrated if iceberg_config is also specified."
        }
      },
      "description": "Configuration for migrating Hive metadata.",
      "type": "object"
    },
    "CatalogReport": {
      "type": "object",
      "id": "CatalogReport",
      "properties": {
        "catalog": {
          "type": "string",
          "description": "The name of the catalog (format: projects/*/catalogs/*)."
        },
        "databaseReports": {
          "additionalProperties": {
            "$ref": "DatabaseReport"
          },
          "description": "A map of database names to their respective reports.",
          "type": "object"
        },
        "catalogType": {
          "enumDescriptions": [
            "The catalog type is unspecified.",
            "BigLake Metastore Hive catalog.",
            "BigLake Metastore Iceberg REST catalog."
          ],
          "type": "string",
          "description": "The type of catalog.",
          "enum": [
            "CATALOG_TYPE_UNSPECIFIED",
            "HIVE",
            "ICEBERG"
          ]
        }
      },
      "description": "Aggregated report at the catalog level."
    },
    "TableSummary": {
      "type": "object",
      "id": "TableSummary",
      "description": "Aggregated summary of results for all tables in a database.",
      "properties": {
        "planCounts": {
          "type": "object",
          "description": "Output only. Number of tables with a specific migration plan action. The key is the action name (e.g. CREATE, UPDATE, SKIP, etc.).",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "readOnly": true
        },
        "partitionFailedCount": {
          "readOnly": true,
          "description": "Output only. The total number of partitions that failed to migrate at the target.",
          "type": "string",
          "format": "int64"
        },
        "partitionDiscoveredCount": {
          "type": "string",
          "description": "Output only. Partition migration summary across all Hive tables in the database.The total number of partitions discovered at the source.",
          "readOnly": true,
          "format": "int64"
        },
        "partitionSuccessCount": {
          "description": "Output only. The total number of partitions successfully migrated at the target.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "resultCounts": {
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "readOnly": true,
          "type": "object",
          "description": "Output only. Number of tables with a specific migration result status. The key is the status name (e.g. SUCCEEDED, FAILED, SKIPPED, etc.). This is only set if the migration is not a dry run."
        }
      }
    },
    "AutoscalingConfig": {
      "id": "AutoscalingConfig",
      "properties": {
        "autoscalingEnabled": {
          "type": "boolean",
          "description": "Optional. Whether or not autoscaling is enabled for this service."
        },
        "autoscalingFactor": {
          "format": "float",
          "type": "number",
          "readOnly": true,
          "description": "Output only. The scaling factor of a service with autoscaling enabled."
        },
        "limitConfig": {
          "$ref": "LimitConfig",
          "description": "Optional. The LimitConfig of the service."
        }
      },
      "description": "Represents the autoscaling configuration of a metastore service.",
      "type": "object"
    },
    "ListMetadataImportsResponse": {
      "properties": {
        "metadataImports": {
          "description": "The imports in the specified service.",
          "items": {
            "$ref": "MetadataImport"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "description": "Response message for DataprocMetastore.ListMetadataImports.",
      "id": "ListMetadataImportsResponse",
      "type": "object"
    },
    "MigrationSummary": {
      "properties": {
        "endTime": {
          "description": "Output only. The UTC time when the report was written.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The UTC time when the source metadata read was initiated.",
          "type": "string",
          "readOnly": true
        },
        "dryRun": {
          "type": "boolean",
          "description": "Output only. Whether the migration was a dry run.",
          "readOnly": true
        },
        "catalogSummaries": {
          "items": {
            "$ref": "CatalogSummary"
          },
          "description": "Output only. Summary of results for each catalog involved in the migration.",
          "type": "array",
          "readOnly": true
        },
        "service": {
          "type": "string",
          "description": "Output only. The Dataproc Metastore service name (format: projects/*/locations/*/services/*) on which the migration was executed.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Summary of the migration results.",
      "id": "MigrationSummary"
    },
    "RestoreServiceRequest": {
      "description": "Request message for DataprocMetastore.RestoreService.",
      "properties": {
        "restoreType": {
          "enum": [
            "RESTORE_TYPE_UNSPECIFIED",
            "FULL",
            "METADATA_ONLY"
          ],
          "type": "string",
          "enumDescriptions": [
            "The restore type is unknown.",
            "The service's metadata and configuration are restored.",
            "Only the service's metadata is restored."
          ],
          "description": "Optional. The type of restore. If unspecified, defaults to METADATA_ONLY."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. A request ID. Specify a unique request ID to allow the server to ignore the request if it has completed. The server will ignore subsequent requests that provide a duplicate request ID for at least 60 minutes after the first request.For example, if an initial request times out, followed by another request with the same request ID, the server ignores the second request to prevent the creation of duplicate commitments.The request ID must be a valid UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier#Format). A zero UUID (00000000-0000-0000-0000-000000000000) is not supported."
        },
        "backup": {
          "description": "Optional. The relative resource name of the metastore service backup to restore from, in the following form:projects/{project_id}/locations/{location_id}/services/{service_id}/backups/{backup_id}. Mutually exclusive with backup_location, and exactly one of the two must be set.",
          "type": "string"
        },
        "backupLocation": {
          "description": "Optional. A Cloud Storage URI specifying the location of the backup artifacts, namely - backup avro files under \"avro/\", backup_metastore.json and service.json, in the following form:gs://. Mutually exclusive with backup, and exactly one of the two must be set.",
          "type": "string"
        }
      },
      "id": "RestoreServiceRequest",
      "type": "object"
    },
    "IcebergConfig": {
      "description": "Configuration for migrating Iceberg metadata.",
      "id": "IcebergConfig",
      "type": "object",
      "properties": {
        "catalog": {
          "description": "Required. The target catalog for migrated Iceberg metadata. Format: \"projects/{project_id_or_number}/catalogs/{catalog_id}\"",
          "type": "string"
        },
        "namespaces": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The list of namespaces to migrate to the Iceberg REST catalog. Use \"*\" to migrate all namespaces. Note: If Hive tables exist in these namespaces, they will only be migrated if hive_config is also specified."
        }
      }
    },
    "Binding": {
      "description": "Associates members, or principals, with a role.",
      "id": "Binding",
      "properties": {
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. members can have the following values: allUsers: A special identifier that represents anyone who is on the internet; with or without a Google account. allAuthenticatedUsers: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. user:{emailid}: An email address that represents a specific Google account. For example, alice@example.com . serviceAccount:{emailid}: An email address that represents a Google service account. For example, my-other-app@appspot.gserviceaccount.com. serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]: An identifier for a Kubernetes service account (https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, my-project.svc.id.goog[my-namespace/my-kubernetes-sa]. group:{emailid}: An email address that represents a Google group. For example, admins@example.com. domain:{domain}: The G Suite domain (primary) that represents all the users of that domain. For example, google.com or example.com. principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}: A single identity in a workforce identity pool. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}: All workforce identities in a group. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}: All workforce identities with a specific attribute value. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*: All identities in a workforce identity pool. principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}: A single identity in a workload identity pool. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}: A workload identity pool group. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}: All identities in a workload identity pool with a certain attribute. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*: All identities in a workload identity pool. deleted:user:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a user that has been recently deleted. For example, alice@example.com?uid=123456789012345678901. If the user is recovered, this value reverts to user:{emailid} and the recovered user retains the role in the binding. deleted:serviceAccount:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901. If the service account is undeleted, this value reverts to serviceAccount:{emailid} and the undeleted service account retains the role in the binding. deleted:group:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, admins@example.com?uid=123456789012345678901. If the group is recovered, this value reverts to group:{emailid} and the recovered group retains the role in the binding. deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}: Deleted single identity in a workforce identity pool. For example, deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value."
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of members, or principals. For example, roles/viewer, roles/editor, or roles/owner.For an overview of the IAM roles and permissions, see the IAM documentation (https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see here (https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding.If the condition evaluates to true, then this binding applies to the current request.If the condition evaluates to false, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "type": "object"
    },
    "MetadataManagementActivity": {
      "id": "MetadataManagementActivity",
      "properties": {
        "metadataExports": {
          "items": {
            "$ref": "MetadataExport"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The latest metadata exports of the metastore service."
        },
        "restores": {
          "description": "Output only. The latest restores of the metastore service.",
          "items": {
            "$ref": "Restore"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "description": "The metadata management activities of the metastore service.",
      "type": "object"
    },
    "BackendMetastore": {
      "id": "BackendMetastore",
      "properties": {
        "metastoreType": {
          "enumDescriptions": [
            "The metastore type is not set.",
            "The backend metastore is BigQuery.",
            "The backend metastore is Dataproc Metastore."
          ],
          "description": "The type of the backend metastore.",
          "type": "string",
          "enum": [
            "METASTORE_TYPE_UNSPECIFIED",
            "BIGQUERY",
            "DATAPROC_METASTORE"
          ]
        },
        "name": {
          "description": "The relative resource name of the metastore that is being federated. The formats of the relative resource names for the currently supported metastores are listed below: BigQuery projects/{project_id} Dataproc Metastore projects/{project_id}/locations/{location}/services/{service_id}",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a backend metastore for the federation."
    },
    "AlterMetadataResourceLocationRequest": {
      "id": "AlterMetadataResourceLocationRequest",
      "type": "object",
      "description": "Request message for DataprocMetastore.AlterMetadataResourceLocation.",
      "properties": {
        "resourceName": {
          "description": "Required. The relative metadata resource name in the following format.databases/{database_id} or databases/{database_id}/tables/{table_id} or databases/{database_id}/tables/{table_id}/partitions/{partition_id}",
          "type": "string"
        },
        "locationUri": {
          "description": "Required. The new location URI for the metadata resource.",
          "type": "string"
        }
      }
    },
    "ListMigrationExecutionsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "migrationExecutions": {
          "type": "array",
          "items": {
            "$ref": "MigrationExecution"
          },
          "description": "The migration executions on the specified service."
        }
      },
      "type": "object",
      "id": "ListMigrationExecutionsResponse",
      "description": "Response message for DataprocMetastore.ListMigrationExecutions."
    },
    "TableReport": {
      "id": "TableReport",
      "properties": {
        "partitionDiscoveredCount": {
          "format": "int64",
          "description": "The total number of partitions identified at the source during discovery. This is only relevant for Hive Partitioned tables.",
          "type": "string"
        },
        "partitionReport": {
          "description": "Report containing the results of partition migration for this table. This is only relevant for Hive Partitioned tables.",
          "$ref": "PartitionReport"
        },
        "executionPlan": {
          "description": "The discovered intent for the table (what we found and what we planned).",
          "$ref": "ExecutionPlan"
        },
        "executionResult": {
          "description": "The actual outcome of the table migration.",
          "$ref": "ExecutionResult"
        },
        "table": {
          "type": "string",
          "description": "The name of the table."
        }
      },
      "type": "object",
      "description": "Aggregated report at the table level."
    },
    "ValueDiff": {
      "type": "object",
      "description": "A field-level metadata mismatch for a resource between the source and target.",
      "id": "ValueDiff",
      "properties": {
        "sourceValue": {
          "description": "The value of the field at the source.",
          "type": "string"
        },
        "targetValue": {
          "type": "string",
          "description": "The value of the field at the target."
        }
      }
    },
    "MigrationExecution": {
      "description": "The details of a migration execution resource.",
      "type": "object",
      "id": "MigrationExecution",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The state of the migration execution is unknown.",
            "The migration execution is starting.",
            "The migration execution is running.",
            "The migration execution is in the process of being cancelled.",
            "The migration execution is awaiting user action.",
            "The migration execution has completed successfully.",
            "The migration execution has failed.",
            "The migration execution is cancelled.",
            "The migration execution is being deleted.",
            "The migration execution has been rolled back. This occurs when CancelMigration is invoked after the migration has completed and the metastore service is in the PROXY state, returning the service to the ACTIVE state. This enables rollback support when the customer wants to resume using DPMS after a successful migration."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current state of the migration execution.",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTING",
            "RUNNING",
            "CANCELLING",
            "AWAITING_USER_ACTION",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "DELETING",
            "ROLLED_BACK"
          ]
        },
        "biglakeMetastoreMigrationConfig": {
          "description": "Configuration information specific to migrating from Dataproc Metastore to BigLake Metastore.",
          "$ref": "BigLakeMetastoreMigrationConfig"
        },
        "createTime": {
          "description": "Output only. The time when the migration execution was started.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "phase": {
          "enum": [
            "PHASE_UNSPECIFIED",
            "REPLICATION",
            "CUTOVER"
          ],
          "deprecated": true,
          "enumDescriptions": [
            "The phase of the migration execution is unknown.",
            "Replication phase refers to the migration phase when Dataproc Metastore is running a pipeline to replicate changes in the customer database to its backend database. During this phase, Dataproc Metastore uses the customer database as the hive metastore backend database.",
            "Cutover phase refers to the migration phase when Dataproc Metastore switches to using its own backend database. Migration enters this phase when customer is done migrating all their clusters/workloads to Dataproc Metastore and triggers CompleteMigration."
          ],
          "description": "Output only. Deprecated: Phase was designed for incoming migrations to Dataproc Metastore, not applicable when migrating away from it. The current phase of the migration execution.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The relative resource name of the migration execution, in the following form: projects/{project_number}/locations/{location_id}/services/{service_id}/migrationExecutions/{migration_execution_id}",
          "readOnly": true
        },
        "stateMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Additional information about the current state of the migration execution."
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the migration execution finished.",
          "type": "string"
        }
      }
    },
    "EncryptionConfig": {
      "type": "object",
      "description": "Encryption settings for the service.",
      "properties": {
        "kmsKey": {
          "description": "Optional. The fully qualified customer provided Cloud KMS key name to use for customer data encryption, in the following format:projects/{project_number}/locations/{location_id}/keyRings/{key_ring_id}/cryptoKeys/{crypto_key_id}.",
          "type": "string"
        }
      },
      "id": "EncryptionConfig"
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for TestIamPermissions method.",
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of TestPermissionsRequest.permissions that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "LatestBackup": {
      "id": "LatestBackup",
      "properties": {
        "state": {
          "description": "Output only. The current state of the backup.",
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup is in progress.",
            "The backup completed.",
            "The backup failed."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the backup was started."
        },
        "backupId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of an in-progress scheduled backup. Empty if no backup is in progress."
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "Output only. The duration of the backup completion.",
          "readOnly": true
        }
      },
      "description": "The details of the latest scheduled backup.",
      "type": "object"
    },
    "NetworkConfig": {
      "properties": {
        "consumers": {
          "items": {
            "$ref": "Consumer"
          },
          "type": "array",
          "description": "Immutable. The consumer-side network configuration for the Dataproc Metastore instance."
        }
      },
      "type": "object",
      "id": "NetworkConfig",
      "description": "Network configuration for the Dataproc Metastore service."
    },
    "MoveTableToDatabaseResponse": {
      "description": "Response message for DataprocMetastore.MoveTableToDatabase.",
      "type": "object",
      "id": "MoveTableToDatabaseResponse",
      "properties": {}
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the resource. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used:paths: \"bindings, etag\"",
          "type": "string"
        }
      },
      "id": "SetIamPolicyRequest",
      "type": "object",
      "description": "Request message for SetIamPolicy method."
    },
    "MigrationReport": {
      "id": "MigrationReport",
      "type": "object",
      "properties": {
        "catalogReports": {
          "description": "Output only. Detailed results for each catalog involved in the migration.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "CatalogReport"
          }
        },
        "summary": {
          "readOnly": true,
          "$ref": "MigrationSummary",
          "description": "Output only. High-level summary of the migration results."
        }
      },
      "description": "Report containing the results of a migration run. This report is generated at the specified path in the BigLakeMetastoreMigrationConfig after the backfill is complete, or when a dry run is executed."
    },
    "ErrorDetails": {
      "description": "Error details in public error message for DataprocMetastore.QueryMetadata.",
      "type": "object",
      "id": "ErrorDetails",
      "properties": {
        "details": {
          "description": "Additional structured details about this error.Keys define the failure items. Value describes the exception or details of the item.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "TelemetryConfig": {
      "properties": {
        "logFormat": {
          "description": "Optional. The output format of the Dataproc Metastore service's logs.",
          "enum": [
            "LOG_FORMAT_UNSPECIFIED",
            "LEGACY",
            "JSON"
          ],
          "type": "string",
          "enumDescriptions": [
            "The LOG_FORMAT is not set.",
            "Logging output uses the legacy textPayload format.",
            "Logging output uses the jsonPayload format."
          ]
        }
      },
      "description": "Telemetry Configuration for the Dataproc Metastore service.",
      "type": "object",
      "id": "TelemetryConfig"
    },
    "StatusProto": {
      "type": "object",
      "description": "Wire-format for a Status object",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "Numeric code drawn from the space specified below. Often, this is the canonical error space, and code is drawn from google3/util/task/codes.proto copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 code = 1;"
        },
        "canonicalCode": {
          "description": "copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 canonical_code = 6;",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "Detail message copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional string message = 3;"
        },
        "messageSet": {
          "description": "message_set associates an arbitrary proto message with the status. copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional proto2.bridge.MessageSet message_set = 5;",
          "$ref": "MessageSet"
        },
        "space": {
          "type": "string",
          "description": "copybara:strip_begin(b/383363683) Space to which this status belongs copybara:strip_end_and_replace optional string space = 2; // Space to which this status belongs"
        }
      },
      "id": "StatusProto"
    },
    "MessageSet": {
      "type": "object",
      "description": "This is proto2's version of MessageSet.DEPRECATED: DO NOT USE FOR NEW FIELDS.If you are using editions or proto2, please make your own extendable messages for your use case. If you are using proto3, please use Any instead.MessageSet was the implementation of extensions for proto1. When proto2 was introduced, extensions were implemented as a first-class feature. This schema for MessageSet was meant to be a \"bridge\" solution to migrate MessageSet-bearing messages from proto1 to proto2.This schema has been open-sourced only to facilitate the migration of Google products with MessageSet-bearing messages to open-source environments.",
      "id": "MessageSet",
      "deprecated": true,
      "properties": {}
    },
    "ExecutionPlan": {
      "type": "object",
      "properties": {
        "diffs": {
          "additionalProperties": {
            "$ref": "ValueDiff"
          },
          "type": "object",
          "description": "A map of field names to their respective value diff."
        },
        "action": {
          "enumDescriptions": [
            "The action is unspecified.",
            "Resource missing; will be created.",
            "Resource exists at the target, but differs from the source; will be updated.",
            "Resource exists at the target; no changes will be made.",
            "Resource cannot be migrated due to a dependency failure (e.g., parent resource missing).",
            "Resource cannot be migrated due to an error during discovery."
          ],
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "SKIP",
            "DEPENDENCY_FAILURE",
            "ERROR"
          ],
          "description": "The action that will be taken for a resource during migration."
        },
        "reason": {
          "description": "A human-readable string explaining why the action was chosen.",
          "type": "string"
        }
      },
      "description": "Represents the migration plan for a specific resource (e.g. Database, Table).",
      "id": "ExecutionPlan"
    },
    "HiveMetastoreVersion": {
      "description": "A specification of a supported version of the Hive Metastore software.",
      "properties": {
        "isDefault": {
          "description": "Whether version will be chosen by the server if a metastore service is created with a HiveMetastoreConfig that omits the version.",
          "type": "boolean"
        },
        "version": {
          "description": "The semantic version of the Hive Metastore software.",
          "type": "string"
        }
      },
      "id": "HiveMetastoreVersion",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the resource. Permissions with wildcards (such as * or storage.*) are not allowed. For more information see IAM Overview (https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "description": "Request message for TestIamPermissions method."
    },
    "OperationMetadata": {
      "type": "object",
      "description": "Represents the metadata of a long-running operation.",
      "properties": {
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the caller has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to Code.CANCELLED."
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        }
      },
      "id": "OperationMetadata"
    },
    "ListBackupsResponse": {
      "description": "Response message for DataprocMetastore.ListBackups.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "backups": {
          "type": "array",
          "description": "The backups of the specified service.",
          "items": {
            "$ref": "Backup"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "ListBackupsResponse"
    },
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse"
    },
    "AlterTablePropertiesRequest": {
      "properties": {
        "properties": {
          "description": "A map that describes the desired values to mutate. If update_mask is empty, the properties will not update. Otherwise, the properties only alters the value whose associated paths exist in the update mask",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "tableName": {
          "description": "Required. The name of the table containing the properties you're altering in the following format.databases/{database_id}/tables/{table_id}",
          "type": "string"
        },
        "updateMask": {
          "description": "A field mask that specifies the metadata table properties that are overwritten by the update. Fields specified in the update_mask are relative to the resource (not to the full request). A field is overwritten if it is in the mask.For example, given the target properties: properties { a: 1 b: 2 } And an update properties: properties { a: 2 b: 3 c: 4 } then if the field mask is:paths: \"properties.b\", \"properties.c\"then the result will be: properties { a: 1 b: 3 c: 4 } ",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "description": "Request message for DataprocMetastore.AlterTableProperties.",
      "id": "AlterTablePropertiesRequest",
      "type": "object"
    },
    "Backup": {
      "description": "The details of a backup resource.",
      "type": "object",
      "id": "Backup",
      "properties": {
        "serviceRevision": {
          "description": "Output only. The revision of the service at the time of backup.",
          "$ref": "Service",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of the backup.",
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup is being created.",
            "The backup is being deleted.",
            "The backup is active and ready to use.",
            "The backup failed.",
            "The backup is being restored."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "DELETING",
            "ACTIVE",
            "FAILED",
            "RESTORING"
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the backup was started.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. The description of the backup.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time when the backup finished creating.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Immutable. Identifier. The relative resource name of the backup, in the following form:projects/{project_number}/locations/{location_id}/services/{service_id}/backups/{backup_id}",
          "type": "string"
        },
        "restoringServices": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Services that are restoring from the backup.",
          "type": "array",
          "readOnly": true
        }
      }
    },
    "CustomRegionMetadata": {
      "description": "Deprecated: Use a single region service instead. Metadata about a custom region. This is only populated if the region is a custom region. For single/multi regions, it will be empty.",
      "type": "object",
      "deprecated": true,
      "properties": {
        "requiredReadWriteRegions": {
          "description": "The read-write regions for this custom region.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "optionalReadOnlyRegions": {
          "description": "The read-only regions for this custom region.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "witnessRegion": {
          "type": "string",
          "description": "The Spanner witness region for this custom region."
        }
      },
      "id": "CustomRegionMetadata"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "ScalingConfig": {
      "type": "object",
      "id": "ScalingConfig",
      "description": "Represents the scaling configuration of a metastore service.",
      "properties": {
        "autoscalingConfig": {
          "description": "Optional. The autoscaling configuration.",
          "$ref": "AutoscalingConfig"
        },
        "instanceSize": {
          "enum": [
            "INSTANCE_SIZE_UNSPECIFIED",
            "EXTRA_SMALL",
            "SMALL",
            "MEDIUM",
            "LARGE",
            "EXTRA_LARGE"
          ],
          "description": "An enum of readable instance sizes, with each instance size mapping to a float value (e.g. InstanceSize.EXTRA_SMALL = scaling_factor(0.1))",
          "type": "string",
          "enumDescriptions": [
            "Unspecified instance size",
            "Extra small instance size, maps to a scaling factor of 0.1.",
            "Small instance size, maps to a scaling factor of 0.5.",
            "Medium instance size, maps to a scaling factor of 1.0.",
            "Large instance size, maps to a scaling factor of 3.0.",
            "Extra large instance size, maps to a scaling factor of 6.0."
          ]
        },
        "scalingFactor": {
          "type": "number",
          "description": "Scaling factor, increments of 0.1 for values less than 1.0, and increments of 1.0 for values greater than 1.0.",
          "format": "float"
        }
      }
    },
    "CancelMigrationRequest": {
      "id": "CancelMigrationRequest",
      "description": "Request message for DataprocMetastore.CancelMigration.",
      "type": "object",
      "properties": {}
    },
    "MaintenanceWindow": {
      "description": "Maintenance window. This specifies when Dataproc Metastore may perform system maintenance operation to the service.",
      "id": "MaintenanceWindow",
      "type": "object",
      "properties": {
        "hourOfDay": {
          "description": "Optional. The hour of day (0-23) when the window starts.",
          "format": "int32",
          "type": "integer"
        },
        "dayOfWeek": {
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "Optional. The day of week, when the window starts."
        }
      }
    },
    "Federation": {
      "id": "Federation",
      "type": "object",
      "description": "Represents a federation of multiple backend metastores.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the metastore federation was created.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "description": "User-defined labels for the metastore federation.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "The state of the metastore federation is unknown.",
            "The metastore federation is in the process of being created.",
            "The metastore federation is running and ready to serve queries.",
            "The metastore federation is being updated. It remains usable but cannot accept additional update requests or be deleted at this time.",
            "The metastore federation is undergoing deletion. It cannot be used.",
            "The metastore federation has encountered an error and cannot be used. The metastore federation should be deleted."
          ],
          "readOnly": true,
          "description": "Output only. The current state of the federation."
        },
        "uid": {
          "type": "string",
          "description": "Output only. The globally unique resource identifier of the metastore federation.",
          "readOnly": true
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\"",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The relative resource name of the federation, of the form: projects/{project_number}/locations/{location_id}/federations/{federation_id}`."
        },
        "stateMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information about the current state of the metastore federation, if available."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time when the metastore federation was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "endpointUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The federation endpoint."
        },
        "backendMetastores": {
          "description": "A map from BackendMetastore rank to BackendMetastores from which the federation service serves metadata at query time. The map key represents the order in which BackendMetastores should be evaluated to resolve database names at query time and should be greater than or equal to zero. A BackendMetastore with a lower number will be evaluated before a BackendMetastore with a higher number.",
          "additionalProperties": {
            "$ref": "BackendMetastore"
          },
          "type": "object"
        },
        "version": {
          "type": "string",
          "description": "Immutable. The Apache Hive metastore version of the federation. All backend metastore versions must be compatible with the federation version."
        }
      }
    },
    "DatabaseReport": {
      "type": "object",
      "description": "Aggregated report at the database level.",
      "id": "DatabaseReport",
      "properties": {
        "database": {
          "type": "string",
          "description": "The name of the database."
        },
        "executionResult": {
          "description": "The actual outcome of the database migration.",
          "$ref": "ExecutionResult"
        },
        "executionPlan": {
          "$ref": "ExecutionPlan",
          "description": "The discovered intent for the database (what we found and what we planned)."
        },
        "tableReports": {
          "additionalProperties": {
            "$ref": "TableReport"
          },
          "type": "object",
          "description": "A map of table names to their respective reports."
        }
      }
    },
    "Restore": {
      "properties": {
        "backupLocation": {
          "description": "Optional. A Cloud Storage URI specifying where the backup artifacts are stored, in the format gs:///.",
          "type": "string"
        },
        "startTime": {
          "description": "Output only. The time when the restore started.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "The state of the metadata restore is unknown.",
            "The metadata restore is running.",
            "The metadata restore completed successfully.",
            "The metadata restore failed.",
            "The metadata restore is cancelled."
          ],
          "type": "string",
          "description": "Output only. The current state of the restore."
        },
        "backup": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The relative resource name of the metastore service backup to restore from, in the following form:projects/{project_id}/locations/{location_id}/services/{service_id}/backups/{backup_id}."
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time when the restore ended.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "type": {
          "enumDescriptions": [
            "The restore type is unknown.",
            "The service's metadata and configuration are restored.",
            "Only the service's metadata is restored."
          ],
          "enum": [
            "RESTORE_TYPE_UNSPECIFIED",
            "FULL",
            "METADATA_ONLY"
          ],
          "description": "Output only. The type of restore.",
          "readOnly": true,
          "type": "string"
        },
        "details": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The restore details containing the revision of the service to be restored to, in format of JSON."
        }
      },
      "description": "The details of a metadata restore operation.",
      "id": "Restore",
      "type": "object"
    },
    "PartitionReport": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified.",
            "All partitions migrated successfully at the target.",
            "Some partitions migrated successfully at the target, but others failed.",
            "All partitions failed to migrate at the target."
          ],
          "description": "Output only. The state of the partition migration.",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "PARTIALLY_SUCCEEDED",
            "FAILED"
          ]
        },
        "partitionSuccessCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of partitions successfully migrated at the target."
        },
        "partitionFailedCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of partitions that failed to migrate at the target."
        }
      },
      "description": "Partition migration report for a Hive table.",
      "id": "PartitionReport"
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.A Policy is a collection of bindings. A binding binds one or more members, or principals, to a single role. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A role is a named list of permissions; each role can be an IAM predefined role or a user-created custom role.For some types of Google Cloud resources, a binding can also specify a condition, which is a logical expression that allows access to a resource only if the expression evaluates to true. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).JSON example: { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } YAML example: bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the IAM documentation (https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of members, or principals, with a role. Optionally, may specify a condition that determines how and when the bindings are applied. Each of the bindings must contain at least one principal.The bindings in a Policy can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the bindings grant 50 different roles to user:alice@example.com, and not to any other principal, then you can add another 1,450 principals to the bindings in the Policy.",
          "items": {
            "$ref": "Binding"
          }
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to getIamPolicy, and systems are expected to put that etag in the request to setIamPolicy to ensure that their change will be applied to the same version of the policy.Important: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost."
        },
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy.Valid values are 0, 1, and 3. Requests that specify an invalid value are rejected.Any operation that affects conditional role bindings must specify version 3. This requirement applies to the following operations: Getting a policy that includes a conditional role binding Adding a conditional role binding to a policy Changing a conditional role binding in a policy Removing any role binding, with or without a condition, from a policy that includes conditionsImportant: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "type": "object"
    },
    "ListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets ListOperationsRequest.return_partial_success and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}."
        }
      },
      "type": "object"
    },
    "MetadataImport": {
      "type": "object",
      "id": "MetadataImport",
      "properties": {
        "updateTime": {
          "description": "Output only. The time when the metadata import was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "UPDATING",
            "FAILED"
          ],
          "enumDescriptions": [
            "The state of the metadata import is unknown.",
            "The metadata import is running.",
            "The metadata import completed successfully.",
            "The metadata import is being updated.",
            "The metadata import failed, and attempted metadata changes were rolled back."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current state of the metadata import."
        },
        "name": {
          "description": "Immutable. Identifier. The relative resource name of the metadata import, of the form:projects/{project_number}/locations/{location_id}/services/{service_id}/metadataImports/{metadata_import_id}.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time when the metadata import finished.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The time when the metadata import was started.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "databaseDump": {
          "description": "Immutable. A database dump from a pre-existing metastore's database.",
          "$ref": "DatabaseDump"
        },
        "description": {
          "description": "Optional. The description of the metadata import.",
          "type": "string"
        }
      },
      "description": "A metastore resource that imports metadata."
    },
    "LimitConfig": {
      "description": "Represents the autoscaling limit configuration of a metastore service.",
      "type": "object",
      "properties": {
        "minScalingFactor": {
          "description": "Optional. The lowest scaling factor that the service should be autoscaled to.",
          "format": "float",
          "type": "number"
        },
        "maxScalingFactor": {
          "type": "number",
          "format": "float",
          "description": "Optional. The highest scaling factor that the service should be autoscaled to."
        }
      },
      "id": "LimitConfig"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: \"projects/example-project/locations/us-east1\"",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: \"us-east1\"."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"} ",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "Location"
    },
    "ScheduledBackup": {
      "type": "object",
      "properties": {
        "latestBackup": {
          "description": "Output only. The details of the latest scheduled backup.",
          "readOnly": true,
          "$ref": "LatestBackup"
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the time zone database (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones), e.g. America/Los_Angeles or Africa/Abidjan. If left unspecified, the default is UTC."
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Defines whether the scheduled backup is enabled. The default value is false."
        },
        "backupLocation": {
          "type": "string",
          "description": "Optional. A Cloud Storage URI of a folder, in the format gs:///. A sub-folder containing backup files will be stored below it."
        },
        "nextScheduledTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the next backups execution is scheduled to start."
        },
        "cronSchedule": {
          "type": "string",
          "description": "Optional. The scheduled interval in Cron format, see https://en.wikipedia.org/wiki/Cron The default is empty: scheduled backup is not enabled. Must be specified to enable scheduled backups."
        }
      },
      "id": "ScheduledBackup",
      "description": "This specifies the configuration of scheduled backup."
    },
    "AlterMetadataResourceLocationResponse": {
      "type": "object",
      "description": "Response message for DataprocMetastore.AlterMetadataResourceLocation.",
      "id": "AlterMetadataResourceLocationResponse",
      "properties": {}
    },
    "KerberosConfig": {
      "type": "object",
      "id": "KerberosConfig",
      "properties": {
        "keytab": {
[...]
