{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "documentationLink": "https://cloud.google.com/dataproc-metastore/docs",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "id": "metastore:v1beta",
  "baseUrl": "https://metastore.googleapis.com/",
  "revision": "20260916",
  "mtlsRootUrl": "https://metastore.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "description": "The Dataproc Metastore API is used to manage the lifecycle and configuration of metastore services.",
  "rootUrl": "https://metastore.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "metastore",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1beta",
  "schemas": {
    "MoveTableToDatabaseRequest": {
      "type": "object",
      "id": "MoveTableToDatabaseRequest",
      "properties": {
        "tableName": {
          "type": "string",
          "description": "Required. The name of the table to be moved."
        },
        "dbName": {
          "description": "Required. The name of the database where the table resides.",
          "type": "string"
        },
        "destinationDbName": {
          "type": "string",
          "description": "Required. The name of the database where the table should be moved."
        }
      },
      "description": "Request message for DataprocMetastore.MoveTableToDatabase."
    },
    "MetadataExport": {
      "type": "object",
      "id": "MetadataExport",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The current state of the export.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The state of the metadata export is unknown.",
            "The metadata export is running.",
            "The metadata export completed successfully.",
            "The metadata export failed.",
            "The metadata export is cancelled."
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the export started.",
          "readOnly": true,
          "type": "string"
        },
        "destinationGcsUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A Cloud Storage URI of a folder that metadata are exported to, in the form of gs:////, where is automatically generated."
        },
        "endTime": {
          "description": "Output only. The time when the export ended.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "databaseDumpType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "MYSQL",
            "AVRO"
          ],
          "enumDescriptions": [
            "The type of the database dump is unknown.",
            "Database dump is a MySQL dump file.",
            "Database dump contains Avro files."
          ],
          "description": "Output only. The type of the database dump.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The details of a metadata export operation."
    },
    "NetworkConfig": {
      "type": "object",
      "description": "Network configuration for the Dataproc Metastore service.",
      "id": "NetworkConfig",
      "properties": {
        "consumers": {
          "description": "Immutable. The consumer-side network configuration for the Dataproc Metastore instance.",
          "items": {
            "$ref": "Consumer"
          },
          "type": "array"
        },
        "customRoutesEnabled": {
          "type": "boolean",
          "description": "Optional. Enables custom routes to be imported and exported for the Dataproc Metastore service's peered VPC network."
        }
      }
    },
    "QueryMetadataResponse": {
      "id": "QueryMetadataResponse",
      "properties": {
        "resultManifestUri": {
          "type": "string",
          "description": "The manifest URI is link to a JSON instance in Cloud Storage. This instance manifests immediately along with QueryMetadataResponse. The content of the URI is not retriable until the long-running operation query against the metadata finishes."
        }
      },
      "description": "Response message for DataprocMetastore.QueryMetadata.",
      "type": "object"
    },
    "ExecutionResult": {
      "description": "Represents the actual migration result for a specific resource (e.g. Database, Table).",
      "id": "ExecutionResult",
      "type": "object",
      "properties": {
        "remediation": {
          "description": "Remediation steps for the error if the state is FAILED.",
          "type": "string"
        },
        "errorMessage": {
          "description": "Description of the error if the state is FAILED.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the migration for a resource.",
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified.",
            "The resource was migrated successfully.",
            "The resource failed to migrate.",
            "The resource was skipped and will not be migrated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "SKIPPED"
          ],
          "readOnly": true
        }
      }
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of a long-running operation.",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the caller has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to Code.CANCELLED.",
          "readOnly": true,
          "type": "boolean"
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "OperationMetadata"
    },
    "ListMetadataImportsResponse": {
      "description": "Response message for DataprocMetastore.ListMetadataImports.",
      "id": "ListMetadataImportsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "metadataImports": {
          "items": {
            "$ref": "MetadataImport"
          },
          "description": "The imports in the specified service.",
          "type": "array"
        }
      }
    },
    "StatusProto": {
      "type": "object",
      "properties": {
        "code": {
          "description": "Numeric code drawn from the space specified below. Often, this is the canonical error space, and code is drawn from google3/util/task/codes.proto copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 code = 1;",
          "type": "integer",
          "format": "int32"
        },
        "space": {
          "type": "string",
          "description": "copybara:strip_begin(b/383363683) Space to which this status belongs copybara:strip_end_and_replace optional string space = 2; // Space to which this status belongs"
        },
        "canonicalCode": {
          "description": "copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 canonical_code = 6;",
          "type": "integer",
          "format": "int32"
        },
        "messageSet": {
          "description": "message_set associates an arbitrary proto message with the status. copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional proto2.bridge.MessageSet message_set = 5;",
          "$ref": "MessageSet"
        },
        "message": {
          "description": "Detail message copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional string message = 3;",
          "type": "string"
        }
      },
      "description": "Wire-format for a Status object",
      "id": "StatusProto"
    },
    "TelemetryConfig": {
      "description": "Telemetry Configuration for the Dataproc Metastore service.",
      "properties": {
        "logFormat": {
          "type": "string",
          "enumDescriptions": [
            "The LOG_FORMAT is not set.",
            "Logging output uses the legacy textPayload format.",
            "Logging output uses the jsonPayload format."
          ],
          "description": "Optional. The output format of the Dataproc Metastore service's logs.",
          "enum": [
            "LOG_FORMAT_UNSPECIFIED",
            "LEGACY",
            "JSON"
          ]
        }
      },
      "type": "object",
      "id": "TelemetryConfig"
    },
    "AuxiliaryVersionConfig": {
      "description": "Configuration information for the auxiliary service versions.",
      "properties": {
        "networkConfig": {
          "description": "Output only. The network configuration contains the endpoint URI(s) of the auxiliary Hive metastore service.",
          "readOnly": true,
          "$ref": "NetworkConfig"
        },
        "version": {
          "description": "Optional. The Hive metastore version of the auxiliary service. It must be less than the primary Hive metastore service's version.",
          "type": "string"
        },
        "configOverrides": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. A mapping of Hive metastore configuration key-value pairs to apply to the auxiliary Hive metastore (configured in hive-site.xml) in addition to the primary version's overrides. If keys are present in both the auxiliary version's overrides and the primary version's overrides, the value from the auxiliary version's overrides takes precedence."
        }
      },
      "type": "object",
      "id": "AuxiliaryVersionConfig"
    },
    "MaintenanceWindow": {
      "id": "MaintenanceWindow",
      "properties": {
        "hourOfDay": {
          "description": "Optional. The hour of day (0-23) when the window starts.",
          "format": "int32",
          "type": "integer"
        },
        "dayOfWeek": {
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string",
          "description": "Optional. The day of week, when the window starts."
        }
      },
      "description": "Maintenance window. This specifies when Dataproc Metastore may perform system maintenance operation to the service.",
      "type": "object"
    },
    "Restore": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "The restore type is unknown.",
            "The service's metadata and configuration are restored.",
            "Only the service's metadata is restored."
          ],
          "readOnly": true,
          "enum": [
            "RESTORE_TYPE_UNSPECIFIED",
            "FULL",
            "METADATA_ONLY"
          ],
          "description": "Output only. The type of restore.",
          "type": "string"
        },
        "details": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The restore details containing the revision of the service to be restored to, in format of JSON."
        },
        "startTime": {
          "description": "Output only. The time when the restore started.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "backupLocation": {
          "type": "string",
          "description": "Optional. A Cloud Storage URI specifying where the backup artifacts are stored, in the format gs:///."
        },
        "backup": {
          "readOnly": true,
          "description": "Output only. The relative resource name of the metastore service backup to restore from, in the following form:projects/{project_id}/locations/{location_id}/services/{service_id}/backups/{backup_id}.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The state of the metadata restore is unknown.",
            "The metadata restore is running.",
            "The metadata restore completed successfully.",
            "The metadata restore failed.",
            "The metadata restore is cancelled."
          ],
          "description": "Output only. The current state of the restore.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ]
        },
        "endTime": {
          "description": "Output only. The time when the restore ended.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Restore",
      "description": "The details of a metadata restore operation.",
      "type": "object"
    },
    "Lake": {
      "id": "Lake",
      "description": "Represents a Lake resource",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The Lake resource name. Example: projects/{project_number}/locations/{location_id}/lakes/{lake_id}"
        }
      }
    },
    "EncryptionConfig": {
      "description": "Encryption settings for the service.",
      "id": "EncryptionConfig",
      "type": "object",
      "properties": {
        "kmsKey": {
          "type": "string",
          "description": "Optional. The fully qualified customer provided Cloud KMS key name to use for customer data encryption, in the following format:projects/{project_number}/locations/{location_id}/keyRings/{key_ring_id}/cryptoKeys/{crypto_key_id}."
        },
        "kmsKeys": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of fully qualified customer provided Cloud KMS key names for the multi-regional service. Each key must be in the following format:projects/{project_number}/locations/{location_id}/keyRings/{key_ring_id}/cryptoKeys/{crypto_key_id}.",
          "type": "array"
        }
      }
    },
    "RestoreServiceRequest": {
      "description": "Request message for DataprocMetastore.RestoreService.",
      "properties": {
        "restoreType": {
          "enumDescriptions": [
            "The restore type is unknown.",
            "The service's metadata and configuration are restored.",
            "Only the service's metadata is restored."
          ],
          "enum": [
            "RESTORE_TYPE_UNSPECIFIED",
            "FULL",
            "METADATA_ONLY"
          ],
          "description": "Optional. The type of restore. If unspecified, defaults to METADATA_ONLY.",
          "type": "string"
        },
        "backup": {
          "description": "Optional. The relative resource name of the metastore service backup to restore from, in the following form:projects/{project_id}/locations/{location_id}/services/{service_id}/backups/{backup_id}. Mutually exclusive with backup_location, and exactly one of the two must be set.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. A request ID. Specify a unique request ID to allow the server to ignore the request if it has completed. The server will ignore subsequent requests that provide a duplicate request ID for at least 60 minutes after the first request.For example, if an initial request times out, followed by another request with the same request ID, the server ignores the second request to prevent the creation of duplicate commitments.The request ID must be a valid UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier#Format). A zero UUID (00000000-0000-0000-0000-000000000000) is not supported.",
          "type": "string"
        },
        "backupLocation": {
          "description": "Optional. A Cloud Storage URI specifying the location of the backup artifacts, namely - backup avro files under \"avro/\", backup_metastore.json and service.json, in the following form:gs://. Mutually exclusive with backup, and exactly one of the two must be set.",
          "type": "string"
        }
      },
      "id": "RestoreServiceRequest",
      "type": "object"
    },
    "CustomRegionMetadata": {
      "deprecated": true,
      "properties": {
        "witnessRegion": {
          "type": "string",
          "description": "The Spanner witness region for this custom region."
        },
        "requiredReadWriteRegions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The read-write regions for this custom region."
        },
        "optionalReadOnlyRegions": {
          "description": "The read-only regions for this custom region.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "CustomRegionMetadata",
      "description": "Deprecated: Use a single region service instead. Metadata about a custom region. This is only populated if the region is a custom region. For single/multi regions, it will be empty."
    },
    "CompleteMigrationResponse": {
      "properties": {
        "migrationExecution": {
          "description": "The relative resource name of the migration execution, in the following form:projects/{project_number}/locations/{location_id}/services/{service_id}/migrationExecutions/{migration_execution_id}.",
          "type": "string"
        }
      },
      "id": "CompleteMigrationResponse",
      "type": "object",
      "description": "Response message for DataprocMetastore.CompleteMigration."
    },
    "CompleteMigrationRequest": {
      "id": "CompleteMigrationRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for DataprocMetastore.CompleteMigration."
    },
    "Service": {
      "properties": {
        "hiveMetastoreConfig": {
          "$ref": "HiveMetastoreConfig",
          "description": "Configuration information specific to running Hive metastore software as the metastore service."
        },
        "endpointUri": {
          "description": "Output only. The URI of the endpoint used to access the metastore service.",
          "readOnly": true,
          "type": "string"
        },
        "artifactGcsUri": {
          "description": "Output only. A Cloud Storage URI (starting with gs://) that specifies where artifacts related to the metastore service are stored.",
          "type": "string",
          "readOnly": true
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\""
        },
        "deletionProtection": {
          "description": "Optional. Indicates if the dataproc metastore should be protected against accidental deletions.",
          "type": "boolean"
        },
        "networkConfig": {
          "description": "Optional. The configuration specifying the network settings for the Dataproc Metastore service.",
          "$ref": "NetworkConfig"
        },
        "port": {
          "type": "integer",
          "description": "Optional. The TCP port at which the metastore service is reached. Default: 9083.",
          "format": "int32"
        },
        "scalingConfig": {
          "$ref": "ScalingConfig",
          "description": "Optional. Scaling configuration of the metastore service."
        },
        "scheduledBackup": {
          "$ref": "ScheduledBackup",
          "description": "Optional. The configuration of scheduled backup for the metastore service."
        },
        "multiRegionConfig": {
          "description": "Optional. Deprecated: Use a single region service instead. Specifies the multi-region configuration information for the Hive metastore service.",
          "$ref": "MultiRegionConfig",
          "deprecated": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "UPDATING",
            "DELETING",
            "ERROR",
            "AUTOSCALING",
            "MIGRATING",
            "PROXY"
          ],
          "type": "string",
          "enumDescriptions": [
            "The state of the metastore service is unknown.",
            "The metastore service is in the process of being created.",
            "The metastore service is running and ready to serve queries.",
            "The metastore service is entering suspension. Its query-serving availability may cease unexpectedly.",
            "The metastore service is suspended and unable to serve queries.",
            "The metastore service is being updated. It remains usable but cannot accept additional update requests or be deleted at this time.",
            "The metastore service is undergoing deletion. It cannot be used.",
            "The metastore service has encountered an error and cannot be used. The metastore service should be deleted.",
            "The Dataproc Metastore service 2 is being scaled up or down.",
            "The metastore service is processing a managed migration.",
            "The metastore service has completed managed migration and is now proxying requests to the Lakehouse runtime catalog."
          ],
          "description": "Output only. The current state of the metastore service.",
          "readOnly": true
        },
        "metadataManagementActivity": {
          "description": "Output only. The metadata management activities of the metastore service.",
          "$ref": "MetadataManagementActivity",
          "readOnly": true
        },
        "databaseType": {
          "type": "string",
          "enumDescriptions": [
            "The DATABASE_TYPE is not set.",
            "MySQL is used to persist the metastore data.",
            "Spanner is used to persist the metastore data."
          ],
          "description": "Immutable. The database type that the Metastore service stores its data.",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "MYSQL",
            "SPANNER"
          ]
        },
        "labels": {
          "description": "User-defined labels for the metastore service.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "releaseChannel": {
          "enum": [
            "RELEASE_CHANNEL_UNSPECIFIED",
            "CANARY",
            "STABLE"
          ],
          "enumDescriptions": [
            "Release channel is not specified.",
            "The CANARY release channel contains the newest features, which may be unstable and subject to unresolved issues with no known workarounds. Services using the CANARY release channel are not subject to any SLAs.",
            "The STABLE release channel contains features that are considered stable and have been validated for production use."
          ],
          "description": "Immutable. The release channel of the service. If unspecified, defaults to STABLE.",
          "type": "string"
        },
        "encryptionConfig": {
          "description": "Immutable. Information used to configure the Dataproc Metastore service to encrypt customer data at rest. Cannot be updated.",
          "$ref": "EncryptionConfig"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time when the metastore service was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "maintenanceWindow": {
          "$ref": "MaintenanceWindow",
          "description": "Optional. The one hour maintenance window of the metastore service. This specifies when the service can be restarted for maintenance purposes in UTC time. Maintenance window is not needed for services with the SPANNER database type."
        },
        "telemetryConfig": {
          "description": "Optional. The configuration specifying telemetry settings for the Dataproc Metastore service. If unspecified defaults to JSON.",
          "$ref": "TelemetryConfig"
        },
        "metadataIntegration": {
          "description": "Optional. The setting that defines how metastore metadata should be integrated with external services and systems.",
          "$ref": "MetadataIntegration"
        },
        "network": {
          "description": "Immutable. The relative resource name of the VPC network on which the instance can be accessed. It is specified in the following form:projects/{project_number}/global/networks/{network_id}.",
          "type": "string"
        },
        "stateMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information about the current state of the metastore service, if available."
        },
        "uid": {
          "type": "string",
          "description": "Output only. The globally unique resource identifier of the metastore service.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The relative resource name of the metastore service, in the following format:projects/{project_number}/locations/{location_id}/services/{service_id}."
        },
        "lakehouseProxyConfig": {
          "readOnly": true,
          "description": "Output only. The Lakehouse proxy routing configuration for the metastore service.",
          "$ref": "LakehouseProxyConfig"
        },
        "createTime": {
          "description": "Output only. The time when the metastore service was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "tier": {
          "enum": [
            "TIER_UNSPECIFIED",
            "DEVELOPER",
            "ENTERPRISE"
          ],
          "enumDescriptions": [
            "The tier is not set.",
            "The developer tier provides limited scalability and no fault tolerance. Good for low-cost proof-of-concept.",
            "The enterprise tier provides multi-zone high availability, and sufficient scalability for enterprise-level Dataproc Metastore workloads."
          ],
          "description": "Optional. The tier of the service.",
          "type": "string"
        }
      },
      "id": "Service",
      "type": "object",
      "description": "A managed metastore service that serves metadata queries."
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "description": "Request message for SetIamPolicy method.",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the resource. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used:paths: \"bindings, etag\"",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "id": "SetIamPolicyRequest"
    },
    "DatabaseDump": {
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "MYSQL",
            "AVRO"
          ],
          "description": "Optional. The type of the database dump. If unspecified, defaults to MYSQL.",
          "type": "string",
          "enumDescriptions": [
            "The type of the database dump is unknown.",
            "Database dump is a MySQL dump file.",
            "Database dump contains Avro files."
          ]
        },
        "sourceDatabase": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. The name of the source database."
        },
        "databaseType": {
          "description": "The type of the database.",
          "enumDescriptions": [
            "The type of the source database is unknown.",
            "The type of the source database is MySQL."
          ],
          "deprecated": true,
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "MYSQL"
          ],
          "type": "string"
        },
        "gcsUri": {
          "description": "Optional. A Cloud Storage object or folder URI that specifies the source from which to import metadata. It must begin with gs://.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A specification of the location of and metadata about a database dump from a relational database management system.",
      "id": "DatabaseDump"
    },
    "MigrationSummary": {
      "id": "MigrationSummary",
      "properties": {
        "dryRun": {
          "description": "Output only. Whether the migration was a dry run.",
          "type": "boolean",
          "readOnly": true
        },
        "service": {
          "readOnly": true,
          "description": "Output only. The Dataproc Metastore service name (format: projects/*/locations/*/services/*) on which the migration was executed.",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The UTC time when the report was written.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The UTC time when the source metadata read was initiated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "catalogSummaries": {
          "readOnly": true,
          "description": "Output only. Summary of results for each catalog involved in the migration.",
          "type": "array",
          "items": {
            "$ref": "CatalogSummary"
          }
        }
      },
      "description": "Summary of the migration results.",
      "type": "object"
    },
    "HiveMetastoreConfig": {
      "description": "Specifies configuration information specific to running Hive metastore software as the metastore service.",
      "id": "HiveMetastoreConfig",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "Immutable. The Hive metastore schema version."
        },
        "kerberosConfig": {
          "$ref": "KerberosConfig",
          "description": "Optional. Information used to configure the Hive metastore service as a service principal in a Kerberos realm. To disable Kerberos, use the UpdateService method and specify this field's path (hive_metastore_config.kerberos_config) in the request's update_mask while omitting this field from the request's service."
        },
        "configOverrides": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A mapping of Hive metastore configuration key-value pairs to apply to the Hive metastore (configured in hive-site.xml). The mappings override system defaults (some keys cannot be overridden). These overrides are also applied to auxiliary versions and can be further customized in the auxiliary version's AuxiliaryVersionConfig."
        },
        "endpointProtocol": {
          "type": "string",
          "description": "Optional. The protocol to use for the metastore service endpoint. If unspecified, defaults to THRIFT.",
          "enum": [
            "ENDPOINT_PROTOCOL_UNSPECIFIED",
            "THRIFT",
            "GRPC"
          ],
          "enumDescriptions": [
            "The protocol is not set.",
            "Use the legacy Apache Thrift protocol for the metastore service endpoint.",
            "Use the modernized gRPC protocol for the metastore service endpoint."
          ]
        },
        "auxiliaryVersions": {
          "additionalProperties": {
            "$ref": "AuxiliaryVersionConfig"
          },
          "type": "object",
          "description": "Optional. A mapping of Hive metastore version to the auxiliary version configuration. When specified, a secondary Hive metastore service is created along with the primary service. All auxiliary versions must be less than the service's primary version. The key is the auxiliary service name and it must match the regular expression a-z?. This means that the first character must be a lowercase letter, and all the following characters must be hyphens, lowercase letters, or digits, except the last character, which cannot be a hyphen."
        }
      }
    },
    "AuditConfig": {
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs.If there are AuditConfigs for both allServices and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted.Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, storage.googleapis.com, cloudsql.googleapis.com. allServices is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        }
      },
      "id": "AuditConfig"
    },
    "ExecutionPlan": {
      "description": "Represents the migration plan for a specific resource (e.g. Database, Table).",
      "id": "ExecutionPlan",
      "properties": {
        "diffs": {
          "description": "A map of field names to their respective value diff.",
          "additionalProperties": {
            "$ref": "ValueDiff"
          },
          "type": "object"
        },
        "reason": {
          "type": "string",
          "description": "A human-readable string explaining why the action was chosen."
        },
        "action": {
          "enum": [
            "ACTION_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "SKIP",
            "DEPENDENCY_FAILURE",
            "ERROR"
          ],
          "description": "The action that will be taken for a resource during migration.",
          "type": "string",
          "enumDescriptions": [
            "The action is unspecified.",
            "Resource missing; will be created.",
            "Resource exists at the target, but differs from the source; will be updated.",
            "Resource exists at the target; no changes will be made.",
            "Resource cannot be migrated due to a dependency failure (e.g., parent resource missing).",
            "Resource cannot be migrated due to an error during discovery."
          ]
        }
      },
      "type": "object"
    },
    "MultiRegionConfig": {
      "id": "MultiRegionConfig",
      "deprecated": true,
      "type": "object",
      "properties": {
        "customRegionConfig": {
          "description": "Immutable. Deprecated: Use a single region service instead.",
          "$ref": "CustomRegionConfig",
          "deprecated": true
        },
        "certificates": {
          "type": "array",
          "items": {
            "$ref": "RootCACertificate"
          },
          "readOnly": true,
          "description": "Output only. Deprecated: Use a single region service instead. The list of root CA certificates that a gRPC client uses to connect to a multi-regional Dataproc Metastore service.",
          "deprecated": true
        }
      },
      "description": "Deprecated: Use a single region service instead. The multi-region config for the Dataproc Metastore service."
    },
    "LakehouseProxyConfig": {
      "properties": {
        "catalog": {
          "description": "Output only. The Lakehouse Iceberg REST Catalog where requests are being proxied to. Format: projects/{project_id_or_number}/catalogs/{catalog_id}.",
          "readOnly": true,
          "type": "string"
        },
        "namespaces": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The list of namespaces currently proxied to the Lakehouse catalog. As each migration batch completes, newly migrated namespaces are added to this list.",
          "readOnly": true
        }
      },
      "description": "Configuration for Dataproc Metastore to Lakehouse proxy routing.In a phased migration, namespaces are migrated from Dataproc Metastore to a Lakehouse Iceberg REST Catalog in batches. Between and after migration phases, the metastore service operates in PROXY state where requests for migrated namespaces are forwarded to the Lakehouse catalog while unmigrated namespaces continue to be served locally by DPMS.",
      "type": "object",
      "id": "LakehouseProxyConfig"
    },
    "KerberosConfig": {
      "description": "Configuration information for a Kerberos principal.",
      "properties": {
        "keytab": {
          "description": "Optional. A Kerberos keytab file that can be used to authenticate a service principal with a Kerberos Key Distribution Center (KDC).",
          "$ref": "Secret"
        },
        "principal": {
          "description": "Optional. A Kerberos principal that exists in the both the keytab the KDC to authenticate as. A typical principal is of the form primary/instance@REALM, but there is no exact format.",
          "type": "string"
        },
        "krb5ConfigGcsUri": {
          "description": "Optional. A Cloud Storage URI that specifies the path to a krb5.conf file. It is of the form gs://{bucket_name}/path/to/krb5.conf, although the file does not need to be named krb5.conf explicitly.",
          "type": "string"
        }
      },
      "id": "KerberosConfig",
      "type": "object"
    },
    "AlterTablePropertiesRequest": {
      "description": "Request message for DataprocMetastore.AlterTableProperties.",
      "properties": {
        "properties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map that describes the desired values to mutate. If update_mask is empty, the properties will not update. Otherwise, the properties only alters the value whose associated paths exist in the update mask"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "A field mask that specifies the metadata table properties that are overwritten by the update. Fields specified in the update_mask are relative to the resource (not to the full request). A field is overwritten if it is in the mask.For example, given the target properties: properties { a: 1 b: 2 } And an update properties: properties { a: 2 b: 3 c: 4 } then if the field mask is:paths: \"properties.b\", \"properties.c\"then the result will be: properties { a: 1 b: 3 c: 4 } "
        },
        "tableName": {
          "description": "Required. The name of the table containing the properties you're altering in the following format.databases/{database_id}/tables/{table_id}",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AlterTablePropertiesRequest"
    },
    "Consumer": {
      "properties": {
        "subnetwork": {
          "description": "Immutable. The subnetwork of the customer project from which an IP address is reserved and used as the Dataproc Metastore service's endpoint. It is accessible to hosts in the subnet and to all hosts in a subnet in the same region and same network. There must be at least one IP address available in the subnet's primary range. The subnet is specified in the following form:projects/{project_number}/regions/{region_id}/subnetworks/{subnetwork_id}",
          "type": "string"
        },
        "endpointUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The URI of the endpoint used to access the metastore service."
        },
        "endpointLocation": {
          "type": "string",
          "description": "Output only. The location of the endpoint URI. Format: projects/{project}/locations/{location}.",
          "readOnly": true
        }
      },
      "description": "Contains information of the customer's network configurations.",
      "id": "Consumer",
      "type": "object"
    },
    "LimitConfig": {
      "type": "object",
      "properties": {
        "minScalingFactor": {
          "type": "number",
          "format": "float",
          "description": "Optional. The lowest scaling factor that the service should be autoscaled to."
        },
        "maxScalingFactor": {
          "format": "float",
          "type": "number",
          "description": "Optional. The highest scaling factor that the service should be autoscaled to."
        }
      },
      "id": "LimitConfig",
      "description": "Represents the autoscaling limit configuration of a metastore service."
    },
    "ValueDiff": {
      "description": "A field-level metadata mismatch for a resource between the source and target.",
      "properties": {
        "sourceValue": {
          "type": "string",
          "description": "The value of the field at the source."
        },
        "targetValue": {
          "description": "The value of the field at the target.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ValueDiff"
    },
    "BackfillStatus": {
      "type": "object",
      "id": "BackfillStatus",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The current state of the backfill (or dry run).",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The backfill state is unspecified.",
            "Waiting to start.",
            "Backfill in progress.",
            "Backfill complete, report is available",
            "Backfill failed; check report for details"
          ]
        },
        "reportPath": {
          "readOnly": true,
          "description": "Output only. The Cloud Storage path where the backfill or dry run report is written. Format: \"gs://path-to-report\".",
          "type": "string"
        },
        "migrationSummary": {
          "description": "Output only. Summary of the migration results. This is populated after the backfill or dry run is finished.",
          "$ref": "MigrationSummary",
          "readOnly": true
        }
      },
      "description": "Backfill status for the migration execution."
    },
    "RootCACertificate": {
      "type": "object",
      "id": "RootCACertificate",
      "deprecated": true,
      "description": "Deprecated: Use a single region service instead. A gRPC client must install all root CA certificates to connect to a multi-regional Dataproc Metastore service and achieve failover.",
      "properties": {
        "certificate": {
          "description": "Deprecated: Use a single region service instead. The root CA certificate in PEM format. The maximum length is 65536 bytes.",
          "type": "string",
          "deprecated": true
        },
        "expirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Deprecated: Use a single region service instead. The certificate expiration time in timestamp format.",
          "deprecated": true
        }
      }
    },
    "RemoveIamPolicyRequest": {
      "type": "object",
      "properties": {
        "asynchronous": {
          "type": "boolean",
          "description": "Optional. Removes IAM policy attached to database or table asynchronously when it is set. The default is false."
        }
      },
      "id": "RemoveIamPolicyRequest",
      "description": "Request message for DataprocMetastore.RemoveIamPolicy."
    },
    "ListFederationsResponse": {
      "id": "ListFederationsResponse",
      "description": "Response message for ListFederations",
      "type": "object",
      "properties": {
        "federations": {
          "items": {
            "$ref": "Federation"
          },
          "type": "array",
          "description": "The services in the specified location."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the resource. Permissions with wildcards (such as * or storage.*) are not allowed. For more information see IAM Overview (https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Request message for TestIamPermissions method.",
      "id": "TestIamPermissionsRequest"
    },
    "Location": {
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: \"projects/example-project/locations/us-east1\"",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"} ",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: \"us-east1\"."
        }
      },
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets ListOperationsRequest.return_partial_success and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListOperationsResponse"
    },
    "CancelMigrationRequest": {
      "description": "Request message for DataprocMetastore.CancelMigration.",
      "properties": {},
      "id": "CancelMigrationRequest",
      "type": "object"
    },
    "ExportMetadataRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. A request ID. Specify a unique request ID to allow the server to ignore the request if it has completed. The server will ignore subsequent requests that provide a duplicate request ID for at least 60 minutes after the first request.For example, if an initial request times out, followed by another request with the same request ID, the server ignores the second request to prevent the creation of duplicate commitments.The request ID must be a valid UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier#Format). A zero UUID (00000000-0000-0000-0000-000000000000) is not supported."
        },
        "destinationGcsFolder": {
          "description": "A Cloud Storage URI of a folder, in the format gs:///. A sub-folder containing exported files will be created below it.",
          "type": "string"
        },
        "databaseDumpType": {
          "enumDescriptions": [
            "The type of the database dump is unknown.",
            "Database dump is a MySQL dump file.",
            "Database dump contains Avro files."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MYSQL",
            "AVRO"
          ],
          "description": "Optional. The type of the database dump. If unspecified, defaults to MYSQL."
        }
      },
      "type": "object",
      "description": "Request message for DataprocMetastore.ExportMetadata.",
      "id": "ExportMetadataRequest"
    },
    "ListMigrationExecutionsResponse": {
      "id": "ListMigrationExecutionsResponse",
      "description": "Response message for DataprocMetastore.ListMigrationExecutions.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "migrationExecutions": {
          "items": {
            "$ref": "MigrationExecution"
          },
          "type": "array",
          "description": "The migration executions on the specified service."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "CustomRegionConfig": {
      "type": "object",
      "properties": {
        "readWriteRegions": {
          "description": "Required. The list of read-write regions where the metastore service runs in. These regions should be part (or subset) of the multi-region.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "readOnlyRegions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of read-only regions where the metastore service runs in. These regions should be part (or subset) of the multi-region."
        }
      },
      "deprecated": true,
      "description": "Deprecated: Use a single region service instead. Custom configuration used to specify regions that the metastore service runs in. Currently only supported in the us multi-region.",
      "id": "CustomRegionConfig"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "id": "Empty"
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec.Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MetadataIntegration": {
      "description": "Specifies how metastore metadata should be integrated with external services.",
      "type": "object",
      "id": "MetadataIntegration",
      "properties": {
        "dataCatalogConfig": {
          "$ref": "DataCatalogConfig",
          "description": "Optional. The integration config for the Data Catalog service."
        },
        "dataplexConfig": {
          "description": "Optional. The integration config for the Dataplex service.",
          "$ref": "DataplexConfig"
        }
      }
    },
    "Backup": {
      "description": "The details of a backup resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. Identifier. The relative resource name of the backup, in the following form:projects/{project_number}/locations/{location_id}/services/{service_id}/backups/{backup_id}",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup is being created.",
            "The backup is being deleted.",
            "The backup is active and ready to use.",
            "The backup failed.",
            "The backup is being restored."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "DELETING",
            "ACTIVE",
            "FAILED",
            "RESTORING"
          ],
          "description": "Output only. The current state of the backup."
        },
        "serviceRevision": {
          "$ref": "Service",
          "description": "Output only. The revision of the service at the time of backup.",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the backup finished creating."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the backup was started.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "restoringServices": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Services that are restoring from the backup."
        },
        "description": {
          "description": "Optional. The description of the backup.",
          "type": "string"
        }
      },
      "id": "Backup"
    },
    "ListBackupsResponse": {
      "id": "ListBackupsResponse",
      "type": "object",
      "description": "Response message for DataprocMetastore.ListBackups.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "backups": {
          "description": "The backups of the specified service.",
          "items": {
            "$ref": "Backup"
          },
          "type": "array"
        }
      }
    },
    "QueryMetadataRequest": {
      "type": "object",
      "id": "QueryMetadataRequest",
      "description": "Request message for DataprocMetastore.QueryMetadata.",
      "properties": {
        "query": {
          "type": "string",
          "description": "Required. A read-only SQL query to execute against the metadata database. The query cannot change or mutate the data."
        }
      }
    },
    "DatabaseSummary": {
      "properties": {
        "resultStatus": {
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified.",
            "The resource was migrated successfully.",
            "The resource failed to migrate.",
            "The resource was skipped and will not be migrated."
          ],
          "description": "Output only. The migration result status for the database. This is only set if the migration is not a dry run.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "SKIPPED"
          ]
        },
        "planAction": {
          "enum": [
            "ACTION_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "SKIP",
            "DEPENDENCY_FAILURE",
            "ERROR"
          ],
          "description": "Output only. The migration plan action for the database.",
          "enumDescriptions": [
            "The action is unspecified.",
            "Resource missing; will be created.",
            "Resource exists at the target, but differs from the source; will be updated.",
            "Resource exists at the target; no changes will be made.",
            "Resource cannot be migrated due to a dependency failure (e.g., parent resource missing).",
            "Resource cannot be migrated due to an error during discovery."
          ],
          "type": "string",
          "readOnly": true
        },
        "tableSummary": {
          "$ref": "TableSummary",
          "readOnly": true,
          "description": "Output only. Aggregated summary of results for all tables in the database."
        },
        "database": {
          "description": "Output only. The name of the database.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "DatabaseSummary",
      "description": "Summary of results for a specific database in a catalog.",
      "type": "object"
    },
    "DatabaseReport": {
      "type": "object",
      "id": "DatabaseReport",
      "description": "Aggregated report at the database level.",
      "properties": {
        "database": {
          "type": "string",
          "description": "The name of the database."
        },
        "executionPlan": {
          "$ref": "ExecutionPlan",
          "description": "The discovered intent for the database (what we found and what we planned)."
        },
        "executionResult": {
          "$ref": "ExecutionResult",
          "description": "The actual outcome of the database migration."
        },
        "tableReports": {
          "additionalProperties": {
            "$ref": "TableReport"
          },
          "description": "A map of table names to their respective reports.",
          "type": "object"
        }
      }
    },
    "MoveTableToDatabaseResponse": {
      "description": "Response message for DataprocMetastore.MoveTableToDatabase.",
      "id": "MoveTableToDatabaseResponse",
      "properties": {},
      "type": "object"
    },
    "MessageSet": {
      "description": "This is proto2's version of MessageSet.DEPRECATED: DO NOT USE FOR NEW FIELDS.If you are using editions or proto2, please make your own extendable messages for your use case. If you are using proto3, please use Any instead.MessageSet was the implementation of extensions for proto1. When proto2 was introduced, extensions were implemented as a first-class feature. This schema for MessageSet was meant to be a \"bridge\" solution to migrate MessageSet-bearing messages from proto1 to proto2.This schema has been open-sourced only to facilitate the migration of Google products with MessageSet-bearing messages to open-source environments.",
      "properties": {},
      "type": "object",
      "deprecated": true,
      "id": "MessageSet"
    },
    "MigrationExecution": {
      "type": "object",
      "id": "MigrationExecution",
      "description": "The details of a migration execution resource.",
      "properties": {
        "stateMessage": {
          "description": "Output only. Additional information about the current state of the migration execution.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the migration execution was started."
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time when the migration execution finished.",
          "format": "google-datetime",
          "type": "string"
        },
        "biglakeMetastoreMigrationConfig": {
          "$ref": "BigLakeMetastoreMigrationConfig",
          "description": "Configuration information specific to migrating from Dataproc Metastore to BigLake Metastore."
        },
        "phase": {
          "readOnly": true,
          "enumDescriptions": [
            "The phase of the migration execution is unknown.",
            "Replication phase refers to the migration phase when Dataproc Metastore is running a pipeline to replicate changes in the customer database to its backend database. During this phase, Dataproc Metastore uses the customer database as the hive metastore backend database.",
            "Cutover phase refers to the migration phase when Dataproc Metastore switches to using its own backend database. Migration enters this phase when customer is done migrating all their clusters/workloads to Dataproc Metastore and triggers CompleteMigration."
          ],
          "type": "string",
          "enum": [
            "PHASE_UNSPECIFIED",
            "REPLICATION",
            "CUTOVER"
          ],
          "deprecated": true,
          "description": "Output only. Deprecated: Phase was designed for incoming migrations to Dataproc Metastore, not applicable when migrating away from it. The current phase of the migration execution."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTING",
            "RUNNING",
            "CANCELLING",
            "AWAITING_USER_ACTION",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "DELETING",
            "ROLLED_BACK"
          ],
          "description": "Output only. The current state of the migration execution.",
          "enumDescriptions": [
            "The state of the migration execution is unknown.",
            "The migration execution is starting.",
            "The migration execution is running.",
            "The migration execution is in the process of being cancelled.",
            "The migration execution is awaiting user action.",
            "The migration execution has completed successfully.",
            "The migration execution has failed.",
            "The migration execution is cancelled.",
            "The migration execution is being deleted.",
            "The migration execution has been rolled back. This occurs when CancelMigration is invoked after the migration has completed and the metastore service is in the PROXY state, returning the service to the ACTIVE state. This enables rollback support when the customer wants to resume using DPMS after a successful migration."
          ],
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The relative resource name of the migration execution, in the following form: projects/{project_number}/locations/{location_id}/services/{service_id}/migrationExecutions/{migration_execution_id}"
        }
      }
    },
    "ErrorDetails": {
      "id": "ErrorDetails",
      "type": "object",
      "properties": {
        "details": {
          "type": "object",
          "description": "Additional structured details about this error.Keys define the failure items. Value describes the exception or details of the item.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Error details in public error message for DataprocMetastore.QueryMetadata."
    },
    "HiveMetastoreVersion": {
      "description": "A specification of a supported version of the Hive Metastore software.",
      "id": "HiveMetastoreVersion",
      "properties": {
        "isDefault": {
          "type": "boolean",
          "description": "Whether version will be chosen by the server if a metastore service is created with a HiveMetastoreConfig that omits the version."
        },
        "version": {
          "description": "The semantic version of the Hive Metastore software.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AlterMetadataResourceLocationRequest": {
      "id": "AlterMetadataResourceLocationRequest",
      "type": "object",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Required. The relative metadata resource name in the following format.databases/{database_id} or databases/{database_id}/tables/{table_id} or databases/{database_id}/tables/{table_id}/partitions/{partition_id}"
        },
        "locationUri": {
          "type": "string",
          "description": "Required. The new location URI for the metadata resource."
        }
      },
      "description": "Request message for DataprocMetastore.AlterMetadataResourceLocation."
    },
    "IcebergConfig": {
      "properties": {
        "catalog": {
          "description": "Required. The target catalog for migrated Iceberg metadata. Format: \"projects/{project_id_or_number}/catalogs/{catalog_id}\"",
          "type": "string"
        },
        "namespaces": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The list of namespaces to migrate to the Iceberg REST catalog. Use \"*\" to migrate all namespaces. Note: If Hive tables exist in these namespaces, they will only be migrated if hive_config is also specified."
        }
      },
      "id": "IcebergConfig",
      "type": "object",
      "description": "Configuration for migrating Iceberg metadata."
    },
    "ListServicesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "services": {
          "description": "The services in the specified location.",
          "type": "array",
          "items": {
            "$ref": "Service"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response message for DataprocMetastore.ListServices.",
      "id": "ListServicesResponse"
    },
    "MultiRegionMetadata": {
      "properties": {
        "witnessRegion": {
          "description": "The Spanner witness region for this multi-region.",
          "type": "string"
        },
        "continent": {
          "description": "The continent for this multi-region.",
          "type": "string"
        },
        "constituentRegions": {
          "description": "The regions constituting the multi-region.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "MultiRegionMetadata",
      "deprecated": true,
      "description": "Deprecated: Use a single region service instead. The metadata for the multi-region that includes the constituent regions. The metadata is only populated if the region is multi-region. For single region or custom dual region, it will be empty."
    },
    "AlterMetadataResourceLocationResponse": {
      "id": "AlterMetadataResourceLocationResponse",
      "properties": {},
      "type": "object",
      "description": "Response message for DataprocMetastore.AlterMetadataResourceLocation."
    },
    "CatalogSummary": {
      "description": "Summary of results for a specific destination catalog.",
      "properties": {
        "catalog": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The catalog resource name (format: projects/*/catalogs/*)."
        },
        "catalogType": {
          "type": "string",
          "enum": [
            "CATALOG_TYPE_UNSPECIFIED",
            "HIVE",
            "ICEBERG"
          ],
          "enumDescriptions": [
            "The catalog type is unspecified.",
            "BigLake Metastore Hive catalog.",
            "BigLake Metastore Iceberg REST catalog."
          ],
          "readOnly": true,
          "description": "Output only. The type of the catalog."
        },
        "databaseSummaries": {
          "readOnly": true,
          "description": "Output only. Summary of results for each database in the catalog.",
          "type": "array",
          "items": {
            "$ref": "DatabaseSummary"
          }
        }
      },
      "id": "CatalogSummary",
      "type": "object"
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "properties": {
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "type": "string"
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      },
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "BigLakeMetastoreMigrationConfig": {
      "properties": {
        "backfillStatus": {
          "$ref": "BackfillStatus",
          "description": "Output only. ",
          "readOnly": true
        },
        "mode": {
          "enumDescriptions": [
            "The migration mode is unspecified.",
            "Performs the metadata migration of requested resources. The migration completes once the backfill is finished.",
            "Performs the initial backfill, then transitions to an incremental synchronization state to replicate ongoing source writes. Requires an explicit CompleteMigration or CancelMigration call to end the migration. Note: Supported only for Iceberg migrations."
          ],
          "type": "string",
          "description": "Required. Defines the behavior of the migration execution.",
          "enum": [
            "MIGRATION_MODE_UNSPECIFIED",
            "BACKFILL",
            "INCREMENTAL_SYNC"
          ]
        },
        "hiveConfig": {
          "description": "Optional. At least one of hive_config or iceberg_config must be provided, otherwise, a validation error will be thrown. If only one is provided, the service only migrates tables of that specific type. If both are provided, both Hive and Iceberg tables will be migrated.Configuration for migrating Hive tables to a BigLake Hive catalog.",
          "$ref": "HiveConfig"
        },
        "dryRun": {
          "type": "boolean",
          "description": "Optional. If true, performs discovery of requested resources and analysis against the target catalog to come up with a plan for each resource (e.g. Create, Update, Skip, etc.). No metadata is actually migrated."
        },
        "icebergConfig": {
          "description": "Optional. Configuration for migrating Iceberg tables to a BigLake Iceberg REST catalog.",
          "$ref": "IcebergConfig"
        },
        "reportPath": {
          "description": "Optional. The Cloud Storage path where the backfill / dry run report should be written. If not provided, the report will be generated in the service's artifacts bucket. Format: \"gs://path/to/folder\"",
          "type": "string"
        },
        "conflictPolicy": {
          "enumDescriptions": [
            "The conflict policy is unspecified.",
            "Skip migrating resources that already exist in the target catalog.",
            "Update resources that already exist in the target catalog."
          ],
          "type": "string",
          "description": "Optional. The policy to handle conflicts when migrating resources, defaults to SKIP if not specified.",
          "enum": [
            "CONFLICT_POLICY_UNSPECIFIED",
            "SKIP",
            "OVERWRITE"
          ]
        }
      },
      "id": "BigLakeMetastoreMigrationConfig",
      "type": "object",
      "description": "Defines the configuration required to migrate metadata from a Dataproc Metastore service to BigLake Metastore."
    },
    "LatestBackup": {
      "description": "The details of the latest scheduled backup.",
      "type": "object",
      "id": "LatestBackup",
      "properties": {
        "backupId": {
          "type": "string",
          "description": "Output only. The ID of an in-progress scheduled backup. Empty if no backup is in progress.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. The current state of the backup.",
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup is in progress.",
            "The backup completed.",
            "The backup failed."
          ],
          "type": "string"
        },
        "duration": {
          "readOnly": true,
          "description": "Output only. The duration of the backup completion.",
          "type": "string",
          "format": "google-duration"
        },
        "startTime": {
          "type": "string",
          "description": "Output only. The time when the backup was started.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "MetadataManagementActivity": {
      "id": "MetadataManagementActivity",
      "description": "The metadata management activities of the metastore service.",
      "type": "object",
      "properties": {
        "metadataExports": {
          "description": "Output only. The latest metadata exports of the metastore service.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "MetadataExport"
          }
        },
        "restores": {
          "items": {
            "$ref": "Restore"
          },
          "readOnly": true,
          "description": "Output only. The latest restores of the metastore service.",
          "type": "array"
        }
      }
    },
    "AutoscalingConfig": {
      "id": "AutoscalingConfig",
      "type": "object",
      "properties": {
        "limitConfig": {
          "description": "Optional. The LimitConfig of the service.",
          "$ref": "LimitConfig"
        },
        "autoscalingEnabled": {
          "type": "boolean",
          "description": "Optional. Whether or not autoscaling is enabled for this service."
        },
        "autoscalingFactor": {
          "format": "float",
          "readOnly": true,
          "description": "Output only. The scaling factor of a service with autoscaling enabled.",
          "type": "number"
        }
      },
      "description": "Represents the autoscaling configuration of a metastore service."
    },
    "StartMigrationRequest": {
      "type": "object",
      "description": "Request message for DataprocMetastore.StartMigration.",
      "id": "StartMigrationRequest",
      "properties": {
        "migrationExecution": {
          "$ref": "MigrationExecution",
          "description": "Required. The configuration details for the migration."
        },
        "migrationExecutionId": {
          "type": "string",
          "description": "Optional. The ID to use for the migration execution, which will become the final component of the migration execution's resource name. If not specified, a UUID will be generated.This value must be between 2 and 63 characters long inclusive, begin with a letter, end with a letter or number, and valid characters are a-z0-9-."
        },
        "requestId": {
          "description": "Optional. A request ID. Specify a unique request ID to allow the server to ignore the request if it has completed. The server will ignore subsequent requests that provide a duplicate request ID for at least 60 minutes after the first request.For example, if an initial request times out, followed by another request with the same request ID, the server ignores the second request to prevent the creation of duplicate commitments.The request ID must be a valid UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier#Format) A zero UUID (00000000-0000-0000-0000-000000000000) is not supported.",
          "type": "string"
        }
      }
    },
    "DataCatalogConfig": {
      "description": "Specifies how metastore metadata should be integrated with the Data Catalog service.",
      "properties": {
        "enabled": {
          "description": "Optional. Defines whether the metastore metadata should be synced to Data Catalog. The default value is to disable syncing metastore metadata to Data Catalog.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "DataCatalogConfig"
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "A subset of TestPermissionsRequest.permissions that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Response message for TestIamPermissions method.",
      "id": "TestIamPermissionsResponse"
    },
    "TableSummary": {
      "properties": {
        "resultCounts": {
          "description": "Output only. Number of tables with a specific migration result status. The key is the status name (e.g. SUCCEEDED, FAILED, SKIPPED, etc.). This is only set if the migration is not a dry run.",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "readOnly": true
        },
        "planCounts": {
          "readOnly": true,
          "description": "Output only. Number of tables with a specific migration plan action. The key is the action name (e.g. CREATE, UPDATE, SKIP, etc.).",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object"
        },
        "partitionSuccessCount": {
          "format": "int64",
          "description": "Output only. The total number of partitions successfully migrated at the target.",
          "readOnly": true,
          "type": "string"
        },
        "partitionDiscoveredCount": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Partition migration summary across all Hive tables in the database.The total number of partitions discovered at the source."
        },
        "partitionFailedCount": {
          "description": "Output only. The total number of partitions that failed to migrate at the target.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "TableSummary",
      "description": "Aggregated summary of results for all tables in a database."
    },
    "CatalogReport": {
      "properties": {
        "catalogType": {
          "enumDescriptions": [
            "The catalog type is unspecified.",
            "BigLake Metastore Hive catalog.",
            "BigLake Metastore Iceberg REST catalog."
          ],
          "enum": [
            "CATALOG_TYPE_UNSPECIFIED",
            "HIVE",
            "ICEBERG"
          ],
          "description": "The type of catalog.",
          "type": "string"
        },
        "databaseReports": {
          "description": "A map of database names to their respective reports.",
          "type": "object",
          "additionalProperties": {
            "$ref": "DatabaseReport"
          }
        },
        "catalog": {
          "type": "string",
          "description": "The name of the catalog (format: projects/*/catalogs/*)."
        }
      },
      "type": "object",
      "id": "CatalogReport",
      "description": "Aggregated report at the catalog level."
    },
    "Policy": {
      "id": "Policy",
      "properties": {
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "version": {
          "description": "Specifies the format of the policy.Valid values are 0, 1, and 3. Requests that specify an invalid value are rejected.Any operation that affects conditional role bindings must specify version 3. This requirement applies to the following operations: Getting a policy that includes a conditional role binding Adding a conditional role binding to a policy Changing a conditional role binding in a policy Removing any role binding, with or without a condition, from a policy that includes conditionsImportant: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "etag": {
          "type": "string",
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to getIamPolicy, and systems are expected to put that etag in the request to setIamPolicy to ensure that their change will be applied to the same version of the policy.Important: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.",
          "format": "byte"
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of members, or principals, with a role. Optionally, may specify a condition that determines how and when the bindings are applied. Each of the bindings must contain at least one principal.The bindings in a Policy can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the bindings grant 50 different roles to user:alice@example.com, and not to any other principal, then you can add another 1,450 principals to the bindings in the Policy.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.A Policy is a collection of bindings. A binding binds one or more members, or principals, to a single role. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A role is a named list of permissions; each role can be an IAM predefined role or a user-created custom role.For some types of Google Cloud resources, a binding can also specify a condition, which is a logical expression that allows access to a resource only if the expression evaluates to true. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).JSON example: { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } YAML example: bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the IAM documentation (https://cloud.google.com/iam/docs/)."
    },
    "HiveConfig": {
      "type": "object",
      "id": "HiveConfig",
      "description": "Configuration for migrating Hive metadata.",
      "properties": {
        "databases": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The list of databases to migrate to the Hive catalog. Use \"*\" to migrate all databases. Note: If Iceberg tables exist in these databases, they will only be migrated if iceberg_config is also specified."
        },
        "catalog": {
          "type": "string",
          "description": "Required. The target catalog for migrated databases and tables. Format: \"projects/{project_id_or_number}/catalogs/{catalog_id}\""
        }
      }
    },
    "LocationMetadata": {
      "type": "object",
      "properties": {
        "customRegionMetadata": {
          "type": "array",
          "description": "Deprecated: Use a single region service instead. Possible configurations supported if the current region is a custom region.",
          "items": {
            "$ref": "CustomRegionMetadata"
          },
          "deprecated": true
        },
        "supportedHiveMetastoreVersions": {
          "items": {
            "$ref": "HiveMetastoreVersion"
          },
          "type": "array",
          "description": "The versions of Hive Metastore that can be used when creating a new metastore service in this location. The server guarantees that exactly one HiveMetastoreVersion in the list will set is_default."
        },
        "multiRegionMetadata": {
          "$ref": "MultiRegionMetadata",
          "description": "Deprecated: Use a single region service instead. The multi-region metadata if the current region is a multi-region.",
          "deprecated": true
        }
      },
      "description": "Metadata about the service in a location.",
      "id": "LocationMetadata"
    },
    "ScheduledBackup": {
      "id": "ScheduledBackup",
      "type": "object",
      "description": "This specifies the configuration of scheduled backup.",
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the time zone database (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones), e.g. America/Los_Angeles or Africa/Abidjan. If left unspecified, the default is UTC."
        },
        "backupLocation": {
          "type": "string",
          "description": "Optional. A Cloud Storage URI of a folder, in the format gs:///. A sub-folder containing backup files will be stored below it."
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Defines whether the scheduled backup is enabled. The default value is false."
        },
        "nextScheduledTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the next backups execution is scheduled to start.",
          "format": "google-datetime"
        },
        "cronSchedule": {
          "description": "Optional. The scheduled interval in Cron format, see https://en.wikipedia.org/wiki/Cron The default is empty: scheduled backup is not enabled. Must be specified to enable scheduled backups.",
          "type": "string"
        },
        "latestBackup": {
          "description": "Output only. The details of the latest scheduled backup.",
          "$ref": "LatestBackup",
          "readOnly": true
        }
      }
    },
    "ScalingConfig": {
      "type": "object",
      "id": "ScalingConfig",
      "description": "Represents the scaling configuration of a metastore service.",
      "properties": {
        "autoscalingConfig": {
          "$ref": "AutoscalingConfig",
          "description": "Optional. The autoscaling configuration."
        },
        "scalingFactor": {
          "format": "float",
          "description": "Scaling factor, increments of 0.1 for values less than 1.0, and increments of 1.0 for values greater than 1.0.",
          "type": "number"
        },
        "instanceSize": {
          "enum": [
            "INSTANCE_SIZE_UNSPECIFIED",
            "EXTRA_SMALL",
            "SMALL",
            "MEDIUM",
            "LARGE",
            "EXTRA_LARGE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified instance size",
            "Extra small instance size, maps to a scaling factor of 0.1.",
            "Small instance size, maps to a scaling factor of 0.5.",
            "Medium instance size, maps to a scaling factor of 1.0.",
            "Large instance size, maps to a scaling factor of 3.0.",
            "Extra large instance size, maps to a scaling factor of 6.0."
          ],
          "description": "An enum of readable instance sizes, with each instance size mapping to a float value (e.g. InstanceSize.EXTRA_SMALL = scaling_factor(0.1))"
        }
      }
    },
    "Federation": {
      "id": "Federation",
      "properties": {
        "endpointUri": {
[...]
