{
  "title": "Dataproc Metastore API",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://metastore.mtls.googleapis.com/",
  "revision": "20260916",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/dataproc-metastore/docs",
  "id": "metastore:v1",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "version": "v1",
  "schemas": {
    "Policy": {
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.A Policy is a collection of bindings. A binding binds one or more members, or principals, to a single role. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A role is a named list of permissions; each role can be an IAM predefined role or a user-created custom role.For some types of Google Cloud resources, a binding can also specify a condition, which is a logical expression that allows access to a resource only if the expression evaluates to true. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).JSON example: { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } YAML example: bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the IAM documentation (https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "properties": {
        "etag": {
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to getIamPolicy, and systems are expected to put that etag in the request to setIamPolicy to ensure that their change will be applied to the same version of the policy.Important: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.",
          "type": "string",
          "format": "byte"
        },
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy.Valid values are 0, 1, and 3. Requests that specify an invalid value are rejected.Any operation that affects conditional role bindings must specify version 3. This requirement applies to the following operations: Getting a policy that includes a conditional role binding Adding a conditional role binding to a policy Changing a conditional role binding in a policy Removing any role binding, with or without a condition, from a policy that includes conditionsImportant: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "bindings": {
          "description": "Associates a list of members, or principals, with a role. Optionally, may specify a condition that determines how and when the bindings are applied. Each of the bindings must contain at least one principal.The bindings in a Policy can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the bindings grant 50 different roles to user:alice@example.com, and not to any other principal, then you can add another 1,450 principals to the bindings in the Policy.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        }
      }
    },
    "AutoscalingConfig": {
      "id": "AutoscalingConfig",
      "properties": {
        "autoscalingEnabled": {
          "type": "boolean",
          "description": "Optional. Whether or not autoscaling is enabled for this service."
        },
        "autoscalingFactor": {
          "format": "float",
          "type": "number",
          "description": "Output only. The scaling factor of a service with autoscaling enabled.",
          "readOnly": true
        },
        "limitConfig": {
          "description": "Optional. The LimitConfig of the service.",
          "$ref": "LimitConfig"
        }
      },
      "type": "object",
      "description": "Represents the autoscaling configuration of a metastore service."
    },
    "MoveTableToDatabaseRequest": {
      "type": "object",
      "properties": {
        "destinationDbName": {
          "description": "Required. The name of the database where the table should be moved.",
          "type": "string"
        },
        "tableName": {
          "description": "Required. The name of the table to be moved.",
          "type": "string"
        },
        "dbName": {
          "description": "Required. The name of the database where the table resides.",
          "type": "string"
        }
      },
      "id": "MoveTableToDatabaseRequest",
      "description": "Request message for DataprocMetastore.MoveTableToDatabase."
    },
    "BackfillStatus": {
      "id": "BackfillStatus",
      "description": "Backfill status for the migration execution.",
      "type": "object",
      "properties": {
        "migrationSummary": {
          "readOnly": true,
          "$ref": "MigrationSummary",
          "description": "Output only. Summary of the migration results. This is populated after the backfill or dry run is finished."
        },
        "reportPath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Cloud Storage path where the backfill or dry run report is written. Format: \"gs://path-to-report\"."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. The current state of the backfill (or dry run).",
          "enumDescriptions": [
            "The backfill state is unspecified.",
            "Waiting to start.",
            "Backfill in progress.",
            "Backfill complete, report is available",
            "Backfill failed; check report for details"
          ],
          "type": "string"
        }
      }
    },
    "Status": {
      "type": "object",
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "CatalogReport": {
      "properties": {
        "databaseReports": {
          "type": "object",
          "additionalProperties": {
            "$ref": "DatabaseReport"
          },
          "description": "A map of database names to their respective reports."
        },
        "catalogType": {
          "type": "string",
          "enumDescriptions": [
            "The catalog type is unspecified.",
            "BigLake Metastore Hive catalog.",
            "BigLake Metastore Iceberg REST catalog."
          ],
          "description": "The type of catalog.",
          "enum": [
            "CATALOG_TYPE_UNSPECIFIED",
            "HIVE",
            "ICEBERG"
          ]
        },
        "catalog": {
          "description": "The name of the catalog (format: projects/*/catalogs/*).",
          "type": "string"
        }
      },
      "id": "CatalogReport",
      "description": "Aggregated report at the catalog level.",
      "type": "object"
    },
    "CompleteMigrationRequest": {
      "description": "Request message for DataprocMetastore.CompleteMigration.",
      "id": "CompleteMigrationRequest",
      "type": "object",
      "properties": {}
    },
    "DatabaseReport": {
      "type": "object",
      "id": "DatabaseReport",
      "properties": {
        "executionResult": {
          "$ref": "ExecutionResult",
          "description": "The actual outcome of the database migration."
        },
        "tableReports": {
          "additionalProperties": {
            "$ref": "TableReport"
          },
          "type": "object",
          "description": "A map of table names to their respective reports."
        },
        "database": {
          "type": "string",
          "description": "The name of the database."
        },
        "executionPlan": {
          "$ref": "ExecutionPlan",
          "description": "The discovered intent for the database (what we found and what we planned)."
        }
      },
      "description": "Aggregated report at the database level."
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets ListOperationsRequest.return_partial_success and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MetadataExport": {
      "properties": {
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time when the export ended.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the export started."
        },
        "databaseDumpType": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MYSQL",
            "AVRO"
          ],
          "readOnly": true,
          "description": "Output only. The type of the database dump.",
          "enumDescriptions": [
            "The type of the database dump is unknown.",
            "Database dump is a MySQL dump file.",
            "Database dump contains Avro files."
          ]
        },
        "destinationGcsUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A Cloud Storage URI of a folder that metadata are exported to, in the form of gs:////, where is automatically generated."
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The state of the metadata export is unknown.",
            "The metadata export is running.",
            "The metadata export completed successfully.",
            "The metadata export failed.",
            "The metadata export is cancelled."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "type": "string",
          "description": "Output only. The current state of the export."
        }
      },
      "description": "The details of a metadata export operation.",
      "id": "MetadataExport",
      "type": "object"
    },
    "HiveMetastoreVersion": {
      "id": "HiveMetastoreVersion",
      "description": "A specification of a supported version of the Hive Metastore software.",
      "properties": {
        "version": {
          "description": "The semantic version of the Hive Metastore software.",
          "type": "string"
        },
        "isDefault": {
          "type": "boolean",
          "description": "Whether version will be chosen by the server if a metastore service is created with a HiveMetastoreConfig that omits the version."
        }
      },
      "type": "object"
    },
    "MoveTableToDatabaseResponse": {
      "id": "MoveTableToDatabaseResponse",
      "description": "Response message for DataprocMetastore.MoveTableToDatabase.",
      "type": "object",
      "properties": {}
    },
    "EncryptionConfig": {
      "description": "Encryption settings for the service.",
      "properties": {
        "kmsKey": {
          "type": "string",
          "description": "Optional. The fully qualified customer provided Cloud KMS key name to use for customer data encryption, in the following format:projects/{project_number}/locations/{location_id}/keyRings/{key_ring_id}/cryptoKeys/{crypto_key_id}."
        }
      },
      "type": "object",
      "id": "EncryptionConfig"
    },
    "IcebergConfig": {
      "description": "Configuration for migrating Iceberg metadata.",
      "properties": {
        "catalog": {
          "description": "Required. The target catalog for migrated Iceberg metadata. Format: \"projects/{project_id_or_number}/catalogs/{catalog_id}\"",
          "type": "string"
        },
        "namespaces": {
          "type": "array",
          "description": "Required. The list of namespaces to migrate to the Iceberg REST catalog. Use \"*\" to migrate all namespaces. Note: If Hive tables exist in these namespaces, they will only be migrated if hive_config is also specified.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "IcebergConfig",
      "type": "object"
    },
    "ExecutionPlan": {
      "description": "Represents the migration plan for a specific resource (e.g. Database, Table).",
      "properties": {
        "action": {
          "type": "string",
          "enumDescriptions": [
            "The action is unspecified.",
            "Resource missing; will be created.",
            "Resource exists at the target, but differs from the source; will be updated.",
            "Resource exists at the target; no changes will be made.",
            "Resource cannot be migrated due to a dependency failure (e.g., parent resource missing).",
            "Resource cannot be migrated due to an error during discovery."
          ],
          "description": "The action that will be taken for a resource during migration.",
          "enum": [
            "ACTION_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "SKIP",
            "DEPENDENCY_FAILURE",
            "ERROR"
          ]
        },
        "diffs": {
          "additionalProperties": {
            "$ref": "ValueDiff"
          },
          "description": "A map of field names to their respective value diff.",
          "type": "object"
        },
        "reason": {
          "description": "A human-readable string explaining why the action was chosen.",
          "type": "string"
        }
      },
      "id": "ExecutionPlan",
      "type": "object"
    },
    "AuditLogConfig": {
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "type": "string"
        }
      },
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object"
    },
    "LocationMetadata": {
      "id": "LocationMetadata",
      "description": "Metadata about the service in a location.",
      "type": "object",
      "properties": {
        "customRegionMetadata": {
          "description": "Deprecated: Use a single region service instead. Possible configurations supported if the current region is a custom region.",
          "items": {
            "$ref": "CustomRegionMetadata"
          },
          "type": "array",
          "deprecated": true
        },
        "supportedHiveMetastoreVersions": {
          "items": {
            "$ref": "HiveMetastoreVersion"
          },
          "description": "The versions of Hive Metastore that can be used when creating a new metastore service in this location. The server guarantees that exactly one HiveMetastoreVersion in the list will set is_default.",
          "type": "array"
        },
        "multiRegionMetadata": {
          "deprecated": true,
          "$ref": "MultiRegionMetadata",
          "description": "Deprecated: Use a single region service instead. The multi-region metadata if the current region is a multi-region."
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "ListMigrationExecutionsResponse": {
      "description": "Response message for DataprocMetastore.ListMigrationExecutions.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "migrationExecutions": {
          "items": {
            "$ref": "MigrationExecution"
          },
          "type": "array",
          "description": "The migration executions on the specified service."
        }
      },
      "type": "object",
      "id": "ListMigrationExecutionsResponse"
    },
    "MaintenanceWindow": {
      "id": "MaintenanceWindow",
      "properties": {
        "hourOfDay": {
          "description": "Optional. The hour of day (0-23) when the window starts.",
          "format": "int32",
          "type": "integer"
        },
        "dayOfWeek": {
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Optional. The day of week, when the window starts."
        }
      },
      "description": "Maintenance window. This specifies when Dataproc Metastore may perform system maintenance operation to the service.",
      "type": "object"
    },
    "CatalogSummary": {
      "properties": {
        "databaseSummaries": {
          "description": "Output only. Summary of results for each database in the catalog.",
          "items": {
            "$ref": "DatabaseSummary"
          },
          "readOnly": true,
          "type": "array"
        },
        "catalogType": {
          "enum": [
            "CATALOG_TYPE_UNSPECIFIED",
            "HIVE",
            "ICEBERG"
          ],
          "description": "Output only. The type of the catalog.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The catalog type is unspecified.",
            "BigLake Metastore Hive catalog.",
            "BigLake Metastore Iceberg REST catalog."
          ]
        },
        "catalog": {
          "type": "string",
          "description": "Output only. The catalog resource name (format: projects/*/catalogs/*).",
          "readOnly": true
        }
      },
      "description": "Summary of results for a specific destination catalog.",
      "type": "object",
      "id": "CatalogSummary"
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"} ",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: \"projects/example-project/locations/us-east1\""
        },
        "locationId": {
          "description": "The canonical id for this location. For example: \"us-east1\".",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      }
    },
    "TableReport": {
      "description": "Aggregated report at the table level.",
      "type": "object",
      "properties": {
        "executionResult": {
          "$ref": "ExecutionResult",
          "description": "The actual outcome of the table migration."
        },
        "partitionReport": {
          "$ref": "PartitionReport",
          "description": "Report containing the results of partition migration for this table. This is only relevant for Hive Partitioned tables."
        },
        "executionPlan": {
          "description": "The discovered intent for the table (what we found and what we planned).",
          "$ref": "ExecutionPlan"
        },
        "partitionDiscoveredCount": {
          "type": "string",
          "description": "The total number of partitions identified at the source during discovery. This is only relevant for Hive Partitioned tables.",
          "format": "int64"
        },
        "table": {
          "description": "The name of the table.",
          "type": "string"
        }
      },
      "id": "TableReport"
    },
    "Consumer": {
      "description": "Contains information of the customer's network configurations.",
      "properties": {
        "endpointUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The URI of the endpoint used to access the metastore service."
        },
        "subnetwork": {
          "description": "Immutable. The subnetwork of the customer project from which an IP address is reserved and used as the Dataproc Metastore service's endpoint. It is accessible to hosts in the subnet and to all hosts in a subnet in the same region and same network. There must be at least one IP address available in the subnet's primary range. The subnet is specified in the following form:projects/{project_number}/regions/{region_id}/subnetworks/{subnetwork_id}",
          "type": "string"
        },
        "endpointLocation": {
          "type": "string",
          "description": "Output only. The location of the endpoint URI. Format: projects/{project}/locations/{location}.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Consumer"
    },
    "AuditConfig": {
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, storage.googleapis.com, cloudsql.googleapis.com. allServices is a special value that covers all services."
        },
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission.",
          "type": "array"
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs.If there are AuditConfigs for both allServices and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted.Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "type": "object",
      "id": "AuditConfig"
    },
    "Secret": {
      "properties": {
        "cloudSecret": {
          "description": "Optional. The relative resource name of a Secret Manager secret version, in the following form:projects/{project_number}/secrets/{secret_id}/versions/{version_id}.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A securely stored value.",
      "id": "Secret"
    },
    "BackendMetastore": {
      "description": "Represents a backend metastore for the federation.",
      "id": "BackendMetastore",
      "properties": {
        "metastoreType": {
          "enum": [
            "METASTORE_TYPE_UNSPECIFIED",
            "BIGQUERY",
            "DATAPROC_METASTORE"
          ],
          "description": "The type of the backend metastore.",
          "enumDescriptions": [
            "The metastore type is not set.",
            "The backend metastore is BigQuery.",
            "The backend metastore is Dataproc Metastore."
          ],
          "type": "string"
        },
        "name": {
          "description": "The relative resource name of the metastore that is being federated. The formats of the relative resource names for the currently supported metastores are listed below: BigQuery projects/{project_id} Dataproc Metastore projects/{project_id}/locations/{location}/services/{service_id}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CancelMigrationRequest": {
      "type": "object",
      "description": "Request message for DataprocMetastore.CancelMigration.",
      "properties": {},
      "id": "CancelMigrationRequest"
    },
    "Federation": {
      "description": "Represents a federation of multiple backend metastores.",
      "properties": {
        "stateMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Additional information about the current state of the metastore federation, if available."
        },
        "version": {
          "description": "Immutable. The Apache Hive metastore version of the federation. All backend metastore versions must be compatible with the federation version.",
          "type": "string"
        },
        "endpointUri": {
          "description": "Output only. The federation endpoint.",
          "readOnly": true,
          "type": "string"
        },
        "backendMetastores": {
          "description": "A map from BackendMetastore rank to BackendMetastores from which the federation service serves metadata at query time. The map key represents the order in which BackendMetastores should be evaluated to resolve database names at query time and should be greater than or equal to zero. A BackendMetastore with a lower number will be evaluated before a BackendMetastore with a higher number.",
          "type": "object",
          "additionalProperties": {
            "$ref": "BackendMetastore"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the metastore federation was created.",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The current state of the federation.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "ERROR"
          ],
          "enumDescriptions": [
            "The state of the metastore federation is unknown.",
            "The metastore federation is in the process of being created.",
            "The metastore federation is running and ready to serve queries.",
            "The metastore federation is being updated. It remains usable but cannot accept additional update requests or be deleted at this time.",
            "The metastore federation is undergoing deletion. It cannot be used.",
            "The metastore federation has encountered an error and cannot be used. The metastore federation should be deleted."
          ]
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. The globally unique resource identifier of the metastore federation.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The relative resource name of the federation, of the form: projects/{project_number}/locations/{location_id}/federations/{federation_id}`.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the metastore federation was last updated."
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\"",
          "type": "object"
        },
        "labels": {
          "description": "User-defined labels for the metastore federation.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "Federation",
      "type": "object"
    },
    "ExportMetadataRequest": {
      "description": "Request message for DataprocMetastore.ExportMetadata.",
      "id": "ExportMetadataRequest",
      "properties": {
        "destinationGcsFolder": {
          "type": "string",
          "description": "A Cloud Storage URI of a folder, in the format gs:///. A sub-folder containing exported files will be created below it."
        },
        "databaseDumpType": {
          "description": "Optional. The type of the database dump. If unspecified, defaults to MYSQL.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MYSQL",
            "AVRO"
          ],
          "enumDescriptions": [
            "The type of the database dump is unknown.",
            "Database dump is a MySQL dump file.",
            "Database dump contains Avro files."
          ]
        },
        "requestId": {
          "description": "Optional. A request ID. Specify a unique request ID to allow the server to ignore the request if it has completed. The server will ignore subsequent requests that provide a duplicate request ID for at least 60 minutes after the first request.For example, if an initial request times out, followed by another request with the same request ID, the server ignores the second request to prevent the creation of duplicate commitments.The request ID must be a valid UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier#Format). A zero UUID (00000000-0000-0000-0000-000000000000) is not supported.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Restore": {
      "properties": {
        "backup": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The relative resource name of the metastore service backup to restore from, in the following form:projects/{project_id}/locations/{location_id}/services/{service_id}/backups/{backup_id}."
        },
        "type": {
          "description": "Output only. The type of restore.",
          "type": "string",
          "enumDescriptions": [
            "The restore type is unknown.",
            "The service's metadata and configuration are restored.",
            "Only the service's metadata is restored."
          ],
          "readOnly": true,
          "enum": [
            "RESTORE_TYPE_UNSPECIFIED",
            "FULL",
            "METADATA_ONLY"
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the restore started."
        },
        "backupLocation": {
          "type": "string",
          "description": "Optional. A Cloud Storage URI specifying where the backup artifacts are stored, in the format gs:///."
        },
        "state": {
          "type": "string",
          "description": "Output only. The current state of the restore.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The state of the metadata restore is unknown.",
            "The metadata restore is running.",
            "The metadata restore completed successfully.",
            "The metadata restore failed.",
            "The metadata restore is cancelled."
          ]
        },
        "details": {
          "type": "string",
          "description": "Output only. The restore details containing the revision of the service to be restored to, in format of JSON.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the restore ended.",
          "format": "google-datetime"
        }
      },
      "description": "The details of a metadata restore operation.",
      "id": "Restore",
      "type": "object"
    },
    "MigrationSummary": {
      "id": "MigrationSummary",
      "type": "object",
      "properties": {
        "catalogSummaries": {
          "items": {
            "$ref": "CatalogSummary"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Summary of results for each catalog involved in the migration."
        },
        "dryRun": {
          "description": "Output only. Whether the migration was a dry run.",
          "readOnly": true,
          "type": "boolean"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The UTC time when the report was written."
        },
        "service": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Dataproc Metastore service name (format: projects/*/locations/*/services/*) on which the migration was executed."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The UTC time when the source metadata read was initiated."
        }
      },
      "description": "Summary of the migration results."
    },
    "AlterTablePropertiesRequest": {
      "type": "object",
      "id": "AlterTablePropertiesRequest",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "A field mask that specifies the metadata table properties that are overwritten by the update. Fields specified in the update_mask are relative to the resource (not to the full request). A field is overwritten if it is in the mask.For example, given the target properties: properties { a: 1 b: 2 } And an update properties: properties { a: 2 b: 3 c: 4 } then if the field mask is:paths: \"properties.b\", \"properties.c\"then the result will be: properties { a: 1 b: 3 c: 4 } "
        },
        "tableName": {
          "type": "string",
          "description": "Required. The name of the table containing the properties you're altering in the following format.databases/{database_id}/tables/{table_id}"
        },
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map that describes the desired values to mutate. If update_mask is empty, the properties will not update. Otherwise, the properties only alters the value whose associated paths exist in the update mask",
          "type": "object"
        }
      },
      "description": "Request message for DataprocMetastore.AlterTableProperties."
    },
    "Binding": {
      "properties": {
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. members can have the following values: allUsers: A special identifier that represents anyone who is on the internet; with or without a Google account. allAuthenticatedUsers: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. user:{emailid}: An email address that represents a specific Google account. For example, alice@example.com . serviceAccount:{emailid}: An email address that represents a Google service account. For example, my-other-app@appspot.gserviceaccount.com. serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]: An identifier for a Kubernetes service account (https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, my-project.svc.id.goog[my-namespace/my-kubernetes-sa]. group:{emailid}: An email address that represents a Google group. For example, admins@example.com. domain:{domain}: The G Suite domain (primary) that represents all the users of that domain. For example, google.com or example.com. principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}: A single identity in a workforce identity pool. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}: All workforce identities in a group. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}: All workforce identities with a specific attribute value. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*: All identities in a workforce identity pool. principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}: A single identity in a workload identity pool. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}: A workload identity pool group. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}: All identities in a workload identity pool with a certain attribute. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*: All identities in a workload identity pool. deleted:user:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a user that has been recently deleted. For example, alice@example.com?uid=123456789012345678901. If the user is recovered, this value reverts to user:{emailid} and the recovered user retains the role in the binding. deleted:serviceAccount:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901. If the service account is undeleted, this value reverts to serviceAccount:{emailid} and the undeleted service account retains the role in the binding. deleted:group:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, admins@example.com?uid=123456789012345678901. If the group is recovered, this value reverts to group:{emailid} and the recovered group retains the role in the binding. deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}: Deleted single identity in a workforce identity pool. For example, deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value.",
          "type": "array"
        },
        "condition": {
          "description": "The condition that is associated with this binding.If the condition evaluates to true, then this binding applies to the current request.If the condition evaluates to false, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "description": "Role that is assigned to the list of members, or principals. For example, roles/viewer, roles/editor, or roles/owner.For an overview of the IAM roles and permissions, see the IAM documentation (https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see here (https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        }
      },
      "description": "Associates members, or principals, with a role.",
      "id": "Binding",
      "type": "object"
    },
    "LimitConfig": {
      "description": "Represents the autoscaling limit configuration of a metastore service.",
      "type": "object",
      "properties": {
        "maxScalingFactor": {
          "description": "Optional. The highest scaling factor that the service should be autoscaled to.",
          "type": "number",
          "format": "float"
        },
        "minScalingFactor": {
          "description": "Optional. The lowest scaling factor that the service should be autoscaled to.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "LimitConfig"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "type": "object"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
          "type": "boolean"
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "PartitionReport": {
      "id": "PartitionReport",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "PARTIALLY_SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "description": "Output only. The state of the partition migration.",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified.",
            "All partitions migrated successfully at the target.",
            "Some partitions migrated successfully at the target, but others failed.",
            "All partitions failed to migrate at the target."
          ]
        },
        "partitionSuccessCount": {
          "description": "The number of partitions successfully migrated at the target.",
          "format": "int64",
          "type": "string"
        },
        "partitionFailedCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of partitions that failed to migrate at the target."
        }
      },
      "type": "object",
      "description": "Partition migration report for a Hive table."
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the resource. Permissions with wildcards (such as * or storage.*) are not allowed. For more information see IAM Overview (https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "description": "Request message for TestIamPermissions method."
    },
    "ListBackupsResponse": {
      "description": "Response message for DataprocMetastore.ListBackups.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "backups": {
          "type": "array",
          "items": {
            "$ref": "Backup"
          },
          "description": "The backups of the specified service."
        }
      },
      "id": "ListBackupsResponse",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for TestIamPermissions method.",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of TestPermissionsRequest.permissions that the caller is allowed."
        }
      },
      "type": "object"
    },
    "QueryMetadataRequest": {
      "id": "QueryMetadataRequest",
      "description": "Request message for DataprocMetastore.QueryMetadata.",
      "type": "object",
      "properties": {
        "query": {
          "type": "string",
          "description": "Required. A read-only SQL query to execute against the metadata database. The query cannot change or mutate the data."
        }
      }
    },
    "ScheduledBackup": {
      "properties": {
        "timeZone": {
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the time zone database (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones), e.g. America/Los_Angeles or Africa/Abidjan. If left unspecified, the default is UTC.",
          "type": "string"
        },
        "nextScheduledTime": {
          "description": "Output only. The time when the next backups execution is scheduled to start.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "cronSchedule": {
          "type": "string",
          "description": "Optional. The scheduled interval in Cron format, see https://en.wikipedia.org/wiki/Cron The default is empty: scheduled backup is not enabled. Must be specified to enable scheduled backups."
        },
        "latestBackup": {
          "description": "Output only. The details of the latest scheduled backup.",
          "$ref": "LatestBackup",
          "readOnly": true
        },
        "backupLocation": {
          "description": "Optional. A Cloud Storage URI of a folder, in the format gs:///. A sub-folder containing backup files will be stored below it.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Defines whether the scheduled backup is enabled. The default value is false."
        }
      },
      "type": "object",
      "id": "ScheduledBackup",
      "description": "This specifies the configuration of scheduled backup."
    },
    "AuxiliaryVersionConfig": {
      "description": "Configuration information for the auxiliary service versions.",
      "properties": {
        "configOverrides": {
          "description": "Optional. A mapping of Hive metastore configuration key-value pairs to apply to the auxiliary Hive metastore (configured in hive-site.xml) in addition to the primary version's overrides. If keys are present in both the auxiliary version's overrides and the primary version's overrides, the value from the auxiliary version's overrides takes precedence.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "version": {
          "type": "string",
          "description": "Optional. The Hive metastore version of the auxiliary service. It must be less than the primary Hive metastore service's version."
        },
        "networkConfig": {
          "description": "Output only. The network configuration contains the endpoint URI(s) of the auxiliary Hive metastore service.",
          "$ref": "NetworkConfig",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "AuxiliaryVersionConfig"
    },
    "ListServicesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "services": {
          "items": {
            "$ref": "Service"
          },
          "type": "array",
          "description": "The services in the specified location."
        }
      },
      "description": "Response message for DataprocMetastore.ListServices.",
      "id": "ListServicesResponse",
      "type": "object"
    },
    "MessageSet": {
      "properties": {},
      "id": "MessageSet",
      "type": "object",
      "deprecated": true,
      "description": "This is proto2's version of MessageSet.DEPRECATED: DO NOT USE FOR NEW FIELDS.If you are using editions or proto2, please make your own extendable messages for your use case. If you are using proto3, please use Any instead.MessageSet was the implementation of extensions for proto1. When proto2 was introduced, extensions were implemented as a first-class feature. This schema for MessageSet was meant to be a \"bridge\" solution to migrate MessageSet-bearing messages from proto1 to proto2.This schema has been open-sourced only to facilitate the migration of Google products with MessageSet-bearing messages to open-source environments."
    },
    "MultiRegionMetadata": {
      "deprecated": true,
      "description": "Deprecated: Use a single region service instead. The metadata for the multi-region that includes the constituent regions. The metadata is only populated if the region is multi-region. For single region or custom dual region, it will be empty.",
      "type": "object",
      "id": "MultiRegionMetadata",
      "properties": {
        "continent": {
          "description": "The continent for this multi-region.",
          "type": "string"
        },
        "witnessRegion": {
          "type": "string",
          "description": "The Spanner witness region for this multi-region."
        },
        "constituentRegions": {
          "description": "The regions constituting the multi-region.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "description": "Request message for SetIamPolicy method.",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the resource. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used:paths: \"bindings, etag\""
        }
      },
      "id": "SetIamPolicyRequest"
    },
    "DatabaseSummary": {
      "type": "object",
      "id": "DatabaseSummary",
      "properties": {
        "planAction": {
          "enum": [
            "ACTION_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "SKIP",
            "DEPENDENCY_FAILURE",
            "ERROR"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The action is unspecified.",
            "Resource missing; will be created.",
            "Resource exists at the target, but differs from the source; will be updated.",
            "Resource exists at the target; no changes will be made.",
            "Resource cannot be migrated due to a dependency failure (e.g., parent resource missing).",
            "Resource cannot be migrated due to an error during discovery."
          ],
          "description": "Output only. The migration plan action for the database."
        },
        "database": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the database."
        },
        "resultStatus": {
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "SKIPPED"
          ],
          "description": "Output only. The migration result status for the database. This is only set if the migration is not a dry run.",
          "enumDescriptions": [
            "The state is unspecified.",
            "The resource was migrated successfully.",
            "The resource failed to migrate.",
            "The resource was skipped and will not be migrated."
          ],
          "type": "string",
          "readOnly": true
        },
        "tableSummary": {
          "$ref": "TableSummary",
          "description": "Output only. Aggregated summary of results for all tables in the database.",
          "readOnly": true
        }
      },
      "description": "Summary of results for a specific database in a catalog."
    },
    "MetadataManagementActivity": {
      "id": "MetadataManagementActivity",
      "description": "The metadata management activities of the metastore service.",
      "type": "object",
      "properties": {
        "restores": {
          "items": {
            "$ref": "Restore"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The latest restores of the metastore service."
        },
        "metadataExports": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The latest metadata exports of the metastore service.",
          "items": {
            "$ref": "MetadataExport"
          }
        }
      }
    },
    "DatabaseDump": {
      "id": "DatabaseDump",
      "properties": {
        "gcsUri": {
          "description": "Optional. A Cloud Storage object or folder URI that specifies the source from which to import metadata. It must begin with gs://.",
          "type": "string"
        },
        "databaseType": {
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "MYSQL"
          ],
          "type": "string",
          "description": "The type of the database.",
          "deprecated": true,
          "enumDescriptions": [
            "The type of the source database is unknown.",
            "The type of the source database is MySQL."
          ]
        },
        "type": {
          "description": "Optional. The type of the database dump. If unspecified, defaults to MYSQL.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MYSQL",
            "AVRO"
          ],
          "enumDescriptions": [
            "The type of the database dump is unknown.",
            "Database dump is a MySQL dump file.",
            "Database dump contains Avro files."
          ]
        },
        "sourceDatabase": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. The name of the source database."
        }
      },
      "description": "A specification of the location of and metadata about a database dump from a relational database management system.",
      "type": "object"
    },
    "HiveMetastoreConfig": {
      "description": "Specifies configuration information specific to running Hive metastore software as the metastore service.",
      "id": "HiveMetastoreConfig",
      "type": "object",
      "properties": {
        "kerberosConfig": {
          "$ref": "KerberosConfig",
          "description": "Optional. Information used to configure the Hive metastore service as a service principal in a Kerberos realm. To disable Kerberos, use the UpdateService method and specify this field's path (hive_metastore_config.kerberos_config) in the request's update_mask while omitting this field from the request's service."
        },
        "version": {
          "description": "Immutable. The Hive metastore schema version.",
          "type": "string"
        },
        "auxiliaryVersions": {
          "additionalProperties": {
            "$ref": "AuxiliaryVersionConfig"
          },
          "description": "Optional. A mapping of Hive metastore version to the auxiliary version configuration. When specified, a secondary Hive metastore service is created along with the primary service. All auxiliary versions must be less than the service's primary version. The key is the auxiliary service name and it must match the regular expression a-z?. This means that the first character must be a lowercase letter, and all the following characters must be hyphens, lowercase letters, or digits, except the last character, which cannot be a hyphen.",
          "type": "object"
        },
        "endpointProtocol": {
          "enumDescriptions": [
            "The protocol is not set.",
            "Use the legacy Apache Thrift protocol for the metastore service endpoint.",
            "Use the modernized gRPC protocol for the metastore service endpoint."
          ],
          "enum": [
            "ENDPOINT_PROTOCOL_UNSPECIFIED",
            "THRIFT",
            "GRPC"
          ],
          "type": "string",
          "description": "Optional. The protocol to use for the metastore service endpoint. If unspecified, defaults to THRIFT."
        },
        "configOverrides": {
          "description": "Optional. A mapping of Hive metastore configuration key-value pairs to apply to the Hive metastore (configured in hive-site.xml). The mappings override system defaults (some keys cannot be overridden). These overrides are also applied to auxiliary versions and can be further customized in the auxiliary version's AuxiliaryVersionConfig.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "BigLakeMetastoreMigrationConfig": {
      "properties": {
        "backfillStatus": {
          "description": "Output only. ",
          "$ref": "BackfillStatus",
          "readOnly": true
        },
        "hiveConfig": {
          "$ref": "HiveConfig",
          "description": "Optional. At least one of hive_config or iceberg_config must be provided, otherwise, a validation error will be thrown. If only one is provided, the service only migrates tables of that specific type. If both are provided, both Hive and Iceberg tables will be migrated.Configuration for migrating Hive tables to a BigLake Hive catalog."
        },
        "conflictPolicy": {
          "enum": [
            "CONFLICT_POLICY_UNSPECIFIED",
            "SKIP",
            "OVERWRITE"
          ],
          "description": "Optional. The policy to handle conflicts when migrating resources, defaults to SKIP if not specified.",
          "enumDescriptions": [
            "The conflict policy is unspecified.",
            "Skip migrating resources that already exist in the target catalog.",
            "Update resources that already exist in the target catalog."
          ],
          "type": "string"
        },
        "reportPath": {
          "type": "string",
          "description": "Optional. The Cloud Storage path where the backfill / dry run report should be written. If not provided, the report will be generated in the service's artifacts bucket. Format: \"gs://path/to/folder\""
        },
        "dryRun": {
          "type": "boolean",
          "description": "Optional. If true, performs discovery of requested resources and analysis against the target catalog to come up with a plan for each resource (e.g. Create, Update, Skip, etc.). No metadata is actually migrated."
        },
        "mode": {
          "description": "Required. Defines the behavior of the migration execution.",
          "type": "string",
          "enum": [
            "MIGRATION_MODE_UNSPECIFIED",
            "BACKFILL"
          ],
          "enumDescriptions": [
            "The migration mode is unspecified.",
            "Performs the metadata migration of requested resources. The migration completes once the backfill is finished."
          ]
        },
        "icebergConfig": {
          "description": "Optional. Configuration for migrating Iceberg tables to a BigLake Iceberg REST catalog.",
          "$ref": "IcebergConfig"
        }
      },
      "description": "Defines the configuration required to migrate metadata from a Dataproc Metastore service to BigLake Metastore.",
      "id": "BigLakeMetastoreMigrationConfig",
      "type": "object"
    },
    "LatestBackup": {
      "id": "LatestBackup",
      "description": "The details of the latest scheduled backup.",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup is in progress.",
            "The backup completed.",
            "The backup failed."
          ],
          "type": "string",
          "description": "Output only. The current state of the backup.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "backupId": {
          "readOnly": true,
          "description": "Output only. The ID of an in-progress scheduled backup. Empty if no backup is in progress.",
          "type": "string"
        },
        "duration": {
          "format": "google-duration",
          "description": "Output only. The duration of the backup completion.",
          "type": "string",
          "readOnly": true
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the backup was started."
        }
      }
    },
    "HiveConfig": {
      "description": "Configuration for migrating Hive metadata.",
      "type": "object",
      "properties": {
        "catalog": {
          "description": "Required. The target catalog for migrated databases and tables. Format: \"projects/{project_id_or_number}/catalogs/{catalog_id}\"",
          "type": "string"
        },
        "databases": {
          "description": "Required. The list of databases to migrate to the Hive catalog. Use \"*\" to migrate all databases. Note: If Iceberg tables exist in these databases, they will only be migrated if iceberg_config is also specified.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "HiveConfig"
    },
    "Backup": {
      "type": "object",
      "id": "Backup",
      "description": "The details of a backup resource.",
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup is being created.",
            "The backup is being deleted.",
            "The backup is active and ready to use.",
            "The backup failed.",
            "The backup is being restored."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "DELETING",
            "ACTIVE",
            "FAILED",
            "RESTORING"
          ],
          "description": "Output only. The current state of the backup."
        },
        "endTime": {
          "description": "Output only. The time when the backup finished creating.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The relative resource name of the backup, in the following form:projects/{project_number}/locations/{location_id}/services/{service_id}/backups/{backup_id}"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the backup was started."
        },
        "serviceRevision": {
          "readOnly": true,
          "$ref": "Service",
          "description": "Output only. The revision of the service at the time of backup."
        },
        "description": {
          "description": "Optional. The description of the backup.",
          "type": "string"
        },
        "restoringServices": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Services that are restoring from the backup."
        }
      }
    },
    "ErrorDetails": {
      "id": "ErrorDetails",
      "type": "object",
      "properties": {
        "details": {
          "description": "Additional structured details about this error.Keys define the failure items. Value describes the exception or details of the item.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Error details in public error message for DataprocMetastore.QueryMetadata."
    },
    "StatusProto": {
      "type": "object",
      "id": "StatusProto",
      "description": "Wire-format for a Status object",
      "properties": {
        "space": {
          "type": "string",
          "description": "copybara:strip_begin(b/383363683) Space to which this status belongs copybara:strip_end_and_replace optional string space = 2; // Space to which this status belongs"
        },
        "messageSet": {
          "description": "message_set associates an arbitrary proto message with the status. copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional proto2.bridge.MessageSet message_set = 5;",
          "$ref": "MessageSet"
        },
        "code": {
          "description": "Numeric code drawn from the space specified below. Often, this is the canonical error space, and code is drawn from google3/util/task/codes.proto copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 code = 1;",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "Detail message copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional string message = 3;",
          "type": "string"
        },
        "canonicalCode": {
          "type": "integer",
          "format": "int32",
          "description": "copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 canonical_code = 6;"
        }
      }
    },
    "MetadataIntegration": {
      "id": "MetadataIntegration",
      "description": "Specifies how metastore metadata should be integrated with external services.",
      "type": "object",
      "properties": {
        "dataCatalogConfig": {
          "description": "Optional. The integration config for the Data Catalog service.",
          "$ref": "DataCatalogConfig"
        }
      }
    },
    "TableSummary": {
      "description": "Aggregated summary of results for all tables in a database.",
      "properties": {
        "partitionDiscoveredCount": {
          "readOnly": true,
          "description": "Output only. Partition migration summary across all Hive tables in the database.The total number of partitions discovered at the source.",
          "type": "string",
          "format": "int64"
        },
        "resultCounts": {
          "description": "Output only. Number of tables with a specific migration result status. The key is the status name (e.g. SUCCEEDED, FAILED, SKIPPED, etc.). This is only set if the migration is not a dry run.",
          "type": "object",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "readOnly": true
        },
        "partitionFailedCount": {
          "description": "Output only. The total number of partitions that failed to migrate at the target.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "partitionSuccessCount": {
          "format": "int64",
          "description": "Output only. The total number of partitions successfully migrated at the target.",
          "readOnly": true,
          "type": "string"
        },
        "planCounts": {
          "readOnly": true,
          "description": "Output only. Number of tables with a specific migration plan action. The key is the action name (e.g. CREATE, UPDATE, SKIP, etc.).",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "TableSummary",
      "type": "object"
    },
    "TelemetryConfig": {
      "id": "TelemetryConfig",
      "properties": {
        "logFormat": {
          "description": "Optional. The output format of the Dataproc Metastore service's logs.",
          "enum": [
            "LOG_FORMAT_UNSPECIFIED",
            "LEGACY",
            "JSON"
          ],
          "type": "string",
          "enumDescriptions": [
            "The LOG_FORMAT is not set.",
            "Logging output uses the legacy textPayload format.",
            "Logging output uses the jsonPayload format."
          ]
        }
      },
      "description": "Telemetry Configuration for the Dataproc Metastore service.",
      "type": "object"
    },
    "ScalingConfig": {
      "description": "Represents the scaling configuration of a metastore service.",
      "properties": {
        "instanceSize": {
          "enumDescriptions": [
            "Unspecified instance size",
            "Extra small instance size, maps to a scaling factor of 0.1.",
            "Small instance size, maps to a scaling factor of 0.5.",
            "Medium instance size, maps to a scaling factor of 1.0.",
            "Large instance size, maps to a scaling factor of 3.0.",
            "Extra large instance size, maps to a scaling factor of 6.0."
          ],
          "type": "string",
          "enum": [
            "INSTANCE_SIZE_UNSPECIFIED",
            "EXTRA_SMALL",
            "SMALL",
            "MEDIUM",
            "LARGE",
            "EXTRA_LARGE"
          ],
          "description": "An enum of readable instance sizes, with each instance size mapping to a float value (e.g. InstanceSize.EXTRA_SMALL = scaling_factor(0.1))"
        },
        "scalingFactor": {
          "format": "float",
          "type": "number",
          "description": "Scaling factor, increments of 0.1 for values less than 1.0, and increments of 1.0 for values greater than 1.0."
        },
        "autoscalingConfig": {
          "$ref": "AutoscalingConfig",
          "description": "Optional. The autoscaling configuration."
        }
      },
      "type": "object",
      "id": "ScalingConfig"
    },
    "StartMigrationRequest": {
      "id": "StartMigrationRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. A request ID. Specify a unique request ID to allow the server to ignore the request if it has completed. The server will ignore subsequent requests that provide a duplicate request ID for at least 60 minutes after the first request.For example, if an initial request times out, followed by another request with the same request ID, the server ignores the second request to prevent the creation of duplicate commitments.The request ID must be a valid UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier#Format) A zero UUID (00000000-0000-0000-0000-000000000000) is not supported.",
          "type": "string"
        },
        "migrationExecution": {
          "description": "Required. The configuration details for the migration.",
          "$ref": "MigrationExecution"
        },
        "migrationExecutionId": {
          "description": "Optional. The ID to use for the migration execution, which will become the final component of the migration execution's resource name. If not specified, a UUID will be generated.This value must be between 2 and 63 characters long inclusive, begin with a letter, end with a letter or number, and valid characters are a-z0-9-.",
          "type": "string"
        }
      },
      "description": "Request message for DataprocMetastore.StartMigration."
    },
    "QueryMetadataResponse": {
      "type": "object",
      "description": "Response message for DataprocMetastore.QueryMetadata.",
      "id": "QueryMetadataResponse",
      "properties": {
        "resultManifestUri": {
          "type": "string",
          "description": "The manifest URI is link to a JSON instance in Cloud Storage. This instance manifests immediately along with QueryMetadataResponse. The content of the URI is not retriable until the long-running operation query against the metadata finishes."
        }
      }
    },
    "AlterMetadataResourceLocationRequest": {
      "properties": {
        "locationUri": {
          "type": "string",
          "description": "Required. The new location URI for the metadata resource."
        },
        "resourceName": {
          "description": "Required. The relative metadata resource name in the following format.databases/{database_id} or databases/{database_id}/tables/{table_id} or databases/{database_id}/tables/{table_id}/partitions/{partition_id}",
          "type": "string"
        }
      },
      "description": "Request message for DataprocMetastore.AlterMetadataResourceLocation.",
      "type": "object",
      "id": "AlterMetadataResourceLocationRequest"
    },
    "KerberosConfig": {
      "type": "object",
      "properties": {
        "principal": {
          "description": "Optional. A Kerberos principal that exists in the both the keytab the KDC to authenticate as. A typical principal is of the form primary/instance@REALM, but there is no exact format.",
          "type": "string"
        },
        "keytab": {
          "description": "Optional. A Kerberos keytab file that can be used to authenticate a service principal with a Kerberos Key Distribution Center (KDC).",
          "$ref": "Secret"
        },
        "krb5ConfigGcsUri": {
          "description": "Optional. A Cloud Storage URI that specifies the path to a krb5.conf file. It is of the form gs://{bucket_name}/path/to/krb5.conf, although the file does not need to be named krb5.conf explicitly.",
          "type": "string"
        }
      },
      "description": "Configuration information for a Kerberos principal.",
      "id": "KerberosConfig"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "ExecutionResult": {
      "type": "object",
      "id": "ExecutionResult",
      "description": "Represents the actual migration result for a specific resource (e.g. Database, Table).",
      "properties": {
        "remediation": {
          "description": "Remediation steps for the error if the state is FAILED.",
          "type": "string"
        },
        "errorMessage": {
          "description": "Description of the error if the state is FAILED.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The state is unspecified.",
            "The resource was migrated successfully.",
            "The resource failed to migrate.",
            "The resource was skipped and will not be migrated."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state of the migration for a resource.",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "SKIPPED"
          ]
        }
      }
    },
    "LakehouseProxyConfig": {
      "id": "LakehouseProxyConfig",
      "properties": {
        "catalog": {
          "readOnly": true,
          "description": "Output only. The Lakehouse Iceberg REST Catalog where requests are being proxied to. Format: projects/{project_id_or_number}/catalogs/{catalog_id}.",
          "type": "string"
        },
        "namespaces": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The list of namespaces currently proxied to the Lakehouse catalog. As each migration batch completes, newly migrated namespaces are added to this list.",
          "readOnly": true
        }
      },
      "description": "Configuration for Dataproc Metastore to Lakehouse proxy routing.In a phased migration, namespaces are migrated from Dataproc Metastore to a Lakehouse Iceberg REST Catalog in batches. Between and after migration phases, the metastore service operates in PROXY state where requests for migrated namespaces are forwarded to the Lakehouse catalog while unmigrated namespaces continue to be served locally by DPMS.",
      "type": "object"
    },
    "Expr": {
      "type": "object",
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec.Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      }
    },
    "ListFederationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "federations": {
          "type": "array",
          "items": {
            "$ref": "Federation"
          },
          "description": "The services in the specified location."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListFederationsResponse",
      "type": "object",
      "description": "Response message for ListFederations"
    },
    "AlterMetadataResourceLocationResponse": {
      "properties": {},
      "id": "AlterMetadataResourceLocationResponse",
      "description": "Response message for DataprocMetastore.AlterMetadataResourceLocation.",
      "type": "object"
    },
    "NetworkConfig": {
      "description": "Network configuration for the Dataproc Metastore service.",
      "type": "object",
      "properties": {
        "consumers": {
          "description": "Immutable. The consumer-side network configuration for the Dataproc Metastore instance.",
          "type": "array",
          "items": {
            "$ref": "Consumer"
          }
        }
      },
      "id": "NetworkConfig"
    },
    "ListMetadataImportsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "metadataImports": {
          "items": {
            "$ref": "MetadataImport"
          },
          "description": "The imports in the specified service.",
          "type": "array"
        }
      },
      "description": "Response message for DataprocMetastore.ListMetadataImports.",
      "type": "object",
      "id": "ListMetadataImportsResponse"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      }
    },
    "MigrationExecution": {
      "id": "MigrationExecution",
      "properties": {
        "phase": {
          "enumDescriptions": [
            "The phase of the migration execution is unknown.",
            "Replication phase refers to the migration phase when Dataproc Metastore is running a pipeline to replicate changes in the customer database to its backend database. During this phase, Dataproc Metastore uses the customer database as the hive metastore backend database.",
            "Cutover phase refers to the migration phase when Dataproc Metastore switches to using its own backend database. Migration enters this phase when customer is done migrating all their clusters/workloads to Dataproc Metastore and triggers CompleteMigration."
          ],
          "readOnly": true,
          "enum": [
            "PHASE_UNSPECIFIED",
            "REPLICATION",
            "CUTOVER"
          ],
          "type": "string",
          "description": "Output only. Deprecated: Phase was designed for incoming migrations to Dataproc Metastore, not applicable when migrating away from it. The current phase of the migration execution.",
          "deprecated": true
        },
        "biglakeMetastoreMigrationConfig": {
          "description": "Configuration information specific to migrating from Dataproc Metastore to BigLake Metastore.",
          "$ref": "BigLakeMetastoreMigrationConfig"
        },
        "state": {
          "enumDescriptions": [
            "The state of the migration execution is unknown.",
            "The migration execution is starting.",
            "The migration execution is running.",
            "The migration execution is in the process of being cancelled.",
            "The migration execution is awaiting user action.",
            "The migration execution has completed successfully.",
            "The migration execution has failed.",
            "The migration execution is cancelled.",
            "The migration execution is being deleted.",
            "The migration execution has been rolled back. This occurs when CancelMigration is invoked after the migration has completed and the metastore service is in the PROXY state, returning the service to the ACTIVE state. This enables rollback support when the customer wants to resume using DPMS after a successful migration."
          ],
          "description": "Output only. The current state of the migration execution.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTING",
            "RUNNING",
            "CANCELLING",
            "AWAITING_USER_ACTION",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "DELETING",
            "ROLLED_BACK"
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the migration execution was started."
        },
        "name": {
          "description": "Output only. The relative resource name of the migration execution, in the following form: projects/{project_number}/locations/{location_id}/services/{service_id}/migrationExecutions/{migration_execution_id}",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time when the migration execution finished.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "stateMessage": {
          "description": "Output only. Additional information about the current state of the migration execution.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The details of a migration execution resource."
    },
    "DataCatalogConfig": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Optional. Defines whether the metastore metadata should be synced to Data Catalog. The default value is to disable syncing metastore metadata to Data Catalog."
        }
      },
      "id": "DataCatalogConfig",
      "description": "Specifies how metastore metadata should be integrated with the Data Catalog service."
    },
    "OperationMetadata": {
      "properties": {
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the caller has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to Code.CANCELLED.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents the metadata of a long-running operation.",
      "id": "OperationMetadata"
    },
    "MetadataImport": {
      "description": "A metastore resource that imports metadata.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the metadata import was started.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the metadata import finished."
        },
        "databaseDump": {
          "$ref": "DatabaseDump",
          "description": "Immutable. A database dump from a pre-existing metastore's database."
        },
        "state": {
          "type": "string",
          "description": "Output only. The current state of the metadata import.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "UPDATING",
            "FAILED"
          ],
          "enumDescriptions": [
            "The state of the metadata import is unknown.",
            "The metadata import is running.",
            "The metadata import completed successfully.",
            "The metadata import is being updated.",
            "The metadata import failed, and attempted metadata changes were rolled back."
          ]
        },
        "description": {
          "description": "Optional. The description of the metadata import.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. Identifier. The relative resource name of the metadata import, of the form:projects/{project_number}/locations/{location_id}/services/{service_id}/metadataImports/{metadata_import_id}.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the metadata import was last updated.",
          "type": "string"
        }
      },
      "id": "MetadataImport",
      "type": "object"
    },
    "ValueDiff": {
      "id": "ValueDiff",
      "type": "object",
      "description": "A field-level metadata mismatch for a resource between the source and target.",
      "properties": {
        "targetValue": {
          "type": "string",
          "description": "The value of the field at the target."
        },
        "sourceValue": {
          "type": "string",
          "description": "The value of the field at the source."
        }
      }
    },
    "MigrationReport": {
      "description": "Report containing the results of a migration run. This report is generated at the specified path in the BigLakeMetastoreMigrationConfig after the backfill is complete, or when a dry run is executed.",
      "type": "object",
      "id": "MigrationReport",
      "properties": {
        "catalogReports": {
          "items": {
            "$ref": "CatalogReport"
          },
          "description": "Output only. Detailed results for each catalog involved in the migration.",
          "readOnly": true,
          "type": "array"
        },
        "summary": {
          "$ref": "MigrationSummary",
          "description": "Output only. High-level summary of the migration results.",
          "readOnly": true
        }
      }
    },
    "Service": {
      "properties": {
        "scheduledBackup": {
          "description": "Optional. The configuration of scheduled backup for the metastore service.",
          "$ref": "ScheduledBackup"
        },
        "network": {
          "description": "Immutable. The relative resource name of the VPC network on which the instance can be accessed. It is specified in the following form:projects/{project_number}/global/networks/{network_id}.",
          "type": "string"
        },
        "maintenanceWindow": {
[...]
