{
  "servicePath": "",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://metastore.googleapis.com/",
  "canonicalName": "Dataproc Metastore",
  "protocol": "rest",
  "name": "metastore",
  "id": "metastore:v1alpha",
  "version": "v1alpha",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/dataproc-metastore/docs",
  "revision": "20260916",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "description": "The Dataproc Metastore API is used to manage the lifecycle and configuration of metastore services.",
  "mtlsRootUrl": "https://metastore.mtls.googleapis.com/",
  "baseUrl": "https://metastore.googleapis.com/",
  "title": "Dataproc Metastore API",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "version_module": true,
  "schemas": {
    "MetadataManagementActivity": {
      "properties": {
        "metadataExports": {
          "readOnly": true,
          "description": "Output only. The latest metadata exports of the metastore service.",
          "items": {
            "$ref": "MetadataExport"
          },
          "type": "array"
        },
        "restores": {
          "description": "Output only. The latest restores of the metastore service.",
          "readOnly": true,
          "items": {
            "$ref": "Restore"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "MetadataManagementActivity",
      "description": "The metadata management activities of the metastore service."
    },
    "HiveConfig": {
      "description": "Configuration for migrating Hive metadata.",
      "type": "object",
      "properties": {
        "catalog": {
          "description": "Required. The target catalog for migrated databases and tables. Format: \"projects/{project_id_or_number}/catalogs/{catalog_id}\"",
          "type": "string"
        },
        "databases": {
          "items": {
            "type": "string"
          },
          "description": "Required. The list of databases to migrate to the Hive catalog. Use \"*\" to migrate all databases. Note: If Iceberg tables exist in these databases, they will only be migrated if iceberg_config is also specified.",
          "type": "array"
        }
      },
      "id": "HiveConfig"
    },
    "DatabaseDump": {
      "type": "object",
      "id": "DatabaseDump",
      "description": "A specification of the location of and metadata about a database dump from a relational database management system.",
      "properties": {
        "sourceDatabase": {
          "type": "string",
          "description": "Optional. The name of the source database.",
          "deprecated": true
        },
        "gcsUri": {
          "description": "Optional. A Cloud Storage object or folder URI that specifies the source from which to import metadata. It must begin with gs://.",
          "type": "string"
        },
        "databaseType": {
          "type": "string",
          "enumDescriptions": [
            "The type of the source database is unknown.",
            "The type of the source database is MySQL."
          ],
          "description": "The type of the database.",
          "deprecated": true,
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "MYSQL"
          ]
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "MYSQL",
            "AVRO"
          ],
          "description": "Optional. The type of the database dump. If unspecified, defaults to MYSQL.",
          "type": "string",
          "enumDescriptions": [
            "The type of the database dump is unknown.",
            "Database dump is a MySQL dump file.",
            "Database dump contains Avro files."
          ]
        }
      }
    },
    "DatabaseReport": {
      "properties": {
        "database": {
          "description": "The name of the database.",
          "type": "string"
        },
        "executionResult": {
          "$ref": "ExecutionResult",
          "description": "The actual outcome of the database migration."
        },
        "executionPlan": {
          "$ref": "ExecutionPlan",
          "description": "The discovered intent for the database (what we found and what we planned)."
        },
        "tableReports": {
          "type": "object",
          "additionalProperties": {
            "$ref": "TableReport"
          },
          "description": "A map of table names to their respective reports."
        }
      },
      "id": "DatabaseReport",
      "type": "object",
      "description": "Aggregated report at the database level."
    },
    "CatalogSummary": {
      "type": "object",
      "description": "Summary of results for a specific destination catalog.",
      "properties": {
        "catalog": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The catalog resource name (format: projects/*/catalogs/*)."
        },
        "catalogType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the catalog.",
          "enumDescriptions": [
            "The catalog type is unspecified.",
            "BigLake Metastore Hive catalog.",
            "BigLake Metastore Iceberg REST catalog."
          ],
          "enum": [
            "CATALOG_TYPE_UNSPECIFIED",
            "HIVE",
            "ICEBERG"
          ]
        },
        "databaseSummaries": {
          "items": {
            "$ref": "DatabaseSummary"
          },
          "description": "Output only. Summary of results for each database in the catalog.",
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "CatalogSummary"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "MultiRegionConfig": {
      "type": "object",
      "deprecated": true,
      "description": "Deprecated: Use a single region service instead. The multi-region config for the Dataproc Metastore service.",
      "properties": {
        "customRegionConfig": {
          "description": "Immutable. Deprecated: Use a single region service instead.",
          "deprecated": true,
          "$ref": "CustomRegionConfig"
        },
        "certificates": {
          "description": "Output only. Deprecated: Use a single region service instead. The list of root CA certificates that a gRPC client uses to connect to a multi-regional Dataproc Metastore service.",
          "readOnly": true,
          "deprecated": true,
          "items": {
            "$ref": "RootCACertificate"
          },
          "type": "array"
        }
      },
      "id": "MultiRegionConfig"
    },
    "LocationMetadata": {
      "type": "object",
      "description": "Metadata about the service in a location.",
      "id": "LocationMetadata",
      "properties": {
        "customRegionMetadata": {
          "description": "Deprecated: Use a single region service instead. Possible configurations supported if the current region is a custom region.",
          "type": "array",
          "deprecated": true,
          "items": {
            "$ref": "CustomRegionMetadata"
          }
        },
        "multiRegionMetadata": {
          "$ref": "MultiRegionMetadata",
          "description": "Deprecated: Use a single region service instead. The multi-region metadata if the current region is a multi-region.",
          "deprecated": true
        },
        "supportedHiveMetastoreVersions": {
          "type": "array",
          "description": "The versions of Hive Metastore that can be used when creating a new metastore service in this location. The server guarantees that exactly one HiveMetastoreVersion in the list will set is_default.",
          "items": {
            "$ref": "HiveMetastoreVersion"
          }
        }
      }
    },
    "AuditLogConfig": {
      "type": "object",
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array"
        },
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        }
      }
    },
    "MoveTableToDatabaseRequest": {
      "properties": {
        "dbName": {
          "description": "Required. The name of the database where the table resides.",
          "type": "string"
        },
        "destinationDbName": {
          "type": "string",
          "description": "Required. The name of the database where the table should be moved."
        },
        "tableName": {
          "type": "string",
          "description": "Required. The name of the table to be moved."
        }
      },
      "description": "Request message for DataprocMetastore.MoveTableToDatabase.",
      "id": "MoveTableToDatabaseRequest",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "description": "Request message for SetIamPolicy method.",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the resource. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used:paths: \"bindings, etag\""
        }
      },
      "id": "SetIamPolicyRequest"
    },
    "LakehouseProxyConfig": {
      "description": "Configuration for Dataproc Metastore to Lakehouse proxy routing.In a phased migration, namespaces are migrated from Dataproc Metastore to a Lakehouse Iceberg REST Catalog in batches. Between and after migration phases, the metastore service operates in PROXY state where requests for migrated namespaces are forwarded to the Lakehouse catalog while unmigrated namespaces continue to be served locally by DPMS.",
      "properties": {
        "catalog": {
          "readOnly": true,
          "description": "Output only. The Lakehouse Iceberg REST Catalog where requests are being proxied to. Format: projects/{project_id_or_number}/catalogs/{catalog_id}.",
          "type": "string"
        },
        "namespaces": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of namespaces currently proxied to the Lakehouse catalog. As each migration batch completes, newly migrated namespaces are added to this list.",
          "type": "array"
        }
      },
      "id": "LakehouseProxyConfig",
      "type": "object"
    },
    "CancelMigrationResponse": {
      "type": "object",
      "properties": {
        "migrationExecution": {
          "type": "string",
          "description": "The relative resource name of the migration execution, in the following form:projects/{project_number}/locations/{location_id}/services/{service_id}/migrationExecutions/{migration_execution_id}."
        }
      },
      "id": "CancelMigrationResponse",
      "description": "Response message for DataprocMetastore.CancelMigration."
    },
    "ExportMetadataRequest": {
      "type": "object",
      "properties": {
        "destinationGcsFolder": {
          "type": "string",
          "description": "A Cloud Storage URI of a folder, in the format gs:///. A sub-folder containing exported files will be created below it."
        },
        "databaseDumpType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "MYSQL",
            "AVRO"
          ],
          "description": "Optional. The type of the database dump. If unspecified, defaults to MYSQL.",
          "enumDescriptions": [
            "The type of the database dump is unknown.",
            "Database dump is a MySQL dump file.",
            "Database dump contains Avro files."
          ],
          "type": "string"
        },
        "requestId": {
          "description": "Optional. A request ID. Specify a unique request ID to allow the server to ignore the request if it has completed. The server will ignore subsequent requests that provide a duplicate request ID for at least 60 minutes after the first request.For example, if an initial request times out, followed by another request with the same request ID, the server ignores the second request to prevent the creation of duplicate commitments.The request ID must be a valid UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier#Format). A zero UUID (00000000-0000-0000-0000-000000000000) is not supported.",
          "type": "string"
        }
      },
      "description": "Request message for DataprocMetastore.ExportMetadata.",
      "id": "ExportMetadataRequest"
    },
    "ListServicesResponse": {
      "type": "object",
      "id": "ListServicesResponse",
      "description": "Response message for DataprocMetastore.ListServices.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "services": {
          "type": "array",
          "items": {
            "$ref": "Service"
          },
          "description": "The services in the specified location."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "DatabaseSummary": {
      "description": "Summary of results for a specific database in a catalog.",
      "type": "object",
      "properties": {
        "database": {
          "readOnly": true,
          "description": "Output only. The name of the database.",
          "type": "string"
        },
        "planAction": {
          "readOnly": true,
          "enum": [
            "ACTION_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "SKIP",
            "DEPENDENCY_FAILURE",
            "ERROR"
          ],
          "type": "string",
          "description": "Output only. The migration plan action for the database.",
          "enumDescriptions": [
            "The action is unspecified.",
            "Resource missing; will be created.",
            "Resource exists at the target, but differs from the source; will be updated.",
            "Resource exists at the target; no changes will be made.",
            "Resource cannot be migrated due to a dependency failure (e.g., parent resource missing).",
            "Resource cannot be migrated due to an error during discovery."
          ]
        },
        "resultStatus": {
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "SKIPPED"
          ],
          "description": "Output only. The migration result status for the database. This is only set if the migration is not a dry run.",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified.",
            "The resource was migrated successfully.",
            "The resource failed to migrate.",
            "The resource was skipped and will not be migrated."
          ],
          "type": "string"
        },
        "tableSummary": {
          "$ref": "TableSummary",
          "description": "Output only. Aggregated summary of results for all tables in the database.",
          "readOnly": true
        }
      },
      "id": "DatabaseSummary"
    },
    "NetworkConfig": {
      "id": "NetworkConfig",
      "properties": {
        "consumers": {
          "items": {
            "$ref": "Consumer"
          },
          "description": "Immutable. The consumer-side network configuration for the Dataproc Metastore instance.",
          "type": "array"
        },
        "customRoutesEnabled": {
          "description": "Optional. Enables custom routes to be imported and exported for the Dataproc Metastore service's peered VPC network.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Network configuration for the Dataproc Metastore service."
    },
    "ListMigrationExecutionsResponse": {
      "type": "object",
      "id": "ListMigrationExecutionsResponse",
      "description": "Response message for DataprocMetastore.ListMigrationExecutions.",
      "properties": {
        "migrationExecutions": {
          "description": "The migration executions on the specified service.",
          "items": {
            "$ref": "MigrationExecution"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      }
    },
    "BackendMetastore": {
      "properties": {
        "metastoreType": {
          "enum": [
            "METASTORE_TYPE_UNSPECIFIED",
            "DATAPLEX",
            "BIGQUERY",
            "DATAPROC_METASTORE"
          ],
          "enumDescriptions": [
            "The metastore type is not set.",
            "The backend metastore is Dataplex.",
            "The backend metastore is BigQuery.",
            "The backend metastore is Dataproc Metastore."
          ],
          "description": "The type of the backend metastore.",
          "type": "string"
        },
        "name": {
          "description": "The relative resource name of the metastore that is being federated. The formats of the relative resource names for the currently supported metastores are listed below: BigQuery projects/{project_id} Dataproc Metastore projects/{project_id}/locations/{location}/services/{service_id}",
          "type": "string"
        }
      },
      "id": "BackendMetastore",
      "description": "Represents a backend metastore for the federation.",
      "type": "object"
    },
    "BigLakeMetastoreMigrationConfig": {
      "description": "Defines the configuration required to migrate metadata from a Dataproc Metastore service to BigLake Metastore.",
      "properties": {
        "backfillStatus": {
          "$ref": "BackfillStatus",
          "readOnly": true,
          "description": "Output only. "
        },
        "conflictPolicy": {
          "enum": [
            "CONFLICT_POLICY_UNSPECIFIED",
            "SKIP",
            "OVERWRITE"
          ],
          "description": "Optional. The policy to handle conflicts when migrating resources, defaults to SKIP if not specified.",
          "enumDescriptions": [
            "The conflict policy is unspecified.",
            "Skip migrating resources that already exist in the target catalog.",
            "Update resources that already exist in the target catalog."
          ],
          "type": "string"
        },
        "mode": {
          "type": "string",
          "enumDescriptions": [
            "The migration mode is unspecified.",
            "Performs the metadata migration of requested resources. The migration completes once the backfill is finished.",
            "Performs the initial backfill, then transitions to an incremental synchronization state to replicate ongoing source writes. Requires an explicit CompleteMigration or CancelMigration call to end the migration. Note: Supported only for Iceberg migrations."
          ],
          "description": "Required. Defines the behavior of the migration execution.",
          "enum": [
            "MIGRATION_MODE_UNSPECIFIED",
            "BACKFILL",
            "INCREMENTAL_SYNC"
          ]
        },
        "dryRun": {
          "type": "boolean",
          "description": "Optional. If true, performs discovery of requested resources and analysis against the target catalog to come up with a plan for each resource (e.g. Create, Update, Skip, etc.). No metadata is actually migrated."
        },
        "reportPath": {
          "description": "Optional. The Cloud Storage path where the backfill / dry run report should be written. If not provided, the report will be generated in the service's artifacts bucket. Format: \"gs://path/to/folder\"",
          "type": "string"
        },
        "hiveConfig": {
          "description": "Optional. At least one of hive_config or iceberg_config must be provided, otherwise, a validation error will be thrown. If only one is provided, the service only migrates tables of that specific type. If both are provided, both Hive and Iceberg tables will be migrated.Configuration for migrating Hive tables to a BigLake Hive catalog.",
          "$ref": "HiveConfig"
        },
        "icebergConfig": {
          "description": "Optional. Configuration for migrating Iceberg tables to a BigLake Iceberg REST catalog.",
          "$ref": "IcebergConfig"
        }
      },
      "type": "object",
      "id": "BigLakeMetastoreMigrationConfig"
    },
    "QueryMetadataResponse": {
      "properties": {
        "resultManifestUri": {
          "description": "The manifest URI is link to a JSON instance in Cloud Storage. This instance manifests immediately along with QueryMetadataResponse. The content of the URI is not retriable until the long-running operation query against the metadata finishes.",
          "type": "string"
        }
      },
      "description": "Response message for DataprocMetastore.QueryMetadata.",
      "id": "QueryMetadataResponse",
      "type": "object"
    },
    "MaintenanceWindow": {
      "id": "MaintenanceWindow",
      "properties": {
        "dayOfWeek": {
          "type": "string",
          "description": "Optional. The day of week, when the window starts.",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        },
        "hourOfDay": {
          "description": "Optional. The hour of day (0-23) when the window starts.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Maintenance window. This specifies when Dataproc Metastore may perform system maintenance operation to the service."
    },
    "RemoveIamPolicyRequest": {
      "type": "object",
      "id": "RemoveIamPolicyRequest",
      "properties": {
        "asynchronous": {
          "description": "Optional. Removes IAM policy attached to database or table asynchronously when it is set. The default is false.",
          "type": "boolean"
        }
      },
      "description": "Request message for DataprocMetastore.RemoveIamPolicy."
    },
    "DataCatalogConfig": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Optional. Defines whether the metastore metadata should be synced to Data Catalog. The default value is to disable syncing metastore metadata to Data Catalog."
        }
      },
      "type": "object",
      "id": "DataCatalogConfig",
      "description": "Specifies how metastore metadata should be integrated with the Data Catalog service."
    },
    "LimitConfig": {
      "type": "object",
      "id": "LimitConfig",
      "properties": {
        "maxScalingFactor": {
          "description": "Optional. The highest scaling factor that the service should be autoscaled to.",
          "type": "number",
          "format": "float"
        },
        "minScalingFactor": {
          "description": "Optional. The lowest scaling factor that the service should be autoscaled to.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Represents the autoscaling limit configuration of a metastore service."
    },
    "Service": {
      "properties": {
        "deletionProtection": {
          "description": "Optional. Indicates if the dataproc metastore should be protected against accidental deletions.",
          "type": "boolean"
        },
        "lakehouseProxyConfig": {
          "$ref": "LakehouseProxyConfig",
          "readOnly": true,
          "description": "Output only. The Lakehouse proxy routing configuration for the metastore service."
        },
        "metadataIntegration": {
          "description": "Optional. The setting that defines how metastore metadata should be integrated with external services and systems.",
          "$ref": "MetadataIntegration"
        },
        "artifactGcsUri": {
          "description": "Output only. A Cloud Storage URI (starting with gs://) that specifies where artifacts related to the metastore service are stored.",
          "type": "string",
          "readOnly": true
        },
        "network": {
          "description": "Immutable. The relative resource name of the VPC network on which the instance can be accessed. It is specified in the following form:projects/{project_number}/global/networks/{network_id}.",
          "type": "string"
        },
        "telemetryConfig": {
          "$ref": "TelemetryConfig",
          "description": "Optional. The configuration specifying telemetry settings for the Dataproc Metastore service. If unspecified defaults to JSON."
        },
        "port": {
          "description": "Optional. The TCP port at which the metastore service is reached. Default: 9083.",
          "format": "int32",
          "type": "integer"
        },
        "updateTime": {
          "description": "Output only. The time when the metastore service was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "encryptionConfig": {
          "description": "Immutable. Information used to configure the Dataproc Metastore service to encrypt customer data at rest. Cannot be updated.",
          "$ref": "EncryptionConfig"
        },
        "scalingConfig": {
          "$ref": "ScalingConfig",
          "description": "Optional. Scaling configuration of the metastore service."
        },
        "name": {
          "description": "Immutable. Identifier. The relative resource name of the metastore service, in the following format:projects/{project_number}/locations/{location_id}/services/{service_id}.",
          "type": "string"
        },
        "tier": {
          "enum": [
            "TIER_UNSPECIFIED",
            "DEVELOPER",
            "ENTERPRISE"
          ],
          "description": "Optional. The tier of the service.",
          "type": "string",
          "enumDescriptions": [
            "The tier is not set.",
            "The developer tier provides limited scalability and no fault tolerance. Good for low-cost proof-of-concept.",
            "The enterprise tier provides multi-zone high availability, and sufficient scalability for enterprise-level Dataproc Metastore workloads."
          ]
        },
        "createTime": {
          "description": "Output only. The time when the metastore service was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "hiveMetastoreConfig": {
          "description": "Configuration information specific to running Hive metastore software as the metastore service.",
          "$ref": "HiveMetastoreConfig"
        },
        "endpointUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URI of the endpoint used to access the metastore service."
        },
        "releaseChannel": {
          "enumDescriptions": [
            "Release channel is not specified.",
            "The CANARY release channel contains the newest features, which may be unstable and subject to unresolved issues with no known workarounds. Services using the CANARY release channel are not subject to any SLAs.",
            "The STABLE release channel contains features that are considered stable and have been validated for production use."
          ],
          "enum": [
            "RELEASE_CHANNEL_UNSPECIFIED",
            "CANARY",
            "STABLE"
          ],
          "description": "Immutable. The release channel of the service. If unspecified, defaults to STABLE.",
          "type": "string"
        },
        "databaseType": {
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "MYSQL",
            "SPANNER"
          ],
          "enumDescriptions": [
            "The DATABASE_TYPE is not set.",
            "MySQL is used to persist the metastore data.",
            "Spanner is used to persist the metastore data."
          ],
          "description": "Immutable. The database type that the Metastore service stores its data.",
          "type": "string"
        },
        "multiRegionConfig": {
          "deprecated": true,
          "$ref": "MultiRegionConfig",
          "description": "Optional. Deprecated: Use a single region service instead. Specifies the multi-region configuration information for the Hive metastore service."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "User-defined labels for the metastore service."
        },
        "tags": {
          "type": "object",
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\"",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The globally unique resource identifier of the metastore service."
        },
        "maintenanceWindow": {
          "$ref": "MaintenanceWindow",
          "description": "Optional. The one hour maintenance window of the metastore service. This specifies when the service can be restarted for maintenance purposes in UTC time. Maintenance window is not needed for services with the SPANNER database type."
        },
        "scheduledBackup": {
          "$ref": "ScheduledBackup",
          "description": "Optional. The configuration of scheduled backup for the metastore service."
        },
        "networkConfig": {
          "description": "Optional. The configuration specifying the network settings for the Dataproc Metastore service.",
          "$ref": "NetworkConfig"
        },
        "metadataManagementActivity": {
          "$ref": "MetadataManagementActivity",
          "readOnly": true,
          "description": "Output only. The metadata management activities of the metastore service."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "UPDATING",
            "DELETING",
            "ERROR",
            "AUTOSCALING",
            "MIGRATING",
            "PROXY"
          ],
          "readOnly": true,
          "description": "Output only. The current state of the metastore service.",
          "enumDescriptions": [
            "The state of the metastore service is unknown.",
            "The metastore service is in the process of being created.",
            "The metastore service is running and ready to serve queries.",
            "The metastore service is entering suspension. Its query-serving availability may cease unexpectedly.",
            "The metastore service is suspended and unable to serve queries.",
            "The metastore service is being updated. It remains usable but cannot accept additional update requests or be deleted at this time.",
            "The metastore service is undergoing deletion. It cannot be used.",
            "The metastore service has encountered an error and cannot be used. The metastore service should be deleted.",
            "The Dataproc Metastore service 2 is being scaled up or down.",
            "The metastore service is processing a managed migration.",
            "The metastore service has completed managed migration and is now proxying requests to the Lakehouse runtime catalog."
          ]
        },
        "stateMessage": {
          "description": "Output only. Additional information about the current state of the metastore service, if available.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A managed metastore service that serves metadata queries.",
      "type": "object",
      "id": "Service"
    },
    "EncryptionConfig": {
      "type": "object",
      "id": "EncryptionConfig",
      "properties": {
        "kmsKey": {
          "description": "Optional. The fully qualified customer provided Cloud KMS key name to use for customer data encryption, in the following format:projects/{project_number}/locations/{location_id}/keyRings/{key_ring_id}/cryptoKeys/{crypto_key_id}.",
          "type": "string"
        },
        "kmsKeys": {
          "description": "Optional. The list of fully qualified customer provided Cloud KMS key names for the multi-regional service. Each key must be in the following format:projects/{project_number}/locations/{location_id}/keyRings/{key_ring_id}/cryptoKeys/{crypto_key_id}.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Encryption settings for the service."
    },
    "ListOperationsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets ListOperationsRequest.return_partial_success and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "PartitionReport": {
      "id": "PartitionReport",
      "properties": {
        "partitionSuccessCount": {
          "format": "int64",
          "description": "The number of partitions successfully migrated at the target.",
          "type": "string"
        },
        "partitionFailedCount": {
          "description": "The number of partitions that failed to migrate at the target.",
          "format": "int64",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the partition migration.",
          "enumDescriptions": [
            "The state is unspecified.",
            "All partitions migrated successfully at the target.",
            "Some partitions migrated successfully at the target, but others failed.",
            "All partitions failed to migrate at the target."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "PARTIALLY_SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Partition migration report for a Hive table."
    },
    "TableSummary": {
      "properties": {
        "partitionDiscoveredCount": {
          "type": "string",
          "description": "Output only. Partition migration summary across all Hive tables in the database.The total number of partitions discovered at the source.",
          "readOnly": true,
          "format": "int64"
        },
        "resultCounts": {
          "readOnly": true,
          "type": "object",
          "description": "Output only. Number of tables with a specific migration result status. The key is the status name (e.g. SUCCEEDED, FAILED, SKIPPED, etc.). This is only set if the migration is not a dry run.",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        },
        "partitionSuccessCount": {
          "format": "int64",
          "description": "Output only. The total number of partitions successfully migrated at the target.",
          "type": "string",
          "readOnly": true
        },
        "planCounts": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "readOnly": true,
          "type": "object",
          "description": "Output only. Number of tables with a specific migration plan action. The key is the action name (e.g. CREATE, UPDATE, SKIP, etc.)."
        },
        "partitionFailedCount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The total number of partitions that failed to migrate at the target.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "TableSummary",
      "description": "Aggregated summary of results for all tables in a database."
    },
    "HiveMetastoreVersion": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "The semantic version of the Hive Metastore software."
        },
        "isDefault": {
          "description": "Whether version will be chosen by the server if a metastore service is created with a HiveMetastoreConfig that omits the version.",
          "type": "boolean"
        }
      },
      "id": "HiveMetastoreVersion",
      "description": "A specification of a supported version of the Hive Metastore software."
    },
    "MigrationSummary": {
      "description": "Summary of the migration results.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The UTC time when the source metadata read was initiated.",
          "type": "string",
          "readOnly": true
        },
        "catalogSummaries": {
          "description": "Output only. Summary of results for each catalog involved in the migration.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "CatalogSummary"
          }
        },
        "dryRun": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the migration was a dry run."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The UTC time when the report was written.",
          "readOnly": true,
          "type": "string"
        },
        "service": {
          "readOnly": true,
          "description": "Output only. The Dataproc Metastore service name (format: projects/*/locations/*/services/*) on which the migration was executed.",
          "type": "string"
        }
      },
      "id": "MigrationSummary",
      "type": "object"
    },
    "Binding": {
      "description": "Associates members, or principals, with a role.",
      "id": "Binding",
      "type": "object",
      "properties": {
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. members can have the following values: allUsers: A special identifier that represents anyone who is on the internet; with or without a Google account. allAuthenticatedUsers: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. user:{emailid}: An email address that represents a specific Google account. For example, alice@example.com . serviceAccount:{emailid}: An email address that represents a Google service account. For example, my-other-app@appspot.gserviceaccount.com. serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]: An identifier for a Kubernetes service account (https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, my-project.svc.id.goog[my-namespace/my-kubernetes-sa]. group:{emailid}: An email address that represents a Google group. For example, admins@example.com. domain:{domain}: The G Suite domain (primary) that represents all the users of that domain. For example, google.com or example.com. principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}: A single identity in a workforce identity pool. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}: All workforce identities in a group. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}: All workforce identities with a specific attribute value. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*: All identities in a workforce identity pool. principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}: A single identity in a workload identity pool. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}: A workload identity pool group. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}: All identities in a workload identity pool with a certain attribute. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*: All identities in a workload identity pool. deleted:user:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a user that has been recently deleted. For example, alice@example.com?uid=123456789012345678901. If the user is recovered, this value reverts to user:{emailid} and the recovered user retains the role in the binding. deleted:serviceAccount:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901. If the service account is undeleted, this value reverts to serviceAccount:{emailid} and the undeleted service account retains the role in the binding. deleted:group:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, admins@example.com?uid=123456789012345678901. If the group is recovered, this value reverts to group:{emailid} and the recovered group retains the role in the binding. deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}: Deleted single identity in a workforce identity pool. For example, deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value.",
          "type": "array"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding.If the condition evaluates to true, then this binding applies to the current request.If the condition evaluates to false, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "description": "Role that is assigned to the list of members, or principals. For example, roles/viewer, roles/editor, or roles/owner.For an overview of the IAM roles and permissions, see the IAM documentation (https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see here (https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        }
      }
    },
    "CompleteMigrationRequest": {
      "properties": {},
      "id": "CompleteMigrationRequest",
      "description": "Request message for DataprocMetastore.CompleteMigration.",
      "type": "object"
    },
    "CustomRegionMetadata": {
      "properties": {
        "witnessRegion": {
          "type": "string",
          "description": "The Spanner witness region for this custom region."
        },
        "optionalReadOnlyRegions": {
          "type": "array",
          "description": "The read-only regions for this custom region.",
          "items": {
            "type": "string"
          }
        },
        "requiredReadWriteRegions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The read-write regions for this custom region."
        }
      },
      "id": "CustomRegionMetadata",
      "deprecated": true,
      "description": "Deprecated: Use a single region service instead. Metadata about a custom region. This is only populated if the region is a custom region. For single/multi regions, it will be empty.",
      "type": "object"
    },
    "ListBackupsResponse": {
      "type": "object",
      "id": "ListBackupsResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "backups": {
          "items": {
            "$ref": "Backup"
          },
          "description": "The backups of the specified service.",
          "type": "array"
        }
      },
      "description": "Response message for DataprocMetastore.ListBackups."
    },
    "CompleteMigrationResponse": {
      "description": "Response message for DataprocMetastore.CompleteMigration.",
      "type": "object",
      "properties": {
        "migrationExecution": {
          "description": "The relative resource name of the migration execution, in the following form:projects/{project_number}/locations/{location_id}/services/{service_id}/migrationExecutions/{migration_execution_id}.",
          "type": "string"
        }
      },
      "id": "CompleteMigrationResponse"
    },
    "AutoscalingConfig": {
      "id": "AutoscalingConfig",
      "properties": {
        "autoscalingFactor": {
          "type": "number",
          "description": "Output only. The scaling factor of a service with autoscaling enabled.",
          "readOnly": true,
          "format": "float"
        },
        "autoscalingEnabled": {
          "type": "boolean",
          "description": "Optional. Whether or not autoscaling is enabled for this service."
        },
        "limitConfig": {
          "description": "Optional. The LimitConfig of the service.",
          "$ref": "LimitConfig"
        }
      },
      "description": "Represents the autoscaling configuration of a metastore service.",
      "type": "object"
    },
    "RemoveIamPolicyResponse": {
      "id": "RemoveIamPolicyResponse",
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean",
          "description": "True if the policy is successfully removed."
        }
      },
      "description": "Response message for DataprocMetastore.RemoveIamPolicy."
    },
    "OperationMetadata": {
      "description": "Represents the metadata of a long-running operation.",
      "type": "object",
      "properties": {
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the caller has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to Code.CANCELLED.",
          "type": "boolean",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        }
      },
      "id": "OperationMetadata"
    },
    "HiveMetastoreConfig": {
      "id": "HiveMetastoreConfig",
      "description": "Specifies configuration information specific to running Hive metastore software as the metastore service.",
      "type": "object",
      "properties": {
        "auxiliaryVersions": {
          "description": "Optional. A mapping of Hive metastore version to the auxiliary version configuration. When specified, a secondary Hive metastore service is created along with the primary service. All auxiliary versions must be less than the service's primary version. The key is the auxiliary service name and it must match the regular expression a-z?. This means that the first character must be a lowercase letter, and all the following characters must be hyphens, lowercase letters, or digits, except the last character, which cannot be a hyphen.",
          "additionalProperties": {
            "$ref": "AuxiliaryVersionConfig"
          },
          "type": "object"
        },
        "kerberosConfig": {
          "$ref": "KerberosConfig",
          "description": "Optional. Information used to configure the Hive metastore service as a service principal in a Kerberos realm. To disable Kerberos, use the UpdateService method and specify this field's path (hive_metastore_config.kerberos_config) in the request's update_mask while omitting this field from the request's service."
        },
        "endpointProtocol": {
          "enum": [
            "ENDPOINT_PROTOCOL_UNSPECIFIED",
            "THRIFT",
            "GRPC"
          ],
          "enumDescriptions": [
            "The protocol is not set.",
            "Use the legacy Apache Thrift protocol for the metastore service endpoint.",
            "Use the modernized gRPC protocol for the metastore service endpoint."
          ],
          "description": "Optional. The protocol to use for the metastore service endpoint. If unspecified, defaults to THRIFT.",
          "type": "string"
        },
        "configOverrides": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A mapping of Hive metastore configuration key-value pairs to apply to the Hive metastore (configured in hive-site.xml). The mappings override system defaults (some keys cannot be overridden). These overrides are also applied to auxiliary versions and can be further customized in the auxiliary version's AuxiliaryVersionConfig."
        },
        "version": {
          "description": "Immutable. The Hive metastore schema version.",
          "type": "string"
        }
      }
    },
    "Location": {
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: \"projects/example-project/locations/us-east1\"",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: \"us-east1\"."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"} "
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object"
    },
    "Federation": {
      "properties": {
        "uid": {
          "description": "Output only. The globally unique resource identifier of the metastore federation.",
          "type": "string",
          "readOnly": true
        },
        "version": {
          "description": "Immutable. The Apache Hive metastore version of the federation. All backend metastore versions must be compatible with the federation version.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The state of the metastore federation is unknown.",
            "The metastore federation is in the process of being created.",
            "The metastore federation is running and ready to serve queries.",
            "The metastore federation is being updated. It remains usable but cannot accept additional update requests or be deleted at this time.",
            "The metastore federation is undergoing deletion. It cannot be used.",
            "The metastore federation has encountered an error and cannot be used. The metastore federation should be deleted."
          ],
          "description": "Output only. The current state of the federation.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "ERROR"
          ]
        },
        "backendMetastores": {
          "description": "A map from BackendMetastore rank to BackendMetastores from which the federation service serves metadata at query time. The map key represents the order in which BackendMetastores should be evaluated to resolve database names at query time and should be greater than or equal to zero. A BackendMetastore with a lower number will be evaluated before a BackendMetastore with a higher number.",
          "additionalProperties": {
            "$ref": "BackendMetastore"
          },
          "type": "object"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-defined labels for the metastore federation.",
          "type": "object"
        },
        "endpointUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The federation endpoint."
        },
        "stateMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information about the current state of the metastore federation, if available."
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\"",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the metastore federation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the metastore federation was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Immutable. The relative resource name of the federation, of the form: projects/{project_number}/locations/{location_id}/federations/{federation_id}`.",
          "type": "string"
        }
      },
      "description": "Represents a federation of multiple backend metastores.",
      "id": "Federation",
      "type": "object"
    },
    "Secret": {
      "id": "Secret",
      "type": "object",
      "description": "A securely stored value.",
      "properties": {
        "cloudSecret": {
          "description": "Optional. The relative resource name of a Secret Manager secret version, in the following form:projects/{project_number}/secrets/{secret_id}/versions/{version_id}.",
          "type": "string"
        }
      }
    },
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs.If there are AuditConfigs for both allServices and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted.Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "properties": {
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        },
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, storage.googleapis.com, cloudsql.googleapis.com. allServices is a special value that covers all services."
        }
      },
      "id": "AuditConfig",
      "type": "object"
    },
    "MetadataImport": {
      "type": "object",
      "id": "MetadataImport",
      "description": "A metastore resource that imports metadata.",
      "properties": {
        "databaseDump": {
          "description": "Immutable. A database dump from a pre-existing metastore's database.",
          "$ref": "DatabaseDump"
        },
        "name": {
          "description": "Immutable. Identifier. The relative resource name of the metadata import, of the form:projects/{project_number}/locations/{location_id}/services/{service_id}/metadataImports/{metadata_import_id}.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the metadata import finished.",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the metadata import was started.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the metadata import."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The state of the metadata import is unknown.",
            "The metadata import is running.",
            "The metadata import completed successfully.",
            "The metadata import is being updated.",
            "The metadata import failed, and attempted metadata changes were rolled back."
          ],
          "description": "Output only. The current state of the metadata import.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "UPDATING",
            "FAILED"
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the metadata import was last updated.",
          "readOnly": true
        }
      }
    },
    "KerberosConfig": {
      "id": "KerberosConfig",
      "description": "Configuration information for a Kerberos principal.",
      "properties": {
        "keytab": {
          "description": "Optional. A Kerberos keytab file that can be used to authenticate a service principal with a Kerberos Key Distribution Center (KDC).",
          "$ref": "Secret"
        },
        "principal": {
          "description": "Optional. A Kerberos principal that exists in the both the keytab the KDC to authenticate as. A typical principal is of the form primary/instance@REALM, but there is no exact format.",
          "type": "string"
        },
        "krb5ConfigGcsUri": {
          "type": "string",
          "description": "Optional. A Cloud Storage URI that specifies the path to a krb5.conf file. It is of the form gs://{bucket_name}/path/to/krb5.conf, although the file does not need to be named krb5.conf explicitly."
        }
      },
      "type": "object"
    },
    "AlterMetadataResourceLocationRequest": {
      "description": "Request message for DataprocMetastore.AlterMetadataResourceLocation.",
      "id": "AlterMetadataResourceLocationRequest",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Required. The relative metadata resource name in the following format.databases/{database_id} or databases/{database_id}/tables/{table_id} or databases/{database_id}/tables/{table_id}/partitions/{partition_id}"
        },
        "locationUri": {
          "type": "string",
          "description": "Required. The new location URI for the metadata resource."
        }
      },
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for TestIamPermissions method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the resource. Permissions with wildcards (such as * or storage.*) are not allowed. For more information see IAM Overview (https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "TestIamPermissionsRequest",
      "type": "object"
    },
    "MessageSet": {
      "id": "MessageSet",
      "properties": {},
      "description": "This is proto2's version of MessageSet.DEPRECATED: DO NOT USE FOR NEW FIELDS.If you are using editions or proto2, please make your own extendable messages for your use case. If you are using proto3, please use Any instead.MessageSet was the implementation of extensions for proto1. When proto2 was introduced, extensions were implemented as a first-class feature. This schema for MessageSet was meant to be a \"bridge\" solution to migrate MessageSet-bearing messages from proto1 to proto2.This schema has been open-sourced only to facilitate the migration of Google products with MessageSet-bearing messages to open-source environments.",
      "type": "object",
      "deprecated": true
    },
    "Restore": {
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the restore started.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The state of the metadata restore is unknown.",
            "The metadata restore is running.",
            "The metadata restore completed successfully.",
            "The metadata restore failed.",
            "The metadata restore is cancelled."
          ],
          "readOnly": true,
          "description": "Output only. The current state of the restore.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ]
        },
        "type": {
          "description": "Output only. The type of restore.",
          "enum": [
            "RESTORE_TYPE_UNSPECIFIED",
            "FULL",
            "METADATA_ONLY"
          ],
          "enumDescriptions": [
            "The restore type is unknown.",
            "The service's metadata and configuration are restored.",
            "Only the service's metadata is restored."
          ],
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time when the restore ended.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "backup": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The relative resource name of the metastore service backup to restore from, in the following form:projects/{project_id}/locations/{location_id}/services/{service_id}/backups/{backup_id}."
        },
        "backupLocation": {
          "description": "Optional. A Cloud Storage URI specifying where the backup artifacts are stored, in the format gs:///.",
          "type": "string"
        },
        "details": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The restore details containing the revision of the service to be restored to, in format of JSON."
        }
      },
      "description": "The details of a metadata restore operation.",
      "type": "object",
      "id": "Restore"
    },
    "AlterTablePropertiesRequest": {
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "A field mask that specifies the metadata table properties that are overwritten by the update. Fields specified in the update_mask are relative to the resource (not to the full request). A field is overwritten if it is in the mask.For example, given the target properties: properties { a: 1 b: 2 } And an update properties: properties { a: 2 b: 3 c: 4 } then if the field mask is:paths: \"properties.b\", \"properties.c\"then the result will be: properties { a: 1 b: 3 c: 4 } ",
          "format": "google-fieldmask"
        },
        "properties": {
          "description": "A map that describes the desired values to mutate. If update_mask is empty, the properties will not update. Otherwise, the properties only alters the value whose associated paths exist in the update mask",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "tableName": {
          "type": "string",
          "description": "Required. The name of the table containing the properties you're altering in the following format.databases/{database_id}/tables/{table_id}"
        }
      },
      "type": "object",
      "id": "AlterTablePropertiesRequest",
      "description": "Request message for DataprocMetastore.AlterTableProperties."
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.A Policy is a collection of bindings. A binding binds one or more members, or principals, to a single role. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A role is a named list of permissions; each role can be an IAM predefined role or a user-created custom role.For some types of Google Cloud resources, a binding can also specify a condition, which is a logical expression that allows access to a resource only if the expression evaluates to true. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).JSON example: { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } YAML example: bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the IAM documentation (https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "etag": {
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to getIamPolicy, and systems are expected to put that etag in the request to setIamPolicy to ensure that their change will be applied to the same version of the policy.Important: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of members, or principals, with a role. Optionally, may specify a condition that determines how and when the bindings are applied. Each of the bindings must contain at least one principal.The bindings in a Policy can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the bindings grant 50 different roles to user:alice@example.com, and not to any other principal, then you can add another 1,450 principals to the bindings in the Policy."
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy.Valid values are 0, 1, and 3. Requests that specify an invalid value are rejected.Any operation that affects conditional role bindings must specify version 3. This requirement applies to the following operations: Getting a policy that includes a conditional role binding Adding a conditional role binding to a policy Changing a conditional role binding in a policy Removing any role binding, with or without a condition, from a policy that includes conditionsImportant: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      }
    },
    "ScheduledBackup": {
      "type": "object",
      "id": "ScheduledBackup",
      "properties": {
        "latestBackup": {
          "$ref": "LatestBackup",
          "readOnly": true,
          "description": "Output only. The details of the latest scheduled backup."
        },
        "nextScheduledTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the next backups execution is scheduled to start."
        },
        "backupLocation": {
          "description": "Optional. A Cloud Storage URI of a folder, in the format gs:///. A sub-folder containing backup files will be stored below it.",
          "type": "string"
        },
        "timeZone": {
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the time zone database (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones), e.g. America/Los_Angeles or Africa/Abidjan. If left unspecified, the default is UTC.",
          "type": "string"
        },
        "cronSchedule": {
          "type": "string",
          "description": "Optional. The scheduled interval in Cron format, see https://en.wikipedia.org/wiki/Cron The default is empty: scheduled backup is not enabled. Must be specified to enable scheduled backups."
        },
        "enabled": {
          "description": "Optional. Defines whether the scheduled backup is enabled. The default value is false.",
          "type": "boolean"
        }
      },
      "description": "This specifies the configuration of scheduled backup."
    },
    "RootCACertificate": {
      "deprecated": true,
      "description": "Deprecated: Use a single region service instead. A gRPC client must install all root CA certificates to connect to a multi-regional Dataproc Metastore service and achieve failover.",
      "type": "object",
      "properties": {
        "certificate": {
          "description": "Deprecated: Use a single region service instead. The root CA certificate in PEM format. The maximum length is 65536 bytes.",
          "type": "string",
          "deprecated": true
        },
        "expirationTime": {
          "deprecated": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Deprecated: Use a single region service instead. The certificate expiration time in timestamp format."
        }
      },
      "id": "RootCACertificate"
    },
    "ExecutionPlan": {
      "description": "Represents the migration plan for a specific resource (e.g. Database, Table).",
      "id": "ExecutionPlan",
      "properties": {
        "reason": {
          "type": "string",
          "description": "A human-readable string explaining why the action was chosen."
        },
        "diffs": {
          "description": "A map of field names to their respective value diff.",
          "additionalProperties": {
            "$ref": "ValueDiff"
          },
          "type": "object"
        },
        "action": {
          "description": "The action that will be taken for a resource during migration.",
          "type": "string",
          "enumDescriptions": [
            "The action is unspecified.",
            "Resource missing; will be created.",
            "Resource exists at the target, but differs from the source; will be updated.",
            "Resource exists at the target; no changes will be made.",
            "Resource cannot be migrated due to a dependency failure (e.g., parent resource missing).",
            "Resource cannot be migrated due to an error during discovery."
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "SKIP",
            "DEPENDENCY_FAILURE",
            "ERROR"
          ]
        }
      },
      "type": "object"
    },
    "MigrationExecution": {
      "id": "MigrationExecution",
      "type": "object",
      "properties": {
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time when the migration execution finished.",
          "format": "google-datetime",
          "type": "string"
        },
        "biglakeMetastoreMigrationConfig": {
          "description": "Configuration information specific to migrating from Dataproc Metastore to BigLake Metastore.",
          "$ref": "BigLakeMetastoreMigrationConfig"
        },
        "phase": {
          "enumDescriptions": [
            "The phase of the migration execution is unknown.",
            "Replication phase refers to the migration phase when Dataproc Metastore is running a pipeline to replicate changes in the customer database to its backend database. During this phase, Dataproc Metastore uses the customer database as the hive metastore backend database.",
            "Cutover phase refers to the migration phase when Dataproc Metastore switches to using its own backend database. Migration enters this phase when customer is done migrating all their clusters/workloads to Dataproc Metastore and triggers CompleteMigration."
          ],
          "deprecated": true,
          "enum": [
            "PHASE_UNSPECIFIED",
            "REPLICATION",
            "CUTOVER"
          ],
          "description": "Output only. Deprecated: Phase was designed for incoming migrations to Dataproc Metastore, not applicable when migrating away from it. The current phase of the migration execution.",
          "type": "string",
          "readOnly": true
        },
        "stateMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information about the current state of the migration execution."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTING",
            "RUNNING",
            "CANCELLING",
            "AWAITING_USER_ACTION",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "DELETING",
            "ROLLED_BACK"
          ],
          "description": "Output only. The current state of the migration execution.",
          "enumDescriptions": [
            "The state of the migration execution is unknown.",
            "The migration execution is starting.",
            "The migration execution is running.",
            "The migration execution is in the process of being cancelled.",
            "The migration execution is awaiting user action.",
            "The migration execution has completed successfully.",
            "The migration execution has failed.",
            "The migration execution is cancelled.",
            "The migration execution is being deleted.",
            "The migration execution has been rolled back. This occurs when CancelMigration is invoked after the migration has completed and the metastore service is in the PROXY state, returning the service to the ACTIVE state. This enables rollback support when the customer wants to resume using DPMS after a successful migration."
          ],
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the migration execution was started.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. The relative resource name of the migration execution, in the following form: projects/{project_number}/locations/{location_id}/services/{service_id}/migrationExecutions/{migration_execution_id}",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "The details of a migration execution resource."
    },
    "StartMigrationRequest": {
      "id": "StartMigrationRequest",
      "description": "Request message for DataprocMetastore.StartMigration.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. A request ID. Specify a unique request ID to allow the server to ignore the request if it has completed. The server will ignore subsequent requests that provide a duplicate request ID for at least 60 minutes after the first request.For example, if an initial request times out, followed by another request with the same request ID, the server ignores the second request to prevent the creation of duplicate commitments.The request ID must be a valid UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier#Format) A zero UUID (00000000-0000-0000-0000-000000000000) is not supported."
        },
        "migrationExecutionId": {
          "description": "Optional. The ID to use for the migration execution, which will become the final component of the migration execution's resource name. If not specified, a UUID will be generated.This value must be between 2 and 63 characters long inclusive, begin with a letter, end with a letter or number, and valid characters are a-z0-9-.",
          "type": "string"
        },
        "migrationExecution": {
          "$ref": "MigrationExecution",
          "description": "Required. The configuration details for the migration."
        }
      },
      "type": "object"
    },
    "TableReport": {
      "type": "object",
      "id": "TableReport",
      "description": "Aggregated report at the table level.",
      "properties": {
        "executionResult": {
          "description": "The actual outcome of the table migration.",
          "$ref": "ExecutionResult"
        },
        "partitionReport": {
          "$ref": "PartitionReport",
          "description": "Report containing the results of partition migration for this table. This is only relevant for Hive Partitioned tables."
        },
        "partitionDiscoveredCount": {
          "format": "int64",
          "type": "string",
          "description": "The total number of partitions identified at the source during discovery. This is only relevant for Hive Partitioned tables."
        },
        "table": {
          "description": "The name of the table.",
          "type": "string"
        },
        "executionPlan": {
          "description": "The discovered intent for the table (what we found and what we planned).",
          "$ref": "ExecutionPlan"
        }
      }
    },
    "StatusProto": {
      "type": "object",
      "description": "Wire-format for a Status object",
      "properties": {
        "canonicalCode": {
          "description": "copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 canonical_code = 6;",
          "format": "int32",
          "type": "integer"
        },
        "messageSet": {
          "description": "message_set associates an arbitrary proto message with the status. copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional proto2.bridge.MessageSet message_set = 5;",
          "$ref": "MessageSet"
        },
        "space": {
          "type": "string",
          "description": "copybara:strip_begin(b/383363683) Space to which this status belongs copybara:strip_end_and_replace optional string space = 2; // Space to which this status belongs"
        },
        "message": {
          "type": "string",
          "description": "Detail message copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional string message = 3;"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "Numeric code drawn from the space specified below. Often, this is the canonical error space, and code is drawn from google3/util/task/codes.proto copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 code = 1;"
        }
      },
      "id": "StatusProto"
    },
    "TelemetryConfig": {
      "id": "TelemetryConfig",
      "type": "object",
      "properties": {
        "logFormat": {
          "description": "Optional. The output format of the Dataproc Metastore service's logs.",
          "enum": [
            "LOG_FORMAT_UNSPECIFIED",
            "LEGACY",
            "JSON"
          ],
          "type": "string",
          "enumDescriptions": [
            "The LOG_FORMAT is not set.",
            "Logging output uses the legacy textPayload format.",
            "Logging output uses the jsonPayload format."
          ]
        }
      },
      "description": "Telemetry Configuration for the Dataproc Metastore service."
    },
    "IcebergConfig": {
      "description": "Configuration for migrating Iceberg metadata.",
      "id": "IcebergConfig",
      "properties": {
        "catalog": {
          "description": "Required. The target catalog for migrated Iceberg metadata. Format: \"projects/{project_id_or_number}/catalogs/{catalog_id}\"",
          "type": "string"
        },
        "namespaces": {
          "type": "array",
          "description": "Required. The list of namespaces to migrate to the Iceberg REST catalog. Use \"*\" to migrate all namespaces. Note: If Hive tables exist in these namespaces, they will only be migrated if hive_config is also specified.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "MultiRegionMetadata": {
      "description": "Deprecated: Use a single region service instead. The metadata for the multi-region that includes the constituent regions. The metadata is only populated if the region is multi-region. For single region or custom dual region, it will be empty.",
      "deprecated": true,
      "type": "object",
      "id": "MultiRegionMetadata",
      "properties": {
        "constituentRegions": {
          "description": "The regions constituting the multi-region.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "witnessRegion": {
          "type": "string",
          "description": "The Spanner witness region for this multi-region."
        },
        "continent": {
          "description": "The continent for this multi-region.",
          "type": "string"
        }
      }
    },
    "CustomRegionConfig": {
      "description": "Deprecated: Use a single region service instead. Custom configuration used to specify regions that the metastore service runs in. Currently only supported in the us multi-region.",
      "properties": {
        "readWriteRegions": {
          "items": {
            "type": "string"
          },
          "description": "Required. The list of read-write regions where the metastore service runs in. These regions should be part (or subset) of the multi-region.",
          "type": "array"
        },
        "readOnlyRegions": {
          "type": "array",
          "description": "Optional. The list of read-only regions where the metastore service runs in. These regions should be part (or subset) of the multi-region.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CustomRegionConfig",
      "deprecated": true,
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "id": "Empty"
    },
    "ListFederationsResponse": {
      "id": "ListFederationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "federations": {
          "items": {
            "$ref": "Federation"
          },
          "description": "The services in the specified location.",
          "type": "array"
        }
      },
      "description": "Response message for ListFederations"
    },
    "Consumer": {
      "description": "Contains information of the customer's network configurations.",
      "type": "object",
      "properties": {
        "subnetwork": {
          "description": "Immutable. The subnetwork of the customer project from which an IP address is reserved and used as the Dataproc Metastore service's endpoint. It is accessible to hosts in the subnet and to all hosts in a subnet in the same region and same network. There must be at least one IP address available in the subnet's primary range. The subnet is specified in the following form:projects/{project_number}/regions/{region_id}/subnetworks/{subnetwork_id}",
          "type": "string"
        },
        "endpointLocation": {
          "type": "string",
          "description": "Output only. The location of the endpoint URI. Format: projects/{project}/locations/{location}.",
          "readOnly": true
        },
        "endpointUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URI of the endpoint used to access the metastore service."
        }
      },
      "id": "Consumer"
    },
    "MetadataIntegration": {
      "type": "object",
      "id": "MetadataIntegration",
      "description": "Specifies how metastore metadata should be integrated with external services.",
      "properties": {
        "dataplexConfig": {
          "description": "Optional. The integration config for the Dataplex service.",
          "$ref": "DataplexConfig"
        },
        "dataCatalogConfig": {
          "$ref": "DataCatalogConfig",
          "description": "Optional. The integration config for the Data Catalog service."
        }
      }
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "AlterMetadataResourceLocationResponse": {
      "type": "object",
      "description": "Response message for DataprocMetastore.AlterMetadataResourceLocation.",
      "properties": {},
      "id": "AlterMetadataResourceLocationResponse"
    },
    "ScalingConfig": {
      "type": "object",
      "description": "Represents the scaling configuration of a metastore service.",
      "id": "ScalingConfig",
      "properties": {
        "autoscalingConfig": {
          "$ref": "AutoscalingConfig",
          "description": "Optional. The autoscaling configuration."
        },
        "instanceSize": {
          "description": "An enum of readable instance sizes, with each instance size mapping to a float value (e.g. InstanceSize.EXTRA_SMALL = scaling_factor(0.1))",
          "enum": [
            "INSTANCE_SIZE_UNSPECIFIED",
            "EXTRA_SMALL",
            "SMALL",
            "MEDIUM",
            "LARGE",
            "EXTRA_LARGE"
          ],
          "enumDescriptions": [
            "Unspecified instance size",
            "Extra small instance size, maps to a scaling factor of 0.1.",
            "Small instance size, maps to a scaling factor of 0.5.",
            "Medium instance size, maps to a scaling factor of 1.0.",
            "Large instance size, maps to a scaling factor of 3.0.",
            "Extra large instance size, maps to a scaling factor of 6.0."
          ],
          "type": "string"
        },
        "scalingFactor": {
          "format": "float",
          "type": "number",
          "description": "Scaling factor, increments of 0.1 for values less than 1.0, and increments of 1.0 for values greater than 1.0."
        }
      }
    },
    "ValueDiff": {
      "id": "ValueDiff",
      "type": "object",
      "description": "A field-level metadata mismatch for a resource between the source and target.",
      "properties": {
        "sourceValue": {
          "type": "string",
          "description": "The value of the field at the source."
        },
        "targetValue": {
          "type": "string",
          "description": "The value of the field at the target."
        }
      }
    },
    "MoveTableToDatabaseResponse": {
      "description": "Response message for DataprocMetastore.MoveTableToDatabase.",
      "id": "MoveTableToDatabaseResponse",
      "properties": {},
      "type": "object"
    },
    "ListMetadataImportsResponse": {
      "properties": {
        "unreachable": {
          "items": {
[...]
