{
  "baseUrl": "https://metastore.googleapis.com/",
  "version_module": true,
  "version": "v1",
  "mtlsRootUrl": "https://metastore.mtls.googleapis.com/",
  "rootUrl": "https://metastore.googleapis.com/",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "description": "The Dataproc Metastore API is used to manage the lifecycle and configuration of metastore services.",
  "id": "metastore:v1",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "basePath": "",
  "title": "Dataproc Metastore API",
  "batchPath": "batch",
  "protocol": "rest",
  "revision": "20260901",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "Dataproc Metastore",
  "ownerDomain": "google.com",
  "schemas": {
    "TelemetryConfig": {
      "description": "Telemetry Configuration for the Dataproc Metastore service.",
      "type": "object",
      "id": "TelemetryConfig",
      "properties": {
        "logFormat": {
          "description": "Optional. The output format of the Dataproc Metastore service's logs.",
          "type": "string",
          "enum": [
            "LOG_FORMAT_UNSPECIFIED",
            "LEGACY",
            "JSON"
          ],
          "enumDescriptions": [
            "The LOG_FORMAT is not set.",
            "Logging output uses the legacy textPayload format.",
            "Logging output uses the jsonPayload format."
          ]
        }
      }
    },
    "HiveMetastoreConfig": {
      "id": "HiveMetastoreConfig",
      "properties": {
        "auxiliaryVersions": {
          "description": "Optional. A mapping of Hive metastore version to the auxiliary version configuration. When specified, a secondary Hive metastore service is created along with the primary service. All auxiliary versions must be less than the service's primary version. The key is the auxiliary service name and it must match the regular expression a-z?. This means that the first character must be a lowercase letter, and all the following characters must be hyphens, lowercase letters, or digits, except the last character, which cannot be a hyphen.",
          "additionalProperties": {
            "$ref": "AuxiliaryVersionConfig"
          },
          "type": "object"
        },
        "version": {
          "description": "Immutable. The Hive metastore schema version.",
          "type": "string"
        },
        "configOverrides": {
          "type": "object",
          "description": "Optional. A mapping of Hive metastore configuration key-value pairs to apply to the Hive metastore (configured in hive-site.xml). The mappings override system defaults (some keys cannot be overridden). These overrides are also applied to auxiliary versions and can be further customized in the auxiliary version's AuxiliaryVersionConfig.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "kerberosConfig": {
          "description": "Optional. Information used to configure the Hive metastore service as a service principal in a Kerberos realm. To disable Kerberos, use the UpdateService method and specify this field's path (hive_metastore_config.kerberos_config) in the request's update_mask while omitting this field from the request's service.",
          "$ref": "KerberosConfig"
        },
        "endpointProtocol": {
          "type": "string",
          "enum": [
            "ENDPOINT_PROTOCOL_UNSPECIFIED",
            "THRIFT",
            "GRPC"
          ],
          "enumDescriptions": [
            "The protocol is not set.",
            "Use the legacy Apache Thrift protocol for the metastore service endpoint.",
            "Use the modernized gRPC protocol for the metastore service endpoint."
          ],
          "description": "Optional. The protocol to use for the metastore service endpoint. If unspecified, defaults to THRIFT."
        }
      },
      "type": "object",
      "description": "Specifies configuration information specific to running Hive metastore software as the metastore service."
    },
    "LimitConfig": {
      "id": "LimitConfig",
      "properties": {
        "maxScalingFactor": {
          "type": "number",
          "description": "Optional. The highest scaling factor that the service should be autoscaled to.",
          "format": "float"
        },
        "minScalingFactor": {
          "type": "number",
          "format": "float",
          "description": "Optional. The lowest scaling factor that the service should be autoscaled to."
        }
      },
      "type": "object",
      "description": "Represents the autoscaling limit configuration of a metastore service."
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs.If there are AuditConfigs for both allServices and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted.Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, storage.googleapis.com, cloudsql.googleapis.com. allServices is a special value that covers all services."
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array"
        }
      }
    },
    "Service": {
      "id": "Service",
      "properties": {
        "scheduledBackup": {
          "description": "Optional. The configuration of scheduled backup for the metastore service.",
          "$ref": "ScheduledBackup"
        },
        "artifactGcsUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A Cloud Storage URI (starting with gs://) that specifies where artifacts related to the metastore service are stored."
        },
        "updateTime": {
          "description": "Output only. The time when the metastore service was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "description": "User-defined labels for the metastore service.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "endpointUri": {
          "description": "Output only. The URI of the endpoint used to access the metastore service.",
          "readOnly": true,
          "type": "string"
        },
        "networkConfig": {
          "description": "Optional. The configuration specifying the network settings for the Dataproc Metastore service.",
          "$ref": "NetworkConfig"
        },
        "scalingConfig": {
          "$ref": "ScalingConfig",
          "description": "Optional. Scaling configuration of the metastore service."
        },
        "tags": {
          "type": "object",
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\"",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadataIntegration": {
          "description": "Optional. The setting that defines how metastore metadata should be integrated with external services and systems.",
          "$ref": "MetadataIntegration"
        },
        "hiveMetastoreConfig": {
          "$ref": "HiveMetastoreConfig",
          "description": "Configuration information specific to running Hive metastore software as the metastore service."
        },
        "databaseType": {
          "description": "Immutable. The database type that the Metastore service stores its data.",
          "enumDescriptions": [
            "The DATABASE_TYPE is not set.",
            "MySQL is used to persist the metastore data.",
            "Spanner is used to persist the metastore data."
          ],
          "type": "string",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "MYSQL",
            "SPANNER"
          ]
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "UPDATING",
            "DELETING",
            "ERROR",
            "AUTOSCALING",
            "MIGRATING",
            "PROXY"
          ],
          "description": "Output only. The current state of the metastore service.",
          "enumDescriptions": [
            "The state of the metastore service is unknown.",
            "The metastore service is in the process of being created.",
            "The metastore service is running and ready to serve queries.",
            "The metastore service is entering suspension. Its query-serving availability may cease unexpectedly.",
            "The metastore service is suspended and unable to serve queries.",
            "The metastore service is being updated. It remains usable but cannot accept additional update requests or be deleted at this time.",
            "The metastore service is undergoing deletion. It cannot be used.",
            "The metastore service has encountered an error and cannot be used. The metastore service should be deleted.",
            "The Dataproc Metastore service 2 is being scaled up or down.",
            "The metastore service is processing a managed migration.",
            "The metastore service has completed managed migration and is now proxying requests to the Lakehouse runtime catalog."
          ],
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time when the metastore service was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "telemetryConfig": {
          "$ref": "TelemetryConfig",
          "description": "Optional. The configuration specifying telemetry settings for the Dataproc Metastore service. If unspecified defaults to JSON."
        },
        "deletionProtection": {
          "description": "Optional. Indicates if the dataproc metastore should be protected against accidental deletions.",
          "type": "boolean"
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The TCP port at which the metastore service is reached. Default: 9083."
        },
        "network": {
          "description": "Immutable. The relative resource name of the VPC network on which the instance can be accessed. It is specified in the following form:projects/{project_number}/global/networks/{network_id}.",
          "type": "string"
        },
        "stateMessage": {
          "description": "Output only. Additional information about the current state of the metastore service, if available.",
          "readOnly": true,
          "type": "string"
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Immutable. Information used to configure the Dataproc Metastore service to encrypt customer data at rest. Cannot be updated."
        },
        "tier": {
          "type": "string",
          "enum": [
            "TIER_UNSPECIFIED",
            "DEVELOPER",
            "ENTERPRISE"
          ],
          "enumDescriptions": [
            "The tier is not set.",
            "The developer tier provides limited scalability and no fault tolerance. Good for low-cost proof-of-concept.",
            "The enterprise tier provides multi-zone high availability, and sufficient scalability for enterprise-level Dataproc Metastore workloads."
          ],
          "description": "Optional. The tier of the service."
        },
        "releaseChannel": {
          "description": "Immutable. The release channel of the service. If unspecified, defaults to STABLE.",
          "enumDescriptions": [
            "Release channel is not specified.",
            "The CANARY release channel contains the newest features, which may be unstable and subject to unresolved issues with no known workarounds. Services using the CANARY release channel are not subject to any SLAs.",
            "The STABLE release channel contains features that are considered stable and have been validated for production use."
          ],
          "type": "string",
          "enum": [
            "RELEASE_CHANNEL_UNSPECIFIED",
            "CANARY",
            "STABLE"
          ]
        },
        "uid": {
          "type": "string",
          "description": "Output only. The globally unique resource identifier of the metastore service.",
          "readOnly": true
        },
        "name": {
          "description": "Immutable. Identifier. The relative resource name of the metastore service, in the following format:projects/{project_number}/locations/{location_id}/services/{service_id}.",
          "type": "string"
        },
        "metadataManagementActivity": {
          "readOnly": true,
          "description": "Output only. The metadata management activities of the metastore service.",
          "$ref": "MetadataManagementActivity"
        },
        "maintenanceWindow": {
          "$ref": "MaintenanceWindow",
          "description": "Optional. The one hour maintenance window of the metastore service. This specifies when the service can be restarted for maintenance purposes in UTC time. Maintenance window is not needed for services with the SPANNER database type."
        }
      },
      "type": "object",
      "description": "A managed metastore service that serves metadata queries."
    },
    "CancelMigrationRequest": {
      "type": "object",
      "description": "Request message for DataprocMetastore.CancelMigration.",
      "id": "CancelMigrationRequest",
      "properties": {}
    },
    "MoveTableToDatabaseResponse": {
      "properties": {},
      "type": "object",
      "id": "MoveTableToDatabaseResponse",
      "description": "Response message for DataprocMetastore.MoveTableToDatabase."
    },
    "ValueDiff": {
      "type": "object",
      "id": "ValueDiff",
      "description": "A field-level metadata mismatch for a resource between the source and target.",
      "properties": {
        "sourceValue": {
          "description": "The value of the field at the source.",
          "type": "string"
        },
        "targetValue": {
          "description": "The value of the field at the target.",
          "type": "string"
        }
      }
    },
    "TableReport": {
      "id": "TableReport",
      "description": "Aggregated report at the table level.",
      "type": "object",
      "properties": {
        "executionResult": {
          "$ref": "ExecutionResult",
          "description": "The actual outcome of the table migration."
        },
        "partitionDiscoveredCount": {
          "description": "The total number of partitions identified at the source during discovery. This is only relevant for Hive Partitioned tables.",
          "format": "int64",
          "type": "string"
        },
        "table": {
          "description": "The name of the table.",
          "type": "string"
        },
        "executionPlan": {
          "$ref": "ExecutionPlan",
          "description": "The discovered intent for the table (what we found and what we planned)."
        },
        "partitionReport": {
          "$ref": "PartitionReport",
          "description": "Report containing the results of partition migration for this table. This is only relevant for Hive Partitioned tables."
        }
      }
    },
    "CatalogReport": {
      "type": "object",
      "description": "Aggregated report at the catalog level.",
      "properties": {
        "catalog": {
          "description": "The name of the catalog (format: projects/*/catalogs/*).",
          "type": "string"
        },
        "databaseReports": {
          "description": "A map of database names to their respective reports.",
          "type": "object",
          "additionalProperties": {
            "$ref": "DatabaseReport"
          }
        },
        "catalogType": {
          "enumDescriptions": [
            "The catalog type is unspecified.",
            "BigLake Metastore Hive catalog.",
            "BigLake Metastore Iceberg REST catalog."
          ],
          "type": "string",
          "enum": [
            "CATALOG_TYPE_UNSPECIFIED",
            "HIVE",
            "ICEBERG"
          ],
          "description": "The type of catalog."
        }
      },
      "id": "CatalogReport"
    },
    "AuditLogConfig": {
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        }
      }
    },
    "Operation": {
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec.Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "MigrationSummary": {
      "description": "Summary of the migration results.",
      "id": "MigrationSummary",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The UTC time when this report was finalized.",
          "type": "string",
          "format": "google-datetime"
        },
        "catalogSummaries": {
          "description": "Output only. Summary of results for each catalog involved in the migration.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "CatalogSummary"
          }
        },
        "service": {
          "description": "Output only. The Dataproc Metastore service name (format: projects/*/locations/*/services/*) on which the migration was executed.",
          "type": "string",
          "readOnly": true
        },
        "dryRun": {
          "readOnly": true,
          "description": "Output only. Whether the migration was a dry run.",
          "type": "boolean"
        }
      }
    },
    "LatestBackup": {
      "type": "object",
      "description": "The details of the latest scheduled backup.",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup is in progress.",
            "The backup completed.",
            "The backup failed."
          ],
          "readOnly": true,
          "description": "Output only. The current state of the backup."
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. The time when the backup was started.",
          "type": "string",
          "format": "google-datetime"
        },
        "backupId": {
          "type": "string",
          "description": "Output only. The ID of an in-progress scheduled backup. Empty if no backup is in progress.",
          "readOnly": true
        },
        "duration": {
          "readOnly": true,
          "format": "google-duration",
          "type": "string",
          "description": "Output only. The duration of the backup completion."
        }
      },
      "id": "LatestBackup"
    },
    "ScalingConfig": {
      "type": "object",
      "description": "Represents the scaling configuration of a metastore service.",
      "properties": {
        "autoscalingConfig": {
          "$ref": "AutoscalingConfig",
          "description": "Optional. The autoscaling configuration."
        },
        "scalingFactor": {
          "type": "number",
          "format": "float",
          "description": "Scaling factor, increments of 0.1 for values less than 1.0, and increments of 1.0 for values greater than 1.0."
        },
        "instanceSize": {
          "description": "An enum of readable instance sizes, with each instance size mapping to a float value (e.g. InstanceSize.EXTRA_SMALL = scaling_factor(0.1))",
          "enumDescriptions": [
            "Unspecified instance size",
            "Extra small instance size, maps to a scaling factor of 0.1.",
            "Small instance size, maps to a scaling factor of 0.5.",
            "Medium instance size, maps to a scaling factor of 1.0.",
            "Large instance size, maps to a scaling factor of 3.0.",
            "Extra large instance size, maps to a scaling factor of 6.0."
          ],
          "type": "string",
          "enum": [
            "INSTANCE_SIZE_UNSPECIFIED",
            "EXTRA_SMALL",
            "SMALL",
            "MEDIUM",
            "LARGE",
            "EXTRA_LARGE"
          ]
        }
      },
      "id": "ScalingConfig"
    },
    "QueryMetadataRequest": {
      "type": "object",
      "description": "Request message for DataprocMetastore.QueryMetadata.",
      "id": "QueryMetadataRequest",
      "properties": {
        "query": {
          "type": "string",
          "description": "Required. A read-only SQL query to execute against the metadata database. The query cannot change or mutate the data."
        }
      }
    },
    "MigrationReport": {
      "description": "Report containing the results of a migration run. This report is generated at the specified path in the BigLakeMetastoreMigrationConfig after the backfill is complete, or when a dry run is executed.",
      "type": "object",
      "properties": {
        "summary": {
          "description": "Output only. High-level summary of the migration results.",
          "$ref": "MigrationSummary",
          "readOnly": true
        },
        "catalogReports": {
          "description": "Output only. Detailed results for each catalog involved in the migration.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "CatalogReport"
          }
        }
      },
      "id": "MigrationReport"
    },
    "PartitionReport": {
      "id": "PartitionReport",
      "properties": {
        "partitionSuccessCount": {
          "description": "The number of partitions successfully migrated at the target.",
          "format": "int64",
          "type": "string"
        },
        "partitionFailedCount": {
          "format": "int64",
          "description": "The number of partitions that failed to migrate at the target.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the partition migration.",
          "enumDescriptions": [
            "The state is unspecified.",
            "All partitions migrated successfully at the target.",
            "Some partitions migrated successfully at the target, but others failed.",
            "All partitions failed to migrate at the target."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "PARTIALLY_SUCCEEDED",
            "FAILED"
          ]
        }
      },
      "type": "object",
      "description": "Partition migration report for a Hive table."
    },
    "Secret": {
      "description": "A securely stored value.",
      "id": "Secret",
      "type": "object",
      "properties": {
        "cloudSecret": {
          "description": "Optional. The relative resource name of a Secret Manager secret version, in the following form:projects/{project_number}/secrets/{secret_id}/versions/{version_id}.",
          "type": "string"
        }
      }
    },
    "DatabaseSummary": {
      "type": "object",
      "properties": {
        "planAction": {
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "SKIP",
            "DEPENDENCY_FAILURE",
            "ERROR"
          ],
          "description": "Output only. The migration plan action for the database.",
          "enumDescriptions": [
            "The action is unspecified.",
            "Resource missing; will be created.",
            "Resource exists at the target, but differs from the source; will be updated.",
            "Resource exists at the target; no changes will be made.",
            "Resource cannot be migrated due to a dependency failure (e.g., parent resource missing).",
            "Resource cannot be migrated due to an error during discovery."
          ],
          "readOnly": true
        },
        "tableSummary": {
          "description": "Output only. Aggregated summary of results for all tables in the database.",
          "readOnly": true,
          "$ref": "TableSummary"
        },
        "database": {
          "description": "Output only. The name of the database.",
          "type": "string",
          "readOnly": true
        },
        "resultStatus": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "SKIPPED"
          ],
          "description": "Output only. The migration result status for the database. This is only set if the migration is not a dry run.",
          "enumDescriptions": [
            "The state is unspecified.",
            "The resource was migrated successfully.",
            "The resource failed to migrate.",
            "The resource was skipped and will not be migrated."
          ]
        }
      },
      "id": "DatabaseSummary",
      "description": "Summary of results for a specific database in a catalog."
    },
    "AlterMetadataResourceLocationResponse": {
      "properties": {},
      "id": "AlterMetadataResourceLocationResponse",
      "type": "object",
      "description": "Response message for DataprocMetastore.AlterMetadataResourceLocation."
    },
    "CompleteMigrationRequest": {
      "properties": {},
      "description": "Request message for DataprocMetastore.CompleteMigration.",
      "type": "object",
      "id": "CompleteMigrationRequest"
    },
    "AuxiliaryVersionConfig": {
      "type": "object",
      "description": "Configuration information for the auxiliary service versions.",
      "id": "AuxiliaryVersionConfig",
      "properties": {
        "version": {
          "description": "Optional. The Hive metastore version of the auxiliary service. It must be less than the primary Hive metastore service's version.",
          "type": "string"
        },
        "networkConfig": {
          "description": "Output only. The network configuration contains the endpoint URI(s) of the auxiliary Hive metastore service.",
          "$ref": "NetworkConfig",
          "readOnly": true
        },
        "configOverrides": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A mapping of Hive metastore configuration key-value pairs to apply to the auxiliary Hive metastore (configured in hive-site.xml) in addition to the primary version's overrides. If keys are present in both the auxiliary version's overrides and the primary version's overrides, the value from the auxiliary version's overrides takes precedence."
        }
      }
    },
    "MessageSet": {
      "description": "This is proto2's version of MessageSet.DEPRECATED: DO NOT USE FOR NEW FIELDS.If you are using editions or proto2, please make your own extendable messages for your use case. If you are using proto3, please use Any instead.MessageSet was the implementation of extensions for proto1. When proto2 was introduced, extensions were implemented as a first-class feature. This schema for MessageSet was meant to be a \"bridge\" solution to migrate MessageSet-bearing messages from proto1 to proto2.This schema has been open-sourced only to facilitate the migration of Google products with MessageSet-bearing messages to open-source environments.",
      "deprecated": true,
      "type": "object",
      "id": "MessageSet",
      "properties": {}
    },
    "CustomRegionMetadata": {
      "deprecated": true,
      "description": "Deprecated: Use a single region service instead. Metadata about a custom region. This is only populated if the region is a custom region. For single/multi regions, it will be empty.",
      "id": "CustomRegionMetadata",
      "type": "object",
      "properties": {
        "witnessRegion": {
          "description": "The Spanner witness region for this custom region.",
          "type": "string"
        },
        "requiredReadWriteRegions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The read-write regions for this custom region."
        },
        "optionalReadOnlyRegions": {
          "description": "The read-only regions for this custom region.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for SetIamPolicy method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the resource. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used:paths: \"bindings, etag\"",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ScheduledBackup": {
      "id": "ScheduledBackup",
      "type": "object",
      "properties": {
        "cronSchedule": {
          "description": "Optional. The scheduled interval in Cron format, see https://en.wikipedia.org/wiki/Cron The default is empty: scheduled backup is not enabled. Must be specified to enable scheduled backups.",
          "type": "string"
        },
        "backupLocation": {
          "description": "Optional. A Cloud Storage URI of a folder, in the format gs:///. A sub-folder containing backup files will be stored below it.",
          "type": "string"
        },
        "nextScheduledTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the next backups execution is scheduled to start."
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the time zone database (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones), e.g. America/Los_Angeles or Africa/Abidjan. If left unspecified, the default is UTC."
        },
        "latestBackup": {
          "description": "Output only. The details of the latest scheduled backup.",
          "readOnly": true,
          "$ref": "LatestBackup"
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Defines whether the scheduled backup is enabled. The default value is false."
        }
      },
      "description": "This specifies the configuration of scheduled backup."
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the caller has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to Code.CANCELLED."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Represents the metadata of a long-running operation."
    },
    "Restore": {
      "description": "The details of a metadata restore operation.",
      "id": "Restore",
      "type": "object",
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The state of the metadata restore is unknown.",
            "The metadata restore is running.",
            "The metadata restore completed successfully.",
            "The metadata restore failed.",
            "The metadata restore is cancelled."
          ],
          "description": "Output only. The current state of the restore.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ]
        },
        "backup": {
          "readOnly": true,
          "description": "Output only. The relative resource name of the metastore service backup to restore from, in the following form:projects/{project_id}/locations/{location_id}/services/{service_id}/backups/{backup_id}.",
          "type": "string"
        },
        "details": {
          "description": "Output only. The restore details containing the revision of the service to be restored to, in format of JSON.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "enumDescriptions": [
            "The restore type is unknown.",
            "The service's metadata and configuration are restored.",
            "Only the service's metadata is restored."
          ],
          "description": "Output only. The type of restore.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "RESTORE_TYPE_UNSPECIFIED",
            "FULL",
            "METADATA_ONLY"
          ]
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the restore ended."
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the restore started.",
          "format": "google-datetime"
        },
        "backupLocation": {
          "description": "Optional. A Cloud Storage URI specifying where the backup artifacts are stored, in the format gs:///.",
          "type": "string"
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates members, or principals, with a role.",
      "type": "object",
      "properties": {
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. members can have the following values: allUsers: A special identifier that represents anyone who is on the internet; with or without a Google account. allAuthenticatedUsers: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. user:{emailid}: An email address that represents a specific Google account. For example, alice@example.com . serviceAccount:{emailid}: An email address that represents a Google service account. For example, my-other-app@appspot.gserviceaccount.com. serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]: An identifier for a Kubernetes service account (https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, my-project.svc.id.goog[my-namespace/my-kubernetes-sa]. group:{emailid}: An email address that represents a Google group. For example, admins@example.com. domain:{domain}: The G Suite domain (primary) that represents all the users of that domain. For example, google.com or example.com. principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}: A single identity in a workforce identity pool. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}: All workforce identities in a group. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}: All workforce identities with a specific attribute value. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*: All identities in a workforce identity pool. principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}: A single identity in a workload identity pool. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}: A workload identity pool group. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}: All identities in a workload identity pool with a certain attribute. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*: All identities in a workload identity pool. deleted:user:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a user that has been recently deleted. For example, alice@example.com?uid=123456789012345678901. If the user is recovered, this value reverts to user:{emailid} and the recovered user retains the role in the binding. deleted:serviceAccount:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901. If the service account is undeleted, this value reverts to serviceAccount:{emailid} and the undeleted service account retains the role in the binding. deleted:group:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, admins@example.com?uid=123456789012345678901. If the group is recovered, this value reverts to group:{emailid} and the recovered group retains the role in the binding. deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}: Deleted single identity in a workforce identity pool. For example, deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of members, or principals. For example, roles/viewer, roles/editor, or roles/owner.For an overview of the IAM roles and permissions, see the IAM documentation (https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see here (https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "condition": {
          "description": "The condition that is associated with this binding.If the condition evaluates to true, then this binding applies to the current request.If the condition evaluates to false, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      }
    },
    "ListServicesResponse": {
      "description": "Response message for DataprocMetastore.ListServices.",
      "id": "ListServicesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "services": {
          "type": "array",
          "items": {
            "$ref": "Service"
          },
          "description": "The services in the specified location."
        }
      }
    },
    "KerberosConfig": {
      "properties": {
        "principal": {
          "type": "string",
          "description": "Optional. A Kerberos principal that exists in the both the keytab the KDC to authenticate as. A typical principal is of the form primary/instance@REALM, but there is no exact format."
        },
        "keytab": {
          "$ref": "Secret",
          "description": "Optional. A Kerberos keytab file that can be used to authenticate a service principal with a Kerberos Key Distribution Center (KDC)."
        },
        "krb5ConfigGcsUri": {
          "type": "string",
          "description": "Optional. A Cloud Storage URI that specifies the path to a krb5.conf file. It is of the form gs://{bucket_name}/path/to/krb5.conf, although the file does not need to be named krb5.conf explicitly."
        }
      },
      "type": "object",
      "id": "KerberosConfig",
      "description": "Configuration information for a Kerberos principal."
    },
    "AlterTablePropertiesRequest": {
      "properties": {
        "properties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map that describes the desired values to mutate. If update_mask is empty, the properties will not update. Otherwise, the properties only alters the value whose associated paths exist in the update mask",
          "type": "object"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "A field mask that specifies the metadata table properties that are overwritten by the update. Fields specified in the update_mask are relative to the resource (not to the full request). A field is overwritten if it is in the mask.For example, given the target properties: properties { a: 1 b: 2 } And an update properties: properties { a: 2 b: 3 c: 4 } then if the field mask is:paths: \"properties.b\", \"properties.c\"then the result will be: properties { a: 1 b: 3 c: 4 } "
        },
        "tableName": {
          "type": "string",
          "description": "Required. The name of the table containing the properties you're altering in the following format.databases/{database_id}/tables/{table_id}"
        }
      },
      "id": "AlterTablePropertiesRequest",
      "description": "Request message for DataprocMetastore.AlterTableProperties.",
      "type": "object"
    },
    "ListBackupsResponse": {
      "id": "ListBackupsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "backups": {
          "type": "array",
          "items": {
            "$ref": "Backup"
          },
          "description": "The backups of the specified service."
        }
      },
      "description": "Response message for DataprocMetastore.ListBackups."
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "type": "object",
      "id": "Status",
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors)."
    },
    "LocationMetadata": {
      "properties": {
        "multiRegionMetadata": {
          "description": "Deprecated: Use a single region service instead. The multi-region metadata if the current region is a multi-region.",
          "deprecated": true,
          "$ref": "MultiRegionMetadata"
        },
        "supportedHiveMetastoreVersions": {
          "type": "array",
          "description": "The versions of Hive Metastore that can be used when creating a new metastore service in this location. The server guarantees that exactly one HiveMetastoreVersion in the list will set is_default.",
          "items": {
            "$ref": "HiveMetastoreVersion"
          }
        },
        "customRegionMetadata": {
          "items": {
            "$ref": "CustomRegionMetadata"
          },
          "description": "Deprecated: Use a single region service instead. Possible configurations supported if the current region is a custom region.",
          "deprecated": true,
          "type": "array"
        }
      },
      "id": "LocationMetadata",
      "type": "object",
      "description": "Metadata about the service in a location."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets ListOperationsRequest.return_partial_success and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "type": "object",
      "id": "ListOperationsResponse"
    },
    "IcebergConfig": {
      "properties": {
        "namespaces": {
          "description": "Required. The list of namespaces to migrate to the Iceberg REST catalog. Use \"*\" to migrate all namespaces. Note: If Hive tables exist in these namespaces, they will only be migrated if hive_config is also specified.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "catalog": {
          "type": "string",
          "description": "Required. The target catalog for migrated Iceberg metadata. Format: \"projects/{project_id_or_number}/catalogs/{catalog_id}\""
        }
      },
      "id": "IcebergConfig",
      "description": "Configuration for migrating Iceberg metadata.",
      "type": "object"
    },
    "BackfillStatus": {
      "properties": {
        "reportPath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Cloud Storage path where the backfill or dry run report is written. Format: \"gs://path-to-report\"."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. The current state of the backfill (or dry run).",
          "readOnly": true,
          "enumDescriptions": [
            "The backfill state is unspecified.",
            "Waiting to start.",
            "Backfill in progress.",
            "Backfill complete, report is available",
            "Backfill failed; check report for details"
          ]
        },
        "migrationSummary": {
          "readOnly": true,
          "$ref": "MigrationSummary",
          "description": "Output only. Summary of the migration results. This is populated after the backfill or dry run is finished."
        }
      },
      "id": "BackfillStatus",
      "description": "Backfill status for the migration execution.",
      "type": "object"
    },
    "HiveMetastoreVersion": {
      "id": "HiveMetastoreVersion",
      "description": "A specification of a supported version of the Hive Metastore software.",
      "type": "object",
      "properties": {
        "version": {
          "description": "The semantic version of the Hive Metastore software.",
          "type": "string"
        },
        "isDefault": {
          "description": "Whether version will be chosen by the server if a metastore service is created with a HiveMetastoreConfig that omits the version.",
          "type": "boolean"
        }
      }
    },
    "BackendMetastore": {
      "id": "BackendMetastore",
      "type": "object",
      "description": "Represents a backend metastore for the federation.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The relative resource name of the metastore that is being federated. The formats of the relative resource names for the currently supported metastores are listed below: BigQuery projects/{project_id} Dataproc Metastore projects/{project_id}/locations/{location}/services/{service_id}"
        },
        "metastoreType": {
          "type": "string",
          "enum": [
            "METASTORE_TYPE_UNSPECIFIED",
            "BIGQUERY",
            "DATAPROC_METASTORE"
          ],
          "description": "The type of the backend metastore.",
          "enumDescriptions": [
            "The metastore type is not set.",
            "The backend metastore is BigQuery.",
            "The backend metastore is Dataproc Metastore."
          ]
        }
      }
    },
    "AlterMetadataResourceLocationRequest": {
      "type": "object",
      "id": "AlterMetadataResourceLocationRequest",
      "description": "Request message for DataprocMetastore.AlterMetadataResourceLocation.",
      "properties": {
        "locationUri": {
          "type": "string",
          "description": "Required. The new location URI for the metadata resource."
        },
        "resourceName": {
          "description": "Required. The relative metadata resource name in the following format.databases/{database_id} or databases/{database_id}/tables/{table_id} or databases/{database_id}/tables/{table_id}/partitions/{partition_id}",
          "type": "string"
        }
      }
    },
    "TableSummary": {
      "description": "Aggregated summary of results for all tables in a database.",
      "id": "TableSummary",
      "properties": {
        "partitionSuccessCount": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The total number of partitions successfully migrated at the target."
        },
        "partitionFailedCount": {
          "description": "Output only. The total number of partitions that failed to migrate at the target.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "planCounts": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "description": "Output only. Number of tables with a specific migration plan action. The key is the action name (e.g. CREATE, UPDATE, SKIP, etc.).",
          "readOnly": true
        },
        "partitionDiscoveredCount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Partition migration summary across all Hive tables in the database.The total number of partitions discovered at the source.",
          "format": "int64"
        },
        "resultCounts": {
          "type": "object",
          "description": "Output only. Number of tables with a specific migration result status. The key is the status name (e.g. SUCCEEDED, FAILED, SKIPPED, etc.). This is only set if the migration is not a dry run.",
          "readOnly": true,
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "type": "object"
    },
    "DatabaseDump": {
      "properties": {
        "sourceDatabase": {
          "description": "Optional. The name of the source database.",
          "deprecated": true,
          "type": "string"
        },
        "databaseType": {
          "description": "The type of the database.",
          "deprecated": true,
          "type": "string",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "MYSQL"
          ],
          "enumDescriptions": [
            "The type of the source database is unknown.",
            "The type of the source database is MySQL."
          ]
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MYSQL",
            "AVRO"
          ],
          "description": "Optional. The type of the database dump. If unspecified, defaults to MYSQL.",
          "enumDescriptions": [
            "The type of the database dump is unknown.",
            "Database dump is a MySQL dump file.",
            "Database dump contains Avro files."
          ]
        },
        "gcsUri": {
          "type": "string",
          "description": "Optional. A Cloud Storage object or folder URI that specifies the source from which to import metadata. It must begin with gs://."
        }
      },
      "description": "A specification of the location of and metadata about a database dump from a relational database management system.",
      "id": "DatabaseDump",
      "type": "object"
    },
    "Consumer": {
      "type": "object",
      "description": "Contains information of the customer's network configurations.",
      "id": "Consumer",
      "properties": {
        "endpointUri": {
          "description": "Output only. The URI of the endpoint used to access the metastore service.",
          "readOnly": true,
          "type": "string"
        },
        "subnetwork": {
          "description": "Immutable. The subnetwork of the customer project from which an IP address is reserved and used as the Dataproc Metastore service's endpoint. It is accessible to hosts in the subnet and to all hosts in a subnet in the same region and same network. There must be at least one IP address available in the subnet's primary range. The subnet is specified in the following form:projects/{project_number}/regions/{region_id}/subnetworks/{subnetwork_id}",
          "type": "string"
        },
        "endpointLocation": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The location of the endpoint URI. Format: projects/{project}/locations/{location}."
        }
      }
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "Location": {
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: \"projects/example-project/locations/us-east1\"",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"} ",
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: \"us-east1\".",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object"
    },
    "CatalogSummary": {
      "type": "object",
      "properties": {
        "catalogType": {
          "enumDescriptions": [
            "The catalog type is unspecified.",
            "BigLake Metastore Hive catalog.",
            "BigLake Metastore Iceberg REST catalog."
          ],
          "readOnly": true,
          "description": "Output only. The type of the catalog.",
          "type": "string",
          "enum": [
            "CATALOG_TYPE_UNSPECIFIED",
            "HIVE",
            "ICEBERG"
          ]
        },
        "catalog": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The catalog resource name (format: projects/*/catalogs/*)."
        },
        "databaseSummaries": {
          "readOnly": true,
          "description": "Output only. Summary of results for each database in the catalog.",
          "items": {
            "$ref": "DatabaseSummary"
          },
          "type": "array"
        }
      },
      "id": "CatalogSummary",
      "description": "Summary of results for a specific destination catalog."
    },
    "MetadataIntegration": {
      "id": "MetadataIntegration",
      "type": "object",
      "properties": {
        "dataCatalogConfig": {
          "description": "Optional. The integration config for the Data Catalog service.",
          "$ref": "DataCatalogConfig"
        }
      },
      "description": "Specifies how metastore metadata should be integrated with external services."
    },
    "ExecutionResult": {
      "type": "object",
      "id": "ExecutionResult",
      "description": "Represents the actual migration result for a specific resource (e.g. Database, Table).",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "Description of the error if the state is FAILED."
        },
        "remediation": {
          "type": "string",
          "description": "Remediation steps for the error if the state is FAILED."
        },
        "state": {
          "enumDescriptions": [
            "The state is unspecified.",
            "The resource was migrated successfully.",
            "The resource failed to migrate.",
            "The resource was skipped and will not be migrated."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "SKIPPED"
          ],
          "description": "Output only. The state of the migration for a resource."
        }
      }
    },
    "ListMigrationExecutionsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "migrationExecutions": {
          "items": {
            "$ref": "MigrationExecution"
          },
          "type": "array",
          "description": "The migration executions on the specified service."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "description": "Response message for DataprocMetastore.ListMigrationExecutions.",
      "id": "ListMigrationExecutionsResponse"
    },
    "AutoscalingConfig": {
      "description": "Represents the autoscaling configuration of a metastore service.",
      "type": "object",
      "properties": {
        "limitConfig": {
          "$ref": "LimitConfig",
          "description": "Optional. The LimitConfig of the service."
        },
        "autoscalingFactor": {
          "description": "Output only. The scaling factor of a service with autoscaling enabled.",
          "format": "float",
          "type": "number",
          "readOnly": true
        },
        "autoscalingEnabled": {
          "description": "Optional. Whether or not autoscaling is enabled for this service.",
          "type": "boolean"
        }
      },
      "id": "AutoscalingConfig"
    },
    "ListMetadataImportsResponse": {
      "id": "ListMetadataImportsResponse",
      "type": "object",
      "properties": {
        "metadataImports": {
          "description": "The imports in the specified service.",
          "items": {
            "$ref": "MetadataImport"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "description": "Response message for DataprocMetastore.ListMetadataImports."
    },
    "DatabaseReport": {
      "properties": {
        "executionPlan": {
          "$ref": "ExecutionPlan",
          "description": "The discovered intent for the database (what we found and what we planned)."
        },
        "tableReports": {
          "description": "A map of table names to their respective reports.",
          "type": "object",
          "additionalProperties": {
            "$ref": "TableReport"
          }
        },
        "executionResult": {
          "description": "The actual outcome of the database migration.",
          "$ref": "ExecutionResult"
        },
        "database": {
          "type": "string",
          "description": "The name of the database."
        }
      },
      "id": "DatabaseReport",
      "type": "object",
      "description": "Aggregated report at the database level."
    },
    "HiveConfig": {
      "properties": {
        "catalog": {
          "description": "Required. The target catalog for migrated databases and tables. Format: \"projects/{project_id_or_number}/catalogs/{catalog_id}\"",
          "type": "string"
        },
        "databases": {
          "description": "Required. The list of databases to migrate to the Hive catalog. Use \"*\" to migrate all databases. Note: If Iceberg tables exist in these databases, they will only be migrated if iceberg_config is also specified.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "HiveConfig",
      "description": "Configuration for migrating Hive metadata."
    },
    "ExportMetadataRequest": {
      "id": "ExportMetadataRequest",
      "type": "object",
      "description": "Request message for DataprocMetastore.ExportMetadata.",
      "properties": {
        "destinationGcsFolder": {
          "type": "string",
          "description": "A Cloud Storage URI of a folder, in the format gs:///. A sub-folder containing exported files will be created below it."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. A request ID. Specify a unique request ID to allow the server to ignore the request if it has completed. The server will ignore subsequent requests that provide a duplicate request ID for at least 60 minutes after the first request.For example, if an initial request times out, followed by another request with the same request ID, the server ignores the second request to prevent the creation of duplicate commitments.The request ID must be a valid UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier#Format). A zero UUID (00000000-0000-0000-0000-000000000000) is not supported."
        },
        "databaseDumpType": {
          "description": "Optional. The type of the database dump. If unspecified, defaults to MYSQL.",
          "enumDescriptions": [
            "The type of the database dump is unknown.",
            "Database dump is a MySQL dump file.",
            "Database dump contains Avro files."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MYSQL",
            "AVRO"
          ]
        }
      }
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "A subset of TestPermissionsRequest.permissions that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "description": "Response message for TestIamPermissions method."
    },
    "RestoreServiceRequest": {
      "properties": {
        "backup": {
          "description": "Optional. The relative resource name of the metastore service backup to restore from, in the following form:projects/{project_id}/locations/{location_id}/services/{service_id}/backups/{backup_id}. Mutually exclusive with backup_location, and exactly one of the two must be set.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. A request ID. Specify a unique request ID to allow the server to ignore the request if it has completed. The server will ignore subsequent requests that provide a duplicate request ID for at least 60 minutes after the first request.For example, if an initial request times out, followed by another request with the same request ID, the server ignores the second request to prevent the creation of duplicate commitments.The request ID must be a valid UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier#Format). A zero UUID (00000000-0000-0000-0000-000000000000) is not supported.",
          "type": "string"
        },
        "restoreType": {
          "type": "string",
          "enum": [
            "RESTORE_TYPE_UNSPECIFIED",
            "FULL",
            "METADATA_ONLY"
          ],
          "description": "Optional. The type of restore. If unspecified, defaults to METADATA_ONLY.",
          "enumDescriptions": [
            "The restore type is unknown.",
            "The service's metadata and configuration are restored.",
            "Only the service's metadata is restored."
          ]
        },
        "backupLocation": {
          "type": "string",
          "description": "Optional. A Cloud Storage URI specifying the location of the backup artifacts, namely - backup avro files under \"avro/\", backup_metastore.json and service.json, in the following form:gs://. Mutually exclusive with backup, and exactly one of the two must be set."
        }
      },
      "id": "RestoreServiceRequest",
      "type": "object",
      "description": "Request message for DataprocMetastore.RestoreService."
    },
    "MoveTableToDatabaseRequest": {
      "type": "object",
      "properties": {
        "destinationDbName": {
          "description": "Required. The name of the database where the table should be moved.",
          "type": "string"
        },
        "dbName": {
          "description": "Required. The name of the database where the table resides.",
          "type": "string"
        },
        "tableName": {
          "description": "Required. The name of the table to be moved.",
          "type": "string"
        }
      },
      "id": "MoveTableToDatabaseRequest",
      "description": "Request message for DataprocMetastore.MoveTableToDatabase."
    },
    "Backup": {
      "description": "The details of a backup resource.",
      "id": "Backup",
      "properties": {
        "endTime": {
          "description": "Output only. The time when the backup finished creating.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "serviceRevision": {
          "description": "Output only. The revision of the service at the time of backup.",
          "readOnly": true,
          "$ref": "Service"
        },
        "name": {
          "description": "Immutable. Identifier. The relative resource name of the backup, in the following form:projects/{project_number}/locations/{location_id}/services/{service_id}/backups/{backup_id}",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "DELETING",
            "ACTIVE",
            "FAILED",
            "RESTORING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup is being created.",
            "The backup is being deleted.",
            "The backup is active and ready to use.",
            "The backup failed.",
            "The backup is being restored."
          ],
          "description": "Output only. The current state of the backup."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the backup was started."
        },
        "restoringServices": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Services that are restoring from the backup.",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. The description of the backup.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EncryptionConfig": {
      "id": "EncryptionConfig",
      "type": "object",
      "description": "Encryption settings for the service.",
      "properties": {
        "kmsKey": {
          "description": "Optional. The fully qualified customer provided Cloud KMS key name to use for customer data encryption, in the following format:projects/{project_number}/locations/{location_id}/keyRings/{key_ring_id}/cryptoKeys/{crypto_key_id}.",
          "type": "string"
        }
      }
    },
    "MetadataImport": {
      "description": "A metastore resource that imports metadata.",
      "id": "MetadataImport",
      "type": "object",
      "properties": {
        "databaseDump": {
          "$ref": "DatabaseDump",
          "description": "Immutable. A database dump from a pre-existing metastore's database."
        },
        "endTime": {
          "description": "Output only. The time when the metadata import finished.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The time when the metadata import was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "UPDATING",
            "FAILED"
          ],
          "enumDescriptions": [
            "The state of the metadata import is unknown.",
            "The metadata import is running.",
            "The metadata import completed successfully.",
            "The metadata import is being updated.",
            "The metadata import failed, and attempted metadata changes were rolled back."
          ],
          "description": "Output only. The current state of the metadata import."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The relative resource name of the metadata import, of the form:projects/{project_number}/locations/{location_id}/services/{service_id}/metadataImports/{metadata_import_id}."
        },
        "createTime": {
          "description": "Output only. The time when the metadata import was started.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. The description of the metadata import.",
          "type": "string"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "description": "Request message for TestIamPermissions method.",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the resource. Permissions with wildcards (such as * or storage.*) are not allowed. For more information see IAM Overview (https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsRequest"
    },
    "DataCatalogConfig": {
      "type": "object",
      "id": "DataCatalogConfig",
      "description": "Specifies how metastore metadata should be integrated with the Data Catalog service.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Optional. Defines whether the metastore metadata should be synced to Data Catalog. The default value is to disable syncing metastore metadata to Data Catalog."
        }
      }
    },
    "MetadataExport": {
      "type": "object",
      "description": "The details of a metadata export operation.",
      "properties": {
        "startTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the export started."
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The current state of the export.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "The state of the metadata export is unknown.",
            "The metadata export is running.",
            "The metadata export completed successfully.",
            "The metadata export failed.",
            "The metadata export is cancelled."
          ]
        },
        "destinationGcsUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A Cloud Storage URI of a folder that metadata are exported to, in the form of gs:////, where is automatically generated."
        },
        "databaseDumpType": {
          "readOnly": true,
          "description": "Output only. The type of the database dump.",
          "enumDescriptions": [
            "The type of the database dump is unknown.",
            "Database dump is a MySQL dump file.",
            "Database dump contains Avro files."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MYSQL",
            "AVRO"
          ]
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the export ended."
        }
      },
      "id": "MetadataExport"
    },
    "ErrorDetails": {
      "properties": {
        "details": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Additional structured details about this error.Keys define the failure items. Value describes the exception or details of the item."
        }
      },
      "id": "ErrorDetails",
      "type": "object",
      "description": "Error details in public error message for DataprocMetastore.QueryMetadata."
    },
    "ListFederationsResponse": {
      "id": "ListFederationsResponse",
      "type": "object",
      "description": "Response message for ListFederations",
      "properties": {
        "federations": {
          "items": {
            "$ref": "Federation"
          },
          "description": "The services in the specified location.",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "MigrationExecution": {
      "description": "The details of a migration execution resource.",
      "type": "object",
      "properties": {
        "stateMessage": {
          "type": "string",
          "description": "Output only. Additional information about the current state of the migration execution.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time when the migration execution finished.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTING",
            "RUNNING",
            "CANCELLING",
            "AWAITING_USER_ACTION",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "DELETING",
            "ROLLED_BACK"
          ],
          "description": "Output only. The current state of the migration execution.",
          "enumDescriptions": [
            "The state of the migration execution is unknown.",
            "The migration execution is starting.",
            "The migration execution is running.",
            "The migration execution is in the process of being cancelled.",
            "The migration execution is awaiting user action.",
            "The migration execution has completed successfully.",
            "The migration execution has failed.",
            "The migration execution is cancelled.",
            "The migration execution is being deleted.",
            "The migration execution has been rolled back. This occurs when CancelMigration is invoked after the migration has completed and the metastore service is in the PROXY state, returning the service to the ACTIVE state. This enables rollback support when the customer wants to resume using DPMS after a successful migration."
          ],
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time when the migration execution was started.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "phase": {
          "enumDescriptions": [
            "The phase of the migration execution is unknown.",
            "Replication phase refers to the migration phase when Dataproc Metastore is running a pipeline to replicate changes in the customer database to its backend database. During this phase, Dataproc Metastore uses the customer database as the hive metastore backend database.",
            "Cutover phase refers to the migration phase when Dataproc Metastore switches to using its own backend database. Migration enters this phase when customer is done migrating all their clusters/workloads to Dataproc Metastore and triggers CompleteMigration."
          ],
          "description": "Output only. Deprecated: Phase was designed for incoming migrations to Dataproc Metastore, not applicable when migrating away from it. The current phase of the migration execution.",
          "deprecated": true,
          "type": "string",
          "enum": [
            "PHASE_UNSPECIFIED",
            "REPLICATION",
            "CUTOVER"
          ],
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The relative resource name of the migration execution, in the following form: projects/{project_number}/locations/{location_id}/services/{service_id}/migrationExecutions/{migration_execution_id}"
        },
        "biglakeMetastoreMigrationConfig": {
          "description": "Configuration information specific to migrating from Dataproc Metastore to BigLake Metastore.",
          "$ref": "BigLakeMetastoreMigrationConfig"
        }
      },
      "id": "MigrationExecution"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "id": "Empty",
      "properties": {}
    },
    "Policy": {
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.A Policy is a collection of bindings. A binding binds one or more members, or principals, to a single role. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A role is a named list of permissions; each role can be an IAM predefined role or a user-created custom role.For some types of Google Cloud resources, a binding can also specify a condition, which is a logical expression that allows access to a resource only if the expression evaluates to true. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).JSON example: { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } YAML example: bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the IAM documentation (https://cloud.google.com/iam/docs/).",
      "properties": {
        "etag": {
          "type": "string",
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to getIamPolicy, and systems are expected to put that etag in the request to setIamPolicy to ensure that their change will be applied to the same version of the policy.Important: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.",
          "format": "byte"
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "version": {
          "description": "Specifies the format of the policy.Valid values are 0, 1, and 3. Requests that specify an invalid value are rejected.Any operation that affects conditional role bindings must specify version 3. This requirement applies to the following operations: Getting a policy that includes a conditional role binding Adding a conditional role binding to a policy Changing a conditional role binding in a policy Removing any role binding, with or without a condition, from a policy that includes conditionsImportant: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "type": "array",
          "description": "Associates a list of members, or principals, with a role. Optionally, may specify a condition that determines how and when the bindings are applied. Each of the bindings must contain at least one principal.The bindings in a Policy can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the bindings grant 50 different roles to user:alice@example.com, and not to any other principal, then you can add another 1,450 principals to the bindings in the Policy."
        }
      },
      "id": "Policy"
    },
    "BigLakeMetastoreMigrationConfig": {
      "properties": {
        "reportPath": {
          "description": "Optional. The Cloud Storage path where the backfill / dry run report should be written. If not provided, the report will be generated in the service's artifacts bucket. Format: \"gs://path/to/folder\"",
          "type": "string"
        },
        "backfillStatus": {
          "description": "Output only. ",
          "readOnly": true,
          "$ref": "BackfillStatus"
        },
        "dryRun": {
          "description": "Optional. If true, performs discovery of requested resources and analysis against the target catalog to come up with a plan for each resource (e.g. Create, Update, Skip, etc.). No metadata is actually migrated.",
          "type": "boolean"
        },
        "icebergConfig": {
          "description": "Optional. Configuration for migrating Iceberg tables to a BigLake Iceberg REST catalog.",
          "$ref": "IcebergConfig"
        },
        "hiveConfig": {
          "description": "Optional. At least one of hive_config or iceberg_config must be provided, otherwise, a validation error will be thrown. If only one is provided, the service only migrates tables of that specific type. If both are provided, both Hive and Iceberg tables will be migrated.Configuration for migrating Hive tables to a BigLake Hive catalog.",
          "$ref": "HiveConfig"
        },
        "mode": {
          "enumDescriptions": [
            "The migration mode is unspecified.",
            "Performs the metadata migration of requested resources. The migration completes once the backfill is finished."
          ],
          "type": "string",
          "enum": [
            "MIGRATION_MODE_UNSPECIFIED",
            "BACKFILL"
          ],
          "description": "Required. Defines the behavior of the migration execution."
        },
        "conflictPolicy": {
          "description": "Optional. The policy to handle conflicts when migrating resources, defaults to SKIP if not specified.",
          "enumDescriptions": [
            "The conflict policy is unspecified.",
            "Skip migrating resources that already exist in the target catalog.",
            "Update resources that already exist in the target catalog."
          ],
          "type": "string",
          "enum": [
            "CONFLICT_POLICY_UNSPECIFIED",
            "SKIP",
            "OVERWRITE"
          ]
        }
      },
      "description": "Defines the configuration required to migrate metadata from a Dataproc Metastore service to BigLake Metastore.",
      "type": "object",
      "id": "BigLakeMetastoreMigrationConfig"
    },
    "ListLocationsResponse": {
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "type": "array",
[...]
