{
  "batchPath": "batch",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://metastore.googleapis.com/",
  "canonicalName": "Dataproc Metastore",
  "revision": "20260916",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "mtlsRootUrl": "https://metastore.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "title": "Dataproc Metastore API",
  "documentationLink": "https://cloud.google.com/dataproc-metastore/docs",
  "version_module": true,
  "name": "metastore",
  "version": "v1beta",
  "schemas": {
    "TestIamPermissionsResponse": {
      "description": "Response message for TestIamPermissions method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of TestPermissionsRequest.permissions that the caller is allowed."
        }
      },
      "id": "TestIamPermissionsResponse",
      "type": "object"
    },
    "Restore": {
      "properties": {
        "startTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the restore started."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "type": "string",
          "description": "Output only. The current state of the restore.",
          "enumDescriptions": [
            "The state of the metadata restore is unknown.",
            "The metadata restore is running.",
            "The metadata restore completed successfully.",
            "The metadata restore failed.",
            "The metadata restore is cancelled."
          ]
        },
        "details": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The restore details containing the revision of the service to be restored to, in format of JSON."
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time when the restore ended.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "backup": {
          "readOnly": true,
          "description": "Output only. The relative resource name of the metastore service backup to restore from, in the following form:projects/{project_id}/locations/{location_id}/services/{service_id}/backups/{backup_id}.",
          "type": "string"
        },
        "type": {
          "enum": [
            "RESTORE_TYPE_UNSPECIFIED",
            "FULL",
            "METADATA_ONLY"
          ],
          "description": "Output only. The type of restore.",
          "type": "string",
          "enumDescriptions": [
            "The restore type is unknown.",
            "The service's metadata and configuration are restored.",
            "Only the service's metadata is restored."
          ],
          "readOnly": true
        },
        "backupLocation": {
          "description": "Optional. A Cloud Storage URI specifying where the backup artifacts are stored, in the format gs:///.",
          "type": "string"
        }
      },
      "description": "The details of a metadata restore operation.",
      "id": "Restore",
      "type": "object"
    },
    "Backup": {
      "properties": {
        "serviceRevision": {
          "$ref": "Service",
          "description": "Output only. The revision of the service at the time of backup.",
          "readOnly": true
        },
        "restoringServices": {
          "description": "Output only. Services that are restoring from the backup.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "DELETING",
            "ACTIVE",
            "FAILED",
            "RESTORING"
          ],
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup is being created.",
            "The backup is being deleted.",
            "The backup is active and ready to use.",
            "The backup failed.",
            "The backup is being restored."
          ],
          "description": "Output only. The current state of the backup.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the backup.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time when the backup finished creating.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the backup was started."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The relative resource name of the backup, in the following form:projects/{project_number}/locations/{location_id}/services/{service_id}/backups/{backup_id}"
        }
      },
      "type": "object",
      "id": "Backup",
      "description": "The details of a backup resource."
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec.Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "ListBackupsResponse": {
      "type": "object",
      "properties": {
        "backups": {
          "type": "array",
          "description": "The backups of the specified service.",
          "items": {
            "$ref": "Backup"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListBackupsResponse",
      "description": "Response message for DataprocMetastore.ListBackups."
    },
    "CancelMigrationRequest": {
      "properties": {},
      "description": "Request message for DataprocMetastore.CancelMigration.",
      "id": "CancelMigrationRequest",
      "type": "object"
    },
    "RestoreServiceRequest": {
      "description": "Request message for DataprocMetastore.RestoreService.",
      "properties": {
        "requestId": {
          "description": "Optional. A request ID. Specify a unique request ID to allow the server to ignore the request if it has completed. The server will ignore subsequent requests that provide a duplicate request ID for at least 60 minutes after the first request.For example, if an initial request times out, followed by another request with the same request ID, the server ignores the second request to prevent the creation of duplicate commitments.The request ID must be a valid UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier#Format). A zero UUID (00000000-0000-0000-0000-000000000000) is not supported.",
          "type": "string"
        },
        "backup": {
          "type": "string",
          "description": "Optional. The relative resource name of the metastore service backup to restore from, in the following form:projects/{project_id}/locations/{location_id}/services/{service_id}/backups/{backup_id}. Mutually exclusive with backup_location, and exactly one of the two must be set."
        },
        "restoreType": {
          "description": "Optional. The type of restore. If unspecified, defaults to METADATA_ONLY.",
          "enum": [
            "RESTORE_TYPE_UNSPECIFIED",
            "FULL",
            "METADATA_ONLY"
          ],
          "enumDescriptions": [
            "The restore type is unknown.",
            "The service's metadata and configuration are restored.",
            "Only the service's metadata is restored."
          ],
          "type": "string"
        },
        "backupLocation": {
          "type": "string",
          "description": "Optional. A Cloud Storage URI specifying the location of the backup artifacts, namely - backup avro files under \"avro/\", backup_metastore.json and service.json, in the following form:gs://. Mutually exclusive with backup, and exactly one of the two must be set."
        }
      },
      "id": "RestoreServiceRequest",
      "type": "object"
    },
    "CancelMigrationResponse": {
      "description": "Response message for DataprocMetastore.CancelMigration.",
      "properties": {
        "migrationExecution": {
          "description": "The relative resource name of the migration execution, in the following form:projects/{project_number}/locations/{location_id}/services/{service_id}/migrationExecutions/{migration_execution_id}.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CancelMigrationResponse"
    },
    "BackendMetastore": {
      "id": "BackendMetastore",
      "properties": {
        "metastoreType": {
          "description": "The type of the backend metastore.",
          "type": "string",
          "enumDescriptions": [
            "The metastore type is not set.",
            "The backend metastore is Dataplex.",
            "The backend metastore is BigQuery.",
            "The backend metastore is Dataproc Metastore."
          ],
          "enum": [
            "METASTORE_TYPE_UNSPECIFIED",
            "DATAPLEX",
            "BIGQUERY",
            "DATAPROC_METASTORE"
          ]
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of the metastore that is being federated. The formats of the relative resource names for the currently supported metastores are listed below: BigQuery projects/{project_id} Dataproc Metastore projects/{project_id}/locations/{location}/services/{service_id}"
        }
      },
      "type": "object",
      "description": "Represents a backend metastore for the federation."
    },
    "LimitConfig": {
      "properties": {
        "minScalingFactor": {
          "type": "number",
          "format": "float",
          "description": "Optional. The lowest scaling factor that the service should be autoscaled to."
        },
        "maxScalingFactor": {
          "format": "float",
          "type": "number",
          "description": "Optional. The highest scaling factor that the service should be autoscaled to."
        }
      },
      "description": "Represents the autoscaling limit configuration of a metastore service.",
      "type": "object",
      "id": "LimitConfig"
    },
    "ScalingConfig": {
      "id": "ScalingConfig",
      "type": "object",
      "description": "Represents the scaling configuration of a metastore service.",
      "properties": {
        "instanceSize": {
          "description": "An enum of readable instance sizes, with each instance size mapping to a float value (e.g. InstanceSize.EXTRA_SMALL = scaling_factor(0.1))",
          "enum": [
            "INSTANCE_SIZE_UNSPECIFIED",
            "EXTRA_SMALL",
            "SMALL",
            "MEDIUM",
            "LARGE",
            "EXTRA_LARGE"
          ],
          "enumDescriptions": [
            "Unspecified instance size",
            "Extra small instance size, maps to a scaling factor of 0.1.",
            "Small instance size, maps to a scaling factor of 0.5.",
            "Medium instance size, maps to a scaling factor of 1.0.",
            "Large instance size, maps to a scaling factor of 3.0.",
            "Extra large instance size, maps to a scaling factor of 6.0."
          ],
          "type": "string"
        },
        "scalingFactor": {
          "type": "number",
          "description": "Scaling factor, increments of 0.1 for values less than 1.0, and increments of 1.0 for values greater than 1.0.",
          "format": "float"
        },
        "autoscalingConfig": {
          "$ref": "AutoscalingConfig",
          "description": "Optional. The autoscaling configuration."
        }
      }
    },
    "HiveMetastoreVersion": {
      "type": "object",
      "properties": {
        "isDefault": {
          "type": "boolean",
          "description": "Whether version will be chosen by the server if a metastore service is created with a HiveMetastoreConfig that omits the version."
        },
        "version": {
          "type": "string",
          "description": "The semantic version of the Hive Metastore software."
        }
      },
      "id": "HiveMetastoreVersion",
      "description": "A specification of a supported version of the Hive Metastore software."
    },
    "ScheduledBackup": {
      "properties": {
        "cronSchedule": {
          "description": "Optional. The scheduled interval in Cron format, see https://en.wikipedia.org/wiki/Cron The default is empty: scheduled backup is not enabled. Must be specified to enable scheduled backups.",
          "type": "string"
        },
        "latestBackup": {
          "description": "Output only. The details of the latest scheduled backup.",
          "$ref": "LatestBackup",
          "readOnly": true
        },
        "timeZone": {
          "description": "Optional. Specifies the time zone to be used when interpreting cron_schedule. Must be a time zone name from the time zone database (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones), e.g. America/Los_Angeles or Africa/Abidjan. If left unspecified, the default is UTC.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Defines whether the scheduled backup is enabled. The default value is false."
        },
        "backupLocation": {
          "description": "Optional. A Cloud Storage URI of a folder, in the format gs:///. A sub-folder containing backup files will be stored below it.",
          "type": "string"
        },
        "nextScheduledTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the next backups execution is scheduled to start.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "This specifies the configuration of scheduled backup.",
      "type": "object",
      "id": "ScheduledBackup"
    },
    "AuxiliaryVersionConfig": {
      "description": "Configuration information for the auxiliary service versions.",
      "properties": {
        "networkConfig": {
          "$ref": "NetworkConfig",
          "readOnly": true,
          "description": "Output only. The network configuration contains the endpoint URI(s) of the auxiliary Hive metastore service."
        },
        "version": {
          "description": "Optional. The Hive metastore version of the auxiliary service. It must be less than the primary Hive metastore service's version.",
          "type": "string"
        },
        "configOverrides": {
          "description": "Optional. A mapping of Hive metastore configuration key-value pairs to apply to the auxiliary Hive metastore (configured in hive-site.xml) in addition to the primary version's overrides. If keys are present in both the auxiliary version's overrides and the primary version's overrides, the value from the auxiliary version's overrides takes precedence.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "AuxiliaryVersionConfig",
      "type": "object"
    },
    "AlterTablePropertiesRequest": {
      "description": "Request message for DataprocMetastore.AlterTableProperties.",
      "properties": {
        "tableName": {
          "type": "string",
          "description": "Required. The name of the table containing the properties you're altering in the following format.databases/{database_id}/tables/{table_id}"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "A field mask that specifies the metadata table properties that are overwritten by the update. Fields specified in the update_mask are relative to the resource (not to the full request). A field is overwritten if it is in the mask.For example, given the target properties: properties { a: 1 b: 2 } And an update properties: properties { a: 2 b: 3 c: 4 } then if the field mask is:paths: \"properties.b\", \"properties.c\"then the result will be: properties { a: 1 b: 3 c: 4 } ",
          "type": "string"
        },
        "properties": {
          "description": "A map that describes the desired values to mutate. If update_mask is empty, the properties will not update. Otherwise, the properties only alters the value whose associated paths exist in the update mask",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "AlterTablePropertiesRequest"
    },
    "PartitionReport": {
      "type": "object",
      "id": "PartitionReport",
      "description": "Partition migration report for a Hive table.",
      "properties": {
        "partitionFailedCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of partitions that failed to migrate at the target."
        },
        "partitionSuccessCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of partitions successfully migrated at the target."
        },
        "state": {
          "enumDescriptions": [
            "The state is unspecified.",
            "All partitions migrated successfully at the target.",
            "Some partitions migrated successfully at the target, but others failed.",
            "All partitions failed to migrate at the target."
          ],
          "description": "Output only. The state of the partition migration.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "PARTIALLY_SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true
        }
      }
    },
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "CustomRegionConfig": {
      "deprecated": true,
      "type": "object",
      "id": "CustomRegionConfig",
      "description": "Deprecated: Use a single region service instead. Custom configuration used to specify regions that the metastore service runs in. Currently only supported in the us multi-region.",
      "properties": {
        "readOnlyRegions": {
          "description": "Optional. The list of read-only regions where the metastore service runs in. These regions should be part (or subset) of the multi-region.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "readWriteRegions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The list of read-write regions where the metastore service runs in. These regions should be part (or subset) of the multi-region."
        }
      }
    },
    "AuditConfig": {
      "type": "object",
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs.If there are AuditConfigs for both allServices and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted.Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "properties": {
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array"
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, storage.googleapis.com, cloudsql.googleapis.com. allServices is a special value that covers all services.",
          "type": "string"
        }
      }
    },
    "Binding": {
      "description": "Associates members, or principals, with a role.",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of members, or principals. For example, roles/viewer, roles/editor, or roles/owner.For an overview of the IAM roles and permissions, see the IAM documentation (https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see here (https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding.If the condition evaluates to true, then this binding applies to the current request.If the condition evaluates to false, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. members can have the following values: allUsers: A special identifier that represents anyone who is on the internet; with or without a Google account. allAuthenticatedUsers: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. user:{emailid}: An email address that represents a specific Google account. For example, alice@example.com . serviceAccount:{emailid}: An email address that represents a Google service account. For example, my-other-app@appspot.gserviceaccount.com. serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]: An identifier for a Kubernetes service account (https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, my-project.svc.id.goog[my-namespace/my-kubernetes-sa]. group:{emailid}: An email address that represents a Google group. For example, admins@example.com. domain:{domain}: The G Suite domain (primary) that represents all the users of that domain. For example, google.com or example.com. principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}: A single identity in a workforce identity pool. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}: All workforce identities in a group. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}: All workforce identities with a specific attribute value. principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*: All identities in a workforce identity pool. principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}: A single identity in a workload identity pool. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}: A workload identity pool group. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}: All identities in a workload identity pool with a certain attribute. principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*: All identities in a workload identity pool. deleted:user:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a user that has been recently deleted. For example, alice@example.com?uid=123456789012345678901. If the user is recovered, this value reverts to user:{emailid} and the recovered user retains the role in the binding. deleted:serviceAccount:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901. If the service account is undeleted, this value reverts to serviceAccount:{emailid} and the undeleted service account retains the role in the binding. deleted:group:{emailid}?uid={uniqueid}: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, admins@example.com?uid=123456789012345678901. If the group is recovered, this value reverts to group:{emailid} and the recovered group retains the role in the binding. deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}: Deleted single identity in a workforce identity pool. For example, deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "Binding",
      "type": "object"
    },
    "Lake": {
      "description": "Represents a Lake resource",
      "id": "Lake",
      "properties": {
        "name": {
          "description": "The Lake resource name. Example: projects/{project_number}/locations/{location_id}/lakes/{lake_id}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MigrationSummary": {
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The UTC time when the report was written.",
          "readOnly": true
        },
        "catalogSummaries": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "CatalogSummary"
          },
          "description": "Output only. Summary of results for each catalog involved in the migration."
        },
        "dryRun": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the migration was a dry run."
        },
        "service": {
          "description": "Output only. The Dataproc Metastore service name (format: projects/*/locations/*/services/*) on which the migration was executed.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The UTC time when the source metadata read was initiated."
        }
      },
      "id": "MigrationSummary",
      "description": "Summary of the migration results."
    },
    "QueryMetadataRequest": {
      "description": "Request message for DataprocMetastore.QueryMetadata.",
      "properties": {
        "query": {
          "description": "Required. A read-only SQL query to execute against the metadata database. The query cannot change or mutate the data.",
          "type": "string"
        }
      },
      "id": "QueryMetadataRequest",
      "type": "object"
    },
    "NetworkConfig": {
      "description": "Network configuration for the Dataproc Metastore service.",
      "id": "NetworkConfig",
      "properties": {
        "customRoutesEnabled": {
          "description": "Optional. Enables custom routes to be imported and exported for the Dataproc Metastore service's peered VPC network.",
          "type": "boolean"
        },
        "consumers": {
          "type": "array",
          "items": {
            "$ref": "Consumer"
          },
          "description": "Immutable. The consumer-side network configuration for the Dataproc Metastore instance."
        }
      },
      "type": "object"
    },
    "StartMigrationRequest": {
      "id": "StartMigrationRequest",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. A request ID. Specify a unique request ID to allow the server to ignore the request if it has completed. The server will ignore subsequent requests that provide a duplicate request ID for at least 60 minutes after the first request.For example, if an initial request times out, followed by another request with the same request ID, the server ignores the second request to prevent the creation of duplicate commitments.The request ID must be a valid UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier#Format) A zero UUID (00000000-0000-0000-0000-000000000000) is not supported."
        },
        "migrationExecution": {
          "$ref": "MigrationExecution",
          "description": "Required. The configuration details for the migration."
        },
        "migrationExecutionId": {
          "description": "Optional. The ID to use for the migration execution, which will become the final component of the migration execution's resource name. If not specified, a UUID will be generated.This value must be between 2 and 63 characters long inclusive, begin with a letter, end with a letter or number, and valid characters are a-z0-9-.",
          "type": "string"
        }
      },
      "description": "Request message for DataprocMetastore.StartMigration.",
      "type": "object"
    },
    "QueryMetadataResponse": {
      "id": "QueryMetadataResponse",
      "type": "object",
      "description": "Response message for DataprocMetastore.QueryMetadata.",
      "properties": {
        "resultManifestUri": {
          "type": "string",
          "description": "The manifest URI is link to a JSON instance in Cloud Storage. This instance manifests immediately along with QueryMetadataResponse. The content of the URI is not retriable until the long-running operation query against the metadata finishes."
        }
      }
    },
    "AlterMetadataResourceLocationRequest": {
      "id": "AlterMetadataResourceLocationRequest",
      "type": "object",
      "description": "Request message for DataprocMetastore.AlterMetadataResourceLocation.",
      "properties": {
        "resourceName": {
          "description": "Required. The relative metadata resource name in the following format.databases/{database_id} or databases/{database_id}/tables/{table_id} or databases/{database_id}/tables/{table_id}/partitions/{partition_id}",
          "type": "string"
        },
        "locationUri": {
          "description": "Required. The new location URI for the metadata resource.",
          "type": "string"
        }
      }
    },
    "ListServicesResponse": {
      "type": "object",
      "description": "Response message for DataprocMetastore.ListServices.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "services": {
          "type": "array",
          "items": {
            "$ref": "Service"
          },
          "description": "The services in the specified location."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListServicesResponse"
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the caller has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to Code.CANCELLED."
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running."
        }
      },
      "description": "Represents the metadata of a long-running operation."
    },
    "KerberosConfig": {
      "description": "Configuration information for a Kerberos principal.",
      "properties": {
        "keytab": {
          "$ref": "Secret",
          "description": "Optional. A Kerberos keytab file that can be used to authenticate a service principal with a Kerberos Key Distribution Center (KDC)."
        },
        "krb5ConfigGcsUri": {
          "description": "Optional. A Cloud Storage URI that specifies the path to a krb5.conf file. It is of the form gs://{bucket_name}/path/to/krb5.conf, although the file does not need to be named krb5.conf explicitly.",
          "type": "string"
        },
        "principal": {
          "type": "string",
          "description": "Optional. A Kerberos principal that exists in the both the keytab the KDC to authenticate as. A typical principal is of the form primary/instance@REALM, but there is no exact format."
        }
      },
      "type": "object",
      "id": "KerberosConfig"
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets ListOperationsRequest.return_partial_success and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "DataCatalogConfig": {
      "id": "DataCatalogConfig",
      "type": "object",
      "description": "Specifies how metastore metadata should be integrated with the Data Catalog service.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Optional. Defines whether the metastore metadata should be synced to Data Catalog. The default value is to disable syncing metastore metadata to Data Catalog."
        }
      }
    },
    "MessageSet": {
      "id": "MessageSet",
      "properties": {},
      "deprecated": true,
      "description": "This is proto2's version of MessageSet.DEPRECATED: DO NOT USE FOR NEW FIELDS.If you are using editions or proto2, please make your own extendable messages for your use case. If you are using proto3, please use Any instead.MessageSet was the implementation of extensions for proto1. When proto2 was introduced, extensions were implemented as a first-class feature. This schema for MessageSet was meant to be a \"bridge\" solution to migrate MessageSet-bearing messages from proto1 to proto2.This schema has been open-sourced only to facilitate the migration of Google products with MessageSet-bearing messages to open-source environments.",
      "type": "object"
    },
    "TableReport": {
      "type": "object",
      "id": "TableReport",
      "description": "Aggregated report at the table level.",
      "properties": {
        "executionResult": {
          "description": "The actual outcome of the table migration.",
          "$ref": "ExecutionResult"
        },
        "partitionReport": {
          "$ref": "PartitionReport",
          "description": "Report containing the results of partition migration for this table. This is only relevant for Hive Partitioned tables."
        },
        "partitionDiscoveredCount": {
          "type": "string",
          "description": "The total number of partitions identified at the source during discovery. This is only relevant for Hive Partitioned tables.",
          "format": "int64"
        },
        "executionPlan": {
          "$ref": "ExecutionPlan",
          "description": "The discovered intent for the table (what we found and what we planned)."
        },
        "table": {
          "description": "The name of the table.",
          "type": "string"
        }
      }
    },
    "CompleteMigrationResponse": {
      "type": "object",
      "id": "CompleteMigrationResponse",
      "description": "Response message for DataprocMetastore.CompleteMigration.",
      "properties": {
        "migrationExecution": {
          "description": "The relative resource name of the migration execution, in the following form:projects/{project_number}/locations/{location_id}/services/{service_id}/migrationExecutions/{migration_execution_id}.",
          "type": "string"
        }
      }
    },
    "RootCACertificate": {
      "type": "object",
      "description": "Deprecated: Use a single region service instead. A gRPC client must install all root CA certificates to connect to a multi-regional Dataproc Metastore service and achieve failover.",
      "properties": {
        "expirationTime": {
          "deprecated": true,
          "description": "Deprecated: Use a single region service instead. The certificate expiration time in timestamp format.",
          "format": "google-datetime",
          "type": "string"
        },
        "certificate": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated: Use a single region service instead. The root CA certificate in PEM format. The maximum length is 65536 bytes."
        }
      },
      "deprecated": true,
      "id": "RootCACertificate"
    },
    "ValueDiff": {
      "type": "object",
      "properties": {
        "sourceValue": {
          "description": "The value of the field at the source.",
          "type": "string"
        },
        "targetValue": {
          "description": "The value of the field at the target.",
          "type": "string"
        }
      },
      "description": "A field-level metadata mismatch for a resource between the source and target.",
      "id": "ValueDiff"
    },
    "Federation": {
      "id": "Federation",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The current state of the federation.",
          "readOnly": true,
          "enumDescriptions": [
            "The state of the metastore federation is unknown.",
            "The metastore federation is in the process of being created.",
            "The metastore federation is running and ready to serve queries.",
            "The metastore federation is being updated. It remains usable but cannot accept additional update requests or be deleted at this time.",
            "The metastore federation is undergoing deletion. It cannot be used.",
            "The metastore federation has encountered an error and cannot be used. The metastore federation should be deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "ERROR"
          ]
        },
        "backendMetastores": {
          "description": "A map from BackendMetastore rank to BackendMetastores from which the federation service serves metadata at query time. The map key represents the order in which BackendMetastores should be evaluated to resolve database names at query time and should be greater than or equal to zero. A BackendMetastore with a lower number will be evaluated before a BackendMetastore with a higher number.",
          "additionalProperties": {
            "$ref": "BackendMetastore"
          },
          "type": "object"
        },
        "labels": {
          "type": "object",
          "description": "User-defined labels for the metastore federation.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the metastore federation was last updated."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the metastore federation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "endpointUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The federation endpoint."
        },
        "stateMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information about the current state of the metastore federation, if available."
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\"",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Immutable. The relative resource name of the federation, of the form: projects/{project_number}/locations/{location_id}/federations/{federation_id}`.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Output only. The globally unique resource identifier of the metastore federation.",
          "readOnly": true
        },
        "version": {
          "description": "Immutable. The Apache Hive metastore version of the federation. All backend metastore versions must be compatible with the federation version.",
          "type": "string"
        }
      },
      "description": "Represents a federation of multiple backend metastores.",
      "type": "object"
    },
    "MetadataImport": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The relative resource name of the metadata import, of the form:projects/{project_number}/locations/{location_id}/services/{service_id}/metadataImports/{metadata_import_id}."
        },
        "updateTime": {
          "description": "Output only. The time when the metadata import was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the metadata import.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "UPDATING",
            "FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The state of the metadata import is unknown.",
            "The metadata import is running.",
            "The metadata import completed successfully.",
            "The metadata import is being updated.",
            "The metadata import failed, and attempted metadata changes were rolled back."
          ],
          "type": "string",
          "description": "Output only. The current state of the metadata import."
        },
        "databaseDump": {
          "$ref": "DatabaseDump",
          "description": "Immutable. A database dump from a pre-existing metastore's database."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the metadata import was started.",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the metadata import finished.",
          "type": "string"
        }
      },
      "id": "MetadataImport",
      "description": "A metastore resource that imports metadata.",
      "type": "object"
    },
    "BigLakeMetastoreMigrationConfig": {
      "id": "BigLakeMetastoreMigrationConfig",
      "type": "object",
      "properties": {
        "backfillStatus": {
          "description": "Output only. ",
          "$ref": "BackfillStatus",
          "readOnly": true
        },
        "hiveConfig": {
          "$ref": "HiveConfig",
          "description": "Optional. At least one of hive_config or iceberg_config must be provided, otherwise, a validation error will be thrown. If only one is provided, the service only migrates tables of that specific type. If both are provided, both Hive and Iceberg tables will be migrated.Configuration for migrating Hive tables to a BigLake Hive catalog."
        },
        "conflictPolicy": {
          "description": "Optional. The policy to handle conflicts when migrating resources, defaults to SKIP if not specified.",
          "enum": [
            "CONFLICT_POLICY_UNSPECIFIED",
            "SKIP",
            "OVERWRITE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The conflict policy is unspecified.",
            "Skip migrating resources that already exist in the target catalog.",
            "Update resources that already exist in the target catalog."
          ]
        },
        "dryRun": {
          "description": "Optional. If true, performs discovery of requested resources and analysis against the target catalog to come up with a plan for each resource (e.g. Create, Update, Skip, etc.). No metadata is actually migrated.",
          "type": "boolean"
        },
        "icebergConfig": {
          "$ref": "IcebergConfig",
          "description": "Optional. Configuration for migrating Iceberg tables to a BigLake Iceberg REST catalog."
        },
        "mode": {
          "enumDescriptions": [
            "The migration mode is unspecified.",
            "Performs the metadata migration of requested resources. The migration completes once the backfill is finished.",
            "Performs the initial backfill, then transitions to an incremental synchronization state to replicate ongoing source writes. Requires an explicit CompleteMigration or CancelMigration call to end the migration. Note: Supported only for Iceberg migrations."
          ],
          "enum": [
            "MIGRATION_MODE_UNSPECIFIED",
            "BACKFILL",
            "INCREMENTAL_SYNC"
          ],
          "type": "string",
          "description": "Required. Defines the behavior of the migration execution."
        },
        "reportPath": {
          "type": "string",
          "description": "Optional. The Cloud Storage path where the backfill / dry run report should be written. If not provided, the report will be generated in the service's artifacts bucket. Format: \"gs://path/to/folder\""
        }
      },
      "description": "Defines the configuration required to migrate metadata from a Dataproc Metastore service to BigLake Metastore."
    },
    "MoveTableToDatabaseResponse": {
      "description": "Response message for DataprocMetastore.MoveTableToDatabase.",
      "type": "object",
      "properties": {},
      "id": "MoveTableToDatabaseResponse"
    },
    "LocationMetadata": {
      "properties": {
        "supportedHiveMetastoreVersions": {
          "items": {
            "$ref": "HiveMetastoreVersion"
          },
          "type": "array",
          "description": "The versions of Hive Metastore that can be used when creating a new metastore service in this location. The server guarantees that exactly one HiveMetastoreVersion in the list will set is_default."
        },
        "customRegionMetadata": {
          "type": "array",
          "items": {
            "$ref": "CustomRegionMetadata"
          },
          "description": "Deprecated: Use a single region service instead. Possible configurations supported if the current region is a custom region.",
          "deprecated": true
        },
        "multiRegionMetadata": {
          "description": "Deprecated: Use a single region service instead. The multi-region metadata if the current region is a multi-region.",
          "deprecated": true,
          "$ref": "MultiRegionMetadata"
        }
      },
      "type": "object",
      "id": "LocationMetadata",
      "description": "Metadata about the service in a location."
    },
    "DataplexConfig": {
      "properties": {
        "lakeResources": {
          "description": "Optional. A reference to the Lake resources that this metastore service is attached to. The key is the lake resource name. Example: projects/{project_number}/locations/{location_id}/lakes/{lake_id}.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Lake"
          }
        }
      },
      "description": "Specifies how metastore metadata should be integrated with the Dataplex service.",
      "id": "DataplexConfig",
      "type": "object"
    },
    "MoveTableToDatabaseRequest": {
      "properties": {
        "tableName": {
          "description": "Required. The name of the table to be moved.",
          "type": "string"
        },
        "destinationDbName": {
          "type": "string",
          "description": "Required. The name of the database where the table should be moved."
        },
        "dbName": {
          "type": "string",
          "description": "Required. The name of the database where the table resides."
        }
      },
      "id": "MoveTableToDatabaseRequest",
      "description": "Request message for DataprocMetastore.MoveTableToDatabase.",
      "type": "object"
    },
    "ListFederationsResponse": {
      "type": "object",
      "id": "ListFederationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "federations": {
          "items": {
            "$ref": "Federation"
          },
          "description": "The services in the specified location.",
          "type": "array"
        }
      },
      "description": "Response message for ListFederations"
    },
    "EncryptionConfig": {
      "id": "EncryptionConfig",
      "properties": {
        "kmsKeys": {
          "description": "Optional. The list of fully qualified customer provided Cloud KMS key names for the multi-regional service. Each key must be in the following format:projects/{project_number}/locations/{location_id}/keyRings/{key_ring_id}/cryptoKeys/{crypto_key_id}.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "kmsKey": {
          "type": "string",
          "description": "Optional. The fully qualified customer provided Cloud KMS key name to use for customer data encryption, in the following format:projects/{project_number}/locations/{location_id}/keyRings/{key_ring_id}/cryptoKeys/{crypto_key_id}."
        }
      },
      "type": "object",
      "description": "Encryption settings for the service."
    },
    "CatalogReport": {
      "properties": {
        "databaseReports": {
          "type": "object",
          "description": "A map of database names to their respective reports.",
          "additionalProperties": {
            "$ref": "DatabaseReport"
          }
        },
        "catalogType": {
          "description": "The type of catalog.",
          "enumDescriptions": [
            "The catalog type is unspecified.",
            "BigLake Metastore Hive catalog.",
            "BigLake Metastore Iceberg REST catalog."
          ],
          "enum": [
            "CATALOG_TYPE_UNSPECIFIED",
            "HIVE",
            "ICEBERG"
          ],
          "type": "string"
        },
        "catalog": {
          "description": "The name of the catalog (format: projects/*/catalogs/*).",
          "type": "string"
        }
      },
      "description": "Aggregated report at the catalog level.",
      "type": "object",
      "id": "CatalogReport"
    },
    "ErrorDetails": {
      "type": "object",
      "id": "ErrorDetails",
      "properties": {
        "details": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional structured details about this error.Keys define the failure items. Value describes the exception or details of the item.",
          "type": "object"
        }
      },
      "description": "Error details in public error message for DataprocMetastore.QueryMetadata."
    },
    "MetadataExport": {
      "id": "MetadataExport",
      "properties": {
        "state": {
          "description": "Output only. The current state of the export.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "The state of the metadata export is unknown.",
            "The metadata export is running.",
            "The metadata export completed successfully.",
            "The metadata export failed.",
            "The metadata export is cancelled."
          ],
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the export ended.",
          "readOnly": true
        },
        "databaseDumpType": {
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "MYSQL",
            "AVRO"
          ],
          "description": "Output only. The type of the database dump.",
          "enumDescriptions": [
            "The type of the database dump is unknown.",
            "Database dump is a MySQL dump file.",
            "Database dump contains Avro files."
          ],
          "type": "string"
        },
        "startTime": {
          "description": "Output only. The time when the export started.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "destinationGcsUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A Cloud Storage URI of a folder that metadata are exported to, in the form of gs:////, where is automatically generated."
        }
      },
      "description": "The details of a metadata export operation.",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the resource. Permissions with wildcards (such as * or storage.*) are not allowed. For more information see IAM Overview (https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "TestIamPermissionsRequest",
      "description": "Request message for TestIamPermissions method."
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest"
    },
    "TableSummary": {
      "id": "TableSummary",
      "type": "object",
      "description": "Aggregated summary of results for all tables in a database.",
      "properties": {
        "resultCounts": {
          "description": "Output only. Number of tables with a specific migration result status. The key is the status name (e.g. SUCCEEDED, FAILED, SKIPPED, etc.). This is only set if the migration is not a dry run.",
          "readOnly": true,
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object"
        },
        "planCounts": {
          "type": "object",
          "description": "Output only. Number of tables with a specific migration plan action. The key is the action name (e.g. CREATE, UPDATE, SKIP, etc.).",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "readOnly": true
        },
        "partitionFailedCount": {
          "description": "Output only. The total number of partitions that failed to migrate at the target.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "partitionDiscoveredCount": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Partition migration summary across all Hive tables in the database.The total number of partitions discovered at the source.",
          "type": "string"
        },
        "partitionSuccessCount": {
          "description": "Output only. The total number of partitions successfully migrated at the target.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "RemoveIamPolicyResponse": {
      "id": "RemoveIamPolicyResponse",
      "type": "object",
      "properties": {
        "success": {
          "description": "True if the policy is successfully removed.",
          "type": "boolean"
        }
      },
      "description": "Response message for DataprocMetastore.RemoveIamPolicy."
    },
    "DatabaseReport": {
      "description": "Aggregated report at the database level.",
      "properties": {
        "tableReports": {
          "type": "object",
          "description": "A map of table names to their respective reports.",
          "additionalProperties": {
            "$ref": "TableReport"
          }
        },
        "executionResult": {
          "description": "The actual outcome of the database migration.",
          "$ref": "ExecutionResult"
        },
        "database": {
          "description": "The name of the database.",
          "type": "string"
        },
        "executionPlan": {
          "description": "The discovered intent for the database (what we found and what we planned).",
          "$ref": "ExecutionPlan"
        }
      },
      "id": "DatabaseReport",
      "type": "object"
    },
    "ListMetadataImportsResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "metadataImports": {
          "description": "The imports in the specified service.",
          "type": "array",
          "items": {
            "$ref": "MetadataImport"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for DataprocMetastore.ListMetadataImports.",
      "type": "object",
      "id": "ListMetadataImportsResponse"
    },
    "ExecutionResult": {
      "description": "Represents the actual migration result for a specific resource (e.g. Database, Table).",
      "properties": {
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "SKIPPED"
          ],
          "type": "string",
          "description": "Output only. The state of the migration for a resource.",
          "enumDescriptions": [
            "The state is unspecified.",
            "The resource was migrated successfully.",
            "The resource failed to migrate.",
            "The resource was skipped and will not be migrated."
          ]
        },
        "errorMessage": {
          "description": "Description of the error if the state is FAILED.",
          "type": "string"
        },
        "remediation": {
          "type": "string",
          "description": "Remediation steps for the error if the state is FAILED."
        }
      },
      "id": "ExecutionResult",
      "type": "object"
    },
    "MaintenanceWindow": {
      "properties": {
        "hourOfDay": {
          "description": "Optional. The hour of day (0-23) when the window starts.",
          "format": "int32",
          "type": "integer"
        },
        "dayOfWeek": {
          "description": "Optional. The day of week, when the window starts.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string"
        }
      },
      "description": "Maintenance window. This specifies when Dataproc Metastore may perform system maintenance operation to the service.",
      "id": "MaintenanceWindow",
      "type": "object"
    },
    "BackfillStatus": {
      "id": "BackfillStatus",
      "description": "Backfill status for the migration execution.",
      "type": "object",
      "properties": {
        "migrationSummary": {
          "description": "Output only. Summary of the migration results. This is populated after the backfill or dry run is finished.",
          "readOnly": true,
          "$ref": "MigrationSummary"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The backfill state is unspecified.",
            "Waiting to start.",
            "Backfill in progress.",
            "Backfill complete, report is available",
            "Backfill failed; check report for details"
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. The current state of the backfill (or dry run)."
        },
        "reportPath": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Cloud Storage path where the backfill or dry run report is written. Format: \"gs://path-to-report\"."
        }
      }
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      }
    },
    "AutoscalingConfig": {
      "description": "Represents the autoscaling configuration of a metastore service.",
      "type": "object",
      "properties": {
        "autoscalingEnabled": {
          "description": "Optional. Whether or not autoscaling is enabled for this service.",
          "type": "boolean"
        },
        "limitConfig": {
          "description": "Optional. The LimitConfig of the service.",
          "$ref": "LimitConfig"
        },
        "autoscalingFactor": {
          "description": "Output only. The scaling factor of a service with autoscaling enabled.",
          "type": "number",
          "readOnly": true,
          "format": "float"
        }
      },
      "id": "AutoscalingConfig"
    },
    "AlterMetadataResourceLocationResponse": {
      "id": "AlterMetadataResourceLocationResponse",
      "type": "object",
      "description": "Response message for DataprocMetastore.AlterMetadataResourceLocation.",
      "properties": {}
    },
    "ExportMetadataRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. A request ID. Specify a unique request ID to allow the server to ignore the request if it has completed. The server will ignore subsequent requests that provide a duplicate request ID for at least 60 minutes after the first request.For example, if an initial request times out, followed by another request with the same request ID, the server ignores the second request to prevent the creation of duplicate commitments.The request ID must be a valid UUID (https://en.wikipedia.org/wiki/Universally_unique_identifier#Format). A zero UUID (00000000-0000-0000-0000-000000000000) is not supported.",
          "type": "string"
        },
        "databaseDumpType": {
          "type": "string",
          "description": "Optional. The type of the database dump. If unspecified, defaults to MYSQL.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MYSQL",
            "AVRO"
          ],
          "enumDescriptions": [
            "The type of the database dump is unknown.",
            "Database dump is a MySQL dump file.",
            "Database dump contains Avro files."
          ]
        },
        "destinationGcsFolder": {
          "description": "A Cloud Storage URI of a folder, in the format gs:///. A sub-folder containing exported files will be created below it.",
          "type": "string"
        }
      },
      "description": "Request message for DataprocMetastore.ExportMetadata.",
      "id": "ExportMetadataRequest"
    },
    "HiveConfig": {
      "type": "object",
      "properties": {
        "databases": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The list of databases to migrate to the Hive catalog. Use \"*\" to migrate all databases. Note: If Iceberg tables exist in these databases, they will only be migrated if iceberg_config is also specified."
        },
        "catalog": {
          "description": "Required. The target catalog for migrated databases and tables. Format: \"projects/{project_id_or_number}/catalogs/{catalog_id}\"",
          "type": "string"
        }
      },
      "id": "HiveConfig",
      "description": "Configuration for migrating Hive metadata."
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "id": "Empty"
    },
    "DatabaseDump": {
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MYSQL",
            "AVRO"
          ],
          "description": "Optional. The type of the database dump. If unspecified, defaults to MYSQL.",
          "enumDescriptions": [
            "The type of the database dump is unknown.",
            "Database dump is a MySQL dump file.",
            "Database dump contains Avro files."
          ]
        },
        "databaseType": {
          "deprecated": true,
          "type": "string",
          "description": "The type of the database.",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "MYSQL"
          ],
          "enumDescriptions": [
            "The type of the source database is unknown.",
            "The type of the source database is MySQL."
          ]
        },
        "gcsUri": {
          "description": "Optional. A Cloud Storage object or folder URI that specifies the source from which to import metadata. It must begin with gs://.",
          "type": "string"
        },
        "sourceDatabase": {
          "type": "string",
          "description": "Optional. The name of the source database.",
          "deprecated": true
        }
      },
      "type": "object",
      "description": "A specification of the location of and metadata about a database dump from a relational database management system.",
      "id": "DatabaseDump"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources.A Policy is a collection of bindings. A binding binds one or more members, or principals, to a single role. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A role is a named list of permissions; each role can be an IAM predefined role or a user-created custom role.For some types of Google Cloud resources, a binding can also specify a condition, which is a logical expression that allows access to a resource only if the expression evaluates to true. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).JSON example: { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } YAML example: bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the IAM documentation (https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy.Valid values are 0, 1, and 3. Requests that specify an invalid value are rejected.Any operation that affects conditional role bindings must specify version 3. This requirement applies to the following operations: Getting a policy that includes a conditional role binding Adding a conditional role binding to a policy Changing a conditional role binding in a policy Removing any role binding, with or without a condition, from a policy that includes conditionsImportant: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost.If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset.To learn which resources support conditions in their IAM policies, see the IAM documentation (https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        },
        "bindings": {
          "description": "Associates a list of members, or principals, with a role. Optionally, may specify a condition that determines how and when the bindings are applied. Each of the bindings must contain at least one principal.The bindings in a Policy can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the bindings grant 50 different roles to user:alice@example.com, and not to any other principal, then you can add another 1,450 principals to the bindings in the Policy.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to getIamPolicy, and systems are expected to put that etag in the request to setIamPolicy to ensure that their change will be applied to the same version of the policy.Important: If you use IAM Conditions, you must include the etag field whenever you call setIamPolicy. If you omit this field, then IAM allows you to overwrite a version 3 policy with a version 1 policy, and all of the conditions in the version 3 policy are lost."
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy."
        }
      },
      "id": "Policy"
    },
    "MigrationReport": {
      "type": "object",
      "description": "Report containing the results of a migration run. This report is generated at the specified path in the BigLakeMetastoreMigrationConfig after the backfill is complete, or when a dry run is executed.",
      "properties": {
        "summary": {
          "description": "Output only. High-level summary of the migration results.",
          "$ref": "MigrationSummary",
          "readOnly": true
        },
        "catalogReports": {
          "readOnly": true,
          "items": {
            "$ref": "CatalogReport"
          },
          "type": "array",
          "description": "Output only. Detailed results for each catalog involved in the migration."
        }
      },
      "id": "MigrationReport"
    },
    "Consumer": {
      "type": "object",
      "description": "Contains information of the customer's network configurations.",
      "properties": {
        "subnetwork": {
          "type": "string",
          "description": "Immutable. The subnetwork of the customer project from which an IP address is reserved and used as the Dataproc Metastore service's endpoint. It is accessible to hosts in the subnet and to all hosts in a subnet in the same region and same network. There must be at least one IP address available in the subnet's primary range. The subnet is specified in the following form:projects/{project_number}/regions/{region_id}/subnetworks/{subnetwork_id}"
        },
        "endpointUri": {
          "description": "Output only. The URI of the endpoint used to access the metastore service.",
          "type": "string",
          "readOnly": true
        },
        "endpointLocation": {
          "description": "Output only. The location of the endpoint URI. Format: projects/{project}/locations/{location}.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Consumer"
    },
    "IcebergConfig": {
      "type": "object",
      "description": "Configuration for migrating Iceberg metadata.",
      "properties": {
        "catalog": {
          "type": "string",
          "description": "Required. The target catalog for migrated Iceberg metadata. Format: \"projects/{project_id_or_number}/catalogs/{catalog_id}\""
        },
        "namespaces": {
          "type": "array",
          "description": "Required. The list of namespaces to migrate to the Iceberg REST catalog. Use \"*\" to migrate all namespaces. Note: If Hive tables exist in these namespaces, they will only be migrated if hive_config is also specified.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "IcebergConfig"
    },
    "ExecutionPlan": {
      "id": "ExecutionPlan",
      "description": "Represents the migration plan for a specific resource (e.g. Database, Table).",
      "type": "object",
      "properties": {
        "action": {
          "enumDescriptions": [
            "The action is unspecified.",
            "Resource missing; will be created.",
            "Resource exists at the target, but differs from the source; will be updated.",
            "Resource exists at the target; no changes will be made.",
            "Resource cannot be migrated due to a dependency failure (e.g., parent resource missing).",
            "Resource cannot be migrated due to an error during discovery."
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "SKIP",
            "DEPENDENCY_FAILURE",
            "ERROR"
          ],
          "description": "The action that will be taken for a resource during migration.",
          "type": "string"
        },
        "diffs": {
          "description": "A map of field names to their respective value diff.",
          "additionalProperties": {
            "$ref": "ValueDiff"
          },
          "type": "object"
        },
        "reason": {
          "type": "string",
          "description": "A human-readable string explaining why the action was chosen."
        }
      }
    },
    "CatalogSummary": {
      "type": "object",
      "id": "CatalogSummary",
      "description": "Summary of results for a specific destination catalog.",
      "properties": {
        "catalogType": {
          "description": "Output only. The type of the catalog.",
          "enum": [
            "CATALOG_TYPE_UNSPECIFIED",
            "HIVE",
            "ICEBERG"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The catalog type is unspecified.",
            "BigLake Metastore Hive catalog.",
            "BigLake Metastore Iceberg REST catalog."
          ]
        },
        "catalog": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The catalog resource name (format: projects/*/catalogs/*)."
        },
        "databaseSummaries": {
          "readOnly": true,
          "description": "Output only. Summary of results for each database in the catalog.",
          "items": {
            "$ref": "DatabaseSummary"
          },
          "type": "array"
        }
      }
    },
    "Service": {
      "properties": {
        "scalingConfig": {
          "description": "Optional. Scaling configuration of the metastore service.",
          "$ref": "ScalingConfig"
        },
        "uid": {
          "description": "Output only. The globally unique resource identifier of the metastore service.",
          "type": "string",
          "readOnly": true
        },
        "deletionProtection": {
          "type": "boolean",
          "description": "Optional. Indicates if the dataproc metastore should be protected against accidental deletions."
        },
        "metadataManagementActivity": {
          "readOnly": true,
          "description": "Output only. The metadata management activities of the metastore service.",
          "$ref": "MetadataManagementActivity"
        },
        "artifactGcsUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A Cloud Storage URI (starting with gs://) that specifies where artifacts related to the metastore service are stored."
        },
        "multiRegionConfig": {
          "deprecated": true,
          "$ref": "MultiRegionConfig",
          "description": "Optional. Deprecated: Use a single region service instead. Specifies the multi-region configuration information for the Hive metastore service."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "UPDATING",
            "DELETING",
            "ERROR",
            "AUTOSCALING",
            "MIGRATING",
            "PROXY"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The state of the metastore service is unknown.",
            "The metastore service is in the process of being created.",
            "The metastore service is running and ready to serve queries.",
            "The metastore service is entering suspension. Its query-serving availability may cease unexpectedly.",
            "The metastore service is suspended and unable to serve queries.",
            "The metastore service is being updated. It remains usable but cannot accept additional update requests or be deleted at this time.",
            "The metastore service is undergoing deletion. It cannot be used.",
            "The metastore service has encountered an error and cannot be used. The metastore service should be deleted.",
            "The Dataproc Metastore service 2 is being scaled up or down.",
            "The metastore service is processing a managed migration.",
            "The metastore service has completed managed migration and is now proxying requests to the Lakehouse runtime catalog."
          ],
          "description": "Output only. The current state of the metastore service."
        },
        "releaseChannel": {
          "description": "Immutable. The release channel of the service. If unspecified, defaults to STABLE.",
          "enumDescriptions": [
            "Release channel is not specified.",
            "The CANARY release channel contains the newest features, which may be unstable and subject to unresolved issues with no known workarounds. Services using the CANARY release channel are not subject to any SLAs.",
            "The STABLE release channel contains features that are considered stable and have been validated for production use."
          ],
          "type": "string",
          "enum": [
            "RELEASE_CHANNEL_UNSPECIFIED",
            "CANARY",
            "STABLE"
          ]
        },
        "name": {
          "description": "Immutable. Identifier. The relative resource name of the metastore service, in the following format:projects/{project_number}/locations/{location_id}/services/{service_id}.",
          "type": "string"
        },
        "encryptionConfig": {
          "description": "Immutable. Information used to configure the Dataproc Metastore service to encrypt customer data at rest. Cannot be updated.",
          "$ref": "EncryptionConfig"
        },
        "scheduledBackup": {
          "description": "Optional. The configuration of scheduled backup for the metastore service.",
          "$ref": "ScheduledBackup"
        },
        "port": {
          "description": "Optional. The TCP port at which the metastore service is reached. Default: 9083.",
          "type": "integer",
          "format": "int32"
        },
        "networkConfig": {
          "description": "Optional. The configuration specifying the network settings for the Dataproc Metastore service.",
          "$ref": "NetworkConfig"
        },
        "metadataIntegration": {
          "$ref": "MetadataIntegration",
          "description": "Optional. The setting that defines how metastore metadata should be integrated with external services and systems."
        },
        "createTime": {
          "description": "Output only. The time when the metastore service was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the metastore service was last updated.",
          "type": "string"
        },
        "lakehouseProxyConfig": {
          "$ref": "LakehouseProxyConfig",
          "readOnly": true,
          "description": "Output only. The Lakehouse proxy routing configuration for the metastore service."
        },
        "databaseType": {
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "MYSQL",
            "SPANNER"
          ],
          "enumDescriptions": [
            "The DATABASE_TYPE is not set.",
            "MySQL is used to persist the metastore data.",
            "Spanner is used to persist the metastore data."
          ],
          "type": "string",
          "description": "Immutable. The database type that the Metastore service stores its data."
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\""
        },
        "hiveMetastoreConfig": {
          "description": "Configuration information specific to running Hive metastore software as the metastore service.",
          "$ref": "HiveMetastoreConfig"
        },
        "endpointUri": {
          "type": "string",
          "description": "Output only. The URI of the endpoint used to access the metastore service.",
          "readOnly": true
        },
        "maintenanceWindow": {
          "description": "Optional. The one hour maintenance window of the metastore service. This specifies when the service can be restarted for maintenance purposes in UTC time. Maintenance window is not needed for services with the SPANNER database type.",
          "$ref": "MaintenanceWindow"
        },
        "stateMessage": {
          "description": "Output only. Additional information about the current state of the metastore service, if available.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-defined labels for the metastore service."
        },
        "tier": {
          "enumDescriptions": [
            "The tier is not set.",
            "The developer tier provides limited scalability and no fault tolerance. Good for low-cost proof-of-concept.",
            "The enterprise tier provides multi-zone high availability, and sufficient scalability for enterprise-level Dataproc Metastore workloads."
          ],
          "description": "Optional. The tier of the service.",
          "enum": [
            "TIER_UNSPECIFIED",
            "DEVELOPER",
            "ENTERPRISE"
          ],
          "type": "string"
        },
        "telemetryConfig": {
          "description": "Optional. The configuration specifying telemetry settings for the Dataproc Metastore service. If unspecified defaults to JSON.",
          "$ref": "TelemetryConfig"
        },
        "network": {
          "description": "Immutable. The relative resource name of the VPC network on which the instance can be accessed. It is specified in the following form:projects/{project_number}/global/networks/{network_id}.",
          "type": "string"
        }
      },
      "description": "A managed metastore service that serves metadata queries.",
      "id": "Service",
      "type": "object"
    },
    "RemoveIamPolicyRequest": {
      "id": "RemoveIamPolicyRequest",
      "properties": {
        "asynchronous": {
          "description": "Optional. Removes IAM policy attached to database or table asynchronously when it is set. The default is false.",
          "type": "boolean"
        }
      },
      "description": "Request message for DataprocMetastore.RemoveIamPolicy.",
      "type": "object"
    },
    "MultiRegionConfig": {
      "id": "MultiRegionConfig",
      "description": "Deprecated: Use a single region service instead. The multi-region config for the Dataproc Metastore service.",
      "properties": {
        "customRegionConfig": {
          "$ref": "CustomRegionConfig",
          "deprecated": true,
          "description": "Immutable. Deprecated: Use a single region service instead."
        },
        "certificates": {
          "description": "Output only. Deprecated: Use a single region service instead. The list of root CA certificates that a gRPC client uses to connect to a multi-regional Dataproc Metastore service.",
          "deprecated": true,
          "items": {
            "$ref": "RootCACertificate"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "deprecated": true,
      "type": "object"
    },
    "LatestBackup": {
      "type": "object",
      "id": "LatestBackup",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup is in progress.",
            "The backup completed.",
            "The backup failed."
          ],
          "description": "Output only. The current state of the backup.",
          "enum": [
            "STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the backup was started.",
          "readOnly": true
        },
        "backupId": {
          "readOnly": true,
          "description": "Output only. The ID of an in-progress scheduled backup. Empty if no backup is in progress.",
          "type": "string"
        },
        "duration": {
          "format": "google-duration",
          "description": "Output only. The duration of the backup completion.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The details of the latest scheduled backup."
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "CustomRegionMetadata": {
      "properties": {
        "witnessRegion": {
          "description": "The Spanner witness region for this custom region.",
          "type": "string"
        },
        "requiredReadWriteRegions": {
          "type": "array",
          "description": "The read-write regions for this custom region.",
          "items": {
            "type": "string"
          }
        },
        "optionalReadOnlyRegions": {
          "description": "The read-only regions for this custom region.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Deprecated: Use a single region service instead. Metadata about a custom region. This is only populated if the region is a custom region. For single/multi regions, it will be empty.",
      "id": "CustomRegionMetadata",
      "deprecated": true,
      "type": "object"
    },
    "MigrationExecution": {
      "id": "MigrationExecution",
      "type": "object",
      "description": "The details of a migration execution resource.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the migration execution was started."
        },
        "phase": {
          "deprecated": true,
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The phase of the migration execution is unknown.",
            "Replication phase refers to the migration phase when Dataproc Metastore is running a pipeline to replicate changes in the customer database to its backend database. During this phase, Dataproc Metastore uses the customer database as the hive metastore backend database.",
            "Cutover phase refers to the migration phase when Dataproc Metastore switches to using its own backend database. Migration enters this phase when customer is done migrating all their clusters/workloads to Dataproc Metastore and triggers CompleteMigration."
          ],
          "description": "Output only. Deprecated: Phase was designed for incoming migrations to Dataproc Metastore, not applicable when migrating away from it. The current phase of the migration execution.",
          "enum": [
            "PHASE_UNSPECIFIED",
            "REPLICATION",
            "CUTOVER"
          ]
        },
        "endTime": {
[...]
