{
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "title": "Migration Center API",
  "description": "A unified platform that helps you accelerate your end-to-end cloud journey from your current on-premises or cloud environments to Google Cloud.",
  "baseUrl": "https://migrationcenter.googleapis.com/",
  "canonicalName": "Migration Center API",
  "revision": "20260907",
  "version": "v1alpha1",
  "mtlsRootUrl": "https://migrationcenter.mtls.googleapis.com/",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "basePath": "",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/migration-center",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "schemas": {
    "Settings": {
      "description": "Describes the Migration Center settings related to the project.",
      "id": "Settings",
      "properties": {
        "name": {
          "description": "Output only. The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "customerConsentForGoogleSalesToAccessMigrationCenter": {
          "description": "Customer consent for Google sales to access their Cloud Migration Center project.",
          "type": "boolean"
        },
        "disableCloudLogging": {
          "type": "boolean",
          "description": "Disable Cloud Logging for the Migration Center API. Users are billed for the logs."
        },
        "preferenceSet": {
          "type": "string",
          "description": "The preference set used by default for a project."
        }
      },
      "type": "object"
    },
    "MySqlStorageEngineDetails": {
      "id": "MySqlStorageEngineDetails",
      "description": "Mysql storage engine tables.",
      "type": "object",
      "properties": {
        "engine": {
          "description": "Required. The storage engine.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified storage engine.",
            "InnoDB.",
            "MyISAM.",
            "Memory.",
            "CSV.",
            "Archive.",
            "Blackhole.",
            "NDB.",
            "Merge.",
            "Federated.",
            "Example.",
            "Other."
          ],
          "enum": [
            "ENGINE_UNSPECIFIED",
            "INNODB",
            "MYISAM",
            "MEMORY",
            "CSV",
            "ARCHIVE",
            "BLACKHOLE",
            "NDB",
            "MERGE",
            "FEDERATED",
            "EXAMPLE",
            "OTHER"
          ]
        },
        "encryptedTableCount": {
          "description": "Optional. The number of encrypted tables.",
          "type": "integer",
          "format": "int32"
        },
        "tableCount": {
          "type": "integer",
          "description": "Optional. The number of tables.",
          "format": "int32"
        }
      }
    },
    "ReportExportExecutionResult": {
      "type": "object",
      "properties": {
        "signedUris": {
          "description": "Output only. Signed URLs for downloading export artifacts.",
          "readOnly": true,
          "$ref": "SignedUris"
        },
        "outputFiles": {
          "$ref": "OutputFileList",
          "readOnly": true,
          "description": "Output only. List of output files."
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Error encountered during export."
        }
      },
      "description": "Contains the result of the report export.",
      "id": "ReportExportExecutionResult"
    },
    "ListReportConfigsResponse": {
      "id": "ListReportConfigsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "reportConfigs": {
          "description": "A list of report configs.",
          "items": {
            "$ref": "ReportConfig"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for listing report configs.",
      "type": "object"
    },
    "ComputeEngineShapeDescriptor": {
      "id": "ComputeEngineShapeDescriptor",
      "properties": {
        "machineType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Compute Engine machine type."
        },
        "logicalCoreCount": {
          "description": "Output only. Number of logical cores.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "physicalCoreCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of physical cores."
        },
        "series": {
          "type": "string",
          "description": "Output only. Compute Engine machine series.",
          "readOnly": true
        },
        "storage": {
          "type": "array",
          "items": {
            "$ref": "ComputeStorageDescriptor"
          },
          "readOnly": true,
          "description": "Output only. Compute Engine storage. Never empty."
        },
        "memoryMb": {
          "format": "int32",
          "description": "Output only. Memory in mebibytes.",
          "type": "integer",
          "readOnly": true
        },
        "smtEnabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether simultaneous multithreading is enabled. See https://cloud.google.com/compute/docs/instances/set-threads-per-core."
        }
      },
      "description": "Compute Engine target shape descriptor.",
      "type": "object"
    },
    "CsvOutputFile": {
      "type": "object",
      "description": "Contains a single output file of type CSV.",
      "properties": {
        "columnsCount": {
          "description": "Output only. Number of columns in the file.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "signedUri": {
          "description": "Output only. Signed URI destination.",
          "$ref": "SignedUri",
          "readOnly": true
        },
        "rowCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of rows in the file.",
          "format": "int32"
        }
      },
      "id": "CsvOutputFile"
    },
    "CloudSqlForMySqlShape": {
      "properties": {
        "edition": {
          "description": "Output only. Cloud SQL edition.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ],
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ]
        },
        "zoneAvailability": {
          "description": "Output only. Cloud SQL zone availability.",
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ],
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ],
          "readOnly": true,
          "type": "string"
        },
        "memoryMb": {
          "format": "int32",
          "description": "Output only. Predicted amount of memory in MiB.",
          "type": "integer",
          "readOnly": true
        },
        "version": {
          "enum": [
            "MY_SQL_VERSION_UNSPECIFIED",
            "MY_SQL_VERSION_5_6",
            "MY_SQL_VERSION_5_7",
            "MY_SQL_VERSION_8_0"
          ],
          "enumDescriptions": [
            "Unspecified MySQL version.",
            "MySQL 5.6.",
            "MySQL 5.7.",
            "MySQL 8.0."
          ],
          "description": "Output only. MySQL version to be used on the Cloud SQL for MySQL instance.",
          "type": "string",
          "readOnly": true
        },
        "logicalCoreCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of logical cores.",
          "readOnly": true
        },
        "storage": {
          "description": "Output only. Predicted storage shape.",
          "readOnly": true,
          "$ref": "ComputeStorageDescriptor"
        },
        "backupStorageGb": {
          "readOnly": true,
          "description": "Output only. Predicted backup storage size in GiB.",
          "type": "integer",
          "format": "int32"
        },
        "egressGbPerMonth": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Predicted Network Out traffic GiB per month.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CloudSqlForMySqlShape",
      "description": "Cloud SQL for MySQL database shape."
    },
    "VirtualMachinePreferencesNetworkCostParameters": {
      "description": "Parameters that affect network cost estimations.",
      "properties": {
        "estimatedEgressTrafficPercentage": {
          "description": "Optional. An estimated percentage of priced outbound traffic (egress traffic) from the measured outbound traffic. Must be in the interval [0, 100].",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "VirtualMachinePreferencesNetworkCostParameters"
    },
    "ReportSummaryGroupPreferenceSetFinding": {
      "description": "Summary Findings for a specific Group/PreferenceSet combination.",
      "type": "object",
      "properties": {
        "monthlyCostOther": {
          "$ref": "Money",
          "readOnly": true,
          "description": "Output only. Miscellaneous monthly cost for this preference set."
        },
        "monthlyCostTotal": {
          "$ref": "Money",
          "readOnly": true,
          "description": "Output only. Total monthly cost for this preference set."
        },
        "topPriority": {
          "description": "Text describing the business priority specified for this Preference Set",
          "type": "string",
          "deprecated": true
        },
        "monthlyCostOsLicense": {
          "$ref": "Money",
          "description": "Output only. All operating systems licensing monthly cost for this preference set. Only present for virtual machines.",
          "readOnly": true
        },
        "monthlyCostDatabaseLicensing": {
          "$ref": "Money",
          "description": "Output only. Database licensing monthly cost for this preference set. Only present for databases.",
          "readOnly": true
        },
        "preferredRegion": {
          "deprecated": true,
          "description": "Target region for this Preference Set",
          "type": "string"
        },
        "monthlyCostGcveProtected": {
          "readOnly": true,
          "$ref": "Money",
          "description": "Output only. GCVE Protected nodes cost for this preference set."
        },
        "displayName": {
          "description": "Display Name of the Preference Set",
          "type": "string"
        },
        "monthlyCostDatabaseBackup": {
          "description": "Output only. Backup monthly cost for this preference set. Only present for databases.",
          "readOnly": true,
          "$ref": "Money"
        },
        "description": {
          "type": "string",
          "description": "Description for the Preference Set."
        },
        "machineFinding": {
          "readOnly": true,
          "$ref": "ReportSummaryMachineFinding",
          "description": "Output only. A set of findings that applies to all virtual machines in the input. Only present for virtual machines."
        },
        "databaseFinding": {
          "readOnly": true,
          "$ref": "ReportSummaryDatabaseFinding",
          "description": "Output only. Details about databases in this finding. Only present for databases."
        },
        "soleTenantFinding": {
          "description": "A set of findings that applies to Stole-Tenant machines in the input. Only present for virtual machines.",
          "$ref": "ReportSummarySoleTenantFinding"
        },
        "monthlyCostNetworkEgress": {
          "readOnly": true,
          "$ref": "Money",
          "description": "Output only. Network Egress monthly cost for this preference set. Only present for virtual machines."
        },
        "monthlyCostCompute": {
          "readOnly": true,
          "$ref": "Money",
          "description": "Output only. Compute monthly cost for this preference set."
        },
        "vmwareEngineFinding": {
          "description": "A set of findings that applies to VMWare machines in the input. Only present for virtual machines.",
          "$ref": "ReportSummaryVMWareEngineFinding"
        },
        "machinePreferences": {
          "description": "A set of preferences that applies to all machines in the context.",
          "$ref": "VirtualMachinePreferences"
        },
        "monthlyCostPortableVmwareLicense": {
          "readOnly": true,
          "$ref": "Money",
          "description": "Output only. VMware portable license monthly cost for this preference set. Only present for VMware target with portable license service type. This cost is not paid to google, but is an estimate of license costs paid to VMware."
        },
        "preferenceSet": {
          "readOnly": true,
          "$ref": "PreferenceSet",
          "description": "Output only. A copy of the preference set used for this finding."
        },
        "monthlyCostStorage": {
          "readOnly": true,
          "$ref": "Money",
          "description": "Output only. Storage monthly cost for this preference set."
        },
        "pricingTrack": {
          "type": "string",
          "deprecated": true,
          "description": "Text describing the pricing track specified for this Preference Set"
        }
      },
      "id": "ReportSummaryGroupPreferenceSetFinding"
    },
    "CascadingRule": {
      "properties": {
        "cascadeLogicalDbs": {
          "description": "Cascading rule for related logical DBs.",
          "$ref": "CascadeLogicalDBsRule"
        }
      },
      "description": "Specifies cascading rules for traversing relations.",
      "id": "CascadingRule",
      "type": "object"
    },
    "InlinePayloadInfo": {
      "id": "InlinePayloadInfo",
      "description": "A resource that represents the inline import job payload.",
      "type": "object",
      "properties": {
        "payload": {
          "type": "array",
          "items": {
            "$ref": "PayloadFile"
          },
          "description": "List of payload files."
        },
        "format": {
          "description": "The import job format.",
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the [AWS collection script](https://github.com/GoogleCloudPlatform/aws-to-stratozone-export).",
            "CSV format exported from Azure using the [Azure collection script](https://github.com/GoogleCloudPlatform/azure-to-stratozone-export).",
            "CSV format created manually. For more information, see [Manually create and upload data tables](https://cloud.google.com/migrate/stratozone/docs/import-data-portal).",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "type": "string"
        }
      }
    },
    "AssetsExportJobInventory": {
      "description": "Configuration for asset inventory details exports.",
      "type": "object",
      "properties": {},
      "id": "AssetsExportJobInventory"
    },
    "ImportRowErrorCsvErrorDetails": {
      "id": "ImportRowErrorCsvErrorDetails",
      "description": "Error details for a CSV file.",
      "properties": {
        "rowNumber": {
          "type": "integer",
          "description": "The row number where the error was detected.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "ImportError": {
      "properties": {
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "description": "The severity of the error.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "errorDetails": {
          "description": "The error information.",
          "type": "string"
        }
      },
      "id": "ImportError",
      "description": "A resource that reports the errors encountered while processing an import job.",
      "type": "object"
    },
    "DatabasePreferencesCloudSqlSqlServer": {
      "properties": {
        "versionType": {
          "enumDescriptions": [
            "Unspecified SQL Server version type.",
            "Version will be deduced from the source asset.",
            "Version will be one of \"Express\" versions.",
            "Version will be one of \"Web\" versions.",
            "Version will be one of \"Standard\" versions.",
            "Version will be one of \"Enterprise\" versions."
          ],
          "enum": [
            "VERSION_TYPE_UNSPECIFIED",
            "VERSION_TYPE_AUTO",
            "VERSION_TYPE_EXPRESS",
            "VERSION_TYPE_WEB",
            "VERSION_TYPE_STANDARD",
            "VERSION_TYPE_ENTERPRISE"
          ],
          "description": "Optional. Edition of Microsoft SQL version that is used on a Cloud SQL for SQL server instance.",
          "type": "string"
        },
        "multithreading": {
          "description": "Optional. Preferences for multithreading support.",
          "type": "string",
          "enumDescriptions": [
            "Same as MULTITHREADING_AUTO.",
            "Disable simultaneous multithreading.",
            "Enable simultaneous multithreading.",
            "Disable simultaneous multithreading and increase number of VCPUs to compensate."
          ],
          "enum": [
            "MULTITHREADING_UNSPECIFIED",
            "MULTITHREADING_DISABLED",
            "MULTITHREADING_ENABLED",
            "MULTITHREADING_DISABLED_WITH_COMPENSATION"
          ]
        },
        "common": {
          "$ref": "DatabasePreferencesCloudSqlCommon",
          "description": "Optional. Preferences to Cloud SQL databases."
        }
      },
      "description": "Preferences for SQL Server on Cloud SQL.",
      "type": "object",
      "id": "DatabasePreferencesCloudSqlSqlServer"
    },
    "DatabasePreferencesCloudSqlMySql": {
      "type": "object",
      "description": "Preferences for MySQL on Cloud SQL.",
      "properties": {
        "common": {
          "description": "Optional. Preferences to Cloud SQL databases.",
          "$ref": "DatabasePreferencesCloudSqlCommon"
        }
      },
      "id": "DatabasePreferencesCloudSqlMySql"
    },
    "AggregationResultCount": {
      "properties": {
        "value": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "The result of a count aggregation.",
      "id": "AggregationResultCount"
    },
    "FrameViolationEntry": {
      "type": "object",
      "id": "FrameViolationEntry",
      "description": "A resource that contains a single violation of a reported `AssetFrame` resource.",
      "properties": {
        "violation": {
          "description": "A message describing the violation.",
          "type": "string"
        },
        "field": {
          "description": "The field of the original frame where the violation occurred.",
          "type": "string"
        }
      }
    },
    "MySqlVariable": {
      "id": "MySqlVariable",
      "description": "MySql variable.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The variable value."
        },
        "variable": {
          "description": "Required. The variable name.",
          "type": "string"
        },
        "category": {
          "type": "string",
          "description": "Required. The variable category."
        }
      },
      "type": "object"
    },
    "DiskEntryList": {
      "properties": {
        "entries": {
          "items": {
            "$ref": "DiskEntry"
          },
          "description": "Disk entries.",
          "type": "array"
        }
      },
      "description": "VM disks.",
      "id": "DiskEntryList",
      "type": "object"
    },
    "Selinux": {
      "type": "object",
      "properties": {
        "mode": {
          "description": "SELinux mode disabled / enforcing / permissive.",
          "type": "string"
        },
        "enabled": {
          "description": "Is SELinux enabled.",
          "type": "boolean"
        }
      },
      "description": "SELinux details.",
      "id": "Selinux"
    },
    "MachineNetworkDetails": {
      "type": "object",
      "description": "Details of network adapters and settings.",
      "id": "MachineNetworkDetails",
      "properties": {
        "primaryMacAddress": {
          "description": "MAC address of the machine. This property is used to uniqly identify the machine.",
          "type": "string"
        },
        "defaultGateway": {
          "type": "string",
          "description": "Default gateway address."
        },
        "primaryIpAddress": {
          "description": "The primary IP address of the machine.",
          "type": "string"
        },
        "networkAdapters": {
          "$ref": "NetworkAdapterList",
          "description": "List of network adapters."
        },
        "publicIpAddress": {
          "description": "The public IP address of the machine.",
          "type": "string"
        }
      }
    },
    "AwsS3BucketDetailsObjectsMetadataTotalObjects": {
      "type": "object",
      "id": "AwsS3BucketDetailsObjectsMetadataTotalObjects",
      "properties": {
        "value": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The total number of objects in the bucket."
        }
      },
      "description": "Information about the total number of objects in the bucket."
    },
    "AggregationResultSum": {
      "description": "The result of a sum aggregation.",
      "properties": {
        "value": {
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "id": "AggregationResultSum"
    },
    "AwsElasticIpAddressDetails": {
      "type": "object",
      "id": "AwsElasticIpAddressDetails",
      "properties": {},
      "description": "Asset information specific for AWS Elastic IP Addresses."
    },
    "AggregationCount": {
      "description": "Object count.",
      "properties": {},
      "id": "AggregationCount",
      "type": "object"
    },
    "Money": {
      "properties": {
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        },
        "units": {
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string"
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents an amount of money with its currency type.",
      "id": "Money"
    },
    "PreferenceSet": {
      "description": "The preferences that apply to all assets in a given context.",
      "id": "PreferenceSet",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "regionPreferences": {
          "description": "Optional. Region preferences for assets using this preference set. If you are unsure which value to set, the migration service API region is often a good value to start with. If unspecified, VirtualMachinePreferences.RegionPreferences is used.",
          "$ref": "RegionPreferences"
        },
        "virtualMachinePreferences": {
          "$ref": "VirtualMachinePreferences",
          "description": "A set of preferences that applies to all virtual machines in the context."
        },
        "description": {
          "description": "A description of the preference set.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Name of the PreferenceSet.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The timestamp when the preference set was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the preference set was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "databasePreferences": {
          "$ref": "DatabasePreferences",
          "description": "Optional. A set of preferences that applies to all databases in the context."
        }
      }
    },
    "AwsApiGatewayRestApiDetails": {
      "type": "object",
      "id": "AwsApiGatewayRestApiDetails",
      "description": "Asset information specific for AWS API Gateway REST APIs.",
      "properties": {}
    },
    "HostsEntry": {
      "type": "object",
      "id": "HostsEntry",
      "properties": {
        "hostNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of host names / aliases."
        },
        "ip": {
          "description": "IP (raw, IPv4/6 agnostic).",
          "type": "string"
        }
      },
      "description": "Single /etc/hosts entry."
    },
    "AssetsExportJobExportCondition": {
      "id": "AssetsExportJobExportCondition",
      "description": "Conditions for selecting assets to export.",
      "properties": {
        "filter": {
          "description": "Optional. Assets filter, supports the same syntax as asset listing.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SqlServerFeature": {
      "properties": {
        "featureName": {
          "description": "Required. The feature name.",
          "type": "string"
        },
        "enabled": {
          "description": "Required. Field enabled is set when a feature is used on the source deployment.",
          "type": "boolean"
        }
      },
      "description": "SQL Server feature details.",
      "type": "object",
      "id": "SqlServerFeature"
    },
    "BiosDetails": {
      "type": "object",
      "description": "Details about the BIOS.",
      "properties": {
        "biosVersion": {
          "description": "BIOS version.",
          "type": "string"
        },
        "biosManufacturer": {
          "description": "BIOS manufacturer.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "BIOS ID."
        },
        "smbiosUuid": {
          "description": "SMBIOS UUID.",
          "type": "string"
        },
        "releaseTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "BIOS release date."
        },
        "biosReleaseDate": {
          "description": "BIOS release date.",
          "type": "string"
        },
        "biosName": {
          "description": "BIOS name.",
          "type": "string"
        },
        "manufacturer": {
          "type": "string",
          "description": "BIOS manufacturer."
        },
        "version": {
          "description": "BIOS version.",
          "type": "string"
        }
      },
      "id": "BiosDetails"
    },
    "AssetPerformanceData": {
      "description": "Performance data for an asset.",
      "type": "object",
      "properties": {
        "dailyResourceUsageAggregations": {
          "type": "array",
          "items": {
            "$ref": "DailyResourceUsageAggregation"
          },
          "description": "Daily resource usage aggregations. Contains all of the data available for an asset, up to the last 420 days. Aggregations are sorted from oldest to most recent."
        }
      },
      "id": "AssetPerformanceData"
    },
    "DatabaseSchema": {
      "description": "Details of a database schema.",
      "type": "object",
      "id": "DatabaseSchema",
      "properties": {
        "mysql": {
          "description": "Details of a Mysql schema.",
          "$ref": "MySqlSchemaDetails"
        },
        "tablesSizeBytes": {
          "type": "string",
          "description": "The total size of tables in bytes.",
          "format": "int64"
        },
        "sqlServer": {
          "$ref": "SqlServerSchemaDetails",
          "description": "Details of a SqlServer schema."
        },
        "objects": {
          "type": "array",
          "items": {
            "$ref": "DatabaseObjects"
          },
          "description": "List of details of objects by category."
        },
        "postgresql": {
          "description": "Details of a PostgreSql schema.",
          "$ref": "PostgreSqlSchemaDetails"
        },
        "schemaName": {
          "description": "The name of the schema.",
          "type": "string"
        }
      }
    },
    "VmwareEnginePreferences": {
      "type": "object",
      "properties": {
        "cpuOvercommitRatio": {
          "format": "double",
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 8.0, with 0.1 increment.",
          "type": "number"
        },
        "commitmentPlan": {
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_3_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_1_YEAR_UPFRONT_PAYMENT",
            "COMMITMENT_3_YEAR_UPFRONT_PAYMENT",
            "COMMITMENT_FLEXIBLE_3_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_FLEXIBLE_3_YEAR_UPFRONT_PAYMENT"
          ],
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1 year commitment (monthly payments).",
            "3 year commitment (monthly payments).",
            "1 year commitment (upfront payment).",
            "3 years commitment (upfront payment).",
            "3-year flexible commitment (monthly payments). While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API.",
            "3-year flexible commitment (upfront payment). While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "type": "string",
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with."
        },
        "licenseDiscountPercentage": {
          "format": "float",
          "type": "number",
          "description": "Optional. Discount percentage for the license offered to you by Broadcom. Must be between 0 and 100. Only valid when service_type is set to SERVICE_TYPE_PORTABLE_LICENSE."
        },
        "serviceType": {
          "type": "string",
          "enum": [
            "SERVICE_TYPE_UNSPECIFIED",
            "SERVICE_TYPE_FULLY_LICENSED",
            "SERVICE_TYPE_PORTABLE_LICENSE"
          ],
          "enumDescriptions": [
            "Same as SERVICE_TYPE_FULLY_LICENSED.",
            "Google provided VCF license.",
            "Bring Your Own License."
          ],
          "description": "Optional. GCVE service type (fully licensed or portable license)."
        },
        "machinePreferences": {
          "$ref": "VMwareEngineMachinePreferences",
          "description": "Optional. Preferences concerning the machine types to consider on Google Cloud VMware Engine."
        },
        "storageDeduplicationCompressionRatio": {
          "description": "The Deduplication and Compression ratio is based on the logical (Used Before) space required to store data before applying deduplication and compression, in relation to the physical (Used After) space required after applying deduplication and compression. Specifically, the ratio is the Used Before space divided by the Used After space. For example, if the Used Before space is 3 GB, but the physical Used After space is 1 GB, the deduplication and compression ratio is 3x. Acceptable values are between 1.0 and 4.0.",
          "format": "double",
          "type": "number"
        },
        "memoryOvercommitRatio": {
          "format": "double",
          "type": "number",
          "description": "Memory overcommit ratio. Acceptable values are 1.0, 1.25, 1.5, 1.75 and 2.0."
        }
      },
      "description": "The user preferences relating to Google Cloud VMware Engine target platform.",
      "id": "VmwareEnginePreferences"
    },
    "ReportSummary": {
      "description": "Describes the Summary view of a Report, which contains aggregated values for all the groups and preference sets included in this Report.",
      "properties": {
        "allAssetsStats": {
          "$ref": "ReportSummaryAssetAggregateStats",
          "description": "Aggregate statistics for unique assets across all the groups."
        },
        "virtualMachineStats": {
          "description": "Output only. Aggregate statistics for unique virtual machine assets across all the groups.",
          "readOnly": true,
          "$ref": "ReportSummaryAssetAggregateStats"
        },
        "databaseStats": {
          "readOnly": true,
          "description": "Output only. Aggregate statistics for unique database assets across all the groups.",
          "$ref": "ReportSummaryAssetAggregateStats"
        },
        "groupFindings": {
          "description": "Findings for each Group included in this report.",
          "items": {
            "$ref": "ReportSummaryGroupFinding"
          },
          "type": "array"
        }
      },
      "id": "ReportSummary",
      "type": "object"
    },
    "ReportAssetFramesResponse": {
      "type": "object",
      "id": "ReportAssetFramesResponse",
      "properties": {},
      "description": "A response to a call to `ReportAssetFrame`."
    },
    "ErrorFrame": {
      "description": "Message representing a frame which failed to be processed due to an error.",
      "type": "object",
      "id": "ErrorFrame",
      "properties": {
        "ingestionTime": {
          "description": "Output only. Frame ingestion time.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. The identifier of the ErrorFrame.",
          "type": "string",
          "readOnly": true
        },
        "violations": {
          "type": "array",
          "items": {
            "$ref": "FrameViolationEntry"
          },
          "readOnly": true,
          "description": "Output only. All the violations that were detected for the frame."
        },
        "originalFrame": {
          "description": "Output only. The frame that was originally reported.",
          "$ref": "AssetFrame",
          "readOnly": true
        }
      }
    },
    "DateTime": {
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations.",
      "properties": {
        "month": {
          "type": "integer",
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
          "format": "int32"
        },
        "seconds": {
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "utcOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }."
        },
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0."
        },
        "timeZone": {
          "description": "Time zone.",
          "$ref": "TimeZone"
        },
        "year": {
          "type": "integer",
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
          "format": "int32"
        },
        "hours": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0."
        }
      },
      "type": "object",
      "id": "DateTime"
    },
    "MachineArchitectureDetails": {
      "type": "object",
      "id": "MachineArchitectureDetails",
      "description": "Details of the machine architecture.",
      "properties": {
        "vendor": {
          "description": "Hardware vendor.",
          "type": "string"
        },
        "cpuManufacturer": {
          "type": "string",
          "description": "Optional. CPU manufacturer, e.g., \"Intel\", \"AMD\"."
        },
        "hyperthreading": {
          "enumDescriptions": [
            "Unspecified or unknown.",
            "Hyper-threading is disabled.",
            "Hyper-threading is enabled."
          ],
          "enum": [
            "CPU_HYPER_THREADING_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "description": "CPU hyper-threading support.",
          "type": "string"
        },
        "cpuName": {
          "type": "string",
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc."
        },
        "cpuSocketCount": {
          "format": "int32",
          "description": "Number of processor sockets allocated to the machine.",
          "type": "integer"
        },
        "firmwareType": {
          "enumDescriptions": [
            "Unspecified or unknown.",
            "BIOS firmware.",
            "EFI firmware."
          ],
          "enum": [
            "FIRMWARE_TYPE_UNSPECIFIED",
            "BIOS",
            "EFI"
          ],
          "description": "Firmware type.",
          "type": "string"
        },
        "bios": {
          "description": "BIOS Details.",
          "$ref": "BiosDetails"
        },
        "cpuArchitecture": {
          "type": "string",
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc."
        }
      }
    },
    "DatabasePreferencesCloudSqlCommonBackup": {
      "id": "DatabasePreferencesCloudSqlCommonBackup",
      "description": "Preferences for database backups.",
      "properties": {
        "backupMode": {
          "enumDescriptions": [
            "An unspecified database backup mode.",
            "Automatic backups disabled, no additional charges for storage.",
            "Automatic backups enabled, there will be additional charges for storage."
          ],
          "enum": [
            "BACKUP_MODE_UNSPECIFIED",
            "BACKUP_MODE_DISABLED",
            "BACKUP_MODE_ENABLED"
          ],
          "type": "string",
          "description": "Optional. Automated backup mode."
        }
      },
      "type": "object"
    },
    "Asset": {
      "id": "Asset",
      "type": "object",
      "properties": {
        "awsRedshiftDetails": {
          "description": "Output only. Asset information specific for AWS Redshift",
          "$ref": "AwsRedshiftDetails",
          "readOnly": true
        },
        "awsApiGatewayRestApiDetails": {
          "description": "Output only. Asset information specific for AWS API Gateway REST APIs.",
          "$ref": "AwsApiGatewayRestApiDetails",
          "readOnly": true
        },
        "insightList": {
          "description": "Output only. The list of insights associated with the asset.",
          "$ref": "InsightList",
          "readOnly": true
        },
        "hostingProviderDetails": {
          "$ref": "HostingProviderDetails",
          "description": "Output only. Details about the hosting provider of the asset.",
          "readOnly": true
        },
        "awsEbsVolumeDetails": {
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS EBS Volumes.",
          "$ref": "AwsEbsVolumeDetails"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the asset was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "hidden": {
          "description": "Optional. Indicates if the asset is hidden.",
          "type": "boolean"
        },
        "sources": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The list of sources contributing to the asset."
        },
        "awsEfsFileSystemDetails": {
          "description": "Output only. Asset information specific for AWS EFS file systems.",
          "$ref": "AwsEfsFileSystemDetails",
          "readOnly": true
        },
        "awsDynamodbTableDetails": {
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS DynamoDB tables.",
          "$ref": "AwsDynamoDBTableDetails"
        },
        "awsApplicationLoadBalancerDetails": {
          "$ref": "AwsApplicationLoadBalancerDetails",
          "description": "Output only. Asset information specific for AWS Application Load Balancers.",
          "readOnly": true
        },
        "awsLambdaFunctionDetails": {
          "description": "Output only. Asset information specific for AWS Lambda functions.",
          "$ref": "AwsLambdaFunctionDetails",
          "readOnly": true
        },
        "databaseDeploymentDetails": {
          "description": "Output only. Asset information specific for database deployments.",
          "readOnly": true,
          "$ref": "DatabaseDeploymentDetails"
        },
        "awsAthenaWorkGroupDetails": {
          "description": "Output only. Asset information specific for AwsAthenaWorkGroupDetails",
          "readOnly": true,
          "$ref": "AwsAthenaWorkGroupDetails"
        },
        "awsInternetGatewayDetails": {
          "$ref": "AwsInternetGatewayDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS Internet Gateways."
        },
        "awsCloudFrontDistributionDetails": {
          "description": "Output only. Asset information specific for AWS CloudFront distributions.",
          "$ref": "AwsCloudFrontDistributionDetails",
          "readOnly": true
        },
        "awsEcrRepositoryDetails": {
          "$ref": "AwsEcrRepositoryDetails",
          "description": "Output only. Asset information specific for AwsEcrRepositoryDetails",
          "readOnly": true
        },
        "awsNatGatewayDetails": {
          "$ref": "AwsNatGatewayDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for AwsNatGatewayDetails"
        },
        "machineDetails": {
          "description": "Output only. Asset information specific for virtual machines.",
          "$ref": "MachineDetails",
          "readOnly": true
        },
        "awsFirehoseDetails": {
          "readOnly": true,
          "$ref": "AwsFirehoseDetails",
          "description": "Output only. Asset information specific for AwsFirehoseDetails"
        },
        "awsAppSyncGraphqlApiDetails": {
          "description": "Output only. Asset information specific for AWS AppSync GraphQL APIs.",
          "readOnly": true,
          "$ref": "AwsAppSyncGraphqlApiDetails"
        },
        "awsVpcDetails": {
          "$ref": "AwsVpcDetails",
          "description": "Output only. Asset information specific for AWS VPCs.",
          "readOnly": true
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "awsRoute53HostedZoneDetails": {
          "readOnly": true,
          "$ref": "AwsRoute53HostedZoneDetails",
          "description": "Output only. Asset information specific for AwsRoute53HostedZoneDetails"
        },
        "awsGlueJobDetails": {
          "$ref": "AwsGlueJobDetails",
          "description": "Output only. Asset information specific for AwsGlueJobDetails",
          "readOnly": true
        },
        "awsKinesisStreamDetails": {
          "description": "Output only. Asset information specific for AwsKinesisStreamDetails",
          "$ref": "AwsKinesisStreamDetails",
          "readOnly": true
        },
        "hideTime": {
          "type": "string",
          "description": "Output only. The timestamp when the asset was marked as hidden.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "awsAutoscalingGroupDetails": {
          "$ref": "AwsAutoscalingGroupDetails",
          "description": "Output only. Asset information specific for AwsAutoscalingGroupDetails",
          "readOnly": true
        },
        "title": {
          "readOnly": true,
          "description": "Output only. Server generated human readable name of the asset.",
          "type": "string"
        },
        "assignedGroups": {
          "description": "Output only. The list of groups that the asset is assigned to.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "awsElasticacheClusterDetails": {
          "$ref": "AwsElastiCacheClusterDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS ElastiCache Clusters."
        },
        "hideReason": {
          "type": "string",
          "description": "Optional. An optional reason for marking this asset as hidden."
        },
        "awsEksClusterDetails": {
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS EKS clusters.",
          "$ref": "AwsEksClusterDetails"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the asset was created."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The full name of the asset."
        },
        "awsEmrClusterDetails": {
          "readOnly": true,
          "$ref": "AwsEmrClusterDetails",
          "description": "Output only. Asset information specific for AwsEmrClusterDetails"
        },
        "awsEcsClusterDetails": {
          "description": "Output only. Asset information specific for AWS ECS clusters.",
          "$ref": "AwsEcsClusterDetails",
          "readOnly": true
        },
        "awsElbLoadBalancerDetails": {
          "readOnly": true,
          "$ref": "AwsElbLoadBalancerDetails",
          "description": "Output only. Asset information specific for AWS Load Balancers."
        },
        "awsElasticNetworkInterfaceDetails": {
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS Elastic Network Interfaces.",
          "$ref": "AwsElasticNetworkInterfaceDetails"
        },
        "awsBatchComputeEnvironmentDetails": {
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS Batch Compute Environments.",
          "$ref": "AwsBatchComputeEnvironmentDetails"
        },
        "awsSnsTopicDetails": {
          "readOnly": true,
          "$ref": "AwsSnsTopicDetails",
          "description": "Output only. Asset information specific for AWS SNS Topics."
        },
        "structuredAttributes": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Optional. Generic structured asset attributes."
        },
        "virtualMachineDetails": {
          "description": "Output only. Asset information specific for virtual machines.",
          "$ref": "VirtualMachineDetails",
          "readOnly": true
        },
        "attributes": {
          "description": "Generic asset attributes.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "databaseDetails": {
          "description": "Output only. Asset information specific for logical databases.",
          "readOnly": true,
          "$ref": "DatabaseDetails"
        },
        "performanceData": {
          "description": "Performance data for the asset.",
          "$ref": "AssetPerformanceData"
        },
        "awsElasticIpAddressDetails": {
          "readOnly": true,
          "$ref": "AwsElasticIpAddressDetails",
          "description": "Output only. Asset information specific for AWS Elastic IP Addresses."
        },
        "awsS3BucketDetails": {
          "$ref": "AwsS3BucketDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS S3 buckets."
        }
      },
      "description": "An asset represents a resource in your environment. Asset types include virtual machines and databases."
    },
    "RegionPreferences": {
      "description": "The user preferences relating to target regions.",
      "type": "object",
      "id": "RegionPreferences",
      "properties": {
        "preferredRegions": {
          "description": "A list of preferred regions, ordered by the most preferred region first. Set only valid Google Cloud region names. See https://cloud.google.com/compute/docs/regions-zones for available regions.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ImportJob": {
      "id": "ImportJob",
      "description": "A resource that represents the background job that imports asset frames.",
      "properties": {
        "validationReport": {
          "description": "Output only. The report with the validation results of the import job.",
          "readOnly": true,
          "$ref": "ValidationReport"
        },
        "completeTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the import job was completed.",
          "readOnly": true
        },
        "executionReport": {
          "description": "Output only. The report with the results of running the import job.",
          "readOnly": true,
          "$ref": "ExecutionReport"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The full name of the import job.",
          "type": "string"
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the import job was created.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs.",
          "type": "object"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "The import job is pending.",
            "The processing of the import job is ongoing.",
            "The import job processing has completed.",
            "The import job failed to be processed.",
            "The import job is being validated.",
            "The import job contains blocking errors.",
            "The validation of the job completed with no blocking errors."
          ],
          "enum": [
            "IMPORT_JOB_STATE_UNSPECIFIED",
            "IMPORT_JOB_STATE_PENDING",
            "IMPORT_JOB_STATE_RUNNING",
            "IMPORT_JOB_STATE_COMPLETED",
            "IMPORT_JOB_STATE_FAILED",
            "IMPORT_JOB_STATE_VALIDATING",
            "IMPORT_JOB_STATE_FAILED_VALIDATION",
            "IMPORT_JOB_STATE_READY"
          ],
          "description": "Output only. The state of the import job.",
          "type": "string"
        },
        "assetSource": {
          "type": "string",
          "description": "Required. Reference to a source."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the import job was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "gcsPayload": {
          "deprecated": true,
          "$ref": "GCSPayloadInfo",
          "description": "The payload is in Google Cloud Storage."
        },
        "inlinePayload": {
          "description": "The payload is included in the request, mainly used for small import jobs.",
          "$ref": "InlinePayloadInfo"
        }
      },
      "type": "object"
    },
    "PhysicalPlatformDetails": {
      "description": "Platform specific details for Physical Machines.",
      "properties": {
        "hyperthreading": {
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "type": "string",
          "description": "Whether the machine is hyperthreaded."
        },
        "location": {
          "type": "string",
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different machines in the same location may have different string values for this field."
        }
      },
      "id": "PhysicalPlatformDetails",
      "type": "object"
    },
    "RunAssetsExportJobResponse": {
      "type": "object",
      "properties": {
        "assetsExportJobExecution": {
          "description": "Output only. Execution status of the assets export operation.",
          "readOnly": true,
          "$ref": "AssetsExportJobExecution"
        }
      },
      "description": "Response message for running an assets export job.",
      "id": "RunAssetsExportJobResponse"
    },
    "CpuUsageSample": {
      "properties": {
        "utilizedPercentage": {
          "description": "Percentage of total CPU capacity utilized. Must be in the interval [0, 100]. On most systems can be calculated using 100 - idle percentage.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "description": "CPU usage sample.",
      "id": "CpuUsageSample"
    },
    "AwsElastiCacheClusterDetails": {
      "properties": {},
      "type": "object",
      "description": "Details of an AWS ElastiCache Cluster.",
      "id": "AwsElastiCacheClusterDetails"
    },
    "DiskUsageSample": {
      "properties": {
        "averageIops": {
          "format": "float",
          "description": "Average IOPS sampled over a short window. Must be non-negative. If read or write are set, the sum of read and write will override the value of the average_iops.",
          "type": "number"
        },
        "averageWriteIops": {
          "format": "float",
          "description": "Average write IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored.",
          "type": "number"
        },
        "averageReadIops": {
          "type": "number",
          "description": "Average read IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored.",
          "format": "float"
        }
      },
      "description": "Disk usage sample. Values are across all disks.",
      "id": "DiskUsageSample",
      "type": "object"
    },
    "SignedUri": {
      "type": "object",
      "id": "SignedUri",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Output only. Download URI for the file.",
          "readOnly": true
        },
        "file": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the file the Signed URI references."
        }
      },
      "description": "Contains a signed URI."
    },
    "DailyResourceUsageAggregation": {
      "description": "Usage data aggregation for a single day.",
      "properties": {
        "memory": {
          "$ref": "DailyResourceUsageAggregationMemory",
          "description": "Memory usage."
        },
        "disk": {
          "description": "Disk usage.",
          "$ref": "DailyResourceUsageAggregationDisk"
        },
        "network": {
          "$ref": "DailyResourceUsageAggregationNetwork",
          "description": "Network usage."
        },
        "date": {
          "description": "Aggregation date. Day boundaries are at midnight UTC.",
          "$ref": "Date"
        },
        "cpu": {
          "description": "CPU usage.",
          "$ref": "DailyResourceUsageAggregationCPU"
        }
      },
      "id": "DailyResourceUsageAggregation",
      "type": "object"
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "MySqlProperty": {
      "id": "MySqlProperty",
      "description": "MySql property.",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Required. The property is enabled."
        },
        "numericValue": {
          "type": "string",
          "format": "int64",
          "description": "Required. The property numeric value."
        },
        "property": {
          "type": "string",
          "description": "Required. The property name."
        }
      }
    },
    "VirtualMachineDiskDetails": {
      "description": "Details of VM disks.",
      "id": "VirtualMachineDiskDetails",
      "properties": {
        "disks": {
          "$ref": "DiskEntryList",
          "description": "List of disks."
        },
        "hddTotalFreeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Total Disk Free Space."
        },
        "hddTotalCapacityBytes": {
          "type": "string",
          "description": "Disk total Capacity.",
          "format": "int64"
        },
        "lsblkJson": {
          "description": "Raw lsblk output in json.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MachineDiskDetails": {
      "id": "MachineDiskDetails",
      "description": "Details of machine disks.",
      "type": "object",
      "properties": {
        "totalCapacityBytes": {
          "description": "Disk total Capacity.",
          "type": "string",
          "format": "int64"
        },
        "disks": {
          "description": "List of disks.",
          "$ref": "DiskEntryList"
        },
        "totalFreeBytes": {
          "type": "string",
          "description": "Total disk free space.",
          "format": "int64"
        },
        "rawScanResult": {
          "description": "Raw disk scan result. This field is intended for human inspection. The format of this field may be lsblk output or any another raw output. The exact format may change without notice and should not be relied upon.",
          "type": "string"
        }
      }
    },
    "ReportSummaryVMWareNodeAllocation": {
      "description": "Represents assets allocated to a specific VMWare Node type.",
      "id": "ReportSummaryVMWareNodeAllocation",
      "properties": {
        "vmwareNode": {
          "$ref": "ReportSummaryVMWareNode",
          "description": "VMWare node type, e.g. \"ve1-standard-72\""
        },
        "allocatedAssetCount": {
          "description": "Count of assets allocated to these nodes",
          "type": "string",
          "format": "int64"
        },
        "nodeCount": {
          "description": "Count of this node type to be provisioned",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "AwsGlueJobDetails": {
      "id": "AwsGlueJobDetails",
      "description": "Contains details for an AWS Glue Job asset.",
      "properties": {},
      "type": "object"
    },
    "NetworkUsageSample": {
      "description": "Network usage sample. Values are across all network interfaces.",
      "properties": {
        "averageEgressBps": {
          "type": "number",
          "format": "float",
          "description": "Average network egress in B/s sampled over a short window. Must be non-negative."
        },
        "averageIngressBps": {
          "format": "float",
          "description": "Average network ingress in B/s sampled over a short window. Must be non-negative.",
          "type": "number"
        }
      },
      "id": "NetworkUsageSample",
      "type": "object"
    },
    "CloudSqlForPostgreSqlShape": {
      "type": "object",
      "id": "CloudSqlForPostgreSqlShape",
      "description": "Cloud SQL for PostgreSQL database shape.",
      "properties": {
        "logicalCoreCount": {
          "readOnly": true,
          "description": "Output only. Number of logical cores.",
          "type": "integer",
          "format": "int32"
        },
        "memoryMb": {
          "format": "int32",
          "description": "Output only. Predicted amount of memory in MiB.",
          "type": "integer",
          "readOnly": true
        },
        "version": {
          "enumDescriptions": [
            "Unspecified PostgreSQL version.",
            "PostgreSQL 9.6.",
            "PostgreSQL 10",
            "PostgreSQL 11",
            "PostgreSQL 12",
            "PostgreSQL 13",
            "PostgreSQL 14",
            "PostgreSQL 15"
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "POSTGRESQL_VERSION_UNSPECIFIED",
            "POSTGRESQL_VERSION_9_6",
            "POSTGRESQL_VERSION_10",
            "POSTGRESQL_VERSION_11",
            "POSTGRESQL_VERSION_12",
            "POSTGRESQL_VERSION_13",
            "POSTGRESQL_VERSION_14",
            "POSTGRESQL_VERSION_15"
          ],
          "description": "Output only. PostgreSql version to be used on the Cloud SQL for PostgreSql instance."
        },
        "zoneAvailability": {
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ],
          "description": "Output only. Cloud SQL zone availability.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ]
        },
        "edition": {
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ],
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ],
          "readOnly": true,
          "description": "Output only. Cloud SQL edition.",
          "type": "string"
        },
        "egressGbPerMonth": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Predicted Network Out traffic GiB per month."
        },
        "backupStorageGb": {
          "description": "Output only. Predicted backup storage size in GiB.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "storage": {
          "description": "Output only. Predicted storage shape.",
          "$ref": "ComputeStorageDescriptor",
          "readOnly": true
        }
      }
    },
    "VmwareEngineMigrationTarget": {
      "description": "VMWare engine migration target.",
      "properties": {},
      "id": "VmwareEngineMigrationTarget",
      "type": "object"
    },
    "AwsEbsVolumeDetails": {
      "description": "Asset information specific for AWS EBS Volumes.",
      "properties": {},
      "id": "AwsEbsVolumeDetails",
      "type": "object"
    },
    "AwsDynamoDBTableDetails": {
      "id": "AwsDynamoDBTableDetails",
      "type": "object",
      "properties": {},
      "description": "Details of an AWS DynamoDB table."
    },
    "AssetsExportJobPerformanceData": {
      "description": "Configuration for performance data exports.",
      "properties": {
        "maxDays": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. When this value is set to a positive integer, performance data will be returned for the most recent days for which data is available. When this value is unset (or set to zero), all available data is returned. The maximum value is 420; values above 420 will be coerced to 420. If unset (0 value) a default value of 40 will be used."
        }
      },
      "type": "object",
      "id": "AssetsExportJobPerformanceData"
    },
    "HostingProviderDetails": {
      "id": "HostingProviderDetails",
      "type": "object",
      "description": "Details about the hosting platform of the asset.",
      "properties": {
        "location": {
          "description": "Optional. Location of the asset.",
          "$ref": "ResourceLocation"
        },
        "displayName": {
          "description": "Optional. Display name of the asset.",
          "type": "string"
        },
        "originalId": {
          "type": "string",
          "description": "Optional. Unique identifier for the asset in the hosting provider."
        },
        "createTime": {
          "type": "string",
          "description": "Optional. The timestamp when resource was created in the hosting provider.",
          "format": "google-datetime"
        },
        "aws": {
          "description": "Optional. The AWS platform details.",
          "$ref": "HostingProviderDetailsAws"
        }
      }
    },
    "DetectedSoftware": {
      "id": "DetectedSoftware",
      "type": "object",
      "description": "Information about software detected on an asset.",
      "properties": {
        "softwareName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Software's name."
        },
        "softwareFamily": {
          "type": "string",
          "description": "Output only. Software family of the detected software, e.g. Database, SAP family.",
          "readOnly": true
        }
      }
    },
    "AwsEfsFileSystemDetails": {
      "type": "object",
      "id": "AwsEfsFileSystemDetails",
      "properties": {},
      "description": "Details of an AWS EFS file system."
    },
    "ListImportDataFilesResponse": {
      "type": "object",
      "id": "ListImportDataFilesResponse",
      "description": "Response for listing payload files of an import job.",
      "properties": {
        "importDataFiles": {
          "description": "The list of import data files.",
          "items": {
            "$ref": "ImportDataFile"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ReportSummaryMachineFinding": {
      "type": "object",
      "id": "ReportSummaryMachineFinding",
      "properties": {
        "allocatedAssetCount": {
          "description": "Count of assets which were allocated.",
          "format": "int64",
          "type": "string"
        },
        "allocatedRegions": {
          "type": "array",
          "description": "Set of regions in which the assets were allocated.",
          "items": {
            "type": "string"
          }
        },
        "machineSeriesAllocations": {
          "items": {
            "$ref": "ReportSummaryMachineSeriesAllocation"
          },
          "type": "array",
          "description": "Distribution of assets based on the Machine Series."
        },
        "allocatedDiskTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified. Fallback to default value based on context.",
              "Standard HDD Persistent Disk.",
              "Balanced Persistent Disk.",
              "SSD Persistent Disk."
            ],
            "enum": [
              "PERSISTENT_DISK_TYPE_UNSPECIFIED",
              "PERSISTENT_DISK_TYPE_STANDARD",
              "PERSISTENT_DISK_TYPE_BALANCED",
              "PERSISTENT_DISK_TYPE_SSD"
            ]
          },
          "description": "@deprecated. Use storage_allocations instead. Set of disk types allocated to assets.",
          "deprecated": true
        }
      },
      "description": "A set of findings that applies to assets of type Virtual/Physical Machine."
    },
    "CascadeLogicalDBsRule": {
      "id": "CascadeLogicalDBsRule",
      "description": "Cascading rule for related logical DBs.",
      "type": "object",
      "properties": {}
    },
    "DiskPartition": {
      "properties": {
        "fileSystem": {
          "type": "string",
          "description": "Partition file system."
        },
        "mountPoint": {
          "type": "string",
          "description": "Mount point (Linux/Windows) or drive letter (Windows)."
        },
        "freeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Partition free space."
        },
        "type": {
          "type": "string",
          "description": "Partition type (e.g. BIOS boot)."
        },
        "capacityBytes": {
          "type": "string",
          "description": "Partition capacity.",
          "format": "int64"
        },
        "subPartitions": {
          "description": "Sub-partitions.",
          "$ref": "DiskPartitionList"
        },
        "uuid": {
          "description": "Partition UUID.",
          "type": "string"
        }
      },
      "description": "Disk Partition details.",
      "id": "DiskPartition",
      "type": "object"
    },
    "RemoveAssetsFromGroupRequest": {
      "id": "RemoveAssetsFromGroupRequest",
      "description": "A request to remove assets from a group.",
      "properties": {
        "assets": {
          "description": "Required. List of assets to be removed. The maximum number of assets that can be removed in a single request is 1000.",
          "$ref": "AssetList"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "allowMissing": {
          "type": "boolean",
          "description": "Optional. When this value is set to `false` and one of the given assets is not an existing member of the group, the operation fails with a `Not Found` error. When set to `true` this situation is silently ignored by the server. Default value is `false`."
        }
      },
      "type": "object"
    },
    "PostgreSqlSchemaDetails": {
      "type": "object",
      "properties": {
        "foreignTablesCount": {
          "description": "Optional. PostgreSql foreign tables.",
          "format": "int32",
          "type": "integer"
        },
        "postgresqlExtensions": {
          "description": "Optional. PostgreSql extensions.",
          "items": {
            "$ref": "PostgreSqlExtension"
          },
          "type": "array"
        }
      },
      "id": "PostgreSqlSchemaDetails",
      "description": "Specific details for a PostgreSql schema."
    },
    "ImportRowErrorArchiveErrorDetails": {
      "type": "object",
      "properties": {
        "filePath": {
          "description": "The file path inside the archive where the error was detected.",
          "type": "string"
        },
        "csvError": {
          "description": "Error details for a CSV file.",
          "$ref": "ImportRowErrorCsvErrorDetails"
        }
      },
      "description": "Error details for an archive file.",
      "id": "ImportRowErrorArchiveErrorDetails"
    },
    "AwsEcrRepositoryDetails": {
      "type": "object",
      "properties": {},
      "id": "AwsEcrRepositoryDetails",
      "description": "Asset information specific for AWS ECR Repository."
    },
    "AggregationHistogram": {
      "id": "AggregationHistogram",
      "properties": {
        "lowerBounds": {
          "description": "Lower bounds of buckets. The response will contain `n+1` buckets for `n` bounds. The first bucket will count all assets for which the field value is smaller than the first bound. Subsequent buckets will count assets for which the field value is greater or equal to a lower bound and smaller than the next one. The last bucket will count assets for which the field value is greater or equal to the final lower bound. You can define up to 20 lower bounds.",
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          }
        }
      },
      "description": "Histogram of bucketed assets counts by field value.",
      "type": "object"
    },
    "AwsEc2PlatformDetails": {
      "description": "AWS EC2 specific details.",
      "properties": {
        "machineTypeLabel": {
          "type": "string",
          "description": "AWS platform's machine type label."
        },
        "location": {
          "type": "string",
          "description": "The location of the machine in the AWS format."
        },
        "hyperthreading": {
          "description": "Optional. Whether the machine is hyperthreaded.",
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        }
      },
      "type": "object",
      "id": "AwsEc2PlatformDetails"
    },
    "AggregateAssetsValuesResponse": {
      "description": "A response to a request to aggregated assets values.",
      "id": "AggregateAssetsValuesResponse",
      "properties": {
        "results": {
          "type": "array",
          "description": "The aggregation results.",
          "items": {
            "$ref": "AggregationResult"
          }
        }
      },
      "type": "object"
    },
    "MachineSeries": {
      "id": "MachineSeries",
      "description": "A machine series, for a target product (e.g. Compute Engine, Google Cloud VMware Engine).",
      "type": "object",
      "properties": {
        "code": {
          "description": "Code to identify a machine series. Consult this for more details on the available series for Compute Engine: https://cloud.google.com/compute/docs/machine-resource#machine_type_comparison Consult this for more details on the available series for Google Cloud VMware Engine: https://cloud.google.com/vmware-engine/pricing",
          "type": "string"
        }
      }
    },
    "ListSourcesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "sources": {
          "description": "The list of sources.",
          "type": "array",
          "items": {
            "$ref": "Source"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListSourcesResponse",
      "description": "Response message for listing sources."
    },
    "Frames": {
      "description": "Collection of frame data.",
      "properties": {
        "framesData": {
          "description": "A repeated field of asset data.",
          "items": {
            "$ref": "AssetFrame"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "Frames"
    },
    "SignedUriDestination": {
      "description": "Signed URI destination configuration.",
      "type": "object",
      "id": "SignedUriDestination",
      "properties": {
        "fileFormat": {
          "enumDescriptions": [
            "Unspecified file format will be treated as CSV.",
            "CSV file format.",
            "XLSX file format which used in Excel."
          ],
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "type": "string",
          "description": "Required. The file format to export."
        }
      }
    },
    "ReportSummaryMachineSeriesAllocation": {
      "id": "ReportSummaryMachineSeriesAllocation",
      "description": "Represents a data point tracking the count of assets allocated for a specific Machine Series.",
      "properties": {
        "machineSeries": {
          "description": "The Machine Series (e.g. \"E2\", \"N2\")",
          "$ref": "MachineSeries"
        },
        "allocatedAssetCount": {
          "description": "Count of assets allocated to this machine series.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GCSPayloadInfo": {
      "description": "A resource that represents a payload hosted on Google Cloud Storage.",
      "type": "object",
      "properties": {
        "path": {
          "description": "The payload path in Google Cloud Storage.",
          "type": "string"
        },
        "format": {
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ],
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the [AWS collection script](https://github.com/GoogleCloudPlatform/aws-to-stratozone-export).",
            "CSV format exported from Azure using the [Azure collection script](https://github.com/GoogleCloudPlatform/azure-to-stratozone-export).",
            "CSV format created manually. For more information, see [Manually create and upload data tables](https://cloud.google.com/migrate/stratozone/docs/import-data-portal).",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "The import job format.",
          "type": "string"
        }
      },
      "id": "GCSPayloadInfo"
    },
    "MigrationInsight": {
      "type": "object",
      "id": "MigrationInsight",
      "properties": {
        "issues": {
          "items": {
            "$ref": "Issue"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Issues associated with this migration."
        },
        "computeEngineTarget": {
          "$ref": "ComputeEngineMigrationTarget",
          "description": "Output only. A Google Compute Engine target.",
          "readOnly": true
        },
        "gkeTarget": {
          "$ref": "GoogleKubernetesEngineMigrationTarget",
          "readOnly": true,
          "description": "Output only. A Google Kubernetes Engine target."
        },
        "fit": {
          "readOnly": true,
          "$ref": "FitDescriptor",
          "description": "Output only. Description of how well the asset this insight is associated with fits the proposed migration."
        },
        "cloudDatabaseTarget": {
          "readOnly": true,
          "$ref": "CloudDatabaseMigrationTarget",
          "description": "Output only. A Cloud database migration target."
        },
        "computeEngineSoleTenantTarget": {
          "readOnly": true,
          "$ref": "ComputeEngineSoleTenantMigrationTarget",
          "description": "Output only. A Google Compute Engine Sole Tenant target."
        },
        "vmwareEngineTarget": {
          "readOnly": true,
          "$ref": "VmwareEngineMigrationTarget",
          "description": "Output only. A VMWare Engine target."
        }
      },
      "description": "An insight about potential migrations for an asset."
    },
    "AwsElbLoadBalancerDetails": {
      "type": "object",
      "properties": {},
      "description": "Asset information specific for AWS Load Balancers.",
      "id": "AwsElbLoadBalancerDetails"
    },
    "GuestInstalledApplication": {
      "type": "object",
      "id": "GuestInstalledApplication",
      "description": "Guest installed application information.",
      "properties": {
        "time": {
          "type": "string",
          "description": "Date application was installed."
        },
        "vendor": {
          "type": "string",
          "description": "Installed application vendor."
        },
        "installTime": {
          "description": "The time when the application was installed.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Installed application name."
        },
        "applicationName": {
          "type": "string",
          "description": "Installed application name."
        },
        "path": {
          "description": "Source path.",
          "type": "string"
        },
        "version": {
          "description": "Installed application version.",
          "type": "string"
        },
        "licenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "License strings associated with the installed application."
        }
      }
    },
    "NfsExportList": {
      "id": "NfsExportList",
      "properties": {
        "entries": {
          "items": {
            "$ref": "NfsExport"
          },
          "type": "array",
          "description": "NFS export entries."
        }
      },
      "type": "object",
      "description": "NFS exports."
    },
    "PostgreSqlExtension": {
      "description": "PostgreSql extension.",
      "id": "PostgreSqlExtension",
      "type": "object",
      "properties": {
        "extension": {
          "description": "Required. The extension name.",
          "type": "string"
        },
        "version": {
          "description": "Required. The extension version.",
          "type": "string"
        }
      }
    },
    "AwsCloudFrontDistributionDetails": {
      "type": "object",
      "description": "Details of an AWS CloudFront distribution.",
      "id": "AwsCloudFrontDistributionDetails",
      "properties": {}
    },
    "NetworkAdapterList": {
      "description": "List of network adapters.",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "NetworkAdapterDetails"
          },
          "description": "Network adapter entries."
        },
        "networkAdapters": {
          "type": "array",
          "items": {
            "$ref": "NetworkAdapterDetails"
          },
          "description": "Network adapter descriptions."
        }
      },
      "type": "object",
      "id": "NetworkAdapterList"
    },
    "AssetsExportJob": {
      "id": "AssetsExportJob",
      "type": "object",
      "description": "Assets export job message.",
      "properties": {
        "signedUriDestination": {
          "description": "Export to Cloud Storage files downloadable using signed URIs.",
          "$ref": "SignedUriDestination"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Resource creation time.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "performanceData": {
          "$ref": "AssetsExportJobPerformanceData",
          "description": "Export asset with performance data."
        },
        "showHidden": {
          "type": "boolean",
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden."
        },
        "inventory": {
          "description": "Export asset inventory details.",
          "$ref": "AssetsExportJobInventory"
        },
        "networkDependencies": {
          "$ref": "AssetsExportJobNetworkDependencies",
          "description": "Export data regarding asset network dependencies."
        },
        "labels": {
          "description": "Optional. Labels as key value pairs. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Resource update time."
        },
        "condition": {
          "description": "Optional. Conditions for selecting assets to export.",
          "$ref": "AssetsExportJobExportCondition"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. Resource name."
        },
        "recentExecutions": {
          "description": "Output only. Recent non expired executions of the job.",
          "items": {
            "$ref": "AssetsExportJobExecution"
          },
          "type": "array",
          "readOnly": true
        }
      }
    },
    "ReportSummaryVMWareNode": {
      "description": "A VMWare Engine Node",
      "type": "object",
      "properties": {
        "code": {
          "description": "Code to identify VMware Engine node series, e.g. \"ve1-standard-72\". Based on the displayName of cloud.google.com/vmware-engine/docs/reference/rest/v1/projects.locations.nodeTypes",
          "type": "string"
        }
      },
      "id": "ReportSummaryVMWareNode"
    },
    "OpenFileDetails": {
      "type": "object",
      "properties": {
        "command": {
          "description": "Opened file command.",
          "type": "string"
        },
        "filePath": {
          "description": "Opened file file path.",
          "type": "string"
        },
        "user": {
          "type": "string",
          "description": "Opened file user."
        },
        "fileType": {
          "type": "string",
          "description": "Opened file file type."
        }
      },
      "description": "Open file Information.",
      "id": "OpenFileDetails"
    },
    "ListRelationsResponse": {
      "properties": {
        "relations": {
          "type": "array",
          "description": "A list of relations.",
          "items": {
            "$ref": "Relation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "description": "Response message for listing relations.",
      "type": "object",
      "id": "ListRelationsResponse"
    },
    "DatabaseDetails": {
      "type": "object",
      "id": "DatabaseDetails",
      "description": "Details of a logical database.",
      "properties": {
        "databaseName": {
          "type": "string",
          "description": "The name of the database."
        },
        "schemas": {
          "items": {
            "$ref": "DatabaseSchema"
          },
          "description": "The database schemas.",
          "type": "array"
        },
        "parentDatabaseDeployment": {
          "description": "The parent database deployment that contains the logical database.",
          "$ref": "DatabaseDetailsParentDatabaseDeployment"
        },
        "allocatedStorageBytes": {
          "type": "string",
          "format": "int64",
          "description": "The allocated storage for the database in bytes."
        }
      }
    },
    "SoleTenancyPreferences": {
      "id": "SoleTenancyPreferences",
      "properties": {
        "commitmentPlan": {
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR",
            "COMMITMENT_3_YEAR",
            "COMMITMENT_FLEXIBLE_1_YEAR",
            "COMMITMENT_FLEXIBLE_3_YEAR"
          ],
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1-year regular committed use discount.",
            "3-year regular committed use discount.",
            "1-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API.",
            "3-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "type": "string"
        },
        "hostMaintenancePolicy": {
          "enum": [
            "HOST_MAINTENANCE_POLICY_UNSPECIFIED",
            "HOST_MAINTENANCE_POLICY_DEFAULT",
            "HOST_MAINTENANCE_POLICY_RESTART_IN_PLACE",
            "HOST_MAINTENANCE_POLICY_MIGRATE_WITHIN_NODE_GROUP"
          ],
[...]
