{
  "description": "A unified platform that helps you accelerate your end-to-end cloud journey from your current on-premises or cloud environments to Google Cloud.",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "schemas": {
    "ReportSummaryAssetAggregateStats": {
      "id": "ReportSummaryAssetAggregateStats",
      "description": "Aggregate statistics for a collection of assets.",
      "properties": {
        "storageBytesHistogram": {
          "description": "Histogram showing a distribution of storage sizes.",
          "$ref": "ReportSummaryHistogramChartData"
        },
        "assetAge": {
          "$ref": "ReportSummaryChartData",
          "description": "Count of assets grouped by age.",
          "deprecated": true
        },
        "operatingSystem": {
          "description": "Count of assets grouped by Operating System families. Only present for virtual machines.",
          "$ref": "ReportSummaryChartData"
        },
        "storageUtilizationChart": {
          "description": "Total memory split into Used/Free buckets.",
          "$ref": "ReportSummaryUtilizationChartData"
        },
        "memoryUtilizationChart": {
          "$ref": "ReportSummaryUtilizationChartData",
          "description": "Total memory split into Used/Free buckets."
        },
        "totalStorageBytes": {
          "type": "string",
          "description": "Sum of persistent storage in bytes of all the assets in this collection.",
          "format": "int64"
        },
        "memoryUtilization": {
          "deprecated": true,
          "description": "Total memory split into Used/Free buckets.",
          "$ref": "ReportSummaryChartData"
        },
        "memoryBytesHistogram": {
          "description": "Histogram showing a distribution of memory sizes.",
          "$ref": "ReportSummaryHistogramChartData"
        },
        "totalCores": {
          "format": "int64",
          "description": "Sum of the CPU core count of all the assets in this collection.",
          "type": "string"
        },
        "totalMemoryBytes": {
          "type": "string",
          "format": "int64",
          "description": "Sum of the memory in bytes of all the assets in this collection."
        },
        "softwareInstances": {
          "description": "Output only. Count of assets grouped by software name. Only present for virtual machines.",
          "$ref": "ReportSummaryChartData",
          "readOnly": true
        },
        "databaseTypes": {
          "description": "Output only. Count of assets grouped by database type. Keys here are taken from DatabaseType enum. Only present for databases.",
          "readOnly": true,
          "$ref": "ReportSummaryChartData"
        },
        "totalAssets": {
          "format": "int64",
          "description": "Count of the number of unique assets in this collection.",
          "type": "string"
        },
        "coreCountHistogram": {
          "$ref": "ReportSummaryHistogramChartData",
          "description": "Histogram showing a distribution of logical CPU core counts."
        },
        "storageUtilization": {
          "deprecated": true,
          "description": "Total storage split into Used/Free buckets.",
          "$ref": "ReportSummaryChartData"
        },
        "estimatedUsageStats": {
          "$ref": "ReportSummaryAssetAggregateStatsEstimatedUsageStats",
          "readOnly": true,
          "description": "Output only. Estimated usage stats for the assets in this collection."
        }
      },
      "type": "object"
    },
    "AssetsExportJobExecutionResult": {
      "description": "Contains the result of the assets export.",
      "properties": {
        "error": {
          "description": "Output only. Error encountered during export.",
          "readOnly": true,
          "$ref": "Status"
        },
        "signedUris": {
          "description": "Output only. Signed URLs for downloading export artifacts.",
          "$ref": "SignedUris",
          "readOnly": true
        },
        "outputFiles": {
          "description": "Output only. List of output files.",
          "$ref": "OutputFileList",
          "readOnly": true
        }
      },
      "id": "AssetsExportJobExecutionResult",
      "type": "object"
    },
    "MachinePreferences": {
      "type": "object",
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations for Compute Engine. Not all machine types are available in all zones and regions.",
      "id": "MachinePreferences",
      "properties": {
        "allowedMachineSeries": {
          "type": "array",
          "items": {
            "$ref": "MachineSeries"
          },
          "description": "Compute Engine machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series."
        }
      }
    },
    "DatabasePreferences": {
      "description": "DatabasePreferences enables you to create sets of preferences for your migrated databases.",
      "properties": {
        "postgresqlToCloudSqlForPostgresqlPreferences": {
          "description": "Optional. Preferences for target PostgreSQL on Cloud SQL when migrating from source PostgreSQL.",
          "$ref": "DatabasePreferencesCloudSqlPostgreSql"
        },
        "mysqlToCloudSqlForMysqlPreferences": {
          "description": "Optional. Preferences for target MySQL on Cloud SQL when migrating from source MySQL.",
          "$ref": "DatabasePreferencesCloudSqlMySql"
        },
        "mssqlToCloudSqlForSqlServerPreferences": {
          "description": "Optional. Preferences for target SQL Server on Cloud SQL when migrating from source Microsoft SQL server.",
          "$ref": "DatabasePreferencesCloudSqlSqlServer"
        }
      },
      "type": "object",
      "id": "DatabasePreferences"
    },
    "ValidateImportJobRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "description": "A request to validate an import job.",
      "id": "ValidateImportJobRequest"
    },
    "ImportError": {
      "type": "object",
      "id": "ImportError",
      "properties": {
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "type": "string",
          "description": "The severity of the error.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "errorDetails": {
          "type": "string",
          "description": "The error information."
        }
      },
      "description": "A resource that reports the errors encountered while processing an import job."
    },
    "ErrorFrame": {
      "type": "object",
      "id": "ErrorFrame",
      "description": "Message representing a frame which failed to be processed due to an error.",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The identifier of the ErrorFrame.",
          "type": "string"
        },
        "violations": {
          "description": "Output only. All the violations that were detected for the frame.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "FrameViolationEntry"
          }
        },
        "ingestionTime": {
          "description": "Output only. Frame ingestion time.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "originalFrame": {
          "$ref": "AssetFrame",
          "readOnly": true,
          "description": "Output only. The frame that was originally reported."
        }
      }
    },
    "OperatingSystemPricingPreferencesOperatingSystemPricing": {
      "type": "object",
      "id": "OperatingSystemPricingPreferencesOperatingSystemPricing",
      "description": "Pricing options of an OS image.",
      "properties": {
        "commitmentPlan": {
          "description": "Optional. The plan of commitments for committed use discounts (CUD).",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "COMMITMENT_PLAN_ON_DEMAND",
            "COMMITMENT_PLAN_1_YEAR",
            "COMMITMENT_PLAN_3_YEAR"
          ],
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1-year committed use discount.",
            "3-year committed use discount."
          ],
          "type": "string"
        },
        "licenseType": {
          "enumDescriptions": [
            "Unspecified (default value).",
            "Default Google Cloud licensing plan. Licensing is charged per usage. This a good value to start with.",
            "Bring-your-own-license (BYOL) plan. User provides the license."
          ],
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_TYPE_DEFAULT",
            "LICENSE_TYPE_BRING_YOUR_OWN_LICENSE"
          ],
          "description": "Optional. License type for premium images (RHEL, RHEL for SAP, SLES, SLES for SAP, Windows Server).",
          "type": "string"
        }
      }
    },
    "DiskPartitionList": {
      "description": "Disk partition list.",
      "properties": {
        "entries": {
          "type": "array",
          "description": "Partition entries.",
          "items": {
            "$ref": "DiskPartition"
          }
        }
      },
      "id": "DiskPartitionList",
      "type": "object"
    },
    "ListRelationsResponse": {
      "id": "ListRelationsResponse",
      "type": "object",
      "properties": {
        "relations": {
          "type": "array",
          "items": {
            "$ref": "Relation"
          },
          "description": "A list of relations."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Response message for listing relations."
    },
    "CsvOutputFile": {
      "id": "CsvOutputFile",
      "type": "object",
      "properties": {
        "columnsCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of columns in the file."
        },
        "rowCount": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of rows in the file."
        },
        "signedUri": {
          "readOnly": true,
          "$ref": "SignedUri",
          "description": "Output only. Signed URI destination."
        }
      },
      "description": "Contains a single output file of type CSV."
    },
    "DiskPartitionDetails": {
      "properties": {
        "partitions": {
          "$ref": "DiskPartitionList",
          "description": "Optional. List of partitions."
        },
        "freeSpaceBytes": {
          "format": "int64",
          "description": "Output only. Total free space of all partitions.",
          "type": "string",
          "readOnly": true
        },
        "totalCapacityBytes": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Total capacity of all partitions.",
          "format": "int64"
        }
      },
      "id": "DiskPartitionDetails",
      "description": "Disk partition details.",
      "type": "object"
    },
    "GenericInsight": {
      "properties": {
        "messageId": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Represents a globally unique message id for this insight, can be used for localization purposes, in case message_code is not yet known by the client use default_message instead.",
          "readOnly": true
        },
        "additionalInformation": {
          "type": "array",
          "description": "Output only. Additional information about the insight, each entry can be a logical entry and must make sense if it is displayed with line breaks between each entry. Text can contain md style links.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "defaultMessage": {
          "readOnly": true,
          "description": "Output only. In case message_code is not yet known by the client default_message will be the message to be used instead. Text can contain md file style links.",
          "type": "string"
        }
      },
      "description": "A generic insight about an asset.",
      "id": "GenericInsight",
      "type": "object"
    },
    "OperatingSystemPricingPreferences": {
      "type": "object",
      "description": "Pricing options for OS images.",
      "properties": {
        "slesForSap": {
          "description": "Optional. Pricing options for SLES for SAP images.",
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing"
        },
        "windows": {
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing",
          "description": "Optional. Pricing options for Windows images. No commitment plans are available, set it to unspecified."
        },
        "rhel": {
          "description": "Optional. Pricing options for RHEL images.",
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing"
        },
        "sles": {
          "description": "Optional. Pricing options for SLES images.",
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing"
        }
      },
      "id": "OperatingSystemPricingPreferences"
    },
    "Issue": {
      "properties": {
        "compatibilityIssue": {
          "$ref": "IssueCompatibilityIssue",
          "description": "Output only. Details about a compatibility issue.",
          "readOnly": true
        },
        "issueCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique identifier for this issue type."
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. English description of the issue."
        }
      },
      "id": "Issue",
      "type": "object",
      "description": "An issue associated with a migration."
    },
    "DailyResourceUsageAggregationMemory": {
      "id": "DailyResourceUsageAggregationMemory",
      "type": "object",
      "properties": {
        "utilizationPercentage": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "Memory utilization percentage."
        }
      },
      "description": "Statistical aggregation of memory usage."
    },
    "RunReportExportJobResponse": {
      "id": "RunReportExportJobResponse",
      "properties": {
        "reportExportExecution": {
          "readOnly": true,
          "$ref": "ReportExportExecution",
          "description": "Output only. Execution status of the export operation."
        }
      },
      "type": "object",
      "description": "Response message for running a report export job."
    },
    "AwsElasticIpAddressDetails": {
      "type": "object",
      "description": "Asset information specific for AWS Elastic IP Addresses.",
      "properties": {},
      "id": "AwsElasticIpAddressDetails"
    },
    "RunImportJobRequest": {
      "description": "A request to run an import job.",
      "id": "RunImportJobRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      }
    },
    "PlatformDetails": {
      "description": "Information about the platform.",
      "id": "PlatformDetails",
      "properties": {
        "physicalDetails": {
          "description": "Physical machines platform details.",
          "$ref": "PhysicalPlatformDetails"
        },
        "genericDetails": {
          "$ref": "GenericPlatformDetails",
          "description": "Generic platform details."
        },
        "awsEc2Details": {
          "description": "AWS EC2 specific details.",
          "$ref": "AwsEc2PlatformDetails"
        },
        "azureVmDetails": {
          "$ref": "AzureVmPlatformDetails",
          "description": "Azure VM specific details."
        },
        "vmwareDetails": {
          "$ref": "VmwarePlatformDetails",
          "description": "VMware specific details."
        }
      },
      "type": "object"
    },
    "DateTime": {
      "properties": {
        "minutes": {
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
          "type": "integer",
          "format": "int32"
        },
        "timeZone": {
          "description": "Time zone.",
          "$ref": "TimeZone"
        },
        "seconds": {
          "type": "integer",
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        },
        "utcOffset": {
          "type": "string",
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
          "format": "google-duration"
        },
        "month": {
          "format": "int32",
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
          "type": "integer"
        },
        "hours": {
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "DateTime",
      "type": "object",
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations."
    },
    "SignedUri": {
      "id": "SignedUri",
      "properties": {
        "file": {
          "readOnly": true,
          "description": "Output only. Name of the file the Signed URI references.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Output only. Download URI for the file.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Contains a signed URI."
    },
    "ReportExportExecutionResult": {
      "properties": {
        "signedUris": {
          "$ref": "SignedUris",
          "description": "Output only. Signed URLs for downloading export artifacts.",
          "readOnly": true
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Error encountered during export."
        },
        "outputFiles": {
          "$ref": "OutputFileList",
          "description": "Output only. List of output files.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Contains the result of the report export.",
      "id": "ReportExportExecutionResult"
    },
    "AwsEcrRepositoryDetails": {
      "id": "AwsEcrRepositoryDetails",
      "description": "Asset information specific for AWS ECR Repository.",
      "type": "object",
      "properties": {}
    },
    "GuestInstalledApplication": {
      "properties": {
        "installTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the application was installed."
        },
        "licenses": {
          "type": "array",
          "description": "License strings associated with the installed application.",
          "items": {
            "type": "string"
          }
        },
        "applicationName": {
          "description": "Installed application name.",
          "type": "string"
        },
        "vendor": {
          "type": "string",
          "description": "Installed application vendor."
        },
        "version": {
          "description": "Installed application version.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Installed application name."
        },
        "time": {
          "description": "Date application was installed.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Source path."
        }
      },
      "description": "Guest installed application information.",
      "id": "GuestInstalledApplication",
      "type": "object"
    },
    "InsightList": {
      "id": "InsightList",
      "type": "object",
      "description": "Message containing insights list.",
      "properties": {
        "insights": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Insights of the list.",
          "items": {
            "$ref": "Insight"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Update timestamp."
        }
      }
    },
    "Source": {
      "properties": {
        "type": {
          "description": "Data source type.",
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ]
        },
        "pendingFrameCount": {
          "description": "Output only. Number of frames that are still being processed.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "priority": {
          "format": "int32",
          "description": "The information confidence of the source. The higher the value, the higher the confidence.",
          "type": "integer"
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "The source is active and ready to be used.",
            "In the process of being deleted.",
            "Source is in an invalid state. Asset frames reported to it will be ignored."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING",
            "INVALID"
          ],
          "description": "Output only. The state of the source.",
          "readOnly": true
        },
        "errorFrameCount": {
          "readOnly": true,
          "description": "Output only. The number of frames that were reported by the source and contained errors.",
          "format": "int32",
          "type": "integer"
        },
        "isManaged": {
          "type": "boolean",
          "description": "If `true`, the source is managed by other service(s)."
        },
        "name": {
          "type": "string",
          "description": "Output only. The full name of the source.",
          "readOnly": true
        },
        "displayName": {
          "description": "User-friendly display name.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the source was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the source was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "description": "Source represents an object from which asset information is streamed to Migration Center.",
      "id": "Source",
      "type": "object"
    },
    "SoleTenancyPreferences": {
      "id": "SoleTenancyPreferences",
      "type": "object",
      "description": "Preferences concerning Sole Tenancy nodes and VMs.",
      "properties": {
        "hostMaintenancePolicy": {
          "description": "Sole Tenancy nodes maintenance policy.",
          "enum": [
            "HOST_MAINTENANCE_POLICY_UNSPECIFIED",
            "HOST_MAINTENANCE_POLICY_DEFAULT",
            "HOST_MAINTENANCE_POLICY_RESTART_IN_PLACE",
            "HOST_MAINTENANCE_POLICY_MIGRATE_WITHIN_NODE_GROUP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified host maintenance policy.",
            "Default host maintenance policy.",
            "Restart in place host maintenance policy.",
            "Migrate within node group host maintenance policy."
          ]
        },
        "cpuOvercommitRatio": {
          "type": "number",
          "format": "double",
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 2.0 inclusive."
        },
        "nodeTypes": {
          "description": "A list of sole tenant node types. An empty list means that all possible node types will be considered.",
          "type": "array",
          "items": {
            "$ref": "SoleTenantNodeType"
          }
        },
        "osPricingPreferences": {
          "description": "Optional. Pricing options for OS images.",
          "$ref": "OperatingSystemPricingPreferences"
        },
        "commitmentPlan": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1-year regular committed use discount.",
            "3-year regular committed use discount.",
            "1-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API.",
            "3-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR",
            "COMMITMENT_3_YEAR",
            "COMMITMENT_FLEXIBLE_1_YEAR",
            "COMMITMENT_FLEXIBLE_3_YEAR"
          ]
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        }
      }
    },
    "AwsAutoscalingGroupDetails": {
      "properties": {},
      "type": "object",
      "description": "Asset information specific for AWS Autoscaling Group.",
      "id": "AwsAutoscalingGroupDetails"
    },
    "AwsEfsFileSystemDetails": {
      "type": "object",
      "description": "Details of an AWS EFS file system.",
      "properties": {},
      "id": "AwsEfsFileSystemDetails"
    },
    "Report": {
      "type": "object",
      "description": "Report represents a point-in-time rendering of the ReportConfig results.",
      "properties": {
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Default report type.",
            "Total cost of ownership report type."
          ],
          "description": "Report type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOTAL_COST_OF_OWNERSHIP"
          ],
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of resource.",
          "type": "string"
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Creation timestamp."
        },
        "updateTime": {
          "description": "Output only. Last update timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "summary": {
          "$ref": "ReportSummary",
          "readOnly": true,
          "description": "Output only. Summary view of the Report."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default Report creation state.",
            "Creating Report.",
            "Successfully created Report.",
            "Failed to create Report."
          ],
          "description": "Report creation state."
        }
      },
      "id": "Report"
    },
    "CascadeLogicalDBsRule": {
      "properties": {},
      "description": "Cascading rule for related logical DBs.",
      "type": "object",
      "id": "CascadeLogicalDBsRule"
    },
    "VmwarePlatformDetails": {
      "properties": {
        "esxVersion": {
          "type": "string",
          "description": "ESX version."
        },
        "osid": {
          "type": "string",
          "description": "VMware os enum - https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html."
        },
        "vcenterVersion": {
          "type": "string",
          "description": "vCenter version."
        },
        "esxHyperthreading": {
          "description": "Whether the ESX is hyperthreaded.",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "type": "string",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        },
        "vcenterUri": {
          "type": "string",
          "description": "vCenter URI used in collection."
        },
        "vcenterFolder": {
          "description": "Folder name in vCenter where asset resides.",
          "type": "string"
        },
        "vcenterVmId": {
          "description": "vCenter VM ID.",
          "type": "string"
        }
      },
      "description": "VMware specific details.",
      "id": "VmwarePlatformDetails",
      "type": "object"
    },
    "AggregateAssetsValuesRequest": {
      "properties": {
        "showHidden": {
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden.",
          "type": "boolean"
        },
        "filter": {
          "type": "string",
          "description": "Optional. The aggregation will be performed on assets that match the provided filter."
        },
        "aggregations": {
          "description": "Array of aggregations to perform. Up to 25 aggregations can be defined.",
          "type": "array",
          "items": {
            "$ref": "Aggregation"
          }
        }
      },
      "description": "A request to aggregate one or more values.",
      "type": "object",
      "id": "AggregateAssetsValuesRequest"
    },
    "NfsExport": {
      "id": "NfsExport",
      "type": "object",
      "description": "NFS export.",
      "properties": {
        "hosts": {
          "description": "The hosts or networks to which the export is being shared.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "exportDirectory": {
          "type": "string",
          "description": "The directory being exported."
        }
      }
    },
    "VirtualMachinePreferences": {
      "type": "object",
      "description": "VirtualMachinePreferences enables you to create sets of preferences, for example, a geographical location and pricing track, for your migrated virtual machines. The set of preferences influence recommendations for migrating virtual machine assets.",
      "properties": {
        "sizingOptimizationStrategy": {
          "type": "string",
          "enum": [
            "SIZING_OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "SIZING_OPTIMIZATION_STRATEGY_SAME_AS_SOURCE",
            "SIZING_OPTIMIZATION_STRATEGY_MODERATE",
            "SIZING_OPTIMIZATION_STRATEGY_AGGRESSIVE",
            "SIZING_OPTIMIZATION_STRATEGY_CUSTOM"
          ],
          "enumDescriptions": [
            "Unspecified (default value).",
            "No optimization applied. Virtual machine sizing matches as closely as possible the machine shape on the source site, not considering any actual performance data.",
            "Virtual machine sizing will match the reported usage and shape, with some slack. This a good value to start with.",
            "Virtual machine sizing will match the reported usage, with little slack. Using this option can help reduce costs.",
            "Virtual machine sizing will be determined by custom parameters. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "description": "Sizing optimization strategy specifies the preferred strategy used when extrapolating usage data to calculate insights and recommendations for a virtual machine. If you are unsure which value to set, a moderate sizing optimization strategy is often a good value to start with."
        },
        "vmwareEnginePreferences": {
          "$ref": "VmwareEnginePreferences",
          "description": "Preferences concerning insights and recommendations for Google Cloud VMware Engine."
        },
        "regionPreferences": {
          "description": "Region preferences for assets using this preference set. If you are unsure which value to set, the migration service API region is often a good value to start with. If PreferenceSet.RegionPreferences is specified, it overrides this field.",
          "$ref": "RegionPreferences"
        },
        "commitmentPlan": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan.",
            "1-year regular committed use discount.",
            "3-year regular committed use discount.",
            "1-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API.",
            "3-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "COMMITMENT_PLAN_NONE",
            "COMMITMENT_PLAN_ONE_YEAR",
            "COMMITMENT_PLAN_THREE_YEARS",
            "COMMITMENT_PLAN_FLEXIBLE_ONE_YEAR",
            "COMMITMENT_PLAN_FLEXIBLE_THREE_YEARS"
          ],
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with."
        },
        "networkCostParameters": {
          "$ref": "VirtualMachinePreferencesNetworkCostParameters",
          "description": "Optional. Parameters that affect network cost estimations. If not set, default values will be used for the parameters."
        },
        "estimatedUsage": {
          "$ref": "EstimatedUsage",
          "description": "Optional. Estimated usage data for missing usage data. If performance data is available, it overrides this field. If not set, default values will be used for the usage data."
        },
        "sizingOptimizationCustomParameters": {
          "description": "Optional. Custom data to use for sizing optimizations. Relevant when SizingOptimizationStrategy is set to \"custom\".",
          "$ref": "VirtualMachinePreferencesSizingOptimizationCustomParameters"
        },
        "computeEnginePreferences": {
          "description": "Optional. Compute Engine preferences concern insights and recommendations for Compute Engine target.",
          "$ref": "ComputeEnginePreferences"
        },
        "targetProduct": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified (default value).",
            "Prefer to migrate to Google Cloud Compute Engine.",
            "Prefer to migrate to Google Cloud VMware Engine.",
            "Prefer to migrate to Google Cloud Sole Tenant Nodes."
          ],
          "enum": [
            "COMPUTE_MIGRATION_TARGET_PRODUCT_UNSPECIFIED",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_COMPUTE_ENGINE",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_VMWARE_ENGINE",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_SOLE_TENANCY"
          ],
          "description": "Target product for assets using this preference set. Specify either target product or business goal, but not both."
        },
        "soleTenancyPreferences": {
          "$ref": "SoleTenancyPreferences",
          "description": "Preferences concerning Sole Tenant nodes and virtual machines."
        }
      },
      "id": "VirtualMachinePreferences"
    },
    "BatchDeleteAssetsRequest": {
      "id": "BatchDeleteAssetsRequest",
      "description": "A request to delete a list of asset.",
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "description": "Required. The IDs of the assets to delete. A maximum of 1000 assets can be deleted in a batch. Format: projects/{project}/locations/{location}/assets/{name}.",
          "type": "array"
        },
        "cascadingRules": {
          "description": "Optional. Optional cascading rules for deleting related assets.",
          "items": {
            "$ref": "CascadingRule"
          },
          "type": "array"
        },
        "allowMissing": {
          "description": "Optional. When this value is set to `true` the request is a no-op for non-existing assets. See https://google.aip.dev/135#delete-if-existing for additional details. Default value is `false`.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AwsS3BucketDetailsVersioning": {
      "properties": {
        "enabled": {
          "description": "Optional. Whether versioning is enabled.",
          "type": "boolean"
        }
      },
      "description": "Versioning configuration of the bucket.",
      "id": "AwsS3BucketDetailsVersioning",
      "type": "object"
    },
    "ReportExportJob": {
      "description": "Report export job message.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Identifier. Resource name.",
          "type": "string",
          "readOnly": true
        },
        "recentExecutions": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Recent not expired executions of the export report job.",
          "items": {
            "$ref": "ReportExportExecution"
          }
        },
        "signedUriDestination": {
          "description": "Export with a SignedUri.",
          "$ref": "SignedUriDestination"
        }
      },
      "id": "ReportExportJob"
    },
    "Relation": {
      "id": "Relation",
      "description": "Message representing a relation between 2 resource.",
      "properties": {
        "createTime": {
          "description": "Output only. The timestamp when the relation was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Default value.",
            "DBDeployment -> Database",
            "A relation between a machine/VM and the database deployment it hosts."
          ],
          "description": "Optional. The type of the relation.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "LOGICAL_DATABASE",
            "DATABASE_DEPLOYMENT_HOSTING_SERVER"
          ],
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. The identifier of the relation.",
          "readOnly": true,
          "type": "string"
        },
        "dstAsset": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The destination asset name in the relation."
        },
        "srcAsset": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The source asset name in the relation."
        }
      },
      "type": "object"
    },
    "AwsEmrClusterDetails": {
      "id": "AwsEmrClusterDetails",
      "description": "Contains details for an AWS EMR Cluster asset.",
      "properties": {},
      "type": "object"
    },
    "RunAssetsExportJobRequest": {
      "description": "A request to run an assets export job.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "type": "object",
      "id": "RunAssetsExportJobRequest"
    },
    "ComputeEnginePreferences": {
      "id": "ComputeEnginePreferences",
      "properties": {
        "licenseType": {
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_TYPE_DEFAULT",
            "LICENSE_TYPE_BRING_YOUR_OWN_LICENSE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified (default value).",
            "Default Google Cloud licensing plan. Licensing is charged per usage. This a good value to start with.",
            "Bring-your-own-license (BYOL) plan. User provides the license."
          ],
          "description": "License type to consider when calculating costs for operating systems. If unspecified, costs are calculated based on the default licensing plan. If os_pricing_preferences is specified, it overrides this field."
        },
        "osPricingPreferences": {
          "$ref": "OperatingSystemPricingPreferences",
          "description": "Optional. Pricing options for OS images."
        },
        "multithreading": {
          "description": "Optional. Preferences for multithreading support on Windows Server.",
          "type": "string",
          "enumDescriptions": [
            "Same as MULTITHREADING_AUTO.",
            "Disable simultaneous multithreading.",
            "Enable simultaneous multithreading.",
            "Disable simultaneous multithreading and increase number of VCPUs to compensate."
          ],
          "enum": [
            "MULTITHREADING_UNSPECIFIED",
            "MULTITHREADING_DISABLED",
            "MULTITHREADING_ENABLED",
            "MULTITHREADING_DISABLED_WITH_COMPENSATION"
          ]
        },
        "persistentDiskType": {
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ],
          "type": "string",
          "description": "Persistent disk type to use. If unspecified (default), all types are considered, based on available usage data.",
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ]
        },
        "machinePreferences": {
          "description": "Preferences concerning the machine types to consider on Compute Engine.",
          "$ref": "MachinePreferences"
        }
      },
      "type": "object",
      "description": "The user preferences relating to Compute Engine target platform."
    },
    "AwsGlueJobDetails": {
      "type": "object",
      "id": "AwsGlueJobDetails",
      "description": "Contains details for an AWS Glue Job asset.",
      "properties": {}
    },
    "AwsEksClusterDetails": {
      "description": "Asset information specific for AWS EKS clusters.",
      "properties": {},
      "id": "AwsEksClusterDetails",
      "type": "object"
    },
    "NetworkConnectionList": {
      "description": "Network connection list.",
      "properties": {
        "entries": {
          "description": "Network connection entries.",
          "items": {
            "$ref": "NetworkConnection"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "NetworkConnectionList"
    },
    "ListImportJobsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "importJobs": {
          "type": "array",
          "description": "The list of import jobs.",
          "items": {
            "$ref": "ImportJob"
          }
        }
      },
      "id": "ListImportJobsResponse",
      "description": "A response for listing import jobs.",
      "type": "object"
    },
    "AwsFirehoseDetails": {
      "properties": {},
      "id": "AwsFirehoseDetails",
      "description": "Contains details for an AWS Firehose asset.",
      "type": "object"
    },
    "NetworkAddress": {
      "description": "Details of network address.",
      "id": "NetworkAddress",
      "properties": {
        "bcast": {
          "description": "Broadcast address.",
          "type": "string"
        },
        "fqdn": {
          "type": "string",
          "description": "Fully qualified domain name."
        },
        "ipAddress": {
          "type": "string",
          "description": "Assigned or configured IP Address."
        },
        "subnetMask": {
          "description": "Subnet mask.",
          "type": "string"
        },
        "assignment": {
          "enumDescriptions": [
            "Unknown (default value).",
            "Statically assigned IP.",
            "Dynamically assigned IP (DHCP)."
          ],
          "description": "Whether DHCP is used to assign addresses.",
          "enum": [
            "ADDRESS_ASSIGNMENT_UNSPECIFIED",
            "ADDRESS_ASSIGNMENT_STATIC",
            "ADDRESS_ASSIGNMENT_DHCP"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "ImportDataFile": {
      "id": "ImportDataFile",
      "type": "object",
      "description": "A resource that represents a payload file in an import job.",
      "properties": {
        "displayName": {
          "description": "Optional. User-friendly display name. Maximum length is 256 characters.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when the file was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The name of the file.",
          "type": "string",
          "readOnly": true
        },
        "uploadFileInfo": {
          "description": "Information about a file that is uploaded to a storage service.",
          "$ref": "UploadFileInfo"
        },
        "format": {
          "type": "string",
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ],
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the [AWS collection script](https://github.com/GoogleCloudPlatform/aws-to-stratozone-export).",
            "CSV format exported from Azure using the [Azure collection script](https://github.com/GoogleCloudPlatform/azure-to-stratozone-export).",
            "CSV format created manually. For more information, see [Manually create and upload data tables](https://cloud.google.com/migrate/stratozone/docs/import-data-portal).",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "description": "Required. The payload format.",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "state": {
          "enumDescriptions": [
            "Default value.",
            "The data file is being created.",
            "The data file completed initialization."
          ],
          "type": "string",
          "description": "Output only. The state of the import data file.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE"
          ]
        }
      }
    },
    "ReportSummaryHistogramChartData": {
      "id": "ReportSummaryHistogramChartData",
      "type": "object",
      "description": "A Histogram Chart shows a distribution of values into buckets, showing a count of values which fall into a bucket.",
      "properties": {
        "buckets": {
          "items": {
            "$ref": "ReportSummaryHistogramChartDataBucket"
          },
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity.",
          "type": "array"
        }
      }
    },
    "GoogleKubernetesEngineMigrationTarget": {
      "id": "GoogleKubernetesEngineMigrationTarget",
      "description": "GKE migration target.",
      "properties": {},
      "type": "object"
    },
    "DiskEntryList": {
      "properties": {
        "entries": {
          "type": "array",
          "description": "Disk entries.",
          "items": {
            "$ref": "DiskEntry"
          }
        }
      },
      "id": "DiskEntryList",
      "description": "VM disks.",
      "type": "object"
    },
    "CpuUsageSample": {
      "type": "object",
      "id": "CpuUsageSample",
      "properties": {
        "utilizedPercentage": {
          "format": "float",
          "description": "Percentage of total CPU capacity utilized. Must be in the interval [0, 100]. On most systems can be calculated using 100 - idle percentage.",
          "type": "number"
        }
      },
      "description": "CPU usage sample."
    },
    "AwsS3BucketDetailsStorageClass": {
      "description": "Details about storage class.",
      "type": "object",
      "id": "AwsS3BucketDetailsStorageClass",
      "properties": {
        "totalBytes": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The total size of the storage class in bytes."
        },
        "type": {
          "description": "Required. Type of the storage class.",
          "enum": [
            "STORAGE_CLASS_TYPE_UNSPECIFIED",
            "STANDARD",
            "INTELLIGENT_TIERING",
            "STANDARD_IA",
            "ONE_ZONE_IA",
            "GLACIER",
            "DEEP_ARCHIVE",
            "GLACIER_IR",
            "REDUCED_REDUNDANCY",
            "EXPRESS_ONEZONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified storage class type.",
            "General Purpose",
            "Represents Intelligent-Tiering's auto-tiering",
            "Standard-Infrequent Access",
            "One Zone-Infrequent Access",
            "S3 Glacier Flexible Retrieval",
            "S3 Glacier Deep Archive",
            "S3 Glacier Instant Retrieval",
            "S3 Reduced Redundancy Storage (Legacy)",
            "S3 Express One Zone"
          ]
        }
      }
    },
    "RuntimeNetworkInfo": {
      "description": "Runtime networking information.",
      "type": "object",
      "properties": {
        "netstat": {
          "type": "string",
          "description": "Netstat (raw, OS-agnostic)."
        },
        "rawScanResult": {
          "type": "string",
          "description": "Raw network scan result. This field is intended for human inspection. The format of this field may be netstat output or any another raw output. The exact format may change without notice and should not be relied upon."
        },
        "scanTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time of the last network scan."
        },
        "connections": {
          "$ref": "NetworkConnectionList",
          "description": "Network connections."
        },
        "netstatTime": {
          "description": "Netstat time collected.",
          "$ref": "DateTime"
        }
      },
      "id": "RuntimeNetworkInfo"
    },
    "AwsInternetGatewayDetails": {
      "type": "object",
      "id": "AwsInternetGatewayDetails",
      "properties": {},
      "description": "Asset information specific for AWS Internet Gateways."
    },
    "AggregationResultSum": {
      "description": "The result of a sum aggregation.",
      "id": "AggregationResultSum",
      "type": "object",
      "properties": {
        "value": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "ReportSummaryMachineFinding": {
      "id": "ReportSummaryMachineFinding",
      "description": "A set of findings that applies to assets of type Virtual/Physical Machine.",
      "type": "object",
      "properties": {
        "allocatedAssetCount": {
          "description": "Count of assets which were allocated.",
          "format": "int64",
          "type": "string"
        },
        "allocatedRegions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Set of regions in which the assets were allocated."
        },
        "machineSeriesAllocations": {
          "type": "array",
          "description": "Distribution of assets based on the Machine Series.",
          "items": {
            "$ref": "ReportSummaryMachineSeriesAllocation"
          }
        },
        "allocatedDiskTypes": {
          "type": "array",
          "deprecated": true,
          "description": "@deprecated. Use storage_allocations instead. Set of disk types allocated to assets.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified. Fallback to default value based on context.",
              "Standard HDD Persistent Disk.",
              "Balanced Persistent Disk.",
              "SSD Persistent Disk."
            ],
            "enum": [
              "PERSISTENT_DISK_TYPE_UNSPECIFIED",
              "PERSISTENT_DISK_TYPE_STANDARD",
              "PERSISTENT_DISK_TYPE_BALANCED",
              "PERSISTENT_DISK_TYPE_SSD"
            ]
          }
        }
      }
    },
    "ReportSummaryUtilizationChartData": {
      "id": "ReportSummaryUtilizationChartData",
      "description": "Utilization Chart is a specific type of visualization which displays a metric classified into \"Used\" and \"Free\" buckets.",
      "type": "object",
      "properties": {
        "used": {
          "format": "int64",
          "description": "Aggregate value which falls into the \"Used\" bucket.",
          "type": "string"
        },
        "free": {
          "description": "Aggregate value which falls into the \"Free\" bucket.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "SignedUriDestination": {
      "properties": {
        "fileFormat": {
          "enumDescriptions": [
            "Unspecified file format will be treated as CSV.",
            "CSV file format.",
            "XLSX file format which used in Excel."
          ],
          "description": "Required. The file format to export.",
          "type": "string",
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ]
        }
      },
      "id": "SignedUriDestination",
      "description": "Signed URI destination configuration.",
      "type": "object"
    },
    "SqlServerSchemaDetails": {
      "description": "Specific details for a SqlServer database.",
      "properties": {
        "clrObjectCount": {
          "description": "Optional. SqlServer number of CLR objects.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "SqlServerSchemaDetails"
    },
    "SoftwareInsight": {
      "properties": {
        "detectedSoftware": {
          "readOnly": true,
          "$ref": "DetectedSoftware",
          "description": "Output only. Information about the detected software."
        }
      },
      "type": "object",
      "id": "SoftwareInsight",
      "description": "An insight regarding software detected on an asset."
    },
    "DetectedSoftware": {
      "properties": {
        "softwareName": {
          "description": "Output only. Software's name.",
          "readOnly": true,
          "type": "string"
        },
        "softwareFamily": {
          "readOnly": true,
          "description": "Output only. Software family of the detected software, e.g. Database, SAP family.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information about software detected on an asset.",
      "id": "DetectedSoftware"
    },
    "ListGroupsResponse": {
      "properties": {
        "groups": {
          "description": "The list of Group",
          "type": "array",
          "items": {
            "$ref": "Group"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "type": "object",
      "id": "ListGroupsResponse",
      "description": "A response for listing groups."
    },
    "ImportRowError": {
      "properties": {
        "xlsxError": {
          "$ref": "ImportRowErrorXlsxErrorDetails",
          "description": "Error details for an XLSX file."
        },
        "vmName": {
          "type": "string",
          "description": "The name of the VM in the row."
        },
        "archiveError": {
          "description": "Error details for an archive file.",
          "$ref": "ImportRowErrorArchiveErrorDetails"
        },
        "errors": {
          "description": "The list of errors detected in the row.",
          "items": {
            "$ref": "ImportError"
          },
          "type": "array"
        },
        "assetTitle": {
          "description": "The asset title.",
          "type": "string"
        },
        "csvError": {
          "description": "Error details for a CSV file.",
          "$ref": "ImportRowErrorCsvErrorDetails"
        },
        "vmUuid": {
          "description": "The VM UUID.",
          "type": "string"
        },
        "rowNumber": {
          "format": "int32",
          "description": "The row number where the error was detected.",
          "type": "integer",
          "deprecated": true
        }
      },
      "id": "ImportRowError",
      "type": "object",
      "description": "A resource that reports the import job errors at row level."
    },
    "SendDiscoveryClientHeartbeatRequest": {
      "type": "object",
      "id": "SendDiscoveryClientHeartbeatRequest",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. Client application version."
        },
        "errors": {
          "type": "array",
          "description": "Optional. Errors affecting client functionality.",
          "items": {
            "$ref": "Status"
          }
        }
      },
      "description": "A request to send a discovery client heartbeat."
    },
    "PostgreSqlExtension": {
      "type": "object",
      "id": "PostgreSqlExtension",
      "properties": {
        "extension": {
          "type": "string",
          "description": "Required. The extension name."
        },
        "version": {
          "description": "Required. The extension version.",
          "type": "string"
        }
      },
      "description": "PostgreSql extension."
    },
    "AwsBatchComputeEnvironmentDetails": {
      "type": "object",
      "properties": {},
      "id": "AwsBatchComputeEnvironmentDetails",
      "description": "Asset information specific for AWS Batch Compute Environments."
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "DailyResourceUsageAggregationDisk": {
      "properties": {
        "iops": {
          "description": "Disk I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "writeIops": {
          "description": "Disk write I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "readIops": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "Disk read I/O operations per second."
        }
      },
      "description": "Statistical aggregation of disk usage.",
      "id": "DailyResourceUsageAggregationDisk",
      "type": "object"
    },
    "AwsDynamoDBTableDetails": {
      "type": "object",
      "id": "AwsDynamoDBTableDetails",
      "properties": {},
      "description": "Details of an AWS DynamoDB table."
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "RemoveAssetsFromGroupRequest": {
      "id": "RemoveAssetsFromGroupRequest",
      "type": "object",
      "description": "A request to remove assets from a group.",
      "properties": {
        "allowMissing": {
          "type": "boolean",
          "description": "Optional. When this value is set to `false` and one of the given assets is not an existing member of the group, the operation fails with a `Not Found` error. When set to `true` this situation is silently ignored by the server. Default value is `false`."
        },
        "assets": {
          "$ref": "AssetList",
          "description": "Required. List of assets to be removed. The maximum number of assets that can be removed in a single request is 1000."
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "AwsElbLoadBalancerDetails": {
      "id": "AwsElbLoadBalancerDetails",
      "type": "object",
      "properties": {},
      "description": "Asset information specific for AWS Load Balancers."
    },
    "PostgreSqlSetting": {
      "description": "PostgreSql setting.",
      "properties": {
        "source": {
          "description": "Required. The setting source.",
          "type": "string"
        },
        "boolValue": {
          "type": "boolean",
          "description": "Required. The setting boolean value."
        },
        "setting": {
          "type": "string",
          "description": "Required. The setting name."
        },
        "realValue": {
          "format": "float",
          "type": "number",
          "description": "Required. The setting real value."
        },
        "unit": {
          "type": "string",
          "description": "Optional. The setting unit."
        },
        "stringValue": {
          "type": "string",
          "description": "Required. The setting string value. Notice that enum values are stored as strings."
        },
        "intValue": {
          "format": "int64",
          "type": "string",
          "description": "Required. The setting int value."
        }
      },
      "type": "object",
      "id": "PostgreSqlSetting"
    },
    "FitDescriptor": {
      "id": "FitDescriptor",
      "description": "Describes the fit level of an asset for migration to a specific target.",
      "properties": {
        "fitLevel": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "FIT_LEVEL_UNSPECIFIED",
            "FIT",
            "NO_FIT",
            "REQUIRES_EFFORT"
          ],
          "enumDescriptions": [
            "Not enough information.",
            "Fit.",
            "No Fit.",
            "Fit with effort."
          ],
          "description": "Output only. Fit level."
        }
      },
      "type": "object"
    },
    "NetworkAddressList": {
      "description": "List of allocated/assigned network addresses.",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "NetworkAddress"
          },
          "description": "Network address entries."
        },
        "addresses": {
          "items": {
            "$ref": "NetworkAddress"
          },
          "type": "array",
          "description": "Network address entries."
        }
      },
      "type": "object",
      "id": "NetworkAddressList"
    },
    "CloudDatabaseMigrationTarget": {
      "type": "object",
      "description": "Cloud database migration target.",
      "properties": {
        "cloudSqlShape": {
          "description": "Cloud SQL for SQL Server database shape.",
          "$ref": "CloudSqlForSqlServerShape"
        },
        "cloudSqlForMysqlShape": {
          "description": "Cloud SQL for MySQL database shape.",
          "$ref": "CloudSqlForMySqlShape"
        },
        "cloudSqlForPostgresqlShape": {
          "description": "Cloud SQL for PostgreSQL database shape.",
          "$ref": "CloudSqlForPostgreSqlShape"
        }
      },
      "id": "CloudDatabaseMigrationTarget"
    },
    "RunningServiceList": {
      "properties": {
        "entries": {
          "items": {
            "$ref": "RunningService"
          },
          "description": "Running service entries.",
          "type": "array"
        },
        "services": {
          "type": "array",
          "description": "Running service entries.",
          "items": {
            "$ref": "RunningService"
          }
        }
      },
      "type": "object",
      "id": "RunningServiceList",
      "description": "List of running guest OS services."
    },
    "DatabaseDetailsParentDatabaseDeployment": {
      "id": "DatabaseDetailsParentDatabaseDeployment",
      "properties": {
        "generatedId": {
          "description": "The parent database deployment generated ID.",
          "type": "string"
        },
        "manualUniqueId": {
          "type": "string",
          "description": "The parent database deployment optional manual unique ID set by the user."
        }
      },
      "type": "object",
      "description": "The identifiers of the parent database deployment."
    },
    "ReportSummaryGroupFinding": {
      "properties": {
        "description": {
          "description": "Description for this group finding.",
          "type": "string"
        },
        "assetAggregateStats": {
          "description": "Summary statistics for all the assets in this group.",
          "$ref": "ReportSummaryAssetAggregateStats"
        },
        "preferenceSetFindings": {
          "items": {
            "$ref": "ReportSummaryGroupPreferenceSetFinding"
          },
          "description": "Findings for each of the PreferenceSets for this group.",
          "type": "array"
        },
        "displayName": {
          "description": "Display Name for this group finding.",
          "type": "string"
        },
        "databaseType": {
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "SQL_SERVER",
            "MYSQL",
            "POSTGRES"
          ],
          "description": "Output only. Source asset database type for the group finding. Only present for databases.",
          "type": "string",
          "enumDescriptions": [
            "Unknown database type.",
            "SQL Server database.",
            "MySQL database.",
            "PostgreSQL database."
          ],
          "readOnly": true
        },
        "assetType": {
          "enumDescriptions": [
            "Unknown asset type.",
            "Virtual Machine asset type",
            "Database asset type"
          ],
          "type": "string",
          "description": "Output only. Asset type for the group finding.",
          "readOnly": true,
          "enum": [
            "ASSET_TYPE_UNSPECIFIED",
            "VIRTUAL_MACHINE",
            "DATABASE"
          ]
        },
        "group": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Full name of the group."
        },
        "overlappingAssetCount": {
          "format": "int64",
          "deprecated": true,
          "description": "This field is deprecated, do not rely on it having a value.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ReportSummaryGroupFinding",
      "description": "Summary Findings for a specific Group."
    },
    "CloudSqlForSqlServerShape": {
      "description": "Cloud SQL for SQL Server database shape.",
      "id": "CloudSqlForSqlServerShape",
      "properties": {
        "backupStorageGb": {
          "format": "int32",
          "description": "Output only. Predicted backup storage size in GiB.",
          "readOnly": true,
          "type": "integer"
        },
        "egressGbPerMonth": {
          "description": "Output only. Predicted Network Out traffic GiB per month.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "zoneAvailability": {
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Cloud SQL zone availability.",
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ]
        },
        "logicalCoreCount": {
          "description": "Output only. Number of logical cores.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "edition": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ],
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ],
          "readOnly": true,
          "description": "Output only. Cloud SQL edition."
        },
        "version": {
          "enum": [
            "SQL_SERVER_VERSION_UNSPECIFIED",
            "SQL_SERVER_VERSION_2017_EXPRESS",
            "SQL_SERVER_VERSION_2017_WEB",
            "SQL_SERVER_VERSION_2017_STANDARD",
            "SQL_SERVER_VERSION_2017_ENTERPRISE",
            "SQL_SERVER_VERSION_2019_EXPRESS",
            "SQL_SERVER_VERSION_2019_WEB",
            "SQL_SERVER_VERSION_2019_STANDARD",
            "SQL_SERVER_VERSION_2019_ENTERPRISE",
            "SQL_SERVER_VERSION_2022_EXPRESS",
            "SQL_SERVER_VERSION_2022_WEB",
            "SQL_SERVER_VERSION_2022_STANDARD",
            "SQL_SERVER_VERSION_2022_ENTERPRISE"
          ],
          "description": "Output only. Microsoft SQL Server version to be used on the Cloud SQL for SQL server instance.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified SQL Server version.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise."
          ]
        },
        "memoryMb": {
          "description": "Output only. Predicted amount of memory in MiB.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "smtEnabled": {
          "type": "boolean",
          "description": "Output only. Whether simultaneous multithreading is enabled (see https://cloud.google.com/sql/docs/sqlserver/create-instance#smt-create-instance).",
          "readOnly": true
        },
        "storage": {
          "description": "Output only. Predicted storage shape.",
          "$ref": "ComputeStorageDescriptor",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "DatabaseDeploymentDetailsAggregatedStats": {
      "type": "object",
      "id": "DatabaseDeploymentDetailsAggregatedStats",
      "properties": {
        "databaseCount": {
          "description": "Output only. The number of databases in the deployment.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "description": "Aggregated stats for the database deployment."
    },
    "DatabasePreferencesCloudSqlCommonBackup": {
      "description": "Preferences for database backups.",
      "type": "object",
      "properties": {
        "backupMode": {
          "enumDescriptions": [
            "An unspecified database backup mode.",
            "Automatic backups disabled, no additional charges for storage.",
            "Automatic backups enabled, there will be additional charges for storage."
          ],
          "type": "string",
          "description": "Optional. Automated backup mode.",
          "enum": [
            "BACKUP_MODE_UNSPECIFIED",
            "BACKUP_MODE_DISABLED",
            "BACKUP_MODE_ENABLED"
          ]
        }
      },
      "id": "DatabasePreferencesCloudSqlCommonBackup"
    },
    "ReportAssetFramesResponse": {
      "type": "object",
      "properties": {},
      "description": "A response to a call to `ReportAssetFrame`.",
      "id": "ReportAssetFramesResponse"
    },
    "HostsEntry": {
      "id": "HostsEntry",
      "type": "object",
      "properties": {
        "ip": {
          "description": "IP (raw, IPv4/6 agnostic).",
          "type": "string"
        },
        "hostNames": {
          "description": "List of host names / aliases.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Single /etc/hosts entry."
    },
    "SignedUris": {
      "description": "Contains a list of Signed URIs.",
      "properties": {
        "signedUris": {
          "readOnly": true,
          "description": "Output only. List of signed URIs.",
          "items": {
            "$ref": "SignedUri"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "SignedUris"
    },
    "SqlServerTraceFlag": {
      "id": "SqlServerTraceFlag",
      "description": "SQL Server trace flag details.",
      "properties": {
        "scope": {
          "description": "Required. The trace flag scope.",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "OFF",
            "GLOBAL",
            "SESSION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Off.",
            "Global.",
            "Session."
          ]
        },
        "traceFlagName": {
          "type": "string",
          "description": "Required. The trace flag name."
        }
      },
      "type": "object"
    },
    "ReportSummaryHistogramChartDataBucket": {
      "properties": {
        "upperBound": {
          "description": "Upper bound - exclusive.",
          "type": "string",
          "format": "int64"
        },
        "lowerBound": {
          "type": "string",
          "description": "Lower bound - inclusive.",
          "format": "int64"
        },
        "count": {
          "description": "Count of items in the bucket.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.",
      "id": "ReportSummaryHistogramChartDataBucket"
    },
    "AssetsExportJobNetworkDependencies": {
      "description": "Configuration for network dependencies exports.",
      "properties": {},
      "id": "AssetsExportJobNetworkDependencies",
      "type": "object"
    },
    "ListReportConfigsResponse": {
      "description": "Response message for listing report configs.",
      "id": "ListReportConfigsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "reportConfigs": {
          "type": "array",
          "items": {
            "$ref": "ReportConfig"
          },
          "description": "A list of report configs."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "PhysicalPlatformDetails": {
      "type": "object",
      "id": "PhysicalPlatformDetails",
      "properties": {
        "location": {
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different machines in the same location may have different string values for this field.",
          "type": "string"
        },
        "hyperthreading": {
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "type": "string",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "description": "Whether the machine is hyperthreaded."
        }
      },
      "description": "Platform specific details for Physical Machines."
    },
    "AwsS3BucketDetails": {
      "properties": {
        "storageClasses": {
          "items": {
            "$ref": "AwsS3BucketDetailsStorageClass"
          },
          "type": "array",
          "description": "Optional. The storage classes in the bucket."
        },
        "objectsMetadata": {
          "$ref": "AwsS3BucketDetailsObjectsMetadata",
          "description": "Optional. The metadata of the objects in the bucket."
        },
        "versioning": {
          "$ref": "AwsS3BucketDetailsVersioning",
          "description": "Optional. Versioning configuration of the bucket."
        }
      },
      "type": "object",
      "description": "Asset information specific for AWS S3 buckets.",
      "id": "AwsS3BucketDetails"
    },
    "FrameViolationEntry": {
      "description": "A resource that contains a single violation of a reported `AssetFrame` resource.",
      "type": "object",
      "properties": {
        "field": {
          "type": "string",
          "description": "The field of the original frame where the violation occurred."
        },
        "violation": {
          "description": "A message describing the violation.",
          "type": "string"
        }
      },
      "id": "FrameViolationEntry"
    },
    "AwsRoute53HostedZoneDetails": {
      "id": "AwsRoute53HostedZoneDetails",
      "description": "Details of an AWS Route 53 Hosted Zone.",
      "type": "object",
      "properties": {}
    },
    "DatabasePreferencesCloudSqlCommon": {
      "type": "object",
      "properties": {
        "backup": {
          "$ref": "DatabasePreferencesCloudSqlCommonBackup",
          "description": "Optional. Preferences for database backups."
        },
        "persistentDiskType": {
          "description": "Optional. Persistent disk type to use. If unspecified, a disk type is recommended based on available usage data. For SQL Server, only SSD is available. For MySQL and PostgreSQL, only STANDARD (HDD) and SSD types are available.",
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ],
          "type": "string"
        },
        "edition": {
          "type": "string",
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ],
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ],
          "description": "Optional. Preferred Cloud SQL edition."
        },
        "sizingOptimizationStrategy": {
          "enumDescriptions": [
            "Unspecified (default value).",
            "No optimization applied. Virtual machine sizing matches as closely as possible the machine shape on the source site, not considering any actual performance data.",
            "Virtual machine sizing will match the reported usage and shape, with some slack. This a good value to start with.",
            "Virtual machine sizing will match the reported usage, with little slack. Using this option can help reduce costs.",
            "Virtual machine sizing will be determined by custom parameters. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "description": "Optional. Sizing optimization strategy of the database. Currently supported for Cloud SQL are just two values: SIZING_OPTIMIZATION_STRATEGY_MODERATE and SIZING_OPTIMIZATION_STRATEGY_SAME_AS_SOURCE. SIZING_OPTIMIZATION_STRATEGY_UNSPECIFIED will behave like SIZING_OPTIMIZATION_STRATEGY_MODERATE.",
          "type": "string",
          "enum": [
            "SIZING_OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "SIZING_OPTIMIZATION_STRATEGY_SAME_AS_SOURCE",
            "SIZING_OPTIMIZATION_STRATEGY_MODERATE",
            "SIZING_OPTIMIZATION_STRATEGY_AGGRESSIVE",
            "SIZING_OPTIMIZATION_STRATEGY_CUSTOM"
          ]
        },
        "zoneAvailability": {
          "description": "Optional. Preferred zone availability.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ],
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ]
        },
        "commitmentPlan": {
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan.",
            "1-year regular committed use discount.",
            "3-year regular committed use discount.",
            "1-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API.",
            "3-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "type": "string",
          "description": "Optional. Commitment plan to consider when calculating costs. Only regular CUDs (not flexible) are currently available.",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "COMMITMENT_PLAN_NONE",
            "COMMITMENT_PLAN_ONE_YEAR",
            "COMMITMENT_PLAN_THREE_YEARS",
            "COMMITMENT_PLAN_FLEXIBLE_ONE_YEAR",
            "COMMITMENT_PLAN_FLEXIBLE_THREE_YEARS"
          ]
        }
      },
      "id": "DatabasePreferencesCloudSqlCommon",
      "description": "Preferences common to Cloud SQL databases."
    },
    "MySqlVariable": {
      "id": "MySqlVariable",
      "properties": {
        "variable": {
          "type": "string",
          "description": "Required. The variable name."
        },
        "category": {
          "description": "Required. The variable category.",
          "type": "string"
        },
        "value": {
          "description": "Required. The variable value.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "MySql variable."
    },
    "AwsRds": {
      "id": "AwsRds",
      "type": "object",
      "description": "Specific details for an AWS RDS database deployment.",
      "properties": {}
    },
    "RunningService": {
      "id": "RunningService",
      "properties": {
        "cmdline": {
          "type": "string",
          "description": "Service command line."
        },
        "exePath": {
          "description": "Service binary path.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Service name."
        },
        "serviceName": {
          "description": "Service name.",
          "type": "string"
        },
        "status": {
          "description": "Service status.",
          "type": "string"
        },
        "startMode": {
          "type": "string",
          "description": "Service start mode (raw, OS-agnostic)."
        },
        "state": {
          "type": "string",
          "description": "Service state (raw, OS-agnostic)."
        },
        "pid": {
          "description": "Service pid.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Guest OS running service details.",
      "type": "object"
    },
    "ListErrorFramesResponse": {
      "type": "object",
      "id": "ListErrorFramesResponse",
      "description": "A response for listing error frames.",
      "properties": {
        "errorFrames": {
          "items": {
            "$ref": "ErrorFrame"
          },
          "description": "The list of error frames.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "FstabEntry": {
      "type": "object",
      "properties": {
        "spec": {
          "description": "The block special device or remote filesystem to be mounted.",
          "type": "string"
        },
[...]
