{
  "discoveryVersion": "v1",
  "baseUrl": "https://migrationcenter.googleapis.com/",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/migration-center",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://migrationcenter.mtls.googleapis.com/",
  "revision": "20260830",
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://migrationcenter.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "Migration Center API",
  "basePath": "",
  "servicePath": "",
  "version_module": true,
  "schemas": {
    "AddAssetsToGroupRequest": {
      "id": "AddAssetsToGroupRequest",
      "properties": {
        "allowExisting": {
          "type": "boolean",
          "description": "Optional. When this value is set to `false` and one of the given assets is already an existing member of the group, the operation fails with an `Already Exists` error. When set to `true` this situation is silently ignored by the server. Default value is `false`."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "assets": {
          "$ref": "AssetList",
          "description": "Required. List of assets to be added. The maximum number of assets that can be added in a single request is 2000."
        }
      },
      "description": "A request to add assets to a group.",
      "type": "object"
    },
    "OutputFile": {
      "type": "object",
      "id": "OutputFile",
      "properties": {
        "csvOutputFile": {
          "$ref": "CsvOutputFile",
          "description": "Output only. CSV output file.",
          "readOnly": true
        },
        "xlsxOutputFile": {
          "description": "Output only. XLSX output file.",
          "$ref": "XlsxOutputFile",
          "readOnly": true
        },
        "fileSizeBytes": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. File size in bytes."
        }
      },
      "description": "Contains a single output file."
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "id": "Status"
    },
    "UpdateAssetRequest": {
      "type": "object",
      "description": "A request to update an asset.",
      "id": "UpdateAssetRequest",
      "properties": {
        "updateMask": {
          "description": "Required. Field mask is used to specify the fields to be overwritten in the `Asset` resource by the update. The values specified in the `update_mask` field are relative to the resource, not the full request. A field will be overwritten if it is in the mask. A single * value in the mask lets you to overwrite all fields.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "asset": {
          "$ref": "Asset",
          "description": "Required. The resource being updated."
        }
      }
    },
    "Money": {
      "type": "object",
      "id": "Money",
      "properties": {
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer",
          "format": "int32"
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "type": "string",
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        }
      },
      "description": "Represents an amount of money with its currency type."
    },
    "ReportSummary": {
      "id": "ReportSummary",
      "description": "Describes the Summary view of a Report, which contains aggregated values for all the groups and preference sets included in this Report.",
      "type": "object",
      "properties": {
        "allAssetsStats": {
          "description": "Aggregate statistics for all the assets across all the groups.",
          "$ref": "ReportSummaryAssetAggregateStats"
        },
        "groupFindings": {
          "type": "array",
          "description": "Findings for each Group included in this report.",
          "items": {
            "$ref": "ReportSummaryGroupFinding"
          }
        }
      }
    },
    "AggregationResultFrequency": {
      "description": "The result of a frequency distribution aggregation.",
      "type": "object",
      "properties": {
        "values": {
          "type": "object",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "id": "AggregationResultFrequency"
    },
    "DatabaseSchema": {
      "type": "object",
      "id": "DatabaseSchema",
      "properties": {
        "postgresql": {
          "$ref": "PostgreSqlSchemaDetails",
          "description": "Optional. Details of a PostgreSql schema."
        },
        "tablesSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The total size of tables in bytes."
        },
        "mysql": {
          "$ref": "MySqlSchemaDetails",
          "description": "Optional. Details of a Mysql schema."
        },
        "sqlServer": {
          "description": "Optional. Details of a SqlServer schema.",
          "$ref": "SqlServerSchemaDetails"
        },
        "objects": {
          "items": {
            "$ref": "DatabaseObjects"
          },
          "type": "array",
          "description": "Optional. List of details of objects by category."
        },
        "schemaName": {
          "type": "string",
          "description": "Required. The name of the schema."
        }
      },
      "description": "Details of a database schema."
    },
    "DatabaseObjects": {
      "description": "Details of a group of database objects.",
      "id": "DatabaseObjects",
      "properties": {
        "count": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The number of objects."
        },
        "category": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Table.",
            "Index.",
            "Constraints.",
            "Views.",
            "Source code, e.g. procedures.",
            "Uncategorized objects."
          ],
          "description": "Optional. The category of the objects.",
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "TABLE",
            "INDEX",
            "CONSTRAINTS",
            "VIEWS",
            "SOURCE_CODE",
            "OTHER"
          ]
        }
      },
      "type": "object"
    },
    "ImportRowError": {
      "properties": {
        "vmName": {
          "description": "The name of the VM in the row.",
          "type": "string"
        },
        "vmUuid": {
          "type": "string",
          "description": "The VM UUID."
        },
        "assetTitle": {
          "description": "Output only. The asset title.",
          "type": "string",
          "readOnly": true
        },
        "archiveError": {
          "description": "Error details for an archive file.",
          "$ref": "ImportRowErrorArchiveErrorDetails"
        },
        "xlsxError": {
          "$ref": "ImportRowErrorXlsxErrorDetails",
          "description": "Error details for an XLSX file."
        },
        "errors": {
          "description": "The list of errors detected in the row.",
          "type": "array",
          "items": {
            "$ref": "ImportError"
          }
        },
        "csvError": {
          "$ref": "ImportRowErrorCsvErrorDetails",
          "description": "Error details for a CSV file."
        },
        "rowNumber": {
          "deprecated": true,
          "type": "integer",
          "description": "The row number where the error was detected.",
          "format": "int32"
        }
      },
      "description": "A resource that reports the import job errors at row level.",
      "id": "ImportRowError",
      "type": "object"
    },
    "Asset": {
      "id": "Asset",
      "type": "object",
      "description": "An asset represents a resource in your environment. Asset types include virtual machines and databases.",
      "properties": {
        "assignedGroups": {
          "description": "Output only. The list of groups that the asset is assigned to.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "hidden": {
          "type": "boolean",
          "description": "Optional. Indicates if the asset is hidden."
        },
        "sources": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of sources contributing to the asset.",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the asset was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the asset was last updated."
        },
        "attributes": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Generic asset attributes."
        },
        "insightList": {
          "readOnly": true,
          "$ref": "InsightList",
          "description": "Output only. The list of insights associated with the asset."
        },
        "databaseDeploymentDetails": {
          "$ref": "DatabaseDeploymentDetails",
          "description": "Output only. Asset information specific for database deployments.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The full name of the asset."
        },
        "performanceData": {
          "description": "Output only. Performance data for the asset.",
          "readOnly": true,
          "$ref": "AssetPerformanceData"
        },
        "machineDetails": {
          "description": "Output only. Asset information specific for virtual and physical machines.",
          "$ref": "MachineDetails",
          "readOnly": true
        },
        "title": {
          "type": "string",
          "description": "Output only. Server generated human readable name of the asset.",
          "readOnly": true
        },
        "hideReason": {
          "type": "string",
          "description": "Optional. An optional reason for marking this asset as hidden."
        },
        "databaseDetails": {
          "$ref": "DatabaseDetails",
          "description": "Output only. Asset information specific for logical databases.",
          "readOnly": true
        },
        "hideTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the asset was marked as hidden."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels as key value pairs."
        }
      }
    },
    "ImportError": {
      "description": "A resource that reports the errors encountered while processing an import job.",
      "properties": {
        "errorDetails": {
          "description": "The error information.",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "description": "The severity of the error.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ]
        }
      },
      "type": "object",
      "id": "ImportError"
    },
    "MachineNetworkDetails": {
      "id": "MachineNetworkDetails",
      "type": "object",
      "description": "Details of network adapters and settings.",
      "properties": {
        "adapters": {
          "$ref": "NetworkAdapterList",
          "description": "List of network adapters."
        },
        "primaryMacAddress": {
          "description": "MAC address of the machine. This property is used to uniqly identify the machine.",
          "type": "string"
        },
        "defaultGateway": {
          "description": "Optional. Default gateway address.",
          "type": "string"
        },
        "publicIpAddress": {
          "type": "string",
          "description": "The public IP address of the machine."
        },
        "primaryIpAddress": {
          "description": "The primary IP address of the machine.",
          "type": "string"
        }
      }
    },
    "DiskPartitionList": {
      "description": "Disk partition list.",
      "type": "object",
      "properties": {
        "entries": {
          "description": "Partition entries.",
          "type": "array",
          "items": {
            "$ref": "DiskPartition"
          }
        }
      },
      "id": "DiskPartitionList"
    },
    "GuestConfigDetails": {
      "description": "Guest OS config information.",
      "type": "object",
      "properties": {
        "hosts": {
          "description": "Hosts file (/etc/hosts).",
          "$ref": "HostsEntryList"
        },
        "issue": {
          "type": "string",
          "description": "OS issue (typically /etc/issue in Linux)."
        },
        "fstab": {
          "description": "Mount list (Linux fstab).",
          "$ref": "FstabEntryList"
        },
        "selinuxMode": {
          "description": "Security-Enhanced Linux (SELinux) mode.",
          "type": "string",
          "enum": [
            "SE_LINUX_MODE_UNSPECIFIED",
            "SE_LINUX_MODE_DISABLED",
            "SE_LINUX_MODE_PERMISSIVE",
            "SE_LINUX_MODE_ENFORCING"
          ],
          "enumDescriptions": [
            "SELinux mode unknown or unspecified.",
            "SELinux is disabled.",
            "SELinux permissive mode.",
            "SELinux enforcing mode."
          ]
        },
        "nfsExports": {
          "description": "NFS exports.",
          "$ref": "NfsExportList"
        }
      },
      "id": "GuestConfigDetails"
    },
    "SqlServerSchemaDetails": {
      "type": "object",
      "id": "SqlServerSchemaDetails",
      "properties": {
        "clrObjectCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. SqlServer number of CLR objects."
        }
      },
      "description": "Specific details for a SqlServer database."
    },
    "PhysicalPlatformDetails": {
      "description": "Platform specific details for Physical Machines.",
      "type": "object",
      "id": "PhysicalPlatformDetails",
      "properties": {
        "hyperthreading": {
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "description": "Whether the machine is hyperthreaded.",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        },
        "location": {
          "type": "string",
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different machines in the same location may have different string values for this field."
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "type": "object"
    },
    "ReportSummaryVmwareNodeAllocation": {
      "id": "ReportSummaryVmwareNodeAllocation",
      "description": "Represents assets allocated to a specific VMWare Node type.",
      "type": "object",
      "properties": {
        "allocatedAssetCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of assets allocated to these nodes"
        },
        "vmwareNode": {
          "$ref": "ReportSummaryVmwareNode",
          "description": "VMWare node type, e.g. \"ve1-standard-72\""
        },
        "nodeCount": {
          "format": "int64",
          "description": "Count of this node type to be provisioned",
          "type": "string"
        }
      }
    },
    "AggregationSum": {
      "properties": {},
      "description": "Sum of field values.",
      "id": "AggregationSum",
      "type": "object"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        }
      }
    },
    "ErrorFrame": {
      "type": "object",
      "id": "ErrorFrame",
      "description": "Message representing a frame which failed to be processed due to an error.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The identifier of the ErrorFrame."
        },
        "violations": {
          "items": {
            "$ref": "FrameViolationEntry"
          },
          "description": "Output only. All the violations that were detected for the frame.",
          "type": "array",
          "readOnly": true
        },
        "ingestionTime": {
          "readOnly": true,
          "description": "Output only. Frame ingestion time.",
          "type": "string",
          "format": "google-datetime"
        },
        "originalFrame": {
          "readOnly": true,
          "$ref": "AssetFrame",
          "description": "Output only. The frame that was originally reported."
        }
      }
    },
    "MachineDetails": {
      "properties": {
        "guestOs": {
          "description": "Guest OS information.",
          "$ref": "GuestOsDetails"
        },
        "disks": {
          "description": "Disk details.",
          "$ref": "MachineDiskDetails"
        },
        "diskPartitions": {
          "$ref": "DiskPartitionDetails",
          "description": "Optional. Disk partitions details. Note: Partitions are not necessarily mounted on local disks and therefore might not have a one-to-one correspondence with local disks."
        },
        "memoryMb": {
          "format": "int32",
          "type": "integer",
          "description": "The amount of memory in the machine. Must be non-negative."
        },
        "platform": {
          "description": "Platform specific information.",
          "$ref": "PlatformDetails"
        },
        "uuid": {
          "description": "Machine unique identifier.",
          "type": "string"
        },
        "network": {
          "description": "Network details.",
          "$ref": "MachineNetworkDetails"
        },
        "architecture": {
          "$ref": "MachineArchitectureDetails",
          "description": "Architecture details (vendor, CPU architecture)."
        },
        "coreCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of logical CPU cores in the machine. Must be non-negative."
        },
        "createTime": {
          "type": "string",
          "description": "Machine creation time.",
          "format": "google-datetime"
        },
        "machineName": {
          "description": "Machine name.",
          "type": "string"
        },
        "powerState": {
          "type": "string",
          "description": "Power state of the machine.",
          "enumDescriptions": [
            "Power state is unknown.",
            "The machine is preparing to enter the ACTIVE state. An instance may enter the PENDING state when it launches for the first time, or when it is started after being in the SUSPENDED state.",
            "The machine is active.",
            "The machine is being turned off.",
            "The machine is off.",
            "The machine is being deleted from the hosting platform.",
            "The machine is deleted from the hosting platform."
          ],
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "DELETING",
            "DELETED"
          ]
        }
      },
      "id": "MachineDetails",
      "description": "Details of a machine.",
      "type": "object"
    },
    "Source": {
      "id": "Source",
      "type": "object",
      "properties": {
        "priority": {
          "format": "int32",
          "description": "The information confidence of the source. The higher the value, the higher the confidence.",
          "type": "integer"
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the source was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the source.",
          "enumDescriptions": [
            "Unspecified.",
            "The source is active and ready to be used.",
            "In the process of being deleted.",
            "Source is in an invalid state. Asset frames reported to it will be ignored."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING",
            "INVALID"
          ],
          "readOnly": true,
          "type": "string"
        },
        "managed": {
          "description": "If `true`, the source is managed by other service(s).",
          "type": "boolean"
        },
        "pendingFrameCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of frames that are still being processed."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The full name of the source."
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name."
        },
        "type": {
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ],
          "type": "string",
          "description": "Data source type.",
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the source was created.",
          "readOnly": true
        },
        "errorFrameCount": {
          "readOnly": true,
          "description": "Output only. The number of frames that were reported by the source and contained errors.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Source represents an object from which asset information is streamed to Migration Center."
    },
    "ComputeEnginePreferences": {
      "id": "ComputeEnginePreferences",
      "type": "object",
      "properties": {
        "licenseType": {
          "enumDescriptions": [
            "Unspecified (default value).",
            "Default Google Cloud licensing plan. Licensing is charged per usage. This a good value to start with.",
            "Bring-your-own-license (BYOL) plan. User provides the OS license."
          ],
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_TYPE_DEFAULT",
            "LICENSE_TYPE_BRING_YOUR_OWN_LICENSE"
          ],
          "type": "string",
          "description": "License type to consider when calculating costs for virtual machine insights and recommendations. If unspecified, costs are calculated based on the default licensing plan."
        },
        "persistentDiskType": {
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ],
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "description": "Persistent disk type to use. If unspecified (default), all types are considered, based on available usage data.",
          "type": "string"
        },
        "machinePreferences": {
          "description": "Preferences concerning the machine types to consider on Compute Engine.",
          "$ref": "MachinePreferences"
        }
      },
      "description": "The user preferences relating to Compute Engine target platform."
    },
    "CascadeLogicalDBsRule": {
      "description": "Cascading rule for related logical DBs.",
      "properties": {},
      "id": "CascadeLogicalDBsRule",
      "type": "object"
    },
    "AzureVmPlatformDetails": {
      "type": "object",
      "description": "Azure VM specific details.",
      "properties": {
        "machineTypeLabel": {
          "type": "string",
          "description": "Azure platform's machine type label."
        },
        "provisioningState": {
          "description": "Azure platform's provisioning state.",
          "type": "string"
        },
        "hyperthreading": {
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "description": "Whether the machine is hyperthreaded.",
          "type": "string"
        },
        "location": {
          "description": "The location of the machine in the Azure format.",
          "type": "string"
        }
      },
      "id": "AzureVmPlatformDetails"
    },
    "Insight": {
      "id": "Insight",
      "type": "object",
      "description": "An insight about an asset.",
      "properties": {
        "migrationInsight": {
          "$ref": "MigrationInsight",
          "readOnly": true,
          "description": "Output only. An insight about potential migrations for an asset."
        },
        "genericInsight": {
          "description": "Output only. A generic insight about an asset.",
          "readOnly": true,
          "$ref": "GenericInsight"
        }
      }
    },
    "ImportRowErrorArchiveErrorDetails": {
      "id": "ImportRowErrorArchiveErrorDetails",
      "type": "object",
      "description": "Error details for an archive file.",
      "properties": {
        "filePath": {
          "description": "Output only. The file path inside the archive where the error was detected.",
          "type": "string",
          "readOnly": true
        },
        "csvError": {
          "$ref": "ImportRowErrorCsvErrorDetails",
          "description": "Error details for a CSV file."
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response message for Locations.ListLocations."
    },
    "PostgreSqlProperty": {
      "description": "PostgreSql property.",
      "id": "PostgreSqlProperty",
      "properties": {
        "property": {
          "type": "string",
          "description": "Required. The property name."
        },
        "numericValue": {
          "description": "Required. The property numeric value.",
          "type": "string",
          "format": "int64"
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. The property is enabled."
        }
      },
      "type": "object"
    },
    "RunAssetsExportJobRequest": {
      "id": "RunAssetsExportJobRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "description": "A request to run an assets export job."
    },
    "OpenFileList": {
      "type": "object",
      "description": "Open file list.",
      "properties": {
        "entries": {
          "type": "array",
          "description": "Open file details entries.",
          "items": {
            "$ref": "OpenFileDetails"
          }
        }
      },
      "id": "OpenFileList"
    },
    "ListAssetsExportJobsResponse": {
      "description": "Response message for listing assets export jobs.",
      "id": "ListAssetsExportJobsResponse",
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token identifying a page of results the server should return.",
          "type": "string"
        },
        "assetsExportJobs": {
          "readOnly": true,
          "items": {
            "$ref": "AssetsExportJob"
          },
          "type": "array",
          "description": "Output only. The list of assets export jobs."
        }
      },
      "type": "object"
    },
    "MySqlPlugin": {
      "properties": {
        "version": {
          "description": "Required. The plugin version.",
          "type": "string"
        },
        "enabled": {
          "description": "Required. The plugin is active.",
          "type": "boolean"
        },
        "plugin": {
          "type": "string",
          "description": "Required. The plugin name."
        }
      },
      "description": "MySql plugin.",
      "id": "MySqlPlugin",
      "type": "object"
    },
    "NetworkAdapterDetails": {
      "description": "Details of network adapter.",
      "type": "object",
      "id": "NetworkAdapterDetails",
      "properties": {
        "macAddress": {
          "type": "string",
          "description": "MAC address."
        },
        "adapterType": {
          "type": "string",
          "description": "Network adapter type (e.g. VMXNET3)."
        },
        "addresses": {
          "$ref": "NetworkAddressList",
          "description": "NetworkAddressList"
        }
      }
    },
    "PlatformDetails": {
      "properties": {
        "physicalDetails": {
          "$ref": "PhysicalPlatformDetails",
          "description": "Physical machines platform details."
        },
        "awsEc2Details": {
          "description": "AWS EC2 specific details.",
          "$ref": "AwsEc2PlatformDetails"
        },
        "genericDetails": {
          "description": "Generic platform details.",
          "$ref": "GenericPlatformDetails"
        },
        "vmwareDetails": {
          "$ref": "VmwarePlatformDetails",
          "description": "VMware specific details."
        },
        "azureVmDetails": {
          "$ref": "AzureVmPlatformDetails",
          "description": "Azure VM specific details."
        }
      },
      "description": "Information about the platform.",
      "id": "PlatformDetails",
      "type": "object"
    },
    "AggregationResultHistogramBucket": {
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.",
      "properties": {
        "upperBound": {
          "format": "double",
          "type": "number",
          "description": "Upper bound - exclusive."
        },
        "lowerBound": {
          "format": "double",
          "type": "number",
          "description": "Lower bound - inclusive."
        },
        "count": {
          "description": "Count of items in the bucket.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "AggregationResultHistogramBucket",
      "type": "object"
    },
    "AssetsExportJobExecutionResult": {
      "type": "object",
      "description": "Contains the result of the assets export.",
      "id": "AssetsExportJobExecutionResult",
      "properties": {
        "error": {
          "readOnly": true,
          "description": "Output only. Error encountered during export.",
          "$ref": "Status"
        },
        "outputFiles": {
          "description": "Output only. List of output files.",
          "$ref": "OutputFileList",
          "readOnly": true
        },
        "signedUris": {
          "readOnly": true,
          "$ref": "SignedUris",
          "description": "Output only. Signed URLs for downloading export artifacts."
        }
      }
    },
    "AssetFrame": {
      "id": "AssetFrame",
      "type": "object",
      "properties": {
        "databaseDetails": {
          "description": "Asset information specific for logical databases.",
          "$ref": "DatabaseDetails"
        },
        "databaseDeploymentDetails": {
          "$ref": "DatabaseDeploymentDetails",
          "description": "Asset information specific for database deployments."
        },
        "performanceSamples": {
          "type": "array",
          "description": "Asset performance data samples. Samples that are from more than 40 days ago or after tomorrow are ignored.",
          "items": {
            "$ref": "PerformanceSample"
          }
        },
        "attributes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Generic asset attributes.",
          "type": "object"
        },
        "traceToken": {
          "type": "string",
          "description": "Optional. Trace token is optionally provided to assist with debugging and traceability."
        },
        "machineDetails": {
          "description": "Asset information specific for virtual machines.",
          "$ref": "MachineDetails"
        },
        "collectionType": {
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ],
          "description": "Optional. Frame collection type, if not specified the collection type will be based on the source type of the source the frame was reported on.",
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ],
          "type": "string"
        },
        "reportTime": {
          "description": "The time the data was reported.",
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Contains data reported from an inventory source on an asset."
    },
    "DiskUsageSample": {
      "properties": {
        "averageIops": {
          "type": "number",
          "description": "Optional. Average IOPS sampled over a short window. Must be non-negative. If read or write are set, the sum of read and write will override the value of the average_iops.",
          "format": "float"
        },
        "averageWriteIops": {
          "type": "number",
          "format": "float",
          "description": "Optional. Average write IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored."
        },
        "averageReadIops": {
          "description": "Optional. Average read IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "DiskUsageSample",
      "type": "object",
      "description": "Disk usage sample. Values are across all disks."
    },
    "NfsExport": {
      "properties": {
        "exportDirectory": {
          "type": "string",
          "description": "The directory being exported."
        },
        "hosts": {
          "type": "array",
          "description": "The hosts or networks to which the export is being shared.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "NfsExport",
      "description": "NFS export."
    },
    "ReportSummaryVmwareNode": {
      "description": "A VMWare Engine Node",
      "type": "object",
      "id": "ReportSummaryVmwareNode",
      "properties": {
        "code": {
          "type": "string",
          "description": "Code to identify VMware Engine node series, e.g. \"ve1-standard-72\". Based on the displayName of cloud.google.com/vmware-engine/docs/reference/rest/v1/projects.locations.nodeTypes"
        }
      }
    },
    "PostgreSqlSchemaDetails": {
      "id": "PostgreSqlSchemaDetails",
      "properties": {
        "foreignTablesCount": {
          "description": "Optional. PostgreSql foreign tables.",
          "format": "int32",
          "type": "integer"
        },
        "postgresqlExtensions": {
          "description": "Optional. PostgreSql extensions.",
          "type": "array",
          "items": {
            "$ref": "PostgreSqlExtension"
          }
        }
      },
      "description": "Specific details for a PostgreSql schema.",
      "type": "object"
    },
    "NetworkUsageSample": {
      "properties": {
        "averageIngressBps": {
          "description": "Average network ingress in B/s sampled over a short window. Must be non-negative.",
          "type": "number",
          "format": "float"
        },
        "averageEgressBps": {
          "format": "float",
          "description": "Average network egress in B/s sampled over a short window. Must be non-negative.",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Network usage sample. Values are across all network interfaces.",
      "id": "NetworkUsageSample"
    },
    "ListErrorFramesResponse": {
      "id": "ListErrorFramesResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "errorFrames": {
          "items": {
            "$ref": "ErrorFrame"
          },
          "description": "The list of error frames.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A response for listing error frames."
    },
    "PerformanceSample": {
      "properties": {
        "cpu": {
          "$ref": "CpuUsageSample",
          "description": "CPU usage sample."
        },
        "disk": {
          "$ref": "DiskUsageSample",
          "description": "Disk usage sample."
        },
        "memory": {
          "$ref": "MemoryUsageSample",
          "description": "Memory usage sample."
        },
        "sampleTime": {
          "format": "google-datetime",
          "description": "Time the sample was collected. If omitted, the frame report time will be used.",
          "type": "string"
        },
        "network": {
          "$ref": "NetworkUsageSample",
          "description": "Network usage sample."
        }
      },
      "description": "Performance data sample.",
      "id": "PerformanceSample",
      "type": "object"
    },
    "ComputeEngineMigrationTarget": {
      "description": "Compute engine migration target.",
      "id": "ComputeEngineMigrationTarget",
      "type": "object",
      "properties": {
        "shape": {
          "description": "Description of the suggested shape for the migration target.",
          "$ref": "ComputeEngineShapeDescriptor"
        }
      }
    },
    "HostsEntry": {
      "description": "Single /etc/hosts entry.",
      "id": "HostsEntry",
      "properties": {
        "hostNames": {
          "description": "List of host names / aliases.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ip": {
          "type": "string",
          "description": "IP (raw, IPv4/6 agnostic)."
        }
      },
      "type": "object"
    },
    "NetworkAdapterList": {
      "properties": {
        "entries": {
          "type": "array",
          "description": "Network adapter entries.",
          "items": {
            "$ref": "NetworkAdapterDetails"
          }
        }
      },
      "type": "object",
      "id": "NetworkAdapterList",
      "description": "List of network adapters."
    },
    "ReportSummaryVmwareEngineFinding": {
      "properties": {
        "allocatedAssetCount": {
          "format": "int64",
          "description": "Count of assets which are allocated",
          "type": "string"
        },
        "allocatedRegions": {
          "description": "Set of regions in which the assets were allocated",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nodeAllocations": {
          "type": "array",
          "items": {
            "$ref": "ReportSummaryVmwareNodeAllocation"
          },
          "description": "Set of per-nodetype allocation records"
        }
      },
      "description": "A set of findings that applies to assets destined for VMWare Engine.",
      "type": "object",
      "id": "ReportSummaryVmwareEngineFinding"
    },
    "FstabEntryList": {
      "type": "object",
      "id": "FstabEntryList",
      "description": "Fstab content.",
      "properties": {
        "entries": {
          "description": "Fstab entries.",
          "type": "array",
          "items": {
            "$ref": "FstabEntry"
          }
        }
      }
    },
    "MySqlProperty": {
      "id": "MySqlProperty",
      "description": "MySql property.",
      "type": "object",
      "properties": {
        "property": {
          "description": "Required. The property name.",
          "type": "string"
        },
        "numericValue": {
          "type": "string",
          "format": "int64",
          "description": "Required. The property numeric value."
        },
        "enabled": {
          "description": "Required. The property is enabled.",
          "type": "boolean"
        }
      }
    },
    "MachineArchitectureDetails": {
      "id": "MachineArchitectureDetails",
      "description": "Details of the machine architecture.",
      "type": "object",
      "properties": {
        "cpuName": {
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc.",
          "type": "string"
        },
        "cpuManufacturer": {
          "description": "Optional. CPU manufacturer, e.g., \"Intel\", \"AMD\".",
          "type": "string"
        },
        "firmwareType": {
          "type": "string",
          "description": "Firmware type.",
          "enumDescriptions": [
            "Unspecified or unknown.",
            "BIOS firmware.",
            "EFI firmware."
          ],
          "enum": [
            "FIRMWARE_TYPE_UNSPECIFIED",
            "BIOS",
            "EFI"
          ]
        },
        "cpuSocketCount": {
          "description": "Number of processor sockets allocated to the machine.",
          "type": "integer",
          "format": "int32"
        },
        "hyperthreading": {
          "enum": [
            "CPU_HYPER_THREADING_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Unspecified or unknown.",
            "Hyper-threading is disabled.",
            "Hyper-threading is enabled."
          ],
          "description": "CPU hyper-threading support.",
          "type": "string"
        },
        "cpuThreadCount": {
          "description": "Deprecated: use MachineDetails.core_count instead. Number of CPU threads allocated to the machine.",
          "type": "integer",
          "format": "int32",
          "deprecated": true
        },
        "bios": {
          "description": "BIOS Details.",
          "$ref": "BiosDetails"
        },
        "vendor": {
          "description": "Hardware vendor.",
          "type": "string"
        },
        "cpuArchitecture": {
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc.",
          "type": "string"
        }
      }
    },
    "NetworkConnectionList": {
      "description": "Network connection list.",
      "id": "NetworkConnectionList",
      "properties": {
        "entries": {
          "items": {
            "$ref": "NetworkConnection"
          },
          "description": "Network connection entries.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListGroupsResponse": {
      "description": "A response for listing groups.",
      "id": "ListGroupsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "groups": {
          "type": "array",
          "items": {
            "$ref": "Group"
          },
          "description": "The list of Group"
        }
      },
      "type": "object"
    },
    "GuestRuntimeDetails": {
      "properties": {
        "network": {
          "description": "Runtime network information (connections, ports).",
          "$ref": "RuntimeNetworkInfo"
        },
        "installedApps": {
          "description": "Installed applications information.",
          "$ref": "GuestInstalledApplicationList"
        },
        "services": {
          "$ref": "RunningServiceList",
          "description": "Running background services."
        },
        "openFileList": {
          "description": "Open files information.",
          "$ref": "OpenFileList"
        },
        "processes": {
          "$ref": "RunningProcessList",
          "description": "Running processes."
        },
        "lastBootTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Last time the OS was booted."
        },
        "machineName": {
          "type": "string",
          "description": "Machine name."
        },
        "domain": {
          "description": "Domain, e.g. c.stratozone-development.internal.",
          "type": "string"
        }
      },
      "description": "Guest OS runtime information.",
      "id": "GuestRuntimeDetails",
      "type": "object"
    },
    "RunningServiceList": {
      "properties": {
        "entries": {
          "description": "Running service entries.",
          "items": {
            "$ref": "RunningService"
          },
          "type": "array"
        }
      },
      "description": "List of running guest OS services.",
      "id": "RunningServiceList",
      "type": "object"
    },
    "DiskPartition": {
      "description": "Disk Partition details.",
      "properties": {
        "capacityBytes": {
          "format": "int64",
          "description": "Partition capacity.",
          "type": "string"
        },
        "subPartitions": {
          "description": "Sub-partitions.",
          "$ref": "DiskPartitionList"
        },
        "uuid": {
          "description": "Partition UUID.",
          "type": "string"
        },
        "freeBytes": {
          "type": "string",
          "description": "Partition free space.",
          "format": "int64"
        },
        "type": {
          "type": "string",
          "description": "Partition type."
        },
        "fileSystem": {
          "description": "Partition file system.",
          "type": "string"
        },
        "mountPoint": {
          "description": "Mount point (Linux/Windows) or drive letter (Windows).",
          "type": "string"
        }
      },
      "id": "DiskPartition",
      "type": "object"
    },
    "DiscoveryClient": {
      "properties": {
        "expireTime": {
          "type": "string",
          "description": "Optional. Client expiration time in UTC. If specified, the backend will not accept new frames after this time.",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the discovery client was first created.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. Free text description. Maximum length is 1000 characters.",
          "type": "string"
        },
        "signalsEndpoint": {
          "readOnly": true,
          "description": "Output only. This field is intended for internal use.",
          "type": "string"
        },
        "errors": {
          "description": "Output only. Errors affecting client functionality.",
          "items": {
            "$ref": "Status"
          },
          "type": "array",
          "readOnly": true
        },
        "version": {
          "description": "Output only. Client version, as reported in recent heartbeat.",
          "type": "string",
          "readOnly": true
        },
        "serviceAccount": {
          "type": "string",
          "description": "Required. Service account used by the discovery client for various operation."
        },
        "name": {
          "description": "Output only. Identifier. Full name of this discovery client.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OFFLINE",
            "DEGRADED",
            "EXPIRED"
          ],
          "description": "Output only. Current state of the discovery client.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Client state is unspecified.",
            "Client is active.",
            "Client is offline.",
            "Client is in a degraded state. See the `errors` field for details.",
            "Client has expired. See the expire_time field for the expire time."
          ]
        },
        "ttl": {
          "description": "Optional. Input only. Client time-to-live. If specified, the backend will not accept new frames after this time. This field is input only. The derived expiration time is provided as output through the `expire_time` field.",
          "type": "string",
          "format": "google-duration"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs.",
          "type": "object"
        },
        "source": {
          "type": "string",
          "description": "Required. Immutable. Full name of the source object associated with this discovery client."
        },
        "heartbeatTime": {
          "type": "string",
          "description": "Output only. Last heartbeat time. Healthy clients are expected to send heartbeats regularly (normally every few minutes).",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the discovery client was last updated. This value is not updated by heartbeats, to view the last heartbeat time please refer to the `heartbeat_time` field.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Free text display name. Maximum length is 63 characters."
        }
      },
      "description": "Represents an installed Migration Center Discovery Client instance.",
      "id": "DiscoveryClient",
      "type": "object"
    },
    "AssetsExportJobInventory": {
      "properties": {},
      "id": "AssetsExportJobInventory",
      "description": "Configuration for asset inventory details exports.",
      "type": "object"
    },
    "DailyResourceUsageAggregationStats": {
      "id": "DailyResourceUsageAggregationStats",
      "properties": {
        "median": {
          "format": "float",
          "description": "Median usage value.",
          "type": "number"
        },
        "peak": {
          "description": "Peak usage value.",
          "type": "number",
          "format": "float"
        },
        "ninteyFifthPercentile": {
          "description": "95th percentile usage value.",
          "type": "number",
          "format": "float"
        },
        "average": {
          "type": "number",
          "format": "float",
          "description": "Average usage value."
        }
      },
      "description": "Statistical aggregation of samples for a single resource usage.",
      "type": "object"
    },
    "ListReportsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "reports": {
          "description": "The list of Reports.",
          "items": {
            "$ref": "Report"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "type": "object",
      "id": "ListReportsResponse",
      "description": "Response message for listing Reports."
    },
    "ReportSummarySoleTenantFinding": {
      "id": "ReportSummarySoleTenantFinding",
      "type": "object",
      "description": "A set of findings that applies to assets destined for Sole-Tenant nodes.",
      "properties": {
        "nodeAllocations": {
          "type": "array",
          "description": "Set of per-nodetype allocation records",
          "items": {
            "$ref": "ReportSummarySoleTenantNodeAllocation"
          }
        },
        "allocatedRegions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Set of regions in which the assets are allocated"
        },
        "allocatedAssetCount": {
          "description": "Count of assets which are allocated",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "SoleTenantNodeType": {
      "description": "A Sole Tenant node type.",
      "properties": {
        "nodeName": {
          "type": "string",
          "description": "Name of the Sole Tenant node. Consult https://cloud.google.com/compute/docs/nodes/sole-tenant-nodes"
        }
      },
      "type": "object",
      "id": "SoleTenantNodeType"
    },
    "Aggregation": {
      "description": "Message describing an aggregation. The message includes the aggregation type, parameters, and the field on which to perform the aggregation.",
      "properties": {
        "sum": {
          "description": "Sum over a numeric field.",
          "$ref": "AggregationSum"
        },
        "field": {
          "description": "The name of the field on which to aggregate.",
          "type": "string"
        },
        "frequency": {
          "$ref": "AggregationFrequency",
          "description": "Creates a frequency distribution of all field values."
        },
        "count": {
          "description": "Count the number of matching objects.",
          "$ref": "AggregationCount"
        },
        "histogram": {
          "description": "Creates a bucketed histogram of field values.",
          "$ref": "AggregationHistogram"
        }
      },
      "id": "Aggregation",
      "type": "object"
    },
    "AssetsExportJobExportCondition": {
      "properties": {
        "filter": {
          "description": "Optional. Assets filter, supports the same syntax as asset listing.",
          "type": "string"
        }
      },
      "description": "Conditions for selecting assets to export.",
      "type": "object",
      "id": "AssetsExportJobExportCondition"
    },
    "VmwareDiskConfig": {
      "properties": {
        "vmdkMode": {
          "type": "string",
          "description": "VMDK disk mode.",
          "enumDescriptions": [
            "VMDK disk mode unspecified or unknown.",
            "Dependent disk mode.",
            "Independent - Persistent disk mode.",
            "Independent - Nonpersistent disk mode."
          ],
          "enum": [
            "VMDK_MODE_UNSPECIFIED",
            "DEPENDENT",
            "INDEPENDENT_PERSISTENT",
            "INDEPENDENT_NONPERSISTENT"
          ]
        },
        "backingType": {
          "enum": [
            "BACKING_TYPE_UNSPECIFIED",
            "BACKING_TYPE_FLAT_V1",
            "BACKING_TYPE_FLAT_V2",
            "BACKING_TYPE_PMEM",
            "BACKING_TYPE_RDM_V1",
            "BACKING_TYPE_RDM_V2",
            "BACKING_TYPE_SESPARSE",
            "BACKING_TYPE_SESPARSE_V1",
            "BACKING_TYPE_SESPARSE_V2"
          ],
          "enumDescriptions": [
            "Default value.",
            "Flat v1.",
            "Flat v2.",
            "Persistent memory, also known as Non-Volatile Memory (NVM).",
            "Raw Disk Memory v1.",
            "Raw Disk Memory v2.",
            "SEsparse is a snapshot format introduced in vSphere 5.5 for large disks.",
            "SEsparse v1.",
            "SEsparse v1."
          ],
          "description": "VMDK backing type.",
          "type": "string"
        },
        "shared": {
          "description": "Is VMDK shared with other VMs.",
          "type": "boolean"
        },
        "rdmCompatibility": {
          "type": "string",
          "description": "RDM compatibility mode.",
          "enum": [
            "RDM_COMPATIBILITY_UNSPECIFIED",
            "PHYSICAL_COMPATIBILITY",
            "VIRTUAL_COMPATIBILITY"
          ],
          "enumDescriptions": [
            "Compatibility mode unspecified or unknown.",
            "Physical compatibility mode.",
            "Virtual compatibility mode."
          ]
        }
      },
      "type": "object",
      "id": "VmwareDiskConfig",
      "description": "VMware disk config details."
    },
    "DiskEntryList": {
      "description": "VM disks.",
      "id": "DiskEntryList",
      "properties": {
        "entries": {
          "description": "Disk entries.",
          "type": "array",
          "items": {
            "$ref": "DiskEntry"
          }
        }
      },
      "type": "object"
    },
    "ImportDataFile": {
      "description": "A resource that represents a payload file in an import job.",
      "type": "object",
      "id": "ImportDataFile",
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the file was created."
        },
        "uploadFileInfo": {
          "$ref": "UploadFileInfo",
          "description": "Information about a file that is uploaded to a storage service."
        },
        "format": {
          "description": "Required. The payload format.",
          "enumDescriptions": [
            "Default value.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the AWS collection script.",
            "CSV format exported from Azure using the Azure collection script.",
            "CSV format created manually and following the StratoZone format. For more information, see Manually create and upload data tables.",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "type": "string",
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_STRATOZONE_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ]
        },
        "state": {
          "enumDescriptions": [
            "Default value.",
            "The data file is being created.",
            "The data file completed initialization."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE"
          ],
          "description": "Output only. The state of the import data file."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User-friendly display name. Maximum length is 63 characters."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the file.",
          "type": "string"
        }
      }
    },
    "VmwareEnginePreferences": {
      "properties": {
        "memoryOvercommitRatio": {
          "type": "number",
          "format": "double",
          "description": "Memory overcommit ratio. Acceptable values are 1.0, 1.25, 1.5, 1.75 and 2.0."
        },
        "storageDeduplicationCompressionRatio": {
          "format": "double",
          "description": "The Deduplication and Compression ratio is based on the logical (Used Before) space required to store data before applying deduplication and compression, in relation to the physical (Used After) space required after applying deduplication and compression. Specifically, the ratio is the Used Before space divided by the Used After space. For example, if the Used Before space is 3 GB, but the physical Used After space is 1 GB, the deduplication and compression ratio is 3x. Acceptable values are between 1.0 and 4.0.",
          "type": "number"
        },
        "commitmentPlan": {
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1 year commitment (monthly payments).",
            "3 year commitment (monthly payments).",
            "1 year commitment (upfront payment).",
            "3 years commitment (upfront payment)."
          ],
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_3_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_1_YEAR_UPFRONT_PAYMENT",
            "COMMITMENT_3_YEAR_UPFRONT_PAYMENT"
          ],
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "type": "string"
        },
        "cpuOvercommitRatio": {
          "type": "number",
          "format": "double",
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 8.0, with 0.1 increment."
        }
      },
      "description": "The user preferences relating to Google Cloud VMware Engine target platform.",
      "type": "object",
      "id": "VmwareEnginePreferences"
    },
    "AssetsExportJob": {
      "description": "Assets export job message.",
      "id": "AssetsExportJob",
      "type": "object",
      "properties": {
        "networkDependencies": {
          "$ref": "AssetsExportJobNetworkDependencies",
          "description": "Export data regarding asset network dependencies."
        },
        "condition": {
          "$ref": "AssetsExportJobExportCondition",
          "description": "Optional. Conditions for selecting assets to export."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Resource creation time.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "signedUriDestination": {
          "description": "Export to Cloud Storage files downloadable using signed URIs.",
          "$ref": "SignedUriDestination"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. Resource name.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "performanceData": {
          "$ref": "AssetsExportJobPerformanceData",
          "description": "Export asset with performance data."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Resource update time."
        },
        "showHidden": {
          "type": "boolean",
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden."
        },
        "inventory": {
          "description": "Export asset inventory details.",
          "$ref": "AssetsExportJobInventory"
        },
        "recentExecutions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AssetsExportJobExecution"
          },
          "description": "Output only. Recent non expired executions of the job."
        }
      }
    },
    "ListSourcesResponse": {
      "properties": {
        "sources": {
          "description": "The list of sources.",
          "type": "array",
          "items": {
            "$ref": "Source"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for listing sources.",
      "type": "object",
      "id": "ListSourcesResponse"
    },
    "VirtualMachinePreferences": {
      "type": "object",
      "id": "VirtualMachinePreferences",
      "properties": {
        "commitmentPlan": {
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "COMMITMENT_PLAN_NONE",
            "COMMITMENT_PLAN_ONE_YEAR",
            "COMMITMENT_PLAN_THREE_YEARS"
          ],
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan.",
            "1 year commitment.",
            "3 years commitment."
          ]
        },
        "regionPreferences": {
          "description": "Region preferences for assets using this preference set. If you are unsure which value to set, the migration service API region is often a good value to start with.",
          "$ref": "RegionPreferences"
        },
        "soleTenancyPreferences": {
          "description": "Preferences concerning Sole Tenant nodes and virtual machines.",
          "$ref": "SoleTenancyPreferences"
        },
        "sizingOptimizationStrategy": {
          "enumDescriptions": [
            "Unspecified (default value).",
            "No optimization applied. Virtual machine sizing matches as closely as possible the machine shape on the source site, not considering any actual performance data.",
            "Virtual machine sizing will match the reported usage and shape, with some slack. This a good value to start with.",
            "Virtual machine sizing will match the reported usage, with little slack. Using this option can help reduce costs."
          ],
          "type": "string",
          "description": "Sizing optimization strategy specifies the preferred strategy used when extrapolating usage data to calculate insights and recommendations for a virtual machine. If you are unsure which value to set, a moderate sizing optimization strategy is often a good value to start with.",
          "enum": [
            "SIZING_OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "SIZING_OPTIMIZATION_STRATEGY_SAME_AS_SOURCE",
            "SIZING_OPTIMIZATION_STRATEGY_MODERATE",
            "SIZING_OPTIMIZATION_STRATEGY_AGGRESSIVE"
          ]
        },
        "computeEnginePreferences": {
          "$ref": "ComputeEnginePreferences",
          "description": "Compute Engine preferences concern insights and recommendations for Compute Engine target."
        },
        "targetProduct": {
          "enumDescriptions": [
            "Unspecified (default value).",
            "Prefer to migrate to Google Cloud Compute Engine.",
            "Prefer to migrate to Google Cloud VMware Engine.6278",
            "Prefer to migrate to Google Cloud Sole Tenant Nodes."
          ],
          "description": "Target product for assets using this preference set. Specify either target product or business goal, but not both.",
          "type": "string",
          "enum": [
            "COMPUTE_MIGRATION_TARGET_PRODUCT_UNSPECIFIED",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_COMPUTE_ENGINE",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_VMWARE_ENGINE",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_SOLE_TENANCY"
          ]
        },
        "vmwareEnginePreferences": {
          "$ref": "VmwareEnginePreferences",
          "description": "Preferences concerning insights and recommendations for Google Cloud VMware Engine."
        }
      },
      "description": "VirtualMachinePreferences enables you to create sets of assumptions, for example, a geographical location and pricing track, for your migrated virtual machines. The set of preferences influence recommendations for migrating virtual machine assets."
    },
    "NetworkAddressList": {
      "description": "List of allocated/assigned network addresses.",
      "type": "object",
      "id": "NetworkAddressList",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "NetworkAddress"
          },
          "description": "Network address entries."
        }
      }
    },
    "MachineDiskDetails": {
      "type": "object",
      "description": "Details of machine disks.",
      "properties": {
        "totalCapacityBytes": {
          "format": "int64",
          "description": "Disk total Capacity.",
          "type": "string"
        },
        "totalFreeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Total disk free space."
        },
        "disks": {
          "description": "List of disks.",
          "$ref": "DiskEntryList"
        }
      },
      "id": "MachineDiskDetails"
    },
    "DatabaseDetailsParentDatabaseDeployment": {
      "type": "object",
      "id": "DatabaseDetailsParentDatabaseDeployment",
      "properties": {
        "manualUniqueId": {
          "description": "Optional. The parent database deployment optional manual unique ID set by the user.",
          "type": "string"
        },
        "generatedId": {
          "description": "Optional. The parent database deployment generated ID.",
          "type": "string"
        }
      },
      "description": "The identifiers of the parent database deployment."
    },
    "Operation": {
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "AssetsExportJobPerformanceData": {
      "properties": {
        "maxDays": {
          "description": "Optional. When this value is set to a positive integer, performance data will be returned for the most recent days for which data is available. When this value is unset (or set to zero), all available data is returned. The maximum value is 420; values above 420 will be coerced to 420. If unset (0 value) a default value of 40 will be used.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Configuration for performance data exports.",
      "id": "AssetsExportJobPerformanceData",
      "type": "object"
    },
    "Report": {
      "description": "Report represents a point-in-time rendering of the ReportConfig results.",
      "type": "object",
      "id": "Report",
      "properties": {
        "updateTime": {
          "description": "Output only. Last update timestamp.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "summary": {
          "readOnly": true,
          "$ref": "ReportSummary",
          "description": "Output only. Summary view of the Report."
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Default Report creation state.",
            "Creating Report.",
            "Successfully created Report.",
            "Failed to create Report."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Report creation state."
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of resource."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Creation timestamp."
        },
        "type": {
          "enumDescriptions": [
            "Default Report type.",
            "Total cost of ownership Report type."
          ],
          "description": "Report type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOTAL_COST_OF_OWNERSHIP"
          ],
          "type": "string"
        }
      }
    },
    "ReportConfigGroupPreferenceSetAssignment": {
      "description": "Represents a combination of a group with a preference set.",
      "type": "object",
      "id": "ReportConfigGroupPreferenceSetAssignment",
      "properties": {
        "group": {
          "description": "Required. Name of the group.",
          "type": "string"
        },
        "preferenceSet": {
          "description": "Required. Name of the Preference Set.",
          "type": "string"
        }
      }
    },
    "FrameViolationEntry": {
      "type": "object",
      "properties": {
        "field": {
          "description": "The field of the original frame where the violation occurred.",
          "type": "string"
        },
        "violation": {
          "type": "string",
          "description": "A message describing the violation."
        }
      },
      "id": "FrameViolationEntry",
      "description": "A resource that contains a single violation of a reported `AssetFrame` resource."
    },
    "ReportSummaryMachineSeriesAllocation": {
      "properties": {
        "allocatedAssetCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of assets allocated to this machine series."
        },
        "machineSeries": {
          "description": "The Machine Series (e.g. \"E2\", \"N2\")",
          "$ref": "MachineSeries"
        }
      },
      "type": "object",
      "description": "Represents a data point tracking the count of assets allocated for a specific Machine Series.",
      "id": "ReportSummaryMachineSeriesAllocation"
    },
    "AggregationFrequency": {
      "description": "Frequency distribution of all field values.",
      "type": "object",
      "id": "AggregationFrequency",
      "properties": {}
    },
    "SqlServerServerFlag": {
      "description": "SQL Server server flag details.",
      "properties": {
        "valueInUse": {
          "type": "string",
          "description": "Required. The server flag actual value. If `value_in_use` is different from `value` it means that either the configuration change was not applied or it is an expected behavior. See SQL Server documentation for more details."
        },
        "serverFlagName": {
          "type": "string",
          "description": "Required. The server flag name."
        },
        "value": {
          "description": "Required. The server flag value set by the user.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SqlServerServerFlag"
    },
    "BatchDeleteAssetsRequest": {
      "id": "BatchDeleteAssetsRequest",
      "type": "object",
      "properties": {
        "cascadingRules": {
          "items": {
            "$ref": "CascadingRule"
          },
          "type": "array",
          "description": "Optional. Optional cascading rules for deleting related assets."
        },
        "allowMissing": {
          "type": "boolean",
          "description": "Optional. When this value is set to `true` the request is a no-op for non-existing assets. See https://google.aip.dev/135#delete-if-existing for additional details. Default value is `false`."
        },
        "names": {
          "type": "array",
          "description": "Required. The IDs of the assets to delete. A maximum of 1000 assets can be deleted in a batch. Format: projects/{project}/locations/{location}/assets/{name}.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A request to delete a list of asset."
    },
    "SignedUriDestination": {
      "id": "SignedUriDestination",
      "properties": {
        "fileFormat": {
          "description": "Required. The file format to export.",
          "enumDescriptions": [
            "Unspecified file format will be treated as CSV.",
            "CSV file format.",
            "XLSX file format which used in Excel."
          ],
          "type": "string",
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ]
        }
      },
      "type": "object",
      "description": "Signed URI destination configuration."
    },
    "UploadFileInfo": {
      "description": "A resource that contains a URI to which a data file can be uploaded.",
      "properties": {
        "headers": {
          "description": "Output only. The headers that were used to sign the URI.",
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          }
        },
        "signedUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Upload URI for the file."
        },
        "uriExpirationTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Expiration time of the upload URI."
        }
      },
      "id": "UploadFileInfo",
      "type": "object"
    },
    "CsvOutputFile": {
      "type": "object",
      "description": "Contains a single output file of type CSV.",
      "id": "CsvOutputFile",
      "properties": {
        "signedUri": {
          "description": "Output only. Signed URI destination.",
          "readOnly": true,
          "$ref": "SignedUri"
        },
        "columnsCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of columns in the file.",
          "readOnly": true
        },
        "rowCount": {
          "description": "Output only. Number of rows in the file.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        }
      }
    },
    "AggregationResultCount": {
      "id": "AggregationResultCount",
      "type": "object",
      "description": "The result of a count aggregation.",
      "properties": {
        "value": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "RuntimeNetworkInfo": {
      "properties": {
        "connections": {
          "description": "Network connections.",
          "$ref": "NetworkConnectionList"
        },
        "scanTime": {
          "format": "google-datetime",
          "description": "Time of the last network scan.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Runtime networking information.",
      "id": "RuntimeNetworkInfo"
    },
    "MysqlDatabaseDeployment": {
      "id": "MysqlDatabaseDeployment",
      "description": "Specific details for a Mysql database deployment.",
      "type": "object",
      "properties": {
        "properties": {
          "type": "array",
          "items": {
            "$ref": "MySqlProperty"
          },
          "description": "Optional. List of MySql properties."
        },
        "variables": {
          "items": {
            "$ref": "MySqlVariable"
          },
          "description": "Optional. List of MySql variables.",
          "type": "array"
        },
        "plugins": {
          "type": "array",
          "items": {
            "$ref": "MySqlPlugin"
          },
          "description": "Optional. List of MySql plugins."
        },
        "resourceGroupsCount": {
          "type": "integer",
          "description": "Optional. Number of resource groups.",
          "format": "int32"
        }
      }
    },
    "GenericPlatformDetails": {
      "type": "object",
      "id": "GenericPlatformDetails",
      "properties": {
        "hyperthreading": {
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "description": "Whether the machine is hyperthreaded.",
          "type": "string"
        },
        "location": {
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different VMs in the same location may have different string values for this field.",
          "type": "string"
        }
      },
      "description": "Generic platform details."
    },
    "ExecutionReport": {
      "description": "A resource that reports result of the import job execution.",
      "properties": {
        "framesReported": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of asset frames reported for the import job."
        },
        "executionErrors": {
          "description": "Validation errors encountered during the execution of the import job.",
          "$ref": "ValidationReport"
        },
        "totalRowsCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Total number of rows in the import job."
        }
      },
      "id": "ExecutionReport",
      "type": "object"
    },
    "RegionPreferences": {
      "properties": {
        "preferredRegions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of preferred regions, ordered by the most preferred region first. Set only valid Google Cloud region names. See https://cloud.google.com/compute/docs/regions-zones for available regions."
        }
      },
      "description": "The user preferences relating to target regions.",
      "type": "object",
      "id": "RegionPreferences"
    },
    "DatabaseDeploymentDetails": {
      "id": "DatabaseDeploymentDetails",
      "type": "object",
      "description": "The details of a database deployment asset.",
      "properties": {
        "postgresql": {
          "description": "Optional. Details of a PostgreSQL database deployment.",
          "$ref": "PostgreSqlDatabaseDeployment"
        },
        "manualUniqueId": {
          "description": "Optional. A manual unique ID set by the user.",
          "type": "string"
        },
        "topology": {
          "description": "Optional. Details of the database deployment topology.",
          "$ref": "DatabaseDeploymentTopology"
        },
        "generatedId": {
          "description": "Optional. The database deployment generated ID.",
          "type": "string"
        },
        "version": {
          "description": "Optional. The database deployment version.",
          "type": "string"
        },
        "aggregatedStats": {
          "description": "Output only. Aggregated stats for the database deployment.",
          "$ref": "DatabaseDeploymentDetailsAggregatedStats",
          "readOnly": true
        },
        "edition": {
          "description": "Optional. The database deployment edition.",
          "type": "string"
        },
        "sqlServer": {
          "$ref": "SqlServerDatabaseDeployment",
          "description": "Optional. Details of a Microsoft SQL Server database deployment."
        },
        "awsRds": {
          "$ref": "AwsRds",
          "description": "Optional. Details of an AWS RDS instance."
        },
        "mysql": {
          "description": "Optional. Details of a MYSQL database deployment.",
          "$ref": "MysqlDatabaseDeployment"
        }
      }
    },
    "ComputeStorageDescriptor": {
      "properties": {
        "type": {
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ],
          "description": "Output only. Disk type backing the storage.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ]
        },
        "sizeGb": {
          "readOnly": true,
          "description": "Output only. Disk size in GiB.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "ComputeStorageDescriptor",
      "description": "Compute Engine storage option descriptor."
    },
    "OutputFileList": {
      "properties": {
[...]
