{
  "ownerDomain": "google.com",
  "title": "Migration Center API",
  "discoveryVersion": "v1",
  "rootUrl": "https://migrationcenter.googleapis.com/",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "version": "v1alpha1",
  "mtlsRootUrl": "https://migrationcenter.mtls.googleapis.com/",
  "schemas": {
    "DatabasePreferencesCloudSqlMySql": {
      "id": "DatabasePreferencesCloudSqlMySql",
      "properties": {
        "common": {
          "$ref": "DatabasePreferencesCloudSqlCommon",
          "description": "Optional. Preferences to Cloud SQL databases."
        }
      },
      "description": "Preferences for MySQL on Cloud SQL.",
      "type": "object"
    },
    "AddAssetsToGroupRequest": {
      "type": "object",
      "description": "A request to add assets to a group.",
      "id": "AddAssetsToGroupRequest",
      "properties": {
        "allowExisting": {
          "description": "Optional. When this value is set to `false` and one of the given assets is already an existing member of the group, the operation fails with an `Already Exists` error. When set to `true` this situation is silently ignored by the server. Default value is `false`.",
          "type": "boolean"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "assets": {
          "description": "Required. List of assets to be added. The maximum number of assets that can be added in a single request is 2000.",
          "$ref": "AssetList"
        }
      }
    },
    "AssetsExportJobExportCondition": {
      "id": "AssetsExportJobExportCondition",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Optional. Assets filter, supports the same syntax as asset listing.",
          "type": "string"
        }
      },
      "description": "Conditions for selecting assets to export."
    },
    "NetworkAdapterDetails": {
      "type": "object",
      "description": "Details of network adapter.",
      "properties": {
        "addresses": {
          "$ref": "NetworkAddressList",
          "description": "NetworkAddressList"
        },
        "adapterType": {
          "type": "string",
          "description": "Network adapter type (e.g. VMXNET3)."
        },
        "macAddress": {
          "description": "MAC address.",
          "type": "string"
        }
      },
      "id": "NetworkAdapterDetails"
    },
    "AssetsExportJob": {
      "type": "object",
      "properties": {
        "labels": {
          "description": "Optional. Labels as key value pairs. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "updateTime": {
          "description": "Output only. Resource update time.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "recentExecutions": {
          "description": "Output only. Recent non expired executions of the job.",
          "items": {
            "$ref": "AssetsExportJobExecution"
          },
          "type": "array",
          "readOnly": true
        },
        "signedUriDestination": {
          "$ref": "SignedUriDestination",
          "description": "Export to Cloud Storage files downloadable using signed URIs."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. Resource name."
        },
        "showHidden": {
          "type": "boolean",
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Resource creation time.",
          "format": "google-datetime",
          "readOnly": true
        },
        "condition": {
          "description": "Optional. Conditions for selecting assets to export.",
          "$ref": "AssetsExportJobExportCondition"
        },
        "performanceData": {
          "description": "Export asset with performance data.",
          "$ref": "AssetsExportJobPerformanceData"
        },
        "networkDependencies": {
          "$ref": "AssetsExportJobNetworkDependencies",
          "description": "Export data regarding asset network dependencies."
        },
        "inventory": {
          "$ref": "AssetsExportJobInventory",
          "description": "Export asset inventory details."
        }
      },
      "description": "Assets export job message.",
      "id": "AssetsExportJob"
    },
    "EstimatedUsage": {
      "description": "Estimated usage data.",
      "id": "EstimatedUsage",
      "properties": {
        "estimatedMemoryPercentage": {
          "format": "float",
          "type": "number",
          "description": "Optional. Estimated memory utilization percentage. Must be in the range [1, 100]."
        },
        "estimatedDiskPercentage": {
          "type": "number",
          "description": "Optional. Estimated disk utilization percentage. Must be in the range [1, 100].",
          "format": "float"
        },
        "estimatedCpuPercentage": {
          "format": "float",
          "type": "number",
          "description": "Optional. Estimated CPU utilization percentage. Must be in the range [1, 100]."
        }
      },
      "type": "object"
    },
    "GuestInstalledApplication": {
      "properties": {
        "vendor": {
          "type": "string",
          "description": "Installed application vendor."
        },
        "applicationName": {
          "description": "Installed application name.",
          "type": "string"
        },
        "licenses": {
          "type": "array",
          "description": "License strings associated with the installed application.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Installed application name.",
          "type": "string"
        },
        "time": {
          "type": "string",
          "description": "Date application was installed."
        },
        "version": {
          "description": "Installed application version.",
          "type": "string"
        },
        "installTime": {
          "description": "The time when the application was installed.",
          "format": "google-datetime",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Source path."
        }
      },
      "type": "object",
      "description": "Guest installed application information.",
      "id": "GuestInstalledApplication"
    },
    "PlatformDetails": {
      "id": "PlatformDetails",
      "type": "object",
      "properties": {
        "genericDetails": {
          "description": "Generic platform details.",
          "$ref": "GenericPlatformDetails"
        },
        "vmwareDetails": {
          "description": "VMware specific details.",
          "$ref": "VmwarePlatformDetails"
        },
        "awsEc2Details": {
          "description": "AWS EC2 specific details.",
          "$ref": "AwsEc2PlatformDetails"
        },
        "azureVmDetails": {
          "description": "Azure VM specific details.",
          "$ref": "AzureVmPlatformDetails"
        },
        "physicalDetails": {
          "$ref": "PhysicalPlatformDetails",
          "description": "Physical machines platform details."
        }
      },
      "description": "Information about the platform."
    },
    "ListReportConfigsResponse": {
      "type": "object",
      "description": "Response message for listing report configs.",
      "id": "ListReportConfigsResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "reportConfigs": {
          "items": {
            "$ref": "ReportConfig"
          },
          "description": "A list of report configs.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "ReportConfigGroupPreferenceSetAssignment": {
      "id": "ReportConfigGroupPreferenceSetAssignment",
      "description": "Represents a combination of a group with a preference set.",
      "properties": {
        "group": {
          "type": "string",
          "description": "Required. Name of the group."
        },
        "preferenceSet": {
          "type": "string",
          "description": "Required. Name of the Preference Set."
        }
      },
      "type": "object"
    },
    "GuestInstalledApplicationList": {
      "id": "GuestInstalledApplicationList",
      "description": "Guest installed application list.",
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "GuestInstalledApplication"
          },
          "description": "Application entries.",
          "type": "array"
        }
      }
    },
    "VirtualMachineNetworkDetails": {
      "properties": {
        "primaryIpAddress": {
          "type": "string",
          "description": "IP address of the machine."
        },
        "networkAdapters": {
          "description": "List of network adapters.",
          "$ref": "NetworkAdapterList"
        },
        "primaryMacAddress": {
          "description": "MAC address of the machine. This property is used to uniqly identify the machine.",
          "type": "string"
        },
        "publicIpAddress": {
          "type": "string",
          "description": "Public IP address of the machine."
        },
        "defaultGw": {
          "type": "string",
          "description": "Default gateway address."
        }
      },
      "id": "VirtualMachineNetworkDetails",
      "type": "object",
      "description": "Details of network adapters and settings."
    },
    "AwsEbsVolumeDetails": {
      "properties": {},
      "type": "object",
      "description": "Asset information specific for AWS EBS Volumes.",
      "id": "AwsEbsVolumeDetails"
    },
    "BiosDetails": {
      "type": "object",
      "id": "BiosDetails",
      "properties": {
        "smbiosUuid": {
          "type": "string",
          "description": "SMBIOS UUID."
        },
        "biosName": {
          "type": "string",
          "description": "BIOS name."
        },
        "releaseTime": {
          "type": "string",
          "description": "BIOS release date.",
          "format": "google-datetime"
        },
        "biosManufacturer": {
          "description": "BIOS manufacturer.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "BIOS ID."
        },
        "version": {
          "type": "string",
          "description": "BIOS version."
        },
        "biosReleaseDate": {
          "description": "BIOS release date.",
          "type": "string"
        },
        "biosVersion": {
          "description": "BIOS version.",
          "type": "string"
        },
        "manufacturer": {
          "description": "BIOS manufacturer.",
          "type": "string"
        }
      },
      "description": "Details about the BIOS."
    },
    "GenericPlatformDetails": {
      "description": "Generic platform details.",
      "type": "object",
      "id": "GenericPlatformDetails",
      "properties": {
        "location": {
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different VMs in the same location may have different string values for this field.",
          "type": "string"
        },
        "hyperthreading": {
          "type": "string",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "description": "Whether the machine is hyperthreaded."
        }
      }
    },
    "CascadingRule": {
      "type": "object",
      "description": "Specifies cascading rules for traversing relations.",
      "properties": {
        "cascadeLogicalDbs": {
          "description": "Cascading rule for related logical DBs.",
          "$ref": "CascadeLogicalDBsRule"
        }
      },
      "id": "CascadingRule"
    },
    "RuntimeNetworkInfo": {
      "id": "RuntimeNetworkInfo",
      "type": "object",
      "properties": {
        "netstat": {
          "type": "string",
          "description": "Netstat (raw, OS-agnostic)."
        },
        "netstatTime": {
          "description": "Netstat time collected.",
          "$ref": "DateTime"
        },
        "scanTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time of the last network scan."
        },
        "connections": {
          "$ref": "NetworkConnectionList",
          "description": "Network connections."
        },
        "rawScanResult": {
          "type": "string",
          "description": "Raw network scan result. This field is intended for human inspection. The format of this field may be netstat output or any another raw output. The exact format may change without notice and should not be relied upon."
        }
      },
      "description": "Runtime networking information."
    },
    "DiscoveryClientDiscoveryClientRecommendedVersion": {
      "description": "Discovery client recommended version.",
      "type": "object",
      "id": "DiscoveryClientDiscoveryClientRecommendedVersion",
      "properties": {
        "version": {
          "readOnly": true,
          "description": "Output only. The version of the discovery client.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Output only. The URI of the discovery client version.",
          "readOnly": true
        }
      }
    },
    "PayloadFile": {
      "description": "Payload file for inline import job payload.",
      "type": "object",
      "properties": {
        "data": {
          "type": "string",
          "description": "The file data.",
          "format": "byte"
        },
        "name": {
          "type": "string",
          "description": "The file name."
        }
      },
      "id": "PayloadFile"
    },
    "VMwareEngineMachinePreferences": {
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations for VMware Engine. Not all machine types are available in all zones and regions.",
      "type": "object",
      "properties": {
        "allowedMachineSeries": {
          "description": "Optional. VMware Engine on Google Cloud machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series.",
          "type": "array",
          "items": {
            "$ref": "MachineSeries"
          }
        },
        "protectedNodes": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified protected nodes preference.",
            "Use only protected nodes for the selected allowed_machine_series.",
            "Do not use protected nodes."
          ],
          "enum": [
            "PROTECTED_NODES_UNSPECIFIED",
            "PROTECTED_NODES_ENABLED",
            "PROTECTED_NODES_DISABLED"
          ],
          "description": "Optional. Whether to use VMware Engine Protected offering."
        },
        "storageOnlyNodes": {
          "type": "string",
          "enum": [
            "STORAGE_ONLY_NODES_UNSPECIFIED",
            "STORAGE_ONLY_NODES_ENABLED",
            "STORAGE_ONLY_NODES_DISABLED"
          ],
          "description": "Optional. Whether to use storage-only nodes, if those are available.",
          "enumDescriptions": [
            "Unspecified storage-only nodes preference.",
            "Use storage-only nodes for selected allowed_machine_series, if available.",
            "Do not use storage-only nodes."
          ]
        }
      },
      "id": "VMwareEngineMachinePreferences"
    },
    "VmwarePlatformDetails": {
      "id": "VmwarePlatformDetails",
      "type": "object",
      "properties": {
        "esxHyperthreading": {
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "type": "string",
          "description": "Whether the ESX is hyperthreaded.",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ]
        },
        "vcenterFolder": {
          "description": "Folder name in vCenter where asset resides.",
          "type": "string"
        },
        "vcenterUri": {
          "type": "string",
          "description": "vCenter URI used in collection."
        },
        "vcenterVmId": {
          "description": "vCenter VM ID.",
          "type": "string"
        },
        "vcenterVersion": {
          "type": "string",
          "description": "vCenter version."
        },
        "esxVersion": {
          "description": "ESX version.",
          "type": "string"
        },
        "osid": {
          "type": "string",
          "description": "VMware os enum - https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html."
        }
      },
      "description": "VMware specific details."
    },
    "AzureVmPlatformDetails": {
      "type": "object",
      "id": "AzureVmPlatformDetails",
      "properties": {
        "hyperthreading": {
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "description": "Whether the machine is hyperthreaded."
        },
        "location": {
          "type": "string",
          "description": "The location of the machine in the Azure format."
        },
        "machineTypeLabel": {
          "type": "string",
          "description": "Azure platform's machine type label."
        },
        "provisioningState": {
          "type": "string",
          "description": "Azure platform's provisioning state."
        }
      },
      "description": "Azure VM specific details."
    },
    "Asset": {
      "type": "object",
      "properties": {
        "machineDetails": {
          "description": "Output only. Asset information specific for virtual machines.",
          "readOnly": true,
          "$ref": "MachineDetails"
        },
        "virtualMachineDetails": {
          "readOnly": true,
          "description": "Output only. Asset information specific for virtual machines.",
          "$ref": "VirtualMachineDetails"
        },
        "awsElbLoadBalancerDetails": {
          "description": "Output only. Asset information specific for AWS Load Balancers.",
          "$ref": "AwsElbLoadBalancerDetails",
          "readOnly": true
        },
        "hideReason": {
          "description": "Optional. An optional reason for marking this asset as hidden.",
          "type": "string"
        },
        "awsApiGatewayRestApiDetails": {
          "description": "Output only. Asset information specific for AWS API Gateway REST APIs.",
          "readOnly": true,
          "$ref": "AwsApiGatewayRestApiDetails"
        },
        "awsElasticIpAddressDetails": {
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS Elastic IP Addresses.",
          "$ref": "AwsElasticIpAddressDetails"
        },
        "databaseDeploymentDetails": {
          "readOnly": true,
          "$ref": "DatabaseDeploymentDetails",
          "description": "Output only. Asset information specific for database deployments."
        },
        "awsEfsFileSystemDetails": {
          "description": "Output only. Asset information specific for AWS EFS file systems.",
          "readOnly": true,
          "$ref": "AwsEfsFileSystemDetails"
        },
        "awsSnsTopicDetails": {
          "$ref": "AwsSnsTopicDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS SNS Topics."
        },
        "title": {
          "description": "Output only. Server generated human readable name of the asset.",
          "readOnly": true,
          "type": "string"
        },
        "databaseDetails": {
          "description": "Output only. Asset information specific for logical databases.",
          "readOnly": true,
          "$ref": "DatabaseDetails"
        },
        "awsRedshiftDetails": {
          "description": "Output only. Asset information specific for AWS Redshift",
          "$ref": "AwsRedshiftDetails",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The full name of the asset.",
          "type": "string",
          "readOnly": true
        },
        "structuredAttributes": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Generic structured asset attributes."
        },
        "awsApplicationLoadBalancerDetails": {
          "description": "Output only. Asset information specific for AWS Application Load Balancers.",
          "readOnly": true,
          "$ref": "AwsApplicationLoadBalancerDetails"
        },
        "awsNatGatewayDetails": {
          "$ref": "AwsNatGatewayDetails",
          "description": "Output only. Asset information specific for AwsNatGatewayDetails",
          "readOnly": true
        },
        "awsDynamodbTableDetails": {
          "description": "Output only. Asset information specific for AWS DynamoDB tables.",
          "$ref": "AwsDynamoDBTableDetails",
          "readOnly": true
        },
        "awsLambdaFunctionDetails": {
          "readOnly": true,
          "$ref": "AwsLambdaFunctionDetails",
          "description": "Output only. Asset information specific for AWS Lambda functions."
        },
        "awsEmrClusterDetails": {
          "$ref": "AwsEmrClusterDetails",
          "description": "Output only. Asset information specific for AwsEmrClusterDetails",
          "readOnly": true
        },
        "awsElasticacheClusterDetails": {
          "$ref": "AwsElastiCacheClusterDetails",
          "description": "Output only. Asset information specific for AWS ElastiCache Clusters.",
          "readOnly": true
        },
        "hideTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the asset was marked as hidden.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the asset was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "awsKinesisStreamDetails": {
          "readOnly": true,
          "$ref": "AwsKinesisStreamDetails",
          "description": "Output only. Asset information specific for AwsKinesisStreamDetails"
        },
        "awsS3BucketDetails": {
          "description": "Output only. Asset information specific for AWS S3 buckets.",
          "readOnly": true,
          "$ref": "AwsS3BucketDetails"
        },
        "awsCloudFrontDistributionDetails": {
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS CloudFront distributions.",
          "$ref": "AwsCloudFrontDistributionDetails"
        },
        "assignedGroups": {
          "description": "Output only. The list of groups that the asset is assigned to.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "insightList": {
          "description": "Output only. The list of insights associated with the asset.",
          "readOnly": true,
          "$ref": "InsightList"
        },
        "attributes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Generic asset attributes.",
          "type": "object"
        },
        "awsVpcDetails": {
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS VPCs.",
          "$ref": "AwsVpcDetails"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels as key value pairs."
        },
        "awsAutoscalingGroupDetails": {
          "readOnly": true,
          "$ref": "AwsAutoscalingGroupDetails",
          "description": "Output only. Asset information specific for AwsAutoscalingGroupDetails"
        },
        "createTime": {
          "description": "Output only. The timestamp when the asset was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "awsEcrRepositoryDetails": {
          "readOnly": true,
          "$ref": "AwsEcrRepositoryDetails",
          "description": "Output only. Asset information specific for AwsEcrRepositoryDetails"
        },
        "awsEcsClusterDetails": {
          "readOnly": true,
          "$ref": "AwsEcsClusterDetails",
          "description": "Output only. Asset information specific for AWS ECS clusters."
        },
        "awsAthenaWorkGroupDetails": {
          "readOnly": true,
          "$ref": "AwsAthenaWorkGroupDetails",
          "description": "Output only. Asset information specific for AwsAthenaWorkGroupDetails"
        },
        "awsGlueJobDetails": {
          "$ref": "AwsGlueJobDetails",
          "description": "Output only. Asset information specific for AwsGlueJobDetails",
          "readOnly": true
        },
        "hidden": {
          "description": "Optional. Indicates if the asset is hidden.",
          "type": "boolean"
        },
        "sources": {
          "description": "Output only. The list of sources contributing to the asset.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "awsInternetGatewayDetails": {
          "$ref": "AwsInternetGatewayDetails",
          "description": "Output only. Asset information specific for AWS Internet Gateways.",
          "readOnly": true
        },
        "awsAppSyncGraphqlApiDetails": {
          "description": "Output only. Asset information specific for AWS AppSync GraphQL APIs.",
          "readOnly": true,
          "$ref": "AwsAppSyncGraphqlApiDetails"
        },
        "performanceData": {
          "$ref": "AssetPerformanceData",
          "description": "Performance data for the asset."
        },
        "awsEksClusterDetails": {
          "description": "Output only. Asset information specific for AWS EKS clusters.",
          "readOnly": true,
          "$ref": "AwsEksClusterDetails"
        },
        "awsBatchComputeEnvironmentDetails": {
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS Batch Compute Environments.",
          "$ref": "AwsBatchComputeEnvironmentDetails"
        },
        "awsEbsVolumeDetails": {
          "$ref": "AwsEbsVolumeDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS EBS Volumes."
        },
        "hostingProviderDetails": {
          "readOnly": true,
          "description": "Output only. Details about the hosting provider of the asset.",
          "$ref": "HostingProviderDetails"
        },
        "awsFirehoseDetails": {
          "description": "Output only. Asset information specific for AwsFirehoseDetails",
          "$ref": "AwsFirehoseDetails",
          "readOnly": true
        },
        "awsRoute53HostedZoneDetails": {
          "description": "Output only. Asset information specific for AwsRoute53HostedZoneDetails",
          "readOnly": true,
          "$ref": "AwsRoute53HostedZoneDetails"
        },
        "awsElasticNetworkInterfaceDetails": {
          "description": "Output only. Asset information specific for AWS Elastic Network Interfaces.",
          "readOnly": true,
          "$ref": "AwsElasticNetworkInterfaceDetails"
        }
      },
      "description": "An asset represents a resource in your environment. Asset types include virtual machines and databases.",
      "id": "Asset"
    },
    "SignedUri": {
      "id": "SignedUri",
      "properties": {
        "uri": {
          "description": "Output only. Download URI for the file.",
          "readOnly": true,
          "type": "string"
        },
        "file": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the file the Signed URI references."
        }
      },
      "type": "object",
      "description": "Contains a signed URI."
    },
    "NfsExport": {
      "properties": {
        "exportDirectory": {
          "description": "The directory being exported.",
          "type": "string"
        },
        "hosts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The hosts or networks to which the export is being shared."
        }
      },
      "description": "NFS export.",
      "id": "NfsExport",
      "type": "object"
    },
    "MysqlDatabaseDeployment": {
      "properties": {
        "variables": {
          "items": {
            "$ref": "MySqlVariable"
          },
          "description": "Optional. List of MySql variables.",
          "type": "array"
        },
        "properties": {
          "description": "Optional. List of MySql properties.",
          "type": "array",
          "items": {
            "$ref": "MySqlProperty"
          }
        },
        "plugins": {
          "description": "Optional. List of MySql plugins.",
          "items": {
            "$ref": "MySqlPlugin"
          },
          "type": "array"
        },
        "resourceGroupsCount": {
          "type": "integer",
          "description": "Optional. Number of resource groups.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "MysqlDatabaseDeployment",
      "description": "Specific details for a Mysql database deployment."
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Location"
    },
    "RegionPreferences": {
      "type": "object",
      "properties": {
        "preferredRegions": {
          "description": "A list of preferred regions, ordered by the most preferred region first. Set only valid Google Cloud region names. See https://cloud.google.com/compute/docs/regions-zones for available regions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "RegionPreferences",
      "description": "The user preferences relating to target regions."
    },
    "DateTime": {
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations.",
      "type": "object",
      "id": "DateTime",
      "properties": {
        "month": {
          "type": "integer",
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
          "format": "int32"
        },
        "timeZone": {
          "description": "Time zone.",
          "$ref": "TimeZone"
        },
        "hours": {
          "format": "int32",
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer"
        },
        "minutes": {
          "type": "integer",
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
          "format": "int32"
        },
        "seconds": {
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
          "format": "int32",
          "type": "integer"
        },
        "utcOffset": {
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
          "format": "google-duration",
          "type": "string"
        },
        "year": {
          "type": "integer",
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
          "format": "int32"
        },
        "nanos": {
          "type": "integer",
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
          "format": "int32"
        }
      }
    },
    "ExecutionReport": {
      "description": "A resource that reports result of the import job execution.",
      "properties": {
        "totalRowsCount": {
          "description": "Total number of rows in the import job.",
          "type": "integer",
          "format": "int32"
        },
        "executionErrors": {
          "description": "Validation errors encountered during the execution of the import job.",
          "$ref": "ValidationReport"
        },
        "jobErrors": {
          "items": {
            "$ref": "ImportError"
          },
          "type": "array",
          "deprecated": true,
          "description": "List of job-level errors. Deprecated, use the job errors under execution_errors instead."
        },
        "framesReported": {
          "type": "integer",
          "description": "Total number of asset frames reported for the import job.",
          "format": "int32"
        }
      },
      "id": "ExecutionReport",
      "type": "object"
    },
    "AwsRedshiftDetails": {
      "type": "object",
      "id": "AwsRedshiftDetails",
      "properties": {},
      "description": "Details of an AWS Redshift cluster."
    },
    "BatchDeleteAssetsRequest": {
      "id": "BatchDeleteAssetsRequest",
      "type": "object",
      "description": "A request to delete a list of asset.",
      "properties": {
        "cascadingRules": {
          "items": {
            "$ref": "CascadingRule"
          },
          "description": "Optional. Optional cascading rules for deleting related assets.",
          "type": "array"
        },
        "names": {
          "description": "Required. The IDs of the assets to delete. A maximum of 1000 assets can be deleted in a batch. Format: projects/{project}/locations/{location}/assets/{name}.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allowMissing": {
          "description": "Optional. When this value is set to `true` the request is a no-op for non-existing assets. See https://google.aip.dev/135#delete-if-existing for additional details. Default value is `false`.",
          "type": "boolean"
        }
      }
    },
    "VirtualMachineDetails": {
      "type": "object",
      "description": "Details of a VirtualMachine.",
      "properties": {
        "vmUuid": {
          "type": "string",
          "description": "Virtual Machine unique identifier."
        },
        "createTime": {
          "description": "VM creation timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "vmArchitecture": {
          "description": "VM architecture details (vendor, cpu arch).",
          "$ref": "VirtualMachineArchitectureDetails"
        },
        "vcenterVmId": {
          "description": "vCenter VM ID.",
          "type": "string"
        },
        "vmNetwork": {
          "description": "VM network details.",
          "$ref": "VirtualMachineNetworkDetails"
        },
        "guestOs": {
          "$ref": "GuestOsDetails",
          "description": "Guest OS information."
        },
        "platform": {
          "$ref": "PlatformDetails",
          "description": "Platform information."
        },
        "memoryMb": {
          "description": "The amount of memory in the VirtualMachine. Must be non-negative.",
          "type": "integer",
          "format": "int32"
        },
        "vmName": {
          "type": "string",
          "description": "Virtual Machine display name."
        },
        "osVersion": {
          "type": "string",
          "description": "The version of the operating system running on the virtual machine."
        },
        "vcenterUrl": {
          "description": "vCenter URL used in collection.",
          "type": "string"
        },
        "vmDisks": {
          "$ref": "VirtualMachineDiskDetails",
          "description": "VM disk details."
        },
        "coreCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of logical CPU cores in the VirtualMachine. Must be non-negative."
        },
        "diskPartitions": {
          "description": "Optional. Disk partitions details. Note: Partitions are not necessarily mounted on local disks and therefore might not have a one-to-one correspondence with local disks.",
          "$ref": "DiskPartitionDetails"
        },
        "osName": {
          "description": "The name of the operating system running on the VirtualMachine.",
          "type": "string"
        },
        "vcenterFolder": {
          "description": "Folder name in vCenter where asset resides.",
          "type": "string"
        },
        "powerState": {
          "type": "string",
          "description": "Power state of VM (poweredOn or poweredOff)."
        },
        "osFamily": {
          "type": "string",
          "description": "What family the OS belong to, if known.",
          "enumDescriptions": [
            "",
            "Microsoft Windows Server and Desktop.",
            "Various Linux flavors.",
            "Non-Linux Unix flavors."
          ],
          "enum": [
            "OS_FAMILY_UNKNOWN",
            "OS_FAMILY_WINDOWS",
            "OS_FAMILY_LINUX",
            "OS_FAMILY_UNIX"
          ]
        }
      },
      "id": "VirtualMachineDetails"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "AssetFrame": {
      "description": "Contains data reported from an inventory source on an asset.",
      "type": "object",
      "properties": {
        "awsVpcDetails": {
          "description": "Asset information specific for AWS VPCs.",
          "$ref": "AwsVpcDetails"
        },
        "awsElbLoadBalancerDetails": {
          "description": "Asset information specific for AWS Load Balancers.",
          "$ref": "AwsElbLoadBalancerDetails"
        },
        "reportTime": {
          "format": "google-datetime",
          "description": "The time the data was reported.",
          "type": "string"
        },
        "awsAutoscalingGroupDetails": {
          "$ref": "AwsAutoscalingGroupDetails",
          "description": "Optional. Asset information specific for AwsAutoscalingGroupDetails"
        },
        "databaseDeploymentDetails": {
          "description": "Asset information specific for database deployments.",
          "$ref": "DatabaseDeploymentDetails"
        },
        "awsElasticNetworkInterfaceDetails": {
          "description": "Optional. Asset information specific for AWS Elastic Network Interfaces.",
          "$ref": "AwsElasticNetworkInterfaceDetails"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "awsRoute53HostedZoneDetails": {
          "$ref": "AwsRoute53HostedZoneDetails",
          "description": "Asset information specific for AwsRoute53HostedZoneDetails"
        },
        "awsEcrRepositoryDetails": {
          "description": "Asset information specific for AwsEcrRepositoryDetails",
          "$ref": "AwsEcrRepositoryDetails"
        },
        "collectionType": {
          "type": "string",
          "description": "Optional. Frame collection type, if not specified the collection type will be based on the source type of the source the frame was reported on.",
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ]
        },
        "awsElasticacheClusterDetails": {
          "$ref": "AwsElastiCacheClusterDetails",
          "description": "Optional. Asset information specific for AWS ElastiCache Clusters."
        },
        "awsCloudFrontDistributionDetails": {
          "$ref": "AwsCloudFrontDistributionDetails",
          "description": "Asset information specific for AWS CloudFront distributions."
        },
        "machineDetails": {
          "description": "Asset information specific for virtual and physical machines.",
          "$ref": "MachineDetails"
        },
        "attributes": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Generic asset attributes.",
          "type": "object"
        },
        "structuredAttributes": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Optional. Generic structured asset attributes."
        },
        "awsNatGatewayDetails": {
          "description": "Asset information specific for AwsNatGatewayDetails",
          "$ref": "AwsNatGatewayDetails"
        },
        "awsFirehoseDetails": {
          "$ref": "AwsFirehoseDetails",
          "description": "Optional. Asset information specific for AwsFirehoseDetails"
        },
        "awsEmrClusterDetails": {
          "$ref": "AwsEmrClusterDetails",
          "description": "Optional. Asset information specific for AwsEmrClusterDetails"
        },
        "awsEbsVolumeDetails": {
          "description": "Optional. Asset information specific for AWS EBS Volumes.",
          "$ref": "AwsEbsVolumeDetails"
        },
        "awsElasticIpAddressDetails": {
          "description": "Optional. Asset information specific for AWS Elastic IP Addresses.",
          "$ref": "AwsElasticIpAddressDetails"
        },
        "virtualMachineDetails": {
          "description": "Asset information specific for virtual machines.",
          "$ref": "VirtualMachineDetails"
        },
        "hostingProviderDetails": {
          "$ref": "HostingProviderDetails",
          "description": "Optional. Details about the hosting provider of the asset."
        },
        "awsAppSyncGraphqlApiDetails": {
          "description": "Optional. Asset information specific for AWS AppSync GraphQL APIs.",
          "$ref": "AwsAppSyncGraphqlApiDetails"
        },
        "awsBatchComputeEnvironmentDetails": {
          "description": "Optional. Asset information specific for AWS Batch Compute Environments.",
          "$ref": "AwsBatchComputeEnvironmentDetails"
        },
        "awsApplicationLoadBalancerDetails": {
          "description": "Optional. Asset information specific for AWS Application Load Balancers.",
          "$ref": "AwsApplicationLoadBalancerDetails"
        },
        "databaseDetails": {
          "description": "Asset information specific for logical databases.",
          "$ref": "DatabaseDetails"
        },
        "awsEcsClusterDetails": {
          "description": "Asset information specific for AWS ECS clusters.",
          "$ref": "AwsEcsClusterDetails"
        },
        "awsLambdaFunctionDetails": {
          "description": "Asset information specific for AWS Lambda functions.",
          "$ref": "AwsLambdaFunctionDetails"
        },
        "awsAthenaWorkGroupDetails": {
          "$ref": "AwsAthenaWorkGroupDetails",
          "description": "Optional. Asset information specific for AwsAthenaWorkGroupDetails"
        },
        "awsEfsFileSystemDetails": {
          "description": "Asset information specific for AWS EFS file systems.",
          "$ref": "AwsEfsFileSystemDetails"
        },
        "awsSnsTopicDetails": {
          "description": "Optional. Asset information specific for AWS SNS Topics.",
          "$ref": "AwsSnsTopicDetails"
        },
        "awsInternetGatewayDetails": {
          "$ref": "AwsInternetGatewayDetails",
          "description": "Optional. Asset information specific for AWS Internet Gateways."
        },
        "awsEksClusterDetails": {
          "description": "Asset information specific for AWS EKS clusters.",
          "$ref": "AwsEksClusterDetails"
        },
        "awsRedshiftDetails": {
          "description": "Asset information specific for AWS Redshift clusters.",
          "$ref": "AwsRedshiftDetails"
        },
        "traceToken": {
          "description": "Optional. Trace token is optionally provided to assist with debugging and traceability.",
          "type": "string"
        },
        "awsKinesisStreamDetails": {
          "description": "Optional. Asset information specific for AwsKinesisStreamDetails",
          "$ref": "AwsKinesisStreamDetails"
        },
        "awsApiGatewayRestApiDetails": {
          "description": "Optional. Asset information specific for AWS API Gateway REST APIs.",
          "$ref": "AwsApiGatewayRestApiDetails"
        },
        "awsS3BucketDetails": {
          "description": "Asset information specific for AWS S3 buckets.",
          "$ref": "AwsS3BucketDetails"
        },
        "awsGlueJobDetails": {
          "$ref": "AwsGlueJobDetails",
          "description": "Optional. Asset information specific for AwsGlueJobDetails"
        },
        "awsDynamodbTableDetails": {
          "description": "Asset information specific for AWS DynamoDB tables.",
          "$ref": "AwsDynamoDBTableDetails"
        },
        "performanceSamples": {
          "description": "Asset performance data samples. Samples that are from more than 40 days ago or after tomorrow are ignored.",
          "items": {
            "$ref": "PerformanceSample"
          },
          "type": "array"
        }
      },
      "id": "AssetFrame"
    },
    "SignedUris": {
      "description": "Contains a list of Signed URIs.",
      "properties": {
        "signedUris": {
          "description": "Output only. List of signed URIs.",
          "type": "array",
          "items": {
            "$ref": "SignedUri"
          },
          "readOnly": true
        }
      },
      "id": "SignedUris",
      "type": "object"
    },
    "AggregationCount": {
      "id": "AggregationCount",
      "type": "object",
      "description": "Object count.",
      "properties": {}
    },
    "AssetsExportJobPerformanceData": {
      "id": "AssetsExportJobPerformanceData",
      "properties": {
        "maxDays": {
          "type": "integer",
          "description": "Optional. When this value is set to a positive integer, performance data will be returned for the most recent days for which data is available. When this value is unset (or set to zero), all available data is returned. The maximum value is 420; values above 420 will be coerced to 420. If unset (0 value) a default value of 40 will be used.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Configuration for performance data exports."
    },
    "GoogleKubernetesEngineMigrationTarget": {
      "description": "GKE migration target.",
      "type": "object",
      "properties": {},
      "id": "GoogleKubernetesEngineMigrationTarget"
    },
    "BatchUpdateAssetsResponse": {
      "description": "Response for updating a list of assets.",
      "id": "BatchUpdateAssetsResponse",
      "properties": {
        "assets": {
          "description": "Update asset content. The content only includes values after field mask being applied.",
          "items": {
            "$ref": "Asset"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AwsElasticIpAddressDetails": {
      "id": "AwsElasticIpAddressDetails",
      "properties": {},
      "type": "object",
      "description": "Asset information specific for AWS Elastic IP Addresses."
    },
    "DailyResourceUsageAggregationDisk": {
      "type": "object",
      "id": "DailyResourceUsageAggregationDisk",
      "description": "Statistical aggregation of disk usage.",
      "properties": {
        "iops": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "Disk I/O operations per second."
        },
        "readIops": {
          "description": "Disk read I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "writeIops": {
          "description": "Disk write I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      }
    },
    "ImportRowErrorArchiveErrorDetails": {
      "id": "ImportRowErrorArchiveErrorDetails",
      "properties": {
        "csvError": {
          "description": "Error details for a CSV file.",
          "$ref": "ImportRowErrorCsvErrorDetails"
        },
        "filePath": {
          "description": "The file path inside the archive where the error was detected.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Error details for an archive file."
    },
    "NfsExportList": {
      "properties": {
        "entries": {
          "description": "NFS export entries.",
          "type": "array",
          "items": {
            "$ref": "NfsExport"
          }
        }
      },
      "id": "NfsExportList",
      "description": "NFS exports.",
      "type": "object"
    },
    "ListReportExportJobsResponse": {
      "type": "object",
      "description": "Response message for listing report export jobs.",
      "id": "ListReportExportJobsResponse",
      "properties": {
        "reportExportJobs": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of report export jobs.",
          "items": {
            "$ref": "ReportExportJob"
          }
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A token identifying a page of results the server should return."
        }
      }
    },
    "CascadeLogicalDBsRule": {
      "id": "CascadeLogicalDBsRule",
      "description": "Cascading rule for related logical DBs.",
      "type": "object",
      "properties": {}
    },
    "AwsBatchComputeEnvironmentDetails": {
      "description": "Asset information specific for AWS Batch Compute Environments.",
      "type": "object",
      "id": "AwsBatchComputeEnvironmentDetails",
      "properties": {}
    },
    "CsvOutputFile": {
      "type": "object",
      "id": "CsvOutputFile",
      "properties": {
        "columnsCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of columns in the file."
        },
        "rowCount": {
          "description": "Output only. Number of rows in the file.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "signedUri": {
          "readOnly": true,
          "description": "Output only. Signed URI destination.",
          "$ref": "SignedUri"
        }
      },
      "description": "Contains a single output file of type CSV."
    },
    "AwsAthenaWorkGroupDetails": {
      "id": "AwsAthenaWorkGroupDetails",
      "description": "Contains details for an AWS Athena Work Group asset.",
      "type": "object",
      "properties": {}
    },
    "DailyResourceUsageAggregationStats": {
      "properties": {
        "median": {
          "type": "number",
          "format": "float",
          "description": "Median usage value."
        },
        "average": {
          "format": "float",
          "description": "Average usage value.",
          "type": "number"
        },
        "peak": {
          "type": "number",
          "description": "Peak usage value.",
          "format": "float"
        },
        "ninteyFifthPercentile": {
          "format": "float",
          "type": "number",
          "description": "95th percentile usage value."
        }
      },
      "id": "DailyResourceUsageAggregationStats",
      "type": "object",
      "description": "Statistical aggregation of samples for a single resource usage."
    },
    "DatabaseSchema": {
      "type": "object",
      "properties": {
        "tablesSizeBytes": {
          "type": "string",
          "description": "The total size of tables in bytes.",
          "format": "int64"
        },
        "postgresql": {
          "description": "Details of a PostgreSql schema.",
          "$ref": "PostgreSqlSchemaDetails"
        },
        "schemaName": {
          "type": "string",
          "description": "The name of the schema."
        },
        "mysql": {
          "description": "Details of a Mysql schema.",
          "$ref": "MySqlSchemaDetails"
        },
        "objects": {
          "items": {
            "$ref": "DatabaseObjects"
          },
          "description": "List of details of objects by category.",
          "type": "array"
        },
        "sqlServer": {
          "description": "Details of a SqlServer schema.",
          "$ref": "SqlServerSchemaDetails"
        }
      },
      "description": "Details of a database schema.",
      "id": "DatabaseSchema"
    },
    "AwsRoute53HostedZoneDetails": {
      "description": "Details of an AWS Route 53 Hosted Zone.",
      "type": "object",
      "id": "AwsRoute53HostedZoneDetails",
      "properties": {}
    },
    "MachineSeries": {
      "properties": {
        "code": {
          "description": "Code to identify a machine series. Consult this for more details on the available series for Compute Engine: https://cloud.google.com/compute/docs/machine-resource#machine_type_comparison Consult this for more details on the available series for Google Cloud VMware Engine: https://cloud.google.com/vmware-engine/pricing",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MachineSeries",
      "description": "A machine series, for a target product (e.g. Compute Engine, Google Cloud VMware Engine)."
    },
    "DailyResourceUsageAggregation": {
      "type": "object",
      "description": "Usage data aggregation for a single day.",
      "properties": {
        "date": {
          "description": "Aggregation date. Day boundaries are at midnight UTC.",
          "$ref": "Date"
        },
        "network": {
          "description": "Network usage.",
          "$ref": "DailyResourceUsageAggregationNetwork"
        },
        "disk": {
          "$ref": "DailyResourceUsageAggregationDisk",
          "description": "Disk usage."
        },
        "memory": {
          "$ref": "DailyResourceUsageAggregationMemory",
          "description": "Memory usage."
        },
        "cpu": {
          "description": "CPU usage.",
          "$ref": "DailyResourceUsageAggregationCPU"
        }
      },
      "id": "DailyResourceUsageAggregation"
    },
    "AwsFirehoseDetails": {
      "properties": {},
      "id": "AwsFirehoseDetails",
      "description": "Contains details for an AWS Firehose asset.",
      "type": "object"
    },
    "AwsS3BucketDetailsVersioning": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Optional. Whether versioning is enabled.",
          "type": "boolean"
        }
      },
      "description": "Versioning configuration of the bucket.",
      "id": "AwsS3BucketDetailsVersioning"
    },
    "ReportAssetFramesResponse": {
      "properties": {},
      "description": "A response to a call to `ReportAssetFrame`.",
      "type": "object",
      "id": "ReportAssetFramesResponse"
    },
    "InsightList": {
      "description": "Message containing insights list.",
      "type": "object",
      "id": "InsightList",
      "properties": {
        "insights": {
          "items": {
            "$ref": "Insight"
          },
          "type": "array",
          "description": "Output only. Insights of the list.",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Update timestamp.",
          "readOnly": true
        }
      }
    },
    "PostgreSqlExtension": {
      "id": "PostgreSqlExtension",
      "properties": {
        "version": {
          "type": "string",
          "description": "Required. The extension version."
        },
        "extension": {
          "type": "string",
          "description": "Required. The extension name."
        }
      },
      "type": "object",
      "description": "PostgreSql extension."
    },
    "ReportSummaryDatabaseFinding": {
      "properties": {
        "totalAssets": {
          "readOnly": true,
          "description": "Output only. Number of database assets in this finding.",
          "type": "string",
          "format": "int64"
        },
        "allocatedAssetCount": {
          "description": "Output only. Number of database assets which were successfully assigned in this finding.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        }
      },
      "id": "ReportSummaryDatabaseFinding",
      "description": "DatabaseFinding contains an aggregate costs and shapes for a single database type.",
      "type": "object"
    },
    "MySqlProperty": {
      "id": "MySqlProperty",
      "type": "object",
      "properties": {
        "numericValue": {
          "format": "int64",
          "description": "Required. The property numeric value.",
          "type": "string"
        },
        "property": {
          "description": "Required. The property name.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. The property is enabled."
        }
      },
      "description": "MySql property."
    },
    "AssetsExportJobNetworkDependencies": {
      "type": "object",
      "properties": {},
      "description": "Configuration for network dependencies exports.",
      "id": "AssetsExportJobNetworkDependencies"
    },
    "HostingProviderDetailsAws": {
      "description": "Details for AWS platform.",
      "type": "object",
      "id": "HostingProviderDetailsAws",
      "properties": {
        "owningAccountId": {
          "description": "Optional. The AWS account ID owning the resource represented by this asset.",
          "type": "string"
        }
      }
    },
    "ListSourcesResponse": {
      "id": "ListSourcesResponse",
      "description": "Response message for listing sources.",
      "type": "object",
      "properties": {
        "sources": {
          "description": "The list of sources.",
          "type": "array",
          "items": {
            "$ref": "Source"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SqlServerTraceFlag": {
      "type": "object",
      "properties": {
        "traceFlagName": {
          "type": "string",
          "description": "Required. The trace flag name."
        },
        "scope": {
          "description": "Required. The trace flag scope.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Off.",
            "Global.",
            "Session."
          ],
          "enum": [
            "SCOPE_UNSPECIFIED",
            "OFF",
            "GLOBAL",
            "SESSION"
          ]
        }
      },
      "id": "SqlServerTraceFlag",
      "description": "SQL Server trace flag details."
    },
    "AwsInternetGatewayDetails": {
      "properties": {},
      "id": "AwsInternetGatewayDetails",
      "description": "Asset information specific for AWS Internet Gateways.",
      "type": "object"
    },
    "CloudDatabaseMigrationTarget": {
      "description": "Cloud database migration target.",
      "properties": {
        "cloudSqlForMysqlShape": {
          "description": "Cloud SQL for MySQL database shape.",
          "$ref": "CloudSqlForMySqlShape"
        },
        "cloudSqlForPostgresqlShape": {
          "$ref": "CloudSqlForPostgreSqlShape",
          "description": "Cloud SQL for PostgreSQL database shape."
        },
        "cloudSqlShape": {
          "description": "Cloud SQL for SQL Server database shape.",
          "$ref": "CloudSqlForSqlServerShape"
        }
      },
      "type": "object",
      "id": "CloudDatabaseMigrationTarget"
    },
    "ReportSummaryHistogramChartDataBucket": {
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.",
      "type": "object",
      "id": "ReportSummaryHistogramChartDataBucket",
      "properties": {
        "lowerBound": {
          "description": "Lower bound - inclusive.",
          "type": "string",
          "format": "int64"
        },
        "upperBound": {
          "description": "Upper bound - exclusive.",
          "type": "string",
          "format": "int64"
        },
        "count": {
          "description": "Count of items in the bucket.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "ImportDataFile": {
      "type": "object",
      "properties": {
        "uploadFileInfo": {
          "$ref": "UploadFileInfo",
          "description": "Information about a file that is uploaded to a storage service."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the file.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the file was created."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User-friendly display name. Maximum length is 256 characters."
        },
        "format": {
          "type": "string",
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ],
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the [AWS collection script](https://github.com/GoogleCloudPlatform/aws-to-stratozone-export).",
            "CSV format exported from Azure using the [Azure collection script](https://github.com/GoogleCloudPlatform/azure-to-stratozone-export).",
            "CSV format created manually. For more information, see [Manually create and upload data tables](https://cloud.google.com/migrate/stratozone/docs/import-data-portal).",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "description": "Required. The payload format.",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The data file is being created.",
            "The data file completed initialization."
          ],
          "readOnly": true,
          "description": "Output only. The state of the import data file."
        }
      },
      "id": "ImportDataFile",
      "description": "A resource that represents a payload file in an import job."
    },
    "AggregationSum": {
      "properties": {},
      "id": "AggregationSum",
      "description": "Sum of field values.",
      "type": "object"
    },
    "PostgreSqlSchemaDetails": {
      "id": "PostgreSqlSchemaDetails",
      "properties": {
        "foreignTablesCount": {
          "description": "Optional. PostgreSql foreign tables.",
          "format": "int32",
          "type": "integer"
        },
        "postgresqlExtensions": {
          "type": "array",
          "description": "Optional. PostgreSql extensions.",
          "items": {
            "$ref": "PostgreSqlExtension"
          }
        }
      },
      "description": "Specific details for a PostgreSql schema.",
      "type": "object"
    },
    "FstabEntry": {
      "description": "Single fstab entry.",
      "id": "FstabEntry",
      "properties": {
        "freq": {
          "description": "Used by dump to determine which filesystems need to be dumped.",
          "type": "integer",
          "format": "int32"
        },
        "file": {
          "type": "string",
          "description": "The mount point for the filesystem."
        },
        "mntops": {
          "type": "string",
          "description": "Mount options associated with the filesystem."
        },
        "spec": {
          "type": "string",
          "description": "The block special device or remote filesystem to be mounted."
        },
        "passno": {
          "type": "integer",
          "description": "Used by the fsck(8) program to determine the order in which filesystem checks are done at reboot time.",
          "format": "int32"
        },
        "vfstype": {
          "description": "The type of the filesystem.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListAssetsExportJobsResponse": {
      "type": "object",
      "id": "ListAssetsExportJobsResponse",
      "description": "Response message for listing assets export jobs.",
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token identifying a page of results the server should return."
        },
        "assetsExportJobs": {
          "items": {
            "$ref": "AssetsExportJob"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of assets export jobs."
        }
      }
    },
    "HostsEntryList": {
      "properties": {
        "entries": {
          "items": {
            "$ref": "HostsEntry"
          },
          "type": "array",
          "description": "Output only. Hosts entries.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Hosts content.",
      "id": "HostsEntryList"
    },
    "AwsAutoscalingGroupDetails": {
      "id": "AwsAutoscalingGroupDetails",
      "properties": {},
      "description": "Asset information specific for AWS Autoscaling Group.",
      "type": "object"
    },
    "AwsElasticNetworkInterfaceDetails": {
      "properties": {},
      "id": "AwsElasticNetworkInterfaceDetails",
      "type": "object",
      "description": "Asset information specific for AWS Elastic Network Interfaces."
    },
    "ErrorFrame": {
      "id": "ErrorFrame",
      "description": "Message representing a frame which failed to be processed due to an error.",
      "type": "object",
      "properties": {
        "originalFrame": {
          "$ref": "AssetFrame",
          "readOnly": true,
          "description": "Output only. The frame that was originally reported."
        },
        "ingestionTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Frame ingestion time.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The identifier of the ErrorFrame."
        },
        "violations": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "FrameViolationEntry"
          },
          "description": "Output only. All the violations that were detected for the frame."
        }
      }
    },
    "ReportSummarySoleTenantNodeAllocation": {
      "properties": {
        "allocatedAssetCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of assets allocated to these nodes"
        },
        "node": {
          "description": "Sole Tenant node type, e.g. \"m3-node-128-3904\"",
          "$ref": "SoleTenantNodeType"
        },
        "nodeCount": {
          "description": "Count of this node type to be provisioned",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ReportSummarySoleTenantNodeAllocation",
      "description": "Represents the assets allocated to a specific Sole-Tenant node type."
    },
    "Relation": {
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the relation was created."
        },
        "srcAsset": {
          "description": "Output only. The source asset name in the relation.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. The identifier of the relation.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "LOGICAL_DATABASE",
            "DATABASE_DEPLOYMENT_HOSTING_SERVER"
          ],
          "enumDescriptions": [
            "Default value.",
            "DBDeployment -> Database",
            "A relation between a machine/VM and the database deployment it hosts."
          ],
          "type": "string",
          "description": "Optional. The type of the relation."
        },
        "dstAsset": {
          "type": "string",
          "description": "Output only. The destination asset name in the relation.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Relation",
      "description": "Message representing a relation between 2 resource."
    },
    "ListGroupsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "groups": {
          "description": "The list of Group",
          "items": {
            "$ref": "Group"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "description": "A response for listing groups.",
      "id": "ListGroupsResponse",
      "type": "object"
    },
    "MachinePreferences": {
      "type": "object",
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations for Compute Engine. Not all machine types are available in all zones and regions.",
      "id": "MachinePreferences",
      "properties": {
        "allowedMachineSeries": {
          "type": "array",
          "items": {
            "$ref": "MachineSeries"
          },
          "description": "Compute Engine machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series."
        }
      }
    },
    "DatabaseDeploymentTopology": {
      "properties": {
        "memoryBytes": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Total memory in bytes."
        },
        "diskAllocatedBytes": {
          "description": "Optional. Disk allocated in bytes.",
          "type": "string",
          "format": "int64"
        },
        "coreCount": {
          "type": "integer",
          "description": "Optional. Number of total logical cores.",
          "format": "int32"
        },
        "memoryLimitBytes": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Total memory in bytes limited by db deployment."
        },
        "physicalCoreLimit": {
          "format": "int32",
          "description": "Optional. Number of total physical cores limited by db deployment.",
          "type": "integer"
        },
        "instances": {
          "description": "Optional. List of database instances.",
          "type": "array",
          "items": {
            "$ref": "DatabaseInstance"
          }
        },
        "diskUsedBytes": {
          "type": "string",
          "description": "Optional. Disk used in bytes.",
          "format": "int64"
        },
        "coreLimit": {
          "description": "Optional. Number of total logical cores limited by db deployment.",
          "format": "int32",
          "type": "integer"
        },
        "physicalCoreCount": {
          "type": "integer",
          "description": "Optional. Number of total physical cores.",
          "format": "int32"
        }
      },
      "description": "Details of database deployment's topology.",
      "id": "DatabaseDeploymentTopology",
      "type": "object"
    },
    "MySqlPlugin": {
      "properties": {
        "version": {
          "type": "string",
          "description": "Required. The plugin version."
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. The plugin is active."
        },
        "plugin": {
          "description": "Required. The plugin name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MySqlPlugin",
      "description": "MySql plugin."
    },
    "AwsEc2PlatformDetails": {
      "type": "object",
      "description": "AWS EC2 specific details.",
      "id": "AwsEc2PlatformDetails",
      "properties": {
        "hyperthreading": {
          "type": "string",
          "description": "Optional. Whether the machine is hyperthreaded.",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ]
        },
        "location": {
          "type": "string",
          "description": "The location of the machine in the AWS format."
        },
        "machineTypeLabel": {
          "type": "string",
          "description": "AWS platform's machine type label."
        }
      }
    },
    "CloudSqlForPostgreSqlShape": {
      "description": "Cloud SQL for PostgreSQL database shape.",
      "id": "CloudSqlForPostgreSqlShape",
      "properties": {
        "edition": {
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ],
          "description": "Output only. Cloud SQL edition."
        },
        "memoryMb": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Predicted amount of memory in MiB."
        },
        "storage": {
          "readOnly": true,
          "description": "Output only. Predicted storage shape.",
          "$ref": "ComputeStorageDescriptor"
        },
        "egressGbPerMonth": {
          "description": "Output only. Predicted Network Out traffic GiB per month.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "version": {
          "enumDescriptions": [
            "Unspecified PostgreSQL version.",
            "PostgreSQL 9.6.",
            "PostgreSQL 10",
            "PostgreSQL 11",
            "PostgreSQL 12",
            "PostgreSQL 13",
            "PostgreSQL 14",
            "PostgreSQL 15"
          ],
          "type": "string",
          "description": "Output only. PostgreSql version to be used on the Cloud SQL for PostgreSql instance.",
          "readOnly": true,
          "enum": [
            "POSTGRESQL_VERSION_UNSPECIFIED",
            "POSTGRESQL_VERSION_9_6",
            "POSTGRESQL_VERSION_10",
            "POSTGRESQL_VERSION_11",
            "POSTGRESQL_VERSION_12",
            "POSTGRESQL_VERSION_13",
            "POSTGRESQL_VERSION_14",
            "POSTGRESQL_VERSION_15"
          ]
        },
        "logicalCoreCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of logical cores."
        },
        "zoneAvailability": {
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ],
          "readOnly": true,
          "description": "Output only. Cloud SQL zone availability."
        },
        "backupStorageGb": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Predicted backup storage size in GiB.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ReportSummaryVMWareEngineFinding": {
      "id": "ReportSummaryVMWareEngineFinding",
      "type": "object",
      "description": "A set of findings that applies to assets destined for VMWare Engine.",
      "properties": {
        "allocatedAssetCount": {
          "format": "int64",
          "description": "Count of assets which are allocated",
          "type": "string"
        },
        "nodeAllocations": {
          "type": "array",
          "description": "Set of per-nodetype allocation records",
          "items": {
            "$ref": "ReportSummaryVMWareNodeAllocation"
          }
        },
        "allocatedRegions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Set of regions in which the assets were allocated"
        }
      }
    },
    "AggregationHistogram": {
      "description": "Histogram of bucketed assets counts by field value.",
      "type": "object",
      "id": "AggregationHistogram",
      "properties": {
        "lowerBounds": {
          "items": {
            "format": "double",
            "type": "number"
          },
          "description": "Lower bounds of buckets. The response will contain `n+1` buckets for `n` bounds. The first bucket will count all assets for which the field value is smaller than the first bound. Subsequent buckets will count assets for which the field value is greater or equal to a lower bound and smaller than the next one. The last bucket will count assets for which the field value is greater or equal to the final lower bound. You can define up to 20 lower bounds.",
          "type": "array"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "VirtualMachinePreferencesNetworkCostParameters": {
      "id": "VirtualMachinePreferencesNetworkCostParameters",
      "properties": {
        "estimatedEgressTrafficPercentage": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. An estimated percentage of priced outbound traffic (egress traffic) from the measured outbound traffic. Must be in the interval [0, 100]."
        }
      },
      "type": "object",
      "description": "Parameters that affect network cost estimations."
    },
    "OperatingSystemPricingPreferences": {
      "id": "OperatingSystemPricingPreferences",
      "description": "Pricing options for OS images.",
      "type": "object",
      "properties": {
        "windows": {
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing",
          "description": "Optional. Pricing options for Windows images. No commitment plans are available, set it to unspecified."
        },
        "slesForSap": {
          "description": "Optional. Pricing options for SLES for SAP images.",
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing"
        },
        "rhel": {
          "description": "Optional. Pricing options for RHEL images.",
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing"
        },
        "sles": {
          "description": "Optional. Pricing options for SLES images.",
          "$ref": "OperatingSystemPricingPreferencesOperatingSystemPricing"
        }
      }
    },
    "CancelOperationRequest": {
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest"
    },
    "AwsEmrClusterDetails": {
      "type": "object",
      "id": "AwsEmrClusterDetails",
      "properties": {},
      "description": "Contains details for an AWS EMR Cluster asset."
    },
    "ReportSummaryChartDataDataPoint": {
      "type": "object",
      "properties": {
        "label": {
          "description": "The X-axis label for this data point.",
          "type": "string"
        },
        "value": {
          "description": "The Y-axis value for this data point.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Describes a single data point in the Chart.",
      "id": "ReportSummaryChartDataDataPoint"
    },
    "AggregationResultHistogramBucket": {
      "properties": {
        "upperBound": {
          "format": "double",
          "description": "Upper bound - exclusive.",
          "type": "number"
        },
        "count": {
          "format": "int64",
          "type": "string",
          "description": "Count of items in the bucket."
        },
        "lowerBound": {
          "format": "double",
          "description": "Lower bound - inclusive.",
          "type": "number"
        }
      },
      "type": "object",
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.",
      "id": "AggregationResultHistogramBucket"
    },
    "ComputeStorageDescriptor": {
      "id": "ComputeStorageDescriptor",
      "type": "object",
      "properties": {
        "type": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ],
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "description": "Output only. Disk type backing the storage."
        },
        "sizeGb": {
          "description": "Disk size in GiB.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Compute Engine storage option descriptor."
    },
    "OpenFileDetails": {
      "type": "object",
      "id": "OpenFileDetails",
      "description": "Open file Information.",
      "properties": {
        "fileType": {
          "description": "Opened file file type.",
          "type": "string"
        },
        "filePath": {
          "description": "Opened file file path.",
          "type": "string"
        },
        "user": {
          "type": "string",
          "description": "Opened file user."
        },
        "command": {
          "type": "string",
          "description": "Opened file command."
        }
      }
    },
    "MySqlSchemaDetails": {
      "properties": {
        "storageEngines": {
          "description": "Optional. Mysql storage engine tables.",
          "type": "array",
          "items": {
            "$ref": "MySqlStorageEngineDetails"
          }
        }
      },
      "id": "MySqlSchemaDetails",
      "description": "Specific details for a Mysql database.",
      "type": "object"
    },
    "DiskPartition": {
      "description": "Disk Partition details.",
      "id": "DiskPartition",
      "type": "object",
      "properties": {
        "capacityBytes": {
          "type": "string",
          "description": "Partition capacity.",
          "format": "int64"
        },
        "mountPoint": {
          "description": "Mount point (Linux/Windows) or drive letter (Windows).",
          "type": "string"
        },
        "freeBytes": {
          "format": "int64",
          "description": "Partition free space.",
          "type": "string"
        },
        "subPartitions": {
          "description": "Sub-partitions.",
          "$ref": "DiskPartitionList"
        },
        "uuid": {
          "description": "Partition UUID.",
          "type": "string"
        },
        "fileSystem": {
          "type": "string",
          "description": "Partition file system."
        },
        "type": {
          "description": "Partition type (e.g. BIOS boot).",
          "type": "string"
        }
      }
    },
    "DatabaseInstanceNetwork": {
      "properties": {
        "primaryMacAddress": {
          "type": "string",
          "description": "Optional. The instance's primary MAC address."
        },
        "ipAddresses": {
          "type": "array",
          "description": "Optional. The instance's IP addresses.",
          "items": {
            "type": "string"
          }
        },
        "hostNames": {
          "description": "Optional. The instance's host names.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "DatabaseInstanceNetwork",
      "type": "object",
      "description": "Network details of a database instance."
    },
    "Issue": {
      "properties": {
        "issueCode": {
          "type": "string",
          "description": "Output only. Unique identifier for this issue type.",
          "readOnly": true
        },
        "compatibilityIssue": {
          "description": "Output only. Details about a compatibility issue.",
          "readOnly": true,
          "$ref": "IssueCompatibilityIssue"
        },
        "description": {
          "description": "Output only. English description of the issue.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Issue",
      "type": "object",
      "description": "An issue associated with a migration."
    },
    "ReportSummaryGroupPreferenceSetFinding": {
      "type": "object",
      "id": "ReportSummaryGroupPreferenceSetFinding",
      "description": "Summary Findings for a specific Group/PreferenceSet combination.",
      "properties": {
        "preferredRegion": {
          "description": "Target region for this Preference Set",
          "deprecated": true,
          "type": "string"
        },
        "databaseFinding": {
          "description": "Output only. Details about databases in this finding. Only present for databases.",
          "$ref": "ReportSummaryDatabaseFinding",
          "readOnly": true
        },
        "monthlyCostGcveProtected": {
          "description": "Output only. GCVE Protected nodes cost for this preference set.",
          "$ref": "Money",
          "readOnly": true
        },
        "monthlyCostOther": {
          "$ref": "Money",
          "description": "Output only. Miscellaneous monthly cost for this preference set.",
          "readOnly": true
        },
        "vmwareEngineFinding": {
          "description": "A set of findings that applies to VMWare machines in the input. Only present for virtual machines.",
          "$ref": "ReportSummaryVMWareEngineFinding"
        },
        "monthlyCostDatabaseBackup": {
          "description": "Output only. Backup monthly cost for this preference set. Only present for databases.",
          "$ref": "Money",
          "readOnly": true
        },
        "monthlyCostTotal": {
          "readOnly": true,
          "$ref": "Money",
          "description": "Output only. Total monthly cost for this preference set."
        },
        "monthlyCostStorage": {
          "readOnly": true,
          "$ref": "Money",
          "description": "Output only. Storage monthly cost for this preference set."
        },
        "monthlyCostNetworkEgress": {
          "description": "Output only. Network Egress monthly cost for this preference set. Only present for virtual machines.",
          "readOnly": true,
          "$ref": "Money"
        },
        "soleTenantFinding": {
          "$ref": "ReportSummarySoleTenantFinding",
          "description": "A set of findings that applies to Stole-Tenant machines in the input. Only present for virtual machines."
        },
        "monthlyCostPortableVmwareLicense": {
[...]
