{
  "ownerDomain": "google.com",
  "baseUrl": "https://migrationcenter.googleapis.com/",
  "discoveryVersion": "v1",
  "schemas": {
    "ReportSummaryChartDataDataPoint": {
      "properties": {
        "label": {
          "description": "The X-axis label for this data point.",
          "type": "string"
        },
        "value": {
          "description": "The Y-axis value for this data point.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "ReportSummaryChartDataDataPoint",
      "type": "object",
      "description": "Describes a single data point in the Chart."
    },
    "ReportSummaryUtilizationChartData": {
      "id": "ReportSummaryUtilizationChartData",
      "properties": {
        "used": {
          "type": "string",
          "format": "int64",
          "description": "Aggregate value which falls into the \"Used\" bucket."
        },
        "free": {
          "format": "int64",
          "description": "Aggregate value which falls into the \"Free\" bucket.",
          "type": "string"
        }
      },
      "description": "Utilization Chart is a specific type of visualization which displays a metric classified into \"Used\" and \"Free\" buckets.",
      "type": "object"
    },
    "RunAssetsExportJobRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "description": "A request to run an assets export job.",
      "id": "RunAssetsExportJobRequest"
    },
    "AwsDynamoDBTableDetails": {
      "type": "object",
      "description": "Details of an AWS DynamoDB table.",
      "properties": {},
      "id": "AwsDynamoDBTableDetails"
    },
    "AwsFirehoseDetails": {
      "description": "Contains details for an AWS Firehose asset.",
      "properties": {},
      "type": "object",
      "id": "AwsFirehoseDetails"
    },
    "AwsLambdaFunctionDetails": {
      "id": "AwsLambdaFunctionDetails",
      "description": "Asset information specific for AWS Lambda functions.",
      "properties": {},
      "type": "object"
    },
    "RunReportExportJobResponse": {
      "properties": {
        "reportExportExecution": {
          "description": "Output only. Execution status of the export operation.",
          "readOnly": true,
          "$ref": "ReportExportExecution"
        }
      },
      "type": "object",
      "id": "RunReportExportJobResponse",
      "description": "Response message for running a report export job."
    },
    "AggregationResultHistogram": {
      "type": "object",
      "properties": {
        "buckets": {
          "type": "array",
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity.",
          "items": {
            "$ref": "AggregationResultHistogramBucket"
          }
        }
      },
      "description": "The result of a bucketed histogram aggregation.",
      "id": "AggregationResultHistogram"
    },
    "Relation": {
      "description": "Message representing a relation between 2 resource.",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The identifier of the relation."
        },
        "dstAsset": {
          "description": "Output only. The destination asset name in the relation.",
          "type": "string",
          "readOnly": true
        },
        "srcAsset": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The source asset name in the relation."
        },
        "createTime": {
          "description": "Output only. The timestamp when the relation was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "LOGICAL_DATABASE",
            "DATABASE_DEPLOYMENT_HOSTING_SERVER"
          ],
          "description": "Optional. The type of the relation.",
          "enumDescriptions": [
            "Default value.",
            "DBDeployment -> Database",
            "A relation between a machine/VM and the database deployment it hosts."
          ],
          "type": "string"
        }
      },
      "id": "Relation"
    },
    "AwsGlueJobDetails": {
      "properties": {},
      "description": "Contains details for an AWS Glue Job asset.",
      "id": "AwsGlueJobDetails",
      "type": "object"
    },
    "VMwareEngineMachinePreferences": {
      "properties": {
        "allowedMachineSeries": {
          "items": {
            "$ref": "MachineSeries"
          },
          "type": "array",
          "description": "Optional. VMware Engine on Google Cloud machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series."
        },
        "storageOnlyNodes": {
          "type": "string",
          "description": "Optional. Whether to use storage-only nodes, if those are available.",
          "enumDescriptions": [
            "Unspecified storage-only nodes preference.",
            "Use storage-only nodes for selected allowed_machine_series, if available.",
            "Do not use storage-only nodes."
          ],
          "enum": [
            "STORAGE_ONLY_NODES_UNSPECIFIED",
            "STORAGE_ONLY_NODES_ENABLED",
            "STORAGE_ONLY_NODES_DISABLED"
          ]
        },
        "protectedNodes": {
          "type": "string",
          "description": "Optional. Whether to use VMware Engine Protected offering.",
          "enumDescriptions": [
            "Unspecified protected nodes preference.",
            "Use only protected nodes for the selected allowed_machine_series.",
            "Do not use protected nodes."
          ],
          "enum": [
            "PROTECTED_NODES_UNSPECIFIED",
            "PROTECTED_NODES_ENABLED",
            "PROTECTED_NODES_DISABLED"
          ]
        }
      },
      "type": "object",
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations for VMware Engine. Not all machine types are available in all zones and regions.",
      "id": "VMwareEngineMachinePreferences"
    },
    "GCSPayloadInfo": {
      "properties": {
        "path": {
          "description": "The payload path in Google Cloud Storage.",
          "type": "string"
        },
        "format": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the [AWS collection script](https://github.com/GoogleCloudPlatform/aws-to-stratozone-export).",
            "CSV format exported from Azure using the [Azure collection script](https://github.com/GoogleCloudPlatform/azure-to-stratozone-export).",
            "CSV format created manually. For more information, see [Manually create and upload data tables](https://cloud.google.com/migrate/stratozone/docs/import-data-portal).",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "The import job format."
        }
      },
      "id": "GCSPayloadInfo",
      "description": "A resource that represents a payload hosted on Google Cloud Storage.",
      "type": "object"
    },
    "NetworkAdapterDetails": {
      "description": "Details of network adapter.",
      "type": "object",
      "id": "NetworkAdapterDetails",
      "properties": {
        "addresses": {
          "$ref": "NetworkAddressList",
          "description": "NetworkAddressList"
        },
        "macAddress": {
          "description": "MAC address.",
          "type": "string"
        },
        "adapterType": {
          "description": "Network adapter type (e.g. VMXNET3).",
          "type": "string"
        }
      }
    },
    "SignedUriDestination": {
      "properties": {
        "fileFormat": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified file format will be treated as CSV.",
            "CSV file format.",
            "XLSX file format which used in Excel."
          ],
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "description": "Required. The file format to export."
        }
      },
      "description": "Signed URI destination configuration.",
      "type": "object",
      "id": "SignedUriDestination"
    },
    "GuestRuntimeDetails": {
      "type": "object",
      "id": "GuestRuntimeDetails",
      "description": "Guest OS runtime information.",
      "properties": {
        "lastBootTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last time the OS was booted."
        },
        "services": {
          "description": "Running background services.",
          "$ref": "RunningServiceList"
        },
        "machineName": {
          "type": "string",
          "description": "Machine name."
        },
        "processes": {
          "description": "Running processes.",
          "$ref": "RunningProcessList"
        },
        "networkInfo": {
          "description": "Runtime network information (connections, ports).",
          "$ref": "RuntimeNetworkInfo"
        },
        "openFileList": {
          "$ref": "OpenFileList",
          "description": "Open files information."
        },
        "lastUptime": {
          "description": "Date since last booted (last uptime date).",
          "$ref": "Date"
        },
        "domain": {
          "type": "string",
          "description": "Domain, e.g. c.stratozone-development.internal."
        },
        "installedApps": {
          "description": "Installed applications information.",
          "$ref": "GuestInstalledApplicationList"
        }
      }
    },
    "DailyResourceUsageAggregationStats": {
      "id": "DailyResourceUsageAggregationStats",
      "description": "Statistical aggregation of samples for a single resource usage.",
      "type": "object",
      "properties": {
        "median": {
          "format": "float",
          "description": "Median usage value.",
          "type": "number"
        },
        "peak": {
          "type": "number",
          "description": "Peak usage value.",
          "format": "float"
        },
        "average": {
          "format": "float",
          "description": "Average usage value.",
          "type": "number"
        },
        "ninteyFifthPercentile": {
          "format": "float",
          "description": "95th percentile usage value.",
          "type": "number"
        }
      }
    },
    "ReportConfigGroupPreferenceSetAssignment": {
      "id": "ReportConfigGroupPreferenceSetAssignment",
      "properties": {
        "group": {
          "description": "Required. Name of the group.",
          "type": "string"
        },
        "preferenceSet": {
          "description": "Required. Name of the Preference Set.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a combination of a group with a preference set."
    },
    "CsvOutputFile": {
      "type": "object",
      "description": "Contains a single output file of type CSV.",
      "id": "CsvOutputFile",
      "properties": {
        "columnsCount": {
          "description": "Output only. Number of columns in the file.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "signedUri": {
          "description": "Output only. Signed URI destination.",
          "readOnly": true,
          "$ref": "SignedUri"
        },
        "rowCount": {
          "description": "Output only. Number of rows in the file.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        }
      }
    },
    "ReportSummaryMachineFinding": {
      "properties": {
        "allocatedAssetCount": {
          "format": "int64",
          "description": "Count of assets which were allocated.",
          "type": "string"
        },
        "machineSeriesAllocations": {
          "type": "array",
          "description": "Distribution of assets based on the Machine Series.",
          "items": {
            "$ref": "ReportSummaryMachineSeriesAllocation"
          }
        },
        "allocatedRegions": {
          "description": "Set of regions in which the assets were allocated.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allocatedDiskTypes": {
          "type": "array",
          "items": {
            "enum": [
              "PERSISTENT_DISK_TYPE_UNSPECIFIED",
              "PERSISTENT_DISK_TYPE_STANDARD",
              "PERSISTENT_DISK_TYPE_BALANCED",
              "PERSISTENT_DISK_TYPE_SSD"
            ],
            "enumDescriptions": [
              "Unspecified. Fallback to default value based on context.",
              "Standard HDD Persistent Disk.",
              "Balanced Persistent Disk.",
              "SSD Persistent Disk."
            ],
            "type": "string"
          },
          "deprecated": true,
          "description": "@deprecated. Use storage_allocations instead. Set of disk types allocated to assets."
        }
      },
      "id": "ReportSummaryMachineFinding",
      "description": "A set of findings that applies to assets of type Virtual/Physical Machine.",
      "type": "object"
    },
    "AggregationSum": {
      "description": "Sum of field values.",
      "type": "object",
      "id": "AggregationSum",
      "properties": {}
    },
    "AggregationResultSum": {
      "id": "AggregationResultSum",
      "properties": {
        "value": {
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "description": "The result of a sum aggregation."
    },
    "Aggregation": {
      "properties": {
        "count": {
          "description": "Count the number of matching objects.",
          "$ref": "AggregationCount"
        },
        "field": {
          "description": "The name of the field on which to aggregate.",
          "type": "string"
        },
        "sum": {
          "description": "Sum over a numeric field.",
          "$ref": "AggregationSum"
        },
        "histogram": {
          "description": "Creates a bucketed histogram of field values.",
          "$ref": "AggregationHistogram"
        },
        "frequency": {
          "description": "Creates a frequency distribution of all field values.",
          "$ref": "AggregationFrequency"
        }
      },
      "id": "Aggregation",
      "type": "object",
      "description": "Message describing an aggregation. The message includes the aggregation type, parameters, and the field on which to perform the aggregation."
    },
    "ReportSummaryDatabaseFinding": {
      "id": "ReportSummaryDatabaseFinding",
      "type": "object",
      "description": "DatabaseFinding contains an aggregate costs and shapes for a single database type.",
      "properties": {
        "totalAssets": {
          "description": "Output only. Number of database assets in this finding.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "allocatedAssetCount": {
          "type": "string",
          "description": "Output only. Number of database assets which were successfully assigned in this finding.",
          "format": "int64",
          "readOnly": true
        }
      }
    },
    "ImportJob": {
      "type": "object",
      "description": "A resource that represents the background job that imports asset frames.",
      "properties": {
        "updateTime": {
          "description": "Output only. The timestamp when the import job was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "validationReport": {
          "description": "Output only. The report with the validation results of the import job.",
          "readOnly": true,
          "$ref": "ValidationReport"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the import job was created.",
          "type": "string"
        },
        "executionReport": {
          "description": "Output only. The report with the results of running the import job.",
          "$ref": "ExecutionReport",
          "readOnly": true
        },
        "assetSource": {
          "description": "Required. Reference to a source.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The full name of the import job."
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "The import job is pending.",
            "The processing of the import job is ongoing.",
            "The import job processing has completed.",
            "The import job failed to be processed.",
            "The import job is being validated.",
            "The import job contains blocking errors.",
            "The validation of the job completed with no blocking errors."
          ],
          "type": "string",
          "enum": [
            "IMPORT_JOB_STATE_UNSPECIFIED",
            "IMPORT_JOB_STATE_PENDING",
            "IMPORT_JOB_STATE_RUNNING",
            "IMPORT_JOB_STATE_COMPLETED",
            "IMPORT_JOB_STATE_FAILED",
            "IMPORT_JOB_STATE_VALIDATING",
            "IMPORT_JOB_STATE_FAILED_VALIDATION",
            "IMPORT_JOB_STATE_READY"
          ],
          "description": "Output only. The state of the import job."
        },
        "labels": {
          "type": "object",
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "inlinePayload": {
          "description": "The payload is included in the request, mainly used for small import jobs.",
          "$ref": "InlinePayloadInfo"
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name. Maximum length is 63 characters."
        },
        "completeTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the import job was completed."
        },
        "gcsPayload": {
          "deprecated": true,
          "$ref": "GCSPayloadInfo",
          "description": "The payload is in Google Cloud Storage."
        }
      },
      "id": "ImportJob"
    },
    "TimeZone": {
      "id": "TimeZone",
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        }
      },
      "type": "object",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "DetectedSoftware": {
      "type": "object",
      "properties": {
        "softwareFamily": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Software family of the detected software, e.g. Database, SAP family."
        },
        "softwareName": {
          "type": "string",
          "description": "Output only. Software's name.",
          "readOnly": true
        }
      },
      "id": "DetectedSoftware",
      "description": "Information about software detected on an asset."
    },
    "PhysicalPlatformDetails": {
      "type": "object",
      "properties": {
        "hyperthreading": {
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "type": "string",
          "description": "Whether the machine is hyperthreaded.",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        },
        "location": {
          "type": "string",
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different machines in the same location may have different string values for this field."
        }
      },
      "description": "Platform specific details for Physical Machines.",
      "id": "PhysicalPlatformDetails"
    },
    "DatabaseDeploymentDetails": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "The database deployment version."
        },
        "sqlServer": {
          "$ref": "SqlServerDatabaseDeployment",
          "description": "Details of a Microsoft SQL Server database deployment."
        },
        "topology": {
          "$ref": "DatabaseDeploymentTopology",
          "description": "Details of the database deployment topology."
        },
        "mysql": {
          "$ref": "MysqlDatabaseDeployment",
          "description": "Details of a MYSQL database deployment."
        },
        "manualUniqueId": {
          "description": "A manual unique ID set by the user.",
          "type": "string"
        },
        "awsRds": {
          "$ref": "AwsRds",
          "description": "Optional. Details of an AWS RDS instance."
        },
        "postgresql": {
          "$ref": "PostgreSqlDatabaseDeployment",
          "description": "Details of a PostgreSQL database deployment."
        },
        "generatedId": {
          "description": "The database deployment generated ID.",
          "type": "string"
        },
        "edition": {
          "type": "string",
          "description": "The database deployment edition."
        },
        "aggregatedStats": {
          "readOnly": true,
          "$ref": "DatabaseDeploymentDetailsAggregatedStats",
          "description": "Output only. Aggregated stats for the database deployment."
        }
      },
      "id": "DatabaseDeploymentDetails",
      "description": "The details of a database deployment asset."
    },
    "SoftwareInsight": {
      "id": "SoftwareInsight",
      "type": "object",
      "properties": {
        "detectedSoftware": {
          "description": "Output only. Information about the detected software.",
          "$ref": "DetectedSoftware",
          "readOnly": true
        }
      },
      "description": "An insight regarding software detected on an asset."
    },
    "ResourceLocation": {
      "type": "object",
      "description": "Location of a resource.",
      "id": "ResourceLocation",
      "properties": {
        "region": {
          "type": "string",
          "description": "Optional. The name of the region."
        }
      }
    },
    "MySqlSchemaDetails": {
      "id": "MySqlSchemaDetails",
      "description": "Specific details for a Mysql database.",
      "properties": {
        "storageEngines": {
          "description": "Optional. Mysql storage engine tables.",
          "items": {
            "$ref": "MySqlStorageEngineDetails"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ImportRowErrorArchiveErrorDetails": {
      "type": "object",
      "properties": {
        "filePath": {
          "description": "The file path inside the archive where the error was detected.",
          "type": "string"
        },
        "csvError": {
          "description": "Error details for a CSV file.",
          "$ref": "ImportRowErrorCsvErrorDetails"
        }
      },
      "description": "Error details for an archive file.",
      "id": "ImportRowErrorArchiveErrorDetails"
    },
    "RunningServiceList": {
      "type": "object",
      "id": "RunningServiceList",
      "description": "List of running guest OS services.",
      "properties": {
        "services": {
          "description": "Running service entries.",
          "items": {
            "$ref": "RunningService"
          },
          "type": "array"
        },
        "entries": {
          "description": "Running service entries.",
          "items": {
            "$ref": "RunningService"
          },
          "type": "array"
        }
      }
    },
    "DiskEntryList": {
      "type": "object",
      "properties": {
        "entries": {
          "description": "Disk entries.",
          "type": "array",
          "items": {
            "$ref": "DiskEntry"
          }
        }
      },
      "id": "DiskEntryList",
      "description": "VM disks."
    },
    "OperatingSystemPricingPreferencesOperatingSystemPricing": {
      "description": "Pricing options of an OS image.",
      "properties": {
        "licenseType": {
          "enumDescriptions": [
            "Unspecified (default value).",
            "Default Google Cloud licensing plan. Licensing is charged per usage. This a good value to start with.",
            "Bring-your-own-license (BYOL) plan. User provides the license."
          ],
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_TYPE_DEFAULT",
            "LICENSE_TYPE_BRING_YOUR_OWN_LICENSE"
          ],
          "type": "string",
          "description": "Optional. License type for premium images (RHEL, RHEL for SAP, SLES, SLES for SAP, Windows Server)."
        },
        "commitmentPlan": {
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1-year committed use discount.",
            "3-year committed use discount."
          ],
          "type": "string",
          "description": "Optional. The plan of commitments for committed use discounts (CUD).",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "COMMITMENT_PLAN_ON_DEMAND",
            "COMMITMENT_PLAN_1_YEAR",
            "COMMITMENT_PLAN_3_YEAR"
          ]
        }
      },
      "id": "OperatingSystemPricingPreferencesOperatingSystemPricing",
      "type": "object"
    },
    "VmwarePlatformDetails": {
      "type": "object",
      "description": "VMware specific details.",
      "properties": {
        "esxHyperthreading": {
          "type": "string",
          "description": "Whether the ESX is hyperthreaded.",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ]
        },
        "osid": {
          "description": "VMware os enum - https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html.",
          "type": "string"
        },
        "esxVersion": {
          "description": "ESX version.",
          "type": "string"
        },
        "vcenterVersion": {
          "type": "string",
          "description": "vCenter version."
        },
        "vcenterFolder": {
          "description": "Folder name in vCenter where asset resides.",
          "type": "string"
        },
        "vcenterUri": {
          "description": "vCenter URI used in collection.",
          "type": "string"
        },
        "vcenterVmId": {
          "type": "string",
          "description": "vCenter VM ID."
        }
      },
      "id": "VmwarePlatformDetails"
    },
    "DiscoveryClient": {
      "description": "Represents an installed Migration Center Discovery Client instance.",
      "id": "DiscoveryClient",
      "properties": {
        "recommendedVersions": {
          "type": "array",
          "description": "Output only. The recommended versions of the discovery client.",
          "items": {
            "$ref": "DiscoveryClientDiscoveryClientRecommendedVersion"
          },
          "readOnly": true
        },
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Input only. Client time-to-live. If specified, the backend will not accept new frames after this time. This field is input only. The derived expiration time is provided as output through the `expire_time` field."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "heartbeatTime": {
          "description": "Output only. Last heartbeat time. Healthy clients are expected to send heartbeats regularly (normally every few minutes).",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "version": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Client version, as reported in recent heartbeat."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the discovery client was last updated. This value is not updated by heartbeats, to view the last heartbeat time please refer to the `heartbeat_time` field."
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Optional. Client expiration time in UTC. If specified, the backend will not accept new frames after this time.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Required. Service account used by the discovery client for various operation.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. Full name of this discovery client.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when the discovery client was first created."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OFFLINE",
            "DEGRADED",
            "EXPIRED"
          ],
          "type": "string",
          "description": "Output only. Current state of the discovery client.",
          "enumDescriptions": [
            "Client state is unspecified.",
            "Client is active.",
            "Client is offline.",
            "Client is in a degraded state. See the `errors` field for details.",
            "Client has expired. See the expire_time field for the expire time."
          ],
          "readOnly": true
        },
        "signalsEndpoint": {
          "readOnly": true,
          "description": "Output only. This field is intended for internal use.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Free text description. Maximum length is 1000 characters."
        },
        "displayName": {
          "description": "Optional. Free text display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "source": {
          "description": "Required. Full name of the source object associated with this discovery client.",
          "type": "string"
        },
        "errors": {
          "description": "Output only. Errors affecting client functionality.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        }
      },
      "type": "object"
    },
    "ReportExportExecution": {
      "description": "Execution status of report export operation.",
      "id": "ReportExportExecution",
      "type": "object",
      "properties": {
        "progressPercentage": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Represents the progress of the execution. It reaches 100 when the execution is successfully completed. When the execution finishes with a failure, the progress is set to 0.",
          "readOnly": true
        },
        "expireTime": {
          "description": "Output only. Expiration time for the export and artifacts.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Execution start timestamp."
        },
        "result": {
          "description": "Output only. Result of the export execution.",
          "$ref": "ReportExportExecutionResult",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Completion time of the export."
        },
        "executionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Globally unique identifier of the execution."
        }
      }
    },
    "MigrationInsight": {
      "id": "MigrationInsight",
      "description": "An insight about potential migrations for an asset.",
      "type": "object",
      "properties": {
        "computeEngineSoleTenantTarget": {
          "readOnly": true,
          "description": "Output only. A Google Compute Engine Sole Tenant target.",
          "$ref": "ComputeEngineSoleTenantMigrationTarget"
        },
        "cloudDatabaseTarget": {
          "readOnly": true,
          "description": "Output only. A Cloud database migration target.",
          "$ref": "CloudDatabaseMigrationTarget"
        },
        "vmwareEngineTarget": {
          "description": "Output only. A VMWare Engine target.",
          "readOnly": true,
          "$ref": "VmwareEngineMigrationTarget"
        },
        "issues": {
          "type": "array",
          "description": "Output only. Issues associated with this migration.",
          "items": {
            "$ref": "Issue"
          },
          "readOnly": true
        },
        "gkeTarget": {
          "description": "Output only. A Google Kubernetes Engine target.",
          "$ref": "GoogleKubernetesEngineMigrationTarget",
          "readOnly": true
        },
        "fit": {
          "$ref": "FitDescriptor",
          "readOnly": true,
          "description": "Output only. Description of how well the asset this insight is associated with fits the proposed migration."
        },
        "computeEngineTarget": {
          "readOnly": true,
          "$ref": "ComputeEngineMigrationTarget",
          "description": "Output only. A Google Compute Engine target."
        }
      }
    },
    "GuestOsDetails": {
      "description": "Information from Guest-level collections.",
      "type": "object",
      "properties": {
        "runtime": {
          "$ref": "GuestRuntimeDetails",
          "description": "Runtime information."
        },
        "config": {
          "description": "OS and app configuration.",
          "$ref": "GuestConfigDetails"
        },
        "osName": {
          "description": "The name of the operating system.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The version of the operating system."
        },
        "family": {
          "description": "What family the OS belong to, if known.",
          "enum": [
            "OS_FAMILY_UNKNOWN",
            "OS_FAMILY_WINDOWS",
            "OS_FAMILY_LINUX",
            "OS_FAMILY_UNIX"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Microsoft Windows Server and Desktop.",
            "Various Linux flavors.",
            "Non-Linux Unix flavors."
          ]
        }
      },
      "id": "GuestOsDetails"
    },
    "CloudDatabaseMigrationTarget": {
      "properties": {
        "cloudSqlShape": {
          "description": "Cloud SQL for SQL Server database shape.",
          "$ref": "CloudSqlForSqlServerShape"
        },
        "cloudSqlForPostgresqlShape": {
          "$ref": "CloudSqlForPostgreSqlShape",
          "description": "Cloud SQL for PostgreSQL database shape."
        },
        "cloudSqlForMysqlShape": {
          "description": "Cloud SQL for MySQL database shape.",
          "$ref": "CloudSqlForMySqlShape"
        }
      },
      "description": "Cloud database migration target.",
      "id": "CloudDatabaseMigrationTarget",
      "type": "object"
    },
    "ListRelationsResponse": {
      "properties": {
        "relations": {
          "description": "A list of relations.",
          "items": {
            "$ref": "Relation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Response message for listing relations.",
      "type": "object",
      "id": "ListRelationsResponse"
    },
    "NfsExport": {
      "id": "NfsExport",
      "description": "NFS export.",
      "properties": {
        "hosts": {
          "description": "The hosts or networks to which the export is being shared.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "exportDirectory": {
          "description": "The directory being exported.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FileValidationReport": {
      "id": "FileValidationReport",
      "type": "object",
      "description": "A resource that aggregates the validation errors found in an import job file.",
      "properties": {
        "partialReport": {
          "description": "Flag indicating that processing was aborted due to maximum number of errors.",
          "type": "boolean"
        },
        "rowErrors": {
          "type": "array",
          "description": "Partial list of rows that encountered validation error.",
          "items": {
            "$ref": "ImportRowError"
          }
        },
        "fileName": {
          "type": "string",
          "description": "The name of the file."
        },
        "fileErrors": {
          "items": {
            "$ref": "ImportError"
          },
          "description": "List of file level errors.",
          "type": "array"
        }
      }
    },
    "AssetList": {
      "description": "Lists the asset IDs of all assets.",
      "id": "AssetList",
      "type": "object",
      "properties": {
        "assetIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. A list of asset IDs",
          "type": "array"
        }
      }
    },
    "AwsEfsFileSystemDetails": {
      "properties": {},
      "type": "object",
      "description": "Details of an AWS EFS file system.",
      "id": "AwsEfsFileSystemDetails"
    },
    "ListSourcesResponse": {
      "description": "Response message for listing sources.",
      "type": "object",
      "id": "ListSourcesResponse",
      "properties": {
        "sources": {
          "description": "The list of sources.",
          "type": "array",
          "items": {
            "$ref": "Source"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "ListDiscoveryClientsResponse": {
      "properties": {
        "discoveryClients": {
          "items": {
            "$ref": "DiscoveryClient"
          },
          "type": "array",
          "description": "List of discovery clients."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for listing discovery clients.",
      "id": "ListDiscoveryClientsResponse"
    },
    "GuestInstalledApplicationList": {
      "properties": {
        "entries": {
          "items": {
            "$ref": "GuestInstalledApplication"
          },
          "type": "array",
          "description": "Application entries."
        }
      },
      "description": "Guest installed application list.",
      "id": "GuestInstalledApplicationList",
      "type": "object"
    },
    "FstabEntryList": {
      "properties": {
        "entries": {
          "type": "array",
          "description": "Fstab entries.",
          "items": {
            "$ref": "FstabEntry"
          }
        }
      },
      "id": "FstabEntryList",
      "description": "Fstab content.",
      "type": "object"
    },
    "AwsRedshiftDetails": {
      "id": "AwsRedshiftDetails",
      "type": "object",
      "description": "Details of an AWS Redshift cluster.",
      "properties": {}
    },
    "AzureVmPlatformDetails": {
      "id": "AzureVmPlatformDetails",
      "properties": {
        "provisioningState": {
          "type": "string",
          "description": "Azure platform's provisioning state."
        },
        "machineTypeLabel": {
          "description": "Azure platform's machine type label.",
          "type": "string"
        },
        "location": {
          "description": "The location of the machine in the Azure format.",
          "type": "string"
        },
        "hyperthreading": {
          "description": "Whether the machine is hyperthreaded.",
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        }
      },
      "description": "Azure VM specific details.",
      "type": "object"
    },
    "AwsKinesisStreamDetails": {
      "properties": {},
      "description": "Contains details for an AWS Kinesis Stream asset.",
      "id": "AwsKinesisStreamDetails",
      "type": "object"
    },
    "AwsEcsClusterDetails": {
      "properties": {},
      "id": "AwsEcsClusterDetails",
      "description": "Details of an AWS ECS cluster.",
      "type": "object"
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status"
    },
    "BatchUpdateAssetsRequest": {
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the resources to update. A maximum of 1000 assets can be modified in a batch.",
          "items": {
            "$ref": "UpdateAssetRequest"
          },
          "type": "array"
        }
      },
      "id": "BatchUpdateAssetsRequest",
      "type": "object",
      "description": "A request to update a list of assets."
    },
    "ReportSummary": {
      "description": "Describes the Summary view of a Report, which contains aggregated values for all the groups and preference sets included in this Report.",
      "type": "object",
      "properties": {
        "groupFindings": {
          "items": {
            "$ref": "ReportSummaryGroupFinding"
          },
          "description": "Findings for each Group included in this report.",
          "type": "array"
        },
        "databaseStats": {
          "$ref": "ReportSummaryAssetAggregateStats",
          "description": "Output only. Aggregate statistics for unique database assets across all the groups.",
          "readOnly": true
        },
        "virtualMachineStats": {
          "$ref": "ReportSummaryAssetAggregateStats",
          "readOnly": true,
          "description": "Output only. Aggregate statistics for unique virtual machine assets across all the groups."
        },
        "allAssetsStats": {
          "description": "Aggregate statistics for unique assets across all the groups.",
          "$ref": "ReportSummaryAssetAggregateStats"
        }
      },
      "id": "ReportSummary"
    },
    "PostgreSqlExtension": {
      "description": "PostgreSql extension.",
      "type": "object",
      "id": "PostgreSqlExtension",
      "properties": {
        "extension": {
          "type": "string",
          "description": "Required. The extension name."
        },
        "version": {
          "description": "Required. The extension version.",
          "type": "string"
        }
      }
    },
    "NetworkAddressList": {
      "type": "object",
      "id": "NetworkAddressList",
      "description": "List of allocated/assigned network addresses.",
      "properties": {
        "addresses": {
          "type": "array",
          "description": "Network address entries.",
          "items": {
            "$ref": "NetworkAddress"
          }
        },
        "entries": {
          "items": {
            "$ref": "NetworkAddress"
          },
          "type": "array",
          "description": "Network address entries."
        }
      }
    },
    "SqlServerServerFlag": {
      "id": "SqlServerServerFlag",
      "description": "SQL Server server flag details.",
      "properties": {
        "valueInUse": {
          "description": "Required. The server flag actual value. If `value_in_use` is different from `value` it means that either the configuration change was not applied or it is an expected behavior. See SQL Server documentation for more details.",
          "type": "string"
        },
        "serverFlagName": {
          "description": "Required. The server flag name.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Required. The server flag value set by the user."
        }
      },
      "type": "object"
    },
    "PreferenceSet": {
      "id": "PreferenceSet",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the preference set was last updated.",
          "format": "google-datetime"
        },
        "description": {
          "description": "A description of the preference set.",
          "type": "string"
        },
        "regionPreferences": {
          "description": "Optional. Region preferences for assets using this preference set. If you are unsure which value to set, the migration service API region is often a good value to start with. If unspecified, VirtualMachinePreferences.RegionPreferences is used.",
          "$ref": "RegionPreferences"
        },
        "virtualMachinePreferences": {
          "$ref": "VirtualMachinePreferences",
          "description": "A set of preferences that applies to all virtual machines in the context."
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the preference set was created.",
          "readOnly": true
        },
        "databasePreferences": {
          "description": "Optional. A set of preferences that applies to all databases in the context.",
          "$ref": "DatabasePreferences"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the PreferenceSet."
        }
      },
      "type": "object",
      "description": "The preferences that apply to all assets in a given context."
    },
    "ImportDataFile": {
      "description": "A resource that represents a payload file in an import job.",
      "type": "object",
      "id": "ImportDataFile",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the file was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Optional. User-friendly display name. Maximum length is 256 characters.",
          "type": "string"
        },
        "uploadFileInfo": {
          "description": "Information about a file that is uploaded to a storage service.",
          "$ref": "UploadFileInfo"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE"
          ],
          "description": "Output only. The state of the import data file.",
          "enumDescriptions": [
            "Default value.",
            "The data file is being created.",
            "The data file completed initialization."
          ],
          "readOnly": true
        },
        "name": {
          "description": "Output only. The name of the file.",
          "readOnly": true,
          "type": "string"
        },
        "format": {
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the [AWS collection script](https://github.com/GoogleCloudPlatform/aws-to-stratozone-export).",
            "CSV format exported from Azure using the [Azure collection script](https://github.com/GoogleCloudPlatform/azure-to-stratozone-export).",
            "CSV format created manually. For more information, see [Manually create and upload data tables](https://cloud.google.com/migrate/stratozone/docs/import-data-portal).",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ],
          "description": "Required. The payload format.",
          "type": "string"
        }
      }
    },
    "AssetsExportJobNetworkDependencies": {
      "properties": {},
      "id": "AssetsExportJobNetworkDependencies",
      "type": "object",
      "description": "Configuration for network dependencies exports."
    },
    "PerformanceSample": {
      "description": "Performance data sample.",
      "properties": {
        "disk": {
          "description": "Disk usage sample.",
          "$ref": "DiskUsageSample"
        },
        "network": {
          "description": "Network usage sample.",
          "$ref": "NetworkUsageSample"
        },
        "memory": {
          "description": "Memory usage sample.",
          "$ref": "MemoryUsageSample"
        },
        "sampleTime": {
          "description": "Time the sample was collected. If omitted, the frame report time will be used.",
          "format": "google-datetime",
          "type": "string"
        },
        "cpu": {
          "$ref": "CpuUsageSample",
          "description": "CPU usage sample."
        }
      },
      "id": "PerformanceSample",
      "type": "object"
    },
    "DatabasePreferencesCloudSqlMySql": {
      "properties": {
        "common": {
          "description": "Optional. Preferences to Cloud SQL databases.",
          "$ref": "DatabasePreferencesCloudSqlCommon"
        }
      },
      "type": "object",
      "id": "DatabasePreferencesCloudSqlMySql",
      "description": "Preferences for MySQL on Cloud SQL."
    },
    "OutputFile": {
      "description": "Contains a single output file.",
      "id": "OutputFile",
      "properties": {
        "csvOutputFile": {
          "description": "Output only. CSV output file.",
          "$ref": "CsvOutputFile",
          "readOnly": true
        },
        "xlsxOutputFile": {
          "description": "Output only. XLSX output file.",
          "readOnly": true,
          "$ref": "XlsxOutputFile"
        },
        "fileSizeBytes": {
          "description": "Output only. File size in bytes.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListAssetsExportJobsResponse": {
      "description": "Response message for listing assets export jobs.",
      "properties": {
        "assetsExportJobs": {
          "items": {
            "$ref": "AssetsExportJob"
          },
          "description": "Output only. The list of assets export jobs.",
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token identifying a page of results the server should return.",
          "readOnly": true
        }
      },
      "id": "ListAssetsExportJobsResponse",
      "type": "object"
    },
    "ComputeEnginePreferences": {
      "properties": {
        "licenseType": {
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_TYPE_DEFAULT",
            "LICENSE_TYPE_BRING_YOUR_OWN_LICENSE"
          ],
          "enumDescriptions": [
            "Unspecified (default value).",
            "Default Google Cloud licensing plan. Licensing is charged per usage. This a good value to start with.",
            "Bring-your-own-license (BYOL) plan. User provides the license."
          ],
          "description": "License type to consider when calculating costs for operating systems. If unspecified, costs are calculated based on the default licensing plan. If os_pricing_preferences is specified, it overrides this field.",
          "type": "string"
        },
        "multithreading": {
          "description": "Optional. Preferences for multithreading support on Windows Server.",
          "enum": [
            "MULTITHREADING_UNSPECIFIED",
            "MULTITHREADING_DISABLED",
            "MULTITHREADING_ENABLED",
            "MULTITHREADING_DISABLED_WITH_COMPENSATION"
          ],
          "enumDescriptions": [
            "Same as MULTITHREADING_AUTO.",
            "Disable simultaneous multithreading.",
            "Enable simultaneous multithreading.",
            "Disable simultaneous multithreading and increase number of VCPUs to compensate."
          ],
          "type": "string"
        },
        "osPricingPreferences": {
          "$ref": "OperatingSystemPricingPreferences",
          "description": "Optional. Pricing options for OS images."
        },
        "persistentDiskType": {
          "type": "string",
          "description": "Persistent disk type to use. If unspecified (default), all types are considered, based on available usage data.",
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ]
        },
        "machinePreferences": {
          "$ref": "MachinePreferences",
          "description": "Preferences concerning the machine types to consider on Compute Engine."
        }
      },
      "id": "ComputeEnginePreferences",
      "type": "object",
      "description": "The user preferences relating to Compute Engine target platform."
    },
    "ListReportExportJobsResponse": {
      "type": "object",
      "id": "ListReportExportJobsResponse",
      "description": "Response message for listing report export jobs.",
      "properties": {
        "reportExportJobs": {
          "description": "Output only. The list of report export jobs.",
          "readOnly": true,
          "items": {
            "$ref": "ReportExportJob"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token identifying a page of results the server should return.",
          "readOnly": true
        }
      }
    },
    "AwsS3BucketDetails": {
      "id": "AwsS3BucketDetails",
      "properties": {
        "versioning": {
          "$ref": "AwsS3BucketDetailsVersioning",
          "description": "Optional. Versioning configuration of the bucket."
        },
        "storageClasses": {
          "type": "array",
          "description": "Optional. The storage classes in the bucket.",
          "items": {
            "$ref": "AwsS3BucketDetailsStorageClass"
          }
        },
        "objectsMetadata": {
          "$ref": "AwsS3BucketDetailsObjectsMetadata",
          "description": "Optional. The metadata of the objects in the bucket."
        }
      },
      "description": "Asset information specific for AWS S3 buckets.",
      "type": "object"
    },
    "EstimatedUsage": {
      "description": "Estimated usage data.",
      "type": "object",
      "properties": {
        "estimatedCpuPercentage": {
          "description": "Optional. Estimated CPU utilization percentage. Must be in the range [1, 100].",
          "type": "number",
          "format": "float"
        },
        "estimatedDiskPercentage": {
          "description": "Optional. Estimated disk utilization percentage. Must be in the range [1, 100].",
          "format": "float",
          "type": "number"
        },
        "estimatedMemoryPercentage": {
          "description": "Optional. Estimated memory utilization percentage. Must be in the range [1, 100].",
          "type": "number",
          "format": "float"
        }
      },
      "id": "EstimatedUsage"
    },
    "SqlServerSchemaDetails": {
      "properties": {
        "clrObjectCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. SqlServer number of CLR objects."
        }
      },
      "type": "object",
      "description": "Specific details for a SqlServer database.",
      "id": "SqlServerSchemaDetails"
    },
    "HostsEntry": {
      "description": "Single /etc/hosts entry.",
      "properties": {
        "ip": {
          "type": "string",
          "description": "IP (raw, IPv4/6 agnostic)."
        },
        "hostNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of host names / aliases."
        }
      },
      "type": "object",
      "id": "HostsEntry"
    },
    "ValidateImportJobRequest": {
      "description": "A request to validate an import job.",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "id": "ValidateImportJobRequest"
    },
    "AwsBatchComputeEnvironmentDetails": {
      "description": "Asset information specific for AWS Batch Compute Environments.",
      "id": "AwsBatchComputeEnvironmentDetails",
      "properties": {},
      "type": "object"
    },
    "ComputeStorageDescriptor": {
      "id": "ComputeStorageDescriptor",
      "type": "object",
      "description": "Compute Engine storage option descriptor.",
      "properties": {
        "type": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ],
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "description": "Output only. Disk type backing the storage."
        },
        "sizeGb": {
          "format": "int32",
          "description": "Disk size in GiB.",
          "type": "integer"
        }
      }
    },
    "NetworkAddress": {
      "id": "NetworkAddress",
      "description": "Details of network address.",
      "type": "object",
      "properties": {
        "assignment": {
          "enum": [
            "ADDRESS_ASSIGNMENT_UNSPECIFIED",
            "ADDRESS_ASSIGNMENT_STATIC",
            "ADDRESS_ASSIGNMENT_DHCP"
          ],
          "enumDescriptions": [
            "Unknown (default value).",
            "Statically assigned IP.",
            "Dynamically assigned IP (DHCP)."
          ],
          "type": "string",
          "description": "Whether DHCP is used to assign addresses."
        },
        "ipAddress": {
          "description": "Assigned or configured IP Address.",
          "type": "string"
        },
        "bcast": {
          "description": "Broadcast address.",
          "type": "string"
        },
        "subnetMask": {
          "description": "Subnet mask.",
          "type": "string"
        },
        "fqdn": {
          "type": "string",
          "description": "Fully qualified domain name."
        }
      }
    },
    "GuestInstalledApplication": {
      "properties": {
        "vendor": {
          "description": "Installed application vendor.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Installed application name."
        },
        "applicationName": {
          "type": "string",
          "description": "Installed application name."
        },
        "installTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the application was installed."
        },
        "licenses": {
          "items": {
            "type": "string"
          },
          "description": "License strings associated with the installed application.",
          "type": "array"
        },
        "time": {
          "description": "Date application was installed.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Source path."
        },
        "version": {
          "description": "Installed application version.",
          "type": "string"
        }
      },
      "id": "GuestInstalledApplication",
      "description": "Guest installed application information.",
      "type": "object"
    },
    "DailyResourceUsageAggregationMemory": {
      "description": "Statistical aggregation of memory usage.",
      "id": "DailyResourceUsageAggregationMemory",
      "properties": {
        "utilizationPercentage": {
          "description": "Memory utilization percentage.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      },
      "type": "object"
    },
    "IssueCompatibilityIssue": {
      "properties": {
        "associatedObjectType": {
          "enumDescriptions": [
            "An unspecified object type.",
            "A database deployment object type.",
            "A logical database object type.",
            "A schema object type."
          ],
          "description": "Output only. Type of object associated with this migration compatibility issue.",
          "readOnly": true,
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "DATABASE_DEPLOYMENT",
            "DATABASE",
            "SCHEMA"
          ],
          "type": "string"
        },
        "associatedValue": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A string representation of actual value associated with this issue. Some values may contain aggregated information, such as a flag name and the actual value assigned to it."
        },
        "category": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Category of this compatibility issue.",
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "DATABASE_FLAG",
            "DATABASE_FEATURE"
          ],
          "enumDescriptions": [
            "An unspecified compatibility category.",
            "Database flag compatibility category.",
            "Database feature compatibility category."
          ]
        },
        "associatedObject": {
          "description": "Output only. Name of the object associated with this compatibility issue relative to the relevant asset. Does not represent a fully qualified resource name and is not intended for programmatic use.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Details about a compatibility issue.",
      "type": "object",
      "id": "IssueCompatibilityIssue"
    },
    "SoleTenantNodeType": {
      "description": "A Sole Tenant node type.",
      "id": "SoleTenantNodeType",
      "type": "object",
      "properties": {
        "nodeName": {
          "description": "Name of the Sole Tenant node. Consult https://cloud.google.com/compute/docs/nodes/sole-tenant-nodes",
          "type": "string"
        }
      }
    },
    "FrameViolationEntry": {
      "properties": {
        "field": {
          "type": "string",
          "description": "The field of the original frame where the violation occurred."
        },
        "violation": {
          "type": "string",
          "description": "A message describing the violation."
        }
      },
      "id": "FrameViolationEntry",
      "type": "object",
      "description": "A resource that contains a single violation of a reported `AssetFrame` resource."
    },
    "MachineSeries": {
      "properties": {
        "code": {
          "type": "string",
          "description": "Code to identify a machine series. Consult this for more details on the available series for Compute Engine: https://cloud.google.com/compute/docs/machine-resource#machine_type_comparison Consult this for more details on the available series for Google Cloud VMware Engine: https://cloud.google.com/vmware-engine/pricing"
        }
      },
      "type": "object",
      "description": "A machine series, for a target product (e.g. Compute Engine, Google Cloud VMware Engine).",
      "id": "MachineSeries"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response message for Locations.ListLocations."
    },
    "NfsExportList": {
      "description": "NFS exports.",
      "id": "NfsExportList",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "NfsExport"
          },
          "description": "NFS export entries."
        }
      }
    },
    "Selinux": {
      "description": "SELinux details.",
      "id": "Selinux",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Is SELinux enabled.",
          "type": "boolean"
        },
        "mode": {
          "description": "SELinux mode disabled / enforcing / permissive.",
          "type": "string"
        }
      }
    },
    "ReportExportExecutionResult": {
      "type": "object",
      "properties": {
        "outputFiles": {
          "readOnly": true,
          "$ref": "OutputFileList",
          "description": "Output only. List of output files."
        },
        "error": {
          "description": "Output only. Error encountered during export.",
          "$ref": "Status",
          "readOnly": true
        },
        "signedUris": {
          "description": "Output only. Signed URLs for downloading export artifacts.",
          "$ref": "SignedUris",
          "readOnly": true
        }
      },
      "id": "ReportExportExecutionResult",
      "description": "Contains the result of the report export."
    },
    "ReportSummaryVMWareNode": {
      "properties": {
        "code": {
          "description": "Code to identify VMware Engine node series, e.g. \"ve1-standard-72\". Based on the displayName of cloud.google.com/vmware-engine/docs/reference/rest/v1/projects.locations.nodeTypes",
          "type": "string"
        }
      },
      "description": "A VMWare Engine Node",
      "type": "object",
      "id": "ReportSummaryVMWareNode"
    },
    "ReportSummaryAssetAggregateStatsEstimatedUsageStats": {
      "type": "object",
      "properties": {
        "totalAssetsUsingEstimatedUsage": {
          "readOnly": true,
          "description": "Output only. The number of assets that are using at least one estimated usage metric for rightsizing.",
          "type": "string",
          "format": "int64"
        },
        "totalVirtualMachinesUsingEstimatedUsage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The number of virtual machines in this finding that are using at least one estimated usage metric for rightsizing.",
          "format": "int64"
        }
      },
      "description": "Estimated usage stats for the assets in this collection.",
      "id": "ReportSummaryAssetAggregateStatsEstimatedUsageStats"
    },
    "DailyResourceUsageAggregationDisk": {
      "description": "Statistical aggregation of disk usage.",
      "properties": {
        "iops": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "Disk I/O operations per second."
        },
        "writeIops": {
          "description": "Disk write I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "readIops": {
          "description": "Disk read I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      },
      "id": "DailyResourceUsageAggregationDisk",
      "type": "object"
    },
    "RunningProcess": {
      "properties": {
        "cmdline": {
          "description": "Process full command line.",
          "type": "string"
        },
        "pid": {
          "description": "Process ID.",
          "type": "string",
          "format": "int64"
        },
        "user": {
          "description": "User running the process.",
          "type": "string"
        },
        "attributes": {
          "type": "object",
          "description": "Process extended attributes.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "exePath": {
          "type": "string",
          "description": "Process binary path."
        }
      },
      "description": "Guest OS running process details.",
      "id": "RunningProcess",
      "type": "object"
    },
    "HostingProviderDetailsAws": {
      "description": "Details for AWS platform.",
      "type": "object",
      "properties": {
        "owningAccountId": {
          "type": "string",
          "description": "Optional. The AWS account ID owning the resource represented by this asset."
        }
      },
      "id": "HostingProviderDetailsAws"
    },
    "GuestConfigDetails": {
      "description": "Guest OS config information.",
      "type": "object",
      "id": "GuestConfigDetails",
      "properties": {
        "hosts": {
          "$ref": "HostsEntryList",
          "description": "Output only. Hosts file (/etc/hosts).",
          "readOnly": true
        },
        "selinuxMode": {
          "description": "Security-Enhanced Linux (SELinux) mode.",
          "enumDescriptions": [
            "SELinux mode unknown or unspecified.",
            "SELinux is disabled.",
            "SELinux permissive mode.",
            "SELinux enforcing mode."
          ],
          "type": "string",
          "enum": [
            "SE_LINUX_MODE_UNSPECIFIED",
            "SE_LINUX_MODE_DISABLED",
            "SE_LINUX_MODE_PERMISSIVE",
            "SE_LINUX_MODE_ENFORCING"
          ]
        },
        "fstab": {
          "$ref": "FstabEntryList",
          "description": "Mount list (Linux fstab)."
        },
        "nfsExports": {
          "$ref": "NfsExportList",
          "description": "NFS exports."
        },
        "issue": {
          "type": "string",
          "description": "OS issue (typically /etc/issue in Linux)."
        },
        "selinux": {
          "$ref": "Selinux",
          "description": "SELinux details."
        }
      }
    },
    "ReportExportJob": {
      "type": "object",
      "properties": {
        "signedUriDestination": {
          "description": "Export with a SignedUri.",
          "$ref": "SignedUriDestination"
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. Resource name.",
          "readOnly": true
        },
        "recentExecutions": {
          "type": "array",
          "description": "Output only. Recent not expired executions of the export report job.",
          "readOnly": true,
          "items": {
            "$ref": "ReportExportExecution"
          }
        }
      },
      "description": "Report export job message.",
      "id": "ReportExportJob"
    },
    "AwsAppSyncGraphqlApiDetails": {
      "description": "Asset information specific for AWS AppSync GraphQL APIs.",
      "type": "object",
      "properties": {},
      "id": "AwsAppSyncGraphqlApiDetails"
    },
    "AwsElasticIpAddressDetails": {
      "description": "Asset information specific for AWS Elastic IP Addresses.",
      "id": "AwsElasticIpAddressDetails",
      "type": "object",
      "properties": {}
    },
    "AwsSnsTopicDetails": {
      "type": "object",
      "description": "Asset information specific for AWS SNS Topics.",
      "properties": {},
      "id": "AwsSnsTopicDetails"
    },
    "RunReportExportJobRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "RunReportExportJobRequest",
      "description": "A request to run a report export job.",
      "type": "object"
    },
    "FitDescriptor": {
      "description": "Describes the fit level of an asset for migration to a specific target.",
      "properties": {
        "fitLevel": {
          "enum": [
            "FIT_LEVEL_UNSPECIFIED",
            "FIT",
            "NO_FIT",
            "REQUIRES_EFFORT"
          ],
          "enumDescriptions": [
            "Not enough information.",
            "Fit.",
            "No Fit.",
            "Fit with effort."
          ],
          "type": "string",
          "description": "Output only. Fit level.",
          "readOnly": true
        }
      },
      "id": "FitDescriptor",
      "type": "object"
    },
    "DatabaseDeploymentDetailsAggregatedStats": {
      "type": "object",
      "properties": {
        "databaseCount": {
          "type": "integer",
          "description": "Output only. The number of databases in the deployment.",
          "format": "int32",
          "readOnly": true
        }
      },
      "id": "DatabaseDeploymentDetailsAggregatedStats",
      "description": "Aggregated stats for the database deployment."
    },
    "ReportSummaryMachineSeriesAllocation": {
      "description": "Represents a data point tracking the count of assets allocated for a specific Machine Series.",
      "properties": {
        "machineSeries": {
          "$ref": "MachineSeries",
          "description": "The Machine Series (e.g. \"E2\", \"N2\")"
        },
        "allocatedAssetCount": {
          "description": "Count of assets allocated to this machine series.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "ReportSummaryMachineSeriesAllocation",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "CloudSqlForSqlServerShape": {
      "properties": {
        "zoneAvailability": {
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ],
          "description": "Output only. Cloud SQL zone availability.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ]
        },
        "version": {
          "enumDescriptions": [
            "Unspecified SQL Server version.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise."
          ],
          "description": "Output only. Microsoft SQL Server version to be used on the Cloud SQL for SQL server instance.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "SQL_SERVER_VERSION_UNSPECIFIED",
            "SQL_SERVER_VERSION_2017_EXPRESS",
            "SQL_SERVER_VERSION_2017_WEB",
            "SQL_SERVER_VERSION_2017_STANDARD",
            "SQL_SERVER_VERSION_2017_ENTERPRISE",
            "SQL_SERVER_VERSION_2019_EXPRESS",
            "SQL_SERVER_VERSION_2019_WEB",
            "SQL_SERVER_VERSION_2019_STANDARD",
            "SQL_SERVER_VERSION_2019_ENTERPRISE",
            "SQL_SERVER_VERSION_2022_EXPRESS",
            "SQL_SERVER_VERSION_2022_WEB",
            "SQL_SERVER_VERSION_2022_STANDARD",
            "SQL_SERVER_VERSION_2022_ENTERPRISE"
          ]
        },
        "storage": {
          "description": "Output only. Predicted storage shape.",
          "readOnly": true,
          "$ref": "ComputeStorageDescriptor"
        },
        "logicalCoreCount": {
          "format": "int32",
          "description": "Output only. Number of logical cores.",
          "type": "integer",
          "readOnly": true
        },
        "backupStorageGb": {
          "format": "int32",
          "description": "Output only. Predicted backup storage size in GiB.",
          "type": "integer",
          "readOnly": true
        },
        "egressGbPerMonth": {
          "readOnly": true,
          "description": "Output only. Predicted Network Out traffic GiB per month.",
          "format": "int64",
          "type": "string"
        },
        "smtEnabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether simultaneous multithreading is enabled (see https://cloud.google.com/sql/docs/sqlserver/create-instance#smt-create-instance)."
        },
        "edition": {
          "readOnly": true,
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ],
          "description": "Output only. Cloud SQL edition."
        },
        "memoryMb": {
          "readOnly": true,
          "description": "Output only. Predicted amount of memory in MiB.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Cloud SQL for SQL Server database shape.",
      "id": "CloudSqlForSqlServerShape"
    },
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "ReportSummaryAssetAggregateStats": {
      "properties": {
        "estimatedUsageStats": {
          "readOnly": true,
          "description": "Output only. Estimated usage stats for the assets in this collection.",
          "$ref": "ReportSummaryAssetAggregateStatsEstimatedUsageStats"
        },
        "operatingSystem": {
          "$ref": "ReportSummaryChartData",
          "description": "Count of assets grouped by Operating System families. Only present for virtual machines."
        },
        "databaseTypes": {
          "$ref": "ReportSummaryChartData",
          "description": "Output only. Count of assets grouped by database type. Keys here are taken from DatabaseType enum. Only present for databases.",
          "readOnly": true
        },
        "totalStorageBytes": {
          "type": "string",
          "format": "int64",
          "description": "Sum of persistent storage in bytes of all the assets in this collection."
        },
        "assetAge": {
          "description": "Count of assets grouped by age.",
          "$ref": "ReportSummaryChartData",
          "deprecated": true
        },
        "storageBytesHistogram": {
          "$ref": "ReportSummaryHistogramChartData",
          "description": "Histogram showing a distribution of storage sizes."
        },
        "memoryUtilizationChart": {
          "description": "Total memory split into Used/Free buckets.",
          "$ref": "ReportSummaryUtilizationChartData"
        },
        "totalCores": {
          "description": "Sum of the CPU core count of all the assets in this collection.",
          "format": "int64",
          "type": "string"
        },
        "softwareInstances": {
          "readOnly": true,
          "$ref": "ReportSummaryChartData",
          "description": "Output only. Count of assets grouped by software name. Only present for virtual machines."
        },
        "memoryUtilization": {
          "description": "Total memory split into Used/Free buckets.",
          "deprecated": true,
          "$ref": "ReportSummaryChartData"
        },
        "storageUtilization": {
          "description": "Total storage split into Used/Free buckets.",
          "deprecated": true,
          "$ref": "ReportSummaryChartData"
        },
        "totalAssets": {
          "type": "string",
          "format": "int64",
          "description": "Count of the number of unique assets in this collection."
        },
        "coreCountHistogram": {
          "$ref": "ReportSummaryHistogramChartData",
          "description": "Histogram showing a distribution of logical CPU core counts."
        },
        "totalMemoryBytes": {
          "description": "Sum of the memory in bytes of all the assets in this collection.",
          "type": "string",
          "format": "int64"
        },
        "memoryBytesHistogram": {
          "description": "Histogram showing a distribution of memory sizes.",
          "$ref": "ReportSummaryHistogramChartData"
        },
        "storageUtilizationChart": {
          "$ref": "ReportSummaryUtilizationChartData",
          "description": "Total memory split into Used/Free buckets."
        }
      },
      "type": "object",
      "description": "Aggregate statistics for a collection of assets.",
      "id": "ReportSummaryAssetAggregateStats"
    },
    "VirtualMachinePreferences": {
      "properties": {
        "soleTenancyPreferences": {
          "$ref": "SoleTenancyPreferences",
          "description": "Preferences concerning Sole Tenant nodes and virtual machines."
        },
        "targetProduct": {
          "type": "string",
          "description": "Target product for assets using this preference set. Specify either target product or business goal, but not both.",
          "enum": [
            "COMPUTE_MIGRATION_TARGET_PRODUCT_UNSPECIFIED",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_COMPUTE_ENGINE",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_VMWARE_ENGINE",
            "COMPUTE_MIGRATION_TARGET_PRODUCT_SOLE_TENANCY"
          ],
          "enumDescriptions": [
            "Unspecified (default value).",
            "Prefer to migrate to Google Cloud Compute Engine.",
            "Prefer to migrate to Google Cloud VMware Engine.",
            "Prefer to migrate to Google Cloud Sole Tenant Nodes."
          ]
        },
        "computeEnginePreferences": {
          "$ref": "ComputeEnginePreferences",
          "description": "Optional. Compute Engine preferences concern insights and recommendations for Compute Engine target."
        },
        "vmwareEnginePreferences": {
          "description": "Preferences concerning insights and recommendations for Google Cloud VMware Engine.",
          "$ref": "VmwareEnginePreferences"
        },
        "sizingOptimizationStrategy": {
          "enum": [
            "SIZING_OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "SIZING_OPTIMIZATION_STRATEGY_SAME_AS_SOURCE",
            "SIZING_OPTIMIZATION_STRATEGY_MODERATE",
            "SIZING_OPTIMIZATION_STRATEGY_AGGRESSIVE",
            "SIZING_OPTIMIZATION_STRATEGY_CUSTOM"
          ],
          "enumDescriptions": [
            "Unspecified (default value).",
            "No optimization applied. Virtual machine sizing matches as closely as possible the machine shape on the source site, not considering any actual performance data.",
            "Virtual machine sizing will match the reported usage and shape, with some slack. This a good value to start with.",
            "Virtual machine sizing will match the reported usage, with little slack. Using this option can help reduce costs.",
            "Virtual machine sizing will be determined by custom parameters. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "description": "Sizing optimization strategy specifies the preferred strategy used when extrapolating usage data to calculate insights and recommendations for a virtual machine. If you are unsure which value to set, a moderate sizing optimization strategy is often a good value to start with.",
          "type": "string"
        },
        "sizingOptimizationCustomParameters": {
          "description": "Optional. Custom data to use for sizing optimizations. Relevant when SizingOptimizationStrategy is set to \"custom\".",
          "$ref": "VirtualMachinePreferencesSizingOptimizationCustomParameters"
        },
        "networkCostParameters": {
          "$ref": "VirtualMachinePreferencesNetworkCostParameters",
          "description": "Optional. Parameters that affect network cost estimations. If not set, default values will be used for the parameters."
        },
        "estimatedUsage": {
          "$ref": "EstimatedUsage",
          "description": "Optional. Estimated usage data for missing usage data. If performance data is available, it overrides this field. If not set, default values will be used for the usage data."
        },
        "regionPreferences": {
          "description": "Region preferences for assets using this preference set. If you are unsure which value to set, the migration service API region is often a good value to start with. If PreferenceSet.RegionPreferences is specified, it overrides this field.",
          "$ref": "RegionPreferences"
        },
        "commitmentPlan": {
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "COMMITMENT_PLAN_NONE",
            "COMMITMENT_PLAN_ONE_YEAR",
            "COMMITMENT_PLAN_THREE_YEARS",
            "COMMITMENT_PLAN_FLEXIBLE_ONE_YEAR",
            "COMMITMENT_PLAN_FLEXIBLE_THREE_YEARS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan.",
            "1-year regular committed use discount.",
            "3-year regular committed use discount.",
            "1-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API.",
            "3-year flexible committed use discount. While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with."
        }
      },
      "description": "VirtualMachinePreferences enables you to create sets of preferences, for example, a geographical location and pricing track, for your migrated virtual machines. The set of preferences influence recommendations for migrating virtual machine assets.",
      "type": "object",
      "id": "VirtualMachinePreferences"
    },
    "CpuUsageSample": {
      "description": "CPU usage sample.",
      "id": "CpuUsageSample",
      "properties": {
        "utilizedPercentage": {
          "format": "float",
          "type": "number",
          "description": "Percentage of total CPU capacity utilized. Must be in the interval [0, 100]. On most systems can be calculated using 100 - idle percentage."
        }
      },
      "type": "object"
    },
    "RunImportJobRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "description": "A request to run an import job.",
[...]
