{
  "ownerName": "Google",
  "title": "Migration Center API",
  "mtlsRootUrl": "https://migrationcenter.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20260820",
  "version": "v1alpha1",
  "description": "A unified platform that helps you accelerate your end-to-end cloud journey from your current on-premises or cloud environments to Google Cloud.",
  "baseUrl": "https://migrationcenter.googleapis.com/",
  "kind": "discovery#restDescription",
  "canonicalName": "Migration Center API",
  "discoveryVersion": "v1",
  "version_module": true,
  "protocol": "rest",
  "schemas": {
    "VirtualMachineArchitectureDetails": {
      "properties": {
        "vendor": {
          "type": "string",
          "description": "Hardware vendor."
        },
        "bios": {
          "$ref": "BiosDetails",
          "description": "BIOS Details."
        },
        "cpuArchitecture": {
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc.",
          "type": "string"
        },
        "hyperthreading": {
          "type": "string",
          "enum": [
            "HYPER_THREADING_UNSPECIFIED",
            "HYPER_THREADING_DISABLED",
            "HYPER_THREADING_ENABLED"
          ],
          "enumDescriptions": [
            "Unknown (default value).",
            "Hyperthreading is disabled.",
            "Hyperthreading is enabled."
          ],
          "description": "CPU hyperthreading support."
        },
        "cpuName": {
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc.",
          "type": "string"
        },
        "cpuManufacturer": {
          "type": "string",
          "description": "CPU manufacturer, e.g., \"Intel\", \"AMD\"."
        },
        "cpuSocketCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of processor sockets allocated to the machine."
        },
        "firmware": {
          "description": "Firmware (BIOS/efi).",
          "type": "string"
        },
        "cpuThreadCount": {
          "type": "integer",
          "deprecated": true,
          "format": "int32",
          "description": "Deprecated: use VirtualMachineDetails.core_count instead. Number of CPU threads allocated to the machine."
        }
      },
      "type": "object",
      "description": "Details of the VM architecture.",
      "id": "VirtualMachineArchitectureDetails"
    },
    "VirtualMachinePreferencesNetworkCostParameters": {
      "properties": {
        "estimatedEgressTrafficPercentage": {
          "description": "Optional. An estimated percentage of priced outbound traffic (egress traffic) from the measured outbound traffic. Must be in the interval [0, 100].",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "VirtualMachinePreferencesNetworkCostParameters",
      "description": "Parameters that affect network cost estimations."
    },
    "AwsS3BucketDetails": {
      "description": "Asset information specific for AWS S3 buckets.",
      "type": "object",
      "id": "AwsS3BucketDetails",
      "properties": {
        "storageClasses": {
          "description": "Optional. The storage classes in the bucket.",
          "items": {
            "$ref": "AwsS3BucketDetailsStorageClass"
          },
          "type": "array"
        },
        "versioning": {
          "description": "Optional. Versioning configuration of the bucket.",
          "$ref": "AwsS3BucketDetailsVersioning"
        },
        "objectsMetadata": {
          "description": "Optional. The metadata of the objects in the bucket.",
          "$ref": "AwsS3BucketDetailsObjectsMetadata"
        }
      }
    },
    "RunImportJobRequest": {
      "type": "object",
      "id": "RunImportJobRequest",
      "description": "A request to run an import job.",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "PostgreSqlDatabaseDeployment": {
      "type": "object",
      "description": "Specific details for a PostgreSQL database deployment.",
      "id": "PostgreSqlDatabaseDeployment",
      "properties": {
        "settings": {
          "type": "array",
          "items": {
            "$ref": "PostgreSqlSetting"
          },
          "description": "Optional. List of PostgreSql settings."
        },
        "properties": {
          "type": "array",
          "items": {
            "$ref": "PostgreSqlProperty"
          },
          "description": "Optional. List of PostgreSql properties."
        }
      }
    },
    "CloudDatabaseMigrationTarget": {
      "description": "Cloud database migration target.",
      "id": "CloudDatabaseMigrationTarget",
      "properties": {
        "cloudSqlForPostgresqlShape": {
          "description": "Cloud SQL for PostgreSQL database shape.",
          "$ref": "CloudSqlForPostgreSqlShape"
        },
        "cloudSqlShape": {
          "description": "Cloud SQL for SQL Server database shape.",
          "$ref": "CloudSqlForSqlServerShape"
        },
        "cloudSqlForMysqlShape": {
          "$ref": "CloudSqlForMySqlShape",
          "description": "Cloud SQL for MySQL database shape."
        }
      },
      "type": "object"
    },
    "DatabasePreferencesCloudSqlCommonBackup": {
      "id": "DatabasePreferencesCloudSqlCommonBackup",
      "description": "Preferences for database backups.",
      "properties": {
        "backupMode": {
          "enum": [
            "BACKUP_MODE_UNSPECIFIED",
            "BACKUP_MODE_DISABLED",
            "BACKUP_MODE_ENABLED"
          ],
          "type": "string",
          "description": "Optional. Automated backup mode.",
          "enumDescriptions": [
            "An unspecified database backup mode.",
            "Automatic backups disabled, no additional charges for storage.",
            "Automatic backups enabled, there will be additional charges for storage."
          ]
        }
      },
      "type": "object"
    },
    "GuestInstalledApplicationList": {
      "description": "Guest installed application list.",
      "type": "object",
      "id": "GuestInstalledApplicationList",
      "properties": {
        "entries": {
          "items": {
            "$ref": "GuestInstalledApplication"
          },
          "description": "Application entries.",
          "type": "array"
        }
      }
    },
    "ListImportJobsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "importJobs": {
          "type": "array",
          "items": {
            "$ref": "ImportJob"
          },
          "description": "The list of import jobs."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A response for listing import jobs.",
      "id": "ListImportJobsResponse"
    },
    "ListReportExportJobsResponse": {
      "properties": {
        "reportExportJobs": {
          "description": "Output only. The list of report export jobs.",
          "items": {
            "$ref": "ReportExportJob"
          },
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token identifying a page of results the server should return.",
          "readOnly": true
        }
      },
      "id": "ListReportExportJobsResponse",
      "description": "Response message for listing report export jobs.",
      "type": "object"
    },
    "AwsEc2PlatformDetails": {
      "description": "AWS EC2 specific details.",
      "id": "AwsEc2PlatformDetails",
      "type": "object",
      "properties": {
        "hyperthreading": {
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "description": "Optional. Whether the machine is hyperthreaded.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "The location of the machine in the AWS format."
        },
        "machineTypeLabel": {
          "description": "AWS platform's machine type label.",
          "type": "string"
        }
      }
    },
    "AwsAppSyncGraphqlApiDetails": {
      "description": "Asset information specific for AWS AppSync GraphQL APIs.",
      "id": "AwsAppSyncGraphqlApiDetails",
      "type": "object",
      "properties": {}
    },
    "ImportRowErrorCsvErrorDetails": {
      "id": "ImportRowErrorCsvErrorDetails",
      "type": "object",
      "description": "Error details for a CSV file.",
      "properties": {
        "rowNumber": {
          "type": "integer",
          "description": "The row number where the error was detected.",
          "format": "int32"
        }
      }
    },
    "ListRelationsResponse": {
      "description": "Response message for listing relations.",
      "type": "object",
      "id": "ListRelationsResponse",
      "properties": {
        "relations": {
          "type": "array",
          "items": {
            "$ref": "Relation"
          },
          "description": "A list of relations."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "HostingProviderDetails": {
      "description": "Details about the hosting platform of the asset.",
      "type": "object",
      "properties": {
        "originalId": {
          "description": "Optional. Unique identifier for the asset in the hosting provider.",
          "type": "string"
        },
        "location": {
          "$ref": "ResourceLocation",
          "description": "Optional. Location of the asset."
        },
        "displayName": {
          "description": "Optional. Display name of the asset.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Optional. The timestamp when resource was created in the hosting provider.",
          "type": "string"
        },
        "aws": {
          "$ref": "HostingProviderDetailsAws",
          "description": "Optional. The AWS platform details."
        }
      },
      "id": "HostingProviderDetails"
    },
    "ReportSummaryMachineFinding": {
      "id": "ReportSummaryMachineFinding",
      "type": "object",
      "properties": {
        "allocatedAssetCount": {
          "description": "Count of assets which were allocated.",
          "type": "string",
          "format": "int64"
        },
        "allocatedDiskTypes": {
          "deprecated": true,
          "items": {
            "enum": [
              "PERSISTENT_DISK_TYPE_UNSPECIFIED",
              "PERSISTENT_DISK_TYPE_STANDARD",
              "PERSISTENT_DISK_TYPE_BALANCED",
              "PERSISTENT_DISK_TYPE_SSD"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified. Fallback to default value based on context.",
              "Standard HDD Persistent Disk.",
              "Balanced Persistent Disk.",
              "SSD Persistent Disk."
            ]
          },
          "type": "array",
          "description": "@deprecated. Use storage_allocations instead. Set of disk types allocated to assets."
        },
        "allocatedRegions": {
          "description": "Set of regions in which the assets were allocated.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "machineSeriesAllocations": {
          "items": {
            "$ref": "ReportSummaryMachineSeriesAllocation"
          },
          "type": "array",
          "description": "Distribution of assets based on the Machine Series."
        }
      },
      "description": "A set of findings that applies to assets of type Virtual/Physical Machine."
    },
    "AssetsExportJobNetworkDependencies": {
      "properties": {},
      "id": "AssetsExportJobNetworkDependencies",
      "type": "object",
      "description": "Configuration for network dependencies exports."
    },
    "MysqlDatabaseDeployment": {
      "properties": {
        "properties": {
          "items": {
            "$ref": "MySqlProperty"
          },
          "description": "Optional. List of MySql properties.",
          "type": "array"
        },
        "plugins": {
          "description": "Optional. List of MySql plugins.",
          "type": "array",
          "items": {
            "$ref": "MySqlPlugin"
          }
        },
        "resourceGroupsCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Number of resource groups."
        },
        "variables": {
          "items": {
            "$ref": "MySqlVariable"
          },
          "type": "array",
          "description": "Optional. List of MySql variables."
        }
      },
      "type": "object",
      "id": "MysqlDatabaseDeployment",
      "description": "Specific details for a Mysql database deployment."
    },
    "RemoveAssetsFromGroupRequest": {
      "properties": {
        "allowMissing": {
          "description": "Optional. When this value is set to `false` and one of the given assets is not an existing member of the group, the operation fails with a `Not Found` error. When set to `true` this situation is silently ignored by the server. Default value is `false`.",
          "type": "boolean"
        },
        "assets": {
          "$ref": "AssetList",
          "description": "Required. List of assets to be removed. The maximum number of assets that can be removed in a single request is 1000."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "type": "object",
      "description": "A request to remove assets from a group.",
      "id": "RemoveAssetsFromGroupRequest"
    },
    "GCSPayloadInfo": {
      "id": "GCSPayloadInfo",
      "type": "object",
      "description": "A resource that represents a payload hosted on Google Cloud Storage.",
      "properties": {
        "path": {
          "type": "string",
          "description": "The payload path in Google Cloud Storage."
        },
        "format": {
          "type": "string",
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ],
          "description": "The import job format.",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the [AWS collection script](https://github.com/GoogleCloudPlatform/aws-to-stratozone-export).",
            "CSV format exported from Azure using the [Azure collection script](https://github.com/GoogleCloudPlatform/azure-to-stratozone-export).",
            "CSV format created manually. For more information, see [Manually create and upload data tables](https://cloud.google.com/migrate/stratozone/docs/import-data-portal).",
            "ZIP file with nested CSV files generated by a database collector."
          ]
        }
      }
    },
    "ReportSummaryVMWareNodeAllocation": {
      "type": "object",
      "id": "ReportSummaryVMWareNodeAllocation",
      "properties": {
        "allocatedAssetCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of assets allocated to these nodes"
        },
        "vmwareNode": {
          "$ref": "ReportSummaryVMWareNode",
          "description": "VMWare node type, e.g. \"ve1-standard-72\""
        },
        "nodeCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of this node type to be provisioned"
        }
      },
      "description": "Represents assets allocated to a specific VMWare Node type."
    },
    "AggregateAssetsValuesRequest": {
      "type": "object",
      "properties": {
        "filter": {
          "description": "Optional. The aggregation will be performed on assets that match the provided filter.",
          "type": "string"
        },
        "aggregations": {
          "items": {
            "$ref": "Aggregation"
          },
          "description": "Array of aggregations to perform. Up to 25 aggregations can be defined.",
          "type": "array"
        },
        "showHidden": {
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden.",
          "type": "boolean"
        }
      },
      "description": "A request to aggregate one or more values.",
      "id": "AggregateAssetsValuesRequest"
    },
    "AwsElbLoadBalancerDetails": {
      "type": "object",
      "properties": {},
      "description": "Asset information specific for AWS Load Balancers.",
      "id": "AwsElbLoadBalancerDetails"
    },
    "PreferenceSet": {
      "description": "The preferences that apply to all assets in a given context.",
      "id": "PreferenceSet",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the preference set was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the PreferenceSet."
        },
        "regionPreferences": {
          "description": "Optional. Region preferences for assets using this preference set. If you are unsure which value to set, the migration service API region is often a good value to start with. If unspecified, VirtualMachinePreferences.RegionPreferences is used.",
          "$ref": "RegionPreferences"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the preference set was created.",
          "type": "string"
        },
        "databasePreferences": {
          "description": "Optional. A set of preferences that applies to all databases in the context.",
          "$ref": "DatabasePreferences"
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "virtualMachinePreferences": {
          "$ref": "VirtualMachinePreferences",
          "description": "A set of preferences that applies to all virtual machines in the context."
        },
        "description": {
          "type": "string",
          "description": "A description of the preference set."
        }
      },
      "type": "object"
    },
    "MachineDetails": {
      "description": "Details of a machine.",
      "properties": {
        "diskPartitions": {
          "description": "Optional. Disk partitions details. Note: Partitions are not necessarily mounted on local disks and therefore might not have a one-to-one correspondence with local disks.",
          "$ref": "DiskPartitionDetails"
        },
        "createTime": {
          "type": "string",
          "description": "Machine creation time.",
          "format": "google-datetime"
        },
        "memoryMb": {
          "type": "integer",
          "description": "The amount of memory in the machine. Must be non-negative.",
          "format": "int32"
        },
        "network": {
          "description": "Network details.",
          "$ref": "MachineNetworkDetails"
        },
        "disks": {
          "description": "Disk details.",
          "$ref": "MachineDiskDetails"
        },
        "architecture": {
          "description": "Architecture details (vendor, CPU architecture).",
          "$ref": "MachineArchitectureDetails"
        },
        "machineName": {
          "type": "string",
          "description": "Machine name."
        },
        "uuid": {
          "description": "Machine unique identifier.",
          "type": "string"
        },
        "powerState": {
          "type": "string",
          "enumDescriptions": [
            "Power state is unknown.",
            "The machine is preparing to enter the ACTIVE state. An instance may enter the PENDING state when it launches for the first time, or when it is started after being in the SUSPENDED state.",
            "The machine is active.",
            "The machine is being turned off.",
            "The machine is off.",
            "The machine is being deleted from the hosting platform.",
            "The machine is deleted from the hosting platform."
          ],
          "description": "Power state of the machine.",
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "DELETING",
            "DELETED"
          ]
        },
        "guestOs": {
          "$ref": "GuestOsDetails",
          "description": "Guest OS information."
        },
        "coreCount": {
          "description": "Number of logical CPU cores in the machine. Must be non-negative.",
          "type": "integer",
          "format": "int32"
        },
        "platform": {
          "description": "Platform specific information.",
          "$ref": "PlatformDetails"
        }
      },
      "id": "MachineDetails",
      "type": "object"
    },
    "AwsEksClusterDetails": {
      "type": "object",
      "id": "AwsEksClusterDetails",
      "properties": {},
      "description": "Asset information specific for AWS EKS clusters."
    },
    "SoftwareInsight": {
      "id": "SoftwareInsight",
      "type": "object",
      "description": "An insight regarding software detected on an asset.",
      "properties": {
        "detectedSoftware": {
          "readOnly": true,
          "$ref": "DetectedSoftware",
          "description": "Output only. Information about the detected software."
        }
      }
    },
    "ListAssetsResponse": {
      "type": "object",
      "id": "ListAssetsResponse",
      "description": "Response message for listing assets.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "assets": {
          "description": "A list of assets.",
          "type": "array",
          "items": {
            "$ref": "Asset"
          }
        }
      }
    },
    "PerformanceSample": {
      "description": "Performance data sample.",
      "type": "object",
      "properties": {
        "cpu": {
          "description": "CPU usage sample.",
          "$ref": "CpuUsageSample"
        },
        "network": {
          "description": "Network usage sample.",
          "$ref": "NetworkUsageSample"
        },
        "memory": {
          "$ref": "MemoryUsageSample",
          "description": "Memory usage sample."
        },
        "sampleTime": {
          "description": "Time the sample was collected. If omitted, the frame report time will be used.",
          "type": "string",
          "format": "google-datetime"
        },
        "disk": {
          "$ref": "DiskUsageSample",
          "description": "Disk usage sample."
        }
      },
      "id": "PerformanceSample"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "ListPreferenceSetsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "preferenceSets": {
          "type": "array",
          "items": {
            "$ref": "PreferenceSet"
          },
          "description": "The list of PreferenceSets"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "id": "ListPreferenceSetsResponse",
      "description": "Response message for listing preference sets.",
      "type": "object"
    },
    "DatabaseDeploymentDetails": {
      "properties": {
        "manualUniqueId": {
          "type": "string",
          "description": "A manual unique ID set by the user."
        },
        "sqlServer": {
          "$ref": "SqlServerDatabaseDeployment",
          "description": "Details of a Microsoft SQL Server database deployment."
        },
        "postgresql": {
          "description": "Details of a PostgreSQL database deployment.",
          "$ref": "PostgreSqlDatabaseDeployment"
        },
        "aggregatedStats": {
          "readOnly": true,
          "description": "Output only. Aggregated stats for the database deployment.",
          "$ref": "DatabaseDeploymentDetailsAggregatedStats"
        },
        "topology": {
          "$ref": "DatabaseDeploymentTopology",
          "description": "Details of the database deployment topology."
        },
        "awsRds": {
          "$ref": "AwsRds",
          "description": "Optional. Details of an AWS RDS instance."
        },
        "generatedId": {
          "description": "The database deployment generated ID.",
          "type": "string"
        },
        "edition": {
          "description": "The database deployment edition.",
          "type": "string"
        },
        "mysql": {
          "$ref": "MysqlDatabaseDeployment",
          "description": "Details of a MYSQL database deployment."
        },
        "version": {
          "description": "The database deployment version.",
          "type": "string"
        }
      },
      "id": "DatabaseDeploymentDetails",
      "type": "object",
      "description": "The details of a database deployment asset."
    },
    "NetworkUsageSample": {
      "description": "Network usage sample. Values are across all network interfaces.",
      "type": "object",
      "id": "NetworkUsageSample",
      "properties": {
        "averageIngressBps": {
          "format": "float",
          "type": "number",
          "description": "Average network ingress in B/s sampled over a short window. Must be non-negative."
        },
        "averageEgressBps": {
          "type": "number",
          "format": "float",
          "description": "Average network egress in B/s sampled over a short window. Must be non-negative."
        }
      }
    },
    "Selinux": {
      "description": "SELinux details.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Is SELinux enabled.",
          "type": "boolean"
        },
        "mode": {
          "description": "SELinux mode disabled / enforcing / permissive.",
          "type": "string"
        }
      },
      "id": "Selinux"
    },
    "AwsRds": {
      "description": "Specific details for an AWS RDS database deployment.",
      "type": "object",
      "properties": {},
      "id": "AwsRds"
    },
    "RunAssetsExportJobResponse": {
      "id": "RunAssetsExportJobResponse",
      "properties": {
        "assetsExportJobExecution": {
          "description": "Output only. Execution status of the assets export operation.",
          "readOnly": true,
          "$ref": "AssetsExportJobExecution"
        }
      },
      "type": "object",
      "description": "Response message for running an assets export job."
    },
    "AwsSnsTopicDetails": {
      "type": "object",
      "id": "AwsSnsTopicDetails",
      "description": "Asset information specific for AWS SNS Topics.",
      "properties": {}
    },
    "ImportRowErrorXlsxErrorDetails": {
      "id": "ImportRowErrorXlsxErrorDetails",
      "properties": {
        "rowNumber": {
          "type": "integer",
          "description": "The row number where the error was detected.",
          "format": "int32"
        },
        "sheet": {
          "description": "The name of the sheet where the error was detected.",
          "type": "string"
        }
      },
      "description": "Error details for an XLSX file.",
      "type": "object"
    },
    "ComputeEngineShapeDescriptor": {
      "type": "object",
      "id": "ComputeEngineShapeDescriptor",
      "properties": {
        "storage": {
          "items": {
            "$ref": "ComputeStorageDescriptor"
          },
          "description": "Output only. Compute Engine storage. Never empty.",
          "readOnly": true,
          "type": "array"
        },
        "machineType": {
          "description": "Output only. Compute Engine machine type.",
          "readOnly": true,
          "type": "string"
        },
        "smtEnabled": {
          "type": "boolean",
          "description": "Output only. Whether simultaneous multithreading is enabled. See https://cloud.google.com/compute/docs/instances/set-threads-per-core.",
          "readOnly": true
        },
        "memoryMb": {
          "readOnly": true,
          "description": "Output only. Memory in mebibytes.",
          "format": "int32",
          "type": "integer"
        },
        "series": {
          "type": "string",
          "description": "Output only. Compute Engine machine series.",
          "readOnly": true
        },
        "logicalCoreCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of logical cores."
        },
        "physicalCoreCount": {
          "type": "integer",
          "description": "Output only. Number of physical cores.",
          "format": "int32",
          "readOnly": true
        }
      },
      "description": "Compute Engine target shape descriptor."
    },
    "AwsGlueJobDetails": {
      "type": "object",
      "description": "Contains details for an AWS Glue Job asset.",
      "id": "AwsGlueJobDetails",
      "properties": {}
    },
    "XlsxOutputFile": {
      "type": "object",
      "description": "Contains a single output file of type XLSX.",
      "properties": {
        "signedUri": {
          "description": "Output only. Signed URI destination.",
          "$ref": "SignedUri",
          "readOnly": true
        }
      },
      "id": "XlsxOutputFile"
    },
    "NfsExport": {
      "type": "object",
      "properties": {
        "hosts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The hosts or networks to which the export is being shared."
        },
        "exportDirectory": {
          "description": "The directory being exported.",
          "type": "string"
        }
      },
      "id": "NfsExport",
      "description": "NFS export."
    },
    "DatabaseDetails": {
      "properties": {
        "parentDatabaseDeployment": {
          "description": "The parent database deployment that contains the logical database.",
          "$ref": "DatabaseDetailsParentDatabaseDeployment"
        },
        "databaseName": {
          "type": "string",
          "description": "The name of the database."
        },
        "allocatedStorageBytes": {
          "format": "int64",
          "description": "The allocated storage for the database in bytes.",
          "type": "string"
        },
        "schemas": {
          "type": "array",
          "description": "The database schemas.",
          "items": {
            "$ref": "DatabaseSchema"
          }
        }
      },
      "type": "object",
      "id": "DatabaseDetails",
      "description": "Details of a logical database."
    },
    "AwsAutoscalingGroupDetails": {
      "type": "object",
      "properties": {},
      "description": "Asset information specific for AWS Autoscaling Group.",
      "id": "AwsAutoscalingGroupDetails"
    },
    "EstimatedUsage": {
      "properties": {
        "estimatedCpuPercentage": {
          "type": "number",
          "format": "float",
          "description": "Optional. Estimated CPU utilization percentage. Must be in the range [1, 100]."
        },
        "estimatedMemoryPercentage": {
          "format": "float",
          "type": "number",
          "description": "Optional. Estimated memory utilization percentage. Must be in the range [1, 100]."
        },
        "estimatedDiskPercentage": {
          "type": "number",
          "format": "float",
          "description": "Optional. Estimated disk utilization percentage. Must be in the range [1, 100]."
        }
      },
      "type": "object",
      "id": "EstimatedUsage",
      "description": "Estimated usage data."
    },
    "ListErrorFramesResponse": {
      "type": "object",
      "id": "ListErrorFramesResponse",
      "description": "A response for listing error frames.",
      "properties": {
        "errorFrames": {
          "type": "array",
          "description": "The list of error frames.",
          "items": {
            "$ref": "ErrorFrame"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "DailyResourceUsageAggregationMemory": {
      "type": "object",
      "description": "Statistical aggregation of memory usage.",
      "properties": {
        "utilizationPercentage": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "Memory utilization percentage."
        }
      },
      "id": "DailyResourceUsageAggregationMemory"
    },
    "AwsS3BucketDetailsVersioning": {
      "description": "Versioning configuration of the bucket.",
      "type": "object",
      "id": "AwsS3BucketDetailsVersioning",
      "properties": {
        "enabled": {
          "description": "Optional. Whether versioning is enabled.",
          "type": "boolean"
        }
      }
    },
    "ReportSummaryHistogramChartDataBucket": {
      "type": "object",
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.",
      "id": "ReportSummaryHistogramChartDataBucket",
      "properties": {
        "lowerBound": {
          "description": "Lower bound - inclusive.",
          "type": "string",
          "format": "int64"
        },
        "upperBound": {
          "type": "string",
          "format": "int64",
          "description": "Upper bound - exclusive."
        },
        "count": {
          "format": "int64",
          "type": "string",
          "description": "Count of items in the bucket."
        }
      }
    },
    "CpuUsageSample": {
      "properties": {
        "utilizedPercentage": {
          "format": "float",
          "type": "number",
          "description": "Percentage of total CPU capacity utilized. Must be in the interval [0, 100]. On most systems can be calculated using 100 - idle percentage."
        }
      },
      "type": "object",
      "id": "CpuUsageSample",
      "description": "CPU usage sample."
    },
    "AggregationResultFrequency": {
      "type": "object",
      "id": "AggregationResultFrequency",
      "description": "The result of a frequency distribution aggregation.",
      "properties": {
        "values": {
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "AggregationResultSum": {
      "description": "The result of a sum aggregation.",
      "properties": {
        "value": {
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "id": "AggregationResultSum"
    },
    "DatabasePreferencesCloudSqlSqlServer": {
      "type": "object",
      "description": "Preferences for SQL Server on Cloud SQL.",
      "properties": {
        "common": {
          "$ref": "DatabasePreferencesCloudSqlCommon",
          "description": "Optional. Preferences to Cloud SQL databases."
        },
        "versionType": {
          "description": "Optional. Edition of Microsoft SQL version that is used on a Cloud SQL for SQL server instance.",
          "type": "string",
          "enum": [
            "VERSION_TYPE_UNSPECIFIED",
            "VERSION_TYPE_AUTO",
            "VERSION_TYPE_EXPRESS",
            "VERSION_TYPE_WEB",
            "VERSION_TYPE_STANDARD",
            "VERSION_TYPE_ENTERPRISE"
          ],
          "enumDescriptions": [
            "Unspecified SQL Server version type.",
            "Version will be deduced from the source asset.",
            "Version will be one of \"Express\" versions.",
            "Version will be one of \"Web\" versions.",
            "Version will be one of \"Standard\" versions.",
            "Version will be one of \"Enterprise\" versions."
          ]
        },
        "multithreading": {
          "type": "string",
          "enum": [
            "MULTITHREADING_UNSPECIFIED",
            "MULTITHREADING_DISABLED",
            "MULTITHREADING_ENABLED",
            "MULTITHREADING_DISABLED_WITH_COMPENSATION"
          ],
          "description": "Optional. Preferences for multithreading support.",
          "enumDescriptions": [
            "Same as MULTITHREADING_AUTO.",
            "Disable simultaneous multithreading.",
            "Enable simultaneous multithreading.",
            "Disable simultaneous multithreading and increase number of VCPUs to compensate."
          ]
        }
      },
      "id": "DatabasePreferencesCloudSqlSqlServer"
    },
    "AssetsExportJobInventory": {
      "description": "Configuration for asset inventory details exports.",
      "type": "object",
      "id": "AssetsExportJobInventory",
      "properties": {}
    },
    "VirtualMachinePreferencesSizingOptimizationCustomParameters": {
      "type": "object",
      "properties": {
        "memoryUsagePercentage": {
          "description": "Optional. Desired percentage of memory usage. Must be in the interval [1, 100] (or 0 for default value).",
          "format": "int32",
          "type": "integer"
        },
        "aggregationMethod": {
          "enumDescriptions": [
            "Unspecified aggregation method. Can be used for default value.",
            "Average of utilization data.",
            "Median of utilization data.",
            "95th percentile of utilization data.",
            "Peak of utilization data."
          ],
          "type": "string",
          "enum": [
            "AGGREGATION_METHOD_UNSPECIFIED",
            "AGGREGATION_METHOD_AVERAGE",
            "AGGREGATION_METHOD_MEDIAN",
            "AGGREGATION_METHOD_NINETY_FIFTH_PERCENTILE",
            "AGGREGATION_METHOD_PEAK"
          ],
          "description": "Optional. Type of statistical aggregation of a resource utilization data, on which to base the sizing metrics."
        },
        "cpuUsagePercentage": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Desired percentage of CPU usage. Must be in the interval [1, 100] (or 0 for default value)."
        },
        "storageMultiplier": {
          "type": "number",
          "description": "Optional. Desired increase factor of storage, relative to currently used storage. Must be in the interval [1.0, 2.0] (or 0 for default value).",
          "format": "double"
        }
      },
      "id": "VirtualMachinePreferencesSizingOptimizationCustomParameters",
      "description": "Custom data to use for sizing optimizations."
    },
    "MachineSeries": {
      "description": "A machine series, for a target product (e.g. Compute Engine, Google Cloud VMware Engine).",
      "properties": {
        "code": {
          "description": "Code to identify a machine series. Consult this for more details on the available series for Compute Engine: https://cloud.google.com/compute/docs/machine-resource#machine_type_comparison Consult this for more details on the available series for Google Cloud VMware Engine: https://cloud.google.com/vmware-engine/pricing",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MachineSeries"
    },
    "ReportSummaryVMWareNode": {
      "description": "A VMWare Engine Node",
      "type": "object",
      "id": "ReportSummaryVMWareNode",
      "properties": {
        "code": {
          "type": "string",
          "description": "Code to identify VMware Engine node series, e.g. \"ve1-standard-72\". Based on the displayName of cloud.google.com/vmware-engine/docs/reference/rest/v1/projects.locations.nodeTypes"
        }
      }
    },
    "OpenFileList": {
      "id": "OpenFileList",
      "properties": {
        "entries": {
          "items": {
            "$ref": "OpenFileDetails"
          },
          "type": "array",
          "description": "Open file details entries."
        }
      },
      "description": "Open file list.",
      "type": "object"
    },
    "AssetsExportJobExportCondition": {
      "description": "Conditions for selecting assets to export.",
      "id": "AssetsExportJobExportCondition",
      "type": "object",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. Assets filter, supports the same syntax as asset listing."
        }
      }
    },
    "FileValidationReport": {
      "description": "A resource that aggregates the validation errors found in an import job file.",
      "id": "FileValidationReport",
      "properties": {
        "partialReport": {
          "description": "Flag indicating that processing was aborted due to maximum number of errors.",
          "type": "boolean"
        },
        "fileName": {
          "type": "string",
          "description": "The name of the file."
        },
        "rowErrors": {
          "description": "Partial list of rows that encountered validation error.",
          "items": {
            "$ref": "ImportRowError"
          },
          "type": "array"
        },
        "fileErrors": {
          "type": "array",
          "items": {
            "$ref": "ImportError"
          },
          "description": "List of file level errors."
        }
      },
      "type": "object"
    },
    "VmwarePlatformDetails": {
      "description": "VMware specific details.",
      "type": "object",
      "id": "VmwarePlatformDetails",
      "properties": {
        "esxVersion": {
          "description": "ESX version.",
          "type": "string"
        },
        "osid": {
          "description": "VMware os enum - https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html.",
          "type": "string"
        },
        "vcenterVersion": {
          "description": "vCenter version.",
          "type": "string"
        },
        "vcenterFolder": {
          "type": "string",
          "description": "Folder name in vCenter where asset resides."
        },
        "vcenterUri": {
          "type": "string",
          "description": "vCenter URI used in collection."
        },
        "esxHyperthreading": {
          "description": "Whether the ESX is hyperthreaded.",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ]
        },
        "vcenterVmId": {
          "description": "vCenter VM ID.",
          "type": "string"
        }
      }
    },
    "NetworkConnection": {
      "type": "object",
      "properties": {
        "remotePort": {
          "description": "Remote port.",
          "type": "integer",
          "format": "int32"
        },
        "localPort": {
          "description": "Local port.",
          "format": "int32",
          "type": "integer"
        },
        "protocol": {
          "type": "string",
          "description": "Connection protocol (e.g. TCP/UDP)."
        },
        "processName": {
          "description": "Process or service name.",
          "type": "string"
        },
        "state": {
          "description": "Connection state (e.g. CONNECTED).",
          "type": "string"
        },
        "pid": {
          "type": "string",
          "format": "int64",
          "description": "Process ID."
        },
        "localIpAddress": {
          "type": "string",
          "description": "Local IP address."
        },
        "remoteIpAddress": {
          "type": "string",
          "description": "Remote IP address."
        }
      },
      "id": "NetworkConnection"
    },
    "NetworkAddressList": {
      "id": "NetworkAddressList",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "description": "Network address entries.",
          "items": {
            "$ref": "NetworkAddress"
          }
        },
        "addresses": {
          "description": "Network address entries.",
          "type": "array",
          "items": {
            "$ref": "NetworkAddress"
          }
        }
      },
      "description": "List of allocated/assigned network addresses."
    },
    "ReportSummaryHistogramChartData": {
      "description": "A Histogram Chart shows a distribution of values into buckets, showing a count of values which fall into a bucket.",
      "id": "ReportSummaryHistogramChartData",
      "properties": {
        "buckets": {
          "items": {
            "$ref": "ReportSummaryHistogramChartDataBucket"
          },
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "AggregationResult": {
      "id": "AggregationResult",
      "properties": {
        "sum": {
          "$ref": "AggregationResultSum"
        },
        "frequency": {
          "$ref": "AggregationResultFrequency"
        },
        "count": {
          "$ref": "AggregationResultCount"
        },
        "histogram": {
          "$ref": "AggregationResultHistogram"
        },
        "field": {
          "type": "string"
        }
      },
      "type": "object",
      "description": "Message describing a result of an aggregation."
    },
    "MachineArchitectureDetails": {
      "properties": {
        "cpuName": {
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc.",
          "type": "string"
        },
        "bios": {
          "description": "BIOS Details.",
          "$ref": "BiosDetails"
        },
        "cpuSocketCount": {
          "description": "Number of processor sockets allocated to the machine.",
          "format": "int32",
          "type": "integer"
        },
        "cpuManufacturer": {
          "type": "string",
          "description": "Optional. CPU manufacturer, e.g., \"Intel\", \"AMD\"."
        },
        "vendor": {
          "description": "Hardware vendor.",
          "type": "string"
        },
        "hyperthreading": {
          "enum": [
            "CPU_HYPER_THREADING_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified or unknown.",
            "Hyper-threading is disabled.",
            "Hyper-threading is enabled."
          ],
          "description": "CPU hyper-threading support."
        },
        "cpuArchitecture": {
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc.",
          "type": "string"
        },
        "firmwareType": {
          "enumDescriptions": [
            "Unspecified or unknown.",
            "BIOS firmware.",
            "EFI firmware."
          ],
          "description": "Firmware type.",
          "type": "string",
          "enum": [
            "FIRMWARE_TYPE_UNSPECIFIED",
            "BIOS",
            "EFI"
          ]
        }
      },
      "type": "object",
      "description": "Details of the machine architecture.",
      "id": "MachineArchitectureDetails"
    },
    "ReportSummary": {
      "description": "Describes the Summary view of a Report, which contains aggregated values for all the groups and preference sets included in this Report.",
      "id": "ReportSummary",
      "type": "object",
      "properties": {
        "allAssetsStats": {
          "$ref": "ReportSummaryAssetAggregateStats",
          "description": "Aggregate statistics for unique assets across all the groups."
        },
        "databaseStats": {
          "readOnly": true,
          "description": "Output only. Aggregate statistics for unique database assets across all the groups.",
          "$ref": "ReportSummaryAssetAggregateStats"
        },
        "groupFindings": {
          "description": "Findings for each Group included in this report.",
          "items": {
            "$ref": "ReportSummaryGroupFinding"
          },
          "type": "array"
        },
        "virtualMachineStats": {
          "description": "Output only. Aggregate statistics for unique virtual machine assets across all the groups.",
          "readOnly": true,
          "$ref": "ReportSummaryAssetAggregateStats"
        }
      }
    },
    "OutputFile": {
      "properties": {
        "csvOutputFile": {
          "description": "Output only. CSV output file.",
          "readOnly": true,
          "$ref": "CsvOutputFile"
        },
        "xlsxOutputFile": {
          "$ref": "XlsxOutputFile",
          "readOnly": true,
          "description": "Output only. XLSX output file."
        },
        "fileSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Output only. File size in bytes.",
          "readOnly": true
        }
      },
      "description": "Contains a single output file.",
      "id": "OutputFile",
      "type": "object"
    },
    "VirtualMachineDetails": {
      "properties": {
        "diskPartitions": {
          "description": "Optional. Disk partitions details. Note: Partitions are not necessarily mounted on local disks and therefore might not have a one-to-one correspondence with local disks.",
          "$ref": "DiskPartitionDetails"
        },
        "vmArchitecture": {
          "description": "VM architecture details (vendor, cpu arch).",
          "$ref": "VirtualMachineArchitectureDetails"
        },
        "vmDisks": {
          "description": "VM disk details.",
          "$ref": "VirtualMachineDiskDetails"
        },
        "vmUuid": {
          "description": "Virtual Machine unique identifier.",
          "type": "string"
        },
        "osName": {
          "type": "string",
          "description": "The name of the operating system running on the VirtualMachine."
        },
        "powerState": {
          "description": "Power state of VM (poweredOn or poweredOff).",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "VM creation timestamp.",
          "type": "string"
        },
        "osVersion": {
          "type": "string",
          "description": "The version of the operating system running on the virtual machine."
        },
        "vmName": {
          "description": "Virtual Machine display name.",
          "type": "string"
        },
        "vcenterUrl": {
          "type": "string",
          "description": "vCenter URL used in collection."
        },
        "memoryMb": {
          "description": "The amount of memory in the VirtualMachine. Must be non-negative.",
          "format": "int32",
          "type": "integer"
        },
        "guestOs": {
          "description": "Guest OS information.",
          "$ref": "GuestOsDetails"
        },
        "vcenterFolder": {
          "type": "string",
          "description": "Folder name in vCenter where asset resides."
        },
        "platform": {
          "$ref": "PlatformDetails",
          "description": "Platform information."
        },
        "vmNetwork": {
          "description": "VM network details.",
          "$ref": "VirtualMachineNetworkDetails"
        },
        "osFamily": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Microsoft Windows Server and Desktop.",
            "Various Linux flavors.",
            "Non-Linux Unix flavors."
          ],
          "enum": [
            "OS_FAMILY_UNKNOWN",
            "OS_FAMILY_WINDOWS",
            "OS_FAMILY_LINUX",
            "OS_FAMILY_UNIX"
          ],
          "description": "What family the OS belong to, if known."
        },
        "coreCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of logical CPU cores in the VirtualMachine. Must be non-negative."
        },
        "vcenterVmId": {
          "description": "vCenter VM ID.",
          "type": "string"
        }
      },
      "description": "Details of a VirtualMachine.",
      "type": "object",
      "id": "VirtualMachineDetails"
    },
    "GoogleKubernetesEngineMigrationTarget": {
      "id": "GoogleKubernetesEngineMigrationTarget",
      "type": "object",
      "description": "GKE migration target.",
      "properties": {}
    },
    "AwsEcsClusterDetails": {
      "type": "object",
      "properties": {},
      "id": "AwsEcsClusterDetails",
      "description": "Details of an AWS ECS cluster."
    },
    "GuestOsDetails": {
      "type": "object",
      "description": "Information from Guest-level collections.",
      "properties": {
        "family": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Microsoft Windows Server and Desktop.",
            "Various Linux flavors.",
            "Non-Linux Unix flavors."
          ],
          "enum": [
            "OS_FAMILY_UNKNOWN",
            "OS_FAMILY_WINDOWS",
            "OS_FAMILY_LINUX",
            "OS_FAMILY_UNIX"
          ],
          "description": "What family the OS belong to, if known."
        },
        "config": {
          "description": "OS and app configuration.",
          "$ref": "GuestConfigDetails"
        },
        "osName": {
          "description": "The name of the operating system.",
          "type": "string"
        },
        "version": {
          "description": "The version of the operating system.",
          "type": "string"
        },
        "runtime": {
          "description": "Runtime information.",
          "$ref": "GuestRuntimeDetails"
        }
      },
      "id": "GuestOsDetails"
    },
    "ListReportConfigsResponse": {
      "id": "ListReportConfigsResponse",
      "type": "object",
      "properties": {
        "reportConfigs": {
          "type": "array",
          "items": {
            "$ref": "ReportConfig"
          },
          "description": "A list of report configs."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response message for listing report configs."
    },
    "Asset": {
      "description": "An asset represents a resource in your environment. Asset types include virtual machines and databases.",
      "type": "object",
      "id": "Asset",
      "properties": {
        "assignedGroups": {
          "readOnly": true,
          "description": "Output only. The list of groups that the asset is assigned to.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "hidden": {
          "description": "Optional. Indicates if the asset is hidden.",
          "type": "boolean"
        },
        "awsAutoscalingGroupDetails": {
          "$ref": "AwsAutoscalingGroupDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for AwsAutoscalingGroupDetails"
        },
        "hostingProviderDetails": {
          "$ref": "HostingProviderDetails",
          "readOnly": true,
          "description": "Output only. Details about the hosting provider of the asset."
        },
        "awsEcrRepositoryDetails": {
          "$ref": "AwsEcrRepositoryDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for AwsEcrRepositoryDetails"
        },
        "awsBatchComputeEnvironmentDetails": {
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS Batch Compute Environments.",
          "$ref": "AwsBatchComputeEnvironmentDetails"
        },
        "awsNatGatewayDetails": {
          "description": "Output only. Asset information specific for AwsNatGatewayDetails",
          "$ref": "AwsNatGatewayDetails",
          "readOnly": true
        },
        "awsInternetGatewayDetails": {
          "$ref": "AwsInternetGatewayDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS Internet Gateways."
        },
        "performanceData": {
          "description": "Performance data for the asset.",
          "$ref": "AssetPerformanceData"
        },
        "databaseDeploymentDetails": {
          "$ref": "DatabaseDeploymentDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for database deployments."
        },
        "awsKinesisStreamDetails": {
          "$ref": "AwsKinesisStreamDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for AwsKinesisStreamDetails"
        },
        "machineDetails": {
          "readOnly": true,
          "$ref": "MachineDetails",
          "description": "Output only. Asset information specific for virtual machines."
        },
        "virtualMachineDetails": {
          "readOnly": true,
          "$ref": "VirtualMachineDetails",
          "description": "Output only. Asset information specific for virtual machines."
        },
        "awsElasticNetworkInterfaceDetails": {
          "$ref": "AwsElasticNetworkInterfaceDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS Elastic Network Interfaces."
        },
        "awsRoute53HostedZoneDetails": {
          "readOnly": true,
          "description": "Output only. Asset information specific for AwsRoute53HostedZoneDetails",
          "$ref": "AwsRoute53HostedZoneDetails"
        },
        "awsLambdaFunctionDetails": {
          "description": "Output only. Asset information specific for AWS Lambda functions.",
          "readOnly": true,
          "$ref": "AwsLambdaFunctionDetails"
        },
        "awsEcsClusterDetails": {
          "description": "Output only. Asset information specific for AWS ECS clusters.",
          "$ref": "AwsEcsClusterDetails",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "awsRedshiftDetails": {
          "$ref": "AwsRedshiftDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS Redshift"
        },
        "structuredAttributes": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Generic structured asset attributes.",
          "type": "object"
        },
        "awsElasticacheClusterDetails": {
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS ElastiCache Clusters.",
          "$ref": "AwsElastiCacheClusterDetails"
        },
        "awsVpcDetails": {
          "description": "Output only. Asset information specific for AWS VPCs.",
          "$ref": "AwsVpcDetails",
          "readOnly": true
        },
        "awsGlueJobDetails": {
          "$ref": "AwsGlueJobDetails",
          "description": "Output only. Asset information specific for AwsGlueJobDetails",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The timestamp when the asset was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "awsCloudFrontDistributionDetails": {
          "readOnly": true,
          "$ref": "AwsCloudFrontDistributionDetails",
          "description": "Output only. Asset information specific for AWS CloudFront distributions."
        },
        "name": {
          "description": "Output only. The full name of the asset.",
          "readOnly": true,
          "type": "string"
        },
        "awsElasticIpAddressDetails": {
          "description": "Output only. Asset information specific for AWS Elastic IP Addresses.",
          "$ref": "AwsElasticIpAddressDetails",
          "readOnly": true
        },
        "sources": {
          "description": "Output only. The list of sources contributing to the asset.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "databaseDetails": {
          "readOnly": true,
          "description": "Output only. Asset information specific for logical databases.",
          "$ref": "DatabaseDetails"
        },
        "awsEmrClusterDetails": {
          "readOnly": true,
          "description": "Output only. Asset information specific for AwsEmrClusterDetails",
          "$ref": "AwsEmrClusterDetails"
        },
        "awsApplicationLoadBalancerDetails": {
          "$ref": "AwsApplicationLoadBalancerDetails",
          "description": "Output only. Asset information specific for AWS Application Load Balancers.",
          "readOnly": true
        },
        "awsS3BucketDetails": {
          "$ref": "AwsS3BucketDetails",
          "description": "Output only. Asset information specific for AWS S3 buckets.",
          "readOnly": true
        },
        "awsAppSyncGraphqlApiDetails": {
          "$ref": "AwsAppSyncGraphqlApiDetails",
          "description": "Output only. Asset information specific for AWS AppSync GraphQL APIs.",
          "readOnly": true
        },
        "awsEfsFileSystemDetails": {
          "readOnly": true,
          "$ref": "AwsEfsFileSystemDetails",
          "description": "Output only. Asset information specific for AWS EFS file systems."
        },
        "awsSnsTopicDetails": {
          "$ref": "AwsSnsTopicDetails",
          "description": "Output only. Asset information specific for AWS SNS Topics.",
          "readOnly": true
        },
        "awsApiGatewayRestApiDetails": {
          "description": "Output only. Asset information specific for AWS API Gateway REST APIs.",
          "readOnly": true,
          "$ref": "AwsApiGatewayRestApiDetails"
        },
        "hideTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the asset was marked as hidden."
        },
        "insightList": {
          "readOnly": true,
          "description": "Output only. The list of insights associated with the asset.",
          "$ref": "InsightList"
        },
        "awsEbsVolumeDetails": {
          "$ref": "AwsEbsVolumeDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS EBS Volumes."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the asset was last updated.",
          "readOnly": true
        },
        "awsFirehoseDetails": {
          "description": "Output only. Asset information specific for AwsFirehoseDetails",
          "$ref": "AwsFirehoseDetails",
          "readOnly": true
        },
        "hideReason": {
          "type": "string",
          "description": "Optional. An optional reason for marking this asset as hidden."
        },
        "attributes": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Generic asset attributes."
        },
        "title": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server generated human readable name of the asset."
        },
        "awsDynamodbTableDetails": {
          "readOnly": true,
          "$ref": "AwsDynamoDBTableDetails",
          "description": "Output only. Asset information specific for AWS DynamoDB tables."
        },
        "awsEksClusterDetails": {
          "$ref": "AwsEksClusterDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS EKS clusters."
        },
        "awsAthenaWorkGroupDetails": {
          "$ref": "AwsAthenaWorkGroupDetails",
          "description": "Output only. Asset information specific for AwsAthenaWorkGroupDetails",
          "readOnly": true
        },
        "awsElbLoadBalancerDetails": {
          "readOnly": true,
          "$ref": "AwsElbLoadBalancerDetails",
          "description": "Output only. Asset information specific for AWS Load Balancers."
        }
      }
    },
    "ComputeStorageDescriptor": {
      "type": "object",
      "description": "Compute Engine storage option descriptor.",
      "properties": {
        "type": {
          "description": "Output only. Disk type backing the storage.",
          "type": "string",
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ],
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "readOnly": true
        },
        "sizeGb": {
          "description": "Disk size in GiB.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ComputeStorageDescriptor"
    },
    "SignedUri": {
      "type": "object",
      "description": "Contains a signed URI.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Output only. Download URI for the file.",
          "readOnly": true
        },
        "file": {
          "description": "Output only. Name of the file the Signed URI references.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "SignedUri"
    },
    "OpenFileDetails": {
      "description": "Open file Information.",
      "type": "object",
      "id": "OpenFileDetails",
      "properties": {
        "user": {
          "type": "string",
          "description": "Opened file user."
        },
        "command": {
          "description": "Opened file command.",
          "type": "string"
        },
        "fileType": {
          "type": "string",
          "description": "Opened file file type."
        },
        "filePath": {
          "description": "Opened file file path.",
          "type": "string"
        }
      }
    },
    "RuntimeNetworkInfo": {
      "properties": {
        "netstatTime": {
          "description": "Netstat time collected.",
          "$ref": "DateTime"
        },
        "scanTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time of the last network scan."
        },
        "netstat": {
          "type": "string",
          "description": "Netstat (raw, OS-agnostic)."
        },
        "rawScanResult": {
          "description": "Raw network scan result. This field is intended for human inspection. The format of this field may be netstat output or any another raw output. The exact format may change without notice and should not be relied upon.",
          "type": "string"
        },
        "connections": {
          "$ref": "NetworkConnectionList",
          "description": "Network connections."
        }
      },
      "type": "object",
      "description": "Runtime networking information.",
      "id": "RuntimeNetworkInfo"
    },
    "CsvOutputFile": {
      "description": "Contains a single output file of type CSV.",
      "id": "CsvOutputFile",
      "properties": {
        "rowCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of rows in the file.",
          "type": "integer"
        },
        "signedUri": {
          "readOnly": true,
          "$ref": "SignedUri",
          "description": "Output only. Signed URI destination."
        },
        "columnsCount": {
          "description": "Output only. Number of columns in the file.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "type": "object"
    },
    "DailyResourceUsageAggregationDisk": {
      "description": "Statistical aggregation of disk usage.",
      "id": "DailyResourceUsageAggregationDisk",
      "properties": {
        "readIops": {
          "description": "Disk read I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "writeIops": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "Disk write I/O operations per second."
        },
        "iops": {
          "description": "Disk I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      },
      "type": "object"
    },
    "IssueCompatibilityIssue": {
      "id": "IssueCompatibilityIssue",
      "properties": {
        "associatedObject": {
          "readOnly": true,
          "description": "Output only. Name of the object associated with this compatibility issue relative to the relevant asset. Does not represent a fully qualified resource name and is not intended for programmatic use.",
          "type": "string"
        },
        "associatedValue": {
          "type": "string",
          "description": "Output only. A string representation of actual value associated with this issue. Some values may contain aggregated information, such as a flag name and the actual value assigned to it.",
          "readOnly": true
        },
        "associatedObjectType": {
          "readOnly": true,
          "enumDescriptions": [
            "An unspecified object type.",
            "A database deployment object type.",
            "A logical database object type.",
            "A schema object type."
          ],
          "description": "Output only. Type of object associated with this migration compatibility issue.",
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "DATABASE_DEPLOYMENT",
            "DATABASE",
            "SCHEMA"
          ],
          "type": "string"
        },
        "category": {
          "enumDescriptions": [
            "An unspecified compatibility category.",
            "Database flag compatibility category.",
            "Database feature compatibility category."
          ],
          "type": "string",
          "description": "Output only. Category of this compatibility issue.",
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "DATABASE_FLAG",
            "DATABASE_FEATURE"
          ],
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Details about a compatibility issue."
    },
    "DatabaseDetailsParentDatabaseDeployment": {
      "description": "The identifiers of the parent database deployment.",
      "type": "object",
      "id": "DatabaseDetailsParentDatabaseDeployment",
      "properties": {
        "generatedId": {
          "description": "The parent database deployment generated ID.",
          "type": "string"
        },
        "manualUniqueId": {
          "description": "The parent database deployment optional manual unique ID set by the user.",
          "type": "string"
        }
      }
    },
    "GuestRuntimeDetails": {
      "description": "Guest OS runtime information.",
      "type": "object",
      "id": "GuestRuntimeDetails",
      "properties": {
        "machineName": {
          "type": "string",
          "description": "Machine name."
        },
        "services": {
          "description": "Running background services.",
          "$ref": "RunningServiceList"
        },
        "domain": {
          "type": "string",
          "description": "Domain, e.g. c.stratozone-development.internal."
        },
        "installedApps": {
          "$ref": "GuestInstalledApplicationList",
          "description": "Installed applications information."
        },
        "lastBootTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last time the OS was booted."
        },
        "lastUptime": {
          "description": "Date since last booted (last uptime date).",
          "$ref": "Date"
        },
        "networkInfo": {
          "description": "Runtime network information (connections, ports).",
          "$ref": "RuntimeNetworkInfo"
        },
        "processes": {
          "description": "Running processes.",
          "$ref": "RunningProcessList"
        },
        "openFileList": {
          "description": "Open files information.",
          "$ref": "OpenFileList"
        }
      }
    },
    "ImportJob": {
      "properties": {
        "executionReport": {
          "readOnly": true,
          "$ref": "ExecutionReport",
          "description": "Output only. The report with the results of running the import job."
        },
        "assetSource": {
          "description": "Required. Reference to a source.",
          "type": "string"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "state": {
          "description": "Output only. The state of the import job.",
          "readOnly": true,
          "enum": [
            "IMPORT_JOB_STATE_UNSPECIFIED",
            "IMPORT_JOB_STATE_PENDING",
            "IMPORT_JOB_STATE_RUNNING",
            "IMPORT_JOB_STATE_COMPLETED",
            "IMPORT_JOB_STATE_FAILED",
            "IMPORT_JOB_STATE_VALIDATING",
            "IMPORT_JOB_STATE_FAILED_VALIDATION",
            "IMPORT_JOB_STATE_READY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The import job is pending.",
            "The processing of the import job is ongoing.",
            "The import job processing has completed.",
            "The import job failed to be processed.",
            "The import job is being validated.",
            "The import job contains blocking errors.",
            "The validation of the job completed with no blocking errors."
          ]
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name. Maximum length is 63 characters."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the import job was created.",
          "type": "string"
        },
        "gcsPayload": {
          "$ref": "GCSPayloadInfo",
          "deprecated": true,
          "description": "The payload is in Google Cloud Storage."
        },
        "completeTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the import job was completed.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the import job was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Output only. The full name of the import job.",
          "readOnly": true,
          "type": "string"
        },
        "validationReport": {
          "description": "Output only. The report with the validation results of the import job.",
          "readOnly": true,
          "$ref": "ValidationReport"
        },
        "inlinePayload": {
          "$ref": "InlinePayloadInfo",
          "description": "The payload is included in the request, mainly used for small import jobs."
        }
      },
      "type": "object",
      "id": "ImportJob",
      "description": "A resource that represents the background job that imports asset frames."
    },
    "DiskUsageSample": {
      "properties": {
        "averageWriteIops": {
          "format": "float",
          "description": "Average write IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored.",
          "type": "number"
        },
        "averageReadIops": {
          "type": "number",
          "format": "float",
          "description": "Average read IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored."
        },
        "averageIops": {
          "type": "number",
          "description": "Average IOPS sampled over a short window. Must be non-negative. If read or write are set, the sum of read and write will override the value of the average_iops.",
          "format": "float"
        }
      },
      "id": "DiskUsageSample",
      "type": "object",
      "description": "Disk usage sample. Values are across all disks."
    },
    "ReportSummaryAssetAggregateStats": {
      "id": "ReportSummaryAssetAggregateStats",
      "description": "Aggregate statistics for a collection of assets.",
      "properties": {
        "totalStorageBytes": {
          "format": "int64",
          "type": "string",
          "description": "Sum of persistent storage in bytes of all the assets in this collection."
        },
        "storageUtilization": {
          "$ref": "ReportSummaryChartData",
          "description": "Total storage split into Used/Free buckets.",
          "deprecated": true
        },
        "estimatedUsageStats": {
          "readOnly": true,
          "description": "Output only. Estimated usage stats for the assets in this collection.",
          "$ref": "ReportSummaryAssetAggregateStatsEstimatedUsageStats"
        },
        "memoryUtilizationChart": {
          "description": "Total memory split into Used/Free buckets.",
          "$ref": "ReportSummaryUtilizationChartData"
        },
        "totalAssets": {
          "type": "string",
          "format": "int64",
          "description": "Count of the number of unique assets in this collection."
        },
        "memoryBytesHistogram": {
          "description": "Histogram showing a distribution of memory sizes.",
          "$ref": "ReportSummaryHistogramChartData"
        },
        "storageUtilizationChart": {
          "$ref": "ReportSummaryUtilizationChartData",
          "description": "Total memory split into Used/Free buckets."
        },
        "coreCountHistogram": {
          "description": "Histogram showing a distribution of logical CPU core counts.",
          "$ref": "ReportSummaryHistogramChartData"
        },
        "memoryUtilization": {
          "$ref": "ReportSummaryChartData",
          "description": "Total memory split into Used/Free buckets.",
          "deprecated": true
        },
        "operatingSystem": {
          "description": "Count of assets grouped by Operating System families. Only present for virtual machines.",
          "$ref": "ReportSummaryChartData"
        },
        "storageBytesHistogram": {
          "description": "Histogram showing a distribution of storage sizes.",
          "$ref": "ReportSummaryHistogramChartData"
        },
        "totalCores": {
          "format": "int64",
          "type": "string",
          "description": "Sum of the CPU core count of all the assets in this collection."
        },
        "assetAge": {
          "$ref": "ReportSummaryChartData",
          "deprecated": true,
          "description": "Count of assets grouped by age."
        },
        "softwareInstances": {
          "readOnly": true,
          "$ref": "ReportSummaryChartData",
          "description": "Output only. Count of assets grouped by software name. Only present for virtual machines."
        },
        "totalMemoryBytes": {
          "format": "int64",
          "type": "string",
          "description": "Sum of the memory in bytes of all the assets in this collection."
        },
        "databaseTypes": {
          "description": "Output only. Count of assets grouped by database type. Keys here are taken from DatabaseType enum. Only present for databases.",
          "readOnly": true,
          "$ref": "ReportSummaryChartData"
        }
      },
      "type": "object"
    },
    "AzureVmPlatformDetails": {
      "id": "AzureVmPlatformDetails",
      "properties": {
        "hyperthreading": {
          "type": "string",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "description": "Whether the machine is hyperthreaded."
        },
        "provisioningState": {
          "type": "string",
          "description": "Azure platform's provisioning state."
        },
        "location": {
          "description": "The location of the machine in the Azure format.",
          "type": "string"
        },
        "machineTypeLabel": {
          "type": "string",
          "description": "Azure platform's machine type label."
        }
      },
      "description": "Azure VM specific details.",
      "type": "object"
    },
    "AssetsExportJob": {
      "type": "object",
      "properties": {
        "condition": {
          "$ref": "AssetsExportJobExportCondition",
          "description": "Optional. Conditions for selecting assets to export."
        },
        "recentExecutions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Recent non expired executions of the job.",
          "items": {
            "$ref": "AssetsExportJobExecution"
          }
        },
        "showHidden": {
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. Resource name.",
          "readOnly": true
        },
        "inventory": {
          "description": "Export asset inventory details.",
          "$ref": "AssetsExportJobInventory"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "networkDependencies": {
          "description": "Export data regarding asset network dependencies.",
          "$ref": "AssetsExportJobNetworkDependencies"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Resource update time.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Resource creation time.",
          "format": "google-datetime",
          "type": "string"
        },
        "performanceData": {
          "$ref": "AssetsExportJobPerformanceData",
          "description": "Export asset with performance data."
        },
        "signedUriDestination": {
          "description": "Export to Cloud Storage files downloadable using signed URIs.",
          "$ref": "SignedUriDestination"
        }
      },
      "description": "Assets export job message.",
      "id": "AssetsExportJob"
    },
    "AggregationResultHistogramBucket": {
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.",
      "id": "AggregationResultHistogramBucket",
      "properties": {
        "count": {
          "type": "string",
          "description": "Count of items in the bucket.",
          "format": "int64"
        },
        "lowerBound": {
          "type": "number",
          "format": "double",
          "description": "Lower bound - inclusive."
        },
        "upperBound": {
          "description": "Upper bound - exclusive.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "ReportSummaryChartData": {
      "type": "object",
      "description": "Describes a collection of data points rendered as a Chart.",
      "properties": {
        "dataPoints": {
          "items": {
            "$ref": "ReportSummaryChartDataDataPoint"
          },
          "type": "array",
          "description": "Each data point in the chart is represented as a name-value pair with the name being the x-axis label, and the value being the y-axis value."
        }
      },
      "id": "ReportSummaryChartData"
    },
    "GuestConfigDetails": {
      "properties": {
        "fstab": {
          "$ref": "FstabEntryList",
          "description": "Mount list (Linux fstab)."
        },
        "hosts": {
          "$ref": "HostsEntryList",
          "readOnly": true,
          "description": "Output only. Hosts file (/etc/hosts)."
        },
        "issue": {
          "description": "OS issue (typically /etc/issue in Linux).",
          "type": "string"
        },
        "selinuxMode": {
          "type": "string",
          "enum": [
            "SE_LINUX_MODE_UNSPECIFIED",
            "SE_LINUX_MODE_DISABLED",
            "SE_LINUX_MODE_PERMISSIVE",
            "SE_LINUX_MODE_ENFORCING"
          ],
          "description": "Security-Enhanced Linux (SELinux) mode.",
          "enumDescriptions": [
            "SELinux mode unknown or unspecified.",
            "SELinux is disabled.",
            "SELinux permissive mode.",
            "SELinux enforcing mode."
          ]
        },
        "nfsExports": {
          "$ref": "NfsExportList",
          "description": "NFS exports."
        },
        "selinux": {
          "$ref": "Selinux",
          "description": "SELinux details."
        }
      },
      "type": "object",
      "id": "GuestConfigDetails",
      "description": "Guest OS config information."
    },
    "ComputeEngineMigrationTarget": {
      "type": "object",
      "id": "ComputeEngineMigrationTarget",
      "properties": {
        "shape": {
          "$ref": "ComputeEngineShapeDescriptor",
          "description": "Description of the suggested shape for the migration target."
        }
      },
      "description": "Compute engine migration target."
    },
    "DiskPartitionList": {
      "description": "Disk partition list.",
      "id": "DiskPartitionList",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "DiskPartition"
          },
          "description": "Partition entries."
        }
      }
    },
    "PayloadFile": {
      "type": "object",
      "id": "PayloadFile",
      "description": "Payload file for inline import job payload.",
      "properties": {
        "name": {
          "description": "The file name.",
          "type": "string"
        },
        "data": {
          "type": "string",
          "description": "The file data.",
          "format": "byte"
        }
      }
    },
    "DatabasePreferencesCloudSqlPostgreSql": {
      "type": "object",
      "id": "DatabasePreferencesCloudSqlPostgreSql",
      "description": "Preferences for PostgreSQL on Cloud SQL.",
      "properties": {
        "common": {
          "$ref": "DatabasePreferencesCloudSqlCommon",
          "description": "Optional. Preferences to Cloud SQL databases."
        }
      }
    },
    "ErrorFrame": {
      "id": "ErrorFrame",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The identifier of the ErrorFrame.",
          "type": "string"
        },
        "originalFrame": {
          "readOnly": true,
          "$ref": "AssetFrame",
          "description": "Output only. The frame that was originally reported."
        },
        "violations": {
          "type": "array",
          "items": {
            "$ref": "FrameViolationEntry"
          },
          "readOnly": true,
          "description": "Output only. All the violations that were detected for the frame."
        },
        "ingestionTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Frame ingestion time.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Message representing a frame which failed to be processed due to an error."
    },
    "AssetPerformanceData": {
      "type": "object",
      "id": "AssetPerformanceData",
      "description": "Performance data for an asset.",
      "properties": {
        "dailyResourceUsageAggregations": {
          "type": "array",
          "items": {
            "$ref": "DailyResourceUsageAggregation"
          },
          "description": "Daily resource usage aggregations. Contains all of the data available for an asset, up to the last 420 days. Aggregations are sorted from oldest to most recent."
        }
      }
    },
    "ReportSummaryUtilizationChartData": {
      "properties": {
        "used": {
          "format": "int64",
          "type": "string",
          "description": "Aggregate value which falls into the \"Used\" bucket."
        },
        "free": {
          "type": "string",
          "format": "int64",
          "description": "Aggregate value which falls into the \"Free\" bucket."
        }
      },
      "id": "ReportSummaryUtilizationChartData",
      "description": "Utilization Chart is a specific type of visualization which displays a metric classified into \"Used\" and \"Free\" buckets.",
      "type": "object"
    },
    "MigrationInsight": {
      "description": "An insight about potential migrations for an asset.",
      "properties": {
        "computeEngineSoleTenantTarget": {
          "description": "Output only. A Google Compute Engine Sole Tenant target.",
          "readOnly": true,
          "$ref": "ComputeEngineSoleTenantMigrationTarget"
        },
        "fit": {
          "readOnly": true,
          "description": "Output only. Description of how well the asset this insight is associated with fits the proposed migration.",
          "$ref": "FitDescriptor"
        },
        "gkeTarget": {
          "description": "Output only. A Google Kubernetes Engine target.",
          "$ref": "GoogleKubernetesEngineMigrationTarget",
          "readOnly": true
        },
        "vmwareEngineTarget": {
          "$ref": "VmwareEngineMigrationTarget",
          "readOnly": true,
          "description": "Output only. A VMWare Engine target."
        },
        "computeEngineTarget": {
          "$ref": "ComputeEngineMigrationTarget",
          "description": "Output only. A Google Compute Engine target.",
          "readOnly": true
        },
        "cloudDatabaseTarget": {
          "description": "Output only. A Cloud database migration target.",
          "readOnly": true,
          "$ref": "CloudDatabaseMigrationTarget"
        },
        "issues": {
          "description": "Output only. Issues associated with this migration.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Issue"
          }
        }
      },
      "id": "MigrationInsight",
      "type": "object"
    },
    "PostgreSqlExtension": {
      "properties": {
        "extension": {
          "type": "string",
          "description": "Required. The extension name."
        },
        "version": {
          "description": "Required. The extension version.",
          "type": "string"
        }
      },
      "id": "PostgreSqlExtension",
      "type": "object",
      "description": "PostgreSql extension."
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "ReportExportExecutionResult": {
      "id": "ReportExportExecutionResult",
      "type": "object",
      "properties": {
        "outputFiles": {
          "description": "Output only. List of output files.",
          "readOnly": true,
          "$ref": "OutputFileList"
        },
        "error": {
          "description": "Output only. Error encountered during export.",
          "readOnly": true,
          "$ref": "Status"
        },
        "signedUris": {
          "readOnly": true,
          "description": "Output only. Signed URLs for downloading export artifacts.",
          "$ref": "SignedUris"
        }
      },
      "description": "Contains the result of the report export."
    },
    "CloudSqlForMySqlShape": {
      "type": "object",
      "properties": {
        "version": {
          "readOnly": true,
          "description": "Output only. MySQL version to be used on the Cloud SQL for MySQL instance.",
          "enum": [
            "MY_SQL_VERSION_UNSPECIFIED",
            "MY_SQL_VERSION_5_6",
            "MY_SQL_VERSION_5_7",
            "MY_SQL_VERSION_8_0"
          ],
[...]
