{
  "discoveryVersion": "v1",
  "revision": "20260820",
  "version": "v1alpha1",
  "servicePath": "",
  "batchPath": "batch",
  "name": "migrationcenter",
  "baseUrl": "https://migrationcenter.googleapis.com/",
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://migrationcenter.googleapis.com/",
  "protocol": "rest",
  "schemas": {
    "PostgreSqlDatabaseDeployment": {
      "id": "PostgreSqlDatabaseDeployment",
      "properties": {
        "properties": {
          "type": "array",
          "items": {
            "$ref": "PostgreSqlProperty"
          },
          "description": "Optional. List of PostgreSql properties."
        },
        "settings": {
          "description": "Optional. List of PostgreSql settings.",
          "items": {
            "$ref": "PostgreSqlSetting"
          },
          "type": "array"
        }
      },
      "description": "Specific details for a PostgreSQL database deployment.",
      "type": "object"
    },
    "VirtualMachineArchitectureDetails": {
      "description": "Details of the VM architecture.",
      "id": "VirtualMachineArchitectureDetails",
      "properties": {
        "cpuManufacturer": {
          "description": "CPU manufacturer, e.g., \"Intel\", \"AMD\".",
          "type": "string"
        },
        "hyperthreading": {
          "enumDescriptions": [
            "Unknown (default value).",
            "Hyperthreading is disabled.",
            "Hyperthreading is enabled."
          ],
          "enum": [
            "HYPER_THREADING_UNSPECIFIED",
            "HYPER_THREADING_DISABLED",
            "HYPER_THREADING_ENABLED"
          ],
          "type": "string",
          "description": "CPU hyperthreading support."
        },
        "vendor": {
          "description": "Hardware vendor.",
          "type": "string"
        },
        "firmware": {
          "type": "string",
          "description": "Firmware (BIOS/efi)."
        },
        "cpuSocketCount": {
          "format": "int32",
          "description": "Number of processor sockets allocated to the machine.",
          "type": "integer"
        },
        "cpuArchitecture": {
          "type": "string",
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc."
        },
        "bios": {
          "description": "BIOS Details.",
          "$ref": "BiosDetails"
        },
        "cpuThreadCount": {
          "deprecated": true,
          "type": "integer",
          "format": "int32",
          "description": "Deprecated: use VirtualMachineDetails.core_count instead. Number of CPU threads allocated to the machine."
        },
        "cpuName": {
          "type": "string",
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc."
        }
      },
      "type": "object"
    },
    "ListPreferenceSetsResponse": {
      "id": "ListPreferenceSetsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "preferenceSets": {
          "items": {
            "$ref": "PreferenceSet"
          },
          "description": "The list of PreferenceSets",
          "type": "array"
        }
      },
      "description": "Response message for listing preference sets."
    },
    "InsightList": {
      "id": "InsightList",
      "type": "object",
      "description": "Message containing insights list.",
      "properties": {
        "insights": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Insight"
          },
          "description": "Output only. Insights of the list."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Update timestamp.",
          "type": "string"
        }
      }
    },
    "BiosDetails": {
      "id": "BiosDetails",
      "description": "Details about the BIOS.",
      "properties": {
        "releaseTime": {
          "format": "google-datetime",
          "description": "BIOS release date.",
          "type": "string"
        },
        "smbiosUuid": {
          "type": "string",
          "description": "SMBIOS UUID."
        },
        "id": {
          "description": "BIOS ID.",
          "type": "string"
        },
        "manufacturer": {
          "type": "string",
          "description": "BIOS manufacturer."
        },
        "biosManufacturer": {
          "type": "string",
          "description": "BIOS manufacturer."
        },
        "version": {
          "description": "BIOS version.",
          "type": "string"
        },
        "biosName": {
          "description": "BIOS name.",
          "type": "string"
        },
        "biosReleaseDate": {
          "description": "BIOS release date.",
          "type": "string"
        },
        "biosVersion": {
          "description": "BIOS version.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AwsInternetGatewayDetails": {
      "description": "Asset information specific for AWS Internet Gateways.",
      "type": "object",
      "properties": {},
      "id": "AwsInternetGatewayDetails"
    },
    "PostgreSqlProperty": {
      "properties": {
        "numericValue": {
          "type": "string",
          "description": "Required. The property numeric value.",
          "format": "int64"
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. The property is enabled."
        },
        "property": {
          "type": "string",
          "description": "Required. The property name."
        }
      },
      "description": "PostgreSql property.",
      "type": "object",
      "id": "PostgreSqlProperty"
    },
    "DailyResourceUsageAggregationNetwork": {
      "description": "Statistical aggregation of network usage.",
      "id": "DailyResourceUsageAggregationNetwork",
      "properties": {
        "ingressBps": {
          "description": "Network ingress in B/s.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "egressBps": {
          "description": "Network egress in B/s.",
          "$ref": "DailyResourceUsageAggregationStats"
        }
      },
      "type": "object"
    },
    "ListReportsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "reports": {
          "items": {
            "$ref": "Report"
          },
          "description": "The list of Reports.",
          "type": "array"
        }
      },
      "id": "ListReportsResponse",
      "description": "Response message for listing Reports.",
      "type": "object"
    },
    "GuestOsDetails": {
      "type": "object",
      "description": "Information from Guest-level collections.",
      "id": "GuestOsDetails",
      "properties": {
        "family": {
          "description": "What family the OS belong to, if known.",
          "enumDescriptions": [
            "",
            "Microsoft Windows Server and Desktop.",
            "Various Linux flavors.",
            "Non-Linux Unix flavors."
          ],
          "type": "string",
          "enum": [
            "OS_FAMILY_UNKNOWN",
            "OS_FAMILY_WINDOWS",
            "OS_FAMILY_LINUX",
            "OS_FAMILY_UNIX"
          ]
        },
        "osName": {
          "description": "The name of the operating system.",
          "type": "string"
        },
        "config": {
          "description": "OS and app configuration.",
          "$ref": "GuestConfigDetails"
        },
        "version": {
          "type": "string",
          "description": "The version of the operating system."
        },
        "runtime": {
          "description": "Runtime information.",
          "$ref": "GuestRuntimeDetails"
        }
      }
    },
    "HostsEntryList": {
      "description": "Hosts content.",
      "type": "object",
      "id": "HostsEntryList",
      "properties": {
        "entries": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Hosts entries.",
          "items": {
            "$ref": "HostsEntry"
          }
        }
      }
    },
    "Status": {
      "properties": {
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "PayloadFile": {
      "properties": {
        "name": {
          "description": "The file name.",
          "type": "string"
        },
        "data": {
          "description": "The file data.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "Payload file for inline import job payload.",
      "type": "object",
      "id": "PayloadFile"
    },
    "NetworkConnectionList": {
      "type": "object",
      "description": "Network connection list.",
      "id": "NetworkConnectionList",
      "properties": {
        "entries": {
          "type": "array",
          "description": "Network connection entries.",
          "items": {
            "$ref": "NetworkConnection"
          }
        }
      }
    },
    "PreferenceSet": {
      "properties": {
        "regionPreferences": {
          "description": "Optional. Region preferences for assets using this preference set. If you are unsure which value to set, the migration service API region is often a good value to start with. If unspecified, VirtualMachinePreferences.RegionPreferences is used.",
          "$ref": "RegionPreferences"
        },
        "createTime": {
          "description": "Output only. The timestamp when the preference set was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name. Maximum length is 63 characters."
        },
        "databasePreferences": {
          "$ref": "DatabasePreferences",
          "description": "Optional. A set of preferences that applies to all databases in the context."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the PreferenceSet."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp when the preference set was last updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "virtualMachinePreferences": {
          "description": "A set of preferences that applies to all virtual machines in the context.",
          "$ref": "VirtualMachinePreferences"
        },
        "description": {
          "description": "A description of the preference set.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PreferenceSet",
      "description": "The preferences that apply to all assets in a given context."
    },
    "AwsEfsFileSystemDetails": {
      "type": "object",
      "description": "Details of an AWS EFS file system.",
      "properties": {},
      "id": "AwsEfsFileSystemDetails"
    },
    "SignedUri": {
      "properties": {
        "file": {
          "readOnly": true,
          "description": "Output only. Name of the file the Signed URI references.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Download URI for the file."
        }
      },
      "type": "object",
      "description": "Contains a signed URI.",
      "id": "SignedUri"
    },
    "GenericInsight": {
      "description": "A generic insight about an asset.",
      "properties": {
        "messageId": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Represents a globally unique message id for this insight, can be used for localization purposes, in case message_code is not yet known by the client use default_message instead."
        },
        "defaultMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. In case message_code is not yet known by the client default_message will be the message to be used instead. Text can contain md file style links."
        },
        "additionalInformation": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Additional information about the insight, each entry can be a logical entry and must make sense if it is displayed with line breaks between each entry. Text can contain md style links."
        }
      },
      "type": "object",
      "id": "GenericInsight"
    },
    "Group": {
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the group was last updated.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. The description of the group.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the group was created.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The name of the group.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User-friendly display name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A resource that represents an asset group. The purpose of an asset group is to bundle a set of assets that have something in common, while allowing users to add annotations to the group. An asset can belong to multiple groups.",
      "id": "Group"
    },
    "ImportDataFile": {
      "id": "ImportDataFile",
      "type": "object",
      "description": "A resource that represents a payload file in an import job.",
      "properties": {
        "uploadFileInfo": {
          "$ref": "UploadFileInfo",
          "description": "Information about a file that is uploaded to a storage service."
        },
        "format": {
          "enumDescriptions": [
            "Default value.",
            "Configuration management DB format.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the [AWS collection script](https://github.com/GoogleCloudPlatform/aws-to-stratozone-export).",
            "CSV format exported from Azure using the [Azure collection script](https://github.com/GoogleCloudPlatform/azure-to-stratozone-export).",
            "CSV format created manually. For more information, see [Manually create and upload data tables](https://cloud.google.com/migrate/stratozone/docs/import-data-portal).",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "description": "Required. The payload format.",
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_CMDB",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_MANUAL_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ]
        },
        "displayName": {
          "description": "Optional. User-friendly display name. Maximum length is 256 characters.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the file was created."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the file."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "Default value.",
            "The data file is being created.",
            "The data file completed initialization."
          ],
          "description": "Output only. The state of the import data file.",
          "type": "string"
        }
      }
    },
    "ListReportExportJobsResponse": {
      "properties": {
        "reportExportJobs": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ReportExportJob"
          },
          "description": "Output only. The list of report export jobs."
        },
        "nextPageToken": {
          "description": "Output only. A token identifying a page of results the server should return.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ListReportExportJobsResponse",
      "description": "Response message for listing report export jobs.",
      "type": "object"
    },
    "CsvOutputFile": {
      "type": "object",
      "properties": {
        "rowCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of rows in the file."
        },
        "signedUri": {
          "description": "Output only. Signed URI destination.",
          "$ref": "SignedUri",
          "readOnly": true
        },
        "columnsCount": {
          "description": "Output only. Number of columns in the file.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "id": "CsvOutputFile",
      "description": "Contains a single output file of type CSV."
    },
    "MySqlSchemaDetails": {
      "description": "Specific details for a Mysql database.",
      "id": "MySqlSchemaDetails",
      "properties": {
        "storageEngines": {
          "items": {
            "$ref": "MySqlStorageEngineDetails"
          },
          "description": "Optional. Mysql storage engine tables.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ImportRowErrorCsvErrorDetails": {
      "type": "object",
      "id": "ImportRowErrorCsvErrorDetails",
      "description": "Error details for a CSV file.",
      "properties": {
        "rowNumber": {
          "description": "The row number where the error was detected.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ReportSummaryDatabaseFinding": {
      "id": "ReportSummaryDatabaseFinding",
      "type": "object",
      "description": "DatabaseFinding contains an aggregate costs and shapes for a single database type.",
      "properties": {
        "allocatedAssetCount": {
          "description": "Output only. Number of database assets which were successfully assigned in this finding.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "totalAssets": {
          "description": "Output only. Number of database assets in this finding.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Issue": {
      "description": "An issue associated with a migration.",
      "properties": {
        "description": {
          "description": "Output only. English description of the issue.",
          "type": "string",
          "readOnly": true
        },
        "issueCode": {
          "type": "string",
          "description": "Output only. Unique identifier for this issue type.",
          "readOnly": true
        },
        "compatibilityIssue": {
          "$ref": "IssueCompatibilityIssue",
          "description": "Output only. Details about a compatibility issue.",
          "readOnly": true
        }
      },
      "id": "Issue",
      "type": "object"
    },
    "FitDescriptor": {
      "properties": {
        "fitLevel": {
          "enumDescriptions": [
            "Not enough information.",
            "Fit.",
            "No Fit.",
            "Fit with effort."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Fit level.",
          "enum": [
            "FIT_LEVEL_UNSPECIFIED",
            "FIT",
            "NO_FIT",
            "REQUIRES_EFFORT"
          ]
        }
      },
      "id": "FitDescriptor",
      "description": "Describes the fit level of an asset for migration to a specific target.",
      "type": "object"
    },
    "ReportConfigGroupPreferenceSetAssignment": {
      "id": "ReportConfigGroupPreferenceSetAssignment",
      "type": "object",
      "description": "Represents a combination of a group with a preference set.",
      "properties": {
        "group": {
          "description": "Required. Name of the group.",
          "type": "string"
        },
        "preferenceSet": {
          "description": "Required. Name of the Preference Set.",
          "type": "string"
        }
      }
    },
    "ReportSummaryVMWareEngineFinding": {
      "id": "ReportSummaryVMWareEngineFinding",
      "type": "object",
      "properties": {
        "allocatedRegions": {
          "description": "Set of regions in which the assets were allocated",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allocatedAssetCount": {
          "description": "Count of assets which are allocated",
          "type": "string",
          "format": "int64"
        },
        "nodeAllocations": {
          "type": "array",
          "description": "Set of per-nodetype allocation records",
          "items": {
            "$ref": "ReportSummaryVMWareNodeAllocation"
          }
        }
      },
      "description": "A set of findings that applies to assets destined for VMWare Engine."
    },
    "BatchDeleteAssetsRequest": {
      "type": "object",
      "description": "A request to delete a list of asset.",
      "id": "BatchDeleteAssetsRequest",
      "properties": {
        "names": {
          "description": "Required. The IDs of the assets to delete. A maximum of 1000 assets can be deleted in a batch. Format: projects/{project}/locations/{location}/assets/{name}.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowMissing": {
          "description": "Optional. When this value is set to `true` the request is a no-op for non-existing assets. See https://google.aip.dev/135#delete-if-existing for additional details. Default value is `false`.",
          "type": "boolean"
        },
        "cascadingRules": {
          "type": "array",
          "description": "Optional. Optional cascading rules for deleting related assets.",
          "items": {
            "$ref": "CascadingRule"
          }
        }
      }
    },
    "PerformanceSample": {
      "id": "PerformanceSample",
      "type": "object",
      "description": "Performance data sample.",
      "properties": {
        "network": {
          "$ref": "NetworkUsageSample",
          "description": "Network usage sample."
        },
        "disk": {
          "$ref": "DiskUsageSample",
          "description": "Disk usage sample."
        },
        "cpu": {
          "description": "CPU usage sample.",
          "$ref": "CpuUsageSample"
        },
        "sampleTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time the sample was collected. If omitted, the frame report time will be used."
        },
        "memory": {
          "description": "Memory usage sample.",
          "$ref": "MemoryUsageSample"
        }
      }
    },
    "AggregationSum": {
      "id": "AggregationSum",
      "type": "object",
      "properties": {},
      "description": "Sum of field values."
    },
    "Insight": {
      "type": "object",
      "properties": {
        "genericInsight": {
          "$ref": "GenericInsight",
          "readOnly": true,
          "description": "Output only. A generic insight about an asset."
        },
        "softwareInsight": {
          "readOnly": true,
          "description": "Output only. An insight regarding software detected on an asset.",
          "$ref": "SoftwareInsight"
        },
        "migrationInsight": {
          "description": "Output only. An insight about potential migrations for an asset.",
          "$ref": "MigrationInsight",
          "readOnly": true
        }
      },
      "description": "An insight about an asset.",
      "id": "Insight"
    },
    "ValidationReport": {
      "id": "ValidationReport",
      "description": "A resource that aggregates errors across import job files.",
      "type": "object",
      "properties": {
        "fileValidations": {
          "description": "List of errors found in files.",
          "type": "array",
          "items": {
            "$ref": "FileValidationReport"
          }
        },
        "jobErrors": {
          "type": "array",
          "description": "List of job level errors.",
          "items": {
            "$ref": "ImportError"
          }
        }
      }
    },
    "RunningService": {
      "properties": {
        "cmdline": {
          "description": "Service command line.",
          "type": "string"
        },
        "serviceName": {
          "description": "Service name.",
          "type": "string"
        },
        "startMode": {
          "type": "string",
          "description": "Service start mode (raw, OS-agnostic)."
        },
        "exePath": {
          "description": "Service binary path.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Service name."
        },
        "pid": {
          "format": "int64",
          "description": "Service pid.",
          "type": "string"
        },
        "state": {
          "description": "Service state (raw, OS-agnostic).",
          "type": "string"
        },
        "status": {
          "description": "Service status.",
          "type": "string"
        }
      },
      "description": "Guest OS running service details.",
      "type": "object",
      "id": "RunningService"
    },
    "Asset": {
      "properties": {
        "awsGlueJobDetails": {
          "description": "Output only. Asset information specific for AwsGlueJobDetails",
          "readOnly": true,
          "$ref": "AwsGlueJobDetails"
        },
        "awsDynamodbTableDetails": {
          "readOnly": true,
          "$ref": "AwsDynamoDBTableDetails",
          "description": "Output only. Asset information specific for AWS DynamoDB tables."
        },
        "insightList": {
          "description": "Output only. The list of insights associated with the asset.",
          "readOnly": true,
          "$ref": "InsightList"
        },
        "awsElasticNetworkInterfaceDetails": {
          "description": "Output only. Asset information specific for AWS Elastic Network Interfaces.",
          "readOnly": true,
          "$ref": "AwsElasticNetworkInterfaceDetails"
        },
        "awsEbsVolumeDetails": {
          "$ref": "AwsEbsVolumeDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS EBS Volumes."
        },
        "awsEmrClusterDetails": {
          "description": "Output only. Asset information specific for AwsEmrClusterDetails",
          "readOnly": true,
          "$ref": "AwsEmrClusterDetails"
        },
        "title": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server generated human readable name of the asset."
        },
        "hideReason": {
          "type": "string",
          "description": "Optional. An optional reason for marking this asset as hidden."
        },
        "virtualMachineDetails": {
          "readOnly": true,
          "description": "Output only. Asset information specific for virtual machines.",
          "$ref": "VirtualMachineDetails"
        },
        "sources": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of sources contributing to the asset."
        },
        "hidden": {
          "type": "boolean",
          "description": "Optional. Indicates if the asset is hidden."
        },
        "awsRedshiftDetails": {
          "$ref": "AwsRedshiftDetails",
          "description": "Output only. Asset information specific for AWS Redshift",
          "readOnly": true
        },
        "awsEfsFileSystemDetails": {
          "description": "Output only. Asset information specific for AWS EFS file systems.",
          "$ref": "AwsEfsFileSystemDetails",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the asset was last updated."
        },
        "awsInternetGatewayDetails": {
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS Internet Gateways.",
          "$ref": "AwsInternetGatewayDetails"
        },
        "awsKinesisStreamDetails": {
          "readOnly": true,
          "description": "Output only. Asset information specific for AwsKinesisStreamDetails",
          "$ref": "AwsKinesisStreamDetails"
        },
        "awsEksClusterDetails": {
          "description": "Output only. Asset information specific for AWS EKS clusters.",
          "$ref": "AwsEksClusterDetails",
          "readOnly": true
        },
        "machineDetails": {
          "readOnly": true,
          "$ref": "MachineDetails",
          "description": "Output only. Asset information specific for virtual machines."
        },
        "awsBatchComputeEnvironmentDetails": {
          "description": "Output only. Asset information specific for AWS Batch Compute Environments.",
          "$ref": "AwsBatchComputeEnvironmentDetails",
          "readOnly": true
        },
        "awsEcrRepositoryDetails": {
          "$ref": "AwsEcrRepositoryDetails",
          "description": "Output only. Asset information specific for AwsEcrRepositoryDetails",
          "readOnly": true
        },
        "awsCloudFrontDistributionDetails": {
          "description": "Output only. Asset information specific for AWS CloudFront distributions.",
          "readOnly": true,
          "$ref": "AwsCloudFrontDistributionDetails"
        },
        "awsLambdaFunctionDetails": {
          "readOnly": true,
          "$ref": "AwsLambdaFunctionDetails",
          "description": "Output only. Asset information specific for AWS Lambda functions."
        },
        "awsEcsClusterDetails": {
          "$ref": "AwsEcsClusterDetails",
          "description": "Output only. Asset information specific for AWS ECS clusters.",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels as key value pairs."
        },
        "awsNatGatewayDetails": {
          "readOnly": true,
          "$ref": "AwsNatGatewayDetails",
          "description": "Output only. Asset information specific for AwsNatGatewayDetails"
        },
        "awsElbLoadBalancerDetails": {
          "$ref": "AwsElbLoadBalancerDetails",
          "description": "Output only. Asset information specific for AWS Load Balancers.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the asset was created."
        },
        "awsRoute53HostedZoneDetails": {
          "readOnly": true,
          "$ref": "AwsRoute53HostedZoneDetails",
          "description": "Output only. Asset information specific for AwsRoute53HostedZoneDetails"
        },
        "databaseDetails": {
          "$ref": "DatabaseDetails",
          "description": "Output only. Asset information specific for logical databases.",
          "readOnly": true
        },
        "awsVpcDetails": {
          "description": "Output only. Asset information specific for AWS VPCs.",
          "readOnly": true,
          "$ref": "AwsVpcDetails"
        },
        "awsAppSyncGraphqlApiDetails": {
          "$ref": "AwsAppSyncGraphqlApiDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS AppSync GraphQL APIs."
        },
        "awsElasticacheClusterDetails": {
          "description": "Output only. Asset information specific for AWS ElastiCache Clusters.",
          "readOnly": true,
          "$ref": "AwsElastiCacheClusterDetails"
        },
        "assignedGroups": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of groups that the asset is assigned to."
        },
        "performanceData": {
          "description": "Performance data for the asset.",
          "$ref": "AssetPerformanceData"
        },
        "awsS3BucketDetails": {
          "description": "Output only. Asset information specific for AWS S3 buckets.",
          "readOnly": true,
          "$ref": "AwsS3BucketDetails"
        },
        "awsAutoscalingGroupDetails": {
          "readOnly": true,
          "$ref": "AwsAutoscalingGroupDetails",
          "description": "Output only. Asset information specific for AwsAutoscalingGroupDetails"
        },
        "awsApplicationLoadBalancerDetails": {
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS Application Load Balancers.",
          "$ref": "AwsApplicationLoadBalancerDetails"
        },
        "databaseDeploymentDetails": {
          "$ref": "DatabaseDeploymentDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for database deployments."
        },
        "awsFirehoseDetails": {
          "readOnly": true,
          "$ref": "AwsFirehoseDetails",
          "description": "Output only. Asset information specific for AwsFirehoseDetails"
        },
        "awsSnsTopicDetails": {
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS SNS Topics.",
          "$ref": "AwsSnsTopicDetails"
        },
        "awsApiGatewayRestApiDetails": {
          "$ref": "AwsApiGatewayRestApiDetails",
          "description": "Output only. Asset information specific for AWS API Gateway REST APIs.",
          "readOnly": true
        },
        "awsElasticIpAddressDetails": {
          "$ref": "AwsElasticIpAddressDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for AWS Elastic IP Addresses."
        },
        "structuredAttributes": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Generic structured asset attributes."
        },
        "awsAthenaWorkGroupDetails": {
          "description": "Output only. Asset information specific for AwsAthenaWorkGroupDetails",
          "readOnly": true,
          "$ref": "AwsAthenaWorkGroupDetails"
        },
        "hideTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the asset was marked as hidden."
        },
        "hostingProviderDetails": {
          "description": "Output only. Details about the hosting provider of the asset.",
          "$ref": "HostingProviderDetails",
          "readOnly": true
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Generic asset attributes."
        },
        "name": {
          "description": "Output only. The full name of the asset.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "An asset represents a resource in your environment. Asset types include virtual machines and databases.",
      "id": "Asset",
      "type": "object"
    },
    "ListAssetsResponse": {
      "id": "ListAssetsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "assets": {
          "type": "array",
          "description": "A list of assets.",
          "items": {
            "$ref": "Asset"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "type": "object",
      "description": "Response message for listing assets."
    },
    "IssueCompatibilityIssue": {
      "description": "Details about a compatibility issue.",
      "id": "IssueCompatibilityIssue",
      "type": "object",
      "properties": {
        "category": {
          "description": "Output only. Category of this compatibility issue.",
          "readOnly": true,
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "DATABASE_FLAG",
            "DATABASE_FEATURE"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unspecified compatibility category.",
            "Database flag compatibility category.",
            "Database feature compatibility category."
          ]
        },
        "associatedObjectType": {
          "type": "string",
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "DATABASE_DEPLOYMENT",
            "DATABASE",
            "SCHEMA"
          ],
          "enumDescriptions": [
            "An unspecified object type.",
            "A database deployment object type.",
            "A logical database object type.",
            "A schema object type."
          ],
          "description": "Output only. Type of object associated with this migration compatibility issue.",
          "readOnly": true
        },
        "associatedObject": {
          "readOnly": true,
          "description": "Output only. Name of the object associated with this compatibility issue relative to the relevant asset. Does not represent a fully qualified resource name and is not intended for programmatic use.",
          "type": "string"
        },
        "associatedValue": {
          "description": "Output only. A string representation of actual value associated with this issue. Some values may contain aggregated information, such as a flag name and the actual value assigned to it.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "RunAssetsExportJobResponse": {
      "type": "object",
      "description": "Response message for running an assets export job.",
      "properties": {
        "assetsExportJobExecution": {
          "description": "Output only. Execution status of the assets export operation.",
          "readOnly": true,
          "$ref": "AssetsExportJobExecution"
        }
      },
      "id": "RunAssetsExportJobResponse"
    },
    "HostsEntry": {
      "properties": {
        "ip": {
          "type": "string",
          "description": "IP (raw, IPv4/6 agnostic)."
        },
        "hostNames": {
          "description": "List of host names / aliases.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Single /etc/hosts entry.",
      "id": "HostsEntry",
      "type": "object"
    },
    "RemoveAssetsFromGroupRequest": {
      "description": "A request to remove assets from a group.",
      "id": "RemoveAssetsFromGroupRequest",
      "properties": {
        "allowMissing": {
          "description": "Optional. When this value is set to `false` and one of the given assets is not an existing member of the group, the operation fails with a `Not Found` error. When set to `true` this situation is silently ignored by the server. Default value is `false`.",
          "type": "boolean"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "assets": {
          "$ref": "AssetList",
          "description": "Required. List of assets to be removed. The maximum number of assets that can be removed in a single request is 1000."
        }
      },
      "type": "object"
    },
    "CloudSqlForPostgreSqlShape": {
      "description": "Cloud SQL for PostgreSQL database shape.",
      "properties": {
        "backupStorageGb": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Predicted backup storage size in GiB.",
          "type": "integer"
        },
        "logicalCoreCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of logical cores.",
          "format": "int32"
        },
        "zoneAvailability": {
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ],
          "description": "Output only. Cloud SQL zone availability."
        },
        "memoryMb": {
          "description": "Output only. Predicted amount of memory in MiB.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "egressGbPerMonth": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Predicted Network Out traffic GiB per month."
        },
        "version": {
          "description": "Output only. PostgreSql version to be used on the Cloud SQL for PostgreSql instance.",
          "enumDescriptions": [
            "Unspecified PostgreSQL version.",
            "PostgreSQL 9.6.",
            "PostgreSQL 10",
            "PostgreSQL 11",
            "PostgreSQL 12",
            "PostgreSQL 13",
            "PostgreSQL 14",
            "PostgreSQL 15"
          ],
          "enum": [
            "POSTGRESQL_VERSION_UNSPECIFIED",
            "POSTGRESQL_VERSION_9_6",
            "POSTGRESQL_VERSION_10",
            "POSTGRESQL_VERSION_11",
            "POSTGRESQL_VERSION_12",
            "POSTGRESQL_VERSION_13",
            "POSTGRESQL_VERSION_14",
            "POSTGRESQL_VERSION_15"
          ],
          "readOnly": true,
          "type": "string"
        },
        "storage": {
          "$ref": "ComputeStorageDescriptor",
          "readOnly": true,
          "description": "Output only. Predicted storage shape."
        },
        "edition": {
          "readOnly": true,
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ],
          "description": "Output only. Cloud SQL edition."
        }
      },
      "id": "CloudSqlForPostgreSqlShape",
      "type": "object"
    },
    "AwsSnsTopicDetails": {
      "description": "Asset information specific for AWS SNS Topics.",
      "properties": {},
      "id": "AwsSnsTopicDetails",
      "type": "object"
    },
    "AggregationResultHistogramBucket": {
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.",
      "id": "AggregationResultHistogramBucket",
      "type": "object",
      "properties": {
        "lowerBound": {
          "format": "double",
          "type": "number",
          "description": "Lower bound - inclusive."
        },
        "upperBound": {
          "type": "number",
          "format": "double",
          "description": "Upper bound - exclusive."
        },
        "count": {
          "description": "Count of items in the bucket.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "PhysicalPlatformDetails": {
      "id": "PhysicalPlatformDetails",
      "type": "object",
      "description": "Platform specific details for Physical Machines.",
      "properties": {
        "hyperthreading": {
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "type": "string",
          "description": "Whether the machine is hyperthreaded."
        },
        "location": {
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different machines in the same location may have different string values for this field.",
          "type": "string"
        }
      }
    },
    "DatabasePreferencesCloudSqlPostgreSql": {
      "type": "object",
      "properties": {
        "common": {
          "description": "Optional. Preferences to Cloud SQL databases.",
          "$ref": "DatabasePreferencesCloudSqlCommon"
        }
      },
      "description": "Preferences for PostgreSQL on Cloud SQL.",
      "id": "DatabasePreferencesCloudSqlPostgreSql"
    },
    "UploadFileInfo": {
      "type": "object",
      "description": "A resource that contains a URI to which a data file can be uploaded.",
      "id": "UploadFileInfo",
      "properties": {
        "headers": {
          "description": "Output only. The headers that were used to sign the URL.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "readOnly": true
        },
        "signedUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Upload URI for the file."
        },
        "uriExpirationTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Expiration time of the upload URI.",
          "format": "google-datetime"
        }
      }
    },
    "BatchUpdateAssetsRequest": {
      "id": "BatchUpdateAssetsRequest",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The request message specifying the resources to update. A maximum of 1000 assets can be modified in a batch.",
          "items": {
            "$ref": "UpdateAssetRequest"
          }
        }
      },
      "description": "A request to update a list of assets.",
      "type": "object"
    },
    "CloudSqlForMySqlShape": {
      "id": "CloudSqlForMySqlShape",
      "properties": {
        "memoryMb": {
          "description": "Output only. Predicted amount of memory in MiB.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "egressGbPerMonth": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Predicted Network Out traffic GiB per month.",
          "readOnly": true
        },
        "backupStorageGb": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Predicted backup storage size in GiB.",
          "format": "int32"
        },
        "version": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified MySQL version.",
            "MySQL 5.6.",
            "MySQL 5.7.",
            "MySQL 8.0."
          ],
          "description": "Output only. MySQL version to be used on the Cloud SQL for MySQL instance.",
          "enum": [
            "MY_SQL_VERSION_UNSPECIFIED",
            "MY_SQL_VERSION_5_6",
            "MY_SQL_VERSION_5_7",
            "MY_SQL_VERSION_8_0"
          ]
        },
        "storage": {
          "$ref": "ComputeStorageDescriptor",
          "description": "Output only. Predicted storage shape.",
          "readOnly": true
        },
        "edition": {
          "readOnly": true,
          "enum": [
            "CLOUD_SQL_EDITION_UNSPECIFIED",
            "CLOUD_SQL_EDITION_ENTERPRISE",
            "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          ],
          "description": "Output only. Cloud SQL edition.",
          "enumDescriptions": [
            "An unspecified Cloud SQL edition.",
            "Provides all core capabilities of Cloud SQL and is suitable for applications requiring a balance of performance, availability, and cost.",
            "Provides the best performance and availability to run applications requiring the highest level of availability and performance in addition to the capabilities of the Cloud SQL Enterprise edition. Note: SQL Server is not available in Enterprise Plus edition. For SQL Server, Enterprise will always be recommended."
          ],
          "type": "string"
        },
        "logicalCoreCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of logical cores."
        },
        "zoneAvailability": {
          "enum": [
            "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED",
            "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL",
            "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unspecified Cloud SQL zone availability.",
            "The instance serves data from only one zone. In case of outage, no failover. Not recommended for production.",
            "The instance can serve data from multiple zones in a region. Highly available. Automatic failover to another zone within your selected region. Recommended for production instances. Increases cost."
          ],
          "readOnly": true,
          "description": "Output only. Cloud SQL zone availability."
        }
      },
      "type": "object",
      "description": "Cloud SQL for MySQL database shape."
    },
    "DetectedSoftware": {
      "type": "object",
      "properties": {
        "softwareFamily": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Software family of the detected software, e.g. Database, SAP family."
        },
        "softwareName": {
          "description": "Output only. Software's name.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Information about software detected on an asset.",
      "id": "DetectedSoftware"
    },
    "AwsRoute53HostedZoneDetails": {
      "description": "Details of an AWS Route 53 Hosted Zone.",
      "properties": {},
      "type": "object",
      "id": "AwsRoute53HostedZoneDetails"
    },
    "DatabaseDeploymentDetails": {
      "type": "object",
      "id": "DatabaseDeploymentDetails",
      "properties": {
        "manualUniqueId": {
          "description": "A manual unique ID set by the user.",
          "type": "string"
        },
        "generatedId": {
          "type": "string",
          "description": "The database deployment generated ID."
        },
        "sqlServer": {
          "description": "Details of a Microsoft SQL Server database deployment.",
          "$ref": "SqlServerDatabaseDeployment"
        },
        "version": {
          "description": "The database deployment version.",
          "type": "string"
        },
        "topology": {
          "$ref": "DatabaseDeploymentTopology",
          "description": "Details of the database deployment topology."
        },
        "edition": {
          "description": "The database deployment edition.",
          "type": "string"
        },
        "postgresql": {
          "description": "Details of a PostgreSQL database deployment.",
          "$ref": "PostgreSqlDatabaseDeployment"
        },
        "mysql": {
          "$ref": "MysqlDatabaseDeployment",
          "description": "Details of a MYSQL database deployment."
        },
        "awsRds": {
          "description": "Optional. Details of an AWS RDS instance.",
          "$ref": "AwsRds"
        },
        "aggregatedStats": {
          "description": "Output only. Aggregated stats for the database deployment.",
          "$ref": "DatabaseDeploymentDetailsAggregatedStats",
          "readOnly": true
        }
      },
      "description": "The details of a database deployment asset."
    },
    "DatabaseSchema": {
      "id": "DatabaseSchema",
      "properties": {
        "schemaName": {
          "type": "string",
          "description": "The name of the schema."
        },
        "sqlServer": {
          "description": "Details of a SqlServer schema.",
          "$ref": "SqlServerSchemaDetails"
        },
        "mysql": {
          "description": "Details of a Mysql schema.",
          "$ref": "MySqlSchemaDetails"
        },
        "postgresql": {
          "description": "Details of a PostgreSql schema.",
          "$ref": "PostgreSqlSchemaDetails"
        },
        "objects": {
          "description": "List of details of objects by category.",
          "items": {
            "$ref": "DatabaseObjects"
          },
          "type": "array"
        },
        "tablesSizeBytes": {
          "format": "int64",
          "description": "The total size of tables in bytes.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details of a database schema."
    },
    "PostgreSqlExtension": {
      "id": "PostgreSqlExtension",
      "properties": {
        "extension": {
          "description": "Required. The extension name.",
          "type": "string"
        },
        "version": {
          "description": "Required. The extension version.",
          "type": "string"
        }
      },
      "description": "PostgreSql extension.",
      "type": "object"
    },
    "NfsExport": {
      "description": "NFS export.",
      "id": "NfsExport",
      "type": "object",
      "properties": {
        "exportDirectory": {
          "description": "The directory being exported.",
          "type": "string"
        },
        "hosts": {
          "description": "The hosts or networks to which the export is being shared.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "MachinePreferences": {
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations for Compute Engine. Not all machine types are available in all zones and regions.",
      "id": "MachinePreferences",
      "properties": {
        "allowedMachineSeries": {
          "type": "array",
          "description": "Compute Engine machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series.",
          "items": {
            "$ref": "MachineSeries"
          }
        }
      },
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "RegionPreferences": {
      "type": "object",
      "description": "The user preferences relating to target regions.",
      "id": "RegionPreferences",
      "properties": {
        "preferredRegions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of preferred regions, ordered by the most preferred region first. Set only valid Google Cloud region names. See https://cloud.google.com/compute/docs/regions-zones for available regions."
        }
      }
    },
    "ListSourcesResponse": {
      "description": "Response message for listing sources.",
      "type": "object",
      "id": "ListSourcesResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "sources": {
          "type": "array",
          "description": "The list of sources.",
          "items": {
            "$ref": "Source"
          }
        }
      }
    },
    "ReportSummaryAssetAggregateStats": {
      "id": "ReportSummaryAssetAggregateStats",
      "properties": {
        "assetAge": {
          "description": "Count of assets grouped by age.",
          "deprecated": true,
          "$ref": "ReportSummaryChartData"
        },
        "estimatedUsageStats": {
          "$ref": "ReportSummaryAssetAggregateStatsEstimatedUsageStats",
          "readOnly": true,
          "description": "Output only. Estimated usage stats for the assets in this collection."
        },
        "totalAssets": {
          "type": "string",
          "format": "int64",
          "description": "Count of the number of unique assets in this collection."
        },
        "operatingSystem": {
          "$ref": "ReportSummaryChartData",
          "description": "Count of assets grouped by Operating System families. Only present for virtual machines."
        },
        "storageBytesHistogram": {
          "$ref": "ReportSummaryHistogramChartData",
          "description": "Histogram showing a distribution of storage sizes."
        },
        "memoryBytesHistogram": {
          "$ref": "ReportSummaryHistogramChartData",
          "description": "Histogram showing a distribution of memory sizes."
        },
        "totalStorageBytes": {
          "type": "string",
          "format": "int64",
          "description": "Sum of persistent storage in bytes of all the assets in this collection."
        },
        "memoryUtilizationChart": {
          "$ref": "ReportSummaryUtilizationChartData",
          "description": "Total memory split into Used/Free buckets."
        },
        "totalCores": {
          "type": "string",
          "description": "Sum of the CPU core count of all the assets in this collection.",
          "format": "int64"
        },
        "coreCountHistogram": {
          "description": "Histogram showing a distribution of logical CPU core counts.",
          "$ref": "ReportSummaryHistogramChartData"
        },
        "databaseTypes": {
          "readOnly": true,
          "$ref": "ReportSummaryChartData",
          "description": "Output only. Count of assets grouped by database type. Keys here are taken from DatabaseType enum. Only present for databases."
        },
        "storageUtilizationChart": {
          "$ref": "ReportSummaryUtilizationChartData",
          "description": "Total memory split into Used/Free buckets."
        },
        "memoryUtilization": {
          "description": "Total memory split into Used/Free buckets.",
          "$ref": "ReportSummaryChartData",
          "deprecated": true
        },
        "totalMemoryBytes": {
          "description": "Sum of the memory in bytes of all the assets in this collection.",
          "format": "int64",
          "type": "string"
        },
        "storageUtilization": {
          "deprecated": true,
          "$ref": "ReportSummaryChartData",
          "description": "Total storage split into Used/Free buckets."
        },
        "softwareInstances": {
          "readOnly": true,
          "description": "Output only. Count of assets grouped by software name. Only present for virtual machines.",
          "$ref": "ReportSummaryChartData"
        }
      },
      "description": "Aggregate statistics for a collection of assets.",
      "type": "object"
    },
    "Report": {
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. Creation timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "summary": {
          "$ref": "ReportSummary",
          "description": "Output only. Summary view of the Report.",
          "readOnly": true
        },
        "type": {
          "description": "Report type.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOTAL_COST_OF_OWNERSHIP"
          ],
          "enumDescriptions": [
            "Default report type.",
            "Total cost of ownership report type."
          ]
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of resource.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Report creation state.",
          "enumDescriptions": [
            "Default Report creation state.",
            "Creating Report.",
            "Successfully created Report.",
            "Failed to create Report."
          ],
          "type": "string"
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Last update timestamp."
        }
      },
      "description": "Report represents a point-in-time rendering of the ReportConfig results.",
      "id": "Report",
      "type": "object"
    },
    "ReportSummaryMachineSeriesAllocation": {
      "id": "ReportSummaryMachineSeriesAllocation",
      "description": "Represents a data point tracking the count of assets allocated for a specific Machine Series.",
      "properties": {
        "machineSeries": {
          "$ref": "MachineSeries",
          "description": "The Machine Series (e.g. \"E2\", \"N2\")"
        },
        "allocatedAssetCount": {
          "type": "string",
          "description": "Count of assets allocated to this machine series.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "AggregationHistogram": {
      "id": "AggregationHistogram",
      "properties": {
        "lowerBounds": {
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          },
          "description": "Lower bounds of buckets. The response will contain `n+1` buckets for `n` bounds. The first bucket will count all assets for which the field value is smaller than the first bound. Subsequent buckets will count assets for which the field value is greater or equal to a lower bound and smaller than the next one. The last bucket will count assets for which the field value is greater or equal to the final lower bound. You can define up to 20 lower bounds."
        }
      },
      "type": "object",
      "description": "Histogram of bucketed assets counts by field value."
    },
    "ReportSummarySoleTenantNodeAllocation": {
      "type": "object",
      "id": "ReportSummarySoleTenantNodeAllocation",
      "description": "Represents the assets allocated to a specific Sole-Tenant node type.",
      "properties": {
        "nodeCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of this node type to be provisioned"
        },
        "node": {
          "$ref": "SoleTenantNodeType",
          "description": "Sole Tenant node type, e.g. \"m3-node-128-3904\""
        },
        "allocatedAssetCount": {
          "type": "string",
          "format": "int64",
          "description": "Count of assets allocated to these nodes"
        }
      }
    },
    "ImportRowErrorArchiveErrorDetails": {
      "properties": {
        "filePath": {
          "type": "string",
          "description": "The file path inside the archive where the error was detected."
        },
        "csvError": {
          "description": "Error details for a CSV file.",
          "$ref": "ImportRowErrorCsvErrorDetails"
        }
      },
      "id": "ImportRowErrorArchiveErrorDetails",
      "type": "object",
      "description": "Error details for an archive file."
    },
    "TimeZone": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "id": "TimeZone"
    },
    "VirtualMachineDetails": {
      "type": "object",
      "description": "Details of a VirtualMachine.",
      "id": "VirtualMachineDetails",
      "properties": {
        "powerState": {
          "description": "Power state of VM (poweredOn or poweredOff).",
          "type": "string"
        },
        "osVersion": {
          "description": "The version of the operating system running on the virtual machine.",
          "type": "string"
        },
        "memoryMb": {
          "description": "The amount of memory in the VirtualMachine. Must be non-negative.",
          "type": "integer",
          "format": "int32"
        },
        "platform": {
          "description": "Platform information.",
          "$ref": "PlatformDetails"
        },
        "vcenterUrl": {
          "type": "string",
          "description": "vCenter URL used in collection."
        },
        "guestOs": {
          "description": "Guest OS information.",
          "$ref": "GuestOsDetails"
        },
        "vmDisks": {
          "$ref": "VirtualMachineDiskDetails",
          "description": "VM disk details."
        },
        "vmUuid": {
          "type": "string",
          "description": "Virtual Machine unique identifier."
        },
        "vmNetwork": {
          "$ref": "VirtualMachineNetworkDetails",
          "description": "VM network details."
        },
        "vcenterVmId": {
          "description": "vCenter VM ID.",
          "type": "string"
        },
        "vmName": {
          "description": "Virtual Machine display name.",
          "type": "string"
        },
        "vcenterFolder": {
          "description": "Folder name in vCenter where asset resides.",
          "type": "string"
        },
        "osFamily": {
          "enumDescriptions": [
            "",
            "Microsoft Windows Server and Desktop.",
            "Various Linux flavors.",
            "Non-Linux Unix flavors."
          ],
          "type": "string",
          "enum": [
            "OS_FAMILY_UNKNOWN",
            "OS_FAMILY_WINDOWS",
            "OS_FAMILY_LINUX",
            "OS_FAMILY_UNIX"
          ],
          "description": "What family the OS belong to, if known."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "VM creation timestamp."
        },
        "vmArchitecture": {
          "$ref": "VirtualMachineArchitectureDetails",
          "description": "VM architecture details (vendor, cpu arch)."
        },
        "coreCount": {
          "format": "int32",
          "description": "Number of logical CPU cores in the VirtualMachine. Must be non-negative.",
          "type": "integer"
        },
        "osName": {
          "description": "The name of the operating system running on the VirtualMachine.",
          "type": "string"
        },
        "diskPartitions": {
          "description": "Optional. Disk partitions details. Note: Partitions are not necessarily mounted on local disks and therefore might not have a one-to-one correspondence with local disks.",
          "$ref": "DiskPartitionDetails"
        }
      }
    },
    "NetworkAdapterDetails": {
      "type": "object",
      "properties": {
        "adapterType": {
          "type": "string",
          "description": "Network adapter type (e.g. VMXNET3)."
        },
        "macAddress": {
          "description": "MAC address.",
          "type": "string"
        },
        "addresses": {
          "$ref": "NetworkAddressList",
          "description": "NetworkAddressList"
        }
      },
      "description": "Details of network adapter.",
      "id": "NetworkAdapterDetails"
    },
    "MySqlPlugin": {
      "description": "MySql plugin.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Required. The plugin is active.",
          "type": "boolean"
        },
        "plugin": {
          "description": "Required. The plugin name.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Required. The plugin version."
        }
      },
      "id": "MySqlPlugin"
    },
    "HostingProviderDetailsAws": {
      "description": "Details for AWS platform.",
      "type": "object",
      "properties": {
        "owningAccountId": {
          "type": "string",
          "description": "Optional. The AWS account ID owning the resource represented by this asset."
        }
      },
      "id": "HostingProviderDetailsAws"
    },
    "MachineDetails": {
      "description": "Details of a machine.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Machine creation time."
        },
        "coreCount": {
          "description": "Number of logical CPU cores in the machine. Must be non-negative.",
          "type": "integer",
          "format": "int32"
        },
        "memoryMb": {
          "type": "integer",
          "description": "The amount of memory in the machine. Must be non-negative.",
          "format": "int32"
        },
        "platform": {
          "description": "Platform specific information.",
          "$ref": "PlatformDetails"
        },
        "machineName": {
          "description": "Machine name.",
          "type": "string"
        },
        "diskPartitions": {
          "$ref": "DiskPartitionDetails",
          "description": "Optional. Disk partitions details. Note: Partitions are not necessarily mounted on local disks and therefore might not have a one-to-one correspondence with local disks."
        },
        "network": {
          "description": "Network details.",
          "$ref": "MachineNetworkDetails"
        },
        "powerState": {
          "description": "Power state of the machine.",
          "type": "string",
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "DELETING",
            "DELETED"
          ],
          "enumDescriptions": [
            "Power state is unknown.",
            "The machine is preparing to enter the ACTIVE state. An instance may enter the PENDING state when it launches for the first time, or when it is started after being in the SUSPENDED state.",
            "The machine is active.",
            "The machine is being turned off.",
            "The machine is off.",
            "The machine is being deleted from the hosting platform.",
            "The machine is deleted from the hosting platform."
          ]
        },
        "guestOs": {
          "$ref": "GuestOsDetails",
          "description": "Guest OS information."
        },
        "uuid": {
          "type": "string",
          "description": "Machine unique identifier."
        },
        "architecture": {
          "description": "Architecture details (vendor, CPU architecture).",
          "$ref": "MachineArchitectureDetails"
        },
        "disks": {
          "description": "Disk details.",
          "$ref": "MachineDiskDetails"
        }
      },
      "id": "MachineDetails",
      "type": "object"
    },
    "VirtualMachinePreferencesSizingOptimizationCustomParameters": {
      "type": "object",
      "description": "Custom data to use for sizing optimizations.",
      "id": "VirtualMachinePreferencesSizingOptimizationCustomParameters",
      "properties": {
        "cpuUsagePercentage": {
          "description": "Optional. Desired percentage of CPU usage. Must be in the interval [1, 100] (or 0 for default value).",
          "type": "integer",
          "format": "int32"
        },
        "aggregationMethod": {
          "type": "string",
          "description": "Optional. Type of statistical aggregation of a resource utilization data, on which to base the sizing metrics.",
          "enumDescriptions": [
            "Unspecified aggregation method. Can be used for default value.",
            "Average of utilization data.",
            "Median of utilization data.",
            "95th percentile of utilization data.",
            "Peak of utilization data."
          ],
          "enum": [
            "AGGREGATION_METHOD_UNSPECIFIED",
            "AGGREGATION_METHOD_AVERAGE",
            "AGGREGATION_METHOD_MEDIAN",
            "AGGREGATION_METHOD_NINETY_FIFTH_PERCENTILE",
            "AGGREGATION_METHOD_PEAK"
          ]
        },
        "storageMultiplier": {
          "format": "double",
          "type": "number",
          "description": "Optional. Desired increase factor of storage, relative to currently used storage. Must be in the interval [1.0, 2.0] (or 0 for default value)."
        },
        "memoryUsagePercentage": {
          "type": "integer",
          "description": "Optional. Desired percentage of memory usage. Must be in the interval [1, 100] (or 0 for default value).",
          "format": "int32"
        }
      }
    },
    "SqlServerTraceFlag": {
      "type": "object",
      "properties": {
        "traceFlagName": {
          "description": "Required. The trace flag name.",
          "type": "string"
        },
        "scope": {
          "description": "Required. The trace flag scope.",
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "OFF",
            "GLOBAL",
            "SESSION"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Off.",
            "Global.",
            "Session."
          ]
        }
      },
      "id": "SqlServerTraceFlag",
      "description": "SQL Server trace flag details."
    },
    "ReportSummarySoleTenantFinding": {
      "type": "object",
      "properties": {
        "nodeAllocations": {
          "type": "array",
          "items": {
            "$ref": "ReportSummarySoleTenantNodeAllocation"
          },
          "description": "Set of per-nodetype allocation records"
        },
        "allocatedRegions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Set of regions in which the assets are allocated"
        },
        "allocatedAssetCount": {
          "description": "Count of assets which are allocated",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "ReportSummarySoleTenantFinding",
      "description": "A set of findings that applies to assets destined for Sole-Tenant nodes."
    },
    "ReportConfig": {
      "type": "object",
      "id": "ReportConfig",
      "description": "The groups and associated preference sets on which we can generate reports.",
      "properties": {
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was last updated."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string"
        },
        "groupPreferencesetAssignments": {
          "type": "array",
          "description": "Required. Collection of combinations of groups and preference sets.",
          "items": {
            "$ref": "ReportConfigGroupPreferenceSetAssignment"
          }
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of resource."
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        }
      }
    },
    "ImportRowErrorXlsxErrorDetails": {
      "description": "Error details for an XLSX file.",
      "properties": {
        "rowNumber": {
          "description": "The row number where the error was detected.",
          "format": "int32",
          "type": "integer"
        },
        "sheet": {
          "description": "The name of the sheet where the error was detected.",
          "type": "string"
        }
      },
      "id": "ImportRowErrorXlsxErrorDetails",
      "type": "object"
    },
    "DiskPartition": {
      "id": "DiskPartition",
      "description": "Disk Partition details.",
      "type": "object",
      "properties": {
        "fileSystem": {
          "type": "string",
          "description": "Partition file system."
        },
        "mountPoint": {
          "description": "Mount point (Linux/Windows) or drive letter (Windows).",
          "type": "string"
        },
        "freeBytes": {
          "description": "Partition free space.",
          "type": "string",
          "format": "int64"
        },
        "uuid": {
          "type": "string",
          "description": "Partition UUID."
        },
        "subPartitions": {
          "$ref": "DiskPartitionList",
          "description": "Sub-partitions."
        },
        "capacityBytes": {
          "description": "Partition capacity.",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "description": "Partition type (e.g. BIOS boot).",
          "type": "string"
        }
      }
    },
    "DatabaseObjects": {
      "id": "DatabaseObjects",
      "description": "Details of a group of database objects.",
      "type": "object",
      "properties": {
        "category": {
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "TABLE",
            "INDEX",
            "CONSTRAINTS",
            "VIEWS",
            "SOURCE_CODE",
            "OTHER"
          ],
          "description": "The category of the objects.",
          "enumDescriptions": [
            "Unspecified type.",
            "Table.",
            "Index.",
            "Constraints.",
            "Views.",
            "Source code, e.g. procedures.",
            "Uncategorized objects."
          ],
          "type": "string"
        },
        "count": {
          "description": "The number of objects.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "DatabaseDetails": {
      "description": "Details of a logical database.",
      "type": "object",
      "id": "DatabaseDetails",
      "properties": {
        "allocatedStorageBytes": {
          "format": "int64",
          "type": "string",
          "description": "The allocated storage for the database in bytes."
        },
        "schemas": {
          "description": "The database schemas.",
          "items": {
            "$ref": "DatabaseSchema"
          },
          "type": "array"
        },
        "parentDatabaseDeployment": {
          "$ref": "DatabaseDetailsParentDatabaseDeployment",
          "description": "The parent database deployment that contains the logical database."
        },
        "databaseName": {
          "description": "The name of the database.",
          "type": "string"
        }
      }
    },
    "Settings": {
      "id": "Settings",
      "description": "Describes the Migration Center settings related to the project.",
      "type": "object",
      "properties": {
        "preferenceSet": {
          "description": "The preference set used by default for a project.",
          "type": "string"
        },
        "disableCloudLogging": {
          "description": "Disable Cloud Logging for the Migration Center API. Users are billed for the logs.",
          "type": "boolean"
        },
        "customerConsentForGoogleSalesToAccessMigrationCenter": {
          "description": "Customer consent for Google sales to access their Cloud Migration Center project.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. The name of the resource.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "MysqlDatabaseDeployment": {
      "type": "object",
      "id": "MysqlDatabaseDeployment",
      "description": "Specific details for a Mysql database deployment.",
      "properties": {
        "resourceGroupsCount": {
          "format": "int32",
          "description": "Optional. Number of resource groups.",
          "type": "integer"
        },
        "variables": {
          "type": "array",
          "description": "Optional. List of MySql variables.",
          "items": {
            "$ref": "MySqlVariable"
          }
        },
        "properties": {
          "items": {
            "$ref": "MySqlProperty"
          },
          "description": "Optional. List of MySql properties.",
          "type": "array"
        },
        "plugins": {
          "items": {
            "$ref": "MySqlPlugin"
          },
          "type": "array",
          "description": "Optional. List of MySql plugins."
        }
      }
    },
    "AwsApplicationLoadBalancerDetails": {
      "properties": {},
      "description": "Asset information specific for AWS Application Load Balancers.",
      "id": "AwsApplicationLoadBalancerDetails",
      "type": "object"
    },
    "VmwareEnginePreferences": {
      "properties": {
        "cpuOvercommitRatio": {
          "format": "double",
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 8.0, with 0.1 increment.",
          "type": "number"
        },
        "storageDeduplicationCompressionRatio": {
          "format": "double",
          "description": "The Deduplication and Compression ratio is based on the logical (Used Before) space required to store data before applying deduplication and compression, in relation to the physical (Used After) space required after applying deduplication and compression. Specifically, the ratio is the Used Before space divided by the Used After space. For example, if the Used Before space is 3 GB, but the physical Used After space is 1 GB, the deduplication and compression ratio is 3x. Acceptable values are between 1.0 and 4.0.",
          "type": "number"
        },
        "commitmentPlan": {
          "type": "string",
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1 year commitment (monthly payments).",
            "3 year commitment (monthly payments).",
            "1 year commitment (upfront payment).",
            "3 years commitment (upfront payment).",
            "3-year flexible commitment (monthly payments). While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API.",
            "3-year flexible commitment (upfront payment). While not supported in the v1 API, this value is converted to UNSPECIFIED in conversions to the v1 API."
          ],
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_3_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_1_YEAR_UPFRONT_PAYMENT",
            "COMMITMENT_3_YEAR_UPFRONT_PAYMENT",
            "COMMITMENT_FLEXIBLE_3_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_FLEXIBLE_3_YEAR_UPFRONT_PAYMENT"
          ]
        },
        "memoryOvercommitRatio": {
          "description": "Memory overcommit ratio. Acceptable values are 1.0, 1.25, 1.5, 1.75 and 2.0.",
          "type": "number",
          "format": "double"
        },
        "licenseDiscountPercentage": {
          "format": "float",
          "type": "number",
          "description": "Optional. Discount percentage for the license offered to you by Broadcom. Must be between 0 and 100. Only valid when service_type is set to SERVICE_TYPE_PORTABLE_LICENSE."
        },
        "serviceType": {
          "type": "string",
          "description": "Optional. GCVE service type (fully licensed or portable license).",
          "enum": [
            "SERVICE_TYPE_UNSPECIFIED",
            "SERVICE_TYPE_FULLY_LICENSED",
            "SERVICE_TYPE_PORTABLE_LICENSE"
          ],
          "enumDescriptions": [
            "Same as SERVICE_TYPE_FULLY_LICENSED.",
            "Google provided VCF license.",
            "Bring Your Own License."
          ]
        },
        "machinePreferences": {
          "description": "Optional. Preferences concerning the machine types to consider on Google Cloud VMware Engine.",
          "$ref": "VMwareEngineMachinePreferences"
        }
      },
      "description": "The user preferences relating to Google Cloud VMware Engine target platform.",
      "type": "object",
      "id": "VmwareEnginePreferences"
    },
    "NetworkConnection": {
      "id": "NetworkConnection",
      "type": "object",
      "properties": {
        "processName": {
          "description": "Process or service name.",
          "type": "string"
        },
        "state": {
          "description": "Connection state (e.g. CONNECTED).",
          "type": "string"
        },
        "pid": {
          "description": "Process ID.",
          "format": "int64",
          "type": "string"
        },
        "localPort": {
          "format": "int32",
          "type": "integer",
          "description": "Local port."
        },
        "remoteIpAddress": {
          "type": "string",
          "description": "Remote IP address."
        },
        "localIpAddress": {
          "type": "string",
          "description": "Local IP address."
        },
        "protocol": {
          "description": "Connection protocol (e.g. TCP/UDP).",
          "type": "string"
        },
        "remotePort": {
          "format": "int32",
          "type": "integer",
          "description": "Remote port."
        }
      }
    },
    "AwsElbLoadBalancerDetails": {
      "description": "Asset information specific for AWS Load Balancers.",
      "id": "AwsElbLoadBalancerDetails",
      "properties": {},
      "type": "object"
    },
    "DailyResourceUsageAggregationMemory": {
      "type": "object",
      "properties": {
        "utilizationPercentage": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "Memory utilization percentage."
        }
      },
      "id": "DailyResourceUsageAggregationMemory",
      "description": "Statistical aggregation of memory usage."
    },
    "VirtualMachineDiskDetails": {
      "type": "object",
      "id": "VirtualMachineDiskDetails",
      "properties": {
        "hddTotalFreeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Total Disk Free Space."
        },
        "lsblkJson": {
          "type": "string",
          "description": "Raw lsblk output in json."
        },
        "disks": {
          "$ref": "DiskEntryList",
          "description": "List of disks."
        },
        "hddTotalCapacityBytes": {
          "type": "string",
          "description": "Disk total Capacity.",
          "format": "int64"
        }
      },
      "description": "Details of VM disks."
    },
    "Selinux": {
      "id": "Selinux",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Is SELinux enabled.",
          "type": "boolean"
        },
        "mode": {
          "type": "string",
          "description": "SELinux mode disabled / enforcing / permissive."
        }
      },
      "description": "SELinux details."
    },
    "ReportSummaryVMWareNodeAllocation": {
      "description": "Represents assets allocated to a specific VMWare Node type.",
      "properties": {
        "allocatedAssetCount": {
          "description": "Count of assets allocated to these nodes",
          "type": "string",
          "format": "int64"
        },
        "vmwareNode": {
          "description": "VMWare node type, e.g. \"ve1-standard-72\"",
          "$ref": "ReportSummaryVMWareNode"
        },
        "nodeCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of this node type to be provisioned"
        }
      },
      "id": "ReportSummaryVMWareNodeAllocation",
      "type": "object"
    },
    "MachineNetworkDetails": {
      "description": "Details of network adapters and settings.",
      "type": "object",
      "properties": {
        "publicIpAddress": {
          "description": "The public IP address of the machine.",
          "type": "string"
        },
        "networkAdapters": {
          "description": "List of network adapters.",
          "$ref": "NetworkAdapterList"
        },
        "primaryIpAddress": {
          "type": "string",
          "description": "The primary IP address of the machine."
        },
        "defaultGateway": {
          "description": "Default gateway address.",
          "type": "string"
        },
        "primaryMacAddress": {
          "type": "string",
          "description": "MAC address of the machine. This property is used to uniqly identify the machine."
        }
      },
      "id": "MachineNetworkDetails"
    },
    "DatabasePreferencesCloudSqlCommonBackup": {
      "type": "object",
      "description": "Preferences for database backups.",
      "id": "DatabasePreferencesCloudSqlCommonBackup",
      "properties": {
        "backupMode": {
          "description": "Optional. Automated backup mode.",
          "enumDescriptions": [
            "An unspecified database backup mode.",
            "Automatic backups disabled, no additional charges for storage.",
            "Automatic backups enabled, there will be additional charges for storage."
          ],
          "type": "string",
          "enum": [
            "BACKUP_MODE_UNSPECIFIED",
            "BACKUP_MODE_DISABLED",
            "BACKUP_MODE_ENABLED"
          ]
        }
      }
    },
    "VMwareEngineMachinePreferences": {
      "id": "VMwareEngineMachinePreferences",
      "properties": {
        "protectedNodes": {
          "type": "string",
          "description": "Optional. Whether to use VMware Engine Protected offering.",
          "enumDescriptions": [
            "Unspecified protected nodes preference.",
            "Use only protected nodes for the selected allowed_machine_series.",
            "Do not use protected nodes."
          ],
          "enum": [
            "PROTECTED_NODES_UNSPECIFIED",
            "PROTECTED_NODES_ENABLED",
            "PROTECTED_NODES_DISABLED"
          ]
        },
        "storageOnlyNodes": {
          "enum": [
            "STORAGE_ONLY_NODES_UNSPECIFIED",
            "STORAGE_ONLY_NODES_ENABLED",
            "STORAGE_ONLY_NODES_DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified storage-only nodes preference.",
            "Use storage-only nodes for selected allowed_machine_series, if available.",
            "Do not use storage-only nodes."
          ],
          "description": "Optional. Whether to use storage-only nodes, if those are available."
        },
        "allowedMachineSeries": {
          "description": "Optional. VMware Engine on Google Cloud machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series.",
          "items": {
            "$ref": "MachineSeries"
          },
          "type": "array"
        }
      },
      "type": "object",
[...]
