{
  "version_module": true,
  "name": "migrationcenter",
  "revision": "20260907",
  "documentationLink": "https://cloud.google.com/migration-center",
  "description": "A unified platform that helps you accelerate your end-to-end cloud journey from your current on-premises or cloud environments to Google Cloud.",
  "batchPath": "batch",
  "protocol": "rest",
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "discoveryVersion": "v1",
  "baseUrl": "https://migrationcenter.googleapis.com/",
  "schemas": {
    "RemoveAssetsFromGroupRequest": {
      "properties": {
        "allowMissing": {
          "description": "Optional. When this value is set to `false` and one of the given assets is not an existing member of the group, the operation fails with a `Not Found` error. When set to `true` this situation is silently ignored by the server. Default value is `false`.",
          "type": "boolean"
        },
        "assets": {
          "$ref": "AssetList",
          "description": "Required. List of assets to be removed. The maximum number of assets that can be removed in a single request is 1000."
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RemoveAssetsFromGroupRequest",
      "description": "A request to remove assets from a group."
    },
    "OpenFileList": {
      "id": "OpenFileList",
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "OpenFileDetails"
          },
          "description": "Open file details entries."
        }
      },
      "description": "Open file list.",
      "type": "object"
    },
    "DatabaseObjects": {
      "description": "Details of a group of database objects.",
      "id": "DatabaseObjects",
      "properties": {
        "category": {
          "enumDescriptions": [
            "Unspecified type.",
            "Table.",
            "Index.",
            "Constraints.",
            "Views.",
            "Source code, e.g. procedures.",
            "Uncategorized objects."
          ],
          "type": "string",
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "TABLE",
            "INDEX",
            "CONSTRAINTS",
            "VIEWS",
            "SOURCE_CODE",
            "OTHER"
          ],
          "description": "Optional. The category of the objects."
        },
        "count": {
          "description": "Optional. The number of objects.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "ListRelationsResponse": {
      "properties": {
        "relations": {
          "items": {
            "$ref": "Relation"
          },
          "type": "array",
          "description": "A list of relations."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListRelationsResponse",
      "description": "Response message for listing relations."
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      }
    },
    "ReportSummaryComputeEngineFinding": {
      "description": "A set of findings that applies to assets destined for Compute Engine.",
      "type": "object",
      "id": "ReportSummaryComputeEngineFinding",
      "properties": {
        "allocatedAssetCount": {
          "description": "Count of assets which were allocated.",
          "type": "string",
          "format": "int64"
        },
        "machineSeriesAllocations": {
          "type": "array",
          "items": {
            "$ref": "ReportSummaryMachineSeriesAllocation"
          },
          "description": "Distribution of assets based on the Machine Series."
        },
        "allocatedRegions": {
          "description": "Set of regions in which the assets were allocated.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allocatedDiskTypes": {
          "description": "Set of disk types allocated to assets.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified. Fallback to default value based on context.",
              "Standard HDD Persistent Disk.",
              "Balanced Persistent Disk.",
              "SSD Persistent Disk."
            ],
            "enum": [
              "PERSISTENT_DISK_TYPE_UNSPECIFIED",
              "PERSISTENT_DISK_TYPE_STANDARD",
              "PERSISTENT_DISK_TYPE_BALANCED",
              "PERSISTENT_DISK_TYPE_SSD"
            ]
          }
        }
      }
    },
    "Frames": {
      "type": "object",
      "properties": {
        "framesData": {
          "type": "array",
          "items": {
            "$ref": "AssetFrame"
          },
          "description": "A repeated field of asset data."
        }
      },
      "id": "Frames",
      "description": "Collection of frame data."
    },
    "DatabaseDetails": {
      "properties": {
        "allocatedStorageBytes": {
          "description": "Optional. The allocated storage for the database in bytes.",
          "type": "string",
          "format": "int64"
        },
        "schemas": {
          "items": {
            "$ref": "DatabaseSchema"
          },
          "type": "array",
          "description": "Optional. The database schemas."
        },
        "databaseName": {
          "type": "string",
          "description": "Required. The name of the database."
        },
        "parentDatabaseDeployment": {
          "description": "Required. The parent database deployment that contains the logical database.",
          "$ref": "DatabaseDetailsParentDatabaseDeployment"
        }
      },
      "type": "object",
      "description": "Details of a logical database.",
      "id": "DatabaseDetails"
    },
    "RuntimeNetworkInfo": {
      "type": "object",
      "id": "RuntimeNetworkInfo",
      "description": "Runtime networking information.",
      "properties": {
        "connections": {
          "$ref": "NetworkConnectionList",
          "description": "Network connections."
        },
        "scanTime": {
          "description": "Time of the last network scan.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "Insight": {
      "properties": {
        "genericInsight": {
          "$ref": "GenericInsight",
          "readOnly": true,
          "description": "Output only. A generic insight about an asset."
        },
        "migrationInsight": {
          "$ref": "MigrationInsight",
          "readOnly": true,
          "description": "Output only. An insight about potential migrations for an asset."
        }
      },
      "id": "Insight",
      "type": "object",
      "description": "An insight about an asset."
    },
    "AggregationCount": {
      "properties": {},
      "description": "Object count.",
      "id": "AggregationCount",
      "type": "object"
    },
    "ReportSummaryGroupPreferenceSetFinding": {
      "description": "Summary Findings for a specific Group/PreferenceSet combination.",
      "properties": {
        "computeEngineFinding": {
          "description": "A set of findings that applies to Compute Engine machines in the input.",
          "$ref": "ReportSummaryComputeEngineFinding"
        },
        "monthlyCostCompute": {
          "description": "Compute monthly cost for this preference set.",
          "$ref": "Money"
        },
        "monthlyCostNetworkEgress": {
          "$ref": "Money",
          "description": "Network Egress monthly cost for this preference set."
        },
        "monthlyCostOsLicense": {
          "description": "Licensing monthly cost for this preference set.",
          "$ref": "Money"
        },
        "monthlyCostTotal": {
          "description": "Total monthly cost for this preference set.",
          "$ref": "Money"
        },
        "monthlyCostStorage": {
          "description": "Storage monthly cost for this preference set.",
          "$ref": "Money"
        },
        "displayName": {
          "description": "Display Name of the Preference Set",
          "type": "string"
        },
        "machinePreferences": {
          "$ref": "VirtualMachinePreferences",
          "description": "A set of preferences that applies to all machines in the context."
        },
        "vmwareEngineFinding": {
          "description": "A set of findings that applies to VMWare machines in the input.",
          "$ref": "ReportSummaryVmwareEngineFinding"
        },
        "monthlyCostOther": {
          "description": "Miscellaneous monthly cost for this preference set.",
          "$ref": "Money"
        },
        "description": {
          "description": "Description for the Preference Set.",
          "type": "string"
        },
        "soleTenantFinding": {
          "description": "A set of findings that applies to Sole-Tenant machines in the input.",
          "$ref": "ReportSummarySoleTenantFinding"
        }
      },
      "id": "ReportSummaryGroupPreferenceSetFinding",
      "type": "object"
    },
    "SoleTenancyPreferences": {
      "id": "SoleTenancyPreferences",
      "properties": {
        "hostMaintenancePolicy": {
          "enumDescriptions": [
            "Unspecified host maintenance policy.",
            "Default host maintenance policy.",
            "Restart in place host maintenance policy.",
            "Migrate within node group host maintenance policy."
          ],
          "type": "string",
          "description": "Sole Tenancy nodes maintenance policy.",
          "enum": [
            "HOST_MAINTENANCE_POLICY_UNSPECIFIED",
            "HOST_MAINTENANCE_POLICY_DEFAULT",
            "HOST_MAINTENANCE_POLICY_RESTART_IN_PLACE",
            "HOST_MAINTENANCE_POLICY_MIGRATE_WITHIN_NODE_GROUP"
          ]
        },
        "cpuOvercommitRatio": {
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 2.0 inclusive.",
          "format": "double",
          "type": "number"
        },
        "nodeTypes": {
          "description": "A list of sole tenant node types. An empty list means that all possible node types will be considered.",
          "items": {
            "$ref": "SoleTenantNodeType"
          },
          "type": "array"
        },
        "commitmentPlan": {
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR",
            "COMMITMENT_3_YEAR"
          ],
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1 year commitment.",
            "3 years commitment."
          ],
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with.",
          "type": "string"
        }
      },
      "description": "Preferences concerning Sole Tenancy nodes and VMs.",
      "type": "object"
    },
    "ImportJob": {
      "type": "object",
      "description": "A resource that represents the background job that imports asset frames.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the import job was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. The full name of the import job.",
          "type": "string",
          "readOnly": true
        },
        "assetSource": {
          "description": "Required. Reference to a source.",
          "type": "string"
        },
        "executionReport": {
          "readOnly": true,
          "$ref": "ExecutionReport",
          "description": "Output only. The report with the results of running the import job."
        },
        "displayName": {
          "description": "Optional. User-friendly display name. Maximum length is 256 characters.",
          "type": "string"
        },
        "validationReport": {
          "$ref": "ValidationReport",
          "description": "Output only. The report with the validation results of the import job.",
          "readOnly": true
        },
        "completeTime": {
          "description": "Output only. The timestamp when the import job was completed.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels as key value pairs."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the import job was created."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the import job.",
          "enumDescriptions": [
            "Default value.",
            "The import job is pending.",
            "The processing of the import job is ongoing.",
            "The import job processing has completed.",
            "The import job failed to be processed.",
            "The import job is being validated.",
            "The import job contains blocking errors.",
            "The validation of the job completed with no blocking errors."
          ],
          "enum": [
            "IMPORT_JOB_STATE_UNSPECIFIED",
            "IMPORT_JOB_STATE_PENDING",
            "IMPORT_JOB_STATE_RUNNING",
            "IMPORT_JOB_STATE_COMPLETED",
            "IMPORT_JOB_STATE_FAILED",
            "IMPORT_JOB_STATE_VALIDATING",
            "IMPORT_JOB_STATE_FAILED_VALIDATION",
            "IMPORT_JOB_STATE_READY"
          ]
        }
      },
      "id": "ImportJob"
    },
    "ListErrorFramesResponse": {
      "description": "A response for listing error frames.",
      "type": "object",
      "id": "ListErrorFramesResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "errorFrames": {
          "items": {
            "$ref": "ErrorFrame"
          },
          "type": "array",
          "description": "The list of error frames."
        }
      }
    },
    "SqlServerDatabaseDeployment": {
      "id": "SqlServerDatabaseDeployment",
      "type": "object",
      "description": "Specific details for a Microsoft SQL Server database deployment.",
      "properties": {
        "traceFlags": {
          "type": "array",
          "items": {
            "$ref": "SqlServerTraceFlag"
          },
          "description": "Optional. List of SQL Server trace flags."
        },
        "serverFlags": {
          "items": {
            "$ref": "SqlServerServerFlag"
          },
          "description": "Optional. List of SQL Server server flags.",
          "type": "array"
        },
        "features": {
          "items": {
            "$ref": "SqlServerFeature"
          },
          "description": "Optional. List of SQL Server features.",
          "type": "array"
        }
      }
    },
    "SqlServerFeature": {
      "properties": {
        "enabled": {
          "description": "Required. Field enabled is set when a feature is used on the source deployment.",
          "type": "boolean"
        },
        "featureName": {
          "description": "Required. The feature name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SqlServerFeature",
      "description": "SQL Server feature details."
    },
    "NetworkUsageSample": {
      "id": "NetworkUsageSample",
      "description": "Network usage sample. Values are across all network interfaces.",
      "type": "object",
      "properties": {
        "averageIngressBps": {
          "description": "Average network ingress in B/s sampled over a short window. Must be non-negative.",
          "type": "number",
          "format": "float"
        },
        "averageEgressBps": {
          "format": "float",
          "type": "number",
          "description": "Average network egress in B/s sampled over a short window. Must be non-negative."
        }
      }
    },
    "MySqlPlugin": {
      "id": "MySqlPlugin",
      "description": "MySql plugin.",
      "properties": {
        "version": {
          "description": "Required. The plugin version.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. The plugin is active."
        },
        "plugin": {
          "description": "Required. The plugin name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MySqlSchemaDetails": {
      "properties": {
        "storageEngines": {
          "items": {
            "$ref": "MySqlStorageEngineDetails"
          },
          "type": "array",
          "description": "Optional. Mysql storage engine tables."
        }
      },
      "description": "Specific details for a Mysql database.",
      "id": "MySqlSchemaDetails",
      "type": "object"
    },
    "AggregationFrequency": {
      "id": "AggregationFrequency",
      "description": "Frequency distribution of all field values.",
      "type": "object",
      "properties": {}
    },
    "BatchDeleteAssetsRequest": {
      "type": "object",
      "description": "A request to delete a list of asset.",
      "id": "BatchDeleteAssetsRequest",
      "properties": {
        "names": {
          "description": "Required. The IDs of the assets to delete. A maximum of 1000 assets can be deleted in a batch. Format: projects/{project}/locations/{location}/assets/{name}.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "cascadingRules": {
          "description": "Optional. Optional cascading rules for deleting related assets.",
          "type": "array",
          "items": {
            "$ref": "CascadingRule"
          }
        },
        "allowMissing": {
          "description": "Optional. When this value is set to `true` the request is a no-op for non-existing assets. See https://google.aip.dev/135#delete-if-existing for additional details. Default value is `false`.",
          "type": "boolean"
        }
      }
    },
    "GuestOsDetails": {
      "id": "GuestOsDetails",
      "type": "object",
      "properties": {
        "version": {
          "description": "The version of the operating system.",
          "type": "string"
        },
        "runtime": {
          "$ref": "GuestRuntimeDetails",
          "description": "Runtime information."
        },
        "osName": {
          "description": "The name of the operating system.",
          "type": "string"
        },
        "family": {
          "enum": [
            "OS_FAMILY_UNKNOWN",
            "OS_FAMILY_WINDOWS",
            "OS_FAMILY_LINUX",
            "OS_FAMILY_UNIX"
          ],
          "description": "What family the OS belong to, if known.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Microsoft Windows Server and Desktop.",
            "Various Linux flavors.",
            "Non-Linux Unix flavors."
          ]
        },
        "config": {
          "$ref": "GuestConfigDetails",
          "description": "OS and app configuration."
        }
      },
      "description": "Information from Guest-level collections."
    },
    "RunningProcessList": {
      "description": "List of running guest OS processes.",
      "type": "object",
      "id": "RunningProcessList",
      "properties": {
        "entries": {
          "type": "array",
          "description": "Running process entries.",
          "items": {
            "$ref": "RunningProcess"
          }
        }
      }
    },
    "AwsRds": {
      "type": "object",
      "properties": {},
      "id": "AwsRds",
      "description": "Specific details for an AWS RDS database deployment."
    },
    "GenericInsight": {
      "id": "GenericInsight",
      "properties": {
        "defaultMessage": {
          "type": "string",
          "description": "Output only. In case message_code is not yet known by the client default_message will be the message to be used instead.",
          "readOnly": true
        },
        "messageId": {
          "description": "Output only. Represents a globally unique message id for this insight, can be used for localization purposes, in case message_code is not yet known by the client use default_message instead.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "additionalInformation": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Additional information about the insight, each entry can be a logical entry and must make sense if it is displayed with line breaks between each entry. Text can contain md style links.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A generic insight about an asset."
    },
    "AssetsExportJobExecution": {
      "properties": {
        "requestedAssetCount": {
          "readOnly": true,
          "description": "Output only. Number of assets requested for export after resolving the requested filters.",
          "format": "int32",
          "type": "integer"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Completion time of the export.",
          "format": "google-datetime"
        },
        "executionId": {
          "description": "Output only. Globally unique identifier of the execution.",
          "readOnly": true,
          "type": "string"
        },
        "expireTime": {
          "description": "Output only. Expiration time for the export and artifacts.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Execution timestamp."
        },
        "result": {
          "$ref": "AssetsExportJobExecutionResult",
          "readOnly": true,
          "description": "Output only. Result of the export execution."
        }
      },
      "id": "AssetsExportJobExecution",
      "description": "Execution status of assets export job.",
      "type": "object"
    },
    "MigrationInsight": {
      "description": "An insight about potential migrations for an asset.",
      "properties": {
        "computeEngineTarget": {
          "$ref": "ComputeEngineMigrationTarget",
          "description": "Output only. A Google Compute Engine target.",
          "readOnly": true
        },
        "fit": {
          "readOnly": true,
          "description": "Output only. Description of how well the asset this insight is associated with fits the proposed migration.",
          "$ref": "FitDescriptor"
        }
      },
      "id": "MigrationInsight",
      "type": "object"
    },
    "MysqlDatabaseDeployment": {
      "id": "MysqlDatabaseDeployment",
      "type": "object",
      "properties": {
        "properties": {
          "items": {
            "$ref": "MySqlProperty"
          },
          "type": "array",
          "description": "Optional. List of MySql properties."
        },
        "resourceGroupsCount": {
          "description": "Optional. Number of resource groups.",
          "type": "integer",
          "format": "int32"
        },
        "plugins": {
          "type": "array",
          "items": {
            "$ref": "MySqlPlugin"
          },
          "description": "Optional. List of MySql plugins."
        },
        "variables": {
          "type": "array",
          "description": "Optional. List of MySql variables.",
          "items": {
            "$ref": "MySqlVariable"
          }
        }
      },
      "description": "Specific details for a Mysql database deployment."
    },
    "OpenFileDetails": {
      "description": "Open file Information.",
      "type": "object",
      "id": "OpenFileDetails",
      "properties": {
        "fileType": {
          "type": "string",
          "description": "Opened file file type."
        },
        "user": {
          "type": "string",
          "description": "Opened file user."
        },
        "command": {
          "description": "Opened file command.",
          "type": "string"
        },
        "filePath": {
          "type": "string",
          "description": "Opened file file path."
        }
      }
    },
    "CascadingRule": {
      "description": "Specifies cascading rules for traversing relations.",
      "id": "CascadingRule",
      "type": "object",
      "properties": {
        "cascadeLogicalDbs": {
          "$ref": "CascadeLogicalDBsRule",
          "description": "Cascading rule for related logical DBs."
        }
      }
    },
    "SignedUris": {
      "properties": {
        "signedUris": {
          "items": {
            "$ref": "SignedUri"
          },
          "type": "array",
          "description": "Output only. List of signed URIs.",
          "readOnly": true
        }
      },
      "description": "Contains a list of Signed URIs.",
      "id": "SignedUris",
      "type": "object"
    },
    "GuestInstalledApplicationList": {
      "properties": {
        "entries": {
          "description": "Application entries.",
          "type": "array",
          "items": {
            "$ref": "GuestInstalledApplication"
          }
        }
      },
      "id": "GuestInstalledApplicationList",
      "description": "Guest installed application list.",
      "type": "object"
    },
    "ReportSummaryChartData": {
      "properties": {
        "dataPoints": {
          "type": "array",
          "description": "Each data point in the chart is represented as a name-value pair with the name being the x-axis label, and the value being the y-axis value.",
          "items": {
            "$ref": "ReportSummaryChartDataDataPoint"
          }
        }
      },
      "type": "object",
      "id": "ReportSummaryChartData",
      "description": "Describes a collection of data points rendered as a Chart."
    },
    "MemoryUsageSample": {
      "description": "Memory usage sample.",
      "type": "object",
      "properties": {
        "utilizedPercentage": {
          "type": "number",
          "format": "float",
          "description": "Percentage of system memory utilized. Must be in the interval [0, 100]."
        }
      },
      "id": "MemoryUsageSample"
    },
    "NetworkAdapterDetails": {
      "description": "Details of network adapter.",
      "id": "NetworkAdapterDetails",
      "properties": {
        "adapterType": {
          "type": "string",
          "description": "Network adapter type (e.g. VMXNET3)."
        },
        "addresses": {
          "description": "NetworkAddressList",
          "$ref": "NetworkAddressList"
        },
        "macAddress": {
          "description": "MAC address.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DailyResourceUsageAggregationNetwork": {
      "description": "Statistical aggregation of network usage.",
      "type": "object",
      "id": "DailyResourceUsageAggregationNetwork",
      "properties": {
        "egressBps": {
          "description": "Network egress in B/s.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "ingressBps": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "Network ingress in B/s."
        }
      }
    },
    "VmwareEnginePreferences": {
      "properties": {
        "cpuOvercommitRatio": {
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 8.0, with 0.1 increment.",
          "format": "double",
          "type": "number"
        },
        "storageDeduplicationCompressionRatio": {
          "type": "number",
          "description": "The Deduplication and Compression ratio is based on the logical (Used Before) space required to store data before applying deduplication and compression, in relation to the physical (Used After) space required after applying deduplication and compression. Specifically, the ratio is the Used Before space divided by the Used After space. For example, if the Used Before space is 3 GB, but the physical Used After space is 1 GB, the deduplication and compression ratio is 3x. Acceptable values are between 1.0 and 4.0.",
          "format": "double"
        },
        "commitmentPlan": {
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1 year commitment (monthly payments).",
            "3 year commitment (monthly payments).",
            "1 year commitment (upfront payment).",
            "3 years commitment (upfront payment)."
          ],
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_3_YEAR_MONTHLY_PAYMENTS",
            "COMMITMENT_1_YEAR_UPFRONT_PAYMENT",
            "COMMITMENT_3_YEAR_UPFRONT_PAYMENT"
          ],
          "type": "string",
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with."
        },
        "memoryOvercommitRatio": {
          "format": "double",
          "type": "number",
          "description": "Memory overcommit ratio. Acceptable values are 1.0, 1.25, 1.5, 1.75 and 2.0."
        }
      },
      "description": "The user preferences relating to Google Cloud VMware Engine target platform.",
      "type": "object",
      "id": "VmwareEnginePreferences"
    },
    "NfsExportList": {
      "description": "NFS exports.",
      "id": "NfsExportList",
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "NfsExport"
          },
          "description": "NFS export entries.",
          "type": "array"
        }
      }
    },
    "AggregationResultCount": {
      "type": "object",
      "properties": {
        "value": {
          "format": "int64",
          "type": "string"
        }
      },
      "id": "AggregationResultCount",
      "description": "The result of a count aggregation."
    },
    "XlsxOutputFile": {
      "id": "XlsxOutputFile",
      "type": "object",
      "description": "Contains a single output file of type XLSX.",
      "properties": {
        "signedUri": {
          "description": "Output only. Signed URI destination.",
          "readOnly": true,
          "$ref": "SignedUri"
        }
      }
    },
    "ReportSummaryUtilizationChartData": {
      "properties": {
        "used": {
          "description": "Aggregate value which falls into the \"Used\" bucket.",
          "type": "string",
          "format": "int64"
        },
        "free": {
          "format": "int64",
          "type": "string",
          "description": "Aggregate value which falls into the \"Free\" bucket."
        }
      },
      "description": "Utilization Chart is a specific type of visualization which displays a metric classified into \"Used\" and \"Free\" buckets.",
      "type": "object",
      "id": "ReportSummaryUtilizationChartData"
    },
    "GuestConfigDetails": {
      "type": "object",
      "properties": {
        "nfsExports": {
          "description": "NFS exports.",
          "$ref": "NfsExportList"
        },
        "fstab": {
          "description": "Mount list (Linux fstab).",
          "$ref": "FstabEntryList"
        },
        "issue": {
          "type": "string",
          "description": "OS issue (typically /etc/issue in Linux)."
        },
        "hosts": {
          "description": "Hosts file (/etc/hosts).",
          "$ref": "HostsEntryList"
        },
        "selinuxMode": {
          "description": "Security-Enhanced Linux (SELinux) mode.",
          "type": "string",
          "enum": [
            "SE_LINUX_MODE_UNSPECIFIED",
            "SE_LINUX_MODE_DISABLED",
            "SE_LINUX_MODE_PERMISSIVE",
            "SE_LINUX_MODE_ENFORCING"
          ],
          "enumDescriptions": [
            "SELinux mode unknown or unspecified.",
            "SELinux is disabled.",
            "SELinux permissive mode.",
            "SELinux enforcing mode."
          ]
        }
      },
      "description": "Guest OS config information.",
      "id": "GuestConfigDetails"
    },
    "HostsEntryList": {
      "properties": {
        "entries": {
          "type": "array",
          "items": {
            "$ref": "HostsEntry"
          },
          "description": "Hosts entries."
        }
      },
      "type": "object",
      "description": "Hosts content.",
      "id": "HostsEntryList"
    },
    "ImportRowErrorXlsxErrorDetails": {
      "type": "object",
      "properties": {
        "sheet": {
          "description": "The name of the sheet where the error was detected.",
          "type": "string"
        },
        "rowNumber": {
          "type": "integer",
          "format": "int32",
          "description": "The row number where the error was detected."
        }
      },
      "id": "ImportRowErrorXlsxErrorDetails",
      "description": "Error details for an XLSX file."
    },
    "HostsEntry": {
      "type": "object",
      "description": "Single /etc/hosts entry.",
      "id": "HostsEntry",
      "properties": {
        "hostNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of host names / aliases."
        },
        "ip": {
          "description": "IP (raw, IPv4/6 agnostic).",
          "type": "string"
        }
      }
    },
    "Source": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Free-text description."
        },
        "errorFrameCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. The number of frames that were reported by the source and contained errors."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "The source is active and ready to be used.",
            "In the process of being deleted.",
            "Source is in an invalid state. Asset frames reported to it will be ignored."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING",
            "INVALID"
          ],
          "readOnly": true,
          "description": "Output only. The state of the source.",
          "type": "string"
        },
        "pendingFrameCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of frames that are still being processed.",
          "type": "integer"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the source was created.",
          "format": "google-datetime"
        },
        "type": {
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ],
          "description": "Data source type.",
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ],
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the source was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. The full name of the source.",
          "readOnly": true,
          "type": "string"
        },
        "priority": {
          "type": "integer",
          "description": "The information confidence of the source. The higher the value, the higher the confidence.",
          "format": "int32"
        },
        "displayName": {
          "description": "User-friendly display name.",
          "type": "string"
        },
        "managed": {
          "type": "boolean",
          "description": "If `true`, the source is managed by other service(s)."
        }
      },
      "type": "object",
      "id": "Source",
      "description": "Source represents an object from which asset information is streamed to Migration Center."
    },
    "BatchUpdateAssetsRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the resources to update. A maximum of 1000 assets can be modified in a batch.",
          "type": "array",
          "items": {
            "$ref": "UpdateAssetRequest"
          }
        }
      },
      "id": "BatchUpdateAssetsRequest",
      "description": "A request to update a list of assets."
    },
    "RunningProcess": {
      "type": "object",
      "properties": {
        "user": {
          "type": "string",
          "description": "User running the process."
        },
        "attributes": {
          "description": "Process extended attributes.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "exePath": {
          "type": "string",
          "description": "Process binary path."
        },
        "cmdline": {
          "description": "Process full command line.",
          "type": "string"
        },
        "pid": {
          "type": "string",
          "format": "int64",
          "description": "Process ID."
        }
      },
      "id": "RunningProcess",
      "description": "Guest OS running process details."
    },
    "DiskPartition": {
      "properties": {
        "fileSystem": {
          "description": "Partition file system.",
          "type": "string"
        },
        "freeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Partition free space."
        },
        "mountPoint": {
          "description": "Mount point (Linux/Windows) or drive letter (Windows).",
          "type": "string"
        },
        "capacityBytes": {
          "description": "Partition capacity.",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "description": "Partition type.",
          "type": "string"
        },
        "uuid": {
          "type": "string",
          "description": "Partition UUID."
        },
        "subPartitions": {
          "$ref": "DiskPartitionList",
          "description": "Sub-partitions."
        }
      },
      "type": "object",
      "id": "DiskPartition",
      "description": "Disk Partition details."
    },
    "DailyResourceUsageAggregationStats": {
      "properties": {
        "ninteyFifthPercentile": {
          "description": "95th percentile usage value.",
          "type": "number",
          "format": "float"
        },
        "median": {
          "description": "Median usage value.",
          "type": "number",
          "format": "float"
        },
        "average": {
          "type": "number",
          "format": "float",
          "description": "Average usage value."
        },
        "peak": {
          "description": "Peak usage value.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Statistical aggregation of samples for a single resource usage.",
      "type": "object",
      "id": "DailyResourceUsageAggregationStats"
    },
    "ListAssetsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "assets": {
          "description": "A list of assets.",
          "type": "array",
          "items": {
            "$ref": "Asset"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "description": "Response message for listing assets.",
      "id": "ListAssetsResponse"
    },
    "ReportSummaryHistogramChartData": {
      "description": "A Histogram Chart shows a distribution of values into buckets, showing a count of values which fall into a bucket.",
      "id": "ReportSummaryHistogramChartData",
      "type": "object",
      "properties": {
        "buckets": {
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity.",
          "items": {
            "$ref": "ReportSummaryHistogramChartDataBucket"
          },
          "type": "array"
        }
      }
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      },
      "type": "object"
    },
    "RunAssetsExportJobResponse": {
      "type": "object",
      "description": "Response message for running an assets export job.",
      "id": "RunAssetsExportJobResponse",
      "properties": {
        "assetsExportJobExecution": {
          "description": "Output only. Execution status of the assets export operation.",
          "$ref": "AssetsExportJobExecution",
          "readOnly": true
        }
      }
    },
    "NetworkAdapterList": {
      "properties": {
        "entries": {
          "items": {
            "$ref": "NetworkAdapterDetails"
          },
          "type": "array",
          "description": "Network adapter entries."
        }
      },
      "id": "NetworkAdapterList",
      "description": "List of network adapters.",
      "type": "object"
    },
    "MachinePreferences": {
      "id": "MachinePreferences",
      "properties": {
        "allowedMachineSeries": {
          "description": "Compute Engine machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series.",
          "items": {
            "$ref": "MachineSeries"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations. Not all machine types are available in all zones and regions."
    },
    "DatabaseDeploymentDetails": {
      "id": "DatabaseDeploymentDetails",
      "description": "The details of a database deployment asset.",
      "properties": {
        "generatedId": {
          "type": "string",
          "description": "Optional. The database deployment generated ID."
        },
        "version": {
          "description": "Optional. The database deployment version.",
          "type": "string"
        },
        "aggregatedStats": {
          "description": "Output only. Aggregated stats for the database deployment.",
          "readOnly": true,
          "$ref": "DatabaseDeploymentDetailsAggregatedStats"
        },
        "mysql": {
          "$ref": "MysqlDatabaseDeployment",
          "description": "Optional. Details of a MYSQL database deployment."
        },
        "topology": {
          "$ref": "DatabaseDeploymentTopology",
          "description": "Optional. Details of the database deployment topology."
        },
        "awsRds": {
          "$ref": "AwsRds",
          "description": "Optional. Details of an AWS RDS instance."
        },
        "edition": {
          "type": "string",
          "description": "Optional. The database deployment edition."
        },
        "sqlServer": {
          "description": "Optional. Details of a Microsoft SQL Server database deployment.",
          "$ref": "SqlServerDatabaseDeployment"
        },
        "postgresql": {
          "$ref": "PostgreSqlDatabaseDeployment",
          "description": "Optional. Details of a PostgreSQL database deployment."
        },
        "manualUniqueId": {
          "type": "string",
          "description": "Optional. A manual unique ID set by the user."
        }
      },
      "type": "object"
    },
    "Report": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Creation timestamp."
        },
        "type": {
          "enumDescriptions": [
            "Default Report type.",
            "Total cost of ownership Report type."
          ],
          "description": "Report type.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOTAL_COST_OF_OWNERSHIP"
          ]
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of resource."
        },
        "description": {
          "type": "string",
          "description": "Free-text description."
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name. Maximum length is 63 characters."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Last update timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Report creation state.",
          "enumDescriptions": [
            "Default Report creation state.",
            "Creating Report.",
            "Successfully created Report.",
            "Failed to create Report."
          ]
        },
        "summary": {
          "description": "Output only. Summary view of the Report.",
          "$ref": "ReportSummary",
          "readOnly": true
        }
      },
      "description": "Report represents a point-in-time rendering of the ReportConfig results.",
      "id": "Report"
    },
    "ListImportJobsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "importJobs": {
          "items": {
            "$ref": "ImportJob"
          },
          "type": "array",
          "description": "The list of import jobs."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A response for listing import jobs.",
      "id": "ListImportJobsResponse"
    },
    "AggregationHistogram": {
      "description": "Histogram of bucketed assets counts by field value.",
      "type": "object",
      "properties": {
        "lowerBounds": {
          "type": "array",
          "items": {
            "format": "double",
            "type": "number"
          },
          "description": "Lower bounds of buckets. The response will contain `n+1` buckets for `n` bounds. The first bucket will count all assets for which the field value is smaller than the first bound. Subsequent buckets will count assets for which the field value is greater or equal to a lower bound and smaller than the next one. The last bucket will count assets for which the field value is greater or equal to the final lower bound. You can define up to 20 lower bounds."
        }
      },
      "id": "AggregationHistogram"
    },
    "AggregationSum": {
      "description": "Sum of field values.",
      "id": "AggregationSum",
      "properties": {},
      "type": "object"
    },
    "AggregationResult": {
      "type": "object",
      "description": "Message describing a result of an aggregation.",
      "id": "AggregationResult",
      "properties": {
        "histogram": {
          "$ref": "AggregationResultHistogram"
        },
        "field": {
          "type": "string"
        },
        "count": {
          "$ref": "AggregationResultCount"
        },
        "sum": {
          "$ref": "AggregationResultSum"
        },
        "frequency": {
          "$ref": "AggregationResultFrequency"
        }
      }
    },
    "RunningServiceList": {
      "description": "List of running guest OS services.",
      "properties": {
        "entries": {
          "items": {
            "$ref": "RunningService"
          },
          "description": "Running service entries.",
          "type": "array"
        }
      },
      "id": "RunningServiceList",
      "type": "object"
    },
    "ReportSummaryVmwareEngineFinding": {
      "type": "object",
      "properties": {
        "allocatedRegions": {
          "description": "Set of regions in which the assets were allocated",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nodeAllocations": {
          "description": "Set of per-nodetype allocation records",
          "items": {
            "$ref": "ReportSummaryVmwareNodeAllocation"
          },
          "type": "array"
        },
        "allocatedAssetCount": {
          "type": "string",
          "description": "Count of assets which are allocated",
          "format": "int64"
        }
      },
      "id": "ReportSummaryVmwareEngineFinding",
      "description": "A set of findings that applies to assets destined for VMWare Engine."
    },
    "OutputFile": {
      "id": "OutputFile",
      "properties": {
        "fileSizeBytes": {
          "type": "string",
          "description": "Output only. File size in bytes.",
          "format": "int64",
          "readOnly": true
        },
        "xlsxOutputFile": {
          "description": "Output only. XLSX output file.",
          "$ref": "XlsxOutputFile",
          "readOnly": true
        },
        "csvOutputFile": {
          "$ref": "CsvOutputFile",
          "description": "Output only. CSV output file.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Contains a single output file."
    },
    "GuestInstalledApplication": {
      "type": "object",
      "id": "GuestInstalledApplication",
      "description": "Guest installed application information.",
      "properties": {
        "version": {
          "description": "Installed application version.",
          "type": "string"
        },
        "licenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "License strings associated with the installed application."
        },
        "applicationName": {
          "description": "Installed application name.",
          "type": "string"
        },
        "vendor": {
          "description": "Installed application vendor.",
          "type": "string"
        },
        "installTime": {
          "format": "google-datetime",
          "description": "The time when the application was installed.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Source path."
        }
      }
    },
    "ReportSummaryVmwareNode": {
      "description": "A VMWare Engine Node",
      "type": "object",
      "id": "ReportSummaryVmwareNode",
      "properties": {
        "code": {
          "description": "Code to identify VMware Engine node series, e.g. \"ve1-standard-72\". Based on the displayName of cloud.google.com/vmware-engine/docs/reference/rest/v1/projects.locations.nodeTypes",
          "type": "string"
        }
      }
    },
    "MySqlStorageEngineDetails": {
      "type": "object",
      "properties": {
        "engine": {
          "enumDescriptions": [
            "Unspecified storage engine.",
            "InnoDB.",
            "MyISAM.",
            "Memory.",
            "CSV.",
            "Archive.",
            "Blackhole.",
            "NDB.",
            "Merge.",
            "Federated.",
            "Example.",
            "Other."
          ],
          "type": "string",
          "description": "Required. The storage engine.",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "INNODB",
            "MYISAM",
            "MEMORY",
            "CSV",
            "ARCHIVE",
            "BLACKHOLE",
            "NDB",
            "MERGE",
            "FEDERATED",
            "EXAMPLE",
            "OTHER"
          ]
        },
        "encryptedTableCount": {
          "description": "Optional. The number of encrypted tables.",
          "format": "int32",
          "type": "integer"
        },
        "tableCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of tables."
        }
      },
      "id": "MySqlStorageEngineDetails",
      "description": "Mysql storage engine tables."
    },
    "AssetsExportJobExecutionResult": {
      "description": "Contains the result of the assets export.",
      "type": "object",
      "id": "AssetsExportJobExecutionResult",
      "properties": {
        "signedUris": {
          "$ref": "SignedUris",
          "description": "Output only. Signed URLs for downloading export artifacts.",
          "readOnly": true
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Error encountered during export.",
          "$ref": "Status"
        },
        "outputFiles": {
          "description": "Output only. List of output files.",
          "readOnly": true,
          "$ref": "OutputFileList"
        }
      }
    },
    "SqlServerServerFlag": {
      "type": "object",
      "description": "SQL Server server flag details.",
      "id": "SqlServerServerFlag",
      "properties": {
        "serverFlagName": {
          "type": "string",
          "description": "Required. The server flag name."
        },
        "valueInUse": {
          "type": "string",
          "description": "Required. The server flag actual value. If `value_in_use` is different from `value` it means that either the configuration change was not applied or it is an expected behavior. See SQL Server documentation for more details."
        },
        "value": {
          "type": "string",
          "description": "Required. The server flag value set by the user."
        }
      }
    },
    "ReportConfig": {
      "type": "object",
      "description": "The groups and associated preference sets on which we can generate reports.",
      "id": "ReportConfig",
      "properties": {
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of resource.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was last updated."
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was created."
        },
        "groupPreferencesetAssignments": {
          "items": {
            "$ref": "ReportConfigGroupPreferenceSetAssignment"
          },
          "type": "array",
          "description": "Required. Collection of combinations of groups and preference sets."
        }
      }
    },
    "ImportRowError": {
      "properties": {
        "archiveError": {
          "description": "Error details for an archive file.",
          "$ref": "ImportRowErrorArchiveErrorDetails"
        },
        "csvError": {
          "$ref": "ImportRowErrorCsvErrorDetails",
          "description": "Error details for a CSV file."
        },
        "assetTitle": {
          "description": "Output only. The asset title.",
          "readOnly": true,
          "type": "string"
        },
        "vmUuid": {
          "description": "The VM UUID.",
          "type": "string"
        },
        "errors": {
          "items": {
            "$ref": "ImportError"
          },
          "description": "The list of errors detected in the row.",
          "type": "array"
        },
        "xlsxError": {
          "$ref": "ImportRowErrorXlsxErrorDetails",
          "description": "Error details for an XLSX file."
        },
        "vmName": {
          "description": "The name of the VM in the row.",
          "type": "string"
        },
        "rowNumber": {
          "type": "integer",
          "deprecated": true,
          "description": "The row number where the error was detected.",
          "format": "int32"
        }
      },
      "id": "ImportRowError",
      "description": "A resource that reports the import job errors at row level.",
      "type": "object"
    },
    "ReportSummary": {
      "type": "object",
      "description": "Describes the Summary view of a Report, which contains aggregated values for all the groups and preference sets included in this Report.",
      "properties": {
        "groupFindings": {
          "description": "Findings for each Group included in this report.",
          "items": {
            "$ref": "ReportSummaryGroupFinding"
          },
          "type": "array"
        },
        "allAssetsStats": {
          "description": "Aggregate statistics for all the assets across all the groups.",
          "$ref": "ReportSummaryAssetAggregateStats"
        }
      },
      "id": "ReportSummary"
    },
    "AwsEc2PlatformDetails": {
      "properties": {
        "location": {
          "type": "string",
          "description": "The location of the machine in the AWS format."
        },
        "hyperthreading": {
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "description": "Optional. Whether the machine is hyperthreaded.",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "type": "string"
        },
        "machineTypeLabel": {
          "description": "AWS platform's machine type label.",
          "type": "string"
        }
      },
      "description": "AWS EC2 specific details.",
      "type": "object",
      "id": "AwsEc2PlatformDetails"
    },
    "ReportSummaryAssetAggregateStats": {
      "properties": {
        "coreCountHistogram": {
          "$ref": "ReportSummaryHistogramChartData",
          "description": "Histogram showing a distribution of logical CPU core counts."
        },
        "storageUtilizationChart": {
          "description": "Total memory split into Used/Free buckets.",
          "$ref": "ReportSummaryUtilizationChartData"
        },
        "memoryBytesHistogram": {
          "$ref": "ReportSummaryHistogramChartData",
          "description": "Histogram showing a distribution of memory sizes."
        },
        "totalAssets": {
          "description": "Count of the number of unique assets in this collection.",
          "type": "string",
          "format": "int64"
        },
        "totalMemoryBytes": {
          "type": "string",
          "description": "Sum of the memory in bytes of all the assets in this collection.",
          "format": "int64"
        },
        "softwareInstances": {
          "$ref": "ReportSummaryChartData",
          "description": "Output only. Count of assets grouped by software name. Only present for virtual machines.",
          "readOnly": true
        },
        "totalCores": {
          "format": "int64",
          "type": "string",
          "description": "Sum of the CPU core count of all the assets in this collection."
        },
        "operatingSystem": {
          "$ref": "ReportSummaryChartData",
          "description": "Count of assets grouped by Operating System families."
        },
        "totalStorageBytes": {
          "format": "int64",
          "type": "string",
          "description": "Sum of persistent storage in bytes of all the assets in this collection."
        },
        "memoryUtilizationChart": {
          "$ref": "ReportSummaryUtilizationChartData",
          "description": "Total memory split into Used/Free buckets."
        },
        "storageBytesHistogram": {
          "description": "Histogram showing a distribution of storage sizes.",
          "$ref": "ReportSummaryHistogramChartData"
        }
      },
      "description": "Aggregate statistics for a collection of assets.",
      "id": "ReportSummaryAssetAggregateStats",
      "type": "object"
    },
    "FitDescriptor": {
      "type": "object",
      "properties": {
        "fitLevel": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not enough information.",
            "Fit.",
            "No Fit.",
            "Fit with effort."
          ],
          "enum": [
            "FIT_LEVEL_UNSPECIFIED",
            "FIT",
            "NO_FIT",
            "REQUIRES_EFFORT"
          ],
          "description": "Output only. Fit level."
        }
      },
      "id": "FitDescriptor",
      "description": "Describes the fit level of an asset for migration to a specific target."
    },
    "PreferenceSet": {
      "description": "The preferences that apply to all assets in a given context.",
      "properties": {
        "createTime": {
          "description": "Output only. The timestamp when the preference set was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "A description of the preference set.",
          "type": "string"
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the preference set was last updated."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the preference set."
        },
        "virtualMachinePreferences": {
          "description": "Optional. A set of preferences that applies to all virtual machines in the context.",
          "$ref": "VirtualMachinePreferences"
        }
      },
      "id": "PreferenceSet",
      "type": "object"
    },
    "SendDiscoveryClientHeartbeatRequest": {
      "id": "SendDiscoveryClientHeartbeatRequest",
      "description": "A request to send a discovery client heartbeat.",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. Client application version."
        },
        "errors": {
          "items": {
            "$ref": "Status"
          },
          "type": "array",
          "description": "Optional. Errors affecting client functionality."
        }
      }
    },
    "ReportSummaryChartDataDataPoint": {
      "properties": {
        "label": {
          "type": "string",
          "description": "The X-axis label for this data point."
        },
        "value": {
          "format": "double",
          "description": "The Y-axis value for this data point.",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Describes a single data point in the Chart.",
      "id": "ReportSummaryChartDataDataPoint"
    },
    "PostgreSqlProperty": {
      "id": "PostgreSqlProperty",
      "properties": {
        "enabled": {
          "description": "Required. The property is enabled.",
          "type": "boolean"
        },
        "property": {
          "type": "string",
          "description": "Required. The property name."
        },
        "numericValue": {
          "type": "string",
          "format": "int64",
          "description": "Required. The property numeric value."
        }
      },
      "type": "object",
      "description": "PostgreSql property."
    },
    "PlatformDetails": {
      "type": "object",
      "properties": {
        "vmwareDetails": {
          "$ref": "VmwarePlatformDetails",
          "description": "VMware specific details."
        },
        "physicalDetails": {
          "description": "Physical machines platform details.",
          "$ref": "PhysicalPlatformDetails"
        },
        "azureVmDetails": {
          "$ref": "AzureVmPlatformDetails",
          "description": "Azure VM specific details."
        },
        "awsEc2Details": {
          "description": "AWS EC2 specific details.",
          "$ref": "AwsEc2PlatformDetails"
        },
        "genericDetails": {
          "description": "Generic platform details.",
          "$ref": "GenericPlatformDetails"
        }
      },
      "id": "PlatformDetails",
      "description": "Information about the platform."
    },
    "ComputeEngineShapeDescriptor": {
      "id": "ComputeEngineShapeDescriptor",
      "description": "Compute Engine target shape descriptor.",
      "properties": {
        "machineType": {
          "description": "Output only. Compute Engine machine type.",
          "type": "string",
          "readOnly": true
        },
        "logicalCoreCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of logical cores."
        },
        "physicalCoreCount": {
          "description": "Number of physical cores.",
          "type": "integer",
          "format": "int32"
        },
        "storage": {
          "description": "Output only. Compute Engine storage. Never empty.",
          "items": {
            "$ref": "ComputeStorageDescriptor"
          },
          "readOnly": true,
          "type": "array"
        },
        "memoryMb": {
          "description": "Memory in mebibytes.",
          "type": "integer",
          "format": "int32"
        },
        "series": {
          "description": "Output only. Compute Engine machine series.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "Asset": {
      "description": "An asset represents a resource in your environment. Asset types include virtual machines and databases.",
      "properties": {
        "machineDetails": {
          "readOnly": true,
          "$ref": "MachineDetails",
          "description": "Output only. Asset information specific for virtual and physical machines."
        },
        "databaseDeploymentDetails": {
          "readOnly": true,
          "description": "Output only. Asset information specific for database deployments.",
          "$ref": "DatabaseDeploymentDetails"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the asset was last updated.",
          "type": "string",
          "readOnly": true
        },
        "attributes": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Generic asset attributes."
        },
        "databaseDetails": {
          "description": "Output only. Asset information specific for logical databases.",
          "readOnly": true,
          "$ref": "DatabaseDetails"
        },
        "createTime": {
          "description": "Output only. The timestamp when the asset was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "sources": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The list of sources contributing to the asset."
        },
        "insightList": {
          "$ref": "InsightList",
          "description": "Output only. The list of insights associated with the asset.",
          "readOnly": true
        },
        "hidden": {
          "description": "Optional. Indicates if the asset is hidden.",
          "type": "boolean"
        },
        "hideReason": {
          "description": "Optional. An optional reason for marking this asset as hidden.",
          "type": "string"
        },
        "performanceData": {
          "description": "Output only. Performance data for the asset.",
          "$ref": "AssetPerformanceData",
          "readOnly": true
        },
        "hideTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the asset was marked as hidden."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs.",
          "type": "object"
        },
        "assignedGroups": {
          "description": "Output only. The list of groups that the asset is assigned to.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The full name of the asset.",
          "type": "string",
          "readOnly": true
        },
        "title": {
          "readOnly": true,
          "description": "Output only. Server generated human readable name of the asset.",
          "type": "string"
        }
      },
      "id": "Asset",
      "type": "object"
    },
    "DiskEntry": {
      "type": "object",
      "id": "DiskEntry",
      "description": "Single disk entry.",
      "properties": {
        "diskLabel": {
          "type": "string",
          "description": "Disk label."
        },
        "capacityBytes": {
          "format": "int64",
          "type": "string",
          "description": "Disk capacity."
        },
        "interfaceType": {
          "enumDescriptions": [
            "Interface type unknown or unspecified.",
            "IDE interface type.",
            "SATA interface type.",
            "SAS interface type.",
            "SCSI interface type.",
            "NVME interface type.",
            "FC interface type.",
            "iSCSI interface type."
          ],
          "type": "string",
          "enum": [
            "INTERFACE_TYPE_UNSPECIFIED",
            "IDE",
            "SATA",
            "SAS",
            "SCSI",
            "NVME",
            "FC",
            "ISCSI"
          ],
          "description": "Disks interface type."
        },
        "freeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Disk free space."
        },
        "partitions": {
          "description": "Partition layout.",
          "$ref": "DiskPartitionList"
        },
        "diskLabelType": {
          "description": "Disk label type (e.g. BIOS/GPT)",
          "type": "string"
        },
        "vmware": {
          "description": "VMware disk details.",
          "$ref": "VmwareDiskConfig"
        },
        "hwAddress": {
          "description": "Disk hardware address (e.g. 0:1 for SCSI).",
          "type": "string"
        }
      }
    },
    "AggregateAssetsValuesRequest": {
      "properties": {
        "showHidden": {
          "type": "boolean",
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden."
        },
        "filter": {
          "type": "string",
          "description": "Optional. The aggregation will be performed on assets that match the provided filter."
        },
        "aggregations": {
          "items": {
            "$ref": "Aggregation"
          },
          "type": "array",
          "description": "Array of aggregations to perform. Up to 25 aggregations can be defined."
        }
      },
      "id": "AggregateAssetsValuesRequest",
      "description": "A request to aggregate one or more values.",
      "type": "object"
    },
    "GuestRuntimeDetails": {
      "properties": {
        "installedApps": {
          "description": "Installed applications information.",
          "$ref": "GuestInstalledApplicationList"
        },
        "network": {
          "description": "Runtime network information (connections, ports).",
          "$ref": "RuntimeNetworkInfo"
        },
        "services": {
          "$ref": "RunningServiceList",
          "description": "Running background services."
        },
        "lastBootTime": {
          "format": "google-datetime",
          "description": "Last time the OS was booted.",
          "type": "string"
        },
        "processes": {
          "description": "Running processes.",
          "$ref": "RunningProcessList"
        },
        "machineName": {
          "description": "Machine name.",
          "type": "string"
        },
        "openFileList": {
          "$ref": "OpenFileList",
          "description": "Open files information."
        },
        "domain": {
          "description": "Domain, e.g. c.stratozone-development.internal.",
          "type": "string"
        }
      },
      "id": "GuestRuntimeDetails",
      "type": "object",
      "description": "Guest OS runtime information."
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "id": "Operation"
    },
    "ImportError": {
      "properties": {
        "errorDetails": {
          "description": "The error information.",
          "type": "string"
        },
        "severity": {
          "description": "The severity of the error.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "description": "A resource that reports the errors encountered while processing an import job.",
      "id": "ImportError",
      "type": "object"
    },
    "UpdateAssetRequest": {
      "id": "UpdateAssetRequest",
      "type": "object",
      "description": "A request to update an asset.",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "updateMask": {
          "description": "Required. Field mask is used to specify the fields to be overwritten in the `Asset` resource by the update. The values specified in the `update_mask` field are relative to the resource, not the full request. A field will be overwritten if it is in the mask. A single * value in the mask lets you to overwrite all fields.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "asset": {
          "description": "Required. The resource being updated.",
          "$ref": "Asset"
        }
      }
    },
    "FstabEntryList": {
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "FstabEntry"
          },
          "description": "Fstab entries.",
          "type": "array"
        }
      },
      "description": "Fstab content.",
      "id": "FstabEntryList"
    },
    "PhysicalPlatformDetails": {
      "id": "PhysicalPlatformDetails",
      "description": "Platform specific details for Physical Machines.",
      "type": "object",
      "properties": {
        "location": {
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different machines in the same location may have different string values for this field.",
          "type": "string"
        },
        "hyperthreading": {
          "type": "string",
          "description": "Whether the machine is hyperthreaded.",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ]
        }
      }
    },
    "ErrorFrame": {
      "properties": {
        "originalFrame": {
          "$ref": "AssetFrame",
          "description": "Output only. The frame that was originally reported.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The identifier of the ErrorFrame."
        },
        "violations": {
          "description": "Output only. All the violations that were detected for the frame.",
          "items": {
            "$ref": "FrameViolationEntry"
          },
          "type": "array",
          "readOnly": true
        },
        "ingestionTime": {
          "description": "Output only. Frame ingestion time.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "Message representing a frame which failed to be processed due to an error.",
      "id": "ErrorFrame",
      "type": "object"
    },
    "MachineSeries": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "Code to identify a machine series. Consult this for more details on the available series for Compute Engine: https://cloud.google.com/compute/docs/machine-resource#machine_type_comparison Consult this for more details on the available series for Google Cloud VMware Engine: https://cloud.google.com/vmware-engine/pricing"
        }
      },
      "description": "A machine series, for a target product (e.g. Compute Engine, Google Cloud VMware Engine).",
      "id": "MachineSeries"
    },
    "DatabaseInstance": {
      "type": "object",
      "properties": {
        "role": {
          "enum": [
            "ROLE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY",
            "ARBITER"
          ],
          "description": "Optional. The instance role in the database engine.",
          "enumDescriptions": [
            "Unspecified.",
            "Primary.",
            "Secondary.",
            "Arbiter."
          ],
          "type": "string"
        },
        "instanceName": {
          "type": "string",
          "description": "Optional. The instance's name."
        },
        "network": {
          "description": "Optional. Networking details.",
          "$ref": "DatabaseInstanceNetwork"
        }
      },
      "description": "Details of a database instance.",
      "id": "DatabaseInstance"
    },
    "MySqlProperty": {
      "id": "MySqlProperty",
      "description": "MySql property.",
      "properties": {
        "numericValue": {
          "format": "int64",
          "type": "string",
          "description": "Required. The property numeric value."
        },
        "enabled": {
          "description": "Required. The property is enabled.",
          "type": "boolean"
        },
        "property": {
          "type": "string",
          "description": "Required. The property name."
        }
      },
      "type": "object"
    },
    "ImportDataFile": {
      "id": "ImportDataFile",
      "description": "A resource that represents a payload file in an import job.",
      "type": "object",
      "properties": {
        "format": {
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_STRATOZONE_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ],
          "enumDescriptions": [
            "Default value.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the AWS collection script.",
            "CSV format exported from Azure using the Azure collection script.",
            "CSV format created manually and following the StratoZone format. For more information, see Manually create and upload data tables.",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "description": "Required. The payload format.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the import data file.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "Default value.",
            "The data file is being created.",
            "The data file completed initialization."
          ],
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the file was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "uploadFileInfo": {
          "$ref": "UploadFileInfo",
          "description": "Information about a file that is uploaded to a storage service."
        },
        "name": {
          "description": "Output only. The name of the file.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User-friendly display name. Maximum length is 63 characters."
        }
      }
    },
    "SoleTenantNodeType": {
      "id": "SoleTenantNodeType",
      "properties": {
        "nodeName": {
          "type": "string",
          "description": "Name of the Sole Tenant node. Consult https://cloud.google.com/compute/docs/nodes/sole-tenant-nodes"
        }
      },
      "type": "object",
      "description": "A Sole Tenant node type."
    },
    "SqlServerSchemaDetails": {
      "properties": {
        "clrObjectCount": {
          "description": "Optional. SqlServer number of CLR objects.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "SqlServerSchemaDetails",
      "type": "object",
      "description": "Specific details for a SqlServer database."
    },
    "DailyResourceUsageAggregationMemory": {
      "type": "object",
      "description": "Statistical aggregation of memory usage.",
      "id": "DailyResourceUsageAggregationMemory",
      "properties": {
        "utilizationPercentage": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "Memory utilization percentage."
        }
      }
    },
    "DiskPartitionDetails": {
      "properties": {
        "partitions": {
          "description": "Optional. List of partitions.",
          "$ref": "DiskPartitionList"
        },
        "freeSpaceBytes": {
          "description": "Output only. Total free space of all partitions.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "totalCapacityBytes": {
          "format": "int64",
          "description": "Output only. Total capacity of all partitions.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Disk partition details.",
      "id": "DiskPartitionDetails"
    },
    "Relation": {
      "description": "Message representing a relation between 2 resource.",
      "properties": {
        "createTime": {
          "description": "Output only. The timestamp when the relation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Optional. The type of the relation.",
          "enumDescriptions": [
            "Default value.",
            "DBDeployment -> Database",
            "A relation between a machine/VM and the database deployment it hosts."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "LOGICAL_DATABASE",
            "DATABASE_DEPLOYMENT_HOSTING_SERVER"
          ]
        },
        "name": {
          "description": "Output only. Identifier. The identifier of the relation.",
          "type": "string",
          "readOnly": true
        },
        "srcAsset": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The source asset name in the relation."
        },
        "dstAsset": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The destination asset name in the relation."
        }
      },
      "id": "Relation",
      "type": "object"
    },
    "CpuUsageSample": {
      "properties": {
        "utilizedPercentage": {
          "description": "Percentage of total CPU capacity utilized. Must be in the interval [0, 100]. On most systems can be calculated using 100 - idle percentage.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "CpuUsageSample",
      "type": "object",
      "description": "CPU usage sample."
    },
    "ReportConfigGroupPreferenceSetAssignment": {
      "type": "object",
      "description": "Represents a combination of a group with a preference set.",
      "properties": {
        "group": {
          "type": "string",
          "description": "Required. Name of the group."
        },
        "preferenceSet": {
          "description": "Required. Name of the Preference Set.",
          "type": "string"
        }
      },
      "id": "ReportConfigGroupPreferenceSetAssignment"
    },
    "Group": {
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The timestamp when the group was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Optional. User-friendly display name.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the group.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. The description of the group.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the group was last updated.",
          "format": "google-datetime"
        }
      },
      "description": "A resource that represents an asset group. The purpose of an asset group is to bundle a set of assets that have something in common, while allowing users to add annotations to the group. An asset can belong to multiple groups.",
      "id": "Group"
    },
    "MachineArchitectureDetails": {
      "type": "object",
      "id": "MachineArchitectureDetails",
      "description": "Details of the machine architecture.",
      "properties": {
        "cpuManufacturer": {
          "description": "Optional. CPU manufacturer, e.g., \"Intel\", \"AMD\".",
          "type": "string"
        },
        "firmwareType": {
          "enumDescriptions": [
            "Unspecified or unknown.",
            "BIOS firmware.",
            "EFI firmware."
          ],
          "type": "string",
          "description": "Firmware type.",
          "enum": [
            "FIRMWARE_TYPE_UNSPECIFIED",
            "BIOS",
            "EFI"
          ]
        },
        "cpuName": {
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc.",
          "type": "string"
        },
        "hyperthreading": {
          "enum": [
            "CPU_HYPER_THREADING_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "Unspecified or unknown.",
            "Hyper-threading is disabled.",
            "Hyper-threading is enabled."
          ],
          "description": "CPU hyper-threading support.",
          "type": "string"
        },
        "cpuArchitecture": {
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc.",
          "type": "string"
        },
        "bios": {
          "description": "BIOS Details.",
          "$ref": "BiosDetails"
        },
        "cpuSocketCount": {
          "format": "int32",
          "description": "Number of processor sockets allocated to the machine.",
          "type": "integer"
        },
        "cpuThreadCount": {
          "description": "Deprecated: use MachineDetails.core_count instead. Number of CPU threads allocated to the machine.",
          "deprecated": true,
          "type": "integer",
          "format": "int32"
        },
        "vendor": {
          "type": "string",
          "description": "Hardware vendor."
        }
      }
    },
    "DailyResourceUsageAggregationCPU": {
      "id": "DailyResourceUsageAggregationCPU",
      "type": "object",
      "properties": {
        "utilizationPercentage": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "CPU utilization percentage."
        }
      },
      "description": "Statistical aggregation of CPU usage."
    },
    "OutputFileList": {
      "properties": {
        "entries": {
          "description": "Output only. List of output files.",
          "type": "array",
          "items": {
            "$ref": "OutputFile"
          },
          "readOnly": true
        }
      },
      "type": "object",
      "id": "OutputFileList",
      "description": "Contains a list of output files."
    },
    "ComputeEnginePreferences": {
      "id": "ComputeEnginePreferences",
      "type": "object",
      "description": "The user preferences relating to Compute Engine target platform.",
      "properties": {
        "licenseType": {
          "description": "License type to consider when calculating costs for virtual machine insights and recommendations. If unspecified, costs are calculated based on the default licensing plan.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified (default value).",
            "Default Google Cloud licensing plan. Licensing is charged per usage. This a good value to start with.",
            "Bring-your-own-license (BYOL) plan. User provides the OS license."
          ],
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_TYPE_DEFAULT",
            "LICENSE_TYPE_BRING_YOUR_OWN_LICENSE"
          ]
        },
        "persistentDiskType": {
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ],
          "description": "Persistent disk type to use. If unspecified (default), all types are considered, based on available usage data.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ]
        },
        "machinePreferences": {
          "description": "Preferences concerning the machine types to consider on Compute Engine.",
          "$ref": "MachinePreferences"
        }
      }
    },
    "ValidateImportJobRequest": {
      "id": "ValidateImportJobRequest",
      "description": "A request to validate an import job.",
      "properties": {
        "requestId": {
[...]
