{
  "baseUrl": "https://migrationcenter.googleapis.com/",
  "servicePath": "",
  "version": "v1",
  "ownerDomain": "google.com",
  "description": "A unified platform that helps you accelerate your end-to-end cloud journey from your current on-premises or cloud environments to Google Cloud.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "canonicalName": "Migration Center API",
  "discoveryVersion": "v1",
  "name": "migrationcenter",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "revision": "20260921",
  "kind": "discovery#restDescription",
  "rootUrl": "https://migrationcenter.googleapis.com/",
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/migration-center",
  "mtlsRootUrl": "https://migrationcenter.mtls.googleapis.com/",
  "schemas": {
    "MachineSeries": {
      "description": "A machine series, for a target product (e.g. Compute Engine, Google Cloud VMware Engine).",
      "id": "MachineSeries",
      "properties": {
        "code": {
          "description": "Code to identify a machine series. Consult this for more details on the available series for Compute Engine: https://cloud.google.com/compute/docs/machine-resource#machine_type_comparison Consult this for more details on the available series for Google Cloud VMware Engine: https://cloud.google.com/vmware-engine/pricing",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GuestInstalledApplication": {
      "description": "Guest installed application information.",
      "type": "object",
      "id": "GuestInstalledApplication",
      "properties": {
        "installTime": {
          "type": "string",
          "description": "The time when the application was installed.",
          "format": "google-datetime"
        },
        "path": {
          "description": "Source path.",
          "type": "string"
        },
        "applicationName": {
          "description": "Installed application name.",
          "type": "string"
        },
        "vendor": {
          "type": "string",
          "description": "Installed application vendor."
        },
        "version": {
          "type": "string",
          "description": "Installed application version."
        },
        "licenses": {
          "type": "array",
          "description": "License strings associated with the installed application.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DatabaseDetails": {
      "type": "object",
      "properties": {
        "databaseName": {
          "description": "Required. The name of the database.",
          "type": "string"
        },
        "allocatedStorageBytes": {
          "format": "int64",
          "description": "Optional. The allocated storage for the database in bytes.",
          "type": "string"
        },
        "parentDatabaseDeployment": {
          "$ref": "DatabaseDetailsParentDatabaseDeployment",
          "description": "Required. The parent database deployment that contains the logical database."
        },
        "schemas": {
          "description": "Optional. The database schemas.",
          "type": "array",
          "items": {
            "$ref": "DatabaseSchema"
          }
        }
      },
      "id": "DatabaseDetails",
      "description": "Details of a logical database."
    },
    "Source": {
      "type": "object",
      "properties": {
        "managed": {
          "description": "If `true`, the source is managed by other service(s).",
          "type": "boolean"
        },
        "priority": {
          "format": "int32",
          "type": "integer",
          "description": "The information confidence of the source. The higher the value, the higher the confidence."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the source was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "pendingFrameCount": {
          "type": "integer",
          "description": "Output only. Number of frames that are still being processed.",
          "readOnly": true,
          "format": "int32"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the source was created.",
          "type": "string"
        },
        "type": {
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ],
          "description": "Data source type.",
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ],
          "type": "string"
        },
        "errorFrameCount": {
          "readOnly": true,
          "description": "Output only. The number of frames that were reported by the source and contained errors.",
          "format": "int32",
          "type": "integer"
        },
        "displayName": {
          "description": "User-friendly display name.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The full name of the source.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The state of the source.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING",
            "INVALID"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "The source is active and ready to be used.",
            "In the process of being deleted.",
            "Source is in an invalid state. Asset frames reported to it will be ignored."
          ],
          "readOnly": true
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        }
      },
      "description": "Source represents an object from which asset information is streamed to Migration Center.",
      "id": "Source"
    },
    "DatabaseInstanceNetwork": {
      "type": "object",
      "properties": {
        "hostNames": {
          "description": "Optional. The instance's host names.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "primaryMacAddress": {
          "description": "Optional. The instance's primary MAC address.",
          "type": "string"
        },
        "ipAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The instance's IP addresses."
        }
      },
      "description": "Network details of a database instance.",
      "id": "DatabaseInstanceNetwork"
    },
    "AggregationResultFrequency": {
      "properties": {
        "values": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "type": "object"
        }
      },
      "type": "object",
      "description": "The result of a frequency distribution aggregation.",
      "id": "AggregationResultFrequency"
    },
    "AwsEc2PlatformDetails": {
      "id": "AwsEc2PlatformDetails",
      "type": "object",
      "description": "AWS EC2 specific details.",
      "properties": {
        "machineTypeLabel": {
          "type": "string",
          "description": "AWS platform's machine type label."
        },
        "location": {
          "description": "The location of the machine in the AWS format.",
          "type": "string"
        },
        "hyperthreading": {
          "type": "string",
          "description": "Optional. Whether the machine is hyperthreaded.",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        }
      }
    },
    "SoleTenantNodeType": {
      "description": "A Sole Tenant node type.",
      "properties": {
        "nodeName": {
          "description": "Name of the Sole Tenant node. Consult https://cloud.google.com/compute/docs/nodes/sole-tenant-nodes",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SoleTenantNodeType"
    },
    "NetworkAddressList": {
      "type": "object",
      "description": "List of allocated/assigned network addresses.",
      "id": "NetworkAddressList",
      "properties": {
        "entries": {
          "type": "array",
          "description": "Network address entries.",
          "items": {
            "$ref": "NetworkAddress"
          }
        }
      }
    },
    "DiskEntryList": {
      "properties": {
        "entries": {
          "description": "Disk entries.",
          "items": {
            "$ref": "DiskEntry"
          },
          "type": "array"
        }
      },
      "description": "VM disks.",
      "type": "object",
      "id": "DiskEntryList"
    },
    "SignedUris": {
      "description": "Contains a list of Signed URIs.",
      "id": "SignedUris",
      "type": "object",
      "properties": {
        "signedUris": {
          "items": {
            "$ref": "SignedUri"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of signed URIs."
        }
      }
    },
    "ListDiscoveryClientsResponse": {
      "description": "Response message for listing discovery clients.",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "discoveryClients": {
          "items": {
            "$ref": "DiscoveryClient"
          },
          "type": "array",
          "description": "List of discovery clients."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListDiscoveryClientsResponse",
      "type": "object"
    },
    "AddAssetsToGroupRequest": {
      "type": "object",
      "id": "AddAssetsToGroupRequest",
      "description": "A request to add assets to a group.",
      "properties": {
        "assets": {
          "$ref": "AssetList",
          "description": "Required. List of assets to be added. The maximum number of assets that can be added in a single request is 2000."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "allowExisting": {
          "description": "Optional. When this value is set to `false` and one of the given assets is already an existing member of the group, the operation fails with an `Already Exists` error. When set to `true` this situation is silently ignored by the server. Default value is `false`.",
          "type": "boolean"
        }
      }
    },
    "MemoryUsageSample": {
      "id": "MemoryUsageSample",
      "type": "object",
      "properties": {
        "utilizedPercentage": {
          "type": "number",
          "description": "Percentage of system memory utilized. Must be in the interval [0, 100].",
          "format": "float"
        }
      },
      "description": "Memory usage sample."
    },
    "Relation": {
      "description": "Message representing a relation between 2 resource.",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "LOGICAL_DATABASE",
            "DATABASE_DEPLOYMENT_HOSTING_SERVER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "DBDeployment -> Database",
            "A relation between a machine/VM and the database deployment it hosts."
          ],
          "description": "Optional. The type of the relation."
        },
        "srcAsset": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The source asset name in the relation."
        },
        "name": {
          "description": "Output only. Identifier. The identifier of the relation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the relation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "dstAsset": {
          "description": "Output only. The destination asset name in the relation.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Relation",
      "type": "object"
    },
    "ListErrorFramesResponse": {
      "description": "A response for listing error frames.",
      "type": "object",
      "id": "ListErrorFramesResponse",
      "properties": {
        "errorFrames": {
          "type": "array",
          "description": "The list of error frames.",
          "items": {
            "$ref": "ErrorFrame"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "OutputFileList": {
      "type": "object",
      "properties": {
        "entries": {
          "readOnly": true,
          "description": "Output only. List of output files.",
          "items": {
            "$ref": "OutputFile"
          },
          "type": "array"
        }
      },
      "id": "OutputFileList",
      "description": "Contains a list of output files."
    },
    "ReportSummaryChartDataDataPoint": {
      "description": "Describes a single data point in the Chart.",
      "properties": {
        "label": {
          "description": "The X-axis label for this data point.",
          "type": "string"
        },
        "value": {
          "description": "The Y-axis value for this data point.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "ReportSummaryChartDataDataPoint",
      "type": "object"
    },
    "NetworkConnectionList": {
      "properties": {
        "entries": {
          "description": "Network connection entries.",
          "type": "array",
          "items": {
            "$ref": "NetworkConnection"
          }
        }
      },
      "description": "Network connection list.",
      "type": "object",
      "id": "NetworkConnectionList"
    },
    "MachineArchitectureDetails": {
      "id": "MachineArchitectureDetails",
      "type": "object",
      "description": "Details of the machine architecture.",
      "properties": {
        "bios": {
          "$ref": "BiosDetails",
          "description": "BIOS Details."
        },
        "cpuName": {
          "description": "CPU name, e.g., \"Intel Xeon E5-2690\", \"AMD EPYC 7571\" etc.",
          "type": "string"
        },
        "firmwareType": {
          "enum": [
            "FIRMWARE_TYPE_UNSPECIFIED",
            "BIOS",
            "EFI"
          ],
          "description": "Firmware type.",
          "enumDescriptions": [
            "Unspecified or unknown.",
            "BIOS firmware.",
            "EFI firmware."
          ],
          "type": "string"
        },
        "cpuArchitecture": {
          "type": "string",
          "description": "CPU architecture, e.g., \"x64-based PC\", \"x86_64\", \"i686\" etc."
        },
        "hyperthreading": {
          "enum": [
            "CPU_HYPER_THREADING_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified or unknown.",
            "Hyper-threading is disabled.",
            "Hyper-threading is enabled."
          ],
          "description": "CPU hyper-threading support."
        },
        "cpuManufacturer": {
          "type": "string",
          "description": "Optional. CPU manufacturer, e.g., \"Intel\", \"AMD\"."
        },
        "vendor": {
          "type": "string",
          "description": "Hardware vendor."
        },
        "cpuThreadCount": {
          "deprecated": true,
          "type": "integer",
          "description": "Deprecated: use MachineDetails.core_count instead. Number of CPU threads allocated to the machine.",
          "format": "int32"
        },
        "cpuSocketCount": {
          "description": "Number of processor sockets allocated to the machine.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ExecutionReport": {
      "type": "object",
      "id": "ExecutionReport",
      "properties": {
        "totalRowsCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Total number of rows in the import job."
        },
        "executionErrors": {
          "$ref": "ValidationReport",
          "description": "Validation errors encountered during the execution of the import job."
        },
        "framesReported": {
          "description": "Total number of asset frames reported for the import job.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "A resource that reports result of the import job execution."
    },
    "ListGroupsResponse": {
      "id": "ListGroupsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "groups": {
          "description": "The list of Group",
          "items": {
            "$ref": "Group"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A response for listing groups."
    },
    "ComputeStorageDescriptor": {
      "type": "object",
      "description": "Compute Engine storage option descriptor.",
      "id": "ComputeStorageDescriptor",
      "properties": {
        "sizeGb": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Disk size in GiB.",
          "format": "int32"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "readOnly": true,
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ],
          "type": "string",
          "description": "Output only. Disk type backing the storage."
        }
      }
    },
    "RuntimeNetworkInfo": {
      "id": "RuntimeNetworkInfo",
      "description": "Runtime networking information.",
      "type": "object",
      "properties": {
        "scanTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time of the last network scan."
        },
        "connections": {
          "$ref": "NetworkConnectionList",
          "description": "Network connections."
        }
      }
    },
    "ListRelationsResponse": {
      "description": "Response message for listing relations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "relations": {
          "items": {
            "$ref": "Relation"
          },
          "type": "array",
          "description": "A list of relations."
        }
      },
      "type": "object",
      "id": "ListRelationsResponse"
    },
    "PostgreSqlSetting": {
      "type": "object",
      "description": "PostgreSql setting.",
      "id": "PostgreSqlSetting",
      "properties": {
        "setting": {
          "type": "string",
          "description": "Required. The setting name."
        },
        "boolValue": {
          "description": "Required. The setting boolean value.",
          "type": "boolean"
        },
        "stringValue": {
          "description": "Required. The setting string value. Notice that enum values are stored as strings.",
          "type": "string"
        },
        "unit": {
          "type": "string",
          "description": "Optional. The setting unit."
        },
        "intValue": {
          "type": "string",
          "format": "int64",
          "description": "Required. The setting int value."
        },
        "source": {
          "description": "Required. The setting source.",
          "type": "string"
        },
        "realValue": {
          "format": "float",
          "type": "number",
          "description": "Required. The setting real value."
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "HostsEntry": {
      "type": "object",
      "properties": {
        "ip": {
          "type": "string",
          "description": "IP (raw, IPv4/6 agnostic)."
        },
        "hostNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of host names / aliases."
        }
      },
      "description": "Single /etc/hosts entry.",
      "id": "HostsEntry"
    },
    "ImportRowErrorXlsxErrorDetails": {
      "type": "object",
      "id": "ImportRowErrorXlsxErrorDetails",
      "properties": {
        "rowNumber": {
          "format": "int32",
          "type": "integer",
          "description": "The row number where the error was detected."
        },
        "sheet": {
          "description": "The name of the sheet where the error was detected.",
          "type": "string"
        }
      },
      "description": "Error details for an XLSX file."
    },
    "AggregateAssetsValuesRequest": {
      "description": "A request to aggregate one or more values.",
      "type": "object",
      "id": "AggregateAssetsValuesRequest",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. The aggregation will be performed on assets that match the provided filter."
        },
        "aggregations": {
          "type": "array",
          "items": {
            "$ref": "Aggregation"
          },
          "description": "Array of aggregations to perform. Up to 25 aggregations can be defined."
        },
        "showHidden": {
          "type": "boolean",
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden."
        }
      }
    },
    "AssetsExportJob": {
      "id": "AssetsExportJob",
      "description": "Assets export job message.",
      "properties": {
        "networkDependencies": {
          "description": "Export data regarding asset network dependencies.",
          "$ref": "AssetsExportJobNetworkDependencies"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. Resource name.",
          "type": "string"
        },
        "performanceData": {
          "$ref": "AssetsExportJobPerformanceData",
          "description": "Export asset with performance data."
        },
        "signedUriDestination": {
          "description": "Export to Cloud Storage files downloadable using signed URIs.",
          "$ref": "SignedUriDestination"
        },
        "showHidden": {
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden.",
          "type": "boolean"
        },
        "inventory": {
          "$ref": "AssetsExportJobInventory",
          "description": "Export asset inventory details."
        },
        "recentExecutions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AssetsExportJobExecution"
          },
          "description": "Output only. Recent non expired executions of the job."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource creation time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Resource update time.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes."
        },
        "condition": {
          "description": "Optional. Conditions for selecting assets to export.",
          "$ref": "AssetsExportJobExportCondition"
        }
      },
      "type": "object"
    },
    "ReportSummaryChartData": {
      "properties": {
        "dataPoints": {
          "description": "Each data point in the chart is represented as a name-value pair with the name being the x-axis label, and the value being the y-axis value.",
          "items": {
            "$ref": "ReportSummaryChartDataDataPoint"
          },
          "type": "array"
        }
      },
      "id": "ReportSummaryChartData",
      "description": "Describes a collection of data points rendered as a Chart.",
      "type": "object"
    },
    "DiskPartitionDetails": {
      "description": "Disk partition details.",
      "type": "object",
      "id": "DiskPartitionDetails",
      "properties": {
        "freeSpaceBytes": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Total free space of all partitions."
        },
        "partitions": {
          "description": "Optional. List of partitions.",
          "$ref": "DiskPartitionList"
        },
        "totalCapacityBytes": {
          "type": "string",
          "description": "Output only. Total capacity of all partitions.",
          "format": "int64",
          "readOnly": true
        }
      }
    },
    "ReportSummaryHistogramChartData": {
      "description": "A Histogram Chart shows a distribution of values into buckets, showing a count of values which fall into a bucket.",
      "id": "ReportSummaryHistogramChartData",
      "properties": {
        "buckets": {
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity.",
          "items": {
            "$ref": "ReportSummaryHistogramChartDataBucket"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "VmwarePlatformDetails": {
      "description": "VMware specific details.",
      "type": "object",
      "id": "VmwarePlatformDetails",
      "properties": {
        "esxHyperthreading": {
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "type": "string",
          "description": "Whether the ESX is hyperthreaded.",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        },
        "vcenterUri": {
          "description": "vCenter URI used in collection.",
          "type": "string"
        },
        "vcenterVmId": {
          "description": "vCenter VM ID.",
          "type": "string"
        },
        "vcenterVersion": {
          "type": "string",
          "description": "vCenter version."
        },
        "vcenterFolder": {
          "description": "Folder name in vCenter where asset resides.",
          "type": "string"
        },
        "osid": {
          "type": "string",
          "description": "VMware os enum - https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html."
        },
        "esxVersion": {
          "type": "string",
          "description": "ESX version."
        }
      }
    },
    "DatabaseInstance": {
      "id": "DatabaseInstance",
      "type": "object",
      "description": "Details of a database instance.",
      "properties": {
        "role": {
          "type": "string",
          "description": "Optional. The instance role in the database engine.",
          "enumDescriptions": [
            "Unspecified.",
            "Primary.",
            "Secondary.",
            "Arbiter."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY",
            "ARBITER"
          ]
        },
        "instanceName": {
          "description": "Optional. The instance's name.",
          "type": "string"
        },
        "network": {
          "$ref": "DatabaseInstanceNetwork",
          "description": "Optional. Networking details."
        }
      }
    },
    "FileValidationReport": {
      "description": "A resource that aggregates the validation errors found in an import job file.",
      "type": "object",
      "properties": {
        "fileName": {
          "type": "string",
          "description": "The name of the file."
        },
        "rowErrors": {
          "items": {
            "$ref": "ImportRowError"
          },
          "type": "array",
          "description": "Partial list of rows that encountered validation error."
        },
        "fileErrors": {
          "items": {
            "$ref": "ImportError"
          },
          "type": "array",
          "description": "List of file level errors."
        },
        "partialReport": {
          "type": "boolean",
          "description": "Flag indicating that processing was aborted due to maximum number of errors."
        }
      },
      "id": "FileValidationReport"
    },
    "Asset": {
      "type": "object",
      "id": "Asset",
      "properties": {
        "hideTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the asset was marked as hidden."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The full name of the asset."
        },
        "databaseDetails": {
          "$ref": "DatabaseDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for logical databases."
        },
        "databaseDeploymentDetails": {
          "$ref": "DatabaseDeploymentDetails",
          "readOnly": true,
          "description": "Output only. Asset information specific for database deployments."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the asset was created."
        },
        "insightList": {
          "$ref": "InsightList",
          "description": "Output only. The list of insights associated with the asset.",
          "readOnly": true
        },
        "attributes": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Generic asset attributes."
        },
        "performanceData": {
          "$ref": "AssetPerformanceData",
          "readOnly": true,
          "description": "Output only. Performance data for the asset."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the asset was last updated.",
          "type": "string"
        },
        "hideReason": {
          "description": "Optional. An optional reason for marking this asset as hidden.",
          "type": "string"
        },
        "assignedGroups": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The list of groups that the asset is assigned to."
        },
        "hidden": {
          "description": "Optional. Indicates if the asset is hidden.",
          "type": "boolean"
        },
        "sources": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The list of sources contributing to the asset."
        },
        "machineDetails": {
          "readOnly": true,
          "$ref": "MachineDetails",
          "description": "Output only. Asset information specific for virtual and physical machines."
        },
        "title": {
          "type": "string",
          "description": "Output only. Server generated human readable name of the asset.",
          "readOnly": true
        }
      },
      "description": "An asset represents a resource in your environment. Asset types include virtual machines and databases."
    },
    "MySqlPlugin": {
      "properties": {
        "version": {
          "description": "Required. The plugin version.",
          "type": "string"
        },
        "plugin": {
          "type": "string",
          "description": "Required. The plugin name."
        },
        "enabled": {
          "description": "Required. The plugin is active.",
          "type": "boolean"
        }
      },
      "id": "MySqlPlugin",
      "description": "MySql plugin.",
      "type": "object"
    },
    "NfsExportList": {
      "id": "NfsExportList",
      "description": "NFS exports.",
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "NfsExport"
          },
          "description": "NFS export entries.",
          "type": "array"
        }
      }
    },
    "ListImportJobsResponse": {
      "type": "object",
      "id": "ListImportJobsResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "importJobs": {
          "items": {
            "$ref": "ImportJob"
          },
          "description": "The list of import jobs.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "A response for listing import jobs."
    },
    "Aggregation": {
      "id": "Aggregation",
      "type": "object",
      "description": "Message describing an aggregation. The message includes the aggregation type, parameters, and the field on which to perform the aggregation.",
      "properties": {
        "sum": {
          "$ref": "AggregationSum",
          "description": "Sum over a numeric field."
        },
        "frequency": {
          "description": "Creates a frequency distribution of all field values.",
          "$ref": "AggregationFrequency"
        },
        "histogram": {
          "description": "Creates a bucketed histogram of field values.",
          "$ref": "AggregationHistogram"
        },
        "field": {
          "description": "The name of the field on which to aggregate.",
          "type": "string"
        },
        "count": {
          "description": "Count the number of matching objects.",
          "$ref": "AggregationCount"
        }
      }
    },
    "DiskEntry": {
      "properties": {
        "freeBytes": {
          "description": "Disk free space.",
          "format": "int64",
          "type": "string"
        },
        "vmware": {
          "description": "VMware disk details.",
          "$ref": "VmwareDiskConfig"
        },
        "capacityBytes": {
          "description": "Disk capacity.",
          "format": "int64",
          "type": "string"
        },
        "diskLabel": {
          "type": "string",
          "description": "Disk label."
        },
        "interfaceType": {
          "enumDescriptions": [
            "Interface type unknown or unspecified.",
            "IDE interface type.",
            "SATA interface type.",
            "SAS interface type.",
            "SCSI interface type.",
            "NVME interface type.",
            "FC interface type.",
            "iSCSI interface type."
          ],
          "type": "string",
          "enum": [
            "INTERFACE_TYPE_UNSPECIFIED",
            "IDE",
            "SATA",
            "SAS",
            "SCSI",
            "NVME",
            "FC",
            "ISCSI"
          ],
          "description": "Disks interface type."
        },
        "partitions": {
          "$ref": "DiskPartitionList",
          "description": "Partition layout."
        },
        "diskLabelType": {
          "description": "Disk label type (e.g. BIOS/GPT)",
          "type": "string"
        },
        "hwAddress": {
          "type": "string",
          "description": "Disk hardware address (e.g. 0:1 for SCSI)."
        }
      },
      "id": "DiskEntry",
      "description": "Single disk entry.",
      "type": "object"
    },
    "ImportJob": {
      "id": "ImportJob",
      "description": "A resource that represents the background job that imports asset frames.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The full name of the import job.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels as key value pairs."
        },
        "validationReport": {
          "$ref": "ValidationReport",
          "description": "Output only. The report with the validation results of the import job.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the import job was created.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp when the import job was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User-friendly display name. Maximum length is 256 characters."
        },
        "state": {
          "enum": [
            "IMPORT_JOB_STATE_UNSPECIFIED",
            "IMPORT_JOB_STATE_PENDING",
            "IMPORT_JOB_STATE_RUNNING",
            "IMPORT_JOB_STATE_COMPLETED",
            "IMPORT_JOB_STATE_FAILED",
            "IMPORT_JOB_STATE_VALIDATING",
            "IMPORT_JOB_STATE_FAILED_VALIDATION",
            "IMPORT_JOB_STATE_READY"
          ],
          "enumDescriptions": [
            "Default value.",
            "The import job is pending.",
            "The processing of the import job is ongoing.",
            "The import job processing has completed.",
            "The import job failed to be processed.",
            "The import job is being validated.",
            "The import job contains blocking errors.",
            "The validation of the job completed with no blocking errors."
          ],
          "description": "Output only. The state of the import job.",
          "readOnly": true,
          "type": "string"
        },
        "completeTime": {
          "description": "Output only. The timestamp when the import job was completed.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "assetSource": {
          "description": "Required. Reference to a source.",
          "type": "string"
        },
        "executionReport": {
          "description": "Output only. The report with the results of running the import job.",
          "$ref": "ExecutionReport",
          "readOnly": true
        }
      }
    },
    "MachineDetails": {
      "id": "MachineDetails",
      "properties": {
        "disks": {
          "description": "Disk details.",
          "$ref": "MachineDiskDetails"
        },
        "architecture": {
          "$ref": "MachineArchitectureDetails",
          "description": "Architecture details (vendor, CPU architecture)."
        },
        "memoryMb": {
          "description": "The amount of memory in the machine. Must be non-negative.",
          "format": "int32",
          "type": "integer"
        },
        "powerState": {
          "enumDescriptions": [
            "Power state is unknown.",
            "The machine is preparing to enter the ACTIVE state. An instance may enter the PENDING state when it launches for the first time, or when it is started after being in the SUSPENDED state.",
            "The machine is active.",
            "The machine is being turned off.",
            "The machine is off.",
            "The machine is being deleted from the hosting platform.",
            "The machine is deleted from the hosting platform."
          ],
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "DELETING",
            "DELETED"
          ],
          "description": "Power state of the machine.",
          "type": "string"
        },
        "guestOs": {
          "$ref": "GuestOsDetails",
          "description": "Guest OS information."
        },
        "uuid": {
          "description": "Machine unique identifier.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Machine creation time.",
          "type": "string"
        },
        "machineName": {
          "type": "string",
          "description": "Machine name."
        },
        "diskPartitions": {
          "description": "Optional. Disk partitions details. Note: Partitions are not necessarily mounted on local disks and therefore might not have a one-to-one correspondence with local disks.",
          "$ref": "DiskPartitionDetails"
        },
        "platform": {
          "$ref": "PlatformDetails",
          "description": "Platform specific information."
        },
        "network": {
          "$ref": "MachineNetworkDetails",
          "description": "Network details."
        },
        "coreCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of logical CPU cores in the machine. Must be non-negative."
        }
      },
      "type": "object",
      "description": "Details of a machine."
    },
    "PerformanceSample": {
      "type": "object",
      "id": "PerformanceSample",
      "description": "Performance data sample.",
      "properties": {
        "memory": {
          "description": "Memory usage sample.",
          "$ref": "MemoryUsageSample"
        },
        "disk": {
          "$ref": "DiskUsageSample",
          "description": "Disk usage sample."
        },
        "cpu": {
          "description": "CPU usage sample.",
          "$ref": "CpuUsageSample"
        },
        "sampleTime": {
          "type": "string",
          "description": "Time the sample was collected. If omitted, the frame report time will be used.",
          "format": "google-datetime"
        },
        "network": {
          "$ref": "NetworkUsageSample",
          "description": "Network usage sample."
        }
      }
    },
    "NetworkAdapterDetails": {
      "id": "NetworkAdapterDetails",
      "properties": {
        "adapterType": {
          "description": "Network adapter type (e.g. VMXNET3).",
          "type": "string"
        },
        "addresses": {
          "description": "NetworkAddressList",
          "$ref": "NetworkAddressList"
        },
        "macAddress": {
          "type": "string",
          "description": "MAC address."
        }
      },
      "description": "Details of network adapter.",
      "type": "object"
    },
    "AssetsExportJobExecution": {
      "type": "object",
      "properties": {
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Execution timestamp.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. Completion time of the export.",
          "format": "google-datetime",
          "readOnly": true
        },
        "result": {
          "$ref": "AssetsExportJobExecutionResult",
          "description": "Output only. Result of the export execution.",
          "readOnly": true
        },
        "requestedAssetCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of assets requested for export after resolving the requested filters.",
          "readOnly": true
        },
        "executionId": {
          "type": "string",
          "description": "Output only. Globally unique identifier of the execution.",
          "readOnly": true
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Output only. Expiration time for the export and artifacts.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "AssetsExportJobExecution",
      "description": "Execution status of assets export job."
    },
    "MachinePreferences": {
      "properties": {
        "allowedMachineSeries": {
          "items": {
            "$ref": "MachineSeries"
          },
          "type": "array",
          "description": "Compute Engine machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series."
        }
      },
      "id": "MachinePreferences",
      "type": "object",
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations. Not all machine types are available in all zones and regions."
    },
    "FitDescriptor": {
      "id": "FitDescriptor",
      "description": "Describes the fit level of an asset for migration to a specific target.",
      "properties": {
        "fitLevel": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "FIT_LEVEL_UNSPECIFIED",
            "FIT",
            "NO_FIT",
            "REQUIRES_EFFORT"
          ],
          "description": "Output only. Fit level.",
          "enumDescriptions": [
            "Not enough information.",
            "Fit.",
            "No Fit.",
            "Fit with effort."
          ]
        }
      },
      "type": "object"
    },
    "PostgreSqlDatabaseDeployment": {
      "type": "object",
      "id": "PostgreSqlDatabaseDeployment",
      "description": "Specific details for a PostgreSQL database deployment.",
      "properties": {
        "properties": {
          "description": "Optional. List of PostgreSql properties.",
          "items": {
            "$ref": "PostgreSqlProperty"
          },
          "type": "array"
        },
        "settings": {
          "description": "Optional. List of PostgreSql settings.",
          "items": {
            "$ref": "PostgreSqlSetting"
          },
          "type": "array"
        }
      }
    },
    "SignedUri": {
      "id": "SignedUri",
      "description": "Contains a signed URI.",
      "type": "object",
      "properties": {
        "file": {
          "readOnly": true,
          "description": "Output only. Name of the file the Signed URI references.",
          "type": "string"
        },
        "uri": {
          "readOnly": true,
          "description": "Output only. Download URI for the file.",
          "type": "string"
        }
      }
    },
    "NfsExport": {
      "id": "NfsExport",
      "properties": {
        "hosts": {
          "description": "The hosts or networks to which the export is being shared.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "exportDirectory": {
          "type": "string",
          "description": "The directory being exported."
        }
      },
      "description": "NFS export.",
      "type": "object"
    },
    "ImportRowError": {
      "properties": {
        "archiveError": {
          "description": "Error details for an archive file.",
          "$ref": "ImportRowErrorArchiveErrorDetails"
        },
        "assetTitle": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The asset title."
        },
        "csvError": {
          "description": "Error details for a CSV file.",
          "$ref": "ImportRowErrorCsvErrorDetails"
        },
        "vmUuid": {
          "description": "The VM UUID.",
          "type": "string"
        },
        "rowNumber": {
          "format": "int32",
          "deprecated": true,
          "description": "The row number where the error was detected.",
          "type": "integer"
        },
        "xlsxError": {
          "$ref": "ImportRowErrorXlsxErrorDetails",
          "description": "Error details for an XLSX file."
        },
        "errors": {
          "type": "array",
          "description": "The list of errors detected in the row.",
          "items": {
            "$ref": "ImportError"
          }
        },
        "vmName": {
          "type": "string",
          "description": "The name of the VM in the row."
        }
      },
      "id": "ImportRowError",
      "description": "A resource that reports the import job errors at row level.",
      "type": "object"
    },
    "DiscoveryClient": {
      "description": "Represents an installed Migration Center Discovery Client instance.",
      "id": "DiscoveryClient",
      "properties": {
        "version": {
          "description": "Output only. Client version, as reported in recent heartbeat.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Free text display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. Full name of this discovery client.",
          "type": "string"
        },
        "heartbeatTime": {
          "description": "Output only. Last heartbeat time. Healthy clients are expected to send heartbeats regularly (normally every few minutes).",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "expireTime": {
          "type": "string",
          "description": "Optional. Client expiration time in UTC. If specified, the backend will not accept new frames after this time.",
          "format": "google-datetime"
        },
        "errors": {
          "readOnly": true,
          "items": {
            "$ref": "Status"
          },
          "description": "Output only. Errors affecting client functionality.",
          "type": "array"
        },
        "source": {
          "type": "string",
          "description": "Required. Immutable. Full name of the source object associated with this discovery client."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the discovery client was last updated. This value is not updated by heartbeats, to view the last heartbeat time please refer to the `heartbeat_time` field.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Required. Service account used by the discovery client for various operation.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs."
        },
        "ttl": {
          "description": "Optional. Input only. Client time-to-live. If specified, the backend will not accept new frames after this time. This field is input only. The derived expiration time is provided as output through the `expire_time` field.",
          "format": "google-duration",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the discovery client was first created.",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. Free text description. Maximum length is 1000 characters.",
          "type": "string"
        },
        "signalsEndpoint": {
          "description": "Output only. This field is intended for internal use.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "Output only. Current state of the discovery client.",
          "enumDescriptions": [
            "Client state is unspecified.",
            "Client is active.",
            "Client is offline.",
            "Client is in a degraded state. See the `errors` field for details.",
            "Client has expired. See the expire_time field for the expire time."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OFFLINE",
            "DEGRADED",
            "EXPIRED"
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "RegionPreferences": {
      "type": "object",
      "id": "RegionPreferences",
      "properties": {
        "preferredRegions": {
          "description": "A list of preferred regions, ordered by the most preferred region first. Set only valid Google Cloud region names. See https://cloud.google.com/compute/docs/regions-zones for available regions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The user preferences relating to target regions."
    },
    "CpuUsageSample": {
      "properties": {
        "utilizedPercentage": {
          "type": "number",
          "description": "Percentage of total CPU capacity utilized. Must be in the interval [0, 100]. On most systems can be calculated using 100 - idle percentage.",
          "format": "float"
        }
      },
      "type": "object",
      "description": "CPU usage sample.",
      "id": "CpuUsageSample"
    },
    "DatabaseObjects": {
      "properties": {
        "category": {
          "enum": [
            "CATEGORY_UNSPECIFIED",
            "TABLE",
            "INDEX",
            "CONSTRAINTS",
            "VIEWS",
            "SOURCE_CODE",
            "OTHER"
          ],
          "description": "Optional. The category of the objects.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Table.",
            "Index.",
            "Constraints.",
            "Views.",
            "Source code, e.g. procedures.",
            "Uncategorized objects."
          ]
        },
        "count": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The number of objects."
        }
      },
      "type": "object",
      "description": "Details of a group of database objects.",
      "id": "DatabaseObjects"
    },
    "PhysicalPlatformDetails": {
      "type": "object",
      "description": "Platform specific details for Physical Machines.",
      "id": "PhysicalPlatformDetails",
      "properties": {
        "hyperthreading": {
          "description": "Whether the machine is hyperthreaded.",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "type": "string"
        },
        "location": {
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different machines in the same location may have different string values for this field.",
          "type": "string"
        }
      }
    },
    "SendDiscoveryClientHeartbeatRequest": {
      "description": "A request to send a discovery client heartbeat.",
      "properties": {
        "version": {
          "description": "Optional. Client application version.",
          "type": "string"
        },
        "errors": {
          "description": "Optional. Errors affecting client functionality.",
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        }
      },
      "type": "object",
      "id": "SendDiscoveryClientHeartbeatRequest"
    },
    "RunningProcessList": {
      "description": "List of running guest OS processes.",
      "id": "RunningProcessList",
      "properties": {
        "entries": {
          "items": {
            "$ref": "RunningProcess"
          },
          "description": "Running process entries.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ReportConfig": {
      "id": "ReportConfig",
      "description": "The groups and associated preference sets on which we can generate reports.",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "groupPreferencesetAssignments": {
          "type": "array",
          "items": {
            "$ref": "ReportConfigGroupPreferenceSetAssignment"
          },
          "description": "Required. Collection of combinations of groups and preference sets."
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Name of resource.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "MysqlDatabaseDeployment": {
      "type": "object",
      "properties": {
        "resourceGroupsCount": {
          "type": "integer",
          "description": "Optional. Number of resource groups.",
          "format": "int32"
        },
        "plugins": {
          "type": "array",
          "items": {
            "$ref": "MySqlPlugin"
          },
          "description": "Optional. List of MySql plugins."
        },
        "variables": {
          "description": "Optional. List of MySql variables.",
          "items": {
            "$ref": "MySqlVariable"
          },
          "type": "array"
        },
        "properties": {
          "description": "Optional. List of MySql properties.",
          "items": {
            "$ref": "MySqlProperty"
          },
          "type": "array"
        }
      },
      "description": "Specific details for a Mysql database deployment.",
      "id": "MysqlDatabaseDeployment"
    },
    "AggregationResult": {
      "id": "AggregationResult",
      "description": "Message describing a result of an aggregation.",
      "type": "object",
      "properties": {
        "histogram": {
          "$ref": "AggregationResultHistogram"
        },
        "sum": {
          "$ref": "AggregationResultSum"
        },
        "count": {
          "$ref": "AggregationResultCount"
        },
        "frequency": {
          "$ref": "AggregationResultFrequency"
        },
        "field": {
          "type": "string"
        }
      }
    },
    "SqlServerFeature": {
      "id": "SqlServerFeature",
      "description": "SQL Server feature details.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Required. Field enabled is set when a feature is used on the source deployment."
        },
        "featureName": {
          "type": "string",
          "description": "Required. The feature name."
        }
      },
      "type": "object"
    },
    "AssetPerformanceData": {
      "type": "object",
      "properties": {
        "dailyResourceUsageAggregations": {
          "items": {
            "$ref": "DailyResourceUsageAggregation"
          },
          "type": "array",
          "description": "Daily resource usage aggregations. Contains all of the data available for an asset, up to the last 420 days. Aggregations are sorted from oldest to most recent."
        }
      },
      "description": "Performance data for an asset.",
      "id": "AssetPerformanceData"
    },
    "UploadFileInfo": {
      "properties": {
        "headers": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. The headers that were used to sign the URI.",
          "type": "object",
          "readOnly": true
        },
        "signedUri": {
          "type": "string",
          "description": "Output only. Upload URI for the file.",
          "readOnly": true
        },
        "uriExpirationTime": {
          "description": "Output only. Expiration time of the upload URI.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "UploadFileInfo",
      "description": "A resource that contains a URI to which a data file can be uploaded.",
      "type": "object"
    },
    "PreferenceSet": {
      "description": "The preferences that apply to all assets in a given context.",
      "properties": {
        "virtualMachinePreferences": {
          "$ref": "VirtualMachinePreferences",
          "description": "Optional. A set of preferences that applies to all virtual machines in the context."
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the preference set was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "A description of the preference set.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Name of the preference set.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the preference set was last updated.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "PreferenceSet",
      "type": "object"
    },
    "Settings": {
      "type": "object",
      "id": "Settings",
      "properties": {
        "preferenceSet": {
          "description": "The preference set used by default for a project.",
          "type": "string"
        },
        "disableCloudLogging": {
          "type": "boolean",
          "description": "Disable Cloud Logging for the Migration Center API. Users are billed for the logs."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the resource.",
          "type": "string"
        }
      },
      "description": "Describes the Migration Center settings related to the project."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "ComputeEngineMigrationTarget": {
      "id": "ComputeEngineMigrationTarget",
      "properties": {
        "shape": {
          "description": "Description of the suggested shape for the migration target.",
          "$ref": "ComputeEngineShapeDescriptor"
        }
      },
      "type": "object",
      "description": "Compute engine migration target."
    },
    "OpenFileDetails": {
      "type": "object",
      "id": "OpenFileDetails",
      "description": "Open file Information.",
      "properties": {
        "filePath": {
          "description": "Opened file file path.",
          "type": "string"
        },
        "fileType": {
          "type": "string",
          "description": "Opened file file type."
        },
        "command": {
          "type": "string",
          "description": "Opened file command."
        },
        "user": {
          "type": "string",
          "description": "Opened file user."
        }
      }
    },
    "AssetsExportJobNetworkDependencies": {
      "id": "AssetsExportJobNetworkDependencies",
      "description": "Configuration for network dependencies exports.",
      "type": "object",
      "properties": {}
    },
    "MySqlSchemaDetails": {
      "type": "object",
      "id": "MySqlSchemaDetails",
      "description": "Specific details for a Mysql database.",
      "properties": {
        "storageEngines": {
          "description": "Optional. Mysql storage engine tables.",
          "type": "array",
          "items": {
            "$ref": "MySqlStorageEngineDetails"
          }
        }
      }
    },
    "ListReportConfigsResponse": {
      "id": "ListReportConfigsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "reportConfigs": {
          "items": {
            "$ref": "ReportConfig"
          },
          "type": "array",
          "description": "A list of report configs."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Response message for listing report configs."
    },
    "OpenFileList": {
      "properties": {
        "entries": {
          "description": "Open file details entries.",
          "type": "array",
          "items": {
            "$ref": "OpenFileDetails"
          }
        }
      },
      "type": "object",
      "description": "Open file list.",
      "id": "OpenFileList"
    },
    "SignedUriDestination": {
      "type": "object",
      "properties": {
        "fileFormat": {
          "enum": [
            "FILE_FORMAT_UNSPECIFIED",
            "CSV",
            "XLSX"
          ],
          "enumDescriptions": [
            "Unspecified file format will be treated as CSV.",
            "CSV file format.",
            "XLSX file format which used in Excel."
          ],
          "description": "Required. The file format to export.",
          "type": "string"
        }
      },
      "id": "SignedUriDestination",
      "description": "Signed URI destination configuration."
    },
    "ListAssetsResponse": {
      "properties": {
        "assets": {
          "items": {
            "$ref": "Asset"
          },
          "type": "array",
          "description": "A list of assets."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "description": "Response message for listing assets.",
      "id": "ListAssetsResponse",
      "type": "object"
    },
    "ReportSummarySoleTenantFinding": {
      "type": "object",
      "properties": {
        "nodeAllocations": {
          "description": "Set of per-nodetype allocation records",
          "type": "array",
          "items": {
            "$ref": "ReportSummarySoleTenantNodeAllocation"
          }
        },
        "allocatedRegions": {
          "items": {
            "type": "string"
          },
          "description": "Set of regions in which the assets are allocated",
          "type": "array"
        },
        "allocatedAssetCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of assets which are allocated"
        }
      },
      "description": "A set of findings that applies to assets destined for Sole-Tenant nodes.",
      "id": "ReportSummarySoleTenantFinding"
    },
    "Frames": {
      "id": "Frames",
      "description": "Collection of frame data.",
      "properties": {
        "framesData": {
          "description": "A repeated field of asset data.",
          "items": {
            "$ref": "AssetFrame"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "MigrationInsight": {
      "id": "MigrationInsight",
      "type": "object",
      "description": "An insight about potential migrations for an asset.",
      "properties": {
        "fit": {
          "description": "Output only. Description of how well the asset this insight is associated with fits the proposed migration.",
          "$ref": "FitDescriptor",
          "readOnly": true
        },
        "computeEngineTarget": {
          "readOnly": true,
          "$ref": "ComputeEngineMigrationTarget",
          "description": "Output only. A Google Compute Engine target."
        }
      }
    },
    "AggregationFrequency": {
      "id": "AggregationFrequency",
      "description": "Frequency distribution of all field values.",
      "type": "object",
      "properties": {}
    },
    "ComputeEnginePreferences": {
      "description": "The user preferences relating to Compute Engine target platform.",
      "id": "ComputeEnginePreferences",
      "type": "object",
      "properties": {
        "persistentDiskType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "description": "Persistent disk type to use. If unspecified (default), all types are considered, based on available usage data.",
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ]
        },
        "machinePreferences": {
          "description": "Preferences concerning the machine types to consider on Compute Engine.",
          "$ref": "MachinePreferences"
        },
        "licenseType": {
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_TYPE_DEFAULT",
            "LICENSE_TYPE_BRING_YOUR_OWN_LICENSE"
          ],
          "description": "License type to consider when calculating costs for virtual machine insights and recommendations. If unspecified, costs are calculated based on the default licensing plan.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified (default value).",
            "Default Google Cloud licensing plan. Licensing is charged per usage. This a good value to start with.",
            "Bring-your-own-license (BYOL) plan. User provides the OS license."
          ]
        }
      }
    },
    "AssetsExportJobInventory": {
      "description": "Configuration for asset inventory details exports.",
      "properties": {},
      "id": "AssetsExportJobInventory",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "ErrorFrame": {
      "properties": {
        "originalFrame": {
          "description": "Output only. The frame that was originally reported.",
          "readOnly": true,
          "$ref": "AssetFrame"
        },
        "ingestionTime": {
          "readOnly": true,
          "description": "Output only. Frame ingestion time.",
          "type": "string",
          "format": "google-datetime"
        },
        "violations": {
          "readOnly": true,
          "description": "Output only. All the violations that were detected for the frame.",
          "items": {
            "$ref": "FrameViolationEntry"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The identifier of the ErrorFrame."
        }
      },
      "description": "Message representing a frame which failed to be processed due to an error.",
      "type": "object",
      "id": "ErrorFrame"
    },
    "NetworkAdapterList": {
      "description": "List of network adapters.",
      "type": "object",
      "properties": {
        "entries": {
          "items": {
            "$ref": "NetworkAdapterDetails"
          },
          "description": "Network adapter entries.",
          "type": "array"
        }
      },
      "id": "NetworkAdapterList"
    },
    "DiskUsageSample": {
      "properties": {
        "averageReadIops": {
          "format": "float",
          "type": "number",
          "description": "Optional. Average read IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored."
        },
        "averageIops": {
          "format": "float",
          "description": "Optional. Average IOPS sampled over a short window. Must be non-negative. If read or write are set, the sum of read and write will override the value of the average_iops.",
          "type": "number"
        },
        "averageWriteIops": {
          "description": "Optional. Average write IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Disk usage sample. Values are across all disks.",
      "id": "DiskUsageSample",
      "type": "object"
    },
    "AssetList": {
      "type": "object",
      "description": "Lists the asset IDs of all assets.",
      "properties": {
        "assetIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. A list of asset IDs",
          "type": "array"
        }
      },
      "id": "AssetList"
    },
    "DatabaseDeploymentTopology": {
      "type": "object",
      "id": "DatabaseDeploymentTopology",
      "description": "Details of database deployment's topology.",
      "properties": {
        "physicalCoreLimit": {
          "format": "int32",
          "description": "Optional. Number of total physical cores limited by db deployment.",
          "type": "integer"
        },
        "coreLimit": {
          "type": "integer",
          "description": "Optional. Number of total logical cores limited by db deployment.",
          "format": "int32"
        },
        "instances": {
          "description": "Optional. List of database instances.",
          "type": "array",
          "items": {
            "$ref": "DatabaseInstance"
          }
        },
        "memoryBytes": {
          "type": "string",
          "description": "Optional. Total memory in bytes.",
          "format": "int64"
        },
        "coreCount": {
          "description": "Optional. Number of total logical cores.",
          "format": "int32",
          "type": "integer"
        },
        "diskAllocatedBytes": {
          "type": "string",
          "description": "Optional. Disk allocated in bytes.",
          "format": "int64"
        },
        "memoryLimitBytes": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Total memory in bytes limited by db deployment."
        },
        "diskUsedBytes": {
          "type": "string",
          "description": "Optional. Disk used in bytes.",
          "format": "int64"
        },
        "physicalCoreCount": {
          "description": "Optional. Number of total physical cores.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "NetworkConnection": {
      "type": "object",
      "id": "NetworkConnection",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "OPENING",
            "OPEN",
            "LISTEN",
            "CLOSING",
            "CLOSED"
          ],
          "type": "string",
          "description": "Network connection state.",
          "enumDescriptions": [
            "Connection state is unknown or unspecified.",
            "The connection is being opened.",
            "The connection is open.",
            "Listening for incoming connections.",
            "The connection is being closed.",
            "The connection is closed."
          ]
        },
        "remotePort": {
          "description": "Remote port.",
          "type": "integer",
          "format": "int32"
        },
        "processName": {
          "type": "string",
          "description": "Process or service name."
        },
        "pid": {
          "description": "Process ID.",
          "type": "string",
          "format": "int64"
        },
        "localIpAddress": {
          "type": "string",
          "description": "Local IP address."
        },
        "remoteIpAddress": {
          "description": "Remote IP address.",
          "type": "string"
        },
        "protocol": {
          "description": "Connection protocol (e.g. TCP/UDP).",
          "type": "string"
        },
        "localPort": {
          "description": "Local port.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GuestRuntimeDetails": {
      "type": "object",
      "description": "Guest OS runtime information.",
      "properties": {
        "installedApps": {
          "description": "Installed applications information.",
          "$ref": "GuestInstalledApplicationList"
        },
        "services": {
          "$ref": "RunningServiceList",
          "description": "Running background services."
        },
        "machineName": {
          "type": "string",
          "description": "Machine name."
        },
        "domain": {
          "type": "string",
          "description": "Domain, e.g. c.stratozone-development.internal."
        },
        "network": {
          "description": "Runtime network information (connections, ports).",
          "$ref": "RuntimeNetworkInfo"
        },
        "processes": {
          "description": "Running processes.",
          "$ref": "RunningProcessList"
        },
        "lastBootTime": {
          "description": "Last time the OS was booted.",
          "type": "string",
          "format": "google-datetime"
        },
        "openFileList": {
          "$ref": "OpenFileList",
          "description": "Open files information."
        }
      },
      "id": "GuestRuntimeDetails"
    },
    "CascadeLogicalDBsRule": {
      "id": "CascadeLogicalDBsRule",
      "description": "Cascading rule for related logical DBs.",
      "properties": {},
      "type": "object"
    },
    "ReportSummaryVmwareNode": {
      "id": "ReportSummaryVmwareNode",
      "type": "object",
      "properties": {
        "code": {
          "description": "Code to identify VMware Engine node series, e.g. \"ve1-standard-72\". Based on the displayName of cloud.google.com/vmware-engine/docs/reference/rest/v1/projects.locations.nodeTypes",
          "type": "string"
        }
      },
      "description": "A VMWare Engine Node"
    },
    "ReportSummaryGroupFinding": {
      "id": "ReportSummaryGroupFinding",
      "properties": {
        "displayName": {
          "description": "Display Name for the Group.",
          "type": "string"
        },
        "preferenceSetFindings": {
          "type": "array",
          "items": {
            "$ref": "ReportSummaryGroupPreferenceSetFinding"
          },
          "description": "Findings for each of the PreferenceSets for this group."
        },
        "assetAggregateStats": {
          "description": "Summary statistics for all the assets in this group.",
          "$ref": "ReportSummaryAssetAggregateStats"
        },
        "overlappingAssetCount": {
          "deprecated": true,
          "format": "int64",
          "type": "string",
          "description": "This field is deprecated, do not rely on it having a value."
        },
        "description": {
          "type": "string",
          "description": "Description for the Group."
        }
      },
      "description": "Summary Findings for a specific Group.",
      "type": "object"
    },
    "ValidateImportJobRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "ValidateImportJobRequest",
      "description": "A request to validate an import job.",
      "type": "object"
    },
    "SqlServerTraceFlag": {
      "type": "object",
      "description": "SQL Server trace flag details.",
      "id": "SqlServerTraceFlag",
      "properties": {
        "traceFlagName": {
          "description": "Required. The trace flag name.",
          "type": "string"
        },
        "scope": {
          "description": "Required. The trace flag scope.",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "OFF",
            "GLOBAL",
            "SESSION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Off.",
            "Global.",
            "Session."
          ]
        }
      }
    },
    "AwsRds": {
      "properties": {},
      "description": "Specific details for an AWS RDS database deployment.",
      "type": "object",
      "id": "AwsRds"
    },
    "AssetsExportJobExportCondition": {
      "id": "AssetsExportJobExportCondition",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Optional. Assets filter, supports the same syntax as asset listing.",
          "type": "string"
        }
      },
      "description": "Conditions for selecting assets to export."
    },
    "ImportRowErrorArchiveErrorDetails": {
      "type": "object",
      "description": "Error details for an archive file.",
      "id": "ImportRowErrorArchiveErrorDetails",
      "properties": {
        "filePath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The file path inside the archive where the error was detected."
        },
        "csvError": {
          "$ref": "ImportRowErrorCsvErrorDetails",
          "description": "Error details for a CSV file."
        }
      }
    },
    "Status": {
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status"
    },
    "AzureVmPlatformDetails": {
      "type": "object",
      "properties": {
        "hyperthreading": {
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "type": "string",
          "description": "Whether the machine is hyperthreaded.",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        },
        "provisioningState": {
          "description": "Azure platform's provisioning state.",
          "type": "string"
        },
        "machineTypeLabel": {
          "type": "string",
          "description": "Azure platform's machine type label."
        },
        "location": {
          "type": "string",
          "description": "The location of the machine in the Azure format."
        }
      },
      "id": "AzureVmPlatformDetails",
      "description": "Azure VM specific details."
    },
    "InsightList": {
      "type": "object",
      "id": "InsightList",
      "description": "Message containing insights list.",
      "properties": {
        "insights": {
          "description": "Output only. Insights of the list.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Insight"
          }
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Update timestamp."
        }
      }
    },
    "ReportSummaryGroupPreferenceSetFinding": {
      "type": "object",
      "properties": {
        "monthlyCostCompute": {
          "$ref": "Money",
          "description": "Compute monthly cost for this preference set."
        },
        "description": {
          "type": "string",
          "description": "Description for the Preference Set."
        },
        "displayName": {
          "description": "Display Name of the Preference Set",
          "type": "string"
        },
        "monthlyCostTotal": {
          "description": "Total monthly cost for this preference set.",
          "$ref": "Money"
        },
        "monthlyCostOther": {
          "$ref": "Money",
          "description": "Miscellaneous monthly cost for this preference set."
        },
        "monthlyCostOsLicense": {
          "description": "Licensing monthly cost for this preference set.",
          "$ref": "Money"
        },
        "vmwareEngineFinding": {
          "$ref": "ReportSummaryVmwareEngineFinding",
          "description": "A set of findings that applies to VMWare machines in the input."
        },
        "monthlyCostStorage": {
          "description": "Storage monthly cost for this preference set.",
          "$ref": "Money"
        },
        "monthlyCostNetworkEgress": {
          "$ref": "Money",
          "description": "Network Egress monthly cost for this preference set."
        },
        "machinePreferences": {
          "$ref": "VirtualMachinePreferences",
          "description": "A set of preferences that applies to all machines in the context."
        },
        "computeEngineFinding": {
          "$ref": "ReportSummaryComputeEngineFinding",
          "description": "A set of findings that applies to Compute Engine machines in the input."
        },
        "soleTenantFinding": {
          "description": "A set of findings that applies to Sole-Tenant machines in the input.",
          "$ref": "ReportSummarySoleTenantFinding"
        }
      },
      "id": "ReportSummaryGroupPreferenceSetFinding",
      "description": "Summary Findings for a specific Group/PreferenceSet combination."
    },
    "BatchDeleteAssetsRequest": {
      "type": "object",
      "description": "A request to delete a list of asset.",
      "id": "BatchDeleteAssetsRequest",
      "properties": {
        "cascadingRules": {
          "description": "Optional. Optional cascading rules for deleting related assets.",
          "items": {
            "$ref": "CascadingRule"
          },
          "type": "array"
        },
        "names": {
          "description": "Required. The IDs of the assets to delete. A maximum of 1000 assets can be deleted in a batch. Format: projects/{project}/locations/{location}/assets/{name}.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allowMissing": {
          "description": "Optional. When this value is set to `true` the request is a no-op for non-existing assets. See https://google.aip.dev/135#delete-if-existing for additional details. Default value is `false`.",
          "type": "boolean"
        }
      }
    },
    "UpdateAssetRequest": {
      "id": "UpdateAssetRequest",
      "description": "A request to update an asset.",
      "type": "object",
      "properties": {
        "asset": {
          "$ref": "Asset",
          "description": "Required. The resource being updated."
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. Field mask is used to specify the fields to be overwritten in the `Asset` resource by the update. The values specified in the `update_mask` field are relative to the resource, not the full request. A field will be overwritten if it is in the mask. A single * value in the mask lets you to overwrite all fields."
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "AggregationHistogram": {
      "id": "AggregationHistogram",
      "description": "Histogram of bucketed assets counts by field value.",
      "type": "object",
      "properties": {
        "lowerBounds": {
          "type": "array",
          "description": "Lower bounds of buckets. The response will contain `n+1` buckets for `n` bounds. The first bucket will count all assets for which the field value is smaller than the first bound. Subsequent buckets will count assets for which the field value is greater or equal to a lower bound and smaller than the next one. The last bucket will count assets for which the field value is greater or equal to the final lower bound. You can define up to 20 lower bounds.",
          "items": {
            "format": "double",
            "type": "number"
          }
        }
      }
    },
    "PostgreSqlProperty": {
      "id": "PostgreSqlProperty",
      "properties": {
        "numericValue": {
          "description": "Required. The property numeric value.",
          "type": "string",
          "format": "int64"
        },
        "property": {
          "description": "Required. The property name.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. The property is enabled."
        }
      },
      "type": "object",
      "description": "PostgreSql property."
    },
    "Report": {
      "id": "Report",
      "type": "object",
      "description": "Report represents a point-in-time rendering of the ReportConfig results.",
      "properties": {
        "updateTime": {
          "description": "Output only. Last update timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "summary": {
          "readOnly": true,
          "$ref": "ReportSummary",
          "description": "Output only. Summary view of the Report."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of resource."
        },
        "state": {
          "type": "string",
          "description": "Report creation state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Default Report creation state.",
            "Creating Report.",
            "Successfully created Report.",
            "Failed to create Report."
          ]
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name. Maximum length is 63 characters."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
[...]
