{
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "baseUrl": "https://migrationcenter.googleapis.com/",
  "batchPath": "batch",
  "revision": "20260907",
  "servicePath": "",
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "version_module": true,
  "id": "migrationcenter:v1",
  "protocol": "rest",
  "rootUrl": "https://migrationcenter.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "A unified platform that helps you accelerate your end-to-end cloud journey from your current on-premises or cloud environments to Google Cloud.",
  "documentationLink": "https://cloud.google.com/migration-center",
  "version": "v1",
  "title": "Migration Center API",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://migrationcenter.mtls.googleapis.com/",
  "name": "migrationcenter",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "ValidateImportJobRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "A request to validate an import job.",
      "type": "object",
      "id": "ValidateImportJobRequest"
    },
    "ListPreferenceSetsResponse": {
      "description": "Response message for listing preference sets.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "preferenceSets": {
          "description": "The list of PreferenceSets",
          "items": {
            "$ref": "PreferenceSet"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "id": "ListPreferenceSetsResponse",
      "type": "object"
    },
    "ImportRowErrorArchiveErrorDetails": {
      "type": "object",
      "description": "Error details for an archive file.",
      "properties": {
        "filePath": {
          "description": "Output only. The file path inside the archive where the error was detected.",
          "type": "string",
          "readOnly": true
        },
        "csvError": {
          "description": "Error details for a CSV file.",
          "$ref": "ImportRowErrorCsvErrorDetails"
        }
      },
      "id": "ImportRowErrorArchiveErrorDetails"
    },
    "ReportSummaryVmwareNode": {
      "type": "object",
      "description": "A VMWare Engine Node",
      "id": "ReportSummaryVmwareNode",
      "properties": {
        "code": {
          "type": "string",
          "description": "Code to identify VMware Engine node series, e.g. \"ve1-standard-72\". Based on the displayName of cloud.google.com/vmware-engine/docs/reference/rest/v1/projects.locations.nodeTypes"
        }
      }
    },
    "SoleTenantNodeType": {
      "id": "SoleTenantNodeType",
      "description": "A Sole Tenant node type.",
      "properties": {
        "nodeName": {
          "type": "string",
          "description": "Name of the Sole Tenant node. Consult https://cloud.google.com/compute/docs/nodes/sole-tenant-nodes"
        }
      },
      "type": "object"
    },
    "ReportSummaryComputeEngineFinding": {
      "id": "ReportSummaryComputeEngineFinding",
      "type": "object",
      "properties": {
        "allocatedAssetCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of assets which were allocated."
        },
        "allocatedRegions": {
          "description": "Set of regions in which the assets were allocated.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "machineSeriesAllocations": {
          "description": "Distribution of assets based on the Machine Series.",
          "type": "array",
          "items": {
            "$ref": "ReportSummaryMachineSeriesAllocation"
          }
        },
        "allocatedDiskTypes": {
          "description": "Set of disk types allocated to assets.",
          "items": {
            "enumDescriptions": [
              "Unspecified. Fallback to default value based on context.",
              "Standard HDD Persistent Disk.",
              "Balanced Persistent Disk.",
              "SSD Persistent Disk."
            ],
            "type": "string",
            "enum": [
              "PERSISTENT_DISK_TYPE_UNSPECIFIED",
              "PERSISTENT_DISK_TYPE_STANDARD",
              "PERSISTENT_DISK_TYPE_BALANCED",
              "PERSISTENT_DISK_TYPE_SSD"
            ]
          },
          "type": "array"
        }
      },
      "description": "A set of findings that applies to assets destined for Compute Engine."
    },
    "ListSourcesResponse": {
      "id": "ListSourcesResponse",
      "description": "Response message for listing sources.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "sources": {
          "description": "The list of sources.",
          "items": {
            "$ref": "Source"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DailyResourceUsageAggregationStats": {
      "type": "object",
      "id": "DailyResourceUsageAggregationStats",
      "properties": {
        "average": {
          "format": "float",
          "description": "Average usage value.",
          "type": "number"
        },
        "peak": {
          "format": "float",
          "description": "Peak usage value.",
          "type": "number"
        },
        "median": {
          "type": "number",
          "format": "float",
          "description": "Median usage value."
        },
        "ninteyFifthPercentile": {
          "description": "95th percentile usage value.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "Statistical aggregation of samples for a single resource usage."
    },
    "ComputeStorageDescriptor": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified. Fallback to default value based on context.",
            "Standard HDD Persistent Disk.",
            "Balanced Persistent Disk.",
            "SSD Persistent Disk."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Disk type backing the storage.",
          "enum": [
            "PERSISTENT_DISK_TYPE_UNSPECIFIED",
            "PERSISTENT_DISK_TYPE_STANDARD",
            "PERSISTENT_DISK_TYPE_BALANCED",
            "PERSISTENT_DISK_TYPE_SSD"
          ]
        },
        "sizeGb": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Disk size in GiB.",
          "format": "int32"
        }
      },
      "id": "ComputeStorageDescriptor",
      "description": "Compute Engine storage option descriptor.",
      "type": "object"
    },
    "ComputeEngineMigrationTarget": {
      "properties": {
        "shape": {
          "description": "Description of the suggested shape for the migration target.",
          "$ref": "ComputeEngineShapeDescriptor"
        }
      },
      "id": "ComputeEngineMigrationTarget",
      "description": "Compute engine migration target.",
      "type": "object"
    },
    "Frames": {
      "id": "Frames",
      "properties": {
        "framesData": {
          "type": "array",
          "items": {
            "$ref": "AssetFrame"
          },
          "description": "A repeated field of asset data."
        }
      },
      "description": "Collection of frame data.",
      "type": "object"
    },
    "PerformanceSample": {
      "id": "PerformanceSample",
      "type": "object",
      "description": "Performance data sample.",
      "properties": {
        "network": {
          "description": "Network usage sample.",
          "$ref": "NetworkUsageSample"
        },
        "cpu": {
          "description": "CPU usage sample.",
          "$ref": "CpuUsageSample"
        },
        "memory": {
          "description": "Memory usage sample.",
          "$ref": "MemoryUsageSample"
        },
        "sampleTime": {
          "format": "google-datetime",
          "description": "Time the sample was collected. If omitted, the frame report time will be used.",
          "type": "string"
        },
        "disk": {
          "$ref": "DiskUsageSample",
          "description": "Disk usage sample."
        }
      }
    },
    "FrameViolationEntry": {
      "id": "FrameViolationEntry",
      "type": "object",
      "properties": {
        "violation": {
          "description": "A message describing the violation.",
          "type": "string"
        },
        "field": {
          "type": "string",
          "description": "The field of the original frame where the violation occurred."
        }
      },
      "description": "A resource that contains a single violation of a reported `AssetFrame` resource."
    },
    "HostsEntry": {
      "description": "Single /etc/hosts entry.",
      "properties": {
        "ip": {
          "description": "IP (raw, IPv4/6 agnostic).",
          "type": "string"
        },
        "hostNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of host names / aliases."
        }
      },
      "type": "object",
      "id": "HostsEntry"
    },
    "CsvOutputFile": {
      "type": "object",
      "id": "CsvOutputFile",
      "description": "Contains a single output file of type CSV.",
      "properties": {
        "signedUri": {
          "readOnly": true,
          "$ref": "SignedUri",
          "description": "Output only. Signed URI destination."
        },
        "rowCount": {
          "description": "Output only. Number of rows in the file.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "columnsCount": {
          "description": "Output only. Number of columns in the file.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        }
      }
    },
    "AggregateAssetsValuesRequest": {
      "type": "object",
      "description": "A request to aggregate one or more values.",
      "properties": {
        "filter": {
          "description": "Optional. The aggregation will be performed on assets that match the provided filter.",
          "type": "string"
        },
        "aggregations": {
          "items": {
            "$ref": "Aggregation"
          },
          "description": "Array of aggregations to perform. Up to 25 aggregations can be defined.",
          "type": "array"
        },
        "showHidden": {
          "type": "boolean",
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden."
        }
      },
      "id": "AggregateAssetsValuesRequest"
    },
    "ImportDataFile": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the file was created.",
          "readOnly": true,
          "type": "string"
        },
        "format": {
          "enumDescriptions": [
            "Default value.",
            "RVTools format (XLSX).",
            "RVTools format (CSV).",
            "CSV format exported from AWS using the AWS collection script.",
            "CSV format exported from Azure using the Azure collection script.",
            "CSV format created manually and following the StratoZone format. For more information, see Manually create and upload data tables.",
            "ZIP file with nested CSV files generated by a database collector."
          ],
          "description": "Required. The payload format.",
          "type": "string",
          "enum": [
            "IMPORT_JOB_FORMAT_UNSPECIFIED",
            "IMPORT_JOB_FORMAT_RVTOOLS_XLSX",
            "IMPORT_JOB_FORMAT_RVTOOLS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AWS_CSV",
            "IMPORT_JOB_FORMAT_EXPORTED_AZURE_CSV",
            "IMPORT_JOB_FORMAT_STRATOZONE_CSV",
            "IMPORT_JOB_FORMAT_DATABASE_ZIP"
          ]
        },
        "uploadFileInfo": {
          "$ref": "UploadFileInfo",
          "description": "Information about a file that is uploaded to a storage service."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the file."
        },
        "displayName": {
          "description": "Optional. User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Default value.",
            "The data file is being created.",
            "The data file completed initialization."
          ],
          "readOnly": true,
          "description": "Output only. The state of the import data file.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE"
          ]
        }
      },
      "type": "object",
      "id": "ImportDataFile",
      "description": "A resource that represents a payload file in an import job."
    },
    "RunAssetsExportJobRequest": {
      "description": "A request to run an assets export job.",
      "id": "RunAssetsExportJobRequest",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GuestConfigDetails": {
      "description": "Guest OS config information.",
      "type": "object",
      "id": "GuestConfigDetails",
      "properties": {
        "issue": {
          "type": "string",
          "description": "OS issue (typically /etc/issue in Linux)."
        },
        "selinuxMode": {
          "enumDescriptions": [
            "SELinux mode unknown or unspecified.",
            "SELinux is disabled.",
            "SELinux permissive mode.",
            "SELinux enforcing mode."
          ],
          "description": "Security-Enhanced Linux (SELinux) mode.",
          "type": "string",
          "enum": [
            "SE_LINUX_MODE_UNSPECIFIED",
            "SE_LINUX_MODE_DISABLED",
            "SE_LINUX_MODE_PERMISSIVE",
            "SE_LINUX_MODE_ENFORCING"
          ]
        },
        "hosts": {
          "description": "Hosts file (/etc/hosts).",
          "$ref": "HostsEntryList"
        },
        "fstab": {
          "$ref": "FstabEntryList",
          "description": "Mount list (Linux fstab)."
        },
        "nfsExports": {
          "description": "NFS exports.",
          "$ref": "NfsExportList"
        }
      }
    },
    "InsightList": {
      "description": "Message containing insights list.",
      "properties": {
        "insights": {
          "type": "array",
          "description": "Output only. Insights of the list.",
          "items": {
            "$ref": "Insight"
          },
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Update timestamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "InsightList",
      "type": "object"
    },
    "ListAssetsResponse": {
      "type": "object",
      "properties": {
        "assets": {
          "type": "array",
          "items": {
            "$ref": "Asset"
          },
          "description": "A list of assets."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "id": "ListAssetsResponse",
      "description": "Response message for listing assets."
    },
    "AddAssetsToGroupRequest": {
      "description": "A request to add assets to a group.",
      "type": "object",
      "id": "AddAssetsToGroupRequest",
      "properties": {
        "assets": {
          "$ref": "AssetList",
          "description": "Required. List of assets to be added. The maximum number of assets that can be added in a single request is 2000."
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "allowExisting": {
          "type": "boolean",
          "description": "Optional. When this value is set to `false` and one of the given assets is already an existing member of the group, the operation fails with an `Already Exists` error. When set to `true` this situation is silently ignored by the server. Default value is `false`."
        }
      }
    },
    "DailyResourceUsageAggregationDisk": {
      "type": "object",
      "id": "DailyResourceUsageAggregationDisk",
      "description": "Statistical aggregation of disk usage.",
      "properties": {
        "iops": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "Optional. Disk I/O operations per second."
        },
        "readIops": {
          "description": "Optional. Disk read I/O operations per second.",
          "$ref": "DailyResourceUsageAggregationStats"
        },
        "writeIops": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "Optional. Disk write I/O operations per second."
        }
      }
    },
    "ReportSummaryHistogramChartDataBucket": {
      "type": "object",
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.",
      "id": "ReportSummaryHistogramChartDataBucket",
      "properties": {
        "count": {
          "description": "Count of items in the bucket.",
          "format": "int64",
          "type": "string"
        },
        "lowerBound": {
          "type": "string",
          "description": "Lower bound - inclusive.",
          "format": "int64"
        },
        "upperBound": {
          "description": "Upper bound - exclusive.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Report": {
      "id": "Report",
      "description": "Report represents a point-in-time rendering of the ReportConfig results.",
      "properties": {
        "createTime": {
          "description": "Output only. Creation timestamp.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Last update timestamp.",
          "type": "string"
        },
        "state": {
          "description": "Report creation state.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Default Report creation state.",
            "Creating Report.",
            "Successfully created Report.",
            "Failed to create Report."
          ]
        },
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Free-text description."
        },
        "summary": {
          "readOnly": true,
          "description": "Output only. Summary view of the Report.",
          "$ref": "ReportSummary"
        },
        "name": {
          "type": "string",
          "description": "Output only. Name of resource.",
          "readOnly": true
        },
        "type": {
          "enumDescriptions": [
            "Default Report type.",
            "Total cost of ownership Report type."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TOTAL_COST_OF_OWNERSHIP"
          ],
          "description": "Report type."
        }
      },
      "type": "object"
    },
    "RunImportJobRequest": {
      "description": "A request to run an import job.",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RunImportJobRequest"
    },
    "MachineNetworkDetails": {
      "type": "object",
      "id": "MachineNetworkDetails",
      "properties": {
        "defaultGateway": {
          "type": "string",
          "description": "Optional. Default gateway address."
        },
        "primaryMacAddress": {
          "type": "string",
          "description": "MAC address of the machine. This property is used to uniqly identify the machine."
        },
        "adapters": {
          "description": "List of network adapters.",
          "$ref": "NetworkAdapterList"
        },
        "primaryIpAddress": {
          "type": "string",
          "description": "The primary IP address of the machine."
        },
        "publicIpAddress": {
          "type": "string",
          "description": "The public IP address of the machine."
        }
      },
      "description": "Details of network adapters and settings."
    },
    "ReportSummaryChartDataDataPoint": {
      "id": "ReportSummaryChartDataDataPoint",
      "description": "Describes a single data point in the Chart.",
      "properties": {
        "label": {
          "description": "The X-axis label for this data point.",
          "type": "string"
        },
        "value": {
          "format": "double",
          "description": "The Y-axis value for this data point.",
          "type": "number"
        }
      },
      "type": "object"
    },
    "NetworkAddressList": {
      "properties": {
        "entries": {
          "description": "Network address entries.",
          "items": {
            "$ref": "NetworkAddress"
          },
          "type": "array"
        }
      },
      "description": "List of allocated/assigned network addresses.",
      "id": "NetworkAddressList",
      "type": "object"
    },
    "UpdateAssetRequest": {
      "id": "UpdateAssetRequest",
      "type": "object",
      "properties": {
        "asset": {
          "description": "Required. The resource being updated.",
          "$ref": "Asset"
        },
        "updateMask": {
          "description": "Required. Field mask is used to specify the fields to be overwritten in the `Asset` resource by the update. The values specified in the `update_mask` field are relative to the resource, not the full request. A field will be overwritten if it is in the mask. A single * value in the mask lets you to overwrite all fields.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "A request to update an asset."
    },
    "XlsxOutputFile": {
      "id": "XlsxOutputFile",
      "description": "Contains a single output file of type XLSX.",
      "properties": {
        "signedUri": {
          "description": "Output only. Signed URI destination.",
          "$ref": "SignedUri",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ImportRowErrorCsvErrorDetails": {
      "type": "object",
      "properties": {
        "rowNumber": {
          "type": "integer",
          "format": "int32",
          "description": "The row number where the error was detected."
        }
      },
      "description": "Error details for a CSV file.",
      "id": "ImportRowErrorCsvErrorDetails"
    },
    "AssetPerformanceData": {
      "id": "AssetPerformanceData",
      "type": "object",
      "properties": {
        "dailyResourceUsageAggregations": {
          "items": {
            "$ref": "DailyResourceUsageAggregation"
          },
          "description": "Daily resource usage aggregations. Contains all of the data available for an asset, up to the last 420 days. Aggregations are sorted from oldest to most recent.",
          "type": "array"
        }
      },
      "description": "Performance data for an asset."
    },
    "AggregationHistogram": {
      "description": "Histogram of bucketed assets counts by field value.",
      "properties": {
        "lowerBounds": {
          "items": {
            "format": "double",
            "type": "number"
          },
          "description": "Lower bounds of buckets. The response will contain `n+1` buckets for `n` bounds. The first bucket will count all assets for which the field value is smaller than the first bound. Subsequent buckets will count assets for which the field value is greater or equal to a lower bound and smaller than the next one. The last bucket will count assets for which the field value is greater or equal to the final lower bound. You can define up to 20 lower bounds.",
          "type": "array"
        }
      },
      "id": "AggregationHistogram",
      "type": "object"
    },
    "PlatformDetails": {
      "id": "PlatformDetails",
      "description": "Information about the platform.",
      "type": "object",
      "properties": {
        "physicalDetails": {
          "description": "Physical machines platform details.",
          "$ref": "PhysicalPlatformDetails"
        },
        "vmwareDetails": {
          "$ref": "VmwarePlatformDetails",
          "description": "VMware specific details."
        },
        "azureVmDetails": {
          "description": "Azure VM specific details.",
          "$ref": "AzureVmPlatformDetails"
        },
        "genericDetails": {
          "$ref": "GenericPlatformDetails",
          "description": "Generic platform details."
        },
        "awsEc2Details": {
          "$ref": "AwsEc2PlatformDetails",
          "description": "AWS EC2 specific details."
        }
      }
    },
    "ListImportDataFilesResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "importDataFiles": {
          "description": "The list of import data files.",
          "items": {
            "$ref": "ImportDataFile"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListImportDataFilesResponse",
      "description": "Response for listing payload files of an import job."
    },
    "NetworkAdapterList": {
      "id": "NetworkAdapterList",
      "type": "object",
      "description": "List of network adapters.",
      "properties": {
        "entries": {
          "items": {
            "$ref": "NetworkAdapterDetails"
          },
          "description": "Network adapter entries.",
          "type": "array"
        }
      }
    },
    "MachineSeries": {
      "properties": {
        "code": {
          "description": "Code to identify a machine series. Consult this for more details on the available series for Compute Engine: https://cloud.google.com/compute/docs/machine-resource#machine_type_comparison Consult this for more details on the available series for Google Cloud VMware Engine: https://cloud.google.com/vmware-engine/pricing",
          "type": "string"
        }
      },
      "id": "MachineSeries",
      "type": "object",
      "description": "A machine series, for a target product (e.g. Compute Engine, Google Cloud VMware Engine)."
    },
    "AssetsExportJob": {
      "properties": {
        "inventory": {
          "description": "Export asset inventory details.",
          "$ref": "AssetsExportJobInventory"
        },
        "recentExecutions": {
          "readOnly": true,
          "items": {
            "$ref": "AssetsExportJobExecution"
          },
          "description": "Output only. Recent non expired executions of the job.",
          "type": "array"
        },
        "signedUriDestination": {
          "description": "Export to Cloud Storage files downloadable using signed URIs.",
          "$ref": "SignedUriDestination"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. Resource name."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Resource creation time.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Resource update time.",
          "format": "google-datetime",
          "type": "string"
        },
        "showHidden": {
          "description": "Optional. When this value is set to 'true' the response will include all assets, including those that are hidden.",
          "type": "boolean"
        },
        "performanceData": {
          "description": "Export asset with performance data.",
          "$ref": "AssetsExportJobPerformanceData"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs. Labels must meet the following constraints: * Keys and values can contain only lowercase letters, numeric characters, underscores, and dashes. * All characters must use UTF-8 encoding, and international characters are allowed. * Keys must start with a lowercase letter or international character. * Each resource is limited to a maximum of 64 labels. Both keys and values are additionally constrained to be <= 128 bytes.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "condition": {
          "$ref": "AssetsExportJobExportCondition",
          "description": "Optional. Conditions for selecting assets to export."
        },
        "networkDependencies": {
          "description": "Export data regarding asset network dependencies.",
          "$ref": "AssetsExportJobNetworkDependencies"
        }
      },
      "type": "object",
      "description": "Assets export job message.",
      "id": "AssetsExportJob"
    },
    "BiosDetails": {
      "type": "object",
      "properties": {
        "biosName": {
          "type": "string",
          "deprecated": true,
          "description": "BIOS name. This fields is deprecated. Please use the `id` field instead."
        },
        "manufacturer": {
          "description": "BIOS manufacturer.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "BIOS version."
        },
        "id": {
          "type": "string",
          "description": "BIOS ID."
        },
        "smbiosUuid": {
          "type": "string",
          "description": "SMBIOS UUID."
        },
        "releaseDate": {
          "$ref": "Date",
          "description": "BIOS release date."
        }
      },
      "description": "Details about the BIOS.",
      "id": "BiosDetails"
    },
    "SoleTenancyPreferences": {
      "description": "Preferences concerning Sole Tenancy nodes and VMs.",
      "type": "object",
      "id": "SoleTenancyPreferences",
      "properties": {
        "cpuOvercommitRatio": {
          "description": "CPU overcommit ratio. Acceptable values are between 1.0 and 2.0 inclusive.",
          "format": "double",
          "type": "number"
        },
        "hostMaintenancePolicy": {
          "description": "Sole Tenancy nodes maintenance policy.",
          "enumDescriptions": [
            "Unspecified host maintenance policy.",
            "Default host maintenance policy.",
            "Restart in place host maintenance policy.",
            "Migrate within node group host maintenance policy."
          ],
          "type": "string",
          "enum": [
            "HOST_MAINTENANCE_POLICY_UNSPECIFIED",
            "HOST_MAINTENANCE_POLICY_DEFAULT",
            "HOST_MAINTENANCE_POLICY_RESTART_IN_PLACE",
            "HOST_MAINTENANCE_POLICY_MIGRATE_WITHIN_NODE_GROUP"
          ]
        },
        "nodeTypes": {
          "description": "A list of sole tenant node types. An empty list means that all possible node types will be considered.",
          "type": "array",
          "items": {
            "$ref": "SoleTenantNodeType"
          }
        },
        "commitmentPlan": {
          "type": "string",
          "enum": [
            "COMMITMENT_PLAN_UNSPECIFIED",
            "ON_DEMAND",
            "COMMITMENT_1_YEAR",
            "COMMITMENT_3_YEAR"
          ],
          "enumDescriptions": [
            "Unspecified commitment plan.",
            "No commitment plan (on-demand usage).",
            "1 year commitment.",
            "3 years commitment."
          ],
          "description": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with."
        }
      }
    },
    "ReportConfig": {
      "properties": {
        "displayName": {
          "description": "User-friendly display name. Maximum length is 63 characters.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of resource."
        },
        "groupPreferencesetAssignments": {
          "type": "array",
          "items": {
            "$ref": "ReportConfigGroupPreferenceSetAssignment"
          },
          "description": "Required. Collection of combinations of groups and preference sets."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was last updated."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The groups and associated preference sets on which we can generate reports.",
      "id": "ReportConfig"
    },
    "DatabaseInstanceNetwork": {
      "properties": {
        "hostNames": {
          "type": "array",
          "description": "Optional. The instance's host names.",
          "items": {
            "type": "string"
          }
        },
        "primaryMacAddress": {
          "type": "string",
          "description": "Optional. The instance's primary MAC address."
        },
        "ipAddresses": {
          "description": "Optional. The instance's IP addresses.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "DatabaseInstanceNetwork",
      "description": "Network details of a database instance."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        }
      },
      "id": "ListOperationsResponse"
    },
    "SqlServerTraceFlag": {
      "type": "object",
      "properties": {
        "traceFlagName": {
          "description": "Required. The trace flag name.",
          "type": "string"
        },
        "scope": {
          "description": "Required. The trace flag scope.",
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "OFF",
            "GLOBAL",
            "SESSION"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Off.",
            "Global.",
            "Session."
          ]
        }
      },
      "id": "SqlServerTraceFlag",
      "description": "SQL Server trace flag details."
    },
    "PhysicalPlatformDetails": {
      "id": "PhysicalPlatformDetails",
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "Free text representation of the machine location. The format of this field should not be relied on. Different machines in the same location may have different string values for this field."
        },
        "hyperthreading": {
          "description": "Whether the machine is hyperthreaded.",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "type": "string",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        }
      },
      "description": "Platform specific details for Physical Machines."
    },
    "AggregationResultHistogramBucket": {
      "description": "A histogram bucket with a lower and upper bound, and a count of items with a field value between those bounds. The lower bound is inclusive and the upper bound is exclusive. Lower bound may be -infinity and upper bound may be infinity.",
      "id": "AggregationResultHistogramBucket",
      "properties": {
        "lowerBound": {
          "format": "double",
          "description": "Lower bound - inclusive.",
          "type": "number"
        },
        "count": {
          "format": "int64",
          "description": "Count of items in the bucket.",
          "type": "string"
        },
        "upperBound": {
          "type": "number",
          "format": "double",
          "description": "Upper bound - exclusive."
        }
      },
      "type": "object"
    },
    "HostsEntryList": {
      "id": "HostsEntryList",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "description": "Hosts entries.",
          "items": {
            "$ref": "HostsEntry"
          }
        }
      },
      "description": "Hosts content."
    },
    "VmwarePlatformDetails": {
      "id": "VmwarePlatformDetails",
      "properties": {
        "esxHyperthreading": {
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ],
          "description": "Whether the ESX is hyperthreaded.",
          "type": "string",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ]
        },
        "osid": {
          "type": "string",
          "description": "VMware os enum - https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html."
        },
        "vcenterFolder": {
          "description": "Folder name in vCenter where asset resides.",
          "type": "string"
        },
        "vcenterVersion": {
          "description": "vCenter version.",
          "type": "string"
        },
        "esxVersion": {
          "type": "string",
          "description": "ESX version."
        },
        "vcenterVmId": {
          "description": "vCenter VM ID.",
          "type": "string"
        },
        "vcenterUri": {
          "description": "vCenter URI used in collection.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "VMware specific details."
    },
    "Source": {
      "properties": {
        "priority": {
          "type": "integer",
          "description": "The information confidence of the source. The higher the value, the higher the confidence.",
          "format": "int32"
        },
        "description": {
          "description": "Free-text description.",
          "type": "string"
        },
        "errorFrameCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of frames that were reported by the source and contained errors.",
          "format": "int32"
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETING",
            "INVALID"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "The source is active and ready to be used.",
            "In the process of being deleted.",
            "Source is in an invalid state. Asset frames reported to it will be ignored."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the source."
        },
        "name": {
          "type": "string",
          "description": "Output only. The full name of the source.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ],
          "description": "Data source type."
        },
        "pendingFrameCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of frames that are still being processed."
        },
        "managed": {
          "type": "boolean",
          "description": "If `true`, the source is managed by other service(s)."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the source was created.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The timestamp when the source was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Source",
      "type": "object",
      "description": "Source represents an object from which asset information is streamed to Migration Center."
    },
    "ImportRowError": {
      "type": "object",
      "id": "ImportRowError",
      "properties": {
        "vmUuid": {
          "type": "string",
          "description": "The VM UUID."
        },
        "vmName": {
          "description": "The name of the VM in the row.",
          "type": "string"
        },
        "errors": {
          "description": "The list of errors detected in the row.",
          "type": "array",
          "items": {
            "$ref": "ImportError"
          }
        },
        "assetTitle": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The asset title."
        },
        "csvError": {
          "description": "Error details for a CSV file.",
          "$ref": "ImportRowErrorCsvErrorDetails"
        },
        "archiveError": {
          "description": "Error details for an archive file.",
          "$ref": "ImportRowErrorArchiveErrorDetails"
        },
        "rowNumber": {
          "deprecated": true,
          "format": "int32",
          "type": "integer",
          "description": "The row number where the error was detected."
        },
        "xlsxError": {
          "$ref": "ImportRowErrorXlsxErrorDetails",
          "description": "Error details for an XLSX file."
        }
      },
      "description": "A resource that reports the import job errors at row level."
    },
    "AssetFrame": {
      "id": "AssetFrame",
      "properties": {
        "databaseDetails": {
          "$ref": "DatabaseDetails",
          "description": "Asset information specific for logical databases."
        },
        "attributes": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Generic asset attributes."
        },
        "performanceSamples": {
          "description": "Asset performance data samples. Samples that are from more than 40 days ago or after tomorrow are ignored.",
          "items": {
            "$ref": "PerformanceSample"
          },
          "type": "array"
        },
        "machineDetails": {
          "$ref": "MachineDetails",
          "description": "Asset information specific for virtual machines."
        },
        "collectionType": {
          "enumDescriptions": [
            "Unspecified",
            "Manually uploaded file (e.g. CSV)",
            "Guest-level info",
            "Inventory-level scan",
            "Third-party owned sources.",
            "Discovery clients"
          ],
          "description": "Optional. Frame collection type, if not specified the collection type will be based on the source type of the source the frame was reported on.",
          "type": "string",
          "enum": [
            "SOURCE_TYPE_UNKNOWN",
            "SOURCE_TYPE_UPLOAD",
            "SOURCE_TYPE_GUEST_OS_SCAN",
            "SOURCE_TYPE_INVENTORY_SCAN",
            "SOURCE_TYPE_CUSTOM",
            "SOURCE_TYPE_DISCOVERY_CLIENT"
          ]
        },
        "databaseDeploymentDetails": {
          "$ref": "DatabaseDeploymentDetails",
          "description": "Asset information specific for database deployments."
        },
        "reportTime": {
          "format": "google-datetime",
          "description": "The time the data was reported.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "traceToken": {
          "type": "string",
          "description": "Optional. Trace token is optionally provided to assist with debugging and traceability."
        }
      },
      "type": "object",
      "description": "Contains data reported from an inventory source on an asset."
    },
    "ReportSummary": {
      "description": "Describes the Summary view of a Report, which contains aggregated values for all the groups and preference sets included in this Report.",
      "type": "object",
      "properties": {
        "allAssetsStats": {
          "description": "Aggregate statistics for all the assets across all the groups.",
          "$ref": "ReportSummaryAssetAggregateStats"
        },
        "groupFindings": {
          "items": {
            "$ref": "ReportSummaryGroupFinding"
          },
          "type": "array",
          "description": "Findings for each Group included in this report."
        }
      },
      "id": "ReportSummary"
    },
    "ComputeEngineShapeDescriptor": {
      "id": "ComputeEngineShapeDescriptor",
      "type": "object",
      "properties": {
        "storage": {
          "type": "array",
          "description": "Output only. Compute Engine storage. Never empty.",
          "items": {
            "$ref": "ComputeStorageDescriptor"
          },
          "readOnly": true
        },
        "logicalCoreCount": {
          "readOnly": true,
          "description": "Output only. Number of logical cores.",
          "format": "int32",
          "type": "integer"
        },
        "memoryMb": {
          "description": "Memory in mebibytes.",
          "type": "integer",
          "format": "int32"
        },
        "series": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Compute Engine machine series."
        },
        "machineType": {
          "type": "string",
          "description": "Output only. Compute Engine machine type.",
          "readOnly": true
        },
        "physicalCoreCount": {
          "type": "integer",
          "description": "Number of physical cores.",
          "format": "int32"
        }
      },
      "description": "Compute Engine target shape descriptor."
    },
    "DiskUsageSample": {
      "type": "object",
      "id": "DiskUsageSample",
      "description": "Disk usage sample. Values are across all disks.",
      "properties": {
        "averageReadIops": {
          "description": "Optional. Average read IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored.",
          "type": "number",
          "format": "float"
        },
        "averageIops": {
          "format": "float",
          "type": "number",
          "description": "Optional. Average IOPS sampled over a short window. Must be non-negative. If read or write are set, the sum of read and write will override the value of the average_iops."
        },
        "averageWriteIops": {
          "description": "Optional. Average write IOPS sampled over a short window. Must be non-negative. If both read and write are zero they are ignored.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "MachineDetails": {
      "type": "object",
      "id": "MachineDetails",
      "properties": {
        "machineName": {
          "type": "string",
          "description": "Machine name."
        },
        "createTime": {
          "description": "Machine creation time.",
          "format": "google-datetime",
          "type": "string"
        },
        "network": {
          "$ref": "MachineNetworkDetails",
          "description": "Network details."
        },
        "uuid": {
          "type": "string",
          "description": "Machine unique identifier."
        },
        "powerState": {
          "enumDescriptions": [
            "Power state is unknown.",
            "The machine is preparing to enter the ACTIVE state. An instance may enter the PENDING state when it launches for the first time, or when it is started after being in the SUSPENDED state.",
            "The machine is active.",
            "The machine is being turned off.",
            "The machine is off.",
            "The machine is being deleted from the hosting platform.",
            "The machine is deleted from the hosting platform."
          ],
          "type": "string",
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "DELETING",
            "DELETED"
          ],
          "description": "Power state of the machine."
        },
        "coreCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of logical CPU cores in the machine. Must be non-negative."
        },
        "platform": {
          "description": "Platform specific information.",
          "$ref": "PlatformDetails"
        },
        "disks": {
          "description": "Disk details.",
          "$ref": "MachineDiskDetails"
        },
        "diskPartitions": {
          "$ref": "DiskPartitionDetails",
          "description": "Optional. Disk partitions details. Note: Partitions are not necessarily mounted on local disks and therefore might not have a one-to-one correspondence with local disks."
        },
        "memoryMb": {
          "format": "int32",
          "description": "The amount of memory in the machine. Must be non-negative.",
          "type": "integer"
        },
        "guestOs": {
          "description": "Guest OS information.",
          "$ref": "GuestOsDetails"
        },
        "architecture": {
          "description": "Architecture details (vendor, CPU architecture).",
          "$ref": "MachineArchitectureDetails"
        }
      },
      "description": "Details of a machine."
    },
    "DatabaseSchema": {
      "id": "DatabaseSchema",
      "description": "Details of a database schema.",
      "properties": {
        "objects": {
          "items": {
            "$ref": "DatabaseObjects"
          },
          "type": "array",
          "description": "Optional. List of details of objects by category."
        },
        "sqlServer": {
          "description": "Optional. Details of a SqlServer schema.",
          "$ref": "SqlServerSchemaDetails"
        },
        "mysql": {
          "description": "Optional. Details of a Mysql schema.",
          "$ref": "MySqlSchemaDetails"
        },
        "tablesSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The total size of tables in bytes."
        },
        "schemaName": {
          "description": "Required. The name of the schema.",
          "type": "string"
        },
        "postgresql": {
          "description": "Optional. Details of a PostgreSql schema.",
          "$ref": "PostgreSqlSchemaDetails"
        }
      },
      "type": "object"
    },
    "AssetList": {
      "description": "Lists the asset IDs of all assets.",
      "type": "object",
      "id": "AssetList",
      "properties": {
        "assetIds": {
          "type": "array",
          "description": "Required. A list of asset IDs",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GuestOsDetails": {
      "properties": {
        "family": {
          "description": "What family the OS belong to, if known.",
          "enumDescriptions": [
            "",
            "Microsoft Windows Server and Desktop.",
            "Various Linux flavors.",
            "Non-Linux Unix flavors."
          ],
          "type": "string",
          "enum": [
            "OS_FAMILY_UNKNOWN",
            "OS_FAMILY_WINDOWS",
            "OS_FAMILY_LINUX",
            "OS_FAMILY_UNIX"
          ]
        },
        "runtime": {
          "description": "Runtime information.",
          "$ref": "GuestRuntimeDetails"
        },
        "version": {
          "type": "string",
          "description": "The version of the operating system."
        },
        "config": {
          "$ref": "GuestConfigDetails",
          "description": "OS and app configuration."
        },
        "osName": {
          "type": "string",
          "description": "The name of the operating system."
        }
      },
      "type": "object",
      "description": "Information from Guest-level collections.",
      "id": "GuestOsDetails"
    },
    "ReportSummaryChartData": {
      "description": "Describes a collection of data points rendered as a Chart.",
      "properties": {
        "dataPoints": {
          "description": "Each data point in the chart is represented as a name-value pair with the name being the x-axis label, and the value being the y-axis value.",
          "items": {
            "$ref": "ReportSummaryChartDataDataPoint"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ReportSummaryChartData"
    },
    "RuntimeNetworkInfo": {
      "type": "object",
      "properties": {
        "scanTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time of the last network scan."
        },
        "connections": {
          "$ref": "NetworkConnectionList",
          "description": "Network connections."
        }
      },
      "description": "Runtime networking information.",
      "id": "RuntimeNetworkInfo"
    },
    "SignedUri": {
      "properties": {
        "uri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Download URI for the file."
        },
        "file": {
          "type": "string",
          "description": "Output only. Name of the file the Signed URI references.",
          "readOnly": true
        }
      },
      "description": "Contains a signed URI.",
      "type": "object",
      "id": "SignedUri"
    },
    "MySqlPlugin": {
      "description": "MySql plugin.",
      "type": "object",
      "properties": {
        "plugin": {
          "description": "Required. The plugin name.",
          "type": "string"
        },
        "version": {
          "description": "Required. The plugin version.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. The plugin is active."
        }
      },
      "id": "MySqlPlugin"
    },
    "MySqlProperty": {
      "description": "MySql property.",
      "properties": {
        "numericValue": {
          "format": "int64",
          "type": "string",
          "description": "Required. The property numeric value."
        },
        "property": {
          "description": "Required. The property name.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. The property is enabled."
        }
      },
      "type": "object",
      "id": "MySqlProperty"
    },
    "ListGroupsResponse": {
      "type": "object",
      "description": "A response for listing groups.",
      "properties": {
        "groups": {
          "type": "array",
          "items": {
            "$ref": "Group"
          },
          "description": "The list of Group"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "id": "ListGroupsResponse"
    },
    "MachinePreferences": {
      "description": "The type of machines to consider when calculating virtual machine migration insights and recommendations. Not all machine types are available in all zones and regions.",
      "id": "MachinePreferences",
      "type": "object",
      "properties": {
        "allowedMachineSeries": {
          "type": "array",
          "items": {
            "$ref": "MachineSeries"
          },
          "description": "Compute Engine machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series."
        }
      }
    },
    "AwsRds": {
      "type": "object",
      "properties": {},
      "description": "Specific details for an AWS RDS database deployment.",
      "id": "AwsRds"
    },
    "ReportSummaryAssetAggregateStats": {
      "id": "ReportSummaryAssetAggregateStats",
      "description": "Aggregate statistics for a collection of assets.",
      "properties": {
        "totalAssets": {
          "format": "int64",
          "type": "string",
          "description": "Count of the number of unique assets in this collection."
        },
        "totalCores": {
          "format": "int64",
          "description": "Sum of the CPU core count of all the assets in this collection.",
          "type": "string"
        },
        "storageUtilizationChart": {
          "$ref": "ReportSummaryUtilizationChartData",
          "description": "Total memory split into Used/Free buckets."
        },
        "storageBytesHistogram": {
          "$ref": "ReportSummaryHistogramChartData",
          "description": "Histogram showing a distribution of storage sizes."
        },
        "totalStorageBytes": {
          "type": "string",
          "description": "Sum of persistent storage in bytes of all the assets in this collection.",
          "format": "int64"
        },
        "softwareInstances": {
          "readOnly": true,
          "$ref": "ReportSummaryChartData",
          "description": "Output only. Count of assets grouped by software name. Only present for virtual machines."
        },
        "coreCountHistogram": {
          "$ref": "ReportSummaryHistogramChartData",
          "description": "Histogram showing a distribution of logical CPU core counts."
        },
        "memoryBytesHistogram": {
          "$ref": "ReportSummaryHistogramChartData",
          "description": "Histogram showing a distribution of memory sizes."
        },
        "operatingSystem": {
          "description": "Count of assets grouped by Operating System families.",
          "$ref": "ReportSummaryChartData"
        },
        "memoryUtilizationChart": {
          "$ref": "ReportSummaryUtilizationChartData",
          "description": "Total memory split into Used/Free buckets."
        },
        "totalMemoryBytes": {
          "description": "Sum of the memory in bytes of all the assets in this collection.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AggregateAssetsValuesResponse": {
      "id": "AggregateAssetsValuesResponse",
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "AggregationResult"
          },
          "description": "The aggregation results."
        }
      },
      "description": "A response to a request to aggregated assets values.",
      "type": "object"
    },
    "NetworkUsageSample": {
      "id": "NetworkUsageSample",
      "properties": {
        "averageIngressBps": {
          "format": "float",
          "description": "Average network ingress in B/s sampled over a short window. Must be non-negative.",
          "type": "number"
        },
        "averageEgressBps": {
          "type": "number",
          "format": "float",
          "description": "Average network egress in B/s sampled over a short window. Must be non-negative."
        }
      },
      "description": "Network usage sample. Values are across all network interfaces.",
      "type": "object"
    },
    "ReportConfigGroupPreferenceSetAssignment": {
      "type": "object",
      "id": "ReportConfigGroupPreferenceSetAssignment",
      "description": "Represents a combination of a group with a preference set.",
      "properties": {
        "group": {
          "description": "Required. Name of the group.",
          "type": "string"
        },
        "preferenceSet": {
          "type": "string",
          "description": "Required. Name of the Preference Set."
        }
      }
    },
    "MigrationInsight": {
      "type": "object",
      "properties": {
        "fit": {
          "readOnly": true,
          "$ref": "FitDescriptor",
          "description": "Output only. Description of how well the asset this insight is associated with fits the proposed migration."
        },
        "computeEngineTarget": {
          "readOnly": true,
          "$ref": "ComputeEngineMigrationTarget",
          "description": "Output only. A Google Compute Engine target."
        }
      },
      "id": "MigrationInsight",
      "description": "An insight about potential migrations for an asset."
    },
    "SqlServerFeature": {
      "description": "SQL Server feature details.",
      "id": "SqlServerFeature",
      "properties": {
        "enabled": {
          "description": "Required. Field enabled is set when a feature is used on the source deployment.",
          "type": "boolean"
        },
        "featureName": {
          "description": "Required. The feature name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PostgreSqlExtension": {
      "id": "PostgreSqlExtension",
      "type": "object",
      "properties": {
        "extension": {
          "type": "string",
          "description": "Required. The extension name."
        },
        "version": {
          "description": "Required. The extension version.",
          "type": "string"
        }
      },
      "description": "PostgreSql extension."
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "ReportSummaryMachineSeriesAllocation": {
      "type": "object",
      "id": "ReportSummaryMachineSeriesAllocation",
      "properties": {
        "machineSeries": {
          "description": "The Machine Series (e.g. \"E2\", \"N2\")",
          "$ref": "MachineSeries"
        },
        "allocatedAssetCount": {
          "description": "Count of assets allocated to this machine series.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Represents a data point tracking the count of assets allocated for a specific Machine Series."
    },
    "RunningProcess": {
      "id": "RunningProcess",
      "description": "Guest OS running process details.",
      "properties": {
        "exePath": {
          "description": "Process binary path.",
          "type": "string"
        },
        "cmdline": {
          "description": "Process full command line.",
          "type": "string"
        },
        "attributes": {
          "type": "object",
          "description": "Process extended attributes.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "user": {
          "type": "string",
          "description": "User running the process."
        },
        "pid": {
          "description": "Process ID.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse"
    },
    "DailyResourceUsageAggregationCPU": {
      "type": "object",
      "id": "DailyResourceUsageAggregationCPU",
      "description": "Statistical aggregation of CPU usage.",
      "properties": {
        "utilizationPercentage": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "CPU utilization percentage."
        }
      }
    },
    "AggregationResultCount": {
      "description": "The result of a count aggregation.",
      "properties": {
        "value": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "AggregationResultCount"
    },
    "BatchUpdateAssetsRequest": {
      "id": "BatchUpdateAssetsRequest",
      "type": "object",
      "description": "A request to update a list of assets.",
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the resources to update. A maximum of 1000 assets can be modified in a batch.",
          "type": "array",
          "items": {
            "$ref": "UpdateAssetRequest"
          }
        }
      }
    },
    "ListRelationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "relations": {
          "items": {
            "$ref": "Relation"
          },
          "type": "array",
          "description": "A list of relations."
        }
      },
      "id": "ListRelationsResponse",
      "type": "object",
      "description": "Response message for listing relations."
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "properties": {
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        }
      },
      "type": "object"
    },
    "Settings": {
      "properties": {
        "preferenceSet": {
          "description": "The preference set used by default for a project.",
          "type": "string"
        },
        "disableCloudLogging": {
          "description": "Disable Cloud Logging for the Migration Center API. Users are billed for the logs.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. The name of the resource.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Settings",
      "description": "Describes the Migration Center settings related to the project.",
      "type": "object"
    },
    "FileValidationReport": {
      "properties": {
        "fileErrors": {
          "type": "array",
          "items": {
            "$ref": "ImportError"
          },
          "description": "List of file level errors."
        },
        "fileName": {
          "type": "string",
          "description": "The name of the file."
        },
        "rowErrors": {
          "items": {
            "$ref": "ImportRowError"
          },
          "description": "Partial list of rows that encountered validation error.",
          "type": "array"
        },
        "partialReport": {
          "type": "boolean",
          "description": "Flag indicating that processing was aborted due to maximum number of errors."
        }
      },
      "description": "A resource that aggregates the validation errors found in an import job file.",
      "id": "FileValidationReport",
      "type": "object"
    },
    "MysqlDatabaseDeployment": {
      "type": "object",
      "description": "Specific details for a Mysql database deployment.",
      "id": "MysqlDatabaseDeployment",
      "properties": {
        "plugins": {
          "items": {
            "$ref": "MySqlPlugin"
          },
          "description": "Optional. List of MySql plugins.",
          "type": "array"
        },
        "properties": {
          "description": "Optional. List of MySql properties.",
          "type": "array",
          "items": {
            "$ref": "MySqlProperty"
          }
        },
        "variables": {
          "items": {
            "$ref": "MySqlVariable"
          },
          "description": "Optional. List of MySql variables.",
          "type": "array"
        },
        "resourceGroupsCount": {
          "description": "Optional. Number of resource groups.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "NfsExportList": {
      "id": "NfsExportList",
      "description": "NFS exports.",
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "description": "NFS export entries.",
          "items": {
            "$ref": "NfsExport"
          }
        }
      }
    },
    "Relation": {
      "properties": {
        "dstAsset": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The destination asset name in the relation."
        },
        "name": {
          "description": "Output only. Identifier. The identifier of the relation.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Default value.",
            "DBDeployment -> Database",
            "A relation between a machine/VM and the database deployment it hosts."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "LOGICAL_DATABASE",
            "DATABASE_DEPLOYMENT_HOSTING_SERVER"
          ],
          "description": "Optional. The type of the relation."
        },
        "srcAsset": {
          "description": "Output only. The source asset name in the relation.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the relation was created.",
          "readOnly": true
        }
      },
      "id": "Relation",
      "type": "object",
      "description": "Message representing a relation between 2 resource."
    },
    "AzureVmPlatformDetails": {
      "properties": {
        "provisioningState": {
          "type": "string",
          "description": "Azure platform's provisioning state."
        },
        "location": {
          "description": "The location of the machine in the Azure format.",
          "type": "string"
        },
        "hyperthreading": {
          "description": "Whether the machine is hyperthreaded.",
          "type": "string",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ]
        },
        "machineTypeLabel": {
          "type": "string",
          "description": "Azure platform's machine type label."
        }
      },
      "type": "object",
      "id": "AzureVmPlatformDetails",
      "description": "Azure VM specific details."
    },
    "BatchUpdateAssetsResponse": {
      "properties": {
        "assets": {
          "type": "array",
          "description": "Update asset content. The content only includes values after field mask being applied.",
          "items": {
            "$ref": "Asset"
          }
        }
      },
      "type": "object",
      "description": "Response for updating a list of assets.",
      "id": "BatchUpdateAssetsResponse"
    },
    "ReportSummaryGroupFinding": {
      "type": "object",
      "id": "ReportSummaryGroupFinding",
      "description": "Summary Findings for a specific Group.",
      "properties": {
        "displayName": {
          "description": "Display Name for the Group.",
          "type": "string"
        },
        "preferenceSetFindings": {
          "description": "Findings for each of the PreferenceSets for this group.",
          "type": "array",
          "items": {
            "$ref": "ReportSummaryGroupPreferenceSetFinding"
          }
        },
        "description": {
          "type": "string",
          "description": "Description for the Group."
        },
        "overlappingAssetCount": {
          "type": "string",
          "deprecated": true,
          "description": "This field is deprecated, do not rely on it having a value.",
          "format": "int64"
        },
        "assetAggregateStats": {
          "description": "Summary statistics for all the assets in this group.",
          "$ref": "ReportSummaryAssetAggregateStats"
        }
      }
    },
    "DailyResourceUsageAggregationMemory": {
      "id": "DailyResourceUsageAggregationMemory",
      "properties": {
        "utilizationPercentage": {
          "$ref": "DailyResourceUsageAggregationStats",
          "description": "Memory utilization percentage."
        }
      },
      "description": "Statistical aggregation of memory usage.",
      "type": "object"
    },
    "BatchDeleteAssetsRequest": {
      "properties": {
        "cascadingRules": {
          "description": "Optional. Optional cascading rules for deleting related assets.",
          "type": "array",
          "items": {
            "$ref": "CascadingRule"
          }
        },
        "allowMissing": {
          "type": "boolean",
          "description": "Optional. When this value is set to `true` the request is a no-op for non-existing assets. See https://google.aip.dev/135#delete-if-existing for additional details. Default value is `false`."
        },
        "names": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The IDs of the assets to delete. A maximum of 1000 assets can be deleted in a batch. Format: projects/{project}/locations/{location}/assets/{name}."
        }
      },
      "description": "A request to delete a list of asset.",
      "id": "BatchDeleteAssetsRequest",
      "type": "object"
    },
    "Location": {
      "type": "object",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location"
    },
    "PreferenceSet": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Name of the preference set.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the preference set was last updated.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The timestamp when the preference set was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "virtualMachinePreferences": {
          "$ref": "VirtualMachinePreferences",
          "description": "Optional. A set of preferences that applies to all virtual machines in the context."
        },
        "displayName": {
          "type": "string",
          "description": "User-friendly display name. Maximum length is 63 characters."
        },
        "description": {
          "type": "string",
          "description": "A description of the preference set."
        }
      },
      "id": "PreferenceSet",
      "description": "The preferences that apply to all assets in a given context."
    },
    "VmwareDiskConfig": {
      "description": "VMware disk config details.",
      "properties": {
        "vmdkMode": {
          "enumDescriptions": [
            "VMDK disk mode unspecified or unknown.",
            "Dependent disk mode.",
            "Independent - Persistent disk mode.",
            "Independent - Nonpersistent disk mode."
          ],
          "description": "VMDK disk mode.",
          "type": "string",
          "enum": [
            "VMDK_MODE_UNSPECIFIED",
            "DEPENDENT",
            "INDEPENDENT_PERSISTENT",
            "INDEPENDENT_NONPERSISTENT"
          ]
        },
        "backingType": {
          "enumDescriptions": [
            "Default value.",
            "Flat v1.",
            "Flat v2.",
            "Persistent memory, also known as Non-Volatile Memory (NVM).",
            "Raw Disk Memory v1.",
            "Raw Disk Memory v2.",
            "SEsparse is a snapshot format introduced in vSphere 5.5 for large disks.",
            "SEsparse v1.",
            "SEsparse v1."
          ],
          "type": "string",
          "enum": [
            "BACKING_TYPE_UNSPECIFIED",
            "BACKING_TYPE_FLAT_V1",
            "BACKING_TYPE_FLAT_V2",
            "BACKING_TYPE_PMEM",
            "BACKING_TYPE_RDM_V1",
            "BACKING_TYPE_RDM_V2",
            "BACKING_TYPE_SESPARSE",
            "BACKING_TYPE_SESPARSE_V1",
            "BACKING_TYPE_SESPARSE_V2"
          ],
          "description": "VMDK backing type."
        },
        "shared": {
          "description": "Is VMDK shared with other VMs.",
          "type": "boolean"
        },
        "rdmCompatibility": {
          "type": "string",
          "enum": [
            "RDM_COMPATIBILITY_UNSPECIFIED",
            "PHYSICAL_COMPATIBILITY",
            "VIRTUAL_COMPATIBILITY"
          ],
          "description": "RDM compatibility mode.",
          "enumDescriptions": [
            "Compatibility mode unspecified or unknown.",
            "Physical compatibility mode.",
            "Virtual compatibility mode."
          ]
        }
      },
      "type": "object",
      "id": "VmwareDiskConfig"
    },
    "ListReportsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "reports": {
          "items": {
            "$ref": "Report"
          },
          "type": "array",
          "description": "The list of Reports."
        }
      },
      "type": "object",
      "description": "Response message for listing Reports.",
      "id": "ListReportsResponse"
    },
    "AggregationFrequency": {
      "type": "object",
      "description": "Frequency distribution of all field values.",
      "id": "AggregationFrequency",
      "properties": {}
    },
    "ReportSummaryHistogramChartData": {
      "properties": {
        "buckets": {
          "description": "Buckets in the histogram. There will be `n+1` buckets matching `n` lower bounds in the request. The first bucket will be from -infinity to the first bound. Subsequent buckets will be between one bound and the next. The final bucket will be from the final bound to infinity.",
          "items": {
            "$ref": "ReportSummaryHistogramChartDataBucket"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A Histogram Chart shows a distribution of values into buckets, showing a count of values which fall into a bucket.",
      "id": "ReportSummaryHistogramChartData"
    },
    "AwsEc2PlatformDetails": {
      "description": "AWS EC2 specific details.",
      "properties": {
        "location": {
          "type": "string",
          "description": "The location of the machine in the AWS format."
        },
        "hyperthreading": {
          "type": "string",
          "enum": [
            "HYPERTHREADING_STATUS_UNSPECIFIED",
            "HYPERTHREADING_STATUS_DISABLED",
            "HYPERTHREADING_STATUS_ENABLED"
          ],
          "description": "Optional. Whether the machine is hyperthreaded.",
          "enumDescriptions": [
            "Simultaneous Multithreading status unknown.",
            "Simultaneous Multithreading is disabled or unavailable.",
            "Simultaneous Multithreading is enabled."
          ]
        },
        "machineTypeLabel": {
          "type": "string",
          "description": "AWS platform's machine type label."
        }
      },
      "id": "AwsEc2PlatformDetails",
      "type": "object"
    },
    "AssetsExportJobExportCondition": {
      "id": "AssetsExportJobExportCondition",
      "description": "Conditions for selecting assets to export.",
      "properties": {
        "filter": {
          "description": "Optional. Assets filter, supports the same syntax as asset listing.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReportAssetFramesResponse": {
      "id": "ReportAssetFramesResponse",
      "description": "A response to a call to `ReportAssetFrame`.",
      "properties": {},
      "type": "object"
    },
    "AggregationResult": {
      "properties": {
        "field": {
          "type": "string"
        },
        "sum": {
          "$ref": "AggregationResultSum"
        },
        "count": {
          "$ref": "AggregationResultCount"
        },
        "histogram": {
          "$ref": "AggregationResultHistogram"
        },
        "frequency": {
          "$ref": "AggregationResultFrequency"
        }
      },
      "description": "Message describing a result of an aggregation.",
      "id": "AggregationResult",
      "type": "object"
    },
    "Insight": {
      "description": "An insight about an asset.",
      "id": "Insight",
      "properties": {
        "migrationInsight": {
          "description": "Output only. An insight about potential migrations for an asset.",
          "readOnly": true,
          "$ref": "MigrationInsight"
        },
        "genericInsight": {
          "$ref": "GenericInsight",
          "description": "Output only. A generic insight about an asset.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "SqlServerServerFlag": {
      "type": "object",
      "description": "SQL Server server flag details.",
      "properties": {
        "value": {
          "description": "Required. The server flag value set by the user.",
          "type": "string"
        },
        "valueInUse": {
          "description": "Required. The server flag actual value. If `value_in_use` is different from `value` it means that either the configuration change was not applied or it is an expected behavior. See SQL Server documentation for more details.",
          "type": "string"
        },
        "serverFlagName": {
          "description": "Required. The server flag name.",
          "type": "string"
        }
      },
      "id": "SqlServerServerFlag"
    },
    "UploadFileInfo": {
      "properties": {
        "signedUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Upload URI for the file."
        },
        "uriExpirationTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Expiration time of the upload URI.",
          "type": "string"
        },
        "headers": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. The headers that were used to sign the URI."
        }
      },
      "type": "object",
      "id": "UploadFileInfo",
      "description": "A resource that contains a URI to which a data file can be uploaded."
    },
    "MySqlSchemaDetails": {
      "id": "MySqlSchemaDetails",
      "properties": {
        "storageEngines": {
          "type": "array",
          "description": "Optional. Mysql storage engine tables.",
          "items": {
            "$ref": "MySqlStorageEngineDetails"
          }
        }
      },
      "type": "object",
      "description": "Specific details for a Mysql database."
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "CascadeLogicalDBsRule": {
      "properties": {},
      "description": "Cascading rule for related logical DBs.",
      "id": "CascadeLogicalDBsRule",
      "type": "object"
    },
    "MySqlStorageEngineDetails": {
      "properties": {
        "engine": {
          "description": "Required. The storage engine.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified storage engine.",
            "InnoDB.",
            "MyISAM.",
            "Memory.",
            "CSV.",
            "Archive.",
            "Blackhole.",
            "NDB.",
            "Merge.",
            "Federated.",
            "Example.",
            "Other."
          ],
          "enum": [
            "ENGINE_UNSPECIFIED",
            "INNODB",
            "MYISAM",
            "MEMORY",
            "CSV",
            "ARCHIVE",
            "BLACKHOLE",
            "NDB",
            "MERGE",
            "FEDERATED",
            "EXAMPLE",
            "OTHER"
          ]
        },
        "encryptedTableCount": {
          "description": "Optional. The number of encrypted tables.",
          "format": "int32",
          "type": "integer"
        },
        "tableCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of tables."
        }
      },
      "type": "object",
      "description": "Mysql storage engine tables.",
      "id": "MySqlStorageEngineDetails"
    },
    "RunningServiceList": {
      "properties": {
        "entries": {
          "description": "Running service entries.",
          "items": {
            "$ref": "RunningService"
          },
          "type": "array"
        }
      },
      "description": "List of running guest OS services.",
      "type": "object",
      "id": "RunningServiceList"
    },
    "ImportRowErrorXlsxErrorDetails": {
      "description": "Error details for an XLSX file.",
      "properties": {
        "sheet": {
          "description": "The name of the sheet where the error was detected.",
          "type": "string"
        },
        "rowNumber": {
          "format": "int32",
          "type": "integer",
          "description": "The row number where the error was detected."
        }
      },
      "id": "ImportRowErrorXlsxErrorDetails",
      "type": "object"
    },
    "ReportSummaryGroupPreferenceSetFinding": {
      "type": "object",
      "description": "Summary Findings for a specific Group/PreferenceSet combination.",
      "properties": {
        "monthlyCostTotal": {
          "description": "Total monthly cost for this preference set.",
          "$ref": "Money"
        },
        "monthlyCostCompute": {
          "description": "Compute monthly cost for this preference set.",
          "$ref": "Money"
        },
        "monthlyCostOsLicense": {
          "description": "Licensing monthly cost for this preference set.",
          "$ref": "Money"
        },
[...]
