{
  "title": "Cloud Monitoring API",
  "revision": "20260917",
  "servicePath": "",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "rootUrl": "https://monitoring.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Monitoring",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/monitoring": {
          "description": "View and write monitoring data for all of your Google and third-party Cloud and API projects"
        },
        "https://www.googleapis.com/auth/monitoring.write": {
          "description": "Publish metric data to your Google Cloud projects"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/monitoring.read": {
          "description": "View monitoring data for all of your Google Cloud and third-party projects"
        }
      }
    }
  },
  "name": "monitoring",
  "documentationLink": "https://cloud.google.com/monitoring/api/",
  "discoveryVersion": "v1",
  "resources": {
    "operations": {
      "methods": {
        "get": {
          "flatPath": "v1/operations/{operationsId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/monitoring",
            "https://www.googleapis.com/auth/monitoring.read"
          ],
          "path": "v1/{+name}",
          "response": {
            "$ref": "Operation"
          },
          "id": "monitoring.operations.get",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "The name of the operation resource.",
              "pattern": "^operations/.*$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
        }
      }
    },
    "locations": {
      "resources": {
        "global": {
          "resources": {
            "metricsScopes": {
              "methods": {
                "listMetricsScopesByMonitoredProject": {
                  "parameterOrder": [],
                  "response": {
                    "$ref": "ListMetricsScopesByMonitoredProjectResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Returns a list of every Metrics Scope that a specific MonitoredProject has been added to. The metrics scope representing the specified monitored project will always be the first entry in the response.",
                  "id": "monitoring.locations.global.metricsScopes.listMetricsScopesByMonitoredProject",
                  "flatPath": "v1/locations/global/metricsScopes:listMetricsScopesByMonitoredProject",
                  "parameters": {
                    "monitoredResourceContainer": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The resource name of the Monitored Project being requested. Example: projects/{MONITORED_PROJECT_ID_OR_NUMBER}"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/monitoring",
                    "https://www.googleapis.com/auth/monitoring.read"
                  ],
                  "path": "v1/locations/global/metricsScopes:listMetricsScopesByMonitoredProject"
                },
                "get": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/locations/global/metricsScopes/{metricsScopesId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^locations/global/metricsScopes/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of the Metrics Scope. Example: locations/global/metricsScopes/{SCOPING_PROJECT_ID_OR_NUMBER}",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/monitoring",
                    "https://www.googleapis.com/auth/monitoring.read"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Returns a specific Metrics Scope, including the list of projects monitored by the specified Metrics Scope.",
                  "response": {
                    "$ref": "MetricsScope"
                  },
                  "httpMethod": "GET",
                  "id": "monitoring.locations.global.metricsScopes.get"
                }
              },
              "resources": {
                "projects": {
                  "methods": {
                    "create": {
                      "flatPath": "v1/locations/global/metricsScopes/{metricsScopesId}/projects",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "MonitoredProject"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+parent}/projects",
                      "id": "monitoring.locations.global.metricsScopes.projects.create",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^locations/global/metricsScopes/[^/]+$",
                          "description": "Required. The resource name of the existing Metrics Scope that will monitor this project. Example: locations/global/metricsScopes/{SCOPING_PROJECT_ID_OR_NUMBER}"
                        }
                      },
                      "description": "Adds a MonitoredProject with the given project ID to the specified Metrics Scope.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/monitoring",
                        "https://www.googleapis.com/auth/monitoring.write"
                      ]
                    },
                    "delete": {
                      "id": "monitoring.locations.global.metricsScopes.projects.delete",
                      "httpMethod": "DELETE",
                      "description": "Deletes a MonitoredProject from the specified Metrics Scope.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^locations/global/metricsScopes/[^/]+/projects/[^/]+$",
                          "description": "Required. The resource name of the MonitoredProject. Example: locations/global/metricsScopes/{SCOPING_PROJECT_ID_OR_NUMBER}/projects/{MONITORED_PROJECT_ID_OR_NUMBER}Authorization requires the following Google IAM (https://cloud.google.com/iam) permissions on both the Metrics Scope and on the MonitoredProject: monitoring.metricsScopes.link",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/monitoring",
                        "https://www.googleapis.com/auth/monitoring.write"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/locations/global/metricsScopes/{metricsScopesId}/projects/{projectsId}",
                      "path": "v1/{+name}"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "location": {
          "resources": {
            "prometheus": {
              "resources": {
                "api": {
                  "resources": {
                    "v1": {
                      "methods": {
                        "labels": {
                          "id": "monitoring.projects.location.prometheus.api.v1.labels",
                          "flatPath": "v1/projects/{projectsId}/location/{location}/prometheus/api/v1/labels",
                          "parameterOrder": [
                            "name",
                            "location"
                          ],
                          "parameters": {
                            "name": {
                              "description": "Required. The workspace on which to execute the request. It is not part of the open source API but used as a request path prefix to distinguish different virtual Prometheus instances of Google Prometheus Engine. The format is: projects/PROJECT_ID_OR_NUMBER.",
                              "pattern": "^projects/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "location": {
                              "description": "Location of the resource information. Has to be \"global\" now.",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "description": "Lists labels for metrics.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/monitoring",
                            "https://www.googleapis.com/auth/monitoring.read"
                          ],
                          "request": {
                            "$ref": "QueryLabelsRequest"
                          },
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "httpMethod": "POST",
                          "path": "v1/{+name}/location/{location}/prometheus/api/v1/labels"
                        },
                        "series": {
                          "parameters": {
                            "location": {
                              "location": "path",
                              "description": "Location of the resource information. Has to be \"global\" for now.",
                              "type": "string",
                              "required": true
                            },
                            "name": {
                              "pattern": "^projects/[^/]+$",
                              "description": "Required. The workspace on which to execute the request. It is not part of the open source API but used as a request path prefix to distinguish different virtual Prometheus instances of Google Prometheus Engine. The format is: projects/PROJECT_ID_OR_NUMBER.",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/monitoring",
                            "https://www.googleapis.com/auth/monitoring.read"
                          ],
                          "request": {
                            "$ref": "QuerySeriesRequest"
                          },
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "description": "Lists metadata for metrics.",
                          "parameterOrder": [
                            "name",
                            "location"
                          ],
                          "id": "monitoring.projects.location.prometheus.api.v1.series",
                          "flatPath": "v1/projects/{projectsId}/location/{location}/prometheus/api/v1/series",
                          "path": "v1/{+name}/location/{location}/prometheus/api/v1/series",
                          "httpMethod": "POST"
                        },
                        "query_exemplars": {
                          "description": "Lists exemplars relevant to a given PromQL query,",
                          "id": "monitoring.projects.location.prometheus.api.v1.query_exemplars",
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "parameterOrder": [
                            "name",
                            "location"
                          ],
                          "httpMethod": "POST",
                          "parameters": {
                            "location": {
                              "description": "Location of the resource information. Has to be \"global\" now.",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "name": {
                              "pattern": "^projects/[^/]+$",
                              "description": "Required. The project on which to execute the request. Data associcated with the project's workspace stored under the The format is: projects/PROJECT_ID_OR_NUMBER. Open source API but used as a request path prefix to distinguish different virtual Prometheus instances of Google Prometheus Engine.",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "request": {
                            "$ref": "QueryExemplarsRequest"
                          },
                          "path": "v1/{+name}/location/{location}/prometheus/api/v1/query_exemplars",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/monitoring",
                            "https://www.googleapis.com/auth/monitoring.read"
                          ],
                          "flatPath": "v1/projects/{projectsId}/location/{location}/prometheus/api/v1/query_exemplars"
                        },
                        "query": {
                          "description": "Evaluate a PromQL query at a single point in time.",
                          "parameterOrder": [
                            "name",
                            "location"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/monitoring",
                            "https://www.googleapis.com/auth/monitoring.read"
                          ],
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/location/{location}/prometheus/api/v1/query",
                          "path": "v1/{+name}/location/{location}/prometheus/api/v1/query",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "pattern": "^projects/[^/]+$",
                              "description": "Required. The project on which to execute the request. Data associcated with the project's workspace stored under the The format is: projects/PROJECT_ID_OR_NUMBER. Open source API but used as a request path prefix to distinguish different virtual Prometheus instances of Google Prometheus Engine.",
                              "type": "string",
                              "required": true
                            },
                            "location": {
                              "description": "Location of the resource information. Has to be \"global\" now.",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "id": "monitoring.projects.location.prometheus.api.v1.query",
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "request": {
                            "$ref": "QueryInstantRequest"
                          }
                        },
                        "query_range": {
                          "path": "v1/{+name}/location/{location}/prometheus/api/v1/query_range",
                          "response": {
                            "$ref": "HttpBody"
                          },
                          "id": "monitoring.projects.location.prometheus.api.v1.query_range",
                          "description": "Evaluate a PromQL query with start, end time range.",
                          "httpMethod": "POST",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "description": "Required. The project on which to execute the request. Data associcated with the project's workspace stored under the The format is: projects/PROJECT_ID_OR_NUMBER. Open source API but used as a request path prefix to distinguish different virtual Prometheus instances of Google Prometheus Engine.",
                              "required": true,
                              "pattern": "^projects/[^/]+$"
                            },
                            "location": {
                              "description": "Location of the resource information. Has to be \"global\" now.",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "request": {
                            "$ref": "QueryRangeRequest"
                          },
                          "parameterOrder": [
                            "name",
                            "location"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/monitoring",
                            "https://www.googleapis.com/auth/monitoring.read"
                          ],
                          "flatPath": "v1/projects/{projectsId}/location/{location}/prometheus/api/v1/query_range"
                        }
                      },
                      "resources": {
                        "metadata": {
                          "methods": {
                            "list": {
                              "parameterOrder": [
                                "name",
                                "location"
                              ],
                              "response": {
                                "$ref": "HttpBody"
                              },
                              "id": "monitoring.projects.location.prometheus.api.v1.metadata.list",
                              "httpMethod": "GET",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.read"
                              ],
                              "description": "Lists metadata for metrics.",
                              "flatPath": "v1/projects/{projectsId}/location/{location}/prometheus/api/v1/metadata",
                              "parameters": {
                                "location": {
                                  "required": true,
                                  "location": "path",
                                  "description": "Location of the resource information. Has to be \"global\" for now.",
                                  "type": "string"
                                },
                                "limit": {
                                  "format": "int64",
                                  "type": "string",
                                  "description": "Maximum number of metrics to return.",
                                  "location": "query"
                                },
                                "name": {
                                  "type": "string",
                                  "location": "path",
                                  "description": "Required. The workspace on which to execute the request. It is not part of the open source API but used as a request path prefix to distinguish different virtual Prometheus instances of Google Prometheus Engine. The format is: projects/PROJECT_ID_OR_NUMBER.",
                                  "required": true,
                                  "pattern": "^projects/[^/]+$"
                                },
                                "metric": {
                                  "description": "The metric name for which to query metadata. If unset, all metric metadata is returned.",
                                  "type": "string",
                                  "location": "query"
                                }
                              },
                              "path": "v1/{+name}/location/{location}/prometheus/api/v1/metadata"
                            }
                          }
                        },
                        "label": {
                          "methods": {
                            "values": {
                              "parameterOrder": [
                                "name",
                                "location",
                                "label"
                              ],
                              "httpMethod": "GET",
                              "id": "monitoring.projects.location.prometheus.api.v1.label.values",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform",
                                "https://www.googleapis.com/auth/monitoring",
                                "https://www.googleapis.com/auth/monitoring.read"
                              ],
                              "flatPath": "v1/projects/{projectsId}/location/{location}/prometheus/api/v1/label/{label}/values",
                              "description": "Lists possible values for a given label name.",
                              "path": "v1/{+name}/location/{location}/prometheus/api/v1/label/{label}/values",
                              "parameters": {
                                "match": {
                                  "type": "string",
                                  "description": "A list of matchers encoded in the Prometheus label matcher format to constrain the values to series that satisfy them.",
                                  "location": "query"
                                },
                                "label": {
                                  "type": "string",
                                  "location": "path",
                                  "required": true,
                                  "description": "The label name for which values are queried."
                                },
                                "name": {
                                  "description": "Required. The workspace on which to execute the request. It is not part of the open source API but used as a request path prefix to distinguish different virtual Prometheus instances of Google Prometheus Engine. The format is: projects/PROJECT_ID_OR_NUMBER.",
                                  "type": "string",
                                  "location": "path",
                                  "required": true,
                                  "pattern": "^projects/[^/]+$"
                                },
                                "end": {
                                  "type": "string",
                                  "location": "query",
                                  "description": "The end time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp."
                                },
                                "location": {
                                  "description": "Location of the resource information. Has to be \"global\" now.",
                                  "required": true,
                                  "location": "path",
                                  "type": "string"
                                },
                                "start": {
                                  "location": "query",
                                  "description": "The start time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp.",
                                  "type": "string"
                                }
                              },
                              "response": {
                                "$ref": "HttpBody"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "dashboards": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring",
                "https://www.googleapis.com/auth/monitoring.write"
              ],
              "path": "v1/{+name}",
              "description": "Deletes an existing custom dashboard.This method requires the monitoring.dashboards.delete permission on the specified dashboard. For more information, see Cloud Identity and Access Management (https://cloud.google.com/iam).",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/dashboards/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource name of the Dashboard. The format is: projects/[PROJECT_ID_OR_NUMBER]/dashboards/[DASHBOARD_ID] ",
                  "type": "string"
                }
              },
              "id": "monitoring.projects.dashboards.delete",
              "flatPath": "v1/projects/{projectsId}/dashboards/{dashboardsId}"
            },
            "patch": {
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring",
                "https://www.googleapis.com/auth/monitoring.write"
              ],
              "flatPath": "v1/projects/{projectsId}/dashboards/{dashboardsId}",
              "description": "Replaces an existing custom dashboard with a new definition.This method requires the monitoring.dashboards.update permission on the specified dashboard. For more information, see Cloud Identity and Access Management (https://cloud.google.com/iam).",
              "request": {
                "$ref": "Dashboard"
              },
              "response": {
                "$ref": "Dashboard"
              },
              "id": "monitoring.projects.dashboards.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Identifier. The resource name of the dashboard.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/dashboards/[^/]+$",
                  "location": "path"
                },
                "validateOnly": {
                  "location": "query",
                  "description": "If set, validate the request and preview the review, but do not actually save it.",
                  "type": "boolean"
                }
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "A positive number that is the maximum number of results to return. If unspecified, a default of 1000 is used."
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. If this field is not empty then it must contain the nextPageToken value returned by a previous call to this method. Using this field causes the method to return additional results from the previous method call.",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. The scope of the dashboards to list. The format is: projects/[PROJECT_ID_OR_NUMBER] ",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring",
                "https://www.googleapis.com/auth/monitoring.read"
              ],
              "path": "v1/{+parent}/dashboards",
              "response": {
                "$ref": "ListDashboardsResponse"
              },
              "id": "monitoring.projects.dashboards.list",
              "description": "Lists the existing dashboards.This method requires the monitoring.dashboards.list permission on the specified project. For more information, see Cloud Identity and Access Management (https://cloud.google.com/iam).",
              "flatPath": "v1/projects/{projectsId}/dashboards",
              "httpMethod": "GET"
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "Dashboard"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring",
                "https://www.googleapis.com/auth/monitoring.read"
              ],
              "flatPath": "v1/projects/{projectsId}/dashboards/{dashboardsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Fetches a specific dashboard.This method requires the monitoring.dashboards.get permission on the specified dashboard. For more information, see Cloud Identity and Access Management (https://cloud.google.com/iam).",
              "id": "monitoring.projects.dashboards.get",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/dashboards/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name of the Dashboard. The format is one of: dashboards/[DASHBOARD_ID] (for system dashboards) projects/[PROJECT_ID_OR_NUMBER]/dashboards/[DASHBOARD_ID] (for custom dashboards).",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "create": {
              "request": {
                "$ref": "Dashboard"
              },
              "flatPath": "v1/projects/{projectsId}/dashboards",
              "id": "monitoring.projects.dashboards.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/monitoring",
                "https://www.googleapis.com/auth/monitoring.write"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The project on which to execute the request. The format is: projects/[PROJECT_ID_OR_NUMBER] The [PROJECT_ID_OR_NUMBER] must match the dashboard resource name.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "validateOnly": {
                  "location": "query",
                  "description": "If set, validate the request and preview the review, but do not actually save it.",
                  "type": "boolean"
                }
              },
              "description": "Creates a new custom dashboard. For examples on how you can use this API to create dashboards, see Managing dashboards by API (https://cloud.google.com/monitoring/dashboards/api-dashboard). This method requires the monitoring.dashboards.create permission on the specified project. For more information about permissions, see Cloud Identity and Access Management (https://cloud.google.com/iam).",
              "response": {
                "$ref": "Dashboard"
              },
              "path": "v1/{+parent}/dashboards"
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    }
  },
  "schemas": {
    "Text": {
      "properties": {
        "content": {
          "type": "string",
          "description": "The text content to be displayed."
        },
        "style": {
          "description": "How the text is styled",
          "$ref": "TextStyle"
        },
        "format": {
          "type": "string",
          "enumDescriptions": [
            "Format is unspecified. Defaults to MARKDOWN.",
            "The text contains Markdown formatting.",
            "The text contains no special formatting."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "MARKDOWN",
            "RAW"
          ],
          "description": "How the text content is formatted."
        }
      },
      "id": "Text",
      "description": "A widget that displays textual content.",
      "type": "object"
    },
    "TimeSeriesQuery": {
      "id": "TimeSeriesQuery",
      "type": "object",
      "properties": {
        "traceQuery": {
          "$ref": "TraceQuery",
          "description": "Optional. Preview: Query for traces. This is a preview feature and may be subject to change before final release."
        },
        "unitOverride": {
          "description": "The unit of data contained in fetched time series. If non-empty, this unit will override any unit that accompanies fetched data. The format is the same as the unit (https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.metricDescriptors) field in MetricDescriptor.",
          "type": "string"
        },
        "opsAnalyticsQuery": {
          "$ref": "OpsAnalyticsQuery",
          "description": "Preview: A query used to fetch a time series, category series, or numeric series with SQL. This is a preview feature and may be subject to change before final release."
        },
        "prometheusQuery": {
          "type": "string",
          "description": "A query used to fetch time series with PromQL."
        },
        "outputFullDuration": {
          "description": "Optional. If set, Cloud Monitoring will treat the full query duration as the alignment period so that there will be only 1 output value.*Note: This could override the configured alignment period except for the cases where a series of data points are expected, like - XyChart - Scorecard's spark chart",
          "type": "boolean"
        },
        "timeSeriesQueryLanguage": {
          "type": "string",
          "description": "A query used to fetch time series with MQL."
        },
        "timeSeriesFilterRatio": {
          "description": "Parameters to fetch a ratio between two time series filters.",
          "$ref": "TimeSeriesFilterRatio"
        },
        "timeSeriesFilter": {
          "$ref": "TimeSeriesFilter",
          "description": "Filter parameters to fetch time series."
        }
      },
      "description": "TimeSeriesQuery collects the set of supported methods for querying time series data from the Stackdriver metrics API."
    },
    "FilterControl": {
      "description": "A widget that displays an input field to change the value of a template variable.",
      "type": "object",
      "properties": {
        "templateVariable": {
          "type": "string",
          "description": "Name of the template variable the widget affects."
        }
      },
      "id": "FilterControl"
    },
    "OpsAnalyticsQuery": {
      "description": "Preview: A query that produces an aggregated response and supporting data. This is a preview feature and may be subject to change before final release.",
      "type": "object",
      "properties": {
        "sql": {
          "type": "string",
          "description": "A SQL query to fetch time series, category series, or numeric series data."
        }
      },
      "id": "OpsAnalyticsQuery"
    },
    "ListDashboardsResponse": {
      "type": "object",
      "id": "ListDashboardsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as page_token in the next call to this method."
        },
        "dashboards": {
          "description": "The list of requested dashboards.",
          "items": {
            "$ref": "Dashboard"
          },
          "type": "array"
        }
      },
      "description": "The ListDashboards request."
    },
    "Field": {
      "description": "A single field of a message type.New usages of this message as an alternative to FieldDescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information.",
      "properties": {
        "jsonName": {
          "type": "string",
          "description": "The field JSON name."
        },
        "kind": {
          "description": "The field type.",
          "type": "string",
          "enum": [
            "TYPE_UNKNOWN",
            "TYPE_DOUBLE",
            "TYPE_FLOAT",
            "TYPE_INT64",
            "TYPE_UINT64",
            "TYPE_INT32",
            "TYPE_FIXED64",
            "TYPE_FIXED32",
            "TYPE_BOOL",
            "TYPE_STRING",
            "TYPE_GROUP",
            "TYPE_MESSAGE",
            "TYPE_BYTES",
            "TYPE_UINT32",
            "TYPE_ENUM",
            "TYPE_SFIXED32",
            "TYPE_SFIXED64",
            "TYPE_SINT32",
            "TYPE_SINT64"
          ],
          "enumDescriptions": [
            "Field type unknown.",
            "Field type double.",
            "Field type float.",
            "Field type int64.",
            "Field type uint64.",
            "Field type int32.",
            "Field type fixed64.",
            "Field type fixed32.",
            "Field type bool.",
            "Field type string.",
            "Field type group. Proto2 syntax only, and deprecated.",
            "Field type message.",
            "Field type bytes.",
            "Field type uint32.",
            "Field type enum.",
            "Field type sfixed32.",
            "Field type sfixed64.",
            "Field type sint32.",
            "Field type sint64."
          ]
        },
        "typeUrl": {
          "type": "string",
          "description": "The field type URL, without the scheme, for message or enumeration types. Example: \"type.googleapis.com/google.protobuf.Timestamp\"."
        },
        "cardinality": {
          "enumDescriptions": [
            "For fields with unknown cardinality.",
            "For optional fields.",
            "For required fields. Proto2 syntax only.",
            "For repeated fields."
          ],
          "type": "string",
          "enum": [
            "CARDINALITY_UNKNOWN",
            "CARDINALITY_OPTIONAL",
            "CARDINALITY_REQUIRED",
            "CARDINALITY_REPEATED"
          ],
          "description": "The field cardinality."
        },
        "number": {
          "type": "integer",
          "description": "The field number.",
          "format": "int32"
        },
        "packed": {
          "description": "Whether to use alternative packed wire representation.",
          "type": "boolean"
        },
        "oneofIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The index of the field type in Type.oneofs, for message or enumeration types. The first type has index 1; zero means the type is not in the list."
        },
        "options": {
          "items": {
            "$ref": "Option"
          },
          "description": "The protocol buffer options.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The field name."
        },
        "defaultValue": {
          "description": "The string value of the default value of this field. Proto2 syntax only.",
          "type": "string"
        }
      },
      "id": "Field",
      "type": "object"
    },
    "QuerySeriesRequest": {
      "properties": {
        "start": {
          "type": "string",
          "description": "The start time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp."
        },
        "end": {
          "description": "The end time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp.",
          "type": "string"
        }
      },
      "description": "QuerySeries holds all parameters of the Prometheus upstream API for querying series.",
      "type": "object",
      "id": "QuerySeriesRequest"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Invalid.",
            "Request has been received.",
            "Request is actively being processed.",
            "The batch processing is done.",
            "The batch processing was cancelled."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATED",
            "RUNNING",
            "DONE",
            "CANCELLED"
          ],
          "description": "Current state of the batch operation."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the batch request was received."
        },
        "updateTime": {
          "description": "The time when the operation result was last updated.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Contains metadata for longrunning operation for the edit Metrics Scope endpoints."
    },
    "Dimension": {
      "id": "Dimension",
      "type": "object",
      "properties": {
        "column": {
          "description": "Required. For widgets that use SQL queries, set the value to the name of the column in the results table whose data is charted. For a histogram that uses a time series query, set the value of this field to metric_value.",
          "type": "string"
        },
        "columnType": {
          "type": "string",
          "description": "Optional. The type of the dimension column. This is relevant only if one of the bin_size fields is set. If it is empty, the type TIMESTAMP or INT64 will be assumed based on which bin_size field is set. If populated, this should be set to one of the following types: DATE, TIME, DATETIME, TIMESTAMP, BIGNUMERIC, INT64, NUMERIC, FLOAT64."
        },
        "numericBinSize": {
          "format": "int32",
          "type": "integer",
          "description": "numeric_bin_size is used when the column type used for a dimension is numeric or string. If the column field is set to metric_value, then numericBinSize overrides maxBinCount."
        },
        "xMin": {
          "format": "double",
          "description": "The minimum value for the x-axis.",
          "type": "number"
        },
        "xMax": {
          "type": "number",
          "description": "The maximum value for the x-axis.",
          "format": "double"
        },
        "sortColumn": {
          "type": "string",
          "description": "The column name to sort on for binning. This column can be the same column as this dimension or any other column used as a measure in the results. If sort_order is set to NONE, then this value is not used."
        },
        "floatBinSize": {
          "format": "double",
          "description": "Optional. float_bin_size is used when the column type used for a dimension is a floating point numeric column.",
          "type": "number"
        },
        "timeBinSize": {
          "description": "time_bin_size is used when the data type of the specified dimension is a time type and the bin size is determined by a time duration. If column_type is DATE, this must be a whole value multiple of 1 day. If column_type is TIME, this must be less than or equal to 24 hours.",
          "type": "string",
          "format": "google-duration"
        },
        "maxBinCount": {
          "type": "integer",
          "description": "For widgets that use SQL queries, the limit to the number of bins to generate. When 0 is specified, the maximum count is not enforced. For a histogram that uses a time series query, the exact number of bins to generate. If not specified or the value is 0, then the histogram determines the number of bins to use.",
          "format": "int32"
        },
        "sortOrder": {
          "enumDescriptions": [
            "An unspecified sort order. This option is invalid when sorting is required.",
            "No sorting is applied.",
            "The lowest-valued entries are selected first.",
            "The highest-valued entries are selected first."
          ],
          "enum": [
            "SORT_ORDER_UNSPECIFIED",
            "SORT_ORDER_NONE",
            "SORT_ORDER_ASCENDING",
            "SORT_ORDER_DESCENDING"
          ],
          "type": "string",
          "description": "The sort order applied to the sort column."
        }
      },
      "description": "A chart dimension. Dimensions are a structured label, class, or category for a set of measurements in your data."
    },
    "Column": {
      "properties": {
        "widgets": {
          "description": "The display widgets arranged vertically in this column.",
          "items": {
            "$ref": "Widget"
          },
          "type": "array"
        },
        "weight": {
          "type": "string",
          "format": "int64",
          "description": "The relative weight of this column. The column weight is used to adjust the width of columns on the screen (relative to peers). Greater the weight, greater the width of the column on the screen. If omitted, a value of 1 is used while rendering."
        }
      },
      "description": "Defines the layout properties and content for a column.",
      "id": "Column",
      "type": "object"
    },
    "SpanAttributeFilter": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key of the attribute"
        },
        "value": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of attribute values for given key. Multiple values will be OR'd together."
        }
      },
      "description": "Span attribute key and list of values to be used for filtering.",
      "id": "SpanAttributeFilter"
    },
    "DataSet": {
      "description": "Groups a time series query definition with charting options.",
      "properties": {
        "timeSeriesQuery": {
          "description": "Required. Fields for querying time series data from the Stackdriver metrics API.",
          "$ref": "TimeSeriesQuery"
        },
        "plotType": {
          "type": "string",
          "enum": [
            "PLOT_TYPE_UNSPECIFIED",
            "LINE",
            "STACKED_AREA",
            "STACKED_BAR",
            "HEATMAP"
          ],
          "enumDescriptions": [
            "Plot type is unspecified. The view will default to LINE.",
            "The data is plotted as a set of lines (one line per series).",
            "The data is plotted as a set of filled areas (one area per series), with the areas stacked vertically (the base of each area is the top of its predecessor, and the base of the first area is the x-axis). Since the areas do not overlap, each is filled with a different opaque color.",
            "The data is plotted as a set of rectangular boxes (one box per series), with the boxes stacked vertically (the base of each box is the top of its predecessor, and the base of the first box is the x-axis). Since the boxes do not overlap, each is filled with a different opaque color.",
            "The data is plotted as a heatmap. The series being plotted must have a DISTRIBUTION value type. The value of each bucket in the distribution is displayed as a color. This type is not currently available in the Stackdriver Monitoring application."
          ],
          "description": "How this data should be plotted on the chart."
        },
        "legendTemplate": {
          "description": "A template string for naming TimeSeries in the resulting data set. This should be a string with interpolations of the form ${label_name}, which will resolve to the label's value.",
          "type": "string"
        },
        "breakdowns": {
          "type": "array",
          "items": {
            "$ref": "Breakdown"
          },
          "description": "Optional. The collection of breakdowns to be applied to the dataset."
        },
        "sort": {
          "items": {
            "$ref": "ColumnSortingOptions"
          },
          "type": "array",
          "description": "Optional. A collection of sort options, affects the order of the data and legend."
        },
        "measures": {
          "type": "array",
          "items": {
            "$ref": "Measure"
          },
          "description": "Optional. A collection of measures."
        },
        "dimensions": {
          "items": {
            "$ref": "Dimension"
          },
          "description": "Optional. A collection of dimension columns.",
          "type": "array"
        },
        "minAlignmentPeriod": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The lower bound on data point frequency for this data set, implemented by specifying the minimum alignment period to use in a time series query. For example, if the data is published once every 10 minutes, the min_alignment_period should be at least 10 minutes. It would not make sense to fetch and align data at one minute intervals.For PromQL queries, this field is used to set the minimum interval for the query step, controlling data granularity. Larger values can improve performance on long time ranges. See Querying Basics and Range Queries for more details on the PromQL step."
        },
        "targetAxis": {
          "description": "Optional. The target axis to use for plotting the metric.",
          "enumDescriptions": [
            "The target axis was not specified. Defaults to Y1.",
            "The y_axis (the right axis of chart).",
            "The y2_axis (the left axis of chart)."
          ],
          "type": "string",
          "enum": [
            "TARGET_AXIS_UNSPECIFIED",
            "Y1",
            "Y2"
          ]
        }
      },
      "type": "object",
      "id": "DataSet"
    },
    "Axis": {
      "description": "A chart axis.",
      "id": "Axis",
      "properties": {
        "label": {
          "description": "The label of the axis.",
          "type": "string"
        },
        "scale": {
          "description": "The axis scale. By default, a linear scale is used.",
          "enumDescriptions": [
            "Scale is unspecified. The view will default to LINEAR.",
            "Linear scale.",
            "Logarithmic scale (base 10)."
          ],
          "enum": [
            "SCALE_UNSPECIFIED",
            "LINEAR",
            "LOG10"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "ErrorReportingPanel": {
      "properties": {
        "services": {
          "description": "An identifier of the service, such as the name of the executable, job, or Google App Engine service name. This field is expected to have a low number of values that are relatively stable over time, as opposed to version, which can be changed whenever new code is deployed.Contains the service name for error reports extracted from Google App Engine logs or default if the App Engine default service is used.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "versions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Represents the source code version that the developer provided, which could represent a version label or a Git SHA-1 hash, for example. For App Engine standard environment, the version is set to the version of the app."
        },
        "projectNames": {
          "type": "array",
          "description": "The resource name of the Google Cloud Platform project. Written as projects/{projectID} or projects/{projectNumber}, where {projectID} and {projectNumber} can be found in the Google Cloud console (https://support.google.com/cloud/answer/6158840).Examples: projects/my-project-123, projects/5551234.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "A widget that displays a list of error groups.",
      "id": "ErrorReportingPanel"
    },
    "ColumnLayout": {
      "id": "ColumnLayout",
      "description": "A simplified layout that divides the available space into vertical columns and arranges a set of widgets vertically in each column.",
      "type": "object",
      "properties": {
        "columns": {
          "items": {
            "$ref": "Column"
          },
          "description": "The columns of content to display.",
          "type": "array"
        }
      }
    },
    "CollapsibleGroup": {
      "properties": {
        "collapsed": {
          "description": "The collapsed state of the widget on first page load.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "CollapsibleGroup",
      "description": "A widget that groups the other widgets. All widgets that are within the area spanned by the grouping widget are considered member widgets."
    },
    "Breakdown": {
      "id": "Breakdown",
      "type": "object",
      "properties": {
        "sortOrder": {
          "type": "string",
          "enum": [
            "SORT_ORDER_UNSPECIFIED",
            "SORT_ORDER_NONE",
            "SORT_ORDER_ASCENDING",
            "SORT_ORDER_DESCENDING"
          ],
          "description": "Required. The sort order is applied to the values of the breakdown column.",
          "enumDescriptions": [
            "An unspecified sort order. This option is invalid when sorting is required.",
            "No sorting is applied.",
            "The lowest-valued entries are selected first.",
            "The highest-valued entries are selected first."
          ]
        },
        "limit": {
          "format": "int32",
          "description": "Required. A limit to the number of breakdowns. If set to zero then all possible breakdowns are applied. The list of breakdowns is dependent on the value of the sort_order field.",
          "type": "integer"
        },
        "column": {
          "type": "string",
          "description": "Required. The name of the column in the dataset containing the breakdown values."
        },
        "aggregationFunction": {
          "$ref": "AggregationFunction",
          "description": "Required. The Aggregation function is applied across all data in each breakdown created."
        }
      },
      "description": "Preview: A breakdown is an aggregation applied to the measures over a specified column. A breakdown can result in multiple series across a category for the provided measure. This is a preview feature and may be subject to change before final release."
    },
    "QueryInstantRequest": {
      "description": "QueryInstantRequest holds all parameters of the Prometheus upstream instant query API plus GCM specific parameters.",
      "id": "QueryInstantRequest",
      "type": "object",
      "properties": {
        "query": {
          "type": "string",
          "description": "A PromQL query string. Query language documentation: https://prometheus.io/docs/prometheus/latest/querying/basics/."
        },
        "timeout": {
          "description": "An upper bound timeout for the query. Either a Prometheus duration string (https://prometheus.io/docs/prometheus/latest/querying/basics/#time-durations) or floating point seconds. This non-standard encoding must be used for compatibility with the open source API. Clients may still implement timeouts at the connection level while ignoring this field.",
          "type": "string"
        },
        "time": {
          "description": "The single point in time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp.",
          "type": "string"
        }
      }
    },
    "AlertChart": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The resource name of the alert policy. The format is: projects/[PROJECT_ID_OR_NUMBER]/alertPolicies/[ALERT_POLICY_ID] ",
          "type": "string"
        }
      },
      "description": "A chart that displays alert policy data.",
      "id": "AlertChart"
    },
    "TableDisplayOptions": {
      "id": "TableDisplayOptions",
      "type": "object",
      "properties": {
        "shownColumns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. This field is unused and has been replaced by TimeSeriesTable.column_settings",
          "deprecated": true
        }
      },
      "description": "Table display options that can be reused."
    },
    "Tile": {
      "properties": {
        "widget": {
          "description": "The informational widget contained in the tile. For example an XyChart.",
          "$ref": "Widget"
        },
        "width": {
          "description": "The width of the tile, measured in grid blocks. Tiles must have a minimum width of 1.",
          "format": "int32",
          "type": "integer"
        },
        "height": {
          "format": "int32",
          "type": "integer",
          "description": "The height of the tile, measured in grid blocks. Tiles must have a minimum height of 1."
        },
        "xPos": {
          "format": "int32",
          "type": "integer",
          "description": "The zero-indexed position of the tile in grid blocks relative to the left edge of the grid. Tiles must be contained within the specified number of columns. x_pos cannot be negative."
        },
        "yPos": {
          "type": "integer",
          "description": "The zero-indexed position of the tile in grid blocks relative to the top edge of the grid. y_pos cannot be negative.",
          "format": "int32"
        }
      },
      "id": "Tile",
      "description": "A single tile in the mosaic. The placement and size of the tile are configurable.",
      "type": "object"
    },
    "Interval": {
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Optional. Exclusive end of the interval.If specified, a Timestamp matching this interval will have to be before the end.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Optional. Inclusive start of the interval.If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Interval",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive).The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time."
    },
    "TimeSeriesTable": {
      "id": "TimeSeriesTable",
      "properties": {
        "metricVisualization": {
          "enum": [
            "METRIC_VISUALIZATION_UNSPECIFIED",
            "NUMBER",
            "BAR"
          ],
          "enumDescriptions": [
            "Unspecified state",
            "Default text rendering",
            "Horizontal bar rendering"
          ],
          "description": "Optional. Store rendering strategy",
          "type": "string"
        },
        "dataSets": {
          "items": {
            "$ref": "TableDataSet"
          },
          "description": "Required. The data displayed in this table.",
          "type": "array"
        },
        "columnSettings": {
          "items": {
            "$ref": "ColumnSettings"
          },
          "type": "array",
          "description": "Optional. The list of the persistent column settings for the table."
        }
      },
      "type": "object",
      "description": "A table that displays time series data."
    },
    "EventAnnotation": {
      "description": "Annotation configuration for one event type on a dashboard",
      "properties": {
        "displayName": {
          "description": "Solely for UI display. Should not be used programmatically.",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "string filtering the events - event dependant. Example values: \"resource.labels.pod_name = 'pod-1'\" \"protoPayload.authenticationInfo.principalEmail='user@example.com'\" "
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether or not to show the events on the dashboard by default"
        },
        "resourceNames": {
          "type": "array",
          "description": "Per annotation level override for the names of logging resources to search for events. Currently only projects are supported. If both this field and the per annotation field is empty, it will default to the host project. Limit: 50 projects. For example: “projects/another-project-id” ",
          "items": {
            "type": "string"
          }
        },
        "eventType": {
          "type": "string",
          "description": "The type of event to display.",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "GKE_WORKLOAD_DEPLOYMENT",
            "GKE_POD_CRASH",
            "GKE_POD_UNSCHEDULABLE",
            "GKE_CONTAINER_CREATION_FAILED",
            "GKE_CLUSTER_CREATE_DELETE",
            "GKE_CLUSTER_UPDATE",
            "GKE_NODE_POOL_UPDATE",
            "GKE_CLUSTER_AUTOSCALER",
            "GKE_POD_AUTOSCALER",
            "VM_TERMINATION",
            "VM_GUEST_OS_ERROR",
            "VM_START_FAILED",
            "MIG_UPDATE",
            "MIG_AUTOSCALER",
            "CLOUD_RUN_DEPLOYMENT",
            "CLOUD_SQL_FAILOVER",
            "CLOUD_SQL_START_STOP",
            "CLOUD_SQL_STORAGE",
            "UPTIME_CHECK_FAILURE",
            "CLOUD_ALERTING_ALERT",
            "SERVICE_HEALTH_INCIDENT",
            "SAP_BACKINT",
            "SAP_AVAILABILITY",
            "SAP_OPERATIONS",
            "INTERCONNECT_MAINTENANCE_STARTED",
            "INTERCONNECT_MAINTENANCE_COMPLETED",
            "VPN_TRAFFIC_SELECTOR_NARROWING",
            "VPN_MAINTENANCE"
          ],
          "enumDescriptions": [
            "No event type specified.",
            "Patch/update of GKE workload.",
            "Crash events for a GKE Pod.",
            "Scheduling failures for GKE Pods.",
            "Failure to create a GKE container.",
            "Create/delete of a GKE cluster.",
            "Update of a GKE cluster.",
            "Update of a GKE node pool.",
            "GKE cluster autoscaler event.",
            "GKE pod autoscaler event.",
            "Termination of a virtual machine.",
            "Guest OS error on a virtual machine.",
            "Start failure on a virtual machine.",
            "Update of a managed instance group.",
            "Autoscaler event for a managed instance group.",
            "New deployment of a Cloud Run service.",
            "Failover of a Cloud SQL instance.",
            "Start/stop of a Cloud SQL instance.",
            "Storage event for a Cloud SQL instance.",
            "Failure of a Cloud Monitoring uptime check.",
            "Alerts from Cloud Alerting",
            "Incidents from Service Health",
            "Agent for SAP Backint related events.",
            "Agent for SAP availability related events.",
            "Agent for SAP operations related events.",
            "Interconnect maintenance started event.",
            "Interconnect maintenance completed event.",
            "VPN traffic selector narrowing event.",
            "VPN maintenance event."
          ]
        }
      },
      "type": "object",
      "id": "EventAnnotation"
    },
    "TimeRange": {
      "properties": {
        "absoluteWindow": {
          "$ref": "Interval",
          "description": "Optional. Represents a time range with absolute start and end times. The start time is inclusive, and the end time is exclusive."
        },
        "relativeDuration": {
          "format": "google-duration",
          "description": "Optional. Specifies the duration used to shift the data relative to current time as the end time. The duration must be positive.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a time range.",
      "id": "TimeRange"
    },
    "ListMetricsScopesByMonitoredProjectResponse": {
      "description": "Response for the ListMetricsScopesByMonitoredProject method.",
      "properties": {
        "metricsScopes": {
          "description": "A set of all metrics scopes that the specified monitored project has been added to.",
          "type": "array",
          "items": {
            "$ref": "MetricsScope"
          }
        }
      },
      "type": "object",
      "id": "ListMetricsScopesByMonitoredProjectResponse"
    },
    "IncidentList": {
      "properties": {
        "policyNames": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of alert policy names to filter the incident list by. Don't include the project ID prefix in the policy name. For example, use alertPolicies/utilization.",
          "type": "array"
        },
        "monitoredResources": {
          "type": "array",
          "items": {
            "$ref": "MonitoredResource"
          },
          "description": "Optional. The monitored resource for which incidents are listed. The resource doesn't need to be fully specified. That is, you can specify the resource type but not the values of the resource labels. The resource type and labels are used for filtering."
        }
      },
      "description": "A widget that displays a list of incidents",
      "type": "object",
      "id": "IncidentList"
    },
    "TraceQuery": {
      "description": "LINT.IfChange Preview: Query for traces. This is a preview feature and may be subject to change before final release.",
      "properties": {
        "spanDataValue": {
          "enum": [
            "SPAN_DATA_VALUE_UNSPECIFIED",
            "SPAN_COUNT",
            "SPAN_DURATION",
            "SPAN_DURATION_PERCENTILES"
          ],
          "type": "string",
          "description": "The type of span data value to be displayed on the chart. Required.",
          "enumDescriptions": [
            "We are required to have an UNSPECIFIED value for enums. This should not be used in practice.",
            "Span count data value",
            "Span duration data value",
            "Span duration percentiles data value"
          ]
        },
        "resourceContainer": {
          "type": "string",
          "description": "Optional. The resource name of the project or Trace scope to fetch data from. If empty, the widget will default to the project's default Trace scope. If scope cannot be determined, then we fallback to the current project. Optional."
        },
        "spanFilters": {
          "$ref": "SpanFilters",
          "description": "First version of span filtering that we will support. Required."
        }
      },
      "type": "object",
      "id": "TraceQuery"
    },
    "RowLayout": {
      "type": "object",
      "description": "A simplified layout that divides the available space into rows and arranges a set of widgets horizontally in each row.",
      "properties": {
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "type": "array",
          "description": "The rows of content to display."
        }
      },
      "id": "RowLayout"
    },
    "MetricsScope": {
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when this Metrics Scope was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time when this Metrics Scope record was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the Monitoring Metrics Scope. On input, the resource name can be specified with the scoping project ID or number. On output, the resource name is specified with the scoping project number. Example: locations/global/metricsScopes/{SCOPING_PROJECT_ID_OR_NUMBER}"
        },
        "monitoredProjects": {
          "type": "array",
          "items": {
            "$ref": "MonitoredProject"
          },
          "readOnly": true,
          "description": "Output only. The list of projects monitored by this Metrics Scope."
        }
      },
      "type": "object",
      "description": "Represents a Metrics Scope (https://cloud.google.com/monitoring/settings#concept-scope) in Cloud Monitoring, which specifies one or more Google projects and zero or more AWS accounts to monitor together.",
      "id": "MetricsScope"
    },
    "SectionHeader": {
      "id": "SectionHeader",
      "type": "object",
      "properties": {
        "dividerBelow": {
          "description": "Whether to insert a divider below the section in the table of contents",
          "type": "boolean"
        },
        "subtitle": {
          "description": "The subtitle of the section",
          "type": "string"
        }
      },
      "description": "A widget that defines a new section header. Sections populate a table of contents and allow easier navigation of long-form content."
    },
    "QueryLabelsRequest": {
      "id": "QueryLabelsRequest",
      "description": "QueryLabelsRequest holds all parameters of the Prometheus upstream API for returning a list of label names.",
      "type": "object",
      "properties": {
        "match": {
          "description": "A list of matchers encoded in the Prometheus label matcher format to constrain the values to series that satisfy them.",
          "type": "string"
        },
        "end": {
          "type": "string",
          "description": "The end time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp."
        },
        "start": {
          "description": "The start time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp.",
          "type": "string"
        }
      }
    },
    "MonitoredResource": {
      "description": "An object representing a resource that can be used for monitoring, logging, billing, or other purposes. Examples include virtual machine instances, databases, and storage devices such as disks. The type field identifies a MonitoredResourceDescriptor object that describes the resource's schema. Information in the labels field identifies the actual resource and its attributes according to the schema. For example, a particular Compute Engine VM instance could be represented by the following object, because the MonitoredResourceDescriptor for \"gce_instance\" has labels \"project_id\", \"instance_id\" and \"zone\": { \"type\": \"gce_instance\", \"labels\": { \"project_id\": \"my-project\", \"instance_id\": \"12345678901234\", \"zone\": \"us-central1-a\" }} ",
      "properties": {
        "type": {
          "type": "string",
          "description": "Required. The monitored resource type. This field must match the type field of a MonitoredResourceDescriptor object. For example, the type of a Compute Engine VM instance is gce_instance. For a list of types, see Monitoring resource types (https://cloud.google.com/monitoring/api/resources) and Logging resource types (https://cloud.google.com/logging/docs/api/v2/resource-list)."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. Values for all of the labels listed in the associated monitored resource descriptor. For example, Compute Engine VM instances use the labels \"project_id\", \"instance_id\", and \"zone\"."
        }
      },
      "type": "object",
      "id": "MonitoredResource"
    },
    "PickTimeSeriesFilter": {
      "id": "PickTimeSeriesFilter",
      "type": "object",
      "description": "Describes a ranking-based time series filter. Each input time series is ranked with an aligner. The filter will allow up to num_time_series time series to pass through it, selecting them based on the relative ranking.For example, if ranking_method is METHOD_MEAN,direction is BOTTOM, and num_time_series is 3, then the 3 times series with the lowest mean values will pass through the filter.",
      "properties": {
        "numTimeSeries": {
          "description": "How many time series to allow to pass through the filter.",
          "format": "int32",
          "type": "integer"
        },
        "interval": {
          "description": "Select the top N streams/time series within this time interval",
          "$ref": "Interval"
        },
        "direction": {
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "TOP",
            "BOTTOM"
          ],
          "type": "string",
          "description": "How to use the ranking to select time series that pass through the filter.",
          "enumDescriptions": [
            "Not allowed. You must specify a different Direction if you specify a PickTimeSeriesFilter.",
            "Pass the highest num_time_series ranking inputs.",
            "Pass the lowest num_time_series ranking inputs."
          ]
        },
        "rankingMethod": {
          "enumDescriptions": [
            "Not allowed. You must specify a different Method if you specify a PickTimeSeriesFilter.",
            "Select the mean of all values.",
            "Select the maximum value.",
            "Select the minimum value.",
            "Compute the sum of all values.",
            "Select the most recent value."
          ],
          "enum": [
            "METHOD_UNSPECIFIED",
            "METHOD_MEAN",
            "METHOD_MAX",
            "METHOD_MIN",
            "METHOD_SUM",
            "METHOD_LATEST"
          ],
          "type": "string",
          "description": "ranking_method is applied to each time series independently to produce the value which will be used to compare the time series to other time series."
        }
      }
    },
    "XyChart": {
      "description": "A chart that displays data on a 2D (X and Y axes) plane.",
      "properties": {
        "y2Axis": {
          "$ref": "Axis",
          "description": "The properties applied to the y2-axis."
        },
        "chartOptions": {
          "description": "Display options for the chart.",
          "$ref": "ChartOptions"
        },
        "timeshiftDuration": {
          "type": "string",
          "description": "The duration used to display a comparison chart. A comparison chart simultaneously shows values from two similar-length time periods (e.g., week-over-week metrics). The duration must be positive, and it can only be applied to charts with data sets of LINE plot type.",
          "format": "google-duration"
        },
        "thresholds": {
          "items": {
            "$ref": "Threshold"
          },
          "description": "Threshold lines drawn horizontally across the chart.",
          "type": "array"
        },
        "xAxis": {
          "description": "The properties applied to the x-axis.",
          "$ref": "Axis"
        },
        "yAxis": {
          "description": "The properties applied to the y-axis.",
          "$ref": "Axis"
        },
        "dataSets": {
          "type": "array",
          "items": {
            "$ref": "DataSet"
          },
          "description": "Required. The data displayed in this chart."
        }
      },
      "id": "XyChart",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "id": "Empty"
    },
    "HttpBody": {
      "properties": {
        "contentType": {
          "description": "The HTTP Content-Type header value specifying the content type of the body.",
          "type": "string"
        },
        "data": {
          "type": "string",
          "description": "The HTTP request/response body as raw binary.",
          "format": "byte"
        },
        "extensions": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array"
        }
      },
      "id": "HttpBody",
      "type": "object",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page.This message can be used both in streaming and non-streaming API methods in the request as well as the response.It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body.Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged."
    },
    "TreemapDataSet": {
      "type": "object",
      "properties": {
        "breakdowns": {
          "description": "Optional. The collection of breakdowns to be applied to the dataset. A breakdown is a way to slice the data. For example, you can break down the data by region.",
          "type": "array",
          "items": {
            "$ref": "Breakdown"
          }
        },
        "timeSeriesQuery": {
          "$ref": "TimeSeriesQuery",
          "description": "Required. The query that fetches the relevant data. See google.monitoring.dashboard.v1.TimeSeriesQuery"
        },
        "measures": {
          "items": {
            "$ref": "Measure"
          },
          "description": "Optional. A collection of measures. A measure is a measured value of a property in your data. For example, rainfall in inches, number of units sold, revenue gained, etc.",
          "type": "array"
        }
      },
      "description": "The data represented by the treemap. Needs to include the data itself, plus rules on how to organize it hierarchically.",
      "id": "TreemapDataSet"
    },
    "Threshold": {
      "properties": {
        "label": {
          "type": "string",
          "description": "A label for the threshold."
        },
        "value": {
          "type": "number",
          "format": "double",
          "description": "The value of the threshold. The value should be defined in the native scale of the metric."
        },
        "color": {
          "enum": [
            "COLOR_UNSPECIFIED",
            "YELLOW",
            "RED"
          ],
          "enumDescriptions": [
            "Color is unspecified. Not allowed in well-formed requests.",
            "Crossing the threshold is \"concerning\" behavior.",
            "Crossing the threshold is \"emergency\" behavior."
          ],
          "type": "string",
          "description": "The state color for this threshold. Color is not allowed in a XyChart."
        },
        "direction": {
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "ABOVE",
            "BELOW"
          ],
          "type": "string",
          "description": "The direction for the current threshold. Direction is not allowed in a XyChart.",
          "enumDescriptions": [
            "Not allowed in well-formed requests.",
            "The threshold will be considered crossed if the actual value is above the threshold value.",
            "The threshold will be considered crossed if the actual value is below the threshold value."
          ]
        },
        "targetAxis": {
          "type": "string",
          "enumDescriptions": [
            "The target axis was not specified. Defaults to Y1.",
            "The y_axis (the right axis of chart).",
            "The y2_axis (the left axis of chart)."
          ],
          "enum": [
            "TARGET_AXIS_UNSPECIFIED",
            "Y1",
            "Y2"
          ],
          "description": "The target axis to use for plotting the threshold. Target axis is not allowed in a Scorecard."
        }
      },
      "id": "Threshold",
      "type": "object",
      "description": "Defines a threshold for categorizing time series values."
    },
    "SpanContext": {
      "id": "SpanContext",
      "properties": {
        "spanName": {
          "description": "The resource name of the span. The format is: projects/[PROJECT_ID_OR_NUMBER]/traces/[TRACE_ID]/spans/[SPAN_ID] [TRACE_ID] is a unique identifier for a trace within a project; it is a 32-character hexadecimal encoding of a 16-byte array.[SPAN_ID] is a unique identifier for a span within a trace; it is a 16-character hexadecimal encoding of an 8-byte array.",
          "type": "string"
        }
      },
      "description": "The context of a span. This is attached to an Exemplar in Distribution values during aggregation.It contains the name of a span with format: projects/[PROJECT_ID_OR_NUMBER]/traces/[TRACE_ID]/spans/[SPAN_ID] ",
      "type": "object"
    },
    "PieChart": {
      "description": "A widget that displays timeseries data as a pie or a donut.",
      "properties": {
        "dataSets": {
          "description": "Required. The queries for the chart's data.",
          "type": "array",
          "items": {
            "$ref": "PieChartDataSet"
          }
        },
        "showLabels": {
          "description": "Optional. Indicates whether or not the pie chart should show slices' labels",
          "type": "boolean"
        },
        "chartType": {
          "type": "string",
          "enum": [
            "PIE_CHART_TYPE_UNSPECIFIED",
            "PIE",
            "DONUT"
          ],
          "description": "Required. Indicates the visualization type for the PieChart.",
          "enumDescriptions": [
            "The zero value. No type specified. Do not use.",
            "A Pie type PieChart.",
            "Similar to PIE, but the DONUT type PieChart has a hole in the middle."
          ]
        }
      },
      "id": "PieChart",
      "type": "object"
    },
    "RatioPart": {
      "type": "object",
      "description": "Describes a query to build the numerator or denominator of a TimeSeriesFilterRatio.",
      "id": "RatioPart",
      "properties": {
        "aggregation": {
          "description": "By default, the raw time series data is returned. Use this field to combine multiple time series for different views of the data.",
          "$ref": "Aggregation"
        },
        "filter": {
          "type": "string",
          "description": "Required. The monitoring filter (https://cloud.google.com/monitoring/api/v3/filters) that identifies the metric types, resources, and projects to query."
        }
      }
    },
    "Status": {
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      }
    },
    "Widget": {
      "id": "Widget",
      "description": "Widget contains a single dashboard component and configuration of how to present the component in the dashboard.",
      "properties": {
        "xyChart": {
          "description": "A chart of time series data.",
          "$ref": "XyChart"
        },
        "sectionHeader": {
          "description": "A widget that defines a section header for easier navigation of the dashboard.",
          "$ref": "SectionHeader"
        },
        "logsPanel": {
          "$ref": "LogsPanel",
          "description": "A widget that shows a stream of logs."
        },
        "incidentList": {
          "$ref": "IncidentList",
          "description": "A widget that shows list of incidents."
        },
        "singleViewGroup": {
          "$ref": "SingleViewGroup",
          "description": "A widget that groups the other widgets by using a dropdown menu."
        },
        "treemap": {
          "description": "A widget that displays data as a treemap.",
          "$ref": "Treemap"
        },
        "errorReportingPanel": {
          "description": "A widget that displays a list of error groups.",
          "$ref": "ErrorReportingPanel"
        },
        "timeRange": {
          "description": "Optional. Represents a time range for the widget. When set, this time range will override the dashboard time range. Supported for line, stacked area and stacked bar widgets only.",
          "$ref": "TimeRange"
        },
        "visibilityCondition": {
          "$ref": "VisibilityCondition",
          "description": "Optional. If set, this widget is rendered only when the condition is evaluated to true."
        },
        "blank": {
          "$ref": "Empty",
          "description": "A blank space."
        },
        "filterControl": {
          "description": "A widget that displays an input field to change the value of a template variable.",
          "$ref": "FilterControl"
        },
        "collapsibleGroup": {
          "$ref": "CollapsibleGroup",
          "description": "A widget that groups the other widgets. All widgets that are within the area spanned by the grouping widget are considered member widgets."
        },
        "id": {
          "description": "Optional. The widget id. Ids may be made up of alphanumerics, dashes and underscores. Widget ids are optional.",
          "type": "string"
        },
        "scorecard": {
          "$ref": "Scorecard",
          "description": "A scorecard summarizing time series data."
        },
        "text": {
          "$ref": "Text",
          "description": "A raw string or markdown displaying textual content."
        },
        "alertChart": {
          "description": "A chart of alert policy data.",
          "$ref": "AlertChart"
        },
        "title": {
          "description": "Optional. The title of the widget.",
          "type": "string"
        },
        "timeSeriesTable": {
          "$ref": "TimeSeriesTable",
          "description": "A widget that displays time series data in a tabular format."
        },
        "pieChart": {
          "$ref": "PieChart",
          "description": "A widget that displays timeseries data as a pie chart."
        }
      },
      "type": "object"
    },
    "TemplateVariableCondition": {
      "type": "object",
      "description": "A condition whose evaluation is based on the value of a template variable.",
      "id": "TemplateVariableCondition",
      "properties": {
        "templateVariable": {
          "type": "string",
          "description": "The template variable whose value is evaluated."
        },
        "templateVariableValue": {
          "type": "string",
          "description": "The value to compare the template variable to. For example, if the comparator is REGEX_FULL_MATCH, this field should contain a regex."
        },
        "comparator": {
          "description": "Comparator to use to evaluate whether the value of the template variable matches the template_variable_value. For example, if the comparator is REGEX_FULL_MATCH, template_variable_value would contain a regex that is matched against the value of the template variable.",
          "enum": [
            "COMPARATOR_UNSPECIFIED",
            "REGEX_FULL_MATCH"
          ],
          "type": "string",
          "enumDescriptions": [
            "No comparator specified. Behavior defaults to REGEX_FULL_MATCH.",
            "Condition with this comparator evaluates to true when the value of the template variables matches the specified regex."
          ]
        }
      }
    },
    "QueryExemplarsRequest": {
      "type": "object",
      "description": "QueryExemplarsRequest holds all parameters of the Prometheus upstream API for querying exemplars.",
      "id": "QueryExemplarsRequest",
      "properties": {
        "query": {
          "description": "A PromQL query string. Query language documentation: https://prometheus.io/docs/prometheus/latest/querying/basics/.",
          "type": "string"
        },
        "start": {
          "description": "The start time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp.",
          "type": "string"
        },
        "end": {
          "type": "string",
          "description": "The end time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp."
        }
      }
    },
    "Parameter": {
      "type": "object",
      "id": "Parameter",
      "description": "Preview: Parameter value applied to the aggregation function. This is a preview feature and may be subject to change before final release.",
      "properties": {
        "doubleValue": {
          "type": "number",
          "description": "A floating-point parameter value.",
          "format": "double"
        },
        "intValue": {
          "type": "string",
          "description": "An integer parameter value.",
          "format": "int64"
        }
      }
    },
    "TableDataSet": {
      "type": "object",
      "id": "TableDataSet",
      "properties": {
        "minAlignmentPeriod": {
          "description": "Optional. The lower bound on data point frequency for this data set, implemented by specifying the minimum alignment period to use in a time series query For example, if the data is published once every 10 minutes, the min_alignment_period should be at least 10 minutes. It would not make sense to fetch and align data at one minute intervals.",
          "type": "string",
          "format": "google-duration"
        },
        "timeSeriesQuery": {
          "description": "Required. Fields for querying time series data from the Stackdriver metrics API.",
          "$ref": "TimeSeriesQuery"
        },
        "tableDisplayOptions": {
          "description": "Optional. Table display options for configuring how the table is rendered.",
          "$ref": "TableDisplayOptions"
        },
        "tableTemplate": {
          "description": "Optional. A template string for naming TimeSeries in the resulting data set. This should be a string with interpolations of the form ${label_name}, which will resolve to the label's value i.e. \"${resource.labels.project_id}.\"",
          "type": "string"
        }
      },
      "description": "Groups a time series query definition with table options."
    },
    "ColumnSettings": {
      "type": "object",
      "description": "The persistent settings for a table's columns.",
      "id": "ColumnSettings",
      "properties": {
        "alignment": {
          "description": "Optional. Whether the column should be left / middle / right aligned",
          "enum": [
            "CELL_ALIGNMENT_UNSPECIFIED",
            "LEFT",
            "CENTER",
            "RIGHT"
          ],
          "enumDescriptions": [
            "No horizontal alignment specified; fall back to the default behavior. Label values are left aligned. Numeric values are right aligned.",
            "Left-align",
            "Center-align",
            "Right-align"
          ],
          "type": "string"
        },
        "visible": {
          "description": "Required. Whether the column should be visible on page load.",
          "type": "boolean"
        },
        "thresholds": {
          "type": "array",
          "items": {
            "$ref": "Threshold"
          },
[...]
