{
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/monitoring.read": {
          "description": "View monitoring data for all of your Google Cloud and third-party projects"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/monitoring": {
          "description": "View and write monitoring data for all of your Google and third-party Cloud and API projects"
        },
        "https://www.googleapis.com/auth/monitoring.write": {
          "description": "Publish metric data to your Google Cloud projects"
        }
      }
    }
  },
  "protocol": "rest",
  "discoveryVersion": "v1",
  "version_module": true,
  "id": "monitoring:v1",
  "rootUrl": "https://monitoring.googleapis.com/",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "schemas": {
    "GridLayout": {
      "type": "object",
      "properties": {
        "columns": {
          "type": "string",
          "description": "The number of columns into which the view's width is divided. If omitted or set to zero, a system default will be used while rendering.",
          "format": "int64"
        },
        "widgets": {
          "description": "The informational elements that are arranged into the columns row-first.",
          "type": "array",
          "items": {
            "$ref": "Widget"
          }
        }
      },
      "id": "GridLayout",
      "description": "A basic layout divides the available space into vertical columns of equal width and arranges a list of widgets using a row-first strategy."
    },
    "TextStyle": {
      "id": "TextStyle",
      "description": "Properties that determine how the title and content are styled",
      "properties": {
        "textColor": {
          "description": "The text color as a hex string. \"#RRGGBB\" or \"#RGB\"",
          "type": "string"
        },
        "horizontalAlignment": {
          "type": "string",
          "enumDescriptions": [
            "No horizontal alignment specified, will default to H_LEFT",
            "Left-align",
            "Center-align",
            "Right-align"
          ],
          "enum": [
            "HORIZONTAL_ALIGNMENT_UNSPECIFIED",
            "H_LEFT",
            "H_CENTER",
            "H_RIGHT"
          ],
          "description": "The horizontal alignment of both the title and content"
        },
        "fontSize": {
          "enumDescriptions": [
            "No font size specified, will default to FS_LARGE",
            "Extra small font size",
            "Small font size",
            "Medium font size",
            "Large font size",
            "Extra large font size"
          ],
          "enum": [
            "FONT_SIZE_UNSPECIFIED",
            "FS_EXTRA_SMALL",
            "FS_SMALL",
            "FS_MEDIUM",
            "FS_LARGE",
            "FS_EXTRA_LARGE"
          ],
          "type": "string",
          "description": "Font sizes for both the title and content. The title will still be larger relative to the content."
        },
        "backgroundColor": {
          "type": "string",
          "description": "The background color as a hex string. \"#RRGGBB\" or \"#RGB\""
        },
        "padding": {
          "type": "string",
          "description": "The amount of padding around the widget",
          "enum": [
            "PADDING_SIZE_UNSPECIFIED",
            "P_EXTRA_SMALL",
            "P_SMALL",
            "P_MEDIUM",
            "P_LARGE",
            "P_EXTRA_LARGE"
          ],
          "enumDescriptions": [
            "No padding size specified, will default to P_EXTRA_SMALL",
            "Extra small padding",
            "Small padding",
            "Medium padding",
            "Large padding",
            "Extra large padding"
          ]
        },
        "pointerLocation": {
          "enumDescriptions": [
            "No visual pointer",
            "Placed in the middle of the top of the widget",
            "Placed in the middle of the right side of the widget",
            "Placed in the middle of the bottom of the widget",
            "Placed in the middle of the left side of the widget",
            "Placed on the left side of the top of the widget",
            "Placed on the right side of the top of the widget",
            "Placed on the top of the right side of the widget",
            "Placed on the bottom of the right side of the widget",
            "Placed on the right side of the bottom of the widget",
            "Placed on the left side of the bottom of the widget",
            "Placed on the bottom of the left side of the widget",
            "Placed on the top of the left side of the widget"
          ],
          "enum": [
            "POINTER_LOCATION_UNSPECIFIED",
            "PL_TOP",
            "PL_RIGHT",
            "PL_BOTTOM",
            "PL_LEFT",
            "PL_TOP_LEFT",
            "PL_TOP_RIGHT",
            "PL_RIGHT_TOP",
            "PL_RIGHT_BOTTOM",
            "PL_BOTTOM_RIGHT",
            "PL_BOTTOM_LEFT",
            "PL_LEFT_BOTTOM",
            "PL_LEFT_TOP"
          ],
          "description": "The pointer location for this widget (also sometimes called a \"tail\")",
          "type": "string"
        },
        "verticalAlignment": {
          "enumDescriptions": [
            "No vertical alignment specified, will default to V_TOP",
            "Top-align",
            "Center-align",
            "Bottom-align"
          ],
          "description": "The vertical alignment of both the title and content",
          "enum": [
            "VERTICAL_ALIGNMENT_UNSPECIFIED",
            "V_TOP",
            "V_CENTER",
            "V_BOTTOM"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Dimension": {
      "type": "object",
      "description": "A chart dimension. Dimensions are a structured label, class, or category for a set of measurements in your data.",
      "properties": {
        "xMax": {
          "type": "number",
          "format": "double",
          "description": "The maximum value for the x-axis."
        },
        "xMin": {
          "description": "The minimum value for the x-axis.",
          "format": "double",
          "type": "number"
        },
        "floatBinSize": {
          "type": "number",
          "description": "Optional. float_bin_size is used when the column type used for a dimension is a floating point numeric column.",
          "format": "double"
        },
        "columnType": {
          "type": "string",
          "description": "Optional. The type of the dimension column. This is relevant only if one of the bin_size fields is set. If it is empty, the type TIMESTAMP or INT64 will be assumed based on which bin_size field is set. If populated, this should be set to one of the following types: DATE, TIME, DATETIME, TIMESTAMP, BIGNUMERIC, INT64, NUMERIC, FLOAT64."
        },
        "column": {
          "type": "string",
          "description": "Required. For widgets that use SQL queries, set the value to the name of the column in the results table whose data is charted. For a histogram that uses a time series query, set the value of this field to metric_value."
        },
        "sortOrder": {
          "type": "string",
          "description": "The sort order applied to the sort column.",
          "enumDescriptions": [
            "An unspecified sort order. This option is invalid when sorting is required.",
            "No sorting is applied.",
            "The lowest-valued entries are selected first.",
            "The highest-valued entries are selected first."
          ],
          "enum": [
            "SORT_ORDER_UNSPECIFIED",
            "SORT_ORDER_NONE",
            "SORT_ORDER_ASCENDING",
            "SORT_ORDER_DESCENDING"
          ]
        },
        "sortColumn": {
          "description": "The column name to sort on for binning. This column can be the same column as this dimension or any other column used as a measure in the results. If sort_order is set to NONE, then this value is not used.",
          "type": "string"
        },
        "numericBinSize": {
          "format": "int32",
          "type": "integer",
          "description": "numeric_bin_size is used when the column type used for a dimension is numeric or string. If the column field is set to metric_value, then numericBinSize overrides maxBinCount."
        },
        "maxBinCount": {
          "type": "integer",
          "format": "int32",
          "description": "For widgets that use SQL queries, the limit to the number of bins to generate. When 0 is specified, the maximum count is not enforced. For a histogram that uses a time series query, the exact number of bins to generate. If not specified or the value is 0, then the histogram determines the number of bins to use."
        },
        "timeBinSize": {
          "type": "string",
          "description": "time_bin_size is used when the data type of the specified dimension is a time type and the bin size is determined by a time duration. If column_type is DATE, this must be a whole value multiple of 1 day. If column_type is TIME, this must be less than or equal to 24 hours.",
          "format": "google-duration"
        }
      },
      "id": "Dimension"
    },
    "StatisticalTimeSeriesFilter": {
      "id": "StatisticalTimeSeriesFilter",
      "type": "object",
      "description": "A filter that ranks streams based on their statistical relation to other streams in a request. Note: This field is deprecated and completely ignored by the API.",
      "properties": {
        "rankingMethod": {
          "enumDescriptions": [
            "Not allowed in well-formed requests.",
            "Compute the outlier score of each stream."
          ],
          "type": "string",
          "description": "rankingMethod is applied to a set of time series, and then the produced value for each individual time series is used to compare a given time series to others. These are methods that cannot be applied stream-by-stream, but rather require the full context of a request to evaluate time series.",
          "enum": [
            "METHOD_UNSPECIFIED",
            "METHOD_CLUSTER_OUTLIER"
          ]
        },
        "numTimeSeries": {
          "type": "integer",
          "format": "int32",
          "description": "How many time series to output."
        }
      }
    },
    "RatioPart": {
      "description": "Describes a query to build the numerator or denominator of a TimeSeriesFilterRatio.",
      "properties": {
        "aggregation": {
          "description": "By default, the raw time series data is returned. Use this field to combine multiple time series for different views of the data.",
          "$ref": "Aggregation"
        },
        "filter": {
          "description": "Required. The monitoring filter (https://cloud.google.com/monitoring/api/v3/filters) that identifies the metric types, resources, and projects to query.",
          "type": "string"
        }
      },
      "id": "RatioPart",
      "type": "object"
    },
    "TreemapDataSet": {
      "id": "TreemapDataSet",
      "type": "object",
      "description": "The data represented by the treemap. Needs to include the data itself, plus rules on how to organize it hierarchically.",
      "properties": {
        "breakdowns": {
          "items": {
            "$ref": "Breakdown"
          },
          "description": "Optional. The collection of breakdowns to be applied to the dataset. A breakdown is a way to slice the data. For example, you can break down the data by region.",
          "type": "array"
        },
        "timeSeriesQuery": {
          "description": "Required. The query that fetches the relevant data. See google.monitoring.dashboard.v1.TimeSeriesQuery",
          "$ref": "TimeSeriesQuery"
        },
        "measures": {
          "type": "array",
          "description": "Optional. A collection of measures. A measure is a measured value of a property in your data. For example, rainfall in inches, number of units sold, revenue gained, etc.",
          "items": {
            "$ref": "Measure"
          }
        }
      }
    },
    "TimeSeriesQuery": {
      "description": "TimeSeriesQuery collects the set of supported methods for querying time series data from the Stackdriver metrics API.",
      "type": "object",
      "id": "TimeSeriesQuery",
      "properties": {
        "prometheusQuery": {
          "description": "A query used to fetch time series with PromQL.",
          "type": "string"
        },
        "timeSeriesFilterRatio": {
          "description": "Parameters to fetch a ratio between two time series filters.",
          "$ref": "TimeSeriesFilterRatio"
        },
        "traceQuery": {
          "$ref": "TraceQuery",
          "description": "Optional. Preview: Query for traces. This is a preview feature and may be subject to change before final release."
        },
        "timeSeriesQueryLanguage": {
          "type": "string",
          "description": "A query used to fetch time series with MQL."
        },
        "opsAnalyticsQuery": {
          "$ref": "OpsAnalyticsQuery",
          "description": "Preview: A query used to fetch a time series, category series, or numeric series with SQL. This is a preview feature and may be subject to change before final release."
        },
        "unitOverride": {
          "type": "string",
          "description": "The unit of data contained in fetched time series. If non-empty, this unit will override any unit that accompanies fetched data. The format is the same as the unit (https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.metricDescriptors) field in MetricDescriptor."
        },
        "outputFullDuration": {
          "description": "Optional. If set, Cloud Monitoring will treat the full query duration as the alignment period so that there will be only 1 output value.*Note: This could override the configured alignment period except for the cases where a series of data points are expected, like - XyChart - Scorecard's spark chart",
          "type": "boolean"
        },
        "timeSeriesFilter": {
          "$ref": "TimeSeriesFilter",
          "description": "Filter parameters to fetch time series."
        }
      }
    },
    "ColumnSettings": {
      "id": "ColumnSettings",
      "description": "The persistent settings for a table's columns.",
      "type": "object",
      "properties": {
        "visible": {
          "type": "boolean",
          "description": "Required. Whether the column should be visible on page load."
        },
        "thresholds": {
          "items": {
            "$ref": "Threshold"
          },
          "description": "Optional. The thresholds used to determine how the table cell should be rendered given the time series' current value.",
          "type": "array"
        },
        "column": {
          "description": "Required. The id of the column.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Display name of the column",
          "type": "string"
        },
        "alignment": {
          "enumDescriptions": [
            "No horizontal alignment specified; fall back to the default behavior. Label values are left aligned. Numeric values are right aligned.",
            "Left-align",
            "Center-align",
            "Right-align"
          ],
          "enum": [
            "CELL_ALIGNMENT_UNSPECIFIED",
            "LEFT",
            "CENTER",
            "RIGHT"
          ],
          "description": "Optional. Whether the column should be left / middle / right aligned",
          "type": "string"
        }
      }
    },
    "AggregationFunction": {
      "description": "Preview: An identifier for an aggregation function. Aggregation functions are SQL functions that group or transform data from multiple points to a single point. This is a preview feature and may be subject to change before final release.",
      "id": "AggregationFunction",
      "properties": {
        "type": {
          "description": "Required. The type of aggregation function, must be one of the following: \"none\" - no function. \"percentile\" - APPROX_QUANTILES() - 1 parameter numeric value \"average\" - AVG() \"count\" - COUNT() \"count-distinct\" - COUNT(DISTINCT) \"count-distinct-approx\" - APPROX_COUNT_DISTINCT() \"max\" - MAX() \"min\" - MIN() \"sum\" - SUM()",
          "type": "string"
        },
        "parameters": {
          "description": "Optional. Parameters applied to the aggregation function. Only used for functions that require them.",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        }
      },
      "type": "object"
    },
    "IncidentList": {
      "type": "object",
      "description": "A widget that displays a list of incidents",
      "properties": {
        "policyNames": {
          "type": "array",
          "description": "Optional. A list of alert policy names to filter the incident list by. Don't include the project ID prefix in the policy name. For example, use alertPolicies/utilization.",
          "items": {
            "type": "string"
          }
        },
        "monitoredResources": {
          "description": "Optional. The monitored resource for which incidents are listed. The resource doesn't need to be fully specified. That is, you can specify the resource type but not the values of the resource labels. The resource type and labels are used for filtering.",
          "items": {
            "$ref": "MonitoredResource"
          },
          "type": "array"
        }
      },
      "id": "IncidentList"
    },
    "Threshold": {
      "id": "Threshold",
      "properties": {
        "label": {
          "description": "A label for the threshold.",
          "type": "string"
        },
        "value": {
          "type": "number",
          "description": "The value of the threshold. The value should be defined in the native scale of the metric.",
          "format": "double"
        },
        "color": {
          "description": "The state color for this threshold. Color is not allowed in a XyChart.",
          "enum": [
            "COLOR_UNSPECIFIED",
            "YELLOW",
            "RED"
          ],
          "enumDescriptions": [
            "Color is unspecified. Not allowed in well-formed requests.",
            "Crossing the threshold is \"concerning\" behavior.",
            "Crossing the threshold is \"emergency\" behavior."
          ],
          "type": "string"
        },
        "direction": {
          "enumDescriptions": [
            "Not allowed in well-formed requests.",
            "The threshold will be considered crossed if the actual value is above the threshold value.",
            "The threshold will be considered crossed if the actual value is below the threshold value."
          ],
          "description": "The direction for the current threshold. Direction is not allowed in a XyChart.",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "ABOVE",
            "BELOW"
          ],
          "type": "string"
        },
        "targetAxis": {
          "enumDescriptions": [
            "The target axis was not specified. Defaults to Y1.",
            "The y_axis (the right axis of chart).",
            "The y2_axis (the left axis of chart)."
          ],
          "enum": [
            "TARGET_AXIS_UNSPECIFIED",
            "Y1",
            "Y2"
          ],
          "type": "string",
          "description": "The target axis to use for plotting the threshold. Target axis is not allowed in a Scorecard."
        }
      },
      "description": "Defines a threshold for categorizing time series values.",
      "type": "object"
    },
    "MonitoredResource": {
      "type": "object",
      "id": "MonitoredResource",
      "description": "An object representing a resource that can be used for monitoring, logging, billing, or other purposes. Examples include virtual machine instances, databases, and storage devices such as disks. The type field identifies a MonitoredResourceDescriptor object that describes the resource's schema. Information in the labels field identifies the actual resource and its attributes according to the schema. For example, a particular Compute Engine VM instance could be represented by the following object, because the MonitoredResourceDescriptor for \"gce_instance\" has labels \"project_id\", \"instance_id\" and \"zone\": { \"type\": \"gce_instance\", \"labels\": { \"project_id\": \"my-project\", \"instance_id\": \"12345678901234\", \"zone\": \"us-central1-a\" }} ",
      "properties": {
        "type": {
          "description": "Required. The monitored resource type. This field must match the type field of a MonitoredResourceDescriptor object. For example, the type of a Compute Engine VM instance is gce_instance. For a list of types, see Monitoring resource types (https://cloud.google.com/monitoring/api/resources) and Logging resource types (https://cloud.google.com/logging/docs/api/v2/resource-list).",
          "type": "string"
        },
        "labels": {
          "description": "Required. Values for all of the labels listed in the associated monitored resource descriptor. For example, Compute Engine VM instances use the labels \"project_id\", \"instance_id\", and \"zone\".",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Axis": {
      "properties": {
        "scale": {
          "enumDescriptions": [
            "Scale is unspecified. The view will default to LINEAR.",
            "Linear scale.",
            "Logarithmic scale (base 10)."
          ],
          "description": "The axis scale. By default, a linear scale is used.",
          "type": "string",
          "enum": [
            "SCALE_UNSPECIFIED",
            "LINEAR",
            "LOG10"
          ]
        },
        "label": {
          "description": "The label of the axis.",
          "type": "string"
        }
      },
      "id": "Axis",
      "description": "A chart axis.",
      "type": "object"
    },
    "EventAnnotation": {
      "id": "EventAnnotation",
      "properties": {
        "filter": {
          "type": "string",
          "description": "string filtering the events - event dependant. Example values: \"resource.labels.pod_name = 'pod-1'\" \"protoPayload.authenticationInfo.principalEmail='user@example.com'\" "
        },
        "resourceNames": {
          "description": "Per annotation level override for the names of logging resources to search for events. Currently only projects are supported. If both this field and the per annotation field is empty, it will default to the host project. Limit: 50 projects. For example: “projects/another-project-id” ",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "Solely for UI display. Should not be used programmatically."
        },
        "enabled": {
          "description": "Whether or not to show the events on the dashboard by default",
          "type": "boolean"
        },
        "eventType": {
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "GKE_WORKLOAD_DEPLOYMENT",
            "GKE_POD_CRASH",
            "GKE_POD_UNSCHEDULABLE",
            "GKE_CONTAINER_CREATION_FAILED",
            "GKE_CLUSTER_CREATE_DELETE",
            "GKE_CLUSTER_UPDATE",
            "GKE_NODE_POOL_UPDATE",
            "GKE_CLUSTER_AUTOSCALER",
            "GKE_POD_AUTOSCALER",
            "VM_TERMINATION",
            "VM_GUEST_OS_ERROR",
            "VM_START_FAILED",
            "MIG_UPDATE",
            "MIG_AUTOSCALER",
            "CLOUD_RUN_DEPLOYMENT",
            "CLOUD_SQL_FAILOVER",
            "CLOUD_SQL_START_STOP",
            "CLOUD_SQL_STORAGE",
            "UPTIME_CHECK_FAILURE",
            "CLOUD_ALERTING_ALERT",
            "SERVICE_HEALTH_INCIDENT",
            "SAP_BACKINT",
            "SAP_AVAILABILITY",
            "SAP_OPERATIONS",
            "INTERCONNECT_MAINTENANCE_STARTED",
            "INTERCONNECT_MAINTENANCE_COMPLETED",
            "VPN_TRAFFIC_SELECTOR_NARROWING",
            "VPN_MAINTENANCE"
          ],
          "enumDescriptions": [
            "No event type specified.",
            "Patch/update of GKE workload.",
            "Crash events for a GKE Pod.",
            "Scheduling failures for GKE Pods.",
            "Failure to create a GKE container.",
            "Create/delete of a GKE cluster.",
            "Update of a GKE cluster.",
            "Update of a GKE node pool.",
            "GKE cluster autoscaler event.",
            "GKE pod autoscaler event.",
            "Termination of a virtual machine.",
            "Guest OS error on a virtual machine.",
            "Start failure on a virtual machine.",
            "Update of a managed instance group.",
            "Autoscaler event for a managed instance group.",
            "New deployment of a Cloud Run service.",
            "Failover of a Cloud SQL instance.",
            "Start/stop of a Cloud SQL instance.",
            "Storage event for a Cloud SQL instance.",
            "Failure of a Cloud Monitoring uptime check.",
            "Alerts from Cloud Alerting",
            "Incidents from Service Health",
            "Agent for SAP Backint related events.",
            "Agent for SAP availability related events.",
            "Agent for SAP operations related events.",
            "Interconnect maintenance started event.",
            "Interconnect maintenance completed event.",
            "VPN traffic selector narrowing event.",
            "VPN maintenance event."
          ],
          "description": "The type of event to display.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Annotation configuration for one event type on a dashboard"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "ListDashboardsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as page_token in the next call to this method.",
          "type": "string"
        },
        "dashboards": {
          "type": "array",
          "description": "The list of requested dashboards.",
          "items": {
            "$ref": "Dashboard"
          }
        }
      },
      "description": "The ListDashboards request.",
      "id": "ListDashboardsResponse"
    },
    "Field": {
      "description": "A single field of a message type.New usages of this message as an alternative to FieldDescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information.",
      "type": "object",
      "id": "Field",
      "properties": {
        "typeUrl": {
          "description": "The field type URL, without the scheme, for message or enumeration types. Example: \"type.googleapis.com/google.protobuf.Timestamp\".",
          "type": "string"
        },
        "cardinality": {
          "enumDescriptions": [
            "For fields with unknown cardinality.",
            "For optional fields.",
            "For required fields. Proto2 syntax only.",
            "For repeated fields."
          ],
          "enum": [
            "CARDINALITY_UNKNOWN",
            "CARDINALITY_OPTIONAL",
            "CARDINALITY_REQUIRED",
            "CARDINALITY_REPEATED"
          ],
          "type": "string",
          "description": "The field cardinality."
        },
        "oneofIndex": {
          "description": "The index of the field type in Type.oneofs, for message or enumeration types. The first type has index 1; zero means the type is not in the list.",
          "format": "int32",
          "type": "integer"
        },
        "jsonName": {
          "description": "The field JSON name.",
          "type": "string"
        },
        "defaultValue": {
          "type": "string",
          "description": "The string value of the default value of this field. Proto2 syntax only."
        },
        "options": {
          "description": "The protocol buffer options.",
          "type": "array",
          "items": {
            "$ref": "Option"
          }
        },
        "kind": {
          "enumDescriptions": [
            "Field type unknown.",
            "Field type double.",
            "Field type float.",
            "Field type int64.",
            "Field type uint64.",
            "Field type int32.",
            "Field type fixed64.",
            "Field type fixed32.",
            "Field type bool.",
            "Field type string.",
            "Field type group. Proto2 syntax only, and deprecated.",
            "Field type message.",
            "Field type bytes.",
            "Field type uint32.",
            "Field type enum.",
            "Field type sfixed32.",
            "Field type sfixed64.",
            "Field type sint32.",
            "Field type sint64."
          ],
          "description": "The field type.",
          "enum": [
            "TYPE_UNKNOWN",
            "TYPE_DOUBLE",
            "TYPE_FLOAT",
            "TYPE_INT64",
            "TYPE_UINT64",
            "TYPE_INT32",
            "TYPE_FIXED64",
            "TYPE_FIXED32",
            "TYPE_BOOL",
            "TYPE_STRING",
            "TYPE_GROUP",
            "TYPE_MESSAGE",
            "TYPE_BYTES",
            "TYPE_UINT32",
            "TYPE_ENUM",
            "TYPE_SFIXED32",
            "TYPE_SFIXED64",
            "TYPE_SINT32",
            "TYPE_SINT64"
          ],
          "type": "string"
        },
        "number": {
          "type": "integer",
          "format": "int32",
          "description": "The field number."
        },
        "packed": {
          "type": "boolean",
          "description": "Whether to use alternative packed wire representation."
        },
        "name": {
          "description": "The field name.",
          "type": "string"
        }
      }
    },
    "SectionHeader": {
      "description": "A widget that defines a new section header. Sections populate a table of contents and allow easier navigation of long-form content.",
      "type": "object",
      "id": "SectionHeader",
      "properties": {
        "dividerBelow": {
          "type": "boolean",
          "description": "Whether to insert a divider below the section in the table of contents"
        },
        "subtitle": {
          "description": "The subtitle of the section",
          "type": "string"
        }
      }
    },
    "Scorecard": {
      "type": "object",
      "properties": {
        "thresholds": {
          "description": "The thresholds used to determine the state of the scorecard given the time series' current value. For an actual value x, the scorecard is in a danger state if x is less than or equal to a danger threshold that triggers below, or greater than or equal to a danger threshold that triggers above. Similarly, if x is above/below a warning threshold that triggers above/below, then the scorecard is in a warning state - unless x also puts it in a danger state. (Danger trumps warning.)As an example, consider a scorecard with the following four thresholds: { value: 90, category: 'DANGER', trigger: 'ABOVE', }, { value: 70, category: 'WARNING', trigger: 'ABOVE', }, { value: 10, category: 'DANGER', trigger: 'BELOW', }, { value: 20, category: 'WARNING', trigger: 'BELOW', } Then: values less than or equal to 10 would put the scorecard in a DANGER state, values greater than 10 but less than or equal to 20 a WARNING state, values strictly between 20 and 70 an OK state, values greater than or equal to 70 but less than 90 a WARNING state, and values greater than or equal to 90 a DANGER state.",
          "items": {
            "$ref": "Threshold"
          },
          "type": "array"
        },
        "gaugeView": {
          "description": "Will cause the scorecard to show a gauge chart.",
          "$ref": "GaugeView"
        },
        "blankView": {
          "$ref": "Empty",
          "description": "Will cause the Scorecard to show only the value, with no indicator to its value relative to its thresholds."
        },
        "measures": {
          "type": "array",
          "items": {
            "$ref": "Measure"
          },
          "description": "Optional. A measure is a measured value of a property in your data. For example, rainfall in inches, number of units sold, revenue gained, etc."
        },
        "timeSeriesQuery": {
          "description": "Required. Fields for querying time series data from the Stackdriver metrics API.",
          "$ref": "TimeSeriesQuery"
        },
        "sparkChartView": {
          "description": "Will cause the scorecard to show a spark chart.",
          "$ref": "SparkChartView"
        },
        "breakdowns": {
          "type": "array",
          "items": {
            "$ref": "Breakdown"
          },
          "description": "Optional. The collection of breakdowns to be applied to the dataset. A breakdown is a way to slice the data. For example, you can break down the data by region."
        },
        "dimensions": {
          "items": {
            "$ref": "Dimension"
          },
          "type": "array",
          "description": "Optional. A dimension is a structured label, class, or category for a set of measurements in your data."
        }
      },
      "description": "A widget showing the latest value of a metric, and how this value relates to one or more thresholds.",
      "id": "Scorecard"
    },
    "Parameter": {
      "properties": {
        "doubleValue": {
          "description": "A floating-point parameter value.",
          "format": "double",
          "type": "number"
        },
        "intValue": {
          "format": "int64",
          "type": "string",
          "description": "An integer parameter value."
        }
      },
      "id": "Parameter",
      "type": "object",
      "description": "Preview: Parameter value applied to the aggregation function. This is a preview feature and may be subject to change before final release."
    },
    "Text": {
      "description": "A widget that displays textual content.",
      "id": "Text",
      "properties": {
        "format": {
          "enumDescriptions": [
            "Format is unspecified. Defaults to MARKDOWN.",
            "The text contains Markdown formatting.",
            "The text contains no special formatting."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "MARKDOWN",
            "RAW"
          ],
          "type": "string",
          "description": "How the text content is formatted."
        },
        "style": {
          "$ref": "TextStyle",
          "description": "How the text is styled"
        },
        "content": {
          "type": "string",
          "description": "The text content to be displayed."
        }
      },
      "type": "object"
    },
    "MonitoredProject": {
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when this MonitoredProject was created."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the MonitoredProject. On input, the resource name includes the scoping project ID and monitored project ID. On output, it contains the equivalent project numbers. Example: locations/global/metricsScopes/{SCOPING_PROJECT_ID_OR_NUMBER}/projects/{MONITORED_PROJECT_ID_OR_NUMBER}"
        },
        "isTombstoned": {
          "description": "Output only. Set if the project has been tombstoned by the user.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "MonitoredProject",
      "description": "A project being monitored (https://cloud.google.com/monitoring/settings/multiple-projects#create-multi) by a Metrics Scope."
    },
    "Widget": {
      "properties": {
        "scorecard": {
          "description": "A scorecard summarizing time series data.",
          "$ref": "Scorecard"
        },
        "treemap": {
          "description": "A widget that displays data as a treemap.",
          "$ref": "Treemap"
        },
        "title": {
          "type": "string",
          "description": "Optional. The title of the widget."
        },
        "errorReportingPanel": {
          "$ref": "ErrorReportingPanel",
          "description": "A widget that displays a list of error groups."
        },
        "alertChart": {
          "description": "A chart of alert policy data.",
          "$ref": "AlertChart"
        },
        "visibilityCondition": {
          "$ref": "VisibilityCondition",
          "description": "Optional. If set, this widget is rendered only when the condition is evaluated to true."
        },
        "xyChart": {
          "$ref": "XyChart",
          "description": "A chart of time series data."
        },
        "text": {
          "$ref": "Text",
          "description": "A raw string or markdown displaying textual content."
        },
        "logsPanel": {
          "description": "A widget that shows a stream of logs.",
          "$ref": "LogsPanel"
        },
        "collapsibleGroup": {
          "$ref": "CollapsibleGroup",
          "description": "A widget that groups the other widgets. All widgets that are within the area spanned by the grouping widget are considered member widgets."
        },
        "pieChart": {
          "description": "A widget that displays timeseries data as a pie chart.",
          "$ref": "PieChart"
        },
        "id": {
          "description": "Optional. The widget id. Ids may be made up of alphanumerics, dashes and underscores. Widget ids are optional.",
          "type": "string"
        },
        "sectionHeader": {
          "description": "A widget that defines a section header for easier navigation of the dashboard.",
          "$ref": "SectionHeader"
        },
        "filterControl": {
          "$ref": "FilterControl",
          "description": "A widget that displays an input field to change the value of a template variable."
        },
        "singleViewGroup": {
          "description": "A widget that groups the other widgets by using a dropdown menu.",
          "$ref": "SingleViewGroup"
        },
        "timeSeriesTable": {
          "description": "A widget that displays time series data in a tabular format.",
          "$ref": "TimeSeriesTable"
        },
        "timeRange": {
          "description": "Optional. Represents a time range for the widget. When set, this time range will override the dashboard time range. Supported for line, stacked area and stacked bar widgets only.",
          "$ref": "TimeRange"
        },
        "blank": {
          "description": "A blank space.",
          "$ref": "Empty"
        },
        "incidentList": {
          "description": "A widget that shows list of incidents.",
          "$ref": "IncidentList"
        }
      },
      "type": "object",
      "description": "Widget contains a single dashboard component and configuration of how to present the component in the dashboard.",
      "id": "Widget"
    },
    "Option": {
      "description": "A protocol buffer option, which can be attached to a message, field, enumeration, etc.New usages of this message as an alternative to FileOptions, MessageOptions, FieldOptions, EnumOptions, EnumValueOptions, ServiceOptions, or MethodOptions are strongly discouraged.",
      "id": "Option",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The option's name. For protobuf built-in options (options defined in descriptor.proto), this is the short name. For example, \"map_entry\". For custom options, it should be the fully-qualified name. For example, \"google.api.http\"."
        },
        "value": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The option's value packed in an Any message. If the value is a primitive, the corresponding wrapper type defined in google/protobuf/wrappers.proto should be used. If the value is an enum, it should be stored as an int32 value using the google.protobuf.Int32Value type."
        }
      }
    },
    "Type": {
      "id": "Type",
      "properties": {
        "edition": {
          "description": "The source edition string, only valid when syntax is SYNTAX_EDITIONS.",
          "type": "string"
        },
        "sourceContext": {
          "$ref": "SourceContext",
          "description": "The source context."
        },
        "oneofs": {
          "description": "The list of types appearing in oneof definitions in this type.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "options": {
          "type": "array",
          "description": "The protocol buffer options.",
          "items": {
            "$ref": "Option"
          }
        },
        "fields": {
          "description": "The list of fields.",
          "type": "array",
          "items": {
            "$ref": "Field"
          }
        },
        "name": {
          "type": "string",
          "description": "The fully qualified message name."
        },
        "syntax": {
          "description": "The source syntax.",
          "enumDescriptions": [
            "Syntax proto2.",
            "Syntax proto3.",
            "Syntax editions."
          ],
          "enum": [
            "SYNTAX_PROTO2",
            "SYNTAX_PROTO3",
            "SYNTAX_EDITIONS"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "A protocol buffer message type.New usages of this message as an alternative to DescriptorProto are strongly discouraged. This message does not reliability preserve all information necessary to model the schema and preserve semantics. Instead make use of FileDescriptorSet which preserves the necessary information."
    },
    "Breakdown": {
      "id": "Breakdown",
      "properties": {
        "limit": {
          "type": "integer",
          "description": "Required. A limit to the number of breakdowns. If set to zero then all possible breakdowns are applied. The list of breakdowns is dependent on the value of the sort_order field.",
          "format": "int32"
        },
        "column": {
          "type": "string",
          "description": "Required. The name of the column in the dataset containing the breakdown values."
        },
        "sortOrder": {
          "type": "string",
          "description": "Required. The sort order is applied to the values of the breakdown column.",
          "enum": [
            "SORT_ORDER_UNSPECIFIED",
            "SORT_ORDER_NONE",
            "SORT_ORDER_ASCENDING",
            "SORT_ORDER_DESCENDING"
          ],
          "enumDescriptions": [
            "An unspecified sort order. This option is invalid when sorting is required.",
            "No sorting is applied.",
            "The lowest-valued entries are selected first.",
            "The highest-valued entries are selected first."
          ]
        },
        "aggregationFunction": {
          "$ref": "AggregationFunction",
          "description": "Required. The Aggregation function is applied across all data in each breakdown created."
        }
      },
      "type": "object",
      "description": "Preview: A breakdown is an aggregation applied to the measures over a specified column. A breakdown can result in multiple series across a category for the provided measure. This is a preview feature and may be subject to change before final release."
    },
    "QueryRangeRequest": {
      "properties": {
        "step": {
          "description": "The resolution of query result. Either a Prometheus duration string (https://prometheus.io/docs/prometheus/latest/querying/basics/#time-durations) or floating point seconds. This non-standard encoding must be used for compatibility with the open source API. Clients may still implement timeouts at the connection level while ignoring this field.",
          "type": "string"
        },
        "end": {
          "type": "string",
          "description": "The end time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp."
        },
        "start": {
          "description": "The start time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp.",
          "type": "string"
        },
        "timeout": {
          "description": "An upper bound timeout for the query. Either a Prometheus duration string (https://prometheus.io/docs/prometheus/latest/querying/basics/#time-durations) or floating point seconds. This non-standard encoding must be used for compatibility with the open source API. Clients may still implement timeouts at the connection level while ignoring this field.",
          "type": "string"
        },
        "query": {
          "type": "string",
          "description": "A PromQL query string. Query language documentation: https://prometheus.io/docs/prometheus/latest/querying/basics/."
        }
      },
      "id": "QueryRangeRequest",
      "description": "QueryRangeRequest holds all parameters of the Prometheus upstream range query API plus GCM specific parameters.",
      "type": "object"
    },
    "SpanFilters": {
      "properties": {
        "apphubWorkloads": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Filtering for spans containing one of the Apphub workload IDs in the list. Multiple values will be OR'd together. Example: \"workload-id1\", \"workload-id2\""
        },
        "displayNames": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Filtering for spans containing one of the span display names in the list. Multiple values will be OR'd together.",
          "type": "array"
        },
        "services": {
          "description": "Optional. Filtering for spans containing one of the services in the list. Multiple values will be OR'd together.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isRootSpan": {
          "type": "boolean",
          "description": "Optional. Filters for root spans only if set to true. A root span is a span without a defined parent span ID."
        },
        "maxDuration": {
          "description": "Optional. Filtering for spans with a maximum duration.",
          "type": "string",
          "format": "google-duration"
        },
        "minDuration": {
          "type": "string",
          "description": "Optional. Filtering for spans with a minimum duration.",
          "format": "google-duration"
        },
        "attributes": {
          "items": {
            "$ref": "SpanAttributeFilter"
          },
          "description": "Optional. List of span attribute filters. Each SpanAttributeFilter key must be unique. Multiple attribute filters will be AND'd together.",
          "type": "array"
        },
        "status": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Filtering for spans containing one of the statuses in the list. Multiple values will be OR'd together."
        },
        "applicationIds": {
          "description": "Optional. Filtering for spans containing one of the Apphub Application IDs in the list. Multiple values will be OR'd together.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "apphubServices": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Filtering for spans containing one of the Apphub service IDs in the list. Multiple values will be OR'd together. Example: \"service-id1\", \"service-id2\""
        },
        "kinds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Filtering for spans containing one of the kinds in the list. Multiple values will be OR'd together."
        }
      },
      "id": "SpanFilters",
      "type": "object",
      "description": "First version of span filtering that is supported by the Trace component."
    },
    "VisibilityCondition": {
      "properties": {
        "templateVariableCondition": {
          "description": "A condition whose evaluation is based on the value of a template variable.",
          "$ref": "TemplateVariableCondition"
        }
      },
      "description": "Condition that determines whether the widget should be displayed.",
      "id": "VisibilityCondition",
      "type": "object"
    },
    "QueryExemplarsRequest": {
      "id": "QueryExemplarsRequest",
      "description": "QueryExemplarsRequest holds all parameters of the Prometheus upstream API for querying exemplars.",
      "properties": {
        "start": {
          "description": "The start time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp.",
          "type": "string"
        },
        "end": {
          "description": "The end time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp.",
          "type": "string"
        },
        "query": {
          "description": "A PromQL query string. Query language documentation: https://prometheus.io/docs/prometheus/latest/querying/basics/.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AlertChart": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The resource name of the alert policy. The format is: projects/[PROJECT_ID_OR_NUMBER]/alertPolicies/[ALERT_POLICY_ID] "
        }
      },
      "type": "object",
      "id": "AlertChart",
      "description": "A chart that displays alert policy data."
    },
    "RowLayout": {
      "description": "A simplified layout that divides the available space into rows and arranges a set of widgets horizontally in each row.",
      "id": "RowLayout",
      "type": "object",
      "properties": {
        "rows": {
          "description": "The rows of content to display.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        }
      }
    },
    "Aggregation": {
      "type": "object",
      "properties": {
        "groupByFields": {
          "description": "The set of fields to preserve when cross_series_reducer is specified. The group_by_fields determine how the time series are partitioned into subsets prior to applying the aggregation operation. Each subset contains time series that have the same value for each of the grouping fields. Each individual time series is a member of exactly one subset. The cross_series_reducer is applied to each subset of time series. It is not possible to reduce across different resource types, so this field implicitly contains resource.type. Fields not specified in group_by_fields are aggregated away. If group_by_fields is not specified and all the time series have the same resource type, then the time series are aggregated into a single output time series. If cross_series_reducer is not defined, this field is ignored.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "crossSeriesReducer": {
          "enum": [
            "REDUCE_NONE",
            "REDUCE_MEAN",
            "REDUCE_MIN",
            "REDUCE_MAX",
            "REDUCE_SUM",
            "REDUCE_STDDEV",
            "REDUCE_COUNT",
            "REDUCE_COUNT_TRUE",
            "REDUCE_COUNT_FALSE",
            "REDUCE_FRACTION_TRUE",
            "REDUCE_PERCENTILE_99",
            "REDUCE_PERCENTILE_95",
            "REDUCE_PERCENTILE_50",
            "REDUCE_PERCENTILE_05"
          ],
          "description": "The reduction operation to be used to combine time series into a single time series, where the value of each data point in the resulting series is a function of all the already aligned values in the input time series.Not all reducer operations can be applied to all time series. The valid choices depend on the metric_kind and the value_type of the original time series. Reduction can yield a time series with a different metric_kind or value_type than the input time series.Time series data must first be aligned (see per_series_aligner) in order to perform cross-time series reduction. If cross_series_reducer is specified, then per_series_aligner must be specified, and must not be ALIGN_NONE. An alignment_period must also be specified; otherwise, an error is returned.",
          "type": "string",
          "enumDescriptions": [
            "No cross-time series reduction. The output of the Aligner is returned.",
            "Reduce by computing the mean value across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics with numeric or distribution values. The value_type of the output is DOUBLE.",
            "Reduce by computing the minimum value across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics with numeric values. The value_type of the output is the same as the value_type of the input.",
            "Reduce by computing the maximum value across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics with numeric values. The value_type of the output is the same as the value_type of the input.",
            "Reduce by computing the sum across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics with numeric and distribution values. The value_type of the output is the same as the value_type of the input.",
            "Reduce by computing the standard deviation across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics with numeric or distribution values. The value_type of the output is DOUBLE.",
            "Reduce by computing the number of data points across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics of numeric, Boolean, distribution, and string value_type. The value_type of the output is INT64.",
            "Reduce by computing the number of True-valued data points across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics of Boolean value_type. The value_type of the output is INT64.",
            "Reduce by computing the number of False-valued data points across time series for each alignment period. This reducer is valid for DELTA and GAUGE metrics of Boolean value_type. The value_type of the output is INT64.",
            "Reduce by computing the ratio of the number of True-valued data points to the total number of data points for each alignment period. This reducer is valid for DELTA and GAUGE metrics of Boolean value_type. The output value is in the range 0.0, 1.0 and has value_type DOUBLE.",
            "Reduce by computing the 99th percentile (https://en.wikipedia.org/wiki/Percentile) of data points across time series for each alignment period. This reducer is valid for GAUGE and DELTA metrics of numeric and distribution type. The value of the output is DOUBLE.",
            "Reduce by computing the 95th percentile (https://en.wikipedia.org/wiki/Percentile) of data points across time series for each alignment period. This reducer is valid for GAUGE and DELTA metrics of numeric and distribution type. The value of the output is DOUBLE.",
            "Reduce by computing the 50th percentile (https://en.wikipedia.org/wiki/Percentile) of data points across time series for each alignment period. This reducer is valid for GAUGE and DELTA metrics of numeric and distribution type. The value of the output is DOUBLE.",
            "Reduce by computing the 5th percentile (https://en.wikipedia.org/wiki/Percentile) of data points across time series for each alignment period. This reducer is valid for GAUGE and DELTA metrics of numeric and distribution type. The value of the output is DOUBLE."
          ]
        },
        "perSeriesAligner": {
          "enumDescriptions": [
            "No alignment. Raw data is returned. Not valid if cross-series reduction is requested. The value_type of the result is the same as the value_type of the input.",
            "Align and convert to DELTA. The output is delta = y1 - y0.This alignment is valid for CUMULATIVE and DELTA metrics. If the selected alignment period results in periods with no data, then the aligned value for such a period is created by interpolation. The value_type of the aligned result is the same as the value_type of the input.",
            "Align and convert to a rate. The result is computed as rate = (y1 - y0)/(t1 - t0), or \"delta over time\". Think of this aligner as providing the slope of the line that passes through the value at the start and at the end of the alignment_period.This aligner is valid for CUMULATIVE and DELTA metrics with numeric values. If the selected alignment period results in periods with no data, then the aligned value for such a period is created by interpolation. The output is a GAUGE metric with value_type DOUBLE.If, by \"rate\", you mean \"percentage change\", see the ALIGN_PERCENT_CHANGE aligner instead.",
            "Align by interpolating between adjacent points around the alignment period boundary. This aligner is valid for GAUGE metrics with numeric values. The value_type of the aligned result is the same as the value_type of the input.",
            "Align by moving the most recent data point before the end of the alignment period to the boundary at the end of the alignment period. This aligner is valid for GAUGE metrics. The value_type of the aligned result is the same as the value_type of the input.",
            "Align the time series by returning the minimum value in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric values. The value_type of the aligned result is the same as the value_type of the input.",
            "Align the time series by returning the maximum value in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric values. The value_type of the aligned result is the same as the value_type of the input.",
            "Align the time series by returning the mean value in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric values. The value_type of the aligned result is DOUBLE.",
            "Align the time series by returning the number of values in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric or Boolean values. The value_type of the aligned result is INT64.",
            "Align the time series by returning the sum of the values in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric and distribution values. The value_type of the aligned result is the same as the value_type of the input.",
            "Align the time series by returning the standard deviation of the values in each alignment period. This aligner is valid for GAUGE and DELTA metrics with numeric values. The value_type of the output is DOUBLE.",
            "Align the time series by returning the number of True values in each alignment period. This aligner is valid for GAUGE metrics with Boolean values. The value_type of the output is INT64.",
            "Align the time series by returning the number of False values in each alignment period. This aligner is valid for GAUGE metrics with Boolean values. The value_type of the output is INT64.",
            "Align the time series by returning the ratio of the number of True values to the total number of values in each alignment period. This aligner is valid for GAUGE metrics with Boolean values. The output value is in the range 0.0, 1.0 and has value_type DOUBLE.",
            "Align the time series by using percentile aggregation (https://en.wikipedia.org/wiki/Percentile). The resulting data point in each alignment period is the 99th percentile of all data points in the period. This aligner is valid for GAUGE and DELTA metrics with distribution values. The output is a GAUGE metric with value_type DOUBLE.",
            "Align the time series by using percentile aggregation (https://en.wikipedia.org/wiki/Percentile). The resulting data point in each alignment period is the 95th percentile of all data points in the period. This aligner is valid for GAUGE and DELTA metrics with distribution values. The output is a GAUGE metric with value_type DOUBLE.",
            "Align the time series by using percentile aggregation (https://en.wikipedia.org/wiki/Percentile). The resulting data point in each alignment period is the 50th percentile of all data points in the period. This aligner is valid for GAUGE and DELTA metrics with distribution values. The output is a GAUGE metric with value_type DOUBLE.",
            "Align the time series by using percentile aggregation (https://en.wikipedia.org/wiki/Percentile). The resulting data point in each alignment period is the 5th percentile of all data points in the period. This aligner is valid for GAUGE and DELTA metrics with distribution values. The output is a GAUGE metric with value_type DOUBLE.",
            "Align and convert to a percentage change. This aligner is valid for GAUGE and DELTA metrics with numeric values. This alignment returns ((current - previous)/previous) * 100, where the value of previous is determined based on the alignment_period.If the values of current and previous are both 0, then the returned value is 0. If only previous is 0, the returned value is infinity.A 10-minute moving mean is computed at each point of the alignment period prior to the above calculation to smooth the metric and prevent false positives from very short-lived spikes. The moving mean is only applicable for data whose values are >= 0. Any values < 0 are treated as a missing datapoint, and are ignored. While DELTA metrics are accepted by this alignment, special care should be taken that the values for the metric will always be positive. The output is a GAUGE metric with value_type DOUBLE."
          ],
          "enum": [
            "ALIGN_NONE",
            "ALIGN_DELTA",
            "ALIGN_RATE",
            "ALIGN_INTERPOLATE",
            "ALIGN_NEXT_OLDER",
            "ALIGN_MIN",
            "ALIGN_MAX",
            "ALIGN_MEAN",
            "ALIGN_COUNT",
            "ALIGN_SUM",
            "ALIGN_STDDEV",
            "ALIGN_COUNT_TRUE",
            "ALIGN_COUNT_FALSE",
            "ALIGN_FRACTION_TRUE",
            "ALIGN_PERCENTILE_99",
            "ALIGN_PERCENTILE_95",
            "ALIGN_PERCENTILE_50",
            "ALIGN_PERCENTILE_05",
            "ALIGN_PERCENT_CHANGE"
          ],
          "type": "string",
          "description": "An Aligner describes how to bring the data points in a single time series into temporal alignment. Except for ALIGN_NONE, all alignments cause all the data points in an alignment_period to be mathematically grouped together, resulting in a single data point for each alignment_period with end timestamp at the end of the period.Not all alignment operations may be applied to all time series. The valid choices depend on the metric_kind and value_type of the original time series. Alignment can change the metric_kind or the value_type of the time series.Time series data must be aligned in order to perform cross-time series reduction. If cross_series_reducer is specified, then per_series_aligner must be specified and not equal to ALIGN_NONE and alignment_period must be specified; otherwise, an error is returned."
        },
        "alignmentPeriod": {
          "format": "google-duration",
          "type": "string",
          "description": "The alignment_period specifies a time interval, in seconds, that is used to divide the data in all the time series into consistent blocks of time. This will be done before the per-series aligner can be applied to the data.The value must be at least 60 seconds. If a per-series aligner other than ALIGN_NONE is specified, this field is required or an error is returned. If no per-series aligner is specified, or the aligner ALIGN_NONE is specified, then this field is ignored.The maximum value of the alignment_period is 2 years, or 104 weeks."
        }
      },
      "description": "Describes how to combine multiple time series to provide a different view of the data. Aggregation of time series is done in two steps. First, each time series in the set is aligned to the same time interval boundaries, then the set of time series is optionally reduced in number.Alignment consists of applying the per_series_aligner operation to each time series after its data has been divided into regular alignment_period time intervals. This process takes all of the data points in an alignment period, applies a mathematical transformation such as averaging, minimum, maximum, delta, etc., and converts them into a single data point per period.Reduction is when the aligned and transformed time series can optionally be combined, reducing the number of time series through similar mathematical transformations. Reduction involves applying a cross_series_reducer to all the time series, optionally sorting the time series into subsets with group_by_fields, and applying the reducer to each subset.The raw time series data can contain a huge amount of information from multiple sources. Alignment and reduction transforms this mass of data into a more manageable and representative collection of data, for example \"the 95% latency across the average of all tasks in a cluster\". This representative data can be more easily graphed and comprehended, and the individual time series data is still available for later drilldown. For more details, see Filtering and aggregation (https://cloud.google.com/monitoring/api/v3/aggregation).",
      "id": "Aggregation"
    },
    "FilterControl": {
      "type": "object",
      "id": "FilterControl",
      "description": "A widget that displays an input field to change the value of a template variable.",
      "properties": {
        "templateVariable": {
          "description": "Name of the template variable the widget affects.",
          "type": "string"
        }
      }
    },
    "GaugeView": {
      "properties": {
        "lowerBound": {
          "description": "The lower bound for this gauge chart. The value of the chart should always be greater than or equal to this.",
          "type": "number",
          "format": "double"
        },
        "upperBound": {
          "format": "double",
          "description": "The upper bound for this gauge chart. The value of the chart should always be less than or equal to this.",
          "type": "number"
        }
      },
      "description": "A gauge chart shows where the current value sits within a pre-defined range. The upper and lower bounds should define the possible range of values for the scorecard's query (inclusive).",
      "id": "GaugeView",
      "type": "object"
    },
    "MetricsScope": {
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when this Metrics Scope record was last updated.",
          "readOnly": true
        },
        "monitoredProjects": {
          "items": {
            "$ref": "MonitoredProject"
          },
          "type": "array",
          "description": "Output only. The list of projects monitored by this Metrics Scope.",
          "readOnly": true
        },
        "name": {
          "description": "Immutable. The resource name of the Monitoring Metrics Scope. On input, the resource name can be specified with the scoping project ID or number. On output, the resource name is specified with the scoping project number. Example: locations/global/metricsScopes/{SCOPING_PROJECT_ID_OR_NUMBER}",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when this Metrics Scope was created."
        }
      },
      "description": "Represents a Metrics Scope (https://cloud.google.com/monitoring/settings#concept-scope) in Cloud Monitoring, which specifies one or more Google projects and zero or more AWS accounts to monitor together.",
      "id": "MetricsScope"
    },
    "PieChartDataSet": {
      "description": "Groups a time series query definition.",
      "id": "PieChartDataSet",
      "properties": {
        "minAlignmentPeriod": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The lower bound on data point frequency for this data set, implemented by specifying the minimum alignment period to use in a time series query. For example, if the data is published once every 10 minutes, the min_alignment_period should be at least 10 minutes. It would not make sense to fetch and align data at one minute intervals."
        },
        "timeSeriesQuery": {
          "$ref": "TimeSeriesQuery",
          "description": "Required. The query for the PieChart. See, google.monitoring.dashboard.v1.TimeSeriesQuery."
        },
        "measures": {
          "items": {
            "$ref": "Measure"
          },
          "type": "array",
          "description": "A measure is a measured value of a property in your data. For example, rainfall in inches, number of units sold, revenue gained, etc."
        },
        "sliceNameTemplate": {
          "type": "string",
          "description": "Optional. A template for the name of the slice. This name will be displayed in the legend and the tooltip of the pie chart. It replaces the auto-generated names for the slices. For example, if the template is set to ${resource.labels.zone}, the zone's value will be used for the name instead of the default name."
        },
        "dimensions": {
          "description": "A dimension is a structured label, class, or category for a set of measurements in your data.",
          "items": {
            "$ref": "Dimension"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "TimeSeriesFilter": {
      "type": "object",
      "id": "TimeSeriesFilter",
      "description": "A filter that defines a subset of time series data that is displayed in a widget. Time series data is fetched using the ListTimeSeries (https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.timeSeries/list) method.",
      "properties": {
        "pickTimeSeriesFilter": {
          "$ref": "PickTimeSeriesFilter",
          "description": "Ranking based time series filter."
        },
        "filter": {
          "type": "string",
          "description": "Required. The monitoring filter (https://cloud.google.com/monitoring/api/v3/filters) that identifies the metric types, resources, and projects to query."
        },
        "aggregation": {
          "$ref": "Aggregation",
          "description": "By default, the raw time series data is returned. Use this field to combine multiple time series for different views of the data."
        },
        "secondaryAggregation": {
          "description": "Apply a second aggregation after aggregation is applied.",
          "$ref": "Aggregation"
        },
        "statisticalTimeSeriesFilter": {
          "description": "Statistics based time series filter. Note: This field is deprecated and completely ignored by the API.",
          "deprecated": true,
          "$ref": "StatisticalTimeSeriesFilter"
        }
      }
    },
    "MosaicLayout": {
      "id": "MosaicLayout",
      "properties": {
        "tiles": {
          "description": "The tiles to display.",
          "type": "array",
          "items": {
            "$ref": "Tile"
          }
        },
        "columns": {
          "description": "The number of columns in the mosaic grid. The number of columns must be between 1 and 48, inclusive.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "A mosaic layout divides the available space into a grid of blocks, and overlays the grid with tiles. Unlike GridLayout, tiles may span multiple grid blocks and can be placed at arbitrary locations in the grid."
    },
    "TimeRange": {
      "description": "Represents a time range.",
      "type": "object",
      "properties": {
        "relativeDuration": {
          "format": "google-duration",
          "description": "Optional. Specifies the duration used to shift the data relative to current time as the end time. The duration must be positive.",
          "type": "string"
        },
        "absoluteWindow": {
          "description": "Optional. Represents a time range with absolute start and end times. The start time is inclusive, and the end time is exclusive.",
          "$ref": "Interval"
        }
      },
      "id": "TimeRange"
    },
    "Column": {
      "description": "Defines the layout properties and content for a column.",
      "id": "Column",
      "type": "object",
      "properties": {
        "widgets": {
          "items": {
            "$ref": "Widget"
          },
          "type": "array",
          "description": "The display widgets arranged vertically in this column."
        },
        "weight": {
          "description": "The relative weight of this column. The column weight is used to adjust the width of columns on the screen (relative to peers). Greater the weight, greater the width of the column on the screen. If omitted, a value of 1 is used while rendering.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "QuerySeriesRequest": {
      "description": "QuerySeries holds all parameters of the Prometheus upstream API for querying series.",
      "properties": {
        "end": {
          "type": "string",
          "description": "The end time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp."
        },
        "start": {
          "type": "string",
          "description": "The start time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp."
        }
      },
      "id": "QuerySeriesRequest",
      "type": "object"
    },
    "TimeSeriesTable": {
      "properties": {
        "dataSets": {
          "description": "Required. The data displayed in this table.",
          "items": {
            "$ref": "TableDataSet"
          },
          "type": "array"
        },
        "columnSettings": {
          "description": "Optional. The list of the persistent column settings for the table.",
          "items": {
            "$ref": "ColumnSettings"
          },
          "type": "array"
        },
        "metricVisualization": {
          "description": "Optional. Store rendering strategy",
          "enumDescriptions": [
            "Unspecified state",
            "Default text rendering",
            "Horizontal bar rendering"
          ],
          "type": "string",
          "enum": [
            "METRIC_VISUALIZATION_UNSPECIFIED",
            "NUMBER",
            "BAR"
          ]
        }
      },
      "type": "object",
      "id": "TimeSeriesTable",
      "description": "A table that displays time series data."
    },
    "DataSet": {
      "id": "DataSet",
      "description": "Groups a time series query definition with charting options.",
      "type": "object",
      "properties": {
        "measures": {
          "type": "array",
          "items": {
            "$ref": "Measure"
          },
          "description": "Optional. A collection of measures."
        },
        "sort": {
          "items": {
            "$ref": "ColumnSortingOptions"
          },
          "description": "Optional. A collection of sort options, affects the order of the data and legend.",
          "type": "array"
        },
        "timeSeriesQuery": {
          "description": "Required. Fields for querying time series data from the Stackdriver metrics API.",
          "$ref": "TimeSeriesQuery"
        },
        "targetAxis": {
          "type": "string",
          "description": "Optional. The target axis to use for plotting the metric.",
          "enumDescriptions": [
            "The target axis was not specified. Defaults to Y1.",
            "The y_axis (the right axis of chart).",
            "The y2_axis (the left axis of chart)."
          ],
          "enum": [
            "TARGET_AXIS_UNSPECIFIED",
            "Y1",
            "Y2"
          ]
        },
        "breakdowns": {
          "description": "Optional. The collection of breakdowns to be applied to the dataset.",
          "type": "array",
          "items": {
            "$ref": "Breakdown"
          }
        },
        "plotType": {
          "enumDescriptions": [
            "Plot type is unspecified. The view will default to LINE.",
            "The data is plotted as a set of lines (one line per series).",
            "The data is plotted as a set of filled areas (one area per series), with the areas stacked vertically (the base of each area is the top of its predecessor, and the base of the first area is the x-axis). Since the areas do not overlap, each is filled with a different opaque color.",
            "The data is plotted as a set of rectangular boxes (one box per series), with the boxes stacked vertically (the base of each box is the top of its predecessor, and the base of the first box is the x-axis). Since the boxes do not overlap, each is filled with a different opaque color.",
            "The data is plotted as a heatmap. The series being plotted must have a DISTRIBUTION value type. The value of each bucket in the distribution is displayed as a color. This type is not currently available in the Stackdriver Monitoring application."
          ],
          "type": "string",
          "description": "How this data should be plotted on the chart.",
          "enum": [
            "PLOT_TYPE_UNSPECIFIED",
            "LINE",
            "STACKED_AREA",
            "STACKED_BAR",
            "HEATMAP"
          ]
        },
        "minAlignmentPeriod": {
          "type": "string",
          "description": "Optional. The lower bound on data point frequency for this data set, implemented by specifying the minimum alignment period to use in a time series query. For example, if the data is published once every 10 minutes, the min_alignment_period should be at least 10 minutes. It would not make sense to fetch and align data at one minute intervals.For PromQL queries, this field is used to set the minimum interval for the query step, controlling data granularity. Larger values can improve performance on long time ranges. See Querying Basics and Range Queries for more details on the PromQL step.",
          "format": "google-duration"
        },
        "legendTemplate": {
          "description": "A template string for naming TimeSeries in the resulting data set. This should be a string with interpolations of the form ${label_name}, which will resolve to the label's value.",
          "type": "string"
        },
        "dimensions": {
          "description": "Optional. A collection of dimension columns.",
          "items": {
            "$ref": "Dimension"
          },
          "type": "array"
        }
      }
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      },
      "id": "Status",
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "Treemap": {
      "type": "object",
      "description": "A widget that displays hierarchical data as a treemap.",
      "properties": {
        "dataSets": {
          "items": {
            "$ref": "TreemapDataSet"
          },
          "description": "Required. The collection of datasets used to construct and populate the treemap. For the rendered treemap rectangles: Color is determined by the aggregated value for each grouping. Size is proportional to the count of time series aggregated within that rectangle's segment.",
          "type": "array"
        },
        "treemapHierarchy": {
          "description": "Required. Ordered labels representing the hierarchical treemap structure.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Treemap"
    },
    "Measure": {
      "id": "Measure",
      "description": "A chart measure. Measures represent a measured property in your chart data such as rainfall in inches, number of units sold, revenue gained, etc.",
      "type": "object",
      "properties": {
        "column": {
          "type": "string",
          "description": "Required. The column name within in the dataset used for the measure."
        },
        "aggregationFunction": {
          "$ref": "AggregationFunction",
          "description": "Required. The aggregation function applied to the input column. This must not be set to \"none\" unless binning is disabled on the dimension. The aggregation function is used to group points on the dimension bins."
        }
      }
    },
    "SingleViewGroup": {
      "id": "SingleViewGroup",
      "properties": {
        "displayType": {
          "enum": [
            "DISPLAY_TYPE_UNSPECIFIED",
            "DROPDOWN",
            "TAB"
          ],
          "description": "Optional. Determines how the widget selector will be displayed.",
          "type": "string",
          "enumDescriptions": [
            "Display type is not specified, defaults to DROPDOWN.",
            "Renders the widget selector as a dropdown.",
            "Renders the widget selector as a tab list."
          ]
        }
      },
      "description": "A widget that groups the other widgets by using a dropdown menu. All widgets that are within the area spanned by the grouping widget are considered member widgets.",
      "type": "object"
    },
    "TableDisplayOptions": {
      "description": "Table display options that can be reused.",
      "id": "TableDisplayOptions",
      "type": "object",
      "properties": {
        "shownColumns": {
          "items": {
            "type": "string"
          },
          "deprecated": true,
          "type": "array",
          "description": "Optional. This field is unused and has been replaced by TimeSeriesTable.column_settings"
        }
      }
    },
    "ColumnSortingOptions": {
      "properties": {
        "direction": {
          "enumDescriptions": [
            "An unspecified sort order. This option is invalid when sorting is required.",
            "No sorting is applied.",
            "The lowest-valued entries are selected first.",
            "The highest-valued entries are selected first."
          ],
          "description": "Optional. A sorting direction that determines ascending or descending order. This is a legacy field kept for backwards compatibility with table.",
          "enum": [
            "SORT_ORDER_UNSPECIFIED",
            "SORT_ORDER_NONE",
            "SORT_ORDER_ASCENDING",
            "SORT_ORDER_DESCENDING"
          ],
          "type": "string"
        },
        "column": {
          "description": "Optional. Column name to sort data by",
          "type": "string"
        }
      },
      "description": "Data structure to storing column's sort strategy",
      "id": "ColumnSortingOptions",
      "type": "object"
    },
    "TraceQuery": {
      "id": "TraceQuery",
      "description": "LINT.IfChange Preview: Query for traces. This is a preview feature and may be subject to change before final release.",
      "type": "object",
      "properties": {
        "spanFilters": {
          "description": "First version of span filtering that we will support. Required.",
          "$ref": "SpanFilters"
        },
        "spanDataValue": {
          "description": "The type of span data value to be displayed on the chart. Required.",
          "type": "string",
          "enumDescriptions": [
            "We are required to have an UNSPECIFIED value for enums. This should not be used in practice.",
            "Span count data value",
            "Span duration data value",
            "Span duration percentiles data value"
          ],
          "enum": [
            "SPAN_DATA_VALUE_UNSPECIFIED",
            "SPAN_COUNT",
            "SPAN_DURATION",
            "SPAN_DURATION_PERCENTILES"
          ]
        },
        "resourceContainer": {
          "description": "Optional. The resource name of the project or Trace scope to fetch data from. If empty, the widget will default to the project's default Trace scope. If scope cannot be determined, then we fallback to the current project. Optional.",
          "type": "string"
        }
      }
    },
    "QueryInstantRequest": {
      "description": "QueryInstantRequest holds all parameters of the Prometheus upstream instant query API plus GCM specific parameters.",
      "id": "QueryInstantRequest",
      "type": "object",
      "properties": {
        "time": {
          "type": "string",
          "description": "The single point in time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp."
        },
        "timeout": {
          "description": "An upper bound timeout for the query. Either a Prometheus duration string (https://prometheus.io/docs/prometheus/latest/querying/basics/#time-durations) or floating point seconds. This non-standard encoding must be used for compatibility with the open source API. Clients may still implement timeouts at the connection level while ignoring this field.",
          "type": "string"
        },
        "query": {
          "description": "A PromQL query string. Query language documentation: https://prometheus.io/docs/prometheus/latest/querying/basics/.",
          "type": "string"
        }
      }
    },
    "ErrorReportingPanel": {
      "type": "object",
      "description": "A widget that displays a list of error groups.",
      "properties": {
        "versions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Represents the source code version that the developer provided, which could represent a version label or a Git SHA-1 hash, for example. For App Engine standard environment, the version is set to the version of the app."
        },
        "services": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "An identifier of the service, such as the name of the executable, job, or Google App Engine service name. This field is expected to have a low number of values that are relatively stable over time, as opposed to version, which can be changed whenever new code is deployed.Contains the service name for error reports extracted from Google App Engine logs or default if the App Engine default service is used."
        },
        "projectNames": {
          "description": "The resource name of the Google Cloud Platform project. Written as projects/{projectID} or projects/{projectNumber}, where {projectID} and {projectNumber} can be found in the Google Cloud console (https://support.google.com/cloud/answer/6158840).Examples: projects/my-project-123, projects/5551234.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ErrorReportingPanel"
    },
    "CollapsibleGroup": {
      "type": "object",
      "id": "CollapsibleGroup",
      "description": "A widget that groups the other widgets. All widgets that are within the area spanned by the grouping widget are considered member widgets.",
      "properties": {
        "collapsed": {
          "type": "boolean",
          "description": "The collapsed state of the widget on first page load."
        }
      }
    },
    "PieChart": {
      "properties": {
        "dataSets": {
          "items": {
            "$ref": "PieChartDataSet"
          },
          "description": "Required. The queries for the chart's data.",
          "type": "array"
        },
        "showLabels": {
          "description": "Optional. Indicates whether or not the pie chart should show slices' labels",
          "type": "boolean"
        },
        "chartType": {
          "enum": [
            "PIE_CHART_TYPE_UNSPECIFIED",
            "PIE",
            "DONUT"
          ],
          "description": "Required. Indicates the visualization type for the PieChart.",
          "type": "string",
          "enumDescriptions": [
            "The zero value. No type specified. Do not use.",
            "A Pie type PieChart.",
            "Similar to PIE, but the DONUT type PieChart has a hole in the middle."
          ]
        }
      },
      "description": "A widget that displays timeseries data as a pie or a donut.",
      "type": "object",
      "id": "PieChart"
    },
    "QueryLabelsRequest": {
      "id": "QueryLabelsRequest",
      "properties": {
        "end": {
          "description": "The end time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp.",
          "type": "string"
        },
        "start": {
          "type": "string",
          "description": "The start time to evaluate the query for. Either floating point UNIX seconds or RFC3339 formatted timestamp."
        },
        "match": {
          "description": "A list of matchers encoded in the Prometheus label matcher format to constrain the values to series that satisfy them.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "QueryLabelsRequest holds all parameters of the Prometheus upstream API for returning a list of label names."
    },
    "Dashboard": {
      "id": "Dashboard",
      "properties": {
        "mosaicLayout": {
          "description": "The content is arranged as a grid of tiles, with each content widget occupying one or more grid blocks.",
          "$ref": "MosaicLayout"
        },
        "displayName": {
          "description": "Required. The mutable, human-readable name.",
          "type": "string"
        },
        "dashboardFilters": {
          "type": "array",
          "description": "Filters to reduce the amount of data charted based on the filter criteria.",
          "items": {
            "$ref": "DashboardFilter"
          }
        },
        "rowLayout": {
          "description": "The content is divided into equally spaced rows and the widgets are arranged horizontally.",
          "$ref": "RowLayout"
        },
        "annotations": {
          "description": "Configuration for event annotations to display on this dashboard.",
          "$ref": "DashboardAnnotations"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the dashboard."
        },
        "labels": {
          "description": "Labels applied to the dashboard",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "gridLayout": {
          "description": "Content is arranged with a basic layout that re-flows a simple list of informational elements like widgets or tiles.",
          "$ref": "GridLayout"
        },
        "etag": {
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. An etag is returned in the response to GetDashboard, and users are expected to put that etag in the request to UpdateDashboard to ensure that their change will be applied to the same version of the Dashboard configuration. The field should not be passed during dashboard creation.",
          "type": "string"
        },
        "columnLayout": {
          "$ref": "ColumnLayout",
          "description": "The content is divided into equally spaced columns and the widgets are arranged vertically."
        }
      },
      "type": "object",
      "description": "A Google Stackdriver dashboard. Dashboards define the content and layout of pages in the Stackdriver web application."
    },
    "Interval": {
      "type": "object",
      "id": "Interval",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive).The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "properties": {
        "endTime": {
          "description": "Optional. Exclusive end of the interval.If specified, a Timestamp matching this interval will have to be before the end.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Inclusive start of the interval.If specified, a Timestamp matching this interval will have to be the same or after the start."
        }
      }
    },
    "StringArray": {
      "type": "object",
      "description": "An array of strings",
      "properties": {
        "values": {
          "description": "The values of the array",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "StringArray"
    },
    "ChartOptions": {
      "id": "ChartOptions",
      "description": "Options to control visual rendering of a chart.",
      "properties": {
        "displayHorizontal": {
          "type": "boolean",
          "description": "Preview: Configures whether the charted values are shown on the horizontal or vertical axis. By default, values are represented the vertical axis. This is a preview feature and may be subject to change before final release."
        },
        "mode": {
          "description": "The chart mode.",
          "enum": [
            "MODE_UNSPECIFIED",
            "COLOR",
            "X_RAY",
            "STATS"
          ],
          "enumDescriptions": [
            "Mode is unspecified. The view will default to COLOR.",
            "The chart distinguishes data series using different color. Line colors may get reused when there are many lines in the chart.",
            "The chart uses the Stackdriver x-ray mode, in which each data set is plotted using the same semi-transparent color.",
            "The chart displays statistics such as average, median, 95th percentile, and more."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Tile": {
      "properties": {
        "xPos": {
          "type": "integer",
          "format": "int32",
          "description": "The zero-indexed position of the tile in grid blocks relative to the left edge of the grid. Tiles must be contained within the specified number of columns. x_pos cannot be negative."
        },
        "yPos": {
          "format": "int32",
          "description": "The zero-indexed position of the tile in grid blocks relative to the top edge of the grid. y_pos cannot be negative.",
          "type": "integer"
        },
        "widget": {
          "$ref": "Widget",
[...]
