{
  "documentationLink": "https://developers.google.com/my-business/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "PlaceActionLink": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the place action link was created.",
          "readOnly": true,
          "type": "string"
        },
        "placeActionType": {
          "enum": [
            "PLACE_ACTION_TYPE_UNSPECIFIED",
            "APPOINTMENT",
            "ONLINE_APPOINTMENT",
            "DINING_RESERVATION",
            "FOOD_ORDERING",
            "FOOD_DELIVERY",
            "FOOD_TAKEOUT",
            "SHOP_ONLINE",
            "SOLOPRENEUR_APPOINTMENT"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The action type is booking an appointment.",
            "The action type is booking an online appointment.",
            "The action type is making a dining reservation.",
            "The action type is ordering food for delivery and/or takeout.",
            "The action type is ordering food for delivery.",
            "The action type is ordering food for takeout.",
            "The action type is shopping, that can be delivery and/or pickup.",
            "The action type is booking an appointment with a Solopneuer partner."
          ],
          "type": "string",
          "description": "Required. The type of place action that can be performed using this link."
        },
        "uri": {
          "description": "Required. The link uri. The same uri can be reused for different action types across different locations. However, only one place action link is allowed for each unique combination of (uri, place action type, location).",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the place action link was last modified.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Optional. The resource name, in the format `locations/{location_id}/placeActionLinks/{place_action_link_id}`. The name field will only be considered in UpdatePlaceActionLink and DeletePlaceActionLink requests for updating and deleting links respectively. However, it will be ignored in CreatePlaceActionLink request, where `place_action_link_id` will be assigned by the server on successful creation of a new link and returned as part of the response."
        },
        "isPreferred": {
          "description": "Optional. Whether this link is preferred by the merchant. Only one link can be marked as preferred per place action type at a location. If a future request marks a different link as preferred for the same place action type, then the current preferred link (if any exists) will lose its preference.",
          "type": "boolean"
        },
        "isEditable": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether this link can be edited by the client."
        },
        "providerType": {
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "A 1P provider such as a merchant, or an agency on behalf of a merchant.",
            "A 3P aggregator, such as a `Reserve with Google` partner."
          ],
          "type": "string",
          "enum": [
            "PROVIDER_TYPE_UNSPECIFIED",
            "MERCHANT",
            "AGGREGATOR_3P"
          ],
          "description": "Output only. Specifies the provider type."
        }
      },
      "type": "object",
      "description": "Represents a place action link and its attributes.",
      "id": "PlaceActionLink"
    },
    "ListPlaceActionTypeMetadataResponse": {
      "properties": {
        "placeActionTypeMetadata": {
          "items": {
            "$ref": "PlaceActionTypeMetadata"
          },
          "type": "array",
          "description": "A collection of metadata for the available place action types."
        },
        "nextPageToken": {
          "description": "If the number of action types exceeded the requested page size, this field will be populated with a token to fetch the next page on a subsequent call to `placeActionTypeMetadata.list`. If there are no more results, this field will not be present in the response.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for PlaceActions.ListPlaceActionTypeMetadata.",
      "id": "ListPlaceActionTypeMetadataResponse"
    },
    "PlaceActionTypeMetadata": {
      "id": "PlaceActionTypeMetadata",
      "description": "Metadata for supported place action types.",
      "type": "object",
      "properties": {
        "placeActionType": {
          "enum": [
            "PLACE_ACTION_TYPE_UNSPECIFIED",
            "APPOINTMENT",
            "ONLINE_APPOINTMENT",
            "DINING_RESERVATION",
            "FOOD_ORDERING",
            "FOOD_DELIVERY",
            "FOOD_TAKEOUT",
            "SHOP_ONLINE",
            "SOLOPRENEUR_APPOINTMENT"
          ],
          "description": "The place action type.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The action type is booking an appointment.",
            "The action type is booking an online appointment.",
            "The action type is making a dining reservation.",
            "The action type is ordering food for delivery and/or takeout.",
            "The action type is ordering food for delivery.",
            "The action type is ordering food for takeout.",
            "The action type is shopping, that can be delivery and/or pickup.",
            "The action type is booking an appointment with a Solopneuer partner."
          ]
        },
        "displayName": {
          "type": "string",
          "description": "The localized display name for the attribute, if available; otherwise, the English display name."
        }
      }
    },
    "ListPlaceActionLinksResponse": {
      "id": "ListPlaceActionLinksResponse",
      "type": "object",
      "description": "Response message for PlaceActions.ListPlaceActionLinks.",
      "properties": {
        "placeActionLinks": {
          "type": "array",
          "description": "The returned list of place action links.",
          "items": {
            "$ref": "PlaceActionLink"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there are more place action links than the requested page size, then this field is populated with a token to fetch the next page of results."
        }
      }
    }
  },
  "description": "The My Business Place Actions API provides an interface for managing place action links of a location on Google. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "batchPath": "batch",
  "baseUrl": "https://mybusinessplaceactions.googleapis.com/",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "version_module": true,
  "title": "My Business Place Actions API",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "default": "json"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "locations": {
      "resources": {
        "placeActionLinks": {
          "methods": {
            "patch": {
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "Required. The specific fields to update. The only editable fields are `uri`, `place_action_type` and `is_preferred`. If the updated link already exists at the same location with the same `place_action_type` and `uri`, fails with an `ALREADY_EXISTS` error."
                },
                "name": {
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$",
                  "location": "path",
                  "description": "Optional. The resource name, in the format `locations/{location_id}/placeActionLinks/{place_action_link_id}`. The name field will only be considered in UpdatePlaceActionLink and DeletePlaceActionLink requests for updating and deleting links respectively. However, it will be ignored in CreatePlaceActionLink request, where `place_action_link_id` will be assigned by the server on successful creation of a new link and returned as part of the response.",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "PlaceActionLink"
              },
              "description": "Updates the specified place action link and returns it.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "PlaceActionLink"
              },
              "path": "v1/{+name}",
              "id": "mybusinessplaceactions.locations.placeActionLinks.patch",
              "httpMethod": "PATCH",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the place action link to fetch."
                }
              },
              "id": "mybusinessplaceactions.locations.placeActionLinks.get",
              "path": "v1/{+name}",
              "response": {
                "$ref": "PlaceActionLink"
              },
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}",
              "description": "Gets the specified place action link.",
              "httpMethod": "GET"
            },
            "create": {
              "description": "Creates a place action link associated with the specified location, and returns it. The request is considered duplicate if the `parent`, `place_action_link.uri` and `place_action_link.place_action_type` are the same as a previous request.",
              "id": "mybusinessplaceactions.locations.placeActionLinks.create",
              "parameters": {
                "parent": {
                  "pattern": "^locations/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name of the location where to create this place action link. `locations/{location_id}`.",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/placeActionLinks",
              "httpMethod": "POST",
              "request": {
                "$ref": "PlaceActionLink"
              },
              "response": {
                "$ref": "PlaceActionLink"
              },
              "flatPath": "v1/locations/{locationsId}/placeActionLinks"
            },
            "list": {
              "id": "mybusinessplaceactions.locations.placeActionLinks.list",
              "httpMethod": "GET",
              "path": "v1/{+parent}/placeActionLinks",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the place action links for the specified location.",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks",
              "parameters": {
                "filter": {
                  "description": "Optional. A filter constraining the place action links to return. The response includes entries that match the filter. We support only the following filter: 1. place_action_type=XYZ where XYZ is a valid PlaceActionType.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. How many place action links to return per page. Default of 10. The minimum is 1."
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the location whose place action links will be listed. `locations/{location_id}`.",
                  "pattern": "^locations/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. If specified, returns the next page of place action links."
                }
              },
              "response": {
                "$ref": "ListPlaceActionLinksResponse"
              }
            },
            "delete": {
              "description": "Deletes a place action link from the specified location.",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$",
                  "description": "Required. The resource name of the place action link to remove from the location.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "id": "mybusinessplaceactions.locations.placeActionLinks.delete",
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}"
            }
          }
        }
      }
    },
    "placeActionTypeMetadata": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListPlaceActionTypeMetadataResponse"
          },
          "path": "v1/placeActionTypeMetadata",
          "parameters": {
            "languageCode": {
              "type": "string",
              "description": "Optional. The IETF BCP-47 code of language to get display names in. If this language is not available, they will be provided in English.",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Optional. How many action types to include per page. Default is 10, minimum is 1."
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. If specified, the next page of place action type metadata is retrieved. The `pageToken` is returned when a call to `placeActionTypeMetadata.list` returns more results than can fit into the requested page size.",
              "location": "query"
            },
            "filter": {
              "description": "Optional. A filter constraining the place action types to return metadata for. The response includes entries that match the filter. We support only the following filters: 1. location=XYZ where XYZ is a string indicating the resource name of a location, in the format `locations/{location_id}`. 2. region_code=XYZ where XYZ is a Unicode CLDR region code to find available action types. If no filter is provided, all place action types are returned.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "v1/placeActionTypeMetadata",
          "description": "Returns the list of available place action types for a location or country.",
          "id": "mybusinessplaceactions.placeActionTypeMetadata.list",
          "parameterOrder": [],
          "httpMethod": "GET"
        }
      }
    }
  },
  "mtlsRootUrl": "https://mybusinessplaceactions.mtls.googleapis.com/",
  "id": "mybusinessplaceactions:v1",
  "rootUrl": "https://mybusinessplaceactions.googleapis.com/",
  "version": "v1",
  "canonicalName": "My Business Place Actions",
  "name": "mybusinessplaceactions",
  "revision": "20260923",
  "basePath": ""
}