{
  "baseUrl": "https://mybusinessplaceactions.googleapis.com/",
  "version": "v1",
  "mtlsRootUrl": "https://mybusinessplaceactions.mtls.googleapis.com/",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "rootUrl": "https://mybusinessplaceactions.googleapis.com/",
  "version_module": true,
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developers.google.com/my-business/",
  "title": "My Business Place Actions API",
  "description": "The My Business Place Actions API provides an interface for managing place action links of a location on Google. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "id": "mybusinessplaceactions:v1",
  "servicePath": "",
  "revision": "20260930",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "My Business Place Actions",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "name": "mybusinessplaceactions",
  "protocol": "rest",
  "schemas": {
    "PlaceActionTypeMetadata": {
      "properties": {
        "displayName": {
          "description": "The localized display name for the attribute, if available; otherwise, the English display name.",
          "type": "string"
        },
        "placeActionType": {
          "type": "string",
          "description": "The place action type.",
          "enum": [
            "PLACE_ACTION_TYPE_UNSPECIFIED",
            "APPOINTMENT",
            "ONLINE_APPOINTMENT",
            "DINING_RESERVATION",
            "FOOD_ORDERING",
            "FOOD_DELIVERY",
            "FOOD_TAKEOUT",
            "SHOP_ONLINE",
            "SOLOPRENEUR_APPOINTMENT"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The action type is booking an appointment.",
            "The action type is booking an online appointment.",
            "The action type is making a dining reservation.",
            "The action type is ordering food for delivery and/or takeout.",
            "The action type is ordering food for delivery.",
            "The action type is ordering food for takeout.",
            "The action type is shopping, that can be delivery and/or pickup.",
            "The action type is booking an appointment with a Solopneuer partner."
          ]
        }
      },
      "description": "Metadata for supported place action types.",
      "type": "object",
      "id": "PlaceActionTypeMetadata"
    },
    "ListPlaceActionLinksResponse": {
      "type": "object",
      "id": "ListPlaceActionLinksResponse",
      "description": "Response message for PlaceActions.ListPlaceActionLinks.",
      "properties": {
        "nextPageToken": {
          "description": "If there are more place action links than the requested page size, then this field is populated with a token to fetch the next page of results.",
          "type": "string"
        },
        "placeActionLinks": {
          "type": "array",
          "items": {
            "$ref": "PlaceActionLink"
          },
          "description": "The returned list of place action links."
        }
      }
    },
    "ListPlaceActionTypeMetadataResponse": {
      "description": "Response message for PlaceActions.ListPlaceActionTypeMetadata.",
      "id": "ListPlaceActionTypeMetadataResponse",
      "properties": {
        "nextPageToken": {
          "description": "If the number of action types exceeded the requested page size, this field will be populated with a token to fetch the next page on a subsequent call to `placeActionTypeMetadata.list`. If there are no more results, this field will not be present in the response.",
          "type": "string"
        },
        "placeActionTypeMetadata": {
          "description": "A collection of metadata for the available place action types.",
          "type": "array",
          "items": {
            "$ref": "PlaceActionTypeMetadata"
          }
        }
      },
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "PlaceActionLink": {
      "description": "Represents a place action link and its attributes.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. The link uri. The same uri can be reused for different action types across different locations. However, only one place action link is allowed for each unique combination of (uri, place action type, location)."
        },
        "name": {
          "description": "Optional. The resource name, in the format `locations/{location_id}/placeActionLinks/{place_action_link_id}`. The name field will only be considered in UpdatePlaceActionLink and DeletePlaceActionLink requests for updating and deleting links respectively. However, it will be ignored in CreatePlaceActionLink request, where `place_action_link_id` will be assigned by the server on successful creation of a new link and returned as part of the response.",
          "type": "string"
        },
        "isEditable": {
          "description": "Output only. Indicates whether this link can be edited by the client.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. The time when the place action link was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "providerType": {
          "description": "Output only. Specifies the provider type.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "A 1P provider such as a merchant, or an agency on behalf of a merchant.",
            "A 3P aggregator, such as a `Reserve with Google` partner."
          ],
          "enum": [
            "PROVIDER_TYPE_UNSPECIFIED",
            "MERCHANT",
            "AGGREGATOR_3P"
          ]
        },
        "placeActionType": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The action type is booking an appointment.",
            "The action type is booking an online appointment.",
            "The action type is making a dining reservation.",
            "The action type is ordering food for delivery and/or takeout.",
            "The action type is ordering food for delivery.",
            "The action type is ordering food for takeout.",
            "The action type is shopping, that can be delivery and/or pickup.",
            "The action type is booking an appointment with a Solopneuer partner."
          ],
          "description": "Required. The type of place action that can be performed using this link.",
          "enum": [
            "PLACE_ACTION_TYPE_UNSPECIFIED",
            "APPOINTMENT",
            "ONLINE_APPOINTMENT",
            "DINING_RESERVATION",
            "FOOD_ORDERING",
            "FOOD_DELIVERY",
            "FOOD_TAKEOUT",
            "SHOP_ONLINE",
            "SOLOPRENEUR_APPOINTMENT"
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the place action link was last modified.",
          "type": "string"
        },
        "isPreferred": {
          "description": "Optional. Whether this link is preferred by the merchant. Only one link can be marked as preferred per place action type at a location. If a future request marks a different link as preferred for the same place action type, then the current preferred link (if any exists) will lose its preference.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "PlaceActionLink"
    }
  },
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "resources": {
    "placeActionTypeMetadata": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ListPlaceActionTypeMetadataResponse"
          },
          "flatPath": "v1/placeActionTypeMetadata",
          "id": "mybusinessplaceactions.placeActionTypeMetadata.list",
          "parameterOrder": [],
          "description": "Returns the list of available place action types for a location or country.",
          "path": "v1/placeActionTypeMetadata",
          "parameters": {
            "languageCode": {
              "type": "string",
              "description": "Optional. The IETF BCP-47 code of language to get display names in. If this language is not available, they will be provided in English.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. If specified, the next page of place action type metadata is retrieved. The `pageToken` is returned when a call to `placeActionTypeMetadata.list` returns more results than can fit into the requested page size.",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Optional. How many action types to include per page. Default is 10, minimum is 1."
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Optional. A filter constraining the place action types to return metadata for. The response includes entries that match the filter. We support only the following filters: 1. location=XYZ where XYZ is a string indicating the resource name of a location, in the format `locations/{location_id}`. 2. region_code=XYZ where XYZ is a Unicode CLDR region code to find available action types. If no filter is provided, all place action types are returned."
            }
          }
        }
      }
    },
    "locations": {
      "resources": {
        "placeActionLinks": {
          "methods": {
            "delete": {
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}",
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "id": "mybusinessplaceactions.locations.placeActionLinks.delete",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the place action link to remove from the location.",
                  "required": true,
                  "location": "path",
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a place action link from the specified location.",
              "response": {
                "$ref": "Empty"
              }
            },
            "list": {
              "description": "Lists the place action links for the specified location.",
              "response": {
                "$ref": "ListPlaceActionLinksResponse"
              },
              "id": "mybusinessplaceactions.locations.placeActionLinks.list",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/placeActionLinks",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the location whose place action links will be listed. `locations/{location_id}`.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^locations/[^/]+$"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A filter constraining the place action links to return. The response includes entries that match the filter. We support only the following filter: 1. place_action_type=XYZ where XYZ is a valid PlaceActionType."
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. If specified, returns the next page of place action links.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. How many place action links to return per page. Default of 10. The minimum is 1.",
                  "format": "int32"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks"
            },
            "create": {
              "response": {
                "$ref": "PlaceActionLink"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "id": "mybusinessplaceactions.locations.placeActionLinks.create",
              "request": {
                "$ref": "PlaceActionLink"
              },
              "parameters": {
                "parent": {
                  "pattern": "^locations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the location where to create this place action link. `locations/{location_id}`.",
                  "required": true
                }
              },
              "path": "v1/{+parent}/placeActionLinks",
              "description": "Creates a place action link associated with the specified location, and returns it. The request is considered duplicate if the `parent`, `place_action_link.uri` and `place_action_link.place_action_type` are the same as a previous request.",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks"
            },
            "patch": {
              "path": "v1/{+name}",
              "description": "Updates the specified place action link and returns it.",
              "id": "mybusinessplaceactions.locations.placeActionLinks.patch",
              "response": {
                "$ref": "PlaceActionLink"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "PlaceActionLink"
              },
              "parameters": {
                "name": {
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Optional. The resource name, in the format `locations/{location_id}/placeActionLinks/{place_action_link_id}`. The name field will only be considered in UpdatePlaceActionLink and DeletePlaceActionLink requests for updating and deleting links respectively. However, it will be ignored in CreatePlaceActionLink request, where `place_action_link_id` will be assigned by the server on successful creation of a new link and returned as part of the response.",
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Required. The specific fields to update. The only editable fields are `uri`, `place_action_type` and `is_preferred`. If the updated link already exists at the same location with the same `place_action_type` and `uri`, fails with an `ALREADY_EXISTS` error.",
                  "type": "string"
                }
              },
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}"
            },
            "get": {
              "httpMethod": "GET",
              "id": "mybusinessplaceactions.locations.placeActionLinks.get",
              "description": "Gets the specified place action link.",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "PlaceActionLink"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the place action link to fetch.",
                  "location": "path",
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$"
                }
              }
            }
          }
        }
      }
    }
  },
  "basePath": ""
}