{
  "rootUrl": "https://mybusinessplaceactions.googleapis.com/",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "schemas": {
    "PlaceActionLink": {
      "id": "PlaceActionLink",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the place action link was created.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Optional. The resource name, in the format `locations/{location_id}/placeActionLinks/{place_action_link_id}`. The name field will only be considered in UpdatePlaceActionLink and DeletePlaceActionLink requests for updating and deleting links respectively. However, it will be ignored in CreatePlaceActionLink request, where `place_action_link_id` will be assigned by the server on successful creation of a new link and returned as part of the response."
        },
        "uri": {
          "type": "string",
          "description": "Required. The link uri. The same uri can be reused for different action types across different locations. However, only one place action link is allowed for each unique combination of (uri, place action type, location)."
        },
        "isPreferred": {
          "description": "Optional. Whether this link is preferred by the merchant. Only one link can be marked as preferred per place action type at a location. If a future request marks a different link as preferred for the same place action type, then the current preferred link (if any exists) will lose its preference.",
          "type": "boolean"
        },
        "placeActionType": {
          "type": "string",
          "enum": [
            "PLACE_ACTION_TYPE_UNSPECIFIED",
            "APPOINTMENT",
            "ONLINE_APPOINTMENT",
            "DINING_RESERVATION",
            "FOOD_ORDERING",
            "FOOD_DELIVERY",
            "FOOD_TAKEOUT",
            "SHOP_ONLINE",
            "SOLOPRENEUR_APPOINTMENT"
          ],
          "description": "Required. The type of place action that can be performed using this link.",
          "enumDescriptions": [
            "Not specified.",
            "The action type is booking an appointment.",
            "The action type is booking an online appointment.",
            "The action type is making a dining reservation.",
            "The action type is ordering food for delivery and/or takeout.",
            "The action type is ordering food for delivery.",
            "The action type is ordering food for takeout.",
            "The action type is shopping, that can be delivery and/or pickup.",
            "The action type is booking an appointment with a Solopneuer partner."
          ]
        },
        "providerType": {
          "description": "Output only. Specifies the provider type.",
          "type": "string",
          "enum": [
            "PROVIDER_TYPE_UNSPECIFIED",
            "MERCHANT",
            "AGGREGATOR_3P"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "A 1P provider such as a merchant, or an agency on behalf of a merchant.",
            "A 3P aggregator, such as a `Reserve with Google` partner."
          ]
        },
        "isEditable": {
          "type": "boolean",
          "description": "Output only. Indicates whether this link can be edited by the client.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when the place action link was last modified.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Represents a place action link and its attributes."
    },
    "ListPlaceActionTypeMetadataResponse": {
      "id": "ListPlaceActionTypeMetadataResponse",
      "type": "object",
      "description": "Response message for PlaceActions.ListPlaceActionTypeMetadata.",
      "properties": {
        "nextPageToken": {
          "description": "If the number of action types exceeded the requested page size, this field will be populated with a token to fetch the next page on a subsequent call to `placeActionTypeMetadata.list`. If there are no more results, this field will not be present in the response.",
          "type": "string"
        },
        "placeActionTypeMetadata": {
          "type": "array",
          "items": {
            "$ref": "PlaceActionTypeMetadata"
          },
          "description": "A collection of metadata for the available place action types."
        }
      }
    },
    "ListPlaceActionLinksResponse": {
      "properties": {
        "nextPageToken": {
          "description": "If there are more place action links than the requested page size, then this field is populated with a token to fetch the next page of results.",
          "type": "string"
        },
        "placeActionLinks": {
          "description": "The returned list of place action links.",
          "items": {
            "$ref": "PlaceActionLink"
          },
          "type": "array"
        }
      },
      "description": "Response message for PlaceActions.ListPlaceActionLinks.",
      "type": "object",
      "id": "ListPlaceActionLinksResponse"
    },
    "PlaceActionTypeMetadata": {
      "type": "object",
      "id": "PlaceActionTypeMetadata",
      "description": "Metadata for supported place action types.",
      "properties": {
        "placeActionType": {
          "enumDescriptions": [
            "Not specified.",
            "The action type is booking an appointment.",
            "The action type is booking an online appointment.",
            "The action type is making a dining reservation.",
            "The action type is ordering food for delivery and/or takeout.",
            "The action type is ordering food for delivery.",
            "The action type is ordering food for takeout.",
            "The action type is shopping, that can be delivery and/or pickup.",
            "The action type is booking an appointment with a Solopneuer partner."
          ],
          "type": "string",
          "enum": [
            "PLACE_ACTION_TYPE_UNSPECIFIED",
            "APPOINTMENT",
            "ONLINE_APPOINTMENT",
            "DINING_RESERVATION",
            "FOOD_ORDERING",
            "FOOD_DELIVERY",
            "FOOD_TAKEOUT",
            "SHOP_ONLINE",
            "SOLOPRENEUR_APPOINTMENT"
          ],
          "description": "The place action type."
        },
        "displayName": {
          "type": "string",
          "description": "The localized display name for the attribute, if available; otherwise, the English display name."
        }
      }
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    }
  },
  "servicePath": "",
  "version": "v1",
  "discoveryVersion": "v1",
  "version_module": true,
  "protocol": "rest",
  "revision": "20260909",
  "fullyEncodeReservedExpansion": true,
  "id": "mybusinessplaceactions:v1",
  "documentationLink": "https://developers.google.com/my-business/",
  "title": "My Business Place Actions API",
  "resources": {
    "placeActionTypeMetadata": {
      "methods": {
        "list": {
          "description": "Returns the list of available place action types for a location or country.",
          "flatPath": "v1/placeActionTypeMetadata",
          "path": "v1/placeActionTypeMetadata",
          "parameterOrder": [],
          "id": "mybusinessplaceactions.placeActionTypeMetadata.list",
          "response": {
            "$ref": "ListPlaceActionTypeMetadataResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Optional. A filter constraining the place action types to return metadata for. The response includes entries that match the filter. We support only the following filters: 1. location=XYZ where XYZ is a string indicating the resource name of a location, in the format `locations/{location_id}`. 2. region_code=XYZ where XYZ is a Unicode CLDR region code to find available action types. If no filter is provided, all place action types are returned."
            },
            "pageSize": {
              "location": "query",
              "description": "Optional. How many action types to include per page. Default is 10, minimum is 1.",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. If specified, the next page of place action type metadata is retrieved. The `pageToken` is returned when a call to `placeActionTypeMetadata.list` returns more results than can fit into the requested page size.",
              "location": "query"
            },
            "languageCode": {
              "type": "string",
              "description": "Optional. The IETF BCP-47 code of language to get display names in. If this language is not available, they will be provided in English.",
              "location": "query"
            }
          }
        }
      }
    },
    "locations": {
      "resources": {
        "placeActionLinks": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListPlaceActionLinksResponse"
              },
              "path": "v1/{+parent}/placeActionLinks",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. If specified, returns the next page of place action links.",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The name of the location whose place action links will be listed. `locations/{location_id}`.",
                  "required": true,
                  "type": "string",
                  "pattern": "^locations/[^/]+$"
                },
                "pageSize": {
                  "description": "Optional. How many place action links to return per page. Default of 10. The minimum is 1.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A filter constraining the place action links to return. The response includes entries that match the filter. We support only the following filter: 1. place_action_type=XYZ where XYZ is a valid PlaceActionType."
                }
              },
              "description": "Lists the place action links for the specified location.",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks",
              "id": "mybusinessplaceactions.locations.placeActionLinks.list",
              "httpMethod": "GET"
            },
            "delete": {
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}",
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The resource name of the place action link to remove from the location.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "id": "mybusinessplaceactions.locations.placeActionLinks.delete",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a place action link from the specified location."
            },
            "create": {
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The resource name of the location where to create this place action link. `locations/{location_id}`.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^locations/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "id": "mybusinessplaceactions.locations.placeActionLinks.create",
              "response": {
                "$ref": "PlaceActionLink"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a place action link associated with the specified location, and returns it. The request is considered duplicate if the `parent`, `place_action_link.uri` and `place_action_link.place_action_type` are the same as a previous request.",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks",
              "request": {
                "$ref": "PlaceActionLink"
              },
              "path": "v1/{+parent}/placeActionLinks"
            },
            "get": {
              "description": "Gets the specified place action link.",
              "response": {
                "$ref": "PlaceActionLink"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the place action link to fetch.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "id": "mybusinessplaceactions.locations.placeActionLinks.get",
              "httpMethod": "GET",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}",
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "request": {
                "$ref": "PlaceActionLink"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}",
              "path": "v1/{+name}",
              "response": {
                "$ref": "PlaceActionLink"
              },
              "id": "mybusinessplaceactions.locations.placeActionLinks.patch",
              "description": "Updates the specified place action link and returns it.",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Required. The specific fields to update. The only editable fields are `uri`, `place_action_type` and `is_preferred`. If the updated link already exists at the same location with the same `place_action_type` and `uri`, fails with an `ALREADY_EXISTS` error.",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "description": "Optional. The resource name, in the format `locations/{location_id}/placeActionLinks/{place_action_link_id}`. The name field will only be considered in UpdatePlaceActionLink and DeletePlaceActionLink requests for updating and deleting links respectively. However, it will be ignored in CreatePlaceActionLink request, where `place_action_link_id` will be assigned by the server on successful creation of a new link and returned as part of the response.",
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "PATCH"
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "canonicalName": "My Business Place Actions",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "mybusinessplaceactions",
  "description": "The My Business Place Actions API provides an interface for managing place action links of a location on Google. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "mtlsRootUrl": "https://mybusinessplaceactions.mtls.googleapis.com/",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "basePath": "",
  "baseUrl": "https://mybusinessplaceactions.googleapis.com/",
  "batchPath": "batch"
}