{
  "mtlsRootUrl": "https://mybusinessplaceactions.mtls.googleapis.com/",
  "title": "My Business Place Actions API",
  "documentationLink": "https://developers.google.com/my-business/",
  "revision": "20260825",
  "id": "mybusinessplaceactions:v1",
  "version_module": true,
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "discoveryVersion": "v1",
  "servicePath": "",
  "canonicalName": "My Business Place Actions",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://mybusinessplaceactions.googleapis.com/",
  "name": "mybusinessplaceactions",
  "resources": {
    "locations": {
      "resources": {
        "placeActionLinks": {
          "methods": {
            "list": {
              "id": "mybusinessplaceactions.locations.placeActionLinks.list",
              "response": {
                "$ref": "ListPlaceActionLinksResponse"
              },
              "description": "Lists the place action links for the specified location.",
              "path": "v1/{+parent}/placeActionLinks",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/locations/{locationsId}/placeActionLinks",
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "Optional. A filter constraining the place action links to return. The response includes entries that match the filter. We support only the following filter: 1. place_action_type=XYZ where XYZ is a valid PlaceActionType.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. If specified, returns the next page of place action links."
                },
                "parent": {
                  "description": "Required. The name of the location whose place action links will be listed. `locations/{location_id}`.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^locations/[^/]+$"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. How many place action links to return per page. Default of 10. The minimum is 1.",
                  "type": "integer",
                  "location": "query"
                }
              }
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the place action link to remove from the location.",
                  "type": "string",
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$"
                }
              },
              "httpMethod": "DELETE",
              "description": "Deletes a place action link from the specified location.",
              "id": "mybusinessplaceactions.locations.placeActionLinks.delete",
              "path": "v1/{+name}",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}",
              "response": {
                "$ref": "Empty"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$",
                  "description": "Required. The name of the place action link to fetch.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "PlaceActionLink"
              },
              "path": "v1/{+name}",
              "description": "Gets the specified place action link.",
              "id": "mybusinessplaceactions.locations.placeActionLinks.get"
            },
            "patch": {
              "response": {
                "$ref": "PlaceActionLink"
              },
              "id": "mybusinessplaceactions.locations.placeActionLinks.patch",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "PlaceActionLink"
              },
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The specific fields to update. The only editable fields are `uri`, `place_action_type` and `is_preferred`. If the updated link already exists at the same location with the same `place_action_type` and `uri`, fails with an `ALREADY_EXISTS` error.",
                  "format": "google-fieldmask"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$",
                  "type": "string",
                  "description": "Optional. The resource name, in the format `locations/{location_id}/placeActionLinks/{place_action_link_id}`. The name field will only be considered in UpdatePlaceActionLink and DeletePlaceActionLink requests for updating and deleting links respectively. However, it will be ignored in CreatePlaceActionLink request, where `place_action_link_id` will be assigned by the server on successful creation of a new link and returned as part of the response."
                }
              },
              "description": "Updates the specified place action link and returns it.",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}",
              "httpMethod": "PATCH",
              "path": "v1/{+name}"
            },
            "create": {
              "parameters": {
                "parent": {
                  "description": "Required. The resource name of the location where to create this place action link. `locations/{location_id}`.",
                  "required": true,
                  "pattern": "^locations/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1/locations/{locationsId}/placeActionLinks",
              "response": {
                "$ref": "PlaceActionLink"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "PlaceActionLink"
              },
              "id": "mybusinessplaceactions.locations.placeActionLinks.create",
              "path": "v1/{+parent}/placeActionLinks",
              "description": "Creates a place action link associated with the specified location, and returns it. The request is considered duplicate if the `parent`, `place_action_link.uri` and `place_action_link.place_action_type` are the same as a previous request.",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      }
    },
    "placeActionTypeMetadata": {
      "methods": {
        "list": {
          "description": "Returns the list of available place action types for a location or country.",
          "flatPath": "v1/placeActionTypeMetadata",
          "response": {
            "$ref": "ListPlaceActionTypeMetadataResponse"
          },
          "path": "v1/placeActionTypeMetadata",
          "id": "mybusinessplaceactions.placeActionTypeMetadata.list",
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Optional. A filter constraining the place action types to return metadata for. The response includes entries that match the filter. We support only the following filters: 1. location=XYZ where XYZ is a string indicating the resource name of a location, in the format `locations/{location_id}`. 2. region_code=XYZ where XYZ is a Unicode CLDR region code to find available action types. If no filter is provided, all place action types are returned."
            },
            "pageToken": {
              "description": "Optional. If specified, the next page of place action type metadata is retrieved. The `pageToken` is returned when a call to `placeActionTypeMetadata.list` returns more results than can fit into the requested page size.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "description": "Optional. How many action types to include per page. Default is 10, minimum is 1.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "languageCode": {
              "type": "string",
              "location": "query",
              "description": "Optional. The IETF BCP-47 code of language to get display names in. If this language is not available, they will be provided in English."
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://mybusinessplaceactions.googleapis.com/",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "schemas": {
    "PlaceActionTypeMetadata": {
      "description": "Metadata for supported place action types.",
      "properties": {
        "displayName": {
          "description": "The localized display name for the attribute, if available; otherwise, the English display name.",
          "type": "string"
        },
        "placeActionType": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The action type is booking an appointment.",
            "The action type is booking an online appointment.",
            "The action type is making a dining reservation.",
            "The action type is ordering food for delivery and/or takeout.",
            "The action type is ordering food for delivery.",
            "The action type is ordering food for takeout.",
            "The action type is shopping, that can be delivery and/or pickup.",
            "The action type is booking an appointment with a Solopneuer partner."
          ],
          "enum": [
            "PLACE_ACTION_TYPE_UNSPECIFIED",
            "APPOINTMENT",
            "ONLINE_APPOINTMENT",
            "DINING_RESERVATION",
            "FOOD_ORDERING",
            "FOOD_DELIVERY",
            "FOOD_TAKEOUT",
            "SHOP_ONLINE",
            "SOLOPRENEUR_APPOINTMENT"
          ],
          "description": "The place action type."
        }
      },
      "id": "PlaceActionTypeMetadata",
      "type": "object"
    },
    "PlaceActionLink": {
      "description": "Represents a place action link and its attributes.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. The link uri. The same uri can be reused for different action types across different locations. However, only one place action link is allowed for each unique combination of (uri, place action type, location)."
        },
        "createTime": {
          "description": "Output only. The time when the place action link was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "providerType": {
          "enumDescriptions": [
            "Not specified.",
            "A 1P provider such as a merchant, or an agency on behalf of a merchant.",
            "A 3P aggregator, such as a `Reserve with Google` partner."
          ],
          "description": "Output only. Specifies the provider type.",
          "readOnly": true,
          "enum": [
            "PROVIDER_TYPE_UNSPECIFIED",
            "MERCHANT",
            "AGGREGATOR_3P"
          ],
          "type": "string"
        },
        "isPreferred": {
          "description": "Optional. Whether this link is preferred by the merchant. Only one link can be marked as preferred per place action type at a location. If a future request marks a different link as preferred for the same place action type, then the current preferred link (if any exists) will lose its preference.",
          "type": "boolean"
        },
        "placeActionType": {
          "type": "string",
          "description": "Required. The type of place action that can be performed using this link.",
          "enum": [
            "PLACE_ACTION_TYPE_UNSPECIFIED",
            "APPOINTMENT",
            "ONLINE_APPOINTMENT",
            "DINING_RESERVATION",
            "FOOD_ORDERING",
            "FOOD_DELIVERY",
            "FOOD_TAKEOUT",
            "SHOP_ONLINE",
            "SOLOPRENEUR_APPOINTMENT"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The action type is booking an appointment.",
            "The action type is booking an online appointment.",
            "The action type is making a dining reservation.",
            "The action type is ordering food for delivery and/or takeout.",
            "The action type is ordering food for delivery.",
            "The action type is ordering food for takeout.",
            "The action type is shopping, that can be delivery and/or pickup.",
            "The action type is booking an appointment with a Solopneuer partner."
          ]
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the place action link was last modified.",
          "type": "string"
        },
        "isEditable": {
          "readOnly": true,
          "description": "Output only. Indicates whether this link can be edited by the client.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Optional. The resource name, in the format `locations/{location_id}/placeActionLinks/{place_action_link_id}`. The name field will only be considered in UpdatePlaceActionLink and DeletePlaceActionLink requests for updating and deleting links respectively. However, it will be ignored in CreatePlaceActionLink request, where `place_action_link_id` will be assigned by the server on successful creation of a new link and returned as part of the response."
        }
      },
      "id": "PlaceActionLink",
      "type": "object"
    },
    "ListPlaceActionTypeMetadataResponse": {
      "description": "Response message for PlaceActions.ListPlaceActionTypeMetadata.",
      "type": "object",
      "properties": {
        "placeActionTypeMetadata": {
          "description": "A collection of metadata for the available place action types.",
          "type": "array",
          "items": {
            "$ref": "PlaceActionTypeMetadata"
          }
        },
        "nextPageToken": {
          "description": "If the number of action types exceeded the requested page size, this field will be populated with a token to fetch the next page on a subsequent call to `placeActionTypeMetadata.list`. If there are no more results, this field will not be present in the response.",
          "type": "string"
        }
      },
      "id": "ListPlaceActionTypeMetadataResponse"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty"
    },
    "ListPlaceActionLinksResponse": {
      "properties": {
        "placeActionLinks": {
          "items": {
            "$ref": "PlaceActionLink"
          },
          "description": "The returned list of place action links.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there are more place action links than the requested page size, then this field is populated with a token to fetch the next page of results."
        }
      },
      "id": "ListPlaceActionLinksResponse",
      "description": "Response message for PlaceActions.ListPlaceActionLinks.",
      "type": "object"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "version": "v1",
  "description": "The My Business Place Actions API provides an interface for managing place action links of a location on Google. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "basePath": ""
}