{
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/my-business/",
  "version": "v1",
  "rootUrl": "https://mybusinessplaceactions.googleapis.com/",
  "servicePath": "",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "basePath": "",
  "resources": {
    "locations": {
      "resources": {
        "placeActionLinks": {
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "id": "mybusinessplaceactions.locations.placeActionLinks.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "PlaceActionLink"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}",
              "description": "Gets the specified place action link.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$",
                  "description": "Required. The name of the place action link to fetch."
                }
              }
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}",
              "httpMethod": "PATCH",
              "description": "Updates the specified place action link and returns it.",
              "request": {
                "$ref": "PlaceActionLink"
              },
              "id": "mybusinessplaceactions.locations.placeActionLinks.patch",
              "parameters": {
                "name": {
                  "description": "Optional. The resource name, in the format `locations/{location_id}/placeActionLinks/{place_action_link_id}`. The name field will only be considered in UpdatePlaceActionLink and DeletePlaceActionLink requests for updating and deleting links respectively. However, it will be ignored in CreatePlaceActionLink request, where `place_action_link_id` will be assigned by the server on successful creation of a new link and returned as part of the response.",
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "description": "Required. The specific fields to update. The only editable fields are `uri`, `place_action_type` and `is_preferred`. If the updated link already exists at the same location with the same `place_action_type` and `uri`, fails with an `ALREADY_EXISTS` error.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "PlaceActionLink"
              }
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$",
                  "description": "Required. The resource name of the place action link to remove from the location.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a place action link from the specified location.",
              "id": "mybusinessplaceactions.locations.placeActionLinks.delete",
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}"
            },
            "list": {
              "response": {
                "$ref": "ListPlaceActionLinksResponse"
              },
              "httpMethod": "GET",
              "id": "mybusinessplaceactions.locations.placeActionLinks.list",
              "path": "v1/{+parent}/placeActionLinks",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the location whose place action links will be listed. `locations/{location_id}`.",
                  "pattern": "^locations/[^/]+$"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. A filter constraining the place action links to return. The response includes entries that match the filter. We support only the following filter: 1. place_action_type=XYZ where XYZ is a valid PlaceActionType.",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. If specified, returns the next page of place action links.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. How many place action links to return per page. Default of 10. The minimum is 1.",
                  "location": "query"
                }
              },
              "description": "Lists the place action links for the specified location.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/locations/{locationsId}/placeActionLinks"
            },
            "create": {
              "request": {
                "$ref": "PlaceActionLink"
              },
              "description": "Creates a place action link associated with the specified location, and returns it. The request is considered duplicate if the `parent`, `place_action_link.uri` and `place_action_link.place_action_type` are the same as a previous request.",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks",
              "response": {
                "$ref": "PlaceActionLink"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The resource name of the location where to create this place action link. `locations/{location_id}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^locations/[^/]+$",
                  "type": "string"
                }
              },
              "id": "mybusinessplaceactions.locations.placeActionLinks.create",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/placeActionLinks",
              "httpMethod": "POST"
            }
          }
        }
      }
    },
    "placeActionTypeMetadata": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ListPlaceActionTypeMetadataResponse"
          },
          "path": "v1/placeActionTypeMetadata",
          "description": "Returns the list of available place action types for a location or country.",
          "id": "mybusinessplaceactions.placeActionTypeMetadata.list",
          "parameterOrder": [],
          "parameters": {
            "filter": {
              "description": "Optional. A filter constraining the place action types to return metadata for. The response includes entries that match the filter. We support only the following filters: 1. location=XYZ where XYZ is a string indicating the resource name of a location, in the format `locations/{location_id}`. 2. region_code=XYZ where XYZ is a Unicode CLDR region code to find available action types. If no filter is provided, all place action types are returned.",
              "type": "string",
              "location": "query"
            },
            "languageCode": {
              "type": "string",
              "location": "query",
              "description": "Optional. The IETF BCP-47 code of language to get display names in. If this language is not available, they will be provided in English."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. If specified, the next page of place action type metadata is retrieved. The `pageToken` is returned when a call to `placeActionTypeMetadata.list` returns more results than can fit into the requested page size."
            },
            "pageSize": {
              "type": "integer",
              "description": "Optional. How many action types to include per page. Default is 10, minimum is 1.",
              "location": "query",
              "format": "int32"
            }
          },
          "flatPath": "v1/placeActionTypeMetadata"
        }
      }
    }
  },
  "batchPath": "batch",
  "canonicalName": "My Business Place Actions",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://mybusinessplaceactions.googleapis.com/",
  "schemas": {
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "ListPlaceActionLinksResponse": {
      "description": "Response message for PlaceActions.ListPlaceActionLinks.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If there are more place action links than the requested page size, then this field is populated with a token to fetch the next page of results.",
          "type": "string"
        },
        "placeActionLinks": {
          "description": "The returned list of place action links.",
          "type": "array",
          "items": {
            "$ref": "PlaceActionLink"
          }
        }
      },
      "id": "ListPlaceActionLinksResponse"
    },
    "PlaceActionTypeMetadata": {
      "id": "PlaceActionTypeMetadata",
      "type": "object",
      "description": "Metadata for supported place action types.",
      "properties": {
        "placeActionType": {
          "type": "string",
          "enum": [
            "PLACE_ACTION_TYPE_UNSPECIFIED",
            "APPOINTMENT",
            "ONLINE_APPOINTMENT",
            "DINING_RESERVATION",
            "FOOD_ORDERING",
            "FOOD_DELIVERY",
            "FOOD_TAKEOUT",
            "SHOP_ONLINE",
            "SOLOPRENEUR_APPOINTMENT"
          ],
          "description": "The place action type.",
          "enumDescriptions": [
            "Not specified.",
            "The action type is booking an appointment.",
            "The action type is booking an online appointment.",
            "The action type is making a dining reservation.",
            "The action type is ordering food for delivery and/or takeout.",
            "The action type is ordering food for delivery.",
            "The action type is ordering food for takeout.",
            "The action type is shopping, that can be delivery and/or pickup.",
            "The action type is booking an appointment with a Solopneuer partner."
          ]
        },
        "displayName": {
          "description": "The localized display name for the attribute, if available; otherwise, the English display name.",
          "type": "string"
        }
      }
    },
    "PlaceActionLink": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. The resource name, in the format `locations/{location_id}/placeActionLinks/{place_action_link_id}`. The name field will only be considered in UpdatePlaceActionLink and DeletePlaceActionLink requests for updating and deleting links respectively. However, it will be ignored in CreatePlaceActionLink request, where `place_action_link_id` will be assigned by the server on successful creation of a new link and returned as part of the response."
        },
        "createTime": {
          "description": "Output only. The time when the place action link was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the place action link was last modified."
        },
        "uri": {
          "description": "Required. The link uri. The same uri can be reused for different action types across different locations. However, only one place action link is allowed for each unique combination of (uri, place action type, location).",
          "type": "string"
        },
        "placeActionType": {
          "enumDescriptions": [
            "Not specified.",
            "The action type is booking an appointment.",
            "The action type is booking an online appointment.",
            "The action type is making a dining reservation.",
            "The action type is ordering food for delivery and/or takeout.",
            "The action type is ordering food for delivery.",
            "The action type is ordering food for takeout.",
            "The action type is shopping, that can be delivery and/or pickup.",
            "The action type is booking an appointment with a Solopneuer partner."
          ],
          "description": "Required. The type of place action that can be performed using this link.",
          "type": "string",
          "enum": [
            "PLACE_ACTION_TYPE_UNSPECIFIED",
            "APPOINTMENT",
            "ONLINE_APPOINTMENT",
            "DINING_RESERVATION",
            "FOOD_ORDERING",
            "FOOD_DELIVERY",
            "FOOD_TAKEOUT",
            "SHOP_ONLINE",
            "SOLOPRENEUR_APPOINTMENT"
          ]
        },
        "isEditable": {
          "type": "boolean",
          "description": "Output only. Indicates whether this link can be edited by the client.",
          "readOnly": true
        },
        "providerType": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "A 1P provider such as a merchant, or an agency on behalf of a merchant.",
            "A 3P aggregator, such as a `Reserve with Google` partner."
          ],
          "enum": [
            "PROVIDER_TYPE_UNSPECIFIED",
            "MERCHANT",
            "AGGREGATOR_3P"
          ],
          "description": "Output only. Specifies the provider type."
        },
        "isPreferred": {
          "description": "Optional. Whether this link is preferred by the merchant. Only one link can be marked as preferred per place action type at a location. If a future request marks a different link as preferred for the same place action type, then the current preferred link (if any exists) will lose its preference.",
          "type": "boolean"
        }
      },
      "id": "PlaceActionLink",
      "description": "Represents a place action link and its attributes.",
      "type": "object"
    },
    "ListPlaceActionTypeMetadataResponse": {
      "type": "object",
      "id": "ListPlaceActionTypeMetadataResponse",
      "description": "Response message for PlaceActions.ListPlaceActionTypeMetadata.",
      "properties": {
        "nextPageToken": {
          "description": "If the number of action types exceeded the requested page size, this field will be populated with a token to fetch the next page on a subsequent call to `placeActionTypeMetadata.list`. If there are no more results, this field will not be present in the response.",
          "type": "string"
        },
        "placeActionTypeMetadata": {
          "description": "A collection of metadata for the available place action types.",
          "type": "array",
          "items": {
            "$ref": "PlaceActionTypeMetadata"
          }
        }
      }
    }
  },
  "name": "mybusinessplaceactions",
  "revision": "20260916",
  "mtlsRootUrl": "https://mybusinessplaceactions.mtls.googleapis.com/",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "id": "mybusinessplaceactions:v1",
  "description": "The My Business Place Actions API provides an interface for managing place action links of a location on Google. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "title": "My Business Place Actions API",
  "version_module": true
}