{
  "resources": {
    "verificationTokens": {
      "methods": {
        "generate": {
          "path": "v1/verificationTokens:generate",
          "id": "mybusinessverifications.verificationTokens.generate",
          "response": {
            "$ref": "GenerateInstantVerificationTokenResponse"
          },
          "description": "Generate a token for the provided location data to verify the location.",
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "GenerateInstantVerificationTokenRequest"
          },
          "flatPath": "v1/verificationTokens:generate",
          "parameterOrder": []
        }
      }
    },
    "locations": {
      "resources": {
        "verifications": {
          "methods": {
            "list": {
              "flatPath": "v1/locations/{locationsId}/verifications",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "How many verification to include per page. Minimum is 1, and the default and maximum page size is 100.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "If specified, returns the next page of verifications.",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^locations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Resource name of the location that verification requests belong to."
                }
              },
              "description": "List verifications of a location, ordered by create time.",
              "response": {
                "$ref": "ListVerificationsResponse"
              },
              "path": "v1/{+parent}/verifications",
              "id": "mybusinessverifications.locations.verifications.list",
              "parameterOrder": [
                "parent"
              ]
            },
            "complete": {
              "path": "v1/{+name}:complete",
              "httpMethod": "POST",
              "response": {
                "$ref": "CompleteVerificationResponse"
              },
              "request": {
                "$ref": "CompleteVerificationRequest"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^locations/[^/]+/verifications/[^/]+$",
                  "location": "path",
                  "description": "Required. Resource name of the verification to complete."
                }
              },
              "id": "mybusinessverifications.locations.verifications.complete",
              "description": "Completes a `PENDING` verification. It is only necessary for non `AUTO` verification methods. `AUTO` verification request is instantly `VERIFIED` upon creation.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/locations/{locationsId}/verifications/{verificationsId}:complete"
            }
          }
        }
      },
      "methods": {
        "verify": {
          "flatPath": "v1/locations/{locationsId}:verify",
          "parameters": {
            "name": {
              "pattern": "^locations/[^/]+$",
              "location": "path",
              "description": "Required. Resource name of the location to verify.",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "VerifyLocationRequest"
          },
          "id": "mybusinessverifications.locations.verify",
          "description": "Starts the verification process for a location.",
          "path": "v1/{+name}:verify",
          "response": {
            "$ref": "VerifyLocationResponse"
          }
        },
        "getVoiceOfMerchantState": {
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^locations/[^/]+$",
              "description": "Required. Resource name of the location.",
              "required": true
            }
          },
          "httpMethod": "GET",
          "path": "v1/{+name}/VoiceOfMerchantState",
          "parameterOrder": [
            "name"
          ],
          "id": "mybusinessverifications.locations.getVoiceOfMerchantState",
          "flatPath": "v1/locations/{locationsId}/VoiceOfMerchantState",
          "response": {
            "$ref": "VoiceOfMerchantState"
          },
          "description": "Gets the VoiceOfMerchant state."
        },
        "fetchVerificationOptions": {
          "flatPath": "v1/locations/{locationsId}:fetchVerificationOptions",
          "id": "mybusinessverifications.locations.fetchVerificationOptions",
          "path": "v1/{+location}:fetchVerificationOptions",
          "httpMethod": "POST",
          "parameterOrder": [
            "location"
          ],
          "request": {
            "$ref": "FetchVerificationOptionsRequest"
          },
          "parameters": {
            "location": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^locations/[^/]+$",
              "description": "Required. The location to verify."
            }
          },
          "response": {
            "$ref": "FetchVerificationOptionsResponse"
          },
          "description": "Reports all eligible verification options for a location in a specific language."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://mybusinessverifications.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch",
  "version_module": true,
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "id": "mybusinessverifications:v1",
  "mtlsRootUrl": "https://mybusinessverifications.mtls.googleapis.com/",
  "canonicalName": "My Business Verifications",
  "rootUrl": "https://mybusinessverifications.googleapis.com/",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/my-business/",
  "title": "My Business Verifications API",
  "basePath": "",
  "description": "The My Business Verifications API provides an interface for taking verifications related actions for locations.",
  "schemas": {
    "ListVerificationsResponse": {
      "description": "Response message for Verifications.ListVerifications.",
      "id": "ListVerificationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If the number of verifications exceeded the requested page size, this field will be populated with a token to fetch the next page of verification on a subsequent call. If there are no more attributes, this field will not be present in the response."
        },
        "verifications": {
          "items": {
            "$ref": "Verification"
          },
          "type": "array",
          "description": "List of the verifications."
        }
      }
    },
    "GenerateInstantVerificationTokenRequest": {
      "id": "GenerateInstantVerificationTokenRequest",
      "type": "object",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The location identifier associated with an unverified listing. This is the location id generated at the time that the listing was originally created. It is the final portion of a location resource name as generated by the Google My Business API. Note: the caller must be an owner or manager of this listing in order to generate a verification token. See the [location resource](/my-business/reference/rest/v4/accounts.locations) documentation for more information."
        }
      },
      "description": "Request message for Verifications.GenerateInstantVerificationToken."
    },
    "GenerateInstantVerificationTokenResponse": {
      "description": "Response message for Verifications.GenerateInstantVerificationToken.",
      "type": "object",
      "id": "GenerateInstantVerificationTokenResponse",
      "properties": {
        "result": {
          "readOnly": true,
          "enum": [
            "RESULT_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. The result of the instant verification token generation.",
          "type": "string",
          "enumDescriptions": [
            "Default value, will result in errors.",
            "The instant verification token was generated successfully.",
            "The instant verification token was not generated.."
          ]
        },
        "instantVerificationToken": {
          "type": "string",
          "description": "The generated instant verification token."
        }
      }
    },
    "VerificationToken": {
      "description": "Token generated by a vetted [partner](https://support.google.com/business/answer/7674102).",
      "id": "VerificationToken",
      "type": "object",
      "properties": {
        "tokenString": {
          "type": "string",
          "description": "The token string."
        }
      }
    },
    "CompleteVerificationResponse": {
      "id": "CompleteVerificationResponse",
      "properties": {
        "verification": {
          "description": "The completed verification.",
          "$ref": "Verification"
        }
      },
      "description": "Response message for Verifications.CompleteVerificationAction.",
      "type": "object"
    },
    "ComplyWithGuidelines": {
      "id": "ComplyWithGuidelines",
      "properties": {
        "recommendationReason": {
          "description": "The reason why the location is being recommended to comply with guidelines.",
          "enumDescriptions": [
            "Not specified.",
            "The business location is suspended. To fix this issue, consult the [Help Center article](https://support.google.com/business/answer/4569145).",
            "The business location is disabled. To fix this issue, consult the [Help Center article](https://support.google.com/business/answer/9334246)."
          ],
          "enum": [
            "RECOMMENDATION_REASON_UNSPECIFIED",
            "BUSINESS_LOCATION_SUSPENDED",
            "BUSINESS_LOCATION_DISABLED"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Indicates that the location fails to comply with our [guidelines](https://support.google.com/business/answer/3038177)."
    },
    "WaitForVoiceOfMerchant": {
      "id": "WaitForVoiceOfMerchant",
      "description": "Indicates that the location will gain voice of merchant after passing review.",
      "type": "object",
      "properties": {}
    },
    "PostalAddress": {
      "description": "Represents a postal address, such as for postal delivery or payments addresses. With a postal address, a postal service can deliver items to a premise, P.O. box, or similar. A postal address is not intended to model geographical locations like roads, towns, or mountains. In typical usage, an address would be created by user input or from importing existing data, depending on the type of process. Advice on address input or editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput. - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, see: https://support.google.com/business/answer/6397478.",
      "id": "PostalAddress",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\"."
        },
        "administrativeArea": {
          "type": "string",
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. For Spain, this is the province and not the autonomous community (for example, \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example, in Switzerland, this should be left unpopulated."
        },
        "regionCode": {
          "type": "string",
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland."
        },
        "sublocality": {
          "description": "Optional. Sublocality of the address. For example, this can be a neighborhood, borough, or district.",
          "type": "string"
        },
        "revision": {
          "type": "integer",
          "format": "int32",
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions."
        },
        "sortingCode": {
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (for example, \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (Côte d'Ivoire).",
          "type": "string"
        },
        "recipients": {
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "postalCode": {
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (for example, state or zip code validation in the United States).",
          "type": "string"
        },
        "addressLines": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unstructured address lines describing the lower levels of an address. Because values in `address_lines` do not have type information and may sometimes contain multiple values in a single field (for example, \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country or region of the address. In places where this can vary (for example, Japan), `address_language` is used to make it explicit (for example, \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). In this way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a `region_code` with all remaining information placed in the `address_lines`. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a `region_code` and `address_lines` and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas)."
        },
        "locality": {
          "description": "Optional. Generally refers to the city or town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave `locality` empty and use `address_lines`.",
          "type": "string"
        },
        "organization": {
          "description": "Optional. The name of the organization at the address.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "VerifyLocationRequest": {
      "id": "VerifyLocationRequest",
      "description": "Request message for Verifications.VerifyLocation.",
      "properties": {
        "context": {
          "$ref": "ServiceBusinessContext",
          "description": "Optional. Extra context information for the verification of service businesses. It is only required for the locations whose business type is CUSTOMER_LOCATION_ONLY. For ADDRESS verification, the address will be used to send out postcard. For other methods, it should be the same as the one that is passed to GetVerificationOptions. INVALID_ARGUMENT will be thrown if it is set for other types of business locations."
        },
        "languageCode": {
          "description": "Optional. The BCP 47 language code representing the language that is to be used for the verification process.",
          "type": "string"
        },
        "token": {
          "description": "Optional. The input for VETTED_PARTNER method available to select [partners.](https://support.google.com/business/answer/7674102) The input is not needed for a vetted account. Token that is associated to the location. Token that is associated to the location.",
          "$ref": "VerificationToken"
        },
        "emailAddress": {
          "description": "Optional. The input for EMAIL method. Email address where the PIN should be sent to. An email address is accepted only if it is one of the addresses provided by FetchVerificationOptions. If the EmailVerificationData has is_user_name_editable set to true, the client may specify a different user name (local-part) but must match the domain name.",
          "type": "string"
        },
        "trustedPartnerToken": {
          "type": "string",
          "description": "The input for TRUSTED_PARTNER method The verification token that is associated to the location."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Optional. The input for PHONE_CALL/SMS method The phone number that should be called or be sent SMS to. It must be one of the phone numbers in the eligible options."
        },
        "method": {
          "enum": [
            "VERIFICATION_METHOD_UNSPECIFIED",
            "ADDRESS",
            "EMAIL",
            "PHONE_CALL",
            "SMS",
            "AUTO",
            "TRUSTED_PARTNER"
          ],
          "type": "string",
          "description": "Required. Verification method.",
          "enumDescriptions": [
            "Default value, will result in errors.",
            "Send a postcard with a verification PIN to a specific mailing address. The PIN is used to complete verification with Google.",
            "Send an email with a verification PIN to a specific email address. The PIN is used to complete verification with Google.",
            "Make a phone call with a verification PIN to a specific phone number. The PIN is used to complete verification with Google.",
            "Send an SMS with a verification PIN to a specific phone number. The PIN is used to complete verification with Google.",
            "Verify the location without additional user action. This option may not be available for all locations.",
            "Verify the location via a trusted partner."
          ]
        },
        "mailerContact": {
          "description": "Optional. The input for ADDRESS method. Contact name the mail should be sent to.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ServiceBusinessContext": {
      "type": "object",
      "description": "Additional data for service business verification.",
      "id": "ServiceBusinessContext",
      "properties": {
        "address": {
          "description": "The verification address of the location. It is used to either enable more verification options or send a postcard.",
          "$ref": "PostalAddress"
        }
      }
    },
    "VerifyLocationResponse": {
      "description": "Response message for Verifications.VerifyLocation.",
      "id": "VerifyLocationResponse",
      "properties": {
        "verification": {
          "description": "The created verification request.",
          "$ref": "Verification"
        }
      },
      "type": "object"
    },
    "CompleteVerificationRequest": {
      "type": "object",
      "description": "Request message for Verifications.CompleteVerificationAction.",
      "properties": {
        "pin": {
          "type": "string",
          "description": "Required. PIN code received by the merchant to complete the verification."
        }
      },
      "id": "CompleteVerificationRequest"
    },
    "FetchVerificationOptionsRequest": {
      "type": "object",
      "id": "FetchVerificationOptionsRequest",
      "description": "Request message for Verifications.FetchVerificationOptions.",
      "properties": {
        "languageCode": {
          "description": "Required. The BCP 47 language code representing the language that is to be used for the verification process. Available options vary by language.",
          "type": "string"
        },
        "context": {
          "description": "Optional. Extra context information for the verification of service businesses. Can only be applied to the locations whose business type is CUSTOMER_LOCATION_ONLY. Specifying an accurate address could enable more options. INVALID_ARGUMENT will be thrown if it is set for other business types of locations.",
          "$ref": "ServiceBusinessContext"
        }
      }
    },
    "EmailVerificationData": {
      "description": "Display data for verifications through email.",
      "type": "object",
      "id": "EmailVerificationData",
      "properties": {
        "isUserNameEditable": {
          "type": "boolean",
          "description": "Whether client is allowed to provide a different user name."
        },
        "user": {
          "description": "User name in the email address. e.g. \"foo\" in foo@gmail.com",
          "type": "string"
        },
        "domain": {
          "description": "Domain name in the email address. e.g. \"gmail.com\" in foo@gmail.com",
          "type": "string"
        }
      }
    },
    "Verify": {
      "description": "Indicates that the location requires verification. Contains information about the current verification actions performed on the location.",
      "type": "object",
      "id": "Verify",
      "properties": {
        "hasPendingVerification": {
          "description": "Indicates whether a verification process has already started, and can be completed by the location.",
          "type": "boolean"
        }
      }
    },
    "Verification": {
      "id": "Verification",
      "type": "object",
      "description": "A verification represents a verification attempt on a location.",
      "properties": {
        "announcement": {
          "type": "string",
          "description": "Optional. Response announcement set only if the method is VETTED_PARTNER."
        },
        "method": {
          "enumDescriptions": [
            "Default value, will result in errors.",
            "Send a postcard with a verification PIN to a specific mailing address. The PIN is used to complete verification with Google.",
            "Send an email with a verification PIN to a specific email address. The PIN is used to complete verification with Google.",
            "Make a phone call with a verification PIN to a specific phone number. The PIN is used to complete verification with Google.",
            "Send an SMS with a verification PIN to a specific phone number. The PIN is used to complete verification with Google.",
            "Verify the location without additional user action. This option may not be available for all locations.",
            "Verify the location via a trusted partner."
          ],
          "type": "string",
          "description": "The method of the verification.",
          "enum": [
            "VERIFICATION_METHOD_UNSPECIFIED",
            "ADDRESS",
            "EMAIL",
            "PHONE_CALL",
            "SMS",
            "AUTO",
            "TRUSTED_PARTNER"
          ]
        },
        "state": {
          "type": "string",
          "description": "The state of the verification.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "COMPLETED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Default value, will result in errors.",
            "The verification is pending.",
            "The verification is completed.",
            "The verification is failed."
          ]
        },
        "createTime": {
          "type": "string",
          "description": "The timestamp when the verification is requested.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Resource name of the verification.",
          "type": "string"
        }
      }
    },
    "AddressVerificationData": {
      "type": "object",
      "description": "Display data for verifications through postcard.",
      "properties": {
        "business": {
          "description": "Merchant's business name.",
          "type": "string"
        },
        "expectedDeliveryDaysRegion": {
          "type": "integer",
          "description": "Expected number of days it takes to deliver a postcard to the address's region.",
          "format": "int32"
        },
        "address": {
          "$ref": "PostalAddress",
          "description": "Address that a postcard can be sent to."
        }
      },
      "id": "AddressVerificationData"
    },
    "VerificationOption": {
      "description": "The verification option represents how to verify the location (indicated by verification method) and where the verification will be sent to (indicated by display data).",
      "type": "object",
      "id": "VerificationOption",
      "properties": {
        "emailData": {
          "description": "Set only if the method is EMAIL.",
          "$ref": "EmailVerificationData"
        },
        "announcement": {
          "type": "string",
          "description": "Set only if the method is VETTED_PARTNER."
        },
        "verificationMethod": {
          "type": "string",
          "enumDescriptions": [
            "Default value, will result in errors.",
            "Send a postcard with a verification PIN to a specific mailing address. The PIN is used to complete verification with Google.",
            "Send an email with a verification PIN to a specific email address. The PIN is used to complete verification with Google.",
            "Make a phone call with a verification PIN to a specific phone number. The PIN is used to complete verification with Google.",
            "Send an SMS with a verification PIN to a specific phone number. The PIN is used to complete verification with Google.",
            "Verify the location without additional user action. This option may not be available for all locations.",
            "Verify the location via a trusted partner."
          ],
          "enum": [
            "VERIFICATION_METHOD_UNSPECIFIED",
            "ADDRESS",
            "EMAIL",
            "PHONE_CALL",
            "SMS",
            "AUTO",
            "TRUSTED_PARTNER"
          ],
          "description": "Method to verify the location."
        },
        "phoneNumber": {
          "type": "string",
          "description": "Set only if the method is PHONE_CALL or SMS. Phone number that the PIN will be sent to."
        },
        "addressData": {
          "description": "Set only if the method is MAIL.",
          "$ref": "AddressVerificationData"
        }
      }
    },
    "ResolveOwnershipConflict": {
      "id": "ResolveOwnershipConflict",
      "properties": {},
      "description": "Indicates that the location duplicates another location that is in good standing.",
      "type": "object"
    },
    "FetchVerificationOptionsResponse": {
      "description": "Response message for Verifications.FetchVerificationOptions.",
      "properties": {
        "options": {
          "items": {
            "$ref": "VerificationOption"
          },
          "type": "array",
          "description": "The available verification options."
        }
      },
      "type": "object",
      "id": "FetchVerificationOptionsResponse"
    },
    "VoiceOfMerchantState": {
      "type": "object",
      "id": "VoiceOfMerchantState",
      "description": "Response message for VoiceOfMerchant.GetVoiceOfMerchantState.",
      "properties": {
        "complyWithGuidelines": {
          "$ref": "ComplyWithGuidelines",
          "description": "The location fails to comply with our [guidelines](https://support.google.com/business/answer/3038177) and requires additional steps for reinstatement. To fix this issue, consult the [Help Center Article](https://support.google.com/business/answer/4569145)."
        },
        "waitForVoiceOfMerchant": {
          "$ref": "WaitForVoiceOfMerchant",
          "description": "Wait to gain Voice of Merchant. The location is under review for quality purposes."
        },
        "verify": {
          "$ref": "Verify",
          "description": "Start or continue the verification process."
        },
        "resolveOwnershipConflict": {
          "description": "This location duplicates another location that is in good standing. If you have access to the location in good standing, use that location's id to perform operations. Otherwise, request access from the current owner.",
          "$ref": "ResolveOwnershipConflict"
        },
        "hasBusinessAuthority": {
          "type": "boolean",
          "description": "Indicates whether the location has the authority (ownership) over the business on Google. If true, another location cannot take over and become the dominant listing on Maps. However, edits will not become live unless Voice of Merchant is gained (i.e. has_voice_of_merchant is true)."
        },
        "hasVoiceOfMerchant": {
          "description": "Indicates whether the location is in good standing and has control over the business on Google. Any edits made to the location will propagate to Maps after passing the review phase.",
          "type": "boolean"
        }
      }
    }
  },
  "revision": "20260902",
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "protocol": "rest",
  "ownerDomain": "google.com",
  "name": "mybusinessverifications",
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}