{
  "name": "mybusinesslodging",
  "rootUrl": "https://mybusinesslodging.googleapis.com/",
  "title": "My Business Lodging API",
  "basePath": "",
  "documentationLink": "https://developers.google.com/my-business/",
  "discoveryVersion": "v1",
  "description": "The My Business Lodging API enables managing lodging business information on Google. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "baseUrl": "https://mybusinesslodging.googleapis.com/",
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "canonicalName": "My Business Lodging",
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "ownerDomain": "google.com",
  "version": "v1",
  "batchPath": "batch",
  "servicePath": "",
  "schemas": {
    "SustainableSourcing": {
      "description": "Sustainable sourcing practices implemented at the hotel.",
      "id": "SustainableSourcing",
      "type": "object",
      "properties": {
        "organicFoodAndBeverages": {
          "type": "boolean",
          "description": "Organic food and beverages. At least 25% of food and beverages, by spend, are certified organic. Organic means products that are certified to one of the organic standard listed in the IFOAM family of standards. Qualifying certifications include USDA Organic and EU Organic, among others."
        },
        "organicCageFreeEggs": {
          "description": "Organic cage free eggs. The property sources 100% certified organic and cage-free eggs (shell, liquid, and egg products). Cage-free means hens are able to walk, spread their wings and lay their eggs in nests).",
          "type": "boolean"
        },
        "responsiblySourcesSeafood": {
          "description": "Responsibly sources seafood. The property does not source seafood from the Monterey Bay Aquarium Seafood Watch \"avoid\" list, and must sustainably source seafood listed as \"good alternative,\" \"eco-certified,\" and \"best choice\". The property has a policy outlining a commitment to source Marine Stewardship Council (MSC) and/or Aquaculture Stewardship Council (ASC) Chain of Custody certified seafood.",
          "type": "boolean"
        },
        "organicCageFreeEggsException": {
          "description": "Organic cage free eggs exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "responsiblePurchasingPolicyException": {
          "description": "Responsible purchasing policy exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "responsiblePurchasingPolicy": {
          "type": "boolean",
          "description": "Responsible purchasing policy. The property has a responsible procurement policy in place. Responsible means integration of social, ethical, and/or environmental performance factors into the procurement process when selecting suppliers."
        },
        "organicFoodAndBeveragesException": {
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "description": "Organic food and beverages exception."
        },
        "locallySourcedFoodAndBeverages": {
          "description": "Locally sourced food and beverages. Property sources locally in order to lower the environmental footprint from reduced transportation and to stimulate the local economy. Products produced less than 62 miles from the establishment are normally considered as locally produced.",
          "type": "boolean"
        },
        "vegetarianMealsException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Vegetarian meals exception.",
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "ecoFriendlyToiletriesException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Eco friendly toiletries exception.",
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "veganMeals": {
          "type": "boolean",
          "description": "Vegan meals. The property provides vegan menu options for guests. Vegan food does not contain animal products or byproducts."
        },
        "ecoFriendlyToiletries": {
          "type": "boolean",
          "description": "Eco friendly toiletries. Soap, shampoo, lotion, and other toiletries provided for guests have a nationally or internationally recognized sustainability certification, such as USDA Organic, EU Organic, or cruelty-free."
        },
        "vegetarianMeals": {
          "type": "boolean",
          "description": "Vegetarian meals. The property provides vegetarian menu options for guests. Vegetarian food does not contain meat, poultry, fish, or seafood."
        },
        "veganMealsException": {
          "type": "string",
          "description": "Vegan meals exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "responsiblySourcesSeafoodException": {
          "description": "Responsibly sources seafood exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "locallySourcedFoodAndBeveragesException": {
          "description": "Locally sourced food and beverages exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        }
      }
    },
    "EnergyEfficiency": {
      "type": "object",
      "description": "Energy efficiency practices implemented at the hotel.",
      "id": "EnergyEfficiency",
      "properties": {
        "energyEfficientLighting": {
          "description": "Energy efficient lighting. At least 75% of the property's lighting is energy efficient, using lighting that is more than 45 lumens per watt – typically LED or CFL lightbulbs.",
          "type": "boolean"
        },
        "energyConservationProgram": {
          "description": "Energy conservation program. The property tracks corporate-level Scope 1 and 2 GHG emissions, and Scope 3 emissions if available. The property has a commitment to implement initiatives that reduce GHG emissions year over year. The property has shown an absolute reduction in emissions for at least 2 years. Emissions are either verfied by a third-party and/or published in external communications.",
          "type": "boolean"
        },
        "energyConservationProgramException": {
          "description": "Energy conservation program exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        },
        "energySavingThermostatsException": {
          "description": "Energy saving thermostats exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "carbonFreeEnergySources": {
          "type": "boolean",
          "description": "Carbon free energy sources. Property sources carbon-free electricity via at least one of the following methods: on-site clean energy generation, power purchase agreement(s) with clean energy generators, green power provided by electricity supplier, or purchases of Energy Attribute Certificates (such as Renewable Energy Certificates or Guarantees of Origin)."
        },
        "greenBuildingDesignException": {
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "readOnly": true,
          "description": "Output only. Green building design exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "energySavingThermostats": {
          "type": "boolean",
          "description": "Energy saving thermostats. The property installed energy-saving thermostats throughout the building to conserve energy when rooms or areas are not in use. Energy-saving thermostats are devices that control heating/cooling in the building by learning temperature preferences and automatically adjusting to energy-saving temperatures as the default. The thermostats are automatically set to a temperature between 68-78 degrees F (20-26 °C), depending on seasonality. In the winter, set the thermostat to 68°F (20°C) when the room is occupied, lowering room temperature when unoccupied. In the summer, set the thermostat to 78°F (26°C) when the room is occupied."
        },
        "carbonFreeEnergySourcesException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Carbon free energy sources exception."
        },
        "energyEfficientLightingException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Energy efficient lighting exception."
        },
        "independentOrganizationAuditsEnergyUse": {
          "type": "boolean",
          "description": "Independent organization audits energy use. The property conducts an energy audit at least every 5 years, the results of which are either verified by a third-party and/or published in external communications. An energy audit is a detailed assessment of the facility which provides recommendations to existing operations and procedures to improve energy efficiency, available incentives or rebates,and opportunities for improvements through renovations or upgrades. Examples of organizations that conduct credible third party audits include: Engie Impact, DNV GL (EU), Dexma, and local utility providers (they often provide energy and water audits)."
        },
        "greenBuildingDesign": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Green building design. True if the property has been awarded a relevant certification."
        },
        "independentOrganizationAuditsEnergyUseException": {
          "description": "Independent organization audits energy use exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "energyEfficientHeatingAndCoolingSystems": {
          "type": "boolean",
          "description": "Energy efficient heating and cooling systems. The property doesn't use chlorofluorocarbon (CFC)-based refrigerants in heating, ventilating, and air-conditioning systems unless a third-party audit shows it's not economically feasible. The CFC-based refrigerants which are used should have a Global Warming Potential (GWP) ≤ 10. The property uses occupancy sensors on HVAC systems in back-of-house spaces, meeting rooms, and other low-traffic areas."
        },
        "energyEfficientHeatingAndCoolingSystemsException": {
          "description": "Energy efficient heating and cooling systems exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        }
      }
    },
    "PaymentOptions": {
      "type": "object",
      "description": "Forms of payment accepted at the property.",
      "id": "PaymentOptions",
      "properties": {
        "mobileNfc": {
          "type": "boolean",
          "description": "Mobile nfc. The hotel has the compatible computer hardware terminal that reads and charges a payment app on the guest's smartphone without requiring the two devices to make physical contact. Also known as Apple Pay, Google Pay, Samsung Pay."
        },
        "mobileNfcException": {
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Mobile nfc exception."
        },
        "chequeException": {
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Cheque exception.",
          "type": "string"
        },
        "cash": {
          "description": "Cash. The hotel accepts payment by paper/coin currency.",
          "type": "boolean"
        },
        "debitCard": {
          "description": "Debit card. The hotel accepts a bank-issued card that immediately deducts the charged funds from the guest's bank account upon processing.",
          "type": "boolean"
        },
        "cashException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Cash exception.",
          "type": "string"
        },
        "debitCardException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Debit card exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        },
        "cheque": {
          "description": "Cheque. The hotel accepts a printed document issued by the guest's bank in the guest's name as a form of payment.",
          "type": "boolean"
        },
        "creditCardException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "description": "Credit card exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "creditCard": {
          "description": "Credit card. The hotel accepts payment by a card issued by a bank or credit card company. Also known as charge card, debit card, bank card, or charge plate.",
          "type": "boolean"
        }
      }
    },
    "LanguageSpoken": {
      "type": "object",
      "id": "LanguageSpoken",
      "properties": {
        "languageCode": {
          "description": "Required. The BCP-47 language code for the spoken language. Currently accepted codes: ar, de, en, es, fil, fr, hi, id, it, ja, ko, nl, pt, ru, vi, yue, zh.",
          "type": "string"
        },
        "spokenException": {
          "description": "Spoken exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "spoken": {
          "type": "boolean",
          "description": "At least one member of the staff can speak the language."
        }
      },
      "description": "Language spoken by at least one staff member."
    },
    "GuestUnitType": {
      "type": "object",
      "description": "A specific type of unit primarily defined by its features.",
      "id": "GuestUnitType",
      "properties": {
        "codes": {
          "description": "Required. Unit or room code identifiers for a single GuestUnitType. Each code must be unique within a Lodging instance.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "features": {
          "description": "Features and available amenities of the GuestUnitType.",
          "$ref": "GuestUnitFeatures"
        },
        "label": {
          "type": "string",
          "description": "Required. Short, English label or name of the GuestUnitType. Target <50 chars."
        }
      }
    },
    "Pools": {
      "description": "Swimming pool or recreational water facilities available at the hotel.",
      "id": "Pools",
      "properties": {
        "lifeguard": {
          "description": "Lifeguard. A trained member of the hotel staff stationed by the hotel's indoor or outdoor swimming area and responsible for the safety of swimming guests.",
          "type": "boolean"
        },
        "outdoorPoolException": {
          "type": "string",
          "description": "Outdoor pool exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "poolException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Pool exception."
        },
        "lifeguardException": {
          "description": "Lifeguard exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        },
        "waterslideException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Waterslide exception.",
          "type": "string"
        },
        "wavePool": {
          "type": "boolean",
          "description": "Wave pool. A large indoor or outdoor pool with a machine that produces water currents to mimic the ocean's crests."
        },
        "poolsCountException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "description": "Pools count exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "indoorPoolsCount": {
          "description": "Indoor pools count. The sum of all indoor pools at the hotel.",
          "format": "int32",
          "type": "integer"
        },
        "waterPark": {
          "type": "boolean",
          "description": "Water park. An aquatic recreation area with a large pool or series of pools that has features such as a water slide or tube, wavepool, fountains, rope swings, and/or obstacle course. Can be indoors or outdoors. Also known as adventure pool."
        },
        "hotTubException": {
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "description": "Hot tub exception."
        },
        "outdoorPoolsCountException": {
          "description": "Outdoor pools count exception.",
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "indoorPool": {
          "type": "boolean",
          "description": "Indoor pool. A pool located inside the hotel and available for guests to use for swimming and/or soaking. Use may or may not be restricted to adults and/or children."
        },
        "outdoorPool": {
          "type": "boolean",
          "description": "Outdoor pool. A pool located outside on the grounds of the hotel and available for guests to use for swimming, soaking or recreation. Use may or may not be restricted to adults and/or children."
        },
        "poolsCount": {
          "type": "integer",
          "description": "Pools count. The sum of all pools at the hotel.",
          "format": "int32"
        },
        "waterslide": {
          "type": "boolean",
          "description": "Waterslide. A continuously wetted chute positioned by an indoor or outdoor pool which people slide down into the water."
        },
        "lazyRiverException": {
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Lazy river exception.",
          "type": "string"
        },
        "hotTub": {
          "type": "boolean",
          "description": "Hot tub. A man-made pool containing bubbling water maintained at a higher temperature and circulated by aerating jets for the purpose of soaking, relaxation and hydrotherapy. Can be indoors or outdoors. Not used for active swimming. Also known as Jacuzzi. Hot tub must be in a common area where all guests can access it. Does not apply to room-specific hot tubs that are only accessible to guest occupying that room."
        },
        "pool": {
          "type": "boolean",
          "description": "Pool. The presence of a pool, either indoors or outdoors, for guests to use for swimming and/or soaking. Use may or may not be restricted to adults and/or children."
        },
        "waterParkException": {
          "description": "Water park exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "outdoorPoolsCount": {
          "description": "Outdoor pools count. The sum of all outdoor pools at the hotel.",
          "format": "int32",
          "type": "integer"
        },
        "wavePoolException": {
          "type": "string",
          "description": "Wave pool exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "adultPoolException": {
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Adult pool exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "wadingPoolException": {
          "description": "Wading pool exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        },
        "adultPool": {
          "description": "Adult pool. A pool restricted for use by adults only. Can be indoors or outdoors.",
          "type": "boolean"
        },
        "indoorPoolsCountException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Indoor pools count exception.",
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "indoorPoolException": {
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Indoor pool exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "lazyRiver": {
          "description": "Lazy river. A man-made pool or several interconnected recreational pools built to mimic the shape and current of a winding river where guests float in the water on inflated rubber tubes. Can be indoors or outdoors.",
          "type": "boolean"
        },
        "wadingPool": {
          "type": "boolean",
          "description": "Wading pool. A shallow pool designed for small children to play in. Can be indoors or outdoors. Also known as kiddie pool."
        }
      },
      "type": "object"
    },
    "LivingAreaEating": {
      "description": "Information about eating features in the living area.",
      "id": "LivingAreaEating",
      "type": "object",
      "properties": {
        "kitchenAvailable": {
          "description": "Kitchen available. An area of the guestroom designated for the preparation and storage of food via the presence of a refrigerator, cook top, oven and sink, as well as cutlery, dishes and cookware. Usually includes small appliances such a coffee maker and a microwave. May or may not include an automatic dishwasher.",
          "type": "boolean"
        },
        "teaStationException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Tea station exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        },
        "indoorGrill": {
          "description": "Indoor grill. Metal grates built into an indoor cooktop on which food is cooked over an open flame or electric heat source.",
          "type": "boolean"
        },
        "kitchenAvailableException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Kitchen available exception.",
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "snackbarException": {
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Snackbar exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "stove": {
          "description": "Stove. A kitchen appliance powered by gas or electricity for the purpose of creating a flame or hot surface on which pots of food can be cooked. Also known as cooktop or hob.",
          "type": "boolean"
        },
        "toasterException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Toaster exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "kettle": {
          "description": "Kettle. A covered container with a handle and a spout used for boiling water.",
          "type": "boolean"
        },
        "minibar": {
          "type": "boolean",
          "description": "Minibar. A small refrigerated cabinet in the guestroom containing bottles/cans of soft drinks, mini bottles of alcohol, and snacks. The items are most commonly available for a fee."
        },
        "snackbar": {
          "type": "boolean",
          "description": "Snackbar. A small cabinet in the guestroom containing snacks. The items are most commonly available for a fee."
        },
        "toaster": {
          "type": "boolean",
          "description": "Toaster. A small, temperature controlled electric appliance with rectangular slots at the top that are lined with heated coils for the purpose of browning slices of bread products."
        },
        "refrigerator": {
          "description": "Refrigerator. A large, climate-controlled electrical cabinet with vertical doors. Built for the purpose of chilling and storing perishable foods.",
          "type": "boolean"
        },
        "microwaveException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Microwave exception."
        },
        "teaStation": {
          "description": "Tea station. A small area with the supplies needed to heat water and make tea.",
          "type": "boolean"
        },
        "coffeeMakerException": {
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Coffee maker exception."
        },
        "oven": {
          "description": "Oven. A temperature controlled, heated metal cabinet powered by gas or electricity in which food is placed for the purpose of cooking or reheating.",
          "type": "boolean"
        },
        "kettleException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Kettle exception."
        },
        "indoorGrillException": {
          "description": "Indoor grill exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "dishwasherException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Dishwasher exception."
        },
        "microwave": {
          "type": "boolean",
          "description": "Microwave. An electric oven that quickly cooks and heats food by microwave energy. Smaller than a standing or wall mounted oven. Usually placed on a kitchen counter, a shelf or tabletop or mounted above a cooktop."
        },
        "outdoorGrill": {
          "description": "Outdoor grill. Metal grates on which food is cooked over an open flame or electric heat source. Part of an outdoor apparatus that supports the grates. Also known as barbecue grill or barbecue.",
          "type": "boolean"
        },
        "cookware": {
          "description": "Cookware. Kitchen pots, pans and utensils used in connection with the preparation of food.",
          "type": "boolean"
        },
        "ovenException": {
          "description": "Oven exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        },
        "refrigeratorException": {
          "description": "Refrigerator exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "cookwareException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Cookware exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        },
        "coffeeMaker": {
          "description": "Coffee maker. An electric appliance that brews coffee by heating and forcing water through ground coffee.",
          "type": "boolean"
        },
        "dishwasher": {
          "description": "Dishwasher. A counter-height electrical cabinet containing racks for dirty dishware, cookware and cutlery, and a dispenser for soap built into the pull-down door. The cabinet is attached to the plumbing system to facilitate the automatic cleaning of its contents.",
          "type": "boolean"
        },
        "stoveException": {
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Stove exception."
        },
        "sink": {
          "description": "Sink. A basin with a faucet attached to a water source and used for the purpose of washing and rinsing.",
          "type": "boolean"
        },
        "sinkException": {
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Sink exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "minibarException": {
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "description": "Minibar exception."
        },
        "outdoorGrillException": {
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Outdoor grill exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        }
      }
    },
    "GetGoogleUpdatedLodgingResponse": {
      "properties": {
        "diffMask": {
          "format": "google-fieldmask",
          "description": "Required. The fields in the Lodging that have been updated by Google. Repeated field items are not individually specified.",
          "type": "string"
        },
        "lodging": {
          "description": "Required. The Google updated Lodging.",
          "$ref": "Lodging"
        }
      },
      "type": "object",
      "description": "Response message for LodgingService.GetGoogleUpdatedLodging",
      "id": "GetGoogleUpdatedLodgingResponse"
    },
    "Housekeeping": {
      "description": "Conveniences provided in guest units to facilitate an easier, more comfortable stay.",
      "type": "object",
      "properties": {
        "housekeepingAvailable": {
          "type": "boolean",
          "description": "Housekeeping available. Guest units are cleaned by hotel staff during guest's stay. Schedule may vary from daily, weekly, or specific days of the week."
        },
        "turndownServiceException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "description": "Turndown service exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "dailyHousekeepingException": {
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "description": "Daily housekeeping exception."
        },
        "turndownService": {
          "description": "Turndown service. Hotel staff enters guest units to prepare the bed for sleep use. May or may not include some light housekeeping. May or may not include an evening snack or candy. Also known as evening service.",
          "type": "boolean"
        },
        "housekeepingAvailableException": {
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Housekeeping available exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "dailyHousekeeping": {
          "type": "boolean",
          "description": "Daily housekeeping. Guest units are cleaned by hotel staff daily during guest's stay."
        }
      },
      "id": "Housekeeping"
    },
    "PersonalProtection": {
      "description": "Personal protection measures implemented by the hotel during COVID-19.",
      "id": "PersonalProtection",
      "properties": {
        "protectiveEquipmentAvailable": {
          "type": "boolean",
          "description": "Masks and/or gloves available for guests."
        },
        "faceMaskRequired": {
          "description": "Masks required on the property.",
          "type": "boolean"
        },
        "faceMaskRequiredException": {
          "description": "Face mask required exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        },
        "guestRoomHygieneKitsAvailable": {
          "description": "In-room hygiene kits with masks, hand sanitizer, and/or antibacterial wipes.",
          "type": "boolean"
        },
        "commonAreasOfferSanitizingItems": {
          "type": "boolean",
          "description": "Hand-sanitizer and/or sanitizing wipes are offered in common areas."
        },
        "guestRoomHygieneKitsAvailableException": {
          "description": "Guest room hygiene kits available exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        },
        "protectiveEquipmentAvailableException": {
          "description": "Protective equipment available exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        },
        "commonAreasOfferSanitizingItemsException": {
          "description": "Common areas offer sanitizing items exception.",
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        }
      },
      "type": "object"
    },
    "LivingAreaFeatures": {
      "id": "LivingAreaFeatures",
      "properties": {
        "inunitSafe": {
          "description": "In-unit safe. A strong fireproof cabinet with a programmable lock, used for the protected storage of valuables in a guestroom. Often built into a closet.",
          "type": "boolean"
        },
        "fireplaceException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Fireplace exception."
        },
        "electronicRoomKey": {
          "description": "Electronic room key. A card coded by the check-in computer that is read by the lock on the hotel guestroom door to allow for entry.",
          "type": "boolean"
        },
        "dryerException": {
          "description": "Dryer exception.",
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "privateBathroom": {
          "type": "boolean",
          "description": "Private bathroom. A bathroom designated for the express use of the guests staying in a specific guestroom."
        },
        "bidet": {
          "type": "boolean",
          "description": "Bidet. A plumbing fixture attached to a toilet or a low, fixed sink designed for the purpose of washing after toilet use."
        },
        "tvCasting": {
          "description": "TV casting. A television equipped with a device through which the video entertainment accessed on a personal computer, phone or tablet can be wirelessly delivered to and viewed on the guestroom's television.",
          "type": "boolean"
        },
        "heatingException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "Heating exception."
        },
        "airConditioningException": {
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Air conditioning exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "payPerViewMovies": {
          "type": "boolean",
          "description": "Pay per view movies. Televisions with channels that offer films that can be viewed for a fee, and have an interface to allow the viewer to accept the terms and approve payment."
        },
        "washerException": {
          "type": "string",
          "description": "Washer exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "ironingEquipment": {
          "description": "Ironing equipment. A device, usually with a flat metal base, that is heated to smooth, finish, or press clothes and a flat, padded, cloth-covered surface on which the clothes are worked.",
          "type": "boolean"
        },
        "dryer": {
          "description": "Dryer. An electrical machine designed to dry clothing.",
          "type": "boolean"
        },
        "airConditioning": {
          "description": "Air conditioning. An electrical machine used to cool the temperature of the guestroom.",
          "type": "boolean"
        },
        "hairdryerException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "description": "Hairdryer exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "toilet": {
          "type": "boolean",
          "description": "Toilet. A fixed bathroom feature connected to a sewer or septic system and consisting of a water-flushed bowl with a seat, as well as a device that elicites the water-flushing action. Used for the process and disposal of human waste."
        },
        "inunitWifiAvailableException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "In-unit Wifi available exception.",
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "electronicRoomKeyException": {
          "description": "Electronic room key exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "payPerViewMoviesException": {
          "description": "Pay per view movies exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "hairdryer": {
          "description": "Hairdryer. A handheld electric appliance that blows temperature-controlled air for the purpose of drying wet hair. Can be mounted to a bathroom wall or a freestanding device stored in the guestroom's bathroom or closet.",
          "type": "boolean"
        },
        "showerException": {
          "type": "string",
          "description": "Shower exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "tvCastingException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "description": "TV exception."
        },
        "privateBathroomException": {
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "description": "Private bathroom exception."
        },
        "tvStreaming": {
          "description": "TV streaming. Televisions that embed a range of web-based apps to allow for watching media from those apps.",
          "type": "boolean"
        },
        "universalPowerAdaptersException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Universal power adapters exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        },
        "tvStreamingException": {
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "TV streaming exception.",
          "type": "string"
        },
        "ironingEquipmentException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Ironing equipment exception.",
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "shower": {
          "type": "boolean",
          "description": "Shower. A fixed plumbing fixture for standing bathing that features a tall spray spout or faucet through which water flows, a knob or knobs that control the water's temperature, and a drain in the floor."
        },
        "inunitSafeException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "In-unit safe exception.",
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "tvException": {
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "TV exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "bathtubException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Bathtub exception.",
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "fireplace": {
          "type": "boolean",
          "description": "Fireplace. A framed opening (aka hearth) at the base of a chimney in which logs or an electrical fire feature are burned to provide a relaxing ambiance or to heat the room. Often made of bricks or stone."
        },
        "universalPowerAdapters": {
          "type": "boolean",
          "description": "Universal power adapters. A power supply for electronic devices which plugs into a wall for the purpose of converting AC to a single DC voltage. Also know as AC adapter or charger."
        },
        "bidetException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Bidet exception."
        },
        "tv": {
          "description": "TV. A television is available in the guestroom.",
          "type": "boolean"
        },
        "heating": {
          "description": "Heating. An electrical machine used to warm the temperature of the guestroom.",
          "type": "boolean"
        },
        "washer": {
          "type": "boolean",
          "description": "Washer. An electrical machine connected to a running water source designed to launder clothing."
        },
        "bathtub": {
          "description": "Bathtub. A fixed plumbing feature set on the floor and consisting of a large container that accommodates the body of an adult for the purpose of seated bathing. Includes knobs or fixtures to control the temperature of the water, a faucet through which the water flows, and a drain that can be closed for filling and opened for draining.",
          "type": "boolean"
        },
        "toiletException": {
          "type": "string",
          "description": "Toilet exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "inunitWifiAvailable": {
          "description": "In-unit Wifi available. Guests can wirelessly connect to the Internet in the guestroom. Can be free or for a fee.",
          "type": "boolean"
        }
      },
      "description": "Features in the living area.",
      "type": "object"
    },
    "LivingAreaSleeping": {
      "description": "Information about sleeping features in the living area.",
      "properties": {
        "sofaBedsCountException": {
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Sofa beds count exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "sofaBedsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Sofa beds count. The number of specially designed sofas that can be made to serve as a bed by lowering its hinged upholstered back to horizontal position or by pulling out a concealed mattress."
        },
        "otherBedsCountException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Other beds count exception.",
          "type": "string"
        },
        "bedsCountException": {
          "description": "Beds count exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "singleOrTwinBedsCountException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Single or twin beds count exception.",
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "bunkBedsCountException": {
          "description": "Bunk beds count exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        },
        "rollAwayBedsCount": {
          "format": "int32",
          "description": "Roll away beds count. The number of mattresses on wheeled frames that can be folded in half and rolled away for easy storage that the guestroom can obtain upon request.",
          "type": "integer"
        },
        "queenBedsCountException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "description": "Queen beds count exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "featherPillowsException": {
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Feather pillows exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "cribsCountException": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Cribs count exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ]
        },
        "bedsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Beds count. The number of permanent beds present in a guestroom. Does not include rollaway beds, cribs or sofabeds."
        },
        "syntheticPillows": {
          "description": "Synthetic pillows. The option for guests to obtain bed pillows stuffed with polyester material crafted to reproduce the feel of a pillow stuffed with down and feathers.",
          "type": "boolean"
        },
        "hypoallergenicBedding": {
          "description": "Hypoallergenic bedding. Bedding such as linens, pillows, mattress covers and/or mattresses that are made of materials known to be resistant to allergens such as mold, dust and dander.",
          "type": "boolean"
        },
        "rollAwayBedsCountException": {
          "description": "Roll away beds count exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string"
        },
        "memoryFoamPillows": {
          "description": "Memory foam pillows. The option for guests to obtain bed pillows that are stuffed with a man-made foam that responds to body heat by conforming to the body closely, and then recovers its shape when the pillow cools down.",
          "type": "boolean"
        },
        "otherBedsCount": {
          "format": "int32",
          "type": "integer",
          "description": "Other beds count. The number of beds that are not standard mattress and boxspring setups such as Japanese tatami mats, trundle beds, air mattresses and cots."
        },
        "featherPillows": {
          "description": "Feather pillows. The option for guests to obtain bed pillows that are stuffed with the feathers and down of ducks or geese.",
          "type": "boolean"
        },
        "cribsCount": {
          "format": "int32",
          "description": "Cribs count. The number of small beds for an infant or toddler that the guestroom can obtain. The bed is surrounded by a high railing to prevent the child from falling or climbing out of the bed",
          "type": "integer"
        },
        "kingBedsCountException": {
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "King beds count exception.",
          "type": "string"
        },
        "queenBedsCount": {
          "description": "Queen beds count. The number of medium-large beds measuring 60\"W x 80\"L (152cm x 102cm).",
          "type": "integer",
          "format": "int32"
        },
        "kingBedsCount": {
          "format": "int32",
          "description": "King beds count. The number of large beds measuring 76\"W x 80\"L (193cm x 102cm). Most often meant to accompany two people. Includes California king and super king.",
          "type": "integer"
        },
        "memoryFoamPillowsException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Memory foam pillows exception."
        },
        "doubleBedsCountException": {
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Double beds count exception."
        },
        "doubleBedsCount": {
          "description": "Double beds count. The number of medium beds measuring 53\"W x 75\"L (135cm x 191cm). Also known as full size bed.",
          "type": "integer",
          "format": "int32"
        },
        "singleOrTwinBedsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Single or twin count beds. The number of smaller beds measuring 38\"W x 75\"L (97cm x 191cm) that can accommodate one adult."
        },
        "hypoallergenicBeddingException": {
          "description": "Hypoallergenic bedding exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "syntheticPillowsException": {
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Synthetic pillows exception.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "bunkBedsCount": {
          "type": "integer",
          "description": "Bunk beds count. The number of furniture pieces in which one framed mattress is fixed directly above another by means of a physical frame. This allows one person(s) to sleep in the bottom bunk and one person(s) to sleep in the top bunk. Also known as double decker bed.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "LivingAreaSleeping"
    },
    "TimeOfDay": {
      "type": "object",
      "id": "TimeOfDay",
      "properties": {
        "hours": {
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
    },
    "ViewsFromUnit": {
      "description": "Views available from the guest unit itself.",
      "id": "ViewsFromUnit",
      "type": "object",
      "properties": {
        "gardenViewException": {
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Garden view exception.",
          "type": "string"
        },
        "gardenView": {
          "description": "Garden view. A guestroom that features a window through which guests can see a garden.",
          "type": "boolean"
        },
        "oceanView": {
          "type": "boolean",
          "description": "Ocean view. A guestroom that features a window through which guests can see the ocean."
        },
        "beachViewException": {
          "description": "Beach view exception.",
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "oceanViewException": {
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Ocean view exception.",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "type": "string"
        },
        "valleyViewException": {
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "description": "Valley view exception.",
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ]
        },
        "beachView": {
          "type": "boolean",
          "description": "Beach view. A guestroom that features a window through which guests can see the beach."
        },
        "poolView": {
          "type": "boolean",
          "description": "Pool view. A guestroom that features a window through which guests can see the hotel's swimming pool."
        },
        "poolViewException": {
          "type": "string",
          "enum": [
            "EXCEPTION_UNSPECIFIED",
            "UNDER_CONSTRUCTION",
            "DEPENDENT_ON_SEASON",
            "DEPENDENT_ON_DAY_OF_WEEK"
          ],
          "enumDescriptions": [
            "Default unspecified exception. Use this only if a more specific exception does not match.",
            "Amenity or service is unavailable due to ongoing work orders.",
            "Amenity or service availability is seasonal.",
            "Amenity or service availability depends on the day of the week."
          ],
          "description": "Pool view exception."
        },
        "cityView": {
          "description": "City view. A guestroom that features a window through which guests can see the buildings, parks and/or streets of the city.",
          "type": "boolean"
        },
        "valleyView": {
          "description": "Valley view. A guestroom that features a window through which guests can see over a valley.",
          "type": "boolean"
        },
        "lakeView": {
          "description": "Lake view.",
          "type": "boolean"
[...]
