{
  "id": "mybusinessplaceactions:v1",
  "baseUrl": "https://mybusinessplaceactions.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://mybusinessplaceactions.mtls.googleapis.com/",
  "basePath": "",
  "documentationLink": "https://developers.google.com/my-business/",
  "description": "The My Business Place Actions API provides an interface for managing place action links of a location on Google. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "discoveryVersion": "v1",
  "version": "v1",
  "ownerName": "Google",
  "version_module": true,
  "protocol": "rest",
  "ownerDomain": "google.com",
  "revision": "20260927",
  "servicePath": "",
  "name": "mybusinessplaceactions",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "resources": {
    "locations": {
      "resources": {
        "placeActionLinks": {
          "methods": {
            "create": {
              "id": "mybusinessplaceactions.locations.placeActionLinks.create",
              "response": {
                "$ref": "PlaceActionLink"
              },
              "description": "Creates a place action link associated with the specified location, and returns it. The request is considered duplicate if the `parent`, `place_action_link.uri` and `place_action_link.place_action_type` are the same as a previous request.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the location where to create this place action link. `locations/{location_id}`.",
                  "pattern": "^locations/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks",
              "path": "v1/{+parent}/placeActionLinks",
              "request": {
                "$ref": "PlaceActionLink"
              }
            },
            "get": {
              "description": "Gets the specified place action link.",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the place action link to fetch.",
                  "required": true,
                  "location": "path",
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "mybusinessplaceactions.locations.placeActionLinks.get",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}",
              "response": {
                "$ref": "PlaceActionLink"
              },
              "httpMethod": "GET",
              "path": "v1/{+name}"
            },
            "list": {
              "description": "Lists the place action links for the specified location.",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. How many place action links to return per page. Default of 10. The minimum is 1."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A filter constraining the place action links to return. The response includes entries that match the filter. We support only the following filter: 1. place_action_type=XYZ where XYZ is a valid PlaceActionType."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. If specified, returns the next page of place action links."
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The name of the location whose place action links will be listed. `locations/{location_id}`.",
                  "required": true,
                  "pattern": "^locations/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "mybusinessplaceactions.locations.placeActionLinks.list",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks",
              "response": {
                "$ref": "ListPlaceActionLinksResponse"
              },
              "path": "v1/{+parent}/placeActionLinks"
            },
            "delete": {
              "description": "Deletes a place action link from the specified location.",
              "id": "mybusinessplaceactions.locations.placeActionLinks.delete",
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the place action link to remove from the location.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$"
                }
              },
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "PlaceActionLink"
              },
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "description": "Required. The specific fields to update. The only editable fields are `uri`, `place_action_type` and `is_preferred`. If the updated link already exists at the same location with the same `place_action_type` and `uri`, fails with an `ALREADY_EXISTS` error.",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^locations/[^/]+/placeActionLinks/[^/]+$",
                  "description": "Optional. The resource name, in the format `locations/{location_id}/placeActionLinks/{place_action_link_id}`. The name field will only be considered in UpdatePlaceActionLink and DeletePlaceActionLink requests for updating and deleting links respectively. However, it will be ignored in CreatePlaceActionLink request, where `place_action_link_id` will be assigned by the server on successful creation of a new link and returned as part of the response."
                }
              },
              "request": {
                "$ref": "PlaceActionLink"
              },
              "description": "Updates the specified place action link and returns it.",
              "id": "mybusinessplaceactions.locations.placeActionLinks.patch",
              "flatPath": "v1/locations/{locationsId}/placeActionLinks/{placeActionLinksId}",
              "httpMethod": "PATCH",
              "path": "v1/{+name}"
            }
          }
        }
      }
    },
    "placeActionTypeMetadata": {
      "methods": {
        "list": {
          "parameters": {
            "pageSize": {
              "location": "query",
              "description": "Optional. How many action types to include per page. Default is 10, minimum is 1.",
              "format": "int32",
              "type": "integer"
            },
            "filter": {
              "description": "Optional. A filter constraining the place action types to return metadata for. The response includes entries that match the filter. We support only the following filters: 1. location=XYZ where XYZ is a string indicating the resource name of a location, in the format `locations/{location_id}`. 2. region_code=XYZ where XYZ is a Unicode CLDR region code to find available action types. If no filter is provided, all place action types are returned.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "Optional. If specified, the next page of place action type metadata is retrieved. The `pageToken` is returned when a call to `placeActionTypeMetadata.list` returns more results than can fit into the requested page size.",
              "type": "string",
              "location": "query"
            },
            "languageCode": {
              "description": "Optional. The IETF BCP-47 code of language to get display names in. If this language is not available, they will be provided in English.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "mybusinessplaceactions.placeActionTypeMetadata.list",
          "description": "Returns the list of available place action types for a location or country.",
          "path": "v1/placeActionTypeMetadata",
          "flatPath": "v1/placeActionTypeMetadata",
          "response": {
            "$ref": "ListPlaceActionTypeMetadataResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": []
        }
      }
    }
  },
  "title": "My Business Place Actions API",
  "schemas": {
    "ListPlaceActionLinksResponse": {
      "properties": {
        "placeActionLinks": {
          "description": "The returned list of place action links.",
          "type": "array",
          "items": {
            "$ref": "PlaceActionLink"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there are more place action links than the requested page size, then this field is populated with a token to fetch the next page of results."
        }
      },
      "description": "Response message for PlaceActions.ListPlaceActionLinks.",
      "type": "object",
      "id": "ListPlaceActionLinksResponse"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "PlaceActionLink": {
      "properties": {
        "placeActionType": {
          "description": "Required. The type of place action that can be performed using this link.",
          "enum": [
            "PLACE_ACTION_TYPE_UNSPECIFIED",
            "APPOINTMENT",
            "ONLINE_APPOINTMENT",
            "DINING_RESERVATION",
            "FOOD_ORDERING",
            "FOOD_DELIVERY",
            "FOOD_TAKEOUT",
            "SHOP_ONLINE",
            "SOLOPRENEUR_APPOINTMENT"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The action type is booking an appointment.",
            "The action type is booking an online appointment.",
            "The action type is making a dining reservation.",
            "The action type is ordering food for delivery and/or takeout.",
            "The action type is ordering food for delivery.",
            "The action type is ordering food for takeout.",
            "The action type is shopping, that can be delivery and/or pickup.",
            "The action type is booking an appointment with a Solopneuer partner."
          ],
          "type": "string"
        },
        "isPreferred": {
          "description": "Optional. Whether this link is preferred by the merchant. Only one link can be marked as preferred per place action type at a location. If a future request marks a different link as preferred for the same place action type, then the current preferred link (if any exists) will lose its preference.",
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the place action link was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time when the place action link was last modified.",
          "type": "string",
          "format": "google-datetime"
        },
        "providerType": {
          "readOnly": true,
          "description": "Output only. Specifies the provider type.",
          "enum": [
            "PROVIDER_TYPE_UNSPECIFIED",
            "MERCHANT",
            "AGGREGATOR_3P"
          ],
          "enumDescriptions": [
            "Not specified.",
            "A 1P provider such as a merchant, or an agency on behalf of a merchant.",
            "A 3P aggregator, such as a `Reserve with Google` partner."
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Optional. The resource name, in the format `locations/{location_id}/placeActionLinks/{place_action_link_id}`. The name field will only be considered in UpdatePlaceActionLink and DeletePlaceActionLink requests for updating and deleting links respectively. However, it will be ignored in CreatePlaceActionLink request, where `place_action_link_id` will be assigned by the server on successful creation of a new link and returned as part of the response."
        },
        "uri": {
          "description": "Required. The link uri. The same uri can be reused for different action types across different locations. However, only one place action link is allowed for each unique combination of (uri, place action type, location).",
          "type": "string"
        },
        "isEditable": {
          "description": "Output only. Indicates whether this link can be edited by the client.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "PlaceActionLink",
      "description": "Represents a place action link and its attributes.",
      "type": "object"
    },
    "ListPlaceActionTypeMetadataResponse": {
      "description": "Response message for PlaceActions.ListPlaceActionTypeMetadata.",
      "id": "ListPlaceActionTypeMetadataResponse",
      "properties": {
        "placeActionTypeMetadata": {
          "type": "array",
          "description": "A collection of metadata for the available place action types.",
          "items": {
            "$ref": "PlaceActionTypeMetadata"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If the number of action types exceeded the requested page size, this field will be populated with a token to fetch the next page on a subsequent call to `placeActionTypeMetadata.list`. If there are no more results, this field will not be present in the response."
        }
      },
      "type": "object"
    },
    "PlaceActionTypeMetadata": {
      "id": "PlaceActionTypeMetadata",
      "type": "object",
      "description": "Metadata for supported place action types.",
      "properties": {
        "displayName": {
          "description": "The localized display name for the attribute, if available; otherwise, the English display name.",
          "type": "string"
        },
        "placeActionType": {
          "type": "string",
          "enum": [
            "PLACE_ACTION_TYPE_UNSPECIFIED",
            "APPOINTMENT",
            "ONLINE_APPOINTMENT",
            "DINING_RESERVATION",
            "FOOD_ORDERING",
            "FOOD_DELIVERY",
            "FOOD_TAKEOUT",
            "SHOP_ONLINE",
            "SOLOPRENEUR_APPOINTMENT"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The action type is booking an appointment.",
            "The action type is booking an online appointment.",
            "The action type is making a dining reservation.",
            "The action type is ordering food for delivery and/or takeout.",
            "The action type is ordering food for delivery.",
            "The action type is ordering food for takeout.",
            "The action type is shopping, that can be delivery and/or pickup.",
            "The action type is booking an appointment with a Solopneuer partner."
          ],
          "description": "The place action type."
        }
      }
    }
  },
  "rootUrl": "https://mybusinessplaceactions.googleapis.com/",
  "canonicalName": "My Business Place Actions",
  "kind": "discovery#restDescription"
}