{
  "title": "My Business Notifications API",
  "documentationLink": "https://developers.google.com/my-business/",
  "ownerDomain": "google.com",
  "version_module": true,
  "revision": "20260902",
  "basePath": "",
  "ownerName": "Google",
  "rootUrl": "https://mybusinessnotifications.googleapis.com/",
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "description": "The My Business Notification Settings API enables managing notification settings for business accounts. Note - If you have a quota of 0 after enabling the API, please request for GBP API access.",
  "baseUrl": "https://mybusinessnotifications.googleapis.com/",
  "mtlsRootUrl": "https://mybusinessnotifications.mtls.googleapis.com/",
  "canonicalName": "My Business Notification Settings",
  "schemas": {
    "NotificationSetting": {
      "id": "NotificationSetting",
      "type": "object",
      "properties": {
        "pubsubTopic": {
          "type": "string",
          "description": "Optional. The Google Pub/Sub topic that will receive notifications when locations managed by this account are updated. If unset, no notifications will be posted. The account mybusiness-api-pubsub@system.gserviceaccount.com must have at least Publish permissions on the Pub/Sub topic."
        },
        "name": {
          "type": "string",
          "description": "Required. The resource name this setting is for. This is of the form `accounts/{account_id}/notificationSetting`."
        },
        "notificationTypes": {
          "type": "array",
          "description": "The types of notifications that will be sent to the Pub/Sub topic. To stop receiving notifications entirely, use NotificationSettings.UpdateNotificationSetting with an empty notification_types or set the pubsub_topic to an empty string.",
          "items": {
            "enumDescriptions": [
              "No notification type. Will not match any notifications.",
              "The location has Google updates for review. The location_name field on the notification will provide the resource name of the location with Google updates.",
              "A new review has been added to the location. The review_name field on the notification will provide the resource name of the review that was added, and location_name will have the location's resource name.",
              "A review on the location has been updated. The review_name field on the notification will provide the resource name of the review that was added, and location_name will have the location's resource name.",
              "A new media item has been added to the location by a Google Maps user. The notification will provide the resource name of the new media item.",
              "A new question is added to the location. The notification will provide the resource name of question.",
              "A question of the location is updated. The notification will provide the resource name of question.",
              "A new answer is added to the location. The notification will provide the resource name of question and answer.",
              "An answer of the location is updated. The notification will provide the resource name of question and answer.",
              "Indicates whether there is a change in location metadata's duplicate location field.",
              "Deprecated: Migrate the existing usages of this value to the more expanded \"VOICE_OF_MERCHANT_UPDATED\".",
              "Indicates whether the location has an update in Voice of Merchant (VOM) status. VOM dictates whether the location is in good standing and the merchant has control over the business on Google. Any edits made to the location will propagate to Maps after passing the review phase. Call GetVoiceOfMerchantState rpc for more details."
            ],
            "enumDeprecated": [
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              true,
              false
            ],
            "type": "string",
            "enum": [
              "NOTIFICATION_TYPE_UNSPECIFIED",
              "GOOGLE_UPDATE",
              "NEW_REVIEW",
              "UPDATED_REVIEW",
              "NEW_CUSTOMER_MEDIA",
              "NEW_QUESTION",
              "UPDATED_QUESTION",
              "NEW_ANSWER",
              "UPDATED_ANSWER",
              "DUPLICATE_LOCATION",
              "LOSS_OF_VOICE_OF_MERCHANT",
              "VOICE_OF_MERCHANT_UPDATED"
            ]
          }
        }
      },
      "description": "A Google Pub/Sub topic where notifications can be published when a location is updated or has a new review. There will be only one notification setting resource per-account."
    }
  },
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "name": "mybusinessnotifications",
  "resources": {
    "accounts": {
      "methods": {
        "getNotificationSetting": {
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Required. The resource name of the notification setting we are trying to fetch.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^accounts/[^/]+/notificationSetting$"
            }
          },
          "description": "Returns the pubsub notification settings for the account.",
          "response": {
            "$ref": "NotificationSetting"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/accounts/{accountsId}/notificationSetting",
          "path": "v1/{+name}",
          "id": "mybusinessnotifications.accounts.getNotificationSetting"
        },
        "updateNotificationSetting": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "NotificationSetting"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "description": "Required. The resource name this setting is for. This is of the form `accounts/{account_id}/notificationSetting`.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^accounts/[^/]+/notificationSetting$"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "Required. The specific fields that should be updated. The only editable field is notification_setting.",
              "type": "string"
            }
          },
          "path": "v1/{+name}",
          "id": "mybusinessnotifications.accounts.updateNotificationSetting",
          "request": {
            "$ref": "NotificationSetting"
          },
          "flatPath": "v1/accounts/{accountsId}/notificationSetting",
          "description": "Sets the pubsub notification setting for the account informing Google which topic to send pubsub notifications for. Use the notification_types field within notification_setting to manipulate the events an account wants to subscribe to. An account will only have one notification setting resource, and only one pubsub topic can be set. To delete the setting, update with an empty notification_types"
        }
      }
    }
  },
  "id": "mybusinessnotifications:v1",
  "batchPath": "batch",
  "version": "v1"
}