{
  "name": "netapp",
  "discoveryVersion": "v1",
  "id": "netapp:v1",
  "protocol": "rest",
  "canonicalName": "NetApp Files",
  "schemas": {
    "ExecuteOntapDeleteResponse": {
      "id": "ExecuteOntapDeleteResponse",
      "properties": {
        "body": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "The raw `JSON` body of the response."
        }
      },
      "description": "Response message for `ExecuteOntapDelete` API.",
      "type": "object"
    },
    "TieringPolicy": {
      "id": "TieringPolicy",
      "properties": {
        "coolingThresholdDays": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Time in days to mark the volume's data block as cold and make it eligible for tiering, can be range from 2-183. Default is 31."
        },
        "hotTierBypassModeEnabled": {
          "type": "boolean",
          "description": "Optional. Flag indicating that the hot tier bypass mode is enabled. Default is false. This is only applicable to Flex service level."
        },
        "tierAction": {
          "enum": [
            "TIER_ACTION_UNSPECIFIED",
            "ENABLED",
            "PAUSED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "When tiering is enabled, new cold data will be tiered.",
            "When paused, tiering won't be performed on new data. Existing data stays tiered until accessed."
          ],
          "description": "Optional. Flag indicating if the volume has tiering policy enable/pause. Default is PAUSED.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Defines tiering policy for the volume."
    },
    "VerifyKmsConfigRequest": {
      "description": "VerifyKmsConfigRequest specifies the KMS config to be validated.",
      "type": "object",
      "properties": {},
      "id": "VerifyKmsConfigRequest"
    },
    "Backup": {
      "type": "object",
      "properties": {
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use",
          "readOnly": true,
          "type": "boolean"
        },
        "ontapSource": {
          "description": "Optional. Represents source details for ONTAP backups. Either source_volume or ontap_source should be provided.",
          "$ref": "OntapSource"
        },
        "description": {
          "description": "A description of the backup with 2048 characters or less. Requests with longer descriptions will be rejected.",
          "type": "string"
        },
        "volumeUsageBytes": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Size of the file system when the backup was created. When creating a new volume from the backup, the volume capacity will have to be at least as big.",
          "type": "string"
        },
        "enforcedRetentionEndTime": {
          "description": "Output only. The time until which the backup is not deletable.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "backupType": {
          "enumDescriptions": [
            "Unspecified backup type.",
            "Manual backup type.",
            "Scheduled backup type."
          ],
          "type": "string",
          "description": "Output only. Type of backup, manually created or created by a backup policy.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MANUAL",
            "SCHEDULED"
          ],
          "readOnly": true
        },
        "backupRegion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Region in which backup is stored. Format: `projects/{project_id}/locations/{location}`"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the backup. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`."
        },
        "sourceSnapshot": {
          "description": "If specified, backup will be created from the given snapshot. If not specified, there will be a new snapshot taken to initiate the backup creation. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`",
          "type": "string"
        },
        "sourceVolume": {
          "type": "string",
          "description": "The resource name of the volume that this backup belongs to. You must provide either `source_volume` or `ontap_source`. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}`"
        },
        "chainStorageBytes": {
          "type": "string",
          "description": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size)",
          "readOnly": true,
          "format": "int64"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPLOADING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "description": "Output only. The backup state.",
          "enumDescriptions": [
            "State not set.",
            "Backup is being created. While in this state, the snapshot for the backup point-in-time may not have been created yet, and so the point-in-time may not have been fixed.",
            "Backup is being uploaded. While in this state, none of the writes to the volume will be included in the backup.",
            "Backup is available for use.",
            "Backup is being deleted.",
            "Backup is not valid and cannot be used for creating new volumes or restoring existing volumes.",
            "Backup is being updated."
          ]
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the backup was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use",
          "type": "boolean"
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "volumeRegion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Region of the volume from which the backup was created. Format: `projects/{project_id}/locations/{location}`"
        }
      },
      "id": "Backup",
      "description": "A NetApp Backup."
    },
    "BackupSource": {
      "type": "object",
      "properties": {
        "fileList": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of files to be restored in the form of their absolute path as in source volume. If provided, only these files will be restored. If not provided, the entire backup will be restored (Full Backup Restore)"
        },
        "backup": {
          "type": "string",
          "description": "Required. The backup resource name."
        }
      },
      "description": "Represents the backup source of the restore operation.",
      "id": "BackupSource"
    },
    "CacheParameters": {
      "id": "CacheParameters",
      "description": "Cache Parameters for the volume.",
      "type": "object",
      "properties": {
        "cacheConfig": {
          "$ref": "CacheConfig",
          "description": "Optional. Configuration of the cache volume."
        },
        "peeringCommandExpiryTime": {
          "type": "string",
          "description": "Optional. Expiration time for the peering command to be executed on user's ONTAP.",
          "format": "google-datetime"
        },
        "peerClusterName": {
          "type": "string",
          "description": "Required. Name of the origin volume's ONTAP cluster."
        },
        "enableGlobalFileLock": {
          "description": "Optional. Indicates whether the cache volume has global file lock enabled.",
          "type": "boolean"
        },
        "peerIpAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. List of IC LIF addresses of the origin volume's ONTAP cluster."
        },
        "stateDetails": {
          "type": "string",
          "description": "Output only. Detailed description of the current cache state.",
          "readOnly": true
        },
        "peerSvmName": {
          "type": "string",
          "description": "Required. Name of the origin volume's SVM."
        },
        "command": {
          "description": "Output only. Copy-paste-able commands to be used on user's ONTAP to accept peering requests.",
          "type": "string",
          "readOnly": true
        },
        "cacheState": {
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified state.",
            "State indicating waiting for cluster peering to be established.",
            "State indicating waiting for SVM peering to be established.",
            "State indicating successful establishment of peering with origin volumes's ONTAP cluster.",
            "Terminal state wherein peering with origin volume's ONTAP cluster has failed."
          ],
          "enum": [
            "CACHE_STATE_UNSPECIFIED",
            "PENDING_CLUSTER_PEERING",
            "PENDING_SVM_PEERING",
            "PEERED",
            "ERROR"
          ],
          "type": "string",
          "description": "Output only. State of the cache volume indicating the peering status."
        },
        "peerVolumeName": {
          "type": "string",
          "description": "Required. Name of the origin volume for the cache volume."
        },
        "passphrase": {
          "description": "Output only. Temporary passphrase generated to accept cluster peering command.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "StoragePool": {
      "description": "StoragePool is a container for volumes with a service level and capacity. Volumes can be created in a pool of sufficient available capacity. StoragePool capacity is what you are billed for.",
      "properties": {
        "customPerformanceEnabled": {
          "type": "boolean",
          "description": "Optional. True if using Independent Scaling of capacity and performance (Hyperdisk) By default set to false"
        },
        "scaleType": {
          "enumDescriptions": [
            "Unspecified scale type.",
            "Represents standard capacity and performance scale-type. Suitable for general purpose workloads.",
            "Represents higher capacity and performance scale-type. Suitable for more demanding workloads."
          ],
          "description": "Optional. The scale type of the storage pool. Defaults to `SCALE_TYPE_DEFAULT` if not specified.",
          "type": "string",
          "enum": [
            "SCALE_TYPE_UNSPECIFIED",
            "SCALE_TYPE_DEFAULT",
            "SCALE_TYPE_SCALEOUT"
          ]
        },
        "enableHotTierAutoResize": {
          "description": "Optional. Flag indicating that the hot-tier threshold will be auto-increased by 10% of the hot-tier when it hits 100%. Default is true. The increment will kick in only if the new size after increment is still less than or equal to storage pool size.",
          "type": "boolean"
        },
        "stateDetails": {
          "type": "string",
          "description": "Output only. State details of the storage pool",
          "readOnly": true
        },
        "totalIops": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Custom Performance Total IOPS of the pool if not provided, it will be calculated based on the total_throughput_mibps"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels as key value pairs"
        },
        "zone": {
          "type": "string",
          "description": "Optional. Specifies the active zone for regional storagePool."
        },
        "volumeCapacityGib": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Allocated size of all volumes in GIB in the storage pool",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the storage pool"
        },
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "DEFAULT",
            "ONTAP"
          ],
          "enumDescriptions": [
            "The `Mode` is not specified.",
            "The resource is managed by the GCNV APIs.",
            "The resource is managed by the GCNV ONTAP Mode APIs."
          ],
          "description": "Optional. Mode of the storage pool. This field is used to control whether the user can perform ONTAP operations on the storage pool using the GCNV ONTAP Mode APIs. If not specified during creation, it defaults to `DEFAULT`.",
          "type": "string"
        },
        "type": {
          "enum": [
            "STORAGE_POOL_TYPE_UNSPECIFIED",
            "FILE",
            "UNIFIED"
          ],
          "description": "Optional. Type of the storage pool. This field is used to control whether the pool supports `FILE` based volumes only or `UNIFIED` (both `FILE` and `BLOCK`) volumes. If not specified during creation, it defaults to `FILE`.",
          "enumDescriptions": [
            "Storage pool type is not specified.",
            "Storage pool type is file.",
            "Storage pool type is unified."
          ],
          "type": "string"
        },
        "activeDirectory": {
          "type": "string",
          "description": "Optional. Specifies the Active Directory to be used for creating a SMB volume."
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use",
          "type": "boolean"
        },
        "allowAutoTiering": {
          "type": "boolean",
          "description": "Optional. True if the storage pool supports Auto Tiering enabled volumes. Default is false. Auto-tiering can be enabled after storage pool creation but it can't be disabled once enabled."
        },
        "network": {
          "description": "Required. VPC Network name. Format: projects/{project}/global/networks/{network}",
          "type": "string"
        },
        "totalThroughputMibps": {
          "format": "int64",
          "description": "Optional. Custom Performance Total Throughput of the pool (in MiBps)",
          "type": "string"
        },
        "psaRange": {
          "type": "string",
          "description": "Optional. This field is not implemented. The values provided in this field are ignored."
        },
        "capacityGib": {
          "format": "int64",
          "type": "string",
          "description": "Required. Capacity in GIB of the pool"
        },
        "encryptionType": {
          "description": "Output only. Specifies the current pool encryption key source.",
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "SERVICE_MANAGED",
            "CLOUD_KMS"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The source of the encryption key is not specified.",
            "Google managed encryption key.",
            "Customer managed encryption key, which is stored in KMS."
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the storage pool"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. State of the storage pool",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "RESTORING",
            "DISABLED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unspecified Storage Pool State",
            "Storage Pool State is Ready",
            "Storage Pool State is Creating",
            "Storage Pool State is Deleting",
            "Storage Pool State is Updating",
            "Storage Pool State is Restoring",
            "Storage Pool State is Disabled",
            "Storage Pool State is Error"
          ]
        },
        "serviceLevel": {
          "description": "Required. Service level of the storage pool",
          "type": "string",
          "enumDescriptions": [
            "Unspecified service level.",
            "Premium service level.",
            "Extreme service level.",
            "Standard service level.",
            "Flex service level."
          ],
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "PREMIUM",
            "EXTREME",
            "STANDARD",
            "FLEX"
          ]
        },
        "kmsConfig": {
          "type": "string",
          "description": "Optional. Specifies the KMS config to be used for volume encryption."
        },
        "ldapEnabled": {
          "type": "boolean",
          "description": "Optional. Flag indicating if the pool is NFS LDAP enabled or not."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Create time of the storage pool",
          "format": "google-datetime",
          "type": "string"
        },
        "replicaZone": {
          "description": "Optional. Specifies the replica zone for regional storagePool.",
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use",
          "type": "boolean",
          "readOnly": true
        },
        "coldTierSizeUsedGib": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Total cold tier data rounded down to the nearest GiB used by the storage pool."
        },
        "volumeCount": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Volume count of the storage pool",
          "format": "int32"
        },
        "qosType": {
          "type": "string",
          "description": "Optional. QoS (Quality of Service) Type of the storage pool",
          "enum": [
            "QOS_TYPE_UNSPECIFIED",
            "AUTO",
            "MANUAL"
          ],
          "enumDescriptions": [
            "Unspecified QoS Type",
            "QoS Type is Auto",
            "QoS Type is Manual"
          ]
        },
        "globalAccessAllowed": {
          "description": "Deprecated. Used to allow SO pool to access AD or DNS server from other regions.",
          "type": "boolean",
          "deprecated": true
        },
        "hotTierSizeGib": {
          "format": "int64",
          "description": "Optional. Total hot tier capacity for the Storage Pool. It is applicable only to Flex service level. It should be less than the minimum storage pool size and cannot be more than the current storage pool size. It cannot be decreased once set.",
          "type": "string"
        },
        "hotTierSizeUsedGib": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Total hot tier data rounded down to the nearest GiB used by the storage pool.",
          "type": "string"
        },
        "availableThroughputMibps": {
          "format": "double",
          "type": "number",
          "description": "Output only. Available throughput of the storage pool (in MiB/s).",
          "readOnly": true
        }
      },
      "id": "StoragePool",
      "type": "object"
    },
    "SnapshotPolicy": {
      "id": "SnapshotPolicy",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "If enabled, make snapshots automatically according to the schedules. Default is false."
        },
        "monthlySchedule": {
          "$ref": "MonthlySchedule",
          "description": "Monthly schedule policy."
        },
        "weeklySchedule": {
          "description": "Weekly schedule policy.",
          "$ref": "WeeklySchedule"
        },
        "dailySchedule": {
          "description": "Daily schedule policy.",
          "$ref": "DailySchedule"
        },
        "hourlySchedule": {
          "$ref": "HourlySchedule",
          "description": "Hourly schedule policy."
        }
      },
      "description": "Snapshot Policy for a volume."
    },
    "ReverseReplicationDirectionRequest": {
      "properties": {},
      "type": "object",
      "id": "ReverseReplicationDirectionRequest",
      "description": "ReverseReplicationDirectionRequest reverses direction of replication. Source becomes destination and destination becomes source."
    },
    "Snapshot": {
      "type": "object",
      "description": "Snapshot is a point-in-time version of a Volume's content.",
      "properties": {
        "description": {
          "description": "A description of the snapshot with 2048 characters or less. Requests with longer descriptions will be rejected.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the snapshot. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "DISABLED",
            "ERROR"
          ],
          "description": "Output only. The snapshot state.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified Snapshot State",
            "Snapshot State is Ready",
            "Snapshot State is Creating",
            "Snapshot State is Deleting",
            "Snapshot State is Updating",
            "Snapshot State is Disabled",
            "Snapshot State is Error"
          ]
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user provided metadata."
        },
        "usedBytes": {
          "type": "number",
          "readOnly": true,
          "format": "double",
          "description": "Output only. Current storage usage for the snapshot in bytes."
        },
        "createTime": {
          "description": "Output only. The time when the snapshot was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "stateDetails": {
          "readOnly": true,
          "description": "Output only. State details of the storage pool",
          "type": "string"
        }
      },
      "id": "Snapshot"
    },
    "Status": {
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "UpdateBackupConfigRequest": {
      "id": "UpdateBackupConfigRequest",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. Field mask is used to specify the fields to be overwritten in the BackupConfig for the Volume. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask."
        },
        "volumeUuid": {
          "description": "Required. The UUID of the ONTAP-mode volume.",
          "type": "string"
        },
        "backupConfig": {
          "description": "Required. Backup configuration to apply.",
          "$ref": "BackupConfig"
        }
      },
      "description": "Request message for UpdateBackupConfig",
      "type": "object"
    },
    "LargeCapacityConfig": {
      "description": "Configuration for a Large Capacity Volume. A Large Capacity Volume supports sizes ranging from 4.8 TiB to 20 PiB; it is composed of multiple internal constituents, and must be created in a large capacity pool.",
      "id": "LargeCapacityConfig",
      "properties": {
        "constituentCount": {
          "description": "Optional. The number of internal constituents (e.g., FlexVols) for this large volume. The minimum number of constituents is 2.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ExecuteOntapPostResponse": {
      "properties": {
        "body": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The raw `JSON` body of the response.",
          "type": "object"
        }
      },
      "id": "ExecuteOntapPostResponse",
      "description": "Response message for `ExecuteOntapPost` API.",
      "type": "object"
    },
    "BlockDevice": {
      "description": "Block device represents the device(s) which are stored in the block volume.",
      "properties": {
        "identifier": {
          "description": "Output only. Device identifier of the block volume. This represents `lun_serial_number` for iSCSI volumes.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Optional. User-defined name for the block device, unique within the volume. In case no user input is provided, name will be auto-generated in the backend. The name must meet the following requirements: * Be between 1 and 255 characters long. * Contain only uppercase or lowercase letters (A-Z, a-z), numbers (0-9), and the following special characters: \"-\", \"_\", \"}\", \"{\", \".\". * Spaces are not allowed."
        },
        "sizeGib": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The size of the block device in GiB. Any value provided for the `size_gib` field during volume creation is ignored. The block device's size is system-managed and will be set to match the parent Volume's `capacity_gib`."
        },
        "osType": {
          "description": "Required. Immutable. The OS type of the volume. This field can't be changed after the block device is created.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified OS Type",
            "OS Type is Linux",
            "OS Type is Windows",
            "OS Type is VMware ESXi"
          ],
          "enum": [
            "OS_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS",
            "ESXI"
          ]
        },
        "hostGroups": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of host groups that identify hosts that can mount the block volume. Format: `projects/{project_id}/locations/{location}/hostGroups/{host_group_id}` This field can be updated after the block device is created."
        }
      },
      "type": "object",
      "id": "BlockDevice"
    },
    "KmsConfig": {
      "properties": {
        "stateDetails": {
          "description": "Output only. State details of the KmsConfig.",
          "type": "string",
          "readOnly": true
        },
        "cryptoKeyName": {
          "description": "Required. Customer-managed crypto key resource full name. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Create time of the KmsConfig.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "instructions": {
          "readOnly": true,
          "description": "Output only. Instructions to provide the access to the customer provided encryption key.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Output only. The Service account which will have access to the customer provided encryption key.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. Name of the `KmsConfig`. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels as key value pairs"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified KmsConfig State",
            "KmsConfig State is Ready",
            "KmsConfig State is Creating",
            "KmsConfig State is Deleting",
            "KmsConfig State is Updating",
            "KmsConfig State is In Use.",
            "KmsConfig State is Error",
            "KmsConfig State is Pending to verify crypto key access.",
            "KmsConfig State is Not accessbile by the SDE service account to the crypto key.",
            "KmsConfig State is Disabling.",
            "KmsConfig State is Disabled.",
            "KmsConfig State is Migrating. The existing volumes are migrating from SMEK to CMEK."
          ],
          "description": "Output only. State of the KmsConfig.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "IN_USE",
            "ERROR",
            "KEY_CHECK_PENDING",
            "KEY_NOT_REACHABLE",
            "DISABLING",
            "DISABLED",
            "MIGRATING"
          ],
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Description of the KmsConfig."
        }
      },
      "id": "KmsConfig",
      "description": "KmsConfig is the customer-managed encryption key(CMEK) configuration.",
      "type": "object"
    },
    "QuotaRule": {
      "properties": {
        "diskLimitMib": {
          "format": "int32",
          "description": "Required. The maximum allowed disk space in MiB.",
          "type": "integer"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified type for quota rule",
            "Individual user quota rule",
            "Individual group quota rule",
            "Default user quota rule",
            "Default group quota rule"
          ],
          "description": "Required. The type of quota rule.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INDIVIDUAL_USER_QUOTA",
            "INDIVIDUAL_GROUP_QUOTA",
            "DEFAULT_USER_QUOTA",
            "DEFAULT_GROUP_QUOTA"
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the quota rule. Format: `projects/{project_number}/locations/{location_id}/volumes/volumes/{volume_id}/quotaRules/{quota_rule_id}`."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the quota rule"
        },
        "createTime": {
          "description": "Output only. Create time of the quota rule",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state for quota rule",
            "Quota rule is creating",
            "Quota rule is updating",
            "Quota rule is deleting",
            "Quota rule is ready",
            "Quota rule is in error state."
          ],
          "description": "Output only. State of the quota rule",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "DELETING",
            "READY",
            "ERROR"
          ]
        },
        "stateDetails": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. State details of the quota rule"
        },
        "target": {
          "type": "string",
          "description": "Optional. The quota rule applies to the specified user or group, identified by a Unix UID/GID, Windows SID, or null for default."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels of the quota rule"
        }
      },
      "type": "object",
      "description": "QuotaRule specifies the maximum disk space a user or group can use within a volume. They can be used for creating default and individual quota rules.",
      "id": "QuotaRule"
    },
    "HourlySchedule": {
      "description": "Make a snapshot every hour e.g. at 04:00, 05:00, 06:00.",
      "type": "object",
      "id": "HourlySchedule",
      "properties": {
        "minute": {
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "type": "number",
          "format": "double"
        },
        "snapshotsToKeep": {
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "type": "number",
          "format": "double"
        }
      }
    },
    "CacheConfig": {
      "id": "CacheConfig",
      "description": "Configuration of the cache volume.",
      "properties": {
        "cachePrePopulate": {
          "description": "Optional. Pre-populate cache volume with data from the origin volume.",
          "$ref": "CachePrePopulate"
        },
        "writebackEnabled": {
          "type": "boolean",
          "description": "Optional. Flag indicating whether writeback is enabled for the FlexCache volume."
        },
        "cifsChangeNotifyEnabled": {
          "type": "boolean",
          "description": "Optional. Flag indicating whether a CIFS change notification is enabled for the FlexCache volume."
        },
        "cachePrePopulateState": {
          "enum": [
            "CACHE_PRE_POPULATE_STATE_UNSPECIFIED",
            "NOT_NEEDED",
            "IN_PROGRESS",
            "COMPLETE",
            "ERROR"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified state.",
            "State representing when the most recent create or update request did not require a prepopulation job.",
            "State representing when the most recent update request requested a prepopulation job but it has not yet completed.",
            "State representing when the most recent update request requested a prepopulation job and it has completed successfully.",
            "State representing when the most recent update request requested a prepopulation job but the prepopulate job failed."
          ],
          "type": "string",
          "description": "Output only. State of the prepopulation job indicating how the prepopulation is progressing."
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "BackupConfig": {
      "description": "BackupConfig contains backup related config on a volume.",
      "id": "BackupConfig",
      "properties": {
        "scheduledBackupEnabled": {
          "description": "Optional. When set to true, scheduled backup is enabled on the volume. This field should be nil when there's no backup policy attached.",
          "type": "boolean"
        },
        "backupPolicies": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. When specified, schedule backups will be created based on the policy configuration."
        },
        "backupVault": {
          "description": "Optional. Name of backup vault. Format: projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}",
          "type": "string"
        },
        "backupChainBytes": {
          "format": "int64",
          "description": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size).",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "SplitStatus": {
      "id": "SplitStatus",
      "type": "object",
      "properties": {
        "splitState": {
          "enumDescriptions": [
            "State is not specified.",
            "The volume is a thin clone, sharing blocks with its source.",
            "A split operation is currently active and in progress.",
            "The attempt to split the volume failed."
          ],
          "type": "string",
          "enum": [
            "SPLIT_STATE_UNSPECIFIED",
            "SPLIT_STATE_NOT_SPLITTING",
            "SPLIT_STATE_IN_PROGRESS",
            "SPLIT_STATE_FAILED"
          ],
          "description": "Output only. The current state of the clone split operation.",
          "readOnly": true
        },
        "progressPercent": {
          "readOnly": true,
          "description": "Output only. The estimated progress percentage of the split operation (0-100). This is meaningful primarily when split_state is IN_PROGRESS.",
          "type": "integer",
          "format": "int32"
        },
        "stateDetails": {
          "description": "Output only. Human-readable details about the current state. Mostly used for displaying error messages during split failure Examples: \"Split in progress\", \"Error: insufficient capacity\".",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Message for SplitStatus."
    },
    "ListBackupConfigsResponse": {
      "type": "object",
      "id": "ListBackupConfigsResponse",
      "properties": {
        "volumeBackupConfigs": {
          "items": {
            "$ref": "VolumeBackupConfig"
          },
          "description": "A list of backup configurations for volumes in the pool.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
        }
      },
      "description": "Message for response to listing BackupConfigs in an ONTAP StoragePool."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "SyncReplicationRequest": {
      "type": "object",
      "properties": {},
      "description": "SyncReplicationRequest syncs the replication from source to destination.",
      "id": "SyncReplicationRequest"
    },
    "Volume": {
      "properties": {
        "backupConfig": {
          "description": "BackupConfig of the volume.",
          "$ref": "BackupConfig"
        },
        "protocols": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified protocol",
              "NFS V3 protocol",
              "NFS V4 protocol",
              "SMB protocol",
              "ISCSI protocol",
              "NVMe protocol"
            ],
            "enum": [
              "PROTOCOLS_UNSPECIFIED",
              "NFSV3",
              "NFSV4",
              "SMB",
              "ISCSI",
              "NVME"
            ]
          },
          "description": "Required. Protocols required for the volume",
          "type": "array"
        },
        "shareName": {
          "description": "Required. Share name of the volume",
          "type": "string"
        },
        "cloneDetails": {
          "description": "Output only. If this volume is a clone, this field contains details about the clone.",
          "$ref": "CloneDetails",
          "readOnly": true
        },
        "restoreParameters": {
          "description": "Optional. Specifies the source of the volume to be created from.",
          "$ref": "RestoreParameters"
        },
        "unixPermissions": {
          "type": "string",
          "description": "Optional. Default unix style permission (e.g. 777) the mount point will be created with. Applicable for NFS protocol types only."
        },
        "securityStyle": {
          "enum": [
            "SECURITY_STYLE_UNSPECIFIED",
            "NTFS",
            "UNIX"
          ],
          "enumDescriptions": [
            "SecurityStyle is unspecified",
            "SecurityStyle uses NTFS",
            "SecurityStyle uses UNIX"
          ],
          "description": "Optional. Security Style of the Volume",
          "type": "string"
        },
        "largeCapacity": {
          "type": "boolean",
          "description": "Optional. Flag indicating if the volume will be a large capacity volume or a regular volume. This field is used for legacy FILE pools. For Unified pools, use the `large_capacity_config` field instead. This field and `large_capacity_config` are mutually exclusive."
        },
        "snapshotPolicy": {
          "$ref": "SnapshotPolicy",
          "description": "Optional. SnapshotPolicy for a volume."
        },
        "tieringPolicy": {
          "$ref": "TieringPolicy",
          "description": "Tiering policy for the volume."
        },
        "zone": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Specifies the active zone for regional volume."
        },
        "stateDetails": {
          "type": "string",
          "description": "Output only. State details of the volume",
          "readOnly": true
        },
        "ldapEnabled": {
          "type": "boolean",
          "description": "Output only. Flag indicating if the volume is NFS LDAP enabled or not.",
          "readOnly": true
        },
        "exportPolicy": {
          "description": "Optional. Export policy of the volume",
          "$ref": "ExportPolicy"
        },
        "restrictedActions": {
          "type": "array",
          "description": "Optional. List of actions that are restricted on this volume.",
          "items": {
            "enumDescriptions": [
              "Unspecified restricted action",
              "Prevent volume from being deleted when mounted."
            ],
            "enum": [
              "RESTRICTED_ACTION_UNSPECIFIED",
              "DELETE"
            ],
            "type": "string"
          }
        },
        "snapReserve": {
          "type": "number",
          "format": "double",
          "description": "Optional. Snap_reserve specifies percentage of volume storage reserved for snapshot storage. Default is 0 percent."
        },
        "name": {
          "description": "Identifier. Name of the volume",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified Volume State",
            "Volume State is Ready",
            "Volume State is Creating",
            "Volume State is Deleting",
            "Volume State is Updating",
            "Volume State is Restoring",
            "Volume State is Disabled",
            "Volume State is Error",
            "Volume State is Preparing. Note that this is different from CREATING where CREATING means the volume is being created, while PREPARING means the volume is created and now being prepared for the replication.",
            "Volume State is Read Only"
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "RESTORING",
            "DISABLED",
            "ERROR",
            "PREPARING",
            "READ_ONLY"
          ],
          "description": "Output only. State of the volume",
          "readOnly": true
        },
        "replicaZone": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Specifies the replica zone for regional volume."
        },
        "activeDirectory": {
          "readOnly": true,
          "description": "Output only. Specifies the ActiveDirectory name of a SMB volume.",
          "type": "string"
        },
        "kmsConfig": {
          "description": "Output only. Specifies the KMS config to be used for volume encryption.",
          "type": "string",
          "readOnly": true
        },
        "network": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. VPC Network name. Format: projects/{project}/global/networks/{network}"
        },
        "psaRange": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This field is not implemented. The values provided in this field are ignored."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the volume"
        },
        "cacheParameters": {
          "description": "Optional. Cache parameters for the volume.",
          "$ref": "CacheParameters"
        },
        "mountOptions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Mount options of this volume",
          "items": {
            "$ref": "MountOption"
          }
        },
        "largeCapacityConfig": {
          "description": "Optional. Large capacity config for the volume. Enables and configures large capacity for volumes in Unified pools with File protocols. Not applicable for Block protocols in Unified pools. This field and the legacy `large_capacity` boolean field are mutually exclusive.",
          "$ref": "LargeCapacityConfig"
        },
        "storagePool": {
          "type": "string",
          "description": "Required. StoragePool name of the volume"
        },
        "serviceLevel": {
          "enumDescriptions": [
            "Unspecified service level.",
            "Premium service level.",
            "Extreme service level.",
            "Standard service level.",
            "Flex service level."
          ],
          "description": "Output only. Service level of the volume",
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "PREMIUM",
            "EXTREME",
            "STANDARD",
            "FLEX"
          ],
          "readOnly": true,
          "type": "string"
        },
        "capacityGib": {
          "type": "string",
          "description": "Required. Capacity in GIB of the volume",
          "format": "int64"
        },
        "hotTierSizeUsedGib": {
          "description": "Output only. Total hot tier data rounded down to the nearest GiB used by the Volume. This field is only used for flex Service Level",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "encryptionType": {
          "enumDescriptions": [
            "The source of the encryption key is not specified.",
            "Google managed encryption key.",
            "Customer managed encryption key, which is stored in KMS."
          ],
          "type": "string",
          "description": "Output only. Specified the current volume encryption key source.",
          "readOnly": true,
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "SERVICE_MANAGED",
            "CLOUD_KMS"
          ]
        },
        "kerberosEnabled": {
          "description": "Optional. Flag indicating if the volume is a kerberos volume or not, export policy rules control kerberos security modes (krb5, krb5i, krb5p).",
          "type": "boolean"
        },
        "hybridReplicationParameters": {
          "description": "Optional. The Hybrid Replication parameters for the volume.",
          "$ref": "HybridReplicationParameters"
        },
        "usedGib": {
          "description": "Output only. Used capacity in GIB of the volume. This is computed periodically and it does not represent the realtime usage.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "coldTierSizeGib": {
          "type": "string",
          "description": "Output only. Size of the volume cold tier data rounded down to the nearest GiB.",
          "readOnly": true,
          "format": "int64"
        },
        "smbSettings": {
          "items": {
            "enum": [
              "SMB_SETTINGS_UNSPECIFIED",
              "ENCRYPT_DATA",
              "BROWSABLE",
              "CHANGE_NOTIFY",
              "NON_BROWSABLE",
              "OPLOCKS",
              "SHOW_SNAPSHOT",
              "SHOW_PREVIOUS_VERSIONS",
              "ACCESS_BASED_ENUMERATION",
              "CONTINUOUSLY_AVAILABLE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified default option",
              "SMB setting encrypt data",
              "SMB setting browsable",
              "SMB setting notify change",
              "SMB setting not to notify change",
              "SMB setting oplocks",
              "SMB setting to show snapshots",
              "SMB setting to show previous versions",
              "SMB setting to access volume based on enumerartion",
              "Continuously available enumeration"
            ]
          },
          "description": "Optional. SMB share settings for the volume.",
          "type": "array"
        },
        "hasReplication": {
          "readOnly": true,
          "description": "Output only. Indicates whether the volume is part of a replication relationship.",
          "type": "boolean"
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "snapshotDirectory": {
          "description": "Optional. Snapshot_directory if enabled (true) the volume will contain a read-only .snapshot directory which provides access to each of the volume's snapshots.",
          "type": "boolean"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Create time of the volume",
          "type": "string"
        },
        "multipleEndpoints": {
          "type": "boolean",
          "description": "Optional. Flag indicating if the volume will have an IP address per node for volumes supporting multiple IP endpoints. Only the volume with large_capacity will be allowed to have multiple endpoints."
        },
        "blockDevices": {
          "type": "array",
          "items": {
            "$ref": "BlockDevice"
          },
          "description": "Optional. Block devices for the volume. Currently, only one block device is permitted per Volume."
        },
        "throughputMibps": {
          "type": "number",
          "format": "double",
          "description": "Optional. Throughput of the volume (in MiB/s)"
        }
      },
      "description": "Volume provides a filesystem that you can mount.",
      "type": "object",
      "id": "Volume"
    },
    "ListBackupsResponse": {
      "description": "ListBackupsResponse is the result of ListBackupsRequest.",
      "id": "ListBackupsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "backups": {
          "items": {
            "$ref": "Backup"
          },
          "type": "array",
          "description": "A list of backups in the project."
        }
      }
    },
    "ListSnapshotsResponse": {
      "type": "object",
      "description": "ListSnapshotsResponse is the result of ListSnapshotsRequest.",
      "id": "ListSnapshotsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "snapshots": {
          "type": "array",
          "description": "A list of snapshots in the project for the specified volume.",
          "items": {
            "$ref": "Snapshot"
          }
        }
      }
    },
    "BackupPolicy": {
      "type": "object",
      "description": "Backup Policy.",
      "properties": {
        "description": {
          "description": "Description of the backup policy.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the backup policy. Format: `projects/{project_id}/locations/{location}/backupPolicies/{backup_policy_id}`."
        },
        "assignedVolumeCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The total number of volumes assigned by this backup policy.",
          "format": "int32"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the backup policy was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "State not set.",
            "BackupPolicy is being created.",
            "BackupPolicy is available for use.",
            "BackupPolicy is being deleted.",
            "BackupPolicy is not valid and cannot be used.",
            "BackupPolicy is being updated."
          ],
          "type": "string",
          "description": "Output only. The backup policy state."
        },
        "enabled": {
          "description": "If enabled, make backups automatically according to the schedules. This will be applied to all volumes that have this policy attached and enforced on volume level. If not specified, default is true.",
          "type": "boolean"
        },
        "weeklyBackupLimit": {
          "type": "integer",
          "format": "int32",
          "description": "Number of weekly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1."
        },
        "dailyBackupLimit": {
          "format": "int32",
          "description": "Number of daily backups to keep. Note that the minimum daily backup limit is 2.",
          "type": "integer"
        },
        "monthlyBackupLimit": {
          "description": "Number of monthly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1.",
          "format": "int32",
          "type": "integer"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Resource labels to represent user provided metadata."
        }
      },
      "id": "BackupPolicy"
    },
    "ActiveDirectory": {
      "description": "ActiveDirectory is the public representation of the active directory config.",
      "id": "ActiveDirectory",
      "properties": {
        "dns": {
          "description": "Required. Comma separated list of DNS server IP addresses for the Active Directory domain.",
          "type": "string"
        },
        "encryptDcConnections": {
          "type": "boolean",
          "description": "If enabled, traffic between the SMB server to Domain Controller (DC) will be encrypted."
        },
        "description": {
          "description": "Description of the active directory.",
          "type": "string"
        },
        "backupOperators": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Users to be added to the Built-in Backup Operator active directory group.",
          "type": "array"
        },
        "name": {
          "description": "Identifier. The resource name of the active directory. Format: `projects/{project_number}/locations/{location_id}/activeDirectories/{active_directory_id}`.",
          "type": "string"
        },
        "username": {
          "description": "Required. Username of the Active Directory domain administrator.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified Active Directory State",
            "Active Directory State is Creating",
            "Active Directory State is Ready",
            "Active Directory State is Updating",
            "Active Directory State is In use",
            "Active Directory State is Deleting",
            "Active Directory State is Error",
            "Active Directory State is Diagnosing."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state of the AD.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "IN_USE",
            "DELETING",
            "ERROR",
            "DIAGNOSING"
          ]
        },
        "labels": {
          "description": "Labels for the active directory.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "securityOperators": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Domain users to be given the SeSecurityPrivilege."
        },
        "aesEncryption": {
          "type": "boolean",
          "description": "If enabled, AES encryption will be enabled for SMB communication."
        },
        "netBiosPrefix": {
          "description": "Required. NetBIOSPrefix is used as a prefix for SMB server name.",
          "type": "string"
        },
        "site": {
          "description": "The Active Directory site the service will limit Domain Controller discovery too.",
          "type": "string"
        },
        "kdcIp": {
          "type": "string",
          "description": "KDC server IP address for the active directory machine."
        },
        "domain": {
          "type": "string",
          "description": "Required. Name of the Active Directory domain"
        },
        "administrators": {
          "description": "Optional. Users to be added to the Built-in Admininstrators group.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ldapSigning": {
          "type": "boolean",
          "description": "Specifies whether or not the LDAP traffic needs to be signed."
        },
        "password": {
          "description": "Required. Password of the Active Directory domain administrator.",
          "type": "string"
        },
        "kdcHostname": {
          "description": "Name of the active directory machine. This optional parameter is used only while creating kerberos volume",
          "type": "string"
        },
        "organizationalUnit": {
          "description": "The Organizational Unit (OU) within the Windows Active Directory the user belongs to.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Create time of the active directory.",
          "type": "string",
          "format": "google-datetime"
        },
        "stateDetails": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state details of the Active Directory."
        },
        "nfsUsersWithLdap": {
          "description": "If enabled, will allow access to local users and LDAP users. If access is needed for only LDAP users, it has to be disabled.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ListBackupPoliciesResponse": {
      "id": "ListBackupPoliciesResponse",
      "description": "ListBackupPoliciesResponse contains all the backup policies requested.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "backupPolicies": {
          "description": "The list of backup policies.",
          "type": "array",
          "items": {
            "$ref": "BackupPolicy"
          }
        }
      },
      "type": "object"
    },
    "HybridReplicationParameters": {
      "description": "The Hybrid Replication parameters for the volume.",
      "id": "HybridReplicationParameters",
      "properties": {
        "largeVolumeConstituentCount": {
          "description": "Optional. Constituent volume count for large volume.",
          "format": "int32",
          "type": "integer"
        },
        "replication": {
          "type": "string",
          "description": "Required. Desired name for the replication of this volume."
        },
        "peerSvmName": {
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm.",
          "type": "string"
        },
        "replicationSchedule": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified HybridReplicationSchedule",
            "Replication happens once every 10 minutes.",
            "Replication happens once every hour.",
            "Replication happens once every day."
          ],
          "description": "Optional. Replication Schedule for the replication created.",
          "enum": [
            "HYBRID_REPLICATION_SCHEDULE_UNSPECIFIED",
            "EVERY_10_MINUTES",
            "HOURLY",
            "DAILY"
          ]
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels to be added to the replication as the key value pairs.",
          "type": "object"
        },
        "peerVolumeName": {
          "description": "Required. Name of the user's local source volume to be peered with the destination volume.",
          "type": "string"
        },
        "peerClusterName": {
          "type": "string",
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster."
        },
        "peerIpAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. List of node ip addresses to be peered with."
        },
        "clusterLocation": {
          "description": "Optional. Name of source cluster location associated with the Hybrid replication. This is a free-form field for the display purpose only.",
          "type": "string"
        },
        "hybridReplicationType": {
          "enum": [
            "VOLUME_HYBRID_REPLICATION_TYPE_UNSPECIFIED",
            "MIGRATION",
            "CONTINUOUS_REPLICATION",
            "ONPREM_REPLICATION",
            "REVERSE_ONPREM_REPLICATION"
          ],
          "description": "Optional. Type of the hybrid replication.",
          "enumDescriptions": [
            "Unspecified hybrid replication type.",
            "Hybrid replication type for migration.",
            "Hybrid replication type for continuous replication.",
            "New field for reversible OnPrem replication, to be used for data protection.",
            "New field for reversible OnPrem replication, to be used for data protection."
          ],
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the replication."
        }
      },
      "type": "object"
    },
    "HybridPeeringDetails": {
      "description": "HybridPeeringDetails contains details about the hybrid peering.",
      "type": "object",
      "id": "HybridPeeringDetails",
      "properties": {
        "peerClusterName": {
          "readOnly": true,
          "description": "Output only. Name of the user's local source cluster to be peered with the destination cluster.",
          "type": "string"
        },
        "passphrase": {
          "readOnly": true,
          "description": "Output only. Temporary passphrase generated to accept cluster peering command.",
          "type": "string"
        },
        "peerSvmName": {
          "description": "Output only. Name of the user's local source vserver svm to be peered with the destination vserver svm.",
          "type": "string",
          "readOnly": true
        },
        "subnetIp": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. IP address of the subnet."
        },
        "peerVolumeName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the user's local source volume to be peered with the destination volume."
        },
        "commandExpiryTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Expiration time for the peering command to be executed on user's ONTAP."
        },
        "command": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Copy-paste-able commands to be used on user's ONTAP to accept peering requests."
        }
      }
    },
    "SwitchActiveReplicaZoneRequest": {
      "description": "SwitchActiveReplicaZoneRequest switch the active/replica zone for a regional storagePool.",
      "properties": {},
      "id": "SwitchActiveReplicaZoneRequest",
      "type": "object"
    },
    "OntapSource": {
      "description": "Represents ONTAP source details.",
      "properties": {
        "volumeUuid": {
          "type": "string",
          "description": "Required. The UUID of the ONTAP source volume."
        },
        "snapshotUuid": {
          "type": "string",
          "description": "Optional. The UUID of the ONTAP source snapshot."
        },
        "storagePool": {
          "type": "string",
          "description": "Required. Name of the storage pool. This must be specified for creating backups for ONTAP mode volumes. Format: `projects/{projects_id}/locations/{location}/storagePools/{storage_pool_id}`"
        }
      },
      "type": "object",
      "id": "OntapSource"
    },
    "RestoreVolumeRequest": {
      "properties": {
        "backupSource": {
          "description": "The backup source of the restore operation.",
          "$ref": "BackupSource"
        },
        "ontapVolumeTarget": {
          "$ref": "OntapVolumeTarget",
          "description": "The ONTAP volume target of the restore operation."
        }
      },
      "type": "object",
      "id": "RestoreVolumeRequest",
      "description": "Request message for `RestoreVolume` API."
    },
    "CloneDetails": {
      "id": "CloneDetails",
      "description": "Details about a clone volume.",
      "type": "object",
      "properties": {
        "splitState": {
          "description": "Output only. The current state of the clone split operation.",
          "enum": [
            "SPLIT_STATE_UNSPECIFIED",
            "SPLIT_STATE_NOT_SPLITTING",
            "SPLIT_STATE_IN_PROGRESS",
            "SPLIT_STATE_FAILED"
          ],
          "enumDescriptions": [
            "State is not specified.",
            "The volume is a thin clone, sharing blocks with its source.",
            "A split operation is currently active and in progress.",
            "The attempt to split the volume failed."
          ],
          "readOnly": true,
          "type": "string"
        },
        "sourceSnapshot": {
          "description": "Output only. Specifies the full resource name of the source snapshot from which this volume was cloned. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}",
          "type": "string",
          "readOnly": true
        },
        "sourceVolume": {
          "description": "Output only. Full name of the source volume resource. Format: projects/{project}/locations/{location}/volumes/{volume}",
          "readOnly": true,
          "type": "string"
        },
        "sharedSpaceGib": {
          "type": "string",
          "description": "Output only. Shared space in GiB. Determined at volume creation time based on size of source snapshot.",
          "format": "int64",
          "readOnly": true
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "EncryptVolumesRequest": {
      "id": "EncryptVolumesRequest",
      "type": "object",
      "properties": {},
      "description": "EncryptVolumesRequest specifies the KMS config to encrypt existing volumes."
    },
    "ListKmsConfigsResponse": {
      "description": "ListKmsConfigsResponse is the response to a ListKmsConfigsRequest.",
      "id": "ListKmsConfigsResponse",
      "properties": {
        "kmsConfigs": {
          "description": "The list of KmsConfigs",
          "items": {
            "$ref": "KmsConfig"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "CachePrePopulate": {
      "type": "object",
      "description": "Pre-populate cache volume with data from the origin volume.",
      "id": "CachePrePopulate",
      "properties": {
        "excludePathList": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of directory-paths to be excluded for pre-population for the FlexCache volume."
        },
        "pathList": {
          "description": "Optional. List of directory-paths to be pre-populated for the FlexCache volume.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "recursion": {
          "type": "boolean",
          "description": "Optional. Flag indicating whether the directories listed with the `path_list` need to be recursively pre-populated."
        }
      }
    },
    "RestoreParameters": {
      "id": "RestoreParameters",
      "type": "object",
      "description": "The RestoreParameters if volume is created from a snapshot or backup.",
      "properties": {
        "sourceSnapshot": {
          "description": "Full name of the snapshot resource. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}",
          "type": "string"
        },
        "sourceBackup": {
          "description": "Full name of the backup resource. Format for standard backup: projects/{project}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}. Format for BackupDR backup: projects/{project}/locations/{location}/backupVaults/{backup_vault}/dataSources/{data_source}/backups/{backup}",
          "type": "string"
        }
      }
    },
    "DailySchedule": {
      "id": "DailySchedule",
      "properties": {
        "snapshotsToKeep": {
          "format": "double",
          "type": "number",
          "description": "The maximum number of Snapshots to keep for the hourly schedule"
        },
        "minute": {
          "format": "double",
          "type": "number",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0)."
        },
        "hour": {
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Make a snapshot every day e.g. at 04:00, 05:20, 23:50",
      "type": "object"
    },
    "RestoreBackupFilesRequest": {
      "type": "object",
      "description": "RestoreBackupFilesRequest restores files from a backup to a volume.",
      "properties": {
        "backup": {
          "description": "Required. The backup resource name, in the format `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`",
          "type": "string"
        },
        "fileList": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of files to be restored, specified by their absolute path in the source volume.",
          "type": "array"
        },
        "restoreDestinationPath": {
          "type": "string",
          "description": "Optional. Absolute directory path in the destination volume. This is required if the `file_list` is provided."
        }
      },
      "id": "RestoreBackupFilesRequest"
    },
    "CancelOperationRequest": {
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest"
    },
    "SimpleExportPolicyRule": {
      "type": "object",
      "id": "SimpleExportPolicyRule",
      "properties": {
        "kerberos5pReadOnly": {
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode.",
          "type": "boolean"
        },
        "nfsv3": {
          "type": "boolean",
          "description": "NFS V3 protocol."
        },
        "kerberos5pReadWrite": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode. The 'kerberos5pReadOnly' value be ignored if this is enabled."
        },
        "anonUid": {
          "description": "Optional. An integer representing the anonymous user ID. Range is 0 to `4294967295`. Required when `squash_mode` is `ROOT_SQUASH` or `ALL_SQUASH`.",
          "type": "string",
          "format": "int64"
        },
        "hasRootAccess": {
          "description": "Whether Unix root access will be granted.",
          "type": "string"
        },
        "squashMode": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to `NO_ROOT_SQUASH`.",
            "The root user (UID 0) retains full access. Other users are unaffected.",
            "The root user (UID 0) is squashed to anonymous user ID. Other users are unaffected.",
            "All users are squashed to anonymous user ID."
          ],
          "description": "Optional. Defines how user identity squashing is applied for this export rule. This field is the preferred way to configure squashing behavior and takes precedence over `has_root_access` if both are provided.",
          "enum": [
            "SQUASH_MODE_UNSPECIFIED",
            "NO_ROOT_SQUASH",
            "ROOT_SQUASH",
            "ALL_SQUASH"
          ]
        },
        "allowedClients": {
          "description": "Comma separated list of allowed clients IP addresses",
          "type": "string"
        },
        "kerberos5ReadOnly": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode."
        },
        "nfsv4": {
          "description": "NFS V4 protocol.",
          "type": "boolean"
        },
        "accessType": {
          "description": "Access type (ReadWrite, ReadOnly, None)",
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE",
            "READ_NONE"
          ],
          "enumDescriptions": [
            "Unspecified Access Type",
            "Read Only",
            "Read Write",
            "None"
          ],
          "type": "string"
        },
        "kerberos5ReadWrite": {
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode. The 'kerberos5ReadOnly' value be ignored if this is enabled.",
          "type": "boolean"
        },
        "kerberos5iReadWrite": {
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode. The 'kerberos5iReadOnly' value be ignored if this is enabled.",
          "type": "boolean"
        },
        "kerberos5iReadOnly": {
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode.",
          "type": "boolean"
        }
      },
      "description": "An export policy rule describing various export options."
    },
    "HostGroup": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified state for host group.",
            "Host group is creating.",
            "Host group is ready.",
            "Host group is updating.",
            "Host group is deleting.",
            "Host group is disabled."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. State of the host group.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "DISABLED"
          ]
        },
        "hosts": {
          "description": "Required. The list of hosts associated with the host group.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Identifier. The resource name of the host group. Format: `projects/{project_number}/locations/{location_id}/hostGroups/{host_group_id}`.",
          "type": "string"
        },
        "type": {
          "description": "Required. Type of the host group.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ISCSI_INITIATOR"
          ],
          "enumDescriptions": [
            "Unspecified type for host group.",
            "iSCSI initiator host group."
          ]
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels of the host group.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "osType": {
          "enum": [
            "OS_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS",
            "ESXI"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified OS Type",
            "OS Type is Linux",
            "OS Type is Windows",
            "OS Type is VMware ESXi"
          ],
          "description": "Required. The OS type of the host group. It indicates the type of operating system used by all of the hosts in the HostGroup. All hosts in a HostGroup must be of the same OS type. This can be set only when creating a HostGroup."
        },
        "description": {
          "description": "Optional. Description of the host group.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Create time of the host group.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Host group is a collection of hosts that can be used for accessing a Block Volume.",
      "id": "HostGroup",
      "type": "object"
    },
    "BackupVault": {
      "description": "A NetApp BackupVault.",
      "id": "BackupVault",
      "type": "object",
      "properties": {
        "backupRegion": {
          "description": "Optional. Region where the backups are stored. Format: `projects/{project_id}/locations/{location}`",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Create time of the backup vault."
        },
        "description": {
          "type": "string",
          "description": "Description of the backup vault."
        },
        "kmsConfig": {
          "description": "Optional. Specifies the Key Management System (KMS) configuration to be used for backup encryption. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`",
          "type": "string"
        },
        "backupRetentionPolicy": {
          "$ref": "BackupRetentionPolicy",
          "description": "Optional. Backup retention policy defining the retention of backups."
        },
        "sourceBackupVault": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the Backup vault created in source region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user provided metadata."
        },
        "name": {
          "description": "Identifier. The resource name of the backup vault. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`.",
          "type": "string"
        },
        "encryptionState": {
          "enumDescriptions": [
            "Encryption state not set.",
            "Encryption state is pending.",
            "Encryption is complete.",
            "Encryption is in progress.",
            "Encryption has failed."
          ],
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "ENCRYPTION_STATE_PENDING",
            "ENCRYPTION_STATE_COMPLETED",
            "ENCRYPTION_STATE_IN_PROGRESS",
            "ENCRYPTION_STATE_FAILED"
          ],
          "description": "Output only. Field indicating encryption state of CMEK backups.",
          "readOnly": true,
          "type": "string"
        },
        "destinationBackupVault": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the Backup vault created in backup region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`"
        },
        "backupVaultType": {
          "description": "Optional. Type of backup vault to be created. Default is IN_REGION.",
          "enum": [
            "BACKUP_VAULT_TYPE_UNSPECIFIED",
            "IN_REGION",
            "CROSS_REGION"
          ],
          "enumDescriptions": [
            "BackupVault type not set.",
            "BackupVault type is IN_REGION.",
            "BackupVault type is CROSS_REGION."
          ],
          "type": "string"
        },
        "sourceRegion": {
          "type": "string",
          "description": "Optional. Region in which the backup vault is created. Format: `projects/{project_id}/locations/{location}`"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "enumDescriptions": [
            "State not set.",
            "BackupVault is being created.",
            "BackupVault is available for use.",
            "BackupVault is being deleted.",
            "BackupVault is not valid and cannot be used.",
            "BackupVault is being updated."
          ],
          "description": "Output only. The backup vault state.",
          "type": "string"
        },
        "backupsCryptoKeyVersion": {
          "readOnly": true,
          "description": "Output only. The crypto key version used to encrypt the backup vault. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}/cryptoKeyVersions/{crypto_key_version}`",
          "type": "string"
        }
      }
    },
    "ResumeReplicationRequest": {
      "properties": {},
      "description": "ResumeReplicationRequest resumes a stopped replication.",
      "type": "object",
      "id": "ResumeReplicationRequest"
    },
    "WeeklySchedule": {
      "id": "WeeklySchedule",
      "properties": {
        "snapshotsToKeep": {
          "format": "double",
          "type": "number",
          "description": "The maximum number of Snapshots to keep for the hourly schedule"
        },
        "minute": {
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "type": "number",
          "format": "double"
        },
        "day": {
          "description": "Set the day or days of the week to make a snapshot. Accepts a comma separated days of the week. Defaults to 'Sunday'.",
          "type": "string"
        },
        "hour": {
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Make a snapshot every week e.g. at Monday 04:00, Wednesday 05:20, Sunday 23:50",
      "type": "object"
    },
    "VolumeBackupConfig": {
      "description": "Backup configuration for a volume in a pool.",
      "id": "VolumeBackupConfig",
      "type": "object",
      "properties": {
        "volumeUuid": {
          "description": "Provides the Ontap UUID of the volume within the pool.",
          "type": "string"
        },
        "backupConfig": {
          "description": "Backup configuration for the volume.",
          "$ref": "BackupConfig"
        }
      }
    },
    "ListStoragePoolsResponse": {
      "type": "object",
      "description": "ListStoragePoolsResponse is the response to a ListStoragePoolsRequest.",
      "properties": {
        "storagePools": {
          "type": "array",
          "description": "The list of StoragePools",
          "items": {
            "$ref": "StoragePool"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListStoragePoolsResponse"
    },
    "ListReplicationsResponse": {
      "type": "object",
      "id": "ListReplicationsResponse",
      "properties": {
        "replications": {
          "type": "array",
          "items": {
            "$ref": "Replication"
          },
          "description": "A list of replications in the project for the specified volume."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "ListReplicationsResponse is the result of ListReplicationsRequest."
    },
    "ListActiveDirectoriesResponse": {
      "id": "ListActiveDirectoriesResponse",
      "description": "ListActiveDirectoriesResponse contains all the active directories requested.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "activeDirectories": {
          "items": {
            "$ref": "ActiveDirectory"
          },
          "type": "array",
          "description": "The list of active directories."
        }
      }
    },
    "LocationMetadata": {
      "properties": {
        "supportedServiceLevels": {
          "description": "Output only. Supported service levels in a location.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified service level.",
              "Premium service level.",
              "Extreme service level.",
              "Standard service level.",
              "Flex service level."
            ],
            "enum": [
              "SERVICE_LEVEL_UNSPECIFIED",
              "PREMIUM",
              "EXTREME",
              "STANDARD",
              "FLEX"
            ]
          },
          "type": "array",
          "readOnly": true
        },
        "supportedFlexPerformance": {
          "items": {
            "enum": [
              "FLEX_PERFORMANCE_UNSPECIFIED",
              "FLEX_PERFORMANCE_DEFAULT",
              "FLEX_PERFORMANCE_CUSTOM"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified flex performance.",
              "Flex Storage Pool with default performance.",
              "Flex Storage Pool with custom performance."
            ]
          },
          "type": "array",
          "description": "Output only. Supported flex performance in a location.",
          "readOnly": true
        },
        "hasOntapProxy": {
          "type": "boolean",
          "description": "Output only. Indicates if the location has ONTAP Proxy support.",
          "readOnly": true
        },
        "hasVcp": {
          "description": "Output only. Indicates if the location has VCP support.",
          "readOnly": true,
          "type": "boolean"
        },
        "flexPerformanceTier": {
          "enum": [
            "FLEX_PERFORMANCE_TIER_UNSPECIFIED",
            "LIMITED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified flex performance tier.",
            "Flex performance tier is limited."
          ],
          "description": "Output only. Indicates the flex performance tier of this location.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LocationMetadata",
      "description": "Metadata for a given google.cloud.location.Location."
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "type": "object"
    },
    "ListHostGroupsResponse": {
      "id": "ListHostGroupsResponse",
      "description": "ListHostGroupsResponse is the response to a ListHostGroupsRequest.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "hostGroups": {
          "type": "array",
          "items": {
            "$ref": "HostGroup"
          },
          "description": "The list of host groups."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "OperationMetadata": {
      "properties": {
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been canceled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata"
    },
    "TransferStats": {
      "type": "object",
[...]
