{
  "discoveryVersion": "v1",
  "baseUrl": "https://netapp.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1/{+name}/locations",
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable."
                }
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "netapp.projects.locations.list"
            },
            "get": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "path": "v1/{+name}",
              "id": "netapp.projects.locations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Gets information about a location.",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              }
            }
          },
          "resources": {
            "volumes": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "volumeId": {
                      "description": "Required. Id of the requesting volume. Must be unique within the parent resource. Must contain only letters, numbers and hyphen, with the first character a letter, the last a letter or a number, and a 63 character maximum.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Value for parent.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Creates a new Volume in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes",
                  "path": "v1/{+parent}/volumes",
                  "id": "netapp.projects.locations.volumes.create",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Volume"
                  }
                },
                "getSplitStatus": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}:getSplitStatus",
                  "path": "v1/{+name}:getSplitStatus",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The full name of the volume. Format: projects/{project_number}/locations/{location}/volumes/{volume_id}"
                    }
                  },
                  "id": "netapp.projects.locations.volumes.getSplitStatus",
                  "description": "Retrieves the current state, progress, and details of a split operation for a volume. This method is relevant when the volume is a clone. For volumes that are not clones, this method will return an error.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "SplitStatus"
                  },
                  "httpMethod": "GET"
                },
                "startSplit": {
                  "request": {
                    "$ref": "StartSplitRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:startSplit",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "netapp.projects.locations.volumes.startSplit",
                  "description": "Splits a clone volume from its source volume. This operation will only work for volumes which have clone_details set(clones). For volumes that are not clones, this operation will return an error.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}:startSplit",
                  "parameters": {
                    "name": {
                      "description": "Required. The full name of the clone volume to be split from its source. Format: projects/{project_number}/locations/{location}/volumes/{volume_id}",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$"
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListVolumesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists Volumes in a given project.",
                  "path": "v1/{+parent}/volumes",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, the server will pick an appropriate default."
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Hint for how to order the results"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results the server should return.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Filtering results",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Parent value for ListVolumesRequest"
                    }
                  },
                  "id": "netapp.projects.locations.volumes.list"
                },
                "revert": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}:revert",
                  "httpMethod": "POST",
                  "path": "v1/{+name}:revert",
                  "description": "Revert an existing volume to a specified snapshot. Warning! This operation will permanently revert all changes made after the snapshot was created.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "netapp.projects.locations.volumes.revert",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the volume, in the format of projects/{project_id}/locations/{location}/volumes/{volume_id}.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "RevertVolumeRequest"
                  }
                },
                "patch": {
                  "request": {
                    "$ref": "Volume"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Identifier. Name of the volume",
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$"
                    },
                    "updateMask": {
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the Volume resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "id": "netapp.projects.locations.volumes.patch",
                  "description": "Updates the parameters of a single Volume.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}",
                  "id": "netapp.projects.locations.volumes.delete",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the volume",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$"
                    },
                    "force": {
                      "description": "If this field is set as true, CCFE will not block the volume resource deletion even if it has any snapshots resource. (Otherwise, the request will only work if the volume has no snapshots.)",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "description": "Deletes a single Volume.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the volume"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}",
                  "description": "Gets details of a single Volume.",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "netapp.projects.locations.volumes.get",
                  "response": {
                    "$ref": "Volume"
                  }
                },
                "restore": {
                  "request": {
                    "$ref": "RestoreBackupFilesRequest"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The volume resource name, in the format `projects/{project_id}/locations/{location}/volumes/{volume_id}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "id": "netapp.projects.locations.volumes.restore",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}:restore",
                  "path": "v1/{+name}:restore",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Restore files from a backup to a volume."
                },
                "establishPeering": {
                  "id": "netapp.projects.locations.volumes.establishPeering",
                  "path": "v1/{+name}:establishPeering",
                  "request": {
                    "$ref": "EstablishVolumePeeringRequest"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                      "description": "Required. The volume resource name, in the format `projects/{project_id}/locations/{location}/volumes/{volume_id}`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Establish volume peering. This is used to establish cluster and svm peerings between the GCNV and OnPrem clusters.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}:establishPeering",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "snapshots": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "description": "Required. The snapshot resource name, in the format `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/snapshots/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Snapshot"
                      },
                      "id": "netapp.projects.locations.volumes.snapshots.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "description": "Describe a snapshot for a volume.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/snapshots/{snapshotsId}",
                      "httpMethod": "GET"
                    },
                    "delete": {
                      "description": "Deletes a snapshot.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "DELETE",
                      "id": "netapp.projects.locations.volumes.snapshots.delete",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The snapshot resource name, in the format `projects/*/locations/*/volumes/*/snapshots/{snapshot_id}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/snapshots/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/snapshots/{snapshotsId}"
                    },
                    "list": {
                      "description": "Returns descriptions of all snapshots for a volume.",
                      "id": "netapp.projects.locations.volumes.snapshots.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "description": "The next_page_token value to use if there are additional results to retrieve for this list request.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                          "location": "query"
                        },
                        "filter": {
                          "description": "List filter.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "The maximum number of items to return.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "description": "Required. The volume for which to retrieve snapshot information, in the format `projects/{project_id}/locations/{location}/volumes/{volume_id}`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "ListSnapshotsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/snapshots",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/snapshots"
                    },
                    "patch": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+name}",
                      "description": "Updates the settings of a specific snapshot.",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field."
                        },
                        "name": {
                          "description": "Identifier. The resource name of the snapshot. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/snapshots/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "Snapshot"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/snapshots/{snapshotsId}",
                      "id": "netapp.projects.locations.volumes.snapshots.patch",
                      "httpMethod": "PATCH"
                    },
                    "create": {
                      "id": "netapp.projects.locations.volumes.snapshots.create",
                      "parameters": {
                        "snapshotId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. ID of the snapshot to create. Must be unique within the parent resource. Must contain only letters, numbers and hyphen, with the first character a letter, the last a letter or a number, and a 63 character maximum."
                        },
                        "parent": {
                          "description": "Required. The NetApp volume to create the snapshots of, in the format `projects/{project_id}/locations/{location}/volumes/{volume_id}`",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "Snapshot"
                      },
                      "path": "v1/{+parent}/snapshots",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Create a new snapshot for a volume.",
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/snapshots"
                    }
                  }
                },
                "replications": {
                  "methods": {
                    "establishPeering": {
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "netapp.projects.locations.volumes.replications.establishPeering",
                      "path": "v1/{+name}:establishPeering",
                      "request": {
                        "$ref": "EstablishPeeringRequest"
                      },
                      "description": "Establish replication peering.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}:establishPeering",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$",
                          "description": "Required. The resource name of the replication, in the format of projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}.",
                          "type": "string"
                        }
                      }
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Updates the settings of a specific replication.",
                      "id": "netapp.projects.locations.volumes.replications.patch",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field.",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Identifier. The resource name of the Replication. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "Replication"
                      }
                    },
                    "sync": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}:sync",
                      "id": "netapp.projects.locations.volumes.replications.sync",
                      "path": "v1/{+name}:sync",
                      "request": {
                        "$ref": "SyncReplicationRequest"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The resource name of the replication, in the format of projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Syncs the replication. This will invoke one time volume data transfer from source to destination."
                    },
                    "delete": {
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The replication resource name, in the format `projects/*/locations/*/volumes/*/replications/{replication_id}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}",
                      "httpMethod": "DELETE",
                      "id": "netapp.projects.locations.volumes.replications.delete",
                      "description": "Deletes a replication."
                    },
                    "get": {
                      "id": "netapp.projects.locations.volumes.replications.get",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}",
                      "description": "Describe a replication for a volume.",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$",
                          "type": "string",
                          "description": "Required. The replication resource name, in the format `projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}`"
                        }
                      },
                      "response": {
                        "$ref": "Replication"
                      }
                    },
                    "list": {
                      "id": "netapp.projects.locations.volumes.replications.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications",
                      "description": "Returns descriptions of all replications for a volume.",
                      "parameters": {
                        "pageToken": {
                          "description": "The next_page_token value to use if there are additional results to retrieve for this list request.",
                          "type": "string",
                          "location": "query"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "description": "List filter.",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The volume for which to retrieve replication information, in the format `projects/{project_id}/locations/{location}/volumes/{volume_id}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "The maximum number of items to return.",
                          "type": "integer"
                        }
                      },
                      "path": "v1/{+parent}/replications",
                      "response": {
                        "$ref": "ListReplicationsResponse"
                      }
                    },
                    "create": {
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "Replication"
                      },
                      "description": "Create a new replication for a volume.",
                      "path": "v1/{+parent}/replications",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications",
                      "parameters": {
                        "replicationId": {
                          "type": "string",
                          "description": "Required. ID of the replication to create. Must be unique within the parent resource. Must contain only letters, numbers and hyphen, with the first character a letter, the last a letter or a number, and a 63 character maximum.",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                          "description": "Required. The NetApp volume to create the replications of, in the format `projects/{project_id}/locations/{location}/volumes/{volume_id}`",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "netapp.projects.locations.volumes.replications.create",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "resume": {
                      "request": {
                        "$ref": "ResumeReplicationRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Resume Cross Region Replication.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the replication, in the format of projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "id": "netapp.projects.locations.volumes.replications.resume",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}:resume",
                      "path": "v1/{+name}:resume"
                    },
                    "reverseDirection": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}:reverseDirection",
                      "request": {
                        "$ref": "ReverseReplicationDirectionRequest"
                      },
                      "id": "netapp.projects.locations.volumes.replications.reverseDirection",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$",
                          "description": "Required. The resource name of the replication, in the format of projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}."
                        }
                      },
                      "path": "v1/{+name}:reverseDirection",
                      "description": "Reverses direction of replication. Source becomes destination and destination becomes source."
                    },
                    "stop": {
                      "id": "netapp.projects.locations.volumes.replications.stop",
                      "path": "v1/{+name}:stop",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/replications/[^/]+$",
                          "description": "Required. The resource name of the replication, in the format of projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "StopReplicationRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/replications/{replicationsId}:stop",
                      "description": "Stop Cross Region Replication.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST"
                    }
                  }
                },
                "quotaRules": {
                  "methods": {
                    "patch": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "netapp.projects.locations.volumes.quotaRules.patch",
                      "path": "v1/{+name}",
                      "description": "Updates a quota rule.",
                      "parameters": {
                        "updateMask": {
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the Quota Rule resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        },
                        "name": {
                          "description": "Identifier. The resource name of the quota rule. Format: `projects/{project_number}/locations/{location_id}/volumes/volumes/{volume_id}/quotaRules/{quota_rule_id}`.",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/quotaRules/[^/]+$"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/quotaRules/{quotaRulesId}",
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "QuotaRule"
                      }
                    },
                    "list": {
                      "response": {
                        "$ref": "ListQuotaRulesResponse"
                      },
                      "id": "netapp.projects.locations.volumes.quotaRules.list",
                      "httpMethod": "GET",
                      "description": "Returns list of all quota rules in a location.",
                      "path": "v1/{+parent}/quotaRules",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/quotaRules",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. Parent value for ListQuotaRulesRequest"
                        },
                        "filter": {
                          "description": "Optional. Filtering results",
                          "type": "string",
                          "location": "query"
                        },
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Hint for how to order the results"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        }
                      }
                    },
                    "delete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/quotaRules/{quotaRulesId}",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/quotaRules/[^/]+$",
                          "description": "Required. Name of the quota rule.",
                          "type": "string"
                        }
                      },
                      "id": "netapp.projects.locations.volumes.quotaRules.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes a quota rule.",
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/quotaRules/{quotaRulesId}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/quotaRules/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the quota rule",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+name}",
                      "description": "Returns details of the specified quota rule.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "netapp.projects.locations.volumes.quotaRules.get",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "QuotaRule"
                      }
                    },
                    "create": {
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                          "description": "Required. Parent value for CreateQuotaRuleRequest"
                        },
                        "quotaRuleId": {
                          "type": "string",
                          "description": "Required. ID of the quota rule to create. Must be unique within the parent resource. Must contain only letters, numbers, underscore and hyphen, with the first character a letter or underscore, the last a letter or underscore or a number, and a 63 character maximum.",
                          "location": "query"
                        }
                      },
                      "request": {
                        "$ref": "QuotaRule"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/quotaRules",
                      "path": "v1/{+parent}/quotaRules",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a new quota rule.",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "netapp.projects.locations.volumes.quotaRules.create"
                    }
                  }
                }
              }
            },
            "backupVaults": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value to use if there are additional results to retrieve for this list request.",
                      "location": "query"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "List filter."
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of items to return.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The location for which to retrieve backupVault information, in the format `projects/{project_id}/locations/{location}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListBackupVaultsResponse"
                  },
                  "path": "v1/{+parent}/backupVaults",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults",
                  "description": "Returns list of all available backup vaults.",
                  "httpMethod": "GET",
                  "id": "netapp.projects.locations.backupVaults.list",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}",
                  "id": "netapp.projects.locations.backupVaults.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Identifier. The resource name of the backup vault. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`."
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the Backup resource to be updated. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "format": "google-fieldmask"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "BackupVault"
                  },
                  "description": "Updates the settings of a specific backup vault.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}"
                },
                "create": {
                  "id": "netapp.projects.locations.backupVaults.create",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The location to create the backup vaults, in the format `projects/{project_id}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "backupVaultId": {
                      "description": "Required. The ID to use for the backupVault. The ID must be unique within the specified location. Must contain only letters, numbers and hyphen, with the first character a letter, the last a letter or a number, and a 63 character maximum.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Creates new backup vault",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "BackupVault"
                  },
                  "path": "v1/{+parent}/backupVaults",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "id": "netapp.projects.locations.backupVaults.get",
                  "description": "Returns the description of the specified backup vault",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "BackupVault"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The backupVault resource name, in the format `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The backupVault resource name, in the format `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`"
                    }
                  },
                  "id": "netapp.projects.locations.backupVaults.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Warning! This operation will permanently delete the backup vault.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE"
                }
              },
              "resources": {
                "backups": {
                  "methods": {
                    "create": {
                      "id": "netapp.projects.locations.backupVaults.backups.create",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/backups",
                      "parameters": {
                        "parent": {
                          "description": "Required. The NetApp backupVault to create the backups of, in the format `projects/*/locations/*/backupVaults/{backup_vault_id}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "backupId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. The ID to use for the backup. The ID must be unique within the specified backupVault. Must contain only letters, numbers and hyphen, with the first character a letter, the last a letter or a number, and a 63 character maximum."
                        }
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "Backup"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Creates a backup from the volume specified in the request The backup can be created from the given snapshot if specified in the request. If no snapshot specified, there'll be a new snapshot taken to initiate the backup creation.",
                      "path": "v1/{+parent}/backups",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "response": {
                        "$ref": "Backup"
                      },
                      "description": "Returns the description of the specified backup",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The backup resource name, in the format `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/backups/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/backups/{backupsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "netapp.projects.locations.backupVaults.backups.get"
                    },
                    "delete": {
                      "id": "netapp.projects.locations.backupVaults.backups.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/backups/{backupsId}",
                      "parameters": {
                        "name": {
                          "description": "Required. The backup resource name, in the format `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/backups/[^/]+$"
                        }
                      },
                      "description": "Warning! This operation will permanently delete the backup.",
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "patch": {
                      "path": "v1/{+name}",
                      "description": "Update backup with full spec.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/backups/{backupsId}",
                      "id": "netapp.projects.locations.backupVaults.backups.patch",
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "Backup"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+/backups/[^/]+$",
                          "description": "Identifier. The resource name of the backup. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "Required. Field mask is used to specify the fields to be overwritten in the Backup resource to be updated. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "path": "v1/{+parent}/backups",
                      "id": "netapp.projects.locations.backupVaults.backups.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "description": "The maximum number of items to return. The service may return fewer than this value. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "location": "query",
                          "type": "integer"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                          "type": "string"
                        },
                        "filter": {
                          "description": "The standard list filter. If specified, backups will be returned based on the attribute name that matches the filter expression. If empty, then no backups are filtered out. See https://google.aip.dev/160",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The backupVault for which to retrieve backup information, in the format `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`. To retrieve backup information for all locations, use \"-\" for the `{location}` value. To retrieve backup information for all backupVaults, use \"-\" for the `{backup_vault_id}` value. To retrieve backup information for a volume, use \"-\" for the `{backup_vault_id}` value and specify volume full name with the filter.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/backupVaults/[^/]+$"
                        },
                        "pageToken": {
                          "description": "The next_page_token value to use if there are additional results to retrieve for this list request.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "description": "Returns descriptions of all backups for a backupVault.",
                      "response": {
                        "$ref": "ListBackupsResponse"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/backupVaults/{backupVaultsId}/backups"
                    }
                  }
                }
              }
            },
            "kmsConfigs": {
              "methods": {
                "list": {
                  "description": "Returns descriptions of all KMS configs owned by the caller.",
                  "response": {
                    "$ref": "ListKmsConfigsResponse"
                  },
                  "path": "v1/{+parent}/kmsConfigs",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.kmsConfigs.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/kmsConfigs",
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted)."
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. Parent value"
                    },
                    "filter": {
                      "type": "string",
                      "description": "List filter.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The next_page_token value to use if there are additional results to retrieve for this list request.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "netapp.projects.locations.kmsConfigs.patch",
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "KmsConfig"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/kmsConfigs/{kmsConfigsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the Kms config properties with the full spec",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Identifier. Name of the `KmsConfig`. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/kmsConfigs/[^/]+$"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the KmsConfig resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten."
                    }
                  }
                },
                "create": {
                  "description": "Creates a new KMS config.",
                  "request": {
                    "$ref": "KmsConfig"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/kmsConfigs",
                  "id": "netapp.projects.locations.kmsConfigs.create",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/kmsConfigs",
                  "parameters": {
                    "kmsConfigId": {
                      "description": "Required. Id of the requesting KmsConfig. Must be unique within the parent resource. Must contain only letters, numbers and hyphen, with the first character a letter, the last a letter or a number, and a 63 character maximum.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. Value for parent.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "verify": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "VerifyKmsConfigRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "VerifyKmsConfigResponse"
                  },
                  "path": "v1/{+name}:verify",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Verifies KMS config reachability.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/kmsConfigs/{kmsConfigsId}:verify",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/kmsConfigs/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the KMS Config to be verified.",
                      "type": "string"
                    }
                  },
                  "id": "netapp.projects.locations.kmsConfigs.verify"
                },
                "encrypt": {
                  "request": {
                    "$ref": "EncryptVolumesRequest"
                  },
                  "httpMethod": "POST",
                  "description": "Encrypt the existing volumes without CMEK encryption with the desired the KMS config for the whole region.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/kmsConfigs/{kmsConfigsId}:encrypt",
                  "id": "netapp.projects.locations.kmsConfigs.encrypt",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/kmsConfigs/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the KmsConfig."
                    }
                  },
                  "path": "v1/{+name}:encrypt",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/kmsConfigs/{kmsConfigsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/kmsConfigs/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the KmsConfig",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "netapp.projects.locations.kmsConfigs.get",
                  "description": "Returns the description of the specified KMS config by kms_config_id.",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "KmsConfig"
                  }
                },
                "delete": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Name of the KmsConfig.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/kmsConfigs/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/kmsConfigs/{kmsConfigsId}",
                  "httpMethod": "DELETE",
                  "id": "netapp.projects.locations.kmsConfigs.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Warning! This operation will permanently delete the Kms config."
                }
              }
            },
            "hostGroups": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, the server will pick an appropriate default."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Hint for how to order the results"
                    },
                    "filter": {
                      "description": "Optional. Filter to apply to the request.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Parent value for ListHostGroupsRequest"
                    }
                  },
                  "path": "v1/{+parent}/hostGroups",
                  "response": {
                    "$ref": "ListHostGroupsResponse"
                  },
                  "description": "Returns a list of host groups in a `location`. Use `-` as location to list host groups across all locations.",
                  "httpMethod": "GET",
                  "id": "netapp.projects.locations.hostGroups.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/hostGroups"
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "HostGroup"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates an existing host group.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/hostGroups/{hostGroupsId}",
                  "id": "netapp.projects.locations.hostGroups.patch",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Optional. The list of fields to update.",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Identifier. The resource name of the host group. Format: `projects/{project_number}/locations/{location_id}/hostGroups/{host_group_id}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/hostGroups/[^/]+$"
                    }
                  }
                },
                "create": {
                  "description": "Creates a new host group.",
                  "path": "v1/{+parent}/hostGroups",
                  "httpMethod": "POST",
                  "id": "netapp.projects.locations.hostGroups.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "HostGroup"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "hostGroupId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. ID of the host group to create. Must be unique within the parent resource. Must contain only letters, numbers, and hyphen, with the first character a letter or underscore, the last a letter or underscore or a number, and a 63 character maximum."
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent value for CreateHostGroupRequest",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/hostGroups"
                },
                "get": {
                  "httpMethod": "GET",
                  "description": "Returns details of the specified host group.",
                  "id": "netapp.projects.locations.hostGroups.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/hostGroups/{hostGroupsId}",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the host group. Format: `projects/{project_number}/locations/{location_id}/hostGroups/{host_group_id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/hostGroups/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "HostGroup"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "netapp.projects.locations.hostGroups.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/hostGroups/{hostGroupsId}",
                  "description": "Deletes a host group.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/hostGroups/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the host group. Format: `projects/{project_number}/locations/{location_id}/hostGroups/{host_group_id}`."
                    }
                  }
                }
              }
            },
            "activeDirectories": {
              "methods": {
                "create": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. Value for parent.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "activeDirectoryId": {
                      "description": "Required. ID of the active directory to create. Must be unique within the parent resource. Must contain only letters, numbers and hyphen, with the first character a letter , the last a letter or a number, and a 63 character maximum.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "netapp.projects.locations.activeDirectories.create",
                  "path": "v1/{+parent}/activeDirectories",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/activeDirectories",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ActiveDirectory"
                  },
                  "description": "CreateActiveDirectory Creates the active directory specified in the request.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "description": "Update the parameters of an active directories.",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "ActiveDirectory"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/activeDirectories/{activeDirectoriesId}",
                  "id": "netapp.projects.locations.activeDirectories.patch",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the Active Directory resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten."
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/activeDirectories/[^/]+$",
                      "description": "Identifier. The resource name of the active directory. Format: `projects/{project_number}/locations/{location_id}/activeDirectories/{active_directory_id}`.",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ActiveDirectory"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/activeDirectories/{activeDirectoriesId}",
                  "description": "Describes a specified active directory.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/activeDirectories/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the active directory."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "netapp.projects.locations.activeDirectories.get"
                },
                "delete": {
                  "id": "netapp.projects.locations.activeDirectories.delete",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Name of the active directory.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/activeDirectories/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/activeDirectories/{activeDirectoriesId}",
                  "description": "Delete the active directory specified in the request.",
                  "httpMethod": "DELETE"
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/activeDirectories",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Filtering results"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent value for ListActiveDirectoriesRequest"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, the server will pick an appropriate default.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Hint for how to order the results"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListActiveDirectoriesResponse"
                  },
                  "path": "v1/{+parent}/activeDirectories",
                  "id": "netapp.projects.locations.activeDirectories.list",
                  "description": "Lists active directories."
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "netapp.projects.locations.operations.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "cancel": {
                  "id": "netapp.projects.locations.operations.cancel",
                  "httpMethod": "POST",
                  "path": "v1/{+name}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
[...]
