{
  "mtlsRootUrl": "https://netapp.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "baseUrl": "https://netapp.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "version_module": true,
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "id": "netapp:v1",
  "canonicalName": "NetApp Files",
  "schemas": {
    "ListActiveDirectoriesResponse": {
      "id": "ListActiveDirectoriesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "activeDirectories": {
          "type": "array",
          "description": "The list of active directories.",
          "items": {
            "$ref": "ActiveDirectory"
          }
        }
      },
      "description": "ListActiveDirectoriesResponse contains all the active directories requested.",
      "type": "object"
    },
    "ExportPolicy": {
      "properties": {
        "rules": {
          "items": {
            "$ref": "SimpleExportPolicyRule"
          },
          "type": "array",
          "description": "Required. List of export policy rules"
        }
      },
      "type": "object",
      "description": "Defines the export policy for the volume.",
      "id": "ExportPolicy"
    },
    "ExecuteOntapGetResponse": {
      "id": "ExecuteOntapGetResponse",
      "type": "object",
      "description": "Response message for `ExecuteOntapGet` API.",
      "properties": {
        "body": {
          "description": "The raw `JSON` body of the response.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "HourlySchedule": {
      "description": "Make a snapshot every hour e.g. at 04:00, 05:00, 06:00.",
      "type": "object",
      "id": "HourlySchedule",
      "properties": {
        "minute": {
          "type": "number",
          "format": "double",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0)."
        },
        "snapshotsToKeep": {
          "format": "double",
          "type": "number",
          "description": "The maximum number of Snapshots to keep for the hourly schedule"
        }
      }
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      },
      "type": "object",
      "id": "Location"
    },
    "RestoreVolumeRequest": {
      "properties": {
        "ontapVolumeTarget": {
          "description": "The ONTAP volume target of the restore operation.",
          "$ref": "OntapVolumeTarget"
        },
        "backupSource": {
          "$ref": "BackupSource",
          "description": "The backup source of the restore operation."
        }
      },
      "type": "object",
      "description": "Request message for `RestoreVolume` API.",
      "id": "RestoreVolumeRequest"
    },
    "BackupSource": {
      "description": "Represents the backup source of the restore operation.",
      "id": "BackupSource",
      "type": "object",
      "properties": {
        "backup": {
          "type": "string",
          "description": "Required. The backup resource name."
        },
        "fileList": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of files to be restored in the form of their absolute path as in source volume. If provided, only these files will be restored. If not provided, the entire backup will be restored (Full Backup Restore)"
        }
      }
    },
    "CloneDetails": {
      "properties": {
        "sourceSnapshot": {
          "type": "string",
          "description": "Output only. Specifies the full resource name of the source snapshot from which this volume was cloned. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}",
          "readOnly": true
        },
        "sourceVolume": {
          "description": "Output only. Full name of the source volume resource. Format: projects/{project}/locations/{location}/volumes/{volume}",
          "type": "string",
          "readOnly": true
        },
        "splitState": {
          "enumDescriptions": [
            "State is not specified.",
            "The volume is a thin clone, sharing blocks with its source.",
            "A split operation is currently active and in progress.",
            "The attempt to split the volume failed."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of the clone split operation.",
          "enum": [
            "SPLIT_STATE_UNSPECIFIED",
            "SPLIT_STATE_NOT_SPLITTING",
            "SPLIT_STATE_IN_PROGRESS",
            "SPLIT_STATE_FAILED"
          ]
        },
        "sharedSpaceGib": {
          "description": "Output only. Shared space in GiB. Determined at volume creation time based on size of source snapshot.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Details about a clone volume.",
      "type": "object",
      "id": "CloneDetails"
    },
    "RevertVolumeRequest": {
      "description": "RevertVolumeRequest reverts the given volume to the specified snapshot.",
      "id": "RevertVolumeRequest",
      "properties": {
        "snapshotId": {
          "description": "Required. The snapshot resource ID, in the format 'my-snapshot', where the specified ID is the {snapshot_id} of the fully qualified name like projects/{project_id}/locations/{location_id}/volumes/{volume_id}/snapshots/{snapshot_id}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BackupVault": {
      "type": "object",
      "properties": {
        "backupRegion": {
          "type": "string",
          "description": "Optional. Region where the backups are stored. Format: `projects/{project_id}/locations/{location}`"
        },
        "description": {
          "type": "string",
          "description": "Description of the backup vault."
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The backup vault state.",
          "enumDescriptions": [
            "State not set.",
            "BackupVault is being created.",
            "BackupVault is available for use.",
            "BackupVault is being deleted.",
            "BackupVault is not valid and cannot be used.",
            "BackupVault is being updated."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ]
        },
        "kmsConfig": {
          "type": "string",
          "description": "Optional. Specifies the Key Management System (KMS) configuration to be used for backup encryption. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`"
        },
        "encryptionState": {
          "description": "Output only. Field indicating encryption state of CMEK backups.",
          "enumDescriptions": [
            "Encryption state not set.",
            "Encryption state is pending.",
            "Encryption is complete.",
            "Encryption is in progress.",
            "Encryption has failed."
          ],
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "ENCRYPTION_STATE_PENDING",
            "ENCRYPTION_STATE_COMPLETED",
            "ENCRYPTION_STATE_IN_PROGRESS",
            "ENCRYPTION_STATE_FAILED"
          ],
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Create time of the backup vault."
        },
        "name": {
          "description": "Identifier. The resource name of the backup vault. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`.",
          "type": "string"
        },
        "sourceBackupVault": {
          "description": "Output only. Name of the Backup vault created in source region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`",
          "type": "string",
          "readOnly": true
        },
        "destinationBackupVault": {
          "description": "Output only. Name of the Backup vault created in backup region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`",
          "readOnly": true,
          "type": "string"
        },
        "backupVaultType": {
          "description": "Optional. Type of backup vault to be created. Default is IN_REGION.",
          "type": "string",
          "enumDescriptions": [
            "BackupVault type not set.",
            "BackupVault type is IN_REGION.",
            "BackupVault type is CROSS_REGION."
          ],
          "enum": [
            "BACKUP_VAULT_TYPE_UNSPECIFIED",
            "IN_REGION",
            "CROSS_REGION"
          ]
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "backupRetentionPolicy": {
          "$ref": "BackupRetentionPolicy",
          "description": "Optional. Backup retention policy defining the retention of backups."
        },
        "sourceRegion": {
          "type": "string",
          "description": "Optional. Region in which the backup vault is created. Format: `projects/{project_id}/locations/{location}`"
        },
        "backupsCryptoKeyVersion": {
          "type": "string",
          "description": "Output only. The crypto key version used to encrypt the backup vault. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}/cryptoKeyVersions/{crypto_key_version}`",
          "readOnly": true
        }
      },
      "description": "A NetApp BackupVault.",
      "id": "BackupVault"
    },
    "LocationMetadata": {
      "properties": {
        "supportedServiceLevels": {
          "description": "Output only. Supported service levels in a location.",
          "items": {
            "enumDescriptions": [
              "Unspecified service level.",
              "Premium service level.",
              "Extreme service level.",
              "Standard service level.",
              "Flex service level."
            ],
            "enum": [
              "SERVICE_LEVEL_UNSPECIFIED",
              "PREMIUM",
              "EXTREME",
              "STANDARD",
              "FLEX"
            ],
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "supportedFlexPerformance": {
          "description": "Output only. Supported flex performance in a location.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified flex performance.",
              "Flex Storage Pool with default performance.",
              "Flex Storage Pool with custom performance."
            ],
            "enum": [
              "FLEX_PERFORMANCE_UNSPECIFIED",
              "FLEX_PERFORMANCE_DEFAULT",
              "FLEX_PERFORMANCE_CUSTOM"
            ]
          },
          "readOnly": true,
          "type": "array"
        },
        "hasVcp": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates if the location has VCP support."
        },
        "hasOntapProxy": {
          "type": "boolean",
          "description": "Output only. Indicates if the location has ONTAP Proxy support.",
          "readOnly": true
        },
        "flexPerformanceTier": {
          "enum": [
            "FLEX_PERFORMANCE_TIER_UNSPECIFIED",
            "LIMITED"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Indicates the flex performance tier of this location.",
          "enumDescriptions": [
            "Unspecified flex performance tier.",
            "Flex performance tier is limited."
          ]
        }
      },
      "id": "LocationMetadata",
      "type": "object",
      "description": "Metadata for a given google.cloud.location.Location."
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "Snapshot": {
      "description": "Snapshot is a point-in-time version of a Volume's content.",
      "properties": {
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "description": {
          "type": "string",
          "description": "A description of the snapshot with 2048 characters or less. Requests with longer descriptions will be rejected."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "DISABLED",
            "ERROR"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified Snapshot State",
            "Snapshot State is Ready",
            "Snapshot State is Creating",
            "Snapshot State is Deleting",
            "Snapshot State is Updating",
            "Snapshot State is Disabled",
            "Snapshot State is Error"
          ],
          "description": "Output only. The snapshot state."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the snapshot. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`."
        },
        "usedBytes": {
          "format": "double",
          "description": "Output only. Current storage usage for the snapshot in bytes.",
          "readOnly": true,
          "type": "number"
        },
        "stateDetails": {
          "description": "Output only. State details of the storage pool",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the snapshot was created.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Snapshot"
    },
    "BlockDevice": {
      "type": "object",
      "description": "Block device represents the device(s) which are stored in the block volume.",
      "id": "BlockDevice",
      "properties": {
        "sizeGib": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The size of the block device in GiB. Any value provided for the `size_gib` field during volume creation is ignored. The block device's size is system-managed and will be set to match the parent Volume's `capacity_gib`."
        },
        "identifier": {
          "readOnly": true,
          "description": "Output only. Device identifier of the block volume. This represents `lun_serial_number` for iSCSI volumes.",
          "type": "string"
        },
        "hostGroups": {
          "description": "Optional. A list of host groups that identify hosts that can mount the block volume. Format: `projects/{project_id}/locations/{location}/hostGroups/{host_group_id}` This field can be updated after the block device is created.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "osType": {
          "enum": [
            "OS_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS",
            "ESXI"
          ],
          "type": "string",
          "description": "Required. Immutable. The OS type of the volume. This field can't be changed after the block device is created.",
          "enumDescriptions": [
            "Unspecified OS Type",
            "OS Type is Linux",
            "OS Type is Windows",
            "OS Type is VMware ESXi"
          ]
        },
        "name": {
          "type": "string",
          "description": "Optional. User-defined name for the block device, unique within the volume. In case no user input is provided, name will be auto-generated in the backend. The name must meet the following requirements: * Be between 1 and 255 characters long. * Contain only uppercase or lowercase letters (A-Z, a-z), numbers (0-9), and the following special characters: \"-\", \"_\", \"}\", \"{\", \".\". * Spaces are not allowed."
        }
      }
    },
    "HybridPeeringDetails": {
      "properties": {
        "commandExpiryTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Expiration time for the peering command to be executed on user's ONTAP."
        },
        "peerClusterName": {
          "readOnly": true,
          "description": "Output only. Name of the user's local source cluster to be peered with the destination cluster.",
          "type": "string"
        },
        "subnetIp": {
          "readOnly": true,
          "description": "Output only. IP address of the subnet.",
          "type": "string"
        },
        "command": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Copy-paste-able commands to be used on user's ONTAP to accept peering requests."
        },
        "peerSvmName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the user's local source vserver svm to be peered with the destination vserver svm."
        },
        "peerVolumeName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the user's local source volume to be peered with the destination volume."
        },
        "passphrase": {
          "type": "string",
          "description": "Output only. Temporary passphrase generated to accept cluster peering command.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "HybridPeeringDetails",
      "description": "HybridPeeringDetails contains details about the hybrid peering."
    },
    "Status": {
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "StopReplicationRequest": {
      "id": "StopReplicationRequest",
      "description": "StopReplicationRequest stops a replication until resumed.",
      "properties": {
        "force": {
          "description": "Indicates whether to stop replication forcefully while data transfer is in progress. Warning! if force is true, this will abort any current transfers and can lead to data loss due to partial transfer. If force is false, stop replication will fail while data transfer is in progress and you will need to retry later.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "BackupRetentionPolicy": {
      "type": "object",
      "description": "Retention policy for backups in the backup vault",
      "properties": {
        "weeklyBackupImmutable": {
          "type": "boolean",
          "description": "Optional. Indicates if the weekly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true."
        },
        "dailyBackupImmutable": {
          "type": "boolean",
          "description": "Optional. Indicates if the daily backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true."
        },
        "manualBackupImmutable": {
          "description": "Optional. Indicates if the manual backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "monthlyBackupImmutable": {
          "type": "boolean",
          "description": "Optional. Indicates if the monthly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true."
        },
        "backupMinimumEnforcedRetentionDays": {
          "type": "integer",
          "description": "Required. Minimum retention duration in days for backups in the backup vault.",
          "format": "int32"
        }
      },
      "id": "BackupRetentionPolicy"
    },
    "Volume": {
      "properties": {
        "cacheParameters": {
          "description": "Optional. Cache parameters for the volume.",
          "$ref": "CacheParameters"
        },
        "exportPolicy": {
          "description": "Optional. Export policy of the volume",
          "$ref": "ExportPolicy"
        },
        "stateDetails": {
          "description": "Output only. State details of the volume",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the volume",
          "enumDescriptions": [
            "Unspecified Volume State",
            "Volume State is Ready",
            "Volume State is Creating",
            "Volume State is Deleting",
            "Volume State is Updating",
            "Volume State is Restoring",
            "Volume State is Disabled",
            "Volume State is Error",
            "Volume State is Preparing. Note that this is different from CREATING where CREATING means the volume is being created, while PREPARING means the volume is created and now being prepared for the replication.",
            "Volume State is Read Only"
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "RESTORING",
            "DISABLED",
            "ERROR",
            "PREPARING",
            "READ_ONLY"
          ]
        },
        "smbSettings": {
          "description": "Optional. SMB share settings for the volume.",
          "type": "array",
          "items": {
            "enum": [
              "SMB_SETTINGS_UNSPECIFIED",
              "ENCRYPT_DATA",
              "BROWSABLE",
              "CHANGE_NOTIFY",
              "NON_BROWSABLE",
              "OPLOCKS",
              "SHOW_SNAPSHOT",
              "SHOW_PREVIOUS_VERSIONS",
              "ACCESS_BASED_ENUMERATION",
              "CONTINUOUSLY_AVAILABLE"
            ],
            "enumDescriptions": [
              "Unspecified default option",
              "SMB setting encrypt data",
              "SMB setting browsable",
              "SMB setting notify change",
              "SMB setting not to notify change",
              "SMB setting oplocks",
              "SMB setting to show snapshots",
              "SMB setting to show previous versions",
              "SMB setting to access volume based on enumerartion",
              "Continuously available enumeration"
            ],
            "type": "string"
          }
        },
        "snapshotPolicy": {
          "description": "Optional. SnapshotPolicy for a volume.",
          "$ref": "SnapshotPolicy"
        },
        "capacityGib": {
          "description": "Required. Capacity in GIB of the volume",
          "type": "string",
          "format": "int64"
        },
        "snapReserve": {
          "format": "double",
          "type": "number",
          "description": "Optional. Snap_reserve specifies percentage of volume storage reserved for snapshot storage. Default is 0 percent."
        },
        "hasReplication": {
          "description": "Output only. Indicates whether the volume is part of a replication relationship.",
          "readOnly": true,
          "type": "boolean"
        },
        "blockDevices": {
          "items": {
            "$ref": "BlockDevice"
          },
          "description": "Optional. Block devices for the volume. Currently, only one block device is permitted per Volume.",
          "type": "array"
        },
        "coldTierSizeGib": {
          "readOnly": true,
          "description": "Output only. Size of the volume cold tier data rounded down to the nearest GiB.",
          "type": "string",
          "format": "int64"
        },
        "storagePool": {
          "type": "string",
          "description": "Required. StoragePool name of the volume"
        },
        "unixPermissions": {
          "type": "string",
          "description": "Optional. Default unix style permission (e.g. 777) the mount point will be created with. Applicable for NFS protocol types only."
        },
        "psaRange": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This field is not implemented. The values provided in this field are ignored."
        },
        "securityStyle": {
          "enum": [
            "SECURITY_STYLE_UNSPECIFIED",
            "NTFS",
            "UNIX"
          ],
          "description": "Optional. Security Style of the Volume",
          "enumDescriptions": [
            "SecurityStyle is unspecified",
            "SecurityStyle uses NTFS",
            "SecurityStyle uses UNIX"
          ],
          "type": "string"
        },
        "kerberosEnabled": {
          "type": "boolean",
          "description": "Optional. Flag indicating if the volume is a kerberos volume or not, export policy rules control kerberos security modes (krb5, krb5i, krb5p)."
        },
        "snapshotDirectory": {
          "type": "boolean",
          "description": "Optional. Snapshot_directory if enabled (true) the volume will contain a read-only .snapshot directory which provides access to each of the volume's snapshots."
        },
        "replicaZone": {
          "description": "Output only. Specifies the replica zone for regional volume.",
          "readOnly": true,
          "type": "string"
        },
        "backupConfig": {
          "description": "BackupConfig of the volume.",
          "$ref": "BackupConfig"
        },
        "tieringPolicy": {
          "$ref": "TieringPolicy",
          "description": "Tiering policy for the volume."
        },
        "cloneDetails": {
          "$ref": "CloneDetails",
          "description": "Output only. If this volume is a clone, this field contains details about the clone.",
          "readOnly": true
        },
        "hybridReplicationParameters": {
          "$ref": "HybridReplicationParameters",
          "description": "Optional. The Hybrid Replication parameters for the volume."
        },
        "largeCapacity": {
          "type": "boolean",
          "description": "Optional. Flag indicating if the volume will be a large capacity volume or a regular volume. This field is used for legacy FILE pools. For Unified pools, use the `large_capacity_config` field instead. This field and `large_capacity_config` are mutually exclusive."
        },
        "ldapEnabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Flag indicating if the volume is NFS LDAP enabled or not."
        },
        "encryptionType": {
          "description": "Output only. Specified the current volume encryption key source.",
          "type": "string",
          "enumDescriptions": [
            "The source of the encryption key is not specified.",
            "Google managed encryption key.",
            "Customer managed encryption key, which is stored in KMS."
          ],
          "readOnly": true,
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "SERVICE_MANAGED",
            "CLOUD_KMS"
          ]
        },
        "restrictedActions": {
          "items": {
            "enumDescriptions": [
              "Unspecified restricted action",
              "Prevent volume from being deleted when mounted."
            ],
            "type": "string",
            "enum": [
              "RESTRICTED_ACTION_UNSPECIFIED",
              "DELETE"
            ]
          },
          "type": "array",
          "description": "Optional. List of actions that are restricted on this volume."
        },
        "network": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. VPC Network name. Format: projects/{project}/global/networks/{network}"
        },
        "shareName": {
          "description": "Required. Share name of the volume",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Specifies the active zone for regional volume."
        },
        "throughputMibps": {
          "format": "double",
          "type": "number",
          "description": "Optional. Throughput of the volume (in MiB/s)"
        },
        "kmsConfig": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Specifies the KMS config to be used for volume encryption."
        },
        "restoreParameters": {
          "description": "Optional. Specifies the source of the volume to be created from.",
          "$ref": "RestoreParameters"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the volume"
        },
        "multipleEndpoints": {
          "description": "Optional. Flag indicating if the volume will have an IP address per node for volumes supporting multiple IP endpoints. Only the volume with large_capacity will be allowed to have multiple endpoints.",
          "type": "boolean"
        },
        "activeDirectory": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Specifies the ActiveDirectory name of a SMB volume."
        },
        "largeCapacityConfig": {
          "$ref": "LargeCapacityConfig",
          "description": "Optional. Large capacity config for the volume. Enables and configures large capacity for volumes in Unified pools with File protocols. Not applicable for Block protocols in Unified pools. This field and the legacy `large_capacity` boolean field are mutually exclusive."
        },
        "usedGib": {
          "description": "Output only. Used capacity in GIB of the volume. This is computed periodically and it does not represent the realtime usage.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the volume",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Create time of the volume",
          "type": "string"
        },
        "serviceLevel": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "PREMIUM",
            "EXTREME",
            "STANDARD",
            "FLEX"
          ],
          "description": "Output only. Service level of the volume",
          "enumDescriptions": [
            "Unspecified service level.",
            "Premium service level.",
            "Extreme service level.",
            "Standard service level.",
            "Flex service level."
          ]
        },
        "protocols": {
          "description": "Required. Protocols required for the volume",
          "items": {
            "type": "string",
            "enum": [
              "PROTOCOLS_UNSPECIFIED",
              "NFSV3",
              "NFSV4",
              "SMB",
              "ISCSI",
              "NVME"
            ],
            "enumDescriptions": [
              "Unspecified protocol",
              "NFS V3 protocol",
              "NFS V4 protocol",
              "SMB protocol",
              "ISCSI protocol",
              "NVMe protocol"
            ]
          },
          "type": "array"
        },
        "hotTierSizeUsedGib": {
          "readOnly": true,
          "description": "Output only. Total hot tier data rounded down to the nearest GiB used by the Volume. This field is only used for flex Service Level",
          "type": "string",
          "format": "int64"
        },
        "mountOptions": {
          "type": "array",
          "description": "Output only. Mount options of this volume",
          "items": {
            "$ref": "MountOption"
          },
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels as key value pairs"
        }
      },
      "id": "Volume",
      "description": "Volume provides a filesystem that you can mount.",
      "type": "object"
    },
    "SwitchActiveReplicaZoneRequest": {
      "description": "SwitchActiveReplicaZoneRequest switch the active/replica zone for a regional storagePool.",
      "properties": {},
      "id": "SwitchActiveReplicaZoneRequest",
      "type": "object"
    },
    "MonthlySchedule": {
      "description": "Make a snapshot once a month e.g. at 2nd 04:00, 7th 05:20, 24th 23:50",
      "id": "MonthlySchedule",
      "type": "object",
      "properties": {
        "snapshotsToKeep": {
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "type": "number",
          "format": "double"
        },
        "daysOfMonth": {
          "type": "string",
          "description": "Set the day or days of the month to make a snapshot (1-31). Accepts a comma separated number of days. Defaults to '1'."
        },
        "hour": {
          "type": "number",
          "format": "double",
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0)."
        },
        "minute": {
          "type": "number",
          "format": "double",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0)."
        }
      }
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "type": "object"
    },
    "LargeCapacityConfig": {
      "id": "LargeCapacityConfig",
      "description": "Configuration for a Large Capacity Volume. A Large Capacity Volume supports sizes ranging from 4.8 TiB to 20 PiB; it is composed of multiple internal constituents, and must be created in a large capacity pool.",
      "type": "object",
      "properties": {
        "constituentCount": {
          "format": "int32",
          "description": "Optional. The number of internal constituents (e.g., FlexVols) for this large volume. The minimum number of constituents is 2.",
          "type": "integer"
        }
      }
    },
    "OntapSource": {
      "properties": {
        "snapshotUuid": {
          "type": "string",
          "description": "Optional. The UUID of the ONTAP source snapshot."
        },
        "volumeUuid": {
          "description": "Required. The UUID of the ONTAP source volume.",
          "type": "string"
        },
        "storagePool": {
          "description": "Required. Name of the storage pool. This must be specified for creating backups for ONTAP mode volumes. Format: `projects/{projects_id}/locations/{location}/storagePools/{storage_pool_id}`",
          "type": "string"
        }
      },
      "description": "Represents ONTAP source details.",
      "id": "OntapSource",
      "type": "object"
    },
    "CacheConfig": {
      "description": "Configuration of the cache volume.",
      "type": "object",
      "id": "CacheConfig",
      "properties": {
        "cachePrePopulate": {
          "description": "Optional. Pre-populate cache volume with data from the origin volume.",
          "$ref": "CachePrePopulate"
        },
        "cachePrePopulateState": {
          "description": "Output only. State of the prepopulation job indicating how the prepopulation is progressing.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default unspecified state.",
            "State representing when the most recent create or update request did not require a prepopulation job.",
            "State representing when the most recent update request requested a prepopulation job but it has not yet completed.",
            "State representing when the most recent update request requested a prepopulation job and it has completed successfully.",
            "State representing when the most recent update request requested a prepopulation job but the prepopulate job failed."
          ],
          "enum": [
            "CACHE_PRE_POPULATE_STATE_UNSPECIFIED",
            "NOT_NEEDED",
            "IN_PROGRESS",
            "COMPLETE",
            "ERROR"
          ]
        },
        "writebackEnabled": {
          "type": "boolean",
          "description": "Optional. Flag indicating whether writeback is enabled for the FlexCache volume."
        },
        "cifsChangeNotifyEnabled": {
          "type": "boolean",
          "description": "Optional. Flag indicating whether a CIFS change notification is enabled for the FlexCache volume."
        }
      }
    },
    "OperationMetadata": {
      "properties": {
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been canceled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata"
    },
    "MountOption": {
      "id": "MountOption",
      "type": "object",
      "properties": {
        "ipAddress": {
          "readOnly": true,
          "description": "Output only. IP Address.",
          "type": "string"
        },
        "instructions": {
          "type": "string",
          "description": "Instructions for mounting"
        },
        "export": {
          "type": "string",
          "description": "Export string"
        },
        "protocol": {
          "description": "Protocol to mount with.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified protocol",
            "NFS V3 protocol",
            "NFS V4 protocol",
            "SMB protocol",
            "ISCSI protocol",
            "NVMe protocol"
          ],
          "enum": [
            "PROTOCOLS_UNSPECIFIED",
            "NFSV3",
            "NFSV4",
            "SMB",
            "ISCSI",
            "NVME"
          ]
        },
        "exportFull": {
          "description": "Full export string",
          "type": "string"
        }
      },
      "description": "View only mount options for a volume."
    },
    "DestinationVolumeParameters": {
      "id": "DestinationVolumeParameters",
      "properties": {
        "volumeId": {
          "description": "Desired destination volume resource id. If not specified, source volume's resource id will be used. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen.",
          "type": "string"
        },
        "shareName": {
          "type": "string",
          "description": "Destination volume's share name. If not specified, source volume's share name will be used."
        },
        "storagePool": {
          "description": "Required. Existing destination StoragePool name.",
          "type": "string"
        },
        "tieringPolicy": {
          "$ref": "TieringPolicy",
          "description": "Optional. Tiering policy for the volume."
        },
        "description": {
          "description": "Description for the destination volume.",
          "type": "string"
        }
      },
      "description": "DestinationVolumeParameters specify input parameters used for creating destination volume.",
      "type": "object"
    },
    "ExecuteOntapPostResponse": {
      "description": "Response message for `ExecuteOntapPost` API.",
      "type": "object",
      "id": "ExecuteOntapPostResponse",
      "properties": {
        "body": {
          "type": "object",
          "description": "The raw `JSON` body of the response.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "ListSnapshotsResponse": {
      "properties": {
        "snapshots": {
          "type": "array",
          "description": "A list of snapshots in the project for the specified volume.",
          "items": {
            "$ref": "Snapshot"
          }
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "ListSnapshotsResponse is the result of ListSnapshotsRequest.",
      "id": "ListSnapshotsResponse"
    },
    "ListBackupPoliciesResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "backupPolicies": {
          "type": "array",
          "items": {
            "$ref": "BackupPolicy"
          },
          "description": "The list of backup policies."
        }
      },
      "description": "ListBackupPoliciesResponse contains all the backup policies requested.",
      "id": "ListBackupPoliciesResponse"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "EstablishVolumePeeringRequest": {
      "properties": {
        "peerVolumeName": {
          "description": "Required. Name of the user's local source volume to be peered with the destination volume.",
          "type": "string"
        },
        "peerSvmName": {
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm.",
          "type": "string"
        },
        "peerClusterName": {
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster.",
          "type": "string"
        },
        "peerIpAddresses": {
          "description": "Optional. List of IPv4 IP addresses to be used for peering.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "EstablishVolumePeeringRequest",
      "description": "EstablishVolumePeeringRequest establishes cluster and svm peerings between the source and destination clusters.",
      "type": "object"
    },
    "ResumeReplicationRequest": {
      "description": "ResumeReplicationRequest resumes a stopped replication.",
      "type": "object",
      "properties": {},
      "id": "ResumeReplicationRequest"
    },
    "ListBackupsResponse": {
      "description": "ListBackupsResponse is the result of ListBackupsRequest.",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "backups": {
          "items": {
            "$ref": "Backup"
          },
          "description": "A list of backups in the project.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "ListBackupsResponse"
    },
    "RestoreBackupFilesRequest": {
      "type": "object",
      "description": "RestoreBackupFilesRequest restores files from a backup to a volume.",
      "id": "RestoreBackupFilesRequest",
      "properties": {
        "backup": {
          "description": "Required. The backup resource name, in the format `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`",
          "type": "string"
        },
        "restoreDestinationPath": {
          "type": "string",
          "description": "Optional. Absolute directory path in the destination volume. This is required if the `file_list` is provided."
        },
        "fileList": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. List of files to be restored, specified by their absolute path in the source volume."
        }
      }
    },
    "SplitStatus": {
      "properties": {
        "progressPercent": {
          "format": "int32",
          "description": "Output only. The estimated progress percentage of the split operation (0-100). This is meaningful primarily when split_state is IN_PROGRESS.",
          "readOnly": true,
          "type": "integer"
        },
        "splitState": {
          "readOnly": true,
          "description": "Output only. The current state of the clone split operation.",
          "enumDescriptions": [
            "State is not specified.",
            "The volume is a thin clone, sharing blocks with its source.",
            "A split operation is currently active and in progress.",
            "The attempt to split the volume failed."
          ],
          "enum": [
            "SPLIT_STATE_UNSPECIFIED",
            "SPLIT_STATE_NOT_SPLITTING",
            "SPLIT_STATE_IN_PROGRESS",
            "SPLIT_STATE_FAILED"
          ],
          "type": "string"
        },
        "stateDetails": {
          "description": "Output only. Human-readable details about the current state. Mostly used for displaying error messages during split failure Examples: \"Split in progress\", \"Error: insufficient capacity\".",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "SplitStatus",
      "description": "Message for SplitStatus.",
      "type": "object"
    },
    "StartSplitRequest": {
      "description": "Request message for splitting a volume.",
      "id": "StartSplitRequest",
      "type": "object",
      "properties": {}
    },
    "VerifyKmsConfigRequest": {
      "id": "VerifyKmsConfigRequest",
      "type": "object",
      "properties": {},
      "description": "VerifyKmsConfigRequest specifies the KMS config to be validated."
    },
    "VerifyKmsConfigResponse": {
      "id": "VerifyKmsConfigResponse",
      "properties": {
        "instructions": {
          "readOnly": true,
          "description": "Output only. Instructions for the customers to provide the access to the encryption key.",
          "type": "string"
        },
        "healthy": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If the customer key configured correctly to the encrypt volume."
        },
        "healthError": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Error message if config is not healthy."
        }
      },
      "type": "object",
      "description": "VerifyKmsConfigResponse contains the information if the config is correctly and error message."
    },
    "Replication": {
      "id": "Replication",
      "description": "Replication is a nested resource under Volume, that describes a cross-region replication relationship between 2 volumes in different regions.",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified replication State",
            "Replication is creating.",
            "Replication is ready.",
            "Replication is updating.",
            "Replication is deleting.",
            "Replication is in error state.",
            "Replication is waiting for cluster peering to be established.",
            "Replication is waiting for SVM peering to be established.",
            "Replication is waiting for Commands to be executed on Onprem ONTAP.",
            "Onprem ONTAP is destination and Replication can only be managed from Onprem."
          ],
          "readOnly": true,
          "description": "Output only. State of the replication.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "ERROR",
            "PENDING_CLUSTER_PEERING",
            "PENDING_SVM_PEERING",
            "PENDING_REMOTE_RESYNC",
            "EXTERNALLY_MANAGED_REPLICATION"
          ]
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Resource labels to represent user provided metadata."
        },
        "hybridPeeringDetails": {
          "$ref": "HybridPeeringDetails",
          "description": "Output only. Hybrid peering details.",
          "readOnly": true
        },
        "clusterLocation": {
          "type": "string",
          "description": "Optional. Location of the user cluster."
        },
        "createTime": {
          "description": "Output only. Replication create time.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "destinationVolume": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Full name of destination volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\""
        },
        "replicationSchedule": {
          "enum": [
            "REPLICATION_SCHEDULE_UNSPECIFIED",
            "EVERY_10_MINUTES",
            "HOURLY",
            "DAILY"
          ],
          "enumDescriptions": [
            "Unspecified ReplicationSchedule",
            "Replication happens once every 10 minutes.",
            "Replication happens once every hour.",
            "Replication happens once every day."
          ],
          "description": "Required. Indicates the schedule for replication.",
          "type": "string"
        },
        "role": {
          "description": "Output only. Indicates whether this points to source or destination.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified replication role",
            "Indicates Source volume.",
            "Indicates Destination volume."
          ],
          "enum": [
            "REPLICATION_ROLE_UNSPECIFIED",
            "SOURCE",
            "DESTINATION"
          ]
        },
        "hybridReplicationType": {
          "type": "string",
          "enum": [
            "HYBRID_REPLICATION_TYPE_UNSPECIFIED",
            "MIGRATION",
            "CONTINUOUS_REPLICATION",
            "ONPREM_REPLICATION",
            "REVERSE_ONPREM_REPLICATION"
          ],
          "readOnly": true,
          "description": "Output only. Type of the hybrid replication.",
          "enumDescriptions": [
            "Unspecified hybrid replication type.",
            "Hybrid replication type for migration.",
            "Hybrid replication type for continuous replication.",
            "New field for reversible OnPrem replication, to be used for data protection.",
            "Hybrid replication type for incremental Transfer in the reverse direction (GCNV is source and Onprem is destination)"
          ]
        },
        "hybridReplicationUserCommands": {
          "$ref": "UserCommands",
          "readOnly": true,
          "description": "Output only. Copy pastable snapmirror commands to be executed on onprem cluster by the customer."
        },
        "healthy": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Condition of the relationship. Can be one of the following: - true: The replication relationship is healthy. It has not missed the most recent scheduled transfer. - false: The replication relationship is not healthy. It has missed the most recent scheduled transfer."
        },
        "sourceVolume": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Full name of source volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\""
        },
        "mirrorState": {
          "enum": [
            "MIRROR_STATE_UNSPECIFIED",
            "PREPARING",
            "MIRRORED",
            "STOPPED",
            "TRANSFERRING",
            "BASELINE_TRANSFERRING",
            "ABORTED",
            "EXTERNALLY_MANAGED",
            "PENDING_PEERING"
          ],
          "enumDescriptions": [
            "Unspecified MirrorState",
            "Destination volume is being prepared.",
            "Destination volume has been initialized and is ready to receive replication transfers.",
            "Destination volume is not receiving replication transfers.",
            "Incremental replication is in progress.",
            "Baseline replication is in progress.",
            "Replication is aborted.",
            "Replication is being managed from Onprem ONTAP.",
            "Peering is yet to be established."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Indicates the state of mirroring."
        },
        "name": {
          "description": "Identifier. The resource name of the Replication. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}`.",
          "type": "string"
        },
        "description": {
          "description": "A description about this replication relationship.",
          "type": "string"
        },
        "transferStats": {
          "description": "Output only. Replication transfer statistics.",
          "$ref": "TransferStats",
          "readOnly": true
        },
        "stateDetails": {
          "description": "Output only. State details of the replication.",
          "readOnly": true,
          "type": "string"
        },
        "destinationVolumeParameters": {
          "$ref": "DestinationVolumeParameters",
          "description": "Required. Input only. Destination volume parameters"
        }
      },
      "type": "object"
    },
    "UserCommands": {
      "id": "UserCommands",
      "description": "UserCommands contains the commands to be executed by the customer.",
      "properties": {
        "commands": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of commands to be executed by the customer."
        }
      },
      "type": "object"
    },
    "BackupPolicy": {
      "id": "BackupPolicy",
      "description": "Backup Policy.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the backup policy."
        },
        "assignedVolumeCount": {
          "description": "Output only. The total number of volumes assigned by this backup policy.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the backup policy. Format: `projects/{project_id}/locations/{location}/backupPolicies/{backup_policy_id}`."
        },
        "dailyBackupLimit": {
          "type": "integer",
          "description": "Number of daily backups to keep. Note that the minimum daily backup limit is 2.",
          "format": "int32"
        },
        "labels": {
          "description": "Resource labels to represent user provided metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "monthlyBackupLimit": {
          "format": "int32",
          "description": "Number of monthly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1.",
          "type": "integer"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State not set.",
            "BackupPolicy is being created.",
            "BackupPolicy is available for use.",
            "BackupPolicy is being deleted.",
            "BackupPolicy is not valid and cannot be used.",
            "BackupPolicy is being updated."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "description": "Output only. The backup policy state."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the backup policy was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "enabled": {
          "description": "If enabled, make backups automatically according to the schedules. This will be applied to all volumes that have this policy attached and enforced on volume level. If not specified, default is true.",
          "type": "boolean"
        },
        "weeklyBackupLimit": {
          "type": "integer",
          "format": "int32",
          "description": "Number of weekly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1."
        }
      },
      "type": "object"
    },
    "ListStoragePoolsResponse": {
      "id": "ListStoragePoolsResponse",
      "description": "ListStoragePoolsResponse is the response to a ListStoragePoolsRequest.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "storagePools": {
          "items": {
            "$ref": "StoragePool"
          },
          "type": "array",
          "description": "The list of StoragePools"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SyncReplicationRequest": {
      "description": "SyncReplicationRequest syncs the replication from source to destination.",
      "properties": {},
      "id": "SyncReplicationRequest",
      "type": "object"
    },
    "SimpleExportPolicyRule": {
      "description": "An export policy rule describing various export options.",
      "id": "SimpleExportPolicyRule",
      "type": "object",
      "properties": {
        "accessType": {
          "type": "string",
          "description": "Access type (ReadWrite, ReadOnly, None)",
          "enumDescriptions": [
            "Unspecified Access Type",
            "Read Only",
            "Read Write",
            "None"
          ],
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE",
            "READ_NONE"
          ]
        },
        "nfsv4": {
          "type": "boolean",
          "description": "NFS V4 protocol."
        },
        "kerberos5pReadWrite": {
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode. The 'kerberos5pReadOnly' value be ignored if this is enabled.",
          "type": "boolean"
        },
        "anonUid": {
          "format": "int64",
          "type": "string",
          "description": "Optional. An integer representing the anonymous user ID. Range is 0 to `4294967295`. Required when `squash_mode` is `ROOT_SQUASH` or `ALL_SQUASH`."
        },
        "hasRootAccess": {
          "description": "Whether Unix root access will be granted.",
          "type": "string"
        },
        "squashMode": {
          "enumDescriptions": [
            "Defaults to `NO_ROOT_SQUASH`.",
            "The root user (UID 0) retains full access. Other users are unaffected.",
            "The root user (UID 0) is squashed to anonymous user ID. Other users are unaffected.",
            "All users are squashed to anonymous user ID."
          ],
          "type": "string",
          "enum": [
            "SQUASH_MODE_UNSPECIFIED",
            "NO_ROOT_SQUASH",
            "ROOT_SQUASH",
            "ALL_SQUASH"
          ],
          "description": "Optional. Defines how user identity squashing is applied for this export rule. This field is the preferred way to configure squashing behavior and takes precedence over `has_root_access` if both are provided."
        },
        "kerberos5ReadOnly": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode."
        },
        "kerberos5ReadWrite": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode. The 'kerberos5ReadOnly' value be ignored if this is enabled."
        },
        "kerberos5iReadWrite": {
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode. The 'kerberos5iReadOnly' value be ignored if this is enabled.",
          "type": "boolean"
        },
        "allowedClients": {
          "type": "string",
          "description": "Comma separated list of allowed clients IP addresses"
        },
        "nfsv3": {
          "type": "boolean",
          "description": "NFS V3 protocol."
        },
        "kerberos5iReadOnly": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode."
        },
        "kerberos5pReadOnly": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode."
        }
      }
    },
    "TransferStats": {
      "description": "TransferStats reports all statistics related to replication transfer.",
      "id": "TransferStats",
      "properties": {
        "transferBytes": {
          "description": "Cumulative bytes transferred so far for the replication relationship.",
          "type": "string",
          "format": "int64"
        },
        "lastTransferBytes": {
          "description": "Last transfer size in bytes.",
          "type": "string",
          "format": "int64"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Time when progress was updated last.",
          "type": "string"
        },
        "lagDuration": {
          "description": "Lag duration indicates the duration by which Destination region volume content lags behind the primary region volume content.",
          "type": "string",
          "format": "google-duration"
        },
        "lastTransferEndTime": {
          "description": "Time when last transfer completed.",
          "format": "google-datetime",
          "type": "string"
        },
        "lastTransferError": {
          "type": "string",
          "description": "A message describing the cause of the last transfer failure."
        },
        "totalTransferDuration": {
          "format": "google-duration",
          "description": "Cumulative time taken across all transfers for the replication relationship.",
          "type": "string"
        },
        "lastTransferDuration": {
          "type": "string",
          "description": "Time taken during last transfer.",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "ListBackupConfigsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
        },
        "volumeBackupConfigs": {
          "description": "A list of backup configurations for volumes in the pool.",
          "items": {
            "$ref": "VolumeBackupConfig"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Message for response to listing BackupConfigs in an ONTAP StoragePool.",
      "id": "ListBackupConfigsResponse"
    },
    "CacheParameters": {
      "id": "CacheParameters",
      "type": "object",
      "properties": {
        "cacheState": {
          "readOnly": true,
          "enum": [
            "CACHE_STATE_UNSPECIFIED",
            "PENDING_CLUSTER_PEERING",
            "PENDING_SVM_PEERING",
            "PEERED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Default unspecified state.",
            "State indicating waiting for cluster peering to be established.",
            "State indicating waiting for SVM peering to be established.",
            "State indicating successful establishment of peering with origin volumes's ONTAP cluster.",
            "Terminal state wherein peering with origin volume's ONTAP cluster has failed."
          ],
          "description": "Output only. State of the cache volume indicating the peering status.",
          "type": "string"
        },
        "peerClusterName": {
          "type": "string",
          "description": "Required. Name of the origin volume's ONTAP cluster."
        },
        "cacheConfig": {
          "description": "Optional. Configuration of the cache volume.",
          "$ref": "CacheConfig"
        },
        "peerSvmName": {
          "type": "string",
          "description": "Required. Name of the origin volume's SVM."
        },
        "peeringCommandExpiryTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Expiration time for the peering command to be executed on user's ONTAP."
        },
        "peerVolumeName": {
          "description": "Required. Name of the origin volume for the cache volume.",
          "type": "string"
        },
        "stateDetails": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Detailed description of the current cache state."
        },
        "passphrase": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Temporary passphrase generated to accept cluster peering command."
        },
        "peerIpAddresses": {
          "description": "Required. List of IC LIF addresses of the origin volume's ONTAP cluster.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "command": {
          "description": "Output only. Copy-paste-able commands to be used on user's ONTAP to accept peering requests.",
          "type": "string",
          "readOnly": true
        },
        "enableGlobalFileLock": {
          "description": "Optional. Indicates whether the cache volume has global file lock enabled.",
          "type": "boolean"
        }
      },
      "description": "Cache Parameters for the volume."
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "SnapshotPolicy": {
      "properties": {
        "hourlySchedule": {
          "description": "Hourly schedule policy.",
          "$ref": "HourlySchedule"
        },
        "enabled": {
          "description": "If enabled, make snapshots automatically according to the schedules. Default is false.",
          "type": "boolean"
        },
        "monthlySchedule": {
          "description": "Monthly schedule policy.",
          "$ref": "MonthlySchedule"
        },
        "dailySchedule": {
          "description": "Daily schedule policy.",
          "$ref": "DailySchedule"
        },
        "weeklySchedule": {
          "description": "Weekly schedule policy.",
          "$ref": "WeeklySchedule"
        }
      },
      "id": "SnapshotPolicy",
      "type": "object",
      "description": "Snapshot Policy for a volume."
    },
    "HostGroup": {
      "properties": {
        "hosts": {
          "items": {
            "type": "string"
          },
          "description": "Required. The list of hosts associated with the host group.",
          "type": "array"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Create time of the host group.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Unspecified state for host group.",
            "Host group is creating.",
            "Host group is ready.",
            "Host group is updating.",
            "Host group is deleting.",
            "Host group is disabled."
          ],
          "description": "Output only. State of the host group.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. Description of the host group.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels of the host group.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ISCSI_INITIATOR"
          ],
          "description": "Required. Type of the host group.",
          "enumDescriptions": [
            "Unspecified type for host group.",
            "iSCSI initiator host group."
          ]
        },
        "osType": {
          "description": "Required. The OS type of the host group. It indicates the type of operating system used by all of the hosts in the HostGroup. All hosts in a HostGroup must be of the same OS type. This can be set only when creating a HostGroup.",
          "enumDescriptions": [
            "Unspecified OS Type",
            "OS Type is Linux",
            "OS Type is Windows",
            "OS Type is VMware ESXi"
          ],
          "enum": [
            "OS_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS",
            "ESXI"
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the host group. Format: `projects/{project_number}/locations/{location_id}/hostGroups/{host_group_id}`."
        }
      },
      "type": "object",
      "id": "HostGroup",
      "description": "Host group is a collection of hosts that can be used for accessing a Block Volume."
    },
    "VolumeBackupConfig": {
      "description": "Backup configuration for a volume in a pool.",
      "properties": {
        "backupConfig": {
          "description": "Backup configuration for the volume.",
          "$ref": "BackupConfig"
        },
        "volumeUuid": {
          "type": "string",
          "description": "Provides the Ontap UUID of the volume within the pool."
        }
      },
      "type": "object",
      "id": "VolumeBackupConfig"
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "DailySchedule": {
      "properties": {
        "minute": {
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "type": "number",
          "format": "double"
        },
        "hour": {
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "format": "double",
          "type": "number"
        },
        "snapshotsToKeep": {
          "format": "double",
          "type": "number",
          "description": "The maximum number of Snapshots to keep for the hourly schedule"
        }
      },
      "id": "DailySchedule",
      "description": "Make a snapshot every day e.g. at 04:00, 05:20, 23:50",
      "type": "object"
    },
    "ListReplicationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "replications": {
          "description": "A list of replications in the project for the specified volume.",
          "items": {
            "$ref": "Replication"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "ListReplicationsResponse is the result of ListReplicationsRequest.",
      "id": "ListReplicationsResponse"
    },
    "EncryptVolumesRequest": {
      "id": "EncryptVolumesRequest",
      "properties": {},
      "description": "EncryptVolumesRequest specifies the KMS config to encrypt existing volumes.",
      "type": "object"
    },
    "RestoreParameters": {
      "properties": {
        "sourceSnapshot": {
          "description": "Full name of the snapshot resource. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}",
          "type": "string"
        },
        "sourceBackup": {
          "type": "string",
          "description": "Full name of the backup resource. Format for standard backup: projects/{project}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}. Format for BackupDR backup: projects/{project}/locations/{location}/backupVaults/{backup_vault}/dataSources/{data_source}/backups/{backup}"
        }
      },
      "id": "RestoreParameters",
      "type": "object",
      "description": "The RestoreParameters if volume is created from a snapshot or backup."
    },
    "ListKmsConfigsResponse": {
      "type": "object",
      "id": "ListKmsConfigsResponse",
      "description": "ListKmsConfigsResponse is the response to a ListKmsConfigsRequest.",
      "properties": {
        "kmsConfigs": {
          "description": "The list of KmsConfigs",
          "type": "array",
          "items": {
            "$ref": "KmsConfig"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ReverseReplicationDirectionRequest": {
      "description": "ReverseReplicationDirectionRequest reverses direction of replication. Source becomes destination and destination becomes source.",
      "id": "ReverseReplicationDirectionRequest",
      "type": "object",
      "properties": {}
    },
    "CachePrePopulate": {
      "description": "Pre-populate cache volume with data from the origin volume.",
      "id": "CachePrePopulate",
      "properties": {
        "pathList": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of directory-paths to be pre-populated for the FlexCache volume."
        },
        "recursion": {
          "type": "boolean",
          "description": "Optional. Flag indicating whether the directories listed with the `path_list` need to be recursively pre-populated."
        },
        "excludePathList": {
          "description": "Optional. List of directory-paths to be excluded for pre-population for the FlexCache volume.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "BackupConfig": {
      "description": "BackupConfig contains backup related config on a volume.",
      "type": "object",
      "properties": {
        "backupChainBytes": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size).",
          "format": "int64"
        },
        "scheduledBackupEnabled": {
          "description": "Optional. When set to true, scheduled backup is enabled on the volume. This field should be nil when there's no backup policy attached.",
          "type": "boolean"
        },
        "backupVault": {
          "description": "Optional. Name of backup vault. Format: projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}",
          "type": "string"
        },
        "backupPolicies": {
          "items": {
            "type": "string"
          },
          "description": "Optional. When specified, schedule backups will be created based on the policy configuration.",
          "type": "array"
        }
      },
      "id": "BackupConfig"
    },
    "ExecuteOntapPatchResponse": {
      "description": "Response message for `ExecuteOntapPatch` API.",
      "type": "object",
      "id": "ExecuteOntapPatchResponse",
      "properties": {
        "body": {
          "type": "object",
          "description": "The raw `JSON` body of the response.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "KmsConfig": {
      "type": "object",
      "properties": {
        "cryptoKeyName": {
          "description": "Required. Customer-managed crypto key resource full name. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "IN_USE",
            "ERROR",
            "KEY_CHECK_PENDING",
            "KEY_NOT_REACHABLE",
            "DISABLING",
            "DISABLED",
            "MIGRATING"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the KmsConfig.",
          "enumDescriptions": [
            "Unspecified KmsConfig State",
            "KmsConfig State is Ready",
            "KmsConfig State is Creating",
            "KmsConfig State is Deleting",
            "KmsConfig State is Updating",
            "KmsConfig State is In Use.",
            "KmsConfig State is Error",
            "KmsConfig State is Pending to verify crypto key access.",
            "KmsConfig State is Not accessbile by the SDE service account to the crypto key.",
            "KmsConfig State is Disabling.",
            "KmsConfig State is Disabled.",
            "KmsConfig State is Migrating. The existing volumes are migrating from SMEK to CMEK."
          ]
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs"
        },
        "instructions": {
          "description": "Output only. Instructions to provide the access to the customer provided encryption key.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Description of the KmsConfig.",
          "type": "string"
        },
        "stateDetails": {
          "description": "Output only. State details of the KmsConfig.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the `KmsConfig`. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Create time of the KmsConfig.",
          "format": "google-datetime"
        },
        "serviceAccount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Service account which will have access to the customer provided encryption key."
        }
      },
      "description": "KmsConfig is the customer-managed encryption key(CMEK) configuration.",
      "id": "KmsConfig"
    },
    "ExecuteOntapPatchRequest": {
      "properties": {
        "body": {
          "description": "Required. The raw `JSON` body of the request. The body should be in the format of the ONTAP resource. For example: ``` { \"body\": { \"field1\": \"value1\", \"field2\": \"value2\", } } ```",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "id": "ExecuteOntapPatchRequest",
      "type": "object",
      "description": "Request message for `ExecuteOntapPatch` API."
    },
    "HybridReplicationParameters": {
      "type": "object",
      "id": "HybridReplicationParameters",
      "properties": {
        "peerVolumeName": {
          "type": "string",
          "description": "Required. Name of the user's local source volume to be peered with the destination volume."
        },
        "peerClusterName": {
          "type": "string",
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster."
        },
        "peerSvmName": {
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the replication.",
          "type": "string"
        },
        "largeVolumeConstituentCount": {
          "description": "Optional. Constituent volume count for large volume.",
          "type": "integer",
          "format": "int32"
        },
        "hybridReplicationType": {
          "description": "Optional. Type of the hybrid replication.",
          "enum": [
            "VOLUME_HYBRID_REPLICATION_TYPE_UNSPECIFIED",
            "MIGRATION",
            "CONTINUOUS_REPLICATION",
            "ONPREM_REPLICATION",
            "REVERSE_ONPREM_REPLICATION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified hybrid replication type.",
            "Hybrid replication type for migration.",
            "Hybrid replication type for continuous replication.",
            "New field for reversible OnPrem replication, to be used for data protection.",
            "New field for reversible OnPrem replication, to be used for data protection."
          ]
        },
        "clusterLocation": {
          "type": "string",
          "description": "Optional. Name of source cluster location associated with the Hybrid replication. This is a free-form field for the display purpose only."
        },
        "peerIpAddresses": {
          "description": "Required. List of node ip addresses to be peered with.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "replicationSchedule": {
          "type": "string",
          "enum": [
            "HYBRID_REPLICATION_SCHEDULE_UNSPECIFIED",
            "EVERY_10_MINUTES",
            "HOURLY",
            "DAILY"
          ],
          "description": "Optional. Replication Schedule for the replication created.",
          "enumDescriptions": [
            "Unspecified HybridReplicationSchedule",
            "Replication happens once every 10 minutes.",
            "Replication happens once every hour.",
            "Replication happens once every day."
          ]
        },
        "labels": {
          "description": "Optional. Labels to be added to the replication as the key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "replication": {
          "description": "Required. Desired name for the replication of this volume.",
          "type": "string"
        }
      },
      "description": "The Hybrid Replication parameters for the volume."
    },
    "UpdateBackupConfigRequest": {
      "id": "UpdateBackupConfigRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. Field mask is used to specify the fields to be overwritten in the BackupConfig for the Volume. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask."
        },
        "volumeUuid": {
          "description": "Required. The UUID of the ONTAP-mode volume.",
          "type": "string"
        },
        "backupConfig": {
          "description": "Required. Backup configuration to apply.",
          "$ref": "BackupConfig"
        }
      },
      "description": "Request message for UpdateBackupConfig"
    },
    "StoragePool": {
      "id": "StoragePool",
      "properties": {
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use",
          "type": "boolean",
          "readOnly": true
        },
        "type": {
          "description": "Optional. Type of the storage pool. This field is used to control whether the pool supports `FILE` based volumes only or `UNIFIED` (both `FILE` and `BLOCK`) volumes. If not specified during creation, it defaults to `FILE`.",
          "enumDescriptions": [
            "Storage pool type is not specified.",
            "Storage pool type is file.",
            "Storage pool type is unified."
          ],
          "type": "string",
          "enum": [
            "STORAGE_POOL_TYPE_UNSPECIFIED",
            "FILE",
            "UNIFIED"
          ]
        },
        "ldapEnabled": {
          "description": "Optional. Flag indicating if the pool is NFS LDAP enabled or not.",
          "type": "boolean"
        },
        "zone": {
          "description": "Optional. Specifies the active zone for regional storagePool.",
          "type": "string"
        },
        "totalThroughputMibps": {
          "description": "Optional. Custom Performance Total Throughput of the pool (in MiBps)",
          "type": "string",
          "format": "int64"
        },
        "scaleType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified scale type.",
            "Represents standard capacity and performance scale-type. Suitable for general purpose workloads.",
            "Represents higher capacity and performance scale-type. Suitable for more demanding workloads."
          ],
          "description": "Optional. The scale type of the storage pool. Defaults to `SCALE_TYPE_DEFAULT` if not specified.",
          "enum": [
            "SCALE_TYPE_UNSPECIFIED",
            "SCALE_TYPE_DEFAULT",
            "SCALE_TYPE_SCALEOUT"
          ]
        },
        "allowAutoTiering": {
          "description": "Optional. True if the storage pool supports Auto Tiering enabled volumes. Default is false. Auto-tiering can be enabled after storage pool creation but it can't be disabled once enabled.",
          "type": "boolean"
        },
        "volumeCapacityGib": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Allocated size of all volumes in GIB in the storage pool",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
[...]
