{
  "title": "NetApp API",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "id": "netapp:v1beta1",
  "documentationLink": "https://cloud.google.com/netapp/",
  "servicePath": "",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-netapp": {
          "description": "See, edit, configure, and delete your Google Cloud NetApp data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20260830",
  "rootUrl": "https://netapp.googleapis.com/",
  "canonicalName": "NetApp Files",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "description": "Google Cloud NetApp Volumes is a fully-managed, cloud-based data storage service that provides advanced data management capabilities and highly scalable performance with global availability.",
  "basePath": "",
  "schemas": {
    "ResumeReplicationRequest": {
      "properties": {},
      "type": "object",
      "description": "ResumeReplicationRequest resumes a stopped replication.",
      "id": "ResumeReplicationRequest"
    },
    "QuotaRule": {
      "id": "QuotaRule",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type for quota rule",
            "Individual user quota rule",
            "Individual group quota rule",
            "Default user quota rule",
            "Default group quota rule"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "INDIVIDUAL_USER_QUOTA",
            "INDIVIDUAL_GROUP_QUOTA",
            "DEFAULT_USER_QUOTA",
            "DEFAULT_GROUP_QUOTA"
          ],
          "description": "Required. The type of quota rule."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Create time of the quota rule",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "DELETING",
            "READY",
            "ERROR"
          ],
          "description": "Output only. State of the quota rule",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state for quota rule",
            "Quota rule is creating",
            "Quota rule is updating",
            "Quota rule is deleting",
            "Quota rule is ready",
            "Quota rule is in error state."
          ]
        },
        "stateDetails": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. State details of the quota rule"
        },
        "diskLimitMib": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The maximum allowed disk space in MiB."
        },
        "name": {
          "description": "Identifier. The resource name of the quota rule. Format: `projects/{project_number}/locations/{location_id}/volumes/volumes/{volume_id}/quotaRules/{quota_rule_id}`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the quota rule",
          "type": "string"
        },
        "target": {
          "description": "Optional. The quota rule applies to the specified user or group, identified by a Unix UID/GID, Windows SID, or null for default.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels of the quota rule",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "QuotaRule specifies the maximum disk space a user or group can use within a volume. They can be used for creating default and individual quota rules.",
      "type": "object"
    },
    "ListBackupVaultsResponse": {
      "properties": {
        "backupVaults": {
          "description": "A list of backupVaults in the project for the specified location.",
          "type": "array",
          "items": {
            "$ref": "BackupVault"
          }
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "description": "ListBackupVaultsResponse is the result of ListBackupVaultsRequest.",
      "id": "ListBackupVaultsResponse",
      "type": "object"
    },
    "TieringPolicy": {
      "type": "object",
      "properties": {
        "hotTierBypassModeEnabled": {
          "description": "Optional. Flag indicating that the hot tier bypass mode is enabled. Default is false. This is only applicable to Flex service level.",
          "type": "boolean"
        },
        "tierAction": {
          "enumDescriptions": [
            "Unspecified.",
            "When tiering is enabled, new cold data will be tiered.",
            "When paused, tiering won't be performed on new data. Existing data stays tiered until accessed."
          ],
          "description": "Optional. Flag indicating if the volume has tiering policy enable/pause. Default is PAUSED.",
          "type": "string",
          "enum": [
            "TIER_ACTION_UNSPECIFIED",
            "ENABLED",
            "PAUSED"
          ]
        },
        "coolingThresholdDays": {
          "description": "Optional. Time in days to mark the volume's data block as cold and make it eligible for tiering, can be range from 2-183. Default is 31.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Defines tiering policy for the volume.",
      "id": "TieringPolicy"
    },
    "ExecuteOntapPatchResponse": {
      "properties": {
        "body": {
          "description": "The raw `JSON` body of the response.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "description": "Response message for `ExecuteOntapPatch` API.",
      "id": "ExecuteOntapPatchResponse",
      "type": "object"
    },
    "ExecuteOntapPatchRequest": {
      "description": "Request message for `ExecuteOntapPatch` API.",
      "type": "object",
      "properties": {
        "body": {
          "type": "object",
          "description": "Required. The raw `JSON` body of the request. The body should be in the format of the ONTAP resource. For example: ``` { \"body\": { \"field1\": \"value1\", \"field2\": \"value2\", } } ```",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "ExecuteOntapPatchRequest"
    },
    "CacheParameters": {
      "description": "Cache Parameters for the volume.",
      "properties": {
        "command": {
          "type": "string",
          "description": "Output only. Copy-paste-able commands to be used on user's ONTAP to accept peering requests.",
          "readOnly": true
        },
        "stateDetails": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Detailed description of the current cache state."
        },
        "peeringCommandExpiryTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Expiration time for the peering command to be executed on user's ONTAP."
        },
        "passphrase": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Temporary passphrase generated to accept cluster peering command."
        },
        "peerVolumeName": {
          "type": "string",
          "description": "Required. Name of the origin volume for the cache volume."
        },
        "peerClusterName": {
          "description": "Required. Name of the origin volume's ONTAP cluster.",
          "type": "string"
        },
        "enableGlobalFileLock": {
          "type": "boolean",
          "description": "Optional. Indicates whether the cache volume has global file lock enabled."
        },
        "cacheState": {
          "readOnly": true,
          "description": "Output only. State of the cache volume indicating the peering status.",
          "enumDescriptions": [
            "Default unspecified state.",
            "State indicating waiting for cluster peering to be established.",
            "State indicating waiting for SVM peering to be established.",
            "State indicating successful establishment of peering with origin volumes's ONTAP cluster.",
            "Terminal state wherein peering with origin volume's ONTAP cluster has failed."
          ],
          "type": "string",
          "enum": [
            "CACHE_STATE_UNSPECIFIED",
            "PENDING_CLUSTER_PEERING",
            "PENDING_SVM_PEERING",
            "PEERED",
            "ERROR"
          ]
        },
        "cacheConfig": {
          "description": "Optional. Configuration of the cache volume.",
          "$ref": "CacheConfig"
        },
        "peerSvmName": {
          "description": "Required. Name of the origin volume's SVM.",
          "type": "string"
        },
        "peerIpAddresses": {
          "description": "Required. List of IC LIF addresses of the origin volume's ONTAP cluster.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "CacheParameters",
      "type": "object"
    },
    "ListSnapshotsResponse": {
      "id": "ListSnapshotsResponse",
      "type": "object",
      "properties": {
        "snapshots": {
          "description": "A list of snapshots in the project for the specified volume.",
          "items": {
            "$ref": "Snapshot"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "ListSnapshotsResponse is the result of ListSnapshotsRequest."
    },
    "ListKmsConfigsResponse": {
      "type": "object",
      "id": "ListKmsConfigsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "kmsConfigs": {
          "description": "The list of KmsConfigs",
          "type": "array",
          "items": {
            "$ref": "KmsConfig"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "description": "ListKmsConfigsResponse is the response to a ListKmsConfigsRequest."
    },
    "ListStoragePoolsResponse": {
      "id": "ListStoragePoolsResponse",
      "type": "object",
      "properties": {
        "storagePools": {
          "type": "array",
          "items": {
            "$ref": "StoragePool"
          },
          "description": "The list of StoragePools"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "ListStoragePoolsResponse is the response to a ListStoragePoolsRequest."
    },
    "TransferStats": {
      "description": "TransferStats reports all statistics related to replication transfer.",
      "type": "object",
      "properties": {
        "lastTransferBytes": {
          "description": "Last transfer size in bytes.",
          "type": "string",
          "format": "int64"
        },
        "lastTransferEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when last transfer completed."
        },
        "transferBytes": {
          "description": "Cumulative bytes transferred so far for the replication relationship.",
          "format": "int64",
          "type": "string"
        },
        "totalTransferDuration": {
          "type": "string",
          "description": "Cumulative time taken across all transfers for the replication relationship.",
          "format": "google-duration"
        },
        "lastTransferError": {
          "description": "A message describing the cause of the last transfer failure.",
          "type": "string"
        },
        "lagDuration": {
          "type": "string",
          "description": "Lag duration indicates the duration by which Destination region volume content lags behind the primary region volume content.",
          "format": "google-duration"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Time when progress was updated last.",
          "type": "string"
        },
        "lastTransferDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Time taken during last transfer."
        }
      },
      "id": "TransferStats"
    },
    "VerifyKmsConfigResponse": {
      "description": "VerifyKmsConfigResponse contains the information if the config is correctly and error message.",
      "properties": {
        "healthy": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If the customer key configured correctly to the encrypt volume."
        },
        "instructions": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Instructions for the customers to provide the access to the encryption key."
        },
        "healthError": {
          "type": "string",
          "description": "Output only. Error message if config is not healthy.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "VerifyKmsConfigResponse"
    },
    "LargeCapacityConfig": {
      "id": "LargeCapacityConfig",
      "type": "object",
      "description": "Configuration for a Large Capacity Volume. A Large Capacity Volume supports sizes ranging from 4.8 TiB to 20 PiB; it is composed of multiple internal constituents, and must be created in a large capacity pool.",
      "properties": {
        "constituentCount": {
          "description": "Optional. The number of internal constituents (e.g., FlexVols) for this large volume. The minimum number of constituents is 2.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ExportPolicy": {
      "id": "ExportPolicy",
      "properties": {
        "rules": {
          "description": "Required. List of export policy rules",
          "items": {
            "$ref": "SimpleExportPolicyRule"
          },
          "type": "array"
        }
      },
      "description": "Defines the export policy for the volume.",
      "type": "object"
    },
    "ExecuteOntapDeleteResponse": {
      "type": "object",
      "description": "Response message for `ExecuteOntapDelete` API.",
      "id": "ExecuteOntapDeleteResponse",
      "properties": {
        "body": {
          "type": "object",
          "description": "The raw `JSON` body of the response.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "ActiveDirectory": {
      "properties": {
        "backupOperators": {
          "description": "Optional. Users to be added to the Built-in Backup Operator active directory group.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "administrators": {
          "type": "array",
          "description": "Optional. Users to be added to the Built-in Admininstrators group.",
          "items": {
            "type": "string"
          }
        },
        "site": {
          "description": "The Active Directory site the service will limit Domain Controller discovery too.",
          "type": "string"
        },
        "nfsUsersWithLdap": {
          "type": "boolean",
          "description": "If enabled, will allow access to local users and LDAP users. If access is needed for only LDAP users, it has to be disabled."
        },
        "kdcHostname": {
          "description": "Name of the active directory machine. This optional parameter is used only while creating kerberos volume",
          "type": "string"
        },
        "domain": {
          "description": "Required. Name of the Active Directory domain",
          "type": "string"
        },
        "kdcIp": {
          "description": "KDC server IP address for the active directory machine.",
          "type": "string"
        },
        "ldapSigning": {
          "type": "boolean",
          "description": "Specifies whether or not the LDAP traffic needs to be signed."
        },
        "password": {
          "type": "string",
          "description": "Required. Password of the Active Directory domain administrator."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Create time of the active directory.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the active directory. Format: `projects/{project_number}/locations/{location_id}/activeDirectories/{active_directory_id}`.",
          "type": "string"
        },
        "securityOperators": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Domain users to be given the SeSecurityPrivilege."
        },
        "aesEncryption": {
          "type": "boolean",
          "description": "If enabled, AES encryption will be enabled for SMB communication."
        },
        "labels": {
          "type": "object",
          "description": "Labels for the active directory.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "encryptDcConnections": {
          "description": "If enabled, traffic between the SMB server to Domain Controller (DC) will be encrypted.",
          "type": "boolean"
        },
        "dns": {
          "type": "string",
          "description": "Required. Comma separated list of DNS server IP addresses for the Active Directory domain."
        },
        "organizationalUnit": {
          "description": "The Organizational Unit (OU) within the Windows Active Directory the user belongs to.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Required. Username of the Active Directory domain administrator."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "IN_USE",
            "DELETING",
            "ERROR",
            "DIAGNOSING"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the AD.",
          "enumDescriptions": [
            "Unspecified Active Directory State",
            "Active Directory State is Creating",
            "Active Directory State is Ready",
            "Active Directory State is Updating",
            "Active Directory State is In use",
            "Active Directory State is Deleting",
            "Active Directory State is Error",
            "Active Directory State is Diagnosing."
          ]
        },
        "netBiosPrefix": {
          "type": "string",
          "description": "Required. NetBIOSPrefix is used as a prefix for SMB server name."
        },
        "stateDetails": {
          "type": "string",
          "description": "Output only. The state details of the Active Directory.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Description of the active directory."
        }
      },
      "id": "ActiveDirectory",
      "type": "object",
      "description": "ActiveDirectory is the public representation of the active directory config."
    },
    "RestoreVolumeRequest": {
      "type": "object",
      "properties": {
        "backupSource": {
          "$ref": "BackupSource",
          "description": "The backup source of the restore operation."
        },
        "ontapVolumeTarget": {
          "description": "The ONTAP volume target of the restore operation.",
          "$ref": "OntapVolumeTarget"
        }
      },
      "description": "Request message for `RestoreVolume` API.",
      "id": "RestoreVolumeRequest"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "KmsConfig": {
      "description": "KmsConfig is the customer-managed encryption key(CMEK) configuration.",
      "properties": {
        "cryptoKeyName": {
          "description": "Required. Customer-managed crypto key resource full name. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the KmsConfig.",
          "enumDescriptions": [
            "Unspecified KmsConfig State",
            "KmsConfig State is Ready",
            "KmsConfig State is Creating",
            "KmsConfig State is Deleting",
            "KmsConfig State is Updating",
            "KmsConfig State is In Use.",
            "KmsConfig State is Error",
            "KmsConfig State is Pending to verify crypto key access.",
            "KmsConfig State is Not accessbile by the SDE service account to the crypto key.",
            "KmsConfig State is Disabling.",
            "KmsConfig State is Disabled.",
            "KmsConfig State is Migrating. The existing volumes are migrating from SMEK to CMEK."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "IN_USE",
            "ERROR",
            "KEY_CHECK_PENDING",
            "KEY_NOT_REACHABLE",
            "DISABLING",
            "DISABLED",
            "MIGRATING"
          ],
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the KmsConfig."
        },
        "instructions": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Instructions to provide the access to the customer provided encryption key."
        },
        "name": {
          "description": "Identifier. Name of the `KmsConfig`. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Output only. The Service account which will have access to the customer provided encryption key.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs",
          "type": "object"
        },
        "stateDetails": {
          "type": "string",
          "description": "Output only. State details of the KmsConfig.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Create time of the KmsConfig."
        }
      },
      "id": "KmsConfig",
      "type": "object"
    },
    "ListBackupConfigsResponse": {
      "description": "Message for response to listing BackupConfigs in an ONTAP StoragePool.",
      "properties": {
        "volumeBackupConfigs": {
          "type": "array",
          "items": {
            "$ref": "VolumeBackupConfig"
          },
          "description": "A list of backup configurations for volumes in the pool."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListBackupConfigsResponse"
    },
    "MountOption": {
      "id": "MountOption",
      "type": "object",
      "properties": {
        "protocol": {
          "type": "string",
          "enum": [
            "PROTOCOLS_UNSPECIFIED",
            "NFSV3",
            "NFSV4",
            "SMB",
            "ISCSI",
            "NVME"
          ],
          "description": "Protocol to mount with.",
          "enumDescriptions": [
            "Unspecified protocol",
            "NFS V3 protocol",
            "NFS V4 protocol",
            "SMB protocol",
            "ISCSI protocol",
            "NVMe protocol"
          ]
        },
        "exportFull": {
          "description": "Full export string",
          "type": "string"
        },
        "instructions": {
          "description": "Instructions for mounting",
          "type": "string"
        },
        "export": {
          "description": "Export string",
          "type": "string"
        },
        "ipAddress": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. IP Address."
        }
      },
      "description": "View only mount options for a volume."
    },
    "SplitStatus": {
      "properties": {
        "splitState": {
          "enumDescriptions": [
            "State is not specified.",
            "The volume is a thin clone, sharing blocks with its source.",
            "A split operation is currently active and in progress.",
            "The attempt to split the volume failed."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "SPLIT_STATE_UNSPECIFIED",
            "SPLIT_STATE_NOT_SPLITTING",
            "SPLIT_STATE_IN_PROGRESS",
            "SPLIT_STATE_FAILED"
          ],
          "description": "Output only. The current state of the clone split operation."
        },
        "progressPercent": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The estimated progress percentage of the split operation (0-100). This is meaningful primarily when split_state is IN_PROGRESS.",
          "format": "int32"
        },
        "stateDetails": {
          "description": "Output only. Human-readable details about the current state. Mostly used for displaying error messages during split failure Examples: \"Split in progress\", \"Error: insufficient capacity\".",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Message for SplitStatus.",
      "id": "SplitStatus",
      "type": "object"
    },
    "EstablishVolumePeeringRequest": {
      "description": "EstablishVolumePeeringRequest establishes cluster and svm peerings between the source and destination clusters.",
      "properties": {
        "peerSvmName": {
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm.",
          "type": "string"
        },
        "peerIpAddresses": {
          "description": "Optional. List of IPv4 IP addresses to be used for peering.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "peerVolumeName": {
          "description": "Required. Name of the user's local source volume to be peered with the destination volume.",
          "type": "string"
        },
        "peerClusterName": {
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EstablishVolumePeeringRequest"
    },
    "BackupConfig": {
      "properties": {
        "backupChainBytes": {
          "type": "string",
          "description": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size).",
          "readOnly": true,
          "format": "int64"
        },
        "backupVault": {
          "description": "Optional. Name of backup vault. Format: projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}",
          "type": "string"
        },
        "scheduledBackupEnabled": {
          "type": "boolean",
          "description": "Optional. When set to true, scheduled backup is enabled on the volume. This field should be nil when there's no backup policy attached."
        },
        "backupPolicies": {
          "description": "Optional. When specified, schedule backups will be created based on the policy configuration.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BackupConfig",
      "type": "object",
      "description": "BackupConfig contains backup related config on a volume."
    },
    "ExecuteOntapPostRequest": {
      "description": "Request message for `ExecuteOntapPost` API.",
      "id": "ExecuteOntapPostRequest",
      "type": "object",
      "properties": {
        "body": {
          "description": "Required. The raw `JSON` body of the request. The body should be in the format of the ONTAP resource. For example: ``` { \"body\": { \"field1\": \"value1\", \"field2\": \"value2\", } } ```",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "OperationMetadata": {
      "properties": {
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been canceled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation."
    },
    "SyncReplicationRequest": {
      "id": "SyncReplicationRequest",
      "description": "SyncReplicationRequest syncs the replication from source to destination.",
      "properties": {},
      "type": "object"
    },
    "StopReplicationRequest": {
      "type": "object",
      "id": "StopReplicationRequest",
      "properties": {
        "force": {
          "description": "Indicates whether to stop replication forcefully while data transfer is in progress. Warning! if force is true, this will abort any current transfers and can lead to data loss due to partial transfer. If force is false, stop replication will fail while data transfer is in progress and you will need to retry later.",
          "type": "boolean"
        }
      },
      "description": "StopReplicationRequest stops a replication until resumed."
    },
    "WeeklySchedule": {
      "id": "WeeklySchedule",
      "type": "object",
      "properties": {
        "snapshotsToKeep": {
          "type": "number",
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "format": "double"
        },
        "hour": {
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "format": "double",
          "type": "number"
        },
        "minute": {
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "type": "number",
          "format": "double"
        },
        "day": {
          "description": "Set the day or days of the week to make a snapshot. Accepts a comma separated days of the week. Defaults to 'Sunday'.",
          "type": "string"
        }
      },
      "description": "Make a snapshot every week e.g. at Monday 04:00, Wednesday 05:20, Sunday 23:50"
    },
    "RestoreBackupFilesRequest": {
      "id": "RestoreBackupFilesRequest",
      "properties": {
        "restoreDestinationPath": {
          "type": "string",
          "description": "Optional. Absolute directory path in the destination volume. This is required if the `file_list` is provided."
        },
        "fileList": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. List of files to be restored, specified by their absolute path in the source volume."
        },
        "backup": {
          "type": "string",
          "description": "Required. The backup resource name, in the format `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`"
        }
      },
      "description": "RestoreBackupFilesRequest restores files from a backup to a volume.",
      "type": "object"
    },
    "UpdateBackupConfigRequest": {
      "description": "Request message for UpdateBackupConfig",
      "properties": {
        "backupConfig": {
          "description": "Required. Backup configuration to apply.",
          "$ref": "BackupConfig"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. Field mask is used to specify the fields to be overwritten in the BackupConfig for the Volume. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask."
        },
        "volumeUuid": {
          "description": "Required. The UUID of the ONTAP-mode volume.",
          "type": "string"
        }
      },
      "id": "UpdateBackupConfigRequest",
      "type": "object"
    },
    "ListBackupPoliciesResponse": {
      "description": "ListBackupPoliciesResponse contains all the backup policies requested.",
      "id": "ListBackupPoliciesResponse",
      "properties": {
        "backupPolicies": {
          "description": "The list of backup policies.",
          "items": {
            "$ref": "BackupPolicy"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "type": "object"
    },
    "BackupPolicy": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the backup policy."
        },
        "monthlyBackupLimit": {
          "type": "integer",
          "description": "Number of monthly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1.",
          "format": "int32"
        },
        "enabled": {
          "type": "boolean",
          "description": "If enabled, make backups automatically according to the schedules. This will be applied to all volumes that have this policy attached and enforced on volume level. If not specified, default is true."
        },
        "assignedVolumeCount": {
          "format": "int32",
          "description": "Output only. The total number of volumes assigned by this backup policy.",
          "type": "integer",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the backup policy was created."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user provided metadata.",
          "type": "object"
        },
        "dailyBackupLimit": {
          "type": "integer",
          "description": "Number of daily backups to keep. Note that the minimum daily backup limit is 2.",
          "format": "int32"
        },
        "weeklyBackupLimit": {
          "type": "integer",
          "description": "Number of weekly backups to keep. Note that the sum of daily, weekly and monthly backups should be greater than 1.",
          "format": "int32"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State not set.",
            "BackupPolicy is being created.",
            "BackupPolicy is available for use.",
            "BackupPolicy is being deleted.",
            "BackupPolicy is not valid and cannot be used.",
            "BackupPolicy is being updated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ],
          "description": "Output only. The backup policy state."
        },
        "name": {
          "description": "Identifier. The resource name of the backup policy. Format: `projects/{project_id}/locations/{location}/backupPolicies/{backup_policy_id}`.",
          "type": "string"
        }
      },
      "description": "Backup Policy.",
      "type": "object",
      "id": "BackupPolicy"
    },
    "StartSplitRequest": {
      "id": "StartSplitRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for splitting a volume."
    },
    "DailySchedule": {
      "type": "object",
      "properties": {
        "hour": {
          "format": "double",
          "type": "number",
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0)."
        },
        "minute": {
          "format": "double",
          "type": "number",
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0)."
        },
        "snapshotsToKeep": {
          "description": "The maximum number of Snapshots to keep for the hourly schedule",
          "type": "number",
          "format": "double"
        }
      },
      "id": "DailySchedule",
      "description": "Make a snapshot every day e.g. at 04:00, 05:20, 23:50"
    },
    "OntapVolumeTarget": {
      "properties": {
        "volumeUuid": {
          "description": "Required. The UUID of the ONTAP volume to restore to.",
          "type": "string"
        },
        "restoreDestinationPath": {
          "description": "Optional. Absolute directory path in the destination volume.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OntapVolumeTarget",
      "description": "Represents the ONTAP volume target of the restore operation."
    },
    "EstablishPeeringRequest": {
      "type": "object",
      "description": "EstablishPeeringRequest establishes cluster and svm peerings between the source and the destination replications.",
      "id": "EstablishPeeringRequest",
      "properties": {
        "peerSvmName": {
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm.",
          "type": "string"
        },
        "peerIpAddresses": {
          "description": "Optional. List of IPv4 ip addresses to be used for peering.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "peerVolumeName": {
          "description": "Required. Name of the user's local source volume to be peered with the destination volume.",
          "type": "string"
        },
        "peerClusterName": {
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster.",
          "type": "string"
        }
      }
    },
    "DestinationVolumeParameters": {
      "id": "DestinationVolumeParameters",
      "description": "DestinationVolumeParameters specify input parameters used for creating destination volume.",
      "type": "object",
      "properties": {
        "tieringPolicy": {
          "description": "Optional. Tiering policy for the volume.",
          "$ref": "TieringPolicy"
        },
        "storagePool": {
          "description": "Required. Existing destination StoragePool name.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description for the destination volume."
        },
        "shareName": {
          "type": "string",
          "description": "Destination volume's share name. If not specified, source volume's share name will be used."
        },
        "volumeId": {
          "description": "Desired destination volume resource id. If not specified, source volume's resource id will be used. This value must start with a lowercase letter followed by up to 62 lowercase letters, numbers, or hyphens, and cannot end with a hyphen.",
          "type": "string"
        }
      }
    },
    "CacheConfig": {
      "id": "CacheConfig",
      "description": "Configuration of the cache volume.",
      "properties": {
        "cachePrePopulateState": {
          "readOnly": true,
          "description": "Output only. State of the prepopulation job indicating how the prepopulation is progressing.",
          "type": "string",
          "enum": [
            "CACHE_PRE_POPULATE_STATE_UNSPECIFIED",
            "NOT_NEEDED",
            "IN_PROGRESS",
            "COMPLETE",
            "ERROR"
          ],
          "enumDescriptions": [
            "Default unspecified state.",
            "State representing when the most recent create or update request did not require a prepopulation job.",
            "State representing when the most recent update request requested a prepopulation job but it has not yet completed.",
            "State representing when the most recent update request requested a prepopulation job and it has completed successfully.",
            "State representing when the most recent update request requested a prepopulation job but the prepopulate job failed."
          ]
        },
        "cachePrePopulate": {
          "$ref": "CachePrePopulate",
          "description": "Optional. Pre-populate cache volume with data from the origin volume."
        },
        "cifsChangeNotifyEnabled": {
          "description": "Optional. Flag indicating whether a CIFS change notification is enabled for the FlexCache volume.",
          "type": "boolean"
        },
        "writebackEnabled": {
          "type": "boolean",
          "description": "Optional. Flag indicating whether writeback is enabled for the FlexCache volume."
        }
      },
      "type": "object"
    },
    "CloneDetails": {
      "description": "Details about a clone volume.",
      "properties": {
        "sourceSnapshot": {
          "type": "string",
          "description": "Output only. Specifies the full resource name of the source snapshot from which this volume was cloned. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}",
          "readOnly": true
        },
        "splitState": {
          "readOnly": true,
          "enumDescriptions": [
            "State is not specified.",
            "The volume is a thin clone, sharing blocks with its source.",
            "A split operation is currently active and in progress.",
            "The attempt to split the volume failed."
          ],
          "enum": [
            "SPLIT_STATE_UNSPECIFIED",
            "SPLIT_STATE_NOT_SPLITTING",
            "SPLIT_STATE_IN_PROGRESS",
            "SPLIT_STATE_FAILED"
          ],
          "type": "string",
          "description": "Output only. The current state of the clone split operation."
        },
        "sourceVolume": {
          "readOnly": true,
          "description": "Output only. Full name of the source volume resource. Format: projects/{project}/locations/{location}/volumes/{volume}",
          "type": "string"
        },
        "sharedSpaceGib": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Shared space in GiB. Determined at volume creation time based on size of source snapshot."
        }
      },
      "type": "object",
      "id": "CloneDetails"
    },
    "SwitchActiveReplicaZoneRequest": {
      "id": "SwitchActiveReplicaZoneRequest",
      "type": "object",
      "properties": {},
      "description": "SwitchActiveReplicaZoneRequest switch the active/replica zone for a regional storagePool."
    },
    "ReverseReplicationDirectionRequest": {
      "description": "ReverseReplicationDirectionRequest reverses direction of replication. Source becomes destination and destination becomes source.",
      "id": "ReverseReplicationDirectionRequest",
      "properties": {},
      "type": "object"
    },
    "RestoreParameters": {
      "id": "RestoreParameters",
      "properties": {
        "sourceSnapshot": {
          "type": "string",
          "description": "Full name of the snapshot resource. Format: projects/{project}/locations/{location}/volumes/{volume}/snapshots/{snapshot}"
        },
        "sourceBackup": {
          "description": "Full name of the backup resource. Format for standard backup: projects/{project}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}. Format for BackupDR backup: projects/{project}/locations/{location}/backupVaults/{backup_vault}/dataSources/{data_source}/backups/{backup}",
          "type": "string"
        }
      },
      "description": "The RestoreParameters if volume is created from a snapshot or backup.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "VerifyKmsConfigRequest": {
      "description": "VerifyKmsConfigRequest specifies the KMS config to be validated.",
      "properties": {},
      "type": "object",
      "id": "VerifyKmsConfigRequest"
    },
    "ListActiveDirectoriesResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "activeDirectories": {
          "items": {
            "$ref": "ActiveDirectory"
          },
          "type": "array",
          "description": "The list of active directories."
        }
      },
      "id": "ListActiveDirectoriesResponse",
      "type": "object",
      "description": "ListActiveDirectoriesResponse contains all the active directories requested."
    },
    "BackupRetentionPolicy": {
      "type": "object",
      "description": "Retention policy for backups in the backup vault",
      "id": "BackupRetentionPolicy",
      "properties": {
        "weeklyBackupImmutable": {
          "description": "Optional. Indicates if the weekly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "monthlyBackupImmutable": {
          "type": "boolean",
          "description": "Optional. Indicates if the monthly backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true."
        },
        "backupMinimumEnforcedRetentionDays": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Minimum retention duration in days for backups in the backup vault."
        },
        "manualBackupImmutable": {
          "description": "Optional. Indicates if the manual backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true.",
          "type": "boolean"
        },
        "dailyBackupImmutable": {
          "type": "boolean",
          "description": "Optional. Indicates if the daily backups are immutable. At least one of daily_backup_immutable, weekly_backup_immutable, monthly_backup_immutable and manual_backup_immutable must be true."
        }
      }
    },
    "MonthlySchedule": {
      "id": "MonthlySchedule",
      "type": "object",
      "description": "Make a snapshot once a month e.g. at 2nd 04:00, 7th 05:20, 24th 23:50",
      "properties": {
        "minute": {
          "description": "Set the minute of the hour to start the snapshot (0-59), defaults to the top of the hour (0).",
          "format": "double",
          "type": "number"
        },
        "snapshotsToKeep": {
          "format": "double",
          "type": "number",
          "description": "The maximum number of Snapshots to keep for the hourly schedule"
        },
        "hour": {
          "type": "number",
          "description": "Set the hour to start the snapshot (0-23), defaults to midnight (0).",
          "format": "double"
        },
        "daysOfMonth": {
          "description": "Set the day or days of the month to make a snapshot (1-31). Accepts a comma separated number of days. Defaults to '1'.",
          "type": "string"
        }
      }
    },
    "BackupVault": {
      "description": "A NetApp BackupVault.",
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. The backup vault state.",
          "enumDescriptions": [
            "State not set.",
            "BackupVault is being created.",
            "BackupVault is available for use.",
            "BackupVault is being deleted.",
            "BackupVault is not valid and cannot be used.",
            "BackupVault is being updated."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ]
        },
        "sourceRegion": {
          "description": "Optional. Region in which the backup vault is created. Format: `projects/{project_id}/locations/{location}`",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the backup vault. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Create time of the backup vault.",
          "readOnly": true
        },
        "backupVaultType": {
          "enum": [
            "BACKUP_VAULT_TYPE_UNSPECIFIED",
            "IN_REGION",
            "CROSS_REGION"
          ],
          "type": "string",
          "description": "Optional. Type of backup vault to be created. Default is IN_REGION.",
          "enumDescriptions": [
            "BackupVault type not set.",
            "BackupVault type is IN_REGION.",
            "BackupVault type is CROSS_REGION."
          ]
        },
        "kmsConfig": {
          "description": "Optional. Specifies the Key Management System (KMS) configuration to be used for backup encryption. Format: `projects/{project}/locations/{location}/kmsConfigs/{kms_config}`",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the backup vault."
        },
        "encryptionState": {
          "description": "Output only. Field indicating encryption state of CMEK backups.",
          "enum": [
            "ENCRYPTION_STATE_UNSPECIFIED",
            "ENCRYPTION_STATE_PENDING",
            "ENCRYPTION_STATE_COMPLETED",
            "ENCRYPTION_STATE_IN_PROGRESS",
            "ENCRYPTION_STATE_FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Encryption state not set.",
            "Encryption state is pending.",
            "Encryption is complete.",
            "Encryption is in progress.",
            "Encryption has failed."
          ],
          "readOnly": true
        },
        "backupRegion": {
          "description": "Optional. Region where the backups are stored. Format: `projects/{project_id}/locations/{location}`",
          "type": "string"
        },
        "backupRetentionPolicy": {
          "description": "Optional. Backup retention policy defining the retention of backups.",
          "$ref": "BackupRetentionPolicy"
        },
        "crossProjectVault": {
          "type": "boolean",
          "description": "Optional. Indicates if the backup vault is a cross project vault."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Resource labels to represent user provided metadata."
        },
        "destinationBackupVault": {
          "description": "Output only. Name of the Backup vault created in backup region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`",
          "type": "string",
          "readOnly": true
        },
        "backupsCryptoKeyVersion": {
          "type": "string",
          "description": "Output only. The crypto key version used to encrypt the backup vault. Format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}/cryptoKeyVersions/{crypto_key_version}`",
          "readOnly": true
        },
        "sourceBackupVault": {
          "readOnly": true,
          "description": "Output only. Name of the Backup vault created in source region. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}`",
          "type": "string"
        }
      },
      "id": "BackupVault"
    },
    "HybridReplicationParameters": {
      "description": "The Hybrid Replication parameters for the volume.",
      "properties": {
        "peerIpAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. List of node ip addresses to be peered with."
        },
        "largeVolumeConstituentCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Constituent volume count for large volume."
        },
        "clusterLocation": {
          "type": "string",
          "description": "Optional. Name of source cluster location associated with the Hybrid replication. This is a free-form field for the display purpose only."
        },
        "replicationSchedule": {
          "description": "Optional. Replication Schedule for the replication created.",
          "type": "string",
          "enum": [
            "HYBRID_REPLICATION_SCHEDULE_UNSPECIFIED",
            "EVERY_10_MINUTES",
            "HOURLY",
            "DAILY"
          ],
          "enumDescriptions": [
            "Unspecified HybridReplicationSchedule",
            "Replication happens once every 10 minutes.",
            "Replication happens once every hour.",
            "Replication happens once every day."
          ]
        },
        "peerVolumeName": {
          "description": "Required. Name of the user's local source volume to be peered with the destination volume.",
          "type": "string"
        },
        "replication": {
          "description": "Required. Desired name for the replication of this volume.",
          "type": "string"
        },
        "hybridReplicationType": {
          "type": "string",
          "enum": [
            "VOLUME_HYBRID_REPLICATION_TYPE_UNSPECIFIED",
            "MIGRATION",
            "CONTINUOUS_REPLICATION",
            "ONPREM_REPLICATION",
            "REVERSE_ONPREM_REPLICATION"
          ],
          "description": "Optional. Type of the hybrid replication.",
          "enumDescriptions": [
            "Unspecified hybrid replication type.",
            "Hybrid replication type for migration.",
            "Hybrid replication type for continuous replication.",
            "New field for reversible OnPrem replication, to be used for data protection.",
            "New field for reversible OnPrem replication, to be used for data protection."
          ]
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the replication."
        },
        "peerClusterName": {
          "description": "Required. Name of the user's local source cluster to be peered with the destination cluster.",
          "type": "string"
        },
        "peerSvmName": {
          "type": "string",
          "description": "Required. Name of the user's local source vserver svm to be peered with the destination vserver svm."
        },
        "labels": {
          "description": "Optional. Labels to be added to the replication as the key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "HybridReplicationParameters"
    },
    "BackupSource": {
      "id": "BackupSource",
      "description": "Represents the backup source of the restore operation.",
      "type": "object",
      "properties": {
        "fileList": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of files to be restored in the form of their absolute path as in source volume. If provided, only these files will be restored. If not provided, the entire backup will be restored (Full Backup Restore)"
        },
        "backup": {
          "description": "Required. The backup resource name.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      }
    },
    "ListBackupsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token you can use to retrieve the next page of results. Not returned if there are no more results in the list."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "backups": {
          "items": {
            "$ref": "Backup"
          },
          "type": "array",
          "description": "A list of backups in the project."
        }
      },
      "description": "ListBackupsResponse is the result of ListBackupsRequest.",
      "id": "ListBackupsResponse"
    },
    "CachePrePopulate": {
      "description": "Pre-populate cache volume with data from the origin volume.",
      "properties": {
        "recursion": {
          "description": "Optional. Flag indicating whether the directories listed with the `path_list` need to be recursively pre-populated.",
          "type": "boolean"
        },
        "pathList": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of directory-paths to be pre-populated for the FlexCache volume."
        },
        "excludePathList": {
          "type": "array",
          "description": "Optional. List of directory-paths to be excluded for pre-population for the FlexCache volume.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CachePrePopulate",
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object",
      "description": "A resource that represents a Google Cloud location."
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "RevertVolumeRequest": {
      "description": "RevertVolumeRequest reverts the given volume to the specified snapshot.",
      "properties": {
        "snapshotId": {
          "description": "Required. The snapshot resource ID, in the format 'my-snapshot', where the specified ID is the {snapshot_id} of the fully qualified name like projects/{project_id}/locations/{location_id}/volumes/{volume_id}/snapshots/{snapshot_id}",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RevertVolumeRequest"
    },
    "ExecuteOntapGetResponse": {
      "description": "Response message for `ExecuteOntapGet` API.",
      "properties": {
        "body": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "The raw `JSON` body of the response."
        }
      },
      "id": "ExecuteOntapGetResponse",
      "type": "object"
    },
    "SimpleExportPolicyRule": {
      "id": "SimpleExportPolicyRule",
      "properties": {
        "kerberos5ReadOnly": {
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode.",
          "type": "boolean"
        },
        "kerberos5pReadWrite": {
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode. The 'kerberos5pReadOnly' value be ignored if this is enabled.",
          "type": "boolean"
        },
        "kerberos5iReadOnly": {
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode.",
          "type": "boolean"
        },
        "allowedClients": {
          "description": "Comma separated list of allowed clients IP addresses",
          "type": "string"
        },
        "kerberos5ReadWrite": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'authentication' kerberos security mode. The 'kerberos5ReadOnly' value be ignored if this is enabled."
        },
        "accessType": {
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE",
            "READ_NONE"
          ],
          "type": "string",
          "description": "Access type (ReadWrite, ReadOnly, None)",
          "enumDescriptions": [
            "Unspecified Access Type",
            "Read Only",
            "Read Write",
            "None"
          ]
        },
        "squashMode": {
          "type": "string",
          "description": "Optional. Defines how user identity squashing is applied for this export rule. This field is the preferred way to configure squashing behavior and takes precedence over `has_root_access` if both are provided.",
          "enum": [
            "SQUASH_MODE_UNSPECIFIED",
            "NO_ROOT_SQUASH",
            "ROOT_SQUASH",
            "ALL_SQUASH"
          ],
          "enumDescriptions": [
            "Defaults to `NO_ROOT_SQUASH`.",
            "The root user (UID 0) retains full access. Other users are unaffected.",
            "The root user (UID 0) is squashed to anonymous user ID. Other users are unaffected.",
            "All users are squashed to anonymous user ID."
          ]
        },
        "kerberos5iReadWrite": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines read and write access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'integrity' kerberos security mode. The 'kerberos5iReadOnly' value be ignored if this is enabled."
        },
        "kerberos5pReadOnly": {
          "type": "boolean",
          "description": "If enabled (true) the rule defines a read only access for clients matching the 'allowedClients' specification. It enables nfs clients to mount using 'privacy' kerberos security mode."
        },
        "nfsv3": {
          "type": "boolean",
          "description": "NFS V3 protocol."
        },
        "nfsv4": {
          "description": "NFS V4 protocol.",
          "type": "boolean"
        },
        "anonUid": {
          "description": "Optional. An integer representing the anonymous user ID. Range is 0 to `4294967295`. Required when `squash_mode` is `ROOT_SQUASH` or `ALL_SQUASH`.",
          "format": "int64",
          "type": "string"
        },
        "hasRootAccess": {
          "type": "string",
          "description": "Whether Unix root access will be granted."
        }
      },
      "description": "An export policy rule describing various export options.",
      "type": "object"
    },
    "StoragePool": {
      "properties": {
        "network": {
          "description": "Required. VPC Network name. Format: projects/{project}/global/networks/{network}",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the storage pool"
        },
        "stateDetails": {
          "type": "string",
          "description": "Output only. State details of the storage pool",
          "readOnly": true
        },
        "allowAutoTiering": {
          "type": "boolean",
          "description": "Optional. True if the storage pool supports Auto Tiering enabled volumes. Default is false. Auto-tiering can be enabled after storage pool creation but it can't be disabled once enabled."
        },
        "capacityGib": {
          "description": "Required. Capacity in GIB of the pool",
          "type": "string",
          "format": "int64"
        },
        "availableThroughputMibps": {
          "type": "number",
          "readOnly": true,
          "format": "double",
          "description": "Output only. Available throughput of the storage pool (in MiB/s)."
        },
        "kmsConfig": {
          "description": "Optional. Specifies the KMS config to be used for volume encryption.",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the storage pool",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "DELETING",
            "UPDATING",
            "RESTORING",
            "DISABLED",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unspecified Storage Pool State",
            "Storage Pool State is Ready",
            "Storage Pool State is Creating",
            "Storage Pool State is Deleting",
            "Storage Pool State is Updating",
            "Storage Pool State is Restoring",
            "Storage Pool State is Disabled",
            "Storage Pool State is Error"
          ],
          "type": "string",
          "readOnly": true
        },
        "customPerformanceEnabled": {
          "type": "boolean",
          "description": "Optional. True if using Independent Scaling of capacity and performance (Hyperdisk) By default set to false"
        },
        "activeDirectory": {
          "type": "string",
          "description": "Optional. Specifies the Active Directory to be used for creating a SMB volume."
        },
        "qosType": {
          "description": "Optional. QoS (Quality of Service) Type of the storage pool",
          "enum": [
            "QOS_TYPE_UNSPECIFIED",
            "AUTO",
            "MANUAL"
          ],
          "enumDescriptions": [
            "Unspecified QoS Type",
            "QoS Type is Auto",
            "QoS Type is Manual"
          ],
          "type": "string"
        },
        "scaleTier": {
          "deprecated": true,
          "type": "string",
          "enum": [
            "SCALE_TIER_UNSPECIFIED",
            "SCALE_TIER_STANDARD",
            "SCALE_TIER_ENTERPRISE"
          ],
          "enumDescriptions": [
            "Deprecated: Use ScaleType instead. The default value. This value is unused.",
            "Deprecated: Use ScaleType instead. The standard capacity and performance tier. Suitable for general purpose workloads.",
            "Deprecated: Use ScaleType instead. A higher capacity and performance tier. Suitable for more demanding workloads."
          ],
          "description": "Optional. Deprecated: Use scale_type instead. The effective scale tier of the storage pool. If `scale_tier` is not specified during creation, this defaults to `SCALE_TIER_STANDARD`."
        },
        "hotTierSizeGib": {
          "type": "string",
          "description": "Optional. Total hot tier capacity for the Storage Pool. It is applicable only to Flex service level. It should be less than the minimum storage pool size and cannot be more than the current storage pool size. It cannot be decreased once set.",
          "format": "int64"
        },
        "type": {
          "enum": [
            "STORAGE_POOL_TYPE_UNSPECIFIED",
            "FILE",
            "UNIFIED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Storage pool type is not specified.",
            "Storage pool type is file.",
            "Storage pool type is unified."
          ],
          "description": "Optional. Type of the storage pool. This field is used to control whether the pool supports `FILE` based volumes only or `UNIFIED` (both `FILE` and `BLOCK`) volumes. If not specified during creation, it defaults to `FILE`."
        },
        "enableHotTierAutoResize": {
          "type": "boolean",
          "description": "Optional. Flag indicating that the hot-tier threshold will be auto-increased by 10% of the hot-tier when it hits 100%. Default is true. The increment will kick in only if the new size after increment is still less than or equal to storage pool size."
        },
        "globalAccessAllowed": {
          "description": "Deprecated. Used to allow SO pool to access AD or DNS server from other regions.",
          "type": "boolean",
          "deprecated": true
        },
        "name": {
          "description": "Identifier. Name of the storage pool",
          "type": "string"
        },
        "replicaZone": {
          "type": "string",
          "description": "Optional. Specifies the replica zone for regional storagePool."
        },
        "serviceLevel": {
          "enumDescriptions": [
            "Unspecified service level.",
            "Premium service level.",
            "Extreme service level.",
            "Standard service level.",
            "Flex service level."
          ],
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "PREMIUM",
            "EXTREME",
            "STANDARD",
            "FLEX"
          ],
          "type": "string",
          "description": "Required. Service level of the storage pool"
        },
        "totalIops": {
          "description": "Optional. Custom Performance Total IOPS of the pool if not provided, it will be calculated based on the total_throughput_mibps",
          "format": "int64",
          "type": "string"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use"
        },
        "volumeCapacityGib": {
          "description": "Output only. Allocated size of all volumes in GIB in the storage pool",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "scaleType": {
          "enum": [
            "SCALE_TYPE_UNSPECIFIED",
            "SCALE_TYPE_DEFAULT",
            "SCALE_TYPE_SCALEOUT"
          ],
          "type": "string",
          "description": "Optional. The scale type of the storage pool. Defaults to `SCALE_TYPE_DEFAULT` if not specified.",
          "enumDescriptions": [
            "Unspecified scale type.",
            "Represents standard capacity and performance scale-type. Suitable for general purpose workloads.",
            "Represents higher capacity and performance scale-type. Suitable for more demanding workloads."
          ]
        },
        "psaRange": {
          "description": "Optional. This field is not implemented. The values provided in this field are ignored.",
          "type": "string"
        },
        "encryptionType": {
          "enumDescriptions": [
            "The source of the encryption key is not specified.",
            "Google managed encryption key.",
            "Customer managed encryption key, which is stored in KMS."
          ],
          "readOnly": true,
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "SERVICE_MANAGED",
            "CLOUD_KMS"
          ],
          "type": "string",
          "description": "Output only. Specifies the current pool encryption key source."
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "coldTierSizeUsedGib": {
          "format": "int64",
          "description": "Output only. Total cold tier data rounded down to the nearest GiB used by the storage pool.",
          "readOnly": true,
          "type": "string"
        },
        "hotTierSizeUsedGib": {
          "format": "int64",
          "description": "Output only. Total hot tier data rounded down to the nearest GiB used by the storage pool.",
          "type": "string",
          "readOnly": true
        },
        "totalThroughputMibps": {
          "format": "int64",
          "description": "Optional. Custom Performance Total Throughput of the pool (in MiBps)",
          "type": "string"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Create time of the storage pool",
          "format": "google-datetime"
        },
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "DEFAULT",
            "ONTAP"
          ],
          "type": "string",
          "enumDescriptions": [
            "The `Mode` is not specified.",
            "The resource is managed by the GCNV APIs.",
            "The resource is managed by the GCNV ONTAP Mode APIs."
          ],
          "description": "Optional. Mode of the storage pool. This field is used to control whether the user can perform ONTAP operations on the storage pool using the GCNV ONTAP Mode APIs. If not specified during creation, it defaults to `DEFAULT`."
        },
        "ldapEnabled": {
          "description": "Optional. Flag indicating if the pool is NFS LDAP enabled or not.",
          "type": "boolean"
        },
        "zone": {
          "description": "Optional. Specifies the active zone for regional storagePool.",
          "type": "string"
        },
        "volumeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Volume count of the storage pool",
          "readOnly": true
        }
      },
      "description": "StoragePool is a container for volumes with a service level and capacity. Volumes can be created in a pool of sufficient available capacity. StoragePool capacity is what you are billed for.",
      "id": "StoragePool",
      "type": "object"
    },
    "Replication": {
      "type": "object",
      "id": "Replication",
      "description": "Replication is a nested resource under Volume, that describes a cross-region replication relationship between 2 volumes in different regions.",
      "properties": {
        "stateDetails": {
          "description": "Output only. State details of the replication.",
          "readOnly": true,
          "type": "string"
        },
        "healthy": {
          "description": "Output only. Condition of the relationship. Can be one of the following: - true: The replication relationship is healthy. It has not missed the most recent scheduled transfer. - false: The replication relationship is not healthy. It has missed the most recent scheduled transfer.",
          "readOnly": true,
          "type": "boolean"
        },
        "hybridReplicationUserCommands": {
          "readOnly": true,
          "$ref": "UserCommands",
          "description": "Output only. Copy pastable snapmirror commands to be executed on onprem cluster by the customer."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user provided metadata.",
          "type": "object"
        },
        "transferStats": {
          "description": "Output only. Replication transfer statistics.",
          "$ref": "TransferStats",
          "readOnly": true
        },
        "hybridPeeringDetails": {
          "readOnly": true,
          "description": "Output only. Hybrid peering details.",
          "$ref": "HybridPeeringDetails"
        },
        "clusterLocation": {
          "description": "Optional. Location of the user cluster.",
          "type": "string"
        },
        "sourceVolume": {
          "readOnly": true,
          "description": "Output only. Full name of source volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\"",
          "type": "string"
        },
        "destinationVolume": {
          "type": "string",
          "description": "Output only. Full name of destination volume resource. Example : \"projects/{project}/locations/{location}/volumes/{volume_id}\"",
          "readOnly": true
        },
        "role": {
          "enumDescriptions": [
            "Unspecified replication role",
            "Indicates Source volume.",
            "Indicates Destination volume."
          ],
          "type": "string",
          "description": "Output only. Indicates whether this points to source or destination.",
          "enum": [
            "REPLICATION_ROLE_UNSPECIFIED",
            "SOURCE",
            "DESTINATION"
          ],
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the Replication. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/replications/{replication_id}`.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Replication create time.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "ERROR",
            "PENDING_CLUSTER_PEERING",
            "PENDING_SVM_PEERING",
            "PENDING_REMOTE_RESYNC",
            "EXTERNALLY_MANAGED_REPLICATION"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified replication State",
            "Replication is creating.",
            "Replication is ready.",
            "Replication is updating.",
            "Replication is deleting.",
            "Replication is in error state.",
            "Replication is waiting for cluster peering to be established.",
            "Replication is waiting for SVM peering to be established.",
            "Replication is waiting for Commands to be executed on Onprem ONTAP.",
            "Onprem ONTAP is destination and Replication can only be managed from Onprem."
          ],
          "description": "Output only. State of the replication."
        },
        "description": {
          "type": "string",
          "description": "A description about this replication relationship."
        },
        "mirrorState": {
          "enumDescriptions": [
            "Unspecified MirrorState",
            "Destination volume is being prepared.",
            "Destination volume has been initialized and is ready to receive replication transfers.",
            "Destination volume is not receiving replication transfers.",
            "Incremental replication is in progress.",
            "Baseline replication is in progress.",
            "Replication is aborted.",
            "Replication is being managed from Onprem ONTAP.",
            "Peering is yet to be established."
          ],
          "readOnly": true,
          "description": "Output only. Indicates the state of mirroring.",
          "type": "string",
          "enum": [
            "MIRROR_STATE_UNSPECIFIED",
            "PREPARING",
            "MIRRORED",
            "STOPPED",
            "TRANSFERRING",
            "BASELINE_TRANSFERRING",
            "ABORTED",
            "EXTERNALLY_MANAGED",
            "PENDING_PEERING"
          ]
        },
        "replicationSchedule": {
          "description": "Required. Indicates the schedule for replication.",
          "enumDescriptions": [
            "Unspecified ReplicationSchedule",
            "Replication happens once every 10 minutes.",
            "Replication happens once every hour.",
            "Replication happens once every day."
          ],
          "type": "string",
          "enum": [
            "REPLICATION_SCHEDULE_UNSPECIFIED",
            "EVERY_10_MINUTES",
            "HOURLY",
            "DAILY"
          ]
        },
        "destinationVolumeParameters": {
          "description": "Required. Input only. Destination volume parameters",
          "$ref": "DestinationVolumeParameters"
        },
        "hybridReplicationType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified hybrid replication type.",
            "Hybrid replication type for migration.",
            "Hybrid replication type for continuous replication.",
            "New field for reversible OnPrem replication, to be used for data protection.",
            "Hybrid replication type for incremental Transfer in the reverse direction (GCNV is source and Onprem is destination)"
          ],
          "enum": [
            "HYBRID_REPLICATION_TYPE_UNSPECIFIED",
            "MIGRATION",
            "CONTINUOUS_REPLICATION",
            "ONPREM_REPLICATION",
            "REVERSE_ONPREM_REPLICATION"
          ],
          "readOnly": true,
          "description": "Output only. Type of the hybrid replication."
        }
      }
    },
    "VolumeBackupConfig": {
      "id": "VolumeBackupConfig",
      "type": "object",
      "description": "Backup configuration for a volume in a pool.",
      "properties": {
        "backupConfig": {
          "description": "Backup configuration for the volume.",
          "$ref": "BackupConfig"
        },
        "volumeUuid": {
          "type": "string",
          "description": "Provides the Ontap UUID of the volume within the pool."
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "Operation": {
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "ListQuotaRulesResponse": {
      "description": "ListQuotaRulesResponse is the response to a ListQuotaRulesRequest.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "quotaRules": {
          "type": "array",
          "description": "List of quota rules",
          "items": {
            "$ref": "QuotaRule"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListQuotaRulesResponse"
    },
    "Backup": {
      "description": "A NetApp Backup.",
      "id": "Backup",
      "properties": {
        "chainStorageBytes": {
          "description": "Output only. Total size of all backups in a chain in bytes = baseline backup size + sum(incremental backup size)",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user provided metadata."
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the backup. Format: `projects/{project_id}/locations/{location}/backupVaults/{backup_vault_id}/backups/{backup_id}`."
        },
        "description": {
          "description": "A description of the backup with 2048 characters or less. Requests with longer descriptions will be rejected.",
          "type": "string"
        },
        "sourceVolume": {
          "type": "string",
          "description": "The resource name of the volume that this backup belongs to. You must provide either `source_volume` or `ontap_source`. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}`"
        },
        "backupRegion": {
          "description": "Output only. Region in which backup is stored. Format: `projects/{project_id}/locations/{location}`",
          "type": "string",
          "readOnly": true
        },
        "backupType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "MANUAL",
            "SCHEDULED"
          ],
          "enumDescriptions": [
            "Unspecified backup type.",
            "Manual backup type.",
            "Scheduled backup type."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of backup, manually created or created by a backup policy."
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use",
          "readOnly": true,
          "type": "boolean"
        },
        "ontapSource": {
          "$ref": "OntapSource",
          "description": "Optional. Represents source details for ONTAP backups. Either source_volume or ontap_source should be provided."
        },
        "enforcedRetentionEndTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time until which the backup is not deletable."
        },
        "volumeUsageBytes": {
          "type": "string",
          "description": "Output only. Size of the file system when the backup was created. When creating a new volume from the backup, the volume capacity will have to be at least as big.",
          "readOnly": true,
          "format": "int64"
        },
        "sourceSnapshot": {
          "type": "string",
          "description": "If specified, backup will be created from the given snapshot. If not specified, there will be a new snapshot taken to initiate the backup creation. Format: `projects/{project_id}/locations/{location}/volumes/{volume_id}/snapshots/{snapshot_id}`"
        },
        "state": {
          "description": "Output only. The backup state.",
          "enumDescriptions": [
            "State not set.",
            "Backup is being created. While in this state, the snapshot for the backup point-in-time may not have been created yet, and so the point-in-time may not have been fixed.",
            "Backup is being uploaded. While in this state, none of the writes to the volume will be included in the backup.",
            "Backup is available for use.",
            "Backup is being deleted.",
            "Backup is not valid and cannot be used for creating new volumes or restoring existing volumes.",
            "Backup is being updated."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPLOADING",
            "READY",
            "DELETING",
            "ERROR",
            "UPDATING"
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the backup was created.",
          "type": "string",
          "readOnly": true
        },
        "volumeRegion": {
          "type": "string",
[...]
