{
  "name": "networkmanagement",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://cloud.google.com/",
  "batchPath": "batch",
  "ownerName": "Google",
  "rootUrl": "https://networkmanagement.googleapis.com/",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "id": "networkmanagement.projects.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "flatPath": "v1beta1/projects/{projectsId}/locations",
              "path": "v1beta1/{+name}/locations",
              "parameters": {
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "location": "path"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true
                }
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "required": true
                }
              },
              "id": "networkmanagement.projects.locations.get",
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "description": "Gets information about a location.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}"
            }
          },
          "resources": {
            "global": {
              "resources": {
                "operations": {
                  "methods": {
                    "cancel": {
                      "id": "networkmanagement.projects.locations.global.operations.cancel",
                      "path": "v1beta1/{+name}:cancel",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/global/operations/{operationsId}:cancel",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "The name of the operation resource to be cancelled.",
                          "pattern": "^projects/[^/]+/locations/global/operations/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                      "response": {
                        "$ref": "Empty"
                      },
                      "request": {
                        "$ref": "CancelOperationRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST"
                    },
                    "list": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/global/operations",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "The name of the operation's parent resource.",
                          "pattern": "^projects/[^/]+/locations/global$",
                          "required": true
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "The standard list page token."
                        },
                        "filter": {
                          "description": "The standard list filter.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "The standard list page size.",
                          "type": "integer"
                        },
                        "returnPartialSuccess": {
                          "type": "boolean",
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "path": "v1beta1/{+name}/operations",
                      "id": "networkmanagement.projects.locations.global.operations.list",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListOperationsResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global/operations/[^/]+$",
                          "required": true,
                          "description": "The name of the operation resource.",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/global/operations/{operationsId}",
                      "path": "v1beta1/{+name}",
                      "id": "networkmanagement.projects.locations.global.operations.get",
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1beta1/{+name}",
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                      "id": "networkmanagement.projects.locations.global.operations.delete",
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource to be deleted.",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/operations/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/global/operations/{operationsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "connectivityTests": {
                  "methods": {
                    "setIamPolicy": {
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/global/connectivityTests/{connectivityTestsId}:setIamPolicy",
                      "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "resource"
                      ],
                      "id": "networkmanagement.projects.locations.global.connectivityTests.setIamPolicy",
                      "path": "v1beta1/{+resource}:setIamPolicy",
                      "response": {
                        "$ref": "Policy"
                      },
                      "parameters": {
                        "resource": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/global/connectivityTests/[^/]+$",
                          "required": true,
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "type": "string"
                        }
                      }
                    },
                    "delete": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Deletes a specific `ConnectivityTest`.",
                      "parameters": {
                        "name": {
                          "description": "Required. Connectivity Test resource name using the form: `projects/{project_id}/locations/global/connectivityTests/{test_id}`",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global/connectivityTests/[^/]+$",
                          "location": "path"
                        }
                      },
                      "id": "networkmanagement.projects.locations.global.connectivityTests.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta1/{+name}",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/global/connectivityTests/{connectivityTestsId}",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/global/connectivityTests",
                      "description": "Creates a new Connectivity Test. After you create a test, the reachability analysis is performed as part of the long running operation, which completes when the analysis completes. If the endpoint specifications in `ConnectivityTest` are invalid (for example, containing non-existent resources in the network, or you don't have read permissions to the network configurations of listed projects), then the reachability result returns a value of `UNKNOWN`. If the endpoint specifications in `ConnectivityTest` are incomplete, the reachability result returns a value of AMBIGUOUS. For more information, see the Connectivity Test documentation.",
                      "path": "v1beta1/{+parent}/connectivityTests",
                      "id": "networkmanagement.projects.locations.global.connectivityTests.create",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "ConnectivityTest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "testId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. The logical name of the Connectivity Test in your project with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-40 characters. * Must end with a number or a letter. * Must be unique within the customer project"
                        },
                        "parent": {
                          "description": "Required. The parent resource of the Connectivity Test to create: `projects/{project_id}/locations/global`",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global$",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "testIamPermissions": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "id": "networkmanagement.projects.locations.global.connectivityTests.testIamPermissions",
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      },
                      "parameterOrder": [
                        "resource"
                      ],
                      "parameters": {
                        "resource": {
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global/connectivityTests/[^/]+$",
                          "location": "path"
                        }
                      },
                      "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/global/connectivityTests/{connectivityTestsId}:testIamPermissions",
                      "path": "v1beta1/{+resource}:testIamPermissions",
                      "httpMethod": "POST"
                    },
                    "getIamPolicy": {
                      "parameters": {
                        "resource": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/connectivityTests/[^/]+$",
                          "location": "path",
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "type": "string"
                        },
                        "options.requestedPolicyVersion": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                        }
                      },
                      "id": "networkmanagement.projects.locations.global.connectivityTests.getIamPolicy",
                      "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                      "response": {
                        "$ref": "Policy"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+resource}:getIamPolicy",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "resource"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/global/connectivityTests/{connectivityTestsId}:getIamPolicy"
                    },
                    "list": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/global/connectivityTests",
                      "description": "Lists all Connectivity Tests owned by a project.",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/global$",
                          "description": "Required. The parent resource of the Connectivity Tests: `projects/{project_id}/locations/global`",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Lists the `ConnectivityTests` that match the filter expression. A filter expression filters the resources listed in the response. The expression must be of the form ` ` where operators: `<`, `>`, `<=`, `>=`, `!=`, `=`, `:` are supported (colon `:` represents a HAS operator which is roughly synonymous with equality). can refer to a proto or JSON field, or a synthetic field. Field names can be camelCase or snake_case. Examples: - Filter by name: name = \"projects/proj-1/locations/global/connectivityTests/test-1 - Filter by labels: - Resources that have a key called `foo` labels.foo:* - Resources that have a key called `foo` whose value is `bar` labels.foo = bar",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Number of `ConnectivityTests` to return.",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Page token from an earlier query, as returned in `next_page_token`."
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Field to use to sort the list."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+parent}/connectivityTests",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListConnectivityTestsResponse"
                      },
                      "id": "networkmanagement.projects.locations.global.connectivityTests.list",
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1beta1/{+name}",
                      "request": {
                        "$ref": "ConnectivityTest"
                      },
                      "description": "Updates the configuration of an existing `ConnectivityTest`. After you update a test, the reachability analysis is performed as part of the long running operation, which completes when the analysis completes. The Reachability state in the test resource is updated with the new result. If the endpoint specifications in `ConnectivityTest` are invalid (for example, they contain non-existent resources in the network, or the user does not have read permissions to the network configurations of listed projects), then the reachability result returns a value of UNKNOWN. If the endpoint specifications in `ConnectivityTest` are incomplete, the reachability result returns a value of `AMBIGUOUS`. See the documentation in `ConnectivityTest` for more details.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Identifier. Unique name of the resource using the form: `projects/{project_id}/locations/global/connectivityTests/{test}`",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/connectivityTests/[^/]+$"
                        },
                        "updateMask": {
                          "type": "string",
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field.",
                          "format": "google-fieldmask",
                          "location": "query"
                        }
                      },
                      "id": "networkmanagement.projects.locations.global.connectivityTests.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/global/connectivityTests/{connectivityTestsId}"
                    },
                    "rerun": {
                      "httpMethod": "POST",
                      "description": "Rerun an existing `ConnectivityTest`. After the user triggers the rerun, the reachability analysis is performed as part of the long running operation, which completes when the analysis completes. Even though the test configuration remains the same, the reachability result may change due to underlying network configuration changes. If the endpoint specifications in `ConnectivityTest` become invalid (for example, specified resources are deleted in the network, or you lost read permissions to the network configurations of listed projects), then the reachability result returns a value of `UNKNOWN`.",
                      "path": "v1beta1/{+name}:rerun",
                      "request": {
                        "$ref": "RerunConnectivityTestRequest"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/global/connectivityTests/{connectivityTestsId}:rerun",
                      "id": "networkmanagement.projects.locations.global.connectivityTests.rerun",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/global/connectivityTests/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. Connectivity Test resource name using the form: `projects/{project_id}/locations/global/connectivityTests/{test_id}`"
                        }
                      }
                    },
                    "get": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "ConnectivityTest"
                      },
                      "id": "networkmanagement.projects.locations.global.connectivityTests.get",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. `ConnectivityTest` resource name using the form: `projects/{project_id}/locations/global/connectivityTests/{test_id}`",
                          "pattern": "^projects/[^/]+/locations/global/connectivityTests/[^/]+$",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets the details of a specific Connectivity Test.",
                      "path": "v1beta1/{+name}",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/global/connectivityTests/{connectivityTestsId}"
                    }
                  }
                }
              }
            },
            "vpcFlowLogsConfigs": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a specific `VpcFlowLogsConfig`.",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "id": "networkmanagement.projects.locations.vpcFlowLogsConfigs.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The resource name of the VpcFlowLogsConfig, in one of the following formats: - For a project-level resource: `projects/{project_id}/locations/global/vpcFlowLogsConfigs/{vpc_flow_logs_config_id}` - For an organization-level resource: `organizations/{organization_id}/locations/global/vpcFlowLogsConfigs/{vpc_flow_logs_config_id}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/vpcFlowLogsConfigs/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/vpcFlowLogsConfigs/{vpcFlowLogsConfigsId}"
                },
                "patch": {
                  "request": {
                    "$ref": "VpcFlowLogsConfig"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/vpcFlowLogsConfigs/[^/]+$",
                      "description": "Identifier. Unique name of the configuration. The name can have one of the following forms: - For project-level configurations: `projects/{project_id}/locations/global/vpcFlowLogsConfigs/{vpc_flow_logs_config_id}` - For organization-level configurations: `organizations/{organization_id}/locations/global/vpcFlowLogsConfigs/{vpc_flow_logs_config_id}`",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Required. Mask of fields to update. At least one path must be supplied in this field. For example, to change the state of the configuration to ENABLED, specify `update_mask` = `\"state\"`, and the `vpc_flow_logs_config` would be: `vpc_flow_logs_config = { name = \"projects/my-project/locations/global/vpcFlowLogsConfigs/my-config\" state = \"ENABLED\" }`",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "id": "networkmanagement.projects.locations.vpcFlowLogsConfigs.patch",
                  "path": "v1beta1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/vpcFlowLogsConfigs/{vpcFlowLogsConfigsId}",
                  "description": "Updates an existing `VpcFlowLogsConfig`. If a configuration with the exact same settings already exists (even if the ID is different), the creation fails. Notes: 1. Updating a configuration with `state=DISABLED` will fail 2. The following fields are not considered as settings for the purpose of the check mentioned above, therefore - updating another configuration with the same fields but different values for the following fields will fail as well: * name * create_time * update_time * labels * description",
                  "httpMethod": "PATCH"
                },
                "list": {
                  "response": {
                    "$ref": "ListVpcFlowLogsConfigsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "Optional. Lists the `VpcFlowLogsConfigs` that match the filter expression. A filter expression must use the supported [CEL logic operators] (https://cloud.google.com/vpc/docs/about-flow-logs-records#supported_cel_logic_operators).",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. Field to use to sort the list.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent resource of the VpcFlowLogsConfig, in one of the following formats: - For project-level resources: `projects/{project_id}/locations/global` - For organization-level resources: `organizations/{organization_id}/locations/global`",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. Page token from an earlier query, as returned in `next_page_token`.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. Number of `VpcFlowLogsConfigs` to return.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/vpcFlowLogsConfigs",
                  "path": "v1beta1/{+parent}/vpcFlowLogsConfigs",
                  "id": "networkmanagement.projects.locations.vpcFlowLogsConfigs.list",
                  "httpMethod": "GET",
                  "description": "Lists all `VpcFlowLogsConfigs` in a given project."
                },
                "showEffectiveFlowLogsConfigs": {
                  "description": "ShowEffectiveFlowLogsConfigs returns a list of all VPC Flow Logs configurations applicable to a specified resource.",
                  "id": "networkmanagement.projects.locations.vpcFlowLogsConfigs.showEffectiveFlowLogsConfigs",
                  "path": "v1beta1/{+parent}/vpcFlowLogsConfigs:showEffectiveFlowLogsConfigs",
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/vpcFlowLogsConfigs:showEffectiveFlowLogsConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ShowEffectiveFlowLogsConfigsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent resource of the VpcFlowLogsConfig, specified in the following format: `projects/{project_id}/locations/global`",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Number of `EffectiveVpcFlowLogsConfigs` to return. Default is 30.",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "Optional. Lists the `EffectiveVpcFlowLogsConfigs` that match the filter expression. A filter expression must use the supported [CEL logic operators] (https://cloud.google.com/vpc/docs/about-flow-logs-records#supported_cel_logic_operators).",
                      "location": "query",
                      "type": "string"
                    },
                    "resource": {
                      "type": "string",
                      "description": "Required. The resource to get the effective VPC Flow Logs configuration for. The resource must belong to the same project as the parent. The resource must be a network, subnetwork, interconnect attachment, VPN tunnel, or a project.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. Page token from an earlier query, as returned in `next_page_token`.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "queryOrgVpcFlowLogsConfigs": {
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Lists the `VpcFlowLogsConfigs` that match the filter expression. A filter expression must use the supported [CEL logic operators] (https://cloud.google.com/vpc/docs/about-flow-logs-records#supported_cel_logic_operators)."
                    },
                    "pageToken": {
                      "description": "Optional. Page token from an earlier query, as returned in `next_page_token`.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource of the VpcFlowLogsConfig, specified in the following format: `projects/{project_id}/locations/global`",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Number of `VpcFlowLogsConfigs` to return.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "response": {
                    "$ref": "QueryOrgVpcFlowLogsConfigsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "QueryOrgVpcFlowLogsConfigs returns a list of all organization-level VPC Flow Logs configurations applicable to the specified project.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/vpcFlowLogsConfigs:queryOrgVpcFlowLogsConfigs",
                  "path": "v1beta1/{+parent}/vpcFlowLogsConfigs:queryOrgVpcFlowLogsConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "networkmanagement.projects.locations.vpcFlowLogsConfigs.queryOrgVpcFlowLogsConfigs"
                },
                "get": {
                  "description": "Gets the details of a specific `VpcFlowLogsConfig`.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/vpcFlowLogsConfigs/{vpcFlowLogsConfigsId}",
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}",
                  "id": "networkmanagement.projects.locations.vpcFlowLogsConfigs.get",
                  "response": {
                    "$ref": "VpcFlowLogsConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/vpcFlowLogsConfigs/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the VpcFlowLogsConfig, in one of the following formats: - For project-level resources: `projects/{project_id}/locations/global/vpcFlowLogsConfigs/{vpc_flow_logs_config_id}` - For organization-level resources: `organizations/{organization_id}/locations/global/vpcFlowLogsConfigs/{vpc_flow_logs_config_id}`",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource of the VpcFlowLogsConfig to create, in one of the following formats: - For project-level resources: `projects/{project_id}/locations/global` - For organization-level resources: `organizations/{organization_id}/locations/global`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "vpcFlowLogsConfigId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. ID of the `VpcFlowLogsConfig`."
                    }
                  },
                  "description": "Creates a new `VpcFlowLogsConfig`. If a configuration with the exact same settings already exists (even if the ID is different), the creation fails. Notes: 1. Creating a configuration with `state=DISABLED` will fail 2. The following fields are not considered as settings for the purpose of the check mentioned above, therefore - creating another configuration with the same fields but different values for the following fields will fail as well: * name * create_time * update_time * labels * description",
                  "id": "networkmanagement.projects.locations.vpcFlowLogsConfigs.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/vpcFlowLogsConfigs",
                  "request": {
                    "$ref": "VpcFlowLogsConfig"
                  },
                  "path": "v1beta1/{+parent}/vpcFlowLogsConfigs"
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "id": "networkmanagement.organizations.locations.list",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "flatPath": "v1beta1/organizations/{organizationsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32"
                },
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "required": true
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1beta1/{+name}/locations"
            },
            "get": {
              "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "description": "Resource name for the location.",
                  "required": true
                }
              },
              "description": "Gets information about a location.",
              "path": "v1beta1/{+name}",
              "id": "networkmanagement.organizations.locations.get",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "vpcFlowLogsConfigs": {
              "methods": {
                "patch": {
                  "id": "networkmanagement.organizations.locations.vpcFlowLogsConfigs.patch",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/vpcFlowLogsConfigs/{vpcFlowLogsConfigsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "VpcFlowLogsConfig"
                  },
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates an existing `VpcFlowLogsConfig`. If a configuration with the exact same settings already exists (even if the ID is different), the creation fails. Notes: 1. Updating a configuration with `state=DISABLED` will fail 2. The following fields are not considered as settings for the purpose of the check mentioned above, therefore - updating another configuration with the same fields but different values for the following fields will fail as well: * name * create_time * update_time * labels * description",
                  "parameters": {
                    "name": {
                      "description": "Identifier. Unique name of the configuration. The name can have one of the following forms: - For project-level configurations: `projects/{project_id}/locations/global/vpcFlowLogsConfigs/{vpc_flow_logs_config_id}` - For organization-level configurations: `organizations/{organization_id}/locations/global/vpcFlowLogsConfigs/{vpc_flow_logs_config_id}`",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/vpcFlowLogsConfigs/[^/]+$"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Required. Mask of fields to update. At least one path must be supplied in this field. For example, to change the state of the configuration to ENABLED, specify `update_mask` = `\"state\"`, and the `vpc_flow_logs_config` would be: `vpc_flow_logs_config = { name = \"projects/my-project/locations/global/vpcFlowLogsConfigs/my-config\" state = \"ENABLED\" }`",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  }
                },
                "list": {
                  "path": "v1beta1/{+parent}/vpcFlowLogsConfigs",
                  "response": {
                    "$ref": "ListVpcFlowLogsConfigsResponse"
                  },
                  "parameters": {
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Field to use to sort the list.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. Page token from an earlier query, as returned in `next_page_token`.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Lists the `VpcFlowLogsConfigs` that match the filter expression. A filter expression must use the supported [CEL logic operators] (https://cloud.google.com/vpc/docs/about-flow-logs-records#supported_cel_logic_operators).",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Number of `VpcFlowLogsConfigs` to return.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent resource of the VpcFlowLogsConfig, in one of the following formats: - For project-level resources: `projects/{project_id}/locations/global` - For organization-level resources: `organizations/{organization_id}/locations/global`",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "networkmanagement.organizations.locations.vpcFlowLogsConfigs.list",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/vpcFlowLogsConfigs",
                  "description": "Lists all `VpcFlowLogsConfigs` in a given organization.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "id": "networkmanagement.organizations.locations.vpcFlowLogsConfigs.create",
                  "path": "v1beta1/{+parent}/vpcFlowLogsConfigs",
                  "request": {
                    "$ref": "VpcFlowLogsConfig"
                  },
                  "parameters": {
                    "vpcFlowLogsConfigId": {
                      "description": "Required. ID of the `VpcFlowLogsConfig`.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent resource of the VpcFlowLogsConfig to create, in one of the following formats: - For project-level resources: `projects/{project_id}/locations/global` - For organization-level resources: `organizations/{organization_id}/locations/global`",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/vpcFlowLogsConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new `VpcFlowLogsConfig`. If a configuration with the exact same settings already exists (even if the ID is different), the creation fails. Notes: 1. Creating a configuration with `state=DISABLED` will fail 2. The following fields are not considered as settings for the purpose of the check mentioned above, therefore - creating another configuration with the same fields but different values for the following fields will fail as well: * name * create_time * update_time * labels * description",
                  "httpMethod": "POST"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/vpcFlowLogsConfigs/{vpcFlowLogsConfigsId}",
                  "description": "Deletes a specific `VpcFlowLogsConfig`.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/vpcFlowLogsConfigs/[^/]+$",
                      "description": "Required. The resource name of the VpcFlowLogsConfig, in one of the following formats: - For a project-level resource: `projects/{project_id}/locations/global/vpcFlowLogsConfigs/{vpc_flow_logs_config_id}` - For an organization-level resource: `organizations/{organization_id}/locations/global/vpcFlowLogsConfigs/{vpc_flow_logs_config_id}`",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "id": "networkmanagement.organizations.locations.vpcFlowLogsConfigs.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "VpcFlowLogsConfig"
                  },
                  "httpMethod": "GET",
                  "id": "networkmanagement.organizations.locations.vpcFlowLogsConfigs.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/vpcFlowLogsConfigs/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The resource name of the VpcFlowLogsConfig, in one of the following formats: - For project-level resources: `projects/{project_id}/locations/global/vpcFlowLogsConfigs/{vpc_flow_logs_config_id}` - For organization-level resources: `organizations/{organization_id}/locations/global/vpcFlowLogsConfigs/{vpc_flow_logs_config_id}`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the details of a specific `VpcFlowLogsConfig`.",
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/vpcFlowLogsConfigs/{vpcFlowLogsConfigsId}"
                }
              }
            },
            "global": {
              "resources": {
                "operations": {
                  "methods": {
                    "cancel": {
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/global/operations/{operationsId}:cancel",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "id": "networkmanagement.organizations.locations.global.operations.cancel",
                      "path": "v1beta1/{+name}:cancel",
                      "request": {
                        "$ref": "CancelOperationRequest"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/global/operations/[^/]+$",
                          "description": "The name of the operation resource to be cancelled.",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1beta1/{+name}",
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "networkmanagement.organizations.locations.global.operations.get",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/global/operations/[^/]+$",
                          "required": true,
                          "description": "The name of the operation resource."
                        }
                      },
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/global/operations/{operationsId}",
                      "httpMethod": "GET"
                    },
                    "list": {
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "id": "networkmanagement.organizations.locations.global.operations.list",
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "response": {
                        "$ref": "ListOperationsResponse"
                      },
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/global/operations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "description": "The standard list page size.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "The standard list filter."
                        },
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "The name of the operation's parent resource.",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/global$"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "The standard list page token.",
                          "type": "string"
                        },
                        "returnPartialSuccess": {
                          "location": "query",
                          "type": "boolean",
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                        }
                      },
                      "path": "v1beta1/{+name}/operations"
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                      "path": "v1beta1/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/global/operations/[^/]+$",
                          "description": "The name of the operation resource to be deleted."
                        }
                      },
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/global/operations/{operationsId}",
                      "id": "networkmanagement.organizations.locations.global.operations.delete"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://networkmanagement.mtls.googleapis.com/",
  "schemas": {
    "RouteInfo": {
      "id": "RouteInfo",
      "type": "object",
      "properties": {
        "protocols": {
          "type": "array",
          "description": "Protocols of the route. POLICY_BASED routes only.",
          "items": {
            "type": "string"
          }
        },
        "nextHop": {
          "type": "string",
          "deprecated": true,
          "description": "String type of the next hop of the route (for example, \"VPN tunnel\"). Deprecated in favor of the next_hop_type and next_hop_uri fields, not used in new tests."
        },
        "nccHubUri": {
          "description": "URI of the NCC Hub the route is advertised by in format \"projects/{project}/locations/global/hubs/{hub}\". PEERING_SUBNET and PEERING_DYNAMIC routes that are advertised by NCC Hub only.",
          "type": "string"
        },
        "instanceTags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Instance tags of the route."
        },
        "srcPortRanges": {
          "type": "array",
          "description": "Source port ranges of the route. POLICY_BASED routes only.",
          "items": {
            "type": "string"
          }
        },
        "region": {
          "description": "Region of the route. DYNAMIC, PEERING_DYNAMIC, POLICY_BASED and ADVERTISED routes only. If set for POLICY_BASED route, this is a region of VLAN attachments for Cloud Interconnect the route applies to. If set to \"all\" for POLICY_BASED route, the route applies to VLAN attachments of Cloud Interconnect in all regions.",
          "type": "string"
        },
        "srcIpRange": {
          "description": "Source IP address range of the route. POLICY_BASED routes only.",
          "type": "string"
        },
        "nextHopType": {
          "description": "Type of next hop.",
          "enumDescriptions": [
            "Unspecified type. Default value.",
            "Next hop is an IP address.",
            "Next hop is a Compute Engine instance.",
            "Next hop is a VPC network gateway.",
            "Next hop is a peering VPC. This scenario only happens when the user doesn't have permissions to the project where the next hop resource is located.",
            "Next hop is an interconnect.",
            "Next hop is a VPN tunnel.",
            "Next hop is a VPN gateway. This scenario only happens when tracing connectivity from an on-premises network to Google Cloud through a VPN. The analysis simulates a packet departing from the on-premises network through a VPN tunnel and arriving at a Cloud VPN gateway.",
            "Next hop is an internet gateway.",
            "Next hop is blackhole; that is, the next hop either does not exist or is unusable.",
            "Next hop is the forwarding rule of an Internal Load Balancer.",
            "Next hop is a [router appliance instance](https://cloud.google.com/network-connectivity/docs/network-connectivity-center/concepts/ra-overview).",
            "Next hop is an NCC hub. This scenario only happens when the user doesn't have permissions to the project where the next hop resource is located.",
            "Next hop is Secure Web Proxy Gateway."
          ],
          "type": "string",
          "enum": [
            "NEXT_HOP_TYPE_UNSPECIFIED",
            "NEXT_HOP_IP",
            "NEXT_HOP_INSTANCE",
            "NEXT_HOP_NETWORK",
            "NEXT_HOP_PEERING",
            "NEXT_HOP_INTERCONNECT",
            "NEXT_HOP_VPN_TUNNEL",
            "NEXT_HOP_VPN_GATEWAY",
            "NEXT_HOP_INTERNET_GATEWAY",
            "NEXT_HOP_BLACKHOLE",
            "NEXT_HOP_ILB",
            "NEXT_HOP_ROUTER_APPLIANCE",
            "NEXT_HOP_NCC_HUB",
            "SECURE_WEB_PROXY_GATEWAY"
          ]
        },
        "nextHopUri": {
          "type": "string",
          "description": "URI of the next hop resource."
        },
        "advertisedRouteSourceRouterUri": {
          "type": "string",
          "description": "For ADVERTISED dynamic routes, the URI of the Cloud Router that advertised the corresponding IP prefix in format \"projects/{project}/regions/{region}/routers/{router}\"."
        },
        "displayName": {
          "description": "Name of a route.",
          "type": "string"
        },
        "destIpRange": {
          "description": "Destination IP range of the route.",
          "type": "string"
        },
        "originatingRouteDisplayName": {
          "type": "string",
          "description": "For PEERING_SUBNET, PEERING_STATIC and PEERING_DYNAMIC routes, the name of the originating SUBNET/STATIC/DYNAMIC route."
        },
        "advertisedRouteNextHopUri": {
          "type": "string",
          "description": "For ADVERTISED routes, the URI of their next hop, i.e. the URI of the hybrid endpoint (VPN tunnel, Interconnect attachment, NCC router appliance) the advertised prefix is advertised through, or URI of the source peered network. Deprecated in favor of the next_hop_uri field, not used in new tests.",
          "deprecated": true
        },
        "networkUri": {
          "type": "string",
          "description": "URI of a VPC network where route is located in format \"projects/{project}/global/networks/{network}\"."
        },
        "destPortRanges": {
          "description": "Destination port ranges of the route. POLICY_BASED routes only.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextHopNetworkUri": {
          "description": "URI of a VPC network where the next hop resource is located in format \"projects/{project}/global/networks/{network}\".",
          "type": "string"
        },
        "routeScope": {
          "enumDescriptions": [
            "Unspecified scope. Default value.",
            "Route is applicable to packets in Network.",
            "Route is applicable to packets using NCC Hub's routing table."
          ],
          "description": "Indicates where route is applicable. Deprecated, routes with NCC_HUB scope are not included in the trace in new tests.",
          "enum": [
            "ROUTE_SCOPE_UNSPECIFIED",
            "NETWORK",
            "NCC_HUB"
          ],
          "deprecated": true,
          "type": "string"
        },
        "nccHubRouteUri": {
          "description": "For PEERING_SUBNET and PEERING_DYNAMIC routes that are advertised by NCC Hub, the URI of the corresponding route in NCC Hub's routing table. Format: `projects/{project_id}/locations/global/hubs/{hub_id}/routeTables/{route_table_id}/routes/{route_id}`",
          "type": "string"
        },
        "nccSpokeUri": {
          "description": "URI of the destination NCC Spoke in format \"projects/{project}/locations/{location}/spokes/{spoke}\" (regional) or \"projects/{project}/locations/global/spokes/{spoke}\" (global). PEERING_SUBNET and PEERING_DYNAMIC routes that are advertised by NCC Hub only.",
          "type": "string"
        },
        "originatingRouteUri": {
          "description": "For PEERING_SUBNET and PEERING_STATIC routes, the URI of the originating SUBNET/STATIC route. Format: `projects/{project_id}/global/routes/{route_id}`",
          "type": "string"
        },
        "uri": {
          "description": "URI of a route in format \"projects/{project}/global/routes/{route}\". SUBNET, STATIC, PEERING_SUBNET (only for peering network) and POLICY_BASED routes only.",
          "type": "string"
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "Priority of the route."
        },
        "routeType": {
          "description": "Type of route.",
          "type": "string",
          "enum": [
            "ROUTE_TYPE_UNSPECIFIED",
            "SUBNET",
            "STATIC",
            "DYNAMIC",
            "PEERING_SUBNET",
            "PEERING_STATIC",
            "PEERING_DYNAMIC",
            "POLICY_BASED",
            "ADVERTISED"
          ],
          "enumDescriptions": [
            "Unspecified type. Default value.",
            "Route is a subnet route automatically created by the system.",
            "Static route created by the user, including the default route to the internet.",
            "Dynamic route exchanged between BGP peers.",
            "A subnet route received from peering network or NCC Hub.",
            "A static route received from peering network.",
            "A dynamic route received from peering network or NCC Hub.",
            "Policy based route.",
            "Advertised route. Synthetic route which is used to transition from the StartFromPrivateNetwork state in Connectivity tests."
          ]
        }
      },
      "description": "For display only. Metadata associated with a Compute Engine route."
    },
    "AuditLogConfig": {
      "properties": {
        "logType": {
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "type": "object"
    },
    "Endpoint": {
      "description": "Source or destination of the Connectivity Test.",
      "type": "object",
      "properties": {
        "forwardingRuleTarget": {
          "description": "Output only. Specifies the type of the target of the forwarding rule.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Forwarding rule target is unknown.",
            "Compute Engine instance for protocol forwarding.",
            "Load Balancer. The specific type can be found from load_balancer_type.",
            "Classic Cloud VPN Gateway.",
            "Forwarding Rule is a Private Service Connect endpoint."
          ],
          "enum": [
            "FORWARDING_RULE_TARGET_UNSPECIFIED",
            "INSTANCE",
            "LOAD_BALANCER",
            "VPN_GATEWAY",
            "PSC"
          ]
        },
        "fqdn": {
          "description": "DNS endpoint of [Google Kubernetes Engine cluster control plane](https://cloud.google.com/kubernetes-engine/docs/concepts/cluster-architecture). Requires gke_master_cluster to be set, can't be used simultaneoulsly with ip_address or network. Applicable only to destination endpoint.",
          "type": "string"
        },
        "redisCluster": {
          "type": "string",
          "description": "A [Redis Cluster](https://cloud.google.com/memorystore/docs/cluster) URI. Applicable only to destination endpoint."
        },
        "port": {
          "description": "The IP protocol port of the endpoint. Only applicable when protocol is TCP or UDP.",
          "type": "integer",
          "format": "int32"
        },
        "redisInstance": {
          "type": "string",
          "description": "A [Redis Instance](https://cloud.google.com/memorystore/docs/redis) URI. Applicable only to destination endpoint."
        },
        "cloudFunction": {
          "description": "A [Cloud Function](https://cloud.google.com/functions). Applicable only to source endpoint.",
          "$ref": "CloudFunctionEndpoint"
        },
        "appEngineVersion": {
          "$ref": "AppEngineVersionEndpoint",
          "description": "An [App Engine](https://cloud.google.com/appengine) [service version](https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions). Applicable only to source endpoint."
        },
        "networkType": {
          "enumDescriptions": [
            "Unspecified. The test will analyze all possible IP address locations. This might take longer and produce inaccurate or ambiguous results, so prefer specifying an explicit network type. The `project_id` field should be set to the project where the GCP endpoint is located, or where the non-GCP endpoint should be reachable from (via routes to non-GCP networks). The project might also be inferred from the Connectivity Test project or other projects referenced in the request.",
            "A VPC network. Should be used for internal IP addresses in VPC networks. The `network` field should be set to the URI of this network. Only endpoints within this network will be considered.",
            "A non-GCP network (for example, an on-premises network or another cloud provider network). Should be used for internal IP addresses outside of Google Cloud. The `network` field should be set to the URI of the VPC network containing a corresponding Cloud VPN tunnel, Cloud Interconnect VLAN attachment, or a router appliance instance. Only endpoints reachable from the provided VPC network via the routes to non-GCP networks will be considered.",
            "Internet. Should be used for internet-routable external IP addresses or IP addresses for global Google APIs and services."
          ],
          "type": "string",
          "enum": [
            "NETWORK_TYPE_UNSPECIFIED",
            "GCP_NETWORK",
            "NON_GCP_NETWORK",
            "INTERNET"
          ],
          "description": "For source endpoints, type of the network where the endpoint is located. Not relevant for destination endpoints."
        },
        "cloudRunRevision": {
          "description": "A [Cloud Run](https://cloud.google.com/run) [revision](https://cloud.google.com/run/docs/reference/rest/v1/namespaces.revisions/get) Applicable only to source endpoint.",
          "$ref": "CloudRunRevisionEndpoint"
        },
        "loadBalancerType": {
          "enumDescriptions": [
            "Forwarding rule points to a different target than a load balancer or a load balancer type is unknown.",
            "Global external HTTP(S) load balancer.",
            "Global external HTTP(S) load balancer (classic)",
            "Regional external HTTP(S) load balancer.",
            "Internal HTTP(S) load balancer.",
            "External SSL proxy load balancer.",
            "External TCP proxy load balancer.",
            "Internal regional TCP proxy load balancer.",
            "External TCP/UDP Network load balancer.",
            "Target-pool based external TCP/UDP Network load balancer.",
            "Internal TCP/UDP load balancer."
          ],
          "enum": [
            "LOAD_BALANCER_TYPE_UNSPECIFIED",
            "HTTPS_ADVANCED_LOAD_BALANCER",
            "HTTPS_LOAD_BALANCER",
            "REGIONAL_HTTPS_LOAD_BALANCER",
            "INTERNAL_HTTPS_LOAD_BALANCER",
            "SSL_PROXY_LOAD_BALANCER",
            "TCP_PROXY_LOAD_BALANCER",
            "INTERNAL_TCP_PROXY_LOAD_BALANCER",
            "NETWORK_LOAD_BALANCER",
            "LEGACY_NETWORK_LOAD_BALANCER",
            "TCP_UDP_INTERNAL_LOAD_BALANCER"
          ],
          "readOnly": true,
          "description": "Output only. Type of the load balancer the forwarding rule points to.",
          "type": "string"
        },
        "network": {
          "description": "A VPC network URI. For source endpoints, used according to the `network_type`. For destination endpoints, used only when the source is an external IP address endpoint, and the destination is an internal IP address endpoint.",
          "type": "string"
        },
        "cloudSqlInstance": {
          "description": "A [Cloud SQL](https://cloud.google.com/sql) instance URI.",
          "type": "string"
        },
        "gkeMasterCluster": {
          "description": "A cluster URI for [Google Kubernetes Engine cluster control plane](https://cloud.google.com/kubernetes-engine/docs/concepts/cluster-architecture).",
          "type": "string"
        },
        "datastreamPrivateConnection": {
          "description": "A [Datastream Private Connection](https://docs.cloud.google.com/datastream/docs/reference/rest/v1/projects.locations.privateConnections) name format: projects/{project}/locations/{location}/privateConnections/{privateConnection}.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "For source endpoints, endpoint project ID. Used according to the `network_type`. Not relevant for destination endpoints."
        },
        "cloudRunJob": {
          "description": "A [Cloud Run](https://cloud.google.com/run) [job](https://docs.cloud.google.com/run/docs/reference/rest/v2/projects.locations.jobs#Job) URI. Applicable only to source endpoint. The format is: projects/{project}/locations/{location}/jobs/{job}",
          "type": "string"
        },
        "gkePod": {
          "type": "string",
          "description": "A [GKE Pod](https://cloud.google.com/kubernetes-engine/docs/concepts/pod) URI."
        },
        "instance": {
          "description": "A Compute Engine instance URI.",
          "type": "string"
        },
        "ipAddress": {
          "type": "string",
          "description": "The IP address of the endpoint, which can be an external or internal IP."
        },
        "dmsPrivateConnection": {
          "type": "string",
          "description": "A [DMS Private Connection](https://docs.cloud.google.com/database-migration/docs/reference/rest/v1/projects.locations.privateConnections) name format: projects/{project}/locations/{location}/privateConnections/{privateConnection}."
        },
        "forwardingRule": {
          "description": "A forwarding rule and its corresponding IP address represent the frontend configuration of a Google Cloud load balancer. Forwarding rules are also used for protocol forwarding, Private Service Connect and other network services to provide forwarding information in the control plane. Applicable only to destination endpoint. Format: `projects/{project}/global/forwardingRules/{id}` or `projects/{project}/regions/{region}/forwardingRules/{id}`",
          "type": "string"
        },
        "loadBalancerId": {
          "description": "Output only. ID of the load balancer the forwarding rule points to. Empty for forwarding rules not related to load balancers.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Endpoint"
    },
    "ForwardInfo": {
      "description": "Details of the final state \"forward\" and associated resource.",
      "type": "object",
      "id": "ForwardInfo",
      "properties": {
        "target": {
          "enum": [
            "TARGET_UNSPECIFIED",
            "PEERING_VPC",
            "VPN_GATEWAY",
            "INTERCONNECT",
            "GKE_MASTER",
            "IMPORTED_CUSTOM_ROUTE_NEXT_HOP",
            "CLOUD_SQL_INSTANCE",
            "ANOTHER_PROJECT",
            "NCC_HUB",
            "ROUTER_APPLIANCE",
            "SECURE_WEB_PROXY_GATEWAY"
          ],
          "description": "Target type where this packet is forwarded to.",
          "enumDescriptions": [
            "Target not specified.",
            "Forwarded to a VPC peering network.",
            "Forwarded to a Cloud VPN gateway.",
            "Forwarded to a Cloud Interconnect connection.",
            "Forwarded to a Google Kubernetes Engine Container cluster master.",
            "Forwarded to the next hop of a custom route imported from a peering VPC.",
            "Forwarded to a Cloud SQL instance.",
            "Forwarded to a VPC network in another project.",
            "Forwarded to an NCC Hub.",
            "Forwarded to a router appliance.",
            "Forwarded to a Secure Web Proxy Gateway."
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true,
            false,
            true,
            false,
            false,
            false,
            false
          ]
        },
        "ipAddress": {
          "description": "IP address of the target (if applicable).",
          "type": "string"
        },
        "resourceUri": {
          "type": "string",
          "description": "URI of the resource that the packet is forwarded to. Format: * `projects/{project_id}/global/networks/{network_id}` (VPC peering network) * `projects/{project_id}/regions/{region}/vpnGateways/{vpn_gateway_id}` (VPN gateway)"
        }
      }
    },
    "CloudSQLInstanceInfo": {
      "description": "For display only. Metadata associated with a Cloud SQL instance.",
      "type": "object",
      "id": "CloudSQLInstanceInfo",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Name of a Cloud SQL instance."
        },
        "externalIp": {
          "description": "External IP address of a Cloud SQL instance.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "URI of a Cloud SQL instance in format \"projects/{project}/instances/{instance}\""
        },
        "networkUri": {
          "type": "string",
          "description": "URI of a Cloud SQL instance network or empty string if the instance does not have one. In format \"projects/{project}/global/networks/{network}\"."
        },
        "region": {
          "description": "Region in which the Cloud SQL instance is running.",
          "type": "string"
        },
        "internalIp": {
          "description": "Internal IP address of a Cloud SQL instance.",
          "type": "string"
        }
      }
    },
    "ServerlessExternalConnectionInfo": {
      "type": "object",
      "properties": {
        "selectedIpAddress": {
          "description": "Selected starting IP address, from the Google dynamic address pool.",
          "type": "string"
        }
      },
      "description": "For display only. Metadata associated with a serverless public connection.",
      "id": "ServerlessExternalConnectionInfo"
    },
    "LoadBalancerInfo": {
      "description": "For display only. Metadata associated with a load balancer.",
      "id": "LoadBalancerInfo",
      "type": "object",
      "properties": {
        "backendType": {
          "enumDescriptions": [
            "Type is unspecified.",
            "Backend Service as the load balancer's backend.",
            "Target Pool as the load balancer's backend.",
            "Target Instance as the load balancer's backend."
          ],
          "description": "Type of load balancer's backend configuration.",
          "type": "string",
          "enum": [
            "BACKEND_TYPE_UNSPECIFIED",
            "BACKEND_SERVICE",
            "TARGET_POOL",
            "TARGET_INSTANCE"
          ]
        },
        "backends": {
          "type": "array",
          "description": "Information for the loadbalancer backends.",
          "items": {
            "$ref": "LoadBalancerBackend"
          }
        },
        "healthCheckUri": {
          "deprecated": true,
          "description": "URI of the health check for the load balancer. Deprecated and no longer populated as different load balancer backends might have different health checks.",
          "type": "string"
        },
        "backendUri": {
          "description": "URI of the backend associated with the load balancer. Format: * `projects/{project_id}/regions/{region}/backendServices/{backend_service_id}` * `projects/{project_id}/global/backendServices/{backend_service_id}` * `projects/{project_id}/regions/{region}/targetPools/{target_pool_id}` * `projects/{project_id}/zones/{zone}/targetInstances/{target_instance_id}`",
          "type": "string"
        },
        "loadBalancerType": {
          "enumDescriptions": [
            "Type is unspecified.",
            "Internal TCP/UDP load balancer.",
            "Network TCP/UDP load balancer.",
            "HTTP(S) proxy load balancer.",
            "TCP proxy load balancer.",
            "SSL proxy load balancer."
          ],
          "description": "Type of the load balancer.",
          "type": "string",
          "enum": [
            "LOAD_BALANCER_TYPE_UNSPECIFIED",
            "INTERNAL_TCP_UDP",
            "NETWORK_TCP_UDP",
            "HTTP_PROXY",
            "TCP_PROXY",
            "SSL_PROXY"
          ]
        }
      }
    },
    "GkeNetworkPolicyInfo": {
      "properties": {
        "action": {
          "type": "string",
          "description": "Possible values: ALLOW, DENY"
        },
        "direction": {
          "type": "string",
          "description": "Possible values: INGRESS, EGRESS"
        },
        "uri": {
          "description": "The URI of the Network Policy. Format for a Network Policy in a zonal cluster: `projects//zones//clusters//k8s/namespaces//networking.k8s.io/networkpolicies/` Format for a Network Policy in a regional cluster: `projects//locations//clusters//k8s/namespaces//networking.k8s.io/networkpolicies/`",
          "type": "string"
        },
        "displayName": {
          "description": "The name of the Network Policy.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GkeNetworkPolicyInfo",
      "description": "For display only. Metadata associated with a GKE Network Policy."
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse"
    },
    "RedisClusterInfo": {
      "type": "object",
      "properties": {
        "secondaryEndpointIpAddress": {
          "type": "string",
          "description": "Secondary endpoint IP address of a Redis Cluster."
        },
        "discoveryEndpointIpAddress": {
          "type": "string",
          "description": "Discovery endpoint IP address of a Redis Cluster."
        },
        "uri": {
          "type": "string",
          "description": "URI of a Redis Cluster in format \"projects/{project_id}/locations/{location}/clusters/{cluster_id}\""
        },
        "displayName": {
          "description": "Name of a Redis Cluster.",
          "type": "string"
        },
        "networkUri": {
          "type": "string",
          "description": "URI of the network containing the Redis Cluster endpoints in format \"projects/{project_id}/global/networks/{network_id}\"."
        },
        "location": {
          "type": "string",
          "description": "Name of the region in which the Redis Cluster is defined. For example, \"us-central1\"."
        }
      },
      "description": "For display only. Metadata associated with a Redis Cluster.",
      "id": "RedisClusterInfo"
    },
    "VpcFlowLogsConfig": {
      "id": "VpcFlowLogsConfig",
      "type": "object",
      "description": "A configuration to generate VPC Flow Logs.",
      "properties": {
        "aggregationInterval": {
          "enumDescriptions": [
            "If not specified, will default to INTERVAL_5_SEC.",
            "Aggregate logs in 5s intervals.",
            "Aggregate logs in 30s intervals.",
            "Aggregate logs in 1m intervals.",
            "Aggregate logs in 5m intervals.",
            "Aggregate logs in 10m intervals.",
            "Aggregate logs in 15m intervals."
          ],
          "type": "string",
          "enum": [
            "AGGREGATION_INTERVAL_UNSPECIFIED",
            "INTERVAL_5_SEC",
            "INTERVAL_30_SEC",
            "INTERVAL_1_MIN",
            "INTERVAL_5_MIN",
            "INTERVAL_10_MIN",
            "INTERVAL_15_MIN"
          ],
          "description": "Optional. The aggregation interval for the logs. Default value is INTERVAL_5_SEC."
        },
        "labels": {
          "description": "Optional. Resource labels to represent user-provided metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "targetResourceState": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified target resource state.",
            "Indicates that the target resource exists.",
            "Indicates that the target resource does not exist."
          ],
          "readOnly": true,
          "enum": [
            "TARGET_RESOURCE_STATE_UNSPECIFIED",
            "TARGET_RESOURCE_EXISTS",
            "TARGET_RESOURCE_DOES_NOT_EXIST"
          ],
          "description": "Output only. Describes the state of the configured target resource for diagnostic purposes."
        },
        "crossProjectMetadata": {
          "description": "Optional. Determines whether to include cross project annotations in the logs. This field is available only for organization configurations. If not specified in org configs will be set to CROSS_PROJECT_METADATA_ENABLED.",
          "type": "string",
          "enum": [
            "CROSS_PROJECT_METADATA_UNSPECIFIED",
            "CROSS_PROJECT_METADATA_ENABLED",
            "CROSS_PROJECT_METADATA_DISABLED"
          ],
          "enumDescriptions": [
            "If not specified, the default is CROSS_PROJECT_METADATA_ENABLED.",
            "When CROSS_PROJECT_METADATA_ENABLED, metadata from other projects will be included in the logs.",
            "When CROSS_PROJECT_METADATA_DISABLED, metadata from other projects will not be included in the logs."
          ]
        },
        "network": {
          "type": "string",
          "description": "Traffic will be logged from VMs, VPN tunnels and Interconnect Attachments within the network. Format: projects/{project_id}/global/networks/{name}"
        },
        "name": {
          "description": "Identifier. Unique name of the configuration. The name can have one of the following forms: - For project-level configurations: `projects/{project_id}/locations/global/vpcFlowLogsConfigs/{vpc_flow_logs_config_id}` - For organization-level configurations: `organizations/{organization_id}/locations/global/vpcFlowLogsConfigs/{vpc_flow_logs_config_id}`",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the config was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "subnet": {
          "description": "Traffic will be logged from VMs within the subnetwork. Format: projects/{project_id}/regions/{region}/subnetworks/{name}",
          "type": "string"
        },
        "metadataFields": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Custom metadata fields to include in the reported VPC flow logs. Can only be specified if \"metadata\" was set to CUSTOM_METADATA."
        },
        "filterExpr": {
          "description": "Optional. Export filter used to define which VPC Flow Logs should be logged.",
          "type": "string"
        },
        "description": {
[...]
