{
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "baseUrl": "https://networksecurity.googleapis.com/",
  "id": "networksecurity:v1beta1",
  "basePath": "",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "schemas": {
    "ListMirroringDeploymentGroupsResponse": {
      "description": "Response message for ListMirroringDeploymentGroups.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        },
        "mirroringDeploymentGroups": {
          "items": {
            "$ref": "MirroringDeploymentGroup"
          },
          "description": "The deployment groups from the specified parent.",
          "type": "array"
        }
      },
      "id": "ListMirroringDeploymentGroupsResponse"
    },
    "AuthzPolicyAuthzRuleToRequestOperation": {
      "id": "AuthzPolicyAuthzRuleToRequestOperation",
      "description": "Describes properties of one or more targets of a request.",
      "properties": {
        "hosts": {
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          },
          "description": "Optional. A list of HTTP Hosts to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set. Limited to 10 hosts per Authorization Policy."
        },
        "mcp": {
          "$ref": "AuthzPolicyAuthzRuleToRequestOperationMCP",
          "description": "Optional. Defines the MCP protocol attributes to match on. If the MCP payload in the request body cannot be successfully parsed, the request will be denied. This field can be set only for AuthzPolicies targeting AgentGateway resources."
        },
        "methods": {
          "description": "Optional. A list of HTTP methods to match against. Each entry must be a valid HTTP method name (GET, PUT, POST, HEAD, PATCH, DELETE, OPTIONS). It only allows exact match and is always case sensitive. Limited to 10 methods per Authorization Policy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "snis": {
          "description": "Optional. A list of SNIs to match against. The match can be one of exact, prefix, suffix, or contains (substring match). If there is no SNI (i.e. plaintext HTTP traffic), the request will be denied. Matches are always case sensitive unless the ignoreCase is set. Limited to 10 SNIs per Authorization Policy.",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          }
        },
        "headerSet": {
          "$ref": "AuthzPolicyAuthzRuleToRequestOperationHeaderSet",
          "description": "Optional. A list of headers to match against in http header."
        },
        "paths": {
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          },
          "type": "array",
          "description": "Optional. A list of paths to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set. Limited to 10 paths per Authorization Policy. Note that this path match includes the query parameters. For gRPC services, this should be a fully-qualified name of the form /package.service/method."
        }
      },
      "type": "object"
    },
    "WildfireInlineCloudAnalysisRuleCustomFileTypes": {
      "id": "WildfireInlineCloudAnalysisRuleCustomFileTypes",
      "description": "The options to submit a custom list of file types for scan.",
      "type": "object",
      "properties": {
        "fileTypes": {
          "type": "array",
          "description": "Required. File types to be submitted for WildFire inline cloud analysis.",
          "items": {
            "enum": [
              "FILE_TYPE_UNSPECIFIED",
              "PE"
            ],
            "enumDescriptions": [
              "File type not specified.",
              "Portable Executable (PE) files."
            ],
            "type": "string"
          }
        }
      }
    },
    "GoogleIamV1AuditLogConfig": {
      "id": "GoogleIamV1AuditLogConfig",
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "type": "string"
        },
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListGatewaySecurityPoliciesResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then 'next_page_token' is included. To get the next set of results, call this method again using the value of 'next_page_token' as 'page_token'."
        },
        "gatewaySecurityPolicies": {
          "description": "List of GatewaySecurityPolicies resources.",
          "items": {
            "$ref": "GatewaySecurityPolicy"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListGatewaySecurityPoliciesResponse",
      "description": "Response returned by the ListGatewaySecurityPolicies method."
    },
    "CustomMirroringProfile": {
      "type": "object",
      "properties": {
        "mirroringEndpointGroup": {
          "description": "Required. Immutable. The target MirroringEndpointGroup. When a mirroring rule with this security profile attached matches a packet, a replica will be mirrored to the location-local target in this group.",
          "type": "string"
        }
      },
      "id": "CustomMirroringProfile",
      "description": "CustomMirroringProfile defines out-of-band integration behavior (mirroring). It is used by mirroring rules with a MIRROR action."
    },
    "ListMirroringEndpointGroupAssociationsResponse": {
      "properties": {
        "mirroringEndpointGroupAssociations": {
          "description": "The associations from the specified parent.",
          "type": "array",
          "items": {
            "$ref": "MirroringEndpointGroupAssociation"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for ListMirroringEndpointGroupAssociations.",
      "id": "ListMirroringEndpointGroupAssociationsResponse"
    },
    "GoogleCloudNetworksecurityV1beta1CertificateProvider": {
      "properties": {
        "grpcEndpoint": {
          "$ref": "GoogleCloudNetworksecurityV1beta1GrpcEndpoint",
          "description": "gRPC specific configuration to access the gRPC server to obtain the cert and private key."
        },
        "certificateProviderInstance": {
          "description": "The certificate provider instance specification that will be passed to the data plane, which will be used to load necessary credential information.",
          "$ref": "CertificateProviderInstance"
        }
      },
      "description": "Specification of certificate provider. Defines the mechanism to obtain the certificate and private key for peer to peer authentication.",
      "type": "object",
      "id": "GoogleCloudNetworksecurityV1beta1CertificateProvider"
    },
    "ListSecurityProfilesResponse": {
      "description": "Response returned by the ListSecurityProfiles method.",
      "id": "ListSecurityProfilesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "securityProfiles": {
          "description": "List of SecurityProfile resources.",
          "items": {
            "$ref": "SecurityProfile"
          },
          "type": "array"
        }
      }
    },
    "ListAddressGroupReferencesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "addressGroupReferences": {
          "description": "A list of references that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "ListAddressGroupReferencesResponseAddressGroupReference"
          }
        }
      },
      "type": "object",
      "id": "ListAddressGroupReferencesResponse",
      "description": "Response of the ListAddressGroupReferences method."
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "id": "GoogleIamV1TestIamPermissionsRequest"
    },
    "MirroringEndpointGroupConnectedDeploymentGroup": {
      "id": "MirroringEndpointGroupConnectedDeploymentGroup",
      "type": "object",
      "description": "The endpoint group's view of a connected deployment group.",
      "properties": {
        "locations": {
          "description": "Output only. The list of locations where the deployment group is present.",
          "type": "array",
          "items": {
            "$ref": "MirroringLocation"
          },
          "readOnly": true
        },
        "name": {
          "description": "Output only. The connected deployment group's resource name, for example: `projects/123456789/locations/global/mirroringDeploymentGroups/my-dg`. See https://google.aip.dev/124.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "AuthzPolicyCustomProviderCloudIap": {
      "id": "AuthzPolicyCustomProviderCloudIap",
      "description": "Optional. Delegates authorization decisions to Cloud IAP. Applicable only for managed load balancers. Enabling Cloud IAP at the AuthzPolicy level is not compatible with Cloud IAP settings in the BackendService. Enabling IAP in both places will result in request failure. Ensure that IAP is enabled in either the AuthzPolicy or the BackendService but not in both places.",
      "type": "object",
      "properties": {}
    },
    "ListAuthzPoliciesResponse": {
      "id": "ListAuthzPoliciesResponse",
      "description": "Message for response to listing `AuthzPolicy` resources.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results that the server returns.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "authzPolicies": {
          "description": "The list of `AuthzPolicy` resources.",
          "items": {
            "$ref": "AuthzPolicy"
          },
          "type": "array"
        }
      }
    },
    "AuthzPolicyCustomProvider": {
      "description": "Allows delegating authorization decisions to Cloud IAP or to Service Extensions.",
      "id": "AuthzPolicyCustomProvider",
      "properties": {
        "authzExtension": {
          "description": "Optional. Delegate authorization decision to user authored Service Extension. Only one of cloudIap or authzExtension can be specified.",
          "$ref": "AuthzPolicyCustomProviderAuthzExtension"
        },
        "cloudIap": {
          "description": "Optional. Delegates authorization decisions to Cloud IAP. Applicable only for managed load balancers. Enabling Cloud IAP at the AuthzPolicy level is not compatible with Cloud IAP settings in the BackendService. Enabling IAP in both places will result in request failure. Ensure that IAP is enabled in either the AuthzPolicy or the BackendService but not in both places.",
          "$ref": "AuthzPolicyCustomProviderCloudIap"
        }
      },
      "type": "object"
    },
    "CertificateProviderInstance": {
      "type": "object",
      "id": "CertificateProviderInstance",
      "description": "Specification of a TLS certificate provider instance. Workloads may have one or more CertificateProvider instances (plugins) and one of them is enabled and configured by specifying this message. Workloads use the values from this message to locate and load the CertificateProvider instance configuration.",
      "properties": {
        "pluginInstance": {
          "description": "Required. Plugin instance name, used to locate and load CertificateProvider instance configuration. Set to \"google_cloud_private_spiffe\" to use Certificate Authority Service certificate provider instance.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "id": "Operation"
    },
    "AuthzPolicyAuthzRulePrincipal": {
      "type": "object",
      "id": "AuthzPolicyAuthzRulePrincipal",
      "description": "Describes the properties of a principal to be matched against.",
      "properties": {
        "principalSelector": {
          "enumDescriptions": [
            "Unspecified principal selector. It will be treated as CLIENT_CERT_URI_SAN by default.",
            "The principal rule is matched against a list of URI SANs in the validated client's certificate. A match happens when there is any exact URI SAN value match. This is the default principal selector.",
            "The principal rule is matched against a list of DNS Name SANs in the validated client's certificate. A match happens when there is any exact DNS Name SAN value match. This is only applicable for Application Load Balancers except for classic Global External Application load balancer. CLIENT_CERT_DNS_NAME_SAN is not supported for INTERNAL_SELF_MANAGED load balancing scheme.",
            "The principal rule is matched against the common name in the client's certificate. Authorization against multiple common names in the client certificate is not supported. Requests with multiple common names in the client certificate will be rejected if CLIENT_CERT_COMMON_NAME is set as the principal selector. A match happens when there is an exact common name value match. This is only applicable for Application Load Balancers and not for Classic Application Load Balancer. CLIENT_CERT_COMMON_NAME is not supported for INTERNAL_SELF_MANAGED load balancing scheme."
          ],
          "enum": [
            "PRINCIPAL_SELECTOR_UNSPECIFIED",
            "CLIENT_CERT_URI_SAN",
            "CLIENT_CERT_DNS_NAME_SAN",
            "CLIENT_CERT_COMMON_NAME"
          ],
          "description": "Optional. An enum to decide what principal value the principal rule will match against. If not specified, the PrincipalSelector is CLIENT_CERT_URI_SAN.",
          "type": "string"
        },
        "principal": {
          "description": "Required. A non-empty string whose value is matched against the principal value based on the principal_selector. Only exact match can be applied for CLIENT_CERT_URI_SAN, CLIENT_CERT_DNS_NAME_SAN, CLIENT_CERT_COMMON_NAME selectors.",
          "$ref": "AuthzPolicyAuthzRuleStringMatch"
        }
      }
    },
    "HttpHeaderMatch": {
      "id": "HttpHeaderMatch",
      "description": "Specification of HTTP header match attributes.",
      "properties": {
        "regexMatch": {
          "description": "Required. The value of the header must match the regular expression specified in regexMatch. For regular expression grammar, please see: en.cppreference.com/w/cpp/regex/ecmascript For matching against a port specified in the HTTP request, use a headerMatch with headerName set to Host and a regular expression that satisfies the RFC2616 Host header's port specifier.",
          "type": "string"
        },
        "headerName": {
          "description": "Required. The name of the HTTP header to match. For matching against the HTTP request's authority, use a headerMatch with the header name \":authority\". For matching a request's method, use the headerName \":method\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InterceptDeploymentGroupConnectedEndpointGroup": {
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The connected endpoint group's resource name, for example: `projects/123456789/locations/global/interceptEndpointGroups/my-eg`. See https://google.aip.dev/124."
        }
      },
      "id": "InterceptDeploymentGroupConnectedEndpointGroup",
      "type": "object",
      "description": "An endpoint group connected to this deployment group."
    },
    "TlsInspectionPolicy": {
      "properties": {
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "minTlsVersion": {
          "enum": [
            "TLS_VERSION_UNSPECIFIED",
            "TLS_1_0",
            "TLS_1_1",
            "TLS_1_2",
            "TLS_1_3"
          ],
          "description": "Optional. Minimum TLS version that the firewall should use when negotiating connections with both clients and servers. If this is not set, then the default value is to allow the broadest set of clients and servers (TLS 1.0 or higher). Setting this to more restrictive values may improve security, but may also prevent the firewall from connecting to some clients or servers. Note that Secure Web Proxy does not yet honor this field.",
          "enumDescriptions": [
            "Indicates no TLS version was specified.",
            "TLS 1.0",
            "TLS 1.1",
            "TLS 1.2",
            "TLS 1.3"
          ],
          "type": "string"
        },
        "tlsFeatureProfile": {
          "type": "string",
          "description": "Optional. The selected Profile. If this is not set, then the default value is to allow the broadest set of clients and servers (\"PROFILE_COMPATIBLE\"). Setting this to more restrictive values may improve security, but may also prevent the TLS inspection proxy from connecting to some clients or servers. Note that Secure Web Proxy does not yet honor this field.",
          "enumDescriptions": [
            "Indicates no profile was specified.",
            "Compatible profile. Allows the broadest set of clients, even those which support only out-of-date SSL features to negotiate with the TLS inspection proxy.",
            "Modern profile. Supports a wide set of SSL features, allowing modern clients to negotiate SSL with the TLS inspection proxy.",
            "Restricted profile. Supports a reduced set of SSL features, intended to meet stricter compliance requirements.",
            "Custom profile. Allow only the set of allowed SSL features specified in the custom_features field of SslPolicy."
          ],
          "enum": [
            "PROFILE_UNSPECIFIED",
            "PROFILE_COMPATIBLE",
            "PROFILE_MODERN",
            "PROFILE_RESTRICTED",
            "PROFILE_CUSTOM"
          ]
        },
        "name": {
          "description": "Required. Name of the resource. Name is of the form projects/{project}/locations/{location}/tlsInspectionPolicies/{tls_inspection_policy} tls_inspection_policy should match the pattern:(^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$).",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "caPool": {
          "description": "Required. A CA pool resource used to issue interception certificates. The CA pool string has a relative resource path following the form \"projects/{project}/locations/{location}/caPools/{ca_pool}\".",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "customTlsFeatures": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of custom TLS cipher suites selected. This field is valid only if the selected tls_feature_profile is CUSTOM. The compute.SslPoliciesService.ListAvailableFeatures method returns the set of features that can be specified in this list. Note that Secure Web Proxy does not yet honor this field."
        },
        "trustConfig": {
          "description": "Optional. A TrustConfig resource used when making a connection to the TLS server. This is a relative resource path following the form \"projects/{project}/locations/{location}/trustConfigs/{trust_config}\". This is necessary to intercept TLS connections to servers with certificates signed by a private CA or self-signed certificates. Note that Secure Web Proxy does not yet honor this field.",
          "type": "string"
        },
        "excludePublicCaSet": {
          "description": "Optional. If FALSE (the default), use our default set of public CAs in addition to any CAs specified in trust_config. These public CAs are currently based on the Mozilla Root Program and are subject to change over time. If TRUE, do not accept our default set of public CAs. Only CAs specified in trust_config will be accepted. This defaults to FALSE (use public CAs in addition to trust_config) for backwards compatibility, but trusting public root CAs is *not recommended* unless the traffic in question is outbound to public web servers. When possible, prefer setting this to \"false\" and explicitly specifying trusted CAs and certificates in a TrustConfig. Note that Secure Web Proxy does not yet honor this field.",
          "type": "boolean"
        }
      },
      "description": "The TlsInspectionPolicy resource contains references to CA pools in Certificate Authority Service and associated metadata.",
      "id": "TlsInspectionPolicy",
      "type": "object"
    },
    "CloneAddressGroupItemsRequest": {
      "id": "CloneAddressGroupItemsRequest",
      "description": "Request used by the CloneAddressGroupItems method.",
      "properties": {
        "sourceAddressGroup": {
          "type": "string",
          "description": "Required. Source address group to clone items from."
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "id": "Expr",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      }
    },
    "SACAttachment": {
      "id": "SACAttachment",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when the attachment was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING_PARTNER_ATTACHMENT",
            "PARTNER_ATTACHED",
            "PARTNER_DETACHED"
          ],
          "enumDescriptions": [
            "No state specified. This should not be used.",
            "Has never been attached to a partner.",
            "Currently attached to a partner.",
            "Was once attached to a partner but has been detached."
          ],
          "readOnly": true,
          "description": "Output only. State of the attachment.",
          "type": "string"
        },
        "timeZone": {
          "description": "Optional. Case-sensitive tzinfo identifier used for localization. Only valid for Symantec attachments.",
          "type": "string"
        },
        "symantecOptions": {
          "description": "Optional. Configuration required for Symantec attachments.",
          "$ref": "SACAttachmentSACAttachmentSymantecOptions"
        },
        "nccGateway": {
          "description": "Required. NCC Gateway associated with the attachment. This can be input as an ID or a full resource name. The output always has the form `projects/{project_number}/locations/{location}/spokes/{ncc_gateway}`.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Optional list of labels applied to the resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "sacRealm": {
          "description": "Required. SAC Realm which owns the attachment. This can be input as an ID or a full resource name. The output always has the form `projects/{project_number}/locations/{location}/sacRealms/{sac_realm}`.",
          "type": "string"
        },
        "country": {
          "description": "Optional. Case-insensitive ISO-3166 alpha-2 country code used for localization. Only valid for Symantec attachments.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name, in the form `projects/{project}/locations/{location}/sacAttachments/{sac_attachment}`."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the attachment was last updated."
        }
      },
      "description": "Represents a Secure Access Connect (SAC) attachment resource. A Secure Access Connect attachment enables NCC Gateway to process traffic with an SSE product."
    },
    "BackendAuthenticationConfig": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Free-text description of the resource."
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the BackendAuthenticationConfig resource. It matches the pattern `projects/*/locations/{location}/backendAuthenticationConfigs/{backend_authentication_config}`"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true
        },
        "wellKnownRoots": {
          "type": "string",
          "enumDescriptions": [
            "Equivalent to NONE.",
            "The BackendService will only validate server certificates against roots specified in TrustConfig.",
            "The BackendService uses a set of well-known public roots, in addition to any roots specified in the trustConfig field, when validating the server certificates presented by the backend. Validation with these roots is only considered when the TlsSettings.sni field in the BackendService is set. The well-known roots are a set of root CAs managed by Google. CAs in this set can be added or removed without notice."
          ],
          "description": "Well known roots to use for server certificate validation.",
          "enum": [
            "WELL_KNOWN_ROOTS_UNSPECIFIED",
            "NONE",
            "PUBLIC_ROOTS"
          ]
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created."
        },
        "etag": {
          "type": "string",
          "description": "Output only. Etag of the resource.",
          "readOnly": true
        },
        "trustConfig": {
          "description": "Optional. A reference to a TrustConfig resource from the certificatemanager.googleapis.com namespace. This is a relative resource path following the form \"projects/{project}/locations/{location}/trustConfigs/{trust_config}\". A BackendService uses the chain of trust represented by this TrustConfig, if specified, to validate the server certificates presented by the backend. Required unless wellKnownRoots is set to PUBLIC_ROOTS.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Set of label tags associated with the resource."
        },
        "clientCertificate": {
          "type": "string",
          "description": "Optional. A reference to a certificatemanager.googleapis.com.Certificate resource. This is a relative resource path following the form \"projects/{project}/locations/{location}/certificates/{certificate}\". Used by a BackendService to negotiate mTLS when the backend connection uses TLS and the backend requests a client certificate. Must have a CLIENT_AUTH scope."
        }
      },
      "id": "BackendAuthenticationConfig",
      "type": "object",
      "description": "BackendAuthenticationConfig message groups the TrustConfig together with other settings that control how the load balancer authenticates, and expresses its identity to, the backend: * `trustConfig` is the attached TrustConfig. * `wellKnownRoots` indicates whether the load balance should trust backend server certificates that are issued by public certificate authorities, in addition to certificates trusted by the TrustConfig. * `clientCertificate` is a client certificate that the load balancer uses to express its identity to the backend, if the connection to the backend uses mTLS. You can attach the BackendAuthenticationConfig to the load balancer's BackendService directly determining how that BackendService negotiates TLS."
    },
    "GoogleIamV1Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "type": "array"
        },
        "auditConfigs": {
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "GoogleIamV1Policy"
    },
    "GatewaySecurityPolicy": {
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was updated."
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the resource. Name is of the form projects/{project}/locations/{location}/gatewaySecurityPolicies/{gateway_security_policy} gateway_security_policy should match the pattern:(^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$)."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "tlsInspectionPolicy": {
          "description": "Optional. Name of a TLS Inspection Policy resource that defines how TLS inspection will be performed for any rule(s) which enables it.",
          "type": "string"
        }
      },
      "description": "The GatewaySecurityPolicy resource contains a collection of GatewaySecurityPolicyRules and associated metadata.",
      "id": "GatewaySecurityPolicy",
      "type": "object"
    },
    "AuthzPolicyAuthzRuleFromRequestSource": {
      "type": "object",
      "description": "Describes the properties of a single source.",
      "id": "AuthzPolicyAuthzRuleFromRequestSource",
      "properties": {
        "principals": {
          "type": "array",
          "description": "Optional. A list of identities derived from the client's certificate. This field will not match on a request unless frontend mutual TLS is enabled for the forwarding rule or Gateway and the client certificate has been successfully validated by mTLS. Each identity is a string whose value is matched against a list of URI SANs, DNS Name SANs, or the common name in the client's certificate. A match happens when any principal matches with the rule. Limited to 50 principals per Authorization Policy for regional internal Application Load Balancers, regional external Application Load Balancers, cross-region internal Application Load Balancers, and Cloud Service Mesh while 25 principals per Authorization Policy for global external Application Load Balancers.",
          "items": {
            "$ref": "AuthzPolicyAuthzRulePrincipal"
          }
        },
        "resources": {
          "items": {
            "$ref": "AuthzPolicyAuthzRuleRequestResource"
          },
          "description": "Optional. A list of resources to match against the resource of the source VM of a request. Limited to 10 resources per Authorization Policy.",
          "type": "array"
        },
        "ipBlocks": {
          "items": {
            "$ref": "AuthzPolicyAuthzRuleIpBlock"
          },
          "type": "array",
          "description": "Optional. A list of IP addresses or IP address ranges to match against the source IP address of the request. Limited to 10 ip_blocks per Authorization Policy"
        }
      }
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "id": "GoogleIamV1SetIamPolicyRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        },
        "policy": {
          "$ref": "GoogleIamV1Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "description": "Request message for `SetIamPolicy` method."
    },
    "AuthzPolicyAuthzRuleToRequestOperationHeaderSet": {
      "id": "AuthzPolicyAuthzRuleToRequestOperationHeaderSet",
      "properties": {
        "headers": {
          "description": "Required. A list of headers to match against in http header. The match can be one of exact, prefix, suffix, or contains (substring match). The match follows AND semantics which means all the headers must match. Matches are always case sensitive unless the ignoreCase is set. Limited to 10 headers per Authorization Policy.",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleHeaderMatch"
          }
        }
      },
      "description": "Describes a set of HTTP headers to match against.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      }
    },
    "InterceptEndpointGroupConnectedDeploymentGroup": {
      "description": "The endpoint group's view of a connected deployment group.",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "InterceptLocation"
          },
          "readOnly": true,
          "description": "Output only. The list of locations where the deployment group is present."
        },
        "name": {
          "description": "Output only. The connected deployment group's resource name, for example: `projects/123456789/locations/global/interceptDeploymentGroups/my-dg`. See https://google.aip.dev/124.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "InterceptEndpointGroupConnectedDeploymentGroup",
      "type": "object"
    },
    "ListMirroringEndpointGroupsResponse": {
      "properties": {
        "mirroringEndpointGroups": {
          "type": "array",
          "items": {
            "$ref": "MirroringEndpointGroup"
          },
          "description": "The endpoint groups from the specified parent."
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        }
      },
      "id": "ListMirroringEndpointGroupsResponse",
      "description": "Response message for ListMirroringEndpointGroups.",
      "type": "object"
    },
    "FirewallEndpointWildfireSettingsWildfireInlineCloudAnalysisSettings": {
      "id": "FirewallEndpointWildfireSettingsWildfireInlineCloudAnalysisSettings",
      "description": "Settings for WildFire inline cloud analysis.",
      "properties": {
        "submissionTimeoutLoggingDisabled": {
          "description": "Optional. Whether to disable WildFire submission log generation for files that timeout during WildFire inline cloud analysis.",
          "type": "boolean"
        },
        "timeoutAction": {
          "enumDescriptions": [
            "WildFire inline cloud analysis timeout action not specified.",
            "The files that timed out will be allowed to transmit.",
            "The files that timed out will be denied to transmit."
          ],
          "enum": [
            "WILDFIRE_INLINE_CLOUD_ANALYSIS_TIMEOUT_ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "type": "string",
          "description": "Optional. Action to take when WildFire inline cloud analysis times out. Default value is ALLOW."
        },
        "maxAnalysisDuration": {
          "format": "google-duration",
          "description": "Optional. Timeout in milliseconds on a file being held while WildFire inline cloud analysis is performed. Value between 1 to 240000 is valid. Default value is 30000.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AuthzPolicyAuthzRuleIpBlock": {
      "properties": {
        "prefix": {
          "type": "string",
          "description": "Required. The address prefix."
        },
        "length": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The length of the address range."
        }
      },
      "type": "object",
      "id": "AuthzPolicyAuthzRuleIpBlock",
      "description": "Represents a range of IP Addresses."
    },
    "InterceptDeploymentGroup": {
      "description": "A deployment group aggregates many zonal intercept backends (deployments) into a single global intercept service. Consumers can connect this service using an endpoint group.",
      "id": "InterceptDeploymentGroup",
      "type": "object",
      "properties": {
        "nestedDeployments": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of Intercept Deployments that belong to this group.",
          "items": {
            "$ref": "InterceptDeploymentGroupDeployment"
          },
          "deprecated": true
        },
        "description": {
          "description": "Optional. User-provided description of the deployment group. Used as additional context for the deployment group.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The current state of the deployment group. See https://google.aip.dev/216.",
          "type": "string",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment group is ready.",
            "The deployment group is being created.",
            "The deployment group is being deleted."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING"
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "readOnly": true,
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "Required. Immutable. The network that will be used for all child deployments, for example: `projects/{project}/global/networks/{network}`. See https://google.aip.dev/124."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The resource name of this deployment group, for example: `projects/123456789/locations/global/interceptDeploymentGroups/my-dg`. See https://google.aip.dev/122 for more details."
        },
        "labels": {
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "connectedEndpointGroups": {
          "description": "Output only. The list of endpoint groups that are connected to this resource.",
          "readOnly": true,
          "items": {
            "$ref": "InterceptDeploymentGroupConnectedEndpointGroup"
          },
          "type": "array"
        },
        "locations": {
          "readOnly": true,
          "items": {
            "$ref": "InterceptLocation"
          },
          "type": "array",
          "description": "Output only. The list of locations where the deployment group is present."
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This is part of the normal operation (e.g. adding a new deployment to the group) See https://google.aip.dev/128.",
          "readOnly": true
        }
      }
    },
    "SACAttachmentSACAttachmentSymantecOptions": {
      "properties": {
        "symantecLocationName": {
          "description": "Immutable. Name to be used when creating a location on the customer's behalf in Symantec's Location API. Not to be confused with Google Cloud locations.",
          "type": "string"
        },
        "symantecSite": {
          "description": "Immutable. Symantec data center identifier that this attachment will connect to.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SACAttachmentSACAttachmentSymantecOptions",
      "description": "Fields specific to attachments associated with Symantec Cloud SWG."
    },
    "AuthzPolicy": {
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "httpRules": {
          "description": "Optional. A list of authorization HTTP rules to match against the incoming request. A policy match occurs when at least one HTTP rule matches the request or when no HTTP rules are specified in the policy. At least one HTTP Rule is required for Allow or Deny Action. Limited to 5 rules.",
          "items": {
            "$ref": "AuthzPolicyAuthzRule"
          },
          "type": "array"
        },
        "action": {
          "enum": [
            "AUTHZ_ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY",
            "CUSTOM"
          ],
          "enumDescriptions": [
            "Unspecified action.",
            "Allow request to pass through to the backend.",
            "Deny the request and return a HTTP 404 to the client.",
            "Delegate the authorization decision to an external authorization engine."
          ],
          "type": "string",
          "description": "Required. Can be one of `ALLOW`, `DENY`, `CUSTOM`. When the action is `CUSTOM`, `customProvider` must be specified. When the action is `ALLOW`, only requests matching the policy will be allowed. When the action is `DENY`, only requests matching the policy will be denied. When a request arrives, the policies are evaluated in the following order: 1. If there is a `CUSTOM` policy that matches the request, the `CUSTOM` policy is evaluated using the custom authorization providers and the request is denied if the provider rejects the request. 2. If there are any `DENY` policies that match the request, the request is denied. 3. If there are no `ALLOW` policies for the resource or if any of the `ALLOW` policies match the request, the request is allowed. 4. Else the request is denied by default if none of the configured AuthzPolicies with `ALLOW` action match the request."
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. Name of the `AuthzPolicy` resource in the following format: `projects/{project}/locations/{location}/authzPolicies/{authz_policy}`."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of labels associated with the `AuthzPolicy` resource. The format must comply with [the following requirements](/compute/docs/labeling-resources#requirements).",
          "type": "object"
        },
        "description": {
          "type": "string",
          "description": "Optional. A human-readable description of the resource."
        },
        "target": {
          "description": "Required. Specifies the set of resources to which this policy should be applied to.",
          "$ref": "AuthzPolicyTarget"
        },
        "policyProfile": {
          "description": "Optional. Immutable. Defines the type of authorization being performed. If not specified, `REQUEST_AUTHZ` is applied. This field cannot be changed once AuthzPolicy is created.",
          "enum": [
            "POLICY_PROFILE_UNSPECIFIED",
            "REQUEST_AUTHZ",
            "CONTENT_AUTHZ"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified policy profile.",
            "Applies to request authorization. `CUSTOM` authorization policies with Authz extensions will be allowed with `EXT_AUTHZ_GRPC` or `EXT_PROC_GRPC` protocols. Extensions are invoked only for request header events.",
            "Applies to content security, sanitization, etc. Only `CUSTOM` action is allowed in this policy profile. AuthzExtensions in the custom provider must support `EXT_PROC_GRPC` protocol only and be capable of receiving all `EXT_PROC_GRPC` events (REQUEST_HEADERS, REQUEST_BODY, REQUEST_TRAILERS, RESPONSE_HEADERS, RESPONSE_BODY, RESPONSE_TRAILERS) with `FULL_DUPLEX_STREAMED` body send mode."
          ]
        },
        "networkRules": {
          "items": {
            "$ref": "AuthzPolicyAuthzRule"
          },
          "description": "Optional. A list of authorization network rules to match against the incoming request. A policy match occurs when at least one network rule matches the request. At least one network rule is required for Allow or Deny Action if no HTTP rules are provided. Network rules are mutually exclusive with HTTP rules. Limited to 5 rules.",
          "type": "array"
        },
        "customProvider": {
          "description": "Optional. Required if the action is `CUSTOM`. Allows delegating authorization decisions to Cloud IAP or to Service Extensions. One of `cloudIap` or `authzExtension` must be specified.",
          "$ref": "AuthzPolicyCustomProvider"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "`AuthzPolicy` is a resource that allows to forward traffic to a callout backend designed to scan the traffic for security purposes.",
      "id": "AuthzPolicy"
    },
    "ListFirewallEndpointAssociationsResponse": {
      "description": "Message for response to listing Associations",
      "type": "object",
      "id": "ListFirewallEndpointAssociationsResponse",
      "properties": {
        "firewallEndpointAssociations": {
          "description": "The list of Association",
          "type": "array",
          "items": {
            "$ref": "FirewallEndpointAssociation"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "MirroringDeployment": {
      "properties": {
        "labels": {
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps."
        },
        "description": {
          "description": "Optional. User-provided description of the deployment. Used as additional context for the deployment.",
          "type": "string"
        },
        "forwardingRule": {
          "description": "Required. Immutable. The regional forwarding rule that fronts the mirroring collectors, for example: `projects/123456789/regions/us-central1/forwardingRules/my-rule`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps."
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This part of the normal operation (e.g. linking a new association to the parent group). See https://google.aip.dev/128.",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The current state of the deployment. See https://google.aip.dev/216.",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment is ready and in sync with the parent group.",
            "The deployment is being created.",
            "The deployment is being deleted.",
            "The deployment is out of sync with the parent group. In most cases, this is a result of a transient issue within the system (e.g. a delayed data-path config) and the system is expected to recover automatically. See the parent deployment group's state for more details.",
            "An attempt to delete the deployment has failed. This is a terminal state and the deployment is not expected to recover. The only permitted operation is to retry deleting the deployment."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "readOnly": true
        },
        "mirroringDeploymentGroup": {
          "type": "string",
          "description": "Required. Immutable. The deployment group that this deployment is a part of, for example: `projects/123456789/locations/global/mirroringDeploymentGroups/my-dg`. See https://google.aip.dev/124."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The resource name of this deployment, for example: `projects/123456789/locations/us-central1-a/mirroringDeployments/my-dep`. See https://google.aip.dev/122 for more details."
        }
      },
      "id": "MirroringDeployment",
      "description": "A deployment represents a zonal mirroring backend ready to accept GENEVE-encapsulated replica traffic, e.g. a zonal instance group fronted by an internal passthrough load balancer. Deployments are always part of a global deployment group which represents a global mirroring service.",
      "type": "object"
    },
    "MTLSPolicy": {
      "description": "Specification of the MTLSPolicy.",
      "id": "MTLSPolicy",
      "type": "object",
      "properties": {
        "clientValidationMode": {
          "enumDescriptions": [
            "Not allowed.",
            "Allow connection even if certificate chain validation of the client certificate failed or no client certificate was presented. The proof of possession of the private key is always checked if client certificate was presented. This mode requires the backend to implement processing of data extracted from a client certificate to authenticate the peer, or to reject connections if the client certificate fingerprint is missing.",
            "Require a client certificate and allow connection to the backend only if validation of the client certificate passed. If set, requires a reference to non-empty TrustConfig specified in `client_validation_trust_config`."
          ],
          "type": "string",
          "description": "When the client presents an invalid certificate or no certificate to the load balancer, the `client_validation_mode` specifies how the client connection is handled. Required if the policy is to be used with the Application Load Balancers. For Traffic Director it must be empty.",
          "enum": [
            "CLIENT_VALIDATION_MODE_UNSPECIFIED",
            "ALLOW_INVALID_OR_MISSING_CLIENT_CERT",
            "REJECT_INVALID"
          ]
        },
        "clientValidationTrustConfig": {
          "description": "Reference to the TrustConfig from certificatemanager.googleapis.com namespace. If specified, the chain validation will be performed against certificates configured in the given TrustConfig. Allowed only if the policy is to be used with Application Load Balancers.",
          "type": "string"
        },
        "clientValidationCa": {
          "items": {
            "$ref": "ValidationCA"
          },
          "description": "Required if the policy is to be used with Traffic Director. For Application Load Balancers it must be empty. Defines the mechanism to obtain the Certificate Authority certificate to validate the client certificate.",
          "type": "array"
        }
      }
    },
    "RemoveAddressGroupItemsRequest": {
      "type": "object",
      "id": "RemoveAddressGroupItemsRequest",
      "description": "Request used by the RemoveAddressGroupItems method.",
      "properties": {
        "items": {
          "type": "array",
          "description": "Required. List of items to remove.",
          "items": {
            "type": "string"
          }
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      }
    },
    "ListBackendAuthenticationConfigsResponse": {
      "id": "ListBackendAuthenticationConfigsResponse",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "backendAuthenticationConfigs": {
          "description": "List of BackendAuthenticationConfig resources.",
          "items": {
            "$ref": "BackendAuthenticationConfig"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "description": "Response returned by the ListBackendAuthenticationConfigs method.",
      "type": "object"
    },
    "ListTlsInspectionPoliciesResponse": {
      "type": "object",
      "description": "Response returned by the ListTlsInspectionPolicies method.",
      "id": "ListTlsInspectionPoliciesResponse",
      "properties": {
        "tlsInspectionPolicies": {
          "description": "List of TlsInspectionPolicies resources.",
          "type": "array",
          "items": {
            "$ref": "TlsInspectionPolicy"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then 'next_page_token' is included. To get the next set of results, call this method again using the value of 'next_page_token' as 'page_token'."
        }
      }
    },
    "WildfireInlineMlSettingsInlineMlConfig": {
      "id": "WildfireInlineMlSettingsInlineMlConfig",
      "type": "object",
      "description": "Configuration for WildFire Inline ML analysis per file type.",
      "properties": {
        "fileType": {
          "type": "string",
          "enumDescriptions": [
            "Inline ML config not specified.",
            "Enable machine learning engine to dynamically detect malicious PE files.",
            "Enable machine learning engine to dynamically identify malicious PowerShell scripts with known length.",
            "Enable machine learning engine to dynamically identify malicious PowerShell script without known length.",
            "Enable machine learning engine to dynamically detect malicious ELF files.",
            "Enable machine learning engine to dynamically detect malicious MSOffice (97-03) files.",
            "Enable machine learning engine to dynamically detect malicious Shell files.",
            "Enable machine learning engine to dynamically detect malicious Open Office XML files.",
            "Enable machine learning engine to dynamically detect malicious Mach-O files."
          ],
          "enum": [
            "INLINE_ML_CONFIG_UNSPECIFIED",
            "WINDOWS_EXECUTABLE",
            "POWERSHELL_SCRIPT1",
            "POWERSHELL_SCRIPT2",
            "ELF",
            "MS_OFFICE",
            "SHELL",
            "OOXML",
            "MACHO"
          ],
          "description": "Required. File type to configure Inline ML for."
        },
        "action": {
          "enumDescriptions": [
            "Inline ML threat action not specified.",
            "Disable WildFire Inline ML for the associated file type.",
            "Enable WildFire Inline ML for the associated file type. Overrides any protocol level settings with action stricter than ALERT to ALERT so that the malicious files detected generate a threat log to the consumer project but are not blocked.",
            "Enable WildFire Inline ML for the associated file type, malicious files detected will be blocked."
          ],
          "enum": [
            "INLINE_ML_ACTION_UNSPECIFIED",
            "DISABLE",
            "ALERT",
            "ENABLE"
          ],
          "type": "string",
          "description": "Required. Action to take when a threat is detected using Inline ML."
        }
      }
    },
    "ClientTlsPolicy": {
      "id": "ClientTlsPolicy",
      "type": "object",
      "description": "ClientTlsPolicy is a resource that specifies how a client should authenticate connections to backends of a service. This resource itself does not affect configuration unless it is attached to a backend service resource.",
      "properties": {
        "labels": {
          "description": "Optional. Set of label tags associated with the resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "serverValidationCa": {
          "description": "Optional. Defines the mechanism to obtain the Certificate Authority certificate to validate the server certificate. If empty, client does not validate the server certificate.",
          "type": "array",
          "items": {
            "$ref": "ValidationCA"
          }
        },
        "name": {
          "description": "Required. Name of the ClientTlsPolicy resource. It matches the pattern `projects/{project}/locations/{location}/clientTlsPolicies/{client_tls_policy}`",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string",
          "readOnly": true
        },
        "sni": {
          "description": "Optional. Server Name Indication string to present to the server during TLS handshake. E.g: \"secure.example.com\".",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "clientCertificate": {
          "$ref": "GoogleCloudNetworksecurityV1beta1CertificateProvider",
          "description": "Optional. Defines a mechanism to provision client identity (public and private keys) for peer to peer authentication. The presence of this dictates mTLS."
        },
        "description": {
          "type": "string",
          "description": "Optional. Free-text description of the resource."
        }
      }
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      }
    },
    "ListInterceptDeploymentGroupsResponse": {
      "type": "object",
      "description": "Response message for ListInterceptDeploymentGroups.",
      "properties": {
        "interceptDeploymentGroups": {
          "items": {
            "$ref": "InterceptDeploymentGroup"
          },
          "type": "array",
          "description": "The deployment groups from the specified parent."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details."
        }
      },
      "id": "ListInterceptDeploymentGroupsResponse"
    },
    "WildfireThreatOverride": {
      "type": "object",
      "properties": {
        "threatId": {
          "description": "Required. Threat ID to match.",
          "type": "string"
        },
        "action": {
          "type": "string",
          "description": "Required. Threat action override.",
          "enum": [
            "WILDFIRE_THREAT_ACTION_UNSPECIFIED",
            "WILDFIRE_DEFAULT_ACTION",
            "WILDFIRE_ALLOW",
            "WILDFIRE_ALERT",
            "WILDFIRE_DENY"
          ],
          "enumDescriptions": [
            "Threat action not specified.",
            "The default action (as specified by the vendor) is taken.",
            "The packet matching this rule will be allowed to transmit.",
            "The packet matching this rule will be allowed to transmit, but a threat_log entry will be sent to the consumer project.",
            "The packet matching this rule will be dropped, and a threat_log entry will be sent to the consumer project."
          ]
        }
      },
      "description": "Defines what action to take for a specific WildFire threat_id match.",
      "id": "WildfireThreatOverride"
    },
    "OperationMetadata": {
      "properties": {
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        }
      },
      "type": "object",
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation."
    },
    "AuthzPolicyAuthzRuleToRequestOperationMCPMethod": {
      "id": "AuthzPolicyAuthzRuleToRequestOperationMCPMethod",
      "description": "Describes a set of MCP methods to match against.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The MCP method to match against. Allowed values are as follows: 1. `tools`, `prompts`, `resources` - these will match against all sub methods under the respective methods. 2. `prompts/list`, `tools/list`, `resources/list`, `resources/templates/list` 3. `prompts/get`, `tools/call`, `resources/subscribe`, `resources/unsubscribe`, `resources/read` Params cannot be specified for categories 1 and 2."
        },
        "params": {
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          },
          "type": "array",
          "description": "Optional. A list of MCP method parameters to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set. Limited to 10 MCP method parameters per Authorization Policy."
        }
      }
    },
    "SACRealm": {
      "id": "SACRealm",
      "properties": {
        "labels": {
          "description": "Optional. Optional list of labels applied to the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the realm was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name, in the form `projects/{project}/locations/global/sacRealms/{sacRealm}`."
        },
        "symantecOptions": {
          "description": "Optional. Configuration required for Symantec realms.",
          "$ref": "SACRealmSACRealmSymantecOptions"
        },
        "pairingKey": {
          "$ref": "SACRealmPairingKey",
          "readOnly": true,
          "description": "Output only. Key to be shared with SSE service provider during pairing."
        },
        "updateTime": {
          "description": "Output only. Timestamp when the realm was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "description": "Output only. State of the realm.",
          "enumDescriptions": [
            "No state specified. This should not be used.",
            "Has never been attached to a partner. Used only for Prisma Access.",
            "Currently attached to a partner.",
            "Was once attached to a partner but has been detached.",
            "Is not attached to a partner and has an expired pairing key. Used only for Prisma Access."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING_PARTNER_ATTACHMENT",
            "PARTNER_ATTACHED",
            "PARTNER_DETACHED",
            "KEY_EXPIRED"
          ]
        },
        "securityService": {
          "type": "string",
          "description": "Immutable. SSE service provider associated with the realm.",
          "enum": [
            "SECURITY_SERVICE_UNSPECIFIED",
            "PALO_ALTO_PRISMA_ACCESS",
            "SYMANTEC_CLOUD_SWG"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "[Palo Alto Networks Prisma Access](https://www.paloaltonetworks.com/sase/access).",
            "Symantec Cloud SWG."
          ]
        }
      },
      "type": "object",
      "description": "Represents a Secure Access Connect (SAC) realm resource. A Secure Access Connect realm establishes a connection between your Google Cloud project and an SSE service."
    },
    "AuthzPolicyAuthzRuleFrom": {
      "properties": {
        "sources": {
          "description": "Optional. Describes the properties of a request's sources. At least one of sources or notSources must be specified. Limited to 1 source. A match occurs when ANY source (in sources or notSources) matches the request. Within a single source, the match follows AND semantics across fields and OR semantics within a single field, i.e. a match occurs when ANY principal matches AND ANY ipBlocks match.",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleFromRequestSource"
          },
          "type": "array"
        },
        "notSources": {
          "items": {
            "$ref": "AuthzPolicyAuthzRuleFromRequestSource"
          },
          "type": "array",
          "description": "Optional. Describes the negated properties of request sources. Matches requests from sources that do not match the criteria specified in this field. At least one of sources or notSources must be specified."
        }
      },
      "id": "AuthzPolicyAuthzRuleFrom",
      "description": "Describes properties of one or more sources of a request.",
      "type": "object"
    },
    "ListAddressGroupReferencesResponseAddressGroupReference": {
      "properties": {
        "securityPolicy": {
          "description": "Cloud Armor SecurityPolicy that is using the Address Group.",
          "type": "string"
        },
        "firewallPolicy": {
          "description": "FirewallPolicy that is using the Address Group.",
          "type": "string"
        },
        "rulePriority": {
          "type": "integer",
          "format": "int32",
          "description": "Rule priority of the FirewallPolicy that is using the Address Group."
        }
      },
      "description": "The Reference of AddressGroup.",
      "type": "object",
      "id": "ListAddressGroupReferencesResponseAddressGroupReference"
    },
    "ListInterceptEndpointGroupAssociationsResponse": {
      "id": "ListInterceptEndpointGroupAssociationsResponse",
      "description": "Response message for ListInterceptEndpointGroupAssociations.",
      "type": "object",
      "properties": {
        "interceptEndpointGroupAssociations": {
          "description": "The associations from the specified parent.",
          "type": "array",
          "items": {
            "$ref": "InterceptEndpointGroupAssociation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details."
        }
      }
    },
    "AddAddressGroupItemsRequest": {
      "description": "Request used by the AddAddressGroupItems method.",
      "id": "AddAddressGroupItemsRequest",
      "properties": {
        "items": {
          "type": "array",
          "description": "Required. List of items to add.",
          "items": {
            "type": "string"
          }
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListAddressGroupsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "addressGroups": {
          "description": "List of AddressGroups resources.",
          "type": "array",
          "items": {
            "$ref": "AddressGroup"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListAddressGroupsResponse",
      "description": "Response returned by the ListAddressGroups method."
    },
    "SACRealmPairingKey": {
      "properties": {
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp in UTC of when this resource is considered expired. It expires 7 days after creation.",
          "readOnly": true
        },
        "key": {
          "description": "Output only. Key value.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Key to be shared with SSE service provider to establish global handshake.",
      "id": "SACRealmPairingKey"
    },
    "AuthzPolicyAuthzRuleTo": {
      "description": "Describes properties of one or more targets of a request.",
      "id": "AuthzPolicyAuthzRuleTo",
      "type": "object",
      "properties": {
        "operations": {
          "description": "Optional. Describes properties of one or more targets of a request. At least one of operations or notOperations must be specified. Limited to 1 operation. A match occurs when ANY operation (in operations or notOperations) matches. Within an operation, the match follows AND semantics across fields and OR semantics within a field, i.e. a match occurs when ANY path matches AND ANY header matches and ANY method matches.",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleToRequestOperation"
          }
        },
        "notOperations": {
          "description": "Optional. Describes the negated properties of the targets of a request. Matches requests for operations that do not match the criteria specified in this field. At least one of operations or notOperations must be specified.",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleToRequestOperation"
          },
          "type": "array"
        }
      }
    },
    "WildfireSubmissionRuleCustomFileTypes": {
      "description": "The options to submit a custom list of file types for scan.",
      "id": "WildfireSubmissionRuleCustomFileTypes",
      "type": "object",
      "properties": {
        "fileTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "FILE_TYPE_UNSPECIFIED",
              "APK",
              "ARCHIVE",
              "EMAIL_LINK",
              "FLASH",
              "JAR",
              "LINUX",
              "MS_OFFICE",
              "PDF",
              "PE",
              "SCRIPT"
            ],
            "enumDescriptions": [
              "File type not specified.",
              "Android Application Package (APK) files.",
              "Roshal Archive (RAR) and 7-Zip (7z) archive files.",
              "HTTP/HTTPS links contained in SMTP and POP3 email messages.",
              "Adobe Flash applets and Flash content embedded in web pages.",
              "Java applets (JAR/class files types).",
              "Executable and Linkable Format (ELF) files.",
              "Files used by Microsoft Office.",
              "Portable Document Format (PDF) files.",
              "Portable Executable (PE) files.",
              "Various script files. Jscript (JS), VBScript (VBS), PowerShell Scripts (PS1), Batch (BAT), HTML Application (HTA)."
            ]
          },
          "description": "Required. File types to be submitted for WildFire analysis."
        }
      }
    },
    "DnsThreatDetector": {
      "properties": {
        "labels": {
          "description": "Optional. Any labels associated with the DnsThreatDetector, listed as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provider": {
          "enumDescriptions": [
            "An unspecified provider.",
            "The Infoblox DNS threat detector provider."
          ],
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "INFOBLOX"
          ],
          "description": "Required. The provider used for DNS threat analysis.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Update time stamp.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. Name of the DnsThreatDetector resource."
        },
        "excludedNetworks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of network resource names which aren't monitored by this DnsThreatDetector. Example: `projects/PROJECT_ID/global/networks/NETWORK_NAME`."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Create time stamp.",
          "readOnly": true
        }
      },
      "id": "DnsThreatDetector",
      "type": "object",
      "description": "A DNS threat detector sends DNS query logs to a _provider_ that then analyzes the logs to identify threat events in the DNS queries. By default, all VPC networks in your projects are included. You can exclude specific networks by supplying `excluded_networks`."
    },
    "InterceptEndpointGroup": {
      "id": "InterceptEndpointGroup",
      "description": "An endpoint group is a consumer frontend for a deployment group (backend). In order to configure intercept for a network, consumers must create: - An association between their network and the endpoint group. - A security profile that points to the endpoint group. - A firewall rule that references the security profile (group).",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The endpoint group is ready and in sync with the target deployment group.",
            "The deployment group backing this endpoint group has been force-deleted. This endpoint group cannot be used and interception is effectively disabled.",
            "The endpoint group is being created.",
            "The endpoint group is being deleted.",
            "The endpoint group is out of sync with the backing deployment group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. See the associations field for details per network and location.",
            "An attempt to delete the endpoint group has failed. This is a terminal state and the endpoint group is not expected to recover. The only permitted operation is to retry deleting the endpoint group."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CLOSED",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "description": "Output only. The current state of the endpoint group. See https://google.aip.dev/216."
        },
        "interceptDeploymentGroup": {
          "type": "string",
          "description": "Required. Immutable. The deployment group that this endpoint group is connected to, for example: `projects/123456789/locations/global/interceptDeploymentGroups/my-dg`. See https://google.aip.dev/124."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps."
        },
        "associations": {
          "items": {
            "$ref": "InterceptEndpointGroupAssociationDetails"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of associations to this endpoint group."
        },
        "reconciling": {
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This is part of the normal operation (e.g. adding a new association to the group). See https://google.aip.dev/128.",
          "type": "boolean",
          "readOnly": true
        },
        "connectedDeploymentGroup": {
          "readOnly": true,
          "$ref": "InterceptEndpointGroupConnectedDeploymentGroup",
          "description": "Output only. Details about the connected deployment group to this endpoint group."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. User-provided description of the endpoint group. Used as additional context for the endpoint group.",
          "type": "string"
        },
        "name": {
[...]
