{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "NetworkServices",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://networkservices.googleapis.com/",
  "kind": "discovery#restDescription",
  "name": "networkservices",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/networking",
  "servicePath": "",
  "schemas": {
    "ExtensionBindingMatchConditionTo": {
      "id": "ExtensionBindingMatchConditionTo",
      "properties": {
        "destination": {
          "description": "Optional. Describes properties of the destination of a request. A request matches the destination only if it matches every field that is set. Fields that are not set are always considered a match. For example, if only `hosts` and `paths` are set, a request matches when any host matches and any path matches. At least one of `destination` or `not_destination` must be specified.",
          "$ref": "ExtensionBindingMatchConditionToDestination"
        },
        "notDestination": {
          "$ref": "ExtensionBindingMatchConditionToDestination",
          "description": "Optional. Describes the negated properties of the request destination. Extension will not be invoked on requests that match the criteria specified in this field. At least one of destination or not_destination must be specified."
        }
      },
      "type": "object",
      "description": "Describes properties of one or more destinations of a request."
    },
    "TcpRoute": {
      "description": "TcpRoute is the resource defining how TCP traffic should be routed by a Mesh/Gateway resource.",
      "id": "TcpRoute",
      "properties": {
        "selfLink": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined URL of this resource"
        },
        "rules": {
          "description": "Required. Rules that define how traffic is routed and handled. At least one RouteRule must be supplied. If there are multiple rules then the action taken will be the first rule to match.",
          "type": "array",
          "items": {
            "$ref": "TcpRouteRouteRule"
          }
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "meshes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Meshes defines a list of meshes this TcpRoute is attached to, as one of the routing rules to route the requests served by the mesh. Each mesh reference should match the pattern: `projects/*/locations/*/meshes/` The attached Mesh should be of a type SIDECAR"
        },
        "name": {
          "description": "Identifier. Name of the TcpRoute resource. It matches pattern `projects/*/locations/*/tcpRoutes/tcp_route_name>`.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true
        },
        "gateways": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Gateways defines a list of gateways this TcpRoute is attached to, as one of the routing rules to route the requests served by the gateway. Each gateway reference should match the pattern: `projects/*/locations/*/gateways/`",
          "type": "array"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of label tags associated with the TcpRoute resource.",
          "type": "object"
        }
      },
      "type": "object"
    },
    "HttpRouteRequestMirrorPolicy": {
      "description": "Specifies the policy on how requests are shadowed to a separate mirrored destination service. The proxy does not wait for responses from the shadow service. Prior to sending traffic to the shadow service, the host/authority header is suffixed with -shadow. Mirroring is currently not supported for Cloud Run destinations.",
      "properties": {
        "mirrorPercent": {
          "format": "float",
          "type": "number",
          "description": "Optional. The percentage of requests to get mirrored to the desired destination."
        },
        "destination": {
          "$ref": "HttpRouteDestination",
          "description": "The destination the requests will be mirrored to. The weight of the destination will be ignored."
        }
      },
      "id": "HttpRouteRequestMirrorPolicy",
      "type": "object"
    },
    "AgentGatewayAgentGatewayOutputCard": {
      "id": "AgentGatewayAgentGatewayOutputCard",
      "properties": {
        "rootCertificates": {
          "description": "Output only. Root Certificates for Agents to validate this AgentGateway",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "serviceExtensionsServiceAccount": {
          "description": "Output only. Service Account used by Service Extensions to operate.",
          "readOnly": true,
          "type": "string"
        },
        "mtlsEndpoint": {
          "description": "Output only. mTLS Endpoint associated with this AgentGateway",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "AgentGatewayOutputCard contains informational output-only fields"
    },
    "ListAuthzExtensionsResponse": {
      "description": "Message for response to listing `AuthzExtension` resources.",
      "type": "object",
      "id": "ListAuthzExtensionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results that the server returns.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "authzExtensions": {
          "items": {
            "$ref": "AuthzExtension"
          },
          "type": "array",
          "description": "The list of `AuthzExtension` resources."
        }
      }
    },
    "ListLbEdgeExtensionsResponse": {
      "type": "object",
      "id": "ListLbEdgeExtensionsResponse",
      "properties": {
        "lbEdgeExtensions": {
          "type": "array",
          "description": "The list of `LbEdgeExtension` resources.",
          "items": {
            "$ref": "LbEdgeExtension"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results that the server returns."
        }
      },
      "description": "Message for response to listing `LbEdgeExtension` resources."
    },
    "ListWasmPluginVersionsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unreachable resources. Populated when the request attempts to list all resources across all supported locations, while some locations are temporarily unavailable."
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "wasmPluginVersions": {
          "type": "array",
          "description": "List of `WasmPluginVersion` resources.",
          "items": {
            "$ref": "WasmPluginVersion"
          }
        }
      },
      "id": "ListWasmPluginVersionsResponse",
      "type": "object",
      "description": "Response returned by the `ListWasmPluginVersions` method."
    },
    "HttpRouteURLRewrite": {
      "id": "HttpRouteURLRewrite",
      "type": "object",
      "properties": {
        "pathPrefixRewrite": {
          "type": "string",
          "description": "Prior to forwarding the request to the selected destination, the matching portion of the requests path is replaced by this value."
        },
        "hostRewrite": {
          "type": "string",
          "description": "Prior to forwarding the request to the selected destination, the requests host header is replaced by this value."
        }
      },
      "description": "The specification for modifying the URL of the request, prior to forwarding the request to the destination."
    },
    "MetadataLabelMatcher": {
      "id": "MetadataLabelMatcher",
      "type": "object",
      "description": "The matcher that is based on node metadata presented by xDS clients.",
      "properties": {
        "metadataLabelMatchCriteria": {
          "enumDescriptions": [
            "Default value. Should not be used.",
            "At least one of the Labels specified in the matcher should match the metadata presented by xDS client.",
            "The metadata presented by the xDS client should contain all of the labels specified here."
          ],
          "description": "Specifies how matching should be done. Supported values are: MATCH_ANY: At least one of the Labels specified in the matcher should match the metadata presented by xDS client. MATCH_ALL: The metadata presented by the xDS client should contain all of the labels specified here. The selection is determined based on the best match. For example, suppose there are three EndpointPolicy resources P1, P2 and P3 and if P1 has a the matcher as MATCH_ANY , P2 has MATCH_ALL , and P3 has MATCH_ALL . If a client with label connects, the config from P1 will be selected. If a client with label connects, the config from P2 will be selected. If a client with label connects, the config from P3 will be selected. If there is more than one best match, (for example, if a config P4 with selector exists and if a client with label connects), pick up the one with older creation time.",
          "type": "string",
          "enum": [
            "METADATA_LABEL_MATCH_CRITERIA_UNSPECIFIED",
            "MATCH_ANY",
            "MATCH_ALL"
          ]
        },
        "metadataLabels": {
          "items": {
            "$ref": "MetadataLabels"
          },
          "type": "array",
          "description": "The list of label value pairs that must match labels in the provided metadata based on filterMatchCriteria This list can have at most 64 entries. The list can be empty if the match criteria is MATCH_ANY, to specify a wildcard match (i.e this matches any client)."
        }
      }
    },
    "ServiceLbPolicyFailoverConfig": {
      "type": "object",
      "id": "ServiceLbPolicyFailoverConfig",
      "properties": {
        "failoverHealthThreshold": {
          "format": "int32",
          "description": "Optional. The percentage threshold that a load balancer will begin to send traffic to failover backends. If the percentage of endpoints in a MIG/NEG is smaller than this value, traffic would be sent to failover backends if possible. This field should be set to a value between 1 and 99. The default value is 50 for Global external HTTP(S) load balancer (classic) and Proxyless service mesh, and 70 for others.",
          "type": "integer"
        }
      },
      "description": "Option to specify health based failover behavior. This is not related to Network load balancer FailoverPolicy."
    },
    "CdnEdgeExtensionTarget": {
      "description": "Specifies the set of targets to which `CdnEdgeExtension` should be applied to.",
      "type": "object",
      "id": "CdnEdgeExtensionTarget",
      "properties": {
        "resources": {
          "description": "Required. A list of references to the resources that are targeted by `CdnEdgeExtension`. Types of resources supported: `EdgeCacheService`. The format must be the full resource name of [EdgeCacheService](https://cloud.google.com/media-cdn/docs/reference/rest/v1/projects.locations.edgeCacheServices) in the following format: `//networkservices.googleapis.com/projects/{project}/locations/{location}/edgeCacheServices/{edgeCacheService}`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "WasmPluginVersionDetails": {
      "description": "Details of a `WasmPluginVersion` resource to be inlined in the `WasmPlugin` resource.",
      "type": "object",
      "properties": {
        "pluginConfigData": {
          "type": "string",
          "description": "Configuration for the plugin. The configuration is provided to the plugin at runtime through the `ON_CONFIGURE` callback. When a new `WasmPluginVersion` version is created, the digest of the contents is saved in the `plugin_config_digest` field.",
          "format": "byte"
        },
        "description": {
          "type": "string",
          "description": "Optional. A human-readable description of the resource."
        },
        "pluginConfigUri": {
          "type": "string",
          "description": "URI of the plugin configuration stored in the Artifact Registry. The configuration is provided to the plugin at runtime through the `ON_CONFIGURE` callback. The URI can refer to one of the following repository formats: * Container images: the `plugin_config_uri` must point to a container that contains a single file with the name `plugin.config`. When a new `WasmPluginVersion` resource is created, the digest of the image is saved in the `plugin_config_digest` field. When pulling a container image from Artifact Registry, the digest value is used instead of an image tag. * Generic artifacts: the `plugin_config_uri` must be in this format: `projects/{project}/locations/{location}/repositories/{repository}/ genericArtifacts/{package}:{version}`. The specified package and version must contain a file with the name `plugin.config`. When a new `WasmPluginVersion` resource is created, the checksum of the contents of the file is saved in the `plugin_config_digest` field."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was updated."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Set of labels associated with the `WasmPluginVersion` resource."
        },
        "imageUri": {
          "description": "Optional. URI of the image containing the Wasm module, stored in Artifact Registry. The URI can refer to one of the following repository formats: * Container images: the `image_uri` must point to a container that contains a single file with the name `plugin.wasm`. When a new `WasmPluginVersion` resource is created, the digest of the image is saved in the `image_digest` field. When pulling a container image from Artifact Registry, the digest value is used instead of an image tag. * Generic artifacts: the `image_uri` must be in this format: `projects/{project}/locations/{location}/repositories/{repository}/ genericArtifacts/{package}:{version}`. The specified package and version must contain a file with the name `plugin.wasm`. When a new `WasmPluginVersion` resource is created, the checksum of the contents of the file is saved in the `image_digest` field.",
          "type": "string"
        },
        "imageDigest": {
          "description": "Output only. This field holds the digest (usually checksum) value for the plugin image. The value is calculated based on the `image_uri` field. If the `image_uri` field refers to a container image, the digest value is obtained from the container image. If the `image_uri` field refers to a generic artifact, the digest value is calculated based on the contents of the file.",
          "readOnly": true,
          "type": "string"
        },
        "pluginConfigDigest": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This field holds the digest (usually checksum) value for the plugin configuration. The value is calculated based on the contents of `plugin_config_data` field or the image defined by the `plugin_config_uri` field."
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "WasmPluginVersionDetails"
    },
    "ListLbTcpExtensionsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results that the server returns."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "lbTcpExtensions": {
          "description": "The list of `LbTcpExtension` resources.",
          "type": "array",
          "items": {
            "$ref": "LbTcpExtension"
          }
        }
      },
      "description": "Message for response to listing `LbTcpExtension` resources.",
      "id": "ListLbTcpExtensionsResponse"
    },
    "EndpointPolicy": {
      "type": "object",
      "description": "EndpointPolicy is a resource that helps apply desired configuration on the endpoints that match specific criteria. For example, this resource can be used to apply \"authentication config\" an all endpoints that serve on port 8080.",
      "id": "EndpointPolicy",
      "properties": {
        "name": {
          "description": "Identifier. Name of the EndpointPolicy resource. It matches pattern `projects/{project}/locations/*/endpointPolicies/{endpoint_policy}`.",
          "type": "string"
        },
        "clientTlsPolicy": {
          "deprecated": true,
          "description": "Optional. Deprecated: This field is not used and is a no-op. A URL referring to a ClientTlsPolicy resource. ClientTlsPolicy can be set to specify the authentication for traffic from the proxy to the actual endpoints. More specifically, it is applied to the outgoing traffic from the proxy to the endpoint. This is typically used for sidecar model where the proxy identifies itself as endpoint to the control plane, with the connection between sidecar and endpoint requiring authentication. If this field is not set, authentication is disabled(open). Applicable only when EndpointPolicyType is SIDECAR_PROXY.",
          "type": "string"
        },
        "authorizationPolicy": {
          "description": "Optional. This field specifies the URL of AuthorizationPolicy resource that applies authorization policies to the inbound traffic at the matched endpoints. Refer to Authorization. If this field is not specified, authorization is disabled(no authz checks) for this endpoint.",
          "type": "string"
        },
        "securityPolicy": {
          "type": "string",
          "description": "Optional. A URL referring to a SecurityPolicy resource. SecurityPolicy is used to enforce rate limiting policy on the inbound traffic at the identified backends. If this field is not set, rate limiting is disabled for this endpoint."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "endpointMatcher": {
          "$ref": "EndpointMatcher",
          "description": "Required. A matcher that selects endpoints to which the policies should be applied."
        },
        "serverTlsPolicy": {
          "description": "Optional. A URL referring to ServerTlsPolicy resource. ServerTlsPolicy is used to determine the authentication policy to be applied to terminate the inbound traffic at the identified backends. If this field is not set, authentication is disabled(open) for this endpoint.",
          "type": "string"
        },
        "type": {
          "enum": [
            "ENDPOINT_POLICY_TYPE_UNSPECIFIED",
            "SIDECAR_PROXY",
            "GRPC_SERVER"
          ],
          "enumDescriptions": [
            "Default value. Must not be used.",
            "Represents a proxy deployed as a sidecar.",
            "Represents a proxyless gRPC backend."
          ],
          "description": "Required. The type of endpoint policy. This is primarily used to validate the configuration.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the EndpointPolicy resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "trafficPortSelector": {
          "description": "Optional. Port selector for the (matched) endpoints. If no port selector is provided, the matched config is applied to all ports.",
          "$ref": "TrafficPortSelector"
        }
      }
    },
    "ListLbTrafficExtensionsResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results that the server returns.",
          "type": "string"
        },
        "lbTrafficExtensions": {
          "type": "array",
          "description": "The list of `LbTrafficExtension` resources.",
          "items": {
            "$ref": "LbTrafficExtension"
          }
        }
      },
      "id": "ListLbTrafficExtensionsResponse",
      "description": "Message for response to listing `LbTrafficExtension` resources.",
      "type": "object"
    },
    "TlsRouteRouteAction": {
      "type": "object",
      "properties": {
        "destinations": {
          "items": {
            "$ref": "TlsRouteRouteDestination"
          },
          "type": "array",
          "description": "Required. The destination services to which traffic should be forwarded. At least one destination service is required."
        },
        "idleTimeout": {
          "format": "google-duration",
          "description": "Optional. Specifies the idle timeout for the selected route. The idle timeout is defined as the period in which there are no bytes sent or received on either the upstream or downstream connection. If not set, the default idle timeout is 1 hour. If set to 0s, the timeout will be disabled.",
          "type": "string"
        }
      },
      "description": "The specifications for routing traffic and applying associated policies.",
      "id": "TlsRouteRouteAction"
    },
    "HttpRoute": {
      "id": "HttpRoute",
      "properties": {
        "gateways": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Gateways defines a list of gateways this HttpRoute is attached to, as one of the routing rules to route the requests served by the gateway. Each gateway reference should match the pattern: `projects/*/locations/*/gateways/`"
        },
        "meshes": {
          "description": "Optional. Meshes defines a list of meshes this HttpRoute is attached to, as one of the routing rules to route the requests served by the mesh. Each mesh reference should match the pattern: `projects/*/locations/*/meshes/` The attached Mesh should be of a type SIDECAR",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true
        },
        "rules": {
          "description": "Required. Rules that define how traffic is routed and handled. Rules will be matched sequentially based on the RouteMatch specified for the rule.",
          "items": {
            "$ref": "HttpRouteRouteRule"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the HttpRoute resource. It matches pattern `projects/*/locations/*/httpRoutes/http_route_name>`."
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "hostnames": {
          "type": "array",
          "description": "Required. Hostnames define a set of hosts that should match against the HTTP host header to select a HttpRoute to process the request. Hostname is the fully qualified domain name of a network host, as defined by RFC 1123 with the exception that: - IPs are not allowed. - A hostname may be prefixed with a wildcard label (`*.`). The wildcard label must appear by itself as the first label. Hostname can be \"precise\" which is a domain name without the terminating dot of a network host (e.g. `foo.example.com`) or \"wildcard\", which is a domain name prefixed with a single wildcard label (e.g. `*.example.com`). Note that as per RFC1035 and RFC1123, a label must consist of lower case alphanumeric characters or '-', and must start and end with an alphanumeric character. No other punctuation is allowed. The routes associated with a Mesh or Gateways must have unique hostnames. If you attempt to attach multiple routes with conflicting hostnames, the configuration will be rejected. For example, while it is acceptable for routes for the hostnames `*.foo.bar.com` and `*.bar.com` to be associated with the same Mesh (or Gateways under the same scope), it is not possible to associate two routes both with `*.bar.com` or both with `bar.com`.",
          "items": {
            "type": "string"
          }
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of label tags associated with the HttpRoute resource.",
          "type": "object"
        },
        "selfLink": {
          "description": "Output only. Server-defined URL of this resource",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "HttpRoute is the resource defining how HTTP traffic should be routed by a Mesh or Gateway resource."
    },
    "AuthzExtension": {
      "properties": {
        "timeout": {
          "format": "google-duration",
          "description": "Required. Specifies the timeout for each individual message on the stream. The timeout must be between 10-10000 milliseconds.",
          "type": "string"
        },
        "service": {
          "description": "Required. The reference to the service that runs the extension. To configure a callout extension: For global AuthzExtension, `service` must be a fully-qualified reference to a [backend service](https://cloud.google.com/compute/docs/reference/rest/v1/backendServices) in the format: `https://www.googleapis.com/compute/v1/projects/{project}/global/backendServices/{backendService}`. For regional AuthzExtension, `service` must be a fully-qualified reference to one of the following: * a [backend service](https://cloud.google.com/compute/docs/reference/rest/v1/backendServices) in the format: `https://www.googleapis.com/compute/v1/projects/{project}/regions/{region}/backendServices/{backendService}`. * a fully qualified domain name that can be resolved by the Google Cloud DNS. * `iap.googleapis.com` and it can only be referenced by an AuthzPolicy with the policyProfile set to REQUEST_AUTHZ. * `modelarmor..rep.googleapis.com` and it can only be referenced by an AuthzPolicy with the policyProfile set to CONTENT_AUTHZ.",
          "type": "string"
        },
        "forwardHeaders": {
          "type": "array",
          "description": "Optional. List of the HTTP headers to forward to the extension (from the client). If omitted, all headers are sent. Each element is a string indicating the header name.",
          "items": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Optional. The metadata provided here is included as part of the `metadata_context` (of type `google.protobuf.Struct`) in the `ProcessingRequest` message sent to the extension server. The metadata is available under the namespace `com.google.authz_extension.`. The following variables are supported in the metadata Struct: `{forwarding_rule_id}` - substituted with the forwarding rule's fully qualified resource name.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string",
          "readOnly": true
        },
        "forwardAttributes": {
          "description": "Optional. List of the Envoy attributes to forward to the extension server. The attributes provided here are included as part of the `ProcessingRequest.attributes` field (of type `map`), where the keys are the attribute names. Refer to the [documentation](https://cloud.google.com/service-extensions/docs/cel-matcher-language-reference#attributes) for the names of attributes that can be forwarded. If omitted, no attributes are sent. Each element is a string indicating the attribute name.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "loadBalancingScheme": {
          "enumDescriptions": [
            "Default value. Do not use.",
            "Signifies that this is used for Internal HTTP(S) Load Balancing.",
            "Signifies that this is used for External Managed HTTP(S) Load Balancing."
          ],
          "enum": [
            "LOAD_BALANCING_SCHEME_UNSPECIFIED",
            "INTERNAL_MANAGED",
            "EXTERNAL_MANAGED"
          ],
          "description": "Optional. All backend services and forwarding rules referenced by this extension must share the same load balancing scheme. The supported values are `INTERNAL_MANAGED` and `EXTERNAL_MANAGED`. You can omit this field for `AuthzExtensions` resources that don't reference a backend service. For more information, see [Backend services overview](https://cloud.google.com/load-balancing/docs/backend-service).",
          "type": "string"
        },
        "failOpen": {
          "type": "boolean",
          "description": "Optional. Determines how the proxy behaves if the call to the extension fails or times out. When set to `TRUE`, request or response processing continues without error. Any subsequent extensions in the extension chain are also executed. When set to `FALSE` or the default setting of `FALSE` is used, one of the following happens: * If response headers have not been delivered to the downstream client, a generic 500 error is returned to the client. The error response can be tailored by configuring a custom error response in the load balancer. * If response headers have been delivered, then the HTTP stream to the downstream client is reset."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Set of labels associated with the `AuthzExtension` resource. The format must comply with [the requirements for labels](/compute/docs/labeling-resources#requirements) for Google Cloud resources."
        },
        "name": {
          "description": "Required. Identifier. Name of the `AuthzExtension` resource in the following format: `projects/{project}/locations/{location}/authzExtensions/{authz_extension}`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A human-readable description of the resource.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "wireFormat": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The extension service uses ext_proc gRPC API over a gRPC stream. This is the default value if the wire format is not specified. The backend service for the extension must use HTTP2 or H2C as the protocol. All `supported_events` for a client request are sent as part of the same gRPC stream.",
            "The extension service uses Envoy's `ext_authz` gRPC API. The backend service for the extension must use HTTP2 or H2C as the protocol. `EXT_AUTHZ_GRPC` is only supported for regional `AuthzExtension` resources."
          ],
          "description": "Optional. The format of communication supported by the callout extension. This field is supported only for regional `AuthzExtension` resources. If not specified, the default value `EXT_PROC_GRPC` is used. Global `AuthzExtension` resources use the `EXT_PROC_GRPC` wire format.",
          "enum": [
            "WIRE_FORMAT_UNSPECIFIED",
            "EXT_PROC_GRPC",
            "EXT_AUTHZ_GRPC"
          ]
        },
        "authority": {
          "description": "Optional. The `:authority` header in the gRPC request sent from Envoy to the extension service. It is required when the `service` field points to a backend service.",
          "type": "string"
        }
      },
      "description": "`AuthzExtension` is a resource that allows traffic forwarding to a callout backend service to make an authorization decision.",
      "type": "object",
      "id": "AuthzExtension"
    },
    "TcpRouteRouteDestination": {
      "type": "object",
      "properties": {
        "serviceName": {
          "description": "Required. The URL of a BackendService to route traffic to.",
          "type": "string"
        },
        "weight": {
          "format": "int32",
          "description": "Optional. Specifies the proportion of requests forwarded to the backend referenced by the serviceName field. This is computed as: - weight/Sum(weights in this destination list). For non-zero values, there may be some epsilon from the exact proportion defined here depending on the precision an implementation supports. If only one serviceName is specified and it has a weight greater than 0, 100% of the traffic is forwarded to that backend. If weights are specified for any one service name, they need to be specified for all of them. If weights are unspecified for all services, then, traffic is distributed in equal proportions to all of them.",
          "type": "integer"
        }
      },
      "id": "TcpRouteRouteDestination",
      "description": "Describe the destination for traffic to be routed to."
    },
    "HttpRouteFaultInjectionPolicyAbort": {
      "description": "Specification of how client requests are aborted as part of fault injection before being sent to a destination.",
      "type": "object",
      "properties": {
        "httpStatus": {
          "format": "int32",
          "type": "integer",
          "description": "The HTTP status code used to abort the request. The value must be between 200 and 599 inclusive."
        },
        "percentage": {
          "type": "integer",
          "format": "int32",
          "description": "The percentage of traffic which will be aborted. The value must be between [0, 100]"
        }
      },
      "id": "HttpRouteFaultInjectionPolicyAbort"
    },
    "ListHttpRoutesResponse": {
      "description": "Response returned by the ListHttpRoutes method.",
      "id": "ListHttpRoutesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "httpRoutes": {
          "items": {
            "$ref": "HttpRoute"
          },
          "description": "List of HttpRoute resources.",
          "type": "array"
        },
        "unreachable": {
          "description": "Unreachable resources. Populated when the request opts into return_partial_success and reading across collections e.g. when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListWasmPluginsResponse": {
      "description": "Response returned by the `ListWasmPlugins` method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "wasmPlugins": {
          "items": {
            "$ref": "WasmPlugin"
          },
          "type": "array",
          "description": "List of `WasmPlugin` resources."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unreachable resources. Populated when the request attempts to list all resources across all supported locations, while some locations are temporarily unavailable."
        }
      },
      "id": "ListWasmPluginsResponse"
    },
    "HttpRouteRedirect": {
      "id": "HttpRouteRedirect",
      "properties": {
        "stripQuery": {
          "type": "boolean",
          "description": "if set to true, any accompanying query portion of the original URL is removed prior to redirecting the request. If set to false, the query portion of the original URL is retained. The default is set to false."
        },
        "prefixRewrite": {
          "description": "Indicates that during redirection, the matched prefix (or path) should be swapped with this value. This option allows URLs be dynamically created based on the request.",
          "type": "string"
        },
        "httpsRedirect": {
          "description": "If set to true, the URL scheme in the redirected request is set to https. If set to false, the URL scheme of the redirected request will remain the same as that of the request. The default is set to false.",
          "type": "boolean"
        },
        "hostRedirect": {
          "description": "The host that will be used in the redirect response instead of the one that was supplied in the request.",
          "type": "string"
        },
        "pathRedirect": {
          "description": "The path that will be used in the redirect response instead of the one that was supplied in the request. path_redirect can not be supplied together with prefix_redirect. Supply one alone or neither. If neither is supplied, the path of the original request will be used for the redirect.",
          "type": "string"
        },
        "portRedirect": {
          "type": "integer",
          "description": "The port that will be used in the redirected request instead of the one that was supplied in the request.",
          "format": "int32"
        },
        "responseCode": {
          "type": "string",
          "enumDescriptions": [
            "Default value",
            "Corresponds to 301.",
            "Corresponds to 302.",
            "Corresponds to 303.",
            "Corresponds to 307. In this case, the request method will be retained.",
            "Corresponds to 308. In this case, the request method will be retained."
          ],
          "description": "The HTTP Status code to use for the redirect.",
          "enum": [
            "RESPONSE_CODE_UNSPECIFIED",
            "MOVED_PERMANENTLY_DEFAULT",
            "FOUND",
            "SEE_OTHER",
            "TEMPORARY_REDIRECT",
            "PERMANENT_REDIRECT"
          ]
        }
      },
      "type": "object",
      "description": "The specification for redirecting traffic."
    },
    "ServiceLbPolicy": {
      "id": "ServiceLbPolicy",
      "type": "object",
      "description": "ServiceLbPolicy holds global load balancing and traffic distribution configuration that can be applied to a BackendService.",
      "properties": {
        "labels": {
          "description": "Optional. Set of label tags associated with the ServiceLbPolicy resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "isolationConfig": {
          "description": "Optional. Configuration to provide isolation support for the associated Backend Service.",
          "$ref": "ServiceLbPolicyIsolationConfig"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when this resource was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the ServiceLbPolicy resource. It matches pattern `projects/{project}/locations/{location}/serviceLbPolicies/{service_lb_policy_name}`."
        },
        "loadBalancingAlgorithm": {
          "enumDescriptions": [
            "The type of the loadbalancing algorithm is unspecified.",
            "Balance traffic across all backends across the world proportionally based on capacity.",
            "Direct traffic to the nearest region with endpoints and capacity before spilling over to other regions and spread the traffic from each client to all the MIGs/NEGs in a region.",
            "Direct traffic to the nearest region with endpoints and capacity before spilling over to other regions. All MIGs/NEGs within a region are evenly loaded but each client might not spread the traffic to all the MIGs/NEGs in the region.",
            "Attempt to keep traffic in a single zone closest to the client, before spilling over to other zones."
          ],
          "type": "string",
          "description": "Optional. The type of load balancing algorithm to be used. The default behavior is WATERFALL_BY_REGION.",
          "enum": [
            "LOAD_BALANCING_ALGORITHM_UNSPECIFIED",
            "SPRAY_TO_WORLD",
            "SPRAY_TO_REGION",
            "WATERFALL_BY_REGION",
            "WATERFALL_BY_ZONE"
          ]
        },
        "failoverConfig": {
          "description": "Optional. Configuration related to health based failover.",
          "$ref": "ServiceLbPolicyFailoverConfig"
        },
        "autoCapacityDrain": {
          "description": "Optional. Configuration to automatically move traffic away for unhealthy IG/NEG for the associated Backend Service.",
          "$ref": "ServiceLbPolicyAutoCapacityDrain"
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when this resource was last updated.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GrpcRouteFaultInjectionPolicyAbort": {
      "description": "Specification of how client requests are aborted as part of fault injection before being sent to a destination.",
      "id": "GrpcRouteFaultInjectionPolicyAbort",
      "properties": {
        "httpStatus": {
          "description": "The HTTP status code used to abort the request. The value must be between 200 and 599 inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "percentage": {
          "type": "integer",
          "format": "int32",
          "description": "The percentage of traffic which will be aborted. The value must be between [0, 100]"
        }
      },
      "type": "object"
    },
    "GrpcRouteRetryPolicy": {
      "description": "The specifications for retries. Specifies one or more conditions for which this retry rule applies. Valid values are:",
      "id": "GrpcRouteRetryPolicy",
      "type": "object",
      "properties": {
        "numRetries": {
          "type": "integer",
          "format": "uint32",
          "description": "Specifies the allowed number of retries. This number must be > 0. If not specified, default to 1."
        },
        "retryConditions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "- connect-failure: Router will retry on failures connecting to Backend Services, for example due to connection timeouts. - refused-stream: Router will retry if the backend service resets the stream with a REFUSED_STREAM error code. This reset type indicates that it is safe to retry. - cancelled: Router will retry if the gRPC status code in the response header is set to cancelled - deadline-exceeded: Router will retry if the gRPC status code in the response header is set to deadline-exceeded - resource-exhausted: Router will retry if the gRPC status code in the response header is set to resource-exhausted - unavailable: Router will retry if the gRPC status code in the response header is set to unavailable"
        }
      }
    },
    "AgentGatewayNetworkConfigDnsPeeringConfig": {
      "type": "object",
      "id": "AgentGatewayNetworkConfigDnsPeeringConfig",
      "properties": {
        "targetProject": {
          "type": "string",
          "description": "Required. Target project ID to which DNS queries should be forwarded to. This can be the same project that contains the AgentGateway or a different project."
        },
        "targetNetwork": {
          "description": "Required. Target network in 'target project' to which DNS queries should be forwarded to. Must be in format of `projects/{project}/global/networks/{network}`.",
          "type": "string"
        },
        "domains": {
          "items": {
            "type": "string"
          },
          "description": "Required. Domain names for which DNS queries should be forwarded to the target network.",
          "type": "array"
        }
      },
      "description": "DNS peering config for the user VPC network."
    },
    "ListExtensionBindingsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request attempts to list all resources across all supported locations, while some locations are temporarily unavailable. The resource names are in the format `projects/{project}/locations/{location}/extensionBindings/{extension_binding}`.",
          "items": {
            "type": "string"
          }
        },
        "extensionBindings": {
          "description": "List of `ExtensionBinding` resources.",
          "type": "array",
          "items": {
            "$ref": "ExtensionBinding"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      },
      "id": "ListExtensionBindingsResponse",
      "description": "Response returned by the `ListExtensionBindings` method."
    },
    "HttpRouteHeaderMatch": {
      "properties": {
        "rangeMatch": {
          "description": "If specified, the rule will match if the request header value is within the range.",
          "$ref": "HttpRouteHeaderMatchIntegerRange"
        },
        "header": {
          "type": "string",
          "description": "The name of the HTTP header to match against."
        },
        "regexMatch": {
          "description": "The value of the header must match the regular expression specified in regex_match. For regular expression grammar, please see: https://github.com/google/re2/wiki/Syntax",
          "type": "string"
        },
        "suffixMatch": {
          "type": "string",
          "description": "The value of the header must end with the contents of suffix_match."
        },
        "exactMatch": {
          "type": "string",
          "description": "The value of the header should match exactly the content of exact_match."
        },
        "presentMatch": {
          "description": "A header with header_name must exist. The match takes place whether or not the header has a value.",
          "type": "boolean"
        },
        "prefixMatch": {
          "description": "The value of the header must start with the contents of prefix_match.",
          "type": "string"
        },
        "invertMatch": {
          "type": "boolean",
          "description": "If specified, the match result will be inverted before checking. Default value is set to false."
        }
      },
      "id": "HttpRouteHeaderMatch",
      "description": "Specifies how to select a route rule based on HTTP request headers.",
      "type": "object"
    },
    "TcpRouteRouteMatch": {
      "properties": {
        "address": {
          "type": "string",
          "description": "Required. Must be specified in the CIDR range format. A CIDR range consists of an IP Address and a prefix length to construct the subnet mask. By default, the prefix length is 32 (i.e. matches a single IP address). Only IPV4 addresses are supported. Examples: \"10.0.0.1\" - matches against this exact IP address. \"10.0.0.0/8\" - matches against any IP address within the 10.0.0.0 subnet and 255.255.255.0 mask. \"0.0.0.0/0\" - matches against any IP address'."
        },
        "port": {
          "description": "Required. Specifies the destination port to match against.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "RouteMatch defines the predicate used to match requests to a given action. Multiple match types are \"OR\"ed for evaluation. If no routeMatch field is specified, this rule will unconditionally match traffic.",
      "id": "TcpRouteRouteMatch"
    },
    "AgentConnectivityTemplate": {
      "type": "object",
      "description": "AgentConnectivityTemplate represents a reusable network configuration.",
      "id": "AgentConnectivityTemplate",
      "properties": {
        "egressNetworkConfig": {
          "$ref": "EgressNetworkConfig",
          "description": "Optional. Configuration for egress network traffic."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime"
        },
        "accessPath": {
          "enum": [
            "ACCESS_PATH_UNSPECIFIED",
            "CLIENT_TO_AGENT",
            "AGENT_TO_ANYWHERE"
          ],
          "description": "Required. Immutable. The path of the access. Maps roughly to ingress/egress, though we keep CLIENT_TO_AGENT and AGENT_TO_ANYWHERE as carryovers from Agent Gateway's original resource model. The path is immutable once set. Exactly one path can be set.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified access path.",
            "Protect connection to Agent or Tool.",
            "Govern agent connections to destinations."
          ]
        },
        "agentCompute": {
          "description": "Optional. The compute environment where the agent is hosted. Exactly one type of compute must be chosen.",
          "type": "string",
          "enum": [
            "AGENT_COMPUTE_UNSPECIFIED",
            "GKE",
            "CLOUD_RUN",
            "BORG",
            "GCE_VM"
          ],
          "enumDescriptions": [
            "Unspecified compute type.",
            "Google Kubernetes Engine.",
            "Google Cloud Run.",
            "Google Borg (for 1P producers).",
            "Google Compute Engine VM."
          ]
        },
        "etag": {
          "type": "string",
          "description": "Optional. Etag of the resource. If this is provided, it must match the server's etag. If the provided etag does not match the server's etag, the request will fail with a 409 ABORTED error."
        },
        "deploymentModel": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified deployment model.",
            "Centralized deployment.",
            "Ambient deployment."
          ],
          "description": "Required. The deployment model for the gateway.",
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "CENTRALIZED",
            "AMBIENT"
          ]
        },
        "accessTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified access type.",
              "Public network access.",
              "Private network access."
            ],
            "enum": [
              "ACCESS_TYPE_UNSPECIFIED",
              "PUBLIC",
              "PRIVATE"
            ]
          },
          "description": "Optional. The types of network access provided to the gateway. Both PUBLIC and PRIVATE can be configured.",
          "type": "array"
        },
        "name": {
          "description": "Identifier. Name of the AgentConnectivityTemplate resource. It matches pattern `projects/*/locations/*/agentConnectivityTemplates/`.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. A free-text description of the resource. Max length 1024 characters."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of label tags associated with the AgentConnectivityTemplate resource.",
          "type": "object"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was updated."
        }
      }
    },
    "ExtensionBindingMatchConditionHeaderMatch": {
      "description": "Determines how an HTTP header should be matched.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Optional. Specifies how the header match will be performed.",
          "$ref": "ExtensionBindingMatchConditionStringMatch"
        },
        "name": {
          "type": "string",
          "description": "Required. Specifies the name of the header in the request."
        }
      },
      "id": "ExtensionBindingMatchConditionHeaderMatch"
    },
    "GrpcRouteRouteMatch": {
      "properties": {
        "method": {
          "description": "Optional. A gRPC method to match against. If this field is empty or omitted, will match all methods.",
          "$ref": "GrpcRouteMethodMatch"
        },
        "headers": {
          "items": {
            "$ref": "GrpcRouteHeaderMatch"
          },
          "description": "Optional. Specifies a collection of headers to match.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GrpcRouteRouteMatch",
      "description": "Criteria for matching traffic. A RouteMatch will be considered to match when all supplied fields match."
    },
    "LbTcpExtension": {
      "description": "`LbTcpExtension` is a resource that allows traffic forwarding to different backend services to make allow/deny decisions on TCP connections for all L7 Load Balancers within a network. Currently only internal load-balancers are supported.",
      "id": "LbTcpExtension",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Optional. Set of labels associated with the `LbTcpExtension` resource. The format must comply with [the requirements for labels](/compute/docs/labeling-resources#requirements) for Google Cloud resources.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "loadBalancingScheme": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Do not use.",
            "Signifies that this is used for Internal HTTP(S) Load Balancing.",
            "Signifies that this is used for External Managed HTTP(S) Load Balancing."
          ],
          "description": "Required. All backend services and forwarding rules referenced by this extension must share the same load balancing scheme. Supported values: `INTERNAL_MANAGED`. For more information, refer to [Backend services overview](https://cloud.google.com/load-balancing/docs/backend-service).",
          "enum": [
            "LOAD_BALANCING_SCHEME_UNSPECIFIED",
            "INTERNAL_MANAGED",
            "EXTERNAL_MANAGED"
          ]
        },
        "description": {
          "description": "Optional. A human-readable description of the resource.",
          "type": "string"
        },
        "name": {
          "description": "Required. Identifier. Name of the `LbTcpExtension` resource in the following format: `projects/{project}/locations/{location}/LbTcpExtension/{lb_tcp_extension}`",
          "type": "string"
        },
        "extensionChains": {
          "items": {
            "$ref": "ExtensionChain"
          },
          "description": "Required. A set of ordered extension chains that contain the match conditions and extensions to execute. Match conditions for each extension chain are evaluated in sequence for a given request. The first extension chain that has a condition that matches the request is executed. Any subsequent extension chains do not execute. Limited to 1 extension chain per resource.",
          "type": "array"
        },
        "networks": {
          "type": "array",
          "description": "Optional. If set, this `LbTcpExtension` resource applies to all `ForwardingRule` resources in these VPC networks. Values should be relative resource names identifying VPC networks, for example `projects/*/global/networks/network-1`. Currently limited to 1 network per resource. Limited to 1 network per resource.",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ExtensionChainMatchCondition": {
      "description": "Conditions under which this chain is invoked for a request.",
      "properties": {
        "celExpression": {
          "type": "string",
          "description": "Required. A Common Expression Language (CEL) expression that is used to match requests for which the extension chain is executed. For more information, see [CEL matcher language reference](https://cloud.google.com/service-extensions/docs/cel-matcher-language-reference)."
        }
      },
      "id": "ExtensionChainMatchCondition",
      "type": "object"
    },
    "ListGatewaysResponse": {
      "id": "ListGatewaysResponse",
      "properties": {
        "gateways": {
          "description": "List of Gateway resources.",
          "type": "array",
          "items": {
            "$ref": "Gateway"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "type": "object",
      "description": "Response returned by the ListGateways method."
    },
    "ExtensionChain": {
      "id": "ExtensionChain",
      "type": "object",
      "description": "A single extension chain wrapper that contains the match conditions and extensions to execute.",
      "properties": {
        "matchCondition": {
          "$ref": "ExtensionChainMatchCondition",
          "description": "Required. Conditions under which this chain is invoked for a request."
        },
        "extensions": {
          "type": "array",
          "items": {
            "$ref": "ExtensionChainExtension"
          },
          "description": "Required. A set of extensions to execute for the matching request. At least one extension is required. Up to 3 extensions can be defined for each extension chain for `LbTrafficExtension` resource. `LbRouteExtension`, `LbEdgeExtension`, and `LbTcpExtension` chains are limited to 1 extension per extension chain."
        },
        "name": {
          "type": "string",
          "description": "Required. The name for this extension chain. The name is logged as part of the HTTP request logs. The name must conform with RFC-1034, is restricted to lower-cased letters, numbers and hyphens, and can have a maximum length of 63 characters. Additionally, the first character must be a letter and the last a letter or a number."
        }
      }
    },
    "TlsRouteRouteDestination": {
      "id": "TlsRouteRouteDestination",
      "description": "Describe the destination for traffic to be routed to.",
      "type": "object",
      "properties": {
        "weight": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Specifies the proportion of requests forwarded to the backend referenced by the service_name field. This is computed as: - weight/Sum(weights in destinations) Weights in all destinations does not need to sum up to 100."
        },
        "serviceName": {
          "description": "Required. The URL of a BackendService to route traffic to.",
          "type": "string"
        }
      }
    },
    "ExtensionBindingMatchConditionToDestination": {
      "id": "ExtensionBindingMatchConditionToDestination",
      "type": "object",
      "description": "Describes properties of a single destination.",
      "properties": {
        "headerSet": {
          "description": "Optional. A set of HTTP headers to match against. If not specified, requests with any headers are matched.",
          "$ref": "ExtensionBindingMatchConditionToDestinationHeaderSet"
        },
        "resources": {
          "items": {
            "$ref": "ExtensionBindingMatchConditionStringMatch"
          },
          "type": "array",
          "description": "Optional. A list of non-empty strings whose value is matched against the resource to which a request is sent (e.g., an Agent in AiApplication). If not specified, any resource is allowed. If specified, a match occurs if any of the resources matches the resource value in the request. Limited to 5 resources. When matching against resources in the AgentRegistry, use the URNs of the registry resources."
        },
        "hosts": {
          "items": {
            "$ref": "ExtensionBindingMatchConditionStringMatch"
          },
          "type": "array",
          "description": "Optional. A list of HTTP Hosts to match against. Limited to 10 hosts. If not specified, any host is allowed. If specified, a match occurs if any of the hosts matches the host value in the request."
        },
        "paths": {
          "items": {
            "$ref": "ExtensionBindingMatchConditionStringMatch"
          },
          "type": "array",
          "description": "Optional. A list of paths to match against. Limited to 10 paths. If not specified, any path is allowed. Note that this path match includes the query parameters. For gRPC services, this should be a fully-qualified name of the form /package.service/method."
        }
      }
    },
    "ListCdnEdgeExtensionsResponse": {
      "description": "Message for response to listing `CdnEdgeExtension` resources.",
      "type": "object",
      "properties": {
        "cdnEdgeExtensions": {
          "description": "The list of `CdnEdgeExtension` resources.",
          "type": "array",
          "items": {
            "$ref": "CdnEdgeExtension"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results that the server returns."
        }
      },
      "id": "ListCdnEdgeExtensionsResponse"
    },
    "HttpRouteDestination": {
      "description": "Specifications of a destination to which the request should be routed to.",
      "id": "HttpRouteDestination",
      "properties": {
        "weight": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the proportion of requests forwarded to the backend referenced by the serviceName field. This is computed as: - weight/Sum(weights in this destination list). For non-zero values, there may be some epsilon from the exact proportion defined here depending on the precision an implementation supports. If only one serviceName is specified and it has a weight greater than 0, 100% of the traffic is forwarded to that backend. If weights are specified for any one service name, they need to be specified for all of them. If weights are unspecified for all services, then, traffic is distributed in equal proportions to all of them."
        },
        "serviceName": {
          "type": "string",
          "description": "The URL of a BackendService to route traffic to."
        },
        "responseHeaderModifier": {
          "$ref": "HttpRouteHeaderModifier",
          "description": "Optional. The specification for modifying the headers of a response prior to sending the response back to the client. If HeaderModifiers are set on both the Destination and the RouteAction, they will be merged. Conflicts between the two will not be resolved on the configuration."
        },
        "requestHeaderModifier": {
          "description": "Optional. The specification for modifying the headers of a matching request prior to delivery of the request to the destination. If HeaderModifiers are set on both the Destination and the RouteAction, they will be merged. Conflicts between the two will not be resolved on the configuration.",
          "$ref": "HttpRouteHeaderModifier"
        }
      },
      "type": "object"
    },
    "EgressNetworkConfigTlsConfig": {
      "properties": {
        "trustConfig": {
          "type": "string",
          "description": "Optional. The trust config resource name. Format: projects/{project}/locations/{location}/trustConfigs/{trust_config}"
        },
        "additionalRoots": {
          "enumDescriptions": [
            "Unspecified additional roots.",
            "Trust only the certificates provided in `trust_config`.",
            "Trust certificates provided in `trust_config` and publicly trusted roots."
          ],
          "description": "Optional. The additional roots to trust.",
          "enum": [
            "ADDITIONAL_ROOTS_UNSPECIFIED",
            "NO_ADDITIONAL_ROOTS",
            "PUBLICLY_TRUSTED_ROOTS"
          ],
          "type": "string"
        }
      },
      "description": "Configuration for TLS connections.",
      "id": "EgressNetworkConfigTlsConfig",
      "type": "object"
    },
    "HttpRouteHeaderModifier": {
      "type": "object",
      "id": "HttpRouteHeaderModifier",
      "properties": {
        "remove": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Remove headers (matching by header names) specified in the list."
        },
        "set": {
          "description": "Completely overwrite/replace the headers with given map where key is the name of the header, value is the value of the header.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "add": {
          "description": "Add the headers with given map where key is the name of the header, value is the value of the header.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "The specification for modifying HTTP header in HTTP request and HTTP response."
    },
    "HttpRouteFaultInjectionPolicy": {
      "description": "The specification for fault injection introduced into traffic to test the resiliency of clients to destination service failure. As part of fault injection, when clients send requests to a destination, delays can be introduced by client proxy on a percentage of requests before sending those requests to the destination service. Similarly requests can be aborted by client proxy for a percentage of requests.",
      "type": "object",
      "id": "HttpRouteFaultInjectionPolicy",
      "properties": {
        "delay": {
          "description": "The specification for injecting delay to client requests.",
          "$ref": "HttpRouteFaultInjectionPolicyDelay"
        },
        "abort": {
          "description": "The specification for aborting to client requests.",
          "$ref": "HttpRouteFaultInjectionPolicyAbort"
        }
      }
    },
    "ExtensionBindingTarget": {
      "type": "object",
      "description": "Specifies a list of targets to which this `ExtensionBinding` should attach.",
      "id": "ExtensionBindingTarget",
      "properties": {
        "resources": {
          "description": "Optional. The references to the target resources to which this binding should attach. Exactly one of `resources` or `scope` must be set. For AI Application resources, specify the full resource name in the format: `projects/{project}/locations/{location}/applications/{application}`. Limited to 1 resource.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "scope": {
          "description": "Optional. Specifies the scope of resources to which this binding should attach. Exactly one of `resources` or `scope` must be set.",
          "$ref": "ExtensionBindingTargetScope"
        }
      }
    },
    "HttpRouteRouteMatch": {
      "id": "HttpRouteRouteMatch",
      "properties": {
        "ignoreCase": {
          "description": "Specifies if prefix_match and full_path_match matches are case sensitive. The default value is false.",
          "type": "boolean"
        },
        "queryParameters": {
          "items": {
            "$ref": "HttpRouteQueryParameterMatch"
          },
          "type": "array",
          "description": "Specifies a list of query parameters to match against. ALL of the query parameters must be matched."
        },
        "headers": {
          "description": "Specifies a list of HTTP request headers to match against. ALL of the supplied headers must be matched.",
          "items": {
            "$ref": "HttpRouteHeaderMatch"
          },
          "type": "array"
        },
        "regexMatch": {
          "type": "string",
          "description": "The HTTP request path value must satisfy the regular expression specified by regex_match after removing any query parameters and anchor supplied with the original URL. For regular expression grammar, please see https://github.com/google/re2/wiki/Syntax Only one of full_path_match, prefix_match, or regex_match should be used."
        },
        "prefixMatch": {
          "type": "string",
          "description": "The HTTP request path value must begin with specified prefix_match. prefix_match must begin with a /. Only one of full_path_match, prefix_match, or regex_match should be used."
        },
        "fullPathMatch": {
          "description": "The HTTP request path value should exactly match this value. Only one of full_path_match, prefix_match, or regex_match should be used.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "RouteMatch defines specifications used to match requests. If multiple match types are set, this RouteMatch will match if ALL type of matches are matched."
    },
    "HttpRouteFaultInjectionPolicyDelay": {
      "id": "HttpRouteFaultInjectionPolicyDelay",
      "description": "Specification of how client requests are delayed as part of fault injection before being sent to a destination.",
      "properties": {
        "fixedDelay": {
          "type": "string",
          "format": "google-duration",
          "description": "Specify a fixed delay before forwarding the request."
        },
        "percentage": {
          "type": "integer",
          "description": "The percentage of traffic on which delay will be injected. The value must be between [0, 100]",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "HttpRouteHttpDirectResponse": {
      "type": "object",
      "properties": {
        "bytesBody": {
          "description": "Optional. Response body as bytes. Maximum body size is 4096B.",
          "format": "byte",
          "type": "string"
        },
        "status": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Status to return as part of HTTP Response. Must be a positive integer."
        },
        "stringBody": {
          "type": "string",
          "description": "Optional. Response body as a string. Maximum body length is 1024 characters."
        }
      },
      "description": "Static HTTP response object to be returned.",
      "id": "HttpRouteHttpDirectResponse"
    },
    "DnsPeeringConfig": {
      "id": "DnsPeeringConfig",
      "type": "object",
      "description": "DNS Peering configuration.",
      "properties": {
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The domains to peer."
        },
        "targetNetwork": {
          "description": "Optional. The target network resource name for DNS peering. Format: projects/{project}/global/networks/{network_id}",
          "type": "string"
        },
        "domain": {
          "description": "Optional. Deprecated: Use `domains` instead. The domain to peer.",
          "type": "string",
          "deprecated": true
        }
      }
    },
    "AgentGatewayNetworkConfig": {
      "description": "NetworkConfig contains network configurations for the AgentGateway.",
      "properties": {
        "dnsPeeringConfig": {
          "description": "Optional. Optional DNS peering configuration for connectivity to your private VPC network.",
          "$ref": "AgentGatewayNetworkConfigDnsPeeringConfig"
        },
        "egress": {
          "description": "Optional. Optional PSC-Interface network attachment for connectivity to your private VPCs network.",
          "$ref": "AgentGatewayNetworkConfigEgress"
        }
      },
      "id": "AgentGatewayNetworkConfig",
      "type": "object"
    },
    "ListGrpcRoutesResponse": {
      "description": "Response returned by the ListGrpcRoutes method.",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "grpcRoutes": {
          "description": "List of GrpcRoute resources.",
          "items": {
            "$ref": "GrpcRoute"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources. Populated when the request opts into return_partial_success and reading across collections e.g. when attempting to list all resources across all supported locations.",
          "type": "array"
        }
      },
      "id": "ListGrpcRoutesResponse",
      "type": "object"
    },
    "LbRouteExtension": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "Optional. A human-readable description of the resource.",
          "type": "string"
        },
        "extensionChains": {
          "description": "Required. A set of ordered extension chains that contain the match conditions and extensions to execute. Match conditions for each extension chain are evaluated in sequence for a given request. The first extension chain that has a condition that matches the request is executed. Any subsequent extension chains do not execute. Limited to 5 extension chains per resource.",
          "items": {
            "$ref": "ExtensionChain"
          },
          "type": "array"
        },
        "name": {
          "description": "Required. Identifier. Name of the `LbRouteExtension` resource in the following format: `projects/{project}/locations/{location}/lbRouteExtensions/{lb_route_extension}`.",
          "type": "string"
        },
        "forwardingRules": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A list of references to the forwarding rules to which this service extension is attached. At least one forwarding rule is required. Only one `LbRouteExtension` resource can be associated with a forwarding rule."
        },
        "metadata": {
          "description": "Optional. The metadata provided here is included as part of the `metadata_context` (of type `google.protobuf.Struct`) in the `ProcessingRequest` message sent to the extension server. The metadata applies to all extensions in all extensions chains in this resource. The metadata is available under the key `com.google.lb_route_extension.`. The following variables are supported in the metadata: `{forwarding_rule_id}` - substituted with the forwarding rule's fully qualified resource name. This field must not be set if at least one of the extension chains contains plugin extensions. Setting it results in a validation error. You can set metadata at either the resource level or the extension level. The extension level metadata is recommended because you can pass a different set of metadata through each extension to the backend.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "labels": {
          "description": "Optional. Set of labels associated with the `LbRouteExtension` resource. The format must comply with [the requirements for labels](https://cloud.google.com/compute/docs/labeling-resources#requirements) for Google Cloud resources.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "loadBalancingScheme": {
          "description": "Required. All backend services and forwarding rules referenced by this extension must share the same load balancing scheme. Supported values: `INTERNAL_MANAGED`, `EXTERNAL_MANAGED`. For more information, refer to [Backend services overview](https://cloud.google.com/load-balancing/docs/backend-service).",
          "type": "string",
          "enumDescriptions": [
            "Default value. Do not use.",
            "Signifies that this is used for Internal HTTP(S) Load Balancing.",
            "Signifies that this is used for External Managed HTTP(S) Load Balancing."
          ],
          "enum": [
            "LOAD_BALANCING_SCHEME_UNSPECIFIED",
            "INTERNAL_MANAGED",
            "EXTERNAL_MANAGED"
          ]
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "description": "`LbRouteExtension` is a resource that lets you control where traffic is routed to for a given request.",
      "type": "object",
      "id": "LbRouteExtension"
    },
    "ExtensionBinding": {
      "description": "`ExtensionBinding` is a resource representing the attachment of an extension to a service.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Name of the `ExtensionBinding` resource in the following format: `projects/{project}/locations/{location}/extensionBindings/{extension_binding}`.",
          "type": "string"
        },
        "matchConditions": {
          "type": "array",
          "description": "Optional. A list of match conditions to evaluate against the incoming request. The extension is invoked if the request matches at least one condition, or if no match conditions are specified. A request matches a condition only if it matches every field that is set in that condition. Limited to 5 conditions.",
          "items": {
            "$ref": "ExtensionBindingMatchCondition"
          }
        },
        "target": {
          "description": "Required. Specifies a target to which this `ExtensionBinding` should be attached.",
          "$ref": "ExtensionBindingTarget"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "description": "Optional. Etag of the resource. If provided, it must match the server's etag. If the provided etag does not match the server's etag, the request will fail with a 409 ABORTED error.",
          "type": "string"
        },
        "failOpen": {
          "type": "boolean",
          "description": "Optional. Determines the behavior of the extension binding when the call to the extension fails or times out. Default value is `FALSE`. When set to `TRUE`, failures of the extension are silently ignored."
        },
        "description": {
          "description": "Optional. A human-readable description of the resource.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Set of labels associated with the `ExtensionBinding` resource. The format must comply with [the following requirements](https://cloud.google.com/compute/docs/labeling-resources#requirements).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "priority": {
          "type": "integer",
          "description": "Optional. Priority of the extension binding. Lower numbers indicate higher priority. The priority determines the order in which extension bindings are applied to a request.",
          "format": "int32"
        },
        "producerExtension": {
          "description": "Required. The name of the extension that this binding should attach to target resources. Format: For Google-provided extensions, specify the service endpoint, for example `modelarmor.us-central1.rep.googleapis.com`.",
          "type": "string"
        },
        "producerMetadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Additional metadata that should be passed to the attached extension with each request. This field is subject to the following limitations: * The total size of the metadata must be less than 1 KiB. * The total number of keys must be less than 16. * The length of each key must be less than 64 characters. * The length of each value must be less than 1024 characters."
        }
      },
      "id": "ExtensionBinding"
    },
    "ServiceBinding": {
      "id": "ServiceBinding",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "readOnly": true
        },
        "service": {
          "type": "string",
          "deprecated": true,
          "description": "Optional. The full Service Directory Service name of the format `projects/*/locations/*/namespaces/*/services/*`. This field is for Service Directory integration which will be deprecated soon."
        },
        "description": {
          "type": "string",
          "description": "Optional. A free-text description of the resource. Max length 1024 characters."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the ServiceBinding resource. It matches pattern `projects/*/locations/*/serviceBindings/`."
        },
        "serviceId": {
          "type": "string",
          "deprecated": true,
          "description": "Output only. The unique identifier of the Service Directory Service against which the ServiceBinding resource is validated. This is populated when the Service Binding resource is used in another resource (like Backend Service). This is of the UUID4 format. This field is for Service Directory integration which will be deprecated soon.",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of label tags associated with the ServiceBinding resource.",
          "type": "object"
        }
      },
      "description": "ServiceBinding can be used to: - Bind a Service Directory Service to be used in a BackendService resource. This feature will be deprecated soon. - Bind a Private Service Connect producer service to be used in consumer Cloud Service Mesh or Application Load Balancers. - Bind a Cloud Run service to be used in consumer Cloud Service Mesh or Application Load Balancers."
    },
    "ExtensionBindingMatchConditionToDestinationHeaderSet": {
      "type": "object",
      "id": "ExtensionBindingMatchConditionToDestinationHeaderSet",
      "description": "Describes a set of HTTP headers to match against.",
      "properties": {
        "headers": {
          "description": "Required. A list of HTTP headers to match against. If multiple header matches are provided, they are evaluated as an AND, meaning that all header matches must match for the request to match. Limited to 10 headers.",
          "type": "array",
          "items": {
            "$ref": "ExtensionBindingMatchConditionHeaderMatch"
          }
        }
      }
    },
    "HttpRouteQueryParameterMatch": {
      "id": "HttpRouteQueryParameterMatch",
      "description": "Specifications to match a query parameter in the request.",
      "type": "object",
      "properties": {
        "regexMatch": {
          "description": "The value of the query parameter must match the regular expression specified by regex_match. For regular expression grammar, please see https://github.com/google/re2/wiki/Syntax Only one of exact_match, regex_match, or present_match must be set.",
          "type": "string"
        },
        "presentMatch": {
          "description": "Specifies that the QueryParameterMatcher matches if request contains query parameter, irrespective of whether the parameter has a value or not. Only one of exact_match, regex_match, or present_match must be set.",
          "type": "boolean"
        },
        "queryParameter": {
          "description": "The name of the query parameter to match.",
          "type": "string"
        },
        "exactMatch": {
          "description": "The value of the query parameter must exactly match the contents of exact_match. Only one of exact_match, regex_match, or present_match must be set.",
          "type": "string"
        }
      }
    },
    "CdnEdgeExtension": {
      "id": "CdnEdgeExtension",
      "properties": {
        "labels": {
          "description": "Optional. Set of labels associated with the `CdnEdgeExtension` resource. The format must comply with [the requirements for labels](https://cloud.google.com/compute/docs/labeling-resources#requirements) for Google Cloud resources.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Required. Identifier. Name of the `CdnEdgeExtension` resource in the following format: `projects/{project}/locations/{location}/cdnEdgeExtensions/{cdn_edge_extension}`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A human-readable description of the resource.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "extensionChains": {
          "type": "array",
          "items": {
            "$ref": "ExtensionChain"
          },
          "description": "Required. A set of ordered extension chains that contain the match conditions and extensions to execute. Match conditions for each extension chain are evaluated in sequence for a given request. The first extension chain that has a condition that matches the request is executed. Any subsequent extension chains do not execute. Limited to 5 extension chains per resource."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "target": {
          "description": "Required. Specifies the set of resources to which this extension should be applied to.",
          "$ref": "CdnEdgeExtensionTarget"
        }
      },
      "type": "object",
      "description": "`CdnEdgeExtension` is a resource that lets the extension service modify the headers of both requests to the cache and responses from the cache served by an [`EdgeCacheService`](https://cloud.google.com/media-cdn/docs/reference/rest/v1/projects.locations.edgeCacheServices)."
    },
    "LbEdgeExtension": {
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of labels associated with the `LbEdgeExtension` resource. The format must comply with [the requirements for labels](https://cloud.google.com/compute/docs/labeling-resources#requirements) for Google Cloud resources.",
          "type": "object"
        },
        "description": {
          "description": "Optional. A human-readable description of the resource.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was updated."
        },
        "forwardingRules": {
          "description": "Required. A list of references to the forwarding rules to which this service extension is attached. At least one forwarding rule is required. Only one `LbEdgeExtension` resource can be associated with a forwarding rule.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Required. Identifier. Name of the `LbEdgeExtension` resource in the following format: `projects/{project}/locations/{location}/lbEdgeExtensions/{lb_edge_extension}`.",
          "type": "string"
        },
        "loadBalancingScheme": {
          "enumDescriptions": [
            "Default value. Do not use.",
            "Signifies that this is used for Internal HTTP(S) Load Balancing.",
            "Signifies that this is used for External Managed HTTP(S) Load Balancing."
          ],
          "description": "Required. All forwarding rules referenced by this extension must share the same load balancing scheme. Supported values: `EXTERNAL_MANAGED`.",
          "type": "string",
          "enum": [
            "LOAD_BALANCING_SCHEME_UNSPECIFIED",
            "INTERNAL_MANAGED",
            "EXTERNAL_MANAGED"
          ]
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime"
        },
        "extensionChains": {
          "type": "array",
          "items": {
            "$ref": "ExtensionChain"
          },
          "description": "Required. A set of ordered extension chains that contain the match conditions and extensions to execute. Match conditions for each extension chain are evaluated in sequence for a given request. The first extension chain that has a condition that matches the request is executed. Any subsequent extension chains do not execute. Limited to 5 extension chains per resource."
        }
      },
      "id": "LbEdgeExtension",
      "description": "`LbEdgeExtension` is a resource that lets the extension service influence the selection of backend services and Cloud CDN cache keys by modifying request headers."
    },
    "TcpRouteRouteRule": {
      "description": "Specifies how to match traffic and how to route traffic when traffic is matched.",
      "type": "object",
      "id": "TcpRouteRouteRule",
      "properties": {
        "matches": {
          "type": "array",
          "items": {
            "$ref": "TcpRouteRouteMatch"
          },
          "description": "Optional. RouteMatch defines the predicate used to match requests to a given action. Multiple match types are \"OR\"ed for evaluation. If no routeMatch field is specified, this rule will unconditionally match traffic."
        },
        "action": {
          "description": "Required. The detailed rule defining how to route matched traffic.",
          "$ref": "TcpRouteRouteAction"
        }
      }
    },
    "ListTlsRoutesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unreachable resources. Populated when the request opts into return_partial_success and reading across collections e.g. when attempting to list all resources across all supported locations."
        },
        "tlsRoutes": {
          "description": "List of TlsRoute resources.",
          "items": {
[...]
