{
  "baseUrl": "https://networkservices.googleapis.com/",
  "id": "networkservices:v1beta1",
  "servicePath": "",
  "name": "networkservices",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://networkservices.mtls.googleapis.com/",
  "revision": "20260901",
  "documentationLink": "https://cloud.google.com/networking",
  "version": "v1beta1",
  "schemas": {
    "WasmPlugin": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Name of the `WasmPlugin` resource in the following format: `projects/{project}/locations/{location}/wasmPlugins/{wasm_plugin}`."
        },
        "kmsKeyVersion": {
          "description": "Output only. The name of the specific [CryptoKeyVersion](https://cloud.google.com/kms/docs/reference/rest/v1/projects.locations.keyRings.cryptoKeys.cryptoKeyVersions) used to encrypt the `WasmPlugin` data, if the kms_key_name field is set. Format: `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}/cryptoKeyVersions/{version}` This is a read-only field. `WasmPlugin` data is automatically encrypted using the most recent `CryptoKeyVersion` of the `CryptoKey` provided in the `kms_key_name` field. See [Cloud KMS resources](https://cloud.google.com/kms/docs/resource-hierarchy) for more information.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. A human-readable description of the resource."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "kmsKeyName": {
          "description": "Optional. The name of the customer-managed [CryptoKey](https://cloud.google.com/kms/docs/reference/rest/v1/projects.locations.keyRings.cryptoKeys) to be used to encrypt the `WasmPlugin` image (provided by image_uri) and configuration (provided by plugin_config_data or plugin_config_uri) that are stored by the `Service Extensions` product at rest. Format: `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}` By default, Google Cloud automatically encrypts all data at rest using Google-owned and Google-managed encryption keys. If you need ownership and control of the keys that protect your data at rest, you can specify a customer-managed encryption key (CMEK) to encrypt your `WasmPlugin` data. For more information, see [Using customer-managed encryption keys](https://cloud.google.com/service-extensions/docs/cmek).",
          "type": "string"
        },
        "usedBy": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. List of all [extensions](https://cloud.google.com/service-extensions/docs/overview) that use this `WasmPlugin` resource.",
          "items": {
            "$ref": "WasmPluginUsedBy"
          }
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime"
        },
        "logConfig": {
          "$ref": "WasmPluginLogConfig",
          "description": "Optional. Specifies the logging options for the activity performed by this plugin. If logging is enabled, plugin logs are exported to Cloud Logging. Note that the settings relate to the logs generated by using logging statements in your Wasm code."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Set of labels associated with the `WasmPlugin` resource. The format must comply with [the following requirements](/compute/docs/labeling-resources#requirements)."
        },
        "versions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "WasmPluginVersionDetails"
          },
          "description": "Optional. All versions of this `WasmPlugin` resource in the key-value format. The key is the resource ID, and the value is the `VersionDetails` object. Lets you create or update a `WasmPlugin` resource and its versions in a single request. When the `main_version_id` field is not empty, it must point to one of the `VersionDetails` objects in the map. If provided in a `PATCH` request, the new versions replace the previous set. Any version omitted from the `versions` field is removed. Because the `WasmPluginVersion` resource is immutable, if a `WasmPluginVersion` resource with the same name already exists and differs, the request fails. Note: In a `GET` request, this field is populated only if the field `GetWasmPluginRequest.view` is set to `WASM_PLUGIN_VIEW_FULL`."
        },
        "mainVersionId": {
          "description": "Optional. The ID of the `WasmPluginVersion` resource that is the currently serving one. The version referred to must be a child of this `WasmPlugin` resource.",
          "type": "string"
        }
      },
      "id": "WasmPlugin",
      "description": "`WasmPlugin` is a resource representing a service executing a customer-provided Wasm module.",
      "type": "object"
    },
    "ListServiceLbPoliciesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "serviceLbPolicies": {
          "type": "array",
          "items": {
            "$ref": "ServiceLbPolicy"
          },
          "description": "List of ServiceLbPolicy resources."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources. Populated when the request attempts to list all resources across all supported locations, while some locations are temporarily unavailable."
        }
      },
      "description": "Response returned by the ListServiceLbPolicies method.",
      "id": "ListServiceLbPoliciesResponse",
      "type": "object"
    },
    "WasmPluginLogConfig": {
      "id": "WasmPluginLogConfig",
      "type": "object",
      "description": "Specifies the logging options for the activity performed by this plugin. If logging is enabled, plugin logs are exported to Cloud Logging.",
      "properties": {
        "enable": {
          "type": "boolean",
          "description": "Optional. Specifies whether to enable logging for activity by this plugin. Defaults to `false`."
        },
        "minLogLevel": {
          "description": "Optional. Non-empty default. Specifies the lowest level of the plugin logs that are exported to Cloud Logging. This setting relates to the logs generated by using logging statements in your Wasm code. This field is can be set only if logging is enabled for the plugin. If the field is not provided when logging is enabled, it is set to `INFO` by default.",
          "type": "string",
          "enum": [
            "LOG_LEVEL_UNSPECIFIED",
            "TRACE",
            "DEBUG",
            "INFO",
            "WARN",
            "ERROR",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "Unspecified value. Defaults to `LogLevel.INFO`.",
            "Report logs with TRACE level and above.",
            "Report logs with DEBUG level and above.",
            "Report logs with INFO level and above.",
            "Report logs with WARN level and above.",
            "Report logs with ERROR level and above.",
            "Report logs with CRITICAL level only."
          ]
        },
        "sampleRate": {
          "format": "float",
          "type": "number",
          "description": "Optional. Non-empty default. Configures the sampling rate of activity logs, where `1.0` means all logged activity is reported and `0.0` means no activity is reported. A floating point value between `0.0` and `1.0` indicates that a percentage of log messages is stored. The default value when logging is enabled is `1.0`. The value of the field must be between `0` and `1` (inclusive). This field can be specified only if logging is enabled for this plugin."
        }
      }
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "ExtensionBindingMatchConditionStringMatch": {
      "properties": {
        "suffix": {
          "description": "Optional. The input string must have the suffix specified here. Note: empty prefix is not allowed, please use regex instead. Examples: * ``abc`` matches the value ``xyz.abc``",
          "type": "string"
        },
        "prefix": {
          "description": "Optional. The input string must have the prefix specified here. Note: empty prefix is not allowed. Examples: * ``abc`` matches the value ``abc.xyz``",
          "type": "string"
        },
        "ignoreCase": {
          "description": "Optional. If true, indicates the exact/prefix/suffix/contains matching should be case insensitive. For example, the matcher ``data`` will match both input string ``Data`` and ``data`` if set to true.",
          "type": "boolean"
        },
        "contains": {
          "type": "string",
          "description": "Optional. The input string must have the substring specified here. Note: empty contains match is not allowed, please use regex instead. Examples: * ``abc`` matches the value ``xyz.abc.def``"
        },
        "exact": {
          "description": "Optional. The input string must match exactly the string specified here. Examples: * ``abc`` only matches the value ``abc``.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Specifies matching logic for string values.",
      "id": "ExtensionBindingMatchConditionStringMatch"
    },
    "AgentGatewayNetworkConfig": {
      "properties": {
        "egress": {
          "$ref": "AgentGatewayNetworkConfigEgress",
          "description": "Optional. Optional PSC-Interface network attachment for connectivity to your private VPCs network."
        },
        "dnsPeeringConfig": {
          "$ref": "AgentGatewayNetworkConfigDnsPeeringConfig",
          "description": "Optional. Optional DNS peering configuration for connectivity to your private VPC network."
        }
      },
      "id": "AgentGatewayNetworkConfig",
      "type": "object",
      "description": "NetworkConfig contains network configurations for the AgentGateway."
    },
    "GatewayRouteView": {
      "type": "object",
      "properties": {
        "routeType": {
          "description": "Output only. Type of the route: HttpRoute,GrpcRoute,TcpRoute, or TlsRoute",
          "type": "string",
          "readOnly": true
        },
        "routeId": {
          "description": "Output only. The resource id for the route.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. Full path name of the GatewayRouteView resource. Format: projects/{project_number}/locations/{location}/gateways/{gateway}/routeViews/{route_view}",
          "readOnly": true
        },
        "routeLocation": {
          "description": "Output only. Location where the route exists.",
          "type": "string",
          "readOnly": true
        },
        "routeProjectNumber": {
          "readOnly": true,
          "description": "Output only. Project number where the route exists.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "GatewayRouteView defines view-only resource for Routes to a Gateway",
      "id": "GatewayRouteView"
    },
    "ListServiceBindingsResponse": {
      "description": "Response returned by the ListServiceBindings method.",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources. Populated when the request attempts to list all resources across all supported locations, while some locations are temporarily unavailable."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "serviceBindings": {
          "description": "List of ServiceBinding resources.",
          "type": "array",
          "items": {
            "$ref": "ServiceBinding"
          }
        }
      },
      "id": "ListServiceBindingsResponse"
    },
    "LbEdgeExtension": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. A human-readable description of the resource."
        },
        "name": {
          "description": "Required. Identifier. Name of the `LbEdgeExtension` resource in the following format: `projects/{project}/locations/{location}/lbEdgeExtensions/{lb_edge_extension}`.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of labels associated with the `LbEdgeExtension` resource. The format must comply with [the requirements for labels](https://cloud.google.com/compute/docs/labeling-resources#requirements) for Google Cloud resources."
        },
        "extensionChains": {
          "description": "Required. A set of ordered extension chains that contain the match conditions and extensions to execute. Match conditions for each extension chain are evaluated in sequence for a given request. The first extension chain that has a condition that matches the request is executed. Any subsequent extension chains do not execute. Limited to 5 extension chains per resource.",
          "type": "array",
          "items": {
            "$ref": "ExtensionChain"
          }
        },
        "loadBalancingScheme": {
          "description": "Required. All forwarding rules referenced by this extension must share the same load balancing scheme. Supported values: `EXTERNAL_MANAGED`.",
          "enumDescriptions": [
            "Default value. Do not use.",
            "Signifies that this is used for Internal HTTP(S) Load Balancing.",
            "Signifies that this is used for External Managed HTTP(S) Load Balancing."
          ],
          "type": "string",
          "enum": [
            "LOAD_BALANCING_SCHEME_UNSPECIFIED",
            "INTERNAL_MANAGED",
            "EXTERNAL_MANAGED"
          ]
        },
        "forwardingRules": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A list of references to the forwarding rules to which this service extension is attached. At least one forwarding rule is required. Only one `LbEdgeExtension` resource can be associated with a forwarding rule."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "`LbEdgeExtension` is a resource that lets the extension service influence the selection of backend services and Cloud CDN cache keys by modifying request headers.",
      "type": "object",
      "id": "LbEdgeExtension"
    },
    "AgentGatewaySelfManaged": {
      "id": "AgentGatewaySelfManaged",
      "description": "Configuration for Self Managed deployment mode. Attach to existing Application Load Balancers or Secure Web Proxies.",
      "properties": {
        "resourceUri": {
          "type": "string",
          "description": "Optional. A supported Google Cloud networking proxy in the Project and Location"
        },
        "resourceUris": {
          "description": "Optional. List of supported Google Cloud networking proxies in the Project and Location. resource_uris is mutually exclusive with resource_uri.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "HttpRouteQueryParameterMatch": {
      "id": "HttpRouteQueryParameterMatch",
      "description": "Specifications to match a query parameter in the request.",
      "properties": {
        "regexMatch": {
          "description": "The value of the query parameter must match the regular expression specified by regex_match. For regular expression grammar, please see https://github.com/google/re2/wiki/Syntax Only one of exact_match, regex_match, or present_match must be set.",
          "type": "string"
        },
        "presentMatch": {
          "description": "Specifies that the QueryParameterMatcher matches if request contains query parameter, irrespective of whether the parameter has a value or not. Only one of exact_match, regex_match, or present_match must be set.",
          "type": "boolean"
        },
        "exactMatch": {
          "description": "The value of the query parameter must exactly match the contents of exact_match. Only one of exact_match, regex_match, or present_match must be set.",
          "type": "string"
        },
        "queryParameter": {
          "type": "string",
          "description": "The name of the query parameter to match."
        }
      },
      "type": "object"
    },
    "HttpRouteHeaderModifier": {
      "id": "HttpRouteHeaderModifier",
      "type": "object",
      "properties": {
        "remove": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Remove headers (matching by header names) specified in the list."
        },
        "set": {
          "description": "Completely overwrite/replace the headers with given map where key is the name of the header, value is the value of the header.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "add": {
          "description": "Add the headers with given map where key is the name of the header, value is the value of the header.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "The specification for modifying HTTP header in HTTP request and HTTP response."
    },
    "TlsRouteRouteMatch": {
      "description": "RouteMatch defines the predicate used to match requests to a given action. Multiple match types are \"AND\"ed for evaluation.",
      "id": "TlsRouteRouteMatch",
      "properties": {
        "sniHost": {
          "description": "Optional. SNI (server name indicator) to match against. SNI will be matched against all wildcard domains, i.e. `www.example.com` will be first matched against `www.example.com`, then `*.example.com`, then `*.com.` Partial wildcards are not supported, and values like *w.example.com are invalid. At least one of sni_host and alpn is required. Up to 100 sni hosts across all matches can be set.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "alpn": {
          "description": "Optional. ALPN (Application-Layer Protocol Negotiation) to match against. Examples: \"http/1.1\", \"h2\". At least one of sni_host and alpn is required. Up to 5 alpns across all matches can be set.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ExtensionBindingMatchConditionToDestination": {
      "description": "Describes properties of a single destination.",
      "properties": {
        "paths": {
          "description": "Optional. A list of paths to match against. Limited to 10 paths. If not specified, any path is allowed. Note that this path match includes the query parameters. For gRPC services, this should be a fully-qualified name of the form /package.service/method.",
          "type": "array",
          "items": {
            "$ref": "ExtensionBindingMatchConditionStringMatch"
          }
        },
        "hosts": {
          "type": "array",
          "items": {
            "$ref": "ExtensionBindingMatchConditionStringMatch"
          },
          "description": "Optional. A list of HTTP Hosts to match against. Limited to 10 hosts. If not specified, any host is allowed. If specified, a match occurs if any of the hosts matches the host value in the request."
        },
        "headerSet": {
          "description": "Optional. A set of HTTP headers to match against. If not specified, requests with any headers are matched.",
          "$ref": "ExtensionBindingMatchConditionToDestinationHeaderSet"
        },
        "resources": {
          "description": "Optional. A list of non-empty strings whose value is matched against the resource to which a request is sent (e.g., an Agent in AiApplication). If not specified, any resource is allowed. If specified, a match occurs if any of the resources matches the resource value in the request. Limited to 5 resources. When matching against resources in the AgentRegistry, use the URNs of the registry resources.",
          "type": "array",
          "items": {
            "$ref": "ExtensionBindingMatchConditionStringMatch"
          }
        }
      },
      "type": "object",
      "id": "ExtensionBindingMatchConditionToDestination"
    },
    "HttpRouteHeaderMatch": {
      "description": "Specifies how to select a route rule based on HTTP request headers.",
      "properties": {
        "suffixMatch": {
          "description": "The value of the header must end with the contents of suffix_match.",
          "type": "string"
        },
        "header": {
          "description": "The name of the HTTP header to match against.",
          "type": "string"
        },
        "exactMatch": {
          "description": "The value of the header should match exactly the content of exact_match.",
          "type": "string"
        },
        "regexMatch": {
          "type": "string",
          "description": "The value of the header must match the regular expression specified in regex_match. For regular expression grammar, please see: https://github.com/google/re2/wiki/Syntax"
        },
        "presentMatch": {
          "description": "A header with header_name must exist. The match takes place whether or not the header has a value.",
          "type": "boolean"
        },
        "prefixMatch": {
          "description": "The value of the header must start with the contents of prefix_match.",
          "type": "string"
        },
        "invertMatch": {
          "type": "boolean",
          "description": "If specified, the match result will be inverted before checking. Default value is set to false."
        },
        "rangeMatch": {
          "description": "If specified, the rule will match if the request header value is within the range.",
          "$ref": "HttpRouteHeaderMatchIntegerRange"
        }
      },
      "id": "HttpRouteHeaderMatch",
      "type": "object"
    },
    "HttpRouteRedirect": {
      "id": "HttpRouteRedirect",
      "description": "The specification for redirecting traffic.",
      "type": "object",
      "properties": {
        "prefixRewrite": {
          "description": "Indicates that during redirection, the matched prefix (or path) should be swapped with this value. This option allows URLs be dynamically created based on the request.",
          "type": "string"
        },
        "httpsRedirect": {
          "type": "boolean",
          "description": "If set to true, the URL scheme in the redirected request is set to https. If set to false, the URL scheme of the redirected request will remain the same as that of the request. The default is set to false."
        },
        "pathRedirect": {
          "type": "string",
          "description": "The path that will be used in the redirect response instead of the one that was supplied in the request. path_redirect can not be supplied together with prefix_redirect. Supply one alone or neither. If neither is supplied, the path of the original request will be used for the redirect."
        },
        "responseCode": {
          "enumDescriptions": [
            "Default value",
            "Corresponds to 301.",
            "Corresponds to 302.",
            "Corresponds to 303.",
            "Corresponds to 307. In this case, the request method will be retained.",
            "Corresponds to 308. In this case, the request method will be retained."
          ],
          "type": "string",
          "enum": [
            "RESPONSE_CODE_UNSPECIFIED",
            "MOVED_PERMANENTLY_DEFAULT",
            "FOUND",
            "SEE_OTHER",
            "TEMPORARY_REDIRECT",
            "PERMANENT_REDIRECT"
          ],
          "description": "The HTTP Status code to use for the redirect."
        },
        "stripQuery": {
          "description": "if set to true, any accompanying query portion of the original URL is removed prior to redirecting the request. If set to false, the query portion of the original URL is retained. The default is set to false.",
          "type": "boolean"
        },
        "portRedirect": {
          "type": "integer",
          "format": "int32",
          "description": "The port that will be used in the redirected request instead of the one that was supplied in the request."
        },
        "hostRedirect": {
          "description": "The host that will be used in the redirect response instead of the one that was supplied in the request.",
          "type": "string"
        }
      }
    },
    "ListExtensionBindingsResponse": {
      "properties": {
        "extensionBindings": {
          "type": "array",
          "description": "List of `ExtensionBinding` resources.",
          "items": {
            "$ref": "ExtensionBinding"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request attempts to list all resources across all supported locations, while some locations are temporarily unavailable. The resource names are in the format `projects/{project}/locations/{location}/extensionBindings/{extension_binding}`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Response returned by the `ListExtensionBindings` method.",
      "id": "ListExtensionBindingsResponse"
    },
    "ExtensionBindingTargetScope": {
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. Parent resource name specification, in the format: `projects/{project_number}`."
        },
        "resourceTypes": {
          "description": "Required. Type of the resource to which the binding should attach. Limited to 1 resource type.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. Should not be used.",
              "AI Application resources.",
              "Agent Gateway resources."
            ],
            "enum": [
              "RESOURCE_TYPE_UNSPECIFIED",
              "AI_APPLICATION",
              "AGENT_GATEWAY"
            ]
          }
        }
      },
      "id": "ExtensionBindingTargetScope",
      "description": "Specifies the scope of resources to which this binding should attach.",
      "type": "object"
    },
    "LbTcpExtension": {
      "id": "LbTcpExtension",
      "properties": {
        "loadBalancingScheme": {
          "enumDescriptions": [
            "Default value. Do not use.",
            "Signifies that this is used for Internal HTTP(S) Load Balancing.",
            "Signifies that this is used for External Managed HTTP(S) Load Balancing."
          ],
          "type": "string",
          "enum": [
            "LOAD_BALANCING_SCHEME_UNSPECIFIED",
            "INTERNAL_MANAGED",
            "EXTERNAL_MANAGED"
          ],
          "description": "Required. All backend services and forwarding rules referenced by this extension must share the same load balancing scheme. Supported values: `INTERNAL_MANAGED`. For more information, refer to [Backend services overview](https://cloud.google.com/load-balancing/docs/backend-service)."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was updated."
        },
        "extensionChains": {
          "type": "array",
          "items": {
            "$ref": "ExtensionChain"
          },
          "description": "Required. A set of ordered extension chains that contain the match conditions and extensions to execute. Match conditions for each extension chain are evaluated in sequence for a given request. The first extension chain that has a condition that matches the request is executed. Any subsequent extension chains do not execute. Limited to 5 extension chains per resource."
        },
        "networks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. If set, this `LbTcpExtension` resource applies to all `ForwardingRule` resources in these VPC networks. Values should be relative resource names identifying VPC networks, for example `projects/*/global/networks/network-1`. Currently limited to 1 network per resource. Limited to 1 network per resource."
        },
        "description": {
          "type": "string",
          "description": "Optional. A human-readable description of the resource."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Set of labels associated with the `LbTcpExtension` resource. The format must comply with [the requirements for labels](/compute/docs/labeling-resources#requirements) for Google Cloud resources.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. Name of the `LbTcpExtension` resource in the following format: `projects/{project}/locations/{location}/LbTcpExtension/{lb_tcp_extension}`"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "`LbTcpExtension` is a resource that allows traffic forwarding to different backend services to make allow/deny decisions on TCP connections for all L7 Load Balancers within a network. Currently only internal load-balancers are supported.",
      "type": "object"
    },
    "CdnEdgeExtensionTarget": {
      "properties": {
        "resources": {
          "items": {
            "type": "string"
          },
          "description": "Required. A list of references to the resources that are targeted by `CdnEdgeExtension`. Types of resources supported: `EdgeCacheService`. The format must be the full resource name of [EdgeCacheService](https://cloud.google.com/media-cdn/docs/reference/rest/v1/projects.locations.edgeCacheServices) in the following format: `//networkservices.googleapis.com/projects/{project}/locations/{location}/edgeCacheServices/{edgeCacheService}`.",
          "type": "array"
        }
      },
      "description": "Specifies the set of targets to which `CdnEdgeExtension` should be applied to.",
      "type": "object",
      "id": "CdnEdgeExtensionTarget"
    },
    "GrpcRouteRouteMatch": {
      "type": "object",
      "properties": {
        "headers": {
          "items": {
            "$ref": "GrpcRouteHeaderMatch"
          },
          "description": "Optional. Specifies a collection of headers to match.",
          "type": "array"
        },
        "method": {
          "$ref": "GrpcRouteMethodMatch",
          "description": "Optional. A gRPC method to match against. If this field is empty or omitted, will match all methods."
        }
      },
      "description": "Criteria for matching traffic. A RouteMatch will be considered to match when all supplied fields match.",
      "id": "GrpcRouteRouteMatch"
    },
    "HttpRouteFaultInjectionPolicyDelay": {
      "properties": {
        "fixedDelay": {
          "type": "string",
          "format": "google-duration",
          "description": "Specify a fixed delay before forwarding the request."
        },
        "percentage": {
          "type": "integer",
          "format": "int32",
          "description": "The percentage of traffic on which delay will be injected. The value must be between [0, 100]"
        }
      },
      "description": "Specification of how client requests are delayed as part of fault injection before being sent to a destination.",
      "id": "HttpRouteFaultInjectionPolicyDelay",
      "type": "object"
    },
    "HttpRouteCorsPolicy": {
      "properties": {
        "disabled": {
          "description": "If true, the CORS policy is disabled. The default value is false, which indicates that the CORS policy is in effect.",
          "type": "boolean"
        },
        "exposeHeaders": {
          "type": "array",
          "description": "Specifies the content for Access-Control-Expose-Headers header.",
          "items": {
            "type": "string"
          }
        },
        "allowOriginRegexes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the regular expression patterns that match allowed origins. For regular expression grammar, please see https://github.com/google/re2/wiki/Syntax."
        },
        "maxAge": {
          "type": "string",
          "description": "Specifies how long result of a preflight request can be cached in seconds. This translates to the Access-Control-Max-Age header."
        },
        "allowCredentials": {
          "type": "boolean",
          "description": "In response to a preflight request, setting this to true indicates that the actual request can include user credentials. This translates to the Access-Control-Allow-Credentials header. Default value is false."
        },
        "allowMethods": {
          "description": "Specifies the content for Access-Control-Allow-Methods header.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowHeaders": {
          "description": "Specifies the content for Access-Control-Allow-Headers header.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allowOrigins": {
          "type": "array",
          "description": "Specifies the list of origins that will be allowed to do CORS requests. An origin is allowed if it matches either an item in allow_origins or an item in allow_origin_regexes.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "HttpRouteCorsPolicy",
      "description": "The Specification for allowing client side cross-origin requests."
    },
    "ListWasmPluginsResponse": {
      "properties": {
        "wasmPlugins": {
          "type": "array",
          "description": "List of `WasmPlugin` resources.",
          "items": {
            "$ref": "WasmPlugin"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unreachable resources. Populated when the request attempts to list all resources across all supported locations, while some locations are temporarily unavailable.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response returned by the `ListWasmPlugins` method.",
      "type": "object",
      "id": "ListWasmPluginsResponse"
    },
    "ListAgentGatewaysResponse": {
      "type": "object",
      "properties": {
        "agentGateways": {
          "items": {
            "$ref": "AgentGateway"
          },
          "type": "array",
          "description": "List of AgentGateway resources."
        },
        "unreachable": {
          "description": "Unreachable resources. Populated when the request attempts to list all resources across all supported locations, while some locations are temporarily unavailable.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      },
      "id": "ListAgentGatewaysResponse",
      "description": "Response returned by the ListAgentGateways method."
    },
    "HttpRouteRequestMirrorPolicy": {
      "description": "Specifies the policy on how requests are shadowed to a separate mirrored destination service. The proxy does not wait for responses from the shadow service. Prior to sending traffic to the shadow service, the host/authority header is suffixed with -shadow. Mirroring is currently not supported for Cloud Run destinations.",
      "properties": {
        "destination": {
          "description": "The destination the requests will be mirrored to. The weight of the destination will be ignored.",
          "$ref": "HttpRouteDestination"
        },
        "mirrorPercent": {
          "description": "Optional. The percentage of requests to get mirrored to the desired destination.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "id": "HttpRouteRequestMirrorPolicy"
    },
    "Location": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "ListLbRouteExtensionsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results that the server returns."
        },
        "lbRouteExtensions": {
          "description": "The list of `LbRouteExtension` resources.",
          "type": "array",
          "items": {
            "$ref": "LbRouteExtension"
          }
        }
      },
      "id": "ListLbRouteExtensionsResponse",
      "description": "Message for response to listing `LbRouteExtension` resources."
    },
    "ServiceLbPolicyFailoverConfig": {
      "description": "Option to specify health based failover behavior. This is not related to Network load balancer FailoverPolicy.",
      "properties": {
        "failoverHealthThreshold": {
          "format": "int32",
          "description": "Optional. The percentage threshold that a load balancer will begin to send traffic to failover backends. If the percentage of endpoints in a MIG/NEG is smaller than this value, traffic would be sent to failover backends if possible. This field should be set to a value between 1 and 99. The default value is 50 for Global external HTTP(S) load balancer (classic) and Proxyless service mesh, and 70 for others.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "ServiceLbPolicyFailoverConfig"
    },
    "WasmPluginVersion": {
      "type": "object",
      "description": "A single immutable version of a `WasmPlugin` resource. Defines the Wasm module used and optionally its runtime config.",
      "properties": {
        "name": {
          "description": "Identifier. Name of the `WasmPluginVersion` resource in the following format: `projects/{project}/locations/{location}/wasmPlugins/{wasm_plugin}/ versions/{wasm_plugin_version}`.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "readOnly": true
        },
        "pluginConfigData": {
          "format": "byte",
          "type": "string",
          "description": "Configuration for the plugin. The configuration is provided to the plugin at runtime through the `ON_CONFIGURE` callback. When a new `WasmPluginVersion` resource is created, the digest of the contents is saved in the `plugin_config_digest` field."
        },
        "imageDigest": {
          "description": "Output only. This field holds the digest (usually checksum) value for the plugin image. The value is calculated based on the `image_uri` field. If the `image_uri` field refers to a container image, the digest value is obtained from the container image. If the `image_uri` field refers to a generic artifact, the digest value is calculated based on the contents of the file.",
          "readOnly": true,
          "type": "string"
        },
        "pluginConfigDigest": {
          "readOnly": true,
          "description": "Output only. This field holds the digest (usually checksum) value for the plugin configuration. The value is calculated based on the contents of `plugin_config_data` field or the image defined by the `plugin_config_uri` field.",
          "type": "string"
        },
        "pluginConfigUri": {
          "description": "URI of the plugin configuration stored in the Artifact Registry. The configuration is provided to the plugin at runtime through the `ON_CONFIGURE` callback. The URI can refer to one of the following repository formats: * Container images: the `plugin_config_uri` must point to a container that contains a single file with the name `plugin.config`. When a new `WasmPluginVersion` resource is created, the digest of the image is saved in the `plugin_config_digest` field. When pulling a container image from Artifact Registry, the digest value is used instead of an image tag. * Generic artifacts: the `plugin_config_uri` must be in this format: `projects/{project}/locations/{location}/repositories/{repository}/ genericArtifacts/{package}:{version}`. The specified package and version must contain a file with the name `plugin.config`. When a new `WasmPluginVersion` resource is created, the checksum of the contents of the file is saved in the `plugin_config_digest` field.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Set of labels associated with the `WasmPluginVersion` resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "imageUri": {
          "type": "string",
          "description": "Optional. URI of the image containing the Wasm module, stored in Artifact Registry. The URI can refer to one of the following repository formats: * Container images: the `image_uri` must point to a container that contains a single file with the name `plugin.wasm`. When a new `WasmPluginVersion` resource is created, the digest of the image is saved in the `image_digest` field. When pulling a container image from Artifact Registry, the digest value is used instead of an image tag. * Generic artifacts: the `image_uri` must be in this format: `projects/{project}/locations/{location}/repositories/{repository}/ genericArtifacts/{package}:{version}`. The specified package and version must contain a file with the name `plugin.wasm`. When a new `WasmPluginVersion` resource is created, the checksum of the contents of the file is saved in the `image_digest` field."
        },
        "description": {
          "type": "string",
          "description": "Optional. A human-readable description of the resource."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was updated."
        }
      },
      "id": "WasmPluginVersion"
    },
    "TlsRouteRouteAction": {
      "properties": {
        "idleTimeout": {
          "description": "Optional. Specifies the idle timeout for the selected route. The idle timeout is defined as the period in which there are no bytes sent or received on either the upstream or downstream connection. If not set, the default idle timeout is 1 hour. If set to 0s, the timeout will be disabled.",
          "type": "string",
          "format": "google-duration"
        },
        "destinations": {
          "description": "Required. The destination services to which traffic should be forwarded. At least one destination service is required.",
          "type": "array",
          "items": {
            "$ref": "TlsRouteRouteDestination"
          }
        }
      },
      "description": "The specifications for routing traffic and applying associated policies.",
      "type": "object",
      "id": "TlsRouteRouteAction"
    },
    "GrpcRoute": {
      "description": "GrpcRoute is the resource defining how gRPC traffic routed by a Mesh or Gateway resource is routed.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was created."
        },
        "gateways": {
          "description": "Optional. Gateways defines a list of gateways this GrpcRoute is attached to, as one of the routing rules to route the requests served by the gateway. Each gateway reference should match the pattern: `projects/*/locations/*/gateways/`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "rules": {
          "type": "array",
          "items": {
            "$ref": "GrpcRouteRouteRule"
          },
          "description": "Required. A list of detailed rules defining how to route traffic. Within a single GrpcRoute, the GrpcRoute.RouteAction associated with the first matching GrpcRoute.RouteRule will be executed. At least one rule must be supplied."
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "hostnames": {
          "items": {
            "type": "string"
          },
          "description": "Required. Service hostnames with an optional port for which this route describes traffic. Format: [:] Hostname is the fully qualified domain name of a network host. This matches the RFC 1123 definition of a hostname with 2 notable exceptions: - IPs are not allowed. - A hostname may be prefixed with a wildcard label (`*.`). The wildcard label must appear by itself as the first label. Hostname can be \"precise\" which is a domain name without the terminating dot of a network host (e.g. `foo.example.com`) or \"wildcard\", which is a domain name prefixed with a single wildcard label (e.g. `*.example.com`). Note that as per RFC1035 and RFC1123, a label must consist of lower case alphanumeric characters or '-', and must start and end with an alphanumeric character. No other punctuation is allowed. The routes associated with a Mesh or Gateway must have unique hostnames. If you attempt to attach multiple routes with conflicting hostnames, the configuration will be rejected. For example, while it is acceptable for routes for the hostnames `*.foo.bar.com` and `*.bar.com` to be associated with the same route, it is not possible to associate two routes both with `*.bar.com` or both with `bar.com`. If a port is specified, then gRPC clients must use the channel URI with the port to match this rule (i.e. \"xds:///service:123\"), otherwise they must supply the URI without a port (i.e. \"xds:///service\").",
          "type": "array"
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. Server-defined URL of this resource",
          "readOnly": true
        },
        "meshes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Meshes defines a list of meshes this GrpcRoute is attached to, as one of the routing rules to route the requests served by the mesh. Each mesh reference should match the pattern: `projects/*/locations/*/meshes/`"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the GrpcRoute resource. It matches pattern `projects/*/locations/*/grpcRoutes/`"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of label tags associated with the GrpcRoute resource.",
          "type": "object"
        }
      },
      "id": "GrpcRoute",
      "type": "object"
    },
    "GrpcRouteMethodMatch": {
      "properties": {
        "grpcMethod": {
          "description": "Required. Name of the method to match against. If unspecified, will match all methods.",
          "type": "string"
        },
        "caseSensitive": {
          "description": "Optional. Specifies that matches are case sensitive. The default value is true. case_sensitive must not be used with a type of REGULAR_EXPRESSION.",
          "type": "boolean"
        },
        "grpcService": {
          "type": "string",
          "description": "Required. Name of the service to match against. If unspecified, will match all services."
        },
        "type": {
          "enumDescriptions": [
            "Unspecified.",
            "Will only match the exact name provided.",
            "Will interpret grpc_method and grpc_service as regexes. RE2 syntax is supported."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXACT",
            "REGULAR_EXPRESSION"
          ],
          "description": "Optional. Specifies how to match against the name. If not specified, a default value of \"EXACT\" is used."
        }
      },
      "id": "GrpcRouteMethodMatch",
      "description": "Specifies a match against a method.",
      "type": "object"
    },
    "TlsRouteRouteDestination": {
      "description": "Describe the destination for traffic to be routed to.",
      "properties": {
        "weight": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Specifies the proportion of requests forwarded to the backend referenced by the service_name field. This is computed as: - weight/Sum(weights in destinations) Weights in all destinations does not need to sum up to 100."
        },
        "serviceName": {
          "type": "string",
          "description": "Required. The URL of a BackendService to route traffic to."
        }
      },
      "type": "object",
      "id": "TlsRouteRouteDestination"
    },
    "HttpRouteFaultInjectionPolicy": {
      "type": "object",
      "id": "HttpRouteFaultInjectionPolicy",
      "description": "The specification for fault injection introduced into traffic to test the resiliency of clients to destination service failure. As part of fault injection, when clients send requests to a destination, delays can be introduced by client proxy on a percentage of requests before sending those requests to the destination service. Similarly requests can be aborted by client proxy for a percentage of requests.",
      "properties": {
        "abort": {
          "$ref": "HttpRouteFaultInjectionPolicyAbort",
          "description": "The specification for aborting to client requests."
        },
        "delay": {
          "$ref": "HttpRouteFaultInjectionPolicyDelay",
          "description": "The specification for injecting delay to client requests."
        }
      }
    },
    "GrpcRouteFaultInjectionPolicy": {
      "type": "object",
      "id": "GrpcRouteFaultInjectionPolicy",
      "description": "The specification for fault injection introduced into traffic to test the resiliency of clients to destination service failure. As part of fault injection, when clients send requests to a destination, delays can be introduced on a percentage of requests before sending those requests to the destination service. Similarly requests from clients can be aborted by for a percentage of requests.",
      "properties": {
        "delay": {
          "description": "The specification for injecting delay to client requests.",
          "$ref": "GrpcRouteFaultInjectionPolicyDelay"
        },
        "abort": {
          "$ref": "GrpcRouteFaultInjectionPolicyAbort",
          "description": "The specification for aborting to client requests."
        }
      }
    },
    "Gateway": {
      "description": "Gateway represents the configuration for a proxy, typically a load balancer. It captures the ip:port over which the services are exposed by the proxy, along with any policy configurations. Routes have reference to to Gateways to dictate how requests should be routed by this Gateway.",
      "properties": {
        "routingMode": {
          "description": "Optional. The routing mode of the Gateway. This field is configurable only for gateways of type SECURE_WEB_GATEWAY. This field is required for gateways of type SECURE_WEB_GATEWAY.",
          "type": "string",
          "enum": [
            "EXPLICIT_ROUTING_MODE",
            "NEXT_HOP_ROUTING_MODE"
          ],
          "enumDescriptions": [
            "The routing mode is explicit; clients are configured to send traffic through the gateway. This is the default routing mode.",
            "The routing mode is next-hop. Clients are unaware of the gateway, and a route (advanced route or other route type) can be configured to direct traffic from client to gateway. The gateway then acts as a next-hop to the destination."
          ]
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "envoyHeaders": {
          "enumDescriptions": [
            "Defaults to NONE.",
            "Suppress envoy debug headers.",
            "Envoy will insert default internal debug headers into upstream requests: x-envoy-attempt-count, x-envoy-is-timeout-retry, x-envoy-expected-rq-timeout-ms, x-envoy-original-path, x-envoy-upstream-stream-duration-ms"
          ],
          "description": "Optional. Determines if envoy will insert internal debug headers into upstream requests. Other Envoy headers may still be injected. By default, envoy will not insert any debug headers.",
          "type": "string",
          "enum": [
            "ENVOY_HEADERS_UNSPECIFIED",
            "NONE",
            "DEBUG_HEADERS"
          ]
        },
        "addresses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Zero or one IPv4 or IPv6 address on which the Gateway will receive the traffic. When no address is provided, an IP from the subnetwork is allocated This field only applies to gateways of type 'SECURE_WEB_GATEWAY'. Gateways of type 'OPEN_MESH' listen on 0.0.0.0 for IPv4 and :: for IPv6."
        },
        "ipVersion": {
          "type": "string",
          "enum": [
            "IP_VERSION_UNSPECIFIED",
            "IPV4",
            "IPV6"
          ],
          "description": "Optional. The IP Version that will be used by this gateway. Valid options are IPV4 or IPV6. Default is IPV4.",
          "enumDescriptions": [
            "The type when IP version is not specified. Defaults to IPV4.",
            "The type for IP version 4.",
            "The type for IP version 6."
          ]
        },
        "network": {
          "description": "Optional. The relative resource name identifying the VPC network that is using this configuration. For example: `projects/*/global/networks/network-1`. Currently, this field is specific to gateways of type 'SECURE_WEB_GATEWAY'.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the Gateway resource. It matches pattern `projects/*/locations/*/gateways/`."
        },
        "scope": {
          "description": "Optional. Scope determines how configuration across multiple Gateway instances are merged. The configuration for multiple Gateway instances with the same scope will be merged as presented as a single configuration to the proxy/load balancer. Max length 64 characters. Scope should start with a letter and can only have letters, numbers, hyphens.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the Gateway resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "certificateUrls": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A fully-qualified Certificates URL reference. The proxy presents a Certificate (selected based on SNI) when establishing a TLS connection. This feature only applies to gateways of type 'SECURE_WEB_GATEWAY'.",
          "type": "array"
        },
        "selfLink": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined URL of this resource"
        },
        "allowGlobalAccess": {
          "type": "boolean",
          "description": "Optional. If true, the gateway will allow traffic from clients outside of the region where the gateway is located. This field is configurable only for gateways of type SECURE_WEB_GATEWAY."
        },
        "subnetwork": {
          "description": "Optional. The relative resource name identifying the subnetwork in which this SWG is allocated. For example: `projects/*/regions/us-central1/subnetworks/network-1` Currently, this field is specific to gateways of type 'SECURE_WEB_GATEWAY\".",
          "type": "string"
        },
        "allPorts": {
          "type": "boolean",
          "description": "Optional. If true, the Gateway will listen on all ports. This is mutually exclusive with the `ports` field. This field only applies to gateways of type 'SECURE_WEB_GATEWAY'."
        },
        "gatewaySecurityPolicy": {
          "description": "Optional. A fully-qualified GatewaySecurityPolicy URL reference. Defines how a server should apply security policy to inbound (VM to Proxy) initiated connections. For example: `projects/*/locations/*/gatewaySecurityPolicies/swg-policy`. This policy is specific to gateways of type 'SECURE_WEB_GATEWAY'.",
          "type": "string"
        },
        "type": {
          "description": "Immutable. The type of the customer managed gateway. This field is required. If unspecified, an error is returned.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "OPEN_MESH",
            "SECURE_WEB_GATEWAY"
          ],
          "enumDescriptions": [
            "The type of the customer managed gateway is unspecified.",
            "The type of the customer managed gateway is TrafficDirector Open Mesh.",
            "The type of the customer managed gateway is SecureWebGateway (SWG)."
          ]
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was updated."
        },
        "ports": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array",
          "description": "Required. One or more port numbers (1-65535), on which the Gateway will receive traffic. The proxy binds to the specified ports. Gateways of type 'SECURE_WEB_GATEWAY' are limited to 5 ports. Gateways of type 'OPEN_MESH' listen on 0.0.0.0 for IPv4 and :: for IPv6 and support multiple ports."
        },
        "serverTlsPolicy": {
          "type": "string",
          "description": "Optional. A fully-qualified ServerTLSPolicy URL reference. Specifies how TLS traffic is terminated. If empty, TLS termination is disabled."
        }
      },
      "type": "object",
      "id": "Gateway"
    },
    "ListGatewayRouteViewsResponse": {
      "description": "Response returned by the ListGatewayRouteViews method.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "gatewayRouteViews": {
          "description": "List of GatewayRouteView resources.",
          "type": "array",
          "items": {
            "$ref": "GatewayRouteView"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources. Populated when the request attempts to list all resources across all supported locations, while some locations are temporarily unavailable.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListGatewayRouteViewsResponse"
    },
    "GrpcRouteDestination": {
      "id": "GrpcRouteDestination",
      "description": "The destination to which traffic will be routed.",
      "properties": {
        "serviceName": {
          "description": "Required. The URL of a destination service to which to route traffic. Must refer to either a BackendService or ServiceDirectoryService.",
          "type": "string"
        },
        "weight": {
          "format": "int32",
          "description": "Optional. Specifies the proportion of requests forwarded to the backend referenced by the serviceName field. This is computed as: - weight/Sum(weights in this destination list). For non-zero values, there may be some epsilon from the exact proportion defined here depending on the precision an implementation supports. If only one serviceName is specified and it has a weight greater than 0, 100% of the traffic is forwarded to that backend. If weights are specified for any one service name, they need to be specified for all of them. If weights are unspecified for all services, then, traffic is distributed in equal proportions to all of them.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ExtensionBindingMatchCondition": {
      "type": "object",
      "description": "Conditions to match against the incoming request.",
      "id": "ExtensionBindingMatchCondition",
      "properties": {
        "to": {
          "description": "Optional. Describes properties of a destination of a request. If specified, the extension will only be invoked on requests to destinations that match the specified criteria.",
          "$ref": "ExtensionBindingMatchConditionTo"
        }
      }
    },
    "TcpRouteRouteRule": {
      "properties": {
        "matches": {
          "description": "Optional. RouteMatch defines the predicate used to match requests to a given action. Multiple match types are \"OR\"ed for evaluation. If no routeMatch field is specified, this rule will unconditionally match traffic.",
          "items": {
            "$ref": "TcpRouteRouteMatch"
          },
          "type": "array"
        },
        "action": {
          "description": "Required. The detailed rule defining how to route matched traffic.",
          "$ref": "TcpRouteRouteAction"
        }
      },
      "id": "TcpRouteRouteRule",
      "type": "object",
      "description": "Specifies how to match traffic and how to route traffic when traffic is matched."
    },
    "ServiceLbPolicy": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when this resource was created.",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the ServiceLbPolicy resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. Name of the ServiceLbPolicy resource. It matches pattern `projects/{project}/locations/{location}/serviceLbPolicies/{service_lb_policy_name}`.",
          "type": "string"
        },
        "autoCapacityDrain": {
          "description": "Optional. Configuration to automatically move traffic away for unhealthy IG/NEG for the associated Backend Service.",
          "$ref": "ServiceLbPolicyAutoCapacityDrain"
        },
        "loadBalancingAlgorithm": {
          "description": "Optional. The type of load balancing algorithm to be used. The default behavior is WATERFALL_BY_REGION.",
          "type": "string",
          "enum": [
            "LOAD_BALANCING_ALGORITHM_UNSPECIFIED",
            "SPRAY_TO_WORLD",
            "SPRAY_TO_REGION",
            "WATERFALL_BY_REGION",
            "WATERFALL_BY_ZONE"
          ],
          "enumDescriptions": [
            "The type of the loadbalancing algorithm is unspecified.",
            "Balance traffic across all backends across the world proportionally based on capacity.",
            "Direct traffic to the nearest region with endpoints and capacity before spilling over to other regions and spread the traffic from each client to all the MIGs/NEGs in a region.",
            "Direct traffic to the nearest region with endpoints and capacity before spilling over to other regions. All MIGs/NEGs within a region are evenly loaded but each client might not spread the traffic to all the MIGs/NEGs in the region.",
            "Attempt to keep traffic in a single zone closest to the client, before spilling over to other zones."
          ]
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "isolationConfig": {
          "description": "Optional. Configuration to provide isolation support for the associated Backend Service.",
          "$ref": "ServiceLbPolicyIsolationConfig"
        },
        "failoverConfig": {
          "$ref": "ServiceLbPolicyFailoverConfig",
          "description": "Optional. Configuration related to health based failover."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when this resource was last updated.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "ServiceLbPolicy holds global load balancing and traffic distribution configuration that can be applied to a BackendService.",
      "id": "ServiceLbPolicy",
      "type": "object"
    },
    "GrpcRouteStatefulSessionAffinityPolicy": {
      "properties": {
        "cookieTtl": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. The cookie TTL value for the Set-Cookie header generated by the data plane. The lifetime of the cookie may be set to a value from 0 to 86400 seconds (24 hours) inclusive. Set this to 0s to use a session cookie and disable cookie expiration."
        }
      },
      "description": "The specification for cookie-based stateful session affinity where the date plane supplies a “session cookie” with the name \"GSSA\" which encodes a specific destination host and each request containing that cookie will be directed to that host as long as the destination host remains up and healthy. The gRPC proxyless mesh library or sidecar proxy will manage the session cookie but the client application code is responsible for copying the cookie from each RPC in the session to the next.",
      "id": "GrpcRouteStatefulSessionAffinityPolicy",
      "type": "object"
    },
    "HttpRouteRouteAction": {
      "id": "HttpRouteRouteAction",
      "description": "The specifications for routing traffic and applying associated policies.",
      "properties": {
        "requestMirrorPolicy": {
          "description": "Specifies the policy on how requests intended for the routes destination are shadowed to a separate mirrored destination. Proxy will not wait for the shadow destination to respond before returning the response. Prior to sending traffic to the shadow service, the host/authority header is suffixed with -shadow.",
          "$ref": "HttpRouteRequestMirrorPolicy"
        },
        "destinations": {
          "type": "array",
          "items": {
            "$ref": "HttpRouteDestination"
          },
          "description": "The destination to which traffic should be forwarded."
        },
        "retryPolicy": {
          "$ref": "HttpRouteRetryPolicy",
          "description": "Specifies the retry policy associated with this route."
        },
        "timeout": {
          "format": "google-duration",
          "description": "Specifies the timeout for selected route. Timeout is computed from the time the request has been fully processed (i.e. end of stream) up until the response has been completely processed. Timeout includes all retries.",
          "type": "string"
        },
        "directResponse": {
          "description": "Optional. Static HTTP Response object to be returned regardless of the request.",
          "$ref": "HttpRouteHttpDirectResponse"
        },
        "faultInjectionPolicy": {
          "description": "The specification for fault injection introduced into traffic to test the resiliency of clients to backend service failure. As part of fault injection, when clients send requests to a backend service, delays can be introduced on a percentage of requests before sending those requests to the backend service. Similarly requests from clients can be aborted for a percentage of requests. timeout and retry_policy will be ignored by clients that are configured with a fault_injection_policy",
          "$ref": "HttpRouteFaultInjectionPolicy"
        },
        "redirect": {
          "description": "If set, the request is directed as configured by this field.",
          "$ref": "HttpRouteRedirect"
        },
        "urlRewrite": {
          "$ref": "HttpRouteURLRewrite",
          "description": "The specification for rewrite URL before forwarding requests to the destination."
        },
        "corsPolicy": {
          "description": "The specification for allowing client side cross-origin requests.",
          "$ref": "HttpRouteCorsPolicy"
        },
        "responseHeaderModifier": {
          "description": "The specification for modifying the headers of a response prior to sending the response back to the client. If HeaderModifiers are set on both the Destination and the RouteAction, they will be merged. Conflicts between the two will not be resolved on the configuration.",
          "$ref": "HttpRouteHeaderModifier"
        },
        "idleTimeout": {
          "description": "Optional. Specifies the idle timeout for the selected route. The idle timeout is defined as the period in which there are no bytes sent or received on either the upstream or downstream connection. If not set, the default idle timeout is 1 hour. If set to 0s, the timeout will be disabled.",
          "type": "string",
          "format": "google-duration"
        },
        "statefulSessionAffinity": {
          "$ref": "HttpRouteStatefulSessionAffinityPolicy",
          "description": "Optional. Specifies cookie-based stateful session affinity."
        },
        "requestHeaderModifier": {
          "description": "The specification for modifying the headers of a matching request prior to delivery of the request to the destination. If HeaderModifiers are set on both the Destination and the RouteAction, they will be merged. Conflicts between the two will not be resolved on the configuration.",
          "$ref": "HttpRouteHeaderModifier"
        }
      },
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "LoggingConfig": {
      "id": "LoggingConfig",
      "description": "The configuration for Platform Telemetry logging for Eventarc Advanced resources.",
      "type": "object",
      "properties": {
        "logSeverity": {
          "enumDescriptions": [
            "Log severity is not specified. This value is treated the same as NONE, but is used to distinguish between no update and update to NONE in update_masks.",
            "Default value at resource creation, presence of this value must be treated as no logging/disable logging.",
            "Debug or trace level logging.",
            "Routine information, such as ongoing status or performance.",
            "Normal but significant events, such as start up, shut down, or a configuration change.",
            "Warning events might cause problems.",
            "Error events are likely to cause problems.",
            "Critical events cause more severe problems or outages.",
            "A person must take action immediately.",
            "One or more systems are unusable."
          ],
          "description": "Optional. The minimum severity of logs that will be sent to Stackdriver/Platform Telemetry. Logs at severitiy ≥ this value will be sent, unless it is NONE.",
          "type": "string",
          "enum": [
            "LOG_SEVERITY_UNSPECIFIED",
            "NONE",
            "DEBUG",
            "INFO",
            "NOTICE",
            "WARNING",
            "ERROR",
            "CRITICAL",
            "ALERT",
            "EMERGENCY"
          ]
        }
      }
    },
    "WasmPluginUsedBy": {
      "type": "object",
      "id": "WasmPluginUsedBy",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Full name of the resource https://google.aip.dev/122#full-resource-names, for example `//networkservices.googleapis.com/projects/{project}/locations/{location}/lbRouteExtensions/{extension}`",
          "type": "string"
        }
      },
      "description": "Defines a resource that uses the `WasmPlugin` resource."
    },
    "HttpRouteURLRewrite": {
      "properties": {
        "hostRewrite": {
          "description": "Prior to forwarding the request to the selected destination, the requests host header is replaced by this value.",
          "type": "string"
        },
        "pathPrefixRewrite": {
          "description": "Prior to forwarding the request to the selected destination, the matching portion of the requests path is replaced by this value.",
          "type": "string"
        }
      },
      "description": "The specification for modifying the URL of the request, prior to forwarding the request to the destination.",
      "id": "HttpRouteURLRewrite",
      "type": "object"
    },
    "CdnEdgeExtension": {
      "properties": {
        "target": {
          "description": "Required. Specifies the set of resources to which this extension should be applied to.",
          "$ref": "CdnEdgeExtensionTarget"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. Set of labels associated with the `CdnEdgeExtension` resource. The format must comply with [the requirements for labels](https://cloud.google.com/compute/docs/labeling-resources#requirements) for Google Cloud resources.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "extensionChains": {
          "items": {
            "$ref": "ExtensionChain"
          },
          "description": "Required. A set of ordered extension chains that contain the match conditions and extensions to execute. Match conditions for each extension chain are evaluated in sequence for a given request. The first extension chain that has a condition that matches the request is executed. Any subsequent extension chains do not execute. Limited to 5 extension chains per resource.",
          "type": "array"
        },
        "name": {
          "description": "Required. Identifier. Name of the `CdnEdgeExtension` resource in the following format: `projects/{project}/locations/{location}/cdnEdgeExtensions/{cdn_edge_extension}`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A human-readable description of the resource.",
          "type": "string"
        }
      },
      "description": "`CdnEdgeExtension` is a resource that lets the extension service modify the headers of both requests to the cache and responses from the cache served by an [`EdgeCacheService`](https://cloud.google.com/media-cdn/docs/reference/rest/v1/projects.locations.edgeCacheServices).",
      "id": "CdnEdgeExtension",
      "type": "object"
    },
    "ListGatewaysResponse": {
      "id": "ListGatewaysResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "gateways": {
          "items": {
            "$ref": "Gateway"
          },
          "type": "array",
          "description": "List of Gateway resources."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      },
      "description": "Response returned by the ListGateways method."
    },
    "AgentGatewayNetworkConfigDnsPeeringConfig": {
      "properties": {
        "targetProject": {
          "type": "string",
          "description": "Required. Target project ID to which DNS queries should be forwarded to. This can be the same project that contains the AgentGateway or a different project."
        },
        "targetNetwork": {
          "type": "string",
          "description": "Required. Target network in 'target project' to which DNS queries should be forwarded to. Must be in format of `projects/{project}/global/networks/{network}`."
        },
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Domain names for which DNS queries should be forwarded to the target network."
        }
      },
      "description": "DNS peering config for the user VPC network.",
      "type": "object",
      "id": "AgentGatewayNetworkConfigDnsPeeringConfig"
    },
    "TrafficPortSelector": {
      "id": "TrafficPortSelector",
      "properties": {
        "ports": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of ports. Can be port numbers or port range (example, [80-90] specifies all ports from 80 to 90, including 80 and 90) or named ports or * to specify all ports. If the list is empty, all ports are selected.",
          "type": "array"
        }
      },
      "description": "Specification of a port-based selector.",
      "type": "object"
    },
    "MetadataLabelMatcher": {
      "id": "MetadataLabelMatcher",
      "properties": {
        "metadataLabels": {
          "type": "array",
          "items": {
            "$ref": "MetadataLabels"
          },
          "description": "The list of label value pairs that must match labels in the provided metadata based on filterMatchCriteria This list can have at most 64 entries. The list can be empty if the match criteria is MATCH_ANY, to specify a wildcard match (i.e this matches any client)."
        },
        "metadataLabelMatchCriteria": {
          "description": "Specifies how matching should be done. Supported values are: MATCH_ANY: At least one of the Labels specified in the matcher should match the metadata presented by xDS client. MATCH_ALL: The metadata presented by the xDS client should contain all of the labels specified here. The selection is determined based on the best match. For example, suppose there are three EndpointPolicy resources P1, P2 and P3 and if P1 has a the matcher as MATCH_ANY , P2 has MATCH_ALL , and P3 has MATCH_ALL . If a client with label connects, the config from P1 will be selected. If a client with label connects, the config from P2 will be selected. If a client with label connects, the config from P3 will be selected. If there is more than one best match, (for example, if a config P4 with selector exists and if a client with label connects), pick up the one with older creation time.",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "At least one of the Labels specified in the matcher should match the metadata presented by xDS client.",
            "The metadata presented by the xDS client should contain all of the labels specified here."
          ],
          "type": "string",
          "enum": [
            "METADATA_LABEL_MATCH_CRITERIA_UNSPECIFIED",
            "MATCH_ANY",
            "MATCH_ALL"
          ]
        }
      },
      "type": "object",
      "description": "The matcher that is based on node metadata presented by xDS clients."
    },
    "GrpcRouteFaultInjectionPolicyAbort": {
      "description": "Specification of how client requests are aborted as part of fault injection before being sent to a destination.",
      "type": "object",
      "id": "GrpcRouteFaultInjectionPolicyAbort",
      "properties": {
        "httpStatus": {
          "type": "integer",
          "format": "int32",
          "description": "The HTTP status code used to abort the request. The value must be between 200 and 599 inclusive."
        },
        "percentage": {
          "type": "integer",
          "description": "The percentage of traffic which will be aborted. The value must be between [0, 100]",
          "format": "int32"
        }
      }
    },
    "ListHttpRoutesResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Unreachable resources. Populated when the request opts into return_partial_success and reading across collections e.g. when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "httpRoutes": {
          "description": "List of HttpRoute resources.",
          "type": "array",
          "items": {
            "$ref": "HttpRoute"
          }
        }
      },
      "description": "Response returned by the ListHttpRoutes method.",
      "id": "ListHttpRoutesResponse"
    },
    "HttpRouteRouteRule": {
      "id": "HttpRouteRouteRule",
      "properties": {
        "action": {
          "description": "The detailed rule defining how to route matched traffic.",
          "$ref": "HttpRouteRouteAction"
        },
        "matches": {
          "items": {
            "$ref": "HttpRouteRouteMatch"
          },
          "type": "array",
          "description": "A list of matches define conditions used for matching the rule against incoming HTTP requests. Each match is independent, i.e. this rule will be matched if ANY one of the matches is satisfied. If no matches field is specified, this rule will unconditionally match traffic. If a default rule is desired to be configured, add a rule with no matches specified to the end of the rules list."
        }
      },
      "description": "Specifies how to match traffic and how to route traffic when traffic is matched.",
      "type": "object"
    },
    "TcpRouteRouteMatch": {
      "properties": {
        "port": {
          "description": "Required. Specifies the destination port to match against.",
          "type": "string"
        },
        "address": {
          "type": "string",
          "description": "Required. Must be specified in the CIDR range format. A CIDR range consists of an IP Address and a prefix length to construct the subnet mask. By default, the prefix length is 32 (i.e. matches a single IP address). Only IPV4 addresses are supported. Examples: \"10.0.0.1\" - matches against this exact IP address. \"10.0.0.0/8\" - matches against any IP address within the 10.0.0.0 subnet and 255.255.255.0 mask. \"0.0.0.0/0\" - matches against any IP address'."
        }
      },
      "description": "RouteMatch defines the predicate used to match requests to a given action. Multiple match types are \"OR\"ed for evaluation. If no routeMatch field is specified, this rule will unconditionally match traffic.",
      "type": "object",
      "id": "TcpRouteRouteMatch"
    },
    "ServiceLbPolicyAutoCapacityDrain": {
      "type": "object",
      "id": "ServiceLbPolicyAutoCapacityDrain",
      "properties": {
        "enable": {
          "description": "Optional. If set to 'True', an unhealthy IG/NEG will be set as drained. - An IG/NEG is considered unhealthy if less than 25% of the instances/endpoints in the IG/NEG are healthy. - This option will never result in draining more than 50% of the configured IGs/NEGs for the Backend Service.",
          "type": "boolean"
        }
      },
      "description": "Option to specify if an unhealthy IG/NEG should be considered for global load balancing and traffic routing."
    },
    "ListAgentConnectivityTemplatesResponse": {
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request attempts to list all resources across all supported locations, while some locations are temporarily unavailable.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "agentConnectivityTemplates": {
          "description": "List of AgentConnectivityTemplate resources.",
          "type": "array",
          "items": {
            "$ref": "AgentConnectivityTemplate"
          }
        }
      },
      "id": "ListAgentConnectivityTemplatesResponse",
      "type": "object",
      "description": "Response returned by the ListAgentConnectivityTemplates method."
    },
    "ExtensionChainMatchCondition": {
      "type": "object",
      "id": "ExtensionChainMatchCondition",
      "properties": {
        "celExpression": {
          "type": "string",
          "description": "Required. A Common Expression Language (CEL) expression that is used to match requests for which the extension chain is executed. For more information, see [CEL matcher language reference](https://cloud.google.com/service-extensions/docs/cel-matcher-language-reference)."
        }
      },
      "description": "Conditions under which this chain is invoked for a request."
    },
    "AgentGatewayNetworkConfigEgress": {
      "id": "AgentGatewayNetworkConfigEgress",
      "type": "object",
      "description": "Configuration for Egress",
      "properties": {
        "networkAttachment": {
          "type": "string",
          "description": "Optional. The URI of the Network Attachment resource."
        }
      }
    },
    "EndpointMatcher": {
      "id": "EndpointMatcher",
      "properties": {
        "metadataLabelMatcher": {
          "description": "The matcher is based on node metadata presented by xDS clients.",
          "$ref": "MetadataLabelMatcher"
        }
      },
      "description": "A definition of a matcher that selects endpoints to which the policies should be applied.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response message for Locations.ListLocations."
    },
    "AgentGateway": {
      "description": "AgentGateway represents the agent gateway resource.",
      "type": "object",
      "id": "AgentGateway",
      "properties": {
        "selfManaged": {
          "description": "Optional. Attach to existing Application Load Balancers or Secure Web Proxies.",
          "$ref": "AgentGatewaySelfManaged"
        },
        "networkConfig": {
          "description": "Optional. Network configuration for the AgentGateway.",
          "$ref": "AgentGatewayNetworkConfig"
        },
        "protocols": {
          "description": "Optional. Deprecated.",
          "items": {
            "enumDescriptions": [
              "Unspecified protocol.",
              "Message Control Plane protocol."
            ],
            "type": "string",
            "enum": [
              "PROTOCOL_UNSPECIFIED",
              "MCP"
            ]
          },
          "type": "array",
          "deprecated": true
        },
        "googleManaged": {
          "$ref": "AgentGatewayGoogleManaged",
          "description": "Optional. Proxy is orchestrated and managed by GoogleCloud in a tenant project."
        },
        "agentGatewayCard": {
          "$ref": "AgentGatewayAgentGatewayOutputCard",
          "readOnly": true,
          "description": "Output only. Field for populated AgentGateway card."
        },
        "name": {
          "description": "Identifier. Name of the AgentGateway resource. It matches pattern `projects/*/locations/*/agentGateways/`.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the AgentGateway resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "registries": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of Agent registries containing the agents, MCP servers and tools governed by the Agent Gateway. Note: Currently limited to project-scoped registries Must be of format `//agentregistry.googleapis.com/projects/{project}/locations/{location}/`",
          "type": "array"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "etag": {
          "description": "Optional. Etag of the resource. If this is provided, it must match the server's etag. If the provided etag does not match the server's etag, the request will fail with a 409 ABORTED error.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "agentConnectivityTemplate": {
          "description": "Optional. The resource name of the AgentConnectivityTemplate. Format: projects/{project}/locations/{location}/agentConnectivityTemplates/{template}",
          "type": "string"
        }
      }
    },
    "GrpcRouteFaultInjectionPolicyDelay": {
      "id": "GrpcRouteFaultInjectionPolicyDelay",
      "description": "Specification of how client requests are delayed as part of fault injection before being sent to a destination.",
      "properties": {
        "percentage": {
          "type": "integer",
          "description": "The percentage of traffic on which delay will be injected. The value must be between [0, 100]",
          "format": "int32"
        },
        "fixedDelay": {
          "type": "string",
          "format": "google-duration",
          "description": "Specify a fixed delay before forwarding the request."
        }
      },
      "type": "object"
    },
    "HttpRouteHeaderMatchIntegerRange": {
      "id": "HttpRouteHeaderMatchIntegerRange",
      "description": "Represents an integer value range.",
      "properties": {
        "start": {
          "description": "Start of the range (inclusive)",
          "type": "integer",
          "format": "int32"
        },
        "end": {
          "type": "integer",
          "description": "End of the range (exclusive)",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "ListMeshesResponse": {
      "description": "Response returned by the ListMeshes method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "meshes": {
          "description": "List of Mesh resources.",
          "items": {
[...]
