{
  "rootUrl": "https://networkmanagement.googleapis.com/",
  "discoveryVersion": "v1",
  "description": "The Network Management API provides a collection of network performance monitoring and diagnostic capabilities.",
  "revision": "20260819",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "networkmanagement.projects.locations.get",
              "description": "Gets information about a location.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET"
            },
            "list": {
              "httpMethod": "GET",
              "path": "v1/{+name}/locations",
              "id": "networkmanagement.projects.locations.list",
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version."
            }
          },
          "resources": {
            "networkMonitoringProviders": {
              "methods": {
                "get": {
                  "id": "networkmanagement.projects.locations.networkMonitoringProviders.get",
                  "path": "v1/{+name}",
                  "description": "Gets the NetworkMonitoringProvider resource.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/networkMonitoringProviders/{networkMonitoringProvidersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "NetworkMonitoringProvider"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the resource. Format: `projects/{project}/locations/{location}/networkMonitoringProviders/{network_monitoring_provider}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/networkMonitoringProviders/[^/]+$",
                      "required": true
                    }
                  }
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent value for ListNetworkMonitoringProvidersRequest. Format: `projects/{project}/locations/{location}`",
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of monitoring points to return. The service may return fewer than this value. If unspecified, at most 20 monitoring points will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListMonitoringPoints` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListMonitoringPoints` must match the call that provided the page token."
                    }
                  },
                  "response": {
                    "$ref": "ListNetworkMonitoringProvidersResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/networkMonitoringProviders",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "networkmanagement.projects.locations.networkMonitoringProviders.list",
                  "description": "Lists NetworkMonitoringProviders for a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/networkMonitoringProviders",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "networkmanagement.projects.locations.networkMonitoringProviders.delete",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/networkMonitoringProviders/{networkMonitoringProvidersId}",
                  "parameters": {
                    "force": {
                      "description": "Optional. If set to true, any nested MonitoringPoints, NetworkPaths and WebPaths resources from this NetworkMonitoringProvider will also be deleted. Otherwise, the request will only work if there are no nested resources.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the resource. Format: projects/{project}/locations/{location}/networkMonitoringProviders/{network_monitoring_provider}",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/networkMonitoringProviders/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a NetworkMonitoringProvider resource and all of its child resources."
                },
                "generateProviderAccessToken": {
                  "response": {
                    "$ref": "GenerateProviderAccessTokenResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "gcpAccessToken": {
                      "type": "string",
                      "description": "Required. Google access token.",
                      "location": "query"
                    },
                    "name": {
                      "description": "Required. Name of the resource. Format: projects/{project}/locations/{location}/networkMonitoringProviders/{network_monitoring_provider}",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/networkMonitoringProviders/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "networkmanagement.projects.locations.networkMonitoringProviders.generateProviderAccessToken",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/networkMonitoringProviders/{networkMonitoringProvidersId}:generateProviderAccessToken",
                  "path": "v1/{+name}:generateProviderAccessToken",
                  "httpMethod": "GET",
                  "description": "Generates a provider access token for a given Google access token. Provider access token is a short-lived token that is used to access resources in the provider's platform."
                },
                "generateMonitoringPointConfig": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GenerateMonitoringPointConfigResponse"
                  },
                  "path": "v1/{+name}:generateMonitoringPointConfig",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/networkMonitoringProviders/{networkMonitoringProvidersId}:generateMonitoringPointConfig",
                  "httpMethod": "GET",
                  "id": "networkmanagement.projects.locations.networkMonitoringProviders.generateMonitoringPointConfig",
                  "description": "Generates Monitoring Point configuration of a NetworkMonitoringProvider resource.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the resource. Format: projects/{project}/locations/{location}/networkMonitoringProviders/{network_monitoring_provider}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/networkMonitoringProviders/[^/]+$",
                      "required": true
                    },
                    "privateConnectivityEnabled": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. For Google Cloud MPs, this field indicates whether the Monitoring Point is deployed in a Private Service Connect deployment. Not used for non-Google Cloud MPs."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "request": {
                    "$ref": "NetworkMonitoringProvider"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a NetworkMonitoringProvider resource.",
                  "id": "networkmanagement.projects.locations.networkMonitoringProviders.create",
                  "parameters": {
                    "networkMonitoringProviderId": {
                      "type": "string",
                      "description": "Required. The ID to use for the NetworkMonitoringProvider resource, which will become the final component of the NetworkMonitoringProvider resource's name.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. Parent value for CreateNetworkMonitoringProviderRequest. Format: projects/{project}/locations/{location}",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+parent}/networkMonitoringProviders",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/networkMonitoringProviders"
                }
              },
              "resources": {
                "networkPaths": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/networkPaths",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/networkMonitoringProviders/{networkMonitoringProvidersId}/networkPaths",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. The maximum number of network paths to return. The service may return fewer than this value. If unspecified, at most 20 network pathswill be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A page token, received from a previous `ListNetworkPaths` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListNetworkPaths` must match the call that provided the page token."
                        },
                        "parent": {
                          "description": "Required. Parent value for ListNetworkPathsRequest. Format: projects/{project}/locations/{location}/networkMonitoringProviders/{network_monitoring_provider}",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/networkMonitoringProviders/[^/]+$",
                          "location": "path"
                        }
                      },
                      "id": "networkmanagement.projects.locations.networkMonitoringProviders.networkPaths.list",
                      "response": {
                        "$ref": "ListNetworkPathsResponse"
                      },
                      "description": "Lists NetworkPaths for a given network monitoring provider."
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "NetworkPath"
                      },
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "networkmanagement.projects.locations.networkMonitoringProviders.networkPaths.get",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/networkMonitoringProviders/[^/]+/networkPaths/[^/]+$",
                          "required": true,
                          "description": "Required. Name of the resource. Format: projects/{project}/locations/{location}/networkMonitoringProviders/{network_monitoring_provider}/networkPaths/{network_path}",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "description": "Gets the NetworkPath resource.",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/networkMonitoringProviders/{networkMonitoringProvidersId}/networkPaths/{networkPathsId}"
                    }
                  }
                },
                "monitoringPoints": {
                  "methods": {
                    "downloadInstallScript": {
                      "path": "v1/{+parent}/monitoringPoints:downloadInstallScript",
                      "parameters": {
                        "ntpServerSecondaryAddress": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Second NTP server."
                        },
                        "privateConnectivityEnabled": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. For Google Cloud MPs, this field indicates whether the Monitoring Point is deployed in a Private Service Connect deployment. Not used for non-Google Cloud MPs."
                        },
                        "timeZone.id": {
                          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
                          "type": "string",
                          "location": "query"
                        },
                        "useDhcp": {
                          "location": "query",
                          "description": "Optional. Dynamic Host Configuration Protocol, is a network management protocol that automatically assigns IP addresses and other network configuration parameters to devices connecting to a network.",
                          "type": "boolean"
                        },
                        "_password": {
                          "location": "query",
                          "description": "Optional. Password for logging into the MonitoringPoint.",
                          "type": "string"
                        },
                        "staticIpAddress.ipAddress": {
                          "location": "query",
                          "description": "Required. IP address of the MonitoringPoint.",
                          "type": "string"
                        },
                        "staticIpAddress.domain": {
                          "description": "Optional. Domain name of the MonitoringPoint.",
                          "location": "query",
                          "type": "string"
                        },
                        "hostname": {
                          "description": "Required. The hostname of the MonitoringPoint, e.g. \"test-vm\"",
                          "location": "query",
                          "type": "string"
                        },
                        "monitoringPointType": {
                          "location": "query",
                          "description": "Required. The type of the monitoring point.",
                          "type": "string",
                          "enum": [
                            "MONITORING_POINT_TYPE_UNSPECIFIED",
                            "CONTAINER",
                            "KVM",
                            "VMWARE",
                            "HELM",
                            "GCE_VM",
                            "AZURE_VM",
                            "AWS_EC2"
                          ],
                          "enumDescriptions": [
                            "This value should not be used.",
                            "Monitoring Point that runs in a Docker container.",
                            "Monitoring Point that runs in a Kernel-based Virtual Machine (KVM) hypervisor.",
                            "Monitoring Point that runs in a VMware hypervisor.",
                            "Monitoring Point that runs on a K8S Helm.",
                            "Monitoring Point that runs as a startup script in a Compute Engine VM.",
                            "Monitoring Point that runs as a startup script in an Azure VM.",
                            "Monitoring Point that runs as a startup script in an AWS EC2 instance."
                          ]
                        },
                        "staticIpAddress.netmask": {
                          "type": "string",
                          "description": "Optional. Networkmask and CIDR range. Example: \"255.255.255.0/24\"",
                          "location": "query"
                        },
                        "staticIpAddress.gatewayAddress": {
                          "description": "Required. Gateway IP address. Example: \"100.80.40.1\".",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/networkMonitoringProviders/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. Parent value for DownloadInstallScriptRequest. Format: projects/{project}/locations/{location}/networkMonitoringProviders/{network_monitoring_provider}"
                        },
                        "ntpServerAddress": {
                          "type": "string",
                          "description": "Optional. Network Time Protocol a user can configure. If the user omits the field, the default is either NTP servers provided in the DHCP lease or a set of well-known NTP servers pre-configured on the monitoring point. This field can be an IP address or FQDN.",
                          "location": "query"
                        },
                        "timeZone.version": {
                          "location": "query",
                          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
                          "type": "string"
                        },
                        "staticIpAddress.dnsServerSecondaryAddress": {
                          "location": "query",
                          "description": "Optional. Second DNS server.",
                          "type": "string"
                        },
                        "staticIpAddress.dnsServerAddress": {
                          "type": "string",
                          "description": "Required. DNS server.",
                          "location": "query"
                        }
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/networkMonitoringProviders/{networkMonitoringProvidersId}/monitoringPoints:downloadInstallScript",
                      "id": "networkmanagement.projects.locations.networkMonitoringProviders.monitoringPoints.downloadInstallScript",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "HttpBody"
                      },
                      "description": "Downloads an install script for MonitoringPoints for a given network monitoring provider.",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "downloadRecreateInstallScript": {
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "id": "networkmanagement.projects.locations.networkMonitoringProviders.monitoringPoints.downloadRecreateInstallScript",
                      "description": "Downloads an install script for a specific Container MonitoringPoint.",
                      "parameters": {
                        "hostname": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The hostname of the MonitoringPoint, e.g. \"test-vm\""
                        },
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/networkMonitoringProviders/[^/]+/monitoringPoints/[^/]+$",
                          "description": "Required. Resource name of the MonitoringPoint. Format: projects/{project}/locations/{location}/networkMonitoringProviders/{network_monitoring_provider}/monitoringPoints/{monitoring_point}",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "HttpBody"
                      },
                      "path": "v1/{+name}:downloadRecreateInstallScript",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/networkMonitoringProviders/{networkMonitoringProvidersId}/monitoringPoints/{monitoringPointsId}:downloadRecreateInstallScript",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/networkMonitoringProviders/{networkMonitoringProvidersId}/monitoringPoints/{monitoringPointsId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. Name of the resource. Format: projects/{project}/locations/{location}/networkMonitoringProviders/{network_monitoring_provider}/monitoringPoints/{monitoring_point}",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/networkMonitoringProviders/[^/]+/monitoringPoints/[^/]+$"
                        }
                      },
                      "description": "Gets the MonitoringPoint resource.",
                      "id": "networkmanagement.projects.locations.networkMonitoringProviders.monitoringPoints.get",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "MonitoringPoint"
                      }
                    },
                    "list": {
                      "description": "Lists MonitoringPoints for a given network monitoring provider.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/networkMonitoringProviders/{networkMonitoringProvidersId}/monitoringPoints",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A page token, received from a previous `ListMonitoringPoints` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListMonitoringPoints` must match the call that provided the page token."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/networkMonitoringProviders/[^/]+$",
                          "required": true,
                          "description": "Required. Parent value for ListMonitoringPointsRequest. Format: projects/{project}/locations/{location}/networkMonitoringProviders/{network_monitoring_provider}",
                          "type": "string",
                          "location": "path"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. The maximum number of monitoring points to return. The service may return fewer than this value. If unspecified, at most 20 monitoring points will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "type": "integer"
                        }
                      },
                      "httpMethod": "GET",
                      "id": "networkmanagement.projects.locations.networkMonitoringProviders.monitoringPoints.list",
                      "path": "v1/{+parent}/monitoringPoints",
                      "response": {
                        "$ref": "ListMonitoringPointsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "downloadServerConnectConfig": {
                      "path": "v1/{+parent}/monitoringPoints:downloadServerConnectConfig",
                      "id": "networkmanagement.projects.locations.networkMonitoringProviders.monitoringPoints.downloadServerConnectConfig",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/networkMonitoringProviders/{networkMonitoringProvidersId}/monitoringPoints:downloadServerConnectConfig",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "HttpBody"
                      },
                      "description": "Downloads the server connect configuration for a given network monitoring provider.",
                      "parameters": {
                        "parent": {
                          "description": "Required. Parent value for DownloadServerConnectConfigRequest. Format: projects/{project}/locations/{location}/networkMonitoringProviders/{network_monitoring_provider}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/networkMonitoringProviders/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      }
                    }
                  }
                },
                "webPaths": {
                  "methods": {
                    "list": {
                      "path": "v1/{+parent}/webPaths",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "description": "Required. Parent value for ListWebPathsRequest. Format: projects/{project}/locations/{location}/networkMonitoringProviders/{network_monitoring_provider}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/networkMonitoringProviders/[^/]+$",
                          "location": "path"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of web paths to return. The service may return fewer than this value. If unspecified, at most 20 web paths will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListWebPaths` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWebPaths` must match the call that provided the page token."
                        }
                      },
                      "response": {
                        "$ref": "ListWebPathsResponse"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/networkMonitoringProviders/{networkMonitoringProvidersId}/webPaths",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "networkmanagement.projects.locations.networkMonitoringProviders.webPaths.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists WebPaths for a given network monitoring provider."
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. Name of the resource.. Format: projects/{project}/locations/{location}/networkMonitoringProviders/{network_monitoring_provider}/webPaths/{web_path}",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/networkMonitoringProviders/[^/]+/webPaths/[^/]+$",
                          "required": true
                        }
                      },
                      "description": "Gets the WebPath resource.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/networkMonitoringProviders/{networkMonitoringProvidersId}/webPaths/{webPathsId}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "WebPath"
                      },
                      "id": "networkmanagement.projects.locations.networkMonitoringProviders.webPaths.get",
                      "path": "v1/{+name}"
                    }
                  }
                }
              }
            },
            "vpcFlowLogsConfigs": {
              "methods": {
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/vpcFlowLogsConfigs/{vpcFlowLogsConfigsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets the details of a specific `VpcFlowLogsConfig`.",
                  "path": "v1/{+name}",
                  "id": "networkmanagement.projects.locations.vpcFlowLogsConfigs.get",
                  "response": {
                    "$ref": "VpcFlowLogsConfig"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the VpcFlowLogsConfig, in one of the following formats: - For project-level resources: `projects/{project_id}/locations/global/vpcFlowLogsConfigs/{vpc_flow_logs_config_id}` - For organization-level resources: `organizations/{organization_id}/locations/global/vpcFlowLogsConfigs/{vpc_flow_logs_config_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/vpcFlowLogsConfigs/[^/]+$",
                      "required": true
                    }
                  }
                },
                "list": {
                  "id": "networkmanagement.projects.locations.vpcFlowLogsConfigs.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all `VpcFlowLogsConfigs` in a given project.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource of the VpcFlowLogsConfig, in one of the following formats: - For project-level resources: `projects/{project_id}/locations/global` - For organization-level resources: `organizations/{organization_id}/locations/global`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "Optional. Number of `VpcFlowLogsConfigs` to return.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. Lists the `VpcFlowLogsConfigs` that match the filter expression. A filter expression must use the supported [CEL logic operators] (https://cloud.google.com/vpc/docs/about-flow-logs-records#supported_cel_logic_operators).",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Field to use to sort the list.",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. Page token from an earlier query, as returned in `next_page_token`.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListVpcFlowLogsConfigsResponse"
                  },
                  "path": "v1/{+parent}/vpcFlowLogsConfigs",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/vpcFlowLogsConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "id": "networkmanagement.projects.locations.vpcFlowLogsConfigs.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a specific `VpcFlowLogsConfig`.",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/vpcFlowLogsConfigs/{vpcFlowLogsConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/vpcFlowLogsConfigs/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name of the VpcFlowLogsConfig, in one of the following formats: - For a project-level resource: `projects/{project_id}/locations/global/vpcFlowLogsConfigs/{vpc_flow_logs_config_id}` - For an organization-level resource: `organizations/{organization_id}/locations/global/vpcFlowLogsConfigs/{vpc_flow_logs_config_id}`",
                      "required": true
                    }
                  }
                },
                "queryOrgVpcFlowLogsConfigs": {
                  "response": {
                    "$ref": "QueryOrgVpcFlowLogsConfigsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. Page token from an earlier query, as returned in `next_page_token`.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Number of `VpcFlowLogsConfigs` to return.",
                      "format": "int32"
                    },
                    "parent": {
                      "description": "Required. The parent resource of the VpcFlowLogsConfig, specified in the following format: `projects/{project_id}/locations/global`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Lists the `VpcFlowLogsConfigs` that match the filter expression. A filter expression must use the supported [CEL logic operators] (https://cloud.google.com/vpc/docs/about-flow-logs-records#supported_cel_logic_operators)."
                    }
                  },
                  "description": "QueryOrgVpcFlowLogsConfigs returns a list of all organization-level VPC Flow Logs configurations applicable to the specified project.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/vpcFlowLogsConfigs:queryOrgVpcFlowLogsConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/vpcFlowLogsConfigs:queryOrgVpcFlowLogsConfigs",
                  "id": "networkmanagement.projects.locations.vpcFlowLogsConfigs.queryOrgVpcFlowLogsConfigs"
                },
                "showEffectiveFlowLogsConfigs": {
                  "description": "ShowEffectiveFlowLogsConfigs returns a list of all VPC Flow Logs configurations applicable to a specified resource.",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. Page token from an earlier query, as returned in `next_page_token`.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent resource of the VpcFlowLogsConfig, specified in the following format: `projects/{project_id}/locations/global`",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "resource": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The resource to get the effective VPC Flow Logs configuration for. The resource must belong to the same project as the parent. The resource must be a network, subnetwork, interconnect attachment, VPN tunnel, or a project."
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Number of `EffectiveVpcFlowLogsConfigs` to return. Default is 30."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Lists the `EffectiveVpcFlowLogsConfigs` that match the filter expression. A filter expression must use the supported [CEL logic operators] (https://cloud.google.com/vpc/docs/about-flow-logs-records#supported_cel_logic_operators)."
                    }
                  },
                  "id": "networkmanagement.projects.locations.vpcFlowLogsConfigs.showEffectiveFlowLogsConfigs",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ShowEffectiveFlowLogsConfigsResponse"
                  },
                  "path": "v1/{+parent}/vpcFlowLogsConfigs:showEffectiveFlowLogsConfigs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/vpcFlowLogsConfigs:showEffectiveFlowLogsConfigs"
                },
                "patch": {
                  "id": "networkmanagement.projects.locations.vpcFlowLogsConfigs.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "description": "Required. Mask of fields to update. At least one path must be supplied in this field. For example, to change the state of the configuration to ENABLED, specify `update_mask` = `\"state\"`, and the `vpc_flow_logs_config` would be: `vpc_flow_logs_config = { name = \"projects/my-project/locations/global/vpcFlowLogsConfigs/my-config\" state = \"ENABLED\" }`",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/vpcFlowLogsConfigs/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Identifier. Unique name of the configuration. The name can have one of the following forms: - For project-level configurations: `projects/{project_id}/locations/global/vpcFlowLogsConfigs/{vpc_flow_logs_config_id}` - For organization-level configurations: `organizations/{organization_id}/locations/global/vpcFlowLogsConfigs/{vpc_flow_logs_config_id}`"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "VpcFlowLogsConfig"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/vpcFlowLogsConfigs/{vpcFlowLogsConfigsId}",
                  "description": "Updates an existing `VpcFlowLogsConfig`. If a configuration with the exact same settings already exists (even if the ID is different), the creation fails. Notes: 1. Updating a configuration with `state=DISABLED` will fail. 2. The following fields are not considered as settings for the purpose of the check mentioned above, therefore - updating another configuration with the same fields but different values for the following fields will fail as well: * name * create_time * update_time * labels * description"
                },
                "create": {
                  "parameters": {
                    "vpcFlowLogsConfigId": {
                      "description": "Required. ID of the `VpcFlowLogsConfig`.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource of the VpcFlowLogsConfig to create, in one of the following formats: - For project-level resources: `projects/{project_id}/locations/global` - For organization-level resources: `organizations/{organization_id}/locations/global`"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/vpcFlowLogsConfigs",
                  "request": {
                    "$ref": "VpcFlowLogsConfig"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/vpcFlowLogsConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "id": "networkmanagement.projects.locations.vpcFlowLogsConfigs.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a new `VpcFlowLogsConfig`. If a configuration with the exact same settings already exists (even if the ID is different), the creation fails. Notes: 1. Creating a configuration with `state=DISABLED` will fail 2. The following fields are not considered as settings for the purpose of the check mentioned above, therefore - creating another configuration with the same fields but different values for the following fields will fail as well: * name * create_time * update_time * labels * description"
                }
              }
            },
            "global": {
              "resources": {
                "connectivityTests": {
                  "methods": {
                    "setIamPolicy": {
                      "flatPath": "v1/projects/{projectsId}/locations/global/connectivityTests/{connectivityTestsId}:setIamPolicy",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      },
                      "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                      "path": "v1/{+resource}:setIamPolicy",
                      "parameterOrder": [
                        "resource"
                      ],
                      "id": "networkmanagement.projects.locations.global.connectivityTests.setIamPolicy",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Policy"
                      },
                      "parameters": {
                        "resource": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "pattern": "^projects/[^/]+/locations/global/connectivityTests/[^/]+$"
                        }
                      }
                    },
                    "patch": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/connectivityTests/[^/]+$",
                          "description": "Identifier. Unique name of the resource using the form: `projects/{project_id}/locations/global/connectivityTests/{test_id}`",
                          "location": "path",
                          "type": "string"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string",
                          "description": "Required. Mask of fields to update. At least one path must be supplied in this field."
                        }
                      },
                      "id": "networkmanagement.projects.locations.global.connectivityTests.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/global/connectivityTests/{connectivityTestsId}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Updates the configuration of an existing `ConnectivityTest`. After you update a test, the reachability analysis is performed as part of the long running operation, which completes when the analysis completes. The Reachability state in the test resource is updated with the new result. If the endpoint specifications in `ConnectivityTest` are invalid (for example, they contain non-existent resources in the network, or the user does not have read permissions to the network configurations of listed projects), then the reachability result returns a value of UNKNOWN. If the endpoint specifications in `ConnectivityTest` are incomplete, the reachability result returns a value of `AMBIGUOUS`. See the documentation in `ConnectivityTest` for more details.",
                      "request": {
                        "$ref": "ConnectivityTest"
                      }
                    },
                    "rerun": {
                      "flatPath": "v1/projects/{projectsId}/locations/global/connectivityTests/{connectivityTestsId}:rerun",
                      "path": "v1/{+name}:rerun",
                      "id": "networkmanagement.projects.locations.global.connectivityTests.rerun",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Rerun an existing `ConnectivityTest`. After the user triggers the rerun, the reachability analysis is performed as part of the long running operation, which completes when the analysis completes. Even though the test configuration remains the same, the reachability result may change due to underlying network configuration changes. If the endpoint specifications in `ConnectivityTest` become invalid (for example, specified resources are deleted in the network, or you lost read permissions to the network configurations of listed projects), then the reachability result returns a value of `UNKNOWN`.",
                      "parameters": {
                        "name": {
                          "description": "Required. Connectivity Test resource name using the form: `projects/{project_id}/locations/global/connectivityTests/{test_id}`",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/global/connectivityTests/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "RerunConnectivityTestRequest"
                      }
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. Connectivity Test resource name using the form: `projects/{project_id}/locations/global/connectivityTests/{test_id}`",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global/connectivityTests/[^/]+$",
                          "required": true
                        }
                      },
                      "description": "Deletes a specific `ConnectivityTest`.",
                      "path": "v1/{+name}",
                      "id": "networkmanagement.projects.locations.global.connectivityTests.delete",
                      "flatPath": "v1/projects/{projectsId}/locations/global/connectivityTests/{connectivityTestsId}",
                      "httpMethod": "DELETE"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/global/connectivityTests/[^/]+$",
                          "description": "Required. `ConnectivityTest` resource name using the form: `projects/{project_id}/locations/global/connectivityTests/{test_id}`"
                        }
                      },
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "ConnectivityTest"
                      },
                      "description": "Gets the details of a specific Connectivity Test.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/global/connectivityTests/{connectivityTestsId}",
                      "id": "networkmanagement.projects.locations.global.connectivityTests.get",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "path": "v1/{+parent}/connectivityTests",
                      "id": "networkmanagement.projects.locations.global.connectivityTests.list",
                      "description": "Lists all Connectivity Tests owned by a project.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/global/connectivityTests",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource of the Connectivity Tests: `projects/{project_id}/locations/global`",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/global$"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Number of `ConnectivityTests` to return.",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Page token from an earlier query, as returned in `next_page_token`.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Lists the `ConnectivityTests` that match the filter expression. A filter expression filters the resources listed in the response. The expression must be of the form ` ` where operators: `<`, `>`, `<=`, `>=`, `!=`, `=`, `:` are supported (colon `:` represents a HAS operator which is roughly synonymous with equality). can refer to a proto or JSON field, or a synthetic field. Field names can be camelCase or snake_case. Examples: - Filter by name: name = \"projects/proj-1/locations/global/connectivityTests/test-1 - Filter by labels: - Resources that have a key called `foo` labels.foo:* - Resources that have a key called `foo` whose value is `bar` labels.foo = bar"
                        },
                        "orderBy": {
                          "description": "Field to use to sort the list.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "ListConnectivityTestsResponse"
                      },
                      "httpMethod": "GET"
                    },
                    "create": {
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent resource of the Connectivity Test to create: `projects/{project_id}/locations/global`"
                        },
                        "testId": {
                          "description": "Required. The logical name of the Connectivity Test in your project with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-40 characters. * Must end with a number or a letter. * Must be unique within the customer project",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/global/connectivityTests",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "ConnectivityTest"
                      },
                      "path": "v1/{+parent}/connectivityTests",
                      "description": "Creates a new Connectivity Test. After you create a test, the reachability analysis is performed as part of the long running operation, which completes when the analysis completes. If the endpoint specifications in `ConnectivityTest` are invalid (for example, containing non-existent resources in the network, or you don't have read permissions to the network configurations of listed projects), then the reachability result returns a value of `UNKNOWN`. If the endpoint specifications in `ConnectivityTest` are incomplete, the reachability result returns a value of AMBIGUOUS. For more information, see the Connectivity Test documentation.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "networkmanagement.projects.locations.global.connectivityTests.create"
                    },
                    "testIamPermissions": {
                      "parameterOrder": [
                        "resource"
                      ],
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      },
                      "parameters": {
                        "resource": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/global/connectivityTests/[^/]+$",
                          "required": true,
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/global/connectivityTests/{connectivityTestsId}:testIamPermissions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+resource}:testIamPermissions",
                      "id": "networkmanagement.projects.locations.global.connectivityTests.testIamPermissions"
                    },
                    "getIamPolicy": {
                      "parameterOrder": [
                        "resource"
                      ],
                      "path": "v1/{+resource}:getIamPolicy",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                      "id": "networkmanagement.projects.locations.global.connectivityTests.getIamPolicy",
                      "response": {
                        "$ref": "Policy"
                      },
                      "parameters": {
                        "resource": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global/connectivityTests/[^/]+$",
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "location": "path"
                        },
                        "options.requestedPolicyVersion": {
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                          "format": "int32"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/global/connectivityTests/{connectivityTestsId}:getIamPolicy",
                      "httpMethod": "GET"
                    }
                  }
                },
                "operations": {
                  "methods": {
                    "cancel": {
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/global/operations/[^/]+$",
                          "type": "string",
                          "description": "The name of the operation resource to be cancelled.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "CancelOperationRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/global/operations/{operationsId}:cancel",
                      "id": "networkmanagement.projects.locations.global.operations.cancel",
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1/{+name}:cancel"
                    },
                    "get": {
                      "id": "networkmanagement.projects.locations.global.operations.get",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/global/operations/[^/]+$",
                          "description": "The name of the operation resource.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "flatPath": "v1/projects/{projectsId}/locations/global/operations/{operationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "response": {
                        "$ref": "ListOperationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "networkmanagement.projects.locations.global.operations.list",
                      "path": "v1/{+name}/operations",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "description": "The standard list page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "The standard list page size.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "returnPartialSuccess": {
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global$",
                          "description": "The name of the operation's parent resource.",
                          "location": "path"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "The standard list filter."
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/global/operations"
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/global/operations/{operationsId}",
                      "id": "networkmanagement.projects.locations.global.operations.delete",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "The name of the operation resource to be deleted.",
                          "pattern": "^projects/[^/]+/locations/global/operations/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                      "httpMethod": "DELETE"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "global": {
              "resources": {
                "operations": {
                  "methods": {
                    "cancel": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/global/operations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "The name of the operation resource to be cancelled."
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "networkmanagement.organizations.locations.global.operations.cancel",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "path": "v1/{+name}:cancel",
                      "request": {
                        "$ref": "CancelOperationRequest"
                      },
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                      "flatPath": "v1/organizations/{organizationsId}/locations/global/operations/{operationsId}:cancel"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/global/operations/[^/]+$",
                          "description": "The name of the operation resource.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "flatPath": "v1/organizations/{organizationsId}/locations/global/operations/{operationsId}",
                      "id": "networkmanagement.organizations.locations.global.operations.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                      "flatPath": "v1/organizations/{organizationsId}/locations/global/operations/{operationsId}",
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/locations/global/operations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "The name of the operation resource to be deleted.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1/{+name}",
                      "id": "networkmanagement.organizations.locations.global.operations.delete",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "response": {
                        "$ref": "ListOperationsResponse"
                      },
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "id": "networkmanagement.organizations.locations.global.operations.list",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+name}/operations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "The standard list page token.",
                          "location": "query"
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the operation's parent resource.",
                          "pattern": "^organizations/[^/]+/locations/global$",
                          "required": true,
                          "location": "path"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "The standard list page size.",
                          "type": "integer"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "The standard list filter."
                        },
                        "returnPartialSuccess": {
                          "type": "boolean",
                          "location": "query",
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                        }
                      },
                      "flatPath": "v1/organizations/{organizationsId}/locations/global/operations"
                    }
                  }
                }
              }
            },
            "vpcFlowLogsConfigs": {
              "methods": {
                "create": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource of the VpcFlowLogsConfig to create, in one of the following formats: - For project-level resources: `projects/{project_id}/locations/global` - For organization-level resources: `organizations/{organization_id}/locations/global`",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "vpcFlowLogsConfigId": {
                      "type": "string",
                      "description": "Required. ID of the `VpcFlowLogsConfig`.",
                      "location": "query"
                    }
                  },
                  "id": "networkmanagement.organizations.locations.vpcFlowLogsConfigs.create",
                  "request": {
                    "$ref": "VpcFlowLogsConfig"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/vpcFlowLogsConfigs",
                  "path": "v1/{+parent}/vpcFlowLogsConfigs",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a new `VpcFlowLogsConfig`. If a configuration with the exact same settings already exists (even if the ID is different), the creation fails. Notes: 1. Creating a configuration with `state=DISABLED` will fail 2. The following fields are not considered as settings for the purpose of the check mentioned above, therefore - creating another configuration with the same fields but different values for the following fields will fail as well: * name * create_time * update_time * labels * description",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "networkmanagement.organizations.locations.vpcFlowLogsConfigs.list",
                  "response": {
                    "$ref": "ListVpcFlowLogsConfigsResponse"
                  },
                  "description": "Lists all `VpcFlowLogsConfigs` in a given organization.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/vpcFlowLogsConfigs",
                  "path": "v1/{+parent}/vpcFlowLogsConfigs",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Lists the `VpcFlowLogsConfigs` that match the filter expression. A filter expression must use the supported [CEL logic operators] (https://cloud.google.com/vpc/docs/about-flow-logs-records#supported_cel_logic_operators)."
                    },
                    "pageSize": {
                      "description": "Optional. Number of `VpcFlowLogsConfigs` to return.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Field to use to sort the list."
                    },
                    "parent": {
                      "description": "Required. The parent resource of the VpcFlowLogsConfig, in one of the following formats: - For project-level resources: `projects/{project_id}/locations/global` - For organization-level resources: `organizations/{organization_id}/locations/global`",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. Page token from an earlier query, as returned in `next_page_token`.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "description": "Gets the details of a specific `VpcFlowLogsConfig`.",
                  "id": "networkmanagement.organizations.locations.vpcFlowLogsConfigs.get",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "VpcFlowLogsConfig"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/vpcFlowLogsConfigs/{vpcFlowLogsConfigsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/vpcFlowLogsConfigs/[^/]+$",
                      "description": "Required. The resource name of the VpcFlowLogsConfig, in one of the following formats: - For project-level resources: `projects/{project_id}/locations/global/vpcFlowLogsConfigs/{vpc_flow_logs_config_id}` - For organization-level resources: `organizations/{organization_id}/locations/global/vpcFlowLogsConfigs/{vpc_flow_logs_config_id}`",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "id": "networkmanagement.organizations.locations.vpcFlowLogsConfigs.patch",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/vpcFlowLogsConfigs/{vpcFlowLogsConfigsId}",
                  "description": "Updates an existing `VpcFlowLogsConfig`. If a configuration with the exact same settings already exists (even if the ID is different), the creation fails. Notes: 1. Updating a configuration with `state=DISABLED` will fail 2. The following fields are not considered as settings for the purpose of the check mentioned above, therefore - updating another configuration with the same fields but different values for the following fields will fail as well: * name * create_time * update_time * labels * description",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/vpcFlowLogsConfigs/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Identifier. Unique name of the configuration. The name can have one of the following forms: - For project-level configurations: `projects/{project_id}/locations/global/vpcFlowLogsConfigs/{vpc_flow_logs_config_id}` - For organization-level configurations: `organizations/{organization_id}/locations/global/vpcFlowLogsConfigs/{vpc_flow_logs_config_id}`",
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Required. Mask of fields to update. At least one path must be supplied in this field. For example, to change the state of the configuration to ENABLED, specify `update_mask` = `\"state\"`, and the `vpc_flow_logs_config` would be: `vpc_flow_logs_config = { name = \"projects/my-project/locations/global/vpcFlowLogsConfigs/my-config\" state = \"ENABLED\" }`"
                    }
                  },
                  "request": {
                    "$ref": "VpcFlowLogsConfig"
                  }
                },
                "delete": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/vpcFlowLogsConfigs/{vpcFlowLogsConfigsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "networkmanagement.organizations.locations.vpcFlowLogsConfigs.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the VpcFlowLogsConfig, in one of the following formats: - For a project-level resource: `projects/{project_id}/locations/global/vpcFlowLogsConfigs/{vpc_flow_logs_config_id}` - For an organization-level resource: `organizations/{organization_id}/locations/global/vpcFlowLogsConfigs/{vpc_flow_logs_config_id}`",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/vpcFlowLogsConfigs/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "description": "Deletes a specific `VpcFlowLogsConfig`.",
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            }
          },
          "methods": {
            "get": {
              "id": "networkmanagement.organizations.locations.get",
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Location"
              },
              "description": "Gets information about a location.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Resource name for the location.",
                  "pattern": "^organizations/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "format": "int32"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "repeated": true,
                  "location": "query",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+name}/locations",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/locations",
[...]
