{
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/networking",
  "discoveryVersion": "v1",
  "name": "networksecurity",
  "revision": "20260729",
  "schemas": {
    "GoogleCloudNetworksecurityV1beta1GrpcEndpoint": {
      "id": "GoogleCloudNetworksecurityV1beta1GrpcEndpoint",
      "description": "Specification of the GRPC Endpoint.",
      "properties": {
        "targetUri": {
          "type": "string",
          "description": "Required. The target URI of the gRPC endpoint. Only UDS path is supported, and should start with \"unix:\"."
        }
      },
      "type": "object"
    },
    "ListSACAttachmentsResponse": {
      "type": "object",
      "description": "Response for `ListSACAttachments` method.",
      "id": "ListSACAttachmentsResponse",
      "properties": {
        "sacAttachments": {
          "description": "The list of SACAttachments.",
          "items": {
            "$ref": "SACAttachment"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "AuthzPolicyCustomProviderCloudIap": {
      "properties": {},
      "description": "Optional. Delegates authorization decisions to Cloud IAP. Applicable only for managed load balancers. Enabling Cloud IAP at the AuthzPolicy level is not compatible with Cloud IAP settings in the BackendService. Enabling IAP in both places will result in request failure. Ensure that IAP is enabled in either the AuthzPolicy or the BackendService but not in both places.",
      "type": "object",
      "id": "AuthzPolicyCustomProviderCloudIap"
    },
    "ListInterceptDeploymentsResponse": {
      "properties": {
        "interceptDeployments": {
          "description": "The deployments from the specified parent.",
          "type": "array",
          "items": {
            "$ref": "InterceptDeployment"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        }
      },
      "id": "ListInterceptDeploymentsResponse",
      "description": "Response message for ListInterceptDeployments.",
      "type": "object"
    },
    "InterceptEndpointGroupAssociationDetails": {
      "type": "object",
      "description": "The endpoint group's view of a connected association.",
      "id": "InterceptEndpointGroupAssociationDetails",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The connected association's resource name, for example: `projects/123456789/locations/global/interceptEndpointGroupAssociations/my-ega`. See https://google.aip.dev/124.",
          "readOnly": true
        },
        "state": {
          "description": "Output only. Most recent known state of the association.",
          "enumDescriptions": [
            "Not set.",
            "The association is ready and in sync with the linked endpoint group.",
            "The association is being created.",
            "The association is being deleted.",
            "The association is disabled due to a breaking change in another resource.",
            "The association is out of sync with the linked endpoint group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. Check the `locations_details` field for more details.",
            "An attempt to delete the association has failed. This is a terminal state and the association is not expected to be usable as some of its resources have been deleted. The only permitted operation is to retry deleting the association."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "CLOSED",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "network": {
          "description": "Output only. The associated network, for example: projects/123456789/global/networks/my-network. See https://google.aip.dev/124.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "InterceptDeploymentGroupDeployment": {
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "description": "Output only. Most recent known state of the deployment.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment is ready and in sync with the parent group.",
            "The deployment is being created.",
            "The deployment is being deleted.",
            "The deployment is out of sync with the parent group. In most cases, this is a result of a transient issue within the system (e.g. a delayed data-path config) and the system is expected to recover automatically. See the parent deployment group's state for more details.",
            "An attempt to delete the deployment has failed. This is a terminal state and the deployment is not expected to recover. The only permitted operation is to retry deleting the deployment."
          ]
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the Intercept Deployment, in the format: `projects/{project}/locations/{location}/interceptDeployments/{intercept_deployment}`."
        }
      },
      "type": "object",
      "id": "InterceptDeploymentGroupDeployment",
      "description": "A deployment belonging to this deployment group."
    },
    "ListMirroringDeploymentGroupsResponse": {
      "description": "Response message for ListMirroringDeploymentGroups.",
      "type": "object",
      "id": "ListMirroringDeploymentGroupsResponse",
      "properties": {
        "mirroringDeploymentGroups": {
          "type": "array",
          "items": {
            "$ref": "MirroringDeploymentGroup"
          },
          "description": "The deployment groups from the specified parent."
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        }
      }
    },
    "InterceptEndpointGroupAssociation": {
      "properties": {
        "name": {
          "description": "Immutable. Identifier. The resource name of this endpoint group association, for example: `projects/123456789/locations/global/interceptEndpointGroupAssociations/my-eg-association`. See https://google.aip.dev/122 for more details.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "interceptEndpointGroup": {
          "description": "Required. Immutable. The endpoint group that this association is connected to, for example: `projects/123456789/locations/global/interceptEndpointGroups/my-eg`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "locationsDetails": {
          "type": "array",
          "readOnly": true,
          "deprecated": true,
          "description": "Output only. The list of locations where the association is present. This information is retrieved from the linked endpoint group, and not configured as part of the association itself.",
          "items": {
            "$ref": "InterceptEndpointGroupAssociationLocationDetails"
          }
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "CLOSED",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "description": "Output only. Current state of the endpoint group association.",
          "enumDescriptions": [
            "Not set.",
            "The association is ready and in sync with the linked endpoint group.",
            "The association is being created.",
            "The association is being deleted.",
            "The association is disabled due to a breaking change in another resource.",
            "The association is out of sync with the linked endpoint group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. Check the `locations_details` field for more details.",
            "An attempt to delete the association has failed. This is a terminal state and the association is not expected to be usable as some of its resources have been deleted. The only permitted operation is to retry deleting the association."
          ],
          "type": "string",
          "readOnly": true
        },
        "network": {
          "description": "Required. Immutable. The VPC network that is associated. for example: `projects/123456789/global/networks/my-network`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "networkCookie": {
          "readOnly": true,
          "format": "uint32",
          "description": "Output only. Identifier used by the data-path. See the NSI GENEVE format for more details: https://docs.cloud.google.com/network-security-integration/docs/understand-geneve#network_id",
          "type": "integer"
        },
        "labels": {
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This part of the normal operation (e.g. adding a new location to the target deployment group). See https://google.aip.dev/128."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of locations where the association is configured. This information is retrieved from the linked endpoint group.",
          "items": {
            "$ref": "InterceptLocation"
          }
        }
      },
      "id": "InterceptEndpointGroupAssociation",
      "description": "An endpoint group association represents a link between a network and an endpoint group in the organization. Creating an association creates the networking infrastructure linking the network to the endpoint group, but does not enable intercept by itself. To enable intercept, the user must also create a network firewall policy containing intercept rules and associate it with the network.",
      "type": "object"
    },
    "AuthzPolicyAuthzRuleToRequestOperation": {
      "id": "AuthzPolicyAuthzRuleToRequestOperation",
      "type": "object",
      "description": "Describes properties of one or more targets of a request.",
      "properties": {
        "mcp": {
          "description": "Optional. Defines the MCP protocol attributes to match on. If the MCP payload in the request body cannot be successfully parsed, the request will be denied. This field can be set only for AuthzPolicies targeting AgentGateway resources.",
          "$ref": "AuthzPolicyAuthzRuleToRequestOperationMCP"
        },
        "headerSet": {
          "description": "Optional. A list of headers to match against in http header.",
          "$ref": "AuthzPolicyAuthzRuleToRequestOperationHeaderSet"
        },
        "methods": {
          "description": "Optional. A list of HTTP methods to match against. Each entry must be a valid HTTP method name (GET, PUT, POST, HEAD, PATCH, DELETE, OPTIONS). It only allows exact match and is always case sensitive. Limited to 10 methods per Authorization Policy.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "hosts": {
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          },
          "type": "array",
          "description": "Optional. A list of HTTP Hosts to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set. Limited to 10 hosts per Authorization Policy."
        },
        "snis": {
          "description": "Optional. A list of SNIs to match against. The match can be one of exact, prefix, suffix, or contains (substring match). If there is no SNI (i.e. plaintext HTTP traffic), the request will be denied. Matches are always case sensitive unless the ignoreCase is set. Limited to 10 SNIs per Authorization Policy.",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          }
        },
        "paths": {
          "type": "array",
          "description": "Optional. A list of paths to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set. Limited to 10 paths per Authorization Policy. Note that this path match includes the query parameters. For gRPC services, this should be a fully-qualified name of the form /package.service/method.",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          }
        }
      }
    },
    "WildfireThreatOverride": {
      "description": "Defines what action to take for a specific WildFire threat_id match.",
      "type": "object",
      "properties": {
        "action": {
          "type": "string",
          "enum": [
            "WILDFIRE_THREAT_ACTION_UNSPECIFIED",
            "WILDFIRE_DEFAULT_ACTION",
            "WILDFIRE_ALLOW",
            "WILDFIRE_ALERT",
            "WILDFIRE_DENY"
          ],
          "description": "Required. Threat action override.",
          "enumDescriptions": [
            "Threat action not specified.",
            "The default action (as specified by the vendor) is taken.",
            "The packet matching this rule will be allowed to transmit.",
            "The packet matching this rule will be allowed to transmit, but a threat_log entry will be sent to the consumer project.",
            "The packet matching this rule will be dropped, and a threat_log entry will be sent to the consumer project."
          ]
        },
        "threatId": {
          "type": "string",
          "description": "Required. Threat ID to match."
        }
      },
      "id": "WildfireThreatOverride"
    },
    "MirroringEndpointGroupAssociationLocationDetails": {
      "properties": {
        "location": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The cloud location, e.g. \"us-central1-a\" or \"asia-south1\"."
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "The association is ready and in sync with the linked endpoint group.",
            "The association is out of sync with the linked endpoint group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically."
          ],
          "type": "string",
          "description": "Output only. The current state of the association in this location.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OUT_OF_SYNC"
          ]
        }
      },
      "description": "Contains details about the state of an association in a specific cloud location.",
      "type": "object",
      "id": "MirroringEndpointGroupAssociationLocationDetails"
    },
    "ListDnsThreatDetectorsResponse": {
      "properties": {
        "dnsThreatDetectors": {
          "type": "array",
          "items": {
            "$ref": "DnsThreatDetector"
          },
          "description": "The list of DnsThreatDetector resources."
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable `DnsThreatDetector` resources.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token`, to retrieve the next page."
        }
      },
      "type": "object",
      "description": "The response message to requesting a list of DnsThreatDetectors.",
      "id": "ListDnsThreatDetectorsResponse"
    },
    "InterceptEndpointGroupAssociationLocationDetails": {
      "id": "InterceptEndpointGroupAssociationLocationDetails",
      "properties": {
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "The association is ready and in sync with the linked endpoint group.",
            "The association is out of sync with the linked endpoint group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OUT_OF_SYNC"
          ],
          "description": "Output only. The current state of the association in this location."
        },
        "location": {
          "description": "Output only. The cloud location, e.g. \"us-central1-a\" or \"asia-south1\".",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Contains details about the state of an association in a specific cloud location."
    },
    "MirroringEndpointGroup": {
      "type": "object",
      "id": "MirroringEndpointGroup",
      "description": "An endpoint group is a consumer frontend for a deployment group (backend). In order to configure mirroring for a network, consumers must create: - An association between their network and the endpoint group. - A security profile that points to the endpoint group. - A mirroring rule that references the security profile (group).",
      "properties": {
        "name": {
          "description": "Immutable. Identifier. The resource name of this endpoint group, for example: `projects/123456789/locations/global/mirroringEndpointGroups/my-eg`. See https://google.aip.dev/122 for more details.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The endpoint group is ready and in sync with the target deployment group.",
            "The deployment group backing this endpoint group has been force-deleted. This endpoint group cannot be used and mirroring is effectively disabled.",
            "The endpoint group is being created.",
            "The endpoint group is being deleted.",
            "The endpoint group is out of sync with the backing deployment group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. See the associations field for details per network and location.",
            "An attempt to delete the endpoint group has failed. This is a terminal state and the endpoint group is not expected to recover. The only permitted operation is to retry deleting the endpoint group."
          ],
          "readOnly": true,
          "description": "Output only. The current state of the endpoint group. See https://google.aip.dev/216.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CLOSED",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ]
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description of the endpoint group. Used as additional context for the endpoint group."
        },
        "associations": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "MirroringEndpointGroupAssociationDetails"
          },
          "description": "Output only. List of associations to this endpoint group."
        },
        "reconciling": {
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This is part of the normal operation (e.g. adding a new association to the group). See https://google.aip.dev/128.",
          "type": "boolean",
          "readOnly": true
        },
        "connectedDeploymentGroups": {
          "type": "array",
          "items": {
            "$ref": "MirroringEndpointGroupConnectedDeploymentGroup"
          },
          "readOnly": true,
          "description": "Output only. List of details about the connected deployment groups to this endpoint group."
        },
        "type": {
          "description": "Immutable. The type of the endpoint group. If left unspecified, defaults to DIRECT.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "DIRECT"
          ],
          "enumDescriptions": [
            "Not set.",
            "An endpoint group that sends packets to a single deployment group."
          ]
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "type": "object"
        },
        "mirroringDeploymentGroup": {
          "description": "Immutable. The deployment group that this DIRECT endpoint group is connected to, for example: `projects/123456789/locations/global/mirroringDeploymentGroups/my-dg`. See https://google.aip.dev/124.",
          "type": "string"
        }
      }
    },
    "AntivirusOverride": {
      "description": "Defines what action to take for antivirus threats per protocol.",
      "type": "object",
      "properties": {
        "protocol": {
          "description": "Required. Protocol to match.",
          "enumDescriptions": [
            "Protocol not specified.",
            "SMTP protocol",
            "SMB protocol",
            "POP3 protocol",
            "IMAP protocol",
            "HTTP2 protocol",
            "HTTP protocol",
            "FTP protocol"
          ],
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "SMTP",
            "SMB",
            "POP3",
            "IMAP",
            "HTTP2",
            "HTTP",
            "FTP"
          ]
        },
        "action": {
          "enumDescriptions": [
            "Threat action not specified.",
            "The default action (as specified by the vendor) is taken.",
            "The packet matching this rule will be allowed to transmit.",
            "The packet matching this rule will be allowed to transmit, but a threat_log entry will be sent to the consumer project.",
            "The packet matching this rule will be dropped, and a threat_log entry will be sent to the consumer project."
          ],
          "description": "Required. Threat action override. For some threat types, only a subset of actions applies.",
          "type": "string",
          "enum": [
            "THREAT_ACTION_UNSPECIFIED",
            "DEFAULT_ACTION",
            "ALLOW",
            "ALERT",
            "DENY"
          ]
        }
      },
      "id": "AntivirusOverride"
    },
    "AuthzPolicy": {
      "type": "object",
      "description": "`AuthzPolicy` is a resource that allows to forward traffic to a callout backend designed to scan the traffic for security purposes.",
      "properties": {
        "policyProfile": {
          "description": "Optional. Immutable. Defines the type of authorization being performed. If not specified, `REQUEST_AUTHZ` is applied. This field cannot be changed once AuthzPolicy is created.",
          "type": "string",
          "enum": [
            "POLICY_PROFILE_UNSPECIFIED",
            "REQUEST_AUTHZ",
            "CONTENT_AUTHZ"
          ],
          "enumDescriptions": [
            "Unspecified policy profile.",
            "Applies to request authorization. `CUSTOM` authorization policies with Authz extensions will be allowed with `EXT_AUTHZ_GRPC` or `EXT_PROC_GRPC` protocols. Extensions are invoked only for request header events.",
            "Applies to content security, sanitization, etc. Only `CUSTOM` action is allowed in this policy profile. AuthzExtensions in the custom provider must support `EXT_PROC_GRPC` protocol only and be capable of receiving all `EXT_PROC_GRPC` events (REQUEST_HEADERS, REQUEST_BODY, REQUEST_TRAILERS, RESPONSE_HEADERS, RESPONSE_BODY, RESPONSE_TRAILERS) with `FULL_DUPLEX_STREAMED` body send mode."
          ]
        },
        "target": {
          "description": "Required. Specifies the set of resources to which this policy should be applied to.",
          "$ref": "AuthzPolicyTarget"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "customProvider": {
          "description": "Optional. Required if the action is `CUSTOM`. Allows delegating authorization decisions to Cloud IAP or to Service Extensions. One of `cloudIap` or `authzExtension` must be specified.",
          "$ref": "AuthzPolicyCustomProvider"
        },
        "action": {
          "type": "string",
          "enum": [
            "AUTHZ_ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY",
            "CUSTOM"
          ],
          "enumDescriptions": [
            "Unspecified action.",
            "Allow request to pass through to the backend.",
            "Deny the request and return a HTTP 404 to the client.",
            "Delegate the authorization decision to an external authorization engine."
          ],
          "description": "Required. Can be one of `ALLOW`, `DENY`, `CUSTOM`. When the action is `CUSTOM`, `customProvider` must be specified. When the action is `ALLOW`, only requests matching the policy will be allowed. When the action is `DENY`, only requests matching the policy will be denied. When a request arrives, the policies are evaluated in the following order: 1. If there is a `CUSTOM` policy that matches the request, the `CUSTOM` policy is evaluated using the custom authorization providers and the request is denied if the provider rejects the request. 2. If there are any `DENY` policies that match the request, the request is denied. 3. If there are no `ALLOW` policies for the resource or if any of the `ALLOW` policies match the request, the request is allowed. 4. Else the request is denied by default if none of the configured AuthzPolicies with `ALLOW` action match the request."
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. Name of the `AuthzPolicy` resource in the following format: `projects/{project}/locations/{location}/authzPolicies/{authz_policy}`."
        },
        "description": {
          "description": "Optional. A human-readable description of the resource.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Set of labels associated with the `AuthzPolicy` resource. The format must comply with [the following requirements](/compute/docs/labeling-resources#requirements).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "networkRules": {
          "items": {
            "$ref": "AuthzPolicyAuthzRule"
          },
          "type": "array",
          "description": "Optional. A list of authorization network rules to match against the incoming request. A policy match occurs when at least one network rule matches the request. At least one network rule is required for Allow or Deny Action if no HTTP rules are provided. Network rules are mutually exclusive with HTTP rules. Limited to 5 rules."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "httpRules": {
          "description": "Optional. A list of authorization HTTP rules to match against the incoming request. A policy match occurs when at least one HTTP rule matches the request or when no HTTP rules are specified in the policy. At least one HTTP Rule is required for Allow or Deny Action. Limited to 5 rules.",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRule"
          }
        }
      },
      "id": "AuthzPolicy"
    },
    "ThreatPreventionProfile": {
      "properties": {
        "severityOverrides": {
          "type": "array",
          "description": "Optional. Configuration for overriding threats actions by severity match.",
          "items": {
            "$ref": "SeverityOverride"
          }
        },
        "antivirusOverrides": {
          "items": {
            "$ref": "AntivirusOverride"
          },
          "type": "array",
          "description": "Optional. Configuration for overriding antivirus actions per protocol."
        },
        "threatOverrides": {
          "type": "array",
          "description": "Optional. Configuration for overriding threats actions by threat_id match. If a threat is matched both by configuration provided in severity_overrides and threat_overrides, the threat_overrides action is applied.",
          "items": {
            "$ref": "ThreatOverride"
          }
        }
      },
      "id": "ThreatPreventionProfile",
      "type": "object",
      "description": "ThreatPreventionProfile defines an action for specific threat signatures or severity levels."
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "WildfireAnalysisProfile": {
      "id": "WildfireAnalysisProfile",
      "description": "WildfireAnalysisProfile defines Palo Alto Networks WildFire behavior.",
      "properties": {
        "wildfireInlineMlSetting": {
          "$ref": "WildfireInlineMlSettings",
          "description": "Optional. Settings for WildFire Inline ML analysis."
        },
        "wildfireSubmissionRules": {
          "type": "array",
          "description": "Optional. Configurations for WildFire file submissions.",
          "items": {
            "$ref": "WildfireSubmissionRule"
          }
        },
        "wildfireInlineMlSettings": {
          "description": "Optional. Settings for WildFire Inline ML analysis.",
          "type": "array",
          "deprecated": true,
          "items": {
            "$ref": "WildfireInlineMlSettings"
          }
        },
        "wildfireThreatOverrides": {
          "type": "array",
          "items": {
            "$ref": "WildfireThreatOverride"
          },
          "description": "Optional. Configuration for overriding WildFire threats action by threat_id match."
        },
        "wildfireInlineMlOverrides": {
          "description": "Optional. Configuration for overriding inline ML WildFire actions per protocol.",
          "type": "array",
          "items": {
            "$ref": "WildfireInlineMlOverride"
          }
        },
        "wildfireOverrides": {
          "type": "array",
          "description": "Optional. Configuration for overriding WildFire actions per protocol.",
          "items": {
            "$ref": "WildfireOverride"
          }
        },
        "wildfireInlineCloudAnalysisRules": {
          "description": "Optional. Configuration for WildFire inline cloud analysis.",
          "items": {
            "$ref": "WildfireInlineCloudAnalysisRule"
          },
          "type": "array"
        },
        "wildfireRealtimeLookup": {
          "type": "boolean",
          "description": "Optional. Whether to hold the transfer of a file while the WildFire real-time signature cloud performs a signature lookup. Default value is false."
        }
      },
      "type": "object"
    },
    "AddAddressGroupItemsRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "items": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. List of items to add."
        }
      },
      "description": "Request used by the AddAddressGroupItems method.",
      "type": "object",
      "id": "AddAddressGroupItemsRequest"
    },
    "ListSACRealmsResponse": {
      "type": "object",
      "description": "Response for `ListSACRealms` method.",
      "id": "ListSACRealmsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "sacRealms": {
          "description": "The list of SACRealms.",
          "type": "array",
          "items": {
            "$ref": "SACRealm"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "UrlFilter": {
      "properties": {
        "urls": {
          "type": "array",
          "description": "Required. The list of strings that a URL must match with for this filter to be applied.",
          "items": {
            "type": "string"
          }
        },
        "filteringAction": {
          "description": "Required. The action taken when this filter is applied.",
          "enumDescriptions": [
            "Filtering action not specified.",
            "The connection matching this filter will be allowed to transmit.",
            "The connection matching this filter will be dropped."
          ],
          "type": "string",
          "enum": [
            "URL_FILTERING_ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ]
        },
        "priority": {
          "description": "Required. The priority of this filter within the URL Filtering Profile. Lower integers indicate higher priorities. The priority of a filter must be unique within a URL Filtering Profile.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "UrlFilter",
      "description": "A URL filter defines an action to take for some URL match."
    },
    "GatewaySecurityPolicyRule": {
      "id": "GatewaySecurityPolicyRule",
      "description": "The GatewaySecurityPolicyRule resource is in a nested collection within a GatewaySecurityPolicy and represents a traffic matching condition and associated action to perform.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Immutable. Name of the resource. ame is the full resource name so projects/{project}/locations/{location}/gatewaySecurityPolicies/{gateway_security_policy}/rules/{rule} rule should match the pattern: (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$)."
        },
        "applicationMatcher": {
          "type": "string",
          "description": "Optional. CEL expression for matching on L7/application level criteria."
        },
        "enabled": {
          "description": "Required. Whether the rule is enforced.",
          "type": "boolean"
        },
        "updateTime": {
          "description": "Output only. Time when the rule was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "tlsInspectionEnabled": {
          "description": "Optional. Flag to enable TLS inspection of traffic matching on , can only be true if the parent GatewaySecurityPolicy references a TLSInspectionConfig.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "Optional. Free-text description of the resource."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time when the rule was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "basicProfile": {
          "description": "Required. Profile which tells what the primitive action should be.",
          "enumDescriptions": [
            "If there is not a mentioned action for the target.",
            "Allow the matched traffic.",
            "Deny the matched traffic."
          ],
          "type": "string",
          "enum": [
            "BASIC_PROFILE_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ]
        },
        "priority": {
          "type": "integer",
          "description": "Required. Priority of the rule. Lower number corresponds to higher precedence.",
          "format": "int32"
        },
        "sessionMatcher": {
          "description": "Required. CEL expression for matching on session criteria.",
          "type": "string"
        }
      }
    },
    "CustomInterceptProfile": {
      "properties": {
        "interceptEndpointGroup": {
          "type": "string",
          "description": "Required. The target InterceptEndpointGroup. When a firewall rule with this security profile attached matches a packet, the packet will be intercepted to the location-local target in this group."
        }
      },
      "id": "CustomInterceptProfile",
      "type": "object",
      "description": "CustomInterceptProfile defines in-band integration behavior (intercept). It is used by firewall rules with an APPLY_SECURITY_PROFILE_GROUP action."
    },
    "AuthzPolicyAuthzRuleStringMatch": {
      "description": "Determines how a string value should be matched.",
      "type": "object",
      "properties": {
        "prefix": {
          "description": "The input string must have the prefix specified here. Note: empty prefix is not allowed, please use regex instead. Examples: * ``abc`` matches the value ``abc.xyz``",
          "type": "string"
        },
        "ignoreCase": {
          "description": "If true, indicates the exact/prefix/suffix/contains matching should be case insensitive. For example, the matcher ``data`` will match both input string ``Data`` and ``data`` if set to true.",
          "type": "boolean"
        },
        "contains": {
          "description": "The input string must have the substring specified here. Note: empty contains match is not allowed, please use regex instead. Examples: * ``abc`` matches the value ``xyz.abc.def``",
          "type": "string"
        },
        "exact": {
          "type": "string",
          "description": "The input string must match exactly the string specified here. Examples: * ``abc`` only matches the value ``abc``."
        },
        "suffix": {
          "description": "The input string must have the suffix specified here. Note: empty prefix is not allowed, please use regex instead. Examples: * ``abc`` matches the value ``xyz.abc``",
          "type": "string"
        }
      },
      "id": "AuthzPolicyAuthzRuleStringMatch"
    },
    "ListSecurityProfilesResponse": {
      "id": "ListSecurityProfilesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "securityProfiles": {
          "items": {
            "$ref": "SecurityProfile"
          },
          "description": "List of SecurityProfile resources.",
          "type": "array"
        }
      },
      "description": "Response returned by the ListSecurityProfiles method."
    },
    "GoogleIamV1AuditConfig": {
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        }
      },
      "type": "object",
      "id": "GoogleIamV1AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
    },
    "InterceptLocation": {
      "description": "Details about intercept in a specific cloud location.",
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The cloud location, e.g. \"us-central1-a\" or \"asia-south1\"."
        },
        "state": {
          "description": "Output only. The current state of the association in this location.",
          "type": "string",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The resource is ready and in sync in the location.",
            "The resource is out of sync in the location. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "OUT_OF_SYNC"
          ],
          "readOnly": true
        }
      },
      "id": "InterceptLocation"
    },
    "SACAttachment": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the attachment was last updated."
        },
        "state": {
          "type": "string",
          "description": "Output only. State of the attachment.",
          "readOnly": true,
          "enumDescriptions": [
            "No state specified. This should not be used.",
            "Has never been attached to a partner.",
            "Currently attached to a partner.",
            "Was once attached to a partner but has been detached."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING_PARTNER_ATTACHMENT",
            "PARTNER_ATTACHED",
            "PARTNER_DETACHED"
          ]
        },
        "timeZone": {
          "type": "string",
          "description": "Optional. Case-sensitive tzinfo identifier used for localization. Only valid for Symantec attachments."
        },
        "labels": {
          "description": "Optional. Optional list of labels applied to the resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "sacRealm": {
          "description": "Required. SAC Realm which owns the attachment. This can be input as an ID or a full resource name. The output always has the form `projects/{project_number}/locations/{location}/sacRealms/{sac_realm}`.",
          "type": "string"
        },
        "symantecOptions": {
          "description": "Optional. Configuration required for Symantec attachments.",
          "$ref": "SACAttachmentSACAttachmentSymantecOptions"
        },
        "country": {
          "description": "Optional. Case-insensitive ISO-3166 alpha-2 country code used for localization. Only valid for Symantec attachments.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the attachment was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name, in the form `projects/{project}/locations/{location}/sacAttachments/{sac_attachment}`."
        },
        "nccGateway": {
          "description": "Required. NCC Gateway associated with the attachment. This can be input as an ID or a full resource name. The output always has the form `projects/{project_number}/locations/{location}/spokes/{ncc_gateway}`.",
          "type": "string"
        }
      },
      "id": "SACAttachment",
      "description": "Represents a Secure Access Connect (SAC) attachment resource. A Secure Access Connect attachment enables NCC Gateway to process traffic with an SSE product.",
      "type": "object"
    },
    "AddressGroup": {
      "properties": {
        "capacity": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Capacity of the Address Group"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "purpose": {
          "items": {
            "enumDescriptions": [
              "Default value. Should never happen.",
              "Address Group is distributed to VMC, and is usable in Firewall Policies and other systems that rely on VMC.",
              "Address Group is usable in Cloud Armor."
            ],
            "type": "string",
            "enum": [
              "PURPOSE_UNSPECIFIED",
              "DEFAULT",
              "CLOUD_ARMOR"
            ]
          },
          "description": "Optional. List of supported purposes of the Address Group.",
          "type": "array"
        },
        "type": {
          "enumDescriptions": [
            "Default value.",
            "IP v4 ranges.",
            "IP v6 ranges."
          ],
          "description": "Required. The type of the Address Group. Possible values are \"IPv4\" or \"IPV6\".",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "IPV4",
            "IPV6"
          ]
        },
        "name": {
          "description": "Required. Name of the AddressGroup resource. It matches pattern `projects/*/locations/{location}/addressGroups/`.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Free-text description of the resource."
        },
        "selfLink": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined fully-qualified URL for this resource."
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "items": {
          "description": "Optional. List of items.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Set of label tags associated with the AddressGroup resource."
        }
      },
      "type": "object",
      "id": "AddressGroup",
      "description": "AddressGroup is a resource that specifies how a collection of IP/DNS used in Firewall Policy."
    },
    "ListClientTlsPoliciesResponse": {
      "type": "object",
      "description": "Response returned by the ListClientTlsPolicies method.",
      "id": "ListClientTlsPoliciesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "clientTlsPolicies": {
          "description": "List of ClientTlsPolicy resources.",
          "type": "array",
          "items": {
            "$ref": "ClientTlsPolicy"
          }
        }
      }
    },
    "SeverityOverride": {
      "id": "SeverityOverride",
      "type": "object",
      "description": "Defines what action to take for a specific severity match.",
      "properties": {
        "severity": {
          "description": "Required. Severity level to match.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFORMATIONAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "Severity level not specified.",
            "Suspicious events that do not pose an immediate threat, but that are reported to call attention to deeper problems that could possibly exist.",
            "Warning-level threats that have very little impact on an organization's infrastructure. They usually require local or physical system access and may often result in victim privacy issues and information leakage.",
            "Minor threats in which impact is minimized, that do not compromise the target or exploits that require an attacker to reside on the same local network as the victim, affect only non-standard configurations or obscure applications, or provide very limited access.",
            "Threats that have the ability to become critical but have mitigating factors; for example, they may be difficult to exploit, do not result in elevated privileges, or do not have a large victim pool.",
            "Serious threats, such as those that affect default installations of widely deployed software, result in root compromise of servers, and the exploit code is widely available to attackers. The attacker usually does not need any special authentication credentials or knowledge about the individual victims and the target does not need to be manipulated into performing any special functions."
          ]
        },
        "action": {
          "type": "string",
          "enum": [
            "THREAT_ACTION_UNSPECIFIED",
            "DEFAULT_ACTION",
            "ALLOW",
            "ALERT",
            "DENY"
          ],
          "enumDescriptions": [
            "Threat action not specified.",
            "The default action (as specified by the vendor) is taken.",
            "The packet matching this rule will be allowed to transmit.",
            "The packet matching this rule will be allowed to transmit, but a threat_log entry will be sent to the consumer project.",
            "The packet matching this rule will be dropped, and a threat_log entry will be sent to the consumer project."
          ],
          "description": "Required. Threat action override."
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "WildfireInlineMlFileException": {
      "description": "Defines the file to exclude from WildFire Inline ML analysis.",
      "id": "WildfireInlineMlFileException",
      "type": "object",
      "properties": {
        "filename": {
          "description": "Optional. Name of the file to exclude from WildFire Inline ML analysis.",
          "type": "string"
        },
        "partialHash": {
          "description": "Required. Machine learning partial hash of the file to exclude from WildFire Inline ML analysis.",
          "type": "string"
        }
      }
    },
    "ListInterceptDeploymentGroupsResponse": {
      "id": "ListInterceptDeploymentGroupsResponse",
      "type": "object",
      "description": "Response message for ListInterceptDeploymentGroups.",
      "properties": {
        "interceptDeploymentGroups": {
          "type": "array",
          "items": {
            "$ref": "InterceptDeploymentGroup"
          },
          "description": "The deployment groups from the specified parent."
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        }
      }
    },
    "AuthzPolicyAuthzRuleHeaderMatch": {
      "description": "Determines how a HTTP header should be matched.",
      "id": "AuthzPolicyAuthzRuleHeaderMatch",
      "properties": {
        "value": {
          "description": "Optional. Specifies how the header match will be performed.",
          "$ref": "AuthzPolicyAuthzRuleStringMatch"
        },
        "name": {
          "type": "string",
          "description": "Optional. Specifies the name of the header in the request."
        }
      },
      "type": "object"
    },
    "RemoveAddressGroupItemsRequest": {
      "description": "Request used by the RemoveAddressGroupItems method.",
      "id": "RemoveAddressGroupItemsRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "items": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. List of items to remove."
        }
      }
    },
    "SACRealm": {
      "description": "Represents a Secure Access Connect (SAC) realm resource. A Secure Access Connect realm establishes a connection between your Google Cloud project and an SSE service.",
      "id": "SACRealm",
      "type": "object",
      "properties": {
        "securityService": {
          "type": "string",
          "enum": [
            "SECURITY_SERVICE_UNSPECIFIED",
            "PALO_ALTO_PRISMA_ACCESS",
            "SYMANTEC_CLOUD_SWG"
          ],
          "description": "Immutable. SSE service provider associated with the realm.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "[Palo Alto Networks Prisma Access](https://www.paloaltonetworks.com/sase/access).",
            "Symantec Cloud SWG."
          ]
        },
        "updateTime": {
          "description": "Output only. Timestamp when the realm was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name, in the form `projects/{project}/locations/global/sacRealms/{sacRealm}`.",
          "type": "string"
        },
        "symantecOptions": {
          "description": "Optional. Configuration required for Symantec realms.",
          "$ref": "SACRealmSACRealmSymantecOptions"
        },
        "state": {
          "description": "Output only. State of the realm.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING_PARTNER_ATTACHMENT",
            "PARTNER_ATTACHED",
            "PARTNER_DETACHED",
            "KEY_EXPIRED"
          ],
          "type": "string",
          "enumDescriptions": [
            "No state specified. This should not be used.",
            "Has never been attached to a partner. Used only for Prisma Access.",
            "Currently attached to a partner.",
            "Was once attached to a partner but has been detached.",
            "Is not attached to a partner and has an expired pairing key. Used only for Prisma Access."
          ]
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Optional list of labels applied to the resource."
        },
        "createTime": {
          "description": "Output only. Timestamp when the realm was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "pairingKey": {
          "readOnly": true,
          "description": "Output only. Key to be shared with SSE service provider during pairing.",
          "$ref": "SACRealmPairingKey"
        }
      }
    },
    "ListFirewallEndpointAssociationsResponse": {
      "type": "object",
      "id": "ListFirewallEndpointAssociationsResponse",
      "properties": {
        "firewallEndpointAssociations": {
          "type": "array",
          "items": {
            "$ref": "FirewallEndpointAssociation"
          },
          "description": "The list of Association"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "description": "Message for response to listing Associations"
    },
    "ListBackendAuthenticationConfigsResponse": {
      "properties": {
        "backendAuthenticationConfigs": {
          "type": "array",
          "description": "List of BackendAuthenticationConfig resources.",
          "items": {
            "$ref": "BackendAuthenticationConfig"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      },
      "type": "object",
      "description": "Response returned by the ListBackendAuthenticationConfigs method.",
      "id": "ListBackendAuthenticationConfigsResponse"
    },
    "ListAuthorizationPoliciesResponse": {
      "type": "object",
      "properties": {
        "authorizationPolicies": {
          "items": {
            "$ref": "AuthorizationPolicy"
          },
          "type": "array",
          "description": "List of AuthorizationPolicies resources."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      },
      "description": "Response returned by the ListAuthorizationPolicies method.",
      "id": "ListAuthorizationPoliciesResponse"
    },
    "BackendAuthenticationConfig": {
      "description": "BackendAuthenticationConfig message groups the TrustConfig together with other settings that control how the load balancer authenticates, and expresses its identity to, the backend: * `trustConfig` is the attached TrustConfig. * `wellKnownRoots` indicates whether the load balance should trust backend server certificates that are issued by public certificate authorities, in addition to certificates trusted by the TrustConfig. * `clientCertificate` is a client certificate that the load balancer uses to express its identity to the backend, if the connection to the backend uses mTLS. You can attach the BackendAuthenticationConfig to the load balancer's BackendService directly determining how that BackendService negotiates TLS.",
      "id": "BackendAuthenticationConfig",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "trustConfig": {
          "description": "Optional. A reference to a TrustConfig resource from the certificatemanager.googleapis.com namespace. This is a relative resource path following the form \"projects/{project}/locations/{location}/trustConfigs/{trust_config}\". A BackendService uses the chain of trust represented by this TrustConfig, if specified, to validate the server certificates presented by the backend. Required unless wellKnownRoots is set to PUBLIC_ROOTS.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Etag of the resource."
        },
        "wellKnownRoots": {
          "type": "string",
          "enum": [
            "WELL_KNOWN_ROOTS_UNSPECIFIED",
            "NONE",
            "PUBLIC_ROOTS"
          ],
          "description": "Well known roots to use for server certificate validation.",
          "enumDescriptions": [
            "Equivalent to NONE.",
            "The BackendService will only validate server certificates against roots specified in TrustConfig.",
            "The BackendService uses a set of well-known public roots, in addition to any roots specified in the trustConfig field, when validating the server certificates presented by the backend. Validation with these roots is only considered when the TlsSettings.sni field in the BackendService is set. The well-known roots are a set of root CAs managed by Google. CAs in this set can be added or removed without notice."
          ]
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the BackendAuthenticationConfig resource. It matches the pattern `projects/*/locations/{location}/backendAuthenticationConfigs/{backend_authentication_config}`"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Set of label tags associated with the resource."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was updated."
        },
        "clientCertificate": {
          "type": "string",
          "description": "Optional. A reference to a certificatemanager.googleapis.com.Certificate resource. This is a relative resource path following the form \"projects/{project}/locations/{location}/certificates/{certificate}\". Used by a BackendService to negotiate mTLS when the backend connection uses TLS and the backend requests a client certificate. Must have a CLIENT_AUTH scope."
        }
      },
      "type": "object"
    },
    "AuthzPolicyAuthzRuleRequestResource": {
      "description": "Describes the properties of a client VM resource accessing the internal application load balancers.",
      "id": "AuthzPolicyAuthzRuleRequestResource",
      "type": "object",
      "properties": {
        "tagValueIdSet": {
          "$ref": "AuthzPolicyAuthzRuleRequestResourceTagValueIdSet",
          "description": "Optional. A list of resource tag value permanent IDs to match against the resource manager tags value associated with the source VM of a request."
        },
        "iamServiceAccount": {
          "$ref": "AuthzPolicyAuthzRuleStringMatch",
          "description": "Optional. An IAM service account to match against the source service account of the VM sending the request."
        }
      }
    },
    "FirewallEndpoint": {
      "id": "FirewallEndpoint",
      "properties": {
        "name": {
          "description": "Immutable. Identifier. Name of resource.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Update time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "Being created.",
            "Processing configuration updates.",
            "Being deleted.",
            "Down or in an error state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE"
          ],
          "description": "Output only. Current state of the endpoint."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the firewall endpoint. Max length 2048 characters."
        },
        "associatedNetworks": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Deprecated: List of networks that are associated with this endpoint in the local zone. This is a projection of the FirewallEndpointAssociations pointing at this endpoint. A network will only appear in this list after traffic routing is fully configured. Format: projects/{project}/global/networks/{name}.",
          "deprecated": true,
          "type": "array",
          "readOnly": true
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. Whether reconciling is in progress, recommended per https://google.aip.dev/128.",
          "readOnly": true
        },
        "billingProjectId": {
          "description": "Optional. Project to charge for the deployed firewall endpoint. This field must be specified when creating the endpoint in the organization scope, and should be omitted otherwise.",
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Output only. [Output Only] Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "satisfiesPzi": {
          "description": "Output only. [Output Only] Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "wildfireSettings": {
          "$ref": "FirewallEndpointWildfireSettings",
          "description": "Optional. Settings for WildFire analysis."
        },
        "endpointSettings": {
          "$ref": "FirewallEndpointEndpointSettings",
          "description": "Optional. Settings for the endpoint."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Create time stamp."
        },
        "associations": {
          "items": {
            "$ref": "FirewallEndpointAssociationReference"
          },
          "description": "Output only. List of FirewallEndpointAssociations that are associated to this endpoint. An association will only appear in this list after traffic routing is fully configured.",
          "readOnly": true,
          "type": "array"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Message describing Endpoint object."
    },
    "AuthzPolicyAuthzRuleToRequestOperationMCPMethod": {
      "type": "object",
      "description": "Describes a set of MCP methods to match against.",
      "properties": {
        "name": {
          "description": "Required. The MCP method to match against. Allowed values are as follows: 1. `tools`, `prompts`, `resources` - these will match against all sub methods under the respective methods. 2. `prompts/list`, `tools/list`, `resources/list`, `resources/templates/list` 3. `prompts/get`, `tools/call`, `resources/subscribe`, `resources/unsubscribe`, `resources/read` Params cannot be specified for categories 1 and 2.",
          "type": "string"
        },
        "params": {
          "items": {
            "$ref": "AuthzPolicyAuthzRuleStringMatch"
          },
          "type": "array",
          "description": "Optional. A list of MCP method parameters to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set. Limited to 10 MCP method parameters per Authorization Policy."
        }
      },
      "id": "AuthzPolicyAuthzRuleToRequestOperationMCPMethod"
    },
    "SecurityProfileGroup": {
      "id": "SecurityProfileGroup",
      "properties": {
        "etag": {
          "readOnly": true,
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "customMirroringProfile": {
          "type": "string",
          "description": "Optional. Reference to a SecurityProfile with the CustomMirroring configuration."
        },
        "customInterceptProfile": {
          "type": "string",
          "description": "Optional. Reference to a SecurityProfile with the CustomIntercept configuration."
        },
        "threatPreventionProfile": {
          "description": "Optional. Reference to a SecurityProfile with the ThreatPrevention configuration.",
          "type": "string"
        },
        "dataPathId": {
          "type": "string",
          "format": "uint64",
          "description": "Output only. Identifier used by the data-path. Unique within `{container, location}`.",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels as key value pairs."
        },
        "updateTime": {
          "description": "Output only. Last resource update timestamp.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Resource creation timestamp.",
          "readOnly": true
        },
        "wildfireAnalysisProfile": {
          "type": "string",
          "description": "Optional. Reference to a SecurityProfile with the WildFire configuration."
        },
        "description": {
          "type": "string",
          "description": "Optional. An optional description of the profile group. Max length 2048 characters."
        },
        "urlFilteringProfile": {
          "type": "string",
          "description": "Optional. Reference to a SecurityProfile with the UrlFiltering configuration."
        },
        "name": {
          "description": "Immutable. Identifier. Name of the SecurityProfileGroup resource. It matches pattern `projects|organizations/*/locations/{location}/securityProfileGroups/{security_profile_group}`.",
          "type": "string"
        }
      },
      "description": "SecurityProfileGroup is a resource that defines the behavior for various ProfileTypes.",
      "type": "object"
    },
    "MirroringDeployment": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources."
        },
        "mirroringDeploymentGroup": {
          "type": "string",
          "description": "Required. Immutable. The deployment group that this deployment is a part of, for example: `projects/123456789/locations/global/mirroringDeploymentGroups/my-dg`. See https://google.aip.dev/124."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. User-provided description of the deployment. Used as additional context for the deployment.",
          "type": "string"
        },
        "reconciling": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This part of the normal operation (e.g. linking a new association to the parent group). See https://google.aip.dev/128."
        },
        "state": {
          "type": "string",
          "description": "Output only. The current state of the deployment. See https://google.aip.dev/216.",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment is ready and in sync with the parent group.",
            "The deployment is being created.",
            "The deployment is being deleted.",
            "The deployment is out of sync with the parent group. In most cases, this is a result of a transient issue within the system (e.g. a delayed data-path config) and the system is expected to recover automatically. See the parent deployment group's state for more details.",
            "An attempt to delete the deployment has failed. This is a terminal state and the deployment is not expected to recover. The only permitted operation is to retry deleting the deployment."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ]
        },
        "name": {
          "description": "Immutable. Identifier. The resource name of this deployment, for example: `projects/123456789/locations/us-central1-a/mirroringDeployments/my-dep`. See https://google.aip.dev/122 for more details.",
          "type": "string"
        },
        "forwardingRule": {
          "type": "string",
          "description": "Required. Immutable. The regional forwarding rule that fronts the mirroring collectors, for example: `projects/123456789/regions/us-central1/forwardingRules/my-rule`. See https://google.aip.dev/124."
        }
      },
      "id": "MirroringDeployment",
      "description": "A deployment represents a zonal mirroring backend ready to accept GENEVE-encapsulated replica traffic, e.g. a zonal instance group fronted by an internal passthrough load balancer. Deployments are always part of a global deployment group which represents a global mirroring service.",
      "type": "object"
    },
    "AuthzPolicyAuthzRuleRequestResourceTagValueIdSet": {
      "id": "AuthzPolicyAuthzRuleRequestResourceTagValueIdSet",
      "description": "Describes a set of resource tag value permanent IDs to match against the resource manager tags value associated with the source VM of a request.",
      "properties": {
        "ids": {
          "description": "Required. A list of resource tag value permanent IDs to match against the resource manager tags value associated with the source VM of a request. The match follows AND semantics which means all the ids must match. Limited to 5 ids in the Tag value id set.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "type": "object"
    },
    "MirroringDeploymentGroup": {
      "id": "MirroringDeploymentGroup",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. The resource name of this deployment group, for example: `projects/123456789/locations/global/mirroringDeploymentGroups/my-dg`. See https://google.aip.dev/122 for more details."
        },
        "locations": {
          "items": {
            "$ref": "MirroringLocation"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of locations where the deployment group is present."
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "description": "Optional. User-provided description of the deployment group. Used as additional context for the deployment group.",
          "type": "string"
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This is part of the normal operation (e.g. adding a new deployment to the group) See https://google.aip.dev/128.",
          "type": "boolean"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "CLOSED"
          ],
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment group is ready.",
            "The deployment group is being created.",
            "The deployment group is being deleted.",
            "The deployment group is being wiped out (project deleted)."
          ],
          "readOnly": true,
          "description": "Output only. The current state of the deployment group. See https://google.aip.dev/216."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "type": "string"
        },
        "nestedDeployments": {
          "readOnly": true,
          "deprecated": true,
          "items": {
            "$ref": "MirroringDeploymentGroupDeployment"
          },
          "description": "Output only. The list of Mirroring Deployments that belong to this group.",
          "type": "array"
        },
        "network": {
          "type": "string",
          "description": "Required. Immutable. The network that will be used for all child deployments, for example: `projects/{project}/global/networks/{network}`. See https://google.aip.dev/124."
        },
        "connectedEndpointGroups": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of endpoint groups that are connected to this resource.",
          "items": {
            "$ref": "MirroringDeploymentGroupConnectedEndpointGroup"
          }
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources."
        }
      },
      "type": "object",
      "description": "A deployment group aggregates many zonal mirroring backends (deployments) into a single global mirroring service. Consumers can connect this service using an endpoint group."
    },
    "ListSecurityProfileGroupsResponse": {
      "id": "ListSecurityProfileGroupsResponse",
      "properties": {
        "securityProfileGroups": {
          "type": "array",
          "items": {
            "$ref": "SecurityProfileGroup"
          },
          "description": "List of SecurityProfileGroups resources."
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      },
      "description": "Response returned by the ListSecurityProfileGroups method.",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        }
      }
    },
    "ListMirroringDeploymentsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached. See https://google.aip.dev/217 for more details.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        },
        "mirroringDeployments": {
          "type": "array",
          "description": "The deployments from the specified parent.",
          "items": {
            "$ref": "MirroringDeployment"
          }
        }
      },
      "id": "ListMirroringDeploymentsResponse",
      "description": "Response message for ListMirroringDeployments.",
      "type": "object"
    },
    "AuthorizationPolicy": {
      "id": "AuthorizationPolicy",
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of label tags associated with the AuthorizationPolicy resource."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "action": {
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "enumDescriptions": [
            "Default value.",
            "Grant access.",
            "Deny access. Deny rules should be avoided unless they are used to provide a default \"deny all\" fallback."
          ],
          "description": "Required. The action to take when a rule match is found. Possible values are \"ALLOW\" or \"DENY\"."
        },
        "rules": {
          "description": "Optional. List of rules to match. Note that at least one of the rules must match in order for the action specified in the 'action' field to be taken. A rule is a match if there is a matching source and destination. If left blank, the action specified in the `action` field will be applied on every request.",
          "type": "array",
          "items": {
            "$ref": "Rule"
          }
        },
        "name": {
          "description": "Required. Name of the AuthorizationPolicy resource. It matches pattern `projects/{project}/locations/{location}/authorizationPolicies/`.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Free-text description of the resource."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string"
        }
      },
      "description": "AuthorizationPolicy is a resource that specifies how a server should authorize incoming connections. This resource in itself does not change the configuration unless it's attached to a target https proxy or endpoint config selector resource."
    },
    "FirewallEndpointAssociation": {
      "type": "object",
      "description": "Message describing Association object",
      "id": "FirewallEndpointAssociation",
      "properties": {
        "reconciling": {
          "readOnly": true,
          "description": "Output only. Whether reconciling is in progress, recommended per https://google.aip.dev/128.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. name of resource"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE",
            "ORPHAN"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Being created.",
            "Active and ready for traffic.",
            "Being deleted.",
            "Down or in an error state.",
            "The project that housed the association has been deleted."
          ],
          "readOnly": true,
          "description": "Output only. Current state of the association."
        },
        "tlsInspectionPolicy": {
          "description": "Optional. The URL of the TlsInspectionPolicy that is being associated.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Update time stamp",
          "type": "string"
        },
        "network": {
          "description": "Required. The URL of the network that is being associated.",
          "type": "string"
        },
        "disabled": {
          "type": "boolean",
          "description": "Optional. Whether the association is disabled. True indicates that traffic won't be intercepted"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Create time stamp",
          "format": "google-datetime"
        },
        "firewallEndpoint": {
          "description": "Required. The URL of the FirewallEndpoint that is being associated.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs"
        }
      }
    },
    "ListAddressGroupsResponse": {
      "id": "ListAddressGroupsResponse",
      "description": "Response returned by the ListAddressGroups method.",
      "type": "object",
      "properties": {
        "addressGroups": {
          "type": "array",
          "description": "List of AddressGroups resources.",
          "items": {
            "$ref": "AddressGroup"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AuthzPolicyCustomProviderAuthzExtension": {
      "id": "AuthzPolicyCustomProviderAuthzExtension",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A list of references to authorization extensions that will be invoked for requests matching this policy. Limited to 1 custom provider."
        }
      },
      "type": "object",
      "description": "Optional. Delegate authorization decision to user authored extension. Only one of cloudIap or authzExtension can be specified."
    },
    "AuthzPolicyAuthzRuleToRequestOperationHeaderSet": {
      "properties": {
        "headers": {
          "items": {
            "$ref": "AuthzPolicyAuthzRuleHeaderMatch"
          },
          "description": "Required. A list of headers to match against in http header. The match can be one of exact, prefix, suffix, or contains (substring match). The match follows AND semantics which means all the headers must match. Matches are always case sensitive unless the ignoreCase is set. Limited to 10 headers per Authorization Policy.",
          "type": "array"
        }
      },
      "id": "AuthzPolicyAuthzRuleToRequestOperationHeaderSet",
      "type": "object",
      "description": "Describes a set of HTTP headers to match against."
    },
    "AuthzPolicyTarget": {
      "type": "object",
      "id": "AuthzPolicyTarget",
      "description": "Specifies the set of targets to which this policy should be applied to.",
      "properties": {
        "loadBalancingScheme": {
          "description": "Optional. All gateways and forwarding rules referenced by this policy and extensions must share the same load balancing scheme. Required only when targeting forwarding rules. If targeting Secure Web Proxy, this field must be `INTERNAL_MANAGED` or not specified. Must not be specified when targeting Agent Gateway. Supported values: `INTERNAL_MANAGED` and `EXTERNAL_MANAGED`. For more information, refer to [Backend services overview](https://cloud.google.com/load-balancing/docs/backend-service).",
          "type": "string",
          "enum": [
            "LOAD_BALANCING_SCHEME_UNSPECIFIED",
            "INTERNAL_MANAGED",
            "EXTERNAL_MANAGED",
            "INTERNAL_SELF_MANAGED"
          ],
          "enumDescriptions": [
            "Default value. Do not use.",
            "Signifies that this is used for Regional internal or Cross-region internal Application Load Balancing.",
            "Signifies that this is used for Global external or Regional external Application Load Balancing.",
[...]
