{
  "mtlsRootUrl": "https://networkconnectivity.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/network-connectivity/docs/reference/networkconnectivity/rest",
  "basePath": "",
  "title": "Network Connectivity API",
  "description": "This API enables connectivity with and between Google Cloud resources.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://networkconnectivity.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260817",
  "kind": "discovery#restDescription",
  "version_module": true,
  "protocol": "rest",
  "canonicalName": "networkconnectivity",
  "discoveryVersion": "v1",
  "version": "v1",
  "servicePath": "",
  "schemas": {
    "LinkedInterconnectAttachments": {
      "description": "A collection of VLAN attachment resources. These resources should be redundant attachments that all advertise the same prefixes to Google Cloud. Alternatively, in active/passive configurations, all attachments should be capable of advertising the same prefixes.",
      "id": "LinkedInterconnectAttachments",
      "type": "object",
      "properties": {
        "vpcNetwork": {
          "type": "string",
          "description": "Output only. The VPC network where these VLAN attachments are located.",
          "readOnly": true
        },
        "uris": {
          "description": "The URIs of linked interconnect attachment resources",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "siteToSiteDataTransfer": {
          "type": "boolean",
          "description": "A value that controls whether site-to-site data transfer is enabled for these resources. Data transfer is available only in [supported locations](https://cloud.google.com/network-connectivity/docs/network-connectivity-center/concepts/locations)."
        },
        "includeImportRanges": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Hub routes fully encompassed by include import ranges are included during import from hub.",
          "type": "array"
        },
        "includeExportRanges": {
          "description": "Optional. Dynamic routes fully encompassed by include export ranges are included during export to hub.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludeExportRanges": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Dynamic routes overlapped/encompassed by exclude export ranges are excluded during export to hub.",
          "type": "array"
        },
        "excludeImportRanges": {
          "type": "array",
          "description": "Optional. Hub routes overlapped/encompassed by exclude import ranges are excluded during import from hub.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "LocationMetadata": {
      "id": "LocationMetadata",
      "properties": {
        "locationFeatures": {
          "description": "List of supported features",
          "items": {
            "enumDescriptions": [
              "No publicly supported feature in this location",
              "Site-to-cloud spokes are supported in this location",
              "Site-to-site spokes are supported in this location",
              "Gateway spokes are supported in this location.",
              "Supports transports in this location."
            ],
            "type": "string",
            "enum": [
              "LOCATION_FEATURE_UNSPECIFIED",
              "SITE_TO_CLOUD_SPOKES",
              "SITE_TO_SITE_SPOKES",
              "GATEWAY_SPOKES",
              "TRANSPORTS"
            ]
          },
          "type": "array"
        }
      },
      "description": "Metadata about locations",
      "type": "object"
    },
    "ListHubSpokesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token for the next page of the response. To see more results, use this value as the page_token for your next request. If this value is empty, there are no more results.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "spokes": {
          "items": {
            "$ref": "Spoke"
          },
          "description": "The requested spokes. The spoke fields can be partially populated based on the `view` field in the request message.",
          "type": "array"
        }
      },
      "description": "The response for HubService.ListHubSpokes.",
      "id": "ListHubSpokesResponse",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      }
    },
    "RegionalEndpoint": {
      "id": "RegionalEndpoint",
      "description": "The RegionalEndpoint resource.",
      "properties": {
        "network": {
          "description": "Optional. The name of the VPC network for this private regional endpoint. Format: `projects/{project}/global/networks/{network}`",
          "type": "string"
        },
        "subnetwork": {
          "description": "Optional. The name of the subnetwork from which the IP address will be allocated. Format: `projects/{project}/regions/{region}/subnetworks/{subnetwork}`",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-defined labels.",
          "type": "object"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of a RegionalEndpoint. Pattern: `projects/{project}/locations/{location}/regionalEndpoints/^[-a-z0-9](?:[-a-z0-9]{0,44})[a-z0-9]$`.",
          "type": "string"
        },
        "ipAddress": {
          "type": "string",
          "description": "Output only. The literal IP address of the PSC Forwarding Rule created on behalf of the customer. This field is deprecated. Use address instead.",
          "readOnly": true,
          "deprecated": true
        },
        "accessType": {
          "enumDescriptions": [
            "An invalid type as the default case.",
            "This regional endpoint is accessible from all regions.",
            "This regional endpoint is only accessible from the same region where it resides."
          ],
          "type": "string",
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "GLOBAL",
            "REGIONAL"
          ],
          "description": "Required. The access type of this regional endpoint. This field is reflected in the PSC Forwarding Rule configuration to enable global access."
        },
        "updateTime": {
          "description": "Output only. Time when the RegionalEndpoint was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "targetGoogleApi": {
          "type": "string",
          "description": "Required. The service endpoint this private regional endpoint connects to. Format: `{apiname}.{region}.p.rep.googleapis.com` Example: \"cloudkms.us-central1.p.rep.googleapis.com\"."
        },
        "pscForwardingRule": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource reference of the PSC Forwarding Rule created on behalf of the customer. Format: `//compute.googleapis.com/projects/{project}/regions/{region}/forwardingRules/{forwarding_rule_name}`"
        },
        "address": {
          "type": "string",
          "description": "Optional. The IP Address of the Regional Endpoint. When no address is provided, an IP from the subnetwork is allocated. Use one of the following formats: * IPv4 address as in `10.0.0.1` * Address resource URI as in `projects/{project}/regions/{region}/addresses/{address_name}` for an IPv4 or IPv6 address."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when the RegionalEndpoint was created.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A description of this resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListServiceClassesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The next pagination token in the List response. It should be used as page_token for the following request. An empty value means no more result.",
          "type": "string"
        },
        "serviceClasses": {
          "type": "array",
          "description": "ServiceClasses to be returned.",
          "items": {
            "$ref": "ServiceClass"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListServiceClassesResponse",
      "description": "Response for ListServiceClasses.",
      "type": "object"
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      }
    },
    "SpokeTypeCount": {
      "properties": {
        "count": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The total number of spokes of this type that are associated with the hub."
        },
        "spokeType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the spokes.",
          "enumDescriptions": [
            "Unspecified spoke type.",
            "Spokes associated with VPN tunnels.",
            "Spokes associated with VLAN attachments.",
            "Spokes associated with router appliance instances.",
            "Spokes associated with VPC networks.",
            "Spokes that are NCC gateways.",
            "Spokes that are backed by a producer VPC network."
          ],
          "enum": [
            "SPOKE_TYPE_UNSPECIFIED",
            "VPN_TUNNEL",
            "INTERCONNECT_ATTACHMENT",
            "ROUTER_APPLIANCE",
            "VPC_NETWORK",
            "GATEWAY",
            "PRODUCER_VPC_NETWORK"
          ]
        }
      },
      "description": "The number of spokes of a given type that are associated with a specific hub. The type indicates what kind of resource is associated with the spoke.",
      "type": "object",
      "id": "SpokeTypeCount"
    },
    "VirtualMachine": {
      "id": "VirtualMachine",
      "properties": {
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of VM instance tags that this policy-based route applies to. VM instances that have ANY of tags specified here installs this PBR."
        }
      },
      "description": "VM instances that this policy-based route applies to.",
      "type": "object"
    },
    "NextHopSpoke": {
      "id": "NextHopSpoke",
      "description": "A route next hop that leads to a spoke resource.",
      "properties": {
        "siteToSiteDataTransfer": {
          "description": "Indicates whether site-to-site data transfer is allowed for this spoke resource. Data transfer is available only in [supported locations](https://cloud.google.com/network-connectivity/docs/network-connectivity-center/concepts/locations). Whether this route is accessible to other hybrid spokes with site-to-site data transfer enabled. If this is false, the route is only accessible to VPC spokes of the connected Hub.",
          "type": "boolean"
        },
        "uri": {
          "type": "string",
          "description": "The URI of the spoke resource."
        }
      },
      "type": "object"
    },
    "PscConfig": {
      "properties": {
        "limit": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Max number of PSC connections for this policy."
        },
        "allowedGoogleProducersResourceHierarchyLevel": {
          "description": "Optional. List of Projects, Folders, or Organizations from where the Producer instance can be within. For example, a network administrator can provide both 'organizations/foo' and 'projects/bar' as allowed_google_producers_resource_hierarchy_levels. This allowlists this network to connect with any Producer instance within the 'foo' organization or the 'bar' project. By default, allowed_google_producers_resource_hierarchy_level is empty. The format for each allowed_google_producers_resource_hierarchy_level is / where is one of 'projects', 'folders', or 'organizations' and is either the ID or the number of the resource type. Format for each allowed_google_producers_resource_hierarchy_level value: 'projects/' or 'folders/' or 'organizations/' Eg. [projects/my-project-id, projects/567, folders/891, organizations/123]",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "subnetworks": {
          "type": "array",
          "description": "The resource paths of subnetworks to use for IP address management. Example: projects/{projectNumOrId}/regions/{region}/subnetworks/{resourceId}.",
          "items": {
            "type": "string"
          }
        },
        "producerInstanceLocation": {
          "enumDescriptions": [
            "Producer instance location is not specified. When this option is chosen, then the PSC connections created by this ServiceConnectionPolicy must be within the same project as the Producer instance. This is the default ProducerInstanceLocation value. To allow for PSC connections from this network to other networks, use the CUSTOM_RESOURCE_HIERARCHY_LEVELS option.",
            "Producer instance must be within one of the values provided in allowed_google_producers_resource_hierarchy_level."
          ],
          "type": "string",
          "enum": [
            "PRODUCER_INSTANCE_LOCATION_UNSPECIFIED",
            "CUSTOM_RESOURCE_HIERARCHY_LEVELS"
          ],
          "description": "Optional. ProducerInstanceLocation is used to specify which authorization mechanism to use to determine which projects the Producer instance can be within."
        }
      },
      "id": "PscConfig",
      "description": "Configuration used for Private Service Connect connections. Used when Infrastructure is PSC.",
      "type": "object"
    },
    "PscAuthorizationPolicy": {
      "type": "object",
      "id": "PscAuthorizationPolicy",
      "description": "Represents a PSC Authorization Policy.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Output only. The etag of the PscAuthorizationPolicy."
        },
        "targetResourceUri": {
          "type": "string",
          "description": "Required. The full absolute URI of the targeted resource governed by this policy. For example, for an AgentRegistry resource, the format is: `//agentregistry.googleapis.com/projects/{project}/locations/{location}`"
        },
        "authorizedClientResources": {
          "type": "array",
          "description": "Required. List of authorized consumer resources allowed to connect. Supported values are: 1. Project resource name (e.g., `projects/{project_id}`) 2. Wildcard `\"*\"` (grants global ingress authorization to the target).",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. A description of this resource.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the PscAuthorizationPolicy was updated."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the PscAuthorizationPolicy. Format: projects/{project}/locations/{location}/pscAuthorizationPolicies/{psc_authorization_policy}"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the PscAuthorizationPolicy was created."
        },
        "labels": {
          "type": "object",
          "description": "Optional. User-defined labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique identifier of the PscAuthorizationPolicy."
        },
        "authorizationMode": {
          "description": "Required. The authorization mode.",
          "type": "string",
          "enum": [
            "AUTHORIZATION_MODE_UNSPECIFIED",
            "AUTHORIZATION_MODE_TRANSITIVE_TO_SERVICE_ATTACHMENT"
          ],
          "enumDescriptions": [
            "Default value.",
            "In this mode, authorization is determined by the permissions on the underlying Service Attachment."
          ]
        }
      }
    },
    "DnsAutomationStatus": {
      "type": "object",
      "id": "DnsAutomationStatus",
      "description": "The status of DNS automation for a PSC connection.",
      "properties": {
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current state of DNS automation.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "DNS record creation is pending.",
            "DNS record is active.",
            "DNS record deletion is pending.",
            "DNS record creation failed.",
            "DNS record deletion failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING_CREATE",
            "ACTIVE",
            "PENDING_DELETE",
            "CREATE_FAILED",
            "DELETE_FAILED"
          ]
        },
        "error": {
          "readOnly": true,
          "$ref": "GoogleRpcStatus",
          "description": "Output only. The error details if the state is CREATE_FAILED or DELETE_FAILED."
        },
        "fqdn": {
          "description": "Output only. The fully qualified domain name of the DNS record.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Migration": {
      "description": "Specification for migration with source and target resource names.",
      "properties": {
        "source": {
          "type": "string",
          "description": "Immutable. Resource path as an URI of the source resource, for example a subnet. The project for the source resource should match the project for the InternalRange. An example: /projects/{project}/regions/{region}/subnetworks/{subnet}"
        },
        "target": {
          "description": "Immutable. Resource path of the target resource. The target project can be different, as in the cases when migrating to peer networks. For example: /projects/{project}/regions/{region}/subnetworks/{subnet}",
          "type": "string"
        }
      },
      "id": "Migration",
      "type": "object"
    },
    "PscPropagationStatus": {
      "id": "PscPropagationStatus",
      "type": "object",
      "description": "The status of one or more propagated Private Service Connect connections in a hub.",
      "properties": {
        "message": {
          "description": "The human-readable summary of the Private Service Connect connection propagation status.",
          "type": "string"
        },
        "targetSpoke": {
          "type": "string",
          "description": "The name of the spoke that the source forwarding rule propagates to."
        },
        "sourceGroup": {
          "type": "string",
          "description": "The name of the group that the source spoke belongs to."
        },
        "sourceSpoke": {
          "description": "The name of the spoke that the source forwarding rule belongs to.",
          "type": "string"
        },
        "sourceForwardingRule": {
          "type": "string",
          "description": "The name of the forwarding rule exported to the hub."
        },
        "targetGroup": {
          "type": "string",
          "description": "The name of the group that the target spoke belongs to."
        },
        "code": {
          "type": "string",
          "enum": [
            "CODE_UNSPECIFIED",
            "READY",
            "PROPAGATING",
            "ERROR_PRODUCER_PROPAGATED_CONNECTION_LIMIT_EXCEEDED",
            "ERROR_PRODUCER_NAT_IP_SPACE_EXHAUSTED",
            "ERROR_PRODUCER_QUOTA_EXCEEDED",
            "ERROR_CONSUMER_QUOTA_EXCEEDED"
          ],
          "enumDescriptions": [
            "The code is unspecified.",
            "The propagated Private Service Connect connection is ready.",
            "The Private Service Connect connection is propagating. This is a transient state.",
            "The Private Service Connect connection propagation failed because the VPC network or the project of the target spoke has exceeded the connection limit set by the producer.",
            "The Private Service Connect connection propagation failed because the NAT IP subnet space has been exhausted. It is equivalent to the `Needs attention` status of the Private Service Connect connection. See https://cloud.google.com/vpc/docs/about-accessing-vpc-hosted-services-endpoints#connection-statuses.",
            "The Private Service Connect connection propagation failed because the `PSC_ILB_CONSUMER_FORWARDING_RULES_PER_PRODUCER_NETWORK` quota in the producer VPC network has been exceeded.",
            "The Private Service Connect connection propagation failed because the `PSC_PROPAGATED_CONNECTIONS_PER_VPC_NETWORK` quota in the consumer VPC network has been exceeded."
          ],
          "description": "The propagation status."
        }
      }
    },
    "ListRouteTablesResponse": {
      "description": "Response for HubService.ListRouteTables method.",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Hubs that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the next page of the response. To see more results, use this value as the page_token for your next request. If this value is empty, there are no more results."
        },
        "routeTables": {
          "items": {
            "$ref": "RouteTable"
          },
          "type": "array",
          "description": "The requested route tables."
        }
      },
      "id": "ListRouteTablesResponse"
    },
    "RejectHubSpokeRequest": {
      "id": "RejectHubSpokeRequest",
      "type": "object",
      "description": "The request for HubService.RejectHubSpoke.",
      "properties": {
        "spokeUri": {
          "description": "Required. The URI of the spoke to reject from the hub.",
          "type": "string"
        },
        "details": {
          "description": "Optional. Additional information provided by the hub administrator.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server knows to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check to see whether the original operation was received. If it was, the server ignores the second request. This behavior prevents clients from mistakenly creating duplicate commitments. The request ID must be a valid UUID, with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "Transport": {
      "type": "object",
      "id": "Transport",
      "description": "Message describing Transport object.",
      "properties": {
        "stackType": {
          "enumDescriptions": [
            "Unspecified stack type.",
            "Only IPv4 is supported. (default)",
            "Both IPv4 and IPv6 are supported."
          ],
          "type": "string",
          "enum": [
            "STACK_TYPE_UNSPECIFIED",
            "IPV4_ONLY",
            "IPV4_IPV6"
          ],
          "description": "Optional. IP version stack for the established connectivity."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Update time stamp."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the resource."
        },
        "generatedActivationKey": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Google-generated activation key. This is only output if the selected profile supports an OUTPUT key flow. Inputting this to the provider is only valid while the resource is in a PENDING_KEY state. Once the provider has accepted the key, the resource will move to the CONFIGURING state."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the Transport."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "The resource exists locally and is being created / associated with the resource on the remote provider’s end of the underlying connectivity.",
            "The Transport exists on both sides of the connection, and is waiting for configuration to finalize and be verified as operational.",
            "The Transport was created in GCP. Depending on the profile’s key provisioning flow, this is either waiting for an activation key to be input (the key will be validated that it uses remote resources that match the Transport), or for the generated key to be input to the provider for finalizing. The configured bandwidth is not yet guaranteed.",
            "The Transport is configured and the underlying connectivity is considered operational.",
            "The Transport is being deleted from GCP. The underlying connectivity is no longer operational.",
            "The Transport was deleted on the remote provider's end and is no longer operational. GCP has insufficient information to move the resource back to PENDING_KEY state."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "PENDING_CONFIG",
            "PENDING_KEY",
            "ACTIVE",
            "DELETING",
            "DEPROVISIONED"
          ],
          "description": "Output only. State of the underlying connectivity.",
          "type": "string"
        },
        "advertisedRoutes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of IP Prefixes that will be advertised to the remote provider. Both IPv4 and IPv6 addresses are supported.",
          "type": "array"
        },
        "bandwidth": {
          "description": "Optional. Bandwidth of the Transport. This must be one of the supported bandwidths for the remote profile, and must be set when no activation key is being provided.",
          "type": "string",
          "enum": [
            "BANDWIDTH_UNSPECIFIED",
            "BPS_50M",
            "BPS_100M",
            "BPS_200M",
            "BPS_300M",
            "BPS_400M",
            "BPS_500M",
            "BPS_1G",
            "BPS_2G",
            "BPS_5G",
            "BPS_10G",
            "BPS_20G",
            "BPS_50G",
            "BPS_100G"
          ],
          "enumDescriptions": [
            "Unspecified bandwidth.",
            "50 Megabits per second.",
            "100 Megabits per second.",
            "200 Megabits per second.",
            "300 Megabits per second.",
            "400 Megabits per second.",
            "500 Megabits per second.",
            "1 Gigabit per second.",
            "2 Gigabits per second.",
            "5 Gigabits per second.",
            "10 Gigabits per second.",
            "20 Gigabits per second.",
            "50 Gigabits per second.",
            "100 Gigabits per second."
          ]
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Create time stamp.",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "Optional. Immutable. Resource URI of the Network that will be peered with this Transport. This field must be provided during resource creation and cannot be changed."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs."
        },
        "peeringNetwork": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. VPC Network URI that was created for the VPC Peering connection to the provided `network`. If VPC Peering is disconnected, this can be used to re-establish."
        },
        "providedActivationKey": {
          "type": "string",
          "description": "Optional. Immutable. Key used for establishing a connection with the remote transport. This key can only be provided if the profile supports an INPUT key flow and the resource is in the PENDING_KEY state."
        },
        "remoteProfile": {
          "type": "string",
          "description": "Optional. Immutable. Name of the remoteTransportProfile that this Transport is connecting to."
        },
        "mtuLimit": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The maximum transmission unit (MTU) of a packet that can be sent over this transport.",
          "type": "integer"
        },
        "remoteAccountId": {
          "type": "string",
          "description": "Optional. Immutable. The user supplied account id for the CSP associated with the remote profile."
        }
      }
    },
    "ListMulticloudDataTransferSupportedServicesResponse": {
      "id": "ListMulticloudDataTransferSupportedServicesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The next page token.",
          "type": "string"
        },
        "multicloudDataTransferSupportedServices": {
          "description": "The list of supported services.",
          "items": {
            "$ref": "MulticloudDataTransferSupportedService"
          },
          "type": "array"
        }
      },
      "description": "Response message to list the services in your project in regions that are eligible for Data Transfer Essentials configuration."
    },
    "Filter": {
      "properties": {
        "protocolVersion": {
          "enumDescriptions": [
            "Default value.",
            "The PBR is for IPv4 internet protocol traffic.",
            "The PBR is for IPv6 internet protocol traffic."
          ],
          "description": "Required. Internet protocol versions this policy-based route applies to. IPV4 and IPV6 is supported.",
          "type": "string",
          "enum": [
            "PROTOCOL_VERSION_UNSPECIFIED",
            "IPV4",
            "IPV6"
          ]
        },
        "ipProtocol": {
          "description": "Optional. The IP protocol that this policy-based route applies to. Valid values are 'TCP', 'UDP', and 'ALL'. Default is 'ALL'.",
          "type": "string"
        },
        "srcRange": {
          "description": "Optional. The source IP range of outgoing packets that this policy-based route applies to. Default is \"0.0.0.0/0\" if protocol version is IPv4 and \"::/0\" if protocol version is IPv6.",
          "type": "string"
        },
        "destRange": {
          "description": "Optional. The destination IP range of outgoing packets that this policy-based route applies to. Default is \"0.0.0.0/0\" if protocol version is IPv4 and \"::/0\" if protocol version is IPv6.",
          "type": "string"
        }
      },
      "description": "Filter matches L4 traffic.",
      "type": "object",
      "id": "Filter"
    },
    "ListServiceConnectionTokensResponse": {
      "id": "ListServiceConnectionTokensResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The next pagination token in the List response. It should be used as page_token for the following request. An empty value means no more result.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "serviceConnectionTokens": {
          "description": "ServiceConnectionTokens to be returned.",
          "items": {
            "$ref": "ServiceConnectionToken"
          },
          "type": "array"
        }
      },
      "description": "Response for ListServiceConnectionTokens."
    },
    "ServiceConnectionToken": {
      "description": "The ServiceConnectionToken resource.",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "User-defined labels."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the ServiceConnectionToken was updated.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Time when the ServiceConnectionToken was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "network": {
          "type": "string",
          "description": "The resource path of the network associated with this token. Example: projects/{projectNumOrId}/global/networks/{resourceId}."
        },
        "description": {
          "description": "A description of this resource.",
          "type": "string"
        },
        "token": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The token generated by Automation."
        },
        "name": {
          "description": "Immutable. The name of a ServiceConnectionToken. Format: projects/{project}/locations/{location}/ServiceConnectionTokens/{service_connection_token} See: https://google.aip.dev/122#fields-representing-resource-names",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. The etag is computed by the server, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "expireTime": {
          "type": "string",
          "description": "Output only. The time to which this token is valid.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "ServiceConnectionToken",
      "type": "object"
    },
    "ServiceConnectionPolicy": {
      "description": "The ServiceConnectionPolicy resource.",
      "id": "ServiceConnectionPolicy",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. The name of a ServiceConnectionPolicy. Format: projects/{project}/locations/{location}/serviceConnectionPolicies/{service_connection_policy} See: https://google.aip.dev/122#fields-representing-resource-names",
          "type": "string"
        },
        "infrastructure": {
          "type": "string",
          "description": "Output only. The type of underlying resources used to create the connection.",
          "enum": [
            "INFRASTRUCTURE_UNSPECIFIED",
            "PSC"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "An invalid infrastructure as the default case.",
            "Private Service Connect is used for connections."
          ]
        },
        "description": {
          "description": "A description of this resource.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Time when the ServiceConnectionPolicy was updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "etag": {
          "type": "string",
          "description": "Optional. The etag is computed by the server, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the ServiceConnectionPolicy was created."
        },
        "network": {
          "type": "string",
          "description": "The resource path of the consumer network. Example: - projects/{projectNumOrId}/global/networks/{resourceId}."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-defined labels."
        },
        "serviceClass": {
          "type": "string",
          "description": "The service class identifier for which this ServiceConnectionPolicy is for. The service class identifier is a unique, symbolic representation of a ServiceClass. It is provided by the Service Producer. Google services have a prefix of gcp or google-cloud. For example, gcp-memorystore-redis or google-cloud-sql. 3rd party services do not. For example, test-service-a3dfcx."
        },
        "pscConfig": {
          "$ref": "PscConfig",
          "description": "Configuration used for Private Service Connect connections. Used when Infrastructure is PSC."
        },
        "autoCreatedSubnetInfo": {
          "readOnly": true,
          "$ref": "AutoCreatedSubnetworkInfo",
          "description": "Output only. Information for the automatically created subnetwork and its associated IR."
        },
        "pscConnections": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "PscConnection"
          },
          "description": "Output only. [Output only] Information about each Private Service Connect connection."
        }
      }
    },
    "Warnings": {
      "properties": {
        "code": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "The policy-based route is not active and functioning. Common causes are that the dependent network was deleted or the resource project was turned off.",
            "The policy-based route is being modified (e.g. created/deleted) at this time."
          ],
          "description": "Output only. A warning code, if applicable.",
          "enum": [
            "WARNING_UNSPECIFIED",
            "RESOURCE_NOT_ACTIVE",
            "RESOURCE_BEING_MODIFIED"
          ],
          "readOnly": true
        },
        "warningMessage": {
          "readOnly": true,
          "description": "Output only. A human-readable description of the warning code.",
          "type": "string"
        },
        "data": {
          "description": "Output only. Metadata about this warning in key: value format. The key should provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement.",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "Warnings",
      "description": "Informational warning message.",
      "type": "object"
    },
    "ListRoutesResponse": {
      "description": "Response for HubService.ListRoutes method.",
      "properties": {
        "routes": {
          "type": "array",
          "items": {
            "$ref": "Route"
          },
          "description": "The requested routes."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "RouteTables that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token for the next page of the response. To see more results, use this value as the page_token for your next request. If this value is empty, there are no more results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListRoutesResponse"
    },
    "ServiceConnectionMap": {
      "id": "ServiceConnectionMap",
      "type": "object",
      "description": "The ServiceConnectionMap resource.",
      "properties": {
        "etag": {
          "description": "Optional. The etag is computed by the server, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "producerPscConfigs": {
          "items": {
            "$ref": "ProducerPscConfig"
          },
          "description": "The PSC configurations on producer side.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The name of a ServiceConnectionMap. Format: projects/{project}/locations/{location}/serviceConnectionMaps/{service_connection_map} See: https://google.aip.dev/122#fields-representing-resource-names"
        },
        "infrastructure": {
          "type": "string",
          "enum": [
            "INFRASTRUCTURE_UNSPECIFIED",
            "PSC"
          ],
          "description": "Output only. The infrastructure used for connections between consumers/producers.",
          "enumDescriptions": [
            "An invalid infrastructure as the default case.",
            "Private Service Connect is used for connections."
          ],
          "readOnly": true
        },
        "consumerPscConnections": {
          "items": {
            "$ref": "ConsumerPscConnection"
          },
          "description": "Output only. PSC connection details on consumer side.",
          "readOnly": true,
          "type": "array"
        },
        "consumerPscConfigs": {
          "description": "The PSC configurations on consumer side.",
          "items": {
            "$ref": "ConsumerPscConfig"
          },
          "type": "array"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "User-defined labels."
        },
        "updateTime": {
          "description": "Output only. Time when the ServiceConnectionMap was updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "serviceClass": {
          "type": "string",
          "description": "The service class identifier this ServiceConnectionMap is for. The user of ServiceConnectionMap create API needs to have networkconnectivity.serviceClasses.use IAM permission for the service class."
        },
        "createTime": {
          "description": "Output only. Time when the ServiceConnectionMap was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "token": {
          "description": "The token provided by the consumer. This token authenticates that the consumer can create a connection within the specified project and network.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A description of this resource."
        },
        "serviceClassUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The service class uri this ServiceConnectionMap is for."
        }
      }
    },
    "ListDestinationsResponse": {
      "id": "ListDestinationsResponse",
      "description": "Response message to list `Destination` resources.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The next page token.",
          "type": "string"
        },
        "destinations": {
          "items": {
            "$ref": "Destination"
          },
          "description": "The list of `Destination` resources to be listed.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "SpokeStateCount": {
      "id": "SpokeStateCount",
      "type": "object",
      "description": "The number of spokes that are in a particular state and associated with a given hub.",
      "properties": {
        "count": {
          "format": "int64",
          "description": "Output only. The total number of spokes that are in this state and associated with a given hub.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "No state information available",
            "The resource's create operation is in progress.",
            "The resource is active",
            "The resource's delete operation is in progress.",
            "The resource's accept operation is in progress.",
            "The resource's reject operation is in progress.",
            "The resource's update operation is in progress.",
            "The resource is inactive.",
            "The hub associated with this spoke resource has been deleted. This state applies to spoke resources only.",
            "The resource is in an undefined state due to resource creation or deletion failure. You can try to delete the resource later or contact support for help."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "ACCEPTING",
            "REJECTING",
            "UPDATING",
            "INACTIVE",
            "OBSOLETE",
            "FAILED"
          ],
          "readOnly": true,
          "description": "Output only. The state of the spokes.",
          "type": "string"
        }
      }
    },
    "ListHubsResponse": {
      "description": "Response for HubService.ListHubs method.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "The token for the next page of the response. To see more results, use this value as the page_token for your next request. If this value is empty, there are no more results.",
          "type": "string"
        },
        "hubs": {
          "items": {
            "$ref": "Hub"
          },
          "description": "The requested hubs.",
          "type": "array"
        }
      },
      "id": "ListHubsResponse",
      "type": "object"
    },
    "AcceptSpokeUpdateRequest": {
      "type": "object",
      "properties": {
        "spokeEtag": {
          "type": "string",
          "description": "Required. The etag of the spoke to accept update."
        },
        "requestId": {
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server knows to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check to see whether the original operation was received. If it was, the server ignores the second request. This behavior prevents clients from mistakenly creating duplicate commitments. The request ID must be a valid UUID, with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "spokeUri": {
          "type": "string",
          "description": "Required. The URI of the spoke to accept update."
        }
      },
      "description": "The request for HubService.AcceptSpokeUpdate.",
      "id": "AcceptSpokeUpdateRequest"
    },
    "RouteTable": {
      "id": "RouteTable",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the route table was last updated."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The name of the route table. Route table names must be unique. They use the following form: `projects/{project_number}/locations/global/hubs/{hub}/routeTables/{route_table_id}`"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the route table was created.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional labels in key-value pair format. For more information about labels, see [Requirements for labels](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements)."
        },
        "description": {
          "description": "An optional description of the route table.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "No state information available",
            "The resource's create operation is in progress.",
            "The resource is active",
            "The resource's delete operation is in progress.",
            "The resource's accept operation is in progress.",
            "The resource's reject operation is in progress.",
            "The resource's update operation is in progress.",
            "The resource is inactive.",
            "The hub associated with this spoke resource has been deleted. This state applies to spoke resources only.",
            "The resource is in an undefined state due to resource creation or deletion failure. You can try to delete the resource later or contact support for help."
          ],
          "description": "Output only. The current lifecycle state of this route table.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "ACCEPTING",
            "REJECTING",
            "UPDATING",
            "INACTIVE",
            "OBSOLETE",
            "FAILED"
          ],
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. The Google-generated UUID for the route table. This value is unique across all route table resources. If a route table is deleted and another with the same name is created, the new route table is assigned a different `uid`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CheckConsumerConfigResponse": {
      "description": "Response for CheckConsumerConfig.",
      "id": "CheckConsumerConfigResponse",
      "type": "object",
      "properties": {
        "errors": {
          "items": {
            "enumDescriptions": [
              "An invalid error as the default case.",
              "Invalid Network project.",
              "Network Connectivity APIs not enabled in network project.",
              "Invalid network.",
              "No ServiceConnectionPolicy found for this network and ServiceClass.",
              "IP version not supported in any of the subnetworks.",
              "Service Agent missing for network project.",
              "Invalid endpoint project.",
              "Network Connectivity API is not enabled in the endpoint project.",
              "Endpoint project is not a service project of the network project."
            ],
            "type": "string",
            "enum": [
              "ERROR_UNSPECIFIED",
              "NETWORK_PROJECT_INVALID",
              "NETWORK_PROJECT_APIS_NOT_ENABLED",
              "NETWORK_INVALID",
              "CONNECTION_POLICY_MISSING",
              "IP_VERSION_NOT_SUPPORTED",
              "NETWORK_PROJECT_SERVICE_AGENT_NOT_FOUND",
              "ENDPOINT_PROJECT_INVALID",
              "ENDPOINT_PROJECT_API_NOT_ENABLED",
              "ENDPOINT_PROJECT_IS_NOT_SERVICE_PROJECT"
            ]
          },
          "type": "array",
          "description": "List of validation errors. If the list is empty, the consumer config is valid."
        }
      }
    },
    "AutoCreatedSubnetworkInfo": {
      "type": "object",
      "properties": {
        "subnetwork": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. URI of the automatically created subnetwork. Only set if the subnetwork mode is AUTO_CREATED during creation."
        },
        "delinked": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the subnetwork is delinked from the Service Connection Policy. Only set if the subnetwork mode is AUTO_CREATED during creation."
        },
        "internalRangeRef": {
          "type": "string",
          "description": "Output only. URI of the automatically created Internal Range reference. Only set if the subnetwork mode is AUTO_CREATED during creation.",
          "readOnly": true
        },
        "internalRange": {
          "description": "Output only. URI of the automatically created Internal Range. Only set if the subnetwork mode is AUTO_CREATED during creation.",
          "readOnly": true,
          "type": "string"
        },
        "subnetworkRef": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URI of the automatically created subnetwork reference. Only set if the subnetwork mode is AUTO_CREATED during creation."
        }
      },
      "description": "Information for the automatically created subnetwork and its associated IR.",
      "id": "AutoCreatedSubnetworkInfo"
    },
    "SpokeStateReasonCount": {
      "description": "The number of spokes in the hub that are inactive for this reason.",
      "type": "object",
      "properties": {
        "count": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The total number of spokes that are inactive for a particular reason and associated with a given hub."
        },
        "stateReasonCode": {
          "enumDescriptions": [
            "No information available.",
            "The proposed spoke is pending review.",
            "The proposed spoke has been rejected by the hub administrator.",
            "The spoke has been deactivated internally.",
            "Network Connectivity Center encountered errors while accepting the spoke.",
            "The proposed spoke update is pending review.",
            "The proposed spoke update has been rejected by the hub administrator.",
            "Network Connectivity Center encountered errors while accepting the spoke update."
          ],
          "enum": [
            "CODE_UNSPECIFIED",
            "PENDING_REVIEW",
            "REJECTED",
            "PAUSED",
            "FAILED",
            "UPDATE_PENDING_REVIEW",
            "UPDATE_REJECTED",
            "UPDATE_FAILED"
          ],
          "readOnly": true,
          "description": "Output only. The reason that a spoke is inactive.",
          "type": "string"
        }
      },
      "id": "SpokeStateReasonCount"
    },
    "ListInternalRangesResponse": {
      "id": "ListInternalRangesResponse",
      "description": "Response for InternalRange.ListInternalRanges",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next pagination token in the List response. It should be used as page_token for the following request. An empty value means no more result."
        },
        "internalRanges": {
          "description": "Internal ranges to be returned.",
          "type": "array",
          "items": {
            "$ref": "InternalRange"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      }
    },
    "LinkedRouterApplianceInstances": {
      "properties": {
        "vpcNetwork": {
          "description": "Output only. The VPC network where these router appliance instances are located.",
          "type": "string",
          "readOnly": true
        },
        "excludeImportRanges": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Hub routes overlapped/encompassed by exclude import ranges are excluded during import from hub."
        },
        "includeExportRanges": {
          "description": "Optional. Dynamic routes fully encompassed by include export ranges are included during export to hub.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludeExportRanges": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Dynamic routes overlapped/encompassed by exclude export ranges are excluded during export to hub.",
          "type": "array"
        },
        "siteToSiteDataTransfer": {
          "description": "A value that controls whether site-to-site data transfer is enabled for these resources. Data transfer is available only in [supported locations](https://cloud.google.com/network-connectivity/docs/network-connectivity-center/concepts/locations).",
          "type": "boolean"
        },
        "includeImportRanges": {
          "description": "Optional. Hub routes fully encompassed by include import ranges are included during import from hub.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "instances": {
          "items": {
            "$ref": "RouterApplianceInstance"
          },
          "description": "The list of router appliance instances.",
          "type": "array"
        }
      },
      "id": "LinkedRouterApplianceInstances",
      "description": "A collection of router appliance instances. If you configure multiple router appliance instances to receive data from the same set of sites outside of Google Cloud, we recommend that you associate those instances with the same spoke.",
      "type": "object"
    },
    "PolicyBasedRoute": {
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "User-defined labels."
        },
        "kind": {
          "description": "Output only. Type of this resource. Always networkconnectivity#policyBasedRoute for policy-based Route resources.",
          "type": "string",
          "readOnly": true
        },
        "virtualMachine": {
          "description": "Optional. VM instances that this policy-based route applies to.",
          "$ref": "VirtualMachine"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the policy-based route was created."
        },
        "network": {
          "description": "Required. Fully-qualified URL of the network that this route applies to, for example: projects/my-project/global/networks/my-network.",
          "type": "string"
        },
        "warnings": {
          "description": "Output only. If potential misconfigurations are detected for this route, this field will be populated with warning messages.",
          "items": {
            "$ref": "Warnings"
          },
          "readOnly": true,
          "type": "array"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the policy-based route was updated."
        },
        "description": {
          "description": "Optional. An optional description of this resource. Provide this field when you create the resource.",
          "type": "string"
        },
        "priority": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The priority of this policy-based route. Priority is used to break ties in cases where there are more than one matching policy-based routes found. In cases where multiple policy-based routes are matched, the one with the lowest-numbered priority value wins. The default value is 1000. The priority value must be from 1 to 65535, inclusive."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. A unique name of the resource in the form of `projects/{project_number}/locations/global/PolicyBasedRoutes/{policy_based_route_id}`"
        },
        "nextHopIlbIp": {
          "description": "Optional. The IP address of a global-access-enabled L4 ILB that is the next hop for matching packets. For this version, only nextHopIlbIp is supported.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. Server-defined fully-qualified URL for this resource.",
          "type": "string",
          "readOnly": true
        },
        "interconnectAttachment": {
          "description": "Optional. The interconnect attachments that this policy-based route applies to.",
          "$ref": "InterconnectAttachment"
        },
        "filter": {
          "$ref": "Filter",
          "description": "Required. The filter to match L4 traffic."
        },
        "nextHopOtherRoutes": {
          "enumDescriptions": [
            "Default value.",
            "Use the routes from the default routing tables (system-generated routes, custom routes, peering route) to determine the next hop. This effectively excludes matching packets being applied on other PBRs with a lower priority."
          ],
          "type": "string",
          "enum": [
            "OTHER_ROUTES_UNSPECIFIED",
            "DEFAULT_ROUTING"
          ],
          "description": "Optional. Other routes that will be referenced to determine the next hop of the packet."
        }
      },
      "description": "Policy-based routes route L4 network traffic based on not just destination IP address, but also source IP address, protocol, and more. If a policy-based route conflicts with other types of routes, the policy-based route always takes precedence.",
      "id": "PolicyBasedRoute"
    },
    "Config": {
      "id": "Config",
      "properties": {
        "ttl": {
          "format": "google-duration",
          "type": "string",
          "description": "Required. Number of seconds that this DNS record can be cached by resolvers."
        },
        "rrdatas": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The list of resource record data strings. The content and format of these strings depend on the AutomatedDnsRecord.type. For many common record types, this list may contain multiple strings. As defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1) -- see examples. Examples: A record: [\"192.0.2.1\"] or [\"192.0.2.1\", \"192.0.2.2\"] TXT record: [\"This is a text record\"] CNAME record: [\"target.example.com.\"] AAAA record: [\"::1\"] or [\"2001:0db8:85a3:0000:0000:8a2e:0370:7334\", \"2001:0db8:85a3:0000:0000:8a2e:0370:7335\"]"
        }
      },
      "type": "object",
      "description": "Defines the configuration of a DNS record."
    },
    "ListGroupsResponse": {
      "properties": {
        "groups": {
          "type": "array",
          "description": "The requested groups.",
          "items": {
            "$ref": "Group"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Hubs that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The token for the next page of the response. To see more results, use this value as the page_token for your next request. If this value is empty, there are no more results.",
          "type": "string"
        }
      },
      "description": "Response for HubService.ListGroups method.",
      "type": "object",
      "id": "ListGroupsResponse"
    },
    "ListMulticloudDataTransferConfigsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token."
        },
        "multicloudDataTransferConfigs": {
          "type": "array",
          "description": "The list of `MulticloudDataTransferConfig` resources to be listed.",
          "items": {
            "$ref": "MulticloudDataTransferConfig"
          }
        }
      },
      "description": "Response message to list `MulticloudDataTransferConfig` resources.",
      "id": "ListMulticloudDataTransferConfigsResponse"
    },
    "Spoke": {
      "type": "object",
      "properties": {
        "linkedInterconnectAttachments": {
          "description": "Optional. VLAN attachments that are associated with the spoke.",
          "$ref": "LinkedInterconnectAttachments"
        },
        "linkedRouterApplianceInstances": {
          "description": "Optional. Router appliance instances that are associated with the spoke.",
          "$ref": "LinkedRouterApplianceInstances"
        },
        "linkedVpcNetwork": {
          "description": "Optional. VPC network that is associated with the spoke.",
          "$ref": "LinkedVpcNetwork"
        },
        "group": {
          "type": "string",
          "description": "Optional. The name of the group that this spoke is associated with."
        },
        "uniqueId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Google-generated UUID for the spoke. This value is unique across all spoke resources. If a spoke is deleted and another with the same name is created, the new spoke is assigned a different `unique_id`."
        },
        "spokeType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified spoke type.",
            "Spokes associated with VPN tunnels.",
            "Spokes associated with VLAN attachments.",
            "Spokes associated with router appliance instances.",
            "Spokes associated with VPC networks.",
            "Spokes that are NCC gateways.",
            "Spokes that are backed by a producer VPC network."
          ],
          "enum": [
            "SPOKE_TYPE_UNSPECIFIED",
            "VPN_TUNNEL",
            "INTERCONNECT_ATTACHMENT",
            "ROUTER_APPLIANCE",
            "VPC_NETWORK",
            "GATEWAY",
            "PRODUCER_VPC_NETWORK"
          ],
          "description": "Output only. The type of resource associated with the spoke.",
          "readOnly": true
        },
        "fieldPathsPendingUpdate": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of fields waiting for hub administrator's approval."
        },
        "labels": {
          "description": "Optional labels in key-value pair format. For more information about labels, see [Requirements for labels](https://cloud.google.com/resource-manager/docs/creating-managing-labels#requirements).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "linkedVpnTunnels": {
          "description": "Optional. VPN tunnels that are associated with the spoke.",
          "$ref": "LinkedVpnTunnels"
        },
        "reasons": {
          "items": {
            "$ref": "StateReason"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The reasons for current state of the spoke."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The name of the spoke. Spoke names must be unique. They use the following form: `projects/{project_number}/locations/{region}/spokes/{spoke_id}`"
        },
        "etag": {
          "type": "string",
          "description": "Optional. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the spoke was last updated.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "No state information available",
            "The resource's create operation is in progress.",
            "The resource is active",
            "The resource's delete operation is in progress.",
            "The resource's accept operation is in progress.",
            "The resource's reject operation is in progress.",
            "The resource's update operation is in progress.",
            "The resource is inactive.",
            "The hub associated with this spoke resource has been deleted. This state applies to spoke resources only.",
            "The resource is in an undefined state due to resource creation or deletion failure. You can try to delete the resource later or contact support for help."
          ],
          "type": "string",
          "description": "Output only. The current lifecycle state of this spoke.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "ACCEPTING",
            "REJECTING",
            "UPDATING",
            "INACTIVE",
            "OBSOLETE",
            "FAILED"
          ]
        },
        "description": {
          "type": "string",
          "description": "Optional. An optional description of the spoke."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the spoke was created.",
          "type": "string"
        },
        "linkedProducerVpcNetwork": {
          "$ref": "LinkedProducerVpcNetwork",
          "description": "Optional. The linked producer VPC that is associated with the spoke."
        },
        "gateway": {
          "description": "Optional. This is a gateway that can apply specialized processing to traffic going through it.",
          "$ref": "Gateway"
        },
        "hub": {
          "description": "Immutable. The name of the hub that this spoke is attached to.",
          "type": "string"
        }
      },
      "id": "Spoke",
      "description": "A Network Connectivity Center spoke represents one or more network connectivity resources. When you create a spoke, you associate it with a hub. You must also identify a value for exactly one of the following fields: * linked_vpn_tunnels * linked_interconnect_attachments * linked_router_appliance_instances * linked_vpc_network"
    },
    "NextHopInterconnectAttachment": {
      "type": "object",
      "id": "NextHopInterconnectAttachment",
      "description": "A route next hop that leads to an interconnect attachment resource.",
      "properties": {
        "siteToSiteDataTransfer": {
          "type": "boolean",
          "description": "Indicates whether site-to-site data transfer is allowed for this interconnect attachment resource. Data transfer is available only in [supported locations](https://cloud.google.com/network-connectivity/docs/network-connectivity-center/concepts/locations)."
        },
        "uri": {
          "type": "string",
          "description": "The URI of the interconnect attachment resource."
        },
        "vpcNetwork": {
          "description": "The VPC network where this interconnect attachment is located.",
          "type": "string"
        }
      }
    },
    "NextHopVPNTunnel": {
      "properties": {
        "siteToSiteDataTransfer": {
          "description": "Indicates whether site-to-site data transfer is allowed for this VPN tunnel resource. Data transfer is available only in [supported locations](https://cloud.google.com/network-connectivity/docs/network-connectivity-center/concepts/locations).",
          "type": "boolean"
        },
        "vpcNetwork": {
          "description": "The VPC network where this VPN tunnel is located.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "The URI of the VPN tunnel resource."
        }
      },
      "description": "A route next hop that leads to a VPN tunnel resource.",
      "type": "object",
      "id": "NextHopVPNTunnel"
    },
    "GoogleRpcErrorInfo": {
      "type": "object",
      "properties": {
        "domain": {
          "type": "string",
          "description": "The logical grouping to which the \"reason\" belongs. The error domain is typically the registered service name of the tool or product that generates the error. Example: \"pubsub.googleapis.com\". If the error is generated by some common infrastructure, the error domain must be a globally unique value that identifies the infrastructure. For Google API infrastructure, the error domain is \"googleapis.com\"."
        },
        "metadata": {
          "type": "object",
          "description": "Additional structured details about this error. Keys must match a regular expression of `a-z+` but should ideally be lowerCamelCase. Also, they must be limited to 64 characters in length. When identifying the current value of an exceeded limit, the units should be contained in the key, not the value. For example, rather than `{\"instanceLimit\": \"100/request\"}`, should be returned as, `{\"instanceLimitPerRequest\": \"100\"}`, if the client exceeds the number of instances that can be created in a single (batch) request.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "reason": {
          "description": "The reason for the error. This is a constant value that identifies the proximate cause of the error. Error reasons are unique within a particular domain of errors. This should be at most 63 characters and match a regular expression of `A-Z+[A-Z0-9]`, which represents UPPER_SNAKE_CASE.",
          "type": "string"
        }
      },
      "id": "GoogleRpcErrorInfo",
      "description": "Describes the cause of the error with structured details. Example of an error when contacting the \"pubsub.googleapis.com\" API when it is not enabled: { \"reason\": \"API_DISABLED\" \"domain\": \"googleapis.com\" \"metadata\": { \"resource\": \"projects/123\", \"service\": \"pubsub.googleapis.com\" } } This response indicates that the pubsub.googleapis.com API is not enabled. Example of an error that is returned when attempting to create a Spanner instance in a region that is out of stock: { \"reason\": \"STOCKOUT\" \"domain\": \"spanner.googleapis.com\", \"metadata\": { \"availableRegions\": \"us-central1,us-east2\" } }"
    },
    "RemoteTransportProfile": {
      "description": "Message describing RemoteTransportProfile object.",
      "id": "RemoteTransportProfile",
      "type": "object",
      "properties": {
        "sla": {
          "readOnly": true,
          "enum": [
            "SERVICE_LEVEL_AVAILABILITY_UNSPECIFIED",
            "HIGH",
            "MAXIMUM"
          ],
          "type": "string",
          "description": "Output only. Availability class that will be configured for this particular RemoteTransportProfile.",
          "enumDescriptions": [
            "Unspecified service level availability.",
            "This represents a 99.9% service level on the availability of the configured connectivity.",
            "This represents a 99.99% service level on the availability of the configured connectivity."
          ]
        },
        "flow": {
          "type": "string",
          "enum": [
            "KEY_PROVISIONING_FLOW_UNSPECIFIED",
            "INPUT_ONLY",
            "OUTPUT_ONLY",
            "INPUT_OR_OUTPUT"
          ],
          "enumDescriptions": [
            "Unspecified key provisioning flow.",
            "The activationKey field on the Transport must be included in a create or patch request to establish connectivity.",
            "The generatedActivationKey field is populated and must be read from the resource and passed into the other provider.",
            "Both activation key fields are allowed for establishing connectivity. If a key is input, the generated key is still present after provisioning is finished."
          ],
          "description": "Output only. Type of provisioning flows supported by this profile.",
          "readOnly": true
        },
        "orderState": {
          "enumDescriptions": [
            "Unspecified state.",
            "Not enough capacity for customers to order.",
            "Enough capacity to fulfill an order."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CLOSED",
            "OPEN"
          ],
          "readOnly": true,
          "description": "Output only. Order state for this profile."
        },
        "labels": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Labels as key value pairs."
        },
        "providerSite": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If the profile is a Cloud Service Provider with compute resources, this is populated with the region where connectivity is being established. If the profile provides facility-level selection, this is an identity of the facility any connections on this profile are going through."
        },
        "description": {
          "description": "Output only. Description of the profile.",
          "type": "string",
          "readOnly": true
        },
        "provider": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the provider on the other end of this profile. E.g. “Amazon Web Services” or “Microsoft Azure”."
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Human readable name of this profile, used to identify this profile in the UI.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Name of the resource in the format of $provider-$site.",
          "type": "string"
        },
        "supportedBandwidths": {
          "type": "array",
          "description": "Output only. List of bandwidth enum values that are supported by this profile.",
          "items": {
            "type": "string",
            "enum": [
              "BANDWIDTH_UNSPECIFIED",
              "BPS_50M",
              "BPS_100M",
              "BPS_200M",
              "BPS_300M",
              "BPS_400M",
              "BPS_500M",
              "BPS_1G",
              "BPS_2G",
              "BPS_5G",
              "BPS_10G",
              "BPS_20G",
              "BPS_50G",
              "BPS_100G"
            ],
            "enumDescriptions": [
              "Unspecified bandwidth.",
              "50 Megabits per second.",
              "100 Megabits per second.",
              "200 Megabits per second.",
              "300 Megabits per second.",
              "400 Megabits per second.",
              "500 Megabits per second.",
              "1 Gigabit per second.",
              "2 Gigabits per second.",
              "5 Gigabits per second.",
              "10 Gigabits per second.",
              "20 Gigabits per second.",
              "50 Gigabits per second.",
              "100 Gigabits per second."
            ]
          },
          "readOnly": true
        }
      }
    },
    "AcceptHubSpokeResponse": {
      "properties": {
        "spoke": {
          "description": "The spoke that was operated on.",
          "$ref": "Spoke"
        }
      },
      "id": "AcceptHubSpokeResponse",
      "description": "The response for HubService.AcceptHubSpoke.",
      "type": "object"
    },
    "AcceptHubSpokeRequest": {
      "id": "AcceptHubSpokeRequest",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server knows to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check to see whether the original operation was received. If it was, the server ignores the second request. This behavior prevents clients from mistakenly creating duplicate commitments. The request ID must be a valid UUID, with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "spokeUri": {
          "type": "string",
          "description": "Required. The URI of the spoke to accept into the hub."
        }
      },
      "type": "object",
      "description": "The request for HubService.AcceptHubSpoke."
    },
    "StateTimeline": {
      "id": "StateTimeline",
      "type": "object",
      "description": "The timeline of the pending states for a resource.",
      "properties": {
        "states": {
          "items": {
            "$ref": "StateMetadata"
          },
          "description": "Output only. The state and activation time details of the resource state.",
          "type": "array",
          "readOnly": true
        }
      }
    },
    "ConsumerPscConnection": {
      "type": "object",
      "id": "ConsumerPscConnection",
      "description": "PSC connection details on consumer side.",
      "properties": {
        "pscConnectionId": {
          "type": "string",
          "description": "The PSC connection id of the PSC forwarding rule connected to the service attachments in this service connection map."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "FAILED",
            "CREATING",
            "DELETING",
            "CREATE_REPAIRING",
            "DELETE_REPAIRING"
          ],
          "enumDescriptions": [
            "An invalid state as the default case.",
            "The connection has been created successfully. However, for the up-to-date connection status, please use the service attachment's \"ConnectedEndpoint.status\" as the source of truth.",
            "The connection is not functional since some resources on the connection fail to be created.",
            "The connection is being created.",
            "The connection is being deleted.",
            "The connection is being repaired to complete creation.",
            "The connection is being repaired to complete deletion."
          ],
          "description": "The state of the PSC connection."
        },
        "errorInfo": {
          "description": "Output only. The error info for the latest error during operating this connection.",
          "$ref": "GoogleRpcErrorInfo",
          "readOnly": true
        },
        "errorType": {
          "enum": [
            "CONNECTION_ERROR_TYPE_UNSPECIFIED",
            "ERROR_INTERNAL",
            "ERROR_CONSUMER_SIDE",
            "ERROR_PRODUCER_SIDE"
          ],
          "enumDescriptions": [
            "An invalid error type as the default case.",
            "The error is due to Service Automation system internal.",
            "The error is due to the setup on consumer side.",
            "The error is due to the setup on producer side."
          ],
          "description": "The error type indicates whether the error is consumer facing, producer facing or system internal.",
          "deprecated": true,
          "type": "string"
        },
        "ipVersion": {
          "type": "string",
          "enumDescriptions": [
            "Default value. We will use IPv4 or IPv6 depending on the IP version of first available subnetwork.",
            "Will use IPv4 only.",
            "Will use IPv6 only."
          ],
          "enum": [
            "IP_VERSION_UNSPECIFIED",
            "IPV4",
            "IPV6"
          ],
          "description": "The requested IP version for the PSC connection."
        },
        "forwardingRule": {
          "type": "string",
          "description": "The URI of the consumer forwarding rule created. Example: projects/{projectNumOrId}/regions/us-east1/networks/{resourceId}."
        },
        "serviceAttachmentUri": {
          "description": "The URI of a service attachment which is the target of the PSC connection.",
          "type": "string"
        },
        "project": {
          "description": "The consumer project whose PSC forwarding rule is connected to the service attachments in this service connection map.",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "The consumer network whose PSC forwarding rule is connected to the service attachments in this service connection map. Note that the network could be on a different project (shared VPC)."
        },
        "error": {
          "deprecated": true,
          "$ref": "GoogleRpcStatus",
          "description": "The most recent error during operating this connection."
        },
        "selectedSubnetwork": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URI of the selected subnetwork selected to allocate IP address for this connection."
        },
        "producerInstanceId": {
          "type": "string",
          "deprecated": true,
          "description": "Immutable. Deprecated. Use producer_instance_metadata instead. An immutable identifier for the producer instance."
        },
        "dnsAutomationStatus": {
          "readOnly": true,
          "$ref": "DnsAutomationStatus",
          "description": "Output only. The status of DNS automation for this PSC connection."
        },
        "producerInstanceMetadata": {
          "type": "object",
          "description": "Immutable. An immutable map for the producer instance metadata.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "ip": {
          "description": "The IP literal allocated on the consumer network for the PSC forwarding rule that is created to connect to the producer service attachment in this service connection map.",
          "type": "string"
        },
        "gceOperation": {
          "type": "string",
          "description": "The last Compute Engine operation to setup PSC connection."
        }
      }
    },
    "ListSpokesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token for the next page of the response. To see more results, use this value as the page_token for your next request. If this value is empty, there are no more results.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "spokes": {
          "type": "array",
          "description": "The requested spokes.",
          "items": {
            "$ref": "Spoke"
          }
        }
      },
      "type": "object",
      "id": "ListSpokesResponse",
      "description": "The response for HubService.ListSpokes."
    },
    "ListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse"
    },
    "ConsumerPscConfig": {
      "description": "Allow the producer to specify which consumers can connect to it.",
      "type": "object",
      "id": "ConsumerPscConfig",
      "properties": {
        "network": {
          "type": "string",
          "description": "The resource path of the consumer network where PSC connections are allowed to be created in. Note, this network does not need be in the ConsumerPscConfig.project in the case of SharedVPC. Example: projects/{projectNumOrId}/global/networks/{networkId}."
        },
        "producerInstanceMetadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Immutable. An immutable map for the producer instance metadata.",
          "type": "object"
        },
        "consumerInstanceProject": {
          "description": "Required. The project ID or project number of the consumer project. This project is the one that the consumer uses to interact with the producer instance. From the perspective of a consumer who's created a producer instance, this is the project of the producer instance. Format: 'projects/' Eg. 'projects/consumer-project' or 'projects/1234'",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "The consumer project where PSC connections are allowed to be created in."
        },
        "serviceAttachmentIpAddressMap": {
          "type": "object",
          "description": "Optional. A map to store mapping between customer vip and target service attachment. This field can be used to specify a static IP address for a PSC connection.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "ipVersion": {
          "type": "string",
          "enum": [
            "IP_VERSION_UNSPECIFIED",
            "IPV4",
            "IPV6"
          ],
          "description": "The requested IP version for the PSC connection.",
          "enumDescriptions": [
            "Default value. We will use IPv4 or IPv6 depending on the IP version of first available subnetwork.",
            "Will use IPv4 only.",
            "Will use IPv6 only."
          ]
        },
        "producerInstanceId": {
          "description": "Immutable. Deprecated. Use producer_instance_metadata instead. An immutable identifier for the producer instance.",
          "type": "string",
          "deprecated": true
        },
        "disableGlobalAccess": {
          "type": "boolean",
          "description": "This is used in PSC consumer ForwardingRule to control whether the PSC endpoint can be accessed from another region."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "VALID",
            "CONNECTION_POLICY_MISSING",
            "POLICY_LIMIT_REACHED",
            "CONSUMER_INSTANCE_PROJECT_NOT_ALLOWLISTED"
          ],
          "description": "Output only. Overall state of PSC Connections management for this consumer psc config.",
          "enumDescriptions": [
            "Default state, when Connection Map is created initially.",
            "Set when policy and map configuration is valid, and their matching can lead to allowing creation of PSC Connections subject to other constraints like connections limit.",
            "No Service Connection Policy found for this network and Service Class",
            "Service Connection Policy limit reached for this network and Service Class",
            "The consumer instance project is not in AllowedGoogleProducersResourceHierarchyLevels of the matching ServiceConnectionPolicy."
          ],
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "StateMetadata": {
      "type": "object",
      "properties": {
        "effectiveTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Accompanies only the transient states, which include `ADDING`, `DELETING`, and `SUSPENDING`, to denote the time until which the transient state of the resource will be effective. For instance, if the state is `ADDING`, this field shows the time when the resource state transitions to `ACTIVE`."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ADDING",
            "ACTIVE",
            "DELETING",
            "SUSPENDING",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "An invalid state, which is the default case.",
            "The resource is being added.",
            "The resource is in use.",
            "The resource is being deleted.",
            "The resource is being suspended.",
            "The resource is suspended and not in use."
          ],
[...]
