{
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://networkservices.mtls.googleapis.com/",
  "version": "v1",
  "discoveryVersion": "v1",
  "id": "networkservices:v1",
  "protocol": "rest",
  "baseUrl": "https://networkservices.googleapis.com/",
  "schemas": {
    "ListLbEdgeExtensionsResponse": {
      "id": "ListLbEdgeExtensionsResponse",
      "type": "object",
      "description": "Message for response to listing `LbEdgeExtension` resources.",
      "properties": {
        "lbEdgeExtensions": {
          "items": {
            "$ref": "LbEdgeExtension"
          },
          "description": "The list of `LbEdgeExtension` resources.",
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results that the server returns.",
          "type": "string"
        }
      }
    },
    "ListMulticastConsumerAssociationsResponse": {
      "description": "Response message for ListMulticastConsumerAssociations.",
      "type": "object",
      "id": "ListMulticastConsumerAssociationsResponse",
      "properties": {
        "multicastConsumerAssociations": {
          "items": {
            "$ref": "MulticastConsumerAssociation"
          },
          "type": "array",
          "description": "The list of multicast consumer associations."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A page token from an earlier query, as returned in `next_page_token`.",
          "type": "string"
        }
      }
    },
    "TlsRoute": {
      "type": "object",
      "id": "TlsRoute",
      "description": "TlsRoute defines how traffic should be routed based on SNI and other matching L3 attributes.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created."
        },
        "name": {
          "description": "Identifier. Name of the TlsRoute resource. It matches pattern `projects/*/locations/*/tlsRoutes/tls_route_name>`.",
          "type": "string"
        },
        "targetProxies": {
          "description": "Optional. TargetProxies defines a list of TargetTcpProxies this TlsRoute is attached to, as one of the routing rules to route the requests served by the TargetTcpProxy. Each TargetTcpProxy reference should match the pattern: `projects/*/locations/*/targetTcpProxies/`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "selfLink": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined URL of this resource"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Set of label tags associated with the TlsRoute resource."
        },
        "description": {
          "type": "string",
          "description": "Optional. A free-text description of the resource. Max length 1024 characters."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true
        },
        "meshes": {
          "type": "array",
          "description": "Optional. Meshes defines a list of meshes this TlsRoute is attached to, as one of the routing rules to route the requests served by the mesh. Each mesh reference should match the pattern: `projects/*/locations/*/meshes/` The attached Mesh should be of a type SIDECAR",
          "items": {
            "type": "string"
          }
        },
        "rules": {
          "description": "Required. Rules that define how traffic is routed and handled. At least one RouteRule must be supplied. If there are multiple rules then the action taken will be the first rule to match.",
          "type": "array",
          "items": {
            "$ref": "TlsRouteRouteRule"
          }
        },
        "gateways": {
          "description": "Optional. Gateways defines a list of gateways this TlsRoute is attached to, as one of the routing rules to route the requests served by the gateway. Each gateway reference should match the pattern: `projects/*/locations/*/gateways/`",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GrpcRouteFaultInjectionPolicy": {
      "type": "object",
      "id": "GrpcRouteFaultInjectionPolicy",
      "description": "The specification for fault injection introduced into traffic to test the resiliency of clients to destination service failure. As part of fault injection, when clients send requests to a destination, delays can be introduced on a percentage of requests before sending those requests to the destination service. Similarly requests from clients can be aborted by for a percentage of requests.",
      "properties": {
        "abort": {
          "$ref": "GrpcRouteFaultInjectionPolicyAbort",
          "description": "The specification for aborting to client requests."
        },
        "delay": {
          "description": "The specification for injecting delay to client requests.",
          "$ref": "GrpcRouteFaultInjectionPolicyDelay"
        }
      }
    },
    "ExtensionChain": {
      "type": "object",
      "properties": {
        "extensions": {
          "type": "array",
          "description": "Required. A set of extensions to execute for the matching request. At least one extension is required. Up to 3 extensions can be defined for each extension chain for `LbTrafficExtension` resource. `LbRouteExtension`, `LbEdgeExtension`, and `LbTcpExtension` chains are limited to 1 extension per extension chain.",
          "items": {
            "$ref": "ExtensionChainExtension"
          }
        },
        "matchCondition": {
          "description": "Required. Conditions under which this chain is invoked for a request.",
          "$ref": "ExtensionChainMatchCondition"
        },
        "name": {
          "type": "string",
          "description": "Required. The name for this extension chain. The name is logged as part of the HTTP request logs. The name must conform with RFC-1034, is restricted to lower-cased letters, numbers and hyphens, and can have a maximum length of 63 characters. Additionally, the first character must be a letter and the last a letter or a number."
        }
      },
      "id": "ExtensionChain",
      "description": "A single extension chain wrapper that contains the match conditions and extensions to execute."
    },
    "Policy": {
      "properties": {
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "id": "Policy",
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "HttpRouteRouteMatch": {
      "description": "RouteMatch defines specifications used to match requests. If multiple match types are set, this RouteMatch will match if ALL type of matches are matched.",
      "id": "HttpRouteRouteMatch",
      "properties": {
        "queryParameters": {
          "type": "array",
          "description": "Specifies a list of query parameters to match against. ALL of the query parameters must be matched.",
          "items": {
            "$ref": "HttpRouteQueryParameterMatch"
          }
        },
        "regexMatch": {
          "description": "The HTTP request path value must satisfy the regular expression specified by regex_match after removing any query parameters and anchor supplied with the original URL. For regular expression grammar, please see https://github.com/google/re2/wiki/Syntax Only one of full_path_match, prefix_match, or regex_match should be used.",
          "type": "string"
        },
        "ignoreCase": {
          "type": "boolean",
          "description": "Specifies if prefix_match and full_path_match matches are case sensitive. The default value is false."
        },
        "fullPathMatch": {
          "description": "The HTTP request path value should exactly match this value. Only one of full_path_match, prefix_match, or regex_match should be used.",
          "type": "string"
        },
        "prefixMatch": {
          "type": "string",
          "description": "The HTTP request path value must begin with specified prefix_match. prefix_match must begin with a /. Only one of full_path_match, prefix_match, or regex_match should be used."
        },
        "headers": {
          "type": "array",
          "description": "Specifies a list of HTTP request headers to match against. ALL of the supplied headers must be matched.",
          "items": {
            "$ref": "HttpRouteHeaderMatch"
          }
        }
      },
      "type": "object"
    },
    "ListAgentConnectivityTemplatesResponse": {
      "description": "Response returned by the ListAgentConnectivityTemplates method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request attempts to list all resources across all supported locations, while some locations are temporarily unavailable."
        },
        "agentConnectivityTemplates": {
          "type": "array",
          "items": {
            "$ref": "AgentConnectivityTemplate"
          },
          "description": "List of AgentConnectivityTemplate resources."
        }
      },
      "id": "ListAgentConnectivityTemplatesResponse"
    },
    "TlsRouteRouteMatch": {
      "type": "object",
      "properties": {
        "sniHost": {
          "description": "Optional. SNI (server name indicator) to match against. SNI will be matched against all wildcard domains, i.e. `www.example.com` will be first matched against `www.example.com`, then `*.example.com`, then `*.com.` Partial wildcards are not supported, and values like *w.example.com are invalid. At least one of sni_host and alpn is required. Up to 100 sni hosts across all matches can be set.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "alpn": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. ALPN (Application-Layer Protocol Negotiation) to match against. Examples: \"http/1.1\", \"h2\". At least one of sni_host and alpn is required. Up to 5 alpns across all matches can be set."
        }
      },
      "id": "TlsRouteRouteMatch",
      "description": "RouteMatch defines the predicate used to match requests to a given action. Multiple match types are \"AND\"ed for evaluation."
    },
    "TcpRoute": {
      "id": "TcpRoute",
      "description": "TcpRoute is the resource defining how TCP traffic should be routed by a Mesh/Gateway resource.",
      "properties": {
        "selfLink": {
          "readOnly": true,
          "description": "Output only. Server-defined URL of this resource",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of label tags associated with the TcpRoute resource.",
          "type": "object"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the TcpRoute resource. It matches pattern `projects/*/locations/*/tcpRoutes/tcp_route_name>`."
        },
        "meshes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Meshes defines a list of meshes this TcpRoute is attached to, as one of the routing rules to route the requests served by the mesh. Each mesh reference should match the pattern: `projects/*/locations/*/meshes/` The attached Mesh should be of a type SIDECAR",
          "type": "array"
        },
        "rules": {
          "description": "Required. Rules that define how traffic is routed and handled. At least one RouteRule must be supplied. If there are multiple rules then the action taken will be the first rule to match.",
          "items": {
            "$ref": "TcpRouteRouteRule"
          },
          "type": "array"
        },
        "gateways": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Gateways defines a list of gateways this TcpRoute is attached to, as one of the routing rules to route the requests served by the gateway. Each gateway reference should match the pattern: `projects/*/locations/*/gateways/`"
        }
      },
      "type": "object"
    },
    "ListGatewayRouteViewsResponse": {
      "type": "object",
      "description": "Response returned by the ListGatewayRouteViews method.",
      "id": "ListGatewayRouteViewsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources. Populated when the request attempts to list all resources across all supported locations, while some locations are temporarily unavailable."
        },
        "gatewayRouteViews": {
          "items": {
            "$ref": "GatewayRouteView"
          },
          "type": "array",
          "description": "List of GatewayRouteView resources."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "HttpRouteStatefulSessionAffinityPolicy": {
      "properties": {
        "cookieTtl": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. The cookie TTL value for the Set-Cookie header generated by the data plane. The lifetime of the cookie may be set to a value from 0 to 86400 seconds (24 hours) inclusive. Set this to 0s to use a session cookie and disable cookie expiration."
        }
      },
      "id": "HttpRouteStatefulSessionAffinityPolicy",
      "description": "The specification for cookie-based stateful session affinity where the date plane supplies a “session cookie” with the name \"GSSA\" which encodes a specific destination host and each request containing that cookie will be directed to that host as long as the destination host remains up and healthy. The gRPC proxyless mesh library or sidecar proxy will manage the session cookie but the client application code is responsible for copying the cookie from each RPC in the session to the next.",
      "type": "object"
    },
    "Mesh": {
      "id": "Mesh",
      "type": "object",
      "properties": {
        "envoyHeaders": {
          "enumDescriptions": [
            "Defaults to NONE.",
            "Suppress envoy debug headers.",
            "Envoy will insert default internal debug headers into upstream requests: x-envoy-attempt-count, x-envoy-is-timeout-retry, x-envoy-expected-rq-timeout-ms, x-envoy-original-path, x-envoy-upstream-stream-duration-ms"
          ],
          "description": "Optional. Determines if envoy will insert internal debug headers into upstream requests. Other Envoy headers may still be injected. By default, envoy will not insert any debug headers.",
          "type": "string",
          "enum": [
            "ENVOY_HEADERS_UNSPECIFIED",
            "NONE",
            "DEBUG_HEADERS"
          ]
        },
        "name": {
          "description": "Identifier. Name of the Mesh resource. It matches pattern `projects/*/locations/*/meshes/`.",
          "type": "string"
        },
        "selfLink": {
          "description": "Output only. Server-defined URL of this resource",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created."
        },
        "interceptionPort": {
          "type": "integer",
          "description": "Optional. If set to a valid TCP port (1-65535), instructs the SIDECAR proxy to listen on the specified port of localhost (127.0.0.1) address. The SIDECAR proxy will expect all traffic to be redirected to this port regardless of its actual ip:port destination. If unset, a port '15001' is used as the interception port. This is applicable only for sidecar proxy deployments.",
          "format": "int32"
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the Mesh resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "description": {
          "type": "string",
          "description": "Optional. A free-text description of the resource. Max length 1024 characters."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Mesh represents a logical configuration grouping for workload to workload communication within a service mesh. Routes that point to mesh dictate how requests are routed within this logical mesh boundary."
    },
    "Location": {
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        }
      }
    },
    "RetryFilterPerRouteConfig": {
      "id": "RetryFilterPerRouteConfig",
      "properties": {
        "cryptoKeyName": {
          "type": "string",
          "description": "The name of the crypto key to use for encrypting event data."
        }
      },
      "type": "object"
    },
    "ListWasmPluginVersionsResponse": {
      "type": "object",
      "properties": {
        "wasmPluginVersions": {
          "type": "array",
          "description": "List of `WasmPluginVersion` resources.",
          "items": {
            "$ref": "WasmPluginVersion"
          }
        },
        "unreachable": {
          "description": "Unreachable resources. Populated when the request attempts to list all resources across all supported locations, while some locations are temporarily unavailable.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      },
      "description": "Response returned by the `ListWasmPluginVersions` method.",
      "id": "ListWasmPluginVersionsResponse"
    },
    "GatewayRouteView": {
      "description": "GatewayRouteView defines view-only resource for Routes to a Gateway",
      "id": "GatewayRouteView",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. Full path name of the GatewayRouteView resource. Format: projects/{project_number}/locations/{location}/gateways/{gateway}/routeViews/{route_view}"
        },
        "routeProjectNumber": {
          "type": "string",
          "description": "Output only. Project number where the route exists.",
          "format": "int64",
          "readOnly": true
        },
        "routeType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of the route: HttpRoute,GrpcRoute,TcpRoute, or TlsRoute"
        },
        "routeLocation": {
          "type": "string",
          "description": "Output only. Location where the route exists.",
          "readOnly": true
        },
        "routeId": {
          "readOnly": true,
          "description": "Output only. The resource id for the route.",
          "type": "string"
        }
      }
    },
    "ProducerExtensionExtensionSettings": {
      "id": "ProducerExtensionExtensionSettings",
      "description": "The configuration for the service that this `ProducerExtension` offers.",
      "type": "object",
      "properties": {
        "observabilityMode": {
          "description": "Optional. Whether the extension should function in observability mode.",
          "type": "boolean"
        },
        "service": {
          "description": "Required. URI of the PSC attachment.",
          "type": "string"
        },
        "authority": {
          "type": "string",
          "description": "Optional. The `:authority` header in the request sent to the extension service."
        },
        "supportedEvents": {
          "items": {
            "enum": [
              "EVENT_TYPE_UNSPECIFIED",
              "REQUEST_HEADERS",
              "REQUEST_BODY",
              "RESPONSE_HEADERS",
              "RESPONSE_BODY",
              "REQUEST_TRAILERS",
              "RESPONSE_TRAILERS"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified value. Do not use.",
              "If included in `supported_events`, the extension is called when the HTTP request headers arrive.",
              "If included in `supported_events`, the extension is called when the HTTP request body arrives.",
              "If included in `supported_events`, the extension is called when the HTTP response headers arrive.",
              "If included in `supported_events`, the extension is called when the HTTP response body arrives.",
              "If included in `supported_events`, the extension is called when the HTTP request trailers arrives.",
              "If included in `supported_events`, the extension is called when the HTTP response trailers arrives."
            ]
          },
          "type": "array",
          "description": "Required. The event types supported by the extension."
        }
      }
    },
    "HttpRouteDestination": {
      "type": "object",
      "properties": {
        "requestHeaderModifier": {
          "description": "Optional. The specification for modifying the headers of a matching request prior to delivery of the request to the destination. If HeaderModifiers are set on both the Destination and the RouteAction, they will be merged. Conflicts between the two will not be resolved on the configuration.",
          "$ref": "HttpRouteHeaderModifier"
        },
        "weight": {
          "description": "Specifies the proportion of requests forwarded to the backend referenced by the serviceName field. This is computed as: - weight/Sum(weights in this destination list). For non-zero values, there may be some epsilon from the exact proportion defined here depending on the precision an implementation supports. If only one serviceName is specified and it has a weight greater than 0, 100% of the traffic is forwarded to that backend. If weights are specified for any one service name, they need to be specified for all of them. If weights are unspecified for all services, then, traffic is distributed in equal proportions to all of them.",
          "type": "integer",
          "format": "int32"
        },
        "serviceName": {
          "description": "The URL of a BackendService to route traffic to.",
          "type": "string"
        },
        "responseHeaderModifier": {
          "description": "Optional. The specification for modifying the headers of a response prior to sending the response back to the client. If HeaderModifiers are set on both the Destination and the RouteAction, they will be merged. Conflicts between the two will not be resolved on the configuration.",
          "$ref": "HttpRouteHeaderModifier"
        }
      },
      "description": "Specifications of a destination to which the request should be routed to.",
      "id": "HttpRouteDestination"
    },
    "ServiceLbPolicyAutoCapacityDrain": {
      "description": "Option to specify if an unhealthy IG/NEG should be considered for global load balancing and traffic routing.",
      "type": "object",
      "id": "ServiceLbPolicyAutoCapacityDrain",
      "properties": {
        "enable": {
          "description": "Optional. If set to 'True', an unhealthy IG/NEG will be set as drained. - An IG/NEG is considered unhealthy if less than 25% of the instances/endpoints in the IG/NEG are healthy. - This option will never result in draining more than 50% of the configured IGs/NEGs for the Backend Service.",
          "type": "boolean"
        }
      }
    },
    "ListExtensionBindingsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request attempts to list all resources across all supported locations, while some locations are temporarily unavailable. The resource names are in the format `projects/{project}/locations/{location}/extensionBindings/{extension_binding}`.",
          "type": "array"
        },
        "extensionBindings": {
          "type": "array",
          "items": {
            "$ref": "ExtensionBinding"
          },
          "description": "List of `ExtensionBinding` resources."
        }
      },
      "id": "ListExtensionBindingsResponse",
      "type": "object",
      "description": "Response returned by the `ListExtensionBindings` method."
    },
    "ExtensionBindingMatchConditionTo": {
      "id": "ExtensionBindingMatchConditionTo",
      "type": "object",
      "properties": {
        "destination": {
          "description": "Optional. Describes properties of destination of a request. Within a destination, the match follows AND semantics across fields and OR semantics within a field, i.e. a match occurs when ANY path matches AND ANY header matches and ANY method matches. At least one of destination or not_destination must be specified.",
          "$ref": "ExtensionBindingMatchConditionToDestination"
        },
        "notDestination": {
          "description": "Optional. Describes the negated properties of the request destination. Extension will not be invoked on requests that match the criteria specified in this field. At least one of destination or not_destination must be specified.",
          "$ref": "ExtensionBindingMatchConditionToDestination"
        }
      },
      "description": "Describes properties of one or more destinations of a request."
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask"
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest"
    },
    "EndpointMatcherMetadataLabelMatcher": {
      "type": "object",
      "properties": {
        "metadataLabels": {
          "type": "array",
          "description": "The list of label value pairs that must match labels in the provided metadata based on filterMatchCriteria This list can have at most 64 entries. The list can be empty if the match criteria is MATCH_ANY, to specify a wildcard match (i.e this matches any client).",
          "items": {
            "$ref": "EndpointMatcherMetadataLabelMatcherMetadataLabels"
          }
        },
        "metadataLabelMatchCriteria": {
          "enum": [
            "METADATA_LABEL_MATCH_CRITERIA_UNSPECIFIED",
            "MATCH_ANY",
            "MATCH_ALL"
          ],
          "description": "Specifies how matching should be done. Supported values are: MATCH_ANY: At least one of the Labels specified in the matcher should match the metadata presented by xDS client. MATCH_ALL: The metadata presented by the xDS client should contain all of the labels specified here. The selection is determined based on the best match. For example, suppose there are three EndpointPolicy resources P1, P2 and P3 and if P1 has a the matcher as MATCH_ANY , P2 has MATCH_ALL , and P3 has MATCH_ALL . If a client with label connects, the config from P1 will be selected. If a client with label connects, the config from P2 will be selected. If a client with label connects, the config from P3 will be selected. If there is more than one best match, (for example, if a config P4 with selector exists and if a client with label connects), pick up the one with older creation time.",
          "enumDescriptions": [
            "Default value. Should not be used.",
            "At least one of the Labels specified in the matcher should match the metadata presented by xDS client.",
            "The metadata presented by the xDS client should contain all of the labels specified here."
          ],
          "type": "string"
        }
      },
      "description": "The matcher that is based on node metadata presented by xDS clients.",
      "id": "EndpointMatcherMetadataLabelMatcher"
    },
    "ListEndpointPoliciesResponse": {
      "type": "object",
      "id": "ListEndpointPoliciesResponse",
      "description": "Response returned by the ListEndpointPolicies method.",
      "properties": {
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "endpointPolicies": {
          "description": "List of EndpointPolicy resources.",
          "type": "array",
          "items": {
            "$ref": "EndpointPolicy"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Unreachable resources. Populated when the request opts into return_partial_success and reading across collections e.g. when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "LbTrafficExtension": {
      "description": "`LbTrafficExtension` is a resource that lets the extension service modify the headers and payloads of both requests and responses without impacting the choice of backend services or any other security policies associated with the backend service.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. A human-readable description of the resource.",
          "type": "string"
        },
        "forwardingRules": {
          "type": "array",
          "description": "Optional. A list of references to the forwarding rules to which this service extension is attached. At least one forwarding rule is required. Only one `LbTrafficExtension` resource can be associated with a forwarding rule.",
          "items": {
            "type": "string"
          }
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "extensionChains": {
          "type": "array",
          "items": {
            "$ref": "ExtensionChain"
          },
          "description": "Required. A set of ordered extension chains that contain the match conditions and extensions to execute. Match conditions for each extension chain are evaluated in sequence for a given request. The first extension chain that has a condition that matches the request is executed. Any subsequent extension chains do not execute. Limited to 5 extension chains per resource."
        },
        "loadBalancingScheme": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Do not use.",
            "Signifies that this is used for Internal HTTP(S) Load Balancing.",
            "Signifies that this is used for External Managed HTTP(S) Load Balancing."
          ],
          "description": "Required. All backend services and forwarding rules referenced by this extension must share the same load balancing scheme. Supported values: `INTERNAL_MANAGED` and `EXTERNAL_MANAGED`. For more information, refer to [Backend services overview](https://cloud.google.com/load-balancing/docs/backend-service).",
          "enum": [
            "LOAD_BALANCING_SCHEME_UNSPECIFIED",
            "INTERNAL_MANAGED",
            "EXTERNAL_MANAGED"
          ]
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of labels associated with the `LbTrafficExtension` resource. The format must comply with [the requirements for labels](https://cloud.google.com/compute/docs/labeling-resources#requirements) for Google Cloud resources."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The metadata provided here is included as part of the `metadata_context` (of type `google.protobuf.Struct`) in the `ProcessingRequest` message sent to the extension server. The metadata applies to all extensions in all extensions chains in this resource. The metadata is available under the key `com.google.lb_traffic_extension.`. The following variables are supported in the metadata: `{forwarding_rule_id}` - substituted with the forwarding rule's fully qualified resource name. This field must not be set if at least one of the extension chains contains plugin extensions. Setting it results in a validation error. You can set metadata at either the resource level or the extension level. The extension level metadata is recommended because you can pass a different set of metadata through each extension to the backend."
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. Name of the `LbTrafficExtension` resource in the following format: `projects/{project}/locations/{location}/lbTrafficExtensions/{lb_traffic_extension}`."
        }
      },
      "type": "object",
      "id": "LbTrafficExtension"
    },
    "HttpRouteHeaderModifier": {
      "type": "object",
      "description": "The specification for modifying HTTP header in HTTP request and HTTP response.",
      "id": "HttpRouteHeaderModifier",
      "properties": {
        "add": {
          "type": "object",
          "description": "Add the headers with given map where key is the name of the header, value is the value of the header.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "remove": {
          "description": "Remove headers (matching by header names) specified in the list.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "set": {
          "description": "Completely overwrite/replace the headers with given map where key is the name of the header, value is the value of the header.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "description": "Response message for `TestIamPermissions` method."
    },
    "GrpcRouteFaultInjectionPolicyDelay": {
      "properties": {
        "fixedDelay": {
          "type": "string",
          "description": "Specify a fixed delay before forwarding the request.",
          "format": "google-duration"
        },
        "percentage": {
          "format": "int32",
          "description": "The percentage of traffic on which delay will be injected. The value must be between [0, 100]",
          "type": "integer"
        }
      },
      "id": "GrpcRouteFaultInjectionPolicyDelay",
      "type": "object",
      "description": "Specification of how client requests are delayed as part of fault injection before being sent to a destination."
    },
    "ServiceLbPolicyFailoverConfig": {
      "id": "ServiceLbPolicyFailoverConfig",
      "description": "Option to specify health based failover behavior. This is not related to Network load balancer FailoverPolicy.",
      "properties": {
        "failoverHealthThreshold": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The percentage threshold that a load balancer will begin to send traffic to failover backends. If the percentage of endpoints in a MIG/NEG is smaller than this value, traffic would be sent to failover backends if possible. This field should be set to a value between 1 and 99. The default value is 50 for Global external HTTP(S) load balancer (classic) and Proxyless service mesh, and 70 for others."
        }
      },
      "type": "object"
    },
    "TlsRouteRouteAction": {
      "type": "object",
      "properties": {
        "destinations": {
          "description": "Required. The destination services to which traffic should be forwarded. At least one destination service is required.",
          "type": "array",
          "items": {
            "$ref": "TlsRouteRouteDestination"
          }
        },
        "idleTimeout": {
          "type": "string",
          "description": "Optional. Specifies the idle timeout for the selected route. The idle timeout is defined as the period in which there are no bytes sent or received on either the upstream or downstream connection. If not set, the default idle timeout is 1 hour. If set to 0s, the timeout will be disabled.",
          "format": "google-duration"
        }
      },
      "id": "TlsRouteRouteAction",
      "description": "The specifications for routing traffic and applying associated policies."
    },
    "AuthzExtension": {
      "properties": {
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "loadBalancingScheme": {
          "description": "Optional. All backend services and forwarding rules referenced by this extension must share the same load balancing scheme. The supported values are `INTERNAL_MANAGED` and `EXTERNAL_MANAGED`. You can omit this field for `AuthzExtensions` resources that don't reference a backend service. For more information, see [Backend services overview](https://cloud.google.com/load-balancing/docs/backend-service).",
          "enum": [
            "LOAD_BALANCING_SCHEME_UNSPECIFIED",
            "INTERNAL_MANAGED",
            "EXTERNAL_MANAGED"
          ],
          "enumDescriptions": [
            "Default value. Do not use.",
            "Signifies that this is used for Internal HTTP(S) Load Balancing.",
            "Signifies that this is used for External Managed HTTP(S) Load Balancing."
          ],
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. A human-readable description of the resource."
        },
        "service": {
          "description": "Required. The reference to the service that runs the extension. To configure a callout extension: For global AuthzExtension, `service` must be a fully-qualified reference to a [backend service](https://cloud.google.com/compute/docs/reference/rest/v1/backendServices) in the format: `https://www.googleapis.com/compute/v1/projects/{project}/global/backendServices/{backendService}`. For regional AuthzExtension, `service` must be a fully-qualified reference to one of the following: * a [backend service](https://cloud.google.com/compute/docs/reference/rest/v1/backendServices) in the format: `https://www.googleapis.com/compute/v1/projects/{project}/regions/{region}/backendServices/{backendService}`. * a fully qualified domain name that can be resolved by the Google Cloud DNS. * `iap.googleapis.com` and it can only be referenced by an AuthzPolicy with the policyProfile set to REQUEST_AUTHZ. * `modelarmor..rep.googleapis.com` and it can only be referenced by an AuthzPolicy with the policyProfile set to CONTENT_AUTHZ.",
          "type": "string"
        },
        "failOpen": {
          "type": "boolean",
          "description": "Optional. Determines how the proxy behaves if the call to the extension fails or times out. When set to `TRUE`, request or response processing continues without error. Any subsequent extensions in the extension chain are also executed. When set to `FALSE` or the default setting of `FALSE` is used, one of the following happens: * If response headers have not been delivered to the downstream client, a generic 500 error is returned to the client. The error response can be tailored by configuring a custom error response in the load balancer. * If response headers have been delivered, then the HTTP stream to the downstream client is reset."
        },
        "metadata": {
          "description": "Optional. The metadata provided here is included as part of the `metadata_context` (of type `google.protobuf.Struct`) in the `ProcessingRequest` message sent to the extension server. The metadata is available under the namespace `com.google.authz_extension.`. The following variables are supported in the metadata Struct: `{forwarding_rule_id}` - substituted with the forwarding rule's fully qualified resource name.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "wireFormat": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The extension service uses ext_proc gRPC API over a gRPC stream. This is the default value if the wire format is not specified. The backend service for the extension must use HTTP2 or H2C as the protocol. All `supported_events` for a client request are sent as part of the same gRPC stream.",
            "The extension service uses Envoy's `ext_authz` gRPC API. The backend service for the extension must use HTTP2 or H2C as the protocol. `EXT_AUTHZ_GRPC` is only supported for regional `AuthzExtension` resources."
          ],
          "description": "Optional. The format of communication supported by the callout extension. This field is supported only for regional `AuthzExtension` resources. If not specified, the default value `EXT_PROC_GRPC` is used. Global `AuthzExtension` resources use the `EXT_PROC_GRPC` wire format.",
          "enum": [
            "WIRE_FORMAT_UNSPECIFIED",
            "EXT_PROC_GRPC",
            "EXT_AUTHZ_GRPC"
          ]
        },
        "authority": {
          "description": "Optional. The `:authority` header in the gRPC request sent from Envoy to the extension service. It is required when the `service` field points to a backend service.",
          "type": "string"
        },
        "timeout": {
          "format": "google-duration",
          "description": "Required. Specifies the timeout for each individual message on the stream. The timeout must be between 10-10000 milliseconds.",
          "type": "string"
        },
        "name": {
          "description": "Required. Identifier. Name of the `AuthzExtension` resource in the following format: `projects/{project}/locations/{location}/authzExtensions/{authz_extension}`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of labels associated with the `AuthzExtension` resource. The format must comply with [the requirements for labels](/compute/docs/labeling-resources#requirements) for Google Cloud resources."
        },
        "forwardAttributes": {
          "description": "Optional. List of the Envoy attributes to forward to the extension server. The attributes provided here are included as part of the `ProcessingRequest.attributes` field (of type `map`), where the keys are the attribute names. Refer to the [documentation](https://cloud.google.com/service-extensions/docs/cel-matcher-language-reference#attributes) for the names of attributes that can be forwarded. If omitted, no attributes are sent. Each element is a string indicating the attribute name.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "forwardHeaders": {
          "type": "array",
          "description": "Optional. List of the HTTP headers to forward to the extension (from the client). If omitted, all headers are sent. Each element is a string indicating the header name.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "`AuthzExtension` is a resource that allows traffic forwarding to a callout backend service to make an authorization decision.",
      "id": "AuthzExtension",
      "type": "object"
    },
    "ServiceLbPolicy": {
      "type": "object",
      "id": "ServiceLbPolicy",
      "description": "ServiceLbPolicy holds global load balancing and traffic distribution configuration that can be applied to a BackendService.",
      "properties": {
        "autoCapacityDrain": {
          "description": "Optional. Configuration to automatically move traffic away for unhealthy IG/NEG for the associated Backend Service.",
          "$ref": "ServiceLbPolicyAutoCapacityDrain"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when this resource was last updated."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when this resource was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. A free-text description of the resource. Max length 1024 characters."
        },
        "failoverConfig": {
          "description": "Optional. Configuration related to health based failover.",
          "$ref": "ServiceLbPolicyFailoverConfig"
        },
        "loadBalancingAlgorithm": {
          "enum": [
            "LOAD_BALANCING_ALGORITHM_UNSPECIFIED",
            "SPRAY_TO_WORLD",
            "SPRAY_TO_REGION",
            "WATERFALL_BY_REGION",
            "WATERFALL_BY_ZONE"
          ],
          "enumDescriptions": [
            "The type of the loadbalancing algorithm is unspecified.",
            "Balance traffic across all backends across the world proportionally based on capacity.",
            "Direct traffic to the nearest region with endpoints and capacity before spilling over to other regions and spread the traffic from each client to all the MIGs/NEGs in a region.",
            "Direct traffic to the nearest region with endpoints and capacity before spilling over to other regions. All MIGs/NEGs within a region are evenly loaded but each client might not spread the traffic to all the MIGs/NEGs in the region.",
            "Attempt to keep traffic in a single zone closest to the client, before spilling over to other zones."
          ],
          "description": "Optional. The type of load balancing algorithm to be used. The default behavior is WATERFALL_BY_REGION.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the ServiceLbPolicy resource. It matches pattern `projects/{project}/locations/{location}/serviceLbPolicies/{service_lb_policy_name}`."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Set of label tags associated with the ServiceLbPolicy resource."
        },
        "isolationConfig": {
          "description": "Optional. Configuration to provide isolation support for the associated Backend Service.",
          "$ref": "ServiceLbPolicyIsolationConfig"
        }
      }
    },
    "EndpointMatcherMetadataLabelMatcherMetadataLabels": {
      "id": "EndpointMatcherMetadataLabelMatcherMetadataLabels",
      "properties": {
        "labelValue": {
          "type": "string",
          "description": "Required. Label value presented as value corresponding to the above key, in xDS Node Metadata."
        },
        "labelName": {
          "description": "Required. Label name presented as key in xDS Node Metadata.",
          "type": "string"
        }
      },
      "description": "Defines a name-pair value for a single label.",
      "type": "object"
    },
    "ServiceLbPolicyIsolationConfig": {
      "properties": {
        "isolationGranularity": {
          "type": "string",
          "description": "Optional. The isolation granularity of the load balancer.",
          "enumDescriptions": [
            "No isolation is configured for the backend service. Traffic can overflow based on the load balancing algorithm.",
            "Traffic for this service will be isolated at the cloud region level."
          ],
          "enum": [
            "ISOLATION_GRANULARITY_UNSPECIFIED",
            "REGION"
          ]
        },
        "isolationMode": {
          "description": "Optional. The isolation mode of the load balancer.",
          "enum": [
            "ISOLATION_MODE_UNSPECIFIED",
            "NEAREST",
            "STRICT"
          ],
          "type": "string",
          "enumDescriptions": [
            "No isolation mode is configured for the backend service.",
            "Traffic will be sent to the nearest region.",
            "Traffic will fail if no serving backends are available in the same region as the load balancer."
          ]
        }
      },
      "id": "ServiceLbPolicyIsolationConfig",
      "description": "Configuration to provide isolation support for the associated Backend Service.",
      "type": "object"
    },
    "GrpcRouteRouteRule": {
      "properties": {
        "matches": {
          "description": "Optional. Matches define conditions used for matching the rule against incoming gRPC requests. Each match is independent, i.e. this rule will be matched if ANY one of the matches is satisfied. If no matches field is specified, this rule will unconditionally match traffic.",
          "type": "array",
          "items": {
            "$ref": "GrpcRouteRouteMatch"
          }
        },
        "action": {
          "description": "Required. A detailed rule defining how to route traffic. This field is required.",
          "$ref": "GrpcRouteRouteAction"
        }
      },
      "type": "object",
      "description": "Describes how to route traffic.",
      "id": "GrpcRouteRouteRule"
    },
    "GrpcRouteHeaderMatch": {
      "description": "A match against a collection of headers.",
      "type": "object",
      "id": "GrpcRouteHeaderMatch",
      "properties": {
        "type": {
          "description": "Optional. Specifies how to match against the value of the header. If not specified, a default value of EXACT is used.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXACT",
            "REGULAR_EXPRESSION"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Will only match the exact value provided.",
            "Will match paths conforming to the prefix specified by value. RE2 syntax is supported."
          ]
        },
        "value": {
          "description": "Required. The value of the header.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Required. The key of the header."
        }
      }
    },
    "ListLbRouteExtensionsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "lbRouteExtensions": {
          "description": "The list of `LbRouteExtension` resources.",
          "items": {
            "$ref": "LbRouteExtension"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results that the server returns."
        }
      },
      "description": "Message for response to listing `LbRouteExtension` resources.",
      "type": "object",
      "id": "ListLbRouteExtensionsResponse"
    },
    "TcpRouteRouteRule": {
      "properties": {
        "action": {
          "description": "Required. The detailed rule defining how to route matched traffic.",
          "$ref": "TcpRouteRouteAction"
        },
        "matches": {
          "items": {
            "$ref": "TcpRouteRouteMatch"
          },
          "description": "Optional. RouteMatch defines the predicate used to match requests to a given action. Multiple match types are \"OR\"ed for evaluation. If no routeMatch field is specified, this rule will unconditionally match traffic.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "TcpRouteRouteRule",
      "description": "Specifies how to match traffic and how to route traffic when traffic is matched."
    },
    "HttpRouteRouteAction": {
      "properties": {
        "retryPolicy": {
          "description": "Specifies the retry policy associated with this route.",
          "$ref": "HttpRouteRetryPolicy"
        },
        "requestMirrorPolicy": {
          "description": "Specifies the policy on how requests intended for the routes destination are shadowed to a separate mirrored destination. Proxy will not wait for the shadow destination to respond before returning the response. Prior to sending traffic to the shadow service, the host/authority header is suffixed with -shadow.",
          "$ref": "HttpRouteRequestMirrorPolicy"
        },
        "destinations": {
          "type": "array",
          "items": {
            "$ref": "HttpRouteDestination"
          },
          "description": "The destination to which traffic should be forwarded."
        },
        "idleTimeout": {
          "description": "Optional. Specifies the idle timeout for the selected route. The idle timeout is defined as the period in which there are no bytes sent or received on either the upstream or downstream connection. If not set, the default idle timeout is 1 hour. If set to 0s, the timeout will be disabled.",
          "type": "string",
          "format": "google-duration"
        },
        "faultInjectionPolicy": {
          "$ref": "HttpRouteFaultInjectionPolicy",
          "description": "The specification for fault injection introduced into traffic to test the resiliency of clients to backend service failure. As part of fault injection, when clients send requests to a backend service, delays can be introduced on a percentage of requests before sending those requests to the backend service. Similarly requests from clients can be aborted for a percentage of requests. timeout and retry_policy will be ignored by clients that are configured with a fault_injection_policy"
        },
        "requestHeaderModifier": {
          "description": "The specification for modifying the headers of a matching request prior to delivery of the request to the destination. If HeaderModifiers are set on both the Destination and the RouteAction, they will be merged. Conflicts between the two will not be resolved on the configuration.",
          "$ref": "HttpRouteHeaderModifier"
        },
        "directResponse": {
          "$ref": "HttpRouteHttpDirectResponse",
          "description": "Optional. Static HTTP Response object to be returned regardless of the request."
        },
        "corsPolicy": {
          "description": "The specification for allowing client side cross-origin requests.",
          "$ref": "HttpRouteCorsPolicy"
        },
        "statefulSessionAffinity": {
          "$ref": "HttpRouteStatefulSessionAffinityPolicy",
          "description": "Optional. Specifies cookie-based stateful session affinity."
        },
        "responseHeaderModifier": {
          "$ref": "HttpRouteHeaderModifier",
          "description": "The specification for modifying the headers of a response prior to sending the response back to the client. If HeaderModifiers are set on both the Destination and the RouteAction, they will be merged. Conflicts between the two will not be resolved on the configuration."
        },
        "redirect": {
          "$ref": "HttpRouteRedirect",
          "description": "If set, the request is directed as configured by this field."
        },
        "urlRewrite": {
          "description": "The specification for rewrite URL before forwarding requests to the destination.",
          "$ref": "HttpRouteURLRewrite"
        },
        "timeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Specifies the timeout for selected route. Timeout is computed from the time the request has been fully processed (i.e. end of stream) up until the response has been completely processed. Timeout includes all retries."
        }
      },
      "id": "HttpRouteRouteAction",
      "type": "object",
      "description": "The specifications for routing traffic and applying associated policies."
    },
    "WasmPluginUsedBy": {
      "type": "object",
      "description": "Defines a resource that uses the `WasmPlugin` resource.",
      "id": "WasmPluginUsedBy",
      "properties": {
        "name": {
          "description": "Output only. Full name of the resource https://google.aip.dev/122#full-resource-names, for example `//networkservices.googleapis.com/projects/{project}/locations/{location}/lbRouteExtensions/{extension}`",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "EgressNetworkConfigTlsConfig": {
      "description": "Configuration for TLS connections.",
      "id": "EgressNetworkConfigTlsConfig",
      "properties": {
        "trustConfig": {
          "description": "Optional. The trust config resource name. Format: projects/{project}/locations/{location}/trustConfigs/{trust_config}",
          "type": "string"
        },
        "additionalRoots": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified additional roots.",
            "Trust only the certificates provided in `trust_config`.",
            "Trust certificates provided in `trust_config` and publicly trusted roots."
          ],
          "description": "Optional. The additional roots to trust.",
          "enum": [
            "ADDITIONAL_ROOTS_UNSPECIFIED",
            "NO_ADDITIONAL_ROOTS",
            "PUBLICLY_TRUSTED_ROOTS"
          ]
        }
      },
      "type": "object"
    },
    "HttpRouteFaultInjectionPolicyAbort": {
      "id": "HttpRouteFaultInjectionPolicyAbort",
      "description": "Specification of how client requests are aborted as part of fault injection before being sent to a destination.",
      "properties": {
        "percentage": {
          "type": "integer",
          "format": "int32",
          "description": "The percentage of traffic which will be aborted. The value must be between [0, 100]"
        },
        "httpStatus": {
          "format": "int32",
          "description": "The HTTP status code used to abort the request. The value must be between 200 and 599 inclusive.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ExtensionBindingMatchConditionHeaderMatch": {
      "description": "Determines how an HTTP header should be matched.",
      "id": "ExtensionBindingMatchConditionHeaderMatch",
      "type": "object",
      "properties": {
        "value": {
          "description": "Optional. Specifies how the header match will be performed.",
          "$ref": "ExtensionBindingMatchConditionStringMatch"
        },
        "name": {
          "description": "Required. Specifies the name of the header in the request.",
          "type": "string"
        }
      }
    },
    "ListMeshesResponse": {
      "properties": {
        "meshes": {
          "description": "List of Mesh resources.",
          "type": "array",
          "items": {
            "$ref": "Mesh"
          }
        },
        "unreachable": {
          "description": "Unreachable resources. Populated when the request opts into `return_partial_success` and reading across collections e.g. when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListMeshesResponse",
      "description": "Response returned by the ListMeshes method."
    },
    "TlsRouteRouteRule": {
      "description": "Specifies how to match traffic and how to route traffic when traffic is matched.",
      "properties": {
        "action": {
          "description": "Required. The detailed rule defining how to route matched traffic.",
          "$ref": "TlsRouteRouteAction"
        },
        "matches": {
          "description": "Required. RouteMatch defines the predicate used to match requests to a given action. Multiple match types are \"OR\"ed for evaluation. Atleast one RouteMatch must be supplied.",
          "items": {
            "$ref": "TlsRouteRouteMatch"
          },
          "type": "array"
        }
      },
      "id": "TlsRouteRouteRule",
      "type": "object"
    },
    "LbRouteExtension": {
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. Set of labels associated with the `LbRouteExtension` resource. The format must comply with [the requirements for labels](https://cloud.google.com/compute/docs/labeling-resources#requirements) for Google Cloud resources.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "loadBalancingScheme": {
          "enum": [
            "LOAD_BALANCING_SCHEME_UNSPECIFIED",
            "INTERNAL_MANAGED",
            "EXTERNAL_MANAGED"
          ],
          "enumDescriptions": [
            "Default value. Do not use.",
            "Signifies that this is used for Internal HTTP(S) Load Balancing.",
            "Signifies that this is used for External Managed HTTP(S) Load Balancing."
          ],
          "description": "Required. All backend services and forwarding rules referenced by this extension must share the same load balancing scheme. Supported values: `INTERNAL_MANAGED`, `EXTERNAL_MANAGED`. For more information, refer to [Backend services overview](https://cloud.google.com/load-balancing/docs/backend-service).",
          "type": "string"
        },
        "extensionChains": {
          "items": {
            "$ref": "ExtensionChain"
          },
          "description": "Required. A set of ordered extension chains that contain the match conditions and extensions to execute. Match conditions for each extension chain are evaluated in sequence for a given request. The first extension chain that has a condition that matches the request is executed. Any subsequent extension chains do not execute. Limited to 5 extension chains per resource.",
          "type": "array"
        },
        "forwardingRules": {
          "type": "array",
          "description": "Required. A list of references to the forwarding rules to which this service extension is attached. At least one forwarding rule is required. Only one `LbRouteExtension` resource can be associated with a forwarding rule.",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "metadata": {
          "description": "Optional. The metadata provided here is included as part of the `metadata_context` (of type `google.protobuf.Struct`) in the `ProcessingRequest` message sent to the extension server. The metadata applies to all extensions in all extensions chains in this resource. The metadata is available under the key `com.google.lb_route_extension.`. The following variables are supported in the metadata: `{forwarding_rule_id}` - substituted with the forwarding rule's fully qualified resource name. This field must not be set if at least one of the extension chains contains plugin extensions. Setting it results in a validation error. You can set metadata at either the resource level or the extension level. The extension level metadata is recommended because you can pass a different set of metadata through each extension to the backend.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "description": {
          "type": "string",
          "description": "Optional. A human-readable description of the resource."
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. Name of the `LbRouteExtension` resource in the following format: `projects/{project}/locations/{location}/lbRouteExtensions/{lb_route_extension}`."
        }
      },
      "description": "`LbRouteExtension` is a resource that lets you control where traffic is routed to for a given request.",
      "id": "LbRouteExtension"
    },
    "GrpcRouteFaultInjectionPolicyAbort": {
      "description": "Specification of how client requests are aborted as part of fault injection before being sent to a destination.",
      "id": "GrpcRouteFaultInjectionPolicyAbort",
      "type": "object",
      "properties": {
        "httpStatus": {
          "type": "integer",
          "format": "int32",
          "description": "The HTTP status code used to abort the request. The value must be between 200 and 599 inclusive."
        },
        "percentage": {
          "type": "integer",
          "format": "int32",
          "description": "The percentage of traffic which will be aborted. The value must be between [0, 100]"
        }
      }
    },
    "AgentGateway": {
      "id": "AgentGateway",
      "description": "AgentGateway represents the agent gateway resource.",
      "type": "object",
      "properties": {
        "networkConfig": {
          "$ref": "AgentGatewayNetworkConfig",
          "description": "Optional. Network configuration for the AgentGateway."
        },
        "agentGatewayCard": {
          "$ref": "AgentGatewayAgentGatewayOutputCard",
          "readOnly": true,
          "description": "Output only. Field for populated AgentGateway card."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Set of label tags associated with the AgentGateway resource."
        },
        "etag": {
          "type": "string",
          "description": "Optional. Etag of the resource. If this is provided, it must match the server's etag. If the provided etag does not match the server's etag, the request will fail with a 409 ABORTED error."
        },
        "agentConnectivityTemplate": {
          "description": "Optional. The resource name of the AgentConnectivityTemplate. Format: projects/{project}/locations/{location}/agentConnectivityTemplates/{template}",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the AgentGateway resource. It matches pattern `projects/*/locations/*/agentGateways/`."
        },
        "registries": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of Agent registries containing the agents, MCP servers and tools governed by the Agent Gateway. Note: Currently limited to project-scoped registries Must be of format `//agentregistry.googleapis.com/projects/{project}/locations/{location}/`",
          "type": "array"
        },
        "googleManaged": {
          "description": "Optional. Proxy is orchestrated and managed by GoogleCloud in a tenant project.",
          "$ref": "AgentGatewayGoogleManaged"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string",
          "readOnly": true
        },
        "protocols": {
          "items": {
            "enumDescriptions": [
              "Unspecified protocol.",
              "Message Control Plane protocol."
            ],
            "enum": [
              "PROTOCOL_UNSPECIFIED",
              "MCP"
            ],
            "type": "string"
          },
          "description": "Optional. Deprecated.",
          "type": "array",
          "deprecated": true
        },
        "description": {
          "type": "string",
          "description": "Optional. A free-text description of the resource. Max length 1024 characters."
        },
        "selfManaged": {
          "$ref": "AgentGatewaySelfManaged",
          "description": "Optional. Attach to existing Application Load Balancers or Secure Web Proxies."
        }
      }
    },
    "Expr": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr"
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "id": "Operation"
    },
    "ListGrpcRoutesResponse": {
      "id": "ListGrpcRoutesResponse",
      "type": "object",
      "description": "Response returned by the ListGrpcRoutes method.",
      "properties": {
        "unreachable": {
          "description": "Unreachable resources. Populated when the request opts into return_partial_success and reading across collections e.g. when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "grpcRoutes": {
          "description": "List of GrpcRoute resources.",
          "items": {
            "$ref": "GrpcRoute"
          },
          "type": "array"
        }
      }
    },
    "ListMulticastGroupConsumerActivationsResponse": {
      "description": "Response message for ListMulticastGroupConsumerActivations.",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "multicastGroupConsumerActivations": {
          "items": {
            "$ref": "MulticastGroupConsumerActivation"
          },
          "description": "The list of multicast group consumer activations.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A page token from an earlier query, as returned in `next_page_token`.",
          "type": "string"
        }
      },
      "id": "ListMulticastGroupConsumerActivationsResponse"
    },
    "ExtensionBindingMatchCondition": {
      "properties": {
        "to": {
          "$ref": "ExtensionBindingMatchConditionTo",
          "description": "Optional. Describes properties of a destination of a request. If specified, the extension will only be invoked on requests to destinations that match the specified criteria."
        }
      },
      "id": "ExtensionBindingMatchCondition",
      "description": "Conditions to match against the incoming request.",
      "type": "object"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        }
      },
      "id": "OperationMetadata",
      "type": "object"
    },
    "DnsPeeringConfig": {
      "description": "DNS Peering configuration.",
      "id": "DnsPeeringConfig",
      "type": "object",
      "properties": {
        "targetNetwork": {
          "description": "Optional. The target network resource name for DNS peering. Format: projects/{project}/global/networks/{network_id}",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "Optional. Deprecated: Use `domains` instead. The domain to peer.",
          "deprecated": true
        },
        "domains": {
          "type": "array",
          "description": "Optional. The domains to peer.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MulticastConsumerAssociation": {
      "properties": {
        "multicastDomainActivation": {
          "type": "string",
          "description": "Optional. The resource name of the multicast domain activation that is in the same zone as this multicast consumer association. Use the following format: `projects/*/locations/*/multicastDomainActivations/*`."
        },
        "resourceState": {
          "readOnly": true,
          "enumDescriptions": [
            "The consumer resource state is not specified.",
            "The consumer resource state is active.",
            "The associated admin resource has been deleted. The consumer resource state becomes obsolete."
          ],
          "description": "Output only. [Deprecated] The resource state of the multicast consumer association. Use the state field instead.",
          "enum": [
            "CONSUMER_RESOURCE_STATE_UNSPECIFIED",
            "ACTIVE",
            "OBSOLETE"
          ],
          "deprecated": true,
          "type": "string"
        },
        "state": {
          "$ref": "MulticastResourceState",
          "readOnly": true,
          "description": "Output only. [Output only] The state of the resource."
        },
        "uniqueId": {
          "description": "Output only. [Output only] The Google-generated UUID for the resource. This value is unique across all multicast consumer association resources. If a multicast consumer association is deleted and another with the same name is created, the new multicast consumer association is assigned a different unique_id.",
          "readOnly": true,
          "type": "string"
        },
        "placementPolicy": {
          "type": "string",
          "description": "Output only. [Output only] A Compute Engine (placement policy)[https://cloud.google.com/compute/docs/instances/placement-policies-overview] that can be used to place virtual machine (VM) instances as multicast consumers close to the multicast infrastructure created for this domain, on a best effort basis.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the multicast consumer association. Use the following format: `projects/*/locations/*/multicastConsumerAssociations/*`."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. [Output only] The timestamp when the Multicast Consumer Association was most recently updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels as key-value pairs."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] The timestamp when the multicast consumer association was created."
        },
        "network": {
          "type": "string",
          "description": "Required. The resource name of the multicast consumer VPC network. Use following format: `projects/{project}/locations/global/networks/{network}`."
        },
        "description": {
          "description": "Optional. An optional text description of the multicast consumer association.",
          "type": "string"
        }
      },
      "id": "MulticastConsumerAssociation",
      "description": "Multicast consumer association resource.",
      "type": "object"
    },
    "ExtensionBindingMatchConditionToDestinationHeaderSet": {
      "properties": {
        "headers": {
          "items": {
            "$ref": "ExtensionBindingMatchConditionHeaderMatch"
          },
          "type": "array",
          "description": "Required. A list of headers to match against in http header. If multiple header matches are provided, they will be evaluated as an AND, i.e. all header matches must match for the request to match."
        }
      },
      "id": "ExtensionBindingMatchConditionToDestinationHeaderSet",
      "description": "Describes a set of HTTP headers to match against.",
      "type": "object"
    },
    "ListProducerExtensionsResponse": {
      "properties": {
        "producerExtensions": {
          "items": {
            "$ref": "ProducerExtension"
          },
          "type": "array",
          "description": "List of `ProducerExtension` resources."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request attempts to list all resources across all supported locations, while some locations are temporarily unavailable. The resource names are in the format: `projects/{project}/locations/{location}/producerExtensions/{producer_extension}`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      },
      "description": "Response returned by the `ListProducerExtensions` method.",
      "id": "ListProducerExtensionsResponse",
      "type": "object"
    },
    "HttpRouteHeaderMatchIntegerRange": {
      "type": "object",
      "id": "HttpRouteHeaderMatchIntegerRange",
      "description": "Represents an integer value range.",
      "properties": {
        "start": {
          "format": "int32",
          "description": "Start of the range (inclusive)",
          "type": "integer"
        },
        "end": {
          "format": "int32",
          "description": "End of the range (exclusive)",
          "type": "integer"
        }
      }
    },
    "ExtensionBindingMatchConditionToDestination": {
      "description": "Describes properties of a single destination.",
      "id": "ExtensionBindingMatchConditionToDestination",
      "properties": {
        "hosts": {
          "description": "Optional. A list of HTTP Hosts to match against. Limited to 10 hosts. If not specified, any host is allowed. If specified, a match occurs if any of the hosts matches the host value in the request.",
          "type": "array",
          "items": {
            "$ref": "ExtensionBindingMatchConditionStringMatch"
          }
        },
        "headerSet": {
          "description": "Optional. A set of HTTP headers to match against. If not specified, requests with any headers are matched.",
          "$ref": "ExtensionBindingMatchConditionToDestinationHeaderSet"
        },
        "resources": {
          "items": {
            "$ref": "ExtensionBindingMatchConditionStringMatch"
          },
          "description": "Optional. A list of non-empty strings whose value is matched against the resource to which a request is sent (e.g., an Agent in AiApplication). If not specified, any resource is allowed. If specified, a match occurs if any of the resources matches the resource value in the request. Limited to 5 resources. When matching against resources in the AgentRegistry, use the URNs of the registry resources.",
          "type": "array"
        },
        "paths": {
          "type": "array",
          "items": {
            "$ref": "ExtensionBindingMatchConditionStringMatch"
          },
          "description": "Optional. A list of paths to match against. Limited to 10 paths. If not specified, any path is allowed. Note that this path match includes the query parameters. For gRPC services, this should be a fully-qualified name of the form /package.service/method."
        }
      },
      "type": "object"
    },
    "WasmPluginVersion": {
      "description": "A single immutable version of a `WasmPlugin` resource. Defines the Wasm module used and optionally its runtime config.",
      "id": "WasmPluginVersion",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Optional. Set of labels associated with the `WasmPluginVersion` resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "pluginConfigData": {
          "format": "byte",
          "type": "string",
          "description": "Configuration for the plugin. The configuration is provided to the plugin at runtime through the `ON_CONFIGURE` callback. When a new `WasmPluginVersion` resource is created, the digest of the contents is saved in the `plugin_config_digest` field."
        },
        "description": {
          "description": "Optional. A human-readable description of the resource.",
          "type": "string"
        },
        "pluginConfigUri": {
          "type": "string",
          "description": "URI of the plugin configuration stored in the Artifact Registry. The configuration is provided to the plugin at runtime through the `ON_CONFIGURE` callback. The URI can refer to one of the following repository formats: * Container images: the `plugin_config_uri` must point to a container that contains a single file with the name `plugin.config`. When a new `WasmPluginVersion` resource is created, the digest of the image is saved in the `plugin_config_digest` field. When pulling a container image from Artifact Registry, the digest value is used instead of an image tag. * Generic artifacts: the `plugin_config_uri` must be in this format: `projects/{project}/locations/{location}/repositories/{repository}/ genericArtifacts/{package}:{version}`. The specified package and version must contain a file with the name `plugin.config`. When a new `WasmPluginVersion` resource is created, the checksum of the contents of the file is saved in the `plugin_config_digest` field."
        },
        "pluginConfigDigest": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This field holds the digest (usually checksum) value for the plugin configuration. The value is calculated based on the contents of `plugin_config_data` field or the image defined by the `plugin_config_uri` field."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the `WasmPluginVersion` resource in the following format: `projects/{project}/locations/{location}/wasmPlugins/{wasm_plugin}/ versions/{wasm_plugin_version}`."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true
        },
        "imageUri": {
[...]
