{
  "name": "networkservices",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://networkservices.mtls.googleapis.com/",
  "revision": "20261004",
  "version": "v1",
  "parameters": {
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "id": "networkservices:v1",
  "title": "Network Services API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "documentationLink": "https://cloud.google.com/networking",
  "rootUrl": "https://networkservices.googleapis.com/",
  "schemas": {
    "HttpRouteRouteAction": {
      "type": "object",
      "properties": {
        "statefulSessionAffinity": {
          "$ref": "HttpRouteStatefulSessionAffinityPolicy",
          "description": "Optional. Specifies cookie-based stateful session affinity."
        },
        "retryPolicy": {
          "$ref": "HttpRouteRetryPolicy",
          "description": "Specifies the retry policy associated with this route."
        },
        "idleTimeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. Specifies the idle timeout for the selected route. The idle timeout is defined as the period in which there are no bytes sent or received on either the upstream or downstream connection. If not set, the default idle timeout is 1 hour. If set to 0s, the timeout will be disabled."
        },
        "redirect": {
          "$ref": "HttpRouteRedirect",
          "description": "If set, the request is directed as configured by this field."
        },
        "corsPolicy": {
          "description": "The specification for allowing client side cross-origin requests.",
          "$ref": "HttpRouteCorsPolicy"
        },
        "directResponse": {
          "$ref": "HttpRouteHttpDirectResponse",
          "description": "Optional. Static HTTP Response object to be returned regardless of the request."
        },
        "requestMirrorPolicy": {
          "$ref": "HttpRouteRequestMirrorPolicy",
          "description": "Specifies the policy on how requests intended for the routes destination are shadowed to a separate mirrored destination. Proxy will not wait for the shadow destination to respond before returning the response. Prior to sending traffic to the shadow service, the host/authority header is suffixed with -shadow."
        },
        "requestHeaderModifier": {
          "description": "The specification for modifying the headers of a matching request prior to delivery of the request to the destination. If HeaderModifiers are set on both the Destination and the RouteAction, they will be merged. Conflicts between the two will not be resolved on the configuration.",
          "$ref": "HttpRouteHeaderModifier"
        },
        "faultInjectionPolicy": {
          "description": "The specification for fault injection introduced into traffic to test the resiliency of clients to backend service failure. As part of fault injection, when clients send requests to a backend service, delays can be introduced on a percentage of requests before sending those requests to the backend service. Similarly requests from clients can be aborted for a percentage of requests. timeout and retry_policy will be ignored by clients that are configured with a fault_injection_policy",
          "$ref": "HttpRouteFaultInjectionPolicy"
        },
        "urlRewrite": {
          "description": "The specification for rewrite URL before forwarding requests to the destination.",
          "$ref": "HttpRouteURLRewrite"
        },
        "responseHeaderModifier": {
          "description": "The specification for modifying the headers of a response prior to sending the response back to the client. If HeaderModifiers are set on both the Destination and the RouteAction, they will be merged. Conflicts between the two will not be resolved on the configuration.",
          "$ref": "HttpRouteHeaderModifier"
        },
        "destinations": {
          "description": "The destination to which traffic should be forwarded.",
          "items": {
            "$ref": "HttpRouteDestination"
          },
          "type": "array"
        },
        "timeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Specifies the timeout for selected route. Timeout is computed from the time the request has been fully processed (i.e. end of stream) up until the response has been completely processed. Timeout includes all retries."
        }
      },
      "id": "HttpRouteRouteAction",
      "description": "The specifications for routing traffic and applying associated policies."
    },
    "GatewayRouteView": {
      "description": "GatewayRouteView defines view-only resource for Routes to a Gateway",
      "properties": {
        "routeLocation": {
          "description": "Output only. Location where the route exists.",
          "readOnly": true,
          "type": "string"
        },
        "routeType": {
          "description": "Output only. Type of the route: HttpRoute,GrpcRoute,TcpRoute, or TlsRoute",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. Full path name of the GatewayRouteView resource. Format: projects/{project_number}/locations/{location}/gateways/{gateway}/routeViews/{route_view}",
          "type": "string"
        },
        "routeProjectNumber": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Project number where the route exists."
        },
        "routeId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource id for the route."
        }
      },
      "id": "GatewayRouteView",
      "type": "object"
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "id": "ListOperationsResponse"
    },
    "MeshRouteView": {
      "id": "MeshRouteView",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. Full path name of the MeshRouteView resource. Format: projects/{project_number}/locations/{location}/meshes/{mesh}/routeViews/{route_view}",
          "type": "string"
        },
        "routeId": {
          "description": "Output only. The resource id for the route.",
          "type": "string",
          "readOnly": true
        },
        "routeLocation": {
          "description": "Output only. Location where the route exists.",
          "readOnly": true,
          "type": "string"
        },
        "routeProjectNumber": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Project number where the route exists."
        },
        "routeType": {
          "readOnly": true,
          "description": "Output only. Type of the route: HttpRoute,GrpcRoute,TcpRoute, or TlsRoute",
          "type": "string"
        }
      },
      "description": "MeshRouteView defines view-only resource for Routes to a Mesh",
      "type": "object"
    },
    "ExtensionBindingTarget": {
      "properties": {
        "resources": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The references to the target resources to which this binding should attach. Exactly one of `resources` or `scope` must be set. For AI Application resources, specify the full resource name in the format: `projects/{project}/locations/{location}/applications/{application}`. Limited to 1 resource."
        },
        "scope": {
          "$ref": "ExtensionBindingTargetScope",
          "description": "Optional. Specifies the scope of resources to which this binding should attach. Exactly one of `resources` or `scope` must be set."
        }
      },
      "id": "ExtensionBindingTarget",
      "description": "Specifies a list of targets to which this `ExtensionBinding` should attach.",
      "type": "object"
    },
    "ListEndpointPoliciesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "endpointPolicies": {
          "description": "List of EndpointPolicy resources.",
          "type": "array",
          "items": {
            "$ref": "EndpointPolicy"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources. Populated when the request opts into return_partial_success and reading across collections e.g. when attempting to list all resources across all supported locations."
        }
      },
      "description": "Response returned by the ListEndpointPolicies method.",
      "id": "ListEndpointPoliciesResponse",
      "type": "object"
    },
    "WasmPluginVersion": {
      "id": "WasmPluginVersion",
      "type": "object",
      "properties": {
        "pluginConfigUri": {
          "description": "URI of the plugin configuration stored in the Artifact Registry. The configuration is provided to the plugin at runtime through the `ON_CONFIGURE` callback. The URI can refer to one of the following repository formats: * Container images: the `plugin_config_uri` must point to a container that contains a single file with the name `plugin.config`. When a new `WasmPluginVersion` resource is created, the digest of the image is saved in the `plugin_config_digest` field. When pulling a container image from Artifact Registry, the digest value is used instead of an image tag. * Generic artifacts: the `plugin_config_uri` must be in this format: `projects/{project}/locations/{location}/repositories/{repository}/ genericArtifacts/{package}:{version}`. The specified package and version must contain a file with the name `plugin.config`. When a new `WasmPluginVersion` resource is created, the checksum of the contents of the file is saved in the `plugin_config_digest` field.",
          "type": "string"
        },
        "imageUri": {
          "description": "Optional. URI of the image containing the Wasm module, stored in Artifact Registry. The URI can refer to one of the following repository formats: * Container images: the `image_uri` must point to a container that contains a single file with the name `plugin.wasm`. When a new `WasmPluginVersion` resource is created, the digest of the image is saved in the `image_digest` field. When pulling a container image from Artifact Registry, the digest value is used instead of an image tag. * Generic artifacts: the `image_uri` must be in this format: `projects/{project}/locations/{location}/repositories/{repository}/ genericArtifacts/{package}:{version}`. The specified package and version must contain a file with the name `plugin.wasm`. When a new `WasmPluginVersion` resource is created, the checksum of the contents of the file is saved in the `image_digest` field.",
          "type": "string"
        },
        "pluginConfigDigest": {
          "description": "Output only. This field holds the digest (usually checksum) value for the plugin configuration. The value is calculated based on the contents of `plugin_config_data` field or the image defined by the `plugin_config_uri` field.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the `WasmPluginVersion` resource in the following format: `projects/{project}/locations/{location}/wasmPlugins/{wasm_plugin}/ versions/{wasm_plugin_version}`."
        },
        "pluginConfigData": {
          "format": "byte",
          "description": "Configuration for the plugin. The configuration is provided to the plugin at runtime through the `ON_CONFIGURE` callback. When a new `WasmPluginVersion` resource is created, the digest of the contents is saved in the `plugin_config_digest` field.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. A human-readable description of the resource.",
          "type": "string"
        },
        "imageDigest": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This field holds the digest (usually checksum) value for the plugin image. The value is calculated based on the `image_uri` field. If the `image_uri` field refers to a container image, the digest value is obtained from the container image. If the `image_uri` field refers to a generic artifact, the digest value is calculated based on the contents of the file."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Set of labels associated with the `WasmPluginVersion` resource."
        }
      },
      "description": "A single immutable version of a `WasmPlugin` resource. Defines the Wasm module used and optionally its runtime config."
    },
    "Policy": {
      "type": "object",
      "properties": {
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy"
    },
    "DnsPeeringConfig": {
      "id": "DnsPeeringConfig",
      "properties": {
        "targetNetwork": {
          "description": "Optional. The target network resource name for DNS peering. Format: projects/{project}/global/networks/{network_id}",
          "type": "string"
        },
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The domains to peer."
        },
        "domain": {
          "description": "Optional. Deprecated: Use `domains` instead. The domain to peer.",
          "type": "string",
          "deprecated": true
        }
      },
      "description": "DNS Peering configuration.",
      "type": "object"
    },
    "ExtensionBindingTargetScope": {
      "id": "ExtensionBindingTargetScope",
      "properties": {
        "resourceTypes": {
          "description": "Required. The types of resources to which the binding should attach. Limited to 1 resource type.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "RESOURCE_TYPE_UNSPECIFIED",
              "AI_APPLICATION",
              "AGENT_GATEWAY"
            ],
            "enumDescriptions": [
              "Default value. Should not be used.",
              "AI Application resources.",
              "Agent Gateway resources."
            ]
          }
        },
        "parent": {
          "description": "Required. The parent resource that defines the scope, in the format `projects/{project_number}`. When the scope is a project, the binding applies to the resources that meet all of the following conditions: * The resource belongs to the specified project. * The resource is in the same location as the `ExtensionBinding`. * The resource type is listed in `resource_types`.",
          "type": "string"
        }
      },
      "description": "Specifies the scope of resources to which this binding should attach.",
      "type": "object"
    },
    "EgressNetworkConfig": {
      "type": "object",
      "properties": {
        "networkAttachment": {
          "type": "string",
          "description": "Optional. The network attachment resource name. Format: projects/{project}/regions/{region}/networkAttachments/{network_attachment_id}"
        },
        "trustConfig": {
          "type": "string",
          "deprecated": true,
          "description": "Optional. Deprecated: Use tls_config instead. The trust config resource name. Format: projects/{project}/locations/{location}/trustConfigs/{trust_config}"
        },
        "tlsConfig": {
          "description": "Optional. The TLS configuration for the egress traffic.",
          "$ref": "EgressNetworkConfigTlsConfig"
        },
        "dnsPeeringConfig": {
          "$ref": "DnsPeeringConfig",
          "description": "Optional. DNS Peering configuration."
        },
        "vpcEgress": {
          "type": "string",
          "description": "Optional. The VPC egress setting.",
          "enum": [
            "VPC_EGRESS_UNSPECIFIED",
            "ALL_TRAFFIC",
            "PRIVATE_RANGES_ONLY"
          ],
          "enumDescriptions": [
            "Unspecified",
            "All outbound traffic is routed through the VPC connector.",
            "Only private IP ranges are routed through the VPC connector."
          ]
        }
      },
      "id": "EgressNetworkConfig",
      "description": "Egress network config"
    },
    "TcpRouteRouteMatch": {
      "type": "object",
      "id": "TcpRouteRouteMatch",
      "description": "RouteMatch defines the predicate used to match requests to a given action. Multiple match types are \"OR\"ed for evaluation. If no routeMatch field is specified, this rule will unconditionally match traffic.",
      "properties": {
        "port": {
          "type": "string",
          "description": "Required. Specifies the destination port to match against."
        },
        "address": {
          "description": "Required. Must be specified in the CIDR range format. A CIDR range consists of an IP Address and a prefix length to construct the subnet mask. By default, the prefix length is 32 (i.e. matches a single IP address). Only IPV4 addresses are supported. Examples: \"10.0.0.1\" - matches against this exact IP address. \"10.0.0.0/8\" - matches against any IP address within the 10.0.0.0 subnet and 255.255.255.0 mask. \"0.0.0.0/0\" - matches against any IP address'.",
          "type": "string"
        }
      }
    },
    "ListMeshRouteViewsResponse": {
      "description": "Response returned by the ListMeshRouteViews method.",
      "id": "ListMeshRouteViewsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unreachable resources. Populated when the request attempts to list all resources across all supported locations, while some locations are temporarily unavailable."
        },
        "meshRouteViews": {
          "items": {
            "$ref": "MeshRouteView"
          },
          "description": "List of MeshRouteView resources.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "WasmPluginLogConfig": {
      "type": "object",
      "id": "WasmPluginLogConfig",
      "description": "Specifies the logging options for the activity performed by this plugin. If logging is enabled, plugin logs are exported to Cloud Logging.",
      "properties": {
        "enable": {
          "description": "Optional. Specifies whether to enable logging for activity by this plugin. Defaults to `false`.",
          "type": "boolean"
        },
        "sampleRate": {
          "format": "float",
          "description": "Optional. Non-empty default. Configures the sampling rate of activity logs, where `1.0` means all logged activity is reported and `0.0` means no activity is reported. A floating point value between `0.0` and `1.0` indicates that a percentage of log messages is stored. The default value when logging is enabled is `1.0`. The value of the field must be between `0` and `1` (inclusive). This field can be specified only if logging is enabled for this plugin.",
          "type": "number"
        },
        "minLogLevel": {
          "enum": [
            "LOG_LEVEL_UNSPECIFIED",
            "TRACE",
            "DEBUG",
            "INFO",
            "WARN",
            "ERROR",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "Unspecified value. Defaults to `LogLevel.INFO`.",
            "Report logs with TRACE level and above.",
            "Report logs with DEBUG level and above.",
            "Report logs with INFO level and above.",
            "Report logs with WARN level and above.",
            "Report logs with ERROR level and above.",
            "Report logs with CRITICAL level only."
          ],
          "description": "Optional. Non-empty default. Specifies the lowest level of the plugin logs that are exported to Cloud Logging. This setting relates to the logs generated by using logging statements in your Wasm code. This field is can be set only if logging is enabled for the plugin. If the field is not provided when logging is enabled, it is set to `INFO` by default.",
          "type": "string"
        }
      }
    },
    "AgentConnectivityTemplate": {
      "id": "AgentConnectivityTemplate",
      "properties": {
        "agentCompute": {
          "enumDescriptions": [
            "Unspecified compute type.",
            "Google Kubernetes Engine.",
            "Google Cloud Run.",
            "Google Borg (for 1P producers).",
            "Google Compute Engine VM."
          ],
          "description": "Optional. The compute environment where the agent is hosted. Exactly one type of compute must be chosen.",
          "type": "string",
          "enum": [
            "AGENT_COMPUTE_UNSPECIFIED",
            "GKE",
            "CLOUD_RUN",
            "BORG",
            "GCE_VM"
          ]
        },
        "egressNetworkConfig": {
          "$ref": "EgressNetworkConfig",
          "description": "Optional. Configuration for egress network traffic."
        },
        "accessTypes": {
          "description": "Optional. The types of network access provided to the gateway. Both PUBLIC and PRIVATE can be configured.",
          "type": "array",
          "items": {
            "enum": [
              "ACCESS_TYPE_UNSPECIFIED",
              "PUBLIC",
              "PRIVATE"
            ],
            "enumDescriptions": [
              "Unspecified access type.",
              "Public network access.",
              "Private network access."
            ],
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. Name of the AgentConnectivityTemplate resource. It matches pattern `projects/*/locations/*/agentConnectivityTemplates/`.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string"
        },
        "accessPath": {
          "enumDescriptions": [
            "Unspecified access path.",
            "Protect connection to Agent or Tool.",
            "Govern agent connections to destinations."
          ],
          "type": "string",
          "enum": [
            "ACCESS_PATH_UNSPECIFIED",
            "CLIENT_TO_AGENT",
            "AGENT_TO_ANYWHERE"
          ],
          "description": "Required. Immutable. The path of the access. Maps roughly to ingress/egress, though we keep CLIENT_TO_AGENT and AGENT_TO_ANYWHERE as carryovers from Agent Gateway's original resource model. The path is immutable once set. Exactly one path can be set."
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the AgentConnectivityTemplate resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Optional. Etag of the resource. If this is provided, it must match the server's etag. If the provided etag does not match the server's etag, the request will fail with a 409 ABORTED error.",
          "type": "string"
        },
        "deploymentModel": {
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "CENTRALIZED",
            "AMBIENT"
          ],
          "description": "Required. The deployment model for the gateway.",
          "enumDescriptions": [
            "Unspecified deployment model.",
            "Centralized deployment.",
            "Ambient deployment."
          ],
          "type": "string"
        }
      },
      "description": "AgentConnectivityTemplate represents a reusable network configuration.",
      "type": "object"
    },
    "Mesh": {
      "properties": {
        "envoyHeaders": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to NONE.",
            "Suppress envoy debug headers.",
            "Envoy will insert default internal debug headers into upstream requests: x-envoy-attempt-count, x-envoy-is-timeout-retry, x-envoy-expected-rq-timeout-ms, x-envoy-original-path, x-envoy-upstream-stream-duration-ms"
          ],
          "description": "Optional. Determines if envoy will insert internal debug headers into upstream requests. Other Envoy headers may still be injected. By default, envoy will not insert any debug headers.",
          "enum": [
            "ENVOY_HEADERS_UNSPECIFIED",
            "NONE",
            "DEBUG_HEADERS"
          ]
        },
        "labels": {
          "type": "object",
          "description": "Optional. Set of label tags associated with the Mesh resource.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was updated."
        },
        "selfLink": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined URL of this resource"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. A free-text description of the resource. Max length 1024 characters."
        },
        "name": {
          "description": "Identifier. Name of the Mesh resource. It matches pattern `projects/*/locations/*/meshes/`.",
          "type": "string"
        },
        "interceptionPort": {
          "format": "int32",
          "description": "Optional. If set to a valid TCP port (1-65535), instructs the SIDECAR proxy to listen on the specified port of localhost (127.0.0.1) address. The SIDECAR proxy will expect all traffic to be redirected to this port regardless of its actual ip:port destination. If unset, a port '15001' is used as the interception port. This is applicable only for sidecar proxy deployments.",
          "type": "integer"
        }
      },
      "id": "Mesh",
      "description": "Mesh represents a logical configuration grouping for workload to workload communication within a service mesh. Routes that point to mesh dictate how requests are routed within this logical mesh boundary.",
      "type": "object"
    },
    "ProducerExtensionExtensionSettings": {
      "id": "ProducerExtensionExtensionSettings",
      "description": "The configuration for the service that this `ProducerExtension` offers.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Required. URI of the PSC attachment.",
          "type": "string"
        },
        "authority": {
          "description": "Optional. The `:authority` header in the request sent to the extension service.",
          "type": "string"
        },
        "supportedEvents": {
          "items": {
            "type": "string",
            "enum": [
              "EVENT_TYPE_UNSPECIFIED",
              "REQUEST_HEADERS",
              "REQUEST_BODY",
              "RESPONSE_HEADERS",
              "RESPONSE_BODY",
              "REQUEST_TRAILERS",
              "RESPONSE_TRAILERS"
            ],
            "enumDescriptions": [
              "Unspecified value. Do not use.",
              "If included in `supported_events`, the extension is called when the HTTP request headers arrive.",
              "If included in `supported_events`, the extension is called when the HTTP request body arrives.",
              "If included in `supported_events`, the extension is called when the HTTP response headers arrive.",
              "If included in `supported_events`, the extension is called when the HTTP response body arrives.",
              "If included in `supported_events`, the extension is called when the HTTP request trailers arrives.",
              "If included in `supported_events`, the extension is called when the HTTP response trailers arrives."
            ]
          },
          "type": "array",
          "description": "Required. The event types supported by the extension."
        },
        "observabilityMode": {
          "type": "boolean",
          "description": "Optional. Whether the extension should function in observability mode."
        }
      }
    },
    "HttpRouteStatefulSessionAffinityPolicy": {
      "type": "object",
      "description": "The specification for cookie-based stateful session affinity where the date plane supplies a “session cookie” with the name \"GSSA\" which encodes a specific destination host and each request containing that cookie will be directed to that host as long as the destination host remains up and healthy. The gRPC proxyless mesh library or sidecar proxy will manage the session cookie but the client application code is responsible for copying the cookie from each RPC in the session to the next.",
      "id": "HttpRouteStatefulSessionAffinityPolicy",
      "properties": {
        "cookieTtl": {
          "description": "Required. The cookie TTL value for the Set-Cookie header generated by the data plane. The lifetime of the cookie may be set to a value from 0 to 86400 seconds (24 hours) inclusive. Set this to 0s to use a session cookie and disable cookie expiration.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        }
      },
      "id": "OperationMetadata",
      "type": "object"
    },
    "LoggingConfig": {
      "description": "The configuration for Platform Telemetry logging for Eventarc Advanced resources.",
      "type": "object",
      "properties": {
        "logSeverity": {
          "enum": [
            "LOG_SEVERITY_UNSPECIFIED",
            "NONE",
            "DEBUG",
            "INFO",
            "NOTICE",
            "WARNING",
            "ERROR",
            "CRITICAL",
            "ALERT",
            "EMERGENCY"
          ],
          "enumDescriptions": [
            "Log severity is not specified. This value is treated the same as NONE, but is used to distinguish between no update and update to NONE in update_masks.",
            "Default value at resource creation, presence of this value must be treated as no logging/disable logging.",
            "Debug or trace level logging.",
            "Routine information, such as ongoing status or performance.",
            "Normal but significant events, such as start up, shut down, or a configuration change.",
            "Warning events might cause problems.",
            "Error events are likely to cause problems.",
            "Critical events cause more severe problems or outages.",
            "A person must take action immediately.",
            "One or more systems are unusable."
          ],
          "description": "Optional. The minimum severity of logs that will be sent to Stackdriver/Platform Telemetry. Logs at severitiy ≥ this value will be sent, unless it is NONE.",
          "type": "string"
        }
      },
      "id": "LoggingConfig"
    },
    "EgressNetworkConfigTlsConfig": {
      "description": "Configuration for TLS connections.",
      "type": "object",
      "properties": {
        "additionalRoots": {
          "enumDescriptions": [
            "Unspecified additional roots.",
            "Trust only the certificates provided in `trust_config`.",
            "Trust certificates provided in `trust_config` and publicly trusted roots."
          ],
          "enum": [
            "ADDITIONAL_ROOTS_UNSPECIFIED",
            "NO_ADDITIONAL_ROOTS",
            "PUBLICLY_TRUSTED_ROOTS"
          ],
          "description": "Optional. The additional roots to trust.",
          "type": "string"
        },
        "trustConfig": {
          "description": "Optional. The trust config resource name. Format: projects/{project}/locations/{location}/trustConfigs/{trust_config}",
          "type": "string"
        }
      },
      "id": "EgressNetworkConfigTlsConfig"
    },
    "ListProducerExtensionsResponse": {
      "type": "object",
      "properties": {
        "producerExtensions": {
          "type": "array",
          "description": "List of `ProducerExtension` resources.",
          "items": {
            "$ref": "ProducerExtension"
          }
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request attempts to list all resources across all supported locations, while some locations are temporarily unavailable. The resource names are in the format: `projects/{project}/locations/{location}/producerExtensions/{producer_extension}`.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response returned by the `ListProducerExtensions` method.",
      "id": "ListProducerExtensionsResponse"
    },
    "ExtensionBindingMatchConditionHeaderMatch": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Specifies the name of the header in the request.",
          "type": "string"
        },
        "value": {
          "$ref": "ExtensionBindingMatchConditionStringMatch",
          "description": "Optional. Specifies how the header match will be performed."
        }
      },
      "description": "Determines how an HTTP header should be matched.",
      "id": "ExtensionBindingMatchConditionHeaderMatch"
    },
    "ListTlsRoutesResponse": {
      "id": "ListTlsRoutesResponse",
      "properties": {
        "tlsRoutes": {
          "description": "List of TlsRoute resources.",
          "items": {
            "$ref": "TlsRoute"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unreachable resources. Populated when the request opts into return_partial_success and reading across collections e.g. when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response returned by the ListTlsRoutes method."
    },
    "TlsRouteRouteDestination": {
      "properties": {
        "weight": {
          "type": "integer",
          "description": "Optional. Specifies the proportion of requests forwarded to the backend referenced by the service_name field. This is computed as: - weight/Sum(weights in destinations) Weights in all destinations does not need to sum up to 100.",
          "format": "int32"
        },
        "serviceName": {
          "type": "string",
          "description": "Required. The URL of a BackendService to route traffic to."
        }
      },
      "description": "Describe the destination for traffic to be routed to.",
      "type": "object",
      "id": "TlsRouteRouteDestination"
    },
    "ServiceBinding": {
      "id": "ServiceBinding",
      "properties": {
        "name": {
          "description": "Identifier. Name of the ServiceBinding resource. It matches pattern `projects/*/locations/*/serviceBindings/`.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "service": {
          "description": "Optional. The full Service Directory Service name of the format `projects/*/locations/*/namespaces/*/services/*`. This field is for Service Directory integration which will be deprecated soon.",
          "deprecated": true,
          "type": "string"
        },
        "serviceId": {
          "deprecated": true,
          "description": "Output only. The unique identifier of the Service Directory Service against which the ServiceBinding resource is validated. This is populated when the Service Binding resource is used in another resource (like Backend Service). This is of the UUID4 format. This field is for Service Directory integration which will be deprecated soon.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Set of label tags associated with the ServiceBinding resource."
        },
        "description": {
          "type": "string",
          "description": "Optional. A free-text description of the resource. Max length 1024 characters."
        }
      },
      "description": "ServiceBinding can be used to: - Bind a Service Directory Service to be used in a BackendService resource. This feature will be deprecated soon. - Bind a Private Service Connect producer service to be used in consumer Cloud Service Mesh or Application Load Balancers. - Bind a Cloud Run service to be used in consumer Cloud Service Mesh or Application Load Balancers.",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ServiceLbPolicyFailoverConfig": {
      "description": "Option to specify health based failover behavior. This is not related to Network load balancer FailoverPolicy.",
      "id": "ServiceLbPolicyFailoverConfig",
      "type": "object",
      "properties": {
        "failoverHealthThreshold": {
          "description": "Optional. The percentage threshold that a load balancer will begin to send traffic to failover backends. If the percentage of endpoints in a MIG/NEG is smaller than this value, traffic would be sent to failover backends if possible. This field should be set to a value between 1 and 99. The default value is 50 for Global external HTTP(S) load balancer (classic) and Proxyless service mesh, and 70 for others.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ExtensionBindingMatchConditionToDestinationHeaderSet": {
      "type": "object",
      "description": "Describes a set of HTTP headers to match against.",
      "id": "ExtensionBindingMatchConditionToDestinationHeaderSet",
      "properties": {
        "headers": {
          "items": {
            "$ref": "ExtensionBindingMatchConditionHeaderMatch"
          },
          "description": "Required. A list of HTTP headers to match against. If multiple header matches are provided, they are evaluated as an AND, meaning that all header matches must match for the request to match. Limited to 10 headers.",
          "type": "array"
        }
      }
    },
    "WasmPluginUsedBy": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Full name of the resource https://google.aip.dev/122#full-resource-names, for example `//networkservices.googleapis.com/projects/{project}/locations/{location}/lbRouteExtensions/{extension}`",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Defines a resource that uses the `WasmPlugin` resource.",
      "id": "WasmPluginUsedBy"
    },
    "HttpRouteHeaderMatchIntegerRange": {
      "properties": {
        "end": {
          "format": "int32",
          "type": "integer",
          "description": "End of the range (exclusive)"
        },
        "start": {
          "type": "integer",
          "description": "Start of the range (inclusive)",
          "format": "int32"
        }
      },
      "id": "HttpRouteHeaderMatchIntegerRange",
      "description": "Represents an integer value range.",
      "type": "object"
    },
    "MulticastLogConfig": {
      "id": "MulticastLogConfig",
      "type": "object",
      "description": "The logging configuration.",
      "properties": {
        "enabled": {
          "description": "Optional. Whether to enable logging or not.",
          "type": "boolean"
        }
      }
    },
    "ListExtensionBindingsResponse": {
      "type": "object",
      "description": "Response returned by the `ListExtensionBindings` method.",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request attempts to list all resources across all supported locations, while some locations are temporarily unavailable. The resource names are in the format `projects/{project}/locations/{location}/extensionBindings/{extension_binding}`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        },
        "extensionBindings": {
          "items": {
            "$ref": "ExtensionBinding"
          },
          "type": "array",
          "description": "List of `ExtensionBinding` resources."
        }
      },
      "id": "ListExtensionBindingsResponse"
    },
    "GrpcRouteRouteRule": {
      "id": "GrpcRouteRouteRule",
      "description": "Describes how to route traffic.",
      "properties": {
        "matches": {
          "description": "Optional. Matches define conditions used for matching the rule against incoming gRPC requests. Each match is independent, i.e. this rule will be matched if ANY one of the matches is satisfied. If no matches field is specified, this rule will unconditionally match traffic.",
          "type": "array",
          "items": {
            "$ref": "GrpcRouteRouteMatch"
          }
        },
        "action": {
          "$ref": "GrpcRouteRouteAction",
          "description": "Required. A detailed rule defining how to route traffic. This field is required."
        }
      },
      "type": "object"
    },
    "GrpcRouteFaultInjectionPolicy": {
      "properties": {
        "delay": {
          "$ref": "GrpcRouteFaultInjectionPolicyDelay",
          "description": "The specification for injecting delay to client requests."
        },
        "abort": {
          "description": "The specification for aborting to client requests.",
          "$ref": "GrpcRouteFaultInjectionPolicyAbort"
        }
      },
      "id": "GrpcRouteFaultInjectionPolicy",
      "type": "object",
      "description": "The specification for fault injection introduced into traffic to test the resiliency of clients to destination service failure. As part of fault injection, when clients send requests to a destination, delays can be introduced on a percentage of requests before sending those requests to the destination service. Similarly requests from clients can be aborted by for a percentage of requests."
    },
    "AgentGateway": {
      "id": "AgentGateway",
      "type": "object",
      "properties": {
        "agentGatewayCard": {
          "description": "Output only. Field for populated AgentGateway card.",
          "readOnly": true,
          "$ref": "AgentGatewayAgentGatewayOutputCard"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was updated."
        },
        "selfManaged": {
          "$ref": "AgentGatewaySelfManaged",
          "description": "Optional. Attach to existing Application Load Balancers or Secure Web Proxies."
        },
        "networkConfig": {
          "$ref": "AgentGatewayNetworkConfig",
          "description": "Optional. Network configuration for the AgentGateway."
        },
        "googleManaged": {
          "description": "Optional. Proxy is orchestrated and managed by GoogleCloud in a tenant project.",
          "$ref": "AgentGatewayGoogleManaged"
        },
        "registries": {
          "description": "Optional. A list of Agent registries containing the agents, MCP servers and tools governed by the Agent Gateway. Note: Currently limited to project-scoped registries Must be of format `//agentregistry.googleapis.com/projects/{project}/locations/{location}/`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. Name of the AgentGateway resource. It matches pattern `projects/*/locations/*/agentGateways/`.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. A free-text description of the resource. Max length 1024 characters."
        },
        "protocols": {
          "items": {
            "enum": [
              "PROTOCOL_UNSPECIFIED",
              "MCP"
            ],
            "enumDescriptions": [
              "Unspecified protocol.",
              "Message Control Plane protocol."
            ],
            "type": "string"
          },
          "description": "Optional. Deprecated.",
          "type": "array",
          "deprecated": true
        },
        "etag": {
          "description": "Optional. Etag of the resource. If this is provided, it must match the server's etag. If the provided etag does not match the server's etag, the request will fail with a 409 ABORTED error.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Set of label tags associated with the AgentGateway resource.",
          "type": "object"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "agentConnectivityTemplate": {
          "description": "Optional. The resource name of the AgentConnectivityTemplate. Format: projects/{project}/locations/{location}/agentConnectivityTemplates/{template}",
          "type": "string"
        }
      },
      "description": "AgentGateway represents the agent gateway resource."
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "AuditLogConfig",
      "type": "object"
    },
    "GrpcRouteMethodMatch": {
      "properties": {
        "grpcService": {
          "description": "Required. Name of the service to match against. If unspecified, will match all services.",
          "type": "string"
        },
        "caseSensitive": {
          "description": "Optional. Specifies that matches are case sensitive. The default value is true. case_sensitive must not be used with a type of REGULAR_EXPRESSION.",
          "type": "boolean"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified.",
            "Will only match the exact name provided.",
            "Will interpret grpc_method and grpc_service as regexes. RE2 syntax is supported."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXACT",
            "REGULAR_EXPRESSION"
          ],
          "description": "Optional. Specifies how to match against the name. If not specified, a default value of \"EXACT\" is used.",
          "type": "string"
        },
        "grpcMethod": {
          "type": "string",
          "description": "Required. Name of the method to match against. If unspecified, will match all methods."
        }
      },
      "type": "object",
      "id": "GrpcRouteMethodMatch",
      "description": "Specifies a match against a method."
    },
    "EndpointMatcher": {
      "description": "A definition of a matcher that selects endpoints to which the policies should be applied.",
      "id": "EndpointMatcher",
      "type": "object",
      "properties": {
        "metadataLabelMatcher": {
          "$ref": "EndpointMatcherMetadataLabelMatcher",
          "description": "The matcher is based on node metadata presented by xDS clients."
        }
      }
    },
    "MulticastGroupConsumerActivation": {
      "id": "MulticastGroupConsumerActivation",
      "description": "Multicast group consumer activation resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the multicast group consumer activation. Use the following format: `projects/*/locations/*/multicastGroupConsumerActivations/*`."
        },
        "resourceState": {
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "The consumer resource state is not specified.",
            "The consumer resource state is active.",
            "The associated admin resource has been deleted. The consumer resource state becomes obsolete."
          ],
          "readOnly": true,
          "enum": [
            "CONSUMER_RESOURCE_STATE_UNSPECIFIED",
            "ACTIVE",
            "OBSOLETE"
          ],
          "description": "Output only. [Deprecated] The resource state of the multicast group consumer activation. Use the state field instead."
        },
        "uniqueId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] The Google-generated UUID for the resource. This value is unique across all multicast group consumer activation resources. If a multicast group consumer activation is deleted and another with the same name is created, the new multicast group consumer activation is assigned a different unique_id."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. [Output only] The timestamp when the multicast group consumer activation was created.",
          "type": "string"
        },
        "multicastGroupRangeActivation": {
          "description": "Required. The resource name of the multicast group range activation created by the admin in the same zone as this multicast group consumer activation. Use the following format: `projects/*/locations/*/multicastGroupRangeActivations/*`.",
          "type": "string"
        },
        "state": {
          "description": "Output only. [Output only] The state of the resource.",
          "readOnly": true,
          "$ref": "MulticastResourceState"
        },
        "description": {
          "type": "string",
          "description": "Optional. An optional text description of the multicast group consumer activation."
        },
        "multicastGroup": {
          "description": "Optional. The resource name of the multicast group created by the admin in the same zone as this multicast group consumer activation. Use the following format: `projects/*/locations/*/multicastGroups/*`. This field is deprecated. Use multicast_group_range_activation instead.",
          "deprecated": true,
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key-value pairs.",
          "type": "object"
        },
        "logConfig": {
          "description": "Optional. Specifies the logging options for the activities performed related to the multicast group consumer activation. Defaults to false. If logging is enabled, logs are exported to Cloud Logging.",
          "$ref": "MulticastLogConfig"
        },
        "multicastConsumerAssociation": {
          "description": "Required. The resource name of the multicast consumer association that is in the same zone as this multicast group consumer activation. Use the following format: `projects/*/locations/*/multicastConsumerAssociations/*`.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. [Output only] The timestamp when the multicast group consumer activation was most recently updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GrpcRouteRouteMatch": {
      "id": "GrpcRouteRouteMatch",
      "type": "object",
      "properties": {
        "method": {
          "$ref": "GrpcRouteMethodMatch",
          "description": "Optional. A gRPC method to match against. If this field is empty or omitted, will match all methods."
        },
        "headers": {
          "type": "array",
          "description": "Optional. Specifies a collection of headers to match.",
          "items": {
            "$ref": "GrpcRouteHeaderMatch"
          }
        }
      },
      "description": "Criteria for matching traffic. A RouteMatch will be considered to match when all supplied fields match."
    },
    "TcpRouteRouteDestination": {
      "type": "object",
      "id": "TcpRouteRouteDestination",
      "properties": {
        "weight": {
          "description": "Optional. Specifies the proportion of requests forwarded to the backend referenced by the serviceName field. This is computed as: - weight/Sum(weights in this destination list). For non-zero values, there may be some epsilon from the exact proportion defined here depending on the precision an implementation supports. If only one serviceName is specified and it has a weight greater than 0, 100% of the traffic is forwarded to that backend. If weights are specified for any one service name, they need to be specified for all of them. If weights are unspecified for all services, then, traffic is distributed in equal proportions to all of them.",
          "format": "int32",
          "type": "integer"
        },
        "serviceName": {
          "description": "Required. The URL of a BackendService to route traffic to.",
          "type": "string"
        }
      },
      "description": "Describe the destination for traffic to be routed to."
    },
    "AgentGatewayNetworkConfig": {
      "id": "AgentGatewayNetworkConfig",
      "type": "object",
      "description": "NetworkConfig contains network configurations for the AgentGateway.",
      "properties": {
        "dnsPeeringConfig": {
          "description": "Optional. Optional DNS peering configuration for connectivity to your private VPC network.",
          "$ref": "AgentGatewayNetworkConfigDnsPeeringConfig"
        },
        "egress": {
          "description": "Optional. Optional PSC-Interface network attachment for connectivity to your private VPCs network.",
          "$ref": "AgentGatewayNetworkConfigEgress"
        }
      }
    },
    "ListLbTrafficExtensionsResponse": {
      "id": "ListLbTrafficExtensionsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results that the server returns."
        },
        "lbTrafficExtensions": {
          "type": "array",
          "items": {
            "$ref": "LbTrafficExtension"
          },
          "description": "The list of `LbTrafficExtension` resources."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Message for response to listing `LbTrafficExtension` resources."
    },
    "GrpcRouteStatefulSessionAffinityPolicy": {
      "properties": {
        "cookieTtl": {
          "description": "Required. The cookie TTL value for the Set-Cookie header generated by the data plane. The lifetime of the cookie may be set to a value from 0 to 86400 seconds (24 hours) inclusive. Set this to 0s to use a session cookie and disable cookie expiration.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The specification for cookie-based stateful session affinity where the date plane supplies a “session cookie” with the name \"GSSA\" which encodes a specific destination host and each request containing that cookie will be directed to that host as long as the destination host remains up and healthy. The gRPC proxyless mesh library or sidecar proxy will manage the session cookie but the client application code is responsible for copying the cookie from each RPC in the session to the next.",
      "id": "GrpcRouteStatefulSessionAffinityPolicy"
    },
    "ExtensionChainMatchCondition": {
      "description": "Conditions under which this chain is invoked for a request.",
      "id": "ExtensionChainMatchCondition",
      "properties": {
        "celExpression": {
          "type": "string",
          "description": "Required. A Common Expression Language (CEL) expression that is used to match requests for which the extension chain is executed. For more information, see [CEL matcher language reference](https://cloud.google.com/service-extensions/docs/cel-matcher-language-reference)."
        }
      },
      "type": "object"
    },
    "ListLbEdgeExtensionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results that the server returns."
        },
        "lbEdgeExtensions": {
          "type": "array",
          "description": "The list of `LbEdgeExtension` resources.",
          "items": {
            "$ref": "LbEdgeExtension"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Message for response to listing `LbEdgeExtension` resources.",
      "id": "ListLbEdgeExtensionsResponse",
      "type": "object"
    },
    "HttpRouteHeaderMatch": {
      "description": "Specifies how to select a route rule based on HTTP request headers.",
      "properties": {
        "header": {
          "type": "string",
          "description": "The name of the HTTP header to match against."
        },
        "exactMatch": {
          "description": "The value of the header should match exactly the content of exact_match.",
          "type": "string"
        },
        "prefixMatch": {
          "type": "string",
          "description": "The value of the header must start with the contents of prefix_match."
        },
        "regexMatch": {
          "type": "string",
          "description": "The value of the header must match the regular expression specified in regex_match. For regular expression grammar, please see: https://github.com/google/re2/wiki/Syntax"
        },
        "suffixMatch": {
          "type": "string",
          "description": "The value of the header must end with the contents of suffix_match."
        },
        "presentMatch": {
          "description": "A header with header_name must exist. The match takes place whether or not the header has a value.",
          "type": "boolean"
        },
        "rangeMatch": {
          "$ref": "HttpRouteHeaderMatchIntegerRange",
          "description": "If specified, the rule will match if the request header value is within the range."
        },
        "invertMatch": {
          "type": "boolean",
          "description": "If specified, the match result will be inverted before checking. Default value is set to false."
        }
      },
      "type": "object",
      "id": "HttpRouteHeaderMatch"
    },
    "LbEdgeExtension": {
      "description": "`LbEdgeExtension` is a resource that lets the extension service influence the selection of backend services and Cloud CDN cache keys by modifying request headers.",
      "type": "object",
      "id": "LbEdgeExtension",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Optional. Set of labels associated with the `LbEdgeExtension` resource. The format must comply with [the requirements for labels](https://cloud.google.com/compute/docs/labeling-resources#requirements) for Google Cloud resources.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "forwardingRules": {
          "description": "Required. A list of references to the forwarding rules to which this service extension is attached. At least one forwarding rule is required. Only one `LbEdgeExtension` resource can be associated with a forwarding rule.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "extensionChains": {
          "type": "array",
          "description": "Required. A set of ordered extension chains that contain the match conditions and extensions to execute. Match conditions for each extension chain are evaluated in sequence for a given request. The first extension chain that has a condition that matches the request is executed. Any subsequent extension chains do not execute. Limited to 5 extension chains per resource.",
          "items": {
            "$ref": "ExtensionChain"
          }
        },
        "loadBalancingScheme": {
          "enum": [
            "LOAD_BALANCING_SCHEME_UNSPECIFIED",
            "INTERNAL_MANAGED",
            "EXTERNAL_MANAGED"
          ],
          "enumDescriptions": [
            "Default value. Do not use.",
            "Signifies that this is used for Internal HTTP(S) Load Balancing.",
            "Signifies that this is used for External Managed HTTP(S) Load Balancing."
          ],
          "type": "string",
          "description": "Required. All forwarding rules referenced by this extension must share the same load balancing scheme. Supported values: `EXTERNAL_MANAGED`."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. Name of the `LbEdgeExtension` resource in the following format: `projects/{project}/locations/{location}/lbEdgeExtensions/{lb_edge_extension}`."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was created."
        },
        "description": {
          "description": "Optional. A human-readable description of the resource.",
          "type": "string"
        }
      }
    },
    "AgentGatewayAgentGatewayOutputCard": {
      "type": "object",
      "description": "AgentGatewayOutputCard contains informational output-only fields",
      "id": "AgentGatewayAgentGatewayOutputCard",
      "properties": {
        "serviceExtensionsServiceAccount": {
          "description": "Output only. Service Account used by Service Extensions to operate.",
          "readOnly": true,
          "type": "string"
        },
        "rootCertificates": {
          "description": "Output only. Root Certificates for Agents to validate this AgentGateway",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "mtlsEndpoint": {
          "description": "Output only. mTLS Endpoint associated with this AgentGateway",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ExtensionBindingMatchConditionStringMatch": {
      "type": "object",
      "description": "Specifies matching logic for string values.",
      "id": "ExtensionBindingMatchConditionStringMatch",
      "properties": {
        "exact": {
          "type": "string",
          "description": "Optional. The input string must match exactly the string specified here. Examples: * `abc` only matches the value `abc`."
        },
        "suffix": {
          "type": "string",
          "description": "Optional. The input string must have the suffix specified here. An empty suffix is not allowed. Examples: * `abc` matches the value `xyz.abc`."
        },
        "contains": {
          "description": "Optional. The input string must contain the substring specified here. An empty substring is not allowed. Examples: * `abc` matches the value `xyz.abc.def`.",
          "type": "string"
        },
        "ignoreCase": {
          "type": "boolean",
          "description": "Optional. If true, the `exact`, `prefix`, `suffix`, or `contains` match is case insensitive. For example, the matcher `data` matches both `Data` and `data` when set to true."
        },
        "prefix": {
          "description": "Optional. The input string must have the prefix specified here. An empty prefix is not allowed. Examples: * `abc` matches the value `abc.xyz`.",
          "type": "string"
        }
      }
    },
    "ServiceLbPolicyIsolationConfig": {
      "properties": {
        "isolationGranularity": {
          "enum": [
            "ISOLATION_GRANULARITY_UNSPECIFIED",
            "REGION"
          ],
          "description": "Optional. The isolation granularity of the load balancer.",
          "type": "string",
          "enumDescriptions": [
            "No isolation is configured for the backend service. Traffic can overflow based on the load balancing algorithm.",
            "Traffic for this service will be isolated at the cloud region level."
          ]
        },
        "isolationMode": {
          "type": "string",
          "description": "Optional. The isolation mode of the load balancer.",
          "enumDescriptions": [
            "No isolation mode is configured for the backend service.",
            "Traffic will be sent to the nearest region.",
            "Traffic will fail if no serving backends are available in the same region as the load balancer."
          ],
          "enum": [
            "ISOLATION_MODE_UNSPECIFIED",
            "NEAREST",
            "STRICT"
          ]
        }
      },
      "id": "ServiceLbPolicyIsolationConfig",
      "description": "Configuration to provide isolation support for the associated Backend Service.",
      "type": "object"
    },
    "GrpcRouteFaultInjectionPolicyAbort": {
      "type": "object",
      "description": "Specification of how client requests are aborted as part of fault injection before being sent to a destination.",
      "id": "GrpcRouteFaultInjectionPolicyAbort",
      "properties": {
        "httpStatus": {
          "type": "integer",
          "description": "The HTTP status code used to abort the request. The value must be between 200 and 599 inclusive.",
          "format": "int32"
        },
        "percentage": {
          "description": "The percentage of traffic which will be aborted. The value must be between [0, 100]",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "HttpRouteRouteMatch": {
      "type": "object",
      "id": "HttpRouteRouteMatch",
      "properties": {
        "regexMatch": {
          "description": "The HTTP request path value must satisfy the regular expression specified by regex_match after removing any query parameters and anchor supplied with the original URL. For regular expression grammar, please see https://github.com/google/re2/wiki/Syntax Only one of full_path_match, prefix_match, or regex_match should be used.",
          "type": "string"
        },
        "headers": {
          "description": "Specifies a list of HTTP request headers to match against. ALL of the supplied headers must be matched.",
          "type": "array",
          "items": {
            "$ref": "HttpRouteHeaderMatch"
          }
        },
        "ignoreCase": {
          "type": "boolean",
          "description": "Specifies if prefix_match and full_path_match matches are case sensitive. The default value is false."
        },
        "fullPathMatch": {
          "type": "string",
          "description": "The HTTP request path value should exactly match this value. Only one of full_path_match, prefix_match, or regex_match should be used."
        },
        "prefixMatch": {
          "description": "The HTTP request path value must begin with specified prefix_match. prefix_match must begin with a /. Only one of full_path_match, prefix_match, or regex_match should be used.",
          "type": "string"
        },
        "queryParameters": {
          "description": "Specifies a list of query parameters to match against. ALL of the query parameters must be matched.",
          "type": "array",
          "items": {
            "$ref": "HttpRouteQueryParameterMatch"
          }
        }
      },
      "description": "RouteMatch defines specifications used to match requests. If multiple match types are set, this RouteMatch will match if ALL type of matches are matched."
    },
    "ExtensionChain": {
      "id": "ExtensionChain",
      "description": "A single extension chain wrapper that contains the match conditions and extensions to execute.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name for this extension chain. The name is logged as part of the HTTP request logs. The name must conform with RFC-1034, is restricted to lower-cased letters, numbers and hyphens, and can have a maximum length of 63 characters. Additionally, the first character must be a letter and the last a letter or a number."
        },
        "matchCondition": {
          "description": "Required. Conditions under which this chain is invoked for a request.",
          "$ref": "ExtensionChainMatchCondition"
        },
        "extensions": {
          "type": "array",
          "description": "Required. A set of extensions to execute for the matching request. At least one extension is required. Up to 3 extensions can be defined for each extension chain for `LbTrafficExtension` resource. `LbRouteExtension`, `LbEdgeExtension`, and `LbTcpExtension` chains are limited to 1 extension per extension chain.",
          "items": {
            "$ref": "ExtensionChainExtension"
          }
        }
      },
      "type": "object"
    },
    "RetryFilterPerRouteConfig": {
      "properties": {
        "cryptoKeyName": {
          "description": "The name of the crypto key to use for encrypting event data.",
          "type": "string"
        }
      },
      "id": "RetryFilterPerRouteConfig",
      "type": "object"
    },
    "ExtensionBindingMatchConditionTo": {
      "properties": {
        "notDestination": {
          "description": "Optional. Describes the negated properties of the request destination. Extension will not be invoked on requests that match the criteria specified in this field. At least one of destination or not_destination must be specified.",
          "$ref": "ExtensionBindingMatchConditionToDestination"
        },
        "destination": {
          "description": "Optional. Describes properties of the destination of a request. A request matches the destination only if it matches every field that is set. Fields that are not set are always considered a match. For example, if only `hosts` and `paths` are set, a request matches when any host matches and any path matches. At least one of `destination` or `not_destination` must be specified.",
          "$ref": "ExtensionBindingMatchConditionToDestination"
        }
      },
      "description": "Describes properties of one or more destinations of a request.",
      "type": "object",
      "id": "ExtensionBindingMatchConditionTo"
    },
    "ExtensionBindingMatchConditionToDestination": {
      "description": "Describes properties of a single destination.",
      "properties": {
        "hosts": {
          "description": "Optional. A list of HTTP Hosts to match against. Limited to 10 hosts. If not specified, any host is allowed. If specified, a match occurs if any of the hosts matches the host value in the request.",
          "items": {
            "$ref": "ExtensionBindingMatchConditionStringMatch"
          },
          "type": "array"
        },
        "resources": {
          "description": "Optional. A list of non-empty strings whose value is matched against the resource to which a request is sent (e.g., an Agent in AiApplication). If not specified, any resource is allowed. If specified, a match occurs if any of the resources matches the resource value in the request. Limited to 5 resources. When matching against resources in the AgentRegistry, use the URNs of the registry resources.",
          "items": {
            "$ref": "ExtensionBindingMatchConditionStringMatch"
          },
          "type": "array"
        },
        "paths": {
          "items": {
            "$ref": "ExtensionBindingMatchConditionStringMatch"
          },
          "type": "array",
          "description": "Optional. A list of paths to match against. Limited to 10 paths. If not specified, any path is allowed. Note that this path match includes the query parameters. For gRPC services, this should be a fully-qualified name of the form /package.service/method."
        },
        "headerSet": {
          "$ref": "ExtensionBindingMatchConditionToDestinationHeaderSet",
          "description": "Optional. A set of HTTP headers to match against. If not specified, requests with any headers are matched."
        }
      },
      "id": "ExtensionBindingMatchConditionToDestination",
      "type": "object"
    },
    "HttpRouteFaultInjectionPolicy": {
      "type": "object",
      "id": "HttpRouteFaultInjectionPolicy",
      "properties": {
        "delay": {
          "description": "The specification for injecting delay to client requests.",
          "$ref": "HttpRouteFaultInjectionPolicyDelay"
        },
        "abort": {
          "$ref": "HttpRouteFaultInjectionPolicyAbort",
          "description": "The specification for aborting to client requests."
        }
      },
      "description": "The specification for fault injection introduced into traffic to test the resiliency of clients to destination service failure. As part of fault injection, when clients send requests to a destination, delays can be introduced by client proxy on a percentage of requests before sending those requests to the destination service. Similarly requests can be aborted by client proxy for a percentage of requests."
    },
    "AgentGatewayNetworkConfigEgress": {
      "type": "object",
      "properties": {
        "networkAttachment": {
          "type": "string",
          "description": "Optional. The URI of the Network Attachment resource."
        }
      },
      "description": "Configuration for Egress",
      "id": "AgentGatewayNetworkConfigEgress"
    },
    "HttpRouteRetryPolicy": {
      "properties": {
        "retryConditions": {
          "description": "Specifies one or more conditions when this retry policy applies. Valid values are: 5xx: Proxy will attempt a retry if the destination service responds with any 5xx response code, of if the destination service does not respond at all, example: disconnect, reset, read timeout, connection failure and refused streams. gateway-error: Similar to 5xx, but only applies to response codes 502, 503, 504. reset: Proxy will attempt a retry if the destination service does not respond at all (disconnect/reset/read timeout) connect-failure: Proxy will retry on failures connecting to destination for example due to connection timeouts. retriable-4xx: Proxy will retry fro retriable 4xx response codes. Currently the only retriable error supported is 409. refused-stream: Proxy will retry if the destination resets the stream with a REFUSED_STREAM error code. This reset type indicates that it is safe to retry.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "numRetries": {
          "description": "Specifies the allowed number of retries. This number must be > 0. If not specified, default to 1.",
          "type": "integer",
          "format": "int32"
        },
        "perTryTimeout": {
          "format": "google-duration",
          "description": "Specifies a non-zero timeout per retry attempt.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The specifications for retries.",
      "id": "HttpRouteRetryPolicy"
    },
    "TlsRoute": {
      "properties": {
        "selfLink": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined URL of this resource"
        },
        "name": {
          "description": "Identifier. Name of the TlsRoute resource. It matches pattern `projects/*/locations/*/tlsRoutes/tls_route_name>`.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. A free-text description of the resource. Max length 1024 characters.",
          "type": "string"
        },
        "meshes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Meshes defines a list of meshes this TlsRoute is attached to, as one of the routing rules to route the requests served by the mesh. Each mesh reference should match the pattern: `projects/*/locations/*/meshes/` The attached Mesh should be of a type SIDECAR"
        },
        "rules": {
          "type": "array",
          "description": "Required. Rules that define how traffic is routed and handled. At least one RouteRule must be supplied. If there are multiple rules then the action taken will be the first rule to match.",
          "items": {
            "$ref": "TlsRouteRouteRule"
          }
        },
        "targetProxies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. TargetProxies defines a list of TargetTcpProxies this TlsRoute is attached to, as one of the routing rules to route the requests served by the TargetTcpProxy. Each TargetTcpProxy reference should match the pattern: `projects/*/locations/*/targetTcpProxies/`"
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the TlsRoute resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "gateways": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Gateways defines a list of gateways this TlsRoute is attached to, as one of the routing rules to route the requests served by the gateway. Each gateway reference should match the pattern: `projects/*/locations/*/gateways/`",
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created."
        }
      },
      "description": "TlsRoute defines how traffic should be routed based on SNI and other matching L3 attributes.",
      "type": "object",
      "id": "TlsRoute"
    },
    "WasmPluginVersionDetails": {
      "id": "WasmPluginVersionDetails",
      "properties": {
        "description": {
          "description": "Optional. A human-readable description of the resource.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was updated."
        },
        "labels": {
          "description": "Optional. Set of labels associated with the `WasmPluginVersion` resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "pluginConfigDigest": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This field holds the digest (usually checksum) value for the plugin configuration. The value is calculated based on the contents of `plugin_config_data` field or the image defined by the `plugin_config_uri` field."
        },
        "pluginConfigUri": {
          "description": "URI of the plugin configuration stored in the Artifact Registry. The configuration is provided to the plugin at runtime through the `ON_CONFIGURE` callback. The URI can refer to one of the following repository formats: * Container images: the `plugin_config_uri` must point to a container that contains a single file with the name `plugin.config`. When a new `WasmPluginVersion` resource is created, the digest of the image is saved in the `plugin_config_digest` field. When pulling a container image from Artifact Registry, the digest value is used instead of an image tag. * Generic artifacts: the `plugin_config_uri` must be in this format: `projects/{project}/locations/{location}/repositories/{repository}/ genericArtifacts/{package}:{version}`. The specified package and version must contain a file with the name `plugin.config`. When a new `WasmPluginVersion` resource is created, the checksum of the contents of the file is saved in the `plugin_config_digest` field.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created.",
          "readOnly": true,
          "type": "string"
        },
        "pluginConfigData": {
          "type": "string",
          "format": "byte",
          "description": "Configuration for the plugin. The configuration is provided to the plugin at runtime through the `ON_CONFIGURE` callback. When a new `WasmPluginVersion` version is created, the digest of the contents is saved in the `plugin_config_digest` field."
        },
        "imageDigest": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This field holds the digest (usually checksum) value for the plugin image. The value is calculated based on the `image_uri` field. If the `image_uri` field refers to a container image, the digest value is obtained from the container image. If the `image_uri` field refers to a generic artifact, the digest value is calculated based on the contents of the file."
        },
        "imageUri": {
          "type": "string",
          "description": "Optional. URI of the image containing the Wasm module, stored in Artifact Registry. The URI can refer to one of the following repository formats: * Container images: the `image_uri` must point to a container that contains a single file with the name `plugin.wasm`. When a new `WasmPluginVersion` resource is created, the digest of the image is saved in the `image_digest` field. When pulling a container image from Artifact Registry, the digest value is used instead of an image tag. * Generic artifacts: the `image_uri` must be in this format: `projects/{project}/locations/{location}/repositories/{repository}/ genericArtifacts/{package}:{version}`. The specified package and version must contain a file with the name `plugin.wasm`. When a new `WasmPluginVersion` resource is created, the checksum of the contents of the file is saved in the `image_digest` field."
        }
      },
      "type": "object",
      "description": "Details of a `WasmPluginVersion` resource to be inlined in the `WasmPlugin` resource."
    },
    "ListLbRouteExtensionsResponse": {
      "type": "object",
      "id": "ListLbRouteExtensionsResponse",
      "description": "Message for response to listing `LbRouteExtension` resources.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "lbRouteExtensions": {
          "type": "array",
          "items": {
            "$ref": "LbRouteExtension"
          },
          "description": "The list of `LbRouteExtension` resources."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results that the server returns.",
          "type": "string"
        }
      }
    },
    "HttpRouteDestination": {
      "properties": {
        "serviceName": {
          "description": "The URL of a BackendService to route traffic to.",
          "type": "string"
        },
        "requestHeaderModifier": {
          "description": "Optional. The specification for modifying the headers of a matching request prior to delivery of the request to the destination. If HeaderModifiers are set on both the Destination and the RouteAction, they will be merged. Conflicts between the two will not be resolved on the configuration.",
          "$ref": "HttpRouteHeaderModifier"
        },
        "weight": {
          "description": "Specifies the proportion of requests forwarded to the backend referenced by the serviceName field. This is computed as: - weight/Sum(weights in this destination list). For non-zero values, there may be some epsilon from the exact proportion defined here depending on the precision an implementation supports. If only one serviceName is specified and it has a weight greater than 0, 100% of the traffic is forwarded to that backend. If weights are specified for any one service name, they need to be specified for all of them. If weights are unspecified for all services, then, traffic is distributed in equal proportions to all of them.",
          "format": "int32",
          "type": "integer"
        },
        "responseHeaderModifier": {
          "$ref": "HttpRouteHeaderModifier",
          "description": "Optional. The specification for modifying the headers of a response prior to sending the response back to the client. If HeaderModifiers are set on both the Destination and the RouteAction, they will be merged. Conflicts between the two will not be resolved on the configuration."
        }
      },
[...]
