{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "protocol": "rest",
  "servicePath": "",
  "basePath": "",
  "id": "networksecurity:v1beta1",
  "discoveryVersion": "v1",
  "description": "",
  "revision": "20260924",
  "documentationLink": "https://cloud.google.com/networking",
  "baseUrl": "https://networksecurity.googleapis.com/",
  "kind": "discovery#restDescription",
  "version": "v1beta1",
  "schemas": {
    "RateLimitPolicyRateLimitRuleRateLimitAction": {
      "description": "Describes the action to take when the rate limit rule is matched.",
      "id": "RateLimitPolicyRateLimitRuleRateLimitAction",
      "type": "object",
      "properties": {
        "rateLimitBucket": {
          "description": "Required. Specifies the name of the rate limit bucket to apply when this rule is matched.",
          "type": "string"
        }
      }
    },
    "WildfireVerdictChangeRequest": {
      "description": "Message for a WildfireVerdictChangeRequest.",
      "type": "object",
      "properties": {
        "oldVerdict": {
          "description": "Output only. The original verdict of the Malware Sample.",
          "enumDescriptions": [
            "Default value. Malware is not yet classified.",
            "Sample is safe and does not exhibit malicious behavior.",
            "Sample is malware and poses a security threat.",
            "Sample does not pose a direct security threat, but might display otherwise obtrusive behavior.",
            "Link directs users to a phishing site and poses a security threat."
          ],
          "type": "string",
          "enum": [
            "WILDFIRE_SAMPLE_VERDICT_UNKNOWN",
            "BENIGN",
            "MALWARE",
            "GRAYWARE",
            "PHISHING"
          ],
          "readOnly": true
        },
        "wildfireVerdictChangeRequestId": {
          "description": "Output only. The ID of the WildfireVerdictChangeRequest. This is a unique identifier generated by the third party API. Format: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
          "readOnly": true,
          "type": "string"
        },
        "sha256": {
          "description": "Required. The SHA256 hash of the Malware Sample to change the verdict of.",
          "type": "string"
        },
        "state": {
          "enum": [
            "VERDICT_CHANGE_REQUEST_STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED",
            "PENDING"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. Request does not have a state. This value is unused.",
            "Request has been created and review has not started.",
            "Malware Sample has been reviewed and the final verdict has been updated.",
            "Malware Sample is currently being reviewed."
          ],
          "description": "Output only. The review state of the WildfireVerdictChangeRequest."
        },
        "newVerdict": {
          "enumDescriptions": [
            "Default value. Malware is not yet classified.",
            "Sample is safe and does not exhibit malicious behavior.",
            "Sample is malware and poses a security threat.",
            "Sample does not pose a direct security threat, but might display otherwise obtrusive behavior.",
            "Link directs users to a phishing site and poses a security threat."
          ],
          "description": "Required. The suggested verdict to apply to the Malware Sample.",
          "type": "string",
          "enum": [
            "WILDFIRE_SAMPLE_VERDICT_UNKNOWN",
            "BENIGN",
            "MALWARE",
            "GRAYWARE",
            "PHISHING"
          ]
        },
        "finalVerdict": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "WILDFIRE_SAMPLE_VERDICT_UNKNOWN",
            "BENIGN",
            "MALWARE",
            "GRAYWARE",
            "PHISHING"
          ],
          "description": "Output only. The final verdict of the Malware Sample.",
          "enumDescriptions": [
            "Default value. Malware is not yet classified.",
            "Sample is safe and does not exhibit malicious behavior.",
            "Sample is malware and poses a security threat.",
            "Sample does not pose a direct security threat, but might display otherwise obtrusive behavior.",
            "Link directs users to a phishing site and poses a security threat."
          ]
        },
        "sourceRegion": {
          "description": "Output only. The region of the file associated with the Malware Sample.",
          "type": "string",
          "readOnly": true
        },
        "resolutionTime": {
          "description": "Output only. The timestamp when the WildfireVerdictChangeRequest was resolved.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "fileType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The file type of the Malware Sample."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The relative name of the WildfireVerdictChangeRequest. Output only. This is a unique identifier generated by the third party API. Format: organizations|projects/{project_or_organization}/locations/{location}/firewallEndpoints/{firewall_endpoint}/wildfireVerdictChangeRequests/{wildfire_verdict_change_request_id} Where {wildfire_verdict_change_request_id} is the ID in the format: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
        },
        "comment": {
          "type": "string",
          "description": "Required. The justification for the verdict change request. Max length 2048 characters."
        },
        "fileName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The file name of the Malware Sample."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the WildfireVerdictChangeRequest was last updated."
        },
        "createTime": {
          "description": "Output only. The timestamp when the WildfireVerdictChangeRequest was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "WildfireVerdictChangeRequest"
    },
    "ClientTlsPolicy": {
      "description": "ClientTlsPolicy is a resource that specifies how a client should authenticate connections to backends of a service. This resource itself does not affect configuration unless it is attached to a backend service resource.",
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "sni": {
          "description": "Optional. Server Name Indication string to present to the server during TLS handshake. E.g: \"secure.example.com\".",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the ClientTlsPolicy resource. It matches the pattern `projects/{project}/locations/{location}/clientTlsPolicies/{client_tls_policy}`"
        },
        "serverValidationCa": {
          "type": "array",
          "description": "Optional. Defines the mechanism to obtain the Certificate Authority certificate to validate the server certificate. If empty, client does not validate the server certificate.",
          "items": {
            "$ref": "ValidationCA"
          }
        },
        "clientCertificate": {
          "description": "Optional. Defines a mechanism to provision client identity (public and private keys) for peer to peer authentication. The presence of this dictates mTLS.",
          "$ref": "GoogleCloudNetworksecurityV1beta1CertificateProvider"
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        }
      },
      "id": "ClientTlsPolicy"
    },
    "RateLimitPolicyRateLimitRuleToDestinationMCPMethod": {
      "id": "RateLimitPolicyRateLimitRuleToDestinationMCPMethod",
      "description": "Describes a set of MCP methods to match against. This field is only valid if the targeted Gateway or Forwarding Rule has an Agent Gateway attached to it.",
      "type": "object",
      "properties": {
        "params": {
          "description": "Optional. Specifies a list of MCP method parameter names to match against. The match can be one of exact, prefix, suffix, or contains (substring match). Matches are always case sensitive unless the ignoreCase is set.",
          "items": {
            "$ref": "RateLimitPolicyRateLimitRuleStringMatch"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Required. Specifies the MCP method to match against. Allowed values are as follows: 1. `tools`, `prompts`, `resources` - these will match against all sub methods under the respective methods. 2. `prompts/list`, `tools/list`, `resources/list`, `resources/templates/list` 3. `prompts/get`, `tools/call`, `resources/subscribe`, `resources/unsubscribe`, `resources/read` Params cannot be specified for categories 1 and 2."
        }
      }
    },
    "AuthzPolicyAuthzRuleHeaderMatch": {
      "description": "Determines how a HTTP header should be matched.",
      "id": "AuthzPolicyAuthzRuleHeaderMatch",
      "type": "object",
      "properties": {
        "value": {
          "$ref": "AuthzPolicyAuthzRuleStringMatch",
          "description": "Optional. Specifies how the header match will be performed."
        },
        "name": {
          "description": "Optional. Specifies the name of the header in the request.",
          "type": "string"
        }
      }
    },
    "FirewallEndpoint": {
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs",
          "type": "object"
        },
        "satisfiesPzs": {
          "description": "Output only. [Output Only] Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. Whether reconciling is in progress, recommended per https://google.aip.dev/128.",
          "type": "boolean"
        },
        "explicitPrivateServiceConnectAttachment": {
          "description": "Output only. The resource name of the explicit PSC Attachment. Format: projects/{project}/regions/{region}/serviceAttachments/{id}",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. Current state of the endpoint.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "Not set.",
            "Being created.",
            "Processing configuration updates.",
            "Being deleted.",
            "Down or in an error state."
          ],
          "readOnly": true,
          "type": "string"
        },
        "endpointSettings": {
          "description": "Optional. Settings for the endpoint.",
          "$ref": "FirewallEndpointEndpointSettings"
        },
        "associations": {
          "type": "array",
          "items": {
            "$ref": "FirewallEndpointAssociationReference"
          },
          "readOnly": true,
          "description": "Output only. List of FirewallEndpointAssociations that are associated to this endpoint. An association will only appear in this list after traffic routing is fully configured."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Create time stamp.",
          "readOnly": true
        },
        "associatedNetworks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Deprecated: List of networks that are associated with this endpoint in the local zone. This is a projection of the FirewallEndpointAssociations pointing at this endpoint. A network will only appear in this list after traffic routing is fully configured. Format: projects/{project}/global/networks/{name}.",
          "deprecated": true
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Update time stamp"
        },
        "billingProjectId": {
          "type": "string",
          "description": "Optional. Project to charge for the deployed firewall endpoint. This field must be specified when creating the endpoint in the organization scope, and should be omitted otherwise."
        },
        "name": {
          "description": "Immutable. Identifier. Name of resource.",
          "type": "string"
        },
        "wildfireSettings": {
          "description": "Optional. Settings for WildFire analysis.",
          "$ref": "FirewallEndpointWildfireSettings"
        },
        "description": {
          "description": "Optional. Description of the firewall endpoint. Max length 2048 characters.",
          "type": "string"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. [Output Only] Reserved for future use.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "FirewallEndpoint",
      "description": "Message describing Endpoint object."
    },
    "RateLimitPolicyRateLimitRuleStringMatch": {
      "id": "RateLimitPolicyRateLimitRuleStringMatch",
      "description": "Determines how a string value is matched.",
      "type": "object",
      "properties": {
        "suffix": {
          "description": "Checks if the input string has the suffix specified here. Note: empty suffix is not allowed, please use regex instead. Examples: * ``abc`` matches the value ``xyz.abc``",
          "type": "string"
        },
        "ignoreCase": {
          "description": "Optional. Indicates if the exact/prefix/suffix/contains matching should be case insensitive. For example, when true, the matcher ``data`` matches both input strings ``Data`` and ``data``.",
          "type": "boolean"
        },
        "contains": {
          "description": "Checks if the input string contains the substring specified here. Note: empty contains match is not allowed, please use regex instead. Examples: * ``abc`` matches the value ``xyz.abc.def``",
          "type": "string"
        },
        "exact": {
          "type": "string",
          "description": "Matches the input string exactly to the string specified here. Examples: * ``abc`` only matches the value ``abc``."
        },
        "prefix": {
          "description": "Checks if the input string has the prefix specified here. Note: empty prefix is not allowed, please use regex instead. Examples: * ``abc`` matches the value ``abc.xyz``",
          "type": "string"
        }
      }
    },
    "WildfireInlineMlSettingsInlineMlConfig": {
      "id": "WildfireInlineMlSettingsInlineMlConfig",
      "description": "Configuration for WildFire Inline ML analysis per file type.",
      "properties": {
        "action": {
          "enum": [
            "INLINE_ML_ACTION_UNSPECIFIED",
            "DISABLE",
            "ALERT",
            "ENABLE"
          ],
          "type": "string",
          "description": "Required. Action to take when a threat is detected using Inline ML.",
          "enumDescriptions": [
            "Inline ML threat action not specified.",
            "Disable WildFire Inline ML for the associated file type.",
            "Enable WildFire Inline ML for the associated file type. Overrides any protocol level settings with action stricter than ALERT to ALERT so that the malicious files detected generate a threat log to the consumer project but are not blocked.",
            "Enable WildFire Inline ML for the associated file type, malicious files detected will be blocked."
          ]
        },
        "fileType": {
          "enumDescriptions": [
            "Inline ML config not specified.",
            "Enable machine learning engine to dynamically detect malicious PE files.",
            "Enable machine learning engine to dynamically identify malicious PowerShell scripts with known length.",
            "Enable machine learning engine to dynamically identify malicious PowerShell script without known length.",
            "Enable machine learning engine to dynamically detect malicious ELF files.",
            "Enable machine learning engine to dynamically detect malicious MSOffice (97-03) files.",
            "Enable machine learning engine to dynamically detect malicious Shell files.",
            "Enable machine learning engine to dynamically detect malicious Open Office XML files.",
            "Enable machine learning engine to dynamically detect malicious Mach-O files."
          ],
          "description": "Required. File type to configure Inline ML for.",
          "type": "string",
          "enum": [
            "INLINE_ML_CONFIG_UNSPECIFIED",
            "WINDOWS_EXECUTABLE",
            "POWERSHELL_SCRIPT1",
            "POWERSHELL_SCRIPT2",
            "ELF",
            "MS_OFFICE",
            "SHELL",
            "OOXML",
            "MACHO"
          ]
        }
      },
      "type": "object"
    },
    "InterceptEndpointGroupAssociation": {
      "id": "InterceptEndpointGroupAssociation",
      "properties": {
        "locations": {
          "items": {
            "$ref": "InterceptLocation"
          },
          "description": "Output only. The list of locations where the association is configured. This information is retrieved from the linked endpoint group.",
          "readOnly": true,
          "type": "array"
        },
        "name": {
          "description": "Immutable. Identifier. The resource name of this endpoint group association, for example: `projects/123456789/locations/global/interceptEndpointGroupAssociations/my-eg-association`. See https://google.aip.dev/122 for more details.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. Current state of the endpoint group association.",
          "enumDescriptions": [
            "Not set.",
            "The association is ready and in sync with the linked endpoint group.",
            "The association is being created.",
            "The association is being deleted.",
            "The association is disabled due to a breaking change in another resource.",
            "The association is out of sync with the linked endpoint group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. Check the `locations_details` field for more details.",
            "An attempt to delete the association has failed. This is a terminal state and the association is not expected to be usable as some of its resources have been deleted. The only permitted operation is to retry deleting the association."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "CLOSED",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This part of the normal operation (e.g. adding a new location to the target deployment group). See https://google.aip.dev/128.",
          "type": "boolean",
          "readOnly": true
        },
        "interceptEndpointGroup": {
          "description": "Required. Immutable. The endpoint group that this association is connected to, for example: `projects/123456789/locations/global/interceptEndpointGroups/my-eg`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "locationsDetails": {
          "readOnly": true,
          "deprecated": true,
          "type": "array",
          "description": "Output only. The list of locations where the association is present. This information is retrieved from the linked endpoint group, and not configured as part of the association itself.",
          "items": {
            "$ref": "InterceptEndpointGroupAssociationLocationDetails"
          }
        },
        "networkCookie": {
          "readOnly": true,
          "format": "uint32",
          "type": "integer",
          "description": "Output only. Identifier used by the data-path. See the NSI GENEVE format for more details: https://docs.cloud.google.com/network-security-integration/docs/understand-geneve#network_id"
        },
        "network": {
          "type": "string",
          "description": "Required. Immutable. The VPC network that is associated. for example: `projects/123456789/global/networks/my-network`. See https://google.aip.dev/124."
        },
        "labels": {
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "An endpoint group association represents a link between a network and an endpoint group in the organization. Creating an association creates the networking infrastructure linking the network to the endpoint group, but does not enable intercept by itself. To enable intercept, the user must also create a network firewall policy containing intercept rules and associate it with the network.",
      "type": "object"
    },
    "ListUrlListsResponse": {
      "type": "object",
      "description": "Response returned by the ListUrlLists method.",
      "id": "ListUrlListsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "urlLists": {
          "items": {
            "$ref": "UrlList"
          },
          "description": "List of UrlList resources.",
          "type": "array"
        }
      }
    },
    "SACRealmSACRealmSymantecOptions": {
      "type": "object",
      "id": "SACRealmSACRealmSymantecOptions",
      "description": "Fields specific to realms using Symantec Cloud SWG.",
      "properties": {
        "secretPath": {
          "type": "string",
          "description": "Optional. API Key used to call Symantec APIs on the user's behalf. Required if using Symantec Cloud SWG. P4SA account needs permissions granted to read this secret. A secret ID, secret name, or secret URI can be specified, but it will be parsed and stored as a secret URI in the form `projects/{project_number}/secrets/my-secret`."
        },
        "availableSymantecSites": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Symantec site IDs which the user can choose to connect to.",
          "items": {
            "type": "string"
          }
        },
        "symantecConnectionState": {
          "enumDescriptions": [
            "No state specified. This should not be used.",
            "Successfully made a request to Symantec API.",
            "Cannot access the API key in the provided `secret_path`.",
            "Failed to get a successful response from Symantec API due to an invalid API key or Symantec API unavailability.",
            "The connection state is unavailable because live calls to Symantec API are not made for historical requests."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "SYMANTEC_CONNECTION_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "READ_SECRET_FAILED",
            "REQUEST_TO_SYMANTEC_FAILED",
            "UNAVAILABLE_FOR_HISTORICAL_REQUESTS"
          ],
          "description": "Output only. Connection status to Symantec API."
        }
      }
    },
    "AuthzPolicyCustomProvider": {
      "type": "object",
      "id": "AuthzPolicyCustomProvider",
      "properties": {
        "cloudIap": {
          "description": "Optional. Delegates authorization decisions to Cloud IAP. Applicable only for managed load balancers. Enabling Cloud IAP at the AuthzPolicy level is not compatible with Cloud IAP settings in the BackendService. Enabling IAP in both places will result in request failure. Ensure that IAP is enabled in either the AuthzPolicy or the BackendService but not in both places.",
          "$ref": "AuthzPolicyCustomProviderCloudIap"
        },
        "authzExtension": {
          "$ref": "AuthzPolicyCustomProviderAuthzExtension",
          "description": "Optional. Delegate authorization decision to user authored Service Extension. Only one of cloudIap or authzExtension can be specified."
        }
      },
      "description": "Allows delegating authorization decisions to Cloud IAP or to Service Extensions."
    },
    "AuthzPolicyAuthzRuleToRequestOperationHeaderSet": {
      "properties": {
        "headers": {
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleHeaderMatch"
          },
          "description": "Required. A list of headers to match against in http header. The match can be one of exact, prefix, suffix, or contains (substring match). The match follows AND semantics which means all the headers must match. Matches are always case sensitive unless the ignoreCase is set. Limited to 10 headers per Authorization Policy."
        }
      },
      "type": "object",
      "id": "AuthzPolicyAuthzRuleToRequestOperationHeaderSet",
      "description": "Describes a set of HTTP headers to match against."
    },
    "ListSecurityProfilesResponse": {
      "id": "ListSecurityProfilesResponse",
      "type": "object",
      "properties": {
        "securityProfiles": {
          "items": {
            "$ref": "SecurityProfile"
          },
          "type": "array",
          "description": "List of SecurityProfile resources."
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      },
      "description": "Response returned by the ListSecurityProfiles method."
    },
    "AuthzPolicyAuthzRuleIpBlock": {
      "id": "AuthzPolicyAuthzRuleIpBlock",
      "properties": {
        "prefix": {
          "description": "Required. The address prefix.",
          "type": "string"
        },
        "length": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The length of the address range."
        }
      },
      "description": "Represents a range of IP Addresses.",
      "type": "object"
    },
    "ListInterceptEndpointGroupsResponse": {
      "description": "Response message for ListInterceptEndpointGroups.",
      "id": "ListInterceptEndpointGroupsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        },
        "interceptEndpointGroups": {
          "type": "array",
          "description": "The endpoint groups from the specified parent.",
          "items": {
            "$ref": "InterceptEndpointGroup"
          }
        }
      },
      "type": "object"
    },
    "SecurityProfile": {
      "type": "object",
      "properties": {
        "urlFilteringProfile": {
          "description": "The URL filtering configuration for the SecurityProfile.",
          "$ref": "UrlFilteringProfile"
        },
        "type": {
          "enum": [
            "PROFILE_TYPE_UNSPECIFIED",
            "THREAT_PREVENTION",
            "CUSTOM_MIRRORING",
            "CUSTOM_INTERCEPT",
            "URL_FILTERING",
            "WILDFIRE_ANALYSIS"
          ],
          "description": "Immutable. The single ProfileType that the SecurityProfile resource configures.",
          "type": "string",
          "enumDescriptions": [
            "Profile type not specified.",
            "Profile type for threat prevention.",
            "Profile type for packet mirroring v2",
            "Profile type for TPPI.",
            "Profile type for URL filtering.",
            "Profile type for WildFire Analysis."
          ]
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. Name of the SecurityProfile resource. It matches pattern `projects|organizations/*/locations/{location}/securityProfiles/{security_profile}`."
        },
        "customMirroringProfile": {
          "$ref": "CustomMirroringProfile",
          "description": "The custom Packet Mirroring v2 configuration for the SecurityProfile."
        },
        "customInterceptProfile": {
          "description": "The custom TPPI configuration for the SecurityProfile.",
          "$ref": "CustomInterceptProfile"
        },
        "wildfireAnalysisProfile": {
          "description": "The WildFire Analysis configurations for SecurityProfile.",
          "$ref": "WildfireAnalysisProfile"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Resource creation timestamp.",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. An optional description of the profile. Max length 512 characters."
        },
        "threatPreventionProfile": {
          "$ref": "ThreatPreventionProfile",
          "description": "The threat prevention configuration for the SecurityProfile."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Last resource update timestamp."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "SecurityProfile",
      "description": "SecurityProfile is a resource that defines the behavior for one of many ProfileTypes."
    },
    "WildfireInlineCloudAnalysisRuleCustomFileTypes": {
      "id": "WildfireInlineCloudAnalysisRuleCustomFileTypes",
      "properties": {
        "fileTypes": {
          "description": "Required. File types to be submitted for WildFire inline cloud analysis.",
          "items": {
            "type": "string",
            "enum": [
              "FILE_TYPE_UNSPECIFIED",
              "PE"
            ],
            "enumDescriptions": [
              "File type not specified.",
              "Portable Executable (PE) files."
            ]
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The options to submit a custom list of file types for scan."
    },
    "ListAddressGroupsResponse": {
      "type": "object",
      "properties": {
        "addressGroups": {
          "items": {
            "$ref": "AddressGroup"
          },
          "type": "array",
          "description": "List of AddressGroups resources."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`.",
          "type": "string"
        }
      },
      "description": "Response returned by the ListAddressGroups method.",
      "id": "ListAddressGroupsResponse"
    },
    "ThreatOverride": {
      "description": "Defines what action to take for a specific threat_id match.",
      "id": "ThreatOverride",
      "properties": {
        "action": {
          "enumDescriptions": [
            "Threat action not specified.",
            "The default action (as specified by the vendor) is taken.",
            "The packet matching this rule will be allowed to transmit.",
            "The packet matching this rule will be allowed to transmit, but a threat_log entry will be sent to the consumer project.",
            "The packet matching this rule will be dropped, and a threat_log entry will be sent to the consumer project."
          ],
          "type": "string",
          "enum": [
            "THREAT_ACTION_UNSPECIFIED",
            "DEFAULT_ACTION",
            "ALLOW",
            "ALERT",
            "DENY"
          ],
          "description": "Required. Threat action override. For some threat types, only a subset of actions applies."
        },
        "type": {
          "type": "string",
          "enum": [
            "THREAT_TYPE_UNSPECIFIED",
            "UNKNOWN",
            "VULNERABILITY",
            "ANTIVIRUS",
            "SPYWARE",
            "DNS"
          ],
          "readOnly": true,
          "description": "Output only. Type of the threat (read only).",
          "enumDescriptions": [
            "Type of threat not specified.",
            "Type of threat is not derivable from threat ID. An override will be created for all types. Firewall will ignore overridden signature ID's that don't exist in the specific type.",
            "Threats related to system flaws that an attacker might otherwise attempt to exploit.",
            "Threats related to viruses and malware found in executables and file types.",
            "Threats related to command-and-control (C2) activity, where spyware on an infected client is collecting data without the user's consent and/or communicating with a remote attacker.",
            "Threats related to DNS."
          ]
        },
        "threatId": {
          "description": "Required. Vendor-specific ID of a threat to override.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RateLimitPolicyRateLimitBucket": {
      "id": "RateLimitPolicyRateLimitBucket",
      "properties": {
        "keys": {
          "description": "Required. Specifies the keys to use for rate limiting. At least one key is required. If multiple keys are specified, the keys will be combined and used as a single key.",
          "items": {
            "$ref": "RateLimitPolicyRateLimitBucketKey"
          },
          "type": "array"
        },
        "userOverrides": {
          "items": {
            "$ref": "RateLimitPolicyRateLimitBucketUserOverride"
          },
          "type": "array",
          "description": "Optional. Specifies a list of user overrides to apply to the rate limit bucket."
        },
        "dryRun": {
          "description": "Optional. Specifies whether the rate limit bucket is in dry-run mode.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Required. Specifies the name of the rate limit bucket. Name will be used to reference the bucket in the RateLimitAction."
        },
        "defaultLimit": {
          "description": "Required. Specifies the default limit to apply for this rate limit bucket.",
          "$ref": "RateLimitPolicyRateLimitBucketLimit"
        }
      },
      "description": "Describes properties of a rate limit bucket.",
      "type": "object"
    },
    "GoogleCloudNetworksecurityV1beta1CertificateProvider": {
      "id": "GoogleCloudNetworksecurityV1beta1CertificateProvider",
      "type": "object",
      "description": "Specification of certificate provider. Defines the mechanism to obtain the certificate and private key for peer to peer authentication.",
      "properties": {
        "grpcEndpoint": {
          "description": "gRPC specific configuration to access the gRPC server to obtain the cert and private key.",
          "$ref": "GoogleCloudNetworksecurityV1beta1GrpcEndpoint"
        },
        "certificateProviderInstance": {
          "description": "The certificate provider instance specification that will be passed to the data plane, which will be used to load necessary credential information.",
          "$ref": "CertificateProviderInstance"
        }
      }
    },
    "Source": {
      "type": "object",
      "description": "Specification of traffic source attributes.",
      "id": "Source",
      "properties": {
        "principals": {
          "description": "Optional. List of peer identities to match for authorization. At least one principal should match. Each peer can be an exact match, or a prefix match (example, \"namespace/*\") or a suffix match (example, \"*/service-account\") or a presence match \"*\". Authorization based on the principal name without certificate validation (configured by ServerTlsPolicy resource) is considered insecure.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ipBlocks": {
          "type": "array",
          "description": "Optional. List of CIDR ranges to match based on source IP address. At least one IP block should match. Single IP (e.g., \"1.2.3.4\") and CIDR (e.g., \"1.2.3.0/24\") are supported. Authorization based on source IP alone should be avoided. The IP addresses of any load balancers or proxies should be considered untrusted.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "description": "Response message for `TestIamPermissions` method."
    },
    "RateLimitPolicyRateLimitRuleToDestinationHeaderSet": {
      "properties": {
        "headers": {
          "type": "array",
          "description": "Required. Contains a list of headers to match against in http header. The match can be one of exact, prefix, suffix, or contains (substring match). The match follows AND semantics which means all the headers must match. Matches are always case sensitive unless the ignoreCase is set.",
          "items": {
            "$ref": "RateLimitPolicyRateLimitRuleHeaderMatch"
          }
        }
      },
      "id": "RateLimitPolicyRateLimitRuleToDestinationHeaderSet",
      "description": "Describes a set of HTTP headers to match against.",
      "type": "object"
    },
    "ListMirroringEndpointGroupAssociationsResponse": {
      "description": "Response message for ListMirroringEndpointGroupAssociations.",
      "type": "object",
      "id": "ListMirroringEndpointGroupAssociationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. See https://google.aip.dev/158 for more details.",
          "type": "string"
        },
        "mirroringEndpointGroupAssociations": {
          "items": {
            "$ref": "MirroringEndpointGroupAssociation"
          },
          "description": "The associations from the specified parent.",
          "type": "array"
        }
      }
    },
    "ListAddressGroupReferencesResponseAddressGroupReference": {
      "description": "The Reference of AddressGroup.",
      "id": "ListAddressGroupReferencesResponseAddressGroupReference",
      "properties": {
        "rulePriority": {
          "description": "Rule priority of the FirewallPolicy that is using the Address Group.",
          "type": "integer",
          "format": "int32"
        },
        "securityPolicy": {
          "type": "string",
          "description": "Cloud Armor SecurityPolicy that is using the Address Group."
        },
        "firewallPolicy": {
          "description": "FirewallPolicy that is using the Address Group.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "WildfireInlineMlOverride": {
      "type": "object",
      "properties": {
        "protocol": {
          "enumDescriptions": [
            "Protocol not specified.",
            "SMTP protocol",
            "SMB protocol",
            "POP3 protocol",
            "IMAP protocol",
            "HTTP2 protocol",
            "HTTP protocol",
            "FTP protocol"
          ],
          "enum": [
            "WILDFIRE_PROTOCOL_UNSPECIFIED",
            "WILDFIRE_SMTP",
            "WILDFIRE_SMB",
            "WILDFIRE_POP3",
            "WILDFIRE_IMAP",
            "WILDFIRE_HTTP2",
            "WILDFIRE_HTTP",
            "WILDFIRE_FTP"
          ],
          "description": "Required. Protocol to match for WildFire Inline ML override.",
          "type": "string"
        },
        "action": {
          "type": "string",
          "enumDescriptions": [
            "Threat action not specified.",
            "The default action (as specified by the vendor) is taken.",
            "The packet matching this rule will be allowed to transmit.",
            "The packet matching this rule will be allowed to transmit, but a threat_log entry will be sent to the consumer project.",
            "The packet matching this rule will be dropped, and a threat_log entry will be sent to the consumer project."
          ],
          "enum": [
            "WILDFIRE_THREAT_ACTION_UNSPECIFIED",
            "WILDFIRE_DEFAULT_ACTION",
            "WILDFIRE_ALLOW",
            "WILDFIRE_ALERT",
            "WILDFIRE_DENY"
          ],
          "description": "Required. The action to take for WildFire Inline ML override."
        }
      },
      "id": "WildfireInlineMlOverride",
      "description": "Defines what action to take for WildFire Inline ML threats per protocol."
    },
    "Destination": {
      "type": "object",
      "properties": {
        "ports": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "uint32"
          },
          "description": "Required. List of destination ports to match. At least one port should match."
        },
        "methods": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of HTTP methods to match. At least one method should match. Should not be set for gRPC services.",
          "type": "array"
        },
        "hosts": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of host names to match. Matched against the \":authority\" header in http requests. At least one host should match. Each host can be an exact match, or a prefix match (example \"mydomain.*\") or a suffix match (example \"*.myorg.com\") or a presence (any) match \"*\".",
          "type": "array"
        },
        "httpHeaderMatch": {
          "$ref": "HttpHeaderMatch",
          "description": "Optional. Match against key:value pair in http header. Provides a flexible match based on HTTP headers, for potentially advanced use cases. At least one header should match. Avoid using header matches to make authorization decisions unless there is a strong guarantee that requests arrive through a trusted client or proxy."
        }
      },
      "description": "Specification of traffic destination attributes.",
      "id": "Destination"
    },
    "WildfireAnalysisProfile": {
      "type": "object",
      "id": "WildfireAnalysisProfile",
      "description": "WildfireAnalysisProfile defines Palo Alto Networks WildFire behavior.",
      "properties": {
        "wildfireInlineMlOverrides": {
          "description": "Optional. Configuration for overriding inline ML WildFire actions per protocol.",
          "type": "array",
          "items": {
            "$ref": "WildfireInlineMlOverride"
          }
        },
        "wildfireRealtimeLookup": {
          "description": "Optional. Whether to hold the transfer of a file while the WildFire real-time signature cloud performs a signature lookup. Default value is false.",
          "type": "boolean"
        },
        "wildfireInlineMlSetting": {
          "$ref": "WildfireInlineMlSettings",
          "description": "Optional. Settings for WildFire Inline ML analysis."
        },
        "wildfireInlineMlSettings": {
          "deprecated": true,
          "description": "Optional. Settings for WildFire Inline ML analysis.",
          "type": "array",
          "items": {
            "$ref": "WildfireInlineMlSettings"
          }
        },
        "wildfireSubmissionRules": {
          "items": {
            "$ref": "WildfireSubmissionRule"
          },
          "description": "Optional. Configurations for WildFire file submissions.",
          "type": "array"
        },
        "wildfireInlineCloudAnalysisRules": {
          "description": "Optional. Configuration for WildFire inline cloud analysis.",
          "type": "array",
          "items": {
            "$ref": "WildfireInlineCloudAnalysisRule"
          }
        },
        "wildfireOverrides": {
          "description": "Optional. Configuration for overriding WildFire actions per protocol.",
          "items": {
            "$ref": "WildfireOverride"
          },
          "type": "array"
        },
        "wildfireThreatOverrides": {
          "type": "array",
          "description": "Optional. Configuration for overriding WildFire threats action by threat_id match.",
          "items": {
            "$ref": "WildfireThreatOverride"
          }
        }
      }
    },
    "AuthorizationPolicy": {
      "id": "AuthorizationPolicy",
      "description": "AuthorizationPolicy is a resource that specifies how a server should authorize incoming connections. This resource in itself does not change the configuration unless it's attached to a target https proxy or endpoint config selector resource.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was created."
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the AuthorizationPolicy resource. It matches pattern `projects/{project}/locations/{location}/authorizationPolicies/`."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Set of label tags associated with the AuthorizationPolicy resource."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "action": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Grant access.",
            "Deny access. Deny rules should be avoided unless they are used to provide a default \"deny all\" fallback."
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "description": "Required. The action to take when a rule match is found. Possible values are \"ALLOW\" or \"DENY\"."
        },
        "description": {
          "type": "string",
          "description": "Optional. Free-text description of the resource."
        },
        "rules": {
          "type": "array",
          "items": {
            "$ref": "Rule"
          },
          "description": "Optional. List of rules to match. Note that at least one of the rules must match in order for the action specified in the 'action' field to be taken. A rule is a match if there is a matching source and destination. If left blank, the action specified in the `action` field will be applied on every request."
        }
      },
      "type": "object"
    },
    "InterceptEndpointGroup": {
      "description": "An endpoint group is a consumer frontend for a deployment group (backend). In order to configure intercept for a network, consumers must create: - An association between their network and the endpoint group. - A security profile that points to the endpoint group. - A firewall rule that references the security profile (group).",
      "properties": {
        "labels": {
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description of the endpoint group. Used as additional context for the endpoint group."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "readOnly": true
        },
        "interceptDeploymentGroup": {
          "description": "Required. Immutable. The deployment group that this endpoint group is connected to, for example: `projects/123456789/locations/global/interceptDeploymentGroups/my-dg`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "connectedDeploymentGroup": {
          "$ref": "InterceptEndpointGroupConnectedDeploymentGroup",
          "description": "Output only. Details about the connected deployment group to this endpoint group.",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The endpoint group is ready and in sync with the target deployment group.",
            "The deployment group backing this endpoint group has been force-deleted. This endpoint group cannot be used and interception is effectively disabled.",
            "The endpoint group is being created.",
            "The endpoint group is being deleted.",
            "The endpoint group is out of sync with the backing deployment group. In most cases, this is a result of a transient issue within the system (e.g. an inaccessible location) and the system is expected to recover automatically. See the associations field for details per network and location.",
            "An attempt to delete the endpoint group has failed. This is a terminal state and the endpoint group is not expected to recover. The only permitted operation is to retry deleting the endpoint group."
          ],
          "description": "Output only. The current state of the endpoint group. See https://google.aip.dev/216.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CLOSED",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "readOnly": true
        },
        "name": {
          "description": "Immutable. Identifier. The resource name of this endpoint group, for example: `projects/123456789/locations/global/interceptEndpointGroups/my-eg`. See https://google.aip.dev/122 for more details.",
          "type": "string"
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This is part of the normal operation (e.g. adding a new association to the group). See https://google.aip.dev/128."
        },
        "associations": {
          "items": {
            "$ref": "InterceptEndpointGroupAssociationDetails"
          },
          "description": "Output only. List of associations to this endpoint group.",
          "type": "array",
          "readOnly": true
        }
      },
      "id": "InterceptEndpointGroup",
      "type": "object"
    },
    "SACRealm": {
      "properties": {
        "state": {
          "readOnly": true,
          "description": "Output only. State of the realm.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING_PARTNER_ATTACHMENT",
            "PARTNER_ATTACHED",
            "PARTNER_DETACHED",
            "KEY_EXPIRED"
          ],
          "type": "string",
          "enumDescriptions": [
            "No state specified. This should not be used.",
            "Has never been attached to a partner. Used only for Prisma Access.",
            "Currently attached to a partner.",
            "Was once attached to a partner but has been detached.",
            "Is not attached to a partner and has an expired pairing key. Used only for Prisma Access."
          ]
        },
        "symantecOptions": {
          "description": "Optional. Configuration required for Symantec realms.",
          "$ref": "SACRealmSACRealmSymantecOptions"
        },
        "name": {
          "description": "Identifier. Resource name, in the form `projects/{project}/locations/global/sacRealms/{sacRealm}`.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Optional list of labels applied to the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "securityService": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "[Palo Alto Networks Prisma Access](https://www.paloaltonetworks.com/sase/access).",
            "Symantec Cloud SWG."
          ],
          "type": "string",
          "description": "Immutable. SSE service provider associated with the realm.",
          "enum": [
            "SECURITY_SERVICE_UNSPECIFIED",
            "PALO_ALTO_PRISMA_ACCESS",
            "SYMANTEC_CLOUD_SWG"
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the realm was last updated.",
          "readOnly": true
        },
        "pairingKey": {
          "readOnly": true,
          "$ref": "SACRealmPairingKey",
          "description": "Output only. Key to be shared with SSE service provider during pairing."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the realm was created."
        }
      },
      "type": "object",
      "id": "SACRealm",
      "description": "Represents a Secure Access Connect (SAC) realm resource. A Secure Access Connect realm establishes a connection between your Google Cloud project and an SSE service."
    },
    "AuthzPolicyAuthzRuleRequestResourceTagValueIdSet": {
      "properties": {
        "ids": {
          "description": "Required. A list of resource tag value permanent IDs to match against the resource manager tags value associated with the source VM of a request. The match follows AND semantics which means all the ids must match. Limited to 5 ids in the Tag value id set.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        }
      },
      "id": "AuthzPolicyAuthzRuleRequestResourceTagValueIdSet",
      "description": "Describes a set of resource tag value permanent IDs to match against the resource manager tags value associated with the source VM of a request.",
      "type": "object"
    },
    "AuthzPolicyAuthzRuleFromRequestSource": {
      "id": "AuthzPolicyAuthzRuleFromRequestSource",
      "properties": {
        "principals": {
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRulePrincipal"
          },
          "description": "Optional. A list of identities derived from the client's certificate. This field will not match on a request unless frontend mutual TLS is enabled for the forwarding rule or Gateway and the client certificate has been successfully validated by mTLS. Each identity is a string whose value is matched against a list of URI SANs, DNS Name SANs, or the common name in the client's certificate. A match happens when any principal matches with the rule. Limited to 50 principals per Authorization Policy for regional internal Application Load Balancers, regional external Application Load Balancers, cross-region internal Application Load Balancers, and Cloud Service Mesh while 25 principals per Authorization Policy for global external Application Load Balancers."
        },
        "ipBlocks": {
          "description": "Optional. A list of IP addresses or IP address ranges to match against the source IP address of the request. Limited to 10 ip_blocks per Authorization Policy",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleIpBlock"
          },
          "type": "array"
        },
        "resources": {
          "description": "Optional. A list of resources to match against the resource of the source VM of a request. Limited to 10 resources per Authorization Policy.",
          "type": "array",
          "items": {
            "$ref": "AuthzPolicyAuthzRuleRequestResource"
          }
        }
      },
      "description": "Describes the properties of a single source.",
      "type": "object"
    },
    "MirroringEndpointGroupConnectedDeploymentGroup": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The connected deployment group's resource name, for example: `projects/123456789/locations/global/mirroringDeploymentGroups/my-dg`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "MirroringLocation"
          },
          "description": "Output only. The list of locations where the deployment group is present.",
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "The endpoint group's view of a connected deployment group.",
      "id": "MirroringEndpointGroupConnectedDeploymentGroup"
    },
    "MirroringDeployment": {
      "type": "object",
      "id": "MirroringDeployment",
      "description": "A deployment represents a zonal mirroring backend ready to accept GENEVE-encapsulated replica traffic, e.g. a zonal instance group fronted by an internal passthrough load balancer. Deployments are always part of a global deployment group which represents a global mirroring service.",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "mirroringDeploymentGroup": {
          "type": "string",
          "description": "Required. Immutable. The deployment group that this deployment is a part of, for example: `projects/123456789/locations/global/mirroringDeploymentGroups/my-dg`. See https://google.aip.dev/124."
        },
        "description": {
          "description": "Optional. User-provided description of the deployment. Used as additional context for the deployment.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "forwardingRule": {
          "description": "Required. Immutable. The regional forwarding rule that fronts the mirroring collectors, for example: `projects/123456789/regions/us-central1/forwardingRules/my-rule`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. Identifier. The resource name of this deployment, for example: `projects/123456789/locations/us-central1-a/mirroringDeployments/my-dep`. See https://google.aip.dev/122 for more details.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "type": "string",
          "format": "google-datetime"
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This part of the normal operation (e.g. linking a new association to the parent group). See https://google.aip.dev/128.",
          "type": "boolean"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "description": "Output only. The current state of the deployment. See https://google.aip.dev/216.",
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment is ready and in sync with the parent group.",
            "The deployment is being created.",
            "The deployment is being deleted.",
            "The deployment is out of sync with the parent group. In most cases, this is a result of a transient issue within the system (e.g. a delayed data-path config) and the system is expected to recover automatically. See the parent deployment group's state for more details.",
            "An attempt to delete the deployment has failed. This is a terminal state and the deployment is not expected to recover. The only permitted operation is to retry deleting the deployment."
          ],
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListSACRealmsResponse": {
      "description": "Response for `ListSACRealms` method.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "sacRealms": {
          "type": "array",
          "items": {
            "$ref": "SACRealm"
          },
          "description": "The list of SACRealms."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListSACRealmsResponse"
    },
    "ServerTlsPolicy": {
      "properties": {
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was updated.",
          "format": "google-datetime"
        },
        "allowOpen": {
          "description": "This field applies only for Traffic Director policies. It is must be set to false for Application Load Balancer policies. Determines if server allows plaintext connections. If set to true, server allows plain text connections. By default, it is set to false. This setting is not exclusive of other encryption modes. For example, if `allow_open` and `mtls_policy` are set, server allows both plain text and mTLS connections. See documentation of other encryption modes to confirm compatibility. Consider using it if you wish to upgrade in place your deployment to TLS while having mixed TLS and non-TLS traffic reaching port :80.",
          "type": "boolean"
        },
        "labels": {
          "description": "Set of label tags associated with the resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "serverCertificate": {
          "description": "Optional if policy is to be used with Traffic Director. For Application Load Balancers must be empty. Defines a mechanism to provision server identity (public and private keys). Cannot be combined with `allow_open` as a permissive mode that allows both plain text and TLS is not supported.",
          "$ref": "GoogleCloudNetworksecurityV1beta1CertificateProvider"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was created."
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the ServerTlsPolicy resource. It matches the pattern `projects/*/locations/{location}/serverTlsPolicies/{server_tls_policy}`"
        },
        "mtlsPolicy": {
          "$ref": "MTLSPolicy",
          "description": "This field is required if the policy is used with Application Load Balancers. This field can be empty for Traffic Director. Defines a mechanism to provision peer validation certificates for peer to peer authentication (Mutual TLS - mTLS). If not specified, client certificate will not be requested. The connection is treated as TLS and not mTLS. If `allow_open` and `mtls_policy` are set, server allows both plain text and mTLS connections."
        },
        "description": {
          "description": "Free-text description of the resource.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ServerTlsPolicy",
      "description": "ServerTlsPolicy is a resource that specifies how a server should authenticate incoming requests. This resource itself does not affect configuration unless it is attached to a target HTTPS proxy or endpoint config selector resource. ServerTlsPolicy in the form accepted by Application Load Balancers can be attached only to TargetHttpsProxy with an `EXTERNAL`, `EXTERNAL_MANAGED` or `INTERNAL_MANAGED` load balancing scheme. Traffic Director compatible ServerTlsPolicies can be attached to EndpointPolicy and TargetHttpsProxy with Traffic Director `INTERNAL_SELF_MANAGED` load balancing scheme."
    },
    "WildfireSubmissionRule": {
      "properties": {
        "customFileTypes": {
          "description": "Submit a custom list of file types for WildFire analysis.",
          "$ref": "WildfireSubmissionRuleCustomFileTypes"
        },
        "direction": {
          "type": "string",
          "description": "Required. Direction for the files to be analyzed by WildFire.",
          "enumDescriptions": [
            "Direction not specified.",
            "Upload direction.",
            "Download direction.",
            "Both upload and download directions."
          ],
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "UPLOAD",
            "DOWNLOAD",
            "BOTH"
          ]
        },
        "fileSelectionMode": {
          "enumDescriptions": [
            "File selection mode not specified.",
            "Submit all the file types for scan.",
            "Submit a custom list of file types for scan."
          ],
          "enum": [
            "FILE_SELECTION_MODE_UNSPECIFIED",
            "ALL_FILE_TYPES",
            "CUSTOM_FILE_TYPES"
          ],
          "description": "Required. File selection mode for WildFire analysis.",
          "type": "string"
        }
      },
      "id": "WildfireSubmissionRule",
      "type": "object",
      "description": "Defines the file types to be submitted for WildFire analysis and the direction of the traffic."
    },
    "InterceptEndpointGroupConnectedDeploymentGroup": {
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The connected deployment group's resource name, for example: `projects/123456789/locations/global/interceptDeploymentGroups/my-dg`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "InterceptLocation"
          },
          "description": "Output only. The list of locations where the deployment group is present."
        }
      },
      "id": "InterceptEndpointGroupConnectedDeploymentGroup",
      "description": "The endpoint group's view of a connected deployment group."
    },
    "ListSecurityProfileGroupsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there might be more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "securityProfileGroups": {
          "type": "array",
          "description": "List of SecurityProfileGroups resources.",
          "items": {
            "$ref": "SecurityProfileGroup"
          }
        }
      },
      "type": "object",
      "description": "Response returned by the ListSecurityProfileGroups method.",
      "id": "ListSecurityProfileGroupsResponse"
    },
    "UrlList": {
      "description": "UrlList proto helps users to set reusable, independently manageable lists of hosts, host patterns, URLs, URL patterns.",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Required. FQDNs and URLs.",
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when the security policy was created.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the security policy was updated."
        },
        "name": {
          "description": "Required. Name of the resource provided by the user. Name is of the form projects/{project}/locations/{location}/urlLists/{url_list} url_list should match the pattern:(^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$).",
          "type": "string"
        }
      },
      "id": "UrlList",
      "type": "object"
    },
    "RateLimitPolicyRateLimitBucketCountLimit": {
      "properties": {
        "count": {
          "description": "Required. Specifies the maximum number of costs allowed in the specified interval. Must be non-negative.",
          "format": "int64",
          "type": "string"
        },
        "intervalUnit": {
          "enum": [
            "INTERVAL_UNIT_UNSPECIFIED",
            "SECONDS",
            "MINUTES",
            "HOURS",
            "DAYS"
          ],
          "enumDescriptions": [
            "Represents an unspecified interval unit. Defaults to MINUTES.",
            "Indicates the interval is in seconds.",
            "Indicates the interval is in minutes.",
            "Indicates the interval is in hours.",
            "Indicates the interval is in days."
          ],
          "type": "string",
          "description": "Required. Specifies the unit of the interval. Defaults to MINUTES."
        },
        "interval": {
          "type": "string",
          "format": "int64",
          "description": "Required. Specifies the interval in units for which the count limit is enforced. Must be positive."
        }
      },
      "type": "object",
      "id": "RateLimitPolicyRateLimitBucketCountLimit",
      "description": "Describes the count limit for enforcement."
    },
    "RateLimitPolicyRateLimitRuleToDestinationMCP": {
      "id": "RateLimitPolicyRateLimitRuleToDestinationMCP",
      "type": "object",
      "description": "Describes a set of MCP protocol attributes to match against for a given MCP request. This field is only valid if the targeted Gateway or Forwarding Rule has an Agent Gateway attached to it.",
      "properties": {
        "baseProtocolMethodsOption": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified option. Defaults to SKIP_BASE_PROTOCOL_METHODS.",
            "Skip matching on the base MCP protocol methods.",
            "Match on the base MCP protocol methods."
          ],
          "enum": [
            "BASE_PROTOCOL_METHODS_OPTION_UNSPECIFIED",
            "SKIP_BASE_PROTOCOL_METHODS",
            "MATCH_BASE_PROTOCOL_METHODS"
          ],
          "description": "Optional. If specified, matches on the MCP protocol’s non-access specific methods namely: * initialize * completion/ * logging/ * notifications/ * ping Defaults to SKIP_BASE_PROTOCOL_METHODS if not specified."
        },
        "methods": {
          "type": "array",
          "description": "Optional. A list of MCP methods and associated parameter names to match on. It is recommended to use this field to match on tools, prompts and resource accesses while setting the baseProtocolMethodsOption to MATCH_BASE_PROTOCOL_METHODS to match on all the other MCP protocol methods. Limited to 10 MCP methods per Rate Limit Policy.",
          "items": {
            "$ref": "RateLimitPolicyRateLimitRuleToDestinationMCPMethod"
          }
        }
      }
    },
    "FirewallEndpointEndpointSettings": {
      "properties": {
        "jumboFramesEnabled": {
          "type": "boolean",
          "description": "Optional. Immutable. Indicates whether Jumbo Frames are enabled. Default value is false."
        },
        "contentCloudRegion": {
          "type": "string",
          "enumDescriptions": [
            "Palo Alto Networks content cloud region not specified.",
            "us.hawkeye.services-edge.paloaltonetworks.com",
            "APAC content cloud portal: apac.hawkeye.services-edge.paloaltonetworks.com",
            "India content cloud portal: in.hawkeye.services-edge.paloaltonetworks.com",
            "UK content cloud portal: uk.hawkeye.services-edge.paloaltonetworks.com",
            "France content cloud portal: fr.hawkeye.services-edge.paloaltonetworks.com",
            "Japan content cloud portal: jp.hawkeye.services-edge.paloaltonetworks.com",
            "Australia content cloud portal: au.hawkeye.services-edge.paloaltonetworks.com",
            "Canada content cloud portal: ca.hawkeye.services-edge.paloaltonetworks.com",
            "Switzerland content cloud portal: ch.hawkeye.services-edge.paloaltonetworks.com",
            "Netherlands content cloud portal: nl.hawkeye.services-edge.paloaltonetworks.com",
            "Indonesia content cloud portal: id.hawkeye.services-edge.paloaltonetworks.com",
            "Qatar content cloud portal: qa.hawkeye.services-edge.paloaltonetworks.com",
            "Taiwan content cloud portal: tw.hawkeye.services-edge.paloaltonetworks.com",
            "Poland content cloud portal: pl.hawkeye.services-edge.paloaltonetworks.com",
            "South Korea content cloud portal: kr.hawkeye.services-edge.paloaltonetworks.com",
            "Saudi Arabia content cloud portal: sa.hawkeye.services-edge.paloaltonetworks.com",
            "Italy content cloud portal: it.hawkeye.services-edge.paloaltonetworks.com"
          ],
          "description": "Optional. The content cloud region of the endpoint.",
          "enum": [
            "CONTENT_CLOUD_REGION_UNSPECIFIED",
            "US_CENTRAL",
            "APAC",
            "INDIA",
            "UK",
            "FRANCE",
            "JAPAN",
            "AUSTRALIA",
            "CANADA",
            "SWITZERLAND",
            "NETHERLANDS",
            "INDONESIA",
            "QATAR",
            "TAIWAN",
            "POLAND",
            "SOUTH_KOREA",
            "SAUDI_ARABIA",
            "ITALY"
          ]
        },
        "httpPartialResponseBlocked": {
          "type": "boolean",
          "description": "Optional. Whether to block HTTP partial responses for the endpoint. When this is true, resumption of blocked malicious HTTP file downloads will be blocked by the firewall. False provides maximum availability, true provides maximum security."
        }
      },
      "type": "object",
      "id": "FirewallEndpointEndpointSettings",
      "description": "Settings for the endpoint."
    },
    "InterceptDeployment": {
      "id": "InterceptDeployment",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Optional. Labels are key/value pairs that help to organize and filter resources.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "description": {
          "description": "Optional. User-provided description of the deployment. Used as additional context for the deployment.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment is ready and in sync with the parent group.",
            "The deployment is being created.",
            "The deployment is being deleted.",
            "The deployment is out of sync with the parent group. In most cases, this is a result of a transient issue within the system (e.g. a delayed data-path config) and the system is expected to recover automatically. See the parent deployment group's state for more details.",
            "An attempt to delete the deployment has failed. This is a terminal state and the deployment is not expected to recover. The only permitted operation is to retry deleting the deployment."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "description": "Output only. The current state of the deployment. See https://google.aip.dev/216.",
          "type": "string"
        },
        "interceptDeploymentGroup": {
          "description": "Required. Immutable. The deployment group that this deployment is a part of, for example: `projects/123456789/locations/global/interceptDeploymentGroups/my-dg`. See https://google.aip.dev/124.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was most recently updated. See https://google.aip.dev/148#timestamps.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the resource was created. See https://google.aip.dev/148#timestamps.",
          "readOnly": true,
          "type": "string"
        },
        "forwardingRule": {
          "type": "string",
          "description": "Required. Immutable. The regional forwarding rule that fronts the interceptors, for example: `projects/123456789/regions/us-central1/forwardingRules/my-rule`. See https://google.aip.dev/124."
        },
        "reconciling": {
          "description": "Output only. The current state of the resource does not match the user's intended state, and the system is working to reconcile them. This part of the normal operation (e.g. linking a new association to the parent group). See https://google.aip.dev/128.",
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "description": "Immutable. Identifier. The resource name of this deployment, for example: `projects/123456789/locations/us-central1-a/interceptDeployments/my-dep`. See https://google.aip.dev/122 for more details.",
          "type": "string"
        }
      },
      "description": "A deployment represents a zonal intercept backend ready to accept GENEVE-encapsulated traffic, e.g. a zonal instance group fronted by an internal passthrough load balancer. Deployments are always part of a global deployment group which represents a global intercept service."
    },
    "CustomMirroringProfile": {
      "properties": {
        "mirroringEndpointGroup": {
          "description": "Required. Immutable. The target MirroringEndpointGroup. When a mirroring rule with this security profile attached matches a packet, a replica will be mirrored to the location-local target in this group.",
          "type": "string"
        }
      },
      "description": "CustomMirroringProfile defines out-of-band integration behavior (mirroring). It is used by mirroring rules with a MIRROR action.",
      "type": "object",
      "id": "CustomMirroringProfile"
    },
    "GatewaySecurityPolicy": {
      "description": "The GatewaySecurityPolicy resource contains a collection of GatewaySecurityPolicyRules and associated metadata.",
      "id": "GatewaySecurityPolicy",
      "properties": {
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the resource was created.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Required. Name of the resource. Name is of the form projects/{project}/locations/{location}/gatewaySecurityPolicies/{gateway_security_policy} gateway_security_policy should match the pattern:(^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$).",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the resource was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "tlsInspectionPolicy": {
          "description": "Optional. Name of a TLS Inspection Policy resource that defines how TLS inspection will be performed for any rule(s) which enables it.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InterceptDeploymentGroupDeployment": {
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. Most recent known state of the deployment.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "DELETING",
            "OUT_OF_SYNC",
            "DELETE_FAILED"
          ],
          "enumDescriptions": [
            "State not set (this is not a valid state).",
            "The deployment is ready and in sync with the parent group.",
            "The deployment is being created.",
            "The deployment is being deleted.",
            "The deployment is out of sync with the parent group. In most cases, this is a result of a transient issue within the system (e.g. a delayed data-path config) and the system is expected to recover automatically. See the parent deployment group's state for more details.",
            "An attempt to delete the deployment has failed. This is a terminal state and the deployment is not expected to recover. The only permitted operation is to retry deleting the deployment."
          ],
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the Intercept Deployment, in the format: `projects/{project}/locations/{location}/interceptDeployments/{intercept_deployment}`.",
          "type": "string"
        }
      },
      "id": "InterceptDeploymentGroupDeployment",
      "description": "A deployment belonging to this deployment group."
    },
    "AntivirusOverride": {
      "id": "AntivirusOverride",
      "description": "Defines what action to take for antivirus threats per protocol.",
      "type": "object",
      "properties": {
        "action": {
          "description": "Required. Threat action override. For some threat types, only a subset of actions applies.",
          "enum": [
            "THREAT_ACTION_UNSPECIFIED",
            "DEFAULT_ACTION",
            "ALLOW",
            "ALERT",
            "DENY"
          ],
          "enumDescriptions": [
            "Threat action not specified.",
            "The default action (as specified by the vendor) is taken.",
            "The packet matching this rule will be allowed to transmit.",
            "The packet matching this rule will be allowed to transmit, but a threat_log entry will be sent to the consumer project.",
            "The packet matching this rule will be dropped, and a threat_log entry will be sent to the consumer project."
          ],
          "type": "string"
        },
        "protocol": {
          "type": "string",
          "enumDescriptions": [
            "Protocol not specified.",
            "SMTP protocol",
            "SMB protocol",
            "POP3 protocol",
            "IMAP protocol",
            "HTTP2 protocol",
            "HTTP protocol",
            "FTP protocol"
          ],
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "SMTP",
            "SMB",
            "POP3",
            "IMAP",
            "HTTP2",
            "HTTP",
            "FTP"
          ],
          "description": "Required. Protocol to match."
        }
      }
    },
    "FirewallEndpointWildfireSettings": {
      "description": "Settings for WildFire analysis.",
      "type": "object",
      "id": "FirewallEndpointWildfireSettings",
      "properties": {
        "enabled": {
          "description": "Optional. Indicates whether WildFire analysis is enabled. Default value is false.",
          "type": "boolean"
        },
        "wildfireRegion": {
          "type": "string",
          "enum": [
            "WILDFIRE_REGION_UNSPECIFIED",
            "CANADA",
            "UNITED_STATES",
            "JAPAN",
            "SINGAPORE",
            "UNITED_KINGDOM",
            "AUSTRALIA",
            "GERMANY",
            "INDIA",
            "SWITZERLAND",
            "POLAND",
            "INDONESIA",
            "TAIWAN",
            "FRANCE",
            "QATAR",
            "SOUTH_KOREA",
            "ISRAEL",
            "SAUDI_ARABIA",
            "SPAIN"
          ],
          "description": "Optional. The region where WildFire analysis will be performed. Palo Alto Networks supports regions: https://docs.paloaltonetworks.com/advanced-wildfire/administration/advanced-wildfire-overview/advanced-wildfire-deployments/advanced-wildfire-global-cloud",
          "enumDescriptions": [
            "WildFire region not specified.",
            "Canada cloud portal: ca.wildfire.paloaltonetworks.com",
            "United States cloud portal: us-native.wildfire.paloaltonetworks.com",
            "Japan cloud portal: jp.wildfire.paloaltonetworks.com",
            "Singapore cloud portal: sg.wildfire.paloaltonetworks.com",
            "United Kingdom cloud portal: uk.wildfire.paloaltonetworks.com",
            "Australia cloud portal: au.wildfire.paloaltonetworks.com",
            "Germany cloud portal: de.wildfire.paloaltonetworks.com",
            "India cloud portal: in.wildfire.paloaltonetworks.com",
            "Switzerland cloud portal: ch.wildfire.paloaltonetworks.com",
            "Poland cloud portal: pl.wildfire.paloaltonetworks.com",
            "Indonesia cloud portal: id.wildfire.paloaltonetworks.com",
            "Taiwan cloud portal: tw.wildfire.paloaltonetworks.com",
            "France cloud portal: fr.wildfire.paloaltonetworks.com",
            "Qatar cloud portal: qatar.wildfire.paloaltonetworks.com",
            "South Korea cloud portal: kr.wildfire.paloaltonetworks.com",
            "Israel cloud portal: il.wildfire.paloaltonetworks.com",
            "Saudi Arabia cloud portal: sa.wildfire.paloaltonetworks.com",
            "Spain cloud portal: es.wildfire.paloaltonetworks.com"
          ]
        },
        "wildfireInlineCloudAnalysisSettings": {
          "$ref": "FirewallEndpointWildfireSettingsWildfireInlineCloudAnalysisSettings",
          "description": "Optional. Settings for WildFire inline cloud analysis."
        },
        "wildfireRealtimeLookupTimeoutAction": {
          "type": "string",
          "enum": [
            "WILDFIRE_REALTIME_SIGNATURE_LOOKUP_TIMEOUT_ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "description": "Optional. Action to take on WildFire real time signature lookup timeout. Default value is ALLOW.",
          "enumDescriptions": [
            "WildFire real time signature lookup timeout action not specified.",
            "The files that timed out in the signature lookup will be allowed to transmit.",
            "The files that timed out in the signature lookup will be denied to transmit."
          ]
        },
        "wildfireRealtimeLookupDuration": {
          "description": "Optional. Duration in milliseconds on a file being held while the WildFire real time signature cloud performs a signature lookup. Value between 1 to 5000 is valid. Default value is 1000.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleIamV1AuditLogConfig": {
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "GoogleIamV1AuditLogConfig",
      "properties": {
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables."
        },
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "RateLimitPolicyRateLimitBucketUserOverride": {
      "type": "object",
      "id": "RateLimitPolicyRateLimitBucketUserOverride",
      "description": "Describes properties of a user override for the rate limit bucket.",
      "properties": {
        "limit": {
          "description": "Required. Specifies the limit to apply for this specific key.",
          "$ref": "RateLimitPolicyRateLimitBucketLimit"
        },
        "overrideKey": {
          "description": "Required. Specifies the key to override.",
          "$ref": "RateLimitPolicyRateLimitBucketUserOverrideOverrideKey"
        }
      }
    },
    "AuthzPolicyAuthzRuleRequestResource": {
      "id": "AuthzPolicyAuthzRuleRequestResource",
      "description": "Describes the properties of a client VM resource accessing the internal application load balancers.",
      "type": "object",
      "properties": {
        "iamServiceAccount": {
          "$ref": "AuthzPolicyAuthzRuleStringMatch",
          "description": "Optional. An IAM service account to match against the source service account of the VM sending the request."
        },
        "tagValueIdSet": {
          "description": "Optional. A list of resource tag value permanent IDs to match against the resource manager tags value associated with the source VM of a request.",
          "$ref": "AuthzPolicyAuthzRuleRequestResourceTagValueIdSet"
        }
      }
    },
    "AddressGroup": {
      "id": "AddressGroup",
      "description": "AddressGroup is a resource that specifies how a collection of IP/DNS used in Firewall Policy.",
      "properties": {
        "selfLink": {
          "readOnly": true,
          "description": "Output only. Server-defined fully-qualified URL for this resource.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Free-text description of the resource.",
          "type": "string"
        },
        "purpose": {
          "description": "Optional. List of supported purposes of the Address Group.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value. Should never happen.",
              "Address Group is distributed to VMC, and is usable in Firewall Policies and other systems that rely on VMC.",
              "Address Group is usable in Cloud Armor."
            ],
            "enum": [
              "PURPOSE_UNSPECIFIED",
              "DEFAULT",
              "CLOUD_ARMOR"
            ],
            "type": "string"
          }
        },
        "type": {
          "enumDescriptions": [
            "Default value.",
            "IP v4 ranges.",
            "IP v6 ranges."
          ],
          "type": "string",
          "description": "Required. The type of the Address Group. Possible values are \"IPv4\" or \"IPV6\".",
          "enum": [
            "TYPE_UNSPECIFIED",
            "IPV4",
            "IPV6"
          ]
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the AddressGroup resource. It matches pattern `projects/*/locations/{location}/addressGroups/`."
        },
        "capacity": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Capacity of the Address Group"
        },
        "labels": {
          "description": "Optional. Set of label tags associated with the AddressGroup resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the resource was updated."
        },
        "items": {
          "description": "Optional. List of items.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
[...]
