{
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "name": "notebooks",
  "title": "Notebooks API",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "protocol": "rest",
  "basePath": "",
  "rootUrl": "https://notebooks.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "path": "v1/{+name}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/notebooks"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                }
              },
              "id": "notebooks.projects.locations.list"
            },
            "get": {
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/notebooks"
              ],
              "id": "notebooks.projects.locations.get",
              "description": "Gets information about a location.",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              }
            }
          },
          "resources": {
            "instances": {
              "methods": {
                "reset": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "description": "Resets a notebook instance.",
                  "path": "v1/{+name}:reset",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:reset",
                  "id": "notebooks.projects.locations.instances.reset",
                  "request": {
                    "$ref": "ResetInstanceRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/instances/{instance_id}`",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  }
                },
                "updateShieldedInstanceConfig": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/instances/{instance_id}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}:updateShieldedInstanceConfig",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:updateShieldedInstanceConfig",
                  "id": "notebooks.projects.locations.instances.updateShieldedInstanceConfig",
                  "description": "Updates the Shielded instance configuration of a single Instance.",
                  "request": {
                    "$ref": "UpdateShieldedInstanceConfigRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "reportEvent": {
                  "id": "notebooks.projects.locations.instances.reportEvent",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:reportEvent",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "description": "Reports and processes an instance event.",
                  "path": "v1/{+name}:reportEvent",
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/instances/{instance_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "ReportInstanceEventRequest"
                  }
                },
                "rollback": {
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "RollbackInstanceRequest"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+name}:rollback",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:rollback",
                  "description": "Rollbacks a notebook instance to the previous version.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/instances/{instance_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "notebooks.projects.locations.instances.rollback"
                },
                "setLabels": {
                  "path": "v1/{+name}:setLabels",
                  "request": {
                    "$ref": "SetInstanceLabelsRequest"
                  },
                  "httpMethod": "PATCH",
                  "description": "Replaces all the labels of an Instance.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:setLabels",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/instances/{instance_id}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "notebooks.projects.locations.instances.setLabels",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "upgradeInternal": {
                  "id": "notebooks.projects.locations.instances.upgradeInternal",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:upgradeInternal",
                  "description": "Allows notebook instances to call this endpoint to upgrade themselves. Do not use this method directly.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "request": {
                    "$ref": "UpgradeInstanceInternalRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/instances/{instance_id}`",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}:upgradeInternal"
                },
                "getInstanceHealth": {
                  "description": "Checks whether a notebook instance is healthy.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "path": "v1/{+name}:getInstanceHealth",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GetInstanceHealthResponse"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/instances/{instance_id}`",
                      "location": "path"
                    }
                  },
                  "id": "notebooks.projects.locations.instances.getInstanceHealth",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:getInstanceHealth"
                },
                "updateConfig": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "notebooks.projects.locations.instances.updateConfig",
                  "request": {
                    "$ref": "UpdateInstanceConfigRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:updateConfig",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Update Notebook Instance configurations.",
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}:updateConfig",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/instances/{instance_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  }
                },
                "list": {
                  "id": "notebooks.projects.locations.instances.list",
                  "description": "Lists instances in a given project and location.",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/instances",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A previous returned page token that can be used to continue listing from the last result."
                    },
                    "orderBy": {
                      "description": "Optional. Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Format: `parent=projects/{project_id}/locations/{location}`",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Maximum return size of the list call.",
                      "location": "query",
                      "type": "integer"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. List filter.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "response": {
                    "$ref": "ListInstancesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances"
                },
                "setIamPolicy": {
                  "id": "notebooks.projects.locations.instances.setIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "path": "v1/{+resource}:setIamPolicy"
                },
                "getIamPolicy": {
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Policy"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                    },
                    "resource": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "id": "notebooks.projects.locations.instances.getIamPolicy",
                  "path": "v1/{+resource}:getIamPolicy"
                },
                "testIamPermissions": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "path": "v1/{+resource}:testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:testIamPermissions",
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "id": "notebooks.projects.locations.instances.testIamPermissions",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  }
                },
                "delete": {
                  "path": "v1/{+name}",
                  "description": "Deletes a single Instance.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/instances/{instance_id}`",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "httpMethod": "DELETE",
                  "id": "notebooks.projects.locations.instances.delete",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "stop": {
                  "request": {
                    "$ref": "StopInstanceRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "id": "notebooks.projects.locations.instances.stop",
                  "path": "v1/{+name}:stop",
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/instances/{instance_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:stop",
                  "description": "Stops a notebook instance."
                },
                "report": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "description": "Allows notebook instances to report their latest instance information to the Notebooks API server. The server will merge the reported information to the instance metadata store. Do not use this method directly.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/instances/{instance_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "ReportInstanceInfoRequest"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:report",
                  "path": "v1/{+name}:report",
                  "id": "notebooks.projects.locations.instances.report",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "updateMetadataItems": {
                  "path": "v1/{+name}:updateMetadataItems",
                  "response": {
                    "$ref": "UpdateInstanceMetadataItemsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "description": "Add/update metadata items for an instance.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:updateMetadataItems",
                  "request": {
                    "$ref": "UpdateInstanceMetadataItemsRequest"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/instances/{instance_id}`",
                      "location": "path"
                    }
                  },
                  "httpMethod": "PATCH",
                  "id": "notebooks.projects.locations.instances.updateMetadataItems",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "path": "v1/{+parent}/instances",
                  "id": "notebooks.projects.locations.instances.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "instanceId": {
                      "location": "query",
                      "description": "Required. User-defined unique ID of this instance.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Format: `parent=projects/{project_id}/locations/{location}`",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a new Instance in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Instance"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances"
                },
                "setMachineType": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}:setMachineType",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:setMachineType",
                  "id": "notebooks.projects.locations.instances.setMachineType",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/instances/{instance_id}`",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "description": "Updates the machine type of a single Instance.",
                  "request": {
                    "$ref": "SetInstanceMachineTypeRequest"
                  }
                },
                "diagnose": {
                  "path": "v1/{+name}:diagnose",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/instances/{instance_id}`",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "id": "notebooks.projects.locations.instances.diagnose",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:diagnose",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "DiagnoseInstanceRequest"
                  },
                  "description": "Creates a Diagnostic File and runs Diagnostic Tool given an Instance."
                },
                "start": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/instances/{instance_id}`"
                    }
                  },
                  "request": {
                    "$ref": "StartInstanceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "notebooks.projects.locations.instances.start",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}:start",
                  "description": "Starts a notebook instance.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:start",
                  "httpMethod": "POST"
                },
                "isUpgradeable": {
                  "description": "Checks whether a notebook instance is upgradable.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "parameters": {
                    "type": {
                      "location": "query",
                      "enum": [
                        "UPGRADE_TYPE_UNSPECIFIED",
                        "UPGRADE_FRAMEWORK",
                        "UPGRADE_OS",
                        "UPGRADE_CUDA",
                        "UPGRADE_ALL"
                      ],
                      "enumDescriptions": [
                        "Upgrade type is not specified.",
                        "Upgrade ML framework.",
                        "Upgrade Operating System.",
                        "Upgrade CUDA.",
                        "Upgrade All (OS, Framework and CUDA)."
                      ],
                      "description": "Optional. The optional UpgradeType. Setting this field will search for additional compute images to upgrade this instance.",
                      "type": "string"
                    },
                    "notebookInstance": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/instances/{instance_id}`"
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:isUpgradeable",
                  "id": "notebooks.projects.locations.instances.isUpgradeable",
                  "parameterOrder": [
                    "notebookInstance"
                  ],
                  "response": {
                    "$ref": "IsInstanceUpgradeableResponse"
                  },
                  "path": "v1/{+notebookInstance}:isUpgradeable"
                },
                "get": {
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets details of a single Instance.",
                  "id": "notebooks.projects.locations.instances.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/instances/{instance_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Instance"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ]
                },
                "register": {
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Format: `parent=projects/{project_id}/locations/{location}`",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "RegisterInstanceRequest"
                  },
                  "path": "v1/{+parent}/instances:register",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances:register",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "id": "notebooks.projects.locations.instances.register",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "description": "Registers an existing legacy notebook instance to the Notebooks API server. Legacy instances are instances created with the legacy Compute Engine calls. They are not manageable by the Notebooks API out of the box. This call makes these instances manageable by the Notebooks API."
                },
                "upgrade": {
                  "path": "v1/{+name}:upgrade",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/instances/{instance_id}`",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Upgrades a notebook instance to the latest version.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "id": "notebooks.projects.locations.instances.upgrade",
                  "request": {
                    "$ref": "UpgradeInstanceRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:upgrade",
                  "httpMethod": "POST"
                },
                "setAccelerator": {
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the guest accelerators of a single Instance.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "request": {
                    "$ref": "SetInstanceAcceleratorRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/instances/{instance_id}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "notebooks.projects.locations.instances.setAccelerator",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:setAccelerator",
                  "path": "v1/{+name}:setAccelerator"
                },
                "migrate": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}:migrate",
                  "id": "notebooks.projects.locations.instances.migrate",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "MigrateInstanceRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:migrate",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                      "type": "string",
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/instances/{instance_id}`"
                    }
                  },
                  "description": "Migrates an existing User-Managed Notebook to Workbench Instances."
                }
              }
            },
            "environments": {
              "methods": {
                "create": {
                  "path": "v1/{+parent}/environments",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "id": "notebooks.projects.locations.environments.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments",
                  "description": "Creates a new Environment.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. Format: `projects/{project_id}/locations/{location}`"
                    },
                    "environmentId": {
                      "description": "Required. User-defined unique ID of this environment. The `environment_id` must be 1 to 63 characters long and contain only lowercase letters, numeric characters, and dashes. The first character must be a lowercase letter and the last character cannot be a dash.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Environment"
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "response": {
                    "$ref": "Environment"
                  },
                  "id": "notebooks.projects.locations.environments.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$",
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/environments/{environment_id}`",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a single Environment.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}",
                  "path": "v1/{+name}",
                  "httpMethod": "GET"
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "Maximum return size of the list call.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A previous returned page token that can be used to continue listing from the last result.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. Format: `projects/{project_id}/locations/{location}`"
                    }
                  },
                  "description": "Lists environments in a project.",
                  "id": "notebooks.projects.locations.environments.list",
                  "response": {
                    "$ref": "ListEnvironmentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/environments"
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "id": "notebooks.projects.locations.environments.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/environments/{environmentsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/environments/{environment_id}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/environments/[^/]+$"
                    }
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Deletes a single Environment."
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "id": "notebooks.projects.locations.operations.cancel",
                  "path": "v1/{+name}:cancel",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "id": "notebooks.projects.locations.operations.delete"
                },
                "list": {
                  "id": "notebooks.projects.locations.operations.list",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "path": "v1/{+name}/operations",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The standard list page size.",
                      "format": "int32"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ]
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "httpMethod": "GET",
                  "id": "notebooks.projects.locations.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "runtimes": {
              "methods": {
                "list": {
                  "id": "notebooks.projects.locations.runtimes.list",
                  "response": {
                    "$ref": "ListRuntimesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/runtimes",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/runtimes",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Maximum return size of the list call.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A previous returned page token that can be used to continue listing from the last result.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Format: `parent=projects/{project_id}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. List filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                      "location": "query"
                    }
                  },
                  "description": "Lists Runtimes in a given project and location.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ]
                },
                "migrate": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "MigrateRuntimeRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:migrate",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/runtimes/{runtimesId}:migrate",
                  "description": "Migrate an existing Runtime to a new Workbench Instance.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/runtimes/[^/]+$",
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/runtimes/{runtime_id}`",
                      "required": true
                    }
                  },
                  "id": "notebooks.projects.locations.runtimes.migrate",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ]
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "description": "Required. Specifies the path, relative to `Runtime`, of the field to update. For example, to change the software configuration kernels, the `update_mask` parameter would be specified as `software_config.kernels`, and the `PATCH` request body would specify the new value, as follows: { \"software_config\":{ \"kernels\": [{ 'repository': 'gcr.io/deeplearning-platform-release/pytorch-gpu', 'tag': 'latest' }], } } Currently, only the following fields can be updated: - `software_config.kernels` - `software_config.post_startup_script` - `software_config.custom_gpu_driver_path` - `software_config.idle_shutdown` - `software_config.idle_shutdown_timeout` - `software_config.disable_terminal` - `labels`",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "description": "Output only. The resource name of the runtime. Format: `projects/{project}/locations/{location}/runtimes/{runtimeId}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/runtimes/[^/]+$",
                      "required": true
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Idempotent request UUID.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "id": "notebooks.projects.locations.runtimes.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/runtimes/{runtimesId}",
                  "request": {
                    "$ref": "Runtime"
                  },
                  "httpMethod": "PATCH",
                  "description": "Update Notebook Runtime configuration."
                },
                "upgrade": {
                  "id": "notebooks.projects.locations.runtimes.upgrade",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/runtimes/{runtimesId}:upgrade",
                  "request": {
                    "$ref": "UpgradeRuntimeRequest"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/runtimes/{runtime_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/runtimes/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Upgrades a Managed Notebook Runtime to the latest version.",
                  "path": "v1/{+name}:upgrade"
                },
                "start": {
                  "request": {
                    "$ref": "StartRuntimeRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/runtimes/{runtime_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/runtimes/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:start",
                  "description": "Starts a Managed Notebook Runtime. Perform \"Start\" on GPU instances; \"Resume\" on CPU instances See: https://cloud.google.com/compute/docs/instances/stop-start-instance https://cloud.google.com/compute/docs/instances/suspend-resume-instance",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "notebooks.projects.locations.runtimes.start",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/runtimes/{runtimesId}:start"
                },
                "create": {
                  "request": {
                    "$ref": "Runtime"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Format: `parent=projects/{project_id}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Idempotent request UUID.",
                      "type": "string"
                    },
                    "runtimeId": {
                      "location": "query",
                      "description": "Required. User-defined unique ID of this Runtime.",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/runtimes",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "id": "notebooks.projects.locations.runtimes.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a new Runtime in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/runtimes"
                },
                "setIamPolicy": {
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+resource}:setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "response": {
                    "$ref": "Policy"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/runtimes/{runtimesId}:setIamPolicy",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/runtimes/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "id": "notebooks.projects.locations.runtimes.setIamPolicy"
                },
                "testIamPermissions": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/runtimes/{runtimesId}:testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/runtimes/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "path": "v1/{+resource}:testIamPermissions",
                  "id": "notebooks.projects.locations.runtimes.testIamPermissions",
                  "httpMethod": "POST",
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/runtimes/{runtimesId}",
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/runtimes/{runtime_id}`",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/runtimes/[^/]+$"
                    },
                    "requestId": {
                      "description": "Idempotent request UUID.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "notebooks.projects.locations.runtimes.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "description": "Deletes a single Runtime.",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE"
                },
                "reportEvent": {
                  "request": {
                    "$ref": "ReportRuntimeEventRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/runtimes/{runtime_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/runtimes/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/runtimes/{runtimesId}:reportEvent",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "notebooks.projects.locations.runtimes.reportEvent",
                  "path": "v1/{+name}:reportEvent",
                  "description": "Reports and processes a runtime event.",
                  "httpMethod": "POST"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/runtimes/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/runtimes/{runtime_id}`"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "notebooks.projects.locations.runtimes.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Runtime"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/runtimes/{runtimesId}",
                  "description": "Gets details of a single Runtime. The location must be a regional endpoint rather than zonal."
                },
                "diagnose": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "DiagnoseRuntimeRequest"
                  },
                  "description": "Creates a Diagnostic File and runs Diagnostic Tool given a Runtime.",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/runtimes/{runtimesId}:diagnose",
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/runtimes/{runtimes_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/runtimes/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}:diagnose",
                  "id": "notebooks.projects.locations.runtimes.diagnose",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ]
                },
                "getIamPolicy": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/runtimes/{runtimesId}:getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/runtimes/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "options.requestedPolicyVersion": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+resource}:getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "id": "notebooks.projects.locations.runtimes.getIamPolicy"
                },
                "refreshRuntimeTokenInternal": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "request": {
                    "$ref": "RefreshRuntimeTokenInternalRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/runtimes/{runtimesId}:refreshRuntimeTokenInternal",
                  "id": "notebooks.projects.locations.runtimes.refreshRuntimeTokenInternal",
                  "description": "Gets an access token for the consumer service account that the customer attached to the runtime. Only accessible from the tenant instance.",
                  "path": "v1/{+name}:refreshRuntimeTokenInternal",
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/runtimes/{runtime_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/runtimes/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "RefreshRuntimeTokenInternalResponse"
                  }
                },
                "switch": {
                  "path": "v1/{+name}:switch",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/runtimes/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/runtimes/{runtime_id}`",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Switch a Managed Notebook Runtime.",
                  "request": {
                    "$ref": "SwitchRuntimeRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "notebooks.projects.locations.runtimes.switch",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/runtimes/{runtimesId}:switch"
                },
                "reset": {
                  "path": "v1/{+name}:reset",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "description": "Resets a Managed Notebook Runtime.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/runtimes/[^/]+$",
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/runtimes/{runtime_id}`",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "ResetRuntimeRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "notebooks.projects.locations.runtimes.reset",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/runtimes/{runtimesId}:reset",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "stop": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/runtimes/[^/]+$",
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/runtimes/{runtime_id}`",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "notebooks.projects.locations.runtimes.stop",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "path": "v1/{+name}:stop",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "StopRuntimeRequest"
                  },
                  "description": "Stops a Managed Notebook Runtime. Perform \"Stop\" on GPU instances; \"Suspend\" on CPU instances See: https://cloud.google.com/compute/docs/instances/stop-start-instance https://cloud.google.com/compute/docs/instances/suspend-resume-instance",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/runtimes/{runtimesId}:stop"
                }
              }
            },
            "schedules": {
              "methods": {
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schedules/{schedulesId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/schedules/[^/]+$",
                      "required": true,
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/schedules/{schedule_id}`",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Schedule"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "description": "Gets details of schedule",
                  "path": "v1/{+name}",
                  "id": "notebooks.projects.locations.schedules.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                },
                "list": {
                  "response": {
                    "$ref": "ListSchedulesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "A previous returned page token that can be used to continue listing from the last result.",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Filter applied to resulting schedules.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Format: `parent=projects/{project_id}/locations/{location}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Maximum return size of the list call.",
                      "type": "integer"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Field to order results by."
                    }
                  },
                  "description": "Lists schedules in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schedules",
                  "path": "v1/{+parent}/schedules",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "httpMethod": "GET",
                  "id": "notebooks.projects.locations.schedules.list"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/schedules/{schedule_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/schedules/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schedules/{schedulesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes schedule and all underlying jobs",
                  "id": "notebooks.projects.locations.schedules.delete",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}"
                },
                "trigger": {
                  "description": "Triggers execution of an existing schedule.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schedules/{schedulesId}:trigger",
                  "request": {
                    "$ref": "TriggerScheduleRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "notebooks.projects.locations.schedules.trigger",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/schedules/[^/]+$",
                      "location": "path",
                      "description": "Required. Format: `parent=projects/{project_id}/locations/{location}/schedules/{schedule_id}`",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}:trigger"
                },
                "create": {
                  "path": "v1/{+parent}/schedules",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Format: `parent=projects/{project_id}/locations/{location}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "scheduleId": {
                      "description": "Required. User-defined unique ID of this schedule.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "id": "notebooks.projects.locations.schedules.create",
                  "description": "Creates a new Scheduled Notebook in a given project and location.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Schedule"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/schedules",
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            },
            "executions": {
              "methods": {
                "list": {
                  "parameters": {
                    "parent": {
                      "description": "Required. Format: `parent=projects/{project_id}/locations/{location}`",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A previous returned page token that can be used to continue listing from the last result.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Filter applied to resulting executions. Currently only supports filtering executions by a specified `schedule_id`. Format: `schedule_id=`",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Sort by field."
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Maximum return size of the list call.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListExecutionsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/executions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "id": "notebooks.projects.locations.executions.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/executions",
                  "description": "Lists executions in a given project and location",
                  "httpMethod": "GET"
                },
                "create": {
                  "request": {
                    "$ref": "Execution"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/executions",
                  "description": "Creates a new Execution in a given project and location.",
                  "path": "v1/{+parent}/executions",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "notebooks.projects.locations.executions.create",
                  "parameters": {
                    "executionId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. User-defined unique ID of this execution."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. Format: `parent=projects/{project_id}/locations/{location}`",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/executions/{executionsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Execution"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "description": "Gets details of executions",
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/executions/{execution_id}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/executions/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "notebooks.projects.locations.executions.get"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/notebooks"
                  ],
                  "description": "Deletes execution",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/executions/{executionsId}",
                  "path": "v1/{+name}",
                  "id": "notebooks.projects.locations.executions.delete",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Format: `projects/{project_id}/locations/{location}/executions/{execution_id}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/executions/[^/]+$",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "Operation": {
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "MigrateRuntimeRequest": {
      "properties": {
        "postStartupScriptOption": {
          "enum": [
            "POST_STARTUP_SCRIPT_OPTION_UNSPECIFIED",
            "POST_STARTUP_SCRIPT_OPTION_SKIP",
            "POST_STARTUP_SCRIPT_OPTION_RERUN"
          ],
          "type": "string",
          "enumDescriptions": [
            "Post startup script option is not specified. Default is POST_STARTUP_SCRIPT_OPTION_SKIP.",
            "Not migrate the post startup script to the new Workbench Instance.",
            "Redownload and rerun the same post startup script as the Google-Managed Notebook."
          ],
          "description": "Optional. Specifies the behavior of post startup script during migration."
        },
        "serviceAccount": {
          "description": "Optional. The service account to be included in the Compute Engine instance of the new Workbench Instance when the Runtime uses \"single user only\" mode for permission. If not specified, the [Compute Engine default service account](https://cloud.google.com/compute/docs/access/service-accounts#default_service_account) is used. When the Runtime uses service account mode for permission, it will reuse the same service account, and this field must be empty.",
          "type": "string"
        },
        "subnet": {
[...]
