{
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "name": "notebooks",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "schemas": {
    "Runtime": {
      "description": "The definition of a Runtime for a managed notebook instance.",
      "type": "object",
      "properties": {
        "migrated": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Bool indicating whether this notebook has been migrated to a Workbench Instance"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Runtime update time.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels to associate with this Managed Notebook or Runtime. Label **keys** must contain 1 to 63 characters, and must conform to [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt). Label **values** may be empty, but, if present, must contain 1 to 63 characters, and must conform to [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a cluster."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Runtime creation time."
        },
        "healthState": {
          "description": "Output only. Runtime health_state.",
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "AGENT_NOT_INSTALLED",
            "AGENT_NOT_RUNNING"
          ],
          "enumDescriptions": [
            "The runtime substate is unknown.",
            "The runtime is known to be in an healthy state (for example, critical daemons are running) Applies to ACTIVE state.",
            "The runtime is known to be in an unhealthy state (for example, critical daemons are not running) Applies to ACTIVE state.",
            "The runtime has not installed health monitoring agent. Applies to ACTIVE state.",
            "The runtime health monitoring agent is not running. Applies to ACTIVE state."
          ],
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTING",
            "PROVISIONING",
            "ACTIVE",
            "STOPPING",
            "STOPPED",
            "DELETING",
            "UPGRADING",
            "INITIALIZING"
          ],
          "description": "Output only. Runtime state.",
          "readOnly": true,
          "enumDescriptions": [
            "State is not specified.",
            "The compute layer is starting the runtime. It is not ready for use.",
            "The compute layer is installing required frameworks and registering the runtime with notebook proxy. It cannot be used.",
            "The runtime is currently running. It is ready for use.",
            "The control logic is stopping the runtime. It cannot be used.",
            "The runtime is stopped. It cannot be used.",
            "The runtime is being deleted. It cannot be used.",
            "The runtime is upgrading. It cannot be used.",
            "The runtime is being created and set up. It is not ready for use."
          ],
          "type": "string"
        },
        "accessConfig": {
          "description": "The config settings for accessing runtime.",
          "$ref": "RuntimeAccessConfig"
        },
        "virtualMachine": {
          "$ref": "VirtualMachine",
          "description": "Use a Compute Engine VM image to start the managed notebook instance."
        },
        "softwareConfig": {
          "description": "The config settings for software inside the runtime.",
          "$ref": "RuntimeSoftwareConfig"
        },
        "metrics": {
          "description": "Output only. Contains Runtime daemon metrics such as Service status and JupyterLab stats.",
          "readOnly": true,
          "$ref": "RuntimeMetrics"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the runtime. Format: `projects/{project}/locations/{location}/runtimes/{runtimeId}`",
          "type": "string"
        },
        "runtimeMigrationEligibility": {
          "readOnly": true,
          "description": "Output only. Checks how feasible a migration from GmN to WbI is.",
          "$ref": "RuntimeMigrationEligibility"
        }
      },
      "id": "Runtime"
    },
    "SchedulerAcceleratorConfig": {
      "id": "SchedulerAcceleratorConfig",
      "type": "object",
      "description": "Definition of a hardware accelerator. Note that not all combinations of `type` and `core_count` are valid. See [GPUs on Compute Engine](https://cloud.google.com/compute/docs/gpus) to find a valid combination. TPUs are not supported.",
      "properties": {
        "coreCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of cores of this accelerator."
        },
        "type": {
          "description": "Type of this accelerator.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified accelerator type. Default to no GPU.",
            "Nvidia Tesla K80 GPU.",
            "Nvidia Tesla P100 GPU.",
            "Nvidia Tesla V100 GPU.",
            "Nvidia Tesla P4 GPU.",
            "Nvidia Tesla T4 GPU.",
            "Nvidia Tesla A100 GPU.",
            "TPU v2.",
            "TPU v3."
          ],
          "enum": [
            "SCHEDULER_ACCELERATOR_TYPE_UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "TPU_V2",
            "TPU_V3"
          ]
        }
      }
    },
    "GuestOsFeature": {
      "id": "GuestOsFeature",
      "properties": {
        "type": {
          "description": "The ID of a supported feature. Read Enabling guest operating system features to see a list of available options. Valid values: * `FEATURE_TYPE_UNSPECIFIED` * `MULTI_IP_SUBNET` * `SECURE_BOOT` * `UEFI_COMPATIBLE` * `VIRTIO_SCSI_MULTIQUEUE` * `WINDOWS`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Guest OS features for boot disk."
    },
    "UpdateInstanceMetadataItemsResponse": {
      "type": "object",
      "properties": {
        "items": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map of items that were added/updated to/in the metadata."
        }
      },
      "description": "Response for adding/changing metadata items for an instance.",
      "id": "UpdateInstanceMetadataItemsResponse"
    },
    "ShieldedInstanceConfig": {
      "id": "ShieldedInstanceConfig",
      "properties": {
        "enableIntegrityMonitoring": {
          "description": "Defines whether the instance has integrity monitoring enabled. Enables monitoring and attestation of the boot integrity of the instance. The attestation is performed against the integrity policy baseline. This baseline is initially derived from the implicitly trusted boot image when the instance is created. Enabled by default.",
          "type": "boolean"
        },
        "enableVtpm": {
          "description": "Defines whether the instance has the vTPM enabled. Enabled by default.",
          "type": "boolean"
        },
        "enableSecureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. Secure Boot helps ensure that the system only runs authentic software by verifying the digital signature of all boot components, and halting the boot process if signature verification fails. Disabled by default.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A set of Shielded Instance options. See [Images using supported Shielded VM features](https://cloud.google.com/compute/docs/instances/modifying-shielded-vm). Not all combinations are valid."
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "ListInstancesResponse": {
      "type": "object",
      "description": "Response for listing notebook instances.",
      "properties": {
        "instances": {
          "description": "A list of returned instances.",
          "items": {
            "$ref": "Instance"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached. For example, `['us-west1-a', 'us-central1-b']`. A ListInstancesResponse will only contain either instances or unreachables,",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token that can be used to continue listing from the last result in the next list call."
        }
      },
      "id": "ListInstancesResponse"
    },
    "MigrateInstanceRequest": {
      "id": "MigrateInstanceRequest",
      "properties": {
        "postStartupScriptOption": {
          "enumDescriptions": [
            "Post startup script option is not specified. Default is POST_STARTUP_SCRIPT_OPTION_SKIP.",
            "Not migrate the post startup script to the new Workbench Instance.",
            "Redownload and rerun the same post startup script as the User-Managed Notebook."
          ],
          "enum": [
            "POST_STARTUP_SCRIPT_OPTION_UNSPECIFIED",
            "POST_STARTUP_SCRIPT_OPTION_SKIP",
            "POST_STARTUP_SCRIPT_OPTION_RERUN"
          ],
          "type": "string",
          "description": "Optional. Specifies the behavior of post startup script during migration."
        }
      },
      "description": "Request for migrating a User-Managed Notebook to Workbench Instances.",
      "type": "object"
    },
    "UpgradeInstanceRequest": {
      "properties": {
        "type": {
          "description": "Optional. The optional UpgradeType. Setting this field will search for additional compute images to upgrade this instance.",
          "enum": [
            "UPGRADE_TYPE_UNSPECIFIED",
            "UPGRADE_FRAMEWORK",
            "UPGRADE_OS",
            "UPGRADE_CUDA",
            "UPGRADE_ALL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Upgrade type is not specified.",
            "Upgrade ML framework.",
            "Upgrade Operating System.",
            "Upgrade CUDA.",
            "Upgrade All (OS, Framework and CUDA)."
          ]
        }
      },
      "description": "Request for upgrading a notebook instance",
      "id": "UpgradeInstanceRequest",
      "type": "object"
    },
    "ListSchedulesResponse": {
      "id": "ListSchedulesResponse",
      "properties": {
        "schedules": {
          "type": "array",
          "description": "A list of returned instances.",
          "items": {
            "$ref": "Schedule"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Schedules that could not be reached. For example: ['projects/{project_id}/location/{location}/schedules/monthly_digest', 'projects/{project_id}/location/{location}/schedules/weekly_sentiment']",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token that can be used to continue listing from the last result in the next list call."
        }
      },
      "description": "Response for listing scheduled notebook job.",
      "type": "object"
    },
    "UpgradeRuntimeRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Idempotent request UUID."
        }
      },
      "id": "UpgradeRuntimeRequest",
      "description": "Request for upgrading a Managed Notebook Runtime to the latest version. option (google.api.message_visibility).restriction = \"TRUSTED_TESTER,SPECIAL_TESTER\";"
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse"
    },
    "UpdateShieldedInstanceConfigRequest": {
      "properties": {
        "shieldedInstanceConfig": {
          "$ref": "ShieldedInstanceConfig",
          "description": "ShieldedInstance configuration to be updated."
        }
      },
      "type": "object",
      "description": "Request for updating the Shielded Instance config for a notebook instance. You can only use this method on a stopped instance",
      "id": "UpdateShieldedInstanceConfigRequest"
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "type": "object"
    },
    "VirtualMachineConfig": {
      "id": "VirtualMachineConfig",
      "properties": {
        "guestAttributes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The Compute Engine guest attributes. (see [Project and instance guest attributes](https://cloud.google.com/compute/docs/storing-retrieving-metadata#guest_attributes))."
        },
        "internalIpOnly": {
          "type": "boolean",
          "description": "Optional. If true, runtime will only have internal IP addresses. By default, runtimes are not restricted to internal IP addresses, and will have ephemeral external IP addresses assigned to each vm. This `internal_ip_only` restriction can only be enabled for subnetwork enabled networks, and all dependencies must be configured to be accessible without external IP addresses."
        },
        "tags": {
          "description": "Optional. The Compute Engine network tags to add to runtime (see [Add network tags](https://cloud.google.com/vpc/docs/add-remove-network-tags)).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "labels": {
          "description": "Optional. The labels to associate with this runtime. Label **keys** must contain 1 to 63 characters, and must conform to [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt). Label **values** may be empty, but, if present, must contain 1 to 63 characters, and must conform to [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt). No more than 32 labels can be associated with a cluster.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "acceleratorConfig": {
          "description": "Optional. The Compute Engine accelerator configuration for this runtime.",
          "$ref": "RuntimeAcceleratorConfig"
        },
        "zone": {
          "type": "string",
          "description": "Output only. The zone where the virtual machine is located. If using regional request, the notebooks service will pick a location in the corresponding runtime region. On a get request, zone will always be present. Example: * `us-central1-b`",
          "readOnly": true
        },
        "reservedIpRange": {
          "description": "Optional. Reserved IP Range name is used for VPC Peering. The subnetwork allocation will use the range *name* if it's assigned. Example: managed-notebooks-range-c PEERING_RANGE_NAME_3=managed-notebooks-range-c gcloud compute addresses create $PEERING_RANGE_NAME_3 \\ --global \\ --prefix-length=24 \\ --description=\"Google Cloud Managed Notebooks Range 24 c\" \\ --network=$NETWORK \\ --addresses=192.168.0.0 \\ --purpose=VPC_PEERING Field value will be: `managed-notebooks-range-c`",
          "type": "string"
        },
        "containerImages": {
          "description": "Optional. Use a list of container images to use as Kernels in the notebook instance.",
          "type": "array",
          "items": {
            "$ref": "ContainerImage"
          }
        },
        "bootImage": {
          "description": "Optional. Boot image metadata used for runtime upgradeability.",
          "$ref": "BootImage"
        },
        "network": {
          "type": "string",
          "description": "Optional. The Compute Engine network to be used for machine communications. Cannot be specified with subnetwork. If neither `network` nor `subnet` is specified, the \"default\" network of the project is used, if it exists. A full URL or partial URI. Examples: * `https://www.googleapis.com/compute/v1/projects/[project_id]/global/networks/default` * `projects/[project_id]/global/networks/default` Runtimes are managed resources inside Google Infrastructure. Runtimes support the following network configurations: * Google Managed Network (Network & subnet are empty) * Consumer Project VPC (network & subnet are required). Requires configuring Private Service Access. * Shared VPC (network & subnet are required). Requires configuring Private Service Access."
        },
        "encryptionConfig": {
          "description": "Optional. Encryption settings for virtual machine data disk.",
          "$ref": "EncryptionConfig"
        },
        "dataDisk": {
          "$ref": "LocalDisk",
          "description": "Required. Data disk option configuration settings."
        },
        "machineType": {
          "description": "Required. The Compute Engine machine type used for runtimes. Short name is valid. Examples: * `n1-standard-2` * `e2-standard-8`",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The Compute Engine metadata entries to add to virtual machine. (see [Project and instance metadata](https://cloud.google.com/compute/docs/storing-retrieving-metadata#project_and_instance_metadata)).",
          "type": "object"
        },
        "subnet": {
          "description": "Optional. The Compute Engine subnetwork to be used for machine communications. Cannot be specified with network. A full URL or partial URI are valid. Examples: * `https://www.googleapis.com/compute/v1/projects/[project_id]/regions/us-east1/subnetworks/sub0` * `projects/[project_id]/regions/us-east1/subnetworks/sub0`",
          "type": "string"
        },
        "nicType": {
          "enumDescriptions": [
            "No type specified.",
            "VIRTIO",
            "GVNIC"
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_NIC_TYPE",
            "VIRTIO_NET",
            "GVNIC"
          ],
          "description": "Optional. The type of vNIC to be used on this interface. This may be gVNIC or VirtioNet."
        },
        "shieldedInstanceConfig": {
          "$ref": "RuntimeShieldedInstanceConfig",
          "description": "Optional. Shielded VM Instance configuration settings."
        }
      },
      "type": "object",
      "description": "The config settings for virtual machine."
    },
    "GetInstanceHealthResponse": {
      "properties": {
        "healthState": {
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "AGENT_NOT_INSTALLED",
            "AGENT_NOT_RUNNING"
          ],
          "enumDescriptions": [
            "The instance substate is unknown.",
            "The instance is known to be in an healthy state (for example, critical daemons are running) Applies to ACTIVE state.",
            "The instance is known to be in an unhealthy state (for example, critical daemons are not running) Applies to ACTIVE state.",
            "The instance has not installed health monitoring agent. Applies to ACTIVE state.",
            "The instance health monitoring agent is not running. Applies to ACTIVE state."
          ],
          "description": "Output only. Runtime health_state.",
          "type": "string",
          "readOnly": true
        },
        "healthInfo": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Additional information about instance health. Example: healthInfo\": { \"docker_proxy_agent_status\": \"1\", \"docker_status\": \"1\", \"jupyterlab_api_status\": \"-1\", \"jupyterlab_status\": \"-1\", \"updated\": \"2020-10-18 09:40:03.573409\" }"
        }
      },
      "id": "GetInstanceHealthResponse",
      "description": "Response for checking if a notebook instance is healthy.",
      "type": "object"
    },
    "ExecutionTemplate": {
      "description": "The description a notebook execution workload.",
      "id": "ExecutionTemplate",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "The email address of a service account to use when running the execution. You must have the `iam.serviceAccounts.actAs` permission for the specified service account."
        },
        "kernelSpec": {
          "type": "string",
          "description": "Name of the kernel spec to use. This must be specified if the kernel spec name on the execution target does not match the name in the input notebook file."
        },
        "tensorboard": {
          "description": "The name of a Vertex AI [Tensorboard] resource to which this execution will upload Tensorboard logs. Format: `projects/{project}/locations/{location}/tensorboards/{tensorboard}`",
          "type": "string"
        },
        "scaleTier": {
          "deprecated": true,
          "enumDescriptions": [
            "Unspecified Scale Tier.",
            "A single worker instance. This tier is suitable for learning how to use Cloud ML, and for experimenting with new models using small datasets.",
            "Many workers and a few parameter servers.",
            "A large number of workers with many parameter servers.",
            "A single worker instance with a K80 GPU.",
            "A single worker instance with a Cloud TPU.",
            "The CUSTOM tier is not a set tier, but rather enables you to use your own cluster specification. When you use this tier, set values to configure your processing cluster according to these guidelines: * You _must_ set `ExecutionTemplate.masterType` to specify the type of machine to use for your master node. This is the only required setting."
          ],
          "type": "string",
          "description": "Required. Scale tier of the hardware used for notebook execution. DEPRECATED Will be discontinued. As right now only CUSTOM is supported.",
          "enum": [
            "SCALE_TIER_UNSPECIFIED",
            "BASIC",
            "STANDARD_1",
            "PREMIUM_1",
            "BASIC_GPU",
            "BASIC_TPU",
            "CUSTOM"
          ]
        },
        "jobType": {
          "type": "string",
          "enum": [
            "JOB_TYPE_UNSPECIFIED",
            "VERTEX_AI",
            "DATAPROC"
          ],
          "description": "The type of Job to be used on this execution.",
          "enumDescriptions": [
            "No type specified.",
            "Custom Job in `aiplatform.googleapis.com`. Default value for an execution.",
            "Run execution on a cluster with Dataproc as a job. https://cloud.google.com/dataproc/docs/reference/rest/v1/projects.regions.jobs"
          ]
        },
        "inputNotebookFile": {
          "type": "string",
          "description": "Path to the notebook file to execute. Must be in a Google Cloud Storage bucket. Format: `gs://{bucket_name}/{folder}/{notebook_file_name}` Ex: `gs://notebook_user/scheduled_notebooks/sentiment_notebook.ipynb`"
        },
        "vertexAiParameters": {
          "$ref": "VertexAIParameters",
          "description": "Parameters used in Vertex AI JobType executions."
        },
        "outputNotebookFolder": {
          "description": "Path to the notebook folder to write to. Must be in a Google Cloud Storage bucket path. Format: `gs://{bucket_name}/{folder}` Ex: `gs://notebook_user/scheduled_notebooks`",
          "type": "string"
        },
        "masterType": {
          "type": "string",
          "description": "Specifies the type of virtual machine to use for your training job's master worker. You must specify this field when `scaleTier` is set to `CUSTOM`. You can use certain Compute Engine machine types directly in this field. The following types are supported: - `n1-standard-4` - `n1-standard-8` - `n1-standard-16` - `n1-standard-32` - `n1-standard-64` - `n1-standard-96` - `n1-highmem-2` - `n1-highmem-4` - `n1-highmem-8` - `n1-highmem-16` - `n1-highmem-32` - `n1-highmem-64` - `n1-highmem-96` - `n1-highcpu-16` - `n1-highcpu-32` - `n1-highcpu-64` - `n1-highcpu-96` Alternatively, you can use the following legacy machine types: - `standard` - `large_model` - `complex_model_s` - `complex_model_m` - `complex_model_l` - `standard_gpu` - `complex_model_m_gpu` - `complex_model_l_gpu` - `standard_p100` - `complex_model_m_p100` - `standard_v100` - `large_model_v100` - `complex_model_m_v100` - `complex_model_l_v100` Finally, if you want to use a TPU for training, specify `cloud_tpu` in this field. Learn more about the [special configuration options for training with TPU](https://cloud.google.com/ai-platform/training/docs/using-tpus#configuring_a_custom_tpu_machine)."
        },
        "parameters": {
          "type": "string",
          "description": "Parameters used within the 'input_notebook_file' notebook."
        },
        "dataprocParameters": {
          "$ref": "DataprocParameters",
          "description": "Parameters used in Dataproc JobType executions."
        },
        "acceleratorConfig": {
          "description": "Configuration (count and accelerator type) for hardware running notebook execution.",
          "$ref": "SchedulerAcceleratorConfig"
        },
        "containerImageUri": {
          "type": "string",
          "description": "Container Image URI to a DLVM Example: 'gcr.io/deeplearning-platform-release/base-cu100' More examples can be found at: https://cloud.google.com/ai-platform/deep-learning-containers/docs/choosing-container"
        },
        "paramsYamlFile": {
          "type": "string",
          "description": "Parameters to be overridden in the notebook during execution. Ref https://papermill.readthedocs.io/en/latest/usage-parameterize.html on how to specifying parameters in the input notebook and pass them here in an YAML file. Ex: `gs://notebook_user/scheduled_notebooks/sentiment_notebook_params.yaml`"
        },
        "labels": {
          "description": "Labels for execution. If execution is scheduled, a field included will be 'nbs-scheduled'. Otherwise, it is an immediate execution, and an included field will be 'nbs-immediate'. Use fields to efficiently index between various types of executions.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "ReportInstanceEventRequest": {
      "properties": {
        "event": {
          "description": "Required. The Event to be reported.",
          "$ref": "Event"
        },
        "vmId": {
          "type": "string",
          "description": "Required. The VM hardware token for authenticating the VM. https://cloud.google.com/compute/docs/instances/verifying-instance-identity"
        }
      },
      "type": "object",
      "id": "ReportInstanceEventRequest",
      "description": "Request for reporting a Managed Notebook Event."
    },
    "DataprocParameters": {
      "description": "Parameters used in Dataproc JobType executions.",
      "id": "DataprocParameters",
      "properties": {
        "cluster": {
          "description": "URI for cluster used to run Dataproc execution. Format: `projects/{PROJECT_ID}/regions/{REGION}/clusters/{CLUSTER_NAME}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TriggerScheduleRequest": {
      "id": "TriggerScheduleRequest",
      "type": "object",
      "properties": {},
      "description": "Request for created scheduled notebooks"
    },
    "RuntimeAccessConfig": {
      "id": "RuntimeAccessConfig",
      "type": "object",
      "properties": {
        "runtimeOwner": {
          "type": "string",
          "description": "The owner of this runtime after creation. Format: `alias@example.com` Currently supports one owner only."
        },
        "proxyUri": {
          "type": "string",
          "description": "Output only. The proxy endpoint that is used to access the runtime.",
          "readOnly": true
        },
        "accessType": {
          "type": "string",
          "enum": [
            "RUNTIME_ACCESS_TYPE_UNSPECIFIED",
            "SINGLE_USER",
            "SERVICE_ACCOUNT"
          ],
          "enumDescriptions": [
            "Unspecified access.",
            "Single user login.",
            "Service Account mode. In Service Account mode, Runtime creator will specify a SA that exists in the consumer project. Using Runtime Service Account field. Users accessing the Runtime need ActAs (Service Account User) permission."
          ],
          "description": "The type of access mode this instance."
        }
      },
      "description": "Specifies the login configuration for Runtime"
    },
    "VmImage": {
      "id": "VmImage",
      "properties": {
        "imageFamily": {
          "type": "string",
          "description": "Use this VM image family to find the image; the newest image in this family will be used."
        },
        "project": {
          "type": "string",
          "description": "Required. The name of the Google Cloud project that this VM image belongs to. Format: `{project_id}`"
        },
        "imageName": {
          "description": "Use VM image name to find the image.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Definition of a custom Compute Engine virtual machine image for starting a notebook instance with the environment installed directly on the VM."
    },
    "Expr": {
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "UpgradeInstanceInternalRequest": {
      "id": "UpgradeInstanceInternalRequest",
      "type": "object",
      "properties": {
        "vmId": {
          "description": "Required. The VM hardware token for authenticating the VM. https://cloud.google.com/compute/docs/instances/verifying-instance-identity",
          "type": "string"
        },
        "type": {
          "description": "Optional. The optional UpgradeType. Setting this field will search for additional compute images to upgrade this instance.",
          "enumDescriptions": [
            "Upgrade type is not specified.",
            "Upgrade ML framework.",
            "Upgrade Operating System.",
            "Upgrade CUDA.",
            "Upgrade All (OS, Framework and CUDA)."
          ],
          "enum": [
            "UPGRADE_TYPE_UNSPECIFIED",
            "UPGRADE_FRAMEWORK",
            "UPGRADE_OS",
            "UPGRADE_CUDA",
            "UPGRADE_ALL"
          ],
          "type": "string"
        }
      },
      "description": "Request for upgrading a notebook instance from within the VM"
    },
    "SetInstanceAcceleratorRequest": {
      "type": "object",
      "id": "SetInstanceAcceleratorRequest",
      "properties": {
        "type": {
          "enum": [
            "ACCELERATOR_TYPE_UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "NVIDIA_L4",
            "NVIDIA_A100_80GB",
            "NVIDIA_TESLA_T4_VWS",
            "NVIDIA_TESLA_P100_VWS",
            "NVIDIA_TESLA_P4_VWS",
            "NVIDIA_H100_80GB",
            "NVIDIA_H100_MEGA_80GB",
            "TPU_V2",
            "TPU_V3"
          ],
          "type": "string",
          "description": "Required. Type of this accelerator.",
          "enumDescriptions": [
            "Accelerator type is not specified.",
            "Accelerator type is Nvidia Tesla K80.",
            "Accelerator type is Nvidia Tesla P100.",
            "Accelerator type is Nvidia Tesla V100.",
            "Accelerator type is Nvidia Tesla P4.",
            "Accelerator type is Nvidia Tesla T4.",
            "Accelerator type is Nvidia Tesla A100.",
            "Accelerator type is Nvidia Tesla L4.",
            "Accelerator type is Nvidia Tesla A100 80GB.",
            "Accelerator type is NVIDIA Tesla T4 Virtual Workstations.",
            "Accelerator type is NVIDIA Tesla P100 Virtual Workstations.",
            "Accelerator type is NVIDIA Tesla P4 Virtual Workstations.",
            "Accelerator type is NVIDIA H100 80GB.",
            "Accelerator type is NVIDIA H100 Mega 80GB.",
            "(Coming soon) Accelerator type is TPU V2.",
            "(Coming soon) Accelerator type is TPU V3."
          ]
        },
        "coreCount": {
          "format": "int64",
          "description": "Required. Count of cores of this accelerator. Note that not all combinations of `type` and `core_count` are valid. See [GPUs on Compute Engine](https://cloud.google.com/compute/docs/gpus/#gpus-list) to find a valid combination. TPUs are not supported.",
          "type": "string"
        }
      },
      "description": "Request for setting instance accelerator."
    },
    "UpdateInstanceConfigRequest": {
      "type": "object",
      "description": "Request for updating instance configurations.",
      "id": "UpdateInstanceConfigRequest",
      "properties": {
        "config": {
          "$ref": "InstanceConfig",
          "description": "The instance configurations to be updated."
        }
      }
    },
    "EncryptionConfig": {
      "type": "object",
      "properties": {
        "kmsKey": {
          "type": "string",
          "description": "The Cloud KMS resource identifier of the customer-managed encryption key used to protect a resource, such as a disks. It has the following format: `projects/{PROJECT_ID}/locations/{REGION}/keyRings/{KEY_RING_NAME}/cryptoKeys/{KEY_NAME}`"
        }
      },
      "id": "EncryptionConfig",
      "description": "Represents a custom encryption key configuration that can be applied to a resource. This will encrypt all disks in Virtual Machine."
    },
    "UpdateInstanceMetadataItemsRequest": {
      "type": "object",
      "properties": {
        "items": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata items to add/update for the instance.",
          "type": "object"
        }
      },
      "description": "Request for adding/changing metadata items for an instance.",
      "id": "UpdateInstanceMetadataItemsRequest"
    },
    "ContainerImage": {
      "properties": {
        "repository": {
          "description": "Required. The path to the container image repository. For example: `gcr.io/{project_id}/{image_name}`",
          "type": "string"
        },
        "tag": {
          "type": "string",
          "description": "The tag of the container image. If not specified, this defaults to the latest tag."
        }
      },
      "description": "Definition of a container image for starting a notebook instance with the environment installed in a container.",
      "id": "ContainerImage",
      "type": "object"
    },
    "DiagnoseRuntimeRequest": {
      "type": "object",
      "id": "DiagnoseRuntimeRequest",
      "properties": {
        "diagnosticConfig": {
          "description": "Required. Defines flags that are used to run the diagnostic tool",
          "$ref": "DiagnosticConfig"
        },
        "timeoutMinutes": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Maximum amount of time in minutes before the operation times out."
        }
      },
      "description": "Request for creating a notebook instance diagnostic file."
    },
    "Policy": {
      "id": "Policy",
      "type": "object",
      "properties": {
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "UpgradeHistoryEntry": {
      "id": "UpgradeHistoryEntry",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time that this instance upgrade history entry is created."
        },
        "vmImage": {
          "type": "string",
          "description": "The VM image before this instance upgrade."
        },
        "state": {
          "enumDescriptions": [
            "State is not specified.",
            "The instance upgrade is started.",
            "The instance upgrade is succeeded.",
            "The instance upgrade is failed."
          ],
          "type": "string",
          "description": "The state of this instance upgrade history entry.",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "containerImage": {
          "type": "string",
          "description": "The container image before this instance upgrade."
        },
        "targetVersion": {
          "description": "Target VM Version, like m63.",
          "type": "string"
        },
        "action": {
          "type": "string",
          "enumDescriptions": [
            "Operation is not specified.",
            "Upgrade.",
            "Rollback."
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "UPGRADE",
            "ROLLBACK"
          ],
          "description": "Action. Rolloback or Upgrade."
        },
        "snapshot": {
          "type": "string",
          "description": "The snapshot of the boot disk of this notebook instance before upgrade."
        },
        "framework": {
          "description": "The framework of this notebook instance.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The version of the notebook instance before this upgrade."
        },
        "targetImage": {
          "type": "string",
          "description": "Target VM Image. Format: `ainotebooks-vm/project/image-name/name`.",
          "deprecated": true
        }
      },
      "description": "The entry of VM image upgrade history."
    },
    "RollbackInstanceRequest": {
      "id": "RollbackInstanceRequest",
      "properties": {
        "targetSnapshot": {
          "description": "Required. The snapshot for rollback. Example: `projects/test-project/global/snapshots/krwlzipynril`.",
          "type": "string"
        }
      },
      "description": "Request for rollbacking a notebook instance",
      "type": "object"
    },
    "Schedule": {
      "type": "object",
      "id": "Schedule",
      "properties": {
        "timeZone": {
          "description": "Timezone on which the cron_schedule. The value of this field must be a time zone name from the tz database. TZ Database: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones Note that some time zones include a provision for daylight savings time. The rules for daylight saving time are determined by the chosen tz. For UTC use the string \"utc\". If a time zone is not specified, the default will be in UTC (also known as GMT).",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "PAUSED",
            "DISABLED",
            "UPDATE_FAILED",
            "INITIALIZING",
            "DELETING"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "The job is executing normally.",
            "The job is paused by the user. It will not execute. A user can intentionally pause the job using [Cloud Scheduler](https://cloud.google.com/scheduler/docs/creating#pause).",
            "The job is disabled by the system due to error. The user cannot directly set a job to be disabled.",
            "The job state resulting from a failed [CloudScheduler.UpdateJob](https://cloud.google.com/scheduler/docs/creating#edit) operation. To recover a job from this state, retry [CloudScheduler.UpdateJob](https://cloud.google.com/scheduler/docs/creating#edit) until a successful response is received.",
            "The schedule resource is being created.",
            "The schedule resource is being deleted."
          ]
        },
        "executionTemplate": {
          "$ref": "ExecutionTemplate",
          "description": "Notebook Execution Template corresponding to this schedule."
        },
        "description": {
          "type": "string",
          "description": "A brief description of this environment."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time the schedule was created.",
          "format": "google-datetime"
        },
        "cronSchedule": {
          "type": "string",
          "description": "Cron-tab formatted schedule by which the job will execute. Format: minute, hour, day of month, month, day of week, e.g. `0 0 * * WED` = every Wednesday More examples: https://crontab.guru/examples.html"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of this schedule. Format: `projects/{project_id}/locations/{location}/schedules/{schedule_id}`"
        },
        "updateTime": {
          "description": "Output only. Time the schedule was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "recentExecutions": {
          "description": "Output only. The most recent execution names triggered from this schedule and their corresponding states.",
          "items": {
            "$ref": "Execution"
          },
          "type": "array",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Display name used for UI purposes. Name can only contain alphanumeric characters, hyphens `-`, and underscores `_`.",
          "type": "string"
        }
      },
      "description": "The definition of a schedule."
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "MigrateRuntimeRequest": {
      "description": "Request for migrating a Runtime to a Workbench Instance.",
      "id": "MigrateRuntimeRequest",
      "properties": {
        "network": {
          "description": "Optional. Name of the VPC that the new Instance is in. This is required if the Runtime uses google-managed network. If the Runtime uses customer-owned network, it will reuse the same VPC, and this field must be empty. Format: `projects/{project_id}/global/networks/{network_id}`",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Optional. The service account to be included in the Compute Engine instance of the new Workbench Instance when the Runtime uses \"single user only\" mode for permission. If not specified, the [Compute Engine default service account](https://cloud.google.com/compute/docs/access/service-accounts#default_service_account) is used. When the Runtime uses service account mode for permission, it will reuse the same service account, and this field must be empty.",
          "type": "string"
        },
        "subnet": {
          "description": "Optional. Name of the subnet that the new Instance is in. This is required if the Runtime uses google-managed network. If the Runtime uses customer-owned network, it will reuse the same subnet, and this field must be empty. Format: `projects/{project_id}/regions/{region}/subnetworks/{subnetwork_id}`",
          "type": "string"
        },
        "postStartupScriptOption": {
          "enumDescriptions": [
            "Post startup script option is not specified. Default is POST_STARTUP_SCRIPT_OPTION_SKIP.",
            "Not migrate the post startup script to the new Workbench Instance.",
            "Redownload and rerun the same post startup script as the Google-Managed Notebook."
          ],
          "enum": [
            "POST_STARTUP_SCRIPT_OPTION_UNSPECIFIED",
            "POST_STARTUP_SCRIPT_OPTION_SKIP",
            "POST_STARTUP_SCRIPT_OPTION_RERUN"
          ],
          "type": "string",
          "description": "Optional. Specifies the behavior of post startup script during migration."
        },
        "requestId": {
          "description": "Optional. Idempotent request UUID.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Execution": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the execute. Format: `projects/{project_id}/locations/{location}/executions/{execution_id}`",
          "type": "string",
          "readOnly": true
        },
        "executionTemplate": {
          "description": "execute metadata including name, hardware spec, region, labels, etc.",
          "$ref": "ExecutionTemplate"
        },
        "outputNotebookFile": {
          "description": "Output notebook file generated by this execution",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. Name used for UI purposes. Name can only contain alphanumeric characters and underscores '_'.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "PREPARING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLING",
            "CANCELLED",
            "EXPIRED",
            "INITIALIZING"
          ],
          "description": "Output only. State of the underlying AI Platform job.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The job state is unspecified.",
            "The job has been just created and processing has not yet begun.",
            "The service is preparing to execution the job.",
            "The job is in progress.",
            "The job completed successfully.",
            "The job failed. `error_message` should contain the details of the failure.",
            "The job is being cancelled. `error_message` should describe the reason for the cancellation.",
            "The job has been cancelled. `error_message` should describe the reason for the cancellation.",
            "The job has become expired (relevant to Vertex AI jobs) https://cloud.google.com/vertex-ai/docs/reference/rest/v1/JobState",
            "The Execution is being created."
          ]
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time the Execution was instantiated."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time the Execution was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "A brief description of this execution.",
          "type": "string"
        },
        "jobUri": {
          "description": "Output only. The URI of the external job used to execute the notebook.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Execution",
      "description": "The definition of a single executed notebook."
    },
    "LocalDisk": {
      "id": "LocalDisk",
      "type": "object",
      "properties": {
        "autoDelete": {
          "readOnly": true,
          "type": "boolean",
          "description": "Optional. Output only. Specifies whether the disk will be auto-deleted when the instance is deleted (but not when the disk is detached from the instance)."
        },
        "initializeParams": {
          "$ref": "LocalDiskInitializeParams",
          "description": "Input only. Specifies the parameters for a new disk that will be created alongside the new instance. Use initialization parameters to create boot disks or local SSDs attached to the new instance. This property is mutually exclusive with the source property; you can only define one or the other, but not both."
        },
        "licenses": {
          "description": "Output only. Any valid publicly visible licenses.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "type": {
          "description": "Specifies the type of the disk, either `SCRATCH` or `PERSISTENT`. If not specified, the default is `PERSISTENT`. Valid values: * `PERSISTENT` * `SCRATCH`",
          "type": "string"
        },
        "mode": {
          "type": "string",
          "description": "The mode in which to attach this disk, either `READ_WRITE` or `READ_ONLY`. If not specified, the default is to attach the disk in `READ_WRITE` mode. Valid values: * `READ_ONLY` * `READ_WRITE`"
        },
        "boot": {
          "readOnly": true,
          "description": "Optional. Output only. Indicates that this is a boot disk. The virtual machine will use the first partition of the disk for its root filesystem.",
          "type": "boolean"
        },
        "source": {
          "type": "string",
          "description": "Specifies a valid partial or full URL to an existing Persistent Disk resource."
        },
        "deviceName": {
          "type": "string",
          "readOnly": true,
          "description": "Optional. Output only. Specifies a unique device name of your choice that is reflected into the `/dev/disk/by-id/google-*` tree of a Linux operating system running within the instance. This name can be used to reference the device for mounting, resizing, and so on, from within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks."
        },
        "guestOsFeatures": {
          "description": "Output only. Indicates a list of features to enable on the guest operating system. Applicable only for bootable images. Read Enabling guest operating system features to see a list of available options.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "RuntimeGuestOsFeature"
          }
        },
        "interface": {
          "description": "Specifies the disk interface to use for attaching this disk, which is either SCSI or NVME. The default is SCSI. Persistent disks must always use SCSI and the request will fail if you attempt to attach a persistent disk in any other format than SCSI. Local SSDs can use either NVME or SCSI. For performance characteristics of SCSI over NVMe, see Local SSD performance. Valid values: * `NVME` * `SCSI`",
          "type": "string"
        },
        "kind": {
          "description": "Output only. Type of the resource. Always compute#attachedDisk for attached disks.",
          "readOnly": true,
          "type": "string"
        },
        "index": {
          "description": "Output only. A zero-based index to this disk, where 0 is reserved for the boot disk. If you have many disks attached to an instance, each disk would have a unique index number.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        }
      },
      "description": "A Local attached disk resource."
    },
    "RuntimeShieldedInstanceConfig": {
      "properties": {
        "enableIntegrityMonitoring": {
          "type": "boolean",
          "description": "Defines whether the instance has integrity monitoring enabled. Enables monitoring and attestation of the boot integrity of the instance. The attestation is performed against the integrity policy baseline. This baseline is initially derived from the implicitly trusted boot image when the instance is created. Enabled by default."
        },
        "enableSecureBoot": {
          "type": "boolean",
          "description": "Defines whether the instance has Secure Boot enabled. Secure Boot helps ensure that the system only runs authentic software by verifying the digital signature of all boot components, and halting the boot process if signature verification fails. Disabled by default."
        },
        "enableVtpm": {
          "type": "boolean",
          "description": "Defines whether the instance has the vTPM enabled. Enabled by default."
        }
      },
      "id": "RuntimeShieldedInstanceConfig",
      "type": "object",
      "description": "A set of Shielded Instance options. See [Images using supported Shielded VM features](https://cloud.google.com/compute/docs/instances/modifying-shielded-vm). Not all combinations are valid."
    },
    "DiagnoseInstanceRequest": {
      "properties": {
        "timeoutMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Maximum amount of time in minutes before the operation times out."
        },
        "diagnosticConfig": {
          "$ref": "DiagnosticConfig",
          "description": "Required. Defines flags that are used to run the diagnostic tool"
        }
      },
      "id": "DiagnoseInstanceRequest",
      "type": "object",
      "description": "Request for creating a notebook instance diagnostic file."
    },
    "DiagnosticConfig": {
      "properties": {
        "copyHomeFilesFlagEnabled": {
          "type": "boolean",
          "description": "Optional. Enables flag to copy all `/home/jupyter` folder contents"
        },
        "packetCaptureFlagEnabled": {
          "description": "Optional. Enables flag to capture packets from the instance for 30 seconds",
          "type": "boolean"
        },
        "relativePath": {
          "description": "Optional. Defines the relative storage path in the Cloud Storage bucket where the diagnostic logs will be written: Default path will be the root directory of the Cloud Storage bucket (`gs://$GCS_BUCKET/$DATE_$TIME.tar.gz`) Example of full path where Log file will be written: `gs://$GCS_BUCKET/$RELATIVE_PATH/`",
          "type": "string"
        },
        "gcsBucket": {
          "description": "Required. User Cloud Storage bucket location (REQUIRED). Must be formatted with path prefix (`gs://$GCS_BUCKET`). Permissions: User Managed Notebooks: - storage.buckets.writer: Must be given to the project's service account attached to VM. Google Managed Notebooks: - storage.buckets.writer: Must be given to the project's service account or user credentials attached to VM depending on authentication mode. Cloud Storage bucket Log file will be written to `gs://$GCS_BUCKET/$RELATIVE_PATH/$VM_DATE_$TIME.tar.gz`",
          "type": "string"
        },
        "repairFlagEnabled": {
          "description": "Optional. Enables flag to repair service for instance",
          "type": "boolean"
        }
      },
      "description": "Defines flags that are used to run the diagnostic tool",
      "type": "object",
      "id": "DiagnosticConfig"
    },
    "StartInstanceRequest": {
      "description": "Request for starting a notebook instance",
      "id": "StartInstanceRequest",
      "type": "object",
      "properties": {}
    },
    "AcceleratorConfig": {
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "ACCELERATOR_TYPE_UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "NVIDIA_L4",
            "NVIDIA_A100_80GB",
            "NVIDIA_TESLA_T4_VWS",
            "NVIDIA_TESLA_P100_VWS",
            "NVIDIA_TESLA_P4_VWS",
            "NVIDIA_H100_80GB",
            "NVIDIA_H100_MEGA_80GB",
            "TPU_V2",
            "TPU_V3"
          ],
          "description": "Type of this accelerator.",
          "enumDescriptions": [
            "Accelerator type is not specified.",
            "Accelerator type is Nvidia Tesla K80.",
            "Accelerator type is Nvidia Tesla P100.",
            "Accelerator type is Nvidia Tesla V100.",
            "Accelerator type is Nvidia Tesla P4.",
            "Accelerator type is Nvidia Tesla T4.",
            "Accelerator type is Nvidia Tesla A100.",
            "Accelerator type is Nvidia Tesla L4.",
            "Accelerator type is Nvidia Tesla A100 80GB.",
            "Accelerator type is NVIDIA Tesla T4 Virtual Workstations.",
            "Accelerator type is NVIDIA Tesla P100 Virtual Workstations.",
            "Accelerator type is NVIDIA Tesla P4 Virtual Workstations.",
            "Accelerator type is NVIDIA H100 80GB.",
            "Accelerator type is NVIDIA H100 Mega 80GB.",
            "(Coming soon) Accelerator type is TPU V2.",
            "(Coming soon) Accelerator type is TPU V3."
          ]
        },
        "coreCount": {
          "format": "int64",
          "type": "string",
          "description": "Count of cores of this accelerator."
        }
      },
      "type": "object",
      "description": "Definition of a hardware accelerator. Note that not all combinations of `type` and `core_count` are valid. See [GPUs on Compute Engine](https://cloud.google.com/compute/docs/gpus/#gpus-list) to find a valid combination. TPUs are not supported.",
      "id": "AcceleratorConfig"
    },
    "Location": {
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      },
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location."
    },
    "Disk": {
      "properties": {
        "diskSizeGb": {
          "type": "string",
          "description": "Indicates the size of the disk in base-2 GB.",
          "format": "int64"
        },
        "index": {
          "description": "A zero-based index to this disk, where 0 is reserved for the boot disk. If you have many disks attached to an instance, each disk would have a unique index number.",
          "format": "int64",
          "type": "string"
        },
        "guestOsFeatures": {
          "type": "array",
          "description": "Indicates a list of features to enable on the guest operating system. Applicable only for bootable images. Read Enabling guest operating system features to see a list of available options.",
          "items": {
            "$ref": "GuestOsFeature"
          }
        },
        "interface": {
          "type": "string",
          "description": "Indicates the disk interface to use for attaching this disk, which is either SCSI or NVME. The default is SCSI. Persistent disks must always use SCSI and the request will fail if you attempt to attach a persistent disk in any other format than SCSI. Local SSDs can use either NVME or SCSI. For performance characteristics of SCSI over NVMe, see Local SSD performance. Valid values: * `NVME` * `SCSI`"
        },
        "deviceName": {
          "type": "string",
          "description": "Indicates a unique device name of your choice that is reflected into the `/dev/disk/by-id/google-*` tree of a Linux operating system running within the instance. This name can be used to reference the device for mounting, resizing, and so on, from within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine.This field is only applicable for persistent disks."
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource. Always compute#attachedDisk for attached disks."
        },
        "source": {
          "description": "Indicates a valid partial or full URL to an existing Persistent Disk resource.",
          "type": "string"
        },
        "boot": {
          "type": "boolean",
          "description": "Indicates that this is a boot disk. The virtual machine will use the first partition of the disk for its root filesystem."
        },
        "mode": {
          "type": "string",
          "description": "The mode in which to attach this disk, either `READ_WRITE` or `READ_ONLY`. If not specified, the default is to attach the disk in `READ_WRITE` mode. Valid values: * `READ_ONLY` * `READ_WRITE`"
        },
        "licenses": {
          "type": "array",
          "description": "A list of publicly visible licenses. Reserved for Google's use. A License represents billing and aggregate usage data for public and marketplace images.",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "description": "Indicates the type of the disk, either `SCRATCH` or `PERSISTENT`. Valid values: * `PERSISTENT` * `SCRATCH`",
          "type": "string"
        },
        "autoDelete": {
          "description": "Indicates whether the disk will be auto-deleted when the instance is deleted (but not when the disk is detached from the instance).",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "An instance-attached disk resource.",
      "id": "Disk"
    },
    "RuntimeMigrationEligibility": {
      "description": "RuntimeMigrationEligibility represents the feasibility information of a migration from GmN to WbI.",
      "properties": {
        "warnings": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default type.",
              "The GmN uses an accelerator type that's unsupported in WbI. It will be migrated without an accelerator. Users can attach an accelerator after the migration.",
              "The GmN uses an operating system that's unsupported in WbI (e.g. Debian 10). It will be replaced with Debian 11 in WbI.",
              "This GmN is configured with reserved IP range, which is no longer applicable in WbI.",
              "This GmN is configured with a Google managed network. Please provide the `network` and `subnet` options for the migration.",
              "This GmN is configured with a post startup script. Please optionally provide the `post_startup_script_option` for the migration.",
              "This GmN is configured with single user mode. Please optionally provide the `service_account` option for the migration."
            ],
            "enum": [
              "WARNING_UNSPECIFIED",
              "UNSUPPORTED_ACCELERATOR_TYPE",
              "UNSUPPORTED_OS",
              "RESERVED_IP_RANGE",
              "GOOGLE_MANAGED_NETWORK",
              "POST_STARTUP_SCRIPT",
              "SINGLE_USER"
            ],
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Certain configurations will be defaulted during the migration."
        },
        "errors": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Certain configurations make the GmN ineligible for an automatic migration. A manual migration is required.",
          "items": {
            "enum": [
              "ERROR_UNSPECIFIED",
              "CUSTOM_CONTAINER"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default type.",
              "The GmN is configured with custom container(s) and cannot be migrated."
            ]
          }
        }
      },
      "id": "RuntimeMigrationEligibility",
      "type": "object"
    },
    "SwitchRuntimeRequest": {
      "description": "Request for switching a Managed Notebook Runtime.",
      "id": "SwitchRuntimeRequest",
      "type": "object",
      "properties": {
        "acceleratorConfig": {
          "$ref": "RuntimeAcceleratorConfig",
          "description": "accelerator config."
        },
        "machineType": {
          "type": "string",
          "description": "machine type."
        },
        "requestId": {
          "description": "Idempotent request UUID.",
          "type": "string"
        }
      }
    },
    "ResetInstanceRequest": {
      "properties": {},
      "id": "ResetInstanceRequest",
      "description": "Request for resetting a notebook instance",
      "type": "object"
    },
    "InstanceMigrationEligibility": {
      "description": "InstanceMigrationEligibility represents the feasibility information of a migration from UmN to WbI.",
      "id": "InstanceMigrationEligibility",
      "type": "object",
      "properties": {
        "errors": {
          "readOnly": true,
          "description": "Output only. Certain configurations make the UmN ineligible for an automatic migration. A manual migration is required.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "ERROR_UNSPECIFIED",
              "DATAPROC_HUB"
            ],
            "enumDescriptions": [
              "Default type.",
              "The UmN uses Dataproc Hub and cannot be migrated."
            ]
          }
        },
        "warnings": {
          "description": "Output only. Certain configurations will be defaulted during the migration.",
          "readOnly": true,
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default type.",
              "The UmN uses an machine type that's unsupported in WbI. It will be migrated with the default machine type e2-standard-4. Users can change the machine type after the migration.",
              "The UmN uses an accelerator type that's unsupported in WbI. It will be migrated without an accelerator. User can attach an accelerator after the migration.",
              "The UmN uses an operating system that's unsupported in WbI (e.g. Debian 10, Ubuntu). It will be replaced with Debian 11 in WbI.",
              "This UmN is configured with no_remove_data_disk, which is no longer available in WbI.",
              "This UmN is configured with the Cloud Storage backup feature, which is no longer available in WbI.",
              "This UmN is configured with a post startup script. Please optionally provide the `post_startup_script_option` for the migration."
            ],
            "enum": [
              "WARNING_UNSPECIFIED",
              "UNSUPPORTED_MACHINE_TYPE",
              "UNSUPPORTED_ACCELERATOR_TYPE",
              "UNSUPPORTED_OS",
              "NO_REMOVE_DATA_DISK",
              "GCS_BACKUP",
              "POST_STARTUP_SCRIPT"
            ]
          },
          "type": "array"
        }
      }
    },
    "RuntimeGuestOsFeature": {
      "type": "object",
      "id": "RuntimeGuestOsFeature",
      "description": "Optional. A list of features to enable on the guest operating system. Applicable only for bootable images. Read [Enabling guest operating system features](https://cloud.google.com/compute/docs/images/create-delete-deprecate-private-images#guest-os-features) to see a list of available options. Guest OS features for boot disk.",
      "properties": {
        "type": {
          "description": "The ID of a supported feature. Read [Enabling guest operating system features](https://cloud.google.com/compute/docs/images/create-delete-deprecate-private-images#guest-os-features) to see a list of available options. Valid values: * `FEATURE_TYPE_UNSPECIFIED` * `MULTI_IP_SUBNET` * `SECURE_BOOT` * `UEFI_COMPATIBLE` * `VIRTIO_SCSI_MULTIQUEUE` * `WINDOWS`",
          "type": "string"
        }
      }
    },
    "ReportRuntimeEventRequest": {
      "type": "object",
      "properties": {
        "vmId": {
          "description": "Required. The VM hardware token for authenticating the VM. https://cloud.google.com/compute/docs/instances/verifying-instance-identity",
          "type": "string"
        },
        "event": {
          "description": "Required. The Event to be reported.",
          "$ref": "Event"
        }
      },
      "description": "Request for reporting a Managed Notebook Event.",
      "id": "ReportRuntimeEventRequest"
    },
    "BootImage": {
      "properties": {},
      "description": "Definition of the boot image used by the Runtime. Used to facilitate runtime upgradeability.",
      "id": "BootImage",
      "type": "object"
    },
    "ListRuntimesResponse": {
      "type": "object",
      "id": "ListRuntimesResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached. For example, `['us-west1', 'us-central1']`. A ListRuntimesResponse will only contain either runtimes or unreachables,"
        },
        "runtimes": {
          "type": "array",
          "items": {
            "$ref": "Runtime"
          },
          "description": "A list of returned Runtimes."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token that can be used to continue listing from the last result in the next list call."
        }
      },
      "description": "Response for listing Managed Notebook Runtimes."
    },
    "ListEnvironmentsResponse": {
      "description": "Response for listing environments.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A page token that can be used to continue listing from the last result in the next list call.",
          "type": "string"
        },
        "environments": {
          "description": "A list of returned environments.",
          "items": {
            "$ref": "Environment"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListEnvironmentsResponse"
    },
    "RuntimeSoftwareConfig": {
      "description": "Specifies the selection and configuration of software inside the runtime. The properties to set on runtime. Properties keys are specified in `key:value` format, for example: * `idle_shutdown: true` * `idle_shutdown_timeout: 180` * `enable_health_monitoring: true`",
      "id": "RuntimeSoftwareConfig",
      "properties": {
        "postStartupScriptBehavior": {
          "type": "string",
          "description": "Behavior for the post startup script.",
          "enum": [
            "POST_STARTUP_SCRIPT_BEHAVIOR_UNSPECIFIED",
            "RUN_EVERY_START",
            "DOWNLOAD_AND_RUN_EVERY_START"
          ],
          "enumDescriptions": [
            "Unspecified post startup script behavior. Will run only once at creation.",
            "Runs the post startup script provided during creation at every start.",
            "Downloads and runs the provided post startup script at every start."
          ]
        },
        "notebookUpgradeSchedule": {
          "type": "string",
          "description": "Cron expression in UTC timezone, used to schedule instance auto upgrade. Please follow the [cron format](https://en.wikipedia.org/wiki/Cron)."
        },
        "idleShutdown": {
          "description": "Runtime will automatically shutdown after idle_shutdown_time. Default: True",
          "type": "boolean"
        },
        "postStartupScript": {
          "type": "string",
          "description": "Path to a Bash script that automatically runs after a notebook instance fully boots up. The path must be a URL or Cloud Storage path (`gs://path-to-file/file-name`)."
        },
        "customGpuDriverPath": {
          "description": "Specify a custom Cloud Storage path where the GPU driver is stored. If not specified, we'll automatically choose from official GPU drivers.",
          "type": "string"
        },
        "disableTerminal": {
          "description": "Bool indicating whether JupyterLab terminal will be available or not. Default: False",
          "type": "boolean"
        },
        "upgradeable": {
          "readOnly": true,
          "description": "Output only. Bool indicating whether an newer image is available in an image family.",
          "type": "boolean"
        },
        "installGpuDriver": {
          "type": "boolean",
          "description": "Install Nvidia Driver automatically. Default: True"
        },
        "enableHealthMonitoring": {
          "type": "boolean",
          "description": "Verifies core internal services are running. Default: True"
        },
        "kernels": {
          "description": "Optional. Use a list of container images to use as Kernels in the notebook instance.",
          "items": {
            "$ref": "ContainerImage"
          },
          "type": "array"
        },
        "version": {
          "readOnly": true,
          "description": "Output only. version of boot image such as M100, from release label of the image.",
          "type": "string"
        },
        "mixerDisabled": {
          "type": "boolean",
          "description": "Bool indicating whether mixer client should be disabled. Default: False"
        },
        "idleShutdownTimeout": {
          "type": "integer",
          "format": "int32",
          "description": "Time in minutes to wait before shutting down runtime. Default: 180 minutes"
        }
      },
      "type": "object"
    },
    "IsInstanceUpgradeableResponse": {
      "properties": {
        "upgradeVersion": {
          "type": "string",
          "description": "The version this instance will be upgraded to if calling the upgrade endpoint. This field will only be populated if field upgradeable is true."
        },
        "upgradeImage": {
          "description": "The new image self link this instance will be upgraded to if calling the upgrade endpoint. This field will only be populated if field upgradeable is true.",
          "type": "string"
        },
        "upgradeable": {
          "description": "If an instance is upgradeable.",
          "type": "boolean"
        },
        "upgradeInfo": {
          "type": "string",
          "description": "Additional information about upgrade."
        }
      },
      "id": "IsInstanceUpgradeableResponse",
      "type": "object",
      "description": "Response for checking if a notebook instance is upgradeable."
    },
    "SetInstanceLabelsRequest": {
      "properties": {
        "labels": {
          "type": "object",
          "description": "Labels to apply to this instance. These can be later modified by the setLabels method",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "SetInstanceLabelsRequest",
      "description": "Request for setting instance labels."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      }
    },
    "RefreshRuntimeTokenInternalRequest": {
      "properties": {
        "vmId": {
          "description": "Required. The VM hardware token for authenticating the VM. https://cloud.google.com/compute/docs/instances/verifying-instance-identity",
          "type": "string"
        }
      },
      "description": "Request for getting a new access token.",
      "type": "object",
      "id": "RefreshRuntimeTokenInternalRequest"
    },
    "StartRuntimeRequest": {
      "description": "Request for starting a Managed Notebook Runtime.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Idempotent request UUID."
        }
      },
      "type": "object",
      "id": "StartRuntimeRequest"
    },
    "Environment": {
      "description": "Definition of a software environment that is used to start a notebook instance.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time at which this environment was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "vmImage": {
          "description": "Use a Compute Engine VM image to start the notebook instance.",
          "$ref": "VmImage"
        },
        "postStartupScript": {
          "description": "Path to a Bash script that automatically runs after a notebook instance fully boots up. The path must be a URL or Cloud Storage path. Example: `\"gs://path-to-file/file-name\"`",
          "type": "string"
        },
        "containerImage": {
          "description": "Use a container image to start the notebook instance.",
          "$ref": "ContainerImage"
        },
        "description": {
          "description": "A brief description of this environment.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of this environment for the UI.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of this environment. Format: `projects/{project_id}/locations/{location}/environments/{environment_id}`",
          "type": "string"
        }
      },
      "id": "Environment",
      "type": "object"
    },
    "ReportInstanceInfoRequest": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The metadata reported to Notebooks API. This will be merged to the instance metadata store"
        },
        "vmId": {
          "type": "string",
          "description": "Required. The VM hardware token for authenticating the VM. https://cloud.google.com/compute/docs/instances/verifying-instance-identity"
        }
      },
      "type": "object",
      "id": "ReportInstanceInfoRequest",
      "description": "Request for notebook instances to report information to Notebooks API."
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ReservationAffinity": {
      "id": "ReservationAffinity",
      "description": "Reservation Affinity for consuming Zonal reservation.",
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "Optional. Corresponds to the label key of reservation resource."
        },
        "consumeReservationType": {
          "description": "Optional. Type of reservation to consume",
          "type": "string",
          "enumDescriptions": [
            "Default type.",
            "Do not consume from any allocated capacity.",
            "Consume any reservation available.",
            "Must consume from a specific reservation. Must specify key value fields for specifying the reservations."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "NO_RESERVATION",
            "ANY_RESERVATION",
            "SPECIFIC_RESERVATION"
          ]
        },
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Corresponds to the label values of reservation resource."
        }
      }
    },
    "VirtualMachine": {
      "id": "VirtualMachine",
      "description": "Runtime using Virtual Machine for computing.",
      "type": "object",
      "properties": {
        "instanceId": {
          "readOnly": true,
          "description": "Output only. The unique identifier of the Managed Compute Engine instance.",
          "type": "string"
        },
        "instanceName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The user-friendly name of the Managed Compute Engine instance."
        },
        "virtualMachineConfig": {
          "description": "Virtual Machine configuration settings.",
          "$ref": "VirtualMachineConfig"
        }
      }
    },
    "SetInstanceMachineTypeRequest": {
      "description": "Request for setting instance machine type.",
      "type": "object",
      "properties": {
        "machineType": {
          "type": "string",
          "description": "Required. The [Compute Engine machine type](https://cloud.google.com/compute/docs/machine-resource)."
        }
      },
      "id": "SetInstanceMachineTypeRequest"
    },
    "RuntimeAcceleratorConfig": {
      "description": "Definition of the types of hardware accelerators that can be used. See [Compute Engine AcceleratorTypes](https://cloud.google.com/compute/docs/reference/beta/acceleratorTypes). Examples: * `nvidia-tesla-k80` * `nvidia-tesla-p100` * `nvidia-tesla-v100` * `nvidia-tesla-p4` * `nvidia-tesla-t4` * `nvidia-tesla-a100`",
      "properties": {
        "coreCount": {
          "type": "string",
          "description": "Count of cores of this accelerator.",
          "format": "int64"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Accelerator type is not specified.",
            "Accelerator type is Nvidia Tesla K80.",
            "Accelerator type is Nvidia Tesla P100.",
            "Accelerator type is Nvidia Tesla V100.",
            "Accelerator type is Nvidia Tesla P4.",
            "Accelerator type is Nvidia Tesla T4.",
            "Accelerator type is Nvidia Tesla A100 - 40GB.",
            "Accelerator type is Nvidia L4.",
            "(Coming soon) Accelerator type is TPU V2.",
            "(Coming soon) Accelerator type is TPU V3.",
            "Accelerator type is NVIDIA Tesla T4 Virtual Workstations.",
            "Accelerator type is NVIDIA Tesla P100 Virtual Workstations.",
            "Accelerator type is NVIDIA Tesla P4 Virtual Workstations."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Accelerator model.",
          "enum": [
            "ACCELERATOR_TYPE_UNSPECIFIED",
            "NVIDIA_TESLA_K80",
            "NVIDIA_TESLA_P100",
            "NVIDIA_TESLA_V100",
            "NVIDIA_TESLA_P4",
            "NVIDIA_TESLA_T4",
            "NVIDIA_TESLA_A100",
            "NVIDIA_L4",
            "TPU_V2",
            "TPU_V3",
            "NVIDIA_TESLA_T4_VWS",
            "NVIDIA_TESLA_P100_VWS",
            "NVIDIA_TESLA_P4_VWS"
          ]
        }
      },
      "type": "object",
      "id": "RuntimeAcceleratorConfig"
    },
    "LocalDiskInitializeParams": {
      "type": "object",
      "description": "Input only. Specifies the parameters for a new disk that will be created alongside the new instance. Use initialization parameters to create boot disks or local SSDs attached to the new runtime. This property is mutually exclusive with the source property; you can only define one or the other, but not both.",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels to apply to this disk. These can be later modified by the disks.setLabels method. This field is only applicable for persistent disks.",
          "type": "object"
        },
        "diskName": {
          "description": "Optional. Specifies the disk name. If not specified, the default is to use the name of the instance. If the disk with the instance name exists already in the given zone/region, a new name will be automatically generated.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Provide this property when creating the disk."
        },
        "diskSizeGb": {
          "description": "Optional. Specifies the size of the disk in base-2 GB. If not specified, the disk will be the same size as the image (usually 10GB). If specified, the size must be equal to or larger than 10GB. Default 100 GB.",
          "type": "string",
          "format": "int64"
        },
        "diskType": {
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "PD_STANDARD",
            "PD_SSD",
            "PD_BALANCED",
            "PD_EXTREME"
          ],
          "description": "Input only. The type of the boot disk attached to this instance, defaults to standard persistent disk (`PD_STANDARD`).",
          "type": "string",
          "enumDescriptions": [
            "Disk type not set.",
            "Standard persistent disk type.",
            "SSD persistent disk type.",
            "Balanced persistent disk type.",
            "Extreme persistent disk type."
          ]
        }
      },
      "id": "LocalDiskInitializeParams"
    },
    "StopInstanceRequest": {
      "type": "object",
      "id": "StopInstanceRequest",
      "properties": {},
      "description": "Request for stopping a notebook instance"
    },
    "Event": {
      "properties": {
        "reportTime": {
          "description": "Event report time.",
          "format": "google-datetime",
          "type": "string"
        },
        "type": {
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "IDLE",
            "HEARTBEAT",
            "HEALTH",
            "MAINTENANCE"
          ],
          "description": "Event type.",
          "type": "string",
          "enumDescriptions": [
            "Event is not specified.",
            "The instance / runtime is idle",
            "The instance / runtime is available. This event indicates that instance / runtime underlying compute is operational.",
            "The instance / runtime health is available. This event indicates that instance / runtime health information.",
            "The instance / runtime is available. This event allows instance / runtime to send Host maintenance information to Control Plane. https://cloud.google.com/compute/docs/gpus/gpu-host-maintenance"
          ]
        },
        "details": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Event details. This field is used to pass event information.",
          "type": "object"
        }
      },
      "description": "The definition of an Event for a managed / semi-managed notebook instance.",
      "id": "Event",
      "type": "object"
    },
[...]
