{
  "discoveryVersion": "v1",
  "version": "v1",
  "description": "A service to scan container images for vulnerabilities.",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "title": "On-Demand Scanning API",
  "mtlsRootUrl": "https://ondemandscanning.mtls.googleapis.com/",
  "rootUrl": "https://ondemandscanning.googleapis.com/",
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    }
  },
  "batchPath": "batch",
  "canonicalName": "On-Demand Scanning",
  "version_module": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "scans": {
              "methods": {
                "analyzePackages": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent of the resource for which analysis is requested. Format: projects/[project_name]/locations/[location]"
                    }
                  },
                  "id": "ondemandscanning.projects.locations.scans.analyzePackages",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/scans:analyzePackages",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/scans:analyzePackages",
                  "httpMethod": "POST",
                  "description": "Initiates an analysis of the provided packages.",
                  "request": {
                    "$ref": "AnalyzePackagesRequestV1"
                  }
                }
              },
              "resources": {
                "vulnerabilities": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListVulnerabilitiesResponseV1"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/scans/{scansId}/vulnerabilities",
                      "path": "v1/{+parent}/vulnerabilities",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists vulnerabilities resulting from a successfully completed scan.",
                      "id": "ondemandscanning.projects.locations.scans.vulnerabilities.list",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "The number of vulnerabilities to retrieve."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "The page token, resulting from a previous call to ListVulnerabilities."
                        },
                        "parent": {
                          "description": "Required. The parent of the collection of Vulnerabilities being requested. Format: projects/[project_name]/locations/[location]/scans/[scan_id]",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/scans/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "ondemandscanning.projects.locations.operations.delete",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "ondemandscanning.projects.locations.operations.get",
                  "path": "v1/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                },
                "list": {
                  "path": "v1/{+name}/operations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The standard list page size."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    }
                  },
                  "id": "ondemandscanning.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "wait": {
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "httpMethod": "POST",
                  "id": "ondemandscanning.projects.locations.operations.wait",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:wait",
                  "path": "v1/{+name}:wait",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to wait on.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    },
                    "timeout": {
                      "location": "query",
                      "format": "google-duration",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "cancel": {
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "id": "ondemandscanning.projects.locations.operations.cancel"
                }
              }
            }
          }
        }
      }
    }
  },
  "name": "ondemandscanning",
  "baseUrl": "https://ondemandscanning.googleapis.com/",
  "revision": "20260828",
  "servicePath": "",
  "id": "ondemandscanning:v1",
  "documentationLink": "https://cloud.google.com/container-analysis/docs/on-demand-scanning/",
  "schemas": {
    "Material": {
      "type": "object",
      "properties": {
        "digest": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uri": {
          "type": "string"
        }
      },
      "id": "Material"
    },
    "BuilderConfig": {
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "BuilderConfig"
    },
    "SBOMStatus": {
      "id": "SBOMStatus",
      "properties": {
        "sbomState": {
          "enum": [
            "SBOM_STATE_UNSPECIFIED",
            "PENDING",
            "COMPLETE"
          ],
          "description": "The progress of the SBOM generation.",
          "enumDescriptions": [
            "Default unknown state.",
            "SBOM scanning is pending.",
            "SBOM scanning has completed."
          ],
          "type": "string"
        },
        "error": {
          "description": "If there was an error generating an SBOM, this will indicate what that error was.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The status of an SBOM generation."
    },
    "MaliciousContentLLMResult": {
      "properties": {
        "scanStatus": {
          "description": "Status of the scan.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified scan status.",
            "Scan was performed.",
            "Scan was not performed."
          ],
          "enum": [
            "SCAN_STATUS_UNSPECIFIED",
            "PERFORMED",
            "NOT_PERFORMED"
          ]
        },
        "maxSeverity": {
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH"
          ],
          "description": "Tracks max severity found."
        },
        "modelId": {
          "description": "The base name of the model that performed the scan.",
          "type": "string"
        },
        "tokenUsage": {
          "description": "Telemetry metrics tracking token usage for the AI scan.",
          "$ref": "TokenUsage"
        }
      },
      "description": "Result of Malicious Content LLM scan.",
      "type": "object",
      "id": "MaliciousContentLLMResult"
    },
    "Layer": {
      "type": "object",
      "properties": {
        "directive": {
          "description": "Required. The recovered Dockerfile directive used to construct this layer. See https://docs.docker.com/engine/reference/builder/ for more information.",
          "type": "string"
        },
        "arguments": {
          "type": "string",
          "description": "The recovered arguments to the Dockerfile directive."
        }
      },
      "description": "Layer holds metadata specific to a layer of a Docker image.",
      "id": "Layer"
    },
    "WindowsUpdate": {
      "id": "WindowsUpdate",
      "properties": {
        "kbArticleIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The Microsoft Knowledge Base article IDs that are associated with the update."
        },
        "supportUrl": {
          "type": "string",
          "description": "The hyperlink to the support information for the update."
        },
        "identity": {
          "$ref": "Identity",
          "description": "Required - The unique identifier for the update."
        },
        "description": {
          "description": "The localized description of the update.",
          "type": "string"
        },
        "title": {
          "description": "The localized title of the update.",
          "type": "string"
        },
        "categories": {
          "type": "array",
          "items": {
            "$ref": "Category"
          },
          "description": "The list of categories to which the update belongs."
        },
        "lastPublishedTimestamp": {
          "description": "The last published timestamp of the update.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Windows Update represents the metadata about the update for the Windows operating system. The fields in this message come from the Windows Update API documented at https://docs.microsoft.com/en-us/windows/win32/api/wuapi/nn-wuapi-iupdate.",
      "type": "object"
    },
    "BuildDefinition": {
      "type": "object",
      "properties": {
        "externalParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "internalParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "buildType": {
          "type": "string"
        },
        "resolvedDependencies": {
          "items": {
            "$ref": "ResourceDescriptor"
          },
          "type": "array"
        }
      },
      "id": "BuildDefinition"
    },
    "LanguagePackageDependency": {
      "type": "object",
      "id": "LanguagePackageDependency",
      "properties": {
        "package": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      },
      "description": "Indicates a language package available between this package and the customer's resource artifact."
    },
    "RepoId": {
      "type": "object",
      "properties": {
        "projectRepoId": {
          "description": "A combination of a project ID and a repo name.",
          "$ref": "ProjectRepoId"
        },
        "uid": {
          "type": "string",
          "description": "A server-assigned, globally unique identifier."
        }
      },
      "id": "RepoId",
      "description": "A unique identifier for a Cloud Repo."
    },
    "SbomReferenceIntotoPredicate": {
      "description": "A predicate which describes the SBOM being referenced.",
      "type": "object",
      "properties": {
        "location": {
          "description": "The location of the SBOM.",
          "type": "string"
        },
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A map of algorithm to digest of the contents of the SBOM."
        },
        "referrerId": {
          "description": "The person or system referring this predicate to the consumer.",
          "type": "string"
        },
        "mimeType": {
          "description": "The mime type of the SBOM.",
          "type": "string"
        }
      },
      "id": "SbomReferenceIntotoPredicate"
    },
    "ProjectRepoId": {
      "type": "object",
      "properties": {
        "projectId": {
          "description": "The ID of the project.",
          "type": "string"
        },
        "repoName": {
          "type": "string",
          "description": "The name of the repo. Leave empty for the default repo."
        }
      },
      "description": "Selects a repo using a Google Cloud Platform project ID (e.g., winged-cargo-31) and a repo name within that project.",
      "id": "ProjectRepoId"
    },
    "TokenUsage": {
      "properties": {
        "candidateCount": {
          "type": "string",
          "description": "Tokens in the model response.",
          "format": "int64"
        },
        "toolUsePromptCount": {
          "type": "string",
          "format": "int64",
          "description": "Prompt tokens for using tools."
        },
        "cacheCount": {
          "format": "int64",
          "type": "string",
          "description": "Cache matched tokens for implicit cache."
        },
        "promptCount": {
          "type": "string",
          "description": "Tokens in the user request.",
          "format": "int64"
        },
        "thinkingCount": {
          "format": "int64",
          "type": "string",
          "description": "Tokens in the thinking output."
        }
      },
      "id": "TokenUsage",
      "description": "Token usage associated with an AI scan.",
      "type": "object"
    },
    "ResourceDescriptor": {
      "id": "ResourceDescriptor",
      "properties": {
        "uri": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "content": {
          "type": "string",
          "format": "byte"
        },
        "downloadLocation": {
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "digest": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "mediaType": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ProvenanceBuilder": {
      "properties": {
        "id": {
          "type": "string"
        },
        "version": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "builderDependencies": {
          "type": "array",
          "items": {
            "$ref": "ResourceDescriptor"
          }
        }
      },
      "id": "ProvenanceBuilder",
      "type": "object"
    },
    "PackageVersion": {
      "id": "PackageVersion",
      "properties": {
        "name": {
          "type": "string"
        },
        "licenses": {
          "description": "The licenses associated with this package. Note that this has to go on the PackageVersion level, because we can have cases with images with the same source having different licences. E.g. in Alpine, musl and musl-utils both have the same origin musl, but have different sets of licenses.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "version": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListVulnerabilitiesResponseV1": {
      "type": "object",
      "description": "ListVulnerabilitiesResponse contains a single page of vulnerabilities resulting from a scan.",
      "id": "ListVulnerabilitiesResponseV1",
      "properties": {
        "occurrences": {
          "type": "array",
          "description": "The list of Vulnerability Occurrences resulting from a scan.",
          "items": {
            "$ref": "Occurrence"
          }
        },
        "nextPageToken": {
          "description": "A page token that can be used in a subsequent call to ListVulnerabilities to continue retrieving results.",
          "type": "string"
        }
      }
    },
    "Justification": {
      "type": "object",
      "id": "Justification",
      "description": "Justification provides the justification when the state of the assessment if NOT_AFFECTED.",
      "properties": {
        "justificationType": {
          "enum": [
            "JUSTIFICATION_TYPE_UNSPECIFIED",
            "COMPONENT_NOT_PRESENT",
            "VULNERABLE_CODE_NOT_PRESENT",
            "VULNERABLE_CODE_NOT_IN_EXECUTE_PATH",
            "VULNERABLE_CODE_CANNOT_BE_CONTROLLED_BY_ADVERSARY",
            "INLINE_MITIGATIONS_ALREADY_EXIST"
          ],
          "enumDescriptions": [
            "JUSTIFICATION_TYPE_UNSPECIFIED.",
            "The vulnerable component is not present in the product.",
            "The vulnerable code is not present. Typically this case occurs when source code is configured or built in a way that excludes the vulnerable code.",
            "The vulnerable code can not be executed. Typically this case occurs when the product includes the vulnerable code but does not call or use the vulnerable code.",
            "The vulnerable code cannot be controlled by an attacker to exploit the vulnerability.",
            "The product includes built-in protections or features that prevent exploitation of the vulnerability. These built-in protections cannot be subverted by the attacker and cannot be configured or disabled by the user. These mitigations completely prevent exploitation based on known attack vectors."
          ],
          "description": "The justification type for this vulnerability.",
          "type": "string"
        },
        "details": {
          "description": "Additional details on why this justification was chosen.",
          "type": "string"
        }
      }
    },
    "PerScannerVerdict": {
      "id": "PerScannerVerdict",
      "type": "object",
      "properties": {
        "maliciousContentLlmResult": {
          "$ref": "MaliciousContentLLMResult",
          "description": "Malicious Content LLM scan result."
        },
        "maliciousContentStaticResult": {
          "$ref": "MaliciousContentStaticResult",
          "description": "Malicious Content Static scan result."
        },
        "workspacePolicy": {
          "$ref": "WorkspacePolicyResult",
          "description": "Workspace Policy scan result."
        },
        "malwareScan": {
          "description": "Malware scan result.",
          "$ref": "MalwareScanResult"
        }
      }
    },
    "CloudRepoSourceContext": {
      "description": "A CloudRepoSourceContext denotes a particular revision in a Google Cloud Source Repo.",
      "properties": {
        "revisionId": {
          "description": "A revision ID.",
          "type": "string"
        },
        "repoId": {
          "$ref": "RepoId",
          "description": "The ID of the repo."
        },
        "aliasContext": {
          "description": "An alias, which may be a branch or tag.",
          "$ref": "AliasContext"
        }
      },
      "type": "object",
      "id": "CloudRepoSourceContext"
    },
    "AliasContext": {
      "id": "AliasContext",
      "properties": {
        "kind": {
          "enumDescriptions": [
            "Unknown.",
            "Git tag.",
            "Git branch.",
            "Used to specify non-standard aliases. For example, if a Git repo has a ref named \"refs/foo/bar\"."
          ],
          "description": "The alias kind.",
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "FIXED",
            "MOVABLE",
            "OTHER"
          ]
        },
        "name": {
          "description": "The alias name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An alias to a repo revision."
    },
    "File": {
      "id": "File",
      "properties": {
        "name": {
          "type": "string"
        },
        "digest": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "PackageIssue": {
      "id": "PackageIssue",
      "properties": {
        "fixAvailable": {
          "description": "Output only. Whether a fix is available for this package.",
          "type": "boolean"
        },
        "affectedVersion": {
          "description": "Required. The version of the package that is installed on the resource affected by this vulnerability.",
          "$ref": "Version"
        },
        "fixedVersion": {
          "description": "Required. The version of the package this vulnerability was fixed in. Setting this to VersionKind.MAXIMUM means no fix is yet available.",
          "$ref": "Version"
        },
        "fileLocation": {
          "type": "array",
          "description": "The location at which this package was found.",
          "items": {
            "$ref": "GrafeasV1FileLocation"
          }
        },
        "fixedCpeUri": {
          "type": "string",
          "description": "The [CPE URI](https://cpe.mitre.org/specification/) this vulnerability was fixed in. It is possible for this to be different from the affected_cpe_uri."
        },
        "fixedPackage": {
          "description": "The package this vulnerability was fixed in. It is possible for this to be different from the affected_package.",
          "type": "string"
        },
        "packageType": {
          "description": "The type of package (e.g. OS, MAVEN, GO).",
          "type": "string"
        },
        "affectedCpeUri": {
          "type": "string",
          "description": "Required. The [CPE URI](https://cpe.mitre.org/specification/) this vulnerability was found in."
        },
        "affectedPackage": {
          "description": "Required. The package this vulnerability was found in.",
          "type": "string"
        },
        "effectiveSeverity": {
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Output only. The distro or language system assigned severity for this vulnerability when that is available and note provider assigned severity when it is not available."
        }
      },
      "type": "object",
      "description": "A detail for a distro and package this vulnerability occurrence was found in and its associated fix (if one is available)."
    },
    "NonCompliantFile": {
      "description": "Details about files that caused a compliance check to fail. display_command is a single command that can be used to display a list of non compliant files. When there is no such command, we can also iterate a list of non compliant file using 'path'.",
      "properties": {
        "path": {
          "description": "Empty if `display_command` is set.",
          "type": "string"
        },
        "reason": {
          "description": "Explains why a file is non compliant for a CIS check.",
          "type": "string"
        },
        "displayCommand": {
          "description": "Command to display the non-compliant files.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "NonCompliantFile"
    },
    "Envelope": {
      "properties": {
        "payload": {
          "type": "string",
          "format": "byte"
        },
        "signatures": {
          "type": "array",
          "items": {
            "$ref": "EnvelopeSignature"
          }
        },
        "payloadType": {
          "type": "string"
        }
      },
      "id": "Envelope",
      "description": "MUST match https://github.com/secure-systems-lab/dsse/blob/master/envelope.proto. An authenticated message of arbitrary type.",
      "type": "object"
    },
    "MalwareScanResult": {
      "properties": {
        "verdict": {
          "description": "Verdict of the scan.",
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Unspecified verdict.",
            "Scanner passed.",
            "Scanner failed."
          ],
          "type": "string"
        },
        "scanStatus": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified scan status.",
            "Scan was performed.",
            "Scan was not performed."
          ],
          "description": "Status of the scan.",
          "enum": [
            "SCAN_STATUS_UNSPECIFIED",
            "PERFORMED",
            "NOT_PERFORMED"
          ]
        }
      },
      "type": "object",
      "description": "Result of Malware scan.",
      "id": "MalwareScanResult"
    },
    "InTotoProvenance": {
      "properties": {
        "recipe": {
          "$ref": "Recipe",
          "description": "Identifies the configuration used for the build. When combined with materials, this SHOULD fully describe the build, such that re-running this recipe results in bit-for-bit identical output (if the build is reproducible). required"
        },
        "materials": {
          "type": "array",
          "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on. This is considered to be incomplete unless metadata.completeness.materials is true. Unset or null is equivalent to empty.",
          "items": {
            "type": "string"
          }
        },
        "metadata": {
          "$ref": "Metadata"
        },
        "builderConfig": {
          "$ref": "BuilderConfig",
          "description": "required"
        }
      },
      "id": "InTotoProvenance",
      "type": "object"
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaMetadata": {
      "properties": {
        "buildFinishedOn": {
          "type": "string",
          "format": "google-datetime"
        },
        "completeness": {
          "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaCompleteness"
        },
        "buildStartedOn": {
          "type": "string",
          "format": "google-datetime"
        },
        "buildInvocationId": {
          "type": "string"
        },
        "reproducible": {
          "type": "boolean"
        }
      },
      "description": "Other properties of the build.",
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaMetadata",
      "type": "object"
    },
    "SecretOccurrence": {
      "properties": {
        "locations": {
          "description": "Optional. Locations where the secret is detected.",
          "type": "array",
          "items": {
            "$ref": "SecretLocation"
          }
        },
        "statuses": {
          "items": {
            "$ref": "SecretStatus"
          },
          "type": "array",
          "description": "Optional. Status of the secret."
        },
        "kind": {
          "enum": [
            "SECRET_KIND_UNSPECIFIED",
            "SECRET_KIND_UNKNOWN",
            "SECRET_KIND_GCP_SERVICE_ACCOUNT_KEY",
            "SECRET_KIND_GCP_API_KEY",
            "SECRET_KIND_GCP_OAUTH2_CLIENT_CREDENTIALS",
            "SECRET_KIND_GCP_OAUTH2_ACCESS_TOKEN",
            "SECRET_KIND_ANTHROPIC_ADMIN_API_KEY",
            "SECRET_KIND_ANTHROPIC_API_KEY",
            "SECRET_KIND_AZURE_ACCESS_TOKEN",
            "SECRET_KIND_AZURE_IDENTITY_TOKEN",
            "SECRET_KIND_DOCKER_HUB_PERSONAL_ACCESS_TOKEN",
            "SECRET_KIND_GITHUB_APP_REFRESH_TOKEN",
            "SECRET_KIND_GITHUB_APP_SERVER_TO_SERVER_TOKEN",
            "SECRET_KIND_GITHUB_APP_USER_TO_SERVER_TOKEN",
            "SECRET_KIND_GITHUB_CLASSIC_PERSONAL_ACCESS_TOKEN",
            "SECRET_KIND_GITHUB_FINE_GRAINED_PERSONAL_ACCESS_TOKEN",
            "SECRET_KIND_GITHUB_OAUTH_TOKEN",
            "SECRET_KIND_HUGGINGFACE_API_KEY",
            "SECRET_KIND_OPENAI_API_KEY",
            "SECRET_KIND_PERPLEXITY_API_KEY",
            "SECRET_KIND_STRIPE_SECRET_KEY",
            "SECRET_KIND_STRIPE_RESTRICTED_KEY",
            "SECRET_KIND_STRIPE_WEBHOOK_SECRET"
          ],
          "description": "Required. Type of secret.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "The secret kind is unknown.",
            "A Google Cloud service account key per: https://cloud.google.com/iam/docs/creating-managing-service-account-keys",
            "A Google Cloud API key per: https://cloud.google.com/docs/authentication/api-keys",
            "A Google Cloud OAuth2 client credentials per: https://developers.google.com/identity/protocols/oauth2",
            "A Google Cloud OAuth2 access token per: https://cloud.google.com/docs/authentication/token-types#access",
            "An Anthropic Admin API key.",
            "An Anthropic API key.",
            "An Azure access token.",
            "An Azure Identity Platform ID token.",
            "A Docker Hub personal access token.",
            "A GitHub App refresh token.",
            "A GitHub App server-to-server token.",
            "A GitHub App user-to-server token.",
            "A GitHub personal access token (classic).",
            "A GitHub fine-grained personal access token.",
            "A GitHub OAuth token.",
            "A Hugging Face API key.",
            "An OpenAI API key.",
            "A Perplexity API key.",
            "A Stripe secret key.",
            "A Stripe restricted key.",
            "A Stripe webhook secret."
          ]
        }
      },
      "description": "The occurrence provides details of a secret.",
      "type": "object",
      "id": "SecretOccurrence"
    },
    "BinarySourceInfo": {
      "properties": {
        "sourceVersion": {
          "description": "The source package. Similar to the above, this is significant when the source is different than the binary itself. Since the top-level package/version fields are based on an if/else, we need a separate field for both binary and source if we want to know definitively where the data is coming from.",
          "$ref": "PackageVersion"
        },
        "binaryVersion": {
          "$ref": "PackageVersion",
          "description": "The binary package. This is significant when the source is different than the binary itself. Historically if they've differed, we've stored the name of the source and its version in the package/version fields, but we should also store the binary package info, as that's what's actually installed."
        }
      },
      "id": "BinarySourceInfo",
      "type": "object"
    },
    "SlsaMetadata": {
      "description": "Other properties of the build.",
      "properties": {
        "reproducible": {
          "description": "If true, the builder claims that running the recipe on materials will produce bit-for-bit identical output.",
          "type": "boolean"
        },
        "buildInvocationId": {
          "description": "Identifies the particular build invocation, which can be useful for finding associated logs or other ad-hoc analysis. The value SHOULD be globally unique, per in-toto Provenance spec.",
          "type": "string"
        },
        "buildFinishedOn": {
          "type": "string",
          "description": "The timestamp of when the build completed.",
          "format": "google-datetime"
        },
        "completeness": {
          "$ref": "SlsaCompleteness",
          "description": "Indicates that the builder claims certain fields in this message to be complete."
        },
        "buildStartedOn": {
          "description": "The timestamp of when the build started.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "SlsaMetadata",
      "type": "object"
    },
    "UpgradeOccurrence": {
      "properties": {
        "distribution": {
          "description": "Metadata about the upgrade for available for the specific operating system for the resource_url. This allows efficient filtering, as well as making it easier to use the occurrence.",
          "$ref": "UpgradeDistribution"
        },
        "package": {
          "description": "Required for non-Windows OS. The package this Upgrade is for.",
          "type": "string"
        },
        "windowsUpdate": {
          "$ref": "WindowsUpdate",
          "description": "Required for Windows OS. Represents the metadata about the Windows update."
        },
        "parsedVersion": {
          "$ref": "Version",
          "description": "Required for non-Windows OS. The version of the package in a machine + human readable form."
        }
      },
      "description": "An Upgrade Occurrence represents that a specific resource_url could install a specific upgrade. This presence is supplied via local sources (i.e. it is present in the mirror and the running system has noticed its availability). For Windows, both distribution and windows_update contain information for the Windows update.",
      "id": "UpgradeOccurrence",
      "type": "object"
    },
    "Hash": {
      "id": "Hash",
      "description": "Container message for hash values.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Required. The type of hash that was performed, e.g. \"SHA-256\"."
        },
        "value": {
          "type": "string",
          "format": "byte",
          "description": "Required. The hash value."
        }
      },
      "type": "object"
    },
    "WorkspacePolicyResult": {
      "description": "Result of Workspace Policy scan.",
      "properties": {
        "verdict": {
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Unspecified verdict.",
            "Scanner passed.",
            "Scanner failed."
          ],
          "type": "string",
          "description": "Verdict of the scan."
        },
        "scanStatus": {
          "enum": [
            "SCAN_STATUS_UNSPECIFIED",
            "PERFORMED",
            "NOT_PERFORMED"
          ],
          "enumDescriptions": [
            "Unspecified scan status.",
            "Scan was performed.",
            "Scan was not performed."
          ],
          "description": "Status of the scan.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "WorkspacePolicyResult"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "Maintainer": {
      "properties": {
        "url": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "kind": {
          "type": "string"
        }
      },
      "id": "Maintainer",
      "type": "object"
    },
    "DiscoveryOccurrence": {
      "description": "Provides information about the analysis status of a discovered resource.",
      "id": "DiscoveryOccurrence",
      "type": "object",
      "properties": {
        "analysisStatus": {
          "description": "The status of discovery for the resource.",
          "enum": [
            "ANALYSIS_STATUS_UNSPECIFIED",
            "PENDING",
            "SCANNING",
            "FINISHED_SUCCESS",
            "COMPLETE",
            "FINISHED_FAILED",
            "FINISHED_UNSUPPORTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "Resource is known but no action has been taken yet.",
            "Resource is being analyzed.",
            "Analysis has finished successfully.",
            "Analysis has completed.",
            "Analysis has finished unsuccessfully, the analysis itself is in a bad state.",
            "The resource is known not to be supported."
          ]
        },
        "archiveTime": {
          "readOnly": true,
          "description": "Output only. The time occurrences related to this discovery occurrence were archived.",
          "type": "string",
          "format": "google-datetime"
        },
        "analysisError": {
          "type": "array",
          "description": "Indicates any errors encountered during analysis of a resource. There could be 0 or more of these errors.",
          "items": {
            "$ref": "Status"
          }
        },
        "analysisCompleted": {
          "$ref": "AnalysisCompleted"
        },
        "continuousAnalysis": {
          "type": "string",
          "enum": [
            "CONTINUOUS_ANALYSIS_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "description": "Whether the resource is continuously analyzed.",
          "enumDescriptions": [
            "Unknown.",
            "The resource is continuously analyzed.",
            "The resource is ignored for continuous analysis."
          ]
        },
        "cpe": {
          "description": "The CPE of the resource being scanned.",
          "type": "string"
        },
        "analysisStatusError": {
          "$ref": "Status",
          "description": "When an error is encountered this will contain a LocalizedMessage under details to show to the user. The LocalizedMessage is output only and populated by the API."
        },
        "sbomStatus": {
          "description": "The status of an SBOM generation.",
          "$ref": "SBOMStatus"
        },
        "lastVulnerabilityUpdateTime": {
          "format": "google-datetime",
          "description": "The last time vulnerability scan results changed.",
          "type": "string"
        },
        "lastScanTime": {
          "type": "string",
          "description": "The last time this resource was scanned.",
          "format": "google-datetime"
        },
        "files": {
          "description": "Files that make up the resource described by the occurrence.",
          "items": {
            "$ref": "File"
          },
          "type": "array"
        }
      }
    },
    "CISAKnownExploitedVulnerabilities": {
      "type": "object",
      "properties": {
        "knownRansomwareCampaignUse": {
          "description": "Whether the vulnerability is known to have been leveraged as part of a ransomware campaign.",
          "type": "string"
        }
      },
      "id": "CISAKnownExploitedVulnerabilities"
    },
    "ImageOccurrence": {
      "id": "ImageOccurrence",
      "type": "object",
      "description": "Details of the derived image portion of the DockerImage relationship. This image would be produced from a Dockerfile with FROM .",
      "properties": {
        "distance": {
          "description": "Output only. The number of layers by which this image differs from the associated image basis.",
          "type": "integer",
          "format": "int32"
        },
        "baseResourceUrl": {
          "description": "Output only. This contains the base image URL for the derived image occurrence.",
          "type": "string"
        },
        "layerInfo": {
          "description": "This contains layer-specific metadata, if populated it has length \"distance\" and is ordered with [distance] being the layer immediately following the base image and [1] being the final layer.",
          "items": {
            "$ref": "Layer"
          },
          "type": "array"
        },
        "fingerprint": {
          "description": "Required. The fingerprint of the derived image.",
          "$ref": "Fingerprint"
        }
      }
    },
    "FindingLocation": {
      "id": "FindingLocation",
      "description": "Location details with file path and line number.",
      "properties": {
        "lineNumber": {
          "description": "Line number (1-based), or 0 if whole File / unknown.",
          "format": "int64",
          "type": "string"
        },
        "filePath": {
          "description": "Relative path of the file containing the finding.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "AnalyzePackagesMetadata": {
      "id": "AnalyzePackagesMetadata",
      "type": "object",
      "description": "AnalyzePackagesMetadata contains metadata for an active scan of a container image.",
      "properties": {
        "resourceUri": {
          "description": "The resource URI of the container image being scanned.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the scan was created."
        }
      }
    },
    "AnalyzePackagesResponse": {
      "description": "AnalyzePackagesResponse contains the information necessary to find results for the given scan.",
      "type": "object",
      "properties": {
        "scan": {
          "description": "The name of the scan resource created by this successful scan.",
          "type": "string"
        }
      },
      "id": "AnalyzePackagesResponse"
    },
    "PackageData": {
      "properties": {
        "package": {
          "description": "The package being analysed for vulnerabilities",
          "type": "string"
        },
        "ingestionSources": {
          "type": "array",
          "description": "The list of sources that were scanned to find this package. This can be a Docker image, an SBOM attachment, or both, for example.",
          "items": {
            "$ref": "IngestionSource"
          }
        },
        "os": {
          "type": "string",
          "description": "The OS affected by a vulnerability Used to generate the cpe_uri for OS packages"
        },
        "architecture": {
          "description": "The architecture of the package.",
          "type": "string"
        },
        "osVersion": {
          "description": "The version of the OS Used to generate the cpe_uri for OS packages",
          "type": "string"
        },
        "fileLocation": {
          "description": "The path to the jar file / go binary file.",
          "items": {
            "$ref": "FileLocation"
          },
          "type": "array"
        },
        "licenses": {
          "description": "The list of licenses found that are related to a given package. Note that licenses may also be stored on the BinarySourceInfo. If there is no BinarySourceInfo (because there's no concept of source vs binary), then it will be stored here, while if there are BinarySourceInfos, it will be stored there, as one source can have multiple binaries with different licenses.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "hashDigest": {
          "type": "string",
          "description": "HashDigest stores the SHA512 hash digest of the jar file if the package is of type Maven. This field will be unset for non Maven packages."
        },
        "sourceVersion": {
          "description": "DEPRECATED",
          "$ref": "PackageVersion"
        },
        "maintainer": {
          "$ref": "Maintainer",
          "description": "The maintainer of the package."
        },
        "packageType": {
          "enumDescriptions": [
            "",
            "Operating System",
            "Java packages from Maven.",
            "Go third-party packages.",
            "Go toolchain + standard library packages.",
            "Python packages.",
            "NPM packages.",
            "Nuget (C#/.NET) packages.",
            "Ruby packges (from RubyGems package manager).",
            "Rust packages from Cargo (GitHub ecosystem is `RUST`).",
            "PHP packages from Composer package manager.",
            "Swift packages from Swift Package Manager (SwiftPM)."
          ],
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "OS",
            "MAVEN",
            "GO",
            "GO_STDLIB",
            "PYPI",
            "NPM",
            "NUGET",
            "RUBYGEMS",
            "RUST",
            "COMPOSER",
            "SWIFT"
          ],
          "description": "The type of package: os, maven, go, etc.",
          "type": "string"
        },
        "dependencyChain": {
          "items": {
            "$ref": "LanguagePackageDependency"
          },
          "description": "The dependency chain between this package and the user's artifact. List in order from the customer's package under review first, to the current package last. Inclusive of the original package and the current package.",
          "type": "array"
        },
        "binarySourceInfo": {
          "items": {
            "$ref": "BinarySourceInfo"
          },
          "description": "A bundle containing the binary and source information.",
          "type": "array"
        },
        "layerDetails": {
          "$ref": "LayerDetails"
        },
        "version": {
          "type": "string",
          "description": "The version of the package being analysed"
        },
        "unused": {
          "type": "string"
        },
        "patchedCve": {
          "items": {
            "type": "string"
          },
          "description": "CVEs that this package is no longer vulnerable to",
          "type": "array"
        },
        "cpeUri": {
          "type": "string",
          "description": "The cpe_uri in [cpe format] (https://cpe.mitre.org/specification/) in which the vulnerability may manifest. Examples include distro or storage location for vulnerable jar."
        },
        "binaryVersion": {
          "$ref": "PackageVersion",
          "description": "DEPRECATED"
        }
      },
      "id": "PackageData",
      "type": "object"
    },
    "AttestationOccurrence": {
      "id": "AttestationOccurrence",
      "type": "object",
      "description": "Occurrence that represents a single \"attestation\". The authenticity of an attestation can be verified using the attached signature. If the verifier trusts the public key of the signer, then verifying the signature is sufficient to establish trust. In this circumstance, the authority to which this attestation is attached is primarily useful for lookup (how to find this attestation if you already know the authority and artifact to be verified) and intent (for which authority this attestation was intended to sign.",
      "properties": {
        "jwts": {
          "items": {
            "$ref": "Jwt"
          },
          "description": "One or more JWTs encoding a self-contained attestation. Each JWT encodes the payload that it verifies within the JWT itself. Verifier implementation SHOULD ignore the `serialized_payload` field when verifying these JWTs. If only JWTs are present on this AttestationOccurrence, then the `serialized_payload` SHOULD be left empty. Each JWT SHOULD encode a claim specific to the `resource_uri` of this Occurrence, but this is not validated by Grafeas metadata API implementations. The JWT itself is opaque to Grafeas.",
          "type": "array"
        },
        "serializedPayload": {
          "description": "Required. The serialized payload that is verified by one or more `signatures`.",
          "type": "string",
          "format": "byte"
        },
        "signatures": {
          "items": {
            "$ref": "Signature"
          },
          "description": "One or more signatures over `serialized_payload`. Verifier implementations should consider this attestation message verified if at least one `signature` verifies `serialized_payload`. See `Signature` in common.proto for more details on signature structure and verification.",
          "type": "array"
        }
      }
    },
    "Location": {
      "properties": {
        "version": {
          "$ref": "Version",
          "description": "Deprecated. The version installed at this location."
        },
        "cpeUri": {
          "description": "Deprecated. The CPE URI in [CPE format](https://cpe.mitre.org/specification/)",
          "type": "string"
        },
        "path": {
          "description": "The path from which we gathered that this package/version is installed.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An occurrence of a particular package installation found within a system's filesystem. E.g., glibc was found in `/var/lib/dpkg/status`.",
      "id": "Location"
    },
    "IngestionSource": {
      "type": "object",
      "properties": {
        "resourceUrl": {
          "description": "The resource URL of the resource that was scanned to find this package.",
          "type": "string"
        },
        "attachmentUri": {
          "description": "The attachment URI that this package was extracted from.",
          "type": "string"
        },
        "source": {
          "enum": [
            "SOURCE_UNSPECIFIED",
            "DOCKER_IMAGE",
            "SBOM_ATTACHMENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "description": "Indicates where an extracted package originates from.",
      "id": "IngestionSource"
    },
    "SourceContext": {
      "description": "A SourceContext is a reference to a tree of files. A SourceContext together with a path point to a unique revision of a single file or directory.",
      "properties": {
        "gerrit": {
          "$ref": "GerritSourceContext",
          "description": "A SourceContext referring to a Gerrit project."
        },
        "labels": {
          "description": "Labels with user defined metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "git": {
          "description": "A SourceContext referring to any third party Git repo (e.g., GitHub).",
          "$ref": "GitSourceContext"
        },
        "cloudRepo": {
          "description": "A SourceContext referring to a revision in a Google Cloud Source Repo.",
          "$ref": "CloudRepoSourceContext"
        }
      },
      "id": "SourceContext",
      "type": "object"
    },
    "RelatedUrl": {
      "description": "Metadata for any related URL information.",
      "type": "object",
      "id": "RelatedUrl",
      "properties": {
        "label": {
          "type": "string",
          "description": "Label to describe usage of the URL."
        },
        "url": {
          "description": "Specific URL associated with the resource.",
          "type": "string"
        }
      }
    },
    "SlsaProvenanceV1": {
      "id": "SlsaProvenanceV1",
      "description": "Keep in sync with schema at https://github.com/slsa-framework/slsa/blob/main/docs/provenance/schema/v1/provenance.proto Builder renamed to ProvenanceBuilder because of Java conflicts.",
      "type": "object",
      "properties": {
        "runDetails": {
          "$ref": "RunDetails"
        },
        "buildDefinition": {
          "$ref": "BuildDefinition"
        }
      }
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaInvocation": {
      "description": "Identifies the event that kicked off the build.",
      "type": "object",
      "properties": {
        "environment": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "configSource": {
          "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaConfigSource"
        }
      },
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaInvocation"
    },
    "ExploitPredictionScoringSystem": {
      "id": "ExploitPredictionScoringSystem",
      "type": "object",
      "properties": {
        "score": {
          "type": "number",
          "description": "The EPSS score representing the probability [0-1] of exploitation in the wild in the next 30 days",
          "format": "double"
        },
        "percentile": {
          "format": "double",
          "type": "number",
          "description": "The percentile of the current score, the proportion of all scored vulnerabilities with the same or a lower EPSS score"
        }
      }
    },
    "BuildProvenance": {
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time at which execution of the build was finished."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time at which execution of the build was started."
        },
        "createTime": {
          "type": "string",
          "description": "Time at which the build was created.",
          "format": "google-datetime"
        },
        "creator": {
          "type": "string",
          "description": "E-mail address of the user who initiated this build. Note that this was the user's e-mail address at the time the build was initiated; this address may not represent the same end-user for all time."
        },
        "buildOptions": {
          "type": "object",
          "description": "Special options applied to this build. This is a catch-all field where build providers can enter any desired additional details.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "builderVersion": {
          "description": "Version string of the builder at the time this build was executed.",
          "type": "string"
        },
        "commands": {
          "type": "array",
          "description": "Commands requested by the build.",
          "items": {
            "$ref": "Command"
          }
        },
        "logsUri": {
          "type": "string",
          "description": "URI where any logs for this provenance were written."
        },
        "projectId": {
          "type": "string",
          "description": "ID of the project."
        },
        "sourceProvenance": {
          "$ref": "Source",
          "description": "Details of the Source input to the build."
        },
        "triggerId": {
          "description": "Trigger identifier if the build was triggered automatically; empty if not.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. Unique identifier of the build."
        },
        "builtArtifacts": {
          "description": "Output of the build.",
          "type": "array",
          "items": {
            "$ref": "Artifact"
          }
        }
      },
      "id": "BuildProvenance",
      "description": "Provenance of a build. Contains all information needed to verify the full details about the build from source to completion.",
      "type": "object"
    },
    "FileHashes": {
      "type": "object",
      "description": "Container message for hashes of byte content of files, used in source messages to verify integrity of source input to the build.",
      "properties": {
        "fileHash": {
          "type": "array",
          "items": {
            "$ref": "Hash"
          },
          "description": "Required. Collection of file hashes."
        }
      },
      "id": "FileHashes"
    },
    "SBOMReferenceOccurrence": {
      "type": "object",
      "properties": {
        "payloadType": {
          "description": "The kind of payload that SbomReferenceIntotoPayload takes. Since it's in the intoto format, this value is expected to be 'application/vnd.in-toto+json'.",
          "type": "string"
        },
        "payload": {
          "$ref": "SbomReferenceIntotoPayload",
          "description": "The actual payload that contains the SBOM reference data."
        },
        "signatures": {
          "items": {
            "$ref": "EnvelopeSignature"
          },
          "type": "array",
          "description": "The signatures over the payload."
        }
      },
      "id": "SBOMReferenceOccurrence",
      "description": "The occurrence representing an SBOM reference as applied to a specific resource. The occurrence follows the DSSE specification. See https://github.com/secure-systems-lab/dsse/blob/master/envelope.md for more details."
    },
    "SlsaCompleteness": {
      "description": "Indicates that the builder claims certain fields in this message to be complete.",
      "type": "object",
      "id": "SlsaCompleteness",
      "properties": {
        "arguments": {
          "description": "If true, the builder claims that recipe.arguments is complete, meaning that all external inputs are properly captured in the recipe.",
          "type": "boolean"
        },
        "materials": {
          "description": "If true, the builder claims that materials are complete, usually through some controls to prevent network access. Sometimes called \"hermetic\".",
          "type": "boolean"
        },
        "environment": {
          "description": "If true, the builder claims that recipe.environment is claimed to be complete.",
          "type": "boolean"
        }
      }
    },
    "Metadata": {
      "description": "Other properties of the build.",
      "properties": {
        "buildInvocationId": {
          "description": "Identifies the particular build invocation, which can be useful for finding associated logs or other ad-hoc analysis. The value SHOULD be globally unique, per in-toto Provenance spec.",
          "type": "string"
        },
        "completeness": {
          "$ref": "Completeness",
          "description": "Indicates that the builder claims certain fields in this message to be complete."
        },
        "buildFinishedOn": {
          "description": "The timestamp of when the build completed.",
          "type": "string",
          "format": "google-datetime"
        },
        "buildStartedOn": {
          "description": "The timestamp of when the build started.",
          "format": "google-datetime",
          "type": "string"
        },
        "reproducible": {
          "type": "boolean",
          "description": "If true, the builder claims that running the recipe on materials will produce bit-for-bit identical output."
        }
      },
      "type": "object",
      "id": "Metadata"
    },
    "SecretLocation": {
      "properties": {
        "fileLocation": {
          "$ref": "GrafeasV1FileLocation",
          "description": "The secret is found from a file."
        }
      },
      "id": "SecretLocation",
      "type": "object",
      "description": "The location of the secret."
    },
    "DSSEAttestationOccurrence": {
      "properties": {
        "statement": {
          "$ref": "InTotoStatement"
        },
        "envelope": {
          "description": "If doing something security critical, make sure to verify the signatures in this metadata.",
          "$ref": "Envelope"
        }
      },
      "type": "object",
      "id": "DSSEAttestationOccurrence",
      "description": "Deprecated. Prefer to use a regular Occurrence, and populate the Envelope at the top level of the Occurrence."
    },
    "RunDetails": {
      "id": "RunDetails",
      "properties": {
        "byproducts": {
          "type": "array",
          "items": {
            "$ref": "ResourceDescriptor"
          }
        },
        "metadata": {
          "$ref": "BuildMetadata"
        },
        "builder": {
          "$ref": "ProvenanceBuilder"
        }
      },
      "type": "object"
    },
    "FileLocation": {
      "properties": {
        "layerDetails": {
          "$ref": "LayerDetails"
        },
        "lineNumber": {
          "format": "int32",
          "type": "integer",
          "description": "Line number in the file where the package is found. Applies only to source repository scanning. Note: this field is marked as `optional` in other corresponding protos, but in edition 2023, the \"optional\" keyword is redundant."
        },
        "filePath": {
          "description": "For jars that are contained inside .war files, this filepath can indicate the path to war file combined with the path to jar file.",
          "type": "string"
        }
      },
      "description": "Indicates the location at which a package was found.",
      "id": "FileLocation",
      "type": "object"
    },
    "Subject": {
      "properties": {
        "name": {
          "type": "string"
        },
        "digest": {
          "description": "`\"\": \"\"` Algorithms can be e.g. sha256, sha512 See https://github.com/in-toto/attestation/blob/main/spec/field_types.md#DigestSet",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "Subject"
    },
    "BuildMetadata": {
      "id": "BuildMetadata",
      "type": "object",
      "properties": {
        "startedOn": {
          "format": "google-datetime",
          "type": "string"
        },
        "finishedOn": {
          "type": "string",
          "format": "google-datetime"
        },
        "invocationId": {
          "type": "string"
        }
      }
    },
    "GrafeasV1FileLocation": {
      "properties": {
        "layerDetails": {
          "description": "Each package found in a file should have its own layer metadata (that is, information from the origin layer of the package).",
          "$ref": "GrafeasV1LayerDetails"
        },
        "filePath": {
          "description": "For jars that are contained inside .war files, this filepath can indicate the path to war file combined with the path to jar file.",
          "type": "string"
        },
        "lineNumber": {
          "format": "int32",
          "description": "Line number in the file where the package was found. Optional field that only applies to source repository scanning.",
          "type": "integer"
        }
      },
      "description": "Indicates the location at which a package was found.",
      "id": "GrafeasV1FileLocation",
      "type": "object"
    },
    "SlsaRecipe": {
      "properties": {
        "arguments": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint. Depending on the recipe Type, the structure may be different."
        },
        "environment": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy. Depending on the recipe Type, the structure may be different."
        },
        "type": {
          "type": "string",
          "description": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials."
        },
        "entryPoint": {
          "type": "string",
          "description": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use."
        },
        "definedInMaterial": {
          "type": "string",
          "description": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64.",
          "format": "int64"
        }
      },
      "description": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe.",
      "id": "SlsaRecipe",
      "type": "object"
    },
    "DeploymentOccurrence": {
      "type": "object",
      "properties": {
        "resourceUri": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Resource URI for the artifact being deployed taken from the deployable field with the same name."
        },
        "undeployTime": {
          "description": "End of the lifetime of this deployment.",
          "type": "string",
          "format": "google-datetime"
        },
        "config": {
          "type": "string",
          "description": "Configuration used to create this deployment."
        },
        "userEmail": {
          "type": "string",
          "description": "Identity of the user that triggered this deployment."
        },
        "address": {
          "description": "Address of the runtime element hosting this deployment.",
          "type": "string"
        },
        "deployTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Beginning of the lifetime of this deployment."
        },
        "platform": {
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "GKE",
            "FLEX",
            "CUSTOM"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Google Container Engine.",
            "Google App Engine: Flexible Environment.",
            "Custom user-defined platform."
          ],
          "description": "Platform hosting this deployment.",
          "type": "string"
        }
      },
      "id": "DeploymentOccurrence",
      "description": "The period during which some deployable was active in a runtime."
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaMaterial": {
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaMaterial",
      "type": "object",
      "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on.",
      "properties": {
        "uri": {
          "type": "string"
        },
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "Risk": {
      "type": "object",
      "id": "Risk",
      "properties": {
        "cisaKev": {
          "description": "CISA maintains the authoritative source of vulnerabilities that have been exploited in the wild.",
          "$ref": "CISAKnownExploitedVulnerabilities"
        },
        "epss": {
          "$ref": "ExploitPredictionScoringSystem",
          "description": "The Exploit Prediction Scoring System (EPSS) estimates the likelihood (probability) that a software vulnerability will be exploited in the wild."
        }
      }
    },
    "Finding": {
      "description": "Finding provides details for a single finding within an AISkillAnalysisOccurrence.",
      "type": "object",
      "properties": {
        "category": {
          "description": "Category of the finding.",
          "type": "string"
        },
        "scanner": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified scanner.",
            "Static scanner.",
            "LLM scanner.",
            "WS_POLICY scanner.",
            "Google AntiVirus Service scanner."
          ],
          "enum": [
            "SCANNER_UNSPECIFIED",
            "STATIC",
            "LLM",
            "WS_POLICY",
            "GOOGLE_ANTIVIRUS"
          ],
          "description": "Scanner determines which engine (e.g. static, llm) emitted the finding."
        },
        "details": {
          "type": "string",
          "description": "Description of the finding category."
        },
        "severity": {
          "type": "string",
          "description": "Severity of the finding.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH"
          ],
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity."
          ]
        },
        "location": {
          "description": "Location (path and line) where the finding was detected.",
          "$ref": "FindingLocation"
        }
      },
      "id": "Finding"
    },
    "Recipe": {
      "id": "Recipe",
      "description": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe.",
      "type": "object",
      "properties": {
        "entryPoint": {
          "description": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use.",
          "type": "string"
        },
        "environment": {
          "type": "array",
          "description": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy. Since the environment field can greatly vary in structure, depending on the builder and recipe type, this is of form \"Any\".",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "type": {
          "description": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials.",
          "type": "string"
        },
        "arguments": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint. Since the arguments field can greatly vary in structure, depending on the builder and recipe type, this is of form \"Any\".",
          "type": "array"
        },
        "definedInMaterial": {
          "type": "string",
          "description": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64.",
          "format": "int64"
        }
      }
    },
    "PackageOccurrence": {
      "type": "object",
      "id": "PackageOccurrence",
      "properties": {
        "name": {
          "description": "Required. Output only. The name of the installed package.",
          "type": "string",
          "readOnly": true
        },
        "license": {
          "$ref": "License",
          "description": "Licenses that have been declared by the authors of the package."
        },
        "version": {
          "readOnly": true,
          "$ref": "Version",
          "description": "Output only. The version of the package."
        },
        "architecture": {
          "description": "Output only. The CPU architecture for which packages in this distribution channel were built. Architecture will be blank for language packages.",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86",
            "X64"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unknown architecture.",
            "X86 architecture.",
            "X64 architecture."
          ]
        },
        "cpeUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The cpe_uri in [CPE format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package. The cpe_uri will be blank for language packages."
        },
        "location": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "All of the places within the filesystem versions of this package have been found."
        },
        "packageType": {
          "description": "Output only. The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.).",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Details on how a particular software package was installed on a system."
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaConfigSource": {
      "description": "Describes where the config file that kicked off the build came from. This is effectively a pointer to the source where buildConfig came from.",
      "properties": {
        "uri": {
          "type": "string"
        },
        "entryPoint": {
          "type": "string"
        },
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaConfigSource"
    },
    "Remediation": {
      "type": "object",
      "properties": {
        "details": {
          "description": "Contains a comprehensive human-readable discussion of the remediation.",
          "type": "string"
        },
        "remediationType": {
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "MITIGATION",
            "NO_FIX_PLANNED",
            "NONE_AVAILABLE",
            "VENDOR_FIX",
            "WORKAROUND"
          ],
          "enumDescriptions": [
            "No remediation type specified.",
            "A MITIGATION is available.",
            "No fix is planned.",
            "Not available.",
            "A vendor fix is available.",
            "A workaround is available."
          ],
          "description": "The type of remediation that can be applied.",
          "type": "string"
        },
        "remediationUri": {
          "description": "Contains the URL where to obtain the remediation.",
          "$ref": "RelatedUrl"
        }
      },
      "description": "Specifies details on how to handle (and presumably, fix) a vulnerability.",
      "id": "Remediation"
    },
    "SbomReferenceIntotoPayload": {
      "id": "SbomReferenceIntotoPayload",
      "type": "object",
      "properties": {
        "predicateType": {
          "type": "string",
          "description": "URI identifying the type of the Predicate."
        },
        "_type": {
          "type": "string",
          "description": "Identifier for the schema of the Statement."
        },
        "subject": {
          "type": "array",
          "items": {
            "$ref": "Subject"
          },
          "description": "Set of software artifacts that the attestation applies to. Each element represents a single software artifact."
        },
        "predicate": {
          "description": "Additional parameters of the Predicate. Includes the actual data about the SBOM.",
          "$ref": "SbomReferenceIntotoPredicate"
        }
      },
      "description": "The actual payload that contains the SBOM Reference data. The payload follows the intoto statement specification. See https://github.com/in-toto/attestation/blob/main/spec/v1.0/statement.md for more details."
    },
    "SlsaProvenance": {
      "type": "object",
      "id": "SlsaProvenance",
      "properties": {
        "builder": {
          "description": "required",
          "$ref": "SlsaBuilder"
        },
        "recipe": {
          "description": "Identifies the configuration used for the build. When combined with materials, this SHOULD fully describe the build, such that re-running this recipe results in bit-for-bit identical output (if the build is reproducible). required",
          "$ref": "SlsaRecipe"
        },
        "metadata": {
          "$ref": "SlsaMetadata"
        },
        "materials": {
          "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on. This is considered to be incomplete unless metadata.completeness.materials is true. Unset or null is equivalent to empty.",
          "items": {
            "$ref": "Material"
          },
          "type": "array"
        }
      }
    },
    "AnalyzePackagesRequestV1": {
      "id": "AnalyzePackagesRequestV1",
      "description": "AnalyzePackagesRequest is the request to analyze a list of packages and create Vulnerability Occurrences for it.",
      "type": "object",
      "properties": {
        "packages": {
          "description": "The packages to analyze.",
          "items": {
            "$ref": "PackageData"
          },
          "type": "array"
        },
        "includeOsvData": {
          "type": "boolean",
          "deprecated": true,
          "description": "[DEPRECATED] Whether to include OSV data in the scan. For backwards compatibility reasons, this field can be neither removed nor renamed."
        },
        "resourceUri": {
          "description": "Required. The resource URI of the container image being scanned.",
          "type": "string"
        }
      }
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaCompleteness": {
      "properties": {
        "parameters": {
          "type": "boolean"
        },
        "environment": {
          "type": "boolean"
        },
        "materials": {
          "type": "boolean"
        }
      },
      "description": "Indicates that the builder claims certain fields in this message to be complete.",
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaCompleteness",
      "type": "object"
    },
    "MaliciousContentStaticResult": {
      "description": "Result of Malicious Content Static scan.",
      "id": "MaliciousContentStaticResult",
      "properties": {
        "maxSeverity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH"
          ],
          "description": "Tracks max severity found.",
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity."
          ],
          "type": "string"
        },
        "scanStatus": {
          "type": "string",
          "description": "Status of the scan.",
          "enum": [
            "SCAN_STATUS_UNSPECIFIED",
            "PERFORMED",
            "NOT_PERFORMED"
          ],
          "enumDescriptions": [
            "Unspecified scan status.",
            "Scan was performed.",
            "Scan was not performed."
          ]
        }
      },
      "type": "object"
    },
    "VexAssessment": {
      "id": "VexAssessment",
      "type": "object",
      "properties": {
        "relatedUris": {
          "type": "array",
          "items": {
            "$ref": "RelatedUrl"
          },
          "description": "Holds a list of references associated with this vulnerability item and assessment."
        },
        "impacts": {
          "description": "Contains information about the impact of this vulnerability, this will change with time.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "vulnerabilityId": {
          "description": "The vulnerability identifier for this Assessment. Will hold one of common identifiers e.g. CVE, GHSA etc.",
          "type": "string"
        },
        "cve": {
          "deprecated": true,
          "description": "Holds the MITRE standard Common Vulnerabilities and Exposures (CVE) tracking number for the vulnerability. Deprecated: Use vulnerability_id instead to denote CVEs.",
          "type": "string"
        },
        "remediations": {
          "items": {
            "$ref": "Remediation"
          },
          "type": "array",
          "description": "Specifies details on how to handle (and presumably, fix) a vulnerability."
        },
        "noteName": {
          "type": "string",
          "description": "The VulnerabilityAssessment note from which this VexAssessment was generated. This will be of the form: `projects/[PROJECT_ID]/notes/[NOTE_ID]`."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "AFFECTED",
            "NOT_AFFECTED",
            "FIXED",
            "UNDER_INVESTIGATION"
          ],
          "enumDescriptions": [
            "No state is specified.",
            "This product is known to be affected by this vulnerability.",
            "This product is known to be not affected by this vulnerability.",
            "This product contains a fix for this vulnerability.",
            "It is not known yet whether these versions are or are not affected by the vulnerability. However, it is still under investigation."
          ],
          "type": "string",
          "description": "Provides the state of this Vulnerability assessment."
        },
        "justification": {
          "description": "Justification provides the justification when the state of the assessment if NOT_AFFECTED.",
          "$ref": "Justification"
        }
      },
      "description": "VexAssessment provides all publisher provided Vex information that is related to this vulnerability."
    },
    "Version": {
      "id": "Version",
      "properties": {
        "revision": {
          "description": "The iteration of the package build from the above version.",
          "type": "string"
        },
        "epoch": {
          "format": "int32",
          "type": "integer",
          "description": "Used to correct mistakes in the version numbering scheme."
        },
        "inclusive": {
          "type": "boolean",
          "description": "Whether this version is specifying part of an inclusive range. Grafeas does not have the capability to specify version ranges; instead we have fields that specify start version and end versions. At times this is insufficient - we also need to specify whether the version is included in the range or is excluded from the range. This boolean is expected to be set to true when the version is included in a range."
        },
        "name": {
          "description": "Required only when version kind is NORMAL. The main part of the version name.",
          "type": "string"
        },
        "fullName": {
          "description": "Human readable version string. This string is of the form :- and is only set when kind is NORMAL.",
          "type": "string"
        },
        "kind": {
          "enum": [
            "VERSION_KIND_UNSPECIFIED",
            "NORMAL",
            "MINIMUM",
            "MAXIMUM"
          ],
          "description": "Required. Distinguishes between sentinel MIN/MAX versions and normal versions.",
          "enumDescriptions": [
            "Unknown.",
            "A standard package version.",
            "A special version representing negative infinity.",
            "A special version representing positive infinity."
          ],
          "type": "string"
        }
      },
      "description": "Version contains structured information about the version of a package.",
      "type": "object"
    },
    "License": {
      "description": "License information.",
      "type": "object",
      "id": "License",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Often a single license can be used to represent the licensing terms. Sometimes it is necessary to include a choice of one or more licenses or some combination of license identifiers. Examples: \"LGPL-2.1-only OR MIT\", \"LGPL-2.1-only AND MIT\", \"GPL-2.0-or-later WITH Bison-exception-2.2\"."
        },
        "comments": {
          "description": "Comments",
          "type": "string"
        }
      }
    },
    "LayerDetails": {
      "type": "object",
      "description": "Details about the layer a package was found in.",
      "id": "LayerDetails",
      "properties": {
        "diffId": {
          "type": "string",
          "description": "The diff ID (sha256 hash) of the layer in the container image."
        },
        "chainId": {
          "type": "string",
          "description": "The layer chain ID (sha256 hash) of the layer in the container image. https://github.com/opencontainers/image-spec/blob/main/config.md#layer-chainid"
        },
        "baseImages": {
          "items": {
            "$ref": "BaseImage"
          },
          "type": "array",
          "description": "The base images the layer is found within."
        },
        "command": {
          "description": "The layer build command that was used to build the layer. This may not be found in all layers depending on how the container image is built.",
          "type": "string"
        },
        "index": {
          "description": "The index of the layer in the container image.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "CVSS": {
      "id": "CVSS",
[...]
