{
  "discoveryVersion": "v1",
  "basePath": "",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "parameters": {
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "ondemandscanning.projects.locations.operations.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations"
                },
                "cancel": {
                  "id": "ondemandscanning.projects.locations.operations.cancel",
                  "path": "v1/{+name}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "ondemandscanning.projects.locations.operations.delete",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1/{+name}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "ondemandscanning.projects.locations.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1/{+name}"
                },
                "wait": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to wait on."
                    },
                    "timeout": {
                      "location": "query",
                      "format": "google-duration",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}:wait",
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "ondemandscanning.projects.locations.operations.wait",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:wait"
                }
              }
            },
            "scans": {
              "methods": {
                "analyzePackages": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "id": "ondemandscanning.projects.locations.scans.analyzePackages",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/scans:analyzePackages",
                  "request": {
                    "$ref": "AnalyzePackagesRequestV1"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent of the resource for which analysis is requested. Format: projects/[project_name]/locations/[location]",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Initiates an analysis of the provided packages.",
                  "path": "v1/{+parent}/scans:analyzePackages"
                }
              },
              "resources": {
                "vulnerabilities": {
                  "methods": {
                    "list": {
                      "id": "ondemandscanning.projects.locations.scans.vulnerabilities.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/scans/{scansId}/vulnerabilities",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "The page token, resulting from a previous call to ListVulnerabilities.",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "The number of vulnerabilities to retrieve.",
                          "format": "int32"
                        },
                        "parent": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent of the collection of Vulnerabilities being requested. Format: projects/[project_name]/locations/[location]/scans/[scan_id]",
                          "pattern": "^projects/[^/]+/locations/[^/]+/scans/[^/]+$"
                        }
                      },
                      "path": "v1/{+parent}/vulnerabilities",
                      "response": {
                        "$ref": "ListVulnerabilitiesResponseV1"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists vulnerabilities resulting from a successfully completed scan."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1",
  "description": "A service to scan container images for vulnerabilities.",
  "name": "ondemandscanning",
  "title": "On-Demand Scanning API",
  "documentationLink": "https://cloud.google.com/container-analysis/docs/on-demand-scanning/",
  "id": "ondemandscanning:v1",
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "servicePath": "",
  "rootUrl": "https://ondemandscanning.googleapis.com/",
  "schemas": {
    "UpgradeOccurrence": {
      "type": "object",
      "id": "UpgradeOccurrence",
      "description": "An Upgrade Occurrence represents that a specific resource_url could install a specific upgrade. This presence is supplied via local sources (i.e. it is present in the mirror and the running system has noticed its availability). For Windows, both distribution and windows_update contain information for the Windows update.",
      "properties": {
        "windowsUpdate": {
          "$ref": "WindowsUpdate",
          "description": "Required for Windows OS. Represents the metadata about the Windows update."
        },
        "parsedVersion": {
          "description": "Required for non-Windows OS. The version of the package in a machine + human readable form.",
          "$ref": "Version"
        },
        "distribution": {
          "$ref": "UpgradeDistribution",
          "description": "Metadata about the upgrade for available for the specific operating system for the resource_url. This allows efficient filtering, as well as making it easier to use the occurrence."
        },
        "package": {
          "type": "string",
          "description": "Required for non-Windows OS. The package this Upgrade is for."
        }
      }
    },
    "SBOMReferenceOccurrence": {
      "description": "The occurrence representing an SBOM reference as applied to a specific resource. The occurrence follows the DSSE specification. See https://github.com/secure-systems-lab/dsse/blob/master/envelope.md for more details.",
      "type": "object",
      "properties": {
        "payload": {
          "description": "The actual payload that contains the SBOM reference data.",
          "$ref": "SbomReferenceIntotoPayload"
        },
        "payloadType": {
          "type": "string",
          "description": "The kind of payload that SbomReferenceIntotoPayload takes. Since it's in the intoto format, this value is expected to be 'application/vnd.in-toto+json'."
        },
        "signatures": {
          "type": "array",
          "items": {
            "$ref": "EnvelopeSignature"
          },
          "description": "The signatures over the payload."
        }
      },
      "id": "SBOMReferenceOccurrence"
    },
    "CVSS": {
      "description": "Common Vulnerability Scoring System. For details, see https://www.first.org/cvss/specification-document This is a message we will try to use for storing various versions of CVSS rather than making a separate proto for storing a specific version.",
      "properties": {
        "userInteraction": {
          "description": "User Interaction (UI). Defined in CVSS v3, v4.",
          "type": "string",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED",
            "USER_INTERACTION_PASSIVE",
            "USER_INTERACTION_ACTIVE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "No user interaction required (UI:N). Defined in CVSS v3, v4.",
            "User interaction required (UI:R). Defined in CVSS v3.",
            "Passive user interaction required (UI:P). Defined in CVSS v4.",
            "Active user interaction required (UI:A). Defined in CVSS v4."
          ]
        },
        "exploitabilityScore": {
          "type": "number",
          "format": "float"
        },
        "integrityImpact": {
          "description": "Integrity Impact (I). Defined in CVSS v2, v3.",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "type": "string"
        },
        "vulnerableSystemAvailabilityImpact": {
          "description": "Vulnerable System Availability Impact (VA). Defined in CVSS v4.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ]
        },
        "privilegesRequired": {
          "type": "string",
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ],
          "description": "Privileges Required (PR). Defined in CVSS v3, v4.",
          "enumDescriptions": [
            "Unspecified.",
            "No privileges required (PR:N). Defined in CVSS v3, v4.",
            "Low privileges required (PR:L). Defined in CVSS v3, v4.",
            "High privileges required (PR:H). Defined in CVSS v3, v4."
          ]
        },
        "subsequentSystemConfidentialityImpact": {
          "description": "Subsequent System Confidentiality Impact (SC). Defined in CVSS v4.",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ]
        },
        "availabilityImpact": {
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "description": "Availability Impact (A). Defined in CVSS v2, v3.",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "type": "string"
        },
        "subsequentSystemIntegrityImpact": {
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "description": "Subsequent System Integrity Impact (SI). Defined in CVSS v4.",
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ]
        },
        "subsequentSystemAvailabilityImpact": {
          "type": "string",
          "description": "Subsequent System Availability Impact (SA). Defined in CVSS v4.",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ]
        },
        "vulnerableSystemConfidentialityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "type": "string",
          "description": "Vulnerable System Confidentiality Impact (VC). Defined in CVSS v4.",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ]
        },
        "impactScore": {
          "type": "number",
          "format": "float"
        },
        "exploitMaturity": {
          "description": "Exploit Maturity (E). Defined in CVSS v4.",
          "enumDescriptions": [
            "Unspecified.",
            "Exploit maturity: Not defined (E:X). Defined in CVSS v4.",
            "Exploit maturity: Attacked (E:A). Defined in CVSS v4.",
            "Exploit maturity: Proof-of-concept (E:P). Defined in CVSS v4.",
            "Exploit maturity: Unreported (E:U). Defined in CVSS v4."
          ],
          "type": "string",
          "enum": [
            "EXPLOIT_MATURITY_UNSPECIFIED",
            "EXPLOIT_MATURITY_NOT_DEFINED",
            "EXPLOIT_MATURITY_ATTACKED",
            "EXPLOIT_MATURITY_POC",
            "EXPLOIT_MATURITY_UNREPORTED"
          ]
        },
        "confidentialityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "description": "Confidentiality Impact (C). Defined in CVSS v2, v3."
        },
        "attackVector": {
          "enumDescriptions": [
            "Unspecified.",
            "Attack Vector: Network (AV:N). Defined in CVSS v2, v3, v4.",
            "Attack Vector: Adjacent (AV:A). Defined in CVSS v2, v3, v4.",
            "Attack Vector: Local (AV:L). Defined in CVSS v2, v3, v4.",
            "Attack Vector: Physical (AV:P). Defined in CVSS v3, v4."
          ],
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "description": "Attack Vector (AV). Defined in CVSS v2, v3, v4.",
          "type": "string"
        },
        "scope": {
          "type": "string",
          "description": "Scope (S). Defined in CVSS v3.",
          "enumDescriptions": [
            "Unspecified.",
            "Scope: Unchanged (S:U). Defined in CVSS v3.",
            "Scope: Changed (S:C). Defined in CVSS v3."
          ],
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ]
        },
        "vulnerableSystemIntegrityImpact": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "description": "Vulnerable System Integrity Impact (VI). Defined in CVSS v4."
        },
        "attackComplexity": {
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH",
            "ATTACK_COMPLEXITY_MEDIUM"
          ],
          "description": "Attack Complexity (AC). Defined in CVSS v2, v3, v4.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Low attack complexity (AC:L). Defined in CVSS v2, v3, v4.",
            "High attack complexity (AC:H). Defined in CVSS v2, v3, v4.",
            "Medium attack complexity (AC:M). Defined in CVSS v2."
          ]
        },
        "baseScore": {
          "description": "The base score is a function of the base metric scores.",
          "type": "number",
          "format": "float"
        },
        "authentication": {
          "enum": [
            "AUTHENTICATION_UNSPECIFIED",
            "AUTHENTICATION_MULTIPLE",
            "AUTHENTICATION_SINGLE",
            "AUTHENTICATION_NONE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Multiple authentication required (Au:M). Defined in CVSS v2.",
            "Single authentication required (Au:S). Defined in CVSS v2.",
            "No authentication required (Au:N). Defined in CVSS v2."
          ],
          "type": "string",
          "description": "Authentication (Au). Defined in CVSS v2."
        },
        "attackRequirements": {
          "enumDescriptions": [
            "Unspecified.",
            "No attack requirements (AT:N). Defined in CVSS v4.",
            "Attack requirements: Present (AT:P). Defined in CVSS v4."
          ],
          "description": "Attack Requirements (AT). Defined in CVSS v4.",
          "enum": [
            "ATTACK_REQUIREMENTS_UNSPECIFIED",
            "ATTACK_REQUIREMENTS_NONE",
            "ATTACK_REQUIREMENTS_PRESENT"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "CVSS"
    },
    "FileLocation": {
      "description": "Indicates the location at which a package was found.",
      "id": "FileLocation",
      "properties": {
        "lineNumber": {
          "description": "Line number in the file where the package is found. Applies only to source repository scanning. Note: this field is marked as `optional` in other corresponding protos, but in edition 2023, the \"optional\" keyword is redundant.",
          "format": "int32",
          "type": "integer"
        },
        "filePath": {
          "description": "For jars that are contained inside .war files, this filepath can indicate the path to war file combined with the path to jar file.",
          "type": "string"
        },
        "layerDetails": {
          "$ref": "LayerDetails"
        }
      },
      "type": "object"
    },
    "Location": {
      "description": "An occurrence of a particular package installation found within a system's filesystem. E.g., glibc was found in `/var/lib/dpkg/status`.",
      "properties": {
        "path": {
          "description": "The path from which we gathered that this package/version is installed.",
          "type": "string"
        },
        "version": {
          "description": "Deprecated. The version installed at this location.",
          "$ref": "Version"
        },
        "cpeUri": {
          "type": "string",
          "description": "Deprecated. The CPE URI in [CPE format](https://cpe.mitre.org/specification/)"
        }
      },
      "type": "object",
      "id": "Location"
    },
    "Fingerprint": {
      "type": "object",
      "id": "Fingerprint",
      "properties": {
        "v1Name": {
          "description": "Required. The layer ID of the final layer in the Docker image's v1 representation.",
          "type": "string"
        },
        "v2Blob": {
          "description": "Required. The ordered list of v2 blobs that represent a given image.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "v2Name": {
          "description": "Output only. The name of the image's v2 blobs computed via: [bottom] := v2_blobbottom := sha256(v2_blob[N] + \" \" + v2_name[N+1]) Only the name of the final blob is kept.",
          "type": "string"
        }
      },
      "description": "A set of properties that uniquely identify a given Docker image."
    },
    "SlsaBuilder": {
      "type": "object",
      "id": "SlsaBuilder",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "GerritSourceContext": {
      "properties": {
        "revisionId": {
          "description": "A revision (commit) ID.",
          "type": "string"
        },
        "hostUri": {
          "type": "string",
          "description": "The URI of a running Gerrit instance."
        },
        "aliasContext": {
          "description": "An alias, which may be a branch or tag.",
          "$ref": "AliasContext"
        },
        "gerritProject": {
          "type": "string",
          "description": "The full project name within the host. Projects may be nested, so \"project/subproject\" is a valid project name. The \"repo name\" is the hostURI/project."
        }
      },
      "description": "A SourceContext referring to a Gerrit project.",
      "type": "object",
      "id": "GerritSourceContext"
    },
    "MalwareScanResult": {
      "properties": {
        "verdict": {
          "description": "Verdict of the scan.",
          "enumDescriptions": [
            "Unspecified verdict.",
            "Scanner passed.",
            "Scanner failed."
          ],
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "type": "string"
        },
        "scanStatus": {
          "description": "Status of the scan.",
          "enum": [
            "SCAN_STATUS_UNSPECIFIED",
            "PERFORMED",
            "NOT_PERFORMED"
          ],
          "enumDescriptions": [
            "Unspecified scan status.",
            "Scan was performed.",
            "Scan was not performed."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "MalwareScanResult",
      "description": "Result of Malware scan."
    },
    "Risk": {
      "id": "Risk",
      "properties": {
        "cisaKev": {
          "$ref": "CISAKnownExploitedVulnerabilities",
          "description": "CISA maintains the authoritative source of vulnerabilities that have been exploited in the wild."
        },
        "epss": {
          "$ref": "ExploitPredictionScoringSystem",
          "description": "The Exploit Prediction Scoring System (EPSS) estimates the likelihood (probability) that a software vulnerability will be exploited in the wild."
        }
      },
      "type": "object"
    },
    "ComplianceOccurrence": {
      "description": "An indication that the compliance checks in the associated ComplianceNote were not satisfied for particular resources or a specified reason.",
      "properties": {
        "version": {
          "description": "The OS and config version the benchmark was run on.",
          "$ref": "ComplianceVersion"
        },
        "nonComplianceReason": {
          "type": "string"
        },
        "nonCompliantFiles": {
          "type": "array",
          "items": {
            "$ref": "NonCompliantFile"
          }
        }
      },
      "type": "object",
      "id": "ComplianceOccurrence"
    },
    "AnalysisCompleted": {
      "type": "object",
      "description": "Indicates which analysis completed successfully. Multiple types of analysis can be performed on a single resource.",
      "properties": {
        "analysisType": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AnalysisCompleted"
    },
    "Identity": {
      "type": "object",
      "id": "Identity",
      "properties": {
        "revision": {
          "format": "int32",
          "description": "The revision number of the update.",
          "type": "integer"
        },
        "updateId": {
          "description": "The revision independent identifier of the update.",
          "type": "string"
        }
      },
      "description": "The unique identifier of the update."
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaInvocation": {
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaInvocation",
      "description": "Identifies the event that kicked off the build.",
      "type": "object",
      "properties": {
        "configSource": {
          "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaConfigSource"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "environment": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "ProvenanceBuilder": {
      "properties": {
        "version": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "builderDependencies": {
          "items": {
            "$ref": "ResourceDescriptor"
          },
          "type": "array"
        },
        "id": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "ProvenanceBuilder"
    },
    "PerScannerVerdict": {
      "id": "PerScannerVerdict",
      "properties": {
        "maliciousContentLlmResult": {
          "description": "Malicious Content LLM scan result.",
          "$ref": "MaliciousContentLLMResult"
        },
        "maliciousContentStaticResult": {
          "$ref": "MaliciousContentStaticResult",
          "description": "Malicious Content Static scan result."
        },
        "malwareScan": {
          "description": "Malware scan result.",
          "$ref": "MalwareScanResult"
        },
        "workspacePolicy": {
          "$ref": "WorkspacePolicyResult",
          "description": "Workspace Policy scan result."
        }
      },
      "type": "object"
    },
    "BuildOccurrence": {
      "id": "BuildOccurrence",
      "description": "Details of a build occurrence.",
      "properties": {
        "provenanceBytes": {
          "type": "string",
          "description": "Serialized JSON representation of the provenance, used in generating the build signature in the corresponding build note. After verifying the signature, `provenance_bytes` can be unmarshalled and compared to the provenance to confirm that it is unchanged. A base64-encoded string representation of the provenance bytes is used for the signature in order to interoperate with openssl which expects this format for signature verification. The serialized form is captured both to avoid ambiguity in how the provenance is marshalled to json as well to prevent incompatibilities with future changes."
        },
        "intotoStatement": {
          "description": "In-toto Statement representation as defined in spec. The intoto_statement can contain any type of provenance. The serialized payload of the statement can be stored and signed in the Occurrence's envelope.",
          "$ref": "InTotoStatement"
        },
        "provenance": {
          "description": "The actual provenance for the build.",
          "$ref": "BuildProvenance"
        },
        "intotoProvenance": {
          "description": "Deprecated. See InTotoStatement for the replacement. In-toto Provenance representation as defined in spec.",
          "$ref": "InTotoProvenance"
        },
        "inTotoSlsaProvenanceV1": {
          "description": "In-Toto Slsa Provenance V1 represents a slsa provenance meeting the slsa spec, wrapped in an in-toto statement. This allows for direct jsonification of a to-spec in-toto slsa statement with a to-spec slsa provenance.",
          "$ref": "InTotoSlsaProvenanceV1"
        }
      },
      "type": "object"
    },
    "LayerDetails": {
      "id": "LayerDetails",
      "properties": {
        "index": {
          "format": "int32",
          "description": "The index of the layer in the container image.",
          "type": "integer"
        },
        "command": {
          "type": "string",
          "description": "The layer build command that was used to build the layer. This may not be found in all layers depending on how the container image is built."
        },
        "diffId": {
          "description": "The diff ID (sha256 hash) of the layer in the container image.",
          "type": "string"
        },
        "baseImages": {
          "items": {
            "$ref": "BaseImage"
          },
          "type": "array",
          "description": "The base images the layer is found within."
        },
        "chainId": {
          "description": "The layer chain ID (sha256 hash) of the layer in the container image. https://github.com/opencontainers/image-spec/blob/main/config.md#layer-chainid",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details about the layer a package was found in."
    },
    "AnalyzePackagesResponse": {
      "description": "AnalyzePackagesResponse contains the information necessary to find results for the given scan.",
      "id": "AnalyzePackagesResponse",
      "properties": {
        "scan": {
          "description": "The name of the scan resource created by this successful scan.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AnalyzePackagesMetadataV1": {
      "id": "AnalyzePackagesMetadataV1",
      "properties": {
        "resourceUri": {
          "type": "string",
          "description": "The resource URI of the container image being scanned."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "When the scan was created.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "AnalyzePackagesMetadata contains metadata for an active scan of a container image."
    },
    "DiscoveryOccurrence": {
      "type": "object",
      "id": "DiscoveryOccurrence",
      "description": "Provides information about the analysis status of a discovered resource.",
      "properties": {
        "cpe": {
          "description": "The CPE of the resource being scanned.",
          "type": "string"
        },
        "lastScanTime": {
          "description": "The last time this resource was scanned.",
          "format": "google-datetime",
          "type": "string"
        },
        "archiveTime": {
          "readOnly": true,
          "description": "Output only. The time occurrences related to this discovery occurrence were archived.",
          "type": "string",
          "format": "google-datetime"
        },
        "analysisError": {
          "description": "Indicates any errors encountered during analysis of a resource. There could be 0 or more of these errors.",
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        },
        "continuousAnalysis": {
          "description": "Whether the resource is continuously analyzed.",
          "enumDescriptions": [
            "Unknown.",
            "The resource is continuously analyzed.",
            "The resource is ignored for continuous analysis."
          ],
          "type": "string",
          "enum": [
            "CONTINUOUS_ANALYSIS_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "lastVulnerabilityUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last time vulnerability scan results changed."
        },
        "sbomStatus": {
          "$ref": "SBOMStatus",
          "description": "The status of an SBOM generation."
        },
        "analysisStatusError": {
          "$ref": "Status",
          "description": "When an error is encountered this will contain a LocalizedMessage under details to show to the user. The LocalizedMessage is output only and populated by the API."
        },
        "analysisStatus": {
          "enum": [
            "ANALYSIS_STATUS_UNSPECIFIED",
            "PENDING",
            "SCANNING",
            "FINISHED_SUCCESS",
            "COMPLETE",
            "FINISHED_FAILED",
            "FINISHED_UNSUPPORTED"
          ],
          "type": "string",
          "description": "The status of discovery for the resource.",
          "enumDescriptions": [
            "Unknown.",
            "Resource is known but no action has been taken yet.",
            "Resource is being analyzed.",
            "Analysis has finished successfully.",
            "Analysis has completed.",
            "Analysis has finished unsuccessfully, the analysis itself is in a bad state.",
            "The resource is known not to be supported."
          ]
        },
        "files": {
          "items": {
            "$ref": "File"
          },
          "type": "array",
          "description": "Files that make up the resource described by the occurrence."
        },
        "analysisCompleted": {
          "$ref": "AnalysisCompleted"
        }
      }
    },
    "Layer": {
      "id": "Layer",
      "properties": {
        "arguments": {
          "description": "The recovered arguments to the Dockerfile directive.",
          "type": "string"
        },
        "directive": {
          "type": "string",
          "description": "Required. The recovered Dockerfile directive used to construct this layer. See https://docs.docker.com/engine/reference/builder/ for more information."
        }
      },
      "description": "Layer holds metadata specific to a layer of a Docker image.",
      "type": "object"
    },
    "ListVulnerabilitiesResponseV1": {
      "id": "ListVulnerabilitiesResponseV1",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A page token that can be used in a subsequent call to ListVulnerabilities to continue retrieving results."
        },
        "occurrences": {
          "description": "The list of Vulnerability Occurrences resulting from a scan.",
          "type": "array",
          "items": {
            "$ref": "Occurrence"
          }
        }
      },
      "description": "ListVulnerabilitiesResponse contains a single page of vulnerabilities resulting from a scan."
    },
    "SbomReferenceIntotoPredicate": {
      "type": "object",
      "id": "SbomReferenceIntotoPredicate",
      "description": "A predicate which describes the SBOM being referenced.",
      "properties": {
        "digest": {
          "description": "A map of algorithm to digest of the contents of the SBOM.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "referrerId": {
          "description": "The person or system referring this predicate to the consumer.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "The mime type of the SBOM."
        },
        "location": {
          "description": "The location of the SBOM.",
          "type": "string"
        }
      }
    },
    "BuildDefinition": {
      "id": "BuildDefinition",
      "properties": {
        "resolvedDependencies": {
          "type": "array",
          "items": {
            "$ref": "ResourceDescriptor"
          }
        },
        "externalParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "buildType": {
          "type": "string"
        },
        "internalParameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "AliasContext": {
      "id": "AliasContext",
      "description": "An alias to a repo revision.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The alias name."
        },
        "kind": {
          "description": "The alias kind.",
          "enumDescriptions": [
            "Unknown.",
            "Git tag.",
            "Git branch.",
            "Used to specify non-standard aliases. For example, if a Git repo has a ref named \"refs/foo/bar\"."
          ],
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "FIXED",
            "MOVABLE",
            "OTHER"
          ]
        }
      },
      "type": "object"
    },
    "CloudRepoSourceContext": {
      "description": "A CloudRepoSourceContext denotes a particular revision in a Google Cloud Source Repo.",
      "properties": {
        "repoId": {
          "description": "The ID of the repo.",
          "$ref": "RepoId"
        },
        "aliasContext": {
          "description": "An alias, which may be a branch or tag.",
          "$ref": "AliasContext"
        },
        "revisionId": {
          "description": "A revision ID.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CloudRepoSourceContext"
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaBuilder": {
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaBuilder",
      "type": "object",
      "description": "Identifies the entity that executed the recipe, which is trusted to have correctly performed the operation and populated this provenance."
    },
    "AnalyzePackagesRequestV1": {
      "type": "object",
      "description": "AnalyzePackagesRequest is the request to analyze a list of packages and create Vulnerability Occurrences for it.",
      "properties": {
        "includeOsvData": {
          "description": "[DEPRECATED] Whether to include OSV data in the scan. For backwards compatibility reasons, this field can be neither removed nor renamed.",
          "type": "boolean",
          "deprecated": true
        },
        "resourceUri": {
          "description": "Required. The resource URI of the container image being scanned.",
          "type": "string"
        },
        "packages": {
          "description": "The packages to analyze.",
          "type": "array",
          "items": {
            "$ref": "PackageData"
          }
        }
      },
      "id": "AnalyzePackagesRequestV1"
    },
    "BaseImage": {
      "description": "BaseImage describes a base image of a container image.",
      "properties": {
        "registry": {
          "type": "string",
          "description": "The registry in which the base image is from."
        },
        "name": {
          "type": "string",
          "description": "The name of the base image."
        },
        "repository": {
          "type": "string",
          "description": "The repository name in which the base image is from."
        },
        "layerCount": {
          "description": "The number of layers that the base image is composed of.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "BaseImage"
    },
    "SbomReferenceIntotoPayload": {
      "type": "object",
      "id": "SbomReferenceIntotoPayload",
      "description": "The actual payload that contains the SBOM Reference data. The payload follows the intoto statement specification. See https://github.com/in-toto/attestation/blob/main/spec/v1.0/statement.md for more details.",
      "properties": {
        "predicateType": {
          "description": "URI identifying the type of the Predicate.",
          "type": "string"
        },
        "predicate": {
          "$ref": "SbomReferenceIntotoPredicate",
          "description": "Additional parameters of the Predicate. Includes the actual data about the SBOM."
        },
        "_type": {
          "description": "Identifier for the schema of the Statement.",
          "type": "string"
        },
        "subject": {
          "items": {
            "$ref": "Subject"
          },
          "description": "Set of software artifacts that the attestation applies to. Each element represents a single software artifact.",
          "type": "array"
        }
      }
    },
    "SlsaProvenanceZeroTwo": {
      "id": "SlsaProvenanceZeroTwo",
      "description": "See full explanation of fields at slsa.dev/provenance/v0.2.",
      "properties": {
        "builder": {
          "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaBuilder"
        },
        "invocation": {
          "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaInvocation"
        },
        "buildConfig": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "buildType": {
          "type": "string"
        },
        "metadata": {
          "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaMetadata"
        },
        "materials": {
          "type": "array",
          "items": {
            "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaMaterial"
          }
        }
      },
      "type": "object"
    },
    "SourceContext": {
      "type": "object",
      "properties": {
        "gerrit": {
          "description": "A SourceContext referring to a Gerrit project.",
          "$ref": "GerritSourceContext"
        },
        "cloudRepo": {
          "description": "A SourceContext referring to a revision in a Google Cloud Source Repo.",
          "$ref": "CloudRepoSourceContext"
        },
        "git": {
          "description": "A SourceContext referring to any third party Git repo (e.g., GitHub).",
          "$ref": "GitSourceContext"
        },
        "labels": {
          "type": "object",
          "description": "Labels with user defined metadata.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "A SourceContext is a reference to a tree of files. A SourceContext together with a path point to a unique revision of a single file or directory.",
      "id": "SourceContext"
    },
    "Category": {
      "properties": {
        "name": {
          "description": "The localized name of the category.",
          "type": "string"
        },
        "categoryId": {
          "type": "string",
          "description": "The identifier of the category."
        }
      },
      "id": "Category",
      "description": "The category to which the update belongs.",
      "type": "object"
    },
    "SlsaRecipe": {
      "properties": {
        "type": {
          "type": "string",
          "description": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials."
        },
        "environment": {
          "description": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy. Depending on the recipe Type, the structure may be different.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "entryPoint": {
          "description": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use.",
          "type": "string"
        },
        "definedInMaterial": {
          "description": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64.",
          "format": "int64",
          "type": "string"
        },
        "arguments": {
          "description": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint. Depending on the recipe Type, the structure may be different.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "description": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe.",
      "type": "object",
      "id": "SlsaRecipe"
    },
    "WindowsUpdate": {
      "description": "Windows Update represents the metadata about the update for the Windows operating system. The fields in this message come from the Windows Update API documented at https://docs.microsoft.com/en-us/windows/win32/api/wuapi/nn-wuapi-iupdate.",
      "id": "WindowsUpdate",
      "properties": {
        "supportUrl": {
          "description": "The hyperlink to the support information for the update.",
          "type": "string"
        },
        "identity": {
          "description": "Required - The unique identifier for the update.",
          "$ref": "Identity"
        },
        "lastPublishedTimestamp": {
          "description": "The last published timestamp of the update.",
          "type": "string",
          "format": "google-datetime"
        },
        "kbArticleIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The Microsoft Knowledge Base article IDs that are associated with the update."
        },
        "description": {
          "description": "The localized description of the update.",
          "type": "string"
        },
        "categories": {
          "type": "array",
          "description": "The list of categories to which the update belongs.",
          "items": {
            "$ref": "Category"
          }
        },
        "title": {
          "type": "string",
          "description": "The localized title of the update."
        }
      },
      "type": "object"
    },
    "SlsaProvenance": {
      "type": "object",
      "id": "SlsaProvenance",
      "properties": {
        "recipe": {
          "description": "Identifies the configuration used for the build. When combined with materials, this SHOULD fully describe the build, such that re-running this recipe results in bit-for-bit identical output (if the build is reproducible). required",
          "$ref": "SlsaRecipe"
        },
        "materials": {
          "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on. This is considered to be incomplete unless metadata.completeness.materials is true. Unset or null is equivalent to empty.",
          "type": "array",
          "items": {
            "$ref": "Material"
          }
        },
        "builder": {
          "description": "required",
          "$ref": "SlsaBuilder"
        },
        "metadata": {
          "$ref": "SlsaMetadata"
        }
      }
    },
    "SecretLocation": {
      "description": "The location of the secret.",
      "id": "SecretLocation",
      "type": "object",
      "properties": {
        "fileLocation": {
          "$ref": "GrafeasV1FileLocation",
          "description": "The secret is found from a file."
        }
      }
    },
    "Remediation": {
      "type": "object",
      "description": "Specifies details on how to handle (and presumably, fix) a vulnerability.",
      "id": "Remediation",
      "properties": {
        "remediationUri": {
          "$ref": "RelatedUrl",
          "description": "Contains the URL where to obtain the remediation."
        },
        "remediationType": {
          "description": "The type of remediation that can be applied.",
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "MITIGATION",
            "NO_FIX_PLANNED",
            "NONE_AVAILABLE",
            "VENDOR_FIX",
            "WORKAROUND"
          ],
          "type": "string",
          "enumDescriptions": [
            "No remediation type specified.",
            "A MITIGATION is available.",
            "No fix is planned.",
            "Not available.",
            "A vendor fix is available.",
            "A workaround is available."
          ]
        },
        "details": {
          "description": "Contains a comprehensive human-readable discussion of the remediation.",
          "type": "string"
        }
      }
    },
    "Maintainer": {
      "type": "object",
      "id": "Maintainer",
      "properties": {
        "email": {
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "ProjectRepoId": {
      "id": "ProjectRepoId",
      "description": "Selects a repo using a Google Cloud Platform project ID (e.g., winged-cargo-31) and a repo name within that project.",
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "The ID of the project."
        },
        "repoName": {
          "type": "string",
          "description": "The name of the repo. Leave empty for the default repo."
        }
      }
    },
    "FindingLocation": {
      "description": "Location details with file path and line number.",
      "properties": {
        "filePath": {
          "description": "Relative path of the file containing the finding.",
          "type": "string"
        },
        "lineNumber": {
          "description": "Line number (1-based), or 0 if whole File / unknown.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "FindingLocation",
      "type": "object"
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaCompleteness": {
      "description": "Indicates that the builder claims certain fields in this message to be complete.",
      "type": "object",
      "properties": {
        "parameters": {
          "type": "boolean"
        },
        "environment": {
          "type": "boolean"
        },
        "materials": {
          "type": "boolean"
        }
      },
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaCompleteness"
    },
    "SlsaMetadata": {
      "type": "object",
      "description": "Other properties of the build.",
      "properties": {
        "buildInvocationId": {
          "description": "Identifies the particular build invocation, which can be useful for finding associated logs or other ad-hoc analysis. The value SHOULD be globally unique, per in-toto Provenance spec.",
          "type": "string"
        },
        "completeness": {
          "description": "Indicates that the builder claims certain fields in this message to be complete.",
          "$ref": "SlsaCompleteness"
        },
        "reproducible": {
          "description": "If true, the builder claims that running the recipe on materials will produce bit-for-bit identical output.",
          "type": "boolean"
        },
        "buildFinishedOn": {
          "description": "The timestamp of when the build completed.",
          "format": "google-datetime",
          "type": "string"
        },
        "buildStartedOn": {
          "type": "string",
          "description": "The timestamp of when the build started.",
          "format": "google-datetime"
        }
      },
      "id": "SlsaMetadata"
    },
    "File": {
      "properties": {
        "name": {
          "type": "string"
        },
        "digest": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "File",
      "type": "object"
    },
    "Hash": {
      "id": "Hash",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The hash value.",
          "format": "byte"
        },
        "type": {
          "type": "string",
          "description": "Required. The type of hash that was performed, e.g. \"SHA-256\"."
        }
      },
      "type": "object",
      "description": "Container message for hash values."
    },
    "RelatedUrl": {
      "properties": {
        "url": {
          "description": "Specific URL associated with the resource.",
          "type": "string"
        },
        "label": {
          "description": "Label to describe usage of the URL.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata for any related URL information.",
      "id": "RelatedUrl"
    },
    "BuildMetadata": {
      "type": "object",
      "id": "BuildMetadata",
      "properties": {
        "invocationId": {
          "type": "string"
        },
        "finishedOn": {
          "format": "google-datetime",
          "type": "string"
        },
        "startedOn": {
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "IngestionSource": {
      "type": "object",
      "description": "Indicates where an extracted package originates from.",
      "properties": {
        "attachmentUri": {
          "description": "The attachment URI that this package was extracted from.",
          "type": "string"
        },
        "resourceUrl": {
          "description": "The resource URL of the resource that was scanned to find this package.",
          "type": "string"
        },
        "source": {
          "enum": [
            "SOURCE_UNSPECIFIED",
            "DOCKER_IMAGE",
            "SBOM_ATTACHMENT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "IngestionSource"
    },
    "Finding": {
      "id": "Finding",
      "description": "Finding provides details for a single finding within an AISkillAnalysisOccurrence.",
      "type": "object",
      "properties": {
        "location": {
          "$ref": "FindingLocation",
          "description": "Location (path and line) where the finding was detected."
        },
        "details": {
          "description": "Description of the finding category.",
          "type": "string"
        },
        "category": {
          "description": "Category of the finding.",
          "type": "string"
        },
        "severity": {
          "description": "Severity of the finding.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH"
          ],
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity."
          ],
          "type": "string"
        },
        "scanner": {
          "enumDescriptions": [
            "Unspecified scanner.",
            "Static scanner.",
            "LLM scanner.",
            "WS_POLICY scanner.",
            "Google AntiVirus Service scanner."
          ],
          "description": "Scanner determines which engine (e.g. static, llm) emitted the finding.",
          "type": "string",
          "enum": [
            "SCANNER_UNSPECIFIED",
            "STATIC",
            "LLM",
            "WS_POLICY",
            "GOOGLE_ANTIVIRUS"
          ]
        }
      }
    },
    "Completeness": {
      "id": "Completeness",
      "type": "object",
      "properties": {
        "materials": {
          "description": "If true, the builder claims that materials are complete, usually through some controls to prevent network access. Sometimes called \"hermetic\".",
          "type": "boolean"
        },
        "arguments": {
          "type": "boolean",
          "description": "If true, the builder claims that recipe.arguments is complete, meaning that all external inputs are properly captured in the recipe."
        },
        "environment": {
          "description": "If true, the builder claims that recipe.environment is claimed to be complete.",
          "type": "boolean"
        }
      },
      "description": "Indicates that the builder claims certain fields in this message to be complete."
    },
    "VulnerabilityOccurrence": {
      "type": "object",
      "id": "VulnerabilityOccurrence",
      "properties": {
        "shortDescription": {
          "type": "string",
          "description": "Output only. A one sentence description of this vulnerability."
        },
        "type": {
          "type": "string",
          "description": "The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.)."
        },
        "cvssV2": {
          "$ref": "CVSS",
          "description": "The cvss v2 score for the vulnerability."
        },
        "effectiveSeverity": {
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "description": "The distro assigned severity for this vulnerability when it is available, otherwise this is the note provider assigned severity. When there are multiple PackageIssues for this vulnerability, they can have different effective severities because some might be provided by the distro while others are provided by the language ecosystem for a language pack. For this reason, it is advised to use the effective severity on the PackageIssue level. In the case where multiple PackageIssues have differing effective severities, this field should be the highest severity for any of the PackageIssues.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "fixAvailable": {
          "description": "Output only. Whether at least one of the affected packages has a fix available.",
          "type": "boolean"
        },
        "cvssScore": {
          "type": "number",
          "description": "Output only. The CVSS score of this vulnerability. CVSS score is on a scale of 0 - 10 where 0 indicates low severity and 10 indicates high severity.",
          "format": "float"
        },
        "cvssv3": {
          "$ref": "CVSS",
          "description": "The cvss v3 score for the vulnerability."
        },
        "cvssV4": {
          "description": "The cvss v4 score for the vulnerability.",
          "$ref": "CVSS"
        },
        "risk": {
          "$ref": "Risk",
          "description": "Risk information about the vulnerability, such as CISA, EPSS, etc."
        },
        "extraDetails": {
          "description": "Occurrence-specific extra details about the vulnerability.",
          "type": "string"
        },
        "packageIssue": {
          "items": {
            "$ref": "PackageIssue"
          },
          "type": "array",
          "description": "Required. The set of affected locations and their fixes (if available) within the associated resource."
        },
        "severity": {
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "type": "string",
          "description": "Output only. The note provider assigned severity of this vulnerability."
        },
        "cvssVersion": {
          "enum": [
            "CVSS_VERSION_UNSPECIFIED",
            "CVSS_VERSION_2",
            "CVSS_VERSION_3",
            "CVSS_VERSION_4"
          ],
          "description": "Output only. CVSS version used to populate cvss_score and severity.",
          "enumDescriptions": [
            "Unspecified.",
            "CVSS v2.",
            "CVSS v3.",
            "CVSS v4."
          ],
          "type": "string"
        },
        "relatedUrls": {
          "items": {
            "$ref": "RelatedUrl"
          },
          "description": "Output only. URLs related to this vulnerability.",
          "type": "array"
        },
        "longDescription": {
          "description": "Output only. A detailed description of this vulnerability.",
          "type": "string"
        },
        "vexAssessment": {
          "$ref": "VexAssessment"
        }
      },
      "description": "An occurrence of a severity vulnerability on a resource."
    },
    "BinarySourceInfo": {
      "id": "BinarySourceInfo",
      "properties": {
        "sourceVersion": {
          "$ref": "PackageVersion",
          "description": "The source package. Similar to the above, this is significant when the source is different than the binary itself. Since the top-level package/version fields are based on an if/else, we need a separate field for both binary and source if we want to know definitively where the data is coming from."
        },
        "binaryVersion": {
          "$ref": "PackageVersion",
          "description": "The binary package. This is significant when the source is different than the binary itself. Historically if they've differed, we've stored the name of the source and its version in the package/version fields, but we should also store the binary package info, as that's what's actually installed."
        }
      },
      "type": "object"
    },
    "ImageOccurrence": {
      "description": "Details of the derived image portion of the DockerImage relationship. This image would be produced from a Dockerfile with FROM .",
      "type": "object",
      "properties": {
        "layerInfo": {
          "type": "array",
          "items": {
            "$ref": "Layer"
          },
          "description": "This contains layer-specific metadata, if populated it has length \"distance\" and is ordered with [distance] being the layer immediately following the base image and [1] being the final layer."
        },
        "distance": {
          "type": "integer",
          "description": "Output only. The number of layers by which this image differs from the associated image basis.",
          "format": "int32"
        },
        "baseResourceUrl": {
          "type": "string",
          "description": "Output only. This contains the base image URL for the derived image occurrence."
        },
        "fingerprint": {
          "description": "Required. The fingerprint of the derived image.",
          "$ref": "Fingerprint"
        }
      },
      "id": "ImageOccurrence"
    },
    "SBOMStatus": {
      "type": "object",
      "description": "The status of an SBOM generation.",
      "properties": {
        "error": {
          "type": "string",
          "description": "If there was an error generating an SBOM, this will indicate what that error was."
        },
        "sbomState": {
          "description": "The progress of the SBOM generation.",
          "type": "string",
          "enum": [
            "SBOM_STATE_UNSPECIFIED",
            "PENDING",
            "COMPLETE"
          ],
          "enumDescriptions": [
            "Default unknown state.",
            "SBOM scanning is pending.",
            "SBOM scanning has completed."
          ]
        }
      },
      "id": "SBOMStatus"
    },
    "AnalyzePackagesResponseV1": {
      "description": "AnalyzePackagesResponse contains the information necessary to find results for the given scan.",
      "id": "AnalyzePackagesResponseV1",
      "type": "object",
      "properties": {
        "scan": {
          "type": "string",
          "description": "The name of the scan resource created by this successful scan."
        }
      }
    },
    "AnalyzePackagesMetadata": {
      "description": "AnalyzePackagesMetadata contains metadata for an active scan of a container image.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When the scan was created."
        },
        "resourceUri": {
          "description": "The resource URI of the container image being scanned.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AnalyzePackagesMetadata"
    },
    "InTotoStatement": {
      "type": "object",
      "description": "Spec defined at https://github.com/in-toto/attestation/tree/main/spec#statement The serialized InTotoStatement will be stored as Envelope.payload. Envelope.payloadType is always \"application/vnd.in-toto+json\".",
      "properties": {
        "predicateType": {
          "description": "`https://slsa.dev/provenance/v0.1` for SlsaProvenance.",
          "type": "string"
        },
        "provenance": {
          "$ref": "InTotoProvenance"
        },
        "_type": {
          "type": "string",
          "description": "Always `https://in-toto.io/Statement/v0.1`."
        },
        "subject": {
          "type": "array",
          "items": {
            "$ref": "Subject"
          }
        },
        "slsaProvenance": {
          "$ref": "SlsaProvenance"
        },
        "slsaProvenanceZeroTwo": {
          "$ref": "SlsaProvenanceZeroTwo"
        }
      },
      "id": "InTotoStatement"
    },
    "SlsaCompleteness": {
      "description": "Indicates that the builder claims certain fields in this message to be complete.",
      "type": "object",
      "id": "SlsaCompleteness",
      "properties": {
        "materials": {
          "description": "If true, the builder claims that materials are complete, usually through some controls to prevent network access. Sometimes called \"hermetic\".",
          "type": "boolean"
        },
        "arguments": {
          "description": "If true, the builder claims that recipe.arguments is complete, meaning that all external inputs are properly captured in the recipe.",
          "type": "boolean"
        },
        "environment": {
          "description": "If true, the builder claims that recipe.environment is claimed to be complete.",
          "type": "boolean"
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaMaterial": {
      "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on.",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        },
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaMaterial"
    },
    "AISkillAnalysisOccurrence": {
      "description": "AISkillAnalysisOccurrence provides the results of an AI-based skill analysis.",
      "properties": {
        "skillName": {
          "description": "Name of the skill that produced this analysis.",
          "type": "string"
        },
        "maxSeverity": {
          "description": "Maximum severity found among findings. Per scanner verdict details.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH"
          ],
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity."
          ]
        },
        "findings": {
          "type": "array",
          "items": {
            "$ref": "Finding"
          },
          "description": "Findings produced by the analysis."
        },
        "perScannerVerdict": {
          "description": "Per scanner verdict.",
          "$ref": "PerScannerVerdict"
        }
      },
      "type": "object",
      "id": "AISkillAnalysisOccurrence"
    },
    "Jwt": {
      "type": "object",
      "properties": {
        "compactJwt": {
          "type": "string",
          "description": "The compact encoding of a JWS, which is always three base64 encoded strings joined by periods. For details, see: https://tools.ietf.org/html/rfc7515.html#section-3.1"
        }
      },
      "id": "Jwt"
    },
    "EnvelopeSignature": {
      "properties": {
        "keyid": {
          "type": "string"
        },
        "sig": {
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnvelopeSignature"
    },
    "MaliciousContentStaticResult": {
      "type": "object",
      "properties": {
        "scanStatus": {
          "description": "Status of the scan.",
          "type": "string",
          "enum": [
            "SCAN_STATUS_UNSPECIFIED",
            "PERFORMED",
            "NOT_PERFORMED"
          ],
          "enumDescriptions": [
            "Unspecified scan status.",
            "Scan was performed.",
            "Scan was not performed."
          ]
        },
        "maxSeverity": {
          "description": "Tracks max severity found.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH"
          ],
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity."
          ]
        }
      },
      "description": "Result of Malicious Content Static scan.",
      "id": "MaliciousContentStaticResult"
    },
    "RunDetails": {
      "properties": {
        "builder": {
          "$ref": "ProvenanceBuilder"
        },
        "metadata": {
          "$ref": "BuildMetadata"
        },
        "byproducts": {
          "type": "array",
          "items": {
            "$ref": "ResourceDescriptor"
          }
        }
      },
      "type": "object",
      "id": "RunDetails"
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "Signature": {
      "description": "Verifiers (e.g. Kritis implementations) MUST verify signatures with respect to the trust anchors defined in policy (e.g. a Kritis policy). Typically this means that the verifier has been configured with a map from `public_key_id` to public key material (and any required parameters, e.g. signing algorithm). In particular, verification implementations MUST NOT treat the signature `public_key_id` as anything more than a key lookup hint. The `public_key_id` DOES NOT validate or authenticate a public key; it only provides a mechanism for quickly selecting a public key ALREADY CONFIGURED on the verifier through a trusted channel. Verification implementations MUST reject signatures in any of the following circumstances: * The `public_key_id` is not recognized by the verifier. * The public key that `public_key_id` refers to does not verify the signature with respect to the payload. The `signature` contents SHOULD NOT be \"attached\" (where the payload is included with the serialized `signature` bytes). Verifiers MUST ignore any \"attached\" payload and only verify signatures with respect to explicitly provided payload (e.g. a `payload` field on the proto message that holds this Signature, or the canonical serialization of the proto message that holds this signature).",
      "id": "Signature",
      "type": "object",
      "properties": {
        "publicKeyId": {
          "description": "The identifier for the public key that verifies this signature. * The `public_key_id` is required. * The `public_key_id` SHOULD be an RFC3986 conformant URI. * When possible, the `public_key_id` SHOULD be an immutable reference, such as a cryptographic digest. Examples of valid `public_key_id`s: OpenPGP V4 public key fingerprint: * \"openpgp4fpr:74FAF3B861BDA0870C7B6DEF607E48D2A663AEEA\" See https://www.iana.org/assignments/uri-schemes/prov/openpgp4fpr for more details on this scheme. RFC6920 digest-named SubjectPublicKeyInfo (digest of the DER serialization): * \"ni:///sha-256;cD9o9Cq6LG3jD0iKXqEi_vdjJGecm_iXkbqVoScViaU\" * \"nih:///sha-256;703f68f42aba2c6de30f488a5ea122fef76324679c9bf89791ba95a1271589a5\"",
          "type": "string"
        },
        "signature": {
          "type": "string",
          "format": "byte",
          "description": "The content of the signature, an opaque bytestring. The payload that this signature verifies MUST be unambiguously provided with the Signature during verification. A wrapper message might provide the payload explicitly. Alternatively, a message might have a canonical serialization that can always be unambiguously computed to derive the payload."
        }
      }
    },
    "Material": {
      "type": "object",
      "id": "Material",
      "properties": {
        "uri": {
          "type": "string"
        },
        "digest": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Recipe": {
      "properties": {
        "entryPoint": {
          "description": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use.",
          "type": "string"
        },
        "type": {
          "description": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials.",
          "type": "string"
        },
        "arguments": {
          "type": "array",
          "description": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint. Since the arguments field can greatly vary in structure, depending on the builder and recipe type, this is of form \"Any\".",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "definedInMaterial": {
          "type": "string",
          "description": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64.",
          "format": "int64"
        },
        "environment": {
          "description": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy. Since the environment field can greatly vary in structure, depending on the builder and recipe type, this is of form \"Any\".",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "description": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe.",
      "type": "object",
      "id": "Recipe"
    },
    "CISAKnownExploitedVulnerabilities": {
      "type": "object",
      "id": "CISAKnownExploitedVulnerabilities",
      "properties": {
        "knownRansomwareCampaignUse": {
          "type": "string",
          "description": "Whether the vulnerability is known to have been leveraged as part of a ransomware campaign."
        }
      }
    },
    "MaliciousContentLLMResult": {
      "description": "Result of Malicious Content LLM scan.",
      "properties": {
        "maxSeverity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH"
          ],
          "description": "Tracks max severity found.",
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity."
          ]
        },
        "scanStatus": {
          "enumDescriptions": [
            "Unspecified scan status.",
            "Scan was performed.",
            "Scan was not performed."
          ],
          "type": "string",
          "description": "Status of the scan.",
          "enum": [
            "SCAN_STATUS_UNSPECIFIED",
            "PERFORMED",
            "NOT_PERFORMED"
          ]
        },
        "tokenUsage": {
          "description": "Telemetry metrics tracking token usage for the AI scan.",
          "$ref": "TokenUsage"
        },
        "modelId": {
          "description": "The base name of the model that performed the scan.",
          "type": "string"
        }
      },
      "id": "MaliciousContentLLMResult",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "SecretStatus": {
      "id": "SecretStatus",
      "description": "The status of the secret with a timestamp.",
      "type": "object",
      "properties": {
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "UNKNOWN",
            "VALID",
            "INVALID"
          ],
          "enumDescriptions": [
            "Unspecified",
            "The status of the secret is unknown.",
            "The secret is valid.",
            "The secret is invalid."
          ],
          "type": "string",
          "description": "Optional. The status of the secret."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The time the secret status was last updated."
        },
        "message": {
          "type": "string",
          "description": "Optional. Optional message about the status code."
        }
      }
    },
    "InTotoSlsaProvenanceV1": {
      "id": "InTotoSlsaProvenanceV1",
      "properties": {
        "predicateType": {
          "type": "string"
        },
        "_type": {
          "description": "InToto spec defined at https://github.com/in-toto/attestation/tree/main/spec#statement",
          "type": "string"
        },
        "predicate": {
          "$ref": "SlsaProvenanceV1"
        },
        "subject": {
          "items": {
            "$ref": "Subject"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Version": {
      "type": "object",
      "description": "Version contains structured information about the version of a package.",
      "id": "Version",
      "properties": {
        "name": {
          "description": "Required only when version kind is NORMAL. The main part of the version name.",
          "type": "string"
        },
        "fullName": {
          "type": "string",
          "description": "Human readable version string. This string is of the form :- and is only set when kind is NORMAL."
        },
        "epoch": {
          "format": "int32",
          "description": "Used to correct mistakes in the version numbering scheme.",
          "type": "integer"
        },
        "kind": {
          "enum": [
            "VERSION_KIND_UNSPECIFIED",
            "NORMAL",
            "MINIMUM",
            "MAXIMUM"
          ],
          "description": "Required. Distinguishes between sentinel MIN/MAX versions and normal versions.",
          "type": "string",
          "enumDescriptions": [
            "Unknown.",
            "A standard package version.",
            "A special version representing negative infinity.",
            "A special version representing positive infinity."
          ]
        },
        "revision": {
          "type": "string",
          "description": "The iteration of the package build from the above version."
        },
        "inclusive": {
          "type": "boolean",
          "description": "Whether this version is specifying part of an inclusive range. Grafeas does not have the capability to specify version ranges; instead we have fields that specify start version and end versions. At times this is insufficient - we also need to specify whether the version is included in the range or is excluded from the range. This boolean is expected to be set to true when the version is included in a range."
        }
      }
    },
    "PackageVersion": {
      "properties": {
        "version": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "licenses": {
          "description": "The licenses associated with this package. Note that this has to go on the PackageVersion level, because we can have cases with images with the same source having different licences. E.g. in Alpine, musl and musl-utils both have the same origin musl, but have different sets of licenses.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "PackageVersion",
      "type": "object"
    },
    "Envelope": {
      "type": "object",
      "properties": {
        "signatures": {
          "type": "array",
          "items": {
            "$ref": "EnvelopeSignature"
          }
        },
        "payloadType": {
          "type": "string"
        },
        "payload": {
          "type": "string",
          "format": "byte"
        }
      },
      "description": "MUST match https://github.com/secure-systems-lab/dsse/blob/master/envelope.proto. An authenticated message of arbitrary type.",
      "id": "Envelope"
    },
    "ResourceDescriptor": {
      "id": "ResourceDescriptor",
      "type": "object",
      "properties": {
        "content": {
          "format": "byte",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "uri": {
          "type": "string"
        },
        "downloadLocation": {
          "type": "string"
        },
        "mediaType": {
          "type": "string"
        },
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "TokenUsage": {
      "id": "TokenUsage",
[...]
