{
  "discoveryVersion": "v1",
  "description": "A service to scan container images for vulnerabilities.",
  "fullyEncodeReservedExpansion": true,
  "name": "ondemandscanning",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "baseUrl": "https://ondemandscanning.googleapis.com/",
  "revision": "20260918",
  "documentationLink": "https://cloud.google.com/container-analysis/docs/on-demand-scanning/",
  "ownerName": "Google",
  "version": "v1",
  "canonicalName": "On-Demand Scanning",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version_module": true,
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    }
  },
  "id": "ondemandscanning:v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "scans": {
              "methods": {
                "analyzePackages": {
                  "request": {
                    "$ref": "AnalyzePackagesRequestV1"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+parent}/scans:analyzePackages",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/scans:analyzePackages",
                  "description": "Initiates an analysis of the provided packages.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent of the resource for which analysis is requested. Format: projects/[project_name]/locations/[location]",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "ondemandscanning.projects.locations.scans.analyzePackages",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              },
              "resources": {
                "vulnerabilities": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent of the collection of Vulnerabilities being requested. Format: projects/[project_name]/locations/[location]/scans/[scan_id]",
                          "pattern": "^projects/[^/]+/locations/[^/]+/scans/[^/]+$",
                          "location": "path"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "The page token, resulting from a previous call to ListVulnerabilities."
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "The number of vulnerabilities to retrieve."
                        }
                      },
                      "id": "ondemandscanning.projects.locations.scans.vulnerabilities.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/scans/{scansId}/vulnerabilities",
                      "path": "v1/{+parent}/vulnerabilities",
                      "description": "Lists vulnerabilities resulting from a successfully completed scan.",
                      "response": {
                        "$ref": "ListVulnerabilitiesResponseV1"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "path": "v1/{+name}",
                  "id": "ondemandscanning.projects.locations.operations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "id": "ondemandscanning.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel"
                },
                "get": {
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "ondemandscanning.projects.locations.operations.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The standard list page size."
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "type": "string"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "id": "ondemandscanning.projects.locations.operations.list",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  }
                },
                "wait": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to wait on.",
                      "required": true,
                      "type": "string"
                    },
                    "timeout": {
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "type": "string",
                      "format": "google-duration",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:wait",
                  "path": "v1/{+name}:wait",
                  "httpMethod": "POST",
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "id": "ondemandscanning.projects.locations.operations.wait",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "WorkspacePolicyResult": {
      "id": "WorkspacePolicyResult",
      "type": "object",
      "properties": {
        "verdict": {
          "type": "string",
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ],
          "description": "Verdict of the scan.",
          "enumDescriptions": [
            "Unspecified verdict.",
            "Scanner passed.",
            "Scanner failed."
          ]
        },
        "scanStatus": {
          "type": "string",
          "enum": [
            "SCAN_STATUS_UNSPECIFIED",
            "PERFORMED",
            "NOT_PERFORMED"
          ],
          "enumDescriptions": [
            "Unspecified scan status.",
            "Scan was performed.",
            "Scan was not performed."
          ],
          "description": "Status of the scan."
        }
      },
      "description": "Result of Workspace Policy scan."
    },
    "BuildMetadata": {
      "properties": {
        "startedOn": {
          "format": "google-datetime",
          "type": "string"
        },
        "invocationId": {
          "type": "string"
        },
        "finishedOn": {
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "BuildMetadata",
      "type": "object"
    },
    "PackageOccurrence": {
      "type": "object",
      "id": "PackageOccurrence",
      "properties": {
        "location": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "All of the places within the filesystem versions of this package have been found."
        },
        "packageType": {
          "description": "Output only. The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.).",
          "readOnly": true,
          "type": "string"
        },
        "cpeUri": {
          "readOnly": true,
          "description": "Output only. The cpe_uri in [CPE format](https://cpe.mitre.org/specification/) denoting the package manager version distributing a package. The cpe_uri will be blank for language packages.",
          "type": "string"
        },
        "version": {
          "readOnly": true,
          "$ref": "Version",
          "description": "Output only. The version of the package."
        },
        "license": {
          "$ref": "License",
          "description": "Licenses that have been declared by the authors of the package."
        },
        "name": {
          "readOnly": true,
          "description": "Required. Output only. The name of the installed package.",
          "type": "string"
        },
        "architecture": {
          "description": "Output only. The CPU architecture for which packages in this distribution channel were built. Architecture will be blank for language packages.",
          "enumDescriptions": [
            "Unknown architecture.",
            "X86 architecture.",
            "X64 architecture."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "X86",
            "X64"
          ]
        }
      },
      "description": "Details on how a particular software package was installed on a system."
    },
    "Metadata": {
      "type": "object",
      "description": "Other properties of the build.",
      "id": "Metadata",
      "properties": {
        "completeness": {
          "$ref": "Completeness",
          "description": "Indicates that the builder claims certain fields in this message to be complete."
        },
        "buildInvocationId": {
          "description": "Identifies the particular build invocation, which can be useful for finding associated logs or other ad-hoc analysis. The value SHOULD be globally unique, per in-toto Provenance spec.",
          "type": "string"
        },
        "reproducible": {
          "description": "If true, the builder claims that running the recipe on materials will produce bit-for-bit identical output.",
          "type": "boolean"
        },
        "buildFinishedOn": {
          "type": "string",
          "description": "The timestamp of when the build completed.",
          "format": "google-datetime"
        },
        "buildStartedOn": {
          "description": "The timestamp of when the build started.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "BaseImage": {
      "description": "BaseImage describes a base image of a container image.",
      "id": "BaseImage",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the base image."
        },
        "repository": {
          "description": "The repository name in which the base image is from.",
          "type": "string"
        },
        "layerCount": {
          "type": "integer",
          "description": "The number of layers that the base image is composed of.",
          "format": "int32"
        },
        "registry": {
          "description": "The registry in which the base image is from.",
          "type": "string"
        }
      }
    },
    "Remediation": {
      "id": "Remediation",
      "description": "Specifies details on how to handle (and presumably, fix) a vulnerability.",
      "properties": {
        "details": {
          "description": "Contains a comprehensive human-readable discussion of the remediation.",
          "type": "string"
        },
        "remediationType": {
          "enumDescriptions": [
            "No remediation type specified.",
            "A MITIGATION is available.",
            "No fix is planned.",
            "Not available.",
            "A vendor fix is available.",
            "A workaround is available."
          ],
          "type": "string",
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "MITIGATION",
            "NO_FIX_PLANNED",
            "NONE_AVAILABLE",
            "VENDOR_FIX",
            "WORKAROUND"
          ],
          "description": "The type of remediation that can be applied."
        },
        "remediationUri": {
          "description": "Contains the URL where to obtain the remediation.",
          "$ref": "RelatedUrl"
        }
      },
      "type": "object"
    },
    "Finding": {
      "type": "object",
      "id": "Finding",
      "description": "Finding provides details for a single finding within an AISkillAnalysisOccurrence.",
      "properties": {
        "severity": {
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity."
          ],
          "description": "Severity of the finding.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH"
          ]
        },
        "location": {
          "description": "Location (path and line) where the finding was detected.",
          "$ref": "FindingLocation"
        },
        "category": {
          "type": "string",
          "description": "Category of the finding."
        },
        "scanner": {
          "description": "Scanner determines which engine (e.g. static, llm) emitted the finding.",
          "type": "string",
          "enum": [
            "SCANNER_UNSPECIFIED",
            "STATIC",
            "LLM",
            "WS_POLICY",
            "GOOGLE_ANTIVIRUS"
          ],
          "enumDescriptions": [
            "Unspecified scanner.",
            "Static scanner.",
            "LLM scanner.",
            "WS_POLICY scanner.",
            "Google AntiVirus Service scanner."
          ]
        },
        "details": {
          "description": "Description of the finding category.",
          "type": "string"
        }
      }
    },
    "AnalysisCompleted": {
      "id": "AnalysisCompleted",
      "description": "Indicates which analysis completed successfully. Multiple types of analysis can be performed on a single resource.",
      "type": "object",
      "properties": {
        "analysisType": {
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Layer": {
      "id": "Layer",
      "description": "Layer holds metadata specific to a layer of a Docker image.",
      "properties": {
        "directive": {
          "type": "string",
          "description": "Required. The recovered Dockerfile directive used to construct this layer. See https://docs.docker.com/engine/reference/builder/ for more information."
        },
        "arguments": {
          "type": "string",
          "description": "The recovered arguments to the Dockerfile directive."
        }
      },
      "type": "object"
    },
    "SBOMReferenceOccurrence": {
      "id": "SBOMReferenceOccurrence",
      "type": "object",
      "properties": {
        "signatures": {
          "type": "array",
          "items": {
            "$ref": "EnvelopeSignature"
          },
          "description": "The signatures over the payload."
        },
        "payload": {
          "description": "The actual payload that contains the SBOM reference data.",
          "$ref": "SbomReferenceIntotoPayload"
        },
        "payloadType": {
          "description": "The kind of payload that SbomReferenceIntotoPayload takes. Since it's in the intoto format, this value is expected to be 'application/vnd.in-toto+json'.",
          "type": "string"
        }
      },
      "description": "The occurrence representing an SBOM reference as applied to a specific resource. The occurrence follows the DSSE specification. See https://github.com/secure-systems-lab/dsse/blob/master/envelope.md for more details."
    },
    "Completeness": {
      "id": "Completeness",
      "type": "object",
      "properties": {
        "materials": {
          "description": "If true, the builder claims that materials are complete, usually through some controls to prevent network access. Sometimes called \"hermetic\".",
          "type": "boolean"
        },
        "arguments": {
          "description": "If true, the builder claims that recipe.arguments is complete, meaning that all external inputs are properly captured in the recipe.",
          "type": "boolean"
        },
        "environment": {
          "description": "If true, the builder claims that recipe.environment is claimed to be complete.",
          "type": "boolean"
        }
      },
      "description": "Indicates that the builder claims certain fields in this message to be complete."
    },
    "PackageVersion": {
      "id": "PackageVersion",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "licenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The licenses associated with this package. Note that this has to go on the PackageVersion level, because we can have cases with images with the same source having different licences. E.g. in Alpine, musl and musl-utils both have the same origin musl, but have different sets of licenses."
        },
        "version": {
          "type": "string"
        }
      }
    },
    "RunDetails": {
      "type": "object",
      "id": "RunDetails",
      "properties": {
        "metadata": {
          "$ref": "BuildMetadata"
        },
        "builder": {
          "$ref": "ProvenanceBuilder"
        },
        "byproducts": {
          "items": {
            "$ref": "ResourceDescriptor"
          },
          "type": "array"
        }
      }
    },
    "PackageData": {
      "properties": {
        "fileLocation": {
          "description": "The path to the jar file / go binary file.",
          "items": {
            "$ref": "FileLocation"
          },
          "type": "array"
        },
        "ingestionSources": {
          "description": "The list of sources that were scanned to find this package. This can be a Docker image, an SBOM attachment, or both, for example.",
          "type": "array",
          "items": {
            "$ref": "IngestionSource"
          }
        },
        "os": {
          "description": "The OS affected by a vulnerability Used to generate the cpe_uri for OS packages",
          "type": "string"
        },
        "cpeUri": {
          "description": "The cpe_uri in [cpe format] (https://cpe.mitre.org/specification/) in which the vulnerability may manifest. Examples include distro or storage location for vulnerable jar.",
          "type": "string"
        },
        "osVersion": {
          "description": "The version of the OS Used to generate the cpe_uri for OS packages",
          "type": "string"
        },
        "layerDetails": {
          "deprecated": true,
          "$ref": "LayerDetails",
          "description": "Deprecated: Layer details are captured per file location in FileLocation.layer_details. Top-level layer details is not persisted."
        },
        "architecture": {
          "type": "string",
          "description": "The architecture of the package."
        },
        "binarySourceInfo": {
          "items": {
            "$ref": "BinarySourceInfo"
          },
          "type": "array",
          "description": "A bundle containing the binary and source information."
        },
        "version": {
          "description": "The version of the package being analysed",
          "type": "string"
        },
        "binaryVersion": {
          "$ref": "PackageVersion",
          "description": "DEPRECATED"
        },
        "sourceVersion": {
          "description": "DEPRECATED",
          "$ref": "PackageVersion"
        },
        "licenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of licenses found that are related to a given package. Note that licenses may also be stored on the BinarySourceInfo. If there is no BinarySourceInfo (because there's no concept of source vs binary), then it will be stored here, while if there are BinarySourceInfos, it will be stored there, as one source can have multiple binaries with different licenses."
        },
        "dependencyChain": {
          "items": {
            "$ref": "LanguagePackageDependency"
          },
          "description": "The dependency chain between this package and the user's artifact. List in order from the customer's package under review first, to the current package last. Inclusive of the original package and the current package.",
          "type": "array"
        },
        "package": {
          "description": "The package being analysed for vulnerabilities",
          "type": "string"
        },
        "packageType": {
          "description": "The type of package: os, maven, go, etc.",
          "type": "string",
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "OS",
            "MAVEN",
            "GO",
            "GO_STDLIB",
            "PYPI",
            "NPM",
            "NUGET",
            "RUBYGEMS",
            "RUST",
            "COMPOSER",
            "SWIFT"
          ],
          "enumDescriptions": [
            "",
            "Operating System",
            "Java packages from Maven.",
            "Go third-party packages.",
            "Go toolchain + standard library packages.",
            "Python packages.",
            "NPM packages.",
            "Nuget (C#/.NET) packages.",
            "Ruby packges (from RubyGems package manager).",
            "Rust packages from Cargo (GitHub ecosystem is `RUST`).",
            "PHP packages from Composer package manager.",
            "Swift packages from Swift Package Manager (SwiftPM)."
          ]
        },
        "hashDigest": {
          "type": "string",
          "description": "HashDigest stores the SHA512 hash digest of the jar file if the package is of type Maven. This field will be unset for non Maven packages."
        },
        "unused": {
          "type": "string"
        },
        "maintainer": {
          "$ref": "Maintainer",
          "description": "The maintainer of the package."
        },
        "patchedCve": {
          "description": "CVEs that this package is no longer vulnerable to",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "PackageData",
      "type": "object"
    },
    "GerritSourceContext": {
      "id": "GerritSourceContext",
      "type": "object",
      "description": "A SourceContext referring to a Gerrit project.",
      "properties": {
        "hostUri": {
          "type": "string",
          "description": "The URI of a running Gerrit instance."
        },
        "aliasContext": {
          "$ref": "AliasContext",
          "description": "An alias, which may be a branch or tag."
        },
        "gerritProject": {
          "type": "string",
          "description": "The full project name within the host. Projects may be nested, so \"project/subproject\" is a valid project name. The \"repo name\" is the hostURI/project."
        },
        "revisionId": {
          "description": "A revision (commit) ID.",
          "type": "string"
        }
      }
    },
    "Version": {
      "type": "object",
      "id": "Version",
      "properties": {
        "kind": {
          "type": "string",
          "enum": [
            "VERSION_KIND_UNSPECIFIED",
            "NORMAL",
            "MINIMUM",
            "MAXIMUM"
          ],
          "enumDescriptions": [
            "Unknown.",
            "A standard package version.",
            "A special version representing negative infinity.",
            "A special version representing positive infinity."
          ],
          "description": "Required. Distinguishes between sentinel MIN/MAX versions and normal versions."
        },
        "revision": {
          "type": "string",
          "description": "The iteration of the package build from the above version."
        },
        "epoch": {
          "type": "integer",
          "format": "int32",
          "description": "Used to correct mistakes in the version numbering scheme."
        },
        "fullName": {
          "type": "string",
          "description": "Human readable version string. This string is of the form :- and is only set when kind is NORMAL."
        },
        "name": {
          "description": "Required only when version kind is NORMAL. The main part of the version name.",
          "type": "string"
        },
        "inclusive": {
          "description": "Whether this version is specifying part of an inclusive range. Grafeas does not have the capability to specify version ranges; instead we have fields that specify start version and end versions. At times this is insufficient - we also need to specify whether the version is included in the range or is excluded from the range. This boolean is expected to be set to true when the version is included in a range.",
          "type": "boolean"
        }
      },
      "description": "Version contains structured information about the version of a package."
    },
    "AliasContext": {
      "id": "AliasContext",
      "properties": {
        "name": {
          "description": "The alias name.",
          "type": "string"
        },
        "kind": {
          "description": "The alias kind.",
          "enumDescriptions": [
            "Unknown.",
            "Git tag.",
            "Git branch.",
            "Used to specify non-standard aliases. For example, if a Git repo has a ref named \"refs/foo/bar\"."
          ],
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "FIXED",
            "MOVABLE",
            "OTHER"
          ]
        }
      },
      "type": "object",
      "description": "An alias to a repo revision."
    },
    "SlsaMetadata": {
      "id": "SlsaMetadata",
      "properties": {
        "buildInvocationId": {
          "description": "Identifies the particular build invocation, which can be useful for finding associated logs or other ad-hoc analysis. The value SHOULD be globally unique, per in-toto Provenance spec.",
          "type": "string"
        },
        "completeness": {
          "description": "Indicates that the builder claims certain fields in this message to be complete.",
          "$ref": "SlsaCompleteness"
        },
        "reproducible": {
          "type": "boolean",
          "description": "If true, the builder claims that running the recipe on materials will produce bit-for-bit identical output."
        },
        "buildStartedOn": {
          "type": "string",
          "description": "The timestamp of when the build started.",
          "format": "google-datetime"
        },
        "buildFinishedOn": {
          "description": "The timestamp of when the build completed.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Other properties of the build.",
      "type": "object"
    },
    "ListVulnerabilitiesResponseV1": {
      "properties": {
        "occurrences": {
          "items": {
            "$ref": "Occurrence"
          },
          "description": "The list of Vulnerability Occurrences resulting from a scan.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A page token that can be used in a subsequent call to ListVulnerabilities to continue retrieving results.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "ListVulnerabilitiesResponse contains a single page of vulnerabilities resulting from a scan.",
      "id": "ListVulnerabilitiesResponseV1"
    },
    "InTotoProvenance": {
      "properties": {
        "builderConfig": {
          "description": "required",
          "$ref": "BuilderConfig"
        },
        "recipe": {
          "description": "Identifies the configuration used for the build. When combined with materials, this SHOULD fully describe the build, such that re-running this recipe results in bit-for-bit identical output (if the build is reproducible). required",
          "$ref": "Recipe"
        },
        "materials": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on. This is considered to be incomplete unless metadata.completeness.materials is true. Unset or null is equivalent to empty."
        },
        "metadata": {
          "$ref": "Metadata"
        }
      },
      "type": "object",
      "id": "InTotoProvenance"
    },
    "SlsaProvenanceZeroTwo": {
      "properties": {
        "invocation": {
          "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaInvocation"
        },
        "metadata": {
          "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaMetadata"
        },
        "buildConfig": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "buildType": {
          "type": "string"
        },
        "materials": {
          "items": {
            "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaMaterial"
          },
          "type": "array"
        },
        "builder": {
          "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaBuilder"
        }
      },
      "description": "See full explanation of fields at slsa.dev/provenance/v0.2.",
      "id": "SlsaProvenanceZeroTwo",
      "type": "object"
    },
    "MaliciousContentLLMResult": {
      "description": "Result of Malicious Content LLM scan.",
      "properties": {
        "maxSeverity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH"
          ],
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity."
          ],
          "description": "Tracks max severity found."
        },
        "scanStatus": {
          "enumDescriptions": [
            "Unspecified scan status.",
            "Scan was performed.",
            "Scan was not performed."
          ],
          "type": "string",
          "enum": [
            "SCAN_STATUS_UNSPECIFIED",
            "PERFORMED",
            "NOT_PERFORMED"
          ],
          "description": "Status of the scan."
        },
        "tokenUsage": {
          "$ref": "TokenUsage",
          "description": "Telemetry metrics tracking token usage for the AI scan."
        },
        "modelId": {
          "description": "The base name of the model that performed the scan.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MaliciousContentLLMResult"
    },
    "AttestationOccurrence": {
      "properties": {
        "jwts": {
          "description": "One or more JWTs encoding a self-contained attestation. Each JWT encodes the payload that it verifies within the JWT itself. Verifier implementation SHOULD ignore the `serialized_payload` field when verifying these JWTs. If only JWTs are present on this AttestationOccurrence, then the `serialized_payload` SHOULD be left empty. Each JWT SHOULD encode a claim specific to the `resource_uri` of this Occurrence, but this is not validated by Grafeas metadata API implementations. The JWT itself is opaque to Grafeas.",
          "items": {
            "$ref": "Jwt"
          },
          "type": "array"
        },
        "signatures": {
          "description": "One or more signatures over `serialized_payload`. Verifier implementations should consider this attestation message verified if at least one `signature` verifies `serialized_payload`. See `Signature` in common.proto for more details on signature structure and verification.",
          "items": {
            "$ref": "Signature"
          },
          "type": "array"
        },
        "serializedPayload": {
          "description": "Required. The serialized payload that is verified by one or more `signatures`.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "AttestationOccurrence",
      "description": "Occurrence that represents a single \"attestation\". The authenticity of an attestation can be verified using the attached signature. If the verifier trusts the public key of the signer, then verifying the signature is sufficient to establish trust. In this circumstance, the authority to which this attestation is attached is primarily useful for lookup (how to find this attestation if you already know the authority and artifact to be verified) and intent (for which authority this attestation was intended to sign.",
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "Operation"
    },
    "CISAKnownExploitedVulnerabilities": {
      "properties": {
        "knownRansomwareCampaignUse": {
          "type": "string",
          "description": "Whether the vulnerability is known to have been leveraged as part of a ransomware campaign."
        }
      },
      "id": "CISAKnownExploitedVulnerabilities",
      "type": "object"
    },
    "AnalyzePackagesResponseV1": {
      "id": "AnalyzePackagesResponseV1",
      "description": "AnalyzePackagesResponse contains the information necessary to find results for the given scan.",
      "properties": {
        "scan": {
          "description": "The name of the scan resource created by this successful scan.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MalwareScanResult": {
      "properties": {
        "scanStatus": {
          "type": "string",
          "enum": [
            "SCAN_STATUS_UNSPECIFIED",
            "PERFORMED",
            "NOT_PERFORMED"
          ],
          "enumDescriptions": [
            "Unspecified scan status.",
            "Scan was performed.",
            "Scan was not performed."
          ],
          "description": "Status of the scan."
        },
        "verdict": {
          "enumDescriptions": [
            "Unspecified verdict.",
            "Scanner passed.",
            "Scanner failed."
          ],
          "description": "Verdict of the scan.",
          "type": "string",
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASSED",
            "FAILED"
          ]
        }
      },
      "id": "MalwareScanResult",
      "description": "Result of Malware scan.",
      "type": "object"
    },
    "ExploitPredictionScoringSystem": {
      "properties": {
        "percentile": {
          "format": "double",
          "type": "number",
          "description": "The percentile of the current score, the proportion of all scored vulnerabilities with the same or a lower EPSS score"
        },
        "score": {
          "format": "double",
          "description": "The EPSS score representing the probability [0-1] of exploitation in the wild in the next 30 days",
          "type": "number"
        }
      },
      "type": "object",
      "id": "ExploitPredictionScoringSystem"
    },
    "CloudRepoSourceContext": {
      "properties": {
        "revisionId": {
          "type": "string",
          "description": "A revision ID."
        },
        "aliasContext": {
          "description": "An alias, which may be a branch or tag.",
          "$ref": "AliasContext"
        },
        "repoId": {
          "description": "The ID of the repo.",
          "$ref": "RepoId"
        }
      },
      "type": "object",
      "description": "A CloudRepoSourceContext denotes a particular revision in a Google Cloud Source Repo.",
      "id": "CloudRepoSourceContext"
    },
    "SlsaBuilder": {
      "id": "SlsaBuilder",
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Envelope": {
      "type": "object",
      "description": "MUST match https://github.com/secure-systems-lab/dsse/blob/master/envelope.proto. An authenticated message of arbitrary type.",
      "id": "Envelope",
      "properties": {
        "payloadType": {
          "type": "string"
        },
        "signatures": {
          "type": "array",
          "items": {
            "$ref": "EnvelopeSignature"
          }
        },
        "payload": {
          "format": "byte",
          "type": "string"
        }
      }
    },
    "File": {
      "type": "object",
      "id": "File",
      "properties": {
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "SlsaCompleteness": {
      "id": "SlsaCompleteness",
      "type": "object",
      "properties": {
        "environment": {
          "description": "If true, the builder claims that recipe.environment is claimed to be complete.",
          "type": "boolean"
        },
        "arguments": {
          "description": "If true, the builder claims that recipe.arguments is complete, meaning that all external inputs are properly captured in the recipe.",
          "type": "boolean"
        },
        "materials": {
          "description": "If true, the builder claims that materials are complete, usually through some controls to prevent network access. Sometimes called \"hermetic\".",
          "type": "boolean"
        }
      },
      "description": "Indicates that the builder claims certain fields in this message to be complete."
    },
    "TokenUsage": {
      "properties": {
        "candidateCount": {
          "format": "int64",
          "type": "string",
          "description": "Tokens in the model response."
        },
        "thinkingCount": {
          "description": "Tokens in the thinking output.",
          "format": "int64",
          "type": "string"
        },
        "cacheCount": {
          "format": "int64",
          "type": "string",
          "description": "Cache matched tokens for implicit cache."
        },
        "toolUsePromptCount": {
          "type": "string",
          "format": "int64",
          "description": "Prompt tokens for using tools."
        },
        "promptCount": {
          "type": "string",
          "description": "Tokens in the user request.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Token usage associated with an AI scan.",
      "id": "TokenUsage"
    },
    "Hash": {
      "type": "object",
      "description": "Container message for hash values.",
      "id": "Hash",
      "properties": {
        "type": {
          "type": "string",
          "description": "Required. The type of hash that was performed, e.g. \"SHA-256\"."
        },
        "value": {
          "format": "byte",
          "type": "string",
          "description": "Required. The hash value."
        }
      }
    },
    "FileLocation": {
      "properties": {
        "lineNumber": {
          "description": "Line number in the file where the package is found. Applies only to source repository scanning. Note: this field is marked as `optional` in other corresponding protos, but in edition 2023, the \"optional\" keyword is redundant.",
          "format": "int32",
          "type": "integer"
        },
        "filePath": {
          "type": "string",
          "description": "For jars that are contained inside .war files, this filepath can indicate the path to war file combined with the path to jar file."
        },
        "layerDetails": {
          "$ref": "LayerDetails"
        }
      },
      "type": "object",
      "description": "Indicates the location at which a package was found.",
      "id": "FileLocation"
    },
    "GrafeasV1FileLocation": {
      "id": "GrafeasV1FileLocation",
      "type": "object",
      "properties": {
        "lineNumber": {
          "format": "int32",
          "description": "Line number in the file where the package was found. Optional field that only applies to source repository scanning.",
          "type": "integer"
        },
        "filePath": {
          "description": "For jars that are contained inside .war files, this filepath can indicate the path to war file combined with the path to jar file.",
          "type": "string"
        },
        "layerDetails": {
          "$ref": "GrafeasV1LayerDetails",
          "description": "Each package found in a file should have its own layer metadata (that is, information from the origin layer of the package)."
        }
      },
      "description": "Indicates the location at which a package was found."
    },
    "DiscoveryOccurrence": {
      "id": "DiscoveryOccurrence",
      "description": "Provides information about the analysis status of a discovered resource.",
      "properties": {
        "continuousAnalysis": {
          "enumDescriptions": [
            "Unknown.",
            "The resource is continuously analyzed.",
            "The resource is ignored for continuous analysis."
          ],
          "type": "string",
          "enum": [
            "CONTINUOUS_ANALYSIS_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "description": "Whether the resource is continuously analyzed."
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "File"
          },
          "description": "Files that make up the resource described by the occurrence."
        },
        "analysisError": {
          "items": {
            "$ref": "Status"
          },
          "description": "Indicates any errors encountered during analysis of a resource. There could be 0 or more of these errors.",
          "type": "array"
        },
        "lastVulnerabilityUpdateTime": {
          "description": "The last time vulnerability scan results changed.",
          "type": "string",
          "format": "google-datetime"
        },
        "cpe": {
          "description": "The CPE of the resource being scanned.",
          "type": "string"
        },
        "analysisCompleted": {
          "$ref": "AnalysisCompleted"
        },
        "analysisStatusError": {
          "$ref": "Status",
          "description": "When an error is encountered this will contain a LocalizedMessage under details to show to the user. The LocalizedMessage is output only and populated by the API."
        },
        "analysisStatus": {
          "type": "string",
          "enum": [
            "ANALYSIS_STATUS_UNSPECIFIED",
            "PENDING",
            "SCANNING",
            "FINISHED_SUCCESS",
            "COMPLETE",
            "FINISHED_FAILED",
            "FINISHED_UNSUPPORTED"
          ],
          "description": "The status of discovery for the resource.",
          "enumDescriptions": [
            "Unknown.",
            "Resource is known but no action has been taken yet.",
            "Resource is being analyzed.",
            "Analysis has finished successfully.",
            "Analysis has completed.",
            "Analysis has finished unsuccessfully, the analysis itself is in a bad state.",
            "The resource is known not to be supported."
          ]
        },
        "archiveTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time occurrences related to this discovery occurrence were archived."
        },
        "lastScanTime": {
          "description": "The last time this resource was scanned.",
          "format": "google-datetime",
          "type": "string"
        },
        "sbomStatus": {
          "$ref": "SBOMStatus",
          "description": "The status of an SBOM generation."
        }
      },
      "type": "object"
    },
    "VulnerabilityOccurrence": {
      "id": "VulnerabilityOccurrence",
      "description": "An occurrence of a severity vulnerability on a resource.",
      "properties": {
        "cvssV2": {
          "$ref": "CVSS",
          "description": "The cvss v2 score for the vulnerability."
        },
        "effectiveSeverity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "description": "The distro assigned severity for this vulnerability when it is available, otherwise this is the note provider assigned severity. When there are multiple PackageIssues for this vulnerability, they can have different effective severities because some might be provided by the distro while others are provided by the language ecosystem for a language pack. For this reason, it is advised to use the effective severity on the PackageIssue level. In the case where multiple PackageIssues have differing effective severities, this field should be the highest severity for any of the PackageIssues."
        },
        "fixAvailable": {
          "description": "Output only. Whether at least one of the affected packages has a fix available.",
          "type": "boolean"
        },
        "cvssScore": {
          "type": "number",
          "description": "Output only. The CVSS score of this vulnerability. CVSS score is on a scale of 0 - 10 where 0 indicates low severity and 10 indicates high severity.",
          "format": "float"
        },
        "shortDescription": {
          "type": "string",
          "description": "Output only. A one sentence description of this vulnerability."
        },
        "packageIssue": {
          "type": "array",
          "description": "Required. The set of affected locations and their fixes (if available) within the associated resource.",
          "items": {
            "$ref": "PackageIssue"
          }
        },
        "relatedUrls": {
          "items": {
            "$ref": "RelatedUrl"
          },
          "type": "array",
          "description": "Output only. URLs related to this vulnerability."
        },
        "risk": {
          "$ref": "Risk",
          "description": "Risk information about the vulnerability, such as CISA, EPSS, etc."
        },
        "cvssV4": {
          "description": "The cvss v4 score for the vulnerability.",
          "$ref": "CVSS"
        },
        "extraDetails": {
          "type": "string",
          "description": "Occurrence-specific extra details about the vulnerability."
        },
        "type": {
          "description": "The type of package; whether native or non native (e.g., ruby gems, node.js packages, etc.).",
          "type": "string"
        },
        "cvssVersion": {
          "description": "Output only. CVSS version used to populate cvss_score and severity.",
          "enumDescriptions": [
            "Unspecified.",
            "CVSS v2.",
            "CVSS v3.",
            "CVSS v4."
          ],
          "type": "string",
          "enum": [
            "CVSS_VERSION_UNSPECIFIED",
            "CVSS_VERSION_2",
            "CVSS_VERSION_3",
            "CVSS_VERSION_4"
          ]
        },
        "longDescription": {
          "description": "Output only. A detailed description of this vulnerability.",
          "type": "string"
        },
        "vexAssessment": {
          "$ref": "VexAssessment"
        },
        "severity": {
          "description": "Output only. The note provider assigned severity of this vulnerability.",
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "cvssv3": {
          "description": "The cvss v3 score for the vulnerability.",
          "$ref": "CVSS"
        }
      },
      "type": "object"
    },
    "Subject": {
      "properties": {
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "`\"\": \"\"` Algorithms can be e.g. sha256, sha512 See https://github.com/in-toto/attestation/blob/main/spec/field_types.md#DigestSet",
          "type": "object"
        },
        "name": {
          "type": "string"
        }
      },
      "id": "Subject",
      "type": "object"
    },
    "ResourceDescriptor": {
      "type": "object",
      "properties": {
        "content": {
          "format": "byte",
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "name": {
          "type": "string"
        },
        "downloadLocation": {
          "type": "string"
        },
        "mediaType": {
          "type": "string"
        },
        "digest": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "ResourceDescriptor"
    },
    "InTotoStatement": {
      "description": "Spec defined at https://github.com/in-toto/attestation/tree/main/spec#statement The serialized InTotoStatement will be stored as Envelope.payload. Envelope.payloadType is always \"application/vnd.in-toto+json\".",
      "id": "InTotoStatement",
      "properties": {
        "slsaProvenanceZeroTwo": {
          "$ref": "SlsaProvenanceZeroTwo"
        },
        "subject": {
          "type": "array",
          "items": {
            "$ref": "Subject"
          }
        },
        "slsaProvenance": {
          "$ref": "SlsaProvenance"
        },
        "provenance": {
          "$ref": "InTotoProvenance"
        },
        "predicateType": {
          "type": "string",
          "description": "`https://slsa.dev/provenance/v0.1` for SlsaProvenance."
        },
        "_type": {
          "description": "Always `https://in-toto.io/Statement/v0.1`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BuildDefinition": {
      "id": "BuildDefinition",
      "properties": {
        "externalParameters": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "buildType": {
          "type": "string"
        },
        "resolvedDependencies": {
          "items": {
            "$ref": "ResourceDescriptor"
          },
          "type": "array"
        },
        "internalParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object"
    },
    "InTotoSlsaProvenanceV1": {
      "id": "InTotoSlsaProvenanceV1",
      "properties": {
        "_type": {
          "type": "string",
          "description": "InToto spec defined at https://github.com/in-toto/attestation/tree/main/spec#statement"
        },
        "predicateType": {
          "type": "string"
        },
        "subject": {
          "items": {
            "$ref": "Subject"
          },
          "type": "array"
        },
        "predicate": {
          "$ref": "SlsaProvenanceV1"
        }
      },
      "type": "object"
    },
    "MaliciousContentStaticResult": {
      "properties": {
        "scanStatus": {
          "description": "Status of the scan.",
          "type": "string",
          "enum": [
            "SCAN_STATUS_UNSPECIFIED",
            "PERFORMED",
            "NOT_PERFORMED"
          ],
          "enumDescriptions": [
            "Unspecified scan status.",
            "Scan was performed.",
            "Scan was not performed."
          ]
        },
        "maxSeverity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH"
          ],
          "description": "Tracks max severity found.",
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity."
          ]
        }
      },
      "id": "MaliciousContentStaticResult",
      "type": "object",
      "description": "Result of Malicious Content Static scan."
    },
    "Identity": {
      "type": "object",
      "id": "Identity",
      "properties": {
        "revision": {
          "description": "The revision number of the update.",
          "type": "integer",
          "format": "int32"
        },
        "updateId": {
          "type": "string",
          "description": "The revision independent identifier of the update."
        }
      },
      "description": "The unique identifier of the update."
    },
    "LayerDetails": {
      "properties": {
        "command": {
          "type": "string",
          "description": "The layer build command that was used to build the layer. This may not be found in all layers depending on how the container image is built."
        },
        "index": {
          "description": "The index of the layer in the container image.",
          "type": "integer",
          "format": "int32"
        },
        "chainId": {
          "description": "The layer chain ID (sha256 hash) of the layer in the container image. https://github.com/opencontainers/image-spec/blob/main/config.md#layer-chainid",
          "type": "string"
        },
        "baseImages": {
          "description": "The base images the layer is found within.",
          "items": {
            "$ref": "BaseImage"
          },
          "type": "array"
        },
        "diffId": {
          "description": "The diff ID (sha256 hash) of the layer in the container image.",
          "type": "string"
        }
      },
      "id": "LayerDetails",
      "type": "object",
      "description": "Details about the layer a package was found in."
    },
    "ProvenanceBuilder": {
      "type": "object",
      "properties": {
        "version": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "builderDependencies": {
          "items": {
            "$ref": "ResourceDescriptor"
          },
          "type": "array"
        },
        "id": {
          "type": "string"
        }
      },
      "id": "ProvenanceBuilder"
    },
    "UpgradeOccurrence": {
      "id": "UpgradeOccurrence",
      "description": "An Upgrade Occurrence represents that a specific resource_url could install a specific upgrade. This presence is supplied via local sources (i.e. it is present in the mirror and the running system has noticed its availability). For Windows, both distribution and windows_update contain information for the Windows update.",
      "type": "object",
      "properties": {
        "distribution": {
          "description": "Metadata about the upgrade for available for the specific operating system for the resource_url. This allows efficient filtering, as well as making it easier to use the occurrence.",
          "$ref": "UpgradeDistribution"
        },
        "parsedVersion": {
          "description": "Required for non-Windows OS. The version of the package in a machine + human readable form.",
          "$ref": "Version"
        },
        "windowsUpdate": {
          "$ref": "WindowsUpdate",
          "description": "Required for Windows OS. Represents the metadata about the Windows update."
        },
        "package": {
          "description": "Required for non-Windows OS. The package this Upgrade is for.",
          "type": "string"
        }
      }
    },
    "CVSS": {
      "description": "Common Vulnerability Scoring System. For details, see https://www.first.org/cvss/specification-document This is a message we will try to use for storing various versions of CVSS rather than making a separate proto for storing a specific version.",
      "type": "object",
      "properties": {
        "vulnerableSystemConfidentialityImpact": {
          "description": "Vulnerable System Confidentiality Impact (VC). Defined in CVSS v4.",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ]
        },
        "vulnerableSystemAvailabilityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "description": "Vulnerable System Availability Impact (VA). Defined in CVSS v4."
        },
        "integrityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "description": "Integrity Impact (I). Defined in CVSS v2, v3."
        },
        "impactScore": {
          "type": "number",
          "format": "float"
        },
        "attackRequirements": {
          "enumDescriptions": [
            "Unspecified.",
            "No attack requirements (AT:N). Defined in CVSS v4.",
            "Attack requirements: Present (AT:P). Defined in CVSS v4."
          ],
          "type": "string",
          "enum": [
            "ATTACK_REQUIREMENTS_UNSPECIFIED",
            "ATTACK_REQUIREMENTS_NONE",
            "ATTACK_REQUIREMENTS_PRESENT"
          ],
          "description": "Attack Requirements (AT). Defined in CVSS v4."
        },
        "scope": {
          "enumDescriptions": [
            "Unspecified.",
            "Scope: Unchanged (S:U). Defined in CVSS v3.",
            "Scope: Changed (S:C). Defined in CVSS v3."
          ],
          "description": "Scope (S). Defined in CVSS v3.",
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ]
        },
        "subsequentSystemIntegrityImpact": {
          "description": "Subsequent System Integrity Impact (SI). Defined in CVSS v4.",
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ]
        },
        "authentication": {
          "type": "string",
          "enum": [
            "AUTHENTICATION_UNSPECIFIED",
            "AUTHENTICATION_MULTIPLE",
            "AUTHENTICATION_SINGLE",
            "AUTHENTICATION_NONE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Multiple authentication required (Au:M). Defined in CVSS v2.",
            "Single authentication required (Au:S). Defined in CVSS v2.",
            "No authentication required (Au:N). Defined in CVSS v2."
          ],
          "description": "Authentication (Au). Defined in CVSS v2."
        },
        "attackVector": {
          "enumDescriptions": [
            "Unspecified.",
            "Attack Vector: Network (AV:N). Defined in CVSS v2, v3, v4.",
            "Attack Vector: Adjacent (AV:A). Defined in CVSS v2, v3, v4.",
            "Attack Vector: Local (AV:L). Defined in CVSS v2, v3, v4.",
            "Attack Vector: Physical (AV:P). Defined in CVSS v3, v4."
          ],
          "description": "Attack Vector (AV). Defined in CVSS v2, v3, v4.",
          "type": "string",
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ]
        },
        "exploitabilityScore": {
          "format": "float",
          "type": "number"
        },
        "vulnerableSystemIntegrityImpact": {
          "description": "Vulnerable System Integrity Impact (VI). Defined in CVSS v4.",
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ]
        },
        "userInteraction": {
          "enumDescriptions": [
            "Unspecified.",
            "No user interaction required (UI:N). Defined in CVSS v3, v4.",
            "User interaction required (UI:R). Defined in CVSS v3.",
            "Passive user interaction required (UI:P). Defined in CVSS v4.",
            "Active user interaction required (UI:A). Defined in CVSS v4."
          ],
          "type": "string",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED",
            "USER_INTERACTION_PASSIVE",
            "USER_INTERACTION_ACTIVE"
          ],
          "description": "User Interaction (UI). Defined in CVSS v3, v4."
        },
        "exploitMaturity": {
          "description": "Exploit Maturity (E). Defined in CVSS v4.",
          "enumDescriptions": [
            "Unspecified.",
            "Exploit maturity: Not defined (E:X). Defined in CVSS v4.",
            "Exploit maturity: Attacked (E:A). Defined in CVSS v4.",
            "Exploit maturity: Proof-of-concept (E:P). Defined in CVSS v4.",
            "Exploit maturity: Unreported (E:U). Defined in CVSS v4."
          ],
          "type": "string",
          "enum": [
            "EXPLOIT_MATURITY_UNSPECIFIED",
            "EXPLOIT_MATURITY_NOT_DEFINED",
            "EXPLOIT_MATURITY_ATTACKED",
            "EXPLOIT_MATURITY_POC",
            "EXPLOIT_MATURITY_UNREPORTED"
          ]
        },
        "subsequentSystemAvailabilityImpact": {
          "description": "Subsequent System Availability Impact (SA). Defined in CVSS v4.",
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ]
        },
        "baseScore": {
          "type": "number",
          "description": "The base score is a function of the base metric scores.",
          "format": "float"
        },
        "subsequentSystemConfidentialityImpact": {
          "description": "Subsequent System Confidentiality Impact (SC). Defined in CVSS v4.",
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ]
        },
        "availabilityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "description": "Availability Impact (A). Defined in CVSS v2, v3."
        },
        "confidentialityImpact": {
          "enumDescriptions": [
            "Unspecified.",
            "High impact (H). Defined in CVSS v3, v4.",
            "Low impact (L). Defined in CVSS v3, v4.",
            "No impact (N). Defined in CVSS v2, v3, v4.",
            "Partial impact (P). Defined in CVSS v2.",
            "Complete impact (C). Defined in CVSS v2."
          ],
          "description": "Confidentiality Impact (C). Defined in CVSS v2, v3.",
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE",
            "IMPACT_PARTIAL",
            "IMPACT_COMPLETE"
          ]
        },
        "attackComplexity": {
          "type": "string",
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH",
            "ATTACK_COMPLEXITY_MEDIUM"
          ],
          "description": "Attack Complexity (AC). Defined in CVSS v2, v3, v4.",
          "enumDescriptions": [
            "Unspecified.",
            "Low attack complexity (AC:L). Defined in CVSS v2, v3, v4.",
            "High attack complexity (AC:H). Defined in CVSS v2, v3, v4.",
            "Medium attack complexity (AC:M). Defined in CVSS v2."
          ]
        },
        "privilegesRequired": {
          "enumDescriptions": [
            "Unspecified.",
            "No privileges required (PR:N). Defined in CVSS v3, v4.",
            "Low privileges required (PR:L). Defined in CVSS v3, v4.",
            "High privileges required (PR:H). Defined in CVSS v3, v4."
          ],
          "description": "Privileges Required (PR). Defined in CVSS v3, v4.",
          "type": "string",
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ]
        }
      },
      "id": "CVSS"
    },
    "IngestionSource": {
      "id": "IngestionSource",
      "properties": {
        "source": {
          "type": "string",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "DOCKER_IMAGE",
            "SBOM_ATTACHMENT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "attachmentUri": {
          "type": "string",
          "description": "The attachment URI that this package was extracted from."
        },
        "resourceUrl": {
          "type": "string",
          "description": "The resource URL of the resource that was scanned to find this package."
        }
      },
      "description": "Indicates where an extracted package originates from.",
      "type": "object"
    },
    "PackageIssue": {
      "properties": {
        "fixedCpeUri": {
          "description": "The [CPE URI](https://cpe.mitre.org/specification/) this vulnerability was fixed in. It is possible for this to be different from the affected_cpe_uri.",
          "type": "string"
        },
        "fixAvailable": {
          "type": "boolean",
          "description": "Output only. Whether a fix is available for this package."
        },
        "fixedPackage": {
          "type": "string",
          "description": "The package this vulnerability was fixed in. It is possible for this to be different from the affected_package."
        },
        "packageType": {
          "description": "The type of package (e.g. OS, MAVEN, GO).",
          "type": "string"
        },
        "affectedPackage": {
          "description": "Required. The package this vulnerability was found in.",
          "type": "string"
        },
        "affectedCpeUri": {
          "description": "Required. The [CPE URI](https://cpe.mitre.org/specification/) this vulnerability was found in.",
          "type": "string"
        },
        "effectiveSeverity": {
          "enumDescriptions": [
            "Unknown.",
            "Minimal severity.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Output only. The distro or language system assigned severity for this vulnerability when that is available and note provider assigned severity when it is not available."
        },
        "affectedVersion": {
          "$ref": "Version",
          "description": "Required. The version of the package that is installed on the resource affected by this vulnerability."
        },
        "fixedVersion": {
          "description": "Required. The version of the package this vulnerability was fixed in. Setting this to VersionKind.MAXIMUM means no fix is yet available.",
          "$ref": "Version"
        },
        "fileLocation": {
          "type": "array",
          "items": {
            "$ref": "GrafeasV1FileLocation"
          },
          "description": "The location at which this package was found."
        }
      },
      "description": "A detail for a distro and package this vulnerability occurrence was found in and its associated fix (if one is available).",
      "type": "object",
      "id": "PackageIssue"
    },
    "SecretLocation": {
      "description": "The location of the secret.",
      "type": "object",
      "properties": {
        "fileLocation": {
          "description": "The secret is found from a file.",
          "$ref": "GrafeasV1FileLocation"
        }
      },
      "id": "SecretLocation"
    },
    "Jwt": {
      "type": "object",
      "id": "Jwt",
      "properties": {
        "compactJwt": {
          "type": "string",
          "description": "The compact encoding of a JWS, which is always three base64 encoded strings joined by periods. For details, see: https://tools.ietf.org/html/rfc7515.html#section-3.1"
        }
      }
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaMetadata": {
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaMetadata",
      "properties": {
        "buildInvocationId": {
          "type": "string"
        },
        "completeness": {
          "$ref": "GrafeasV1SlsaProvenanceZeroTwoSlsaCompleteness"
        },
        "buildStartedOn": {
          "type": "string",
          "format": "google-datetime"
        },
        "reproducible": {
          "type": "boolean"
        },
        "buildFinishedOn": {
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Other properties of the build."
    },
    "AnalyzePackagesResponse": {
      "description": "AnalyzePackagesResponse contains the information necessary to find results for the given scan.",
      "properties": {
        "scan": {
          "description": "The name of the scan resource created by this successful scan.",
          "type": "string"
        }
      },
      "id": "AnalyzePackagesResponse",
      "type": "object"
    },
    "SlsaProvenance": {
      "type": "object",
      "properties": {
        "builder": {
          "description": "required",
          "$ref": "SlsaBuilder"
        },
        "materials": {
          "items": {
            "$ref": "Material"
          },
          "type": "array",
          "description": "The collection of artifacts that influenced the build including sources, dependencies, build tools, base images, and so on. This is considered to be incomplete unless metadata.completeness.materials is true. Unset or null is equivalent to empty."
        },
        "metadata": {
          "$ref": "SlsaMetadata"
        },
        "recipe": {
          "$ref": "SlsaRecipe",
          "description": "Identifies the configuration used for the build. When combined with materials, this SHOULD fully describe the build, such that re-running this recipe results in bit-for-bit identical output (if the build is reproducible). required"
        }
      },
      "id": "SlsaProvenance"
    },
    "SlsaProvenanceV1": {
      "type": "object",
      "description": "Keep in sync with schema at https://github.com/slsa-framework/slsa/blob/main/docs/provenance/schema/v1/provenance.proto Builder renamed to ProvenanceBuilder because of Java conflicts.",
      "properties": {
        "runDetails": {
          "$ref": "RunDetails"
        },
        "buildDefinition": {
          "$ref": "BuildDefinition"
        }
      },
      "id": "SlsaProvenanceV1"
    },
    "Recipe": {
      "properties": {
        "environment": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy. Since the environment field can greatly vary in structure, depending on the builder and recipe type, this is of form \"Any\"."
        },
        "arguments": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint. Since the arguments field can greatly vary in structure, depending on the builder and recipe type, this is of form \"Any\"."
        },
        "type": {
          "type": "string",
          "description": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials."
        },
        "definedInMaterial": {
          "type": "string",
          "format": "int64",
          "description": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64."
        },
        "entryPoint": {
          "description": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use.",
          "type": "string"
        }
      },
      "id": "Recipe",
      "description": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe.",
      "type": "object"
    },
    "SlsaRecipe": {
      "type": "object",
      "id": "SlsaRecipe",
      "description": "Steps taken to build the artifact. For a TaskRun, typically each container corresponds to one step in the recipe.",
      "properties": {
        "arguments": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Collection of all external inputs that influenced the build on top of recipe.definedInMaterial and recipe.entryPoint. For example, if the recipe type were \"make\", then this might be the flags passed to make aside from the target, which is captured in recipe.entryPoint. Depending on the recipe Type, the structure may be different."
        },
        "environment": {
          "description": "Any other builder-controlled inputs necessary for correctly evaluating the recipe. Usually only needed for reproducing the build but not evaluated as part of policy. Depending on the recipe Type, the structure may be different.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "type": {
          "type": "string",
          "description": "URI indicating what type of recipe was performed. It determines the meaning of recipe.entryPoint, recipe.arguments, recipe.environment, and materials."
        },
        "definedInMaterial": {
          "description": "Index in materials containing the recipe steps that are not implied by recipe.type. For example, if the recipe type were \"make\", then this would point to the source containing the Makefile, not the make program itself. Set to -1 if the recipe doesn't come from a material, as zero is default unset value for int64.",
          "type": "string",
          "format": "int64"
        },
        "entryPoint": {
          "description": "String identifying the entry point into the build. This is often a path to a configuration file and/or a target label within that file. The syntax and meaning are defined by recipe.type. For example, if the recipe type were \"make\", then this would reference the directory in which to run make as well as which target to use.",
          "type": "string"
        }
      }
    },
    "BuildOccurrence": {
      "description": "Details of a build occurrence.",
      "properties": {
        "inTotoSlsaProvenanceV1": {
          "description": "In-Toto Slsa Provenance V1 represents a slsa provenance meeting the slsa spec, wrapped in an in-toto statement. This allows for direct jsonification of a to-spec in-toto slsa statement with a to-spec slsa provenance.",
          "$ref": "InTotoSlsaProvenanceV1"
        },
        "provenanceBytes": {
          "description": "Serialized JSON representation of the provenance, used in generating the build signature in the corresponding build note. After verifying the signature, `provenance_bytes` can be unmarshalled and compared to the provenance to confirm that it is unchanged. A base64-encoded string representation of the provenance bytes is used for the signature in order to interoperate with openssl which expects this format for signature verification. The serialized form is captured both to avoid ambiguity in how the provenance is marshalled to json as well to prevent incompatibilities with future changes.",
          "type": "string"
        },
        "intotoStatement": {
          "description": "In-toto Statement representation as defined in spec. The intoto_statement can contain any type of provenance. The serialized payload of the statement can be stored and signed in the Occurrence's envelope.",
          "$ref": "InTotoStatement"
        },
        "intotoProvenance": {
          "description": "Deprecated. See InTotoStatement for the replacement. In-toto Provenance representation as defined in spec.",
          "$ref": "InTotoProvenance"
        },
        "provenance": {
          "$ref": "BuildProvenance",
          "description": "The actual provenance for the build."
        }
      },
      "type": "object",
      "id": "BuildOccurrence"
    },
    "AnalyzePackagesRequestV1": {
      "id": "AnalyzePackagesRequestV1",
      "properties": {
        "packages": {
          "description": "The packages to analyze.",
          "type": "array",
          "items": {
            "$ref": "PackageData"
          }
        },
        "resourceUri": {
          "type": "string",
          "description": "Required. The resource URI of the container image being scanned."
        },
        "includeOsvData": {
          "deprecated": true,
          "description": "[DEPRECATED] Whether to include OSV data in the scan. For backwards compatibility reasons, this field can be neither removed nor renamed.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "AnalyzePackagesRequest is the request to analyze a list of packages and create Vulnerability Occurrences for it."
    },
    "Artifact": {
      "id": "Artifact",
      "properties": {
        "id": {
          "type": "string",
          "description": "Artifact ID, if any; for container images, this will be a URL by digest like `gcr.io/projectID/imagename@sha256:123456`."
        },
        "names": {
          "description": "Related artifact names. This may be the path to a binary or jar file, or in the case of a container build, the name used to push the container image to Google Container Registry, as presented to `docker push`. Note that a single Artifact ID can have multiple names, for example if two tags are applied to one image.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "checksum": {
          "type": "string",
          "description": "Hash or checksum value of a binary, or Docker Registry 2.0 digest of a container."
        }
      },
      "description": "Artifact describes a build product.",
      "type": "object"
    },
    "GrafeasV1SlsaProvenanceZeroTwoSlsaConfigSource": {
      "id": "GrafeasV1SlsaProvenanceZeroTwoSlsaConfigSource",
      "type": "object",
      "properties": {
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "uri": {
          "type": "string"
        },
        "entryPoint": {
          "type": "string"
        }
      },
      "description": "Describes where the config file that kicked off the build came from. This is effectively a pointer to the source where buildConfig came from."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "AnalyzePackagesMetadata": {
      "type": "object",
      "id": "AnalyzePackagesMetadata",
      "description": "AnalyzePackagesMetadata contains metadata for an active scan of a container image.",
      "properties": {
        "resourceUri": {
          "type": "string",
          "description": "The resource URI of the container image being scanned."
        },
        "createTime": {
          "description": "When the scan was created.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "SbomReferenceIntotoPredicate": {
      "properties": {
        "referrerId": {
          "description": "The person or system referring this predicate to the consumer.",
          "type": "string"
        },
        "digest": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A map of algorithm to digest of the contents of the SBOM."
        },
        "location": {
          "type": "string",
          "description": "The location of the SBOM."
        },
        "mimeType": {
          "description": "The mime type of the SBOM.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SbomReferenceIntotoPredicate",
      "description": "A predicate which describes the SBOM being referenced."
    },
    "SourceContext": {
      "description": "A SourceContext is a reference to a tree of files. A SourceContext together with a path point to a unique revision of a single file or directory.",
      "properties": {
        "gerrit": {
          "$ref": "GerritSourceContext",
          "description": "A SourceContext referring to a Gerrit project."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels with user defined metadata.",
          "type": "object"
        },
        "git": {
          "$ref": "GitSourceContext",
          "description": "A SourceContext referring to any third party Git repo (e.g., GitHub)."
        },
        "cloudRepo": {
[...]
