{
  "basePath": "",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "version": "v1",
  "name": "oracledatabase",
  "baseUrl": "https://oracledatabase.googleapis.com/",
  "title": "Oracle Database@Google Cloud API",
  "ownerDomain": "google.com",
  "version_module": true,
  "endpoints": [
    {
      "endpointUrl": "https://oracledatabase.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast2"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://oracledatabase.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://oracledatabase.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://oracledatabase.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://oracledatabase.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://oracledatabase.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    }
  ],
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "description": "The Oracle Database@Google Cloud API provides a set of APIs to manage Oracle database services, such as Exadata and Autonomous Databases.",
  "id": "oracledatabase:v1",
  "schemas": {
    "IdentityConnector": {
      "description": "The identity connector details which will allow OCI to securely access the resources in the customer project.",
      "id": "IdentityConnector",
      "type": "object",
      "properties": {
        "connectionState": {
          "description": "Output only. The connection state of the identity connector.",
          "enumDescriptions": [
            "Default unspecified value.",
            "The identity pool connection is connected.",
            "The identity pool connection is partially connected.",
            "The identity pool connection is disconnected.",
            "The identity pool connection is in an unknown state."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "CONNECTION_STATE_UNSPECIFIED",
            "CONNECTED",
            "PARTIALLY_CONNECTED",
            "DISCONNECTED",
            "UNKNOWN"
          ]
        },
        "serviceAgentEmail": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A google managed service account on which customers can grant roles to access resources in the customer project. Example: `p176944527254-55-75119d87fd8f@gcp-sa-oci.iam.gserviceaccount.com`"
        }
      }
    },
    "GoldengateOciObjectStorageConnectionProperties": {
      "properties": {
        "publicKeyFingerprint": {
          "type": "string",
          "description": "Optional. The fingerprint of the API Key of the user specified by the userId."
        },
        "privateKeyFile": {
          "description": "Optional. The content of the private key file (PEM file) corresponding to the API key of the fingerprint.",
          "type": "string"
        },
        "useResourcePrincipal": {
          "description": "Optional. Specifies that the user intends to authenticate to the instance using a resource principal.",
          "type": "boolean"
        },
        "tenancyId": {
          "type": "string",
          "description": "Optional. The OCID of the related OCI tenancy."
        },
        "region": {
          "description": "Optional. The name of the region of OCI Object Storage. e.g.: us-ashburn-1 If the region is not provided, backend will default to the default region.",
          "type": "string"
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of OciObjectStorageConnection."
        },
        "privateKeyPassphraseSecret": {
          "type": "string",
          "description": "Optional. The passphrase of the private key."
        },
        "userId": {
          "description": "Optional. The OCID of the OCI user who will access the Object Storage. The user must have write access to the bucket they want to connect to.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The properties of GoldengateOciObjectStorageConnection.",
      "id": "GoldengateOciObjectStorageConnectionProperties"
    },
    "ListGoldengateDeploymentTypesResponse": {
      "id": "ListGoldengateDeploymentTypesResponse",
      "properties": {
        "goldengateDeploymentTypes": {
          "type": "array",
          "description": "The list of GoldengateDeploymentType",
          "items": {
            "$ref": "GoldengateDeploymentType"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. The resource names of locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Message for response to listing GoldengateDeploymentTypes"
    },
    "DatabaseCharacterSet": {
      "description": "Details of the Database character set resource.",
      "type": "object",
      "id": "DatabaseCharacterSet",
      "properties": {
        "characterSetType": {
          "type": "string",
          "enum": [
            "CHARACTER_SET_TYPE_UNSPECIFIED",
            "DATABASE",
            "NATIONAL"
          ],
          "enumDescriptions": [
            "Character set type is not specified.",
            "Character set type is set to database.",
            "Character set type is set to national."
          ],
          "description": "Output only. The character set type for the Database.",
          "readOnly": true
        },
        "characterSet": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The character set name for the Database which is the ID in the resource name."
        },
        "name": {
          "description": "Identifier. The name of the Database Character Set resource in the following format: projects/{project}/locations/{region}/databaseCharacterSets/{database_character_set}",
          "type": "string"
        }
      }
    },
    "GoldengateAmazonRedshiftConnectionProperties": {
      "description": "The properties of GoldengateAmazonRedshiftConnection.",
      "id": "GoldengateAmazonRedshiftConnectionProperties",
      "type": "object",
      "properties": {
        "username": {
          "type": "string",
          "description": "Optional. The username Oracle Goldengate uses to connect the associated system of the given technology."
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses for Amazon Redshift connection. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Optional. Input only. The password Oracle Goldengate uses for Amazon Redshift connection in plain text."
        },
        "technologyType": {
          "description": "Optional. The technology type of AmazonRedshiftConnection.",
          "type": "string"
        },
        "connectionUrl": {
          "type": "string",
          "description": "Optional. Connection URL. e.g.: 'jdbc:redshift://aws-redshift-instance.aaaaaaaaaaaa.us-east-2.redshift.amazonaws.com:5439/mydb'"
        }
      }
    },
    "MaintenanceWindow": {
      "properties": {
        "isCustomActionTimeoutEnabled": {
          "description": "Optional. If true, enables the configuration of a custom action timeout (waiting period) between database server patching operations.",
          "type": "boolean"
        },
        "months": {
          "description": "Optional. Months during the year when maintenance should be performed.",
          "items": {
            "enumDescriptions": [
              "The unspecified month.",
              "The month of January.",
              "The month of February.",
              "The month of March.",
              "The month of April.",
              "The month of May.",
              "The month of June.",
              "The month of July.",
              "The month of August.",
              "The month of September.",
              "The month of October.",
              "The month of November.",
              "The month of December."
            ],
            "type": "string",
            "enum": [
              "MONTH_UNSPECIFIED",
              "JANUARY",
              "FEBRUARY",
              "MARCH",
              "APRIL",
              "MAY",
              "JUNE",
              "JULY",
              "AUGUST",
              "SEPTEMBER",
              "OCTOBER",
              "NOVEMBER",
              "DECEMBER"
            ]
          },
          "type": "array"
        },
        "weeksOfMonth": {
          "description": "Optional. Weeks during the month when maintenance should be performed. Weeks start on the 1st, 8th, 15th, and 22nd days of the month, and have a duration of 7 days. Weeks start and end based on calendar dates, not days of the week.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        },
        "leadTimeWeek": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Lead time window allows user to set a lead time to prepare for a down time. The lead time is in weeks and valid value is between 1 to 4."
        },
        "daysOfWeek": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ]
          },
          "description": "Optional. Days during the week when maintenance should be performed."
        },
        "hoursOfDay": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "Optional. The window of hours during the day when maintenance should be performed. The window is a 4 hour slot. Valid values are: 0 - represents time slot 0:00 - 3:59 UTC 4 - represents time slot 4:00 - 7:59 UTC 8 - represents time slot 8:00 - 11:59 UTC 12 - represents time slot 12:00 - 15:59 UTC 16 - represents time slot 16:00 - 19:59 UTC 20 - represents time slot 20:00 - 23:59 UTC"
        },
        "preference": {
          "type": "string",
          "enum": [
            "MAINTENANCE_WINDOW_PREFERENCE_UNSPECIFIED",
            "CUSTOM_PREFERENCE",
            "NO_PREFERENCE"
          ],
          "description": "Optional. The maintenance window scheduling preference.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Custom preference.",
            "No preference."
          ]
        },
        "patchingMode": {
          "description": "Optional. Cloud CloudExadataInfrastructure node patching method, either \"ROLLING\" or \"NONROLLING\". Default value is ROLLING.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Updates the Cloud Exadata database server hosts in a rolling fashion.",
            "The non-rolling maintenance method first updates your storage servers at the same time, then your database servers at the same time."
          ],
          "type": "string",
          "enum": [
            "PATCHING_MODE_UNSPECIFIED",
            "ROLLING",
            "NON_ROLLING"
          ]
        },
        "customActionTimeoutMins": {
          "description": "Optional. Determines the amount of time the system will wait before the start of each database server patching operation. Custom action timeout is in minutes and valid value is between 15 to 120 (inclusive).",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "MaintenanceWindow",
      "description": "Maintenance window as defined by Oracle. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/MaintenanceWindow",
      "type": "object"
    },
    "GoldengateGoldengateConnectionProperties": {
      "id": "GoldengateGoldengateConnectionProperties",
      "description": "The properties of GoldengateGoldengateConnectionProperties.",
      "type": "object",
      "properties": {
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type."
        },
        "host": {
          "description": "Optional. The host of the GoldengateConnection.",
          "type": "string"
        },
        "passwordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password used to connect to the Oracle Goldengate. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "goldengateDeploymentId": {
          "type": "string",
          "description": "Optional. The name of the GoldengateDeployment associated with the GoldengateConnection. Format: projects/{project}/locations/{location}/goldengateDeployments/{goldengate_deployment}"
        },
        "username": {
          "description": "Optional. The username credential.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Input only. The password used to connect to the Oracle Goldengate in plain text.",
          "type": "string"
        },
        "port": {
          "description": "Optional. The port of the GoldengateConnection.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoldengateAmazonKinesisConnectionProperties": {
      "id": "GoldengateAmazonKinesisConnectionProperties",
      "properties": {
        "secretAccessKeySecret": {
          "type": "string",
          "description": "Optional. Secret access key to access the Amazon Kinesis."
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of AmazonKinesisConnection."
        },
        "endpoint": {
          "description": "Optional. The endpoint URL of the Amazon Kinesis service. e.g.: 'https://kinesis.us-east-1.amazonaws.com' If not provided, Goldengate will default to 'https://kinesis..amazonaws.com'.",
          "type": "string"
        },
        "accessKeyId": {
          "description": "Optional. Access key ID to access the Amazon Kinesis.",
          "type": "string"
        },
        "awsRegion": {
          "type": "string",
          "description": "Optional. The name of the AWS region. If not provided, Goldengate will default to 'us-west-1'."
        }
      },
      "type": "object",
      "description": "The properties of GoldengateAmazonKinesisConnection."
    },
    "GoldengateRedisConnectionProperties": {
      "properties": {
        "trustStorePasswordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the TrustStore password. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of RedisConnection."
        },
        "securityProtocol": {
          "type": "string",
          "enum": [
            "REDIS_SECURITY_PROTOCOL_UNSPECIFIED",
            "PLAIN",
            "TLS",
            "MTLS"
          ],
          "description": "Optional. Security protocol for Redis.",
          "enumDescriptions": [
            "Security protocol not specified.",
            "Plain text communication.",
            "Transport Layer Security.",
            "Mutual Transport Layer Security."
          ]
        },
        "trustStorePassword": {
          "description": "Optional. Input only. The TrustStore password in plain text.",
          "type": "string"
        },
        "keyStorePassword": {
          "type": "string",
          "description": "Optional. Input only. The KeyStore password in plain text."
        },
        "password": {
          "type": "string",
          "description": "Optional. Input only. The password Oracle Goldengate uses for Redis connection in plain text."
        },
        "keyStoreFile": {
          "description": "Optional. The base64 encoded content of the KeyStore file.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Optional. The username Oracle Goldengate uses to connect the associated system of the given technology."
        },
        "redisClusterId": {
          "type": "string",
          "description": "Optional. The OCID of the Redis cluster."
        },
        "trustStoreFile": {
          "type": "string",
          "description": "Optional. The base64 encoded content of the TrustStore file."
        },
        "authenticationType": {
          "description": "Optional. Authentication type for Redis.",
          "enumDescriptions": [
            "Authentication type not specified.",
            "No authentication.",
            "Basic authentication."
          ],
          "type": "string",
          "enum": [
            "REDIS_AUTHENTICATION_TYPE_UNSPECIFIED",
            "NONE",
            "BASIC"
          ]
        },
        "passwordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses for Redis connection. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "keyStorePasswordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the KeyStore password. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "servers": {
          "type": "string",
          "description": "Optional. Comma separated list of Redis server addresses, specified as host:port entries, where :port is optional. If port is not specified, it defaults to 6379. Example: \"server1.example.com:6379,server2.example.com:6379\""
        }
      },
      "id": "GoldengateRedisConnectionProperties",
      "description": "The properties of GoldengateRedisConnection.",
      "type": "object"
    },
    "RefreshAutonomousDatabaseRequest": {
      "id": "RefreshAutonomousDatabaseRequest",
      "properties": {
        "refreshCutoffTime": {
          "format": "google-datetime",
          "description": "Required. The timestamp to which the Autonomous Database refreshable clone will be refreshed. Changes made in the primary database after this timestamp are not part of the data refresh.",
          "type": "string"
        }
      },
      "description": "Request message for RefreshAutonomousDatabase method.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "ListPluggableDatabasesResponse": {
      "description": "The response for `PluggableDatabase.List`.",
      "id": "ListPluggableDatabasesResponse",
      "type": "object",
      "properties": {
        "pluggableDatabases": {
          "items": {
            "$ref": "PluggableDatabase"
          },
          "type": "array",
          "description": "The list of PluggableDatabases."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "GoldengateMaintenanceWindow": {
      "type": "object",
      "id": "GoldengateMaintenanceWindow",
      "description": "The maintenance window of the GoldengateDeployment.",
      "properties": {
        "day": {
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "Required. Days of the week.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        },
        "startHour": {
          "description": "Required. Start hour for maintenance period. Hour is in UTC.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListGoldengateConnectionsResponse": {
      "properties": {
        "goldengateConnections": {
          "items": {
            "$ref": "GoldengateConnection"
          },
          "description": "The list of GoldengateConnections.",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListGoldengateConnectionsResponse",
      "description": "The response for `GoldengateConnection.List`.",
      "type": "object"
    },
    "DbSystemShape": {
      "description": "Details of the Database System Shapes resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/DbSystemShapeSummary/",
      "id": "DbSystemShape",
      "type": "object",
      "properties": {
        "minimumCoreCount": {
          "format": "int32",
          "description": "Optional. Minimum core count per node.",
          "type": "integer"
        },
        "name": {
          "description": "Identifier. The name of the Database System Shape resource with the format: projects/{project}/locations/{region}/dbSystemShapes/{db_system_shape}",
          "type": "string"
        },
        "maxNodeCount": {
          "description": "Optional. Maximum number of database servers.",
          "format": "int32",
          "type": "integer"
        },
        "coreCountIncrement": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Core count increment."
        },
        "availableDataStorageTb": {
          "description": "Optional. Storage per storage server in terabytes.",
          "format": "int32",
          "type": "integer"
        },
        "minNodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Minimum number of database servers."
        },
        "availableCoreCount": {
          "type": "integer",
          "description": "Optional. Available core count.",
          "format": "int32"
        },
        "shape": {
          "type": "string",
          "description": "Optional. shape"
        },
        "availableMemoryPerNodeGb": {
          "type": "integer",
          "description": "Optional. Memory per database server node in gigabytes.",
          "format": "int32"
        },
        "availableCoreCountPerNode": {
          "type": "integer",
          "description": "Optional. Number of cores per node.",
          "format": "int32"
        },
        "minMemoryPerNodeGb": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Minimum memory per node in gigabytes."
        },
        "minStorageCount": {
          "description": "Optional. Minimum number of storage servers.",
          "format": "int32",
          "type": "integer"
        },
        "minDbNodeStoragePerNodeGb": {
          "format": "int32",
          "description": "Optional. Minimum node storage per database server in gigabytes.",
          "type": "integer"
        },
        "maxStorageCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Maximum number of storage servers."
        },
        "minCoreCountPerNode": {
          "format": "int32",
          "description": "Optional. Minimum core count per node.",
          "type": "integer"
        }
      }
    },
    "DbServer": {
      "type": "object",
      "id": "DbServer",
      "description": "Details of the database server resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/DbServer/",
      "properties": {
        "properties": {
          "$ref": "DbServerProperties",
          "description": "Optional. Various properties of the database server."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly name for this resource."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the database server resource with the format: projects/{project}/locations/{location}/cloudExadataInfrastructures/{cloud_exadata_infrastructure}/dbServers/{db_server}"
        }
      }
    },
    "AutonomousDatabaseBackupProperties": {
      "type": "object",
      "properties": {
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The date and time the backup started."
        },
        "sizeTb": {
          "readOnly": true,
          "description": "Output only. The backup size in terabytes.",
          "format": "float",
          "type": "number"
        },
        "kmsKeyVersionId": {
          "type": "string",
          "description": "Optional. The OCID of the key container version that is used in database transparent data encryption (TDE) operations KMS Key can have multiple key versions. If none is specified, the current key version (latest) of the Key Id is used for the operation. Autonomous Database Serverless does not use key versions, hence is not applicable for Autonomous Database Serverless instances."
        },
        "databaseSizeTb": {
          "type": "number",
          "readOnly": true,
          "description": "Output only. The quantity of data in the database, in terabytes.",
          "format": "float"
        },
        "keyStoreId": {
          "description": "Optional. The OCID of the key store of Oracle Vault.",
          "type": "string"
        },
        "availableTillTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp until when the backup will be available.",
          "type": "string"
        },
        "lifecycleState": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "DELETED",
            "FAILED",
            "UPDATING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in creating state.",
            "Indicates that the resource is in active state.",
            "Indicates that the resource is in deleting state.",
            "Indicates that the resource is in deleted state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource is in updating state."
          ],
          "description": "Output only. The lifecycle state of the backup."
        },
        "compartmentId": {
          "readOnly": true,
          "description": "Output only. The OCID of the compartment.",
          "type": "string"
        },
        "dbVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A valid Oracle Database version for Autonomous Database."
        },
        "kmsKeyId": {
          "type": "string",
          "description": "Optional. The OCID of the key container that is used as the master encryption key in database transparent data encryption (TDE) operations."
        },
        "vaultId": {
          "type": "string",
          "description": "Optional. The OCID of the vault."
        },
        "isLongTermBackup": {
          "type": "boolean",
          "description": "Output only. Indicates if the backup is long term backup.",
          "readOnly": true
        },
        "lifecycleDetails": {
          "description": "Output only. Additional information about the current lifecycle state.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INCREMENTAL",
            "FULL",
            "LONG_TERM"
          ],
          "description": "Output only. The type of the backup.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Incremental backups.",
            "Full backups.",
            "Long term backups."
          ],
          "readOnly": true
        },
        "keyStoreWallet": {
          "description": "Optional. The wallet name for Oracle Key Vault.",
          "type": "string"
        },
        "isRestorable": {
          "readOnly": true,
          "description": "Output only. Indicates if the backup can be used to restore the Autonomous Database.",
          "type": "boolean"
        },
        "endTime": {
          "description": "Output only. The date and time the backup completed.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "retentionPeriodDays": {
          "description": "Optional. Retention period in days for the backup.",
          "type": "integer",
          "format": "int32"
        },
        "isAutomaticBackup": {
          "readOnly": true,
          "description": "Output only. Indicates if the backup is automatic or user initiated.",
          "type": "boolean"
        },
        "ocid": {
          "description": "Output only. OCID of the Autonomous Database backup. https://docs.oracle.com/en-us/iaas/Content/General/Concepts/identifiers.htm#Oracle",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Properties of the Autonomous Database Backup resource.",
      "id": "AutonomousDatabaseBackupProperties"
    },
    "DbSystemInitialStorageSize": {
      "id": "DbSystemInitialStorageSize",
      "description": "Summary of the DbSystem initial storage size.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the resource."
        },
        "properties": {
          "readOnly": true,
          "$ref": "DbSystemInitialStorageSizeProperties",
          "description": "Output only. The properties of the DbSystem initial storage size summary."
        }
      },
      "type": "object"
    },
    "AutonomousDatabaseConnectionStrings": {
      "type": "object",
      "properties": {
        "medium": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The database service provides a lower level of resources to each SQL statement."
        },
        "low": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The database service provides the least level of resources to each SQL statement."
        },
        "allConnectionStrings": {
          "description": "Output only. Returns all connection strings that can be used to connect to the Autonomous Database.",
          "readOnly": true,
          "$ref": "AllConnectionStrings"
        },
        "dedicated": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The database service provides the least level of resources to each SQL statement, but supports the most number of concurrent SQL statements."
        },
        "profiles": {
          "type": "array",
          "description": "Output only. A list of connection string profiles to allow clients to group, filter, and select values based on the structured metadata.",
          "readOnly": true,
          "items": {
            "$ref": "DatabaseConnectionStringProfile"
          }
        },
        "high": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The database service provides the highest level of resources to each SQL statement."
        }
      },
      "description": "The connection string used to connect to the Autonomous Database. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/AutonomousDatabaseConnectionStrings",
      "id": "AutonomousDatabaseConnectionStrings"
    },
    "SourceConfig": {
      "id": "SourceConfig",
      "description": "The source configuration for the standby Autonomous Database.",
      "properties": {
        "autoRefreshFrequencySeconds": {
          "format": "int32",
          "description": "Optional. The frequency in seconds a refreshable clone is refreshed after auto-refresh is enabled.",
          "type": "integer"
        },
        "autonomousDatabase": {
          "description": "Optional. The name of the primary Autonomous Database that is used to create a Peer Autonomous Database from a source.",
          "type": "string"
        },
        "backupTime": {
          "type": "string",
          "description": "Optional. The timestamp specified for the point-in-time clone of the source Autonomous Database. This field is only applicable in case of BACKUP_FROM_TIMESTAMP source type and when use_latest_available_backup is false.",
          "format": "google-datetime"
        },
        "autonomousDatabaseBackup": {
          "description": "Optional. The name of the Autonomous Database Backup resource with the format: projects/{project}/locations/{region}/autonomousDatabaseBackups/{autonomous_database_backup} Required when source_type is BACKUP_FROM_ID.",
          "type": "string"
        },
        "refreshableMode": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Automatic refresh.",
            "Manual refresh."
          ],
          "type": "string",
          "enum": [
            "REFRESHABLE_MODE_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "description": "Optional. The refresh mode of the clone."
        },
        "automaticBackupsReplicationEnabled": {
          "type": "boolean",
          "description": "Optional. This field specifies if the replication of automatic backups is enabled when creating a Data Guard."
        },
        "autoRefreshStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The date and time that auto-refreshing will begin for an Autonomous Database refreshable clone. This value controls only the start time for the first refresh operation."
        },
        "useLatestAvailableBackup": {
          "description": "Optional. Clone from latest available backup timestamp. This field is only applicable in case of BACKUP_FROM_TIMESTAMP source type.",
          "type": "boolean"
        },
        "sourceType": {
          "description": "Optional. The source type of the Autonomous Database.",
          "type": "string",
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "CLONE_DATABASE",
            "CROSS_REGION_DISASTER_RECOVERY",
            "CLONE_TO_REFRESHABLE",
            "BACKUP_FROM_ID",
            "BACKUP_FROM_TIMESTAMP"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Clone database from an existing database specified in autonomous_database field.",
            "Create a cross-region disaster recovery peer adb from an existing adb.",
            "Create a refreshable clone from an existing database specified in autonomous_database field.",
            "Create clone from the backup resource.",
            "Create clone from backup specified by backup_time field, or use latest available backup if use_latest_available_backup is true. The autonomous_database field must specify the source database to clone from."
          ]
        },
        "cloneType": {
          "description": "Optional. The clone type of the Autonomous Database. This field is only applicable in case of cloning",
          "enumDescriptions": [
            "Default unspecified value.",
            "Creates a new database with the source database's data and metadata.",
            "Creates a new database that includes all the source database schema metadata, but none of the source database data."
          ],
          "type": "string",
          "enum": [
            "CLONE_TYPE_UNSPECIFIED",
            "FULL",
            "METADATA"
          ]
        },
        "autoRefreshPointLagSeconds": {
          "type": "integer",
          "description": "Optional. The time, in seconds, the data of the automatic refreshable clone lags the primary database at the point of refresh.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "IngressIp": {
      "description": "The ingress IPs of the GoldengateDeployment.",
      "id": "IngressIp",
      "properties": {
        "ingressIpAddress": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ingress IP."
        }
      },
      "type": "object"
    },
    "GenerateAutonomousDatabaseWalletRequest": {
      "type": "object",
      "description": "The request for `AutonomousDatabase.GenerateWallet`.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "GENERATE_TYPE_UNSPECIFIED",
            "ALL",
            "SINGLE"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Used to generate wallet for all databases in the region.",
            "Used to generate wallet for a single database."
          ],
          "description": "Optional. The type of wallet generation for the Autonomous Database. The default value is SINGLE."
        },
        "password": {
          "type": "string",
          "description": "Required. The password used to encrypt the keys inside the wallet. The password must be a minimum of 8 characters."
        },
        "isRegional": {
          "description": "Optional. True when requesting regional connection strings in PDB connect info, applicable to cross-region Data Guard only.",
          "type": "boolean"
        }
      },
      "id": "GenerateAutonomousDatabaseWalletRequest"
    },
    "GoldengateKafkaConnectionProperties": {
      "properties": {
        "passwordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password for Kafka basic/SASL auth. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "producerPropertiesFile": {
          "description": "Optional. The base64 encoded content of the producer.properties file.",
          "type": "string"
        },
        "bootstrapServers": {
          "type": "array",
          "description": "Optional. Kafka bootstrap. Equivalent of bootstrap.servers configuration property in Kafka: list of KafkaBootstrapServer objects specified by host/port. Used for establishing the initial connection to the Kafka cluster. Example: \"server1.example.com:9092,server2.example.com:9092\"",
          "items": {
            "$ref": "KafkaBootstrapServer"
          }
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of KafkaConnection."
        },
        "useResourcePrincipal": {
          "description": "Optional. Specifies that the user intends to authenticate to the instance using a resource principal. Applicable only for OCI Streaming connections.",
          "type": "boolean"
        },
        "clusterId": {
          "description": "Optional. The OCID of the Kafka cluster being referenced from OCI Streaming with Apache Kafka.",
          "type": "string"
        },
        "sslKeyPasswordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password for the cert inside of the KeyStore. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "trustStorePasswordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the TrustStore password. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "securityProtocol": {
          "description": "Optional. Security Type for Kafka.",
          "enumDescriptions": [
            "Security type not specified.",
            "SSL security protocol.",
            "SASL SSL security protocol.",
            "Plaintext security protocol.",
            "SASL Plaintext security protocol."
          ],
          "type": "string",
          "enum": [
            "KAFKA_SECURITY_PROTOCOL_UNSPECIFIED",
            "SSL",
            "SASL_SSL",
            "PLAINTEXT",
            "SASL_PLAINTEXT"
          ]
        },
        "keyStorePasswordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the KeyStore password. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Optional. The username Oracle Goldengate uses to connect the associated system of the given technology."
        },
        "trustStoreFile": {
          "type": "string",
          "description": "Optional. The base64 encoded content of the TrustStore file."
        },
        "trustStorePassword": {
          "description": "Optional. Input only. The TrustStore password in plain text.",
          "type": "string"
        },
        "keyStorePassword": {
          "description": "Optional. Input only. The KeyStore password in plain text.",
          "type": "string"
        },
        "sslKeyPassword": {
          "description": "Optional. Input only. The password for the cert inside of the KeyStore in plain text.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Input only. The password for Kafka basic/SASL auth in plain text.",
          "type": "string"
        },
        "streamPoolId": {
          "type": "string",
          "description": "Optional. The OCID of the stream pool being referenced."
        },
        "keyStoreFile": {
          "type": "string",
          "description": "Optional. The base64 encoded content of the KeyStore file."
        },
        "consumerPropertiesFile": {
          "type": "string",
          "description": "Optional. The base64 encoded content of the consumer.properties file."
        }
      },
      "id": "GoldengateKafkaConnectionProperties",
      "type": "object",
      "description": "The properties of GoldengateKafkaConnection."
    },
    "TestGoldengateConnectionAssignmentRequest": {
      "type": "object",
      "description": "Request message for TestGoldengateConnectionAssignment.",
      "properties": {
        "type": {
          "description": "Optional. The type of the test of the assigned connection. The only type actually supported is DEFAULT.",
          "type": "string",
          "enum": [
            "TEST_TYPE_UNSPECIFIED",
            "DEFAULT"
          ],
          "enumDescriptions": [
            "The default value. This value is unused.",
            "The default connection test."
          ]
        }
      },
      "id": "TestGoldengateConnectionAssignmentRequest"
    },
    "ListDbSystemShapesResponse": {
      "properties": {
        "dbSystemShapes": {
          "type": "array",
          "items": {
            "$ref": "DbSystemShape"
          },
          "description": "The list of Database System shapes."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "The response for `DbSystemShape.List`.",
      "id": "ListDbSystemShapesResponse",
      "type": "object"
    },
    "RemoveVirtualMachineExadbVmClusterRequest": {
      "description": "The request for `ExadbVmCluster.RemoveVirtualMachine`.",
      "id": "RemoveVirtualMachineExadbVmClusterRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "hostnames": {
          "type": "array",
          "description": "Required. The list of host names of db nodes to be removed from the ExadbVmCluster.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoldengateAzureSynapseAnalyticsConnectionProperties": {
      "type": "object",
      "id": "GoldengateAzureSynapseAnalyticsConnectionProperties",
      "description": "The properties of GoldengateAzureSynapseAnalyticsConnection.",
      "properties": {
        "password": {
          "type": "string",
          "description": "Optional. Input only. The password Oracle Goldengate uses for Azure Synapse Analytics connection in plain text."
        },
        "connectionString": {
          "description": "Optional. JDBC connection string. e.g.: 'jdbc:sqlserver://.sql.azuresynapse.net:1433;database=;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.sql.azuresynapse.net;loginTimeout=300;'",
          "type": "string"
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses for Azure Synapse Analytics connection. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of AzureSynapseAnalyticsConnection."
        },
        "username": {
          "type": "string",
          "description": "Optional. The username Oracle Goldengate uses to connect the associated system of the given technology."
        }
      }
    },
    "NameValuePair": {
      "type": "object",
      "id": "NameValuePair",
      "properties": {
        "key": {
          "description": "Required. The name of the property entry.",
          "type": "string"
        },
        "value": {
          "description": "Required. The value of the property entry.",
          "type": "string"
        }
      },
      "description": "A name-value pair representing an attribute entry usable in a list of attributes."
    },
    "StopAutonomousDatabaseRequest": {
      "id": "StopAutonomousDatabaseRequest",
      "properties": {},
      "description": "The request for `AutonomousDatabase.Stop`.",
      "type": "object"
    },
    "ExadbVmClusterProperties": {
      "description": "The properties of an ExadbVmCluster.",
      "id": "ExadbVmClusterProperties",
      "properties": {
        "exascaleDbStorageVault": {
          "description": "Required. Immutable. The name of ExascaleDbStorageVault associated with the ExadbVmCluster. It can refer to an existing ExascaleDbStorageVault. Or a new one can be created during the ExadbVmCluster creation (requires storage_vault_properties to be set). Format: projects/{project}/locations/{location}/exascaleDbStorageVaults/{exascale_db_storage_vault}",
          "type": "string"
        },
        "dataCollectionOptions": {
          "$ref": "DataCollectionOptionsCommon",
          "description": "Optional. Immutable. Indicates user preference for data collection options."
        },
        "additionalEcpuCountPerNode": {
          "format": "int32",
          "description": "Optional. Immutable. The number of additional ECPUs per node for an Exadata VM cluster on exascale infrastructure.",
          "type": "integer"
        },
        "lifecycleState": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource is in maintenance in progress state."
          ],
          "type": "string",
          "enum": [
            "EXADB_VM_CLUSTER_LIFECYCLE_STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MAINTENANCE_IN_PROGRESS"
          ],
          "description": "Output only. State of the cluster.",
          "readOnly": true
        },
        "hostname": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The hostname of the ExadbVmCluster."
        },
        "enabledEcpuCountPerNode": {
          "description": "Required. Immutable. The number of ECPUs enabled per node for an exadata vm cluster on exascale infrastructure.",
          "format": "int32",
          "type": "integer"
        },
        "hostnamePrefix": {
          "type": "string",
          "description": "Required. Immutable. Prefix for VM cluster host names."
        },
        "nodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The number of nodes/VMs in the ExadbVmCluster."
        },
        "gridImageId": {
          "type": "string",
          "description": "Required. Immutable. Grid Infrastructure Version."
        },
        "vmFileSystemStorage": {
          "description": "Required. Immutable. Total storage details for the ExadbVmCluster.",
          "$ref": "ExadbVmClusterStorageDetails"
        },
        "timeZone": {
          "$ref": "TimeZone",
          "description": "Optional. Immutable. The time zone of the ExadbVmCluster."
        },
        "sshPublicKeys": {
          "description": "Required. Immutable. The SSH public keys for the ExadbVmCluster.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "shapeAttribute": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in smart storage.",
            "Indicates that the resource is in block storage."
          ],
          "description": "Required. Immutable. The shape attribute of the VM cluster. The type of Exascale storage used for Exadata VM cluster. The default is SMART_STORAGE which supports Oracle Database 23ai and later",
          "type": "string",
          "enum": [
            "SHAPE_ATTRIBUTE_UNSPECIFIED",
            "SMART_STORAGE",
            "BLOCK_STORAGE"
          ]
        },
        "memorySizeGb": {
          "readOnly": true,
          "description": "Output only. Memory per VM (GB) (Read-only): Shows the amount of memory allocated to each VM. Memory is calculated based on 2.75 GB per Total ECPUs.",
          "format": "int32",
          "type": "integer"
        },
        "ociUri": {
          "type": "string",
          "description": "Output only. Deep link to the OCI console to view this resource.",
          "readOnly": true
        },
        "clusterName": {
          "description": "Optional. Immutable. The cluster name for Exascale vm cluster. The cluster name must begin with an alphabetic character and may contain hyphens(-) but can not contain underscores(_). It should be not more than 11 characters and is not case sensitive. OCI Cluster name.",
          "type": "string"
        },
        "licenseModel": {
          "type": "string",
          "enum": [
            "LICENSE_MODEL_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Default is license included.",
            "Bring your own license."
          ],
          "description": "Optional. Immutable. The license type of the ExadbVmCluster."
        },
        "scanListenerPortTcp": {
          "description": "Optional. Immutable. SCAN listener port - TCP",
          "format": "int32",
          "type": "integer"
        },
        "giVersion": {
          "readOnly": true,
          "description": "Output only. The Oracle Grid Infrastructure (GI) software version.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CustomerContact": {
      "description": "The CustomerContact reference as defined by Oracle. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/CustomerContact",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "Required. The email address used by Oracle to send notifications regarding databases and infrastructure."
        }
      },
      "id": "CustomerContact"
    },
    "ListAutonomousDbVersionsResponse": {
      "type": "object",
      "id": "ListAutonomousDbVersionsResponse",
      "description": "The response for `AutonomousDbVersion.List`.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "autonomousDbVersions": {
          "items": {
            "$ref": "AutonomousDbVersion"
          },
          "description": "The list of Autonomous Database versions.",
          "type": "array"
        }
      }
    },
    "CloudExadataInfrastructureProperties": {
      "type": "object",
      "description": "Various properties of Exadata Infrastructure.",
      "properties": {
        "cpuCount": {
          "readOnly": true,
          "description": "Output only. The number of enabled CPU cores.",
          "type": "integer",
          "format": "int32"
        },
        "computeModel": {
          "enumDescriptions": [
            "Unspecified compute model.",
            "Abstract measure of compute resources. ECPUs are based on the number of cores elastically allocated from a pool of compute and storage servers.",
            "Physical measure of compute resources. OCPUs are based on the physical core of a processor."
          ],
          "type": "string",
          "enum": [
            "COMPUTE_MODEL_UNSPECIFIED",
            "COMPUTE_MODEL_ECPU",
            "COMPUTE_MODEL_OCPU"
          ],
          "description": "Output only. The compute model of the Exadata Infrastructure.",
          "readOnly": true
        },
        "maxDataStorageTb": {
          "format": "double",
          "type": "number",
          "description": "Output only. The total available DATA disk group size.",
          "readOnly": true
        },
        "totalStorageSizeGb": {
          "description": "Optional. The total storage allocated to the Exadata Infrastructure resource, in gigabytes (GB).",
          "type": "integer",
          "format": "int32"
        },
        "storageServerType": {
          "description": "Optional. The storage server type of the Exadata Infrastructure.",
          "type": "string"
        },
        "nextMaintenanceRunTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the next maintenance run will occur."
        },
        "maintenanceWindow": {
          "description": "Optional. Maintenance window for repair.",
          "$ref": "MaintenanceWindow"
        },
        "maxMemoryGb": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The total memory available in GBs.",
          "format": "int32"
        },
        "maxCpuCount": {
          "description": "Output only. The total number of CPU cores available.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "databaseServerType": {
          "description": "Optional. The database server type of the Exadata Infrastructure.",
          "type": "string"
        },
        "exascaleConfig": {
          "readOnly": true,
          "$ref": "ExascaleConfig",
          "description": "Output only. The Exascale configuration for the Exadata Infrastructure."
        },
        "maxDbNodeStorageSizeGb": {
          "format": "int32",
          "description": "Output only. The total local node storage available in GBs.",
          "readOnly": true,
          "type": "integer"
        },
        "availableStorageSizeGb": {
          "description": "Output only. The available storage can be allocated to the Exadata Infrastructure resource, in gigabytes (GB).",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "shape": {
          "description": "Required. The shape of the Exadata Infrastructure. The shape determines the amount of CPU, storage, and memory resources allocated to the instance.",
          "type": "string"
        },
        "computeCount": {
          "format": "int32",
          "description": "Optional. The number of compute servers for the Exadata Infrastructure.",
          "type": "integer"
        },
        "storageCount": {
          "type": "integer",
          "description": "Optional. The number of Cloud Exadata storage servers for the Exadata Infrastructure.",
          "format": "int32"
        },
        "monthlyStorageServerVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The monthly software version of the storage servers (cells) in the Exadata Infrastructure. Example: 20.1.15"
        },
        "ociUrl": {
          "type": "string",
          "description": "Output only. Deep link to the OCI console to view this resource.",
          "readOnly": true
        },
        "storageServerVersion": {
          "readOnly": true,
          "description": "Output only. The software version of the storage servers (cells) in the Exadata Infrastructure.",
          "type": "string"
        },
        "dbServerVersion": {
          "readOnly": true,
          "description": "Output only. The software version of the database servers (dom0) in the Exadata Infrastructure.",
          "type": "string"
        },
        "memorySizeGb": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. The memory allocated in GBs."
        },
        "customerContacts": {
          "type": "array",
          "items": {
            "$ref": "CustomerContact"
          },
          "description": "Optional. The list of customer contacts."
        },
        "nextMaintenanceRunId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The OCID of the next maintenance run."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MAINTENANCE_IN_PROGRESS"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "The Exadata Infrastructure is being provisioned.",
            "The Exadata Infrastructure is available for use.",
            "The Exadata Infrastructure is being updated.",
            "The Exadata Infrastructure is being terminated.",
            "The Exadata Infrastructure is terminated.",
            "The Exadata Infrastructure is in failed state.",
            "The Exadata Infrastructure is in maintenance."
          ],
          "description": "Output only. The current lifecycle state of the Exadata Infrastructure."
        },
        "activatedStorageCount": {
          "description": "Output only. The requested number of additional storage servers activated for the Exadata Infrastructure.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "nextSecurityMaintenanceRunTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the next security maintenance run will occur."
        },
        "additionalStorageCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The requested number of additional storage servers for the Exadata Infrastructure.",
          "readOnly": true
        },
        "ocid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. OCID of created infra. https://docs.oracle.com/en-us/iaas/Content/General/Concepts/identifiers.htm#Oracle"
        },
        "dataStorageSizeTb": {
          "type": "number",
          "format": "double",
          "description": "Output only. Size, in terabytes, of the DATA disk group.",
          "readOnly": true
        },
        "dbNodeStorageSizeGb": {
          "format": "int32",
          "description": "Output only. The local node storage allocated in GBs.",
          "readOnly": true,
          "type": "integer"
        },
        "monthlyDbServerVersion": {
          "readOnly": true,
          "description": "Output only. The monthly software version of the database servers (dom0) in the Exadata Infrastructure. Example: 20.1.15",
          "type": "string"
        }
      },
      "id": "CloudExadataInfrastructureProperties"
    },
    "CloudAccountDetails": {
      "type": "object",
      "properties": {
        "linkExistingAccountUri": {
          "description": "Output only. URL to link an existing account.",
          "type": "string",
          "readOnly": true
        },
        "cloudAccountHomeRegion": {
          "description": "Output only. OCI account home region.",
          "readOnly": true,
          "type": "string"
        },
        "accountCreationUri": {
          "readOnly": true,
          "description": "Output only. URL to create a new account and link.",
          "type": "string"
        },
        "cloudAccount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. OCI account name."
        }
      },
      "id": "CloudAccountDetails",
      "description": "Details of the OCI Cloud Account."
    },
    "GoldengateDeploymentType": {
      "description": "Details of the Goldengate Deployment Type resource.",
      "type": "object",
      "properties": {
        "connectionTypes": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The connection types of the Goldengate Deployment Type resource.",
          "type": "array",
          "readOnly": true
        },
        "category": {
          "description": "Output only. The category of the Goldengate Deployment Type resource.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Goldengate Deployment Type category is DATA_REPLICATION_CATEGORY.",
            "Goldengate Deployment Type category is DATA_TRANSFORMS_CATEGORY."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "DEPLOYMENT_CATEGORY_UNSPECIFIED",
            "DATA_REPLICATION_CATEGORY",
            "DATA_TRANSFORMS_CATEGORY"
          ]
        },
        "supportedCapabilities": {
          "type": "array",
          "description": "Output only. The supported capabilities of the Goldengate Deployment Type resource.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "deploymentType": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Goldengate Deployment Type category is OGG.",
            "Goldengate Deployment Type category is DATABASE_ORACLE.",
            "Goldengate Deployment Type category is BIGDATA.",
            "Goldengate Deployment Type category is DATABASE_MICROSOFT_SQLSERVER.",
            "Goldengate Deployment Type category is DATABASE_MYSQL.",
            "Goldengate Deployment Type category is DATABASE_POSTGRESQL.",
            "Goldengate Deployment Type category is DATABASE_DB2ZOS.",
            "Goldengate Deployment Type category is DATABASE_DB2I.",
            "Goldengate Deployment Type category is GGSA.",
            "Goldengate Deployment Type category is DATA_TRANSFORMS."
          ],
          "readOnly": true,
          "description": "Output only. The deployment type of the Goldengate Deployment Type resource.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_TYPE_UNSPECIFIED",
            "OGG",
            "DATABASE_ORACLE",
            "BIGDATA",
            "DATABASE_MICROSOFT_SQLSERVER",
            "DATABASE_MYSQL",
            "DATABASE_POSTGRESQL",
            "DATABASE_DB2ZOS",
            "DATABASE_DB2I",
            "GGSA",
            "DATA_TRANSFORMS"
          ]
        },
        "oggVersion": {
          "type": "string",
          "description": "Output only. The Ogg version of the Goldengate Deployment Type resource.",
          "readOnly": true
        },
        "targetTechnologies": {
          "description": "Output only. The target technologies of the Goldengate Deployment Type resource.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of the Goldengate Deployment Type resource.",
          "readOnly": true
        },
        "sourceTechnologies": {
          "readOnly": true,
          "description": "Output only. The source technologies of the Goldengate Deployment Type resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "defaultUsername": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The default username of the Goldengate Deployment Type resource."
        },
        "supportedTechnologiesUrl": {
          "readOnly": true,
          "description": "Output only. The supported technologies URL of the Goldengate Deployment Type resource.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the Goldengate Deployment Type resource with the format: projects/{project}/locations/{region}/goldengateDeploymentTypes/{goldengate_deployment_type}",
          "type": "string"
        }
      },
      "id": "GoldengateDeploymentType"
    },
    "DatabaseConnectionStringProfile": {
      "properties": {
        "hostFormat": {
          "type": "string",
          "enum": [
            "HOST_FORMAT_UNSPECIFIED",
            "FQDN",
            "IP"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "FQDN",
            "IP"
          ],
          "description": "Output only. The host name format being currently used in connection string."
        },
        "syntaxFormat": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Long",
            "Ezconnect",
            "Ezconnectplus"
          ],
          "description": "Output only. The syntax of the connection string.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "SYNTAX_FORMAT_UNSPECIFIED",
            "LONG",
            "EZCONNECT",
            "EZCONNECTPLUS"
          ]
        },
        "protocol": {
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "TCP",
            "TCPS"
          ],
          "readOnly": true,
          "description": "Output only. The protocol being used by the connection.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Tcp",
            "Tcps"
          ]
        },
        "tlsAuthentication": {
          "type": "string",
          "enum": [
            "TLS_AUTHENTICATION_UNSPECIFIED",
            "SERVER",
            "MUTUAL"
          ],
          "readOnly": true,
          "description": "Output only. This field indicates the TLS authentication type of the connection.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Server",
            "Mutual"
          ]
        },
        "value": {
          "description": "Output only. The value of the connection string.",
          "type": "string",
          "readOnly": true
        },
        "isRegional": {
          "readOnly": true,
          "description": "Output only. This field indicates if the connection string is regional and is only applicable for cross-region Data Guard.",
          "type": "boolean"
        },
        "sessionMode": {
          "type": "string",
          "enum": [
            "SESSION_MODE_UNSPECIFIED",
            "DIRECT",
            "INDIRECT"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Direct",
            "Indirect"
          ],
          "readOnly": true,
          "description": "Output only. The current session mode of the connection."
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The display name for the database connection.",
          "type": "string"
        },
        "consumerGroup": {
          "readOnly": true,
          "description": "Output only. The current consumer group being used by the connection.",
          "enumDescriptions": [
            "Default unspecified value.",
            "High consumer group.",
            "Medium consumer group.",
            "Low consumer group.",
            "TP consumer group.",
            "TPURGENT consumer group."
          ],
          "type": "string",
          "enum": [
            "CONSUMER_GROUP_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "TP",
            "TPURGENT"
          ]
        }
      },
      "id": "DatabaseConnectionStringProfile",
      "description": "The connection string profile to allow clients to group. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/DatabaseConnectionStringProfile",
      "type": "object"
    },
    "ListDbSystemInitialStorageSizesResponse": {
      "type": "object",
      "description": "The response for `DbSystemInitialStorageSizes.List`.",
      "id": "ListDbSystemInitialStorageSizesResponse",
      "properties": {
        "dbSystemInitialStorageSizes": {
          "description": "The list of DbSystemInitialStorageSizes.",
          "type": "array",
          "items": {
            "$ref": "DbSystemInitialStorageSize"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "DbSystemProperties": {
      "description": "The properties of a DbSystem.",
      "id": "DbSystemProperties",
      "properties": {
        "memorySizeGb": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The memory size in GB. This value can not be set and is automatically calculated based on the number of ECPUs allocated to the DbSystem."
        },
        "lifecycleState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "DB_SYSTEM_LIFECYCLE_STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MIGRATED",
            "MAINTENANCE_IN_PROGRESS",
            "NEEDS_ATTENTION",
            "UPGRADING"
          ],
          "description": "Output only. State of the DbSystem.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource has been migrated.",
            "Indicates that the resource is in maintenance in progress state.",
            "Indicates that the resource needs attention.",
            "Indicates that the resource is upgrading."
          ]
        },
        "dataStorageSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The data storage size in GB that is currently available to DbSystems. The value is same as initial_data_storage_size_gb. This can be modified from OCI console."
        },
        "privateIp": {
          "type": "string",
          "description": "Optional. The private IP address of the DbSystem."
        },
        "computeModel": {
          "enumDescriptions": [
            "The compute model is unspecified.",
            "The compute model is virtual.",
            "Deprecated: This option is not supported. Please use ECPU instead. The compute model is physical."
          ],
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "type": "string",
          "enum": [
            "COMPUTE_MODEL_UNSPECIFIED",
            "ECPU",
            "OCPU"
          ],
          "description": "Optional. The compute model of the DbSystem."
        },
        "domain": {
          "type": "string",
          "description": "Optional. The host domain name of the DbSystem."
        },
        "hostname": {
          "description": "Output only. The hostname of the DbSystem.",
          "readOnly": true,
          "type": "string"
        },
        "dataCollectionOptions": {
          "$ref": "DataCollectionOptionsDbSystem",
          "description": "Optional. Data collection options for diagnostics."
        },
        "dbSystemOptions": {
          "description": "Optional. The options for the DbSystem.",
          "$ref": "DbSystemOptions"
        },
        "licenseModel": {
          "description": "Required. The license model of the DbSystem.",
          "type": "string",
          "enum": [
            "LICENSE_MODEL_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ],
          "enumDescriptions": [
            "The license model is unspecified.",
            "The license model is included.",
            "The license model is bring your own license."
          ]
        },
        "initialDataStorageSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The initial data storage size in GB."
        },
        "timeZone": {
          "description": "Optional. Time zone of the DbSystem.",
          "$ref": "TimeZone"
        },
        "hostnamePrefix": {
          "type": "string",
          "description": "Optional. Prefix for DB System host names."
        },
        "computeCount": {
          "type": "integer",
          "description": "Required. The number of CPU cores to enable for the DbSystem.",
          "format": "int32"
        },
        "ocid": {
          "description": "Output only. OCID of the DbSystem.",
          "type": "string",
          "readOnly": true
        },
        "recoStorageSizeGb": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The reco/redo storage size in GB. The value for recovery storage size is based on the available data storage size."
        },
        "shape": {
          "description": "Required. Shape of DB System.",
          "type": "string"
        },
        "sshPublicKeys": {
          "type": "array",
          "description": "Required. SSH public keys to be stored with the DbSystem.",
          "items": {
            "type": "string"
          }
        },
        "dbHome": {
          "description": "Optional. Details for creating a Database Home.",
          "$ref": "DbHome"
        },
        "nodeCount": {
          "description": "Optional. The number of nodes to launch for a virtual machine DbSystem. By default this will be set to 1.",
          "format": "int32",
          "type": "integer"
        },
        "databaseEdition": {
          "enumDescriptions": [
            "The database edition is unspecified.",
            "The database edition is Standard.",
            "The database edition is Enterprise.",
            "The database edition is Enterprise Edition."
          ],
          "description": "Required. The database edition of the DbSystem.",
          "type": "string",
          "enum": [
            "DB_SYSTEM_DATABASE_EDITION_UNSPECIFIED",
            "STANDARD_EDITION",
            "ENTERPRISE_EDITION",
            "ENTERPRISE_EDITION_HIGH_PERFORMANCE"
          ]
        }
      },
      "type": "object"
    },
    "GiVersion": {
      "properties": {
        "version": {
          "description": "Optional. version",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the Oracle Grid Infrastructure (GI) version resource with the format: projects/{project}/locations/{region}/giVersions/{gi_versions}",
          "type": "string"
        }
      },
      "description": "Details of the Oracle Grid Infrastructure (GI) version resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/GiVersionSummary/",
      "type": "object",
      "id": "GiVersion"
    },
    "ListDbServersResponse": {
      "description": "The response for `DbServer.List`.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "dbServers": {
          "description": "The list of database servers.",
          "items": {
            "$ref": "DbServer"
          },
          "type": "array"
        }
      },
      "id": "ListDbServersResponse"
    },
    "PluggableDatabaseProperties": {
      "description": "The properties of a PluggableDatabase.",
      "id": "PluggableDatabaseProperties",
      "type": "object",
      "properties": {
        "operationsInsightsState": {
          "type": "string",
          "enum": [
            "OPERATIONS_INSIGHTS_STATE_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "NOT_ENABLED",
            "FAILED_ENABLING",
            "FAILED_DISABLING"
          ],
          "description": "Output only. The status of Operations Insights for this Database.",
          "readOnly": true,
          "enumDescriptions": [
            "The status is not specified.",
            "Operations Insights is enabling.",
            "Operations Insights is enabled.",
            "Operations Insights is disabling.",
            "Operations Insights is not enabled.",
            "Operations Insights failed to enable.",
            "Operations Insights failed to disable."
          ]
        },
        "databaseManagementConfig": {
          "readOnly": true,
          "$ref": "DatabaseManagementConfig",
          "description": "Output only. The configuration of the Database Management service."
        },
        "isRestricted": {
          "type": "boolean",
          "description": "Optional. The restricted mode of the pluggable database. If a pluggable database is opened in restricted mode, the user needs both create a session and have restricted session privileges to connect to it."
        },
        "containerDatabaseOcid": {
          "description": "Required. The OCID of the CDB.",
          "type": "string"
        },
        "freeformTags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Free-form tags for this resource. Each tag is a simple key-value pair with no predefined name, type, or namespace."
        },
        "pdbName": {
          "type": "string",
          "description": "Required. The database name."
        },
        "definedTags": {
          "type": "object",
          "description": "Optional. Defined tags for this resource. Each key is predefined and scoped to a namespace.",
          "additionalProperties": {
            "$ref": "DefinedTagValue"
          }
        },
        "ocid": {
          "readOnly": true,
          "description": "Output only. The OCID of the pluggable database.",
          "type": "string"
        },
        "lifecycleDetails": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information about the current lifecycle state."
        },
        "connectionStrings": {
          "description": "Optional. The Connection strings used to connect to the Oracle Database.",
          "$ref": "PluggableDatabaseConnectionStrings"
        },
        "pdbNodeLevelDetails": {
          "type": "array",
          "items": {
            "$ref": "PluggableDatabaseNodeLevelDetails"
          },
          "description": "Optional. Pluggable Database Node Level Details"
        },
        "lifecycleState": {
          "description": "Output only. The current state of the pluggable database.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "PLUGGABLE_DATABASE_LIFECYCLE_STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "TERMINATING",
            "TERMINATED",
            "UPDATING",
            "FAILED",
            "RELOCATING",
            "RELOCATED",
            "REFRESHING",
            "RESTORE_IN_PROGRESS",
            "RESTORE_FAILED",
            "BACKUP_IN_PROGRESS",
            "DISABLED"
          ],
          "enumDescriptions": [
            "The lifecycle state is unspecified.",
            "The pluggable database is provisioning.",
            "The pluggable database is available.",
            "The pluggable database is terminating.",
            "The pluggable database is terminated.",
            "The pluggable database is updating.",
            "The pluggable database is in a failed state.",
            "The pluggable database is relocating.",
            "The pluggable database is relocated.",
            "The pluggable database is refreshing.",
            "The pluggable database is restoring.",
            "The pluggable database restore failed.",
            "The pluggable database is backing up.",
            "The pluggable database is disabled."
          ]
        },
        "compartmentId": {
          "description": "Required. The OCID of the compartment.",
          "type": "string"
        }
      }
    },
    "AzureDataLakeStorageIcebergStorage": {
      "description": "The Azure Data Lake Storage Iceberg storage.",
      "id": "AzureDataLakeStorageIcebergStorage",
      "properties": {
        "accountKeySecret": {
          "description": "Optional. The account key of Azure Data Lake Storage.",
          "type": "string"
        },
        "azureAccount": {
          "type": "string",
          "description": "Required. The account of Azure Data Lake Storage."
        },
        "endpoint": {
          "description": "Optional. The endpoint of Azure Data Lake Storage.",
          "type": "string"
        },
        "container": {
          "description": "Required. The container of Azure Data Lake Storage.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AutonomousDatabaseBackup": {
      "id": "AutonomousDatabaseBackup",
      "properties": {
        "properties": {
          "$ref": "AutonomousDatabaseBackupProperties",
          "description": "Optional. Various properties of the backup."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. labels or tags associated with the resource."
        },
        "displayName": {
          "description": "Optional. User friendly name for the Backup. The name does not have to be unique.",
          "type": "string"
        },
        "autonomousDatabase": {
          "description": "Required. The name of the Autonomous Database resource for which the backup is being created. Format: projects/{project}/locations/{region}/autonomousDatabases/{autonomous_database}",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the Autonomous Database Backup resource with the format: projects/{project}/locations/{region}/autonomousDatabaseBackups/{autonomous_database_backup}",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details of the Autonomous Database Backup resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/AutonomousDatabaseBackup/"
    },
    "ExadbVmClusterStorageDetails": {
      "id": "ExadbVmClusterStorageDetails",
      "properties": {
        "sizeInGbsPerNode": {
          "description": "Required. The storage allocation for the exadbvmcluster per node, in gigabytes (GB). This field is used to calculate the total storage allocation for the exadbvmcluster.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "The storage allocation for the exadbvmcluster, in gigabytes (GB)."
    },
    "DbSystemOptions": {
      "type": "object",
      "description": "Details of the DbSystem Options.",
      "id": "DbSystemOptions",
      "properties": {
        "storageManagement": {
          "description": "Optional. The storage option used in DB system.",
          "type": "string",
          "enum": [
            "STORAGE_MANAGEMENT_UNSPECIFIED",
            "ASM",
            "LVM"
          ],
          "enumDescriptions": [
            "The storage management is unspecified.",
            "Automatic storage management. This option is not supported. Only LVM is supported.",
            "Logical Volume management."
          ]
        }
      }
    },
    "GoldengateMicrosoftSqlserverConnectionProperties": {
      "properties": {
        "securityProtocol": {
          "enumDescriptions": [
            "Security type not specified.",
            "Plain text communication.",
            "Transport Layer Security."
          ],
          "type": "string",
          "enum": [
            "MICROSOFT_SQLSERVER_SECURITY_PROTOCOL_UNSPECIFIED",
            "PLAIN",
            "TLS"
          ],
          "description": "Optional. Security Type for Microsoft SQL Server."
        },
        "host": {
          "type": "string",
          "description": "Optional. The name or address of a host."
        },
        "additionalAttributes": {
          "description": "Optional. An array of name-value pair attribute entries. Used as additional parameters in connection string.",
          "type": "array",
          "items": {
            "$ref": "NameValuePair"
          }
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of MicrosoftSqlserverConnection."
        },
        "passwordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses for Microsoft SQL Server connection. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "serverCertificateValidationRequired": {
          "type": "boolean",
          "description": "Optional. If set to true, the driver validates the certificate that is sent by the database server."
        },
        "password": {
          "description": "Optional. Input only. The password Oracle Goldengate uses for Microsoft SQL Server connection in plain text.",
          "type": "string"
        },
        "sslCaFile": {
          "description": "Optional. Database Certificate - The base64 encoded content of a .pem or .crt file containing the server public key (for 1-way SSL).",
          "type": "string"
        },
        "database": {
          "type": "string",
          "description": "Optional. The name of the database."
        },
        "username": {
          "type": "string",
          "description": "Optional. The username Oracle Goldengate uses to connect to the Microsoft SQL Server."
        },
        "port": {
          "description": "Optional. The port of an endpoint usually specified for a connection.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoldengateMicrosoftSqlserverConnectionProperties",
      "description": "The properties of GoldengateMicrosoftSqlserverConnection.",
      "type": "object"
    },
    "ListAutonomousDatabaseCharacterSetsResponse": {
      "id": "ListAutonomousDatabaseCharacterSetsResponse",
      "properties": {
        "autonomousDatabaseCharacterSets": {
          "description": "The list of Autonomous Database Character Sets.",
          "items": {
            "$ref": "AutonomousDatabaseCharacterSet"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "The response for `AutonomousDatabaseCharacterSet.List`.",
      "type": "object"
    },
    "Database": {
      "id": "Database",
      "description": "Details of the Database resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/Database/",
      "properties": {
        "gcpOracleZone": {
          "description": "Output only. The GCP Oracle zone where the Database is created.",
          "readOnly": true,
          "type": "string"
        },
        "tdeWalletPasswordSecretVersion": {
          "type": "string",
          "description": "Optional. The resource name of a secret version in Secret Manager which contains the TDE wallet password for the database. Format: projects/{project}/secrets/{secret}/versions/{version}. Note: Only one of `tde_wallet_password_secret_version` or `tde_wallet_password` can be populated."
        },
        "ociUrl": {
          "readOnly": true,
          "description": "Output only. HTTPS link to OCI resources exposed to Customer via UI Interface.",
          "type": "string"
        },
        "pluggableDatabaseName": {
          "description": "Optional. The pluggable database associated with the Database. The name must begin with an alphabetic character and can contain a maximum of thirty alphanumeric characters.",
          "type": "string"
        },
        "pluggableDatabaseId": {
          "description": "Optional. The ID of the pluggable database associated with the Database. The ID must be unique within the project and location.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The date and time that the Database was created."
        },
        "characterSet": {
          "description": "Optional. The character set for the database. The default is AL32UTF8.",
          "type": "string"
        },
        "dbHomeName": {
          "type": "string",
          "description": "Optional. The name of the DbHome resource associated with the Database."
        },
        "ncharacterSet": {
          "type": "string",
          "description": "Optional. The national character set for the database. The default is AL16UTF16."
        },
        "adminPasswordSecretVersion": {
          "description": "Optional. The resource name of a secret version in Secret Manager which contains the database admin user's password. Format: projects/{project}/secrets/{secret}/versions/{version}. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated.",
          "type": "string"
        },
        "databaseId": {
          "description": "Optional. The database ID of the Database.",
          "type": "string"
        },
        "tdeWalletPassword": {
          "type": "string",
          "description": "Optional. The TDE wallet password for the database. Note: Only one of `tde_wallet_password_secret_version` or `tde_wallet_password` can be populated."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Database resource in the following format: projects/{project}/locations/{region}/databases/{database}"
        },
        "adminPassword": {
          "description": "Optional. The password for the default ADMIN user. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated.",
          "type": "string"
        },
        "opsInsightsStatus": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "OPERATIONS_INSIGHTS_STATUS_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "NOT_ENABLED",
            "FAILED_ENABLING",
            "FAILED_DISABLING"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the operations insights are being enabled.",
            "Indicates that the operations insights are enabled.",
            "Indicates that the operations insights are being disabled.",
            "Indicates that the operations insights are not enabled.",
            "Indicates that the operations insights failed to enable.",
            "Indicates that the operations insights failed to disable."
          ],
          "description": "Output only. The Status of Operations Insights for this Database."
        },
        "dbName": {
          "type": "string",
          "description": "Optional. The database name. The name must begin with an alphabetic character and can contain a maximum of eight alphanumeric characters. Special characters are not permitted."
        },
        "properties": {
          "description": "Optional. The properties of the Database.",
          "$ref": "DatabaseProperties"
        },
        "dbUniqueName": {
          "description": "Optional. The DB_UNIQUE_NAME of the Oracle Database being backed up.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "TimeZone": {
      "properties": {
        "id": {
[...]
