{
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "id": "oracledatabase:v1",
  "documentationLink": "https://cloud.google.com/oracle/database/docs",
  "schemas": {
    "AutonomousDbVersion": {
      "type": "object",
      "properties": {
        "dbWorkload": {
          "enum": [
            "DB_WORKLOAD_UNSPECIFIED",
            "OLTP",
            "DW",
            "AJD",
            "APEX"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Autonomous Transaction Processing database.",
            "Autonomous Data Warehouse database.",
            "Autonomous JSON Database.",
            "Autonomous Database with the Oracle APEX Application Development workload type."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Autonomous Database workload type."
        },
        "version": {
          "type": "string",
          "description": "Output only. An Oracle Database version for Autonomous Database.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The name of the Autonomous Database Version resource with the format: projects/{project}/locations/{region}/autonomousDbVersions/{autonomous_db_version}",
          "type": "string"
        },
        "workloadUri": {
          "description": "Output only. A URL that points to a detailed description of the Autonomous Database version.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "AutonomousDbVersion",
      "description": "Details of the Autonomous Database version. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/AutonomousDbVersionSummary/"
    },
    "ListAutonomousDatabaseCharacterSetsResponse": {
      "type": "object",
      "description": "The response for `AutonomousDatabaseCharacterSet.List`.",
      "id": "ListAutonomousDatabaseCharacterSetsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "autonomousDatabaseCharacterSets": {
          "items": {
            "$ref": "AutonomousDatabaseCharacterSet"
          },
          "description": "The list of Autonomous Database Character Sets.",
          "type": "array"
        }
      }
    },
    "ListGiVersionsResponse": {
      "id": "ListGiVersionsResponse",
      "description": "The response for `GiVersion.List`.",
      "type": "object",
      "properties": {
        "giVersions": {
          "items": {
            "$ref": "GiVersion"
          },
          "description": "The list of Oracle Grid Infrastructure (GI) versions.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "DataCollectionOptions": {
      "id": "DataCollectionOptions",
      "type": "object",
      "properties": {
        "healthMonitoringEnabled": {
          "description": "Optional. Indicates whether health monitoring is enabled for the VM cluster",
          "type": "boolean"
        },
        "incidentLogsEnabled": {
          "description": "Optional. Indicates whether incident logs and trace collection are enabled for the VM cluster",
          "type": "boolean"
        },
        "diagnosticsEventsEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether diagnostic collection is enabled for the VM cluster"
        }
      },
      "description": "Data collection options for diagnostics."
    },
    "GoldengateOciObjectStorageConnectionProperties": {
      "id": "GoldengateOciObjectStorageConnectionProperties",
      "type": "object",
      "description": "The properties of GoldengateOciObjectStorageConnection.",
      "properties": {
        "technologyType": {
          "description": "Optional. The technology type of OciObjectStorageConnection.",
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "Optional. The name of the region of OCI Object Storage. e.g.: us-ashburn-1 If the region is not provided, backend will default to the default region."
        },
        "privateKeyFile": {
          "type": "string",
          "description": "Optional. The content of the private key file (PEM file) corresponding to the API key of the fingerprint."
        },
        "tenancyId": {
          "description": "Optional. The OCID of the related OCI tenancy.",
          "type": "string"
        },
        "publicKeyFingerprint": {
          "type": "string",
          "description": "Optional. The fingerprint of the API Key of the user specified by the userId."
        },
        "privateKeyPassphraseSecret": {
          "type": "string",
          "description": "Optional. The passphrase of the private key."
        },
        "useResourcePrincipal": {
          "description": "Optional. Specifies that the user intends to authenticate to the instance using a resource principal.",
          "type": "boolean"
        },
        "userId": {
          "type": "string",
          "description": "Optional. The OCID of the OCI user who will access the Object Storage. The user must have write access to the bucket they want to connect to."
        }
      }
    },
    "ListAutonomousDatabaseBackupsResponse": {
      "id": "ListAutonomousDatabaseBackupsResponse",
      "description": "The response for `AutonomousDatabaseBackup.List`.",
      "properties": {
        "autonomousDatabaseBackups": {
          "type": "array",
          "items": {
            "$ref": "AutonomousDatabaseBackup"
          },
          "description": "The list of Autonomous Database Backups."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RestIcebergCatalog": {
      "properties": {
        "uri": {
          "description": "Required. The REST uri.",
          "type": "string"
        },
        "properties": {
          "description": "Optional. The base64 encoded content of the configuration file containing additional properties for the REST catalog.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RestIcebergCatalog",
      "description": "The REST Iceberg catalog."
    },
    "ExascaleDbStorageVault": {
      "id": "ExascaleDbStorageVault",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the ExascaleDbStorageVault. Format: projects/{project}/locations/{location}/exascaleDbStorageVaults/{exascale_db_storage_vault}"
        },
        "entitlementId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the subscription entitlement associated with the ExascaleDbStorageVault."
        },
        "exadataInfrastructure": {
          "description": "Optional. The Exadata Infrastructure resource on which ExascaleDbStorageVault resource is created, in the following format: projects/{project}/locations/{region}/cloudExadataInfrastuctures/{cloud_extradata_infrastructure}",
          "type": "string"
        },
        "properties": {
          "description": "Required. The properties of the ExascaleDbStorageVault.",
          "$ref": "ExascaleDbStorageVaultProperties"
        },
        "gcpOracleZone": {
          "type": "string",
          "description": "Optional. The GCP Oracle zone where Oracle ExascaleDbStorageVault is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The date and time when the ExascaleDbStorageVault was created."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name for the ExascaleDbStorageVault. The name does not have to be unique within your project. The name must be 1-255 characters long and can only contain alphanumeric characters."
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels or tags associated with the ExascaleDbStorageVault.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "ExascaleDbStorageVault represents a storage vault exadb vm cluster resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/ExascaleDbStorageVault/"
    },
    "DatabaseManagementConfig": {
      "properties": {
        "managementType": {
          "description": "Output only. The Database Management type.",
          "type": "string",
          "enum": [
            "MANAGEMENT_TYPE_UNSPECIFIED",
            "BASIC",
            "ADVANCED"
          ],
          "enumDescriptions": [
            "The type is not specified.",
            "Basic Database Management.",
            "Advanced Database Management."
          ],
          "readOnly": true
        },
        "managementState": {
          "readOnly": true,
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "DISABLED",
            "UPDATING",
            "FAILED_ENABLING",
            "FAILED_DISABLING",
            "FAILED_UPDATING"
          ],
          "description": "Output only. The status of the Database Management service.",
          "type": "string",
          "enumDescriptions": [
            "The status is not specified.",
            "The Database Management service is enabling.",
            "The Database Management service is enabled.",
            "The Database Management service is disabling.",
            "The Database Management service is disabled.",
            "The Database Management service is updating.",
            "The Database Management service failed to enable.",
            "The Database Management service failed to disable.",
            "The Database Management service failed to update."
          ]
        }
      },
      "id": "DatabaseManagementConfig",
      "type": "object",
      "description": "The configuration of the Database Management service."
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "TestConnectionAssignmentError": {
      "type": "object",
      "description": "Error details for TestGoldengateConnectionAssignment.",
      "id": "TestConnectionAssignmentError",
      "properties": {
        "message": {
          "type": "string",
          "description": "A human-readable error message."
        },
        "issue": {
          "description": "The text describing the root cause of the reported issue.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "description": "A short error code that defines the error, meant for programmatic parsing."
        },
        "action": {
          "description": "The text describing the action required to fix the issue.",
          "type": "string"
        }
      }
    },
    "StartAutonomousDatabaseRequest": {
      "properties": {},
      "type": "object",
      "id": "StartAutonomousDatabaseRequest",
      "description": "The request for `AutonomousDatabase.Start`."
    },
    "DbSystemProperties": {
      "id": "DbSystemProperties",
      "description": "The properties of a DbSystem.",
      "properties": {
        "domain": {
          "description": "Optional. The host domain name of the DbSystem.",
          "type": "string"
        },
        "timeZone": {
          "$ref": "TimeZone",
          "description": "Optional. Time zone of the DbSystem."
        },
        "ocid": {
          "description": "Output only. OCID of the DbSystem.",
          "readOnly": true,
          "type": "string"
        },
        "hostname": {
          "description": "Output only. The hostname of the DbSystem.",
          "type": "string",
          "readOnly": true
        },
        "memorySizeGb": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The memory size in GB. This value can not be set and is automatically calculated based on the number of ECPUs allocated to the DbSystem."
        },
        "databaseEdition": {
          "type": "string",
          "enumDescriptions": [
            "The database edition is unspecified.",
            "The database edition is Standard.",
            "The database edition is Enterprise.",
            "The database edition is Enterprise Edition."
          ],
          "description": "Required. The database edition of the DbSystem.",
          "enum": [
            "DB_SYSTEM_DATABASE_EDITION_UNSPECIFIED",
            "STANDARD_EDITION",
            "ENTERPRISE_EDITION",
            "ENTERPRISE_EDITION_HIGH_PERFORMANCE"
          ]
        },
        "hostnamePrefix": {
          "description": "Optional. Prefix for DB System host names.",
          "type": "string"
        },
        "shape": {
          "description": "Required. Shape of DB System.",
          "type": "string"
        },
        "dbSystemOptions": {
          "$ref": "DbSystemOptions",
          "description": "Optional. The options for the DbSystem."
        },
        "nodeCount": {
          "type": "integer",
          "description": "Optional. The number of nodes to launch for a virtual machine DbSystem. By default this will be set to 1.",
          "format": "int32"
        },
        "licenseModel": {
          "enumDescriptions": [
            "The license model is unspecified.",
            "The license model is included.",
            "The license model is bring your own license."
          ],
          "type": "string",
          "description": "Required. The license model of the DbSystem.",
          "enum": [
            "LICENSE_MODEL_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ]
        },
        "lifecycleState": {
          "description": "Output only. State of the DbSystem.",
          "type": "string",
          "enum": [
            "DB_SYSTEM_LIFECYCLE_STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MIGRATED",
            "MAINTENANCE_IN_PROGRESS",
            "NEEDS_ATTENTION",
            "UPGRADING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource has been migrated.",
            "Indicates that the resource is in maintenance in progress state.",
            "Indicates that the resource needs attention.",
            "Indicates that the resource is upgrading."
          ]
        },
        "dbHome": {
          "description": "Optional. Details for creating a Database Home.",
          "$ref": "DbHome"
        },
        "recoStorageSizeGb": {
          "type": "integer",
          "description": "Optional. The reco/redo storage size in GB. The value for recovery storage size is based on the available data storage size.",
          "format": "int32"
        },
        "initialDataStorageSizeGb": {
          "type": "integer",
          "description": "Required. The initial data storage size in GB.",
          "format": "int32"
        },
        "sshPublicKeys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. SSH public keys to be stored with the DbSystem."
        },
        "dataCollectionOptions": {
          "$ref": "DataCollectionOptionsDbSystem",
          "description": "Optional. Data collection options for diagnostics."
        },
        "privateIp": {
          "type": "string",
          "description": "Optional. The private IP address of the DbSystem."
        },
        "dataStorageSizeGb": {
          "description": "Optional. The data storage size in GB that is currently available to DbSystems. The value is same as initial_data_storage_size_gb. This can be modified from OCI console.",
          "type": "integer",
          "format": "int32"
        },
        "computeCount": {
          "description": "Required. The number of CPU cores to enable for the DbSystem.",
          "format": "int32",
          "type": "integer"
        },
        "computeModel": {
          "enumDescriptions": [
            "The compute model is unspecified.",
            "The compute model is virtual.",
            "Deprecated: This option is not supported. Please use ECPU instead. The compute model is physical."
          ],
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "type": "string",
          "description": "Optional. The compute model of the DbSystem.",
          "enum": [
            "COMPUTE_MODEL_UNSPECIFIED",
            "ECPU",
            "OCPU"
          ]
        }
      },
      "type": "object"
    },
    "ListCloudVmClustersResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to fetch the next page of results.",
          "type": "string"
        },
        "cloudVmClusters": {
          "type": "array",
          "items": {
            "$ref": "CloudVmCluster"
          },
          "description": "The list of VM Clusters."
        }
      },
      "description": "The response for `CloudVmCluster.List`.",
      "id": "ListCloudVmClustersResponse"
    },
    "GoldengateRedisConnectionProperties": {
      "properties": {
        "username": {
          "type": "string",
          "description": "Optional. The username Oracle Goldengate uses to connect the associated system of the given technology."
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses for Redis connection. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Input only. The password Oracle Goldengate uses for Redis connection in plain text.",
          "type": "string"
        },
        "keyStoreFile": {
          "type": "string",
          "description": "Optional. The base64 encoded content of the KeyStore file."
        },
        "authenticationType": {
          "enum": [
            "REDIS_AUTHENTICATION_TYPE_UNSPECIFIED",
            "NONE",
            "BASIC"
          ],
          "type": "string",
          "enumDescriptions": [
            "Authentication type not specified.",
            "No authentication.",
            "Basic authentication."
          ],
          "description": "Optional. Authentication type for Redis."
        },
        "redisClusterId": {
          "description": "Optional. The OCID of the Redis cluster.",
          "type": "string"
        },
        "trustStorePasswordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the TrustStore password. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "servers": {
          "type": "string",
          "description": "Optional. Comma separated list of Redis server addresses, specified as host:port entries, where :port is optional. If port is not specified, it defaults to 6379. Example: \"server1.example.com:6379,server2.example.com:6379\""
        },
        "technologyType": {
          "description": "Optional. The technology type of RedisConnection.",
          "type": "string"
        },
        "trustStorePassword": {
          "description": "Optional. Input only. The TrustStore password in plain text.",
          "type": "string"
        },
        "keyStorePassword": {
          "description": "Optional. Input only. The KeyStore password in plain text.",
          "type": "string"
        },
        "trustStoreFile": {
          "description": "Optional. The base64 encoded content of the TrustStore file.",
          "type": "string"
        },
        "securityProtocol": {
          "type": "string",
          "enum": [
            "REDIS_SECURITY_PROTOCOL_UNSPECIFIED",
            "PLAIN",
            "TLS",
            "MTLS"
          ],
          "description": "Optional. Security protocol for Redis.",
          "enumDescriptions": [
            "Security protocol not specified.",
            "Plain text communication.",
            "Transport Layer Security.",
            "Mutual Transport Layer Security."
          ]
        },
        "keyStorePasswordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the KeyStore password. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        }
      },
      "description": "The properties of GoldengateRedisConnection.",
      "type": "object",
      "id": "GoldengateRedisConnectionProperties"
    },
    "GoldengateGooglePubsubConnectionProperties": {
      "id": "GoldengateGooglePubsubConnectionProperties",
      "description": "The properties of GoldengateGooglePubsubConnection.",
      "properties": {
        "serviceAccountKeyFile": {
          "description": "Optional. The base64 encoded content of the service account key file containing the credentials required to use Google Pub/Sub.",
          "type": "string"
        },
        "technologyType": {
          "description": "Optional. The technology type of GooglePubsubConnection.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PluggableDatabaseNodeLevelDetails": {
      "id": "PluggableDatabaseNodeLevelDetails",
      "description": "The Pluggable Database Node Level Details.",
      "type": "object",
      "properties": {
        "pluggableDatabaseId": {
          "description": "Required. The OCID of the Pluggable Database.",
          "type": "string"
        },
        "openMode": {
          "type": "string",
          "enumDescriptions": [
            "The open mode is unspecified.",
            "The pluggable database is opened in read-only mode.",
            "The pluggable database is opened in read-write mode.",
            "The pluggable database is mounted.",
            "The pluggable database is migrated."
          ],
          "enum": [
            "PLUGGABLE_DATABASE_OPEN_MODE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE",
            "MOUNTED",
            "MIGRATE"
          ],
          "description": "Required. The mode that the pluggable database is in to open it."
        },
        "nodeName": {
          "description": "Required. The Node name of the Database home.",
          "type": "string"
        }
      }
    },
    "GoldengateMicrosoftFabricConnectionProperties": {
      "id": "GoldengateMicrosoftFabricConnectionProperties",
      "type": "object",
      "description": "The properties of GoldengateMicrosoftFabricConnection.",
      "properties": {
        "tenantId": {
          "description": "Optional. Azure tenant ID of the application.",
          "type": "string"
        },
        "clientId": {
          "description": "Optional. Azure client ID of the application.",
          "type": "string"
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of MicrosoftFabricConnection."
        },
        "clientSecret": {
          "type": "string",
          "description": "Optional. Client secret associated with the client id."
        },
        "endpoint": {
          "description": "Optional. Optional Microsoft Fabric service endpoint. Default value: https://onelake.dfs.fabric.microsoft.com",
          "type": "string"
        }
      }
    },
    "DbNodeProperties": {
      "id": "DbNodeProperties",
      "description": "Various properties and settings associated with Db node.",
      "properties": {
        "ocid": {
          "type": "string",
          "description": "Output only. OCID of database node.",
          "readOnly": true
        },
        "ocpuCount": {
          "type": "integer",
          "description": "Optional. OCPU count per database node.",
          "format": "int32"
        },
        "memorySizeGb": {
          "format": "int32",
          "description": "Memory allocated in GBs.",
          "type": "integer"
        },
        "dbServerOcid": {
          "type": "string",
          "description": "Optional. Database server OCID."
        },
        "dbNodeStorageSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Local storage per database node."
        },
        "state": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in stopping state.",
            "Indicates that the resource is in stopped state.",
            "Indicates that the resource is in starting state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state."
          ],
          "description": "Output only. State of the database node.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "STOPPING",
            "STOPPED",
            "STARTING",
            "TERMINATING",
            "TERMINATED",
            "FAILED"
          ],
          "type": "string"
        },
        "hostname": {
          "description": "Optional. DNS",
          "type": "string"
        },
        "totalCpuCoreCount": {
          "description": "Total CPU core count of the database node.",
          "format": "int32",
          "type": "integer"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The date and time that the database node was created.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "ListAutonomousDatabasesResponse": {
      "description": "The response for `AutonomousDatabase.List`.",
      "type": "object",
      "id": "ListAutonomousDatabasesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'."
        },
        "autonomousDatabases": {
          "items": {
            "$ref": "AutonomousDatabase"
          },
          "description": "The list of Autonomous Databases.",
          "type": "array"
        }
      }
    },
    "GoldengateConnectionType": {
      "type": "object",
      "id": "GoldengateConnectionType",
      "description": "Details of the Goldengate Connection Type resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Goldengate Connection Type resource with the format: projects/{project}/locations/{region}/goldengateConnectionTypes/{goldengate_connection_type}"
        },
        "connectionType": {
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "GOLDENGATE",
            "KAFKA",
            "KAFKA_SCHEMA_REGISTRY",
            "MYSQL",
            "JAVA_MESSAGE_SERVICE",
            "MICROSOFT_SQLSERVER",
            "OCI_OBJECT_STORAGE",
            "ORACLE",
            "AZURE_DATA_LAKE_STORAGE",
            "POSTGRESQL",
            "AZURE_SYNAPSE_ANALYTICS",
            "SNOWFLAKE",
            "AMAZON_S3",
            "HDFS",
            "ORACLE_AI_DATA_PLATFORM",
            "ORACLE_NOSQL",
            "MONGODB",
            "AMAZON_KINESIS",
            "AMAZON_REDSHIFT",
            "DB2",
            "REDIS",
            "ELASTICSEARCH",
            "GENERIC",
            "GOOGLE_CLOUD_STORAGE",
            "GOOGLE_BIGQUERY",
            "DATABRICKS",
            "GOOGLE_PUBSUB",
            "MICROSOFT_FABRIC",
            "ICEBERG"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Goldengate Connection Type category is GOLDENGATE.",
            "Goldengate Connection Type category is KAFKA.",
            "Goldengate Connection Type category is KAFKA_SCHEMA_REGISTRY.",
            "Goldengate Connection Type category is MYSQL.",
            "Goldengate Connection Type category is JAVA_MESSAGE_SERVICE.",
            "Goldengate Connection Type category is MICROSOFT_SQLSERVER.",
            "Goldengate Connection Type category is OCI_OBJECT_STORAGE.",
            "Goldengate Connection Type category is ORACLE.",
            "Goldengate Connection Type category is AZURE_DATA_LAKE_STORAGE.",
            "Goldengate Connection Type category is POSTGRESQL.",
            "Goldengate Connection Type category is AZURE_SYNAPSE_ANALYTICS.",
            "Goldengate Connection Type category is SNOWFLAKE.",
            "Goldengate Connection Type category is AMAZON_S3.",
            "Goldengate Connection Type category is HDFS.",
            "Goldengate Connection Type category is ORACLE_AI_DATA_PLATFORM.",
            "Goldengate Connection Type category is ORACLE_NOSQL.",
            "Goldengate Connection Type category is MONGODB.",
            "Goldengate Connection Type category is AMAZON_KINESIS.",
            "Goldengate Connection Type category is AMAZON_REDSHIFT.",
            "Goldengate Connection Type category is DB2.",
            "Goldengate Connection Type category is REDIS.",
            "Goldengate Connection Type category is ELASTICSEARCH.",
            "Goldengate Connection Type category is GENERIC.",
            "Goldengate Connection Type category is GOOGLE_CLOUD_STORAGE.",
            "Goldengate Connection Type category is GOOGLE_BIGQUERY.",
            "Goldengate Connection Type category is DATABRICKS.",
            "Goldengate Connection Type category is GOOGLE_PUBSUB.",
            "Goldengate Connection Type category is MICROSOFT_FABRIC.",
            "Goldengate Connection Type category is ICEBERG."
          ],
          "type": "string",
          "description": "Output only. The connection type of the Goldengate Connection Type resource.",
          "readOnly": true
        },
        "technologyTypes": {
          "readOnly": true,
          "description": "Output only. The technology type of the Goldengate Connection Type resource.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "RestoreAutonomousDatabaseRequest": {
      "description": "The request for `AutonomousDatabase.Restore`.",
      "properties": {
        "restoreTime": {
          "description": "Required. The time and date to restore the database to.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RestoreAutonomousDatabaseRequest"
    },
    "GoldengateAzureDataLakeStorageConnectionProperties": {
      "description": "The properties of GoldengateAzureDataLakeStorageConnection.",
      "type": "object",
      "properties": {
        "azureAuthorityHost": {
          "type": "string",
          "description": "Optional. The endpoint used for authentication with Microsoft Entra ID (formerly Azure Active Directory). Default value: https://login.microsoftonline.com"
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of AzureDataLakeStorageConnection."
        },
        "sasTokenSecret": {
          "description": "Optional. Credential that uses a shared access signature (SAS) to authenticate to an Azure Service.",
          "type": "string"
        },
        "azureTenantId": {
          "type": "string",
          "description": "Optional. Azure tenant ID of the application. This property is required when 'authentication_type' is set to 'AZURE_ACTIVE_DIRECTORY'."
        },
        "clientId": {
          "type": "string",
          "description": "Optional. Azure client ID of the application. This property is required when 'authentication_type' is set to 'AZURE_ACTIVE_DIRECTORY'."
        },
        "accountKeySecret": {
          "description": "Optional. Azure storage account key. This property is required when 'authentication_type' is set to 'SHARED_KEY'.",
          "type": "string"
        },
        "account": {
          "type": "string",
          "description": "Optional. Sets the Azure storage account name."
        },
        "endpoint": {
          "description": "Optional. Azure Storage service endpoint. e.g: https://test.blob.core.windows.net",
          "type": "string"
        },
        "clientSecret": {
          "type": "string",
          "description": "Optional. Azure client secret (aka application password) for authentication."
        },
        "authenticationType": {
          "description": "Optional. Authentication mechanism to access Azure Data Lake Storage.",
          "enum": [
            "AUTHENTICATION_TYPE_UNSPECIFIED",
            "SHARED_KEY",
            "SHARED_ACCESS_SIGNATURE",
            "AZURE_ACTIVE_DIRECTORY"
          ],
          "enumDescriptions": [
            "Authentication type not specified.",
            "Shared key authentication.",
            "Shared access signature authentication.",
            "Azure active directory authentication."
          ],
          "type": "string"
        }
      },
      "id": "GoldengateAzureDataLakeStorageConnectionProperties"
    },
    "MaintenanceWindow": {
      "description": "Maintenance window as defined by Oracle. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/MaintenanceWindow",
      "type": "object",
      "properties": {
        "months": {
          "type": "array",
          "items": {
            "enum": [
              "MONTH_UNSPECIFIED",
              "JANUARY",
              "FEBRUARY",
              "MARCH",
              "APRIL",
              "MAY",
              "JUNE",
              "JULY",
              "AUGUST",
              "SEPTEMBER",
              "OCTOBER",
              "NOVEMBER",
              "DECEMBER"
            ],
            "enumDescriptions": [
              "The unspecified month.",
              "The month of January.",
              "The month of February.",
              "The month of March.",
              "The month of April.",
              "The month of May.",
              "The month of June.",
              "The month of July.",
              "The month of August.",
              "The month of September.",
              "The month of October.",
              "The month of November.",
              "The month of December."
            ],
            "type": "string"
          },
          "description": "Optional. Months during the year when maintenance should be performed."
        },
        "patchingMode": {
          "description": "Optional. Cloud CloudExadataInfrastructure node patching method, either \"ROLLING\" or \"NONROLLING\". Default value is ROLLING.",
          "type": "string",
          "enum": [
            "PATCHING_MODE_UNSPECIFIED",
            "ROLLING",
            "NON_ROLLING"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Updates the Cloud Exadata database server hosts in a rolling fashion.",
            "The non-rolling maintenance method first updates your storage servers at the same time, then your database servers at the same time."
          ]
        },
        "isCustomActionTimeoutEnabled": {
          "description": "Optional. If true, enables the configuration of a custom action timeout (waiting period) between database server patching operations.",
          "type": "boolean"
        },
        "customActionTimeoutMins": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Determines the amount of time the system will wait before the start of each database server patching operation. Custom action timeout is in minutes and valid value is between 15 to 120 (inclusive)."
        },
        "daysOfWeek": {
          "items": {
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "type": "string"
          },
          "description": "Optional. Days during the week when maintenance should be performed.",
          "type": "array"
        },
        "weeksOfMonth": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array",
          "description": "Optional. Weeks during the month when maintenance should be performed. Weeks start on the 1st, 8th, 15th, and 22nd days of the month, and have a duration of 7 days. Weeks start and end based on calendar dates, not days of the week."
        },
        "leadTimeWeek": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Lead time window allows user to set a lead time to prepare for a down time. The lead time is in weeks and valid value is between 1 to 4."
        },
        "preference": {
          "enum": [
            "MAINTENANCE_WINDOW_PREFERENCE_UNSPECIFIED",
            "CUSTOM_PREFERENCE",
            "NO_PREFERENCE"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Custom preference.",
            "No preference."
          ],
          "description": "Optional. The maintenance window scheduling preference.",
          "type": "string"
        },
        "hoursOfDay": {
          "description": "Optional. The window of hours during the day when maintenance should be performed. The window is a 4 hour slot. Valid values are: 0 - represents time slot 0:00 - 3:59 UTC 4 - represents time slot 4:00 - 7:59 UTC 8 - represents time slot 8:00 - 11:59 UTC 12 - represents time slot 12:00 - 15:59 UTC 16 - represents time slot 16:00 - 19:59 UTC 20 - represents time slot 20:00 - 23:59 UTC",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "id": "MaintenanceWindow"
    },
    "ListCloudExadataInfrastructuresResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token for fetching next page of response."
        },
        "cloudExadataInfrastructures": {
          "description": "The list of Exadata Infrastructures.",
          "items": {
            "$ref": "CloudExadataInfrastructure"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ListCloudExadataInfrastructuresResponse",
      "description": "The response for `CloudExadataInfrastructures.list`."
    },
    "ListMinorVersionsResponse": {
      "id": "ListMinorVersionsResponse",
      "description": "The response for `MinorVersion.List`.",
      "type": "object",
      "properties": {
        "minorVersions": {
          "description": "The list of MinorVersions.",
          "type": "array",
          "items": {
            "$ref": "MinorVersion"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "EncryptionKeyHistoryEntry": {
      "id": "EncryptionKeyHistoryEntry",
      "properties": {
        "activationTime": {
          "description": "Output only. The date and time when the encryption key was activated on the Autonomous Database..",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "encryptionKey": {
          "$ref": "EncryptionKey",
          "description": "Output only. The encryption key used to encrypt the Autonomous Database.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The history of the encryption keys used to encrypt the Autonomous Database."
    },
    "GoldengateGenericConnectionProperties": {
      "type": "object",
      "properties": {
        "host": {
          "type": "string",
          "description": "Optional. The host of the GenericConnection."
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type."
        }
      },
      "description": "The properties of GoldengateGenericConnectionProperties.",
      "id": "GoldengateGenericConnectionProperties"
    },
    "StartGoldengateDeploymentRequest": {
      "properties": {},
      "id": "StartGoldengateDeploymentRequest",
      "description": "The request for `GoldengateDeployment.Start`.",
      "type": "object"
    },
    "NessieIcebergCatalog": {
      "properties": {
        "uri": {
          "description": "Required. The Nessie uri.",
          "type": "string"
        },
        "branch": {
          "description": "Required. The Nessie branch.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "NessieIcebergCatalog",
      "description": "The Nessie Iceberg catalog."
    },
    "GoldengateConnection": {
      "description": "Details of the GoldengateConnection resource.",
      "type": "object",
      "id": "GoldengateConnection",
      "properties": {
        "createTime": {
          "description": "Output only. The date and time that the GoldengateConnection was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. The labels or tags associated with the GoldengateConnection.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "entitlementId": {
          "readOnly": true,
          "description": "Output only. The ID of the subscription entitlement associated with the GoldengateConnection.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the GoldengateConnection resource in the following format: projects/{project}/locations/{region}/goldengateConnections/{goldengate_connection}",
          "type": "string"
        },
        "properties": {
          "description": "Required. The properties of the GoldengateConnection.",
          "$ref": "GoldengateConnectionProperties"
        },
        "gcpOracleZone": {
          "description": "Optional. The GCP Oracle zone where Oracle GoldengateConnection is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability.",
          "type": "string"
        },
        "ociUrl": {
          "readOnly": true,
          "description": "Output only. HTTPS link to OCI resources exposed to Customer via UI Interface.",
          "type": "string"
        },
        "odbSubnet": {
          "description": "Optional. The name of the OdbSubnet associated with the GoldengateConnection for IP allocation. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}",
          "type": "string"
        },
        "odbNetwork": {
          "type": "string",
          "description": "Optional. The name of the OdbNetwork associated with the GoldengateConnection. The format is projects/{project}/locations/{location}/odbNetworks/{odb_network}. It is optional but if specified, this should match the parent ODBNetwork of the OdbSubnet."
        }
      }
    },
    "FailoverAutonomousDatabaseRequest": {
      "description": "The request for `OracleDatabase.FailoverAutonomousDatabase`.",
      "properties": {
        "peerAutonomousDatabase": {
          "type": "string",
          "description": "Optional. The peer database name to fail over to. Required for cross-region standby, and must be omitted for in-region Data Guard."
        }
      },
      "id": "FailoverAutonomousDatabaseRequest",
      "type": "object"
    },
    "AllConnectionStrings": {
      "description": "A list of all connection strings that can be used to connect to the Autonomous Database.",
      "type": "object",
      "properties": {
        "medium": {
          "readOnly": true,
          "description": "Output only. The database service provides a lower level of resources to each SQL statement.",
          "type": "string"
        },
        "low": {
          "description": "Output only. The database service provides the least level of resources to each SQL statement.",
          "type": "string",
          "readOnly": true
        },
        "high": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The database service provides the highest level of resources to each SQL statement."
        }
      },
      "id": "AllConnectionStrings"
    },
    "ListOperationsResponse": {
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "ListGoldengateDeploymentVersionsResponse": {
      "id": "ListGoldengateDeploymentVersionsResponse",
      "type": "object",
      "properties": {
        "goldengateDeploymentVersions": {
          "description": "The list of GoldengateDeploymentVersion",
          "type": "array",
          "items": {
            "$ref": "GoldengateDeploymentVersion"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Message for response to listing GoldengateDeploymentVersions"
    },
    "GoldengateMysqlConnectionProperties": {
      "properties": {
        "sslMode": {
          "type": "string",
          "description": "Optional. SSL modes for MySQL.",
          "enumDescriptions": [
            "SSL mode not specified.",
            "SSL is disabled.",
            "SSL is preferred.",
            "SSL is required.",
            "SSL is required and certificate is verified.",
            "SSL is required and certificate and hostname are verified."
          ],
          "enum": [
            "SSL_MODE_UNSPECIFIED",
            "DISABLED",
            "PREFERRED",
            "REQUIRED",
            "VERIFY_CA",
            "VERIFY_IDENTITY"
          ]
        },
        "sslKeyFile": {
          "description": "Optional. Client Key - The base64 encoded content of a .pem or .crt file containing the client private key (for 2-way SSL).",
          "type": "string"
        },
        "additionalAttributes": {
          "items": {
            "$ref": "NameValuePair"
          },
          "description": "Optional. An array of name-value pair attribute entries. Used as additional parameters in connection string.",
          "type": "array"
        },
        "technologyType": {
          "description": "Optional. The technology type of MysqlConnection.",
          "type": "string"
        },
        "database": {
          "type": "string",
          "description": "Optional. The name of the database."
        },
        "sslCaFile": {
          "description": "Optional. Database Certificate - The base64 encoded content of a .pem or .crt file containing the server public key (for 1 and 2-way SSL).",
          "type": "string"
        },
        "securityProtocol": {
          "description": "Optional. Security Type for MySQL.",
          "enumDescriptions": [
            "Security type not specified.",
            "Plain text communication.",
            "Transport Layer Security.",
            "Mutual Transport Layer Security."
          ],
          "enum": [
            "MYSQL_SECURITY_PROTOCOL_UNSPECIFIED",
            "PLAIN",
            "TLS",
            "MTLS"
          ],
          "type": "string"
        },
        "password": {
          "description": "Optional. Input only. The password Oracle Goldengate uses to connect to MySQL in plain text.",
          "type": "string"
        },
        "sslCertFile": {
          "description": "Optional. Client Certificate - The base64 encoded content of a .pem or .crt file containing the client public key (for 2-way SSL).",
          "type": "string"
        },
        "sslCrlFile": {
          "description": "Optional. The base64 encoded list of certificates revoked by the trusted certificate authorities (Trusted CA).",
          "type": "string"
        },
        "host": {
          "description": "Optional. The name or address of a host.",
          "type": "string"
        },
        "port": {
          "description": "Optional. The port of an endpoint usually specified for a connection.",
          "format": "int32",
          "type": "integer"
        },
        "username": {
          "description": "Optional. The username Oracle Goldengate uses to connect the associated system of the given technology.",
          "type": "string"
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses to connect to MySQL. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "dbSystemId": {
          "description": "Optional. The OCID of the database system being referenced.",
          "type": "string"
        }
      },
      "id": "GoldengateMysqlConnectionProperties",
      "type": "object",
      "description": "Properties of GoldengateMysqlConnection."
    },
    "GoldengatePlacement": {
      "type": "object",
      "properties": {
        "availabilityDomain": {
          "description": "Output only. The availability domain.",
          "type": "string",
          "readOnly": true
        },
        "faultDomain": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The fault domain."
        }
      },
      "description": "The placement of the GoldengateDeployment.",
      "id": "GoldengatePlacement"
    },
    "GoldengateGoldengateConnectionProperties": {
      "type": "object",
      "description": "The properties of GoldengateGoldengateConnectionProperties.",
      "properties": {
        "username": {
          "type": "string",
          "description": "Optional. The username credential."
        },
        "technologyType": {
          "description": "Optional. The technology type.",
          "type": "string"
        },
        "goldengateDeploymentId": {
          "description": "Optional. The name of the GoldengateDeployment associated with the GoldengateConnection. Format: projects/{project}/locations/{location}/goldengateDeployments/{goldengate_deployment}",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Optional. Input only. The password used to connect to the Oracle Goldengate in plain text."
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password used to connect to the Oracle Goldengate. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "host": {
          "description": "Optional. The host of the GoldengateConnection.",
          "type": "string"
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The port of the GoldengateConnection."
        }
      },
      "id": "GoldengateGoldengateConnectionProperties"
    },
    "ConfigureExascaleCloudExadataInfrastructureRequest": {
      "properties": {
        "totalVmStorageSizeGb": {
          "type": "integer",
          "description": "Optional. Storage size needed for VM storage on Exascale in GBs.",
          "format": "int32"
        },
        "requestId": {
          "description": "Optional. An optional ID to identify the request.",
          "type": "string"
        },
        "totalStorageSizeGb": {
          "type": "integer",
          "description": "Required. The total storage to be allocated to Exascale in GBs.",
          "format": "int32"
        }
      },
      "id": "ConfigureExascaleCloudExadataInfrastructureRequest",
      "type": "object",
      "description": "The request for `CloudExadataInfrastructure.ConfigureExascale`."
    },
    "DbVersion": {
      "id": "DbVersion",
      "description": "A valid Oracle Database version.",
      "type": "object",
      "properties": {
        "properties": {
          "readOnly": true,
          "description": "Output only. The properties of the DbVersion.",
          "$ref": "DbVersionProperties"
        },
        "name": {
          "description": "Output only. The name of the DbVersion resource in the following format: projects/{project}/locations/{region}/dbVersions/{db_version}",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "DbSystem": {
      "description": "Details of the DbSystem (BaseDB) resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/DbSystem/",
      "id": "DbSystem",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The date and time that the DbSystem was created."
        },
        "odbSubnet": {
          "description": "Required. The name of the OdbSubnet associated with the DbSystem for IP allocation. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}",
          "type": "string"
        },
        "entitlementId": {
          "description": "Output only. The ID of the subscription entitlement associated with the DbSystem",
          "type": "string",
          "readOnly": true
        },
        "ociUrl": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. HTTPS link to OCI resources exposed to Customer via UI Interface."
        },
        "properties": {
          "$ref": "DbSystemProperties",
          "description": "Optional. The properties of the DbSystem."
        },
        "displayName": {
          "description": "Required. The display name for the System db. The name does not have to be unique within your project.",
          "type": "string"
        },
        "odbNetwork": {
          "type": "string",
          "description": "Optional. The name of the OdbNetwork associated with the DbSystem. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network} It is optional but if specified, this should match the parent ODBNetwork of the OdbSubnet."
        },
        "gcpOracleZone": {
          "description": "Optional. The GCP Oracle zone where Oracle DbSystem is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels or tags associated with the DbSystem.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the DbSystem resource in the following format: projects/{project}/locations/{region}/dbSystems/{db_system}"
        }
      }
    },
    "GoldengateDeploymentVersion": {
      "properties": {
        "properties": {
          "readOnly": true,
          "description": "Output only. The technology type of the Goldengate Deployment Version resource.",
          "$ref": "GoldengateDeploymentVersionProperties"
        },
        "ocid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The deployment version ocid of the Goldengate Deployment Version resource."
        },
        "name": {
          "description": "Identifier. The name of the Goldengate Deployment Version resource with the format: projects/{project}/locations/{location}/goldengateDeploymentVersions/{goldengate_deployment_version}",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details of the Goldengate Deployment Version resource.",
      "id": "GoldengateDeploymentVersion"
    },
    "DatabaseConnectionStringProfile": {
      "id": "DatabaseConnectionStringProfile",
      "description": "The connection string profile to allow clients to group. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/DatabaseConnectionStringProfile",
      "properties": {
        "protocol": {
          "readOnly": true,
          "description": "Output only. The protocol being used by the connection.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Tcp",
            "Tcps"
          ],
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "TCP",
            "TCPS"
          ]
        },
        "isRegional": {
          "description": "Output only. This field indicates if the connection string is regional and is only applicable for cross-region Data Guard.",
          "type": "boolean",
          "readOnly": true
        },
        "value": {
          "type": "string",
          "description": "Output only. The value of the connection string.",
          "readOnly": true
        },
        "consumerGroup": {
          "enumDescriptions": [
            "Default unspecified value.",
            "High consumer group.",
            "Medium consumer group.",
            "Low consumer group.",
            "TP consumer group.",
            "TPURGENT consumer group."
          ],
          "readOnly": true,
          "description": "Output only. The current consumer group being used by the connection.",
          "type": "string",
          "enum": [
            "CONSUMER_GROUP_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "TP",
            "TPURGENT"
          ]
        },
        "sessionMode": {
          "description": "Output only. The current session mode of the connection.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "SESSION_MODE_UNSPECIFIED",
            "DIRECT",
            "INDIRECT"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Direct",
            "Indirect"
          ]
        },
        "tlsAuthentication": {
          "readOnly": true,
          "enum": [
            "TLS_AUTHENTICATION_UNSPECIFIED",
            "SERVER",
            "MUTUAL"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Server",
            "Mutual"
          ],
          "type": "string",
          "description": "Output only. This field indicates the TLS authentication type of the connection."
        },
        "syntaxFormat": {
          "description": "Output only. The syntax of the connection string.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Long",
            "Ezconnect",
            "Ezconnectplus"
          ],
          "type": "string",
          "enum": [
            "SYNTAX_FORMAT_UNSPECIFIED",
            "LONG",
            "EZCONNECT",
            "EZCONNECTPLUS"
          ],
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. The display name for the database connection.",
          "readOnly": true,
          "type": "string"
        },
        "hostFormat": {
          "enum": [
            "HOST_FORMAT_UNSPECIFIED",
            "FQDN",
            "IP"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "FQDN",
            "IP"
          ],
          "description": "Output only. The host name format being currently used in connection string."
        }
      },
      "type": "object"
    },
    "PluggableDatabase": {
      "description": "The PluggableDatabase resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/PluggableDatabase/",
      "properties": {
        "properties": {
          "$ref": "PluggableDatabaseProperties",
          "description": "Optional. The properties of the PluggableDatabase."
        },
        "name": {
          "description": "Identifier. The name of the PluggableDatabase resource in the following format: projects/{project}/locations/{region}/pluggableDatabases/{pluggable_database}",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The date and time that the PluggableDatabase was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "ociUrl": {
          "description": "Output only. HTTPS link to OCI resources exposed to Customer via UI Interface.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "PluggableDatabase",
      "type": "object"
    },
    "CloudExadataInfrastructure": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The date and time that the Exadata Infrastructure was created."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels or tags associated with the resource."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Exadata Infrastructure resource with the format: projects/{project}/locations/{region}/cloudExadataInfrastructures/{cloud_exadata_infrastructure}"
        },
        "displayName": {
          "description": "Optional. User friendly name for this resource.",
          "type": "string"
        },
        "entitlementId": {
          "type": "string",
          "description": "Output only. Entitlement ID of the private offer against which this infrastructure resource is provisioned.",
          "readOnly": true
        },
        "gcpOracleZone": {
          "description": "Optional. The GCP Oracle zone where Oracle Exadata Infrastructure is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability.",
          "type": "string"
        },
        "properties": {
          "description": "Optional. Various properties of the infra.",
          "$ref": "CloudExadataInfrastructureProperties"
        }
      },
      "description": "Represents CloudExadataInfrastructure resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/CloudExadataInfrastructure/",
      "id": "CloudExadataInfrastructure",
      "type": "object"
    },
    "AmazonS3IcebergStorage": {
      "properties": {
        "region": {
          "description": "Required. The region of Amazon S3.",
          "type": "string"
        },
        "accessKeyId": {
          "description": "Required. The access key ID of Amazon S3.",
          "type": "string"
        },
        "secretAccessKeySecret": {
          "type": "string",
          "description": "Optional. The secret access key of Amazon S3."
        },
        "bucket": {
          "description": "Required. The bucket of Amazon S3.",
          "type": "string"
        },
        "endpoint": {
          "description": "Optional. The endpoint of Amazon S3.",
          "type": "string"
        },
        "schemeType": {
          "enum": [
            "SCHEME_TYPE_UNSPECIFIED",
            "S3",
            "S3A"
          ],
          "type": "string",
          "enumDescriptions": [
            "Scheme type not specified.",
            "S3 scheme.",
            "S3A scheme."
          ],
          "description": "Required. The scheme type of Amazon S3."
        }
      },
      "description": "The Amazon S3 Iceberg storage.",
      "type": "object",
      "id": "AmazonS3IcebergStorage"
    },
    "ExadbVmClusterProperties": {
      "properties": {
        "nodeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The number of nodes/VMs in the ExadbVmCluster."
        },
        "shapeAttribute": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in smart storage.",
            "Indicates that the resource is in block storage."
          ],
          "enum": [
            "SHAPE_ATTRIBUTE_UNSPECIFIED",
            "SMART_STORAGE",
            "BLOCK_STORAGE"
          ],
          "description": "Required. Immutable. The shape attribute of the VM cluster. The type of Exascale storage used for Exadata VM cluster. The default is SMART_STORAGE which supports Oracle Database 23ai and later"
        },
        "sshPublicKeys": {
          "description": "Required. Immutable. The SSH public keys for the ExadbVmCluster.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "gridImageId": {
          "description": "Required. Immutable. Grid Infrastructure Version.",
          "type": "string"
        },
        "exascaleDbStorageVault": {
          "description": "Required. Immutable. The name of ExascaleDbStorageVault associated with the ExadbVmCluster. It can refer to an existing ExascaleDbStorageVault. Or a new one can be created during the ExadbVmCluster creation (requires storage_vault_properties to be set). Format: projects/{project}/locations/{location}/exascaleDbStorageVaults/{exascale_db_storage_vault}",
          "type": "string"
        },
        "additionalEcpuCountPerNode": {
          "description": "Optional. Immutable. The number of additional ECPUs per node for an Exadata VM cluster on exascale infrastructure.",
          "format": "int32",
          "type": "integer"
        },
        "licenseModel": {
          "description": "Optional. Immutable. The license type of the ExadbVmCluster.",
          "type": "string",
          "enum": [
            "LICENSE_MODEL_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Default is license included.",
            "Bring your own license."
          ]
        },
        "scanListenerPortTcp": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Immutable. SCAN listener port - TCP"
        },
        "hostnamePrefix": {
          "description": "Required. Immutable. Prefix for VM cluster host names.",
          "type": "string"
        },
        "enabledEcpuCountPerNode": {
          "format": "int32",
          "description": "Required. Immutable. The number of ECPUs enabled per node for an exadata vm cluster on exascale infrastructure.",
          "type": "integer"
        },
        "clusterName": {
          "description": "Optional. Immutable. The cluster name for Exascale vm cluster. The cluster name must begin with an alphabetic character and may contain hyphens(-) but can not contain underscores(_). It should be not more than 11 characters and is not case sensitive. OCI Cluster name.",
          "type": "string"
        },
        "vmFileSystemStorage": {
          "description": "Required. Immutable. Total storage details for the ExadbVmCluster.",
          "$ref": "ExadbVmClusterStorageDetails"
        },
        "timeZone": {
          "$ref": "TimeZone",
          "description": "Optional. Immutable. The time zone of the ExadbVmCluster."
        },
        "ociUri": {
          "description": "Output only. Deep link to the OCI console to view this resource.",
          "readOnly": true,
          "type": "string"
        },
        "hostname": {
          "description": "Output only. The hostname of the ExadbVmCluster.",
          "type": "string",
          "readOnly": true
        },
        "lifecycleState": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource is in maintenance in progress state."
          ],
          "description": "Output only. State of the cluster.",
          "enum": [
            "EXADB_VM_CLUSTER_LIFECYCLE_STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MAINTENANCE_IN_PROGRESS"
          ]
        },
        "dataCollectionOptions": {
          "$ref": "DataCollectionOptionsCommon",
          "description": "Optional. Immutable. Indicates user preference for data collection options."
        },
        "memorySizeGb": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Memory per VM (GB) (Read-only): Shows the amount of memory allocated to each VM. Memory is calculated based on 2.75 GB per Total ECPUs.",
          "type": "integer"
        },
        "giVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Oracle Grid Infrastructure (GI) software version."
        }
      },
      "type": "object",
      "description": "The properties of an ExadbVmCluster.",
      "id": "ExadbVmClusterProperties"
    },
    "GoldengateDeploymentType": {
      "type": "object",
      "description": "Details of the Goldengate Deployment Type resource.",
      "properties": {
        "deploymentType": {
          "readOnly": true,
          "description": "Output only. The deployment type of the Goldengate Deployment Type resource.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Goldengate Deployment Type category is OGG.",
            "Goldengate Deployment Type category is DATABASE_ORACLE.",
            "Goldengate Deployment Type category is BIGDATA.",
            "Goldengate Deployment Type category is DATABASE_MICROSOFT_SQLSERVER.",
            "Goldengate Deployment Type category is DATABASE_MYSQL.",
            "Goldengate Deployment Type category is DATABASE_POSTGRESQL.",
            "Goldengate Deployment Type category is DATABASE_DB2ZOS.",
            "Goldengate Deployment Type category is DATABASE_DB2I.",
            "Goldengate Deployment Type category is GGSA.",
            "Goldengate Deployment Type category is DATA_TRANSFORMS."
          ],
          "enum": [
            "DEPLOYMENT_TYPE_UNSPECIFIED",
            "OGG",
            "DATABASE_ORACLE",
            "BIGDATA",
            "DATABASE_MICROSOFT_SQLSERVER",
            "DATABASE_MYSQL",
            "DATABASE_POSTGRESQL",
            "DATABASE_DB2ZOS",
            "DATABASE_DB2I",
            "GGSA",
            "DATA_TRANSFORMS"
          ],
          "type": "string"
        },
        "connectionTypes": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The connection types of the Goldengate Deployment Type resource."
        },
        "defaultUsername": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The default username of the Goldengate Deployment Type resource."
        },
        "targetTechnologies": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The target technologies of the Goldengate Deployment Type resource."
        },
        "supportedCapabilities": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The supported capabilities of the Goldengate Deployment Type resource.",
          "type": "array"
        },
        "oggVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Ogg version of the Goldengate Deployment Type resource."
        },
        "supportedTechnologiesUrl": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The supported technologies URL of the Goldengate Deployment Type resource."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the Goldengate Deployment Type resource."
        },
        "name": {
          "description": "Identifier. The name of the Goldengate Deployment Type resource with the format: projects/{project}/locations/{region}/goldengateDeploymentTypes/{goldengate_deployment_type}",
          "type": "string"
        },
        "category": {
          "description": "Output only. The category of the Goldengate Deployment Type resource.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Goldengate Deployment Type category is DATA_REPLICATION_CATEGORY.",
            "Goldengate Deployment Type category is DATA_TRANSFORMS_CATEGORY."
          ],
          "readOnly": true,
          "enum": [
            "DEPLOYMENT_CATEGORY_UNSPECIFIED",
            "DATA_REPLICATION_CATEGORY",
            "DATA_TRANSFORMS_CATEGORY"
          ],
          "type": "string"
        },
        "sourceTechnologies": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The source technologies of the Goldengate Deployment Type resource.",
          "type": "array"
        }
      },
      "id": "GoldengateDeploymentType"
    },
    "GiVersion": {
      "id": "GiVersion",
      "properties": {
        "version": {
          "description": "Optional. version",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Oracle Grid Infrastructure (GI) version resource with the format: projects/{project}/locations/{region}/giVersions/{gi_versions}"
        }
      },
      "description": "Details of the Oracle Grid Infrastructure (GI) version resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/GiVersionSummary/",
      "type": "object"
    },
    "IngressIp": {
      "type": "object",
      "properties": {
        "ingressIpAddress": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ingress IP."
        }
      },
      "id": "IngressIp",
      "description": "The ingress IPs of the GoldengateDeployment."
    },
    "AutonomousDatabaseBackup": {
      "id": "AutonomousDatabaseBackup",
      "properties": {
        "autonomousDatabase": {
          "type": "string",
          "description": "Required. The name of the Autonomous Database resource for which the backup is being created. Format: projects/{project}/locations/{region}/autonomousDatabases/{autonomous_database}"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. labels or tags associated with the resource."
        },
        "properties": {
          "description": "Optional. Various properties of the backup.",
          "$ref": "AutonomousDatabaseBackupProperties"
        },
        "name": {
          "description": "Identifier. The name of the Autonomous Database Backup resource with the format: projects/{project}/locations/{region}/autonomousDatabaseBackups/{autonomous_database_backup}",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. User friendly name for the Backup. The name does not have to be unique.",
          "type": "string"
        }
      },
      "description": "Details of the Autonomous Database Backup resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/AutonomousDatabaseBackup/",
      "type": "object"
    },
    "ListGoldengateDeploymentsResponse": {
      "id": "ListGoldengateDeploymentsResponse",
      "properties": {
        "goldengateDeployments": {
          "type": "array",
          "items": {
            "$ref": "GoldengateDeployment"
          },
          "description": "The list of GoldengateDeployments."
        },
        "unreachable": {
          "type": "array",
          "description": "Optional. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "description": "The response for `GoldengateDeployment.List`.",
      "type": "object"
    },
    "GoldengateDeploymentProperties": {
      "id": "GoldengateDeploymentProperties",
      "type": "object",
      "description": "Properties of GoldengateDeployment.",
      "properties": {
        "nextMaintenanceDescription": {
          "description": "Output only. The next maintenance description of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string"
        },
        "loadBalancerSubnetId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The load balancer subnet id of the GoldengateDeployment."
        },
        "environmentType": {
          "description": "Optional. The environment type of the GoldengateDeployment.",
          "type": "string"
        },
        "isPublic": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the GoldengateDeployment is public."
        },
        "nsgIds": {
          "description": "Output only. The nsg ids of the GoldengateDeployment.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextMaintenanceTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time of next maintenance of the GoldengateDeployment.",
          "format": "google-datetime"
        },
        "maintenanceConfig": {
          "description": "Optional. The maintenance configuration of the GoldengateDeployment.",
          "$ref": "GoldengateMaintenanceConfig"
        },
        "nextMaintenanceActionType": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "NEXT_MAINTENANCE_ACTION_TYPE_UNSPECIFIED",
            "UPGRADE"
          ],
          "description": "Output only. The next maintenance action type of the GoldengateDeployment.",
          "enumDescriptions": [
            "The next maintenance action type is unspecified.",
            "The next maintenance action type is upgrade."
          ]
        },
        "deploymentType": {
          "type": "string",
          "description": "Required. A valid Goldengate Deployment type. For a list of supported types, use the `ListGoldengateDeploymentTypes` operation."
        },
        "publicIpAddress": {
          "readOnly": true,
          "description": "Output only. The public ip address of the GoldengateDeployment.",
          "type": "string"
        },
        "lifecycleSubState": {
          "type": "string",
          "enumDescriptions": [
            "The lifecycle sub-state is unspecified.",
            "The deployment is recovering.",
            "The deployment is starting.",
            "The deployment is stopping.",
            "The deployment is moving.",
            "The deployment is upgrading.",
            "The deployment is restoring.",
            "The deployment is backing up.",
            "The deployment is rolling back."
          ],
          "enum": [
            "GOLDENGATE_DEPLOYMENT_LIFECYCLE_SUB_STATE_UNSPECIFIED",
            "RECOVERING",
            "STARTING",
            "STOPPING",
            "MOVING",
            "UPGRADING",
            "RESTORING",
            "BACKING_UP",
            "ROLLING_BACK"
          ],
          "description": "Output only. The lifecycle sub-state of the GoldengateDeployment.",
          "readOnly": true
        },
        "isAutoScalingEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates if auto scaling is enabled for the Deployment's CPU core count."
        },
        "fqdn": {
          "readOnly": true,
          "description": "Output only. The Fully Qualified Domain Name of the GoldengateDeployment.",
          "type": "string"
        },
        "lastBackupScheduleTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time last backup scheduled of the GoldengateDeployment.",
          "readOnly": true
        },
        "roleChangeTime": {
          "readOnly": true,
          "description": "Output only. The time when the role of the GoldengateDeployment was changed.",
          "format": "google-datetime",
          "type": "string"
        },
        "licenseModel": {
          "type": "string",
          "description": "Optional. The Oracle license model that applies to a Deployment.",
          "enumDescriptions": [
            "The license model is unspecified.",
            "The license model is included.",
            "The license model is bring your own license."
          ],
          "enum": [
            "LICENSE_MODEL_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ]
        },
        "lifecycleDetails": {
          "description": "Output only. The lifecycle details of the GoldengateDeployment.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the GoldengateDeployment."
        },
        "isLatestVersion": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the GoldengateDeployment is of the latest version."
        },
        "deploymentUrl": {
          "type": "string",
          "description": "Output only. The deployment url of the GoldengateDeployment.",
          "readOnly": true
        },
        "deploymentDiagnosticData": {
          "readOnly": true,
          "$ref": "DeploymentDiagnosticData",
          "description": "Output only. The deployment diagnostic data of the GoldengateDeployment."
        },
        "category": {
          "readOnly": true,
          "description": "Output only. The category of the GoldengateDeployment.",
          "enumDescriptions": [
            "The category is unspecified.",
            "The deployment is data replication.",
            "The deployment is data transforms."
          ],
          "enum": [
            "GOLDENGATE_DEPLOYMENT_CATEGORY_UNSPECIFIED",
            "DATA_REPLICATION",
            "DATA_TRANSFORMS"
          ],
          "type": "string"
        },
        "oggVersionSupportEndTime": {
          "description": "Output only. The time ogg version supported until of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "oggData": {
          "description": "Required. The ogg data of the GoldengateDeployment.",
          "$ref": "GoldengateOggDeployment"
        },
        "placements": {
          "readOnly": true,
          "items": {
            "$ref": "GoldengatePlacement"
          },
          "type": "array",
          "description": "Output only. The placements of the GoldengateDeployment."
        },
        "backupSchedule": {
          "description": "Output only. The backup schedule of the GoldengateDeployment.",
          "$ref": "GoldengateBackupSchedule",
          "readOnly": true
        },
        "privateIpAddress": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The private ip address of the GoldengateDeployment."
        },
        "loadBalancerId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The load balancer id of the GoldengateDeployment."
        },
        "upgradeRequiredTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time upgrade required of the GoldengateDeployment.",
          "format": "google-datetime"
        },
        "storageUtilizationBytes": {
          "readOnly": true,
          "description": "Output only. The storage utilization in bytes of the GoldengateDeployment.",
          "type": "string",
          "format": "int64"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time the GoldengateDeployment was updated.",
          "type": "string",
          "readOnly": true
        },
        "maintenanceWindow": {
          "description": "Optional. The maintenance window of the GoldengateDeployment.",
          "$ref": "GoldengateMaintenanceWindow"
        },
        "locks": {
          "type": "array",
          "items": {
            "$ref": "GoldengateDeploymentLock"
          },
          "readOnly": true,
          "description": "Output only. The locks of the GoldengateDeployment."
        },
        "isStorageUtilizationLimitExceeded": {
          "type": "boolean",
          "description": "Output only. Whether storage utilization limit is exceeded of the GoldengateDeployment.",
          "readOnly": true
        },
        "healthy": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the GoldengateDeployment is healthy."
        },
        "ocid": {
          "readOnly": true,
          "description": "Output only. OCID of the GoldengateDeployment.",
          "type": "string"
        },
        "cpuCoreCount": {
          "format": "int32",
          "description": "Optional. The Minimum number of OCPUs to be made available for this Deployment.",
          "type": "integer"
        },
        "ingressIps": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "IngressIp"
          },
          "description": "Output only. The ingress ips of the GoldengateDeployment."
        },
        "deploymentBackupId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The deployment backup id of the GoldengateDeployment."
        },
        "nextBackupScheduleTime": {
          "description": "Output only. The time next backup scheduled of the GoldengateDeployment.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "deploymentRole": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The deployment role of the GoldengateDeployment.",
          "enumDescriptions": [
            "The deployment role type is unspecified.",
            "The deployment role type is primary.",
            "The deployment role type is standby."
          ],
          "enum": [
            "GOLDENGATE_DEPLOYMENT_ROLE_TYPE_UNSPECIFIED",
            "PRIMARY",
            "STANDBY"
          ]
        },
        "lifecycleState": {
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "The deployment is being created.",
            "The deployment is being updated.",
            "The deployment is active.",
            "The deployment is inactive.",
            "The deployment is being deleted.",
            "The deployment is deleted.",
            "The deployment failed.",
            "The deployment needs attention.",
            "The deployment is in progress.",
            "The deployment is canceling.",
            "The deployment is canceled.",
            "The deployment succeeded.",
            "The deployment is waiting."
          ],
          "description": "Output only. State of the GoldengateDeployment.",
          "type": "string",
          "enum": [
            "GOLDENGATE_DEPLOYMENT_LIFECYCLE_STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "ACTIVE",
            "INACTIVE",
            "DELETING",
            "DELETED",
            "FAILED",
            "NEEDS_ATTENTION",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED",
            "WAITING"
          ]
        }
      }
    },
    "Entitlement": {
      "type": "object",
      "id": "Entitlement",
      "description": "Details of the Entitlement resource.",
      "properties": {
        "name": {
          "description": "Identifier. The name of the Entitlement resource with the format: projects/{project}/locations/{region}/entitlements/{entitlement}",
          "type": "string"
        },
        "entitlementId": {
          "description": "Output only. Google Cloud Marketplace order ID (aka entitlement ID)",
          "readOnly": true,
          "type": "string"
        },
        "cloudAccountDetails": {
          "$ref": "CloudAccountDetails",
          "description": "Details of the OCI Cloud Account."
        },
        "state": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Account not linked.",
            "Account is linked but not active.",
            "Entitlement and Account are active.",
            "Account is suspended.",
            "Entitlement is not approved in private marketplace."
          ],
          "readOnly": true,
          "description": "Output only. Entitlement State.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACCOUNT_NOT_LINKED",
            "ACCOUNT_NOT_ACTIVE",
            "ACTIVE",
            "ACCOUNT_SUSPENDED",
            "NOT_APPROVED_IN_PRIVATE_MARKETPLACE"
          ]
        }
      }
    },
    "NameValuePair": {
      "properties": {
        "key": {
          "type": "string",
          "description": "Required. The name of the property entry."
        },
        "value": {
          "type": "string",
          "description": "Required. The value of the property entry."
        }
      },
      "description": "A name-value pair representing an attribute entry usable in a list of attributes.",
      "id": "NameValuePair",
      "type": "object"
    },
    "DeploymentDiagnosticData": {
      "type": "object",
      "properties": {
        "diagnosticState": {
          "enumDescriptions": [
            "The diagnostic state is unspecified.",
            "The diagnostic is in progress.",
            "The diagnostic completed successfully.",
            "The diagnostic failed."
          ],
          "readOnly": true,
          "enum": [
            "DIAGNOSTIC_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. The diagnostic state.",
          "type": "string"
        },
        "diagnosticEndTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time diagnostic end.",
          "format": "google-datetime"
        },
        "diagnosticStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time diagnostic start.",
          "readOnly": true
        },
        "namespace": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The namespace name."
        },
        "bucket": {
          "description": "Output only. The bucket name.",
          "type": "string",
          "readOnly": true
        },
        "object": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The object name."
        }
      },
      "id": "DeploymentDiagnosticData",
      "description": "The deployment diagnostic data."
    },
    "StopAutonomousDatabaseRequest": {
      "description": "The request for `AutonomousDatabase.Stop`.",
      "type": "object",
      "id": "StopAutonomousDatabaseRequest",
      "properties": {}
    },
    "DatabaseProperties": {
      "description": "The properties of a Database.",
      "properties": {
        "dbVersion": {
          "type": "string",
          "description": "Required. The Oracle Database version."
        },
        "dbBackupConfig": {
          "$ref": "DbBackupConfig",
          "description": "Optional. Backup options for the Database."
        },
        "databaseManagementConfig": {
          "description": "Output only. The Database Management config.",
          "readOnly": true,
          "$ref": "DatabaseManagementConfig"
        },
        "state": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in backup in progress state.",
            "Indicates that the resource is in upgrading state.",
            "Indicates that the resource is in converting state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in restore failed state.",
            "Indicates that the resource is in failed state."
          ],
          "enum": [
            "DATABASE_LIFECYCLE_STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "BACKUP_IN_PROGRESS",
            "UPGRADING",
            "CONVERTING",
            "TERMINATING",
            "TERMINATED",
            "RESTORE_FAILED",
            "FAILED"
          ],
          "readOnly": true,
          "description": "Output only. State of the Database.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DatabaseProperties"
    },
    "AutonomousDatabaseBackupProperties": {
      "properties": {
        "keyStoreWallet": {
          "type": "string",
          "description": "Optional. The wallet name for Oracle Key Vault."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "INCREMENTAL",
            "FULL",
            "LONG_TERM"
          ],
          "description": "Output only. The type of the backup.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Incremental backups.",
            "Full backups.",
            "Long term backups."
          ]
        },
        "retentionPeriodDays": {
          "description": "Optional. Retention period in days for the backup.",
          "type": "integer",
          "format": "int32"
        },
[...]
