{
  "baseUrl": "https://oracledatabase.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "servicePath": "",
  "mtlsRootUrl": "https://oracledatabase.mtls.googleapis.com/",
  "rootUrl": "https://oracledatabase.googleapis.com/",
  "discoveryVersion": "v1",
  "schemas": {
    "GenerateAutonomousDatabaseWalletResponse": {
      "type": "object",
      "properties": {
        "archiveContent": {
          "format": "byte",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The base64 encoded wallet files."
        }
      },
      "id": "GenerateAutonomousDatabaseWalletResponse",
      "description": "The response for `AutonomousDatabase.GenerateWallet`."
    },
    "EncryptionKey": {
      "type": "object",
      "description": "The encryption key used to encrypt the Autonomous Database.",
      "properties": {
        "kmsKey": {
          "description": "Optional. The KMS key used to encrypt the Autonomous Database. This field is required if the provider is GOOGLE_MANAGED. The name of the KMS key resource in the following format: `projects/{project}/locations/{location}/keyRings/{key_ring}/cryptoKeys/{crypto_key}`.",
          "type": "string"
        },
        "provider": {
          "type": "string",
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "GOOGLE_MANAGED",
            "ORACLE_MANAGED"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Google Managed KMS key, if selected, please provide the KMS key name.",
            "Oracle Managed."
          ],
          "description": "Optional. The provider of the encryption key."
        }
      },
      "id": "EncryptionKey"
    },
    "StorageSizeDetails": {
      "type": "object",
      "properties": {
        "dataStorageSizeInGbs": {
          "format": "int32",
          "description": "Output only. The data storage size, in gigabytes, that is applicable for virtual machine DBSystem.",
          "readOnly": true,
          "type": "integer"
        },
        "recoStorageSizeInGbs": {
          "description": "Output only. The RECO/REDO storage size, in gigabytes, that is applicable for virtual machine DBSystem.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        }
      },
      "description": "The initial storage size, in gigabytes, that is applicable for virtual machine DBSystem.",
      "id": "StorageSizeDetails"
    },
    "DataCollectionOptionsCommon": {
      "description": "Data collection options for diagnostics. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/DataCollectionOptions",
      "properties": {
        "isIncidentLogsEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether to enable incident logs and trace collection."
        },
        "isDiagnosticsEventsEnabled": {
          "description": "Optional. Indicates whether to enable data collection for diagnostics.",
          "type": "boolean"
        },
        "isHealthMonitoringEnabled": {
          "description": "Optional. Indicates whether to enable health monitoring.",
          "type": "boolean"
        }
      },
      "id": "DataCollectionOptionsCommon",
      "type": "object"
    },
    "ListDatabasesResponse": {
      "type": "object",
      "description": "The response for `Database.List`.",
      "id": "ListDatabasesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "databases": {
          "type": "array",
          "description": "The list of Databases.",
          "items": {
            "$ref": "Database"
          }
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "ListExadbVmClustersResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "type": "array"
        },
        "exadbVmClusters": {
          "description": "The list of ExadbVmClusters.",
          "type": "array",
          "items": {
            "$ref": "ExadbVmCluster"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "The response for `ExadbVmCluster.List`.",
      "id": "ListExadbVmClustersResponse"
    },
    "SourceConfig": {
      "description": "The source configuration for the standby Autonomous Database.",
      "type": "object",
      "properties": {
        "useLatestAvailableBackup": {
          "description": "Optional. Clone from latest available backup timestamp. This field is only applicable in case of BACKUP_FROM_TIMESTAMP source type.",
          "type": "boolean"
        },
        "autoRefreshPointLagSeconds": {
          "type": "integer",
          "description": "Optional. The time, in seconds, the data of the automatic refreshable clone lags the primary database at the point of refresh.",
          "format": "int32"
        },
        "autonomousDatabase": {
          "description": "Optional. The name of the primary Autonomous Database that is used to create a Peer Autonomous Database from a source.",
          "type": "string"
        },
        "refreshableMode": {
          "type": "string",
          "description": "Optional. The refresh mode of the clone.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Automatic refresh.",
            "Manual refresh."
          ],
          "enum": [
            "REFRESHABLE_MODE_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ]
        },
        "automaticBackupsReplicationEnabled": {
          "type": "boolean",
          "description": "Optional. This field specifies if the replication of automatic backups is enabled when creating a Data Guard."
        },
        "autonomousDatabaseBackup": {
          "type": "string",
          "description": "Optional. The name of the Autonomous Database Backup resource with the format: projects/{project}/locations/{region}/autonomousDatabaseBackups/{autonomous_database_backup} Required when source_type is BACKUP_FROM_ID."
        },
        "sourceType": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Clone database from an existing database specified in autonomous_database field.",
            "Create a cross-region disaster recovery peer adb from an existing adb.",
            "Create a refreshable clone from an existing database specified in autonomous_database field.",
            "Create clone from the backup resource.",
            "Create clone from backup specified by backup_time field, or use latest available backup if use_latest_available_backup is true. The autonomous_database field must specify the source database to clone from."
          ],
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "CLONE_DATABASE",
            "CROSS_REGION_DISASTER_RECOVERY",
            "CLONE_TO_REFRESHABLE",
            "BACKUP_FROM_ID",
            "BACKUP_FROM_TIMESTAMP"
          ],
          "description": "Optional. The source type of the Autonomous Database.",
          "type": "string"
        },
        "backupTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The timestamp specified for the point-in-time clone of the source Autonomous Database. This field is only applicable in case of BACKUP_FROM_TIMESTAMP source type and when use_latest_available_backup is false."
        },
        "cloneType": {
          "enum": [
            "CLONE_TYPE_UNSPECIFIED",
            "FULL",
            "METADATA"
          ],
          "description": "Optional. The clone type of the Autonomous Database. This field is only applicable in case of cloning",
          "enumDescriptions": [
            "Default unspecified value.",
            "Creates a new database with the source database's data and metadata.",
            "Creates a new database that includes all the source database schema metadata, but none of the source database data."
          ],
          "type": "string"
        },
        "autoRefreshStartTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The date and time that auto-refreshing will begin for an Autonomous Database refreshable clone. This value controls only the start time for the first refresh operation."
        },
        "autoRefreshFrequencySeconds": {
          "description": "Optional. The frequency in seconds a refreshable clone is refreshed after auto-refresh is enabled.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "SourceConfig"
    },
    "GoldengateElasticsearchConnectionProperties": {
      "properties": {
        "authenticationType": {
          "type": "string",
          "description": "Optional. Authentication type for Elasticsearch.",
          "enum": [
            "ELASTICSEARCH_AUTHENTICATION_TYPE_UNSPECIFIED",
            "NONE",
            "BASIC"
          ],
          "enumDescriptions": [
            "Authentication type not specified.",
            "No authentication.",
            "Basic authentication."
          ]
        },
        "securityProtocol": {
          "enum": [
            "ELASTICSEARCH_SECURITY_PROTOCOL_UNSPECIFIED",
            "PLAIN",
            "TLS"
          ],
          "description": "Optional. Security protocol for Elasticsearch.",
          "enumDescriptions": [
            "Security protocol not specified.",
            "Plain text communication.",
            "Transport Layer Security."
          ],
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Optional. Input only. The password Oracle Goldengate uses for Elastic Search connection in plain text."
        },
        "fingerprint": {
          "type": "string",
          "description": "Optional. Fingerprint required by TLS security protocol. Eg.: '6152b2dfbff200f973c5074a5b91d06ab3b472c07c09a1ea57bb7fd406cdce9c'"
        },
        "passwordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses for Elastic Search connection. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of ElasticsearchConnection."
        },
        "servers": {
          "type": "string",
          "description": "Optional. Comma separated list of Elasticsearch server addresses, specified as host:port entries, where :port is optional. If port is not specified, it defaults to 9200. Example: \"server1.example.com:4000,server2.example.com:4000\""
        },
        "username": {
          "description": "Optional. The username Oracle Goldengate uses to connect the associated system of the given technology.",
          "type": "string"
        }
      },
      "id": "GoldengateElasticsearchConnectionProperties",
      "type": "object",
      "description": "The properties of GoldengateElasticsearchConnection."
    },
    "GoldengateAzureDataLakeStorageConnectionProperties": {
      "id": "GoldengateAzureDataLakeStorageConnectionProperties",
      "description": "The properties of GoldengateAzureDataLakeStorageConnection.",
      "properties": {
        "account": {
          "description": "Optional. Sets the Azure storage account name.",
          "type": "string"
        },
        "technologyType": {
          "description": "Optional. The technology type of AzureDataLakeStorageConnection.",
          "type": "string"
        },
        "clientSecret": {
          "type": "string",
          "description": "Optional. Azure client secret (aka application password) for authentication."
        },
        "endpoint": {
          "description": "Optional. Azure Storage service endpoint. e.g: https://test.blob.core.windows.net",
          "type": "string"
        },
        "authenticationType": {
          "description": "Optional. Authentication mechanism to access Azure Data Lake Storage.",
          "enumDescriptions": [
            "Authentication type not specified.",
            "Shared key authentication.",
            "Shared access signature authentication.",
            "Azure active directory authentication."
          ],
          "type": "string",
          "enum": [
            "AUTHENTICATION_TYPE_UNSPECIFIED",
            "SHARED_KEY",
            "SHARED_ACCESS_SIGNATURE",
            "AZURE_ACTIVE_DIRECTORY"
          ]
        },
        "clientId": {
          "type": "string",
          "description": "Optional. Azure client ID of the application. This property is required when 'authentication_type' is set to 'AZURE_ACTIVE_DIRECTORY'."
        },
        "sasTokenSecret": {
          "description": "Optional. Credential that uses a shared access signature (SAS) to authenticate to an Azure Service.",
          "type": "string"
        },
        "azureAuthorityHost": {
          "type": "string",
          "description": "Optional. The endpoint used for authentication with Microsoft Entra ID (formerly Azure Active Directory). Default value: https://login.microsoftonline.com"
        },
        "accountKeySecret": {
          "description": "Optional. Azure storage account key. This property is required when 'authentication_type' is set to 'SHARED_KEY'.",
          "type": "string"
        },
        "azureTenantId": {
          "type": "string",
          "description": "Optional. Azure tenant ID of the application. This property is required when 'authentication_type' is set to 'AZURE_ACTIVE_DIRECTORY'."
        }
      },
      "type": "object"
    },
    "OdbNetwork": {
      "type": "object",
      "properties": {
        "gcpOracleZone": {
          "description": "Optional. The GCP Oracle zone where OdbNetwork is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels or tags associated with the resource.",
          "type": "object"
        },
        "network": {
          "type": "string",
          "description": "Required. The name of the VPC network in the following format: projects/{project}/global/networks/{network}"
        },
        "entitlementId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the subscription entitlement associated with the OdbNetwork."
        },
        "name": {
          "description": "Identifier. The name of the OdbNetwork resource in the following format: projects/{project}/locations/{region}/odbNetworks/{odb_network}",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The date and time that the OdbNetwork was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in failed state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "TERMINATING",
            "FAILED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the ODB Network."
        }
      },
      "description": "Represents OdbNetwork resource.",
      "id": "OdbNetwork"
    },
    "GoldengateKafkaSchemaRegistryConnectionProperties": {
      "type": "object",
      "description": "The properties of GoldengateKafkaSchemaRegistryConnection.",
      "id": "GoldengateKafkaSchemaRegistryConnectionProperties",
      "properties": {
        "password": {
          "description": "Optional. Input only. The password to access Schema Registry in plain text.",
          "type": "string"
        },
        "trustStorePasswordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the TrustStore password. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "trustStoreFile": {
          "description": "Optional. The base64 encoded content of the TrustStore file.",
          "type": "string"
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of KafkaSchemaRegistryConnection."
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password to access Schema Registry using basic authentication. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "keyStorePassword": {
          "description": "Optional. Input only. The KeyStore password in plain text.",
          "type": "string"
        },
        "authenticationType": {
          "enum": [
            "AUTHENTICATION_TYPE_UNSPECIFIED",
            "NONE",
            "BASIC",
            "MUTUAL"
          ],
          "enumDescriptions": [
            "Authentication type not specified.",
            "No authentication.",
            "Basic authentication.",
            "Mutual authentication."
          ],
          "description": "Optional. Used authentication mechanism to access Schema Registry.",
          "type": "string"
        },
        "username": {
          "description": "Optional. The username to access Schema Registry using basic authentication. This value is injected into 'schema.registry.basic.auth.user.info=user:password' configuration property.",
          "type": "string"
        },
        "keyStorePasswordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the KeyStore password. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "sslKeyPassword": {
          "type": "string",
          "description": "Optional. Input only. The password for the cert inside the KeyStore in plain text."
        },
        "keyStoreFile": {
          "type": "string",
          "description": "Optional. The base64 encoded content of the KeyStore file."
        },
        "trustStorePassword": {
          "type": "string",
          "description": "Optional. Input only. The TrustStore password in plain text."
        },
        "sslKeyPasswordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password for the cert inside the KeyStore. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "url": {
          "description": "Optional. Kafka Schema Registry URL. e.g.: 'https://server1.us.oracle.com:8081'",
          "type": "string"
        }
      }
    },
    "AmazonS3IcebergStorage": {
      "properties": {
        "bucket": {
          "description": "Required. The bucket of Amazon S3.",
          "type": "string"
        },
        "accessKeyId": {
          "description": "Required. The access key ID of Amazon S3.",
          "type": "string"
        },
        "region": {
          "description": "Required. The region of Amazon S3.",
          "type": "string"
        },
        "secretAccessKeySecret": {
          "type": "string",
          "description": "Optional. The secret access key of Amazon S3."
        },
        "endpoint": {
          "description": "Optional. The endpoint of Amazon S3.",
          "type": "string"
        },
        "schemeType": {
          "description": "Required. The scheme type of Amazon S3.",
          "enumDescriptions": [
            "Scheme type not specified.",
            "S3 scheme.",
            "S3A scheme."
          ],
          "enum": [
            "SCHEME_TYPE_UNSPECIFIED",
            "S3",
            "S3A"
          ],
          "type": "string"
        }
      },
      "id": "AmazonS3IcebergStorage",
      "type": "object",
      "description": "The Amazon S3 Iceberg storage."
    },
    "CloudExadataInfrastructure": {
      "description": "Represents CloudExadataInfrastructure resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/CloudExadataInfrastructure/",
      "type": "object",
      "properties": {
        "entitlementId": {
          "readOnly": true,
          "description": "Output only. Entitlement ID of the private offer against which this infrastructure resource is provisioned.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels or tags associated with the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The date and time that the Exadata Infrastructure was created."
        },
        "properties": {
          "$ref": "CloudExadataInfrastructureProperties",
          "description": "Optional. Various properties of the infra."
        },
        "gcpOracleZone": {
          "type": "string",
          "description": "Optional. The GCP Oracle zone where Oracle Exadata Infrastructure is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly name for this resource."
        },
        "name": {
          "description": "Identifier. The name of the Exadata Infrastructure resource with the format: projects/{project}/locations/{region}/cloudExadataInfrastructures/{cloud_exadata_infrastructure}",
          "type": "string"
        }
      },
      "id": "CloudExadataInfrastructure"
    },
    "TestGoldengateConnectionAssignmentResponse": {
      "id": "TestGoldengateConnectionAssignmentResponse",
      "description": "The result of the connectivity test performed between the Goldengate deployment and the associated database / service.",
      "type": "object",
      "properties": {
        "error": {
          "description": "Error details if test connection failed.",
          "$ref": "TestConnectionAssignmentError"
        },
        "errors": {
          "description": "List of test connection assignment error objects.",
          "type": "array",
          "items": {
            "$ref": "TestConnectionAssignmentError"
          }
        },
        "resultType": {
          "type": "string",
          "description": "Type of the result i.e. Success, Failure or Timeout.",
          "enum": [
            "RESULT_TYPE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED",
            "TIMED_OUT"
          ],
          "enumDescriptions": [
            "Result type is unspecified.",
            "Test connection succeeded.",
            "Test connection failed.",
            "Test connection timed out."
          ]
        }
      }
    },
    "DbSystemOptions": {
      "properties": {
        "storageManagement": {
          "enum": [
            "STORAGE_MANAGEMENT_UNSPECIFIED",
            "ASM",
            "LVM"
          ],
          "description": "Optional. The storage option used in DB system.",
          "type": "string",
          "enumDescriptions": [
            "The storage management is unspecified.",
            "Automatic storage management. This option is not supported. Only LVM is supported.",
            "Logical Volume management."
          ]
        }
      },
      "type": "object",
      "id": "DbSystemOptions",
      "description": "Details of the DbSystem Options."
    },
    "ListOdbNetworksResponse": {
      "properties": {
        "odbNetworks": {
          "description": "The list of ODB Networks.",
          "type": "array",
          "items": {
            "$ref": "OdbNetwork"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "type": "array"
        }
      },
      "description": "The response for `OdbNetwork.List`.",
      "id": "ListOdbNetworksResponse",
      "type": "object"
    },
    "ListGoldengateConnectionTypesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "goldengateConnectionTypes": {
          "items": {
            "$ref": "GoldengateConnectionType"
          },
          "type": "array",
          "description": "The list of GoldengateConnectionType"
        }
      },
      "type": "object",
      "id": "ListGoldengateConnectionTypesResponse",
      "description": "Message for response to listing GoldengateConnectionTypes"
    },
    "ListGiVersionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "giVersions": {
          "items": {
            "$ref": "GiVersion"
          },
          "type": "array",
          "description": "The list of Oracle Grid Infrastructure (GI) versions."
        }
      },
      "id": "ListGiVersionsResponse",
      "description": "The response for `GiVersion.List`.",
      "type": "object"
    },
    "DatabaseConnectionStringProfile": {
      "properties": {
        "protocol": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Tcp",
            "Tcps"
          ],
          "description": "Output only. The protocol being used by the connection.",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "TCP",
            "TCPS"
          ],
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Output only. The display name for the database connection.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "Output only. The value of the connection string.",
          "type": "string",
          "readOnly": true
        },
        "hostFormat": {
          "enum": [
            "HOST_FORMAT_UNSPECIFIED",
            "FQDN",
            "IP"
          ],
          "readOnly": true,
          "description": "Output only. The host name format being currently used in connection string.",
          "enumDescriptions": [
            "Default unspecified value.",
            "FQDN",
            "IP"
          ],
          "type": "string"
        },
        "sessionMode": {
          "description": "Output only. The current session mode of the connection.",
          "enum": [
            "SESSION_MODE_UNSPECIFIED",
            "DIRECT",
            "INDIRECT"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Direct",
            "Indirect"
          ],
          "readOnly": true,
          "type": "string"
        },
        "consumerGroup": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current consumer group being used by the connection.",
          "enumDescriptions": [
            "Default unspecified value.",
            "High consumer group.",
            "Medium consumer group.",
            "Low consumer group.",
            "TP consumer group.",
            "TPURGENT consumer group."
          ],
          "enum": [
            "CONSUMER_GROUP_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "TP",
            "TPURGENT"
          ]
        },
        "isRegional": {
          "readOnly": true,
          "description": "Output only. This field indicates if the connection string is regional and is only applicable for cross-region Data Guard.",
          "type": "boolean"
        },
        "syntaxFormat": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Long",
            "Ezconnect",
            "Ezconnectplus"
          ],
          "description": "Output only. The syntax of the connection string.",
          "readOnly": true,
          "enum": [
            "SYNTAX_FORMAT_UNSPECIFIED",
            "LONG",
            "EZCONNECT",
            "EZCONNECTPLUS"
          ]
        },
        "tlsAuthentication": {
          "description": "Output only. This field indicates the TLS authentication type of the connection.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Server",
            "Mutual"
          ],
          "type": "string",
          "enum": [
            "TLS_AUTHENTICATION_UNSPECIFIED",
            "SERVER",
            "MUTUAL"
          ]
        }
      },
      "id": "DatabaseConnectionStringProfile",
      "description": "The connection string profile to allow clients to group. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/DatabaseConnectionStringProfile",
      "type": "object"
    },
    "DataCollectionOptionsDbSystem": {
      "type": "object",
      "id": "DataCollectionOptionsDbSystem",
      "properties": {
        "isIncidentLogsEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether to enable incident logs and trace collection."
        },
        "isDiagnosticsEventsEnabled": {
          "description": "Optional. Indicates whether to enable data collection for diagnostics.",
          "type": "boolean"
        }
      },
      "description": "Data collection options for DbSystem."
    },
    "GoldengateGenericConnectionProperties": {
      "id": "GoldengateGenericConnectionProperties",
      "description": "The properties of GoldengateGenericConnectionProperties.",
      "type": "object",
      "properties": {
        "host": {
          "type": "string",
          "description": "Optional. The host of the GenericConnection."
        },
        "technologyType": {
          "description": "Optional. The technology type.",
          "type": "string"
        }
      }
    },
    "ListEntitlementsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "entitlements": {
          "description": "The list of Entitlements",
          "items": {
            "$ref": "Entitlement"
          },
          "type": "array"
        }
      },
      "id": "ListEntitlementsResponse",
      "description": "The response for `Entitlement.List`.",
      "type": "object"
    },
    "DbNodeProperties": {
      "description": "Various properties and settings associated with Db node.",
      "properties": {
        "totalCpuCoreCount": {
          "description": "Total CPU core count of the database node.",
          "format": "int32",
          "type": "integer"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in stopping state.",
            "Indicates that the resource is in stopped state.",
            "Indicates that the resource is in starting state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state."
          ],
          "description": "Output only. State of the database node.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "STOPPING",
            "STOPPED",
            "STARTING",
            "TERMINATING",
            "TERMINATED",
            "FAILED"
          ]
        },
        "hostname": {
          "description": "Optional. DNS",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The date and time that the database node was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "memorySizeGb": {
          "description": "Memory allocated in GBs.",
          "type": "integer",
          "format": "int32"
        },
        "dbNodeStorageSizeGb": {
          "description": "Optional. Local storage per database node.",
          "format": "int32",
          "type": "integer"
        },
        "dbServerOcid": {
          "description": "Optional. Database server OCID.",
          "type": "string"
        },
        "ocid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. OCID of database node."
        },
        "ocpuCount": {
          "type": "integer",
          "description": "Optional. OCPU count per database node.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "DbNodeProperties"
    },
    "GoldengateAmazonS3ConnectionProperties": {
      "properties": {
        "endpoint": {
          "description": "Optional. The Amazon Endpoint for S3.",
          "type": "string"
        },
        "secretAccessKeySecret": {
          "description": "Optional. Secret access key to access the Amazon S3 bucket.",
          "type": "string"
        },
        "region": {
          "description": "Optional. The name of the AWS region where the bucket is created.",
          "type": "string"
        },
        "accessKeyId": {
          "description": "Optional. Access key ID to access the Amazon S3 bucket.",
          "type": "string"
        },
        "technologyType": {
          "description": "Optional. The technology type of AmazonS3Connection.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoldengateAmazonS3ConnectionProperties",
      "description": "The properties of GoldengateAmazonS3Connection."
    },
    "ListDbSystemsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "dbSystems": {
          "items": {
            "$ref": "DbSystem"
          },
          "type": "array",
          "description": "The list of DbSystems."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'."
        }
      },
      "id": "ListDbSystemsResponse",
      "type": "object",
      "description": "The response for `DbSystem.List`."
    },
    "GoldengateMaintenanceConfig": {
      "type": "object",
      "properties": {
        "securityPatchUpgradePeriodDays": {
          "type": "integer",
          "description": "Optional. Defines auto upgrade period for releases with security fix. Manually configured period cannot be longer than service defined period for security releases. Not passing this field during create will equate to using the service default.",
          "format": "int32"
        },
        "majorReleaseUpgradePeriodDays": {
          "format": "int32",
          "description": "Optional. Defines auto upgrade period for major releases. Manually configured period cannot be longer than service defined period for major releases. Not passing this field during create will equate to using the service default.",
          "type": "integer"
        },
        "bundleReleaseUpgradePeriodDays": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Defines auto upgrade period for bundle releases. Manually configured period cannot be longer than service defined period for bundle releases. This period must be shorter or equal to major release upgrade period. Not passing this field during create will equate to using the service default."
        },
        "interimReleaseUpgradePeriodDays": {
          "format": "int32",
          "description": "Optional. Defines auto upgrade period for interim releases. This period must be shorter or equal to bundle release upgrade period.",
          "type": "integer"
        },
        "isInterimReleaseAutoUpgradeEnabled": {
          "description": "Optional. By default auto upgrade for interim releases are not enabled. If auto-upgrade is enabled for interim release, you have to specify interim_release_upgrade_period_days too.",
          "type": "boolean"
        }
      },
      "id": "GoldengateMaintenanceConfig",
      "description": "The maintenance configuration of the GoldengateDeployment."
    },
    "AutonomousDatabaseConnectionStrings": {
      "type": "object",
      "description": "The connection string used to connect to the Autonomous Database. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/AutonomousDatabaseConnectionStrings",
      "id": "AutonomousDatabaseConnectionStrings",
      "properties": {
        "profiles": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. A list of connection string profiles to allow clients to group, filter, and select values based on the structured metadata.",
          "items": {
            "$ref": "DatabaseConnectionStringProfile"
          }
        },
        "allConnectionStrings": {
          "description": "Output only. Returns all connection strings that can be used to connect to the Autonomous Database.",
          "$ref": "AllConnectionStrings",
          "readOnly": true
        },
        "low": {
          "readOnly": true,
          "description": "Output only. The database service provides the least level of resources to each SQL statement.",
          "type": "string"
        },
        "dedicated": {
          "description": "Output only. The database service provides the least level of resources to each SQL statement, but supports the most number of concurrent SQL statements.",
          "readOnly": true,
          "type": "string"
        },
        "medium": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The database service provides a lower level of resources to each SQL statement."
        },
        "high": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The database service provides the highest level of resources to each SQL statement."
        }
      }
    },
    "RestartAutonomousDatabaseRequest": {
      "type": "object",
      "id": "RestartAutonomousDatabaseRequest",
      "description": "The request for `AutonomousDatabase.Restart`.",
      "properties": {}
    },
    "FailoverAutonomousDatabaseRequest": {
      "properties": {
        "peerAutonomousDatabase": {
          "type": "string",
          "description": "Optional. The peer database name to fail over to. Required for cross-region standby, and must be omitted for in-region Data Guard."
        }
      },
      "description": "The request for `OracleDatabase.FailoverAutonomousDatabase`.",
      "type": "object",
      "id": "FailoverAutonomousDatabaseRequest"
    },
    "DbSystemProperties": {
      "properties": {
        "initialDataStorageSizeGb": {
          "description": "Required. The initial data storage size in GB.",
          "format": "int32",
          "type": "integer"
        },
        "licenseModel": {
          "enum": [
            "LICENSE_MODEL_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ],
          "description": "Required. The license model of the DbSystem.",
          "enumDescriptions": [
            "The license model is unspecified.",
            "The license model is included.",
            "The license model is bring your own license."
          ],
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "Optional. The host domain name of the DbSystem."
        },
        "computeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The number of CPU cores to enable for the DbSystem."
        },
        "hostname": {
          "description": "Output only. The hostname of the DbSystem.",
          "type": "string",
          "readOnly": true
        },
        "ocid": {
          "description": "Output only. OCID of the DbSystem.",
          "type": "string",
          "readOnly": true
        },
        "dbSystemOptions": {
          "description": "Optional. The options for the DbSystem.",
          "$ref": "DbSystemOptions"
        },
        "dataCollectionOptions": {
          "$ref": "DataCollectionOptionsDbSystem",
          "description": "Optional. Data collection options for diagnostics."
        },
        "sshPublicKeys": {
          "description": "Required. SSH public keys to be stored with the DbSystem.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dataStorageSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The data storage size in GB that is currently available to DbSystems. The value is same as initial_data_storage_size_gb. This can be modified from OCI console."
        },
        "lifecycleState": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource has been migrated.",
            "Indicates that the resource is in maintenance in progress state.",
            "Indicates that the resource needs attention.",
            "Indicates that the resource is upgrading."
          ],
          "enum": [
            "DB_SYSTEM_LIFECYCLE_STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MIGRATED",
            "MAINTENANCE_IN_PROGRESS",
            "NEEDS_ATTENTION",
            "UPGRADING"
          ],
          "description": "Output only. State of the DbSystem."
        },
        "timeZone": {
          "description": "Optional. Time zone of the DbSystem.",
          "$ref": "TimeZone"
        },
        "computeModel": {
          "enum": [
            "COMPUTE_MODEL_UNSPECIFIED",
            "ECPU",
            "OCPU"
          ],
          "enumDescriptions": [
            "The compute model is unspecified.",
            "The compute model is virtual.",
            "Deprecated: This option is not supported. Please use ECPU instead. The compute model is physical."
          ],
          "description": "Optional. The compute model of the DbSystem.",
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "type": "string"
        },
        "recoStorageSizeGb": {
          "description": "Optional. The reco/redo storage size in GB. The value for recovery storage size is based on the available data storage size.",
          "format": "int32",
          "type": "integer"
        },
        "hostnamePrefix": {
          "type": "string",
          "description": "Optional. Prefix for DB System host names."
        },
        "dbHome": {
          "$ref": "DbHome",
          "description": "Optional. Details for creating a Database Home."
        },
        "databaseEdition": {
          "enumDescriptions": [
            "The database edition is unspecified.",
            "The database edition is Standard.",
            "The database edition is Enterprise.",
            "The database edition is Enterprise Edition."
          ],
          "description": "Required. The database edition of the DbSystem.",
          "type": "string",
          "enum": [
            "DB_SYSTEM_DATABASE_EDITION_UNSPECIFIED",
            "STANDARD_EDITION",
            "ENTERPRISE_EDITION",
            "ENTERPRISE_EDITION_HIGH_PERFORMANCE"
          ]
        },
        "memorySizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The memory size in GB. This value can not be set and is automatically calculated based on the number of ECPUs allocated to the DbSystem."
        },
        "shape": {
          "description": "Required. Shape of DB System.",
          "type": "string"
        },
        "privateIp": {
          "description": "Optional. The private IP address of the DbSystem.",
          "type": "string"
        },
        "nodeCount": {
          "description": "Optional. The number of nodes to launch for a virtual machine DbSystem. By default this will be set to 1.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "The properties of a DbSystem.",
      "id": "DbSystemProperties"
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "ScheduledOperationDetails": {
      "id": "ScheduledOperationDetails",
      "type": "object",
      "properties": {
        "dayOfWeek": {
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Output only. Day of week."
        },
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Output only. Auto start time.",
          "readOnly": true
        },
        "stopTime": {
          "$ref": "TimeOfDay",
          "description": "Output only. Auto stop time.",
          "readOnly": true
        }
      },
      "description": "Details of scheduled operation. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/ScheduledOperationDetails"
    },
    "ListAutonomousDatabasesResponse": {
      "id": "ListAutonomousDatabasesResponse",
      "description": "The response for `AutonomousDatabase.List`.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "autonomousDatabases": {
          "items": {
            "$ref": "AutonomousDatabase"
          },
          "type": "array",
          "description": "The list of Autonomous Databases."
        }
      },
      "type": "object"
    },
    "MinorVersion": {
      "properties": {
        "name": {
          "description": "Identifier. The name of the MinorVersion resource with the format: projects/{project}/locations/{region}/giVersions/{gi_version}/minorVersions/{minor_version}",
          "type": "string"
        },
        "version": {
          "description": "Optional. The valid Oracle grid infrastructure software version.",
          "type": "string"
        },
        "gridImageId": {
          "description": "Optional. The ID of the Grid Image.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MinorVersion",
      "description": "MinorVersion represents a minor version of a GI. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/GiMinorVersionSummary/"
    },
    "OdbSubnet": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the OdbSubnet resource in the following format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "TERMINATING",
            "FAILED"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in failed state."
          ],
          "description": "Output only. State of the ODB Subnet.",
          "type": "string"
        },
        "cidrRange": {
          "type": "string",
          "description": "Required. The CIDR range of the subnet."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels or tags associated with the resource."
        },
        "purpose": {
          "type": "string",
          "enum": [
            "PURPOSE_UNSPECIFIED",
            "CLIENT_SUBNET",
            "BACKUP_SUBNET"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Subnet to be used for client connections.",
            "Subnet to be used for backup."
          ],
          "description": "Required. Purpose of the subnet."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The date and time that the OdbNetwork was created.",
          "readOnly": true
        }
      },
      "id": "OdbSubnet",
      "description": "Represents OdbSubnet resource."
    },
    "AutonomousDatabaseConnectionUrls": {
      "properties": {
        "graphStudioUri": {
          "readOnly": true,
          "description": "Output only. The URL of the Graph Studio for the Autonomous Database.",
          "type": "string"
        },
        "machineLearningUserManagementUri": {
          "description": "Output only. The URL of Machine Learning user management the Autonomous Database.",
          "type": "string",
          "readOnly": true
        },
        "ordsUri": {
          "description": "Output only. The Oracle REST Data Services (ORDS) URL of the Web Access for the Autonomous Database.",
          "type": "string",
          "readOnly": true
        },
        "machineLearningNotebookUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The URL of the Oracle Machine Learning (OML) Notebook for the Autonomous Database."
        },
        "apexUri": {
          "description": "Output only. Oracle Application Express (APEX) URL.",
          "readOnly": true,
          "type": "string"
        },
        "mongoDbUri": {
          "description": "Output only. The URL of the MongoDB API for the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "sqlDevWebUri": {
          "readOnly": true,
          "description": "Output only. The URL of the Oracle SQL Developer Web for the Autonomous Database.",
          "type": "string"
        },
        "databaseTransformsUri": {
          "description": "Output only. The URL of the Database Transforms for the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "AutonomousDatabaseConnectionUrls",
      "description": "The URLs for accessing Oracle Application Express (APEX) and SQL Developer Web with a browser from a Compute instance. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/AutonomousDatabaseConnectionUrls"
    },
    "GoldengateAmazonRedshiftConnectionProperties": {
      "properties": {
        "passwordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses for Amazon Redshift connection. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "username": {
          "type": "string",
          "description": "Optional. The username Oracle Goldengate uses to connect the associated system of the given technology."
        },
        "password": {
          "description": "Optional. Input only. The password Oracle Goldengate uses for Amazon Redshift connection in plain text.",
          "type": "string"
        },
        "connectionUrl": {
          "description": "Optional. Connection URL. e.g.: 'jdbc:redshift://aws-redshift-instance.aaaaaaaaaaaa.us-east-2.redshift.amazonaws.com:5439/mydb'",
          "type": "string"
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of AmazonRedshiftConnection."
        }
      },
      "type": "object",
      "id": "GoldengateAmazonRedshiftConnectionProperties",
      "description": "The properties of GoldengateAmazonRedshiftConnection."
    },
    "CustomerContact": {
      "description": "The CustomerContact reference as defined by Oracle. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/CustomerContact",
      "properties": {
        "email": {
          "type": "string",
          "description": "Required. The email address used by Oracle to send notifications regarding databases and infrastructure."
        }
      },
      "type": "object",
      "id": "CustomerContact"
    },
    "DeploymentDiagnosticData": {
      "type": "object",
      "properties": {
        "diagnosticEndTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time diagnostic end.",
          "type": "string"
        },
        "diagnosticStartTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time diagnostic start.",
          "type": "string"
        },
        "diagnosticState": {
          "enum": [
            "DIAGNOSTIC_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The diagnostic state is unspecified.",
            "The diagnostic is in progress.",
            "The diagnostic completed successfully.",
            "The diagnostic failed."
          ],
          "description": "Output only. The diagnostic state."
        },
        "bucket": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The bucket name."
        },
        "namespace": {
          "description": "Output only. The namespace name.",
          "readOnly": true,
          "type": "string"
        },
        "object": {
          "description": "Output only. The object name.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "DeploymentDiagnosticData",
      "description": "The deployment diagnostic data."
    },
    "CloudVmCluster": {
      "id": "CloudVmCluster",
      "type": "object",
      "description": "Details of the Cloud VM Cluster resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/CloudVmCluster/",
      "properties": {
        "exadataInfrastructure": {
          "description": "Required. The name of the Exadata Infrastructure resource on which VM cluster resource is created, in the following format: projects/{project}/locations/{region}/cloudExadataInfrastuctures/{cloud_extradata_infrastructure}",
          "type": "string"
        },
        "odbSubnet": {
          "type": "string",
          "description": "Optional. The name of the OdbSubnet associated with the VM Cluster for IP allocation. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}"
        },
        "createTime": {
          "description": "Output only. The date and time that the VM cluster was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "gcpOracleZone": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The GCP Oracle zone where Oracle CloudVmCluster is hosted. This will be the same as the gcp_oracle_zone of the CloudExadataInfrastructure. Example: us-east4-b-r2."
        },
        "displayName": {
          "description": "Optional. User friendly name for this resource.",
          "type": "string"
        },
        "cidr": {
          "description": "Optional. Network settings. CIDR to use for cluster IP allocation.",
          "type": "string"
        },
        "identityConnector": {
          "description": "Output only. The identity connector details which will allow OCI to securely access the resources in the customer project.",
          "readOnly": true,
          "$ref": "IdentityConnector"
        },
        "name": {
          "description": "Identifier. The name of the VM Cluster resource with the format: projects/{project}/locations/{region}/cloudVmClusters/{cloud_vm_cluster}",
          "type": "string"
        },
        "backupSubnetCidr": {
          "type": "string",
          "description": "Optional. CIDR range of the backup subnet."
        },
        "properties": {
          "description": "Optional. Various properties of the VM Cluster.",
          "$ref": "CloudVmClusterProperties"
        },
        "exascaleDbStorageVault": {
          "type": "string",
          "description": "Optional. The name of ExascaleDbStorageVault associated with the VM Cluster. Format: projects/{project}/locations/{location}/exascaleDbStorageVaults/{exascale_db_storage_vault}"
        },
        "backupOdbSubnet": {
          "type": "string",
          "description": "Optional. The name of the backup OdbSubnet associated with the VM Cluster. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}"
        },
        "network": {
          "description": "Optional. The name of the VPC network. Format: projects/{project}/global/networks/{network}",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels or tags associated with the VM Cluster."
        },
        "odbNetwork": {
          "description": "Optional. The name of the OdbNetwork associated with the VM Cluster. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network} It is optional but if specified, this should match the parent ODBNetwork of the odb_subnet and backup_odb_subnet.",
          "type": "string"
        }
      }
    },
    "GoldengateDeploymentProperties": {
      "id": "GoldengateDeploymentProperties",
      "type": "object",
      "description": "Properties of GoldengateDeployment.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the GoldengateDeployment was updated.",
          "readOnly": true
        },
        "nextMaintenanceTime": {
          "readOnly": true,
          "description": "Output only. The time of next maintenance of the GoldengateDeployment.",
          "format": "google-datetime",
          "type": "string"
        },
        "oggData": {
          "$ref": "GoldengateOggDeployment",
          "description": "Required. The ogg data of the GoldengateDeployment."
        },
        "deploymentType": {
          "type": "string",
          "description": "Required. A valid Goldengate Deployment type. For a list of supported types, use the `ListGoldengateDeploymentTypes` operation."
        },
        "maintenanceWindow": {
          "$ref": "GoldengateMaintenanceWindow",
          "description": "Optional. The maintenance window of the GoldengateDeployment."
        },
        "loadBalancerSubnetId": {
          "readOnly": true,
          "description": "Output only. The load balancer subnet id of the GoldengateDeployment.",
          "type": "string"
        },
        "roleChangeTime": {
          "description": "Output only. The time when the role of the GoldengateDeployment was changed.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "ingressIps": {
          "description": "Output only. The ingress ips of the GoldengateDeployment.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "IngressIp"
          }
        },
        "environmentType": {
          "description": "Optional. The environment type of the GoldengateDeployment.",
          "type": "string"
        },
        "lifecycleState": {
          "enumDescriptions": [
            "Default unspecified value.",
            "The deployment is being created.",
            "The deployment is being updated.",
            "The deployment is active.",
            "The deployment is inactive.",
            "The deployment is being deleted.",
            "The deployment is deleted.",
            "The deployment failed.",
            "The deployment needs attention.",
            "The deployment is in progress.",
            "The deployment is canceling.",
            "The deployment is canceled.",
            "The deployment succeeded.",
            "The deployment is waiting."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the GoldengateDeployment.",
          "enum": [
            "GOLDENGATE_DEPLOYMENT_LIFECYCLE_STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "ACTIVE",
            "INACTIVE",
            "DELETING",
            "DELETED",
            "FAILED",
            "NEEDS_ATTENTION",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED",
            "WAITING"
          ]
        },
        "isStorageUtilizationLimitExceeded": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether storage utilization limit is exceeded of the GoldengateDeployment."
        },
        "deploymentDiagnosticData": {
          "readOnly": true,
          "$ref": "DeploymentDiagnosticData",
          "description": "Output only. The deployment diagnostic data of the GoldengateDeployment."
        },
        "loadBalancerId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The load balancer id of the GoldengateDeployment."
        },
        "deploymentUrl": {
          "description": "Output only. The deployment url of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string"
        },
        "backupSchedule": {
          "$ref": "GoldengateBackupSchedule",
          "readOnly": true,
          "description": "Output only. The backup schedule of the GoldengateDeployment."
        },
        "nextMaintenanceActionType": {
          "description": "Output only. The next maintenance action type of the GoldengateDeployment.",
          "type": "string",
          "enumDescriptions": [
            "The next maintenance action type is unspecified.",
            "The next maintenance action type is upgrade."
          ],
          "enum": [
            "NEXT_MAINTENANCE_ACTION_TYPE_UNSPECIFIED",
            "UPGRADE"
          ],
          "readOnly": true
        },
        "cpuCoreCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The Minimum number of OCPUs to be made available for this Deployment."
        },
        "lastBackupScheduleTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time last backup scheduled of the GoldengateDeployment."
        },
        "deploymentRole": {
          "type": "string",
          "description": "Output only. The deployment role of the GoldengateDeployment.",
          "enum": [
            "GOLDENGATE_DEPLOYMENT_ROLE_TYPE_UNSPECIFIED",
            "PRIMARY",
            "STANDBY"
          ],
          "enumDescriptions": [
            "The deployment role type is unspecified.",
            "The deployment role type is primary.",
            "The deployment role type is standby."
          ],
          "readOnly": true
        },
        "oggVersionSupportEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time ogg version supported until of the GoldengateDeployment.",
          "readOnly": true
        },
        "storageUtilizationBytes": {
          "format": "int64",
          "description": "Output only. The storage utilization in bytes of the GoldengateDeployment.",
          "type": "string",
          "readOnly": true
        },
        "category": {
          "type": "string",
          "description": "Output only. The category of the GoldengateDeployment.",
          "enumDescriptions": [
            "The category is unspecified.",
            "The deployment is data replication.",
            "The deployment is data transforms."
          ],
          "enum": [
            "GOLDENGATE_DEPLOYMENT_CATEGORY_UNSPECIFIED",
            "DATA_REPLICATION",
            "DATA_TRANSFORMS"
          ],
          "readOnly": true
        },
        "isAutoScalingEnabled": {
          "description": "Optional. Indicates if auto scaling is enabled for the Deployment's CPU core count.",
          "type": "boolean"
        },
        "nsgIds": {
          "type": "array",
          "description": "Output only. The nsg ids of the GoldengateDeployment.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "nextMaintenanceDescription": {
          "description": "Output only. The next maintenance description of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string"
        },
        "nextBackupScheduleTime": {
          "format": "google-datetime",
          "description": "Output only. The time next backup scheduled of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string"
        },
        "licenseModel": {
          "enumDescriptions": [
            "The license model is unspecified.",
            "The license model is included.",
            "The license model is bring your own license."
          ],
          "description": "Optional. The Oracle license model that applies to a Deployment.",
          "enum": [
            "LICENSE_MODEL_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ],
          "type": "string"
        },
        "fqdn": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Fully Qualified Domain Name of the GoldengateDeployment."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the GoldengateDeployment."
        },
        "maintenanceConfig": {
          "$ref": "GoldengateMaintenanceConfig",
          "description": "Optional. The maintenance configuration of the GoldengateDeployment."
        },
        "lifecycleDetails": {
          "type": "string",
          "description": "Output only. The lifecycle details of the GoldengateDeployment.",
          "readOnly": true
        },
        "isLatestVersion": {
          "readOnly": true,
          "description": "Output only. Whether the GoldengateDeployment is of the latest version.",
          "type": "boolean"
        },
        "upgradeRequiredTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time upgrade required of the GoldengateDeployment."
        },
        "publicIpAddress": {
          "type": "string",
          "description": "Output only. The public ip address of the GoldengateDeployment.",
          "readOnly": true
        },
        "privateIpAddress": {
          "description": "Output only. The private ip address of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string"
        },
        "healthy": {
          "description": "Output only. Whether the GoldengateDeployment is healthy.",
          "readOnly": true,
          "type": "boolean"
        },
        "lifecycleSubState": {
          "type": "string",
          "enumDescriptions": [
            "The lifecycle sub-state is unspecified.",
            "The deployment is recovering.",
            "The deployment is starting.",
            "The deployment is stopping.",
            "The deployment is moving.",
            "The deployment is upgrading.",
            "The deployment is restoring.",
            "The deployment is backing up.",
            "The deployment is rolling back."
          ],
          "readOnly": true,
          "enum": [
            "GOLDENGATE_DEPLOYMENT_LIFECYCLE_SUB_STATE_UNSPECIFIED",
            "RECOVERING",
            "STARTING",
            "STOPPING",
            "MOVING",
            "UPGRADING",
            "RESTORING",
            "BACKING_UP",
            "ROLLING_BACK"
          ],
          "description": "Output only. The lifecycle sub-state of the GoldengateDeployment."
        },
        "deploymentBackupId": {
          "description": "Output only. The deployment backup id of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string"
        },
        "locks": {
          "readOnly": true,
          "items": {
            "$ref": "GoldengateDeploymentLock"
          },
          "description": "Output only. The locks of the GoldengateDeployment.",
          "type": "array"
        },
        "ocid": {
          "description": "Output only. OCID of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string"
        },
        "isPublic": {
          "description": "Output only. Whether the GoldengateDeployment is public.",
          "readOnly": true,
          "type": "boolean"
        },
        "placements": {
          "description": "Output only. The placements of the GoldengateDeployment.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoldengatePlacement"
          }
        }
      }
    },
    "GoldengateDb2ConnectionProperties": {
      "type": "object",
      "properties": {
        "host": {
          "type": "string",
          "description": "Optional. The name or address of a host."
        },
        "username": {
          "type": "string",
          "description": "Optional. The username Oracle Goldengate uses to connect to the DB2 database."
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses for Db2 connection. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Input only. The password Oracle Goldengate uses for Db2 connection in plain text.",
          "type": "string"
        },
        "technologyType": {
          "description": "Optional. The technology type of Db2Connection.",
          "type": "string"
        },
        "additionalAttributes": {
          "items": {
            "$ref": "NameValuePair"
          },
          "type": "array",
          "description": "Optional. An array of name-value pair attribute entries. Used as additional parameters in connection string."
        },
        "sslClientKeystashFile": {
          "description": "Optional. The keystash file which contains the encrypted password to the key database file. Not supported for IBM Db2 for i.",
          "type": "string"
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The port of an endpoint usually specified for a connection."
        },
        "securityProtocol": {
          "description": "Optional. Security protocol for the DB2 database.",
          "type": "string",
          "enumDescriptions": [
            "Security protocol not specified.",
            "Plain text communication.",
            "Transport Layer Security."
          ],
          "enum": [
            "DB2_SECURITY_PROTOCOL_UNSPECIFIED",
            "PLAIN",
            "TLS"
          ]
        },
        "database": {
          "type": "string",
          "description": "Optional. The name of the database."
        },
        "sslServerCertificateFile": {
          "type": "string",
          "description": "Optional. The file which contains the self-signed server certificate / Certificate Authority (CA) certificate."
        },
        "sslClientKeystoredbFile": {
          "description": "Optional. The keystore file created at the client containing the server certificate / CA root certificate. Not supported for IBM Db2 for i.",
          "type": "string"
        }
      },
      "description": "The properties of GoldengateDb2Connection.",
      "id": "GoldengateDb2ConnectionProperties"
    },
    "ListExascaleDbStorageVaultsResponse": {
      "type": "object",
      "description": "The response for `ExascaleDbStorageVault.List`.",
      "id": "ListExascaleDbStorageVaultsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return. If present, the next page token can be provided to a subsequent ListExascaleDbStorageVaults call to list the next page. If empty, there are no more pages."
        },
        "exascaleDbStorageVaults": {
          "type": "array",
          "description": "The ExascaleDbStorageVaults.",
          "items": {
            "$ref": "ExascaleDbStorageVault"
          }
        }
      }
    },
    "TestGoldengateConnectionAssignmentRequest": {
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is unused.",
            "The default connection test."
          ],
          "enum": [
            "TEST_TYPE_UNSPECIFIED",
            "DEFAULT"
          ],
          "description": "Optional. The type of the test of the assigned connection. The only type actually supported is DEFAULT."
        }
      },
      "id": "TestGoldengateConnectionAssignmentRequest",
      "type": "object",
      "description": "Request message for TestGoldengateConnectionAssignment."
    },
    "GoldengateOggDeployment": {
      "properties": {
        "identityDomainId": {
          "readOnly": true,
          "description": "Output only. The identity domain id of the GoldengateDeployment.",
          "type": "string"
        },
        "passwordSecretId": {
          "description": "Output only. The password secret id of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string"
        },
        "credentialStore": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The credential store is unspecified.",
            "The credential store is Goldengate.",
            "The credential store is IAM."
          ],
          "enum": [
            "CREDENTIAL_STORE_UNSPECIFIED",
            "GOLDENGATE",
            "IAM"
          ],
          "description": "Output only. The credential store of the GoldengateDeployment."
        },
        "adminUsername": {
          "description": "Required. The Goldengate deployment console username.",
          "type": "string"
        },
        "certificate": {
          "readOnly": true,
          "description": "Output only. The certificate of the GoldengateDeployment.",
          "type": "string"
        },
        "groupRolesMapping": {
          "readOnly": true,
          "$ref": "GoldengateGroupToRolesMapping",
          "description": "Output only. The group to roles mapping of the GoldengateDeployment."
        },
        "adminPassword": {
          "description": "Optional. The Goldengate deployment console password in plain text.",
          "type": "string"
        },
        "adminPasswordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The Goldengate deployment console password secret version."
        },
        "deployment": {
          "type": "string",
          "description": "Required. The name given to the Goldengate service deployment. The name must be 1 to 32 characters long, must contain only alphanumeric characters and must start with a letter."
        },
        "oggVersion": {
          "type": "string",
          "description": "Optional. Version of OGG"
        }
      },
      "id": "GoldengateOggDeployment",
      "type": "object",
      "description": "The Ogg data of the GoldengateDeployment."
    },
    "IngressIp": {
      "properties": {
        "ingressIpAddress": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ingress IP."
        }
      },
      "description": "The ingress IPs of the GoldengateDeployment.",
      "id": "IngressIp",
      "type": "object"
    },
    "PluggableDatabaseNodeLevelDetails": {
      "type": "object",
      "id": "PluggableDatabaseNodeLevelDetails",
      "properties": {
        "pluggableDatabaseId": {
          "description": "Required. The OCID of the Pluggable Database.",
          "type": "string"
        },
        "nodeName": {
          "type": "string",
          "description": "Required. The Node name of the Database home."
        },
        "openMode": {
          "description": "Required. The mode that the pluggable database is in to open it.",
          "type": "string",
          "enum": [
            "PLUGGABLE_DATABASE_OPEN_MODE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE",
            "MOUNTED",
            "MIGRATE"
          ],
          "enumDescriptions": [
            "The open mode is unspecified.",
            "The pluggable database is opened in read-only mode.",
            "The pluggable database is opened in read-write mode.",
            "The pluggable database is mounted.",
            "The pluggable database is migrated."
          ]
        }
      },
      "description": "The Pluggable Database Node Level Details."
    },
    "GoldengateAmazonKinesisConnectionProperties": {
      "id": "GoldengateAmazonKinesisConnectionProperties",
      "type": "object",
      "properties": {
        "secretAccessKeySecret": {
          "type": "string",
          "description": "Optional. Secret access key to access the Amazon Kinesis."
        },
        "endpoint": {
          "type": "string",
          "description": "Optional. The endpoint URL of the Amazon Kinesis service. e.g.: 'https://kinesis.us-east-1.amazonaws.com' If not provided, Goldengate will default to 'https://kinesis..amazonaws.com'."
        },
        "accessKeyId": {
          "type": "string",
          "description": "Optional. Access key ID to access the Amazon Kinesis."
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of AmazonKinesisConnection."
        },
        "awsRegion": {
          "type": "string",
          "description": "Optional. The name of the AWS region. If not provided, Goldengate will default to 'us-west-1'."
        }
      },
      "description": "The properties of GoldengateAmazonKinesisConnection."
    },
    "ListOdbSubnetsResponse": {
      "properties": {
        "odbSubnets": {
          "description": "The list of ODB Subnets.",
          "type": "array",
          "items": {
            "$ref": "OdbSubnet"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListOdbSubnetsResponse",
      "description": "The response for `OdbSubnet.List`.",
      "type": "object"
    },
    "Operation": {
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      },
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "RestIcebergCatalog": {
      "type": "object",
      "properties": {
        "uri": {
          "description": "Required. The REST uri.",
          "type": "string"
        },
        "properties": {
          "type": "string",
          "description": "Optional. The base64 encoded content of the configuration file containing additional properties for the REST catalog."
        }
      },
      "description": "The REST Iceberg catalog.",
      "id": "RestIcebergCatalog"
    },
    "KafkaBootstrapServer": {
      "properties": {
        "privateIpAddress": {
          "type": "string",
          "description": "Optional. The private IP address of the connection's endpoint in the customer's VCN, typically a database endpoint or a big data endpoint (e.g. Kafka bootstrap server). In case the privateIp is provided, the subnetId must also be provided. In case the privateIp (and the subnetId) is not provided it is assumed the datasource is publicly accessible. In case the connection is accessible only privately, the lack of privateIp will result in not being able to access the connection."
        },
        "host": {
          "type": "string",
          "description": "Required. The name or address of a host."
        },
        "port": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The port of an endpoint usually specified for a connection."
        }
      },
      "description": "Represents a Kafka bootstrap server with host name, optional port defaults to 9092, and an optional private ip.",
      "type": "object",
      "id": "KafkaBootstrapServer"
    },
    "EncryptionKeyHistoryEntry": {
      "id": "EncryptionKeyHistoryEntry",
      "description": "The history of the encryption keys used to encrypt the Autonomous Database.",
      "type": "object",
      "properties": {
        "encryptionKey": {
          "$ref": "EncryptionKey",
          "readOnly": true,
          "description": "Output only. The encryption key used to encrypt the Autonomous Database."
        },
        "activationTime": {
          "type": "string",
          "description": "Output only. The date and time when the encryption key was activated on the Autonomous Database..",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "AutonomousDatabase": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Optional. Immutable. The display name for the Autonomous Database. The name does not have to be unique within your project.",
          "type": "string"
        },
        "cidr": {
          "type": "string",
          "description": "Optional. Immutable. The subnet CIDR range for the Autonomous Database."
        },
        "properties": {
          "$ref": "AutonomousDatabaseProperties",
          "description": "Optional. The properties of the Autonomous Database."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Autonomous Database resource in the following format: projects/{project}/locations/{region}/autonomousDatabases/{autonomous_database}"
        },
        "database": {
          "description": "Optional. Immutable. The name of the Autonomous Database. The database name must be unique in the project. The name must begin with a letter and can contain a maximum of 30 alphanumeric characters.",
          "type": "string"
        },
        "odbSubnet": {
          "type": "string",
          "description": "Optional. Immutable. The name of the OdbSubnet associated with the Autonomous Database. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}"
        },
        "sourceConfig": {
          "description": "Optional. Immutable. The source Autonomous Database configuration for the standby Autonomous Database. The source Autonomous Database is configured while creating the Peer Autonomous Database and can't be updated after creation.",
          "$ref": "SourceConfig"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The date and time that the Autonomous Database was created.",
          "readOnly": true,
          "type": "string"
        },
        "adminPasswordSecretVersion": {
          "description": "Optional. Immutable. The resource name of a secret version in Secret Manager which contains the database admin user's password. Format: projects/{project}/secrets/{secret}/versions/{version}. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated.",
          "type": "string"
        },
        "entitlementId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the subscription entitlement associated with the Autonomous Database."
        },
        "network": {
          "type": "string",
          "description": "Optional. Immutable. The name of the VPC network used by the Autonomous Database in the following format: projects/{project}/global/networks/{network}"
        },
        "odbNetwork": {
          "description": "Optional. Immutable. The name of the OdbNetwork associated with the Autonomous Database. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network} It is optional but if specified, this should match the parent ODBNetwork of the OdbSubnet.",
          "type": "string"
        },
        "adminPassword": {
          "description": "Optional. Immutable. The password for the default ADMIN user. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated.",
          "type": "string"
        },
        "peerAutonomousDatabases": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The peer Autonomous Database names of the given Autonomous Database."
        },
        "disasterRecoverySupportedLocations": {
          "type": "array",
          "description": "Output only. List of supported GCP region to clone the Autonomous Database for disaster recovery. Format: `project/{project}/locations/{location}`.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels or tags associated with the Autonomous Database.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "AutonomousDatabase",
      "description": "Details of the Autonomous Database resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/AutonomousDatabase/"
    },
    "CloudAccountDetails": {
      "properties": {
        "cloudAccountHomeRegion": {
          "description": "Output only. OCI account home region.",
          "type": "string",
          "readOnly": true
        },
        "linkExistingAccountUri": {
          "type": "string",
          "description": "Output only. URL to link an existing account.",
          "readOnly": true
        },
        "accountCreationUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URL to create a new account and link."
        },
        "cloudAccount": {
          "type": "string",
          "description": "Output only. OCI account name.",
          "readOnly": true
        }
      },
      "description": "Details of the OCI Cloud Account.",
      "type": "object",
      "id": "CloudAccountDetails"
    },
    "StopGoldengateDeploymentRequest": {
      "description": "The request for `GoldengateDeployment.Stop`.",
      "id": "StopGoldengateDeploymentRequest",
      "properties": {},
      "type": "object"
    },
    "GoldengateSnowflakeConnectionProperties": {
      "type": "object",
      "properties": {
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses to connect to Snowflake platform. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "privateKeyPassphraseSecret": {
          "type": "string",
          "description": "Optional. Password if the private key file is encrypted."
        },
        "privateKeyFile": {
          "description": "Optional. The content of private key file in PEM format.",
          "type": "string"
        },
        "authenticationType": {
          "type": "string",
          "enumDescriptions": [
            "Authentication type not specified.",
            "Basic authentication.",
            "Key pair authentication."
          ],
          "enum": [
            "AUTHENTICATION_TYPE_UNSPECIFIED",
            "BASIC",
            "KEY_PAIR"
          ],
          "description": "Optional. Used authentication mechanism to access Snowflake."
        },
        "connectionUrl": {
          "description": "Optional. JDBC connection URL. e.g.: 'jdbc:snowflake://.snowflakecomputing.com/?warehouse=&db='",
          "type": "string"
        },
        "password": {
          "description": "Optional. Input only. The password Oracle Goldengate uses to connect to Snowflake platform in plain text.",
          "type": "string"
        },
        "technologyType": {
          "description": "Optional. The technology type of SnowflakeConnection.",
          "type": "string"
        },
        "username": {
          "description": "Optional. The username Oracle Goldengate uses to connect to Snowflake.",
          "type": "string"
        }
      },
      "id": "GoldengateSnowflakeConnectionProperties",
      "description": "The properties of GoldengateSnowflakeConnection."
    },
    "DbVersion": {
      "properties": {
        "name": {
          "description": "Output only. The name of the DbVersion resource in the following format: projects/{project}/locations/{region}/dbVersions/{db_version}",
          "readOnly": true,
          "type": "string"
        },
        "properties": {
          "description": "Output only. The properties of the DbVersion.",
          "$ref": "DbVersionProperties",
          "readOnly": true
        }
      },
      "id": "DbVersion",
      "type": "object",
      "description": "A valid Oracle Database version."
    },
    "ExascaleDbStorageVault": {
      "type": "object",
      "properties": {
        "entitlementId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the subscription entitlement associated with the ExascaleDbStorageVault."
        },
        "exadataInfrastructure": {
          "type": "string",
          "description": "Optional. The Exadata Infrastructure resource on which ExascaleDbStorageVault resource is created, in the following format: projects/{project}/locations/{region}/cloudExadataInfrastuctures/{cloud_extradata_infrastructure}"
        },
        "properties": {
          "$ref": "ExascaleDbStorageVaultProperties",
          "description": "Required. The properties of the ExascaleDbStorageVault."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The date and time when the ExascaleDbStorageVault was created."
        },
        "gcpOracleZone": {
          "description": "Optional. The GCP Oracle zone where Oracle ExascaleDbStorageVault is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels or tags associated with the ExascaleDbStorageVault."
        },
        "name": {
          "description": "Identifier. The resource name of the ExascaleDbStorageVault. Format: projects/{project}/locations/{location}/exascaleDbStorageVaults/{exascale_db_storage_vault}",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name for the ExascaleDbStorageVault. The name does not have to be unique within your project. The name must be 1-255 characters long and can only contain alphanumeric characters.",
          "type": "string"
        }
      },
      "id": "ExascaleDbStorageVault",
      "description": "ExascaleDbStorageVault represents a storage vault exadb vm cluster resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/ExascaleDbStorageVault/"
[...]
