{
  "documentationLink": "https://cloud.google.com/oracle/database/docs",
  "servicePath": "",
  "name": "oracledatabase",
  "version": "v1",
  "basePath": "",
  "mtlsRootUrl": "https://oracledatabase.mtls.googleapis.com/",
  "ownerName": "Google",
  "revision": "20260821",
  "id": "oracledatabase:v1",
  "rootUrl": "https://oracledatabase.googleapis.com/",
  "discoveryVersion": "v1",
  "title": "Oracle Database@Google Cloud API",
  "ownerDomain": "google.com",
  "baseUrl": "https://oracledatabase.googleapis.com/",
  "kind": "discovery#restDescription",
  "schemas": {
    "GoldengateConnectionAssignmentProperties": {
      "id": "GoldengateConnectionAssignmentProperties",
      "description": "The properties of a GoldengateConnectionAssignment.",
      "type": "object",
      "properties": {
        "goldengateConnection": {
          "type": "string",
          "description": "Required. The GoldengateConnection resource to be assigned. Format: projects/{project}/locations/{location}/goldengateConnections/{goldengate_connection}"
        },
        "goldengateDeployment": {
          "description": "Required. The GoldenGateDeployment to assign the connection to. Format: projects/{project}/locations/{location}/goldengateDeployments/{goldengate_deployment}",
          "type": "string"
        },
        "ocid": {
          "description": "Output only. The [OCID](https://docs.cloud.oracle.com/Content/General/Concepts/identifiers.htm) of the connection assignment being referenced.",
          "readOnly": true,
          "type": "string"
        },
        "alias": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Credential store alias."
        },
        "state": {
          "enumDescriptions": [
            "Lifecycle state is unspecified.",
            "Connection assignment is being created.",
            "Connection assignment is active.",
            "Connection assignment failed.",
            "Connection assignment is being updated.",
            "Connection assignment is being deleted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED",
            "UPDATING",
            "DELETING"
          ],
          "readOnly": true,
          "description": "Output only. The lifecycle state of the connection assignment."
        }
      }
    },
    "NameValuePair": {
      "type": "object",
      "id": "NameValuePair",
      "description": "A name-value pair representing an attribute entry usable in a list of attributes.",
      "properties": {
        "key": {
          "description": "Required. The name of the property entry.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Required. The value of the property entry."
        }
      }
    },
    "DatabaseCharacterSet": {
      "description": "Details of the Database character set resource.",
      "properties": {
        "characterSetType": {
          "readOnly": true,
          "enumDescriptions": [
            "Character set type is not specified.",
            "Character set type is set to database.",
            "Character set type is set to national."
          ],
          "type": "string",
          "description": "Output only. The character set type for the Database.",
          "enum": [
            "CHARACTER_SET_TYPE_UNSPECIFIED",
            "DATABASE",
            "NATIONAL"
          ]
        },
        "name": {
          "description": "Identifier. The name of the Database Character Set resource in the following format: projects/{project}/locations/{region}/databaseCharacterSets/{database_character_set}",
          "type": "string"
        },
        "characterSet": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The character set name for the Database which is the ID in the resource name."
        }
      },
      "type": "object",
      "id": "DatabaseCharacterSet"
    },
    "MinorVersion": {
      "type": "object",
      "description": "MinorVersion represents a minor version of a GI. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/GiMinorVersionSummary/",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the MinorVersion resource with the format: projects/{project}/locations/{region}/giVersions/{gi_version}/minorVersions/{minor_version}"
        },
        "version": {
          "description": "Optional. The valid Oracle grid infrastructure software version.",
          "type": "string"
        },
        "gridImageId": {
          "type": "string",
          "description": "Optional. The ID of the Grid Image."
        }
      },
      "id": "MinorVersion"
    },
    "GoldengateGooglePubsubConnectionProperties": {
      "type": "object",
      "description": "The properties of GoldengateGooglePubsubConnection.",
      "id": "GoldengateGooglePubsubConnectionProperties",
      "properties": {
        "serviceAccountKeyFile": {
          "type": "string",
          "description": "Optional. The base64 encoded content of the service account key file containing the credentials required to use Google Pub/Sub."
        },
        "technologyType": {
          "description": "Optional. The technology type of GooglePubsubConnection.",
          "type": "string"
        }
      }
    },
    "GoogleCloudStorageIcebergStorage": {
      "type": "object",
      "description": "The Google Cloud Storage Iceberg storage.",
      "id": "GoogleCloudStorageIcebergStorage",
      "properties": {
        "projectId": {
          "description": "Required. The project ID of Google Cloud Storage.",
          "type": "string"
        },
        "bucket": {
          "description": "Required. The bucket of Google Cloud Storage.",
          "type": "string"
        },
        "serviceAccountKeyFile": {
          "type": "string",
          "description": "Optional. The base64 encoded content of the service account key file of Google Cloud Storage."
        }
      }
    },
    "DbSystemShape": {
      "description": "Details of the Database System Shapes resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/DbSystemShapeSummary/",
      "id": "DbSystemShape",
      "properties": {
        "availableMemoryPerNodeGb": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Memory per database server node in gigabytes."
        },
        "minDbNodeStoragePerNodeGb": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Minimum node storage per database server in gigabytes."
        },
        "availableCoreCountPerNode": {
          "description": "Optional. Number of cores per node.",
          "type": "integer",
          "format": "int32"
        },
        "availableCoreCount": {
          "type": "integer",
          "description": "Optional. Available core count.",
          "format": "int32"
        },
        "coreCountIncrement": {
          "description": "Optional. Core count increment.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Database System Shape resource with the format: projects/{project}/locations/{region}/dbSystemShapes/{db_system_shape}"
        },
        "shape": {
          "type": "string",
          "description": "Optional. shape"
        },
        "availableDataStorageTb": {
          "description": "Optional. Storage per storage server in terabytes.",
          "format": "int32",
          "type": "integer"
        },
        "minNodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Minimum number of database servers."
        },
        "maxStorageCount": {
          "description": "Optional. Maximum number of storage servers.",
          "type": "integer",
          "format": "int32"
        },
        "minStorageCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Minimum number of storage servers."
        },
        "minMemoryPerNodeGb": {
          "description": "Optional. Minimum memory per node in gigabytes.",
          "type": "integer",
          "format": "int32"
        },
        "minimumCoreCount": {
          "format": "int32",
          "description": "Optional. Minimum core count per node.",
          "type": "integer"
        },
        "minCoreCountPerNode": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Minimum core count per node."
        },
        "maxNodeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Maximum number of database servers."
        }
      },
      "type": "object"
    },
    "DbVersionProperties": {
      "id": "DbVersionProperties",
      "type": "object",
      "properties": {
        "version": {
          "description": "Output only. A valid Oracle Database version.",
          "readOnly": true,
          "type": "string"
        },
        "supportsPdb": {
          "readOnly": true,
          "description": "Output only. True if this version of the Oracle Database software supports pluggable databases.",
          "type": "boolean"
        },
        "isPreviewDbVersion": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. True if this version of the Oracle Database software is the preview version."
        },
        "isLatestForMajorVersion": {
          "description": "Output only. True if this version of the Oracle Database software is the latest version for a release.",
          "readOnly": true,
          "type": "boolean"
        },
        "isUpgradeSupported": {
          "description": "Output only. True if this version of the Oracle Database software is supported for Upgrade.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "description": "The properties of a DbVersion."
    },
    "GoldengateIcebergConnectionProperties": {
      "type": "object",
      "id": "GoldengateIcebergConnectionProperties",
      "properties": {
        "catalog": {
          "description": "Required. The Iceberg catalog.",
          "$ref": "IcebergCatalog"
        },
        "storage": {
          "description": "Required. The Iceberg storage.",
          "$ref": "IcebergStorage"
        },
        "technologyType": {
          "description": "Required. The technology type of Iceberg connection.",
          "type": "string"
        }
      },
      "description": "The properties of GoldengateIcebergConnection."
    },
    "CustomerContact": {
      "type": "object",
      "id": "CustomerContact",
      "description": "The CustomerContact reference as defined by Oracle. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/CustomerContact",
      "properties": {
        "email": {
          "type": "string",
          "description": "Required. The email address used by Oracle to send notifications regarding databases and infrastructure."
        }
      }
    },
    "NessieIcebergCatalog": {
      "id": "NessieIcebergCatalog",
      "properties": {
        "branch": {
          "description": "Required. The Nessie branch.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Required. The Nessie uri."
        }
      },
      "type": "object",
      "description": "The Nessie Iceberg catalog."
    },
    "GoldengateMicrosoftFabricConnectionProperties": {
      "description": "The properties of GoldengateMicrosoftFabricConnection.",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "Optional. Azure tenant ID of the application."
        },
        "clientId": {
          "description": "Optional. Azure client ID of the application.",
          "type": "string"
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of MicrosoftFabricConnection."
        },
        "clientSecret": {
          "type": "string",
          "description": "Optional. Client secret associated with the client id."
        },
        "endpoint": {
          "type": "string",
          "description": "Optional. Optional Microsoft Fabric service endpoint. Default value: https://onelake.dfs.fabric.microsoft.com"
        }
      },
      "id": "GoldengateMicrosoftFabricConnectionProperties",
      "type": "object"
    },
    "DbSystemInitialStorageSize": {
      "description": "Summary of the DbSystem initial storage size.",
      "properties": {
        "name": {
          "description": "Output only. The name of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "properties": {
          "description": "Output only. The properties of the DbSystem initial storage size summary.",
          "$ref": "DbSystemInitialStorageSizeProperties",
          "readOnly": true
        }
      },
      "id": "DbSystemInitialStorageSize",
      "type": "object"
    },
    "ListMinorVersionsResponse": {
      "description": "The response for `MinorVersion.List`.",
      "properties": {
        "minorVersions": {
          "items": {
            "$ref": "MinorVersion"
          },
          "type": "array",
          "description": "The list of MinorVersions."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "id": "ListMinorVersionsResponse",
      "type": "object"
    },
    "ListGoldengateConnectionsResponse": {
      "type": "object",
      "id": "ListGoldengateConnectionsResponse",
      "properties": {
        "goldengateConnections": {
          "description": "The list of GoldengateConnections.",
          "type": "array",
          "items": {
            "$ref": "GoldengateConnection"
          }
        },
        "unreachable": {
          "description": "Optional. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "The response for `GoldengateConnection.List`."
    },
    "ListGoldengateConnectionAssignmentsResponse": {
      "id": "ListGoldengateConnectionAssignmentsResponse",
      "type": "object",
      "description": "Response message for listing GoldengateConnectionAssignments.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "type": "array"
        },
        "goldengateConnectionAssignments": {
          "type": "array",
          "items": {
            "$ref": "GoldengateConnectionAssignment"
          },
          "description": "The list of GoldengateConnectionAssignments."
        }
      }
    },
    "GoldengateGenericConnectionProperties": {
      "description": "The properties of GoldengateGenericConnectionProperties.",
      "type": "object",
      "id": "GoldengateGenericConnectionProperties",
      "properties": {
        "host": {
          "type": "string",
          "description": "Optional. The host of the GenericConnection."
        },
        "technologyType": {
          "description": "Optional. The technology type.",
          "type": "string"
        }
      }
    },
    "StopAutonomousDatabaseRequest": {
      "description": "The request for `AutonomousDatabase.Stop`.",
      "properties": {},
      "id": "StopAutonomousDatabaseRequest",
      "type": "object"
    },
    "GoldengateJavaMessageServiceConnectionProperties": {
      "description": "The properties of GoldengateJavaMessageServiceConnection.",
      "id": "GoldengateJavaMessageServiceConnectionProperties",
      "properties": {
        "password": {
          "description": "Optional. Input only. The password Oracle Goldengate uses to connect the Java Message Service in plain text.",
          "type": "string"
        },
        "jndiSecurityCredentialsSecret": {
          "description": "Optional. The password associated to the principal.",
          "type": "string"
        },
        "jndiInitialContextFactory": {
          "description": "Optional. The implementation of javax.naming.spi.InitialContextFactory interface used to obtain initial naming context.",
          "type": "string"
        },
        "trustStorePassword": {
          "description": "Optional. Input only. The TrustStore password in plain text.",
          "type": "string"
        },
        "connectionFactory": {
          "description": "Optional. The Java class implementing javax.jms.ConnectionFactory interface supplied by the JMS provider.",
          "type": "string"
        },
        "connectionUrl": {
          "description": "Optional. Connection URL of the Java Message Service, specifying the protocol, host, and port. e.g.: 'mq://myjms.host.domain:7676'",
          "type": "string"
        },
        "jndiSecurityPrincipal": {
          "description": "Optional. Specifies the identity of the principal (user) to be authenticated.",
          "type": "string"
        },
        "jndiConnectionFactory": {
          "description": "Optional. The Connection Factory can be looked up using this name. e.g.: 'ConnectionFactory'",
          "type": "string"
        },
        "sslKeyPasswordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password for the cert inside of the KeyStore. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses to connect the associated Java Message Service. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "securityProtocol": {
          "enum": [
            "JMS_SECURITY_PROTOCOL_UNSPECIFIED",
            "PLAIN",
            "TLS",
            "MTLS"
          ],
          "enumDescriptions": [
            "Security protocol not specified.",
            "Plain text communication.",
            "Transport Layer Security.",
            "Mutual Transport Layer Security."
          ],
          "description": "Optional. Security protocol for Java Message Service.",
          "type": "string"
        },
        "sslKeyPassword": {
          "type": "string",
          "description": "Optional. Input only. The password for the cert inside of the KeyStore in plain text."
        },
        "keyStorePasswordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the KeyStore password. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "authenticationType": {
          "enum": [
            "JMS_AUTHENTICATION_TYPE_UNSPECIFIED",
            "NONE",
            "BASIC"
          ],
          "description": "Optional. Authentication type for Java Message Service.",
          "enumDescriptions": [
            "Authentication type not specified.",
            "No authentication.",
            "Basic authentication."
          ],
          "type": "string"
        },
        "technologyType": {
          "description": "Optional. The technology type of JavaMessageServiceConnection.",
          "type": "string"
        },
        "jndiProviderUrl": {
          "description": "Optional. The URL that Java Message Service will use to contact the JNDI provider. e.g.: 'tcp://myjms.host.domain:61616?jms.prefetchPolicy.all=1000'",
          "type": "string"
        },
        "keyStorePassword": {
          "description": "Optional. Input only. The KeyStore password in plain text.",
          "type": "string"
        },
        "username": {
          "description": "Optional. The username Oracle Goldengate uses to connect to the Java Message Service.",
          "type": "string"
        },
        "useJndi": {
          "description": "Optional. If set to true, Java Naming and Directory Interface (JNDI) properties should be provided.",
          "type": "boolean"
        },
        "keyStoreFile": {
          "description": "Optional. The base64 encoded content of the KeyStore file.",
          "type": "string"
        },
        "trustStorePasswordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the TrustStore password. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "trustStoreFile": {
          "description": "Optional. The base64 encoded content of the TrustStore file.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Database": {
      "id": "Database",
      "type": "object",
      "properties": {
        "adminPassword": {
          "type": "string",
          "description": "Optional. The password for the default ADMIN user. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated."
        },
        "gcpOracleZone": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The GCP Oracle zone where the Database is created."
        },
        "dbUniqueName": {
          "description": "Optional. The DB_UNIQUE_NAME of the Oracle Database being backed up.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The date and time that the Database was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "ociUrl": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. HTTPS link to OCI resources exposed to Customer via UI Interface."
        },
        "dbName": {
          "description": "Optional. The database name. The name must begin with an alphabetic character and can contain a maximum of eight alphanumeric characters. Special characters are not permitted.",
          "type": "string"
        },
        "databaseId": {
          "description": "Optional. The database ID of the Database.",
          "type": "string"
        },
        "dbHomeName": {
          "type": "string",
          "description": "Optional. The name of the DbHome resource associated with the Database."
        },
        "pluggableDatabaseName": {
          "description": "Optional. The pluggable database associated with the Database. The name must begin with an alphabetic character and can contain a maximum of thirty alphanumeric characters.",
          "type": "string"
        },
        "tdeWalletPassword": {
          "description": "Optional. The TDE wallet password for the database. Note: Only one of `tde_wallet_password_secret_version` or `tde_wallet_password` can be populated.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the Database resource in the following format: projects/{project}/locations/{region}/databases/{database}",
          "type": "string"
        },
        "characterSet": {
          "type": "string",
          "description": "Optional. The character set for the database. The default is AL32UTF8."
        },
        "adminPasswordSecretVersion": {
          "description": "Optional. The resource name of a secret version in Secret Manager which contains the database admin user's password. Format: projects/{project}/secrets/{secret}/versions/{version}. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated.",
          "type": "string"
        },
        "opsInsightsStatus": {
          "enum": [
            "OPERATIONS_INSIGHTS_STATUS_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "NOT_ENABLED",
            "FAILED_ENABLING",
            "FAILED_DISABLING"
          ],
          "type": "string",
          "description": "Output only. The Status of Operations Insights for this Database.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the operations insights are being enabled.",
            "Indicates that the operations insights are enabled.",
            "Indicates that the operations insights are being disabled.",
            "Indicates that the operations insights are not enabled.",
            "Indicates that the operations insights failed to enable.",
            "Indicates that the operations insights failed to disable."
          ]
        },
        "properties": {
          "$ref": "DatabaseProperties",
          "description": "Optional. The properties of the Database."
        },
        "pluggableDatabaseId": {
          "description": "Optional. The ID of the pluggable database associated with the Database. The ID must be unique within the project and location.",
          "type": "string"
        },
        "ncharacterSet": {
          "description": "Optional. The national character set for the database. The default is AL16UTF16.",
          "type": "string"
        },
        "tdeWalletPasswordSecretVersion": {
          "description": "Optional. The resource name of a secret version in Secret Manager which contains the TDE wallet password for the database. Format: projects/{project}/secrets/{secret}/versions/{version}. Note: Only one of `tde_wallet_password_secret_version` or `tde_wallet_password` can be populated.",
          "type": "string"
        }
      },
      "description": "Details of the Database resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/Database/"
    },
    "RestartAutonomousDatabaseRequest": {
      "description": "The request for `AutonomousDatabase.Restart`.",
      "properties": {},
      "id": "RestartAutonomousDatabaseRequest",
      "type": "object"
    },
    "CloudAccountDetails": {
      "id": "CloudAccountDetails",
      "properties": {
        "accountCreationUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. URL to create a new account and link."
        },
        "cloudAccount": {
          "type": "string",
          "description": "Output only. OCI account name.",
          "readOnly": true
        },
        "cloudAccountHomeRegion": {
          "description": "Output only. OCI account home region.",
          "readOnly": true,
          "type": "string"
        },
        "linkExistingAccountUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. URL to link an existing account."
        }
      },
      "description": "Details of the OCI Cloud Account.",
      "type": "object"
    },
    "DeploymentDiagnosticData": {
      "description": "The deployment diagnostic data.",
      "properties": {
        "object": {
          "description": "Output only. The object name.",
          "readOnly": true,
          "type": "string"
        },
        "diagnosticEndTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time diagnostic end."
        },
        "namespace": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The namespace name."
        },
        "diagnosticState": {
          "type": "string",
          "description": "Output only. The diagnostic state.",
          "readOnly": true,
          "enumDescriptions": [
            "The diagnostic state is unspecified.",
            "The diagnostic is in progress.",
            "The diagnostic completed successfully.",
            "The diagnostic failed."
          ],
          "enum": [
            "DIAGNOSTIC_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "diagnosticStartTime": {
          "type": "string",
          "description": "Output only. The time diagnostic start.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "bucket": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The bucket name."
        }
      },
      "id": "DeploymentDiagnosticData",
      "type": "object"
    },
    "DbNode": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the database node resource in the following format: projects/{project}/locations/{location}/cloudVmClusters/{cloud_vm_cluster}/dbNodes/{db_node}",
          "type": "string"
        },
        "properties": {
          "description": "Optional. Various properties of the database node.",
          "$ref": "DbNodeProperties"
        }
      },
      "id": "DbNode",
      "description": "Details of the database node resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/DbNode/"
    },
    "AutonomousDatabaseBackup": {
      "properties": {
        "properties": {
          "$ref": "AutonomousDatabaseBackupProperties",
          "description": "Optional. Various properties of the backup."
        },
        "autonomousDatabase": {
          "type": "string",
          "description": "Required. The name of the Autonomous Database resource for which the backup is being created. Format: projects/{project}/locations/{region}/autonomousDatabases/{autonomous_database}"
        },
        "displayName": {
          "description": "Optional. User friendly name for the Backup. The name does not have to be unique.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the Autonomous Database Backup resource with the format: projects/{project}/locations/{region}/autonomousDatabaseBackups/{autonomous_database_backup}",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. labels or tags associated with the resource."
        }
      },
      "type": "object",
      "id": "AutonomousDatabaseBackup",
      "description": "Details of the Autonomous Database Backup resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/AutonomousDatabaseBackup/"
    },
    "StartGoldengateDeploymentRequest": {
      "id": "StartGoldengateDeploymentRequest",
      "description": "The request for `GoldengateDeployment.Start`.",
      "type": "object",
      "properties": {}
    },
    "GoldengateGoogleCloudStorageConnectionProperties": {
      "description": "The properties of GoldengateGoogleCloudStorageConnectionProperties.",
      "type": "object",
      "id": "GoldengateGoogleCloudStorageConnectionProperties",
      "properties": {
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type."
        },
        "serviceAccountKeyFile": {
          "type": "string",
          "description": "Optional. The base64 encoded content of the service account key file containing the credentials required to use Google Cloud Storage."
        }
      }
    },
    "ListEntitlementsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "entitlements": {
          "items": {
            "$ref": "Entitlement"
          },
          "type": "array",
          "description": "The list of Entitlements"
        }
      },
      "type": "object",
      "id": "ListEntitlementsResponse",
      "description": "The response for `Entitlement.List`."
    },
    "RestoreAutonomousDatabaseRequest": {
      "description": "The request for `AutonomousDatabase.Restore`.",
      "id": "RestoreAutonomousDatabaseRequest",
      "properties": {
        "restoreTime": {
          "description": "Required. The time and date to restore the database to.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoldengateDeploymentType": {
      "id": "GoldengateDeploymentType",
      "type": "object",
      "properties": {
        "supportedTechnologiesUrl": {
          "type": "string",
          "description": "Output only. The supported technologies URL of the Goldengate Deployment Type resource.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name of the Goldengate Deployment Type resource."
        },
        "connectionTypes": {
          "readOnly": true,
          "description": "Output only. The connection types of the Goldengate Deployment Type resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "supportedCapabilities": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The supported capabilities of the Goldengate Deployment Type resource.",
          "type": "array",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Goldengate Deployment Type resource with the format: projects/{project}/locations/{region}/goldengateDeploymentTypes/{goldengate_deployment_type}"
        },
        "sourceTechnologies": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The source technologies of the Goldengate Deployment Type resource."
        },
        "targetTechnologies": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The target technologies of the Goldengate Deployment Type resource."
        },
        "oggVersion": {
          "description": "Output only. The Ogg version of the Goldengate Deployment Type resource.",
          "type": "string",
          "readOnly": true
        },
        "deploymentType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The deployment type of the Goldengate Deployment Type resource.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Goldengate Deployment Type category is OGG.",
            "Goldengate Deployment Type category is DATABASE_ORACLE.",
            "Goldengate Deployment Type category is BIGDATA.",
            "Goldengate Deployment Type category is DATABASE_MICROSOFT_SQLSERVER.",
            "Goldengate Deployment Type category is DATABASE_MYSQL.",
            "Goldengate Deployment Type category is DATABASE_POSTGRESQL.",
            "Goldengate Deployment Type category is DATABASE_DB2ZOS.",
            "Goldengate Deployment Type category is DATABASE_DB2I.",
            "Goldengate Deployment Type category is GGSA.",
            "Goldengate Deployment Type category is DATA_TRANSFORMS."
          ],
          "enum": [
            "DEPLOYMENT_TYPE_UNSPECIFIED",
            "OGG",
            "DATABASE_ORACLE",
            "BIGDATA",
            "DATABASE_MICROSOFT_SQLSERVER",
            "DATABASE_MYSQL",
            "DATABASE_POSTGRESQL",
            "DATABASE_DB2ZOS",
            "DATABASE_DB2I",
            "GGSA",
            "DATA_TRANSFORMS"
          ]
        },
        "category": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_CATEGORY_UNSPECIFIED",
            "DATA_REPLICATION_CATEGORY",
            "DATA_TRANSFORMS_CATEGORY"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Goldengate Deployment Type category is DATA_REPLICATION_CATEGORY.",
            "Goldengate Deployment Type category is DATA_TRANSFORMS_CATEGORY."
          ],
          "readOnly": true,
          "description": "Output only. The category of the Goldengate Deployment Type resource."
        },
        "defaultUsername": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The default username of the Goldengate Deployment Type resource."
        }
      },
      "description": "Details of the Goldengate Deployment Type resource."
    },
    "ScheduledOperationDetails": {
      "type": "object",
      "id": "ScheduledOperationDetails",
      "description": "Details of scheduled operation. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/ScheduledOperationDetails",
      "properties": {
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "Output only. Auto start time.",
          "readOnly": true
        },
        "stopTime": {
          "$ref": "TimeOfDay",
          "readOnly": true,
          "description": "Output only. Auto stop time."
        },
        "dayOfWeek": {
          "description": "Output only. Day of week.",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        }
      }
    },
    "GoldengateAmazonS3ConnectionProperties": {
      "type": "object",
      "id": "GoldengateAmazonS3ConnectionProperties",
      "description": "The properties of GoldengateAmazonS3Connection.",
      "properties": {
        "region": {
          "description": "Optional. The name of the AWS region where the bucket is created.",
          "type": "string"
        },
        "endpoint": {
          "type": "string",
          "description": "Optional. The Amazon Endpoint for S3."
        },
        "secretAccessKeySecret": {
          "description": "Optional. Secret access key to access the Amazon S3 bucket.",
          "type": "string"
        },
        "accessKeyId": {
          "type": "string",
          "description": "Optional. Access key ID to access the Amazon S3 bucket."
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of AmazonS3Connection."
        }
      }
    },
    "ListDbNodesResponse": {
      "type": "object",
      "properties": {
        "dbNodes": {
          "type": "array",
          "description": "The list of DB Nodes",
          "items": {
            "$ref": "DbNode"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the node should return."
        }
      },
      "description": "The response for `DbNode.List`.",
      "id": "ListDbNodesResponse"
    },
    "ListExascaleDbStorageVaultsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return. If present, the next page token can be provided to a subsequent ListExascaleDbStorageVaults call to list the next page. If empty, there are no more pages."
        },
        "exascaleDbStorageVaults": {
          "type": "array",
          "description": "The ExascaleDbStorageVaults.",
          "items": {
            "$ref": "ExascaleDbStorageVault"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListExascaleDbStorageVaultsResponse",
      "type": "object",
      "description": "The response for `ExascaleDbStorageVault.List`."
    },
    "SourceConfig": {
      "type": "object",
      "id": "SourceConfig",
      "properties": {
        "backupTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The timestamp specified for the point-in-time clone of the source Autonomous Database. This field is only applicable in case of BACKUP_FROM_TIMESTAMP source type and when use_latest_available_backup is false."
        },
        "autoRefreshPointLagSeconds": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The time, in seconds, the data of the automatic refreshable clone lags the primary database at the point of refresh."
        },
        "autonomousDatabaseBackup": {
          "type": "string",
          "description": "Optional. The name of the Autonomous Database Backup resource with the format: projects/{project}/locations/{region}/autonomousDatabaseBackups/{autonomous_database_backup} Required when source_type is BACKUP_FROM_ID."
        },
        "autonomousDatabase": {
          "description": "Optional. The name of the primary Autonomous Database that is used to create a Peer Autonomous Database from a source.",
          "type": "string"
        },
        "cloneType": {
          "description": "Optional. The clone type of the Autonomous Database. This field is only applicable in case of cloning",
          "enum": [
            "CLONE_TYPE_UNSPECIFIED",
            "FULL",
            "METADATA"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Creates a new database with the source database's data and metadata.",
            "Creates a new database that includes all the source database schema metadata, but none of the source database data."
          ]
        },
        "automaticBackupsReplicationEnabled": {
          "description": "Optional. This field specifies if the replication of automatic backups is enabled when creating a Data Guard.",
          "type": "boolean"
        },
        "autoRefreshFrequencySeconds": {
          "description": "Optional. The frequency in seconds a refreshable clone is refreshed after auto-refresh is enabled.",
          "format": "int32",
          "type": "integer"
        },
        "useLatestAvailableBackup": {
          "description": "Optional. Clone from latest available backup timestamp. This field is only applicable in case of BACKUP_FROM_TIMESTAMP source type.",
          "type": "boolean"
        },
        "autoRefreshStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The date and time that auto-refreshing will begin for an Autonomous Database refreshable clone. This value controls only the start time for the first refresh operation."
        },
        "refreshableMode": {
          "enum": [
            "REFRESHABLE_MODE_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Automatic refresh.",
            "Manual refresh."
          ],
          "description": "Optional. The refresh mode of the clone.",
          "type": "string"
        },
        "sourceType": {
          "description": "Optional. The source type of the Autonomous Database.",
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "CLONE_DATABASE",
            "CROSS_REGION_DISASTER_RECOVERY",
            "CLONE_TO_REFRESHABLE",
            "BACKUP_FROM_ID",
            "BACKUP_FROM_TIMESTAMP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Clone database from an existing database specified in autonomous_database field.",
            "Create a cross-region disaster recovery peer adb from an existing adb.",
            "Create a refreshable clone from an existing database specified in autonomous_database field.",
            "Create clone from the backup resource.",
            "Create clone from backup specified by backup_time field, or use latest available backup if use_latest_available_backup is true. The autonomous_database field must specify the source database to clone from."
          ]
        }
      },
      "description": "The source configuration for the standby Autonomous Database."
    },
    "GoldengateConnectionType": {
      "type": "object",
      "id": "GoldengateConnectionType",
      "properties": {
        "name": {
          "description": "Identifier. The name of the Goldengate Connection Type resource with the format: projects/{project}/locations/{region}/goldengateConnectionTypes/{goldengate_connection_type}",
          "type": "string"
        },
        "technologyTypes": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The technology type of the Goldengate Connection Type resource."
        },
        "connectionType": {
          "description": "Output only. The connection type of the Goldengate Connection Type resource.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Goldengate Connection Type category is GOLDENGATE.",
            "Goldengate Connection Type category is KAFKA.",
            "Goldengate Connection Type category is KAFKA_SCHEMA_REGISTRY.",
            "Goldengate Connection Type category is MYSQL.",
            "Goldengate Connection Type category is JAVA_MESSAGE_SERVICE.",
            "Goldengate Connection Type category is MICROSOFT_SQLSERVER.",
            "Goldengate Connection Type category is OCI_OBJECT_STORAGE.",
            "Goldengate Connection Type category is ORACLE.",
            "Goldengate Connection Type category is AZURE_DATA_LAKE_STORAGE.",
            "Goldengate Connection Type category is POSTGRESQL.",
            "Goldengate Connection Type category is AZURE_SYNAPSE_ANALYTICS.",
            "Goldengate Connection Type category is SNOWFLAKE.",
            "Goldengate Connection Type category is AMAZON_S3.",
            "Goldengate Connection Type category is HDFS.",
            "Goldengate Connection Type category is ORACLE_AI_DATA_PLATFORM.",
            "Goldengate Connection Type category is ORACLE_NOSQL.",
            "Goldengate Connection Type category is MONGODB.",
            "Goldengate Connection Type category is AMAZON_KINESIS.",
            "Goldengate Connection Type category is AMAZON_REDSHIFT.",
            "Goldengate Connection Type category is DB2.",
            "Goldengate Connection Type category is REDIS.",
            "Goldengate Connection Type category is ELASTICSEARCH.",
            "Goldengate Connection Type category is GENERIC.",
            "Goldengate Connection Type category is GOOGLE_CLOUD_STORAGE.",
            "Goldengate Connection Type category is GOOGLE_BIGQUERY.",
            "Goldengate Connection Type category is DATABRICKS.",
            "Goldengate Connection Type category is GOOGLE_PUBSUB.",
            "Goldengate Connection Type category is MICROSOFT_FABRIC.",
            "Goldengate Connection Type category is ICEBERG."
          ],
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "GOLDENGATE",
            "KAFKA",
            "KAFKA_SCHEMA_REGISTRY",
            "MYSQL",
            "JAVA_MESSAGE_SERVICE",
            "MICROSOFT_SQLSERVER",
            "OCI_OBJECT_STORAGE",
            "ORACLE",
            "AZURE_DATA_LAKE_STORAGE",
            "POSTGRESQL",
            "AZURE_SYNAPSE_ANALYTICS",
            "SNOWFLAKE",
            "AMAZON_S3",
            "HDFS",
            "ORACLE_AI_DATA_PLATFORM",
            "ORACLE_NOSQL",
            "MONGODB",
            "AMAZON_KINESIS",
            "AMAZON_REDSHIFT",
            "DB2",
            "REDIS",
            "ELASTICSEARCH",
            "GENERIC",
            "GOOGLE_CLOUD_STORAGE",
            "GOOGLE_BIGQUERY",
            "DATABRICKS",
            "GOOGLE_PUBSUB",
            "MICROSOFT_FABRIC",
            "ICEBERG"
          ]
        }
      },
      "description": "Details of the Goldengate Connection Type resource."
    },
    "ListAutonomousDatabaseCharacterSetsResponse": {
      "id": "ListAutonomousDatabaseCharacterSetsResponse",
      "description": "The response for `AutonomousDatabaseCharacterSet.List`.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "autonomousDatabaseCharacterSets": {
          "items": {
            "$ref": "AutonomousDatabaseCharacterSet"
          },
          "description": "The list of Autonomous Database Character Sets.",
          "type": "array"
        }
      }
    },
    "DbServer": {
      "type": "object",
      "id": "DbServer",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly name for this resource."
        },
        "name": {
          "description": "Identifier. The name of the database server resource with the format: projects/{project}/locations/{location}/cloudExadataInfrastructures/{cloud_exadata_infrastructure}/dbServers/{db_server}",
          "type": "string"
        },
        "properties": {
          "$ref": "DbServerProperties",
          "description": "Optional. Various properties of the database server."
        }
      },
      "description": "Details of the database server resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/DbServer/"
    },
    "RestIcebergCatalog": {
      "id": "RestIcebergCatalog",
      "description": "The REST Iceberg catalog.",
      "properties": {
        "uri": {
          "description": "Required. The REST uri.",
          "type": "string"
        },
        "properties": {
          "description": "Optional. The base64 encoded content of the configuration file containing additional properties for the REST catalog.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AutonomousDatabaseBackupProperties": {
      "description": "Properties of the Autonomous Database Backup resource.",
      "properties": {
        "compartmentId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The OCID of the compartment."
        },
        "lifecycleDetails": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information about the current lifecycle state."
        },
        "dbVersion": {
          "description": "Output only. A valid Oracle Database version for Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "isAutomaticBackup": {
          "readOnly": true,
          "description": "Output only. Indicates if the backup is automatic or user initiated.",
          "type": "boolean"
        },
        "keyStoreWallet": {
          "type": "string",
          "description": "Optional. The wallet name for Oracle Key Vault."
        },
        "kmsKeyVersionId": {
          "type": "string",
          "description": "Optional. The OCID of the key container version that is used in database transparent data encryption (TDE) operations KMS Key can have multiple key versions. If none is specified, the current key version (latest) of the Key Id is used for the operation. Autonomous Database Serverless does not use key versions, hence is not applicable for Autonomous Database Serverless instances."
        },
        "isLongTermBackup": {
          "description": "Output only. Indicates if the backup is long term backup.",
          "readOnly": true,
          "type": "boolean"
        },
        "sizeTb": {
          "readOnly": true,
          "format": "float",
          "type": "number",
          "description": "Output only. The backup size in terabytes."
        },
        "databaseSizeTb": {
          "type": "number",
          "format": "float",
          "description": "Output only. The quantity of data in the database, in terabytes.",
          "readOnly": true
        },
        "ocid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. OCID of the Autonomous Database backup. https://docs.oracle.com/en-us/iaas/Content/General/Concepts/identifiers.htm#Oracle"
        },
        "availableTillTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp until when the backup will be available."
        },
        "isRestorable": {
          "readOnly": true,
          "description": "Output only. Indicates if the backup can be used to restore the Autonomous Database.",
          "type": "boolean"
        },
        "keyStoreId": {
          "description": "Optional. The OCID of the key store of Oracle Vault.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The date and time the backup completed."
        },
        "lifecycleState": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in creating state.",
            "Indicates that the resource is in active state.",
            "Indicates that the resource is in deleting state.",
            "Indicates that the resource is in deleted state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource is in updating state."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "DELETED",
            "FAILED",
            "UPDATING"
          ],
          "description": "Output only. The lifecycle state of the backup."
        },
        "vaultId": {
          "type": "string",
          "description": "Optional. The OCID of the vault."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The date and time the backup started."
        },
        "kmsKeyId": {
          "type": "string",
          "description": "Optional. The OCID of the key container that is used as the master encryption key in database transparent data encryption (TDE) operations."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "INCREMENTAL",
            "FULL",
            "LONG_TERM"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Incremental backups.",
            "Full backups.",
            "Long term backups."
          ],
          "description": "Output only. The type of the backup.",
          "type": "string",
          "readOnly": true
        },
        "retentionPeriodDays": {
          "type": "integer",
          "description": "Optional. Retention period in days for the backup.",
          "format": "int32"
        }
      },
      "id": "AutonomousDatabaseBackupProperties",
      "type": "object"
    },
    "ExascaleDbStorageVaultProperties": {
      "description": "The properties of the ExascaleDbStorageVault. next ID: 12",
      "id": "ExascaleDbStorageVaultProperties",
      "properties": {
        "ocid": {
          "type": "string",
          "description": "Output only. The OCID for the ExascaleDbStorageVault.",
          "readOnly": true
        },
        "vmClusterCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The number of VM clusters associated with the ExascaleDbStorageVault."
        },
        "vmClusterIds": {
          "type": "array",
          "description": "Output only. The list of VM cluster OCIDs associated with the ExascaleDbStorageVault.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The state of the ExascaleDbStorageVault is unspecified.",
            "The ExascaleDbStorageVault is being provisioned.",
            "The ExascaleDbStorageVault is available.",
            "The ExascaleDbStorageVault is being updated.",
            "The ExascaleDbStorageVault is being deleted.",
            "The ExascaleDbStorageVault has been deleted.",
            "The ExascaleDbStorageVault has failed."
          ],
          "readOnly": true,
          "description": "Output only. The state of the ExascaleDbStorageVault.",
          "type": "string"
        },
        "ociUri": {
          "type": "string",
          "description": "Output only. Deep link to the OCI console to view this resource.",
          "readOnly": true
        },
        "attachedShapeAttributes": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default unspecified value.",
              "Indicates that the resource is in smart storage.",
              "Indicates that the resource is in block storage."
            ],
            "enum": [
              "SHAPE_ATTRIBUTE_UNSPECIFIED",
              "SMART_STORAGE",
              "BLOCK_STORAGE"
            ]
          },
          "description": "Output only. The shape attributes of the VM clusters attached to the ExascaleDbStorageVault."
        },
        "additionalFlashCachePercent": {
          "description": "Optional. The size of additional flash cache in percentage of high capacity database storage.",
          "format": "int32",
          "type": "integer"
        },
        "availableShapeAttributes": {
          "items": {
            "enum": [
              "SHAPE_ATTRIBUTE_UNSPECIFIED",
              "SMART_STORAGE",
              "BLOCK_STORAGE"
            ],
            "enumDescriptions": [
              "Default unspecified value.",
              "Indicates that the resource is in smart storage.",
              "Indicates that the resource is in block storage."
            ],
            "type": "string"
          },
          "description": "Output only. The shape attributes available for the VM clusters to be attached to the ExascaleDbStorageVault.",
          "readOnly": true,
          "type": "array"
        },
        "timeZone": {
          "$ref": "TimeZone",
          "readOnly": true,
          "description": "Output only. The time zone of the ExascaleDbStorageVault."
        },
        "description": {
          "description": "Optional. The description of the ExascaleDbStorageVault.",
          "type": "string"
        },
        "exascaleDbStorageDetails": {
          "description": "Required. The storage details of the ExascaleDbStorageVault.",
          "$ref": "ExascaleDbStorageDetails"
        }
      },
      "type": "object"
    },
    "AutonomousDatabaseRefreshableClones": {
      "description": "Response message for getting the Autonomous Database refreshable clones.",
      "properties": {
        "autonomousDatabaseRefreshableClones": {
          "description": "The list of Autonomous Database refreshable clones.",
          "items": {
            "$ref": "AutonomousDatabaseRefreshableClone"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "AutonomousDatabaseRefreshableClones"
    },
    "BackupDestinationDetails": {
      "id": "BackupDestinationDetails",
      "properties": {
        "type": {
          "description": "Optional. The type of the database backup destination.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Backup destination type is NFS.",
            "Backup destination type is Recovery Appliance.",
            "Backup destination type is Object Store.",
            "Backup destination type is Local.",
            "Backup destination type is DBRS."
          ],
          "enum": [
            "BACKUP_DESTINATION_TYPE_UNSPECIFIED",
            "NFS",
            "RECOVERY_APPLIANCE",
            "OBJECT_STORE",
            "LOCAL",
            "DBRS"
          ]
        }
      },
      "description": "The details of the database backup destination.",
      "type": "object"
    },
    "DbSystem": {
      "id": "DbSystem",
      "properties": {
        "createTime": {
          "description": "Output only. The date and time that the DbSystem was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "properties": {
          "$ref": "DbSystemProperties",
          "description": "Optional. The properties of the DbSystem."
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels or tags associated with the DbSystem.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "ociUrl": {
          "readOnly": true,
          "description": "Output only. HTTPS link to OCI resources exposed to Customer via UI Interface.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the DbSystem resource in the following format: projects/{project}/locations/{region}/dbSystems/{db_system}",
          "type": "string"
        },
        "entitlementId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the subscription entitlement associated with the DbSystem"
        },
        "odbNetwork": {
          "type": "string",
          "description": "Optional. The name of the OdbNetwork associated with the DbSystem. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network} It is optional but if specified, this should match the parent ODBNetwork of the OdbSubnet."
        },
        "gcpOracleZone": {
          "type": "string",
          "description": "Optional. The GCP Oracle zone where Oracle DbSystem is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name for the System db. The name does not have to be unique within your project."
        },
        "odbSubnet": {
          "type": "string",
          "description": "Required. The name of the OdbSubnet associated with the DbSystem for IP allocation. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}"
        }
      },
      "type": "object",
      "description": "Details of the DbSystem (BaseDB) resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/DbSystem/"
    },
    "ListDbVersionsResponse": {
      "id": "ListDbVersionsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "dbVersions": {
          "description": "The list of DbVersions.",
          "items": {
            "$ref": "DbVersion"
          },
          "type": "array"
        }
      },
      "description": "The response for `DbVersions.List`."
    },
    "GlueIcebergCatalog": {
      "description": "The Glue Iceberg catalog.",
      "type": "object",
      "properties": {
        "glueId": {
          "description": "Required. The catalog ID of Glue.",
          "type": "string"
        }
      },
      "id": "GlueIcebergCatalog"
    },
    "ExadbVmClusterStorageDetails": {
      "type": "object",
      "properties": {
        "sizeInGbsPerNode": {
          "description": "Required. The storage allocation for the exadbvmcluster per node, in gigabytes (GB). This field is used to calculate the total storage allocation for the exadbvmcluster.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The storage allocation for the exadbvmcluster, in gigabytes (GB).",
      "id": "ExadbVmClusterStorageDetails"
    },
    "AutonomousDatabase": {
      "description": "Details of the Autonomous Database resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/AutonomousDatabase/",
      "type": "object",
      "properties": {
        "entitlementId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the subscription entitlement associated with the Autonomous Database."
        },
        "adminPasswordSecretVersion": {
          "description": "Optional. Immutable. The resource name of a secret version in Secret Manager which contains the database admin user's password. Format: projects/{project}/secrets/{secret}/versions/{version}. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated.",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "Optional. Immutable. The name of the VPC network used by the Autonomous Database in the following format: projects/{project}/global/networks/{network}"
        },
        "displayName": {
          "description": "Optional. Immutable. The display name for the Autonomous Database. The name does not have to be unique within your project.",
          "type": "string"
        },
        "peerAutonomousDatabases": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The peer Autonomous Database names of the given Autonomous Database."
        },
        "sourceConfig": {
          "$ref": "SourceConfig",
          "description": "Optional. Immutable. The source Autonomous Database configuration for the standby Autonomous Database. The source Autonomous Database is configured while creating the Peer Autonomous Database and can't be updated after creation."
        },
        "properties": {
          "description": "Optional. The properties of the Autonomous Database.",
          "$ref": "AutonomousDatabaseProperties"
        },
        "odbNetwork": {
          "type": "string",
          "description": "Optional. Immutable. The name of the OdbNetwork associated with the Autonomous Database. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network} It is optional but if specified, this should match the parent ODBNetwork of the OdbSubnet."
        },
        "disasterRecoverySupportedLocations": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. List of supported GCP region to clone the Autonomous Database for disaster recovery. Format: `project/{project}/locations/{location}`.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. The name of the Autonomous Database resource in the following format: projects/{project}/locations/{region}/autonomousDatabases/{autonomous_database}",
          "type": "string"
        },
        "cidr": {
          "type": "string",
          "description": "Optional. Immutable. The subnet CIDR range for the Autonomous Database."
        },
        "odbSubnet": {
          "description": "Optional. Immutable. The name of the OdbSubnet associated with the Autonomous Database. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}",
          "type": "string"
        },
        "adminPassword": {
          "type": "string",
          "description": "Optional. Immutable. The password for the default ADMIN user. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated."
        },
        "database": {
          "type": "string",
          "description": "Optional. Immutable. The name of the Autonomous Database. The database name must be unique in the project. The name must begin with a letter and can contain a maximum of 30 alphanumeric characters."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The date and time that the Autonomous Database was created.",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. The labels or tags associated with the Autonomous Database.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "AutonomousDatabase"
    },
    "FailoverAutonomousDatabaseRequest": {
      "description": "The request for `OracleDatabase.FailoverAutonomousDatabase`.",
      "properties": {
        "peerAutonomousDatabase": {
          "description": "Optional. The peer database name to fail over to. Required for cross-region standby, and must be omitted for in-region Data Guard.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FailoverAutonomousDatabaseRequest"
    },
    "AllConnectionStrings": {
      "id": "AllConnectionStrings",
      "type": "object",
      "properties": {
        "medium": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The database service provides a lower level of resources to each SQL statement."
        },
        "high": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The database service provides the highest level of resources to each SQL statement."
        },
        "low": {
          "description": "Output only. The database service provides the least level of resources to each SQL statement.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A list of all connection strings that can be used to connect to the Autonomous Database."
    },
    "DefinedTagValue": {
      "type": "object",
      "id": "DefinedTagValue",
      "description": "Wrapper message for the value of a defined tag.",
      "properties": {
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The tags within the namespace."
        }
      }
    },
    "ExadbVmCluster": {
      "description": "ExadbVmCluster represents a cluster of VMs that are used to run Exadata workloads. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/ExadbVmCluster/",
      "id": "ExadbVmCluster",
      "properties": {
        "properties": {
          "$ref": "ExadbVmClusterProperties",
          "description": "Required. The properties of the ExadbVmCluster."
        },
        "backupOdbSubnet": {
          "description": "Required. Immutable. The name of the backup OdbSubnet associated with the ExadbVmCluster. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The date and time that the ExadbVmCluster was created."
        },
        "odbSubnet": {
          "description": "Required. Immutable. The name of the OdbSubnet associated with the ExadbVmCluster for IP allocation. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}",
          "type": "string"
        },
        "entitlementId": {
          "readOnly": true,
          "description": "Output only. The ID of the subscription entitlement associated with the ExadbVmCluster.",
          "type": "string"
        },
        "identityConnector": {
          "description": "Output only. The identity connector details which will allow OCI to securely access the resources in the customer project.",
          "$ref": "IdentityConnector",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The name of the ExadbVmCluster resource in the following format: projects/{project}/locations/{region}/exadbVmClusters/{exadb_vm_cluster}",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels or tags associated with the ExadbVmCluster."
        },
        "displayName": {
          "description": "Required. Immutable. The display name for the ExadbVmCluster. The name does not have to be unique within your project. The name must be 1-255 characters long and can only contain alphanumeric characters.",
          "type": "string"
        },
        "odbNetwork": {
          "description": "Optional. Immutable. The name of the OdbNetwork associated with the ExadbVmCluster. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network} It is optional but if specified, this should match the parent ODBNetwork of the OdbSubnet.",
          "type": "string"
        },
        "gcpOracleZone": {
          "readOnly": true,
          "description": "Output only. Immutable. The GCP Oracle zone where Oracle ExadbVmCluster is hosted. Example: us-east4-b-r2. During creation, the system will pick the zone assigned to the ExascaleDbStorageVault.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListDatabaseCharacterSetsResponse": {
      "id": "ListDatabaseCharacterSetsResponse",
      "description": "The response for `DatabaseCharacterSet.List`.",
      "properties": {
        "databaseCharacterSets": {
          "items": {
            "$ref": "DatabaseCharacterSet"
          },
          "type": "array",
          "description": "The list of DatabaseCharacterSets."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "IcebergStorage": {
      "description": "The Iceberg storage details.",
      "type": "object",
      "properties": {
        "azureDataLakeStorageIcebergStorage": {
          "$ref": "AzureDataLakeStorageIcebergStorage",
          "description": "The Azure Data Lake Storage Iceberg storage."
        },
        "googleCloudStorageIcebergStorage": {
          "$ref": "GoogleCloudStorageIcebergStorage",
          "description": "The Google Cloud Storage Iceberg storage."
        },
        "storageType": {
          "type": "string",
          "enumDescriptions": [
            "Storage type not specified.",
            "Amazon S3 storage.",
            "Google Cloud Storage storage.",
            "Azure Data Lake Storage storage."
          ],
          "description": "Required. The type of Iceberg storage.",
          "enum": [
            "STORAGE_TYPE_UNSPECIFIED",
            "AMAZON_S3",
            "GOOGLE_CLOUD_STORAGE",
            "AZURE_DATA_LAKE_STORAGE"
          ]
        },
        "amazonS3IcebergStorage": {
          "$ref": "AmazonS3IcebergStorage",
          "description": "The Amazon S3 Iceberg storage."
        }
      },
      "id": "IcebergStorage"
    },
    "AutonomousDatabaseApex": {
      "id": "AutonomousDatabaseApex",
      "description": "Oracle APEX Application Development. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/AutonomousDatabaseApex",
      "type": "object",
      "properties": {
        "apexVersion": {
          "description": "Output only. The Oracle APEX Application Development version.",
          "readOnly": true,
          "type": "string"
        },
        "ordsVersion": {
          "type": "string",
          "description": "Output only. The Oracle REST Data Services (ORDS) version.",
          "readOnly": true
        }
      }
    },
    "DbSystemProperties": {
      "type": "object",
      "description": "The properties of a DbSystem.",
      "id": "DbSystemProperties",
      "properties": {
        "sshPublicKeys": {
          "items": {
            "type": "string"
          },
          "description": "Required. SSH public keys to be stored with the DbSystem.",
          "type": "array"
        },
        "privateIp": {
          "description": "Optional. The private IP address of the DbSystem.",
          "type": "string"
        },
        "dataCollectionOptions": {
          "$ref": "DataCollectionOptionsDbSystem",
          "description": "Optional. Data collection options for diagnostics."
        },
        "domain": {
          "description": "Optional. The host domain name of the DbSystem.",
          "type": "string"
        },
        "databaseEdition": {
          "enum": [
            "DB_SYSTEM_DATABASE_EDITION_UNSPECIFIED",
            "STANDARD_EDITION",
            "ENTERPRISE_EDITION",
            "ENTERPRISE_EDITION_HIGH_PERFORMANCE"
          ],
          "description": "Required. The database edition of the DbSystem.",
          "enumDescriptions": [
            "The database edition is unspecified.",
            "The database edition is Standard.",
            "The database edition is Enterprise.",
            "The database edition is Enterprise Edition."
          ],
          "type": "string"
        },
        "dbSystemOptions": {
          "description": "Optional. The options for the DbSystem.",
          "$ref": "DbSystemOptions"
        },
        "nodeCount": {
          "type": "integer",
          "description": "Optional. The number of nodes to launch for a virtual machine DbSystem. By default this will be set to 1.",
          "format": "int32"
        },
        "hostname": {
          "description": "Output only. The hostname of the DbSystem.",
          "readOnly": true,
          "type": "string"
        },
        "shape": {
          "description": "Required. Shape of DB System.",
          "type": "string"
        },
        "dbHome": {
          "$ref": "DbHome",
          "description": "Optional. Details for creating a Database Home."
        },
        "licenseModel": {
          "type": "string",
          "description": "Required. The license model of the DbSystem.",
          "enum": [
            "LICENSE_MODEL_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ],
          "enumDescriptions": [
            "The license model is unspecified.",
            "The license model is included.",
            "The license model is bring your own license."
          ]
        },
        "timeZone": {
          "$ref": "TimeZone",
          "description": "Optional. Time zone of the DbSystem."
        },
        "dataStorageSizeGb": {
          "format": "int32",
          "description": "Optional. The data storage size in GB that is currently available to DbSystems. The value is same as initial_data_storage_size_gb. This can be modified from OCI console.",
          "type": "integer"
        },
        "initialDataStorageSizeGb": {
          "description": "Required. The initial data storage size in GB.",
          "type": "integer",
          "format": "int32"
        },
        "hostnamePrefix": {
          "description": "Optional. Prefix for DB System host names.",
          "type": "string"
        },
        "memorySizeGb": {
          "description": "Optional. The memory size in GB. This value can not be set and is automatically calculated based on the number of ECPUs allocated to the DbSystem.",
          "format": "int32",
          "type": "integer"
        },
        "lifecycleState": {
          "type": "string",
          "description": "Output only. State of the DbSystem.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource has been migrated.",
            "Indicates that the resource is in maintenance in progress state.",
            "Indicates that the resource needs attention.",
            "Indicates that the resource is upgrading."
          ],
          "enum": [
            "DB_SYSTEM_LIFECYCLE_STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MIGRATED",
            "MAINTENANCE_IN_PROGRESS",
            "NEEDS_ATTENTION",
            "UPGRADING"
          ]
        },
        "computeModel": {
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "type": "string",
          "enumDescriptions": [
            "The compute model is unspecified.",
            "The compute model is virtual.",
            "Deprecated: This option is not supported. Please use ECPU instead. The compute model is physical."
          ],
          "description": "Optional. The compute model of the DbSystem.",
          "enum": [
            "COMPUTE_MODEL_UNSPECIFIED",
            "ECPU",
            "OCPU"
          ]
        },
        "ocid": {
          "type": "string",
          "description": "Output only. OCID of the DbSystem.",
          "readOnly": true
        },
        "computeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The number of CPU cores to enable for the DbSystem."
        },
        "recoStorageSizeGb": {
          "description": "Optional. The reco/redo storage size in GB. The value for recovery storage size is based on the available data storage size.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "DatabaseConnectionStringProfile": {
      "id": "DatabaseConnectionStringProfile",
      "description": "The connection string profile to allow clients to group. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/DatabaseConnectionStringProfile",
      "properties": {
        "displayName": {
          "description": "Output only. The display name for the database connection.",
          "readOnly": true,
          "type": "string"
        },
        "hostFormat": {
          "enum": [
            "HOST_FORMAT_UNSPECIFIED",
            "FQDN",
            "IP"
          ],
          "readOnly": true,
          "description": "Output only. The host name format being currently used in connection string.",
          "enumDescriptions": [
            "Default unspecified value.",
            "FQDN",
            "IP"
          ],
          "type": "string"
        },
        "value": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The value of the connection string."
        },
        "syntaxFormat": {
          "description": "Output only. The syntax of the connection string.",
          "type": "string",
          "enum": [
            "SYNTAX_FORMAT_UNSPECIFIED",
            "LONG",
            "EZCONNECT",
            "EZCONNECTPLUS"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Long",
            "Ezconnect",
            "Ezconnectplus"
          ],
          "readOnly": true
        },
        "tlsAuthentication": {
          "readOnly": true,
          "enum": [
            "TLS_AUTHENTICATION_UNSPECIFIED",
            "SERVER",
            "MUTUAL"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Server",
            "Mutual"
          ],
          "description": "Output only. This field indicates the TLS authentication type of the connection.",
          "type": "string"
        },
        "isRegional": {
          "readOnly": true,
          "description": "Output only. This field indicates if the connection string is regional and is only applicable for cross-region Data Guard.",
          "type": "boolean"
        },
        "sessionMode": {
          "enum": [
            "SESSION_MODE_UNSPECIFIED",
            "DIRECT",
            "INDIRECT"
          ],
          "description": "Output only. The current session mode of the connection.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Direct",
            "Indirect"
          ],
          "type": "string"
        },
        "protocol": {
          "description": "Output only. The protocol being used by the connection.",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "TCP",
            "TCPS"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Tcp",
            "Tcps"
          ],
          "type": "string"
        },
        "consumerGroup": {
          "enumDescriptions": [
            "Default unspecified value.",
            "High consumer group.",
            "Medium consumer group.",
            "Low consumer group.",
            "TP consumer group.",
            "TPURGENT consumer group."
          ],
          "enum": [
            "CONSUMER_GROUP_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "TP",
            "TPURGENT"
          ],
          "readOnly": true,
          "description": "Output only. The current consumer group being used by the connection.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OdbSubnet": {
      "type": "object",
      "description": "Represents OdbSubnet resource.",
      "properties": {
        "createTime": {
          "description": "Output only. The date and time that the OdbNetwork was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. Labels or tags associated with the resource.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "Identifier. The name of the OdbSubnet resource in the following format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "TERMINATING",
            "FAILED"
          ],
          "readOnly": true,
          "description": "Output only. State of the ODB Subnet.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in failed state."
          ],
          "type": "string"
        },
        "purpose": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Subnet to be used for client connections.",
            "Subnet to be used for backup."
          ],
          "description": "Required. Purpose of the subnet.",
          "enum": [
            "PURPOSE_UNSPECIFIED",
            "CLIENT_SUBNET",
            "BACKUP_SUBNET"
          ]
        },
        "cidrRange": {
          "type": "string",
          "description": "Required. The CIDR range of the subnet."
        }
      },
      "id": "OdbSubnet"
    },
    "GoldengateAmazonRedshiftConnectionProperties": {
      "id": "GoldengateAmazonRedshiftConnectionProperties",
      "description": "The properties of GoldengateAmazonRedshiftConnection.",
      "type": "object",
      "properties": {
        "passwordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses for Amazon Redshift connection. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "username": {
          "description": "Optional. The username Oracle Goldengate uses to connect the associated system of the given technology.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Optional. Input only. The password Oracle Goldengate uses for Amazon Redshift connection in plain text."
        },
        "connectionUrl": {
          "description": "Optional. Connection URL. e.g.: 'jdbc:redshift://aws-redshift-instance.aaaaaaaaaaaa.us-east-2.redshift.amazonaws.com:5439/mydb'",
          "type": "string"
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of AmazonRedshiftConnection."
        }
      }
    },
    "ExascaleDbStorageVault": {
      "type": "object",
      "properties": {
        "gcpOracleZone": {
          "description": "Optional. The GCP Oracle zone where Oracle ExascaleDbStorageVault is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name for the ExascaleDbStorageVault. The name does not have to be unique within your project. The name must be 1-255 characters long and can only contain alphanumeric characters.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels or tags associated with the ExascaleDbStorageVault."
        },
        "exadataInfrastructure": {
          "description": "Optional. The Exadata Infrastructure resource on which ExascaleDbStorageVault resource is created, in the following format: projects/{project}/locations/{region}/cloudExadataInfrastuctures/{cloud_extradata_infrastructure}",
          "type": "string"
        },
        "properties": {
          "description": "Required. The properties of the ExascaleDbStorageVault.",
          "$ref": "ExascaleDbStorageVaultProperties"
        },
        "name": {
          "description": "Identifier. The resource name of the ExascaleDbStorageVault. Format: projects/{project}/locations/{location}/exascaleDbStorageVaults/{exascale_db_storage_vault}",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The date and time when the ExascaleDbStorageVault was created.",
          "readOnly": true,
          "type": "string"
        },
        "entitlementId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the subscription entitlement associated with the ExascaleDbStorageVault."
        }
      },
      "description": "ExascaleDbStorageVault represents a storage vault exadb vm cluster resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/ExascaleDbStorageVault/",
      "id": "ExascaleDbStorageVault"
    },
    "EncryptionKeyHistoryEntry": {
      "id": "EncryptionKeyHistoryEntry",
      "type": "object",
      "properties": {
        "encryptionKey": {
          "readOnly": true,
          "description": "Output only. The encryption key used to encrypt the Autonomous Database.",
          "$ref": "EncryptionKey"
        },
        "activationTime": {
          "format": "google-datetime",
          "description": "Output only. The date and time when the encryption key was activated on the Autonomous Database..",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "The history of the encryption keys used to encrypt the Autonomous Database."
    },
    "DataCollectionOptionsCommon": {
      "type": "object",
      "description": "Data collection options for diagnostics. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/DataCollectionOptions",
      "properties": {
        "isHealthMonitoringEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether to enable health monitoring."
        },
        "isIncidentLogsEnabled": {
          "description": "Optional. Indicates whether to enable incident logs and trace collection.",
          "type": "boolean"
        },
        "isDiagnosticsEventsEnabled": {
          "description": "Optional. Indicates whether to enable data collection for diagnostics.",
          "type": "boolean"
        }
      },
      "id": "DataCollectionOptionsCommon"
    },
    "PluggableDatabaseNodeLevelDetails": {
      "properties": {
        "openMode": {
          "enumDescriptions": [
            "The open mode is unspecified.",
            "The pluggable database is opened in read-only mode.",
            "The pluggable database is opened in read-write mode.",
            "The pluggable database is mounted.",
            "The pluggable database is migrated."
          ],
          "type": "string",
          "enum": [
            "PLUGGABLE_DATABASE_OPEN_MODE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE",
            "MOUNTED",
            "MIGRATE"
          ],
          "description": "Required. The mode that the pluggable database is in to open it."
        },
        "pluggableDatabaseId": {
          "description": "Required. The OCID of the Pluggable Database.",
          "type": "string"
        },
        "nodeName": {
          "description": "Required. The Node name of the Database home.",
          "type": "string"
        }
      },
      "id": "PluggableDatabaseNodeLevelDetails",
      "description": "The Pluggable Database Node Level Details.",
      "type": "object"
    },
    "GenerateAutonomousDatabaseWalletResponse": {
      "id": "GenerateAutonomousDatabaseWalletResponse",
      "description": "The response for `AutonomousDatabase.GenerateWallet`.",
      "properties": {
        "archiveContent": {
          "readOnly": true,
          "format": "byte",
          "description": "Output only. The base64 encoded wallet files.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DbSystemInitialStorageSizeProperties": {
      "type": "object",
      "id": "DbSystemInitialStorageSizeProperties",
      "properties": {
        "storageManagement": {
          "readOnly": true,
          "enum": [
            "STORAGE_MANAGEMENT_UNSPECIFIED",
            "ASM",
            "LVM"
          ],
          "enumDescriptions": [
            "Unspecified storage management.",
            "Automatic Storage Management.",
            "Logical Volume Management."
          ],
          "description": "Output only. The storage option used in DB system.",
          "type": "string"
        },
        "shapeType": {
          "readOnly": true,
          "description": "Output only. VM shape platform type",
          "type": "string",
          "enum": [
            "SHAPE_TYPE_UNSPECIFIED",
            "STANDARD_X86"
          ],
          "enumDescriptions": [
            "Unspecified shape type.",
            "Standard X86."
          ]
        },
        "launchFromBackupStorageSizeDetails": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "StorageSizeDetails"
          },
          "description": "Output only. List of storage disk details available for launches from backup."
        },
        "storageSizeDetails": {
          "description": "Output only. List of storage disk details.",
          "type": "array",
          "items": {
            "$ref": "StorageSizeDetails"
          },
          "readOnly": true
        }
      },
      "description": "The properties of a DbSystem initial storage size summary."
    },
    "IdentityConnector": {
      "description": "The identity connector details which will allow OCI to securely access the resources in the customer project.",
      "id": "IdentityConnector",
      "type": "object",
      "properties": {
        "connectionState": {
          "type": "string",
          "enum": [
            "CONNECTION_STATE_UNSPECIFIED",
            "CONNECTED",
            "PARTIALLY_CONNECTED",
            "DISCONNECTED",
            "UNKNOWN"
          ],
          "description": "Output only. The connection state of the identity connector.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "The identity pool connection is connected.",
            "The identity pool connection is partially connected.",
            "The identity pool connection is disconnected.",
            "The identity pool connection is in an unknown state."
          ]
        },
        "serviceAgentEmail": {
          "description": "Output only. A google managed service account on which customers can grant roles to access resources in the customer project. Example: `p176944527254-55-75119d87fd8f@gcp-sa-oci.iam.gserviceaccount.com`",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoldengateOggDeployment": {
      "description": "The Ogg data of the GoldengateDeployment.",
      "id": "GoldengateOggDeployment",
      "properties": {
        "certificate": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The certificate of the GoldengateDeployment."
        },
        "identityDomainId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The identity domain id of the GoldengateDeployment."
        },
        "credentialStore": {
          "enumDescriptions": [
            "The credential store is unspecified.",
            "The credential store is Goldengate.",
            "The credential store is IAM."
[...]
