{
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "name": "oracledatabase",
  "ownerDomain": "google.com",
  "version_module": true,
  "revision": "20260821",
  "servicePath": "",
  "endpoints": [
    {
      "endpointUrl": "https://oracledatabase.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://oracledatabase.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south1",
      "endpointUrl": "https://oracledatabase.asia-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://oracledatabase.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://oracledatabase.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://oracledatabase.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    }
  ],
  "discoveryVersion": "v1",
  "baseUrl": "https://oracledatabase.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Resource name for the location.",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "id": "oracledatabase.projects.locations.get",
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "oracledatabase.projects.locations.list",
              "path": "v1/{+name}/locations",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                }
              }
            }
          },
          "resources": {
            "exascaleDbStorageVaults": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the ExascaleDbStorageVault in the following format: projects/{project}/locations/{location}/exascaleDbStorageVaults/{exascale_db_storage_vault}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/exascaleDbStorageVaults/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "ExascaleDbStorageVault"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "oracledatabase.projects.locations.exascaleDbStorageVaults.get",
                  "httpMethod": "GET",
                  "description": "Gets details of a single ExascaleDB Storage Vault.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/exascaleDbStorageVaults/{exascaleDbStorageVaultsId}",
                  "path": "v1/{+name}"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the ExascaleDbStorageVault in the following format: projects/{project}/locations/{location}/exascaleDbStorageVaults/{exascale_db_storage_vault}.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/exascaleDbStorageVaults/[^/]+$",
                      "location": "path"
                    },
                    "requestId": {
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "id": "oracledatabase.projects.locations.exascaleDbStorageVaults.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/exascaleDbStorageVaults/{exascaleDbStorageVaultsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single ExascaleDB Storage Vault."
                },
                "create": {
                  "description": "Creates a new ExascaleDB Storage Vault resource.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/exascaleDbStorageVaults",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/exascaleDbStorageVaults",
                  "id": "oracledatabase.projects.locations.exascaleDbStorageVaults.create",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "ExascaleDbStorageVault"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "exascaleDbStorageVaultId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The ID of the ExascaleDbStorageVault to create. This value is restricted to (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$) and must be a maximum of 63 characters in length. The value must start with a letter and end with a letter or a number."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The value for parent of the ExascaleDbStorageVault in the following format: projects/{project}/locations/{location}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  }
                },
                "list": {
                  "id": "oracledatabase.projects.locations.exascaleDbStorageVaults.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all the ExascaleDB Storage Vaults for the given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/exascaleDbStorageVaults",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/exascaleDbStorageVaults",
                  "response": {
                    "$ref": "ListExascaleDbStorageVaultsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 ExascaleDbStorageVaults will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent value for ExascaleDbStorageVault in the following format: projects/{project}/locations/{location}.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "description": "Optional. An expression for filtering the results of the request. Filter the list as specified in https://google.aip.dev/160.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An expression for ordering the results of the request. Order results as specified in https://google.aip.dev/132."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "autonomousDatabaseCharacterSets": {
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabaseCharacterSets",
                  "description": "Lists Autonomous Database Character Sets in a given project and location.",
                  "path": "v1/{+parent}/autonomousDatabaseCharacterSets",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "oracledatabase.projects.locations.autonomousDatabaseCharacterSets.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListAutonomousDatabaseCharacterSetsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent value for the Autonomous Database in the following format: projects/{project}/locations/{location}."
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 Autonomous DB Character Sets will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. An expression for filtering the results of the request. Only the **character_set_type** field is supported in the following format: `character_set_type=\"{characterSetType}\"`. Accepted values include `DATABASE` and `NATIONAL`.",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return."
                    }
                  }
                }
              }
            },
            "goldengateConnectionAssignments": {
              "methods": {
                "test": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateConnectionAssignments/{goldengateConnectionAssignmentsId}:test",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the connection assignment for which to test connection. projects/{project}/locations/{region}/goldengateConnectionAssignments/{goldengate_connection_assignment}",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/goldengateConnectionAssignments/[^/]+$"
                    }
                  },
                  "description": "Tests a single GoldengateConnectionAssignment.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:test",
                  "id": "oracledatabase.projects.locations.goldengateConnectionAssignments.test",
                  "response": {
                    "$ref": "TestGoldengateConnectionAssignmentResponse"
                  },
                  "request": {
                    "$ref": "TestGoldengateConnectionAssignmentRequest"
                  }
                },
                "get": {
                  "id": "oracledatabase.projects.locations.goldengateConnectionAssignments.get",
                  "description": "Gets details of a single GoldengateConnectionAssignment.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateConnectionAssignments/{goldengateConnectionAssignmentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoldengateConnectionAssignment"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/goldengateConnectionAssignments/[^/]+$",
                      "description": "Required. The name of the GoldengateConnectionAssignment to retrieve. Format: projects/{project}/locations/{location}/goldengateConnectionAssignments/{goldengate_connection_assignment}",
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/goldengateConnectionAssignments/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the GoldengateConnectionAssignment to delete. Format: projects/{project}/locations/{location}/goldengateConnectionAssignments/{goldengate_connection_assignment}",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateConnectionAssignments/{goldengateConnectionAssignmentsId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a single GoldengateConnectionAssignment.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "oracledatabase.projects.locations.goldengateConnectionAssignments.delete",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListGoldengateConnectionAssignmentsResponse"
                  },
                  "path": "v1/{+parent}/goldengateConnectionAssignments",
                  "description": "Lists GoldengateConnectionAssignments in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "oracledatabase.projects.locations.goldengateConnectionAssignments.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateConnectionAssignments",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListGoldengateConnectionAssignments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListGoldengateConnectionAssignments` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent value for the GoldengateConnectionAssignments. Format: projects/{project}/locations/{location}",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of GoldengateConnectionAssignments to return. The service may return fewer than this value. If unspecified, at most 50 GoldengateConnectionAssignments will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. A filter expression that filters GoldengateConnectionAssignments listed in the response.",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A comma-separated list of fields to order by, sorted in ascending order. Use \"DESC\" after a field name for descending."
                    }
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/goldengateConnectionAssignments",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateConnectionAssignments",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "goldengateConnectionAssignmentId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The ID of the GoldengateConnectionAssignment to create."
                    },
                    "parent": {
                      "description": "Required. The parent resource where this GoldengateConnectionAssignment will be created. Format: projects/{project}/locations/{location}",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new GoldengateConnectionAssignment in a given project and location.",
                  "id": "oracledatabase.projects.locations.goldengateConnectionAssignments.create",
                  "request": {
                    "$ref": "GoldengateConnectionAssignment"
                  }
                }
              }
            },
            "dbSystems": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 DbSystems will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. An expression for ordering the results of the request.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. An expression for filtering the results of the request.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent value for DbSystems in the following format: projects/{project}/locations/{location}."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbSystems",
                  "response": {
                    "$ref": "ListDbSystemsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all the DbSystems for the given project and location.",
                  "path": "v1/{+parent}/dbSystems",
                  "id": "oracledatabase.projects.locations.dbSystems.list"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single DbSystem.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbSystems/{dbSystemsId}",
                  "id": "oracledatabase.projects.locations.dbSystems.delete",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dbSystems/[^/]+$",
                      "description": "Required. The name of the DbSystem in the following format: projects/{project}/locations/{location}/dbSystems/{db_system}.",
                      "location": "path"
                    },
                    "requestId": {
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "create": {
                  "id": "oracledatabase.projects.locations.dbSystems.create",
                  "request": {
                    "$ref": "DbSystem"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbSystems",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a new DbSystem in a given project and location.",
                  "path": "v1/{+parent}/dbSystems",
                  "parameters": {
                    "dbSystemId": {
                      "description": "Required. The ID of the DbSystem to create. This value is restricted to (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$) and must be a maximum of 63 characters in length. The value must start with a letter and end with a letter or a number.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The value for parent of the DbSystem in the following format: projects/{project}/locations/{location}.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  }
                },
                "get": {
                  "path": "v1/{+name}",
                  "id": "oracledatabase.projects.locations.dbSystems.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbSystems/{dbSystemsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single DbSystem.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "DbSystem"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the DbSystem in the following format: projects/{project}/locations/{location}/dbSystems/{db_system}.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dbSystems/[^/]+$"
                    }
                  }
                }
              }
            },
            "autonomousDatabaseBackups": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabaseBackups",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists the long-term and automatic backups of an Autonomous Database.",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/autonomousDatabaseBackups",
                  "response": {
                    "$ref": "ListAutonomousDatabaseBackupsResponse"
                  },
                  "parameters": {
                    "filter": {
                      "description": "Optional. An expression for filtering the results of the request. Only the **autonomous_database_id** field is supported in the following format: `autonomous_database_id=\"{autonomous_database_id}\"`. The accepted values must be a valid Autonomous Database ID, limited to the naming restrictions of the ID: ^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$). The ID must start with a letter, end with a letter or a number, and be a maximum of 63 characters.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 Autonomous DB Backups will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent value for ListAutonomousDatabaseBackups in the following format: projects/{project}/locations/{location}."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return."
                    }
                  },
                  "id": "oracledatabase.projects.locations.autonomousDatabaseBackups.list"
                }
              }
            },
            "goldengateDeploymentTypes": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource. Format: projects/{project}/locations/{location}",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Hint for how to order the results",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. An expression for filtering the results of the request. Either the deployment_type and ogg_version fields must be specified in the format: `deployment_type=\"DATABASE_ORACLE\"` or `ogg_version=\"version\"`. Allowed values for deployment_type are: `DATABASE_ORACLE`, `BIGDATA`, `DATABASE_MICROSOFT_SQLSERVER`, `DATABASE_MYSQL`, `DATABASE_POSTGRESQL`, `DATABASE_DB2ZOS`, `DATABASE_DB2I`, `GGSA`, `DATA_TRANSFORMS`.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateDeploymentTypes",
                  "description": "Lists GoldenGateDeploymentTypes in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListGoldengateDeploymentTypesResponse"
                  },
                  "path": "v1/{+parent}/goldengateDeploymentTypes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "oracledatabase.projects.locations.goldengateDeploymentTypes.list"
                }
              }
            },
            "dbSystemInitialStorageSizes": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbSystemInitialStorageSizes",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of items to return. If unspecified, a maximum of 50 DbSystemInitialStorageSizes will be returned. The maximum value is 1000; values above 1000 will be reset to 1000.",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent value for the DbSystemInitialStorageSize resource with the format: projects/{project}/locations/{location}",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying the requested page of results to return. All fields except the filter should remain the same as in the request that provided this page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "oracledatabase.projects.locations.dbSystemInitialStorageSizes.list",
                  "description": "Lists all the DbSystemInitialStorageSizes for the given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListDbSystemInitialStorageSizesResponse"
                  },
                  "path": "v1/{+parent}/dbSystemInitialStorageSizes"
                }
              }
            },
            "pluggableDatabases": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "PluggableDatabase"
                  },
                  "id": "oracledatabase.projects.locations.pluggableDatabases.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pluggableDatabases/{pluggableDatabasesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a single PluggableDatabase.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the PluggableDatabase resource in the following format: projects/{project}/locations/{region}/pluggableDatabases/{pluggable_database}",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/pluggableDatabases/[^/]+$"
                    }
                  }
                },
                "list": {
                  "description": "Lists all the PluggableDatabases for the given project, location and Container Database.",
                  "response": {
                    "$ref": "ListPluggableDatabasesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/pluggableDatabases",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "oracledatabase.projects.locations.pluggableDatabases.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pluggableDatabases",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent, which owns this collection of PluggableDatabases. Format: projects/{project}/locations/{location}",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. An expression for filtering the results of the request. List for pluggable databases is supported only with a valid container database (full resource name) filter in this format: `database=\"projects/{project}/locations/{location}/databases/{database}\"`",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of PluggableDatabases to return. The service may return fewer than this value.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListPluggableDatabases` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPluggableDatabases` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "autonomousDbVersions": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/autonomousDbVersions",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDbVersions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 Autonomous DB Versions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent value for the Autonomous Database in the following format: projects/{project}/locations/{location}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListAutonomousDbVersionsResponse"
                  },
                  "description": "Lists all the available Autonomous Database versions for a project and location.",
                  "id": "oracledatabase.projects.locations.autonomousDbVersions.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                }
              }
            },
            "databases": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/databases/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the Database resource in the following format: projects/{project}/locations/{region}/databases/{database}"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/databases/{databasesId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "oracledatabase.projects.locations.databases.get",
                  "response": {
                    "$ref": "Database"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single Database."
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all the Databases for the given project, location and DbSystem.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/databases",
                  "path": "v1/{+parent}/databases",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListDatabasesResponse"
                  },
                  "id": "oracledatabase.projects.locations.databases.list",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An expression for filtering the results of the request. list for container databases is supported only with a valid dbSystem (full resource name) filter in this format: `dbSystem=\"projects/{project}/locations/{location}/dbSystems/{dbSystemId}\"`"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of items to return. If unspecified, a maximum of 50 Databases will be returned. The maximum value is 1000; values above 1000 will be reset to 1000.",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource name in the following format: projects/{project}/locations/{region}",
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying the requested page of results to return. All fields except the filter should remain the same as in the request that provided this page token.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                }
              }
            },
            "exadbVmClusters": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. The name of the ExadbVmCluster in the following format: projects/{project}/locations/{location}/exadbVmClusters/{exadb_vm_cluster}.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/exadbVmClusters/[^/]+$",
                      "required": true
                    }
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a single Exadb (Exascale) VM Cluster.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/exadbVmClusters/{exadbVmClustersId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "oracledatabase.projects.locations.exadbVmClusters.delete"
                },
                "get": {
                  "description": "Gets details of a single Exadb (Exascale) VM Cluster.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the ExadbVmCluster in the following format: projects/{project}/locations/{location}/exadbVmClusters/{exadb_vm_cluster}.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/exadbVmClusters/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "ExadbVmCluster"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "oracledatabase.projects.locations.exadbVmClusters.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/exadbVmClusters/{exadbVmClustersId}",
                  "path": "v1/{+name}"
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "Identifier. The name of the ExadbVmCluster resource in the following format: projects/{project}/locations/{region}/exadbVmClusters/{exadb_vm_cluster}",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/exadbVmClusters/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Optional. A mask specifying which fields in th VM Cluster should be updated. A field specified in the mask is overwritten. If a mask isn't provided then all the fields in the VM Cluster are overwritten.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "requestId": {
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Updates a single Exadb (Exascale) VM Cluster. To add virtual machines to existing exadb vm cluster, only pass the node count.",
                  "request": {
                    "$ref": "ExadbVmCluster"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/exadbVmClusters/{exadbVmClustersId}",
                  "id": "oracledatabase.projects.locations.exadbVmClusters.patch",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "oracledatabase.projects.locations.exadbVmClusters.create",
                  "description": "Creates a new Exadb (Exascale) VM Cluster resource.",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/exadbVmClusters",
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The value for parent of the ExadbVmCluster in the following format: projects/{project}/locations/{location}.",
                      "required": true,
                      "type": "string"
                    },
                    "exadbVmClusterId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The ID of the ExadbVmCluster to create. This value is restricted to (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$) and must be a maximum of 63 characters in length. The value must start with a letter and end with a letter or a number."
                    }
                  },
                  "request": {
                    "$ref": "ExadbVmCluster"
                  },
                  "path": "v1/{+parent}/exadbVmClusters"
                },
                "removeVirtualMachine": {
                  "description": "Removes virtual machines from an existing exadb vm cluster.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/exadbVmClusters/[^/]+$",
                      "description": "Required. The name of the ExadbVmCluster in the following format: projects/{project}/locations/{location}/exadbVmClusters/{exadb_vm_cluster}.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "id": "oracledatabase.projects.locations.exadbVmClusters.removeVirtualMachine",
                  "path": "v1/{+name}:removeVirtualMachine",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/exadbVmClusters/{exadbVmClustersId}:removeVirtualMachine",
                  "request": {
                    "$ref": "RemoveVirtualMachineExadbVmClusterRequest"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListExadbVmClustersResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/exadbVmClusters",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "oracledatabase.projects.locations.exadbVmClusters.list",
                  "description": "Lists all the Exadb (Exascale) VM Clusters for the given project and location.",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 ExadbVmClusters will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. An expression for ordering the results of the request.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An expression for filtering the results of the request."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent value for ExadbVmClusters in the following format: projects/{project}/locations/{location}."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/exadbVmClusters"
                }
              },
              "resources": {
                "dbNodes": {
                  "methods": {
                    "list": {
                      "path": "v1/{+parent}/dbNodes",
                      "response": {
                        "$ref": "ListDbNodesResponse"
                      },
                      "id": "oracledatabase.projects.locations.exadbVmClusters.dbNodes.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/exadbVmClusters/{exadbVmClustersId}/dbNodes",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the node should return.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent value for database node in the following format: projects/{project}/locations/{location}/cloudVmClusters/{cloudVmCluster}. .",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/exadbVmClusters/[^/]+$"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of items to return. If unspecified, at most 50 db nodes will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "description": "Lists the database nodes of a VM Cluster."
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "oracledatabase.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "oracledatabase.projects.locations.operations.delete",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true
                    }
                  }
                },
                "cancel": {
                  "path": "v1/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "oracledatabase.projects.locations.operations.cancel"
                },
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations",
                  "id": "oracledatabase.projects.locations.operations.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                }
              }
            },
            "cloudExadataInfrastructures": {
              "resources": {
                "dbServers": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListDbServersResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists the database servers of an Exadata Infrastructure instance.",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/cloudExadataInfrastructures/[^/]+$",
                          "location": "path",
                          "description": "Required. The parent value for database server in the following format: projects/{project}/locations/{location}/cloudExadataInfrastructures/{cloudExadataInfrastructure}."
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. The maximum number of items to return. If unspecified, a maximum of 50 db servers will be returned. The maximum value is 1000; values above 1000 will be reset to 1000."
                        }
                      },
                      "path": "v1/{+parent}/dbServers",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "oracledatabase.projects.locations.cloudExadataInfrastructures.dbServers.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cloudExadataInfrastructures/{cloudExadataInfrastructuresId}/dbServers"
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent value for CloudExadataInfrastructure in the following format: projects/{project}/locations/{location}."
                    },
                    "cloudExadataInfrastructureId": {
                      "type": "string",
                      "description": "Required. The ID of the Exadata Infrastructure to create. This value is restricted to (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$) and must be a maximum of 63 characters in length. The value must start with a letter and end with a letter or a number.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/cloudExadataInfrastructures",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "oracledatabase.projects.locations.cloudExadataInfrastructures.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cloudExadataInfrastructures",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CloudExadataInfrastructure"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a new Exadata Infrastructure in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cloudExadataInfrastructures/{cloudExadataInfrastructuresId}",
                  "response": {
                    "$ref": "CloudExadataInfrastructure"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/cloudExadataInfrastructures/[^/]+$",
                      "description": "Required. The name of the Cloud Exadata Infrastructure in the following format: projects/{project}/locations/{location}/cloudExadataInfrastructures/{cloud_exadata_infrastructure}.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "oracledatabase.projects.locations.cloudExadataInfrastructures.get",
                  "description": "Gets details of a single Exadata Infrastructure."
                },
                "list": {
                  "path": "v1/{+parent}/cloudExadataInfrastructures",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists Exadata Infrastructures in a given project and location.",
                  "id": "oracledatabase.projects.locations.cloudExadataInfrastructures.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cloudExadataInfrastructures",
                  "response": {
                    "$ref": "ListCloudExadataInfrastructuresResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent value for CloudExadataInfrastructure in the following format: projects/{project}/locations/{location}.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. An expression for filtering the results of the request.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 Exadata infrastructures will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32"
                    },
                    "orderBy": {
                      "description": "Optional. An expression for ordering the results of the request.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return."
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "configureExascale": {
                  "httpMethod": "POST",
                  "id": "oracledatabase.projects.locations.cloudExadataInfrastructures.configureExascale",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the Cloud Exadata Infrastructure in the following format: projects/{project}/locations/{location}/cloudExadataInfrastructures/{cloud_exadata_infrastructure}.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/cloudExadataInfrastructures/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Configures Exascale for a single Exadata Infrastructure.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "ConfigureExascaleCloudExadataInfrastructureRequest"
                  },
                  "path": "v1/{+name}:configureExascale",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cloudExadataInfrastructures/{cloudExadataInfrastructuresId}:configureExascale"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "oracledatabase.projects.locations.cloudExadataInfrastructures.delete",
                  "description": "Deletes a single Exadata Infrastructure.",
                  "parameters": {
                    "force": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set to true, all VM clusters for this Exadata Infrastructure will be deleted. An Exadata Infrastructure can only be deleted once all its VM clusters have been deleted."
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the Cloud Exadata Infrastructure in the following format: projects/{project}/locations/{location}/cloudExadataInfrastructures/{cloud_exadata_infrastructure}.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/cloudExadataInfrastructures/[^/]+$"
                    },
                    "requestId": {
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cloudExadataInfrastructures/{cloudExadataInfrastructuresId}",
                  "httpMethod": "DELETE"
                }
              }
            },
            "dbVersions": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "oracledatabase.projects.locations.dbVersions.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/dbVersions",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbVersions",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A token identifying the requested page of results to return. All fields except the filter should remain the same as in the request that provided this page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Filter expression that matches a subset of the DbVersions to show. The supported filter for dbSystem creation is `db_system_shape = {db_system_shape} AND storage_management = {storage_management}`. If no filter is provided, all DbVersions will be returned."
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent value for the DbVersion resource with the format: projects/{project}/locations/{location}",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of items to return. If unspecified, a maximum of 50 DbVersions will be returned. The maximum value is 1000; values above 1000 will be reset to 1000.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListDbVersionsResponse"
                  },
                  "httpMethod": "GET",
                  "description": "List DbVersions for the given project and location."
                }
              }
            },
            "giVersions": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListGiVersionsResponse"
                  },
                  "path": "v1/{+parent}/giVersions",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent value for Grid Infrastructure Version in the following format: Format: projects/{project}/locations/{location}.",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An expression for filtering the results of the request. Only the `shape` and `gcp_oracle_zone_id` fields are supported in the following format: `shape=\"{shape}\" AND gcp_oracle_zone_id=\"{gcp_oracle_zone_id}\"`."
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of items to return. If unspecified, a maximum of 50 Oracle Grid Infrastructure (GI) versions will be returned. The maximum value is 1000; values above 1000 will be reset to 1000.",
                      "type": "integer"
                    }
                  },
                  "id": "oracledatabase.projects.locations.giVersions.list",
                  "description": "Lists all the valid Oracle Grid Infrastructure (GI) versions for the given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/giVersions"
                }
              },
              "resources": {
                "minorVersions": {
                  "methods": {
                    "list": {
                      "description": "Lists all the valid minor versions for the given project, location, gi version and shape family.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/giVersions/{giVersionsId}/minorVersions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/minorVersions",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A token identifying the requested page of results to return. All fields except the filter should remain the same as in the request that provided this page token.",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. The maximum number of items to return. If unspecified, a maximum of 50 System Versions will be returned. The maximum value is 1000; values above 1000 will be reset to 1000.",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. An expression for filtering the results of the request. Only the `shape_family` and `gcp_oracle_zone_id` fields are supported in the following format: `shape_family=\"{shape_family}\" AND gcp_oracle_zone_id=\"{gcp_oracle_zone_id}\"`.",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The parent value for the MinorVersion resource with the format: projects/{project}/locations/{location}/giVersions/{gi_version}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/giVersions/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "id": "oracledatabase.projects.locations.giVersions.minorVersions.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListMinorVersionsResponse"
                      }
                    }
                  }
                }
              }
            },
            "goldengateDeployments": {
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateDeployments",
                  "id": "oracledatabase.projects.locations.goldengateDeployments.list",
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An expression for ordering the results of the request."
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous ListGoldengateDeployments call. Provide this to retrieve the subsequent page.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. An expression for filtering the results of the request.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 GoldengateDeployments will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent value for GoldengateDeployments in the following format: projects/{project}/locations/{location}."
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/goldengateDeployments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all the GoldengateDeployments for the given project and location.",
                  "response": {
                    "$ref": "ListGoldengateDeploymentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "request": {
                    "$ref": "GoldengateDeployment"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateDeployments",
                  "path": "v1/{+parent}/goldengateDeployments",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "goldengateDeploymentId": {
                      "type": "string",
                      "description": "Required. The ID of the GoldengateDeployment to create. This value is restricted to (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$) and must be a maximum of 63 characters in length. The value must start with a letter and end with a letter or a number.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The value for parent of the GoldengateDeployment in the following format: projects/{project}/locations/{location}.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "oracledatabase.projects.locations.goldengateDeployments.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a new GoldengateDeployment in a given project and location."
                },
                "stop": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateDeployments/{goldengateDeploymentsId}:stop",
                  "description": "Stops a single GoldengateDeployment.",
                  "id": "oracledatabase.projects.locations.goldengateDeployments.stop",
                  "request": {
                    "$ref": "StopGoldengateDeploymentRequest"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/goldengateDeployments/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the Goldengate Deployment in the following format: projects/{project}/locations/{location}/goldengateDeployments/{goldengate_deployment}.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}:stop",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "start": {
                  "description": "Starts a single GoldengateDeployment.",
                  "request": {
                    "$ref": "StartGoldengateDeploymentRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateDeployments/{goldengateDeploymentsId}:start",
                  "path": "v1/{+name}:start",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the Goldengate Deployment in the following format: projects/{project}/locations/{location}/goldengateDeployments/{goldengate_deployment}.",
                      "location": "path",
[...]
