{
  "kind": "discovery#restDescription",
  "id": "oracledatabase:v1",
  "documentationLink": "https://cloud.google.com/oracle/database/docs",
  "title": "Oracle Database@Google Cloud API",
  "batchPath": "batch",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "schemas": {
    "ListAutonomousDatabasesResponse": {
      "id": "ListAutonomousDatabasesResponse",
      "type": "object",
      "description": "The response for `AutonomousDatabase.List`.",
      "properties": {
        "autonomousDatabases": {
          "items": {
            "$ref": "AutonomousDatabase"
          },
          "type": "array",
          "description": "The list of Autonomous Databases."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'."
        }
      }
    },
    "KafkaBootstrapServer": {
      "type": "object",
      "id": "KafkaBootstrapServer",
      "description": "Represents a Kafka bootstrap server with host name, optional port defaults to 9092, and an optional private ip.",
      "properties": {
        "privateIpAddress": {
          "type": "string",
          "description": "Optional. The private IP address of the connection's endpoint in the customer's VCN, typically a database endpoint or a big data endpoint (e.g. Kafka bootstrap server). In case the privateIp is provided, the subnetId must also be provided. In case the privateIp (and the subnetId) is not provided it is assumed the datasource is publicly accessible. In case the connection is accessible only privately, the lack of privateIp will result in not being able to access the connection."
        },
        "host": {
          "description": "Required. The name or address of a host.",
          "type": "string"
        },
        "port": {
          "description": "Optional. The port of an endpoint usually specified for a connection.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoldengateConnectionAssignmentProperties": {
      "description": "The properties of a GoldengateConnectionAssignment.",
      "id": "GoldengateConnectionAssignmentProperties",
      "type": "object",
      "properties": {
        "ocid": {
          "type": "string",
          "description": "Output only. The [OCID](https://docs.cloud.oracle.com/Content/General/Concepts/identifiers.htm) of the connection assignment being referenced.",
          "readOnly": true
        },
        "goldengateConnection": {
          "description": "Required. The GoldengateConnection resource to be assigned. Format: projects/{project}/locations/{location}/goldengateConnections/{goldengate_connection}",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Lifecycle state is unspecified.",
            "Connection assignment is being created.",
            "Connection assignment is active.",
            "Connection assignment failed.",
            "Connection assignment is being updated.",
            "Connection assignment is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED",
            "UPDATING",
            "DELETING"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The lifecycle state of the connection assignment."
        },
        "alias": {
          "description": "Output only. Credential store alias.",
          "type": "string",
          "readOnly": true
        },
        "goldengateDeployment": {
          "description": "Required. The GoldenGateDeployment to assign the connection to. Format: projects/{project}/locations/{location}/goldengateDeployments/{goldengate_deployment}",
          "type": "string"
        }
      }
    },
    "GiVersion": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Oracle Grid Infrastructure (GI) version resource with the format: projects/{project}/locations/{region}/giVersions/{gi_versions}"
        },
        "version": {
          "description": "Optional. version",
          "type": "string"
        }
      },
      "description": "Details of the Oracle Grid Infrastructure (GI) version resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/GiVersionSummary/",
      "id": "GiVersion",
      "type": "object"
    },
    "GoldengateMicrosoftSqlserverConnectionProperties": {
      "properties": {
        "serverCertificateValidationRequired": {
          "description": "Optional. If set to true, the driver validates the certificate that is sent by the database server.",
          "type": "boolean"
        },
        "database": {
          "description": "Optional. The name of the database.",
          "type": "string"
        },
        "technologyType": {
          "description": "Optional. The technology type of MicrosoftSqlserverConnection.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Input only. The password Oracle Goldengate uses for Microsoft SQL Server connection in plain text.",
          "type": "string"
        },
        "host": {
          "description": "Optional. The name or address of a host.",
          "type": "string"
        },
        "username": {
          "description": "Optional. The username Oracle Goldengate uses to connect to the Microsoft SQL Server.",
          "type": "string"
        },
        "securityProtocol": {
          "type": "string",
          "enum": [
            "MICROSOFT_SQLSERVER_SECURITY_PROTOCOL_UNSPECIFIED",
            "PLAIN",
            "TLS"
          ],
          "description": "Optional. Security Type for Microsoft SQL Server.",
          "enumDescriptions": [
            "Security type not specified.",
            "Plain text communication.",
            "Transport Layer Security."
          ]
        },
        "sslCaFile": {
          "type": "string",
          "description": "Optional. Database Certificate - The base64 encoded content of a .pem or .crt file containing the server public key (for 1-way SSL)."
        },
        "additionalAttributes": {
          "type": "array",
          "description": "Optional. An array of name-value pair attribute entries. Used as additional parameters in connection string.",
          "items": {
            "$ref": "NameValuePair"
          }
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses for Microsoft SQL Server connection. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "port": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The port of an endpoint usually specified for a connection."
        }
      },
      "type": "object",
      "id": "GoldengateMicrosoftSqlserverConnectionProperties",
      "description": "The properties of GoldengateMicrosoftSqlserverConnection."
    },
    "ListGiVersionsResponse": {
      "id": "ListGiVersionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "giVersions": {
          "description": "The list of Oracle Grid Infrastructure (GI) versions.",
          "type": "array",
          "items": {
            "$ref": "GiVersion"
          }
        }
      },
      "type": "object",
      "description": "The response for `GiVersion.List`."
    },
    "RemoveVirtualMachineExadbVmClusterRequest": {
      "type": "object",
      "description": "The request for `ExadbVmCluster.RemoveVirtualMachine`.",
      "properties": {
        "hostnames": {
          "items": {
            "type": "string"
          },
          "description": "Required. The list of host names of db nodes to be removed from the ExadbVmCluster.",
          "type": "array"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "id": "RemoveVirtualMachineExadbVmClusterRequest"
    },
    "DataCollectionOptions": {
      "type": "object",
      "description": "Data collection options for diagnostics.",
      "properties": {
        "incidentLogsEnabled": {
          "description": "Optional. Indicates whether incident logs and trace collection are enabled for the VM cluster",
          "type": "boolean"
        },
        "healthMonitoringEnabled": {
          "description": "Optional. Indicates whether health monitoring is enabled for the VM cluster",
          "type": "boolean"
        },
        "diagnosticsEventsEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether diagnostic collection is enabled for the VM cluster"
        }
      },
      "id": "DataCollectionOptions"
    },
    "GoldengateGoogleBigQueryConnectionProperties": {
      "description": "The properties of GoldengateGoogleBigQueryConnectionProperties.",
      "properties": {
        "serviceAccountKeyFile": {
          "type": "string",
          "description": "Optional. The base64 encoded content of the service account key file containing the credentials required to use Google BigQuery."
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type."
        }
      },
      "type": "object",
      "id": "GoldengateGoogleBigQueryConnectionProperties"
    },
    "ExascaleDbStorageVaultProperties": {
      "id": "ExascaleDbStorageVaultProperties",
      "type": "object",
      "properties": {
        "availableShapeAttributes": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "SHAPE_ATTRIBUTE_UNSPECIFIED",
              "SMART_STORAGE",
              "BLOCK_STORAGE"
            ],
            "enumDescriptions": [
              "Default unspecified value.",
              "Indicates that the resource is in smart storage.",
              "Indicates that the resource is in block storage."
            ]
          },
          "readOnly": true,
          "description": "Output only. The shape attributes available for the VM clusters to be attached to the ExascaleDbStorageVault."
        },
        "vmClusterCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of VM clusters associated with the ExascaleDbStorageVault."
        },
        "exascaleDbStorageDetails": {
          "$ref": "ExascaleDbStorageDetails",
          "description": "Required. The storage details of the ExascaleDbStorageVault."
        },
        "attachedShapeAttributes": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "SHAPE_ATTRIBUTE_UNSPECIFIED",
              "SMART_STORAGE",
              "BLOCK_STORAGE"
            ],
            "enumDescriptions": [
              "Default unspecified value.",
              "Indicates that the resource is in smart storage.",
              "Indicates that the resource is in block storage."
            ]
          },
          "readOnly": true,
          "description": "Output only. The shape attributes of the VM clusters attached to the ExascaleDbStorageVault."
        },
        "description": {
          "description": "Optional. The description of the ExascaleDbStorageVault.",
          "type": "string"
        },
        "timeZone": {
          "readOnly": true,
          "description": "Output only. The time zone of the ExascaleDbStorageVault.",
          "$ref": "TimeZone"
        },
        "additionalFlashCachePercent": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The size of additional flash cache in percentage of high capacity database storage."
        },
        "vmClusterIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of VM cluster OCIDs associated with the ExascaleDbStorageVault.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The state of the ExascaleDbStorageVault is unspecified.",
            "The ExascaleDbStorageVault is being provisioned.",
            "The ExascaleDbStorageVault is available.",
            "The ExascaleDbStorageVault is being updated.",
            "The ExascaleDbStorageVault is being deleted.",
            "The ExascaleDbStorageVault has been deleted.",
            "The ExascaleDbStorageVault has failed."
          ],
          "description": "Output only. The state of the ExascaleDbStorageVault."
        },
        "ociUri": {
          "description": "Output only. Deep link to the OCI console to view this resource.",
          "readOnly": true,
          "type": "string"
        },
        "ocid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The OCID for the ExascaleDbStorageVault."
        }
      },
      "description": "The properties of the ExascaleDbStorageVault. next ID: 12"
    },
    "ListOdbNetworksResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "odbNetworks": {
          "description": "The list of ODB Networks.",
          "type": "array",
          "items": {
            "$ref": "OdbNetwork"
          }
        },
        "unreachable": {
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListOdbNetworksResponse",
      "description": "The response for `OdbNetwork.List`."
    },
    "DatabaseProperties": {
      "properties": {
        "dbVersion": {
          "description": "Required. The Oracle Database version.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in backup in progress state.",
            "Indicates that the resource is in upgrading state.",
            "Indicates that the resource is in converting state.",
            "Indicates that the resource is in terminating state.",
            "Indicates that the resource is in terminated state.",
            "Indicates that the resource is in restore failed state.",
            "Indicates that the resource is in failed state."
          ],
          "readOnly": true,
          "description": "Output only. State of the Database.",
          "type": "string",
          "enum": [
            "DATABASE_LIFECYCLE_STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "BACKUP_IN_PROGRESS",
            "UPGRADING",
            "CONVERTING",
            "TERMINATING",
            "TERMINATED",
            "RESTORE_FAILED",
            "FAILED"
          ]
        },
        "dbBackupConfig": {
          "description": "Optional. Backup options for the Database.",
          "$ref": "DbBackupConfig"
        },
        "databaseManagementConfig": {
          "readOnly": true,
          "description": "Output only. The Database Management config.",
          "$ref": "DatabaseManagementConfig"
        }
      },
      "type": "object",
      "id": "DatabaseProperties",
      "description": "The properties of a Database."
    },
    "GoldengateGoldengateConnectionProperties": {
      "type": "object",
      "properties": {
        "port": {
          "description": "Optional. The port of the GoldengateConnection.",
          "format": "int32",
          "type": "integer"
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password used to connect to the Oracle Goldengate. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "host": {
          "description": "Optional. The host of the GoldengateConnection.",
          "type": "string"
        },
        "technologyType": {
          "description": "Optional. The technology type.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Input only. The password used to connect to the Oracle Goldengate in plain text.",
          "type": "string"
        },
        "username": {
          "description": "Optional. The username credential.",
          "type": "string"
        },
        "goldengateDeploymentId": {
          "type": "string",
          "description": "Optional. The name of the GoldengateDeployment associated with the GoldengateConnection. Format: projects/{project}/locations/{location}/goldengateDeployments/{goldengate_deployment}"
        }
      },
      "description": "The properties of GoldengateGoldengateConnectionProperties.",
      "id": "GoldengateGoldengateConnectionProperties"
    },
    "AllConnectionStrings": {
      "description": "A list of all connection strings that can be used to connect to the Autonomous Database.",
      "properties": {
        "medium": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The database service provides a lower level of resources to each SQL statement."
        },
        "low": {
          "type": "string",
          "description": "Output only. The database service provides the least level of resources to each SQL statement.",
          "readOnly": true
        },
        "high": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The database service provides the highest level of resources to each SQL statement."
        }
      },
      "id": "AllConnectionStrings",
      "type": "object"
    },
    "AmazonS3IcebergStorage": {
      "description": "The Amazon S3 Iceberg storage.",
      "id": "AmazonS3IcebergStorage",
      "type": "object",
      "properties": {
        "schemeType": {
          "description": "Required. The scheme type of Amazon S3.",
          "type": "string",
          "enumDescriptions": [
            "Scheme type not specified.",
            "S3 scheme.",
            "S3A scheme."
          ],
          "enum": [
            "SCHEME_TYPE_UNSPECIFIED",
            "S3",
            "S3A"
          ]
        },
        "bucket": {
          "type": "string",
          "description": "Required. The bucket of Amazon S3."
        },
        "accessKeyId": {
          "type": "string",
          "description": "Required. The access key ID of Amazon S3."
        },
        "secretAccessKeySecret": {
          "description": "Optional. The secret access key of Amazon S3.",
          "type": "string"
        },
        "region": {
          "description": "Required. The region of Amazon S3.",
          "type": "string"
        },
        "endpoint": {
          "type": "string",
          "description": "Optional. The endpoint of Amazon S3."
        }
      }
    },
    "DbSystemInitialStorageSizeProperties": {
      "description": "The properties of a DbSystem initial storage size summary.",
      "id": "DbSystemInitialStorageSizeProperties",
      "properties": {
        "storageSizeDetails": {
          "description": "Output only. List of storage disk details.",
          "type": "array",
          "items": {
            "$ref": "StorageSizeDetails"
          },
          "readOnly": true
        },
        "launchFromBackupStorageSizeDetails": {
          "description": "Output only. List of storage disk details available for launches from backup.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "StorageSizeDetails"
          }
        },
        "shapeType": {
          "type": "string",
          "enum": [
            "SHAPE_TYPE_UNSPECIFIED",
            "STANDARD_X86"
          ],
          "enumDescriptions": [
            "Unspecified shape type.",
            "Standard X86."
          ],
          "readOnly": true,
          "description": "Output only. VM shape platform type"
        },
        "storageManagement": {
          "type": "string",
          "enum": [
            "STORAGE_MANAGEMENT_UNSPECIFIED",
            "ASM",
            "LVM"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified storage management.",
            "Automatic Storage Management.",
            "Logical Volume Management."
          ],
          "description": "Output only. The storage option used in DB system."
        }
      },
      "type": "object"
    },
    "ListDbSystemShapesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "dbSystemShapes": {
          "items": {
            "$ref": "DbSystemShape"
          },
          "type": "array",
          "description": "The list of Database System shapes."
        }
      },
      "description": "The response for `DbSystemShape.List`.",
      "type": "object",
      "id": "ListDbSystemShapesResponse"
    },
    "GoldengateHdfsConnectionProperties": {
      "id": "GoldengateHdfsConnectionProperties",
      "type": "object",
      "properties": {
        "coreSiteXml": {
          "description": "Optional. The content of the Hadoop Distributed File System configuration file (core-site.xml).",
          "type": "string"
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of HdfsConnection."
        }
      },
      "description": "The properties of GoldengateHdfsConnection."
    },
    "GoldengateAmazonS3ConnectionProperties": {
      "description": "The properties of GoldengateAmazonS3Connection.",
      "id": "GoldengateAmazonS3ConnectionProperties",
      "type": "object",
      "properties": {
        "technologyType": {
          "description": "Optional. The technology type of AmazonS3Connection.",
          "type": "string"
        },
        "endpoint": {
          "type": "string",
          "description": "Optional. The Amazon Endpoint for S3."
        },
        "accessKeyId": {
          "type": "string",
          "description": "Optional. Access key ID to access the Amazon S3 bucket."
        },
        "secretAccessKeySecret": {
          "type": "string",
          "description": "Optional. Secret access key to access the Amazon S3 bucket."
        },
        "region": {
          "description": "Optional. The name of the AWS region where the bucket is created.",
          "type": "string"
        }
      }
    },
    "RestIcebergCatalog": {
      "id": "RestIcebergCatalog",
      "type": "object",
      "description": "The REST Iceberg catalog.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. The REST uri."
        },
        "properties": {
          "description": "Optional. The base64 encoded content of the configuration file containing additional properties for the REST catalog.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "BackupDestinationDetails": {
      "type": "object",
      "description": "The details of the database backup destination.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Backup destination type is NFS.",
            "Backup destination type is Recovery Appliance.",
            "Backup destination type is Object Store.",
            "Backup destination type is Local.",
            "Backup destination type is DBRS."
          ],
          "description": "Optional. The type of the database backup destination.",
          "enum": [
            "BACKUP_DESTINATION_TYPE_UNSPECIFIED",
            "NFS",
            "RECOVERY_APPLIANCE",
            "OBJECT_STORE",
            "LOCAL",
            "DBRS"
          ],
          "type": "string"
        }
      },
      "id": "BackupDestinationDetails"
    },
    "StartGoldengateDeploymentRequest": {
      "type": "object",
      "properties": {},
      "description": "The request for `GoldengateDeployment.Start`.",
      "id": "StartGoldengateDeploymentRequest"
    },
    "GoldengateAzureSynapseAnalyticsConnectionProperties": {
      "type": "object",
      "properties": {
        "password": {
          "description": "Optional. Input only. The password Oracle Goldengate uses for Azure Synapse Analytics connection in plain text.",
          "type": "string"
        },
        "username": {
          "description": "Optional. The username Oracle Goldengate uses to connect the associated system of the given technology.",
          "type": "string"
        },
        "connectionString": {
          "description": "Optional. JDBC connection string. e.g.: 'jdbc:sqlserver://.sql.azuresynapse.net:1433;database=;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.sql.azuresynapse.net;loginTimeout=300;'",
          "type": "string"
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses for Azure Synapse Analytics connection. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of AzureSynapseAnalyticsConnection."
        }
      },
      "description": "The properties of GoldengateAzureSynapseAnalyticsConnection.",
      "id": "GoldengateAzureSynapseAnalyticsConnectionProperties"
    },
    "PolarisIcebergCatalog": {
      "type": "object",
      "properties": {
        "clientId": {
          "description": "Required. The Polaris client ID.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Required. The Polaris uri."
        },
        "clientSecret": {
          "description": "Optional. The Polaris client secret.",
          "type": "string"
        },
        "principalRole": {
          "type": "string",
          "description": "Required. The Polaris principal role."
        },
        "polarisCatalog": {
          "type": "string",
          "description": "Required. The catalog name within Polaris."
        }
      },
      "id": "PolarisIcebergCatalog",
      "description": "The Polaris Iceberg catalog."
    },
    "GoldengateGroupToRolesMapping": {
      "description": "The group to roles mapping of the GoldengateDeployment.",
      "id": "GoldengateGroupToRolesMapping",
      "properties": {
        "administratorGroupId": {
          "type": "string",
          "description": "Output only. The administrator group id.",
          "readOnly": true
        },
        "userGroupId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The user group id."
        },
        "securityGroupId": {
          "description": "Output only. The security group id.",
          "readOnly": true,
          "type": "string"
        },
        "operatorGroupId": {
          "description": "Output only. The operator group id.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "DbSystemInitialStorageSize": {
      "description": "Summary of the DbSystem initial storage size.",
      "id": "DbSystemInitialStorageSize",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "DbSystemInitialStorageSizeProperties",
          "description": "Output only. The properties of the DbSystem initial storage size summary.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the resource."
        }
      }
    },
    "DbServer": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. User friendly name for this resource."
        },
        "properties": {
          "description": "Optional. Various properties of the database server.",
          "$ref": "DbServerProperties"
        },
        "name": {
          "description": "Identifier. The name of the database server resource with the format: projects/{project}/locations/{location}/cloudExadataInfrastructures/{cloud_exadata_infrastructure}/dbServers/{db_server}",
          "type": "string"
        }
      },
      "id": "DbServer",
      "description": "Details of the database server resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/DbServer/",
      "type": "object"
    },
    "DbSystemShape": {
      "properties": {
        "maxNodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Maximum number of database servers."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Database System Shape resource with the format: projects/{project}/locations/{region}/dbSystemShapes/{db_system_shape}"
        },
        "coreCountIncrement": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Core count increment."
        },
        "minStorageCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Minimum number of storage servers."
        },
        "availableCoreCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Available core count."
        },
        "shape": {
          "type": "string",
          "description": "Optional. shape"
        },
        "availableCoreCountPerNode": {
          "description": "Optional. Number of cores per node.",
          "format": "int32",
          "type": "integer"
        },
        "minimumCoreCount": {
          "format": "int32",
          "description": "Optional. Minimum core count per node.",
          "type": "integer"
        },
        "minCoreCountPerNode": {
          "description": "Optional. Minimum core count per node.",
          "type": "integer",
          "format": "int32"
        },
        "minDbNodeStoragePerNodeGb": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Minimum node storage per database server in gigabytes."
        },
        "maxStorageCount": {
          "description": "Optional. Maximum number of storage servers.",
          "format": "int32",
          "type": "integer"
        },
        "availableDataStorageTb": {
          "description": "Optional. Storage per storage server in terabytes.",
          "format": "int32",
          "type": "integer"
        },
        "minMemoryPerNodeGb": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Minimum memory per node in gigabytes."
        },
        "availableMemoryPerNodeGb": {
          "description": "Optional. Memory per database server node in gigabytes.",
          "type": "integer",
          "format": "int32"
        },
        "minNodeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Minimum number of database servers."
        }
      },
      "type": "object",
      "id": "DbSystemShape",
      "description": "Details of the Database System Shapes resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/DbSystemShapeSummary/"
    },
    "GoldengateSnowflakeConnectionProperties": {
      "description": "The properties of GoldengateSnowflakeConnection.",
      "properties": {
        "technologyType": {
          "description": "Optional. The technology type of SnowflakeConnection.",
          "type": "string"
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses to connect to Snowflake platform. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "privateKeyPassphraseSecret": {
          "description": "Optional. Password if the private key file is encrypted.",
          "type": "string"
        },
        "authenticationType": {
          "type": "string",
          "enum": [
            "AUTHENTICATION_TYPE_UNSPECIFIED",
            "BASIC",
            "KEY_PAIR"
          ],
          "description": "Optional. Used authentication mechanism to access Snowflake.",
          "enumDescriptions": [
            "Authentication type not specified.",
            "Basic authentication.",
            "Key pair authentication."
          ]
        },
        "username": {
          "description": "Optional. The username Oracle Goldengate uses to connect to Snowflake.",
          "type": "string"
        },
        "connectionUrl": {
          "type": "string",
          "description": "Optional. JDBC connection URL. e.g.: 'jdbc:snowflake://.snowflakecomputing.com/?warehouse=&db='"
        },
        "password": {
          "description": "Optional. Input only. The password Oracle Goldengate uses to connect to Snowflake platform in plain text.",
          "type": "string"
        },
        "privateKeyFile": {
          "type": "string",
          "description": "Optional. The content of private key file in PEM format."
        }
      },
      "id": "GoldengateSnowflakeConnectionProperties",
      "type": "object"
    },
    "SourceConfig": {
      "properties": {
        "backupTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The timestamp specified for the point-in-time clone of the source Autonomous Database. This field is only applicable in case of BACKUP_FROM_TIMESTAMP source type and when use_latest_available_backup is false."
        },
        "autonomousDatabase": {
          "description": "Optional. The name of the primary Autonomous Database that is used to create a Peer Autonomous Database from a source.",
          "type": "string"
        },
        "refreshableMode": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Automatic refresh.",
            "Manual refresh."
          ],
          "enum": [
            "REFRESHABLE_MODE_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "description": "Optional. The refresh mode of the clone."
        },
        "automaticBackupsReplicationEnabled": {
          "type": "boolean",
          "description": "Optional. This field specifies if the replication of automatic backups is enabled when creating a Data Guard."
        },
        "autoRefreshStartTime": {
          "type": "string",
          "description": "Optional. The date and time that auto-refreshing will begin for an Autonomous Database refreshable clone. This value controls only the start time for the first refresh operation.",
          "format": "google-datetime"
        },
        "autonomousDatabaseBackup": {
          "type": "string",
          "description": "Optional. The name of the Autonomous Database Backup resource with the format: projects/{project}/locations/{region}/autonomousDatabaseBackups/{autonomous_database_backup} Required when source_type is BACKUP_FROM_ID."
        },
        "useLatestAvailableBackup": {
          "description": "Optional. Clone from latest available backup timestamp. This field is only applicable in case of BACKUP_FROM_TIMESTAMP source type.",
          "type": "boolean"
        },
        "autoRefreshPointLagSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The time, in seconds, the data of the automatic refreshable clone lags the primary database at the point of refresh."
        },
        "autoRefreshFrequencySeconds": {
          "description": "Optional. The frequency in seconds a refreshable clone is refreshed after auto-refresh is enabled.",
          "type": "integer",
          "format": "int32"
        },
        "cloneType": {
          "enum": [
            "CLONE_TYPE_UNSPECIFIED",
            "FULL",
            "METADATA"
          ],
          "description": "Optional. The clone type of the Autonomous Database. This field is only applicable in case of cloning",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Creates a new database with the source database's data and metadata.",
            "Creates a new database that includes all the source database schema metadata, but none of the source database data."
          ]
        },
        "sourceType": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Clone database from an existing database specified in autonomous_database field.",
            "Create a cross-region disaster recovery peer adb from an existing adb.",
            "Create a refreshable clone from an existing database specified in autonomous_database field.",
            "Create clone from the backup resource.",
            "Create clone from backup specified by backup_time field, or use latest available backup if use_latest_available_backup is true. The autonomous_database field must specify the source database to clone from."
          ],
          "description": "Optional. The source type of the Autonomous Database.",
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "CLONE_DATABASE",
            "CROSS_REGION_DISASTER_RECOVERY",
            "CLONE_TO_REFRESHABLE",
            "BACKUP_FROM_ID",
            "BACKUP_FROM_TIMESTAMP"
          ],
          "type": "string"
        }
      },
      "id": "SourceConfig",
      "type": "object",
      "description": "The source configuration for the standby Autonomous Database."
    },
    "NessieIcebergCatalog": {
      "id": "NessieIcebergCatalog",
      "properties": {
        "branch": {
          "type": "string",
          "description": "Required. The Nessie branch."
        },
        "uri": {
          "description": "Required. The Nessie uri.",
          "type": "string"
        }
      },
      "description": "The Nessie Iceberg catalog.",
      "type": "object"
    },
    "DefinedTagValue": {
      "type": "object",
      "description": "Wrapper message for the value of a defined tag.",
      "id": "DefinedTagValue",
      "properties": {
        "tags": {
          "type": "object",
          "description": "The tags within the namespace.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoldengateElasticsearchConnectionProperties": {
      "properties": {
        "fingerprint": {
          "description": "Optional. Fingerprint required by TLS security protocol. Eg.: '6152b2dfbff200f973c5074a5b91d06ab3b472c07c09a1ea57bb7fd406cdce9c'",
          "type": "string"
        },
        "authenticationType": {
          "enumDescriptions": [
            "Authentication type not specified.",
            "No authentication.",
            "Basic authentication."
          ],
          "description": "Optional. Authentication type for Elasticsearch.",
          "type": "string",
          "enum": [
            "ELASTICSEARCH_AUTHENTICATION_TYPE_UNSPECIFIED",
            "NONE",
            "BASIC"
          ]
        },
        "securityProtocol": {
          "enum": [
            "ELASTICSEARCH_SECURITY_PROTOCOL_UNSPECIFIED",
            "PLAIN",
            "TLS"
          ],
          "enumDescriptions": [
            "Security protocol not specified.",
            "Plain text communication.",
            "Transport Layer Security."
          ],
          "type": "string",
          "description": "Optional. Security protocol for Elasticsearch."
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of ElasticsearchConnection."
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses for Elastic Search connection. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "servers": {
          "description": "Optional. Comma separated list of Elasticsearch server addresses, specified as host:port entries, where :port is optional. If port is not specified, it defaults to 9200. Example: \"server1.example.com:4000,server2.example.com:4000\"",
          "type": "string"
        },
        "username": {
          "description": "Optional. The username Oracle Goldengate uses to connect the associated system of the given technology.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Input only. The password Oracle Goldengate uses for Elastic Search connection in plain text.",
          "type": "string"
        }
      },
      "id": "GoldengateElasticsearchConnectionProperties",
      "type": "object",
      "description": "The properties of GoldengateElasticsearchConnection."
    },
    "AutonomousDatabaseStandbySummary": {
      "type": "object",
      "description": "Autonomous Data Guard standby database details. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/AutonomousDatabaseStandbySummary",
      "id": "AutonomousDatabaseStandbySummary",
      "properties": {
        "state": {
          "description": "Output only. The current lifecycle state of the Autonomous Database.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "STOPPING",
            "STOPPED",
            "STARTING",
            "TERMINATING",
            "TERMINATED",
            "UNAVAILABLE",
            "RESTORE_IN_PROGRESS",
            "RESTORE_FAILED",
            "BACKUP_IN_PROGRESS",
            "SCALE_IN_PROGRESS",
            "AVAILABLE_NEEDS_ATTENTION",
            "UPDATING",
            "MAINTENANCE_IN_PROGRESS",
            "RESTARTING",
            "RECREATING",
            "ROLE_CHANGE_IN_PROGRESS",
            "UPGRADING",
            "INACCESSIBLE",
            "STANDBY"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the Autonomous Database is in provisioning state.",
            "Indicates that the Autonomous Database is in available state.",
            "Indicates that the Autonomous Database is in stopping state.",
            "Indicates that the Autonomous Database is in stopped state.",
            "Indicates that the Autonomous Database is in starting state.",
            "Indicates that the Autonomous Database is in terminating state.",
            "Indicates that the Autonomous Database is in terminated state.",
            "Indicates that the Autonomous Database is in unavailable state.",
            "Indicates that the Autonomous Database restore is in progress.",
            "Indicates that the Autonomous Database failed to restore.",
            "Indicates that the Autonomous Database backup is in progress.",
            "Indicates that the Autonomous Database scale is in progress.",
            "Indicates that the Autonomous Database is available but needs attention state.",
            "Indicates that the Autonomous Database is in updating state.",
            "Indicates that the Autonomous Database's maintenance is in progress state.",
            "Indicates that the Autonomous Database is in restarting state.",
            "Indicates that the Autonomous Database is in recreating state.",
            "Indicates that the Autonomous Database's role change is in progress state.",
            "Indicates that the Autonomous Database is in upgrading state.",
            "Indicates that the Autonomous Database is in inaccessible state.",
            "Indicates that the Autonomous Database is in standby state."
          ]
        },
        "disasterRecoveryRoleChangedTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The date and time the Disaster Recovery role was switched for the standby Autonomous Database."
        },
        "dataGuardRoleChangedTime": {
          "type": "string",
          "description": "Output only. The date and time the Autonomous Data Guard role was switched for the standby Autonomous Database.",
          "format": "google-datetime",
          "readOnly": true
        },
        "lagTimeDuration": {
          "description": "Output only. The amount of time, in seconds, that the data of the standby database lags in comparison to the data of the primary database.",
          "format": "google-duration",
          "readOnly": true,
          "type": "string"
        },
        "lifecycleDetails": {
          "description": "Output only. The additional details about the current lifecycle state of the Autonomous Database.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "DatabaseConnectionStringProfile": {
      "type": "object",
      "description": "The connection string profile to allow clients to group. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/DatabaseConnectionStringProfile",
      "properties": {
        "isRegional": {
          "readOnly": true,
          "description": "Output only. This field indicates if the connection string is regional and is only applicable for cross-region Data Guard.",
          "type": "boolean"
        },
        "value": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The value of the connection string."
        },
        "consumerGroup": {
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "High consumer group.",
            "Medium consumer group.",
            "Low consumer group.",
            "TP consumer group.",
            "TPURGENT consumer group."
          ],
          "description": "Output only. The current consumer group being used by the connection.",
          "type": "string",
          "enum": [
            "CONSUMER_GROUP_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "TP",
            "TPURGENT"
          ]
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name for the database connection."
        },
        "protocol": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Tcp",
            "Tcps"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The protocol being used by the connection.",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "TCP",
            "TCPS"
          ]
        },
        "tlsAuthentication": {
          "type": "string",
          "enum": [
            "TLS_AUTHENTICATION_UNSPECIFIED",
            "SERVER",
            "MUTUAL"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Server",
            "Mutual"
          ],
          "description": "Output only. This field indicates the TLS authentication type of the connection."
        },
        "syntaxFormat": {
          "enum": [
            "SYNTAX_FORMAT_UNSPECIFIED",
            "LONG",
            "EZCONNECT",
            "EZCONNECTPLUS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Long",
            "Ezconnect",
            "Ezconnectplus"
          ],
          "description": "Output only. The syntax of the connection string.",
          "readOnly": true
        },
        "sessionMode": {
          "enum": [
            "SESSION_MODE_UNSPECIFIED",
            "DIRECT",
            "INDIRECT"
          ],
          "type": "string",
          "description": "Output only. The current session mode of the connection.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Direct",
            "Indirect"
          ]
        },
        "hostFormat": {
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "FQDN",
            "IP"
          ],
          "type": "string",
          "enum": [
            "HOST_FORMAT_UNSPECIFIED",
            "FQDN",
            "IP"
          ],
          "description": "Output only. The host name format being currently used in connection string."
        }
      },
      "id": "DatabaseConnectionStringProfile"
    },
    "GoldengateMongodbConnectionProperties": {
      "id": "GoldengateMongodbConnectionProperties",
      "type": "object",
      "properties": {
        "passwordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses to connect the Mongodb connection. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "tlsCaFile": {
          "type": "string",
          "description": "Optional. Database Certificate - The base64 encoded content of a .pem file, containing the server public key (for 1 and 2-way SSL)."
        },
        "connectionString": {
          "type": "string",
          "description": "Optional. MongoDB connection string. e.g.: 'mongodb://mongodb0.example.com:27017/recordsrecords'"
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of MongodbConnection."
        },
        "securityProtocol": {
          "description": "Optional. Security Type for MongoDB.",
          "enum": [
            "MONGODB_SECURITY_PROTOCOL_UNSPECIFIED",
            "PLAIN",
            "TLS",
            "MTLS"
          ],
          "enumDescriptions": [
            "Security type not specified.",
            "Plain text communication.",
            "Transport Layer Security.",
            "Mutual Transport Layer Security."
          ],
          "type": "string"
        },
        "tlsCertificateKeyFilePassword": {
          "description": "Optional. Input only. The Client Certificate key file password in plain text.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Input only. The password Oracle Goldengate uses to connect the Mongodb connection in plain text.",
          "type": "string"
        },
        "tlsCertificateKeyFilePasswordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the Client Certificate key file password in Secret Manager. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "databaseId": {
          "description": "Optional. The OCID of the Oracle Autonomous Json Database.",
          "type": "string"
        },
        "tlsCertificateKeyFile": {
          "description": "Optional. Client Certificate - The base64 encoded content of a .pem file, containing the client public key (for 2-way SSL).",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Optional. The username Oracle Goldengate uses to connect to the database."
        }
      },
      "description": "The properties of GoldengateMongodbConnection."
    },
    "AutonomousDatabaseRefreshableClones": {
      "id": "AutonomousDatabaseRefreshableClones",
      "properties": {
        "autonomousDatabaseRefreshableClones": {
          "type": "array",
          "items": {
            "$ref": "AutonomousDatabaseRefreshableClone"
          },
          "description": "The list of Autonomous Database refreshable clones."
        }
      },
      "type": "object",
      "description": "Response message for getting the Autonomous Database refreshable clones."
    },
    "ListDbServersResponse": {
      "type": "object",
      "description": "The response for `DbServer.List`.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "dbServers": {
          "items": {
            "$ref": "DbServer"
          },
          "type": "array",
          "description": "The list of database servers."
        }
      },
      "id": "ListDbServersResponse"
    },
    "DataCollectionOptionsDbSystem": {
      "id": "DataCollectionOptionsDbSystem",
      "properties": {
        "isDiagnosticsEventsEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates whether to enable data collection for diagnostics."
        },
        "isIncidentLogsEnabled": {
          "description": "Optional. Indicates whether to enable incident logs and trace collection.",
          "type": "boolean"
        }
      },
      "description": "Data collection options for DbSystem.",
      "type": "object"
    },
    "AutonomousDatabaseBackupProperties": {
      "description": "Properties of the Autonomous Database Backup resource.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Output only. The type of the backup.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Incremental backups.",
            "Full backups.",
            "Long term backups."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INCREMENTAL",
            "FULL",
            "LONG_TERM"
          ]
        },
        "isLongTermBackup": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates if the backup is long term backup."
        },
        "isAutomaticBackup": {
          "description": "Output only. Indicates if the backup is automatic or user initiated.",
          "readOnly": true,
          "type": "boolean"
        },
        "availableTillTime": {
          "type": "string",
          "description": "Output only. Timestamp until when the backup will be available.",
          "format": "google-datetime",
          "readOnly": true
        },
        "lifecycleDetails": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Additional information about the current lifecycle state."
        },
        "ocid": {
          "description": "Output only. OCID of the Autonomous Database backup. https://docs.oracle.com/en-us/iaas/Content/General/Concepts/identifiers.htm#Oracle",
          "type": "string",
          "readOnly": true
        },
        "retentionPeriodDays": {
          "description": "Optional. Retention period in days for the backup.",
          "type": "integer",
          "format": "int32"
        },
        "vaultId": {
          "type": "string",
          "description": "Optional. The OCID of the vault."
        },
        "compartmentId": {
          "type": "string",
          "description": "Output only. The OCID of the compartment.",
          "readOnly": true
        },
        "kmsKeyId": {
          "description": "Optional. The OCID of the key container that is used as the master encryption key in database transparent data encryption (TDE) operations.",
          "type": "string"
        },
        "kmsKeyVersionId": {
          "description": "Optional. The OCID of the key container version that is used in database transparent data encryption (TDE) operations KMS Key can have multiple key versions. If none is specified, the current key version (latest) of the Key Id is used for the operation. Autonomous Database Serverless does not use key versions, hence is not applicable for Autonomous Database Serverless instances.",
          "type": "string"
        },
        "keyStoreWallet": {
          "description": "Optional. The wallet name for Oracle Key Vault.",
          "type": "string"
        },
        "sizeTb": {
          "type": "number",
          "description": "Output only. The backup size in terabytes.",
          "readOnly": true,
          "format": "float"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The date and time the backup completed."
        },
        "lifecycleState": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "DELETED",
            "FAILED",
            "UPDATING"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The lifecycle state of the backup.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in creating state.",
            "Indicates that the resource is in active state.",
            "Indicates that the resource is in deleting state.",
            "Indicates that the resource is in deleted state.",
            "Indicates that the resource is in failed state.",
            "Indicates that the resource is in updating state."
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. The date and time the backup started.",
          "readOnly": true,
          "type": "string"
        },
        "keyStoreId": {
          "type": "string",
          "description": "Optional. The OCID of the key store of Oracle Vault."
        },
        "isRestorable": {
          "type": "boolean",
          "description": "Output only. Indicates if the backup can be used to restore the Autonomous Database.",
          "readOnly": true
        },
        "databaseSizeTb": {
          "readOnly": true,
          "format": "float",
          "description": "Output only. The quantity of data in the database, in terabytes.",
          "type": "number"
        },
        "dbVersion": {
          "type": "string",
          "description": "Output only. A valid Oracle Database version for Autonomous Database.",
          "readOnly": true
        }
      },
      "id": "AutonomousDatabaseBackupProperties"
    },
    "TestGoldengateConnectionAssignmentRequest": {
      "id": "TestGoldengateConnectionAssignmentRequest",
      "type": "object",
      "description": "Request message for TestGoldengateConnectionAssignment.",
      "properties": {
        "type": {
          "enum": [
            "TEST_TYPE_UNSPECIFIED",
            "DEFAULT"
          ],
          "description": "Optional. The type of the test of the assigned connection. The only type actually supported is DEFAULT.",
          "enumDescriptions": [
            "The default value. This value is unused.",
            "The default connection test."
          ],
          "type": "string"
        }
      }
    },
    "DatabaseCharacterSet": {
      "type": "object",
      "id": "DatabaseCharacterSet",
      "description": "Details of the Database character set resource.",
      "properties": {
        "characterSet": {
          "description": "Output only. The character set name for the Database which is the ID in the resource name.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Database Character Set resource in the following format: projects/{project}/locations/{region}/databaseCharacterSets/{database_character_set}"
        },
        "characterSetType": {
          "type": "string",
          "enum": [
            "CHARACTER_SET_TYPE_UNSPECIFIED",
            "DATABASE",
            "NATIONAL"
          ],
          "description": "Output only. The character set type for the Database.",
          "enumDescriptions": [
            "Character set type is not specified.",
            "Character set type is set to database.",
            "Character set type is set to national."
          ],
          "readOnly": true
        }
      }
    },
    "ListDatabaseCharacterSetsResponse": {
      "id": "ListDatabaseCharacterSetsResponse",
      "properties": {
        "databaseCharacterSets": {
          "type": "array",
          "description": "The list of DatabaseCharacterSets.",
          "items": {
            "$ref": "DatabaseCharacterSet"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "type": "object",
      "description": "The response for `DatabaseCharacterSet.List`."
    },
    "GoldengateDeploymentProperties": {
      "type": "object",
      "id": "GoldengateDeploymentProperties",
      "description": "Properties of GoldengateDeployment.",
      "properties": {
        "publicIpAddress": {
          "description": "Output only. The public ip address of the GoldengateDeployment.",
          "type": "string",
          "readOnly": true
        },
        "roleChangeTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the role of the GoldengateDeployment was changed.",
          "format": "google-datetime"
        },
        "ingressIps": {
          "items": {
            "$ref": "IngressIp"
          },
          "type": "array",
          "description": "Output only. The ingress ips of the GoldengateDeployment.",
          "readOnly": true
        },
        "loadBalancerId": {
          "type": "string",
          "description": "Output only. The load balancer id of the GoldengateDeployment.",
          "readOnly": true
        },
        "loadBalancerSubnetId": {
          "description": "Output only. The load balancer subnet id of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string"
        },
        "nextBackupScheduleTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time next backup scheduled of the GoldengateDeployment.",
          "readOnly": true
        },
        "deploymentRole": {
          "type": "string",
          "enum": [
            "GOLDENGATE_DEPLOYMENT_ROLE_TYPE_UNSPECIFIED",
            "PRIMARY",
            "STANDBY"
          ],
          "enumDescriptions": [
            "The deployment role type is unspecified.",
            "The deployment role type is primary.",
            "The deployment role type is standby."
          ],
          "readOnly": true,
          "description": "Output only. The deployment role of the GoldengateDeployment."
        },
        "cpuCoreCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The Minimum number of OCPUs to be made available for this Deployment."
        },
        "healthy": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the GoldengateDeployment is healthy."
        },
        "privateIpAddress": {
          "readOnly": true,
          "description": "Output only. The private ip address of the GoldengateDeployment.",
          "type": "string"
        },
        "nextMaintenanceDescription": {
          "readOnly": true,
          "description": "Output only. The next maintenance description of the GoldengateDeployment.",
          "type": "string"
        },
        "lifecycleSubState": {
          "description": "Output only. The lifecycle sub-state of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The lifecycle sub-state is unspecified.",
            "The deployment is recovering.",
            "The deployment is starting.",
            "The deployment is stopping.",
            "The deployment is moving.",
            "The deployment is upgrading.",
            "The deployment is restoring.",
            "The deployment is backing up.",
            "The deployment is rolling back."
          ],
          "enum": [
            "GOLDENGATE_DEPLOYMENT_LIFECYCLE_SUB_STATE_UNSPECIFIED",
            "RECOVERING",
            "STARTING",
            "STOPPING",
            "MOVING",
            "UPGRADING",
            "RESTORING",
            "BACKING_UP",
            "ROLLING_BACK"
          ]
        },
        "oggVersionSupportEndTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time ogg version supported until of the GoldengateDeployment.",
          "format": "google-datetime"
        },
        "isStorageUtilizationLimitExceeded": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether storage utilization limit is exceeded of the GoldengateDeployment."
        },
        "maintenanceConfig": {
          "description": "Optional. The maintenance configuration of the GoldengateDeployment.",
          "$ref": "GoldengateMaintenanceConfig"
        },
        "category": {
          "enumDescriptions": [
            "The category is unspecified.",
            "The deployment is data replication.",
            "The deployment is data transforms."
          ],
          "enum": [
            "GOLDENGATE_DEPLOYMENT_CATEGORY_UNSPECIFIED",
            "DATA_REPLICATION",
            "DATA_TRANSFORMS"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The category of the GoldengateDeployment."
        },
        "ocid": {
          "description": "Output only. OCID of the GoldengateDeployment.",
          "readOnly": true,
          "type": "string"
        },
        "upgradeRequiredTime": {
          "description": "Output only. The time upgrade required of the GoldengateDeployment.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "deploymentType": {
          "description": "Required. A valid Goldengate Deployment type. For a list of supported types, use the `ListGoldengateDeploymentTypes` operation.",
          "type": "string"
        },
        "backupSchedule": {
          "$ref": "GoldengateBackupSchedule",
          "readOnly": true,
          "description": "Output only. The backup schedule of the GoldengateDeployment."
        },
        "description": {
          "description": "Optional. The description of the GoldengateDeployment.",
          "type": "string"
        },
        "oggData": {
          "description": "Required. The ogg data of the GoldengateDeployment.",
          "$ref": "GoldengateOggDeployment"
        },
        "nsgIds": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The nsg ids of the GoldengateDeployment.",
          "type": "array"
        },
        "lifecycleState": {
          "readOnly": true,
          "description": "Output only. State of the GoldengateDeployment.",
          "enumDescriptions": [
            "Default unspecified value.",
            "The deployment is being created.",
            "The deployment is being updated.",
            "The deployment is active.",
            "The deployment is inactive.",
            "The deployment is being deleted.",
            "The deployment is deleted.",
            "The deployment failed.",
            "The deployment needs attention.",
            "The deployment is in progress.",
            "The deployment is canceling.",
            "The deployment is canceled.",
            "The deployment succeeded.",
            "The deployment is waiting."
          ],
          "enum": [
            "GOLDENGATE_DEPLOYMENT_LIFECYCLE_STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "ACTIVE",
            "INACTIVE",
            "DELETING",
            "DELETED",
            "FAILED",
            "NEEDS_ATTENTION",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED",
            "WAITING"
          ],
          "type": "string"
        },
        "maintenanceWindow": {
          "$ref": "GoldengateMaintenanceWindow",
          "description": "Optional. The maintenance window of the GoldengateDeployment."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time the GoldengateDeployment was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "locks": {
          "items": {
            "$ref": "GoldengateDeploymentLock"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The locks of the GoldengateDeployment."
        },
        "nextMaintenanceActionType": {
          "type": "string",
          "enum": [
            "NEXT_MAINTENANCE_ACTION_TYPE_UNSPECIFIED",
            "UPGRADE"
          ],
          "readOnly": true,
          "description": "Output only. The next maintenance action type of the GoldengateDeployment.",
          "enumDescriptions": [
            "The next maintenance action type is unspecified.",
            "The next maintenance action type is upgrade."
          ]
        },
        "lifecycleDetails": {
          "type": "string",
          "description": "Output only. The lifecycle details of the GoldengateDeployment.",
          "readOnly": true
        },
        "isLatestVersion": {
          "description": "Output only. Whether the GoldengateDeployment is of the latest version.",
          "type": "boolean",
          "readOnly": true
        },
        "deploymentBackupId": {
          "type": "string",
          "description": "Output only. The deployment backup id of the GoldengateDeployment.",
          "readOnly": true
        },
        "placements": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The placements of the GoldengateDeployment.",
          "items": {
            "$ref": "GoldengatePlacement"
          }
        },
        "isPublic": {
          "type": "boolean",
          "description": "Output only. Whether the GoldengateDeployment is public.",
          "readOnly": true
        },
        "environmentType": {
          "type": "string",
          "description": "Optional. The environment type of the GoldengateDeployment."
        },
        "isAutoScalingEnabled": {
          "type": "boolean",
          "description": "Optional. Indicates if auto scaling is enabled for the Deployment's CPU core count."
        },
        "licenseModel": {
          "enum": [
            "LICENSE_MODEL_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ],
          "enumDescriptions": [
            "The license model is unspecified.",
            "The license model is included.",
            "The license model is bring your own license."
          ],
          "type": "string",
          "description": "Optional. The Oracle license model that applies to a Deployment."
        },
        "deploymentDiagnosticData": {
          "description": "Output only. The deployment diagnostic data of the GoldengateDeployment.",
          "readOnly": true,
          "$ref": "DeploymentDiagnosticData"
        },
        "lastBackupScheduleTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time last backup scheduled of the GoldengateDeployment.",
          "readOnly": true
        },
        "fqdn": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Fully Qualified Domain Name of the GoldengateDeployment."
        },
        "nextMaintenanceTime": {
          "description": "Output only. The time of next maintenance of the GoldengateDeployment.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "deploymentUrl": {
          "description": "Output only. The deployment url of the GoldengateDeployment.",
          "type": "string",
          "readOnly": true
        },
        "storageUtilizationBytes": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The storage utilization in bytes of the GoldengateDeployment."
        }
      }
    },
    "ExadbVmClusterStorageDetails": {
      "id": "ExadbVmClusterStorageDetails",
      "type": "object",
      "description": "The storage allocation for the exadbvmcluster, in gigabytes (GB).",
      "properties": {
        "sizeInGbsPerNode": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The storage allocation for the exadbvmcluster per node, in gigabytes (GB). This field is used to calculate the total storage allocation for the exadbvmcluster."
        }
      }
    },
    "AutonomousDatabase": {
      "description": "Details of the Autonomous Database resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/AutonomousDatabase/",
      "id": "AutonomousDatabase",
      "properties": {
        "peerAutonomousDatabases": {
          "type": "array",
          "description": "Output only. The peer Autonomous Database names of the given Autonomous Database.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "cidr": {
          "description": "Optional. Immutable. The subnet CIDR range for the Autonomous Database.",
          "type": "string"
        },
        "odbNetwork": {
          "type": "string",
          "description": "Optional. Immutable. The name of the OdbNetwork associated with the Autonomous Database. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network} It is optional but if specified, this should match the parent ODBNetwork of the OdbSubnet."
        },
        "name": {
          "description": "Identifier. The name of the Autonomous Database resource in the following format: projects/{project}/locations/{region}/autonomousDatabases/{autonomous_database}",
          "type": "string"
        },
        "properties": {
          "$ref": "AutonomousDatabaseProperties",
          "description": "Optional. The properties of the Autonomous Database."
        },
        "adminPassword": {
          "type": "string",
          "description": "Optional. Immutable. The password for the default ADMIN user. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated."
        },
        "adminPasswordSecretVersion": {
          "type": "string",
          "description": "Optional. Immutable. The resource name of a secret version in Secret Manager which contains the database admin user's password. Format: projects/{project}/secrets/{secret}/versions/{version}. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated."
        },
        "sourceConfig": {
          "$ref": "SourceConfig",
          "description": "Optional. Immutable. The source Autonomous Database configuration for the standby Autonomous Database. The source Autonomous Database is configured while creating the Peer Autonomous Database and can't be updated after creation."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The date and time that the Autonomous Database was created."
        },
        "disasterRecoverySupportedLocations": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. List of supported GCP region to clone the Autonomous Database for disaster recovery. Format: `project/{project}/locations/{location}`."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels or tags associated with the Autonomous Database."
        },
        "displayName": {
          "description": "Optional. Immutable. The display name for the Autonomous Database. The name does not have to be unique within your project.",
          "type": "string"
        },
        "odbSubnet": {
          "description": "Optional. Immutable. The name of the OdbSubnet associated with the Autonomous Database. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}",
          "type": "string"
        },
        "network": {
          "description": "Optional. Immutable. The name of the VPC network used by the Autonomous Database in the following format: projects/{project}/global/networks/{network}",
          "type": "string"
        },
        "database": {
          "description": "Optional. Immutable. The name of the Autonomous Database. The database name must be unique in the project. The name must begin with a letter and can contain a maximum of 30 alphanumeric characters.",
          "type": "string"
        },
        "entitlementId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the subscription entitlement associated with the Autonomous Database."
        }
      },
      "type": "object"
    },
    "Operation": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "StorageSizeDetails": {
      "type": "object",
      "id": "StorageSizeDetails",
      "description": "The initial storage size, in gigabytes, that is applicable for virtual machine DBSystem.",
      "properties": {
        "dataStorageSizeInGbs": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The data storage size, in gigabytes, that is applicable for virtual machine DBSystem."
        },
        "recoStorageSizeInGbs": {
          "description": "Output only. The RECO/REDO storage size, in gigabytes, that is applicable for virtual machine DBSystem.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ExadbVmCluster": {
      "type": "object",
      "description": "ExadbVmCluster represents a cluster of VMs that are used to run Exadata workloads. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/ExadbVmCluster/",
      "properties": {
        "entitlementId": {
          "description": "Output only. The ID of the subscription entitlement associated with the ExadbVmCluster.",
          "type": "string",
          "readOnly": true
        },
        "gcpOracleZone": {
          "type": "string",
          "description": "Output only. Immutable. The GCP Oracle zone where Oracle ExadbVmCluster is hosted. Example: us-east4-b-r2. During creation, the system will pick the zone assigned to the ExascaleDbStorageVault.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The date and time that the ExadbVmCluster was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "identityConnector": {
          "$ref": "IdentityConnector",
          "description": "Output only. The identity connector details which will allow OCI to securely access the resources in the customer project.",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels or tags associated with the ExadbVmCluster.",
          "type": "object"
        },
        "displayName": {
          "description": "Required. Immutable. The display name for the ExadbVmCluster. The name does not have to be unique within your project. The name must be 1-255 characters long and can only contain alphanumeric characters.",
          "type": "string"
        },
        "odbSubnet": {
          "type": "string",
          "description": "Required. Immutable. The name of the OdbSubnet associated with the ExadbVmCluster for IP allocation. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}"
        },
        "odbNetwork": {
          "type": "string",
          "description": "Optional. Immutable. The name of the OdbNetwork associated with the ExadbVmCluster. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network} It is optional but if specified, this should match the parent ODBNetwork of the OdbSubnet."
        },
        "name": {
          "description": "Identifier. The name of the ExadbVmCluster resource in the following format: projects/{project}/locations/{region}/exadbVmClusters/{exadb_vm_cluster}",
          "type": "string"
        },
        "properties": {
          "description": "Required. The properties of the ExadbVmCluster.",
          "$ref": "ExadbVmClusterProperties"
        },
        "backupOdbSubnet": {
          "description": "Required. Immutable. The name of the backup OdbSubnet associated with the ExadbVmCluster. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}",
          "type": "string"
        }
      },
      "id": "ExadbVmCluster"
    },
    "StopAutonomousDatabaseRequest": {
      "id": "StopAutonomousDatabaseRequest",
      "properties": {},
      "description": "The request for `AutonomousDatabase.Stop`.",
      "type": "object"
    },
    "GoldengateDeploymentVersion": {
      "properties": {
        "ocid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The deployment version ocid of the Goldengate Deployment Version resource."
        },
        "properties": {
          "description": "Output only. The technology type of the Goldengate Deployment Version resource.",
          "readOnly": true,
          "$ref": "GoldengateDeploymentVersionProperties"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Goldengate Deployment Version resource with the format: projects/{project}/locations/{location}/goldengateDeploymentVersions/{goldengate_deployment_version}"
        }
      },
      "type": "object",
      "description": "Details of the Goldengate Deployment Version resource.",
      "id": "GoldengateDeploymentVersion"
    },
    "NameValuePair": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The value of the property entry."
        },
        "key": {
          "description": "Required. The name of the property entry.",
          "type": "string"
        }
      },
      "id": "NameValuePair",
      "description": "A name-value pair representing an attribute entry usable in a list of attributes.",
      "type": "object"
    },
    "GoldengateConnectionProperties": {
      "id": "GoldengateConnectionProperties",
      "properties": {
        "amazonKinesisConnectionProperties": {
          "$ref": "GoldengateAmazonKinesisConnectionProperties",
          "description": "Properties for an Amazon Kinesis connection."
        },
        "description": {
          "type": "string",
          "description": "Optional. Metadata about this specific object."
        },
        "amazonRedshiftConnectionProperties": {
          "description": "Properties for an Amazon Redshift connection.",
          "$ref": "GoldengateAmazonRedshiftConnectionProperties"
        },
        "redisConnectionProperties": {
          "description": "Properties for a Redis connection.",
          "$ref": "GoldengateRedisConnectionProperties"
        },
        "mongodbConnectionProperties": {
          "$ref": "GoldengateMongodbConnectionProperties",
          "description": "Properties for a MongoDB connection."
        },
        "lifecycleDetails": {
          "readOnly": true,
          "description": "Output only. Describes the object's current state in detail. For example, it can be used to provide actionable information for a resource in a Failed state.",
          "type": "string"
        },
        "connectionType": {
          "enumDescriptions": [
            "Connection type unspecified.",
            "Goldengate connection type.",
            "Kafka connection type.",
            "Kafka schema registry connection type.",
            "MySQL connection type.",
            "Java message service connection type.",
            "Microsoft SQL Server connection type.",
            "OCI object storage connection type.",
            "Oracle connection type.",
            "Azure data lake storage connection type.",
            "PostgreSQL connection type.",
            "Azure synapse analytics connection type.",
            "Snowflake connection type.",
            "Amazon S3 connection type.",
            "HDFS connection type.",
            "Oracle AI data platform connection type.",
            "Oracle NoSQL connection type.",
            "MongoDB connection type.",
            "Amazon Kinesis connection type.",
            "Amazon Redshift connection type.",
            "DB2 connection type.",
            "Redis connection type.",
            "Elasticsearch connection type.",
            "Generic connection type.",
            "Google Cloud Storage connection type.",
            "Google BigQuery connection type.",
            "Databricks connection type.",
            "Google Pub/Sub connection type.",
            "Microsoft Fabric connection type.",
            "Iceberg connection type."
          ],
          "type": "string",
          "description": "Required. The connection type.",
          "enum": [
            "GOLDENGATE_CONNECTION_TYPE_UNSPECIFIED",
            "GOLDENGATE",
            "KAFKA",
            "KAFKA_SCHEMA_REGISTRY",
            "MYSQL",
            "JAVA_MESSAGE_SERVICE",
            "MICROSOFT_SQLSERVER",
            "OCI_OBJECT_STORAGE",
            "ORACLE",
            "AZURE_DATA_LAKE_STORAGE",
            "POSTGRESQL",
            "AZURE_SYNAPSE_ANALYTICS",
            "SNOWFLAKE",
            "AMAZON_S3",
            "HDFS",
            "ORACLE_AI_DATA_PLATFORM",
            "ORACLE_NOSQL",
            "MONGODB",
            "AMAZON_KINESIS",
            "AMAZON_REDSHIFT",
            "DB2",
            "REDIS",
            "ELASTICSEARCH",
            "GENERIC",
            "GOOGLE_CLOUD_STORAGE",
            "GOOGLE_BIGQUERY",
            "DATABRICKS",
            "GOOGLE_PUBSUB",
            "MICROSOFT_FABRIC",
            "ICEBERG"
          ]
        },
        "microsoftFabricConnectionProperties": {
          "description": "Properties for a Microsoft Fabric connection.",
          "$ref": "GoldengateMicrosoftFabricConnectionProperties"
        },
        "databricksConnectionProperties": {
          "description": "Properties for a Databricks connection.",
          "$ref": "GoldengateDatabricksConnectionProperties"
        },
        "ocid": {
          "type": "string",
          "description": "Output only. The [OCID] of the connection being referenced.",
          "readOnly": true
        },
        "lifecycleState": {
          "description": "Output only. The lifecycle state of the connection.",
          "enum": [
            "GOLDENGATE_CONNECTION_LIFECYCLE_STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "DELETED",
            "FAILED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in active state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in deleting state.",
            "Indicates that the resource is in deleted state.",
            "Indicates that the resource is in failed state."
          ]
        },
        "goldengateConnectionProperties": {
          "$ref": "GoldengateGoldengateConnectionProperties",
          "description": "Properties for a Goldengate Connection."
        },
        "oracleNosqlConnectionProperties": {
          "$ref": "GoldengateOracleNosqlConnectionProperties",
          "description": "Properties for an Oracle NoSQL connection."
        },
        "ingressIpAddresses": {
          "readOnly": true,
          "description": "Output only. The Ingress IPs of the GoldengateConnection.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "mysqlConnectionProperties": {
          "$ref": "GoldengateMysqlConnectionProperties",
          "description": "Properties for a Mysql Connection."
        },
        "azureDataLakeStorageConnectionProperties": {
          "$ref": "GoldengateAzureDataLakeStorageConnectionProperties",
          "description": "Properties for an Azure Data Lake Storage Connection."
        },
        "azureSynapseAnalyticsConnectionProperties": {
          "description": "Properties for an Azure Synapse Analytics connection.",
          "$ref": "GoldengateAzureSynapseAnalyticsConnectionProperties"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the resource was last updated."
        },
        "db2ConnectionProperties": {
          "description": "Properties for a DB2 connection.",
          "$ref": "GoldengateDb2ConnectionProperties"
        },
        "displayName": {
          "description": "Required. An object's Display Name.",
          "type": "string"
        },
        "genericConnectionProperties": {
          "description": "Properties for a Generic Connection.",
          "$ref": "GoldengateGenericConnectionProperties"
        },
        "hdfsConnectionProperties": {
          "description": "Properties for an HDFS connection.",
          "$ref": "GoldengateHdfsConnectionProperties"
        },
        "ociObjectStorageConnectionProperties": {
          "$ref": "GoldengateOciObjectStorageConnectionProperties",
          "description": "Properties for an OCI Object Storage Connection."
        },
        "snowflakeConnectionProperties": {
          "description": "Properties for a Snowflake connection.",
          "$ref": "GoldengateSnowflakeConnectionProperties"
        },
        "icebergConnectionProperties": {
          "description": "Properties for an Iceberg connection.",
          "$ref": "GoldengateIcebergConnectionProperties"
        },
        "oracleAiDataPlatformConnectionProperties": {
          "description": "Properties for an Oracle AI Data Platform connection.",
          "$ref": "GoldengateOracleAIDataPlatformConnectionProperties"
        },
        "oracleConnectionProperties": {
          "description": "Properties for an Oracle Database Connection.",
          "$ref": "GoldengateOracleConnectionProperties"
        },
        "amazonS3ConnectionProperties": {
          "$ref": "GoldengateAmazonS3ConnectionProperties",
          "description": "Properties for an Amazon S3 connection."
        },
        "googlePubsubConnectionProperties": {
          "$ref": "GoldengateGooglePubsubConnectionProperties",
          "description": "Properties for a Google Pub/Sub connection."
        },
        "microsoftSqlserverConnectionProperties": {
          "$ref": "GoldengateMicrosoftSqlserverConnectionProperties",
          "description": "Properties for a Microsoft SQL Server connection."
        },
        "googleBigQueryConnectionProperties": {
          "description": "Properties for a Google BigQuery Connection.",
          "$ref": "GoldengateGoogleBigQueryConnectionProperties"
        },
        "elasticsearchConnectionProperties": {
          "description": "Properties for an Elasticsearch connection.",
          "$ref": "GoldengateElasticsearchConnectionProperties"
        },
        "postgresqlConnectionProperties": {
          "$ref": "GoldengatePostgresqlConnectionProperties",
          "description": "Properties for a PostgreSQL connection."
        },
        "kafkaSchemaRegistryConnectionProperties": {
          "description": "Properties for a Kafka Schema Registry Connection.",
          "$ref": "GoldengateKafkaSchemaRegistryConnectionProperties"
        },
        "kafkaConnectionProperties": {
          "description": "Properties for a Kafka Connection.",
          "$ref": "GoldengateKafkaConnectionProperties"
        },
        "javaMessageServiceConnectionProperties": {
          "$ref": "GoldengateJavaMessageServiceConnectionProperties",
          "description": "Properties for a Java Message Service connection."
        },
        "googleCloudStorageConnectionProperties": {
          "description": "Properties for a Google Cloud Storage Connection.",
          "$ref": "GoldengateGoogleCloudStorageConnectionProperties"
        },
        "routingMethod": {
          "type": "string",
          "enum": [
            "GOLDENGATE_CONNECTION_ROUTING_METHOD_UNSPECIFIED",
            "SHARED_DEPLOYMENT_ENDPOINT",
            "DEDICATED_ENDPOINT"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Network traffic flows from the assigned deployment's private endpoint through the deployment's subnet.",
            "A dedicated private endpoint is created in the target VCN subnet for the connection."
          ],
          "description": "Optional. The routing method for the GoldengateConnection."
        }
      },
      "type": "object",
      "description": "The properties of a GoldengateConnection."
    },
    "DbServerProperties": {
      "properties": {
        "dbNodeStorageSizeGb": {
          "description": "Optional. Local storage per VM.",
          "type": "integer",
          "format": "int32"
        },
        "ocid": {
          "type": "string",
          "description": "Output only. OCID of database server.",
          "readOnly": true
        },
        "maxOcpuCount": {
          "description": "Optional. Maximum OCPU count per database.",
          "type": "integer",
          "format": "int32"
        },
        "state": {
          "description": "Output only. State of the database server.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in creating state.",
            "Indicates that the resource is in available state.",
            "Indicates that the resource is in unavailable state.",
            "Indicates that the resource is in deleting state.",
            "Indicates that the resource is in deleted state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "AVAILABLE",
            "UNAVAILABLE",
            "DELETING",
[...]
