{
  "basePath": "",
  "version_module": true,
  "title": "Oracle Database@Google Cloud API",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260916",
  "id": "oracledatabase:v1",
  "rootUrl": "https://oracledatabase.googleapis.com/",
  "version": "v1",
  "canonicalName": "Oracle Database",
  "discoveryVersion": "v1",
  "endpoints": [
    {
      "location": "asia-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://oracledatabase.asia-northeast2.rep.googleapis.com/"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://oracledatabase.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://oracledatabase.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://oracledatabase.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://oracledatabase.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2",
      "endpointUrl": "https://oracledatabase.northamerica-northeast2.rep.googleapis.com/"
    }
  ],
  "servicePath": "",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "name": "oracledatabase",
  "description": "The Oracle Database@Google Cloud API provides a set of APIs to manage Oracle database services, such as Exadata and Autonomous Databases.",
  "mtlsRootUrl": "https://oracledatabase.mtls.googleapis.com/",
  "batchPath": "batch",
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/oracle/database/docs",
  "baseUrl": "https://oracledatabase.googleapis.com/",
  "schemas": {
    "GenerateAutonomousDatabaseWalletRequest": {
      "type": "object",
      "description": "The request for `AutonomousDatabase.GenerateWallet`.",
      "id": "GenerateAutonomousDatabaseWalletRequest",
      "properties": {
        "type": {
          "description": "Optional. The type of wallet generation for the Autonomous Database. The default value is SINGLE.",
          "enum": [
            "GENERATE_TYPE_UNSPECIFIED",
            "ALL",
            "SINGLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Used to generate wallet for all databases in the region.",
            "Used to generate wallet for a single database."
          ]
        },
        "password": {
          "description": "Required. The password used to encrypt the keys inside the wallet. The password must be a minimum of 8 characters.",
          "type": "string"
        },
        "isRegional": {
          "type": "boolean",
          "description": "Optional. True when requesting regional connection strings in PDB connect info, applicable to cross-region Data Guard only."
        }
      }
    },
    "AutonomousDatabaseRefreshableClones": {
      "id": "AutonomousDatabaseRefreshableClones",
      "type": "object",
      "description": "Response message for getting the Autonomous Database refreshable clones.",
      "properties": {
        "autonomousDatabaseRefreshableClones": {
          "items": {
            "$ref": "AutonomousDatabaseRefreshableClone"
          },
          "description": "The list of Autonomous Database refreshable clones.",
          "type": "array"
        }
      }
    },
    "AutonomousDatabaseProperties": {
      "id": "AutonomousDatabaseProperties",
      "properties": {
        "dataStorageSizeGb": {
          "description": "Optional. Immutable. The size of the data stored in the database, in gigabytes.",
          "type": "integer",
          "format": "int32"
        },
        "role": {
          "description": "Output only. The Data Guard role of the Autonomous Database.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Primary role",
            "Standby role",
            "Disabled standby role",
            "Backup copy role",
            "Snapshot standby role"
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "PRIMARY",
            "STANDBY",
            "DISABLED_STANDBY",
            "BACKUP_COPY",
            "SNAPSHOT_STANDBY"
          ]
        },
        "dataSafeState": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of the Data Safe registration for the Autonomous Database.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Registering data safe state.",
            "Registered data safe state.",
            "Deregistering data safe state.",
            "Not registered data safe state.",
            "Failed data safe state."
          ],
          "enum": [
            "DATA_SAFE_STATE_UNSPECIFIED",
            "REGISTERING",
            "REGISTERED",
            "DEREGISTERING",
            "NOT_REGISTERED",
            "FAILED"
          ]
        },
        "arePrimaryAllowlistedIpsUsed": {
          "description": "Output only. This field indicates the status of Data Guard and Access control for the Autonomous Database. The field's value is null if Data Guard is disabled or Access Control is disabled. The field's value is TRUE if both Data Guard and Access Control are enabled, and the Autonomous Database is using primary IP access control list (ACL) for standby. The field's value is FALSE if both Data Guard and Access Control are enabled, and the Autonomous Database is using a different IP access control list (ACL) for standby compared to primary.",
          "readOnly": true,
          "type": "boolean"
        },
        "isLocalDataGuardEnabled": {
          "type": "boolean",
          "description": "Output only. Deprecated: Please use `local_data_guard_enabled` instead. This field indicates whether the Autonomous Database has local (in-region) Data Guard enabled.",
          "readOnly": true,
          "deprecated": true
        },
        "characterSet": {
          "description": "Optional. Immutable. The character set for the Autonomous Database. The default is AL32UTF8.",
          "type": "string"
        },
        "memoryTableGbs": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The memory assigned to in-memory tables in an Autonomous Database.",
          "format": "int32"
        },
        "ociUrl": {
          "readOnly": true,
          "description": "Output only. The Oracle Cloud Infrastructure link for the Autonomous Database.",
          "type": "string"
        },
        "privateEndpointIp": {
          "type": "string",
          "description": "Optional. Immutable. The private endpoint IP address for the Autonomous Database."
        },
        "localAdgAutoFailoverMaxDataLossLimitDuration": {
          "type": "integer",
          "description": "Optional. This field indicates the maximum data loss limit for an Autonomous Database, in seconds.",
          "format": "int32"
        },
        "maintenanceEndTime": {
          "format": "google-datetime",
          "description": "Output only. The date and time when maintenance will end.",
          "readOnly": true,
          "type": "string"
        },
        "allowlistedIps": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Immutable. The list of allowlisted IP addresses for the Autonomous Database.",
          "type": "array"
        },
        "secretId": {
          "description": "Optional. Immutable. The ID of the Oracle Cloud Infrastructure vault secret.",
          "type": "string"
        },
        "computeCount": {
          "format": "float",
          "description": "Optional. Immutable. The number of compute servers for the Autonomous Database.",
          "type": "number"
        },
        "localDisasterRecoveryType": {
          "enum": [
            "LOCAL_DISASTER_RECOVERY_TYPE_UNSPECIFIED",
            "ADG",
            "BACKUP_BASED",
            "NOT_AVAILABLE"
          ],
          "description": "Output only. This field indicates the local disaster recovery (DR) type of an Autonomous Database.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Autonomous Data Guard recovery.",
            "Backup based recovery.",
            "Local disaster recovery is not available."
          ],
          "readOnly": true,
          "type": "string"
        },
        "isAutoScalingEnabled": {
          "description": "Optional. Immutable. This field indicates if auto scaling is enabled for the Autonomous Database CPU core count.",
          "type": "boolean"
        },
        "actualUsedDataStorageSizeTb": {
          "description": "Output only. The amount of storage currently being used for user and system data, in terabytes.",
          "type": "number",
          "readOnly": true,
          "format": "double"
        },
        "privateEndpoint": {
          "description": "Output only. The private endpoint for the Autonomous Database.",
          "type": "string",
          "readOnly": true
        },
        "dbVersion": {
          "description": "Optional. Immutable. The Oracle Database version for the Autonomous Database.",
          "type": "string"
        },
        "dbEdition": {
          "description": "Optional. Immutable. The edition of the Autonomous Databases.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Standard Database Edition",
            "Enterprise Database Edition"
          ],
          "type": "string",
          "enum": [
            "DATABASE_EDITION_UNSPECIFIED",
            "STANDARD_EDITION",
            "ENTERPRISE_EDITION"
          ]
        },
        "encryptionKeyHistoryEntries": {
          "description": "Output only. The history of the encryption keys used to encrypt the Autonomous Database.",
          "readOnly": true,
          "items": {
            "$ref": "EncryptionKeyHistoryEntry"
          },
          "type": "array"
        },
        "mtlsConnectionRequired": {
          "type": "boolean",
          "description": "Optional. Immutable. This field specifies if the Autonomous Database requires mTLS connections."
        },
        "connectionStrings": {
          "description": "Output only. The connection strings used to connect to an Autonomous Database.",
          "$ref": "AutonomousDatabaseConnectionStrings",
          "readOnly": true
        },
        "lifecycleDetails": {
          "readOnly": true,
          "description": "Output only. The details of the current lifestyle state of the Autonomous Database.",
          "type": "string"
        },
        "maintenanceBeginTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The date and time when maintenance will begin.",
          "readOnly": true
        },
        "dbWorkload": {
          "type": "string",
          "description": "Required. Immutable. The workload type of the Autonomous Database.",
          "enum": [
            "DB_WORKLOAD_UNSPECIFIED",
            "OLTP",
            "DW",
            "AJD",
            "APEX"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Autonomous Transaction Processing database.",
            "Autonomous Data Warehouse database.",
            "Autonomous JSON Database.",
            "Autonomous Database with the Oracle APEX Application Development workload type."
          ]
        },
        "dataStorageSizeTb": {
          "type": "integer",
          "description": "Optional. Immutable. The size of the data stored in the database, in terabytes.",
          "format": "int32"
        },
        "supportedCloneRegions": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of available regions that can be used to create a clone for the Autonomous Database.",
          "readOnly": true,
          "type": "array"
        },
        "customerContacts": {
          "description": "Optional. Immutable. The list of customer contacts.",
          "items": {
            "$ref": "CustomerContact"
          },
          "type": "array"
        },
        "operationsInsightsState": {
          "description": "Output only. This field indicates the state of Operations Insights for the Autonomous Database.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "OPERATIONS_INSIGHTS_STATE_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "NOT_ENABLED",
            "FAILED_ENABLING",
            "FAILED_DISABLING"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Enabling status for operation insights.",
            "Enabled status for operation insights.",
            "Disabling status for operation insights.",
            "Not Enabled status for operation insights.",
            "Failed enabling status for operation insights.",
            "Failed disabling status for operation insights."
          ]
        },
        "refreshableMode": {
          "type": "string",
          "enum": [
            "REFRESHABLE_MODE_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "enumDescriptions": [
            "The default unspecified value.",
            "AUTOMATIC indicates that the cloned database is automatically refreshed with data from the source Autonomous Database.",
            "MANUAL indicates that the cloned database is manually refreshed with data from the source Autonomous Database."
          ],
          "description": "Output only. The refresh mode of the cloned Autonomous Database.",
          "readOnly": true
        },
        "totalAutoBackupStorageSizeGbs": {
          "description": "Output only. The storage space used by automatic backups of Autonomous Database, in gigabytes.",
          "format": "float",
          "readOnly": true,
          "type": "number"
        },
        "refreshableState": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The refresh State of the clone.",
          "enum": [
            "REFRESHABLE_STATE_UNSPECIFIED",
            "REFRESHING",
            "NOT_REFRESHING"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Refreshing",
            "Not refreshed"
          ]
        },
        "allocatedStorageSizeTb": {
          "description": "Output only. The amount of storage currently allocated for the database tables and billed for, rounded up in terabytes.",
          "format": "double",
          "readOnly": true,
          "type": "number"
        },
        "maintenanceScheduleType": {
          "description": "Optional. Immutable. The maintenance schedule of the Autonomous Database.",
          "enumDescriptions": [
            "Default unspecified value.",
            "An EARLY maintenance schedule patches the database before the regular scheduled maintenance.",
            "A REGULAR maintenance schedule follows the normal maintenance cycle."
          ],
          "enum": [
            "MAINTENANCE_SCHEDULE_TYPE_UNSPECIFIED",
            "EARLY",
            "REGULAR"
          ],
          "type": "string"
        },
        "scheduledOperationDetails": {
          "description": "Output only. The list and details of the scheduled operations of the Autonomous Database.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "ScheduledOperationDetails"
          }
        },
        "failedDataRecoveryDuration": {
          "format": "google-duration",
          "description": "Output only. This field indicates the number of seconds of data loss during a Data Guard failover.",
          "readOnly": true,
          "type": "string"
        },
        "backupRetentionPeriodDays": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Immutable. The retention period for the Autonomous Database. This field is specified in days, can range from 1 day to 60 days, and has a default value of 60 days."
        },
        "ocid": {
          "description": "Output only. OCID of the Autonomous Database. https://docs.oracle.com/en-us/iaas/Content/General/Concepts/identifiers.htm#Oracle",
          "readOnly": true,
          "type": "string"
        },
        "localAdgAutoFailoverMaxDataLossLimit": {
          "deprecated": true,
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Deprecated: Please use `local_adg_auto_failover_max_data_loss_limit_duration` instead. This field indicates the maximum data loss limit for an Autonomous Database, in seconds.",
          "type": "integer"
        },
        "openMode": {
          "type": "string",
          "description": "Output only. This field indicates the current mode of the Autonomous Database.",
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "Read Only Mode",
            "Read Write Mode"
          ],
          "enum": [
            "OPEN_MODE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE"
          ]
        },
        "licenseType": {
          "type": "string",
          "enum": [
            "LICENSE_TYPE_UNSPECIFIED",
            "LICENSE_INCLUDED",
            "BRING_YOUR_OWN_LICENSE"
          ],
          "enumDescriptions": [
            "Unspecified",
            "License included part of offer",
            "Bring your own license"
          ],
          "description": "Required. Immutable. The license type used for the Autonomous Database."
        },
        "serviceAgentEmail": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An Oracle-managed Google Cloud service account on which customers can grant roles to access resources in the customer project."
        },
        "usedDataStorageSizeTbs": {
          "type": "integer",
          "description": "Output only. The storage space used by Autonomous Database, in gigabytes.",
          "format": "int32",
          "readOnly": true
        },
        "dataGuardRoleChangedTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The date and time the Autonomous Data Guard role was changed for the standby Autonomous Database.",
          "readOnly": true
        },
        "isStorageAutoScalingEnabled": {
          "description": "Optional. Immutable. This field indicates if auto scaling is enabled for the Autonomous Database storage.",
          "type": "boolean"
        },
        "apexDetails": {
          "$ref": "AutonomousDatabaseApex",
          "description": "Output only. The details for the Oracle APEX Application Development.",
          "readOnly": true
        },
        "cpuCoreCount": {
          "description": "Optional. Immutable. The number of CPU cores to be made available to the database.",
          "type": "integer",
          "format": "int32"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "STOPPING",
            "STOPPED",
            "STARTING",
            "TERMINATING",
            "TERMINATED",
            "UNAVAILABLE",
            "RESTORE_IN_PROGRESS",
            "RESTORE_FAILED",
            "BACKUP_IN_PROGRESS",
            "SCALE_IN_PROGRESS",
            "AVAILABLE_NEEDS_ATTENTION",
            "UPDATING",
            "MAINTENANCE_IN_PROGRESS",
            "RESTARTING",
            "RECREATING",
            "ROLE_CHANGE_IN_PROGRESS",
            "UPGRADING",
            "INACCESSIBLE",
            "STANDBY"
          ],
          "description": "Output only. The current lifecycle state of the Autonomous Database.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the Autonomous Database is in provisioning state.",
            "Indicates that the Autonomous Database is in available state.",
            "Indicates that the Autonomous Database is in stopping state.",
            "Indicates that the Autonomous Database is in stopped state.",
            "Indicates that the Autonomous Database is in starting state.",
            "Indicates that the Autonomous Database is in terminating state.",
            "Indicates that the Autonomous Database is in terminated state.",
            "Indicates that the Autonomous Database is in unavailable state.",
            "Indicates that the Autonomous Database restore is in progress.",
            "Indicates that the Autonomous Database failed to restore.",
            "Indicates that the Autonomous Database backup is in progress.",
            "Indicates that the Autonomous Database scale is in progress.",
            "Indicates that the Autonomous Database is available but needs attention state.",
            "Indicates that the Autonomous Database is in updating state.",
            "Indicates that the Autonomous Database's maintenance is in progress state.",
            "Indicates that the Autonomous Database is in restarting state.",
            "Indicates that the Autonomous Database is in recreating state.",
            "Indicates that the Autonomous Database's role change is in progress state.",
            "Indicates that the Autonomous Database is in upgrading state.",
            "Indicates that the Autonomous Database is in inaccessible state.",
            "Indicates that the Autonomous Database is in standby state."
          ]
        },
        "localStandbyDb": {
          "readOnly": true,
          "$ref": "AutonomousDatabaseStandbySummary",
          "description": "Output only. The details of the Autonomous Data Guard standby database."
        },
        "encryptionKey": {
          "description": "Optional. The encryption key used to encrypt the Autonomous Database. Updating this field will add a new entry in the `encryption_key_history_entries` field with the former version.",
          "$ref": "EncryptionKey"
        },
        "disasterRecoveryRoleChangedTime": {
          "description": "Output only. The date and time the Disaster Recovery role was changed for the standby Autonomous Database.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "peerDbIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of OCIDs of standby databases located in Autonomous Data Guard remote regions that are associated with the source database.",
          "readOnly": true
        },
        "memoryPerOracleComputeUnitGbs": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The amount of memory enabled per ECPU, in gigabytes.",
          "readOnly": true
        },
        "privateEndpointLabel": {
          "description": "Optional. Immutable. The private endpoint label for the Autonomous Database.",
          "type": "string"
        },
        "databaseManagementState": {
          "type": "string",
          "description": "Output only. The current state of database management for the Autonomous Database.",
          "readOnly": true,
          "enum": [
            "DATABASE_MANAGEMENT_STATE_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "NOT_ENABLED",
            "FAILED_ENABLING",
            "FAILED_DISABLING"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Enabling Database Management state",
            "Enabled Database Management state",
            "Disabling Database Management state",
            "Not Enabled Database Management state",
            "Failed enabling Database Management state",
            "Failed disabling Database Management state"
          ]
        },
        "availableUpgradeVersions": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of available Oracle Database upgrade versions for an Autonomous Database.",
          "items": {
            "type": "string"
          }
        },
        "permissionLevel": {
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Restricted mode allows access only by admin users.",
            "Normal access."
          ],
          "enum": [
            "PERMISSION_LEVEL_UNSPECIFIED",
            "RESTRICTED",
            "UNRESTRICTED"
          ],
          "description": "Output only. The permission level of the Autonomous Database.",
          "readOnly": true
        },
        "vaultId": {
          "description": "Optional. Immutable. The ID of the Oracle Cloud Infrastructure vault.",
          "type": "string"
        },
        "nextLongTermBackupTime": {
          "type": "string",
          "description": "Output only. The long term backup schedule of the Autonomous Database.",
          "format": "google-datetime",
          "readOnly": true
        },
        "connectionUrls": {
          "readOnly": true,
          "description": "Output only. The Oracle Connection URLs for an Autonomous Database.",
          "$ref": "AutonomousDatabaseConnectionUrls"
        },
        "refreshableClone": {
          "type": "boolean",
          "description": "Optional. Indicates if the Autonomous Database is a refreshable clone. This field is used in update flow to connect / disconnect a refreshable clone from its source database."
        },
        "nCharacterSet": {
          "description": "Optional. Immutable. The national character set for the Autonomous Database. The default is AL16UTF16.",
          "type": "string"
        },
        "sqlWebDeveloperUrl": {
          "type": "string",
          "description": "Output only. The SQL Web Developer URL for the Autonomous Database.",
          "readOnly": true
        },
        "localDataGuardEnabled": {
          "description": "Optional. Indicates whether the Autonomous Database has a local (in-region) standby database. Not applicable to cross-region Data Guard or dedicated Exadata infrastructure.",
          "type": "boolean"
        },
        "autonomousContainerDatabaseId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Autonomous Container Database OCID."
        }
      },
      "type": "object",
      "description": "The properties of an Autonomous Database."
    },
    "GoldengateConnection": {
      "type": "object",
      "id": "GoldengateConnection",
      "description": "Details of the GoldengateConnection resource.",
      "properties": {
        "properties": {
          "$ref": "GoldengateConnectionProperties",
          "description": "Required. The properties of the GoldengateConnection."
        },
        "entitlementId": {
          "description": "Output only. The ID of the subscription entitlement associated with the GoldengateConnection.",
          "type": "string",
          "readOnly": true
        },
        "ociUrl": {
          "description": "Output only. HTTPS link to OCI resources exposed to Customer via UI Interface.",
          "type": "string",
          "readOnly": true
        },
        "odbNetwork": {
          "description": "Optional. The name of the OdbNetwork associated with the GoldengateConnection. The format is projects/{project}/locations/{location}/odbNetworks/{odb_network}. It is optional but if specified, this should match the parent ODBNetwork of the OdbSubnet.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the GoldengateConnection resource in the following format: projects/{project}/locations/{region}/goldengateConnections/{goldengate_connection}",
          "type": "string"
        },
        "gcpOracleZone": {
          "type": "string",
          "description": "Optional. The GCP Oracle zone where Oracle GoldengateConnection is hosted. Example: us-east4-b-r2. If not specified, the system will pick a zone based on availability."
        },
        "labels": {
          "description": "Optional. The labels or tags associated with the GoldengateConnection.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "odbSubnet": {
          "type": "string",
          "description": "Optional. The name of the OdbSubnet associated with the GoldengateConnection for IP allocation. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}"
        },
        "createTime": {
          "description": "Output only. The date and time that the GoldengateConnection was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "NessieIcebergCatalog": {
      "description": "The Nessie Iceberg catalog.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. The Nessie uri."
        },
        "branch": {
          "type": "string",
          "description": "Required. The Nessie branch."
        }
      },
      "type": "object",
      "id": "NessieIcebergCatalog"
    },
    "StopGoldengateDeploymentRequest": {
      "description": "The request for `GoldengateDeployment.Stop`.",
      "properties": {},
      "id": "StopGoldengateDeploymentRequest",
      "type": "object"
    },
    "MaintenanceWindow": {
      "type": "object",
      "properties": {
        "preference": {
          "enum": [
            "MAINTENANCE_WINDOW_PREFERENCE_UNSPECIFIED",
            "CUSTOM_PREFERENCE",
            "NO_PREFERENCE"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Custom preference.",
            "No preference."
          ],
          "description": "Optional. The maintenance window scheduling preference.",
          "type": "string"
        },
        "isCustomActionTimeoutEnabled": {
          "type": "boolean",
          "description": "Optional. If true, enables the configuration of a custom action timeout (waiting period) between database server patching operations."
        },
        "weeksOfMonth": {
          "description": "Optional. Weeks during the month when maintenance should be performed. Weeks start on the 1st, 8th, 15th, and 22nd days of the month, and have a duration of 7 days. Weeks start and end based on calendar dates, not days of the week.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "leadTimeWeek": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Lead time window allows user to set a lead time to prepare for a down time. The lead time is in weeks and valid value is between 1 to 4."
        },
        "daysOfWeek": {
          "items": {
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "type": "string",
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ]
          },
          "description": "Optional. Days during the week when maintenance should be performed.",
          "type": "array"
        },
        "hoursOfDay": {
          "description": "Optional. The window of hours during the day when maintenance should be performed. The window is a 4 hour slot. Valid values are: 0 - represents time slot 0:00 - 3:59 UTC 4 - represents time slot 4:00 - 7:59 UTC 8 - represents time slot 8:00 - 11:59 UTC 12 - represents time slot 12:00 - 15:59 UTC 16 - represents time slot 16:00 - 19:59 UTC 20 - represents time slot 20:00 - 23:59 UTC",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "months": {
          "type": "array",
          "description": "Optional. Months during the year when maintenance should be performed.",
          "items": {
            "enumDescriptions": [
              "The unspecified month.",
              "The month of January.",
              "The month of February.",
              "The month of March.",
              "The month of April.",
              "The month of May.",
              "The month of June.",
              "The month of July.",
              "The month of August.",
              "The month of September.",
              "The month of October.",
              "The month of November.",
              "The month of December."
            ],
            "type": "string",
            "enum": [
              "MONTH_UNSPECIFIED",
              "JANUARY",
              "FEBRUARY",
              "MARCH",
              "APRIL",
              "MAY",
              "JUNE",
              "JULY",
              "AUGUST",
              "SEPTEMBER",
              "OCTOBER",
              "NOVEMBER",
              "DECEMBER"
            ]
          }
        },
        "patchingMode": {
          "description": "Optional. Cloud CloudExadataInfrastructure node patching method, either \"ROLLING\" or \"NONROLLING\". Default value is ROLLING.",
          "enum": [
            "PATCHING_MODE_UNSPECIFIED",
            "ROLLING",
            "NON_ROLLING"
          ],
          "enumDescriptions": [
            "Default unspecified value.",
            "Updates the Cloud Exadata database server hosts in a rolling fashion.",
            "The non-rolling maintenance method first updates your storage servers at the same time, then your database servers at the same time."
          ],
          "type": "string"
        },
        "customActionTimeoutMins": {
          "description": "Optional. Determines the amount of time the system will wait before the start of each database server patching operation. Custom action timeout is in minutes and valid value is between 15 to 120 (inclusive).",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "MaintenanceWindow",
      "description": "Maintenance window as defined by Oracle. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/MaintenanceWindow"
    },
    "DbNode": {
      "id": "DbNode",
      "description": "Details of the database node resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/DbNode/",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the database node resource in the following format: projects/{project}/locations/{location}/cloudVmClusters/{cloud_vm_cluster}/dbNodes/{db_node}"
        },
        "properties": {
          "description": "Optional. Various properties of the database node.",
          "$ref": "DbNodeProperties"
        }
      }
    },
    "AutonomousDatabaseConnectionStrings": {
      "type": "object",
      "description": "The connection string used to connect to the Autonomous Database. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/AutonomousDatabaseConnectionStrings",
      "properties": {
        "low": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The database service provides the least level of resources to each SQL statement."
        },
        "dedicated": {
          "type": "string",
          "description": "Output only. The database service provides the least level of resources to each SQL statement, but supports the most number of concurrent SQL statements.",
          "readOnly": true
        },
        "allConnectionStrings": {
          "$ref": "AllConnectionStrings",
          "description": "Output only. Returns all connection strings that can be used to connect to the Autonomous Database.",
          "readOnly": true
        },
        "profiles": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "DatabaseConnectionStringProfile"
          },
          "description": "Output only. A list of connection string profiles to allow clients to group, filter, and select values based on the structured metadata."
        },
        "medium": {
          "description": "Output only. The database service provides a lower level of resources to each SQL statement.",
          "type": "string",
          "readOnly": true
        },
        "high": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The database service provides the highest level of resources to each SQL statement."
        }
      },
      "id": "AutonomousDatabaseConnectionStrings"
    },
    "GoldengateSnowflakeConnectionProperties": {
      "description": "The properties of GoldengateSnowflakeConnection.",
      "type": "object",
      "properties": {
        "username": {
          "description": "Optional. The username Oracle Goldengate uses to connect to Snowflake.",
          "type": "string"
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of SnowflakeConnection."
        },
        "privateKeyFile": {
          "description": "Optional. The content of private key file in PEM format.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Optional. Input only. The password Oracle Goldengate uses to connect to Snowflake platform in plain text."
        },
        "passwordSecretVersion": {
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses to connect to Snowflake platform. Format: projects/{project}/secrets/{secret}/versions/{version}.",
          "type": "string"
        },
        "privateKeyPassphraseSecret": {
          "description": "Optional. Password if the private key file is encrypted.",
          "type": "string"
        },
        "authenticationType": {
          "enumDescriptions": [
            "Authentication type not specified.",
            "Basic authentication.",
            "Key pair authentication."
          ],
          "description": "Optional. Used authentication mechanism to access Snowflake.",
          "type": "string",
          "enum": [
            "AUTHENTICATION_TYPE_UNSPECIFIED",
            "BASIC",
            "KEY_PAIR"
          ]
        },
        "connectionUrl": {
          "description": "Optional. JDBC connection URL. e.g.: 'jdbc:snowflake://.snowflakecomputing.com/?warehouse=&db='",
          "type": "string"
        }
      },
      "id": "GoldengateSnowflakeConnectionProperties"
    },
    "CloudVmCluster": {
      "description": "Details of the Cloud VM Cluster resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/CloudVmCluster/",
      "properties": {
        "exadataInfrastructure": {
          "type": "string",
          "description": "Required. The name of the Exadata Infrastructure resource on which VM cluster resource is created, in the following format: projects/{project}/locations/{region}/cloudExadataInfrastuctures/{cloud_extradata_infrastructure}"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the VM Cluster resource with the format: projects/{project}/locations/{region}/cloudVmClusters/{cloud_vm_cluster}"
        },
        "backupOdbSubnet": {
          "type": "string",
          "description": "Optional. The name of the backup OdbSubnet associated with the VM Cluster. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}"
        },
        "gcpOracleZone": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The GCP Oracle zone where Oracle CloudVmCluster is hosted. This will be the same as the gcp_oracle_zone of the CloudExadataInfrastructure. Example: us-east4-b-r2."
        },
        "displayName": {
          "description": "Optional. User friendly name for this resource.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The date and time that the VM cluster was created."
        },
        "identityConnector": {
          "$ref": "IdentityConnector",
          "description": "Output only. The identity connector details which will allow OCI to securely access the resources in the customer project.",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels or tags associated with the VM Cluster."
        },
        "network": {
          "description": "Optional. The name of the VPC network. Format: projects/{project}/global/networks/{network}",
          "type": "string"
        },
        "exascaleDbStorageVault": {
          "description": "Optional. The name of ExascaleDbStorageVault associated with the VM Cluster. Format: projects/{project}/locations/{location}/exascaleDbStorageVaults/{exascale_db_storage_vault}",
          "type": "string"
        },
        "odbNetwork": {
          "description": "Optional. The name of the OdbNetwork associated with the VM Cluster. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network} It is optional but if specified, this should match the parent ODBNetwork of the odb_subnet and backup_odb_subnet.",
          "type": "string"
        },
        "backupSubnetCidr": {
          "type": "string",
          "description": "Optional. CIDR range of the backup subnet."
        },
        "odbSubnet": {
          "type": "string",
          "description": "Optional. The name of the OdbSubnet associated with the VM Cluster for IP allocation. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}"
        },
        "cidr": {
          "description": "Optional. Network settings. CIDR to use for cluster IP allocation.",
          "type": "string"
        },
        "properties": {
          "$ref": "CloudVmClusterProperties",
          "description": "Optional. Various properties of the VM Cluster."
        }
      },
      "type": "object",
      "id": "CloudVmCluster"
    },
    "GoldengateGroupToRolesMapping": {
      "description": "The group to roles mapping of the GoldengateDeployment.",
      "id": "GoldengateGroupToRolesMapping",
      "properties": {
        "administratorGroupId": {
          "type": "string",
          "description": "Output only. The administrator group id.",
          "readOnly": true
        },
        "securityGroupId": {
          "readOnly": true,
          "description": "Output only. The security group id.",
          "type": "string"
        },
        "operatorGroupId": {
          "description": "Output only. The operator group id.",
          "readOnly": true,
          "type": "string"
        },
        "userGroupId": {
          "readOnly": true,
          "description": "Output only. The user group id.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoldengateGenericConnectionProperties": {
      "id": "GoldengateGenericConnectionProperties",
      "description": "The properties of GoldengateGenericConnectionProperties.",
      "type": "object",
      "properties": {
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type."
        },
        "host": {
          "description": "Optional. The host of the GenericConnection.",
          "type": "string"
        }
      }
    },
    "AutonomousDatabaseConnectionUrls": {
      "id": "AutonomousDatabaseConnectionUrls",
      "description": "The URLs for accessing Oracle Application Express (APEX) and SQL Developer Web with a browser from a Compute instance. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/AutonomousDatabaseConnectionUrls",
      "properties": {
        "ordsUri": {
          "type": "string",
          "description": "Output only. The Oracle REST Data Services (ORDS) URL of the Web Access for the Autonomous Database.",
          "readOnly": true
        },
        "sqlDevWebUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The URL of the Oracle SQL Developer Web for the Autonomous Database."
        },
        "graphStudioUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The URL of the Graph Studio for the Autonomous Database."
        },
        "machineLearningNotebookUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URL of the Oracle Machine Learning (OML) Notebook for the Autonomous Database."
        },
        "databaseTransformsUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URL of the Database Transforms for the Autonomous Database."
        },
        "apexUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Oracle Application Express (APEX) URL."
        },
        "machineLearningUserManagementUri": {
          "description": "Output only. The URL of Machine Learning user management the Autonomous Database.",
          "readOnly": true,
          "type": "string"
        },
        "mongoDbUri": {
          "readOnly": true,
          "description": "Output only. The URL of the MongoDB API for the Autonomous Database.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListCloudVmClustersResponse": {
      "description": "The response for `CloudVmCluster.List`.",
      "id": "ListCloudVmClustersResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to fetch the next page of results.",
          "type": "string"
        },
        "cloudVmClusters": {
          "description": "The list of VM Clusters.",
          "items": {
            "$ref": "CloudVmCluster"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'."
        }
      }
    },
    "IngressIp": {
      "description": "The ingress IPs of the GoldengateDeployment.",
      "type": "object",
      "id": "IngressIp",
      "properties": {
        "ingressIpAddress": {
          "description": "Output only. The ingress IP.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ListExascaleDbStorageVaultsResponse": {
      "properties": {
        "exascaleDbStorageVaults": {
          "type": "array",
          "items": {
            "$ref": "ExascaleDbStorageVault"
          },
          "description": "The ExascaleDbStorageVaults."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return. If present, the next page token can be provided to a subsequent ListExascaleDbStorageVaults call to list the next page. If empty, there are no more pages."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response for `ExascaleDbStorageVault.List`.",
      "id": "ListExascaleDbStorageVaultsResponse"
    },
    "ListGoldengateDeploymentsResponse": {
      "id": "ListGoldengateDeploymentsResponse",
      "description": "The response for `GoldengateDeployment.List`.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Optional. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "goldengateDeployments": {
          "items": {
            "$ref": "GoldengateDeployment"
          },
          "type": "array",
          "description": "The list of GoldengateDeployments."
        }
      },
      "type": "object"
    },
    "CloudExadataInfrastructureProperties": {
      "id": "CloudExadataInfrastructureProperties",
      "description": "Various properties of Exadata Infrastructure.",
      "properties": {
        "storageServerType": {
          "description": "Optional. The storage server type of the Exadata Infrastructure.",
          "type": "string"
        },
        "monthlyDbServerVersion": {
          "description": "Output only. The monthly software version of the database servers (dom0) in the Exadata Infrastructure. Example: 20.1.15",
          "type": "string",
          "readOnly": true
        },
        "availableStorageSizeGb": {
          "description": "Output only. The available storage can be allocated to the Exadata Infrastructure resource, in gigabytes (GB).",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "memorySizeGb": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The memory allocated in GBs.",
          "type": "integer"
        },
        "cpuCount": {
          "readOnly": true,
          "description": "Output only. The number of enabled CPU cores.",
          "type": "integer",
          "format": "int32"
        },
        "maxDataStorageTb": {
          "readOnly": true,
          "format": "double",
          "description": "Output only. The total available DATA disk group size.",
          "type": "number"
        },
        "computeCount": {
          "type": "integer",
          "description": "Optional. The number of compute servers for the Exadata Infrastructure.",
          "format": "int32"
        },
        "computeModel": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified compute model.",
            "Abstract measure of compute resources. ECPUs are based on the number of cores elastically allocated from a pool of compute and storage servers.",
            "Physical measure of compute resources. OCPUs are based on the physical core of a processor."
          ],
          "readOnly": true,
          "description": "Output only. The compute model of the Exadata Infrastructure.",
          "enum": [
            "COMPUTE_MODEL_UNSPECIFIED",
            "COMPUTE_MODEL_ECPU",
            "COMPUTE_MODEL_OCPU"
          ]
        },
        "nextSecurityMaintenanceRunTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the next security maintenance run will occur."
        },
        "activatedStorageCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The requested number of additional storage servers activated for the Exadata Infrastructure.",
          "type": "integer"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Default unspecified value.",
            "The Exadata Infrastructure is being provisioned.",
            "The Exadata Infrastructure is available for use.",
            "The Exadata Infrastructure is being updated.",
            "The Exadata Infrastructure is being terminated.",
            "The Exadata Infrastructure is terminated.",
            "The Exadata Infrastructure is in failed state.",
            "The Exadata Infrastructure is in maintenance."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED",
            "MAINTENANCE_IN_PROGRESS"
          ],
          "description": "Output only. The current lifecycle state of the Exadata Infrastructure.",
          "type": "string"
        },
        "maxMemoryGb": {
          "description": "Output only. The total memory available in GBs.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "storageCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of Cloud Exadata storage servers for the Exadata Infrastructure."
        },
        "exascaleConfig": {
          "readOnly": true,
          "$ref": "ExascaleConfig",
          "description": "Output only. The Exascale configuration for the Exadata Infrastructure."
        },
        "maintenanceWindow": {
          "description": "Optional. Maintenance window for repair.",
          "$ref": "MaintenanceWindow"
        },
        "dataStorageSizeTb": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Output only. Size, in terabytes, of the DATA disk group."
        },
        "storageServerVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The software version of the storage servers (cells) in the Exadata Infrastructure."
        },
        "customerContacts": {
          "description": "Optional. The list of customer contacts.",
          "items": {
            "$ref": "CustomerContact"
          },
          "type": "array"
        },
        "dbServerVersion": {
          "readOnly": true,
          "description": "Output only. The software version of the database servers (dom0) in the Exadata Infrastructure.",
          "type": "string"
        },
        "shape": {
          "description": "Required. The shape of the Exadata Infrastructure. The shape determines the amount of CPU, storage, and memory resources allocated to the instance.",
          "type": "string"
        },
        "nextMaintenanceRunId": {
          "type": "string",
          "description": "Output only. The OCID of the next maintenance run.",
          "readOnly": true
        },
        "nextMaintenanceRunTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the next maintenance run will occur."
        },
        "maxDbNodeStorageSizeGb": {
          "description": "Output only. The total local node storage available in GBs.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "maxCpuCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The total number of CPU cores available.",
          "readOnly": true
        },
        "additionalStorageCount": {
          "readOnly": true,
          "description": "Output only. The requested number of additional storage servers for the Exadata Infrastructure.",
          "format": "int32",
          "type": "integer"
        },
        "databaseServerType": {
          "description": "Optional. The database server type of the Exadata Infrastructure.",
          "type": "string"
        },
        "ocid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. OCID of created infra. https://docs.oracle.com/en-us/iaas/Content/General/Concepts/identifiers.htm#Oracle"
        },
        "dbNodeStorageSizeGb": {
          "type": "integer",
          "description": "Output only. The local node storage allocated in GBs.",
          "readOnly": true,
          "format": "int32"
        },
        "ociUrl": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Deep link to the OCI console to view this resource."
        },
        "monthlyStorageServerVersion": {
          "description": "Output only. The monthly software version of the storage servers (cells) in the Exadata Infrastructure. Example: 20.1.15",
          "readOnly": true,
          "type": "string"
        },
        "totalStorageSizeGb": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The total storage allocated to the Exadata Infrastructure resource, in gigabytes (GB)."
        }
      },
      "type": "object"
    },
    "MinorVersion": {
      "description": "MinorVersion represents a minor version of a GI. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/GiMinorVersionSummary/",
      "id": "MinorVersion",
      "properties": {
        "version": {
          "description": "Optional. The valid Oracle grid infrastructure software version.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the MinorVersion resource with the format: projects/{project}/locations/{region}/giVersions/{gi_version}/minorVersions/{minor_version}",
          "type": "string"
        },
        "gridImageId": {
          "type": "string",
          "description": "Optional. The ID of the Grid Image."
        }
      },
      "type": "object"
    },
    "PluggableDatabaseConnectionStrings": {
      "properties": {
        "pdbIpDefault": {
          "type": "string",
          "description": "Optional. The default connection string to use to connect to the pluggable database using IP."
        },
        "pdbDefault": {
          "description": "Optional. The default connection string to use to connect to the pluggable database.",
          "type": "string"
        },
        "allConnectionStrings": {
          "type": "object",
          "description": "Optional. All connection strings to use to connect to the pluggable database.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "The connection strings used to connect to the Oracle Database.",
      "id": "PluggableDatabaseConnectionStrings"
    },
    "DatabaseManagementConfig": {
      "description": "The configuration of the Database Management service.",
      "type": "object",
      "id": "DatabaseManagementConfig",
      "properties": {
        "managementState": {
          "description": "Output only. The status of the Database Management service.",
          "type": "string",
          "enumDescriptions": [
            "The status is not specified.",
            "The Database Management service is enabling.",
            "The Database Management service is enabled.",
            "The Database Management service is disabling.",
            "The Database Management service is disabled.",
            "The Database Management service is updating.",
            "The Database Management service failed to enable.",
            "The Database Management service failed to disable.",
            "The Database Management service failed to update."
          ],
          "readOnly": true,
          "enum": [
            "MANAGEMENT_STATE_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "DISABLED",
            "UPDATING",
            "FAILED_ENABLING",
            "FAILED_DISABLING",
            "FAILED_UPDATING"
          ]
        },
        "managementType": {
          "enum": [
            "MANAGEMENT_TYPE_UNSPECIFIED",
            "BASIC",
            "ADVANCED"
          ],
          "description": "Output only. The Database Management type.",
          "readOnly": true,
          "enumDescriptions": [
            "The type is not specified.",
            "Basic Database Management.",
            "Advanced Database Management."
          ],
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "properties": {
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. The status of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "percentComplete": {
          "readOnly": true,
          "format": "double",
          "type": "number",
          "description": "Output only. An estimated percentage of the operation that has been completed at a given moment of time, between 0 and 100."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata"
    },
    "GoldengateConnectionProperties": {
      "properties": {
        "databricksConnectionProperties": {
          "description": "Properties for a Databricks connection.",
          "$ref": "GoldengateDatabricksConnectionProperties"
        },
        "googlePubsubConnectionProperties": {
          "description": "Properties for a Google Pub/Sub connection.",
          "$ref": "GoldengateGooglePubsubConnectionProperties"
        },
        "mongodbConnectionProperties": {
          "description": "Properties for a MongoDB connection.",
          "$ref": "GoldengateMongodbConnectionProperties"
        },
        "oracleConnectionProperties": {
          "description": "Properties for an Oracle Database Connection.",
          "$ref": "GoldengateOracleConnectionProperties"
        },
        "ingressIpAddresses": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The Ingress IPs of the GoldengateConnection."
        },
        "db2ConnectionProperties": {
          "description": "Properties for a DB2 connection.",
          "$ref": "GoldengateDb2ConnectionProperties"
        },
        "microsoftSqlserverConnectionProperties": {
          "$ref": "GoldengateMicrosoftSqlserverConnectionProperties",
          "description": "Properties for a Microsoft SQL Server connection."
        },
        "ociObjectStorageConnectionProperties": {
          "description": "Properties for an OCI Object Storage Connection.",
          "$ref": "GoldengateOciObjectStorageConnectionProperties"
        },
        "connectionType": {
          "enumDescriptions": [
            "Connection type unspecified.",
            "Goldengate connection type.",
            "Kafka connection type.",
            "Kafka schema registry connection type.",
            "MySQL connection type.",
            "Java message service connection type.",
            "Microsoft SQL Server connection type.",
            "OCI object storage connection type.",
            "Oracle connection type.",
            "Azure data lake storage connection type.",
            "PostgreSQL connection type.",
            "Azure synapse analytics connection type.",
            "Snowflake connection type.",
            "Amazon S3 connection type.",
            "HDFS connection type.",
            "Oracle AI data platform connection type.",
            "Oracle NoSQL connection type.",
            "MongoDB connection type.",
            "Amazon Kinesis connection type.",
            "Amazon Redshift connection type.",
            "DB2 connection type.",
            "Redis connection type.",
            "Elasticsearch connection type.",
            "Generic connection type.",
            "Google Cloud Storage connection type.",
            "Google BigQuery connection type.",
            "Databricks connection type.",
            "Google Pub/Sub connection type.",
            "Microsoft Fabric connection type.",
            "Iceberg connection type."
          ],
          "description": "Required. The connection type.",
          "enum": [
            "GOLDENGATE_CONNECTION_TYPE_UNSPECIFIED",
            "GOLDENGATE",
            "KAFKA",
            "KAFKA_SCHEMA_REGISTRY",
            "MYSQL",
            "JAVA_MESSAGE_SERVICE",
            "MICROSOFT_SQLSERVER",
            "OCI_OBJECT_STORAGE",
            "ORACLE",
            "AZURE_DATA_LAKE_STORAGE",
            "POSTGRESQL",
            "AZURE_SYNAPSE_ANALYTICS",
            "SNOWFLAKE",
            "AMAZON_S3",
            "HDFS",
            "ORACLE_AI_DATA_PLATFORM",
            "ORACLE_NOSQL",
            "MONGODB",
            "AMAZON_KINESIS",
            "AMAZON_REDSHIFT",
            "DB2",
            "REDIS",
            "ELASTICSEARCH",
            "GENERIC",
            "GOOGLE_CLOUD_STORAGE",
            "GOOGLE_BIGQUERY",
            "DATABRICKS",
            "GOOGLE_PUBSUB",
            "MICROSOFT_FABRIC",
            "ICEBERG"
          ],
          "type": "string"
        },
        "routingMethod": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Network traffic flows from the assigned deployment's private endpoint through the deployment's subnet.",
            "A dedicated private endpoint is created in the target VCN subnet for the connection."
          ],
          "description": "Optional. The routing method for the GoldengateConnection.",
          "type": "string",
          "enum": [
            "GOLDENGATE_CONNECTION_ROUTING_METHOD_UNSPECIFIED",
            "SHARED_DEPLOYMENT_ENDPOINT",
            "DEDICATED_ENDPOINT"
          ]
        },
        "amazonS3ConnectionProperties": {
          "$ref": "GoldengateAmazonS3ConnectionProperties",
          "description": "Properties for an Amazon S3 connection."
        },
        "googleCloudStorageConnectionProperties": {
          "description": "Properties for a Google Cloud Storage Connection.",
          "$ref": "GoldengateGoogleCloudStorageConnectionProperties"
        },
        "postgresqlConnectionProperties": {
          "$ref": "GoldengatePostgresqlConnectionProperties",
          "description": "Properties for a PostgreSQL connection."
        },
        "redisConnectionProperties": {
          "description": "Properties for a Redis connection.",
          "$ref": "GoldengateRedisConnectionProperties"
        },
        "kafkaSchemaRegistryConnectionProperties": {
          "$ref": "GoldengateKafkaSchemaRegistryConnectionProperties",
          "description": "Properties for a Kafka Schema Registry Connection."
        },
        "amazonRedshiftConnectionProperties": {
          "$ref": "GoldengateAmazonRedshiftConnectionProperties",
          "description": "Properties for an Amazon Redshift connection."
        },
        "oracleAiDataPlatformConnectionProperties": {
          "$ref": "GoldengateOracleAIDataPlatformConnectionProperties",
          "description": "Properties for an Oracle AI Data Platform connection."
        },
        "description": {
          "description": "Optional. Metadata about this specific object.",
          "type": "string"
        },
        "javaMessageServiceConnectionProperties": {
          "$ref": "GoldengateJavaMessageServiceConnectionProperties",
          "description": "Properties for a Java Message Service connection."
        },
        "lifecycleDetails": {
          "readOnly": true,
          "description": "Output only. Describes the object's current state in detail. For example, it can be used to provide actionable information for a resource in a Failed state.",
          "type": "string"
        },
        "icebergConnectionProperties": {
          "description": "Properties for an Iceberg connection.",
          "$ref": "GoldengateIcebergConnectionProperties"
        },
        "hdfsConnectionProperties": {
          "$ref": "GoldengateHdfsConnectionProperties",
          "description": "Properties for an HDFS connection."
        },
        "microsoftFabricConnectionProperties": {
          "description": "Properties for a Microsoft Fabric connection.",
          "$ref": "GoldengateMicrosoftFabricConnectionProperties"
        },
        "azureSynapseAnalyticsConnectionProperties": {
          "description": "Properties for an Azure Synapse Analytics connection.",
          "$ref": "GoldengateAzureSynapseAnalyticsConnectionProperties"
        },
        "amazonKinesisConnectionProperties": {
          "$ref": "GoldengateAmazonKinesisConnectionProperties",
          "description": "Properties for an Amazon Kinesis connection."
        },
        "displayName": {
          "description": "Required. An object's Display Name.",
          "type": "string"
        },
        "oracleNosqlConnectionProperties": {
          "$ref": "GoldengateOracleNosqlConnectionProperties",
          "description": "Properties for an Oracle NoSQL connection."
        },
        "snowflakeConnectionProperties": {
          "$ref": "GoldengateSnowflakeConnectionProperties",
          "description": "Properties for a Snowflake connection."
        },
        "goldengateConnectionProperties": {
          "description": "Properties for a Goldengate Connection.",
          "$ref": "GoldengateGoldengateConnectionProperties"
        },
        "lifecycleState": {
          "type": "string",
          "description": "Output only. The lifecycle state of the connection.",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is in provisioning state.",
            "Indicates that the resource is in active state.",
            "Indicates that the resource is in updating state.",
            "Indicates that the resource is in deleting state.",
            "Indicates that the resource is in deleted state.",
            "Indicates that the resource is in failed state."
          ],
          "readOnly": true,
          "enum": [
            "GOLDENGATE_CONNECTION_LIFECYCLE_STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "DELETED",
            "FAILED"
          ]
        },
        "googleBigQueryConnectionProperties": {
          "$ref": "GoldengateGoogleBigQueryConnectionProperties",
          "description": "Properties for a Google BigQuery Connection."
        },
        "elasticsearchConnectionProperties": {
          "$ref": "GoldengateElasticsearchConnectionProperties",
          "description": "Properties for an Elasticsearch connection."
        },
        "genericConnectionProperties": {
          "description": "Properties for a Generic Connection.",
          "$ref": "GoldengateGenericConnectionProperties"
        },
        "mysqlConnectionProperties": {
          "description": "Properties for a Mysql Connection.",
          "$ref": "GoldengateMysqlConnectionProperties"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the resource was last updated."
        },
        "azureDataLakeStorageConnectionProperties": {
          "description": "Properties for an Azure Data Lake Storage Connection.",
          "$ref": "GoldengateAzureDataLakeStorageConnectionProperties"
        },
        "kafkaConnectionProperties": {
          "$ref": "GoldengateKafkaConnectionProperties",
          "description": "Properties for a Kafka Connection."
        },
        "ocid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The [OCID] of the connection being referenced."
        }
      },
      "type": "object",
      "description": "The properties of a GoldengateConnection.",
      "id": "GoldengateConnectionProperties"
    },
    "GoldengateAmazonS3ConnectionProperties": {
      "id": "GoldengateAmazonS3ConnectionProperties",
      "properties": {
        "endpoint": {
          "description": "Optional. The Amazon Endpoint for S3.",
          "type": "string"
        },
        "secretAccessKeySecret": {
          "description": "Optional. Secret access key to access the Amazon S3 bucket.",
          "type": "string"
        },
        "accessKeyId": {
          "type": "string",
          "description": "Optional. Access key ID to access the Amazon S3 bucket."
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of AmazonS3Connection."
        },
        "region": {
          "type": "string",
          "description": "Optional. The name of the AWS region where the bucket is created."
        }
      },
      "type": "object",
      "description": "The properties of GoldengateAmazonS3Connection."
    },
    "GoldengateGoogleBigQueryConnectionProperties": {
      "id": "GoldengateGoogleBigQueryConnectionProperties",
      "type": "object",
      "properties": {
        "technologyType": {
          "description": "Optional. The technology type.",
          "type": "string"
        },
        "serviceAccountKeyFile": {
          "description": "Optional. The base64 encoded content of the service account key file containing the credentials required to use Google BigQuery.",
          "type": "string"
        }
      },
      "description": "The properties of GoldengateGoogleBigQueryConnectionProperties."
    },
    "GoldengatePlacement": {
      "id": "GoldengatePlacement",
      "type": "object",
      "properties": {
        "faultDomain": {
          "description": "Output only. The fault domain.",
          "type": "string",
          "readOnly": true
        },
        "availabilityDomain": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The availability domain."
        }
      },
      "description": "The placement of the GoldengateDeployment."
    },
    "DataCollectionOptionsCommon": {
      "id": "DataCollectionOptionsCommon",
      "description": "Data collection options for diagnostics. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/datatypes/DataCollectionOptions",
      "properties": {
        "isIncidentLogsEnabled": {
          "description": "Optional. Indicates whether to enable incident logs and trace collection.",
          "type": "boolean"
        },
        "isDiagnosticsEventsEnabled": {
          "description": "Optional. Indicates whether to enable data collection for diagnostics.",
          "type": "boolean"
        },
        "isHealthMonitoringEnabled": {
          "description": "Optional. Indicates whether to enable health monitoring.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoldengateDeploymentVersion": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "GoldengateDeploymentVersionProperties",
          "readOnly": true,
          "description": "Output only. The technology type of the Goldengate Deployment Version resource."
        },
        "name": {
          "description": "Identifier. The name of the Goldengate Deployment Version resource with the format: projects/{project}/locations/{location}/goldengateDeploymentVersions/{goldengate_deployment_version}",
          "type": "string"
        },
        "ocid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The deployment version ocid of the Goldengate Deployment Version resource."
        }
      },
      "description": "Details of the Goldengate Deployment Version resource.",
      "id": "GoldengateDeploymentVersion"
    },
    "StartGoldengateDeploymentRequest": {
      "id": "StartGoldengateDeploymentRequest",
      "properties": {},
      "type": "object",
      "description": "The request for `GoldengateDeployment.Start`."
    },
    "RestartAutonomousDatabaseRequest": {
      "id": "RestartAutonomousDatabaseRequest",
      "type": "object",
      "properties": {},
      "description": "The request for `AutonomousDatabase.Restart`."
    },
    "ExascaleDbStorageVaultProperties": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. The description of the ExascaleDbStorageVault."
        },
        "vmClusterIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of VM cluster OCIDs associated with the ExascaleDbStorageVault.",
          "readOnly": true
        },
        "ociUri": {
          "description": "Output only. Deep link to the OCI console to view this resource.",
          "type": "string",
          "readOnly": true
        },
        "additionalFlashCachePercent": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The size of additional flash cache in percentage of high capacity database storage."
        },
        "exascaleDbStorageDetails": {
          "$ref": "ExascaleDbStorageDetails",
          "description": "Required. The storage details of the ExascaleDbStorageVault."
        },
        "vmClusterCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The number of VM clusters associated with the ExascaleDbStorageVault."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "AVAILABLE",
            "UPDATING",
            "TERMINATING",
            "TERMINATED",
            "FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The state of the ExascaleDbStorageVault is unspecified.",
            "The ExascaleDbStorageVault is being provisioned.",
            "The ExascaleDbStorageVault is available.",
            "The ExascaleDbStorageVault is being updated.",
            "The ExascaleDbStorageVault is being deleted.",
            "The ExascaleDbStorageVault has been deleted.",
            "The ExascaleDbStorageVault has failed."
          ],
          "description": "Output only. The state of the ExascaleDbStorageVault.",
          "type": "string"
        },
        "attachedShapeAttributes": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "SHAPE_ATTRIBUTE_UNSPECIFIED",
              "SMART_STORAGE",
              "BLOCK_STORAGE"
            ],
            "enumDescriptions": [
              "Default unspecified value.",
              "Indicates that the resource is in smart storage.",
              "Indicates that the resource is in block storage."
            ]
          },
          "description": "Output only. The shape attributes of the VM clusters attached to the ExascaleDbStorageVault.",
          "readOnly": true
        },
        "ocid": {
          "description": "Output only. The OCID for the ExascaleDbStorageVault.",
          "type": "string",
          "readOnly": true
        },
        "availableShapeAttributes": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The shape attributes available for the VM clusters to be attached to the ExascaleDbStorageVault.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default unspecified value.",
              "Indicates that the resource is in smart storage.",
              "Indicates that the resource is in block storage."
            ],
            "enum": [
              "SHAPE_ATTRIBUTE_UNSPECIFIED",
              "SMART_STORAGE",
              "BLOCK_STORAGE"
            ]
          }
        },
        "timeZone": {
          "$ref": "TimeZone",
          "description": "Output only. The time zone of the ExascaleDbStorageVault.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "ExascaleDbStorageVaultProperties",
      "description": "The properties of the ExascaleDbStorageVault. next ID: 12"
    },
    "GoldengateMicrosoftFabricConnectionProperties": {
      "properties": {
        "technologyType": {
          "description": "Optional. The technology type of MicrosoftFabricConnection.",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "Optional. Azure client ID of the application."
        },
        "tenantId": {
          "type": "string",
          "description": "Optional. Azure tenant ID of the application."
        },
        "endpoint": {
          "description": "Optional. Optional Microsoft Fabric service endpoint. Default value: https://onelake.dfs.fabric.microsoft.com",
          "type": "string"
        },
        "clientSecret": {
          "description": "Optional. Client secret associated with the client id.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The properties of GoldengateMicrosoftFabricConnection.",
      "id": "GoldengateMicrosoftFabricConnectionProperties"
    },
    "ExadbVmClusterStorageDetails": {
      "description": "The storage allocation for the exadbvmcluster, in gigabytes (GB).",
      "id": "ExadbVmClusterStorageDetails",
      "type": "object",
      "properties": {
        "sizeInGbsPerNode": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The storage allocation for the exadbvmcluster per node, in gigabytes (GB). This field is used to calculate the total storage allocation for the exadbvmcluster."
        }
      }
    },
    "GoldengateOracleConnectionProperties": {
      "properties": {
        "authenticationMode": {
          "type": "string",
          "enum": [
            "ORACLE_AUTHENTICATION_MODE_UNSPECIFIED",
            "TLS",
            "MTLS"
          ],
          "description": "Optional. Authentication mode.",
          "enumDescriptions": [
            "Authentication mode not specified.",
            "TLS authentication mode.",
            "MTLS authentication mode."
          ]
        },
        "walletFile": {
          "type": "string",
          "description": "Optional. The wallet contents Oracle Goldengate uses to make connections to a database. This attribute is expected to be base64 encoded."
        },
        "gcpOracleDatabaseId": {
          "description": "Optional. Autonomous AI Database instance id of database in Oracle Database @ Google Cloud. If gcp_oracle_database_id is provided, connection_string must be empty. Format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}",
          "type": "string"
        },
        "sessionMode": {
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the resource is using direct session mode.",
            "Indicates that the resource is using redirect session mode."
          ],
          "type": "string",
          "description": "Optional. The mode of the database connection session to be established by the data client.",
          "enum": [
            "SESSION_MODE_UNSPECIFIED",
            "DIRECT",
            "REDIRECT"
          ]
        },
        "technologyType": {
          "description": "Optional. The technology type.",
          "type": "string"
        },
        "connectionString": {
          "description": "Optional. Connect descriptor or Easy Connect Naming method used to connect to a database.",
          "type": "string"
        },
        "passwordSecretVersion": {
          "type": "string",
          "description": "Optional. Input only. The resource name of a secret version in Secret Manager which contains the password Oracle Goldengate uses. Format: projects/{project}/secrets/{secret}/versions/{version}."
        },
        "username": {
          "description": "Optional. The username Oracle Goldengate uses to connect.",
          "type": "string"
        },
        "password": {
          "description": "Optional. Input only. The password Oracle Goldengate uses in plain text.",
          "type": "string"
        }
      },
      "id": "GoldengateOracleConnectionProperties",
      "description": "The properties of Goldengate Oracle Database Connection.",
      "type": "object"
    },
    "RestIcebergCatalog": {
      "id": "RestIcebergCatalog",
      "properties": {
        "properties": {
          "type": "string",
          "description": "Optional. The base64 encoded content of the configuration file containing additional properties for the REST catalog."
        },
        "uri": {
          "description": "Required. The REST uri.",
          "type": "string"
        }
      },
      "description": "The REST Iceberg catalog.",
      "type": "object"
    },
    "DefinedTagValue": {
      "type": "object",
      "properties": {
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The tags within the namespace.",
          "type": "object"
        }
      },
      "id": "DefinedTagValue",
      "description": "Wrapper message for the value of a defined tag."
    },
    "AutonomousDatabase": {
      "description": "Details of the Autonomous Database resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/AutonomousDatabase/",
      "id": "AutonomousDatabase",
      "type": "object",
      "properties": {
        "peerAutonomousDatabases": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The peer Autonomous Database names of the given Autonomous Database.",
          "readOnly": true
        },
        "network": {
          "type": "string",
          "description": "Optional. Immutable. The name of the VPC network used by the Autonomous Database in the following format: projects/{project}/global/networks/{network}"
        },
        "cidr": {
          "type": "string",
          "description": "Optional. Immutable. The subnet CIDR range for the Autonomous Database."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Immutable. The display name for the Autonomous Database. The name does not have to be unique within your project."
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels or tags associated with the Autonomous Database.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "adminPassword": {
          "type": "string",
          "description": "Optional. Immutable. The password for the default ADMIN user. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated."
        },
        "disasterRecoverySupportedLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. List of supported GCP region to clone the Autonomous Database for disaster recovery. Format: `project/{project}/locations/{location}`.",
          "readOnly": true
        },
        "odbNetwork": {
          "description": "Optional. Immutable. The name of the OdbNetwork associated with the Autonomous Database. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network} It is optional but if specified, this should match the parent ODBNetwork of the OdbSubnet.",
          "type": "string"
        },
        "sourceConfig": {
          "description": "Optional. Immutable. The source Autonomous Database configuration for the standby Autonomous Database. The source Autonomous Database is configured while creating the Peer Autonomous Database and can't be updated after creation.",
          "$ref": "SourceConfig"
        },
        "adminPasswordSecretVersion": {
          "type": "string",
          "description": "Optional. Immutable. The resource name of a secret version in Secret Manager which contains the database admin user's password. Format: projects/{project}/secrets/{secret}/versions/{version}. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated."
        },
        "properties": {
          "description": "Optional. The properties of the Autonomous Database.",
          "$ref": "AutonomousDatabaseProperties"
        },
        "entitlementId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the subscription entitlement associated with the Autonomous Database."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The date and time that the Autonomous Database was created.",
          "type": "string"
        },
        "database": {
          "type": "string",
          "description": "Optional. Immutable. The name of the Autonomous Database. The database name must be unique in the project. The name must begin with a letter and can contain a maximum of 30 alphanumeric characters."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the Autonomous Database resource in the following format: projects/{project}/locations/{region}/autonomousDatabases/{autonomous_database}"
        },
        "odbSubnet": {
          "description": "Optional. Immutable. The name of the OdbSubnet associated with the Autonomous Database. Format: projects/{project}/locations/{location}/odbNetworks/{odb_network}/odbSubnets/{odb_subnet}",
          "type": "string"
        }
      }
    },
    "PluggableDatabase": {
      "type": "object",
      "description": "The PluggableDatabase resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/PluggableDatabase/",
      "id": "PluggableDatabase",
      "properties": {
        "ociUrl": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. HTTPS link to OCI resources exposed to Customer via UI Interface."
        },
        "properties": {
          "description": "Optional. The properties of the PluggableDatabase.",
          "$ref": "PluggableDatabaseProperties"
        },
        "name": {
          "description": "Identifier. The name of the PluggableDatabase resource in the following format: projects/{project}/locations/{region}/pluggableDatabases/{pluggable_database}",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The date and time that the PluggableDatabase was created.",
          "readOnly": true
        }
      }
    },
    "GoldengateGooglePubsubConnectionProperties": {
      "properties": {
        "serviceAccountKeyFile": {
          "description": "Optional. The base64 encoded content of the service account key file containing the credentials required to use Google Pub/Sub.",
          "type": "string"
        },
        "technologyType": {
          "type": "string",
          "description": "Optional. The technology type of GooglePubsubConnection."
        }
      },
      "type": "object",
      "id": "GoldengateGooglePubsubConnectionProperties",
      "description": "The properties of GoldengateGooglePubsubConnection."
    },
    "StopAutonomousDatabaseRequest": {
      "type": "object",
      "id": "StopAutonomousDatabaseRequest",
      "description": "The request for `AutonomousDatabase.Stop`.",
      "properties": {}
    },
    "PolarisIcebergCatalog": {
      "id": "PolarisIcebergCatalog",
      "description": "The Polaris Iceberg catalog.",
      "properties": {
        "polarisCatalog": {
          "type": "string",
          "description": "Required. The catalog name within Polaris."
        },
        "principalRole": {
          "type": "string",
          "description": "Required. The Polaris principal role."
        },
        "clientSecret": {
          "description": "Optional. The Polaris client secret.",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "Required. The Polaris client ID."
        },
        "uri": {
          "description": "Required. The Polaris uri.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListCloudExadataInfrastructuresResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token for fetching next page of response.",
          "type": "string"
        },
        "cloudExadataInfrastructures": {
          "description": "The list of Exadata Infrastructures.",
          "type": "array",
          "items": {
            "$ref": "CloudExadataInfrastructure"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable locations when listing resources across all locations using wildcard location '-'.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListCloudExadataInfrastructuresResponse",
      "description": "The response for `CloudExadataInfrastructures.list`."
    },
    "Database": {
      "description": "Details of the Database resource. https://docs.oracle.com/en-us/iaas/api/#/en/database/20160918/Database/",
      "id": "Database",
      "properties": {
        "ncharacterSet": {
          "type": "string",
          "description": "Optional. The national character set for the database. The default is AL16UTF16."
        },
        "pluggableDatabaseId": {
          "type": "string",
          "description": "Optional. The ID of the pluggable database associated with the Database. The ID must be unique within the project and location."
        },
        "adminPassword": {
          "type": "string",
          "description": "Optional. The password for the default ADMIN user. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated."
        },
        "properties": {
          "$ref": "DatabaseProperties",
          "description": "Optional. The properties of the Database."
        },
        "dbName": {
          "description": "Optional. The database name. The name must begin with an alphabetic character and can contain a maximum of eight alphanumeric characters. Special characters are not permitted.",
          "type": "string"
        },
        "pluggableDatabaseName": {
          "type": "string",
          "description": "Optional. The pluggable database associated with the Database. The name must begin with an alphabetic character and can contain a maximum of thirty alphanumeric characters."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The date and time that the Database was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "adminPasswordSecretVersion": {
          "description": "Optional. The resource name of a secret version in Secret Manager which contains the database admin user's password. Format: projects/{project}/secrets/{secret}/versions/{version}. Note: Only one of `admin_password_secret_version` or `admin_password` can be populated.",
          "type": "string"
        },
        "characterSet": {
          "description": "Optional. The character set for the database. The default is AL32UTF8.",
          "type": "string"
        },
        "gcpOracleZone": {
          "description": "Output only. The GCP Oracle zone where the Database is created.",
          "type": "string",
          "readOnly": true
        },
        "dbHomeName": {
          "type": "string",
          "description": "Optional. The name of the DbHome resource associated with the Database."
        },
        "dbUniqueName": {
          "description": "Optional. The DB_UNIQUE_NAME of the Oracle Database being backed up.",
          "type": "string"
        },
        "opsInsightsStatus": {
          "description": "Output only. The Status of Operations Insights for this Database.",
          "enum": [
            "OPERATIONS_INSIGHTS_STATUS_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "NOT_ENABLED",
            "FAILED_ENABLING",
            "FAILED_DISABLING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified value.",
            "Indicates that the operations insights are being enabled.",
            "Indicates that the operations insights are enabled.",
            "Indicates that the operations insights are being disabled.",
            "Indicates that the operations insights are not enabled.",
            "Indicates that the operations insights failed to enable.",
            "Indicates that the operations insights failed to disable."
          ],
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The name of the Database resource in the following format: projects/{project}/locations/{region}/databases/{database}",
          "type": "string"
        },
        "tdeWalletPasswordSecretVersion": {
          "description": "Optional. The resource name of a secret version in Secret Manager which contains the TDE wallet password for the database. Format: projects/{project}/secrets/{secret}/versions/{version}. Note: Only one of `tde_wallet_password_secret_version` or `tde_wallet_password` can be populated.",
          "type": "string"
        },
        "databaseId": {
          "description": "Optional. The database ID of the Database.",
          "type": "string"
        },
        "tdeWalletPassword": {
          "type": "string",
[...]
