{
  "title": "Oracle Database@Google Cloud API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20260910",
  "discoveryVersion": "v1",
  "name": "oracledatabase",
  "baseUrl": "https://oracledatabase.googleapis.com/",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "version_module": true,
  "id": "oracledatabase:v1",
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "rootUrl": "https://oracledatabase.googleapis.com/",
  "endpoints": [
    {
      "endpointUrl": "https://oracledatabase.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast2"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://oracledatabase.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://oracledatabase.asia-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast2",
      "endpointUrl": "https://oracledatabase.australia-southeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://oracledatabase.europe-west8.rep.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://oracledatabase.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    }
  ],
  "protocol": "rest",
  "mtlsRootUrl": "https://oracledatabase.mtls.googleapis.com/",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "goldengateDeployments": {
              "methods": {
                "stop": {
                  "description": "Stops a single GoldengateDeployment.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:stop",
                  "httpMethod": "POST",
                  "id": "oracledatabase.projects.locations.goldengateDeployments.stop",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/goldengateDeployments/[^/]+$",
                      "description": "Required. The name of the Goldengate Deployment in the following format: projects/{project}/locations/{location}/goldengateDeployments/{goldengate_deployment}.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "StopGoldengateDeploymentRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateDeployments/{goldengateDeploymentsId}:stop",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "start": {
                  "id": "oracledatabase.projects.locations.goldengateDeployments.start",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/goldengateDeployments/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the Goldengate Deployment in the following format: projects/{project}/locations/{location}/goldengateDeployments/{goldengate_deployment}."
                    }
                  },
                  "request": {
                    "$ref": "StartGoldengateDeploymentRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:start",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Starts a single GoldengateDeployment.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateDeployments/{goldengateDeploymentsId}:start",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the GoldengateDeployment in the following format: projects/{project}/locations/{location}/goldengateDeployments/{goldengate_deployment}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/goldengateDeployments/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "oracledatabase.projects.locations.goldengateDeployments.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a single GoldengateDeployment.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateDeployments/{goldengateDeploymentsId}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "oracledatabase.projects.locations.goldengateDeployments.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoldengateDeployment"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateDeployments/{goldengateDeploymentsId}",
                  "description": "Gets details of a single GoldengateDeployment.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/goldengateDeployments/[^/]+$",
                      "description": "Required. The name of the GoldengateDeployment in the following format: projects/{project}/locations/{location}/goldengateDeployments/{goldengate_deployment}."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/goldengateDeployments",
                  "description": "Lists all the GoldengateDeployments for the given project and location.",
                  "parameters": {
                    "filter": {
                      "description": "Optional. An expression for filtering the results of the request.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous ListGoldengateDeployments call. Provide this to retrieve the subsequent page."
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. An expression for ordering the results of the request.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 GoldengateDeployments will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent value for GoldengateDeployments in the following format: projects/{project}/locations/{location}."
                    }
                  },
                  "id": "oracledatabase.projects.locations.goldengateDeployments.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateDeployments",
                  "response": {
                    "$ref": "ListGoldengateDeploymentsResponse"
                  }
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateDeployments",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+parent}/goldengateDeployments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The value for parent of the GoldengateDeployment in the following format: projects/{project}/locations/{location}."
                    },
                    "goldengateDeploymentId": {
                      "description": "Required. The ID of the GoldengateDeployment to create. This value is restricted to (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$) and must be a maximum of 63 characters in length. The value must start with a letter and end with a letter or a number.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoldengateDeployment"
                  },
                  "httpMethod": "POST",
                  "id": "oracledatabase.projects.locations.goldengateDeployments.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new GoldengateDeployment in a given project and location."
                }
              }
            },
            "dbSystemShapes": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListDbSystemShapesResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent value for Database System Shapes in the following format: projects/{project}/locations/{location}.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 database system shapes will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. An expression for filtering the results of the request. The `gcp_oracle_zone_id`, `shape_family`, and `database_edition` fields are supported in the following format: `gcp_oracle_zone_id=\"{gcp_oracle_zone_id}\" AND shape_family=\"{shape_family}\" AND database_edition=\"{database_edition}\"`.",
                      "type": "string"
                    }
                  },
                  "id": "oracledatabase.projects.locations.dbSystemShapes.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbSystemShapes",
                  "description": "Lists the database system shapes available for the project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/dbSystemShapes",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "databaseCharacterSets": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/databaseCharacterSets",
                  "id": "oracledatabase.projects.locations.databaseCharacterSets.list",
                  "parameters": {
                    "filter": {
                      "description": "Optional. An expression for filtering the results of the request. Only the **character_set_type** field is supported in the following format: `character_set_type=\"{characterSetType}\"`. Accepted values include `DATABASE` and `NATIONAL`.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListDatabaseCharacterSets` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDatabaseCharacterSets` must match the call that provided the page token."
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent value for DatabaseCharacterSets in the following format: projects/{project}/locations/{location}."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of DatabaseCharacterSets to return. The service may return fewer than this value. If unspecified, at most 50 DatabaseCharacterSets will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "List DatabaseCharacterSets for the given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListDatabaseCharacterSetsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/databaseCharacterSets"
                }
              }
            },
            "autonomousDatabases": {
              "methods": {
                "generateWallet": {
                  "response": {
                    "$ref": "GenerateAutonomousDatabaseWalletResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}:generateWallet",
                  "id": "oracledatabase.projects.locations.autonomousDatabases.generateWallet",
                  "description": "Generates a wallet for an Autonomous Database.",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Autonomous Database in the following format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:generateWallet",
                  "request": {
                    "$ref": "GenerateAutonomousDatabaseWalletRequest"
                  }
                },
                "getRefreshableClones": {
                  "response": {
                    "$ref": "AutonomousDatabaseRefreshableClones"
                  },
                  "path": "v1/{+name}:getRefreshableClones",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}:getRefreshableClones",
                  "id": "oracledatabase.projects.locations.autonomousDatabases.getRefreshableClones",
                  "parameters": {
                    "name": {
                      "description": "Required. The Autonomous Database resource whose refreshable clones are to be listed. Format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Gets the refreshable clones for a given Autonomous Database.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListAutonomousDatabasesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 Autonomous Database will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent value for the Autonomous Database in the following format: projects/{project}/locations/{location}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. An expression for ordering the results of the request.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. An expression for filtering the results of the request.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases",
                  "description": "Lists the Autonomous Databases in a given project and location.",
                  "id": "oracledatabase.projects.locations.autonomousDatabases.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/autonomousDatabases",
                  "httpMethod": "GET"
                },
                "get": {
                  "id": "oracledatabase.projects.locations.autonomousDatabases.get",
                  "description": "Gets the details of a single Autonomous Database.",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "AutonomousDatabase"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$",
                      "description": "Required. The name of the Autonomous Database in the following format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the parameters of a single Autonomous Database.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "oracledatabase.projects.locations.autonomousDatabases.patch",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Exadata resource by the update. The fields specified in the `update_mask` are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then the service treats this as an implied field mask equivalent to all fields that are populated (have a non-empty value). To clear or unset a field, the field must be explicitly specified in the `update_mask`.",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$",
                      "required": true,
                      "description": "Identifier. The name of the Autonomous Database resource in the following format: projects/{project}/locations/{region}/autonomousDatabases/{autonomous_database}"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "AutonomousDatabase"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}",
                  "httpMethod": "PATCH"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}",
                  "description": "Deletes a single Autonomous Database.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the resource in the following format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$"
                    },
                    "requestId": {
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "oracledatabase.projects.locations.autonomousDatabases.delete",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "start": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$",
                      "description": "Required. The name of the Autonomous Database in the following format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}:start",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts an Autonomous Database.",
                  "path": "v1/{+name}:start",
                  "request": {
                    "$ref": "StartAutonomousDatabaseRequest"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "oracledatabase.projects.locations.autonomousDatabases.start"
                },
                "switchover": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}:switchover",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$",
                      "description": "Required. The name of the Autonomous Database in the following format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}:switchover",
                  "description": "Initiates a switchover of specified autonomous database to the associated peer database.",
                  "id": "oracledatabase.projects.locations.autonomousDatabases.switchover",
                  "request": {
                    "$ref": "SwitchoverAutonomousDatabaseRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST"
                },
                "stop": {
                  "request": {
                    "$ref": "StopAutonomousDatabaseRequest"
                  },
                  "id": "oracledatabase.projects.locations.autonomousDatabases.stop",
                  "httpMethod": "POST",
                  "path": "v1/{+name}:stop",
                  "description": "Stops an Autonomous Database.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$",
                      "description": "Required. The name of the Autonomous Database in the following format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}:stop"
                },
                "restore": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "RestoreAutonomousDatabaseRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+name}:restore",
                  "id": "oracledatabase.projects.locations.autonomousDatabases.restore",
                  "description": "Restores a single Autonomous Database.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$",
                      "description": "Required. The name of the Autonomous Database in the following format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}:restore",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "refresh": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "RefreshAutonomousDatabaseRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:refresh",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}:refresh",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Refreshes the refreshable clone of an Autonomous Database.",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the AutonomousDatabase resource. Format: projects/{project}/location/{location}/autonomousDatabases/{autonomous_database}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "oracledatabase.projects.locations.autonomousDatabases.refresh"
                },
                "failover": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}:failover",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "FailoverAutonomousDatabaseRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}:failover",
                  "httpMethod": "POST",
                  "description": "Initiates a failover to target autonomous database from the associated primary database.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the Autonomous Database in the following format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}."
                    }
                  },
                  "id": "oracledatabase.projects.locations.autonomousDatabases.failover",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "restart": {
                  "description": "Restarts an Autonomous Database.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "id": "oracledatabase.projects.locations.autonomousDatabases.restart",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "RestartAutonomousDatabaseRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases/{autonomousDatabasesId}:restart",
                  "path": "v1/{+name}:restart",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the Autonomous Database in the following format: projects/{project}/locations/{location}/autonomousDatabases/{autonomous_database}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/autonomousDatabases/[^/]+$"
                    }
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the parent in the following format: projects/{project}/locations/{location}.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "requestId": {
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "autonomousDatabaseId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The ID of the Autonomous Database to create. This value is restricted to (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$) and must be a maximum of 63 characters in length. The value must start with a letter and end with a letter or a number."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabases",
                  "request": {
                    "$ref": "AutonomousDatabase"
                  },
                  "path": "v1/{+parent}/autonomousDatabases",
                  "httpMethod": "POST",
                  "id": "oracledatabase.projects.locations.autonomousDatabases.create",
                  "description": "Creates a new Autonomous Database in a given project and location."
                }
              }
            },
            "pluggableDatabases": {
              "methods": {
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pluggableDatabases/{pluggableDatabasesId}",
                  "response": {
                    "$ref": "PluggableDatabase"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "oracledatabase.projects.locations.pluggableDatabases.get",
                  "path": "v1/{+name}",
                  "description": "Gets details of a single PluggableDatabase.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/pluggableDatabases/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the PluggableDatabase resource in the following format: projects/{project}/locations/{region}/pluggableDatabases/{pluggable_database}",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "description": "Lists all the PluggableDatabases for the given project, location and Container Database.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "oracledatabase.projects.locations.pluggableDatabases.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListPluggableDatabasesResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/pluggableDatabases",
                  "path": "v1/{+parent}/pluggableDatabases",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent, which owns this collection of PluggableDatabases. Format: projects/{project}/locations/{location}",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListPluggableDatabases` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPluggableDatabases` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of PluggableDatabases to return. The service may return fewer than this value.",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "Optional. An expression for filtering the results of the request. List for pluggable databases is supported only with a valid container database (full resource name) filter in this format: `database=\"projects/{project}/locations/{location}/databases/{database}\"`",
                      "type": "string",
                      "location": "query"
                    }
                  }
                }
              }
            },
            "goldengateDeploymentEnvironments": {
              "methods": {
                "list": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent, which owns this collection of GoldengateDeploymentEnvironments. Format: projects/{project}/locations/{location}",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 deployment environments will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    }
                  },
                  "id": "oracledatabase.projects.locations.goldengateDeploymentEnvironments.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateDeploymentEnvironments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists GoldengateDeploymentEnvironments in a given project and location.",
                  "response": {
                    "$ref": "ListGoldengateDeploymentEnvironmentsResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/goldengateDeploymentEnvironments"
                }
              }
            },
            "autonomousDbVersions": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/autonomousDbVersions",
                  "httpMethod": "GET",
                  "description": "Lists all the available Autonomous Database versions for a project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDbVersions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListAutonomousDbVersionsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "oracledatabase.projects.locations.autonomousDbVersions.list",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent value for the Autonomous Database in the following format: projects/{project}/locations/{location}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 Autonomous DB Versions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                }
              }
            },
            "autonomousDatabaseBackups": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 Autonomous DB Backups will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. An expression for filtering the results of the request. Only the **autonomous_database_id** field is supported in the following format: `autonomous_database_id=\"{autonomous_database_id}\"`. The accepted values must be a valid Autonomous Database ID, limited to the naming restrictions of the ID: ^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$). The ID must start with a letter, end with a letter or a number, and be a maximum of 63 characters.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent value for ListAutonomousDatabaseBackups in the following format: projects/{project}/locations/{location}."
                    }
                  },
                  "id": "oracledatabase.projects.locations.autonomousDatabaseBackups.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/autonomousDatabaseBackups",
                  "response": {
                    "$ref": "ListAutonomousDatabaseBackupsResponse"
                  },
                  "description": "Lists the long-term and automatic backups of an Autonomous Database.",
                  "path": "v1/{+parent}/autonomousDatabaseBackups",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                }
              }
            },
            "goldengateConnectionAssignments": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/goldengateConnectionAssignments",
                  "description": "Lists GoldengateConnectionAssignments in a given project and location.",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of GoldengateConnectionAssignments to return. The service may return fewer than this value. If unspecified, at most 50 GoldengateConnectionAssignments will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent value for the GoldengateConnectionAssignments. Format: projects/{project}/locations/{location}"
                    },
                    "orderBy": {
                      "description": "Optional. A comma-separated list of fields to order by, sorted in ascending order. Use \"DESC\" after a field name for descending.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A filter expression that filters GoldengateConnectionAssignments listed in the response."
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListGoldengateConnectionAssignments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListGoldengateConnectionAssignments` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListGoldengateConnectionAssignmentsResponse"
                  },
                  "id": "oracledatabase.projects.locations.goldengateConnectionAssignments.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateConnectionAssignments",
                  "httpMethod": "GET"
                },
                "test": {
                  "response": {
                    "$ref": "TestGoldengateConnectionAssignmentResponse"
                  },
                  "path": "v1/{+name}:test",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateConnectionAssignments/{goldengateConnectionAssignmentsId}:test",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "id": "oracledatabase.projects.locations.goldengateConnectionAssignments.test",
                  "description": "Tests a single GoldengateConnectionAssignment.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the connection assignment for which to test connection. projects/{project}/locations/{region}/goldengateConnectionAssignments/{goldengate_connection_assignment}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/goldengateConnectionAssignments/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "TestGoldengateConnectionAssignmentRequest"
                  }
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateConnectionAssignments",
                  "parameters": {
                    "goldengateConnectionAssignmentId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The ID of the GoldengateConnectionAssignment to create."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource where this GoldengateConnectionAssignment will be created. Format: projects/{project}/locations/{location}",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "oracledatabase.projects.locations.goldengateConnectionAssignments.create",
                  "description": "Creates a new GoldengateConnectionAssignment in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoldengateConnectionAssignment"
                  },
                  "path": "v1/{+parent}/goldengateConnectionAssignments",
                  "httpMethod": "POST"
                },
                "get": {
                  "id": "oracledatabase.projects.locations.goldengateConnectionAssignments.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateConnectionAssignments/{goldengateConnectionAssignmentsId}",
                  "httpMethod": "GET",
                  "description": "Gets details of a single GoldengateConnectionAssignment.",
                  "response": {
                    "$ref": "GoldengateConnectionAssignment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/goldengateConnectionAssignments/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the GoldengateConnectionAssignment to retrieve. Format: projects/{project}/locations/{location}/goldengateConnectionAssignments/{goldengate_connection_assignment}",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}"
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateConnectionAssignments/{goldengateConnectionAssignmentsId}",
                  "description": "Deletes a single GoldengateConnectionAssignment.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/goldengateConnectionAssignments/[^/]+$",
                      "description": "Required. The name of the GoldengateConnectionAssignment to delete. Format: projects/{project}/locations/{location}/goldengateConnectionAssignments/{goldengate_connection_assignment}"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "oracledatabase.projects.locations.goldengateConnectionAssignments.delete",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "exascaleDbStorageVaults": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/exascaleDbStorageVaults",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/exascaleDbStorageVaults",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "oracledatabase.projects.locations.exascaleDbStorageVaults.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new ExascaleDB Storage Vault resource.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "ExascaleDbStorageVault"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The value for parent of the ExascaleDbStorageVault in the following format: projects/{project}/locations/{location}.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "exascaleDbStorageVaultId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The ID of the ExascaleDbStorageVault to create. This value is restricted to (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$) and must be a maximum of 63 characters in length. The value must start with a letter and end with a letter or a number."
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "id": "oracledatabase.projects.locations.exascaleDbStorageVaults.delete",
                  "path": "v1/{+name}",
                  "description": "Deletes a single ExascaleDB Storage Vault.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/exascaleDbStorageVaults/{exascaleDbStorageVaultsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/exascaleDbStorageVaults/[^/]+$",
                      "description": "Required. The name of the ExascaleDbStorageVault in the following format: projects/{project}/locations/{location}/exascaleDbStorageVaults/{exascale_db_storage_vault}."
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListExascaleDbStorageVaultsResponse"
                  },
                  "id": "oracledatabase.projects.locations.exascaleDbStorageVaults.list",
                  "description": "Lists all the ExascaleDB Storage Vaults for the given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/exascaleDbStorageVaults",
                  "httpMethod": "GET",
                  "parameters": {
                    "orderBy": {
                      "description": "Optional. An expression for ordering the results of the request. Order results as specified in https://google.aip.dev/132.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. An expression for filtering the results of the request. Filter the list as specified in https://google.aip.dev/160.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 ExascaleDbStorageVaults will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent value for ExascaleDbStorageVault in the following format: projects/{project}/locations/{location}.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+parent}/exascaleDbStorageVaults",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "oracledatabase.projects.locations.exascaleDbStorageVaults.get",
                  "response": {
                    "$ref": "ExascaleDbStorageVault"
                  },
                  "description": "Gets details of a single ExascaleDB Storage Vault.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/exascaleDbStorageVaults/{exascaleDbStorageVaultsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/exascaleDbStorageVaults/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the ExascaleDbStorageVault in the following format: projects/{project}/locations/{location}/exascaleDbStorageVaults/{exascale_db_storage_vault}.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "databases": {
              "methods": {
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/databases/{databasesId}",
                  "id": "oracledatabase.projects.locations.databases.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Database"
                  },
                  "path": "v1/{+name}",
                  "description": "Gets details of a single Database.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the Database resource in the following format: projects/{project}/locations/{region}/databases/{database}",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/databases/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "list": {
                  "description": "Lists all the Databases for the given project, location and DbSystem.",
                  "path": "v1/{+parent}/databases",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The maximum number of items to return. If unspecified, a maximum of 50 Databases will be returned. The maximum value is 1000; values above 1000 will be reset to 1000.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. An expression for filtering the results of the request. list for container databases is supported only with a valid dbSystem (full resource name) filter in this format: `dbSystem=\"projects/{project}/locations/{location}/dbSystems/{dbSystemId}\"`",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource name in the following format: projects/{project}/locations/{region}"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying the requested page of results to return. All fields except the filter should remain the same as in the request that provided this page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/databases",
                  "id": "oracledatabase.projects.locations.databases.list",
                  "response": {
                    "$ref": "ListDatabasesResponse"
                  }
                }
              }
            },
            "goldengateConnectionTypes": {
              "methods": {
                "list": {
                  "id": "oracledatabase.projects.locations.goldengateConnectionTypes.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateConnectionTypes",
                  "response": {
                    "$ref": "ListGoldengateConnectionTypesResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. Parent value for ListGoldengateConnectionTypesRequest Format: projects/{project}/locations/{location}",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. An expression for filtering the results of the request. The connection_type field must be specified in the format: `connection_type=\"ORACLE\"`.",
                      "type": "string"
                    }
                  },
                  "description": "Lists GoldengateConnectionTypes in a given project and location.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/goldengateConnectionTypes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "cloudVmClusters": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cloudVmClusters",
                  "description": "Creates a new VM Cluster in a given project and location.",
                  "path": "v1/{+parent}/cloudVmClusters",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "oracledatabase.projects.locations.cloudVmClusters.create",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the parent in the following format: projects/{project}/locations/{location}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "cloudVmClusterId": {
                      "location": "query",
                      "description": "Required. The ID of the VM Cluster to create. This value is restricted to (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$) and must be a maximum of 63 characters in length. The value must start with a letter and end with a letter or a number.",
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "request": {
                    "$ref": "CloudVmCluster"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "description": "Deletes a single VM Cluster.",
                  "path": "v1/{+name}",
                  "id": "oracledatabase.projects.locations.cloudVmClusters.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Cloud VM Cluster in the following format: projects/{project}/locations/{location}/cloudVmClusters/{cloud_vm_cluster}.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/cloudVmClusters/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "force": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set to true, all child resources for the VM Cluster will be deleted. A VM Cluster can only be deleted once all its child resources have been deleted."
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cloudVmClusters/{cloudVmClustersId}"
                },
                "list": {
                  "path": "v1/{+parent}/cloudVmClusters",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An expression for filtering the results of the request."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The name of the parent in the following format: projects/{project}/locations/{location}.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying the page of results the server returns."
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The number of VM clusters to return. If unspecified, at most 50 VM clusters will be returned. The maximum value is 1,000.",
                      "type": "integer"
                    }
                  },
                  "response": {
                    "$ref": "ListCloudVmClustersResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cloudVmClusters",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the VM Clusters in a given project and location.",
                  "id": "oracledatabase.projects.locations.cloudVmClusters.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "id": "oracledatabase.projects.locations.cloudVmClusters.get",
                  "description": "Gets details of a single VM Cluster.",
                  "response": {
                    "$ref": "CloudVmCluster"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/cloudVmClusters/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the Cloud VM Cluster in the following format: projects/{project}/locations/{location}/cloudVmClusters/{cloud_vm_cluster}."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cloudVmClusters/{cloudVmClustersId}"
                }
              },
              "resources": {
                "dbNodes": {
                  "methods": {
                    "list": {
                      "description": "Lists the database nodes of a VM Cluster.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. The maximum number of items to return. If unspecified, at most 50 db nodes will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "type": "integer",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent value for database node in the following format: projects/{project}/locations/{location}/cloudVmClusters/{cloudVmCluster}. .",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/cloudVmClusters/[^/]+$"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A token identifying a page of results the node should return."
                        }
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/dbNodes",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/cloudVmClusters/{cloudVmClustersId}/dbNodes",
                      "id": "oracledatabase.projects.locations.cloudVmClusters.dbNodes.list",
                      "response": {
                        "$ref": "ListDbNodesResponse"
                      }
                    }
                  }
                }
              }
            },
            "goldengateDeploymentVersions": {
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/goldengateDeploymentVersions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListGoldengateDeploymentVersionsResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists GoldengateDeploymentVersions in a given project and location.",
                  "path": "v1/{+parent}/goldengateDeploymentVersions",
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent value for ListGoldengateDeploymentVersionsRequest Format: projects/{project}/locations/{location}",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. An expression for filtering the results of the request. Either the deployment_id and deployment_type fields must be specified in the format: `deployment_id=\"id\"` or `deployment_type=\"DATABASE_ORACLE\"`.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query"
                    }
                  },
                  "id": "oracledatabase.projects.locations.goldengateDeploymentVersions.list",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "dbSystems": {
              "methods": {
                "list": {
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Optional. An expression for filtering the results of the request.",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. An expression for ordering the results of the request.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent value for DbSystems in the following format: projects/{project}/locations/{location}.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of items to return. If unspecified, at most 50 DbSystems will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer"
                    }
                  },
                  "response": {
                    "$ref": "ListDbSystemsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbSystems",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all the DbSystems for the given project and location.",
                  "path": "v1/{+parent}/dbSystems",
                  "httpMethod": "GET",
                  "id": "oracledatabase.projects.locations.dbSystems.list"
                },
                "create": {
                  "request": {
                    "$ref": "DbSystem"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbSystems",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+parent}/dbSystems",
                  "httpMethod": "POST",
                  "parameters": {
                    "dbSystemId": {
                      "type": "string",
                      "description": "Required. The ID of the DbSystem to create. This value is restricted to (^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$) and must be a maximum of 63 characters in length. The value must start with a letter and end with a letter or a number.",
                      "location": "query"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The value for parent of the DbSystem in the following format: projects/{project}/locations/{location}.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new DbSystem in a given project and location.",
                  "id": "oracledatabase.projects.locations.dbSystems.create"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the DbSystem in the following format: projects/{project}/locations/{location}/dbSystems/{db_system}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dbSystems/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional ID to identify the request. This value is used to identify duplicate requests. If you make a request with the same request ID and the original request is still in progress or completed, the server ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbSystems/{dbSystemsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single DbSystem.",
                  "id": "oracledatabase.projects.locations.dbSystems.delete"
                },
                "get": {
                  "response": {
                    "$ref": "DbSystem"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dbSystems/{dbSystemsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the DbSystem in the following format: projects/{project}/locations/{location}/dbSystems/{db_system}.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dbSystems/[^/]+$"
                    }
                  },
                  "id": "oracledatabase.projects.locations.dbSystems.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets details of a single DbSystem."
                }
              }
            },
            "goldengateDeploymentTypes": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An expression for filtering the results of the request. Either the deployment_type and ogg_version fields must be specified in the format: `deployment_type=\"DATABASE_ORACLE\"` or `ogg_version=\"version\"`. Allowed values for deployment_type are: `DATABASE_ORACLE`, `BIGDATA`, `DATABASE_MICROSOFT_SQLSERVER`, `DATABASE_MYSQL`, `DATABASE_POSTGRESQL`, `DATABASE_DB2ZOS`, `DATABASE_DB2I`, `GGSA`, `DATA_TRANSFORMS`."
                    },
                    "orderBy": {
                      "type": "string",
[...]
