{
  "id": "orgpolicy:v2",
  "parameters": {
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "ownerName": "Google",
  "title": "Organization Policy API",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "description": "The Organization Policy API allows users to configure governance rules on their Google Cloud resources across the resource hierarchy.",
  "name": "orgpolicy",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/orgpolicy/docs/reference/rest/index.html",
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleCloudOrgpolicyV2ConstraintCustomConstraintDefinitionParameter": {
      "id": "GoogleCloudOrgpolicyV2ConstraintCustomConstraintDefinitionParameter",
      "properties": {
        "metadata": {
          "description": "Defines subproperties primarily used by the UI to display user-friendly information.",
          "$ref": "GoogleCloudOrgpolicyV2ConstraintCustomConstraintDefinitionParameterMetadata"
        },
        "defaultValue": {
          "type": "any",
          "description": "Sets the value of the parameter in an assignment if no value is given."
        },
        "validValuesExpr": {
          "type": "string",
          "description": "Provides a CEL expression to specify the acceptable parameter values during assignment. For example, parameterName in (\"parameterValue1\", \"parameterValue2\")."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "LIST",
            "STRING",
            "BOOLEAN"
          ],
          "enumDescriptions": [
            "This is only used for distinguishing unset values, and results in an error if used.",
            "List parameter type.",
            "String parameter type.",
            "Boolean parameter type."
          ],
          "type": "string",
          "description": "Type of the parameter."
        },
        "item": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "LIST",
            "STRING",
            "BOOLEAN"
          ],
          "enumDescriptions": [
            "This is only used for distinguishing unset values, and results in an error if used.",
            "List parameter type.",
            "String parameter type.",
            "Boolean parameter type."
          ],
          "description": "Determines the parameter's value structure. For example, `LIST` can be specified by defining `type: LIST`, and `item: STRING`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Defines a parameter structure."
    },
    "GoogleCloudOrgpolicyV2ListPoliciesResponse": {
      "id": "GoogleCloudOrgpolicyV2ListPoliciesResponse",
      "description": "The response returned from the ListPolicies method. It will be empty if no policies are set on the resource.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token used to retrieve the next page. This is not used, but the server may at any point start supplying a valid token."
        },
        "policies": {
          "description": "All policies that exist on the resource. It will be empty if no policies are set.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2Policy"
          }
        }
      }
    },
    "GoogleCloudOrgpolicyV2PolicySpecPolicyRule": {
      "id": "GoogleCloudOrgpolicyV2PolicySpecPolicyRule",
      "type": "object",
      "description": "A rule used to express this policy.",
      "properties": {
        "parameters": {
          "description": "Optional. Required for managed constraints if parameters are defined. Passes parameter values when policy enforcement is enabled. Ensure that parameter value types match those defined in the constraint definition. For example: ``` { \"allowedLocations\" : [\"us-east1\", \"us-west1\"], \"allowAll\" : true } ```",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "values": {
          "$ref": "GoogleCloudOrgpolicyV2PolicySpecPolicyRuleStringValues",
          "description": "List of values to be used for this policy rule. This field can be set only in policies for list constraints."
        },
        "denyAll": {
          "description": "Setting this to true means that all values are denied. This field can be set only in policies for list constraints.",
          "type": "boolean"
        },
        "condition": {
          "description": "A condition that determines whether this rule is used to evaluate the policy. When set, the google.type.Expr.expression field must contain 1 to 10 subexpressions, joined by the `||` or `&&` operators. Each subexpression must use the `resource.matchTag()`, `resource.matchTagId()`, `resource.hasTagKey()`, or `resource.hasTagKeyId()` Common Expression Language (CEL) function. The `resource.matchTag()` function takes the following arguments: * `key_name`: the namespaced name of the tag key, with the organization ID and a slash (`/`) as a prefix; for example, `123456789012/environment` * `value_name`: the short name of the tag value For example: `resource.matchTag('123456789012/environment, 'prod')` The `resource.matchTagId()` function takes the following arguments: * `key_id`: the permanent ID of the tag key; for example, `tagKeys/123456789012` * `value_id`: the permanent ID of the tag value; for example, `tagValues/567890123456` For example: `resource.matchTagId('tagKeys/123456789012', 'tagValues/567890123456')` The `resource.hasTagKey()` function takes the following argument: * `key_name`: the namespaced name of the tag key, with the organization ID and a slash (`/`) as a prefix; for example, `123456789012/environment` For example: `resource.hasTagKey('123456789012/environment')` The `resource.hasTagKeyId()` function takes the following arguments: * `key_id`: the permanent ID of the tag key; for example, `tagKeys/123456789012` For example: `resource.hasTagKeyId('tagKeys/123456789012')`",
          "$ref": "GoogleTypeExpr"
        },
        "enforce": {
          "type": "boolean",
          "description": "If `true`, then the policy is enforced. If `false`, then any configuration is acceptable. This field can be set in policies for boolean constraints, custom constraints and managed constraints."
        },
        "allowAll": {
          "type": "boolean",
          "description": "Setting this to true means that all values are allowed. This field can be set only in policies for list constraints."
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleCloudOrgpolicyV2ConstraintListConstraint": {
      "id": "GoogleCloudOrgpolicyV2ConstraintListConstraint",
      "type": "object",
      "properties": {
        "supportsUnder": {
          "description": "Indicates whether subtrees of the Resource Manager resource hierarchy can be used in `Policy.allowed_values` and `Policy.denied_values`. For example, `\"under:folders/123\"` would match any resource under the 'folders/123' folder.",
          "type": "boolean"
        },
        "supportsIn": {
          "type": "boolean",
          "description": "Indicates whether values grouped into categories can be used in `Policy.allowed_values` and `Policy.denied_values`. For example, `\"in:Python\"` would match any value in the 'Python' group."
        }
      },
      "description": "A constraint type that allows or disallows a list of string values, which are configured in the `PolicyRule`."
    },
    "GoogleCloudOrgpolicyV2PolicySpecPolicyRuleStringValues": {
      "properties": {
        "allowedValues": {
          "type": "array",
          "description": "List of values allowed at this resource.",
          "items": {
            "type": "string"
          }
        },
        "deniedValues": {
          "type": "array",
          "description": "List of values denied at this resource.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudOrgpolicyV2PolicySpecPolicyRuleStringValues",
      "description": "A message that holds specific allowed and denied values. This message can define specific values and subtrees of the Resource Manager resource hierarchy (`Organizations`, `Folders`, `Projects`) that are allowed or denied. This is achieved by using the `under:` and optional `is:` prefixes. The `under:` prefix is used to denote resource subtree values. The `is:` prefix is used to denote specific values, and is required only if the value contains a \":\". Values prefixed with \"is:\" are treated the same as values with no prefix. Ancestry subtrees must be in one of the following formats: - `projects/` (for example, `projects/tokyo-rain-123`) - `folders/` (for example, `folders/1234`) - `organizations/` (for example, `organizations/1234`) The `supports_under` field of the associated `Constraint` defines whether ancestry prefixes can be used.",
      "type": "object"
    },
    "GoogleCloudOrgpolicyV2ConstraintBooleanConstraint": {
      "id": "GoogleCloudOrgpolicyV2ConstraintBooleanConstraint",
      "description": "A constraint type is enforced or not enforced, which is configured in the `PolicyRule`. If `customConstraintDefinition` is defined, this constraint is a managed constraint.",
      "properties": {
        "customConstraintDefinition": {
          "$ref": "GoogleCloudOrgpolicyV2ConstraintCustomConstraintDefinition",
          "description": "Custom constraint definition. Defines this as a managed constraint."
        }
      },
      "type": "object"
    },
    "GoogleCloudOrgpolicyV2AlternatePolicySpec": {
      "type": "object",
      "description": "Similar to PolicySpec but with an extra 'launch' field for launch reference. The PolicySpec here is specific for dry-run.",
      "id": "GoogleCloudOrgpolicyV2AlternatePolicySpec",
      "properties": {
        "spec": {
          "description": "Specify constraint for configurations of Google Cloud resources.",
          "$ref": "GoogleCloudOrgpolicyV2PolicySpec"
        },
        "launch": {
          "description": "Reference to the launch that will be used while audit logging and to control the launch. Set only in the alternate policy.",
          "type": "string"
        }
      }
    },
    "GoogleCloudOrgpolicyV2Constraint": {
      "type": "object",
      "id": "GoogleCloudOrgpolicyV2Constraint",
      "properties": {
        "displayName": {
          "description": "The human readable name. Mutable.",
          "type": "string"
        },
        "supportsSimulation": {
          "description": "Shows if simulation is supported for this constraint or not.",
          "type": "boolean"
        },
        "equivalentConstraint": {
          "description": "Defines the equivalent constraint name, if it exists. Managed constraints can have an equivalent legacy managed constraint, and legacy managed constraints can have an equivalent managed constraint. For example, \"constraints/iam.disableServiceAccountKeyUpload\" is equivalent to \"constraints/iam.managed.disableServiceAccountKeyUpload\".",
          "type": "string"
        },
        "constraintDefault": {
          "enum": [
            "CONSTRAINT_DEFAULT_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "description": "The evaluation behavior of this constraint in the absence of a policy.",
          "enumDescriptions": [
            "This is only used for distinguishing unset values, and results in an error if set.",
            "Indicate that all values are allowed for list constraints. Indicate that enforcement is off for boolean constraints.",
            "Indicate that all values are denied for list constraints. Indicate that enforcement is on for boolean constraints."
          ],
          "type": "string"
        },
        "name": {
          "description": "Immutable. The resource name of the constraint. Must be in one of the following forms: * `projects/{project_number}/constraints/{constraint_name}` * `folders/{folder_number}/constraints/{constraint_name}` * `organizations/{organization_number}/constraints/{constraint_name}` For example, \"/projects/123/constraints/compute.disableSerialPortAccess\".",
          "type": "string"
        },
        "supportsDryRun": {
          "type": "boolean",
          "description": "Shows if dry run is supported for this constraint or not."
        },
        "booleanConstraint": {
          "description": "Defines this constraint as being a boolean constraint.",
          "$ref": "GoogleCloudOrgpolicyV2ConstraintBooleanConstraint"
        },
        "listConstraint": {
          "description": "Defines this constraint as being a list constraint.",
          "$ref": "GoogleCloudOrgpolicyV2ConstraintListConstraint"
        },
        "description": {
          "description": "Detailed description of what this constraint controls as well as how and where it is enforced. Mutable.",
          "type": "string"
        }
      },
      "description": "A constraint describes a way to restrict a resource's configuration. For example, you could enforce a constraint that controls which Google Cloud services can be activated across an organization, or whether a Compute Engine instance can have serial port connections established. Constraints can be configured by the organization policy administrator to fit the needs of the organization by setting a policy that includes constraints at different locations in the organization's resource hierarchy. Policies are inherited down the resource hierarchy from higher levels, but can also be overridden. For details about the inheritance rules, see `Policy`. Constraints have a default behavior determined by the `constraint_default` field, which is the enforcement behavior that is used in the absence of a policy being defined or inherited for the resource in question."
    },
    "GoogleCloudOrgpolicyV2ConstraintCustomConstraintDefinitionParameterMetadata": {
      "description": "Defines Metadata structure.",
      "properties": {
        "description": {
          "description": "Detailed description of what this `parameter` is and its use. Mutable.",
          "type": "string"
        }
      },
      "id": "GoogleCloudOrgpolicyV2ConstraintCustomConstraintDefinitionParameterMetadata",
      "type": "object"
    },
    "GoogleCloudOrgpolicyV2ListConstraintsResponse": {
      "type": "object",
      "properties": {
        "constraints": {
          "type": "array",
          "description": "The collection of constraints that are available on the targeted resource.",
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2Constraint"
          }
        },
        "nextPageToken": {
          "description": "Page token used to retrieve the next page. This is not used.",
          "type": "string"
        }
      },
      "description": "The response returned from the ListConstraints method.",
      "id": "GoogleCloudOrgpolicyV2ListConstraintsResponse"
    },
    "GoogleCloudOrgpolicyV2ConstraintCustomConstraintDefinition": {
      "properties": {
        "parameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudOrgpolicyV2ConstraintCustomConstraintDefinitionParameter"
          },
          "type": "object",
          "description": "Stores the structure of `Parameters` used by the constraint condition. The key of `map` represents the name of the parameter."
        },
        "methodTypes": {
          "items": {
            "enumDescriptions": [
              "This is only used for distinguishing unset values, and results in an error if used.",
              "Constraint applied when creating the resource.",
              "Constraint applied when updating the resource.",
              "Constraint applied when deleting the resource. Not supported.",
              "Constraint applied when removing an IAM grant.",
              "Constraint applied when enforcing forced tagging."
            ],
            "enum": [
              "METHOD_TYPE_UNSPECIFIED",
              "CREATE",
              "UPDATE",
              "DELETE",
              "REMOVE_GRANT",
              "GOVERN_TAGS"
            ],
            "type": "string"
          },
          "description": "All the operations being applied for this constraint.",
          "type": "array"
        },
        "condition": {
          "description": "Org policy condition/expression. For example: `resource.instanceName.matches(\"(production|test)_(.+_)?[\\d]+\")` or, `resource.management.auto_upgrade == true` The max length of the condition is 1000 characters.",
          "type": "string"
        },
        "actionType": {
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "enumDescriptions": [
            "This is only used for distinguishing unset values, and results in an error if used.",
            "Allowed action type.",
            "Deny action type."
          ],
          "type": "string",
          "description": "Allow or deny type."
        },
        "resourceTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The resource instance type that this policy applies to, in the format `/`. Example: * `compute.googleapis.com/Instance`."
        }
      },
      "id": "GoogleCloudOrgpolicyV2ConstraintCustomConstraintDefinition",
      "description": "Custom constraint definition. Defines this as a managed constraint.",
      "type": "object"
    },
    "GoogleCloudOrgpolicyV2Policy": {
      "properties": {
        "spec": {
          "$ref": "GoogleCloudOrgpolicyV2PolicySpec",
          "description": "Basic information about the organization policy."
        },
        "alternate": {
          "deprecated": true,
          "$ref": "GoogleCloudOrgpolicyV2AlternatePolicySpec",
          "description": "Deprecated."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the policy. Must be one of the following forms, where `constraint_name` is the name of the constraint that this policy configures: * `projects/{project_number}/policies/{constraint_name}` * `folders/{folder_number}/policies/{constraint_name}` * `organizations/{organization_number}/policies/{constraint_name}` For example, `projects/123/policies/compute.disableSerialPortAccess`. Note: `projects/{project_id}/policies/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number."
        },
        "etag": {
          "type": "string",
          "description": "Optional. An opaque tag indicating the current state of the policy, used for concurrency control. This entity tag (ETag) is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "dryRunSpec": {
          "description": "Dry-run policy. Audit-only policy, can be used to monitor how the policy would have impacted the existing and future resources if it's enforced.",
          "$ref": "GoogleCloudOrgpolicyV2PolicySpec"
        }
      },
      "description": "Defines an organization policy that is used to specify constraints for configurations of Google Cloud resources.",
      "type": "object",
      "id": "GoogleCloudOrgpolicyV2Policy"
    },
    "GoogleCloudOrgpolicyV2CustomConstraint": {
      "id": "GoogleCloudOrgpolicyV2CustomConstraint",
      "description": "A custom constraint defined by customers which can *only* be applied to the given resource types and organization. By creating a custom constraint, customers can apply policies of this custom constraint. *Creating a custom constraint itself does NOT apply any policy enforcement*.",
      "properties": {
        "condition": {
          "description": "A Common Expression Language (CEL) condition which is used in the evaluation of the constraint. For example: `resource.instanceName.matches(\"(production|test)_(.+_)?[\\d]+\")` or, `resource.management.auto_upgrade == true` The max length of the condition is 1000 characters.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. Name of the constraint. This is unique within the organization. The name must be of the form: * `organizations/{organization_id}/customConstraints/{custom_constraint_id}` Example: `organizations/123/customConstraints/custom.createOnlyE2TypeVms` The max length is 71 characters and the minimum length is 1. Note that the prefix `organizations/{organization_id}/customConstraints/custom.` is not counted.",
          "type": "string"
        },
        "actionType": {
          "description": "Allow or deny type.",
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "enumDescriptions": [
            "This is only used for distinguishing unset values, and results in an error if used.",
            "Allowed action type.",
            "Deny action type."
          ],
          "type": "string"
        },
        "methodTypes": {
          "description": "All the operations being applied for this constraint.",
          "type": "array",
          "items": {
            "enum": [
              "METHOD_TYPE_UNSPECIFIED",
              "CREATE",
              "UPDATE",
              "DELETE",
              "REMOVE_GRANT",
              "GOVERN_TAGS"
            ],
            "enumDescriptions": [
              "This is only used for distinguishing unset values, and results in an error if used.",
              "Constraint applied when creating the resource.",
              "Constraint applied when updating the resource.",
              "Constraint applied when deleting the resource. Not supported.",
              "Constraint applied when removing an IAM grant.",
              "Constraint applied when enforcing forced tagging."
            ],
            "type": "string"
          }
        },
        "description": {
          "description": "Detailed information about this custom policy constraint. The max length of the description is 2000 characters.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last time this custom constraint was updated. This represents the last time that the `CreateCustomConstraint` or `UpdateCustomConstraint` methods were called."
        },
        "resourceTypes": {
          "type": "array",
          "description": "Immutable. The resource instance type on which this policy applies. Format will be of the form : `/` Example: * `compute.googleapis.com/Instance`.",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "One line display name for the UI. The max length of the display_name is 200 characters."
        }
      },
      "type": "object"
    },
    "GoogleCloudOrgpolicyV2PolicySpec": {
      "type": "object",
      "description": "Defines a Google Cloud policy specification that is used to specify constraints for configurations of Google Cloud resources.",
      "id": "GoogleCloudOrgpolicyV2PolicySpec",
      "properties": {
        "inheritFromParent": {
          "type": "boolean",
          "description": "Determines the inheritance behavior for this policy. If `inherit_from_parent` is true, policy rules set higher up in the hierarchy (up to the closest root) are inherited and present in the effective policy. If it is false, then no rules are inherited, and this policy becomes the new root for evaluation. This field can be set only for policies that configure list constraints."
        },
        "rules": {
          "description": "In policies for boolean constraints, the following requirements apply: - There must be exactly one policy rule where a condition is unset. - Boolean policy rules with conditions must set `enforced` to the opposite of the policy rule without a condition. - During policy evaluation, policy rules with conditions that are true for a target resource take precedence.",
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2PolicySpecPolicyRule"
          },
          "type": "array"
        },
        "reset": {
          "description": "Ignores policies set above this resource and restores the `constraint_default` enforcement behavior of the specific constraint at this resource. This field can be set in policies for either list or boolean constraints. If set, `rules` must be empty and `inherit_from_parent` must be set to false.",
          "type": "boolean"
        },
        "updateTime": {
          "description": "Output only. The time stamp this was previously updated. This represents the last time a call to `CreatePolicy` or `UpdatePolicy` was made for that policy.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "An opaque tag indicating the current version of the policySpec, used for concurrency control. This field is ignored if used in a `CreatePolicy` request. When the policy is returned from either a `GetPolicy` or a `ListPolicies` request, this entity tag (ETag) indicates the version of the current policySpec to use when executing a read-modify-write loop. When the policy is returned from a `GetEffectivePolicy` request, the ETag will be unset."
        }
      }
    },
    "GoogleCloudOrgpolicyV2ListCustomConstraintsResponse": {
      "properties": {
        "customConstraints": {
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
          },
          "type": "array",
          "description": "All custom and managed constraints that exist on the organization resource. It will be empty if no custom constraints are set."
        },
        "nextPageToken": {
          "description": "Page token used to retrieve the next page. This is not used, but the server may at any point start supplying a valid token.",
          "type": "string"
        }
      },
      "description": "The response returned from the ListCustomConstraints method. It will be empty if no custom or managed constraints are set on the organization resource.",
      "id": "GoogleCloudOrgpolicyV2ListCustomConstraintsResponse",
      "type": "object"
    },
    "GoogleTypeExpr": {
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      },
      "id": "GoogleTypeExpr"
    }
  },
  "batchPath": "batch",
  "mtlsRootUrl": "https://orgpolicy.mtls.googleapis.com/",
  "canonicalName": "OrgPolicy API",
  "version": "v2",
  "protocol": "rest",
  "resources": {
    "folders": {
      "resources": {
        "constraints": {
          "methods": {
            "list": {
              "description": "Lists constraints that could be applied on the specified resource.",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^folders/[^/]+$",
                  "description": "Required. The Google Cloud resource that parents the constraint. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_number}` * `organizations/{organization_number}`",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Page token used to retrieve the next page. This is not used, but the server may at any point start using this field.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Size of the pages to be returned. This is not used, but the server may at any point start using this field to limit page size."
                }
              },
              "flatPath": "v2/folders/{foldersId}/constraints",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy",
                "https://www.googleapis.com/auth/organizationpolicy.readonly"
              ],
              "path": "v2/{+parent}/constraints",
              "id": "orgpolicy.folders.constraints.list",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListConstraintsResponse"
              }
            }
          }
        },
        "policies": {
          "methods": {
            "create": {
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "path": "v2/{+parent}/policies",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "description": "Creates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ALREADY_EXISTS` if the policy already exists on the given Google Cloud resource.",
              "flatPath": "v2/folders/{foldersId}/policies",
              "id": "orgpolicy.folders.policies.create",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^folders/[^/]+$",
                  "description": "Required. The Google Cloud resource that will parent the new policy. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_number}` * `organizations/{organization_number}`",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy"
              ],
              "httpMethod": "POST"
            },
            "getEffectivePolicy": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy",
                "https://www.googleapis.com/auth/organizationpolicy.readonly"
              ],
              "path": "v2/{+name}:getEffectivePolicy",
              "description": "Gets the effective policy on a resource. This is the result of merging policies in the resource hierarchy and evaluating conditions. The returned policy will not have an ETag or `condition` set because it is an evaluated policy across multiple resources. Subtrees of Resource Manager resource hierarchy with 'under:' prefix will not be expanded.",
              "id": "orgpolicy.folders.policies.getEffectivePolicy",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "flatPath": "v2/folders/{foldersId}/policies/{policiesId}:getEffectivePolicy",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^folders/[^/]+/policies/[^/]+$",
                  "description": "Required. The effective policy to compute. See Policy for naming requirements."
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy"
              ],
              "path": "v2/{+name}",
              "description": "Updates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or the policy doesn't exist. Returns a `google.rpc.Status` with `google.rpc.Code.ABORTED` if the ETag supplied in the request doesn't match the persisted ETag of the policy. Note: the supplied policy will perform a full overwrite of all fields.",
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "httpMethod": "PATCH",
              "flatPath": "v2/folders/{foldersId}/policies/{policiesId}",
              "parameterOrder": [
                "name"
              ],
              "id": "orgpolicy.folders.policies.patch",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Immutable. The resource name of the policy. Must be one of the following forms, where `constraint_name` is the name of the constraint that this policy configures: * `projects/{project_number}/policies/{constraint_name}` * `folders/{folder_number}/policies/{constraint_name}` * `organizations/{organization_number}/policies/{constraint_name}` For example, `projects/123/policies/compute.disableSerialPortAccess`. Note: `projects/{project_id}/policies/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number.",
                  "pattern": "^folders/[^/]+/policies/[^/]+$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Field mask used to specify the fields to be overwritten in the policy. The fields specified in the update_mask are relative to the policy, not the full request.",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "get": {
              "description": "Gets a policy on a resource. If no policy is set on the resource, `NOT_FOUND` is returned. The entity tag (ETag) can be used with `UpdatePolicy()` to update a policy during read-modify-write.",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "id": "orgpolicy.folders.policies.get",
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/policies/[^/]+$",
                  "required": true,
                  "description": "Required. Resource name of the policy. See Policy for naming requirements.",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy",
                "https://www.googleapis.com/auth/organizationpolicy.readonly"
              ],
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/folders/{foldersId}/policies/{policiesId}"
            },
            "list": {
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListPoliciesResponse"
              },
              "path": "v2/{+parent}/policies",
              "id": "orgpolicy.folders.policies.list",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^folders/[^/]+$",
                  "description": "Required. The target Google Cloud resource that parents the set of constraints and policies that will be returned from this call. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_number}` * `organizations/{organization_number}`",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Page token used to retrieve the next page. This is not used, but the server may at any point start using this field.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Size of the pages to be returned. This is not used, but the server may at any point start using this field to limit page size.",
                  "location": "query",
                  "type": "integer"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy",
                "https://www.googleapis.com/auth/organizationpolicy.readonly"
              ],
              "description": "Retrieves all of the policies that exist on a particular resource.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/folders/{foldersId}/policies",
              "httpMethod": "GET"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy"
              ],
              "description": "Deletes a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or organization policy does not exist.",
              "id": "orgpolicy.folders.policies.delete",
              "path": "v2/{+name}",
              "flatPath": "v2/folders/{foldersId}/policies/{policiesId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. Name of the policy to delete. See the policy entry for naming rules.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^folders/[^/]+/policies/[^/]+$",
                  "required": true
                },
                "etag": {
                  "type": "string",
                  "description": "Optional. The current entity tag (ETag) of the organization policy. If an ETag is provided and doesn't match the current ETag of the policy, deletion of the policy will be blocked and an `ABORTED` error will be returned.",
                  "location": "query"
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "policies": {
          "methods": {
            "getEffectivePolicy": {
              "flatPath": "v2/organizations/{organizationsId}/policies/{policiesId}:getEffectivePolicy",
              "path": "v2/{+name}:getEffectivePolicy",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the effective policy on a resource. This is the result of merging policies in the resource hierarchy and evaluating conditions. The returned policy will not have an ETag or `condition` set because it is an evaluated policy across multiple resources. Subtrees of Resource Manager resource hierarchy with 'under:' prefix will not be expanded.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy",
                "https://www.googleapis.com/auth/organizationpolicy.readonly"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The effective policy to compute. See Policy for naming requirements.",
                  "pattern": "^organizations/[^/]+/policies/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "orgpolicy.organizations.policies.getEffectivePolicy",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              }
            },
            "list": {
              "path": "v2/{+parent}/policies",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy",
                "https://www.googleapis.com/auth/organizationpolicy.readonly"
              ],
              "id": "orgpolicy.organizations.policies.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "Retrieves all of the policies that exist on a particular resource.",
              "flatPath": "v2/organizations/{organizationsId}/policies",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListPoliciesResponse"
              },
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Page token used to retrieve the next page. This is not used, but the server may at any point start using this field.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The target Google Cloud resource that parents the set of constraints and policies that will be returned from this call. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_number}` * `organizations/{organization_number}`",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "Size of the pages to be returned. This is not used, but the server may at any point start using this field to limit page size.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              }
            },
            "create": {
              "parameters": {
                "parent": {
                  "description": "Required. The Google Cloud resource that will parent the new policy. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_number}` * `organizations/{organization_number}`",
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true
                }
              },
              "id": "orgpolicy.organizations.policies.create",
              "httpMethod": "POST",
              "description": "Creates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ALREADY_EXISTS` if the policy already exists on the given Google Cloud resource.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "flatPath": "v2/organizations/{organizationsId}/policies",
              "path": "v2/{+parent}/policies",
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy"
              ]
            },
            "get": {
              "flatPath": "v2/organizations/{organizationsId}/policies/{policiesId}",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the policy. See Policy for naming requirements.",
                  "pattern": "^organizations/[^/]+/policies/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy",
                "https://www.googleapis.com/auth/organizationpolicy.readonly"
              ],
              "description": "Gets a policy on a resource. If no policy is set on the resource, `NOT_FOUND` is returned. The entity tag (ETag) can be used with `UpdatePolicy()` to update a policy during read-modify-write.",
              "httpMethod": "GET",
              "id": "orgpolicy.organizations.policies.get",
              "path": "v2/{+name}",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              }
            },
            "patch": {
              "flatPath": "v2/organizations/{organizationsId}/policies/{policiesId}",
              "description": "Updates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or the policy doesn't exist. Returns a `google.rpc.Status` with `google.rpc.Code.ABORTED` if the ETag supplied in the request doesn't match the persisted ETag of the policy. Note: the supplied policy will perform a full overwrite of all fields.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "path": "v2/{+name}",
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Immutable. The resource name of the policy. Must be one of the following forms, where `constraint_name` is the name of the constraint that this policy configures: * `projects/{project_number}/policies/{constraint_name}` * `folders/{folder_number}/policies/{constraint_name}` * `organizations/{organization_number}/policies/{constraint_name}` For example, `projects/123/policies/compute.disableSerialPortAccess`. Note: `projects/{project_id}/policies/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number.",
                  "pattern": "^organizations/[^/]+/policies/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Field mask used to specify the fields to be overwritten in the policy. The fields specified in the update_mask are relative to the policy, not the full request."
                }
              },
              "id": "orgpolicy.organizations.policies.patch",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              }
            },
            "delete": {
              "flatPath": "v2/organizations/{organizationsId}/policies/{policiesId}",
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy"
              ],
              "id": "orgpolicy.organizations.policies.delete",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. Name of the policy to delete. See the policy entry for naming rules.",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/policies/[^/]+$"
                },
                "etag": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The current entity tag (ETag) of the organization policy. If an ETag is provided and doesn't match the current ETag of the policy, deletion of the policy will be blocked and an `ABORTED` error will be returned."
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or organization policy does not exist."
            }
          }
        },
        "constraints": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Page token used to retrieve the next page. This is not used, but the server may at any point start using this field.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The Google Cloud resource that parents the constraint. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_number}` * `organizations/{organization_number}`",
                  "pattern": "^organizations/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "description": "Size of the pages to be returned. This is not used, but the server may at any point start using this field to limit page size.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "flatPath": "v2/organizations/{organizationsId}/constraints",
              "httpMethod": "GET",
              "path": "v2/{+parent}/constraints",
              "description": "Lists constraints that could be applied on the specified resource.",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListConstraintsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy",
                "https://www.googleapis.com/auth/organizationpolicy.readonly"
              ],
              "id": "orgpolicy.organizations.constraints.list"
            }
          }
        },
        "customConstraints": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListCustomConstraintsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Retrieves all of the custom constraints that exist on a particular organization resource.",
              "path": "v2/{+parent}/customConstraints",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy",
                "https://www.googleapis.com/auth/organizationpolicy.readonly"
              ],
              "id": "orgpolicy.organizations.customConstraints.list",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "Size of the pages to be returned. This is not used, but the server may at any point start using this field to limit page size.",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Page token used to retrieve the next page. This is not used, but the server may at any point start using this field.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "description": "Required. The target Google Cloud resource that parents the set of custom constraints that will be returned from this call. Must be in one of the following forms: * `organizations/{organization_id}`",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v2/organizations/{organizationsId}/customConstraints"
            },
            "delete": {
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy"
              ],
              "httpMethod": "DELETE",
              "id": "orgpolicy.organizations.customConstraints.delete",
              "flatPath": "v2/organizations/{organizationsId}/customConstraints/{customConstraintsId}",
              "parameters": {
                "name": {
                  "description": "Required. Name of the custom constraint to delete. See the custom constraint entry for naming rules.",
                  "pattern": "^organizations/[^/]+/customConstraints/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Deletes a custom constraint. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist."
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy",
                "https://www.googleapis.com/auth/organizationpolicy.readonly"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              },
              "description": "Gets a custom or managed constraint. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the custom or managed constraint does not exist.",
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}",
              "id": "orgpolicy.organizations.customConstraints.get",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/customConstraints/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Resource name of the custom or managed constraint. See the custom constraint entry for naming requirements."
                }
              },
              "httpMethod": "GET",
              "flatPath": "v2/organizations/{organizationsId}/customConstraints/{customConstraintsId}"
            },
            "patch": {
              "path": "v2/{+name}",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "id": "orgpolicy.organizations.customConstraints.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/customConstraints/[^/]+$",
                  "description": "Immutable. Name of the constraint. This is unique within the organization. The name must be of the form: * `organizations/{organization_id}/customConstraints/{custom_constraint_id}` Example: `organizations/123/customConstraints/custom.createOnlyE2TypeVms` The max length is 71 characters and the minimum length is 1. Note that the prefix `organizations/{organization_id}/customConstraints/custom.` is not counted.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              },
              "flatPath": "v2/organizations/{organizationsId}/customConstraints/{customConstraintsId}",
              "description": "Updates a custom constraint. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist. Note: the supplied policy will perform a full overwrite of all fields."
            },
            "create": {
              "flatPath": "v2/organizations/{organizationsId}/customConstraints",
              "path": "v2/{+parent}/customConstraints",
              "id": "orgpolicy.organizations.customConstraints.create",
              "description": "Creates a custom constraint. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the organization does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ALREADY_EXISTS` if the constraint already exists on the given organization.",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "description": "Required. Must be in the following form: * `organizations/{organization_id}`"
                }
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "constraints": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy",
                "https://www.googleapis.com/auth/organizationpolicy.readonly"
              ],
              "id": "orgpolicy.projects.constraints.list",
              "httpMethod": "GET",
              "description": "Lists constraints that could be applied on the specified resource.",
              "parameters": {
                "pageSize": {
                  "description": "Size of the pages to be returned. This is not used, but the server may at any point start using this field to limit page size.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Page token used to retrieve the next page. This is not used, but the server may at any point start using this field."
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The Google Cloud resource that parents the constraint. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_number}` * `organizations/{organization_number}`",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListConstraintsResponse"
              },
              "flatPath": "v2/projects/{projectsId}/constraints",
              "parameterOrder": [
                "parent"
              ],
              "path": "v2/{+parent}/constraints"
            }
          }
        },
        "policies": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "id": "orgpolicy.projects.policies.get",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the policy. See Policy for naming requirements.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/policies/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy",
                "https://www.googleapis.com/auth/organizationpolicy.readonly"
              ],
              "flatPath": "v2/projects/{projectsId}/policies/{policiesId}",
              "path": "v2/{+name}",
              "description": "Gets a policy on a resource. If no policy is set on the resource, `NOT_FOUND` is returned. The entity tag (ETag) can be used with `UpdatePolicy()` to update a policy during read-modify-write."
            },
            "list": {
              "description": "Retrieves all of the policies that exist on a particular resource.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/projects/{projectsId}/policies",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListPoliciesResponse"
              },
              "httpMethod": "GET",
              "id": "orgpolicy.projects.policies.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy",
                "https://www.googleapis.com/auth/organizationpolicy.readonly"
              ],
              "path": "v2/{+parent}/policies",
              "parameters": {
                "pageSize": {
                  "description": "Size of the pages to be returned. This is not used, but the server may at any point start using this field to limit page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Page token used to retrieve the next page. This is not used, but the server may at any point start using this field.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The target Google Cloud resource that parents the set of constraints and policies that will be returned from this call. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_number}` * `organizations/{organization_number}`",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "delete": {
              "flatPath": "v2/projects/{projectsId}/policies/{policiesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or organization policy does not exist.",
              "id": "orgpolicy.projects.policies.delete",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. Name of the policy to delete. See the policy entry for naming rules.",
                  "pattern": "^projects/[^/]+/policies/[^/]+$"
                },
                "etag": {
                  "location": "query",
                  "description": "Optional. The current entity tag (ETag) of the organization policy. If an ETag is provided and doesn't match the current ETag of the policy, deletion of the policy will be blocked and an `ABORTED` error will be returned.",
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}"
            },
            "getEffectivePolicy": {
              "path": "v2/{+name}:getEffectivePolicy",
              "httpMethod": "GET",
              "description": "Gets the effective policy on a resource. This is the result of merging policies in the resource hierarchy and evaluating conditions. The returned policy will not have an ETag or `condition` set because it is an evaluated policy across multiple resources. Subtrees of Resource Manager resource hierarchy with 'under:' prefix will not be expanded.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/policies/[^/]+$",
                  "description": "Required. The effective policy to compute. See Policy for naming requirements.",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "orgpolicy.projects.policies.getEffectivePolicy",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "flatPath": "v2/projects/{projectsId}/policies/{policiesId}:getEffectivePolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy",
                "https://www.googleapis.com/auth/organizationpolicy.readonly"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ALREADY_EXISTS` if the policy already exists on the given Google Cloud resource.",
              "flatPath": "v2/projects/{projectsId}/policies",
              "id": "orgpolicy.projects.policies.create",
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The Google Cloud resource that will parent the new policy. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_number}` * `organizations/{organization_number}`",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "path": "v2/{+parent}/policies",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              }
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "id": "orgpolicy.projects.policies.patch",
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "path": "v2/{+name}",
              "httpMethod": "PATCH",
              "flatPath": "v2/projects/{projectsId}/policies/{policiesId}",
              "parameters": {
                "updateMask": {
                  "description": "Field mask used to specify the fields to be overwritten in the policy. The fields specified in the update_mask are relative to the policy, not the full request.",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/policies/[^/]+$",
                  "description": "Immutable. The resource name of the policy. Must be one of the following forms, where `constraint_name` is the name of the constraint that this policy configures: * `projects/{project_number}/policies/{constraint_name}` * `folders/{folder_number}/policies/{constraint_name}` * `organizations/{organization_number}/policies/{constraint_name}` For example, `projects/123/policies/compute.disableSerialPortAccess`. Note: `projects/{project_id}/policies/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number.",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Updates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or the policy doesn't exist. Returns a `google.rpc.Status` with `google.rpc.Code.ABORTED` if the ETag supplied in the request doesn't match the persisted ETag of the policy. Note: the supplied policy will perform a full overwrite of all fields."
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://orgpolicy.googleapis.com/",
  "revision": "20260910",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://orgpolicy.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/organizationpolicy": {
          "description": "See, edit, configure, and delete your Google Cloud Organization Policy data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/organizationpolicy.readonly": {
          "description": "See your Google Cloud Organization Policy data and the email address of your Google Account"
        }
      }
    }
  }
}