{
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/organizationpolicy": {
          "description": "See, edit, configure, and delete your Google Cloud Organization Policy data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/organizationpolicy.readonly": {
          "description": "See your Google Cloud Organization Policy data and the email address of your Google Account"
        }
      }
    }
  },
  "servicePath": "",
  "version_module": true,
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "baseUrl": "https://orgpolicy.googleapis.com/",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "id": "orgpolicy:v2",
  "canonicalName": "OrgPolicy API",
  "basePath": "",
  "name": "orgpolicy",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    }
  },
  "title": "Organization Policy API",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "folders": {
      "resources": {
        "policies": {
          "methods": {
            "create": {
              "flatPath": "v2/folders/{foldersId}/policies",
              "description": "Creates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ALREADY_EXISTS` if the policy already exists on the given Google Cloud resource.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v2/{+parent}/policies",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The Google Cloud resource that will parent the new policy. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_number}` * `organizations/{organization_number}`",
                  "pattern": "^folders/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "id": "orgpolicy.folders.policies.create",
              "httpMethod": "POST"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "flatPath": "v2/folders/{foldersId}/policies/{policiesId}",
              "httpMethod": "GET",
              "id": "orgpolicy.folders.policies.get",
              "description": "Gets a policy on a resource. If no policy is set on the resource, `NOT_FOUND` is returned. The entity tag (ETag) can be used with `UpdatePolicy()` to update a policy during read-modify-write.",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the policy. See Policy for naming requirements.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^folders/[^/]+/policies/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy",
                "https://www.googleapis.com/auth/organizationpolicy.readonly"
              ],
              "path": "v2/{+name}"
            },
            "list": {
              "path": "v2/{+parent}/policies",
              "id": "orgpolicy.folders.policies.list",
              "description": "Retrieves all of the policies that exist on a particular resource.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy",
                "https://www.googleapis.com/auth/organizationpolicy.readonly"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListPoliciesResponse"
              },
              "flatPath": "v2/folders/{foldersId}/policies",
              "parameters": {
                "parent": {
                  "pattern": "^folders/[^/]+$",
                  "description": "Required. The target Google Cloud resource that parents the set of constraints and policies that will be returned from this call. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_number}` * `organizations/{organization_number}`",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Size of the pages to be returned. This is not used, but the server may at any point start using this field to limit page size.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Page token used to retrieve the next page. This is not used, but the server may at any point start using this field."
                }
              }
            },
            "patch": {
              "description": "Updates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or the policy doesn't exist. Returns a `google.rpc.Status` with `google.rpc.Code.ABORTED` if the ETag supplied in the request doesn't match the persisted ETag of the policy. Note: the supplied policy will perform a full overwrite of all fields.",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "orgpolicy.folders.policies.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy"
              ],
              "flatPath": "v2/folders/{foldersId}/policies/{policiesId}",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Immutable. The resource name of the policy. Must be one of the following forms, where `constraint_name` is the name of the constraint that this policy configures: * `projects/{project_number}/policies/{constraint_name}` * `folders/{folder_number}/policies/{constraint_name}` * `organizations/{organization_number}/policies/{constraint_name}` For example, `projects/123/policies/compute.disableSerialPortAccess`. Note: `projects/{project_id}/policies/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number.",
                  "type": "string",
                  "pattern": "^folders/[^/]+/policies/[^/]+$"
                },
                "updateMask": {
                  "location": "query",
                  "description": "Field mask used to specify the fields to be overwritten in the policy. The fields specified in the update_mask are relative to the policy, not the full request.",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "path": "v2/{+name}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              }
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "path": "v2/{+name}",
              "id": "orgpolicy.folders.policies.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy"
              ],
              "flatPath": "v2/folders/{foldersId}/policies/{policiesId}",
              "description": "Deletes a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or organization policy does not exist.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the policy to delete. See the policy entry for naming rules.",
                  "pattern": "^folders/[^/]+/policies/[^/]+$"
                },
                "etag": {
                  "description": "Optional. The current entity tag (ETag) of the organization policy. If an ETag is provided and doesn't match the current ETag of the policy, deletion of the policy will be blocked and an `ABORTED` error will be returned.",
                  "type": "string",
                  "location": "query"
                }
              }
            },
            "getEffectivePolicy": {
              "description": "Gets the effective policy on a resource. This is the result of merging policies in the resource hierarchy and evaluating conditions. The returned policy will not have an ETag or `condition` set because it is an evaluated policy across multiple resources. Subtrees of Resource Manager resource hierarchy with 'under:' prefix will not be expanded.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy",
                "https://www.googleapis.com/auth/organizationpolicy.readonly"
              ],
              "httpMethod": "GET",
              "id": "orgpolicy.folders.policies.getEffectivePolicy",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "path": "v2/{+name}:getEffectivePolicy",
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/policies/[^/]+$",
                  "description": "Required. The effective policy to compute. See Policy for naming requirements.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v2/folders/{foldersId}/policies/{policiesId}:getEffectivePolicy"
            }
          }
        },
        "constraints": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy",
                "https://www.googleapis.com/auth/organizationpolicy.readonly"
              ],
              "description": "Lists constraints that could be applied on the specified resource.",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Page token used to retrieve the next page. This is not used, but the server may at any point start using this field.",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The Google Cloud resource that parents the constraint. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_number}` * `organizations/{organization_number}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^folders/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Size of the pages to be returned. This is not used, but the server may at any point start using this field to limit page size."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v2/{+parent}/constraints",
              "flatPath": "v2/folders/{foldersId}/constraints",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListConstraintsResponse"
              },
              "id": "orgpolicy.folders.constraints.list",
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "constraints": {
          "methods": {
            "list": {
              "description": "Lists constraints that could be applied on the specified resource.",
              "httpMethod": "GET",
              "id": "orgpolicy.organizations.constraints.list",
              "path": "v2/{+parent}/constraints",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy",
                "https://www.googleapis.com/auth/organizationpolicy.readonly"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "description": "Required. The Google Cloud resource that parents the constraint. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_number}` * `organizations/{organization_number}`",
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Size of the pages to be returned. This is not used, but the server may at any point start using this field to limit page size.",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Page token used to retrieve the next page. This is not used, but the server may at any point start using this field."
                }
              },
              "flatPath": "v2/organizations/{organizationsId}/constraints",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListConstraintsResponse"
              }
            }
          }
        },
        "customConstraints": {
          "methods": {
            "get": {
              "path": "v2/{+name}",
              "flatPath": "v2/organizations/{organizationsId}/customConstraints/{customConstraintsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "orgpolicy.organizations.customConstraints.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy",
                "https://www.googleapis.com/auth/organizationpolicy.readonly"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Resource name of the custom or managed constraint. See the custom constraint entry for naming requirements.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/customConstraints/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Gets a custom or managed constraint. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the custom or managed constraint does not exist."
            },
            "list": {
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListCustomConstraintsResponse"
              },
              "path": "v2/{+parent}/customConstraints",
              "httpMethod": "GET",
              "flatPath": "v2/organizations/{organizationsId}/customConstraints",
              "description": "Retrieves all of the custom constraints that exist on a particular organization resource.",
              "id": "orgpolicy.organizations.customConstraints.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The target Google Cloud resource that parents the set of custom constraints that will be returned from this call. Must be in one of the following forms: * `organizations/{organization_id}`",
                  "pattern": "^organizations/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Page token used to retrieve the next page. This is not used, but the server may at any point start using this field.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Size of the pages to be returned. This is not used, but the server may at any point start using this field to limit page size."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy",
                "https://www.googleapis.com/auth/organizationpolicy.readonly"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              },
              "id": "orgpolicy.organizations.customConstraints.create",
              "description": "Creates a custom constraint. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the organization does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ALREADY_EXISTS` if the constraint already exists on the given organization.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              },
              "path": "v2/{+parent}/customConstraints",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. Must be in the following form: * `organizations/{organization_id}`",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v2/organizations/{organizationsId}/customConstraints"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a custom constraint. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist.",
              "httpMethod": "DELETE",
              "id": "orgpolicy.organizations.customConstraints.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy"
              ],
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/customConstraints/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the custom constraint to delete. See the custom constraint entry for naming rules.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v2/{+name}",
              "flatPath": "v2/organizations/{organizationsId}/customConstraints/{customConstraintsId}"
            },
            "patch": {
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/customConstraints/[^/]+$",
                  "description": "Immutable. Name of the constraint. This is unique within the organization. The name must be of the form: * `organizations/{organization_id}/customConstraints/{custom_constraint_id}` Example: `organizations/123/customConstraints/custom.createOnlyE2TypeVms` The max length is 71 characters and the minimum length is 1. Note that the prefix `organizations/{organization_id}/customConstraints/custom.` is not counted.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy"
              ],
              "path": "v2/{+name}",
              "description": "Updates a custom constraint. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist. Note: the supplied policy will perform a full overwrite of all fields.",
              "flatPath": "v2/organizations/{organizationsId}/customConstraints/{customConstraintsId}",
              "httpMethod": "PATCH",
              "id": "orgpolicy.organizations.customConstraints.patch",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
              }
            }
          }
        },
        "policies": {
          "methods": {
            "getEffectivePolicy": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "orgpolicy.organizations.policies.getEffectivePolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy",
                "https://www.googleapis.com/auth/organizationpolicy.readonly"
              ],
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/policies/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The effective policy to compute. See Policy for naming requirements."
                }
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "description": "Gets the effective policy on a resource. This is the result of merging policies in the resource hierarchy and evaluating conditions. The returned policy will not have an ETag or `condition` set because it is an evaluated policy across multiple resources. Subtrees of Resource Manager resource hierarchy with 'under:' prefix will not be expanded.",
              "path": "v2/{+name}:getEffectivePolicy",
              "flatPath": "v2/organizations/{organizationsId}/policies/{policiesId}:getEffectivePolicy"
            },
            "delete": {
              "parameters": {
                "etag": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The current entity tag (ETag) of the organization policy. If an ETag is provided and doesn't match the current ETag of the policy, deletion of the policy will be blocked and an `ABORTED` error will be returned."
                },
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/policies/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. Name of the policy to delete. See the policy entry for naming rules."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "orgpolicy.organizations.policies.delete",
              "description": "Deletes a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or organization policy does not exist.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE",
              "flatPath": "v2/organizations/{organizationsId}/policies/{policiesId}",
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy"
              ]
            },
            "list": {
              "flatPath": "v2/organizations/{organizationsId}/policies",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListPoliciesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy",
                "https://www.googleapis.com/auth/organizationpolicy.readonly"
              ],
              "path": "v2/{+parent}/policies",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Size of the pages to be returned. This is not used, but the server may at any point start using this field to limit page size."
                },
                "parent": {
                  "description": "Required. The target Google Cloud resource that parents the set of constraints and policies that will be returned from this call. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_number}` * `organizations/{organization_number}`",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Page token used to retrieve the next page. This is not used, but the server may at any point start using this field."
                }
              },
              "description": "Retrieves all of the policies that exist on a particular resource.",
              "parameterOrder": [
                "parent"
              ],
              "id": "orgpolicy.organizations.policies.list"
            },
            "patch": {
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "flatPath": "v2/organizations/{organizationsId}/policies/{policiesId}",
              "description": "Updates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or the policy doesn't exist. Returns a `google.rpc.Status` with `google.rpc.Code.ABORTED` if the ETag supplied in the request doesn't match the persisted ETag of the policy. Note: the supplied policy will perform a full overwrite of all fields.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy"
              ],
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "path": "v2/{+name}",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query",
                  "description": "Field mask used to specify the fields to be overwritten in the policy. The fields specified in the update_mask are relative to the policy, not the full request."
                },
                "name": {
                  "pattern": "^organizations/[^/]+/policies/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Immutable. The resource name of the policy. Must be one of the following forms, where `constraint_name` is the name of the constraint that this policy configures: * `projects/{project_number}/policies/{constraint_name}` * `folders/{folder_number}/policies/{constraint_name}` * `organizations/{organization_number}/policies/{constraint_name}` For example, `projects/123/policies/compute.disableSerialPortAccess`. Note: `projects/{project_id}/policies/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number.",
                  "type": "string"
                }
              },
              "id": "orgpolicy.organizations.policies.patch"
            },
            "create": {
              "httpMethod": "POST",
              "flatPath": "v2/organizations/{organizationsId}/policies",
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "description": "Creates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ALREADY_EXISTS` if the policy already exists on the given Google Cloud resource.",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The Google Cloud resource that will parent the new policy. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_number}` * `organizations/{organization_number}`",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "orgpolicy.organizations.policies.create",
              "path": "v2/{+parent}/policies",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy"
              ]
            },
            "get": {
              "id": "orgpolicy.organizations.policies.get",
              "path": "v2/{+name}",
              "httpMethod": "GET",
              "description": "Gets a policy on a resource. If no policy is set on the resource, `NOT_FOUND` is returned. The entity tag (ETag) can be used with `UpdatePolicy()` to update a policy during read-modify-write.",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/organizations/{organizationsId}/policies/{policiesId}",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/policies/[^/]+$",
                  "description": "Required. Resource name of the policy. See Policy for naming requirements.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy",
                "https://www.googleapis.com/auth/organizationpolicy.readonly"
              ]
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "constraints": {
          "methods": {
            "list": {
              "flatPath": "v2/projects/{projectsId}/constraints",
              "description": "Lists constraints that could be applied on the specified resource.",
              "httpMethod": "GET",
              "id": "orgpolicy.projects.constraints.list",
              "path": "v2/{+parent}/constraints",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListConstraintsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy",
                "https://www.googleapis.com/auth/organizationpolicy.readonly"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Size of the pages to be returned. This is not used, but the server may at any point start using this field to limit page size.",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Page token used to retrieve the next page. This is not used, but the server may at any point start using this field."
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The Google Cloud resource that parents the constraint. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_number}` * `organizations/{organization_number}`"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "policies": {
          "methods": {
            "getEffectivePolicy": {
              "path": "v2/{+name}:getEffectivePolicy",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy",
                "https://www.googleapis.com/auth/organizationpolicy.readonly"
              ],
              "flatPath": "v2/projects/{projectsId}/policies/{policiesId}:getEffectivePolicy",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The effective policy to compute. See Policy for naming requirements.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/policies/[^/]+$"
                }
              },
              "id": "orgpolicy.projects.policies.getEffectivePolicy",
              "description": "Gets the effective policy on a resource. This is the result of merging policies in the resource hierarchy and evaluating conditions. The returned policy will not have an ETag or `condition` set because it is an evaluated policy across multiple resources. Subtrees of Resource Manager resource hierarchy with 'under:' prefix will not be expanded.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "flatPath": "v2/projects/{projectsId}/policies",
              "parameters": {
                "parent": {
                  "description": "Required. The Google Cloud resource that will parent the new policy. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_number}` * `organizations/{organization_number}`",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy"
              ],
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "path": "v2/{+parent}/policies",
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "description": "Creates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint does not exist. Returns a `google.rpc.Status` with `google.rpc.Code.ALREADY_EXISTS` if the policy already exists on the given Google Cloud resource.",
              "httpMethod": "POST",
              "id": "orgpolicy.projects.policies.create",
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}",
              "description": "Updates a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or the policy doesn't exist. Returns a `google.rpc.Status` with `google.rpc.Code.ABORTED` if the ETag supplied in the request doesn't match the persisted ETag of the policy. Note: the supplied policy will perform a full overwrite of all fields.",
              "parameters": {
                "name": {
                  "description": "Immutable. The resource name of the policy. Must be one of the following forms, where `constraint_name` is the name of the constraint that this policy configures: * `projects/{project_number}/policies/{constraint_name}` * `folders/{folder_number}/policies/{constraint_name}` * `organizations/{organization_number}/policies/{constraint_name}` For example, `projects/123/policies/compute.disableSerialPortAccess`. Note: `projects/{project_id}/policies/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/policies/[^/]+$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query",
                  "description": "Field mask used to specify the fields to be overwritten in the policy. The fields specified in the update_mask are relative to the policy, not the full request."
                }
              },
              "flatPath": "v2/projects/{projectsId}/policies/{policiesId}",
              "id": "orgpolicy.projects.policies.patch",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy"
              ],
              "request": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              }
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/policies/[^/]+$",
                  "description": "Required. Name of the policy to delete. See the policy entry for naming rules.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "etag": {
                  "location": "query",
                  "description": "Optional. The current entity tag (ETag) of the organization policy. If an ETag is provided and doesn't match the current ETag of the policy, deletion of the policy will be blocked and an `ABORTED` error will be returned.",
                  "type": "string"
                }
              },
              "description": "Deletes a policy. Returns a `google.rpc.Status` with `google.rpc.Code.NOT_FOUND` if the constraint or organization policy does not exist.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy"
              ],
              "httpMethod": "DELETE",
              "flatPath": "v2/projects/{projectsId}/policies/{policiesId}",
              "id": "orgpolicy.projects.policies.delete"
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Size of the pages to be returned. This is not used, but the server may at any point start using this field to limit page size."
                },
                "pageToken": {
                  "description": "Page token used to retrieve the next page. This is not used, but the server may at any point start using this field.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The target Google Cloud resource that parents the set of constraints and policies that will be returned from this call. Must be in one of the following forms: * `projects/{project_number}` * `projects/{project_id}` * `folders/{folder_number}` * `organizations/{organization_number}`",
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v2/{+parent}/policies",
              "httpMethod": "GET",
              "id": "orgpolicy.projects.policies.list",
              "flatPath": "v2/projects/{projectsId}/policies",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy",
                "https://www.googleapis.com/auth/organizationpolicy.readonly"
              ],
              "description": "Retrieves all of the policies that exist on a particular resource.",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2ListPoliciesResponse"
              }
            },
            "get": {
              "flatPath": "v2/projects/{projectsId}/policies/{policiesId}",
              "description": "Gets a policy on a resource. If no policy is set on the resource, `NOT_FOUND` is returned. The entity tag (ETag) can be used with `UpdatePolicy()` to update a policy during read-modify-write.",
              "response": {
                "$ref": "GoogleCloudOrgpolicyV2Policy"
              },
              "httpMethod": "GET",
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/organizationpolicy",
                "https://www.googleapis.com/auth/organizationpolicy.readonly"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/policies/[^/]+$",
                  "location": "path",
                  "description": "Required. Resource name of the policy. See Policy for naming requirements.",
                  "type": "string"
                }
              },
              "id": "orgpolicy.projects.policies.get",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/orgpolicy/docs/reference/rest/index.html",
  "version": "v2",
  "revision": "20260917",
  "rootUrl": "https://orgpolicy.googleapis.com/",
  "description": "The Organization Policy API allows users to configure governance rules on their Google Cloud resources across the resource hierarchy.",
  "schemas": {
    "GoogleTypeExpr": {
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "id": "GoogleTypeExpr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "GoogleCloudOrgpolicyV2ConstraintCustomConstraintDefinitionParameter": {
      "description": "Defines a parameter structure.",
      "properties": {
        "validValuesExpr": {
          "description": "Provides a CEL expression to specify the acceptable parameter values during assignment. For example, parameterName in (\"parameterValue1\", \"parameterValue2\").",
          "type": "string"
        },
        "item": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "LIST",
            "STRING",
            "BOOLEAN"
          ],
          "enumDescriptions": [
            "This is only used for distinguishing unset values, and results in an error if used.",
            "List parameter type.",
            "String parameter type.",
            "Boolean parameter type."
          ],
          "description": "Determines the parameter's value structure. For example, `LIST` can be specified by defining `type: LIST`, and `item: STRING`.",
          "type": "string"
        },
        "metadata": {
          "description": "Defines subproperties primarily used by the UI to display user-friendly information.",
          "$ref": "GoogleCloudOrgpolicyV2ConstraintCustomConstraintDefinitionParameterMetadata"
        },
        "type": {
          "description": "Type of the parameter.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "LIST",
            "STRING",
            "BOOLEAN"
          ],
          "type": "string",
          "enumDescriptions": [
            "This is only used for distinguishing unset values, and results in an error if used.",
            "List parameter type.",
            "String parameter type.",
            "Boolean parameter type."
          ]
        },
        "defaultValue": {
          "description": "Sets the value of the parameter in an assignment if no value is given.",
          "type": "any"
        }
      },
      "id": "GoogleCloudOrgpolicyV2ConstraintCustomConstraintDefinitionParameter",
      "type": "object"
    },
    "GoogleCloudOrgpolicyV2AlternatePolicySpec": {
      "description": "Similar to PolicySpec but with an extra 'launch' field for launch reference. The PolicySpec here is specific for dry-run.",
      "type": "object",
      "id": "GoogleCloudOrgpolicyV2AlternatePolicySpec",
      "properties": {
        "launch": {
          "description": "Reference to the launch that will be used while audit logging and to control the launch. Set only in the alternate policy.",
          "type": "string"
        },
        "spec": {
          "description": "Specify constraint for configurations of Google Cloud resources.",
          "$ref": "GoogleCloudOrgpolicyV2PolicySpec"
        }
      }
    },
    "GoogleCloudOrgpolicyV2Constraint": {
      "id": "GoogleCloudOrgpolicyV2Constraint",
      "description": "A constraint describes a way to restrict a resource's configuration. For example, you could enforce a constraint that controls which Google Cloud services can be activated across an organization, or whether a Compute Engine instance can have serial port connections established. Constraints can be configured by the organization policy administrator to fit the needs of the organization by setting a policy that includes constraints at different locations in the organization's resource hierarchy. Policies are inherited down the resource hierarchy from higher levels, but can also be overridden. For details about the inheritance rules, see `Policy`. Constraints have a default behavior determined by the `constraint_default` field, which is the enforcement behavior that is used in the absence of a policy being defined or inherited for the resource in question.",
      "properties": {
        "equivalentConstraint": {
          "description": "Defines the equivalent constraint name, if it exists. Managed constraints can have an equivalent legacy managed constraint, and legacy managed constraints can have an equivalent managed constraint. For example, \"constraints/iam.disableServiceAccountKeyUpload\" is equivalent to \"constraints/iam.managed.disableServiceAccountKeyUpload\".",
          "type": "string"
        },
        "constraintDefault": {
          "type": "string",
          "enum": [
            "CONSTRAINT_DEFAULT_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "enumDescriptions": [
            "This is only used for distinguishing unset values, and results in an error if set.",
            "Indicate that all values are allowed for list constraints. Indicate that enforcement is off for boolean constraints.",
            "Indicate that all values are denied for list constraints. Indicate that enforcement is on for boolean constraints."
          ],
          "description": "The evaluation behavior of this constraint in the absence of a policy."
        },
        "listConstraint": {
          "$ref": "GoogleCloudOrgpolicyV2ConstraintListConstraint",
          "description": "Defines this constraint as being a list constraint."
        },
        "name": {
          "description": "Immutable. The resource name of the constraint. Must be in one of the following forms: * `projects/{project_number}/constraints/{constraint_name}` * `folders/{folder_number}/constraints/{constraint_name}` * `organizations/{organization_number}/constraints/{constraint_name}` For example, \"/projects/123/constraints/compute.disableSerialPortAccess\".",
          "type": "string"
        },
        "supportsSimulation": {
          "description": "Shows if simulation is supported for this constraint or not.",
          "type": "boolean"
        },
        "booleanConstraint": {
          "$ref": "GoogleCloudOrgpolicyV2ConstraintBooleanConstraint",
          "description": "Defines this constraint as being a boolean constraint."
        },
        "displayName": {
          "type": "string",
          "description": "The human readable name. Mutable."
        },
        "description": {
          "type": "string",
          "description": "Detailed description of what this constraint controls as well as how and where it is enforced. Mutable."
        },
        "supportsDryRun": {
          "type": "boolean",
          "description": "Shows if dry run is supported for this constraint or not."
        }
      },
      "type": "object"
    },
    "GoogleCloudOrgpolicyV2ListConstraintsResponse": {
      "properties": {
        "constraints": {
          "description": "The collection of constraints that are available on the targeted resource.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2Constraint"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token used to retrieve the next page. This is not used."
        }
      },
      "description": "The response returned from the ListConstraints method.",
      "type": "object",
      "id": "GoogleCloudOrgpolicyV2ListConstraintsResponse"
    },
    "GoogleCloudOrgpolicyV2ConstraintBooleanConstraint": {
      "description": "A constraint type is enforced or not enforced, which is configured in the `PolicyRule`. If `customConstraintDefinition` is defined, this constraint is a managed constraint.",
      "type": "object",
      "properties": {
        "customConstraintDefinition": {
          "description": "Custom constraint definition. Defines this as a managed constraint.",
          "$ref": "GoogleCloudOrgpolicyV2ConstraintCustomConstraintDefinition"
        }
      },
      "id": "GoogleCloudOrgpolicyV2ConstraintBooleanConstraint"
    },
    "GoogleCloudOrgpolicyV2PolicySpecPolicyRuleStringValues": {
      "properties": {
        "deniedValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of values denied at this resource."
        },
        "allowedValues": {
          "description": "List of values allowed at this resource.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "A message that holds specific allowed and denied values. This message can define specific values and subtrees of the Resource Manager resource hierarchy (`Organizations`, `Folders`, `Projects`) that are allowed or denied. This is achieved by using the `under:` and optional `is:` prefixes. The `under:` prefix is used to denote resource subtree values. The `is:` prefix is used to denote specific values, and is required only if the value contains a \":\". Values prefixed with \"is:\" are treated the same as values with no prefix. Ancestry subtrees must be in one of the following formats: - `projects/` (for example, `projects/tokyo-rain-123`) - `folders/` (for example, `folders/1234`) - `organizations/` (for example, `organizations/1234`) The `supports_under` field of the associated `Constraint` defines whether ancestry prefixes can be used.",
      "id": "GoogleCloudOrgpolicyV2PolicySpecPolicyRuleStringValues",
      "type": "object"
    },
    "GoogleCloudOrgpolicyV2ListPoliciesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token used to retrieve the next page. This is not used, but the server may at any point start supplying a valid token."
        },
        "policies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2Policy"
          },
          "description": "All policies that exist on the resource. It will be empty if no policies are set."
        }
      },
      "id": "GoogleCloudOrgpolicyV2ListPoliciesResponse",
      "type": "object",
      "description": "The response returned from the ListPolicies method. It will be empty if no policies are set on the resource."
    },
    "GoogleCloudOrgpolicyV2CustomConstraint": {
      "properties": {
        "condition": {
          "description": "A Common Expression Language (CEL) condition which is used in the evaluation of the constraint. For example: `resource.instanceName.matches(\"(production|test)_(.+_)?[\\d]+\")` or, `resource.management.auto_upgrade == true` The max length of the condition is 1000 characters.",
          "type": "string"
        },
        "methodTypes": {
          "type": "array",
          "items": {
            "enum": [
              "METHOD_TYPE_UNSPECIFIED",
              "CREATE",
              "UPDATE",
              "DELETE",
              "REMOVE_GRANT",
              "GOVERN_TAGS"
            ],
            "type": "string",
            "enumDescriptions": [
              "This is only used for distinguishing unset values, and results in an error if used.",
              "Constraint applied when creating the resource.",
              "Constraint applied when updating the resource.",
              "Constraint applied when deleting the resource. Not supported.",
              "Constraint applied when removing an IAM grant.",
              "Constraint applied when enforcing forced tagging."
            ]
          },
          "description": "All the operations being applied for this constraint."
        },
        "name": {
          "description": "Immutable. Name of the constraint. This is unique within the organization. The name must be of the form: * `organizations/{organization_id}/customConstraints/{custom_constraint_id}` Example: `organizations/123/customConstraints/custom.createOnlyE2TypeVms` The max length is 71 characters and the minimum length is 1. Note that the prefix `organizations/{organization_id}/customConstraints/custom.` is not counted.",
          "type": "string"
        },
        "actionType": {
          "description": "Allow or deny type.",
          "type": "string",
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "enumDescriptions": [
            "This is only used for distinguishing unset values, and results in an error if used.",
            "Allowed action type.",
            "Deny action type."
          ]
        },
        "resourceTypes": {
          "items": {
            "type": "string"
          },
          "description": "Immutable. The resource instance type on which this policy applies. Format will be of the form : `/` Example: * `compute.googleapis.com/Instance`.",
          "type": "array"
        },
        "description": {
          "description": "Detailed information about this custom policy constraint. The max length of the description is 2000 characters.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The last time this custom constraint was updated. This represents the last time that the `CreateCustomConstraint` or `UpdateCustomConstraint` methods were called."
        },
        "displayName": {
          "type": "string",
          "description": "One line display name for the UI. The max length of the display_name is 200 characters."
        }
      },
      "description": "A custom constraint defined by customers which can *only* be applied to the given resource types and organization. By creating a custom constraint, customers can apply policies of this custom constraint. *Creating a custom constraint itself does NOT apply any policy enforcement*.",
      "type": "object",
      "id": "GoogleCloudOrgpolicyV2CustomConstraint"
    },
    "GoogleCloudOrgpolicyV2ConstraintListConstraint": {
      "id": "GoogleCloudOrgpolicyV2ConstraintListConstraint",
      "properties": {
        "supportsUnder": {
          "description": "Indicates whether subtrees of the Resource Manager resource hierarchy can be used in `Policy.allowed_values` and `Policy.denied_values`. For example, `\"under:folders/123\"` would match any resource under the 'folders/123' folder.",
          "type": "boolean"
        },
        "supportsIn": {
          "description": "Indicates whether values grouped into categories can be used in `Policy.allowed_values` and `Policy.denied_values`. For example, `\"in:Python\"` would match any value in the 'Python' group.",
          "type": "boolean"
        }
      },
      "description": "A constraint type that allows or disallows a list of string values, which are configured in the `PolicyRule`.",
      "type": "object"
    },
    "GoogleCloudOrgpolicyV2PolicySpecPolicyRule": {
      "id": "GoogleCloudOrgpolicyV2PolicySpecPolicyRule",
      "description": "A rule used to express this policy.",
      "properties": {
        "enforce": {
          "description": "If `true`, then the policy is enforced. If `false`, then any configuration is acceptable. This field can be set in policies for boolean constraints, custom constraints and managed constraints.",
          "type": "boolean"
        },
        "values": {
          "description": "List of values to be used for this policy rule. This field can be set only in policies for list constraints.",
          "$ref": "GoogleCloudOrgpolicyV2PolicySpecPolicyRuleStringValues"
        },
        "allowAll": {
          "description": "Setting this to true means that all values are allowed. This field can be set only in policies for list constraints.",
          "type": "boolean"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. Required for managed constraints if parameters are defined. Passes parameter values when policy enforcement is enabled. Ensure that parameter value types match those defined in the constraint definition. For example: ``` { \"allowedLocations\" : [\"us-east1\", \"us-west1\"], \"allowAll\" : true } ```"
        },
        "denyAll": {
          "description": "Setting this to true means that all values are denied. This field can be set only in policies for list constraints.",
          "type": "boolean"
        },
        "condition": {
          "description": "A condition that determines whether this rule is used to evaluate the policy. When set, the google.type.Expr.expression field must contain 1 to 10 subexpressions, joined by the `||` or `&&` operators. Each subexpression must use the `resource.matchTag()`, `resource.matchTagId()`, `resource.hasTagKey()`, or `resource.hasTagKeyId()` Common Expression Language (CEL) function. The `resource.matchTag()` function takes the following arguments: * `key_name`: the namespaced name of the tag key, with the organization ID and a slash (`/`) as a prefix; for example, `123456789012/environment` * `value_name`: the short name of the tag value For example: `resource.matchTag('123456789012/environment, 'prod')` The `resource.matchTagId()` function takes the following arguments: * `key_id`: the permanent ID of the tag key; for example, `tagKeys/123456789012` * `value_id`: the permanent ID of the tag value; for example, `tagValues/567890123456` For example: `resource.matchTagId('tagKeys/123456789012', 'tagValues/567890123456')` The `resource.hasTagKey()` function takes the following argument: * `key_name`: the namespaced name of the tag key, with the organization ID and a slash (`/`) as a prefix; for example, `123456789012/environment` For example: `resource.hasTagKey('123456789012/environment')` The `resource.hasTagKeyId()` function takes the following arguments: * `key_id`: the permanent ID of the tag key; for example, `tagKeys/123456789012` For example: `resource.hasTagKeyId('tagKeys/123456789012')`",
          "$ref": "GoogleTypeExpr"
        }
      },
      "type": "object"
    },
    "GoogleCloudOrgpolicyV2PolicySpec": {
      "id": "GoogleCloudOrgpolicyV2PolicySpec",
      "type": "object",
      "description": "Defines a Google Cloud policy specification that is used to specify constraints for configurations of Google Cloud resources.",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. The time stamp this was previously updated. This represents the last time a call to `CreatePolicy` or `UpdatePolicy` was made for that policy.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "reset": {
          "type": "boolean",
          "description": "Ignores policies set above this resource and restores the `constraint_default` enforcement behavior of the specific constraint at this resource. This field can be set in policies for either list or boolean constraints. If set, `rules` must be empty and `inherit_from_parent` must be set to false."
        },
        "inheritFromParent": {
          "description": "Determines the inheritance behavior for this policy. If `inherit_from_parent` is true, policy rules set higher up in the hierarchy (up to the closest root) are inherited and present in the effective policy. If it is false, then no rules are inherited, and this policy becomes the new root for evaluation. This field can be set only for policies that configure list constraints.",
          "type": "boolean"
        },
        "rules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2PolicySpecPolicyRule"
          },
          "description": "In policies for boolean constraints, the following requirements apply: - There must be exactly one policy rule where a condition is unset. - Boolean policy rules with conditions must set `enforced` to the opposite of the policy rule without a condition. - During policy evaluation, policy rules with conditions that are true for a target resource take precedence."
        },
        "etag": {
          "type": "string",
          "description": "An opaque tag indicating the current version of the policySpec, used for concurrency control. This field is ignored if used in a `CreatePolicy` request. When the policy is returned from either a `GetPolicy` or a `ListPolicies` request, this entity tag (ETag) indicates the version of the current policySpec to use when executing a read-modify-write loop. When the policy is returned from a `GetEffectivePolicy` request, the ETag will be unset."
        }
      }
    },
    "GoogleCloudOrgpolicyV2ConstraintCustomConstraintDefinition": {
      "description": "Custom constraint definition. Defines this as a managed constraint.",
      "id": "GoogleCloudOrgpolicyV2ConstraintCustomConstraintDefinition",
      "type": "object",
      "properties": {
        "actionType": {
          "enumDescriptions": [
            "This is only used for distinguishing unset values, and results in an error if used.",
            "Allowed action type.",
            "Deny action type."
          ],
          "type": "string",
          "description": "Allow or deny type.",
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ]
        },
        "resourceTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The resource instance type that this policy applies to, in the format `/`. Example: * `compute.googleapis.com/Instance`."
        },
        "parameters": {
          "additionalProperties": {
            "$ref": "GoogleCloudOrgpolicyV2ConstraintCustomConstraintDefinitionParameter"
          },
          "description": "Stores the structure of `Parameters` used by the constraint condition. The key of `map` represents the name of the parameter.",
          "type": "object"
        },
        "condition": {
          "type": "string",
          "description": "Org policy condition/expression. For example: `resource.instanceName.matches(\"(production|test)_(.+_)?[\\d]+\")` or, `resource.management.auto_upgrade == true` The max length of the condition is 1000 characters."
        },
        "methodTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "This is only used for distinguishing unset values, and results in an error if used.",
              "Constraint applied when creating the resource.",
              "Constraint applied when updating the resource.",
              "Constraint applied when deleting the resource. Not supported.",
              "Constraint applied when removing an IAM grant.",
              "Constraint applied when enforcing forced tagging."
            ],
            "enum": [
              "METHOD_TYPE_UNSPECIFIED",
              "CREATE",
              "UPDATE",
              "DELETE",
              "REMOVE_GRANT",
              "GOVERN_TAGS"
            ]
          },
          "description": "All the operations being applied for this constraint.",
          "type": "array"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "GoogleCloudOrgpolicyV2ConstraintCustomConstraintDefinitionParameterMetadata": {
      "properties": {
        "description": {
          "description": "Detailed description of what this `parameter` is and its use. Mutable.",
          "type": "string"
        }
      },
      "description": "Defines Metadata structure.",
      "type": "object",
      "id": "GoogleCloudOrgpolicyV2ConstraintCustomConstraintDefinitionParameterMetadata"
    },
    "GoogleCloudOrgpolicyV2Policy": {
      "description": "Defines an organization policy that is used to specify constraints for configurations of Google Cloud resources.",
      "properties": {
        "alternate": {
          "description": "Deprecated.",
          "deprecated": true,
          "$ref": "GoogleCloudOrgpolicyV2AlternatePolicySpec"
        },
        "spec": {
          "$ref": "GoogleCloudOrgpolicyV2PolicySpec",
          "description": "Basic information about the organization policy."
        },
        "etag": {
          "description": "Optional. An opaque tag indicating the current state of the policy, used for concurrency control. This entity tag (ETag) is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "dryRunSpec": {
          "$ref": "GoogleCloudOrgpolicyV2PolicySpec",
          "description": "Dry-run policy. Audit-only policy, can be used to monitor how the policy would have impacted the existing and future resources if it's enforced."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the policy. Must be one of the following forms, where `constraint_name` is the name of the constraint that this policy configures: * `projects/{project_number}/policies/{constraint_name}` * `folders/{folder_number}/policies/{constraint_name}` * `organizations/{organization_number}/policies/{constraint_name}` For example, `projects/123/policies/compute.disableSerialPortAccess`. Note: `projects/{project_id}/policies/{constraint_name}` is also an acceptable name for API requests, but responses will return the name using the equivalent project number."
        }
      },
      "id": "GoogleCloudOrgpolicyV2Policy",
      "type": "object"
    },
    "GoogleCloudOrgpolicyV2ListCustomConstraintsResponse": {
      "description": "The response returned from the ListCustomConstraints method. It will be empty if no custom or managed constraints are set on the organization resource.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Page token used to retrieve the next page. This is not used, but the server may at any point start supplying a valid token.",
          "type": "string"
        },
        "customConstraints": {
          "items": {
            "$ref": "GoogleCloudOrgpolicyV2CustomConstraint"
          },
          "description": "All custom and managed constraints that exist on the organization resource. It will be empty if no custom constraints are set.",
          "type": "array"
        }
      },
      "id": "GoogleCloudOrgpolicyV2ListCustomConstraintsResponse"
    }
  },
  "mtlsRootUrl": "https://orgpolicy.mtls.googleapis.com/",
  "batchPath": "batch"
}