{
  "id": "osconfig:v1beta",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://osconfig.googleapis.com/",
  "baseUrl": "https://osconfig.googleapis.com/",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "mtlsRootUrl": "https://osconfig.mtls.googleapis.com/",
  "servicePath": "",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "canonicalName": "OS Config",
  "revision": "20260820",
  "name": "osconfig",
  "version": "v1beta",
  "batchPath": "batch",
  "resources": {
    "projects": {
      "resources": {
        "zones": {
          "resources": {
            "instances": {
              "methods": {
                "lookupEffectiveGuestPolicy": {
                  "flatPath": "v1beta/projects/{projectsId}/zones/{zonesId}/instances/{instancesId}:lookupEffectiveGuestPolicy",
                  "description": "Lookup the effective guest policy that applies to a VM instance. This lookup merges all policies that are assigned to the instance ancestry.",
                  "response": {
                    "$ref": "EffectiveGuestPolicy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "instance"
                  ],
                  "request": {
                    "$ref": "LookupEffectiveGuestPolicyRequest"
                  },
                  "path": "v1beta/{+instance}:lookupEffectiveGuestPolicy",
                  "httpMethod": "POST",
                  "parameters": {
                    "instance": {
                      "location": "path",
                      "description": "Required. The VM instance whose policies are being looked up.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/zones/[^/]+/instances/[^/]+$"
                    }
                  },
                  "id": "osconfig.projects.zones.instances.lookupEffectiveGuestPolicy"
                }
              }
            }
          }
        },
        "guestPolicies": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get an OS Config guest policy.",
              "id": "osconfig.projects.guestPolicies.get",
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "GuestPolicy"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/guestPolicies/{guestPoliciesId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name of the guest policy using one of the following forms: `projects/{project_number}/guestPolicies/{guest_policy_id}`.",
                  "required": true,
                  "pattern": "^projects/[^/]+/guestPolicies/[^/]+$",
                  "type": "string"
                }
              }
            },
            "create": {
              "response": {
                "$ref": "GuestPolicy"
              },
              "httpMethod": "POST",
              "id": "osconfig.projects.guestPolicies.create",
              "path": "v1beta/{+parent}/guestPolicies",
              "flatPath": "v1beta/projects/{projectsId}/guestPolicies",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The resource name of the parent using one of the following forms: `projects/{project_number}`.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "guestPolicyId": {
                  "description": "Required. The logical name of the guest policy in the project with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the project.",
                  "type": "string",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "GuestPolicy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "description": "Create an OS Config guest policy."
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "osconfig.projects.guestPolicies.delete",
              "flatPath": "v1beta/projects/{projectsId}/guestPolicies/{guestPoliciesId}",
              "path": "v1beta/{+name}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "description": "Delete an OS Config guest policy.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/guestPolicies/[^/]+$",
                  "description": "Required. The resource name of the guest policy using one of the following forms: `projects/{project_number}/guestPolicies/{guest_policy_id}`.",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "list": {
              "flatPath": "v1beta/projects/{projectsId}/guestPolicies",
              "description": "Get a page of OS Config guest policies.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+parent}/guestPolicies",
              "parameterOrder": [
                "parent"
              ],
              "id": "osconfig.projects.guestPolicies.list",
              "response": {
                "$ref": "ListGuestPoliciesResponse"
              },
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A pagination token returned from a previous call to `ListGuestPolicies` that indicates where this listing should continue from."
                },
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of the parent using one of the following forms: `projects/{project_number}`.",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of guest policies to return.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "httpMethod": "GET"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "osconfig.projects.guestPolicies.patch",
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/projects/{projectsId}/guestPolicies/{guestPoliciesId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Unique name of the resource in this project using one of the following forms: `projects/{project_number}/guestPolicies/{guest_policy_id}`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/guestPolicies/[^/]+$"
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Field mask that controls which fields of the guest policy should be updated."
                }
              },
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GuestPolicy"
              },
              "description": "Update an OS Config guest policy.",
              "request": {
                "$ref": "GuestPolicy"
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "patchDeployments": {
          "methods": {
            "list": {
              "description": "Get a page of OS Config patch deployments.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+parent}/patchDeployments",
              "id": "osconfig.projects.patchDeployments.list",
              "parameters": {
                "pageToken": {
                  "description": "Optional. A pagination token returned from a previous call to ListPatchDeployments that indicates where this listing should continue from.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of patch deployments to return. Default is 100.",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "description": "Required. The resource name of the parent in the form `projects/*`.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListPatchDeploymentsResponse"
              },
              "httpMethod": "GET"
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The project to apply this patch deployment to in the form `projects/*`.",
                  "location": "path",
                  "required": true
                },
                "patchDeploymentId": {
                  "description": "Required. A name for the patch deployment in the project. When creating a name the following rules apply: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the project.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1beta/{+parent}/patchDeployments",
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments",
              "response": {
                "$ref": "PatchDeployment"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "PatchDeployment"
              },
              "description": "Create an OS Config patch deployment.",
              "id": "osconfig.projects.patchDeployments.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$"
                }
              },
              "description": "Delete an OS Config patch deployment.",
              "httpMethod": "DELETE",
              "path": "v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "osconfig.projects.patchDeployments.delete"
            },
            "resume": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "PatchDeployment"
              },
              "path": "v1beta/{+name}:resume",
              "description": "Change state of patch deployment back to \"ACTIVE\". Patch deployment in active state continues to generate patch jobs.",
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments/{patchDeploymentsId}:resume",
              "id": "osconfig.projects.patchDeployments.resume",
              "request": {
                "$ref": "ResumePatchDeploymentRequest"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`."
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "PatchDeployment"
              },
              "id": "osconfig.projects.patchDeployments.get",
              "description": "Get an OS Config patch deployment.",
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments/{patchDeploymentsId}"
            },
            "patch": {
              "request": {
                "$ref": "PatchDeployment"
              },
              "response": {
                "$ref": "PatchDeployment"
              },
              "id": "osconfig.projects.patchDeployments.patch",
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}",
              "description": "Update an OS Config patch deployment.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "required": true,
                  "description": "Unique name for the patch deployment resource in a project. The patch deployment name is in the form: `projects/{project_id}/patchDeployments/{patch_deployment_id}`. This field is ignored when you create a new patch deployment.",
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Optional. Field mask that controls which fields of the patch deployment should be updated.",
                  "type": "string"
                }
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ]
            },
            "pause": {
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments/{patchDeploymentsId}:pause",
              "id": "osconfig.projects.patchDeployments.pause",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "PausePatchDeploymentRequest"
              },
              "response": {
                "$ref": "PatchDeployment"
              },
              "path": "v1beta/{+name}:pause",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$"
                }
              },
              "description": "Change state of patch deployment to \"PAUSED\". Patch deployment in paused state doesn't generate patch jobs.",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "patchJobs": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the patch in the form `projects/*/patchJobs/*`",
                  "pattern": "^projects/[^/]+/patchJobs/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "PatchJob"
              },
              "description": "Get the patch job. This can be used to track the progress of an ongoing patch job or review the details of completed jobs.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "flatPath": "v1beta/projects/{projectsId}/patchJobs/{patchJobsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "osconfig.projects.patchJobs.get"
            },
            "execute": {
              "id": "osconfig.projects.patchJobs.execute",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The project in which to run this patch in the form `projects/*`"
                }
              },
              "response": {
                "$ref": "PatchJob"
              },
              "request": {
                "$ref": "ExecutePatchJobRequest"
              },
              "description": "Patch VM instances by creating and running a patch job.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/patchJobs:execute",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/patchJobs:execute"
            },
            "list": {
              "description": "Get a list of patch jobs.",
              "id": "osconfig.projects.patchJobs.list",
              "path": "v1beta/{+parent}/patchJobs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListPatchJobsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "description": "If provided, this field specifies the criteria that must be met by patch jobs to be included in the response. Currently, filtering is only available on the patch_deployment field.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of instance status to return.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. In the form of `projects/*`",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A pagination token returned from a previous call that indicates where this listing should continue from."
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/patchJobs",
              "parameterOrder": [
                "parent"
              ]
            },
            "cancel": {
              "flatPath": "v1beta/projects/{projectsId}/patchJobs/{patchJobsId}:cancel",
              "httpMethod": "POST",
              "id": "osconfig.projects.patchJobs.cancel",
              "description": "Cancel a patch job. The patch job must be active. Canceled patch jobs cannot be restarted.",
              "response": {
                "$ref": "PatchJob"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/patchJobs/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the patch in the form `projects/*/patchJobs/*`"
                }
              },
              "request": {
                "$ref": "CancelPatchJobRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}:cancel",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "instanceDetails": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "description": "Get a list of instance details for a given patch job.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/patchJobs/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent for the instances are in the form of `projects/*/patchJobs/*`."
                    },
                    "filter": {
                      "description": "A filter expression that filters results listed in the response. This field supports filtering results by instance zone, name, state, or `failure_reason`.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call that indicates where this listing should continue from.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The maximum number of instance details records to return. Default is 100.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "osconfig.projects.patchJobs.instanceDetails.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/patchJobs/{patchJobsId}/instanceDetails",
                  "path": "v1beta/{+parent}/instanceDetails",
                  "response": {
                    "$ref": "ListPatchJobInstanceDetailsResponse"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadata": {
      "description": "OS policy assignment operation metadata provided by OS policy assignment API methods that return long running operations.",
      "properties": {
        "rolloutState": {
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ],
          "description": "State of the rollout",
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ],
          "type": "string"
        },
        "rolloutUpdateTime": {
          "format": "google-datetime",
          "description": "Rollout update time",
          "type": "string"
        },
        "rolloutStartTime": {
          "description": "Rollout start time",
          "format": "google-datetime",
          "type": "string"
        },
        "apiMethod": {
          "enumDescriptions": [
            "Invalid value",
            "Create OS policy assignment API method",
            "Update OS policy assignment API method",
            "Delete OS policy assignment API method"
          ],
          "description": "The OS policy assignment API method.",
          "type": "string",
          "enum": [
            "API_METHOD_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE"
          ]
        },
        "osPolicyAssignment": {
          "type": "string",
          "description": "Reference to the `OSPolicyAssignment` API resource. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`"
        }
      },
      "type": "object",
      "id": "GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadata"
    },
    "RecurringSchedule": {
      "id": "RecurringSchedule",
      "type": "object",
      "description": "Sets the time for recurring patch deployments.",
      "properties": {
        "frequency": {
          "enumDescriptions": [
            "Invalid. A frequency must be specified.",
            "Indicates that the frequency of recurrence should be expressed in terms of weeks.",
            "Indicates that the frequency of recurrence should be expressed in terms of months.",
            "Indicates that the frequency of recurrence should be expressed in terms of days."
          ],
          "description": "Required. The frequency unit of this recurring schedule.",
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "WEEKLY",
            "MONTHLY",
            "DAILY"
          ],
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Optional. The end time at which a recurring patch deployment schedule is no longer active.",
          "format": "google-datetime"
        },
        "lastExecuteTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the last patch job ran successfully.",
          "format": "google-datetime"
        },
        "weekly": {
          "$ref": "WeeklySchedule",
          "description": "Required. Schedule with weekly executions."
        },
        "monthly": {
          "description": "Required. Schedule with monthly executions.",
          "$ref": "MonthlySchedule"
        },
        "timeOfDay": {
          "description": "Required. Time of the day to run a recurring deployment.",
          "$ref": "TimeOfDay"
        },
        "timeZone": {
          "description": "Required. Defines the time zone that `time_of_day` is relative to. The rules for daylight saving time are determined by the chosen time zone.",
          "$ref": "TimeZone"
        },
        "startTime": {
          "type": "string",
          "description": "Optional. The time that the recurring schedule becomes effective. Defaults to `create_time` of the patch deployment.",
          "format": "google-datetime"
        },
        "nextExecuteTime": {
          "description": "Output only. The time the next patch job is scheduled to run.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "SoftwareRecipeArtifactGcs": {
      "id": "SoftwareRecipeArtifactGcs",
      "description": "Specifies an artifact available as a Google Cloud Storage object.",
      "properties": {
        "generation": {
          "format": "int64",
          "description": "Must be provided if allow_insecure is false. Generation number of the Google Cloud Storage object. `https://storage.googleapis.com/my-bucket/foo/bar#1234567` this value would be `1234567`.",
          "type": "string"
        },
        "object": {
          "description": "Name of the Google Cloud Storage object. As specified [here] (https://cloud.google.com/storage/docs/naming#objectnames) Given an example URL: `https://storage.googleapis.com/my-bucket/foo/bar#1234567` this value would be `foo/bar`.",
          "type": "string"
        },
        "bucket": {
          "description": "Bucket of the Google Cloud Storage object. Given an example URL: `https://storage.googleapis.com/my-bucket/foo/bar#1234567` this value would be `my-bucket`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExecStepConfig": {
      "type": "object",
      "description": "Common configurations for an ExecStep.",
      "properties": {
        "allowedSuccessCodes": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Defaults to [0]. A list of possible return values that the execution can return to indicate a success."
        },
        "interpreter": {
          "description": "The script interpreter to use to run the script. If no interpreter is specified the script will be executed directly, which will likely only succeed for scripts with [shebang lines] (https://en.wikipedia.org/wiki/Shebang_\\(Unix\\)).",
          "type": "string",
          "enumDescriptions": [
            "If the interpreter is not specified, the value defaults to `NONE`.",
            "Indicates that the file is run as follows on each operating system: + For Linux VMs, the file is ran as an executable and the interpreter might be parsed from the [shebang line](https://wikipedia.org/wiki/Shebang_(Unix)) of the file. + For Windows VM, this value is not supported.",
            "Indicates that the file is run with `/bin/sh` on Linux and `cmd` on Windows.",
            "Indicates that the file is run with PowerShell."
          ],
          "enum": [
            "INTERPRETER_UNSPECIFIED",
            "NONE",
            "SHELL",
            "POWERSHELL"
          ]
        },
        "localPath": {
          "description": "An absolute path to the executable on the VM.",
          "type": "string"
        },
        "gcsObject": {
          "description": "A Google Cloud Storage object containing the executable.",
          "$ref": "GcsObject"
        }
      },
      "id": "ExecStepConfig"
    },
    "SoftwareRecipeStep": {
      "description": "An action that can be taken as part of installing or updating a recipe.",
      "properties": {
        "archiveExtraction": {
          "description": "Extracts an archive into the specified directory.",
          "$ref": "SoftwareRecipeStepExtractArchive"
        },
        "fileExec": {
          "description": "Executes an artifact or local file.",
          "$ref": "SoftwareRecipeStepExecFile"
        },
        "fileCopy": {
          "description": "Copies a file onto the instance.",
          "$ref": "SoftwareRecipeStepCopyFile"
        },
        "dpkgInstallation": {
          "$ref": "SoftwareRecipeStepInstallDpkg",
          "description": "Installs a deb file via dpkg."
        },
        "msiInstallation": {
          "$ref": "SoftwareRecipeStepInstallMsi",
          "description": "Installs an MSI file."
        },
        "rpmInstallation": {
          "description": "Installs an rpm file via the rpm utility.",
          "$ref": "SoftwareRecipeStepInstallRpm"
        },
        "scriptRun": {
          "description": "Runs commands in a shell.",
          "$ref": "SoftwareRecipeStepRunScript"
        }
      },
      "type": "object",
      "id": "SoftwareRecipeStep"
    },
    "PatchDeployment": {
      "properties": {
        "instanceFilter": {
          "description": "Required. VM instances to patch.",
          "$ref": "PatchInstanceFilter"
        },
        "recurringSchedule": {
          "$ref": "RecurringSchedule",
          "description": "Required. Schedule recurring executions."
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Duration of the patch. After the duration ends, the patch times out."
        },
        "patchConfig": {
          "description": "Optional. Patch configuration that is applied.",
          "$ref": "PatchConfig"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Active value means that patch deployment generates Patch Jobs.",
            "Paused value means that patch deployment does not generate Patch jobs. Requires user action to move in and out from this state."
          ],
          "description": "Output only. Current state of the patch deployment.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED"
          ],
          "type": "string"
        },
        "name": {
          "description": "Unique name for the patch deployment resource in a project. The patch deployment name is in the form: `projects/{project_id}/patchDeployments/{patch_deployment_id}`. This field is ignored when you create a new patch deployment.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time the patch deployment was created. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "type": "string"
        },
        "lastExecuteTime": {
          "type": "string",
          "description": "Output only. The last time a patch job was started by this deployment. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "oneTimeSchedule": {
          "description": "Required. Schedule a one-time execution.",
          "$ref": "OneTimeSchedule"
        },
        "description": {
          "description": "Optional. Description of the patch deployment. Length of the description is limited to 1024 characters.",
          "type": "string"
        },
        "rollout": {
          "description": "Optional. Rollout strategy of the patch job.",
          "$ref": "PatchRollout"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time the patch deployment was last updated. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Patch deployments are configurations that individual patch jobs use to complete a patch. These configurations include instance filter, package repository settings, and a schedule. For more information about creating and managing patch deployments, see [Scheduling patch jobs](https://cloud.google.com/compute/docs/os-patch-management/schedule-patch-jobs).",
      "type": "object",
      "id": "PatchDeployment"
    },
    "TimeOfDay": {
      "type": "object",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer",
          "format": "int32"
        },
        "hours": {
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer"
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "TimeOfDay"
    },
    "YumSettings": {
      "type": "object",
      "id": "YumSettings",
      "properties": {
        "exclusivePackages": {
          "type": "array",
          "description": "An exclusive list of packages to be updated. These are the only packages that will be updated. If these packages are not installed, they will be ignored. This field must not be specified with any other patch configuration fields.",
          "items": {
            "type": "string"
          }
        },
        "minimal": {
          "description": "Will cause patch to run `yum update-minimal` instead.",
          "type": "boolean"
        },
        "security": {
          "type": "boolean",
          "description": "Adds the `--security` flag to `yum update`. Not supported on all platforms."
        },
        "excludes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of packages to exclude from update. These packages are excluded by using the yum `--exclude` flag."
        }
      },
      "description": "Yum patching is performed by executing `yum update`. Additional options can be set to control how this is executed. Note that not all settings are supported on all platforms."
    },
    "ZypperSettings": {
      "properties": {
        "exclusivePatches": {
          "description": "An exclusive list of patches to be updated. These are the only patches that will be installed using 'zypper patch patch:' command. This field must not be used with any other patch configuration fields.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "withUpdate": {
          "type": "boolean",
          "description": "Adds the `--with-update` flag, to `zypper patch`."
        },
        "categories": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Install only patches with these categories. Common categories include security, recommended, and feature."
        },
        "severities": {
          "items": {
            "type": "string"
          },
          "description": "Install only patches with these severities. Common severities include critical, important, moderate, and low.",
          "type": "array"
        },
        "excludes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of patches to exclude from update."
        },
        "withOptional": {
          "description": "Adds the `--with-optional` flag to `zypper patch`.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Zypper patching is performed by running `zypper patch`. See also https://en.opensuse.org/SDB:Zypper_manual.",
      "id": "ZypperSettings"
    },
    "SoftwareRecipeStepCopyFile": {
      "properties": {
        "destination": {
          "description": "Required. The absolute path on the instance to put the file.",
          "type": "string"
        },
        "overwrite": {
          "type": "boolean",
          "description": "Whether to allow this step to overwrite existing files. If this is false and the file already exists the file is not overwritten and the step is considered a success. Defaults to false."
        },
        "artifactId": {
          "description": "Required. The id of the relevant artifact in the recipe.",
          "type": "string"
        },
        "permissions": {
          "description": "Consists of three octal digits which represent, in order, the permissions of the owner, group, and other users for the file (similarly to the numeric mode used in the linux chmod utility). Each digit represents a three bit number with the 4 bit corresponding to the read permissions, the 2 bit corresponds to the write bit, and the one bit corresponds to the execute permission. Default behavior is 755. Below are some examples of permissions and their associated values: read, write, and execute: 7 read and execute: 5 read and write: 6 read only: 4",
          "type": "string"
        }
      },
      "id": "SoftwareRecipeStepCopyFile",
      "type": "object",
      "description": "Copies the artifact to the specified path on the instance."
    },
    "OneTimeSchedule": {
      "description": "Sets the time for a one time patch deployment. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
      "type": "object",
      "id": "OneTimeSchedule",
      "properties": {
        "executeTime": {
          "description": "Required. The desired patch job execution time.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "SoftwareRecipeArtifactRemote": {
      "type": "object",
      "description": "Specifies an artifact available via some URI.",
      "id": "SoftwareRecipeArtifactRemote",
      "properties": {
        "checksum": {
          "type": "string",
          "description": "Must be provided if `allow_insecure` is `false`. SHA256 checksum in hex format, to compare to the checksum of the artifact. If the checksum is not empty and it doesn't match the artifact then the recipe installation fails before running any of the steps."
        },
        "uri": {
          "description": "URI from which to fetch the object. It should contain both the protocol and path following the format {protocol}://{location}.",
          "type": "string"
        }
      }
    },
    "OSPolicyAssignmentOperationMetadata": {
      "properties": {
        "rolloutState": {
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ],
          "type": "string",
          "description": "State of the rollout",
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ]
        },
        "apiMethod": {
          "enum": [
            "API_METHOD_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "description": "The OS policy assignment API method.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value",
            "Create OS policy assignment API method",
            "Update OS policy assignment API method",
            "Delete OS policy assignment API method"
          ]
        },
        "osPolicyAssignment": {
          "description": "Reference to the `OSPolicyAssignment` API resource. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`",
          "type": "string"
        },
        "rolloutUpdateTime": {
          "type": "string",
          "description": "Rollout update time",
          "format": "google-datetime"
        },
        "rolloutStartTime": {
          "type": "string",
          "description": "Rollout start time",
          "format": "google-datetime"
        }
      },
      "description": "OS policy assignment operation metadata provided by OS policy assignment API methods that return long running operations.",
      "id": "OSPolicyAssignmentOperationMetadata",
      "type": "object"
    },
    "ResumePatchDeploymentRequest": {
      "description": "A request message for resuming a patch deployment.",
      "id": "ResumePatchDeploymentRequest",
      "type": "object",
      "properties": {}
    },
    "StatusProto": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "Detail message copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional string message = 3;"
        },
        "code": {
          "type": "integer",
          "description": "Numeric code drawn from the space specified below. Often, this is the canonical error space, and code is drawn from google3/util/task/codes.proto copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 code = 1;",
          "format": "int32"
        },
        "messageSet": {
          "$ref": "MessageSet",
          "description": "message_set associates an arbitrary proto message with the status. copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional proto2.bridge.MessageSet message_set = 5;"
        },
        "canonicalCode": {
          "type": "integer",
          "description": "copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 canonical_code = 6;",
          "format": "int32"
        },
        "space": {
          "type": "string",
          "description": "copybara:strip_begin(b/383363683) Space to which this status belongs copybara:strip_end_and_replace optional string space = 2; // Space to which this status belongs"
        }
      },
      "description": "Wire-format for a Status object",
      "id": "StatusProto"
    },
    "Assignment": {
      "description": "An assignment represents the group or groups of VM instances that the policy applies to. If an assignment is empty, it applies to all VM instances. Otherwise, the targeted VM instances must meet all the criteria specified. So if both labels and zones are specified, the policy applies to VM instances with those labels and in those zones.",
      "type": "object",
      "properties": {
        "instances": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Targets any of the instances specified. Instances are specified by their URI in the form `zones/[ZONE]/instances/[INSTANCE_NAME]`. Instance targeting is uncommon and is supported to facilitate the management of changes by the instance or to target specific VM instances for development and testing. Only supported for project-level policies and must reference instances within this project."
        },
        "zones": {
          "description": "Targets instances in any of these zones. Leave empty to target instances in any zone. Zonal targeting is uncommon and is supported to facilitate the management of changes by zone.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "osTypes": {
          "description": "Targets VM instances matching at least one of the following OS types. VM instances must match all supplied criteria for a given OsType to be included.",
          "items": {
            "$ref": "AssignmentOsType"
          },
          "type": "array"
        },
        "groupLabels": {
          "items": {
            "$ref": "AssignmentGroupLabel"
          },
          "description": "Targets instances matching at least one of these label sets. This allows an assignment to target disparate groups, for example \"env=prod or env=staging\".",
          "type": "array"
        },
        "instanceNamePrefixes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Targets VM instances whose name starts with one of these prefixes. Like labels, this is another way to group VM instances when targeting configs, for example prefix=\"prod-\". Only supported for project-level policies."
        }
      },
      "id": "Assignment"
    },
    "FixedOrPercent": {
      "type": "object",
      "id": "FixedOrPercent",
      "properties": {
        "percent": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the relative value defined as a percentage, which will be multiplied by a reference value."
        },
        "fixed": {
          "description": "Specifies a fixed value.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Message encapsulating a value that can be either absolute (\"fixed\") or relative (\"percent\") to a value."
    },
    "AptSettings": {
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "By default, upgrade will be performed.",
            "Runs `apt-get dist-upgrade`.",
            "Runs `apt-get upgrade`."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "DIST",
            "UPGRADE"
          ],
          "description": "By changing the type to DIST, the patching is performed using `apt-get dist-upgrade` instead."
        },
        "exclusivePackages": {
          "items": {
            "type": "string"
          },
          "description": "An exclusive list of packages to be updated. These are the only packages that will be updated. If these packages are not installed, they will be ignored. This field cannot be specified with any other patch configuration fields.",
          "type": "array"
        },
        "excludes": {
          "description": "List of packages to exclude from update. These packages will be excluded",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AptSettings",
      "description": "Apt patching is completed by executing `apt-get update && apt-get upgrade`. Additional options can be set to control how this is executed.",
      "type": "object"
    },
    "WindowsUpdateSettings": {
      "properties": {
        "classifications": {
          "description": "Only apply updates of these windows update classifications. If empty, all updates are applied.",
          "type": "array",
          "items": {
            "enum": [
              "CLASSIFICATION_UNSPECIFIED",
              "CRITICAL",
              "SECURITY",
              "DEFINITION",
              "DRIVER",
              "FEATURE_PACK",
              "SERVICE_PACK",
              "TOOL",
              "UPDATE_ROLLUP",
              "UPDATE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Invalid. If classifications are included, they must be specified.",
              "\"A widely released fix for a specific problem that addresses a critical, non-security-related bug.\" [1]",
              "\"A widely released fix for a product-specific, security-related vulnerability. Security vulnerabilities are rated by their severity. The severity rating is indicated in the Microsoft security bulletin as critical, important, moderate, or low.\" [1]",
              "\"A widely released and frequent software update that contains additions to a product's definition database. Definition databases are often used to detect objects that have specific attributes, such as malicious code, phishing websites, or junk mail.\" [1]",
              "\"Software that controls the input and output of a device.\" [1]",
              "\"New product functionality that is first distributed outside the context of a product release and that is typically included in the next full product release.\" [1]",
              "\"A tested, cumulative set of all hotfixes, security updates, critical updates, and updates. Additionally, service packs may contain additional fixes for problems that are found internally since the release of the product. Service packs my also contain a limited number of customer-requested design changes or features.\" [1]",
              "\"A utility or feature that helps complete a task or set of tasks.\" [1]",
              "\"A tested, cumulative set of hotfixes, security updates, critical updates, and updates that are packaged together for easy deployment. A rollup generally targets a specific area, such as security, or a component of a product, such as Internet Information Services (IIS).\" [1]",
              "\"A widely released fix for a specific problem. An update addresses a noncritical, non-security-related bug.\" [1]"
            ]
          }
        },
        "exclusivePatches": {
          "description": "An exclusive list of kbs to be updated. These are the only patches that will be updated. This field must not be used with other patch configurations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludes": {
          "items": {
            "type": "string"
          },
          "description": "List of KBs to exclude from update.",
          "type": "array"
        }
      },
      "id": "WindowsUpdateSettings",
      "description": "Windows patching is performed using the Windows Update Agent.",
      "type": "object"
    },
    "ZypperRepository": {
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. A one word, unique name for this repository. This is the `repo id` in the zypper config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for guest policy conflicts.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the repository.",
          "type": "string"
        },
        "gpgKeys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "URIs of GPG keys."
        },
        "baseUrl": {
          "description": "Required. The location of the repository directory.",
          "type": "string"
        }
      },
      "id": "ZypperRepository",
      "description": "Represents a single Zypper package repository. This repository is added to a repo file that is stored at `/etc/zypp/repos.d/google_osconfig.repo`."
    },
    "EffectiveGuestPolicySourcedPackage": {
      "id": "EffectiveGuestPolicySourcedPackage",
      "description": "A guest policy package including its source.",
      "properties": {
        "source": {
          "type": "string",
          "description": "Name of the guest policy providing this config."
        },
        "package": {
          "description": "A software package to configure on the VM instance.",
          "$ref": "Package"
        }
      },
      "type": "object"
    },
    "LookupEffectiveGuestPolicyRequest": {
      "type": "object",
      "description": "A request message for getting the effective guest policy assigned to the instance.",
      "properties": {
        "osVersion": {
          "description": "Version of the OS running on the instance. The OS Config agent only provides this field for targeting if OS Inventory is enabled for that VM instance.",
          "type": "string"
        },
        "osArchitecture": {
          "description": "Architecture of OS running on the instance. The OS Config agent only provides this field for targeting if OS Inventory is enabled for that instance.",
          "type": "string"
        },
        "osShortName": {
          "description": "Short name of the OS running on the instance. The OS Config agent only provides this field for targeting if OS Inventory is enabled for that instance.",
          "type": "string"
        }
      },
      "id": "LookupEffectiveGuestPolicyRequest"
    },
    "SoftwareRecipeArtifact": {
      "description": "Specifies a resource to be used in the recipe.",
      "properties": {
        "id": {
          "description": "Required. Id of the artifact, which the installation and update steps of this recipe can reference. Artifacts in a recipe cannot have the same id.",
          "type": "string"
        },
        "gcs": {
          "$ref": "SoftwareRecipeArtifactGcs",
          "description": "A Google Cloud Storage artifact."
        },
        "remote": {
          "description": "A generic remote artifact.",
          "$ref": "SoftwareRecipeArtifactRemote"
        },
        "allowInsecure": {
          "description": "Defaults to false. When false, recipes are subject to validations based on the artifact type: Remote: A checksum must be specified, and only protocols with transport-layer security are permitted. GCS: An object generation number must be specified.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "SoftwareRecipeArtifact"
    },
    "PatchJob": {
      "id": "PatchJob",
      "type": "object",
      "description": "A high level representation of a patch job that is either in progress or has completed. Instance details are not included in the job. To paginate through instance details, use `ListPatchJobInstanceDetails`. For more information about patch jobs, see [Creating patch jobs](https://cloud.google.com/compute/docs/os-patch-management/create-patch-job).",
      "properties": {
        "name": {
          "description": "Unique identifier for this patch job in the form `projects/*/patchJobs/*`",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "INSTANCE_LOOKUP",
            "PATCHING",
            "SUCCEEDED",
            "COMPLETED_WITH_INACTIVE_VMS",
            "COMPLETED_WITH_ERRORS",
            "CANCELED",
            "TIMED_OUT"
          ],
          "enumDescriptions": [
            "State must be specified.",
            "The patch job was successfully initiated.",
            "The patch job is looking up instances to run the patch on.",
            "Instances are being patched.",
            "Patch job completed successfully.",
            "The patch job completed without errors, but some instances were inactive and therefore not patched.",
            "Patch job completed but there were errors.",
            "The patch job was canceled.",
            "The patch job timed out."
          ],
          "description": "The current state of the PatchJob.",
          "type": "string"
        },
        "patchConfig": {
          "description": "Patch configuration being applied.",
          "$ref": "PatchConfig"
        },
        "updateTime": {
          "type": "string",
          "description": "Last time this patch job was updated.",
          "format": "google-datetime"
        },
        "errorMessage": {
          "description": "If this patch job failed, this message provides information about the failure.",
          "type": "string"
        },
        "dryRun": {
          "description": "If this patch job is a dry run, the agent reports that it has finished without running any updates on the VM instance.",
          "type": "boolean"
        },
        "percentComplete": {
          "description": "Reflects the overall progress of the patch job in the range of 0.0 being no progress to 100.0 being complete.",
          "type": "number",
          "format": "double"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Time this patch job was created.",
          "type": "string"
        },
        "instanceDetailsSummary": {
          "description": "Summary of instance details.",
          "$ref": "PatchJobInstanceDetailsSummary"
        },
        "instanceFilter": {
          "description": "Instances to patch.",
          "$ref": "PatchInstanceFilter"
        },
        "displayName": {
          "type": "string",
          "description": "Display name for this patch job. This is not a unique identifier."
        },
        "rollout": {
          "description": "Rollout strategy being applied.",
          "$ref": "PatchRollout"
        },
        "patchDeployment": {
          "readOnly": true,
          "description": "Output only. Name of the patch deployment that created this patch job.",
          "type": "string"
        },
        "description": {
          "description": "Description of the patch job. Length of the description is limited to 1024 characters.",
          "type": "string"
        },
        "duration": {
          "description": "Duration of the patch job. After the duration ends, the patch job times out.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudOsconfigV2beta__OperationMetadata": {
      "type": "object",
      "id": "GoogleCloudOsconfigV2beta__OperationMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "WeeklySchedule": {
      "description": "Represents a weekly schedule.",
      "id": "WeeklySchedule",
      "properties": {
        "dayOfWeek": {
          "description": "Required. Day of the week.",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "PatchJobInstanceDetails": {
      "description": "Patch details for a VM instance. For more information about reviewing VM instance details, see [Listing all VM instance details for a specific patch job](https://cloud.google.com/compute/docs/os-patch-management/manage-patch-jobs#list-instance-details).",
      "id": "PatchJobInstanceDetails",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "PATCH_STATE_UNSPECIFIED",
            "PENDING",
            "INACTIVE",
            "NOTIFIED",
            "STARTED",
            "DOWNLOADING_PATCHES",
            "APPLYING_PATCHES",
            "REBOOTING",
            "SUCCEEDED",
            "SUCCEEDED_REBOOT_REQUIRED",
            "FAILED",
            "ACKED",
            "TIMED_OUT",
            "RUNNING_PRE_PATCH_STEP",
            "RUNNING_POST_PATCH_STEP",
            "NO_AGENT_DETECTED",
            "SKIPPED"
          ],
          "description": "Current state of instance patch.",
          "enumDescriptions": [
            "Unspecified.",
            "The instance is not yet notified.",
            "Instance is inactive and cannot be patched.",
            "The instance is notified that it should be patched.",
            "The instance has started the patching process.",
            "The instance is downloading patches.",
            "The instance is applying patches.",
            "The instance is rebooting.",
            "The instance has completed applying patches.",
            "The instance has completed applying patches but a reboot is required.",
            "The instance has failed to apply the patch.",
            "The instance acked the notification and will start shortly.",
            "The instance exceeded the time out while applying the patch.",
            "The instance is running the pre-patch step.",
            "The instance is running the post-patch step.",
            "The service could not detect the presence of the agent. Check to ensure that the agent is installed, running, and able to communicate with the service.",
            "The instance was skipped during patching due to one of two reasons: 1. The instance runs Container-Optimized OS (COS), which cannot be patched. 2. The patch job's configuration prohibits patching on Managed Instance Groups (MIGs), and the instance is part of one."
          ],
          "type": "string"
        },
        "instanceSystemId": {
          "type": "string",
          "description": "The unique identifier for the instance. This identifier is defined by the server."
        },
        "failureReason": {
          "description": "If the patch fails, this field provides the reason.",
          "type": "string"
        },
        "attemptCount": {
          "type": "string",
          "description": "The number of times the agent that the agent attempts to apply the patch.",
          "format": "int64"
        },
        "name": {
          "description": "The instance name in the form `projects/*/zones/*/instances/*`",
          "type": "string"
        }
      }
    },
    "YumRepository": {
      "description": "Represents a single Yum package repository. This repository is added to a repo file that is stored at `/etc/yum.repos.d/google_osconfig.repo`.",
      "properties": {
        "baseUrl": {
          "type": "string",
          "description": "Required. The location of the repository directory."
        },
        "displayName": {
          "description": "The display name of the repository.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. A one word, unique name for this repository. This is the `repo id` in the Yum config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for guest policy conflicts."
        },
        "gpgKeys": {
          "items": {
            "type": "string"
          },
          "description": "URIs of GPG keys.",
          "type": "array"
        }
      },
      "id": "YumRepository",
      "type": "object"
    },
    "SoftwareRecipeStepExtractArchive": {
      "id": "SoftwareRecipeStepExtractArchive",
      "type": "object",
      "description": "Extracts an archive of the type specified in the specified directory.",
      "properties": {
        "destination": {
          "description": "Directory to extract archive to. Defaults to `/` on Linux or `C:\\` on Windows.",
          "type": "string"
        },
        "artifactId": {
          "type": "string",
          "description": "Required. The id of the relevant artifact in the recipe."
        },
        "type": {
          "enumDescriptions": [
            "Indicates that the archive type isn't specified.",
            "Indicates that the archive is a tar archive with no encryption.",
            "Indicates that the archive is a tar archive with gzip encryption.",
            "Indicates that the archive is a tar archive with bzip encryption.",
            "Indicates that the archive is a tar archive with lzma encryption.",
            "Indicates that the archive is a tar archive with xz encryption.",
            "Indicates that the archive is a zip archive."
          ],
          "enum": [
            "ARCHIVE_TYPE_UNSPECIFIED",
            "TAR",
            "TAR_GZIP",
            "TAR_BZIP",
            "TAR_LZMA",
            "TAR_XZ",
            "ZIP"
          ],
          "type": "string",
          "description": "Required. The type of the archive to extract."
        }
      }
    },
    "AssignmentOsType": {
      "properties": {
        "osArchitecture": {
          "description": "Targets VM instances with OS Inventory enabled and having the following OS architecture.",
          "type": "string"
        },
        "osVersion": {
          "type": "string",
          "description": "Targets VM instances with OS Inventory enabled and having the following following OS version."
        },
        "osShortName": {
          "type": "string",
          "description": "Targets VM instances with OS Inventory enabled and having the following OS short name, for example \"debian\" or \"windows\"."
        }
      },
      "id": "AssignmentOsType",
      "description": "Defines the criteria for selecting VM Instances by OS type.",
      "type": "object"
    },
    "PackageRepository": {
      "type": "object",
      "properties": {
        "zypper": {
          "description": "A Zypper Repository.",
          "$ref": "ZypperRepository"
        },
        "apt": {
          "$ref": "AptRepository",
          "description": "An Apt Repository."
        },
        "yum": {
          "description": "A Yum Repository.",
          "$ref": "YumRepository"
        },
        "goo": {
          "$ref": "GooRepository",
          "description": "A Goo Repository."
        }
      },
      "id": "PackageRepository",
      "description": "A package repository."
    },
    "PausePatchDeploymentRequest": {
      "properties": {},
      "type": "object",
      "description": "A request message for pausing a patch deployment.",
      "id": "PausePatchDeploymentRequest"
    },
    "SoftwareRecipeStepExecFile": {
      "id": "SoftwareRecipeStepExecFile",
      "properties": {
        "localPath": {
          "type": "string",
          "description": "The absolute path of the file on the local filesystem."
        },
        "artifactId": {
          "description": "The id of the relevant artifact in the recipe.",
          "type": "string"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Arguments to be passed to the provided executable."
        },
        "allowedExitCodes": {
          "description": "Defaults to [0]. A list of possible return values that the program can return to indicate a success.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "type": "object",
      "description": "Executes an artifact or local file."
    },
    "AssignmentGroupLabel": {
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Google Compute Engine instance labels that must be present for an instance to be included in this assignment group.",
          "type": "object"
        }
      },
      "id": "AssignmentGroupLabel",
      "description": "Represents a group of VM intances that can be identified as having all these labels, for example \"env=prod and app=web\"."
    },
    "SoftwareRecipeStepInstallDpkg": {
      "id": "SoftwareRecipeStepInstallDpkg",
      "properties": {
        "artifactId": {
          "type": "string",
          "description": "Required. The id of the relevant artifact in the recipe."
        }
      },
      "description": "Installs a deb via dpkg.",
      "type": "object"
    },
    "EffectiveGuestPolicy": {
      "properties": {
        "packageRepositories": {
          "items": {
            "$ref": "EffectiveGuestPolicySourcedPackageRepository"
          },
          "type": "array",
          "description": "List of package repository configurations assigned to the VM instance."
        },
        "softwareRecipes": {
          "description": "List of recipes assigned to the VM instance.",
          "type": "array",
          "items": {
            "$ref": "EffectiveGuestPolicySourcedSoftwareRecipe"
          }
        },
        "packages": {
          "description": "List of package configurations assigned to the VM instance.",
          "type": "array",
          "items": {
            "$ref": "EffectiveGuestPolicySourcedPackage"
          }
        }
      },
      "type": "object",
      "id": "EffectiveGuestPolicy",
      "description": "The effective guest policy that applies to a VM instance."
    },
    "CancelPatchJobRequest": {
      "id": "CancelPatchJobRequest",
      "description": "Message for canceling a patch job.",
      "type": "object",
      "properties": {}
    },
    "PatchInstanceFilter": {
      "id": "PatchInstanceFilter",
      "properties": {
        "zones": {
          "type": "array",
          "description": "Targets VM instances in ANY of these zones. Leave empty to target VM instances in any zone.",
          "items": {
            "type": "string"
          }
        },
        "instances": {
          "description": "Targets any of the VM instances specified. Instances are specified by their URI in the form `zones/[ZONE]/instances/[INSTANCE_NAME]`, `projects/[PROJECT_ID]/zones/[ZONE]/instances/[INSTANCE_NAME]`, or `https://www.googleapis.com/compute/v1/projects/[PROJECT_ID]/zones/[ZONE]/instances/[INSTANCE_NAME]`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "instanceNamePrefixes": {
          "description": "Targets VMs whose name starts with one of these prefixes. Similar to labels, this is another way to group VMs when targeting configs, for example prefix=\"prod-\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "groupLabels": {
          "description": "Targets VM instances matching at least one of these label sets. This allows targeting of disparate groups, for example \"env=prod or env=staging\".",
          "type": "array",
          "items": {
            "$ref": "PatchInstanceFilterGroupLabel"
          }
        },
        "all": {
          "type": "boolean",
          "description": "Target all VM instances in the project. If true, no other criteria is permitted."
        }
      },
      "description": "A filter to target VM instances for patching. The targeted VMs must meet all criteria specified. So if both labels and zones are specified, the patch job targets only VMs with those labels and in those zones.",
      "type": "object"
    },
    "SoftwareRecipeStepRunScript": {
      "properties": {
        "script": {
          "description": "Required. The shell script to be executed.",
          "type": "string"
        },
        "allowedExitCodes": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "Return codes that indicate that the software installed or updated successfully. Behaviour defaults to [0]"
        },
        "interpreter": {
          "type": "string",
          "enum": [
            "INTERPRETER_UNSPECIFIED",
            "SHELL",
            "POWERSHELL"
          ],
          "enumDescriptions": [
            "Default value for ScriptType.",
            "Indicates that the script is run with `/bin/sh` on Linux and `cmd` on windows.",
            "Indicates that the script is run with powershell."
          ],
          "description": "The script interpreter to use to run the script. If no interpreter is specified the script is executed directly, which likely only succeed for scripts with [shebang lines](https://en.wikipedia.org/wiki/Shebang_\\(Unix\\))."
        }
      },
      "description": "Runs a script through an interpreter.",
      "id": "SoftwareRecipeStepRunScript",
      "type": "object"
    },
    "ListPatchJobsResponse": {
      "type": "object",
      "id": "ListPatchJobsResponse",
      "properties": {
        "patchJobs": {
          "items": {
            "$ref": "PatchJob"
          },
          "type": "array",
          "description": "The list of patch jobs."
        },
        "nextPageToken": {
          "description": "A pagination token that can be used to get the next page of results.",
          "type": "string"
        }
      },
      "description": "A response message for listing patch jobs."
    },
    "EffectiveGuestPolicySourcedSoftwareRecipe": {
      "description": "A guest policy recipe including its source.",
      "id": "EffectiveGuestPolicySourcedSoftwareRecipe",
      "type": "object",
      "properties": {
        "softwareRecipe": {
          "description": "A software recipe to configure on the VM instance.",
          "$ref": "SoftwareRecipe"
        },
        "source": {
          "type": "string",
          "description": "Name of the guest policy providing this config."
        }
      }
    },
    "SoftwareRecipeStepInstallRpm": {
      "type": "object",
      "description": "Installs an rpm file via the rpm utility.",
      "id": "SoftwareRecipeStepInstallRpm",
      "properties": {
        "artifactId": {
          "type": "string",
          "description": "Required. The id of the relevant artifact in the recipe."
        }
      }
    },
    "GoogleCloudOsconfigV2__OperationMetadata": {
      "type": "object",
      "id": "GoogleCloudOsconfigV2__OperationMetadata",
      "properties": {
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "MonthlySchedule": {
      "properties": {
        "weekDayOfMonth": {
          "description": "Required. Week day in a month.",
          "$ref": "WeekDayOfMonth"
        },
        "monthDay": {
          "format": "int32",
          "description": "Required. One day of the month. 1-31 indicates the 1st to the 31st day. -1 indicates the last day of the month. Months without the target day will be skipped. For example, a schedule to run \"every month on the 31st\" will not run in February, April, June, etc.",
          "type": "integer"
        }
      },
      "id": "MonthlySchedule",
      "description": "Represents a monthly schedule. An example of a valid monthly schedule is \"on the third Tuesday of the month\" or \"on the 15th of the month\".",
      "type": "object"
    },
    "ListGuestPoliciesResponse": {
      "id": "ListGuestPoliciesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token that can be used to get the next page of guest policies."
        },
        "guestPolicies": {
          "description": "The list of GuestPolicies.",
          "items": {
            "$ref": "GuestPolicy"
          },
          "type": "array"
        }
      },
      "description": "A response message for listing guest policies."
    },
    "EffectiveGuestPolicySourcedPackageRepository": {
      "id": "EffectiveGuestPolicySourcedPackageRepository",
      "properties": {
        "source": {
          "description": "Name of the guest policy providing this config.",
          "type": "string"
        },
        "packageRepository": {
          "description": "A software package repository to configure on the VM instance.",
          "$ref": "PackageRepository"
        }
      },
      "description": "A guest policy package repository including its source.",
      "type": "object"
    },
    "PatchJobInstanceDetailsSummary": {
      "description": "A summary of the current patch state across all instances that this patch job affects. Contains counts of instances in different states. These states map to `InstancePatchState`. List patch job instance details to see the specific states of each instance.",
      "properties": {
        "applyingPatchesInstanceCount": {
          "format": "int64",
          "description": "Number of instances that are applying patches.",
          "type": "string"
        },
        "timedOutInstanceCount": {
          "description": "Number of instances that exceeded the time out while applying the patch.",
          "type": "string",
          "format": "int64"
        },
        "notifiedInstanceCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of instances notified about patch job."
        },
        "ackedInstanceCount": {
          "description": "Number of instances that have acked and will start shortly.",
          "type": "string",
          "format": "int64"
        },
        "postPatchStepInstanceCount": {
          "type": "string",
          "description": "Number of instances that are running the post-patch step.",
          "format": "int64"
        },
        "noAgentDetectedInstanceCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of instances that do not appear to be running the agent. Check to ensure that the agent is installed, running, and able to communicate with the service."
        },
        "succeededRebootRequiredInstanceCount": {
          "description": "Number of instances that require reboot.",
          "format": "int64",
          "type": "string"
        },
        "downloadingPatchesInstanceCount": {
          "description": "Number of instances that are downloading patches.",
          "type": "string",
          "format": "int64"
        },
        "inactiveInstanceCount": {
          "format": "int64",
          "description": "Number of instances that are inactive.",
          "type": "string"
        },
        "startedInstanceCount": {
          "description": "Number of instances that have started.",
          "format": "int64",
          "type": "string"
        },
        "succeededInstanceCount": {
          "type": "string",
          "description": "Number of instances that have completed successfully.",
          "format": "int64"
        },
        "skippedInstanceCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of instances that were skipped during patching."
        },
        "prePatchStepInstanceCount": {
          "format": "int64",
          "description": "Number of instances that are running the pre-patch step.",
          "type": "string"
        },
        "pendingInstanceCount": {
          "description": "Number of instances pending patch job.",
          "format": "int64",
          "type": "string"
        },
        "failedInstanceCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of instances that failed."
        },
        "rebootingInstanceCount": {
          "format": "int64",
          "description": "Number of instances rebooting.",
          "type": "string"
        }
      },
      "id": "PatchJobInstanceDetailsSummary",
      "type": "object"
    },
    "GcsObject": {
      "properties": {
        "object": {
          "description": "Required. Name of the Google Cloud Storage object.",
          "type": "string"
        },
        "generationNumber": {
          "description": "Required. Generation number of the Google Cloud Storage object. This is used to ensure that the ExecStep specified by this PatchJob does not change.",
          "type": "string",
          "format": "int64"
        },
        "bucket": {
          "type": "string",
          "description": "Required. Bucket of the Google Cloud Storage object."
        }
      },
      "description": "Google Cloud Storage object representation.",
      "type": "object",
      "id": "GcsObject"
    },
    "PatchInstanceFilterGroupLabel": {
      "id": "PatchInstanceFilterGroupLabel",
      "properties": {
        "labels": {
          "description": "Compute Engine instance labels that must be present for a VM instance to be targeted by this filter.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Represents a group of VMs that can be identified as having all these labels, for example \"env=prod and app=web\"."
    },
    "SoftwareRecipeStepInstallMsi": {
      "description": "Installs an MSI file.",
      "type": "object",
      "id": "SoftwareRecipeStepInstallMsi",
      "properties": {
        "artifactId": {
          "type": "string",
          "description": "Required. The id of the relevant artifact in the recipe."
        },
        "allowedExitCodes": {
          "type": "array",
          "description": "Return codes that indicate that the software installed or updated successfully. Behaviour defaults to [0]",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "flags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The flags to use when installing the MSI defaults to [\"/i\"] (i.e. the install flag)."
        }
      }
    },
    "MessageSet": {
      "type": "object",
      "deprecated": true,
      "id": "MessageSet",
      "description": "This is proto2's version of MessageSet. DEPRECATED: DO NOT USE FOR NEW FIELDS. If you are using editions or proto2, please make your own extendable messages for your use case. If you are using proto3, please use `Any` instead. MessageSet was the implementation of extensions for proto1. When proto2 was introduced, extensions were implemented as a first-class feature. This schema for MessageSet was meant to be a \"bridge\" solution to migrate MessageSet-bearing messages from proto1 to proto2. This schema has been open-sourced only to facilitate the migration of Google products with MessageSet-bearing messages to open-source environments.",
      "properties": {}
    },
    "ExecutePatchJobRequest": {
      "properties": {
        "dryRun": {
          "description": "If this patch is a dry-run only, instances are contacted but will do nothing.",
          "type": "boolean"
        },
        "rollout": {
          "description": "Rollout strategy of the patch job.",
          "$ref": "PatchRollout"
        },
        "patchConfig": {
          "description": "Patch configuration being applied. If omitted, instances are patched using the default configurations.",
          "$ref": "PatchConfig"
        },
        "displayName": {
          "type": "string",
          "description": "Display name for this patch job. This does not have to be unique."
        },
        "description": {
          "type": "string",
          "description": "Description of the patch job. Length of the description is limited to 1024 characters."
        },
        "instanceFilter": {
          "$ref": "PatchInstanceFilter",
          "description": "Required. Instances to patch, either explicitly or filtered by some criteria such as zone or labels."
        },
        "duration": {
          "description": "Duration of the patch job. After the duration ends, the patch job times out.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "ExecutePatchJobRequest",
      "description": "A request message to initiate patching across Compute Engine instances.",
      "type": "object"
    },
    "ExecStep": {
      "description": "A step that runs an executable for a PatchJob.",
      "type": "object",
      "id": "ExecStep",
      "properties": {
        "windowsExecStepConfig": {
          "$ref": "ExecStepConfig",
          "description": "The ExecStepConfig for all Windows VMs targeted by the PatchJob."
        },
        "linuxExecStepConfig": {
          "description": "The ExecStepConfig for all Linux VMs targeted by the PatchJob.",
          "$ref": "ExecStepConfig"
        }
      }
    },
    "WeekDayOfMonth": {
      "id": "WeekDayOfMonth",
      "type": "object",
      "properties": {
        "dayOffset": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Represents the number of days before or after the given week day of month that the patch deployment is scheduled for. For example if `week_ordinal` and `day_of_week` values point to the second day of the month and this `day_offset` value is set to `3`, the patch deployment takes place three days after the second Tuesday of the month. If this value is negative, for example -5, the patches are deployed five days before before the second Tuesday of the month. Allowed values are in range [-30, 30]."
        },
        "dayOfWeek": {
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "Required. A day of the week.",
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        },
        "weekOrdinal": {
          "type": "integer",
          "description": "Required. Week number in a month. 1-4 indicates the 1st to 4th week of the month. -1 indicates the last week of the month.",
          "format": "int32"
        }
      },
      "description": "Represents one week day in a month. An example is \"the 4th Sunday\"."
    },
    "PatchConfig": {
      "description": "Patch configuration specifications. Contains details on how to apply the patch(es) to a VM instance.",
      "properties": {
        "zypper": {
          "description": "Zypper update settings. Use this setting to override the default `zypper` patch rules.",
          "$ref": "ZypperSettings"
        },
        "apt": {
          "description": "Apt update settings. Use this setting to override the default `apt` patch rules.",
          "$ref": "AptSettings"
        },
        "windowsUpdate": {
          "$ref": "WindowsUpdateSettings",
          "description": "Windows update settings. Use this override the default windows patch rules."
        },
        "yum": {
          "description": "Yum update settings. Use this setting to override the default `yum` patch rules.",
          "$ref": "YumSettings"
        },
        "preStep": {
          "$ref": "ExecStep",
          "description": "The `ExecStep` to run before the patch update."
        },
        "skipUnpatchableVms": {
          "type": "boolean",
          "description": "Optional. Enables enhanced reporting for the patch job: 1. The patch job skips instances that cannot be patched and reports them as `SKIPPED`. An instance cannot be patched for two reasons: 1. The instance runs Container-Optimized OS (COS), which cannot be patched. 2. The instance is part of a managed instance group (MIG), and patching MIG instances is disabled in the patch job's configuration (PatchConfig.migInstancesAllowed is `false`). 2. The patch job is reported as `SUCCEEDED` if it completes without errors, even if some instances are `SKIPPED`. 3. The patch job is reported as `COMPLETED_WITH_INACTIVE_VMS` if it completes without errors, but does not patch instances that are `INACTIVE`."
        },
        "postStep": {
          "$ref": "ExecStep",
          "description": "The `ExecStep` to run after the patch update."
        },
        "goo": {
          "description": "Goo update settings. Use this setting to override the default `goo` patch rules.",
          "$ref": "GooSettings"
        },
        "migInstancesAllowed": {
          "description": "Allows the patch job to run on Managed instance groups (MIGs).",
          "type": "boolean"
        },
        "rebootConfig": {
          "type": "string",
          "enumDescriptions": [
            "The default behavior is DEFAULT.",
            "The agent decides if a reboot is necessary by checking signals such as registry keys on Windows or `/var/run/reboot-required` on APT based systems. On RPM based systems, a set of core system package install times are compared with system boot time.",
            "Always reboot the machine after the update completes.",
            "Never reboot the machine after the update completes."
          ],
          "enum": [
            "REBOOT_CONFIG_UNSPECIFIED",
            "DEFAULT",
            "ALWAYS",
            "NEVER"
          ],
          "description": "Post-patch reboot settings."
        }
      },
      "id": "PatchConfig",
      "type": "object"
    },
    "Package": {
      "id": "Package",
      "description": "Package is a reference to the software package to be installed or removed. The agent on the VM instance uses the system package manager to apply the config. These are the commands that the agent uses to install or remove packages. Apt install: `apt-get update && apt-get -y install package1 package2 package3` remove: `apt-get -y remove package1 package2 package3` Yum install: `yum -y install package1 package2 package3` remove: `yum -y remove package1 package2 package3` Zypper install: `zypper install package1 package2 package3` remove: `zypper rm package1 package2` Googet install: `googet -noconfirm install package1 package2 package3` remove: `googet -noconfirm remove package1 package2 package3`",
      "type": "object",
      "properties": {
        "manager": {
          "type": "string",
[...]
