{
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "canonicalName": "OS Config",
  "id": "osconfig:v1",
  "basePath": "",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/compute/docs/osconfig/rest",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "patchDeployments": {
          "methods": {
            "pause": {
              "path": "v1/{+name}:pause",
              "httpMethod": "POST",
              "id": "osconfig.projects.patchDeployments.pause",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/patchDeployments/{patchDeploymentsId}:pause",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "PausePatchDeploymentRequest"
              },
              "description": "Change state of patch deployment to \"PAUSED\". Patch deployment in paused state doesn't generate patch jobs.",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`.",
                  "required": true
                }
              },
              "response": {
                "$ref": "PatchDeployment"
              }
            },
            "create": {
              "httpMethod": "POST",
              "response": {
                "$ref": "PatchDeployment"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Create an OS Config patch deployment.",
              "flatPath": "v1/projects/{projectsId}/patchDeployments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/patchDeployments",
              "request": {
                "$ref": "PatchDeployment"
              },
              "id": "osconfig.projects.patchDeployments.create",
              "parameters": {
                "patchDeploymentId": {
                  "description": "Required. A name for the patch deployment in the project. When creating a name the following rules apply: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the project.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The project to apply this patch deployment to in the form `projects/*`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              }
            },
            "resume": {
              "response": {
                "$ref": "PatchDeployment"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "required": true
                }
              },
              "request": {
                "$ref": "ResumePatchDeploymentRequest"
              },
              "flatPath": "v1/projects/{projectsId}/patchDeployments/{patchDeploymentsId}:resume",
              "path": "v1/{+name}:resume",
              "id": "osconfig.projects.patchDeployments.resume",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Change state of patch deployment back to \"ACTIVE\". Patch deployment in active state continues to generate patch jobs.",
              "httpMethod": "POST"
            },
            "list": {
              "path": "v1/{+parent}/patchDeployments",
              "response": {
                "$ref": "ListPatchDeploymentsResponse"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name of the parent in the form `projects/*`."
                },
                "pageSize": {
                  "description": "Optional. The maximum number of patch deployments to return. Default is 100.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A pagination token returned from a previous call to ListPatchDeployments that indicates where this listing should continue from.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/patchDeployments",
              "httpMethod": "GET",
              "id": "osconfig.projects.patchDeployments.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "Get a page of OS Config patch deployments."
            },
            "patch": {
              "response": {
                "$ref": "PatchDeployment"
              },
              "description": "Update an OS Config patch deployment.",
              "flatPath": "v1/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Field mask that controls which fields of the patch deployment should be updated.",
                  "format": "google-fieldmask"
                },
                "name": {
                  "location": "path",
                  "description": "Unique name for the patch deployment resource in a project. The patch deployment name is in the form: `projects/{project_id}/patchDeployments/{patch_deployment_id}`. This field is ignored when you create a new patch deployment.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "osconfig.projects.patchDeployments.patch",
              "request": {
                "$ref": "PatchDeployment"
              },
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`.",
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "PatchDeployment"
              },
              "flatPath": "v1/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "description": "Get an OS Config patch deployment.",
              "id": "osconfig.projects.patchDeployments.get",
              "httpMethod": "GET"
            },
            "delete": {
              "flatPath": "v1/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
              "description": "Delete an OS Config patch deployment.",
              "response": {
                "$ref": "Empty"
              },
              "id": "osconfig.projects.patchDeployments.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "locations": {
          "resources": {
            "global": {
              "methods": {
                "updateProjectFeatureSettings": {
                  "response": {
                    "$ref": "ProjectFeatureSettings"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "UpdateProjectFeatureSettings sets the VM Manager features for a project.",
                  "flatPath": "v1/projects/{projectsId}/locations/global/projectFeatureSettings",
                  "httpMethod": "PATCH",
                  "id": "osconfig.projects.locations.global.updateProjectFeatureSettings",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/global/projectFeatureSettings$",
                      "location": "path",
                      "description": "Required. Immutable. Name specifies the URL for the ProjectFeatureSettings resource: projects/project_id/locations/global/projectFeatureSettings."
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Field mask that controls which fields of the ProjectFeatureSettings should be updated.",
                      "format": "google-fieldmask"
                    }
                  },
                  "request": {
                    "$ref": "ProjectFeatureSettings"
                  }
                },
                "getProjectFeatureSettings": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/global/projectFeatureSettings$",
                      "description": "Required. Name specifies the URL for the ProjectFeatureSettings resource: projects/project_id/locations/global/projectFeatureSettings."
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "GetProjectFeatureSettings returns the VM Manager feature settings for a project.",
                  "response": {
                    "$ref": "ProjectFeatureSettings"
                  },
                  "id": "osconfig.projects.locations.global.getProjectFeatureSettings",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/global/projectFeatureSettings"
                }
              }
            },
            "instances": {
              "resources": {
                "vulnerabilityReports": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "id": "osconfig.projects.locations.instances.vulnerabilityReports.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "VulnerabilityReport"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/vulnerabilityReport$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. API resource name for vulnerability resource. Format: `projects/{project}/locations/{location}/instances/{instance}/vulnerabilityReport` For `{project}`, either `project-number` or `project-id` can be provided. For `{instance}`, either Compute Engine `instance-id` or `instance-name` can be provided.",
                          "required": true
                        }
                      },
                      "description": "Gets the vulnerability report for the specified VM instance. Only VMs with inventory data have vulnerability reports associated with them.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/vulnerabilityReport",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/vulnerabilityReports",
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "This field supports filtering by the severity level for the vulnerability. For a list of severity levels, see [Severity levels for vulnerabilities](https://cloud.google.com/container-analysis/docs/container-scanning-overview#severity_levels_for_vulnerabilities). The filter field follows the rules described in the [AIP-160](https://google.aip.dev/160) guidelines as follows: + **Filter for a specific severity type**: you can list reports that contain vulnerabilities that are classified as medium by specifying `vulnerabilities.details.severity:MEDIUM`. + **Filter for a range of severities** : you can list reports that have vulnerabilities that are classified as critical or high by specifying `vulnerabilities.details.severity:HIGH OR vulnerabilities.details.severity:CRITICAL`"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "The maximum number of results to return."
                        },
                        "pageToken": {
                          "description": "A pagination token returned from a previous call to `ListVulnerabilityReports` that indicates where this listing should continue from.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The parent resource name. Format: `projects/{project}/locations/{location}/instances/-` For `{project}`, either `project-number` or `project-id` can be provided.",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$"
                        }
                      },
                      "description": "List vulnerability reports for all VM instances in the specified zone.",
                      "path": "v1/{+parent}/vulnerabilityReports",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListVulnerabilityReportsResponse"
                      },
                      "id": "osconfig.projects.locations.instances.vulnerabilityReports.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET"
                    }
                  }
                },
                "osPolicyAssignments": {
                  "resources": {
                    "reports": {
                      "methods": {
                        "get": {
                          "id": "osconfig.projects.locations.instances.osPolicyAssignments.reports.get",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/osPolicyAssignments/{osPolicyAssignmentsId}/report",
                          "description": "Get the OS policy assignment report for the specified Compute Engine VM instance.",
                          "response": {
                            "$ref": "OSPolicyAssignmentReport"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}",
                          "parameters": {
                            "name": {
                              "description": "Required. API resource name for OS policy assignment report. Format: `/projects/{project}/locations/{location}/instances/{instance}/osPolicyAssignments/{assignment}/report` For `{project}`, either `project-number` or `project-id` can be provided. For `{instance_id}`, either Compute Engine `instance-id` or `instance-name` can be provided. For `{assignment_id}`, the OSPolicyAssignment id must be provided.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/osPolicyAssignments/[^/]+/report$",
                              "required": true,
                              "location": "path"
                            }
                          }
                        },
                        "list": {
                          "parameters": {
                            "pageToken": {
                              "location": "query",
                              "description": "A pagination token returned from a previous call to the `ListOSPolicyAssignmentReports` method that indicates where this listing should continue from.",
                              "type": "string"
                            },
                            "parent": {
                              "required": true,
                              "type": "string",
                              "description": "Required. The parent resource name. Format: `projects/{project}/locations/{location}/instances/{instance}/osPolicyAssignments/{assignment}/reports` For `{project}`, either `project-number` or `project-id` can be provided. For `{instance}`, either `instance-name`, `instance-id`, or `-` can be provided. If '-' is provided, the response will include OSPolicyAssignmentReports for all instances in the project/location. For `{assignment}`, either `assignment-id` or `-` can be provided. If '-' is provided, the response will include OSPolicyAssignmentReports for all OSPolicyAssignments in the project/location. Either {instance} or {assignment} must be `-`. For example: `projects/{project}/locations/{location}/instances/{instance}/osPolicyAssignments/-/reports` returns all reports for the instance `projects/{project}/locations/{location}/instances/-/osPolicyAssignments/{assignment-id}/reports` returns all the reports for the given assignment across all instances. `projects/{project}/locations/{location}/instances/-/osPolicyAssignments/-/reports` returns all the reports for all assignments across all instances.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/osPolicyAssignments/[^/]+$",
                              "location": "path"
                            },
                            "filter": {
                              "type": "string",
                              "description": "If provided, this field specifies the criteria that must be met by the `OSPolicyAssignmentReport` API resource that is included in the response.",
                              "location": "query"
                            },
                            "pageSize": {
                              "description": "The maximum number of results to return.",
                              "format": "int32",
                              "location": "query",
                              "type": "integer"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/reports",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/osPolicyAssignments/{osPolicyAssignmentsId}/reports",
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "List OS policy assignment reports for all Compute Engine VM instances in the specified zone.",
                          "response": {
                            "$ref": "ListOSPolicyAssignmentReportsResponse"
                          },
                          "httpMethod": "GET",
                          "id": "osconfig.projects.locations.instances.osPolicyAssignments.reports.list"
                        }
                      }
                    }
                  }
                },
                "inventories": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "id": "osconfig.projects.locations.instances.inventories.get",
                      "response": {
                        "$ref": "Inventory"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/inventory",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Get inventory data for the specified VM instance. If the VM has no associated inventory, the message `NOT_FOUND` is returned.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "Required. API resource name for inventory resource. Format: `projects/{project}/locations/{location}/instances/{instance}/inventory` For `{project}`, either `project-number` or `project-id` can be provided. For `{instance}`, either Compute Engine `instance-id` or `instance-name` can be provided.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/inventory$"
                        },
                        "view": {
                          "description": "Inventory view indicating what information should be included in the inventory resource. If unspecified, the default view is BASIC.",
                          "enumDescriptions": [
                            "The default value. The API defaults to the BASIC view.",
                            "Returns the basic inventory information that includes `os_info`.",
                            "Returns all fields."
                          ],
                          "location": "query",
                          "type": "string",
                          "enum": [
                            "INVENTORY_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ]
                        }
                      }
                    },
                    "list": {
                      "path": "v1/{+parent}/inventories",
                      "id": "osconfig.projects.locations.instances.inventories.list",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "A pagination token returned from a previous call to `ListInventories` that indicates where this listing should continue from.",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "location": "path",
                          "description": "Required. The parent resource name. Format: `projects/{project}/locations/{location}/instances/-` For `{project}`, either `project-number` or `project-id` can be provided.",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "The maximum number of results to return.",
                          "format": "int32"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "If provided, this field specifies the criteria that must be met by a `Inventory` API resource to be included in the response."
                        },
                        "view": {
                          "description": "Inventory view indicating what information should be included in the inventory resource. If unspecified, the default view is BASIC.",
                          "type": "string",
                          "enum": [
                            "INVENTORY_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "location": "query",
                          "enumDescriptions": [
                            "The default value. The API defaults to the BASIC view.",
                            "Returns the basic inventory information that includes `os_info`.",
                            "Returns all fields."
                          ]
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/inventories",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "List inventory data for all VM instances in the specified zone.",
                      "response": {
                        "$ref": "ListInventoriesResponse"
                      }
                    }
                  }
                }
              }
            },
            "osPolicyAssignments": {
              "methods": {
                "get": {
                  "id": "osconfig.projects.locations.osPolicyAssignments.get",
                  "response": {
                    "$ref": "OSPolicyAssignment"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of OS policy assignment. Format: `projects/{project}/locations/{location}/osPolicyAssignments/{os_policy_assignment}@{revisionId}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}",
                  "description": "Retrieve an existing OS policy assignment. This method always returns the latest revision. In order to retrieve a previous revision of the assignment, also provide the revision ID in the `name` parameter.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "osconfig.projects.locations.osPolicyAssignments.patch",
                  "description": "Update an existing OS policy assignment. This method creates a new revision of the OS policy assignment. This method returns a long running operation (LRO) that contains the rollout details. The rollout can be cancelled by cancelling the LRO. For more information, see [Method: projects.locations.osPolicyAssignments.operations.cancel](https://cloud.google.com/compute/docs/osconfig/rest/v1/projects.locations.osPolicyAssignments.operations/cancel).",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is only idempotent if a `request_id` is provided.",
                      "type": "string",
                      "location": "query"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Field mask that controls which fields of the assignment should be updated.",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "type": "string",
                      "description": "Resource name. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id}` This field is ignored when you create an OS policy assignment.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+$",
                      "location": "path"
                    },
                    "allowMissing": {
                      "description": "Optional. If set to true, and the OS policy assignment is not found, a new OS policy assignment will be created. In this situation, `update_mask` is ignored.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "OSPolicyAssignment"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Delete the OS policy assignment. This method creates a new revision of the OS policy assignment. This method returns a long running operation (LRO) that contains the rollout details. The rollout can be cancelled by cancelling the LRO. If the LRO completes and is not cancelled, all revisions associated with the OS policy assignment are deleted. For more information, see [Method: projects.locations.osPolicyAssignments.operations.cancel](https://cloud.google.com/compute/docs/osconfig/rest/v1/projects.locations.osPolicyAssignments.operations/cancel).",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the OS policy assignment to be deleted",
                      "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+$"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is only idempotent if a `request_id` is provided.",
                      "type": "string"
                    }
                  },
                  "id": "osconfig.projects.locations.osPolicyAssignments.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}"
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments",
                  "httpMethod": "GET",
                  "id": "osconfig.projects.locations.osPolicyAssignments.list",
                  "response": {
                    "$ref": "ListOSPolicyAssignmentsResponse"
                  },
                  "path": "v1/{+parent}/osPolicyAssignments",
                  "description": "List the OS policy assignments under the parent resource. For each OS policy assignment, the latest revision is returned.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call to `ListOSPolicyAssignments` that indicates where this listing should continue from.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of assignments to return.",
                      "type": "integer",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent resource name.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "path": "v1/{+parent}/osPolicyAssignments",
                  "description": "Create an OS policy assignment. This method also creates the first revision of the OS policy assignment. This method returns a long running operation (LRO) that contains the rollout details. The rollout can be cancelled by cancelling the LRO. For more information, see [Method: projects.locations.osPolicyAssignments.operations.cancel](https://cloud.google.com/compute/docs/osconfig/rest/v1/projects.locations.osPolicyAssignments.operations/cancel).",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "osconfig.projects.locations.osPolicyAssignments.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is only idempotent if a `request_id` is provided.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name in the form: projects/{project}/locations/{location}. Note: Specify the zone of your VMs as the location.",
                      "required": true
                    },
                    "osPolicyAssignmentId": {
                      "location": "query",
                      "description": "Required. The logical name of the OS policy assignment in the project with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the project.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments",
                  "request": {
                    "$ref": "OSPolicyAssignment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "listRevisions": {
                  "response": {
                    "$ref": "ListOSPolicyAssignmentRevisionsResponse"
                  },
                  "id": "osconfig.projects.locations.osPolicyAssignments.listRevisions",
                  "httpMethod": "GET",
                  "path": "v1/{+name}:listRevisions",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}:listRevisions",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of revisions to return."
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+$",
                      "description": "Required. The name of the OS policy assignment to list revisions for.",
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A pagination token returned from a previous call to `ListOSPolicyAssignmentRevisions` that indicates where this listing should continue from."
                    }
                  },
                  "description": "List the OS policy assignment revisions for a given OS policy assignment."
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "id": "osconfig.projects.locations.osPolicyAssignments.operations.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "The name of the operation resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+/operations/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}/operations/{operationsId}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "cancel": {
                      "request": {
                        "$ref": "CancelOperationRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}/operations/{operationsId}:cancel",
                      "path": "v1/{+name}:cancel",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+/operations/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "The name of the operation resource to be cancelled."
                        }
                      },
                      "httpMethod": "POST",
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "osconfig.projects.locations.osPolicyAssignments.operations.cancel"
                    }
                  }
                }
              }
            }
          }
        },
        "patchJobs": {
          "resources": {
            "instanceDetails": {
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/patchJobs/{patchJobsId}/instanceDetails",
                  "description": "Get a list of instance details for a given patch job.",
                  "response": {
                    "$ref": "ListPatchJobInstanceDetailsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "osconfig.projects.patchJobs.instanceDetails.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of instance details records to return. Default is 100.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "A filter expression that filters results listed in the response. This field supports filtering results by instance zone, name, state, or `failure_reason`.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call that indicates where this listing should continue from.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/patchJobs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent for the instances are in the form of `projects/*/patchJobs/*`.",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+parent}/instanceDetails"
                }
              }
            }
          },
          "methods": {
            "list": {
              "id": "osconfig.projects.patchJobs.list",
              "httpMethod": "GET",
              "path": "v1/{+parent}/patchJobs",
              "description": "Get a list of patch jobs.",
              "response": {
                "$ref": "ListPatchJobsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "filter": {
                  "description": "If provided, this field specifies the criteria that must be met by patch jobs to be included in the response. Currently, filtering is only available on the patch_deployment field.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of instance status to return.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A pagination token returned from a previous call that indicates where this listing should continue from."
                },
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. In the form of `projects/*`",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/patchJobs"
            },
            "cancel": {
              "path": "v1/{+name}:cancel",
              "flatPath": "v1/projects/{projectsId}/patchJobs/{patchJobsId}:cancel",
              "response": {
                "$ref": "PatchJob"
              },
              "parameters": {
                "name": {
                  "description": "Required. Name of the patch in the form `projects/*/patchJobs/*`",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/patchJobs/[^/]+$",
                  "required": true
                }
              },
              "id": "osconfig.projects.patchJobs.cancel",
              "description": "Cancel a patch job. The patch job must be active. Canceled patch jobs cannot be restarted.",
              "request": {
                "$ref": "CancelPatchJobRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "osconfig.projects.patchJobs.get",
              "description": "Get the patch job. This can be used to track the progress of an ongoing patch job or review the details of completed jobs.",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the patch in the form `projects/*/patchJobs/*`",
                  "required": true,
                  "pattern": "^projects/[^/]+/patchJobs/[^/]+$"
                }
              },
              "flatPath": "v1/projects/{projectsId}/patchJobs/{patchJobsId}",
              "response": {
                "$ref": "PatchJob"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "execute": {
              "id": "osconfig.projects.patchJobs.execute",
              "description": "Patch VM instances by creating and running a patch job.",
              "parameters": {
                "parent": {
                  "description": "Required. The project in which to run this patch in the form `projects/*`",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/patchJobs:execute",
              "request": {
                "$ref": "ExecutePatchJobRequest"
              },
              "path": "v1/{+parent}/patchJobs:execute",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "PatchJob"
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        }
      }
    }
  },
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://osconfig.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east1"
    },
    {
      "endpointUrl": "https://osconfig.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east2"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://osconfig.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast2"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://osconfig.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://osconfig.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://osconfig.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://osconfig.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast3",
      "endpointUrl": "https://osconfig.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://osconfig.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://osconfig.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://osconfig.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://osconfig.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://osconfig.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://osconfig.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "endpointUrl": "https://osconfig.europe-west15.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west15"
    },
    {
      "endpointUrl": "https://osconfig.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "endpointUrl": "https://osconfig.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://osconfig.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://osconfig.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://osconfig.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "endpointUrl": "https://osconfig.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://osconfig.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://osconfig.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://osconfig.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://osconfig.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-east1"
    },
    {
      "endpointUrl": "https://osconfig.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://osconfig.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central2"
    },
    {
      "location": "us-central6",
      "endpointUrl": "https://osconfig.us-central6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://osconfig.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://osconfig.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "endpointUrl": "https://osconfig.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-south1"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://osconfig.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://osconfig.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://osconfig.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://osconfig.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west8"
    }
  ],
  "name": "osconfig",
  "revision": "20260924",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "title": "OS Config API",
  "schemas": {
    "OSPolicyResourceFile": {
      "type": "object",
      "id": "OSPolicyResourceFile",
      "description": "A remote or local file.",
      "properties": {
        "localPath": {
          "description": "A local path within the VM to use.",
          "type": "string"
        },
        "remote": {
          "description": "A generic remote file.",
          "$ref": "OSPolicyResourceFileRemote"
        },
        "gcs": {
          "description": "A Cloud Storage object.",
          "$ref": "OSPolicyResourceFileGcs"
        },
        "allowInsecure": {
          "type": "boolean",
          "description": "Defaults to false. When false, files are subject to validations based on the file type: Remote: A checksum must be specified. Cloud Storage: An object generation number must be specified."
        }
      }
    },
    "OSPolicyAssignment": {
      "description": "OS policy assignment is an API resource that is used to apply a set of OS policies to a dynamically targeted group of Compute Engine VM instances. An OS policy is used to define the desired state configuration for a Compute Engine VM instance through a set of configuration resources that provide capabilities such as installing or removing software packages, or executing a script. For more information about the OS policy resource definitions and examples, see [OS policy and OS policy assignment](https://cloud.google.com/compute/docs/os-configuration-management/working-with-os-policies).",
      "type": "object",
      "properties": {
        "deleted": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates that this revision deletes the OS policy assignment."
        },
        "baseline": {
          "readOnly": true,
          "description": "Output only. Indicates that this revision has been successfully rolled out in this zone and new VMs will be assigned OS policies from this revision. For a given OS policy assignment, there is only one revision with a value of `true` for this field.",
          "type": "boolean"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server generated unique id for the OS policy assignment resource."
        },
        "rollout": {
          "description": "Required. Rollout to deploy the OS policy assignment. A rollout is triggered in the following situations: 1) OSPolicyAssignment is created. 2) OSPolicyAssignment is updated and the update contains changes to one of the following fields: - instance_filter - os_policies 3) OSPolicyAssignment is deleted.",
          "$ref": "OSPolicyAssignmentRollout"
        },
        "etag": {
          "description": "The etag for this OS policy assignment. If this is provided on update, it must match the server's etag.",
          "type": "string"
        },
        "instanceFilter": {
          "description": "Required. Filter to select VMs.",
          "$ref": "OSPolicyAssignmentInstanceFilter"
        },
        "osPolicies": {
          "description": "Required. List of OS policies to be applied to the VMs.",
          "type": "array",
          "items": {
            "$ref": "OSPolicy"
          }
        },
        "rolloutState": {
          "description": "Output only. OS policy assignment rollout state",
          "readOnly": true,
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ]
        },
        "revisionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The assignment revision ID A new revision is committed whenever a rollout is triggered for a OS policy assignment"
        },
        "description": {
          "description": "OS policy assignment description. Length of the description is limited to 1024 characters.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id}` This field is ignored when you create an OS policy assignment."
        },
        "revisionCreateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp that the revision was created.",
          "type": "string"
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates that reconciliation is in progress for the revision. This value is `true` when the `rollout_state` is one of: * IN_PROGRESS * CANCELLING"
        }
      },
      "id": "OSPolicyAssignment"
    },
    "OSPolicyAssignmentRollout": {
      "id": "OSPolicyAssignmentRollout",
      "type": "object",
      "description": "Message to configure the rollout at the zonal level for the OS policy assignment.",
      "properties": {
        "minWaitDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. This determines the minimum duration of time to wait after the configuration changes are applied through the current rollout. A VM continues to count towards the `disruption_budget` at least until this duration of time has passed after configuration changes are applied."
        },
        "disruptionBudget": {
          "description": "Required. The maximum number (or percentage) of VMs per zone to disrupt at any given moment.",
          "$ref": "FixedOrPercent"
        }
      }
    },
    "PatchJobInstanceDetailsSummary": {
      "id": "PatchJobInstanceDetailsSummary",
      "properties": {
        "notifiedInstanceCount": {
          "format": "int64",
          "description": "Number of instances notified about patch job.",
          "type": "string"
        },
        "succeededRebootRequiredInstanceCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of instances that require reboot."
        },
        "postPatchStepInstanceCount": {
          "type": "string",
          "description": "Number of instances that are running the post-patch step.",
          "format": "int64"
        },
        "inactiveInstanceCount": {
          "format": "int64",
          "description": "Number of instances that are inactive.",
          "type": "string"
        },
        "succeededInstanceCount": {
          "format": "int64",
          "description": "Number of instances that have completed successfully.",
          "type": "string"
        },
        "downloadingPatchesInstanceCount": {
          "description": "Number of instances that are downloading patches.",
          "type": "string",
          "format": "int64"
        },
        "prePatchStepInstanceCount": {
          "description": "Number of instances that are running the pre-patch step.",
          "type": "string",
          "format": "int64"
        },
        "applyingPatchesInstanceCount": {
          "description": "Number of instances that are applying patches.",
          "type": "string",
          "format": "int64"
        },
        "failedInstanceCount": {
          "type": "string",
          "description": "Number of instances that failed.",
          "format": "int64"
        },
        "ackedInstanceCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of instances that have acked and will start shortly."
        },
        "skippedInstanceCount": {
          "type": "string",
          "description": "Number of instances that were skipped during patching.",
          "format": "int64"
        },
        "noAgentDetectedInstanceCount": {
          "format": "int64",
          "description": "Number of instances that do not appear to be running the agent. Check to ensure that the agent is installed, running, and able to communicate with the service.",
          "type": "string"
        },
        "rebootingInstanceCount": {
          "format": "int64",
          "description": "Number of instances rebooting.",
          "type": "string"
        },
        "pendingInstanceCount": {
          "description": "Number of instances pending patch job.",
          "format": "int64",
          "type": "string"
        },
        "timedOutInstanceCount": {
          "description": "Number of instances that exceeded the time out while applying the patch.",
          "type": "string",
          "format": "int64"
        },
        "startedInstanceCount": {
          "description": "Number of instances that have started.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "A summary of the current patch state across all instances that this patch job affects. Contains counts of instances in different states. These states map to `InstancePatchState`. List patch job instance details to see the specific states of each instance.",
      "type": "object"
    },
    "VulnerabilityReportVulnerability": {
      "type": "object",
      "description": "A vulnerability affecting the VM instance.",
      "properties": {
        "availableInventoryItemIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Corresponds to the `AVAILABLE_PACKAGE` inventory item on the VM. If the vulnerability report was not updated after the VM inventory update, these values might not display in VM inventory. If there is no available fix, the field is empty. The `inventory_item` value specifies the latest `SoftwarePackage` available to the VM that fixes the vulnerability.",
          "deprecated": true
        },
        "details": {
          "description": "Contains metadata as per the upstream feed of the operating system and NVD.",
          "$ref": "VulnerabilityReportVulnerabilityDetails"
        },
        "items": {
          "description": "List of items affected by the vulnerability.",
          "type": "array",
          "items": {
            "$ref": "VulnerabilityReportVulnerabilityItem"
          }
        },
        "installedInventoryItemIds": {
          "items": {
            "type": "string"
          },
          "deprecated": true,
          "description": "Corresponds to the `INSTALLED_PACKAGE` inventory item on the VM. This field displays the inventory items affected by this vulnerability. If the vulnerability report was not updated after the VM inventory update, these values might not display in VM inventory. For some distros, this field may be empty.",
          "type": "array"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp for when the vulnerability was last modified."
        },
        "createTime": {
          "type": "string",
          "description": "The timestamp for when the vulnerability was first detected.",
          "format": "google-datetime"
        }
      },
      "id": "VulnerabilityReportVulnerability"
    },
    "GcsObject": {
      "type": "object",
      "properties": {
        "generationNumber": {
          "format": "int64",
          "description": "Required. Generation number of the Cloud Storage object. This is used to ensure that the ExecStep specified by this PatchJob does not change.",
          "type": "string"
        },
        "object": {
          "description": "Required. Name of the Cloud Storage object.",
          "type": "string"
        },
        "bucket": {
          "description": "Required. Bucket of the Cloud Storage object.",
          "type": "string"
        }
      },
      "description": "Cloud Storage object representation.",
      "id": "GcsObject"
    },
    "OSPolicyAssignmentInstanceFilterInventory": {
      "properties": {
        "osVersion": {
          "type": "string",
          "description": "The OS version Prefix matches are supported if asterisk(*) is provided as the last character. For example, to match all versions with a major version of `7`, specify the following value for this field `7.*` An empty string matches all OS versions."
        },
        "osShortName": {
          "type": "string",
          "description": "Required. The OS short name"
        }
      },
      "description": "VM inventory details.",
      "type": "object",
      "id": "OSPolicyAssignmentInstanceFilterInventory"
    },
    "OSPolicyAssignmentReportOSPolicyComplianceOSPolicyResourceComplianceExecResourceOutput": {
      "id": "OSPolicyAssignmentReportOSPolicyComplianceOSPolicyResourceComplianceExecResourceOutput",
      "type": "object",
      "properties": {
        "enforcementOutput": {
          "description": "Output from enforcement phase output file (if run). Output size is limited to 100K bytes.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "ExecResource specific output."
    },
    "Status": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "MessageSet": {
      "type": "object",
      "description": "This is proto2's version of MessageSet. DEPRECATED: DO NOT USE FOR NEW FIELDS. If you are using editions or proto2, please make your own extendable messages for your use case. If you are using proto3, please use `Any` instead. MessageSet was the implementation of extensions for proto1. When proto2 was introduced, extensions were implemented as a first-class feature. This schema for MessageSet was meant to be a \"bridge\" solution to migrate MessageSet-bearing messages from proto1 to proto2. This schema has been open-sourced only to facilitate the migration of Google products with MessageSet-bearing messages to open-source environments.",
      "properties": {},
      "id": "MessageSet",
      "deprecated": true
    },
    "InventoryWindowsQuickFixEngineeringPackage": {
      "id": "InventoryWindowsQuickFixEngineeringPackage",
      "description": "Information related to a Quick Fix Engineering package. Fields are taken from Windows QuickFixEngineering Interface and match the source names: https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-quickfixengineering",
      "type": "object",
      "properties": {
        "installTime": {
          "description": "Date that the QFE update was installed. Mapped from installed_on field.",
          "format": "google-datetime",
          "type": "string"
        },
        "hotFixId": {
          "type": "string",
          "description": "Unique identifier associated with a particular QFE update."
        },
        "caption": {
          "type": "string",
          "description": "A short textual description of the QFE update."
        },
        "description": {
          "description": "A textual description of the QFE update.",
          "type": "string"
        }
      }
    },
    "VulnerabilityReportVulnerabilityDetails": {
      "id": "VulnerabilityReportVulnerabilityDetails",
      "description": "Contains metadata information for the vulnerability. This information is collected from the upstream feed of the operating system.",
      "properties": {
        "cvssV3": {
          "$ref": "CVSSv3",
          "description": "The full description of the CVSSv3 for this vulnerability from NVD."
        },
        "description": {
          "type": "string",
          "description": "The note or description describing the vulnerability from the distro."
        },
        "references": {
          "description": "Corresponds to the references attached to the `VulnerabilityDetails`.",
          "items": {
            "$ref": "VulnerabilityReportVulnerabilityDetailsReference"
          },
          "type": "array"
        },
        "cve": {
          "description": "The CVE of the vulnerability. CVE cannot be empty and the combination of should be unique across vulnerabilities for a VM.",
          "type": "string"
        },
        "severity": {
          "description": "Assigned severity/impact ranking from the distro.",
          "type": "string"
        },
        "cvssV2Score": {
          "format": "float",
          "description": "The CVSS V2 score of this vulnerability. CVSS V2 score is on a scale of 0 - 10 where 0 indicates low severity and 10 indicates high severity.",
          "type": "number"
        }
      },
      "type": "object"
    },
    "ListPatchDeploymentsResponse": {
      "id": "ListPatchDeploymentsResponse",
      "description": "A response message for listing patch deployments.",
      "properties": {
        "patchDeployments": {
          "items": {
            "$ref": "PatchDeployment"
          },
          "type": "array",
          "description": "The list of patch deployments."
        },
        "nextPageToken": {
          "description": "A pagination token that can be used to get the next page of patch deployments.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PatchJobInstanceDetails": {
      "properties": {
        "failureReason": {
          "description": "If the patch fails, this field provides the reason.",
          "type": "string"
        },
        "attemptCount": {
          "description": "The number of times the agent that the agent attempts to apply the patch.",
          "format": "int64",
          "type": "string"
        },
        "instanceSystemId": {
          "type": "string",
          "description": "The unique identifier for the instance. This identifier is defined by the server."
        },
        "state": {
          "description": "Current state of instance patch.",
          "enumDescriptions": [
            "Unspecified.",
            "The instance is not yet notified.",
            "Instance is inactive and cannot be patched.",
            "The instance is notified that it should be patched.",
            "The instance has started the patching process.",
            "The instance is downloading patches.",
            "The instance is applying patches.",
            "The instance is rebooting.",
            "The instance has completed applying patches.",
            "The instance has completed applying patches but a reboot is required.",
            "The instance has failed to apply the patch.",
            "The instance acked the notification and will start shortly.",
            "The instance exceeded the time out while applying the patch.",
            "The instance is running the pre-patch step.",
            "The instance is running the post-patch step.",
            "The service could not detect the presence of the agent. Check to ensure that the agent is installed, running, and able to communicate with the service.",
            "The instance was skipped during patching due to one of two reasons: 1. The instance runs Container-Optimized OS (COS), which cannot be patched. 2. The patch job's configuration prohibits patching on Managed Instance Groups (MIGs), and the instance is part of one."
          ],
          "type": "string",
          "enum": [
            "PATCH_STATE_UNSPECIFIED",
            "PENDING",
            "INACTIVE",
            "NOTIFIED",
            "STARTED",
            "DOWNLOADING_PATCHES",
            "APPLYING_PATCHES",
            "REBOOTING",
            "SUCCEEDED",
            "SUCCEEDED_REBOOT_REQUIRED",
            "FAILED",
            "ACKED",
            "TIMED_OUT",
            "RUNNING_PRE_PATCH_STEP",
            "RUNNING_POST_PATCH_STEP",
            "NO_AGENT_DETECTED",
            "SKIPPED"
          ]
        },
        "name": {
          "type": "string",
          "description": "The instance name in the form `projects/*/zones/*/instances/*`"
        }
      },
      "type": "object",
      "description": "Patch details for a VM instance. For more information about reviewing VM instance details, see [Listing all VM instance details for a specific patch job](https://cloud.google.com/compute/docs/os-patch-management/manage-patch-jobs#list-instance-details).",
      "id": "PatchJobInstanceDetails"
    },
    "OSPolicyResourcePackageResourceRPM": {
      "type": "object",
      "id": "OSPolicyResourcePackageResourceRPM",
      "description": "An RPM package file. RPM packages only support INSTALLED state.",
      "properties": {
        "pullDeps": {
          "type": "boolean",
          "description": "Whether dependencies should also be installed. - install when false: `rpm --upgrade --replacepkgs package.rpm` - install when true: `yum -y install package.rpm` or `zypper -y install package.rpm`"
        },
        "source": {
          "$ref": "OSPolicyResourceFile",
          "description": "Required. An rpm package."
        }
      }
    },
    "InventoryWindowsUpdatePackageWindowsUpdateCategory": {
      "type": "object",
      "description": "Categories specified by the Windows Update.",
      "id": "InventoryWindowsUpdatePackageWindowsUpdateCategory",
      "properties": {
        "id": {
          "description": "The identifier of the windows update category.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the windows update category."
        }
      }
    },
    "ExecStepConfig": {
      "description": "Common configurations for an ExecStep.",
      "id": "ExecStepConfig",
      "properties": {
        "interpreter": {
          "enum": [
            "INTERPRETER_UNSPECIFIED",
            "NONE",
            "SHELL",
            "POWERSHELL"
          ],
          "type": "string",
          "description": "The script interpreter to use to run the script. If no interpreter is specified the script will be executed directly, which will likely only succeed for scripts with [shebang lines] (https://en.wikipedia.org/wiki/Shebang_\\(Unix\\)).",
          "enumDescriptions": [
            "If the interpreter is not specified, the value defaults to `NONE`.",
            "Indicates that the file is run as follows on each operating system: + For Linux VMs, the file is ran as an executable and the interpreter might be parsed from the [shebang line](https://wikipedia.org/wiki/Shebang_(Unix)) of the file. + For Windows VM, this value is not supported.",
            "Indicates that the file is run with `/bin/sh` on Linux and `cmd` on Windows.",
            "Indicates that the file is run with PowerShell."
          ]
        },
        "allowedSuccessCodes": {
          "type": "array",
          "description": "Defaults to [0]. A list of possible return values that the execution can return to indicate a success.",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "gcsObject": {
          "description": "A Cloud Storage object containing the executable.",
          "$ref": "GcsObject"
        },
        "localPath": {
          "description": "An absolute path to the executable on the VM.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OSPolicyAssignmentReportOSPolicyComplianceOSPolicyResourceComplianceOSPolicyResourceConfigStep": {
      "properties": {
        "type": {
          "description": "Configuration step type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "VALIDATION",
            "DESIRED_STATE_CHECK",
            "DESIRED_STATE_ENFORCEMENT",
            "DESIRED_STATE_CHECK_POST_ENFORCEMENT"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Checks for resource conflicts such as schema errors.",
            "Checks the current status of the desired state for a resource.",
            "Enforces the desired state for a resource that is not in desired state.",
            "Re-checks the status of the desired state. This check is done for a resource after the enforcement of all OS policies. This step is used to determine the final desired state status for the resource. It accounts for any resources that might have drifted from their desired state due to side effects from executing other resources."
          ],
          "type": "string"
        },
        "errorMessage": {
          "type": "string",
          "description": "An error message recorded during the execution of this step. Only populated if errors were encountered during this step execution."
        }
      },
      "id": "OSPolicyAssignmentReportOSPolicyComplianceOSPolicyResourceComplianceOSPolicyResourceConfigStep",
      "type": "object",
      "description": "Step performed by the OS Config agent for configuring an `OSPolicy` resource to its desired state."
    },
    "WeeklySchedule": {
      "description": "Represents a weekly schedule.",
      "id": "WeeklySchedule",
      "type": "object",
      "properties": {
        "dayOfWeek": {
          "description": "Required. Day of the week.",
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        }
      }
    },
    "VulnerabilityReportVulnerabilityDetailsReference": {
      "id": "VulnerabilityReportVulnerabilityDetailsReference",
      "type": "object",
      "properties": {
        "url": {
          "description": "The url of the reference.",
          "type": "string"
        },
        "source": {
          "description": "The source of the reference e.g. NVD.",
          "type": "string"
        }
      },
      "description": "A reference for this vulnerability."
    },
    "InventoryWindowsUpdatePackage": {
      "properties": {
        "title": {
          "description": "The localized title of the update package.",
          "type": "string"
        },
        "revisionNumber": {
          "type": "integer",
          "description": "The revision number of this update package.",
          "format": "int32"
        },
        "categories": {
          "items": {
            "$ref": "InventoryWindowsUpdatePackageWindowsUpdateCategory"
          },
          "description": "The categories that are associated with this update package.",
          "type": "array"
        },
        "updateId": {
          "type": "string",
          "description": "Gets the identifier of an update package. Stays the same across revisions."
        },
        "kbArticleIds": {
          "description": "A collection of Microsoft Knowledge Base article IDs that are associated with the update package.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lastDeploymentChangeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last published date of the update, in (UTC) date and time."
        },
        "description": {
          "description": "The localized description of the update package.",
          "type": "string"
        },
        "supportUrl": {
          "description": "A hyperlink to the language-specific support information for the update.",
          "type": "string"
        },
        "moreInfoUrls": {
          "items": {
            "type": "string"
          },
          "description": "A collection of URLs that provide more information about the update package.",
          "type": "array"
        }
      },
      "description": "Details related to a Windows Update package. Field data and names are taken from Windows Update API IUpdate Interface: https://docs.microsoft.com/en-us/windows/win32/api/_wua/ Descriptive fields like title, and description are localized based on the locale of the VM being updated.",
      "id": "InventoryWindowsUpdatePackage",
      "type": "object"
    },
    "GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadata": {
      "id": "GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadata",
      "properties": {
        "osPolicyAssignment": {
          "type": "string",
          "description": "Reference to the `OSPolicyAssignment` API resource. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`"
        },
        "rolloutUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Rollout update time"
        },
        "rolloutStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Rollout start time"
        },
        "apiMethod": {
          "enumDescriptions": [
            "Invalid value",
            "Create OS policy assignment API method",
            "Update OS policy assignment API method",
            "Delete OS policy assignment API method"
          ],
          "description": "The OS policy assignment API method.",
          "enum": [
            "API_METHOD_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "type": "string"
        },
        "rolloutState": {
          "description": "State of the rollout",
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ],
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "OS policy assignment operation metadata provided by OS policy assignment API methods that return long running operations."
    },
    "OSPolicyResourceGroup": {
      "type": "object",
      "description": "Resource groups provide a mechanism to group OS policy resources. Resource groups enable OS policy authors to create a single OS policy to be applied to VMs running different operating Systems. When the OS policy is applied to a target VM, the appropriate resource group within the OS policy is selected based on the `OSFilter` specified within the resource group.",
      "properties": {
        "inventoryFilters": {
          "type": "array",
          "description": "List of inventory filters for the resource group. The resources in this resource group are applied to the target VM if it satisfies at least one of the following inventory filters. For example, to apply this resource group to VMs running either `RHEL` or `CentOS` operating systems, specify 2 items for the list with following values: inventory_filters[0].os_short_name='rhel' and inventory_filters[1].os_short_name='centos' If the list is empty, this resource group will be applied to the target VM unconditionally.",
          "items": {
            "$ref": "OSPolicyInventoryFilter"
          }
        },
        "resources": {
          "type": "array",
          "description": "Required. List of resources configured for this resource group. The resources are executed in the exact order specified here.",
          "items": {
            "$ref": "OSPolicyResource"
          }
        }
      },
      "id": "OSPolicyResourceGroup"
    },
    "OneTimeSchedule": {
      "id": "OneTimeSchedule",
      "properties": {
        "executeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The desired patch job execution time."
        }
      },
      "type": "object",
      "description": "Sets the time for a one time patch deployment. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
    },
    "TimeZone": {
      "id": "TimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      }
    },
    "OSPolicyResourceExecResource": {
      "id": "OSPolicyResourceExecResource",
      "description": "A resource that allows executing scripts on the VM. The `ExecResource` has 2 stages: `validate` and `enforce` and both stages accept a script as an argument to execute. When the `ExecResource` is applied by the agent, it first executes the script in the `validate` stage. The `validate` stage can signal that the `ExecResource` is already in the desired state by returning an exit code of `100`. If the `ExecResource` is not in the desired state, it should return an exit code of `101`. Any other exit code returned by this stage is considered an error. If the `ExecResource` is not in the desired state based on the exit code from the `validate` stage, the agent proceeds to execute the script from the `enforce` stage. If the `ExecResource` is already in the desired state, the `enforce` stage will not be run. Similar to `validate` stage, the `enforce` stage should return an exit code of `100` to indicate that the resource in now in its desired state. Any other exit code is considered an error. NOTE: An exit code of `100` was chosen over `0` (and `101` vs `1`) to have an explicit indicator of `in desired state`, `not in desired state` and errors. Because, for example, Powershell will always return an exit code of `0` unless an `exit` statement is provided in the script. So, for reasons of consistency and being explicit, exit codes `100` and `101` were chosen.",
      "properties": {
        "enforce": {
          "$ref": "OSPolicyResourceExecResourceExec",
          "description": "What to run to bring this resource into the desired state. An exit code of 100 indicates \"success\", any other exit code indicates a failure running enforce."
        },
        "validate": {
          "$ref": "OSPolicyResourceExecResourceExec",
          "description": "Required. What to run to validate this resource is in the desired state. An exit code of 100 indicates \"in desired state\", and exit code of 101 indicates \"not in desired state\". Any other exit code indicates a failure running validate."
        }
      },
      "type": "object"
    },
    "PatchDeployment": {
      "type": "object",
      "id": "PatchDeployment",
      "properties": {
        "name": {
          "description": "Unique name for the patch deployment resource in a project. The patch deployment name is in the form: `projects/{project_id}/patchDeployments/{patch_deployment_id}`. This field is ignored when you create a new patch deployment.",
          "type": "string"
        },
        "instanceFilter": {
          "$ref": "PatchInstanceFilter",
          "description": "Required. VM instances to patch."
        },
        "oneTimeSchedule": {
          "description": "Required. Schedule a one-time execution.",
          "$ref": "OneTimeSchedule"
        },
        "duration": {
          "description": "Optional. Duration of the patch. After the duration ends, the patch times out.",
          "format": "google-duration",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time the patch deployment was last updated. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "recurringSchedule": {
[...]
