{
  "id": "osconfig:v1alpha",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "osconfig",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/compute/docs/osconfig/rest",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "osPolicyAssignments": {
              "resources": {
                "operations": {
                  "methods": {
                    "cancel": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}/operations/{operationsId}:cancel",
                      "path": "v1alpha/{+name}:cancel",
                      "request": {
                        "$ref": "CancelOperationRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+/operations/[^/]+$",
                          "required": true,
                          "description": "The name of the operation resource to be cancelled."
                        }
                      },
                      "id": "osconfig.projects.locations.osPolicyAssignments.operations.cancel",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Empty"
                      }
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+/operations/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "osconfig.projects.locations.osPolicyAssignments.operations.get",
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1alpha/{+name}",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}/operations/{operationsId}"
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource name.",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A pagination token returned from a previous call to `ListOSPolicyAssignments` that indicates where this listing should continue from."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of assignments to return.",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "path": "v1alpha/{+parent}/osPolicyAssignments",
                  "response": {
                    "$ref": "ListOSPolicyAssignmentsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "osconfig.projects.locations.osPolicyAssignments.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "List the OS policy assignments under the parent resource. For each OS policy assignment, the latest revision is returned."
                },
                "listRevisions": {
                  "id": "osconfig.projects.locations.osPolicyAssignments.listRevisions",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}:listRevisions",
                  "response": {
                    "$ref": "ListOSPolicyAssignmentRevisionsResponse"
                  },
                  "description": "List the OS policy assignment revisions for a given OS policy assignment.",
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}:listRevisions",
                  "parameters": {
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to `ListOSPolicyAssignmentRevisions` that indicates where this listing should continue from.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the OS policy assignment to list revisions for."
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of revisions to return.",
                      "format": "int32"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is only idempotent if a `request_id` is provided.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+$",
                      "description": "Required. The name of the OS policy assignment to be deleted",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "id": "osconfig.projects.locations.osPolicyAssignments.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Delete the OS policy assignment. This method creates a new revision of the OS policy assignment. This method returns a long running operation (LRO) that contains the rollout details. The rollout can be cancelled by cancelling the LRO. If the LRO completes and is not cancelled, all revisions associated with the OS policy assignment are deleted. For more information, see [Method: projects.locations.osPolicyAssignments.operations.cancel](https://cloud.google.com/compute/docs/osconfig/rest/v1alpha/projects.locations.osPolicyAssignments.operations/cancel)."
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name in the form: projects/{project}/locations/{location}",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "osPolicyAssignmentId": {
                      "description": "Required. The logical name of the OS policy assignment in the project with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the project.",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is only idempotent if a `request_id` is provided.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments",
                  "id": "osconfig.projects.locations.osPolicyAssignments.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Create an OS policy assignment. This method also creates the first revision of the OS policy assignment. This method returns a long running operation (LRO) that contains the rollout details. The rollout can be cancelled by cancelling the LRO. For more information, see [Method: projects.locations.osPolicyAssignments.operations.cancel](https://cloud.google.com/compute/docs/osconfig/rest/v1alpha/projects.locations.osPolicyAssignments.operations/cancel).",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "OSPolicyAssignment"
                  },
                  "path": "v1alpha/{+parent}/osPolicyAssignments"
                },
                "get": {
                  "description": "Retrieve an existing OS policy assignment. This method always returns the latest revision. In order to retrieve a previous revision of the assignment, also provide the revision ID in the `name` parameter.",
                  "id": "osconfig.projects.locations.osPolicyAssignments.get",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "OSPolicyAssignment"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of OS policy assignment. Format: `projects/{project}/locations/{location}/osPolicyAssignments/{os_policy_assignment}@{revisionId}`"
                    }
                  },
                  "httpMethod": "GET"
                },
                "patch": {
                  "request": {
                    "$ref": "OSPolicyAssignment"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Optional. Field mask that controls which fields of the assignment should be updated.",
                      "location": "query"
                    },
                    "allowMissing": {
                      "location": "query",
                      "description": "Optional. If set to true, and the OS policy assignment is not found, a new OS policy assignment will be created. In this situation, `update_mask` is ignored.",
                      "type": "boolean"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+$",
                      "description": "Resource name. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id}` This field is ignored when you create an OS policy assignment.",
                      "type": "string",
                      "required": true
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is only idempotent if a `request_id` is provided.",
                      "type": "string"
                    }
                  },
                  "id": "osconfig.projects.locations.osPolicyAssignments.patch",
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Update an existing OS policy assignment. This method creates a new revision of the OS policy assignment. This method returns a long running operation (LRO) that contains the rollout details. The rollout can be cancelled by cancelling the LRO. For more information, see [Method: projects.locations.osPolicyAssignments.operations.cancel](https://cloud.google.com/compute/docs/osconfig/rest/v1alpha/projects.locations.osPolicyAssignments.operations/cancel)."
                }
              }
            },
            "instances": {
              "resources": {
                "osPolicyAssignments": {
                  "resources": {
                    "reports": {
                      "methods": {
                        "list": {
                          "response": {
                            "$ref": "ListOSPolicyAssignmentReportsResponse"
                          },
                          "httpMethod": "GET",
                          "parameters": {
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "A pagination token returned from a previous call to the `ListOSPolicyAssignmentReports` method that indicates where this listing should continue from."
                            },
                            "filter": {
                              "description": "If provided, this field specifies the criteria that must be met by the `OSPolicyAssignmentReport` API resource that is included in the response.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/osPolicyAssignments/[^/]+$",
                              "description": "Required. The parent resource name. Format: `projects/{project}/locations/{location}/instances/{instance}/osPolicyAssignments/{assignment}/reports` For `{project}`, either `project-number` or `project-id` can be provided. For `{instance}`, either `instance-name`, `instance-id`, or `-` can be provided. If '-' is provided, the response will include OSPolicyAssignmentReports for all instances in the project/location. For `{assignment}`, either `assignment-id` or `-` can be provided. If '-' is provided, the response will include OSPolicyAssignmentReports for all OSPolicyAssignments in the project/location. Either {instance} or {assignment} must be `-`. For example: `projects/{project}/locations/{location}/instances/{instance}/osPolicyAssignments/-/reports` returns all reports for the instance `projects/{project}/locations/{location}/instances/-/osPolicyAssignments/{assignment-id}/reports` returns all the reports for the given assignment across all instances. `projects/{project}/locations/{location}/instances/-/osPolicyAssignments/-/reports` returns all the reports for all assignments across all instances.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "pageSize": {
                              "description": "The maximum number of results to return.",
                              "type": "integer",
                              "format": "int32",
                              "location": "query"
                            }
                          },
                          "path": "v1alpha/{+parent}/reports",
                          "id": "osconfig.projects.locations.instances.osPolicyAssignments.reports.list",
                          "description": "List OS policy assignment reports for all Compute Engine VM instances in the specified zone.",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/osPolicyAssignments/{osPolicyAssignmentsId}/reports",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "get": {
                          "description": "Get the OS policy assignment report for the specified Compute Engine VM instance.",
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/osPolicyAssignments/{osPolicyAssignmentsId}/report",
                          "response": {
                            "$ref": "OSPolicyAssignmentReport"
                          },
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "Required. API resource name for OS policy assignment report. Format: `/projects/{project}/locations/{location}/instances/{instance}/osPolicyAssignments/{assignment}/report` For `{project}`, either `project-number` or `project-id` can be provided. For `{instance_id}`, either Compute Engine `instance-id` or `instance-name` can be provided. For `{assignment_id}`, the OSPolicyAssignment id must be provided.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/osPolicyAssignments/[^/]+/report$",
                              "location": "path"
                            }
                          },
                          "id": "osconfig.projects.locations.instances.osPolicyAssignments.reports.get",
                          "httpMethod": "GET",
                          "path": "v1alpha/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    }
                  }
                },
                "inventories": {
                  "methods": {
                    "list": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/inventories",
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "If provided, this field specifies the criteria that must be met by a `Inventory` API resource to be included in the response."
                        },
                        "pageSize": {
                          "description": "The maximum number of results to return.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "view": {
                          "enum": [
                            "INVENTORY_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "type": "string",
                          "enumDescriptions": [
                            "The default value. The API defaults to the BASIC view.",
                            "Returns the basic inventory information that includes `os_info`.",
                            "Returns all fields."
                          ],
                          "location": "query",
                          "description": "Inventory view indicating what information should be included in the inventory resource. If unspecified, the default view is BASIC."
                        },
                        "pageToken": {
                          "description": "A pagination token returned from a previous call to `ListInventories` that indicates where this listing should continue from.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "required": true,
                          "description": "Required. The parent resource name. Format: `projects/{project}/locations/{location}/instances/-` For `{project}`, either `project-number` or `project-id` can be provided.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "path": "v1alpha/{+parent}/inventories",
                      "description": "List inventory data for all VM instances in the specified zone.",
                      "id": "osconfig.projects.locations.instances.inventories.list",
                      "response": {
                        "$ref": "ListInventoriesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "httpMethod": "GET",
                      "description": "Get inventory data for the specified VM instance. If the VM has no associated inventory, the message `NOT_FOUND` is returned.",
                      "path": "v1alpha/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. API resource name for inventory resource. Format: `projects/{project}/locations/{location}/instances/{instance}/inventory` For `{project}`, either `project-number` or `project-id` can be provided. For `{instance}`, either Compute Engine `instance-id` or `instance-name` can be provided.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/inventory$",
                          "type": "string"
                        },
                        "view": {
                          "location": "query",
                          "enumDescriptions": [
                            "The default value. The API defaults to the BASIC view.",
                            "Returns the basic inventory information that includes `os_info`.",
                            "Returns all fields."
                          ],
                          "type": "string",
                          "description": "Inventory view indicating what information should be included in the inventory resource. If unspecified, the default view is BASIC.",
                          "enum": [
                            "INVENTORY_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ]
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "osconfig.projects.locations.instances.inventories.get",
                      "response": {
                        "$ref": "Inventory"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/inventory"
                    }
                  }
                },
                "vulnerabilityReports": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. API resource name for vulnerability resource. Format: `projects/{project}/locations/{location}/instances/{instance}/vulnerabilityReport` For `{project}`, either `project-number` or `project-id` can be provided. For `{instance}`, either Compute Engine `instance-id` or `instance-name` can be provided.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/vulnerabilityReport$"
                        }
                      },
                      "id": "osconfig.projects.locations.instances.vulnerabilityReports.get",
                      "httpMethod": "GET",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/vulnerabilityReport",
                      "description": "Gets the vulnerability report for the specified VM instance. Only VMs with inventory data have vulnerability reports associated with them.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "VulnerabilityReport"
                      }
                    },
                    "list": {
                      "description": "List vulnerability reports for all VM instances in the specified zone.",
                      "id": "osconfig.projects.locations.instances.vulnerabilityReports.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/vulnerabilityReports",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "description": "This field supports filtering by the severity level for the vulnerability. For a list of severity levels, see [Severity levels for vulnerabilities](https://cloud.google.com/container-analysis/docs/container-scanning-overview#severity_levels_for_vulnerabilities). The filter field follows the rules described in the [AIP-160](https://google.aip.dev/160) guidelines as follows: + **Filter for a specific severity type**: you can list reports that contain vulnerabilities that are classified as medium by specifying `vulnerabilities.details.severity:MEDIUM`. + **Filter for a range of severities** : you can list reports that have vulnerabilities that are classified as critical or high by specifying `vulnerabilities.details.severity:HIGH OR vulnerabilities.details.severity:CRITICAL`",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A pagination token returned from a previous call to `ListVulnerabilityReports` that indicates where this listing should continue from."
                        },
                        "parent": {
                          "description": "Required. The parent resource name. Format: `projects/{project}/locations/{location}/instances/-` For `{project}`, either `project-number` or `project-id` can be provided.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "location": "path"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "The maximum number of results to return.",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "path": "v1alpha/{+parent}/vulnerabilityReports",
                      "response": {
                        "$ref": "ListVulnerabilityReportsResponse"
                      }
                    }
                  }
                }
              }
            },
            "instanceOSPoliciesCompliances": {
              "methods": {
                "get": {
                  "deprecated": true,
                  "id": "osconfig.projects.locations.instanceOSPoliciesCompliances.get",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/instanceOSPoliciesCompliances/{instanceOSPoliciesCompliancesId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/instanceOSPoliciesCompliances/[^/]+$",
                      "description": "Required. API resource name for instance OS policies compliance resource. Format: `projects/{project}/locations/{location}/instanceOSPoliciesCompliances/{instance}` For `{project}`, either Compute Engine project-number or project-id can be provided. For `{instance}`, either Compute Engine VM instance-id or instance-name can be provided."
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "description": "Get OS policies compliance data for the specified Compute Engine VM instance.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "InstanceOSPoliciesCompliance"
                  }
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to `ListInstanceOSPoliciesCompliances` that indicates where this listing should continue from.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource name. Format: `projects/{project}/locations/{location}` For `{project}`, either Compute Engine project-number or project-id can be provided.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "filter": {
                      "description": "If provided, this field specifies the criteria that must be met by a `InstanceOSPoliciesCompliance` API resource to be included in the response.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of results to return.",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListInstanceOSPoliciesCompliancesResponse"
                  },
                  "deprecated": true,
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "osconfig.projects.locations.instanceOSPoliciesCompliances.list",
                  "path": "v1alpha/{+parent}/instanceOSPoliciesCompliances",
                  "description": "List OS policies compliance data for all Compute Engine VM instances in the specified zone.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/instanceOSPoliciesCompliances"
                }
              },
              "deprecated": true
            }
          }
        }
      }
    }
  },
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://osconfig.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://osconfig.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east2"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://osconfig.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://osconfig.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://osconfig.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://osconfig.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://osconfig.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://osconfig.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "endpointUrl": "https://osconfig.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast3"
    },
    {
      "endpointUrl": "https://osconfig.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://osconfig.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://osconfig.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://osconfig.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://osconfig.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://osconfig.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://osconfig.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "endpointUrl": "https://osconfig.europe-west15.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west15"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://osconfig.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://osconfig.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://osconfig.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://osconfig.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "endpointUrl": "https://osconfig.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "endpointUrl": "https://osconfig.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://osconfig.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://osconfig.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://osconfig.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://osconfig.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://osconfig.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://osconfig.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central2"
    },
    {
      "endpointUrl": "https://osconfig.us-central6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central6"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://osconfig.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://osconfig.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://osconfig.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://osconfig.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://osconfig.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://osconfig.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://osconfig.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://osconfig.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west8",
      "endpointUrl": "https://osconfig.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "basePath": "",
  "rootUrl": "https://osconfig.googleapis.com/",
  "ownerDomain": "google.com",
  "revision": "20260820",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://osconfig.mtls.googleapis.com/",
  "title": "OS Config API",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "canonicalName": "OS Config",
  "version": "v1alpha",
  "baseUrl": "https://osconfig.googleapis.com/",
  "schemas": {
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "type": "object"
    },
    "ListInstanceOSPoliciesCompliancesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The pagination token to retrieve the next page of instance OS policies compliance objects.",
          "type": "string"
        },
        "instanceOsPoliciesCompliances": {
          "items": {
            "$ref": "InstanceOSPoliciesCompliance"
          },
          "description": "List of instance OS policies compliance objects.",
          "type": "array"
        }
      },
      "description": "A response message for listing OS policies compliance data for all Compute Engine VMs in the given location.",
      "deprecated": true,
      "type": "object",
      "id": "ListInstanceOSPoliciesCompliancesResponse"
    },
    "Date": {
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        }
      }
    },
    "OSPolicyResourceFileResource": {
      "description": "A resource that manages the state of a file.",
      "id": "OSPolicyResourceFileResource",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "Consists of three octal digits which represent, in order, the permissions of the owner, group, and other users for the file (similarly to the numeric mode used in the linux chmod utility). Each digit represents a three bit number with the 4 bit corresponding to the read permissions, the 2 bit corresponds to the write bit, and the one bit corresponds to the execute permission. Default behavior is 755. Below are some examples of permissions and their associated values: read, write, and execute: 7 read and execute: 5 read and write: 6 read only: 4",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified is invalid.",
            "Ensure file at path is present.",
            "Ensure file at path is absent.",
            "Ensure the contents of the file at path matches. If the file does not exist it will be created."
          ],
          "enum": [
            "DESIRED_STATE_UNSPECIFIED",
            "PRESENT",
            "ABSENT",
            "CONTENTS_MATCH"
          ],
          "description": "Required. Desired state of the file."
        },
        "file": {
          "description": "A remote or local source.",
          "$ref": "OSPolicyResourceFile"
        },
        "content": {
          "type": "string",
          "description": "A file with this content. The size of the content is limited to 32KiB."
        },
        "path": {
          "description": "Required. The absolute path of the file within the VM.",
          "type": "string"
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {}
    },
    "OSPolicyResourceExecResourceExec": {
      "id": "OSPolicyResourceExecResourceExec",
      "properties": {
        "outputFilePath": {
          "type": "string",
          "description": "Only recorded for enforce Exec. Path to an output file (that is created by this Exec) whose content will be recorded in OSPolicyResourceCompliance after a successful run. Absence or failure to read this file will result in this ExecResource being non-compliant. Output file size is limited to 100K bytes."
        },
        "interpreter": {
          "enum": [
            "INTERPRETER_UNSPECIFIED",
            "NONE",
            "SHELL",
            "POWERSHELL"
          ],
          "description": "Required. The script interpreter to use.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value, the request will return validation error.",
            "If an interpreter is not specified, the source is executed directly. This execution, without an interpreter, only succeeds for executables and scripts that have shebang lines.",
            "Indicates that the script runs with `/bin/sh` on Linux and `cmd.exe` on Windows.",
            "Indicates that the script runs with PowerShell."
          ]
        },
        "file": {
          "description": "A remote or local file.",
          "$ref": "OSPolicyResourceFile"
        },
        "script": {
          "description": "An inline script. The size of the script is limited to 32KiB.",
          "type": "string"
        },
        "args": {
          "description": "Optional arguments to pass to the source during execution.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "A file or script to execute.",
      "type": "object"
    },
    "ListVulnerabilityReportsResponse": {
      "id": "ListVulnerabilityReportsResponse",
      "description": "A response message for listing vulnerability reports for all VM instances in the specified location.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token to retrieve the next page of vulnerabilityReports object.",
          "type": "string"
        },
        "vulnerabilityReports": {
          "items": {
            "$ref": "VulnerabilityReport"
          },
          "description": "List of vulnerabilityReport objects.",
          "type": "array"
        }
      }
    },
    "OSPolicyAssignmentInstanceFilterInventory": {
      "description": "VM inventory details.",
      "type": "object",
      "properties": {
        "osVersion": {
          "type": "string",
          "description": "The OS version Prefix matches are supported if asterisk(*) is provided as the last character. For example, to match all versions with a major version of `7`, specify the following value for this field `7.*` An empty string matches all OS versions."
        },
        "osShortName": {
          "description": "Required. The OS short name",
          "type": "string"
        }
      },
      "id": "OSPolicyAssignmentInstanceFilterInventory"
    },
    "OSPolicyAssignmentReportOSPolicyComplianceOSPolicyResourceCompliance": {
      "type": "object",
      "properties": {
        "execResourceOutput": {
          "$ref": "OSPolicyAssignmentReportOSPolicyComplianceOSPolicyResourceComplianceExecResourceOutput",
          "description": "ExecResource specific output."
        },
        "complianceStateReason": {
          "description": "A reason for the resource to be in the given compliance state. This field is always populated when `compliance_state` is `UNKNOWN`. The following values are supported when `compliance_state == UNKNOWN` * `execution-errors`: Errors were encountered by the agent while executing the resource and the compliance state couldn't be determined. * `execution-skipped-by-agent`: Resource execution was skipped by the agent because errors were encountered while executing prior resources in the OS policy. * `os-policy-execution-attempt-failed`: The execution of the OS policy containing this resource failed and the compliance state couldn't be determined. * `os-policy-execution-pending`: OS policy that owns this resource was assigned to the given VM, but was not executed yet.",
          "type": "string"
        },
        "configSteps": {
          "type": "array",
          "description": "Ordered list of configuration completed by the agent for the OS policy resource.",
          "items": {
            "$ref": "OSPolicyAssignmentReportOSPolicyComplianceOSPolicyResourceComplianceOSPolicyResourceConfigStep"
          }
        },
        "osPolicyResourceId": {
          "type": "string",
          "description": "The ID of the OS policy resource."
        },
        "complianceState": {
          "enum": [
            "UNKNOWN",
            "COMPLIANT",
            "NON_COMPLIANT"
          ],
          "description": "The compliance state of the resource.",
          "enumDescriptions": [
            "The resource is in an unknown compliance state. To get more details about why the policy is in this state, review the output of the `compliance_state_reason` field.",
            "Resource is compliant.",
            "Resource is non-compliant."
          ],
          "type": "string"
        }
      },
      "description": "Compliance data for an OS policy resource.",
      "id": "OSPolicyAssignmentReportOSPolicyComplianceOSPolicyResourceCompliance"
    },
    "OSPolicyResourceGroup": {
      "id": "OSPolicyResourceGroup",
      "type": "object",
      "description": "Resource groups provide a mechanism to group OS policy resources. Resource groups enable OS policy authors to create a single OS policy to be applied to VMs running different operating Systems. When the OS policy is applied to a target VM, the appropriate resource group within the OS policy is selected based on the `OSFilter` specified within the resource group.",
      "properties": {
        "osFilter": {
          "deprecated": true,
          "$ref": "OSPolicyOSFilter",
          "description": "Deprecated. Use the `inventory_filters` field instead. Used to specify the OS filter for a resource group"
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "OSPolicyResource"
          },
          "description": "Required. List of resources configured for this resource group. The resources are executed in the exact order specified here."
        },
        "inventoryFilters": {
          "type": "array",
          "items": {
            "$ref": "OSPolicyInventoryFilter"
          },
          "description": "List of inventory filters for the resource group. The resources in this resource group are applied to the target VM if it satisfies at least one of the following inventory filters. For example, to apply this resource group to VMs running either `RHEL` or `CentOS` operating systems, specify 2 items for the list with following values: inventory_filters[0].os_short_name='rhel' and inventory_filters[1].os_short_name='centos' If the list is empty, this resource group will be applied to the target VM unconditionally."
        }
      }
    },
    "OSPolicyResourcePackageResourceMSI": {
      "description": "An MSI package. MSI packages only support INSTALLED state.",
      "properties": {
        "properties": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional properties to use during installation. This should be in the format of Property=Setting. Appended to the defaults of `ACTION=INSTALL REBOOT=ReallySuppress`."
        },
        "source": {
          "$ref": "OSPolicyResourceFile",
          "description": "Required. The MSI package."
        }
      },
      "type": "object",
      "id": "OSPolicyResourcePackageResourceMSI"
    },
    "OSPolicyResourceConfigStep": {
      "type": "object",
      "description": "Step performed by the OS Config agent for configuring an `OSPolicyResource` to its desired state.",
      "properties": {
        "errorMessage": {
          "description": "An error message recorded during the execution of this step. Only populated when outcome is FAILED.",
          "type": "string"
        },
        "type": {
          "description": "Configuration step type.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Validation to detect resource conflicts, schema errors, etc.",
            "Check the current desired state status of the resource.",
            "Enforce the desired state for a resource that is not in desired state.",
            "Re-check desired state status for a resource after enforcement of all resources in the current configuration run. This step is used to determine the final desired state status for the resource. It accounts for any resources that might have drifted from their desired state due to side effects from configuring other resources during the current configuration run."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "VALIDATION",
            "DESIRED_STATE_CHECK",
            "DESIRED_STATE_ENFORCEMENT",
            "DESIRED_STATE_CHECK_POST_ENFORCEMENT"
          ]
        },
        "outcome": {
          "enum": [
            "OUTCOME_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Outcome of the configuration step.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The step succeeded.",
            "The step failed."
          ],
          "type": "string"
        }
      },
      "deprecated": true,
      "id": "OSPolicyResourceConfigStep"
    },
    "OSPolicyInventoryFilter": {
      "id": "OSPolicyInventoryFilter",
      "properties": {
        "osVersion": {
          "description": "The OS version Prefix matches are supported if asterisk(*) is provided as the last character. For example, to match all versions with a major version of `7`, specify the following value for this field `7.*` An empty string matches all OS versions.",
          "type": "string"
        },
        "osShortName": {
          "type": "string",
          "description": "Required. The OS short name"
        }
      },
      "description": "Filtering criteria to select VMs based on inventory details.",
      "type": "object"
    },
    "InventoryWindowsQuickFixEngineeringPackage": {
      "description": "Information related to a Quick Fix Engineering package. Fields are taken from Windows QuickFixEngineering Interface and match the source names: https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-quickfixengineering",
      "id": "InventoryWindowsQuickFixEngineeringPackage",
      "properties": {
        "hotFixId": {
          "description": "Unique identifier associated with a particular QFE update.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A textual description of the QFE update."
        },
        "installTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Date that the QFE update was installed. Mapped from installed_on field."
        },
        "caption": {
          "type": "string",
          "description": "A short textual description of the QFE update."
        }
      },
      "type": "object"
    },
    "OSPolicyResourceFileGcs": {
      "id": "OSPolicyResourceFileGcs",
      "type": "object",
      "properties": {
        "object": {
          "description": "Required. Name of the Cloud Storage object.",
          "type": "string"
        },
        "generation": {
          "type": "string",
          "description": "Generation number of the Cloud Storage object.",
          "format": "int64"
        },
        "bucket": {
          "description": "Required. Bucket of the Cloud Storage object.",
          "type": "string"
        }
      },
      "description": "Specifies a file available as a Cloud Storage Object."
    },
    "OSPolicyResourceFile": {
      "description": "A remote or local file.",
      "properties": {
        "gcs": {
          "description": "A Cloud Storage object.",
          "$ref": "OSPolicyResourceFileGcs"
        },
        "localPath": {
          "type": "string",
          "description": "A local path within the VM to use."
        },
        "remote": {
          "$ref": "OSPolicyResourceFileRemote",
          "description": "A generic remote file."
        },
        "allowInsecure": {
          "description": "Defaults to false. When false, files are subject to validations based on the file type: Remote: A checksum must be specified. Cloud Storage: An object generation number must be specified.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "OSPolicyResourceFile"
    },
    "GoogleCloudOsconfigV2__OperationMetadata": {
      "type": "object",
      "id": "GoogleCloudOsconfigV2__OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        }
      }
    },
    "VulnerabilityReportVulnerabilityItem": {
      "properties": {
        "installedInventoryItemId": {
          "description": "Corresponds to the `INSTALLED_PACKAGE` inventory item on the VM. This field displays the inventory items affected by this vulnerability. If the vulnerability report was not updated after the VM inventory update, these values might not display in VM inventory. For some operating systems, this field might be empty.",
          "type": "string"
        },
        "fixedCpeUri": {
          "type": "string",
          "description": "The recommended [CPE URI](https://cpe.mitre.org/specification/) update that contains a fix for this vulnerability."
        },
        "upstreamFix": {
          "type": "string",
          "description": "The upstream OS patch, packages or KB that fixes the vulnerability."
        },
        "availableInventoryItemId": {
          "description": "Corresponds to the `AVAILABLE_PACKAGE` inventory item on the VM. If the vulnerability report was not updated after the VM inventory update, these values might not display in VM inventory. If there is no available fix, the field is empty. The `inventory_item` value specifies the latest `SoftwarePackage` available to the VM that fixes the vulnerability.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "OS inventory item that is affected by a vulnerability or fixed as a result of a vulnerability.",
      "id": "VulnerabilityReportVulnerabilityItem"
    },
    "OSPolicyAssignmentReport": {
      "id": "OSPolicyAssignmentReport",
      "properties": {
        "instance": {
          "type": "string",
          "description": "The Compute Engine VM instance name."
        },
        "osPolicyAssignment": {
          "description": "Reference to the `OSPolicyAssignment` API resource that the `OSPolicy` belongs to. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`",
          "type": "string"
        },
        "osPolicyCompliances": {
          "type": "array",
          "items": {
            "$ref": "OSPolicyAssignmentReportOSPolicyCompliance"
          },
          "description": "Compliance data for each `OSPolicy` that is applied to the VM."
        },
        "name": {
          "description": "The `OSPolicyAssignmentReport` API resource name. Format: `projects/{project_number}/locations/{location}/instances/{instance_id}/osPolicyAssignments/{os_policy_assignment_id}/report`",
          "type": "string"
        },
        "updateTime": {
          "description": "Timestamp for when the report was last generated.",
          "type": "string",
          "format": "google-datetime"
        },
        "lastRunId": {
          "type": "string",
          "description": "Unique identifier of the last attempted run to apply the OS policies associated with this assignment on the VM. This ID is logged by the OS Config agent while applying the OS policies associated with this assignment on the VM. NOTE: If the service is unable to successfully connect to the agent for this run, then this id will not be available in the agent logs."
        }
      },
      "type": "object",
      "description": "A report of the OS policy assignment status for a given instance."
    },
    "OSPolicyAssignment": {
      "type": "object",
      "properties": {
        "baseline": {
          "description": "Output only. Indicates that this revision has been successfully rolled out in this zone and new VMs will be assigned OS policies from this revision. For a given OS policy assignment, there is only one revision with a value of `true` for this field.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "description": "Resource name. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id}` This field is ignored when you create an OS policy assignment.",
          "type": "string"
        },
        "instanceFilter": {
          "description": "Required. Filter to select VMs.",
          "$ref": "OSPolicyAssignmentInstanceFilter"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server generated unique id for the OS policy assignment resource."
        },
        "osPolicies": {
          "type": "array",
          "description": "Required. List of OS policies to be applied to the VMs.",
          "items": {
            "$ref": "OSPolicy"
          }
        },
        "etag": {
          "description": "The etag for this OS policy assignment. If this is provided on update, it must match the server's etag.",
          "type": "string"
        },
        "revisionCreateTime": {
          "type": "string",
          "description": "Output only. The timestamp that the revision was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "rolloutState": {
          "description": "Output only. OS policy assignment rollout state",
          "type": "string",
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ]
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. Indicates that reconciliation is in progress for the revision. This value is `true` when the `rollout_state` is one of: * IN_PROGRESS * CANCELLING",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "OS policy assignment description. Length of the description is limited to 1024 characters."
        },
        "rollout": {
          "description": "Required. Rollout to deploy the OS policy assignment. A rollout is triggered in the following situations: 1) OSPolicyAssignment is created. 2) OSPolicyAssignment is updated and the update contains changes to one of the following fields: - instance_filter - os_policies 3) OSPolicyAssignment is deleted.",
          "$ref": "OSPolicyAssignmentRollout"
        },
        "revisionId": {
          "description": "Output only. The assignment revision ID A new revision is committed whenever a rollout is triggered for a OS policy assignment",
          "readOnly": true,
          "type": "string"
        },
        "deleted": {
          "description": "Output only. Indicates that this revision deletes the OS policy assignment.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "id": "OSPolicyAssignment",
      "description": "OS policy assignment is an API resource that is used to apply a set of OS policies to a dynamically targeted group of Compute Engine VM instances. An OS policy is used to define the desired state configuration for a Compute Engine VM instance through a set of configuration resources that provide capabilities such as installing or removing software packages, or executing a script. For more information, see [OS policy and OS policy assignment](https://cloud.google.com/compute/docs/os-configuration-management/working-with-os-policies)."
    },
    "ListInventoriesResponse": {
      "id": "ListInventoriesResponse",
      "properties": {
        "inventories": {
          "description": "List of inventory objects.",
          "type": "array",
          "items": {
            "$ref": "Inventory"
          }
        },
        "nextPageToken": {
          "description": "The pagination token to retrieve the next page of inventory objects.",
          "type": "string"
        }
      },
      "description": "A response message for listing inventory data for all VMs in a specified location.",
      "type": "object"
    },
    "OSPolicyResourceRepositoryResourceGooRepository": {
      "properties": {
        "name": {
          "description": "Required. The name of the repository.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "Required. The url of the repository."
        }
      },
      "description": "Represents a Goo package repository. These are added to a repo file that is managed at `C:/ProgramData/GooGet/repos/google_osconfig.repo`.",
      "type": "object",
      "id": "OSPolicyResourceRepositoryResourceGooRepository"
    },
    "OSPolicyResourceComplianceExecResourceOutput": {
      "deprecated": true,
      "properties": {
        "enforcementOutput": {
          "type": "string",
          "format": "byte",
          "description": "Output from Enforcement phase output file (if run). Output size is limited to 100K bytes."
        }
      },
      "description": "ExecResource specific output.",
      "id": "OSPolicyResourceComplianceExecResourceOutput",
      "type": "object"
    },
    "OSPolicyAssignmentInstanceFilter": {
      "properties": {
        "all": {
          "description": "Target all VMs in the project. If true, no other criteria is permitted.",
          "type": "boolean"
        },
        "osShortNames": {
          "deprecated": true,
          "type": "array",
          "description": "Deprecated. Use the `inventories` field instead. A VM is selected if it's OS short name matches with any of the values provided in this list.",
          "items": {
            "type": "string"
          }
        },
        "exclusionLabels": {
          "description": "List of label sets used for VM exclusion. If the list has more than one label set, the VM is excluded if any of the label sets are applicable for the VM.",
          "type": "array",
          "items": {
            "$ref": "OSPolicyAssignmentLabelSet"
          }
        },
        "inclusionLabels": {
          "type": "array",
          "description": "List of label sets used for VM inclusion. If the list has more than one `LabelSet`, the VM is included if any of the label sets are applicable for the VM.",
          "items": {
            "$ref": "OSPolicyAssignmentLabelSet"
          }
        },
        "inventories": {
          "items": {
            "$ref": "OSPolicyAssignmentInstanceFilterInventory"
          },
          "description": "List of inventories to select VMs. A VM is selected if its inventory data matches at least one of the following inventories.",
          "type": "array"
        }
      },
      "id": "OSPolicyAssignmentInstanceFilter",
      "type": "object",
      "description": "Filters to select target VMs for an assignment. If more than one filter criteria is specified below, a VM will be selected if and only if it satisfies all of them."
    },
    "VulnerabilityReportVulnerabilityDetails": {
      "properties": {
        "cvssV3": {
          "$ref": "CVSSv3",
          "description": "The full description of the CVSSv3 for this vulnerability from NVD."
        },
        "references": {
          "type": "array",
          "description": "Corresponds to the references attached to the `VulnerabilityDetails`.",
          "items": {
            "$ref": "VulnerabilityReportVulnerabilityDetailsReference"
          }
        },
        "description": {
          "description": "The note or description describing the vulnerability from the distro.",
          "type": "string"
        },
        "cve": {
          "description": "The CVE of the vulnerability. CVE cannot be empty and the combination of should be unique across vulnerabilities for a VM.",
          "type": "string"
        },
        "cvssV2Score": {
          "type": "number",
          "description": "The CVSS V2 score of this vulnerability. CVSS V2 score is on a scale of 0 - 10 where 0 indicates low severity and 10 indicates high severity.",
          "format": "float"
        },
        "severity": {
          "description": "Assigned severity/impact ranking from the distro.",
          "type": "string"
        }
      },
      "description": "Contains metadata information for the vulnerability. This information is collected from the upstream feed of the operating system.",
      "type": "object",
      "id": "VulnerabilityReportVulnerabilityDetails"
    },
    "ListOSPolicyAssignmentsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token to retrieve the next page of OS policy assignments."
        },
        "osPolicyAssignments": {
          "type": "array",
          "items": {
            "$ref": "OSPolicyAssignment"
          },
          "description": "The list of assignments"
        }
      },
      "description": "A response message for listing all assignments under given parent.",
      "id": "ListOSPolicyAssignmentsResponse",
      "type": "object"
    },
    "OSPolicyAssignmentReportOSPolicyComplianceOSPolicyResourceComplianceOSPolicyResourceConfigStep": {
      "id": "OSPolicyAssignmentReportOSPolicyComplianceOSPolicyResourceComplianceOSPolicyResourceConfigStep",
      "properties": {
        "type": {
          "description": "Configuration step type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "VALIDATION",
            "DESIRED_STATE_CHECK",
            "DESIRED_STATE_ENFORCEMENT",
            "DESIRED_STATE_CHECK_POST_ENFORCEMENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Checks for resource conflicts such as schema errors.",
            "Checks the current status of the desired state for a resource.",
            "Enforces the desired state for a resource that is not in desired state.",
            "Re-checks the status of the desired state. This check is done for a resource after the enforcement of all OS policies. This step is used to determine the final desired state status for the resource. It accounts for any resources that might have drifted from their desired state due to side effects from executing other resources."
          ]
        },
        "errorMessage": {
          "description": "An error message recorded during the execution of this step. Only populated if errors were encountered during this step execution.",
          "type": "string"
        }
      },
      "description": "Step performed by the OS Config agent for configuring an `OSPolicy` resource to its desired state.",
      "type": "object"
    },
    "Operation": {
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation"
    },
    "OSPolicy": {
      "description": "An OS policy defines the desired state configuration for a VM.",
      "id": "OSPolicy",
      "properties": {
        "allowNoResourceGroupMatch": {
          "type": "boolean",
          "description": "This flag determines the OS policy compliance status when none of the resource groups within the policy are applicable for a VM. Set this value to `true` if the policy needs to be reported as compliant even if the policy has nothing to validate or enforce."
        },
        "mode": {
          "enumDescriptions": [
            "Invalid mode",
            "This mode checks if the configuration resources in the policy are in their desired state. No actions are performed if they are not in the desired state. This mode is used for reporting purposes.",
            "This mode checks if the configuration resources in the policy are in their desired state, and if not, enforces the desired state."
          ],
          "type": "string",
          "description": "Required. Policy mode",
          "enum": [
            "MODE_UNSPECIFIED",
            "VALIDATION",
            "ENFORCEMENT"
          ]
        },
        "resourceGroups": {
          "items": {
            "$ref": "OSPolicyResourceGroup"
          },
          "type": "array",
          "description": "Required. List of resource groups for the policy. For a particular VM, resource groups are evaluated in the order specified and the first resource group that is applicable is selected and the rest are ignored. If none of the resource groups are applicable for a VM, the VM is considered to be non-compliant w.r.t this policy. This behavior can be toggled by the flag `allow_no_resource_group_match`"
        },
        "id": {
          "description": "Required. The id of the OS policy with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the assignment.",
          "type": "string"
        },
        "description": {
          "description": "Policy description. Length of the description is limited to 1024 characters.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OSPolicyResourceExecResource": {
      "properties": {
        "enforce": {
          "description": "What to run to bring this resource into the desired state. An exit code of 100 indicates \"success\", any other exit code indicates a failure running enforce.",
          "$ref": "OSPolicyResourceExecResourceExec"
        },
        "validate": {
          "description": "Required. What to run to validate this resource is in the desired state. An exit code of 100 indicates \"in desired state\", and exit code of 101 indicates \"not in desired state\". Any other exit code indicates a failure running validate.",
          "$ref": "OSPolicyResourceExecResourceExec"
        }
      },
      "type": "object",
      "description": "A resource that allows executing scripts on the VM. The `ExecResource` has 2 stages: `validate` and `enforce` and both stages accept a script as an argument to execute. When the `ExecResource` is applied by the agent, it first executes the script in the `validate` stage. The `validate` stage can signal that the `ExecResource` is already in the desired state by returning an exit code of `100`. If the `ExecResource` is not in the desired state, it should return an exit code of `101`. Any other exit code returned by this stage is considered an error. If the `ExecResource` is not in the desired state based on the exit code from the `validate` stage, the agent proceeds to execute the script from the `enforce` stage. If the `ExecResource` is already in the desired state, the `enforce` stage will not be run. Similar to `validate` stage, the `enforce` stage should return an exit code of `100` to indicate that the resource in now in its desired state. Any other exit code is considered an error. NOTE: An exit code of `100` was chosen over `0` (and `101` vs `1`) to have an explicit indicator of `in desired state`, `not in desired state` and errors. Because, for example, Powershell will always return an exit code of `0` unless an `exit` statement is provided in the script. So, for reasons of consistency and being explicit, exit codes `100` and `101` were chosen.",
      "id": "OSPolicyResourceExecResource"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "OSPolicyResource": {
      "type": "object",
      "description": "An OS policy resource is used to define the desired state configuration and provides a specific functionality like installing/removing packages, executing a script etc. The system ensures that resources are always in their desired state by taking necessary actions if they have drifted from their desired state.",
      "id": "OSPolicyResource",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. The id of the resource with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the OS policy."
        },
        "exec": {
          "description": "Exec resource",
          "$ref": "OSPolicyResourceExecResource"
        },
        "file": {
          "description": "File resource",
          "$ref": "OSPolicyResourceFileResource"
        },
        "pkg": {
          "$ref": "OSPolicyResourcePackageResource",
          "description": "Package resource"
        },
        "repository": {
          "$ref": "OSPolicyResourceRepositoryResource",
          "description": "Package repository resource"
        }
      }
    },
    "OSPolicyResourceRepositoryResourceYumRepository": {
      "description": "Represents a single yum package repository. These are added to a repo file that is managed at `/etc/yum.repos.d/google_osconfig.repo`.",
      "type": "object",
      "id": "OSPolicyResourceRepositoryResourceYumRepository",
      "properties": {
        "id": {
          "description": "Required. A one word, unique name for this repository. This is the `repo id` in the yum config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for resource conflicts.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the repository.",
          "type": "string"
        },
        "baseUrl": {
          "description": "Required. The location of the repository directory.",
          "type": "string"
        },
        "gpgKeys": {
          "description": "URIs of GPG keys.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "OSPolicyResourcePackageResourceGooGet": {
      "id": "OSPolicyResourcePackageResourceGooGet",
      "type": "object",
      "description": "A package managed by GooGet. - install: `googet -noconfirm install package` - remove: `googet -noconfirm remove package`",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Package name."
        }
      }
    },
    "OSPolicyResourcePackageResource": {
      "type": "object",
      "properties": {
        "zypper": {
          "$ref": "OSPolicyResourcePackageResourceZypper",
          "description": "A package managed by Zypper."
        },
        "deb": {
          "description": "A deb package file.",
          "$ref": "OSPolicyResourcePackageResourceDeb"
        },
        "rpm": {
          "description": "An rpm package file.",
          "$ref": "OSPolicyResourcePackageResourceRPM"
        },
        "desiredState": {
          "description": "Required. The desired state the agent should maintain for this package.",
          "enum": [
            "DESIRED_STATE_UNSPECIFIED",
            "INSTALLED",
            "REMOVED"
          ],
          "enumDescriptions": [
            "Unspecified is invalid.",
            "Ensure that the package is installed.",
            "The agent ensures that the package is not installed and uninstalls it if detected."
          ],
          "type": "string"
        },
        "msi": {
          "description": "An MSI package.",
          "$ref": "OSPolicyResourcePackageResourceMSI"
        },
        "yum": {
          "description": "A package managed by YUM.",
          "$ref": "OSPolicyResourcePackageResourceYUM"
        },
        "googet": {
          "description": "A package managed by GooGet.",
          "$ref": "OSPolicyResourcePackageResourceGooGet"
        },
        "apt": {
          "$ref": "OSPolicyResourcePackageResourceAPT",
          "description": "A package managed by Apt."
        }
      },
      "description": "A resource that manages a system package.",
      "id": "OSPolicyResourcePackageResource"
    },
    "VulnerabilityReportVulnerabilityDetailsReference": {
      "properties": {
        "source": {
          "description": "The source of the reference e.g. NVD.",
          "type": "string"
        },
        "url": {
          "description": "The url of the reference.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A reference for this vulnerability.",
      "id": "VulnerabilityReportVulnerabilityDetailsReference"
    },
    "Inventory": {
      "id": "Inventory",
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp of the last reported inventory for the VM.",
          "type": "string"
        },
        "items": {
          "type": "object",
          "additionalProperties": {
            "$ref": "InventoryItem"
          },
          "description": "Output only. Inventory items related to the VM keyed by an opaque unique identifier for each inventory item. The identifier is unique to each distinct and addressable inventory item and will change, when there is a new package version.",
          "readOnly": true
        },
        "osInfo": {
          "description": "Output only. Base level operating system information for the VM.",
          "$ref": "InventoryOsInfo",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The `Inventory` API resource name. Format: `projects/{project_number}/locations/{location}/instances/{instance_id}/inventory`",
          "type": "string"
        }
      },
      "description": "This API resource represents the available inventory data for a Compute Engine virtual machine (VM) instance at a given point in time. You can use this API resource to determine the inventory data of your VM. For more information, see [Information provided by OS inventory management](https://cloud.google.com/compute/docs/instances/os-inventory-management#data-collected)."
    },
    "InstanceOSPoliciesCompliance": {
      "deprecated": true,
      "id": "InstanceOSPoliciesCompliance",
      "properties": {
        "detailedStateReason": {
          "type": "string",
          "description": "Output only. The reason for the `detailed_state` of the VM (if any).",
          "readOnly": true
        },
        "osPolicyCompliances": {
          "type": "array",
          "description": "Output only. Compliance data for each `OSPolicy` that is applied to the VM.",
          "items": {
            "$ref": "InstanceOSPoliciesComplianceOSPolicyCompliance"
          },
          "readOnly": true
        },
        "lastComplianceRunId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique identifier for the last compliance run. This id will be logged by the OS config agent during a compliance run and can be used for debugging and tracing purpose."
        },
        "detailedState": {
          "description": "Output only. Detailed compliance state of the VM. This field is populated only when compliance state is `UNKNOWN`. It may contain one of the following values: * `no-compliance-data`: Compliance data is not available for this VM. * `no-agent-detected`: OS Config agent is not detected for this VM. * `config-not-supported-by-agent`: The version of the OS Config agent running on this VM does not support configuration management. * `inactive`: VM is not running. * `internal-service-errors`: There were internal service errors encountered while enforcing compliance. * `agent-errors`: OS config agent encountered errors while enforcing compliance.",
          "readOnly": true,
          "type": "string"
        },
        "lastComplianceCheckTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp of the last compliance check for the VM.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The `InstanceOSPoliciesCompliance` API resource name. Format: `projects/{project_number}/locations/{location}/instanceOSPoliciesCompliances/{instance_id}`",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "Output only. Compliance state of the VM.",
          "enum": [
            "OS_POLICY_COMPLIANCE_STATE_UNSPECIFIED",
            "COMPLIANT",
            "NON_COMPLIANT",
            "UNKNOWN",
            "NO_OS_POLICIES_APPLICABLE"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Compliant state.",
            "Non-compliant state",
            "Unknown compliance state.",
            "No applicable OS policies were found for the instance. This state is only applicable to the instance."
          ],
          "readOnly": true,
          "type": "string"
        },
        "instance": {
          "description": "Output only. The Compute Engine VM instance name.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "This API resource represents the OS policies compliance data for a Compute Engine virtual machine (VM) instance at a given point in time. A Compute Engine VM can have multiple OS policy assignments, and each assignment can have multiple OS policies. As a result, multiple OS policies could be applied to a single VM. You can use this API resource to determine both the compliance state of your VM as well as the compliance state of an individual OS policy. For more information, see [View compliance](https://cloud.google.com/compute/docs/os-configuration-management/view-compliance).",
      "type": "object"
    },
    "VulnerabilityReport": {
      "properties": {
        "name": {
          "type": "string",
[...]
