{
  "mtlsRootUrl": "https://osconfig.mtls.googleapis.com/",
  "name": "osconfig",
  "title": "OS Config API",
  "servicePath": "",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/compute/docs/osconfig/rest",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "id": "osconfig:v1",
  "baseUrl": "https://osconfig.googleapis.com/",
  "rootUrl": "https://osconfig.googleapis.com/",
  "discoveryVersion": "v1",
  "version_module": true,
  "resources": {
    "projects": {
      "resources": {
        "patchJobs": {
          "methods": {
            "list": {
              "path": "v1/{+parent}/patchJobs",
              "description": "Get a list of patch jobs.",
              "response": {
                "$ref": "ListPatchJobsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/patchJobs",
              "parameterOrder": [
                "parent"
              ],
              "id": "osconfig.projects.patchJobs.list",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A pagination token returned from a previous call that indicates where this listing should continue from."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "If provided, this field specifies the criteria that must be met by patch jobs to be included in the response. Currently, filtering is only available on the patch_deployment field."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of instance status to return.",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. In the form of `projects/*`",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "response": {
                "$ref": "PatchJob"
              },
              "id": "osconfig.projects.patchJobs.get",
              "flatPath": "v1/projects/{projectsId}/patchJobs/{patchJobsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/patchJobs/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the patch in the form `projects/*/patchJobs/*`",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Get the patch job. This can be used to track the progress of an ongoing patch job or review the details of completed jobs."
            },
            "execute": {
              "flatPath": "v1/projects/{projectsId}/patchJobs:execute",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "PatchJob"
              },
              "id": "osconfig.projects.patchJobs.execute",
              "description": "Patch VM instances by creating and running a patch job.",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The project in which to run this patch in the form `projects/*`"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "ExecutePatchJobRequest"
              },
              "path": "v1/{+parent}/patchJobs:execute"
            },
            "cancel": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of the patch in the form `projects/*/patchJobs/*`",
                  "location": "path",
                  "pattern": "^projects/[^/]+/patchJobs/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/patchJobs/{patchJobsId}:cancel",
              "response": {
                "$ref": "PatchJob"
              },
              "description": "Cancel a patch job. The patch job must be active. Canceled patch jobs cannot be restarted.",
              "path": "v1/{+name}:cancel",
              "id": "osconfig.projects.patchJobs.cancel",
              "request": {
                "$ref": "CancelPatchJobRequest"
              },
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "instanceDetails": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListPatchJobInstanceDetailsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/patchJobs/{patchJobsId}/instanceDetails",
                  "path": "v1/{+parent}/instanceDetails",
                  "description": "Get a list of instance details for a given patch job.",
                  "httpMethod": "GET",
                  "id": "osconfig.projects.patchJobs.instanceDetails.list",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A pagination token returned from a previous call that indicates where this listing should continue from."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "A filter expression that filters results listed in the response. This field supports filtering results by instance zone, name, state, or `failure_reason`."
                    },
                    "parent": {
                      "description": "Required. The parent for the instances are in the form of `projects/*/patchJobs/*`.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/patchJobs/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of instance details records to return. Default is 100.",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          }
        },
        "patchDeployments": {
          "methods": {
            "patch": {
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "description": "Unique name for the patch deployment resource in a project. The patch deployment name is in the form: `projects/{project_id}/patchDeployments/{patch_deployment_id}`. This field is ignored when you create a new patch deployment.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "description": "Optional. Field mask that controls which fields of the patch deployment should be updated.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "response": {
                "$ref": "PatchDeployment"
              },
              "description": "Update an OS Config patch deployment.",
              "id": "osconfig.projects.patchDeployments.patch",
              "request": {
                "$ref": "PatchDeployment"
              },
              "flatPath": "v1/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
              "parameterOrder": [
                "name"
              ]
            },
            "pause": {
              "response": {
                "$ref": "PatchDeployment"
              },
              "httpMethod": "POST",
              "description": "Change state of patch deployment to \"PAUSED\". Patch deployment in paused state doesn't generate patch jobs.",
              "flatPath": "v1/projects/{projectsId}/patchDeployments/{patchDeploymentsId}:pause",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`.",
                  "type": "string"
                }
              },
              "id": "osconfig.projects.patchDeployments.pause",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:pause",
              "request": {
                "$ref": "PausePatchDeploymentRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/patchDeployments",
              "response": {
                "$ref": "PatchDeployment"
              },
              "parameters": {
                "patchDeploymentId": {
                  "description": "Required. A name for the patch deployment in the project. When creating a name the following rules apply: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the project.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The project to apply this patch deployment to in the form `projects/*`.",
                  "required": true
                }
              },
              "description": "Create an OS Config patch deployment.",
              "request": {
                "$ref": "PatchDeployment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/patchDeployments",
              "id": "osconfig.projects.patchDeployments.create"
            },
            "delete": {
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "osconfig.projects.patchDeployments.delete",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`.",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "description": "Delete an OS Config patch deployment.",
              "flatPath": "v1/projects/{projectsId}/patchDeployments/{patchDeploymentsId}"
            },
            "resume": {
              "request": {
                "$ref": "ResumePatchDeploymentRequest"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`.",
                  "type": "string"
                }
              },
              "path": "v1/{+name}:resume",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/patchDeployments/{patchDeploymentsId}:resume",
              "id": "osconfig.projects.patchDeployments.resume",
              "description": "Change state of patch deployment back to \"ACTIVE\". Patch deployment in active state continues to generate patch jobs.",
              "response": {
                "$ref": "PatchDeployment"
              }
            },
            "get": {
              "description": "Get an OS Config patch deployment.",
              "id": "osconfig.projects.patchDeployments.get",
              "flatPath": "v1/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`.",
                  "required": true,
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "PatchDeployment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}"
            },
            "list": {
              "path": "v1/{+parent}/patchDeployments",
              "parameters": {
                "pageToken": {
                  "description": "Optional. A pagination token returned from a previous call to ListPatchDeployments that indicates where this listing should continue from.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of patch deployments to return. Default is 100.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The resource name of the parent in the form `projects/*`.",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListPatchDeploymentsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get a page of OS Config patch deployments.",
              "flatPath": "v1/projects/{projectsId}/patchDeployments",
              "id": "osconfig.projects.patchDeployments.list"
            }
          }
        },
        "locations": {
          "resources": {
            "osPolicyAssignments": {
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}/operations/{operationsId}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+/operations/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "The name of the operation resource."
                        }
                      },
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "id": "osconfig.projects.locations.osPolicyAssignments.operations.get",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "cancel": {
                      "response": {
                        "$ref": "Empty"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "CancelOperationRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}/operations/{operationsId}:cancel",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "The name of the operation resource to be cancelled."
                        }
                      },
                      "id": "osconfig.projects.locations.osPolicyAssignments.operations.cancel",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:cancel",
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments",
                  "id": "osconfig.projects.locations.osPolicyAssignments.create",
                  "path": "v1/{+parent}/osPolicyAssignments",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "OSPolicyAssignment"
                  },
                  "parameters": {
                    "osPolicyAssignmentId": {
                      "description": "Required. The logical name of the OS policy assignment in the project with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the project.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent resource name in the form: projects/{project}/locations/{location}. Note: Specify the zone of your VMs as the location.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is only idempotent if a `request_id` is provided."
                    }
                  },
                  "description": "Create an OS policy assignment. This method also creates the first revision of the OS policy assignment. This method returns a long running operation (LRO) that contains the rollout details. The rollout can be cancelled by cancelling the LRO. For more information, see [Method: projects.locations.osPolicyAssignments.operations.cancel](https://cloud.google.com/compute/docs/osconfig/rest/v1/projects.locations.osPolicyAssignments.operations/cancel)."
                },
                "delete": {
                  "id": "osconfig.projects.locations.osPolicyAssignments.delete",
                  "description": "Delete the OS policy assignment. This method creates a new revision of the OS policy assignment. This method returns a long running operation (LRO) that contains the rollout details. The rollout can be cancelled by cancelling the LRO. If the LRO completes and is not cancelled, all revisions associated with the OS policy assignment are deleted. For more information, see [Method: projects.locations.osPolicyAssignments.operations.cancel](https://cloud.google.com/compute/docs/osconfig/rest/v1/projects.locations.osPolicyAssignments.operations/cancel).",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the OS policy assignment to be deleted",
                      "required": true
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is only idempotent if a `request_id` is provided.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "List the OS policy assignments under the parent resource. For each OS policy assignment, the latest revision is returned.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListOSPolicyAssignmentsResponse"
                  },
                  "id": "osconfig.projects.locations.osPolicyAssignments.list",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of assignments to return."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A pagination token returned from a previous call to `ListOSPolicyAssignments` that indicates where this listing should continue from."
                    },
                    "parent": {
                      "description": "Required. The parent resource name.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/osPolicyAssignments",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "OSPolicyAssignment"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of OS policy assignment. Format: `projects/{project}/locations/{location}/osPolicyAssignments/{os_policy_assignment}@{revisionId}`",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "osconfig.projects.locations.osPolicyAssignments.get",
                  "description": "Retrieve an existing OS policy assignment. This method always returns the latest revision. In order to retrieve a previous revision of the assignment, also provide the revision ID in the `name` parameter.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}",
                  "httpMethod": "GET"
                },
                "patch": {
                  "request": {
                    "$ref": "OSPolicyAssignment"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}",
                  "id": "osconfig.projects.locations.osPolicyAssignments.patch",
                  "description": "Update an existing OS policy assignment. This method creates a new revision of the OS policy assignment. This method returns a long running operation (LRO) that contains the rollout details. The rollout can be cancelled by cancelling the LRO. For more information, see [Method: projects.locations.osPolicyAssignments.operations.cancel](https://cloud.google.com/compute/docs/osconfig/rest/v1/projects.locations.osPolicyAssignments.operations/cancel).",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "allowMissing": {
                      "location": "query",
                      "description": "Optional. If set to true, and the OS policy assignment is not found, a new OS policy assignment will be created. In this situation, `update_mask` is ignored.",
                      "type": "boolean"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Resource name. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id}` This field is ignored when you create an OS policy assignment."
                    },
                    "updateMask": {
                      "description": "Optional. Field mask that controls which fields of the assignment should be updated.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "Optional. A unique identifier for this request. Restricted to 36 ASCII characters. A random UUID is recommended. This request is only idempotent if a `request_id` is provided.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "listRevisions": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/osPolicyAssignments/{osPolicyAssignmentsId}:listRevisions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOSPolicyAssignmentRevisionsResponse"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/osPolicyAssignments/[^/]+$",
                      "description": "Required. The name of the OS policy assignment to list revisions for."
                    },
                    "pageSize": {
                      "description": "The maximum number of revisions to return.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A pagination token returned from a previous call to `ListOSPolicyAssignmentRevisions` that indicates where this listing should continue from.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}:listRevisions",
                  "description": "List the OS policy assignment revisions for a given OS policy assignment.",
                  "id": "osconfig.projects.locations.osPolicyAssignments.listRevisions"
                }
              }
            },
            "global": {
              "methods": {
                "getProjectFeatureSettings": {
                  "id": "osconfig.projects.locations.global.getProjectFeatureSettings",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "GetProjectFeatureSettings returns the VM Manager feature settings for a project.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/global/projectFeatureSettings$",
                      "type": "string",
                      "description": "Required. Name specifies the URL for the ProjectFeatureSettings resource: projects/project_id/locations/global/projectFeatureSettings.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "ProjectFeatureSettings"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/global/projectFeatureSettings"
                },
                "updateProjectFeatureSettings": {
                  "response": {
                    "$ref": "ProjectFeatureSettings"
                  },
                  "id": "osconfig.projects.locations.global.updateProjectFeatureSettings",
                  "request": {
                    "$ref": "ProjectFeatureSettings"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/global/projectFeatureSettings",
                  "description": "UpdateProjectFeatureSettings sets the VM Manager features for a project.",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/global/projectFeatureSettings$",
                      "location": "path",
                      "description": "Required. Immutable. Name specifies the URL for the ProjectFeatureSettings resource: projects/project_id/locations/global/projectFeatureSettings.",
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Optional. Field mask that controls which fields of the ProjectFeatureSettings should be updated."
                    }
                  }
                }
              }
            },
            "instances": {
              "resources": {
                "inventories": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Get inventory data for the specified VM instance. If the VM has no associated inventory, the message `NOT_FOUND` is returned.",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/inventory$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. API resource name for inventory resource. Format: `projects/{project}/locations/{location}/instances/{instance}/inventory` For `{project}`, either `project-number` or `project-id` can be provided. For `{instance}`, either Compute Engine `instance-id` or `instance-name` can be provided.",
                          "required": true
                        },
                        "view": {
                          "enum": [
                            "INVENTORY_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "enumDescriptions": [
                            "The default value. The API defaults to the BASIC view.",
                            "Returns the basic inventory information that includes `os_info`.",
                            "Returns all fields."
                          ],
                          "description": "Inventory view indicating what information should be included in the inventory resource. If unspecified, the default view is BASIC.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Inventory"
                      },
                      "id": "osconfig.projects.locations.instances.inventories.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/inventory"
                    },
                    "list": {
                      "id": "osconfig.projects.locations.instances.inventories.list",
                      "path": "v1/{+parent}/inventories",
                      "httpMethod": "GET",
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "If provided, this field specifies the criteria that must be met by a `Inventory` API resource to be included in the response."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A pagination token returned from a previous call to `ListInventories` that indicates where this listing should continue from."
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "The maximum number of results to return.",
                          "format": "int32"
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "description": "Required. The parent resource name. Format: `projects/{project}/locations/{location}/instances/-` For `{project}`, either `project-number` or `project-id` can be provided."
                        },
                        "view": {
                          "enum": [
                            "INVENTORY_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "location": "query",
                          "enumDescriptions": [
                            "The default value. The API defaults to the BASIC view.",
                            "Returns the basic inventory information that includes `os_info`.",
                            "Returns all fields."
                          ],
                          "type": "string",
                          "description": "Inventory view indicating what information should be included in the inventory resource. If unspecified, the default view is BASIC."
                        }
                      },
                      "description": "List inventory data for all VM instances in the specified zone.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/inventories",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListInventoriesResponse"
                      }
                    }
                  }
                },
                "osPolicyAssignments": {
                  "resources": {
                    "reports": {
                      "methods": {
                        "get": {
                          "httpMethod": "GET",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/osPolicyAssignments/{osPolicyAssignmentsId}/report",
                          "id": "osconfig.projects.locations.instances.osPolicyAssignments.reports.get",
                          "response": {
                            "$ref": "OSPolicyAssignmentReport"
                          },
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/osPolicyAssignments/[^/]+/report$",
                              "type": "string",
                              "required": true,
                              "description": "Required. API resource name for OS policy assignment report. Format: `/projects/{project}/locations/{location}/instances/{instance}/osPolicyAssignments/{assignment}/report` For `{project}`, either `project-number` or `project-id` can be provided. For `{instance_id}`, either Compute Engine `instance-id` or `instance-name` can be provided. For `{assignment_id}`, the OSPolicyAssignment id must be provided.",
                              "location": "path"
                            }
                          },
                          "description": "Get the OS policy assignment report for the specified Compute Engine VM instance.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}"
                        },
                        "list": {
                          "response": {
                            "$ref": "ListOSPolicyAssignmentReportsResponse"
                          },
                          "httpMethod": "GET",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/osPolicyAssignments/{osPolicyAssignmentsId}/reports",
                          "parameters": {
                            "filter": {
                              "location": "query",
                              "type": "string",
                              "description": "If provided, this field specifies the criteria that must be met by the `OSPolicyAssignmentReport` API resource that is included in the response."
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "description": "The maximum number of results to return.",
                              "format": "int32"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "A pagination token returned from a previous call to the `ListOSPolicyAssignmentReports` method that indicates where this listing should continue from."
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/osPolicyAssignments/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string",
                              "description": "Required. The parent resource name. Format: `projects/{project}/locations/{location}/instances/{instance}/osPolicyAssignments/{assignment}/reports` For `{project}`, either `project-number` or `project-id` can be provided. For `{instance}`, either `instance-name`, `instance-id`, or `-` can be provided. If '-' is provided, the response will include OSPolicyAssignmentReports for all instances in the project/location. For `{assignment}`, either `assignment-id` or `-` can be provided. If '-' is provided, the response will include OSPolicyAssignmentReports for all OSPolicyAssignments in the project/location. Either {instance} or {assignment} must be `-`. For example: `projects/{project}/locations/{location}/instances/{instance}/osPolicyAssignments/-/reports` returns all reports for the instance `projects/{project}/locations/{location}/instances/-/osPolicyAssignments/{assignment-id}/reports` returns all the reports for the given assignment across all instances. `projects/{project}/locations/{location}/instances/-/osPolicyAssignments/-/reports` returns all the reports for all assignments across all instances."
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/reports",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "osconfig.projects.locations.instances.osPolicyAssignments.reports.list",
                          "description": "List OS policy assignment reports for all Compute Engine VM instances in the specified zone."
                        }
                      }
                    }
                  }
                },
                "vulnerabilityReports": {
                  "methods": {
                    "get": {
                      "id": "osconfig.projects.locations.instances.vulnerabilityReports.get",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. API resource name for vulnerability resource. Format: `projects/{project}/locations/{location}/instances/{instance}/vulnerabilityReport` For `{project}`, either `project-number` or `project-id` can be provided. For `{instance}`, either Compute Engine `instance-id` or `instance-name` can be provided.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+/vulnerabilityReport$"
                        }
                      },
                      "response": {
                        "$ref": "VulnerabilityReport"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "description": "Gets the vulnerability report for the specified VM instance. Only VMs with inventory data have vulnerability reports associated with them.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/vulnerabilityReport",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/vulnerabilityReports",
                      "id": "osconfig.projects.locations.instances.vulnerabilityReports.list",
                      "response": {
                        "$ref": "ListVulnerabilityReportsResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/instances/{instancesId}/vulnerabilityReports",
                      "parameters": {
                        "filter": {
                          "description": "This field supports filtering by the severity level for the vulnerability. For a list of severity levels, see [Severity levels for vulnerabilities](https://cloud.google.com/container-analysis/docs/container-scanning-overview#severity_levels_for_vulnerabilities). The filter field follows the rules described in the [AIP-160](https://google.aip.dev/160) guidelines as follows: + **Filter for a specific severity type**: you can list reports that contain vulnerabilities that are classified as medium by specifying `vulnerabilities.details.severity:MEDIUM`. + **Filter for a range of severities** : you can list reports that have vulnerabilities that are classified as critical or high by specifying `vulnerabilities.details.severity:HIGH OR vulnerabilities.details.severity:CRITICAL`",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A pagination token returned from a previous call to `ListVulnerabilityReports` that indicates where this listing should continue from."
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "The maximum number of results to return.",
                          "format": "int32"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The parent resource name. Format: `projects/{project}/locations/{location}/instances/-` For `{project}`, either `project-number` or `project-id` can be provided.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/instances/[^/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "List vulnerability reports for all VM instances in the specified zone."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "description": "OS management tools that can be used for patch management, patch compliance, and configuration management on VM instances.",
  "endpoints": [
    {
      "endpointUrl": "https://osconfig.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.asia-east1.rep.googleapis.com/",
      "location": "asia-east1"
    },
    {
      "location": "asia-east2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.asia-east2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://osconfig.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://osconfig.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "endpointUrl": "https://osconfig.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south2",
      "endpointUrl": "https://osconfig.asia-south2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://osconfig.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://osconfig.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.asia-southeast3.rep.googleapis.com/"
    },
    {
      "location": "australia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.australia-southeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://osconfig.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://osconfig.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.europe-north1.rep.googleapis.com/",
      "location": "europe-north1"
    },
    {
      "location": "europe-north2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.europe-north2.rep.googleapis.com/"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://osconfig.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west1",
      "endpointUrl": "https://osconfig.europe-west1.rep.googleapis.com/"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://osconfig.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west12",
      "endpointUrl": "https://osconfig.europe-west12.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.europe-west15.rep.googleapis.com/",
      "location": "europe-west15"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.europe-west2.rep.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "location": "europe-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.europe-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west4",
      "endpointUrl": "https://osconfig.europe-west4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.europe-west6.rep.googleapis.com/",
      "location": "europe-west6"
    },
    {
      "endpointUrl": "https://osconfig.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.europe-west9.rep.googleapis.com/",
      "location": "europe-west9"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.me-central1.rep.googleapis.com/",
      "location": "me-central1"
    },
    {
      "endpointUrl": "https://osconfig.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.me-west1.rep.googleapis.com/",
      "location": "me-west1"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1",
      "endpointUrl": "https://osconfig.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "location": "northamerica-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.northamerica-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://osconfig.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-east1"
    },
    {
      "endpointUrl": "https://osconfig.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://osconfig.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.us-central6.rep.googleapis.com/",
      "location": "us-central6"
    },
    {
      "endpointUrl": "https://osconfig.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://osconfig.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.us-east5.rep.googleapis.com/",
      "location": "us-east5"
    },
    {
      "location": "us-east7",
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.us-east7.rep.googleapis.com/"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://osconfig.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.us-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://osconfig.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.us-west4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.us-west8.rep.googleapis.com/",
      "location": "us-west8"
    }
  ],
  "schemas": {
    "VulnerabilityReportVulnerabilityItem": {
      "properties": {
        "installedInventoryItemId": {
          "description": "Corresponds to the `INSTALLED_PACKAGE` inventory item on the VM. This field displays the inventory items affected by this vulnerability. If the vulnerability report was not updated after the VM inventory update, these values might not display in VM inventory. For some operating systems, this field might be empty.",
          "type": "string"
        },
        "fixedCpeUri": {
          "type": "string",
          "description": "The recommended [CPE URI](https://cpe.mitre.org/specification/) update that contains a fix for this vulnerability."
        },
        "upstreamFix": {
          "type": "string",
          "description": "The upstream OS patch, packages or KB that fixes the vulnerability."
        },
        "availableInventoryItemId": {
          "type": "string",
          "description": "Corresponds to the `AVAILABLE_PACKAGE` inventory item on the VM. If the vulnerability report was not updated after the VM inventory update, these values might not display in VM inventory. If there is no available fix, the field is empty. The `inventory_item` value specifies the latest `SoftwarePackage` available to the VM that fixes the vulnerability."
        }
      },
      "id": "VulnerabilityReportVulnerabilityItem",
      "description": "OS inventory item that is affected by a vulnerability or fixed as a result of a vulnerability.",
      "type": "object"
    },
    "PatchJob": {
      "type": "object",
      "properties": {
        "instanceFilter": {
          "description": "Instances to patch.",
          "$ref": "PatchInstanceFilter"
        },
        "percentComplete": {
          "description": "Reflects the overall progress of the patch job in the range of 0.0 being no progress to 100.0 being complete.",
          "format": "double",
          "type": "number"
        },
        "rollout": {
          "description": "Rollout strategy being applied.",
          "$ref": "PatchRollout"
        },
        "displayName": {
          "type": "string",
          "description": "Display name for this patch job. This is not a unique identifier."
        },
        "dryRun": {
          "description": "If this patch job is a dry run, the agent reports that it has finished without running any updates on the VM instance.",
          "type": "boolean"
        },
        "createTime": {
          "description": "Time this patch job was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Description of the patch job. Length of the description is limited to 1024 characters.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State must be specified.",
            "The patch job was successfully initiated.",
            "The patch job is looking up instances to run the patch on.",
            "Instances are being patched.",
            "Patch job completed successfully.",
            "The patch job completed without errors, but some instances were inactive and therefore not patched.",
            "Patch job completed but there were errors.",
            "The patch job was canceled.",
            "The patch job timed out."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "INSTANCE_LOOKUP",
            "PATCHING",
            "SUCCEEDED",
            "COMPLETED_WITH_INACTIVE_VMS",
            "COMPLETED_WITH_ERRORS",
            "CANCELED",
            "TIMED_OUT"
          ],
          "description": "The current state of the PatchJob."
        },
        "patchDeployment": {
          "type": "string",
          "description": "Output only. Name of the patch deployment that created this patch job.",
          "readOnly": true
        },
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "Duration of the patch job. After the duration ends, the patch job times out."
        },
        "errorMessage": {
          "description": "If this patch job failed, this message provides information about the failure.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Unique identifier for this patch job in the form `projects/*/patchJobs/*`"
        },
        "patchConfig": {
          "$ref": "PatchConfig",
          "description": "Patch configuration being applied."
        },
        "instanceDetailsSummary": {
          "description": "Summary of instance details.",
          "$ref": "PatchJobInstanceDetailsSummary"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Last time this patch job was updated."
        }
      },
      "id": "PatchJob",
      "description": "A high level representation of a patch job that is either in progress or has completed. Instance details are not included in the job. To paginate through instance details, use `ListPatchJobInstanceDetails`. For more information about patch jobs, see [Creating patch jobs](https://cloud.google.com/compute/docs/os-patch-management/create-patch-job)."
    },
    "YumSettings": {
      "description": "Yum patching is performed by executing `yum update`. Additional options can be set to control how this is executed. Note that not all settings are supported on all platforms.",
      "id": "YumSettings",
      "type": "object",
      "properties": {
        "minimal": {
          "description": "Will cause patch to run `yum update-minimal` instead.",
          "type": "boolean"
        },
        "security": {
          "description": "Adds the `--security` flag to `yum update`. Not supported on all platforms.",
          "type": "boolean"
        },
        "excludes": {
          "items": {
            "type": "string"
          },
          "description": "List of packages to exclude from update. These packages are excluded by using the yum `--exclude` flag.",
          "type": "array"
        },
        "exclusivePackages": {
          "description": "An exclusive list of packages to be updated. These are the only packages that will be updated. If these packages are not installed, they will be ignored. This field must not be specified with any other patch configuration fields.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "OSPolicyResourcePackageResource": {
      "properties": {
        "zypper": {
          "description": "A package managed by Zypper.",
          "$ref": "OSPolicyResourcePackageResourceZypper"
        },
        "deb": {
          "description": "A deb package file.",
          "$ref": "OSPolicyResourcePackageResourceDeb"
        },
        "yum": {
          "$ref": "OSPolicyResourcePackageResourceYUM",
          "description": "A package managed by YUM."
        },
        "googet": {
          "description": "A package managed by GooGet.",
          "$ref": "OSPolicyResourcePackageResourceGooGet"
        },
        "msi": {
          "description": "An MSI package.",
          "$ref": "OSPolicyResourcePackageResourceMSI"
        },
        "apt": {
          "$ref": "OSPolicyResourcePackageResourceAPT",
          "description": "A package managed by Apt."
        },
        "desiredState": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified is invalid.",
            "Ensure that the package is installed.",
            "The agent ensures that the package is not installed and uninstalls it if detected."
          ],
          "description": "Required. The desired state the agent should maintain for this package.",
          "enum": [
            "DESIRED_STATE_UNSPECIFIED",
            "INSTALLED",
            "REMOVED"
          ]
        },
        "rpm": {
          "description": "An rpm package file.",
          "$ref": "OSPolicyResourcePackageResourceRPM"
        }
      },
      "id": "OSPolicyResourcePackageResource",
      "type": "object",
      "description": "A resource that manages a system package."
    },
    "OSPolicyResource": {
      "type": "object",
      "description": "An OS policy resource is used to define the desired state configuration and provides a specific functionality like installing/removing packages, executing a script etc. The system ensures that resources are always in their desired state by taking necessary actions if they have drifted from their desired state.",
      "id": "OSPolicyResource",
      "properties": {
        "pkg": {
          "description": "Package resource",
          "$ref": "OSPolicyResourcePackageResource"
        },
        "exec": {
          "$ref": "OSPolicyResourceExecResource",
          "description": "Exec resource"
        },
        "repository": {
          "description": "Package repository resource",
          "$ref": "OSPolicyResourceRepositoryResource"
        },
        "id": {
          "description": "Required. The id of the resource with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the OS policy.",
          "type": "string"
        },
        "file": {
          "description": "File resource",
          "$ref": "OSPolicyResourceFileResource"
        }
      }
    },
    "VulnerabilityReportVulnerability": {
      "type": "object",
      "id": "VulnerabilityReportVulnerability",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "The timestamp for when the vulnerability was last modified.",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "The timestamp for when the vulnerability was first detected.",
          "type": "string",
          "format": "google-datetime"
        },
        "installedInventoryItemIds": {
          "type": "array",
          "description": "Corresponds to the `INSTALLED_PACKAGE` inventory item on the VM. This field displays the inventory items affected by this vulnerability. If the vulnerability report was not updated after the VM inventory update, these values might not display in VM inventory. For some distros, this field may be empty.",
          "deprecated": true,
          "items": {
            "type": "string"
          }
        },
        "details": {
          "$ref": "VulnerabilityReportVulnerabilityDetails",
          "description": "Contains metadata as per the upstream feed of the operating system and NVD."
        },
        "items": {
          "description": "List of items affected by the vulnerability.",
          "items": {
            "$ref": "VulnerabilityReportVulnerabilityItem"
          },
          "type": "array"
        },
        "availableInventoryItemIds": {
          "deprecated": true,
          "description": "Corresponds to the `AVAILABLE_PACKAGE` inventory item on the VM. If the vulnerability report was not updated after the VM inventory update, these values might not display in VM inventory. If there is no available fix, the field is empty. The `inventory_item` value specifies the latest `SoftwarePackage` available to the VM that fixes the vulnerability.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A vulnerability affecting the VM instance."
    },
    "OSPolicyResourcePackageResourceMSI": {
      "type": "object",
      "description": "An MSI package. MSI packages only support INSTALLED state.",
      "id": "OSPolicyResourcePackageResourceMSI",
      "properties": {
        "source": {
          "$ref": "OSPolicyResourceFile",
          "description": "Required. The MSI package."
        },
        "properties": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Additional properties to use during installation. This should be in the format of Property=Setting. Appended to the defaults of `ACTION=INSTALL REBOOT=ReallySuppress`."
        }
      }
    },
    "ListOSPolicyAssignmentRevisionsResponse": {
      "type": "object",
      "description": "A response message for listing all revisions for a OS policy assignment.",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token to retrieve the next page of OS policy assignment revisions.",
          "type": "string"
        },
        "osPolicyAssignments": {
          "description": "The OS policy assignment revisions",
          "items": {
            "$ref": "OSPolicyAssignment"
          },
          "type": "array"
        }
      },
      "id": "ListOSPolicyAssignmentRevisionsResponse"
    },
    "AptSettings": {
      "id": "AptSettings",
      "properties": {
        "excludes": {
          "items": {
            "type": "string"
          },
          "description": "List of packages to exclude from update. These packages will be excluded",
          "type": "array"
        },
        "exclusivePackages": {
          "items": {
            "type": "string"
          },
          "description": "An exclusive list of packages to be updated. These are the only packages that will be updated. If these packages are not installed, they will be ignored. This field cannot be specified with any other patch configuration fields.",
          "type": "array"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "DIST",
            "UPGRADE"
          ],
          "enumDescriptions": [
            "By default, upgrade will be performed.",
            "Runs `apt-get dist-upgrade`.",
            "Runs `apt-get upgrade`."
          ],
          "description": "By changing the type to DIST, the patching is performed using `apt-get dist-upgrade` instead.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Apt patching is completed by executing `apt-get update && apt-get upgrade`. Additional options can be set to control how this is executed."
    },
    "WeekDayOfMonth": {
      "id": "WeekDayOfMonth",
      "description": "Represents one week day in a month. An example is \"the 4th Sunday\".",
      "type": "object",
      "properties": {
        "dayOfWeek": {
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string",
          "description": "Required. A day of the week."
        },
        "weekOrdinal": {
          "description": "Required. Week number in a month. 1-4 indicates the 1st to 4th week of the month. -1 indicates the last week of the month.",
          "type": "integer",
          "format": "int32"
        },
        "dayOffset": {
          "description": "Optional. Represents the number of days before or after the given week day of month that the patch deployment is scheduled for. For example if `week_ordinal` and `day_of_week` values point to the second Tuesday of the month and the `day_offset` value is set to `3`, patch deployment takes place three days after the second Tuesday of the month. If this value is negative, for example -5, patches are deployed five days before the second Tuesday of the month. Allowed values are in range [-30, 30].",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "OSPolicyAssignmentInstanceFilterInventory": {
      "type": "object",
      "description": "VM inventory details.",
      "properties": {
        "osVersion": {
          "type": "string",
          "description": "The OS version Prefix matches are supported if asterisk(*) is provided as the last character. For example, to match all versions with a major version of `7`, specify the following value for this field `7.*` An empty string matches all OS versions."
        },
        "osShortName": {
          "type": "string",
          "description": "Required. The OS short name"
        }
      },
      "id": "OSPolicyAssignmentInstanceFilterInventory"
    },
    "StatusProto": {
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "Numeric code drawn from the space specified below. Often, this is the canonical error space, and code is drawn from google3/util/task/codes.proto copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 code = 1;"
        },
        "canonicalCode": {
          "format": "int32",
          "description": "copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 canonical_code = 6;",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "Detail message copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional string message = 3;"
        },
        "space": {
          "description": "copybara:strip_begin(b/383363683) Space to which this status belongs copybara:strip_end_and_replace optional string space = 2; // Space to which this status belongs",
          "type": "string"
        },
        "messageSet": {
          "description": "message_set associates an arbitrary proto message with the status. copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional proto2.bridge.MessageSet message_set = 5;",
          "$ref": "MessageSet"
        }
      },
      "type": "object",
      "description": "Wire-format for a Status object",
      "id": "StatusProto"
    },
    "OSPolicyAssignmentLabelSet": {
      "id": "OSPolicyAssignmentLabelSet",
      "description": "Message representing label set. * A label is a key value pair set for a VM. * A LabelSet is a set of labels. * Labels within a LabelSet are ANDed. In other words, a LabelSet is applicable for a VM only if it matches all the labels in the LabelSet. * Example: A LabelSet with 2 labels: `env=prod` and `type=webserver` will only be applicable for those VMs with both labels present.",
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels are identified by key/value pairs in this map. A VM should contain all the key/value pairs specified in this map to be selected."
        }
      }
    },
    "ListOSPolicyAssignmentReportsResponse": {
      "type": "object",
      "properties": {
        "osPolicyAssignmentReports": {
          "type": "array",
          "description": "List of OS policy assignment reports.",
          "items": {
            "$ref": "OSPolicyAssignmentReport"
          }
        },
        "nextPageToken": {
          "description": "The pagination token to retrieve the next page of OS policy assignment report objects.",
          "type": "string"
        }
      },
      "description": "A response message for listing OS Policy assignment reports including the page of results and page token.",
      "id": "ListOSPolicyAssignmentReportsResponse"
    },
    "PatchInstanceFilter": {
      "id": "PatchInstanceFilter",
      "description": "A filter to target VM instances for patching. The targeted VMs must meet all criteria specified. So if both labels and zones are specified, the patch job targets only VMs with those labels and in those zones.",
      "type": "object",
      "properties": {
        "zones": {
          "items": {
            "type": "string"
          },
          "description": "Targets VM instances in ANY of these zones. Leave empty to target VM instances in any zone.",
          "type": "array"
        },
        "all": {
          "description": "Target all VM instances in the project. If true, no other criteria is permitted.",
          "type": "boolean"
        },
        "instanceNamePrefixes": {
          "type": "array",
          "description": "Targets VMs whose name starts with one of these prefixes. Similar to labels, this is another way to group VMs when targeting configs, for example prefix=\"prod-\".",
          "items": {
            "type": "string"
          }
        },
        "instances": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Targets any of the VM instances specified. Instances are specified by their URI in the form `zones/[ZONE]/instances/[INSTANCE_NAME]`, `projects/[PROJECT_ID]/zones/[ZONE]/instances/[INSTANCE_NAME]`, or `https://www.googleapis.com/compute/v1/projects/[PROJECT_ID]/zones/[ZONE]/instances/[INSTANCE_NAME]`"
        },
        "groupLabels": {
          "type": "array",
          "items": {
            "$ref": "PatchInstanceFilterGroupLabel"
          },
          "description": "Targets VM instances matching ANY of these GroupLabels. This allows targeting of disparate groups of VM instances."
        }
      }
    },
    "OSPolicyAssignmentReportOSPolicyComplianceOSPolicyResourceComplianceOSPolicyResourceConfigStep": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Checks for resource conflicts such as schema errors.",
            "Checks the current status of the desired state for a resource.",
            "Enforces the desired state for a resource that is not in desired state.",
            "Re-checks the status of the desired state. This check is done for a resource after the enforcement of all OS policies. This step is used to determine the final desired state status for the resource. It accounts for any resources that might have drifted from their desired state due to side effects from executing other resources."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "VALIDATION",
            "DESIRED_STATE_CHECK",
            "DESIRED_STATE_ENFORCEMENT",
            "DESIRED_STATE_CHECK_POST_ENFORCEMENT"
          ],
          "description": "Configuration step type.",
          "type": "string"
        },
        "errorMessage": {
          "description": "An error message recorded during the execution of this step. Only populated if errors were encountered during this step execution.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Step performed by the OS Config agent for configuring an `OSPolicy` resource to its desired state.",
      "id": "OSPolicyAssignmentReportOSPolicyComplianceOSPolicyResourceComplianceOSPolicyResourceConfigStep"
    },
    "OSPolicyResourceRepositoryResourceGooRepository": {
      "id": "OSPolicyResourceRepositoryResourceGooRepository",
      "description": "Represents a Goo package repository. These are added to a repo file that is managed at `C:/ProgramData/GooGet/repos/google_osconfig.repo`.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the repository."
        },
        "url": {
          "description": "Required. The url of the repository.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PatchRollout": {
      "description": "Patch rollout configuration specifications. Contains details on the concurrency control when applying patch(es) to all targeted VMs.",
      "id": "PatchRollout",
      "type": "object",
      "properties": {
        "disruptionBudget": {
          "$ref": "FixedOrPercent",
          "description": "The maximum number (or percentage) of VMs per zone to disrupt at any given moment. The number of VMs calculated from multiplying the percentage by the total number of VMs in a zone is rounded up. During patching, a VM is considered disrupted from the time the agent is notified to begin until patching has completed. This disruption time includes the time to complete reboot and any post-patch steps. A VM contributes to the disruption budget if its patching operation fails either when applying the patches, running pre or post patch steps, or if it fails to respond with a success notification before timing out. VMs that are not running or do not have an active agent do not count toward this disruption budget. For zone-by-zone rollouts, if the disruption budget in a zone is exceeded, the patch job stops, because continuing to the next zone requires completion of the patch process in the previous zone. For example, if the disruption budget has a fixed value of `10`, and 8 VMs fail to patch in the current zone, the patch job continues to patch 2 VMs at a time until the zone is completed. When that zone is completed successfully, patching begins with 10 VMs at a time in the next zone. If 10 VMs in the next zone fail to patch, the patch job stops."
        },
        "mode": {
          "description": "Mode of the patch rollout.",
          "type": "string",
          "enumDescriptions": [
            "Mode must be specified.",
            "Patches are applied one zone at a time. The patch job begins in the region with the lowest number of targeted VMs. Within the region, patching begins in the zone with the lowest number of targeted VMs. If multiple regions (or zones within a region) have the same number of targeted VMs, a tie-breaker is achieved by sorting the regions or zones in alphabetical order.",
            "Patches are applied to VMs in all zones at the same time."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "ZONE_BY_ZONE",
            "CONCURRENT_ZONES"
          ]
        }
      }
    },
    "GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadata": {
      "description": "OS policy assignment operation metadata provided by OS policy assignment API methods that return long running operations.",
      "type": "object",
      "properties": {
        "osPolicyAssignment": {
          "description": "Reference to the `OSPolicyAssignment` API resource. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`",
          "type": "string"
        },
        "rolloutState": {
          "description": "State of the rollout",
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ]
        },
        "apiMethod": {
          "description": "The OS policy assignment API method.",
          "enum": [
            "API_METHOD_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "enumDescriptions": [
            "Invalid value",
            "Create OS policy assignment API method",
            "Update OS policy assignment API method",
            "Delete OS policy assignment API method"
          ],
          "type": "string"
        },
        "rolloutStartTime": {
          "type": "string",
          "description": "Rollout start time",
          "format": "google-datetime"
        },
        "rolloutUpdateTime": {
          "description": "Rollout update time",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadata"
    },
    "OSPolicyAssignment": {
      "description": "OS policy assignment is an API resource that is used to apply a set of OS policies to a dynamically targeted group of Compute Engine VM instances. An OS policy is used to define the desired state configuration for a Compute Engine VM instance through a set of configuration resources that provide capabilities such as installing or removing software packages, or executing a script. For more information about the OS policy resource definitions and examples, see [OS policy and OS policy assignment](https://cloud.google.com/compute/docs/os-configuration-management/working-with-os-policies).",
      "properties": {
        "description": {
          "type": "string",
          "description": "OS policy assignment description. Length of the description is limited to 1024 characters."
        },
        "rolloutState": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. OS policy assignment rollout state",
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ],
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ]
        },
        "etag": {
          "description": "The etag for this OS policy assignment. If this is provided on update, it must match the server's etag.",
          "type": "string"
        },
        "revisionId": {
          "description": "Output only. The assignment revision ID A new revision is committed whenever a rollout is triggered for a OS policy assignment",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id}` This field is ignored when you create an OS policy assignment."
        },
        "baseline": {
          "readOnly": true,
          "description": "Output only. Indicates that this revision has been successfully rolled out in this zone and new VMs will be assigned OS policies from this revision. For a given OS policy assignment, there is only one revision with a value of `true` for this field.",
          "type": "boolean"
        },
        "osPolicies": {
          "items": {
            "$ref": "OSPolicy"
          },
          "type": "array",
          "description": "Required. List of OS policies to be applied to the VMs."
        },
        "revisionCreateTime": {
          "description": "Output only. The timestamp that the revision was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "deleted": {
          "description": "Output only. Indicates that this revision deletes the OS policy assignment.",
          "readOnly": true,
          "type": "boolean"
        },
        "rollout": {
          "description": "Required. Rollout to deploy the OS policy assignment. A rollout is triggered in the following situations: 1) OSPolicyAssignment is created. 2) OSPolicyAssignment is updated and the update contains changes to one of the following fields: - instance_filter - os_policies 3) OSPolicyAssignment is deleted.",
          "$ref": "OSPolicyAssignmentRollout"
        },
        "instanceFilter": {
          "$ref": "OSPolicyAssignmentInstanceFilter",
          "description": "Required. Filter to select VMs."
        },
        "uid": {
          "description": "Output only. Server generated unique id for the OS policy assignment resource.",
          "type": "string",
          "readOnly": true
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. Indicates that reconciliation is in progress for the revision. This value is `true` when the `rollout_state` is one of: * IN_PROGRESS * CANCELLING",
          "type": "boolean"
        }
      },
      "id": "OSPolicyAssignment",
      "type": "object"
    },
    "OSPolicyResourceFileGcs": {
      "description": "Specifies a file available as a Cloud Storage Object.",
      "type": "object",
      "id": "OSPolicyResourceFileGcs",
      "properties": {
        "generation": {
          "format": "int64",
          "description": "Generation number of the Cloud Storage object.",
          "type": "string"
        },
        "bucket": {
          "type": "string",
          "description": "Required. Bucket of the Cloud Storage object."
        },
        "object": {
          "type": "string",
          "description": "Required. Name of the Cloud Storage object."
        }
      }
    },
    "InventoryItem": {
      "description": "A single piece of inventory on a VM.",
      "properties": {
        "installedPackage": {
          "description": "Software package present on the VM instance.",
          "$ref": "InventorySoftwarePackage"
        },
        "id": {
          "description": "Identifier for this item, unique across items for this VM.",
          "type": "string"
        },
        "originType": {
          "enum": [
            "ORIGIN_TYPE_UNSPECIFIED",
            "INVENTORY_REPORT"
          ],
          "enumDescriptions": [
            "Invalid. An origin type must be specified.",
            "This inventory item was discovered as the result of the agent reporting inventory via the reporting API."
          ],
          "type": "string",
          "description": "The origin of this inventory item."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "When this inventory item was first detected.",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "INSTALLED_PACKAGE",
            "AVAILABLE_PACKAGE"
          ],
          "description": "The specific type of inventory, correlating to its specific details.",
          "type": "string",
          "enumDescriptions": [
            "Invalid. A type must be specified.",
            "This represents a package that is installed on the VM.",
            "This represents an update that is available for a package."
          ]
        },
        "updateTime": {
          "description": "When this inventory item was last modified.",
          "type": "string",
          "format": "google-datetime"
        },
        "availablePackage": {
          "description": "Software package available to be installed on the VM instance.",
          "$ref": "InventorySoftwarePackage"
        }
      },
      "id": "InventoryItem",
      "type": "object"
    },
    "WindowsUpdateSettings": {
      "type": "object",
      "description": "Windows patching is performed using the Windows Update Agent.",
      "id": "WindowsUpdateSettings",
      "properties": {
        "classifications": {
          "items": {
            "enum": [
              "CLASSIFICATION_UNSPECIFIED",
              "CRITICAL",
              "SECURITY",
              "DEFINITION",
              "DRIVER",
              "FEATURE_PACK",
              "SERVICE_PACK",
              "TOOL",
              "UPDATE_ROLLUP",
              "UPDATE"
            ],
            "enumDescriptions": [
              "Invalid. If classifications are included, they must be specified.",
              "\"A widely released fix for a specific problem that addresses a critical, non-security-related bug.\" [1]",
              "\"A widely released fix for a product-specific, security-related vulnerability. Security vulnerabilities are rated by their severity. The severity rating is indicated in the Microsoft security bulletin as critical, important, moderate, or low.\" [1]",
              "\"A widely released and frequent software update that contains additions to a product's definition database. Definition databases are often used to detect objects that have specific attributes, such as malicious code, phishing websites, or junk mail.\" [1]",
              "\"Software that controls the input and output of a device.\" [1]",
              "\"New product functionality that is first distributed outside the context of a product release and that is typically included in the next full product release.\" [1]",
              "\"A tested, cumulative set of all hotfixes, security updates, critical updates, and updates. Additionally, service packs may contain additional fixes for problems that are found internally since the release of the product. Service packs my also contain a limited number of customer-requested design changes or features.\" [1]",
              "\"A utility or feature that helps complete a task or set of tasks.\" [1]",
              "\"A tested, cumulative set of hotfixes, security updates, critical updates, and updates that are packaged together for easy deployment. A rollup generally targets a specific area, such as security, or a component of a product, such as Internet Information Services (IIS).\" [1]",
              "\"A widely released fix for a specific problem. An update addresses a noncritical, non-security-related bug.\" [1]"
            ],
            "type": "string"
          },
          "description": "Only apply updates of these windows update classifications. If empty, all updates are applied.",
          "type": "array"
        },
        "exclusivePatches": {
          "type": "array",
          "description": "An exclusive list of kbs to be updated. These are the only patches that will be updated. This field must not be used with other patch configurations.",
          "items": {
            "type": "string"
          }
        },
        "excludes": {
          "description": "List of KBs to exclude from update.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "OSPolicyInventoryFilter": {
      "description": "Filtering criteria to select VMs based on inventory details.",
      "properties": {
        "osVersion": {
          "description": "The OS version Prefix matches are supported if asterisk(*) is provided as the last character. For example, to match all versions with a major version of `7`, specify the following value for this field `7.*` An empty string matches all OS versions.",
          "type": "string"
        },
        "osShortName": {
          "type": "string",
          "description": "Required. The OS short name"
        }
      },
      "id": "OSPolicyInventoryFilter",
      "type": "object"
    },
    "InventoryWindowsApplication": {
      "properties": {
        "helpLink": {
          "type": "string",
          "description": "The internet address for technical support."
        },
        "displayName": {
          "description": "The name of the application or product.",
          "type": "string"
        },
        "displayVersion": {
          "type": "string",
          "description": "The version of the product or application in string format."
        },
        "installDate": {
          "description": "The last time this product received service. The value of this property is replaced each time a patch is applied or removed from the product or the command-line option is used to repair the product.",
          "$ref": "Date"
        },
        "publisher": {
          "type": "string",
          "description": "The name of the manufacturer for the product or application."
        }
      },
[...]
