{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "resources": {
    "folders": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v2/folders/{foldersId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}",
                  "id": "osconfig.folders.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^folders/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "cancel": {
                  "path": "v2/{+name}:cancel",
                  "httpMethod": "POST",
                  "id": "osconfig.folders.locations.operations.cancel",
                  "parameters": {
                    "name": {
                      "pattern": "^folders/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v2/folders/{foldersId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  }
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "The standard list page size.",
                      "type": "integer",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation's parent resource."
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "osconfig.folders.locations.operations.list",
                  "flatPath": "v2/folders/{foldersId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "path": "v2/{+name}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "httpMethod": "GET"
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/folders/{foldersId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "required": true,
                      "pattern": "^folders/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "osconfig.folders.locations.operations.delete",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                }
              }
            },
            "global": {
              "resources": {
                "policyOrchestrators": {
                  "methods": {
                    "patch": {
                      "request": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2/folders/{foldersId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Updates an existing policy orchestrator, parented by a folder.",
                      "id": "osconfig.folders.locations.global.policyOrchestrators.patch",
                      "path": "v2/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Immutable. Identifier. In the following format: * `organizations/{organization_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `folders/{folder_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `projects/{project_id_or_number}/locations/global/policyOrchestrators/{orchestrator_id}`",
                          "pattern": "^folders/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "required": true
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "Optional. The list of fields to merge into the existing policy orchestrator. A special [\"*\"] field mask can be used to simply replace the entire resource. Otherwise, for all paths referenced in the mask, following merge rules are used: * output only fields are ignored, * primitive fields are replaced, * repeated fields are replaced, * map fields are merged key by key, * message fields are cleared if not set in the request, otherwise they are merged recursively (in particular - message fields set to an empty message has no side effects) If field mask (or its paths) is not specified, it is automatically inferred from the request using following rules: * primitive fields are listed, if set to a non-default value (as there is no way to distinguish between default and unset value), * map and repeated fields are listed, * `google.protobuf.Any` fields are listed, * other message fields are traversed recursively. Note: implicit mask does not allow clearing fields."
                        }
                      }
                    },
                    "list": {
                      "description": "Lists the policy orchestrators under the given parent folder resource.",
                      "response": {
                        "$ref": "GoogleCloudOsconfigV2__ListPolicyOrchestratorsResponse"
                      },
                      "flatPath": "v2/folders/{foldersId}/locations/global/policyOrchestrators",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^folders/[^/]+/locations/global$",
                          "description": "Required. The parent resource name."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A token identifying a page of results the server should return."
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query",
                          "format": "int32"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. Hint for how to order the results",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Filtering results"
                        }
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "osconfig.folders.locations.global.policyOrchestrators.list",
                      "path": "v2/{+parent}/policyOrchestrators",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "flatPath": "v2/folders/{foldersId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "id": "osconfig.folders.locations.global.policyOrchestrators.get",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      },
                      "description": "Retrieves an existing policy orchestrator, parented by a folder.",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name.",
                          "required": true,
                          "type": "string",
                          "pattern": "^folders/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2/{+name}"
                    },
                    "create": {
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      },
                      "description": "Creates a new policy orchestrator under the given folder resource. `name` field of the given orchestrator are ignored and instead replaced by a product of `parent` and `policy_orchestrator_id`. Orchestrator state field might be only set to `ACTIVE`, `STOPPED` or omitted (in which case, the created resource will be in `ACTIVE` state anyway).",
                      "id": "osconfig.folders.locations.global.policyOrchestrators.create",
                      "flatPath": "v2/folders/{foldersId}/locations/global/policyOrchestrators",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v2/{+parent}/policyOrchestrators",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource name in the form of: * `organizations/{organization_id}/locations/global` * `folders/{folder_id}/locations/global` * `projects/{project_id_or_number}/locations/global`",
                          "location": "path",
                          "required": true,
                          "pattern": "^folders/[^/]+/locations/global$",
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        },
                        "policyOrchestratorId": {
                          "description": "Required. The logical identifier of the policy orchestrator, with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the parent.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "description": "Deletes an existing policy orchestrator resource, parented by a folder.",
                      "parameters": {
                        "name": {
                          "pattern": "^folders/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. Name of the resource to be deleted."
                        },
                        "etag": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The current etag of the policy orchestrator. If an etag is provided and does not match the current etag of the policy orchestrator, deletion will be blocked and an ABORTED error will be returned."
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        }
                      },
                      "id": "osconfig.folders.locations.global.policyOrchestrators.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2/folders/{foldersId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "httpMethod": "DELETE",
                      "path": "v2/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "global": {
              "resources": {
                "policyOrchestrators": {
                  "methods": {
                    "patch": {
                      "path": "v2/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "description": "Immutable. Identifier. In the following format: * `organizations/{organization_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `folders/{folder_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `projects/{project_id_or_number}/locations/global/policyOrchestrators/{orchestrator_id}`",
                          "type": "string",
                          "location": "path"
                        },
                        "updateMask": {
                          "description": "Optional. The list of fields to merge into the existing policy orchestrator. A special [\"*\"] field mask can be used to simply replace the entire resource. Otherwise, for all paths referenced in the mask, following merge rules are used: * output only fields are ignored, * primitive fields are replaced, * repeated fields are replaced, * map fields are merged key by key, * message fields are cleared if not set in the request, otherwise they are merged recursively (in particular - message fields set to an empty message has no side effects) If field mask (or its paths) is not specified, it is automatically inferred from the request using following rules: * primitive fields are listed, if set to a non-default value (as there is no way to distinguish between default and unset value), * map and repeated fields are listed, * `google.protobuf.Any` fields are listed, * other message fields are traversed recursively. Note: implicit mask does not allow clearing fields.",
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "Updates an existing policy orchestrator, parented by an organization.",
                      "id": "osconfig.organizations.locations.global.policyOrchestrators.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH",
                      "flatPath": "v2/organizations/{organizationsId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "request": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2/{+parent}/policyOrchestrators",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      },
                      "flatPath": "v2/organizations/{organizationsId}/locations/global/policyOrchestrators",
                      "id": "osconfig.organizations.locations.global.policyOrchestrators.create",
                      "parameters": {
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string",
                          "location": "query"
                        },
                        "policyOrchestratorId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. The logical identifier of the policy orchestrator, with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the parent."
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. The parent resource name in the form of: * `organizations/{organization_id}/locations/global` * `folders/{folder_id}/locations/global` * `projects/{project_id_or_number}/locations/global`",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/global$",
                          "required": true
                        }
                      },
                      "description": "Creates a new policy orchestrator under the given organizations resource. `name` field of the given orchestrator are ignored and instead replaced by a product of `parent` and `policy_orchestrator_id`. Orchestrator state field might be only set to `ACTIVE`, `STOPPED` or omitted (in which case, the created resource will be in `ACTIVE` state anyway).",
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "delete": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v2/organizations/{organizationsId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "location": "path",
                          "description": "Required. Name of the resource to be deleted.",
                          "type": "string",
                          "required": true
                        },
                        "etag": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The current etag of the policy orchestrator. If an etag is provided and does not match the current etag of the policy orchestrator, deletion will be blocked and an ABORTED error will be returned."
                        },
                        "requestId": {
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string"
                        }
                      },
                      "description": "Deletes an existing policy orchestrator resource, parented by an organization.",
                      "httpMethod": "DELETE",
                      "path": "v2/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "osconfig.organizations.locations.global.policyOrchestrators.delete",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "id": "osconfig.organizations.locations.global.policyOrchestrators.list",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "type": "string"
                        },
                        "orderBy": {
                          "description": "Optional. Hint for how to order the results",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^organizations/[^/]+/locations/global$",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent resource name."
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filtering results",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists the policy orchestrators under the given parent organization resource.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudOsconfigV2__ListPolicyOrchestratorsResponse"
                      },
                      "flatPath": "v2/organizations/{organizationsId}/locations/global/policyOrchestrators",
                      "httpMethod": "GET",
                      "path": "v2/{+parent}/policyOrchestrators"
                    },
                    "get": {
                      "id": "osconfig.organizations.locations.global.policyOrchestrators.get",
                      "description": "Retrieves an existing policy orchestrator, parented by an organization.",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      },
                      "path": "v2/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2/organizations/{organizationsId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource."
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "osconfig.organizations.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v2/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                },
                "cancel": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "osconfig.organizations.locations.operations.cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  }
                },
                "get": {
                  "path": "v2/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "osconfig.organizations.locations.operations.get",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}",
                  "id": "osconfig.organizations.locations.operations.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "global": {
              "resources": {
                "policyOrchestrators": {
                  "methods": {
                    "get": {
                      "id": "osconfig.projects.locations.global.policyOrchestrators.get",
                      "flatPath": "v2/projects/{projectsId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The resource name.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/policyOrchestrators/[^/]+$"
                        }
                      },
                      "description": "Retrieves an existing policy orchestrator, parented by a project.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v2/{+name}"
                    },
                    "patch": {
                      "path": "v2/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "Optional. The list of fields to merge into the existing policy orchestrator. A special [\"*\"] field mask can be used to simply replace the entire resource. Otherwise, for all paths referenced in the mask, following merge rules are used: * output only fields are ignored, * primitive fields are replaced, * repeated fields are replaced, * map fields are merged key by key, * message fields are cleared if not set in the request, otherwise they are merged recursively (in particular - message fields set to an empty message has no side effects) If field mask (or its paths) is not specified, it is automatically inferred from the request using following rules: * primitive fields are listed, if set to a non-default value (as there is no way to distinguish between default and unset value), * map and repeated fields are listed, * `google.protobuf.Any` fields are listed, * other message fields are traversed recursively. Note: implicit mask does not allow clearing fields."
                        },
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "description": "Immutable. Identifier. In the following format: * `organizations/{organization_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `folders/{folder_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `projects/{project_id_or_number}/locations/global/policyOrchestrators/{orchestrator_id}`",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "description": "Updates an existing policy orchestrator, parented by a project.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "osconfig.projects.locations.global.policyOrchestrators.patch"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "id": "osconfig.projects.locations.global.policyOrchestrators.list",
                      "path": "v2/{+parent}/policyOrchestrators",
                      "description": "Lists the policy orchestrators under the given parent project resource.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudOsconfigV2__ListPolicyOrchestratorsResponse"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/global/policyOrchestrators",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/global$",
                          "description": "Required. The parent resource name.",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Hint for how to order the results"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Filtering results"
                        }
                      }
                    },
                    "create": {
                      "parameters": {
                        "policyOrchestratorId": {
                          "description": "Required. The logical identifier of the policy orchestrator, with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the parent.",
                          "location": "query",
                          "type": "string"
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/global$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent resource name in the form of: * `organizations/{organization_id}/locations/global` * `folders/{folder_id}/locations/global` * `projects/{project_id_or_number}/locations/global`"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/global/policyOrchestrators",
                      "id": "osconfig.projects.locations.global.policyOrchestrators.create",
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      },
                      "httpMethod": "POST",
                      "path": "v2/{+parent}/policyOrchestrators",
                      "description": "Creates a new policy orchestrator under the given project resource. `name` field of the given orchestrator are ignored and instead replaced by a product of `parent` and `policy_orchestrator_id`. Orchestrator state field might be only set to `ACTIVE`, `STOPPED` or omitted (in which case, the created resource will be in `ACTIVE` state anyway).",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the resource to be deleted.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "type": "string"
                        },
                        "etag": {
                          "description": "Optional. The current etag of the policy orchestrator. If an etag is provided and does not match the current etag of the policy orchestrator, deletion will be blocked and an ABORTED error will be returned.",
                          "type": "string",
                          "location": "query"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v2/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "osconfig.projects.locations.global.policyOrchestrators.delete",
                      "flatPath": "v2/projects/{projectsId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "description": "Deletes an existing policy orchestrator resource, parented by a project."
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "id": "osconfig.projects.locations.operations.delete",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path"
                    }
                  },
                  "path": "v2/{+name}"
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "osconfig.projects.locations.operations.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v2/{+name}/operations",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The standard list page size.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "id": "osconfig.projects.locations.operations.get",
                  "httpMethod": "GET",
                  "path": "v2/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "cancel": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "httpMethod": "POST",
                  "id": "osconfig.projects.locations.operations.cancel"
                }
              }
            }
          }
        }
      }
    }
  },
  "name": "osconfig",
  "schemas": {
    "Operation": {
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "OSPolicyResourceFileResource": {
      "properties": {
        "path": {
          "description": "Required. The absolute path of the file within the VM.",
          "type": "string"
        },
        "file": {
          "$ref": "OSPolicyResourceFile",
          "description": "A remote or local source."
        },
        "state": {
          "type": "string",
          "enum": [
            "DESIRED_STATE_UNSPECIFIED",
            "PRESENT",
            "ABSENT",
            "CONTENTS_MATCH"
          ],
          "description": "Required. Desired state of the file.",
          "enumDescriptions": [
            "Unspecified is invalid.",
            "Ensure file at path is present.",
            "Ensure file at path is absent.",
            "Ensure the contents of the file at path matches. If the file does not exist it will be created."
          ]
        },
        "content": {
          "description": "A file with this content. The size of the content is limited to 32KiB.",
          "type": "string"
        },
        "permissions": {
          "type": "string",
          "description": "Consists of three octal digits which represent, in order, the permissions of the owner, group, and other users for the file (similarly to the numeric mode used in the linux chmod utility). Each digit represents a three bit number with the 4 bit corresponding to the read permissions, the 2 bit corresponds to the write bit, and the one bit corresponds to the execute permission. Default behavior is 755. Below are some examples of permissions and their associated values: read, write, and execute: 7 read and execute: 5 read and write: 6 read only: 4"
        }
      },
      "id": "OSPolicyResourceFileResource",
      "description": "A resource that manages the state of a file.",
      "type": "object"
    },
    "OSPolicyAssignmentInstanceFilterInventory": {
      "id": "OSPolicyAssignmentInstanceFilterInventory",
      "properties": {
        "osShortName": {
          "description": "Required. The OS short name",
          "type": "string"
        },
        "osVersion": {
          "type": "string",
          "description": "The OS version Prefix matches are supported if asterisk(*) is provided as the last character. For example, to match all versions with a major version of `7`, specify the following value for this field `7.*` An empty string matches all OS versions."
        }
      },
      "type": "object",
      "description": "VM inventory details."
    },
    "OSPolicyResourcePackageResourceMSI": {
      "id": "OSPolicyResourcePackageResourceMSI",
      "properties": {
        "properties": {
          "description": "Additional properties to use during installation. This should be in the format of Property=Setting. Appended to the defaults of `ACTION=INSTALL REBOOT=ReallySuppress`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "source": {
          "description": "Required. The MSI package.",
          "$ref": "OSPolicyResourceFile"
        }
      },
      "description": "An MSI package. MSI packages only support INSTALLED state.",
      "type": "object"
    },
    "OSPolicyResourcePackageResourceRPM": {
      "type": "object",
      "properties": {
        "source": {
          "description": "Required. An rpm package.",
          "$ref": "OSPolicyResourceFile"
        },
        "pullDeps": {
          "description": "Whether dependencies should also be installed. - install when false: `rpm --upgrade --replacepkgs package.rpm` - install when true: `yum -y install package.rpm` or `zypper -y install package.rpm`",
          "type": "boolean"
        }
      },
      "id": "OSPolicyResourcePackageResourceRPM",
      "description": "An RPM package file. RPM packages only support INSTALLED state."
    },
    "GoogleCloudOsconfigV2__ListPolicyOrchestratorsResponse": {
      "id": "GoogleCloudOsconfigV2__ListPolicyOrchestratorsResponse",
      "description": "Response for the list policy orchestrator resources.",
      "properties": {
        "policyOrchestrators": {
          "items": {
            "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
          },
          "type": "array",
          "description": "The policy orchestrators for the specified parent resource."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OSPolicyAssignmentRollout": {
      "type": "object",
      "id": "OSPolicyAssignmentRollout",
      "properties": {
        "disruptionBudget": {
          "$ref": "FixedOrPercent",
          "description": "Required. The maximum number (or percentage) of VMs per zone to disrupt at any given moment."
        },
        "minWaitDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. This determines the minimum duration of time to wait after the configuration changes are applied through the current rollout. A VM continues to count towards the `disruption_budget` at least until this duration of time has passed after configuration changes are applied."
        }
      },
      "description": "Message to configure the rollout at the zonal level for the OS policy assignment."
    },
    "CancelOperationRequest": {
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "FixedOrPercent": {
      "description": "Message encapsulating a value that can be either absolute (\"fixed\") or relative (\"percent\") to a value.",
      "properties": {
        "fixed": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies a fixed value."
        },
        "percent": {
          "format": "int32",
          "description": "Specifies the relative value defined as a percentage, which will be multiplied by a reference value.",
          "type": "integer"
        }
      },
      "id": "FixedOrPercent",
      "type": "object"
    },
    "OSPolicyAssignment": {
      "type": "object",
      "description": "OS policy assignment is an API resource that is used to apply a set of OS policies to a dynamically targeted group of Compute Engine VM instances. An OS policy is used to define the desired state configuration for a Compute Engine VM instance through a set of configuration resources that provide capabilities such as installing or removing software packages, or executing a script. For more information about the OS policy resource definitions and examples, see [OS policy and OS policy assignment](https://cloud.google.com/compute/docs/os-configuration-management/working-with-os-policies).",
      "properties": {
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates that reconciliation is in progress for the revision. This value is `true` when the `rollout_state` is one of: * IN_PROGRESS * CANCELLING"
        },
        "deleted": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates that this revision deletes the OS policy assignment."
        },
        "revisionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The assignment revision ID A new revision is committed whenever a rollout is triggered for a OS policy assignment"
        },
        "name": {
          "description": "Resource name. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id}` This field is ignored when you create an OS policy assignment.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Output only. Server generated unique id for the OS policy assignment resource.",
          "readOnly": true
        },
        "revisionCreateTime": {
          "description": "Output only. The timestamp that the revision was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "instanceFilter": {
          "description": "Required. Filter to select VMs.",
          "$ref": "OSPolicyAssignmentInstanceFilter"
        },
        "baseline": {
          "description": "Output only. Indicates that this revision has been successfully rolled out in this zone and new VMs will be assigned OS policies from this revision. For a given OS policy assignment, there is only one revision with a value of `true` for this field.",
          "type": "boolean",
          "readOnly": true
        },
        "osPolicies": {
          "items": {
            "$ref": "OSPolicy"
          },
          "type": "array",
          "description": "Required. List of OS policies to be applied to the VMs."
        },
        "etag": {
          "type": "string",
          "description": "The etag for this OS policy assignment. If this is provided on update, it must match the server's etag."
        },
        "rolloutState": {
          "description": "Output only. OS policy assignment rollout state",
          "type": "string",
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ],
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ],
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "OS policy assignment description. Length of the description is limited to 1024 characters."
        },
        "rollout": {
          "description": "Required. Rollout to deploy the OS policy assignment. A rollout is triggered in the following situations: 1) OSPolicyAssignment is created. 2) OSPolicyAssignment is updated and the update contains changes to one of the following fields: - instance_filter - os_policies 3) OSPolicyAssignment is deleted.",
          "$ref": "OSPolicyAssignmentRollout"
        }
      },
      "id": "OSPolicyAssignment"
    },
    "OSPolicyResourceRepositoryResourceAptRepository": {
      "type": "object",
      "id": "OSPolicyResourceRepositoryResourceAptRepository",
      "properties": {
        "archiveType": {
          "type": "string",
          "enum": [
            "ARCHIVE_TYPE_UNSPECIFIED",
            "DEB",
            "DEB_SRC"
          ],
          "enumDescriptions": [
            "Unspecified is invalid.",
            "Deb indicates that the archive contains binary files.",
            "Deb-src indicates that the archive contains source files."
          ],
          "description": "Required. Type of archive files in this repository."
        },
        "components": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of components for this repository. Must contain at least one item.",
          "type": "array"
        },
        "distribution": {
          "description": "Required. Distribution of this repository.",
          "type": "string"
        },
        "uri": {
          "description": "Required. URI for this repository.",
          "type": "string"
        },
        "gpgKey": {
          "type": "string",
          "description": "URI of the key file for this repository. The agent maintains a keyring at `/etc/apt/trusted.gpg.d/osconfig_agent_managed.gpg`."
        }
      },
      "description": "Represents a single apt package repository. These will be added to a repo file that will be managed at `/etc/apt/sources.list.d/google_osconfig.list`."
    },
    "GoogleCloudOsconfigV2__OperationMetadata": {
      "type": "object",
      "properties": {
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "id": "GoogleCloudOsconfigV2__OperationMetadata"
    },
    "OSPolicyResourceFile": {
      "id": "OSPolicyResourceFile",
      "type": "object",
      "properties": {
        "remote": {
          "description": "A generic remote file.",
          "$ref": "OSPolicyResourceFileRemote"
        },
        "localPath": {
          "description": "A local path within the VM to use.",
          "type": "string"
        },
        "allowInsecure": {
          "type": "boolean",
          "description": "Defaults to false. When false, files are subject to validations based on the file type: Remote: A checksum must be specified. Cloud Storage: An object generation number must be specified."
        },
        "gcs": {
          "description": "A Cloud Storage object.",
          "$ref": "OSPolicyResourceFileGcs"
        }
      },
      "description": "A remote or local file."
    },
    "OSPolicyResourceRepositoryResource": {
      "description": "A resource that manages a package repository.",
      "id": "OSPolicyResourceRepositoryResource",
      "properties": {
        "apt": {
          "$ref": "OSPolicyResourceRepositoryResourceAptRepository",
          "description": "An Apt Repository."
        },
        "zypper": {
          "$ref": "OSPolicyResourceRepositoryResourceZypperRepository",
          "description": "A Zypper Repository."
        },
        "goo": {
          "$ref": "OSPolicyResourceRepositoryResourceGooRepository",
          "description": "A Goo Repository."
        },
        "yum": {
          "$ref": "OSPolicyResourceRepositoryResourceYumRepository",
          "description": "A Yum Repository."
        }
      },
      "type": "object"
    },
    "OSPolicyResourceFileGcs": {
      "id": "OSPolicyResourceFileGcs",
      "properties": {
        "generation": {
          "format": "int64",
          "type": "string",
          "description": "Generation number of the Cloud Storage object."
        },
        "bucket": {
          "type": "string",
          "description": "Required. Bucket of the Cloud Storage object."
        },
        "object": {
          "description": "Required. Name of the Cloud Storage object.",
          "type": "string"
        }
      },
      "description": "Specifies a file available as a Cloud Storage Object.",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "OSPolicyResourcePackageResourceAPT": {
      "id": "OSPolicyResourcePackageResourceAPT",
      "properties": {
        "name": {
          "description": "Required. Package name.",
          "type": "string"
        }
      },
      "description": "A package managed by APT. - install: `apt-get update && apt-get -y install [name]` - remove: `apt-get -y remove [name]`",
      "type": "object"
    },
    "GoogleCloudOsconfigV2beta__OperationMetadata": {
      "type": "object",
      "id": "GoogleCloudOsconfigV2beta__OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "OSPolicyResourceFileRemote": {
      "type": "object",
      "description": "Specifies a file available via some URI.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. URI from which to fetch the object. It should contain both the protocol and path following the format `{protocol}://{location}`."
        },
        "sha256Checksum": {
          "type": "string",
          "description": "SHA256 checksum of the remote file."
        }
      },
      "id": "OSPolicyResourceFileRemote"
    },
    "GoogleCloudOsconfigV2_PolicyOrchestrator_OrchestrationState": {
      "description": "Describes the state of the orchestration process.",
      "properties": {
        "previousIterationState": {
          "description": "Output only. Previous Wave iteration state.",
          "$ref": "GoogleCloudOsconfigV2_PolicyOrchestrator_IterationState",
          "readOnly": true
        },
        "currentIterationState": {
          "readOnly": true,
          "$ref": "GoogleCloudOsconfigV2_PolicyOrchestrator_IterationState",
          "description": "Output only. Current Wave iteration state."
        }
      },
      "type": "object",
      "id": "GoogleCloudOsconfigV2_PolicyOrchestrator_OrchestrationState"
    },
    "GoogleCloudOsconfigV2_OrchestrationScope_ResourceHierarchySelector": {
      "id": "GoogleCloudOsconfigV2_OrchestrationScope_ResourceHierarchySelector",
      "type": "object",
      "properties": {
        "includedProjects": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Names of the projects in scope. Format: `projects/{project_number}`"
        },
        "includedFolders": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Names of the folders in scope. Format: `folders/{folder_id}`",
          "type": "array"
        }
      },
      "description": "Selector containing Cloud Resource Manager resource hierarchy nodes."
    },
    "OSPolicyResourcePackageResource": {
      "properties": {
        "desiredState": {
          "description": "Required. The desired state the agent should maintain for this package.",
          "type": "string",
          "enum": [
            "DESIRED_STATE_UNSPECIFIED",
            "INSTALLED",
            "REMOVED"
          ],
          "enumDescriptions": [
            "Unspecified is invalid.",
            "Ensure that the package is installed.",
            "The agent ensures that the package is not installed and uninstalls it if detected."
          ]
        },
        "apt": {
          "description": "A package managed by Apt.",
          "$ref": "OSPolicyResourcePackageResourceAPT"
        },
        "deb": {
          "description": "A deb package file.",
          "$ref": "OSPolicyResourcePackageResourceDeb"
        },
        "yum": {
          "description": "A package managed by YUM.",
          "$ref": "OSPolicyResourcePackageResourceYUM"
        },
        "zypper": {
          "description": "A package managed by Zypper.",
          "$ref": "OSPolicyResourcePackageResourceZypper"
        },
        "msi": {
          "$ref": "OSPolicyResourcePackageResourceMSI",
          "description": "An MSI package."
        },
        "rpm": {
          "description": "An rpm package file.",
          "$ref": "OSPolicyResourcePackageResourceRPM"
        },
        "googet": {
          "description": "A package managed by GooGet.",
          "$ref": "OSPolicyResourcePackageResourceGooGet"
        }
      },
      "description": "A resource that manages a system package.",
      "type": "object",
      "id": "OSPolicyResourcePackageResource"
    },
    "OSPolicy": {
      "description": "An OS policy defines the desired state configuration for a VM.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Policy description. Length of the description is limited to 1024 characters."
        },
        "resourceGroups": {
          "description": "Required. List of resource groups for the policy. For a particular VM, resource groups are evaluated in the order specified and the first resource group that is applicable is selected and the rest are ignored. If none of the resource groups are applicable for a VM, the VM is considered to be non-compliant w.r.t this policy. This behavior can be toggled by the flag `allow_no_resource_group_match`",
          "type": "array",
          "items": {
            "$ref": "OSPolicyResourceGroup"
          }
        },
        "allowNoResourceGroupMatch": {
          "description": "This flag determines the OS policy compliance status when none of the resource groups within the policy are applicable for a VM. Set this value to `true` if the policy needs to be reported as compliant even if the policy has nothing to validate or enforce.",
          "type": "boolean"
        },
        "mode": {
          "description": "Required. Policy mode",
          "enumDescriptions": [
            "Invalid mode",
            "This mode checks if the configuration resources in the policy are in their desired state. No actions are performed if they are not in the desired state. This mode is used for reporting purposes.",
            "This mode checks if the configuration resources in the policy are in their desired state, and if not, enforces the desired state."
          ],
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "VALIDATION",
            "ENFORCEMENT"
          ]
        },
        "id": {
          "type": "string",
          "description": "Required. The id of the OS policy with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the assignment."
        }
      },
      "type": "object",
      "id": "OSPolicy"
    },
    "GoogleCloudOsconfigV2_PolicyOrchestrator_IterationState": {
      "type": "object",
      "description": "Describes the state of a single iteration of the orchestrator.",
      "properties": {
        "performedActions": {
          "description": "Output only. Overall number of actions done by the orchestrator so far.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "finishTime": {
          "type": "string",
          "description": "Output only. Finish time of the wave iteration.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Start time of the wave iteration."
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Error thrown in the wave iteration."
        },
        "iterationId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique identifier of the iteration."
        },
        "failedActions": {
          "format": "int64",
          "description": "Output only. Number of orchestration actions which failed so far. For more details, query the Cloud Logs.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROCESSING",
            "COMPLETED",
            "FAILED",
            "CANCELLED",
            "UNKNOWN"
          ],
          "readOnly": true,
          "description": "Output only. State of the iteration.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Iteration is in progress.",
            "Iteration completed, with all actions being successful.",
            "Iteration completed, with failures.",
            "Iteration was explicitly cancelled.",
            "Impossible to determine current state of the iteration."
          ]
        },
        "progress": {
          "description": "Output only. An estimated percentage of the progress. Number between 0 and 100.",
          "type": "number",
          "readOnly": true,
          "format": "float"
        }
      },
      "id": "GoogleCloudOsconfigV2_PolicyOrchestrator_IterationState"
    },
    "OSPolicyResourceGroup": {
      "properties": {
        "resources": {
          "type": "array",
          "description": "Required. List of resources configured for this resource group. The resources are executed in the exact order specified here.",
          "items": {
            "$ref": "OSPolicyResource"
          }
        },
        "inventoryFilters": {
          "items": {
            "$ref": "OSPolicyInventoryFilter"
          },
          "type": "array",
          "description": "List of inventory filters for the resource group. The resources in this resource group are applied to the target VM if it satisfies at least one of the following inventory filters. For example, to apply this resource group to VMs running either `RHEL` or `CentOS` operating systems, specify 2 items for the list with following values: inventory_filters[0].os_short_name='rhel' and inventory_filters[1].os_short_name='centos' If the list is empty, this resource group will be applied to the target VM unconditionally."
        }
      },
      "description": "Resource groups provide a mechanism to group OS policy resources. Resource groups enable OS policy authors to create a single OS policy to be applied to VMs running different operating Systems. When the OS policy is applied to a target VM, the appropriate resource group within the OS policy is selected based on the `OSFilter` specified within the resource group.",
      "type": "object",
      "id": "OSPolicyResourceGroup"
    },
    "OSPolicyAssignmentOperationMetadata": {
      "id": "OSPolicyAssignmentOperationMetadata",
      "description": "OS policy assignment operation metadata provided by OS policy assignment API methods that return long running operations.",
      "properties": {
        "rolloutStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Rollout start time"
        },
        "rolloutUpdateTime": {
          "type": "string",
          "description": "Rollout update time",
          "format": "google-datetime"
        },
        "apiMethod": {
          "description": "The OS policy assignment API method.",
          "enumDescriptions": [
            "Invalid value",
            "Create OS policy assignment API method",
            "Update OS policy assignment API method",
            "Delete OS policy assignment API method"
          ],
          "type": "string",
          "enum": [
            "API_METHOD_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE"
          ]
        },
        "rolloutState": {
          "type": "string",
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ],
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ],
          "description": "State of the rollout"
        },
        "osPolicyAssignment": {
          "type": "string",
          "description": "Reference to the `OSPolicyAssignment` API resource. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`"
        }
      },
      "type": "object"
    },
    "GoogleCloudOsconfigV2_OrchestrationScope_Selector": {
      "description": "Selector for the resources in scope of orchestration.",
      "properties": {
        "locationSelector": {
          "description": "Selector for selecting locations.",
          "$ref": "GoogleCloudOsconfigV2_OrchestrationScope_LocationSelector"
        },
        "resourceHierarchySelector": {
          "description": "Selector for selecting resource hierarchy.",
          "$ref": "GoogleCloudOsconfigV2_OrchestrationScope_ResourceHierarchySelector"
        }
      },
      "type": "object",
      "id": "GoogleCloudOsconfigV2_OrchestrationScope_Selector"
    },
    "GoogleCloudOsconfigV2__PolicyOrchestrator": {
      "id": "GoogleCloudOsconfigV2__PolicyOrchestrator",
      "description": "A policy orchestrator manages project-level and zone-level policy resources, such as OS policy assignments. It provides methods to create, update, and delete these resources across projects and locations at scale. The policy orchestrator operates as a continuous loop. In each iteration, the orchestrator identifies the set of resources to be modified and progressively applies changes. If the set of resources changes over time (for example, if you add new projects), subsequent iterations address those changes. The orchestrator can either upsert or delete policy resources. For more details, see the `action` and `orchestrated_resource` fields. The policy orchestrator does not manage the lifecycle of the resources it creates. Each iteration is independent and, besides Cloud Logging, the orchestrator retains only a minimal history of past actions. Deleting the orchestrator does not affect previously created resources; these resources remain in their current state. Similarly, removing projects from the orchestrator's scope does not affect existing resources.",
      "properties": {
        "reconciling": {
          "readOnly": true,
          "description": "Output only. Set to true, if there are ongoing changes being applied by the orchestrator.",
          "type": "boolean"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp when the policy orchestrator resource was last modified.",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "description": "Optional. State of the orchestrator. Can be updated to change orchestrator behaviour. Allowed values: - `ACTIVE` - orchestrator is actively looking for actions to be taken. - `STOPPED` - orchestrator won't make any changes. Note: There might be more states added in the future. We use string here instead of an enum, to avoid the need of propagating new states to all the client code.",
          "type": "string"
        },
        "orchestratedResource": {
          "description": "Required. Resource to be orchestrated by the policy orchestrator.",
          "$ref": "GoogleCloudOsconfigV2__OrchestratedResource"
        },
        "action": {
          "type": "string",
          "description": "Required. Action to be done by the orchestrator in `projects/{project_id}/zones/{zone_id}` locations defined by the `orchestration_scope`. Allowed values: - `UPSERT` - Orchestrator will create or update target resources. - `DELETE` - Orchestrator will delete target resources, if they exist"
        },
        "orchestrationScope": {
          "description": "Optional. Defines scope for the orchestration, in context of the enclosing PolicyOrchestrator resource. Scope is expanded into a list of pairs, in which the rollout action will take place. Expansion starts with a Folder resource parenting the PolicyOrchestrator resource: - All the descendant projects are listed. - List of project is cross joined with a list of all available zones. - Resulting list of pairs is filtered according to the selectors.",
          "$ref": "GoogleCloudOsconfigV2__OrchestrationScope"
        },
        "description": {
          "type": "string",
          "description": "Optional. Freeform text describing the purpose of the resource."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Labels as key value pairs"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Identifier. In the following format: * `organizations/{organization_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `folders/{folder_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `projects/{project_id_or_number}/locations/global/policyOrchestrators/{orchestrator_id}`"
        },
        "etag": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding."
        },
        "orchestrationState": {
          "readOnly": true,
          "$ref": "GoogleCloudOsconfigV2_PolicyOrchestrator_OrchestrationState",
          "description": "Output only. State of the orchestration."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when the policy orchestrator resource was created.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudOsconfigV2_OrchestrationScope_LocationSelector": {
      "properties": {
        "includedLocations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Names of the locations in scope. Format: `us-central1-a`"
        }
      },
      "id": "GoogleCloudOsconfigV2_OrchestrationScope_LocationSelector",
      "type": "object",
      "description": "Selector containing locations in scope."
    },
    "OSPolicyResourcePackageResourceZypper": {
      "id": "OSPolicyResourcePackageResourceZypper",
      "properties": {
        "name": {
          "description": "Required. Package name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A package managed by Zypper. - install: `zypper -y install package` - remove: `zypper -y rm package`"
    },
    "OSPolicyAssignmentInstanceFilter": {
      "properties": {
        "exclusionLabels": {
          "items": {
            "$ref": "OSPolicyAssignmentLabelSet"
          },
          "description": "List of label sets used for VM exclusion. If the list has more than one label set, the VM is excluded if any of the label sets are applicable for the VM.",
          "type": "array"
        },
        "inventories": {
          "description": "List of inventories to select VMs. A VM is selected if its inventory data matches at least one of the following inventories.",
          "type": "array",
          "items": {
            "$ref": "OSPolicyAssignmentInstanceFilterInventory"
          }
        },
        "all": {
          "description": "Target all VMs in the project. If true, no other criteria is permitted.",
          "type": "boolean"
        },
        "inclusionLabels": {
          "description": "List of label sets used for VM inclusion. If the list has more than one `LabelSet`, the VM is included if any of the label sets are applicable for the VM.",
          "type": "array",
          "items": {
            "$ref": "OSPolicyAssignmentLabelSet"
          }
        }
      },
      "description": "Filters to select target VMs for an assignment. If more than one filter criteria is specified below, a VM will be selected if and only if it satisfies all of them.",
      "id": "OSPolicyAssignmentInstanceFilter",
      "type": "object"
    },
    "OSPolicyResourceExecResourceExec": {
      "properties": {
        "args": {
          "description": "Optional arguments to pass to the source during execution.",
          "type": "array",
[...]
