{
  "version": "v1",
  "discoveryVersion": "v1",
  "baseUrl": "https://osconfig.googleapis.com/",
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/compute/docs/osconfig/rest",
  "schemas": {
    "OSPolicyResourceFileResource": {
      "id": "OSPolicyResourceFileResource",
      "properties": {
        "state": {
          "enum": [
            "DESIRED_STATE_UNSPECIFIED",
            "PRESENT",
            "ABSENT",
            "CONTENTS_MATCH"
          ],
          "description": "Required. Desired state of the file.",
          "enumDescriptions": [
            "Unspecified is invalid.",
            "Ensure file at path is present.",
            "Ensure file at path is absent.",
            "Ensure the contents of the file at path matches. If the file does not exist it will be created."
          ],
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "A file with this content. The size of the content is limited to 32KiB."
        },
        "file": {
          "$ref": "OSPolicyResourceFile",
          "description": "A remote or local source."
        },
        "path": {
          "description": "Required. The absolute path of the file within the VM.",
          "type": "string"
        },
        "permissions": {
          "type": "string",
          "description": "Consists of three octal digits which represent, in order, the permissions of the owner, group, and other users for the file (similarly to the numeric mode used in the linux chmod utility). Each digit represents a three bit number with the 4 bit corresponding to the read permissions, the 2 bit corresponds to the write bit, and the one bit corresponds to the execute permission. Default behavior is 755. Below are some examples of permissions and their associated values: read, write, and execute: 7 read and execute: 5 read and write: 6 read only: 4"
        }
      },
      "type": "object",
      "description": "A resource that manages the state of a file."
    },
    "YumSettings": {
      "type": "object",
      "properties": {
        "exclusivePackages": {
          "description": "An exclusive list of packages to be updated. These are the only packages that will be updated. If these packages are not installed, they will be ignored. This field must not be specified with any other patch configuration fields.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "security": {
          "description": "Adds the `--security` flag to `yum update`. Not supported on all platforms.",
          "type": "boolean"
        },
        "minimal": {
          "description": "Will cause patch to run `yum update-minimal` instead.",
          "type": "boolean"
        },
        "excludes": {
          "items": {
            "type": "string"
          },
          "description": "List of packages to exclude from update. These packages are excluded by using the yum `--exclude` flag.",
          "type": "array"
        }
      },
      "description": "Yum patching is performed by executing `yum update`. Additional options can be set to control how this is executed. Note that not all settings are supported on all platforms.",
      "id": "YumSettings"
    },
    "OSPolicyAssignmentReportOSPolicyComplianceOSPolicyResourceComplianceExecResourceOutput": {
      "type": "object",
      "properties": {
        "enforcementOutput": {
          "format": "byte",
          "description": "Output from enforcement phase output file (if run). Output size is limited to 100K bytes.",
          "type": "string"
        }
      },
      "id": "OSPolicyAssignmentReportOSPolicyComplianceOSPolicyResourceComplianceExecResourceOutput",
      "description": "ExecResource specific output."
    },
    "OSPolicyResourcePackageResource": {
      "id": "OSPolicyResourcePackageResource",
      "properties": {
        "googet": {
          "description": "A package managed by GooGet.",
          "$ref": "OSPolicyResourcePackageResourceGooGet"
        },
        "deb": {
          "description": "A deb package file.",
          "$ref": "OSPolicyResourcePackageResourceDeb"
        },
        "rpm": {
          "$ref": "OSPolicyResourcePackageResourceRPM",
          "description": "An rpm package file."
        },
        "yum": {
          "$ref": "OSPolicyResourcePackageResourceYUM",
          "description": "A package managed by YUM."
        },
        "zypper": {
          "description": "A package managed by Zypper.",
          "$ref": "OSPolicyResourcePackageResourceZypper"
        },
        "msi": {
          "$ref": "OSPolicyResourcePackageResourceMSI",
          "description": "An MSI package."
        },
        "desiredState": {
          "description": "Required. The desired state the agent should maintain for this package.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified is invalid.",
            "Ensure that the package is installed.",
            "The agent ensures that the package is not installed and uninstalls it if detected."
          ],
          "enum": [
            "DESIRED_STATE_UNSPECIFIED",
            "INSTALLED",
            "REMOVED"
          ]
        },
        "apt": {
          "description": "A package managed by Apt.",
          "$ref": "OSPolicyResourcePackageResourceAPT"
        }
      },
      "description": "A resource that manages a system package.",
      "type": "object"
    },
    "OSPolicyAssignment": {
      "type": "object",
      "description": "OS policy assignment is an API resource that is used to apply a set of OS policies to a dynamically targeted group of Compute Engine VM instances. An OS policy is used to define the desired state configuration for a Compute Engine VM instance through a set of configuration resources that provide capabilities such as installing or removing software packages, or executing a script. For more information about the OS policy resource definitions and examples, see [OS policy and OS policy assignment](https://cloud.google.com/compute/docs/os-configuration-management/working-with-os-policies).",
      "id": "OSPolicyAssignment",
      "properties": {
        "rolloutState": {
          "readOnly": true,
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ],
          "type": "string",
          "description": "Output only. OS policy assignment rollout state",
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ]
        },
        "osPolicies": {
          "items": {
            "$ref": "OSPolicy"
          },
          "type": "array",
          "description": "Required. List of OS policies to be applied to the VMs."
        },
        "name": {
          "description": "Resource name. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id}` This field is ignored when you create an OS policy assignment.",
          "type": "string"
        },
        "revisionId": {
          "description": "Output only. The assignment revision ID A new revision is committed whenever a rollout is triggered for a OS policy assignment",
          "type": "string",
          "readOnly": true
        },
        "baseline": {
          "readOnly": true,
          "description": "Output only. Indicates that this revision has been successfully rolled out in this zone and new VMs will be assigned OS policies from this revision. For a given OS policy assignment, there is only one revision with a value of `true` for this field.",
          "type": "boolean"
        },
        "revisionCreateTime": {
          "description": "Output only. The timestamp that the revision was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "deleted": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates that this revision deletes the OS policy assignment."
        },
        "etag": {
          "description": "The etag for this OS policy assignment. If this is provided on update, it must match the server's etag.",
          "type": "string"
        },
        "rollout": {
          "$ref": "OSPolicyAssignmentRollout",
          "description": "Required. Rollout to deploy the OS policy assignment. A rollout is triggered in the following situations: 1) OSPolicyAssignment is created. 2) OSPolicyAssignment is updated and the update contains changes to one of the following fields: - instance_filter - os_policies 3) OSPolicyAssignment is deleted."
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates that reconciliation is in progress for the revision. This value is `true` when the `rollout_state` is one of: * IN_PROGRESS * CANCELLING"
        },
        "uid": {
          "description": "Output only. Server generated unique id for the OS policy assignment resource.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "OS policy assignment description. Length of the description is limited to 1024 characters.",
          "type": "string"
        },
        "instanceFilter": {
          "description": "Required. Filter to select VMs.",
          "$ref": "OSPolicyAssignmentInstanceFilter"
        }
      }
    },
    "InventoryWindowsApplication": {
      "type": "object",
      "properties": {
        "publisher": {
          "description": "The name of the manufacturer for the product or application.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the application or product."
        },
        "displayVersion": {
          "description": "The version of the product or application in string format.",
          "type": "string"
        },
        "installDate": {
          "$ref": "Date",
          "description": "The last time this product received service. The value of this property is replaced each time a patch is applied or removed from the product or the command-line option is used to repair the product."
        },
        "helpLink": {
          "description": "The internet address for technical support.",
          "type": "string"
        }
      },
      "id": "InventoryWindowsApplication",
      "description": "Contains information about a Windows application that is retrieved from the Windows Registry. For more information about these fields, see: https://docs.microsoft.com/en-us/windows/win32/msi/uninstall-registry-key"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "VulnerabilityReportVulnerabilityItem": {
      "type": "object",
      "id": "VulnerabilityReportVulnerabilityItem",
      "properties": {
        "fixedCpeUri": {
          "type": "string",
          "description": "The recommended [CPE URI](https://cpe.mitre.org/specification/) update that contains a fix for this vulnerability."
        },
        "upstreamFix": {
          "description": "The upstream OS patch, packages or KB that fixes the vulnerability.",
          "type": "string"
        },
        "availableInventoryItemId": {
          "type": "string",
          "description": "Corresponds to the `AVAILABLE_PACKAGE` inventory item on the VM. If the vulnerability report was not updated after the VM inventory update, these values might not display in VM inventory. If there is no available fix, the field is empty. The `inventory_item` value specifies the latest `SoftwarePackage` available to the VM that fixes the vulnerability."
        },
        "installedInventoryItemId": {
          "description": "Corresponds to the `INSTALLED_PACKAGE` inventory item on the VM. This field displays the inventory items affected by this vulnerability. If the vulnerability report was not updated after the VM inventory update, these values might not display in VM inventory. For some operating systems, this field might be empty.",
          "type": "string"
        }
      },
      "description": "OS inventory item that is affected by a vulnerability or fixed as a result of a vulnerability."
    },
    "OSPolicyResourceGroup": {
      "type": "object",
      "properties": {
        "resources": {
          "description": "Required. List of resources configured for this resource group. The resources are executed in the exact order specified here.",
          "items": {
            "$ref": "OSPolicyResource"
          },
          "type": "array"
        },
        "inventoryFilters": {
          "items": {
            "$ref": "OSPolicyInventoryFilter"
          },
          "description": "List of inventory filters for the resource group. The resources in this resource group are applied to the target VM if it satisfies at least one of the following inventory filters. For example, to apply this resource group to VMs running either `RHEL` or `CentOS` operating systems, specify 2 items for the list with following values: inventory_filters[0].os_short_name='rhel' and inventory_filters[1].os_short_name='centos' If the list is empty, this resource group will be applied to the target VM unconditionally.",
          "type": "array"
        }
      },
      "description": "Resource groups provide a mechanism to group OS policy resources. Resource groups enable OS policy authors to create a single OS policy to be applied to VMs running different operating Systems. When the OS policy is applied to a target VM, the appropriate resource group within the OS policy is selected based on the `OSFilter` specified within the resource group.",
      "id": "OSPolicyResourceGroup"
    },
    "OSPolicy": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Policy description. Length of the description is limited to 1024 characters."
        },
        "allowNoResourceGroupMatch": {
          "description": "This flag determines the OS policy compliance status when none of the resource groups within the policy are applicable for a VM. Set this value to `true` if the policy needs to be reported as compliant even if the policy has nothing to validate or enforce.",
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "description": "Required. The id of the OS policy with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the assignment."
        },
        "resourceGroups": {
          "type": "array",
          "items": {
            "$ref": "OSPolicyResourceGroup"
          },
          "description": "Required. List of resource groups for the policy. For a particular VM, resource groups are evaluated in the order specified and the first resource group that is applicable is selected and the rest are ignored. If none of the resource groups are applicable for a VM, the VM is considered to be non-compliant w.r.t this policy. This behavior can be toggled by the flag `allow_no_resource_group_match`"
        },
        "mode": {
          "type": "string",
          "description": "Required. Policy mode",
          "enumDescriptions": [
            "Invalid mode",
            "This mode checks if the configuration resources in the policy are in their desired state. No actions are performed if they are not in the desired state. This mode is used for reporting purposes.",
            "This mode checks if the configuration resources in the policy are in their desired state, and if not, enforces the desired state."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "VALIDATION",
            "ENFORCEMENT"
          ]
        }
      },
      "id": "OSPolicy",
      "description": "An OS policy defines the desired state configuration for a VM."
    },
    "GoogleCloudOsconfigV2__OperationMetadata": {
      "id": "GoogleCloudOsconfigV2__OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        }
      }
    },
    "GoogleCloudOsconfigV2beta__OperationMetadata": {
      "properties": {
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudOsconfigV2beta__OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "OSPolicyAssignmentRollout": {
      "id": "OSPolicyAssignmentRollout",
      "description": "Message to configure the rollout at the zonal level for the OS policy assignment.",
      "type": "object",
      "properties": {
        "minWaitDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Required. This determines the minimum duration of time to wait after the configuration changes are applied through the current rollout. A VM continues to count towards the `disruption_budget` at least until this duration of time has passed after configuration changes are applied."
        },
        "disruptionBudget": {
          "description": "Required. The maximum number (or percentage) of VMs per zone to disrupt at any given moment.",
          "$ref": "FixedOrPercent"
        }
      }
    },
    "OSPolicyAssignmentReport": {
      "type": "object",
      "properties": {
        "instance": {
          "description": "The Compute Engine VM instance name.",
          "type": "string"
        },
        "osPolicyAssignment": {
          "description": "Reference to the `OSPolicyAssignment` API resource that the `OSPolicy` belongs to. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`",
          "type": "string"
        },
        "osPolicyCompliances": {
          "type": "array",
          "items": {
            "$ref": "OSPolicyAssignmentReportOSPolicyCompliance"
          },
          "description": "Compliance data for each `OSPolicy` that is applied to the VM."
        },
        "name": {
          "description": "The `OSPolicyAssignmentReport` API resource name. Format: `projects/{project_number}/locations/{location}/instances/{instance_id}/osPolicyAssignments/{os_policy_assignment_id}/report`",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Timestamp for when the report was last generated.",
          "type": "string"
        },
        "lastRunId": {
          "type": "string",
          "description": "Unique identifier of the last attempted run to apply the OS policies associated with this assignment on the VM. This ID is logged by the OS Config agent while applying the OS policies associated with this assignment on the VM. NOTE: If the service is unable to successfully connect to the agent for this run, then this id will not be available in the agent logs."
        }
      },
      "id": "OSPolicyAssignmentReport",
      "description": "A report of the OS policy assignment status for a given instance."
    },
    "VulnerabilityReportVulnerabilityDetailsReference": {
      "description": "A reference for this vulnerability.",
      "properties": {
        "source": {
          "type": "string",
          "description": "The source of the reference e.g. NVD."
        },
        "url": {
          "type": "string",
          "description": "The url of the reference."
        }
      },
      "type": "object",
      "id": "VulnerabilityReportVulnerabilityDetailsReference"
    },
    "Inventory": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The `Inventory` API resource name. Format: `projects/{project_number}/locations/{location}/instances/{instance_id}/inventory`",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp of the last reported inventory for the VM."
        },
        "items": {
          "additionalProperties": {
            "$ref": "InventoryItem"
          },
          "type": "object",
          "description": "Inventory items related to the VM keyed by an opaque unique identifier for each inventory item. The identifier is unique to each distinct and addressable inventory item and will change, when there is a new package version."
        },
        "osInfo": {
          "description": "Base level operating system information for the VM.",
          "$ref": "InventoryOsInfo"
        }
      },
      "type": "object",
      "description": "This API resource represents the available inventory data for a Compute Engine virtual machine (VM) instance at a given point in time. You can use this API resource to determine the inventory data of your VM. For more information, see [Information provided by OS inventory management](https://cloud.google.com/compute/docs/instances/os-inventory-management#data-collected).",
      "id": "Inventory"
    },
    "VulnerabilityReportVulnerabilityDetails": {
      "properties": {
        "severity": {
          "type": "string",
          "description": "Assigned severity/impact ranking from the distro."
        },
        "cvssV3": {
          "description": "The full description of the CVSSv3 for this vulnerability from NVD.",
          "$ref": "CVSSv3"
        },
        "cvssV2Score": {
          "description": "The CVSS V2 score of this vulnerability. CVSS V2 score is on a scale of 0 - 10 where 0 indicates low severity and 10 indicates high severity.",
          "format": "float",
          "type": "number"
        },
        "references": {
          "type": "array",
          "items": {
            "$ref": "VulnerabilityReportVulnerabilityDetailsReference"
          },
          "description": "Corresponds to the references attached to the `VulnerabilityDetails`."
        },
        "description": {
          "description": "The note or description describing the vulnerability from the distro.",
          "type": "string"
        },
        "cve": {
          "description": "The CVE of the vulnerability. CVE cannot be empty and the combination of should be unique across vulnerabilities for a VM.",
          "type": "string"
        }
      },
      "description": "Contains metadata information for the vulnerability. This information is collected from the upstream feed of the operating system.",
      "id": "VulnerabilityReportVulnerabilityDetails",
      "type": "object"
    },
    "WindowsUpdateSettings": {
      "description": "Windows patching is performed using the Windows Update Agent.",
      "properties": {
        "excludes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of KBs to exclude from update."
        },
        "classifications": {
          "items": {
            "enumDescriptions": [
              "Invalid. If classifications are included, they must be specified.",
              "\"A widely released fix for a specific problem that addresses a critical, non-security-related bug.\" [1]",
              "\"A widely released fix for a product-specific, security-related vulnerability. Security vulnerabilities are rated by their severity. The severity rating is indicated in the Microsoft security bulletin as critical, important, moderate, or low.\" [1]",
              "\"A widely released and frequent software update that contains additions to a product's definition database. Definition databases are often used to detect objects that have specific attributes, such as malicious code, phishing websites, or junk mail.\" [1]",
              "\"Software that controls the input and output of a device.\" [1]",
              "\"New product functionality that is first distributed outside the context of a product release and that is typically included in the next full product release.\" [1]",
              "\"A tested, cumulative set of all hotfixes, security updates, critical updates, and updates. Additionally, service packs may contain additional fixes for problems that are found internally since the release of the product. Service packs my also contain a limited number of customer-requested design changes or features.\" [1]",
              "\"A utility or feature that helps complete a task or set of tasks.\" [1]",
              "\"A tested, cumulative set of hotfixes, security updates, critical updates, and updates that are packaged together for easy deployment. A rollup generally targets a specific area, such as security, or a component of a product, such as Internet Information Services (IIS).\" [1]",
              "\"A widely released fix for a specific problem. An update addresses a noncritical, non-security-related bug.\" [1]"
            ],
            "type": "string",
            "enum": [
              "CLASSIFICATION_UNSPECIFIED",
              "CRITICAL",
              "SECURITY",
              "DEFINITION",
              "DRIVER",
              "FEATURE_PACK",
              "SERVICE_PACK",
              "TOOL",
              "UPDATE_ROLLUP",
              "UPDATE"
            ]
          },
          "description": "Only apply updates of these windows update classifications. If empty, all updates are applied.",
          "type": "array"
        },
        "exclusivePatches": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "An exclusive list of kbs to be updated. These are the only patches that will be updated. This field must not be used with other patch configurations."
        }
      },
      "id": "WindowsUpdateSettings",
      "type": "object"
    },
    "WeeklySchedule": {
      "properties": {
        "dayOfWeek": {
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Required. Day of the week.",
          "type": "string"
        }
      },
      "description": "Represents a weekly schedule.",
      "id": "WeeklySchedule",
      "type": "object"
    },
    "ZypperSettings": {
      "properties": {
        "exclusivePatches": {
          "type": "array",
          "description": "An exclusive list of patches to be updated. These are the only patches that will be installed using 'zypper patch patch:' command. This field must not be used with any other patch configuration fields.",
          "items": {
            "type": "string"
          }
        },
        "categories": {
          "description": "Install only patches with these categories. Common categories include security, recommended, and feature.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "withOptional": {
          "type": "boolean",
          "description": "Adds the `--with-optional` flag to `zypper patch`."
        },
        "severities": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Install only patches with these severities. Common severities include critical, important, moderate, and low."
        },
        "excludes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of patches to exclude from update."
        },
        "withUpdate": {
          "type": "boolean",
          "description": "Adds the `--with-update` flag, to `zypper patch`."
        }
      },
      "id": "ZypperSettings",
      "type": "object",
      "description": "Zypper patching is performed by running `zypper patch`. See also https://en.opensuse.org/SDB:Zypper_manual."
    },
    "VulnerabilityReportVulnerability": {
      "description": "A vulnerability affecting the VM instance.",
      "id": "VulnerabilityReportVulnerability",
      "properties": {
        "items": {
          "type": "array",
          "description": "List of items affected by the vulnerability.",
          "items": {
            "$ref": "VulnerabilityReportVulnerabilityItem"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp for when the vulnerability was last modified."
        },
        "availableInventoryItemIds": {
          "items": {
            "type": "string"
          },
          "deprecated": true,
          "description": "Corresponds to the `AVAILABLE_PACKAGE` inventory item on the VM. If the vulnerability report was not updated after the VM inventory update, these values might not display in VM inventory. If there is no available fix, the field is empty. The `inventory_item` value specifies the latest `SoftwarePackage` available to the VM that fixes the vulnerability.",
          "type": "array"
        },
        "details": {
          "description": "Contains metadata as per the upstream feed of the operating system and NVD.",
          "$ref": "VulnerabilityReportVulnerabilityDetails"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The timestamp for when the vulnerability was first detected.",
          "type": "string"
        },
        "installedInventoryItemIds": {
          "type": "array",
          "description": "Corresponds to the `INSTALLED_PACKAGE` inventory item on the VM. This field displays the inventory items affected by this vulnerability. If the vulnerability report was not updated after the VM inventory update, these values might not display in VM inventory. For some distros, this field may be empty.",
          "items": {
            "type": "string"
          },
          "deprecated": true
        }
      },
      "type": "object"
    },
    "StatusProto": {
      "description": "Wire-format for a Status object",
      "id": "StatusProto",
      "properties": {
        "space": {
          "type": "string",
          "description": "copybara:strip_begin(b/383363683) Space to which this status belongs copybara:strip_end_and_replace optional string space = 2; // Space to which this status belongs"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "Numeric code drawn from the space specified below. Often, this is the canonical error space, and code is drawn from google3/util/task/codes.proto copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 code = 1;"
        },
        "messageSet": {
          "description": "message_set associates an arbitrary proto message with the status. copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional proto2.bridge.MessageSet message_set = 5;",
          "$ref": "MessageSet"
        },
        "canonicalCode": {
          "description": "copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 canonical_code = 6;",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "Detail message copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional string message = 3;",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ResumePatchDeploymentRequest": {
      "description": "A request message for resuming a patch deployment.",
      "properties": {},
      "type": "object",
      "id": "ResumePatchDeploymentRequest"
    },
    "PatchDeployment": {
      "id": "PatchDeployment",
      "description": "Patch deployments are configurations that individual patch jobs use to complete a patch. These configurations include instance filter, package repository settings, and a schedule. For more information about creating and managing patch deployments, see [Scheduling patch jobs](https://cloud.google.com/compute/docs/os-patch-management/schedule-patch-jobs).",
      "properties": {
        "lastExecuteTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last time a patch job was started by this deployment. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "format": "google-datetime"
        },
        "patchConfig": {
          "$ref": "PatchConfig",
          "description": "Optional. Patch configuration that is applied."
        },
        "recurringSchedule": {
          "description": "Required. Schedule recurring executions.",
          "$ref": "RecurringSchedule"
        },
        "rollout": {
          "$ref": "PatchRollout",
          "description": "Optional. Rollout strategy of the patch job."
        },
        "updateTime": {
          "description": "Output only. Time the patch deployment was last updated. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time the patch deployment was created. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "oneTimeSchedule": {
          "description": "Required. Schedule a one-time execution.",
          "$ref": "OneTimeSchedule"
        },
        "description": {
          "description": "Optional. Description of the patch deployment. Length of the description is limited to 1024 characters.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "Active value means that patch deployment generates Patch Jobs.",
            "Paused value means that patch deployment does not generate Patch jobs. Requires user action to move in and out from this state."
          ],
          "description": "Output only. Current state of the patch deployment.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED"
          ]
        },
        "instanceFilter": {
          "description": "Required. VM instances to patch.",
          "$ref": "PatchInstanceFilter"
        },
        "name": {
          "description": "Unique name for the patch deployment resource in a project. The patch deployment name is in the form: `projects/{project_id}/patchDeployments/{patch_deployment_id}`. This field is ignored when you create a new patch deployment.",
          "type": "string"
        },
        "duration": {
          "description": "Optional. Duration of the patch. After the duration ends, the patch times out.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "OSPolicyResourcePackageResourceDeb": {
      "id": "OSPolicyResourcePackageResourceDeb",
      "properties": {
        "source": {
          "description": "Required. A deb package.",
          "$ref": "OSPolicyResourceFile"
        },
        "pullDeps": {
          "description": "Whether dependencies should also be installed. - install when false: `dpkg -i package` - install when true: `apt-get update && apt-get -y install package.deb`",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A deb package file. dpkg packages only support INSTALLED state."
    },
    "OSPolicyAssignmentReportOSPolicyCompliance": {
      "id": "OSPolicyAssignmentReportOSPolicyCompliance",
      "type": "object",
      "properties": {
        "osPolicyResourceCompliances": {
          "items": {
            "$ref": "OSPolicyAssignmentReportOSPolicyComplianceOSPolicyResourceCompliance"
          },
          "description": "Compliance data for each resource within the policy that is applied to the VM.",
          "type": "array"
        },
        "osPolicyId": {
          "description": "The OS policy id",
          "type": "string"
        },
        "complianceStateReason": {
          "description": "The reason for the OS policy to be in an unknown compliance state. This field is always populated when `compliance_state` is `UNKNOWN`. If populated, the field can contain one of the following values: * `vm-not-running`: The VM was not running. * `os-policies-not-supported-by-agent`: The version of the OS Config agent running on the VM does not support running OS policies. * `no-agent-detected`: The OS Config agent is not detected for the VM. * `resource-execution-errors`: The OS Config agent encountered errors while executing one or more resources in the policy. See `os_policy_resource_compliances` for details. * `task-timeout`: The task sent to the agent to apply the policy timed out. * `unexpected-agent-state`: The OS Config agent did not report the final status of the task that attempted to apply the policy. Instead, the agent unexpectedly started working on a different task. This mostly happens when the agent or VM unexpectedly restarts while applying OS policies. * `internal-service-errors`: Internal service errors were encountered while attempting to apply the policy. * `os-policy-execution-pending`: OS policy was assigned to the given VM, but was not executed yet. Typically this is a transient condition that will go away after the next policy execution cycle.",
          "type": "string"
        },
        "complianceState": {
          "description": "The compliance state of the OS policy.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "COMPLIANT",
            "NON_COMPLIANT"
          ],
          "enumDescriptions": [
            "The policy is in an unknown compliance state. Refer to the field `compliance_state_reason` to learn the exact reason for the policy to be in this compliance state.",
            "Policy is compliant. The policy is compliant if all the underlying resources are also compliant.",
            "Policy is non-compliant. The policy is non-compliant if one or more underlying resources are non-compliant."
          ]
        }
      },
      "description": "Compliance data for an OS policy"
    },
    "FixedOrPercent": {
      "type": "object",
      "properties": {
        "fixed": {
          "description": "Specifies a fixed value.",
          "format": "int32",
          "type": "integer"
        },
        "percent": {
          "format": "int32",
          "description": "Specifies the relative value defined as a percentage, which will be multiplied by a reference value.",
          "type": "integer"
        }
      },
      "id": "FixedOrPercent",
      "description": "Message encapsulating a value that can be either absolute (\"fixed\") or relative (\"percent\") to a value."
    },
    "PatchJobInstanceDetails": {
      "type": "object",
      "id": "PatchJobInstanceDetails",
      "properties": {
        "failureReason": {
          "type": "string",
          "description": "If the patch fails, this field provides the reason."
        },
        "instanceSystemId": {
          "description": "The unique identifier for the instance. This identifier is defined by the server.",
          "type": "string"
        },
        "name": {
          "description": "The instance name in the form `projects/*/zones/*/instances/*`",
          "type": "string"
        },
        "state": {
          "enum": [
            "PATCH_STATE_UNSPECIFIED",
            "PENDING",
            "INACTIVE",
            "NOTIFIED",
            "STARTED",
            "DOWNLOADING_PATCHES",
            "APPLYING_PATCHES",
            "REBOOTING",
            "SUCCEEDED",
            "SUCCEEDED_REBOOT_REQUIRED",
            "FAILED",
            "ACKED",
            "TIMED_OUT",
            "RUNNING_PRE_PATCH_STEP",
            "RUNNING_POST_PATCH_STEP",
            "NO_AGENT_DETECTED",
            "SKIPPED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "The instance is not yet notified.",
            "Instance is inactive and cannot be patched.",
            "The instance is notified that it should be patched.",
            "The instance has started the patching process.",
            "The instance is downloading patches.",
            "The instance is applying patches.",
            "The instance is rebooting.",
            "The instance has completed applying patches.",
            "The instance has completed applying patches but a reboot is required.",
            "The instance has failed to apply the patch.",
            "The instance acked the notification and will start shortly.",
            "The instance exceeded the time out while applying the patch.",
            "The instance is running the pre-patch step.",
            "The instance is running the post-patch step.",
            "The service could not detect the presence of the agent. Check to ensure that the agent is installed, running, and able to communicate with the service.",
            "The instance was skipped during patching due to one of two reasons: 1. The instance runs Container-Optimized OS (COS), which cannot be patched. 2. The patch job's configuration prohibits patching on Managed Instance Groups (MIGs), and the instance is part of one."
          ],
          "description": "Current state of instance patch.",
          "type": "string"
        },
        "attemptCount": {
          "format": "int64",
          "description": "The number of times the agent that the agent attempts to apply the patch.",
          "type": "string"
        }
      },
      "description": "Patch details for a VM instance. For more information about reviewing VM instance details, see [Listing all VM instance details for a specific patch job](https://cloud.google.com/compute/docs/os-patch-management/manage-patch-jobs#list-instance-details)."
    },
    "OSPolicyResourcePackageResourceMSI": {
      "id": "OSPolicyResourcePackageResourceMSI",
      "type": "object",
      "properties": {
        "properties": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Additional properties to use during installation. This should be in the format of Property=Setting. Appended to the defaults of `ACTION=INSTALL REBOOT=ReallySuppress`."
        },
        "source": {
          "$ref": "OSPolicyResourceFile",
          "description": "Required. The MSI package."
        }
      },
      "description": "An MSI package. MSI packages only support INSTALLED state."
    },
    "OSPolicyAssignmentInstanceFilter": {
      "properties": {
        "all": {
          "description": "Target all VMs in the project. If true, no other criteria is permitted.",
          "type": "boolean"
        },
        "inclusionLabels": {
          "description": "List of label sets used for VM inclusion. If the list has more than one `LabelSet`, the VM is included if any of the label sets are applicable for the VM.",
          "type": "array",
          "items": {
            "$ref": "OSPolicyAssignmentLabelSet"
          }
        },
        "exclusionLabels": {
          "description": "List of label sets used for VM exclusion. If the list has more than one label set, the VM is excluded if any of the label sets are applicable for the VM.",
          "items": {
            "$ref": "OSPolicyAssignmentLabelSet"
          },
          "type": "array"
        },
        "inventories": {
          "description": "List of inventories to select VMs. A VM is selected if its inventory data matches at least one of the following inventories.",
          "type": "array",
          "items": {
            "$ref": "OSPolicyAssignmentInstanceFilterInventory"
          }
        }
      },
      "description": "Filters to select target VMs for an assignment. If more than one filter criteria is specified below, a VM will be selected if and only if it satisfies all of them.",
      "type": "object",
      "id": "OSPolicyAssignmentInstanceFilter"
    },
    "ListInventoriesResponse": {
      "id": "ListInventoriesResponse",
      "properties": {
        "inventories": {
          "type": "array",
          "items": {
            "$ref": "Inventory"
          },
          "description": "List of inventory objects."
        },
        "nextPageToken": {
          "description": "The pagination token to retrieve the next page of inventory objects.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A response message for listing inventory data for all VMs in a specified location."
    },
    "PatchInstanceFilterGroupLabel": {
      "type": "object",
      "description": "Targets a group of VM instances by using their [assigned labels](https://cloud.google.com/compute/docs/labeling-resources). Labels are key-value pairs. A `GroupLabel` is a combination of labels that is used to target VMs for a patch job. For example, a patch job can target VMs that have the following `GroupLabel`: `{\"env\":\"test\", \"app\":\"web\"}`. This means that the patch job is applied to VMs that have both the labels `env=test` and `app=web`.",
      "id": "PatchInstanceFilterGroupLabel",
      "properties": {
        "labels": {
          "description": "Compute Engine instance labels that must be present for a VM instance to be targeted by this filter.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "OSPolicyInventoryFilter": {
      "type": "object",
      "id": "OSPolicyInventoryFilter",
      "description": "Filtering criteria to select VMs based on inventory details.",
      "properties": {
        "osVersion": {
          "type": "string",
          "description": "The OS version Prefix matches are supported if asterisk(*) is provided as the last character. For example, to match all versions with a major version of `7`, specify the following value for this field `7.*` An empty string matches all OS versions."
        },
        "osShortName": {
          "description": "Required. The OS short name",
          "type": "string"
        }
      }
    },
    "InventorySoftwarePackage": {
      "properties": {
        "aptPackage": {
          "description": "Details of an APT package. For details about the apt package manager, see https://wiki.debian.org/Apt.",
          "$ref": "InventoryVersionedPackage"
        },
        "zypperPackage": {
          "description": "Details of a Zypper package. For details about the Zypper package manager, see https://en.opensuse.org/SDB:Zypper_manual.",
          "$ref": "InventoryVersionedPackage"
        },
        "qfePackage": {
          "description": "Details of a Windows Quick Fix engineering package. See https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-quickfixengineering for info in Windows Quick Fix Engineering.",
          "$ref": "InventoryWindowsQuickFixEngineeringPackage"
        },
        "cosPackage": {
          "description": "Details of a COS package.",
          "$ref": "InventoryVersionedPackage"
        },
        "wuaPackage": {
          "$ref": "InventoryWindowsUpdatePackage",
          "description": "Details of a Windows Update package. See https://docs.microsoft.com/en-us/windows/win32/api/_wua/ for information about Windows Update."
        },
        "zypperPatch": {
          "$ref": "InventoryZypperPatch",
          "description": "Details of a Zypper patch. For details about the Zypper package manager, see https://en.opensuse.org/SDB:Zypper_manual."
        },
        "yumPackage": {
          "description": "Yum package info. For details about the yum package manager, see https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/6/html/deployment_guide/ch-yum.",
          "$ref": "InventoryVersionedPackage"
        },
        "windowsApplication": {
          "description": "Details of Windows Application.",
          "$ref": "InventoryWindowsApplication"
        },
        "googetPackage": {
          "description": "Details of a Googet package. For details about the googet package manager, see https://github.com/google/googet.",
          "$ref": "InventoryVersionedPackage"
        }
      },
      "type": "object",
      "id": "InventorySoftwarePackage",
      "description": "Software package information of the operating system."
    },
    "CancelPatchJobRequest": {
      "id": "CancelPatchJobRequest",
      "description": "Message for canceling a patch job.",
      "type": "object",
      "properties": {}
    },
    "VulnerabilityReport": {
      "description": "This API resource represents the vulnerability report for a specified Compute Engine virtual machine (VM) instance at a given point in time. For more information, see [Vulnerability reports](https://cloud.google.com/compute/docs/instances/os-inventory-management#vulnerability-reports).",
      "id": "VulnerabilityReport",
      "properties": {
        "vulnerabilities": {
          "type": "array",
          "description": "Output only. List of vulnerabilities affecting the VM.",
          "items": {
            "$ref": "VulnerabilityReportVulnerability"
          },
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The `vulnerabilityReport` API resource name. Format: `projects/{project_number}/locations/{location}/instances/{instance_id}/vulnerabilityReport`",
          "readOnly": true
        },
        "highestUpgradableCveSeverity": {
          "description": "Output only. Highest level of severity among all the upgradable vulnerabilities with CVEs attached.",
          "enumDescriptions": [
            "Default SeverityLevel. This value is unused.",
            "Vulnerability has no severity level.",
            "Vulnerability severity level is minimal. This is level below the low severity level.",
            "Vulnerability severity level is low. This is level below the medium severity level.",
            "Vulnerability severity level is medium. This is level below the high severity level.",
            "Vulnerability severity level is high. This is level below the critical severity level.",
            "Vulnerability severity level is critical. This is the highest severity level."
          ],
          "type": "string",
          "enum": [
            "VULNERABILITY_SEVERITY_LEVEL_UNSPECIFIED",
            "NONE",
            "MINIMAL",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp for when the last vulnerability report was generated for the VM.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "ExecStepConfig": {
      "description": "Common configurations for an ExecStep.",
      "type": "object",
      "properties": {
        "interpreter": {
          "enum": [
            "INTERPRETER_UNSPECIFIED",
            "NONE",
            "SHELL",
            "POWERSHELL"
          ],
          "description": "The script interpreter to use to run the script. If no interpreter is specified the script will be executed directly, which will likely only succeed for scripts with [shebang lines] (https://en.wikipedia.org/wiki/Shebang_\\(Unix\\)).",
          "type": "string",
          "enumDescriptions": [
            "If the interpreter is not specified, the value defaults to `NONE`.",
            "Indicates that the file is run as follows on each operating system: + For Linux VMs, the file is ran as an executable and the interpreter might be parsed from the [shebang line](https://wikipedia.org/wiki/Shebang_(Unix)) of the file. + For Windows VM, this value is not supported.",
            "Indicates that the file is run with `/bin/sh` on Linux and `cmd` on Windows.",
            "Indicates that the file is run with PowerShell."
          ]
        },
        "allowedSuccessCodes": {
          "description": "Defaults to [0]. A list of possible return values that the execution can return to indicate a success.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        },
        "localPath": {
          "type": "string",
          "description": "An absolute path to the executable on the VM."
        },
        "gcsObject": {
          "description": "A Cloud Storage object containing the executable.",
          "$ref": "GcsObject"
        }
      },
      "id": "ExecStepConfig"
    },
    "OSPolicyResource": {
      "properties": {
        "repository": {
          "$ref": "OSPolicyResourceRepositoryResource",
          "description": "Package repository resource"
        },
        "id": {
          "description": "Required. The id of the resource with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the OS policy.",
          "type": "string"
        },
        "exec": {
          "description": "Exec resource",
          "$ref": "OSPolicyResourceExecResource"
        },
        "file": {
          "description": "File resource",
          "$ref": "OSPolicyResourceFileResource"
        },
        "pkg": {
          "$ref": "OSPolicyResourcePackageResource",
          "description": "Package resource"
        }
      },
      "description": "An OS policy resource is used to define the desired state configuration and provides a specific functionality like installing/removing packages, executing a script etc. The system ensures that resources are always in their desired state by taking necessary actions if they have drifted from their desired state.",
      "id": "OSPolicyResource",
      "type": "object"
    },
    "OSPolicyResourceExecResourceExec": {
      "properties": {
        "interpreter": {
          "description": "Required. The script interpreter to use.",
          "enumDescriptions": [
            "Invalid value, the request will return validation error.",
            "If an interpreter is not specified, the source is executed directly. This execution, without an interpreter, only succeeds for executables and scripts that have shebang lines.",
            "Indicates that the script runs with `/bin/sh` on Linux and `cmd.exe` on Windows.",
            "Indicates that the script runs with PowerShell."
          ],
          "type": "string",
          "enum": [
            "INTERPRETER_UNSPECIFIED",
            "NONE",
            "SHELL",
            "POWERSHELL"
          ]
        },
        "file": {
          "$ref": "OSPolicyResourceFile",
          "description": "A remote or local file."
        },
        "outputFilePath": {
          "type": "string",
          "description": "Only recorded for enforce Exec. Path to an output file (that is created by this Exec) whose content will be recorded in OSPolicyResourceCompliance after a successful run. Absence or failure to read this file will result in this ExecResource being non-compliant. Output file size is limited to 500K bytes."
        },
        "script": {
          "type": "string",
          "description": "An inline script. The size of the script is limited to 32KiB."
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional arguments to pass to the source during execution."
        }
      },
      "type": "object",
      "id": "OSPolicyResourceExecResourceExec",
      "description": "A file or script to execute."
    },
    "ListVulnerabilityReportsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token to retrieve the next page of vulnerabilityReports object."
        },
        "vulnerabilityReports": {
          "items": {
            "$ref": "VulnerabilityReport"
          },
          "type": "array",
          "description": "List of vulnerabilityReport objects."
        }
      },
      "id": "ListVulnerabilityReportsResponse",
      "description": "A response message for listing vulnerability reports for all VM instances in the specified location.",
      "type": "object"
    },
    "RecurringSchedule": {
      "description": "Sets the time for recurring patch deployments.",
      "properties": {
        "frequency": {
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "WEEKLY",
            "MONTHLY",
            "DAILY"
          ],
          "enumDescriptions": [
            "Invalid. A frequency must be specified.",
            "Indicates that the frequency of recurrence should be expressed in terms of weeks.",
            "Indicates that the frequency of recurrence should be expressed in terms of months.",
            "Indicates that the frequency of recurrence should be expressed in terms of days."
          ],
          "description": "Required. The frequency unit of this recurring schedule.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The end time at which a recurring patch deployment schedule is no longer active."
        },
        "monthly": {
          "$ref": "MonthlySchedule",
          "description": "Required. Schedule with monthly executions."
        },
        "timeOfDay": {
          "description": "Required. Time of the day to run a recurring deployment.",
          "$ref": "TimeOfDay"
        },
        "timeZone": {
          "$ref": "TimeZone",
          "description": "Required. Defines the time zone that `time_of_day` is relative to. The rules for daylight saving time are determined by the chosen time zone."
        },
        "lastExecuteTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the last patch job ran successfully.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Optional. The time that the recurring schedule becomes effective. Defaults to `create_time` of the patch deployment.",
          "type": "string",
          "format": "google-datetime"
        },
        "weekly": {
          "description": "Required. Schedule with weekly executions.",
          "$ref": "WeeklySchedule"
        },
        "nextExecuteTime": {
          "readOnly": true,
          "description": "Output only. The time the next patch job is scheduled to run.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RecurringSchedule"
    },
    "OSPolicyResourceFileGcs": {
      "type": "object",
      "properties": {
        "generation": {
          "format": "int64",
          "type": "string",
          "description": "Generation number of the Cloud Storage object."
        },
        "bucket": {
          "type": "string",
          "description": "Required. Bucket of the Cloud Storage object."
        },
        "object": {
          "type": "string",
          "description": "Required. Name of the Cloud Storage object."
        }
      },
      "description": "Specifies a file available as a Cloud Storage Object.",
      "id": "OSPolicyResourceFileGcs"
    },
    "MonthlySchedule": {
      "type": "object",
      "properties": {
        "monthDay": {
          "description": "Required. One day of the month. 1-31 indicates the 1st to the 31st day. -1 indicates the last day of the month. Months without the target day will be skipped. For example, a schedule to run \"every month on the 31st\" will not run in February, April, June, etc.",
          "format": "int32",
          "type": "integer"
        },
        "weekDayOfMonth": {
          "description": "Required. Week day in a month.",
          "$ref": "WeekDayOfMonth"
        }
      },
      "description": "Represents a monthly schedule. An example of a valid monthly schedule is \"on the third Tuesday of the month\" or \"on the 15th of the month\".",
      "id": "MonthlySchedule"
    },
    "ListOSPolicyAssignmentsResponse": {
      "id": "ListOSPolicyAssignmentsResponse",
      "type": "object",
      "properties": {
        "osPolicyAssignments": {
          "type": "array",
          "description": "The list of assignments",
          "items": {
            "$ref": "OSPolicyAssignment"
          }
        },
        "nextPageToken": {
          "description": "The pagination token to retrieve the next page of OS policy assignments.",
          "type": "string"
        }
      },
      "description": "A response message for listing all assignments under given parent."
    },
    "ListOSPolicyAssignmentRevisionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token to retrieve the next page of OS policy assignment revisions."
        },
        "osPolicyAssignments": {
          "type": "array",
          "items": {
            "$ref": "OSPolicyAssignment"
          },
          "description": "The OS policy assignment revisions"
        }
      },
      "type": "object",
      "description": "A response message for listing all revisions for a OS policy assignment.",
      "id": "ListOSPolicyAssignmentRevisionsResponse"
    },
    "ListPatchDeploymentsResponse": {
      "properties": {
        "patchDeployments": {
          "description": "The list of patch deployments.",
          "items": {
            "$ref": "PatchDeployment"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A pagination token that can be used to get the next page of patch deployments.",
          "type": "string"
        }
      },
      "description": "A response message for listing patch deployments.",
      "type": "object",
      "id": "ListPatchDeploymentsResponse"
    },
    "GooSettings": {
      "properties": {},
      "description": "Googet patching is performed by running `googet update`.",
      "id": "GooSettings",
      "type": "object"
    },
    "OneTimeSchedule": {
      "id": "OneTimeSchedule",
      "description": "Sets the time for a one time patch deployment. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
      "type": "object",
      "properties": {
        "executeTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The desired patch job execution time."
        }
      }
    },
    "ListPatchJobsResponse": {
      "description": "A response message for listing patch jobs.",
      "type": "object",
      "properties": {
        "patchJobs": {
          "description": "The list of patch jobs.",
          "items": {
            "$ref": "PatchJob"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A pagination token that can be used to get the next page of results.",
          "type": "string"
        }
      },
      "id": "ListPatchJobsResponse"
    },
    "ListOSPolicyAssignmentReportsResponse": {
      "id": "ListOSPolicyAssignmentReportsResponse",
      "description": "A response message for listing OS Policy assignment reports including the page of results and page token.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token to retrieve the next page of OS policy assignment report objects."
        },
        "osPolicyAssignmentReports": {
          "description": "List of OS policy assignment reports.",
          "type": "array",
          "items": {
            "$ref": "OSPolicyAssignmentReport"
          }
        }
      },
      "type": "object"
    },
    "OSPolicyResourceRepositoryResourceYumRepository": {
      "properties": {
        "id": {
          "description": "Required. A one word, unique name for this repository. This is the `repo id` in the yum config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for resource conflicts.",
          "type": "string"
        },
        "baseUrl": {
          "type": "string",
          "description": "Required. The location of the repository directory."
        },
        "gpgKeys": {
          "description": "URIs of GPG keys.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "description": "The display name of the repository.",
          "type": "string"
        }
      },
      "description": "Represents a single yum package repository. These are added to a repo file that is managed at `/etc/yum.repos.d/google_osconfig.repo`.",
      "type": "object",
      "id": "OSPolicyResourceRepositoryResourceYumRepository"
    },
    "InventoryWindowsUpdatePackage": {
      "description": "Details related to a Windows Update package. Field data and names are taken from Windows Update API IUpdate Interface: https://docs.microsoft.com/en-us/windows/win32/api/_wua/ Descriptive fields like title, and description are localized based on the locale of the VM being updated.",
      "properties": {
        "revisionNumber": {
          "description": "The revision number of this update package.",
          "type": "integer",
          "format": "int32"
        },
        "moreInfoUrls": {
          "description": "A collection of URLs that provide more information about the update package.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "updateId": {
          "type": "string",
          "description": "Gets the identifier of an update package. Stays the same across revisions."
        },
        "categories": {
          "type": "array",
          "items": {
            "$ref": "InventoryWindowsUpdatePackageWindowsUpdateCategory"
          },
          "description": "The categories that are associated with this update package."
        },
        "title": {
          "description": "The localized title of the update package.",
          "type": "string"
        },
        "description": {
          "description": "The localized description of the update package.",
          "type": "string"
        },
        "kbArticleIds": {
          "type": "array",
          "description": "A collection of Microsoft Knowledge Base article IDs that are associated with the update package.",
          "items": {
            "type": "string"
          }
        },
        "supportUrl": {
          "type": "string",
          "description": "A hyperlink to the language-specific support information for the update."
        },
        "lastDeploymentChangeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last published date of the update, in (UTC) date and time."
        }
      },
      "type": "object",
      "id": "InventoryWindowsUpdatePackage"
    },
    "TimeOfDay": {
      "type": "object",
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "hours": {
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer"
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "format": "int32",
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
        }
      }
    },
    "OSPolicyAssignmentOperationMetadata": {
      "description": "OS policy assignment operation metadata provided by OS policy assignment API methods that return long running operations.",
      "type": "object",
      "properties": {
        "osPolicyAssignment": {
          "description": "Reference to the `OSPolicyAssignment` API resource. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`",
          "type": "string"
        },
        "rolloutState": {
          "type": "string",
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ],
          "description": "State of the rollout",
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ]
        },
        "apiMethod": {
          "enumDescriptions": [
            "Invalid value",
            "Create OS policy assignment API method",
            "Update OS policy assignment API method",
            "Delete OS policy assignment API method"
          ],
          "enum": [
            "API_METHOD_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "description": "The OS policy assignment API method.",
          "type": "string"
        },
        "rolloutStartTime": {
          "description": "Rollout start time",
          "type": "string",
          "format": "google-datetime"
        },
        "rolloutUpdateTime": {
          "description": "Rollout update time",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "OSPolicyAssignmentOperationMetadata"
    },
    "InventoryZypperPatch": {
      "description": "Details related to a Zypper Patch.",
      "type": "object",
      "properties": {
        "summary": {
          "type": "string",
          "description": "Any summary information provided about this patch."
        },
        "category": {
          "type": "string",
          "description": "The category of the patch."
        },
        "patchName": {
          "type": "string",
          "description": "The name of the patch."
        },
        "severity": {
          "description": "The severity specified for this patch",
          "type": "string"
        }
      },
      "id": "InventoryZypperPatch"
    },
    "OSPolicyResourcePackageResourceYUM": {
      "id": "OSPolicyResourcePackageResourceYUM",
      "description": "A package managed by YUM. - install: `yum -y install package` - remove: `yum -y remove package`",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Package name.",
          "type": "string"
        }
      }
    },
    "OSPolicyResourceRepositoryResource": {
      "id": "OSPolicyResourceRepositoryResource",
      "properties": {
        "yum": {
          "description": "A Yum Repository.",
          "$ref": "OSPolicyResourceRepositoryResourceYumRepository"
        },
        "goo": {
          "description": "A Goo Repository.",
          "$ref": "OSPolicyResourceRepositoryResourceGooRepository"
        },
        "apt": {
          "$ref": "OSPolicyResourceRepositoryResourceAptRepository",
          "description": "An Apt Repository."
        },
        "zypper": {
          "description": "A Zypper Repository.",
          "$ref": "OSPolicyResourceRepositoryResourceZypperRepository"
        }
      },
      "description": "A resource that manages a package repository.",
      "type": "object"
    },
    "InventoryVersionedPackage": {
      "properties": {
        "packageName": {
          "description": "The name of the package.",
          "type": "string"
        },
        "architecture": {
          "description": "The system architecture this package is intended for.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The version of the package."
        }
      },
      "id": "InventoryVersionedPackage",
      "description": "Information related to the a standard versioned package. This includes package info for APT, Yum, Zypper, and Googet package managers.",
      "type": "object"
    },
    "GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadata": {
      "description": "OS policy assignment operation metadata provided by OS policy assignment API methods that return long running operations.",
      "properties": {
        "osPolicyAssignment": {
          "type": "string",
          "description": "Reference to the `OSPolicyAssignment` API resource. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`"
        },
        "rolloutStartTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Rollout start time"
        },
        "rolloutUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Rollout update time"
        },
        "apiMethod": {
          "description": "The OS policy assignment API method.",
          "enum": [
            "API_METHOD_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "enumDescriptions": [
            "Invalid value",
            "Create OS policy assignment API method",
            "Update OS policy assignment API method",
            "Delete OS policy assignment API method"
          ],
          "type": "string"
        },
        "rolloutState": {
          "description": "State of the rollout",
          "type": "string",
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ],
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadata"
    },
    "GcsObject": {
      "properties": {
        "object": {
          "description": "Required. Name of the Cloud Storage object.",
          "type": "string"
        },
        "bucket": {
          "type": "string",
          "description": "Required. Bucket of the Cloud Storage object."
        },
        "generationNumber": {
          "format": "int64",
          "description": "Required. Generation number of the Cloud Storage object. This is used to ensure that the ExecStep specified by this PatchJob does not change.",
          "type": "string"
        }
      },
      "description": "Cloud Storage object representation.",
      "id": "GcsObject",
      "type": "object"
    },
    "OSPolicyResourceFileRemote": {
      "description": "Specifies a file available via some URI.",
      "id": "OSPolicyResourceFileRemote",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. URI from which to fetch the object. It should contain both the protocol and path following the format `{protocol}://{location}`."
        },
        "sha256Checksum": {
          "description": "SHA256 checksum of the remote file.",
          "type": "string"
        }
      }
    },
    "OSPolicyResourcePackageResourceAPT": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Package name."
        }
      },
      "id": "OSPolicyResourcePackageResourceAPT",
      "type": "object",
      "description": "A package managed by APT. - install: `apt-get update && apt-get -y install [name]` - remove: `apt-get -y remove [name]`"
    },
    "WeekDayOfMonth": {
      "type": "object",
      "properties": {
        "dayOfWeek": {
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Required. A day of the week.",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "dayOffset": {
          "description": "Optional. Represents the number of days before or after the given week day of month that the patch deployment is scheduled for. For example if `week_ordinal` and `day_of_week` values point to the second Tuesday of the month and the `day_offset` value is set to `3`, patch deployment takes place three days after the second Tuesday of the month. If this value is negative, for example -5, patches are deployed five days before the second Tuesday of the month. Allowed values are in range [-30, 30].",
          "type": "integer",
          "format": "int32"
        },
        "weekOrdinal": {
          "format": "int32",
          "description": "Required. Week number in a month. 1-4 indicates the 1st to 4th week of the month. -1 indicates the last week of the month.",
          "type": "integer"
        }
      },
      "description": "Represents one week day in a month. An example is \"the 4th Sunday\".",
      "id": "WeekDayOfMonth"
    },
    "OSPolicyAssignmentReportOSPolicyComplianceOSPolicyResourceCompliance": {
      "properties": {
        "configSteps": {
          "items": {
            "$ref": "OSPolicyAssignmentReportOSPolicyComplianceOSPolicyResourceComplianceOSPolicyResourceConfigStep"
          },
          "description": "Ordered list of configuration completed by the agent for the OS policy resource.",
          "type": "array"
        },
        "execResourceOutput": {
          "description": "ExecResource specific output.",
          "$ref": "OSPolicyAssignmentReportOSPolicyComplianceOSPolicyResourceComplianceExecResourceOutput"
        },
        "complianceStateReason": {
          "type": "string",
          "description": "A reason for the resource to be in the given compliance state. This field is always populated when `compliance_state` is `UNKNOWN`. The following values are supported when `compliance_state == UNKNOWN` * `execution-errors`: Errors were encountered by the agent while executing the resource and the compliance state couldn't be determined. * `execution-skipped-by-agent`: Resource execution was skipped by the agent because errors were encountered while executing prior resources in the OS policy. * `os-policy-execution-attempt-failed`: The execution of the OS policy containing this resource failed and the compliance state couldn't be determined. * `os-policy-execution-pending`: OS policy that owns this resource was assigned to the given VM, but was not executed yet."
        },
        "osPolicyResourceId": {
          "description": "The ID of the OS policy resource.",
          "type": "string"
        },
        "complianceState": {
          "enum": [
            "UNKNOWN",
            "COMPLIANT",
            "NON_COMPLIANT"
          ],
          "description": "The compliance state of the resource.",
          "enumDescriptions": [
            "The resource is in an unknown compliance state. To get more details about why the policy is in this state, review the output of the `compliance_state_reason` field.",
            "Resource is compliant.",
            "Resource is non-compliant."
          ],
          "type": "string"
        }
      },
      "id": "OSPolicyAssignmentReportOSPolicyComplianceOSPolicyResourceCompliance",
      "type": "object",
      "description": "Compliance data for an OS policy resource."
    },
    "OSPolicyResourceRepositoryResourceAptRepository": {
      "description": "Represents a single apt package repository. These will be added to a repo file that will be managed at `/etc/apt/sources.list.d/google_osconfig.list`.",
      "id": "OSPolicyResourceRepositoryResourceAptRepository",
      "properties": {
        "gpgKey": {
          "description": "URI of the key file for this repository. The agent maintains a keyring at `/etc/apt/trusted.gpg.d/osconfig_agent_managed.gpg`.",
          "type": "string"
        },
        "distribution": {
          "description": "Required. Distribution of this repository.",
          "type": "string"
        },
        "components": {
          "description": "Required. List of components for this repository. Must contain at least one item.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "uri": {
          "description": "Required. URI for this repository.",
          "type": "string"
        },
        "archiveType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified is invalid.",
            "Deb indicates that the archive contains binary files.",
            "Deb-src indicates that the archive contains source files."
          ],
          "description": "Required. Type of archive files in this repository.",
          "enum": [
            "ARCHIVE_TYPE_UNSPECIFIED",
            "DEB",
            "DEB_SRC"
          ]
        }
      },
      "type": "object"
    },
    "PatchJob": {
      "properties": {
        "rollout": {
          "$ref": "PatchRollout",
          "description": "Rollout strategy being applied."
        },
        "description": {
          "description": "Description of the patch job. Length of the description is limited to 1024 characters.",
          "type": "string"
        },
        "updateTime": {
          "description": "Last time this patch job was updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "The current state of the PatchJob.",
          "enumDescriptions": [
            "State must be specified.",
            "The patch job was successfully initiated.",
            "The patch job is looking up instances to run the patch on.",
            "Instances are being patched.",
            "Patch job completed successfully.",
            "The patch job completed without errors, but some instances were inactive and therefore not patched.",
            "Patch job completed but there were errors.",
            "The patch job was canceled.",
            "The patch job timed out."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "INSTANCE_LOOKUP",
            "PATCHING",
            "SUCCEEDED",
            "COMPLETED_WITH_INACTIVE_VMS",
            "COMPLETED_WITH_ERRORS",
            "CANCELED",
            "TIMED_OUT"
          ]
        },
        "duration": {
          "format": "google-duration",
          "description": "Duration of the patch job. After the duration ends, the patch job times out.",
          "type": "string"
        },
        "instanceFilter": {
          "$ref": "PatchInstanceFilter",
          "description": "Instances to patch."
        },
        "patchConfig": {
          "description": "Patch configuration being applied.",
          "$ref": "PatchConfig"
        },
        "errorMessage": {
          "description": "If this patch job failed, this message provides information about the failure.",
          "type": "string"
        },
        "name": {
          "description": "Unique identifier for this patch job in the form `projects/*/patchJobs/*`",
          "type": "string"
        },
        "patchDeployment": {
          "type": "string",
          "description": "Output only. Name of the patch deployment that created this patch job.",
          "readOnly": true
        },
        "createTime": {
          "description": "Time this patch job was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "instanceDetailsSummary": {
          "description": "Summary of instance details.",
          "$ref": "PatchJobInstanceDetailsSummary"
        },
        "displayName": {
          "description": "Display name for this patch job. This is not a unique identifier.",
          "type": "string"
        },
        "dryRun": {
          "description": "If this patch job is a dry run, the agent reports that it has finished without running any updates on the VM instance.",
          "type": "boolean"
        },
        "percentComplete": {
          "format": "double",
          "description": "Reflects the overall progress of the patch job in the range of 0.0 being no progress to 100.0 being complete.",
          "type": "number"
        }
      },
      "id": "PatchJob",
      "description": "A high level representation of a patch job that is either in progress or has completed. Instance details are not included in the job. To paginate through instance details, use `ListPatchJobInstanceDetails`. For more information about patch jobs, see [Creating patch jobs](https://cloud.google.com/compute/docs/os-patch-management/create-patch-job).",
      "type": "object"
    },
    "PatchRollout": {
      "id": "PatchRollout",
      "type": "object",
      "description": "Patch rollout configuration specifications. Contains details on the concurrency control when applying patch(es) to all targeted VMs.",
      "properties": {
        "mode": {
          "type": "string",
          "description": "Mode of the patch rollout.",
          "enum": [
            "MODE_UNSPECIFIED",
            "ZONE_BY_ZONE",
            "CONCURRENT_ZONES"
          ],
          "enumDescriptions": [
            "Mode must be specified.",
            "Patches are applied one zone at a time. The patch job begins in the region with the lowest number of targeted VMs. Within the region, patching begins in the zone with the lowest number of targeted VMs. If multiple regions (or zones within a region) have the same number of targeted VMs, a tie-breaker is achieved by sorting the regions or zones in alphabetical order.",
            "Patches are applied to VMs in all zones at the same time."
          ]
        },
        "disruptionBudget": {
          "$ref": "FixedOrPercent",
          "description": "The maximum number (or percentage) of VMs per zone to disrupt at any given moment. The number of VMs calculated from multiplying the percentage by the total number of VMs in a zone is rounded up. During patching, a VM is considered disrupted from the time the agent is notified to begin until patching has completed. This disruption time includes the time to complete reboot and any post-patch steps. A VM contributes to the disruption budget if its patching operation fails either when applying the patches, running pre or post patch steps, or if it fails to respond with a success notification before timing out. VMs that are not running or do not have an active agent do not count toward this disruption budget. For zone-by-zone rollouts, if the disruption budget in a zone is exceeded, the patch job stops, because continuing to the next zone requires completion of the patch process in the previous zone. For example, if the disruption budget has a fixed value of `10`, and 8 VMs fail to patch in the current zone, the patch job continues to patch 2 VMs at a time until the zone is completed. When that zone is completed successfully, patching begins with 10 VMs at a time in the next zone. If 10 VMs in the next zone fail to patch, the patch job stops."
        }
      }
    },
    "PausePatchDeploymentRequest": {
      "type": "object",
      "description": "A request message for pausing a patch deployment.",
      "id": "PausePatchDeploymentRequest",
      "properties": {}
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Date",
      "type": "object"
    },
    "OSPolicyResourceExecResource": {
      "id": "OSPolicyResourceExecResource",
      "properties": {
        "enforce": {
          "description": "What to run to bring this resource into the desired state. An exit code of 100 indicates \"success\", any other exit code indicates a failure running enforce.",
          "$ref": "OSPolicyResourceExecResourceExec"
        },
        "validate": {
          "description": "Required. What to run to validate this resource is in the desired state. An exit code of 100 indicates \"in desired state\", and exit code of 101 indicates \"not in desired state\". Any other exit code indicates a failure running validate.",
          "$ref": "OSPolicyResourceExecResourceExec"
        }
      },
      "description": "A resource that allows executing scripts on the VM. The `ExecResource` has 2 stages: `validate` and `enforce` and both stages accept a script as an argument to execute. When the `ExecResource` is applied by the agent, it first executes the script in the `validate` stage. The `validate` stage can signal that the `ExecResource` is already in the desired state by returning an exit code of `100`. If the `ExecResource` is not in the desired state, it should return an exit code of `101`. Any other exit code returned by this stage is considered an error. If the `ExecResource` is not in the desired state based on the exit code from the `validate` stage, the agent proceeds to execute the script from the `enforce` stage. If the `ExecResource` is already in the desired state, the `enforce` stage will not be run. Similar to `validate` stage, the `enforce` stage should return an exit code of `100` to indicate that the resource in now in its desired state. Any other exit code is considered an error. NOTE: An exit code of `100` was chosen over `0` (and `101` vs `1`) to have an explicit indicator of `in desired state`, `not in desired state` and errors. Because, for example, Powershell will always return an exit code of `0` unless an `exit` statement is provided in the script. So, for reasons of consistency and being explicit, exit codes `100` and `101` were chosen.",
      "type": "object"
    },
    "PatchJobInstanceDetailsSummary": {
      "id": "PatchJobInstanceDetailsSummary",
      "properties": {
        "applyingPatchesInstanceCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of instances that are applying patches."
        },
        "ackedInstanceCount": {
          "description": "Number of instances that have acked and will start shortly.",
          "format": "int64",
          "type": "string"
        },
        "noAgentDetectedInstanceCount": {
          "description": "Number of instances that do not appear to be running the agent. Check to ensure that the agent is installed, running, and able to communicate with the service.",
          "type": "string",
          "format": "int64"
        },
        "notifiedInstanceCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of instances notified about patch job."
        },
        "downloadingPatchesInstanceCount": {
          "type": "string",
          "description": "Number of instances that are downloading patches.",
          "format": "int64"
        },
        "succeededInstanceCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of instances that have completed successfully."
        },
        "pendingInstanceCount": {
          "description": "Number of instances pending patch job.",
          "format": "int64",
          "type": "string"
        },
        "timedOutInstanceCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of instances that exceeded the time out while applying the patch."
        },
        "startedInstanceCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of instances that have started."
        },
        "postPatchStepInstanceCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of instances that are running the post-patch step."
        },
        "failedInstanceCount": {
          "description": "Number of instances that failed.",
          "format": "int64",
          "type": "string"
        },
        "succeededRebootRequiredInstanceCount": {
          "description": "Number of instances that require reboot.",
          "format": "int64",
          "type": "string"
        },
        "skippedInstanceCount": {
          "type": "string",
          "description": "Number of instances that were skipped during patching.",
          "format": "int64"
        },
        "rebootingInstanceCount": {
          "description": "Number of instances rebooting.",
          "type": "string",
          "format": "int64"
        },
        "prePatchStepInstanceCount": {
          "format": "int64",
          "description": "Number of instances that are running the pre-patch step.",
          "type": "string"
        },
        "inactiveInstanceCount": {
          "format": "int64",
          "description": "Number of instances that are inactive.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A summary of the current patch state across all instances that this patch job affects. Contains counts of instances in different states. These states map to `InstancePatchState`. List patch job instance details to see the specific states of each instance."
    },
    "CVSSv3": {
      "type": "object",
[...]
