{
  "title": "OS Config API",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "type": "string",
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "discoveryVersion": "v1",
  "id": "osconfig:v2",
  "ownerDomain": "google.com",
  "baseUrl": "https://osconfig.googleapis.com/",
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://osconfig.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast1",
      "endpointUrl": "https://osconfig.asia-northeast1.rep.googleapis.com/"
    },
    {
      "location": "asia-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.asia-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://osconfig.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south1",
      "endpointUrl": "https://osconfig.asia-south1.rep.googleapis.com/"
    },
    {
      "location": "asia-south2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.asia-south2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://osconfig.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "location": "asia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.asia-southeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://osconfig.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.australia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-central2",
      "endpointUrl": "https://osconfig.europe-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://osconfig.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.europe-north2.rep.googleapis.com/",
      "location": "europe-north2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.europe-west1.rep.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.europe-west10.rep.googleapis.com/",
      "location": "europe-west10"
    },
    {
      "endpointUrl": "https://osconfig.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "endpointUrl": "https://osconfig.europe-west15.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west15"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.europe-west2.rep.googleapis.com/",
      "location": "europe-west2"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://osconfig.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://osconfig.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.europe-west6.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.europe-west8.rep.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://osconfig.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central2",
      "endpointUrl": "https://osconfig.me-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://osconfig.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://osconfig.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://osconfig.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.northamerica-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-east1",
      "endpointUrl": "https://osconfig.southamerica-east1.rep.googleapis.com/"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://osconfig.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central2",
      "endpointUrl": "https://osconfig.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://osconfig.us-central6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central6"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east1",
      "endpointUrl": "https://osconfig.us-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://osconfig.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://osconfig.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east7",
      "endpointUrl": "https://osconfig.us-east7.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.us-south1.rep.googleapis.com/",
      "location": "us-south1"
    },
    {
      "endpointUrl": "https://osconfig.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west2",
      "endpointUrl": "https://osconfig.us-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://osconfig.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://osconfig.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://osconfig.us-west8.rep.googleapis.com/"
    }
  ],
  "rootUrl": "https://osconfig.googleapis.com/",
  "description": "OS management tools that can be used for patch management, patch compliance, and configuration management on VM instances.",
  "canonicalName": "OS Config",
  "batchPath": "batch",
  "resources": {
    "folders": {
      "resources": {
        "locations": {
          "resources": {
            "global": {
              "resources": {
                "policyOrchestrators": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                        },
                        "orderBy": {
                          "description": "Optional. Hint for how to order the results",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^folders/[^/]+/locations/global$",
                          "description": "Required. The parent resource name."
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Filtering results"
                        },
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudOsconfigV2__ListPolicyOrchestratorsResponse"
                      },
                      "description": "Lists the policy orchestrators under the given parent folder resource.",
                      "path": "v2/{+parent}/policyOrchestrators",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "osconfig.folders.locations.global.policyOrchestrators.list",
                      "flatPath": "v2/folders/{foldersId}/locations/global/policyOrchestrators"
                    },
                    "patch": {
                      "flatPath": "v2/folders/{foldersId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "path": "v2/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      },
                      "id": "osconfig.folders.locations.global.policyOrchestrators.patch",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "Optional. The list of fields to merge into the existing policy orchestrator. A special [\"*\"] field mask can be used to simply replace the entire resource. Otherwise, for all paths referenced in the mask, following merge rules are used: * output only fields are ignored, * primitive fields are replaced, * repeated fields are replaced, * map fields are merged key by key, * message fields are cleared if not set in the request, otherwise they are merged recursively (in particular - message fields set to an empty message has no side effects) If field mask (or its paths) is not specified, it is automatically inferred from the request using following rules: * primitive fields are listed, if set to a non-default value (as there is no way to distinguish between default and unset value), * map and repeated fields are listed, * `google.protobuf.Any` fields are listed, * other message fields are traversed recursively. Note: implicit mask does not allow clearing fields."
                        },
                        "name": {
                          "required": true,
                          "description": "Immutable. Identifier. In the following format: * `organizations/{organization_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `folders/{folder_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `projects/{project_id_or_number}/locations/global/policyOrchestrators/{orchestrator_id}`",
                          "location": "path",
                          "pattern": "^folders/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "type": "string"
                        }
                      },
                      "description": "Updates an existing policy orchestrator, parented by a folder."
                    },
                    "delete": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v2/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "id": "osconfig.folders.locations.global.policyOrchestrators.delete",
                      "description": "Deletes an existing policy orchestrator resource, parented by a folder.",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the resource to be deleted.",
                          "type": "string",
                          "required": true,
                          "pattern": "^folders/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "location": "path"
                        },
                        "requestId": {
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string"
                        },
                        "etag": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The current etag of the policy orchestrator. If an etag is provided and does not match the current etag of the policy orchestrator, deletion will be blocked and an ABORTED error will be returned."
                        }
                      },
                      "flatPath": "v2/folders/{foldersId}/locations/global/policyOrchestrators/{policyOrchestratorsId}"
                    },
                    "get": {
                      "description": "Retrieves an existing policy orchestrator, parented by a folder.",
                      "path": "v2/{+name}",
                      "response": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^folders/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "location": "path",
                          "description": "Required. The resource name.",
                          "required": true
                        }
                      },
                      "flatPath": "v2/folders/{foldersId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "osconfig.folders.locations.global.policyOrchestrators.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "path": "v2/{+parent}/policyOrchestrators",
                      "parameters": {
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^folders/[^/]+/locations/global$",
                          "required": true,
                          "description": "Required. The parent resource name in the form of: * `organizations/{organization_id}/locations/global` * `folders/{folder_id}/locations/global` * `projects/{project_id_or_number}/locations/global`"
                        },
                        "policyOrchestratorId": {
                          "description": "Required. The logical identifier of the policy orchestrator, with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the parent.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "flatPath": "v2/folders/{foldersId}/locations/global/policyOrchestrators",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Creates a new policy orchestrator under the given folder resource. `name` field of the given orchestrator are ignored and instead replaced by a product of `parent` and `policy_orchestrator_id`. Orchestrator state field might be only set to `ACTIVE`, `STOPPED` or omitted (in which case, the created resource will be in `ACTIVE` state anyway).",
                      "id": "osconfig.folders.locations.global.policyOrchestrators.create"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "osconfig.folders.locations.operations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v2/folders/{foldersId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "pattern": "^folders/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2/{+name}"
                },
                "get": {
                  "flatPath": "v2/folders/{foldersId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "pattern": "^folders/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "id": "osconfig.folders.locations.operations.get"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The standard list page size.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "name": {
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/folders/{foldersId}/locations/{locationsId}/operations",
                  "path": "v2/{+name}/operations",
                  "id": "osconfig.folders.locations.operations.list",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                },
                "cancel": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "osconfig.folders.locations.operations.cancel",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "pattern": "^folders/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "flatPath": "v2/folders/{foldersId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}:cancel"
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "delete": {
                  "path": "v2/{+name}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "osconfig.projects.locations.operations.delete",
                  "httpMethod": "DELETE"
                },
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "path": "v2/{+name}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "id": "osconfig.projects.locations.operations.cancel",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel"
                },
                "list": {
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard list page size."
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "id": "osconfig.projects.locations.operations.list",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations",
                  "path": "v2/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "osconfig.projects.locations.operations.get",
                  "httpMethod": "GET",
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "global": {
              "resources": {
                "policyOrchestrators": {
                  "methods": {
                    "delete": {
                      "httpMethod": "DELETE",
                      "path": "v2/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "etag": {
                          "location": "query",
                          "description": "Optional. The current etag of the policy orchestrator. If an etag is provided and does not match the current etag of the policy orchestrator, deletion will be blocked and an ABORTED error will be returned.",
                          "type": "string"
                        },
                        "requestId": {
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "description": "Required. Name of the resource to be deleted.",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "osconfig.projects.locations.global.policyOrchestrators.delete",
                      "description": "Deletes an existing policy orchestrator resource, parented by a project.",
                      "flatPath": "v2/projects/{projectsId}/locations/global/policyOrchestrators/{policyOrchestratorsId}"
                    },
                    "patch": {
                      "path": "v2/{+name}",
                      "flatPath": "v2/projects/{projectsId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "description": "Updates an existing policy orchestrator, parented by a project.",
                      "id": "osconfig.projects.locations.global.policyOrchestrators.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      },
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "location": "path",
                          "description": "Immutable. Identifier. In the following format: * `organizations/{organization_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `folders/{folder_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `projects/{project_id_or_number}/locations/global/policyOrchestrators/{orchestrator_id}`",
                          "required": true
                        },
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The list of fields to merge into the existing policy orchestrator. A special [\"*\"] field mask can be used to simply replace the entire resource. Otherwise, for all paths referenced in the mask, following merge rules are used: * output only fields are ignored, * primitive fields are replaced, * repeated fields are replaced, * map fields are merged key by key, * message fields are cleared if not set in the request, otherwise they are merged recursively (in particular - message fields set to an empty message has no side effects) If field mask (or its paths) is not specified, it is automatically inferred from the request using following rules: * primitive fields are listed, if set to a non-default value (as there is no way to distinguish between default and unset value), * map and repeated fields are listed, * `google.protobuf.Any` fields are listed, * other message fields are traversed recursively. Note: implicit mask does not allow clearing fields.",
                          "format": "google-fieldmask"
                        }
                      }
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v2/{+name}",
                      "flatPath": "v2/projects/{projectsId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "description": "Retrieves an existing policy orchestrator, parented by a project.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "description": "Required. The resource name."
                        }
                      },
                      "id": "osconfig.projects.locations.global.policyOrchestrators.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET"
                    },
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudOsconfigV2__ListPolicyOrchestratorsResponse"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. The parent resource name.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global$",
                          "location": "path"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Filtering results"
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Hint for how to order the results"
                        },
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v2/{+parent}/policyOrchestrators",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/global/policyOrchestrators",
                      "id": "osconfig.projects.locations.global.policyOrchestrators.list",
                      "description": "Lists the policy orchestrators under the given parent project resource."
                    },
                    "create": {
                      "id": "osconfig.projects.locations.global.policyOrchestrators.create",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v2/{+parent}/policyOrchestrators",
                      "parameters": {
                        "policyOrchestratorId": {
                          "location": "query",
                          "description": "Required. The logical identifier of the policy orchestrator, with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the parent.",
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The parent resource name in the form of: * `organizations/{organization_id}/locations/global` * `folders/{folder_id}/locations/global` * `projects/{project_id_or_number}/locations/global`",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/global$"
                        }
                      },
                      "description": "Creates a new policy orchestrator under the given project resource. `name` field of the given orchestrator are ignored and instead replaced by a product of `parent` and `policy_orchestrator_id`. Orchestrator state field might be only set to `ACTIVE`, `STOPPED` or omitted (in which case, the created resource will be in `ACTIVE` state anyway).",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/global/policyOrchestrators",
                      "request": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "global": {
              "resources": {
                "policyOrchestrators": {
                  "methods": {
                    "patch": {
                      "httpMethod": "PATCH",
                      "id": "osconfig.organizations.locations.global.policyOrchestrators.patch",
                      "description": "Updates an existing policy orchestrator, parented by an organization.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Immutable. Identifier. In the following format: * `organizations/{organization_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `folders/{folder_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `projects/{project_id_or_number}/locations/global/policyOrchestrators/{orchestrator_id}`",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "type": "string"
                        },
                        "updateMask": {
                          "location": "query",
                          "description": "Optional. The list of fields to merge into the existing policy orchestrator. A special [\"*\"] field mask can be used to simply replace the entire resource. Otherwise, for all paths referenced in the mask, following merge rules are used: * output only fields are ignored, * primitive fields are replaced, * repeated fields are replaced, * map fields are merged key by key, * message fields are cleared if not set in the request, otherwise they are merged recursively (in particular - message fields set to an empty message has no side effects) If field mask (or its paths) is not specified, it is automatically inferred from the request using following rules: * primitive fields are listed, if set to a non-default value (as there is no way to distinguish between default and unset value), * map and repeated fields are listed, * `google.protobuf.Any` fields are listed, * other message fields are traversed recursively. Note: implicit mask does not allow clearing fields.",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "flatPath": "v2/organizations/{organizationsId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2/{+name}",
                      "request": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "delete": {
                      "path": "v2/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Deletes an existing policy orchestrator resource, parented by an organization.",
                      "id": "osconfig.organizations.locations.global.policyOrchestrators.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        },
                        "etag": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The current etag of the policy orchestrator. If an etag is provided and does not match the current etag of the policy orchestrator, deletion will be blocked and an ABORTED error will be returned."
                        },
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "location": "path",
                          "description": "Required. Name of the resource to be deleted."
                        }
                      },
                      "flatPath": "v2/organizations/{organizationsId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a new policy orchestrator under the given organizations resource. `name` field of the given orchestrator are ignored and instead replaced by a product of `parent` and `policy_orchestrator_id`. Orchestrator state field might be only set to `ACTIVE`, `STOPPED` or omitted (in which case, the created resource will be in `ACTIVE` state anyway).",
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      },
                      "id": "osconfig.organizations.locations.global.policyOrchestrators.create",
                      "parameters": {
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        },
                        "policyOrchestratorId": {
                          "description": "Required. The logical identifier of the policy orchestrator, with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the parent.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/global$",
                          "type": "string",
                          "description": "Required. The parent resource name in the form of: * `organizations/{organization_id}/locations/global` * `folders/{folder_id}/locations/global` * `projects/{project_id_or_number}/locations/global`"
                        }
                      },
                      "flatPath": "v2/organizations/{organizationsId}/locations/global/policyOrchestrators",
                      "path": "v2/{+parent}/policyOrchestrators",
                      "httpMethod": "POST"
                    },
                    "list": {
                      "id": "osconfig.organizations.locations.global.policyOrchestrators.list",
                      "path": "v2/{+parent}/policyOrchestrators",
                      "response": {
                        "$ref": "GoogleCloudOsconfigV2__ListPolicyOrchestratorsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The parent resource name.",
                          "pattern": "^organizations/[^/]+/locations/global$"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Filtering results"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. Hint for how to order the results",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                        }
                      },
                      "flatPath": "v2/organizations/{organizationsId}/locations/global/policyOrchestrators",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "description": "Lists the policy orchestrators under the given parent organization resource."
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Retrieves an existing policy orchestrator, parented by an organization.",
                      "response": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      },
                      "id": "osconfig.organizations.locations.global.policyOrchestrators.get",
                      "path": "v2/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name.",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "flatPath": "v2/organizations/{organizationsId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "osconfig.organizations.locations.operations.delete"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "osconfig.organizations.locations.operations.list",
                  "path": "v2/{+name}/operations",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation's parent resource."
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The standard list page size."
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    }
                  }
                },
                "get": {
                  "path": "v2/{+name}",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "osconfig.organizations.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "cancel": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "id": "osconfig.organizations.locations.operations.cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "path": "v2/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/compute/docs/osconfig/rest",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "osconfig",
  "revision": "20260910",
  "mtlsRootUrl": "https://osconfig.mtls.googleapis.com/",
  "servicePath": "",
  "version_module": true,
  "version": "v2",
  "basePath": "",
  "schemas": {
    "OSPolicyAssignmentOperationMetadata": {
      "id": "OSPolicyAssignmentOperationMetadata",
      "properties": {
        "rolloutUpdateTime": {
          "format": "google-datetime",
          "description": "Rollout update time",
          "type": "string"
        },
        "rolloutState": {
          "type": "string",
          "description": "State of the rollout",
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ],
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ]
        },
        "osPolicyAssignment": {
          "type": "string",
          "description": "Reference to the `OSPolicyAssignment` API resource. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`"
        },
        "rolloutStartTime": {
          "format": "google-datetime",
          "description": "Rollout start time",
          "type": "string"
        },
        "apiMethod": {
          "enum": [
            "API_METHOD_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "enumDescriptions": [
            "Invalid value",
            "Create OS policy assignment API method",
            "Update OS policy assignment API method",
            "Delete OS policy assignment API method"
          ],
          "description": "The OS policy assignment API method.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "OS policy assignment operation metadata provided by OS policy assignment API methods that return long running operations."
    },
    "OSPolicyResourceRepositoryResourceZypperRepository": {
      "type": "object",
      "properties": {
        "baseUrl": {
          "type": "string",
          "description": "Required. The location of the repository directory."
        },
        "gpgKeys": {
          "description": "URIs of GPG keys.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "description": "Required. A one word, unique name for this repository. This is the `repo id` in the zypper config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for GuestPolicy conflicts.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the repository.",
          "type": "string"
        }
      },
      "id": "OSPolicyResourceRepositoryResourceZypperRepository",
      "description": "Represents a single zypper package repository. These are added to a repo file that is managed at `/etc/zypp/repos.d/google_osconfig.repo`."
    },
    "CancelOperationRequest": {
      "properties": {},
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "OSPolicyAssignmentLabelSet": {
      "properties": {
        "labels": {
          "description": "Labels are identified by key/value pairs in this map. A VM should contain all the key/value pairs specified in this map to be selected.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "OSPolicyAssignmentLabelSet",
      "type": "object",
      "description": "Message representing label set. * A label is a key value pair set for a VM. * A LabelSet is a set of labels. * Labels within a LabelSet are ANDed. In other words, a LabelSet is applicable for a VM only if it matches all the labels in the LabelSet. * Example: A LabelSet with 2 labels: `env=prod` and `type=webserver` will only be applicable for those VMs with both labels present."
    },
    "OSPolicyInventoryFilter": {
      "properties": {
        "osShortName": {
          "description": "Required. The OS short name",
          "type": "string"
        },
        "osVersion": {
          "description": "The OS version Prefix matches are supported if asterisk(*) is provided as the last character. For example, to match all versions with a major version of `7`, specify the following value for this field `7.*` An empty string matches all OS versions.",
          "type": "string"
        }
      },
      "description": "Filtering criteria to select VMs based on inventory details.",
      "id": "OSPolicyInventoryFilter",
      "type": "object"
    },
    "OSPolicyResourcePackageResourceRPM": {
      "description": "An RPM package file. RPM packages only support INSTALLED state.",
      "properties": {
        "source": {
          "description": "Required. An rpm package.",
          "$ref": "OSPolicyResourceFile"
        },
        "pullDeps": {
          "type": "boolean",
          "description": "Whether dependencies should also be installed. - install when false: `rpm --upgrade --replacepkgs package.rpm` - install when true: `yum -y install package.rpm` or `zypper -y install package.rpm`"
        }
      },
      "id": "OSPolicyResourcePackageResourceRPM",
      "type": "object"
    },
    "GoogleCloudOsconfigV2_OrchestrationScope_LocationSelector": {
      "properties": {
        "includedLocations": {
          "description": "Optional. Names of the locations in scope. Format: `us-central1-a`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudOsconfigV2_OrchestrationScope_LocationSelector",
      "type": "object",
      "description": "Selector containing locations in scope."
    },
    "OSPolicyResourcePackageResourceGooGet": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Package name."
        }
      },
      "description": "A package managed by GooGet. - install: `googet -noconfirm install package` - remove: `googet -noconfirm remove package`",
      "id": "OSPolicyResourcePackageResourceGooGet",
      "type": "object"
    },
    "OSPolicyResourceFileGcs": {
      "id": "OSPolicyResourceFileGcs",
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Required. Bucket of the Cloud Storage object."
        },
        "generation": {
          "description": "Generation number of the Cloud Storage object.",
          "format": "int64",
          "type": "string"
        },
        "object": {
          "description": "Required. Name of the Cloud Storage object.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Specifies a file available as a Cloud Storage Object."
    },
    "FixedOrPercent": {
      "type": "object",
      "description": "Message encapsulating a value that can be either absolute (\"fixed\") or relative (\"percent\") to a value.",
      "id": "FixedOrPercent",
      "properties": {
        "percent": {
          "format": "int32",
          "description": "Specifies the relative value defined as a percentage, which will be multiplied by a reference value.",
          "type": "integer"
        },
        "fixed": {
          "type": "integer",
          "description": "Specifies a fixed value.",
          "format": "int32"
        }
      }
    },
    "OSPolicyResourcePackageResource": {
      "id": "OSPolicyResourcePackageResource",
      "description": "A resource that manages a system package.",
      "type": "object",
      "properties": {
        "zypper": {
          "description": "A package managed by Zypper.",
          "$ref": "OSPolicyResourcePackageResourceZypper"
        },
        "yum": {
          "description": "A package managed by YUM.",
          "$ref": "OSPolicyResourcePackageResourceYUM"
        },
        "apt": {
          "description": "A package managed by Apt.",
          "$ref": "OSPolicyResourcePackageResourceAPT"
        },
        "deb": {
          "description": "A deb package file.",
          "$ref": "OSPolicyResourcePackageResourceDeb"
        },
        "googet": {
          "$ref": "OSPolicyResourcePackageResourceGooGet",
          "description": "A package managed by GooGet."
        },
        "desiredState": {
          "enumDescriptions": [
            "Unspecified is invalid.",
            "Ensure that the package is installed.",
            "The agent ensures that the package is not installed and uninstalls it if detected."
          ],
          "type": "string",
          "enum": [
            "DESIRED_STATE_UNSPECIFIED",
            "INSTALLED",
            "REMOVED"
          ],
          "description": "Required. The desired state the agent should maintain for this package."
        },
        "rpm": {
          "$ref": "OSPolicyResourcePackageResourceRPM",
          "description": "An rpm package file."
        },
        "msi": {
          "description": "An MSI package.",
          "$ref": "OSPolicyResourcePackageResourceMSI"
        }
      }
    },
    "GoogleCloudOsconfigV2__ListPolicyOrchestratorsResponse": {
      "id": "GoogleCloudOsconfigV2__ListPolicyOrchestratorsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "policyOrchestrators": {
          "items": {
            "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
          },
          "description": "The policy orchestrators for the specified parent resource.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response for the list policy orchestrator resources."
    },
    "OSPolicyResourceRepositoryResource": {
      "description": "A resource that manages a package repository.",
      "type": "object",
      "id": "OSPolicyResourceRepositoryResource",
      "properties": {
        "yum": {
          "description": "A Yum Repository.",
          "$ref": "OSPolicyResourceRepositoryResourceYumRepository"
        },
        "goo": {
          "$ref": "OSPolicyResourceRepositoryResourceGooRepository",
          "description": "A Goo Repository."
        },
        "apt": {
          "$ref": "OSPolicyResourceRepositoryResourceAptRepository",
          "description": "An Apt Repository."
        },
        "zypper": {
          "description": "A Zypper Repository.",
          "$ref": "OSPolicyResourceRepositoryResourceZypperRepository"
        }
      }
    },
    "OSPolicyResourcePackageResourceAPT": {
      "type": "object",
      "id": "OSPolicyResourcePackageResourceAPT",
      "description": "A package managed by APT. - install: `apt-get update && apt-get -y install [name]` - remove: `apt-get -y remove [name]`",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Package name."
        }
      }
    },
    "GoogleCloudOsconfigV2_PolicyOrchestrator_OrchestrationState": {
      "properties": {
        "previousIterationState": {
          "$ref": "GoogleCloudOsconfigV2_PolicyOrchestrator_IterationState",
          "readOnly": true,
          "description": "Output only. Previous Wave iteration state."
        },
        "currentIterationState": {
          "readOnly": true,
          "description": "Output only. Current Wave iteration state.",
          "$ref": "GoogleCloudOsconfigV2_PolicyOrchestrator_IterationState"
        }
      },
      "description": "Describes the state of the orchestration process.",
      "id": "GoogleCloudOsconfigV2_PolicyOrchestrator_OrchestrationState",
      "type": "object"
    },
    "OSPolicyResourcePackageResourceYUM": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Package name.",
          "type": "string"
        }
      },
      "id": "OSPolicyResourcePackageResourceYUM",
      "description": "A package managed by YUM. - install: `yum -y install package` - remove: `yum -y remove package`"
    },
    "StatusProto": {
      "id": "StatusProto",
      "description": "Wire-format for a Status object",
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "description": "Numeric code drawn from the space specified below. Often, this is the canonical error space, and code is drawn from google3/util/task/codes.proto copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 code = 1;",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "Detail message copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional string message = 3;"
        },
        "space": {
          "type": "string",
          "description": "copybara:strip_begin(b/383363683) Space to which this status belongs copybara:strip_end_and_replace optional string space = 2; // Space to which this status belongs"
        },
        "messageSet": {
          "$ref": "MessageSet",
          "description": "message_set associates an arbitrary proto message with the status. copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional proto2.bridge.MessageSet message_set = 5;"
        },
        "canonicalCode": {
          "description": "copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 canonical_code = 6;",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadata": {
      "description": "OS policy assignment operation metadata provided by OS policy assignment API methods that return long running operations.",
      "properties": {
        "apiMethod": {
          "enumDescriptions": [
            "Invalid value",
            "Create OS policy assignment API method",
            "Update OS policy assignment API method",
            "Delete OS policy assignment API method"
          ],
          "type": "string",
          "enum": [
            "API_METHOD_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "description": "The OS policy assignment API method."
        },
        "rolloutStartTime": {
          "type": "string",
          "description": "Rollout start time",
          "format": "google-datetime"
        },
        "rolloutState": {
          "description": "State of the rollout",
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ],
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ],
          "type": "string"
        },
        "osPolicyAssignment": {
          "description": "Reference to the `OSPolicyAssignment` API resource. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`",
          "type": "string"
        },
        "rolloutUpdateTime": {
          "format": "google-datetime",
          "description": "Rollout update time",
          "type": "string"
        }
      },
      "id": "GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadata",
      "type": "object"
    },
    "OSPolicyResourcePackageResourceDeb": {
      "type": "object",
      "properties": {
        "pullDeps": {
          "description": "Whether dependencies should also be installed. - install when false: `dpkg -i package` - install when true: `apt-get update && apt-get -y install package.deb`",
          "type": "boolean"
        },
        "source": {
          "description": "Required. A deb package.",
          "$ref": "OSPolicyResourceFile"
        }
      },
      "description": "A deb package file. dpkg packages only support INSTALLED state.",
      "id": "OSPolicyResourcePackageResourceDeb"
    },
    "GoogleCloudOsconfigV2_OrchestrationScope_Selector": {
      "type": "object",
      "id": "GoogleCloudOsconfigV2_OrchestrationScope_Selector",
      "description": "Selector for the resources in scope of orchestration.",
      "properties": {
        "locationSelector": {
          "description": "Selector for selecting locations.",
          "$ref": "GoogleCloudOsconfigV2_OrchestrationScope_LocationSelector"
        },
        "resourceHierarchySelector": {
          "description": "Selector for selecting resource hierarchy.",
          "$ref": "GoogleCloudOsconfigV2_OrchestrationScope_ResourceHierarchySelector"
        }
      }
    },
    "GoogleCloudOsconfigV2__OrchestrationScope": {
      "properties": {
        "selectors": {
          "description": "Optional. Selectors of the orchestration scope. There is a logical AND between each selector defined. When there is no explicit `ResourceHierarchySelector` selector specified, the scope is by default bounded to the parent of the policy orchestrator resource.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudOsconfigV2_OrchestrationScope_Selector"
          }
        }
      },
      "id": "GoogleCloudOsconfigV2__OrchestrationScope",
      "type": "object",
      "description": "Defines a set of selectors which drive which resources are in scope of policy orchestration."
    },
    "MessageSet": {
      "type": "object",
      "description": "This is proto2's version of MessageSet. DEPRECATED: DO NOT USE FOR NEW FIELDS. If you are using editions or proto2, please make your own extendable messages for your use case. If you are using proto3, please use `Any` instead. MessageSet was the implementation of extensions for proto1. When proto2 was introduced, extensions were implemented as a first-class feature. This schema for MessageSet was meant to be a \"bridge\" solution to migrate MessageSet-bearing messages from proto1 to proto2. This schema has been open-sourced only to facilitate the migration of Google products with MessageSet-bearing messages to open-source environments.",
      "properties": {},
      "id": "MessageSet",
      "deprecated": true
    },
    "OSPolicyResourceExecResource": {
      "type": "object",
      "properties": {
        "enforce": {
          "description": "What to run to bring this resource into the desired state. An exit code of 100 indicates \"success\", any other exit code indicates a failure running enforce.",
          "$ref": "OSPolicyResourceExecResourceExec"
        },
        "validate": {
          "description": "Required. What to run to validate this resource is in the desired state. An exit code of 100 indicates \"in desired state\", and exit code of 101 indicates \"not in desired state\". Any other exit code indicates a failure running validate.",
          "$ref": "OSPolicyResourceExecResourceExec"
        }
      },
      "description": "A resource that allows executing scripts on the VM. The `ExecResource` has 2 stages: `validate` and `enforce` and both stages accept a script as an argument to execute. When the `ExecResource` is applied by the agent, it first executes the script in the `validate` stage. The `validate` stage can signal that the `ExecResource` is already in the desired state by returning an exit code of `100`. If the `ExecResource` is not in the desired state, it should return an exit code of `101`. Any other exit code returned by this stage is considered an error. If the `ExecResource` is not in the desired state based on the exit code from the `validate` stage, the agent proceeds to execute the script from the `enforce` stage. If the `ExecResource` is already in the desired state, the `enforce` stage will not be run. Similar to `validate` stage, the `enforce` stage should return an exit code of `100` to indicate that the resource in now in its desired state. Any other exit code is considered an error. NOTE: An exit code of `100` was chosen over `0` (and `101` vs `1`) to have an explicit indicator of `in desired state`, `not in desired state` and errors. Because, for example, Powershell will always return an exit code of `0` unless an `exit` statement is provided in the script. So, for reasons of consistency and being explicit, exit codes `100` and `101` were chosen.",
      "id": "OSPolicyResourceExecResource"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudOsconfigV2beta__OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudOsconfigV2beta__OperationMetadata"
    },
    "OSPolicyAssignmentRollout": {
      "id": "OSPolicyAssignmentRollout",
      "description": "Message to configure the rollout at the zonal level for the OS policy assignment.",
      "type": "object",
      "properties": {
        "disruptionBudget": {
          "description": "Required. The maximum number (or percentage) of VMs per zone to disrupt at any given moment.",
          "$ref": "FixedOrPercent"
        },
        "minWaitDuration": {
          "description": "Required. This determines the minimum duration of time to wait after the configuration changes are applied through the current rollout. A VM continues to count towards the `disruption_budget` at least until this duration of time has passed after configuration changes are applied.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "OSPolicyResourceRepositoryResourceGooRepository": {
      "properties": {
        "name": {
          "description": "Required. The name of the repository.",
          "type": "string"
        },
        "url": {
          "description": "Required. The url of the repository.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a Goo package repository. These are added to a repo file that is managed at `C:/ProgramData/GooGet/repos/google_osconfig.repo`.",
      "id": "OSPolicyResourceRepositoryResourceGooRepository"
    },
    "OSPolicyResourceRepositoryResourceAptRepository": {
      "id": "OSPolicyResourceRepositoryResourceAptRepository",
      "properties": {
        "distribution": {
          "description": "Required. Distribution of this repository.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Required. URI for this repository."
        },
        "archiveType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified is invalid.",
            "Deb indicates that the archive contains binary files.",
            "Deb-src indicates that the archive contains source files."
          ],
          "description": "Required. Type of archive files in this repository.",
          "enum": [
            "ARCHIVE_TYPE_UNSPECIFIED",
            "DEB",
            "DEB_SRC"
          ]
        },
        "components": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. List of components for this repository. Must contain at least one item."
        },
        "gpgKey": {
          "description": "URI of the key file for this repository. The agent maintains a keyring at `/etc/apt/trusted.gpg.d/osconfig_agent_managed.gpg`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a single apt package repository. These will be added to a repo file that will be managed at `/etc/apt/sources.list.d/google_osconfig.list`."
    },
    "GoogleCloudOsconfigV2__OperationMetadata": {
      "id": "GoogleCloudOsconfigV2__OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running."
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        }
      }
    },
    "OSPolicyAssignmentInstanceFilterInventory": {
      "id": "OSPolicyAssignmentInstanceFilterInventory",
      "properties": {
        "osVersion": {
          "description": "The OS version Prefix matches are supported if asterisk(*) is provided as the last character. For example, to match all versions with a major version of `7`, specify the following value for this field `7.*` An empty string matches all OS versions.",
          "type": "string"
        },
        "osShortName": {
          "description": "Required. The OS short name",
          "type": "string"
        }
      },
      "type": "object",
      "description": "VM inventory details."
    },
    "OSPolicyResourceRepositoryResourceYumRepository": {
      "properties": {
        "id": {
          "description": "Required. A one word, unique name for this repository. This is the `repo id` in the yum config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for resource conflicts.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the repository."
        },
        "baseUrl": {
          "type": "string",
          "description": "Required. The location of the repository directory."
        },
        "gpgKeys": {
          "type": "array",
          "description": "URIs of GPG keys.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Represents a single yum package repository. These are added to a repo file that is managed at `/etc/yum.repos.d/google_osconfig.repo`.",
      "id": "OSPolicyResourceRepositoryResourceYumRepository"
    },
    "OSPolicyAssignment": {
      "type": "object",
      "properties": {
        "deleted": {
          "type": "boolean",
          "description": "Output only. Indicates that this revision deletes the OS policy assignment.",
          "readOnly": true
        },
        "etag": {
          "description": "The etag for this OS policy assignment. If this is provided on update, it must match the server's etag.",
          "type": "string"
        },
        "revisionCreateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
[...]
