{
  "documentationLink": "https://cloud.google.com/compute/docs/oslogin/",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Cloud OS Login",
  "version_module": true,
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "name": "oslogin",
  "ownerDomain": "google.com",
  "revision": "20260830",
  "servicePath": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "signSshPublicKey": {
              "parameters": {
                "parent": {
                  "description": "Required. The parent for the signing request. Format: projects/{project}/locations/{location}",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Signs an SSH public key for a user to authenticate to a virtual machine on Google Compute Engine.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudOsloginControlplaneRegionalV1betaSignSshPublicKeyRequest"
              },
              "response": {
                "$ref": "GoogleCloudOsloginControlplaneRegionalV1betaSignSshPublicKeyResponse"
              },
              "path": "v1beta/{+parent}:signSshPublicKey",
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}:signSshPublicKey",
              "id": "oslogin.projects.locations.signSshPublicKey"
            }
          }
        }
      }
    },
    "users": {
      "methods": {
        "getLoginProfile": {
          "description": "Retrieves the profile information used for logging in to a virtual machine on Google Compute Engine.",
          "httpMethod": "GET",
          "parameters": {
            "projectId": {
              "description": "Required. The project ID of the Google Cloud Platform project.",
              "type": "string",
              "location": "query"
            },
            "systemId": {
              "location": "query",
              "type": "string",
              "description": "Optional. A system ID for filtering the results of the request."
            },
            "view": {
              "enum": [
                "LOGIN_PROFILE_VIEW_UNSPECIFIED",
                "BASIC",
                "SECURITY_KEY"
              ],
              "enumDescriptions": [
                "The default login profile view. The API defaults to the BASIC view.",
                "Includes POSIX and SSH key information.",
                "Include security key information for the user."
              ],
              "type": "string",
              "location": "query",
              "description": "The view configures whether to retrieve security keys information."
            },
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. The unique ID for the user in format `users/{user}`.",
              "pattern": "^users/[^/]+$",
              "type": "string"
            }
          },
          "path": "v1beta/{+name}/loginProfile",
          "id": "oslogin.users.getLoginProfile",
          "flatPath": "v1beta/users/{usersId}/loginProfile",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "response": {
            "$ref": "LoginProfile"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "importSshPublicKey": {
          "response": {
            "$ref": "ImportSshPublicKeyResponse"
          },
          "description": "Adds an SSH public key and returns the profile information. Default POSIX account information is set when no username and UID exist as part of the login profile.",
          "flatPath": "v1beta/users/{usersId}:importSshPublicKey",
          "request": {
            "$ref": "SshPublicKey"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "path": "v1beta/{+parent}:importSshPublicKey",
          "parameters": {
            "parent": {
              "pattern": "^users/[^/]+$",
              "type": "string",
              "description": "The unique ID for the user in format `users/{user}`.",
              "location": "path",
              "required": true
            },
            "regions": {
              "type": "string",
              "description": "Optional. The regions to which to assert that the key was written. If unspecified, defaults to all regions. Regions are listed at https://cloud.google.com/about/locations#region.",
              "location": "query",
              "repeated": true
            },
            "projectId": {
              "description": "The project ID of the Google Cloud Platform project.",
              "type": "string",
              "location": "query"
            },
            "view": {
              "location": "query",
              "enumDescriptions": [
                "The default login profile view. The API defaults to the BASIC view.",
                "Includes POSIX and SSH key information.",
                "Include security key information for the user."
              ],
              "description": "The view configures whether to retrieve security keys information.",
              "enum": [
                "LOGIN_PROFILE_VIEW_UNSPECIFIED",
                "BASIC",
                "SECURITY_KEY"
              ],
              "type": "string"
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "httpMethod": "POST",
          "id": "oslogin.users.importSshPublicKey"
        }
      },
      "resources": {
        "projects": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "description": "Deletes a POSIX account.",
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. A reference to the POSIX account to update. POSIX accounts are identified by the project ID they are associated with. A reference to the POSIX account is in format `users/{user}/projects/{project}`.",
                  "pattern": "^users/[^/]+/projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "id": "oslogin.users.projects.delete",
              "flatPath": "v1beta/users/{usersId}/projects/{projectsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ]
            },
            "provisionPosixAccount": {
              "flatPath": "v1beta/users/{usersId}/projects/{projectsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "PosixAccount"
              },
              "path": "v1beta/{+name}",
              "id": "oslogin.users.projects.provisionPosixAccount",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "request": {
                "$ref": "ProvisionPosixAccountRequest"
              },
              "description": "Create a POSIX account if it doesn't exist.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The unique ID for the user in format `users/{user}/projects/{project}`.",
                  "pattern": "^users/[^/]+/projects/[^/]+$"
                }
              },
              "httpMethod": "POST"
            }
          },
          "resources": {
            "zones": {
              "methods": {
                "signSshPublicKey": {
                  "request": {
                    "$ref": "SignSshPublicKeyRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "id": "oslogin.users.projects.zones.signSshPublicKey",
                  "path": "v1beta/{+parent}:signSshPublicKey",
                  "httpMethod": "POST",
                  "description": "Signs an SSH public key for a user to authenticate to an instance.",
                  "response": {
                    "$ref": "SignSshPublicKeyResponse"
                  },
                  "flatPath": "v1beta/users/{usersId}/projects/{projectsId}/zones/{zonesId}:signSshPublicKey",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent project and region for the signing request.",
                      "pattern": "^users/[^/]+/projects/[^/]+/zones/[^/]+$"
                    }
                  }
                }
              }
            },
            "locations": {
              "methods": {
                "signSshPublicKey": {
                  "parameters": {
                    "parent": {
                      "pattern": "^users/[^/]+/projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent project and region for the signing request.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/compute"
                  ],
                  "request": {
                    "$ref": "SignSshPublicKeyRequest"
                  },
                  "response": {
                    "$ref": "SignSshPublicKeyResponse"
                  },
                  "description": "Signs an SSH public key for a user to authenticate to an instance.",
                  "flatPath": "v1beta/users/{usersId}/projects/{projectsId}/locations/{locationsId}:signSshPublicKey",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "oslogin.users.projects.locations.signSshPublicKey",
                  "path": "v1beta/{+parent}:signSshPublicKey"
                }
              }
            }
          }
        },
        "sshPublicKeys": {
          "methods": {
            "create": {
              "request": {
                "$ref": "SshPublicKey"
              },
              "path": "v1beta/{+parent}/sshPublicKeys",
              "flatPath": "v1beta/users/{usersId}/sshPublicKeys",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "SshPublicKey"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The unique ID for the user in format `users/{user}`.",
                  "pattern": "^users/[^/]+$"
                }
              },
              "id": "oslogin.users.sshPublicKeys.create",
              "httpMethod": "POST",
              "description": "Create an SSH public key",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ]
            },
            "delete": {
              "parameters": {
                "name": {
                  "pattern": "^users/[^/]+/sshPublicKeys/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The fingerprint of the public key to update. Public keys are identified by their SHA-256 fingerprint. The fingerprint of the public key is in format `users/{user}/sshPublicKeys/{fingerprint}`."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "id": "oslogin.users.sshPublicKeys.delete",
              "description": "Deletes an SSH public key.",
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1beta/users/{usersId}/sshPublicKeys/{sshPublicKeysId}"
            },
            "get": {
              "id": "oslogin.users.sshPublicKeys.get",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^users/[^/]+/sshPublicKeys/[^/]+$",
                  "type": "string",
                  "description": "Required. The fingerprint of the public key to retrieve. Public keys are identified by their SHA-256 fingerprint. The fingerprint of the public key is in format `users/{user}/sshPublicKeys/{fingerprint}`.",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Retrieves an SSH public key.",
              "response": {
                "$ref": "SshPublicKey"
              },
              "flatPath": "v1beta/users/{usersId}/sshPublicKeys/{sshPublicKeysId}",
              "httpMethod": "GET"
            },
            "patch": {
              "description": "Updates an SSH public key and returns the profile information. This method supports patch semantics.",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Mask to control which fields get updated. Updates all if not present.",
                  "type": "string"
                },
                "name": {
                  "description": "Required. The fingerprint of the public key to update. Public keys are identified by their SHA-256 fingerprint. The fingerprint of the public key is in format `users/{user}/sshPublicKeys/{fingerprint}`.",
                  "pattern": "^users/[^/]+/sshPublicKeys/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/compute"
              ],
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/users/{usersId}/sshPublicKeys/{sshPublicKeysId}",
              "response": {
                "$ref": "SshPublicKey"
              },
              "path": "v1beta/{+name}",
              "id": "oslogin.users.sshPublicKeys.patch",
              "request": {
                "$ref": "SshPublicKey"
              }
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://oslogin.googleapis.com/",
  "version": "v1beta",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://oslogin.mtls.googleapis.com/",
  "id": "oslogin:v1beta",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/compute": {
          "description": "View and manage your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/compute.readonly": {
          "description": "View your Google Compute Engine resources"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "schemas": {
    "ImportSshPublicKeyResponse": {
      "id": "ImportSshPublicKeyResponse",
      "type": "object",
      "description": "A response message for importing an SSH public key.",
      "properties": {
        "loginProfile": {
          "description": "The login profile information for the user.",
          "$ref": "LoginProfile"
        },
        "details": {
          "type": "string",
          "description": "Detailed information about import results."
        }
      }
    },
    "SignSshPublicKeyRequest": {
      "id": "SignSshPublicKeyRequest",
      "properties": {
        "sshPublicKey": {
          "description": "Required. The SSH public key to sign.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "WebAuthn": {
      "id": "WebAuthn",
      "properties": {
        "rpId": {
          "type": "string",
          "description": "Relying party ID for Web Authentication."
        }
      },
      "description": "Security key information specific to the Web Authentication protocol.",
      "type": "object"
    },
    "ProvisionPosixAccountRequest": {
      "type": "object",
      "properties": {
        "regions": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The regions to wait for a POSIX account to be written to before returning a response. If unspecified, defaults to all regions. Regions are listed at https://cloud.google.com/about/locations#region.",
          "type": "array"
        }
      },
      "id": "ProvisionPosixAccountRequest",
      "description": "A request message for creating a POSIX account entry."
    },
    "PosixAccount": {
      "properties": {
        "primary": {
          "type": "boolean",
          "description": "Only one POSIX account can be marked as primary."
        },
        "gecos": {
          "description": "The GECOS (user information) entry for this account.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The canonical resource name.",
          "type": "string",
          "readOnly": true
        },
        "operatingSystemType": {
          "type": "string",
          "enum": [
            "OPERATING_SYSTEM_TYPE_UNSPECIFIED",
            "LINUX",
            "WINDOWS"
          ],
          "description": "The operating system type where this account applies.",
          "enumDescriptions": [
            "The operating system type associated with the user account information is unspecified.",
            "Linux user account information.",
            "Windows user account information."
          ]
        },
        "homeDirectory": {
          "type": "string",
          "description": "The path to the home directory for this account."
        },
        "uid": {
          "type": "string",
          "format": "int64",
          "description": "The user ID."
        },
        "accountId": {
          "type": "string",
          "description": "Output only. A POSIX account identifier.",
          "readOnly": true
        },
        "gid": {
          "description": "The default group ID.",
          "type": "string",
          "format": "int64"
        },
        "systemId": {
          "description": "System identifier for which account the username or uid applies to. By default, the empty value is used.",
          "type": "string"
        },
        "shell": {
          "description": "The path to the logic shell for this account.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "The username of the POSIX account."
        }
      },
      "id": "PosixAccount",
      "type": "object",
      "description": "The POSIX account information associated with a Google account."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "SignSshPublicKeyResponse": {
      "properties": {
        "signedSshPublicKey": {
          "description": "The signed SSH public key to use in the SSH handshake.",
          "type": "string"
        }
      },
      "id": "SignSshPublicKeyResponse",
      "type": "object"
    },
    "UniversalTwoFactor": {
      "properties": {
        "appId": {
          "description": "Application ID for the U2F protocol.",
          "type": "string"
        }
      },
      "id": "UniversalTwoFactor",
      "type": "object",
      "description": "Security key information specific to the U2F protocol."
    },
    "GoogleCloudOsloginControlplaneRegionalV1betaSignSshPublicKeyRequest": {
      "description": "A request message for signing an SSH public key.",
      "type": "object",
      "id": "GoogleCloudOsloginControlplaneRegionalV1betaSignSshPublicKeyRequest",
      "properties": {
        "serviceAccount": {
          "description": "Optional. The service account for the instance. If the instance in question does not have a service account, this field should be left empty. If the wrong service account is provided, this operation will return a signed certificate that will not be accepted by the VM.",
          "type": "string"
        },
        "cloudRunResource": {
          "type": "string",
          "description": "Optional. The Cloud Run resource to sign the SSH public key for. Expected formats: - `projects/{project}/locations/{location}/services/{service}` - `projects/{project}/locations/{location}/workerPools/{worker_pool}` - `projects/{project}/locations/{location}/jobs/{job}` - `projects/{project}/locations/{location}/instances/{instance}`"
        },
        "sshPublicKey": {
          "description": "Required. The SSH public key to sign.",
          "type": "string"
        },
        "appEngineInstance": {
          "type": "string",
          "description": "The App Engine instance to sign the SSH public key for. Expected format: apps/{app}/services/{service}/versions/{version}/instances/{instance}"
        },
        "computeInstance": {
          "description": "The Compute instance to sign the SSH public key for. Expected format: projects/{project}/zones/{zone}/instances/{numeric_instance_id}",
          "type": "string"
        }
      }
    },
    "SshPublicKey": {
      "description": "The SSH public key information associated with a Google account.",
      "properties": {
        "name": {
          "description": "Output only. The canonical resource name.",
          "type": "string",
          "readOnly": true
        },
        "key": {
          "type": "string",
          "description": "Required. Public key text in SSH format, defined by [RFC4253](https://www.ietf.org/rfc/rfc4253.txt) section 6.6."
        },
        "fingerprint": {
          "type": "string",
          "description": "Output only. The SHA-256 fingerprint of the SSH public key.",
          "readOnly": true
        },
        "expirationTimeUsec": {
          "description": "An expiration time in microseconds since epoch.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "SshPublicKey",
      "type": "object"
    },
    "LoginProfile": {
      "id": "LoginProfile",
      "properties": {
        "posixAccounts": {
          "type": "array",
          "items": {
            "$ref": "PosixAccount"
          },
          "description": "The list of POSIX accounts associated with the user."
        },
        "name": {
          "description": "Required. A unique user ID.",
          "type": "string"
        },
        "sshPublicKeys": {
          "description": "A map from SSH public key fingerprint to the associated key object.",
          "additionalProperties": {
            "$ref": "SshPublicKey"
          },
          "type": "object"
        },
        "securityKeys": {
          "type": "array",
          "items": {
            "$ref": "SecurityKey"
          },
          "description": "The registered security key credentials for a user."
        }
      },
      "type": "object",
      "description": "The user profile information used for logging in to a virtual machine on Google Compute Engine."
    },
    "GoogleCloudOsloginControlplaneRegionalV1betaSignSshPublicKeyResponse": {
      "id": "GoogleCloudOsloginControlplaneRegionalV1betaSignSshPublicKeyResponse",
      "description": "The response message for signing an SSH public key.",
      "properties": {
        "signedSshPublicKey": {
          "type": "string",
          "description": "The signed SSH public key to use in the SSH handshake."
        }
      },
      "type": "object"
    },
    "SecurityKey": {
      "type": "object",
      "description": "The credential information for a Google registered security key.",
      "properties": {
        "webAuthn": {
          "$ref": "WebAuthn",
          "description": "The Web Authentication protocol type."
        },
        "universalTwoFactor": {
          "description": "The U2F protocol type.",
          "$ref": "UniversalTwoFactor"
        },
        "deviceNickname": {
          "type": "string",
          "description": "The security key nickname explicitly set by the user."
        },
        "privateKey": {
          "type": "string",
          "description": "Hardware-backed private key text in SSH format."
        },
        "publicKey": {
          "type": "string",
          "description": "Public key text in SSH format, defined by [RFC4253](\"https://www.ietf.org/rfc/rfc4253.txt\") section 6.6."
        }
      },
      "id": "SecurityKey"
    }
  },
  "rootUrl": "https://oslogin.googleapis.com/",
  "protocol": "rest",
  "title": "Cloud OS Login API",
  "description": "You can use OS Login to manage access to your VM instances using IAM roles.",
  "basePath": ""
}