{
  "kind": "discovery#restDescription",
  "servicePath": "",
  "baseUrl": "https://pagespeedonline.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "id": "pagespeedonline:v5",
  "version_module": true,
  "discoveryVersion": "v1",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "basePath": "",
  "batchPath": "batch",
  "description": "The PageSpeed Insights API lets you analyze the performance of your website with a simple API. It offers tailored suggestions for how you can optimize your site, and lets you easily integrate PageSpeed Insights analysis into your development tools and workflow. ",
  "version": "v5",
  "resources": {
    "pagespeedapi": {
      "methods": {
        "runpagespeed": {
          "parameters": {
            "utm_campaign": {
              "location": "query",
              "type": "string",
              "description": "Campaign name for analytics."
            },
            "utm_source": {
              "description": "Campaign source for analytics.",
              "type": "string",
              "location": "query"
            },
            "strategy": {
              "location": "query",
              "enumDescriptions": [
                "UNDEFINED.",
                "Fetch and analyze the URL for desktop browsers.",
                "Fetch and analyze the URL for mobile devices."
              ],
              "enum": [
                "STRATEGY_UNSPECIFIED",
                "DESKTOP",
                "MOBILE"
              ],
              "description": "The analysis strategy (desktop or mobile) to use, and desktop is the default",
              "type": "string"
            },
            "captchaToken": {
              "type": "string",
              "location": "query",
              "description": "The captcha token passed when filling out a captcha."
            },
            "locale": {
              "type": "string",
              "pattern": "[a-zA-Z]+((_|-)[a-zA-Z]+)?",
              "description": "The locale used to localize formatted results",
              "location": "query"
            },
            "url": {
              "description": "Required. The URL to fetch and analyze",
              "type": "string",
              "pattern": "(?i)(url:|origin:)?http(s)?://.*",
              "location": "query",
              "required": true
            },
            "category": {
              "description": "A Lighthouse category to run; if none are given, only Performance category will be run",
              "location": "query",
              "repeated": true,
              "type": "string",
              "enumDescriptions": [
                "Default UNDEFINED category.",
                "Accessibility (a11y), category pertaining to a website's capacity to be accessible to all users.",
                "Best Practices, category pertaining to a website's conformance to web best practice.",
                "Performance, category pertaining to a website's performance.",
                "Progressive Web App (PWA), category pertaining to a website's ability to be run as a PWA. This is deprecated in Lighthouse's 12.0 release.",
                "Search Engine Optimization (SEO), category pertaining to a website's ability to be indexed by search engines.",
                "Agentic Browsing, category pertaining to a website's ability to be rendered by an agentic browsing system."
              ],
              "enum": [
                "CATEGORY_UNSPECIFIED",
                "ACCESSIBILITY",
                "BEST_PRACTICES",
                "PERFORMANCE",
                "PWA",
                "SEO",
                "AGENTIC_BROWSING"
              ],
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                true,
                false,
                false
              ]
            }
          },
          "path": "pagespeedonline/v5/runPagespeed",
          "description": "Runs PageSpeed analysis on the page at the specified URL, and returns PageSpeed scores, a list of suggestions to make that page faster, and other information.",
          "response": {
            "$ref": "PagespeedApiPagespeedResponseV5"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "url"
          ],
          "flatPath": "pagespeedonline/v5/runPagespeed",
          "id": "pagespeedonline.pagespeedapi.runpagespeed",
          "scopes": [
            "openid"
          ]
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "openid": {
          "description": "Associate you with your personal info on Google"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "rootUrl": "https://pagespeedonline.googleapis.com/",
  "canonicalName": "Pagespeed Insights",
  "mtlsRootUrl": "https://pagespeedonline.mtls.googleapis.com/",
  "title": "PageSpeed Insights API",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developers.google.com/speed/docs/insights/v5/about",
  "revision": "20260826",
  "schemas": {
    "PagespeedApiPagespeedResponseV5": {
      "type": "object",
      "description": "The Pagespeed API response object.",
      "properties": {
        "id": {
          "description": "Canonicalized and final URL for the document, after following page redirects (if any).",
          "type": "string"
        },
        "originLoadingExperience": {
          "description": "Metrics of the aggregated page loading experience of the origin",
          "$ref": "PagespeedApiLoadingExperienceV5"
        },
        "lighthouseResult": {
          "description": "Lighthouse response for the audit url as an object.",
          "$ref": "LighthouseResultV5"
        },
        "captchaResult": {
          "description": "The captcha verify result",
          "type": "string"
        },
        "version": {
          "description": "The version of PageSpeed used to generate these results.",
          "$ref": "PagespeedVersion"
        },
        "kind": {
          "description": "Kind of result.",
          "type": "string"
        },
        "loadingExperience": {
          "description": "Metrics of end users' page loading experience.",
          "$ref": "PagespeedApiLoadingExperienceV5"
        },
        "analysisUTCTimestamp": {
          "description": "The UTC timestamp of this analysis.",
          "type": "string"
        }
      },
      "id": "PagespeedApiPagespeedResponseV5"
    },
    "LighthouseAuditResultV5": {
      "type": "object",
      "id": "LighthouseAuditResultV5",
      "description": "An audit's result object in a Lighthouse result.",
      "properties": {
        "score": {
          "description": "The score of the audit, can be null.",
          "type": "any"
        },
        "warnings": {
          "description": "Possible warnings that occurred in the audit, can be null.",
          "type": "any"
        },
        "displayValue": {
          "description": "The value that should be displayed on the UI for this audit.",
          "type": "string"
        },
        "title": {
          "description": "The human readable title.",
          "type": "string"
        },
        "metricSavings": {
          "description": "The metric savings of the audit.",
          "$ref": "MetricSavings"
        },
        "numericUnit": {
          "description": "The unit of the numeric_value field. Used to format the numeric value for display.",
          "type": "string"
        },
        "id": {
          "description": "The audit's id.",
          "type": "string"
        },
        "errorMessage": {
          "type": "string",
          "description": "An error message from a thrown error inside the audit."
        },
        "explanation": {
          "type": "string",
          "description": "An explanation of the errors in the audit."
        },
        "scoreDisplayMode": {
          "description": "The enumerated score display mode.",
          "type": "string"
        },
        "numericValue": {
          "format": "double",
          "description": "A numeric value that has a meaning specific to the audit, e.g. the number of nodes in the DOM or the timestamp of a specific load event. More information can be found in the audit details, if present.",
          "type": "number"
        },
        "details": {
          "description": "Freeform details section of the audit.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "description": {
          "description": "The description of the audit.",
          "type": "string"
        }
      }
    },
    "AuditRefs": {
      "type": "object",
      "description": "A light reference to an audit by id, used to group and weight audits in a given category.",
      "properties": {
        "acronym": {
          "description": "The conventional acronym for the audit/metric.",
          "type": "string"
        },
        "id": {
          "description": "The audit ref id.",
          "type": "string"
        },
        "weight": {
          "description": "The weight this audit's score has on the overall category score.",
          "format": "double",
          "type": "number"
        },
        "group": {
          "type": "string",
          "description": "The category group that the audit belongs to (optional)."
        },
        "relevantAudits": {
          "description": "Any audit IDs closely relevant to this one.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "AuditRefs"
    },
    "LhrEntity": {
      "type": "object",
      "description": "Message containing an Entity.",
      "properties": {
        "isFirstParty": {
          "type": "boolean",
          "description": "Optional. An optional flag indicating if the entity is the first party."
        },
        "homepage": {
          "type": "string",
          "description": "Optional. An optional homepage URL of the entity."
        },
        "category": {
          "type": "string",
          "description": "Optional. An optional category name for the entity."
        },
        "name": {
          "description": "Required. Name of the entity.",
          "type": "string"
        },
        "origins": {
          "items": {
            "type": "string"
          },
          "description": "Required. A list of URL origin strings that belong to this entity.",
          "type": "array"
        },
        "isUnrecognized": {
          "description": "Optional. An optional flag indicating if the entity is not recognized.",
          "type": "boolean"
        }
      },
      "id": "LhrEntity"
    },
    "UserPageLoadMetricV5": {
      "id": "UserPageLoadMetricV5",
      "properties": {
        "metricId": {
          "description": "Identifies the type of the metric.",
          "type": "string"
        },
        "percentile": {
          "type": "integer",
          "format": "int32",
          "description": "We use this field to store certain percentile value for this metric. For v4, this field contains pc50. For v5, this field contains pc90."
        },
        "median": {
          "type": "integer",
          "description": "The median number of the metric, in millisecond.",
          "format": "int32"
        },
        "category": {
          "type": "string",
          "description": "The category of the specific time metric."
        },
        "formFactor": {
          "description": "Identifies the form factor of the metric being collected.",
          "type": "string"
        },
        "distributions": {
          "items": {
            "$ref": "Bucket"
          },
          "type": "array",
          "description": "Metric distributions. Proportions should sum up to 1."
        }
      },
      "type": "object",
      "description": "A CrUX metric object for a single metric and form factor."
    },
    "LighthouseResultV5": {
      "id": "LighthouseResultV5",
      "properties": {
        "fullPageScreenshot": {
          "type": "any",
          "description": "Screenshot data of the full page, along with node rects relevant to the audit results."
        },
        "configSettings": {
          "$ref": "ConfigSettings",
          "description": "The configuration settings for this LHR."
        },
        "finalDisplayedUrl": {
          "type": "string",
          "description": "URL displayed on the page after Lighthouse finishes."
        },
        "stackPacks": {
          "type": "array",
          "description": "The Stack Pack advice strings.",
          "items": {
            "$ref": "StackPack"
          }
        },
        "runtimeError": {
          "description": "A top-level error message that, if present, indicates a serious enough problem that this Lighthouse result may need to be discarded.",
          "$ref": "RuntimeError"
        },
        "timing": {
          "description": "Timing information for this LHR.",
          "$ref": "Timing"
        },
        "lighthouseVersion": {
          "type": "string",
          "description": "The lighthouse version that was used to generate this LHR."
        },
        "i18n": {
          "description": "The internationalization strings that are required to render the LHR.",
          "$ref": "I18n"
        },
        "requestedUrl": {
          "description": "The original requested url.",
          "type": "string"
        },
        "runWarnings": {
          "items": {
            "type": "any"
          },
          "description": "List of all run warnings in the LHR. Will always output to at least `[]`.",
          "type": "array"
        },
        "categories": {
          "description": "Map of categories in the LHR.",
          "$ref": "Categories"
        },
        "finalUrl": {
          "description": "The final resolved url that was audited.",
          "type": "string"
        },
        "mainDocumentUrl": {
          "description": "URL of the main document request of the final navigation.",
          "type": "string"
        },
        "audits": {
          "description": "Map of audits in the LHR.",
          "type": "object",
          "additionalProperties": {
            "$ref": "LighthouseAuditResultV5"
          }
        },
        "fetchTime": {
          "description": "The time that this run was fetched.",
          "type": "string"
        },
        "categoryGroups": {
          "additionalProperties": {
            "$ref": "CategoryGroupV5"
          },
          "type": "object",
          "description": "Map of category groups in the LHR."
        },
        "environment": {
          "description": "Environment settings that were used when making this LHR.",
          "$ref": "Environment"
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "LhrEntity"
          },
          "description": "Entity classification data."
        },
        "userAgent": {
          "description": "The user agent that was used to run this LHR.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The Lighthouse result object."
    },
    "Environment": {
      "properties": {
        "hostUserAgent": {
          "description": "The user agent string of the version of Chrome used.",
          "type": "string"
        },
        "networkUserAgent": {
          "description": "The user agent string that was sent over the network.",
          "type": "string"
        },
        "benchmarkIndex": {
          "format": "double",
          "type": "number",
          "description": "The benchmark index number that indicates rough device class."
        },
        "credits": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The version of libraries with which these results were generated. Ex: axe-core."
        }
      },
      "description": "Message containing environment configuration for a Lighthouse run.",
      "id": "Environment",
      "type": "object"
    },
    "RendererFormattedStrings": {
      "type": "object",
      "id": "RendererFormattedStrings",
      "description": "Message holding the formatted strings used in the renderer.",
      "properties": {
        "throttlingProvided": {
          "type": "string",
          "description": "Descriptive explanation for environment throttling that was provided by the runtime environment instead of provided by Lighthouse throttling."
        },
        "lsPerformanceCategoryDescription": {
          "type": "string",
          "description": "The disclaimer shown under performance explaining that the network can vary."
        },
        "dropdownCopyJSON": {
          "description": "Option in a dropdown menu that copies the Lighthouse JSON object to the system clipboard.",
          "type": "string"
        },
        "dropdownDarkTheme": {
          "description": "Option in a dropdown menu that toggles the themeing of the report between Light(default) and Dark themes.",
          "type": "string"
        },
        "dropdownPrintExpanded": {
          "type": "string",
          "description": "Option in a dropdown menu that opens a full Lighthouse report in a print dialog."
        },
        "warningHeader": {
          "description": "The label shown above a bulleted list of warnings.",
          "type": "string"
        },
        "runtimeSettingsTitle": {
          "type": "string",
          "description": "Title of the Runtime settings table in a Lighthouse report. Runtime settings are the environment configurations that a specific report used at auditing time."
        },
        "scorescaleLabel": {
          "type": "string",
          "description": "The label that explains the score gauges scale (0-49, 50-89, 90-100)."
        },
        "varianceDisclaimer": {
          "description": "The disclaimer shown below a performance metric value.",
          "type": "string"
        },
        "dropdownSaveGist": {
          "type": "string",
          "description": "Option in a dropdown menu that saves the current report as a new GitHub Gist."
        },
        "errorMissingAuditInfo": {
          "type": "string",
          "description": "The error string shown next to an erroring audit."
        },
        "thirdPartyResourcesLabel": {
          "type": "string",
          "description": "This label is for a filter checkbox above a table of items"
        },
        "runtimeSettingsBenchmark": {
          "description": "Label for a row in a table that shows the estimated CPU power of the machine running Lighthouse. Example row values: 532, 1492, 783.",
          "type": "string"
        },
        "toplevelWarningsMessage": {
          "type": "string",
          "description": "The label shown preceding important warnings that may have invalidated an entire report."
        },
        "passedAuditsGroupTitle": {
          "description": "The heading that is shown above a list of audits that are passing.",
          "type": "string"
        },
        "dropdownSaveJSON": {
          "description": "Option in a dropdown menu that saves the Lighthouse JSON object to the local system as a '.json' file.",
          "type": "string"
        },
        "runtimeUnknown": {
          "description": "Descriptive explanation for a runtime setting that is set to an unknown value.",
          "type": "string"
        },
        "runtimeSettingsUANetwork": {
          "type": "string",
          "description": "Label for a row in a table that shows the User Agent that was used to send out all network requests during the Lighthouse run."
        },
        "dropdownPrintSummary": {
          "type": "string",
          "description": "Option in a dropdown menu that opens a small, summary report in a print dialog."
        },
        "runtimeSettingsNetworkThrottling": {
          "type": "string",
          "description": "Label for a row in a table that describes the network throttling conditions that were used during a Lighthouse run, if any."
        },
        "runtimeMobileEmulation": {
          "description": "Descriptive explanation for emulation setting when emulating a Nexus 5X mobile device.",
          "type": "string"
        },
        "runtimeSettingsChannel": {
          "description": "Label for a row in a table that shows in what tool Lighthouse is being run (e.g. The lighthouse CLI, Chrome DevTools, Lightrider, WebPageTest, etc).",
          "type": "string"
        },
        "runtimeSettingsUrl": {
          "description": "Label for a row in a table that shows the URL that was audited during a Lighthouse run.",
          "type": "string"
        },
        "footerIssue": {
          "type": "string",
          "description": "Label for button to create an issue against the Lighthouse GitHub project."
        },
        "viewTreemapLabel": {
          "description": "Label for a button that opens the Treemap App",
          "type": "string"
        },
        "dropdownSaveHTML": {
          "type": "string",
          "description": "Option in a dropdown menu that saves the Lighthouse report HTML locally to the system as a '.html' file."
        },
        "runtimeSettingsDevice": {
          "description": "Label for a row in a table that describes the kind of device that was emulated for the Lighthouse run. Example values for row elements: 'No Emulation', 'Emulated Desktop', etc.",
          "type": "string"
        },
        "errorLabel": {
          "description": "The label shown next to an audit or metric that has had an error.",
          "type": "string"
        },
        "runtimeSettingsCPUThrottling": {
          "type": "string",
          "description": "Label for a row in a table that describes the CPU throttling conditions that were used during a Lighthouse run, if any."
        },
        "manualAuditsGroupTitle": {
          "type": "string",
          "description": "The heading shown above a list of audits that were not computerd in the run."
        },
        "warningAuditsGroupTitle": {
          "description": "The heading that is shown above a list of audits that have warnings",
          "type": "string"
        },
        "runtimeSettingsFetchTime": {
          "type": "string",
          "description": "Label for a row in a table that shows the time at which a Lighthouse run was conducted; formatted as a timestamp, e.g. Jan 1, 1970 12:00 AM UTC."
        },
        "dropdownViewer": {
          "type": "string",
          "description": "Option in a dropdown menu that opens the current report in the Lighthouse Viewer Application."
        },
        "runtimeDesktopEmulation": {
          "type": "string",
          "description": "Descriptive explanation for emulation setting when emulating a generic desktop form factor, as opposed to a mobile-device like form factor."
        },
        "notApplicableAuditsGroupTitle": {
          "description": "The heading shown above a list of audits that do not apply to a page.",
          "type": "string"
        },
        "calculatorLink": {
          "description": "Text link pointing to the Lighthouse scoring calculator. This link immediately follows a sentence stating the performance score is calculated from the perf metrics.",
          "type": "string"
        },
        "snippetExpandButtonLabel": {
          "type": "string",
          "description": "The label for the button to show all lines of a snippet"
        },
        "snippetCollapseButtonLabel": {
          "type": "string",
          "description": "The label for the button to show only a few lines of a snippet"
        },
        "opportunitySavingsColumnLabel": {
          "description": "The heading for the estimated page load savings of opportunity audits.",
          "type": "string"
        },
        "auditGroupExpandTooltip": {
          "type": "string",
          "description": "The tooltip text on an expandable chevron icon."
        },
        "crcInitialNavigation": {
          "description": "The label for the initial request in a critical request chain.",
          "type": "string"
        },
        "labDataTitle": {
          "description": "The title of the lab data performance category.",
          "type": "string"
        },
        "runtimeSettingsAxeVersion": {
          "description": "Label for a row in a table that shows the version of the Axe library used",
          "type": "string"
        },
        "showRelevantAudits": {
          "description": "Label preceding a radio control for filtering the list of audits. The radio choices are various performance metrics (FCP, LCP, TBT), and if chosen, the audits in the report are hidden if they are not relevant to the selected metric.",
          "type": "string"
        },
        "opportunityResourceColumnLabel": {
          "description": "The heading for the estimated page load savings opportunity of an audit.",
          "type": "string"
        },
        "runtimeSettingsUA": {
          "description": "Label for a row in a table that shows the User Agent that was detected on the Host machine that ran Lighthouse.",
          "type": "string"
        },
        "runtimeNoEmulation": {
          "description": "Descriptive explanation for emulation setting when no device emulation is set.",
          "type": "string"
        },
        "crcLongestDurationLabel": {
          "type": "string",
          "description": "The label for values shown in the summary of critical request chains."
        }
      }
    },
    "Bucket": {
      "description": "A proportion of data in the total distribution, bucketed by a min/max percentage. Each bucket's range is bounded by min <= x < max, In millisecond.",
      "type": "object",
      "properties": {
        "min": {
          "description": "Lower bound for a bucket's range.",
          "type": "integer",
          "format": "int32"
        },
        "proportion": {
          "type": "number",
          "description": "The proportion of data in this bucket.",
          "format": "double"
        },
        "max": {
          "description": "Upper bound for a bucket's range.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Bucket"
    },
    "MetricSavings": {
      "description": "The metric savings of the audit.",
      "id": "MetricSavings",
      "type": "object",
      "properties": {
        "CLS": {
          "description": "Optional. Optional numeric value representing the audit's savings for the CLS metric.",
          "type": "number",
          "format": "double"
        },
        "LCP": {
          "description": "Optional. Optional numeric value representing the audit's savings for the LCP metric.",
          "type": "number",
          "format": "double"
        },
        "INP": {
          "description": "Optional. Optional numeric value representing the audit's savings for the INP metric.",
          "type": "number",
          "format": "double"
        },
        "FCP": {
          "format": "double",
          "description": "Optional. Optional numeric value representing the audit's savings for the FCP metric.",
          "type": "number"
        },
        "TBT": {
          "format": "double",
          "description": "Optional. Optional numeric value representing the audit's savings for the TBT metric.",
          "type": "number"
        }
      }
    },
    "CategoryGroupV5": {
      "type": "object",
      "id": "CategoryGroupV5",
      "properties": {
        "title": {
          "description": "The human readable title of the group",
          "type": "string"
        },
        "description": {
          "description": "The description of what the category is grouping",
          "type": "string"
        }
      },
      "description": "Message containing a category"
    },
    "StackPack": {
      "type": "object",
      "description": "Message containing Stack Pack information.",
      "id": "StackPack",
      "properties": {
        "iconDataURL": {
          "type": "string",
          "description": "The stack pack icon data uri."
        },
        "title": {
          "description": "The stack pack title.",
          "type": "string"
        },
        "id": {
          "description": "The stack pack id.",
          "type": "string"
        },
        "descriptions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The stack pack advice strings."
        }
      }
    },
    "PagespeedVersion": {
      "description": "The Pagespeed Version object.",
      "properties": {
        "major": {
          "type": "string",
          "description": "The major version number of PageSpeed used to generate these results."
        },
        "minor": {
          "description": "The minor version number of PageSpeed used to generate these results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PagespeedVersion"
    },
    "Categories": {
      "type": "object",
      "id": "Categories",
      "description": "The categories in a Lighthouse run.",
      "properties": {
        "pwa": {
          "description": "The Progressive-Web-App (PWA) category, containing all pwa related audits. This is deprecated in Lighthouse's 12.0 release.",
          "$ref": "LighthouseCategoryV5",
          "deprecated": true
        },
        "performance": {
          "description": "The performance category, containing all performance related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "accessibility": {
          "description": "The accessibility category, containing all accessibility related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "agentic-browsing": {
          "description": "The agentic browsing category, containing all agentic browsing related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "best-practices": {
          "description": "The best practices category, containing all best practices related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "seo": {
          "description": "The Search-Engine-Optimization (SEO) category, containing all seo related audits.",
          "$ref": "LighthouseCategoryV5"
        }
      }
    },
    "Timing": {
      "id": "Timing",
      "description": "Message containing the performance timing data for the Lighthouse run.",
      "properties": {
        "total": {
          "description": "The total duration of Lighthouse's run.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object"
    },
    "ConfigSettings": {
      "description": "Message containing the configuration settings for the Lighthouse run.",
      "properties": {
        "channel": {
          "type": "string",
          "description": "How Lighthouse was run, e.g. from the Chrome extension or from the npm module."
        },
        "formFactor": {
          "description": "How Lighthouse should interpret this run in regards to scoring performance metrics and skipping mobile-only tests in desktop.",
          "type": "string"
        },
        "emulatedFormFactor": {
          "deprecated": true,
          "type": "string",
          "description": "The form factor the emulation should use. This field is deprecated, form_factor should be used instead."
        },
        "onlyCategories": {
          "description": "List of categories of audits the run should conduct.",
          "type": "any"
        },
        "locale": {
          "description": "The locale setting.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ConfigSettings"
    },
    "LighthouseCategoryV5": {
      "description": "A Lighthouse category.",
      "properties": {
        "title": {
          "description": "The human-friendly name of the category.",
          "type": "string"
        },
        "score": {
          "type": "any",
          "description": "The overall score of the category, the weighted average of all its audits. (The category's score, can be null.)"
        },
        "categoryScoreDisplayMode": {
          "enumDescriptions": [
            "Default UNDEFINED category.",
            "Display the score as a standard circular gauge (default)",
            "Display the score as a fraction, e.g. \"3/5\""
          ],
          "description": "Optional. How the category score should be displayed (e.g. as a fraction).",
          "enum": [
            "CATEGORY_SCORE_DISPLAY_MODE_UNSPECIFIED",
            "GAUGE",
            "FRACTION"
          ],
          "type": "string"
        },
        "auditRefs": {
          "type": "array",
          "items": {
            "$ref": "AuditRefs"
          },
          "description": "An array of references to all the audit members of this category."
        },
        "description": {
          "description": "A more detailed description of the category and its importance.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The string identifier of the category."
        },
        "manualDescription": {
          "type": "string",
          "description": "A description for the manual audits in the category."
        }
      },
      "type": "object",
      "id": "LighthouseCategoryV5"
    },
    "I18n": {
      "id": "I18n",
      "properties": {
        "rendererFormattedStrings": {
          "$ref": "RendererFormattedStrings",
          "description": "Internationalized strings that are formatted to the locale in configSettings."
        }
      },
      "type": "object",
      "description": "Message containing the i18n data for the LHR - Version 1."
    },
    "RuntimeError": {
      "type": "object",
      "id": "RuntimeError",
      "properties": {
        "code": {
          "description": "The enumerated Lighthouse Error code.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "A human readable message explaining the error code."
        }
      },
      "description": "Message containing a runtime error config."
    },
    "PagespeedApiLoadingExperienceV5": {
      "properties": {
        "initial_url": {
          "type": "string",
          "description": "The requested URL, which may differ from the resolved \"id\"."
        },
        "origin_fallback": {
          "description": "True if the result is an origin fallback from a page, false otherwise.",
          "type": "boolean"
        },
        "metrics": {
          "type": "object",
          "additionalProperties": {
            "$ref": "UserPageLoadMetricV5"
          },
          "description": "The map of ."
        },
        "overall_category": {
          "type": "string",
          "description": "The human readable speed \"category\" of the id."
        },
        "id": {
          "type": "string",
          "description": "The url, pattern or origin which the metrics are on."
        }
      },
      "description": "The CrUX loading experience object that contains CrUX data breakdowns.",
      "id": "PagespeedApiLoadingExperienceV5",
      "type": "object"
    }
  },
  "name": "pagespeedonline"
}