{
  "protocol": "rest",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "The PageSpeed Insights API lets you analyze the performance of your website with a simple API. It offers tailored suggestions for how you can optimize your site, and lets you easily integrate PageSpeed Insights analysis into your development tools and workflow. ",
  "version": "v5",
  "documentationLink": "https://developers.google.com/speed/docs/insights/v5/about",
  "basePath": "",
  "canonicalName": "Pagespeed Insights",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "openid": {
          "description": "Associate you with your personal info on Google"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "title": "PageSpeed Insights API",
  "rootUrl": "https://pagespeedonline.googleapis.com/",
  "schemas": {
    "Categories": {
      "id": "Categories",
      "description": "The categories in a Lighthouse run.",
      "type": "object",
      "properties": {
        "seo": {
          "$ref": "LighthouseCategoryV5",
          "description": "The Search-Engine-Optimization (SEO) category, containing all seo related audits."
        },
        "best-practices": {
          "description": "The best practices category, containing all best practices related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "pwa": {
          "deprecated": true,
          "$ref": "LighthouseCategoryV5",
          "description": "The Progressive-Web-App (PWA) category, containing all pwa related audits. This is deprecated in Lighthouse's 12.0 release."
        },
        "performance": {
          "description": "The performance category, containing all performance related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "accessibility": {
          "$ref": "LighthouseCategoryV5",
          "description": "The accessibility category, containing all accessibility related audits."
        },
        "agentic-browsing": {
          "description": "The agentic browsing category, containing all agentic browsing related audits.",
          "$ref": "LighthouseCategoryV5"
        }
      }
    },
    "LighthouseResultV5": {
      "type": "object",
      "id": "LighthouseResultV5",
      "description": "The Lighthouse result object.",
      "properties": {
        "i18n": {
          "description": "The internationalization strings that are required to render the LHR.",
          "$ref": "I18n"
        },
        "timing": {
          "description": "Timing information for this LHR.",
          "$ref": "Timing"
        },
        "runWarnings": {
          "items": {
            "type": "any"
          },
          "description": "List of all run warnings in the LHR. Will always output to at least `[]`.",
          "type": "array"
        },
        "requestedUrl": {
          "type": "string",
          "description": "The original requested url."
        },
        "fullPageScreenshot": {
          "type": "any",
          "description": "Screenshot data of the full page, along with node rects relevant to the audit results."
        },
        "userAgent": {
          "description": "The user agent that was used to run this LHR.",
          "type": "string"
        },
        "mainDocumentUrl": {
          "description": "URL of the main document request of the final navigation.",
          "type": "string"
        },
        "finalDisplayedUrl": {
          "description": "URL displayed on the page after Lighthouse finishes.",
          "type": "string"
        },
        "entities": {
          "items": {
            "$ref": "LhrEntity"
          },
          "type": "array",
          "description": "Entity classification data."
        },
        "configSettings": {
          "$ref": "ConfigSettings",
          "description": "The configuration settings for this LHR."
        },
        "audits": {
          "type": "object",
          "description": "Map of audits in the LHR.",
          "additionalProperties": {
            "$ref": "LighthouseAuditResultV5"
          }
        },
        "stackPacks": {
          "type": "array",
          "description": "The Stack Pack advice strings.",
          "items": {
            "$ref": "StackPack"
          }
        },
        "categories": {
          "$ref": "Categories",
          "description": "Map of categories in the LHR."
        },
        "finalUrl": {
          "description": "The final resolved url that was audited.",
          "type": "string"
        },
        "environment": {
          "$ref": "Environment",
          "description": "Environment settings that were used when making this LHR."
        },
        "lighthouseVersion": {
          "description": "The lighthouse version that was used to generate this LHR.",
          "type": "string"
        },
        "runtimeError": {
          "$ref": "RuntimeError",
          "description": "A top-level error message that, if present, indicates a serious enough problem that this Lighthouse result may need to be discarded."
        },
        "categoryGroups": {
          "type": "object",
          "description": "Map of category groups in the LHR.",
          "additionalProperties": {
            "$ref": "CategoryGroupV5"
          }
        },
        "fetchTime": {
          "type": "string",
          "description": "The time that this run was fetched."
        }
      }
    },
    "PagespeedApiLoadingExperienceV5": {
      "description": "The CrUX loading experience object that contains CrUX data breakdowns.",
      "properties": {
        "origin_fallback": {
          "description": "True if the result is an origin fallback from a page, false otherwise.",
          "type": "boolean"
        },
        "metrics": {
          "description": "The map of .",
          "type": "object",
          "additionalProperties": {
            "$ref": "UserPageLoadMetricV5"
          }
        },
        "overall_category": {
          "type": "string",
          "description": "The human readable speed \"category\" of the id."
        },
        "id": {
          "type": "string",
          "description": "The url, pattern or origin which the metrics are on."
        },
        "initial_url": {
          "description": "The requested URL, which may differ from the resolved \"id\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PagespeedApiLoadingExperienceV5"
    },
    "PagespeedVersion": {
      "description": "The Pagespeed Version object.",
      "id": "PagespeedVersion",
      "properties": {
        "major": {
          "type": "string",
          "description": "The major version number of PageSpeed used to generate these results."
        },
        "minor": {
          "description": "The minor version number of PageSpeed used to generate these results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Bucket": {
      "type": "object",
      "id": "Bucket",
      "description": "A proportion of data in the total distribution, bucketed by a min/max percentage. Each bucket's range is bounded by min <= x < max, In millisecond.",
      "properties": {
        "min": {
          "format": "int32",
          "description": "Lower bound for a bucket's range.",
          "type": "integer"
        },
        "proportion": {
          "description": "The proportion of data in this bucket.",
          "type": "number",
          "format": "double"
        },
        "max": {
          "type": "integer",
          "description": "Upper bound for a bucket's range.",
          "format": "int32"
        }
      }
    },
    "PagespeedApiPagespeedResponseV5": {
      "id": "PagespeedApiPagespeedResponseV5",
      "properties": {
        "kind": {
          "description": "Kind of result.",
          "type": "string"
        },
        "lighthouseResult": {
          "description": "Lighthouse response for the audit url as an object.",
          "$ref": "LighthouseResultV5"
        },
        "version": {
          "description": "The version of PageSpeed used to generate these results.",
          "$ref": "PagespeedVersion"
        },
        "id": {
          "description": "Canonicalized and final URL for the document, after following page redirects (if any).",
          "type": "string"
        },
        "captchaResult": {
          "type": "string",
          "description": "The captcha verify result"
        },
        "loadingExperience": {
          "$ref": "PagespeedApiLoadingExperienceV5",
          "description": "Metrics of end users' page loading experience."
        },
        "analysisUTCTimestamp": {
          "type": "string",
          "description": "The UTC timestamp of this analysis."
        },
        "originLoadingExperience": {
          "$ref": "PagespeedApiLoadingExperienceV5",
          "description": "Metrics of the aggregated page loading experience of the origin"
        }
      },
      "description": "The Pagespeed API response object.",
      "type": "object"
    },
    "ConfigSettings": {
      "properties": {
        "onlyCategories": {
          "type": "any",
          "description": "List of categories of audits the run should conduct."
        },
        "formFactor": {
          "type": "string",
          "description": "How Lighthouse should interpret this run in regards to scoring performance metrics and skipping mobile-only tests in desktop."
        },
        "locale": {
          "type": "string",
          "description": "The locale setting."
        },
        "channel": {
          "type": "string",
          "description": "How Lighthouse was run, e.g. from the Chrome extension or from the npm module."
        },
        "emulatedFormFactor": {
          "type": "string",
          "description": "The form factor the emulation should use. This field is deprecated, form_factor should be used instead.",
          "deprecated": true
        }
      },
      "type": "object",
      "description": "Message containing the configuration settings for the Lighthouse run.",
      "id": "ConfigSettings"
    },
    "AuditRefs": {
      "type": "object",
      "properties": {
        "relevantAudits": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Any audit IDs closely relevant to this one."
        },
        "acronym": {
          "type": "string",
          "description": "The conventional acronym for the audit/metric."
        },
        "group": {
          "description": "The category group that the audit belongs to (optional).",
          "type": "string"
        },
        "id": {
          "description": "The audit ref id.",
          "type": "string"
        },
        "weight": {
          "description": "The weight this audit's score has on the overall category score.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "AuditRefs",
      "description": "A light reference to an audit by id, used to group and weight audits in a given category."
    },
    "CategoryGroupV5": {
      "type": "object",
      "id": "CategoryGroupV5",
      "description": "Message containing a category",
      "properties": {
        "title": {
          "description": "The human readable title of the group",
          "type": "string"
        },
        "description": {
          "description": "The description of what the category is grouping",
          "type": "string"
        }
      }
    },
    "LhrEntity": {
      "type": "object",
      "description": "Message containing an Entity.",
      "id": "LhrEntity",
      "properties": {
        "category": {
          "type": "string",
          "description": "Optional. An optional category name for the entity."
        },
        "isUnrecognized": {
          "description": "Optional. An optional flag indicating if the entity is not recognized.",
          "type": "boolean"
        },
        "isFirstParty": {
          "type": "boolean",
          "description": "Optional. An optional flag indicating if the entity is the first party."
        },
        "origins": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. A list of URL origin strings that belong to this entity."
        },
        "name": {
          "description": "Required. Name of the entity.",
          "type": "string"
        },
        "homepage": {
          "type": "string",
          "description": "Optional. An optional homepage URL of the entity."
        }
      }
    },
    "LighthouseCategoryV5": {
      "description": "A Lighthouse category.",
      "properties": {
        "categoryScoreDisplayMode": {
          "type": "string",
          "description": "Optional. How the category score should be displayed (e.g. as a fraction).",
          "enum": [
            "CATEGORY_SCORE_DISPLAY_MODE_UNSPECIFIED",
            "GAUGE",
            "FRACTION"
          ],
          "enumDescriptions": [
            "Default UNDEFINED category.",
            "Display the score as a standard circular gauge (default)",
            "Display the score as a fraction, e.g. \"3/5\""
          ]
        },
        "manualDescription": {
          "description": "A description for the manual audits in the category.",
          "type": "string"
        },
        "score": {
          "description": "The overall score of the category, the weighted average of all its audits. (The category's score, can be null.)",
          "type": "any"
        },
        "description": {
          "description": "A more detailed description of the category and its importance.",
          "type": "string"
        },
        "id": {
          "description": "The string identifier of the category.",
          "type": "string"
        },
        "auditRefs": {
          "type": "array",
          "items": {
            "$ref": "AuditRefs"
          },
          "description": "An array of references to all the audit members of this category."
        },
        "title": {
          "type": "string",
          "description": "The human-friendly name of the category."
        }
      },
      "id": "LighthouseCategoryV5",
      "type": "object"
    },
    "StackPack": {
      "type": "object",
      "id": "StackPack",
      "description": "Message containing Stack Pack information.",
      "properties": {
        "iconDataURL": {
          "description": "The stack pack icon data uri.",
          "type": "string"
        },
        "id": {
          "description": "The stack pack id.",
          "type": "string"
        },
        "title": {
          "description": "The stack pack title.",
          "type": "string"
        },
        "descriptions": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The stack pack advice strings.",
          "type": "object"
        }
      }
    },
    "MetricSavings": {
      "id": "MetricSavings",
      "description": "The metric savings of the audit.",
      "properties": {
        "FCP": {
          "type": "number",
          "description": "Optional. Optional numeric value representing the audit's savings for the FCP metric.",
          "format": "double"
        },
        "TBT": {
          "description": "Optional. Optional numeric value representing the audit's savings for the TBT metric.",
          "format": "double",
          "type": "number"
        },
        "INP": {
          "description": "Optional. Optional numeric value representing the audit's savings for the INP metric.",
          "format": "double",
          "type": "number"
        },
        "LCP": {
          "type": "number",
          "format": "double",
          "description": "Optional. Optional numeric value representing the audit's savings for the LCP metric."
        },
        "CLS": {
          "format": "double",
          "description": "Optional. Optional numeric value representing the audit's savings for the CLS metric.",
          "type": "number"
        }
      },
      "type": "object"
    },
    "Timing": {
      "id": "Timing",
      "properties": {
        "total": {
          "format": "double",
          "description": "The total duration of Lighthouse's run.",
          "type": "number"
        }
      },
      "description": "Message containing the performance timing data for the Lighthouse run.",
      "type": "object"
    },
    "I18n": {
      "type": "object",
      "description": "Message containing the i18n data for the LHR - Version 1.",
      "id": "I18n",
      "properties": {
        "rendererFormattedStrings": {
          "$ref": "RendererFormattedStrings",
          "description": "Internationalized strings that are formatted to the locale in configSettings."
        }
      }
    },
    "UserPageLoadMetricV5": {
      "type": "object",
      "description": "A CrUX metric object for a single metric and form factor.",
      "id": "UserPageLoadMetricV5",
      "properties": {
        "formFactor": {
          "type": "string",
          "description": "Identifies the form factor of the metric being collected."
        },
        "percentile": {
          "type": "integer",
          "description": "We use this field to store certain percentile value for this metric. For v4, this field contains pc50. For v5, this field contains pc90.",
          "format": "int32"
        },
        "category": {
          "type": "string",
          "description": "The category of the specific time metric."
        },
        "distributions": {
          "type": "array",
          "description": "Metric distributions. Proportions should sum up to 1.",
          "items": {
            "$ref": "Bucket"
          }
        },
        "metricId": {
          "description": "Identifies the type of the metric.",
          "type": "string"
        },
        "median": {
          "format": "int32",
          "description": "The median number of the metric, in millisecond.",
          "type": "integer"
        }
      }
    },
    "Environment": {
      "type": "object",
      "description": "Message containing environment configuration for a Lighthouse run.",
      "id": "Environment",
      "properties": {
        "credits": {
          "type": "object",
          "description": "The version of libraries with which these results were generated. Ex: axe-core.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "networkUserAgent": {
          "description": "The user agent string that was sent over the network.",
          "type": "string"
        },
        "benchmarkIndex": {
          "type": "number",
          "description": "The benchmark index number that indicates rough device class.",
          "format": "double"
        },
        "hostUserAgent": {
          "description": "The user agent string of the version of Chrome used.",
          "type": "string"
        }
      }
    },
    "RendererFormattedStrings": {
      "type": "object",
      "id": "RendererFormattedStrings",
      "description": "Message holding the formatted strings used in the renderer.",
      "properties": {
        "runtimeSettingsCPUThrottling": {
          "type": "string",
          "description": "Label for a row in a table that describes the CPU throttling conditions that were used during a Lighthouse run, if any."
        },
        "runtimeMobileEmulation": {
          "type": "string",
          "description": "Descriptive explanation for emulation setting when emulating a Nexus 5X mobile device."
        },
        "runtimeSettingsAxeVersion": {
          "type": "string",
          "description": "Label for a row in a table that shows the version of the Axe library used"
        },
        "snippetCollapseButtonLabel": {
          "type": "string",
          "description": "The label for the button to show only a few lines of a snippet"
        },
        "runtimeUnknown": {
          "description": "Descriptive explanation for a runtime setting that is set to an unknown value.",
          "type": "string"
        },
        "dropdownSaveHTML": {
          "description": "Option in a dropdown menu that saves the Lighthouse report HTML locally to the system as a '.html' file.",
          "type": "string"
        },
        "snippetExpandButtonLabel": {
          "type": "string",
          "description": "The label for the button to show all lines of a snippet"
        },
        "dropdownCopyJSON": {
          "description": "Option in a dropdown menu that copies the Lighthouse JSON object to the system clipboard.",
          "type": "string"
        },
        "runtimeSettingsChannel": {
          "type": "string",
          "description": "Label for a row in a table that shows in what tool Lighthouse is being run (e.g. The lighthouse CLI, Chrome DevTools, Lightrider, WebPageTest, etc)."
        },
        "runtimeSettingsNetworkThrottling": {
          "description": "Label for a row in a table that describes the network throttling conditions that were used during a Lighthouse run, if any.",
          "type": "string"
        },
        "notApplicableAuditsGroupTitle": {
          "type": "string",
          "description": "The heading shown above a list of audits that do not apply to a page."
        },
        "runtimeSettingsTitle": {
          "type": "string",
          "description": "Title of the Runtime settings table in a Lighthouse report. Runtime settings are the environment configurations that a specific report used at auditing time."
        },
        "crcLongestDurationLabel": {
          "description": "The label for values shown in the summary of critical request chains.",
          "type": "string"
        },
        "footerIssue": {
          "description": "Label for button to create an issue against the Lighthouse GitHub project.",
          "type": "string"
        },
        "viewTreemapLabel": {
          "type": "string",
          "description": "Label for a button that opens the Treemap App"
        },
        "lsPerformanceCategoryDescription": {
          "description": "The disclaimer shown under performance explaining that the network can vary.",
          "type": "string"
        },
        "warningAuditsGroupTitle": {
          "description": "The heading that is shown above a list of audits that have warnings",
          "type": "string"
        },
        "varianceDisclaimer": {
          "type": "string",
          "description": "The disclaimer shown below a performance metric value."
        },
        "showRelevantAudits": {
          "description": "Label preceding a radio control for filtering the list of audits. The radio choices are various performance metrics (FCP, LCP, TBT), and if chosen, the audits in the report are hidden if they are not relevant to the selected metric.",
          "type": "string"
        },
        "errorLabel": {
          "type": "string",
          "description": "The label shown next to an audit or metric that has had an error."
        },
        "dropdownPrintExpanded": {
          "description": "Option in a dropdown menu that opens a full Lighthouse report in a print dialog.",
          "type": "string"
        },
        "manualAuditsGroupTitle": {
          "description": "The heading shown above a list of audits that were not computerd in the run.",
          "type": "string"
        },
        "throttlingProvided": {
          "type": "string",
          "description": "Descriptive explanation for environment throttling that was provided by the runtime environment instead of provided by Lighthouse throttling."
        },
        "runtimeSettingsFetchTime": {
          "description": "Label for a row in a table that shows the time at which a Lighthouse run was conducted; formatted as a timestamp, e.g. Jan 1, 1970 12:00 AM UTC.",
          "type": "string"
        },
        "opportunityResourceColumnLabel": {
          "description": "The heading for the estimated page load savings opportunity of an audit.",
          "type": "string"
        },
        "labDataTitle": {
          "type": "string",
          "description": "The title of the lab data performance category."
        },
        "dropdownViewer": {
          "description": "Option in a dropdown menu that opens the current report in the Lighthouse Viewer Application.",
          "type": "string"
        },
        "calculatorLink": {
          "description": "Text link pointing to the Lighthouse scoring calculator. This link immediately follows a sentence stating the performance score is calculated from the perf metrics.",
          "type": "string"
        },
        "errorMissingAuditInfo": {
          "type": "string",
          "description": "The error string shown next to an erroring audit."
        },
        "toplevelWarningsMessage": {
          "type": "string",
          "description": "The label shown preceding important warnings that may have invalidated an entire report."
        },
        "runtimeSettingsUA": {
          "type": "string",
          "description": "Label for a row in a table that shows the User Agent that was detected on the Host machine that ran Lighthouse."
        },
        "dropdownDarkTheme": {
          "description": "Option in a dropdown menu that toggles the themeing of the report between Light(default) and Dark themes.",
          "type": "string"
        },
        "runtimeNoEmulation": {
          "type": "string",
          "description": "Descriptive explanation for emulation setting when no device emulation is set."
        },
        "runtimeSettingsDevice": {
          "description": "Label for a row in a table that describes the kind of device that was emulated for the Lighthouse run. Example values for row elements: 'No Emulation', 'Emulated Desktop', etc.",
          "type": "string"
        },
        "dropdownSaveGist": {
          "type": "string",
          "description": "Option in a dropdown menu that saves the current report as a new GitHub Gist."
        },
        "dropdownSaveJSON": {
          "type": "string",
          "description": "Option in a dropdown menu that saves the Lighthouse JSON object to the local system as a '.json' file."
        },
        "scorescaleLabel": {
          "description": "The label that explains the score gauges scale (0-49, 50-89, 90-100).",
          "type": "string"
        },
        "crcInitialNavigation": {
          "type": "string",
          "description": "The label for the initial request in a critical request chain."
        },
        "runtimeSettingsUANetwork": {
          "description": "Label for a row in a table that shows the User Agent that was used to send out all network requests during the Lighthouse run.",
          "type": "string"
        },
        "opportunitySavingsColumnLabel": {
          "type": "string",
          "description": "The heading for the estimated page load savings of opportunity audits."
        },
        "runtimeSettingsUrl": {
          "type": "string",
          "description": "Label for a row in a table that shows the URL that was audited during a Lighthouse run."
        },
        "runtimeDesktopEmulation": {
          "description": "Descriptive explanation for emulation setting when emulating a generic desktop form factor, as opposed to a mobile-device like form factor.",
          "type": "string"
        },
        "thirdPartyResourcesLabel": {
          "description": "This label is for a filter checkbox above a table of items",
          "type": "string"
        },
        "passedAuditsGroupTitle": {
          "type": "string",
          "description": "The heading that is shown above a list of audits that are passing."
        },
        "auditGroupExpandTooltip": {
          "description": "The tooltip text on an expandable chevron icon.",
          "type": "string"
        },
        "warningHeader": {
          "type": "string",
          "description": "The label shown above a bulleted list of warnings."
        },
        "runtimeSettingsBenchmark": {
          "type": "string",
          "description": "Label for a row in a table that shows the estimated CPU power of the machine running Lighthouse. Example row values: 532, 1492, 783."
        },
        "dropdownPrintSummary": {
          "description": "Option in a dropdown menu that opens a small, summary report in a print dialog.",
          "type": "string"
        }
      }
    },
    "RuntimeError": {
      "type": "object",
      "properties": {
        "code": {
          "description": "The enumerated Lighthouse Error code.",
          "type": "string"
        },
        "message": {
          "description": "A human readable message explaining the error code.",
          "type": "string"
        }
      },
      "description": "Message containing a runtime error config.",
      "id": "RuntimeError"
    },
    "LighthouseAuditResultV5": {
      "type": "object",
      "id": "LighthouseAuditResultV5",
      "description": "An audit's result object in a Lighthouse result.",
      "properties": {
        "score": {
          "type": "any",
          "description": "The score of the audit, can be null."
        },
        "scoreDisplayMode": {
          "description": "The enumerated score display mode.",
          "type": "string"
        },
        "numericValue": {
          "description": "A numeric value that has a meaning specific to the audit, e.g. the number of nodes in the DOM or the timestamp of a specific load event. More information can be found in the audit details, if present.",
          "type": "number",
          "format": "double"
        },
        "metricSavings": {
          "description": "The metric savings of the audit.",
          "$ref": "MetricSavings"
        },
        "id": {
          "description": "The audit's id.",
          "type": "string"
        },
        "details": {
          "type": "object",
          "description": "Freeform details section of the audit.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "numericUnit": {
          "type": "string",
          "description": "The unit of the numeric_value field. Used to format the numeric value for display."
        },
        "displayValue": {
          "type": "string",
          "description": "The value that should be displayed on the UI for this audit."
        },
        "explanation": {
          "type": "string",
          "description": "An explanation of the errors in the audit."
        },
        "description": {
          "type": "string",
          "description": "The description of the audit."
        },
        "warnings": {
          "description": "Possible warnings that occurred in the audit, can be null.",
          "type": "any"
        },
        "errorMessage": {
          "type": "string",
          "description": "An error message from a thrown error inside the audit."
        },
        "title": {
          "description": "The human readable title.",
          "type": "string"
        }
      }
    }
  },
  "mtlsRootUrl": "https://pagespeedonline.mtls.googleapis.com/",
  "resources": {
    "pagespeedapi": {
      "methods": {
        "runpagespeed": {
          "description": "Runs PageSpeed analysis on the page at the specified URL, and returns PageSpeed scores, a list of suggestions to make that page faster, and other information.",
          "flatPath": "pagespeedonline/v5/runPagespeed",
          "response": {
            "$ref": "PagespeedApiPagespeedResponseV5"
          },
          "httpMethod": "GET",
          "scopes": [
            "openid"
          ],
          "parameterOrder": [
            "url"
          ],
          "parameters": {
            "utm_campaign": {
              "description": "Campaign name for analytics.",
              "type": "string",
              "location": "query"
            },
            "category": {
              "location": "query",
              "repeated": true,
              "description": "A Lighthouse category to run; if none are given, only Performance category will be run",
              "enum": [
                "CATEGORY_UNSPECIFIED",
                "ACCESSIBILITY",
                "BEST_PRACTICES",
                "PERFORMANCE",
                "PWA",
                "SEO",
                "AGENTIC_BROWSING"
              ],
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                true,
                false,
                false
              ],
              "enumDescriptions": [
                "Default UNDEFINED category.",
                "Accessibility (a11y), category pertaining to a website's capacity to be accessible to all users.",
                "Best Practices, category pertaining to a website's conformance to web best practice.",
                "Performance, category pertaining to a website's performance.",
                "Progressive Web App (PWA), category pertaining to a website's ability to be run as a PWA. This is deprecated in Lighthouse's 12.0 release.",
                "Search Engine Optimization (SEO), category pertaining to a website's ability to be indexed by search engines.",
                "Agentic Browsing, category pertaining to a website's ability to be rendered by an agentic browsing system."
              ],
              "type": "string"
            },
            "locale": {
              "location": "query",
              "pattern": "[a-zA-Z]+((_|-)[a-zA-Z]+)?",
              "description": "The locale used to localize formatted results",
              "type": "string"
            },
            "captchaToken": {
              "type": "string",
              "location": "query",
              "description": "The captcha token passed when filling out a captcha."
            },
            "url": {
              "description": "Required. The URL to fetch and analyze",
              "pattern": "(?i)(url:|origin:)?http(s)?://.*",
              "required": true,
              "type": "string",
              "location": "query"
            },
            "strategy": {
              "type": "string",
              "enumDescriptions": [
                "UNDEFINED.",
                "Fetch and analyze the URL for desktop browsers.",
                "Fetch and analyze the URL for mobile devices."
              ],
              "description": "The analysis strategy (desktop or mobile) to use, and desktop is the default",
              "location": "query",
              "enum": [
                "STRATEGY_UNSPECIFIED",
                "DESKTOP",
                "MOBILE"
              ]
            },
            "utm_source": {
              "type": "string",
              "description": "Campaign source for analytics.",
              "location": "query"
            }
          },
          "path": "pagespeedonline/v5/runPagespeed",
          "id": "pagespeedonline.pagespeedapi.runpagespeed"
        }
      }
    }
  },
  "id": "pagespeedonline:v5",
  "name": "pagespeedonline",
  "servicePath": "",
  "revision": "20260904",
  "baseUrl": "https://pagespeedonline.googleapis.com/",
  "version_module": true,
  "batchPath": "batch"
}