{
  "auth": {
    "oauth2": {
      "scopes": {
        "openid": {
          "description": "Associate you with your personal info on Google"
        }
      }
    }
  },
  "ownerName": "Google",
  "rootUrl": "https://pagespeedonline.googleapis.com/",
  "baseUrl": "https://pagespeedonline.googleapis.com/",
  "discoveryVersion": "v1",
  "id": "pagespeedonline:v5",
  "name": "pagespeedonline",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://pagespeedonline.mtls.googleapis.com/",
  "title": "PageSpeed Insights API",
  "schemas": {
    "LhrEntity": {
      "description": "Message containing an Entity.",
      "type": "object",
      "id": "LhrEntity",
      "properties": {
        "name": {
          "description": "Required. Name of the entity.",
          "type": "string"
        },
        "category": {
          "type": "string",
          "description": "Optional. An optional category name for the entity."
        },
        "homepage": {
          "type": "string",
          "description": "Optional. An optional homepage URL of the entity."
        },
        "isUnrecognized": {
          "description": "Optional. An optional flag indicating if the entity is not recognized.",
          "type": "boolean"
        },
        "isFirstParty": {
          "description": "Optional. An optional flag indicating if the entity is the first party.",
          "type": "boolean"
        },
        "origins": {
          "description": "Required. A list of URL origin strings that belong to this entity.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PagespeedApiLoadingExperienceV5": {
      "description": "The CrUX loading experience object that contains CrUX data breakdowns.",
      "id": "PagespeedApiLoadingExperienceV5",
      "properties": {
        "metrics": {
          "additionalProperties": {
            "$ref": "UserPageLoadMetricV5"
          },
          "description": "The map of .",
          "type": "object"
        },
        "overall_category": {
          "type": "string",
          "description": "The human readable speed \"category\" of the id."
        },
        "id": {
          "description": "The url, pattern or origin which the metrics are on.",
          "type": "string"
        },
        "origin_fallback": {
          "type": "boolean",
          "description": "True if the result is an origin fallback from a page, false otherwise."
        },
        "initial_url": {
          "description": "The requested URL, which may differ from the resolved \"id\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Bucket": {
      "properties": {
        "proportion": {
          "format": "double",
          "description": "The proportion of data in this bucket.",
          "type": "number"
        },
        "max": {
          "description": "Upper bound for a bucket's range.",
          "type": "integer",
          "format": "int32"
        },
        "min": {
          "description": "Lower bound for a bucket's range.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "Bucket",
      "description": "A proportion of data in the total distribution, bucketed by a min/max percentage. Each bucket's range is bounded by min <= x < max, In millisecond."
    },
    "I18n": {
      "description": "Message containing the i18n data for the LHR - Version 1.",
      "id": "I18n",
      "properties": {
        "rendererFormattedStrings": {
          "description": "Internationalized strings that are formatted to the locale in configSettings.",
          "$ref": "RendererFormattedStrings"
        }
      },
      "type": "object"
    },
    "LighthouseCategoryV5": {
      "id": "LighthouseCategoryV5",
      "description": "A Lighthouse category.",
      "properties": {
        "manualDescription": {
          "type": "string",
          "description": "A description for the manual audits in the category."
        },
        "description": {
          "type": "string",
          "description": "A more detailed description of the category and its importance."
        },
        "title": {
          "description": "The human-friendly name of the category.",
          "type": "string"
        },
        "score": {
          "description": "The overall score of the category, the weighted average of all its audits. (The category's score, can be null.)",
          "type": "any"
        },
        "auditRefs": {
          "description": "An array of references to all the audit members of this category.",
          "items": {
            "$ref": "AuditRefs"
          },
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "The string identifier of the category."
        },
        "categoryScoreDisplayMode": {
          "enum": [
            "CATEGORY_SCORE_DISPLAY_MODE_UNSPECIFIED",
            "GAUGE",
            "FRACTION"
          ],
          "type": "string",
          "description": "Optional. How the category score should be displayed (e.g. as a fraction).",
          "enumDescriptions": [
            "Default UNDEFINED category.",
            "Display the score as a standard circular gauge (default)",
            "Display the score as a fraction, e.g. \"3/5\""
          ]
        }
      },
      "type": "object"
    },
    "CategoryGroupV5": {
      "id": "CategoryGroupV5",
      "type": "object",
      "description": "Message containing a category",
      "properties": {
        "title": {
          "type": "string",
          "description": "The human readable title of the group"
        },
        "description": {
          "type": "string",
          "description": "The description of what the category is grouping"
        }
      }
    },
    "AuditRefs": {
      "description": "A light reference to an audit by id, used to group and weight audits in a given category.",
      "type": "object",
      "properties": {
        "weight": {
          "format": "double",
          "type": "number",
          "description": "The weight this audit's score has on the overall category score."
        },
        "relevantAudits": {
          "items": {
            "type": "string"
          },
          "description": "Any audit IDs closely relevant to this one.",
          "type": "array"
        },
        "id": {
          "description": "The audit ref id.",
          "type": "string"
        },
        "acronym": {
          "description": "The conventional acronym for the audit/metric.",
          "type": "string"
        },
        "group": {
          "description": "The category group that the audit belongs to (optional).",
          "type": "string"
        }
      },
      "id": "AuditRefs"
    },
    "RendererFormattedStrings": {
      "type": "object",
      "properties": {
        "snippetExpandButtonLabel": {
          "type": "string",
          "description": "The label for the button to show all lines of a snippet"
        },
        "crcLongestDurationLabel": {
          "description": "The label for values shown in the summary of critical request chains.",
          "type": "string"
        },
        "warningHeader": {
          "description": "The label shown above a bulleted list of warnings.",
          "type": "string"
        },
        "runtimeNoEmulation": {
          "description": "Descriptive explanation for emulation setting when no device emulation is set.",
          "type": "string"
        },
        "varianceDisclaimer": {
          "type": "string",
          "description": "The disclaimer shown below a performance metric value."
        },
        "auditGroupExpandTooltip": {
          "type": "string",
          "description": "The tooltip text on an expandable chevron icon."
        },
        "runtimeMobileEmulation": {
          "type": "string",
          "description": "Descriptive explanation for emulation setting when emulating a Nexus 5X mobile device."
        },
        "calculatorLink": {
          "description": "Text link pointing to the Lighthouse scoring calculator. This link immediately follows a sentence stating the performance score is calculated from the perf metrics.",
          "type": "string"
        },
        "showRelevantAudits": {
          "description": "Label preceding a radio control for filtering the list of audits. The radio choices are various performance metrics (FCP, LCP, TBT), and if chosen, the audits in the report are hidden if they are not relevant to the selected metric.",
          "type": "string"
        },
        "runtimeSettingsUA": {
          "type": "string",
          "description": "Label for a row in a table that shows the User Agent that was detected on the Host machine that ran Lighthouse."
        },
        "runtimeSettingsTitle": {
          "description": "Title of the Runtime settings table in a Lighthouse report. Runtime settings are the environment configurations that a specific report used at auditing time.",
          "type": "string"
        },
        "thirdPartyResourcesLabel": {
          "type": "string",
          "description": "This label is for a filter checkbox above a table of items"
        },
        "runtimeDesktopEmulation": {
          "description": "Descriptive explanation for emulation setting when emulating a generic desktop form factor, as opposed to a mobile-device like form factor.",
          "type": "string"
        },
        "runtimeSettingsBenchmark": {
          "type": "string",
          "description": "Label for a row in a table that shows the estimated CPU power of the machine running Lighthouse. Example row values: 532, 1492, 783."
        },
        "notApplicableAuditsGroupTitle": {
          "description": "The heading shown above a list of audits that do not apply to a page.",
          "type": "string"
        },
        "labDataTitle": {
          "type": "string",
          "description": "The title of the lab data performance category."
        },
        "passedAuditsGroupTitle": {
          "type": "string",
          "description": "The heading that is shown above a list of audits that are passing."
        },
        "runtimeSettingsUANetwork": {
          "description": "Label for a row in a table that shows the User Agent that was used to send out all network requests during the Lighthouse run.",
          "type": "string"
        },
        "dropdownPrintSummary": {
          "description": "Option in a dropdown menu that opens a small, summary report in a print dialog.",
          "type": "string"
        },
        "dropdownViewer": {
          "type": "string",
          "description": "Option in a dropdown menu that opens the current report in the Lighthouse Viewer Application."
        },
        "errorMissingAuditInfo": {
          "description": "The error string shown next to an erroring audit.",
          "type": "string"
        },
        "dropdownCopyJSON": {
          "description": "Option in a dropdown menu that copies the Lighthouse JSON object to the system clipboard.",
          "type": "string"
        },
        "toplevelWarningsMessage": {
          "type": "string",
          "description": "The label shown preceding important warnings that may have invalidated an entire report."
        },
        "runtimeSettingsCPUThrottling": {
          "type": "string",
          "description": "Label for a row in a table that describes the CPU throttling conditions that were used during a Lighthouse run, if any."
        },
        "lsPerformanceCategoryDescription": {
          "description": "The disclaimer shown under performance explaining that the network can vary.",
          "type": "string"
        },
        "viewTreemapLabel": {
          "type": "string",
          "description": "Label for a button that opens the Treemap App"
        },
        "throttlingProvided": {
          "description": "Descriptive explanation for environment throttling that was provided by the runtime environment instead of provided by Lighthouse throttling.",
          "type": "string"
        },
        "manualAuditsGroupTitle": {
          "type": "string",
          "description": "The heading shown above a list of audits that were not computerd in the run."
        },
        "dropdownSaveHTML": {
          "description": "Option in a dropdown menu that saves the Lighthouse report HTML locally to the system as a '.html' file.",
          "type": "string"
        },
        "runtimeSettingsNetworkThrottling": {
          "description": "Label for a row in a table that describes the network throttling conditions that were used during a Lighthouse run, if any.",
          "type": "string"
        },
        "dropdownSaveJSON": {
          "description": "Option in a dropdown menu that saves the Lighthouse JSON object to the local system as a '.json' file.",
          "type": "string"
        },
        "errorLabel": {
          "type": "string",
          "description": "The label shown next to an audit or metric that has had an error."
        },
        "dropdownDarkTheme": {
          "description": "Option in a dropdown menu that toggles the themeing of the report between Light(default) and Dark themes.",
          "type": "string"
        },
        "runtimeSettingsFetchTime": {
          "type": "string",
          "description": "Label for a row in a table that shows the time at which a Lighthouse run was conducted; formatted as a timestamp, e.g. Jan 1, 1970 12:00 AM UTC."
        },
        "dropdownPrintExpanded": {
          "type": "string",
          "description": "Option in a dropdown menu that opens a full Lighthouse report in a print dialog."
        },
        "crcInitialNavigation": {
          "description": "The label for the initial request in a critical request chain.",
          "type": "string"
        },
        "runtimeUnknown": {
          "description": "Descriptive explanation for a runtime setting that is set to an unknown value.",
          "type": "string"
        },
        "warningAuditsGroupTitle": {
          "description": "The heading that is shown above a list of audits that have warnings",
          "type": "string"
        },
        "runtimeSettingsChannel": {
          "description": "Label for a row in a table that shows in what tool Lighthouse is being run (e.g. The lighthouse CLI, Chrome DevTools, Lightrider, WebPageTest, etc).",
          "type": "string"
        },
        "opportunityResourceColumnLabel": {
          "description": "The heading for the estimated page load savings opportunity of an audit.",
          "type": "string"
        },
        "scorescaleLabel": {
          "description": "The label that explains the score gauges scale (0-49, 50-89, 90-100).",
          "type": "string"
        },
        "runtimeSettingsAxeVersion": {
          "type": "string",
          "description": "Label for a row in a table that shows the version of the Axe library used"
        },
        "runtimeSettingsDevice": {
          "type": "string",
          "description": "Label for a row in a table that describes the kind of device that was emulated for the Lighthouse run. Example values for row elements: 'No Emulation', 'Emulated Desktop', etc."
        },
        "snippetCollapseButtonLabel": {
          "description": "The label for the button to show only a few lines of a snippet",
          "type": "string"
        },
        "opportunitySavingsColumnLabel": {
          "description": "The heading for the estimated page load savings of opportunity audits.",
          "type": "string"
        },
        "runtimeSettingsUrl": {
          "description": "Label for a row in a table that shows the URL that was audited during a Lighthouse run.",
          "type": "string"
        },
        "footerIssue": {
          "description": "Label for button to create an issue against the Lighthouse GitHub project.",
          "type": "string"
        },
        "dropdownSaveGist": {
          "description": "Option in a dropdown menu that saves the current report as a new GitHub Gist.",
          "type": "string"
        }
      },
      "description": "Message holding the formatted strings used in the renderer.",
      "id": "RendererFormattedStrings"
    },
    "LighthouseResultV5": {
      "properties": {
        "requestedUrl": {
          "description": "The original requested url.",
          "type": "string"
        },
        "configSettings": {
          "description": "The configuration settings for this LHR.",
          "$ref": "ConfigSettings"
        },
        "timing": {
          "description": "Timing information for this LHR.",
          "$ref": "Timing"
        },
        "fullPageScreenshot": {
          "type": "any",
          "description": "Screenshot data of the full page, along with node rects relevant to the audit results."
        },
        "stackPacks": {
          "description": "The Stack Pack advice strings.",
          "items": {
            "$ref": "StackPack"
          },
          "type": "array"
        },
        "finalUrl": {
          "type": "string",
          "description": "The final resolved url that was audited."
        },
        "fetchTime": {
          "description": "The time that this run was fetched.",
          "type": "string"
        },
        "runtimeError": {
          "$ref": "RuntimeError",
          "description": "A top-level error message that, if present, indicates a serious enough problem that this Lighthouse result may need to be discarded."
        },
        "categoryGroups": {
          "description": "Map of category groups in the LHR.",
          "additionalProperties": {
            "$ref": "CategoryGroupV5"
          },
          "type": "object"
        },
        "lighthouseVersion": {
          "type": "string",
          "description": "The lighthouse version that was used to generate this LHR."
        },
        "runWarnings": {
          "items": {
            "type": "any"
          },
          "type": "array",
          "description": "List of all run warnings in the LHR. Will always output to at least `[]`."
        },
        "audits": {
          "description": "Map of audits in the LHR.",
          "additionalProperties": {
            "$ref": "LighthouseAuditResultV5"
          },
          "type": "object"
        },
        "finalDisplayedUrl": {
          "description": "URL displayed on the page after Lighthouse finishes.",
          "type": "string"
        },
        "environment": {
          "description": "Environment settings that were used when making this LHR.",
          "$ref": "Environment"
        },
        "categories": {
          "description": "Map of categories in the LHR.",
          "$ref": "Categories"
        },
        "entities": {
          "type": "array",
          "description": "Entity classification data.",
          "items": {
            "$ref": "LhrEntity"
          }
        },
        "mainDocumentUrl": {
          "type": "string",
          "description": "URL of the main document request of the final navigation."
        },
        "i18n": {
          "$ref": "I18n",
          "description": "The internationalization strings that are required to render the LHR."
        },
        "userAgent": {
          "type": "string",
          "description": "The user agent that was used to run this LHR."
        }
      },
      "id": "LighthouseResultV5",
      "type": "object",
      "description": "The Lighthouse result object."
    },
    "StackPack": {
      "properties": {
        "title": {
          "description": "The stack pack title.",
          "type": "string"
        },
        "id": {
          "description": "The stack pack id.",
          "type": "string"
        },
        "iconDataURL": {
          "type": "string",
          "description": "The stack pack icon data uri."
        },
        "descriptions": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The stack pack advice strings."
        }
      },
      "id": "StackPack",
      "type": "object",
      "description": "Message containing Stack Pack information."
    },
    "PagespeedVersion": {
      "properties": {
        "major": {
          "type": "string",
          "description": "The major version number of PageSpeed used to generate these results."
        },
        "minor": {
          "type": "string",
          "description": "The minor version number of PageSpeed used to generate these results."
        }
      },
      "type": "object",
      "id": "PagespeedVersion",
      "description": "The Pagespeed Version object."
    },
    "Environment": {
      "description": "Message containing environment configuration for a Lighthouse run.",
      "id": "Environment",
      "properties": {
        "benchmarkIndex": {
          "format": "double",
          "type": "number",
          "description": "The benchmark index number that indicates rough device class."
        },
        "networkUserAgent": {
          "description": "The user agent string that was sent over the network.",
          "type": "string"
        },
        "hostUserAgent": {
          "description": "The user agent string of the version of Chrome used.",
          "type": "string"
        },
        "credits": {
          "description": "The version of libraries with which these results were generated. Ex: axe-core.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ConfigSettings": {
      "id": "ConfigSettings",
      "description": "Message containing the configuration settings for the Lighthouse run.",
      "properties": {
        "channel": {
          "type": "string",
          "description": "How Lighthouse was run, e.g. from the Chrome extension or from the npm module."
        },
        "emulatedFormFactor": {
          "type": "string",
          "description": "The form factor the emulation should use. This field is deprecated, form_factor should be used instead.",
          "deprecated": true
        },
        "formFactor": {
          "description": "How Lighthouse should interpret this run in regards to scoring performance metrics and skipping mobile-only tests in desktop.",
          "type": "string"
        },
        "onlyCategories": {
          "description": "List of categories of audits the run should conduct.",
          "type": "any"
        },
        "locale": {
          "description": "The locale setting.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UserPageLoadMetricV5": {
      "description": "A CrUX metric object for a single metric and form factor.",
      "type": "object",
      "id": "UserPageLoadMetricV5",
      "properties": {
        "distributions": {
          "type": "array",
          "items": {
            "$ref": "Bucket"
          },
          "description": "Metric distributions. Proportions should sum up to 1."
        },
        "formFactor": {
          "description": "Identifies the form factor of the metric being collected.",
          "type": "string"
        },
        "percentile": {
          "description": "We use this field to store certain percentile value for this metric. For v4, this field contains pc50. For v5, this field contains pc90.",
          "format": "int32",
          "type": "integer"
        },
        "median": {
          "type": "integer",
          "format": "int32",
          "description": "The median number of the metric, in millisecond."
        },
        "metricId": {
          "description": "Identifies the type of the metric.",
          "type": "string"
        },
        "category": {
          "description": "The category of the specific time metric.",
          "type": "string"
        }
      }
    },
    "LighthouseAuditResultV5": {
      "properties": {
        "title": {
          "type": "string",
          "description": "The human readable title."
        },
        "score": {
          "type": "any",
          "description": "The score of the audit, can be null."
        },
        "numericValue": {
          "description": "A numeric value that has a meaning specific to the audit, e.g. the number of nodes in the DOM or the timestamp of a specific load event. More information can be found in the audit details, if present.",
          "type": "number",
          "format": "double"
        },
        "explanation": {
          "description": "An explanation of the errors in the audit.",
          "type": "string"
        },
        "displayValue": {
          "description": "The value that should be displayed on the UI for this audit.",
          "type": "string"
        },
        "scoreDisplayMode": {
          "description": "The enumerated score display mode.",
          "type": "string"
        },
        "errorMessage": {
          "description": "An error message from a thrown error inside the audit.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the audit."
        },
        "metricSavings": {
          "$ref": "MetricSavings",
          "description": "The metric savings of the audit."
        },
        "details": {
          "description": "Freeform details section of the audit.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "id": {
          "description": "The audit's id.",
          "type": "string"
        },
        "numericUnit": {
          "description": "The unit of the numeric_value field. Used to format the numeric value for display.",
          "type": "string"
        },
        "warnings": {
          "description": "Possible warnings that occurred in the audit, can be null.",
          "type": "any"
        }
      },
      "description": "An audit's result object in a Lighthouse result.",
      "type": "object",
      "id": "LighthouseAuditResultV5"
    },
    "Timing": {
      "properties": {
        "total": {
          "description": "The total duration of Lighthouse's run.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "id": "Timing",
      "description": "Message containing the performance timing data for the Lighthouse run."
    },
    "MetricSavings": {
      "id": "MetricSavings",
      "description": "The metric savings of the audit.",
      "properties": {
        "INP": {
          "type": "number",
          "format": "double",
          "description": "Optional. Optional numeric value representing the audit's savings for the INP metric."
        },
        "FCP": {
          "type": "number",
          "format": "double",
          "description": "Optional. Optional numeric value representing the audit's savings for the FCP metric."
        },
        "TBT": {
          "format": "double",
          "type": "number",
          "description": "Optional. Optional numeric value representing the audit's savings for the TBT metric."
        },
        "CLS": {
          "type": "number",
          "description": "Optional. Optional numeric value representing the audit's savings for the CLS metric.",
          "format": "double"
        },
        "LCP": {
          "format": "double",
          "type": "number",
          "description": "Optional. Optional numeric value representing the audit's savings for the LCP metric."
        }
      },
      "type": "object"
    },
    "PagespeedApiPagespeedResponseV5": {
      "description": "The Pagespeed API response object.",
      "type": "object",
      "properties": {
        "originLoadingExperience": {
          "$ref": "PagespeedApiLoadingExperienceV5",
          "description": "Metrics of the aggregated page loading experience of the origin"
        },
        "captchaResult": {
          "description": "The captcha verify result",
          "type": "string"
        },
        "loadingExperience": {
          "$ref": "PagespeedApiLoadingExperienceV5",
          "description": "Metrics of end users' page loading experience."
        },
        "lighthouseResult": {
          "$ref": "LighthouseResultV5",
          "description": "Lighthouse response for the audit url as an object."
        },
        "analysisUTCTimestamp": {
          "description": "The UTC timestamp of this analysis.",
          "type": "string"
        },
        "version": {
          "$ref": "PagespeedVersion",
          "description": "The version of PageSpeed used to generate these results."
        },
        "id": {
          "description": "Canonicalized and final URL for the document, after following page redirects (if any).",
          "type": "string"
        },
        "kind": {
          "description": "Kind of result.",
          "type": "string"
        }
      },
      "id": "PagespeedApiPagespeedResponseV5"
    },
    "RuntimeError": {
      "id": "RuntimeError",
      "description": "Message containing a runtime error config.",
      "type": "object",
      "properties": {
        "code": {
          "description": "The enumerated Lighthouse Error code.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "A human readable message explaining the error code."
        }
      }
    },
    "Categories": {
      "id": "Categories",
      "properties": {
        "pwa": {
          "description": "The Progressive-Web-App (PWA) category, containing all pwa related audits. This is deprecated in Lighthouse's 12.0 release.",
          "deprecated": true,
          "$ref": "LighthouseCategoryV5"
        },
        "accessibility": {
          "$ref": "LighthouseCategoryV5",
          "description": "The accessibility category, containing all accessibility related audits."
        },
        "best-practices": {
          "$ref": "LighthouseCategoryV5",
          "description": "The best practices category, containing all best practices related audits."
        },
        "seo": {
          "$ref": "LighthouseCategoryV5",
          "description": "The Search-Engine-Optimization (SEO) category, containing all seo related audits."
        },
        "performance": {
          "description": "The performance category, containing all performance related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "agentic-browsing": {
          "description": "The agentic browsing category, containing all agentic browsing related audits.",
          "$ref": "LighthouseCategoryV5"
        }
      },
      "type": "object",
      "description": "The categories in a Lighthouse run."
    }
  },
  "documentationLink": "https://developers.google.com/speed/docs/insights/v5/about",
  "ownerDomain": "google.com",
  "basePath": "",
  "version_module": true,
  "revision": "20260904",
  "version": "v5",
  "canonicalName": "Pagespeed Insights",
  "batchPath": "batch",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "description": "The PageSpeed Insights API lets you analyze the performance of your website with a simple API. It offers tailored suggestions for how you can optimize your site, and lets you easily integrate PageSpeed Insights analysis into your development tools and workflow. ",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "resources": {
    "pagespeedapi": {
      "methods": {
        "runpagespeed": {
          "flatPath": "pagespeedonline/v5/runPagespeed",
          "id": "pagespeedonline.pagespeedapi.runpagespeed",
          "httpMethod": "GET",
          "description": "Runs PageSpeed analysis on the page at the specified URL, and returns PageSpeed scores, a list of suggestions to make that page faster, and other information.",
          "response": {
            "$ref": "PagespeedApiPagespeedResponseV5"
          },
          "parameters": {
            "utm_source": {
              "description": "Campaign source for analytics.",
              "location": "query",
              "type": "string"
            },
            "captchaToken": {
              "description": "The captcha token passed when filling out a captcha.",
              "type": "string",
              "location": "query"
            },
            "utm_campaign": {
              "description": "Campaign name for analytics.",
              "type": "string",
              "location": "query"
            },
            "category": {
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                true,
                false,
                false
              ],
              "repeated": true,
              "description": "A Lighthouse category to run; if none are given, only Performance category will be run",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Default UNDEFINED category.",
                "Accessibility (a11y), category pertaining to a website's capacity to be accessible to all users.",
                "Best Practices, category pertaining to a website's conformance to web best practice.",
                "Performance, category pertaining to a website's performance.",
                "Progressive Web App (PWA), category pertaining to a website's ability to be run as a PWA. This is deprecated in Lighthouse's 12.0 release.",
                "Search Engine Optimization (SEO), category pertaining to a website's ability to be indexed by search engines.",
                "Agentic Browsing, category pertaining to a website's ability to be rendered by an agentic browsing system."
              ],
              "enum": [
                "CATEGORY_UNSPECIFIED",
                "ACCESSIBILITY",
                "BEST_PRACTICES",
                "PERFORMANCE",
                "PWA",
                "SEO",
                "AGENTIC_BROWSING"
              ]
            },
            "strategy": {
              "enum": [
                "STRATEGY_UNSPECIFIED",
                "DESKTOP",
                "MOBILE"
              ],
              "enumDescriptions": [
                "UNDEFINED.",
                "Fetch and analyze the URL for desktop browsers.",
                "Fetch and analyze the URL for mobile devices."
              ],
              "type": "string",
              "description": "The analysis strategy (desktop or mobile) to use, and desktop is the default",
              "location": "query"
            },
            "url": {
              "location": "query",
              "pattern": "(?i)(url:|origin:)?http(s)?://.*",
              "description": "Required. The URL to fetch and analyze",
              "type": "string",
              "required": true
            },
            "locale": {
              "description": "The locale used to localize formatted results",
              "location": "query",
              "pattern": "[a-zA-Z]+((_|-)[a-zA-Z]+)?",
              "type": "string"
            }
          },
          "scopes": [
            "openid"
          ],
          "parameterOrder": [
            "url"
          ],
          "path": "pagespeedonline/v5/runPagespeed"
        }
      }
    }
  },
  "kind": "discovery#restDescription"
}