{
  "baseUrl": "https://pagespeedonline.googleapis.com/",
  "documentationLink": "https://developers.google.com/speed/docs/insights/v5/about",
  "basePath": "",
  "ownerDomain": "google.com",
  "resources": {
    "pagespeedapi": {
      "methods": {
        "runpagespeed": {
          "path": "pagespeedonline/v5/runPagespeed",
          "parameterOrder": [
            "url"
          ],
          "description": "Runs PageSpeed analysis on the page at the specified URL, and returns PageSpeed scores, a list of suggestions to make that page faster, and other information.",
          "scopes": [
            "openid"
          ],
          "response": {
            "$ref": "PagespeedApiPagespeedResponseV5"
          },
          "httpMethod": "GET",
          "parameters": {
            "utm_source": {
              "type": "string",
              "description": "Campaign source for analytics.",
              "location": "query"
            },
            "locale": {
              "pattern": "[a-zA-Z]+((_|-)[a-zA-Z]+)?",
              "description": "The locale used to localize formatted results",
              "type": "string",
              "location": "query"
            },
            "category": {
              "type": "string",
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                true,
                false,
                false
              ],
              "location": "query",
              "repeated": true,
              "description": "A Lighthouse category to run; if none are given, only Performance category will be run",
              "enum": [
                "CATEGORY_UNSPECIFIED",
                "ACCESSIBILITY",
                "BEST_PRACTICES",
                "PERFORMANCE",
                "PWA",
                "SEO",
                "AGENTIC_BROWSING"
              ],
              "enumDescriptions": [
                "Default UNDEFINED category.",
                "Accessibility (a11y), category pertaining to a website's capacity to be accessible to all users.",
                "Best Practices, category pertaining to a website's conformance to web best practice.",
                "Performance, category pertaining to a website's performance.",
                "Progressive Web App (PWA), category pertaining to a website's ability to be run as a PWA. This is deprecated in Lighthouse's 12.0 release.",
                "Search Engine Optimization (SEO), category pertaining to a website's ability to be indexed by search engines.",
                "Agentic Browsing, category pertaining to a website's ability to be rendered by an agentic browsing system."
              ]
            },
            "url": {
              "location": "query",
              "type": "string",
              "pattern": "(?i)(url:|origin:)?http(s)?://.*",
              "required": true,
              "description": "Required. The URL to fetch and analyze"
            },
            "strategy": {
              "type": "string",
              "description": "The analysis strategy (desktop or mobile) to use, and desktop is the default",
              "enumDescriptions": [
                "UNDEFINED.",
                "Fetch and analyze the URL for desktop browsers.",
                "Fetch and analyze the URL for mobile devices."
              ],
              "location": "query",
              "enum": [
                "STRATEGY_UNSPECIFIED",
                "DESKTOP",
                "MOBILE"
              ]
            },
            "utm_campaign": {
              "type": "string",
              "description": "Campaign name for analytics.",
              "location": "query"
            },
            "captchaToken": {
              "description": "The captcha token passed when filling out a captcha.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "pagespeedonline.pagespeedapi.runpagespeed",
          "flatPath": "pagespeedonline/v5/runPagespeed"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "servicePath": "",
  "version_module": true,
  "description": "The PageSpeed Insights API lets you analyze the performance of your website with a simple API. It offers tailored suggestions for how you can optimize your site, and lets you easily integrate PageSpeed Insights analysis into your development tools and workflow. ",
  "mtlsRootUrl": "https://pagespeedonline.mtls.googleapis.com/",
  "revision": "20260904",
  "rootUrl": "https://pagespeedonline.googleapis.com/",
  "canonicalName": "Pagespeed Insights",
  "id": "pagespeedonline:v5",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "PageSpeed Insights API",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "version": "v5",
  "name": "pagespeedonline",
  "auth": {
    "oauth2": {
      "scopes": {
        "openid": {
          "description": "Associate you with your personal info on Google"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "schemas": {
    "RuntimeError": {
      "description": "Message containing a runtime error config.",
      "properties": {
        "code": {
          "description": "The enumerated Lighthouse Error code.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "A human readable message explaining the error code."
        }
      },
      "id": "RuntimeError",
      "type": "object"
    },
    "Bucket": {
      "description": "A proportion of data in the total distribution, bucketed by a min/max percentage. Each bucket's range is bounded by min <= x < max, In millisecond.",
      "properties": {
        "max": {
          "type": "integer",
          "description": "Upper bound for a bucket's range.",
          "format": "int32"
        },
        "min": {
          "format": "int32",
          "description": "Lower bound for a bucket's range.",
          "type": "integer"
        },
        "proportion": {
          "description": "The proportion of data in this bucket.",
          "format": "double",
          "type": "number"
        }
      },
      "type": "object",
      "id": "Bucket"
    },
    "UserPageLoadMetricV5": {
      "id": "UserPageLoadMetricV5",
      "properties": {
        "metricId": {
          "type": "string",
          "description": "Identifies the type of the metric."
        },
        "percentile": {
          "description": "We use this field to store certain percentile value for this metric. For v4, this field contains pc50. For v5, this field contains pc90.",
          "type": "integer",
          "format": "int32"
        },
        "median": {
          "description": "The median number of the metric, in millisecond.",
          "format": "int32",
          "type": "integer"
        },
        "formFactor": {
          "description": "Identifies the form factor of the metric being collected.",
          "type": "string"
        },
        "distributions": {
          "description": "Metric distributions. Proportions should sum up to 1.",
          "type": "array",
          "items": {
            "$ref": "Bucket"
          }
        },
        "category": {
          "description": "The category of the specific time metric.",
          "type": "string"
        }
      },
      "description": "A CrUX metric object for a single metric and form factor.",
      "type": "object"
    },
    "Categories": {
      "description": "The categories in a Lighthouse run.",
      "id": "Categories",
      "properties": {
        "agentic-browsing": {
          "description": "The agentic browsing category, containing all agentic browsing related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "pwa": {
          "deprecated": true,
          "description": "The Progressive-Web-App (PWA) category, containing all pwa related audits. This is deprecated in Lighthouse's 12.0 release.",
          "$ref": "LighthouseCategoryV5"
        },
        "accessibility": {
          "description": "The accessibility category, containing all accessibility related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "performance": {
          "$ref": "LighthouseCategoryV5",
          "description": "The performance category, containing all performance related audits."
        },
        "best-practices": {
          "$ref": "LighthouseCategoryV5",
          "description": "The best practices category, containing all best practices related audits."
        },
        "seo": {
          "description": "The Search-Engine-Optimization (SEO) category, containing all seo related audits.",
          "$ref": "LighthouseCategoryV5"
        }
      },
      "type": "object"
    },
    "PagespeedApiPagespeedResponseV5": {
      "description": "The Pagespeed API response object.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Canonicalized and final URL for the document, after following page redirects (if any)."
        },
        "originLoadingExperience": {
          "$ref": "PagespeedApiLoadingExperienceV5",
          "description": "Metrics of the aggregated page loading experience of the origin"
        },
        "kind": {
          "description": "Kind of result.",
          "type": "string"
        },
        "captchaResult": {
          "description": "The captcha verify result",
          "type": "string"
        },
        "analysisUTCTimestamp": {
          "type": "string",
          "description": "The UTC timestamp of this analysis."
        },
        "loadingExperience": {
          "description": "Metrics of end users' page loading experience.",
          "$ref": "PagespeedApiLoadingExperienceV5"
        },
        "lighthouseResult": {
          "$ref": "LighthouseResultV5",
          "description": "Lighthouse response for the audit url as an object."
        },
        "version": {
          "description": "The version of PageSpeed used to generate these results.",
          "$ref": "PagespeedVersion"
        }
      },
      "id": "PagespeedApiPagespeedResponseV5",
      "type": "object"
    },
    "LhrEntity": {
      "type": "object",
      "properties": {
        "origins": {
          "description": "Required. A list of URL origin strings that belong to this entity.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "isUnrecognized": {
          "type": "boolean",
          "description": "Optional. An optional flag indicating if the entity is not recognized."
        },
        "homepage": {
          "description": "Optional. An optional homepage URL of the entity.",
          "type": "string"
        },
        "isFirstParty": {
          "type": "boolean",
          "description": "Optional. An optional flag indicating if the entity is the first party."
        },
        "category": {
          "description": "Optional. An optional category name for the entity.",
          "type": "string"
        },
        "name": {
          "description": "Required. Name of the entity.",
          "type": "string"
        }
      },
      "description": "Message containing an Entity.",
      "id": "LhrEntity"
    },
    "LighthouseCategoryV5": {
      "type": "object",
      "id": "LighthouseCategoryV5",
      "description": "A Lighthouse category.",
      "properties": {
        "description": {
          "description": "A more detailed description of the category and its importance.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The human-friendly name of the category."
        },
        "score": {
          "description": "The overall score of the category, the weighted average of all its audits. (The category's score, can be null.)",
          "type": "any"
        },
        "id": {
          "type": "string",
          "description": "The string identifier of the category."
        },
        "auditRefs": {
          "description": "An array of references to all the audit members of this category.",
          "items": {
            "$ref": "AuditRefs"
          },
          "type": "array"
        },
        "manualDescription": {
          "type": "string",
          "description": "A description for the manual audits in the category."
        },
        "categoryScoreDisplayMode": {
          "type": "string",
          "description": "Optional. How the category score should be displayed (e.g. as a fraction).",
          "enumDescriptions": [
            "Default UNDEFINED category.",
            "Display the score as a standard circular gauge (default)",
            "Display the score as a fraction, e.g. \"3/5\""
          ],
          "enum": [
            "CATEGORY_SCORE_DISPLAY_MODE_UNSPECIFIED",
            "GAUGE",
            "FRACTION"
          ]
        }
      }
    },
    "Timing": {
      "id": "Timing",
      "type": "object",
      "description": "Message containing the performance timing data for the Lighthouse run.",
      "properties": {
        "total": {
          "type": "number",
          "description": "The total duration of Lighthouse's run.",
          "format": "double"
        }
      }
    },
    "MetricSavings": {
      "properties": {
        "TBT": {
          "description": "Optional. Optional numeric value representing the audit's savings for the TBT metric.",
          "format": "double",
          "type": "number"
        },
        "FCP": {
          "description": "Optional. Optional numeric value representing the audit's savings for the FCP metric.",
          "type": "number",
          "format": "double"
        },
        "CLS": {
          "description": "Optional. Optional numeric value representing the audit's savings for the CLS metric.",
          "format": "double",
          "type": "number"
        },
        "INP": {
          "type": "number",
          "description": "Optional. Optional numeric value representing the audit's savings for the INP metric.",
          "format": "double"
        },
        "LCP": {
          "format": "double",
          "description": "Optional. Optional numeric value representing the audit's savings for the LCP metric.",
          "type": "number"
        }
      },
      "type": "object",
      "description": "The metric savings of the audit.",
      "id": "MetricSavings"
    },
    "Environment": {
      "properties": {
        "benchmarkIndex": {
          "type": "number",
          "description": "The benchmark index number that indicates rough device class.",
          "format": "double"
        },
        "credits": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The version of libraries with which these results were generated. Ex: axe-core.",
          "type": "object"
        },
        "hostUserAgent": {
          "type": "string",
          "description": "The user agent string of the version of Chrome used."
        },
        "networkUserAgent": {
          "type": "string",
          "description": "The user agent string that was sent over the network."
        }
      },
      "description": "Message containing environment configuration for a Lighthouse run.",
      "id": "Environment",
      "type": "object"
    },
    "AuditRefs": {
      "id": "AuditRefs",
      "properties": {
        "relevantAudits": {
          "items": {
            "type": "string"
          },
          "description": "Any audit IDs closely relevant to this one.",
          "type": "array"
        },
        "group": {
          "type": "string",
          "description": "The category group that the audit belongs to (optional)."
        },
        "weight": {
          "type": "number",
          "description": "The weight this audit's score has on the overall category score.",
          "format": "double"
        },
        "acronym": {
          "description": "The conventional acronym for the audit/metric.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The audit ref id."
        }
      },
      "type": "object",
      "description": "A light reference to an audit by id, used to group and weight audits in a given category."
    },
    "CategoryGroupV5": {
      "type": "object",
      "description": "Message containing a category",
      "id": "CategoryGroupV5",
      "properties": {
        "title": {
          "type": "string",
          "description": "The human readable title of the group"
        },
        "description": {
          "description": "The description of what the category is grouping",
          "type": "string"
        }
      }
    },
    "PagespeedVersion": {
      "properties": {
        "major": {
          "type": "string",
          "description": "The major version number of PageSpeed used to generate these results."
        },
        "minor": {
          "description": "The minor version number of PageSpeed used to generate these results.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The Pagespeed Version object.",
      "id": "PagespeedVersion"
    },
    "PagespeedApiLoadingExperienceV5": {
      "id": "PagespeedApiLoadingExperienceV5",
      "type": "object",
      "description": "The CrUX loading experience object that contains CrUX data breakdowns.",
      "properties": {
        "id": {
          "description": "The url, pattern or origin which the metrics are on.",
          "type": "string"
        },
        "origin_fallback": {
          "type": "boolean",
          "description": "True if the result is an origin fallback from a page, false otherwise."
        },
        "initial_url": {
          "description": "The requested URL, which may differ from the resolved \"id\".",
          "type": "string"
        },
        "overall_category": {
          "description": "The human readable speed \"category\" of the id.",
          "type": "string"
        },
        "metrics": {
          "type": "object",
          "additionalProperties": {
            "$ref": "UserPageLoadMetricV5"
          },
          "description": "The map of ."
        }
      }
    },
    "LighthouseAuditResultV5": {
      "type": "object",
      "properties": {
        "explanation": {
          "type": "string",
          "description": "An explanation of the errors in the audit."
        },
        "scoreDisplayMode": {
          "type": "string",
          "description": "The enumerated score display mode."
        },
        "metricSavings": {
          "$ref": "MetricSavings",
          "description": "The metric savings of the audit."
        },
        "displayValue": {
          "description": "The value that should be displayed on the UI for this audit.",
          "type": "string"
        },
        "title": {
          "description": "The human readable title.",
          "type": "string"
        },
        "score": {
          "type": "any",
          "description": "The score of the audit, can be null."
        },
        "description": {
          "type": "string",
          "description": "The description of the audit."
        },
        "warnings": {
          "type": "any",
          "description": "Possible warnings that occurred in the audit, can be null."
        },
        "details": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Freeform details section of the audit.",
          "type": "object"
        },
        "numericValue": {
          "format": "double",
          "description": "A numeric value that has a meaning specific to the audit, e.g. the number of nodes in the DOM or the timestamp of a specific load event. More information can be found in the audit details, if present.",
          "type": "number"
        },
        "numericUnit": {
          "type": "string",
          "description": "The unit of the numeric_value field. Used to format the numeric value for display."
        },
        "id": {
          "description": "The audit's id.",
          "type": "string"
        },
        "errorMessage": {
          "type": "string",
          "description": "An error message from a thrown error inside the audit."
        }
      },
      "id": "LighthouseAuditResultV5",
      "description": "An audit's result object in a Lighthouse result."
    },
    "LighthouseResultV5": {
      "description": "The Lighthouse result object.",
      "properties": {
        "categoryGroups": {
          "description": "Map of category groups in the LHR.",
          "additionalProperties": {
            "$ref": "CategoryGroupV5"
          },
          "type": "object"
        },
        "lighthouseVersion": {
          "description": "The lighthouse version that was used to generate this LHR.",
          "type": "string"
        },
        "mainDocumentUrl": {
          "type": "string",
          "description": "URL of the main document request of the final navigation."
        },
        "finalDisplayedUrl": {
          "description": "URL displayed on the page after Lighthouse finishes.",
          "type": "string"
        },
        "fullPageScreenshot": {
          "description": "Screenshot data of the full page, along with node rects relevant to the audit results.",
          "type": "any"
        },
        "runWarnings": {
          "type": "array",
          "description": "List of all run warnings in the LHR. Will always output to at least `[]`.",
          "items": {
            "type": "any"
          }
        },
        "timing": {
          "description": "Timing information for this LHR.",
          "$ref": "Timing"
        },
        "categories": {
          "$ref": "Categories",
          "description": "Map of categories in the LHR."
        },
        "entities": {
          "items": {
            "$ref": "LhrEntity"
          },
          "type": "array",
          "description": "Entity classification data."
        },
        "runtimeError": {
          "$ref": "RuntimeError",
          "description": "A top-level error message that, if present, indicates a serious enough problem that this Lighthouse result may need to be discarded."
        },
        "i18n": {
          "description": "The internationalization strings that are required to render the LHR.",
          "$ref": "I18n"
        },
        "fetchTime": {
          "type": "string",
          "description": "The time that this run was fetched."
        },
        "audits": {
          "type": "object",
          "additionalProperties": {
            "$ref": "LighthouseAuditResultV5"
          },
          "description": "Map of audits in the LHR."
        },
        "configSettings": {
          "description": "The configuration settings for this LHR.",
          "$ref": "ConfigSettings"
        },
        "finalUrl": {
          "description": "The final resolved url that was audited.",
          "type": "string"
        },
        "requestedUrl": {
          "description": "The original requested url.",
          "type": "string"
        },
        "environment": {
          "description": "Environment settings that were used when making this LHR.",
          "$ref": "Environment"
        },
        "stackPacks": {
          "items": {
            "$ref": "StackPack"
          },
          "description": "The Stack Pack advice strings.",
          "type": "array"
        },
        "userAgent": {
          "type": "string",
          "description": "The user agent that was used to run this LHR."
        }
      },
      "id": "LighthouseResultV5",
      "type": "object"
    },
    "I18n": {
      "id": "I18n",
      "properties": {
        "rendererFormattedStrings": {
          "description": "Internationalized strings that are formatted to the locale in configSettings.",
          "$ref": "RendererFormattedStrings"
        }
      },
      "type": "object",
      "description": "Message containing the i18n data for the LHR - Version 1."
    },
    "StackPack": {
      "description": "Message containing Stack Pack information.",
      "properties": {
        "title": {
          "description": "The stack pack title.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The stack pack id."
        },
        "descriptions": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The stack pack advice strings."
        },
        "iconDataURL": {
          "description": "The stack pack icon data uri.",
          "type": "string"
        }
      },
      "id": "StackPack",
      "type": "object"
    },
    "ConfigSettings": {
      "properties": {
        "emulatedFormFactor": {
          "deprecated": true,
          "type": "string",
          "description": "The form factor the emulation should use. This field is deprecated, form_factor should be used instead."
        },
        "onlyCategories": {
          "description": "List of categories of audits the run should conduct.",
          "type": "any"
        },
        "channel": {
          "type": "string",
          "description": "How Lighthouse was run, e.g. from the Chrome extension or from the npm module."
        },
        "locale": {
          "description": "The locale setting.",
          "type": "string"
        },
        "formFactor": {
          "description": "How Lighthouse should interpret this run in regards to scoring performance metrics and skipping mobile-only tests in desktop.",
          "type": "string"
        }
      },
      "id": "ConfigSettings",
      "description": "Message containing the configuration settings for the Lighthouse run.",
      "type": "object"
    },
    "RendererFormattedStrings": {
      "id": "RendererFormattedStrings",
      "description": "Message holding the formatted strings used in the renderer.",
      "type": "object",
      "properties": {
        "dropdownSaveHTML": {
          "description": "Option in a dropdown menu that saves the Lighthouse report HTML locally to the system as a '.html' file.",
          "type": "string"
        },
        "dropdownPrintExpanded": {
          "type": "string",
          "description": "Option in a dropdown menu that opens a full Lighthouse report in a print dialog."
        },
        "crcLongestDurationLabel": {
          "description": "The label for values shown in the summary of critical request chains.",
          "type": "string"
        },
        "throttlingProvided": {
          "type": "string",
          "description": "Descriptive explanation for environment throttling that was provided by the runtime environment instead of provided by Lighthouse throttling."
        },
        "errorMissingAuditInfo": {
          "type": "string",
          "description": "The error string shown next to an erroring audit."
        },
        "footerIssue": {
          "type": "string",
          "description": "Label for button to create an issue against the Lighthouse GitHub project."
        },
        "runtimeDesktopEmulation": {
          "description": "Descriptive explanation for emulation setting when emulating a generic desktop form factor, as opposed to a mobile-device like form factor.",
          "type": "string"
        },
        "dropdownSaveGist": {
          "description": "Option in a dropdown menu that saves the current report as a new GitHub Gist.",
          "type": "string"
        },
        "dropdownSaveJSON": {
          "description": "Option in a dropdown menu that saves the Lighthouse JSON object to the local system as a '.json' file.",
          "type": "string"
        },
        "viewTreemapLabel": {
          "type": "string",
          "description": "Label for a button that opens the Treemap App"
        },
        "runtimeSettingsUrl": {
          "description": "Label for a row in a table that shows the URL that was audited during a Lighthouse run.",
          "type": "string"
        },
        "runtimeUnknown": {
          "description": "Descriptive explanation for a runtime setting that is set to an unknown value.",
          "type": "string"
        },
        "dropdownDarkTheme": {
          "description": "Option in a dropdown menu that toggles the themeing of the report between Light(default) and Dark themes.",
          "type": "string"
        },
        "scorescaleLabel": {
          "description": "The label that explains the score gauges scale (0-49, 50-89, 90-100).",
          "type": "string"
        },
        "opportunityResourceColumnLabel": {
          "description": "The heading for the estimated page load savings opportunity of an audit.",
          "type": "string"
        },
        "lsPerformanceCategoryDescription": {
          "description": "The disclaimer shown under performance explaining that the network can vary.",
          "type": "string"
        },
        "runtimeSettingsFetchTime": {
          "description": "Label for a row in a table that shows the time at which a Lighthouse run was conducted; formatted as a timestamp, e.g. Jan 1, 1970 12:00 AM UTC.",
          "type": "string"
        },
        "crcInitialNavigation": {
          "description": "The label for the initial request in a critical request chain.",
          "type": "string"
        },
        "varianceDisclaimer": {
          "type": "string",
          "description": "The disclaimer shown below a performance metric value."
        },
        "runtimeSettingsChannel": {
          "description": "Label for a row in a table that shows in what tool Lighthouse is being run (e.g. The lighthouse CLI, Chrome DevTools, Lightrider, WebPageTest, etc).",
          "type": "string"
        },
        "auditGroupExpandTooltip": {
          "description": "The tooltip text on an expandable chevron icon.",
          "type": "string"
        },
        "warningHeader": {
          "description": "The label shown above a bulleted list of warnings.",
          "type": "string"
        },
        "runtimeMobileEmulation": {
          "type": "string",
          "description": "Descriptive explanation for emulation setting when emulating a Nexus 5X mobile device."
        },
        "labDataTitle": {
          "type": "string",
          "description": "The title of the lab data performance category."
        },
        "dropdownViewer": {
          "type": "string",
          "description": "Option in a dropdown menu that opens the current report in the Lighthouse Viewer Application."
        },
        "runtimeSettingsBenchmark": {
          "description": "Label for a row in a table that shows the estimated CPU power of the machine running Lighthouse. Example row values: 532, 1492, 783.",
          "type": "string"
        },
        "showRelevantAudits": {
          "description": "Label preceding a radio control for filtering the list of audits. The radio choices are various performance metrics (FCP, LCP, TBT), and if chosen, the audits in the report are hidden if they are not relevant to the selected metric.",
          "type": "string"
        },
        "warningAuditsGroupTitle": {
          "type": "string",
          "description": "The heading that is shown above a list of audits that have warnings"
        },
        "thirdPartyResourcesLabel": {
          "type": "string",
          "description": "This label is for a filter checkbox above a table of items"
        },
        "runtimeNoEmulation": {
          "description": "Descriptive explanation for emulation setting when no device emulation is set.",
          "type": "string"
        },
        "manualAuditsGroupTitle": {
          "description": "The heading shown above a list of audits that were not computerd in the run.",
          "type": "string"
        },
        "runtimeSettingsCPUThrottling": {
          "type": "string",
          "description": "Label for a row in a table that describes the CPU throttling conditions that were used during a Lighthouse run, if any."
        },
        "snippetExpandButtonLabel": {
          "description": "The label for the button to show all lines of a snippet",
          "type": "string"
        },
        "dropdownCopyJSON": {
          "description": "Option in a dropdown menu that copies the Lighthouse JSON object to the system clipboard.",
          "type": "string"
        },
        "runtimeSettingsTitle": {
          "type": "string",
          "description": "Title of the Runtime settings table in a Lighthouse report. Runtime settings are the environment configurations that a specific report used at auditing time."
        },
        "dropdownPrintSummary": {
          "description": "Option in a dropdown menu that opens a small, summary report in a print dialog.",
          "type": "string"
        },
        "calculatorLink": {
          "description": "Text link pointing to the Lighthouse scoring calculator. This link immediately follows a sentence stating the performance score is calculated from the perf metrics.",
          "type": "string"
        },
        "runtimeSettingsUANetwork": {
          "description": "Label for a row in a table that shows the User Agent that was used to send out all network requests during the Lighthouse run.",
          "type": "string"
        },
        "notApplicableAuditsGroupTitle": {
          "type": "string",
          "description": "The heading shown above a list of audits that do not apply to a page."
        },
        "passedAuditsGroupTitle": {
          "type": "string",
          "description": "The heading that is shown above a list of audits that are passing."
        },
        "runtimeSettingsNetworkThrottling": {
          "type": "string",
          "description": "Label for a row in a table that describes the network throttling conditions that were used during a Lighthouse run, if any."
        },
        "runtimeSettingsAxeVersion": {
          "type": "string",
          "description": "Label for a row in a table that shows the version of the Axe library used"
        },
        "opportunitySavingsColumnLabel": {
          "type": "string",
          "description": "The heading for the estimated page load savings of opportunity audits."
        },
        "toplevelWarningsMessage": {
          "description": "The label shown preceding important warnings that may have invalidated an entire report.",
          "type": "string"
        },
        "runtimeSettingsDevice": {
          "type": "string",
          "description": "Label for a row in a table that describes the kind of device that was emulated for the Lighthouse run. Example values for row elements: 'No Emulation', 'Emulated Desktop', etc."
        },
        "snippetCollapseButtonLabel": {
          "description": "The label for the button to show only a few lines of a snippet",
          "type": "string"
        },
        "errorLabel": {
          "type": "string",
          "description": "The label shown next to an audit or metric that has had an error."
        },
        "runtimeSettingsUA": {
          "description": "Label for a row in a table that shows the User Agent that was detected on the Host machine that ran Lighthouse.",
          "type": "string"
        }
      }
    }
  },
  "batchPath": "batch"
}