{
  "id": "pagespeedonline:v5",
  "protocol": "rest",
  "mtlsRootUrl": "https://pagespeedonline.mtls.googleapis.com/",
  "version": "v5",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "name": "pagespeedonline",
  "version_module": true,
  "ownerDomain": "google.com",
  "title": "PageSpeed Insights API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "openid": {
          "description": "Associate you with your personal info on Google"
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    }
  },
  "description": "The PageSpeed Insights API lets you analyze the performance of your website with a simple API. It offers tailored suggestions for how you can optimize your site, and lets you easily integrate PageSpeed Insights analysis into your development tools and workflow. ",
  "canonicalName": "Pagespeed Insights",
  "revision": "20260928",
  "basePath": "",
  "documentationLink": "https://developers.google.com/speed/docs/insights/v5/about",
  "resources": {
    "pagespeedapi": {
      "methods": {
        "runpagespeed": {
          "httpMethod": "GET",
          "id": "pagespeedonline.pagespeedapi.runpagespeed",
          "flatPath": "pagespeedonline/v5/runPagespeed",
          "parameterOrder": [
            "url"
          ],
          "description": "Runs PageSpeed analysis on the page at the specified URL, and returns PageSpeed scores, a list of suggestions to make that page faster, and other information.",
          "response": {
            "$ref": "PagespeedApiPagespeedResponseV5"
          },
          "parameters": {
            "utm_source": {
              "type": "string",
              "description": "Campaign source for analytics.",
              "location": "query"
            },
            "url": {
              "description": "Required. The URL to fetch and analyze",
              "location": "query",
              "required": true,
              "type": "string",
              "pattern": "(?i)(url:|origin:)?http(s)?://.*"
            },
            "utm_campaign": {
              "description": "Campaign name for analytics.",
              "type": "string",
              "location": "query"
            },
            "locale": {
              "type": "string",
              "location": "query",
              "pattern": "[a-zA-Z]+((_|-)[a-zA-Z]+)?",
              "description": "The locale used to localize formatted results"
            },
            "captchaToken": {
              "location": "query",
              "description": "The captcha token passed when filling out a captcha.",
              "type": "string"
            },
            "category": {
              "enum": [
                "CATEGORY_UNSPECIFIED",
                "ACCESSIBILITY",
                "BEST_PRACTICES",
                "PERFORMANCE",
                "PWA",
                "SEO",
                "AGENTIC_BROWSING"
              ],
              "enumDescriptions": [
                "Default UNDEFINED category.",
                "Accessibility (a11y), category pertaining to a website's capacity to be accessible to all users.",
                "Best Practices, category pertaining to a website's conformance to web best practice.",
                "Performance, category pertaining to a website's performance.",
                "Progressive Web App (PWA), category pertaining to a website's ability to be run as a PWA. This is deprecated in Lighthouse's 12.0 release.",
                "Search Engine Optimization (SEO), category pertaining to a website's ability to be indexed by search engines.",
                "Agentic Browsing, category pertaining to a website's ability to be rendered by an agentic browsing system."
              ],
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "A Lighthouse category to run; if none are given, only Performance category will be run",
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                true,
                false,
                false
              ]
            },
            "strategy": {
              "enum": [
                "STRATEGY_UNSPECIFIED",
                "DESKTOP",
                "MOBILE"
              ],
              "location": "query",
              "description": "The analysis strategy (desktop or mobile) to use, and desktop is the default",
              "type": "string",
              "enumDescriptions": [
                "UNDEFINED.",
                "Fetch and analyze the URL for desktop browsers.",
                "Fetch and analyze the URL for mobile devices."
              ]
            }
          },
          "scopes": [
            "openid"
          ],
          "path": "pagespeedonline/v5/runPagespeed"
        }
      }
    }
  },
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "schemas": {
    "Environment": {
      "type": "object",
      "id": "Environment",
      "description": "Message containing environment configuration for a Lighthouse run.",
      "properties": {
        "hostUserAgent": {
          "description": "The user agent string of the version of Chrome used.",
          "type": "string"
        },
        "networkUserAgent": {
          "type": "string",
          "description": "The user agent string that was sent over the network."
        },
        "benchmarkIndex": {
          "type": "number",
          "description": "The benchmark index number that indicates rough device class.",
          "format": "double"
        },
        "credits": {
          "description": "The version of libraries with which these results were generated. Ex: axe-core.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "PagespeedApiPagespeedResponseV5": {
      "type": "object",
      "id": "PagespeedApiPagespeedResponseV5",
      "description": "The Pagespeed API response object.",
      "properties": {
        "version": {
          "description": "The version of PageSpeed used to generate these results.",
          "$ref": "PagespeedVersion"
        },
        "analysisUTCTimestamp": {
          "type": "string",
          "description": "The UTC timestamp of this analysis."
        },
        "kind": {
          "description": "Kind of result.",
          "type": "string"
        },
        "captchaResult": {
          "description": "The captcha verify result",
          "type": "string"
        },
        "loadingExperience": {
          "description": "Metrics of end users' page loading experience.",
          "$ref": "PagespeedApiLoadingExperienceV5"
        },
        "lighthouseResult": {
          "$ref": "LighthouseResultV5",
          "description": "Lighthouse response for the audit url as an object."
        },
        "originLoadingExperience": {
          "description": "Metrics of the aggregated page loading experience of the origin",
          "$ref": "PagespeedApiLoadingExperienceV5"
        },
        "id": {
          "type": "string",
          "description": "Canonicalized and final URL for the document, after following page redirects (if any)."
        }
      }
    },
    "LighthouseResultV5": {
      "properties": {
        "fetchTime": {
          "type": "string",
          "description": "The time that this run was fetched."
        },
        "fullPageScreenshot": {
          "description": "Screenshot data of the full page, along with node rects relevant to the audit results.",
          "type": "any"
        },
        "categoryGroups": {
          "additionalProperties": {
            "$ref": "CategoryGroupV5"
          },
          "description": "Map of category groups in the LHR.",
          "type": "object"
        },
        "finalDisplayedUrl": {
          "description": "URL displayed on the page after Lighthouse finishes.",
          "type": "string"
        },
        "stackPacks": {
          "description": "The Stack Pack advice strings.",
          "type": "array",
          "items": {
            "$ref": "StackPack"
          }
        },
        "categories": {
          "description": "Map of categories in the LHR.",
          "$ref": "Categories"
        },
        "timing": {
          "description": "Timing information for this LHR.",
          "$ref": "Timing"
        },
        "environment": {
          "description": "Environment settings that were used when making this LHR.",
          "$ref": "Environment"
        },
        "runtimeError": {
          "$ref": "RuntimeError",
          "description": "A top-level error message that, if present, indicates a serious enough problem that this Lighthouse result may need to be discarded."
        },
        "configSettings": {
          "$ref": "ConfigSettings",
          "description": "The configuration settings for this LHR."
        },
        "audits": {
          "description": "Map of audits in the LHR.",
          "type": "object",
          "additionalProperties": {
            "$ref": "LighthouseAuditResultV5"
          }
        },
        "i18n": {
          "description": "The internationalization strings that are required to render the LHR.",
          "$ref": "I18n"
        },
        "lighthouseVersion": {
          "type": "string",
          "description": "The lighthouse version that was used to generate this LHR."
        },
        "requestedUrl": {
          "type": "string",
          "description": "The original requested url."
        },
        "finalUrl": {
          "type": "string",
          "description": "The final resolved url that was audited."
        },
        "mainDocumentUrl": {
          "description": "URL of the main document request of the final navigation.",
          "type": "string"
        },
        "userAgent": {
          "description": "The user agent that was used to run this LHR.",
          "type": "string"
        },
        "runWarnings": {
          "description": "List of all run warnings in the LHR. Will always output to at least `[]`.",
          "type": "array",
          "items": {
            "type": "any"
          }
        },
        "entities": {
          "type": "array",
          "items": {
            "$ref": "LhrEntity"
          },
          "description": "Entity classification data."
        }
      },
      "description": "The Lighthouse result object.",
      "id": "LighthouseResultV5",
      "type": "object"
    },
    "LhrEntity": {
      "description": "Message containing an Entity.",
      "properties": {
        "category": {
          "description": "Optional. An optional category name for the entity.",
          "type": "string"
        },
        "origins": {
          "description": "Required. A list of URL origin strings that belong to this entity.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "homepage": {
          "description": "Optional. An optional homepage URL of the entity.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the entity."
        },
        "isFirstParty": {
          "description": "Optional. An optional flag indicating if the entity is the first party.",
          "type": "boolean"
        },
        "isUnrecognized": {
          "description": "Optional. An optional flag indicating if the entity is not recognized.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "LhrEntity"
    },
    "LighthouseCategoryV5": {
      "description": "A Lighthouse category.",
      "properties": {
        "categoryScoreDisplayMode": {
          "type": "string",
          "enumDescriptions": [
            "Default UNDEFINED category.",
            "Display the score as a standard circular gauge (default)",
            "Display the score as a fraction, e.g. \"3/5\""
          ],
          "enum": [
            "CATEGORY_SCORE_DISPLAY_MODE_UNSPECIFIED",
            "GAUGE",
            "FRACTION"
          ],
          "description": "Optional. How the category score should be displayed (e.g. as a fraction)."
        },
        "auditRefs": {
          "type": "array",
          "items": {
            "$ref": "AuditRefs"
          },
          "description": "An array of references to all the audit members of this category."
        },
        "id": {
          "type": "string",
          "description": "The string identifier of the category."
        },
        "manualDescription": {
          "description": "A description for the manual audits in the category.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A more detailed description of the category and its importance."
        },
        "title": {
          "type": "string",
          "description": "The human-friendly name of the category."
        },
        "score": {
          "description": "The overall score of the category, the weighted average of all its audits. (The category's score, can be null.)",
          "type": "any"
        }
      },
      "type": "object",
      "id": "LighthouseCategoryV5"
    },
    "RendererFormattedStrings": {
      "id": "RendererFormattedStrings",
      "description": "Message holding the formatted strings used in the renderer.",
      "type": "object",
      "properties": {
        "runtimeSettingsUrl": {
          "description": "Label for a row in a table that shows the URL that was audited during a Lighthouse run.",
          "type": "string"
        },
        "runtimeSettingsUA": {
          "description": "Label for a row in a table that shows the User Agent that was detected on the Host machine that ran Lighthouse.",
          "type": "string"
        },
        "notApplicableAuditsGroupTitle": {
          "description": "The heading shown above a list of audits that do not apply to a page.",
          "type": "string"
        },
        "dropdownPrintExpanded": {
          "description": "Option in a dropdown menu that opens a full Lighthouse report in a print dialog.",
          "type": "string"
        },
        "calculatorLink": {
          "description": "Text link pointing to the Lighthouse scoring calculator. This link immediately follows a sentence stating the performance score is calculated from the perf metrics.",
          "type": "string"
        },
        "snippetExpandButtonLabel": {
          "type": "string",
          "description": "The label for the button to show all lines of a snippet"
        },
        "dropdownSaveJSON": {
          "description": "Option in a dropdown menu that saves the Lighthouse JSON object to the local system as a '.json' file.",
          "type": "string"
        },
        "crcLongestDurationLabel": {
          "description": "The label for values shown in the summary of critical request chains.",
          "type": "string"
        },
        "dropdownSaveGist": {
          "description": "Option in a dropdown menu that saves the current report as a new GitHub Gist.",
          "type": "string"
        },
        "errorLabel": {
          "description": "The label shown next to an audit or metric that has had an error.",
          "type": "string"
        },
        "runtimeSettingsTitle": {
          "type": "string",
          "description": "Title of the Runtime settings table in a Lighthouse report. Runtime settings are the environment configurations that a specific report used at auditing time."
        },
        "manualAuditsGroupTitle": {
          "description": "The heading shown above a list of audits that were not computerd in the run.",
          "type": "string"
        },
        "runtimeNoEmulation": {
          "description": "Descriptive explanation for emulation setting when no device emulation is set.",
          "type": "string"
        },
        "runtimeSettingsFetchTime": {
          "description": "Label for a row in a table that shows the time at which a Lighthouse run was conducted; formatted as a timestamp, e.g. Jan 1, 1970 12:00 AM UTC.",
          "type": "string"
        },
        "runtimeUnknown": {
          "type": "string",
          "description": "Descriptive explanation for a runtime setting that is set to an unknown value."
        },
        "runtimeSettingsCPUThrottling": {
          "type": "string",
          "description": "Label for a row in a table that describes the CPU throttling conditions that were used during a Lighthouse run, if any."
        },
        "dropdownDarkTheme": {
          "description": "Option in a dropdown menu that toggles the themeing of the report between Light(default) and Dark themes.",
          "type": "string"
        },
        "opportunitySavingsColumnLabel": {
          "description": "The heading for the estimated page load savings of opportunity audits.",
          "type": "string"
        },
        "snippetCollapseButtonLabel": {
          "type": "string",
          "description": "The label for the button to show only a few lines of a snippet"
        },
        "labDataTitle": {
          "type": "string",
          "description": "The title of the lab data performance category."
        },
        "runtimeSettingsDevice": {
          "type": "string",
          "description": "Label for a row in a table that describes the kind of device that was emulated for the Lighthouse run. Example values for row elements: 'No Emulation', 'Emulated Desktop', etc."
        },
        "passedAuditsGroupTitle": {
          "description": "The heading that is shown above a list of audits that are passing.",
          "type": "string"
        },
        "runtimeSettingsUANetwork": {
          "description": "Label for a row in a table that shows the User Agent that was used to send out all network requests during the Lighthouse run.",
          "type": "string"
        },
        "warningAuditsGroupTitle": {
          "description": "The heading that is shown above a list of audits that have warnings",
          "type": "string"
        },
        "viewTreemapLabel": {
          "description": "Label for a button that opens the Treemap App",
          "type": "string"
        },
        "runtimeSettingsChannel": {
          "description": "Label for a row in a table that shows in what tool Lighthouse is being run (e.g. The lighthouse CLI, Chrome DevTools, Lightrider, WebPageTest, etc).",
          "type": "string"
        },
        "runtimeSettingsBenchmark": {
          "description": "Label for a row in a table that shows the estimated CPU power of the machine running Lighthouse. Example row values: 532, 1492, 783.",
          "type": "string"
        },
        "footerIssue": {
          "description": "Label for button to create an issue against the Lighthouse GitHub project.",
          "type": "string"
        },
        "errorMissingAuditInfo": {
          "type": "string",
          "description": "The error string shown next to an erroring audit."
        },
        "warningHeader": {
          "type": "string",
          "description": "The label shown above a bulleted list of warnings."
        },
        "runtimeMobileEmulation": {
          "type": "string",
          "description": "Descriptive explanation for emulation setting when emulating a Nexus 5X mobile device."
        },
        "runtimeSettingsAxeVersion": {
          "type": "string",
          "description": "Label for a row in a table that shows the version of the Axe library used"
        },
        "dropdownViewer": {
          "description": "Option in a dropdown menu that opens the current report in the Lighthouse Viewer Application.",
          "type": "string"
        },
        "thirdPartyResourcesLabel": {
          "description": "This label is for a filter checkbox above a table of items",
          "type": "string"
        },
        "lsPerformanceCategoryDescription": {
          "description": "The disclaimer shown under performance explaining that the network can vary.",
          "type": "string"
        },
        "dropdownCopyJSON": {
          "description": "Option in a dropdown menu that copies the Lighthouse JSON object to the system clipboard.",
          "type": "string"
        },
        "varianceDisclaimer": {
          "description": "The disclaimer shown below a performance metric value.",
          "type": "string"
        },
        "scorescaleLabel": {
          "type": "string",
          "description": "The label that explains the score gauges scale (0-49, 50-89, 90-100)."
        },
        "auditGroupExpandTooltip": {
          "description": "The tooltip text on an expandable chevron icon.",
          "type": "string"
        },
        "dropdownSaveHTML": {
          "type": "string",
          "description": "Option in a dropdown menu that saves the Lighthouse report HTML locally to the system as a '.html' file."
        },
        "runtimeDesktopEmulation": {
          "type": "string",
          "description": "Descriptive explanation for emulation setting when emulating a generic desktop form factor, as opposed to a mobile-device like form factor."
        },
        "showRelevantAudits": {
          "description": "Label preceding a radio control for filtering the list of audits. The radio choices are various performance metrics (FCP, LCP, TBT), and if chosen, the audits in the report are hidden if they are not relevant to the selected metric.",
          "type": "string"
        },
        "opportunityResourceColumnLabel": {
          "description": "The heading for the estimated page load savings opportunity of an audit.",
          "type": "string"
        },
        "toplevelWarningsMessage": {
          "description": "The label shown preceding important warnings that may have invalidated an entire report.",
          "type": "string"
        },
        "runtimeSettingsNetworkThrottling": {
          "type": "string",
          "description": "Label for a row in a table that describes the network throttling conditions that were used during a Lighthouse run, if any."
        },
        "crcInitialNavigation": {
          "description": "The label for the initial request in a critical request chain.",
          "type": "string"
        },
        "throttlingProvided": {
          "description": "Descriptive explanation for environment throttling that was provided by the runtime environment instead of provided by Lighthouse throttling.",
          "type": "string"
        },
        "dropdownPrintSummary": {
          "description": "Option in a dropdown menu that opens a small, summary report in a print dialog.",
          "type": "string"
        }
      }
    },
    "ConfigSettings": {
      "type": "object",
      "description": "Message containing the configuration settings for the Lighthouse run.",
      "id": "ConfigSettings",
      "properties": {
        "emulatedFormFactor": {
          "type": "string",
          "deprecated": true,
          "description": "The form factor the emulation should use. This field is deprecated, form_factor should be used instead."
        },
        "channel": {
          "description": "How Lighthouse was run, e.g. from the Chrome extension or from the npm module.",
          "type": "string"
        },
        "onlyCategories": {
          "type": "any",
          "description": "List of categories of audits the run should conduct."
        },
        "formFactor": {
          "description": "How Lighthouse should interpret this run in regards to scoring performance metrics and skipping mobile-only tests in desktop.",
          "type": "string"
        },
        "locale": {
          "description": "The locale setting.",
          "type": "string"
        }
      }
    },
    "I18n": {
      "id": "I18n",
      "properties": {
        "rendererFormattedStrings": {
          "description": "Internationalized strings that are formatted to the locale in configSettings.",
          "$ref": "RendererFormattedStrings"
        }
      },
      "type": "object",
      "description": "Message containing the i18n data for the LHR - Version 1."
    },
    "StackPack": {
      "id": "StackPack",
      "type": "object",
      "properties": {
        "descriptions": {
          "description": "The stack pack advice strings.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "iconDataURL": {
          "type": "string",
          "description": "The stack pack icon data uri."
        },
        "id": {
          "type": "string",
          "description": "The stack pack id."
        },
        "title": {
          "description": "The stack pack title.",
          "type": "string"
        }
      },
      "description": "Message containing Stack Pack information."
    },
    "UserPageLoadMetricV5": {
      "properties": {
        "median": {
          "description": "The median number of the metric, in millisecond.",
          "format": "int32",
          "type": "integer"
        },
        "category": {
          "description": "The category of the specific time metric.",
          "type": "string"
        },
        "formFactor": {
          "description": "Identifies the form factor of the metric being collected.",
          "type": "string"
        },
        "percentile": {
          "description": "We use this field to store certain percentile value for this metric. For v4, this field contains pc50. For v5, this field contains pc90.",
          "type": "integer",
          "format": "int32"
        },
        "distributions": {
          "items": {
            "$ref": "Bucket"
          },
          "description": "Metric distributions. Proportions should sum up to 1.",
          "type": "array"
        },
        "metricId": {
          "description": "Identifies the type of the metric.",
          "type": "string"
        }
      },
      "description": "A CrUX metric object for a single metric and form factor.",
      "type": "object",
      "id": "UserPageLoadMetricV5"
    },
    "AuditRefs": {
      "properties": {
        "relevantAudits": {
          "items": {
            "type": "string"
          },
          "description": "Any audit IDs closely relevant to this one.",
          "type": "array"
        },
        "id": {
          "description": "The audit ref id.",
          "type": "string"
        },
        "group": {
          "type": "string",
          "description": "The category group that the audit belongs to (optional)."
        },
        "weight": {
          "type": "number",
          "description": "The weight this audit's score has on the overall category score.",
          "format": "double"
        },
        "acronym": {
          "description": "The conventional acronym for the audit/metric.",
          "type": "string"
        }
      },
      "description": "A light reference to an audit by id, used to group and weight audits in a given category.",
      "type": "object",
      "id": "AuditRefs"
    },
    "RuntimeError": {
      "description": "Message containing a runtime error config.",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A human readable message explaining the error code."
        },
        "code": {
          "description": "The enumerated Lighthouse Error code.",
          "type": "string"
        }
      },
      "id": "RuntimeError"
    },
    "PagespeedApiLoadingExperienceV5": {
      "properties": {
        "overall_category": {
          "description": "The human readable speed \"category\" of the id.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The url, pattern or origin which the metrics are on."
        },
        "initial_url": {
          "description": "The requested URL, which may differ from the resolved \"id\".",
          "type": "string"
        },
        "origin_fallback": {
          "description": "True if the result is an origin fallback from a page, false otherwise.",
          "type": "boolean"
        },
        "metrics": {
          "additionalProperties": {
            "$ref": "UserPageLoadMetricV5"
          },
          "type": "object",
          "description": "The map of ."
        }
      },
      "description": "The CrUX loading experience object that contains CrUX data breakdowns.",
      "id": "PagespeedApiLoadingExperienceV5",
      "type": "object"
    },
    "LighthouseAuditResultV5": {
      "id": "LighthouseAuditResultV5",
      "description": "An audit's result object in a Lighthouse result.",
      "properties": {
        "title": {
          "description": "The human readable title.",
          "type": "string"
        },
        "explanation": {
          "type": "string",
          "description": "An explanation of the errors in the audit."
        },
        "scoreDisplayMode": {
          "description": "The enumerated score display mode.",
          "type": "string"
        },
        "numericUnit": {
          "type": "string",
          "description": "The unit of the numeric_value field. Used to format the numeric value for display."
        },
        "score": {
          "description": "The score of the audit, can be null.",
          "type": "any"
        },
        "id": {
          "description": "The audit's id.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the audit."
        },
        "errorMessage": {
          "description": "An error message from a thrown error inside the audit.",
          "type": "string"
        },
        "numericValue": {
          "description": "A numeric value that has a meaning specific to the audit, e.g. the number of nodes in the DOM or the timestamp of a specific load event. More information can be found in the audit details, if present.",
          "format": "double",
          "type": "number"
        },
        "displayValue": {
          "type": "string",
          "description": "The value that should be displayed on the UI for this audit."
        },
        "details": {
          "description": "Freeform details section of the audit.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "warnings": {
          "description": "Possible warnings that occurred in the audit, can be null.",
          "type": "any"
        },
        "metricSavings": {
          "$ref": "MetricSavings",
          "description": "The metric savings of the audit."
        }
      },
      "type": "object"
    },
    "MetricSavings": {
      "properties": {
        "CLS": {
          "description": "Optional. Optional numeric value representing the audit's savings for the CLS metric.",
          "type": "number",
          "format": "double"
        },
        "LCP": {
          "type": "number",
          "format": "double",
          "description": "Optional. Optional numeric value representing the audit's savings for the LCP metric."
        },
        "FCP": {
          "format": "double",
          "type": "number",
          "description": "Optional. Optional numeric value representing the audit's savings for the FCP metric."
        },
        "TBT": {
          "description": "Optional. Optional numeric value representing the audit's savings for the TBT metric.",
          "format": "double",
          "type": "number"
        },
        "INP": {
          "description": "Optional. Optional numeric value representing the audit's savings for the INP metric.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "MetricSavings",
      "type": "object",
      "description": "The metric savings of the audit."
    },
    "Bucket": {
      "properties": {
        "min": {
          "type": "integer",
          "format": "int32",
          "description": "Lower bound for a bucket's range."
        },
        "proportion": {
          "format": "double",
          "description": "The proportion of data in this bucket.",
          "type": "number"
        },
        "max": {
          "description": "Upper bound for a bucket's range.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "Bucket",
      "description": "A proportion of data in the total distribution, bucketed by a min/max percentage. Each bucket's range is bounded by min <= x < max, In millisecond."
    },
    "Timing": {
      "id": "Timing",
      "properties": {
        "total": {
          "type": "number",
          "format": "double",
          "description": "The total duration of Lighthouse's run."
        }
      },
      "description": "Message containing the performance timing data for the Lighthouse run.",
      "type": "object"
    },
    "PagespeedVersion": {
      "properties": {
        "major": {
          "type": "string",
          "description": "The major version number of PageSpeed used to generate these results."
        },
        "minor": {
          "description": "The minor version number of PageSpeed used to generate these results.",
          "type": "string"
        }
      },
      "id": "PagespeedVersion",
      "type": "object",
      "description": "The Pagespeed Version object."
    },
    "Categories": {
      "description": "The categories in a Lighthouse run.",
      "properties": {
        "seo": {
          "description": "The Search-Engine-Optimization (SEO) category, containing all seo related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "best-practices": {
          "$ref": "LighthouseCategoryV5",
          "description": "The best practices category, containing all best practices related audits."
        },
        "pwa": {
          "deprecated": true,
          "description": "The Progressive-Web-App (PWA) category, containing all pwa related audits. This is deprecated in Lighthouse's 12.0 release.",
          "$ref": "LighthouseCategoryV5"
        },
        "accessibility": {
          "description": "The accessibility category, containing all accessibility related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "agentic-browsing": {
          "description": "The agentic browsing category, containing all agentic browsing related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "performance": {
          "$ref": "LighthouseCategoryV5",
          "description": "The performance category, containing all performance related audits."
        }
      },
      "id": "Categories",
      "type": "object"
    },
    "CategoryGroupV5": {
      "properties": {
        "title": {
          "type": "string",
          "description": "The human readable title of the group"
        },
        "description": {
          "description": "The description of what the category is grouping",
          "type": "string"
        }
      },
      "id": "CategoryGroupV5",
      "type": "object",
      "description": "Message containing a category"
    }
  },
  "rootUrl": "https://pagespeedonline.googleapis.com/",
  "baseUrl": "https://pagespeedonline.googleapis.com/"
}