{
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "openid": {
          "description": "Associate you with your personal info on Google"
        }
      }
    }
  },
  "revision": "20260826",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "name": "pagespeedonline",
  "resources": {
    "pagespeedapi": {
      "methods": {
        "runpagespeed": {
          "id": "pagespeedonline.pagespeedapi.runpagespeed",
          "scopes": [
            "openid"
          ],
          "parameters": {
            "utm_campaign": {
              "description": "Campaign name for analytics.",
              "location": "query",
              "type": "string"
            },
            "captchaToken": {
              "description": "The captcha token passed when filling out a captcha.",
              "type": "string",
              "location": "query"
            },
            "category": {
              "description": "A Lighthouse category to run; if none are given, only Performance category will be run",
              "location": "query",
              "repeated": true,
              "type": "string",
              "enum": [
                "CATEGORY_UNSPECIFIED",
                "ACCESSIBILITY",
                "BEST_PRACTICES",
                "PERFORMANCE",
                "PWA",
                "SEO",
                "AGENTIC_BROWSING"
              ],
              "enumDescriptions": [
                "Default UNDEFINED category.",
                "Accessibility (a11y), category pertaining to a website's capacity to be accessible to all users.",
                "Best Practices, category pertaining to a website's conformance to web best practice.",
                "Performance, category pertaining to a website's performance.",
                "Progressive Web App (PWA), category pertaining to a website's ability to be run as a PWA. This is deprecated in Lighthouse's 12.0 release.",
                "Search Engine Optimization (SEO), category pertaining to a website's ability to be indexed by search engines.",
                "Agentic Browsing, category pertaining to a website's ability to be rendered by an agentic browsing system."
              ],
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                true,
                false,
                false
              ]
            },
            "locale": {
              "pattern": "[a-zA-Z]+((_|-)[a-zA-Z]+)?",
              "location": "query",
              "type": "string",
              "description": "The locale used to localize formatted results"
            },
            "strategy": {
              "description": "The analysis strategy (desktop or mobile) to use, and desktop is the default",
              "type": "string",
              "enum": [
                "STRATEGY_UNSPECIFIED",
                "DESKTOP",
                "MOBILE"
              ],
              "location": "query",
              "enumDescriptions": [
                "UNDEFINED.",
                "Fetch and analyze the URL for desktop browsers.",
                "Fetch and analyze the URL for mobile devices."
              ]
            },
            "utm_source": {
              "type": "string",
              "location": "query",
              "description": "Campaign source for analytics."
            },
            "url": {
              "location": "query",
              "required": true,
              "type": "string",
              "pattern": "(?i)(url:|origin:)?http(s)?://.*",
              "description": "Required. The URL to fetch and analyze"
            }
          },
          "flatPath": "pagespeedonline/v5/runPagespeed",
          "response": {
            "$ref": "PagespeedApiPagespeedResponseV5"
          },
          "parameterOrder": [
            "url"
          ],
          "httpMethod": "GET",
          "description": "Runs PageSpeed analysis on the page at the specified URL, and returns PageSpeed scores, a list of suggestions to make that page faster, and other information.",
          "path": "pagespeedonline/v5/runPagespeed"
        }
      }
    }
  },
  "canonicalName": "Pagespeed Insights",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/speed/docs/insights/v5/about",
  "id": "pagespeedonline:v5",
  "rootUrl": "https://pagespeedonline.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "baseUrl": "https://pagespeedonline.googleapis.com/",
  "description": "The PageSpeed Insights API lets you analyze the performance of your website with a simple API. It offers tailored suggestions for how you can optimize your site, and lets you easily integrate PageSpeed Insights analysis into your development tools and workflow. ",
  "servicePath": "",
  "mtlsRootUrl": "https://pagespeedonline.mtls.googleapis.com/",
  "schemas": {
    "Environment": {
      "type": "object",
      "id": "Environment",
      "properties": {
        "hostUserAgent": {
          "description": "The user agent string of the version of Chrome used.",
          "type": "string"
        },
        "networkUserAgent": {
          "description": "The user agent string that was sent over the network.",
          "type": "string"
        },
        "credits": {
          "type": "object",
          "description": "The version of libraries with which these results were generated. Ex: axe-core.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "benchmarkIndex": {
          "format": "double",
          "type": "number",
          "description": "The benchmark index number that indicates rough device class."
        }
      },
      "description": "Message containing environment configuration for a Lighthouse run."
    },
    "RuntimeError": {
      "id": "RuntimeError",
      "description": "Message containing a runtime error config.",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A human readable message explaining the error code."
        },
        "code": {
          "type": "string",
          "description": "The enumerated Lighthouse Error code."
        }
      }
    },
    "LhrEntity": {
      "properties": {
        "isUnrecognized": {
          "description": "Optional. An optional flag indicating if the entity is not recognized.",
          "type": "boolean"
        },
        "category": {
          "type": "string",
          "description": "Optional. An optional category name for the entity."
        },
        "origins": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A list of URL origin strings that belong to this entity."
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the entity."
        },
        "isFirstParty": {
          "type": "boolean",
          "description": "Optional. An optional flag indicating if the entity is the first party."
        },
        "homepage": {
          "type": "string",
          "description": "Optional. An optional homepage URL of the entity."
        }
      },
      "id": "LhrEntity",
      "type": "object",
      "description": "Message containing an Entity."
    },
    "PagespeedApiPagespeedResponseV5": {
      "type": "object",
      "id": "PagespeedApiPagespeedResponseV5",
      "properties": {
        "id": {
          "description": "Canonicalized and final URL for the document, after following page redirects (if any).",
          "type": "string"
        },
        "loadingExperience": {
          "$ref": "PagespeedApiLoadingExperienceV5",
          "description": "Metrics of end users' page loading experience."
        },
        "captchaResult": {
          "description": "The captcha verify result",
          "type": "string"
        },
        "version": {
          "description": "The version of PageSpeed used to generate these results.",
          "$ref": "PagespeedVersion"
        },
        "kind": {
          "type": "string",
          "description": "Kind of result."
        },
        "originLoadingExperience": {
          "$ref": "PagespeedApiLoadingExperienceV5",
          "description": "Metrics of the aggregated page loading experience of the origin"
        },
        "lighthouseResult": {
          "$ref": "LighthouseResultV5",
          "description": "Lighthouse response for the audit url as an object."
        },
        "analysisUTCTimestamp": {
          "description": "The UTC timestamp of this analysis.",
          "type": "string"
        }
      },
      "description": "The Pagespeed API response object."
    },
    "ConfigSettings": {
      "description": "Message containing the configuration settings for the Lighthouse run.",
      "type": "object",
      "properties": {
        "onlyCategories": {
          "description": "List of categories of audits the run should conduct.",
          "type": "any"
        },
        "locale": {
          "type": "string",
          "description": "The locale setting."
        },
        "channel": {
          "type": "string",
          "description": "How Lighthouse was run, e.g. from the Chrome extension or from the npm module."
        },
        "emulatedFormFactor": {
          "type": "string",
          "deprecated": true,
          "description": "The form factor the emulation should use. This field is deprecated, form_factor should be used instead."
        },
        "formFactor": {
          "description": "How Lighthouse should interpret this run in regards to scoring performance metrics and skipping mobile-only tests in desktop.",
          "type": "string"
        }
      },
      "id": "ConfigSettings"
    },
    "Timing": {
      "description": "Message containing the performance timing data for the Lighthouse run.",
      "properties": {
        "total": {
          "format": "double",
          "description": "The total duration of Lighthouse's run.",
          "type": "number"
        }
      },
      "id": "Timing",
      "type": "object"
    },
    "PagespeedVersion": {
      "properties": {
        "major": {
          "description": "The major version number of PageSpeed used to generate these results.",
          "type": "string"
        },
        "minor": {
          "type": "string",
          "description": "The minor version number of PageSpeed used to generate these results."
        }
      },
      "type": "object",
      "description": "The Pagespeed Version object.",
      "id": "PagespeedVersion"
    },
    "RendererFormattedStrings": {
      "description": "Message holding the formatted strings used in the renderer.",
      "properties": {
        "runtimeSettingsTitle": {
          "type": "string",
          "description": "Title of the Runtime settings table in a Lighthouse report. Runtime settings are the environment configurations that a specific report used at auditing time."
        },
        "dropdownCopyJSON": {
          "type": "string",
          "description": "Option in a dropdown menu that copies the Lighthouse JSON object to the system clipboard."
        },
        "runtimeNoEmulation": {
          "description": "Descriptive explanation for emulation setting when no device emulation is set.",
          "type": "string"
        },
        "opportunityResourceColumnLabel": {
          "type": "string",
          "description": "The heading for the estimated page load savings opportunity of an audit."
        },
        "snippetExpandButtonLabel": {
          "type": "string",
          "description": "The label for the button to show all lines of a snippet"
        },
        "runtimeSettingsDevice": {
          "type": "string",
          "description": "Label for a row in a table that describes the kind of device that was emulated for the Lighthouse run. Example values for row elements: 'No Emulation', 'Emulated Desktop', etc."
        },
        "dropdownPrintSummary": {
          "description": "Option in a dropdown menu that opens a small, summary report in a print dialog.",
          "type": "string"
        },
        "labDataTitle": {
          "description": "The title of the lab data performance category.",
          "type": "string"
        },
        "toplevelWarningsMessage": {
          "type": "string",
          "description": "The label shown preceding important warnings that may have invalidated an entire report."
        },
        "scorescaleLabel": {
          "type": "string",
          "description": "The label that explains the score gauges scale (0-49, 50-89, 90-100)."
        },
        "warningHeader": {
          "description": "The label shown above a bulleted list of warnings.",
          "type": "string"
        },
        "runtimeSettingsFetchTime": {
          "type": "string",
          "description": "Label for a row in a table that shows the time at which a Lighthouse run was conducted; formatted as a timestamp, e.g. Jan 1, 1970 12:00 AM UTC."
        },
        "runtimeSettingsCPUThrottling": {
          "description": "Label for a row in a table that describes the CPU throttling conditions that were used during a Lighthouse run, if any.",
          "type": "string"
        },
        "footerIssue": {
          "type": "string",
          "description": "Label for button to create an issue against the Lighthouse GitHub project."
        },
        "runtimeSettingsUrl": {
          "type": "string",
          "description": "Label for a row in a table that shows the URL that was audited during a Lighthouse run."
        },
        "runtimeSettingsBenchmark": {
          "type": "string",
          "description": "Label for a row in a table that shows the estimated CPU power of the machine running Lighthouse. Example row values: 532, 1492, 783."
        },
        "notApplicableAuditsGroupTitle": {
          "description": "The heading shown above a list of audits that do not apply to a page.",
          "type": "string"
        },
        "runtimeMobileEmulation": {
          "type": "string",
          "description": "Descriptive explanation for emulation setting when emulating a Nexus 5X mobile device."
        },
        "opportunitySavingsColumnLabel": {
          "description": "The heading for the estimated page load savings of opportunity audits.",
          "type": "string"
        },
        "dropdownSaveHTML": {
          "type": "string",
          "description": "Option in a dropdown menu that saves the Lighthouse report HTML locally to the system as a '.html' file."
        },
        "runtimeSettingsUA": {
          "description": "Label for a row in a table that shows the User Agent that was detected on the Host machine that ran Lighthouse.",
          "type": "string"
        },
        "runtimeUnknown": {
          "type": "string",
          "description": "Descriptive explanation for a runtime setting that is set to an unknown value."
        },
        "dropdownViewer": {
          "description": "Option in a dropdown menu that opens the current report in the Lighthouse Viewer Application.",
          "type": "string"
        },
        "throttlingProvided": {
          "type": "string",
          "description": "Descriptive explanation for environment throttling that was provided by the runtime environment instead of provided by Lighthouse throttling."
        },
        "dropdownSaveJSON": {
          "type": "string",
          "description": "Option in a dropdown menu that saves the Lighthouse JSON object to the local system as a '.json' file."
        },
        "errorLabel": {
          "description": "The label shown next to an audit or metric that has had an error.",
          "type": "string"
        },
        "crcInitialNavigation": {
          "description": "The label for the initial request in a critical request chain.",
          "type": "string"
        },
        "showRelevantAudits": {
          "type": "string",
          "description": "Label preceding a radio control for filtering the list of audits. The radio choices are various performance metrics (FCP, LCP, TBT), and if chosen, the audits in the report are hidden if they are not relevant to the selected metric."
        },
        "auditGroupExpandTooltip": {
          "description": "The tooltip text on an expandable chevron icon.",
          "type": "string"
        },
        "dropdownDarkTheme": {
          "type": "string",
          "description": "Option in a dropdown menu that toggles the themeing of the report between Light(default) and Dark themes."
        },
        "thirdPartyResourcesLabel": {
          "description": "This label is for a filter checkbox above a table of items",
          "type": "string"
        },
        "runtimeDesktopEmulation": {
          "description": "Descriptive explanation for emulation setting when emulating a generic desktop form factor, as opposed to a mobile-device like form factor.",
          "type": "string"
        },
        "passedAuditsGroupTitle": {
          "description": "The heading that is shown above a list of audits that are passing.",
          "type": "string"
        },
        "viewTreemapLabel": {
          "type": "string",
          "description": "Label for a button that opens the Treemap App"
        },
        "runtimeSettingsAxeVersion": {
          "type": "string",
          "description": "Label for a row in a table that shows the version of the Axe library used"
        },
        "errorMissingAuditInfo": {
          "description": "The error string shown next to an erroring audit.",
          "type": "string"
        },
        "calculatorLink": {
          "description": "Text link pointing to the Lighthouse scoring calculator. This link immediately follows a sentence stating the performance score is calculated from the perf metrics.",
          "type": "string"
        },
        "dropdownSaveGist": {
          "description": "Option in a dropdown menu that saves the current report as a new GitHub Gist.",
          "type": "string"
        },
        "crcLongestDurationLabel": {
          "type": "string",
          "description": "The label for values shown in the summary of critical request chains."
        },
        "snippetCollapseButtonLabel": {
          "description": "The label for the button to show only a few lines of a snippet",
          "type": "string"
        },
        "runtimeSettingsNetworkThrottling": {
          "description": "Label for a row in a table that describes the network throttling conditions that were used during a Lighthouse run, if any.",
          "type": "string"
        },
        "runtimeSettingsChannel": {
          "type": "string",
          "description": "Label for a row in a table that shows in what tool Lighthouse is being run (e.g. The lighthouse CLI, Chrome DevTools, Lightrider, WebPageTest, etc)."
        },
        "varianceDisclaimer": {
          "description": "The disclaimer shown below a performance metric value.",
          "type": "string"
        },
        "warningAuditsGroupTitle": {
          "type": "string",
          "description": "The heading that is shown above a list of audits that have warnings"
        },
        "dropdownPrintExpanded": {
          "description": "Option in a dropdown menu that opens a full Lighthouse report in a print dialog.",
          "type": "string"
        },
        "runtimeSettingsUANetwork": {
          "description": "Label for a row in a table that shows the User Agent that was used to send out all network requests during the Lighthouse run.",
          "type": "string"
        },
        "manualAuditsGroupTitle": {
          "description": "The heading shown above a list of audits that were not computerd in the run.",
          "type": "string"
        },
        "lsPerformanceCategoryDescription": {
          "type": "string",
          "description": "The disclaimer shown under performance explaining that the network can vary."
        }
      },
      "type": "object",
      "id": "RendererFormattedStrings"
    },
    "PagespeedApiLoadingExperienceV5": {
      "properties": {
        "initial_url": {
          "description": "The requested URL, which may differ from the resolved \"id\".",
          "type": "string"
        },
        "origin_fallback": {
          "type": "boolean",
          "description": "True if the result is an origin fallback from a page, false otherwise."
        },
        "id": {
          "description": "The url, pattern or origin which the metrics are on.",
          "type": "string"
        },
        "overall_category": {
          "type": "string",
          "description": "The human readable speed \"category\" of the id."
        },
        "metrics": {
          "additionalProperties": {
            "$ref": "UserPageLoadMetricV5"
          },
          "description": "The map of .",
          "type": "object"
        }
      },
      "id": "PagespeedApiLoadingExperienceV5",
      "type": "object",
      "description": "The CrUX loading experience object that contains CrUX data breakdowns."
    },
    "CategoryGroupV5": {
      "id": "CategoryGroupV5",
      "type": "object",
      "properties": {
        "description": {
          "description": "The description of what the category is grouping",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The human readable title of the group"
        }
      },
      "description": "Message containing a category"
    },
    "I18n": {
      "id": "I18n",
      "properties": {
        "rendererFormattedStrings": {
          "description": "Internationalized strings that are formatted to the locale in configSettings.",
          "$ref": "RendererFormattedStrings"
        }
      },
      "description": "Message containing the i18n data for the LHR - Version 1.",
      "type": "object"
    },
    "UserPageLoadMetricV5": {
      "description": "A CrUX metric object for a single metric and form factor.",
      "id": "UserPageLoadMetricV5",
      "type": "object",
      "properties": {
        "distributions": {
          "description": "Metric distributions. Proportions should sum up to 1.",
          "items": {
            "$ref": "Bucket"
          },
          "type": "array"
        },
        "median": {
          "format": "int32",
          "description": "The median number of the metric, in millisecond.",
          "type": "integer"
        },
        "category": {
          "type": "string",
          "description": "The category of the specific time metric."
        },
        "formFactor": {
          "description": "Identifies the form factor of the metric being collected.",
          "type": "string"
        },
        "percentile": {
          "description": "We use this field to store certain percentile value for this metric. For v4, this field contains pc50. For v5, this field contains pc90.",
          "type": "integer",
          "format": "int32"
        },
        "metricId": {
          "description": "Identifies the type of the metric.",
          "type": "string"
        }
      }
    },
    "MetricSavings": {
      "description": "The metric savings of the audit.",
      "type": "object",
      "properties": {
        "TBT": {
          "type": "number",
          "description": "Optional. Optional numeric value representing the audit's savings for the TBT metric.",
          "format": "double"
        },
        "CLS": {
          "description": "Optional. Optional numeric value representing the audit's savings for the CLS metric.",
          "type": "number",
          "format": "double"
        },
        "FCP": {
          "type": "number",
          "description": "Optional. Optional numeric value representing the audit's savings for the FCP metric.",
          "format": "double"
        },
        "INP": {
          "format": "double",
          "type": "number",
          "description": "Optional. Optional numeric value representing the audit's savings for the INP metric."
        },
        "LCP": {
          "type": "number",
          "description": "Optional. Optional numeric value representing the audit's savings for the LCP metric.",
          "format": "double"
        }
      },
      "id": "MetricSavings"
    },
    "LighthouseResultV5": {
      "type": "object",
      "properties": {
        "environment": {
          "$ref": "Environment",
          "description": "Environment settings that were used when making this LHR."
        },
        "audits": {
          "additionalProperties": {
            "$ref": "LighthouseAuditResultV5"
          },
          "description": "Map of audits in the LHR.",
          "type": "object"
        },
        "timing": {
          "description": "Timing information for this LHR.",
          "$ref": "Timing"
        },
        "runtimeError": {
          "$ref": "RuntimeError",
          "description": "A top-level error message that, if present, indicates a serious enough problem that this Lighthouse result may need to be discarded."
        },
        "configSettings": {
          "description": "The configuration settings for this LHR.",
          "$ref": "ConfigSettings"
        },
        "lighthouseVersion": {
          "description": "The lighthouse version that was used to generate this LHR.",
          "type": "string"
        },
        "requestedUrl": {
          "type": "string",
          "description": "The original requested url."
        },
        "fullPageScreenshot": {
          "description": "Screenshot data of the full page, along with node rects relevant to the audit results.",
          "type": "any"
        },
        "mainDocumentUrl": {
          "type": "string",
          "description": "URL of the main document request of the final navigation."
        },
        "fetchTime": {
          "type": "string",
          "description": "The time that this run was fetched."
        },
        "finalUrl": {
          "type": "string",
          "description": "The final resolved url that was audited."
        },
        "entities": {
          "items": {
            "$ref": "LhrEntity"
          },
          "description": "Entity classification data.",
          "type": "array"
        },
        "userAgent": {
          "type": "string",
          "description": "The user agent that was used to run this LHR."
        },
        "finalDisplayedUrl": {
          "description": "URL displayed on the page after Lighthouse finishes.",
          "type": "string"
        },
        "stackPacks": {
          "type": "array",
          "items": {
            "$ref": "StackPack"
          },
          "description": "The Stack Pack advice strings."
        },
        "i18n": {
          "description": "The internationalization strings that are required to render the LHR.",
          "$ref": "I18n"
        },
        "runWarnings": {
          "type": "array",
          "description": "List of all run warnings in the LHR. Will always output to at least `[]`.",
          "items": {
            "type": "any"
          }
        },
        "categoryGroups": {
          "additionalProperties": {
            "$ref": "CategoryGroupV5"
          },
          "type": "object",
          "description": "Map of category groups in the LHR."
        },
        "categories": {
          "description": "Map of categories in the LHR.",
          "$ref": "Categories"
        }
      },
      "description": "The Lighthouse result object.",
      "id": "LighthouseResultV5"
    },
    "LighthouseCategoryV5": {
      "description": "A Lighthouse category.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The human-friendly name of the category."
        },
        "categoryScoreDisplayMode": {
          "description": "Optional. How the category score should be displayed (e.g. as a fraction).",
          "enumDescriptions": [
            "Default UNDEFINED category.",
            "Display the score as a standard circular gauge (default)",
            "Display the score as a fraction, e.g. \"3/5\""
          ],
          "type": "string",
          "enum": [
            "CATEGORY_SCORE_DISPLAY_MODE_UNSPECIFIED",
            "GAUGE",
            "FRACTION"
          ]
        },
        "id": {
          "description": "The string identifier of the category.",
          "type": "string"
        },
        "manualDescription": {
          "type": "string",
          "description": "A description for the manual audits in the category."
        },
        "score": {
          "description": "The overall score of the category, the weighted average of all its audits. (The category's score, can be null.)",
          "type": "any"
        },
        "auditRefs": {
          "items": {
            "$ref": "AuditRefs"
          },
          "type": "array",
          "description": "An array of references to all the audit members of this category."
        },
        "description": {
          "type": "string",
          "description": "A more detailed description of the category and its importance."
        }
      },
      "id": "LighthouseCategoryV5",
      "type": "object"
    },
    "AuditRefs": {
      "description": "A light reference to an audit by id, used to group and weight audits in a given category.",
      "type": "object",
      "properties": {
        "group": {
          "description": "The category group that the audit belongs to (optional).",
          "type": "string"
        },
        "relevantAudits": {
          "type": "array",
          "description": "Any audit IDs closely relevant to this one.",
          "items": {
            "type": "string"
          }
        },
        "weight": {
          "description": "The weight this audit's score has on the overall category score.",
          "type": "number",
          "format": "double"
        },
        "id": {
          "type": "string",
          "description": "The audit ref id."
        },
        "acronym": {
          "type": "string",
          "description": "The conventional acronym for the audit/metric."
        }
      },
      "id": "AuditRefs"
    },
    "Categories": {
      "id": "Categories",
      "properties": {
        "agentic-browsing": {
          "$ref": "LighthouseCategoryV5",
          "description": "The agentic browsing category, containing all agentic browsing related audits."
        },
        "seo": {
          "$ref": "LighthouseCategoryV5",
          "description": "The Search-Engine-Optimization (SEO) category, containing all seo related audits."
        },
        "accessibility": {
          "description": "The accessibility category, containing all accessibility related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "performance": {
          "$ref": "LighthouseCategoryV5",
          "description": "The performance category, containing all performance related audits."
        },
        "best-practices": {
          "description": "The best practices category, containing all best practices related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "pwa": {
          "$ref": "LighthouseCategoryV5",
          "description": "The Progressive-Web-App (PWA) category, containing all pwa related audits. This is deprecated in Lighthouse's 12.0 release.",
          "deprecated": true
        }
      },
      "type": "object",
      "description": "The categories in a Lighthouse run."
    },
    "LighthouseAuditResultV5": {
      "description": "An audit's result object in a Lighthouse result.",
      "properties": {
        "description": {
          "description": "The description of the audit.",
          "type": "string"
        },
        "numericUnit": {
          "description": "The unit of the numeric_value field. Used to format the numeric value for display.",
          "type": "string"
        },
        "errorMessage": {
          "type": "string",
          "description": "An error message from a thrown error inside the audit."
        },
        "numericValue": {
          "type": "number",
          "format": "double",
          "description": "A numeric value that has a meaning specific to the audit, e.g. the number of nodes in the DOM or the timestamp of a specific load event. More information can be found in the audit details, if present."
        },
        "details": {
          "description": "Freeform details section of the audit.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "scoreDisplayMode": {
          "description": "The enumerated score display mode.",
          "type": "string"
        },
        "explanation": {
          "description": "An explanation of the errors in the audit.",
          "type": "string"
        },
        "displayValue": {
          "description": "The value that should be displayed on the UI for this audit.",
          "type": "string"
        },
        "metricSavings": {
          "description": "The metric savings of the audit.",
          "$ref": "MetricSavings"
        },
        "title": {
          "description": "The human readable title.",
          "type": "string"
        },
        "score": {
          "description": "The score of the audit, can be null.",
          "type": "any"
        },
        "warnings": {
          "description": "Possible warnings that occurred in the audit, can be null.",
          "type": "any"
        },
        "id": {
          "description": "The audit's id.",
          "type": "string"
        }
      },
      "id": "LighthouseAuditResultV5",
      "type": "object"
    },
    "Bucket": {
      "type": "object",
      "properties": {
        "min": {
          "format": "int32",
          "description": "Lower bound for a bucket's range.",
          "type": "integer"
        },
        "max": {
          "description": "Upper bound for a bucket's range.",
          "type": "integer",
          "format": "int32"
        },
        "proportion": {
          "description": "The proportion of data in this bucket.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "A proportion of data in the total distribution, bucketed by a min/max percentage. Each bucket's range is bounded by min <= x < max, In millisecond.",
      "id": "Bucket"
    },
    "StackPack": {
      "type": "object",
      "properties": {
        "descriptions": {
          "description": "The stack pack advice strings.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "title": {
          "description": "The stack pack title.",
          "type": "string"
        },
        "iconDataURL": {
          "description": "The stack pack icon data uri.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The stack pack id."
        }
      },
      "description": "Message containing Stack Pack information.",
      "id": "StackPack"
    }
  },
  "title": "PageSpeed Insights API",
  "protocol": "rest",
  "version": "v5",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "batchPath": "batch",
  "basePath": ""
}