{
  "title": "PageSpeed Insights API",
  "kind": "discovery#restDescription",
  "id": "pagespeedonline:v5",
  "canonicalName": "Pagespeed Insights",
  "batchPath": "batch",
  "version_module": true,
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    }
  },
  "basePath": "",
  "version": "v5",
  "discoveryVersion": "v1",
  "name": "pagespeedonline",
  "baseUrl": "https://pagespeedonline.googleapis.com/",
  "mtlsRootUrl": "https://pagespeedonline.mtls.googleapis.com/",
  "schemas": {
    "PagespeedApiLoadingExperienceV5": {
      "id": "PagespeedApiLoadingExperienceV5",
      "type": "object",
      "description": "The CrUX loading experience object that contains CrUX data breakdowns.",
      "properties": {
        "overall_category": {
          "description": "The human readable speed \"category\" of the id.",
          "type": "string"
        },
        "id": {
          "description": "The url, pattern or origin which the metrics are on.",
          "type": "string"
        },
        "origin_fallback": {
          "type": "boolean",
          "description": "True if the result is an origin fallback from a page, false otherwise."
        },
        "initial_url": {
          "type": "string",
          "description": "The requested URL, which may differ from the resolved \"id\"."
        },
        "metrics": {
          "additionalProperties": {
            "$ref": "UserPageLoadMetricV5"
          },
          "description": "The map of .",
          "type": "object"
        }
      }
    },
    "AuditRefs": {
      "id": "AuditRefs",
      "properties": {
        "relevantAudits": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Any audit IDs closely relevant to this one."
        },
        "weight": {
          "description": "The weight this audit's score has on the overall category score.",
          "format": "double",
          "type": "number"
        },
        "acronym": {
          "type": "string",
          "description": "The conventional acronym for the audit/metric."
        },
        "group": {
          "type": "string",
          "description": "The category group that the audit belongs to (optional)."
        },
        "id": {
          "type": "string",
          "description": "The audit ref id."
        }
      },
      "description": "A light reference to an audit by id, used to group and weight audits in a given category.",
      "type": "object"
    },
    "I18n": {
      "description": "Message containing the i18n data for the LHR - Version 1.",
      "type": "object",
      "properties": {
        "rendererFormattedStrings": {
          "description": "Internationalized strings that are formatted to the locale in configSettings.",
          "$ref": "RendererFormattedStrings"
        }
      },
      "id": "I18n"
    },
    "Bucket": {
      "properties": {
        "min": {
          "description": "Lower bound for a bucket's range.",
          "type": "integer",
          "format": "int32"
        },
        "proportion": {
          "format": "double",
          "type": "number",
          "description": "The proportion of data in this bucket."
        },
        "max": {
          "type": "integer",
          "description": "Upper bound for a bucket's range.",
          "format": "int32"
        }
      },
      "description": "A proportion of data in the total distribution, bucketed by a min/max percentage. Each bucket's range is bounded by min <= x < max, In millisecond.",
      "type": "object",
      "id": "Bucket"
    },
    "LhrEntity": {
      "type": "object",
      "description": "Message containing an Entity.",
      "id": "LhrEntity",
      "properties": {
        "homepage": {
          "description": "Optional. An optional homepage URL of the entity.",
          "type": "string"
        },
        "isUnrecognized": {
          "type": "boolean",
          "description": "Optional. An optional flag indicating if the entity is not recognized."
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the entity."
        },
        "isFirstParty": {
          "type": "boolean",
          "description": "Optional. An optional flag indicating if the entity is the first party."
        },
        "category": {
          "type": "string",
          "description": "Optional. An optional category name for the entity."
        },
        "origins": {
          "description": "Required. A list of URL origin strings that belong to this entity.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "LighthouseResultV5": {
      "properties": {
        "configSettings": {
          "description": "The configuration settings for this LHR.",
          "$ref": "ConfigSettings"
        },
        "entities": {
          "items": {
            "$ref": "LhrEntity"
          },
          "type": "array",
          "description": "Entity classification data."
        },
        "categories": {
          "$ref": "Categories",
          "description": "Map of categories in the LHR."
        },
        "runtimeError": {
          "$ref": "RuntimeError",
          "description": "A top-level error message that, if present, indicates a serious enough problem that this Lighthouse result may need to be discarded."
        },
        "userAgent": {
          "description": "The user agent that was used to run this LHR.",
          "type": "string"
        },
        "audits": {
          "additionalProperties": {
            "$ref": "LighthouseAuditResultV5"
          },
          "description": "Map of audits in the LHR.",
          "type": "object"
        },
        "environment": {
          "$ref": "Environment",
          "description": "Environment settings that were used when making this LHR."
        },
        "runWarnings": {
          "type": "array",
          "description": "List of all run warnings in the LHR. Will always output to at least `[]`.",
          "items": {
            "type": "any"
          }
        },
        "timing": {
          "description": "Timing information for this LHR.",
          "$ref": "Timing"
        },
        "stackPacks": {
          "items": {
            "$ref": "StackPack"
          },
          "description": "The Stack Pack advice strings.",
          "type": "array"
        },
        "i18n": {
          "$ref": "I18n",
          "description": "The internationalization strings that are required to render the LHR."
        },
        "fullPageScreenshot": {
          "type": "any",
          "description": "Screenshot data of the full page, along with node rects relevant to the audit results."
        },
        "finalDisplayedUrl": {
          "description": "URL displayed on the page after Lighthouse finishes.",
          "type": "string"
        },
        "categoryGroups": {
          "description": "Map of category groups in the LHR.",
          "additionalProperties": {
            "$ref": "CategoryGroupV5"
          },
          "type": "object"
        },
        "finalUrl": {
          "type": "string",
          "description": "The final resolved url that was audited."
        },
        "mainDocumentUrl": {
          "description": "URL of the main document request of the final navigation.",
          "type": "string"
        },
        "lighthouseVersion": {
          "type": "string",
          "description": "The lighthouse version that was used to generate this LHR."
        },
        "fetchTime": {
          "description": "The time that this run was fetched.",
          "type": "string"
        },
        "requestedUrl": {
          "description": "The original requested url.",
          "type": "string"
        }
      },
      "id": "LighthouseResultV5",
      "description": "The Lighthouse result object.",
      "type": "object"
    },
    "Environment": {
      "properties": {
        "credits": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The version of libraries with which these results were generated. Ex: axe-core.",
          "type": "object"
        },
        "networkUserAgent": {
          "description": "The user agent string that was sent over the network.",
          "type": "string"
        },
        "benchmarkIndex": {
          "format": "double",
          "description": "The benchmark index number that indicates rough device class.",
          "type": "number"
        },
        "hostUserAgent": {
          "type": "string",
          "description": "The user agent string of the version of Chrome used."
        }
      },
      "description": "Message containing environment configuration for a Lighthouse run.",
      "id": "Environment",
      "type": "object"
    },
    "LighthouseCategoryV5": {
      "id": "LighthouseCategoryV5",
      "type": "object",
      "properties": {
        "auditRefs": {
          "items": {
            "$ref": "AuditRefs"
          },
          "description": "An array of references to all the audit members of this category.",
          "type": "array"
        },
        "manualDescription": {
          "type": "string",
          "description": "A description for the manual audits in the category."
        },
        "score": {
          "type": "any",
          "description": "The overall score of the category, the weighted average of all its audits. (The category's score, can be null.)"
        },
        "categoryScoreDisplayMode": {
          "enum": [
            "CATEGORY_SCORE_DISPLAY_MODE_UNSPECIFIED",
            "GAUGE",
            "FRACTION"
          ],
          "enumDescriptions": [
            "Default UNDEFINED category.",
            "Display the score as a standard circular gauge (default)",
            "Display the score as a fraction, e.g. \"3/5\""
          ],
          "description": "Optional. How the category score should be displayed (e.g. as a fraction).",
          "type": "string"
        },
        "description": {
          "description": "A more detailed description of the category and its importance.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The human-friendly name of the category."
        },
        "id": {
          "description": "The string identifier of the category.",
          "type": "string"
        }
      },
      "description": "A Lighthouse category."
    },
    "StackPack": {
      "id": "StackPack",
      "properties": {
        "title": {
          "description": "The stack pack title.",
          "type": "string"
        },
        "iconDataURL": {
          "description": "The stack pack icon data uri.",
          "type": "string"
        },
        "id": {
          "description": "The stack pack id.",
          "type": "string"
        },
        "descriptions": {
          "description": "The stack pack advice strings.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "Message containing Stack Pack information.",
      "type": "object"
    },
    "PagespeedApiPagespeedResponseV5": {
      "id": "PagespeedApiPagespeedResponseV5",
      "description": "The Pagespeed API response object.",
      "properties": {
        "analysisUTCTimestamp": {
          "description": "The UTC timestamp of this analysis.",
          "type": "string"
        },
        "originLoadingExperience": {
          "description": "Metrics of the aggregated page loading experience of the origin",
          "$ref": "PagespeedApiLoadingExperienceV5"
        },
        "id": {
          "description": "Canonicalized and final URL for the document, after following page redirects (if any).",
          "type": "string"
        },
        "loadingExperience": {
          "description": "Metrics of end users' page loading experience.",
          "$ref": "PagespeedApiLoadingExperienceV5"
        },
        "version": {
          "description": "The version of PageSpeed used to generate these results.",
          "$ref": "PagespeedVersion"
        },
        "captchaResult": {
          "description": "The captcha verify result",
          "type": "string"
        },
        "lighthouseResult": {
          "$ref": "LighthouseResultV5",
          "description": "Lighthouse response for the audit url as an object."
        },
        "kind": {
          "description": "Kind of result.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Categories": {
      "properties": {
        "accessibility": {
          "description": "The accessibility category, containing all accessibility related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "seo": {
          "description": "The Search-Engine-Optimization (SEO) category, containing all seo related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "pwa": {
          "$ref": "LighthouseCategoryV5",
          "description": "The Progressive-Web-App (PWA) category, containing all pwa related audits. This is deprecated in Lighthouse's 12.0 release.",
          "deprecated": true
        },
        "agentic-browsing": {
          "$ref": "LighthouseCategoryV5",
          "description": "The agentic browsing category, containing all agentic browsing related audits."
        },
        "best-practices": {
          "description": "The best practices category, containing all best practices related audits.",
          "$ref": "LighthouseCategoryV5"
        },
        "performance": {
          "$ref": "LighthouseCategoryV5",
          "description": "The performance category, containing all performance related audits."
        }
      },
      "description": "The categories in a Lighthouse run.",
      "id": "Categories",
      "type": "object"
    },
    "RuntimeError": {
      "description": "Message containing a runtime error config.",
      "properties": {
        "code": {
          "description": "The enumerated Lighthouse Error code.",
          "type": "string"
        },
        "message": {
          "description": "A human readable message explaining the error code.",
          "type": "string"
        }
      },
      "id": "RuntimeError",
      "type": "object"
    },
    "Timing": {
      "properties": {
        "total": {
          "format": "double",
          "description": "The total duration of Lighthouse's run.",
          "type": "number"
        }
      },
      "description": "Message containing the performance timing data for the Lighthouse run.",
      "type": "object",
      "id": "Timing"
    },
    "LighthouseAuditResultV5": {
      "description": "An audit's result object in a Lighthouse result.",
      "type": "object",
      "id": "LighthouseAuditResultV5",
      "properties": {
        "metricSavings": {
          "$ref": "MetricSavings",
          "description": "The metric savings of the audit."
        },
        "details": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Freeform details section of the audit."
        },
        "errorMessage": {
          "description": "An error message from a thrown error inside the audit.",
          "type": "string"
        },
        "explanation": {
          "description": "An explanation of the errors in the audit.",
          "type": "string"
        },
        "numericUnit": {
          "type": "string",
          "description": "The unit of the numeric_value field. Used to format the numeric value for display."
        },
        "displayValue": {
          "type": "string",
          "description": "The value that should be displayed on the UI for this audit."
        },
        "scoreDisplayMode": {
          "description": "The enumerated score display mode.",
          "type": "string"
        },
        "numericValue": {
          "type": "number",
          "description": "A numeric value that has a meaning specific to the audit, e.g. the number of nodes in the DOM or the timestamp of a specific load event. More information can be found in the audit details, if present.",
          "format": "double"
        },
        "score": {
          "type": "any",
          "description": "The score of the audit, can be null."
        },
        "id": {
          "description": "The audit's id.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the audit."
        },
        "warnings": {
          "description": "Possible warnings that occurred in the audit, can be null.",
          "type": "any"
        },
        "title": {
          "type": "string",
          "description": "The human readable title."
        }
      }
    },
    "RendererFormattedStrings": {
      "type": "object",
      "description": "Message holding the formatted strings used in the renderer.",
      "id": "RendererFormattedStrings",
      "properties": {
        "runtimeSettingsUrl": {
          "type": "string",
          "description": "Label for a row in a table that shows the URL that was audited during a Lighthouse run."
        },
        "runtimeSettingsNetworkThrottling": {
          "description": "Label for a row in a table that describes the network throttling conditions that were used during a Lighthouse run, if any.",
          "type": "string"
        },
        "dropdownDarkTheme": {
          "description": "Option in a dropdown menu that toggles the themeing of the report between Light(default) and Dark themes.",
          "type": "string"
        },
        "thirdPartyResourcesLabel": {
          "description": "This label is for a filter checkbox above a table of items",
          "type": "string"
        },
        "errorMissingAuditInfo": {
          "type": "string",
          "description": "The error string shown next to an erroring audit."
        },
        "crcLongestDurationLabel": {
          "type": "string",
          "description": "The label for values shown in the summary of critical request chains."
        },
        "calculatorLink": {
          "description": "Text link pointing to the Lighthouse scoring calculator. This link immediately follows a sentence stating the performance score is calculated from the perf metrics.",
          "type": "string"
        },
        "viewTreemapLabel": {
          "description": "Label for a button that opens the Treemap App",
          "type": "string"
        },
        "lsPerformanceCategoryDescription": {
          "description": "The disclaimer shown under performance explaining that the network can vary.",
          "type": "string"
        },
        "warningHeader": {
          "description": "The label shown above a bulleted list of warnings.",
          "type": "string"
        },
        "snippetCollapseButtonLabel": {
          "description": "The label for the button to show only a few lines of a snippet",
          "type": "string"
        },
        "opportunityResourceColumnLabel": {
          "description": "The heading for the estimated page load savings opportunity of an audit.",
          "type": "string"
        },
        "runtimeSettingsUA": {
          "description": "Label for a row in a table that shows the User Agent that was detected on the Host machine that ran Lighthouse.",
          "type": "string"
        },
        "scorescaleLabel": {
          "description": "The label that explains the score gauges scale (0-49, 50-89, 90-100).",
          "type": "string"
        },
        "throttlingProvided": {
          "type": "string",
          "description": "Descriptive explanation for environment throttling that was provided by the runtime environment instead of provided by Lighthouse throttling."
        },
        "snippetExpandButtonLabel": {
          "description": "The label for the button to show all lines of a snippet",
          "type": "string"
        },
        "runtimeSettingsAxeVersion": {
          "description": "Label for a row in a table that shows the version of the Axe library used",
          "type": "string"
        },
        "opportunitySavingsColumnLabel": {
          "type": "string",
          "description": "The heading for the estimated page load savings of opportunity audits."
        },
        "errorLabel": {
          "description": "The label shown next to an audit or metric that has had an error.",
          "type": "string"
        },
        "crcInitialNavigation": {
          "type": "string",
          "description": "The label for the initial request in a critical request chain."
        },
        "runtimeUnknown": {
          "description": "Descriptive explanation for a runtime setting that is set to an unknown value.",
          "type": "string"
        },
        "dropdownViewer": {
          "type": "string",
          "description": "Option in a dropdown menu that opens the current report in the Lighthouse Viewer Application."
        },
        "dropdownPrintSummary": {
          "description": "Option in a dropdown menu that opens a small, summary report in a print dialog.",
          "type": "string"
        },
        "passedAuditsGroupTitle": {
          "type": "string",
          "description": "The heading that is shown above a list of audits that are passing."
        },
        "runtimeSettingsFetchTime": {
          "description": "Label for a row in a table that shows the time at which a Lighthouse run was conducted; formatted as a timestamp, e.g. Jan 1, 1970 12:00 AM UTC.",
          "type": "string"
        },
        "dropdownSaveGist": {
          "type": "string",
          "description": "Option in a dropdown menu that saves the current report as a new GitHub Gist."
        },
        "dropdownSaveJSON": {
          "type": "string",
          "description": "Option in a dropdown menu that saves the Lighthouse JSON object to the local system as a '.json' file."
        },
        "notApplicableAuditsGroupTitle": {
          "description": "The heading shown above a list of audits that do not apply to a page.",
          "type": "string"
        },
        "auditGroupExpandTooltip": {
          "type": "string",
          "description": "The tooltip text on an expandable chevron icon."
        },
        "manualAuditsGroupTitle": {
          "description": "The heading shown above a list of audits that were not computerd in the run.",
          "type": "string"
        },
        "toplevelWarningsMessage": {
          "type": "string",
          "description": "The label shown preceding important warnings that may have invalidated an entire report."
        },
        "labDataTitle": {
          "description": "The title of the lab data performance category.",
          "type": "string"
        },
        "dropdownPrintExpanded": {
          "description": "Option in a dropdown menu that opens a full Lighthouse report in a print dialog.",
          "type": "string"
        },
        "dropdownSaveHTML": {
          "description": "Option in a dropdown menu that saves the Lighthouse report HTML locally to the system as a '.html' file.",
          "type": "string"
        },
        "showRelevantAudits": {
          "description": "Label preceding a radio control for filtering the list of audits. The radio choices are various performance metrics (FCP, LCP, TBT), and if chosen, the audits in the report are hidden if they are not relevant to the selected metric.",
          "type": "string"
        },
        "warningAuditsGroupTitle": {
          "type": "string",
          "description": "The heading that is shown above a list of audits that have warnings"
        },
        "runtimeSettingsUANetwork": {
          "description": "Label for a row in a table that shows the User Agent that was used to send out all network requests during the Lighthouse run.",
          "type": "string"
        },
        "runtimeSettingsTitle": {
          "type": "string",
          "description": "Title of the Runtime settings table in a Lighthouse report. Runtime settings are the environment configurations that a specific report used at auditing time."
        },
        "runtimeSettingsBenchmark": {
          "description": "Label for a row in a table that shows the estimated CPU power of the machine running Lighthouse. Example row values: 532, 1492, 783.",
          "type": "string"
        },
        "runtimeSettingsChannel": {
          "type": "string",
          "description": "Label for a row in a table that shows in what tool Lighthouse is being run (e.g. The lighthouse CLI, Chrome DevTools, Lightrider, WebPageTest, etc)."
        },
        "runtimeNoEmulation": {
          "description": "Descriptive explanation for emulation setting when no device emulation is set.",
          "type": "string"
        },
        "footerIssue": {
          "description": "Label for button to create an issue against the Lighthouse GitHub project.",
          "type": "string"
        },
        "varianceDisclaimer": {
          "type": "string",
          "description": "The disclaimer shown below a performance metric value."
        },
        "runtimeSettingsCPUThrottling": {
          "type": "string",
          "description": "Label for a row in a table that describes the CPU throttling conditions that were used during a Lighthouse run, if any."
        },
        "runtimeSettingsDevice": {
          "description": "Label for a row in a table that describes the kind of device that was emulated for the Lighthouse run. Example values for row elements: 'No Emulation', 'Emulated Desktop', etc.",
          "type": "string"
        },
        "runtimeDesktopEmulation": {
          "description": "Descriptive explanation for emulation setting when emulating a generic desktop form factor, as opposed to a mobile-device like form factor.",
          "type": "string"
        },
        "dropdownCopyJSON": {
          "description": "Option in a dropdown menu that copies the Lighthouse JSON object to the system clipboard.",
          "type": "string"
        },
        "runtimeMobileEmulation": {
          "description": "Descriptive explanation for emulation setting when emulating a Nexus 5X mobile device.",
          "type": "string"
        }
      }
    },
    "UserPageLoadMetricV5": {
      "type": "object",
      "properties": {
        "percentile": {
          "description": "We use this field to store certain percentile value for this metric. For v4, this field contains pc50. For v5, this field contains pc90.",
          "type": "integer",
          "format": "int32"
        },
        "category": {
          "description": "The category of the specific time metric.",
          "type": "string"
        },
        "distributions": {
          "items": {
            "$ref": "Bucket"
          },
          "description": "Metric distributions. Proportions should sum up to 1.",
          "type": "array"
        },
        "formFactor": {
          "type": "string",
          "description": "Identifies the form factor of the metric being collected."
        },
        "median": {
          "type": "integer",
          "description": "The median number of the metric, in millisecond.",
          "format": "int32"
        },
        "metricId": {
          "type": "string",
          "description": "Identifies the type of the metric."
        }
      },
      "id": "UserPageLoadMetricV5",
      "description": "A CrUX metric object for a single metric and form factor."
    },
    "CategoryGroupV5": {
      "properties": {
        "description": {
          "description": "The description of what the category is grouping",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The human readable title of the group"
        }
      },
      "description": "Message containing a category",
      "id": "CategoryGroupV5",
      "type": "object"
    },
    "PagespeedVersion": {
      "description": "The Pagespeed Version object.",
      "type": "object",
      "id": "PagespeedVersion",
      "properties": {
        "major": {
          "description": "The major version number of PageSpeed used to generate these results.",
          "type": "string"
        },
        "minor": {
          "description": "The minor version number of PageSpeed used to generate these results.",
          "type": "string"
        }
      }
    },
    "ConfigSettings": {
      "description": "Message containing the configuration settings for the Lighthouse run.",
      "id": "ConfigSettings",
      "type": "object",
      "properties": {
        "emulatedFormFactor": {
          "deprecated": true,
          "type": "string",
          "description": "The form factor the emulation should use. This field is deprecated, form_factor should be used instead."
        },
        "onlyCategories": {
          "description": "List of categories of audits the run should conduct.",
          "type": "any"
        },
        "channel": {
          "description": "How Lighthouse was run, e.g. from the Chrome extension or from the npm module.",
          "type": "string"
        },
        "locale": {
          "type": "string",
          "description": "The locale setting."
        },
        "formFactor": {
          "description": "How Lighthouse should interpret this run in regards to scoring performance metrics and skipping mobile-only tests in desktop.",
          "type": "string"
        }
      }
    },
    "MetricSavings": {
      "properties": {
        "INP": {
          "description": "Optional. Optional numeric value representing the audit's savings for the INP metric.",
          "type": "number",
          "format": "double"
        },
        "CLS": {
          "type": "number",
          "format": "double",
          "description": "Optional. Optional numeric value representing the audit's savings for the CLS metric."
        },
        "TBT": {
          "format": "double",
          "type": "number",
          "description": "Optional. Optional numeric value representing the audit's savings for the TBT metric."
        },
        "FCP": {
          "description": "Optional. Optional numeric value representing the audit's savings for the FCP metric.",
          "type": "number",
          "format": "double"
        },
        "LCP": {
          "description": "Optional. Optional numeric value representing the audit's savings for the LCP metric.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "The metric savings of the audit.",
      "id": "MetricSavings",
      "type": "object"
    }
  },
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/speed/docs/insights/v5/about",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "revision": "20260824",
  "description": "The PageSpeed Insights API lets you analyze the performance of your website with a simple API. It offers tailored suggestions for how you can optimize your site, and lets you easily integrate PageSpeed Insights analysis into your development tools and workflow. ",
  "auth": {
    "oauth2": {
      "scopes": {
        "openid": {
          "description": "Associate you with your personal info on Google"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://pagespeedonline.googleapis.com/",
  "resources": {
    "pagespeedapi": {
      "methods": {
        "runpagespeed": {
          "parameterOrder": [
            "url"
          ],
          "parameters": {
            "utm_source": {
              "location": "query",
              "description": "Campaign source for analytics.",
              "type": "string"
            },
            "url": {
              "description": "Required. The URL to fetch and analyze",
              "type": "string",
              "location": "query",
              "required": true,
              "pattern": "(?i)(url:|origin:)?http(s)?://.*"
            },
            "captchaToken": {
              "location": "query",
              "description": "The captcha token passed when filling out a captcha.",
              "type": "string"
            },
            "strategy": {
              "type": "string",
              "description": "The analysis strategy (desktop or mobile) to use, and desktop is the default",
              "enumDescriptions": [
                "UNDEFINED.",
                "Fetch and analyze the URL for desktop browsers.",
                "Fetch and analyze the URL for mobile devices."
              ],
              "enum": [
                "STRATEGY_UNSPECIFIED",
                "DESKTOP",
                "MOBILE"
              ],
              "location": "query"
            },
            "utm_campaign": {
              "type": "string",
              "description": "Campaign name for analytics.",
              "location": "query"
            },
            "category": {
              "location": "query",
              "enum": [
                "CATEGORY_UNSPECIFIED",
                "ACCESSIBILITY",
                "BEST_PRACTICES",
                "PERFORMANCE",
                "PWA",
                "SEO",
                "AGENTIC_BROWSING"
              ],
              "enumDeprecated": [
                false,
                false,
                false,
                false,
                true,
                false,
                false
              ],
              "type": "string",
              "repeated": true,
              "description": "A Lighthouse category to run; if none are given, only Performance category will be run",
              "enumDescriptions": [
                "Default UNDEFINED category.",
                "Accessibility (a11y), category pertaining to a website's capacity to be accessible to all users.",
                "Best Practices, category pertaining to a website's conformance to web best practice.",
                "Performance, category pertaining to a website's performance.",
                "Progressive Web App (PWA), category pertaining to a website's ability to be run as a PWA. This is deprecated in Lighthouse's 12.0 release.",
                "Search Engine Optimization (SEO), category pertaining to a website's ability to be indexed by search engines.",
                "Agentic Browsing, category pertaining to a website's ability to be rendered by an agentic browsing system."
              ]
            },
            "locale": {
              "type": "string",
              "description": "The locale used to localize formatted results",
              "location": "query",
              "pattern": "[a-zA-Z]+((_|-)[a-zA-Z]+)?"
            }
          },
          "response": {
            "$ref": "PagespeedApiPagespeedResponseV5"
          },
          "id": "pagespeedonline.pagespeedapi.runpagespeed",
          "path": "pagespeedonline/v5/runPagespeed",
          "httpMethod": "GET",
          "scopes": [
            "openid"
          ],
          "flatPath": "pagespeedonline/v5/runPagespeed",
          "description": "Runs PageSpeed analysis on the page at the specified URL, and returns PageSpeed scores, a list of suggestions to make that page faster, and other information."
        }
      }
    }
  },
  "servicePath": ""
}