{
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "Parameter Manager",
  "revision": "20260819",
  "fullyEncodeReservedExpansion": true,
  "endpoints": [
    {
      "endpointUrl": "https://parametermanager.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://parametermanager.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://parametermanager.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://parametermanager.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://parametermanager.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://parametermanager.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://parametermanager.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://parametermanager.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://parametermanager.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://parametermanager.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://parametermanager.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://parametermanager.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://parametermanager.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://parametermanager.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://parametermanager.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://parametermanager.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://parametermanager.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://parametermanager.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://parametermanager.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "africa-south1",
      "endpointUrl": "https://parametermanager.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://parametermanager.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://parametermanager.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-east1"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://parametermanager.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://parametermanager.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://parametermanager.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://parametermanager.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://parametermanager.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east2"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://parametermanager.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://parametermanager.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://parametermanager.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us"
    },
    {
      "location": "eu",
      "endpointUrl": "https://parametermanager.eu.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "discoveryVersion": "v1",
  "id": "parametermanager:v1",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    }
  },
  "baseUrl": "https://parametermanager.googleapis.com/",
  "mtlsRootUrl": "https://parametermanager.mtls.googleapis.com/",
  "rootUrl": "https://parametermanager.googleapis.com/",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "schemas": {
    "ListTemplateVersionsResponse": {
      "description": "Message for response to listing TemplateVersions",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "templateVersions": {
          "description": "The list of TemplateVersions",
          "type": "array",
          "items": {
            "$ref": "TemplateVersion"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array"
        }
      },
      "id": "ListTemplateVersionsResponse"
    },
    "ListTemplatesResponse": {
      "id": "ListTemplatesResponse",
      "description": "Message for response to listing Templates",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "templates": {
          "items": {
            "$ref": "Template"
          },
          "description": "The list of Templates",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse"
    },
    "TemplateVersionPayload": {
      "description": "Message for storing a TemplateVersion resource's payload data",
      "type": "object",
      "properties": {
        "data": {
          "description": "Required. bytes data for storing payload.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "TemplateVersionPayload"
    },
    "ParameterVersionPayload": {
      "type": "object",
      "properties": {
        "data": {
          "description": "Required. bytes data for storing payload.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "Message for storing a ParameterVersion resource's payload data",
      "id": "ParameterVersionPayload"
    },
    "ParameterVersion": {
      "id": "ParameterVersion",
      "type": "object",
      "properties": {
        "kmsKeyVersion": {
          "type": "string",
          "description": "Optional. Output only. [Output only] The resource name of the KMS key version used to encrypt the ParameterVersion payload. This field is populated only if the Parameter resource has customer managed encryption key (CMEK) configured.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Identifier. [Output only] The resource name of the ParameterVersion in the format `projects/*/locations/*/parameters/*/versions/*`.",
          "type": "string"
        },
        "disabled": {
          "description": "Optional. Disabled boolean to determine if a ParameterVersion acts as a metadata only resource (payload is never returned if disabled is true). If true any calls will always default to BASIC view even if the user explicitly passes FULL view as part of the request. A render call on a disabled resource fails with an error. Default value is False.",
          "type": "boolean"
        },
        "payload": {
          "$ref": "ParameterVersionPayload",
          "description": "Required. Immutable. Payload content of a ParameterVersion resource. This is only returned when the request provides the View value of FULL (default for GET request)."
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Message describing ParameterVersion resource"
    },
    "ListParametersResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Locations that could not be reached."
        },
        "parameters": {
          "items": {
            "$ref": "Parameter"
          },
          "type": "array",
          "description": "The list of Parameters"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Message for response to listing Parameters",
      "id": "ListParametersResponse"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "id": "Location"
    },
    "Template": {
      "description": "Message describing Template resource",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the Template in the format `projects/*/locations/*/templates/*`."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Update time stamp",
          "readOnly": true,
          "format": "google-datetime"
        },
        "format": {
          "type": "string",
          "description": "Optional. Specifies the format of a Template.",
          "enumDescriptions": [
            "The default / unset value. The API will default to the YAML format.",
            "YAML format.",
            "JSON format."
          ],
          "enum": [
            "TEMPLATE_FORMAT_UNSPECIFIED",
            "TEMPLATE_FORMAT_YAML",
            "TEMPLATE_FORMAT_JSON"
          ]
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Create time stamp",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "Template"
    },
    "RenderParameterVersionResponse": {
      "type": "object",
      "properties": {
        "renderedPayload": {
          "type": "string",
          "description": "Output only. Server generated rendered version of the user provided payload data (ParameterVersionPayload) which has substitutions of all (if any) references to a SecretManager SecretVersion resources. This substitution only works for a Parameter which is in JSON or YAML format.",
          "readOnly": true,
          "format": "byte"
        },
        "parameterVersion": {
          "description": "Output only. Resource identifier of a ParameterVersion in the format `projects/*/locations/*/parameters/*/versions/*`.",
          "readOnly": true,
          "type": "string"
        },
        "payload": {
          "description": "Payload content of a ParameterVersion resource.",
          "$ref": "ParameterVersionPayload"
        }
      },
      "description": "Message describing RenderParameterVersionResponse resource",
      "id": "RenderParameterVersionResponse"
    },
    "Parameter": {
      "description": "Message describing Parameter resource",
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "kmsKey": {
          "type": "string",
          "description": "Optional. Customer managed encryption key (CMEK) to use for encrypting the Parameter Versions. If not set, the default Google-managed encryption key will be used. Cloud KMS CryptoKeys must reside in the same location as the Parameter. The expected format is `projects/*/locations/*/keyRings/*/cryptoKeys/*`."
        },
        "name": {
          "type": "string",
          "description": "Identifier. [Output only] The resource name of the Parameter in the format `projects/*/locations/*/parameters/*`."
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true,
          "format": "google-datetime"
        },
        "format": {
          "type": "string",
          "description": "Optional. Specifies the format of a Parameter.",
          "enumDescriptions": [
            "The default / unset value. The API will default to the UNFORMATTED format.",
            "Unformatted.",
            "YAML format.",
            "JSON format."
          ],
          "enum": [
            "PARAMETER_FORMAT_UNSPECIFIED",
            "UNFORMATTED",
            "YAML",
            "JSON"
          ]
        },
        "policyMember": {
          "$ref": "ResourcePolicyMember",
          "description": "Output only. [Output-only] policy member strings of a Google Cloud resource.",
          "readOnly": true
        }
      },
      "id": "Parameter"
    },
    "TemplateVersion": {
      "id": "TemplateVersion",
      "description": "Message describing TemplateVersion resource",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. Create time stamp",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the TemplateVersion in the format `projects/*/locations/*/templates/*/versions/*`."
        },
        "disabled": {
          "description": "Optional. Disabled boolean to determine if a TemplateVersion acts as a metadata only resource (payload is never returned if disabled is true).",
          "type": "boolean"
        },
        "payload": {
          "$ref": "TemplateVersionPayload",
          "description": "Required. Immutable. Payload content of a TemplateVersion resource."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Update time stamp",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "ResourcePolicyMember": {
      "type": "object",
      "properties": {
        "iamPolicyNamePrincipal": {
          "type": "string",
          "description": "Output only. IAM policy binding member referring to a Google Cloud resource by user-assigned name (https://google.aip.dev/122). If a resource is deleted and recreated with the same name, the binding will be applicable to the new resource. Example: `principal://parametermanager.googleapis.com/projects/12345/name/locations/us-central1-a/parameters/my-parameter`",
          "readOnly": true
        },
        "iamPolicyUidPrincipal": {
          "type": "string",
          "description": "Output only. IAM policy binding member referring to a Google Cloud resource by system-assigned unique identifier (https://google.aip.dev/148#uid). If a resource is deleted and recreated with the same name, the binding will not be applicable to the new resource Example: `principal://parametermanager.googleapis.com/projects/12345/uid/locations/us-central1-a/parameters/a918fed5`",
          "readOnly": true
        }
      },
      "description": "Output-only policy member strings of a Google Cloud resource's built-in identity.",
      "id": "ResourcePolicyMember"
    },
    "RenderTemplateVersionResponse": {
      "description": "Message describing RenderTemplateVersionResponse resource",
      "type": "object",
      "properties": {
        "payload": {
          "description": "Payload content of a TemplateVersion resource.",
          "$ref": "TemplateVersionPayload"
        },
        "templateFormat": {
          "enumDescriptions": [
            "The default / unset value. The API will default to the YAML format.",
            "YAML format.",
            "JSON format."
          ],
          "description": "Output only. Format of the template version.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "TEMPLATE_FORMAT_UNSPECIFIED",
            "TEMPLATE_FORMAT_YAML",
            "TEMPLATE_FORMAT_JSON"
          ]
        },
        "renderedPayload": {
          "description": "Output only. Server generated rendered version of the user provided payload data (TemplateVersionPayload) which has all the variables resolved using the provided parameter version.",
          "readOnly": true,
          "format": "byte",
          "type": "string"
        },
        "parameterVersion": {
          "type": "string",
          "description": "Output only. The resource name of the ParameterVersion used to render the template version in the format `projects/*/locations/*/parameters/*/versions/*`.",
          "readOnly": true
        },
        "templateVersion": {
          "description": "Resource identifier of a TemplateVersion in the format `projects/*/locations/*/templates/*/versions/*`.",
          "type": "string"
        }
      },
      "id": "RenderTemplateVersionResponse"
    },
    "ListParameterVersionsResponse": {
      "id": "ListParameterVersionsResponse",
      "description": "Message for response to listing ParameterVersions",
      "type": "object",
      "properties": {
        "parameterVersions": {
          "description": "The list of ParameterVersions",
          "type": "array",
          "items": {
            "$ref": "ParameterVersion"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    }
  },
  "basePath": "",
  "name": "parametermanager",
  "description": "Parameter Manager is a single source of truth to store, access and manage the lifecycle of your workload parameters. Parameter Manager aims to make management of sensitive application parameters effortless for customers without diminishing focus on security.",
  "title": "Parameter Manager API",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "id": "parametermanager.projects.locations.list",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}/locations"
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "description": "Resource name for the location.",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "parametermanager.projects.locations.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "Location"
              }
            }
          },
          "resources": {
            "parameters": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single Parameter.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "parametermanager.projects.locations.parameters.delete",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the resource in the format `projects/*/locations/*/parameters/*`.",
                      "location": "path",
                      "required": true
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}"
                },
                "list": {
                  "response": {
                    "$ref": "ListParametersResponse"
                  },
                  "id": "parametermanager.projects.locations.parameters.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists Parameters in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/parameters",
                  "parameters": {
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Hint for how to order the results",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. Parent value for ListParametersRequest in the format `projects/*/locations/*`.",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListParameters` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListParameters` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filtering results",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  }
                },
                "get": {
                  "id": "parametermanager.projects.locations.parameters.get",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single Parameter.",
                  "response": {
                    "$ref": "Parameter"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the resource in the format `projects/*/locations/*/parameters/*`.",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "create": {
                  "path": "v1/{+parent}/parameters",
                  "parameters": {
                    "parameterId": {
                      "description": "Required. Id of the Parameter resource",
                      "type": "string",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Value for parent in the format `projects/*/locations/*`."
                    }
                  },
                  "id": "parametermanager.projects.locations.parameters.create",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new Parameter in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Parameter"
                  },
                  "request": {
                    "$ref": "Parameter"
                  }
                },
                "patch": {
                  "request": {
                    "$ref": "Parameter"
                  },
                  "response": {
                    "$ref": "Parameter"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates a single Parameter.",
                  "id": "parametermanager.projects.locations.parameters.patch",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Identifier. [Output only] The resource name of the Parameter in the format `projects/*/locations/*/parameters/*`."
                    },
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Parameter resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A mutable field will be overwritten if it is in the mask. If the user does not provide a mask then all mutable fields present in the request will be overwritten.",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}"
                }
              },
              "resources": {
                "versions": {
                  "methods": {
                    "patch": {
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+/versions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Identifier. [Output only] The resource name of the ParameterVersion in the format `projects/*/locations/*/parameters/*/versions/*`.",
                          "type": "string"
                        },
                        "updateMask": {
                          "location": "query",
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the ParameterVersion resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A mutable field will be overwritten if it is in the mask. If the user does not provide a mask then all mutable fields present in the request will be overwritten.",
                          "format": "google-fieldmask",
                          "type": "string"
                        },
                        "requestId": {
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string"
                        }
                      },
                      "id": "parametermanager.projects.locations.parameters.versions.patch",
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates a single ParameterVersion.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}/versions/{versionsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "ParameterVersion"
                      },
                      "request": {
                        "$ref": "ParameterVersion"
                      }
                    },
                    "list": {
                      "parameters": {
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Hint for how to order the results"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. Parent value for ListParameterVersionsRequest in the format `projects/*/locations/*/parameters/*`.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+$"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListParameterVersions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListParameterVersions` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. Filtering results",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32"
                        }
                      },
                      "path": "v1/{+parent}/versions",
                      "response": {
                        "$ref": "ListParameterVersionsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists ParameterVersions in a given project, location, and parameter.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}/versions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "parametermanager.projects.locations.parameters.versions.list",
                      "httpMethod": "GET"
                    },
                    "get": {
                      "id": "parametermanager.projects.locations.parameters.versions.get",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets details of a single ParameterVersion.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}/versions/{versionsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "ParameterVersion"
                      },
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. Name of the resource in the format `projects/*/locations/*/parameters/*/versions/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+/versions/[^/]+$"
                        },
                        "view": {
                          "description": "Optional. View of the ParameterVersion. In the default FULL view, all metadata & payload associated with the ParameterVersion will be returned.",
                          "type": "string",
                          "enum": [
                            "VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "location": "query",
                          "enumDescriptions": [
                            "The default / unset value. The API will default to the FULL view.",
                            "Include only the metadata for the resource.",
                            "Include metadata & other relevant payload data as well. This is the default view."
                          ]
                        }
                      }
                    },
                    "render": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+/versions/[^/]+$",
                          "description": "Required. Name of the resource",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v1/{+name}:render",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}/versions/{versionsId}:render",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets rendered version of a ParameterVersion.",
                      "id": "parametermanager.projects.locations.parameters.versions.render",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "RenderParameterVersionResponse"
                      }
                    },
                    "delete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}/versions/{versionsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes a single ParameterVersion.",
                      "id": "parametermanager.projects.locations.parameters.versions.delete",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameters": {
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+/versions/[^/]+$",
                          "description": "Required. Name of the resource in the format `projects/*/locations/*/parameters/*/versions/*`.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v1/{+name}"
                    },
                    "create": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}/versions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a new ParameterVersion in a given project, location, and parameter.",
                      "id": "parametermanager.projects.locations.parameters.versions.create",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "ParameterVersion"
                      },
                      "response": {
                        "$ref": "ParameterVersion"
                      },
                      "parameters": {
                        "requestId": {
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. Value for parent in the format `projects/*/locations/*/parameters/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+$"
                        },
                        "parameterVersionId": {
                          "location": "query",
                          "description": "Required. Id of the ParameterVersion resource",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+parent}/versions"
                    }
                  }
                }
              }
            },
            "templates": {
              "methods": {
                "patch": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Identifier. The resource name of the Template in the format `projects/*/locations/*/templates/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+$"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Template resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A mutable field will be overwritten if it is in the mask. If the user does not provide a mask then all mutable fields present in the request will be overwritten.",
                      "format": "google-fieldmask"
                    }
                  },
                  "id": "parametermanager.projects.locations.templates.patch",
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates a single Template.",
                  "request": {
                    "$ref": "Template"
                  },
                  "response": {
                    "$ref": "Template"
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single Template.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "parametermanager.projects.locations.templates.delete",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+$",
                      "description": "Required. Name of the resource in the format `projects/*/locations/*/templates/*`.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}"
                },
                "list": {
                  "parameters": {
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. Parent value for ListTemplatesRequest in the format `projects/*/locations/*`.",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListTemplates` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTemplates` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Optional. Filtering results",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/templates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists Templates in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "parametermanager.projects.locations.templates.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListTemplatesResponse"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "Template"
                  },
                  "id": "parametermanager.projects.locations.templates.get",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets details of a single Template.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+$",
                      "description": "Required. Name of the resource in the format `projects/*/locations/*/templates/*`.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new Template in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "parametermanager.projects.locations.templates.create",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Template"
                  },
                  "request": {
                    "$ref": "Template"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. Value for parent in the format `projects/*/locations/*`.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "templateId": {
                      "type": "string",
                      "description": "Required. Id of the Template resource",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/templates"
                }
              },
              "resources": {
                "versions": {
                  "methods": {
                    "create": {
                      "request": {
                        "$ref": "TemplateVersion"
                      },
                      "response": {
                        "$ref": "TemplateVersion"
                      },
                      "id": "parametermanager.projects.locations.templates.versions.create",
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}/versions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a new TemplateVersion in a given project, location, and template.",
                      "path": "v1/{+parent}/versions",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+$",
                          "type": "string",
                          "description": "Required. Value for parent in the format `projects/*/locations/*/templates/*`.",
                          "location": "path",
                          "required": true
                        },
                        "templateVersionId": {
                          "description": "Required. Id of the TemplateVersion resource",
                          "type": "string",
                          "location": "query"
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        }
                      }
                    },
                    "delete": {
                      "id": "parametermanager.projects.locations.templates.versions.delete",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes a single TemplateVersion.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}/versions/{versionsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+/versions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the resource in the format `projects/*/locations/*/templates/*/versions/*`.",
                          "type": "string"
                        },
                        "requestId": {
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string"
                        }
                      }
                    },
                    "render": {
                      "response": {
                        "$ref": "RenderTemplateVersionResponse"
                      },
                      "id": "parametermanager.projects.locations.templates.versions.render",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets rendered version of a TemplateVersion.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}/versions/{versionsId}:render",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:render",
                      "parameters": {
                        "parameterVersion": {
                          "type": "string",
                          "description": "Required. Parameter version used to render the template version.",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+/versions/[^/]+$",
                          "description": "Required. Name of the resource",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      }
                    },
                    "list": {
                      "response": {
                        "$ref": "ListTemplateVersionsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists TemplateVersions in a given project, location, and template.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}/versions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "parametermanager.projects.locations.templates.versions.list",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+$",
                          "type": "string",
                          "description": "Required. Parent value for ListTemplateVersionsRequest in the format `projects/*/locations/*/templates/*`.",
                          "location": "path",
                          "required": true
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListTemplateVersions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTemplateVersions` must match the call that provided the page token.",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filtering results",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Hint for how to order the results"
                        }
                      },
                      "path": "v1/{+parent}/versions"
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets details of a single TemplateVersion.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}/versions/{versionsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "parametermanager.projects.locations.templates.versions.get",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "TemplateVersion"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the resource in the format `projects/*/locations/*/templates/*/versions/*`.",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+/versions/[^/]+$"
                        },
                        "view": {
                          "location": "query",
                          "enum": [
                            "VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "type": "string",
                          "description": "Optional. Specifies the view of the TemplateVersion to return. In the default FULL view, all metadata & payload associated with the TemplateVersion will be returned.",
                          "enumDescriptions": [
                            "The default / unset value. The API will default to the FULL view.",
                            "Include only the metadata for the resource.",
                            "Include metadata & other relevant payload data as well. This is the default view."
                          ]
                        }
                      },
                      "path": "v1/{+name}"
                    },
                    "patch": {
                      "parameters": {
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+/versions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Identifier. The resource name of the TemplateVersion in the format `projects/*/locations/*/templates/*/versions/*`.",
                          "type": "string"
                        },
                        "updateMask": {
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the TemplateVersion resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A mutable field will be overwritten if it is in the mask. If the user does not provide a mask then all mutable fields present in the request will be overwritten.",
                          "format": "google-fieldmask",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates a single TemplateVersion.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}/versions/{versionsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "parametermanager.projects.locations.templates.versions.patch",
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "TemplateVersion"
                      },
                      "request": {
                        "$ref": "TemplateVersion"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/secret-manager/parameter-manager/docs/overview",
  "ownerName": "Google",
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "kind": "discovery#restDescription",
  "batchPath": "batch"
}