{
  "rootUrl": "https://parametermanager.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "name": "parametermanager",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "title": "Parameter Manager API",
  "basePath": "",
  "baseUrl": "https://parametermanager.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "endpoints": [
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.us-central1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west1",
      "endpointUrl": "https://parametermanager.europe-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west4",
      "endpointUrl": "https://parametermanager.europe-west4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://parametermanager.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://parametermanager.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "endpointUrl": "https://parametermanager.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.us-east5.rep.googleapis.com/",
      "location": "us-east5"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-south1",
      "endpointUrl": "https://parametermanager.us-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west2",
      "endpointUrl": "https://parametermanager.us-west2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.us-west3.rep.googleapis.com/",
      "location": "us-west3"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://parametermanager.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1"
    },
    {
      "endpointUrl": "https://parametermanager.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://parametermanager.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.europe-west6.rep.googleapis.com/",
      "location": "europe-west6"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west8",
      "endpointUrl": "https://parametermanager.europe-west8.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west9",
      "endpointUrl": "https://parametermanager.europe-west9.rep.googleapis.com/"
    },
    {
      "location": "me-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.me-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://parametermanager.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.northamerica-northeast1.rep.googleapis.com/",
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "endpointUrl": "https://parametermanager.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "endpointUrl": "https://parametermanager.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.asia-southeast1.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.asia-southeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.me-central1.rep.googleapis.com/",
      "location": "me-central1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1"
    },
    {
      "endpointUrl": "https://parametermanager.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://parametermanager.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-southwest1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.europe-southwest1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://parametermanager.asia-south2.rep.googleapis.com/",
      "location": "asia-south2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-east1",
      "endpointUrl": "https://parametermanager.asia-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://parametermanager.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://parametermanager.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast2"
    },
    {
      "endpointUrl": "https://parametermanager.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "description": "Regional Endpoint",
      "location": "northamerica-south1",
      "endpointUrl": "https://parametermanager.northamerica-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-west1",
      "endpointUrl": "https://parametermanager.southamerica-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-north2",
      "endpointUrl": "https://parametermanager.europe-north2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "us",
      "endpointUrl": "https://parametermanager.us.rep.googleapis.com/"
    },
    {
      "location": "eu",
      "endpointUrl": "https://parametermanager.eu.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "ca",
      "endpointUrl": "https://parametermanager.ca.rep.googleapis.com/"
    },
    {
      "location": "in",
      "description": "Regional Endpoint",
      "endpointUrl": "https://parametermanager.in.rep.googleapis.com/"
    }
  ],
  "batchPath": "batch",
  "protocol": "rest",
  "schemas": {
    "ListParameterVersionsResponse": {
      "description": "Message for response to listing ParameterVersions",
      "id": "ListParameterVersionsResponse",
      "properties": {
        "parameterVersions": {
          "type": "array",
          "items": {
            "$ref": "ParameterVersion"
          },
          "description": "The list of ParameterVersions"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "type": "object"
    },
    "RenderTemplateVersionResponse": {
      "type": "object",
      "id": "RenderTemplateVersionResponse",
      "description": "Message describing RenderTemplateVersionResponse resource",
      "properties": {
        "renderedPayload": {
          "readOnly": true,
          "description": "Output only. Server generated rendered version of the user provided payload data (TemplateVersionPayload) which has all the variables resolved using the provided parameter version.",
          "format": "byte",
          "type": "string"
        },
        "templateVersion": {
          "type": "string",
          "description": "Resource identifier of a TemplateVersion in the format `projects/*/locations/*/templates/*/versions/*`."
        },
        "templateFormat": {
          "readOnly": true,
          "description": "Output only. Format of the template version.",
          "type": "string",
          "enum": [
            "TEMPLATE_FORMAT_UNSPECIFIED",
            "TEMPLATE_FORMAT_YAML",
            "TEMPLATE_FORMAT_JSON"
          ],
          "enumDescriptions": [
            "The default / unset value. The API will default to the YAML format.",
            "YAML format.",
            "JSON format."
          ]
        },
        "parameterVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the ParameterVersion used to render the template version in the format `projects/*/locations/*/parameters/*/versions/*`."
        },
        "payload": {
          "description": "Payload content of a TemplateVersion resource.",
          "$ref": "TemplateVersionPayload"
        }
      }
    },
    "ListTemplatesResponse": {
      "type": "object",
      "id": "ListTemplatesResponse",
      "description": "Message for response to listing Templates",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached."
        },
        "templates": {
          "items": {
            "$ref": "Template"
          },
          "type": "array",
          "description": "The list of Templates"
        }
      }
    },
    "ResourcePolicyMember": {
      "description": "Output-only policy member strings of a Google Cloud resource's built-in identity.",
      "type": "object",
      "properties": {
        "iamPolicyUidPrincipal": {
          "type": "string",
          "description": "Output only. IAM policy binding member referring to a Google Cloud resource by system-assigned unique identifier (https://google.aip.dev/148#uid). If a resource is deleted and recreated with the same name, the binding will not be applicable to the new resource Example: `principal://parametermanager.googleapis.com/projects/12345/uid/locations/us-central1-a/parameters/a918fed5`",
          "readOnly": true
        },
        "iamPolicyNamePrincipal": {
          "description": "Output only. IAM policy binding member referring to a Google Cloud resource by user-assigned name (https://google.aip.dev/122). If a resource is deleted and recreated with the same name, the binding will be applicable to the new resource. Example: `principal://parametermanager.googleapis.com/projects/12345/name/locations/us-central1-a/parameters/my-parameter`",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "ResourcePolicyMember"
    },
    "ListParametersResponse": {
      "id": "ListParametersResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "parameters": {
          "type": "array",
          "description": "The list of Parameters",
          "items": {
            "$ref": "Parameter"
          }
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Message for response to listing Parameters"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object",
      "id": "Location"
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse"
    },
    "ParameterVersion": {
      "properties": {
        "payload": {
          "description": "Required. Immutable. Payload content of a ParameterVersion resource. This is only returned when the request provides the View value of FULL (default for GET request).",
          "$ref": "ParameterVersionPayload"
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "checksumSource": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "CHECKSUM_SOURCE_UNSPECIFIED",
            "SERVER_GENERATED",
            "USER_SPECIFIED"
          ],
          "description": "Optional. Output only. [Output only] The source of the checksum.",
          "enumDescriptions": [
            "The default / unset value.",
            "The checksum was generated by the server.",
            "The checksum was provided by the user."
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. [Output only] The resource name of the ParameterVersion in the format `projects/*/locations/*/parameters/*/versions/*`."
        },
        "disabled": {
          "description": "Optional. Disabled boolean to determine if a ParameterVersion acts as a metadata only resource (payload is never returned if disabled is true). If true any calls will always default to BASIC view even if the user explicitly passes FULL view as part of the request. A render call on a disabled resource fails with an error. Default value is False.",
          "type": "boolean"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "kmsKeyVersion": {
          "description": "Optional. Output only. [Output only] The resource name of the KMS key version used to encrypt the ParameterVersion payload. This field is populated only if the Parameter resource has customer managed encryption key (CMEK) configured.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Message describing ParameterVersion resource",
      "id": "ParameterVersion",
      "type": "object"
    },
    "ListTemplateVersionsResponse": {
      "type": "object",
      "description": "Message for response to listing TemplateVersions",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array"
        },
        "templateVersions": {
          "items": {
            "$ref": "TemplateVersion"
          },
          "type": "array",
          "description": "The list of TemplateVersions"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListTemplateVersionsResponse"
    },
    "TemplateVersion": {
      "id": "TemplateVersion",
      "type": "object",
      "description": "Message describing TemplateVersion resource",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Optional. Disabled boolean to determine if a TemplateVersion acts as a metadata only resource (payload is never returned if disabled is true)."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Update time stamp",
          "type": "string"
        },
        "payload": {
          "$ref": "TemplateVersionPayload",
          "description": "Required. Immutable. Payload content of a TemplateVersion resource."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Create time stamp",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the TemplateVersion in the format `projects/*/locations/*/templates/*/versions/*`."
        }
      }
    },
    "TemplateVersionPayload": {
      "description": "Message for storing a TemplateVersion resource's payload data",
      "properties": {
        "data": {
          "format": "byte",
          "description": "Required. bytes data for storing payload.",
          "type": "string"
        }
      },
      "id": "TemplateVersionPayload",
      "type": "object"
    },
    "RenderParameterVersionResponse": {
      "id": "RenderParameterVersionResponse",
      "type": "object",
      "properties": {
        "renderedPayload": {
          "description": "Output only. Server generated rendered version of the user provided payload data (ParameterVersionPayload) which has substitutions of all (if any) references to a SecretManager SecretVersion resources. This substitution only works for a Parameter which is in JSON or YAML format.",
          "format": "byte",
          "type": "string",
          "readOnly": true
        },
        "payload": {
          "$ref": "ParameterVersionPayload",
          "description": "Payload content of a ParameterVersion resource."
        },
        "parameterVersion": {
          "description": "Output only. Resource identifier of a ParameterVersion in the format `projects/*/locations/*/parameters/*/versions/*`.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Message describing RenderParameterVersionResponse resource"
    },
    "Template": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the Template in the format `projects/*/locations/*/templates/*`."
        },
        "labels": {
          "description": "Optional. Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Create time stamp"
        },
        "format": {
          "type": "string",
          "enum": [
            "TEMPLATE_FORMAT_UNSPECIFIED",
            "TEMPLATE_FORMAT_YAML",
            "TEMPLATE_FORMAT_JSON"
          ],
          "description": "Optional. Specifies the format of a Template.",
          "enumDescriptions": [
            "The default / unset value. The API will default to the YAML format.",
            "YAML format.",
            "JSON format."
          ]
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Update time stamp",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "Template",
      "description": "Message describing Template resource"
    },
    "Parameter": {
      "description": "Message describing Parameter resource",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key value pairs",
          "type": "object"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. [Output only] Create time stamp",
          "type": "string"
        },
        "policyMember": {
          "description": "Output only. [Output-only] policy member strings of a Google Cloud resource.",
          "$ref": "ResourcePolicyMember",
          "readOnly": true
        },
        "kmsKey": {
          "description": "Optional. Customer managed encryption key (CMEK) to use for encrypting the Parameter Versions. If not set, the default Google-managed encryption key will be used. Cloud KMS CryptoKeys must reside in the same location as the Parameter. The expected format is `projects/*/locations/*/keyRings/*/cryptoKeys/*`.",
          "type": "string"
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Input only. Immutable. Tag keys and tag values that are bound to this Parameter. You must represent each item in the map as: `\"\" : \"\"`. For example, a single resource can have the following tags: ``` \"123/environment\": \"production\", \"123/costCenter\": \"marketing\", ``` Tags are used to organize and group resources. Tags can be used to control policy evaluation for the resource.",
          "type": "object"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. [Output only] Update time stamp",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. [Output only] The resource name of the Parameter in the format `projects/*/locations/*/parameters/*`."
        },
        "format": {
          "type": "string",
          "enum": [
            "PARAMETER_FORMAT_UNSPECIFIED",
            "UNFORMATTED",
            "YAML",
            "JSON"
          ],
          "enumDescriptions": [
            "The default / unset value. The API will default to the UNFORMATTED format.",
            "Unformatted.",
            "YAML format.",
            "JSON format."
          ],
          "description": "Optional. Specifies the format of a Parameter."
        }
      },
      "type": "object",
      "id": "Parameter"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ParameterVersionPayload": {
      "properties": {
        "data": {
          "format": "byte",
          "type": "string",
          "description": "Required. bytes data for storing payload."
        },
        "dataCrc32c": {
          "type": "string",
          "description": "Optional. [Optional] The integrity checksum of the payload. If provided, the server will verify that the checksum matches the payload. If not provided, the server will generate the checksum.",
          "format": "int64"
        }
      },
      "description": "Message for storing a ParameterVersion resource's payload data",
      "type": "object",
      "id": "ParameterVersionPayload"
    }
  },
  "id": "parametermanager:v1",
  "documentationLink": "https://cloud.google.com/secret-manager/parameter-manager/docs/overview",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "description": "Gets information about a location.",
              "id": "parametermanager.projects.locations.get",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Resource name for the location."
                }
              },
              "response": {
                "$ref": "Location"
              },
              "path": "v1/{+name}"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations",
              "path": "v1/{+name}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32"
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "type": "string",
                  "repeated": true
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "parametermanager.projects.locations.list"
            }
          },
          "resources": {
            "templates": {
              "resources": {
                "versions": {
                  "methods": {
                    "patch": {
                      "response": {
                        "$ref": "TemplateVersion"
                      },
                      "request": {
                        "$ref": "TemplateVersion"
                      },
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+/versions/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Identifier. The resource name of the TemplateVersion in the format `projects/*/locations/*/templates/*/versions/*`.",
                          "location": "path"
                        },
                        "updateMask": {
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the TemplateVersion resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A mutable field will be overwritten if it is in the mask. If the user does not provide a mask then all mutable fields present in the request will be overwritten.",
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "parametermanager.projects.locations.templates.versions.patch",
                      "description": "Updates a single TemplateVersion.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}/versions/{versionsId}",
                      "httpMethod": "PATCH"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "TemplateVersion"
                      },
                      "description": "Gets details of a single TemplateVersion.",
                      "id": "parametermanager.projects.locations.templates.versions.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "Required. Name of the resource in the format `projects/*/locations/*/templates/*/versions/*`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+/versions/[^/]+$"
                        },
                        "view": {
                          "enumDescriptions": [
                            "The default / unset value. The API will default to the FULL view.",
                            "Include only the metadata for the resource.",
                            "Include metadata & other relevant payload data as well. This is the default view."
                          ],
                          "description": "Optional. Specifies the view of the TemplateVersion to return. In the default FULL view, all metadata & payload associated with the TemplateVersion will be returned.",
                          "location": "query",
                          "type": "string",
                          "enum": [
                            "VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ]
                        }
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}/versions/{versionsId}"
                    },
                    "render": {
                      "response": {
                        "$ref": "RenderTemplateVersionResponse"
                      },
                      "parameters": {
                        "parameterVersion": {
                          "description": "Required. Parameter version used to render the template version.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+/versions/[^/]+$",
                          "description": "Required. Name of the resource",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "parametermanager.projects.locations.templates.versions.render",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}/versions/{versionsId}:render",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets rendered version of a TemplateVersion.",
                      "path": "v1/{+name}:render"
                    },
                    "create": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}/versions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "parametermanager.projects.locations.templates.versions.create",
                      "path": "v1/{+parent}/versions",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. Value for parent in the format `projects/*/locations/*/templates/*`."
                        },
                        "templateVersionId": {
                          "type": "string",
                          "description": "Required. Id of the TemplateVersion resource",
                          "location": "query"
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "TemplateVersion"
                      },
                      "description": "Creates a new TemplateVersion in a given project, location, and template.",
                      "request": {
                        "$ref": "TemplateVersion"
                      }
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}/versions",
                      "description": "Lists TemplateVersions in a given project, location, and template.",
                      "parameters": {
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Hint for how to order the results"
                        },
                        "filter": {
                          "description": "Optional. Filtering results",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. Parent value for ListTemplateVersionsRequest in the format `projects/*/locations/*/templates/*`.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+$",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListTemplateVersions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTemplateVersions` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/versions",
                      "httpMethod": "GET",
                      "id": "parametermanager.projects.locations.templates.versions.list",
                      "response": {
                        "$ref": "ListTemplateVersionsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "id": "parametermanager.projects.locations.templates.versions.delete",
                      "parameters": {
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. Name of the resource in the format `projects/*/locations/*/templates/*/versions/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+/versions/[^/]+$",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}/versions/{versionsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes a single TemplateVersion."
                    }
                  }
                }
              },
              "methods": {
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Identifier. The resource name of the Template in the format `projects/*/locations/*/templates/*`."
                    },
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Template resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A mutable field will be overwritten if it is in the mask. If the user does not provide a mask then all mutable fields present in the request will be overwritten.",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "parametermanager.projects.locations.templates.patch",
                  "description": "Updates a single Template.",
                  "request": {
                    "$ref": "Template"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Template"
                  }
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates",
                  "path": "v1/{+parent}/templates",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListTemplates` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTemplates` must match the call that provided the page token."
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Hint for how to order the results",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "type": "integer",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Parent value for ListTemplatesRequest in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filtering results"
                    }
                  },
                  "id": "parametermanager.projects.locations.templates.list",
                  "response": {
                    "$ref": "ListTemplatesResponse"
                  },
                  "description": "Lists Templates in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET"
                },
                "get": {
                  "response": {
                    "$ref": "Template"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets details of a single Template.",
                  "id": "parametermanager.projects.locations.templates.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+$",
                      "description": "Required. Name of the resource in the format `projects/*/locations/*/templates/*`.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Name of the resource in the format `projects/*/locations/*/templates/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/templates/[^/]+$",
                      "location": "path"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "parametermanager.projects.locations.templates.delete",
                  "description": "Deletes a single Template.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates/{templatesId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "description": "Creates a new Template in a given project and location.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Value for parent in the format `projects/*/locations/*`.",
                      "type": "string"
                    },
                    "templateId": {
                      "description": "Required. Id of the Template resource",
                      "type": "string",
                      "location": "query"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/templates",
                  "path": "v1/{+parent}/templates",
                  "request": {
                    "$ref": "Template"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Template"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "parametermanager.projects.locations.templates.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "parameters": {
              "methods": {
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Parameter"
                  },
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Parameter resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A mutable field will be overwritten if it is in the mask. If the user does not provide a mask then all mutable fields present in the request will be overwritten."
                    },
                    "name": {
                      "required": true,
                      "description": "Identifier. [Output only] The resource name of the Parameter in the format `projects/*/locations/*/parameters/*`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "parametermanager.projects.locations.parameters.patch",
                  "path": "v1/{+name}",
                  "description": "Updates a single Parameter.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}",
                  "request": {
                    "$ref": "Parameter"
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "description": "Lists Parameters in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. Parent value for ListParametersRequest in the format `projects/*/locations/*`.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Hint for how to order the results"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListParameters` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListParameters` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filtering results"
                    }
                  },
                  "path": "v1/{+parent}/parameters",
                  "id": "parametermanager.projects.locations.parameters.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListParametersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "parametermanager.projects.locations.parameters.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+$",
                      "description": "Required. Name of the resource in the format `projects/*/locations/*/parameters/*`.",
                      "type": "string",
                      "location": "path"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Deletes a single Parameter.",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+$",
                      "description": "Required. Name of the resource in the format `projects/*/locations/*/parameters/*`.",
                      "required": true
                    }
                  },
                  "id": "parametermanager.projects.locations.parameters.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a single Parameter.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Parameter"
                  }
                },
                "create": {
                  "path": "v1/{+parent}/parameters",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "parameterId": {
                      "location": "query",
                      "description": "Required. Id of the Parameter resource",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Value for parent in the format `projects/*/locations/*`."
                    }
                  },
                  "request": {
                    "$ref": "Parameter"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Parameter"
                  },
                  "description": "Creates a new Parameter in a given project and location.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters",
                  "id": "parametermanager.projects.locations.parameters.create"
                }
              },
              "resources": {
                "versions": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListParameterVersionsResponse"
                      },
                      "id": "parametermanager.projects.locations.parameters.versions.list",
                      "parameters": {
                        "orderBy": {
                          "description": "Optional. Hint for how to order the results",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+$",
                          "location": "path",
                          "description": "Required. Parent value for ListParameterVersionsRequest in the format `projects/*/locations/*/parameters/*`.",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Filtering results"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListParameterVersions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListParameterVersions` must match the call that provided the page token."
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}/versions",
                      "path": "v1/{+parent}/versions",
                      "httpMethod": "GET",
                      "description": "Lists ParameterVersions in a given project, location, and parameter."
                    },
                    "render": {
                      "id": "parametermanager.projects.locations.parameters.versions.render",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+/versions/[^/]+$",
                          "type": "string",
                          "description": "Required. Name of the resource",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "RenderParameterVersionResponse"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets rendered version of a ParameterVersion.",
                      "path": "v1/{+name}:render",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}/versions/{versionsId}:render"
                    },
                    "create": {
                      "path": "v1/{+parent}/versions",
                      "parameters": {
                        "parameterVersionId": {
                          "description": "Required. Id of the ParameterVersion resource",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+$",
                          "description": "Required. Value for parent in the format `projects/*/locations/*/parameters/*`.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        }
                      },
                      "id": "parametermanager.projects.locations.parameters.versions.create",
                      "response": {
                        "$ref": "ParameterVersion"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}/versions",
                      "description": "Creates a new ParameterVersion in a given project, location, and parameter.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "ParameterVersion"
                      }
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}/versions/{versionsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ParameterVersion"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets details of a single ParameterVersion.",
                      "id": "parametermanager.projects.locations.parameters.versions.get",
                      "parameters": {
                        "view": {
                          "enumDescriptions": [
                            "The default / unset value. The API will default to the FULL view.",
                            "Include only the metadata for the resource.",
                            "Include metadata & other relevant payload data as well. This is the default view."
                          ],
                          "location": "query",
                          "description": "Optional. View of the ParameterVersion. In the default FULL view, all metadata & payload associated with the ParameterVersion will be returned.",
                          "type": "string",
                          "enum": [
                            "VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ]
                        },
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+/versions/[^/]+$",
                          "required": true,
                          "description": "Required. Name of the resource in the format `projects/*/locations/*/parameters/*/versions/*`."
                        }
                      }
                    },
                    "patch": {
                      "response": {
                        "$ref": "ParameterVersion"
                      },
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the ParameterVersion resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A mutable field will be overwritten if it is in the mask. If the user does not provide a mask then all mutable fields present in the request will be overwritten.",
                          "location": "query",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "description": "Identifier. [Output only] The resource name of the ParameterVersion in the format `projects/*/locations/*/parameters/*/versions/*`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+/versions/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        }
                      },
                      "request": {
                        "$ref": "ParameterVersion"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}/versions/{versionsId}",
                      "description": "Updates a single ParameterVersion.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "id": "parametermanager.projects.locations.parameters.versions.patch"
                    },
                    "delete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/parameters/{parametersId}/versions/{versionsId}",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. Name of the resource in the format `projects/*/locations/*/parameters/*/versions/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/parameters/[^/]+/versions/[^/]+$"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "description": "Deletes a single ParameterVersion.",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "httpMethod": "DELETE",
                      "id": "parametermanager.projects.locations.parameters.versions.delete"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "mtlsRootUrl": "https://parametermanager.mtls.googleapis.com/",
  "version": "v1",
  "canonicalName": "Parameter Manager",
  "kind": "discovery#restDescription",
  "description": "Parameter Manager is a single source of truth to store, access and manage the lifecycle of your workload parameters. Parameter Manager aims to make management of sensitive application parameters effortless for customers without diminishing focus on security.",
  "version_module": true,
  "revision": "20260831"
}