{
  "discoveryVersion": "v1",
  "id": "people:v1",
  "name": "people",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/contacts.readonly": {
          "description": "See and download your contacts"
        },
        "https://www.googleapis.com/auth/user.emails.read": {
          "description": "See and download all of your Google Account email addresses"
        },
        "https://www.googleapis.com/auth/user.addresses.read": {
          "description": "View your street addresses"
        },
        "https://www.googleapis.com/auth/directory.readonly": {
          "description": "See and download your organization's Google Workspace directory"
        },
        "https://www.googleapis.com/auth/contacts.other.readonly": {
          "description": "See and download contact info automatically saved in your \"Other contacts\""
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        },
        "https://www.googleapis.com/auth/user.organization.read": {
          "description": "See your education, work history and org info"
        },
        "https://www.googleapis.com/auth/user.phonenumbers.read": {
          "description": "See and download your personal phone numbers"
        },
        "https://www.googleapis.com/auth/user.birthday.read": {
          "description": "See and download your exact date of birth"
        },
        "https://www.googleapis.com/auth/contacts": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.googleapis.com/auth/user.gender.read": {
          "description": "See your gender"
        },
        "https://www.googleapis.com/auth/userinfo.profile": {
          "description": "See your personal info, including any personal info you've made publicly available"
        }
      }
    }
  },
  "servicePath": "",
  "batchPath": "batch",
  "revision": "20260923",
  "description": "Provides access to information about profiles and contacts.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://people.googleapis.com/",
  "protocol": "rest",
  "basePath": "",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "ownerName": "Google",
  "resources": {
    "otherContacts": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ],
          "path": "v1/otherContacts",
          "id": "people.otherContacts.list",
          "response": {
            "$ref": "ListOtherContactsResponse"
          },
          "flatPath": "v1/otherContacts",
          "parameters": {
            "sources": {
              "type": "string",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT if not set. Possible values for this field are: * READ_SOURCE_TYPE_CONTACT * READ_SOURCE_TYPE_CONTACT,READ_SOURCE_TYPE_PROFILE Specifying READ_SOURCE_TYPE_PROFILE without specifying READ_SOURCE_TYPE_CONTACT is not permitted.",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "location": "query",
              "repeated": true
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `otherContacts.list` must match the first call that provided the page token.",
              "location": "query"
            },
            "syncToken": {
              "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `otherContacts.list` must match the first call that provided the sync token. More details about sync behavior at `otherContacts.list`.",
              "type": "string",
              "location": "query"
            },
            "requestSyncToken": {
              "description": "Optional. Whether the response should return `next_sync_token` on the last page of results. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `otherContacts.list`.",
              "type": "boolean",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "description": "Optional. The number of \"Other contacts\" to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0.",
              "location": "query",
              "format": "int32"
            },
            "readMask": {
              "type": "string",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. What values are valid depend on what ReadSourceType is used. If READ_SOURCE_TYPE_CONTACT is used, valid values are: * emailAddresses * metadata * names * phoneNumbers * photos If READ_SOURCE_TYPE_PROFILE is used, valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "description": "List all \"Other contacts\", that is contacts that are not in a contact group. \"Other contacts\" are typically auto created contacts from interactions. Sync tokens expire 7 days after the full sync. A request with an expired sync token will get an error with an [google.rpc.ErrorInfo](https://cloud.google.com/apis/design/errors#error_info) with reason \"EXPIRED_SYNC_TOKEN\". In the case of such an error clients should make a full sync request without a `sync_token`. The first page of a full sync request has an additional quota. If the quota is exceeded, a 429 error will be returned. This quota is fixed and can not be increased. When the `sync_token` is specified, resources deleted since the last sync will be returned as a person with `PersonMetadata.deleted` set to true. When the `page_token` or `sync_token` is specified, all other request parameters must match the first call. Writes may have a propagation delay of several minutes for sync requests. Incremental syncs are not intended for read-after-write use cases. See example usage at [List the user's other contacts that have changed](/people/v1/other-contacts#list_the_users_other_contacts_that_have_changed).",
          "parameterOrder": [],
          "httpMethod": "GET"
        },
        "search": {
          "scopes": [
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ],
          "description": "Provides a list of contacts in the authenticated user's other contacts that matches the search query. The query matches on a contact's `names`, `emailAddresses`, and `phoneNumbers` fields that are from the OTHER_CONTACT source. **IMPORTANT**: Before searching, clients should send a warmup request with an empty query to update the cache. See https://developers.google.com/people/v1/other-contacts#search_the_users_other_contacts",
          "parameterOrder": [],
          "httpMethod": "GET",
          "flatPath": "v1/otherContacts:search",
          "path": "v1/otherContacts:search",
          "response": {
            "$ref": "SearchResponse"
          },
          "id": "people.otherContacts.search",
          "parameters": {
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Optional. The number of results to return. Defaults to 10 if field is not set, or set to 0. Values greater than 30 will be capped to 30."
            },
            "readMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * emailAddresses * metadata * names * phoneNumbers"
            },
            "query": {
              "type": "string",
              "location": "query",
              "description": "Required. The plain-text query for the request. The query is used to match prefix phrases of the fields on a person. For example, a person with name \"foo name\" matches queries such as \"f\", \"fo\", \"foo\", \"foo n\", \"nam\", etc., but not \"oo n\"."
            }
          }
        },
        "copyOtherContactToMyContactsGroup": {
          "id": "people.otherContacts.copyOtherContactToMyContactsGroup",
          "request": {
            "$ref": "CopyOtherContactToMyContactsGroupRequest"
          },
          "description": "Copies an \"Other contact\" to a new contact in the user's \"myContacts\" group Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "response": {
            "$ref": "Person"
          },
          "path": "v1/{+resourceName}:copyOtherContactToMyContactsGroup",
          "parameters": {
            "resourceName": {
              "description": "Required. The resource name of the \"Other contact\" to copy.",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^otherContacts/[^/]+$"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceName"
          ],
          "flatPath": "v1/otherContacts/{otherContactsId}:copyOtherContactToMyContactsGroup",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ]
        }
      }
    },
    "contactGroups": {
      "resources": {
        "members": {
          "methods": {
            "modify": {
              "path": "v1/{+resourceName}/members:modify",
              "parameters": {
                "resourceName": {
                  "required": true,
                  "location": "path",
                  "pattern": "^contactGroups/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource name of the contact group to modify."
                }
              },
              "id": "people.contactGroups.members.modify",
              "parameterOrder": [
                "resourceName"
              ],
              "httpMethod": "POST",
              "description": "Modify the members of a contact group owned by the authenticated user. The only system contact groups that can have members added are `contactGroups/myContacts` and `contactGroups/starred`. Other system contact groups are deprecated and can only have contacts removed.",
              "flatPath": "v1/contactGroups/{contactGroupsId}/members:modify",
              "response": {
                "$ref": "ModifyContactGroupMembersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/contacts"
              ],
              "request": {
                "$ref": "ModifyContactGroupMembersRequest"
              }
            }
          }
        }
      },
      "methods": {
        "delete": {
          "parameters": {
            "deleteContacts": {
              "type": "boolean",
              "description": "Optional. Set to true to also delete the contacts in the specified group.",
              "location": "query"
            },
            "resourceName": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The resource name of the contact group to delete.",
              "pattern": "^contactGroups/[^/]+$"
            }
          },
          "description": "Delete an existing contact group owned by the authenticated user by specifying a contact group resource name. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "httpMethod": "DELETE",
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "path": "v1/{+resourceName}",
          "id": "people.contactGroups.delete",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "resourceName"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "id": "people.contactGroups.list",
          "description": "List all contact groups owned by the authenticated user. Members of the contact groups are not populated.",
          "parameterOrder": [],
          "path": "v1/contactGroups",
          "flatPath": "v1/contactGroups",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "Optional. The next_page_token value returned from a previous call to [ListContactGroups](/people/api/rest/v1/contactgroups/list). Requests the next page of resources.",
              "location": "query",
              "type": "string"
            },
            "syncToken": {
              "description": "Optional. A sync token, returned by a previous call to `contactgroups.list`. Only resources changed since the sync token was created will be returned.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "description": "Optional. The maximum number of resources to return. Valid values are between 1 and 1000, inclusive. Defaults to 30 if not set or set to 0.",
              "type": "integer",
              "location": "query"
            },
            "groupFields": {
              "format": "google-fieldmask",
              "location": "query",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ListContactGroupsResponse"
          }
        },
        "batchGet": {
          "parameterOrder": [],
          "response": {
            "$ref": "BatchGetContactGroupsResponse"
          },
          "description": "Get a list of contact groups owned by the authenticated user by specifying a list of contact group resource names.",
          "parameters": {
            "groupFields": {
              "format": "google-fieldmask",
              "location": "query",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "type": "string"
            },
            "resourceNames": {
              "description": "Required. The resource names of the contact groups to get. There is a maximum of 200 resource names.",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "maxMembers": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. Specifies the maximum number of members to return for each group. Defaults to 0 if not set, which will return zero members.",
              "location": "query"
            }
          },
          "id": "people.contactGroups.batchGet",
          "httpMethod": "GET",
          "path": "v1/contactGroups:batchGet",
          "flatPath": "v1/contactGroups:batchGet",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ContactGroup"
          },
          "id": "people.contactGroups.get",
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "parameters": {
            "resourceName": {
              "type": "string",
              "description": "Required. The resource name of the contact group to get.",
              "location": "path",
              "pattern": "^contactGroups/[^/]+$",
              "required": true
            },
            "maxMembers": {
              "location": "query",
              "type": "integer",
              "description": "Optional. Specifies the maximum number of members to return. Defaults to 0 if not set, which will return zero members.",
              "format": "int32"
            },
            "groupFields": {
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "format": "google-fieldmask",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Get a specific contact group owned by the authenticated user by specifying a contact group resource name.",
          "parameterOrder": [
            "resourceName"
          ],
          "path": "v1/{+resourceName}",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ]
        },
        "create": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "httpMethod": "POST",
          "parameters": {},
          "path": "v1/contactGroups",
          "description": "Create a new contact group owned by the authenticated user. Created contact group names must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "id": "people.contactGroups.create",
          "flatPath": "v1/contactGroups",
          "response": {
            "$ref": "ContactGroup"
          },
          "request": {
            "$ref": "CreateContactGroupRequest"
          }
        },
        "update": {
          "parameterOrder": [
            "resourceName"
          ],
          "path": "v1/{+resourceName}",
          "id": "people.contactGroups.update",
          "response": {
            "$ref": "ContactGroup"
          },
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "request": {
            "$ref": "UpdateContactGroupRequest"
          },
          "parameters": {
            "resourceName": {
              "pattern": "^contactGroups/[^/]+$",
              "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "description": "Update the name of an existing contact group owned by the authenticated user. Updated contact group names must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "httpMethod": "PUT"
        }
      }
    },
    "people": {
      "methods": {
        "batchCreateContacts": {
          "parameters": {},
          "description": "Create a batch of new contacts and return the PersonResponses for the newly Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "id": "people.people.batchCreateContacts",
          "httpMethod": "POST",
          "path": "v1/people:batchCreateContacts",
          "request": {
            "$ref": "BatchCreateContactsRequest"
          },
          "response": {
            "$ref": "BatchCreateContactsResponse"
          },
          "parameterOrder": [],
          "flatPath": "v1/people:batchCreateContacts",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ]
        },
        "listDirectoryPeople": {
          "flatPath": "v1/people:listDirectoryPeople",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/directory.readonly"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "ListDirectoryPeopleResponse"
          },
          "parameters": {
            "readMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "description": "Optional. The number of people to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0.",
              "type": "integer"
            },
            "mergeSources": {
              "type": "string",
              "enum": [
                "DIRECTORY_MERGE_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_MERGE_SOURCE_TYPE_CONTACT"
              ],
              "description": "Optional. Additional data to merge into the directory sources if they are connected through verified join keys such as email addresses or phone numbers.",
              "location": "query",
              "enumDescriptions": [
                "Unspecified.",
                "User owned contact."
              ],
              "repeated": true
            },
            "sources": {
              "description": "Required. Directory sources to return.",
              "enumDescriptions": [
                "Unspecified.",
                "Google Workspace domain shared contact.",
                "Google Workspace domain profile."
              ],
              "type": "string",
              "enum": [
                "DIRECTORY_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_CONTACT",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_PROFILE"
              ],
              "repeated": true,
              "location": "query"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `people.listDirectoryPeople` must match the first call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "syncToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `people.listDirectoryPeople` must match the first call that provided the sync token. More details about sync behavior at `people.listDirectoryPeople`."
            },
            "requestSyncToken": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. Whether the response should return `next_sync_token`. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `people.listDirectoryPeople`."
            }
          },
          "id": "people.people.listDirectoryPeople",
          "path": "v1/people:listDirectoryPeople",
          "description": "Provides a list of domain profiles and domain contacts in the authenticated user's domain directory. When the `sync_token` is specified, resources deleted since the last sync will be returned as a person with `PersonMetadata.deleted` set to true. When the `page_token` or `sync_token` is specified, all other request parameters must match the first call. Writes may have a propagation delay of several minutes for sync requests. Incremental syncs are not intended for read-after-write use cases. See example usage at [List the directory people that have changed](/people/v1/directory#list_the_directory_people_that_have_changed)."
        },
        "deleteContact": {
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "flatPath": "v1/people/{peopleId}:deleteContact",
          "path": "v1/{+resourceName}:deleteContact",
          "description": "Delete a contact person. Any non-contact data will not be deleted. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "response": {
            "$ref": "Empty"
          },
          "id": "people.people.deleteContact",
          "parameterOrder": [
            "resourceName"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "resourceName": {
              "type": "string",
              "pattern": "^people/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The resource name of the contact to delete."
            }
          }
        },
        "searchContacts": {
          "flatPath": "v1/people:searchContacts",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "parameters": {
            "query": {
              "location": "query",
              "type": "string",
              "description": "Required. The plain-text query for the request. The query is used to match prefix phrases of the fields on a person. For example, a person with name \"foo name\" matches queries such as \"f\", \"fo\", \"foo\", \"foo n\", \"nam\", etc., but not \"oo n\"."
            },
            "sources": {
              "type": "string",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "location": "query",
              "repeated": true,
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT if not set."
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Optional. The number of results to return. Defaults to 10 if field is not set, or set to 0. Values greater than 30 will be capped to 30."
            },
            "readMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
            }
          },
          "description": "Provides a list of contacts in the authenticated user's grouped contacts that matches the search query. The query matches on a contact's `names`, `nickNames`, `emailAddresses`, `phoneNumbers`, and `organizations` fields that are from the CONTACT source. **IMPORTANT**: Before searching, clients should send a warmup request with an empty query to update the cache. See https://developers.google.com/people/v1/contacts#search_the_users_contacts",
          "path": "v1/people:searchContacts",
          "parameterOrder": [],
          "httpMethod": "GET",
          "response": {
            "$ref": "SearchResponse"
          },
          "id": "people.people.searchContacts"
        },
        "searchDirectoryPeople": {
          "description": "Provides a list of domain profiles and domain contacts in the authenticated user's domain directory that match the search query.",
          "response": {
            "$ref": "SearchDirectoryPeopleResponse"
          },
          "flatPath": "v1/people:searchDirectoryPeople",
          "scopes": [
            "https://www.googleapis.com/auth/directory.readonly"
          ],
          "path": "v1/people:searchDirectoryPeople",
          "parameterOrder": [],
          "httpMethod": "GET",
          "id": "people.people.searchDirectoryPeople",
          "parameters": {
            "mergeSources": {
              "location": "query",
              "enumDescriptions": [
                "Unspecified.",
                "User owned contact."
              ],
              "repeated": true,
              "type": "string",
              "enum": [
                "DIRECTORY_MERGE_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_MERGE_SOURCE_TYPE_CONTACT"
              ],
              "description": "Optional. Additional data to merge into the directory sources if they are connected through verified join keys such as email addresses or phone numbers."
            },
            "sources": {
              "type": "string",
              "enum": [
                "DIRECTORY_SOURCE_TYPE_UNSPECIFIED",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_CONTACT",
                "DIRECTORY_SOURCE_TYPE_DOMAIN_PROFILE"
              ],
              "repeated": true,
              "location": "query",
              "enumDescriptions": [
                "Unspecified.",
                "Google Workspace domain shared contact.",
                "Google Workspace domain profile."
              ],
              "description": "Required. Directory sources to return."
            },
            "readMask": {
              "type": "string",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "format": "google-fieldmask",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Optional. The number of people to include in the response. Valid values are between 1 and 500, inclusive. Defaults to 100 if not set or set to 0."
            },
            "query": {
              "location": "query",
              "type": "string",
              "description": "Required. Prefix query that matches fields in the person. Does NOT use the read_mask for determining what fields to match."
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchDirectoryPeople` must match the first call that provided the page token.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "requestMask.includeField": {
              "format": "google-fieldmask",
              "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`.",
              "type": "string",
              "location": "query"
            },
            "resourceName": {
              "pattern": "^people/[^/]+$",
              "required": true,
              "description": "Required. The resource name of the person to provide information about. - To get information about the authenticated user, specify `people/me`. - To get information about a google account, specify `people/{account_id}`. - To get information about a contact, specify the resource name that identifies the contact as returned by `people.connections.list`.",
              "location": "path",
              "type": "string"
            },
            "sources": {
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_PROFILE and READ_SOURCE_TYPE_CONTACT if not set.",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "type": "string",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "location": "query",
              "repeated": true
            },
            "personFields": {
              "location": "query",
              "type": "string",
              "description": "Required. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "format": "google-fieldmask"
            }
          },
          "parameterOrder": [
            "resourceName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.other.readonly",
            "https://www.googleapis.com/auth/contacts.readonly",
            "https://www.googleapis.com/auth/directory.readonly",
            "https://www.googleapis.com/auth/user.addresses.read",
            "https://www.googleapis.com/auth/user.birthday.read",
            "https://www.googleapis.com/auth/user.emails.read",
            "https://www.googleapis.com/auth/user.gender.read",
            "https://www.googleapis.com/auth/user.organization.read",
            "https://www.googleapis.com/auth/user.phonenumbers.read",
            "https://www.googleapis.com/auth/userinfo.email",
            "https://www.googleapis.com/auth/userinfo.profile"
          ],
          "flatPath": "v1/people/{peopleId}",
          "description": "Provides information about a person by specifying a resource name. Use `people/me` to indicate the authenticated user. The request returns a 400 error if 'personFields' is not specified.",
          "path": "v1/{+resourceName}",
          "response": {
            "$ref": "Person"
          },
          "id": "people.people.get"
        },
        "getBatchGet": {
          "parameters": {
            "requestMask.includeField": {
              "type": "string",
              "location": "query",
              "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`.",
              "format": "google-fieldmask"
            },
            "resourceNames": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Required. The resource names of the people to provide information about. It's repeatable. The URL query parameter should be resourceNames=<name1>&resourceNames=<name2>&... - To get information about the authenticated user, specify `people/me`. - To get information about a google account, specify `people/{account_id}`. - To get information about a contact, specify the resource name that identifies the contact as returned by `people.connections.list`. There is a maximum of 200 resource names."
            },
            "sources": {
              "type": "string",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "repeated": true,
              "location": "query",
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ]
            },
            "personFields": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
            }
          },
          "id": "people.people.getBatchGet",
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Provides information about a list of specific people by specifying a list of requested resource names. Use `people/me` to indicate the authenticated user. The request returns a 400 error if 'personFields' is not specified.",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.other.readonly",
            "https://www.googleapis.com/auth/contacts.readonly",
            "https://www.googleapis.com/auth/directory.readonly",
            "https://www.googleapis.com/auth/user.addresses.read",
            "https://www.googleapis.com/auth/user.birthday.read",
            "https://www.googleapis.com/auth/user.emails.read",
            "https://www.googleapis.com/auth/user.gender.read",
            "https://www.googleapis.com/auth/user.organization.read",
            "https://www.googleapis.com/auth/user.phonenumbers.read",
            "https://www.googleapis.com/auth/userinfo.email",
            "https://www.googleapis.com/auth/userinfo.profile"
          ],
          "flatPath": "v1/people:batchGet",
          "path": "v1/people:batchGet",
          "response": {
            "$ref": "GetPeopleResponse"
          }
        },
        "batchUpdateContacts": {
          "parameters": {},
          "flatPath": "v1/people:batchUpdateContacts",
          "path": "v1/people:batchUpdateContacts",
          "response": {
            "$ref": "BatchUpdateContactsResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "people.people.batchUpdateContacts",
          "description": "Update a batch of contacts and return a map of resource names to PersonResponses for the updated contacts. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "request": {
            "$ref": "BatchUpdateContactsRequest"
          }
        },
        "updateContact": {
          "id": "people.people.updateContact",
          "path": "v1/{+resourceName}:updateContact",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Person"
          },
          "parameters": {
            "updatePersonFields": {
              "type": "string",
              "description": "Required. A field mask to restrict which fields on the person are updated. Multiple fields can be specified by separating them with commas. All updated fields will be replaced. Valid values are: * addresses * biographies * birthdays * calendarUrls * clientData * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * relations * sipAddresses * urls * userDefined",
              "location": "query",
              "format": "google-fieldmask"
            },
            "resourceName": {
              "type": "string",
              "pattern": "^people/[^/]+$",
              "required": true,
              "description": "The resource name for the person, assigned by the server. An ASCII string in the form of `people/{person_id}`.",
              "location": "path"
            },
            "sources": {
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "location": "query",
              "repeated": true,
              "type": "string",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set."
            },
            "personFields": {
              "format": "google-fieldmask",
              "type": "string",
              "description": "Optional. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Defaults to all fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query"
            }
          },
          "parameterOrder": [
            "resourceName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "flatPath": "v1/people/{peopleId}:updateContact",
          "response": {
            "$ref": "Person"
          },
          "description": "Update contact data for an existing contact person. Any non-contact data will not be modified. Any non-contact data in the person to update will be ignored. All fields specified in the `update_mask` will be replaced. The server returns a 400 error if `person.metadata.sources` is not specified for the contact to be updated or if there is no contact source. The server returns a 400 error with reason `\"failedPrecondition\"` if `person.metadata.sources.etag` is different than the contact's etag, which indicates the contact has changed since its data was read. Clients should get the latest person and merge their updates into the latest person. If making sequential updates to the same person, the etag from the `updateContact` response should be used to avoid failures. The server returns a 400 error if `memberships` are being updated and there are no contact group memberships specified on the person. The server returns a 400 error if more than one field is specified on a field that is a singleton for contact sources: * biographies * birthdays * genders * names Mutate requests for the same user should be sent sequentially to avoid increased latency and failures."
        },
        "createContact": {
          "parameters": {
            "sources": {
              "repeated": true,
              "location": "query",
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "type": "string",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ]
            },
            "personFields": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Defaults to all fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "path": "v1/people:createContact",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/people:createContact",
          "description": "Create a new contact and return the person resource for that contact. The request returns a 400 error if more than one field is specified on a field that is a singleton for contact sources: * biographies * birthdays * genders * names Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "request": {
            "$ref": "Person"
          },
          "id": "people.people.createContact",
          "response": {
            "$ref": "Person"
          }
        },
        "batchDeleteContacts": {
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "description": "Delete a batch of contacts. Any non-contact data will not be deleted. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "parameters": {},
          "httpMethod": "POST",
          "flatPath": "v1/people:batchDeleteContacts",
          "request": {
            "$ref": "BatchDeleteContactsRequest"
          },
          "path": "v1/people:batchDeleteContacts",
          "parameterOrder": [],
          "id": "people.people.batchDeleteContacts"
        },
        "deleteContactPhoto": {
          "id": "people.people.deleteContactPhoto",
          "path": "v1/{+resourceName}:deleteContactPhoto",
          "parameterOrder": [
            "resourceName"
          ],
          "description": "Delete a contact's photo. Mutate requests for the same user should be done sequentially to avoid // lock contention.",
          "parameters": {
            "sources": {
              "enumDescriptions": [
                "Unspecified.",
                "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                "Returns SourceType.CONTACT.",
                "Returns SourceType.DOMAIN_CONTACT.",
                "Returns SourceType.OTHER_CONTACT."
              ],
              "type": "string",
              "enum": [
                "READ_SOURCE_TYPE_UNSPECIFIED",
                "READ_SOURCE_TYPE_PROFILE",
                "READ_SOURCE_TYPE_CONTACT",
                "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                "READ_SOURCE_TYPE_OTHER_CONTACT"
              ],
              "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
              "repeated": true,
              "location": "query"
            },
            "personFields": {
              "type": "string",
              "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to empty if not set, which will skip the post mutate get. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
              "location": "query",
              "format": "google-fieldmask"
            },
            "resourceName": {
              "description": "Required. The resource name of the contact whose photo will be deleted.",
              "location": "path",
              "pattern": "^people/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "DeleteContactPhotoResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "flatPath": "v1/people/{peopleId}:deleteContactPhoto",
          "httpMethod": "DELETE"
        },
        "updateContactPhoto": {
          "httpMethod": "PATCH",
          "response": {
            "$ref": "UpdateContactPhotoResponse"
          },
          "parameters": {
            "resourceName": {
              "location": "path",
              "description": "Required. Person resource name",
              "type": "string",
              "required": true,
              "pattern": "^people/[^/]+$"
            }
          },
          "parameterOrder": [
            "resourceName"
          ],
          "flatPath": "v1/people/{peopleId}:updateContactPhoto",
          "path": "v1/{+resourceName}:updateContactPhoto",
          "description": "Update a contact's photo. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "id": "people.people.updateContactPhoto",
          "request": {
            "$ref": "UpdateContactPhotoRequest"
          }
        }
      },
      "resources": {
        "connections": {
          "methods": {
            "list": {
              "parameterOrder": [
                "resourceName"
              ],
              "path": "v1/{+resourceName}/connections",
              "flatPath": "v1/people/{peopleId}/connections",
              "response": {
                "$ref": "ListConnectionsResponse"
              },
              "description": "Provides a list of the authenticated user's contacts. Sync tokens expire 7 days after the full sync. A request with an expired sync token will get an error with an [google.rpc.ErrorInfo](https://cloud.google.com/apis/design/errors#error_info) with reason \"EXPIRED_SYNC_TOKEN\". In the case of such an error clients should make a full sync request without a `sync_token`. The first page of a full sync request has an additional quota. If the quota is exceeded, a 429 error will be returned. This quota is fixed and can not be increased. When the `sync_token` is specified, resources deleted since the last sync will be returned as a person with `PersonMetadata.deleted` set to true. When the `page_token` or `sync_token` is specified, all other request parameters must match the first call. Writes may have a propagation delay of several minutes for sync requests. Incremental syncs are not intended for read-after-write use cases. See example usage at [List the user's contacts that have changed](/people/v1/contacts#list_the_users_contacts_that_have_changed).",
              "scopes": [
                "https://www.googleapis.com/auth/contacts",
                "https://www.googleapis.com/auth/contacts.readonly"
              ],
              "parameters": {
                "resourceName": {
                  "type": "string",
                  "description": "Required. The resource name to return connections for. Only `people/me` is valid.",
                  "location": "path",
                  "required": true,
                  "pattern": "^people/[^/]+$"
                },
                "sources": {
                  "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
                  "repeated": true,
                  "location": "query",
                  "enumDescriptions": [
                    "Unspecified.",
                    "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
                    "Returns SourceType.CONTACT.",
                    "Returns SourceType.DOMAIN_CONTACT.",
                    "Returns SourceType.OTHER_CONTACT."
                  ],
                  "type": "string",
                  "enum": [
                    "READ_SOURCE_TYPE_UNSPECIFIED",
                    "READ_SOURCE_TYPE_PROFILE",
                    "READ_SOURCE_TYPE_CONTACT",
                    "READ_SOURCE_TYPE_DOMAIN_CONTACT",
                    "READ_SOURCE_TYPE_OTHER_CONTACT"
                  ]
                },
                "sortOrder": {
                  "enumDescriptions": [
                    "Sort people by when they were changed; older entries first.",
                    "Sort people by when they were changed; newer entries first.",
                    "Sort people by first name.",
                    "Sort people by last name."
                  ],
                  "type": "string",
                  "enum": [
                    "LAST_MODIFIED_ASCENDING",
                    "LAST_MODIFIED_DESCENDING",
                    "FIRST_NAME_ASCENDING",
                    "LAST_NAME_ASCENDING"
                  ],
                  "description": "Optional. The order in which the connections should be sorted. Defaults to `LAST_MODIFIED_ASCENDING`.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The number of connections to include in the response. Valid values are between 1 and 1000, inclusive. Defaults to 100 if not set or set to 0.",
                  "type": "integer",
                  "format": "int32"
                },
                "requestMask.includeField": {
                  "type": "string",
                  "description": "Required. Comma-separated list of person fields to be included in the response. Each path should start with `person.`: for example, `person.names` or `person.photos`.",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "requestSyncToken": {
                  "description": "Optional. Whether the response should return `next_sync_token` on the last page of results. It can be used to get incremental changes since the last request by setting it on the request `sync_token`. More details about sync behavior at `people.connections.list`.",
                  "type": "boolean",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous response `next_page_token`. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `people.connections.list` must match the first call that provided the page token.",
                  "type": "string"
                },
                "syncToken": {
                  "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `people.connections.list` must match the first call that provided the sync token. More details about sync behavior at `people.connections.list`.",
                  "type": "string",
                  "location": "query"
                },
                "personFields": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
                  "type": "string"
                }
              },
              "id": "people.people.connections.list",
              "httpMethod": "GET"
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "schemas": {
    "Nickname": {
      "id": "Nickname",
      "description": "A person's nickname.",
      "properties": {
        "value": {
          "description": "The nickname.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the nickname.",
          "$ref": "FieldMetadata"
        },
        "type": {
          "enumDescriptions": [
            "Generic nickname.",
            "Maiden name or birth family name. Used when the person's family name has changed as a result of marriage.",
            "Initials.",
            "Google+ profile nickname.",
            "A professional affiliation or other name; for example, `Dr. Smith.`",
            "Alternate name person is known by.",
            "A shorter version of the person's name."
          ],
          "description": "The type of the nickname.",
          "type": "string",
          "enum": [
            "DEFAULT",
            "MAIDEN_NAME",
            "INITIALS",
            "GPLUS",
            "OTHER_NAME",
            "ALTERNATE_NAME",
            "SHORT_NAME"
          ],
          "enumDeprecated": [
            false,
            true,
            true,
            true,
            true,
            false,
            true
          ]
        }
      },
      "type": "object"
    },
    "Organization": {
      "description": "A person's past or current organization. Overlapping date ranges are permitted.",
      "id": "Organization",
      "type": "object",
      "properties": {
        "title": {
          "description": "The person's job title at the organization.",
          "type": "string"
        },
        "type": {
          "description": "The type of the organization. The type can be custom or one of these predefined values: * `work` * `school`",
          "type": "string"
        },
        "symbol": {
          "type": "string",
          "description": "The symbol associated with the organization; for example, a stock ticker symbol, abbreviation, or acronym."
        },
        "department": {
          "description": "The person's department at the organization.",
          "type": "string"
        },
        "fullTimeEquivalentMillipercent": {
          "type": "integer",
          "format": "int32",
          "description": "The person's full-time equivalent millipercent within the organization (100000 = 100%)."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the organization."
        },
        "jobDescription": {
          "description": "The person's job description at the organization.",
          "type": "string"
        },
        "phoneticName": {
          "description": "The phonetic name of the organization.",
          "type": "string"
        },
        "startDate": {
          "$ref": "Date",
          "description": "The start date when the person joined the organization."
        },
        "name": {
          "description": "The name of the organization.",
          "type": "string"
        },
        "costCenter": {
          "type": "string",
          "description": "The person's cost center at the organization."
        },
        "domain": {
          "description": "The domain name associated with the organization; for example, `google.com`.",
          "type": "string"
        },
        "endDate": {
          "description": "The end date when the person left the organization.",
          "$ref": "Date"
        },
        "location": {
          "description": "The location of the organization office the person works at.",
          "type": "string"
        },
        "formattedType": {
          "description": "Output only. The type of the organization translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "current": {
          "description": "True if the organization is the person's current organization; false if the organization is a past organization.",
          "type": "boolean"
        }
      }
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Source": {
      "id": "Source",
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. **Only populated in `person.metadata.sources`.** Last update timestamp of this source.",
          "type": "string",
          "format": "google-datetime"
        },
        "profileMetadata": {
          "$ref": "ProfileMetadata",
          "description": "Output only. **Only populated in `person.metadata.sources`.** Metadata about a source of type PROFILE.",
          "readOnly": true
        },
        "type": {
          "description": "The source type.",
          "enumDescriptions": [
            "Unspecified.",
            "[Google Account](https://accounts.google.com).",
            "[Google profile](https://profiles.google.com). You can view the profile at [https://profiles.google.com/](https://profiles.google.com/){id}, where {id} is the source id.",
            "[Google Workspace domain profile](https://support.google.com/a/answer/1628008).",
            "[Google contact](https://contacts.google.com). You can view the contact at [https://contact.google.com/](https://contact.google.com/){id}, where {id} is the source id.",
            "[Google \"Other contact\"](https://contacts.google.com/other).",
            "[Google Workspace domain shared contact](https://support.google.com/a/answer/9281635)."
          ],
          "type": "string",
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "ACCOUNT",
            "PROFILE",
            "DOMAIN_PROFILE",
            "CONTACT",
            "OTHER_CONTACT",
            "DOMAIN_CONTACT"
          ]
        },
        "etag": {
          "type": "string",
          "description": "**Only populated in `person.metadata.sources`.** The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the source. Used for web cache validation."
        },
        "id": {
          "description": "The unique identifier within the source type generated by the server.",
          "type": "string"
        }
      },
      "description": "The source of a field."
    },
    "ModifyContactGroupMembersRequest": {
      "properties": {
        "resourceNamesToRemove": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The resource names of the contact people to remove in the form of `people/{person_id}`. The total number of resource names in `resource_names_to_add` and `resource_names_to_remove` must be less than or equal to 1000.",
          "type": "array"
        },
        "resourceNamesToAdd": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The resource names of the contact people to add in the form of `people/{person_id}`. The total number of resource names in `resource_names_to_add` and `resource_names_to_remove` must be less than or equal to 1000."
        }
      },
      "type": "object",
      "description": "A request to modify an existing contact group's members. Contacts can be removed from any group but they can only be added to a user group or \"myContacts\" or \"starred\" system groups.",
      "id": "ModifyContactGroupMembersRequest"
    },
    "PersonResponse": {
      "id": "PersonResponse",
      "properties": {
        "person": {
          "$ref": "Person",
          "description": "The person."
        },
        "status": {
          "description": "The status of the response.",
          "$ref": "Status"
        },
        "requestedResourceName": {
          "type": "string",
          "description": "The original requested resource name. May be different than the resource name on the returned person. The resource name can change when adding or removing fields that link a contact and profile such as a verified email, verified phone number, or a profile URL."
        },
        "httpStatusCode": {
          "format": "int32",
          "description": "**DEPRECATED** (Please use status instead) [HTTP 1.1 status code] (http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html).",
          "deprecated": true,
          "type": "integer"
        }
      },
      "description": "The response for a single person",
      "type": "object"
    },
    "ListDirectoryPeopleResponse": {
      "id": "ListDirectoryPeopleResponse",
      "description": "The response to a request for the authenticated user's domain directory.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "nextSyncToken": {
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token.",
          "type": "string"
        },
        "people": {
          "description": "The list of people in the domain directory.",
          "items": {
            "$ref": "Person"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListOtherContactsResponse": {
      "properties": {
        "otherContacts": {
          "items": {
            "$ref": "Person"
          },
          "description": "The list of \"Other contacts\" returned as Person resources. \"Other contacts\" support a limited subset of fields. See ListOtherContactsRequest.request_mask for more detailed information.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "totalSize": {
          "description": "The total number of other contacts in the list without pagination.",
          "type": "integer",
          "format": "int32"
        },
        "nextSyncToken": {
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token.",
          "type": "string"
        }
      },
      "id": "ListOtherContactsResponse",
      "type": "object",
      "description": "The response to a request for the authenticated user's \"Other contacts\"."
    },
    "EmailAddress": {
      "properties": {
        "value": {
          "description": "The email address.",
          "type": "string"
        },
        "type": {
          "description": "The type of the email address. The type can be custom or one of these predefined values: * `home` * `work` * `other`",
          "type": "string"
        },
        "formattedType": {
          "description": "Output only. The type of the email address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "The display name of the email.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the email address.",
          "$ref": "FieldMetadata"
        }
      },
      "id": "EmailAddress",
      "type": "object",
      "description": "A person's email address."
    },
    "Photo": {
      "properties": {
        "url": {
          "description": "The URL of the photo. You can change the desired size by appending a query parameter `sz={size}` at the end of the url, where {size} is the size in pixels. Example: https://lh3.googleusercontent.com/-T_wVWLlmg7w/AAAAAAAAAAI/AAAAAAAABa8/00gzXvDBYqw/s100/photo.jpg?sz=50",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the photo.",
          "$ref": "FieldMetadata"
        },
        "default": {
          "type": "boolean",
          "description": "True if the photo is a default photo; false if the photo is a user-provided photo."
        }
      },
      "description": "A person's photo. A picture shown next to the person's name to help others recognize the person.",
      "id": "Photo",
      "type": "object"
    },
    "Person": {
      "type": "object",
      "description": "Information about a person merged from various data sources such as the authenticated user's contacts and profile data. Most fields can have multiple items. The items in a field have no guaranteed order, but each non-empty field is guaranteed to have exactly one field with `metadata.primary` set to true.",
      "properties": {
        "externalIds": {
          "type": "array",
          "items": {
            "$ref": "ExternalId"
          },
          "description": "The person's external IDs."
        },
        "occupations": {
          "description": "The person's occupations.",
          "items": {
            "$ref": "Occupation"
          },
          "type": "array"
        },
        "metadata": {
          "readOnly": true,
          "$ref": "PersonMetadata",
          "description": "Output only. Metadata about the person."
        },
        "phoneNumbers": {
          "type": "array",
          "items": {
            "$ref": "PhoneNumber"
          },
          "description": "The person's phone numbers. For `people.connections.list` and `otherContacts.list` the number of phone numbers is limited to 100. If a Person has more phone numbers the entire set can be obtained by calling GetPeople."
        },
        "coverPhotos": {
          "readOnly": true,
          "description": "Output only. The person's cover photos.",
          "items": {
            "$ref": "CoverPhoto"
          },
          "type": "array"
        },
        "clientData": {
          "description": "The person's client data.",
          "type": "array",
          "items": {
            "$ref": "ClientData"
          }
        },
        "emailAddresses": {
          "type": "array",
          "items": {
            "$ref": "EmailAddress"
          },
          "description": "The person's email addresses. For `people.connections.list` and `otherContacts.list` the number of email addresses is limited to 100. If a Person has more email addresses the entire set can be obtained by calling GetPeople."
        },
        "imClients": {
          "description": "The person's instant messaging clients.",
          "type": "array",
          "items": {
            "$ref": "ImClient"
          }
        },
        "skills": {
          "type": "array",
          "description": "The person's skills.",
          "items": {
            "$ref": "Skill"
          }
        },
        "relationshipStatuses": {
          "description": "Output only. **DEPRECATED**: No data will be returned The person's relationship statuses.",
          "deprecated": true,
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "RelationshipStatus"
          }
        },
        "ageRange": {
          "enumDescriptions": [
            "Unspecified.",
            "Younger than eighteen.",
            "Between eighteen and twenty.",
            "Twenty-one and older."
          ],
          "type": "string",
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "LESS_THAN_EIGHTEEN",
            "EIGHTEEN_TO_TWENTY",
            "TWENTY_ONE_OR_OLDER"
          ],
          "description": "Output only. **DEPRECATED** (Please use `person.ageRanges` instead) The person's age range.",
          "deprecated": true,
          "readOnly": true
        },
        "sipAddresses": {
          "type": "array",
          "items": {
            "$ref": "SipAddress"
          },
          "description": "The person's SIP addresses."
        },
        "locations": {
          "description": "The person's locations.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "locales": {
          "description": "The person's locale preferences.",
          "items": {
            "$ref": "Locale"
          },
          "type": "array"
        },
        "nicknames": {
          "type": "array",
          "description": "The person's nicknames.",
          "items": {
            "$ref": "Nickname"
          }
        },
        "residences": {
          "type": "array",
          "description": "**DEPRECATED**: (Please use `person.locations` instead) The person's residences.",
          "deprecated": true,
          "items": {
            "$ref": "Residence"
          }
        },
        "events": {
          "items": {
            "$ref": "Event"
          },
          "description": "The person's events.",
          "type": "array"
        },
        "photos": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Photo"
          },
          "description": "Output only. The person's photos."
        },
        "urls": {
          "items": {
            "$ref": "Url"
          },
          "type": "array",
          "description": "The person's associated URLs."
        },
        "relationshipInterests": {
          "type": "array",
          "readOnly": true,
          "deprecated": true,
          "description": "Output only. **DEPRECATED**: No data will be returned The person's relationship interests.",
          "items": {
            "$ref": "RelationshipInterest"
          }
        },
        "braggingRights": {
          "items": {
            "$ref": "BraggingRights"
          },
          "deprecated": true,
          "description": "**DEPRECATED**: No data will be returned The person's bragging rights.",
          "type": "array"
        },
        "birthdays": {
          "type": "array",
          "items": {
            "$ref": "Birthday"
          },
          "description": "The person's birthdays. This field is a singleton for contact sources."
        },
        "genders": {
          "description": "The person's genders. This field is a singleton for contact sources.",
          "items": {
            "$ref": "Gender"
          },
          "type": "array"
        },
        "memberships": {
          "description": "The person's group memberships.",
          "items": {
            "$ref": "Membership"
          },
          "type": "array"
        },
        "addresses": {
          "type": "array",
          "description": "The person's street addresses.",
          "items": {
            "$ref": "Address"
          }
        },
        "organizations": {
          "items": {
            "$ref": "Organization"
          },
          "type": "array",
          "description": "The person's past or current organizations."
        },
        "interests": {
          "type": "array",
          "description": "The person's interests.",
          "items": {
            "$ref": "Interest"
          }
        },
        "miscKeywords": {
          "items": {
            "$ref": "MiscKeyword"
          },
          "type": "array",
          "description": "The person's miscellaneous keywords."
        },
        "taglines": {
          "readOnly": true,
          "type": "array",
          "deprecated": true,
          "description": "Output only. **DEPRECATED**: No data will be returned The person's taglines.",
          "items": {
            "$ref": "Tagline"
          }
        },
        "ageRanges": {
          "type": "array",
          "description": "Output only. The person's age ranges.",
          "readOnly": true,
          "items": {
            "$ref": "AgeRangeType"
          }
        },
        "biographies": {
          "items": {
            "$ref": "Biography"
          },
          "description": "The person's biographies. This field is a singleton for contact sources.",
          "type": "array"
        },
        "fileAses": {
          "type": "array",
          "items": {
            "$ref": "FileAs"
          },
          "description": "The person's file-ases."
        },
        "relations": {
          "type": "array",
          "description": "The person's relations.",
          "items": {
            "$ref": "Relation"
          }
        },
        "resourceName": {
          "type": "string",
          "description": "The resource name for the person, assigned by the server. An ASCII string in the form of `people/{person_id}`."
        },
        "names": {
          "description": "The person's names. This field is a singleton for contact sources.",
          "type": "array",
          "items": {
            "$ref": "Name"
          }
        },
        "calendarUrls": {
          "type": "array",
          "items": {
            "$ref": "CalendarUrl"
          },
          "description": "The person's calendar URLs."
        },
        "etag": {
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation.",
          "type": "string"
        },
        "userDefined": {
          "items": {
            "$ref": "UserDefined"
          },
          "description": "The person's user defined data.",
          "type": "array"
        }
      },
      "id": "Person"
    },
    "SearchDirectoryPeopleResponse": {
      "properties": {
        "people": {
          "description": "The list of people in the domain directory that match the query.",
          "type": "array",
          "items": {
            "$ref": "Person"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of items in the list without pagination."
        }
      },
      "description": "The response to a request for people in the authenticated user's domain directory that match the specified query.",
      "type": "object",
      "id": "SearchDirectoryPeopleResponse"
    },
    "UpdateContactGroupRequest": {
      "properties": {
        "contactGroup": {
          "$ref": "ContactGroup",
          "description": "Required. The contact group to update."
        },
        "updateGroupFields": {
          "description": "Optional. A field mask to restrict which fields on the group are updated. Multiple fields can be specified by separating them with commas. Defaults to `name` if not set or set to empty. Updated fields are replaced. Valid values are: * clientData * name",
          "type": "string",
          "format": "google-fieldmask"
        },
        "readGroupFields": {
          "type": "string",
          "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
          "format": "google-fieldmask"
        }
      },
      "id": "UpdateContactGroupRequest",
      "description": "A request to update an existing user contact group. All updated fields will be replaced.",
      "type": "object"
    },
    "CalendarUrl": {
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the calendar URL.",
          "$ref": "FieldMetadata"
        },
        "formattedType": {
          "description": "Output only. The type of the calendar URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "The type of the calendar URL. The type can be custom or one of these predefined values: * `home` * `freeBusy` * `work`",
          "type": "string"
        },
        "url": {
          "description": "The calendar URL.",
          "type": "string"
        }
      },
      "description": "A person's calendar URL.",
      "id": "CalendarUrl"
    },
    "Name": {
      "type": "object",
      "description": "A person's name. If the name is a mononym, the family name is empty.",
      "id": "Name",
      "properties": {
        "honorificSuffix": {
          "type": "string",
          "description": "The honorific suffixes, such as `Jr.`"
        },
        "givenName": {
          "type": "string",
          "description": "The given name."
        },
        "unstructuredName": {
          "type": "string",
          "description": "The free form name value."
        },
        "familyName": {
          "description": "The family name.",
          "type": "string"
        },
        "phoneticHonorificSuffix": {
          "type": "string",
          "description": "The honorific suffixes spelled as they sound."
        },
        "metadata": {
          "description": "Metadata about the name.",
          "$ref": "FieldMetadata"
        },
        "middleName": {
          "description": "The middle name(s).",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header."
        },
        "phoneticFullName": {
          "description": "The full name spelled as it sounds.",
          "type": "string"
        },
        "phoneticMiddleName": {
          "description": "The middle name(s) spelled as they sound.",
          "type": "string"
        },
        "displayNameLastFirst": {
          "description": "Output only. The display name with the last name first formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header.",
          "type": "string",
          "readOnly": true
        },
        "phoneticHonorificPrefix": {
          "type": "string",
          "description": "The honorific prefixes spelled as they sound."
        },
        "phoneticGivenName": {
          "type": "string",
          "description": "The given name spelled as it sounds."
        },
        "honorificPrefix": {
          "type": "string",
          "description": "The honorific prefixes, such as `Mrs.` or `Dr.`"
        },
        "phoneticFamilyName": {
          "type": "string",
          "description": "The family name spelled as it sounds."
        }
      }
    },
    "Occupation": {
      "id": "Occupation",
      "properties": {
        "value": {
          "description": "The occupation; for example, `carpenter`.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the occupation."
        }
      },
      "type": "object",
      "description": "A person's occupation."
    },
    "ContactGroup": {
      "description": "A contact group.",
      "id": "ContactGroup",
      "properties": {
        "name": {
          "description": "The contact group name set by the group owner or a system provided name for system groups. For [`contactGroups.create`](/people/api/rest/v1/contactGroups/create) or [`contactGroups.update`](/people/api/rest/v1/contactGroups/update) the name must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error.",
          "type": "string"
        },
        "etag": {
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation.",
          "type": "string"
        },
        "formattedName": {
          "description": "Output only. The name translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale for system groups names. Group names set by the owner are the same as name.",
          "type": "string",
          "readOnly": true
        },
        "resourceName": {
          "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`.",
          "type": "string"
        },
        "memberResourceNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The list of contact person resource names that are members of the contact group. The field is only populated for GET requests and will only return as many members as `maxMembers` in the get request.",
          "readOnly": true
        },
        "groupType": {
          "type": "string",
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "USER_CONTACT_GROUP",
            "SYSTEM_CONTACT_GROUP"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "User defined contact group.",
            "System defined contact group."
          ],
          "description": "Output only. The contact group type.",
          "readOnly": true
        },
        "memberCount": {
          "format": "int32",
          "description": "Output only. The total number of contacts in the group irrespective of max members in specified in the request.",
          "readOnly": true,
          "type": "integer"
        },
        "metadata": {
          "readOnly": true,
          "$ref": "ContactGroupMetadata",
          "description": "Output only. Metadata about the contact group."
        },
        "clientData": {
          "items": {
            "$ref": "GroupClientData"
          },
          "type": "array",
          "description": "The group's client data."
        }
      },
      "type": "object"
    },
    "Birthday": {
      "properties": {
        "text": {
          "type": "string",
          "deprecated": true,
          "description": "Prefer to use the `date` field if set. A free-form string representing the user's birthday. This value is not validated."
        },
        "date": {
          "$ref": "Date",
          "description": "The structured date of the birthday."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the birthday."
        }
      },
      "id": "Birthday",
      "type": "object",
      "description": "A person's birthday. At least one of the `date` and `text` fields are specified. The `date` and `text` fields typically represent the same date, but are not guaranteed to. Clients should always set the `date` field when mutating birthdays."
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "CreateContactGroupRequest": {
      "id": "CreateContactGroupRequest",
      "type": "object",
      "description": "A request to create a new contact group.",
      "properties": {
        "contactGroup": {
          "$ref": "ContactGroup",
          "description": "Required. The contact group to create."
        },
        "readGroupFields": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * metadata * name"
        }
      }
    },
    "BatchCreateContactsResponse": {
      "type": "object",
      "properties": {
        "createdPeople": {
          "items": {
            "$ref": "PersonResponse"
          },
          "type": "array",
          "description": "The contacts that were created, unless the request `read_mask` is empty."
        }
      },
      "description": "If not successful, returns BatchCreateContactsErrorDetails which contains a list of errors for each invalid contact. The response to a request to create a batch of contacts.",
      "id": "BatchCreateContactsResponse"
    },
    "Membership": {
      "type": "object",
      "properties": {
        "domainMembership": {
          "readOnly": true,
          "description": "Output only. The domain membership.",
          "$ref": "DomainMembership"
        },
        "contactGroupMembership": {
          "description": "The contact group membership.",
          "$ref": "ContactGroupMembership"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the membership."
        }
      },
      "id": "Membership",
      "description": "A person's membership in a group. Only contact group memberships can be modified."
    },
    "FieldMetadata": {
      "properties": {
        "source": {
          "description": "The source of the field.",
          "$ref": "Source"
        },
        "sourcePrimary": {
          "type": "boolean",
          "description": "True if the field is the primary field for the source. Each source must have at most one field with `source_primary` set to true."
        },
        "primary": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. True if the field is the primary field for all sources in the person. Each person will have at most one field with `primary` set to true."
        },
        "verified": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. True if the field is verified; false if the field is unverified. A verified field is typically a name, email address, phone number, or website that has been confirmed to be owned by the person."
        }
      },
      "description": "Metadata about a field.",
      "id": "FieldMetadata",
      "type": "object"
    },
    "Biography": {
      "id": "Biography",
      "description": "A person's short biography.",
      "type": "object",
      "properties": {
        "contentType": {
          "enumDescriptions": [
            "Unspecified.",
            "Plain text.",
            "HTML text."
          ],
          "description": "The content type of the biography.",
          "type": "string",
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "TEXT_PLAIN",
            "TEXT_HTML"
          ]
        },
        "value": {
          "type": "string",
          "description": "The short biography."
        },
        "metadata": {
          "description": "Metadata about the biography.",
          "$ref": "FieldMetadata"
        }
      }
    },
    "Skill": {
      "type": "object",
[...]
