{
  "title": "People API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Provides access to information about profiles and contacts.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/contacts.other.readonly": {
          "description": "See and download contact info automatically saved in your \"Other contacts\""
        },
        "https://www.googleapis.com/auth/user.addresses.read": {
          "description": "View your street addresses"
        },
        "https://www.googleapis.com/auth/user.phonenumbers.read": {
          "description": "See and download your personal phone numbers"
        },
        "https://www.googleapis.com/auth/user.emails.read": {
          "description": "See and download all of your Google Account email addresses"
        },
        "https://www.googleapis.com/auth/directory.readonly": {
          "description": "See and download your organization's Google Workspace directory"
        },
        "https://www.googleapis.com/auth/user.gender.read": {
          "description": "See your gender"
        },
        "https://www.googleapis.com/auth/userinfo.email": {
          "description": "See your primary Google Account email address"
        },
        "https://www.googleapis.com/auth/contacts.readonly": {
          "description": "See and download your contacts"
        },
        "https://www.googleapis.com/auth/contacts": {
          "description": "See, edit, download, and permanently delete your contacts"
        },
        "https://www.googleapis.com/auth/user.birthday.read": {
          "description": "See and download your exact date of birth"
        },
        "https://www.googleapis.com/auth/userinfo.profile": {
          "description": "See your personal info, including any personal info you've made publicly available"
        },
        "https://www.googleapis.com/auth/user.organization.read": {
          "description": "See your education, work history and org info"
        }
      }
    }
  },
  "mtlsRootUrl": "https://people.mtls.googleapis.com/",
  "baseUrl": "https://people.googleapis.com/",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "ownerName": "Google",
  "protocol": "rest",
  "version": "v1",
  "discoveryVersion": "v1",
  "canonicalName": "People Service",
  "ownerDomain": "google.com",
  "rootUrl": "https://people.googleapis.com/",
  "batchPath": "batch",
  "schemas": {
    "PhoneNumber": {
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the phone number. The type can be custom or one of these predefined values: * `home` * `work` * `mobile` * `homeFax` * `workFax` * `otherFax` * `pager` * `workMobile` * `workPager` * `main` * `googleVoice` * `other`"
        },
        "value": {
          "type": "string",
          "description": "The phone number."
        },
        "canonicalForm": {
          "type": "string",
          "description": "Output only. The canonicalized [ITU-T E.164](https://law.resource.org/pub/us/cfr/ibr/004/itu-t.E.164.1.2008.pdf) form of the phone number.",
          "readOnly": true
        },
        "metadata": {
          "description": "Metadata about the phone number.",
          "$ref": "FieldMetadata"
        },
        "formattedType": {
          "description": "Output only. The type of the phone number translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "PhoneNumber",
      "description": "A person's phone number."
    },
    "Person": {
      "type": "object",
      "description": "Information about a person merged from various data sources such as the authenticated user's contacts and profile data. Most fields can have multiple items. The items in a field have no guaranteed order, but each non-empty field is guaranteed to have exactly one field with `metadata.primary` set to true.",
      "properties": {
        "externalIds": {
          "description": "The person's external IDs.",
          "items": {
            "$ref": "ExternalId"
          },
          "type": "array"
        },
        "metadata": {
          "description": "Output only. Metadata about the person.",
          "readOnly": true,
          "$ref": "PersonMetadata"
        },
        "coverPhotos": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The person's cover photos.",
          "items": {
            "$ref": "CoverPhoto"
          }
        },
        "names": {
          "description": "The person's names. This field is a singleton for contact sources.",
          "type": "array",
          "items": {
            "$ref": "Name"
          }
        },
        "taglines": {
          "items": {
            "$ref": "Tagline"
          },
          "deprecated": true,
          "readOnly": true,
          "type": "array",
          "description": "Output only. **DEPRECATED**: No data will be returned The person's taglines."
        },
        "urls": {
          "items": {
            "$ref": "Url"
          },
          "type": "array",
          "description": "The person's associated URLs."
        },
        "locales": {
          "type": "array",
          "description": "The person's locale preferences.",
          "items": {
            "$ref": "Locale"
          }
        },
        "biographies": {
          "items": {
            "$ref": "Biography"
          },
          "type": "array",
          "description": "The person's biographies. This field is a singleton for contact sources."
        },
        "phoneNumbers": {
          "description": "The person's phone numbers. For `people.connections.list` and `otherContacts.list` the number of phone numbers is limited to 100. If a Person has more phone numbers the entire set can be obtained by calling GetPeople.",
          "type": "array",
          "items": {
            "$ref": "PhoneNumber"
          }
        },
        "relationshipStatuses": {
          "readOnly": true,
          "items": {
            "$ref": "RelationshipStatus"
          },
          "description": "Output only. **DEPRECATED**: No data will be returned The person's relationship statuses.",
          "deprecated": true,
          "type": "array"
        },
        "resourceName": {
          "description": "The resource name for the person, assigned by the server. An ASCII string in the form of `people/{person_id}`.",
          "type": "string"
        },
        "ageRanges": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The person's age ranges.",
          "items": {
            "$ref": "AgeRangeType"
          }
        },
        "photos": {
          "description": "Output only. The person's photos.",
          "type": "array",
          "items": {
            "$ref": "Photo"
          },
          "readOnly": true
        },
        "memberships": {
          "type": "array",
          "items": {
            "$ref": "Membership"
          },
          "description": "The person's group memberships."
        },
        "locations": {
          "description": "The person's locations.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "relations": {
          "type": "array",
          "description": "The person's relations.",
          "items": {
            "$ref": "Relation"
          }
        },
        "occupations": {
          "description": "The person's occupations.",
          "type": "array",
          "items": {
            "$ref": "Occupation"
          }
        },
        "ageRange": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Younger than eighteen.",
            "Between eighteen and twenty.",
            "Twenty-one and older."
          ],
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "LESS_THAN_EIGHTEEN",
            "EIGHTEEN_TO_TWENTY",
            "TWENTY_ONE_OR_OLDER"
          ],
          "readOnly": true,
          "description": "Output only. **DEPRECATED** (Please use `person.ageRanges` instead) The person's age range.",
          "deprecated": true
        },
        "skills": {
          "items": {
            "$ref": "Skill"
          },
          "description": "The person's skills.",
          "type": "array"
        },
        "userDefined": {
          "items": {
            "$ref": "UserDefined"
          },
          "description": "The person's user defined data.",
          "type": "array"
        },
        "birthdays": {
          "items": {
            "$ref": "Birthday"
          },
          "description": "The person's birthdays. This field is a singleton for contact sources.",
          "type": "array"
        },
        "relationshipInterests": {
          "readOnly": true,
          "deprecated": true,
          "description": "Output only. **DEPRECATED**: No data will be returned The person's relationship interests.",
          "items": {
            "$ref": "RelationshipInterest"
          },
          "type": "array"
        },
        "addresses": {
          "description": "The person's street addresses.",
          "items": {
            "$ref": "Address"
          },
          "type": "array"
        },
        "interests": {
          "description": "The person's interests.",
          "items": {
            "$ref": "Interest"
          },
          "type": "array"
        },
        "braggingRights": {
          "type": "array",
          "deprecated": true,
          "items": {
            "$ref": "BraggingRights"
          },
          "description": "**DEPRECATED**: No data will be returned The person's bragging rights."
        },
        "calendarUrls": {
          "type": "array",
          "items": {
            "$ref": "CalendarUrl"
          },
          "description": "The person's calendar URLs."
        },
        "organizations": {
          "items": {
            "$ref": "Organization"
          },
          "type": "array",
          "description": "The person's past or current organizations."
        },
        "etag": {
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation.",
          "type": "string"
        },
        "genders": {
          "items": {
            "$ref": "Gender"
          },
          "description": "The person's genders. This field is a singleton for contact sources.",
          "type": "array"
        },
        "imClients": {
          "type": "array",
          "description": "The person's instant messaging clients.",
          "items": {
            "$ref": "ImClient"
          }
        },
        "residences": {
          "items": {
            "$ref": "Residence"
          },
          "type": "array",
          "deprecated": true,
          "description": "**DEPRECATED**: (Please use `person.locations` instead) The person's residences."
        },
        "fileAses": {
          "type": "array",
          "items": {
            "$ref": "FileAs"
          },
          "description": "The person's file-ases."
        },
        "nicknames": {
          "description": "The person's nicknames.",
          "items": {
            "$ref": "Nickname"
          },
          "type": "array"
        },
        "emailAddresses": {
          "items": {
            "$ref": "EmailAddress"
          },
          "type": "array",
          "description": "The person's email addresses. For `people.connections.list` and `otherContacts.list` the number of email addresses is limited to 100. If a Person has more email addresses the entire set can be obtained by calling GetPeople."
        },
        "sipAddresses": {
          "items": {
            "$ref": "SipAddress"
          },
          "description": "The person's SIP addresses.",
          "type": "array"
        },
        "clientData": {
          "items": {
            "$ref": "ClientData"
          },
          "description": "The person's client data.",
          "type": "array"
        },
        "events": {
          "description": "The person's events.",
          "items": {
            "$ref": "Event"
          },
          "type": "array"
        },
        "miscKeywords": {
          "type": "array",
          "description": "The person's miscellaneous keywords.",
          "items": {
            "$ref": "MiscKeyword"
          }
        }
      },
      "id": "Person"
    },
    "CoverPhoto": {
      "type": "object",
      "properties": {
        "url": {
          "description": "The URL of the cover photo.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the cover photo."
        },
        "default": {
          "description": "True if the cover photo is the default cover photo; false if the cover photo is a user-provided cover photo.",
          "type": "boolean"
        }
      },
      "description": "A person's cover photo. A large image shown on the person's profile page that represents who they are or what they care about.",
      "id": "CoverPhoto"
    },
    "UpdateContactGroupRequest": {
      "id": "UpdateContactGroupRequest",
      "type": "object",
      "properties": {
        "contactGroup": {
          "description": "Required. The contact group to update.",
          "$ref": "ContactGroup"
        },
        "updateGroupFields": {
          "type": "string",
          "description": "Optional. A field mask to restrict which fields on the group are updated. Multiple fields can be specified by separating them with commas. Defaults to `name` if not set or set to empty. Updated fields are replaced. Valid values are: * clientData * name",
          "format": "google-fieldmask"
        },
        "readGroupFields": {
          "type": "string",
          "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
          "format": "google-fieldmask"
        }
      },
      "description": "A request to update an existing user contact group. All updated fields will be replaced."
    },
    "MiscKeyword": {
      "properties": {
        "metadata": {
          "description": "Metadata about the miscellaneous keyword.",
          "$ref": "FieldMetadata"
        },
        "formattedType": {
          "type": "string",
          "description": "Output only. The type of the miscellaneous keyword translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "OUTLOOK_BILLING_INFORMATION",
            "OUTLOOK_DIRECTORY_SERVER",
            "OUTLOOK_KEYWORD",
            "OUTLOOK_MILEAGE",
            "OUTLOOK_PRIORITY",
            "OUTLOOK_SENSITIVITY",
            "OUTLOOK_SUBJECT",
            "OUTLOOK_USER",
            "HOME",
            "WORK",
            "OTHER"
          ],
          "type": "string",
          "description": "The miscellaneous keyword type.",
          "enumDescriptions": [
            "Unspecified.",
            "Outlook field for billing information.",
            "Outlook field for directory server.",
            "Outlook field for keyword.",
            "Outlook field for mileage.",
            "Outlook field for priority.",
            "Outlook field for sensitivity.",
            "Outlook field for subject.",
            "Outlook field for user.",
            "Home.",
            "Work.",
            "Other."
          ]
        },
        "value": {
          "type": "string",
          "description": "The value of the miscellaneous keyword."
        }
      },
      "description": "A person's miscellaneous keyword.",
      "type": "object",
      "id": "MiscKeyword"
    },
    "ProfileMetadata": {
      "properties": {
        "objectType": {
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Currents Page.](https://workspace.google.com/products/currents/)"
          ],
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ],
          "type": "string",
          "description": "Output only. The profile object type.",
          "readOnly": true
        },
        "userTypes": {
          "description": "Output only. The user types.",
          "readOnly": true,
          "items": {
            "enum": [
              "USER_TYPE_UNKNOWN",
              "GOOGLE_USER",
              "GPLUS_USER",
              "GOOGLE_APPS_USER"
            ],
            "type": "string",
            "enumDescriptions": [
              "The user type is not known.",
              "The user is a Google user.",
              "The user is a Currents user.",
              "The user is a Google Workspace user."
            ]
          },
          "type": "array"
        }
      },
      "id": "ProfileMetadata",
      "type": "object",
      "description": "The metadata about a profile."
    },
    "Source": {
      "properties": {
        "profileMetadata": {
          "$ref": "ProfileMetadata",
          "readOnly": true,
          "description": "Output only. **Only populated in `person.metadata.sources`.** Metadata about a source of type PROFILE."
        },
        "etag": {
          "type": "string",
          "description": "**Only populated in `person.metadata.sources`.** The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the source. Used for web cache validation."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. **Only populated in `person.metadata.sources`.** Last update timestamp of this source.",
          "format": "google-datetime"
        },
        "id": {
          "description": "The unique identifier within the source type generated by the server.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified.",
            "[Google Account](https://accounts.google.com).",
            "[Google profile](https://profiles.google.com). You can view the profile at [https://profiles.google.com/](https://profiles.google.com/){id}, where {id} is the source id.",
            "[Google Workspace domain profile](https://support.google.com/a/answer/1628008).",
            "[Google contact](https://contacts.google.com). You can view the contact at [https://contact.google.com/](https://contact.google.com/){id}, where {id} is the source id.",
            "[Google \"Other contact\"](https://contacts.google.com/other).",
            "[Google Workspace domain shared contact](https://support.google.com/a/answer/9281635)."
          ],
          "type": "string",
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "ACCOUNT",
            "PROFILE",
            "DOMAIN_PROFILE",
            "CONTACT",
            "OTHER_CONTACT",
            "DOMAIN_CONTACT"
          ],
          "description": "The source type."
        }
      },
      "type": "object",
      "description": "The source of a field.",
      "id": "Source"
    },
    "FileAs": {
      "properties": {
        "metadata": {
          "description": "Metadata about the file-as.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The file-as value",
          "type": "string"
        }
      },
      "description": "The name that should be used to sort the person in a list.",
      "type": "object",
      "id": "FileAs"
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Date",
      "type": "object"
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "Biography": {
      "id": "Biography",
      "properties": {
        "contentType": {
          "enum": [
            "CONTENT_TYPE_UNSPECIFIED",
            "TEXT_PLAIN",
            "TEXT_HTML"
          ],
          "description": "The content type of the biography.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Plain text.",
            "HTML text."
          ]
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the biography."
        },
        "value": {
          "type": "string",
          "description": "The short biography."
        }
      },
      "description": "A person's short biography.",
      "type": "object"
    },
    "ImClient": {
      "id": "ImClient",
      "description": "A person's instant messaging client.",
      "properties": {
        "formattedProtocol": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The protocol of the IM client formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "username": {
          "description": "The user name used in the IM client.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the IM client. The type can be custom or one of these predefined values: * `home` * `work` * `other`"
        },
        "protocol": {
          "description": "The protocol of the IM client. The protocol can be custom or one of these predefined values: * `aim` * `msn` * `yahoo` * `skype` * `qq` * `googleTalk` * `icq` * `jabber` * `netMeeting`",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the IM client."
        },
        "formattedType": {
          "description": "Output only. The type of the IM client translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ContactToCreate": {
      "id": "ContactToCreate",
      "description": "A wrapper that contains the person data to populate a newly created source.",
      "type": "object",
      "properties": {
        "contactPerson": {
          "description": "Required. The person data to populate a newly created source.",
          "$ref": "Person"
        }
      }
    },
    "BatchDeleteContactsRequest": {
      "type": "object",
      "properties": {
        "resourceNames": {
          "items": {
            "type": "string"
          },
          "description": "Required. The resource names of the contact to delete. It's repeatable. Allows up to 500 resource names in a single request.",
          "type": "array"
        }
      },
      "description": "A request to delete a batch of existing contacts.",
      "id": "BatchDeleteContactsRequest"
    },
    "Gender": {
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the gender."
        },
        "formattedValue": {
          "description": "Output only. The value of the gender translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale. Unspecified or custom value are not localized.",
          "type": "string",
          "readOnly": true
        },
        "addressMeAs": {
          "description": "Free form text field for pronouns that should be used to address the person. Common values are: * `he`/`him` * `she`/`her` * `they`/`them`",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The gender for the person. The gender can be custom or one of these predefined values: * `male` * `female` * `unspecified`"
        }
      },
      "id": "Gender",
      "description": "A person's gender.",
      "type": "object"
    },
    "AgeRangeType": {
      "type": "object",
      "description": "A person's age range.",
      "properties": {
        "metadata": {
          "description": "Metadata about the age range.",
          "$ref": "FieldMetadata"
        },
        "ageRange": {
          "type": "string",
          "description": "The age range.",
          "enum": [
            "AGE_RANGE_UNSPECIFIED",
            "LESS_THAN_EIGHTEEN",
            "EIGHTEEN_TO_TWENTY",
            "TWENTY_ONE_OR_OLDER"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Younger than eighteen.",
            "Between eighteen and twenty.",
            "Twenty-one and older."
          ]
        }
      },
      "id": "AgeRangeType"
    },
    "SearchDirectoryPeopleResponse": {
      "properties": {
        "totalSize": {
          "description": "The total number of items in the list without pagination.",
          "format": "int32",
          "type": "integer"
        },
        "people": {
          "description": "The list of people in the domain directory that match the query.",
          "items": {
            "$ref": "Person"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "SearchDirectoryPeopleResponse",
      "description": "The response to a request for people in the authenticated user's domain directory that match the specified query.",
      "type": "object"
    },
    "BatchUpdateContactsRequest": {
      "id": "BatchUpdateContactsRequest",
      "type": "object",
      "description": "A request to update a batch of contacts.",
      "properties": {
        "readMask": {
          "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. If read mask is left empty, the post-mutate-get is skipped and no data will be returned in the response. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
          "format": "google-fieldmask",
          "type": "string"
        },
        "sources": {
          "type": "array",
          "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT.",
              "Returns SourceType.OTHER_CONTACT."
            ],
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT",
              "READ_SOURCE_TYPE_OTHER_CONTACT"
            ]
          }
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. A field mask to restrict which fields on the person are updated. Multiple fields can be specified by separating them with commas. All specified fields will be replaced, or cleared if left empty for each person. Valid values are: * addresses * biographies * birthdays * calendarUrls * clientData * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * relations * sipAddresses * urls * userDefined"
        },
        "contacts": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Person"
          },
          "description": "Required. A map of resource names to the person data to be updated. Allows up to 200 contacts in a single request."
        }
      }
    },
    "Interest": {
      "properties": {
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the interest."
        },
        "value": {
          "description": "The interest; for example, `stargazing`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Interest",
      "description": "One of the person's interests."
    },
    "ModifyContactGroupMembersResponse": {
      "description": "The response to a modify contact group members request.",
      "id": "ModifyContactGroupMembersResponse",
      "type": "object",
      "properties": {
        "canNotRemoveLastContactGroupResourceNames": {
          "type": "array",
          "description": "The contact people resource names that cannot be removed from their last contact group.",
          "items": {
            "type": "string"
          }
        },
        "notFoundResourceNames": {
          "items": {
            "type": "string"
          },
          "description": "The contact people resource names that were not found.",
          "type": "array"
        }
      }
    },
    "ModifyContactGroupMembersRequest": {
      "properties": {
        "resourceNamesToRemove": {
          "description": "Optional. The resource names of the contact people to remove in the form of `people/{person_id}`. The total number of resource names in `resource_names_to_add` and `resource_names_to_remove` must be less than or equal to 1000.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "resourceNamesToAdd": {
          "type": "array",
          "description": "Optional. The resource names of the contact people to add in the form of `people/{person_id}`. The total number of resource names in `resource_names_to_add` and `resource_names_to_remove` must be less than or equal to 1000.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "A request to modify an existing contact group's members. Contacts can be removed from any group but they can only be added to a user group or \"myContacts\" or \"starred\" system groups.",
      "id": "ModifyContactGroupMembersRequest"
    },
    "Nickname": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The nickname."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the nickname."
        },
        "type": {
          "description": "The type of the nickname.",
          "enumDeprecated": [
            false,
            true,
            true,
            true,
            true,
            false,
            true
          ],
          "type": "string",
          "enum": [
            "DEFAULT",
            "MAIDEN_NAME",
            "INITIALS",
            "GPLUS",
            "OTHER_NAME",
            "ALTERNATE_NAME",
            "SHORT_NAME"
          ],
          "enumDescriptions": [
            "Generic nickname.",
            "Maiden name or birth family name. Used when the person's family name has changed as a result of marriage.",
            "Initials.",
            "Google+ profile nickname.",
            "A professional affiliation or other name; for example, `Dr. Smith.`",
            "Alternate name person is known by.",
            "A shorter version of the person's name."
          ]
        }
      },
      "id": "Nickname",
      "type": "object",
      "description": "A person's nickname."
    },
    "SearchResult": {
      "type": "object",
      "description": "A result of a search query.",
      "id": "SearchResult",
      "properties": {
        "person": {
          "description": "The matched Person.",
          "$ref": "Person"
        }
      }
    },
    "Organization": {
      "id": "Organization",
      "type": "object",
      "description": "A person's past or current organization. Overlapping date ranges are permitted.",
      "properties": {
        "symbol": {
          "description": "The symbol associated with the organization; for example, a stock ticker symbol, abbreviation, or acronym.",
          "type": "string"
        },
        "jobDescription": {
          "type": "string",
          "description": "The person's job description at the organization."
        },
        "formattedType": {
          "description": "Output only. The type of the organization translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "endDate": {
          "$ref": "Date",
          "description": "The end date when the person left the organization."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the organization."
        },
        "domain": {
          "type": "string",
          "description": "The domain name associated with the organization; for example, `google.com`."
        },
        "costCenter": {
          "description": "The person's cost center at the organization.",
          "type": "string"
        },
        "fullTimeEquivalentMillipercent": {
          "type": "integer",
          "description": "The person's full-time equivalent millipercent within the organization (100000 = 100%).",
          "format": "int32"
        },
        "type": {
          "type": "string",
          "description": "The type of the organization. The type can be custom or one of these predefined values: * `work` * `school`"
        },
        "name": {
          "description": "The name of the organization.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The person's job title at the organization."
        },
        "current": {
          "type": "boolean",
          "description": "True if the organization is the person's current organization; false if the organization is a past organization."
        },
        "location": {
          "description": "The location of the organization office the person works at.",
          "type": "string"
        },
        "phoneticName": {
          "type": "string",
          "description": "The phonetic name of the organization."
        },
        "department": {
          "type": "string",
          "description": "The person's department at the organization."
        },
        "startDate": {
          "description": "The start date when the person joined the organization.",
          "$ref": "Date"
        }
      }
    },
    "ListConnectionsResponse": {
      "type": "object",
      "properties": {
        "connections": {
          "items": {
            "$ref": "Person"
          },
          "description": "The list of people that the requestor is connected to.",
          "type": "array"
        },
        "nextSyncToken": {
          "type": "string",
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token. When the response is paginated, only the last page will contain `nextSyncToken`."
        },
        "totalItems": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of items in the list without pagination."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "totalPeople": {
          "format": "int32",
          "type": "integer",
          "deprecated": true,
          "description": "**DEPRECATED** (Please use totalItems) The total number of people in the list without pagination."
        }
      },
      "description": "The response to a request for the authenticated user's connections.",
      "id": "ListConnectionsResponse"
    },
    "Address": {
      "properties": {
        "extendedAddress": {
          "type": "string",
          "description": "The extended address of the address; for example, the apartment number."
        },
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "postalCode": {
          "description": "The postal code of the address.",
          "type": "string"
        },
        "country": {
          "description": "The country of the address.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the address. The type can be custom or one of these predefined values: * `home` * `work` * `other`"
        },
        "formattedValue": {
          "type": "string",
          "description": "The unstructured value of the address. If this is not set by the user it will be automatically constructed from structured values."
        },
        "city": {
          "type": "string",
          "description": "The city of the address."
        },
        "streetAddress": {
          "description": "The street address.",
          "type": "string"
        },
        "poBox": {
          "type": "string",
          "description": "The P.O. box of the address."
        },
        "metadata": {
          "description": "Metadata about the address.",
          "$ref": "FieldMetadata"
        },
        "region": {
          "description": "The region of the address; for example, the state or province.",
          "type": "string"
        },
        "countryCode": {
          "description": "The [ISO 3166-1 alpha-2](http://www.iso.org/iso/country_codes.htm) country code of the address.",
          "type": "string"
        }
      },
      "id": "Address",
      "type": "object",
      "description": "A person's physical address. May be a P.O. box or street address. All fields are optional."
    },
    "Location": {
      "description": "A person's location.",
      "type": "object",
      "properties": {
        "floor": {
          "description": "The floor name or number.",
          "type": "string"
        },
        "type": {
          "description": "The type of the location. The type can be custom or one of these predefined values: * `desk` * `grewUp`",
          "type": "string"
        },
        "buildingId": {
          "description": "The building identifier.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the location.",
          "$ref": "FieldMetadata"
        },
        "deskCode": {
          "description": "The individual desk location.",
          "type": "string"
        },
        "floorSection": {
          "description": "The floor section in `floor_name`.",
          "type": "string"
        },
        "value": {
          "description": "The free-form value of the location.",
          "type": "string"
        },
        "current": {
          "type": "boolean",
          "description": "Whether the location is the current location."
        }
      },
      "id": "Location"
    },
    "Photo": {
      "id": "Photo",
      "description": "A person's photo. A picture shown next to the person's name to help others recognize the person.",
      "properties": {
        "url": {
          "description": "The URL of the photo. You can change the desired size by appending a query parameter `sz={size}` at the end of the url, where {size} is the size in pixels. Example: https://lh3.googleusercontent.com/-T_wVWLlmg7w/AAAAAAAAAAI/AAAAAAAABa8/00gzXvDBYqw/s100/photo.jpg?sz=50",
          "type": "string"
        },
        "default": {
          "type": "boolean",
          "description": "True if the photo is a default photo; false if the photo is a user-provided photo."
        },
        "metadata": {
          "description": "Metadata about the photo.",
          "$ref": "FieldMetadata"
        }
      },
      "type": "object"
    },
    "FieldMetadata": {
      "properties": {
        "verified": {
          "description": "Output only. True if the field is verified; false if the field is unverified. A verified field is typically a name, email address, phone number, or website that has been confirmed to be owned by the person.",
          "type": "boolean",
          "readOnly": true
        },
        "primary": {
          "type": "boolean",
          "description": "Output only. True if the field is the primary field for all sources in the person. Each person will have at most one field with `primary` set to true.",
          "readOnly": true
        },
        "sourcePrimary": {
          "description": "True if the field is the primary field for the source. Each source must have at most one field with `source_primary` set to true.",
          "type": "boolean"
        },
        "source": {
          "$ref": "Source",
          "description": "The source of the field."
        }
      },
      "type": "object",
      "description": "Metadata about a field.",
      "id": "FieldMetadata"
    },
    "Tagline": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The tagline.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the tagline.",
          "$ref": "FieldMetadata"
        }
      },
      "description": "**DEPRECATED**: No data will be returned A brief one-line description of the person.",
      "deprecated": true,
      "id": "Tagline"
    },
    "ClientData": {
      "properties": {
        "value": {
          "description": "The client specified value of the client data.",
          "type": "string"
        },
        "key": {
          "description": "The client specified key of the client data.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the client data.",
          "$ref": "FieldMetadata"
        }
      },
      "type": "object",
      "description": "Arbitrary client data that is populated by clients. Duplicate keys and values are allowed.",
      "id": "ClientData"
    },
    "ContactGroupResponse": {
      "properties": {
        "contactGroup": {
          "$ref": "ContactGroup",
          "description": "The contact group."
        },
        "status": {
          "description": "The status of the response.",
          "$ref": "Status"
        },
        "requestedResourceName": {
          "description": "The original requested resource name.",
          "type": "string"
        }
      },
      "id": "ContactGroupResponse",
      "type": "object",
      "description": "The response for a specific contact group."
    },
    "DeleteContactPhotoResponse": {
      "id": "DeleteContactPhotoResponse",
      "properties": {
        "person": {
          "description": "The updated person, if person_fields is set in the DeleteContactPhotoRequest; otherwise this will be unset.",
          "$ref": "Person"
        }
      },
      "type": "object",
      "description": "The response for deleting a contact's photo."
    },
    "Skill": {
      "properties": {
        "metadata": {
          "description": "Metadata about the skill.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The skill; for example, `underwater basket weaving`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Skill",
      "description": "A skill that the person has."
    },
    "GetPeopleResponse": {
      "properties": {
        "responses": {
          "type": "array",
          "description": "The response for each requested resource name.",
          "items": {
            "$ref": "PersonResponse"
          }
        }
      },
      "description": "The response to a get request for a list of people by resource name.",
      "id": "GetPeopleResponse",
      "type": "object"
    },
    "EmailAddress": {
      "id": "EmailAddress",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the email."
        },
        "type": {
          "description": "The type of the email address. The type can be custom or one of these predefined values: * `home` * `work` * `other`",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the email address.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The email address.",
          "type": "string"
        },
        "formattedType": {
          "description": "Output only. The type of the email address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A person's email address."
    },
    "RelationshipInterest": {
      "deprecated": true,
      "id": "RelationshipInterest",
      "description": "**DEPRECATED**: No data will be returned A person's relationship interest .",
      "properties": {
        "formattedValue": {
          "readOnly": true,
          "description": "Output only. The value of the relationship interest translated and formatted in the viewer's account locale or the locale specified in the Accept-Language HTTP header.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The kind of relationship the person is looking for. The value can be custom or one of these predefined values: * `friend` * `date` * `relationship` * `networking`"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the relationship interest."
        }
      },
      "type": "object"
    },
    "ListContactGroupsResponse": {
      "description": "The response to a list contact groups request.",
      "type": "object",
      "properties": {
        "contactGroups": {
          "type": "array",
          "description": "The list of contact groups. Members of the contact groups are not populated.",
          "items": {
            "$ref": "ContactGroup"
          }
        },
        "nextPageToken": {
          "description": "The token that can be used to retrieve the next page of results.",
          "type": "string"
        },
        "nextSyncToken": {
          "description": "The token that can be used to retrieve changes since the last request.",
          "type": "string"
        },
        "totalItems": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of items in the list without pagination."
        }
      },
      "id": "ListContactGroupsResponse"
    },
    "ExternalId": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the external ID."
        },
        "type": {
          "type": "string",
          "description": "The type of the external ID. The type can be custom or one of these predefined values: * `account` * `customer` * `loginId` * `network` * `organization`"
        },
        "metadata": {
          "description": "Metadata about the external ID.",
          "$ref": "FieldMetadata"
        },
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the event translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        }
      },
      "id": "ExternalId",
      "description": "An identifier from an external entity related to the person."
    },
    "Url": {
      "id": "Url",
      "type": "object",
      "description": "A person's associated URLs.",
      "properties": {
        "type": {
          "description": "The type of the URL. The type can be custom or one of these predefined values: * `home` * `work` * `blog` * `profile` * `homePage` * `ftp` * `reservations` * `appInstallPage`: website for a Currents application. * `other`",
          "type": "string"
        },
        "value": {
          "description": "The URL.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the URL."
        },
        "formattedType": {
          "description": "Output only. The type of the URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Occupation": {
      "id": "Occupation",
      "description": "A person's occupation.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The occupation; for example, `carpenter`.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata about the occupation.",
          "$ref": "FieldMetadata"
        }
      }
    },
    "ListDirectoryPeopleResponse": {
      "description": "The response to a request for the authenticated user's domain directory.",
      "type": "object",
      "properties": {
        "nextSyncToken": {
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token.",
          "type": "string"
        },
        "people": {
          "type": "array",
          "items": {
            "$ref": "Person"
          },
          "description": "The list of people in the domain directory."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListDirectoryPeopleResponse"
    },
    "GroupClientData": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The client specified value of the client data."
        },
        "key": {
          "description": "The client specified key of the client data.",
          "type": "string"
        }
      },
      "id": "GroupClientData",
      "description": "Arbitrary client data that is populated by clients. Duplicate keys and values are allowed."
    },
    "PersonMetadata": {
      "properties": {
        "linkedPeopleResourceNames": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Resource names of people linked to this resource.",
          "type": "array",
          "readOnly": true
        },
        "objectType": {
          "enumDescriptions": [
            "Unspecified.",
            "Person.",
            "[Currents Page.](https://workspace.google.com/products/currents/)"
          ],
          "enum": [
            "OBJECT_TYPE_UNSPECIFIED",
            "PERSON",
            "PAGE"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. **DEPRECATED** (Please use `person.metadata.sources.profileMetadata.objectType` instead) The type of the person object.",
          "deprecated": true
        },
        "sources": {
          "description": "The sources of data for the person.",
          "type": "array",
          "items": {
            "$ref": "Source"
          }
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. True if the person resource has been deleted. Populated only for `people.connections.list` and `otherContacts.list` sync requests.",
          "readOnly": true
        },
        "previousResourceNames": {
          "readOnly": true,
          "description": "Output only. Any former resource names this person has had. Populated only for `people.connections.list` requests that include a sync token. The resource name may change when adding or removing fields that link a contact and profile such as a verified email, verified phone number, or profile URL.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "PersonMetadata",
      "description": "The metadata about a person."
    },
    "Membership": {
      "id": "Membership",
      "description": "A person's membership in a group. Only contact group memberships can be modified.",
      "properties": {
        "contactGroupMembership": {
          "$ref": "ContactGroupMembership",
          "description": "The contact group membership."
        },
        "metadata": {
          "description": "Metadata about the membership.",
          "$ref": "FieldMetadata"
        },
        "domainMembership": {
          "description": "Output only. The domain membership.",
          "readOnly": true,
          "$ref": "DomainMembership"
        }
      },
      "type": "object"
    },
    "BatchUpdateContactsResponse": {
      "type": "object",
      "properties": {
        "updateResult": {
          "type": "object",
          "additionalProperties": {
            "$ref": "PersonResponse"
          },
          "description": "A map of resource names to the contacts that were updated, unless the request `read_mask` is empty."
        }
      },
      "id": "BatchUpdateContactsResponse",
      "description": "If not successful, returns BatchUpdateContactsErrorDetails, a list of errors corresponding to each contact. The response to a request to update a batch of contacts."
    },
    "BraggingRights": {
      "deprecated": true,
      "id": "BraggingRights",
      "properties": {
        "value": {
          "description": "The bragging rights; for example, `climbed mount everest`.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the bragging rights."
        }
      },
      "description": "**DEPRECATED**: No data will be returned A person's bragging rights.",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "ContactGroup": {
      "properties": {
        "resourceName": {
          "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`.",
          "type": "string"
        },
        "formattedName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale for system groups names. Group names set by the owner are the same as name."
        },
        "name": {
          "description": "The contact group name set by the group owner or a system provided name for system groups. For [`contactGroups.create`](/people/api/rest/v1/contactGroups/create) or [`contactGroups.update`](/people/api/rest/v1/contactGroups/update) the name must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error.",
          "type": "string"
        },
        "memberCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The total number of contacts in the group irrespective of max members in specified in the request."
        },
        "memberResourceNames": {
          "description": "Output only. The list of contact person resource names that are members of the contact group. The field is only populated for GET requests and will only return as many members as `maxMembers` in the get request.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "etag": {
          "description": "The [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the resource. Used for web cache validation.",
          "type": "string"
        },
        "clientData": {
          "description": "The group's client data.",
          "items": {
            "$ref": "GroupClientData"
          },
          "type": "array"
        },
        "groupType": {
          "description": "Output only. The contact group type.",
          "enumDescriptions": [
            "Unspecified.",
            "User defined contact group.",
            "System defined contact group."
          ],
          "type": "string",
          "enum": [
            "GROUP_TYPE_UNSPECIFIED",
            "USER_CONTACT_GROUP",
            "SYSTEM_CONTACT_GROUP"
          ],
          "readOnly": true
        },
        "metadata": {
          "readOnly": true,
          "$ref": "ContactGroupMetadata",
          "description": "Output only. Metadata about the contact group."
        }
      },
      "description": "A contact group.",
      "id": "ContactGroup",
      "type": "object"
    },
    "BatchGetContactGroupsResponse": {
      "properties": {
        "responses": {
          "type": "array",
          "description": "The list of responses for each requested contact group resource.",
          "items": {
            "$ref": "ContactGroupResponse"
          }
        }
      },
      "id": "BatchGetContactGroupsResponse",
      "description": "The response to a batch get contact groups request.",
      "type": "object"
    },
    "CalendarUrl": {
      "id": "CalendarUrl",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the calendar URL.",
          "$ref": "FieldMetadata"
        },
        "url": {
          "type": "string",
          "description": "The calendar URL."
        },
        "formattedType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the calendar URL translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "type": {
          "type": "string",
          "description": "The type of the calendar URL. The type can be custom or one of these predefined values: * `home` * `freeBusy` * `work`"
        }
      },
      "description": "A person's calendar URL."
    },
    "RelationshipStatus": {
      "description": "**DEPRECATED**: No data will be returned A person's relationship status.",
      "type": "object",
      "id": "RelationshipStatus",
      "deprecated": true,
      "properties": {
        "formattedValue": {
          "readOnly": true,
          "description": "Output only. The value of the relationship status translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the relationship status."
        },
        "value": {
          "description": "The relationship status. The value can be custom or one of these predefined values: * `single` * `inARelationship` * `engaged` * `married` * `itsComplicated` * `openRelationship` * `widowed` * `inDomesticPartnership` * `inCivilUnion`",
          "type": "string"
        }
      }
    },
    "UserDefined": {
      "properties": {
        "key": {
          "description": "The end user specified key of the user defined data.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The end user specified value of the user defined data."
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the user defined data."
        }
      },
      "type": "object",
      "description": "Arbitrary user data that is populated by the end users.",
      "id": "UserDefined"
    },
    "Event": {
      "properties": {
        "formattedType": {
          "description": "Output only. The type of the event translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale.",
          "readOnly": true,
          "type": "string"
        },
        "date": {
          "$ref": "Date",
          "description": "The date of the event."
        },
        "metadata": {
          "description": "Metadata about the event.",
          "$ref": "FieldMetadata"
        },
        "type": {
          "description": "The type of the event. The type can be custom or one of these predefined values: * `anniversary` * `other`",
          "type": "string"
        }
      },
      "description": "An event related to the person.",
      "type": "object",
      "id": "Event"
    },
    "DomainMembership": {
      "description": "A Google Workspace Domain membership.",
      "type": "object",
      "id": "DomainMembership",
      "properties": {
        "inViewerDomain": {
          "type": "boolean",
          "description": "True if the person is in the viewer's Google Workspace domain."
        }
      }
    },
    "ListOtherContactsResponse": {
      "id": "ListOtherContactsResponse",
      "description": "The response to a request for the authenticated user's \"Other contacts\".",
      "type": "object",
      "properties": {
        "nextSyncToken": {
          "description": "A token, which can be sent as `sync_token` to retrieve changes since the last request. Request must set `request_sync_token` to return the sync token.",
          "type": "string"
        },
        "otherContacts": {
          "type": "array",
          "description": "The list of \"Other contacts\" returned as Person resources. \"Other contacts\" support a limited subset of fields. See ListOtherContactsRequest.request_mask for more detailed information.",
          "items": {
            "$ref": "Person"
          }
        },
        "totalSize": {
          "format": "int32",
          "description": "The total number of other contacts in the list without pagination.",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "SipAddress": {
      "id": "SipAddress",
      "properties": {
        "type": {
          "description": "The type of the SIP address. The type can be custom or or one of these predefined values: * `home` * `work` * `mobile` * `other`",
          "type": "string"
        },
        "formattedType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the SIP address translated and formatted in the viewer's account locale or the `Accept-Language` HTTP header locale."
        },
        "value": {
          "type": "string",
          "description": "The SIP address in the [RFC 3261 19.1](https://tools.ietf.org/html/rfc3261#section-19.1) SIP URI format."
        },
        "metadata": {
          "description": "Metadata about the SIP address.",
          "$ref": "FieldMetadata"
        }
      },
      "type": "object",
      "description": "A person's SIP address. Session Initial Protocol addresses are used for VoIP communications to make voice or video calls over the internet."
    },
    "ContactGroupMembership": {
      "description": "A Google contact group membership.",
      "type": "object",
      "id": "ContactGroupMembership",
      "properties": {
        "contactGroupId": {
          "description": "Output only. The contact group ID for the contact group membership.",
          "type": "string",
          "readOnly": true,
          "deprecated": true
        },
        "contactGroupResourceName": {
          "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`. Only contact_group_resource_name can be used for modifying memberships. Any contact group membership can be removed, but only user group or \"myContacts\" or \"starred\" system groups memberships can be added. A contact must always have at least one contact group membership.",
          "type": "string"
        }
      }
    },
    "BatchCreateContactsResponse": {
      "properties": {
        "createdPeople": {
          "type": "array",
          "items": {
            "$ref": "PersonResponse"
          },
          "description": "The contacts that were created, unless the request `read_mask` is empty."
        }
      },
      "type": "object",
      "description": "If not successful, returns BatchCreateContactsErrorDetails which contains a list of errors for each invalid contact. The response to a request to create a batch of contacts.",
      "id": "BatchCreateContactsResponse"
    },
    "Relation": {
      "id": "Relation",
      "properties": {
        "person": {
          "description": "The name of the other person this relation refers to.",
          "type": "string"
        },
        "formattedType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the relation translated and formatted in the viewer's account locale or the locale specified in the Accept-Language HTTP header."
        },
        "type": {
          "description": "The person's relation to the other person. The type can be custom or one of these predefined values: * `spouse` * `child` * `mother` * `father` * `parent` * `brother` * `sister` * `friend` * `relative` * `domesticPartner` * `manager` * `assistant` * `referredBy` * `partner`",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the relation."
        }
      },
      "description": "A person's relation to another person.",
      "type": "object"
    },
    "Locale": {
      "description": "A person's locale preference.",
      "type": "object",
      "id": "Locale",
      "properties": {
        "metadata": {
          "description": "Metadata about the locale.",
          "$ref": "FieldMetadata"
        },
        "value": {
          "description": "The well-formed [IETF BCP 47](https://tools.ietf.org/html/bcp47) language tag representing the locale.",
          "type": "string"
        }
      }
    },
    "PersonResponse": {
      "properties": {
        "httpStatusCode": {
          "format": "int32",
          "type": "integer",
          "description": "**DEPRECATED** (Please use status instead) [HTTP 1.1 status code] (http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html).",
          "deprecated": true
        },
        "requestedResourceName": {
          "description": "The original requested resource name. May be different than the resource name on the returned person. The resource name can change when adding or removing fields that link a contact and profile such as a verified email, verified phone number, or a profile URL.",
          "type": "string"
        },
        "status": {
          "$ref": "Status",
          "description": "The status of the response."
        },
        "person": {
          "$ref": "Person",
          "description": "The person."
        }
      },
      "description": "The response for a single person",
      "id": "PersonResponse",
      "type": "object"
    },
    "UpdateContactPhotoRequest": {
      "description": "A request to update an existing contact's photo. All requests must have a valid photo format: JPEG or PNG.",
      "id": "UpdateContactPhotoRequest",
      "type": "object",
      "properties": {
        "photoBytes": {
          "description": "Required. Raw photo bytes",
          "type": "string",
          "format": "byte"
        },
        "personFields": {
          "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to empty if not set, which will skip the post mutate get. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
          "type": "string",
          "format": "google-fieldmask"
        },
        "sources": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT.",
              "Returns SourceType.OTHER_CONTACT."
            ],
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT",
              "READ_SOURCE_TYPE_OTHER_CONTACT"
            ]
          },
          "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
          "type": "array"
        }
      }
    },
    "SearchResponse": {
      "properties": {
        "results": {
          "type": "array",
          "items": {
            "$ref": "SearchResult"
          },
          "description": "The results of the request."
        }
      },
      "type": "object",
      "id": "SearchResponse",
      "description": "The response to a search request for the authenticated user, given a query."
    },
    "Name": {
      "description": "A person's name. If the name is a mononym, the family name is empty.",
      "properties": {
        "givenName": {
          "type": "string",
          "description": "The given name."
        },
        "middleName": {
          "description": "The middle name(s).",
          "type": "string"
        },
        "phoneticFullName": {
          "description": "The full name spelled as it sounds.",
          "type": "string"
        },
        "phoneticGivenName": {
          "description": "The given name spelled as it sounds.",
          "type": "string"
        },
        "displayNameLastFirst": {
          "type": "string",
          "description": "Output only. The display name with the last name first formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header.",
          "readOnly": true
        },
        "honorificSuffix": {
          "description": "The honorific suffixes, such as `Jr.`",
          "type": "string"
        },
        "phoneticMiddleName": {
          "type": "string",
          "description": "The middle name(s) spelled as they sound."
        },
        "honorificPrefix": {
          "type": "string",
          "description": "The honorific prefixes, such as `Mrs.` or `Dr.`"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name formatted according to the locale specified by the viewer's account or the `Accept-Language` HTTP header."
        },
        "familyName": {
          "description": "The family name.",
          "type": "string"
        },
        "unstructuredName": {
          "description": "The free form name value.",
          "type": "string"
        },
        "metadata": {
          "$ref": "FieldMetadata",
          "description": "Metadata about the name."
        },
        "phoneticFamilyName": {
          "type": "string",
          "description": "The family name spelled as it sounds."
        },
        "phoneticHonorificPrefix": {
          "type": "string",
          "description": "The honorific prefixes spelled as they sound."
        },
        "phoneticHonorificSuffix": {
          "description": "The honorific suffixes spelled as they sound.",
          "type": "string"
        }
      },
      "id": "Name",
      "type": "object"
    },
    "ContactGroupMetadata": {
      "id": "ContactGroupMetadata",
      "type": "object",
      "properties": {
        "deleted": {
          "description": "Output only. True if the contact group resource has been deleted. Populated only for [`ListContactGroups`](/people/api/rest/v1/contactgroups/list) requests that include a sync token.",
          "readOnly": true,
          "type": "boolean"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time the group was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "description": "The metadata about a contact group."
    },
    "UpdateContactPhotoResponse": {
      "properties": {
        "person": {
          "description": "The updated person, if person_fields is set in the UpdateContactPhotoRequest; otherwise this will be unset.",
          "$ref": "Person"
        }
      },
      "description": "The response for updating a contact's photo.",
      "type": "object",
      "id": "UpdateContactPhotoResponse"
    },
    "CopyOtherContactToMyContactsGroupRequest": {
      "properties": {
        "copyMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. A field mask to restrict which fields are copied into the new contact. Valid values are: * emailAddresses * names * phoneNumbers"
        },
        "readMask": {
          "format": "google-fieldmask",
          "description": "Optional. A field mask to restrict which fields on the person are returned. Multiple fields can be specified by separating them with commas. Defaults to the copy mask with metadata and membership fields if not set. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined",
          "type": "string"
        },
        "sources": {
          "type": "array",
          "description": "Optional. A mask of what source types to return. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set.",
          "items": {
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT",
              "READ_SOURCE_TYPE_OTHER_CONTACT"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT.",
              "Returns SourceType.OTHER_CONTACT."
            ]
          }
        }
      },
      "description": "A request to copy an \"Other contact\" to my contacts group.",
      "id": "CopyOtherContactToMyContactsGroupRequest",
      "type": "object"
    },
    "Residence": {
      "id": "Residence",
      "type": "object",
      "deprecated": true,
      "description": "**DEPRECATED**: Please use `person.locations` instead. A person's past or current residence.",
      "properties": {
        "value": {
          "description": "The address of the residence.",
          "type": "string"
        },
        "current": {
          "description": "True if the residence is the person's current residence; false if the residence is a past residence.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Metadata about the residence.",
          "$ref": "FieldMetadata"
        }
      }
    },
    "CreateContactGroupRequest": {
      "description": "A request to create a new contact group.",
      "id": "CreateContactGroupRequest",
      "type": "object",
      "properties": {
        "contactGroup": {
          "description": "Required. The contact group to create.",
          "$ref": "ContactGroup"
        },
        "readGroupFields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * metadata * name"
        }
      }
    },
    "Birthday": {
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Metadata about the birthday.",
          "$ref": "FieldMetadata"
        },
        "date": {
          "$ref": "Date",
          "description": "The structured date of the birthday."
        },
        "text": {
          "deprecated": true,
          "description": "Prefer to use the `date` field if set. A free-form string representing the user's birthday. This value is not validated.",
          "type": "string"
        }
      },
      "id": "Birthday",
      "description": "A person's birthday. At least one of the `date` and `text` fields are specified. The `date` and `text` fields typically represent the same date, but are not guaranteed to. Clients should always set the `date` field when mutating birthdays."
    },
    "BatchCreateContactsRequest": {
      "description": "A request to create a batch of contacts.",
      "type": "object",
      "id": "BatchCreateContactsRequest",
      "properties": {
        "readMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Required. A field mask to restrict which fields on each person are returned in the response. Multiple fields can be specified by separating them with commas. If read mask is left empty, the post-mutate-get is skipped and no data will be returned in the response. Valid values are: * addresses * ageRanges * biographies * birthdays * calendarUrls * clientData * coverPhotos * emailAddresses * events * externalIds * genders * imClients * interests * locales * locations * memberships * metadata * miscKeywords * names * nicknames * occupations * organizations * phoneNumbers * photos * relations * sipAddresses * skills * urls * userDefined"
        },
        "sources": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "Returns SourceType.ACCOUNT, SourceType.DOMAIN_PROFILE, and SourceType.PROFILE.",
              "Returns SourceType.CONTACT.",
              "Returns SourceType.DOMAIN_CONTACT.",
              "Returns SourceType.OTHER_CONTACT."
            ],
            "enum": [
              "READ_SOURCE_TYPE_UNSPECIFIED",
              "READ_SOURCE_TYPE_PROFILE",
              "READ_SOURCE_TYPE_CONTACT",
              "READ_SOURCE_TYPE_DOMAIN_CONTACT",
              "READ_SOURCE_TYPE_OTHER_CONTACT"
            ],
            "type": "string"
          },
          "description": "Optional. A mask of what source types to return in the post mutate read. Defaults to READ_SOURCE_TYPE_CONTACT and READ_SOURCE_TYPE_PROFILE if not set."
        },
        "contacts": {
          "items": {
            "$ref": "ContactToCreate"
          },
          "type": "array",
          "description": "Required. The contact to create. Allows up to 200 contacts in a single request."
        }
      }
    }
  },
  "servicePath": "",
  "id": "people:v1",
  "resources": {
    "contactGroups": {
      "resources": {
        "members": {
          "methods": {
            "modify": {
              "parameters": {
                "resourceName": {
                  "type": "string",
                  "pattern": "^contactGroups/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource name of the contact group to modify."
                }
              },
              "path": "v1/{+resourceName}/members:modify",
              "request": {
                "$ref": "ModifyContactGroupMembersRequest"
              },
              "flatPath": "v1/contactGroups/{contactGroupsId}/members:modify",
              "description": "Modify the members of a contact group owned by the authenticated user. The only system contact groups that can have members added are `contactGroups/myContacts` and `contactGroups/starred`. Other system contact groups are deprecated and can only have contacts removed.",
              "httpMethod": "POST",
              "response": {
                "$ref": "ModifyContactGroupMembersResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/contacts"
              ],
              "id": "people.contactGroups.members.modify",
              "parameterOrder": [
                "resourceName"
              ]
            }
          }
        }
      },
      "methods": {
        "batchGet": {
          "parameterOrder": [],
          "flatPath": "v1/contactGroups:batchGet",
          "path": "v1/contactGroups:batchGet",
          "id": "people.contactGroups.batchGet",
          "response": {
            "$ref": "BatchGetContactGroupsResponse"
          },
          "description": "Get a list of contact groups owned by the authenticated user by specifying a list of contact group resource names.",
          "parameters": {
            "maxMembers": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Optional. Specifies the maximum number of members to return for each group. Defaults to 0 if not set, which will return zero members."
            },
            "groupFields": {
              "format": "google-fieldmask",
              "location": "query",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "type": "string"
            },
            "resourceNames": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Required. The resource names of the contact groups to get. There is a maximum of 200 resource names."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "httpMethod": "GET"
        },
        "delete": {
          "parameterOrder": [
            "resourceName"
          ],
          "response": {
            "$ref": "Empty"
          },
          "path": "v1/{+resourceName}",
          "id": "people.contactGroups.delete",
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "description": "Delete an existing contact group owned by the authenticated user by specifying a contact group resource name. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "parameters": {
            "deleteContacts": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. Set to true to also delete the contacts in the specified group."
            },
            "resourceName": {
              "pattern": "^contactGroups/[^/]+$",
              "location": "path",
              "description": "Required. The resource name of the contact group to delete.",
              "type": "string",
              "required": true
            }
          }
        },
        "create": {
          "response": {
            "$ref": "ContactGroup"
          },
          "id": "people.contactGroups.create",
          "path": "v1/contactGroups",
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "v1/contactGroups",
          "description": "Create a new contact group owned by the authenticated user. Created contact group names must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ],
          "request": {
            "$ref": "CreateContactGroupRequest"
          }
        },
        "update": {
          "description": "Update the name of an existing contact group owned by the authenticated user. Updated contact group names must be unique to the users contact groups. Attempting to create a group with a duplicate name will return a HTTP 409 error. Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "response": {
            "$ref": "ContactGroup"
          },
          "id": "people.contactGroups.update",
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "parameterOrder": [
            "resourceName"
          ],
          "parameters": {
            "resourceName": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The resource name for the contact group, assigned by the server. An ASCII string, in the form of `contactGroups/{contact_group_id}`.",
              "pattern": "^contactGroups/[^/]+$"
            }
          },
          "request": {
            "$ref": "UpdateContactGroupRequest"
          },
          "httpMethod": "PUT",
          "path": "v1/{+resourceName}",
          "scopes": [
            "https://www.googleapis.com/auth/contacts"
          ]
        },
        "get": {
          "description": "Get a specific contact group owned by the authenticated user by specifying a contact group resource name.",
          "parameters": {
            "groupFields": {
              "type": "string",
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "location": "query",
              "format": "google-fieldmask"
            },
            "maxMembers": {
              "type": "integer",
              "description": "Optional. Specifies the maximum number of members to return. Defaults to 0 if not set, which will return zero members.",
              "location": "query",
              "format": "int32"
            },
            "resourceName": {
              "pattern": "^contactGroups/[^/]+$",
              "type": "string",
              "description": "Required. The resource name of the contact group to get.",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceName"
          ],
          "id": "people.contactGroups.get",
          "flatPath": "v1/contactGroups/{contactGroupsId}",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "path": "v1/{+resourceName}",
          "response": {
            "$ref": "ContactGroup"
          }
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Optional. The next_page_token value returned from a previous call to [ListContactGroups](/people/api/rest/v1/contactgroups/list). Requests the next page of resources.",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Optional. The maximum number of resources to return. Valid values are between 1 and 1000, inclusive. Defaults to 30 if not set or set to 0."
            },
            "syncToken": {
              "type": "string",
              "description": "Optional. A sync token, returned by a previous call to `contactgroups.list`. Only resources changed since the sync token was created will be returned.",
              "location": "query"
            },
            "groupFields": {
              "description": "Optional. A field mask to restrict which fields on the group are returned. Defaults to `metadata`, `groupType`, `memberCount`, and `name` if not set or set to empty. Valid fields are: * clientData * groupType * memberCount * metadata * name",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "description": "List all contact groups owned by the authenticated user. Members of the contact groups are not populated.",
          "path": "v1/contactGroups",
          "response": {
            "$ref": "ListContactGroupsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.readonly"
          ],
          "id": "people.contactGroups.list",
          "flatPath": "v1/contactGroups"
        }
      }
    },
    "otherContacts": {
      "methods": {
        "copyOtherContactToMyContactsGroup": {
          "response": {
            "$ref": "Person"
          },
          "path": "v1/{+resourceName}:copyOtherContactToMyContactsGroup",
          "flatPath": "v1/otherContacts/{otherContactsId}:copyOtherContactToMyContactsGroup",
          "description": "Copies an \"Other contact\" to a new contact in the user's \"myContacts\" group Mutate requests for the same user should be sent sequentially to avoid increased latency and failures.",
          "scopes": [
            "https://www.googleapis.com/auth/contacts",
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ],
          "parameterOrder": [
            "resourceName"
          ],
          "parameters": {
            "resourceName": {
              "pattern": "^otherContacts/[^/]+$",
              "description": "Required. The resource name of the \"Other contact\" to copy.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "people.otherContacts.copyOtherContactToMyContactsGroup",
          "httpMethod": "POST",
          "request": {
            "$ref": "CopyOtherContactToMyContactsGroupRequest"
          }
        },
        "search": {
          "httpMethod": "GET",
          "description": "Provides a list of contacts in the authenticated user's other contacts that matches the search query. The query matches on a contact's `names`, `emailAddresses`, and `phoneNumbers` fields that are from the OTHER_CONTACT source. **IMPORTANT**: Before searching, clients should send a warmup request with an empty query to update the cache. See https://developers.google.com/people/v1/other-contacts#search_the_users_other_contacts",
          "parameters": {
            "query": {
              "location": "query",
              "description": "Required. The plain-text query for the request. The query is used to match prefix phrases of the fields on a person. For example, a person with name \"foo name\" matches queries such as \"f\", \"fo\", \"foo\", \"foo n\", \"nam\", etc., but not \"oo n\".",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "Optional. The number of results to return. Defaults to 10 if field is not set, or set to 0. Values greater than 30 will be capped to 30.",
              "format": "int32"
            },
            "readMask": {
              "location": "query",
              "type": "string",
              "description": "Required. A field mask to restrict which fields on each person are returned. Multiple fields can be specified by separating them with commas. Valid values are: * emailAddresses * metadata * names * phoneNumbers",
              "format": "google-fieldmask"
            }
          },
          "id": "people.otherContacts.search",
          "path": "v1/otherContacts:search",
          "response": {
            "$ref": "SearchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/contacts.other.readonly"
          ],
          "flatPath": "v1/otherContacts:search",
          "parameterOrder": []
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "syncToken": {
              "type": "string",
              "description": "Optional. A sync token, received from a previous response `next_sync_token` Provide this to retrieve only the resources changed since the last request. When syncing, all other parameters provided to `otherContacts.list` must match the first call that provided the sync token. More details about sync behavior at `otherContacts.list`.",
              "location": "query"
            },
            "requestSyncToken": {
              "type": "boolean",
[...]
