{
  "revision": "20260830",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "basePath": "",
  "description": "",
  "schemas": {
    "GoogleMapsPlacesV1Review": {
      "type": "object",
      "id": "GoogleMapsPlacesV1Review",
      "description": "Information about a review of a place.",
      "properties": {
        "visitDate": {
          "description": "The date when the author visited the place. This is truncated to the year and month of the visit.",
          "$ref": "GoogleTypeDate"
        },
        "originalText": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The review text in its original language."
        },
        "publishTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp for the review."
        },
        "rating": {
          "format": "double",
          "type": "number",
          "description": "A number between 1.0 and 5.0, also called the number of stars."
        },
        "relativePublishTimeDescription": {
          "description": "A string of formatted recent time, expressing the review time relative to the current time in a form appropriate for the language and country.",
          "type": "string"
        },
        "text": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The localized text of the review."
        },
        "name": {
          "description": "A reference representing this place review which may be used to look up this place review again (also called the API \"resource\" name: `places/{place_id}/reviews/{review}`).",
          "type": "string"
        },
        "googleMapsUri": {
          "description": "A link to show the review on Google Maps.",
          "type": "string"
        },
        "flagContentUri": {
          "type": "string",
          "description": "A link where users can flag a problem with the review."
        },
        "authorAttribution": {
          "description": "This review's author.",
          "$ref": "GoogleMapsPlacesV1AuthorAttribution"
        }
      }
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionQueryPrediction": {
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionQueryPrediction",
      "description": "Prediction results for a Query Autocomplete prediction.",
      "properties": {
        "text": {
          "description": "The predicted text. This text does not represent a Place, but rather a text query that could be used in a search endpoint (for example, Text Search). `text` is recommended for developers who wish to show a single UI element. Developers who wish to show two separate, but related, UI elements may want to use `structured_format` instead. They are two different ways to represent a query prediction. Users should not try to parse `structured_format` into `text` or vice versa. May be in mixed languages if the request `input` and `language_code` are in different languages or if part of the query does not have a translation from the local language to `language_code`.",
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText"
        },
        "structuredFormat": {
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStructuredFormat",
          "description": "A breakdown of the query prediction into main text containing the query and secondary text containing additional disambiguating features (such as a city or region). `structured_format` is recommended for developers who wish to show two separate, but related, UI elements. Developers who wish to show a single UI element may want to use `text` instead. They are two different ways to represent a query prediction. Users should not try to parse `structured_format` into `text` or vice versa."
        }
      },
      "type": "object"
    },
    "GoogleTypeTimeZone": {
      "type": "object",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      },
      "id": "GoogleTypeTimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "GoogleMapsPlacesV1PlaceAccessibilityOptions": {
      "type": "object",
      "description": "Information about the accessibility options a place offers.",
      "properties": {
        "wheelchairAccessibleParking": {
          "type": "boolean",
          "description": "Place offers wheelchair accessible parking."
        },
        "wheelchairAccessibleSeating": {
          "description": "Place has wheelchair accessible seating.",
          "type": "boolean"
        },
        "wheelchairAccessibleEntrance": {
          "description": "Places has wheelchair accessible entrance.",
          "type": "boolean"
        },
        "wheelchairAccessibleRestroom": {
          "description": "Place has wheelchair accessible restroom.",
          "type": "boolean"
        }
      },
      "id": "GoogleMapsPlacesV1PlaceAccessibilityOptions"
    },
    "GoogleMapsPlacesV1PlaceAddressComponent": {
      "id": "GoogleMapsPlacesV1PlaceAddressComponent",
      "type": "object",
      "properties": {
        "languageCode": {
          "description": "The language used to format this components, in CLDR notation.",
          "type": "string"
        },
        "types": {
          "description": "An array indicating the type(s) of the address component.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "longText": {
          "description": "The full text description or name of the address component. For example, an address component for the country Australia may have a long_name of \"Australia\".",
          "type": "string"
        },
        "shortText": {
          "type": "string",
          "description": "An abbreviated textual name for the address component, if available. For example, an address component for the country of Australia may have a short_name of \"AU\"."
        }
      },
      "description": "The structured components that form the formatted address, if this information is available."
    },
    "GoogleMapsPlacesV1AddressDescriptor": {
      "description": "A relational description of a location. Includes a ranked set of nearby landmarks and precise containing areas and their relationship to the target location.",
      "id": "GoogleMapsPlacesV1AddressDescriptor",
      "type": "object",
      "properties": {
        "areas": {
          "description": "A ranked list of containing or adjacent areas. The most recognizable and precise areas are ranked first.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1AddressDescriptorArea"
          }
        },
        "landmarks": {
          "description": "A ranked list of nearby landmarks. The most recognizable and nearby landmarks are ranked first.",
          "items": {
            "$ref": "GoogleMapsPlacesV1AddressDescriptorLandmark"
          },
          "type": "array"
        }
      }
    },
    "GoogleMapsPlacesV1RoutingSummaryLeg": {
      "type": "object",
      "properties": {
        "distanceMeters": {
          "description": "The distance of this leg of the trip.",
          "format": "int32",
          "type": "integer"
        },
        "duration": {
          "description": "The time it takes to complete this leg of the trip.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "A leg is a single portion of a journey from one location to another.",
      "id": "GoogleMapsPlacesV1RoutingSummaryLeg"
    },
    "GoogleMapsPlacesV1SearchTextRequestLocationBias": {
      "type": "object",
      "id": "GoogleMapsPlacesV1SearchTextRequestLocationBias",
      "properties": {
        "circle": {
          "description": "A circle defined by center point and radius.",
          "$ref": "GoogleMapsPlacesV1Circle"
        },
        "rectangle": {
          "description": "A rectangle box defined by northeast and southwest corner. `rectangle.high()` must be the northeast point of the rectangle viewport. `rectangle.low()` must be the southwest point of the rectangle viewport. `rectangle.low().latitude()` cannot be greater than `rectangle.high().latitude()`. This will result in an empty latitude range. A rectangle viewport cannot be wider than 180 degrees.",
          "$ref": "GoogleGeoTypeViewport"
        }
      },
      "description": "The region to search. This location serves as a bias which means results around given location might be returned."
    },
    "GoogleMapsPlacesV1RoutingParameters": {
      "id": "GoogleMapsPlacesV1RoutingParameters",
      "type": "object",
      "description": "Parameters to configure the routing calculations to the places in the response, both along a route (where result ranking will be influenced) and for calculating travel times on results.",
      "properties": {
        "routeModifiers": {
          "$ref": "GoogleMapsPlacesV1RouteModifiers",
          "description": "Optional. The route modifiers."
        },
        "origin": {
          "description": "Optional. An explicit routing origin that overrides the origin defined in the polyline. By default, the polyline origin is used.",
          "$ref": "GoogleTypeLatLng"
        },
        "routingPreference": {
          "type": "string",
          "enum": [
            "ROUTING_PREFERENCE_UNSPECIFIED",
            "TRAFFIC_UNAWARE",
            "TRAFFIC_AWARE",
            "TRAFFIC_AWARE_OPTIMAL"
          ],
          "description": "Optional. Specifies how to compute the routing summaries. The server attempts to use the selected routing preference to compute the route. The traffic aware routing preference is only available for the `DRIVE` or `TWO_WHEELER` `travelMode`.",
          "enumDescriptions": [
            "No routing preference specified. Default to `TRAFFIC_UNAWARE`.",
            "Computes routes without taking live traffic conditions into consideration. Suitable when traffic conditions don't matter or are not applicable. Using this value produces the lowest latency. Note: For `TravelMode` `DRIVE` and `TWO_WHEELER`, the route and duration chosen are based on road network and average time-independent traffic conditions, not current road conditions. Consequently, routes may include roads that are temporarily closed. Results for a given request may vary over time due to changes in the road network, updated average traffic conditions, and the distributed nature of the service. Results may also vary between nearly-equivalent routes at any time or frequency.",
            "Calculates routes taking live traffic conditions into consideration. In contrast to `TRAFFIC_AWARE_OPTIMAL`, some optimizations are applied to significantly reduce latency.",
            "Calculates the routes taking live traffic conditions into consideration, without applying most performance optimizations. Using this value produces the highest latency."
          ]
        },
        "travelMode": {
          "enumDescriptions": [
            "No travel mode specified. Defaults to `DRIVE`.",
            "Travel by passenger car.",
            "Travel by bicycle. Not supported with `search_along_route_parameters`.",
            "Travel by walking. Not supported with `search_along_route_parameters`.",
            "Motorized two wheeled vehicles of all kinds such as scooters and motorcycles. Note that this is distinct from the `BICYCLE` travel mode which covers human-powered transport. Not supported with `search_along_route_parameters`. Only supported in those countries listed at [Countries and regions supported for two-wheeled vehicles](https://developers.google.com/maps/documentation/routes/coverage-two-wheeled)."
          ],
          "description": "Optional. The travel mode.",
          "type": "string",
          "enum": [
            "TRAVEL_MODE_UNSPECIFIED",
            "DRIVE",
            "BICYCLE",
            "WALK",
            "TWO_WHEELER"
          ]
        }
      }
    },
    "GoogleTypeLocalizedText": {
      "description": "Localized variant of a text in a particular language.",
      "id": "GoogleTypeLocalizedText",
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "Localized string in the language corresponding to language_code below."
        },
        "languageCode": {
          "type": "string",
          "description": "The text's BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        }
      }
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText": {
      "type": "object",
      "description": "Text representing a Place or query prediction. The text may be used as is or formatted.",
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText",
      "properties": {
        "text": {
          "description": "Text that may be used as is or formatted with `matches`.",
          "type": "string"
        },
        "matches": {
          "description": "A list of string ranges identifying where the input request matched in `text`. The ranges can be used to format specific parts of `text`. The substrings may not be exact matches of `input` if the matching was determined by criteria other than string matching (for example, spell corrections or transliterations). These values are Unicode character offsets of `text`. The ranges are guaranteed to be ordered in increasing offset values.",
          "items": {
            "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStringRange"
          },
          "type": "array"
        }
      }
    },
    "GoogleMapsPlacesV1ContextualContentJustification": {
      "description": "Justifications for the place. Justifications answers the question of why a place could interest an end user.",
      "type": "object",
      "id": "GoogleMapsPlacesV1ContextualContentJustification",
      "properties": {
        "businessAvailabilityAttributesJustification": {
          "$ref": "GoogleMapsPlacesV1ContextualContentJustificationBusinessAvailabilityAttributesJustification"
        },
        "reviewJustification": {
          "$ref": "GoogleMapsPlacesV1ContextualContentJustificationReviewJustification"
        }
      }
    },
    "GoogleMapsPlacesV1EVChargeOptionsConnectorAggregation": {
      "properties": {
        "outOfServiceCount": {
          "format": "int32",
          "type": "integer",
          "description": "Number of connectors in this aggregation that are currently out of service."
        },
        "count": {
          "type": "integer",
          "description": "Number of connectors in this aggregation.",
          "format": "int32"
        },
        "availabilityLastUpdateTime": {
          "format": "google-datetime",
          "description": "The timestamp when the connector availability information in this aggregation was last updated.",
          "type": "string"
        },
        "maxChargeRateKw": {
          "description": "The static max charging rate in kw of each connector in the aggregation.",
          "format": "double",
          "type": "number"
        },
        "type": {
          "description": "The connector type of this aggregation.",
          "enumDescriptions": [
            "Unspecified connector.",
            "Other connector types.",
            "J1772 type 1 connector.",
            "IEC 62196 type 2 connector. Often referred to as MENNEKES.",
            "CHAdeMO type connector.",
            "Combined Charging System (AC and DC). Based on SAE. Type-1 J-1772 connector",
            "Combined Charging System (AC and DC). Based on Type-2 Mennekes connector",
            "The generic TESLA connector. This is NACS in the North America but can be non-NACS in other parts of the world (e.g. CCS Combo 2 (CCS2) or GB/T). This value is less representative of an actual connector type, and more represents the ability to charge a Tesla brand vehicle at a Tesla owned charging station.",
            "GB/T type corresponds to the GB/T standard in China. This type covers all GB_T types.",
            "Unspecified wall outlet.",
            "The North American Charging System (NACS), standardized as SAE J3400."
          ],
          "type": "string",
          "enum": [
            "EV_CONNECTOR_TYPE_UNSPECIFIED",
            "EV_CONNECTOR_TYPE_OTHER",
            "EV_CONNECTOR_TYPE_J1772",
            "EV_CONNECTOR_TYPE_TYPE_2",
            "EV_CONNECTOR_TYPE_CHADEMO",
            "EV_CONNECTOR_TYPE_CCS_COMBO_1",
            "EV_CONNECTOR_TYPE_CCS_COMBO_2",
            "EV_CONNECTOR_TYPE_TESLA",
            "EV_CONNECTOR_TYPE_UNSPECIFIED_GB_T",
            "EV_CONNECTOR_TYPE_UNSPECIFIED_WALL_OUTLET",
            "EV_CONNECTOR_TYPE_NACS"
          ]
        },
        "availableCount": {
          "description": "Number of connectors in this aggregation that are currently available.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleMapsPlacesV1EVChargeOptionsConnectorAggregation",
      "type": "object",
      "description": "EV charging information grouped by [type, max_charge_rate_kw]. Shows EV charge aggregation of connectors that have the same type and max charge rate in kw."
    },
    "GoogleMapsPlacesV1AutocompletePlacesRequestLocationBias": {
      "description": "The region to search. The results may be biased around the specified region.",
      "id": "GoogleMapsPlacesV1AutocompletePlacesRequestLocationBias",
      "type": "object",
      "properties": {
        "rectangle": {
          "description": "A viewport defined by a northeast and a southwest corner.",
          "$ref": "GoogleGeoTypeViewport"
        },
        "circle": {
          "$ref": "GoogleMapsPlacesV1Circle",
          "description": "A circle defined by a center point and radius."
        }
      }
    },
    "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedText": {
      "properties": {
        "highlightedTextRanges": {
          "description": "The list of the ranges of the highlighted text.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedTextHighlightedTextRange"
          }
        },
        "text": {
          "type": "string"
        }
      },
      "description": "The text highlighted by the justification. This is a subset of the review itself. The exact word to highlight is marked by the HighlightedTextRange. There could be several words in the text being highlighted.",
      "type": "object",
      "id": "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedText"
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "GoogleMapsPlacesV1PlaceSubDestination": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the sub-destination."
        },
        "id": {
          "description": "The place id of the sub-destination.",
          "type": "string"
        }
      },
      "description": "Sub-destinations are specific places associated with a main place. These provide more specific destinations for users who are searching within a large or complex place, like an airport, national park, university, or stadium. For example, sub-destinations at an airport might include associated terminals and parking lots. Sub-destinations return the place ID and place resource name, which can be used in subsequent Place Details (New) requests to fetch richer details, including the sub-destination's display name and location.",
      "id": "GoogleMapsPlacesV1PlaceSubDestination",
      "type": "object"
    },
    "GoogleMapsPlacesV1AuthorAttribution": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Name of the author of the Photo or Review."
        },
        "uri": {
          "description": "URI of the author of the Photo or Review.",
          "type": "string"
        },
        "photoUri": {
          "type": "string",
          "description": "Profile photo URI of the author of the Photo or Review."
        }
      },
      "description": "Information about the author of the UGC data. Used in Photo, and Review.",
      "id": "GoogleMapsPlacesV1AuthorAttribution",
      "type": "object"
    },
    "GoogleMapsPlacesV1EVChargeOptions": {
      "description": "Information about the EV Charge Station hosted in Place. Terminology follows https://afdc.energy.gov/fuels/electricity_infrastructure.html One port could charge one car at a time. One port has one or more connectors. One station has one or more ports.",
      "id": "GoogleMapsPlacesV1EVChargeOptions",
      "type": "object",
      "properties": {
        "connectorAggregation": {
          "description": "A list of EV charging connector aggregations that contain connectors of the same type and same charge rate.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1EVChargeOptionsConnectorAggregation"
          }
        },
        "connectorCount": {
          "format": "int32",
          "description": "Number of connectors at this station. However, because some ports can have multiple connectors but only be able to charge one car at a time (e.g.) the number of connectors may be greater than the total number of cars which can charge simultaneously.",
          "type": "integer"
        }
      }
    },
    "GoogleTypeLatLng": {
      "properties": {
        "latitude": {
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "type": "number",
          "format": "double"
        },
        "longitude": {
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "format": "double",
          "type": "number"
        }
      },
      "id": "GoogleTypeLatLng",
      "type": "object",
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges."
    },
    "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay": {
      "id": "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay",
      "properties": {
        "date": {
          "description": "The date of this special day.",
          "$ref": "GoogleTypeDate"
        }
      },
      "type": "object",
      "description": "Structured information for special days that fall within the period that the returned opening hours cover. Special days are days that could impact the business hours of a place, e.g. Christmas day."
    },
    "GoogleMapsPlacesV1PlaceGenerativeSummary": {
      "properties": {
        "overviewFlagContentUri": {
          "description": "A link where users can flag a problem with the overview summary.",
          "type": "string"
        },
        "disclosureText": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The AI disclosure message \"Summarized with Gemini\" (and its localized variants). This will be in the language specified in the request if available."
        },
        "overview": {
          "description": "The overview of the place.",
          "$ref": "GoogleTypeLocalizedText"
        }
      },
      "id": "GoogleMapsPlacesV1PlaceGenerativeSummary",
      "description": "AI-generated summary of the place.",
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceOpeningHoursPeriod": {
      "id": "GoogleMapsPlacesV1PlaceOpeningHoursPeriod",
      "type": "object",
      "properties": {
        "close": {
          "description": "The time that the place starts to be closed.",
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint"
        },
        "open": {
          "description": "The time that the place starts to be open.",
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint"
        }
      },
      "description": "A period the place remains in open_now status."
    },
    "GoogleMapsPlacesV1PlaceReviewSummary": {
      "properties": {
        "reviewsUri": {
          "type": "string",
          "description": "A link to show reviews of this place on Google Maps."
        },
        "disclosureText": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The AI disclosure message \"Summarized with Gemini\" (and its localized variants). This will be in the language specified in the request if available."
        },
        "text": {
          "description": "The summary of user reviews.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "flagContentUri": {
          "type": "string",
          "description": "A link where users can flag a problem with the summary."
        }
      },
      "id": "GoogleMapsPlacesV1PlaceReviewSummary",
      "description": "AI-generated summary of the place using user reviews.",
      "type": "object"
    },
    "GoogleMapsPlacesV1RoutingSummary": {
      "type": "object",
      "id": "GoogleMapsPlacesV1RoutingSummary",
      "description": "The duration and distance from the routing origin to a place in the response, and a second leg from that place to the destination, if requested. **Note:** Adding `routingSummaries` in the field mask without also including either the `routingParameters.origin` parameter or the `searchAlongRouteParameters.polyline.encodedPolyline` parameter in the request causes an error.",
      "properties": {
        "directionsUri": {
          "type": "string",
          "description": "A link to show directions on Google Maps using the waypoints from the given routing summary. The route generated by this link is not guaranteed to be the same as the route used to generate the routing summary. The link uses information provided in the request, from fields including `routingParameters` and `searchAlongRouteParameters` when applicable, to generate the directions link."
        },
        "legs": {
          "description": "The legs of the trip. When you calculate travel duration and distance from a set origin, `legs` contains a single leg containing the duration and distance from the origin to the destination. When you do a search along route, `legs` contains two legs: one from the origin to place, and one from the place to the destination.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1RoutingSummaryLeg"
          }
        }
      }
    },
    "GoogleMapsPlacesV1PlaceAttribution": {
      "description": "Information about data providers of this place.",
      "type": "object",
      "properties": {
        "provider": {
          "type": "string",
          "description": "Name of the Place's data provider."
        },
        "providerUri": {
          "description": "URI to the Place's data provider.",
          "type": "string"
        }
      },
      "id": "GoogleMapsPlacesV1PlaceAttribution"
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionPlacePrediction": {
      "properties": {
        "distanceMeters": {
          "description": "The length of the geodesic in meters from `origin` if `origin` is specified. Certain predictions such as routes may not populate this field.",
          "type": "integer",
          "format": "int32"
        },
        "structuredFormat": {
          "description": "A breakdown of the Place prediction into main text containing the name of the Place and secondary text containing additional disambiguating features (such as a city or region). `structured_format` is recommended for developers who wish to show two separate, but related, UI elements. Developers who wish to show a single UI element may want to use `text` instead. They are two different ways to represent a Place prediction. Users should not try to parse `structured_format` into `text` or vice versa.",
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStructuredFormat"
        },
        "text": {
          "description": "Contains the human-readable name for the returned result. For establishment results, this is usually the business name and address. `text` is recommended for developers who wish to show a single UI element. Developers who wish to show two separate, but related, UI elements may want to use `structured_format` instead. They are two different ways to represent a Place prediction. Users should not try to parse `structured_format` into `text` or vice versa. This text may be different from the `display_name` returned by GetPlace. May be in mixed languages if the request `input` and `language_code` are in different languages or if the Place does not have a translation from the local language to `language_code`.",
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText"
        },
        "types": {
          "description": "List of types that apply to this Place from Table A or Table B in https://developers.google.com/maps/documentation/places/web-service/place-types. A type is a categorization of a Place. Places with shared types will share similar characteristics.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "place": {
          "description": "The resource name of the suggested Place. This name can be used in other APIs that accept Place names.",
          "type": "string"
        },
        "placeId": {
          "description": "The unique identifier of the suggested Place. This identifier can be used in other APIs that accept Place IDs.",
          "type": "string"
        }
      },
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionPlacePrediction",
      "description": "Prediction results for a Place Autocomplete prediction.",
      "type": "object"
    },
    "GoogleMapsPlacesV1AutocompletePlacesRequestLocationRestriction": {
      "id": "GoogleMapsPlacesV1AutocompletePlacesRequestLocationRestriction",
      "type": "object",
      "properties": {
        "rectangle": {
          "description": "A viewport defined by a northeast and a southwest corner.",
          "$ref": "GoogleGeoTypeViewport"
        },
        "circle": {
          "$ref": "GoogleMapsPlacesV1Circle",
          "description": "A circle defined by a center point and radius."
        }
      },
      "description": "The region to search. The results will be restricted to the specified region."
    },
    "GoogleMapsPlacesV1TransitAgency": {
      "properties": {
        "icon": {
          "$ref": "GoogleMapsPlacesV1TransitIcon",
          "description": "Icon identifier for localized branded icon of a transit system (e.g. London Underground) which should be used instead of TransitLine.vehicle_icon in the UI."
        },
        "displayName": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "Agency name (e.g. \"VTA\") in the requested language."
        },
        "url": {
          "description": "The URL of the agency's homepage.",
          "type": "string"
        },
        "lines": {
          "items": {
            "$ref": "GoogleMapsPlacesV1TransitLine"
          },
          "description": "The transit lines that are served by this agency.",
          "type": "array"
        },
        "fareUrl": {
          "type": "string",
          "description": "The URL of the agency's fare details page."
        }
      },
      "description": "Represents a transit agency.",
      "type": "object",
      "id": "GoogleMapsPlacesV1TransitAgency"
    },
    "GoogleMapsPlacesV1TransitStation": {
      "id": "GoogleMapsPlacesV1TransitStation",
      "type": "object",
      "description": "Represents transit-specific information for a place.",
      "properties": {
        "stops": {
          "items": {
            "$ref": "GoogleMapsPlacesV1TransitStop"
          },
          "type": "array",
          "description": "Transit stops at this station."
        },
        "agencies": {
          "type": "array",
          "description": "The transit agencies that serve this station.",
          "items": {
            "$ref": "GoogleMapsPlacesV1TransitAgency"
          }
        },
        "displayName": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The name of the station in the local language."
        }
      }
    },
    "GoogleMapsPlacesV1PlaceConsumerAlertDetailsLink": {
      "description": "The link to show together with the description to provide more information.",
      "properties": {
        "title": {
          "description": "The title to show for the link.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "The uri of the link."
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1PlaceConsumerAlertDetailsLink"
    },
    "GoogleMapsPlacesV1PriceRange": {
      "type": "object",
      "description": "The price range associated with a Place. `end_price` could be unset, which indicates a range without upper bound (e.g. \"More than $100\").",
      "properties": {
        "endPrice": {
          "$ref": "GoogleTypeMoney",
          "description": "The high end of the price range (exclusive). Price should be lower than this amount."
        },
        "startPrice": {
          "$ref": "GoogleTypeMoney",
          "description": "The low end of the price range (inclusive). Price should be at or above this amount."
        }
      },
      "id": "GoogleMapsPlacesV1PriceRange"
    },
    "GoogleMapsPlacesV1Place": {
      "description": "All the information representing a Place.",
      "id": "GoogleMapsPlacesV1Place",
      "type": "object",
      "properties": {
        "shortFormattedAddress": {
          "type": "string",
          "description": "A short, human-readable address for this place."
        },
        "id": {
          "type": "string",
          "description": "The unique identifier of a place."
        },
        "movedPlace": {
          "description": "If this Place is permanently closed and has moved to a new Place, this field contains the new Place's resource name, in `places/{place_id}` format. If this Place moved multiple times, this field will represent the first moved place. This field will not be populated if this Place has not moved.",
          "type": "string"
        },
        "transitStation": {
          "description": "The transit station information for the place.",
          "$ref": "GoogleMapsPlacesV1TransitStation"
        },
        "postalAddress": {
          "$ref": "GoogleTypePostalAddress",
          "description": "The address in postal address format."
        },
        "accessibilityOptions": {
          "$ref": "GoogleMapsPlacesV1PlaceAccessibilityOptions",
          "description": "Information about the accessibility options a place offers."
        },
        "addressComponents": {
          "description": "Repeated components for each locality level. Note the following facts about the address_components[] array: - The array of address components may contain more components than the formatted_address. - The array does not necessarily include all the political entities that contain an address, apart from those included in the formatted_address. To retrieve all the political entities that contain a specific address, you should use reverse geocoding, passing the latitude/longitude of the address as a parameter to the request. - The format of the response is not guaranteed to remain the same between requests. In particular, the number of address_components varies based on the address requested and can change over time for the same address. A component can change position in the array. The type of the component can change. A particular component may be missing in a later response.",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceAddressComponent"
          },
          "type": "array"
        },
        "dineIn": {
          "type": "boolean",
          "description": "Specifies if the business supports indoor or outdoor seating options."
        },
        "regularOpeningHours": {
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHours",
          "description": "The regular hours are the hours of operation for a place on a typical schedule. Note that if a place is always open (24 hours), the `close` field will not be set. Clients can rely on always open (24 hours) being represented as an [`open`](https://developers.google.com/maps/documentation/places/web-service/reference/rest/v1/places#Period) period containing [`day`](https://developers.google.com/maps/documentation/places/web-service/reference/rest/v1/places#Point) with value `0`, [`hour`](https://developers.google.com/maps/documentation/places/web-service/reference/rest/v1/places#Point) with value `0`, and [`minute`](https://developers.google.com/maps/documentation/places/web-service/reference/rest/v1/places#Point) with value `0`."
        },
        "parkingOptions": {
          "$ref": "GoogleMapsPlacesV1PlaceParkingOptions",
          "description": "Options of parking provided by the place."
        },
        "currentOpeningHours": {
          "description": "The hours of operation for the next seven days (including today) incorporating any special opening hours. The time period starts at midnight on the date of the request and ends at 11:59 pm six days later. If the actual opening hours are outside of this range, the opening hours will be truncated. For example, if a place is open from 10pm yesterday to 6am today, the opening hours will be truncated to 12am today to 6am today. This field includes the special_days subfield of all hours, set for dates that have exceptional hours.",
          "$ref": "GoogleMapsPlacesV1PlaceOpeningHours"
        },
        "liveMusic": {
          "type": "boolean",
          "description": "Place provides live music."
        },
        "iconMaskBaseUri": {
          "description": "A truncated URL to an icon mask. User can access different icon type by appending type suffix to the end (eg, \".svg\" or \".png\").",
          "type": "string"
        },
        "priceRange": {
          "description": "The price range associated with a Place.",
          "$ref": "GoogleMapsPlacesV1PriceRange"
        },
        "servesBeer": {
          "description": "Specifies if the place serves beer.",
          "type": "boolean"
        },
        "outdoorSeating": {
          "description": "Place provides outdoor seating.",
          "type": "boolean"
        },
        "regularSecondaryOpeningHours": {
          "description": "Contains an array of entries for information about regular secondary hours of a business. Secondary hours are different from a business's main hours. For example, a restaurant can specify drive through hours or delivery hours as its secondary hours. This field populates the type subfield, which draws from a predefined list of opening hours types (such as DRIVE_THROUGH, PICKUP, or TAKEOUT) based on the types of the place.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHours"
          }
        },
        "pureServiceAreaBusiness": {
          "description": "Indicates whether the place is a pure service area business. Pure service area business is a business that visits or delivers to customers directly but does not serve customers at their business address. For example, businesses like cleaning services or plumbers. Those businesses may not have a physical address or location on Google Maps.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "This Place's resource name, in `places/{place_id}` format. Can be used to look up the Place."
        },
        "menuForChildren": {
          "type": "boolean",
          "description": "Place has a children's menu."
        },
        "plusCode": {
          "description": "Plus code of the place location lat/long.",
          "$ref": "GoogleMapsPlacesV1PlacePlusCode"
        },
        "formattedAddress": {
          "type": "string",
          "description": "A full, human-readable address for this place."
        },
        "evChargeAmenitySummary": {
          "$ref": "GoogleMapsPlacesV1PlaceEvChargeAmenitySummary",
          "description": "The summary of amenities near the EV charging station."
        },
        "containingPlaces": {
          "description": "List of places in which the current place is located.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceContainingPlace"
          }
        },
        "internationalPhoneNumber": {
          "description": "A human-readable phone number for the place, in international format.",
          "type": "string"
        },
        "primaryTypeDisplayName": {
          "description": "The display name of the primary type, localized to the request language if applicable. For the complete list of possible values, see Table A and Table B at https://developers.google.com/maps/documentation/places/web-service/place-types. The primary type may be missing if the place's primary type is not a supported type.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "fuelOptions": {
          "description": "The most recent information about fuel options in a gas station. This information is updated regularly.",
          "$ref": "GoogleMapsPlacesV1FuelOptions"
        },
        "servesCocktails": {
          "description": "Place serves cocktails.",
          "type": "boolean"
        },
        "googleMapsTypeLabel": {
          "description": "The type label of the place on Google Maps, localized to the request language if applicable, for example, \"Restaurant\", \"Cafe\", \"Airport\", etc. The type label may be different from the primary type display name and may not be a supported type in [Places API Place Types table](https://developers.google.com/maps/documentation/places/web-service/place-types).",
          "$ref": "GoogleTypeLocalizedText"
        },
        "nationalPhoneNumber": {
          "description": "A human-readable phone number for the place, in national format.",
          "type": "string"
        },
        "entrances": {
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceEntrance"
          },
          "description": "Entrances for this destination."
        },
        "servesWine": {
          "description": "Specifies if the place serves wine.",
          "type": "boolean"
        },
        "movedPlaceId": {
          "description": "If this Place is permanently closed and has moved to a new Place, this field contains the new Place's place ID. If this Place moved multiple times, this field will represent the first moved Place. This field will not be populated if this Place has not moved.",
          "type": "string"
        },
        "allowsDogs": {
          "description": "Place allows dogs.",
          "type": "boolean"
        },
        "paymentOptions": {
          "$ref": "GoogleMapsPlacesV1PlacePaymentOptions",
          "description": "Payment options the place accepts. If a payment option data is not available, the payment option field will be unset."
        },
        "photos": {
          "items": {
            "$ref": "GoogleMapsPlacesV1Photo"
          },
          "type": "array",
          "description": "Information (including references) about photos of this place. A maximum of 10 photos can be returned."
        },
        "rating": {
          "description": "A rating between 1.0 and 5.0, based on user reviews of this place.",
          "format": "double",
          "type": "number"
        },
        "consumerAlert": {
          "$ref": "GoogleMapsPlacesV1PlaceConsumerAlert",
          "description": "The consumer alert message for the place when we detect suspicious review activity on a business or a business violates our policies."
        },
        "servesDessert": {
          "description": "Place serves dessert.",
          "type": "boolean"
        },
        "iconBackgroundColor": {
          "description": "Background color for icon_mask in hex format, e.g. #909CE1.",
          "type": "string"
        },
        "editorialSummary": {
          "description": "Contains a summary of the place. A summary is comprised of a textual overview, and also includes the language code for these if applicable. Summary text must be presented as-is and can not be modified or altered.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "googleMapsLinks": {
          "description": "Links to trigger different Google Maps actions.",
          "$ref": "GoogleMapsPlacesV1PlaceGoogleMapsLinks"
        },
        "adrFormatAddress": {
          "type": "string",
          "description": "The place's address in adr microformat: http://microformats.org/wiki/adr."
        },
        "servesCoffee": {
          "description": "Place serves coffee.",
          "type": "boolean"
        },
        "openingDate": {
          "description": "The date this place will open in the future. This field is only populated if the business status is FUTURE_OPENING.",
          "$ref": "GoogleTypeDate"
        },
        "takeout": {
          "description": "Specifies if the business supports takeout.",
          "type": "boolean"
        },
        "servesBrunch": {
          "type": "boolean",
          "description": "Specifies if the place serves brunch."
        },
        "location": {
          "description": "The position of this place.",
          "$ref": "GoogleTypeLatLng"
        },
        "goodForWatchingSports": {
          "description": "Place is suitable for watching sports.",
          "type": "boolean"
        },
        "servesVegetarianFood": {
          "type": "boolean",
          "description": "Specifies if the place serves vegetarian food."
        },
        "userRatingCount": {
          "description": "The total number of reviews (with or without text) for this place.",
          "format": "int32",
          "type": "integer"
        },
        "currentSecondaryOpeningHours": {
          "description": "Contains an array of entries for the next seven days including information about secondary hours of a business. Secondary hours are different from a business's main hours. For example, a restaurant can specify drive through hours or delivery hours as its secondary hours. This field populates the type subfield, which draws from a predefined list of opening hours types (such as DRIVE_THROUGH, PICKUP, or TAKEOUT) based on the types of the place. This field includes the special_days subfield of all hours, set for dates that have exceptional hours.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHours"
          }
        },
        "servesDinner": {
          "type": "boolean",
          "description": "Specifies if the place serves dinner."
        },
        "servesLunch": {
          "description": "Specifies if the place serves lunch.",
          "type": "boolean"
        },
        "evChargeOptions": {
          "description": "Information of ev charging options.",
          "$ref": "GoogleMapsPlacesV1EVChargeOptions"
        },
        "displayName": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The localized name of the place, suitable as a short human-readable description. For example, \"Google Sydney\", \"Starbucks\", \"Pyrmont\", etc."
        },
        "restroom": {
          "description": "Place has restroom.",
          "type": "boolean"
        },
        "reviews": {
          "description": "List of reviews about this place, sorted by relevance. A maximum of 5 reviews can be returned.",
          "items": {
            "$ref": "GoogleMapsPlacesV1Review"
          },
          "type": "array"
        },
        "servesBreakfast": {
          "description": "Specifies if the place serves breakfast.",
          "type": "boolean"
        },
        "types": {
          "description": "A set of type tags for this result. For example, \"political\" and \"locality\". For the complete list of possible values, see Table A and Table B at https://developers.google.com/maps/documentation/places/web-service/place-types",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "addressDescriptor": {
          "description": "The address descriptor of the place. Address descriptors include additional information that help describe a location using landmarks and areas. See address descriptor regional coverage in https://developers.google.com/maps/documentation/geocoding/address-descriptors/coverage.",
          "$ref": "GoogleMapsPlacesV1AddressDescriptor"
        },
        "priceLevel": {
          "enumDescriptions": [
            "Place price level is unspecified or unknown.",
            "Place provides free services.",
            "Place provides inexpensive services.",
            "Place provides moderately priced services.",
            "Place provides expensive services.",
            "Place provides very expensive services."
          ],
          "description": "Price level of the place.",
          "type": "string",
          "enum": [
            "PRICE_LEVEL_UNSPECIFIED",
            "PRICE_LEVEL_FREE",
            "PRICE_LEVEL_INEXPENSIVE",
            "PRICE_LEVEL_MODERATE",
            "PRICE_LEVEL_EXPENSIVE",
            "PRICE_LEVEL_VERY_EXPENSIVE"
          ]
        },
        "viewport": {
          "$ref": "GoogleGeoTypeViewport",
          "description": "A viewport suitable for displaying the place on an average-sized map. This viewport should not be used as the physical boundary or the service area of the business."
        },
        "websiteUri": {
          "type": "string",
          "description": "The authoritative website for this place, e.g. a business' homepage. Note that for places that are part of a chain (e.g. an IKEA store), this will usually be the website for the individual store, not the overall chain."
        },
        "timeZone": {
          "$ref": "GoogleTypeTimeZone",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        },
        "goodForGroups": {
          "description": "Place accommodates groups.",
          "type": "boolean"
        },
        "goodForChildren": {
          "description": "Place is good for children.",
          "type": "boolean"
        },
        "generativeSummary": {
          "$ref": "GoogleMapsPlacesV1PlaceGenerativeSummary",
          "description": "AI-generated summary of the place."
        },
        "curbsidePickup": {
          "description": "Specifies if the business supports curbside pickup.",
          "type": "boolean"
        },
        "utcOffsetMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "Number of minutes this place's timezone is currently offset from UTC. This is expressed in minutes to support timezones that are offset by fractions of an hour, e.g. X hours and 15 minutes."
        },
        "delivery": {
          "description": "Specifies if the business supports delivery.",
          "type": "boolean"
        },
        "primaryType": {
          "description": "The primary type of the given result. This type must be one of the Places API supported types. For example, \"restaurant\", \"cafe\", \"airport\", etc. A place can only have a single primary type. For the complete list of possible values, see Table A and Table B at https://developers.google.com/maps/documentation/places/web-service/place-types. The primary type may be missing if the place's primary type is not a supported type. When a primary type is present, it is always one of the types in the `types` field.",
          "type": "string"
        },
        "reviewSummary": {
          "description": "AI-generated summary of the place using user reviews.",
          "$ref": "GoogleMapsPlacesV1PlaceReviewSummary"
        },
        "attributions": {
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceAttribution"
          },
          "description": "A set of data provider that must be shown with this result."
        },
        "reservable": {
          "type": "boolean",
          "description": "Specifies if the place supports reservations."
        },
        "neighborhoodSummary": {
          "$ref": "GoogleMapsPlacesV1PlaceNeighborhoodSummary",
          "description": "A summary of points of interest near the place."
        },
        "navigationPoints": {
          "description": "Navigation points for this destination.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceNavigationPoint"
          }
        },
        "subDestinations": {
          "description": "A list of sub-destinations related to the place.",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceSubDestination"
          },
          "type": "array"
        },
        "businessStatus": {
          "type": "string",
          "enum": [
            "BUSINESS_STATUS_UNSPECIFIED",
            "OPERATIONAL",
            "CLOSED_TEMPORARILY",
            "CLOSED_PERMANENTLY",
            "FUTURE_OPENING"
          ],
          "description": "The business status for the place.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The establishment is operational, not necessarily open now.",
            "The establishment is temporarily closed.",
            "The establishment is permanently closed.",
            "The establishment will open in the future."
          ]
        },
        "googleMapsUri": {
          "type": "string",
          "description": "A URL providing more information about this place."
        }
      }
    },
    "GoogleMapsPlacesV1ContentBlock": {
      "properties": {
        "content": {
          "description": "Content related to the topic.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "referencedPlaces": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of resource names of the referenced places. This name can be used in other APIs that accept Place resource names."
        }
      },
      "id": "GoogleMapsPlacesV1ContentBlock",
      "type": "object",
      "description": "A block of content that can be served individually."
    },
    "GoogleMapsPlacesV1ContextualContentJustificationReviewJustification": {
      "type": "object",
      "properties": {
        "review": {
          "description": "The review that the highlighted text is generated from.",
          "$ref": "GoogleMapsPlacesV1Review"
        },
        "highlightedText": {
          "$ref": "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedText"
        }
      },
      "id": "GoogleMapsPlacesV1ContextualContentJustificationReviewJustification",
      "description": "User review justifications. This highlights a section of the user review that would interest an end user. For instance, if the search query is \"firewood pizza\", the review justification highlights the text relevant to the search query."
    },
    "GoogleMapsPlacesV1PlaceConsumerAlert": {
      "properties": {
        "languageCode": {
          "description": "The language code of the consumer alert message. This is a BCP 47 language code.",
          "type": "string"
        },
        "details": {
          "$ref": "GoogleMapsPlacesV1PlaceConsumerAlertDetails",
          "description": "The details of the consumer alert message."
        },
        "overview": {
          "description": "The overview of the consumer alert message.",
          "type": "string"
        }
      },
      "id": "GoogleMapsPlacesV1PlaceConsumerAlert",
      "type": "object",
      "description": "The consumer alert message for the place when we detect suspicious review activity on a business or a business violates our policies."
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStringRange": {
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStringRange",
      "type": "object",
      "properties": {
        "startOffset": {
          "format": "int32",
          "description": "Zero-based offset of the first Unicode character of the string (inclusive).",
          "type": "integer"
        },
        "endOffset": {
          "type": "integer",
          "description": "Zero-based offset of the last Unicode character (exclusive).",
          "format": "int32"
        }
      },
      "description": "Identifies a substring within a given text."
    },
    "GoogleMapsPlacesV1FuelOptionsFuelPrice": {
      "id": "GoogleMapsPlacesV1FuelOptionsFuelPrice",
      "description": "Fuel price information for a given type.",
      "type": "object",
      "properties": {
        "price": {
          "description": "The price of the fuel.",
          "$ref": "GoogleTypeMoney"
        },
        "updateTime": {
          "description": "The time the fuel price was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "type": {
          "description": "The type of fuel.",
          "type": "string",
          "enum": [
            "FUEL_TYPE_UNSPECIFIED",
            "DIESEL",
            "DIESEL_PLUS",
            "REGULAR_UNLEADED",
            "MIDGRADE",
            "PREMIUM",
            "SP91",
            "SP91_E10",
            "SP92",
            "SP95",
            "SP95_E10",
            "SP98",
            "SP99",
            "SP100",
            "LPG",
            "E80",
            "E85",
            "E100",
            "METHANE",
            "BIO_DIESEL",
            "TRUCK_DIESEL"
          ],
          "enumDescriptions": [
            "Unspecified fuel type.",
            "Diesel fuel.",
            "Diesel plus fuel.",
            "Regular unleaded.",
            "Midgrade.",
            "Premium.",
            "SP 91.",
            "SP 91 E10.",
            "SP 92.",
            "SP 95.",
            "SP95 E10.",
            "SP 98.",
            "SP 99.",
            "SP 100.",
            "Liquefied Petroleum Gas.",
            "E 80.",
            "E 85.",
            "E 100.",
            "Methane.",
            "Bio-diesel.",
            "Truck diesel."
          ]
        }
      }
    },
    "GoogleMapsPlacesV1TransitIcon": {
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of the icon."
        },
        "nameIncluded": {
          "description": "Whether the name is contained in the icon and there is no need to display it next to the icon.",
          "type": "boolean"
        }
      },
      "id": "GoogleMapsPlacesV1TransitIcon",
      "type": "object",
      "description": "Icon for a transit line, vehicle, or agency."
    },
    "GoogleMapsPlacesV1SearchTextRequest": {
      "id": "GoogleMapsPlacesV1SearchTextRequest",
      "type": "object",
      "properties": {
        "textQuery": {
          "description": "Required. The text query for textual search.",
          "type": "string"
        },
        "searchAlongRouteParameters": {
          "$ref": "GoogleMapsPlacesV1SearchTextRequestSearchAlongRouteParameters",
          "description": "Optional. Additional parameters proto for searching along a route."
        },
        "includedType": {
          "description": "The requested place type. Full list of types supported: https://developers.google.com/maps/documentation/places/web-service/place-types. Only support one included type.",
          "type": "string"
        },
        "minRating": {
          "description": "Filter out results whose average user rating is strictly less than this limit. A valid value must be a float between 0 and 5 (inclusively) at a 0.5 cadence i.e. [0, 0.5, 1.0, ... , 5.0] inclusively. The input rating will round up to the nearest 0.5(ceiling). For instance, a rating of 0.6 will eliminate all results with a less than 1.0 rating.",
          "format": "double",
          "type": "number"
        },
        "rankPreference": {
          "description": "How results will be ranked in the response.",
          "enumDescriptions": [
            "For a categorical query such as \"Restaurants in New York City\", RELEVANCE is the default. For non-categorical queries such as \"Mountain View, CA\" we recommend that you leave rankPreference unset.",
            "Ranks results by distance.",
            "Ranks results by relevance. Sort order determined by normal ranking stack."
          ],
          "type": "string",
          "enum": [
            "RANK_PREFERENCE_UNSPECIFIED",
            "DISTANCE",
            "RELEVANCE"
          ]
        },
        "maxResultCount": {
          "deprecated": true,
          "description": "Deprecated: Use `page_size` instead. The maximum number of results per page that can be returned. If the number of available results is larger than `max_result_count`, a `next_page_token` is returned which can be passed to `page_token` to get the next page of results in subsequent requests. If 0 or no value is provided, a default of 20 is used. The maximum value is 20; values above 20 will be coerced to 20. Negative values will return an INVALID_ARGUMENT error. If both `max_result_count` and `page_size` are specified, `max_result_count` will be ignored.",
          "type": "integer",
          "format": "int32"
        },
        "evOptions": {
          "$ref": "GoogleMapsPlacesV1SearchTextRequestEVOptions",
          "description": "Optional. Set the searchable EV options of a place search request."
        },
        "routingParameters": {
          "description": "Optional. Additional parameters for routing to results.",
          "$ref": "GoogleMapsPlacesV1RoutingParameters"
        },
        "includeFutureOpeningBusinesses": {
          "description": "Optional. If true, include businesses that are not yet open but will open in the future.",
          "type": "boolean"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum number of results per page that can be returned. If the number of available results is larger than `page_size`, a `next_page_token` is returned which can be passed to `page_token` to get the next page of results in subsequent requests. If 0 or no value is provided, a default of 20 is used. The maximum value is 20; values above 20 will be set to 20. Negative values will return an INVALID_ARGUMENT error. If both `max_result_count` and `page_size` are specified, `max_result_count` will be ignored."
        },
        "strictTypeFiltering": {
          "type": "boolean",
          "description": "Used to set strict type filtering for included_type. If set to true, only results of the same type will be returned. Default to false."
        },
        "locationRestriction": {
          "$ref": "GoogleMapsPlacesV1SearchTextRequestLocationRestriction",
          "description": "The region to search. This location serves as a restriction which means results outside given location will not be returned. Cannot be set along with location_bias."
        },
        "priceLevels": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Place price level is unspecified or unknown.",
              "Place provides free services.",
              "Place provides inexpensive services.",
              "Place provides moderately priced services.",
              "Place provides expensive services.",
              "Place provides very expensive services."
            ],
            "type": "string",
            "enum": [
              "PRICE_LEVEL_UNSPECIFIED",
              "PRICE_LEVEL_FREE",
              "PRICE_LEVEL_INEXPENSIVE",
              "PRICE_LEVEL_MODERATE",
              "PRICE_LEVEL_EXPENSIVE",
              "PRICE_LEVEL_VERY_EXPENSIVE"
            ]
          },
          "description": "Used to restrict the search to places that are marked as certain price levels. Users can choose any combinations of price levels. Default to select all price levels."
        },
        "includePureServiceAreaBusinesses": {
          "type": "boolean",
          "description": "Optional. Include pure service area businesses if the field is set to true. Pure service area business is a business that visits or delivers to customers directly but does not serve customers at their business address. For example, businesses like cleaning services or plumbers. Those businesses do not have a physical address or location on Google Maps. Places will not return fields including `location`, `plus_code`, and other location related fields for these businesses."
        },
        "openNow": {
          "description": "Used to restrict the search to places that are currently open. The default is false.",
          "type": "boolean"
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous TextSearch call. Provide this to retrieve the subsequent page. When paginating, all parameters other than `page_token`, `page_size`, and `max_result_count` provided to TextSearch must match the initial call that provided the page token. Otherwise an INVALID_ARGUMENT error is returned.",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "The Unicode country/region code (CLDR) of the location where the request is coming from. This parameter is used to display the place details, like region-specific place name, if available. The parameter can affect results based on applicable law. For more information, see https://www.unicode.org/cldr/charts/latest/supplemental/territory_language_information.html. Note that 3-digit region codes are not currently supported."
        },
        "languageCode": {
          "description": "Place details will be displayed with the preferred language if available. If the language code is unspecified or unrecognized, place details of any language may be returned, with a preference for English if such details exist. Current list of supported languages: https://developers.google.com/maps/faq#languagesupport.",
          "type": "string"
        },
        "locationBias": {
          "$ref": "GoogleMapsPlacesV1SearchTextRequestLocationBias",
          "description": "The region to search. This location serves as a bias which means results around given location might be returned. Cannot be set along with location_restriction."
        }
      },
      "description": "Request proto for SearchText. "
    },
    "GoogleTypeMoney": {
      "properties": {
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "id": "GoogleTypeMoney"
    },
    "GoogleMapsPlacesV1Photo": {
      "id": "GoogleMapsPlacesV1Photo",
      "description": "Information about a photo of a place.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. A reference representing this place photo which may be used to look up this place photo again (also called the API \"resource\" name: `places/{place_id}/photos/{photo}`)."
        },
        "googleMapsUri": {
          "description": "A link to show the photo on Google Maps.",
          "type": "string"
        },
        "authorAttributions": {
          "type": "array",
          "description": "This photo's authors.",
          "items": {
            "$ref": "GoogleMapsPlacesV1AuthorAttribution"
          }
        },
        "widthPx": {
          "description": "The maximum available width, in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "heightPx": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum available height, in pixels."
        },
        "flagContentUri": {
          "type": "string",
          "description": "A link where users can flag a problem with the photo."
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1AddressDescriptorArea": {
      "id": "GoogleMapsPlacesV1AddressDescriptorArea",
      "properties": {
        "displayName": {
          "description": "The area's display name.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "containment": {
          "enumDescriptions": [
            "The containment is unspecified.",
            "The target location is within the area region, close to the center.",
            "The target location is within the area region, close to the edge.",
            "The target location is outside the area region, but close by."
          ],
          "description": "Defines the spatial relationship between the target location and the area.",
          "type": "string",
          "enum": [
            "CONTAINMENT_UNSPECIFIED",
            "WITHIN",
            "OUTSKIRTS",
            "NEAR"
          ]
        },
        "name": {
          "description": "The area's resource name.",
          "type": "string"
        },
        "placeId": {
          "type": "string",
          "description": "The area's place id."
        }
      },
      "description": "Area information and the area's relationship with the target location. Areas includes precise sublocality, neighborhoods, and large compounds that are useful for describing a location.",
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceConsumerAlertDetails": {
      "properties": {
        "title": {
          "type": "string",
          "description": "The title to show together with the description."
        },
        "description": {
          "description": "The description of the consumer alert message.",
          "type": "string"
        },
        "aboutLink": {
          "$ref": "GoogleMapsPlacesV1PlaceConsumerAlertDetailsLink",
          "description": "The link to show together with the description to provide more information."
        }
      },
      "type": "object",
      "description": "The details of the consumer alert message.",
      "id": "GoogleMapsPlacesV1PlaceConsumerAlertDetails"
    },
    "GoogleMapsPlacesV1SearchTextRequestEVOptions": {
      "description": "Searchable EV options of a place search request.",
      "type": "object",
      "id": "GoogleMapsPlacesV1SearchTextRequestEVOptions",
      "properties": {
        "connectorTypes": {
          "items": {
            "enumDescriptions": [
              "Unspecified connector.",
              "Other connector types.",
              "J1772 type 1 connector.",
              "IEC 62196 type 2 connector. Often referred to as MENNEKES.",
              "CHAdeMO type connector.",
              "Combined Charging System (AC and DC). Based on SAE. Type-1 J-1772 connector",
              "Combined Charging System (AC and DC). Based on Type-2 Mennekes connector",
              "The generic TESLA connector. This is NACS in the North America but can be non-NACS in other parts of the world (e.g. CCS Combo 2 (CCS2) or GB/T). This value is less representative of an actual connector type, and more represents the ability to charge a Tesla brand vehicle at a Tesla owned charging station.",
              "GB/T type corresponds to the GB/T standard in China. This type covers all GB_T types.",
              "Unspecified wall outlet.",
              "The North American Charging System (NACS), standardized as SAE J3400."
            ],
            "type": "string",
            "enum": [
              "EV_CONNECTOR_TYPE_UNSPECIFIED",
              "EV_CONNECTOR_TYPE_OTHER",
              "EV_CONNECTOR_TYPE_J1772",
              "EV_CONNECTOR_TYPE_TYPE_2",
              "EV_CONNECTOR_TYPE_CHADEMO",
              "EV_CONNECTOR_TYPE_CCS_COMBO_1",
              "EV_CONNECTOR_TYPE_CCS_COMBO_2",
              "EV_CONNECTOR_TYPE_TESLA",
              "EV_CONNECTOR_TYPE_UNSPECIFIED_GB_T",
              "EV_CONNECTOR_TYPE_UNSPECIFIED_WALL_OUTLET",
              "EV_CONNECTOR_TYPE_NACS"
            ]
          },
          "description": "Optional. The list of preferred EV connector types. A place that does not support any of the listed connector types is filtered out.",
          "type": "array"
        },
        "minimumChargingRateKw": {
          "format": "double",
          "type": "number",
          "description": "Optional. Minimum required charging rate in kilowatts. A place with a charging rate less than the specified rate is filtered out."
        }
      }
    },
    "GoogleMapsPlacesV1PlaceContainingPlace": {
      "id": "GoogleMapsPlacesV1PlaceContainingPlace",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the place in which this place is located."
        },
        "id": {
          "description": "The place id of the place in which this place is located.",
          "type": "string"
        }
      },
      "description": "Info about the place in which this place is located."
    },
    "GoogleTypePostalAddress": {
      "type": "object",
      "description": "Represents a postal address, such as for postal delivery or payments addresses. With a postal address, a postal service can deliver items to a premise, P.O. box, or similar. A postal address is not intended to model geographical locations like roads, towns, or mountains. In typical usage, an address would be created by user input or from importing existing data, depending on the type of process. Advice on address input or editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput. - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, see: https://support.google.com/business/answer/6397478.",
      "id": "GoogleTypePostalAddress",
      "properties": {
        "addressLines": {
          "items": {
            "type": "string"
          },
          "description": "Unstructured address lines describing the lower levels of an address. Because values in `address_lines` do not have type information and may sometimes contain multiple values in a single field (for example, \"Austin, TX\"), it is important that the line order is clear. The order of address lines should be \"envelope order\" for the country or region of the address. In places where this can vary (for example, Japan), `address_language` is used to make it explicit (for example, \"ja\" for large-to-small ordering and \"ja-Latn\" or \"en\" for small-to-large). In this way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a `region_code` with all remaining information placed in the `address_lines`. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a `region_code` and `address_lines` and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas).",
          "type": "array"
        },
        "regionCode": {
          "type": "string",
          "description": "Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: \"CH\" for Switzerland."
        },
        "postalCode": {
          "type": "string",
          "description": "Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (for example, state or zip code validation in the United States)."
        },
        "administrativeArea": {
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. For Spain, this is the province and not the autonomous community (for example, \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example, in Switzerland, this should be left unpopulated.",
          "type": "string"
        },
        "recipients": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain \"care of\" information."
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\"."
        },
        "sublocality": {
          "description": "Optional. Sublocality of the address. For example, this can be a neighborhood, borough, or district.",
          "type": "string"
        },
        "organization": {
          "description": "Optional. The name of the organization at the address.",
          "type": "string"
        },
        "revision": {
          "description": "The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions.",
          "type": "integer",
          "format": "int32"
        },
        "locality": {
          "description": "Optional. Generally refers to the city or town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave `locality` empty and use `address_lines`.",
          "type": "string"
        },
        "sortingCode": {
          "description": "Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like \"CEDEX\", optionally followed by a number (for example, \"CEDEX 7\"), or just a number alone, representing the \"sector code\" (Jamaica), \"delivery area indicator\" (Malawi) or \"post office indicator\" (Côte d'Ivoire).",
          "type": "string"
        }
      }
    },
    "GoogleMapsPlacesV1Polyline": {
      "id": "GoogleMapsPlacesV1Polyline",
      "description": "A route polyline. Only supports an [encoded polyline](https://developers.google.com/maps/documentation/utilities/polylinealgorithm), which can be passed as a string and includes compression with minimal lossiness. This is the Routes API default output.",
      "type": "object",
      "properties": {
        "encodedPolyline": {
          "type": "string",
          "description": "An [encoded polyline](https://developers.google.com/maps/documentation/utilities/polylinealgorithm), as returned by the [Routes API by default](https://developers.google.com/maps/documentation/routes/reference/rest/v2/TopLevel/computeRoutes#polylineencoding). See the [encoder](https://developers.google.com/maps/documentation/utilities/polylineutility) and [decoder](https://developers.google.com/maps/documentation/routes/polylinedecoder) tools."
        }
      }
    },
    "GoogleMapsPlacesV1PlacePlusCode": {
      "description": "Plus code (http://plus.codes) is a location reference with two formats: global code defining a 14mx14m (1/8000th of a degree) or smaller rectangle, and compound code, replacing the prefix with a reference location.",
      "properties": {
        "globalCode": {
          "description": "Place's global (full) code, such as \"9FWM33GV+HQ\", representing an 1/8000 by 1/8000 degree area (~14 by 14 meters).",
          "type": "string"
        },
        "compoundCode": {
          "type": "string",
          "description": "Place's compound code, such as \"33GV+HQ, Ramberg, Norway\", containing the suffix of the global code and replacing the prefix with a formatted name of a reference entity."
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1PlacePlusCode"
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStructuredFormat": {
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStructuredFormat",
      "type": "object",
      "description": "Contains a breakdown of a Place or query prediction into main text and secondary text. For Place predictions, the main text contains the specific name of the Place. For query predictions, the main text contains the query. The secondary text contains additional disambiguating features (such as a city or region) to further identify the Place or refine the query.",
      "properties": {
        "mainText": {
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText",
          "description": "Represents the name of the Place or query."
        },
        "secondaryText": {
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText",
          "description": "Represents additional disambiguating features (such as a city or region) to further identify the Place or refine the query."
        }
      }
    },
    "GoogleMapsPlacesV1PlacePaymentOptions": {
      "properties": {
        "acceptsCashOnly": {
          "type": "boolean",
          "description": "Place accepts cash only as payment. Places with this attribute may still accept other payment methods."
        },
        "acceptsCreditCards": {
          "description": "Place accepts credit cards as payment.",
          "type": "boolean"
        },
        "acceptsDebitCards": {
          "type": "boolean",
          "description": "Place accepts debit cards as payment."
        },
        "acceptsNfc": {
          "description": "Place accepts NFC payments.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1PlacePaymentOptions",
      "description": "Payment options the place accepts."
    },
    "GoogleMapsPlacesV1PlaceParkingOptions": {
      "properties": {
        "paidParkingLot": {
          "type": "boolean",
          "description": "Place offers paid parking lots."
        },
        "freeStreetParking": {
          "description": "Place offers free street parking.",
          "type": "boolean"
        },
        "paidGarageParking": {
          "type": "boolean",
          "description": "Place offers paid garage parking."
        },
        "valetParking": {
          "type": "boolean",
          "description": "Place offers valet parking."
        },
        "paidStreetParking": {
          "description": "Place offers paid street parking.",
          "type": "boolean"
        },
        "freeGarageParking": {
          "type": "boolean",
          "description": "Place offers free garage parking."
        },
        "freeParkingLot": {
          "description": "Place offers free parking lots.",
          "type": "boolean"
        }
      },
      "id": "GoogleMapsPlacesV1PlaceParkingOptions",
      "description": "Information about parking options for the place. A parking lot could support more than one option at the same time.",
      "type": "object"
    },
    "GoogleMapsPlacesV1AutocompletePlacesRequest": {
      "id": "GoogleMapsPlacesV1AutocompletePlacesRequest",
      "description": "Request proto for AutocompletePlaces.",
      "properties": {
        "origin": {
          "$ref": "GoogleTypeLatLng",
          "description": "Optional. The origin point from which to calculate geodesic distance to the destination (returned as `distance_meters`). If this value is omitted, geodesic distance will not be returned."
        },
        "sessionToken": {
          "description": "Optional. A string which identifies an Autocomplete session for billing purposes. Must be a URL and filename safe base64 string with at most 36 ASCII characters in length. Otherwise an INVALID_ARGUMENT error is returned. The session begins when the user starts typing a query, and concludes when they select a place and a call to Place Details or Address Validation is made. Each session can have multiple queries, followed by one Place Details or Address Validation request. The credentials used for each request within a session must belong to the same Google Cloud Console project. Once a session has concluded, the token is no longer valid; your app must generate a fresh token for each session. If the `session_token` parameter is omitted, or if you reuse a session token, the session is charged as if no session token was provided (each request is billed separately). We recommend the following guidelines: * Use session tokens for all Place Autocomplete calls. * Generate a fresh token for each session. Using a version 4 UUID is recommended. * Ensure that the credentials used for all Place Autocomplete, Place Details, and Address Validation requests within a session belong to the same Cloud Console project. * Be sure to pass a unique session token for each new session. Using the same token for more than one session will result in each request being billed individually.",
          "type": "string"
        },
        "includePureServiceAreaBusinesses": {
          "description": "Optional. Include pure service area businesses if the field is set to true. Pure service area business is a business that visits or delivers to customers directly but does not serve customers at their business address. For example, businesses like cleaning services or plumbers. Those businesses do not have a physical address or location on Google Maps. Places will not return fields including `location`, `plus_code`, and other location related fields for these businesses.",
          "type": "boolean"
        },
        "includeQueryPredictions": {
          "description": "Optional. If true, the response will include both Place and query predictions. Otherwise the response will only return Place predictions.",
          "type": "boolean"
        },
        "regionCode": {
          "type": "string",
          "description": "Optional. The region code, specified as a CLDR two-character region code. This affects address formatting, result ranking, and may influence what results are returned. This does not restrict results to the specified region. To restrict results to a region, use `region_code_restriction`."
        },
        "locationBias": {
          "description": "Optional. Bias results to a specified location. At most one of `location_bias` or `location_restriction` should be set. If neither are set, the results will be biased by IP address, meaning the IP address will be mapped to an imprecise location and used as a biasing signal.",
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesRequestLocationBias"
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. The language in which to return results. Defaults to en-US. The results may be in mixed languages if the language used in `input` is different from `language_code` or if the returned Place does not have a translation from the local language to `language_code`."
        },
        "inputOffset": {
          "type": "integer",
          "description": "Optional. A zero-based Unicode character offset of `input` indicating the cursor position in `input`. The cursor position may influence what predictions are returned. If empty, defaults to the length of `input`.",
          "format": "int32"
        },
        "includeFutureOpeningBusinesses": {
          "description": "Optional. If true, include businesses that are not yet open but will open in the future.",
          "type": "boolean"
        },
        "includedRegionCodes": {
          "type": "array",
          "description": "Optional. Only include results in the specified regions, specified as up to 15 CLDR two-character region codes. An empty set will not restrict the results. If both `location_restriction` and `included_region_codes` are set, the results will be located in the area of intersection.",
          "items": {
            "type": "string"
          }
        },
        "locationRestriction": {
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesRequestLocationRestriction",
          "description": "Optional. Restrict results to a specified location. At most one of `location_bias` or `location_restriction` should be set. If neither are set, the results will be biased by IP address, meaning the IP address will be mapped to an imprecise location and used as a biasing signal."
        },
        "input": {
          "description": "Required. The text string on which to search.",
          "type": "string"
        },
        "includedPrimaryTypes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Included primary Place type (for example, \"restaurant\" or \"gas_station\") in Place Types (https://developers.google.com/maps/documentation/places/web-service/place-types), or only `(regions)`, or only `(cities)`. A Place is only returned if its primary type is included in this list. Up to 5 values can be specified. If no types are specified, all Place types are returned.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1ContextualContent": {
      "description": "Content that is contextual to the place query.",
      "id": "GoogleMapsPlacesV1ContextualContent",
      "type": "object",
      "properties": {
        "photos": {
          "description": "Information (including references) about photos of this place, contextual to the place query.",
          "items": {
            "$ref": "GoogleMapsPlacesV1Photo"
          },
          "type": "array"
        },
        "justifications": {
          "type": "array",
          "description": "Justifications for the place.",
          "items": {
            "$ref": "GoogleMapsPlacesV1ContextualContentJustification"
          }
        },
        "reviews": {
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1Review"
          },
          "description": "List of reviews about this place, contextual to the place query."
        }
      }
    },
    "GoogleMapsPlacesV1ContextualContentJustificationBusinessAvailabilityAttributesJustification": {
      "description": "BusinessAvailabilityAttributes justifications. This shows some attributes a business has that could interest an end user.",
      "type": "object",
      "id": "GoogleMapsPlacesV1ContextualContentJustificationBusinessAvailabilityAttributesJustification",
      "properties": {
        "takeout": {
          "type": "boolean",
          "description": "If a place provides takeout."
        },
        "delivery": {
          "description": "If a place provides delivery.",
          "type": "boolean"
        },
        "dineIn": {
          "type": "boolean",
          "description": "If a place provides dine-in."
        }
      }
    },
    "GoogleMapsPlacesV1SearchNearbyRequestLocationRestriction": {
      "type": "object",
      "id": "GoogleMapsPlacesV1SearchNearbyRequestLocationRestriction",
      "properties": {
        "circle": {
          "$ref": "GoogleMapsPlacesV1Circle",
          "description": "A circle defined by center point and radius."
        }
      },
      "description": "The region to search."
    },
    "GoogleMapsPlacesV1SearchNearbyRequest": {
      "description": "Request proto for Search Nearby. ",
      "properties": {
        "languageCode": {
          "description": "Place details will be displayed with the preferred language if available. If the language code is unspecified or unrecognized, place details of any language may be returned, with a preference for English if such details exist. Current list of supported languages: https://developers.google.com/maps/faq#languagesupport.",
          "type": "string"
        },
        "includedPrimaryTypes": {
          "items": {
            "type": "string"
          },
          "description": "Included primary Place type (e.g. \"restaurant\" or \"gas_station\") from https://developers.google.com/maps/documentation/places/web-service/place-types. A place can only have a single primary type from the supported types table associated with it. Up to 50 types from [Table A](https://developers.google.com/maps/documentation/places/web-service/place-types#table-a) may be specified. If there are any conflicting primary types, i.e. a type appears in both included_primary_types and excluded_primary_types, an INVALID_ARGUMENT error is returned. If a Place type is specified with multiple type restrictions, only places that satisfy all of the restrictions are returned. For example, if we have {included_types = [\"restaurant\"], excluded_primary_types = [\"restaurant\"]}, the returned places provide \"restaurant\" related services but do not operate primarily as \"restaurants\".",
          "type": "array"
        },
        "excludedPrimaryTypes": {
          "type": "array",
          "description": "Excluded primary Place type (e.g. \"restaurant\" or \"gas_station\") from https://developers.google.com/maps/documentation/places/web-service/place-types. Up to 50 types from [Table A](https://developers.google.com/maps/documentation/places/web-service/place-types#table-a) may be specified. If there are any conflicting primary types, i.e. a type appears in both included_primary_types and excluded_primary_types, an INVALID_ARGUMENT error is returned. If a Place type is specified with multiple type restrictions, only places that satisfy all of the restrictions are returned. For example, if we have {included_types = [\"restaurant\"], excluded_primary_types = [\"restaurant\"]}, the returned places provide \"restaurant\" related services but do not operate primarily as \"restaurants\".",
          "items": {
            "type": "string"
          }
        },
        "locationRestriction": {
          "description": "Required. The region to search.",
          "$ref": "GoogleMapsPlacesV1SearchNearbyRequestLocationRestriction"
        },
        "includeFutureOpeningBusinesses": {
          "description": "Optional. If true, include businesses that are not yet open but will open in the future.",
          "type": "boolean"
        },
        "excludedTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Excluded Place type (eg, \"restaurant\" or \"gas_station\") from https://developers.google.com/maps/documentation/places/web-service/place-types. Up to 50 types from [Table A](https://developers.google.com/maps/documentation/places/web-service/place-types#table-a) may be specified. If the client provides both included_types (e.g. restaurant) and excluded_types (e.g. cafe), then the response should include places that are restaurant but not cafe. The response includes places that match at least one of the included_types and none of the excluded_types. If there are any conflicting types, i.e. a type appears in both included_types and excluded_types, an INVALID_ARGUMENT error is returned. If a Place type is specified with multiple type restrictions, only places that satisfy all of the restrictions are returned. For example, if we have {included_types = [\"restaurant\"], excluded_primary_types = [\"restaurant\"]}, the returned places provide \"restaurant\" related services but do not operate primarily as \"restaurants\"."
        },
        "routingParameters": {
          "$ref": "GoogleMapsPlacesV1RoutingParameters",
          "description": "Optional. Parameters that affect the routing to the search results."
        },
        "maxResultCount": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of results to return. It must be between 1 and 20 (default), inclusively. If the number is unset, it falls back to the upper limit. If the number is set to negative or exceeds the upper limit, an INVALID_ARGUMENT error is returned."
        },
        "rankPreference": {
          "type": "string",
          "enum": [
            "RANK_PREFERENCE_UNSPECIFIED",
[...]
