{
  "ownerName": "Google",
  "description": "",
  "canonicalName": "Maps Places",
  "revision": "20261005",
  "basePath": "",
  "rootUrl": "https://places.googleapis.com/",
  "documentationLink": "https://mapsplatform.google.com/maps-products/#places-section",
  "id": "places:v1",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "baseUrl": "https://places.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch",
  "resources": {
    "places": {
      "methods": {
        "get": {
          "response": {
            "$ref": "GoogleMapsPlacesV1Place"
          },
          "httpMethod": "GET",
          "id": "places.places.get",
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/maps-platform.places",
            "https://www.googleapis.com/auth/maps-platform.places.details"
          ],
          "description": "Get the details of a place based on its resource name, which is a string in the `places/{place_id}` format.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/places/{placesId}",
          "parameters": {
            "sessionToken": {
              "description": "Optional. A string which identifies an Autocomplete session for billing purposes. Must be a URL and filename safe base64 string with at most 36 ASCII characters in length. Otherwise an INVALID_ARGUMENT error is returned. The session begins when the user starts typing a query, and concludes when they select a place and a call to Place Details or Address Validation is made. Each session can have multiple queries, followed by one Place Details or Address Validation request. The credentials used for each request within a session must belong to the same Google Cloud Console project. Once a session has concluded, the token is no longer valid; your app must generate a fresh token for each session. If the `session_token` parameter is omitted, or if you reuse a session token, the session is charged as if no session token was provided (each request is billed separately). We recommend the following guidelines: * Use session tokens for all Place Autocomplete calls. * Generate a fresh token for each session. Using a version 4 UUID is recommended. * Ensure that the credentials used for all Place Autocomplete, Place Details, and Address Validation requests within a session belong to the same Cloud Console project. * Be sure to pass a unique session token for each new session. Using the same token for more than one session will result in each request being billed individually.",
              "location": "query",
              "type": "string"
            },
            "languageCode": {
              "description": "Optional. Place details will be displayed with the preferred language if available. Current list of supported languages: https://developers.google.com/maps/faq#languagesupport.",
              "location": "query",
              "type": "string"
            },
            "name": {
              "pattern": "^places/[^/]+$",
              "type": "string",
              "required": true,
              "description": "Required. The resource name of a place, in the `places/{place_id}` format.",
              "location": "path"
            },
            "regionCode": {
              "location": "query",
              "description": "Optional. The Unicode country/region code (CLDR) of the location where the request is coming from. This parameter is used to display the place details, like region-specific place name, if available. The parameter can affect results based on applicable law. For more information, see https://www.unicode.org/cldr/charts/latest/supplemental/territory_language_information.html. Note that 3-digit region codes are not currently supported.",
              "type": "string"
            }
          }
        },
        "searchNearby": {
          "parameters": {},
          "description": "Search for places near locations.",
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleMapsPlacesV1SearchNearbyRequest"
          },
          "flatPath": "v1/places:searchNearby",
          "id": "places.places.searchNearby",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/maps-platform.places",
            "https://www.googleapis.com/auth/maps-platform.places.nearbysearch"
          ],
          "response": {
            "$ref": "GoogleMapsPlacesV1SearchNearbyResponse"
          },
          "path": "v1/places:searchNearby",
          "httpMethod": "POST"
        },
        "autocomplete": {
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/maps-platform.places",
            "https://www.googleapis.com/auth/maps-platform.places.autocomplete"
          ],
          "parameters": {},
          "request": {
            "$ref": "GoogleMapsPlacesV1AutocompletePlacesRequest"
          },
          "path": "v1/places:autocomplete",
          "description": "Returns predictions for the given input.",
          "flatPath": "v1/places:autocomplete",
          "id": "places.places.autocomplete",
          "httpMethod": "POST"
        },
        "searchText": {
          "path": "v1/places:searchText",
          "httpMethod": "POST",
          "flatPath": "v1/places:searchText",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleMapsPlacesV1SearchTextResponse"
          },
          "request": {
            "$ref": "GoogleMapsPlacesV1SearchTextRequest"
          },
          "parameters": {},
          "id": "places.places.searchText",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/maps-platform.places",
            "https://www.googleapis.com/auth/maps-platform.places.textsearch"
          ],
          "description": "Text query based place search."
        }
      },
      "resources": {
        "photos": {
          "methods": {
            "getMedia": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "maxWidthPx": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. Specifies the maximum desired width, in pixels, of the image. If the image is smaller than the values specified, the original image will be returned. If the image is larger in either dimension, it will be scaled to match the smaller of the two dimensions, restricted to its original aspect ratio. Both the max_height_px and max_width_px properties accept an integer between 1 and 4800, inclusively. If the value is not within the allowed range, an INVALID_ARGUMENT error will be returned. At least one of max_height_px or max_width_px needs to be specified. If neither max_height_px nor max_width_px is specified, an INVALID_ARGUMENT error will be returned."
                },
                "maxHeightPx": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. Specifies the maximum desired height, in pixels, of the image. If the image is smaller than the values specified, the original image will be returned. If the image is larger in either dimension, it will be scaled to match the smaller of the two dimensions, restricted to its original aspect ratio. Both the max_height_px and max_width_px properties accept an integer between 1 and 4800, inclusively. If the value is not within the allowed range, an INVALID_ARGUMENT error will be returned. At least one of max_height_px or max_width_px needs to be specified. If neither max_height_px nor max_width_px is specified, an INVALID_ARGUMENT error will be returned.",
                  "location": "query"
                },
                "name": {
                  "pattern": "^places/[^/]+/photos/[^/]+/media$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of a photo media in the format: `places/{place_id}/photos/{photo_reference}/media`. The resource name of a photo as returned in a Place object's `photos.name` field comes with the format `places/{place_id}/photos/{photo_reference}`. You need to append `/media` at the end of the photo resource to get the photo media resource name.",
                  "required": true
                },
                "skipHttpRedirect": {
                  "description": "Optional. If set, skip the default HTTP redirect behavior and render a text format (for example, in JSON format for HTTP use case) response. If not set, an HTTP redirect will be issued to redirect the call to the image media. This option is ignored for non-HTTP requests.",
                  "type": "boolean",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleMapsPlacesV1PhotoMedia"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/maps-platform.places",
                "https://www.googleapis.com/auth/maps-platform.places.getphotomedia"
              ],
              "flatPath": "v1/places/{placesId}/photos/{photosId}/media",
              "description": "Get a photo media with a photo reference string.",
              "httpMethod": "GET",
              "id": "places.places.photos.getMedia"
            }
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://places.mtls.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    }
  },
  "title": "Places API (New)",
  "version": "v1",
  "name": "places",
  "version_module": true,
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "GoogleTypeLatLng": {
      "type": "object",
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "id": "GoogleTypeLatLng",
      "properties": {
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0]."
        },
        "longitude": {
          "format": "double",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "type": "number"
        }
      }
    },
    "GoogleMapsPlacesV1SearchNearbyResponse": {
      "type": "object",
      "id": "GoogleMapsPlacesV1SearchNearbyResponse",
      "properties": {
        "places": {
          "items": {
            "$ref": "GoogleMapsPlacesV1Place"
          },
          "description": "A list of places that meets user's requirements like places types, number of places and specific location restriction.",
          "type": "array"
        },
        "routingSummaries": {
          "description": "A list of routing summaries where each entry associates to the corresponding place in the same index in the `places` field. If the routing summary is not available for one of the places, it will contain an empty entry. This list should have as many entries as the list of places if requested.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1RoutingSummary"
          }
        }
      },
      "description": "Response proto for Search Nearby. "
    },
    "GoogleMapsPlacesV1SearchTextRequestSearchAlongRouteParameters": {
      "description": "Specifies a precalculated polyline from the [Routes API](https://developers.google.com/maps/documentation/routes) defining the route to search. Searching along a route is similar to using the `locationBias` or `locationRestriction` request option to bias the search results. However, while the `locationBias` and `locationRestriction` options let you specify a region to bias the search results, this option lets you bias the results along a trip route. Results are not guaranteed to be along the route provided, but rather are ranked within the search area defined by the polyline and, optionally, by the `locationBias` or `locationRestriction` based on minimal detour times from origin to destination. The results might be along an alternate route, especially if the provided polyline does not define an optimal route from origin to destination.",
      "type": "object",
      "properties": {
        "polyline": {
          "$ref": "GoogleMapsPlacesV1Polyline",
          "description": "Required. The route polyline."
        }
      },
      "id": "GoogleMapsPlacesV1SearchTextRequestSearchAlongRouteParameters"
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionQueryPrediction": {
      "type": "object",
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionQueryPrediction",
      "description": "Prediction results for a Query Autocomplete prediction.",
      "properties": {
        "structuredFormat": {
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStructuredFormat",
          "description": "A breakdown of the query prediction into main text containing the query and secondary text containing additional disambiguating features (such as a city or region). `structured_format` is recommended for developers who wish to show two separate, but related, UI elements. Developers who wish to show a single UI element may want to use `text` instead. They are two different ways to represent a query prediction. Users should not try to parse `structured_format` into `text` or vice versa."
        },
        "text": {
          "description": "The predicted text. This text does not represent a Place, but rather a text query that could be used in a search endpoint (for example, Text Search). `text` is recommended for developers who wish to show a single UI element. Developers who wish to show two separate, but related, UI elements may want to use `structured_format` instead. They are two different ways to represent a query prediction. Users should not try to parse `structured_format` into `text` or vice versa. May be in mixed languages if the request `input` and `language_code` are in different languages or if part of the query does not have a translation from the local language to `language_code`.",
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText"
        }
      }
    },
    "GoogleMapsPlacesV1RoutingParameters": {
      "type": "object",
      "id": "GoogleMapsPlacesV1RoutingParameters",
      "properties": {
        "origin": {
          "$ref": "GoogleTypeLatLng",
          "description": "Optional. An explicit routing origin that overrides the origin defined in the polyline. By default, the polyline origin is used."
        },
        "routeModifiers": {
          "$ref": "GoogleMapsPlacesV1RouteModifiers",
          "description": "Optional. The route modifiers."
        },
        "travelMode": {
          "type": "string",
          "enumDescriptions": [
            "No travel mode specified. Defaults to `DRIVE`.",
            "Travel by passenger car.",
            "Travel by bicycle. Not supported with `search_along_route_parameters`.",
            "Travel by walking. Not supported with `search_along_route_parameters`.",
            "Motorized two wheeled vehicles of all kinds such as scooters and motorcycles. Note that this is distinct from the `BICYCLE` travel mode which covers human-powered transport. Not supported with `search_along_route_parameters`. Only supported in those countries listed at [Countries and regions supported for two-wheeled vehicles](https://developers.google.com/maps/documentation/routes/coverage-two-wheeled)."
          ],
          "description": "Optional. The travel mode.",
          "enum": [
            "TRAVEL_MODE_UNSPECIFIED",
            "DRIVE",
            "BICYCLE",
            "WALK",
            "TWO_WHEELER"
          ]
        },
        "routingPreference": {
          "enum": [
            "ROUTING_PREFERENCE_UNSPECIFIED",
            "TRAFFIC_UNAWARE",
            "TRAFFIC_AWARE",
            "TRAFFIC_AWARE_OPTIMAL"
          ],
          "description": "Optional. Specifies how to compute the routing summaries. The server attempts to use the selected routing preference to compute the route. The traffic aware routing preference is only available for the `DRIVE` or `TWO_WHEELER` `travelMode`.",
          "type": "string",
          "enumDescriptions": [
            "No routing preference specified. Default to `TRAFFIC_UNAWARE`.",
            "Computes routes without taking live traffic conditions into consideration. Suitable when traffic conditions don't matter or are not applicable. Using this value produces the lowest latency. Note: For `TravelMode` `DRIVE` and `TWO_WHEELER`, the route and duration chosen are based on road network and average time-independent traffic conditions, not current road conditions. Consequently, routes may include roads that are temporarily closed. Results for a given request may vary over time due to changes in the road network, updated average traffic conditions, and the distributed nature of the service. Results may also vary between nearly-equivalent routes at any time or frequency.",
            "Calculates routes taking live traffic conditions into consideration. In contrast to `TRAFFIC_AWARE_OPTIMAL`, some optimizations are applied to significantly reduce latency.",
            "Calculates the routes taking live traffic conditions into consideration, without applying most performance optimizations. Using this value produces the highest latency."
          ]
        }
      },
      "description": "Parameters to configure the routing calculations to the places in the response, both along a route (where result ranking will be influenced) and for calculating travel times on results."
    },
    "GoogleMapsPlacesV1SearchTextRequest": {
      "type": "object",
      "id": "GoogleMapsPlacesV1SearchTextRequest",
      "properties": {
        "searchAlongRouteParameters": {
          "description": "Optional. Additional parameters proto for searching along a route.",
          "$ref": "GoogleMapsPlacesV1SearchTextRequestSearchAlongRouteParameters"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. A page token, received from a previous TextSearch call. Provide this to retrieve the subsequent page. When paginating, all parameters other than `page_token`, `page_size`, and `max_result_count` provided to TextSearch must match the initial call that provided the page token. Otherwise an INVALID_ARGUMENT error is returned."
        },
        "maxResultCount": {
          "format": "int32",
          "type": "integer",
          "deprecated": true,
          "description": "Deprecated: Use `page_size` instead. The maximum number of results per page that can be returned. If the number of available results is larger than `max_result_count`, a `next_page_token` is returned which can be passed to `page_token` to get the next page of results in subsequent requests. If 0 or no value is provided, a default of 20 is used. The maximum value is 20; values above 20 will be coerced to 20. Negative values will return an INVALID_ARGUMENT error. If both `max_result_count` and `page_size` are specified, `max_result_count` will be ignored."
        },
        "languageCode": {
          "type": "string",
          "description": "Place details will be displayed with the preferred language if available. If the language code is unspecified or unrecognized, place details of any language may be returned, with a preference for English if such details exist. Current list of supported languages: https://developers.google.com/maps/faq#languagesupport."
        },
        "evOptions": {
          "$ref": "GoogleMapsPlacesV1SearchTextRequestEVOptions",
          "description": "Optional. Set the searchable EV options of a place search request."
        },
        "pageSize": {
          "description": "Optional. The maximum number of results per page that can be returned. If the number of available results is larger than `page_size`, a `next_page_token` is returned which can be passed to `page_token` to get the next page of results in subsequent requests. If 0 or no value is provided, a default of 20 is used. The maximum value is 20; values above 20 will be set to 20. Negative values will return an INVALID_ARGUMENT error. If both `max_result_count` and `page_size` are specified, `max_result_count` will be ignored.",
          "format": "int32",
          "type": "integer"
        },
        "locationRestriction": {
          "$ref": "GoogleMapsPlacesV1SearchTextRequestLocationRestriction",
          "description": "The region to search. This location serves as a restriction which means results outside given location will not be returned. Cannot be set along with location_bias."
        },
        "includeFutureOpeningBusinesses": {
          "description": "Optional. If true, include businesses that are not yet open but will open in the future.",
          "type": "boolean"
        },
        "regionCode": {
          "type": "string",
          "description": "The Unicode country/region code (CLDR) of the location where the request is coming from. This parameter is used to display the place details, like region-specific place name, if available. The parameter can affect results based on applicable law. For more information, see https://www.unicode.org/cldr/charts/latest/supplemental/territory_language_information.html. Note that 3-digit region codes are not currently supported."
        },
        "includePureServiceAreaBusinesses": {
          "type": "boolean",
          "description": "Optional. Include pure service area businesses if the field is set to true. Pure service area business is a business that visits or delivers to customers directly but does not serve customers at their business address. For example, businesses like cleaning services or plumbers. Those businesses do not have a physical address or location on Google Maps. Places will not return fields including `location`, `plus_code`, and other location related fields for these businesses."
        },
        "strictTypeFiltering": {
          "type": "boolean",
          "description": "Used to set strict type filtering for included_type. If set to true, only results of the same type will be returned. Default to false."
        },
        "includedType": {
          "description": "The requested place type. Full list of types supported: https://developers.google.com/maps/documentation/places/web-service/place-types. Only support one included type.",
          "type": "string"
        },
        "minRating": {
          "format": "double",
          "type": "number",
          "description": "Filter out results whose average user rating is strictly less than this limit. A valid value must be a float between 0 and 5 (inclusively) at a 0.5 cadence i.e. [0, 0.5, 1.0, ... , 5.0] inclusively. The input rating will round up to the nearest 0.5(ceiling). For instance, a rating of 0.6 will eliminate all results with a less than 1.0 rating."
        },
        "routingParameters": {
          "description": "Optional. Additional parameters for routing to results.",
          "$ref": "GoogleMapsPlacesV1RoutingParameters"
        },
        "openNow": {
          "description": "Used to restrict the search to places that are currently open. The default is false.",
          "type": "boolean"
        },
        "priceLevels": {
          "items": {
            "enumDescriptions": [
              "Place price level is unspecified or unknown.",
              "Place provides free services.",
              "Place provides inexpensive services.",
              "Place provides moderately priced services.",
              "Place provides expensive services.",
              "Place provides very expensive services."
            ],
            "type": "string",
            "enum": [
              "PRICE_LEVEL_UNSPECIFIED",
              "PRICE_LEVEL_FREE",
              "PRICE_LEVEL_INEXPENSIVE",
              "PRICE_LEVEL_MODERATE",
              "PRICE_LEVEL_EXPENSIVE",
              "PRICE_LEVEL_VERY_EXPENSIVE"
            ]
          },
          "type": "array",
          "description": "Used to restrict the search to places that are marked as certain price levels. Users can choose any combinations of price levels. Default to select all price levels."
        },
        "rankPreference": {
          "type": "string",
          "enumDescriptions": [
            "For a categorical query such as \"Restaurants in New York City\", RELEVANCE is the default. For non-categorical queries such as \"Mountain View, CA\" we recommend that you leave rankPreference unset.",
            "Ranks results by distance.",
            "Ranks results by relevance. Sort order determined by normal ranking stack."
          ],
          "description": "How results will be ranked in the response.",
          "enum": [
            "RANK_PREFERENCE_UNSPECIFIED",
            "DISTANCE",
            "RELEVANCE"
          ]
        },
        "textQuery": {
          "type": "string",
          "description": "Required. The text query for textual search."
        },
        "locationBias": {
          "description": "The region to search. This location serves as a bias which means results around given location might be returned. Cannot be set along with location_restriction.",
          "$ref": "GoogleMapsPlacesV1SearchTextRequestLocationBias"
        }
      },
      "description": "Request proto for SearchText. "
    },
    "GoogleMapsPlacesV1PlaceAttribution": {
      "properties": {
        "providerUri": {
          "description": "URI to the Place's data provider.",
          "type": "string"
        },
        "provider": {
          "description": "Name of the Place's data provider.",
          "type": "string"
        }
      },
      "description": "Information about data providers of this place.",
      "type": "object",
      "id": "GoogleMapsPlacesV1PlaceAttribution"
    },
    "GoogleMapsPlacesV1PlaceAccessibilityOptions": {
      "type": "object",
      "properties": {
        "wheelchairAccessibleRestroom": {
          "type": "boolean",
          "description": "Place has wheelchair accessible restroom."
        },
        "wheelchairAccessibleSeating": {
          "description": "Place has wheelchair accessible seating.",
          "type": "boolean"
        },
        "wheelchairAccessibleParking": {
          "description": "Place offers wheelchair accessible parking.",
          "type": "boolean"
        },
        "wheelchairAccessibleEntrance": {
          "description": "Places has wheelchair accessible entrance.",
          "type": "boolean"
        }
      },
      "id": "GoogleMapsPlacesV1PlaceAccessibilityOptions",
      "description": "Information about the accessibility options a place offers."
    },
    "GoogleMapsPlacesV1PlaceGenerativeSummary": {
      "type": "object",
      "properties": {
        "overviewFlagContentUri": {
          "type": "string",
          "description": "A link where users can flag a problem with the overview summary."
        },
        "disclosureText": {
          "description": "The AI disclosure message \"Summarized with Gemini\" (and its localized variants). This will be in the language specified in the request if available.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "overview": {
          "description": "The overview of the place.",
          "$ref": "GoogleTypeLocalizedText"
        }
      },
      "id": "GoogleMapsPlacesV1PlaceGenerativeSummary",
      "description": "AI-generated summary of the place."
    },
    "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay": {
      "id": "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay",
      "type": "object",
      "properties": {
        "date": {
          "$ref": "GoogleTypeDate",
          "description": "The date of this special day."
        }
      },
      "description": "Structured information for special days that fall within the period that the returned opening hours cover. Special days are days that could impact the business hours of a place, e.g. Christmas day."
    },
    "GoogleMapsPlacesV1RouteModifiers": {
      "type": "object",
      "properties": {
        "avoidHighways": {
          "type": "boolean",
          "description": "Optional. When set to true, avoids highways where reasonable, giving preference to routes not containing highways. Applies only to the `DRIVE` and `TWO_WHEELER` `TravelMode`."
        },
        "avoidTolls": {
          "description": "Optional. When set to true, avoids toll roads where reasonable, giving preference to routes not containing toll roads. Applies only to the `DRIVE` and `TWO_WHEELER` `TravelMode`.",
          "type": "boolean"
        },
        "avoidFerries": {
          "description": "Optional. When set to true, avoids ferries where reasonable, giving preference to routes not containing ferries. Applies only to the `DRIVE` and `TWO_WHEELER` `TravelMode`.",
          "type": "boolean"
        },
        "avoidIndoor": {
          "description": "Optional. When set to true, avoids navigating indoors where reasonable, giving preference to routes not containing indoor navigation. Applies only to the `WALK` `TravelMode`.",
          "type": "boolean"
        }
      },
      "id": "GoogleMapsPlacesV1RouteModifiers",
      "description": "Encapsulates a set of optional conditions to satisfy when calculating the routes."
    },
    "GoogleMapsPlacesV1PlaceConsumerAlertDetailsLink": {
      "properties": {
        "title": {
          "description": "The title to show for the link.",
          "type": "string"
        },
        "uri": {
          "description": "The uri of the link.",
          "type": "string"
        }
      },
      "description": "The link to show together with the description to provide more information.",
      "id": "GoogleMapsPlacesV1PlaceConsumerAlertDetailsLink",
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint": {
      "type": "object",
      "description": "Status changing points.",
      "properties": {
        "date": {
          "description": "Date in the local timezone for the place.",
          "$ref": "GoogleTypeDate"
        },
        "truncated": {
          "type": "boolean",
          "description": "Whether or not this endpoint was truncated. Truncation occurs when the real hours are outside the times we are willing to return hours between, so we truncate the hours back to these boundaries. This ensures that at most 24 * 7 hours from midnight of the day of the request are returned."
        },
        "minute": {
          "format": "int32",
          "type": "integer",
          "description": "The minute. Ranges from 0 to 59."
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "A day of the week, as an integer in the range 0-6. 0 is Sunday, 1 is Monday, etc."
        },
        "hour": {
          "format": "int32",
          "type": "integer",
          "description": "The hour in 24 hour format. Ranges from 0 to 23."
        }
      },
      "id": "GoogleMapsPlacesV1PlaceOpeningHoursPeriodPoint"
    },
    "GoogleMapsPlacesV1PlacePaymentOptions": {
      "id": "GoogleMapsPlacesV1PlacePaymentOptions",
      "description": "Payment options the place accepts.",
      "properties": {
        "acceptsDebitCards": {
          "type": "boolean",
          "description": "Place accepts debit cards as payment."
        },
        "acceptsCashOnly": {
          "description": "Place accepts cash only as payment. Places with this attribute may still accept other payment methods.",
          "type": "boolean"
        },
        "acceptsNfc": {
          "type": "boolean",
          "description": "Place accepts NFC payments."
        },
        "acceptsCreditCards": {
          "description": "Place accepts credit cards as payment.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1AddressDescriptor": {
      "type": "object",
      "description": "A relational description of a location. Includes a ranked set of nearby landmarks and precise containing areas and their relationship to the target location.",
      "properties": {
        "areas": {
          "type": "array",
          "description": "A ranked list of containing or adjacent areas. The most recognizable and precise areas are ranked first.",
          "items": {
            "$ref": "GoogleMapsPlacesV1AddressDescriptorArea"
          }
        },
        "landmarks": {
          "description": "A ranked list of nearby landmarks. The most recognizable and nearby landmarks are ranked first.",
          "items": {
            "$ref": "GoogleMapsPlacesV1AddressDescriptorLandmark"
          },
          "type": "array"
        }
      },
      "id": "GoogleMapsPlacesV1AddressDescriptor"
    },
    "GoogleMapsPlacesV1SearchNearbyRequestLocationRestriction": {
      "type": "object",
      "description": "The region to search.",
      "properties": {
        "circle": {
          "$ref": "GoogleMapsPlacesV1Circle",
          "description": "A circle defined by center point and radius."
        }
      },
      "id": "GoogleMapsPlacesV1SearchNearbyRequestLocationRestriction"
    },
    "GoogleMapsPlacesV1PlacePlusCode": {
      "id": "GoogleMapsPlacesV1PlacePlusCode",
      "description": "Plus code (http://plus.codes) is a location reference with two formats: global code defining a 14mx14m (1/8000th of a degree) or smaller rectangle, and compound code, replacing the prefix with a reference location.",
      "properties": {
        "globalCode": {
          "type": "string",
          "description": "Place's global (full) code, such as \"9FWM33GV+HQ\", representing an 1/8000 by 1/8000 degree area (~14 by 14 meters)."
        },
        "compoundCode": {
          "type": "string",
          "description": "Place's compound code, such as \"33GV+HQ, Ramberg, Norway\", containing the suffix of the global code and replacing the prefix with a formatted name of a reference entity."
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1RoutingSummary": {
      "description": "The duration and distance from the routing origin to a place in the response, and a second leg from that place to the destination, if requested. **Note:** Adding `routingSummaries` in the field mask without also including either the `routingParameters.origin` parameter or the `searchAlongRouteParameters.polyline.encodedPolyline` parameter in the request causes an error.",
      "properties": {
        "legs": {
          "description": "The legs of the trip. When you calculate travel duration and distance from a set origin, `legs` contains a single leg containing the duration and distance from the origin to the destination. When you do a search along route, `legs` contains two legs: one from the origin to place, and one from the place to the destination.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1RoutingSummaryLeg"
          }
        },
        "directionsUri": {
          "description": "A link to show directions on Google Maps using the waypoints from the given routing summary. The route generated by this link is not guaranteed to be the same as the route used to generate the routing summary. The link uses information provided in the request, from fields including `routingParameters` and `searchAlongRouteParameters` when applicable, to generate the directions link.",
          "type": "string"
        }
      },
      "id": "GoogleMapsPlacesV1RoutingSummary",
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceConsumerAlertDetails": {
      "type": "object",
      "properties": {
        "description": {
          "description": "The description of the consumer alert message.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title to show together with the description."
        },
        "aboutLink": {
          "description": "The link to show together with the description to provide more information.",
          "$ref": "GoogleMapsPlacesV1PlaceConsumerAlertDetailsLink"
        }
      },
      "id": "GoogleMapsPlacesV1PlaceConsumerAlertDetails",
      "description": "The details of the consumer alert message."
    },
    "GoogleMapsPlacesV1PlaceAddressComponent": {
      "id": "GoogleMapsPlacesV1PlaceAddressComponent",
      "description": "The structured components that form the formatted address, if this information is available.",
      "type": "object",
      "properties": {
        "shortText": {
          "description": "An abbreviated textual name for the address component, if available. For example, an address component for the country of Australia may have a short_name of \"AU\".",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "The language used to format this components, in CLDR notation."
        },
        "longText": {
          "description": "The full text description or name of the address component. For example, an address component for the country Australia may have a long_name of \"Australia\".",
          "type": "string"
        },
        "types": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "An array indicating the type(s) of the address component."
        }
      }
    },
    "GoogleMapsPlacesV1PlaceEvChargeAmenitySummary": {
      "type": "object",
      "properties": {
        "flagContentUri": {
          "type": "string",
          "description": "A link where users can flag a problem with the summary."
        },
        "restaurant": {
          "description": "A summary of the nearby restaurants.",
          "$ref": "GoogleMapsPlacesV1ContentBlock"
        },
        "disclosureText": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The AI disclosure message \"Summarized with Gemini\" (and its localized variants). This will be in the language specified in the request if available."
        },
        "store": {
          "description": "A summary of the nearby stores.",
          "$ref": "GoogleMapsPlacesV1ContentBlock"
        },
        "overview": {
          "$ref": "GoogleMapsPlacesV1ContentBlock",
          "description": "An overview of the available amenities. This is guaranteed to be provided."
        },
        "coffee": {
          "description": "A summary of the nearby coffee options.",
          "$ref": "GoogleMapsPlacesV1ContentBlock"
        }
      },
      "id": "GoogleMapsPlacesV1PlaceEvChargeAmenitySummary",
      "description": "The summary of amenities near the EV charging station. This only applies to places with type `electric_vehicle_charging_station`. The `overview` field is guaranteed to be provided while the other fields are optional."
    },
    "GoogleMapsPlacesV1SearchTextResponse": {
      "type": "object",
      "id": "GoogleMapsPlacesV1SearchTextResponse",
      "description": "Response proto for SearchText. ",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted or empty, there are no subsequent pages.",
          "type": "string"
        },
        "places": {
          "description": "A list of places that meet the user's text search criteria.",
          "items": {
            "$ref": "GoogleMapsPlacesV1Place"
          },
          "type": "array"
        },
        "contextualContents": {
          "items": {
            "$ref": "GoogleMapsPlacesV1ContextualContent"
          },
          "type": "array",
          "description": "Experimental: See https://developers.google.com/maps/documentation/places/web-service/experimental/places-generative for more details. A list of contextual contents where each entry associates to the corresponding place in the same index in the places field. The contents that are relevant to the `text_query` in the request are preferred. If the contextual content is not available for one of the places, it will return non-contextual content. It will be empty only when the content is unavailable for this place. This list will have as many entries as the list of places if requested."
        },
        "searchUri": {
          "description": "A link allows the user to search with the same text query as specified in the request on Google Maps.",
          "type": "string"
        },
        "routingSummaries": {
          "description": "A list of routing summaries where each entry associates to the corresponding place in the same index in the `places` field. If the routing summary is not available for one of the places, it will contain an empty entry. This list will have as many entries as the list of places if requested.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1RoutingSummary"
          }
        }
      }
    },
    "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedText": {
      "type": "object",
      "id": "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedText",
      "properties": {
        "text": {
          "type": "string"
        },
        "highlightedTextRanges": {
          "items": {
            "$ref": "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedTextHighlightedTextRange"
          },
          "description": "The list of the ranges of the highlighted text.",
          "type": "array"
        }
      },
      "description": "The text highlighted by the justification. This is a subset of the review itself. The exact word to highlight is marked by the HighlightedTextRange. There could be several words in the text being highlighted."
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText": {
      "description": "Text representing a Place or query prediction. The text may be used as is or formatted.",
      "properties": {
        "text": {
          "description": "Text that may be used as is or formatted with `matches`.",
          "type": "string"
        },
        "matches": {
          "items": {
            "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStringRange"
          },
          "description": "A list of string ranges identifying where the input request matched in `text`. The ranges can be used to format specific parts of `text`. The substrings may not be exact matches of `input` if the matching was determined by criteria other than string matching (for example, spell corrections or transliterations). These values are Unicode character offsets of `text`. The ranges are guaranteed to be ordered in increasing offset values.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText"
    },
    "GoogleMapsPlacesV1PlaceSubDestination": {
      "properties": {
        "id": {
          "description": "The place id of the sub-destination.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the sub-destination.",
          "type": "string"
        }
      },
      "description": "Sub-destinations are specific places associated with a main place. These provide more specific destinations for users who are searching within a large or complex place, like an airport, national park, university, or stadium. For example, sub-destinations at an airport might include associated terminals and parking lots. Sub-destinations return the place ID and place resource name, which can be used in subsequent Place Details (New) requests to fetch richer details, including the sub-destination's display name and location.",
      "id": "GoogleMapsPlacesV1PlaceSubDestination",
      "type": "object"
    },
    "GoogleMapsPlacesV1Review": {
      "description": "Information about a review of a place.",
      "type": "object",
      "id": "GoogleMapsPlacesV1Review",
      "properties": {
        "publishTime": {
          "description": "Timestamp for the review.",
          "type": "string",
          "format": "google-datetime"
        },
        "googleMapsUri": {
          "type": "string",
          "description": "A link to show the review on Google Maps."
        },
        "authorAttribution": {
          "$ref": "GoogleMapsPlacesV1AuthorAttribution",
          "description": "This review's author."
        },
        "text": {
          "description": "The localized text of the review.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "rating": {
          "format": "double",
          "type": "number",
          "description": "A number between 1.0 and 5.0, also called the number of stars."
        },
        "name": {
          "type": "string",
          "description": "A reference representing this place review which may be used to look up this place review again (also called the API \"resource\" name: `places/{place_id}/reviews/{review}`)."
        },
        "relativePublishTimeDescription": {
          "description": "A string of formatted recent time, expressing the review time relative to the current time in a form appropriate for the language and country.",
          "type": "string"
        },
        "flagContentUri": {
          "type": "string",
          "description": "A link where users can flag a problem with the review."
        },
        "originalText": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The review text in its original language."
        },
        "visitDate": {
          "description": "The date when the author visited the place. This is truncated to the year and month of the visit.",
          "$ref": "GoogleTypeDate"
        }
      }
    },
    "GoogleMapsPlacesV1FuelOptions": {
      "type": "object",
      "properties": {
        "fuelPrices": {
          "items": {
            "$ref": "GoogleMapsPlacesV1FuelOptionsFuelPrice"
          },
          "type": "array",
          "description": "The last known fuel price for each type of fuel this station has. There is one entry per fuel type this station has. Order is not important."
        }
      },
      "id": "GoogleMapsPlacesV1FuelOptions",
      "description": "The most recent information about fuel options in a gas station. This information is updated regularly."
    },
    "GoogleMapsPlacesV1TransitIcon": {
      "properties": {
        "nameIncluded": {
          "description": "Whether the name is contained in the icon and there is no need to display it next to the icon.",
          "type": "boolean"
        },
        "url": {
          "description": "The URL of the icon.",
          "type": "string"
        }
      },
      "description": "Icon for a transit line, vehicle, or agency.",
      "id": "GoogleMapsPlacesV1TransitIcon",
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceReviewSummary": {
      "type": "object",
      "description": "AI-generated summary of the place using user reviews.",
      "id": "GoogleMapsPlacesV1PlaceReviewSummary",
      "properties": {
        "reviewsUri": {
          "description": "A link to show reviews of this place on Google Maps.",
          "type": "string"
        },
        "flagContentUri": {
          "type": "string",
          "description": "A link where users can flag a problem with the summary."
        },
        "text": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The summary of user reviews."
        },
        "disclosureText": {
          "description": "The AI disclosure message \"Summarized with Gemini\" (and its localized variants). This will be in the language specified in the request if available.",
          "$ref": "GoogleTypeLocalizedText"
        }
      }
    },
    "GoogleMapsPlacesV1PhotoMedia": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of a photo media in the format: `places/{place_id}/photos/{photo_reference}/media`."
        },
        "photoUri": {
          "type": "string",
          "description": "A short-lived uri that can be used to render the photo."
        }
      },
      "id": "GoogleMapsPlacesV1PhotoMedia",
      "description": "A photo media from Places API.",
      "type": "object"
    },
    "GoogleMapsPlacesV1TransitStation": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The name of the station in the local language.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "stops": {
          "items": {
            "$ref": "GoogleMapsPlacesV1TransitStop"
          },
          "type": "array",
          "description": "Transit stops at this station."
        },
        "agencies": {
          "items": {
            "$ref": "GoogleMapsPlacesV1TransitAgency"
          },
          "type": "array",
          "description": "The transit agencies that serve this station."
        }
      },
      "id": "GoogleMapsPlacesV1TransitStation",
      "description": "Represents transit-specific information for a place."
    },
    "GoogleTypeTimeZone": {
      "id": "GoogleTypeTimeZone",
      "type": "object",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      }
    },
    "GoogleMapsPlacesV1EVChargeOptionsConnectorAggregation": {
      "properties": {
        "type": {
          "description": "The connector type of this aggregation.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified connector.",
            "Other connector types.",
            "J1772 type 1 connector.",
            "IEC 62196 type 2 connector. Often referred to as MENNEKES.",
            "CHAdeMO type connector.",
            "Combined Charging System (AC and DC). Based on SAE. Type-1 J-1772 connector",
            "Combined Charging System (AC and DC). Based on Type-2 Mennekes connector",
            "The generic TESLA connector. This is NACS in the North America but can be non-NACS in other parts of the world (e.g. CCS Combo 2 (CCS2) or GB/T). This value is less representative of an actual connector type, and more represents the ability to charge a Tesla brand vehicle at a Tesla owned charging station.",
            "GB/T type corresponds to the GB/T standard in China. This type covers all GB_T types.",
            "Unspecified wall outlet.",
            "The North American Charging System (NACS), standardized as SAE J3400."
          ],
          "enum": [
            "EV_CONNECTOR_TYPE_UNSPECIFIED",
            "EV_CONNECTOR_TYPE_OTHER",
            "EV_CONNECTOR_TYPE_J1772",
            "EV_CONNECTOR_TYPE_TYPE_2",
            "EV_CONNECTOR_TYPE_CHADEMO",
            "EV_CONNECTOR_TYPE_CCS_COMBO_1",
            "EV_CONNECTOR_TYPE_CCS_COMBO_2",
            "EV_CONNECTOR_TYPE_TESLA",
            "EV_CONNECTOR_TYPE_UNSPECIFIED_GB_T",
            "EV_CONNECTOR_TYPE_UNSPECIFIED_WALL_OUTLET",
            "EV_CONNECTOR_TYPE_NACS"
          ]
        },
        "count": {
          "format": "int32",
          "description": "Number of connectors in this aggregation.",
          "type": "integer"
        },
        "availableCount": {
          "description": "Number of connectors in this aggregation that are currently available.",
          "format": "int32",
          "type": "integer"
        },
        "availabilityLastUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp when the connector availability information in this aggregation was last updated."
        },
        "outOfServiceCount": {
          "format": "int32",
          "description": "Number of connectors in this aggregation that are currently out of service.",
          "type": "integer"
        },
        "maxChargeRateKw": {
          "format": "double",
          "description": "The static max charging rate in kw of each connector in the aggregation.",
          "type": "number"
        }
      },
      "type": "object",
      "description": "EV charging information grouped by [type, max_charge_rate_kw]. Shows EV charge aggregation of connectors that have the same type and max charge rate in kw.",
      "id": "GoogleMapsPlacesV1EVChargeOptionsConnectorAggregation"
    },
    "GoogleMapsPlacesV1AddressDescriptorLandmark": {
      "id": "GoogleMapsPlacesV1AddressDescriptorLandmark",
      "properties": {
        "placeId": {
          "description": "The landmark's place id.",
          "type": "string"
        },
        "travelDistanceMeters": {
          "type": "number",
          "description": "The travel distance, in meters, along the road network from the target to the landmark, if known. This value does not take into account the mode of transportation, such as walking, driving, or biking.",
          "format": "float"
        },
        "name": {
          "description": "The landmark's resource name.",
          "type": "string"
        },
        "straightLineDistanceMeters": {
          "description": "The straight line distance, in meters, between the center point of the target and the center point of the landmark. In some situations, this value can be longer than `travel_distance_meters`.",
          "type": "number",
          "format": "float"
        },
        "spatialRelationship": {
          "enum": [
            "NEAR",
            "WITHIN",
            "BESIDE",
            "ACROSS_THE_ROAD",
            "DOWN_THE_ROAD",
            "AROUND_THE_CORNER",
            "BEHIND"
          ],
          "type": "string",
          "description": "Defines the spatial relationship between the target location and the landmark.",
          "enumDescriptions": [
            "This is the default relationship when nothing more specific below applies.",
            "The landmark has a spatial geometry and the target is within its bounds.",
            "The target is directly adjacent to the landmark.",
            "The target is directly opposite the landmark on the other side of the road.",
            "On the same route as the landmark but not besides or across.",
            "Not on the same route as the landmark but a single turn away.",
            "Close to the landmark's structure but further away from its street entrances."
          ]
        },
        "types": {
          "description": "A set of type tags for this landmark. For a complete list of possible values, see https://developers.google.com/maps/documentation/places/web-service/place-types.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The landmark's display name."
        }
      },
      "description": "Basic landmark information and the landmark's relationship with the target location. Landmarks are prominent places that can be used to describe a location.",
      "type": "object"
    },
    "GoogleMapsPlacesV1TransitStop": {
      "type": "object",
      "id": "GoogleMapsPlacesV1TransitStop",
      "properties": {
        "stopCode": {
          "description": "Human readable identifier of the stop, used by transit agencies to distinguish stops with the same name.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "location": {
          "$ref": "GoogleTypeLatLng",
          "description": "The stop's location."
        },
        "wheelchairAccessibleEntrance": {
          "description": "Wheelchair accessibility of this stop. This field indicates whether there is an accessible path from outside the station to the stop. It does not indicate whether it is possible to board a vehicle from the stop.",
          "type": "boolean"
        },
        "displayName": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The name of the stop."
        },
        "platformCode": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The platform code represented by this stop. It can be formatted in any way. (eg: \"2\", \"Platform 2\", \"2-4\", or \"1x\")."
        },
        "signageText": {
          "description": "The verbatim text written on the signboard for this platform, e.g. \"Towards Central\" or \"East side & Brooklyn\". When `platform_code` is absent, this field is potentially the only identifier for the platform; however, both `platform_code` and `signage_text` may be set simultaneously.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "id": {
          "type": "string",
          "description": "The id of the transit stop that can be used to uniquely identify the stop among other transit stops in the same transit station. This identifier is not guaranteed to be stable across different responses."
        }
      },
      "description": "Represents a transit stop within a station. This is a specific location where passengers board and alight transit vehicles, such as a platform or bus bay. This is distinct from a `Departure`, which is an event of a vehicle leaving a stop at a specific time."
    },
    "GoogleMapsPlacesV1AutocompletePlacesRequest": {
      "description": "Request proto for AutocompletePlaces.",
      "type": "object",
      "properties": {
        "inputOffset": {
          "type": "integer",
          "description": "Optional. A zero-based Unicode character offset of `input` indicating the cursor position in `input`. The cursor position may influence what predictions are returned. If empty, defaults to the length of `input`.",
          "format": "int32"
        },
        "includePureServiceAreaBusinesses": {
          "description": "Optional. Include pure service area businesses if the field is set to true. Pure service area business is a business that visits or delivers to customers directly but does not serve customers at their business address. For example, businesses like cleaning services or plumbers. Those businesses do not have a physical address or location on Google Maps. Places will not return fields including `location`, `plus_code`, and other location related fields for these businesses.",
          "type": "boolean"
        },
        "locationBias": {
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesRequestLocationBias",
          "description": "Optional. Bias results to a specified location. At most one of `location_bias` or `location_restriction` should be set. If neither are set, the results will be biased by IP address, meaning the IP address will be mapped to an imprecise location and used as a biasing signal."
        },
        "includedPrimaryTypes": {
          "description": "Optional. Included primary Place type (for example, \"restaurant\" or \"gas_station\") in Place Types (https://developers.google.com/maps/documentation/places/web-service/place-types), or only `(regions)`, or only `(cities)`. A Place is only returned if its primary type is included in this list. Up to 5 values can be specified. If no types are specified, all Place types are returned.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "includeQueryPredictions": {
          "description": "Optional. If true, the response will include both Place and query predictions. Otherwise the response will only return Place predictions.",
          "type": "boolean"
        },
        "locationRestriction": {
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesRequestLocationRestriction",
          "description": "Optional. Restrict results to a specified location. At most one of `location_bias` or `location_restriction` should be set. If neither are set, the results will be biased by IP address, meaning the IP address will be mapped to an imprecise location and used as a biasing signal."
        },
        "includedRegionCodes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Only include results in the specified regions, specified as up to 15 CLDR two-character region codes. An empty set will not restrict the results. If both `location_restriction` and `included_region_codes` are set, the results will be located in the area of intersection.",
          "type": "array"
        },
        "regionCode": {
          "description": "Optional. The region code, specified as a CLDR two-character region code. This affects address formatting, result ranking, and may influence what results are returned. This does not restrict results to the specified region. To restrict results to a region, use `region_code_restriction`.",
          "type": "string"
        },
        "input": {
          "description": "Required. The text string on which to search.",
          "type": "string"
        },
        "sessionToken": {
          "type": "string",
          "description": "Optional. A string which identifies an Autocomplete session for billing purposes. Must be a URL and filename safe base64 string with at most 36 ASCII characters in length. Otherwise an INVALID_ARGUMENT error is returned. The session begins when the user starts typing a query, and concludes when they select a place and a call to Place Details or Address Validation is made. Each session can have multiple queries, followed by one Place Details or Address Validation request. The credentials used for each request within a session must belong to the same Google Cloud Console project. Once a session has concluded, the token is no longer valid; your app must generate a fresh token for each session. If the `session_token` parameter is omitted, or if you reuse a session token, the session is charged as if no session token was provided (each request is billed separately). We recommend the following guidelines: * Use session tokens for all Place Autocomplete calls. * Generate a fresh token for each session. Using a version 4 UUID is recommended. * Ensure that the credentials used for all Place Autocomplete, Place Details, and Address Validation requests within a session belong to the same Cloud Console project. * Be sure to pass a unique session token for each new session. Using the same token for more than one session will result in each request being billed individually."
        },
        "includeFutureOpeningBusinesses": {
          "description": "Optional. If true, include businesses that are not yet open but will open in the future.",
          "type": "boolean"
        },
        "origin": {
          "$ref": "GoogleTypeLatLng",
          "description": "Optional. The origin point from which to calculate geodesic distance to the destination (returned as `distance_meters`). If this value is omitted, geodesic distance will not be returned."
        },
        "languageCode": {
          "type": "string",
          "description": "Optional. The language in which to return results. Defaults to en-US. The results may be in mixed languages if the language used in `input` is different from `language_code` or if the returned Place does not have a translation from the local language to `language_code`."
        }
      },
      "id": "GoogleMapsPlacesV1AutocompletePlacesRequest"
    },
    "GoogleMapsPlacesV1PlaceNavigationPoint": {
      "type": "object",
      "properties": {
        "displayName": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The display name of this navigation point. For example, \"5th Ave\" or \"Gate B\"."
        },
        "navigationPointToken": {
          "type": "string",
          "description": "A token that can be used to identify this navigation point."
        },
        "location": {
          "$ref": "GoogleTypeLatLng",
          "description": "A point next to the road segment where navigation should end. The point is intentionally slightly offset from the road's centerline to clearly mark the side of the road where the place is located."
        },
        "travelModes": {
          "type": "array",
          "items": {
            "enum": [
              "TRAVEL_MODE_UNSPECIFIED",
              "DRIVE",
              "WALK"
            ],
            "enumDescriptions": [
              "Not used.",
              "Suitable for driving.",
              "Suitable for walking."
            ],
            "type": "string"
          },
          "description": "Travel modes that are appropriate for this navigation point."
        },
        "usages": {
          "description": "Lists `usages` supported by this navigation point. If empty, it does not necessarily mean its usage is restricted in any way. All navigation points can be used for general navigation.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Not used.",
              "Suitable for dropping off a passenger. For example, a rideshare drop off location.",
              "Suitable for picking up a passenger. For example, a rideshare pick up location.",
              "Suitable for parking. For example, within a parking lot."
            ],
            "enum": [
              "USAGE_UNSPECIFIED",
              "DROPOFF",
              "PICKUP",
              "PARKING"
            ]
          }
        }
      },
      "description": "A navigation point is a location next to a road where navigation can end.",
      "id": "GoogleMapsPlacesV1PlaceNavigationPoint"
    },
    "GoogleTypeDate": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleTypeDate"
    },
    "GoogleMapsPlacesV1TransitAgency": {
      "id": "GoogleMapsPlacesV1TransitAgency",
      "type": "object",
      "properties": {
        "lines": {
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1TransitLine"
          },
          "description": "The transit lines that are served by this agency."
        },
        "fareUrl": {
          "type": "string",
          "description": "The URL of the agency's fare details page."
        },
        "displayName": {
          "description": "Agency name (e.g. \"VTA\") in the requested language.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "url": {
          "description": "The URL of the agency's homepage.",
          "type": "string"
        },
        "icon": {
          "description": "Icon identifier for localized branded icon of a transit system (e.g. London Underground) which should be used instead of TransitLine.vehicle_icon in the UI.",
          "$ref": "GoogleMapsPlacesV1TransitIcon"
        }
      },
      "description": "Represents a transit agency."
    },
    "GoogleMapsPlacesV1PlaceConsumerAlert": {
      "type": "object",
      "description": "The consumer alert message for the place when we detect suspicious review activity on a business or a business violates our policies.",
      "properties": {
        "overview": {
          "type": "string",
          "description": "The overview of the consumer alert message."
        },
        "details": {
          "description": "The details of the consumer alert message.",
          "$ref": "GoogleMapsPlacesV1PlaceConsumerAlertDetails"
        },
        "languageCode": {
          "type": "string",
          "description": "The language code of the consumer alert message. This is a BCP 47 language code."
        }
      },
      "id": "GoogleMapsPlacesV1PlaceConsumerAlert"
    },
    "GoogleMapsPlacesV1PlaceOpeningHours": {
      "description": "Information about business hour of the place.",
      "properties": {
        "periods": {
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursPeriod"
          },
          "type": "array",
          "description": "The periods that this place is open during the week. The periods are in chronological order, in the place-local timezone. An empty (but not absent) value indicates a place that is never open, e.g. because it is closed temporarily for renovations. The starting day of `periods` is NOT fixed and should not be assumed to be Sunday. The API determines the start day based on a variety of factors. For example, for a 24/7 business, the first period may begin on the day of the request. For other businesses, it might be the first day of the week that they are open. NOTE: The ordering of the `periods` array is independent of the ordering of the `weekday_descriptions` array. Do not assume they will begin on the same day."
        },
        "specialDays": {
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1PlaceOpeningHoursSpecialDay"
          },
          "description": "Structured information for special days that fall within the period that the returned opening hours cover. Special days are days that could impact the business hours of a place, e.g. Christmas day. Set for current_opening_hours and current_secondary_opening_hours if there are exceptional hours."
        },
        "secondaryHoursType": {
          "enum": [
            "SECONDARY_HOURS_TYPE_UNSPECIFIED",
            "DRIVE_THROUGH",
            "HAPPY_HOUR",
            "DELIVERY",
            "TAKEOUT",
            "KITCHEN",
            "BREAKFAST",
            "LUNCH",
            "DINNER",
            "BRUNCH",
            "PICKUP",
            "ACCESS",
            "SENIOR_HOURS",
            "ONLINE_SERVICE_HOURS"
          ],
          "enumDescriptions": [
            "Default value when secondary hour type is not specified.",
            "The drive-through hour for banks, restaurants, or pharmacies.",
            "The happy hour.",
            "The delivery hour.",
            "The takeout hour.",
            "The kitchen hour.",
            "The breakfast hour.",
            "The lunch hour.",
            "The dinner hour.",
            "The brunch hour.",
            "The pickup hour.",
            "The access hours for storage places.",
            "The special hours for seniors.",
            "The online service hours."
          ],
          "description": "A type string used to identify the type of secondary hours.",
          "type": "string"
        },
        "nextOpenTime": {
          "type": "string",
          "description": "The next time the current opening hours period starts up to 7 days in the future. This field is only populated if the opening hours period is not active at the time of serving the request.",
          "format": "google-datetime"
        },
        "nextCloseTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The next time the current opening hours period ends up to 7 days in the future. This field is only populated if the opening hours period is active at the time of serving the request."
        },
        "weekdayDescriptions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Localized strings describing the opening hours of this place, one string for each day of the week. NOTE: The order of the days and the start of the week is determined by the locale (language and region). The ordering of the `periods` array is independent of the ordering of the `weekday_descriptions` array. Do not assume they will begin on the same day. Will be empty if the hours are unknown or could not be converted to localized text. Example: \"Sun: 18:00–06:00\""
        },
        "openNow": {
          "description": "Whether the opening hours period is currently active. For regular opening hours and current opening hours, this field means whether the place is open. For secondary opening hours and current secondary opening hours, this field means whether the secondary hours of this place is active.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleMapsPlacesV1PlaceOpeningHours"
    },
    "GoogleMapsPlacesV1PlaceParkingOptions": {
      "properties": {
        "freeGarageParking": {
          "type": "boolean",
          "description": "Place offers free garage parking."
        },
        "freeParkingLot": {
          "type": "boolean",
          "description": "Place offers free parking lots."
        },
        "paidStreetParking": {
          "type": "boolean",
          "description": "Place offers paid street parking."
        },
        "paidParkingLot": {
          "description": "Place offers paid parking lots.",
          "type": "boolean"
        },
        "valetParking": {
          "description": "Place offers valet parking.",
          "type": "boolean"
        },
        "freeStreetParking": {
          "description": "Place offers free street parking.",
          "type": "boolean"
        },
        "paidGarageParking": {
          "description": "Place offers paid garage parking.",
          "type": "boolean"
        }
      },
      "description": "Information about parking options for the place. A parking lot could support more than one option at the same time.",
      "id": "GoogleMapsPlacesV1PlaceParkingOptions",
      "type": "object"
    },
    "GoogleMapsPlacesV1SearchTextRequestLocationBias": {
      "id": "GoogleMapsPlacesV1SearchTextRequestLocationBias",
      "type": "object",
      "description": "The region to search. This location serves as a bias which means results around given location might be returned.",
      "properties": {
        "circle": {
          "description": "A circle defined by center point and radius.",
          "$ref": "GoogleMapsPlacesV1Circle"
        },
        "rectangle": {
          "description": "A rectangle box defined by northeast and southwest corner. `rectangle.high()` must be the northeast point of the rectangle viewport. `rectangle.low()` must be the southwest point of the rectangle viewport. `rectangle.low().latitude()` cannot be greater than `rectangle.high().latitude()`. This will result in an empty latitude range. A rectangle viewport cannot be wider than 180 degrees.",
          "$ref": "GoogleGeoTypeViewport"
        }
      }
    },
    "GoogleMapsPlacesV1AutocompletePlacesRequestLocationRestriction": {
      "type": "object",
      "properties": {
        "rectangle": {
          "description": "A viewport defined by a northeast and a southwest corner.",
          "$ref": "GoogleGeoTypeViewport"
        },
        "circle": {
          "description": "A circle defined by a center point and radius.",
          "$ref": "GoogleMapsPlacesV1Circle"
        }
      },
      "id": "GoogleMapsPlacesV1AutocompletePlacesRequestLocationRestriction",
      "description": "The region to search. The results will be restricted to the specified region."
    },
    "GoogleMapsPlacesV1ContentBlock": {
      "id": "GoogleMapsPlacesV1ContentBlock",
      "type": "object",
      "description": "A block of content that can be served individually.",
      "properties": {
        "content": {
          "description": "Content related to the topic.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "referencedPlaces": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of resource names of the referenced places. This name can be used in other APIs that accept Place resource names."
        }
      }
    },
    "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedTextHighlightedTextRange": {
      "description": "The range of highlighted text.",
      "id": "GoogleMapsPlacesV1ContextualContentJustificationReviewJustificationHighlightedTextHighlightedTextRange",
      "properties": {
        "endIndex": {
          "type": "integer",
          "format": "int32"
        },
        "startIndex": {
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1SearchTextRequestLocationRestriction": {
      "id": "GoogleMapsPlacesV1SearchTextRequestLocationRestriction",
      "type": "object",
      "description": "The region to search. This location serves as a restriction which means results outside given location will not be returned.",
      "properties": {
        "rectangle": {
          "$ref": "GoogleGeoTypeViewport",
          "description": "A rectangle box defined by northeast and southwest corner. `rectangle.high()` must be the northeast point of the rectangle viewport. `rectangle.low()` must be the southwest point of the rectangle viewport. `rectangle.low().latitude()` cannot be greater than `rectangle.high().latitude()`. This will result in an empty latitude range. A rectangle viewport cannot be wider than 180 degrees."
        }
      }
    },
    "GoogleTypeMoney": {
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "nanos": {
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer"
        },
        "units": {
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string"
        }
      },
      "id": "GoogleTypeMoney"
    },
    "GoogleMapsPlacesV1EVChargeOptions": {
      "description": "Information about the EV Charge Station hosted in Place. Terminology follows https://afdc.energy.gov/fuels/electricity_infrastructure.html One port could charge one car at a time. One port has one or more connectors. One station has one or more ports.",
      "id": "GoogleMapsPlacesV1EVChargeOptions",
      "properties": {
        "connectorAggregation": {
          "items": {
            "$ref": "GoogleMapsPlacesV1EVChargeOptionsConnectorAggregation"
          },
          "description": "A list of EV charging connector aggregations that contain connectors of the same type and same charge rate.",
          "type": "array"
        },
        "connectorCount": {
          "description": "Number of connectors at this station. However, because some ports can have multiple connectors but only be able to charge one car at a time (e.g.) the number of connectors may be greater than the total number of cars which can charge simultaneously.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionPlacePrediction": {
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionPlacePrediction",
      "properties": {
        "place": {
          "type": "string",
          "description": "The resource name of the suggested Place. This name can be used in other APIs that accept Place names."
        },
        "text": {
          "description": "Contains the human-readable name for the returned result. For establishment results, this is usually the business name and address. `text` is recommended for developers who wish to show a single UI element. Developers who wish to show two separate, but related, UI elements may want to use `structured_format` instead. They are two different ways to represent a Place prediction. Users should not try to parse `structured_format` into `text` or vice versa. This text may be different from the `display_name` returned by GetPlace. May be in mixed languages if the request `input` and `language_code` are in different languages or if the Place does not have a translation from the local language to `language_code`.",
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText"
        },
        "distanceMeters": {
          "format": "int32",
          "type": "integer",
          "description": "The length of the geodesic in meters from `origin` if `origin` is specified. Certain predictions such as routes may not populate this field."
        },
        "placeId": {
          "description": "The unique identifier of the suggested Place. This identifier can be used in other APIs that accept Place IDs.",
          "type": "string"
        },
        "structuredFormat": {
          "description": "A breakdown of the Place prediction into main text containing the name of the Place and secondary text containing additional disambiguating features (such as a city or region). `structured_format` is recommended for developers who wish to show two separate, but related, UI elements. Developers who wish to show a single UI element may want to use `text` instead. They are two different ways to represent a Place prediction. Users should not try to parse `structured_format` into `text` or vice versa.",
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStructuredFormat"
        },
        "types": {
          "description": "List of types that apply to this Place from Table A or Table B in https://developers.google.com/maps/documentation/places/web-service/place-types. A type is a categorization of a Place. Places with shared types will share similar characteristics.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Prediction results for a Place Autocomplete prediction."
    },
    "GoogleMapsPlacesV1PlaceEntrance": {
      "id": "GoogleMapsPlacesV1PlaceEntrance",
      "properties": {
        "location": {
          "$ref": "GoogleTypeLatLng",
          "description": "The location of the entrance."
        },
        "tags": {
          "description": "A list of tags that describe the entrance.",
          "type": "array",
          "items": {
            "enum": [
              "TAG_UNSPECIFIED",
              "PREFERRED"
            ],
            "enumDescriptions": [
              "Not used.",
              "The entrance likely provides physical access to the primary place in the returned destination. A place can have multiple preferred entrances. If an entrance does not have this tag, it means the entrance is physically on the same building as the primary place, but does not necessarily provide access to the place. For example, if the primary place is a restaurant in a strip mall, the \"PREFERRED\" entrances will be the ones that likely lead into the restaurant itself, while the other returned entrances will be other entrances for the building, such as entrances into other restaurants in the strip mall. If the primary place is a building itself, the `PREFERRED` entrances will be the ones that lead into the \"main\" part of the building. For example, in a shopping center the `PREFERRED` entrances will be the ones that allow access to the main foyer area, but if an entrance only provides access to a store on the side of the building, it won't be a `PREFERRED` entrance. Note: a `PREFERRED` entrance might not provide access to the primary place, and a non-`PREFERRED` entrance might provide access to the primary place."
            ],
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "An entrance is a single latitude/longitude coordinate pair that defines the location of an entry and exit point for a place."
    },
    "GoogleMapsPlacesV1TransitLine": {
      "id": "GoogleMapsPlacesV1TransitLine",
      "type": "object",
      "description": "Represents a single transit line.",
      "properties": {
        "backgroundColor": {
          "type": "string",
          "description": "The background color of the labels for this transit line in #RRGGBB hex format, e.g. #909CE1. This color can also be used for drawing shapes for this transit line."
        },
        "url": {
          "type": "string",
          "description": "The URL of a webpage with details about this line."
        },
        "displayName": {
          "$ref": "GoogleTypeLocalizedText",
          "description": "The long name for this transit line (e.g. \"Sunnydale local\")."
        },
        "icon": {
          "description": "Icon identifier for this particular line (e.g. subway lines in New York).",
          "$ref": "GoogleMapsPlacesV1TransitIcon"
        },
        "id": {
          "type": "string",
          "description": "The id of the transit line that can be used to uniquely identify the line among other transit lines in the same transit station. This identifier is not guaranteed to be stable across different responses."
        },
        "shortDisplayName": {
          "description": "The short name for this transit line (e.g. \"S2\").",
          "$ref": "GoogleTypeLocalizedText"
        },
        "vehicleType": {
          "description": "The type of vehicle using this line.",
          "type": "string",
          "enumDescriptions": [
            "Default value when vehicle type is not specified.",
            "Rail.",
            "Metro rail.",
            "Subway.",
            "Tram.",
            "Monorail.",
            "Heavy rail.",
            "Commuter train.",
            "High speed train.",
            "Long distance train.",
            "Bus.",
            "Intercity bus.",
            "Trolleybus.",
            "Share taxi.",
            "Coach.",
            "Ferry.",
            "Cable car.",
            "Gondola lift.",
            "Funicular.",
            "Special.",
            "Horse carriage.",
            "Airplane."
          ],
          "enum": [
            "VEHICLE_TYPE_UNSPECIFIED",
            "RAIL",
            "METRO_RAIL",
            "SUBWAY",
            "TRAM",
            "MONORAIL",
            "HEAVY_RAIL",
            "COMMUTER_TRAIN",
            "HIGH_SPEED_TRAIN",
            "LONG_DISTANCE_TRAIN",
            "BUS",
            "INTERCITY_BUS",
            "TROLLEYBUS",
            "SHARE_TAXI",
            "COACH",
            "FERRY",
            "CABLE_CAR",
            "GONDOLA_LIFT",
            "FUNICULAR",
            "SPECIAL",
            "HORSE_CARRIAGE",
            "AIRPLANE"
          ]
        },
        "vehicleIcon": {
          "description": "Icon identifier for this particular vehicle type.",
          "$ref": "GoogleMapsPlacesV1TransitIcon"
        },
        "textColor": {
          "description": "The text color of labels for this transit line in #RRGGBB hex format, e.g. #909CE1.",
          "type": "string"
        }
      }
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponse": {
      "description": "Response proto for AutocompletePlaces.",
      "properties": {
        "suggestions": {
          "items": {
            "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestion"
          },
          "description": "Contains a list of suggestions, ordered in descending order of relevance.",
          "type": "array"
        }
      },
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponse",
      "type": "object"
    },
    "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStructuredFormat": {
      "description": "Contains a breakdown of a Place or query prediction into main text and secondary text. For Place predictions, the main text contains the specific name of the Place. For query predictions, the main text contains the query. The secondary text contains additional disambiguating features (such as a city or region) to further identify the Place or refine the query.",
      "id": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionStructuredFormat",
      "properties": {
        "mainText": {
          "description": "Represents the name of the Place or query.",
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText"
        },
        "secondaryText": {
          "$ref": "GoogleMapsPlacesV1AutocompletePlacesResponseSuggestionFormattableText",
          "description": "Represents additional disambiguating features (such as a city or region) to further identify the Place or refine the query."
        }
      },
      "type": "object"
    },
    "GoogleMapsPlacesV1Photo": {
      "properties": {
        "flagContentUri": {
          "type": "string",
          "description": "A link where users can flag a problem with the photo."
        },
        "name": {
          "description": "Identifier. A reference representing this place photo which may be used to look up this place photo again (also called the API \"resource\" name: `places/{place_id}/photos/{photo}`).",
          "type": "string"
        },
        "heightPx": {
          "description": "The maximum available height, in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "authorAttributions": {
          "description": "This photo's authors.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1AuthorAttribution"
          }
        },
        "googleMapsUri": {
          "type": "string",
          "description": "A link to show the photo on Google Maps."
        },
        "widthPx": {
          "description": "The maximum available width, in pixels.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Information about a photo of a place.",
      "id": "GoogleMapsPlacesV1Photo",
      "type": "object"
    },
    "GoogleMapsPlacesV1PlaceGoogleMapsLinks": {
      "id": "GoogleMapsPlacesV1PlaceGoogleMapsLinks",
      "type": "object",
      "properties": {
        "writeAReviewUri": {
          "type": "string",
          "description": "A link to write a review for this place on Google Maps."
        },
        "photosUri": {
          "description": "A link to show photos of this place on Google Maps.",
          "type": "string"
        },
        "directionsUri": {
          "description": "A link to show the directions to the place. The link only populates the destination location and uses the default travel mode `DRIVE`.",
          "type": "string"
        },
        "placeUri": {
          "type": "string",
          "description": "A link to show this place."
        },
        "reviewsUri": {
          "type": "string",
          "description": "A link to show reviews of this place on Google Maps."
        }
      },
      "description": "Links to trigger different Google Maps actions."
    },
    "GoogleMapsPlacesV1AuthorAttribution": {
      "properties": {
        "displayName": {
          "description": "Name of the author of the Photo or Review.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "URI of the author of the Photo or Review."
        },
        "photoUri": {
          "description": "Profile photo URI of the author of the Photo or Review.",
          "type": "string"
        }
      },
      "id": "GoogleMapsPlacesV1AuthorAttribution",
      "description": "Information about the author of the UGC data. Used in Photo, and Review.",
      "type": "object"
    },
    "GoogleMapsPlacesV1AutocompletePlacesRequestLocationBias": {
      "type": "object",
      "description": "The region to search. The results may be biased around the specified region.",
      "properties": {
        "circle": {
          "$ref": "GoogleMapsPlacesV1Circle",
          "description": "A circle defined by a center point and radius."
        },
        "rectangle": {
          "$ref": "GoogleGeoTypeViewport",
          "description": "A viewport defined by a northeast and a southwest corner."
        }
      },
      "id": "GoogleMapsPlacesV1AutocompletePlacesRequestLocationBias"
    },
    "GoogleMapsPlacesV1ContextualContentJustificationBusinessAvailabilityAttributesJustification": {
      "id": "GoogleMapsPlacesV1ContextualContentJustificationBusinessAvailabilityAttributesJustification",
      "description": "BusinessAvailabilityAttributes justifications. This shows some attributes a business has that could interest an end user.",
      "type": "object",
      "properties": {
        "delivery": {
          "description": "If a place provides delivery.",
          "type": "boolean"
        },
        "dineIn": {
          "description": "If a place provides dine-in.",
          "type": "boolean"
        },
        "takeout": {
          "description": "If a place provides takeout.",
          "type": "boolean"
        }
      }
    },
    "GoogleMapsPlacesV1AddressDescriptorArea": {
      "id": "GoogleMapsPlacesV1AddressDescriptorArea",
      "properties": {
        "displayName": {
          "description": "The area's display name.",
          "$ref": "GoogleTypeLocalizedText"
        },
        "containment": {
          "enum": [
            "CONTAINMENT_UNSPECIFIED",
            "WITHIN",
            "OUTSKIRTS",
            "NEAR"
          ],
          "description": "Defines the spatial relationship between the target location and the area.",
          "type": "string",
          "enumDescriptions": [
            "The containment is unspecified.",
            "The target location is within the area region, close to the center.",
            "The target location is within the area region, close to the edge.",
            "The target location is outside the area region, but close by."
          ]
        },
        "placeId": {
          "type": "string",
          "description": "The area's place id."
        },
        "name": {
          "type": "string",
          "description": "The area's resource name."
        }
      },
      "type": "object",
      "description": "Area information and the area's relationship with the target location. Areas includes precise sublocality, neighborhoods, and large compounds that are useful for describing a location."
    },
    "GoogleMapsPlacesV1ContextualContent": {
      "type": "object",
      "properties": {
        "justifications": {
          "type": "array",
          "description": "Justifications for the place.",
          "items": {
            "$ref": "GoogleMapsPlacesV1ContextualContentJustification"
          }
        },
        "photos": {
          "description": "Information (including references) about photos of this place, contextual to the place query.",
          "type": "array",
          "items": {
            "$ref": "GoogleMapsPlacesV1Photo"
          }
        },
        "reviews": {
          "description": "List of reviews about this place, contextual to the place query.",
          "items": {
            "$ref": "GoogleMapsPlacesV1Review"
          },
          "type": "array"
        }
      },
      "description": "Content that is contextual to the place query.",
      "id": "GoogleMapsPlacesV1ContextualContent"
    },
[...]
