{
  "version_module": true,
  "discoveryVersion": "v1",
  "baseUrl": "https://playintegrity.googleapis.com/",
  "version": "v1",
  "ownerName": "Google",
  "revision": "20260915",
  "batchPath": "batch",
  "resources": {
    "v1": {
      "methods": {
        "decodeIntegrityToken": {
          "path": "v1/{+packageName}:decodeIntegrityToken",
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "parameterOrder": [
            "packageName"
          ],
          "request": {
            "$ref": "DecodeIntegrityTokenRequest"
          },
          "id": "playintegrity.decodeIntegrityToken",
          "response": {
            "$ref": "DecodeIntegrityTokenResponse"
          },
          "httpMethod": "POST",
          "flatPath": "v1/{v1Id}:decodeIntegrityToken",
          "description": "Decodes the integrity token and returns the token payload.",
          "parameters": {
            "packageName": {
              "pattern": "^[^/]+$",
              "description": " Package name of the app the attached integrity token belongs to.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          }
        },
        "decodePcIntegrityToken": {
          "httpMethod": "POST",
          "flatPath": "v1/{v1Id}:decodePcIntegrityToken",
          "response": {
            "$ref": "DecodePcIntegrityTokenResponse"
          },
          "request": {
            "$ref": "DecodePcIntegrityTokenRequest"
          },
          "id": "playintegrity.decodePcIntegrityToken",
          "parameters": {
            "packageName": {
              "type": "string",
              "required": true,
              "description": "Package name of the app the attached integrity token belongs to.",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "description": "Decodes the PC integrity token and returns the PC token payload.",
          "path": "v1/{+packageName}:decodePcIntegrityToken",
          "parameterOrder": [
            "packageName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ]
        }
      }
    },
    "deviceRecall": {
      "methods": {
        "write": {
          "parameterOrder": [
            "packageName"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "parameters": {
            "packageName": {
              "type": "string",
              "location": "path",
              "description": "Required. Package name of the app the attached integrity token belongs to.",
              "pattern": "^[^/]+$",
              "required": true
            }
          },
          "response": {
            "$ref": "WriteDeviceRecallResponse"
          },
          "id": "playintegrity.deviceRecall.write",
          "flatPath": "v1/{v1Id}/deviceRecall:write",
          "request": {
            "$ref": "WriteDeviceRecallRequest"
          },
          "path": "v1/{+packageName}/deviceRecall:write",
          "description": "Writes recall bits for the device where Play Integrity API token is obtained. The endpoint is available to select Play partners in an early access program (EAP)."
        }
      }
    }
  },
  "protocol": "rest",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "ownerDomain": "google.com",
  "title": "Google Play Integrity API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://playintegrity.mtls.googleapis.com/",
  "id": "playintegrity:v1",
  "rootUrl": "https://playintegrity.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/playintegrity": {
          "description": "Private Service: https://www.googleapis.com/auth/playintegrity"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "description": "The Play Integrity API helps you check that you're interacting with your genuine app on a genuine Android device powered by Google Play services. The Play Integrity API has replaced SafetyNet Attestation and Android Device Verification.",
  "name": "playintegrity",
  "kind": "discovery#restDescription",
  "basePath": "",
  "canonicalName": "Play Integrity",
  "documentationLink": "https://developer.android.com/google/play/integrity",
  "schemas": {
    "DecodePcIntegrityTokenRequest": {
      "type": "object",
      "properties": {
        "integrityToken": {
          "description": "Encoded integrity token.",
          "type": "string"
        }
      },
      "description": "Request to decode the PC integrity token.",
      "id": "DecodePcIntegrityTokenRequest"
    },
    "Values": {
      "id": "Values",
      "description": "Contains the recall bits values.",
      "type": "object",
      "properties": {
        "bitSecond": {
          "description": "Required. Second recall bit value.",
          "type": "boolean"
        },
        "bitFirst": {
          "description": "Required. First recall bit value.",
          "type": "boolean"
        },
        "bitThird": {
          "description": "Required. Third recall bit value.",
          "type": "boolean"
        }
      }
    },
    "TokenPayloadExternal": {
      "description": "Contains basic app information and integrity signals like device attestation and licensing details.",
      "properties": {
        "environmentDetails": {
          "description": "Details of the environment Play Integrity API runs in.",
          "$ref": "EnvironmentDetails"
        },
        "appIntegrity": {
          "description": "Required. Details about the application integrity.",
          "$ref": "AppIntegrity"
        },
        "testingDetails": {
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status.",
          "$ref": "TestingDetails"
        },
        "accountDetails": {
          "description": "Required. Details about the Play Store account.",
          "$ref": "AccountDetails"
        },
        "deviceIntegrity": {
          "$ref": "DeviceIntegrity",
          "description": "Required. Details about the device integrity."
        },
        "requestDetails": {
          "description": "Required. Details about the integrity request.",
          "$ref": "RequestDetails"
        }
      },
      "type": "object",
      "id": "TokenPayloadExternal"
    },
    "WriteDates": {
      "id": "WriteDates",
      "description": "Contains the recall bits write dates.",
      "properties": {
        "yyyymmSecond": {
          "type": "integer",
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the second bit. Note that this value won't be set if the second bit is false.",
          "format": "int32"
        },
        "yyyymmFirst": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the first bit. Note that this value won't be set if the first bit is false."
        },
        "yyyymmThird": {
          "type": "integer",
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the third bit. Note that this value won't be set if the third bit is false.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "AccountActivity": {
      "properties": {
        "activityLevel": {
          "type": "string",
          "description": "Required. Indicates the activity level of the account.",
          "enumDescriptions": [
            "Activity level has not been set.",
            "Account activity level is not evaluated.",
            "Unusual activity for at least one of the user accounts on the device.",
            "Insufficient activity to verify the user account on the device.",
            "Typical activity for the user account or accounts on the device.",
            "Typical for the user account or accounts on the device, with harder to replicate signals."
          ],
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "UNEVALUATED",
            "UNUSUAL",
            "UNKNOWN",
            "TYPICAL_BASIC",
            "TYPICAL_STRONG"
          ]
        }
      },
      "description": "(Restricted Access) Contains a signal helping apps differentiating between likely genuine and likely non-genuine user traffic.",
      "deprecated": true,
      "type": "object",
      "id": "AccountActivity"
    },
    "DeviceAttributes": {
      "properties": {
        "sdkVersion": {
          "description": "Android SDK version of the device, as defined in the public Android documentation: https://developer.android.com/reference/android/os/Build.VERSION_CODES. It won't be set if a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Contains information about the device for which the integrity token was generated, e.g. Android SDK version.",
      "id": "DeviceAttributes"
    },
    "DecodeIntegrityTokenRequest": {
      "properties": {
        "integrityToken": {
          "description": "Encoded integrity token.",
          "type": "string"
        }
      },
      "description": "Request to decode the integrity token.",
      "type": "object",
      "id": "DecodeIntegrityTokenRequest"
    },
    "PcTestingDetails": {
      "id": "PcTestingDetails",
      "type": "object",
      "properties": {
        "isTestingResponse": {
          "type": "boolean",
          "description": "Indicates that the information contained in this payload is a testing response that is statically overridden for a tester."
        }
      },
      "description": "Contains additional information generated for testing responses."
    },
    "RequestDetails": {
      "description": "Contains the integrity request information.",
      "type": "object",
      "id": "RequestDetails",
      "properties": {
        "nonce": {
          "description": "Nonce that was provided in the request (which is base64 web-safe no-wrap).",
          "type": "string"
        },
        "requestHash": {
          "type": "string",
          "description": "Request hash that was provided in the request."
        },
        "timestampMillis": {
          "format": "int64",
          "type": "string",
          "description": "Required. Timestamp, in milliseconds, of the integrity application request."
        },
        "requestPackageName": {
          "type": "string",
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity. For details on application integrity, check application_integrity."
        }
      }
    },
    "PcDeviceIntegrity": {
      "id": "PcDeviceIntegrity",
      "properties": {
        "deviceRecognitionVerdict": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified device integrity.",
              "App is running on Windows Device with Google Desktop Services."
            ],
            "enum": [
              "DEVICE_RECOGNITION_VERDICT_UNSPECIFIED",
              "MEETS_PC_INTEGRITY"
            ]
          },
          "description": "Details about the integrity of the device the app is running on.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Contains the device attestation information."
    },
    "DecodePcIntegrityTokenResponse": {
      "description": "Response containing the decoded PC integrity payload.",
      "properties": {
        "tokenPayloadExternal": {
          "$ref": "PcTokenPayloadExternal",
          "description": "Plain token payload generated from the decoded integrity token."
        }
      },
      "id": "DecodePcIntegrityTokenResponse",
      "type": "object"
    },
    "AccountDetails": {
      "type": "object",
      "properties": {
        "accountActivity": {
          "$ref": "AccountActivity",
          "deprecated": true,
          "description": "(Restricted Access) Details about the account activity for the user in the scope."
        },
        "appLicensingVerdict": {
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ],
          "description": "Required. Details about the licensing status of the user for the app in the scope.",
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The user has a valid license to use the app.",
            "The user does not have a valid license to use the app.",
            "Licensing details were not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar or the application was not a known Play version."
          ],
          "type": "string"
        }
      },
      "description": "Contains the account information such as the licensing status for the user in the scope.",
      "id": "AccountDetails"
    },
    "AppAccessRiskVerdict": {
      "type": "object",
      "properties": {
        "appsDetected": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Apps detected is unspecified.",
              "One or more apps is installed by Google Play or preloaded on the system partition by the device manufacturer.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to read or capture the requesting app, such as a screen recording app.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to display overlays over the requesting app.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to control the device, such as a remote support app.",
              "One or more unknown apps is installed, that were not installed by Google Play or preloaded on the system partition by the device manufacturer.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to read or capture the requesting app, such as a screen recording app.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to display overlays over the requesting app.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to control the device, such as a remote support app."
            ],
            "enum": [
              "APPS_DETECTED_UNSPECIFIED",
              "KNOWN_INSTALLED",
              "KNOWN_CAPTURING",
              "KNOWN_OVERLAYS",
              "KNOWN_CONTROLLING",
              "UNKNOWN_INSTALLED",
              "UNKNOWN_CAPTURING",
              "UNKNOWN_OVERLAYS",
              "UNKNOWN_CONTROLLING"
            ]
          },
          "description": "List of detected app types signalled for App Access Risk."
        }
      },
      "description": "Contains signals about others apps on the device which could be used to access or control the requesting app.",
      "id": "AppAccessRiskVerdict"
    },
    "TestingDetails": {
      "properties": {
        "isTestingResponse": {
          "type": "boolean",
          "description": "Required. Indicates that the information contained in this payload is a testing response that is statically overridden for a tester."
        }
      },
      "description": "Contains additional information generated for testing responses.",
      "type": "object",
      "id": "TestingDetails"
    },
    "DecodeIntegrityTokenResponse": {
      "id": "DecodeIntegrityTokenResponse",
      "properties": {
        "tokenPayloadExternal": {
          "description": "Plain token payload generated from the decoded integrity token.",
          "$ref": "TokenPayloadExternal"
        }
      },
      "description": "Response containing the decoded integrity payload.",
      "type": "object"
    },
    "PcRequestDetails": {
      "properties": {
        "requestPackageName": {
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity.",
          "type": "string"
        },
        "requestTime": {
          "description": "Required. Timestamp, of the integrity application request.",
          "type": "string",
          "format": "google-datetime"
        },
        "requestHash": {
          "type": "string",
          "description": "Request hash that was provided in the request."
        }
      },
      "type": "object",
      "description": "Contains the integrity request information.",
      "id": "PcRequestDetails"
    },
    "WriteDeviceRecallResponse": {
      "properties": {},
      "id": "WriteDeviceRecallResponse",
      "type": "object",
      "description": "Response for the Write Device Recall action. Currently empty."
    },
    "PcTokenPayloadExternal": {
      "properties": {
        "deviceIntegrity": {
          "description": "Required. Details about the device integrity.",
          "$ref": "PcDeviceIntegrity"
        },
        "requestDetails": {
          "$ref": "PcRequestDetails",
          "description": "Required. Details about the integrity request."
        },
        "accountDetails": {
          "$ref": "PcAccountDetails",
          "description": "Details about the account information such as the licensing status."
        },
        "testingDetails": {
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status.",
          "$ref": "PcTestingDetails"
        }
      },
      "description": "Contains PC device attestation details.",
      "id": "PcTokenPayloadExternal",
      "type": "object"
    },
    "AppIntegrity": {
      "type": "object",
      "id": "AppIntegrity",
      "description": "Contains the application integrity information.",
      "properties": {
        "versionCode": {
          "format": "int64",
          "description": "Version code of the application. Set iff app_recognition_verdict != UNEVALUATED.",
          "type": "string"
        },
        "appRecognitionVerdict": {
          "enum": [
            "UNKNOWN",
            "PLAY_RECOGNIZED",
            "UNRECOGNIZED_VERSION",
            "UNEVALUATED"
          ],
          "description": "Required. Details about the app recognition verdict",
          "type": "string",
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate app integrity",
            "The app and certificate match the versions distributed by Play.",
            "The certificate or package name does not match Google Play records.",
            "Application integrity was not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar."
          ]
        },
        "packageName": {
          "description": "Package name of the application under attestation. Set iff app_recognition_verdict != UNEVALUATED.",
          "type": "string"
        },
        "certificateSha256Digest": {
          "items": {
            "type": "string"
          },
          "description": "The SHA256 hash of the requesting app's signing certificates (base64 web-safe encoded). Set iff app_recognition_verdict != UNEVALUATED.",
          "type": "array"
        }
      }
    },
    "DeviceRecall": {
      "description": "Contains the recall bits per device set by the developer.",
      "type": "object",
      "properties": {
        "values": {
          "$ref": "Values",
          "description": "Required. Contains the recall bits values."
        },
        "writeDates": {
          "$ref": "WriteDates",
          "description": "Required. Contains the recall bits write dates."
        }
      },
      "id": "DeviceRecall"
    },
    "WriteDeviceRecallRequest": {
      "description": "Request to write device recall bits.",
      "id": "WriteDeviceRecallRequest",
      "properties": {
        "newValues": {
          "description": "Required. The new values for the device recall bits to be written.",
          "$ref": "Values"
        },
        "integrityToken": {
          "description": "Required. Integrity token obtained from calling Play Integrity API.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RecentDeviceActivity": {
      "id": "RecentDeviceActivity",
      "description": "Recent device activity can help developers identify devices that have exhibited hyperactive attestation activity, which could be a sign of an attack or token farming.",
      "properties": {
        "deviceActivityLevel": {
          "type": "string",
          "enumDescriptions": [
            "Device activity level has not been set.",
            "Device activity level has not been evaluated.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details."
          ],
          "enum": [
            "DEVICE_ACTIVITY_LEVEL_UNSPECIFIED",
            "UNEVALUATED",
            "LEVEL_1",
            "LEVEL_2",
            "LEVEL_3",
            "LEVEL_4"
          ],
          "description": "Required. Indicates the activity level of the device."
        }
      },
      "type": "object"
    },
    "EnvironmentDetails": {
      "type": "object",
      "id": "EnvironmentDetails",
      "properties": {
        "playProtectVerdict": {
          "enum": [
            "PLAY_PROTECT_VERDICT_UNSPECIFIED",
            "UNEVALUATED",
            "NO_ISSUES",
            "NO_DATA",
            "MEDIUM_RISK",
            "HIGH_RISK",
            "POSSIBLE_RISK"
          ],
          "enumDescriptions": [
            "Play Protect verdict has not been set.",
            "Play Protect state was not evaluated. Device may not be trusted.",
            "Play Protect is on and no issues found.",
            "Play Protect is on but no scan has been performed yet. The device or Play Store app may have been reset.",
            "Play Protect is on and warnings found.",
            "Play Protect is on and high severity issues found.",
            "Play Protect is turned off. Turn on Play Protect."
          ],
          "type": "string",
          "description": "The evaluation of Play Protect verdict."
        },
        "appAccessRiskVerdict": {
          "description": "The evaluation of the App Access Risk verdicts.",
          "$ref": "AppAccessRiskVerdict"
        },
        "locationSpoofingRiskVerdict": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "LOCATION_SPOOFING_RISK_VERDICT_UNSPECIFIED",
              "LOW_RISK_DEVICE",
              "LOW_RISK_NETWORK",
              "MEDIUM_RISK_DEVICE",
              "MEDIUM_RISK_NETWORK",
              "HIGH_RISK_DEVICE",
              "HIGH_RISK_NETWORK"
            ],
            "enumDescriptions": [
              "Catch-all for unrecognized enum values.",
              "Device-related spoofing was evaluated, and no issues were detected.",
              "Network-related spoofing was evaluated, and no issues were detected.",
              "Potential device-related spoofing was detected.",
              "Potential network-related spoofing was detected.",
              "Likely device-related spoofing was detected.",
              "Likely network-related spoofing was detected."
            ]
          },
          "description": "The evaluation of the Location Spoofing Risk verdict."
        }
      },
      "description": "Contains information about the environment Play Integrity API runs in, e.g. Play Protect verdict."
    },
    "DeviceIntegrity": {
      "type": "object",
      "description": "Contains the device attestation information.",
      "properties": {
        "deviceAttributes": {
          "description": "Attributes of the device where the integrity token was generated.",
          "$ref": "DeviceAttributes"
        },
        "deviceRecognitionVerdict": {
          "items": {
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ],
            "type": "string",
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ]
          },
          "description": "Details about the integrity of the device the app is running on.",
          "type": "array"
        },
        "legacyDeviceRecognitionVerdict": {
          "items": {
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ],
            "type": "string",
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ]
          },
          "type": "array",
          "description": "Contains legacy details about the integrity of the device the app is running on. Only for devices with Android version T or higher and only for apps opted in to the new verdicts. Only available during the transition period to the new verdicts system and will be removed afterwards."
        },
        "recentDeviceActivity": {
          "description": "Details about the device activity of the device the app is running on.",
          "$ref": "RecentDeviceActivity"
        },
        "deviceRecall": {
          "description": "Details about the device recall bits set by the developer.",
          "$ref": "DeviceRecall"
        }
      },
      "id": "DeviceIntegrity"
    },
    "PcAccountDetails": {
      "type": "object",
      "description": "Contains the account information such as the licensing status for the user in the scope.",
      "id": "PcAccountDetails",
      "properties": {
        "appLicensingVerdict": {
          "type": "string",
          "description": "Required. Details about the licensing status of the user for the app in the scope.",
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The user has a valid license to use the app.",
            "The user does not have a valid license to use the app.",
            "Licensing details were not evaluated since a necessary requirement was missed."
          ],
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ]
        }
      }
    }
  },
  "servicePath": ""
}