{
  "title": "Google Play Integrity API",
  "canonicalName": "Play Integrity",
  "id": "playintegrity:v1",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "rootUrl": "https://playintegrity.googleapis.com/",
  "servicePath": "",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/playintegrity": {
          "description": "Private Service: https://www.googleapis.com/auth/playintegrity"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "resources": {
    "deviceRecall": {
      "methods": {
        "write": {
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "parameters": {
            "packageName": {
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Package name of the app the attached integrity token belongs to.",
              "type": "string"
            }
          },
          "description": "Writes recall bits for the device where Play Integrity API token is obtained. The endpoint is available to select Play partners in an early access program (EAP).",
          "httpMethod": "POST",
          "id": "playintegrity.deviceRecall.write",
          "request": {
            "$ref": "WriteDeviceRecallRequest"
          },
          "flatPath": "v1/{v1Id}/deviceRecall:write",
          "response": {
            "$ref": "WriteDeviceRecallResponse"
          },
          "path": "v1/{+packageName}/deviceRecall:write",
          "parameterOrder": [
            "packageName"
          ]
        }
      }
    },
    "v1": {
      "methods": {
        "decodeIntegrityToken": {
          "httpMethod": "POST",
          "path": "v1/{+packageName}:decodeIntegrityToken",
          "parameters": {
            "packageName": {
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": " Package name of the app the attached integrity token belongs to.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "id": "playintegrity.decodeIntegrityToken",
          "parameterOrder": [
            "packageName"
          ],
          "flatPath": "v1/{v1Id}:decodeIntegrityToken",
          "response": {
            "$ref": "DecodeIntegrityTokenResponse"
          },
          "description": "Decodes the integrity token and returns the token payload.",
          "request": {
            "$ref": "DecodeIntegrityTokenRequest"
          }
        },
        "decodePcIntegrityToken": {
          "description": "Decodes the PC integrity token and returns the PC token payload.",
          "request": {
            "$ref": "DecodePcIntegrityTokenRequest"
          },
          "parameterOrder": [
            "packageName"
          ],
          "id": "playintegrity.decodePcIntegrityToken",
          "path": "v1/{+packageName}:decodePcIntegrityToken",
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "flatPath": "v1/{v1Id}:decodePcIntegrityToken",
          "response": {
            "$ref": "DecodePcIntegrityTokenResponse"
          },
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "type": "string",
              "description": "Package name of the app the attached integrity token belongs to.",
              "pattern": "^[^/]+$",
              "location": "path",
              "required": true
            }
          }
        }
      }
    }
  },
  "name": "playintegrity",
  "schemas": {
    "TokenPayloadExternal": {
      "description": "Contains basic app information and integrity signals like device attestation and licensing details.",
      "type": "object",
      "properties": {
        "requestDetails": {
          "description": "Required. Details about the integrity request.",
          "$ref": "RequestDetails"
        },
        "appIntegrity": {
          "description": "Required. Details about the application integrity.",
          "$ref": "AppIntegrity"
        },
        "testingDetails": {
          "$ref": "TestingDetails",
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status."
        },
        "accountDetails": {
          "$ref": "AccountDetails",
          "description": "Required. Details about the Play Store account."
        },
        "environmentDetails": {
          "$ref": "EnvironmentDetails",
          "description": "Details of the environment Play Integrity API runs in."
        },
        "deviceIntegrity": {
          "description": "Required. Details about the device integrity.",
          "$ref": "DeviceIntegrity"
        }
      },
      "id": "TokenPayloadExternal"
    },
    "RecentDeviceActivity": {
      "type": "object",
      "description": "Recent device activity can help developers identify devices that have exhibited hyperactive attestation activity, which could be a sign of an attack or token farming.",
      "properties": {
        "deviceActivityLevel": {
          "type": "string",
          "description": "Required. Indicates the activity level of the device.",
          "enumDescriptions": [
            "Device activity level has not been set.",
            "Device activity level has not been evaluated.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details."
          ],
          "enum": [
            "DEVICE_ACTIVITY_LEVEL_UNSPECIFIED",
            "UNEVALUATED",
            "LEVEL_1",
            "LEVEL_2",
            "LEVEL_3",
            "LEVEL_4"
          ]
        }
      },
      "id": "RecentDeviceActivity"
    },
    "DeviceAttributes": {
      "id": "DeviceAttributes",
      "properties": {
        "sdkVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Android SDK version of the device, as defined in the public Android documentation: https://developer.android.com/reference/android/os/Build.VERSION_CODES. It won't be set if a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar."
        }
      },
      "type": "object",
      "description": "Contains information about the device for which the integrity token was generated, e.g. Android SDK version."
    },
    "AccountActivity": {
      "type": "object",
      "description": "(Restricted Access) Contains a signal helping apps differentiating between likely genuine and likely non-genuine user traffic.",
      "deprecated": true,
      "properties": {
        "activityLevel": {
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "UNEVALUATED",
            "UNUSUAL",
            "UNKNOWN",
            "TYPICAL_BASIC",
            "TYPICAL_STRONG"
          ],
          "description": "Required. Indicates the activity level of the account.",
          "type": "string",
          "enumDescriptions": [
            "Activity level has not been set.",
            "Account activity level is not evaluated.",
            "Unusual activity for at least one of the user accounts on the device.",
            "Insufficient activity to verify the user account on the device.",
            "Typical activity for the user account or accounts on the device.",
            "Typical for the user account or accounts on the device, with harder to replicate signals."
          ]
        }
      },
      "id": "AccountActivity"
    },
    "RequestDetails": {
      "properties": {
        "timestampMillis": {
          "format": "int64",
          "description": "Required. Timestamp, in milliseconds, of the integrity application request.",
          "type": "string"
        },
        "requestHash": {
          "type": "string",
          "description": "Request hash that was provided in the request."
        },
        "nonce": {
          "description": "Nonce that was provided in the request (which is base64 web-safe no-wrap).",
          "type": "string"
        },
        "requestPackageName": {
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity. For details on application integrity, check application_integrity.",
          "type": "string"
        }
      },
      "id": "RequestDetails",
      "description": "Contains the integrity request information.",
      "type": "object"
    },
    "PcTestingDetails": {
      "properties": {
        "isTestingResponse": {
          "description": "Indicates that the information contained in this payload is a testing response that is statically overridden for a tester.",
          "type": "boolean"
        }
      },
      "id": "PcTestingDetails",
      "description": "Contains additional information generated for testing responses.",
      "type": "object"
    },
    "DecodePcIntegrityTokenRequest": {
      "properties": {
        "integrityToken": {
          "description": "Encoded integrity token.",
          "type": "string"
        }
      },
      "id": "DecodePcIntegrityTokenRequest",
      "type": "object",
      "description": "Request to decode the PC integrity token."
    },
    "WriteDeviceRecallResponse": {
      "id": "WriteDeviceRecallResponse",
      "description": "Response for the Write Device Recall action. Currently empty.",
      "type": "object",
      "properties": {}
    },
    "DeviceRecall": {
      "type": "object",
      "id": "DeviceRecall",
      "properties": {
        "values": {
          "description": "Required. Contains the recall bits values.",
          "$ref": "Values"
        },
        "writeDates": {
          "description": "Required. Contains the recall bits write dates.",
          "$ref": "WriteDates"
        }
      },
      "description": "Contains the recall bits per device set by the developer."
    },
    "DecodePcIntegrityTokenResponse": {
      "description": "Response containing the decoded PC integrity payload.",
      "type": "object",
      "id": "DecodePcIntegrityTokenResponse",
      "properties": {
        "tokenPayloadExternal": {
          "$ref": "PcTokenPayloadExternal",
          "description": "Plain token payload generated from the decoded integrity token."
        }
      }
    },
    "AppIntegrity": {
      "id": "AppIntegrity",
      "properties": {
        "packageName": {
          "description": "Package name of the application under attestation. Set iff app_recognition_verdict != UNEVALUATED.",
          "type": "string"
        },
        "appRecognitionVerdict": {
          "type": "string",
          "description": "Required. Details about the app recognition verdict",
          "enum": [
            "UNKNOWN",
            "PLAY_RECOGNIZED",
            "UNRECOGNIZED_VERSION",
            "UNEVALUATED"
          ],
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate app integrity",
            "The app and certificate match the versions distributed by Play.",
            "The certificate or package name does not match Google Play records.",
            "Application integrity was not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar."
          ]
        },
        "certificateSha256Digest": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The SHA256 hash of the requesting app's signing certificates (base64 web-safe encoded). Set iff app_recognition_verdict != UNEVALUATED."
        },
        "versionCode": {
          "type": "string",
          "description": "Version code of the application. Set iff app_recognition_verdict != UNEVALUATED.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Contains the application integrity information."
    },
    "TestingDetails": {
      "description": "Contains additional information generated for testing responses.",
      "properties": {
        "isTestingResponse": {
          "description": "Required. Indicates that the information contained in this payload is a testing response that is statically overridden for a tester.",
          "type": "boolean"
        }
      },
      "id": "TestingDetails",
      "type": "object"
    },
    "EnvironmentDetails": {
      "id": "EnvironmentDetails",
      "properties": {
        "playProtectVerdict": {
          "type": "string",
          "description": "The evaluation of Play Protect verdict.",
          "enumDescriptions": [
            "Play Protect verdict has not been set.",
            "Play Protect state was not evaluated. Device may not be trusted.",
            "Play Protect is on and no issues found.",
            "Play Protect is on but no scan has been performed yet. The device or Play Store app may have been reset.",
            "Play Protect is on and warnings found.",
            "Play Protect is on and high severity issues found.",
            "Play Protect is turned off. Turn on Play Protect."
          ],
          "enum": [
            "PLAY_PROTECT_VERDICT_UNSPECIFIED",
            "UNEVALUATED",
            "NO_ISSUES",
            "NO_DATA",
            "MEDIUM_RISK",
            "HIGH_RISK",
            "POSSIBLE_RISK"
          ]
        },
        "appAccessRiskVerdict": {
          "$ref": "AppAccessRiskVerdict",
          "description": "The evaluation of the App Access Risk verdicts."
        }
      },
      "description": "Contains information about the environment Play Integrity API runs in, e.g. Play Protect verdict.",
      "type": "object"
    },
    "PcRequestDetails": {
      "description": "Contains the integrity request information.",
      "id": "PcRequestDetails",
      "type": "object",
      "properties": {
        "requestPackageName": {
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity.",
          "type": "string"
        },
        "requestTime": {
          "description": "Required. Timestamp, of the integrity application request.",
          "format": "google-datetime",
          "type": "string"
        },
        "requestHash": {
          "description": "Request hash that was provided in the request.",
          "type": "string"
        }
      }
    },
    "DecodeIntegrityTokenResponse": {
      "type": "object",
      "id": "DecodeIntegrityTokenResponse",
      "properties": {
        "tokenPayloadExternal": {
          "description": "Plain token payload generated from the decoded integrity token.",
          "$ref": "TokenPayloadExternal"
        }
      },
      "description": "Response containing the decoded integrity payload."
    },
    "DecodeIntegrityTokenRequest": {
      "id": "DecodeIntegrityTokenRequest",
      "properties": {
        "integrityToken": {
          "description": "Encoded integrity token.",
          "type": "string"
        }
      },
      "description": "Request to decode the integrity token.",
      "type": "object"
    },
    "PcDeviceIntegrity": {
      "id": "PcDeviceIntegrity",
      "description": "Contains the device attestation information.",
      "properties": {
        "deviceRecognitionVerdict": {
          "items": {
            "type": "string",
            "enum": [
              "DEVICE_RECOGNITION_VERDICT_UNSPECIFIED",
              "MEETS_PC_INTEGRITY"
            ],
            "enumDescriptions": [
              "Unspecified device integrity.",
              "App is running on Windows Device with Google Desktop Services."
            ]
          },
          "description": "Details about the integrity of the device the app is running on.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "AccountDetails": {
      "description": "Contains the account information such as the licensing status for the user in the scope.",
      "properties": {
        "accountActivity": {
          "description": "(Restricted Access) Details about the account activity for the user in the scope.",
          "deprecated": true,
          "$ref": "AccountActivity"
        },
        "appLicensingVerdict": {
          "description": "Required. Details about the licensing status of the user for the app in the scope.",
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The user has a valid license to use the app.",
            "The user does not have a valid license to use the app.",
            "Licensing details were not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar or the application was not a known Play version."
          ]
        }
      },
      "id": "AccountDetails",
      "type": "object"
    },
    "WriteDates": {
      "properties": {
        "yyyymmSecond": {
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the second bit. Note that this value won't be set if the second bit is false.",
          "type": "integer",
          "format": "int32"
        },
        "yyyymmFirst": {
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the first bit. Note that this value won't be set if the first bit is false.",
          "type": "integer",
          "format": "int32"
        },
        "yyyymmThird": {
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the third bit. Note that this value won't be set if the third bit is false.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Contains the recall bits write dates.",
      "id": "WriteDates",
      "type": "object"
    },
    "WriteDeviceRecallRequest": {
      "type": "object",
      "id": "WriteDeviceRecallRequest",
      "properties": {
        "integrityToken": {
          "type": "string",
          "description": "Required. Integrity token obtained from calling Play Integrity API."
        },
        "newValues": {
          "description": "Required. The new values for the device recall bits to be written.",
          "$ref": "Values"
        }
      },
      "description": "Request to write device recall bits."
    },
    "DeviceIntegrity": {
      "properties": {
        "deviceAttributes": {
          "description": "Attributes of the device where the integrity token was generated.",
          "$ref": "DeviceAttributes"
        },
        "deviceRecall": {
          "$ref": "DeviceRecall",
          "description": "Details about the device recall bits set by the developer."
        },
        "recentDeviceActivity": {
          "description": "Details about the device activity of the device the app is running on.",
          "$ref": "RecentDeviceActivity"
        },
        "deviceRecognitionVerdict": {
          "items": {
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ],
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ],
            "type": "string"
          },
          "description": "Details about the integrity of the device the app is running on.",
          "type": "array"
        },
        "legacyDeviceRecognitionVerdict": {
          "items": {
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ],
            "type": "string",
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ]
          },
          "description": "Contains legacy details about the integrity of the device the app is running on. Only for devices with Android version T or higher and only for apps opted in to the new verdicts. Only available during the transition period to the new verdicts system and will be removed afterwards.",
          "type": "array"
        }
      },
      "description": "Contains the device attestation information.",
      "id": "DeviceIntegrity",
      "type": "object"
    },
    "Values": {
      "description": "Contains the recall bits values.",
      "type": "object",
      "properties": {
        "bitThird": {
          "type": "boolean",
          "description": "Required. Third recall bit value."
        },
        "bitFirst": {
          "type": "boolean",
          "description": "Required. First recall bit value."
        },
        "bitSecond": {
          "description": "Required. Second recall bit value.",
          "type": "boolean"
        }
      },
      "id": "Values"
    },
    "AppAccessRiskVerdict": {
      "type": "object",
      "properties": {
        "appsDetected": {
          "type": "array",
          "description": "List of detected app types signalled for App Access Risk.",
          "items": {
            "enum": [
              "APPS_DETECTED_UNSPECIFIED",
              "KNOWN_INSTALLED",
              "KNOWN_CAPTURING",
              "KNOWN_OVERLAYS",
              "KNOWN_CONTROLLING",
              "UNKNOWN_INSTALLED",
              "UNKNOWN_CAPTURING",
              "UNKNOWN_OVERLAYS",
              "UNKNOWN_CONTROLLING"
            ],
            "type": "string",
            "enumDescriptions": [
              "Apps detected is unspecified.",
              "One or more apps is installed by Google Play or preloaded on the system partition by the device manufacturer.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to read or capture the requesting app, such as a screen recording app.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to display overlays over the requesting app.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to control the device, such as a remote support app.",
              "One or more unknown apps is installed, that were not installed by Google Play or preloaded on the system partition by the device manufacturer.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to read or capture the requesting app, such as a screen recording app.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to display overlays over the requesting app.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to control the device, such as a remote support app."
            ]
          }
        }
      },
      "description": "Contains signals about others apps on the device which could be used to access or control the requesting app.",
      "id": "AppAccessRiskVerdict"
    },
    "PcTokenPayloadExternal": {
      "description": "Contains PC device attestation details.",
      "type": "object",
      "id": "PcTokenPayloadExternal",
      "properties": {
        "testingDetails": {
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status.",
          "$ref": "PcTestingDetails"
        },
        "deviceIntegrity": {
          "description": "Required. Details about the device integrity.",
          "$ref": "PcDeviceIntegrity"
        },
        "requestDetails": {
          "$ref": "PcRequestDetails",
          "description": "Required. Details about the integrity request."
        },
        "accountDetails": {
          "description": "Details about the account information such as the licensing status.",
          "$ref": "PcAccountDetails"
        }
      }
    },
    "PcAccountDetails": {
      "id": "PcAccountDetails",
      "description": "Contains the account information such as the licensing status for the user in the scope.",
      "type": "object",
      "properties": {
        "appLicensingVerdict": {
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The user has a valid license to use the app.",
            "The user does not have a valid license to use the app.",
            "Licensing details were not evaluated since a necessary requirement was missed."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ],
          "description": "Required. Details about the licensing status of the user for the app in the scope."
        }
      }
    }
  },
  "documentationLink": "https://developer.android.com/google/play/integrity",
  "mtlsRootUrl": "https://playintegrity.mtls.googleapis.com/",
  "protocol": "rest",
  "baseUrl": "https://playintegrity.googleapis.com/",
  "basePath": "",
  "description": "The Play Integrity API helps you check that you're interacting with your genuine app on a genuine Android device powered by Google Play services. The Play Integrity API has replaced SafetyNet Attestation and Android Device Verification.",
  "revision": "20260903",
  "version_module": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    }
  }
}