{
  "canonicalName": "Playdeveloperreporting",
  "baseUrl": "https://playdeveloperreporting.googleapis.com/",
  "version": "v1alpha1",
  "id": "playdeveloperreporting:v1alpha1",
  "version_module": true,
  "rootUrl": "https://playdeveloperreporting.googleapis.com/",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "revision": "20260827",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Google Play Developer Reporting API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/playdeveloperreporting": {
          "description": "See metrics and data about the apps in your Google Play Developer account"
        }
      }
    }
  },
  "servicePath": "",
  "mtlsRootUrl": "https://playdeveloperreporting.mtls.googleapis.com/",
  "resources": {
    "anomalies": {
      "methods": {
        "list": {
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "Optional. Maximum size of the returned data. If unspecified, at most 10 anomalies will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListErrorReports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListErrorReports` must match the call that provided the page token.",
              "type": "string"
            },
            "parent": {
              "location": "path",
              "required": true,
              "pattern": "^apps/[^/]+$",
              "description": "Required. Parent app for which anomalies were detected. Format: apps/{app}",
              "type": "string"
            },
            "filter": {
              "type": "string",
              "description": "Optional. Filtering criteria for anomalies. For basic filter guidance, please check: https://google.aip.dev/160. **Supported functions:** * `activeBetween(startTime, endTime)`: If specified, only list anomalies that were active in between `startTime` (inclusive) and `endTime` (exclusive). Both parameters are expected to conform to an RFC-3339 formatted string (e.g. `2012-04-21T11:30:00-04:00`). UTC offsets are supported. Both `startTime` and `endTime` accept the special value `UNBOUNDED`, to signify intervals with no lower or upper bound, respectively. Examples: * `activeBetween(\"2021-04-21T11:30:00Z\", \"2021-07-21T00:00:00Z\")` * `activeBetween(UNBOUNDED, \"2021-11-21T00:00:00-04:00\")` * `activeBetween(\"2021-07-21T00:00:00-04:00\", UNBOUNDED)`",
              "location": "query"
            }
          },
          "description": "Lists anomalies in any of the datasets.",
          "flatPath": "v1alpha1/apps/{appsId}/anomalies",
          "scopes": [
            "https://www.googleapis.com/auth/playdeveloperreporting"
          ],
          "id": "playdeveloperreporting.anomalies.list",
          "httpMethod": "GET",
          "path": "v1alpha1/{+parent}/anomalies",
          "response": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1ListAnomaliesResponse"
          },
          "parameterOrder": [
            "parent"
          ]
        }
      }
    },
    "vitals": {
      "resources": {
        "anonrssandswapmemoryusage": {
          "methods": {
            "query": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^apps/[^/]+/anonRssAndSwapMemoryUsageMetricSet$",
                  "description": "Required. * The resource name. Format: apps/{app}/anonRssAndSwapMemoryUsageMetricSet"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}:query",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryAnonRssAndSwapMemoryUsageMetricSetRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v1alpha1/apps/{appsId}/anonRssAndSwapMemoryUsageMetricSet:query",
              "description": "Queries the metrics in the metric set.",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryAnonRssAndSwapMemoryUsageMetricSetResponse"
              },
              "id": "playdeveloperreporting.vitals.anonrssandswapmemoryusage.query"
            },
            "get": {
              "flatPath": "v1alpha1/apps/{appsId}/anonRssAndSwapMemoryUsageMetricSet",
              "description": "Describes the properties of the metric set.",
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1AnonRssAndSwapMemoryUsageMetricSet"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^apps/[^/]+/anonRssAndSwapMemoryUsageMetricSet$",
                  "description": "Required. * The resource name. Format: apps/{app}/anonRssAndSwapMemoryUsageMetricSet",
                  "type": "string"
                }
              },
              "id": "playdeveloperreporting.vitals.anonrssandswapmemoryusage.get"
            }
          }
        },
        "crashrate": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^apps/[^/]+/crashRateMetricSet$",
                  "description": "Required. The resource name. Format: apps/{app}/crashRateMetricSet",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Describes the properties of the metric set.",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1CrashRateMetricSet"
              },
              "id": "playdeveloperreporting.vitals.crashrate.get",
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "flatPath": "v1alpha1/apps/{appsId}/crashRateMetricSet"
            },
            "query": {
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryCrashRateMetricSetResponse"
              },
              "flatPath": "v1alpha1/apps/{appsId}/crashRateMetricSet:query",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "description": "Queries the metrics in the metric set.",
              "parameters": {
                "name": {
                  "description": "Required. The resource name. Format: apps/{app}/crashRateMetricSet",
                  "type": "string",
                  "pattern": "^apps/[^/]+/crashRateMetricSet$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryCrashRateMetricSetRequest"
              },
              "path": "v1alpha1/{+name}:query",
              "httpMethod": "POST",
              "id": "playdeveloperreporting.vitals.crashrate.query"
            }
          }
        },
        "anrrate": {
          "methods": {
            "get": {
              "flatPath": "v1alpha1/apps/{appsId}/anrRateMetricSet",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^apps/[^/]+/anrRateMetricSet$",
                  "description": "Required. The resource name. Format: apps/{app}/anrRateMetricSet"
                }
              },
              "id": "playdeveloperreporting.vitals.anrrate.get",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1AnrRateMetricSet"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}",
              "description": "Describes the properties of the metric set."
            },
            "query": {
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryAnrRateMetricSetRequest"
              },
              "httpMethod": "POST",
              "path": "v1alpha1/{+name}:query",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryAnrRateMetricSetResponse"
              },
              "id": "playdeveloperreporting.vitals.anrrate.query",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "description": "Queries the metrics in the metric set.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name. Format: apps/{app}/anrRateMetricSet",
                  "pattern": "^apps/[^/]+/anrRateMetricSet$"
                }
              },
              "flatPath": "v1alpha1/apps/{appsId}/anrRateMetricSet:query"
            }
          }
        },
        "lmkrate": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "playdeveloperreporting.vitals.lmkrate.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The resource name. Format: apps/{app}/lmkRateMetricSet",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^apps/[^/]+/lmkRateMetricSet$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1LmkRateMetricSet"
              },
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/apps/{appsId}/lmkRateMetricSet",
              "description": "Describes the properties of the metric set."
            },
            "query": {
              "parameterOrder": [
                "name"
              ],
              "description": "Queries the metrics in the metric set.",
              "path": "v1alpha1/{+name}:query",
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryLmkRateMetricSetRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "flatPath": "v1alpha1/apps/{appsId}/lmkRateMetricSet:query",
              "id": "playdeveloperreporting.vitals.lmkrate.query",
              "parameters": {
                "name": {
                  "description": "Required. The resource name. Format: apps/{app}/lmkRateMetricSet",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^apps/[^/]+/lmkRateMetricSet$"
                }
              },
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryLmkRateMetricSetResponse"
              }
            }
          }
        },
        "slowstartrate": {
          "methods": {
            "get": {
              "id": "playdeveloperreporting.vitals.slowstartrate.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Describes the properties of the metric set.",
              "parameters": {
                "name": {
                  "pattern": "^apps/[^/]+/slowStartRateMetricSet$",
                  "description": "Required. The resource name. Format: apps/{app}/slowStartRateMetricSet",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1SlowStartRateMetricSet"
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "flatPath": "v1alpha1/apps/{appsId}/slowStartRateMetricSet"
            },
            "query": {
              "httpMethod": "POST",
              "id": "playdeveloperreporting.vitals.slowstartrate.query",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The resource name. Format: apps/{app}/slowStartRateMetricSet",
                  "pattern": "^apps/[^/]+/slowStartRateMetricSet$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QuerySlowStartRateMetricSetRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "description": "Queries the metrics in the metric set.",
              "flatPath": "v1alpha1/apps/{appsId}/slowStartRateMetricSet:query",
              "path": "v1alpha1/{+name}:query",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QuerySlowStartRateMetricSetResponse"
              }
            }
          }
        },
        "excessivewakeuprate": {
          "methods": {
            "query": {
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryExcessiveWakeupRateMetricSetResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/apps/{appsId}/excessiveWakeupRateMetricSet:query",
              "id": "playdeveloperreporting.vitals.excessivewakeuprate.query",
              "path": "v1alpha1/{+name}:query",
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryExcessiveWakeupRateMetricSetRequest"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name. Format: apps/{app}/excessiveWakeupRateMetricSet",
                  "pattern": "^apps/[^/]+/excessiveWakeupRateMetricSet$"
                }
              },
              "description": "Queries the metrics in the metric set.",
              "httpMethod": "POST"
            },
            "get": {
              "description": "Describes the properties of the metric set.",
              "flatPath": "v1alpha1/apps/{appsId}/excessiveWakeupRateMetricSet",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1ExcessiveWakeupRateMetricSet"
              },
              "httpMethod": "GET",
              "id": "playdeveloperreporting.vitals.excessivewakeuprate.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The resource name. Format: apps/{app}/excessiveWakeupRateMetricSet",
                  "pattern": "^apps/[^/]+/excessiveWakeupRateMetricSet$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1alpha1/{+name}"
            }
          }
        },
        "errors": {
          "resources": {
            "counts": {
              "methods": {
                "query": {
                  "request": {
                    "$ref": "GooglePlayDeveloperReportingV1alpha1QueryErrorCountMetricSetRequest"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^apps/[^/]+/errorCountMetricSet$",
                      "type": "string",
                      "description": "Required. The resource name. Format: apps/{app}/errorCountMetricSet"
                    }
                  },
                  "path": "v1alpha1/{+name}:query",
                  "httpMethod": "POST",
                  "id": "playdeveloperreporting.vitals.errors.counts.query",
                  "flatPath": "v1alpha1/apps/{appsId}/errorCountMetricSet:query",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/playdeveloperreporting"
                  ],
                  "description": "Queries the metrics in the metrics set.",
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1alpha1QueryErrorCountMetricSetResponse"
                  }
                },
                "get": {
                  "path": "v1alpha1/{+name}",
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1alpha1ErrorCountMetricSet"
                  },
                  "description": "Describes the properties of the metrics set.",
                  "parameters": {
                    "name": {
                      "pattern": "^apps/[^/]+/errorCountMetricSet$",
                      "description": "Required. Name of the errors metric set. Format: apps/{app}/errorCountMetricSet",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha1/apps/{appsId}/errorCountMetricSet",
                  "scopes": [
                    "https://www.googleapis.com/auth/playdeveloperreporting"
                  ],
                  "id": "playdeveloperreporting.vitals.errors.counts.get"
                }
              }
            },
            "reports": {
              "methods": {
                "search": {
                  "flatPath": "v1alpha1/apps/{appsId}/errorReports:search",
                  "path": "v1alpha1/{+parent}/errorReports:search",
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1alpha1SearchErrorReportsResponse"
                  },
                  "description": "Searches all error reports received for an app.",
                  "parameters": {
                    "interval.endTime.month": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month."
                    },
                    "interval.endTime.nanos": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
                      "location": "query"
                    },
                    "interval.startTime.minutes": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0."
                    },
                    "interval.endTime.utcOffset": {
                      "location": "query",
                      "type": "string",
                      "format": "google-duration",
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }."
                    },
                    "interval.endTime.timeZone.id": {
                      "location": "query",
                      "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
                      "type": "string"
                    },
                    "interval.endTime.seconds": {
                      "type": "integer",
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
                      "format": "int32",
                      "location": "query"
                    },
                    "interval.endTime.hours": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
                    },
                    "interval.endTime.timeZone.version": {
                      "type": "string",
                      "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
                      "location": "query"
                    },
                    "interval.startTime.month": {
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "interval.startTime.hours": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
                    },
                    "interval.endTime.year": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year."
                    },
                    "interval.startTime.utcOffset": {
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
                      "type": "string",
                      "format": "google-duration",
                      "location": "query"
                    },
                    "interval.endTime.minutes": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0."
                    },
                    "interval.startTime.timeZone.version": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `SearchErrorReports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchErrorReports` must match the call that provided the page token."
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. A selection predicate to retrieve only a subset of the reports. For filtering basics, please check [AIP-160](https://google.aip.dev/160). ** Supported field names:** * `apiLevel`: Matches error reports that occurred in the requested Android versions (specified as the numeric API level) only. Example: `apiLevel = 28 OR apiLevel = 29`. * `versionCode`: Matches error reports that occurred in the requested app version codes only. Example: `versionCode = 123 OR versionCode = 456`. * `deviceModel`: Matches error issues that occurred in the requested devices. Example: `deviceModel = \"google/walleye\" OR deviceModel = \"google/marlin\"`. * `deviceBrand`: Matches error issues that occurred in the requested device brands. Example: `deviceBrand = \"Google\". * `deviceType`: Matches error reports that occurred in the requested device types. Example: `deviceType = \"PHONE\"`. * `errorIssueType`: Matches error reports of the requested types only. Valid candidates: `CRASH`, `ANR`, `NON_FATAL`. Example: `errorIssueType = CRASH OR errorIssueType = ANR`. * `errorIssueId`: Matches error reports belonging to the requested error issue ids only. Example: `errorIssueId = 1234 OR errorIssueId = 4567`. * `errorReportId`: Matches error reports with the requested error report id. Example: `errorReportId = 1234 OR errorReportId = 4567`. * `appProcessState`: Matches error reports on the process state of an app, indicating whether an app runs in the foreground (user-visible) or background. Valid candidates: `FOREGROUND`, `BACKGROUND`. Example: `appProcessState = FOREGROUND`. * `isUserPerceived`: Matches error reports that are user-perceived. It is not accompanied by any operators. Example: `isUserPerceived`. ** Supported operators:** * Comparison operators: The only supported comparison operator is equality. The filtered field must appear on the left hand side of the comparison. * Logical Operators: Logical operators `AND` and `OR` can be used to build complex filters following a conjunctive normal form (CNF), i.e., conjunctions of disjunctions. The `OR` operator takes precedence over `AND` so the use of parenthesis is not necessary when building CNF. The `OR` operator is only supported to build disjunctions that apply to the same field, e.g., `versionCode = 123 OR versionCode = ANR`. The filter expression `versionCode = 123 OR errorIssueType = ANR` is not valid. ** Examples ** Some valid filtering expressions: * `versionCode = 123 AND errorIssueType = ANR` * `versionCode = 123 AND errorIssueType = OR errorIssueType = CRASH` * `versionCode = 123 AND (errorIssueType = OR errorIssueType = CRASH)`",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Parent resource of the reports, indicating the application for which they were received. Format: apps/{app}",
                      "pattern": "^apps/[^/]+$",
                      "type": "string"
                    },
                    "interval.endTime.day": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day."
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of reports to return. The service may return fewer than this value. If unspecified, at most 50 reports will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                      "format": "int32"
                    },
                    "interval.startTime.year": {
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "interval.startTime.nanos": {
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "interval.startTime.day": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
                      "type": "integer"
                    },
                    "interval.startTime.seconds": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds."
                    },
                    "interval.startTime.timeZone.id": {
                      "type": "string",
                      "location": "query",
                      "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/playdeveloperreporting"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "playdeveloperreporting.vitals.errors.reports.search",
                  "httpMethod": "GET"
                }
              }
            },
            "issues": {
              "methods": {
                "search": {
                  "parameters": {
                    "interval.endTime.month": {
                      "format": "int32",
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
                      "type": "integer",
                      "location": "query"
                    },
                    "interval.endTime.hours": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
                      "location": "query"
                    },
                    "interval.endTime.utcOffset": {
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
                      "type": "string",
                      "format": "google-duration",
                      "location": "query"
                    },
                    "interval.startTime.timeZone.id": {
                      "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. A selection predicate to retrieve only a subset of the issues. Counts in the returned error issues will only reflect occurrences that matched the filter. For filtering basics, please check [AIP-160](https://google.aip.dev/160). ** Supported field names:** * `apiLevel`: Matches error issues that occurred in the requested Android versions (specified as the numeric API level) only. Example: `apiLevel = 28 OR apiLevel = 29`. * `versionCode`: Matches error issues that occurred in the requested app version codes only. Example: `versionCode = 123 OR versionCode = 456`. * `deviceModel`: Matches error issues that occurred in the requested devices. Example: `deviceModel = \"google/walleye\" OR deviceModel = \"google/marlin\"`. * `deviceBrand`: Matches error issues that occurred in the requested device brands. Example: `deviceBrand = \"Google\". * `deviceType`: Matches error issues that occurred in the requested device types. Example: `deviceType = \"PHONE\"`. * `errorIssueType`: Matches error issues of the requested types only. Valid candidates: `CRASH`, `ANR`, `NON_FATAL`. Example: `errorIssueType = CRASH OR errorIssueType = ANR`. * `appProcessState`: Matches error issues on the process state of an app, indicating whether an app runs in the foreground (user-visible) or background. Valid candidates: `FOREGROUND`, `BACKGROUND`. Example: `appProcessState = FOREGROUND`. * `isUserPerceived`: Matches error issues that are user-perceived. It is not accompanied by any operators. Example: `isUserPerceived`. ** Supported operators:** * Comparison operators: The only supported comparison operator is equality. The filtered field must appear on the left hand side of the comparison. * Logical Operators: Logical operators `AND` and `OR` can be used to build complex filters following a conjunctive normal form (CNF), i.e., conjunctions of disjunctions. The `OR` operator takes precedence over `AND` so the use of parenthesis is not necessary when building CNF. The `OR` operator is only supported to build disjunctions that apply to the same field, e.g., `versionCode = 123 OR errorIssueType = ANR` is not a valid filter. ** Examples ** Some valid filtering expressions: * `versionCode = 123 AND errorIssueType = ANR` * `versionCode = 123 AND errorIssueType = OR errorIssueType = CRASH` * `versionCode = 123 AND (errorIssueType = OR errorIssueType = CRASH)`",
                      "type": "string"
                    },
                    "interval.endTime.timeZone.version": {
                      "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
                      "location": "query",
                      "type": "string"
                    },
                    "interval.endTime.timeZone.id": {
                      "location": "query",
                      "type": "string",
                      "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
                    },
                    "interval.endTime.minutes": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
                      "type": "integer"
                    },
                    "interval.startTime.year": {
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "interval.startTime.month": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month."
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Specifies a field that will be used to order the results. ** Supported dimensions:** * `errorReportCount`: Orders issues by number of error reports. * `distinctUsers`: Orders issues by number of unique affected users. ** Supported operations:** * `asc` for ascending order. * `desc` for descending order. Format: A field and an operation, e.g., `errorReportCount desc` *Note:* currently only one field is supported at a time."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token."
                    },
                    "interval.endTime.nanos": {
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "interval.startTime.timeZone.version": {
                      "location": "query",
                      "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
                      "type": "string"
                    },
                    "interval.endTime.day": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
                      "format": "int32"
                    },
                    "interval.startTime.minutes": {
                      "type": "integer",
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
                      "location": "query",
                      "format": "int32"
                    },
                    "interval.startTime.utcOffset": {
                      "format": "google-duration",
                      "type": "string",
                      "location": "query",
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }."
                    },
                    "interval.endTime.year": {
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "interval.startTime.nanos": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
                      "format": "int32"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Parent resource of the error issues, indicating the application for which they were received. Format: apps/{app}",
                      "type": "string",
                      "pattern": "^apps/[^/]+$"
                    },
                    "interval.startTime.day": {
                      "location": "query",
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "sampleErrorReportLimit": {
                      "description": "Optional. Number of sample error reports to return per ErrorIssue. If unspecified, 0 will be used. *Note:* currently only 0 and 1 are supported.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "interval.endTime.seconds": {
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of error issues to return. The service may return fewer than this value. If unspecified, at most 50 error issues will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32"
                    },
                    "interval.startTime.hours": {
                      "type": "integer",
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
                      "location": "query",
                      "format": "int32"
                    },
                    "interval.startTime.seconds": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds."
                    }
                  },
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1alpha1SearchErrorIssuesResponse"
                  },
                  "id": "playdeveloperreporting.vitals.errors.issues.search",
                  "scopes": [
                    "https://www.googleapis.com/auth/playdeveloperreporting"
                  ],
                  "flatPath": "v1alpha1/apps/{appsId}/errorIssues:search",
                  "httpMethod": "GET",
                  "path": "v1alpha1/{+parent}/errorIssues:search",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Searches all error issues in which reports have been grouped."
                }
              }
            }
          }
        },
        "slowrenderingrate": {
          "methods": {
            "query": {
              "description": "Queries the metrics in the metric set.",
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QuerySlowRenderingRateMetricSetRequest"
              },
              "id": "playdeveloperreporting.vitals.slowrenderingrate.query",
              "flatPath": "v1alpha1/apps/{appsId}/slowRenderingRateMetricSet:query",
              "path": "v1alpha1/{+name}:query",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The resource name. Format: apps/{app}/slowRenderingRateMetricSet",
                  "location": "path",
                  "required": true,
                  "pattern": "^apps/[^/]+/slowRenderingRateMetricSet$"
                }
              },
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QuerySlowRenderingRateMetricSetResponse"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1SlowRenderingRateMetricSet"
              },
              "flatPath": "v1alpha1/apps/{appsId}/slowRenderingRateMetricSet",
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^apps/[^/]+/slowRenderingRateMetricSet$",
                  "type": "string",
                  "description": "Required. The resource name. Format: apps/{app}/slowRenderingRateMetricSet"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Describes the properties of the metric set.",
              "id": "playdeveloperreporting.vitals.slowrenderingrate.get",
              "httpMethod": "GET"
            }
          }
        },
        "bitmapmemoryusage": {
          "methods": {
            "get": {
              "path": "v1alpha1/{+name}",
              "httpMethod": "GET",
              "description": "Describes the properties of the metric set.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name. Format: apps/{app}/bitmapMemoryUsageMetricSet",
                  "pattern": "^apps/[^/]+/bitmapMemoryUsageMetricSet$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "flatPath": "v1alpha1/apps/{appsId}/bitmapMemoryUsageMetricSet",
              "id": "playdeveloperreporting.vitals.bitmapmemoryusage.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1BitmapMemoryUsageMetricSet"
              }
            },
            "query": {
              "id": "playdeveloperreporting.vitals.bitmapmemoryusage.query",
              "parameters": {
                "name": {
                  "description": "Required. The resource name. Format: apps/{app}/bitmapMemoryUsageMetricSet",
                  "pattern": "^apps/[^/]+/bitmapMemoryUsageMetricSet$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Queries the metrics in the metric set.",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryBitmapMemoryUsageMetricSetResponse"
              },
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryBitmapMemoryUsageMetricSetRequest"
              },
              "path": "v1alpha1/{+name}:query",
              "flatPath": "v1alpha1/apps/{appsId}/bitmapMemoryUsageMetricSet:query"
            }
          }
        },
        "stuckbackgroundwakelockrate": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^apps/[^/]+/stuckBackgroundWakelockRateMetricSet$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name. Format: apps/{app}/stuckBackgroundWakelockRateMetricSet",
                  "type": "string"
                }
              },
              "id": "playdeveloperreporting.vitals.stuckbackgroundwakelockrate.get",
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1alpha1/apps/{appsId}/stuckBackgroundWakelockRateMetricSet",
              "description": "Describes the properties of the metric set.",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1StuckBackgroundWakelockRateMetricSet"
              }
            },
            "query": {
              "id": "playdeveloperreporting.vitals.stuckbackgroundwakelockrate.query",
              "httpMethod": "POST",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryStuckBackgroundWakelockRateMetricSetResponse"
              },
              "description": "Queries the metrics in the metric set.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/apps/{appsId}/stuckBackgroundWakelockRateMetricSet:query",
              "parameters": {
                "name": {
                  "description": "Required. The resource name. Format: apps/{app}/stuckBackgroundWakelockRateMetricSet",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^apps/[^/]+/stuckBackgroundWakelockRateMetricSet$"
                }
              },
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryStuckBackgroundWakelockRateMetricSetRequest"
              },
              "path": "v1alpha1/{+name}:query",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ]
            }
          }
        }
      }
    },
    "apps": {
      "methods": {
        "search": {
          "parameters": {
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "Optional. The maximum number of apps to return. The service may return fewer than this value. If unspecified, at most 50 apps will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "format": "int32"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `SearchAccessibleApps` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchAccessibleApps` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "playdeveloperreporting.apps.search",
          "httpMethod": "GET",
          "response": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1SearchAccessibleAppsResponse"
          },
          "description": "Searches for Apps accessible by the user.",
          "parameterOrder": [],
          "path": "v1alpha1/apps:search",
          "flatPath": "v1alpha1/apps:search",
          "scopes": [
            "https://www.googleapis.com/auth/playdeveloperreporting"
          ]
        },
        "fetchReleaseFilterOptions": {
          "flatPath": "v1alpha1/apps/{appsId}:fetchReleaseFilterOptions",
          "description": "Describes filtering options for releases.",
          "response": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1ReleaseFilterOptions"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. Name of the resource, i.e. app the filtering options are for. Format: apps/{app}",
              "location": "path",
              "required": true,
              "pattern": "^apps/[^/]+$",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "path": "v1alpha1/{+name}:fetchReleaseFilterOptions",
          "scopes": [
            "https://www.googleapis.com/auth/playdeveloperreporting"
          ],
          "id": "playdeveloperreporting.apps.fetchReleaseFilterOptions"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/play/developer/reporting",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "protocol": "rest",
  "ownerDomain": "google.com",
  "schemas": {
    "GooglePlayDeveloperReportingV1alpha1SlowRenderingRateMetricSet": {
      "description": "Singleton resource representing the set of Slow Rendering metrics. This metric set contains low-level rendering data captured by SurafeFlinger. Sessions are evaluated based on the present-to-present histogram of frames handled by any SurfaceFlinger layer owned by the app. A slow session is a session where more than 25% of frames for the session did not meet the metric's target frame rate (either 20fps, or 30fps). *NOTE:* This metric set is only available for games. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. **Supported metrics:** * `slowRenderingRate20Fps` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had slow rendering. * `slowRenderingRate20Fps7dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowRenderingRate20Fps` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `slowRenderingRate20Fps28dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowRenderingRate20Fps` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `slowRenderingRate30Fps` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had slow rendering. * `slowRenderingRate30Fps7dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowRenderingRate30Fps` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `slowRenderingRate30Fps28dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowRenderingRate30Fps` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `slowRenderingRate20Fps`/`slowRenderingRate30Fps` metric. A user is counted in this metric if their app rendered any frames. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app.",
      "properties": {
        "name": {
          "description": "Identifier. The resource name. Format: apps/{app}/slowRenderingRateMetricSet",
          "type": "string"
        },
        "freshnessInfo": {
          "description": "Summary about data freshness in this resource.",
          "$ref": "GooglePlayDeveloperReportingV1alpha1FreshnessInfo"
        }
      },
      "id": "GooglePlayDeveloperReportingV1alpha1SlowRenderingRateMetricSet",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1alpha1QueryBitmapMemoryUsageMetricSetResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token to fetch the next page of data.",
          "type": "string"
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1MetricsRow"
          },
          "description": "Returned rows of data."
        }
      },
      "description": "Response message for QueryBitmapMemoryUsageMetricSet.",
      "id": "GooglePlayDeveloperReportingV1alpha1QueryBitmapMemoryUsageMetricSetResponse"
    },
    "GooglePlayDeveloperReportingV1alpha1QueryErrorCountMetricSetRequest": {
      "id": "GooglePlayDeveloperReportingV1alpha1QueryErrorCountMetricSetRequest",
      "description": "Request message for QueryErrorCountMetricSet.",
      "properties": {
        "dimensions": {
          "description": "Optional. Dimensions to slice the data by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceModel` (string): unique identifier of the user's device model. * `deviceType` (string): identifier of the device's form factor, e.g., PHONE. * `reportType` (string): the type of error. The value should correspond to one of the possible values in ErrorType. * `issueId` (string): the id an error was assigned to. The value should correspond to the `{issue}` component of the issue name. * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (e.g., 1024 for 1-1.5GB, 4096 for 4-6GB). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "timelineSpec": {
          "$ref": "GooglePlayDeveloperReportingV1alpha1TimelineSpec",
          "description": "Optional. Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. The default and only supported timezone is `America/Los_Angeles`."
        },
        "filter": {
          "description": "Optional. Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions and: * `isUserPerceived` (string): denotes whether error is user perceived or not, USER_PERCEIVED or NOT_USER_PERCEIVED.",
          "type": "string"
        },
        "metrics": {
          "description": "Optional. Metrics to aggregate. **Supported metrics:** * `errorReportCount` (`google.type.Decimal`): Absolute count of individual error reports that have been received for an app. * `distinctUsers` (`google.type.Decimal`): Count of distinct users for which reports have been received. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. This value is not rounded, however it may be an approximation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pageSize": {
          "format": "int32",
          "description": "Optional. Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100000; values above 100000 will be coerced to 100000.",
          "type": "integer"
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1alpha1AnonRssAndSwapMemoryUsageMetricSet": {
      "description": "Singleton resource representing the set of Anon RSS and Swap Memory Usage metrics. This metric set contains anon RSS and swap memory usage data combined with usage data. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. **Supported metrics:** * `anonRssAndSwapMemoryUsageP50` (`google.type.Decimal`): 50th percentile of anon RSS and swap memory usage. * `anonRssAndSwapMemoryUsageP75` (`google.type.Decimal`): 75th percentile of anon RSS and swap memory usage. * `anonRssAndSwapMemoryUsageP90` (`google.type.Decimal`): 90th percentile of anon RSS and swap memory usage. * `anonRssAndSwapMemoryUsageP95` (`google.type.Decimal`): 95th percentile of anon RSS and swap memory usage. * `anonRssAndSwapMemoryUsageP99` (`google.type.Decimal`): 99th percentile of anon RSS and swap memory usage. * `distinctUsers` (`google.type.Decimal`): Count of distinct users for which memory metrics were reported during the aggregation period. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. * `processName` (string): the name of the process that was running, e.g., com.example.app. * `appState` (string): the state of the app when memory was collected, e.g., FOREGROUND. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app.",
      "id": "GooglePlayDeveloperReportingV1alpha1AnonRssAndSwapMemoryUsageMetricSet",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. * The resource name. Format: apps/{app}/anonRssAndSwapMemoryUsageMetricSet",
          "type": "string"
        },
        "freshnessInfo": {
          "$ref": "GooglePlayDeveloperReportingV1alpha1FreshnessInfo",
          "description": "Output only. * Summary about data freshness in this resource.",
          "readOnly": true
        }
      }
    },
    "GooglePlayDeveloperReportingV1alpha1QueryCrashRateMetricSetResponse": {
      "id": "GooglePlayDeveloperReportingV1alpha1QueryCrashRateMetricSetResponse",
      "description": "Response message for QueryCrashRateMetricSet.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token to fetch the next page of data.",
          "type": "string"
        },
        "rows": {
          "description": "Returned rows of data.",
          "type": "array",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1MetricsRow"
          }
        }
      }
    },
    "GooglePlayDeveloperReportingV1alpha1ErrorReport": {
      "description": "An error report received for an app. There reports are produced by the Android platform code when a (potentially fatal) error condition is detected. Identical reports from many users will be deduplicated and coalesced into a single ErrorReport. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app.",
      "properties": {
        "osVersion": {
          "$ref": "GooglePlayDeveloperReportingV1alpha1OsVersion",
          "description": "The OS version on which an event in this error report occurred on."
        },
        "type": {
          "type": "string",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "APPLICATION_NOT_RESPONDING",
            "CRASH",
            "NON_FATAL"
          ],
          "description": "Type of the error for which this report was generated.",
          "enumDescriptions": [
            "Unspecified error type.",
            "Application Not Responding (ANR) error. To learn more about this type of errors visit the corresponding Android Developers documentation.",
            "Crash caused by an unhandled exception in Java (or Kotlin or any other JVM language) or a signal in native code such as SIGSEGV.",
            "Non-fatal caused by events that do not immediately cause crashes, but is likely to lead to one."
          ]
        },
        "reportText": {
          "type": "string",
          "description": "Textual representation of the error report. These textual reports are produced by the platform. The reports are then sanitized and filtered to remove any potentially sensitive information. Although their format is fairly stable, they are not entirely meant for machine consumption and we cannot guarantee that there won't be subtle changes to the formatting that may break systems trying to parse information out of the reports."
        },
        "name": {
          "description": "Identifier. The resource name of the report. Format: apps/{app}/{report}",
          "type": "string"
        },
        "appVersion": {
          "description": "The app version on which an event in this error report occurred on.",
          "$ref": "GooglePlayDeveloperReportingV1alpha1AppVersion"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Start of the hour during which the latest event in this error report occurred."
        },
        "vcsInformation": {
          "description": "Version control system information from BUNDLE-METADATA/version-control-info.textproto or META-INF/version-control-info.textproto of the app bundle or APK, respectively.",
          "type": "string"
        },
        "deviceModel": {
          "$ref": "GooglePlayDeveloperReportingV1alpha1DeviceModelSummary",
          "description": "A device model on which an event in this error report occurred on."
        },
        "issue": {
          "description": "The issue this report was associated with. **Please note:** this resource is currently in Alpha. There could be changes to the issue grouping that would result in similar but more recent error reports being assigned to a different issue.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1alpha1ErrorReport"
    },
    "GooglePlayDeveloperReportingV1alpha1QueryLmkRateMetricSetResponse": {
      "id": "GooglePlayDeveloperReportingV1alpha1QueryLmkRateMetricSetResponse",
      "description": "Response message for QueryLmkRateMetricSet.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token to fetch the next page of data.",
          "type": "string"
        },
        "rows": {
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1MetricsRow"
          },
          "description": "Returned rows of data.",
          "type": "array"
        }
      }
    },
    "GooglePlayDeveloperReportingV1alpha1QuerySlowStartRateMetricSetResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Continuation token to fetch the next page of data.",
          "type": "string"
        },
        "rows": {
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1MetricsRow"
          },
          "type": "array",
          "description": "Returned rows of data."
        }
      },
      "description": "Response message for QuerySlowStartRateMetricSet.",
      "id": "GooglePlayDeveloperReportingV1alpha1QuerySlowStartRateMetricSetResponse",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1alpha1AnrRateMetricSet": {
      "id": "GooglePlayDeveloperReportingV1alpha1AnrRateMetricSet",
      "type": "object",
      "properties": {
        "freshnessInfo": {
          "$ref": "GooglePlayDeveloperReportingV1alpha1FreshnessInfo",
          "description": "Summary about data freshness in this resource."
        },
        "name": {
          "description": "Identifier. The resource name. Format: apps/{app}/anrRateMetricSet",
          "type": "string"
        }
      },
      "description": "Singleton resource representing the set of ANR (Application not responding) metrics. This metric set contains ANRs data combined with usage data to produce a normalized metric independent of user counts. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. * HOURLY: metrics are aggregated in hourly intervals. The default and only supported timezone is `UTC`. **Supported metrics:** * `anrRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one ANR. * `anrRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `anrRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `anrRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `anrRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedAnrRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one user-perceived ANR. User-perceived ANRs are currently those of 'Input dispatching' type. * `userPerceivedAnrRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedAnrRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedAnrRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedAnrRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `anrRate` and `userPerceivedAnrRate` metrics. A user is counted in this metric if they used the app in the foreground during the aggregation period. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (e.g., 1024 for 1-1.5GB, 4096 for 4-6GB). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app. **Related metric sets:** * vitals.errors contains unnormalized version (absolute counts) of crashes. * vitals.errors contains normalized metrics about crashes, another stability metric."
    },
    "GooglePlayDeveloperReportingV1alpha1SearchErrorReportsResponse": {
      "id": "GooglePlayDeveloperReportingV1alpha1SearchErrorReportsResponse",
      "description": "Response with a paginated list of error reports matching the search query.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Page token to fetch the next page of reports.",
          "type": "string"
        },
        "errorReports": {
          "description": "Error reports that were found.",
          "type": "array",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1ErrorReport"
          }
        }
      }
    },
    "GooglePlayDeveloperReportingV1alpha1BitmapMemoryUsageMetricSet": {
      "id": "GooglePlayDeveloperReportingV1alpha1BitmapMemoryUsageMetricSet",
      "description": "Singleton resource representing the set of Bitmap Memory Usage metrics. This metric set contains bitmap memory usage data combined with usage data. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. **Supported metrics:** * `bitmapMemoryUsageP50` (`google.type.Decimal`): 50th percentile of bitmap memory usage. * `bitmapMemoryUsageP75` (`google.type.Decimal`): 75th percentile of bitmap memory usage. * `bitmapMemoryUsageP90` (`google.type.Decimal`): 90th percentile of bitmap memory usage. * `bitmapMemoryUsageP95` (`google.type.Decimal`): 95th percentile of bitmap memory usage. * `bitmapMemoryUsageP99` (`google.type.Decimal`): 99th percentile of bitmap memory usage. * `distinctUsers` (`google.type.Decimal`): Count of distinct users for which memory metrics were reported during the aggregation period. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. * `processName` (string): the name of the process that was running, e.g., com.example.app. * `appState` (string): the state of the app when memory was collected, e.g., FOREGROUND. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name. Format: apps/{app}/bitmapMemoryUsageMetricSet",
          "type": "string"
        },
        "freshnessInfo": {
          "readOnly": true,
          "description": "Output only. Summary about data freshness in this resource.",
          "$ref": "GooglePlayDeveloperReportingV1alpha1FreshnessInfo"
        }
      }
    },
    "GooglePlayDeveloperReportingV1alpha1MetricsRow": {
      "properties": {
        "dimensions": {
          "type": "array",
          "description": "Optional. Dimension columns in the row.",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1DimensionValue"
          }
        },
        "aggregationPeriod": {
          "type": "string",
          "enum": [
            "AGGREGATION_PERIOD_UNSPECIFIED",
            "HOURLY",
            "DAILY",
            "FULL_RANGE"
          ],
          "enumDescriptions": [
            "Unspecified granularity.",
            "Data is aggregated in hourly intervals.",
            "Data is aggregated in daily intervals.",
            "Data is aggregated over the full timeline range. Effectively this produces a single value rather than a timeline."
          ],
          "description": "Optional. Granularity of the aggregation period of the row."
        },
        "metrics": {
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1MetricValue"
          },
          "description": "Optional. Metric columns in the row.",
          "type": "array"
        },
        "startTime": {
          "description": "Optional. Starting date (and time for hourly aggregation) of the period covered by this row.",
          "$ref": "GoogleTypeDateTime"
        }
      },
      "id": "GooglePlayDeveloperReportingV1alpha1MetricsRow",
      "type": "object",
      "description": "Represents a row of dimensions and metrics."
    },
    "GooglePlayDeveloperReportingV1alpha1FreshnessInfo": {
      "type": "object",
      "description": "Represents the latest available time that can be requested in a TimelineSpec. Different aggregation periods have different freshness. For example, `DAILY` aggregation may lag behind `HOURLY` in cases where such aggregation is computed only once at the end of the day.",
      "properties": {
        "freshnesses": {
          "description": "Information about data freshness for every supported aggregation period. This field has set semantics, keyed by the `aggregation_period` field.",
          "type": "array",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1FreshnessInfoFreshness"
          }
        }
      },
      "id": "GooglePlayDeveloperReportingV1alpha1FreshnessInfo"
    },
    "GooglePlayDeveloperReportingV1alpha1DeviceModelSummary": {
      "description": "Summary of a device",
      "properties": {
        "marketingName": {
          "description": "Display name of the device.",
          "type": "string"
        },
        "deviceUri": {
          "type": "string",
          "description": "Link to the device in Play Device Catalog."
        },
        "deviceId": {
          "description": "Identifier of the device.",
          "$ref": "GooglePlayDeveloperReportingV1alpha1DeviceId"
        }
      },
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1alpha1DeviceModelSummary"
    },
    "GooglePlayDeveloperReportingV1alpha1QuerySlowRenderingRateMetricSetResponse": {
      "id": "GooglePlayDeveloperReportingV1alpha1QuerySlowRenderingRateMetricSetResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token to fetch the next page of data."
        },
        "rows": {
          "description": "Returned rows of data.",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1MetricsRow"
          },
          "type": "array"
        }
      },
      "description": "Response message for QuerySlowRenderingRateMetricSet."
    },
    "GooglePlayDeveloperReportingV1alpha1QueryAnrRateMetricSetResponse": {
      "type": "object",
      "properties": {
        "rows": {
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1MetricsRow"
          },
          "description": "Returned rows of data.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token to fetch the next page of data."
        }
      },
      "id": "GooglePlayDeveloperReportingV1alpha1QueryAnrRateMetricSetResponse",
      "description": "Response message for QueryAnrRateMetricSet."
    },
    "GooglePlayDeveloperReportingV1alpha1SlowStartRateMetricSet": {
      "properties": {
        "freshnessInfo": {
          "$ref": "GooglePlayDeveloperReportingV1alpha1FreshnessInfo",
          "description": "Summary about data freshness in this resource."
        },
        "name": {
          "description": "Identifier. The resource name. Format: apps/{app}/slowStartRateMetricSet",
          "type": "string"
        }
      },
      "id": "GooglePlayDeveloperReportingV1alpha1SlowStartRateMetricSet",
      "description": "Singleton resource representing the set of Slow Start metrics. This metric set contains Activity start duration data. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. **Supported metrics:** * `slowStartRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had a slow start. * `slowStartRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowStartRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `slowStartRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowStartRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `slowStartRate` metric. A user is counted in this metric if their app was launched in the device. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Required dimension:** This dimension must be specified with each request for the request to be valid. * `startType` (string): the type of start that was measured. Valid types are `HOT`, `WARM` and `COLD`. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (e.g., 1024 for 1-1.5GB, 4096 for 4-6GB). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app.",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1alpha1SearchAccessibleAppsResponse": {
      "id": "GooglePlayDeveloperReportingV1alpha1SearchAccessibleAppsResponse",
      "description": "Response message for SearchAccessibleApps.",
      "type": "object",
      "properties": {
        "apps": {
          "description": "The apps accessible to the user calling the endpoint.",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1App"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleTypeTimeZone": {
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleTypeTimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "GooglePlayDeveloperReportingV1alpha1MetricValue": {
      "properties": {
        "decimalValueConfidenceInterval": {
          "description": "Confidence interval of a value that is of type `type.Decimal`.",
          "$ref": "GooglePlayDeveloperReportingV1alpha1DecimalConfidenceInterval"
        },
        "metric": {
          "type": "string",
          "description": "Name of the metric."
        },
        "decimalValue": {
          "$ref": "GoogleTypeDecimal",
          "description": "Actual value, represented as a decimal number."
        }
      },
      "id": "GooglePlayDeveloperReportingV1alpha1MetricValue",
      "description": "Represents the value of a metric.",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1alpha1QueryAnrRateMetricSetRequest": {
      "properties": {
        "timelineSpec": {
          "$ref": "GooglePlayDeveloperReportingV1alpha1TimelineSpec",
          "description": "Optional. Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the default and only supported timezone is `America/Los_Angeles`. * HOURLY: metrics are aggregated in hourly intervals. The default and only supported timezone is `UTC`."
        },
        "metrics": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Metrics to aggregate. **Supported metrics:** * `anrRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one ANR. * `anrRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `anrRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `anrRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `anrRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedAnrRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one user-perceived ANR. User-perceived ANRs are currently those of 'Input dispatching' type. * `userPerceivedAnrRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedAnrRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedAnrRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedAnrRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not . supported in HOURLY granularity. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `anrRate` and `userPerceivedAnrRate` metrics. A user is counted in this metric if they used the app in the foreground during the aggregation period. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value."
        },
        "dimensions": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Dimensions to slice the metrics by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (e.g., 1024 for 1-1.5GB, 4096 for 4-6GB). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi.",
          "type": "array"
        },
        "userCohort": {
[...]
