{
  "canonicalName": "Playdeveloperreporting",
  "basePath": "",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "baseUrl": "https://playdeveloperreporting.googleapis.com/",
  "ownerDomain": "google.com",
  "revision": "20260903",
  "discoveryVersion": "v1",
  "version_module": true,
  "resources": {
    "anomalies": {
      "methods": {
        "list": {
          "id": "playdeveloperreporting.anomalies.list",
          "httpMethod": "GET",
          "flatPath": "v1alpha1/apps/{appsId}/anomalies",
          "scopes": [
            "https://www.googleapis.com/auth/playdeveloperreporting"
          ],
          "parameters": {
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListErrorReports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListErrorReports` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "parent": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Parent app for which anomalies were detected. Format: apps/{app}",
              "pattern": "^apps/[^/]+$"
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "Optional. Filtering criteria for anomalies. For basic filter guidance, please check: https://google.aip.dev/160. **Supported functions:** * `activeBetween(startTime, endTime)`: If specified, only list anomalies that were active in between `startTime` (inclusive) and `endTime` (exclusive). Both parameters are expected to conform to an RFC-3339 formatted string (e.g. `2012-04-21T11:30:00-04:00`). UTC offsets are supported. Both `startTime` and `endTime` accept the special value `UNBOUNDED`, to signify intervals with no lower or upper bound, respectively. Examples: * `activeBetween(\"2021-04-21T11:30:00Z\", \"2021-07-21T00:00:00Z\")` * `activeBetween(UNBOUNDED, \"2021-11-21T00:00:00-04:00\")` * `activeBetween(\"2021-07-21T00:00:00-04:00\", UNBOUNDED)`"
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "description": "Optional. Maximum size of the returned data. If unspecified, at most 10 anomalies will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "format": "int32"
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "path": "v1alpha1/{+parent}/anomalies",
          "description": "Lists anomalies in any of the datasets.",
          "response": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1ListAnomaliesResponse"
          }
        }
      }
    },
    "apps": {
      "methods": {
        "search": {
          "scopes": [
            "https://www.googleapis.com/auth/playdeveloperreporting"
          ],
          "parameterOrder": [],
          "description": "Searches for Apps accessible by the user.",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A page token, received from a previous `SearchAccessibleApps` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchAccessibleApps` must match the call that provided the page token."
            },
            "pageSize": {
              "type": "integer",
              "description": "Optional. The maximum number of apps to return. The service may return fewer than this value. If unspecified, at most 50 apps will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "location": "query",
              "format": "int32"
            }
          },
          "httpMethod": "GET",
          "flatPath": "v1alpha1/apps:search",
          "id": "playdeveloperreporting.apps.search",
          "path": "v1alpha1/apps:search",
          "response": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1SearchAccessibleAppsResponse"
          }
        },
        "fetchReleaseFilterOptions": {
          "response": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1ReleaseFilterOptions"
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Describes filtering options for releases.",
          "parameters": {
            "name": {
              "pattern": "^apps/[^/]+$",
              "description": "Required. Name of the resource, i.e. app the filtering options are for. Format: apps/{app}",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "path": "v1alpha1/{+name}:fetchReleaseFilterOptions",
          "httpMethod": "GET",
          "flatPath": "v1alpha1/apps/{appsId}:fetchReleaseFilterOptions",
          "scopes": [
            "https://www.googleapis.com/auth/playdeveloperreporting"
          ],
          "id": "playdeveloperreporting.apps.fetchReleaseFilterOptions"
        }
      }
    },
    "vitals": {
      "resources": {
        "lmkrate": {
          "methods": {
            "query": {
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryLmkRateMetricSetRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryLmkRateMetricSetResponse"
              },
              "id": "playdeveloperreporting.vitals.lmkrate.query",
              "description": "Queries the metrics in the metric set.",
              "flatPath": "v1alpha1/apps/{appsId}/lmkRateMetricSet:query",
              "path": "v1alpha1/{+name}:query",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The resource name. Format: apps/{app}/lmkRateMetricSet",
                  "location": "path",
                  "pattern": "^apps/[^/]+/lmkRateMetricSet$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "httpMethod": "POST"
            },
            "get": {
              "flatPath": "v1alpha1/apps/{appsId}/lmkRateMetricSet",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^apps/[^/]+/lmkRateMetricSet$",
                  "description": "Required. The resource name. Format: apps/{app}/lmkRateMetricSet"
                }
              },
              "id": "playdeveloperreporting.vitals.lmkrate.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1LmkRateMetricSet"
              },
              "description": "Describes the properties of the metric set.",
              "path": "v1alpha1/{+name}"
            }
          }
        },
        "stuckbackgroundwakelockrate": {
          "methods": {
            "query": {
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryStuckBackgroundWakelockRateMetricSetRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}:query",
              "id": "playdeveloperreporting.vitals.stuckbackgroundwakelockrate.query",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "flatPath": "v1alpha1/apps/{appsId}/stuckBackgroundWakelockRateMetricSet:query",
              "description": "Queries the metrics in the metric set.",
              "parameters": {
                "name": {
                  "pattern": "^apps/[^/]+/stuckBackgroundWakelockRateMetricSet$",
                  "description": "Required. The resource name. Format: apps/{app}/stuckBackgroundWakelockRateMetricSet",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryStuckBackgroundWakelockRateMetricSetResponse"
              }
            },
            "get": {
              "id": "playdeveloperreporting.vitals.stuckbackgroundwakelockrate.get",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1StuckBackgroundWakelockRateMetricSet"
              },
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "description": "Describes the properties of the metric set.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/apps/{appsId}/stuckBackgroundWakelockRateMetricSet",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^apps/[^/]+/stuckBackgroundWakelockRateMetricSet$",
                  "description": "Required. The resource name. Format: apps/{app}/stuckBackgroundWakelockRateMetricSet"
                }
              }
            }
          }
        },
        "slowstartrate": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1SlowStartRateMetricSet"
              },
              "id": "playdeveloperreporting.vitals.slowstartrate.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Describes the properties of the metric set.",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource name. Format: apps/{app}/slowStartRateMetricSet",
                  "type": "string",
                  "pattern": "^apps/[^/]+/slowStartRateMetricSet$"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1alpha1/apps/{appsId}/slowStartRateMetricSet",
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ]
            },
            "query": {
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/apps/{appsId}/slowStartRateMetricSet:query",
              "parameters": {
                "name": {
                  "pattern": "^apps/[^/]+/slowStartRateMetricSet$",
                  "description": "Required. The resource name. Format: apps/{app}/slowStartRateMetricSet",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "description": "Queries the metrics in the metric set.",
              "path": "v1alpha1/{+name}:query",
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QuerySlowStartRateMetricSetRequest"
              },
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QuerySlowStartRateMetricSetResponse"
              },
              "id": "playdeveloperreporting.vitals.slowstartrate.query"
            }
          }
        },
        "anonrssandswapmemoryusage": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "parameters": {
                "name": {
                  "description": "Required. * The resource name. Format: apps/{app}/anonRssAndSwapMemoryUsageMetricSet",
                  "required": true,
                  "location": "path",
                  "pattern": "^apps/[^/]+/anonRssAndSwapMemoryUsageMetricSet$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1AnonRssAndSwapMemoryUsageMetricSet"
              },
              "path": "v1alpha1/{+name}",
              "id": "playdeveloperreporting.vitals.anonrssandswapmemoryusage.get",
              "httpMethod": "GET",
              "description": "Describes the properties of the metric set.",
              "flatPath": "v1alpha1/apps/{appsId}/anonRssAndSwapMemoryUsageMetricSet"
            },
            "query": {
              "id": "playdeveloperreporting.vitals.anonrssandswapmemoryusage.query",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryAnonRssAndSwapMemoryUsageMetricSetResponse"
              },
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryAnonRssAndSwapMemoryUsageMetricSetRequest"
              },
              "description": "Queries the metrics in the metric set.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^apps/[^/]+/anonRssAndSwapMemoryUsageMetricSet$",
                  "location": "path",
                  "description": "Required. * The resource name. Format: apps/{app}/anonRssAndSwapMemoryUsageMetricSet",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1alpha1/{+name}:query",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "flatPath": "v1alpha1/apps/{appsId}/anonRssAndSwapMemoryUsageMetricSet:query"
            }
          }
        },
        "excessivewakeuprate": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "description": "Describes the properties of the metric set.",
              "id": "playdeveloperreporting.vitals.excessivewakeuprate.get",
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1ExcessiveWakeupRateMetricSet"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^apps/[^/]+/excessiveWakeupRateMetricSet$",
                  "description": "Required. The resource name. Format: apps/{app}/excessiveWakeupRateMetricSet",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1alpha1/apps/{appsId}/excessiveWakeupRateMetricSet"
            },
            "query": {
              "path": "v1alpha1/{+name}:query",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryExcessiveWakeupRateMetricSetResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "id": "playdeveloperreporting.vitals.excessivewakeuprate.query",
              "flatPath": "v1alpha1/apps/{appsId}/excessiveWakeupRateMetricSet:query",
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryExcessiveWakeupRateMetricSetRequest"
              },
              "parameters": {
                "name": {
                  "description": "Required. The resource name. Format: apps/{app}/excessiveWakeupRateMetricSet",
                  "pattern": "^apps/[^/]+/excessiveWakeupRateMetricSet$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "description": "Queries the metrics in the metric set."
            }
          }
        },
        "bitmapmemoryusage": {
          "methods": {
            "get": {
              "id": "playdeveloperreporting.vitals.bitmapmemoryusage.get",
              "description": "Describes the properties of the metric set.",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1BitmapMemoryUsageMetricSet"
              },
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/apps/{appsId}/bitmapMemoryUsageMetricSet",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name. Format: apps/{app}/bitmapMemoryUsageMetricSet",
                  "pattern": "^apps/[^/]+/bitmapMemoryUsageMetricSet$",
                  "type": "string"
                }
              }
            },
            "query": {
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^apps/[^/]+/bitmapMemoryUsageMetricSet$",
                  "location": "path",
                  "description": "Required. The resource name. Format: apps/{app}/bitmapMemoryUsageMetricSet"
                }
              },
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryBitmapMemoryUsageMetricSetResponse"
              },
              "httpMethod": "POST",
              "id": "playdeveloperreporting.vitals.bitmapmemoryusage.query",
              "description": "Queries the metrics in the metric set.",
              "path": "v1alpha1/{+name}:query",
              "flatPath": "v1alpha1/apps/{appsId}/bitmapMemoryUsageMetricSet:query",
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryBitmapMemoryUsageMetricSetRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ]
            }
          }
        },
        "errors": {
          "resources": {
            "issues": {
              "methods": {
                "search": {
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1alpha1SearchErrorIssuesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha1/{+parent}/errorIssues:search",
                  "id": "playdeveloperreporting.vitals.errors.issues.search",
                  "httpMethod": "GET",
                  "parameters": {
                    "interval.startTime.nanos": {
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "interval.startTime.minutes": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
                      "type": "integer"
                    },
                    "interval.endTime.month": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month."
                    },
                    "interval.endTime.utcOffset": {
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
                      "format": "google-duration",
                      "type": "string",
                      "location": "query"
                    },
                    "interval.endTime.nanos": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. A selection predicate to retrieve only a subset of the issues. Counts in the returned error issues will only reflect occurrences that matched the filter. For filtering basics, please check [AIP-160](https://google.aip.dev/160). ** Supported field names:** * `apiLevel`: Matches error issues that occurred in the requested Android versions (specified as the numeric API level) only. Example: `apiLevel = 28 OR apiLevel = 29`. * `versionCode`: Matches error issues that occurred in the requested app version codes only. Example: `versionCode = 123 OR versionCode = 456`. * `deviceModel`: Matches error issues that occurred in the requested devices. Example: `deviceModel = \"google/walleye\" OR deviceModel = \"google/marlin\"`. * `deviceBrand`: Matches error issues that occurred in the requested device brands. Example: `deviceBrand = \"Google\". * `deviceType`: Matches error issues that occurred in the requested device types. Example: `deviceType = \"PHONE\"`. * `errorIssueType`: Matches error issues of the requested types only. Valid candidates: `CRASH`, `ANR`, `NON_FATAL`. Example: `errorIssueType = CRASH OR errorIssueType = ANR`. * `appProcessState`: Matches error issues on the process state of an app, indicating whether an app runs in the foreground (user-visible) or background. Valid candidates: `FOREGROUND`, `BACKGROUND`. Example: `appProcessState = FOREGROUND`. * `isUserPerceived`: Matches error issues that are user-perceived. It is not accompanied by any operators. Example: `isUserPerceived`. ** Supported operators:** * Comparison operators: The only supported comparison operator is equality. The filtered field must appear on the left hand side of the comparison. * Logical Operators: Logical operators `AND` and `OR` can be used to build complex filters following a conjunctive normal form (CNF), i.e., conjunctions of disjunctions. The `OR` operator takes precedence over `AND` so the use of parenthesis is not necessary when building CNF. The `OR` operator is only supported to build disjunctions that apply to the same field, e.g., `versionCode = 123 OR errorIssueType = ANR` is not a valid filter. ** Examples ** Some valid filtering expressions: * `versionCode = 123 AND errorIssueType = ANR` * `versionCode = 123 AND errorIssueType = OR errorIssueType = CRASH` * `versionCode = 123 AND (errorIssueType = OR errorIssueType = CRASH)`",
                      "location": "query"
                    },
                    "interval.startTime.year": {
                      "type": "integer",
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
                      "location": "query",
                      "format": "int32"
                    },
                    "interval.startTime.day": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
                      "location": "query"
                    },
                    "interval.startTime.month": {
                      "location": "query",
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "interval.startTime.timeZone.id": {
                      "type": "string",
                      "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
                      "location": "query"
                    },
                    "interval.endTime.seconds": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
                      "type": "integer"
                    },
                    "interval.endTime.timeZone.id": {
                      "type": "string",
                      "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
                      "location": "query"
                    },
                    "interval.startTime.utcOffset": {
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
                      "format": "google-duration",
                      "type": "string",
                      "location": "query"
                    },
                    "interval.endTime.year": {
                      "type": "integer",
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
                      "location": "query",
                      "format": "int32"
                    },
                    "interval.endTime.hours": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
                      "type": "integer"
                    },
                    "interval.startTime.hours": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
                    },
                    "interval.endTime.timeZone.version": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of error issues to return. The service may return fewer than this value. If unspecified, at most 50 error issues will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "interval.startTime.seconds": {
                      "type": "integer",
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
                      "location": "query",
                      "format": "int32"
                    },
                    "interval.startTime.timeZone.version": {
                      "location": "query",
                      "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^apps/[^/]+$",
                      "description": "Required. Parent resource of the error issues, indicating the application for which they were received. Format: apps/{app}",
                      "location": "path",
                      "required": true
                    },
                    "sampleErrorReportLimit": {
                      "description": "Optional. Number of sample error reports to return per ErrorIssue. If unspecified, 0 will be used. *Note:* currently only 0 and 1 are supported.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Optional. Specifies a field that will be used to order the results. ** Supported dimensions:** * `errorReportCount`: Orders issues by number of error reports. * `distinctUsers`: Orders issues by number of unique affected users. ** Supported operations:** * `asc` for ascending order. * `desc` for descending order. Format: A field and an operation, e.g., `errorReportCount desc` *Note:* currently only one field is supported at a time.",
                      "location": "query",
                      "type": "string"
                    },
                    "interval.endTime.minutes": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
                      "location": "query"
                    },
                    "interval.endTime.day": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day."
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Searches all error issues in which reports have been grouped.",
                  "scopes": [
                    "https://www.googleapis.com/auth/playdeveloperreporting"
                  ],
                  "flatPath": "v1alpha1/apps/{appsId}/errorIssues:search"
                }
              }
            },
            "counts": {
              "methods": {
                "get": {
                  "id": "playdeveloperreporting.vitals.errors.counts.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha1/{+name}",
                  "description": "Describes the properties of the metrics set.",
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1alpha1ErrorCountMetricSet"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/playdeveloperreporting"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^apps/[^/]+/errorCountMetricSet$",
                      "description": "Required. Name of the errors metric set. Format: apps/{app}/errorCountMetricSet",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1alpha1/apps/{appsId}/errorCountMetricSet"
                },
                "query": {
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The resource name. Format: apps/{app}/errorCountMetricSet",
                      "type": "string",
                      "pattern": "^apps/[^/]+/errorCountMetricSet$"
                    }
                  },
                  "description": "Queries the metrics in the metrics set.",
                  "scopes": [
                    "https://www.googleapis.com/auth/playdeveloperreporting"
                  ],
                  "id": "playdeveloperreporting.vitals.errors.counts.query",
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1alpha1QueryErrorCountMetricSetResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha1/{+name}:query",
                  "request": {
                    "$ref": "GooglePlayDeveloperReportingV1alpha1QueryErrorCountMetricSetRequest"
                  },
                  "flatPath": "v1alpha1/apps/{appsId}/errorCountMetricSet:query"
                }
              }
            },
            "reports": {
              "methods": {
                "search": {
                  "parameters": {
                    "interval.startTime.timeZone.version": {
                      "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
                      "type": "string",
                      "location": "query"
                    },
                    "interval.startTime.minutes": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
                      "format": "int32"
                    },
                    "interval.endTime.nanos": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
                      "location": "query"
                    },
                    "interval.startTime.timeZone.id": {
                      "location": "query",
                      "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
                      "type": "string"
                    },
                    "interval.startTime.hours": {
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `SearchErrorReports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchErrorReports` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "interval.startTime.nanos": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
                      "location": "query"
                    },
                    "interval.endTime.utcOffset": {
                      "format": "google-duration",
                      "location": "query",
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
                      "type": "string"
                    },
                    "interval.endTime.timeZone.id": {
                      "location": "query",
                      "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
                      "type": "string"
                    },
                    "interval.startTime.utcOffset": {
                      "type": "string",
                      "format": "google-duration",
                      "location": "query",
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }."
                    },
                    "interval.startTime.seconds": {
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. Parent resource of the reports, indicating the application for which they were received. Format: apps/{app}",
                      "required": true,
                      "location": "path",
                      "pattern": "^apps/[^/]+$"
                    },
                    "interval.endTime.hours": {
                      "location": "query",
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A selection predicate to retrieve only a subset of the reports. For filtering basics, please check [AIP-160](https://google.aip.dev/160). ** Supported field names:** * `apiLevel`: Matches error reports that occurred in the requested Android versions (specified as the numeric API level) only. Example: `apiLevel = 28 OR apiLevel = 29`. * `versionCode`: Matches error reports that occurred in the requested app version codes only. Example: `versionCode = 123 OR versionCode = 456`. * `deviceModel`: Matches error issues that occurred in the requested devices. Example: `deviceModel = \"google/walleye\" OR deviceModel = \"google/marlin\"`. * `deviceBrand`: Matches error issues that occurred in the requested device brands. Example: `deviceBrand = \"Google\". * `deviceType`: Matches error reports that occurred in the requested device types. Example: `deviceType = \"PHONE\"`. * `errorIssueType`: Matches error reports of the requested types only. Valid candidates: `CRASH`, `ANR`, `NON_FATAL`. Example: `errorIssueType = CRASH OR errorIssueType = ANR`. * `errorIssueId`: Matches error reports belonging to the requested error issue ids only. Example: `errorIssueId = 1234 OR errorIssueId = 4567`. * `errorReportId`: Matches error reports with the requested error report id. Example: `errorReportId = 1234 OR errorReportId = 4567`. * `appProcessState`: Matches error reports on the process state of an app, indicating whether an app runs in the foreground (user-visible) or background. Valid candidates: `FOREGROUND`, `BACKGROUND`. Example: `appProcessState = FOREGROUND`. * `isUserPerceived`: Matches error reports that are user-perceived. It is not accompanied by any operators. Example: `isUserPerceived`. ** Supported operators:** * Comparison operators: The only supported comparison operator is equality. The filtered field must appear on the left hand side of the comparison. * Logical Operators: Logical operators `AND` and `OR` can be used to build complex filters following a conjunctive normal form (CNF), i.e., conjunctions of disjunctions. The `OR` operator takes precedence over `AND` so the use of parenthesis is not necessary when building CNF. The `OR` operator is only supported to build disjunctions that apply to the same field, e.g., `versionCode = 123 OR versionCode = ANR`. The filter expression `versionCode = 123 OR errorIssueType = ANR` is not valid. ** Examples ** Some valid filtering expressions: * `versionCode = 123 AND errorIssueType = ANR` * `versionCode = 123 AND errorIssueType = OR errorIssueType = CRASH` * `versionCode = 123 AND (errorIssueType = OR errorIssueType = CRASH)`"
                    },
                    "interval.endTime.month": {
                      "location": "query",
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "interval.startTime.year": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
                      "location": "query"
                    },
                    "interval.endTime.day": {
                      "location": "query",
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of reports to return. The service may return fewer than this value. If unspecified, at most 50 reports will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "interval.endTime.timeZone.version": {
                      "location": "query",
                      "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
                      "type": "string"
                    },
                    "interval.endTime.year": {
                      "format": "int32",
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
                      "type": "integer",
                      "location": "query"
                    },
                    "interval.endTime.seconds": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds."
                    },
                    "interval.startTime.day": {
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "interval.startTime.month": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
                      "type": "integer"
                    },
                    "interval.endTime.minutes": {
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "path": "v1alpha1/{+parent}/errorReports:search",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1alpha1SearchErrorReportsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/playdeveloperreporting"
                  ],
                  "description": "Searches all error reports received for an app.",
                  "flatPath": "v1alpha1/apps/{appsId}/errorReports:search",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "playdeveloperreporting.vitals.errors.reports.search"
                }
              }
            }
          }
        },
        "anrrate": {
          "methods": {
            "query": {
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryAnrRateMetricSetRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "description": "Queries the metrics in the metric set.",
              "parameterOrder": [
                "name"
              ],
              "id": "playdeveloperreporting.vitals.anrrate.query",
              "path": "v1alpha1/{+name}:query",
              "flatPath": "v1alpha1/apps/{appsId}/anrRateMetricSet:query",
              "httpMethod": "POST",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryAnrRateMetricSetResponse"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name. Format: apps/{app}/anrRateMetricSet",
                  "pattern": "^apps/[^/]+/anrRateMetricSet$"
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1AnrRateMetricSet"
              },
              "path": "v1alpha1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The resource name. Format: apps/{app}/anrRateMetricSet",
                  "type": "string",
                  "location": "path",
                  "pattern": "^apps/[^/]+/anrRateMetricSet$",
                  "required": true
                }
              },
              "description": "Describes the properties of the metric set.",
              "flatPath": "v1alpha1/apps/{appsId}/anrRateMetricSet",
              "id": "playdeveloperreporting.vitals.anrrate.get"
            }
          }
        },
        "crashrate": {
          "methods": {
            "query": {
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryCrashRateMetricSetRequest"
              },
              "id": "playdeveloperreporting.vitals.crashrate.query",
              "path": "v1alpha1/{+name}:query",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryCrashRateMetricSetResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "description": "Queries the metrics in the metric set.",
              "httpMethod": "POST",
              "flatPath": "v1alpha1/apps/{appsId}/crashRateMetricSet:query",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name. Format: apps/{app}/crashRateMetricSet",
                  "type": "string",
                  "pattern": "^apps/[^/]+/crashRateMetricSet$"
                }
              }
            },
            "get": {
              "description": "Describes the properties of the metric set.",
              "flatPath": "v1alpha1/apps/{appsId}/crashRateMetricSet",
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1CrashRateMetricSet"
              },
              "parameters": {
                "name": {
                  "description": "Required. The resource name. Format: apps/{app}/crashRateMetricSet",
                  "pattern": "^apps/[^/]+/crashRateMetricSet$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "playdeveloperreporting.vitals.crashrate.get",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "slowrenderingrate": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name. Format: apps/{app}/slowRenderingRateMetricSet",
                  "pattern": "^apps/[^/]+/slowRenderingRateMetricSet$"
                }
              },
              "path": "v1alpha1/{+name}",
              "description": "Describes the properties of the metric set.",
              "flatPath": "v1alpha1/apps/{appsId}/slowRenderingRateMetricSet",
              "id": "playdeveloperreporting.vitals.slowrenderingrate.get",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1SlowRenderingRateMetricSet"
              }
            },
            "query": {
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QuerySlowRenderingRateMetricSetRequest"
              },
              "flatPath": "v1alpha1/apps/{appsId}/slowRenderingRateMetricSet:query",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "path": "v1alpha1/{+name}:query",
              "parameters": {
                "name": {
                  "description": "Required. The resource name. Format: apps/{app}/slowRenderingRateMetricSet",
                  "pattern": "^apps/[^/]+/slowRenderingRateMetricSet$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "description": "Queries the metrics in the metric set.",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QuerySlowRenderingRateMetricSetResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "playdeveloperreporting.vitals.slowrenderingrate.query"
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "name": "playdeveloperreporting",
  "rootUrl": "https://playdeveloperreporting.googleapis.com/",
  "mtlsRootUrl": "https://playdeveloperreporting.mtls.googleapis.com/",
  "ownerName": "Google",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "GooglePlayDeveloperReportingV1alpha1ErrorReport": {
      "id": "GooglePlayDeveloperReportingV1alpha1ErrorReport",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the report. Format: apps/{app}/{report}"
        },
        "vcsInformation": {
          "type": "string",
          "description": "Version control system information from BUNDLE-METADATA/version-control-info.textproto or META-INF/version-control-info.textproto of the app bundle or APK, respectively."
        },
        "deviceModel": {
          "$ref": "GooglePlayDeveloperReportingV1alpha1DeviceModelSummary",
          "description": "A device model on which an event in this error report occurred on."
        },
        "type": {
          "description": "Type of the error for which this report was generated.",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "APPLICATION_NOT_RESPONDING",
            "CRASH",
            "NON_FATAL"
          ],
          "enumDescriptions": [
            "Unspecified error type.",
            "Application Not Responding (ANR) error. To learn more about this type of errors visit the corresponding Android Developers documentation.",
            "Crash caused by an unhandled exception in Java (or Kotlin or any other JVM language) or a signal in native code such as SIGSEGV.",
            "Non-fatal caused by events that do not immediately cause crashes, but is likely to lead to one."
          ],
          "type": "string"
        },
        "appVersion": {
          "description": "The app version on which an event in this error report occurred on.",
          "$ref": "GooglePlayDeveloperReportingV1alpha1AppVersion"
        },
        "osVersion": {
          "description": "The OS version on which an event in this error report occurred on.",
          "$ref": "GooglePlayDeveloperReportingV1alpha1OsVersion"
        },
        "eventTime": {
          "type": "string",
          "description": "Start of the hour during which the latest event in this error report occurred.",
          "format": "google-datetime"
        },
        "reportText": {
          "description": "Textual representation of the error report. These textual reports are produced by the platform. The reports are then sanitized and filtered to remove any potentially sensitive information. Although their format is fairly stable, they are not entirely meant for machine consumption and we cannot guarantee that there won't be subtle changes to the formatting that may break systems trying to parse information out of the reports.",
          "type": "string"
        },
        "issue": {
          "description": "The issue this report was associated with. **Please note:** this resource is currently in Alpha. There could be changes to the issue grouping that would result in similar but more recent error reports being assigned to a different issue.",
          "type": "string"
        }
      },
      "description": "An error report received for an app. There reports are produced by the Android platform code when a (potentially fatal) error condition is detected. Identical reports from many users will be deduplicated and coalesced into a single ErrorReport. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app.",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1alpha1AnrRateMetricSet": {
      "properties": {
        "freshnessInfo": {
          "$ref": "GooglePlayDeveloperReportingV1alpha1FreshnessInfo",
          "description": "Summary about data freshness in this resource."
        },
        "name": {
          "description": "Identifier. The resource name. Format: apps/{app}/anrRateMetricSet",
          "type": "string"
        }
      },
      "id": "GooglePlayDeveloperReportingV1alpha1AnrRateMetricSet",
      "type": "object",
      "description": "Singleton resource representing the set of ANR (Application not responding) metrics. This metric set contains ANRs data combined with usage data to produce a normalized metric independent of user counts. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. * HOURLY: metrics are aggregated in hourly intervals. The default and only supported timezone is `UTC`. **Supported metrics:** * `anrRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one ANR. * `anrRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `anrRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `anrRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `anrRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedAnrRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one user-perceived ANR. User-perceived ANRs are currently those of 'Input dispatching' type. * `userPerceivedAnrRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedAnrRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedAnrRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedAnrRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `anrRate` and `userPerceivedAnrRate` metrics. A user is counted in this metric if they used the app in the foreground during the aggregation period. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (e.g., 1024 for 1-1.5GB, 4096 for 4-6GB). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app. **Related metric sets:** * vitals.errors contains unnormalized version (absolute counts) of crashes. * vitals.errors contains normalized metrics about crashes, another stability metric."
    },
    "ApiservingMcpMcpToolVisibility": {
      "type": "object",
      "properties": {
        "visibilityRestriction": {
          "description": "The visibility restriction labels for the tool itself (e.g., \"PRODUCER_DEFINED_PREVIEW\"). Multiple labels can be provided as a comma-separated string.",
          "type": "string"
        },
        "fieldVisibility": {
          "description": "A list of field-level visibility restrictions.",
          "type": "array",
          "items": {
            "$ref": "ApiservingMcpMcpToolVisibilityFieldVisibility"
          }
        },
        "visibilityEnforcementStrategy": {
          "description": "The strategy used to enforce visibility restrictions. DO NOT USE. This field is not yet implemented.",
          "type": "string",
          "enum": [
            "VISIBILITY_ENFORCEMENT_STRATEGY_UNSPECIFIED",
            "COMBINE",
            "OVERRIDE"
          ],
          "enumDescriptions": [
            "Default. Equivalent to COMBINE.",
            "The principal must satisfy both API-level tool-level) visibility restrictions.",
            "Bypasses the API-level visibility restrictions check; access is determined solely by the tool-level visibility restrictions."
          ]
        }
      },
      "description": "Profile describing the visibility restriction of an MCP tool. Key: \"google.com/tool.profiles/visibility.restriction\"",
      "id": "ApiservingMcpMcpToolVisibility"
    },
    "GooglePlayDeveloperReportingV1alpha1QueryBitmapMemoryUsageMetricSetRequest": {
      "description": "Request message for QueryBitmapMemoryUsageMetricSet.",
      "id": "GooglePlayDeveloperReportingV1alpha1QueryBitmapMemoryUsageMetricSetRequest",
      "type": "object",
      "properties": {
        "metrics": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Metrics to aggregate. **Supported metrics:** * `bitmapMemoryUsageP50` (`google.type.Decimal`): 50th percentile of bitmap memory usage. * `bitmapMemoryUsageP75` (`google.type.Decimal`): 75th percentile of bitmap memory usage. * `bitmapMemoryUsageP90` (`google.type.Decimal`): 90th percentile of bitmap memory usage. * `bitmapMemoryUsageP95` (`google.type.Decimal`): 95th percentile of bitmap memory usage. * `bitmapMemoryUsageP99` (`google.type.Decimal`): 99th percentile of bitmap memory usage. * `distinctUsers` (`google.type.Decimal`): Count of distinct users for which memory metrics were reported during the aggregation period. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value.",
          "type": "array"
        },
        "timelineSpec": {
          "description": "Optional. Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the default and only supported timezone is `America/Los_Angeles`.",
          "$ref": "GooglePlayDeveloperReportingV1alpha1TimelineSpec"
        },
        "filter": {
          "description": "Optional. Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions.",
          "type": "string"
        },
        "userCohort": {
          "enumDescriptions": [
            "Unspecified User cohort. This will automatically choose the default value.",
            "This is default view. Contains data from public released android versions only.",
            "This is the view with just android beta data excluding released OS version data.",
            "This is the view with data only from users who have opted in to be testers for a given app, excluding OS beta data."
          ],
          "enum": [
            "USER_COHORT_UNSPECIFIED",
            "OS_PUBLIC",
            "OS_BETA",
            "APP_TESTERS"
          ],
          "description": "Optional. User view to select. The output data will correspond to the selected view. The only supported value is `OS_PUBLIC`.",
          "type": "string"
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token.",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "description": "Optional. Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100000; values above 100000 will be coerced to 100000.",
          "format": "int32"
        },
        "dimensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Dimensions to slice the data by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. * `processName` (string): the name of the process that was running, e.g., com.example.app. * `appState` (string): the state of the app when memory was collected, e.g., FOREGROUND."
        }
      }
    },
    "GooglePlayDeveloperReportingV1alpha1QueryAnrRateMetricSetRequest": {
      "description": "Request message for QueryAnrRateMetricSet.",
      "type": "object",
      "properties": {
        "metrics": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Metrics to aggregate. **Supported metrics:** * `anrRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one ANR. * `anrRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `anrRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `anrRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `anrRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedAnrRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one user-perceived ANR. User-perceived ANRs are currently those of 'Input dispatching' type. * `userPerceivedAnrRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedAnrRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedAnrRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedAnrRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not . supported in HOURLY granularity. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `anrRate` and `userPerceivedAnrRate` metrics. A user is counted in this metric if they used the app in the foreground during the aggregation period. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value."
        },
        "userCohort": {
          "enum": [
            "USER_COHORT_UNSPECIFIED",
            "OS_PUBLIC",
            "OS_BETA",
            "APP_TESTERS"
          ],
          "enumDescriptions": [
            "Unspecified User cohort. This will automatically choose the default value.",
            "This is default view. Contains data from public released android versions only.",
            "This is the view with just android beta data excluding released OS version data.",
            "This is the view with data only from users who have opted in to be testers for a given app, excluding OS beta data."
          ],
          "description": "Optional. User view to select. The output data will correspond to the selected view. **Supported values:** * `OS_PUBLIC` To select data from all publicly released Android versions. This is the default. Supports all the above dimensions. * `APP_TESTERS` To select data from users who have opted in to be testers. Supports all the above dimensions. * `OS_BETA` To select data from beta android versions only, excluding data from released android versions. Only the following dimensions are supported: * `versionCode` (int64): version of the app that was running on the user's device. * `osBuild` (string): OS build of the user's device, e.g., \"T1B2.220916.004\".",
          "type": "string"
        },
        "timelineSpec": {
          "$ref": "GooglePlayDeveloperReportingV1alpha1TimelineSpec",
          "description": "Optional. Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the default and only supported timezone is `America/Los_Angeles`. * HOURLY: metrics are aggregated in hourly intervals. The default and only supported timezone is `UTC`."
        },
        "pageSize": {
          "description": "Optional. Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100,000; values above 100,000 will be coerced to 100,000.",
          "format": "int32",
          "type": "integer"
        },
        "dimensions": {
          "description": "Optional. Dimensions to slice the metrics by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (e.g., 1024 for 1-1.5GB, 4096 for 4-6GB). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token."
        },
        "filter": {
          "description": "Optional. Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions.",
          "type": "string"
        }
      },
      "id": "GooglePlayDeveloperReportingV1alpha1QueryAnrRateMetricSetRequest"
    },
    "GooglePlayDeveloperReportingV1alpha1QueryLmkRateMetricSetRequest": {
      "type": "object",
      "description": "Request message for QueryLmkRateMetricSet.",
      "properties": {
        "timelineSpec": {
          "$ref": "GooglePlayDeveloperReportingV1alpha1TimelineSpec",
          "description": "Optional. Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the default and only supported timezone is `America/Los_Angeles`."
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100,000; values above 100,000 will be coerced to 100,000."
        },
        "filter": {
          "description": "Optional. Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions.",
          "type": "string"
        },
        "userCohort": {
          "enum": [
            "USER_COHORT_UNSPECIFIED",
            "OS_PUBLIC",
            "OS_BETA",
            "APP_TESTERS"
          ],
          "enumDescriptions": [
            "Unspecified User cohort. This will automatically choose the default value.",
            "This is default view. Contains data from public released android versions only.",
            "This is the view with just android beta data excluding released OS version data.",
            "This is the view with data only from users who have opted in to be testers for a given app, excluding OS beta data."
          ],
          "description": "Optional. User view to select. The output data will correspond to the selected view. **Supported values:** * `OS_PUBLIC` To select data from all publicly released Android versions. This is the default. Supports all the above dimensions. * `APP_TESTERS` To select data from users who have opted in to be testers. Supports all the above dimensions. * `OS_BETA` To select data from beta android versions only, excluding data from released android versions. Only the following dimensions are supported: * `versionCode` (int64): version of the app that was running on the user's device. * `osBuild` (string): OS build of the user's device, e.g., \"T1B2.220916.004\".",
          "type": "string"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token."
        },
        "metrics": {
          "description": "Optional. Metrics to aggregate. **Supported metrics:** * `userPerceivedLmkRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one LMK while they were actively using your app (a user-perceived LMK). An app is considered to be in active use if it is displaying any activity or executing any foreground service. * `userPerceivedLmkRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedLmkRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `userPerceivedLmkRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedLmkRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `userPerceivedLmkRate` metrics. A user is counted in this metric if they used the app in the foreground during the aggregation period. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dimensions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Dimensions to slice the metrics by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (e.g., 1024 for 1-1.5GB, 4096 for 4-6GB). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi."
        }
      },
      "id": "GooglePlayDeveloperReportingV1alpha1QueryLmkRateMetricSetRequest"
    },
    "GooglePlayDeveloperReportingV1alpha1FreshnessInfo": {
      "id": "GooglePlayDeveloperReportingV1alpha1FreshnessInfo",
      "type": "object",
      "properties": {
        "freshnesses": {
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1FreshnessInfoFreshness"
          },
          "description": "Information about data freshness for every supported aggregation period. This field has set semantics, keyed by the `aggregation_period` field.",
          "type": "array"
        }
      },
      "description": "Represents the latest available time that can be requested in a TimelineSpec. Different aggregation periods have different freshness. For example, `DAILY` aggregation may lag behind `HOURLY` in cases where such aggregation is computed only once at the end of the day."
    },
    "GooglePlayDeveloperReportingV1alpha1DecimalConfidenceInterval": {
      "id": "GooglePlayDeveloperReportingV1alpha1DecimalConfidenceInterval",
      "properties": {
        "lowerBound": {
          "description": "The confidence interval's lower bound.",
          "$ref": "GoogleTypeDecimal"
        },
        "upperBound": {
          "$ref": "GoogleTypeDecimal",
          "description": "The confidence interval's upper bound."
        }
      },
      "description": "Represents the confidence interval of a metric.",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1alpha1CrashRateMetricSet": {
      "description": "Singleton resource representing the set of crashrate metrics. This metric set contains crashes data combined with usage data to produce a normalized metric independent of user counts. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. * HOURLY: metrics are aggregated in hourly intervals. The default and only supported timezone is `UTC`. **Supported metrics:** * `crashRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one crash. * `crashRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `crashRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `crashRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `crashRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedCrashRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one crash while they were actively using your app (a user-perceived crash). An app is considered to be in active use if it is displaying any activity or executing any foreground service. * `userPerceivedCrashRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedCrashRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedCrashRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedCrashRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `crashRate` and `userPerceivedCrashRate` metrics. A user is counted in this metric if they used the app actively during the aggregation period. An app is considered to be in active use if it is displaying any activity or executing any foreground service. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (e.g., 1024 for 1-1.5GB, 4096 for 4-6GB). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app. **Related metric sets:** * vitals.errors contains unnormalized version (absolute counts) of crashes. * vitals.errors contains normalized metrics about ANRs, another stability metric.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name. Format: apps/{app}/crashRateMetricSet",
          "type": "string"
        },
        "freshnessInfo": {
          "$ref": "GooglePlayDeveloperReportingV1alpha1FreshnessInfo",
          "description": "Summary about data freshness in this resource."
        }
      },
      "id": "GooglePlayDeveloperReportingV1alpha1CrashRateMetricSet"
    },
    "GooglePlayDeveloperReportingV1alpha1DimensionValue": {
      "id": "GooglePlayDeveloperReportingV1alpha1DimensionValue",
      "description": "Represents the value of a single dimension.",
      "type": "object",
      "properties": {
        "stringValue": {
          "description": "Actual value, represented as a string.",
          "type": "string"
        },
        "dimension": {
          "description": "Name of the dimension.",
          "type": "string"
        },
        "valueLabel": {
          "description": "Optional. Human-friendly label for the value, always in English. For example, 'Spain' for the 'ES' country code. Whereas the dimension value is stable, this value label is subject to change. Do not assume that the (value, value_label) relationship is stable. For example, the ISO country code 'MK' changed its name recently to 'North Macedonia'.",
          "type": "string"
        },
        "int64Value": {
          "type": "string",
          "description": "Actual value, represented as an int64.",
          "format": "int64"
        }
      }
    },
    "ApiservingMcpMcpToolVisibilityFieldVisibility": {
      "id": "ApiservingMcpMcpToolVisibilityFieldVisibility",
      "properties": {
        "selector": {
          "description": "The name of the parameter in the input_schema or output_schema.",
          "type": "string"
        },
        "restriction": {
          "type": "string",
          "description": "The visibility restriction labels for this field (comma-separated)."
        }
      },
      "description": "Visibility rules for individual tool parameters (fields). This allows producers to hide specific fields in tools/list and tools/call.",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1alpha1QueryAnonRssAndSwapMemoryUsageMetricSetResponse": {
      "properties": {
        "nextPageToken": {
          "description": "* Continuation token to fetch the next page of data.",
          "type": "string"
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1MetricsRow"
          },
          "description": "* Returned rows of data."
        }
      },
      "id": "GooglePlayDeveloperReportingV1alpha1QueryAnonRssAndSwapMemoryUsageMetricSetResponse",
      "description": "Response message for QueryAnonRssAndSwapMemoryUsageMetricSet.",
      "type": "object"
    },
    "GoogleTypeDateTime": {
      "properties": {
        "seconds": {
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "utcOffset": {
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
          "format": "google-duration",
          "type": "string"
        },
        "hours": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "year": {
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day."
        },
        "timeZone": {
          "description": "Time zone.",
          "$ref": "GoogleTypeTimeZone"
        },
        "month": {
          "type": "integer",
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
          "format": "int32"
        },
        "nanos": {
          "format": "int32",
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
          "type": "integer"
        },
        "minutes": {
          "format": "int32",
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
          "type": "integer"
        }
      },
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations.",
      "id": "GoogleTypeDateTime",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1alpha1QuerySlowRenderingRateMetricSetRequest": {
      "id": "GooglePlayDeveloperReportingV1alpha1QuerySlowRenderingRateMetricSetRequest",
      "type": "object",
      "description": "Request message for QuerySlowRenderingRateMetricSet.",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions."
        },
        "timelineSpec": {
          "description": "Optional. Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`.",
          "$ref": "GooglePlayDeveloperReportingV1alpha1TimelineSpec"
        },
        "userCohort": {
          "type": "string",
          "description": "Optional. User view to select. The output data will correspond to the selected view. The only supported value is `OS_PUBLIC`.",
          "enumDescriptions": [
            "Unspecified User cohort. This will automatically choose the default value.",
            "This is default view. Contains data from public released android versions only.",
            "This is the view with just android beta data excluding released OS version data.",
            "This is the view with data only from users who have opted in to be testers for a given app, excluding OS beta data."
          ],
          "enum": [
            "USER_COHORT_UNSPECIFIED",
            "OS_PUBLIC",
            "OS_BETA",
            "APP_TESTERS"
          ]
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100000; values above 100000 will be coerced to 100000."
        },
        "dimensions": {
          "items": {
            "type": "string"
          },
          "type": "array",
[...]
