{
  "protocol": "rest",
  "ownerName": "Google",
  "description": "The Play Integrity API helps you check that you're interacting with your genuine app on a genuine Android device powered by Google Play services. The Play Integrity API has replaced SafetyNet Attestation and Android Device Verification.",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "baseUrl": "https://playintegrity.googleapis.com/",
  "name": "playintegrity",
  "version": "v1",
  "version_module": true,
  "resources": {
    "deviceRecall": {
      "methods": {
        "write": {
          "parameterOrder": [
            "packageName"
          ],
          "flatPath": "v1/{v1Id}/deviceRecall:write",
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "response": {
            "$ref": "WriteDeviceRecallResponse"
          },
          "httpMethod": "POST",
          "path": "v1/{+packageName}/deviceRecall:write",
          "id": "playintegrity.deviceRecall.write",
          "request": {
            "$ref": "WriteDeviceRecallRequest"
          },
          "description": "Writes recall bits for the device where Play Integrity API token is obtained. The endpoint is available to select Play partners in an early access program (EAP).",
          "parameters": {
            "packageName": {
              "required": true,
              "description": "Required. Package name of the app the attached integrity token belongs to.",
              "location": "path",
              "pattern": "^[^/]+$",
              "type": "string"
            }
          }
        }
      }
    },
    "v1": {
      "methods": {
        "decodeIntegrityToken": {
          "parameters": {
            "packageName": {
              "location": "path",
              "description": " Package name of the app the attached integrity token belongs to.",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "DecodeIntegrityTokenResponse"
          },
          "id": "playintegrity.decodeIntegrityToken",
          "description": "Decodes the integrity token and returns the token payload.",
          "flatPath": "v1/{v1Id}:decodeIntegrityToken",
          "path": "v1/{+packageName}:decodeIntegrityToken",
          "request": {
            "$ref": "DecodeIntegrityTokenRequest"
          },
          "parameterOrder": [
            "packageName"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ]
        },
        "decodePcIntegrityToken": {
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/{v1Id}:decodePcIntegrityToken",
          "description": "Decodes the PC integrity token and returns the PC token payload.",
          "parameters": {
            "packageName": {
              "description": "Package name of the app the attached integrity token belongs to.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "DecodePcIntegrityTokenResponse"
          },
          "request": {
            "$ref": "DecodePcIntegrityTokenRequest"
          },
          "path": "v1/{+packageName}:decodePcIntegrityToken",
          "id": "playintegrity.decodePcIntegrityToken",
          "parameterOrder": [
            "packageName"
          ]
        }
      }
    }
  },
  "batchPath": "batch",
  "documentationLink": "https://developer.android.com/google/play/integrity",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Play Integrity",
  "revision": "20260910",
  "basePath": "",
  "rootUrl": "https://playintegrity.googleapis.com/",
  "schemas": {
    "PcDeviceIntegrity": {
      "description": "Contains the device attestation information.",
      "type": "object",
      "id": "PcDeviceIntegrity",
      "properties": {
        "deviceRecognitionVerdict": {
          "items": {
            "type": "string",
            "enum": [
              "DEVICE_RECOGNITION_VERDICT_UNSPECIFIED",
              "MEETS_PC_INTEGRITY"
            ],
            "enumDescriptions": [
              "Unspecified device integrity.",
              "App is running on Windows Device with Google Desktop Services."
            ]
          },
          "type": "array",
          "description": "Details about the integrity of the device the app is running on."
        }
      }
    },
    "RecentDeviceActivity": {
      "properties": {
        "deviceActivityLevel": {
          "type": "string",
          "enum": [
            "DEVICE_ACTIVITY_LEVEL_UNSPECIFIED",
            "UNEVALUATED",
            "LEVEL_1",
            "LEVEL_2",
            "LEVEL_3",
            "LEVEL_4"
          ],
          "enumDescriptions": [
            "Device activity level has not been set.",
            "Device activity level has not been evaluated.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details."
          ],
          "description": "Required. Indicates the activity level of the device."
        }
      },
      "type": "object",
      "description": "Recent device activity can help developers identify devices that have exhibited hyperactive attestation activity, which could be a sign of an attack or token farming.",
      "id": "RecentDeviceActivity"
    },
    "DecodeIntegrityTokenRequest": {
      "description": "Request to decode the integrity token.",
      "type": "object",
      "properties": {
        "integrityToken": {
          "description": "Encoded integrity token.",
          "type": "string"
        }
      },
      "id": "DecodeIntegrityTokenRequest"
    },
    "PcTestingDetails": {
      "description": "Contains additional information generated for testing responses.",
      "type": "object",
      "properties": {
        "isTestingResponse": {
          "description": "Indicates that the information contained in this payload is a testing response that is statically overridden for a tester.",
          "type": "boolean"
        }
      },
      "id": "PcTestingDetails"
    },
    "WriteDates": {
      "id": "WriteDates",
      "description": "Contains the recall bits write dates.",
      "type": "object",
      "properties": {
        "yyyymmFirst": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the first bit. Note that this value won't be set if the first bit is false."
        },
        "yyyymmSecond": {
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the second bit. Note that this value won't be set if the second bit is false.",
          "type": "integer",
          "format": "int32"
        },
        "yyyymmThird": {
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the third bit. Note that this value won't be set if the third bit is false.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "RequestDetails": {
      "type": "object",
      "id": "RequestDetails",
      "properties": {
        "requestHash": {
          "description": "Request hash that was provided in the request.",
          "type": "string"
        },
        "requestPackageName": {
          "type": "string",
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity. For details on application integrity, check application_integrity."
        },
        "nonce": {
          "type": "string",
          "description": "Nonce that was provided in the request (which is base64 web-safe no-wrap)."
        },
        "timestampMillis": {
          "type": "string",
          "format": "int64",
          "description": "Required. Timestamp, in milliseconds, of the integrity application request."
        }
      },
      "description": "Contains the integrity request information."
    },
    "EnvironmentDetails": {
      "type": "object",
      "properties": {
        "appAccessRiskVerdict": {
          "description": "The evaluation of the App Access Risk verdicts.",
          "$ref": "AppAccessRiskVerdict"
        },
        "playProtectVerdict": {
          "description": "The evaluation of Play Protect verdict.",
          "type": "string",
          "enum": [
            "PLAY_PROTECT_VERDICT_UNSPECIFIED",
            "UNEVALUATED",
            "NO_ISSUES",
            "NO_DATA",
            "MEDIUM_RISK",
            "HIGH_RISK",
            "POSSIBLE_RISK"
          ],
          "enumDescriptions": [
            "Play Protect verdict has not been set.",
            "Play Protect state was not evaluated. Device may not be trusted.",
            "Play Protect is on and no issues found.",
            "Play Protect is on but no scan has been performed yet. The device or Play Store app may have been reset.",
            "Play Protect is on and warnings found.",
            "Play Protect is on and high severity issues found.",
            "Play Protect is turned off. Turn on Play Protect."
          ]
        },
        "locationSpoofingRiskVerdict": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "LOCATION_SPOOFING_RISK_VERDICT_UNSPECIFIED",
              "LOW_RISK_DEVICE",
              "LOW_RISK_NETWORK",
              "MEDIUM_RISK_DEVICE",
              "MEDIUM_RISK_NETWORK",
              "HIGH_RISK_DEVICE",
              "HIGH_RISK_NETWORK"
            ],
            "enumDescriptions": [
              "Catch-all for unrecognized enum values.",
              "Device-related spoofing was evaluated, and no issues were detected.",
              "Network-related spoofing was evaluated, and no issues were detected.",
              "Potential device-related spoofing was detected.",
              "Potential network-related spoofing was detected.",
              "Likely device-related spoofing was detected.",
              "Likely network-related spoofing was detected."
            ]
          },
          "description": "The evaluation of the Location Spoofing Risk verdict."
        }
      },
      "id": "EnvironmentDetails",
      "description": "Contains information about the environment Play Integrity API runs in, e.g. Play Protect verdict."
    },
    "AppAccessRiskVerdict": {
      "type": "object",
      "description": "Contains signals about others apps on the device which could be used to access or control the requesting app.",
      "id": "AppAccessRiskVerdict",
      "properties": {
        "appsDetected": {
          "description": "List of detected app types signalled for App Access Risk.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Apps detected is unspecified.",
              "One or more apps is installed by Google Play or preloaded on the system partition by the device manufacturer.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to read or capture the requesting app, such as a screen recording app.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to display overlays over the requesting app.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to control the device, such as a remote support app.",
              "One or more unknown apps is installed, that were not installed by Google Play or preloaded on the system partition by the device manufacturer.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to read or capture the requesting app, such as a screen recording app.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to display overlays over the requesting app.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to control the device, such as a remote support app."
            ],
            "type": "string",
            "enum": [
              "APPS_DETECTED_UNSPECIFIED",
              "KNOWN_INSTALLED",
              "KNOWN_CAPTURING",
              "KNOWN_OVERLAYS",
              "KNOWN_CONTROLLING",
              "UNKNOWN_INSTALLED",
              "UNKNOWN_CAPTURING",
              "UNKNOWN_OVERLAYS",
              "UNKNOWN_CONTROLLING"
            ]
          }
        }
      }
    },
    "Values": {
      "type": "object",
      "description": "Contains the recall bits values.",
      "id": "Values",
      "properties": {
        "bitThird": {
          "type": "boolean",
          "description": "Required. Third recall bit value."
        },
        "bitSecond": {
          "type": "boolean",
          "description": "Required. Second recall bit value."
        },
        "bitFirst": {
          "type": "boolean",
          "description": "Required. First recall bit value."
        }
      }
    },
    "AccountDetails": {
      "description": "Contains the account information such as the licensing status for the user in the scope.",
      "properties": {
        "appLicensingVerdict": {
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The user has a valid license to use the app.",
            "The user does not have a valid license to use the app.",
            "Licensing details were not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar or the application was not a known Play version."
          ],
          "description": "Required. Details about the licensing status of the user for the app in the scope.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ]
        },
        "accountActivity": {
          "deprecated": true,
          "description": "(Restricted Access) Details about the account activity for the user in the scope.",
          "$ref": "AccountActivity"
        }
      },
      "id": "AccountDetails",
      "type": "object"
    },
    "DecodePcIntegrityTokenResponse": {
      "properties": {
        "tokenPayloadExternal": {
          "$ref": "PcTokenPayloadExternal",
          "description": "Plain token payload generated from the decoded integrity token."
        }
      },
      "type": "object",
      "id": "DecodePcIntegrityTokenResponse",
      "description": "Response containing the decoded PC integrity payload."
    },
    "PcRequestDetails": {
      "description": "Contains the integrity request information.",
      "type": "object",
      "id": "PcRequestDetails",
      "properties": {
        "requestPackageName": {
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity.",
          "type": "string"
        },
        "requestHash": {
          "description": "Request hash that was provided in the request.",
          "type": "string"
        },
        "requestTime": {
          "format": "google-datetime",
          "description": "Required. Timestamp, of the integrity application request.",
          "type": "string"
        }
      }
    },
    "DeviceIntegrity": {
      "description": "Contains the device attestation information.",
      "properties": {
        "recentDeviceActivity": {
          "$ref": "RecentDeviceActivity",
          "description": "Details about the device activity of the device the app is running on."
        },
        "deviceRecognitionVerdict": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ],
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ]
          },
          "description": "Details about the integrity of the device the app is running on."
        },
        "deviceRecall": {
          "$ref": "DeviceRecall",
          "description": "Details about the device recall bits set by the developer."
        },
        "deviceAttributes": {
          "$ref": "DeviceAttributes",
          "description": "Attributes of the device where the integrity token was generated."
        },
        "legacyDeviceRecognitionVerdict": {
          "type": "array",
          "description": "Contains legacy details about the integrity of the device the app is running on. Only for devices with Android version T or higher and only for apps opted in to the new verdicts. Only available during the transition period to the new verdicts system and will be removed afterwards.",
          "items": {
            "type": "string",
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ],
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ]
          }
        }
      },
      "id": "DeviceIntegrity",
      "type": "object"
    },
    "DecodeIntegrityTokenResponse": {
      "type": "object",
      "description": "Response containing the decoded integrity payload.",
      "id": "DecodeIntegrityTokenResponse",
      "properties": {
        "tokenPayloadExternal": {
          "description": "Plain token payload generated from the decoded integrity token.",
          "$ref": "TokenPayloadExternal"
        }
      }
    },
    "DeviceAttributes": {
      "properties": {
        "sdkVersion": {
          "type": "integer",
          "description": "Android SDK version of the device, as defined in the public Android documentation: https://developer.android.com/reference/android/os/Build.VERSION_CODES. It won't be set if a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar.",
          "format": "int32"
        }
      },
      "id": "DeviceAttributes",
      "type": "object",
      "description": "Contains information about the device for which the integrity token was generated, e.g. Android SDK version."
    },
    "TokenPayloadExternal": {
      "type": "object",
      "description": "Contains basic app information and integrity signals like device attestation and licensing details.",
      "properties": {
        "requestDetails": {
          "description": "Required. Details about the integrity request.",
          "$ref": "RequestDetails"
        },
        "deviceIntegrity": {
          "description": "Required. Details about the device integrity.",
          "$ref": "DeviceIntegrity"
        },
        "accountDetails": {
          "description": "Required. Details about the Play Store account.",
          "$ref": "AccountDetails"
        },
        "testingDetails": {
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status.",
          "$ref": "TestingDetails"
        },
        "appIntegrity": {
          "$ref": "AppIntegrity",
          "description": "Required. Details about the application integrity."
        },
        "environmentDetails": {
          "$ref": "EnvironmentDetails",
          "description": "Details of the environment Play Integrity API runs in."
        }
      },
      "id": "TokenPayloadExternal"
    },
    "DeviceRecall": {
      "properties": {
        "values": {
          "description": "Required. Contains the recall bits values.",
          "$ref": "Values"
        },
        "writeDates": {
          "description": "Required. Contains the recall bits write dates.",
          "$ref": "WriteDates"
        }
      },
      "id": "DeviceRecall",
      "type": "object",
      "description": "Contains the recall bits per device set by the developer."
    },
    "PcAccountDetails": {
      "id": "PcAccountDetails",
      "type": "object",
      "description": "Contains the account information such as the licensing status for the user in the scope.",
      "properties": {
        "appLicensingVerdict": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ],
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The user has a valid license to use the app.",
            "The user does not have a valid license to use the app.",
            "Licensing details were not evaluated since a necessary requirement was missed."
          ],
          "description": "Required. Details about the licensing status of the user for the app in the scope."
        }
      }
    },
    "AppIntegrity": {
      "id": "AppIntegrity",
      "description": "Contains the application integrity information.",
      "properties": {
        "packageName": {
          "description": "Package name of the application under attestation. Set iff app_recognition_verdict != UNEVALUATED.",
          "type": "string"
        },
        "versionCode": {
          "type": "string",
          "format": "int64",
          "description": "Version code of the application. Set iff app_recognition_verdict != UNEVALUATED."
        },
        "appRecognitionVerdict": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PLAY_RECOGNIZED",
            "UNRECOGNIZED_VERSION",
            "UNEVALUATED"
          ],
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate app integrity",
            "The app and certificate match the versions distributed by Play.",
            "The certificate or package name does not match Google Play records.",
            "Application integrity was not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar."
          ],
          "description": "Required. Details about the app recognition verdict"
        },
        "certificateSha256Digest": {
          "description": "The SHA256 hash of the requesting app's signing certificates (base64 web-safe encoded). Set iff app_recognition_verdict != UNEVALUATED.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "WriteDeviceRecallResponse": {
      "id": "WriteDeviceRecallResponse",
      "type": "object",
      "description": "Response for the Write Device Recall action. Currently empty.",
      "properties": {}
    },
    "WriteDeviceRecallRequest": {
      "description": "Request to write device recall bits.",
      "id": "WriteDeviceRecallRequest",
      "properties": {
        "integrityToken": {
          "type": "string",
          "description": "Required. Integrity token obtained from calling Play Integrity API."
        },
        "newValues": {
          "description": "Required. The new values for the device recall bits to be written.",
          "$ref": "Values"
        }
      },
      "type": "object"
    },
    "DecodePcIntegrityTokenRequest": {
      "description": "Request to decode the PC integrity token.",
      "properties": {
        "integrityToken": {
          "type": "string",
          "description": "Encoded integrity token."
        }
      },
      "id": "DecodePcIntegrityTokenRequest",
      "type": "object"
    },
    "TestingDetails": {
      "description": "Contains additional information generated for testing responses.",
      "type": "object",
      "properties": {
        "isTestingResponse": {
          "description": "Required. Indicates that the information contained in this payload is a testing response that is statically overridden for a tester.",
          "type": "boolean"
        }
      },
      "id": "TestingDetails"
    },
    "PcTokenPayloadExternal": {
      "properties": {
        "accountDetails": {
          "$ref": "PcAccountDetails",
          "description": "Details about the account information such as the licensing status."
        },
        "testingDetails": {
          "$ref": "PcTestingDetails",
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status."
        },
        "requestDetails": {
          "description": "Required. Details about the integrity request.",
          "$ref": "PcRequestDetails"
        },
        "deviceIntegrity": {
          "$ref": "PcDeviceIntegrity",
          "description": "Required. Details about the device integrity."
        }
      },
      "description": "Contains PC device attestation details.",
      "type": "object",
      "id": "PcTokenPayloadExternal"
    },
    "AccountActivity": {
      "type": "object",
      "id": "AccountActivity",
      "deprecated": true,
      "properties": {
        "activityLevel": {
          "description": "Required. Indicates the activity level of the account.",
          "enumDescriptions": [
            "Activity level has not been set.",
            "Account activity level is not evaluated.",
            "Unusual activity for at least one of the user accounts on the device.",
            "Insufficient activity to verify the user account on the device.",
            "Typical activity for the user account or accounts on the device.",
            "Typical for the user account or accounts on the device, with harder to replicate signals."
          ],
          "type": "string",
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "UNEVALUATED",
            "UNUSUAL",
            "UNKNOWN",
            "TYPICAL_BASIC",
            "TYPICAL_STRONG"
          ]
        }
      },
      "description": "(Restricted Access) Contains a signal helping apps differentiating between likely genuine and likely non-genuine user traffic."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/playintegrity": {
          "description": "Private Service: https://www.googleapis.com/auth/playintegrity"
        }
      }
    }
  },
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    }
  },
  "id": "playintegrity:v1",
  "title": "Google Play Integrity API",
  "mtlsRootUrl": "https://playintegrity.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}