{
  "fullyEncodeReservedExpansion": true,
  "description": "",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/playdeveloperreporting": {
          "description": "See metrics and data about the apps in your Google Play Developer account"
        }
      }
    }
  },
  "basePath": "",
  "version": "v1alpha1",
  "id": "playdeveloperreporting:v1alpha1",
  "resources": {
    "apps": {
      "methods": {
        "search": {
          "parameterOrder": [],
          "path": "v1alpha1/apps:search",
          "description": "Searches for Apps accessible by the user.",
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of apps to return. The service may return fewer than this value. If unspecified, at most 50 apps will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous `SearchAccessibleApps` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchAccessibleApps` must match the call that provided the page token.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/playdeveloperreporting"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1SearchAccessibleAppsResponse"
          },
          "flatPath": "v1alpha1/apps:search",
          "id": "playdeveloperreporting.apps.search"
        },
        "fetchReleaseFilterOptions": {
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^apps/[^/]+$",
              "location": "path",
              "description": "Required. Name of the resource, i.e. app the filtering options are for. Format: apps/{app}",
              "required": true
            }
          },
          "path": "v1alpha1/{+name}:fetchReleaseFilterOptions",
          "scopes": [
            "https://www.googleapis.com/auth/playdeveloperreporting"
          ],
          "parameterOrder": [
            "name"
          ],
          "description": "Describes filtering options for releases.",
          "flatPath": "v1alpha1/apps/{appsId}:fetchReleaseFilterOptions",
          "response": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1ReleaseFilterOptions"
          },
          "httpMethod": "GET",
          "id": "playdeveloperreporting.apps.fetchReleaseFilterOptions"
        }
      }
    },
    "vitals": {
      "resources": {
        "bitmapmemoryusage": {
          "methods": {
            "get": {
              "id": "playdeveloperreporting.vitals.bitmapmemoryusage.get",
              "description": "Describes the properties of the metric set.",
              "path": "v1alpha1/{+name}",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1BitmapMemoryUsageMetricSet"
              },
              "flatPath": "v1alpha1/apps/{appsId}/bitmapMemoryUsageMetricSet",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name. Format: apps/{app}/bitmapMemoryUsageMetricSet",
                  "required": true,
                  "type": "string",
                  "pattern": "^apps/[^/]+/bitmapMemoryUsageMetricSet$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "query": {
              "description": "Queries the metrics in the metric set.",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryBitmapMemoryUsageMetricSetResponse"
              },
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryBitmapMemoryUsageMetricSetRequest"
              },
              "httpMethod": "POST",
              "flatPath": "v1alpha1/apps/{appsId}/bitmapMemoryUsageMetricSet:query",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}:query",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "id": "playdeveloperreporting.vitals.bitmapmemoryusage.query",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name. Format: apps/{app}/bitmapMemoryUsageMetricSet",
                  "pattern": "^apps/[^/]+/bitmapMemoryUsageMetricSet$"
                }
              }
            }
          }
        },
        "stuckbackgroundwakelockrate": {
          "methods": {
            "query": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "description": "Queries the metrics in the metric set.",
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryStuckBackgroundWakelockRateMetricSetRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/apps/{appsId}/stuckBackgroundWakelockRateMetricSet:query",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryStuckBackgroundWakelockRateMetricSetResponse"
              },
              "path": "v1alpha1/{+name}:query",
              "parameters": {
                "name": {
                  "pattern": "^apps/[^/]+/stuckBackgroundWakelockRateMetricSet$",
                  "description": "Required. The resource name. Format: apps/{app}/stuckBackgroundWakelockRateMetricSet",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "playdeveloperreporting.vitals.stuckbackgroundwakelockrate.query"
            },
            "get": {
              "description": "Describes the properties of the metric set.",
              "httpMethod": "GET",
              "flatPath": "v1alpha1/apps/{appsId}/stuckBackgroundWakelockRateMetricSet",
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "id": "playdeveloperreporting.vitals.stuckbackgroundwakelockrate.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1StuckBackgroundWakelockRateMetricSet"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^apps/[^/]+/stuckBackgroundWakelockRateMetricSet$",
                  "description": "Required. The resource name. Format: apps/{app}/stuckBackgroundWakelockRateMetricSet"
                }
              }
            }
          }
        },
        "excessivewakeuprate": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Describes the properties of the metric set.",
              "path": "v1alpha1/{+name}",
              "id": "playdeveloperreporting.vitals.excessivewakeuprate.get",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1ExcessiveWakeupRateMetricSet"
              },
              "flatPath": "v1alpha1/apps/{appsId}/excessiveWakeupRateMetricSet",
              "parameters": {
                "name": {
                  "pattern": "^apps/[^/]+/excessiveWakeupRateMetricSet$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name. Format: apps/{app}/excessiveWakeupRateMetricSet",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ]
            },
            "query": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}:query",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^apps/[^/]+/excessiveWakeupRateMetricSet$",
                  "description": "Required. The resource name. Format: apps/{app}/excessiveWakeupRateMetricSet",
                  "type": "string",
                  "required": true
                }
              },
              "id": "playdeveloperreporting.vitals.excessivewakeuprate.query",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryExcessiveWakeupRateMetricSetResponse"
              },
              "httpMethod": "POST",
              "flatPath": "v1alpha1/apps/{appsId}/excessiveWakeupRateMetricSet:query",
              "description": "Queries the metrics in the metric set.",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryExcessiveWakeupRateMetricSetRequest"
              }
            }
          }
        },
        "lmkrate": {
          "methods": {
            "get": {
              "flatPath": "v1alpha1/apps/{appsId}/lmkRateMetricSet",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1LmkRateMetricSet"
              },
              "httpMethod": "GET",
              "path": "v1alpha1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^apps/[^/]+/lmkRateMetricSet$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name. Format: apps/{app}/lmkRateMetricSet"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "playdeveloperreporting.vitals.lmkrate.get",
              "description": "Describes the properties of the metric set."
            },
            "query": {
              "flatPath": "v1alpha1/apps/{appsId}/lmkRateMetricSet:query",
              "id": "playdeveloperreporting.vitals.lmkrate.query",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryLmkRateMetricSetResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "httpMethod": "POST",
              "description": "Queries the metrics in the metric set.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}:query",
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryLmkRateMetricSetRequest"
              },
              "parameters": {
                "name": {
                  "description": "Required. The resource name. Format: apps/{app}/lmkRateMetricSet",
                  "type": "string",
                  "location": "path",
                  "pattern": "^apps/[^/]+/lmkRateMetricSet$",
                  "required": true
                }
              }
            }
          }
        },
        "crashrate": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "id": "playdeveloperreporting.vitals.crashrate.get",
              "description": "Describes the properties of the metric set.",
              "parameters": {
                "name": {
                  "pattern": "^apps/[^/]+/crashRateMetricSet$",
                  "description": "Required. The resource name. Format: apps/{app}/crashRateMetricSet",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1alpha1/apps/{appsId}/crashRateMetricSet",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1CrashRateMetricSet"
              },
              "httpMethod": "GET",
              "path": "v1alpha1/{+name}"
            },
            "query": {
              "description": "Queries the metrics in the metric set.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The resource name. Format: apps/{app}/crashRateMetricSet",
                  "location": "path",
                  "pattern": "^apps/[^/]+/crashRateMetricSet$",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryCrashRateMetricSetResponse"
              },
              "flatPath": "v1alpha1/apps/{appsId}/crashRateMetricSet:query",
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryCrashRateMetricSetRequest"
              },
              "id": "playdeveloperreporting.vitals.crashrate.query",
              "path": "v1alpha1/{+name}:query",
              "httpMethod": "POST"
            }
          }
        },
        "slowstartrate": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1SlowStartRateMetricSet"
              },
              "httpMethod": "GET",
              "flatPath": "v1alpha1/apps/{appsId}/slowStartRateMetricSet",
              "id": "playdeveloperreporting.vitals.slowstartrate.get",
              "path": "v1alpha1/{+name}",
              "description": "Describes the properties of the metric set.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^apps/[^/]+/slowStartRateMetricSet$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name. Format: apps/{app}/slowStartRateMetricSet"
                }
              }
            },
            "query": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^apps/[^/]+/slowStartRateMetricSet$",
                  "description": "Required. The resource name. Format: apps/{app}/slowStartRateMetricSet"
                }
              },
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QuerySlowStartRateMetricSetRequest"
              },
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QuerySlowStartRateMetricSetResponse"
              },
              "id": "playdeveloperreporting.vitals.slowstartrate.query",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "flatPath": "v1alpha1/apps/{appsId}/slowStartRateMetricSet:query",
              "httpMethod": "POST",
              "path": "v1alpha1/{+name}:query",
              "parameterOrder": [
                "name"
              ],
              "description": "Queries the metrics in the metric set."
            }
          }
        },
        "anrrate": {
          "methods": {
            "get": {
              "flatPath": "v1alpha1/apps/{appsId}/anrRateMetricSet",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^apps/[^/]+/anrRateMetricSet$",
                  "description": "Required. The resource name. Format: apps/{app}/anrRateMetricSet"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1AnrRateMetricSet"
              },
              "description": "Describes the properties of the metric set.",
              "path": "v1alpha1/{+name}",
              "id": "playdeveloperreporting.vitals.anrrate.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "query": {
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "path": "v1alpha1/{+name}:query",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^apps/[^/]+/anrRateMetricSet$",
                  "description": "Required. The resource name. Format: apps/{app}/anrRateMetricSet",
                  "type": "string",
                  "required": true
                }
              },
              "id": "playdeveloperreporting.vitals.anrrate.query",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryAnrRateMetricSetResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryAnrRateMetricSetRequest"
              },
              "flatPath": "v1alpha1/apps/{appsId}/anrRateMetricSet:query",
              "description": "Queries the metrics in the metric set.",
              "httpMethod": "POST"
            }
          }
        },
        "anonrssandswapmemoryusage": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "flatPath": "v1alpha1/apps/{appsId}/anonRssAndSwapMemoryUsageMetricSet",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. * The resource name. Format: apps/{app}/anonRssAndSwapMemoryUsageMetricSet",
                  "pattern": "^apps/[^/]+/anonRssAndSwapMemoryUsageMetricSet$",
                  "required": true
                }
              },
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1AnonRssAndSwapMemoryUsageMetricSet"
              },
              "path": "v1alpha1/{+name}",
              "description": "Describes the properties of the metric set.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "playdeveloperreporting.vitals.anonrssandswapmemoryusage.get"
            },
            "query": {
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. * The resource name. Format: apps/{app}/anonRssAndSwapMemoryUsageMetricSet",
                  "type": "string",
                  "location": "path",
                  "pattern": "^apps/[^/]+/anonRssAndSwapMemoryUsageMetricSet$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "id": "playdeveloperreporting.vitals.anonrssandswapmemoryusage.query",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryAnonRssAndSwapMemoryUsageMetricSetResponse"
              },
              "path": "v1alpha1/{+name}:query",
              "description": "Queries the metrics in the metric set.",
              "flatPath": "v1alpha1/apps/{appsId}/anonRssAndSwapMemoryUsageMetricSet:query",
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QueryAnonRssAndSwapMemoryUsageMetricSetRequest"
              },
              "httpMethod": "POST"
            }
          }
        },
        "slowrenderingrate": {
          "methods": {
            "get": {
              "path": "v1alpha1/{+name}",
              "id": "playdeveloperreporting.vitals.slowrenderingrate.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "description": "Describes the properties of the metric set.",
              "flatPath": "v1alpha1/apps/{appsId}/slowRenderingRateMetricSet",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1SlowRenderingRateMetricSet"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The resource name. Format: apps/{app}/slowRenderingRateMetricSet",
                  "pattern": "^apps/[^/]+/slowRenderingRateMetricSet$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "query": {
              "path": "v1alpha1/{+name}:query",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QuerySlowRenderingRateMetricSetResponse"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name. Format: apps/{app}/slowRenderingRateMetricSet",
                  "type": "string",
                  "required": true,
                  "pattern": "^apps/[^/]+/slowRenderingRateMetricSet$"
                }
              },
              "flatPath": "v1alpha1/apps/{appsId}/slowRenderingRateMetricSet:query",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1alpha1QuerySlowRenderingRateMetricSetRequest"
              },
              "description": "Queries the metrics in the metric set.",
              "id": "playdeveloperreporting.vitals.slowrenderingrate.query",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ]
            }
          }
        },
        "errors": {
          "resources": {
            "reports": {
              "methods": {
                "search": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1alpha1SearchErrorReportsResponse"
                  },
                  "parameters": {
                    "interval.endTime.minutes": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0."
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^apps/[^/]+$",
                      "type": "string",
                      "description": "Required. Parent resource of the reports, indicating the application for which they were received. Format: apps/{app}",
                      "required": true
                    },
                    "interval.startTime.nanos": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
                      "type": "integer"
                    },
                    "interval.endTime.day": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day."
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of reports to return. The service may return fewer than this value. If unspecified, at most 50 reports will be returned. The maximum value is 100; values above 100 will be coerced to 100."
                    },
                    "interval.endTime.utcOffset": {
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
                      "location": "query",
                      "type": "string",
                      "format": "google-duration"
                    },
                    "interval.startTime.hours": {
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "interval.endTime.month": {
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "interval.endTime.nanos": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
                      "location": "query"
                    },
                    "interval.startTime.timeZone.id": {
                      "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
                      "location": "query",
                      "type": "string"
                    },
                    "interval.startTime.month": {
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "interval.endTime.year": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year."
                    },
                    "interval.endTime.timeZone.id": {
                      "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
                      "type": "string",
                      "location": "query"
                    },
                    "interval.endTime.timeZone.version": {
                      "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `SearchErrorReports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchErrorReports` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "interval.startTime.timeZone.version": {
                      "location": "query",
                      "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
                      "type": "string"
                    },
                    "interval.endTime.hours": {
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "interval.startTime.year": {
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "interval.endTime.seconds": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
                      "location": "query"
                    },
                    "interval.startTime.utcOffset": {
                      "location": "query",
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
                      "format": "google-duration",
                      "type": "string"
                    },
                    "interval.startTime.seconds": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds."
                    },
                    "interval.startTime.day": {
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. A selection predicate to retrieve only a subset of the reports. For filtering basics, please check [AIP-160](https://google.aip.dev/160). ** Supported field names:** * `apiLevel`: Matches error reports that occurred in the requested Android versions (specified as the numeric API level) only. Example: `apiLevel = 28 OR apiLevel = 29`. * `versionCode`: Matches error reports that occurred in the requested app version codes only. Example: `versionCode = 123 OR versionCode = 456`. * `deviceModel`: Matches error issues that occurred in the requested devices. Example: `deviceModel = \"google/walleye\" OR deviceModel = \"google/marlin\"`. * `deviceBrand`: Matches error issues that occurred in the requested device brands. Example: `deviceBrand = \"Google\". * `deviceType`: Matches error reports that occurred in the requested device types. Example: `deviceType = \"PHONE\"`. * `errorIssueType`: Matches error reports of the requested types only. Valid candidates: `CRASH`, `ANR`, `NON_FATAL`. Example: `errorIssueType = CRASH OR errorIssueType = ANR`. * `errorIssueId`: Matches error reports belonging to the requested error issue ids only. Example: `errorIssueId = 1234 OR errorIssueId = 4567`. * `errorReportId`: Matches error reports with the requested error report id. Example: `errorReportId = 1234 OR errorReportId = 4567`. * `appProcessState`: Matches error reports on the process state of an app, indicating whether an app runs in the foreground (user-visible) or background. Valid candidates: `FOREGROUND`, `BACKGROUND`. Example: `appProcessState = FOREGROUND`. * `isUserPerceived`: Matches error reports that are user-perceived. It is not accompanied by any operators. Example: `isUserPerceived`. ** Supported operators:** * Comparison operators: The only supported comparison operator is equality. The filtered field must appear on the left hand side of the comparison. * Logical Operators: Logical operators `AND` and `OR` can be used to build complex filters following a conjunctive normal form (CNF), i.e., conjunctions of disjunctions. The `OR` operator takes precedence over `AND` so the use of parenthesis is not necessary when building CNF. The `OR` operator is only supported to build disjunctions that apply to the same field, e.g., `versionCode = 123 OR versionCode = ANR`. The filter expression `versionCode = 123 OR errorIssueType = ANR` is not valid. ** Examples ** Some valid filtering expressions: * `versionCode = 123 AND errorIssueType = ANR` * `versionCode = 123 AND errorIssueType = OR errorIssueType = CRASH` * `versionCode = 123 AND (errorIssueType = OR errorIssueType = CRASH)`",
                      "type": "string"
                    },
                    "interval.startTime.minutes": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
                      "type": "integer"
                    }
                  },
                  "flatPath": "v1alpha1/apps/{appsId}/errorReports:search",
                  "description": "Searches all error reports received for an app.",
                  "httpMethod": "GET",
                  "path": "v1alpha1/{+parent}/errorReports:search",
                  "id": "playdeveloperreporting.vitals.errors.reports.search",
                  "scopes": [
                    "https://www.googleapis.com/auth/playdeveloperreporting"
                  ]
                }
              }
            },
            "issues": {
              "methods": {
                "search": {
                  "parameters": {
                    "sampleErrorReportLimit": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Number of sample error reports to return per ErrorIssue. If unspecified, 0 will be used. *Note:* currently only 0 and 1 are supported."
                    },
                    "interval.endTime.day": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day."
                    },
                    "interval.startTime.minutes": {
                      "location": "query",
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "interval.startTime.day": {
                      "type": "integer",
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. A selection predicate to retrieve only a subset of the issues. Counts in the returned error issues will only reflect occurrences that matched the filter. For filtering basics, please check [AIP-160](https://google.aip.dev/160). ** Supported field names:** * `apiLevel`: Matches error issues that occurred in the requested Android versions (specified as the numeric API level) only. Example: `apiLevel = 28 OR apiLevel = 29`. * `versionCode`: Matches error issues that occurred in the requested app version codes only. Example: `versionCode = 123 OR versionCode = 456`. * `deviceModel`: Matches error issues that occurred in the requested devices. Example: `deviceModel = \"google/walleye\" OR deviceModel = \"google/marlin\"`. * `deviceBrand`: Matches error issues that occurred in the requested device brands. Example: `deviceBrand = \"Google\". * `deviceType`: Matches error issues that occurred in the requested device types. Example: `deviceType = \"PHONE\"`. * `errorIssueType`: Matches error issues of the requested types only. Valid candidates: `CRASH`, `ANR`, `NON_FATAL`. Example: `errorIssueType = CRASH OR errorIssueType = ANR`. * `appProcessState`: Matches error issues on the process state of an app, indicating whether an app runs in the foreground (user-visible) or background. Valid candidates: `FOREGROUND`, `BACKGROUND`. Example: `appProcessState = FOREGROUND`. * `isUserPerceived`: Matches error issues that are user-perceived. It is not accompanied by any operators. Example: `isUserPerceived`. ** Supported operators:** * Comparison operators: The only supported comparison operator is equality. The filtered field must appear on the left hand side of the comparison. * Logical Operators: Logical operators `AND` and `OR` can be used to build complex filters following a conjunctive normal form (CNF), i.e., conjunctions of disjunctions. The `OR` operator takes precedence over `AND` so the use of parenthesis is not necessary when building CNF. The `OR` operator is only supported to build disjunctions that apply to the same field, e.g., `versionCode = 123 OR errorIssueType = ANR` is not a valid filter. ** Examples ** Some valid filtering expressions: * `versionCode = 123 AND errorIssueType = ANR` * `versionCode = 123 AND errorIssueType = OR errorIssueType = CRASH` * `versionCode = 123 AND (errorIssueType = OR errorIssueType = CRASH)`",
                      "type": "string"
                    },
                    "interval.endTime.hours": {
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "interval.startTime.month": {
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "interval.endTime.year": {
                      "format": "int32",
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of error issues to return. The service may return fewer than this value. If unspecified, at most 50 error issues will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "interval.endTime.timeZone.id": {
                      "type": "string",
                      "location": "query",
                      "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Specifies a field that will be used to order the results. ** Supported dimensions:** * `errorReportCount`: Orders issues by number of error reports. * `distinctUsers`: Orders issues by number of unique affected users. ** Supported operations:** * `asc` for ascending order. * `desc` for descending order. Format: A field and an operation, e.g., `errorReportCount desc` *Note:* currently only one field is supported at a time."
                    },
                    "interval.startTime.nanos": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0."
                    },
                    "interval.startTime.timeZone.id": {
                      "location": "query",
                      "type": "string",
                      "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
                    },
                    "interval.endTime.minutes": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0."
                    },
                    "interval.startTime.utcOffset": {
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
                      "location": "query",
                      "type": "string",
                      "format": "google-duration"
                    },
                    "interval.endTime.seconds": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds."
                    },
                    "interval.startTime.seconds": {
                      "type": "integer",
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
                      "format": "int32",
                      "location": "query"
                    },
                    "interval.endTime.nanos": {
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "interval.endTime.month": {
                      "format": "int32",
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
                      "type": "integer",
                      "location": "query"
                    },
                    "interval.endTime.timeZone.version": {
                      "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
                      "type": "string",
                      "location": "query"
                    },
                    "interval.startTime.year": {
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Parent resource of the error issues, indicating the application for which they were received. Format: apps/{app}",
                      "pattern": "^apps/[^/]+$",
                      "location": "path"
                    },
                    "interval.startTime.hours": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
                    },
                    "interval.endTime.utcOffset": {
                      "location": "query",
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
                      "type": "string",
                      "format": "google-duration"
                    },
                    "interval.startTime.timeZone.version": {
                      "location": "query",
                      "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha1/{+parent}/errorIssues:search",
                  "description": "Searches all error issues in which reports have been grouped.",
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1alpha1SearchErrorIssuesResponse"
                  },
                  "id": "playdeveloperreporting.vitals.errors.issues.search",
                  "scopes": [
                    "https://www.googleapis.com/auth/playdeveloperreporting"
                  ],
                  "flatPath": "v1alpha1/apps/{appsId}/errorIssues:search",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET"
                }
              }
            },
            "counts": {
              "methods": {
                "query": {
                  "parameters": {
                    "name": {
                      "pattern": "^apps/[^/]+/errorCountMetricSet$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name. Format: apps/{app}/errorCountMetricSet"
                    }
                  },
                  "flatPath": "v1alpha1/apps/{appsId}/errorCountMetricSet:query",
                  "description": "Queries the metrics in the metrics set.",
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1alpha1QueryErrorCountMetricSetResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha1/{+name}:query",
                  "httpMethod": "POST",
                  "id": "playdeveloperreporting.vitals.errors.counts.query",
                  "scopes": [
                    "https://www.googleapis.com/auth/playdeveloperreporting"
                  ],
                  "request": {
                    "$ref": "GooglePlayDeveloperReportingV1alpha1QueryErrorCountMetricSetRequest"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1alpha1ErrorCountMetricSet"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/playdeveloperreporting"
                  ],
                  "flatPath": "v1alpha1/apps/{appsId}/errorCountMetricSet",
                  "parameters": {
                    "name": {
                      "pattern": "^apps/[^/]+/errorCountMetricSet$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the errors metric set. Format: apps/{app}/errorCountMetricSet",
                      "location": "path"
                    }
                  },
                  "path": "v1alpha1/{+name}",
                  "httpMethod": "GET",
                  "id": "playdeveloperreporting.vitals.errors.counts.get",
                  "description": "Describes the properties of the metrics set.",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "anomalies": {
      "methods": {
        "list": {
          "id": "playdeveloperreporting.anomalies.list",
          "scopes": [
            "https://www.googleapis.com/auth/playdeveloperreporting"
          ],
          "path": "v1alpha1/{+parent}/anomalies",
          "response": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1ListAnomaliesResponse"
          },
          "description": "Lists anomalies in any of the datasets.",
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "parent": {
              "pattern": "^apps/[^/]+$",
              "description": "Required. Parent app for which anomalies were detected. Format: apps/{app}",
              "type": "string",
              "location": "path",
              "required": true
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. Maximum size of the returned data. If unspecified, at most 10 anomalies will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListErrorReports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListErrorReports` must match the call that provided the page token.",
              "type": "string"
            },
            "filter": {
              "location": "query",
              "description": "Optional. Filtering criteria for anomalies. For basic filter guidance, please check: https://google.aip.dev/160. **Supported functions:** * `activeBetween(startTime, endTime)`: If specified, only list anomalies that were active in between `startTime` (inclusive) and `endTime` (exclusive). Both parameters are expected to conform to an RFC-3339 formatted string (e.g. `2012-04-21T11:30:00-04:00`). UTC offsets are supported. Both `startTime` and `endTime` accept the special value `UNBOUNDED`, to signify intervals with no lower or upper bound, respectively. Examples: * `activeBetween(\"2021-04-21T11:30:00Z\", \"2021-07-21T00:00:00Z\")` * `activeBetween(UNBOUNDED, \"2021-11-21T00:00:00-04:00\")` * `activeBetween(\"2021-07-21T00:00:00-04:00\", UNBOUNDED)`",
              "type": "string"
            }
          },
          "flatPath": "v1alpha1/apps/{appsId}/anomalies",
          "httpMethod": "GET"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://playdeveloperreporting.mtls.googleapis.com/",
  "protocol": "rest",
  "name": "playdeveloperreporting",
  "documentationLink": "https://developers.google.com/play/developer/reporting",
  "schemas": {
    "GoogleTypeTimeZone": {
      "id": "GoogleTypeTimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      }
    },
    "GooglePlayDeveloperReportingV1alpha1DeviceId": {
      "properties": {
        "buildDevice": {
          "type": "string",
          "description": "Value of Build.DEVICE."
        },
        "buildBrand": {
          "description": "Value of Build.BRAND.",
          "type": "string"
        }
      },
      "description": "Identifier of a device.",
      "id": "GooglePlayDeveloperReportingV1alpha1DeviceId",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1alpha1QueryErrorCountMetricSetRequest": {
      "description": "Request message for QueryErrorCountMetricSet.",
      "id": "GooglePlayDeveloperReportingV1alpha1QueryErrorCountMetricSetRequest",
      "properties": {
        "filter": {
          "description": "Optional. Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions and: * `isUserPerceived` (string): denotes whether error is user perceived or not, USER_PERCEIVED or NOT_USER_PERCEIVED.",
          "type": "string"
        },
        "metrics": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Metrics to aggregate. **Supported metrics:** * `errorReportCount` (`google.type.Decimal`): Absolute count of individual error reports that have been received for an app. * `distinctUsers` (`google.type.Decimal`): Count of distinct users for which reports have been received. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. This value is not rounded, however it may be an approximation."
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100000; values above 100000 will be coerced to 100000."
        },
        "dimensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Dimensions to slice the data by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceModel` (string): unique identifier of the user's device model. * `deviceType` (string): identifier of the device's form factor, e.g., PHONE. * `reportType` (string): the type of error. The value should correspond to one of the possible values in ErrorType. * `issueId` (string): the id an error was assigned to. The value should correspond to the `{issue}` component of the issue name. * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (e.g., 1024 for 1-1.5GB, 4096 for 4-6GB). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi."
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token.",
          "type": "string"
        },
        "timelineSpec": {
          "description": "Optional. Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. The default and only supported timezone is `America/Los_Angeles`.",
          "$ref": "GooglePlayDeveloperReportingV1alpha1TimelineSpec"
        }
      },
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1alpha1LmkRateMetricSet": {
      "properties": {
        "name": {
          "description": "Identifier. The resource name. Format: apps/{app}/lmkRateMetricSet",
          "type": "string"
        },
        "freshnessInfo": {
          "$ref": "GooglePlayDeveloperReportingV1alpha1FreshnessInfo",
          "description": "Summary about data freshness in this resource."
        }
      },
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1alpha1LmkRateMetricSet",
      "description": "Singleton resource representing the set of LMK (Low Memory Kill) metrics. This metric set contains LMKs data combined with usage data to produce a normalized metric independent of user counts. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. **Supported metrics:** * `userPerceivedLmkRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one LMK while they were actively using your app (a user-perceived LMK). An app is considered to be in active use if it is displaying any activity or executing any foreground service. * `userPerceivedLmkRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedLmkRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `userPerceivedLmkRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedLmkRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `userPerceivedLmkRate` metrics. A user is counted in this metric if they used the app in the foreground during the aggregation period. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (e.g., 1024 for 1-1.5GB, 4096 for 4-6GB). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app. **Related metric sets:** * vitals.errors contains normalized metrics about crashes, another stability metric. * vitals.errors contains normalized metrics about ANRs, another stability metric."
    },
    "GooglePlayDeveloperReportingV1alpha1CrashRateMetricSet": {
      "id": "GooglePlayDeveloperReportingV1alpha1CrashRateMetricSet",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name. Format: apps/{app}/crashRateMetricSet"
        },
        "freshnessInfo": {
          "description": "Summary about data freshness in this resource.",
          "$ref": "GooglePlayDeveloperReportingV1alpha1FreshnessInfo"
        }
      },
      "description": "Singleton resource representing the set of crashrate metrics. This metric set contains crashes data combined with usage data to produce a normalized metric independent of user counts. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. * HOURLY: metrics are aggregated in hourly intervals. The default and only supported timezone is `UTC`. **Supported metrics:** * `crashRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one crash. * `crashRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `crashRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `crashRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `crashRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedCrashRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one crash while they were actively using your app (a user-perceived crash). An app is considered to be in active use if it is displaying any activity or executing any foreground service. * `userPerceivedCrashRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedCrashRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedCrashRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedCrashRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `crashRate` and `userPerceivedCrashRate` metrics. A user is counted in this metric if they used the app actively during the aggregation period. An app is considered to be in active use if it is displaying any activity or executing any foreground service. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (e.g., 1024 for 1-1.5GB, 4096 for 4-6GB). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app. **Related metric sets:** * vitals.errors contains unnormalized version (absolute counts) of crashes. * vitals.errors contains normalized metrics about ANRs, another stability metric.",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1alpha1AnonRssAndSwapMemoryUsageMetricSet": {
      "description": "Singleton resource representing the set of Anon RSS and Swap Memory Usage metrics. This metric set contains anon RSS and swap memory usage data combined with usage data. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. **Supported metrics:** * `anonRssAndSwapMemoryUsageP50` (`google.type.Decimal`): 50th percentile of anon RSS and swap memory usage. * `anonRssAndSwapMemoryUsageP75` (`google.type.Decimal`): 75th percentile of anon RSS and swap memory usage. * `anonRssAndSwapMemoryUsageP90` (`google.type.Decimal`): 90th percentile of anon RSS and swap memory usage. * `anonRssAndSwapMemoryUsageP95` (`google.type.Decimal`): 95th percentile of anon RSS and swap memory usage. * `anonRssAndSwapMemoryUsageP99` (`google.type.Decimal`): 99th percentile of anon RSS and swap memory usage. * `distinctUsers` (`google.type.Decimal`): Count of distinct users for which memory metrics were reported during the aggregation period. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. * `processName` (string): the name of the process that was running, e.g., com.example.app. * `appState` (string): the state of the app when memory was collected, e.g., FOREGROUND. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app.",
      "id": "GooglePlayDeveloperReportingV1alpha1AnonRssAndSwapMemoryUsageMetricSet",
      "properties": {
        "freshnessInfo": {
          "description": "Output only. * Summary about data freshness in this resource.",
          "$ref": "GooglePlayDeveloperReportingV1alpha1FreshnessInfo",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. * The resource name. Format: apps/{app}/anonRssAndSwapMemoryUsageMetricSet"
        }
      },
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1alpha1AppVersion": {
      "description": "Representations of an app version.",
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1alpha1AppVersion",
      "properties": {
        "versionCode": {
          "type": "string",
          "description": "Optional. Numeric version code of the app version (set by the app's developer).",
          "format": "int64"
        }
      }
    },
    "GooglePlayDeveloperReportingV1alpha1MetricValue": {
      "id": "GooglePlayDeveloperReportingV1alpha1MetricValue",
      "description": "Represents the value of a metric.",
      "properties": {
        "decimalValueConfidenceInterval": {
          "$ref": "GooglePlayDeveloperReportingV1alpha1DecimalConfidenceInterval",
          "description": "Confidence interval of a value that is of type `type.Decimal`."
        },
        "decimalValue": {
          "description": "Actual value, represented as a decimal number.",
          "$ref": "GoogleTypeDecimal"
        },
        "metric": {
          "description": "Name of the metric.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1alpha1Track": {
      "properties": {
        "servingReleases": {
          "description": "Represents all active releases in the track.",
          "type": "array",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1Release"
          }
        },
        "type": {
          "description": "The type of the track.",
          "type": "string"
        },
        "displayName": {
          "description": "Readable identifier of the track.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A representation of a Play release track.",
      "id": "GooglePlayDeveloperReportingV1alpha1Track"
    },
    "GoogleTypeDateTime": {
      "type": "object",
      "properties": {
        "seconds": {
          "type": "integer",
          "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        },
        "minutes": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0."
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month."
        },
        "day": {
          "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0."
        },
        "timeZone": {
          "$ref": "GoogleTypeTimeZone",
          "description": "Time zone."
        },
        "utcOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }."
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year."
        },
        "hours": {
          "type": "integer",
          "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        }
      },
      "description": "Represents civil time (or occasionally physical time). This type can represent a civil time in one of a few possible ways: * When utc_offset is set and time_zone is unset: a civil time on a calendar day with a particular offset from UTC. * When time_zone is set and utc_offset is unset: a civil time on a calendar day in a particular time zone. * When neither time_zone nor utc_offset is set: a civil time on a calendar day in local time. The date is relative to the Proleptic Gregorian Calendar. If year, month, or day are 0, the DateTime is considered not to have a specific year, month, or day respectively. This type may also be used to represent a physical time if all the date and time fields are set and either case of the `time_offset` oneof is set. Consider using `Timestamp` message for physical time instead. If your use case also would like to store the user's timezone, that can be done in another field. This type is more flexible than some applications may want. Make sure to document and validate your application's limitations.",
      "id": "GoogleTypeDateTime"
    },
    "GooglePlayDeveloperReportingV1alpha1DecimalConfidenceInterval": {
      "properties": {
        "lowerBound": {
          "description": "The confidence interval's lower bound.",
          "$ref": "GoogleTypeDecimal"
        },
        "upperBound": {
          "$ref": "GoogleTypeDecimal",
          "description": "The confidence interval's upper bound."
        }
      },
      "description": "Represents the confidence interval of a metric.",
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1alpha1DecimalConfidenceInterval"
    },
    "GooglePlayDeveloperReportingV1alpha1QueryAnrRateMetricSetResponse": {
      "properties": {
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1MetricsRow"
          },
          "description": "Returned rows of data."
        },
        "nextPageToken": {
          "description": "Continuation token to fetch the next page of data.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1alpha1QueryAnrRateMetricSetResponse",
      "description": "Response message for QueryAnrRateMetricSet."
    },
    "GooglePlayDeveloperReportingV1alpha1SearchErrorReportsResponse": {
      "type": "object",
      "description": "Response with a paginated list of error reports matching the search query.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token to fetch the next page of reports."
        },
        "errorReports": {
          "description": "Error reports that were found.",
          "type": "array",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1ErrorReport"
          }
        }
      },
      "id": "GooglePlayDeveloperReportingV1alpha1SearchErrorReportsResponse"
    },
    "GooglePlayDeveloperReportingV1alpha1App": {
      "description": "A representation of an app in the Play Store.",
      "id": "GooglePlayDeveloperReportingV1alpha1App",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name. Format: apps/{app}"
        },
        "packageName": {
          "description": "Package name of the app. Example: `com.example.app123`.",
          "type": "string"
        },
        "displayName": {
          "description": "Title of the app. This is the latest title as set in the Play Console and may not yet have been reviewed, so might not match the Play Store. Example: `Google Maps`.",
          "type": "string"
        }
      }
    },
    "GooglePlayDeveloperReportingV1alpha1TimelineSpec": {
      "type": "object",
      "description": "Specification of the time-related aggregation parameters of a timeline. Timelines have an aggregation period (`DAILY`, `HOURLY`, etc) which defines how events are aggregated in metrics. The points in a timeline are defined by the starting DateTime of the aggregation period. The duration is implicit in the AggregationPeriod. Hourly aggregation periods, when supported by a metric set, are always specified in UTC to avoid ambiguities around daylight saving time transitions, where an hour is skipped when adopting DST, and repeated when abandoning DST. For example, the timestamp '2021-11-07 01:00:00 America/Los_Angeles' is ambiguous since it can correspond to '2021-11-07 08:00:00 UTC' or '2021-11-07 09:00:00 UTC'. Daily aggregation periods require specifying a timezone which will determine the precise instants of the start and the end of the day. Not all metric sets support all timezones, so make sure to check which timezones are supported by the metric set you want to query.",
      "id": "GooglePlayDeveloperReportingV1alpha1TimelineSpec",
      "properties": {
        "aggregationPeriod": {
          "type": "string",
          "enum": [
            "AGGREGATION_PERIOD_UNSPECIFIED",
            "HOURLY",
            "DAILY",
            "FULL_RANGE"
          ],
          "description": "Optional. Type of the aggregation period of the datapoints in the timeline. Intervals are identified by the date and time at the start of the interval.",
          "enumDescriptions": [
            "Unspecified granularity.",
            "Data is aggregated in hourly intervals.",
            "Data is aggregated in daily intervals.",
            "Data is aggregated over the full timeline range. Effectively this produces a single value rather than a timeline."
          ]
        },
        "startTime": {
          "$ref": "GoogleTypeDateTime",
          "description": "Optional. Starting datapoint of the timeline (inclusive). Must be aligned to the aggregation period as follows: * HOURLY: the 'minutes', 'seconds' and 'nanos' fields must be unset. The time_zone can be left unset (defaults to UTC) or set explicitly to \"UTC\". Setting any other utc_offset or timezone id will result in a validation error. * DAILY: the 'hours', 'minutes', 'seconds' and 'nanos' fields must be unset. Different metric sets support different timezones. It can be left unset to use the default timezone specified by the metric set. The timezone of the end point must match the timezone of the start point."
        },
        "endTime": {
          "description": "Optional. Ending datapoint of the timeline (exclusive). See start_time for restrictions. The timezone of the end point must match the timezone of the start point.",
          "$ref": "GoogleTypeDateTime"
        }
      }
    },
    "GooglePlayDeveloperReportingV1alpha1IssueAnnotation": {
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1alpha1IssueAnnotation",
      "description": "Representation of an annotation message for an issue.",
      "properties": {
        "body": {
          "type": "string",
          "description": "Contains the contents of the annotation message."
        },
        "category": {
          "description": "Category that the annotation belongs to. An annotation will belong to a single category. Example categories: \"Potential fix\", \"Insight\".",
          "type": "string"
        },
        "title": {
          "description": "Title for the annotation.",
          "type": "string"
        }
      }
    },
    "GooglePlayDeveloperReportingV1alpha1QueryCrashRateMetricSetRequest": {
      "type": "object",
      "description": "Request message for QueryCrashRateMetricSet.",
      "id": "GooglePlayDeveloperReportingV1alpha1QueryCrashRateMetricSetRequest",
      "properties": {
        "pageToken": {
          "description": "Optional. A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token.",
          "type": "string"
        },
        "userCohort": {
          "description": "Optional. User view to select. The output data will correspond to the selected view. **Supported values:** * `OS_PUBLIC` To select data from all publicly released Android versions. This is the default. Supports all the above dimensions. * `APP_TESTERS` To select data from users who have opted in to be testers. Supports all the above dimensions. * `OS_BETA` To select data from beta android versions only, excluding data from released android versions. Only the following dimensions are supported: * `versionCode` (int64): version of the app that was running on the user's device. * `osBuild` (string): OS build of the user's device, e.g., \"T1B2.220916.004\".",
          "type": "string",
          "enum": [
            "USER_COHORT_UNSPECIFIED",
            "OS_PUBLIC",
            "OS_BETA",
            "APP_TESTERS"
          ],
          "enumDescriptions": [
            "Unspecified User cohort. This will automatically choose the default value.",
            "This is default view. Contains data from public released android versions only.",
            "This is the view with just android beta data excluding released OS version data.",
            "This is the view with data only from users who have opted in to be testers for a given app, excluding OS beta data."
          ]
        },
        "timelineSpec": {
          "description": "Optional. Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the default and only supported timezone is `America/Los_Angeles`. * HOURLY: metrics are aggregated in hourly intervals. The default and only supported timezone is `UTC`.",
          "$ref": "GooglePlayDeveloperReportingV1alpha1TimelineSpec"
        },
        "pageSize": {
          "type": "integer",
          "description": "Optional. Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100,000; values above 100,000 will be coerced to 100,000.",
          "format": "int32"
        },
        "filter": {
          "type": "string",
          "description": "Optional. Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions."
        },
        "dimensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Dimensions to slice the metrics by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (e.g., 1024 for 1-1.5GB, 4096 for 4-6GB). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi."
        },
        "metrics": {
          "type": "array",
          "description": "Optional. Metrics to aggregate. **Supported metrics:** * `crashRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one crash. * `crashRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `crashRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `crashRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `crashRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedCrashRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one crash while they were actively using your app (a user-perceived crash). An app is considered to be in active use if it is displaying any activity or executing any foreground service. * `userPerceivedCrashRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedCrashRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedCrashRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedCrashRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `crashRate` and `userPerceivedCrashRate` metrics. A user is counted in this metric if they used the app actively during the aggregation period. An app is considered to be in active use if it is displaying any activity or executing any foreground service. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GooglePlayDeveloperReportingV1alpha1Anomaly": {
      "properties": {
        "name": {
          "description": "Identifier. Name of the anomaly. Format: apps/{app}/anomalies/{anomaly}",
          "type": "string"
        },
        "metricSet": {
          "type": "string",
          "description": "Metric set resource where the anomaly was detected."
        },
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1DimensionValue"
          },
          "description": "Combination of dimensions in which the anomaly was detected."
        },
        "timelineSpec": {
          "description": "Timeline specification that covers the anomaly period.",
          "$ref": "GooglePlayDeveloperReportingV1alpha1TimelineSpec"
        },
        "metric": {
          "description": "Metric where the anomaly was detected, together with the anomalous value.",
          "$ref": "GooglePlayDeveloperReportingV1alpha1MetricValue"
        }
      },
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1alpha1Anomaly",
      "description": "Represents an anomaly detected in a dataset. Our anomaly detection systems flag datapoints in a time series that fall outside of and expected range derived from historical data. Although those expected ranges have an upper and a lower bound, we only flag anomalies when the data has become unexpectedly _worse_, which usually corresponds to the case where the metric crosses the upper bound. Multiple contiguous datapoints in a timeline outside of the expected range will be grouped into a single anomaly. Therefore, an anomaly represents effectively a segment of a metric's timeline. The information stored in the `timeline_spec`, `dimensions` and `metric` can be used to fetch a full timeline with extended ragne for context. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app."
    },
    "GooglePlayDeveloperReportingV1alpha1QuerySlowRenderingRateMetricSetResponse": {
      "description": "Response message for QuerySlowRenderingRateMetricSet.",
      "properties": {
        "rows": {
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1MetricsRow"
          },
          "description": "Returned rows of data.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token to fetch the next page of data.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1alpha1QuerySlowRenderingRateMetricSetResponse"
    },
    "GooglePlayDeveloperReportingV1alpha1FreshnessInfoFreshness": {
      "id": "GooglePlayDeveloperReportingV1alpha1FreshnessInfoFreshness",
      "properties": {
        "latestEndTime": {
          "description": "Latest end time for which data is available, for the aggregation period. The time is specified in the metric set's default timezone. *Note:* time ranges in TimelineSpec are represented as `start_time, end_time)`. For example, if the latest available timeline data point for a `DAILY` aggregation period is `2021-06-23 00:00:00 America/Los_Angeles`, the value of this field would be `2021-06-24 00:00:00 America/Los_Angeles` so it can be easily reused in [TimelineSpec.end_time.",
          "$ref": "GoogleTypeDateTime"
        },
        "aggregationPeriod": {
          "description": "Aggregation period for which data is available.",
          "type": "string",
          "enum": [
            "AGGREGATION_PERIOD_UNSPECIFIED",
            "HOURLY",
            "DAILY",
            "FULL_RANGE"
          ],
          "enumDescriptions": [
            "Unspecified granularity.",
            "Data is aggregated in hourly intervals.",
            "Data is aggregated in daily intervals.",
            "Data is aggregated over the full timeline range. Effectively this produces a single value rather than a timeline."
          ]
        }
      },
      "type": "object",
      "description": "Information about data freshness for a single aggregation period."
    },
    "GooglePlayDeveloperReportingV1alpha1SearchAccessibleAppsResponse": {
      "description": "Response message for SearchAccessibleApps.",
      "type": "object",
      "properties": {
        "apps": {
          "type": "array",
          "description": "The apps accessible to the user calling the endpoint.",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1alpha1App"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GooglePlayDeveloperReportingV1alpha1SearchAccessibleAppsResponse"
    },
    "GooglePlayDeveloperReportingV1alpha1QuerySlowStartRateMetricSetRequest": {
      "id": "GooglePlayDeveloperReportingV1alpha1QuerySlowStartRateMetricSetRequest",
      "description": "Request message for QuerySlowStartRateMetricSet.",
      "properties": {
        "dimensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Dimensions to slice the data by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (e.g., 1024 for 1-1.5GB, 4096 for 4-6GB). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi."
        },
        "pageSize": {
          "format": "int32",
          "description": "Optional. Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100000; values above 100000 will be coerced to 100000.",
          "type": "integer"
        },
        "metrics": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Metrics to aggregate. **Supported metrics:** * `slowStartRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had a slow start. * `slowStartRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowStartRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `slowStartRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowStartRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `slowStartRate` metric. A user is counted in this metric if their app was launched in the device. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value.",
          "type": "array"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token."
        },
        "userCohort": {
          "type": "string",
          "enum": [
[...]
