{
  "name": "playgrouping",
  "description": "playgrouping.googleapis.com API.",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "servicePath": "",
  "schemas": {
    "CreateOrUpdateTagsRequest": {
      "id": "CreateOrUpdateTagsRequest",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Tags to be inserted or updated.",
          "items": {
            "$ref": "Tag"
          },
          "type": "array"
        }
      },
      "description": "Request message for CreateOrUpdateTags. VerifyToken."
    },
    "VerifyTokenRequest": {
      "properties": {
        "persona": {
          "description": "Required. Persona represented by the token. Format: personas/{persona}",
          "type": "string"
        }
      },
      "id": "VerifyTokenRequest",
      "description": "Request message for VerifyToken.",
      "type": "object"
    },
    "CreateOrUpdateTagsResponse": {
      "id": "CreateOrUpdateTagsResponse",
      "description": "Response message for CreateOrUpdateTags.",
      "properties": {
        "tags": {
          "description": "All requested tags are returned, including pre-existing ones.",
          "items": {
            "$ref": "Tag"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Tag": {
      "properties": {
        "timeValue": {
          "description": "A time value of the tag.",
          "type": "string",
          "format": "google-datetime"
        },
        "key": {
          "type": "string",
          "description": "Required. Key for the tag."
        },
        "booleanValue": {
          "description": "A boolean value of the tag.",
          "type": "boolean"
        },
        "int64Value": {
          "description": "A signed 64-bit integer value of the tag.",
          "format": "int64",
          "type": "string"
        },
        "stringValue": {
          "description": "A string value of the tag.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A tag is associated with exactly one package name and user.",
      "id": "Tag"
    },
    "VerifyTokenResponse": {
      "description": "Response message for VerifyToken.",
      "type": "object",
      "properties": {},
      "id": "VerifyTokenResponse"
    }
  },
  "discoveryVersion": "v1",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "playgrouping:v1alpha1",
  "revision": "20260908",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "version": "v1alpha1",
  "canonicalName": "Play Grouping",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/playgrouping/",
  "baseUrl": "https://playgrouping.googleapis.com/",
  "mtlsRootUrl": "https://playgrouping.mtls.googleapis.com/",
  "title": "Google Play Grouping API",
  "batchPath": "batch",
  "rootUrl": "https://playgrouping.googleapis.com/",
  "basePath": "",
  "resources": {
    "apps": {
      "resources": {
        "tokens": {
          "methods": {
            "verify": {
              "path": "v1alpha1/{+appPackage}/{+token}:verify",
              "response": {
                "$ref": "VerifyTokenResponse"
              },
              "parameters": {
                "appPackage": {
                  "location": "path",
                  "description": "Required. App the token belongs to. Format: apps/{package_name}",
                  "pattern": "^apps/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "token": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The token to be verified. Format: tokens/{token}",
                  "pattern": "^tokens/[^/]+$"
                }
              },
              "parameterOrder": [
                "appPackage",
                "token"
              ],
              "id": "playgrouping.apps.tokens.verify",
              "description": "Verify an API token by asserting the app and persona it belongs to. The verification is a protection against client-side attacks and will fail if the contents of the token don't match the provided values. A token must be verified before it can be used to manipulate user tags.",
              "httpMethod": "POST",
              "flatPath": "v1alpha1/apps/{appsId}/tokens/{tokensId}:verify",
              "request": {
                "$ref": "VerifyTokenRequest"
              }
            }
          },
          "resources": {
            "tags": {
              "methods": {
                "createOrUpdate": {
                  "request": {
                    "$ref": "CreateOrUpdateTagsRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "CreateOrUpdateTagsResponse"
                  },
                  "parameters": {
                    "appPackage": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. App whose tags are being manipulated. Format: apps/{package_name}",
                      "pattern": "^apps/[^/]+$"
                    },
                    "token": {
                      "description": "Required. Token for which the tags are being inserted or updated. Format: tokens/{token}",
                      "type": "string",
                      "required": true,
                      "pattern": "^tokens/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1alpha1/{+appPackage}/{+token}/tags:createOrUpdate",
                  "id": "playgrouping.apps.tokens.tags.createOrUpdate",
                  "flatPath": "v1alpha1/apps/{appsId}/tokens/{tokensId}/tags:createOrUpdate",
                  "description": "Create or update tags for the user and app that are represented by the given token.",
                  "parameterOrder": [
                    "appPackage",
                    "token"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}