{
  "baseUrl": "https://playintegrity.googleapis.com/",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/playintegrity": {
          "description": "Private Service: https://www.googleapis.com/auth/playintegrity"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "documentationLink": "https://developer.android.com/google/play/integrity",
  "servicePath": "",
  "description": "The Play Integrity API helps you check that you're interacting with your genuine app on a genuine Android device powered by Google Play services. The Play Integrity API has replaced SafetyNet Attestation and Android Device Verification.",
  "discoveryVersion": "v1",
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "version": "v1",
  "canonicalName": "Play Integrity",
  "revision": "20260910",
  "resources": {
    "deviceRecall": {
      "methods": {
        "write": {
          "response": {
            "$ref": "WriteDeviceRecallResponse"
          },
          "path": "v1/{+packageName}/deviceRecall:write",
          "id": "playintegrity.deviceRecall.write",
          "httpMethod": "POST",
          "flatPath": "v1/{v1Id}/deviceRecall:write",
          "parameters": {
            "packageName": {
              "pattern": "^[^/]+$",
              "description": "Required. Package name of the app the attached integrity token belongs to.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "WriteDeviceRecallRequest"
          },
          "description": "Writes recall bits for the device where Play Integrity API token is obtained. The endpoint is available to select Play partners in an early access program (EAP).",
          "parameterOrder": [
            "packageName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ]
        }
      }
    },
    "v1": {
      "methods": {
        "decodeIntegrityToken": {
          "response": {
            "$ref": "DecodeIntegrityTokenResponse"
          },
          "parameters": {
            "packageName": {
              "description": " Package name of the app the attached integrity token belongs to.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$"
            }
          },
          "id": "playintegrity.decodeIntegrityToken",
          "parameterOrder": [
            "packageName"
          ],
          "description": "Decodes the integrity token and returns the token payload.",
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "flatPath": "v1/{v1Id}:decodeIntegrityToken",
          "path": "v1/{+packageName}:decodeIntegrityToken",
          "httpMethod": "POST",
          "request": {
            "$ref": "DecodeIntegrityTokenRequest"
          }
        },
        "decodePcIntegrityToken": {
          "parameters": {
            "packageName": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "Package name of the app the attached integrity token belongs to."
            }
          },
          "request": {
            "$ref": "DecodePcIntegrityTokenRequest"
          },
          "id": "playintegrity.decodePcIntegrityToken",
          "parameterOrder": [
            "packageName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "response": {
            "$ref": "DecodePcIntegrityTokenResponse"
          },
          "flatPath": "v1/{v1Id}:decodePcIntegrityToken",
          "httpMethod": "POST",
          "description": "Decodes the PC integrity token and returns the PC token payload.",
          "path": "v1/{+packageName}:decodePcIntegrityToken"
        }
      }
    }
  },
  "rootUrl": "https://playintegrity.googleapis.com/",
  "title": "Google Play Integrity API",
  "batchPath": "batch",
  "basePath": "",
  "ownerDomain": "google.com",
  "id": "playintegrity:v1",
  "mtlsRootUrl": "https://playintegrity.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "name": "playintegrity",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "PcTestingDetails": {
      "type": "object",
      "id": "PcTestingDetails",
      "properties": {
        "isTestingResponse": {
          "type": "boolean",
          "description": "Indicates that the information contained in this payload is a testing response that is statically overridden for a tester."
        }
      },
      "description": "Contains additional information generated for testing responses."
    },
    "PcRequestDetails": {
      "properties": {
        "requestHash": {
          "type": "string",
          "description": "Request hash that was provided in the request."
        },
        "requestPackageName": {
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity.",
          "type": "string"
        },
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Timestamp, of the integrity application request."
        }
      },
      "type": "object",
      "id": "PcRequestDetails",
      "description": "Contains the integrity request information."
    },
    "DeviceAttributes": {
      "description": "Contains information about the device for which the integrity token was generated, e.g. Android SDK version.",
      "type": "object",
      "properties": {
        "sdkVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Android SDK version of the device, as defined in the public Android documentation: https://developer.android.com/reference/android/os/Build.VERSION_CODES. It won't be set if a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar."
        }
      },
      "id": "DeviceAttributes"
    },
    "DecodeIntegrityTokenResponse": {
      "properties": {
        "tokenPayloadExternal": {
          "$ref": "TokenPayloadExternal",
          "description": "Plain token payload generated from the decoded integrity token."
        }
      },
      "description": "Response containing the decoded integrity payload.",
      "id": "DecodeIntegrityTokenResponse",
      "type": "object"
    },
    "RecentDeviceActivity": {
      "type": "object",
      "description": "Recent device activity can help developers identify devices that have exhibited hyperactive attestation activity, which could be a sign of an attack or token farming.",
      "id": "RecentDeviceActivity",
      "properties": {
        "deviceActivityLevel": {
          "type": "string",
          "description": "Required. Indicates the activity level of the device.",
          "enum": [
            "DEVICE_ACTIVITY_LEVEL_UNSPECIFIED",
            "UNEVALUATED",
            "LEVEL_1",
            "LEVEL_2",
            "LEVEL_3",
            "LEVEL_4"
          ],
          "enumDescriptions": [
            "Device activity level has not been set.",
            "Device activity level has not been evaluated.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details."
          ]
        }
      }
    },
    "DecodePcIntegrityTokenRequest": {
      "description": "Request to decode the PC integrity token.",
      "type": "object",
      "properties": {
        "integrityToken": {
          "description": "Encoded integrity token.",
          "type": "string"
        }
      },
      "id": "DecodePcIntegrityTokenRequest"
    },
    "TokenPayloadExternal": {
      "id": "TokenPayloadExternal",
      "description": "Contains basic app information and integrity signals like device attestation and licensing details.",
      "properties": {
        "requestDetails": {
          "$ref": "RequestDetails",
          "description": "Required. Details about the integrity request."
        },
        "environmentDetails": {
          "description": "Details of the environment Play Integrity API runs in.",
          "$ref": "EnvironmentDetails"
        },
        "accountDetails": {
          "$ref": "AccountDetails",
          "description": "Required. Details about the Play Store account."
        },
        "appIntegrity": {
          "description": "Required. Details about the application integrity.",
          "$ref": "AppIntegrity"
        },
        "deviceIntegrity": {
          "description": "Required. Details about the device integrity.",
          "$ref": "DeviceIntegrity"
        },
        "testingDetails": {
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status.",
          "$ref": "TestingDetails"
        }
      },
      "type": "object"
    },
    "AppAccessRiskVerdict": {
      "id": "AppAccessRiskVerdict",
      "properties": {
        "appsDetected": {
          "type": "array",
          "description": "List of detected app types signalled for App Access Risk.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Apps detected is unspecified.",
              "One or more apps is installed by Google Play or preloaded on the system partition by the device manufacturer.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to read or capture the requesting app, such as a screen recording app.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to display overlays over the requesting app.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to control the device, such as a remote support app.",
              "One or more unknown apps is installed, that were not installed by Google Play or preloaded on the system partition by the device manufacturer.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to read or capture the requesting app, such as a screen recording app.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to display overlays over the requesting app.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to control the device, such as a remote support app."
            ],
            "enum": [
              "APPS_DETECTED_UNSPECIFIED",
              "KNOWN_INSTALLED",
              "KNOWN_CAPTURING",
              "KNOWN_OVERLAYS",
              "KNOWN_CONTROLLING",
              "UNKNOWN_INSTALLED",
              "UNKNOWN_CAPTURING",
              "UNKNOWN_OVERLAYS",
              "UNKNOWN_CONTROLLING"
            ]
          }
        }
      },
      "description": "Contains signals about others apps on the device which could be used to access or control the requesting app.",
      "type": "object"
    },
    "WriteDeviceRecallResponse": {
      "id": "WriteDeviceRecallResponse",
      "description": "Response for the Write Device Recall action. Currently empty.",
      "properties": {},
      "type": "object"
    },
    "RequestDetails": {
      "id": "RequestDetails",
      "properties": {
        "requestHash": {
          "type": "string",
          "description": "Request hash that was provided in the request."
        },
        "nonce": {
          "description": "Nonce that was provided in the request (which is base64 web-safe no-wrap).",
          "type": "string"
        },
        "requestPackageName": {
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity. For details on application integrity, check application_integrity.",
          "type": "string"
        },
        "timestampMillis": {
          "format": "int64",
          "type": "string",
          "description": "Required. Timestamp, in milliseconds, of the integrity application request."
        }
      },
      "type": "object",
      "description": "Contains the integrity request information."
    },
    "AccountActivity": {
      "properties": {
        "activityLevel": {
          "description": "Required. Indicates the activity level of the account.",
          "type": "string",
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "UNEVALUATED",
            "UNUSUAL",
            "UNKNOWN",
            "TYPICAL_BASIC",
            "TYPICAL_STRONG"
          ],
          "enumDescriptions": [
            "Activity level has not been set.",
            "Account activity level is not evaluated.",
            "Unusual activity for at least one of the user accounts on the device.",
            "Insufficient activity to verify the user account on the device.",
            "Typical activity for the user account or accounts on the device.",
            "Typical for the user account or accounts on the device, with harder to replicate signals."
          ]
        }
      },
      "id": "AccountActivity",
      "type": "object",
      "deprecated": true,
      "description": "(Restricted Access) Contains a signal helping apps differentiating between likely genuine and likely non-genuine user traffic."
    },
    "TestingDetails": {
      "type": "object",
      "id": "TestingDetails",
      "description": "Contains additional information generated for testing responses.",
      "properties": {
        "isTestingResponse": {
          "type": "boolean",
          "description": "Required. Indicates that the information contained in this payload is a testing response that is statically overridden for a tester."
        }
      }
    },
    "DeviceRecall": {
      "id": "DeviceRecall",
      "type": "object",
      "description": "Contains the recall bits per device set by the developer.",
      "properties": {
        "values": {
          "description": "Required. Contains the recall bits values.",
          "$ref": "Values"
        },
        "writeDates": {
          "$ref": "WriteDates",
          "description": "Required. Contains the recall bits write dates."
        }
      }
    },
    "Values": {
      "id": "Values",
      "description": "Contains the recall bits values.",
      "properties": {
        "bitThird": {
          "type": "boolean",
          "description": "Required. Third recall bit value."
        },
        "bitSecond": {
          "type": "boolean",
          "description": "Required. Second recall bit value."
        },
        "bitFirst": {
          "type": "boolean",
          "description": "Required. First recall bit value."
        }
      },
      "type": "object"
    },
    "DeviceIntegrity": {
      "type": "object",
      "id": "DeviceIntegrity",
      "properties": {
        "deviceAttributes": {
          "description": "Attributes of the device where the integrity token was generated.",
          "$ref": "DeviceAttributes"
        },
        "recentDeviceActivity": {
          "description": "Details about the device activity of the device the app is running on.",
          "$ref": "RecentDeviceActivity"
        },
        "legacyDeviceRecognitionVerdict": {
          "type": "array",
          "items": {
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ],
            "type": "string",
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ]
          },
          "description": "Contains legacy details about the integrity of the device the app is running on. Only for devices with Android version T or higher and only for apps opted in to the new verdicts. Only available during the transition period to the new verdicts system and will be removed afterwards."
        },
        "deviceRecognitionVerdict": {
          "type": "array",
          "items": {
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ],
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ],
            "type": "string"
          },
          "description": "Details about the integrity of the device the app is running on."
        },
        "deviceRecall": {
          "$ref": "DeviceRecall",
          "description": "Details about the device recall bits set by the developer."
        }
      },
      "description": "Contains the device attestation information."
    },
    "AppIntegrity": {
      "properties": {
        "appRecognitionVerdict": {
          "description": "Required. Details about the app recognition verdict",
          "type": "string",
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate app integrity",
            "The app and certificate match the versions distributed by Play.",
            "The certificate or package name does not match Google Play records.",
            "Application integrity was not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar."
          ],
          "enum": [
            "UNKNOWN",
            "PLAY_RECOGNIZED",
            "UNRECOGNIZED_VERSION",
            "UNEVALUATED"
          ]
        },
        "packageName": {
          "description": "Package name of the application under attestation. Set iff app_recognition_verdict != UNEVALUATED.",
          "type": "string"
        },
        "certificateSha256Digest": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The SHA256 hash of the requesting app's signing certificates (base64 web-safe encoded). Set iff app_recognition_verdict != UNEVALUATED."
        },
        "versionCode": {
          "description": "Version code of the application. Set iff app_recognition_verdict != UNEVALUATED.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Contains the application integrity information.",
      "id": "AppIntegrity"
    },
    "WriteDeviceRecallRequest": {
      "id": "WriteDeviceRecallRequest",
      "type": "object",
      "properties": {
        "newValues": {
          "$ref": "Values",
          "description": "Required. The new values for the device recall bits to be written."
        },
        "integrityToken": {
          "description": "Required. Integrity token obtained from calling Play Integrity API.",
          "type": "string"
        }
      },
      "description": "Request to write device recall bits."
    },
    "WriteDates": {
      "type": "object",
      "id": "WriteDates",
      "properties": {
        "yyyymmSecond": {
          "type": "integer",
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the second bit. Note that this value won't be set if the second bit is false.",
          "format": "int32"
        },
        "yyyymmFirst": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the first bit. Note that this value won't be set if the first bit is false."
        },
        "yyyymmThird": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the third bit. Note that this value won't be set if the third bit is false."
        }
      },
      "description": "Contains the recall bits write dates."
    },
    "PcAccountDetails": {
      "description": "Contains the account information such as the licensing status for the user in the scope.",
      "id": "PcAccountDetails",
      "type": "object",
      "properties": {
        "appLicensingVerdict": {
          "type": "string",
          "description": "Required. Details about the licensing status of the user for the app in the scope.",
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ],
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The user has a valid license to use the app.",
            "The user does not have a valid license to use the app.",
            "Licensing details were not evaluated since a necessary requirement was missed."
          ]
        }
      }
    },
    "AccountDetails": {
      "description": "Contains the account information such as the licensing status for the user in the scope.",
      "id": "AccountDetails",
      "properties": {
        "accountActivity": {
          "$ref": "AccountActivity",
          "description": "(Restricted Access) Details about the account activity for the user in the scope.",
          "deprecated": true
        },
        "appLicensingVerdict": {
          "type": "string",
          "description": "Required. Details about the licensing status of the user for the app in the scope.",
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ],
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The user has a valid license to use the app.",
            "The user does not have a valid license to use the app.",
            "Licensing details were not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar or the application was not a known Play version."
          ]
        }
      },
      "type": "object"
    },
    "DecodeIntegrityTokenRequest": {
      "id": "DecodeIntegrityTokenRequest",
      "description": "Request to decode the integrity token.",
      "properties": {
        "integrityToken": {
          "type": "string",
          "description": "Encoded integrity token."
        }
      },
      "type": "object"
    },
    "EnvironmentDetails": {
      "type": "object",
      "id": "EnvironmentDetails",
      "description": "Contains information about the environment Play Integrity API runs in, e.g. Play Protect verdict.",
      "properties": {
        "playProtectVerdict": {
          "enumDescriptions": [
            "Play Protect verdict has not been set.",
            "Play Protect state was not evaluated. Device may not be trusted.",
            "Play Protect is on and no issues found.",
            "Play Protect is on but no scan has been performed yet. The device or Play Store app may have been reset.",
            "Play Protect is on and warnings found.",
            "Play Protect is on and high severity issues found.",
            "Play Protect is turned off. Turn on Play Protect."
          ],
          "description": "The evaluation of Play Protect verdict.",
          "enum": [
            "PLAY_PROTECT_VERDICT_UNSPECIFIED",
            "UNEVALUATED",
            "NO_ISSUES",
            "NO_DATA",
            "MEDIUM_RISK",
            "HIGH_RISK",
            "POSSIBLE_RISK"
          ],
          "type": "string"
        },
        "appAccessRiskVerdict": {
          "description": "The evaluation of the App Access Risk verdicts.",
          "$ref": "AppAccessRiskVerdict"
        },
        "locationSpoofingRiskVerdict": {
          "type": "array",
          "description": "The evaluation of the Location Spoofing Risk verdict.",
          "items": {
            "enum": [
              "LOCATION_SPOOFING_RISK_VERDICT_UNSPECIFIED",
              "LOW_RISK_DEVICE",
              "LOW_RISK_NETWORK",
              "MEDIUM_RISK_DEVICE",
              "MEDIUM_RISK_NETWORK",
              "HIGH_RISK_DEVICE",
              "HIGH_RISK_NETWORK"
            ],
            "enumDescriptions": [
              "Catch-all for unrecognized enum values.",
              "Device-related spoofing was evaluated, and no issues were detected.",
              "Network-related spoofing was evaluated, and no issues were detected.",
              "Potential device-related spoofing was detected.",
              "Potential network-related spoofing was detected.",
              "Likely device-related spoofing was detected.",
              "Likely network-related spoofing was detected."
            ],
            "type": "string"
          }
        }
      }
    },
    "PcDeviceIntegrity": {
      "description": "Contains the device attestation information.",
      "id": "PcDeviceIntegrity",
      "properties": {
        "deviceRecognitionVerdict": {
          "description": "Details about the integrity of the device the app is running on.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified device integrity.",
              "App is running on Windows Device with Google Desktop Services."
            ],
            "enum": [
              "DEVICE_RECOGNITION_VERDICT_UNSPECIFIED",
              "MEETS_PC_INTEGRITY"
            ]
          }
        }
      },
      "type": "object"
    },
    "PcTokenPayloadExternal": {
      "description": "Contains PC device attestation details.",
      "properties": {
        "accountDetails": {
          "description": "Details about the account information such as the licensing status.",
          "$ref": "PcAccountDetails"
        },
        "requestDetails": {
          "description": "Required. Details about the integrity request.",
          "$ref": "PcRequestDetails"
        },
        "testingDetails": {
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status.",
          "$ref": "PcTestingDetails"
        },
        "deviceIntegrity": {
          "$ref": "PcDeviceIntegrity",
          "description": "Required. Details about the device integrity."
        }
      },
      "type": "object",
      "id": "PcTokenPayloadExternal"
    },
    "DecodePcIntegrityTokenResponse": {
      "properties": {
        "tokenPayloadExternal": {
          "description": "Plain token payload generated from the decoded integrity token.",
          "$ref": "PcTokenPayloadExternal"
        }
      },
      "description": "Response containing the decoded PC integrity payload.",
      "type": "object",
      "id": "DecodePcIntegrityTokenResponse"
    }
  },
  "version_module": true
}