{
  "ownerName": "Google",
  "description": "The Play Integrity API helps you check that you're interacting with your genuine app on a genuine Android device powered by Google Play services. The Play Integrity API has replaced SafetyNet Attestation and Android Device Verification.",
  "revision": "20260827",
  "title": "Google Play Integrity API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/playintegrity": {
          "description": "Private Service: https://www.googleapis.com/auth/playintegrity"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "name": "playintegrity",
  "schemas": {
    "PcRequestDetails": {
      "properties": {
        "requestTime": {
          "description": "Required. Timestamp, of the integrity application request.",
          "type": "string",
          "format": "google-datetime"
        },
        "requestPackageName": {
          "type": "string",
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity."
        },
        "requestHash": {
          "description": "Request hash that was provided in the request.",
          "type": "string"
        }
      },
      "description": "Contains the integrity request information.",
      "type": "object",
      "id": "PcRequestDetails"
    },
    "DeviceAttributes": {
      "type": "object",
      "description": "Contains information about the device for which the integrity token was generated, e.g. Android SDK version.",
      "id": "DeviceAttributes",
      "properties": {
        "sdkVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Android SDK version of the device, as defined in the public Android documentation: https://developer.android.com/reference/android/os/Build.VERSION_CODES. It won't be set if a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar."
        }
      }
    },
    "DeviceRecall": {
      "id": "DeviceRecall",
      "type": "object",
      "description": "Contains the recall bits per device set by the developer.",
      "properties": {
        "writeDates": {
          "$ref": "WriteDates",
          "description": "Required. Contains the recall bits write dates."
        },
        "values": {
          "$ref": "Values",
          "description": "Required. Contains the recall bits values."
        }
      }
    },
    "PcDeviceIntegrity": {
      "id": "PcDeviceIntegrity",
      "properties": {
        "deviceRecognitionVerdict": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified device integrity.",
              "App is running on Windows Device with Google Desktop Services."
            ],
            "enum": [
              "DEVICE_RECOGNITION_VERDICT_UNSPECIFIED",
              "MEETS_PC_INTEGRITY"
            ],
            "type": "string"
          },
          "description": "Details about the integrity of the device the app is running on."
        }
      },
      "type": "object",
      "description": "Contains the device attestation information."
    },
    "WriteDeviceRecallResponse": {
      "type": "object",
      "description": "Response for the Write Device Recall action. Currently empty.",
      "properties": {},
      "id": "WriteDeviceRecallResponse"
    },
    "PcTestingDetails": {
      "description": "Contains additional information generated for testing responses.",
      "type": "object",
      "properties": {
        "isTestingResponse": {
          "type": "boolean",
          "description": "Indicates that the information contained in this payload is a testing response that is statically overridden for a tester."
        }
      },
      "id": "PcTestingDetails"
    },
    "RequestDetails": {
      "id": "RequestDetails",
      "description": "Contains the integrity request information.",
      "properties": {
        "nonce": {
          "description": "Nonce that was provided in the request (which is base64 web-safe no-wrap).",
          "type": "string"
        },
        "requestHash": {
          "description": "Request hash that was provided in the request.",
          "type": "string"
        },
        "timestampMillis": {
          "description": "Required. Timestamp, in milliseconds, of the integrity application request.",
          "format": "int64",
          "type": "string"
        },
        "requestPackageName": {
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity. For details on application integrity, check application_integrity.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AppIntegrity": {
      "description": "Contains the application integrity information.",
      "type": "object",
      "properties": {
        "versionCode": {
          "format": "int64",
          "description": "Version code of the application. Set iff app_recognition_verdict != UNEVALUATED.",
          "type": "string"
        },
        "certificateSha256Digest": {
          "type": "array",
          "description": "The SHA256 hash of the requesting app's signing certificates (base64 web-safe encoded). Set iff app_recognition_verdict != UNEVALUATED.",
          "items": {
            "type": "string"
          }
        },
        "appRecognitionVerdict": {
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate app integrity",
            "The app and certificate match the versions distributed by Play.",
            "The certificate or package name does not match Google Play records.",
            "Application integrity was not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar."
          ],
          "enum": [
            "UNKNOWN",
            "PLAY_RECOGNIZED",
            "UNRECOGNIZED_VERSION",
            "UNEVALUATED"
          ],
          "description": "Required. Details about the app recognition verdict",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "Package name of the application under attestation. Set iff app_recognition_verdict != UNEVALUATED."
        }
      },
      "id": "AppIntegrity"
    },
    "DecodeIntegrityTokenResponse": {
      "properties": {
        "tokenPayloadExternal": {
          "description": "Plain token payload generated from the decoded integrity token.",
          "$ref": "TokenPayloadExternal"
        }
      },
      "id": "DecodeIntegrityTokenResponse",
      "description": "Response containing the decoded integrity payload.",
      "type": "object"
    },
    "AccountDetails": {
      "type": "object",
      "properties": {
        "appLicensingVerdict": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ],
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The user has a valid license to use the app.",
            "The user does not have a valid license to use the app.",
            "Licensing details were not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar or the application was not a known Play version."
          ],
          "description": "Required. Details about the licensing status of the user for the app in the scope."
        },
        "accountActivity": {
          "deprecated": true,
          "$ref": "AccountActivity",
          "description": "(Restricted Access) Details about the account activity for the user in the scope."
        }
      },
      "description": "Contains the account information such as the licensing status for the user in the scope.",
      "id": "AccountDetails"
    },
    "PcAccountDetails": {
      "id": "PcAccountDetails",
      "description": "Contains the account information such as the licensing status for the user in the scope.",
      "properties": {
        "appLicensingVerdict": {
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ],
          "description": "Required. Details about the licensing status of the user for the app in the scope.",
          "type": "string",
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The user has a valid license to use the app.",
            "The user does not have a valid license to use the app.",
            "Licensing details were not evaluated since a necessary requirement was missed."
          ]
        }
      },
      "type": "object"
    },
    "DecodePcIntegrityTokenResponse": {
      "type": "object",
      "description": "Response containing the decoded PC integrity payload.",
      "id": "DecodePcIntegrityTokenResponse",
      "properties": {
        "tokenPayloadExternal": {
          "$ref": "PcTokenPayloadExternal",
          "description": "Plain token payload generated from the decoded integrity token."
        }
      }
    },
    "AppAccessRiskVerdict": {
      "type": "object",
      "description": "Contains signals about others apps on the device which could be used to access or control the requesting app.",
      "id": "AppAccessRiskVerdict",
      "properties": {
        "appsDetected": {
          "items": {
            "enumDescriptions": [
              "Apps detected is unspecified.",
              "One or more apps is installed by Google Play or preloaded on the system partition by the device manufacturer.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to read or capture the requesting app, such as a screen recording app.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to display overlays over the requesting app.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to control the device, such as a remote support app.",
              "One or more unknown apps is installed, that were not installed by Google Play or preloaded on the system partition by the device manufacturer.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to read or capture the requesting app, such as a screen recording app.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to display overlays over the requesting app.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to control the device, such as a remote support app."
            ],
            "enum": [
              "APPS_DETECTED_UNSPECIFIED",
              "KNOWN_INSTALLED",
              "KNOWN_CAPTURING",
              "KNOWN_OVERLAYS",
              "KNOWN_CONTROLLING",
              "UNKNOWN_INSTALLED",
              "UNKNOWN_CAPTURING",
              "UNKNOWN_OVERLAYS",
              "UNKNOWN_CONTROLLING"
            ],
            "type": "string"
          },
          "description": "List of detected app types signalled for App Access Risk.",
          "type": "array"
        }
      }
    },
    "Values": {
      "type": "object",
      "properties": {
        "bitThird": {
          "type": "boolean",
          "description": "Required. Third recall bit value."
        },
        "bitSecond": {
          "description": "Required. Second recall bit value.",
          "type": "boolean"
        },
        "bitFirst": {
          "description": "Required. First recall bit value.",
          "type": "boolean"
        }
      },
      "id": "Values",
      "description": "Contains the recall bits values."
    },
    "WriteDates": {
      "type": "object",
      "id": "WriteDates",
      "properties": {
        "yyyymmSecond": {
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the second bit. Note that this value won't be set if the second bit is false.",
          "type": "integer",
          "format": "int32"
        },
        "yyyymmThird": {
          "format": "int32",
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the third bit. Note that this value won't be set if the third bit is false.",
          "type": "integer"
        },
        "yyyymmFirst": {
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the first bit. Note that this value won't be set if the first bit is false.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Contains the recall bits write dates."
    },
    "TestingDetails": {
      "properties": {
        "isTestingResponse": {
          "description": "Required. Indicates that the information contained in this payload is a testing response that is statically overridden for a tester.",
          "type": "boolean"
        }
      },
      "id": "TestingDetails",
      "type": "object",
      "description": "Contains additional information generated for testing responses."
    },
    "DeviceIntegrity": {
      "description": "Contains the device attestation information.",
      "properties": {
        "deviceAttributes": {
          "description": "Attributes of the device where the integrity token was generated.",
          "$ref": "DeviceAttributes"
        },
        "deviceRecognitionVerdict": {
          "description": "Details about the integrity of the device the app is running on.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ],
            "type": "string",
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ]
          }
        },
        "deviceRecall": {
          "$ref": "DeviceRecall",
          "description": "Details about the device recall bits set by the developer."
        },
        "recentDeviceActivity": {
          "description": "Details about the device activity of the device the app is running on.",
          "$ref": "RecentDeviceActivity"
        },
        "legacyDeviceRecognitionVerdict": {
          "description": "Contains legacy details about the integrity of the device the app is running on. Only for devices with Android version T or higher and only for apps opted in to the new verdicts. Only available during the transition period to the new verdicts system and will be removed afterwards.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ],
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ],
            "type": "string"
          }
        }
      },
      "id": "DeviceIntegrity",
      "type": "object"
    },
    "PcTokenPayloadExternal": {
      "description": "Contains PC device attestation details.",
      "id": "PcTokenPayloadExternal",
      "type": "object",
      "properties": {
        "deviceIntegrity": {
          "$ref": "PcDeviceIntegrity",
          "description": "Required. Details about the device integrity."
        },
        "accountDetails": {
          "$ref": "PcAccountDetails",
          "description": "Details about the account information such as the licensing status."
        },
        "testingDetails": {
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status.",
          "$ref": "PcTestingDetails"
        },
        "requestDetails": {
          "description": "Required. Details about the integrity request.",
          "$ref": "PcRequestDetails"
        }
      }
    },
    "DecodePcIntegrityTokenRequest": {
      "description": "Request to decode the PC integrity token.",
      "properties": {
        "integrityToken": {
          "type": "string",
          "description": "Encoded integrity token."
        }
      },
      "type": "object",
      "id": "DecodePcIntegrityTokenRequest"
    },
    "RecentDeviceActivity": {
      "id": "RecentDeviceActivity",
      "description": "Recent device activity can help developers identify devices that have exhibited hyperactive attestation activity, which could be a sign of an attack or token farming.",
      "properties": {
        "deviceActivityLevel": {
          "type": "string",
          "enumDescriptions": [
            "Device activity level has not been set.",
            "Device activity level has not been evaluated.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details."
          ],
          "enum": [
            "DEVICE_ACTIVITY_LEVEL_UNSPECIFIED",
            "UNEVALUATED",
            "LEVEL_1",
            "LEVEL_2",
            "LEVEL_3",
            "LEVEL_4"
          ],
          "description": "Required. Indicates the activity level of the device."
        }
      },
      "type": "object"
    },
    "WriteDeviceRecallRequest": {
      "id": "WriteDeviceRecallRequest",
      "type": "object",
      "properties": {
        "newValues": {
          "description": "Required. The new values for the device recall bits to be written.",
          "$ref": "Values"
        },
        "integrityToken": {
          "type": "string",
          "description": "Required. Integrity token obtained from calling Play Integrity API."
        }
      },
      "description": "Request to write device recall bits."
    },
    "DecodeIntegrityTokenRequest": {
      "properties": {
        "integrityToken": {
          "description": "Encoded integrity token.",
          "type": "string"
        }
      },
      "description": "Request to decode the integrity token.",
      "type": "object",
      "id": "DecodeIntegrityTokenRequest"
    },
    "AccountActivity": {
      "description": "(Restricted Access) Contains a signal helping apps differentiating between likely genuine and likely non-genuine user traffic.",
      "type": "object",
      "id": "AccountActivity",
      "properties": {
        "activityLevel": {
          "type": "string",
          "enumDescriptions": [
            "Activity level has not been set.",
            "Account activity level is not evaluated.",
            "Unusual activity for at least one of the user accounts on the device.",
            "Insufficient activity to verify the user account on the device.",
            "Typical activity for the user account or accounts on the device.",
            "Typical for the user account or accounts on the device, with harder to replicate signals."
          ],
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "UNEVALUATED",
            "UNUSUAL",
            "UNKNOWN",
            "TYPICAL_BASIC",
            "TYPICAL_STRONG"
          ],
          "description": "Required. Indicates the activity level of the account."
        }
      },
      "deprecated": true
    },
    "TokenPayloadExternal": {
      "properties": {
        "environmentDetails": {
          "description": "Details of the environment Play Integrity API runs in.",
          "$ref": "EnvironmentDetails"
        },
        "testingDetails": {
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status.",
          "$ref": "TestingDetails"
        },
        "deviceIntegrity": {
          "$ref": "DeviceIntegrity",
          "description": "Required. Details about the device integrity."
        },
        "requestDetails": {
          "description": "Required. Details about the integrity request.",
          "$ref": "RequestDetails"
        },
        "accountDetails": {
          "$ref": "AccountDetails",
          "description": "Required. Details about the Play Store account."
        },
        "appIntegrity": {
          "description": "Required. Details about the application integrity.",
          "$ref": "AppIntegrity"
        }
      },
      "id": "TokenPayloadExternal",
      "type": "object",
      "description": "Contains basic app information and integrity signals like device attestation and licensing details."
    },
    "EnvironmentDetails": {
      "description": "Contains information about the environment Play Integrity API runs in, e.g. Play Protect verdict.",
      "properties": {
        "appAccessRiskVerdict": {
          "description": "The evaluation of the App Access Risk verdicts.",
          "$ref": "AppAccessRiskVerdict"
        },
        "playProtectVerdict": {
          "enumDescriptions": [
            "Play Protect verdict has not been set.",
            "Play Protect state was not evaluated. Device may not be trusted.",
            "Play Protect is on and no issues found.",
            "Play Protect is on but no scan has been performed yet. The device or Play Store app may have been reset.",
            "Play Protect is on and warnings found.",
            "Play Protect is on and high severity issues found.",
            "Play Protect is turned off. Turn on Play Protect."
          ],
          "type": "string",
          "description": "The evaluation of Play Protect verdict.",
          "enum": [
            "PLAY_PROTECT_VERDICT_UNSPECIFIED",
            "UNEVALUATED",
            "NO_ISSUES",
            "NO_DATA",
            "MEDIUM_RISK",
            "HIGH_RISK",
            "POSSIBLE_RISK"
          ]
        }
      },
      "id": "EnvironmentDetails",
      "type": "object"
    }
  },
  "basePath": "",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developer.android.com/google/play/integrity",
  "resources": {
    "deviceRecall": {
      "methods": {
        "write": {
          "parameterOrder": [
            "packageName"
          ],
          "id": "playintegrity.deviceRecall.write",
          "request": {
            "$ref": "WriteDeviceRecallRequest"
          },
          "description": "Writes recall bits for the device where Play Integrity API token is obtained. The endpoint is available to select Play partners in an early access program (EAP).",
          "httpMethod": "POST",
          "path": "v1/{+packageName}/deviceRecall:write",
          "parameters": {
            "packageName": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^[^/]+$",
              "description": "Required. Package name of the app the attached integrity token belongs to."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "flatPath": "v1/{v1Id}/deviceRecall:write",
          "response": {
            "$ref": "WriteDeviceRecallResponse"
          }
        }
      }
    },
    "v1": {
      "methods": {
        "decodePcIntegrityToken": {
          "request": {
            "$ref": "DecodePcIntegrityTokenRequest"
          },
          "flatPath": "v1/{v1Id}:decodePcIntegrityToken",
          "parameterOrder": [
            "packageName"
          ],
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Package name of the app the attached integrity token belongs to.",
              "pattern": "^[^/]+$"
            }
          },
          "response": {
            "$ref": "DecodePcIntegrityTokenResponse"
          },
          "id": "playintegrity.decodePcIntegrityToken",
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "path": "v1/{+packageName}:decodePcIntegrityToken",
          "description": "Decodes the PC integrity token and returns the PC token payload."
        },
        "decodeIntegrityToken": {
          "flatPath": "v1/{v1Id}:decodeIntegrityToken",
          "response": {
            "$ref": "DecodeIntegrityTokenResponse"
          },
          "id": "playintegrity.decodeIntegrityToken",
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "path": "v1/{+packageName}:decodeIntegrityToken",
          "description": "Decodes the integrity token and returns the token payload.",
          "parameterOrder": [
            "packageName"
          ],
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "location": "path",
              "pattern": "^[^/]+$",
              "required": true,
              "type": "string",
              "description": " Package name of the app the attached integrity token belongs to."
            }
          },
          "request": {
            "$ref": "DecodeIntegrityTokenRequest"
          }
        }
      }
    }
  },
  "protocol": "rest",
  "rootUrl": "https://playintegrity.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Play Integrity",
  "version": "v1",
  "servicePath": "",
  "baseUrl": "https://playintegrity.googleapis.com/",
  "version_module": true,
  "mtlsRootUrl": "https://playintegrity.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "playintegrity:v1",
  "ownerDomain": "google.com",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    }
  }
}