{
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "documentationLink": "https://developer.android.com/google/play/integrity",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    }
  },
  "version": "v1",
  "revision": "20260901",
  "id": "playintegrity:v1",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "resources": {
    "deviceRecall": {
      "methods": {
        "write": {
          "description": "Writes recall bits for the device where Play Integrity API token is obtained. The endpoint is available to select Play partners in an early access program (EAP).",
          "request": {
            "$ref": "WriteDeviceRecallRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "parameters": {
            "packageName": {
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "description": "Required. Package name of the app the attached integrity token belongs to.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "WriteDeviceRecallResponse"
          },
          "path": "v1/{+packageName}/deviceRecall:write",
          "httpMethod": "POST",
          "parameterOrder": [
            "packageName"
          ],
          "flatPath": "v1/{v1Id}/deviceRecall:write",
          "id": "playintegrity.deviceRecall.write"
        }
      }
    },
    "v1": {
      "methods": {
        "decodeIntegrityToken": {
          "flatPath": "v1/{v1Id}:decodeIntegrityToken",
          "parameterOrder": [
            "packageName"
          ],
          "path": "v1/{+packageName}:decodeIntegrityToken",
          "httpMethod": "POST",
          "description": "Decodes the integrity token and returns the token payload.",
          "response": {
            "$ref": "DecodeIntegrityTokenResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "request": {
            "$ref": "DecodeIntegrityTokenRequest"
          },
          "parameters": {
            "packageName": {
              "description": " Package name of the app the attached integrity token belongs to.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^[^/]+$"
            }
          },
          "id": "playintegrity.decodeIntegrityToken"
        },
        "decodePcIntegrityToken": {
          "parameterOrder": [
            "packageName"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "DecodePcIntegrityTokenRequest"
          },
          "flatPath": "v1/{v1Id}:decodePcIntegrityToken",
          "id": "playintegrity.decodePcIntegrityToken",
          "parameters": {
            "packageName": {
              "description": "Package name of the app the attached integrity token belongs to.",
              "required": true,
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/playintegrity"
          ],
          "path": "v1/{+packageName}:decodePcIntegrityToken",
          "response": {
            "$ref": "DecodePcIntegrityTokenResponse"
          },
          "description": "Decodes the PC integrity token and returns the PC token payload."
        }
      }
    }
  },
  "canonicalName": "Play Integrity",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/playintegrity": {
          "description": "Private Service: https://www.googleapis.com/auth/playintegrity"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "baseUrl": "https://playintegrity.googleapis.com/",
  "name": "playintegrity",
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "description": "The Play Integrity API helps you check that you're interacting with your genuine app on a genuine Android device powered by Google Play services. The Play Integrity API has replaced SafetyNet Attestation and Android Device Verification.",
  "batchPath": "batch",
  "protocol": "rest",
  "schemas": {
    "Values": {
      "description": "Contains the recall bits values.",
      "id": "Values",
      "type": "object",
      "properties": {
        "bitSecond": {
          "description": "Required. Second recall bit value.",
          "type": "boolean"
        },
        "bitFirst": {
          "type": "boolean",
          "description": "Required. First recall bit value."
        },
        "bitThird": {
          "description": "Required. Third recall bit value.",
          "type": "boolean"
        }
      }
    },
    "RecentDeviceActivity": {
      "description": "Recent device activity can help developers identify devices that have exhibited hyperactive attestation activity, which could be a sign of an attack or token farming.",
      "type": "object",
      "properties": {
        "deviceActivityLevel": {
          "type": "string",
          "enum": [
            "DEVICE_ACTIVITY_LEVEL_UNSPECIFIED",
            "UNEVALUATED",
            "LEVEL_1",
            "LEVEL_2",
            "LEVEL_3",
            "LEVEL_4"
          ],
          "enumDescriptions": [
            "Device activity level has not been set.",
            "Device activity level has not been evaluated.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details.",
            "Indicates the amount of used tokens. See the documentation for details."
          ],
          "description": "Required. Indicates the activity level of the device."
        }
      },
      "id": "RecentDeviceActivity"
    },
    "AccountActivity": {
      "id": "AccountActivity",
      "description": "(Restricted Access) Contains a signal helping apps differentiating between likely genuine and likely non-genuine user traffic.",
      "deprecated": true,
      "type": "object",
      "properties": {
        "activityLevel": {
          "description": "Required. Indicates the activity level of the account.",
          "type": "string",
          "enum": [
            "ACTIVITY_LEVEL_UNSPECIFIED",
            "UNEVALUATED",
            "UNUSUAL",
            "UNKNOWN",
            "TYPICAL_BASIC",
            "TYPICAL_STRONG"
          ],
          "enumDescriptions": [
            "Activity level has not been set.",
            "Account activity level is not evaluated.",
            "Unusual activity for at least one of the user accounts on the device.",
            "Insufficient activity to verify the user account on the device.",
            "Typical activity for the user account or accounts on the device.",
            "Typical for the user account or accounts on the device, with harder to replicate signals."
          ]
        }
      }
    },
    "PcDeviceIntegrity": {
      "description": "Contains the device attestation information.",
      "type": "object",
      "id": "PcDeviceIntegrity",
      "properties": {
        "deviceRecognitionVerdict": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified device integrity.",
              "App is running on Windows Device with Google Desktop Services."
            ],
            "type": "string",
            "enum": [
              "DEVICE_RECOGNITION_VERDICT_UNSPECIFIED",
              "MEETS_PC_INTEGRITY"
            ]
          },
          "description": "Details about the integrity of the device the app is running on."
        }
      }
    },
    "WriteDeviceRecallRequest": {
      "id": "WriteDeviceRecallRequest",
      "type": "object",
      "properties": {
        "newValues": {
          "description": "Required. The new values for the device recall bits to be written.",
          "$ref": "Values"
        },
        "integrityToken": {
          "type": "string",
          "description": "Required. Integrity token obtained from calling Play Integrity API."
        }
      },
      "description": "Request to write device recall bits."
    },
    "TokenPayloadExternal": {
      "description": "Contains basic app information and integrity signals like device attestation and licensing details.",
      "id": "TokenPayloadExternal",
      "properties": {
        "accountDetails": {
          "description": "Required. Details about the Play Store account.",
          "$ref": "AccountDetails"
        },
        "requestDetails": {
          "$ref": "RequestDetails",
          "description": "Required. Details about the integrity request."
        },
        "deviceIntegrity": {
          "$ref": "DeviceIntegrity",
          "description": "Required. Details about the device integrity."
        },
        "appIntegrity": {
          "$ref": "AppIntegrity",
          "description": "Required. Details about the application integrity."
        },
        "environmentDetails": {
          "$ref": "EnvironmentDetails",
          "description": "Details of the environment Play Integrity API runs in."
        },
        "testingDetails": {
          "$ref": "TestingDetails",
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status."
        }
      },
      "type": "object"
    },
    "DecodeIntegrityTokenResponse": {
      "type": "object",
      "properties": {
        "tokenPayloadExternal": {
          "description": "Plain token payload generated from the decoded integrity token.",
          "$ref": "TokenPayloadExternal"
        }
      },
      "id": "DecodeIntegrityTokenResponse",
      "description": "Response containing the decoded integrity payload."
    },
    "DeviceAttributes": {
      "type": "object",
      "id": "DeviceAttributes",
      "description": "Contains information about the device for which the integrity token was generated, e.g. Android SDK version.",
      "properties": {
        "sdkVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Android SDK version of the device, as defined in the public Android documentation: https://developer.android.com/reference/android/os/Build.VERSION_CODES. It won't be set if a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar."
        }
      }
    },
    "TestingDetails": {
      "type": "object",
      "properties": {
        "isTestingResponse": {
          "description": "Required. Indicates that the information contained in this payload is a testing response that is statically overridden for a tester.",
          "type": "boolean"
        }
      },
      "description": "Contains additional information generated for testing responses.",
      "id": "TestingDetails"
    },
    "DecodeIntegrityTokenRequest": {
      "properties": {
        "integrityToken": {
          "description": "Encoded integrity token.",
          "type": "string"
        }
      },
      "description": "Request to decode the integrity token.",
      "type": "object",
      "id": "DecodeIntegrityTokenRequest"
    },
    "WriteDeviceRecallResponse": {
      "id": "WriteDeviceRecallResponse",
      "type": "object",
      "properties": {},
      "description": "Response for the Write Device Recall action. Currently empty."
    },
    "AppAccessRiskVerdict": {
      "type": "object",
      "description": "Contains signals about others apps on the device which could be used to access or control the requesting app.",
      "id": "AppAccessRiskVerdict",
      "properties": {
        "appsDetected": {
          "type": "array",
          "description": "List of detected app types signalled for App Access Risk.",
          "items": {
            "enum": [
              "APPS_DETECTED_UNSPECIFIED",
              "KNOWN_INSTALLED",
              "KNOWN_CAPTURING",
              "KNOWN_OVERLAYS",
              "KNOWN_CONTROLLING",
              "UNKNOWN_INSTALLED",
              "UNKNOWN_CAPTURING",
              "UNKNOWN_OVERLAYS",
              "UNKNOWN_CONTROLLING"
            ],
            "type": "string",
            "enumDescriptions": [
              "Apps detected is unspecified.",
              "One or more apps is installed by Google Play or preloaded on the system partition by the device manufacturer.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to read or capture the requesting app, such as a screen recording app.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to display overlays over the requesting app.",
              "One or more apps installed by Google Play or preloaded on the device is running that could be used to control the device, such as a remote support app.",
              "One or more unknown apps is installed, that were not installed by Google Play or preloaded on the system partition by the device manufacturer.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to read or capture the requesting app, such as a screen recording app.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to display overlays over the requesting app.",
              "One or more unknown apps, which were not installed by Google Play or preloaded on the device, is running that could be used to control the device, such as a remote support app."
            ]
          }
        }
      }
    },
    "PcTestingDetails": {
      "type": "object",
      "id": "PcTestingDetails",
      "description": "Contains additional information generated for testing responses.",
      "properties": {
        "isTestingResponse": {
          "type": "boolean",
          "description": "Indicates that the information contained in this payload is a testing response that is statically overridden for a tester."
        }
      }
    },
    "RequestDetails": {
      "properties": {
        "nonce": {
          "description": "Nonce that was provided in the request (which is base64 web-safe no-wrap).",
          "type": "string"
        },
        "requestHash": {
          "description": "Request hash that was provided in the request.",
          "type": "string"
        },
        "timestampMillis": {
          "format": "int64",
          "description": "Required. Timestamp, in milliseconds, of the integrity application request.",
          "type": "string"
        },
        "requestPackageName": {
          "type": "string",
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity. For details on application integrity, check application_integrity."
        }
      },
      "id": "RequestDetails",
      "type": "object",
      "description": "Contains the integrity request information."
    },
    "AccountDetails": {
      "properties": {
        "appLicensingVerdict": {
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The user has a valid license to use the app.",
            "The user does not have a valid license to use the app.",
            "Licensing details were not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar or the application was not a known Play version."
          ],
          "description": "Required. Details about the licensing status of the user for the app in the scope."
        },
        "accountActivity": {
          "$ref": "AccountActivity",
          "deprecated": true,
          "description": "(Restricted Access) Details about the account activity for the user in the scope."
        }
      },
      "description": "Contains the account information such as the licensing status for the user in the scope.",
      "id": "AccountDetails",
      "type": "object"
    },
    "EnvironmentDetails": {
      "id": "EnvironmentDetails",
      "properties": {
        "appAccessRiskVerdict": {
          "description": "The evaluation of the App Access Risk verdicts.",
          "$ref": "AppAccessRiskVerdict"
        },
        "playProtectVerdict": {
          "description": "The evaluation of Play Protect verdict.",
          "type": "string",
          "enumDescriptions": [
            "Play Protect verdict has not been set.",
            "Play Protect state was not evaluated. Device may not be trusted.",
            "Play Protect is on and no issues found.",
            "Play Protect is on but no scan has been performed yet. The device or Play Store app may have been reset.",
            "Play Protect is on and warnings found.",
            "Play Protect is on and high severity issues found.",
            "Play Protect is turned off. Turn on Play Protect."
          ],
          "enum": [
            "PLAY_PROTECT_VERDICT_UNSPECIFIED",
            "UNEVALUATED",
            "NO_ISSUES",
            "NO_DATA",
            "MEDIUM_RISK",
            "HIGH_RISK",
            "POSSIBLE_RISK"
          ]
        }
      },
      "type": "object",
      "description": "Contains information about the environment Play Integrity API runs in, e.g. Play Protect verdict."
    },
    "DeviceIntegrity": {
      "description": "Contains the device attestation information.",
      "id": "DeviceIntegrity",
      "properties": {
        "deviceAttributes": {
          "$ref": "DeviceAttributes",
          "description": "Attributes of the device where the integrity token was generated."
        },
        "recentDeviceActivity": {
          "description": "Details about the device activity of the device the app is running on.",
          "$ref": "RecentDeviceActivity"
        },
        "deviceRecognitionVerdict": {
          "type": "array",
          "description": "Details about the integrity of the device the app is running on.",
          "items": {
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ],
            "type": "string",
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ]
          }
        },
        "legacyDeviceRecognitionVerdict": {
          "items": {
            "enum": [
              "UNKNOWN",
              "MEETS_BASIC_INTEGRITY",
              "MEETS_DEVICE_INTEGRITY",
              "MEETS_STRONG_INTEGRITY",
              "MEETS_VIRTUAL_INTEGRITY"
            ],
            "enumDescriptions": [
              "Play does not have sufficient information to evaluate device integrity",
              "App is running on a device that passes basic system integrity checks, but may not meet Android platform compatibility requirements and may not be approved to run Google Play services.",
              "App is running on GMS Android device with Google Play services.",
              "App is running on GMS Android device with Google Play services and has a strong guarantee of system integrity such as a hardware-backed keystore.",
              "App is running on an Android emulator with Google Play services which meets core Android compatibility requirements."
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Contains legacy details about the integrity of the device the app is running on. Only for devices with Android version T or higher and only for apps opted in to the new verdicts. Only available during the transition period to the new verdicts system and will be removed afterwards."
        },
        "deviceRecall": {
          "$ref": "DeviceRecall",
          "description": "Details about the device recall bits set by the developer."
        }
      },
      "type": "object"
    },
    "DeviceRecall": {
      "description": "Contains the recall bits per device set by the developer.",
      "properties": {
        "writeDates": {
          "description": "Required. Contains the recall bits write dates.",
          "$ref": "WriteDates"
        },
        "values": {
          "description": "Required. Contains the recall bits values.",
          "$ref": "Values"
        }
      },
      "id": "DeviceRecall",
      "type": "object"
    },
    "PcRequestDetails": {
      "id": "PcRequestDetails",
      "description": "Contains the integrity request information.",
      "properties": {
        "requestPackageName": {
          "description": "Required. Application package name this attestation was requested for. Note: This field makes no guarantees or promises on the caller integrity.",
          "type": "string"
        },
        "requestTime": {
          "type": "string",
          "description": "Required. Timestamp, of the integrity application request.",
          "format": "google-datetime"
        },
        "requestHash": {
          "description": "Request hash that was provided in the request.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "WriteDates": {
      "description": "Contains the recall bits write dates.",
      "id": "WriteDates",
      "type": "object",
      "properties": {
        "yyyymmSecond": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the second bit. Note that this value won't be set if the second bit is false."
        },
        "yyyymmThird": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the third bit. Note that this value won't be set if the third bit is false."
        },
        "yyyymmFirst": {
          "format": "int32",
          "description": "Optional. Write time in YYYYMM format (in UTC, e.g. 202402) for the first bit. Note that this value won't be set if the first bit is false.",
          "type": "integer"
        }
      }
    },
    "PcTokenPayloadExternal": {
      "properties": {
        "requestDetails": {
          "$ref": "PcRequestDetails",
          "description": "Required. Details about the integrity request."
        },
        "testingDetails": {
          "$ref": "PcTestingDetails",
          "description": "Indicates that this payload is generated for testing purposes and contains any additional data that is linked with testing status."
        },
        "accountDetails": {
          "description": "Details about the account information such as the licensing status.",
          "$ref": "PcAccountDetails"
        },
        "deviceIntegrity": {
          "description": "Required. Details about the device integrity.",
          "$ref": "PcDeviceIntegrity"
        }
      },
      "type": "object",
      "description": "Contains PC device attestation details.",
      "id": "PcTokenPayloadExternal"
    },
    "DecodePcIntegrityTokenResponse": {
      "id": "DecodePcIntegrityTokenResponse",
      "type": "object",
      "properties": {
        "tokenPayloadExternal": {
          "$ref": "PcTokenPayloadExternal",
          "description": "Plain token payload generated from the decoded integrity token."
        }
      },
      "description": "Response containing the decoded PC integrity payload."
    },
    "PcAccountDetails": {
      "description": "Contains the account information such as the licensing status for the user in the scope.",
      "properties": {
        "appLicensingVerdict": {
          "type": "string",
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate licensing details",
            "The user has a valid license to use the app.",
            "The user does not have a valid license to use the app.",
            "Licensing details were not evaluated since a necessary requirement was missed."
          ],
          "enum": [
            "UNKNOWN",
            "LICENSED",
            "UNLICENSED",
            "UNEVALUATED"
          ],
          "description": "Required. Details about the licensing status of the user for the app in the scope."
        }
      },
      "id": "PcAccountDetails",
      "type": "object"
    },
    "DecodePcIntegrityTokenRequest": {
      "properties": {
        "integrityToken": {
          "description": "Encoded integrity token.",
          "type": "string"
        }
      },
      "id": "DecodePcIntegrityTokenRequest",
      "type": "object",
      "description": "Request to decode the PC integrity token."
    },
    "AppIntegrity": {
      "type": "object",
      "id": "AppIntegrity",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "Package name of the application under attestation. Set iff app_recognition_verdict != UNEVALUATED."
        },
        "certificateSha256Digest": {
          "description": "The SHA256 hash of the requesting app's signing certificates (base64 web-safe encoded). Set iff app_recognition_verdict != UNEVALUATED.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "appRecognitionVerdict": {
          "description": "Required. Details about the app recognition verdict",
          "enumDescriptions": [
            "Play does not have sufficient information to evaluate app integrity",
            "The app and certificate match the versions distributed by Play.",
            "The certificate or package name does not match Google Play records.",
            "Application integrity was not evaluated since a necessary requirement was missed. For example DeviceIntegrity did not meet the minimum bar."
          ],
          "enum": [
            "UNKNOWN",
            "PLAY_RECOGNIZED",
            "UNRECOGNIZED_VERSION",
            "UNEVALUATED"
          ],
          "type": "string"
        },
        "versionCode": {
          "type": "string",
          "format": "int64",
          "description": "Version code of the application. Set iff app_recognition_verdict != UNEVALUATED."
        }
      },
      "description": "Contains the application integrity information."
    }
  },
  "basePath": "",
  "mtlsRootUrl": "https://playintegrity.mtls.googleapis.com/",
  "title": "Google Play Integrity API",
  "version_module": true,
  "rootUrl": "https://playintegrity.googleapis.com/"
}