{
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "iam": {
      "methods": {
        "troubleshootError": {
          "parameters": {},
          "description": "Checks the access request associated with the error identifier and explains why the access is denied by IAM policies.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "policytroubleshooter.iam.troubleshootError",
          "httpMethod": "POST",
          "parameterOrder": [],
          "path": "v3beta/iam:troubleshootError",
          "request": {
            "$ref": "GoogleCloudPolicytroubleshooterIamV3betaTroubleshootIamPolicyErrorRequest"
          },
          "response": {
            "$ref": "GoogleCloudPolicytroubleshooterIamV3betaTroubleshootIamPolicyErrorResponse"
          },
          "flatPath": "v3beta/iam:troubleshootError"
        },
        "troubleshoot": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Checks whether a principal has a specific permission for a specific resource, and explains why the principal does or doesn't have that permission.",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleCloudPolicytroubleshooterIamV3betaTroubleshootIamPolicyResponse"
          },
          "flatPath": "v3beta/iam:troubleshoot",
          "request": {
            "$ref": "GoogleCloudPolicytroubleshooterIamV3betaTroubleshootIamPolicyRequest"
          },
          "path": "v3beta/iam:troubleshoot",
          "parameters": {},
          "id": "policytroubleshooter.iam.troubleshoot",
          "parameterOrder": []
        }
      }
    }
  },
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "version_module": true,
  "revision": "20260823",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/iam/",
  "schemas": {
    "GoogleIamV3PrincipalAccessBoundaryPolicyDetails": {
      "id": "GoogleIamV3PrincipalAccessBoundaryPolicyDetails",
      "properties": {
        "enforcementVersion": {
          "type": "string",
          "description": "Optional. The version number (for example, `1` or `latest`) that indicates which permissions are able to be blocked by the policy. If empty, the PAB policy version will be set to the most recent version number at the time of the policy's creation."
        },
        "rules": {
          "type": "array",
          "description": "Required. A list of principal access boundary policy rules. The number of rules in a policy is limited to 500.",
          "items": {
            "$ref": "GoogleIamV3PrincipalAccessBoundaryPolicyRule"
          }
        }
      },
      "type": "object",
      "description": "Principal access boundary policy details"
    },
    "GoogleCloudPolicytroubleshooterIamV3betaExplainedDenyResource": {
      "properties": {
        "fullResourceName": {
          "type": "string",
          "description": "The full resource name that identifies the resource. For example, `//compute.googleapis.com/projects/my-project/zones/us-central1-a/instances/my-instance`. If the sender of the request does not have access to the policy, this field is omitted. For examples of full resource names for Google Cloud services, see https://cloud.google.com/iam/help/troubleshooter/full-resource-names."
        },
        "denyAccessState": {
          "type": "string",
          "description": "Required. Indicates whether any policies attached to _this resource_ deny the specific permission to the specified principal for the specified resource. This field does _not_ indicate whether the principal actually has the permission for the resource. There might be another policy that overrides this policy. To determine whether the principal actually has the permission, use the `overall_access_state` field in the TroubleshootIamPolicyResponse.",
          "enum": [
            "DENY_ACCESS_STATE_UNSPECIFIED",
            "DENY_ACCESS_STATE_DENIED",
            "DENY_ACCESS_STATE_NOT_DENIED",
            "DENY_ACCESS_STATE_UNKNOWN_CONDITIONAL",
            "DENY_ACCESS_STATE_UNKNOWN_INFO"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The deny policy denies the principal the permission.",
            "The deny policy doesn't deny the principal the permission.",
            "The deny policy denies the principal the permission if a condition expression evaluates to `true`. However, the sender of the request didn't provide enough context for Policy Troubleshooter to evaluate the condition expression.",
            "The sender of the request does not have access to all of the deny policies that Policy Troubleshooter needs to evaluate the principal's access."
          ]
        },
        "relevance": {
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "HEURISTIC_RELEVANCE_NORMAL",
            "HEURISTIC_RELEVANCE_HIGH"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "type": "string",
          "description": "The relevance of this policy to the overall access state in the TroubleshootIamPolicyResponse. If the sender of the request does not have access to the policy, this field is omitted."
        },
        "explainedPolicies": {
          "description": "List of IAM deny policies that were evaluated to check the principal's denied permissions, with annotations to indicate how each policy contributed to the final result.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudPolicytroubleshooterIamV3betaExplainedDenyPolicy"
          }
        }
      },
      "description": "Details about how a specific resource contributed to the deny policy evaluation.",
      "id": "GoogleCloudPolicytroubleshooterIamV3betaExplainedDenyResource",
      "type": "object"
    },
    "GoogleIamV1Binding": {
      "id": "GoogleIamV1Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudPolicytroubleshooterIamV3betaTroubleshootIamPolicyRequest": {
      "type": "object",
      "description": "Request for TroubleshootIamPolicy.",
      "properties": {
        "accessTuple": {
          "$ref": "GoogleCloudPolicytroubleshooterIamV3betaAccessTuple",
          "description": "The information to use for checking whether a principal has a permission for a resource."
        }
      },
      "id": "GoogleCloudPolicytroubleshooterIamV3betaTroubleshootIamPolicyRequest"
    },
    "GoogleCloudPolicytroubleshooterIamV3betaExplainedPABBindingAndPolicy": {
      "id": "GoogleCloudPolicytroubleshooterIamV3betaExplainedPABBindingAndPolicy",
      "description": "Details about how a principal access boundary binding and policy contributes to the principal access boundary explanation, with annotations to indicate how the binding and policy contribute to the overall access state.",
      "type": "object",
      "properties": {
        "bindingAndPolicyAccessState": {
          "enum": [
            "PAB_ACCESS_STATE_UNSPECIFIED",
            "PAB_ACCESS_STATE_ALLOWED",
            "PAB_ACCESS_STATE_NOT_ALLOWED",
            "PAB_ACCESS_STATE_NOT_ENFORCED",
            "PAB_ACCESS_STATE_UNKNOWN_INFO"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The PAB component allows the principal's access to the specified resource.",
            "The PAB component doesn't allow the principal's access to the specified resource.",
            "The PAB component is not enforced on the principal, or the specified resource. This state refers to the following scenarios: - IAM doesn't enforce the specified permission at the PAB policy's [enforcement version](https://cloud.google.com/iam/help/pab/enforcement-versions), so the PAB policy can't block access. - The binding doesn't apply to the principal, so the policy is not enforced. - The PAB policy doesn't have any rules",
            "The sender of the request does not have access to the PAB component, or the relevant data to explain the PAB component."
          ],
          "readOnly": true,
          "description": "Output only. Indicates whether the principal is allowed to access the specified resource based on evaluating the binding and policy.",
          "type": "string"
        },
        "explainedPolicyBinding": {
          "description": "Details about how this binding contributes to the principal access boundary explanation, with annotations to indicate how the binding contributes to the overall access state.",
          "$ref": "GoogleCloudPolicytroubleshooterIamV3betaExplainedPolicyBinding"
        },
        "relevance": {
          "enumDescriptions": [
            "Not specified.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "HEURISTIC_RELEVANCE_NORMAL",
            "HEURISTIC_RELEVANCE_HIGH"
          ],
          "description": "The relevance of this principal access boundary binding and policy to the overall access state.",
          "type": "string"
        },
        "explainedPolicy": {
          "$ref": "GoogleCloudPolicytroubleshooterIamV3betaExplainedPABPolicy",
          "description": "Optional. Details about how this policy contributes to the principal access boundary explanation, with annotations to indicate how the policy contributes to the overall access state. If the caller doesn't have permission to view the policy in the binding, this field is omitted."
        }
      }
    },
    "GoogleCloudPolicytroubleshooterIamV3betaConditionContextEffectiveTag": {
      "description": "A tag that applies to a resource during policy evaluation. Tags can be either directly bound to a resource or inherited from its ancestor. `EffectiveTag` contains the `name` and `namespaced_name` of the tag value and tag key, with additional fields of `inherited` to indicate the inheritance status of the effective tag.",
      "type": "object",
      "properties": {
        "inherited": {
          "type": "boolean",
          "description": "Output only. Indicates the inheritance status of a tag value attached to the given resource. If the tag value is inherited from one of the resource's ancestors, inherited will be true. If false, then the tag value is directly attached to the resource, inherited will be false.",
          "readOnly": true
        },
        "tagKey": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the TagKey, in the format `tagKeys/{id}`, such as `tagKeys/123`."
        },
        "tagValue": {
          "type": "string",
          "description": "Output only. Resource name for TagValue in the format `tagValues/456`.",
          "readOnly": true
        },
        "namespacedTagKey": {
          "description": "Output only. The namespaced name of the TagKey. Can be in the form `{organization_id}/{tag_key_short_name}` or `{project_id}/{tag_key_short_name}` or `{project_number}/{tag_key_short_name}`.",
          "readOnly": true,
          "type": "string"
        },
        "tagKeyParentName": {
          "type": "string",
          "description": "The parent name of the tag key. Must be in the format `organizations/{organization_id}` or `projects/{project_number}`"
        },
        "namespacedTagValue": {
          "readOnly": true,
          "description": "Output only. The namespaced name of the TagValue. Can be in the form `{organization_id}/{tag_key_short_name}/{tag_value_short_name}` or `{project_id}/{tag_key_short_name}/{tag_value_short_name}` or `{project_number}/{tag_key_short_name}/{tag_value_short_name}`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudPolicytroubleshooterIamV3betaConditionContextEffectiveTag"
    },
    "GoogleCloudPolicytroubleshooterIamV3betaExplainedPABRuleExplainedResource": {
      "description": "Details about how a resource contributes to the explanation, with annotations to indicate how the resource contributes to the overall access state.",
      "id": "GoogleCloudPolicytroubleshooterIamV3betaExplainedPABRuleExplainedResource",
      "type": "object",
      "properties": {
        "resource": {
          "type": "string",
          "description": "The [full resource name](https://cloud.google.com/iam/docs/full-resource-names) that identifies the resource that is explained. This can only be a project, a folder, or an organization which is what a PAB rule accepts."
        },
        "resourceInclusionState": {
          "enum": [
            "RESOURCE_INCLUSION_STATE_UNSPECIFIED",
            "RESOURCE_INCLUSION_STATE_INCLUDED",
            "RESOURCE_INCLUSION_STATE_NOT_INCLUDED",
            "RESOURCE_INCLUSION_STATE_UNKNOWN_INFO",
            "RESOURCE_INCLUSION_STATE_UNKNOWN_UNSUPPORTED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Indicates whether the resource is the specified resource or includes the specified resource.",
          "enumDescriptions": [
            "An error occurred when checking whether the resource includes the specified resource.",
            "The resource includes the specified resource.",
            "The resource doesn't include the specified resource.",
            "The sender of the request does not have access to the relevant data to check whether the resource includes the specified resource.",
            "The resource is of an unsupported type, such as non-CRM resources."
          ]
        },
        "relevance": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "description": "The relevance of this resource to the overall access state.",
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "HEURISTIC_RELEVANCE_NORMAL",
            "HEURISTIC_RELEVANCE_HIGH"
          ]
        }
      }
    },
    "GoogleCloudPolicytroubleshooterIamV3betaConditionExplanationEvaluationState": {
      "id": "GoogleCloudPolicytroubleshooterIamV3betaConditionExplanationEvaluationState",
      "description": "Evaluated state of a condition expression.",
      "type": "object",
      "properties": {
        "start": {
          "format": "int32",
          "type": "integer",
          "description": "Start position of an expression in the condition, by character."
        },
        "value": {
          "description": "Value of this expression.",
          "type": "any"
        },
        "errors": {
          "type": "array",
          "description": "Any errors that prevented complete evaluation of the condition expression.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "end": {
          "format": "int32",
          "description": "End position of an expression in the condition, by character, end included, for example: the end position of the first part of `a==b || c==d` would be 4.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationAnnotatedPermissionMatching": {
      "description": "Details about whether the permission in the request is denied by the deny rule.",
      "type": "object",
      "id": "GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationAnnotatedPermissionMatching",
      "properties": {
        "permissionMatchingState": {
          "type": "string",
          "enum": [
            "PERMISSION_PATTERN_MATCHING_STATE_UNSPECIFIED",
            "PERMISSION_PATTERN_MATCHED",
            "PERMISSION_PATTERN_NOT_MATCHED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The permission in the request matches the permission in the policy.",
            "The permission in the request matches the permission in the policy."
          ],
          "description": "Indicates whether the permission in the request is denied by the deny rule."
        },
        "relevance": {
          "type": "string",
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "HEURISTIC_RELEVANCE_NORMAL",
            "HEURISTIC_RELEVANCE_HIGH"
          ],
          "description": "The relevance of the permission status to the overall determination for the rule.",
          "enumDescriptions": [
            "Not specified.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ]
        }
      }
    },
    "GoogleIamV1AuditLogConfig": {
      "id": "GoogleIamV1AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        }
      }
    },
    "GoogleCloudPolicytroubleshooterIamV3betaDenyPolicyExplanation": {
      "id": "GoogleCloudPolicytroubleshooterIamV3betaDenyPolicyExplanation",
      "properties": {
        "explainedResources": {
          "items": {
            "$ref": "GoogleCloudPolicytroubleshooterIamV3betaExplainedDenyResource"
          },
          "type": "array",
          "description": "List of resources with IAM deny policies that were evaluated to check the principal's denied permissions, with annotations to indicate how each policy contributed to the final result. The list of resources includes the policy for the resource itself, as well as policies that are inherited from higher levels of the resource hierarchy, including the organization, the folder, and the project. The order of the resources starts from the resource and climbs up the resource hierarchy. To learn more about the resource hierarchy, see https://cloud.google.com/iam/help/resource-hierarchy."
        },
        "relevance": {
          "description": "The relevance of the deny policy result to the overall access state.",
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "HEURISTIC_RELEVANCE_NORMAL",
            "HEURISTIC_RELEVANCE_HIGH"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "type": "string"
        },
        "denyAccessState": {
          "enum": [
            "DENY_ACCESS_STATE_UNSPECIFIED",
            "DENY_ACCESS_STATE_DENIED",
            "DENY_ACCESS_STATE_NOT_DENIED",
            "DENY_ACCESS_STATE_UNKNOWN_CONDITIONAL",
            "DENY_ACCESS_STATE_UNKNOWN_INFO"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The deny policy denies the principal the permission.",
            "The deny policy doesn't deny the principal the permission.",
            "The deny policy denies the principal the permission if a condition expression evaluates to `true`. However, the sender of the request didn't provide enough context for Policy Troubleshooter to evaluate the condition expression.",
            "The sender of the request does not have access to all of the deny policies that Policy Troubleshooter needs to evaluate the principal's access."
          ],
          "type": "string",
          "description": "Indicates whether the principal is denied the specified permission for the specified resource, based on evaluating all applicable IAM deny policies."
        },
        "permissionDeniable": {
          "type": "boolean",
          "description": "Indicates whether the permission to troubleshoot is supported in deny policies."
        }
      },
      "type": "object",
      "description": "Details about how the relevant IAM deny policies affect the final access state."
    },
    "GoogleIamV3PrincipalAccessBoundaryPolicyRuleOperation": {
      "description": "An operation attribute that defines the permissions applicable to this rule.",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "Optional. The permissions that are explicitly affected by this rule. The number of permission strings in this field is limited to 50 across all rules in the policy. Each permission uses the format `{service_fqdn}/{resource}.{verb}`, where `{service_fqdn}` is the fully qualified domain name for the service. `*` can be used as a wildcard to match all permissions for a specific service, resource type, or verb. The following formats are supported: * `{service_fqdn}/{resource}.{verb}`: A specific permission. * `{service_fqdn}/{resource}.*`: All permissions for a specific resource type. * `{service_fqdn}/*.*`: All permissions for all resource types under a specific service. * `{service_fqdn}/*.{verb}`: All permissions with a specific verb under a specific service. * `*`: All permissions across all services. For example, `compute.googleapis.com/*.setIamPolicy` refers to all setIamPolicy permissions for any compute resource. Wildcards expand only to the permissions specified in the `enforcement_version` of the policy. If the `enforcement_version` is updated, the wildcard will automatically expand to include new permissions in the updated version.",
          "items": {
            "type": "string"
          }
        },
        "excludedPermissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Specifies the permissions that this rule excludes from the set of affected permissions given by `permissions`. The number of excluded permission strings in this field is limited to 50 across all rules in the policy. If a permission appears in both `permissions` and `excluded_permissions` then it will _not_ be subject to the policy effect. The excluded permissions can be specified using the same syntax as `permissions`."
        }
      },
      "id": "GoogleIamV3PrincipalAccessBoundaryPolicyRuleOperation"
    },
    "GoogleCloudPolicytroubleshooterIamV3betaAllowBindingExplanationAnnotatedAllowMembership": {
      "description": "Details about whether the role binding includes the principal.",
      "properties": {
        "relevance": {
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "HEURISTIC_RELEVANCE_NORMAL",
            "HEURISTIC_RELEVANCE_HIGH"
          ],
          "description": "The relevance of the principal's status to the overall determination for the role binding.",
          "enumDescriptions": [
            "Not specified.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "type": "string"
        },
        "membership": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The principal in the request matches the principal in the policy. The principal can be included directly or indirectly: * A principal is included directly if that principal is listed in the role binding. * A principal is included indirectly if that principal is in a Google group, Google Workspace account, or Cloud Identity domain that is listed in the policy.",
            "The principal in the request doesn't match the principal in the policy.",
            "The principal in the policy is a group or domain, and the sender of the request doesn't have permission to view whether the principal in the request is a member of the group or domain.",
            "The principal is an unsupported type."
          ],
          "description": "Indicates whether the role binding includes the principal.",
          "enum": [
            "MEMBERSHIP_MATCHING_STATE_UNSPECIFIED",
            "MEMBERSHIP_MATCHED",
            "MEMBERSHIP_NOT_MATCHED",
            "MEMBERSHIP_UNKNOWN_INFO",
            "MEMBERSHIP_UNKNOWN_UNSUPPORTED"
          ]
        }
      },
      "id": "GoogleCloudPolicytroubleshooterIamV3betaAllowBindingExplanationAnnotatedAllowMembership",
      "type": "object"
    },
    "GoogleIamV1Policy": {
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          }
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1Binding"
          }
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "GoogleIamV1Policy",
      "type": "object"
    },
    "GoogleCloudPolicytroubleshooterIamV3betaExplainedPABPolicy": {
      "id": "GoogleCloudPolicytroubleshooterIamV3betaExplainedPABPolicy",
      "properties": {
        "relevance": {
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "HEURISTIC_RELEVANCE_NORMAL",
            "HEURISTIC_RELEVANCE_HIGH"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "type": "string",
          "description": "The relevance of this policy to the overall access state."
        },
        "explainedRules": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudPolicytroubleshooterIamV3betaExplainedPABRule"
          },
          "description": "List of principal access boundary rules that were explained to check the principal's access to specified resource, with annotations to indicate how each rule contributes to the overall access state."
        },
        "policy": {
          "$ref": "GoogleIamV3PrincipalAccessBoundaryPolicy",
          "description": "The policy that is explained."
        },
        "policyAccessState": {
          "type": "string",
          "description": "Output only. Indicates whether the policy allows access to the specified resource.",
          "enum": [
            "PAB_ACCESS_STATE_UNSPECIFIED",
            "PAB_ACCESS_STATE_ALLOWED",
            "PAB_ACCESS_STATE_NOT_ALLOWED",
            "PAB_ACCESS_STATE_NOT_ENFORCED",
            "PAB_ACCESS_STATE_UNKNOWN_INFO"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "The PAB component allows the principal's access to the specified resource.",
            "The PAB component doesn't allow the principal's access to the specified resource.",
            "The PAB component is not enforced on the principal, or the specified resource. This state refers to the following scenarios: - IAM doesn't enforce the specified permission at the PAB policy's [enforcement version](https://cloud.google.com/iam/help/pab/enforcement-versions), so the PAB policy can't block access. - The binding doesn't apply to the principal, so the policy is not enforced. - The PAB policy doesn't have any rules",
            "The sender of the request does not have access to the PAB component, or the relevant data to explain the PAB component."
          ]
        },
        "policyVersion": {
          "readOnly": true,
          "description": "Output only. Explanation of the principal access boundary policy's version.",
          "$ref": "GoogleCloudPolicytroubleshooterIamV3betaExplainedPABPolicyVersion"
        }
      },
      "type": "object",
      "description": "Details about how a principal access boundary policy contributes to the explanation, with annotations to indicate how the policy contributes to the overall access state."
    },
    "GoogleCloudPolicytroubleshooterIamV3betaTroubleshootIamPolicyErrorResponse": {
      "id": "GoogleCloudPolicytroubleshooterIamV3betaTroubleshootIamPolicyErrorResponse",
      "type": "object",
      "description": "Response for troubleshoot access denial with the IAM error identifier.",
      "properties": {
        "pabPolicyExplanation": {
          "description": "An explanation of how the applicable principal access boundary policies affect the final access state.",
          "$ref": "GoogleCloudPolicytroubleshooterIamV3betaPABPolicyExplanation"
        },
        "overallAccessState": {
          "enum": [
            "OVERALL_ACCESS_STATE_UNSPECIFIED",
            "OVERALL_ACCESS_STATE_CAN_ACCESS",
            "OVERALL_ACCESS_STATE_CANNOT_ACCESS",
            "OVERALL_ACCESS_STATE_UNKNOWN_INFO",
            "OVERALL_ACCESS_STATE_UNKNOWN_CONDITIONAL"
          ],
          "description": "Indicates whether the principal has the permission to access the resource, based on evaluating all types of the applicable IAM policies.",
          "enumDescriptions": [
            "Not specified.",
            "The principal has the permission.",
            "The principal doesn't have the permission.",
            "The principal might have the permission, but the sender can't access all of the information needed to fully evaluate the principal's access.",
            "The principal might have the permission, but Policy Troubleshooter can't fully evaluate the principal's access because of the missing context to evaluate the condition."
          ],
          "type": "string"
        },
        "allowPolicyExplanation": {
          "description": "An explanation of how the applicable IAM allow policies affect the final access state.",
          "$ref": "GoogleCloudPolicytroubleshooterIamV3betaAllowPolicyExplanation"
        },
        "accessContext": {
          "$ref": "GoogleCloudPolicytroubleshooterIamV3betaAccessContext",
          "description": "The access context associated with the ErrorInfoId."
        },
        "denyPolicyExplanation": {
          "$ref": "GoogleCloudPolicytroubleshooterIamV3betaDenyPolicyExplanation",
          "description": "An explanation of how the applicable IAM deny policies affect the final access state."
        }
      }
    },
    "GoogleCloudPolicytroubleshooterIamV3betaTroubleshootIamPolicyResponse": {
      "description": "Response for TroubleshootIamPolicy.",
      "properties": {
        "overallAccessState": {
          "enumDescriptions": [
            "Not specified.",
            "The principal has the permission.",
            "The principal doesn't have the permission.",
            "The principal might have the permission, but the sender can't access all of the information needed to fully evaluate the principal's access.",
            "The principal might have the permission, but Policy Troubleshooter can't fully evaluate the principal's access because the sender didn't provide the required context to evaluate the condition."
          ],
          "type": "string",
          "description": "Indicates whether the principal has the specified permission for the specified resource, based on evaluating all types of the applicable IAM policies.",
          "enum": [
            "OVERALL_ACCESS_STATE_UNSPECIFIED",
            "CAN_ACCESS",
            "CANNOT_ACCESS",
            "UNKNOWN_INFO",
            "UNKNOWN_CONDITIONAL"
          ]
        },
        "pabPolicyExplanation": {
          "description": "An explanation of how the applicable principal access boundary policies affect the final access state.",
          "$ref": "GoogleCloudPolicytroubleshooterIamV3betaPABPolicyExplanation"
        },
        "allowPolicyExplanation": {
          "description": "An explanation of how the applicable IAM allow policies affect the final access state.",
          "$ref": "GoogleCloudPolicytroubleshooterIamV3betaAllowPolicyExplanation"
        },
        "accessTuple": {
          "description": "The access tuple from the request, including any provided context used to evaluate the condition.",
          "$ref": "GoogleCloudPolicytroubleshooterIamV3betaAccessTuple"
        },
        "denyPolicyExplanation": {
          "$ref": "GoogleCloudPolicytroubleshooterIamV3betaDenyPolicyExplanation",
          "description": "An explanation of how the applicable IAM deny policies affect the final access state."
        }
      },
      "id": "GoogleCloudPolicytroubleshooterIamV3betaTroubleshootIamPolicyResponse",
      "type": "object"
    },
    "GoogleCloudPolicytroubleshooterIamV3betaTroubleshootIamPolicyErrorRequest": {
      "properties": {
        "errorInfoId": {
          "type": "string",
          "description": "This identifier is returned in the `ErrorInfo.metadata` with key 'error_info_id' when an access requests is denied by the IAM service."
        }
      },
      "description": "Request to troubleshoot access denial with the IAM error identifier.",
      "id": "GoogleCloudPolicytroubleshooterIamV3betaTroubleshootIamPolicyErrorRequest",
      "type": "object"
    },
    "GoogleCloudPolicytroubleshooterIamV3betaConditionContextPeer": {
      "id": "GoogleCloudPolicytroubleshooterIamV3betaConditionContextPeer",
      "type": "object",
      "properties": {
        "port": {
          "format": "int64",
          "description": "The network port of the peer.",
          "type": "string"
        },
        "ip": {
          "type": "string",
          "description": "The IPv4 or IPv6 address of the peer."
        }
      },
      "description": "This message defines attributes for a node that handles a network request. The node can be either a service or an application that sends, forwards, or receives the request. Service peers should fill in `principal` and `labels` as appropriate."
    },
    "GoogleCloudPolicytroubleshooterIamV3betaConditionExplanation": {
      "id": "GoogleCloudPolicytroubleshooterIamV3betaConditionExplanation",
      "description": "Explanation for how a condition affects a principal's access",
      "type": "object",
      "properties": {
        "value": {
          "description": "Value of the condition.",
          "type": "any"
        },
        "evaluationStates": {
          "type": "array",
          "description": "The value of each statement of the condition expression. The value can be `true`, `false`, or `null`. The value is `null` if the statement can't be evaluated.",
          "items": {
            "$ref": "GoogleCloudPolicytroubleshooterIamV3betaConditionExplanationEvaluationState"
          }
        },
        "errors": {
          "type": "array",
          "description": "Any errors that prevented complete evaluation of the condition expression.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        }
      }
    },
    "GoogleCloudPolicytroubleshooterIamV3betaConditionContextResource": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The stable identifier (name) of a resource on the `service`. A resource can be logically identified as `//{resource.service}/{resource.name}`. Unlike the resource URI, the resource name doesn't contain any protocol and version information. For a list of full resource name formats, see https://cloud.google.com/iam/help/troubleshooter/full-resource-names"
        },
        "service": {
          "description": "The name of the service that this resource belongs to, such as `compute.googleapis.com`. The service name might not match the DNS hostname that actually serves the request. For a full list of resource service values, see https://cloud.google.com/iam/help/conditions/resource-services",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the resource, in the format `{service}/{kind}`. For a full list of resource type values, see https://cloud.google.com/iam/help/conditions/resource-types"
        }
      },
      "id": "GoogleCloudPolicytroubleshooterIamV3betaConditionContextResource",
      "description": "Core attributes for a resource. A resource is an addressable (named) entity provided by the destination service. For example, a Compute Engine instance.",
      "type": "object"
    },
    "GoogleIamV3PolicyBindingTarget": {
      "properties": {
        "principalSet": {
          "description": "Immutable. The full resource name that's used for principal access boundary policy bindings. The principal set must be directly parented by the policy binding's parent or same as the parent if the target is a project, folder, or organization. Examples: * For bindings parented by an organization: * Organization: `//cloudresourcemanager.googleapis.com/organizations/ORGANIZATION_ID` * Workforce Identity: `//iam.googleapis.com/locations/global/workforcePools/WORKFORCE_POOL_ID` * Workspace Identity: `//iam.googleapis.com/locations/global/workspace/WORKSPACE_ID` * For bindings parented by a folder: * Folder: `//cloudresourcemanager.googleapis.com/folders/FOLDER_ID` * For bindings parented by a project: * Project: * `//cloudresourcemanager.googleapis.com/projects/PROJECT_NUMBER` * `//cloudresourcemanager.googleapis.com/projects/PROJECT_ID` * Workload Identity Pool: `//iam.googleapis.com/projects/PROJECT_NUMBER/locations/LOCATION/workloadIdentityPools/WORKLOAD_POOL_ID`",
          "type": "string"
        },
        "resource": {
          "type": "string",
          "description": "Immutable. The full resource name that's used for access policy bindings. Examples: * Organization: `//cloudresourcemanager.googleapis.com/organizations/ORGANIZATION_ID` * Folder: `//cloudresourcemanager.googleapis.com/folders/FOLDER_ID` * Project: * `//cloudresourcemanager.googleapis.com/projects/PROJECT_NUMBER` * `//cloudresourcemanager.googleapis.com/projects/PROJECT_ID`"
        }
      },
      "type": "object",
      "id": "GoogleIamV3PolicyBindingTarget",
      "description": "The full resource name of the resource to which the policy will be bound. Immutable once set."
    },
    "GoogleIamV2PolicyRule": {
      "type": "object",
      "id": "GoogleIamV2PolicyRule",
      "properties": {
        "denyRule": {
          "description": "A rule for a deny policy.",
          "$ref": "GoogleIamV2DenyRule"
        },
        "description": {
          "description": "A user-specified description of the rule. This value can be up to 256 characters.",
          "type": "string"
        }
      },
      "description": "A single rule in a `Policy`."
    },
    "GoogleCloudPolicytroubleshooterIamV3betaConditionContextRequest": {
      "properties": {
        "receiveTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The timestamp when the destination service receives the first byte of the request."
        }
      },
      "description": "This message defines attributes for an HTTP request. If the actual request is not an HTTP request, the runtime system should try to map the actual request to an equivalent HTTP request.",
      "type": "object",
      "id": "GoogleCloudPolicytroubleshooterIamV3betaConditionContextRequest"
    },
    "GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanation": {
      "description": "Details about how a deny rule in a deny policy affects a principal's ability to use a permission.",
      "type": "object",
      "properties": {
        "exceptionPermissions": {
          "additionalProperties": {
            "$ref": "GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationAnnotatedPermissionMatching"
          },
          "type": "object",
          "description": "Lists all exception permissions in the deny rule and indicates whether each permission matches the permission in the request. Each key identifies a exception permission in the rule, and each value indicates whether the exception permission matches the permission in the request."
        },
        "conditionExplanation": {
          "description": "Condition evaluation state for this role binding.",
          "$ref": "GoogleCloudPolicytroubleshooterIamV3betaConditionExplanation"
        },
        "condition": {
          "description": "A condition expression that specifies when the deny rule denies the principal access. To learn about IAM Conditions, see https://cloud.google.com/iam/help/conditions/overview.",
          "$ref": "GoogleTypeExpr"
        },
        "combinedDeniedPrincipal": {
          "description": "Indicates whether the principal is listed as a denied principal in the deny rule, either directly or through membership in a principal set.",
          "$ref": "GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationAnnotatedDenyPrincipalMatching"
        },
        "exceptionPrincipals": {
          "additionalProperties": {
            "$ref": "GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationAnnotatedDenyPrincipalMatching"
          },
          "description": "Lists all exception principals in the deny rule and indicates whether each principal matches the principal in the request, either directly or through membership in a principal set. Each key identifies a exception principal in the rule, and each value indicates whether the exception principal matches the principal in the request.",
          "type": "object"
        },
        "denyAccessState": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The deny policy denies the principal the permission.",
            "The deny policy doesn't deny the principal the permission.",
            "The deny policy denies the principal the permission if a condition expression evaluates to `true`. However, the sender of the request didn't provide enough context for Policy Troubleshooter to evaluate the condition expression.",
            "The sender of the request does not have access to all of the deny policies that Policy Troubleshooter needs to evaluate the principal's access."
          ],
          "description": "Required. Indicates whether _this rule_ denies the specified permission to the specified principal for the specified resource. This field does _not_ indicate whether the principal is actually denied on the permission for the resource. There might be another rule that overrides this rule. To determine whether the principal actually has the permission, use the `overall_access_state` field in the TroubleshootIamPolicyResponse.",
          "enum": [
            "DENY_ACCESS_STATE_UNSPECIFIED",
            "DENY_ACCESS_STATE_DENIED",
            "DENY_ACCESS_STATE_NOT_DENIED",
            "DENY_ACCESS_STATE_UNKNOWN_CONDITIONAL",
            "DENY_ACCESS_STATE_UNKNOWN_INFO"
          ]
        },
        "combinedExceptionPermission": {
          "description": "Indicates whether the permission in the request is listed as an exception permission in the deny rule.",
          "$ref": "GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationAnnotatedPermissionMatching"
        },
        "combinedExceptionPrincipal": {
          "$ref": "GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationAnnotatedDenyPrincipalMatching",
          "description": "Indicates whether the principal is listed as an exception principal in the deny rule, either directly or through membership in a principal set."
        },
        "relevance": {
          "enumDescriptions": [
            "Not specified.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "type": "string",
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "HEURISTIC_RELEVANCE_NORMAL",
            "HEURISTIC_RELEVANCE_HIGH"
          ],
          "description": "The relevance of this role binding to the overall determination for the entire policy."
        },
        "deniedPrincipals": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationAnnotatedDenyPrincipalMatching"
          },
          "description": "Lists all denied principals in the deny rule and indicates whether each principal matches the principal in the request, either directly or through membership in a principal set. Each key identifies a denied principal in the rule, and each value indicates whether the denied principal matches the principal in the request."
        },
        "combinedDeniedPermission": {
          "$ref": "GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationAnnotatedPermissionMatching",
          "description": "Indicates whether the permission in the request is listed as a denied permission in the deny rule."
        },
        "deniedPermissions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationAnnotatedPermissionMatching"
          },
          "description": "Lists all denied permissions in the deny rule and indicates whether each permission matches the permission in the request. Each key identifies a denied permission in the rule, and each value indicates whether the denied permission matches the permission in the request."
        }
      },
      "id": "GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanation"
    },
    "GoogleRpcStatus": {
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus",
      "type": "object"
    },
    "GoogleCloudPolicytroubleshooterIamV3betaAllowPolicyExplanation": {
      "type": "object",
      "id": "GoogleCloudPolicytroubleshooterIamV3betaAllowPolicyExplanation",
      "properties": {
        "relevance": {
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "HEURISTIC_RELEVANCE_NORMAL",
            "HEURISTIC_RELEVANCE_HIGH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "description": "The relevance of the allow policy type to the overall access state."
        },
        "allowAccessState": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The allow policy gives the principal the permission.",
            "The allow policy doesn't give the principal the permission.",
            "The allow policy gives the principal the permission if a condition expression evaluate to `true`. However, the sender of the request didn't provide enough context for Policy Troubleshooter to evaluate the condition expression.",
            "The sender of the request doesn't have access to all of the allow policies that Policy Troubleshooter needs to evaluate the principal's access."
          ],
          "description": "Indicates whether the principal has the specified permission for the specified resource, based on evaluating all applicable IAM allow policies.",
          "enum": [
            "ALLOW_ACCESS_STATE_UNSPECIFIED",
            "ALLOW_ACCESS_STATE_GRANTED",
            "ALLOW_ACCESS_STATE_NOT_GRANTED",
            "ALLOW_ACCESS_STATE_UNKNOWN_CONDITIONAL",
            "ALLOW_ACCESS_STATE_UNKNOWN_INFO"
          ]
        },
        "explainedPolicies": {
          "type": "array",
          "description": "List of IAM allow policies that were evaluated to check the principal's permissions, with annotations to indicate how each policy contributed to the final result. The list of policies includes the policy for the resource itself, as well as allow policies that are inherited from higher levels of the resource hierarchy, including the organization, the folder, and the project. To learn more about the resource hierarchy, see https://cloud.google.com/iam/help/resource-hierarchy.",
          "items": {
            "$ref": "GoogleCloudPolicytroubleshooterIamV3betaExplainedAllowPolicy"
          }
        }
      },
      "description": "Details about how the relevant IAM allow policies affect the final access state."
    },
    "GoogleCloudPolicytroubleshooterIamV3betaExplainedDenyPolicy": {
      "id": "GoogleCloudPolicytroubleshooterIamV3betaExplainedDenyPolicy",
      "description": "Details about how a specific IAM deny policy Policy contributed to the access check.",
      "properties": {
        "ruleExplanations": {
          "description": "Details about how each rule in the policy affects the principal's inability to use the permission for the resource. The order of the deny rule matches the order of the rules in the deny policy. If the sender of the request does not have access to the policy, this field is omitted.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanation"
          }
        },
        "relevance": {
          "type": "string",
          "description": "The relevance of this policy to the overall access state in the TroubleshootIamPolicyResponse. If the sender of the request does not have access to the policy, this field is omitted.",
          "enumDescriptions": [
            "Not specified.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "HEURISTIC_RELEVANCE_NORMAL",
            "HEURISTIC_RELEVANCE_HIGH"
          ]
        },
        "policy": {
          "description": "The IAM deny policy attached to the resource. If the sender of the request does not have access to the policy, this field is omitted.",
          "$ref": "GoogleIamV2Policy"
        },
        "denyAccessState": {
          "description": "Required. Indicates whether _this policy_ denies the specified permission to the specified principal for the specified resource. This field does _not_ indicate whether the principal actually has the permission for the resource. There might be another policy that overrides this policy. To determine whether the principal actually has the permission, use the `overall_access_state` field in the TroubleshootIamPolicyResponse.",
          "type": "string",
          "enum": [
            "DENY_ACCESS_STATE_UNSPECIFIED",
            "DENY_ACCESS_STATE_DENIED",
            "DENY_ACCESS_STATE_NOT_DENIED",
            "DENY_ACCESS_STATE_UNKNOWN_CONDITIONAL",
            "DENY_ACCESS_STATE_UNKNOWN_INFO"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The deny policy denies the principal the permission.",
            "The deny policy doesn't deny the principal the permission.",
            "The deny policy denies the principal the permission if a condition expression evaluates to `true`. However, the sender of the request didn't provide enough context for Policy Troubleshooter to evaluate the condition expression.",
            "The sender of the request does not have access to all of the deny policies that Policy Troubleshooter needs to evaluate the principal's access."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudPolicytroubleshooterIamV3betaAllowBindingExplanation": {
      "description": "Details about how a role binding in an allow policy affects a principal's ability to use a permission.",
      "type": "object",
      "properties": {
        "combinedMembership": {
          "$ref": "GoogleCloudPolicytroubleshooterIamV3betaAllowBindingExplanationAnnotatedAllowMembership",
          "description": "The combined result of all memberships. Indicates if the principal is included in any role binding, either directly or indirectly."
        },
        "role": {
          "description": "The role that this role binding grants. For example, `roles/compute.admin`. For a complete list of predefined IAM roles, as well as the permissions in each role, see https://cloud.google.com/iam/help/roles/reference.",
          "type": "string"
        },
        "relevance": {
          "enumDescriptions": [
            "Not specified.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "type": "string",
          "description": "The relevance of this role binding to the overall determination for the entire policy.",
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "HEURISTIC_RELEVANCE_NORMAL",
            "HEURISTIC_RELEVANCE_HIGH"
          ]
        },
        "rolePermission": {
          "description": "Indicates whether the role granted by this role binding contains the specified permission.",
          "enum": [
            "ROLE_PERMISSION_INCLUSION_STATE_UNSPECIFIED",
            "ROLE_PERMISSION_INCLUDED",
            "ROLE_PERMISSION_NOT_INCLUDED",
            "ROLE_PERMISSION_UNKNOWN_INFO"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The permission is included in the role.",
            "The permission is not included in the role.",
            "The sender of the request is not allowed to access the role definition."
          ],
          "type": "string"
        },
        "conditionExplanation": {
          "description": "Condition evaluation state for this role binding.",
          "$ref": "GoogleCloudPolicytroubleshooterIamV3betaConditionExplanation"
        },
        "memberships": {
          "additionalProperties": {
            "$ref": "GoogleCloudPolicytroubleshooterIamV3betaAllowBindingExplanationAnnotatedAllowMembership"
          },
          "type": "object",
          "description": "Indicates whether each role binding includes the principal specified in the request, either directly or indirectly. Each key identifies a principal in the role binding, and each value indicates whether the principal in the role binding includes the principal in the request. For example, suppose that a role binding includes the following principals: * `user:alice@example.com` * `group:product-eng@example.com` You want to troubleshoot access for `user:bob@example.com`. This user is a member of the group `group:product-eng@example.com`. For the first principal in the role binding, the key is `user:alice@example.com`, and the `membership` field in the value is set to `NOT_INCLUDED`. For the second principal in the role binding, the key is `group:product-eng@example.com`, and the `membership` field in the value is set to `INCLUDED`."
        },
        "rolePermissionRelevance": {
          "enumDescriptions": [
            "Not specified.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "HEURISTIC_RELEVANCE_NORMAL",
            "HEURISTIC_RELEVANCE_HIGH"
          ],
          "description": "The relevance of the permission's existence, or nonexistence, in the role to the overall determination for the entire policy.",
          "type": "string"
        },
        "condition": {
          "$ref": "GoogleTypeExpr",
          "description": "A condition expression that specifies when the role binding grants access. To learn about IAM Conditions, see https://cloud.google.com/iam/help/conditions/overview."
        },
        "allowAccessState": {
          "description": "Required. Indicates whether _this role binding_ gives the specified permission to the specified principal on the specified resource. This field does _not_ indicate whether the principal actually has the permission on the resource. There might be another role binding that overrides this role binding. To determine whether the principal actually has the permission, use the `overall_access_state` field in the TroubleshootIamPolicyResponse.",
          "type": "string",
          "enum": [
            "ALLOW_ACCESS_STATE_UNSPECIFIED",
            "ALLOW_ACCESS_STATE_GRANTED",
            "ALLOW_ACCESS_STATE_NOT_GRANTED",
            "ALLOW_ACCESS_STATE_UNKNOWN_CONDITIONAL",
            "ALLOW_ACCESS_STATE_UNKNOWN_INFO"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The allow policy gives the principal the permission.",
            "The allow policy doesn't give the principal the permission.",
            "The allow policy gives the principal the permission if a condition expression evaluate to `true`. However, the sender of the request didn't provide enough context for Policy Troubleshooter to evaluate the condition expression.",
            "The sender of the request doesn't have access to all of the allow policies that Policy Troubleshooter needs to evaluate the principal's access."
          ]
        }
      },
      "id": "GoogleCloudPolicytroubleshooterIamV3betaAllowBindingExplanation"
    },
    "GoogleIamV1AuditConfig": {
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "type": "array",
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          }
        }
      },
      "id": "GoogleIamV1AuditConfig"
    },
    "GoogleCloudPolicytroubleshooterIamV3betaExplainedAllowPolicy": {
      "properties": {
        "policy": {
          "$ref": "GoogleIamV1Policy",
          "description": "The IAM allow policy attached to the resource. If the sender of the request does not have access to the policy, this field is empty."
        },
        "bindingExplanations": {
          "items": {
            "$ref": "GoogleCloudPolicytroubleshooterIamV3betaAllowBindingExplanation"
          },
          "type": "array",
          "description": "Details about how each role binding in the policy affects the principal's ability, or inability, to use the permission for the resource. The order of the role bindings matches the role binding order in the policy. If the sender of the request does not have access to the policy, this field is omitted."
        },
        "fullResourceName": {
          "description": "The full resource name that identifies the resource. For example, `//compute.googleapis.com/projects/my-project/zones/us-central1-a/instances/my-instance`. If the sender of the request does not have access to the policy, this field is omitted. For examples of full resource names for Google Cloud services, see https://cloud.google.com/iam/help/troubleshooter/full-resource-names.",
          "type": "string"
        },
        "allowAccessState": {
          "enum": [
            "ALLOW_ACCESS_STATE_UNSPECIFIED",
            "ALLOW_ACCESS_STATE_GRANTED",
            "ALLOW_ACCESS_STATE_NOT_GRANTED",
            "ALLOW_ACCESS_STATE_UNKNOWN_CONDITIONAL",
            "ALLOW_ACCESS_STATE_UNKNOWN_INFO"
          ],
          "description": "Required. Indicates whether _this policy_ provides the specified permission to the specified principal for the specified resource. This field does _not_ indicate whether the principal actually has the permission for the resource. There might be another policy that overrides this policy. To determine whether the principal actually has the permission, use the `overall_access_state` field in the TroubleshootIamPolicyResponse.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The allow policy gives the principal the permission.",
            "The allow policy doesn't give the principal the permission.",
            "The allow policy gives the principal the permission if a condition expression evaluate to `true`. However, the sender of the request didn't provide enough context for Policy Troubleshooter to evaluate the condition expression.",
            "The sender of the request doesn't have access to all of the allow policies that Policy Troubleshooter needs to evaluate the principal's access."
          ]
        },
        "relevance": {
          "description": "The relevance of this policy to the overall access state in the TroubleshootIamPolicyResponse. If the sender of the request does not have access to the policy, this field is omitted.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "HEURISTIC_RELEVANCE_NORMAL",
            "HEURISTIC_RELEVANCE_HIGH"
          ]
        }
      },
      "id": "GoogleCloudPolicytroubleshooterIamV3betaExplainedAllowPolicy",
      "type": "object",
      "description": "Details about how a specific IAM allow policy contributed to the final access state."
    },
    "GoogleCloudPolicytroubleshooterIamV3betaAccessContext": {
      "id": "GoogleCloudPolicytroubleshooterIamV3betaAccessContext",
      "description": "Information about the principal, resource, and permission for the ErrorInfoId.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The relative resource name, not including the / prefix. For example, `projects/project-id`, `projects/-/serviceAccounts/11112222`"
        },
        "permission": {
          "description": "Required. The IAM permission name provided by the user in the access denied request.",
          "type": "string"
        },
        "principal": {
          "type": "string",
          "description": "The email address of the principal who requested access. For example, `alice@example.com` or `my-service-account@my-project.iam.gserviceaccount.com`. The principal must be a Google Account or a service account. Other types of principals are not supported."
        },
        "parent": {
          "type": "string",
          "description": "The full resource name of the parent where IAM policy is configured. For example, `//cloudresourcemanager.googleapis.com/folders/444446666`"
        }
      },
      "type": "object"
    },
    "GoogleCloudPolicytroubleshooterIamV3betaExplainedPABPolicyVersion": {
      "id": "GoogleCloudPolicytroubleshooterIamV3betaExplainedPABPolicyVersion",
      "properties": {
        "version": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The actual version of the policy. - If the policy uses static version, this field is the chosen static version. - If the policy uses dynamic version, this field is the effective latest version.",
          "format": "int32"
        },
        "enforcementState": {
          "enum": [
            "PAB_POLICY_ENFORCEMENT_STATE_UNSPECIFIED",
            "PAB_POLICY_ENFORCEMENT_STATE_ENFORCED",
            "PAB_POLICY_ENFORCEMENT_STATE_NOT_ENFORCED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Indicates whether the policy is enforced based on its version.",
          "enumDescriptions": [
            "An error occurred when checking whether a principal access boundary policy is enforced based on its version.",
            "The principal access boundary policy is enforced based on its version.",
            "The principal access boundary policy is not enforced based on its version."
          ]
        }
      },
      "type": "object",
      "description": "Details about how a principal access boundary policy's version contributes to the policy's enforcement state."
    },
    "GoogleCloudPolicytroubleshooterIamV3betaExplainedPolicyBinding": {
      "type": "object",
      "id": "GoogleCloudPolicytroubleshooterIamV3betaExplainedPolicyBinding",
      "properties": {
        "relevance": {
          "description": "The relevance of this policy binding to the overall access state.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "HEURISTIC_RELEVANCE_NORMAL",
            "HEURISTIC_RELEVANCE_HIGH"
          ]
        },
        "policyBinding": {
          "$ref": "GoogleIamV3PolicyBinding",
          "description": "The policy binding that is explained."
        },
        "policyBindingState": {
          "enum": [
            "POLICY_BINDING_STATE_UNSPECIFIED",
            "POLICY_BINDING_STATE_ENFORCED",
            "POLICY_BINDING_STATE_NOT_ENFORCED"
          ],
          "readOnly": true,
          "description": "Output only. Indicates whether the policy binding takes effect.",
          "enumDescriptions": [
            "An error occurred when checking whether the policy binding is enforced.",
            "The policy binding is enforced.",
            "The policy binding is not enforced."
          ],
          "type": "string"
        },
        "conditionExplanation": {
          "$ref": "GoogleCloudPolicytroubleshooterIamV3betaConditionExplanation",
          "description": "Optional. Explanation of the condition in the policy binding. If the policy binding doesn't have a condition, this field is omitted."
        }
      },
      "description": "Details about how a policy binding contributes to the policy explanation, with annotations to indicate how the policy binding contributes to the overall access state."
    },
    "GoogleIamV2DenyRule": {
      "description": "A deny rule in an IAM deny policy.",
      "properties": {
        "exceptionPermissions": {
          "description": "Specifies the permissions that this rule excludes from the set of denied permissions given by `denied_permissions`. If a permission appears in `denied_permissions` _and_ in `exception_permissions` then it will _not_ be denied. The excluded permissions can be specified using the same syntax as `denied_permissions`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "denialCondition": {
          "description": "The condition that determines whether this deny rule applies to a request. If the condition expression evaluates to `true`, then the deny rule is applied; otherwise, the deny rule is not applied. Each deny rule is evaluated independently. If this deny rule does not apply to a request, other deny rules might still apply. The condition can use CEL functions that evaluate [resource tags](https://cloud.google.com/iam/help/conditions/resource-tags). Other functions and operators are not supported.",
          "$ref": "GoogleTypeExpr"
        },
        "exceptionPrincipals": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The identities that are excluded from the deny rule, even if they are listed in the `denied_principals`. For example, you could add a Google group to the `denied_principals`, then exclude specific users who belong to that group. This field can contain the same values as the `denied_principals` field, excluding `principalSet://goog/public:all`, which represents all users on the internet."
        },
        "deniedPermissions": {
          "type": "array",
          "description": "The permissions that are explicitly denied by this rule. Each permission uses the format `{service_fqdn}/{resource}.{verb}`, where `{service_fqdn}` is the fully qualified domain name for the service. For example, `iam.googleapis.com/roles.list`.",
          "items": {
            "type": "string"
          }
        },
        "deniedPrincipals": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": " The identities that are prevented from using one or more permissions on Google Cloud resources. This field can contain the following values: * `principal://goog/subject/{email_id}`: A specific Google Account. Includes Gmail, Cloud Identity, and Google Workspace user accounts. For example, `principal://goog/subject/alice@example.com`. * `principal://iam.googleapis.com/projects/-/serviceAccounts/{service_account_id}`: A Google Cloud service account. For example, `principal://iam.googleapis.com/projects/-/serviceAccounts/my-service-account@iam.gserviceaccount.com`. * `principalSet://goog/group/{group_id}`: A Google group. For example, `principalSet://goog/group/admins@example.com`. * `principalSet://goog/public:all`: A special identifier that represents any principal that is on the internet, even if they do not have a Google Account or are not logged in. * `principalSet://goog/cloudIdentityCustomerId/{customer_id}`: All of the principals associated with the specified Google Workspace or Cloud Identity customer ID. For example, `principalSet://goog/cloudIdentityCustomerId/C01Abc35`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `principalSet://cloudresourcemanager.googleapis.com/[projects|folders|organizations]/{project_number|folder_number|org_number}/type/ServiceAccount`: All service accounts grouped under a resource (project, folder, or organization). * `principalSet://cloudresourcemanager.googleapis.com/[projects|folders|organizations]/{project_number|folder_number|org_number}/type/ServiceAgent`: All service agents grouped under a resource (project, folder, or organization). * `deleted:principal://goog/subject/{email_id}?uid={uid}`: A specific Google Account that was deleted recently. For example, `deleted:principal://goog/subject/alice@example.com?uid=1234567890`. If the Google Account is recovered, this identifier reverts to the standard identifier for a Google Account. * `deleted:principalSet://goog/group/{group_id}?uid={uid}`: A Google group that was deleted recently. For example, `deleted:principalSet://goog/group/admins@example.com?uid=1234567890`. If the Google group is restored, this identifier reverts to the standard identifier for a Google group. * `deleted:principal://iam.googleapis.com/projects/-/serviceAccounts/{service_account_id}?uid={uid}`: A Google Cloud service account that was deleted recently. For example, `deleted:principal://iam.googleapis.com/projects/-/serviceAccounts/my-service-account@iam.gserviceaccount.com?uid=1234567890`. If the service account is undeleted, this identifier reverts to the standard identifier for a service account. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        }
      },
      "id": "GoogleIamV2DenyRule",
      "type": "object"
    },
    "GoogleIamV3PolicyBinding": {
      "id": "GoogleIamV3PolicyBinding",
      "description": "IAM policy binding resource.",
      "type": "object",
      "properties": {
        "policyKind": {
          "enum": [
            "POLICY_KIND_UNSPECIFIED",
            "PRINCIPAL_ACCESS_BOUNDARY",
            "ACCESS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified policy kind; Not a valid state",
            "Principal access boundary policy kind",
            "Access policy kind."
          ],
          "description": "Immutable. The kind of the policy to attach in this binding. This field must be one of the following: - Left empty (will be automatically set to the policy kind) - The input policy kind"
        },
        "etag": {
          "description": "Optional. The etag for the policy binding. If this is provided on update, it must match the server's etag.",
          "type": "string"
        },
        "policy": {
          "description": "Required. Immutable. The resource name of the policy to be bound. The binding parent and policy must belong to the same organization.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the policy binding was most recently updated.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the policy binding, in the format `{binding_parent/locations/{location}/policyBindings/{policy_binding_id}`. The binding parent is the closest Resource Manager resource (project, folder, or organization) to the binding target. Format: * `projects/{project_id}/locations/{location}/policyBindings/{policy_binding_id}` * `projects/{project_number}/locations/{location}/policyBindings/{policy_binding_id}` * `folders/{folder_id}/locations/{location}/policyBindings/{policy_binding_id}` * `organizations/{organization_id}/locations/{location}/policyBindings/{policy_binding_id}`"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. User-defined annotations. See https://google.aip.dev/148#annotations for more details such as format and size limitations"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the policy binding was created.",
          "format": "google-datetime"
        },
        "policyUid": {
          "readOnly": true,
          "description": "Output only. The globally unique ID of the policy to be bound.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The globally unique ID of the policy binding. Assigned when the policy binding is created."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The description of the policy binding. Must be less than or equal to 63 characters."
        },
        "condition": {
          "$ref": "GoogleTypeExpr",
          "description": "Optional. The condition to apply to the policy binding. When set, the `expression` field in the `Expr` must include from 1 to 10 subexpressions, joined by the \"||\"(Logical OR), \"&&\"(Logical AND) or \"!\"(Logical NOT) operators and cannot contain more than 250 characters. The condition is currently only supported when bound to policies of kind principal access boundary. When the bound policy is a principal access boundary policy, the only supported attributes in any subexpression are `principal.type` and `principal.subject`. An example expression is: \"principal.type == 'iam.googleapis.com/ServiceAccount'\" or \"principal.subject == 'bob@example.com'\". Allowed operations for `principal.subject`: - `principal.subject == ` - `principal.subject != ` - `principal.subject in []` - `principal.subject.startsWith()` - `principal.subject.endsWith()` Allowed operations for `principal.type`: - `principal.type == ` - `principal.type != ` - `principal.type in []` Supported principal types are workspace, workforce pool, workload pool, service account, and agent identity. Allowed string must be one of: - `iam.googleapis.com/WorkspaceIdentity` - `iam.googleapis.com/WorkforcePoolIdentity` - `iam.googleapis.com/WorkloadPoolIdentity` - `iam.googleapis.com/ServiceAccount` - `iam.googleapis.com/AgentPoolIdentity` (available in Preview)"
        },
        "target": {
          "description": "Required. Immutable. The full resource name of the resource to which the policy will be bound. Immutable once set.",
          "$ref": "GoogleIamV3PolicyBindingTarget"
        }
      }
    },
    "GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationAnnotatedDenyPrincipalMatching": {
      "description": "Details about whether the principal in the request is listed as a denied principal in the deny rule, either directly or through membership in a principal set.",
      "id": "GoogleCloudPolicytroubleshooterIamV3betaDenyRuleExplanationAnnotatedDenyPrincipalMatching",
      "type": "object",
      "properties": {
        "relevance": {
          "description": "The relevance of the principal's status to the overall determination for the role binding.",
          "enum": [
            "HEURISTIC_RELEVANCE_UNSPECIFIED",
            "HEURISTIC_RELEVANCE_NORMAL",
            "HEURISTIC_RELEVANCE_HIGH"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The data point has a limited effect on the result. Changing the data point is unlikely to affect the overall determination.",
            "The data point has a strong effect on the result. Changing the data point is likely to affect the overall determination."
          ],
          "type": "string"
        },
        "membership": {
          "type": "string",
          "description": "Indicates whether the principal is listed as a denied principal in the deny rule, either directly or through membership in a principal set.",
          "enum": [
            "MEMBERSHIP_MATCHING_STATE_UNSPECIFIED",
            "MEMBERSHIP_MATCHED",
            "MEMBERSHIP_NOT_MATCHED",
            "MEMBERSHIP_UNKNOWN_INFO",
            "MEMBERSHIP_UNKNOWN_UNSUPPORTED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The principal in the request matches the principal in the policy. The principal can be included directly or indirectly: * A principal is included directly if that principal is listed in the role binding. * A principal is included indirectly if that principal is in a Google group, Google Workspace account, or Cloud Identity domain that is listed in the policy.",
            "The principal in the request doesn't match the principal in the policy.",
            "The principal in the policy is a group or domain, and the sender of the request doesn't have permission to view whether the principal in the request is a member of the group or domain.",
            "The principal is an unsupported type."
          ]
        }
      }
    },
    "GoogleCloudPolicytroubleshooterIamV3betaAccessTuple": {
      "id": "GoogleCloudPolicytroubleshooterIamV3betaAccessTuple",
      "properties": {
        "permissionFqdn": {
          "readOnly": true,
          "description": "Output only. The permission that Policy Troubleshooter checked for, in the `v2` format.",
          "type": "string"
        },
        "permission": {
          "description": "Required. The IAM permission to check for, either in the `v1` permission format or the `v2` permission format. For a complete list of IAM permissions in the `v1` format, see https://cloud.google.com/iam/help/permissions/reference. For a list of IAM permissions in the `v2` format, see https://cloud.google.com/iam/help/deny/supported-permissions. For a complete list of predefined IAM roles and the permissions in each role, see https://cloud.google.com/iam/help/roles/reference.",
          "type": "string"
        },
        "fullResourceName": {
          "type": "string",
          "description": "Required. The full resource name that identifies the resource. For example, `//compute.googleapis.com/projects/my-project/zones/us-central1-a/instances/my-instance`. For examples of full resource names for Google Cloud services, see https://cloud.google.com/iam/help/troubleshooter/full-resource-names."
        },
        "conditionContext": {
          "description": "Optional. Additional context for the request, such as the request time or IP address. This context allows Policy Troubleshooter to troubleshoot conditional role bindings and deny rules.",
          "$ref": "GoogleCloudPolicytroubleshooterIamV3betaConditionContext"
        },
        "principal": {
          "description": "Required. The email address of the principal whose access you want to check. For example, `alice@example.com` or `my-service-account@my-project.iam.gserviceaccount.com`. The principal must be a Google Account or a service account. Other types of principals are not supported.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information about the principal, resource, and permission to check."
    },
    "GoogleIamV3PrincipalAccessBoundaryPolicyRule": {
      "type": "object",
      "id": "GoogleIamV3PrincipalAccessBoundaryPolicyRule",
      "properties": {
        "description": {
[...]
