{
  "servicePath": "",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/sasportal": {
          "description": "Read, create, update, and delete your SAS Portal data."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://prod-tt-sasportal.mtls.googleapis.com/",
  "rootUrl": "https://prod-tt-sasportal.googleapis.com/",
  "title": "SAS Portal API (Testing)",
  "version": "v1alpha1",
  "kind": "discovery#restDescription",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "id": "prod_tt_sasportal:v1alpha1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/spectrum-access-system/",
  "schemas": {
    "SasPortalMigrateOrganizationResponse": {
      "description": "Response for [MigrateOrganization]. [spectrum.sas.portal.v1alpha1.Provisioning.MigrateOrganization].",
      "type": "object",
      "id": "SasPortalMigrateOrganizationResponse",
      "properties": {
        "deploymentAssociation": {
          "items": {
            "$ref": "SasPortalDeploymentAssociation"
          },
          "description": "Optional. A list of deployment association that were created for the migration, or current associations if they already exist.",
          "type": "array"
        }
      }
    },
    "SasPortalDeviceConfig": {
      "type": "object",
      "id": "SasPortalDeviceConfig",
      "description": "Information about the device configuration.",
      "properties": {
        "model": {
          "$ref": "SasPortalDeviceModel",
          "description": "Information about this device model."
        },
        "airInterface": {
          "$ref": "SasPortalDeviceAirInterface",
          "description": "Information about this device's air interface."
        },
        "userId": {
          "description": "The identifier of a device user.",
          "type": "string"
        },
        "category": {
          "enumDescriptions": [
            "Unspecified device category.",
            "Category A.",
            "Category B."
          ],
          "description": "FCC category of the device.",
          "type": "string",
          "enum": [
            "DEVICE_CATEGORY_UNSPECIFIED",
            "DEVICE_CATEGORY_A",
            "DEVICE_CATEGORY_B"
          ]
        },
        "measurementCapabilities": {
          "description": "Measurement reporting capabilities of the device.",
          "type": "array",
          "items": {
            "enum": [
              "MEASUREMENT_CAPABILITY_UNSPECIFIED",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITH_GRANT",
              "MEASUREMENT_CAPABILITY_RECEIVED_POWER_WITHOUT_GRANT"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              ""
            ]
          }
        },
        "installationParams": {
          "description": "Installation parameters for the device.",
          "$ref": "SasPortalInstallationParams"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last time the device configuration was edited.",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "State of the configuration.",
          "enum": [
            "DEVICE_CONFIG_STATE_UNSPECIFIED",
            "DRAFT",
            "FINAL"
          ]
        },
        "isSigned": {
          "type": "boolean",
          "description": "Output only. Whether the configuration has been signed by a CPI."
        },
        "callSign": {
          "description": "The call sign of the device operator.",
          "type": "string"
        }
      }
    },
    "SasPortalSetupSasAnalyticsMetadata": {
      "type": "object",
      "description": "Metadata returned by the long running operation for the SetupSasAnalytics rpc.",
      "properties": {},
      "id": "SasPortalSetupSasAnalyticsMetadata"
    },
    "SasPortalSetPolicyRequest": {
      "properties": {
        "policy": {
          "$ref": "SasPortalPolicy",
          "description": "Required. The policy to be applied to the `resource`."
        },
        "disableNotification": {
          "type": "boolean",
          "description": "Optional. Set the field as `true` to disable the onboarding notification."
        },
        "resource": {
          "type": "string",
          "description": "Required. The resource for which the policy is being specified. This policy replaces any existing policy."
        }
      },
      "type": "object",
      "id": "SasPortalSetPolicyRequest",
      "description": "Request message for `SetPolicy` method."
    },
    "SasPortalListGcpProjectDeploymentsResponse": {
      "properties": {
        "deployments": {
          "items": {
            "$ref": "SasPortalGcpProjectDeployment"
          },
          "description": "Optional. Deployments associated with the GCP project",
          "type": "array"
        }
      },
      "type": "object",
      "id": "SasPortalListGcpProjectDeploymentsResponse",
      "description": "Response for [ListGcpProjectDeployments]."
    },
    "SasPortalMoveNodeRequest": {
      "type": "object",
      "id": "SasPortalMoveNodeRequest",
      "description": "Request for MoveNode.",
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the node under.",
          "type": "string"
        }
      }
    },
    "SasPortalSetupSasAnalyticsResponse": {
      "type": "object",
      "id": "SasPortalSetupSasAnalyticsResponse",
      "properties": {},
      "description": "Response returned by the long running operation for the SetupSasAnalytics rpc."
    },
    "SasPortalDeploymentAssociation": {
      "description": "Association between a gcp project and a SAS user id.",
      "id": "SasPortalDeploymentAssociation",
      "properties": {
        "gcpProjectId": {
          "description": "GCP project id of the associated project.",
          "type": "string"
        },
        "userId": {
          "type": "string",
          "description": "User id of the deployment."
        }
      },
      "type": "object"
    },
    "SasPortalProvisionDeploymentResponse": {
      "description": "Response for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment].",
      "id": "SasPortalProvisionDeploymentResponse",
      "type": "object",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "Optional. Optional error message if the provisioning request is not successful."
        }
      }
    },
    "SasPortalListNodesResponse": {
      "type": "object",
      "description": "Response for ListNodes.",
      "id": "SasPortalListNodesResponse",
      "properties": {
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "SasPortalNode"
          },
          "description": "The nodes that match the request."
        },
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListNodes that indicates from where listing should continue. If the field is missing or empty, it means there is no more nodes.",
          "type": "string"
        }
      }
    },
    "SasPortalNode": {
      "properties": {
        "displayName": {
          "description": "The node's display name.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name."
        },
        "sasUserIds": {
          "description": "User ids used by the devices belonging to this node.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "SasPortalNode",
      "description": "The Node.",
      "type": "object"
    },
    "SasPortalListLegacyOrganizationsResponse": {
      "id": "SasPortalListLegacyOrganizationsResponse",
      "properties": {
        "organizations": {
          "description": "Optional. Legacy SAS organizations.",
          "items": {
            "$ref": "SasPortalOrganization"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response for [ListLegacyOrganizations]. [spectrum.sas.portal.v1alpha1.Provisioning.ListLegacyOrganizations]."
    },
    "SasPortalTestPermissionsRequest": {
      "description": "Request message for `TestPermissions` method.",
      "properties": {
        "resource": {
          "type": "string",
          "description": "Required. The resource for which the permissions are being requested."
        },
        "permissions": {
          "description": "The set of permissions to check for the `resource`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "SasPortalTestPermissionsRequest",
      "type": "object"
    },
    "SasPortalMoveDeploymentRequest": {
      "description": "Request for MoveDeployment.",
      "properties": {
        "destination": {
          "description": "Required. The name of the new parent resource node or customer to reparent the deployment under.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SasPortalMoveDeploymentRequest"
    },
    "SasPortalMigrateOrganizationRequest": {
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Required. Id of the SAS organization to be migrated.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "SasPortalMigrateOrganizationRequest",
      "description": "Request for [MigrateOrganization]. [spectrum.sas.portal.v1alpha1.Provisioning.MigrateOrganization]. GCP Project, Organization Info, and caller's GAIA ID should be retrieved from the RPC handler, and used to check authorization on SAS Portal organization and to create GCP Projects."
    },
    "SasPortalListCustomersResponse": {
      "type": "object",
      "properties": {
        "customers": {
          "description": "The list of customers that match the request.",
          "items": {
            "$ref": "SasPortalCustomer"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token returned from a previous call to ListCustomers that indicates from where listing should continue. If the field is missing or empty, it means there are no more customers."
        }
      },
      "description": "Response for `ListCustomers`.",
      "id": "SasPortalListCustomersResponse"
    },
    "SasPortalListDevicesResponse": {
      "description": "Response for ListDevices.",
      "type": "object",
      "id": "SasPortalListDevicesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token returned from a previous call to ListDevices that indicates from where listing should continue. If the field is missing or empty, it means there is no more devices.",
          "type": "string"
        },
        "devices": {
          "items": {
            "$ref": "SasPortalDevice"
          },
          "type": "array",
          "description": "The devices that match the request."
        }
      }
    },
    "SasPortalInstallationParams": {
      "description": "Information about the device installation parameters.",
      "properties": {
        "height": {
          "type": "number",
          "description": "Device antenna height in meters. When the `heightType` parameter value is \"AGL\", the antenna height should be given relative to ground level. When the `heightType` parameter value is \"AMSL\", it is given with respect to WGS84 datum.",
          "format": "double"
        },
        "cpeCbsdIndication": {
          "type": "boolean",
          "description": "If present, this parameter specifies whether the CBSD is a CPE-CBSD or not."
        },
        "verticalAccuracy": {
          "type": "number",
          "description": "A positive number in meters to indicate accuracy of the device antenna vertical location. This optional parameter should only be present if its value is less than the FCC requirement of 3 meters.",
          "format": "double"
        },
        "antennaAzimuth": {
          "type": "integer",
          "format": "int32",
          "description": "Boresight direction of the horizontal plane of the antenna in degrees with respect to true north. The value of this parameter is an integer with a value between 0 and 359 inclusive. A value of 0 degrees means true north; a value of 90 degrees means east. This parameter is optional for Category A devices and conditional for Category B devices."
        },
        "antennaGain": {
          "format": "double",
          "description": "Peak antenna gain in dBi. This parameter is a double with a value between -127 and +128 (dBi) inclusive. Part of Release 2 to support floating-point value",
          "type": "number"
        },
        "latitude": {
          "type": "number",
          "description": "Latitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -90.000000 to +90.000000. Positive values represent latitudes north of the equator; negative values south of the equator.",
          "format": "double"
        },
        "antennaBeamwidth": {
          "format": "int32",
          "description": "3-dB antenna beamwidth of the antenna in the horizontal-plane in degrees. This parameter is an unsigned integer having a value between 0 and 360 (degrees) inclusive; it is optional for Category A devices and conditional for Category B devices.",
          "type": "integer"
        },
        "antennaDowntilt": {
          "description": "Antenna downtilt in degrees and is an integer with a value between -90 and +90 inclusive; a negative value means the antenna is tilted up (above horizontal). This parameter is optional for Category A devices and conditional for Category B devices.",
          "format": "int32",
          "type": "integer"
        },
        "longitude": {
          "type": "number",
          "description": "Longitude of the device antenna location in degrees relative to the WGS 84 datum. The allowed range is from -180.000000 to +180.000000. Positive values represent longitudes east of the prime meridian; negative values west of the prime meridian.",
          "format": "double"
        },
        "heightType": {
          "enum": [
            "HEIGHT_TYPE_UNSPECIFIED",
            "HEIGHT_TYPE_AGL",
            "HEIGHT_TYPE_AMSL"
          ],
          "description": "Specifies how the height is measured.",
          "enumDescriptions": [
            "Unspecified height type.",
            "AGL height is measured relative to the ground level.",
            "AMSL height is measured relative to the mean sea level."
          ],
          "type": "string"
        },
        "eirpCapability": {
          "type": "integer",
          "description": "This parameter is the maximum device EIRP in units of dBm/10MHz and is an integer with a value between -127 and +47 (dBm/10 MHz) inclusive. If not included, SAS interprets it as maximum allowable EIRP in units of dBm/10MHz for device category.",
          "format": "int32"
        },
        "antennaModel": {
          "type": "string",
          "description": "If an external antenna is used, the antenna model is optionally provided in this field. The string has a maximum length of 128 octets."
        },
        "indoorDeployment": {
          "type": "boolean",
          "description": "Whether the device antenna is indoor or not. `true`: indoor. `false`: outdoor."
        },
        "horizontalAccuracy": {
          "description": "A positive number in meters to indicate accuracy of the device antenna horizontal location. This optional parameter should only be present if its value is less than the FCC requirement of 50 meters.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "id": "SasPortalInstallationParams"
    },
    "SasPortalSignDeviceRequest": {
      "id": "SasPortalSignDeviceRequest",
      "properties": {
        "device": {
          "description": "Required. The device to sign. The device fields name, fcc_id and serial_number must be set. The user_id field must be set.",
          "$ref": "SasPortalDevice"
        }
      },
      "description": "Request for SignDevice.",
      "type": "object"
    },
    "SasPortalCreateSignedDeviceRequest": {
      "description": "Request for CreateSignedDevice.",
      "id": "SasPortalCreateSignedDeviceRequest",
      "properties": {
        "installerId": {
          "type": "string",
          "description": "Required. Unique installer id (CPI ID) from the Certified Professional Installers database."
        },
        "encodedDevice": {
          "type": "string",
          "description": "Required. JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set.",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "SasPortalValidateInstallerRequest": {
      "description": "Request for ValidateInstaller.",
      "type": "object",
      "properties": {
        "installerId": {
          "description": "Required. Unique installer id (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        },
        "encodedSecret": {
          "description": "Required. JSON Web Token signed using a CPI private key. Payload must include a \"secret\" claim whose value is the secret.",
          "type": "string"
        },
        "secret": {
          "description": "Required. Secret returned by the GenerateSecret.",
          "type": "string"
        }
      },
      "id": "SasPortalValidateInstallerRequest"
    },
    "SasPortalDeviceGrant": {
      "properties": {
        "moveList": {
          "description": "The DPA move lists on which this grant appears.",
          "type": "array",
          "items": {
            "$ref": "SasPortalDpaMoveList"
          }
        },
        "state": {
          "type": "string",
          "description": "State of the grant.",
          "enumDescriptions": [
            "",
            "The grant has been granted but the device is not heartbeating on it.",
            "The grant has been terminated by the SAS.",
            "The grant has been suspended by the SAS.",
            "The device is currently transmitting.",
            "The grant has expired."
          ],
          "enum": [
            "GRANT_STATE_UNSPECIFIED",
            "GRANT_STATE_GRANTED",
            "GRANT_STATE_TERMINATED",
            "GRANT_STATE_SUSPENDED",
            "GRANT_STATE_AUTHORIZED",
            "GRANT_STATE_EXPIRED"
          ]
        },
        "lastHeartbeatTransmitExpireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The transmit expiration time of the last heartbeat."
        },
        "grantId": {
          "type": "string",
          "description": "Grant Id."
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "The expiration time of the grant.",
          "type": "string"
        },
        "maxEirp": {
          "description": "Maximum Equivalent Isotropically Radiated Power (EIRP) permitted by the grant. The maximum EIRP is in units of dBm/MHz. The value of `maxEirp` represents the average (RMS) EIRP that would be measured by the procedure defined in FCC part 96.41(e)(3).",
          "type": "number",
          "format": "double"
        },
        "suspensionReason": {
          "description": "If the grant is suspended, the reason(s) for suspension.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "frequencyRange": {
          "description": "The transmission frequency range.",
          "$ref": "SasPortalFrequencyRange"
        },
        "channelType": {
          "type": "string",
          "description": "Type of channel used.",
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "CHANNEL_TYPE_GAA",
            "CHANNEL_TYPE_PAL"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "SasPortalDeviceGrant",
      "description": "Device grant. It is an authorization provided by the Spectrum Access System to a device to transmit using specified operating parameters after a successful heartbeat by the device.",
      "type": "object"
    },
    "SasPortalDeployment": {
      "type": "object",
      "id": "SasPortalDeployment",
      "description": "The Deployment.",
      "properties": {
        "sasUserIds": {
          "type": "array",
          "description": "User ID used by the devices belonging to this deployment. Each deployment should be associated with one unique user ID.",
          "items": {
            "type": "string"
          }
        },
        "frns": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The FCC Registration Numbers (FRNs) copied from its direct parent.",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The deployment's display name.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SasPortalProvisionDeploymentRequest": {
      "description": "Request for [ProvisionDeployment]. [spectrum.sas.portal.v1alpha1.Provisioning.ProvisionDeployment]. GCP Project, Organization Info, and caller’s GAIA ID should be retrieved from the RPC handler, and used as inputs to create a new SAS organization (if not exists) and a new SAS deployment.",
      "type": "object",
      "properties": {
        "newOrganizationDisplayName": {
          "type": "string",
          "description": "Optional. If this field is set, and a new SAS Portal Organization needs to be created, its display name will be set to the value of this field."
        },
        "organizationId": {
          "type": "string",
          "format": "int64",
          "description": "Optional. If this field is set then a new deployment will be created under the organization specified by this id."
        },
        "newDeploymentDisplayName": {
          "description": "Optional. If this field is set, and a new SAS Portal Deployment needs to be created, its display name will be set to the value of this field.",
          "type": "string"
        }
      },
      "id": "SasPortalProvisionDeploymentRequest"
    },
    "SasPortalStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        }
      },
      "id": "SasPortalStatus"
    },
    "SasPortalValidateInstallerResponse": {
      "type": "object",
      "description": "Response for ValidateInstaller.",
      "properties": {},
      "id": "SasPortalValidateInstallerResponse"
    },
    "SasPortalDeviceAirInterface": {
      "type": "object",
      "id": "SasPortalDeviceAirInterface",
      "properties": {
        "radioTechnology": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "RADIO_TECHNOLOGY_UNSPECIFIED",
            "E_UTRA",
            "CAMBIUM_NETWORKS",
            "FOUR_G_BBW_SAA_1",
            "NR",
            "DOODLE_CBRS",
            "CW",
            "REDLINE",
            "TARANA_WIRELESS",
            "FAROS"
          ],
          "description": "Conditional. This field specifies the radio access technology that is used for the CBSD.",
          "type": "string"
        },
        "supportedSpec": {
          "description": "Optional. This field is related to the `radioTechnology` and provides the air interface specification that the CBSD is compliant with at the time of registration.",
          "type": "string"
        }
      },
      "description": "Information about the device's air interface."
    },
    "SasPortalDevice": {
      "id": "SasPortalDevice",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Device created in the SAS Portal, however, not yet registered with SAS.",
            "Device registered with SAS.",
            "Device de-registered with SAS."
          ],
          "description": "Output only. Device state.",
          "enum": [
            "DEVICE_STATE_UNSPECIFIED",
            "RESERVED",
            "REGISTERED",
            "DEREGISTERED"
          ]
        },
        "name": {
          "description": "Output only. The resource path name.",
          "type": "string"
        },
        "serialNumber": {
          "description": "A serial number assigned to the device by the device manufacturer.",
          "type": "string"
        },
        "fccId": {
          "description": "The FCC identifier of the device. Refer to https://www.fcc.gov/oet/ea/fccid for FccID format. Accept underscores and periods because some test-SAS customers use them.",
          "type": "string"
        },
        "deviceMetadata": {
          "$ref": "SasPortalDeviceMetadata",
          "description": "Device parameters that can be overridden by both SAS Portal and SAS registration requests."
        },
        "preloadedConfig": {
          "description": "Configuration of the device, as specified via SAS Portal API.",
          "$ref": "SasPortalDeviceConfig"
        },
        "currentChannels": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "SasPortalChannelWithScore"
          },
          "description": "Output only. Current channels with scores.",
          "deprecated": true
        },
        "activeConfig": {
          "description": "Output only. Current configuration of the device as registered to the SAS.",
          "$ref": "SasPortalDeviceConfig"
        },
        "grantRangeAllowlists": {
          "description": "Only ranges that are within the allowlists are available for new grants.",
          "type": "array",
          "items": {
            "$ref": "SasPortalFrequencyRange"
          }
        },
        "displayName": {
          "type": "string",
          "description": "Device display name."
        },
        "grants": {
          "description": "Output only. Grants held by the device.",
          "type": "array",
          "items": {
            "$ref": "SasPortalDeviceGrant"
          }
        }
      },
      "type": "object"
    },
    "SasPortalGenerateSecretResponse": {
      "type": "object",
      "properties": {
        "secret": {
          "description": "The secret generated by the string and used by ValidateInstaller.",
          "type": "string"
        }
      },
      "id": "SasPortalGenerateSecretResponse",
      "description": "Response for GenerateSecret."
    },
    "SasPortalOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "SasPortalOperation",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "SasPortalStatus"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      }
    },
    "SasPortalUpdateSignedDeviceRequest": {
      "properties": {
        "encodedDevice": {
          "description": "Required. The JSON Web Token signed using a CPI private key. Payload must be the JSON encoding of the device. The user_id field must be set.",
          "format": "byte",
          "type": "string"
        },
        "installerId": {
          "description": "Required. Unique installer ID (CPI ID) from the Certified Professional Installers database.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SasPortalUpdateSignedDeviceRequest",
      "description": "Request for UpdateSignedDevice."
    },
    "SasPortalMigrateOrganizationMetadata": {
      "id": "SasPortalMigrateOrganizationMetadata",
      "properties": {
        "operationState": {
          "enumDescriptions": [
            "Unspecified.",
            "Pending (Not started).",
            "In-progress.",
            "Done successfully.",
            "Done with errors."
          ],
          "description": "Output only. Current operation state",
          "type": "string",
          "readOnly": true,
          "enum": [
            "OPERATION_STATE_UNSPECIFIED",
            "OPERATION_STATE_PENDING",
            "OPERATION_STATE_RUNNING",
            "OPERATION_STATE_SUCCEEDED",
            "OPERATION_STATE_FAILED"
          ]
        }
      },
      "description": "Long-running operation metadata message returned by the MigrateOrganization.",
      "type": "object"
    },
    "SasPortalTestPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "A set of permissions that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for `TestPermissions` method.",
      "type": "object",
      "id": "SasPortalTestPermissionsResponse"
    },
    "SasPortalGenerateSecretRequest": {
      "properties": {},
      "type": "object",
      "id": "SasPortalGenerateSecretRequest",
      "description": "Request for GenerateSecret."
    },
    "SasPortalGcpProjectDeployment": {
      "description": "Deployment associated with the GCP project. Includes whether SAS analytics has been enabled or not.",
      "id": "SasPortalGcpProjectDeployment",
      "properties": {
        "deployment": {
          "$ref": "SasPortalDeployment",
          "description": "Deployment associated with the GCP project."
        },
        "hasEnabledAnalytics": {
          "description": "Whether SAS analytics has been enabled.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "SasPortalChannelWithScore": {
      "id": "SasPortalChannelWithScore",
      "properties": {
        "score": {
          "format": "double",
          "type": "number",
          "description": "The channel score, normalized to be in the range [0,100]."
        },
        "frequencyRange": {
          "description": "The frequency range of the channel.",
          "$ref": "SasPortalFrequencyRange"
        }
      },
      "description": "The channel with score.",
      "type": "object"
    },
    "SasPortalCustomer": {
      "type": "object",
      "description": "Entity representing a SAS customer.",
      "id": "SasPortalCustomer",
      "properties": {
        "displayName": {
          "description": "Required. Name of the organization that the customer entity represents.",
          "type": "string"
        },
        "sasUserIds": {
          "type": "array",
          "description": "User IDs used by the devices belonging to this customer.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the customer."
        }
      }
    },
    "SasPortalPolicy": {
      "id": "SasPortalPolicy",
      "description": "Defines an access control policy to the resources.",
      "type": "object",
      "properties": {
        "assignments": {
          "items": {
            "$ref": "SasPortalAssignment"
          },
          "type": "array",
          "description": "List of assignments"
        },
        "etag": {
          "type": "string",
          "description": "The etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An etag is returned in the response to GetPolicy, and systems are expected to put that etag in the request to SetPolicy to ensure that their change will be applied to the same version of the policy. If no etag is provided in the call to GetPolicy, then the existing policy is overwritten blindly.",
          "format": "byte"
        }
      }
    },
    "SasPortalAssignment": {
      "id": "SasPortalAssignment",
      "description": "Associates `members` with a `role`.",
      "properties": {
        "role": {
          "type": "string",
          "description": "Required. Role that is assigned to `members`."
        },
        "members": {
          "type": "array",
          "description": "The identities the role is assigned to. It can have the following values: * `{user_email}`: An email address that represents a specific Google account. For example: `alice@gmail.com`. * `{group_email}`: An email address that represents a Google group. For example, `viewers@gmail.com`.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "SasPortalDeviceMetadata": {
      "id": "SasPortalDeviceMetadata",
      "properties": {
        "interferenceCoordinationGroup": {
          "type": "string",
          "description": "Interference Coordination Group (ICG). A group of CBSDs that manage their own interference with the group. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf)."
        },
        "antennaModel": {
          "type": "string",
          "description": "If populated, the Antenna Model Pattern to use. Format is: `RecordCreatorId:PatternId`"
        },
        "nrqzValidation": {
          "description": "Output only. National Radio Quiet Zone validation info.",
          "$ref": "SasPortalNrqzValidation",
          "readOnly": true
        },
        "commonChannelGroup": {
          "type": "string",
          "description": "Common Channel Group (CCG). A group of CBSDs in the same ICG requesting a common primary channel assignment. For more details, see [CBRSA-TS-2001 V3.0.0](https://ongoalliance.org/wp-content/uploads/2020/02/CBRSA-TS-2001-V3.0.0_Approved-for-publication.pdf)."
        },
        "nrqzValidated": {
          "description": "Output only. Set to `true` if a CPI has validated that they have coordinated with the National Quiet Zone office.",
          "type": "boolean",
          "readOnly": true,
          "deprecated": true
        }
      },
      "type": "object",
      "description": "Device data overridable by both SAS Portal and registration requests."
    },
    "SasPortalSetupSasAnalyticsRequest": {
      "id": "SasPortalSetupSasAnalyticsRequest",
      "properties": {
        "userId": {
          "description": "Optional. User id to setup analytics for, if not provided the user id associated with the project is used. optional",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request for the SetupSasAnalytics rpc."
    },
    "SasPortalEmpty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "SasPortalEmpty",
      "type": "object"
    },
    "SasPortalGetPolicyRequest": {
      "type": "object",
      "id": "SasPortalGetPolicyRequest",
      "properties": {
        "resource": {
          "type": "string",
          "description": "Required. The resource for which the policy is being requested."
        }
      },
      "description": "Request message for `GetPolicy` method."
    },
    "SasPortalListDeploymentsResponse": {
      "id": "SasPortalListDeploymentsResponse",
      "description": "Response for ListDeployments.",
      "properties": {
        "deployments": {
          "description": "The deployments that match the request.",
          "type": "array",
          "items": {
            "$ref": "SasPortalDeployment"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token returned from a previous call to ListDeployments that indicates from where listing should continue. If the field is missing or empty, it means there are no more deployments."
        }
      },
      "type": "object"
    },
    "SasPortalDeviceModel": {
      "description": "Information about the model of the device.",
      "id": "SasPortalDeviceModel",
      "properties": {
        "vendor": {
          "description": "The name of the device vendor.",
          "type": "string"
        },
        "name": {
          "description": "The name of the device model.",
          "type": "string"
        },
        "softwareVersion": {
          "type": "string",
          "description": "The software version of the device."
        },
        "hardwareVersion": {
          "description": "The hardware version of the device.",
          "type": "string"
        },
        "firmwareVersion": {
          "description": "The firmware version of the device.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SasPortalDpaMoveList": {
      "properties": {
        "frequencyRange": {
          "description": "The frequency range that the move list affects.",
          "$ref": "SasPortalFrequencyRange"
        },
        "dpaId": {
          "type": "string",
          "description": "The ID of the DPA."
        }
      },
      "id": "SasPortalDpaMoveList",
      "type": "object",
      "description": "An entry in a DPA's move list."
    },
    "SasPortalNrqzValidation": {
      "type": "object",
      "id": "SasPortalNrqzValidation",
      "properties": {
        "state": {
          "description": "State of the NRQZ validation info.",
          "enumDescriptions": [
            "Unspecified state.",
            "Draft state.",
            "Final state."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "FINAL"
          ]
        },
        "longitude": {
          "description": "Device longitude that's associated with the validation.",
          "format": "double",
          "type": "number"
        },
        "caseId": {
          "description": "Validation case ID.",
          "type": "string"
        },
        "cpiId": {
          "description": "CPI who signed the validation.",
          "type": "string"
        },
        "latitude": {
          "format": "double",
          "description": "Device latitude that's associated with the validation.",
          "type": "number"
        }
      },
      "description": "Information about National Radio Quiet Zone validation."
    },
    "SasPortalOrganization": {
      "id": "SasPortalOrganization",
      "description": "Organization details.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Name of organization",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "Id of organization",
          "type": "string"
        }
      }
    },
    "SasPortalFrequencyRange": {
      "id": "SasPortalFrequencyRange",
      "description": "Frequency range from `low_frequency` to `high_frequency`.",
      "properties": {
        "lowFrequencyMhz": {
          "type": "number",
          "description": "The lowest frequency of the frequency range in MHz.",
          "format": "double"
        },
        "highFrequencyMhz": {
          "type": "number",
          "description": "The highest frequency of the frequency range in MHz.",
          "format": "double"
        }
      },
      "type": "object"
    },
    "SasPortalMoveDeviceRequest": {
      "id": "SasPortalMoveDeviceRequest",
      "description": "Request for MoveDevice.",
      "type": "object",
      "properties": {
        "destination": {
          "type": "string",
          "description": "Required. The name of the new parent resource node or customer to reparent the device under."
        }
      }
    }
  },
  "ownerName": "Google",
  "revision": "20260913",
  "name": "prod_tt_sasportal",
  "baseUrl": "https://prod-tt-sasportal.googleapis.com/",
  "resources": {
    "customers": {
      "methods": {
        "get": {
          "parameters": {
            "name": {
              "pattern": "^customers/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The name of the customer."
            }
          },
          "flatPath": "v1alpha1/customers/{customersId}",
          "response": {
            "$ref": "SasPortalCustomer"
          },
          "description": "Returns a requested customer.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "id": "prod_tt_sasportal.customers.get",
          "path": "v1alpha1/{+name}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ]
        },
        "listGcpProjectDeployments": {
          "id": "prod_tt_sasportal.customers.listGcpProjectDeployments",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "parameterOrder": [],
          "description": "Returns a list of SAS deployments associated with current GCP project. Includes whether SAS analytics has been enabled or not.",
          "httpMethod": "GET",
          "response": {
            "$ref": "SasPortalListGcpProjectDeploymentsResponse"
          },
          "flatPath": "v1alpha1/customers:listGcpProjectDeployments",
          "path": "v1alpha1/customers:listGcpProjectDeployments"
        },
        "provisionDeployment": {
          "request": {
            "$ref": "SasPortalProvisionDeploymentRequest"
          },
          "path": "v1alpha1/customers:provisionDeployment",
          "id": "prod_tt_sasportal.customers.provisionDeployment",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "SasPortalProvisionDeploymentResponse"
          },
          "flatPath": "v1alpha1/customers:provisionDeployment",
          "parameters": {},
          "description": "Creates a new SAS deployment through the GCP workflow. Creates a SAS organization if an organization match is not found.",
          "parameterOrder": []
        },
        "migrateOrganization": {
          "parameterOrder": [],
          "description": "Migrates a SAS organization to the cloud. This will create GCP projects for each deployment and associate them. The SAS Organization is linked to the gcp project that called the command. go/sas-legacy-customer-migration",
          "response": {
            "$ref": "SasPortalOperation"
          },
          "flatPath": "v1alpha1/customers:migrateOrganization",
          "request": {
            "$ref": "SasPortalMigrateOrganizationRequest"
          },
          "parameters": {},
          "path": "v1alpha1/customers:migrateOrganization",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "id": "prod_tt_sasportal.customers.migrateOrganization"
        },
        "listLegacyOrganizations": {
          "description": "Returns a list of legacy organizations.",
          "flatPath": "v1alpha1/customers:listLegacyOrganizations",
          "response": {
            "$ref": "SasPortalListLegacyOrganizationsResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "path": "v1alpha1/customers:listLegacyOrganizations",
          "id": "prod_tt_sasportal.customers.listLegacyOrganizations"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "parameterOrder": [],
          "httpMethod": "GET",
          "path": "v1alpha1/customers",
          "description": "Returns a list of requested customers.",
          "response": {
            "$ref": "SasPortalListCustomersResponse"
          },
          "flatPath": "v1alpha1/customers",
          "id": "prod_tt_sasportal.customers.list",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "The maximum number of customers to return in the response."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A pagination token returned from a previous call to ListCustomers that indicates where this listing should continue from."
            }
          }
        },
        "setupSasAnalytics": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "SasPortalSetupSasAnalyticsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "path": "v1alpha1/customers:setupSasAnalytics",
          "description": "Setups the a GCP Project to receive SAS Analytics messages via GCP Pub/Sub with a subscription to BigQuery. All the Pub/Sub topics and BigQuery tables are created automatically as part of this service.",
          "parameters": {},
          "response": {
            "$ref": "SasPortalOperation"
          },
          "id": "prod_tt_sasportal.customers.setupSasAnalytics",
          "flatPath": "v1alpha1/customers:setupSasAnalytics"
        },
        "patch": {
          "description": "Updates an existing customer.",
          "request": {
            "$ref": "SasPortalCustomer"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "id": "prod_tt_sasportal.customers.patch",
          "path": "v1alpha1/{+name}",
          "parameters": {
            "name": {
              "description": "Output only. Resource name of the customer.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^customers/[^/]+$"
            },
            "updateMask": {
              "description": "Fields to be updated.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "SasPortalCustomer"
          },
          "flatPath": "v1alpha1/customers/{customersId}"
        }
      },
      "resources": {
        "devices": {
          "methods": {
            "move": {
              "response": {
                "$ref": "SasPortalOperation"
              },
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:move",
              "id": "prod_tt_sasportal.customers.devices.move",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the device to move."
                }
              },
              "description": "Moves a device under another node or customer.",
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "httpMethod": "POST",
              "path": "v1alpha1/{+name}:move",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha1/{+parent}/devices",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/devices",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the parent resource.",
                  "pattern": "^customers/[^/]+$"
                }
              },
              "response": {
                "$ref": "SasPortalDevice"
              },
              "request": {
                "$ref": "SasPortalDevice"
              },
              "httpMethod": "POST",
              "description": "Creates a device under a node or customer.",
              "id": "prod_tt_sasportal.customers.devices.create"
            },
            "patch": {
              "path": "v1alpha1/{+name}",
              "description": "Updates a device.",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "description": "Output only. The resource path name.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "description": "Fields to be updated.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "SasPortalDevice"
              },
              "id": "prod_tt_sasportal.customers.devices.patch",
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "request": {
                "$ref": "SasPortalDevice"
              }
            },
            "createSigned": {
              "flatPath": "v1alpha1/customers/{customersId}/devices:createSigned",
              "path": "v1alpha1/{+parent}/devices:createSigned",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "request": {
                "$ref": "SasPortalCreateSignedDeviceRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a signed device under a node or customer.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The name of the parent resource.",
                  "type": "string"
                }
              },
              "id": "prod_tt_sasportal.customers.devices.createSigned"
            },
            "signDevice": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "prod_tt_sasportal.customers.devices.signDevice",
              "httpMethod": "POST",
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "description": "Signs a device.",
              "path": "v1alpha1/{+name}:signDevice",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Output only. The resource path name.",
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+/devices/[^/]+$"
                }
              },
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:signDevice"
            },
            "delete": {
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "id": "prod_tt_sasportal.customers.devices.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "description": "Required. The name of the device.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes a device.",
              "path": "v1alpha1/{+name}"
            },
            "updateSigned": {
              "httpMethod": "PATCH",
              "id": "prod_tt_sasportal.customers.devices.updateSigned",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a signed device.",
              "path": "v1alpha1/{+name}:updateSigned",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "description": "Required. The name of the device to update.",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}:updateSigned"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/devices/{devicesId}",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the device.",
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "type": "string"
                }
              },
              "id": "prod_tt_sasportal.customers.devices.get",
              "httpMethod": "GET",
              "description": "Gets details about a device.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}"
            },
            "list": {
              "httpMethod": "GET",
              "flatPath": "v1alpha1/customers/{customersId}/devices",
              "response": {
                "$ref": "SasPortalListDevicesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha1/{+parent}/devices",
              "id": "prod_tt_sasportal.customers.devices.list",
              "description": "Lists devices under a node or customer.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000]."
                },
                "parent": {
                  "description": "Required. The name of the parent resource.",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                  "location": "query"
                }
              }
            }
          }
        },
        "deployments": {
          "resources": {
            "devices": {
              "methods": {
                "createSigned": {
                  "description": "Creates a signed device under a node or customer.",
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices:createSigned",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "prod_tt_sasportal.customers.deployments.devices.createSigned",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "parameters": {
                    "parent": {
                      "pattern": "^customers/[^/]+/deployments/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the parent resource."
                    }
                  },
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  }
                },
                "list": {
                  "description": "Lists devices under a node or customer.",
                  "id": "prod_tt_sasportal.customers.deployments.devices.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000]."
                    },
                    "filter": {
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the parent resource.",
                      "pattern": "^customers/[^/]+/deployments/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha1/{+parent}/devices",
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices",
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  }
                },
                "create": {
                  "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}/devices",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the parent resource.",
                      "pattern": "^customers/[^/]+/deployments/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "id": "prod_tt_sasportal.customers.deployments.devices.create",
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "description": "Creates a device under a node or customer.",
                  "path": "v1alpha1/{+parent}/devices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "httpMethod": "POST"
                }
              }
            }
          },
          "methods": {
            "patch": {
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Fields to be updated.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Output only. Resource name.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Updates an existing deployment.",
              "id": "prod_tt_sasportal.customers.deployments.patch",
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "request": {
                "$ref": "SasPortalDeployment"
              },
              "httpMethod": "PATCH",
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "description": "Returns a requested deployment.",
              "id": "prod_tt_sasportal.customers.deployments.get",
              "parameters": {
                "name": {
                  "description": "Required. The name of the deployment.",
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}"
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "SasPortalListDeploymentsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/deployments",
              "description": "Lists deployments.",
              "path": "v1alpha1/{+parent}/deployments",
              "id": "prod_tt_sasportal.customers.deployments.list",
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of deployments to return in the response.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "create": {
              "path": "v1alpha1/{+parent}/deployments",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The parent resource name where the deployment is to be created.",
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "id": "prod_tt_sasportal.customers.deployments.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/deployments",
              "request": {
                "$ref": "SasPortalDeployment"
              },
              "description": "Creates a new deployment.",
              "response": {
                "$ref": "SasPortalDeployment"
              },
              "httpMethod": "POST"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes a deployment.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the deployment.",
                  "type": "string",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}",
              "path": "v1alpha1/{+name}",
              "id": "prod_tt_sasportal.customers.deployments.delete",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "move": {
              "httpMethod": "POST",
              "id": "prod_tt_sasportal.customers.deployments.move",
              "path": "v1alpha1/{+name}:move",
              "description": "Moves a deployment under another node or customer.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the deployment to move.",
                  "pattern": "^customers/[^/]+/deployments/[^/]+$",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "SasPortalMoveDeploymentRequest"
              },
              "response": {
                "$ref": "SasPortalOperation"
              },
              "flatPath": "v1alpha1/customers/{customersId}/deployments/{deploymentsId}:move"
            }
          }
        },
        "nodes": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists nodes.",
              "parameters": {
                "pageToken": {
                  "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent resource name, for example, \"nodes/1\".",
                  "pattern": "^customers/[^/]+$"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of nodes to return in the response.",
                  "type": "integer"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered."
                }
              },
              "path": "v1alpha1/{+parent}/nodes",
              "flatPath": "v1alpha1/customers/{customersId}/nodes",
              "id": "prod_tt_sasportal.customers.nodes.list",
              "response": {
                "$ref": "SasPortalListNodesResponse"
              }
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "SasPortalNode"
              },
              "id": "prod_tt_sasportal.customers.nodes.create",
              "flatPath": "v1alpha1/customers/{customersId}/nodes",
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent resource name where the node is to be created.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "SasPortalNode"
              },
              "path": "v1alpha1/{+parent}/nodes",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Creates a new node."
            },
            "delete": {
              "description": "Deletes a node.",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "prod_tt_sasportal.customers.nodes.delete",
              "path": "v1alpha1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the node.",
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "SasPortalEmpty"
              }
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "response": {
                "$ref": "SasPortalNode"
              },
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "description": "Fields to be updated.",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "name": {
                  "description": "Output only. Resource name.",
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "PATCH",
              "description": "Updates an existing node.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}",
              "id": "prod_tt_sasportal.customers.nodes.patch",
              "request": {
                "$ref": "SasPortalNode"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "description": "Required. The name of the node."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "id": "prod_tt_sasportal.customers.nodes.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Returns a requested node.",
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}",
              "response": {
                "$ref": "SasPortalNode"
              },
              "httpMethod": "GET"
            },
            "move": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "path": "v1alpha1/{+name}:move",
              "httpMethod": "POST",
              "id": "prod_tt_sasportal.customers.nodes.move",
              "request": {
                "$ref": "SasPortalMoveNodeRequest"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+/nodes/[^/]+$",
                  "description": "Required. The name of the node to move."
                }
              },
              "description": "Moves a node under another node or customer.",
              "response": {
                "$ref": "SasPortalOperation"
              },
              "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}:move",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "deployments": {
              "methods": {
                "create": {
                  "id": "prod_tt_sasportal.customers.nodes.deployments.create",
                  "httpMethod": "POST",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/deployments",
                  "response": {
                    "$ref": "SasPortalDeployment"
                  },
                  "request": {
                    "$ref": "SasPortalDeployment"
                  },
                  "description": "Creates a new deployment.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "path": "v1alpha1/{+parent}/deployments",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource name where the deployment is to be created.",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/deployments",
                  "response": {
                    "$ref": "SasPortalListDeploymentsResponse"
                  },
                  "id": "prod_tt_sasportal.customers.nodes.deployments.list",
                  "path": "v1alpha1/{+parent}/deployments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists deployments.",
                  "parameters": {
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to ListDeployments that indicates where this listing should continue from.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of deployments to return in the response.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent resource name, for example, \"nodes/1\", customer/1/nodes/2.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^customers/[^/]+/nodes/[^/]+$"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no deployments are filtered."
                    }
                  }
                }
              }
            },
            "nodes": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "description": "Required. The parent resource name, for example, \"nodes/1\"."
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to ListNodes that indicates where this listing should continue from.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The filter expression. The filter should have the following format: \"DIRECT_CHILDREN\" or format: \"direct_children\". The filter is case insensitive. If empty, then no nodes are filtered.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of nodes to return in the response.",
                      "type": "integer"
                    }
                  },
                  "path": "v1alpha1/{+parent}/nodes",
                  "description": "Lists nodes.",
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/nodes",
                  "response": {
                    "$ref": "SasPortalListNodesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "httpMethod": "GET",
                  "id": "prod_tt_sasportal.customers.nodes.nodes.list"
                },
                "create": {
                  "id": "prod_tt_sasportal.customers.nodes.nodes.create",
                  "httpMethod": "POST",
                  "path": "v1alpha1/{+parent}/nodes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/nodes",
                  "response": {
                    "$ref": "SasPortalNode"
                  },
                  "description": "Creates a new node.",
                  "request": {
                    "$ref": "SasPortalNode"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "description": "Required. The parent resource name where the node is to be created.",
                      "location": "path",
                      "required": true
                    }
                  }
                }
              }
            },
            "devices": {
              "methods": {
                "create": {
                  "description": "Creates a device under a node or customer.",
                  "id": "prod_tt_sasportal.customers.nodes.devices.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the parent resource.",
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SasPortalDevice"
                  },
                  "path": "v1alpha1/{+parent}/devices",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices",
                  "response": {
                    "$ref": "SasPortalDevice"
                  }
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the parent resource."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of devices to return in the response. If empty or zero, all devices will be listed. Must be in the range [0, 1000].",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call to ListDevices that indicates where this listing should continue from.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "The filter expression. The filter should have one of the following formats: \"sn=123454\" or \"display_name=MyDevice\". sn corresponds to serial number of the device. The filter is case insensitive.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "prod_tt_sasportal.customers.nodes.devices.list",
                  "response": {
                    "$ref": "SasPortalListDevicesResponse"
                  },
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices",
                  "path": "v1alpha1/{+parent}/devices",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists devices under a node or customer.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ],
                  "httpMethod": "GET"
                },
                "createSigned": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SasPortalCreateSignedDeviceRequest"
                  },
                  "path": "v1alpha1/{+parent}/devices:createSigned",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a signed device under a node or customer.",
                  "id": "prod_tt_sasportal.customers.nodes.devices.createSigned",
                  "parameters": {
                    "parent": {
                      "pattern": "^customers/[^/]+/nodes/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the parent resource."
                    }
                  },
                  "flatPath": "v1alpha1/customers/{customersId}/nodes/{nodesId}/devices:createSigned",
                  "response": {
                    "$ref": "SasPortalDevice"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/sasportal"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "deployments": {
      "methods": {
        "get": {
          "response": {
            "$ref": "SasPortalDeployment"
          },
          "description": "Returns a requested deployment.",
          "flatPath": "v1alpha1/deployments/{deploymentsId}",
          "httpMethod": "GET",
          "path": "v1alpha1/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^deployments/[^/]+$",
              "description": "Required. The name of the deployment.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sasportal"
          ],
          "parameterOrder": [
            "name"
          ],
          "id": "prod_tt_sasportal.deployments.get"
        }
      },
      "resources": {
        "devices": {
          "methods": {
            "signDevice": {
              "request": {
                "$ref": "SasPortalSignDeviceRequest"
              },
              "id": "prod_tt_sasportal.deployments.devices.signDevice",
              "description": "Signs a device.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "httpMethod": "POST",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:signDevice",
              "path": "v1alpha1/{+name}:signDevice",
              "parameters": {
                "name": {
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "description": "Output only. The resource path name.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ]
            },
            "get": {
              "description": "Gets details about a device.",
              "parameterOrder": [
                "name"
              ],
              "id": "prod_tt_sasportal.deployments.devices.get",
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "GET",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the device.",
                  "location": "path",
                  "required": true,
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "type": "string"
                }
              }
            },
            "updateSigned": {
              "id": "prod_tt_sasportal.deployments.devices.updateSigned",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:updateSigned",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "SasPortalDevice"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the device to update."
                }
              },
              "path": "v1alpha1/{+name}:updateSigned",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "description": "Updates a signed device.",
              "request": {
                "$ref": "SasPortalUpdateSignedDeviceRequest"
              }
            },
            "move": {
              "id": "prod_tt_sasportal.deployments.devices.move",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
              "httpMethod": "POST",
              "description": "Moves a device under another node or customer.",
              "path": "v1alpha1/{+name}:move",
              "parameters": {
                "name": {
                  "description": "Required. The name of the device to move.",
                  "pattern": "^deployments/[^/]+/devices/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "SasPortalMoveDeviceRequest"
              },
              "response": {
                "$ref": "SasPortalOperation"
              },
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}:move"
            },
            "delete": {
              "description": "Deletes a device.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "path": "v1alpha1/{+name}",
              "flatPath": "v1alpha1/deployments/{deploymentsId}/devices/{devicesId}",
              "response": {
                "$ref": "SasPortalEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sasportal"
              ],
[...]
