{
  "title": "Cloud Pub/Sub API",
  "endpoints": [
    {
      "endpointUrl": "https://pubsub.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    },
    {
      "endpointUrl": "https://pubsub.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east1"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://pubsub.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://pubsub.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://pubsub.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://pubsub.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://pubsub.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "location": "asia-southeast3",
      "endpointUrl": "https://pubsub.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://pubsub.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://pubsub.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://pubsub.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north2"
    },
    {
      "endpointUrl": "https://pubsub.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://pubsub.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://pubsub.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://pubsub.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "endpointUrl": "https://pubsub.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://pubsub.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://pubsub.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://pubsub.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://pubsub.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://pubsub.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "endpointUrl": "https://pubsub.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://pubsub.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://pubsub.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central2"
    },
    {
      "endpointUrl": "https://pubsub.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://pubsub.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://pubsub.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://pubsub.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west1"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://pubsub.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://pubsub.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "location": "us-west8",
      "endpointUrl": "https://pubsub.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/pubsub": {
          "description": "View and manage Pub/Sub topics and subscriptions"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "baseUrl": "https://pubsub.googleapis.com/",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/pubsub/docs",
  "name": "pubsub",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "protocol": "rest",
  "revision": "20260915",
  "rootUrl": "https://pubsub.googleapis.com/",
  "id": "pubsub:v1beta1a",
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "basePath": "",
  "ownerName": "Google",
  "description": "Provides reliable, many-to-many, asynchronous messaging between applications. ",
  "canonicalName": "Pubsub",
  "version": "v1beta1a",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://pubsub.mtls.googleapis.com/",
  "schemas": {
    "PullBatchResponse": {
      "description": "Response for the PullBatch method.",
      "id": "PullBatchResponse",
      "type": "object",
      "properties": {
        "pullResponses": {
          "type": "array",
          "items": {
            "$ref": "PullResponse"
          },
          "description": "Received Pub/Sub messages or status events. The Pub/Sub system will return zero messages if there are no more messages available in the backlog. The Pub/Sub system may return fewer than the max_events requested even if there are more messages available in the backlog."
        }
      }
    },
    "Topic": {
      "description": "A topic resource.",
      "id": "Topic",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the topic."
        }
      }
    },
    "ListSubscriptionsResponse": {
      "id": "ListSubscriptionsResponse",
      "type": "object",
      "description": "Response for the ListSubscriptions method.",
      "properties": {
        "nextPageToken": {
          "description": "If not empty, indicates that there are more subscriptions that match the request and this value should be passed to the next ListSubscriptionsRequest to continue.",
          "type": "string"
        },
        "subscription": {
          "description": "The subscriptions that match the request.",
          "type": "array",
          "items": {
            "$ref": "Subscription"
          }
        }
      }
    },
    "PublishBatchResponse": {
      "type": "object",
      "description": "Response for the PublishBatch method.",
      "id": "PublishBatchResponse",
      "properties": {
        "messageIds": {
          "description": "The server-assigned ID of each published message, in the same order as the messages in the request. IDs are guaranteed to be unique within the topic.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ListTopicsResponse": {
      "description": "Response for the ListTopics method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "If not empty, indicates that there are more topics that match the request, and this value should be passed to the next ListTopicsRequest to continue.",
          "type": "string"
        },
        "topic": {
          "description": "The resulting topics.",
          "type": "array",
          "items": {
            "$ref": "Topic"
          }
        }
      },
      "id": "ListTopicsResponse"
    },
    "PushConfig": {
      "properties": {
        "pushEndpoint": {
          "description": "A URL locating the endpoint to which messages should be pushed. For example, a Webhook endpoint might use \"https://example.com/push\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PushConfig",
      "description": "Configuration for a push delivery endpoint."
    },
    "PublishBatchRequest": {
      "type": "object",
      "description": "Request for the PublishBatch method.",
      "properties": {
        "messages": {
          "description": "The messages to publish.",
          "items": {
            "$ref": "PubsubMessage"
          },
          "type": "array"
        },
        "topic": {
          "description": "The messages in the request will be published on this topic.",
          "type": "string"
        }
      },
      "id": "PublishBatchRequest"
    },
    "PubsubEvent": {
      "type": "object",
      "properties": {
        "truncated": {
          "description": "Indicates that this subscription has been truncated.",
          "type": "boolean"
        },
        "subscription": {
          "description": "The subscription that received the event.",
          "type": "string"
        },
        "message": {
          "description": "A received message.",
          "$ref": "PubsubMessage"
        },
        "deleted": {
          "type": "boolean",
          "description": "Indicates that this subscription has been deleted. (Note that pull subscribers will always receive NOT_FOUND in response in their pull request on the subscription, rather than seeing this boolean.)"
        }
      },
      "id": "PubsubEvent",
      "description": "An event indicating a received message or truncation event."
    },
    "Subscription": {
      "description": "A subscription resource.",
      "id": "Subscription",
      "type": "object",
      "properties": {
        "topic": {
          "description": "The name of the topic from which this subscription is receiving messages.",
          "type": "string"
        },
        "ackDeadlineSeconds": {
          "description": "For either push or pull delivery, the value is the maximum time after a subscriber receives a message before the subscriber should acknowledge or Nack the message. If the Ack deadline for a message passes without an Ack or a Nack, the Pub/Sub system will eventually redeliver the message. If a subscriber acknowledges after the deadline, the Pub/Sub system may accept the Ack, but it is possible that the message has been already delivered again. Multiple Acks to the message are allowed and will succeed. For push delivery, this value is used to set the request timeout for the call to the push endpoint. For pull delivery, this value is used as the initial value for the Ack deadline. It may be overridden for each message using its corresponding ack_id with ModifyAckDeadline. While a message is outstanding (i.e. it has been delivered to a pull subscriber and the subscriber has not yet Acked or Nacked), the Pub/Sub system will not deliver that message to another pull subscriber (on a best-effort basis).",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "Name of the subscription.",
          "type": "string"
        },
        "pushConfig": {
          "$ref": "PushConfig",
          "description": "If push delivery is used with this subscription, this field is used to configure it."
        }
      }
    },
    "ModifyAckDeadlineRequest": {
      "properties": {
        "ackDeadlineSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "The new ack deadline with respect to the time this request was sent to the Pub/Sub system. Must be >= 0. For example, if the value is 10, the new ack deadline will expire 10 seconds after the ModifyAckDeadline call was made. Specifying zero may immediately make the message available for another pull request."
        },
        "ackId": {
          "description": "The acknowledgment ID. Either this or ack_ids must be populated, not both.",
          "type": "string",
          "deprecated": true
        },
        "subscription": {
          "description": "Next Index: 5 The name of the subscription from which messages are being pulled.",
          "type": "string"
        },
        "ackIds": {
          "description": "List of acknowledgment IDs. Either this field or ack_id should be populated, not both.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Request for the ModifyAckDeadline method.",
      "type": "object",
      "id": "ModifyAckDeadlineRequest"
    },
    "Label": {
      "type": "object",
      "properties": {
        "strValue": {
          "type": "string",
          "description": "A string value."
        },
        "numValue": {
          "description": "An integer value.",
          "format": "int64",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "The key of a label is a syntactically valid URL (as per RFC 1738) with the \"scheme\" and initial slashes omitted and with the additional restrictions noted below. Each key should be globally unique. The \"host\" portion is called the \"namespace\" and is not necessarily resolvable to a network endpoint. Instead, the namespace indicates what system or entity defines the semantics of the label. Namespaces do not restrict the set of objects to which a label may be associated. Keys are defined by the following grammar: key = hostname \"/\" kpath kpath = ksegment *[ \"/\" ksegment ] ksegment = alphadigit | *[ alphadigit | \"-\" | \"_\" | \".\" ] where \"hostname\" and \"alphadigit\" are defined as in RFC 1738. Example key: spanner.google.com/universe"
        }
      },
      "description": "A key-value pair applied to a given object.",
      "id": "Label"
    },
    "PullBatchRequest": {
      "description": "Request for the PullBatch method.",
      "type": "object",
      "id": "PullBatchRequest",
      "properties": {
        "maxEvents": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of PubsubEvents returned for this request. The Pub/Sub system may return fewer than the number of events specified."
        },
        "subscription": {
          "description": "The subscription from which messages should be pulled.",
          "type": "string"
        },
        "returnImmediately": {
          "type": "boolean",
          "description": "If this is specified as true the system will respond immediately even if it is not able to return a message in the Pull response. Otherwise the system is allowed to wait until at least one message is available rather than returning no messages. The client may cancel the request if it does not wish to wait any longer for the response."
        }
      }
    },
    "PubsubClientTelemetry": {
      "properties": {
        "publishOperation": {
          "$ref": "PublishOperation",
          "description": "Optional. Telemetry about a `Publish` operation."
        }
      },
      "description": "Client-side telemetry about Pub/Sub requests, useful for debugging purposes. If the client opts to provide this information, it will be passed as a serialized proto in the `x-goog-pubsub-client-telemetry` header.",
      "id": "PubsubClientTelemetry",
      "type": "object"
    },
    "ModifyPushConfigRequest": {
      "id": "ModifyPushConfigRequest",
      "description": "Request for the ModifyPushConfig method.",
      "type": "object",
      "properties": {
        "pushConfig": {
          "description": "An empty push_config indicates that the Pub/Sub system should pause pushing messages from the given subscription.",
          "$ref": "PushConfig"
        },
        "subscription": {
          "type": "string",
          "description": "The name of the subscription."
        }
      }
    },
    "PublishOperation": {
      "id": "PublishOperation",
      "description": "Telemetry about a `Publish` operation which may or may not be common across individual RPCs.",
      "type": "object",
      "properties": {
        "publishStartTime": {
          "type": "string",
          "description": "Optional. Time at which the `publish()` call was initiated in the client library, meaning across all RPC retry attempts, see [grpc retries](https://grpc.io/docs/guides/retry/). Provides a sense of the end-to-end publish duration from the client perspective, across retries.",
          "format": "google-datetime"
        },
        "hedgedAttemptCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. If the publisher client is using publish hedging, provides the attempt count for the hedge (starting at 1). A value of 0 indicates that the request was not hedged."
        }
      }
    },
    "AcknowledgeRequest": {
      "description": "Request for the Acknowledge method.",
      "properties": {
        "subscription": {
          "type": "string",
          "description": "The subscription whose message is being acknowledged."
        },
        "ackId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The acknowledgment ID for the message being acknowledged. This was returned by the Pub/Sub system in the Pull response."
        }
      },
      "id": "AcknowledgeRequest",
      "type": "object"
    },
    "PubsubMessage": {
      "description": "A message data and its labels.",
      "properties": {
        "publishTime": {
          "type": "string",
          "format": "int64",
          "description": "The time at which the message was published. The time is milliseconds since the UNIX epoch."
        },
        "messageId": {
          "description": "ID of this message assigned by the server at publication time. Guaranteed to be unique within the topic. This value may be read by a subscriber that receives a PubsubMessage via a Pull call or a push delivery. It must not be populated by a publisher in a Publish call.",
          "type": "string"
        },
        "data": {
          "format": "byte",
          "description": "The message payload.",
          "type": "string"
        },
        "label": {
          "type": "array",
          "items": {
            "$ref": "Label"
          },
          "description": "Optional list of labels for this message. Keys in this collection must be unique."
        }
      },
      "type": "object",
      "id": "PubsubMessage"
    },
    "PullResponse": {
      "description": "Either a PubsubMessage or a truncation event. One of these two must be populated.",
      "type": "object",
      "properties": {
        "ackId": {
          "description": "This ID must be used to acknowledge the received event or message.",
          "type": "string"
        },
        "pubsubEvent": {
          "description": "A pubsub message or truncation event.",
          "$ref": "PubsubEvent"
        }
      },
      "id": "PullResponse"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "An empty message that you can re-use to avoid defining duplicated empty messages in your project. A typical example is to use it as argument or the return value of a service API. For instance: service Foo { rpc Bar (proto2.Empty) returns (proto2.Empty) { }; }; BEGIN GOOGLE-INTERNAL The difference between this one and net/rpc/empty-message.proto is that 1) The generated message here is in proto2 C++ API. 2) The proto2.Empty has minimum dependencies (no message_set or net/rpc dependencies) END GOOGLE-INTERNAL"
    },
    "PublishRequest": {
      "description": "Request for the Publish method.",
      "id": "PublishRequest",
      "type": "object",
      "properties": {
        "topic": {
          "type": "string",
          "description": "The message in the request will be published on this topic."
        },
        "message": {
          "$ref": "PubsubMessage",
          "description": "The message to publish."
        }
      }
    },
    "PullRequest": {
      "id": "PullRequest",
      "description": "Request for the Pull method.",
      "type": "object",
      "properties": {
        "subscription": {
          "type": "string",
          "description": "The subscription from which a message should be pulled."
        },
        "returnImmediately": {
          "type": "boolean",
          "description": "If this is specified as true the system will respond immediately even if it is not able to return a message in the Pull response. Otherwise the system is allowed to wait until at least one message is available rather than returning FAILED_PRECONDITION. The client may cancel the request if it does not wish to wait any longer for the response."
        }
      }
    }
  },
  "resources": {
    "subscriptions": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListSubscriptionsResponse"
          },
          "parameters": {
            "maxResults": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Maximum number of subscriptions to return."
            },
            "query": {
              "description": "A valid label query expression.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The value obtained in the last ListSubscriptionsResponse for continuation."
            }
          },
          "flatPath": "v1beta1a/subscriptions",
          "path": "v1beta1a/subscriptions",
          "id": "pubsub.subscriptions.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameterOrder": [],
          "httpMethod": "GET",
          "description": "Lists matching subscriptions."
        },
        "pullBatch": {
          "flatPath": "v1beta1a/subscriptions/pullBatch",
          "request": {
            "$ref": "PullBatchRequest"
          },
          "path": "v1beta1a/subscriptions/pullBatch",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "response": {
            "$ref": "PullBatchResponse"
          },
          "parameterOrder": [],
          "description": "Pulls messages from the server. Returns an empty list if there are no messages available in the backlog. The system is free to return UNAVAILABLE if there are too many pull requests outstanding for the given subscription.",
          "httpMethod": "POST",
          "id": "pubsub.subscriptions.pullBatch"
        },
        "delete": {
          "path": "v1beta1a/subscriptions/{+subscription}",
          "description": "Deletes an existing subscription. All pending messages in the subscription are immediately dropped. Calls to Pull after deletion will return NOT_FOUND.",
          "parameterOrder": [
            "subscription"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Empty"
          },
          "id": "pubsub.subscriptions.delete",
          "flatPath": "v1beta1a/subscriptions/{subscriptionsId}",
          "parameters": {
            "subscription": {
              "description": "The subscription to delete.",
              "pattern": "^.*$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "modifyPushConfig": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "request": {
            "$ref": "ModifyPushConfigRequest"
          },
          "description": "Modifies the PushConfig for a specified subscription. This method can be used to suspend the flow of messages to an endpoint by clearing the PushConfig field in the request. Messages will be accumulated for delivery even if no push configuration is defined or while the configuration is modified.",
          "path": "v1beta1a/subscriptions/modifyPushConfig",
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1beta1a/subscriptions/modifyPushConfig",
          "httpMethod": "POST",
          "parameterOrder": [],
          "parameters": {},
          "id": "pubsub.subscriptions.modifyPushConfig"
        },
        "pull": {
          "request": {
            "$ref": "PullRequest"
          },
          "response": {
            "$ref": "PullResponse"
          },
          "parameters": {},
          "flatPath": "v1beta1a/subscriptions/pull",
          "id": "pubsub.subscriptions.pull",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "httpMethod": "POST",
          "description": "Pulls a single message from the server. If return_immediately is true, and no messages are available in the subscription, this method returns FAILED_PRECONDITION. The system is free to return an UNAVAILABLE error if no messages are available in a reasonable amount of time (to reduce system load).",
          "parameterOrder": [],
          "path": "v1beta1a/subscriptions/pull"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "flatPath": "v1beta1a/subscriptions/{subscriptionsId}",
          "description": "Gets the configuration details of a subscription.",
          "response": {
            "$ref": "Subscription"
          },
          "httpMethod": "GET",
          "path": "v1beta1a/subscriptions/{+subscription}",
          "id": "pubsub.subscriptions.get",
          "parameters": {
            "subscription": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The name of the subscription to get.",
              "pattern": "^.*$"
            }
          },
          "parameterOrder": [
            "subscription"
          ]
        },
        "modifyAckDeadline": {
          "flatPath": "v1beta1a/subscriptions/modifyAckDeadline",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "request": {
            "$ref": "ModifyAckDeadlineRequest"
          },
          "parameters": {},
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "description": "Modifies the Ack deadline for a message received from a pull request.",
          "id": "pubsub.subscriptions.modifyAckDeadline",
          "path": "v1beta1a/subscriptions/modifyAckDeadline"
        },
        "create": {
          "parameters": {},
          "description": "Creates a subscription on a given topic for a given subscriber. If the subscription already exists, returns ALREADY_EXISTS. If the corresponding topic doesn't exist, returns NOT_FOUND. If the name is not provided in the request, the server will assign a random name for this subscription on the same project as the topic.",
          "request": {
            "$ref": "Subscription"
          },
          "parameterOrder": [],
          "id": "pubsub.subscriptions.create",
          "httpMethod": "POST",
          "flatPath": "v1beta1a/subscriptions",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "response": {
            "$ref": "Subscription"
          },
          "path": "v1beta1a/subscriptions"
        },
        "acknowledge": {
          "response": {
            "$ref": "Empty"
          },
          "id": "pubsub.subscriptions.acknowledge",
          "description": "Acknowledges a particular received message: the Pub/Sub system can remove the given message from the subscription. Acknowledging a message whose Ack deadline has expired may succeed, but the message could have been already redelivered. Acknowledging a message more than once will not result in an error. This is only used for messages received via pull.",
          "httpMethod": "POST",
          "request": {
            "$ref": "AcknowledgeRequest"
          },
          "flatPath": "v1beta1a/subscriptions/acknowledge",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameterOrder": [],
          "parameters": {},
          "path": "v1beta1a/subscriptions/acknowledge"
        }
      }
    },
    "topics": {
      "methods": {
        "list": {
          "parameters": {
            "query": {
              "type": "string",
              "description": "A valid label query expression.",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "Maximum number of topics to return.",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "description": "The value obtained in the last ListTopicsResponse for continuation.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "flatPath": "v1beta1a/topics",
          "response": {
            "$ref": "ListTopicsResponse"
          },
          "path": "v1beta1a/topics",
          "httpMethod": "GET",
          "id": "pubsub.topics.list",
          "parameterOrder": [],
          "description": "Lists matching topics."
        },
        "get": {
          "description": "Gets the configuration of a topic. Since the topic only has the name attribute, this method is only useful to check the existence of a topic. If other attributes are added in the future, they will be returned here.",
          "parameters": {
            "topic": {
              "required": true,
              "pattern": "^.*$",
              "location": "path",
              "description": "The name of the topic to get.",
              "type": "string"
            }
          },
          "id": "pubsub.topics.get",
          "parameterOrder": [
            "topic"
          ],
          "path": "v1beta1a/topics/{+topic}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "response": {
            "$ref": "Topic"
          },
          "flatPath": "v1beta1a/topics/{topicsId}"
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameterOrder": [],
          "request": {
            "$ref": "Topic"
          },
          "parameters": {},
          "path": "v1beta1a/topics",
          "description": "Creates the given topic with the given name.",
          "httpMethod": "POST",
          "id": "pubsub.topics.create",
          "response": {
            "$ref": "Topic"
          },
          "flatPath": "v1beta1a/topics"
        },
        "delete": {
          "response": {
            "$ref": "Empty"
          },
          "path": "v1beta1a/topics/{+topic}",
          "description": "Deletes the topic with the given name. Returns NOT_FOUND if the topic does not exist. After a topic is deleted, a new topic may be created with the same name.",
          "id": "pubsub.topics.delete",
          "flatPath": "v1beta1a/topics/{topicsId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "topic"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameters": {
            "topic": {
              "pattern": "^.*$",
              "description": "Name of the topic to delete.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "publish": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "parameters": {},
          "path": "v1beta1a/topics/publish",
          "parameterOrder": [],
          "response": {
            "$ref": "Empty"
          },
          "id": "pubsub.topics.publish",
          "description": "Adds a message to the topic. Returns NOT_FOUND if the topic does not exist.",
          "httpMethod": "POST",
          "request": {
            "$ref": "PublishRequest"
          },
          "flatPath": "v1beta1a/topics/publish"
        },
        "publishBatch": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/pubsub"
          ],
          "response": {
            "$ref": "PublishBatchResponse"
          },
          "description": "Adds one or more messages to the topic. Returns NOT_FOUND if the topic does not exist.",
          "parameters": {},
          "path": "v1beta1a/topics/publishBatch",
          "request": {
            "$ref": "PublishBatchRequest"
          },
          "parameterOrder": [],
          "id": "pubsub.topics.publishBatch",
          "flatPath": "v1beta1a/topics/publishBatch"
        }
      }
    }
  },
  "ownerDomain": "google.com"
}