{
  "mtlsRootUrl": "https://pubsub.mtls.googleapis.com/",
  "rootUrl": "https://pubsub.googleapis.com/",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "africa-south1",
      "endpointUrl": "https://pubsub.africa-south1.rep.googleapis.com/"
    },
    {
      "location": "asia-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.asia-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://pubsub.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east2"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://pubsub.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast2",
      "endpointUrl": "https://pubsub.asia-northeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast3",
      "endpointUrl": "https://pubsub.asia-northeast3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://pubsub.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://pubsub.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.asia-southeast1.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://pubsub.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast3",
      "endpointUrl": "https://pubsub.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.europe-central2.rep.googleapis.com/",
      "location": "europe-central2"
    },
    {
      "location": "europe-north1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.europe-north1.rep.googleapis.com/"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://pubsub.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.europe-west1.rep.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "location": "europe-west2",
      "endpointUrl": "https://pubsub.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.europe-west4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://pubsub.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.europe-west8.rep.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west9",
      "endpointUrl": "https://pubsub.europe-west9.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.europe-west10.rep.googleapis.com/",
      "location": "europe-west10"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://pubsub.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.me-central1.rep.googleapis.com/"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://pubsub.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://pubsub.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "endpointUrl": "https://pubsub.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "endpointUrl": "https://pubsub.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-east1",
      "endpointUrl": "https://pubsub.southamerica-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-west1",
      "endpointUrl": "https://pubsub.southamerica-west1.rep.googleapis.com/"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://pubsub.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-central2",
      "endpointUrl": "https://pubsub.us-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://pubsub.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://pubsub.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east5",
      "endpointUrl": "https://pubsub.us-east5.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://pubsub.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.us-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://pubsub.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "endpointUrl": "https://pubsub.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west4",
      "endpointUrl": "https://pubsub.us-west4.rep.googleapis.com/"
    },
    {
      "location": "us-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://pubsub.us-west8.rep.googleapis.com/"
    }
  ],
  "discoveryVersion": "v1",
  "version": "v1",
  "revision": "20261002",
  "title": "Cloud Pub/Sub API",
  "basePath": "",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "schemas": {
          "methods": {
            "rollback": {
              "id": "pubsub.projects.schemas.rollback",
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}:rollback",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "description": "Required. The schema being rolled back with revision id."
                }
              },
              "description": "Creates a new schema revision that is a copy of the provided revision_id.",
              "request": {
                "$ref": "RollbackSchemaRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Schema"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "path": "v1/{+name}:rollback",
              "httpMethod": "POST"
            },
            "list": {
              "httpMethod": "GET",
              "path": "v1/{+parent}/schemas",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists schemas in a project.",
              "flatPath": "v1/projects/{projectsId}/schemas",
              "id": "pubsub.projects.schemas.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "response": {
                "$ref": "ListSchemasResponse"
              },
              "parameters": {
                "pageSize": {
                  "description": "Maximum number of schemas to return.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the project in which to list schemas. Format is `projects/{project-id}`.",
                  "location": "path"
                },
                "pageToken": {
                  "description": "The value returned by the last `ListSchemasResponse`; indicates that this is a continuation of a prior `ListSchemas` call, and that the system should return the next page of data.",
                  "type": "string",
                  "location": "query"
                },
                "view": {
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Include the name and type of the schema, but not the definition.",
                    "Include all Schema object fields."
                  ],
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "SCHEMA_VIEW_UNSPECIFIED",
                    "BASIC",
                    "FULL"
                  ],
                  "description": "The set of Schema fields to return in the response. If not set, returns Schemas with `name` and `type`, but not `definition`. Set to `FULL` to retrieve all fields."
                }
              }
            },
            "testIamPermissions": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "httpMethod": "POST",
              "id": "pubsub.projects.schemas.testIamPermissions",
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}:testIamPermissions",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "parameters": {
                "resource": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path"
                }
              },
              "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
              "parameterOrder": [
                "resource"
              ],
              "path": "v1/{+resource}:testIamPermissions",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              }
            },
            "deleteRevision": {
              "id": "pubsub.projects.schemas.deleteRevision",
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}:deleteRevision",
              "description": "Deletes a specific schema revision.",
              "httpMethod": "DELETE",
              "parameters": {
                "revisionId": {
                  "description": "Optional. This field is deprecated and should not be used for specifying the revision ID. The revision ID should be specified via the `name` parameter.",
                  "type": "string",
                  "location": "query",
                  "deprecated": true
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the schema revision to be deleted, with a revision ID explicitly included. Example: `projects/123/schemas/my-schema@c7cfa2a8`",
                  "pattern": "^projects/[^/]+/schemas/[^/]+$"
                }
              },
              "response": {
                "$ref": "Schema"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "path": "v1/{+name}:deleteRevision"
            },
            "get": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "Schema"
              },
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}",
              "parameters": {
                "view": {
                  "enum": [
                    "SCHEMA_VIEW_UNSPECIFIED",
                    "BASIC",
                    "FULL"
                  ],
                  "location": "query",
                  "description": "The set of fields to return in the response. If not set, returns a Schema with all fields filled out. Set to `BASIC` to omit the `definition`.",
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Include the name and type of the schema, but not the definition.",
                    "Include all Schema object fields."
                  ],
                  "type": "string"
                },
                "name": {
                  "description": "Required. The name of the schema to get. Format is `projects/{project}/schemas/{schema}`.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "pubsub.projects.schemas.get",
              "description": "Gets a schema."
            },
            "listRevisions": {
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}:listRevisions",
              "path": "v1/{+name}:listRevisions",
              "parameters": {
                "view": {
                  "location": "query",
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Include the name and type of the schema, but not the definition.",
                    "Include all Schema object fields."
                  ],
                  "type": "string",
                  "description": "The set of Schema fields to return in the response. If not set, returns Schemas with `name` and `type`, but not `definition`. Set to `FULL` to retrieve all fields.",
                  "enum": [
                    "SCHEMA_VIEW_UNSPECIFIED",
                    "BASIC",
                    "FULL"
                  ]
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The page token, received from a previous ListSchemaRevisions call. Provide this to retrieve the subsequent page."
                },
                "pageSize": {
                  "description": "The maximum number of revisions to return per page.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the schema to list revisions for.",
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "pubsub.projects.schemas.listRevisions",
              "response": {
                "$ref": "ListSchemaRevisionsResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "description": "Lists all schema revisions for the named schema."
            },
            "validate": {
              "response": {
                "$ref": "ValidateSchemaResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the project in which to validate schemas. Format is `projects/{project-id}`.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                }
              },
              "id": "pubsub.projects.schemas.validate",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/schemas:validate",
              "path": "v1/{+parent}/schemas:validate",
              "httpMethod": "POST",
              "description": "Validates a schema.",
              "request": {
                "$ref": "ValidateSchemaRequest"
              }
            },
            "getIamPolicy": {
              "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "response": {
                "$ref": "Policy"
              },
              "parameterOrder": [
                "resource"
              ],
              "id": "pubsub.projects.schemas.getIamPolicy",
              "parameters": {
                "options.requestedPolicyVersion": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                },
                "resource": {
                  "type": "string",
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "path": "v1/{+resource}:getIamPolicy",
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}:getIamPolicy"
            },
            "validateMessage": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "request": {
                "$ref": "ValidateMessageRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/schemas:validateMessage",
              "httpMethod": "POST",
              "response": {
                "$ref": "ValidateMessageResponse"
              },
              "description": "Validates a message against a schema.",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the project in which to validate schemas. Format is `projects/{project-id}`.",
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{projectsId}/schemas:validateMessage",
              "id": "pubsub.projects.schemas.validateMessage"
            },
            "delete": {
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}",
              "id": "pubsub.projects.schemas.delete",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the schema to delete. Format is `projects/{project}/schemas/{schema}`."
                }
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a schema.",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "httpMethod": "DELETE"
            },
            "create": {
              "description": "Creates a schema.",
              "id": "pubsub.projects.schemas.create",
              "request": {
                "$ref": "Schema"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the project in which to create the schema. Format is `projects/{project-id}`.",
                  "required": true
                },
                "schemaId": {
                  "type": "string",
                  "location": "query",
                  "description": "The ID to use for the schema, which will become the final component of the schema's resource name. See https://cloud.google.com/pubsub/docs/pubsub-basics#resource_names for resource name constraints."
                }
              },
              "flatPath": "v1/projects/{projectsId}/schemas",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/schemas",
              "response": {
                "$ref": "Schema"
              }
            },
            "commit": {
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the schema we are revising. Format is `projects/{project}/schemas/{schema}`.",
                  "required": true,
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Schema"
              },
              "httpMethod": "POST",
              "description": "Commits a new schema revision to an existing schema.",
              "id": "pubsub.projects.schemas.commit",
              "request": {
                "$ref": "CommitSchemaRequest"
              },
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}:commit",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "path": "v1/{+name}:commit"
            },
            "setIamPolicy": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "id": "pubsub.projects.schemas.setIamPolicy",
              "response": {
                "$ref": "Policy"
              },
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "flatPath": "v1/projects/{projectsId}/schemas/{schemasId}:setIamPolicy",
              "path": "v1/{+resource}:setIamPolicy",
              "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
              "parameters": {
                "resource": {
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/schemas/[^/]+$",
                  "required": true
                }
              }
            }
          }
        },
        "topics": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "description": "Creates the given topic with the given name. See the [resource name rules] (https://cloud.google.com/pubsub/docs/pubsub-basics#resource_names).",
              "request": {
                "$ref": "Topic"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/topics/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. Identifier. The name of the topic. It must have the format `\"projects/{project}/topics/{topic}\"`. `{topic}` must start with a letter, and contain only letters (`[A-Za-z]`), numbers (`[0-9]`), dashes (`-`), underscores (`_`), periods (`.`), tildes (`~`), plus (`+`) or percent signs (`%`). It must be between 3 and 255 characters in length, and it must not start with `\"goog\"`."
                }
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}",
              "id": "pubsub.projects.topics.create",
              "httpMethod": "PUT",
              "response": {
                "$ref": "Topic"
              }
            },
            "list": {
              "flatPath": "v1/projects/{projectsId}/topics",
              "id": "pubsub.projects.topics.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "parameters": {
                "project": {
                  "description": "Required. The name of the project in which to list topics. Format is `projects/{project-id}`.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. The value returned by the last `ListTopicsResponse`; indicates that this is a continuation of a prior `ListTopics` call, and that the system should return the next page of data.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Maximum number of topics to return.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "project"
              ],
              "httpMethod": "GET",
              "path": "v1/{+project}/topics",
              "description": "Lists matching topics.",
              "response": {
                "$ref": "ListTopicsResponse"
              }
            },
            "setIamPolicy": {
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
              "response": {
                "$ref": "Policy"
              },
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "id": "pubsub.projects.topics.setIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}:setIamPolicy",
              "path": "v1/{+resource}:setIamPolicy",
              "parameters": {
                "resource": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/topics/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                }
              }
            },
            "testIamPermissions": {
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}:testIamPermissions",
              "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
              "id": "pubsub.projects.topics.testIamPermissions",
              "parameters": {
                "resource": {
                  "location": "path",
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true,
                  "pattern": "^projects/[^/]+/topics/[^/]+$"
                }
              },
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "path": "v1/{+resource}:testIamPermissions",
              "parameterOrder": [
                "resource"
              ],
              "httpMethod": "POST"
            },
            "get": {
              "response": {
                "$ref": "Topic"
              },
              "httpMethod": "GET",
              "id": "pubsub.projects.topics.get",
              "path": "v1/{+topic}",
              "parameterOrder": [
                "topic"
              ],
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}",
              "parameters": {
                "topic": {
                  "pattern": "^projects/[^/]+/topics/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the topic to get. Format is `projects/{project}/topics/{topic}`.",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "description": "Gets the configuration of a topic."
            },
            "patch": {
              "response": {
                "$ref": "Topic"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "request": {
                "$ref": "UpdateTopicRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "pubsub.projects.topics.patch",
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "description": "Updates an existing topic by updating the fields specified in the update mask. Note that certain properties of a topic are not modifiable.",
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/topics/[^/]+$",
                  "description": "Required. Identifier. The name of the topic. It must have the format `\"projects/{project}/topics/{topic}\"`. `{topic}` must start with a letter, and contain only letters (`[A-Za-z]`), numbers (`[0-9]`), dashes (`-`), underscores (`_`), periods (`.`), tildes (`~`), plus (`+`) or percent signs (`%`). It must be between 3 and 255 characters in length, and it must not start with `\"goog\"`.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "publish": {
              "response": {
                "$ref": "PublishResponse"
              },
              "id": "pubsub.projects.topics.publish",
              "path": "v1/{+topic}:publish",
              "httpMethod": "POST",
              "description": "Adds one or more messages to the topic. Returns `NOT_FOUND` if the topic does not exist.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "parameterOrder": [
                "topic"
              ],
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}:publish",
              "parameters": {
                "topic": {
                  "required": true,
                  "description": "Required. The messages in the request will be published on this topic. Format is `projects/{project}/topics/{topic}`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/topics/[^/]+$",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "PublishRequest"
              }
            },
            "getIamPolicy": {
              "id": "pubsub.projects.topics.getIamPolicy",
              "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "response": {
                "$ref": "Policy"
              },
              "httpMethod": "GET",
              "parameters": {
                "options.requestedPolicyVersion": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                },
                "resource": {
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/topics/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}:getIamPolicy",
              "path": "v1/{+resource}:getIamPolicy"
            },
            "delete": {
              "description": "Deletes the topic with the given name. Returns `NOT_FOUND` if the topic does not exist. After a topic is deleted, a new topic may be created with the same name; this is an entirely new topic with none of the old configuration or subscriptions. Existing subscriptions to this topic are not deleted, but their `topic` field is set to `_deleted-topic_`.",
              "flatPath": "v1/projects/{projectsId}/topics/{topicsId}",
              "parameters": {
                "topic": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/topics/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the topic to delete. Format is `projects/{project}/topics/{topic}`."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "path": "v1/{+topic}",
              "id": "pubsub.projects.topics.delete",
              "parameterOrder": [
                "topic"
              ]
            }
          },
          "resources": {
            "snapshots": {
              "methods": {
                "list": {
                  "id": "pubsub.projects.topics.snapshots.list",
                  "path": "v1/{+topic}/snapshots",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/pubsub"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists the names of the snapshots on this topic. Snapshots are used in [Seek](https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot.",
                  "flatPath": "v1/projects/{projectsId}/topics/{topicsId}/snapshots",
                  "parameterOrder": [
                    "topic"
                  ],
                  "parameters": {
                    "topic": {
                      "description": "Required. The name of the topic that snapshots are attached to. Format is `projects/{project}/topics/{topic}`.",
                      "pattern": "^projects/[^/]+/topics/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Maximum number of snapshot names to return.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. The value returned by the last `ListTopicSnapshotsResponse`; indicates that this is a continuation of a prior `ListTopicSnapshots` call, and that the system should return the next page of data.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListTopicSnapshotsResponse"
                  }
                }
              }
            },
            "subscriptions": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/pubsub"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Maximum number of subscription names to return.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. The value returned by the last `ListTopicSubscriptionsResponse`; indicates that this is a continuation of a prior `ListTopicSubscriptions` call, and that the system should return the next page of data.",
                      "type": "string",
                      "location": "query"
                    },
                    "topic": {
                      "description": "Required. The name of the topic that subscriptions are attached to. Format is `projects/{project}/topics/{topic}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/topics/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Lists the names of the attached subscriptions on this topic.",
                  "parameterOrder": [
                    "topic"
                  ],
                  "response": {
                    "$ref": "ListTopicSubscriptionsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/topics/{topicsId}/subscriptions",
                  "id": "pubsub.projects.topics.subscriptions.list",
                  "httpMethod": "GET",
                  "path": "v1/{+topic}/subscriptions"
                }
              }
            }
          }
        },
        "snapshots": {
          "methods": {
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Snapshot"
              },
              "path": "v1/{+name}",
              "id": "pubsub.projects.snapshots.patch",
              "description": "Updates an existing snapshot by updating the fields specified in the update mask. Snapshots are used in [Seek](https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot.",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "request": {
                "$ref": "UpdateSnapshotRequest"
              },
              "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}",
              "parameters": {
                "name": {
                  "description": "Optional. The name of the snapshot.",
                  "required": true,
                  "pattern": "^projects/[^/]+/snapshots/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "get": {
              "description": "Gets the configuration details of a snapshot. Snapshots are used in [Seek](https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot.",
              "path": "v1/{+snapshot}",
              "parameterOrder": [
                "snapshot"
              ],
              "id": "pubsub.projects.snapshots.get",
              "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}",
              "parameters": {
                "snapshot": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/snapshots/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the snapshot to get. Format is `projects/{project}/snapshots/{snap}`.",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "response": {
                "$ref": "Snapshot"
              }
            },
            "create": {
              "description": "Creates a snapshot from the requested subscription. Snapshots are used in [Seek](https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot. If the snapshot already exists, returns `ALREADY_EXISTS`. If the requested subscription doesn't exist, returns `NOT_FOUND`. If the backlog in the subscription is too old -- and the resulting snapshot would expire in less than 1 hour -- then `FAILED_PRECONDITION` is returned. See also the `Snapshot.expire_time` field. If the name is not provided in the request, the server will assign a random name for this snapshot on the same project as the subscription, conforming to the [resource name format] (https://cloud.google.com/pubsub/docs/pubsub-basics#resource_names). The generated name is populated in the returned Snapshot object. Note that for REST API requests, you must specify a name in the request.",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}",
              "id": "pubsub.projects.snapshots.create",
              "httpMethod": "PUT",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/snapshots/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. User-provided name for this snapshot. If the name is not provided in the request, the server will assign a random name for this snapshot on the same project as the subscription. Note that for REST API requests, you must specify a name. See the [resource name rules](https://cloud.google.com/pubsub/docs/pubsub-basics#resource_names). Format is `projects/{project}/snapshots/{snap}`."
                }
              },
              "request": {
                "$ref": "CreateSnapshotRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "response": {
                "$ref": "Snapshot"
              }
            },
            "setIamPolicy": {
              "path": "v1/{+resource}:setIamPolicy",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/snapshots/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "Policy"
              },
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "id": "pubsub.projects.snapshots.setIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}:setIamPolicy",
              "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors."
            },
            "delete": {
              "httpMethod": "DELETE",
              "description": "Removes an existing snapshot. Snapshots are used in [Seek] (https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot. When the snapshot is deleted, all messages retained in the snapshot are immediately dropped. After a snapshot is deleted, a new one may be created with the same name, but the new one has no association with the old snapshot or its subscription, unless the same subscription is specified.",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "id": "pubsub.projects.snapshots.delete",
              "parameterOrder": [
                "snapshot"
              ],
              "path": "v1/{+snapshot}",
              "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}",
              "parameters": {
                "snapshot": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the snapshot to delete. Format is `projects/{project}/snapshots/{snap}`.",
                  "pattern": "^projects/[^/]+/snapshots/[^/]+$",
                  "location": "path"
                }
              }
            },
            "testIamPermissions": {
              "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/snapshots/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}:testIamPermissions",
              "path": "v1/{+resource}:testIamPermissions",
              "parameterOrder": [
                "resource"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "id": "pubsub.projects.snapshots.testIamPermissions",
              "httpMethod": "POST",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              }
            },
            "list": {
              "id": "pubsub.projects.snapshots.list",
              "flatPath": "v1/projects/{projectsId}/snapshots",
              "path": "v1/{+project}/snapshots",
              "parameterOrder": [
                "project"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListSnapshotsResponse"
              },
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. Maximum number of snapshots to return."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The value returned by the last `ListSnapshotsResponse`; indicates that this is a continuation of a prior `ListSnapshots` call, and that the system should return the next page of data."
                },
                "project": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the project in which to list snapshots. Format is `projects/{project-id}`.",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "description": "Lists the existing snapshots. Snapshots are used in [Seek]( https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot."
            },
            "getIamPolicy": {
              "id": "pubsub.projects.snapshots.getIamPolicy",
              "httpMethod": "GET",
              "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
              "parameterOrder": [
                "resource"
              ],
              "flatPath": "v1/projects/{projectsId}/snapshots/{snapshotsId}:getIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "parameters": {
                "options.requestedPolicyVersion": {
                  "format": "int32",
                  "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                  "location": "query",
                  "type": "integer"
                },
                "resource": {
                  "required": true,
                  "pattern": "^projects/[^/]+/snapshots/[^/]+$",
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Policy"
              },
              "path": "v1/{+resource}:getIamPolicy"
            }
          }
        },
        "subscriptions": {
          "methods": {
            "seek": {
              "response": {
                "$ref": "SeekResponse"
              },
              "path": "v1/{+subscription}:seek",
              "parameters": {
                "subscription": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The subscription to affect.",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$"
                }
              },
              "description": "Seeks an existing subscription to a point in time or to a given snapshot, whichever is provided in the request. Snapshots are used in [Seek] (https://cloud.google.com/pubsub/docs/replay-overview) operations, which allow you to manage message acknowledgments in bulk. That is, you can set the acknowledgment state of messages in an existing subscription to the state captured by a snapshot. Note that both the subscription and the snapshot must be on the same topic.",
              "parameterOrder": [
                "subscription"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "request": {
                "$ref": "SeekRequest"
              },
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:seek",
              "id": "pubsub.projects.subscriptions.seek",
              "httpMethod": "POST"
            },
            "modifyPushConfig": {
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:modifyPushConfig",
              "httpMethod": "POST",
              "parameters": {
                "subscription": {
                  "required": true,
                  "description": "Required. The name of the subscription. Format is `projects/{project}/subscriptions/{sub}`.",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "subscription"
              ],
              "id": "pubsub.projects.subscriptions.modifyPushConfig",
              "path": "v1/{+subscription}:modifyPushConfig",
              "description": "Modifies the `PushConfig` for a specified subscription. This may be used to change a push subscription to a pull one (signified by an empty `PushConfig`) or vice versa, or change the endpoint URL and other attributes of a push subscription. Messages will accumulate for delivery continuously through the call regardless of changes to the `PushConfig`.",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "request": {
                "$ref": "ModifyPushConfigRequest"
              }
            },
            "acknowledge": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "request": {
                "$ref": "AcknowledgeRequest"
              },
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:acknowledge",
              "parameters": {
                "subscription": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The subscription whose message is being acknowledged. Format is `projects/{project}/subscriptions/{sub}`.",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "required": true
                }
              },
              "path": "v1/{+subscription}:acknowledge",
              "parameterOrder": [
                "subscription"
              ],
              "response": {
                "$ref": "Empty"
              },
              "description": "Acknowledges the messages associated with the `ack_ids` in the `AcknowledgeRequest`. The Pub/Sub system can remove the relevant messages from the subscription. Acknowledging a message whose ack deadline has expired may succeed, but such a message may be redelivered later. Acknowledging a message more than once will not result in an error.",
              "id": "pubsub.projects.subscriptions.acknowledge",
              "httpMethod": "POST"
            },
            "pull": {
              "parameterOrder": [
                "subscription"
              ],
              "response": {
                "$ref": "PullResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "httpMethod": "POST",
              "parameters": {
                "subscription": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "location": "path",
                  "description": "Required. The subscription from which messages should be pulled. Format is `projects/{project}/subscriptions/{sub}`."
                }
              },
              "id": "pubsub.projects.subscriptions.pull",
              "path": "v1/{+subscription}:pull",
              "description": "Pulls messages from the server.",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:pull",
              "request": {
                "$ref": "PullRequest"
              }
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "type": "string",
                  "description": "Required. Identifier. The name of the subscription. It must have the format `\"projects/{project}/subscriptions/{subscription}\"`. `{subscription}` must start with a letter, and contain only letters (`[A-Za-z]`), numbers (`[0-9]`), dashes (`-`), underscores (`_`), periods (`.`), tildes (`~`), plus (`+`) or percent signs (`%`). It must be between 3 and 255 characters in length, and it must not start with `\"goog\"`.",
                  "required": true
                }
              },
              "response": {
                "$ref": "Subscription"
              },
              "path": "v1/{+name}",
              "id": "pubsub.projects.subscriptions.patch",
              "request": {
                "$ref": "UpdateSubscriptionRequest"
              },
              "description": "Updates an existing subscription by updating the fields specified in the update mask. Note that certain properties of a subscription, such as its topic, are not modifiable.",
              "httpMethod": "PATCH",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}"
            },
            "setIamPolicy": {
              "id": "pubsub.projects.subscriptions.setIamPolicy",
              "path": "v1/{+resource}:setIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "response": {
                "$ref": "Policy"
              },
              "parameters": {
                "resource": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$"
                }
              },
              "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "parameterOrder": [
                "resource"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:setIamPolicy"
            },
            "list": {
              "response": {
                "$ref": "ListSubscriptionsResponse"
              },
              "path": "v1/{+project}/subscriptions",
              "httpMethod": "GET",
              "id": "pubsub.projects.subscriptions.list",
              "parameterOrder": [
                "project"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "parameters": {
                "project": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the project in which to list subscriptions. Format is `projects/{project-id}`.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. Maximum number of subscriptions to return.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. The value returned by the last `ListSubscriptionsResponse`; indicates that this is a continuation of a prior `ListSubscriptions` call, and that the system should return the next page of data.",
                  "location": "query"
                }
              },
              "flatPath": "v1/projects/{projectsId}/subscriptions",
              "description": "Lists matching subscriptions."
            },
            "create": {
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Identifier. The name of the subscription. It must have the format `\"projects/{project}/subscriptions/{subscription}\"`. `{subscription}` must start with a letter, and contain only letters (`[A-Za-z]`), numbers (`[0-9]`), dashes (`-`), underscores (`_`), periods (`.`), tildes (`~`), plus (`+`) or percent signs (`%`). It must be between 3 and 255 characters in length, and it must not start with `\"goog\"`.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "location": "path"
                }
              },
              "id": "pubsub.projects.subscriptions.create",
              "path": "v1/{+name}",
              "request": {
                "$ref": "Subscription"
              },
              "response": {
                "$ref": "Subscription"
              },
              "httpMethod": "PUT",
              "description": "Creates a subscription to a given topic. See the [resource name rules] (https://cloud.google.com/pubsub/docs/pubsub-basics#resource_names). If the subscription already exists, returns `ALREADY_EXISTS`. If the corresponding topic doesn't exist, returns `NOT_FOUND`. If the name is not provided in the request, the server will assign a random name for this subscription on the same project as the topic, conforming to the [resource name format] (https://cloud.google.com/pubsub/docs/pubsub-basics#resource_names). The generated name is populated in the returned Subscription object. Note that for REST API requests, you must specify a name in the request.",
              "parameterOrder": [
                "name"
              ]
            },
            "testIamPermissions": {
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "id": "pubsub.projects.subscriptions.testIamPermissions",
              "path": "v1/{+resource}:testIamPermissions",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:testIamPermissions",
              "parameters": {
                "resource": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                }
              },
              "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
            },
            "detach": {
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:detach",
              "parameters": {
                "subscription": {
                  "required": true,
                  "description": "Required. The subscription to detach. Format is `projects/{project}/subscriptions/{subscription}`.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$"
                }
              },
              "path": "v1/{+subscription}:detach",
              "description": "Detaches a subscription from this topic. All messages retained in the subscription are dropped. Subsequent `Pull` and `StreamingPull` requests will return FAILED_PRECONDITION. If the subscription is a push subscription, pushes to the endpoint will stop.",
              "parameterOrder": [
                "subscription"
              ],
              "response": {
                "$ref": "DetachSubscriptionResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "id": "pubsub.projects.subscriptions.detach",
              "httpMethod": "POST"
            },
            "delete": {
              "httpMethod": "DELETE",
              "id": "pubsub.projects.subscriptions.delete",
              "parameterOrder": [
                "subscription"
              ],
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+subscription}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}",
              "parameters": {
                "subscription": {
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "description": "Required. The subscription to delete. Format is `projects/{project}/subscriptions/{sub}`.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Deletes an existing subscription. All messages retained in the subscription are immediately dropped. Calls to `Pull` after deletion will return `NOT_FOUND`. After a subscription is deleted, a new one may be created with the same name, but the new one has no association with the old subscription or its topic unless the same topic is specified."
            },
            "getIamPolicy": {
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:getIamPolicy",
              "httpMethod": "GET",
              "id": "pubsub.projects.subscriptions.getIamPolicy",
              "path": "v1/{+resource}:getIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "response": {
                "$ref": "Policy"
              },
              "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
              "parameters": {
                "options.requestedPolicyVersion": {
                  "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "resource": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                }
              }
            },
            "modifyAckDeadline": {
              "request": {
                "$ref": "ModifyAckDeadlineRequest"
              },
              "description": "Modifies the ack deadline for a specific message. This method is useful to indicate that more time is needed to process a message by the subscriber, or to make the message available for redelivery if the processing was interrupted. Note that this does not modify the subscription-level `ackDeadlineSeconds` used for subsequent messages.",
              "httpMethod": "POST",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "subscription": {
                  "required": true,
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the subscription. Format is `projects/{project}/subscriptions/{sub}`."
                }
              },
              "parameterOrder": [
                "subscription"
              ],
              "path": "v1/{+subscription}:modifyAckDeadline",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}:modifyAckDeadline",
              "id": "pubsub.projects.subscriptions.modifyAckDeadline",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ]
            },
            "get": {
              "parameterOrder": [
                "subscription"
              ],
              "id": "pubsub.projects.subscriptions.get",
              "httpMethod": "GET",
              "description": "Gets the configuration details of a subscription.",
              "response": {
                "$ref": "Subscription"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/pubsub"
              ],
              "path": "v1/{+subscription}",
              "flatPath": "v1/projects/{projectsId}/subscriptions/{subscriptionsId}",
              "parameters": {
                "subscription": {
                  "type": "string",
                  "description": "Required. The name of the subscription to get. Format is `projects/{project}/subscriptions/{sub}`.",
                  "required": true,
                  "pattern": "^projects/[^/]+/subscriptions/[^/]+$",
                  "location": "path"
                }
              }
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://pubsub.googleapis.com/",
  "batchPath": "batch",
  "name": "pubsub",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/pubsub/docs",
  "description": "Provides reliable, many-to-many, asynchronous messaging between applications. ",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/pubsub": {
          "description": "View and manage Pub/Sub topics and subscriptions"
        }
      }
    }
  },
  "canonicalName": "Pubsub",
  "schemas": {
    "PubsubClientTelemetry": {
      "type": "object",
      "id": "PubsubClientTelemetry",
      "properties": {
        "publishOperation": {
          "description": "Optional. Telemetry about a `Publish` operation.",
          "$ref": "PublishOperation"
        }
      },
      "description": "Client-side telemetry about Pub/Sub requests, useful for debugging purposes. If the client opts to provide this information, it will be passed as a serialized proto in the `x-goog-pubsub-client-telemetry` header."
    },
    "ValidateMessageRequest": {
      "properties": {
        "encoding": {
          "type": "string",
          "description": "The encoding expected for messages",
          "enumDescriptions": [
            "Unspecified",
            "JSON encoding",
            "Binary encoding, as defined by the schema type. For some schema types, binary encoding may not be available."
          ],
          "enum": [
            "ENCODING_UNSPECIFIED",
            "JSON",
            "BINARY"
          ]
        },
        "message": {
          "type": "string",
          "format": "byte",
          "description": "Message to validate against the provided `schema_spec`."
        },
        "name": {
          "type": "string",
          "description": "Name of the schema against which to validate. Format is `projects/{project}/schemas/{schema}`."
        },
        "schema": {
          "$ref": "Schema",
          "description": "Ad-hoc schema against which to validate"
        }
      },
      "type": "object",
      "id": "ValidateMessageRequest",
      "description": "Request for the `ValidateMessage` method."
    },
    "SeekRequest": {
      "properties": {
        "snapshot": {
          "type": "string",
          "description": "Optional. The snapshot to seek to. The snapshot's topic must be the same as that of the provided subscription. Format is `projects/{project}/snapshots/{snap}`."
        },
        "time": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The time to seek to. Messages retained in the subscription that were published before this time are marked as acknowledged, and messages retained in the subscription that were published after this time are marked as unacknowledged. Note that this operation affects only those messages retained in the subscription (configured by the combination of `message_retention_duration` and `retain_acked_messages`). For example, if `time` corresponds to a point before the message retention window (or to a point before the system's notion of the subscription creation time), only retained messages will be marked as unacknowledged, and already-expunged messages will not be restored."
        }
      },
      "description": "Request for the `Seek` method.",
      "id": "SeekRequest",
      "type": "object"
    },
    "ListSnapshotsResponse": {
      "id": "ListSnapshotsResponse",
      "description": "Response for the `ListSnapshots` method.",
      "type": "object",
      "properties": {
        "snapshots": {
          "type": "array",
          "description": "Optional. The resulting snapshots.",
          "items": {
            "$ref": "Snapshot"
          }
        },
        "nextPageToken": {
          "description": "Optional. If not empty, indicates that there may be more snapshot that match the request; this value should be passed in a new `ListSnapshotsRequest`.",
          "type": "string"
        }
      }
    },
    "SeekResponse": {
      "properties": {},
      "type": "object",
      "id": "SeekResponse",
      "description": "Response for the `Seek` method (this response is empty)."
    },
    "Policy": {
      "type": "object",
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "ModifyPushConfigRequest": {
      "type": "object",
      "description": "Request for the ModifyPushConfig method.",
      "id": "ModifyPushConfigRequest",
      "properties": {
        "pushConfig": {
          "description": "Required. The push configuration for future deliveries. An empty `pushConfig` indicates that the Pub/Sub system should stop pushing messages from the given subscription and allow messages to be pulled and acknowledged - effectively pausing the subscription if `Pull` or `StreamingPull` is not called.",
          "$ref": "PushConfig"
        }
      }
    },
    "MessageStoragePolicy": {
      "description": "A policy constraining the storage of messages published to the topic.",
      "type": "object",
      "id": "MessageStoragePolicy",
      "properties": {
        "allowedPersistenceRegions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of IDs of Google Cloud regions where messages that are published to the topic may be persisted in storage. Messages published by publishers running in non-allowed Google Cloud regions (or running outside of Google Cloud altogether) are routed for storage in one of the allowed regions. An empty list means that no regions are allowed, and is not a valid configuration."
        },
        "enforceInTransit": {
          "type": "boolean",
          "description": "Optional. If true, `allowed_persistence_regions` is also used to enforce in-transit guarantees for messages. That is, Pub/Sub will fail Publish operations on this topic and subscribe operations on any subscription attached to this topic in any region that is not in `allowed_persistence_regions`."
        }
      }
    },
    "Expr": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      },
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "ListTopicSubscriptionsResponse": {
      "type": "object",
      "id": "ListTopicSubscriptionsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Optional. If not empty, indicates that there may be more subscriptions that match the request; this value should be passed in a new `ListTopicSubscriptionsRequest` to get more subscriptions."
        },
        "subscriptions": {
          "description": "Optional. The names of subscriptions attached to the topic specified in the request.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response for the `ListTopicSubscriptions` method."
    },
    "CloudStorage": {
      "properties": {
        "matchGlob": {
          "description": "Optional. Glob pattern used to match objects that will be ingested. If unset, all objects will be ingested. See the [supported patterns](https://cloud.google.com/storage/docs/json_api/v1/objects/list#list-objects-and-prefixes-using-glob).",
          "type": "string"
        },
        "pubsubAvroFormat": {
          "description": "Optional. It will be assumed data from Cloud Storage was written via [Cloud Storage subscriptions](https://cloud.google.com/pubsub/docs/cloudstorage).",
          "$ref": "PubSubAvroFormat"
        },
        "minimumObjectCreateTime": {
          "type": "string",
          "description": "Optional. Only objects with a larger or equal creation timestamp will be ingested.",
          "format": "google-datetime"
        },
        "textFormat": {
          "description": "Optional. Data from Cloud Storage will be interpreted as text.",
          "$ref": "TextFormat"
        },
        "avroFormat": {
          "description": "Optional. Data from Cloud Storage will be interpreted in Avro format.",
          "$ref": "AvroFormat"
        },
        "bucket": {
          "type": "string",
          "description": "Optional. Cloud Storage bucket. The bucket name must be without any prefix like \"gs://\". See the [bucket naming requirements] (https://cloud.google.com/storage/docs/buckets#naming)."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An output-only field that indicates the state of the Cloud Storage ingestion source.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Ingestion is active.",
            "Permission denied encountered while calling the Cloud Storage API. This can happen if the Pub/Sub SA has not been granted the [appropriate permissions](https://cloud.google.com/storage/docs/access-control/iam-permissions): - storage.objects.list: to list the objects in a bucket. - storage.objects.get: to read the objects in a bucket. - storage.buckets.get: to verify the bucket exists.",
            "Permission denied encountered while publishing to the topic. This can happen if the Pub/Sub SA has not been granted the [appropriate publish permissions](https://cloud.google.com/pubsub/docs/access-control#pubsub.publisher)",
            "The provided Cloud Storage bucket doesn't exist.",
[...]
