{
  "rootUrl": "https://pubsublite.googleapis.com/",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/pubsub/lite/docs",
  "name": "pubsublite",
  "version_module": true,
  "canonicalName": "PubsubLite",
  "servicePath": "",
  "schemas": {
    "ListSubscriptionsResponse": {
      "description": "Response for ListSubscriptions.",
      "type": "object",
      "properties": {
        "subscriptions": {
          "description": "The list of subscriptions in the requested parent. The order of the subscriptions is unspecified.",
          "type": "array",
          "items": {
            "$ref": "Subscription"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      },
      "id": "ListSubscriptionsResponse"
    },
    "PartitionConfig": {
      "type": "object",
      "description": "The settings for a topic's partitions.",
      "properties": {
        "count": {
          "description": "The number of partitions in the topic. Must be at least 1. Once a topic has been created the number of partitions can be increased but not decreased. Message ordering is not guaranteed across a topic resize. For more information see https://cloud.google.com/pubsub/lite/docs/topics#scaling_capacity",
          "type": "string",
          "format": "int64"
        },
        "capacity": {
          "description": "The capacity configuration.",
          "$ref": "Capacity"
        },
        "scale": {
          "format": "int32",
          "deprecated": true,
          "type": "integer",
          "description": "DEPRECATED: Use capacity instead which can express a superset of configurations. Every partition in the topic is allocated throughput equivalent to `scale` times the standard partition throughput (4 MiB/s). This is also reflected in the cost of this topic; a topic with `scale` of 2 and count of 10 is charged for 20 partitions. This value must be in the range [1,4]."
        }
      },
      "id": "PartitionConfig"
    },
    "Topic": {
      "description": "Metadata about a topic resource.",
      "type": "object",
      "id": "Topic",
      "properties": {
        "reservationConfig": {
          "$ref": "ReservationConfig",
          "description": "The settings for this topic's Reservation usage."
        },
        "retentionConfig": {
          "description": "The settings for this topic's message retention.",
          "$ref": "RetentionConfig"
        },
        "partitionConfig": {
          "$ref": "PartitionConfig",
          "description": "The settings for this topic's partitions."
        },
        "name": {
          "type": "string",
          "description": "The name of the topic. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}"
        }
      }
    },
    "ComputeTimeCursorResponse": {
      "description": "Response containing the cursor corresponding to a publish or event time in a topic partition.",
      "type": "object",
      "properties": {
        "cursor": {
          "description": "If present, the cursor references the first message with time greater than or equal to the specified target time. If such a message cannot be found, the cursor will be unset (i.e. `cursor` is not present).",
          "$ref": "Cursor"
        }
      },
      "id": "ComputeTimeCursorResponse"
    },
    "Operation": {
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ComputeTimeCursorRequest": {
      "description": "Compute the corresponding cursor for a publish or event time in a topic partition.",
      "properties": {
        "partition": {
          "description": "Required. The partition for which we should compute the cursor.",
          "format": "int64",
          "type": "string"
        },
        "target": {
          "description": "Required. The target publish or event time. Specifying a future time will return an unset cursor.",
          "$ref": "TimeTarget"
        }
      },
      "id": "ComputeTimeCursorRequest",
      "type": "object"
    },
    "TimeTarget": {
      "description": "A target publish or event time. Can be used for seeking to or retrieving the corresponding cursor.",
      "id": "TimeTarget",
      "properties": {
        "publishTime": {
          "description": "Request the cursor of the first message with publish time greater than or equal to `publish_time`. All messages thereafter are guaranteed to have publish times >= `publish_time`.",
          "type": "string",
          "format": "google-datetime"
        },
        "eventTime": {
          "format": "google-datetime",
          "description": "Request the cursor of the first message with event time greater than or equal to `event_time`. If messages are missing an event time, the publish time is used as a fallback. As event times are user supplied, subsequent messages may have event times less than `event_time` and should be filtered by the client, if necessary.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListTopicsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        },
        "topics": {
          "items": {
            "$ref": "Topic"
          },
          "description": "The list of topic in the requested parent. The order of the topics is unspecified.",
          "type": "array"
        }
      },
      "description": "Response for ListTopics.",
      "id": "ListTopicsResponse"
    },
    "ListReservationsResponse": {
      "type": "object",
      "properties": {
        "reservations": {
          "description": "The list of reservation in the requested parent. The order of the reservations is unspecified.",
          "items": {
            "$ref": "Reservation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results."
        }
      },
      "description": "Response for ListReservations.",
      "id": "ListReservationsResponse"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "ComputeHeadCursorRequest": {
      "type": "object",
      "properties": {
        "partition": {
          "type": "string",
          "description": "Required. The partition for which we should compute the head cursor.",
          "format": "int64"
        }
      },
      "id": "ComputeHeadCursorRequest",
      "description": "Compute the current head cursor for a partition."
    },
    "ListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "Capacity": {
      "properties": {
        "subscribeMibPerSec": {
          "type": "integer",
          "format": "int32",
          "description": "Subscribe throughput capacity per partition in MiB/s. Must be >= 4 and <= 32."
        },
        "publishMibPerSec": {
          "description": "Publish throughput capacity per partition in MiB/s. Must be >= 4 and <= 16.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The throughput capacity configuration for each partition.",
      "type": "object",
      "id": "Capacity"
    },
    "CommitCursorRequest": {
      "type": "object",
      "id": "CommitCursorRequest",
      "description": "Request for CommitCursor.",
      "properties": {
        "cursor": {
          "$ref": "Cursor",
          "description": "The new value for the committed cursor."
        },
        "partition": {
          "type": "string",
          "format": "int64",
          "description": "The partition for which to update the cursor. Partitions are zero indexed, so `partition` must be in the range [0, topic.num_partitions)."
        }
      }
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "Cursor": {
      "properties": {
        "offset": {
          "format": "int64",
          "description": "The offset of a message within a topic partition. Must be greater than or equal 0.",
          "type": "string"
        }
      },
      "id": "Cursor",
      "type": "object",
      "description": "A cursor that describes the position of a message within a topic partition."
    },
    "ListTopicSubscriptionsResponse": {
      "type": "object",
      "properties": {
        "subscriptions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The names of subscriptions attached to the topic. The order of the subscriptions is unspecified."
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      },
      "description": "Response for ListTopicSubscriptions.",
      "id": "ListTopicSubscriptionsResponse"
    },
    "DeliveryConfig": {
      "properties": {
        "deliveryRequirement": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The server does not wait for a published message to be successfully written to storage before delivering it to subscribers.",
            "The server will not deliver a published message to subscribers until the message has been successfully written to storage. This will result in higher end-to-end latency, but consistent delivery."
          ],
          "enum": [
            "DELIVERY_REQUIREMENT_UNSPECIFIED",
            "DELIVER_IMMEDIATELY",
            "DELIVER_AFTER_STORED"
          ],
          "type": "string",
          "description": "The DeliveryRequirement for this subscription."
        }
      },
      "description": "The settings for a subscription's message delivery.",
      "id": "DeliveryConfig",
      "type": "object"
    },
    "RetentionConfig": {
      "type": "object",
      "description": "The settings for a topic's message retention.",
      "properties": {
        "perPartitionBytes": {
          "type": "string",
          "description": "The provisioned storage, in bytes, per partition. If the number of bytes stored in any of the topic's partitions grows beyond this value, older messages will be dropped to make room for newer ones, regardless of the value of `period`.",
          "format": "int64"
        },
        "period": {
          "description": "How long a published message is retained. If unset, messages will be retained as long as the bytes retained for each partition is below `per_partition_bytes`.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "RetentionConfig"
    },
    "SeekSubscriptionResponse": {
      "type": "object",
      "description": "Response for SeekSubscription long running operation.",
      "id": "SeekSubscriptionResponse",
      "properties": {}
    },
    "ComputeHeadCursorResponse": {
      "id": "ComputeHeadCursorResponse",
      "properties": {
        "headCursor": {
          "$ref": "Cursor",
          "description": "The head cursor."
        }
      },
      "description": "Response containing the head cursor for the requested topic and partition.",
      "type": "object"
    },
    "Reservation": {
      "id": "Reservation",
      "properties": {
        "name": {
          "description": "The name of the reservation. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
          "type": "string"
        },
        "throughputCapacity": {
          "description": "The reserved throughput capacity. Every unit of throughput capacity is equivalent to 1 MiB/s of published messages or 2 MiB/s of subscribed messages. Any topics which are declared as using capacity from a Reservation will consume resources from this reservation instead of being charged individually.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Metadata about a reservation resource."
    },
    "Subscription": {
      "properties": {
        "deliveryConfig": {
          "description": "The settings for this subscription's message delivery.",
          "$ref": "DeliveryConfig"
        },
        "topic": {
          "description": "The name of the topic this subscription is attached to. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}",
          "type": "string"
        },
        "exportConfig": {
          "$ref": "ExportConfig",
          "description": "If present, messages are automatically written from the Pub/Sub Lite topic associated with this subscription to a destination."
        },
        "name": {
          "description": "The name of the subscription. Structured like: projects/{project_number}/locations/{location}/subscriptions/{subscription_id}",
          "type": "string"
        }
      },
      "id": "Subscription",
      "type": "object",
      "description": "Metadata about a subscription resource."
    },
    "ComputeMessageStatsRequest": {
      "properties": {
        "endCursor": {
          "$ref": "Cursor",
          "description": "The exclusive end of the range. The range is empty if end_cursor <= start_cursor. Specifying a start_cursor before the first message and an end_cursor after the last message will retrieve all messages."
        },
        "startCursor": {
          "description": "The inclusive start of the range.",
          "$ref": "Cursor"
        },
        "partition": {
          "format": "int64",
          "description": "Required. The partition for which we should compute message stats.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ComputeMessageStatsRequest",
      "description": "Compute statistics about a range of messages in a given topic and partition."
    },
    "ListReservationTopicsResponse": {
      "type": "object",
      "description": "Response for ListReservationTopics.",
      "properties": {
        "topics": {
          "type": "array",
          "description": "The names of topics attached to the reservation. The order of the topics is unspecified.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page of results. If this field is omitted, there are no more results.",
          "type": "string"
        }
      },
      "id": "ListReservationTopicsResponse"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "description": "Metadata for long running operations.",
      "properties": {
        "target": {
          "description": "Resource path for the target of the operation. For example, targets of seeks are subscription resources, structured like: projects/{project_number}/locations/{location}/subscriptions/{subscription_id}",
          "type": "string"
        },
        "endTime": {
          "description": "The time the operation finished running. Not set if the operation has not completed.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "description": "The time the operation was created.",
          "format": "google-datetime"
        },
        "verb": {
          "description": "Name of the verb executed by the operation.",
          "type": "string"
        }
      }
    },
    "TopicPartitions": {
      "description": "Response for GetTopicPartitions.",
      "id": "TopicPartitions",
      "type": "object",
      "properties": {
        "partitionCount": {
          "type": "string",
          "description": "The number of partitions in the topic.",
          "format": "int64"
        }
      }
    },
    "CommitCursorResponse": {
      "description": "Response for CommitCursor.",
      "type": "object",
      "properties": {},
      "id": "CommitCursorResponse"
    },
    "ExportConfig": {
      "id": "ExportConfig",
      "description": "Configuration for a Pub/Sub Lite subscription that writes messages to a destination. User subscriber clients must not connect to this subscription.",
      "properties": {
        "desiredState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Messages are being exported.",
            "Exporting messages is suspended.",
            "Messages cannot be exported due to permission denied errors. Output only.",
            "Messages cannot be exported due to missing resources. Output only."
          ],
          "description": "The desired state of this export. Setting this to values other than `ACTIVE` and `PAUSED` will result in an error.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED",
            "PERMISSION_DENIED",
            "NOT_FOUND"
          ]
        },
        "pubsubConfig": {
          "$ref": "PubSubConfig",
          "description": "Messages are automatically written from the Pub/Sub Lite topic associated with this subscription to a Pub/Sub topic."
        },
        "currentState": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "PAUSED",
            "PERMISSION_DENIED",
            "NOT_FOUND"
          ],
          "description": "Output only. The current state of the export, which may be different to the desired state due to errors. This field is output only.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Messages are being exported.",
            "Exporting messages is suspended.",
            "Messages cannot be exported due to permission denied errors. Output only.",
            "Messages cannot be exported due to missing resources. Output only."
          ],
          "type": "string"
        },
        "deadLetterTopic": {
          "type": "string",
          "description": "Optional. The name of an optional Pub/Sub Lite topic to publish messages that can not be exported to the destination. For example, the message can not be published to the Pub/Sub service because it does not satisfy the constraints documented at https://cloud.google.com/pubsub/docs/publisher. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}. Must be within the same project and location as the subscription. The topic may be changed or removed."
        }
      },
      "type": "object"
    },
    "ComputeMessageStatsResponse": {
      "id": "ComputeMessageStatsResponse",
      "properties": {
        "minimumPublishTime": {
          "format": "google-datetime",
          "description": "The minimum publish timestamp across these messages. Note that publish timestamps within a partition are not guaranteed to be non-decreasing. The timestamp will be unset if there are no messages.",
          "type": "string"
        },
        "minimumEventTime": {
          "type": "string",
          "description": "The minimum event timestamp across these messages. For the purposes of this computation, if a message does not have an event time, we use the publish time. The timestamp will be unset if there are no messages.",
          "format": "google-datetime"
        },
        "messageCount": {
          "format": "int64",
          "type": "string",
          "description": "The count of messages."
        },
        "messageBytes": {
          "description": "The number of quota bytes accounted to these messages.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Response containing stats for messages in the requested topic and partition.",
      "type": "object"
    },
    "ListPartitionCursorsResponse": {
      "id": "ListPartitionCursorsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "partitionCursors": {
          "type": "array",
          "description": "The partition cursors from this request.",
          "items": {
            "$ref": "PartitionCursor"
          }
        }
      },
      "type": "object",
      "description": "Response for ListPartitionCursors"
    },
    "PubSubConfig": {
      "properties": {
        "topic": {
          "description": "The name of the Pub/Sub topic. Structured like: projects/{project_number}/topics/{topic_id}. The topic may be changed.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configuration for exporting to a Pub/Sub topic.",
      "id": "PubSubConfig"
    },
    "SeekSubscriptionRequest": {
      "id": "SeekSubscriptionRequest",
      "description": "Request for SeekSubscription.",
      "properties": {
        "timeTarget": {
          "$ref": "TimeTarget",
          "description": "Seek to the first message whose publish or event time is greater than or equal to the specified query time. If no such message can be located, will seek to the end of the message backlog."
        },
        "namedTarget": {
          "enum": [
            "NAMED_TARGET_UNSPECIFIED",
            "TAIL",
            "HEAD"
          ],
          "enumDescriptions": [
            "Unspecified named target. Do not use.",
            "Seek to the oldest retained message.",
            "Seek past all recently published messages, skipping the entire message backlog."
          ],
          "type": "string",
          "description": "Seek to a named position with respect to the message backlog."
        }
      },
      "type": "object"
    },
    "PartitionCursor": {
      "type": "object",
      "description": "A pair of a Cursor and the partition it is for.",
      "properties": {
        "partition": {
          "description": "The partition this is for.",
          "format": "int64",
          "type": "string"
        },
        "cursor": {
          "description": "The value of the cursor.",
          "$ref": "Cursor"
        }
      },
      "id": "PartitionCursor"
    },
    "ReservationConfig": {
      "description": "The settings for this topic's Reservation usage.",
      "id": "ReservationConfig",
      "properties": {
        "throughputReservation": {
          "description": "The Reservation to use for this topic's throughput capacity. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "id": "pubsublite:v1",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "description": "",
  "revision": "20260828",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "version": "v1",
  "ownerName": "Google",
  "mtlsRootUrl": "https://pubsublite.mtls.googleapis.com/",
  "basePath": "",
  "resources": {
    "admin": {
      "resources": {
        "projects": {
          "resources": {
            "locations": {
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                          "description": "The name of the operation resource.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "path": "v1/admin/{+name}",
                      "id": "pubsublite.admin.projects.locations.operations.get",
                      "httpMethod": "GET",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "The name of the operation resource to be deleted.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                        }
                      },
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                      "path": "v1/admin/{+name}",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                      "id": "pubsublite.admin.projects.locations.operations.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "httpMethod": "DELETE"
                    },
                    "list": {
                      "response": {
                        "$ref": "ListOperationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "parameters": {
                        "returnPartialSuccess": {
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "description": "The standard list filter.",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "The standard list page size."
                        },
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "description": "The name of the operation's parent resource.",
                          "required": true
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "The standard list page token."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/admin/{+name}/operations",
                      "httpMethod": "GET",
                      "id": "pubsublite.admin.projects.locations.operations.list",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations"
                    },
                    "cancel": {
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.operations.cancel",
                      "path": "v1/admin/{+name}:cancel",
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource to be cancelled.",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "CancelOperationRequest"
                      }
                    }
                  }
                },
                "subscriptions": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/admin/{+parent}/subscriptions",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "description": "Required. The parent whose subscriptions are to be listed. Structured like `projects/{project_number}/locations/{location}`."
                        },
                        "pageSize": {
                          "description": "The maximum number of subscriptions to return. The service may return fewer than this value. If unset or zero, all subscriptions for the parent will be returned.",
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "A page token, received from a previous `ListSubscriptions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscriptions` must match the call that provided the page token.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "pubsublite.admin.projects.locations.subscriptions.list",
                      "httpMethod": "GET",
                      "description": "Returns the list of subscriptions for the given project.",
                      "response": {
                        "$ref": "ListSubscriptionsResponse"
                      }
                    },
                    "delete": {
                      "description": "Deletes the specified subscription.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "description": "Required. The name of the subscription to delete.",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}",
                      "httpMethod": "DELETE",
                      "id": "pubsublite.admin.projects.locations.subscriptions.delete",
                      "path": "v1/admin/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Subscription"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "description": "The name of the subscription. Structured like: projects/{project_number}/locations/{location}/subscriptions/{subscription_id}",
                          "location": "path"
                        },
                        "updateMask": {
                          "description": "Required. A mask specifying the subscription fields to change.",
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}",
                      "httpMethod": "PATCH",
                      "id": "pubsublite.admin.projects.locations.subscriptions.patch",
                      "description": "Updates properties of the specified subscription.",
                      "request": {
                        "$ref": "Subscription"
                      },
                      "path": "v1/admin/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "id": "pubsublite.admin.projects.locations.subscriptions.create",
                      "description": "Creates a new subscription.",
                      "path": "v1/admin/{+parent}/subscriptions",
                      "parameters": {
                        "subscriptionId": {
                          "description": "Required. The ID to use for the subscription, which will become the final component of the subscription's name. This value is structured like: `my-sub-name`.",
                          "type": "string",
                          "location": "query"
                        },
                        "skipBacklog": {
                          "type": "boolean",
                          "description": "If true, the newly created subscription will only receive messages published after the subscription was created. Otherwise, the entire message backlog will be received on the subscription. Defaults to false.",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "required": true,
                          "description": "Required. The parent location in which to create the subscription. Structured like `projects/{project_number}/locations/{location}`."
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Subscription"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "Subscription"
                      }
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/admin/{+name}",
                      "response": {
                        "$ref": "Subscription"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the subscription whose configuration to return.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$"
                        }
                      },
                      "description": "Returns the subscription configuration.",
                      "id": "pubsublite.admin.projects.locations.subscriptions.get"
                    },
                    "seek": {
                      "description": "Performs an out-of-band seek for a subscription to a specified target, which may be timestamps or named positions within the message backlog. Seek translates these targets to cursors for each partition and orchestrates subscribers to start consuming messages from these seek cursors. If an operation is returned, the seek has been registered and subscribers will eventually receive messages from the seek cursors (i.e. eventual consistency), as long as they are using a minimum supported client library version and not a system that tracks cursors independently of Pub/Sub Lite (e.g. Apache Beam, Dataflow, Spark). The seek operation will fail for unsupported clients. If clients would like to know when subscribers react to the seek (or not), they can poll the operation. The seek operation will succeed and complete once subscribers are ready to receive messages from the seek cursors for all partitions of the topic. This means that the seek operation will not complete until all subscribers come online. If the previous seek operation has not yet completed, it will be aborted and the new invocation of seek will supersede it.",
                      "request": {
                        "$ref": "SeekSubscriptionRequest"
                      },
                      "path": "v1/admin/{+name}:seek",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:seek",
                      "id": "pubsublite.admin.projects.locations.subscriptions.seek",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The name of the subscription to seek.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "reservations": {
                  "methods": {
                    "delete": {
                      "id": "pubsublite.admin.projects.locations.reservations.delete",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}",
                      "description": "Deletes the specified reservation.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the reservation to delete. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                          "location": "path"
                        }
                      },
                      "path": "v1/admin/{+name}",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Empty"
                      }
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListReservationsResponse"
                      },
                      "id": "pubsublite.admin.projects.locations.reservations.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Returns the list of reservations for the given project.",
                      "path": "v1/admin/{+parent}/reservations",
                      "parameters": {
                        "pageToken": {
                          "description": "A page token, received from a previous `ListReservations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReservations` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The parent whose reservations are to be listed. Structured like `projects/{project_number}/locations/{location}`.",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum number of reservations to return. The service may return fewer than this value. If unset or zero, all reservations for the parent will be returned.",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations"
                    },
                    "create": {
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent location in which to create the reservation. Structured like `projects/{project_number}/locations/{location}`.",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+$"
                        },
                        "reservationId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. The ID to use for the reservation, which will become the final component of the reservation's name. This value is structured like: `my-reservation-name`."
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "pubsublite.admin.projects.locations.reservations.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "path": "v1/admin/{+parent}/reservations",
                      "description": "Creates a new reservation.",
                      "response": {
                        "$ref": "Reservation"
                      },
                      "request": {
                        "$ref": "Reservation"
                      }
                    },
                    "get": {
                      "description": "Returns the reservation configuration.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the reservation whose configuration to return. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Reservation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}",
                      "path": "v1/admin/{+name}",
                      "id": "pubsublite.admin.projects.locations.reservations.get",
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}",
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.reservations.patch",
                      "path": "v1/admin/{+name}",
                      "description": "Updates properties of the specified reservation.",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "Reservation"
                      },
                      "response": {
                        "$ref": "Reservation"
                      },
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "Required. A mask specifying the reservation fields to change."
                        },
                        "name": {
                          "description": "The name of the reservation. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                          "location": "path"
                        }
                      }
                    }
                  },
                  "resources": {
                    "topics": {
                      "methods": {
                        "list": {
                          "response": {
                            "$ref": "ListReservationTopicsResponse"
                          },
                          "parameters": {
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "A page token, received from a previous `ListReservationTopics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReservationTopics` must match the call that provided the page token."
                            },
                            "name": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/reservations/[^/]+$",
                              "type": "string",
                              "required": true,
                              "description": "Required. The name of the reservation whose topics to list. Structured like: projects/{project_number}/locations/{location}/reservations/{reservation_id}"
                            },
                            "pageSize": {
                              "type": "integer",
                              "description": "The maximum number of topics to return. The service may return fewer than this value. If unset or zero, all topics for the given reservation will be returned.",
                              "location": "query",
                              "format": "int32"
                            }
                          },
                          "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/reservations/{reservationsId}/topics",
                          "id": "pubsublite.admin.projects.locations.reservations.topics.list",
                          "description": "Lists the topics attached to the specified reservation.",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/admin/{+name}/topics"
                        }
                      }
                    }
                  }
                },
                "topics": {
                  "resources": {
                    "subscriptions": {
                      "methods": {
                        "list": {
                          "httpMethod": "GET",
                          "description": "Lists the subscriptions attached to the specified topic.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "ListTopicSubscriptionsResponse"
                          },
                          "path": "v1/admin/{+name}/subscriptions",
                          "id": "pubsublite.admin.projects.locations.topics.subscriptions.list",
                          "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}/subscriptions",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "description": "Required. The name of the topic whose subscriptions to list.",
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$"
                            },
                            "pageSize": {
                              "format": "int32",
                              "description": "The maximum number of subscriptions to return. The service may return fewer than this value. If unset or zero, all subscriptions for the given topic will be returned.",
                              "type": "integer",
                              "location": "query"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "A page token, received from a previous `ListTopicSubscriptions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTopicSubscriptions` must match the call that provided the page token.",
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "methods": {
                    "getPartitions": {
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}/partitions",
                      "id": "pubsublite.admin.projects.locations.topics.getPartitions",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "description": "Required. The topic whose partition information to return.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "TopicPartitions"
                      },
                      "description": "Returns the partition information for the requested topic.",
                      "path": "v1/admin/{+name}/partitions"
                    },
                    "list": {
                      "response": {
                        "$ref": "ListTopicsResponse"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Returns the list of topics for the given project.",
                      "id": "pubsublite.admin.projects.locations.topics.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "A page token, received from a previous `ListTopics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTopics` must match the call that provided the page token.",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum number of topics to return. The service may return fewer than this value. If unset or zero, all topics for the parent will be returned."
                        },
                        "parent": {
                          "description": "Required. The parent whose topics are to be listed. Structured like `projects/{project_number}/locations/{location}`.",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+$"
                        }
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics",
                      "path": "v1/admin/{+parent}/topics"
                    },
                    "create": {
                      "request": {
                        "$ref": "Topic"
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/admin/{+parent}/topics",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent location in which to create the topic. Structured like `projects/{project_number}/locations/{location}`.",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+$"
                        },
                        "topicId": {
                          "location": "query",
                          "description": "Required. The ID to use for the topic, which will become the final component of the topic's name. This value is structured like: `my-topic-name`.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Topic"
                      },
                      "httpMethod": "POST",
                      "id": "pubsublite.admin.projects.locations.topics.create",
                      "description": "Creates a new topic.",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "pubsublite.admin.projects.locations.topics.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Topic"
                      },
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}",
                      "path": "v1/admin/{+name}",
                      "description": "Returns the topic configuration.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the topic whose configuration to return.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "location": "path"
                        }
                      }
                    },
                    "patch": {
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}",
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "pubsublite.admin.projects.locations.topics.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/admin/{+name}",
                      "request": {
                        "$ref": "Topic"
                      },
                      "description": "Updates properties of the specified topic.",
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "description": "Required. A mask specifying the topic fields to change.",
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "description": "The name of the topic. Structured like: projects/{project_number}/locations/{location}/topics/{topic_id}",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Topic"
                      }
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.admin.projects.locations.topics.delete",
                      "flatPath": "v1/admin/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}",
                      "path": "v1/admin/{+name}",
                      "description": "Deletes the specified topic.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the topic to delete."
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "topicStats": {
      "resources": {
        "projects": {
          "resources": {
            "locations": {
              "resources": {
                "topics": {
                  "methods": {
                    "computeMessageStats": {
                      "request": {
                        "$ref": "ComputeMessageStatsRequest"
                      },
                      "path": "v1/topicStats/{+topic}:computeMessageStats",
                      "response": {
                        "$ref": "ComputeMessageStatsResponse"
                      },
                      "parameterOrder": [
                        "topic"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "pubsublite.topicStats.projects.locations.topics.computeMessageStats",
                      "parameters": {
                        "topic": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "description": "Required. The topic for which we should compute message stats.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1/topicStats/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}:computeMessageStats",
                      "description": "Compute statistics about a range of messages in a given topic and partition."
                    },
                    "computeHeadCursor": {
                      "path": "v1/topicStats/{+topic}:computeHeadCursor",
                      "id": "pubsublite.topicStats.projects.locations.topics.computeHeadCursor",
                      "parameterOrder": [
                        "topic"
                      ],
                      "flatPath": "v1/topicStats/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}:computeHeadCursor",
                      "request": {
                        "$ref": "ComputeHeadCursorRequest"
                      },
                      "parameters": {
                        "topic": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The topic for which we should compute the head cursor.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "required": true
                        }
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "ComputeHeadCursorResponse"
                      },
                      "description": "Compute the head cursor for the partition. The head cursor's offset is guaranteed to be less than or equal to all messages which have not yet been acknowledged as published, and greater than the offset of any message whose publish has already been acknowledged. It is zero if there have never been messages in the partition.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "computeTimeCursor": {
                      "response": {
                        "$ref": "ComputeTimeCursorResponse"
                      },
                      "request": {
                        "$ref": "ComputeTimeCursorRequest"
                      },
                      "httpMethod": "POST",
                      "id": "pubsublite.topicStats.projects.locations.topics.computeTimeCursor",
                      "parameterOrder": [
                        "topic"
                      ],
                      "description": "Compute the corresponding cursor for a publish or event time in a topic partition.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "topic": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/topics/[^/]+$",
                          "required": true,
                          "description": "Required. The topic for which we should compute the cursor."
                        }
                      },
                      "flatPath": "v1/topicStats/projects/{projectsId}/locations/{locationsId}/topics/{topicsId}:computeTimeCursor",
                      "path": "v1/topicStats/{+topic}:computeTimeCursor"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "cursor": {
      "resources": {
        "projects": {
          "resources": {
            "locations": {
              "resources": {
                "subscriptions": {
                  "methods": {
                    "commitCursor": {
                      "path": "v1/cursor/{+subscription}:commitCursor",
                      "description": "Updates the committed cursor.",
                      "httpMethod": "POST",
                      "flatPath": "v1/cursor/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:commitCursor",
                      "id": "pubsublite.cursor.projects.locations.subscriptions.commitCursor",
                      "parameterOrder": [
                        "subscription"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "CommitCursorResponse"
                      },
                      "parameters": {
                        "subscription": {
                          "type": "string",
                          "location": "path",
                          "description": "The subscription for which to update the cursor.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "CommitCursorRequest"
                      }
                    }
                  },
                  "resources": {
                    "cursors": {
                      "methods": {
                        "list": {
                          "response": {
                            "$ref": "ListPartitionCursorsResponse"
                          },
                          "id": "pubsublite.cursor.projects.locations.subscriptions.cursors.list",
                          "parameters": {
                            "pageSize": {
                              "format": "int32",
                              "description": "The maximum number of cursors to return. The service may return fewer than this value. If unset or zero, all cursors for the parent will be returned.",
                              "location": "query",
                              "type": "integer"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "A page token, received from a previous `ListPartitionCursors` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPartitionCursors` must match the call that provided the page token.",
                              "type": "string"
                            },
                            "parent": {
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                              "description": "Required. The subscription for which to retrieve cursors. Structured like `projects/{project_number}/locations/{location}/subscriptions/{subscription_id}`.",
                              "required": true
                            }
                          },
                          "path": "v1/cursor/{+parent}/cursors",
                          "description": "Returns all committed cursor information for a subscription.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "flatPath": "v1/cursor/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}/cursors"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://pubsublite.googleapis.com/",
  "title": "Pub/Sub Lite API"
}